[2019-11-07 14:59] StevenTCramer commented on #16821
@mkArtakMSFT @javiercn Could we reopen this?

@mrpmorris example shows how the suggested method will also keep invalid references which is what Javier calls "not safe".  So can we consider other options?

[2019-11-07 15:10] Tragetaschen opened #16894 "Explicit client-side areas for JavaScript-based DOM manipulation with Blazor (server/client)"
I have a Blazor page where I client-side-render SVG for graphs. I use JavaScript interop to push the raw data to the client and then use d3 to generate graphs, axes, and most importantly animations. All this is done based on an initial skeleton SVG where then `path`s are filled, `text` elements are created and so on. This works today, but it isn't compatible with the documentation, which currently

[2019-11-07 15:15] pranavkm commented on #4953
AFAIK, this should only be for 500 `StatusCodeActionResult` returned from an MVC action. For arbitrary 500s in your application, you could configure the error handler to return `Problem` responses - https://docs.microsoft.com/en-us/aspnet/core/web-api/handle-errors?view=aspnetcore-3.0#exception-handler.

@RehanSaeed would you mind filing a separate issue for the 406 scenario? We'll need to do some

[2019-11-07 16:01] SteveSandersonMS commented on #14698
Serializing large blocks of data will be slow. If you need a faster way of transferring the data, look into lower-level unmarshalled interop techniques. For example, https://github.com/SteveSandersonMS/BlazorInputFile/blob/master/BlazorInputFile/wwwroot/inputfile.js#L50. Beware that this is not a technique we currently support, so it's possible there will be breaking changes to these internal APIs

[2019-11-07 16:01] #14698 closed

[2019-11-07 16:03] esmeraldahs opened #16895 "Error after upgrading from 2.2 to 3.0. Routevaluedictinoary could not be found"
Hello,
I have upgraded my solution from .net core 2.2 to 3.0 following the guide here https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio#framework-reference

After upgrading i  am getting this error:
Reference to type 'RouteValueDictionary' claims it is defined in 'Microsoft.AspNetCore.Routing.Abstractions', but it could not be found.
I already r

[2019-11-07 16:09] adrianwright109 commented on #16891
I think your `appsettings.json` is missing logging configuration for the `EventLog`.

My `appsettings.json` has a section for `EventLog` and my WorkerService is successfully logging to the Application EventLog:

[code]

[2019-11-07 16:15] SteveSandersonMS commented on #9960
I suspect we wouldn't want to change the incoming code paths to become async, since they are right in the middle of rendering which aims to be as synchronous as possible.

~~What we might do instead is have something like a `List<Task> PendingAsyncDisposeTasks` on the `Renderer`, and add the returned tasks to it. Then callers could optionally do an `await Task.WhenAll(PendingAsyncDisposeTasks)` af

[2019-11-07 16:17] ajai1109 opened #16896 "Large PDF base64string not loading embed in Blazor app"
### Describe the bug
Large PDF base64string not loading in embed tag inside Blazor application. Small size PDF showing perfectly. If the pdf size is 10 MB or more it is not showing.

### To Reproduce
1. Convert large pdf to bytes,
Byte[] bytes = File.ReadAllBytes("specify large pdf path");
2. Convert bytes to base64string
base64Str = Convert.ToBase64String(bytes, 0, bytes.Length);
base64Pdf = "dat

[2019-11-07 16:27] SteveSandersonMS commented on #10647
It sounds like your library has a reference to some other component instances. Is that right? Could you briefly summarise how the API for you library looks? I'm unsure what the scenario really looks like, because I don't know what useful thing you would be able to do with a reference to another component instance anyway.

[2019-11-07 16:30] BrennanConroy commented on #16598
I see, so you're blocking the `on` callback with a call to `stop`.

That might not work in the Java client right now. I would suggest either launching a task and running `stop` in that, or kicking off something else that runs `stop` and unblock the `on` callback as soon as possible.

Marking as investigate for the team to take a look at if this is working in the Java client.

[2019-11-07 16:32] Tragetaschen opened #16897 "Blazor JS interop and client-side DOM lifetime"
### Is your feature request related to a problem? Please describe.
I have client-side rendered graphs in a Blazor application where the raw data is sent using JavaScript interop and then converted to SVG elements using d3. I want to re-render my graph when the browser window is resized.

The problem is that the `"resize"` event is provided globally on `window`. In order for my Blazor component's c

[2019-11-07 16:39] johnwu1114 commented on #16891
[code]
Ref: https://github.com/aspnet/Extensions/blob/master/src/Hosting/Hosting/src/Host.cs#L102

[2019-11-07 16:40] Tratcher commented on #16892
Please clarify what does happen.

[2019-11-07 16:44] doggy8088 commented on #16891
@adrianwright109 @johnwu1114  It because any log provider should have a default minimum level defined that should be `Information` level by the docs said. Can I just skip the specific definition for `EventLog` for logging?

[2019-11-07 16:45] doggy8088 commented on #16891
@johnwu1114 Oh, you've got the point. Thanks! 😃 👍

[2019-11-07 16:45] #16891 closed

[2019-11-07 16:50] BrennanConroy commented on #16875
Somehow you have a reference to a 2.0.0 package?

You can view the project.assets.json to see where dependencies are coming from.

[2019-11-07 16:50] bulutkartal opened #16898 "Blazor Table toggle to Tr data-target not working properly"
My regular bootstrap table which works fine;

[code]

When I add it to blazor I changed it as follow;

[code]

When I click on tr it opens all the all rows instead of targeting the clicked one. data-target is not working.

[2019-11-07 16:51] stantoxt opened #16899 "How to use a customized ConnectionHandler to force tcp disconnected after a long time without any action"
Hi,when using builder.UseConnectionHandler<MyTcpConnectionHandler>(), I want to forcefully stop tcp connection which has no action for a long time.How can I achieve this?

[2019-11-07 16:54] anurse commented on #16795
@davidfowl meant a Tokio transport would be a good candidate for it's own separate community project. We don't intend to include or support an alternate transport in the main product at this time. Introducing a new transport into the main repo is quite a significant amount of work for us as we'd be signing up to maintain it fully ourselves.

Feel free to start up such a project and we'd be happy t

[2019-11-07 16:57] anurse commented on #16873
(@davidfowl failing at reading comprehension in https://github.com/aspnet/AspNetCore/pull/16853#issuecomment-550808037)

We certainly could. We also talked about the fact that if we double down on transitioning tests that are *working well in Helix* to use Helix *exclusively* we might gain some reliability here. We have a hunch (with some anecdata to back it up) that because AzDO builds run a whol

[2019-11-07 17:02] BrennanConroy commented on #16882
That is definitely unexpected behavior, you should look into what is happening there.

Depending on how the client disconnects this can be the expected behavior.

If the client disconnects without notifying the server (i.e. going through a tunnel), then the server has to rely on the keep alive timeout (30 seconds by default) to determine that the connection is gone. And if the client comes back an

[2019-11-07 17:12] javiercn commented on #16893
@kmuthukumar23 thanks for contacting us.

No, it's not possible as the call needs to be sent through the SignalR connection and there's no way to make that synchronous.

[2019-11-07 17:12] #16893 closed

[2019-11-07 17:13] javiercn commented on #16898
@bulutkartal thanks for contacting us.

Could you provide a minimal repro project so that we can help you with your issue?

[2019-11-07 17:16] Pibe93 commented on #16664
The version I'm using is as follows:
Visual Studio Community 2019 Preview
16.3.0 Preview 3.0

[2019-11-07 17:20] javiercn commented on #16897
@Tragetaschen thanks for contacting us.

I think what you are doing is just fine. The first OnAfterRender can be used for initialization and IDisposable can be used for removal. As an alternative, you can perform an initial call inside the OnAfterRender and setup a mutation observer so that when your root element gets removed it unregisters from all the events.

That way your cleanup logic is setu

[2019-11-07 17:20] Pibe93 commented on #16664
I need to use the Visual Studio Community version 16.3.8?

[2019-11-07 17:22] javiercn commented on #16896
@ajai1109 Thanks for contacting us.

I think you might be running into limitations with how big data-urls can be in the browser?

[2019-11-07 17:23] HaoK commented on #16873
Yep you got it @anurse , currently our Helix jobs run each unit test project by itself on a dedicated machine, so each test runs in isolation, with the tradeoff that we spend more time waiting for helix machines than running tests typically.

[2019-11-07 17:25] javiercn commented on #16895
@esmeraldahs thanks for contacting us.

Can you try and remove 3rd party packages and see if that fixes the issue? It is likely a 3rd party package that needs to be upgraded.

[2019-11-07 17:29] HaoK commented on #16873
FYI, longer term we might want to repackage things a bit since we've been getting some pushback about how we aren't utilizing machines efficiently this way.  It might be better if we aggregated things so that each feature area has one single helix work item that ran all of its related tests, instead of having every test project get a dedicated machine

[2019-11-07 17:31] esmeraldahs commented on #16895
Sorry but in this scenario which is considered a 3rd party package?

[2019-11-07 17:32] TheCamel commented on #16598
Yes, I would say that the Stop is blocked because in the On callback... :-)
I have made a change with a watching thread to surround the problem.

Have you seems my request about the cookies ? it is really blocking me in the migration  #16847
bye

[2019-11-07 17:33] jcemoller commented on #14391
Bumping this again @mkArtakMSFT. We've been live with the workaround for some time and do not notice any side effects, but would be nice to know if it's a bug or docs issue - for the latter would be great if the docs were updated to reflect the change in 3.0 compared to 2.2.

[2019-11-07 17:33] javiercn commented on #16897
Closing this issue as the question has been answered.

[2019-11-07 17:33] #16897 closed

[2019-11-07 17:38] javiercn commented on #16895
@esmeraldahs Something that is not part of ASP.NET Core

[2019-11-07 17:43] #13587 closed

[2019-11-07 17:46] ricardoromaobr opened #16900 "OnAfterRenderAsync Component method is not called when it is used on AspNetCore Razor Page"
### Describe the bug
I create a simple component on RCL to be reuseable, but when I use the component on Razor Page
application the OnAfterRenderAsync or OnAfterRender is called.

### To Reproduce

Just create an component on RCL and and create an Razor Page application and use that component on any Page. And put a break point on the override method and you will see that the
method is not called.

[2019-11-07 17:49] MaherJendoubi commented on #16892
![image](https://user-images.githubusercontent.com/1798510/68413796-418e0900-018f-11ea-9e96-e8ceecbf956d.png)

[2019-11-07 17:49] BrennanConroy commented on #16847
I'm curious why you want to set the cookies explicitly? Normally, you get cookies automatically from the server/proxy that you connect to and they should flow without manual intervention between the client and server.

Could you explain your scenario and why you're wanting to manually set cookies?

[2019-11-07 17:49] Rick-Anderson commented on #14391
@hishamco please review.

[2019-11-07 17:52] anurse commented on #16873
Hrm, that may bring us back to the problems we're seeing in AzDO. Perhaps there's a compromise that makes sense though, bundling a few test projects together instead of doing each individual one, but also not just running **all the tests** in one batch.

[2019-11-07 17:52] MaherJendoubi commented on #16892
@Tratcher The secure connection failed. It happened in different browsers : Firefox, Chrome, Edge and IE.

[2019-11-07 17:57] blowdart commented on #16892
From the earlier tweet thread on this connection resets in all browsers.

https://twitter.com/maherjend/status/1192426810014871552?s=20

![EIxZ2dRWwAcUSqU](https://user-images.githubusercontent.com/796298/68414386-f2bb8180-0144-11ea-98b1-c5c6f922af10.jpg)

[2019-11-07 17:57] anurse commented on #16577
[code]

Looks like these are indeed failing, but I don't see any error details. cc @sebastienros @BrennanConroy

[2019-11-07 17:57] Tratcher commented on #16892
Anything in the VS output window?
If you put a breakpoint in Program.cs does it get hit?

[2019-11-07 17:57] blowdart commented on #16892
I'm wondering if IIS Express isn't serving up HTTPS

[2019-11-07 17:57] HaoK commented on #16873
Yeah we don't need to run them in parallel on helix, since we are running all the feature areas at once, we could just run each test project by itself per machine

[2019-11-07 17:58] MaherJendoubi commented on #16892
![image](https://user-images.githubusercontent.com/1798510/68414453-81092500-0190-11ea-8564-918bd89f0da5.png)

This happens only with IIS Express. It works if I use Kestrel.

[2019-11-07 17:59] BrennanConroy commented on #16664
I'm not sure, it probably doesn't hurt to update.

[2019-11-07 17:59] Tratcher commented on #16892
Ok, how about the windows event viewer?

[2019-11-07 18:01] MaherJendoubi commented on #16892
I put breakpoints in the Startup.cs and in the Program.cs. It is not hitten.

[2019-11-07 18:02] HaoK commented on #16873
I'll file an issue for this helix enhancement as it will take some new functionality/complexity in the helix scripts/build stuff

[2019-11-07 18:03] anurse commented on #16873
The, somewhat higher-priority, item I'd like to look at is to start migrating some test suites to be run exclusively in Helix. In general we think there are test suites that are more reliable when run in Helix than in AzDO (because they run in separate processes rather than overloading a single process with a huge number of tests).

[2019-11-07 18:05] MaherJendoubi commented on #16892
![image](https://user-images.githubusercontent.com/1798510/68414934-7bf8a580-0191-11ea-9b8c-0ad6dcb6f021.png)

[2019-11-07 18:10] BrennanConroy commented on #16577
Might be an issue with recent changes to the benchmark server. Will follow up with seb.

[2019-11-07 18:10] blowdart commented on #16892
Aha

ID: 15021, Description: "An error occurred while using SSL configuration for endpoint 0.0.0.0:44300. The error status code is contained within the returned data."

If you open a command prompt and run `netsh http show sslcert > certconfig.txt` you'll get a nice text file with configuration information in it. Open that file in your favourite text editor and search for `0.0.0.0:44300`

If the c

[2019-11-07 18:13] syndicatedshannon commented on #11050
I ended up here because of the:
`IServiceProvider ConfigureServices(IServiceCollection services);`
signature. But, it took a bit of effort. The analyzer response from
`svc.BuildServiceProvider();`
It sent me on a goose chase, until I came across: David's comment here: https://github.com/aspnet/AspNetCore/issues/14587#issuecomment-537963678
The comment was helpful, but avoiding the chase somehow wo

[2019-11-07 18:16] MaherJendoubi commented on #16892
I find the following :
![image](https://user-images.githubusercontent.com/1798510/68415619-0d1c4c00-0193-11ea-8edb-4b0bd16b6862.png)

[2019-11-07 18:18] HaoK opened #16901 "[Helix] Add ability to run aggregate test projects per payload (for feature areas)"
Today we basically have a 1:1 mapping between helix work items and test project publish directories.

This has the downside of not utilizing helix machines well as we end up waiting for machines longer than we are running tests.

One possible improvement would be to add the ability to aggregate all of a tests per feature area instead, for example, we could aggregating and publishing all tests unde

[2019-11-07 18:21] HaoK commented on #16873
I filed https://github.com/aspnet/AspNetCore/issues/16901

Yeah seems reasonable to just add a reverse skipOnHelix attribute?  Maybe `[HelixOnly]` that you would slap on azdo starved tests ?

[2019-11-07 18:23] HaoK commented on #16873
Although now that we are running helix as a required PR check, we could actually consider only running SkipOnHelix tests across the board for the azdo jobs now right?

[2019-11-07 18:24] ryanbrandenburg commented on #9960
Yeah, the real problem seems to start with `RenderHandle.Render` needing to turn into `RenderHandle.RenderAsync` After that all the instances of `IComponent` which call `RenderHandle.Render` inside their `Attach` method are in trouble, and I suspect that's a deal-breaker.

Steve's suggestion sounds reasonable, though I'd have to poke around  a bit deeper to understand the details. The other idea I

[2019-11-07 18:25] syndicatedshannon commented on #11050
I guess I'm saying, in addition to the issue this topic has centered around, I'm also interested in the original title :D . I just want to make sure that part of the issue isn't lost.

[2019-11-07 18:26] blowdart commented on #16892
OK. Now we need to figure out if that certificate exists.

In a powershell prompt type the following

[code]
replacing **** with the thumbprint/hacage you have in your screenshot.

[2019-11-07 18:36] anurse commented on #16662
Something interesting I found in the repro:

1. I can't launch it at all (even In-Proc), I get an error in VS:

![Dialog box. Title is "Microsoft Visual Studio". Content is "An error occurred attempting to determine the process id of EDC.WebApi.exe which is hosting your application. An error occurred while sending the request.
". There is a single OK button.](https://user-images.githubusercontent.

[2019-11-07 18:37] anurse commented on #16606
Closing this as we haven't heard from you and generally close issues with no response after some time. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-11-07 18:37] #16606 closed

[2019-11-07 18:38] anurse commented on #15422
Duping to https://github.com/aspnet/AspNetCore/issues/16577 (that one is later, but I just want to get these down to one and that's the one I added details to).

[2019-11-07 18:38] #15422 closed

[2019-11-07 18:41] bulutkartal commented on #16898
I created a [fiddle](https://blazorfiddle.com/s/vbxk3tgm)

when you click on first table's first row it also opens the second table's first row as well. Even the Ids and data-target values are different.

[2019-11-07 18:47] anurse commented on #16875
@ScarlettCode do you have references to both 3.0 and 2.0 packages with the `Microsoft.AspNetCore` or `Microsoft.Extensions` prefix.

[2019-11-07 18:57] mrpmorris commented on #10647
Hi @SteveSandersonMS

I've not written it yet. The idea is to create a reactive library for Blazor. Subscriptions need to be manually unsubscribed, so if I create an extension that takes a ComponentBase I can subscribe to an OnDisposed event from there automatically cancel the subscription. It'd need to be an event type that can accept multiple observers (standard .net event I expect).

[2019-11-07 18:59] MaherJendoubi commented on #16892
Apologies for my late reply.
![image](https://user-images.githubusercontent.com/1798510/68418725-114b6800-0199-11ea-85c6-e8bdcf11cac6.png)

[2019-11-07 19:01] blowdart commented on #16892
Is there one on LocalMachine\My too?

[2019-11-07 19:07] MaherJendoubi commented on #16892
No!
![image](https://user-images.githubusercontent.com/1798510/68419292-37253c80-019a-11ea-9d06-4444de907f9a.png)

[2019-11-07 19:14] mrpmorris commented on #15437
@javiercn

Okay. These should be changed in future though as they are against the standards used in the rest of the framework.

What about questions 3,4,5,6?

[2019-11-07 19:19] mrpmorris commented on #16571
I think you'll have to make something much more specific. I doubt anyone will spend time trying to work out if the problem even exists within Blazor rather than your code. The fact you can't reproduce it without introducing your code suggests it might not be.

[2019-11-07 19:51] rynowak commented on #15116
The reason why we didn't do a value provider for headers is that:
- value providers are global
- HTTP headers use a bunch of names that are common nouns like "Host"

The result would be having model fields populated with protocol-related details, which would be genuinely surprising.

This is just the background on why didn't implement header binding this way, I 💯 agree we should make this better,

[2019-11-07 19:57] StevenTCramer commented on #6774
@rynowak  This was closed back in March understandable so, but that was a whole 8 months ago now :)

"We may do this in the future"

So I am wondering if the future is now and we can consider reopening this?

[2019-11-07 20:00] syndicatedshannon commented on #8847
Wondering what it 'should' return.

- https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/DELETE

https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html

The MDN doc is more opinionated, but if I follow it, then from void-returning controller methods, I'd expect to return 204s. However, they don't, and I don't see an easy way to configure it.

[2019-11-07 20:00] anurse commented on #15021
Closing this as we haven't heard from you and generally close issues with no response after some time. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-11-07 20:00] #15021 closed

[2019-11-07 21:04] bulutkartal commented on #16898
I made it work by using JSInterop.

`window.ToggleJsFunctions = {
    elementId: function (eId) {
        var element = document.getElementById(eId);
        element.classList.toggle("collapse");
    }
};`

[2019-11-07 21:09] cmoncure commented on #9939
Guid (or UUID) is used by every modern web app on the face of the planet.  It should have first class support everywhere it's possible to use it.

Currently this has to be worked around by adding redundant properties to your model and explicitly invoking Convert on the getter and setter every time you want to use InputSelect based on an object's Guid.

`    class Model : MyObject
    {
        pub

[2019-11-07 21:18] jasonleenaylor opened #16904 "RegularExpression validation does not handle \p{L} properly"
### Describe the bug
We are using the RegularExpressionAttribute to validate a Name field and want to handle more than ASCII characters. Using the regular expression @"[\p{L}\s-'\.]+" works to match the strings we need. Example: "François O'Brian-McKay Jr."

This works fine in a C# unit test but when deployed on the server it only validates the 'L' character and the punctuation.

### To Reproduce

[2019-11-07 21:18] cmoncure opened #16905 "Blazor: Support de/serialization of Dictionary<Guid, T>"
### Is your feature request related to a problem? Please describe.
Blazor's HttpClient json helper methods do not allow de/serialization of Dictionary types other than `Dictionary<string, T>`.  This prevents me from doing obvious thing such as returning `Dictionary<Guid, T>` from my API without tedious conversions to and from `String`, wasting programmer and CPU time.

### Describe the solution yo

[2019-11-07 21:25] blowdart commented on #16892
Hmm. There is on mine, but I don't know if it matters. @shirhatti any ideas?

[2019-11-07 21:31] jasonleenaylor commented on #16904
I suspect that ASP.Net Core is using ECMAScript compliant matching options on the attribute with no way for a developer to override that.

[2019-11-07 21:31] anisite commented on #2642
Hi, I have this issue with .net core 3.0, why don't simply add a condition to skip the string.format when no arguments?

[2019-11-07 22:04] Tratcher commented on #16892
Sounds like it needs an install repair.

[2019-11-07 22:08] anurse commented on #15416
We did include a few more default claims in 3.0 which may have pushed your cookie above the 4K per-domain limit. If you want to remove some claims, you can use the `ClaimActions` option to remove some claims. See our docs for some details on how to do this: https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/additional-claims?view=aspnetcore-3.0#map-user-data-keys-and-creat

[2019-11-07 22:08] MaherJendoubi commented on #16892
install repair of VS? Did you succeed to reproduce it or it is only local to my machine?
BTW, I am using the following Windows 10 version :
![image](https://user-images.githubusercontent.com/1798510/68431877-888df580-01b3-11ea-8cfb-db8fa5115dd8.png)

[2019-11-07 22:09] anurse commented on #16699
Closing as the question has been answered.

[2019-11-07 22:09] #16699 closed

[2019-11-07 22:10] PureKrome commented on #4953
Cheers @pranavkm ! Okay - so nothing new has changed and the initial question still remains a valid one.

We understand that we can do some custom code to handle this stuff ... but the root question remains valid, IMO. So far, what I'm reading is this (unfortunately):

- If you return a 5xx/4xx from your ActionMethod, then a `ProblemDetails` will be returned.
- Otherwise, it won't -AND- we (Micros

[2019-11-07 22:15] anurse commented on #16648
There should already be a runtime check if the endpoint has Auth metadata but the middleware didn't run, right? What's the request here?

[2019-11-07 22:18] anurse commented on #16694
Right now, your best bet would be to grab the content from GitHub and manually insert it into your app. You should be able to do this with *just* the `AccountController`, as long as you make sure it's in the `AzureADB2C` area, rather than having to take the entire UI. If that doesn't work you probably have to take the entire UI as code and not use the package.

We've already got plans to rethink t

[2019-11-07 22:18] #16694 closed

[2019-11-07 22:29] markerikson opened #16907 "Convert React+Redux template to use official Redux Toolkit package"
Hi, I'm a Redux maintainer.

The React+Redux template currently uses a "hand-written" approach for the Redux logic, such as this snippet:

https://github.com/aspnet/AspNetCore/blob/025476f31ee229b8e65e400d29c5606d992f023c/src/ProjectTemplates/Web.Spa.ProjectTemplates/content/ReactRedux-CSharp/ClientApp/src/store/Counter.ts#L15-L48

We now have [an official addon package called Redux Toolkit](https

[2019-11-07 22:29] aateeque opened #16908 "Add a `InAllOfGroups(string group1, string group2)`"
It would be really useful to have an `And` like operator on groups where you can send a message to clients in a number of groups: user intersection in groups

[2019-11-07 22:45] mklvcm opened #16909 "Unable to increase concurrent requests in ASP.NET Core"
I have a file upload method in ASP.NET Core 2.2, based on HttpSys self-hosted. I have a load-testing utility that starts 10 concurrent connections and uploads big files. It works fine on my workstation (24 CPU cores) - all 10 requests are executed in parallel.

When I put it on a small VM (2 cores, Win Server 2012R2) it queues 10 request and then executes them 2 at a time.

My question: how to inc

[2019-11-07 22:46] kofifus commented on #16882
Ok in that case I will close this now and do some more investigation around the connection failure issue
Thank you!

[2019-11-07 22:46] #16882 closed

[2019-11-07 22:52] khellang commented on #4953
This is because the behavior is MVC-specific. If a path doesn't match any routes, MVC won't even touch the request and fall through. Without middleware to handle this on the way back, there's no way to be consistent here...

[2019-11-07 22:55] benaadams commented on #16909
Is your load tester a .NET Framework app? You may need to increase the `ServicePointManager.DefaultConnectionLimit`

https://docs.microsoft.com/en-us/dotnet/api/system.net.servicepointmanager.defaultconnectionlimit

[2019-11-07 22:55] MaherJendoubi commented on #16892
@Tratcher What you said is totally true. After an install repair, I get this popup
![image](https://user-images.githubusercontent.com/1798510/68434715-f2110280-01b9-11ea-87b3-de98e3acbe17.png)
It works like a charm now. Thanks a lot for your help.

[2019-11-07 22:57] shirhatti commented on #16892
Shoot. I was just about to ask you share your cert. I'm curious as to why it was invalid 🤷‍♂

[2019-11-07 23:03] MaherJendoubi commented on #16892
Sorry for that, I was too fast! I did many VS Preview updates maybe that corrupted the SSL tooling.

[2019-11-07 23:04] PureKrome commented on #4953
Yep correct! that's the _technical_ reason why this is _currently_ occurring. I'm hoping the product team can answer _why_ they prefer this hybrid result and explain the reasoning for it. I'm not hating, just trying to learn and understand the decision, here.

[2019-11-07 23:06] MaherJendoubi commented on #16892
@shirhatti how can I help you even after this install repair? Are there some specific logs or files you need to investigate? Or it's too late?

[2019-11-07 23:19] anurse commented on #16598
Let's take a look and see if calling `stop` in an `on` callback is working.

Please do post a runnable sample @TheCamel . Even if it's "just a few projects" it's essential that we see the full context in order to understand what's going on.

[2019-11-07 23:20] anurse commented on #16577
Will leave this to check next triage. Should be fixed soon.

[2019-11-07 23:22] anurse commented on #15404
The work items here:

* [ ] Add a cert validation callback to Java client
* [ ] Investigate adding a callback to NodeJS client?
* [ ] Add a first-class cert validation callback to .NET client

[2019-11-07 23:26] anurse commented on #15404
I actually don't think this is a feasible thing right now. We could look at it later. The problem is that WebSockets uses a completely different API.

[2019-11-07 23:28] MaherJendoubi commented on #16892
@shirhatti Unfortunately, I cannot reproduce it again and the cert is valid now:
![image](https://user-images.githubusercontent.com/1798510/68436558-a14fd880-01be-11ea-943a-7a533de08149.png)

[2019-11-07 23:28] hishamco commented on #14391
If you looked to the Localization.StarterWeb in the entropy repo `UseAuthentication()` called after `UseRequestLocalization()`

@jcemoller do you have a repo that reproduce the issue, so I can have a look

[2019-11-07 23:32] ryanbrandenburg commented on #16884
I don't think this is a bug so much as it is a difference in behavior between Newtonsoft.Json and System.Text.Json (what gets used if you don't do `AddNewtonsoftJson()`).  Basically Newtonsoft is a bit more permissive and will try to do some cleaning up for you. If your int is 0 that's `false`, otherwise it's `true`. String `"true"` becomes `true`, `"false"` becomes `false`, anything else throws a

[2019-11-07 23:32] #16884 closed

[2019-11-07 23:35] anurse commented on #16604
Something does seem to be messed up with the site extension. It seems to be missing 3.0 content as well. cc @davidfowl

[2019-11-07 23:38] anurse commented on #16702
Seems like a good idea.

[2019-11-07 23:39] anurse commented on #16819
This is essentially the same problem as #15011 . Closing this as a duplicate of that.

[2019-11-07 23:39] #16819 closed

[2019-11-07 23:43] jkotalik commented on #16604
Yeah both the 3.0 and 3.1 are missing content. They only have ones for 2.1 and 2.2.

@DanielStout5 I don't see why a 2.x application would stop logging though; the only thing that seems weird is that you are targeting 2.1-preview2

[2019-11-07 23:48] anurse commented on #16604
Going to dupe this over to https://github.com/aspnet/AspNetCore/issues/15381 . It's a very similar issue. We need to crack open the site extension and figure out what's going on.

[2019-11-07 23:48] #16604 closed

[2019-11-07 23:49] anurse commented on #14547
This is likely part of https://github.com/aspnet/AspNetCore/issues/15381 (the issue refers to 5.0 but there's a 3.0 problem as well).

[2019-11-07 23:53] shirhatti commented on #16892
@MaherJendoubi Thanks for offering to help! Unfortunately, I was interested in the bad certificate which is irrecoverable.

[2019-11-08 00:08] HaoK opened #16910 "Look into not running tests in both helix / non helix"
Per discussion in build meeting today

Now that helix is a required PR check, we should look into not running tests that are covered in helix, in the normal azdo test jobs.

We might be able to use the SkipOnHelix attribute (or the lack thereof), to accomplish this

[2019-11-08 00:09] HaoK commented on #16873
@anurse we discussed this a bit in the build meeting today, and I created https://github.com/aspnet/AspNetCore/issues/16910 to look into seeing if we can stop tests that are happy in helix entirely.

[2019-11-08 00:57] aklopfer commented on #16637
We're fixing the issue, we'll have and ETA soon

[2019-11-08 01:26] wsimf opened #16916 "IdentityServerJwt is not supported error"
When I try to use the application profile 'IdentityServerJwt', the app exits on startup complaining that the application profile 'IdentityServerJwt' is not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21cb7455-3305-9316-5440-bdc22947a82d
* Version Independent ID: 137d4b94-7b26-3911-b22d-42c754a95fc1
* Cont

[2019-11-08 02:32] jkotalik opened #16912 "Constantly failing dotnet watch tests on MacOS"
RestartProcessThatTerminatesAfterFileChange, RunsWithDotnetWatchEnvVariable, ChangeExcludedFile
[code]

[2019-11-08 02:50] BrennanConroy commented on #16912
Wasn't there an error about a missing SDK?

[2019-11-08 04:11] quoctuancqt commented on #13709
Hi Dan,

I tried your suggestion, but it doesn't work, there is nothing happen when I come to an authorized page. Seems like "NotAuthorized" only displays content instead of a component.

Thanks.

![image](https://user-images.githubusercontent.com/26458668/68449071-4a76ed00-0218-11ea-959e-10fbbfd871c8.png)

![image](https://user-images.githubusercontent.com/26458668/68449079-54005500-0218-11ea-9a4

[2019-11-08 04:12] nxtx opened #16913 "How to setup integration tests so that RabbitMQ service is discover-able?"
I have a very basic API test, defined as it follows.

[code]

The application has a RabbitMQ service, defined as it follows in the `Startup` class:

[code]

Whole application is dockerized, i.e., I have a `docker-compose` that starts the services (including `RabbitMQ`).

When I debug the application (via hitting the `docker-compose` button on the VisualStudio 2019), it can connect and communicate

[2019-11-08 04:14] jkotalik commented on #16912
[code]

[2019-11-08 05:25] ajai1109 commented on #16896
@javiercn I have added a sample project in the below link for your reference. Please let me know if any more info needed.
https://github.com/ajai1109/blazorpdfupload.git

[2019-11-08 06:23] miaojiuchen commented on #16684
+1

[2019-11-08 06:32] cremor commented on #8847
I agree. For Web API 2 (the old one, before .NET Core was a thing) it was even [documented](https://docs.microsoft.com/en-us/aspnet/web-api/overview/getting-started-with-aspnet-web-api/action-results) that void returns 204. But it seems like this was changed in .NET Core so that void/Task now returns 200.

[2019-11-08 07:28] HaoK commented on #4248
Closing this in favor of smaller tracking items now that helix is part of the required checks for builds

[2019-11-08 07:28] #4248 closed

[2019-11-08 07:45] mynkow commented on #12932
This happens to me as well. The scenario is that I have a project on core 2.2 and a branch updating to 3.0. When I switch branches this happens.

[2019-11-08 07:57] tauke1 opened #16915 "Blazor. Razor runtime compilation not works."
### Describe the bug
Hello to everyone! As i said in title of this issue, razor runtime compilation not works for Blazor server app.

### To Reproduce
1) Create Blazor App
2) Install Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation nuget package, version: 3.0.0
3) Add  ```services.AddRazorPages().AddRazorRuntimeCompilation();  ``` to Startup.cs on ConfigureServices function
4) Try to change razor

[2019-11-08 08:10] esmeraldahs commented on #16895
Ah okay, thank you. Will do and let you know.

[2019-11-08 08:32] mihaibozesan123 commented on #16884
@ryanbrandenburg Actually Newtonsoft.Json is less permissive, while  is actually a whole lot more permissive. I don't understand how you don't consider this a bug. I mean passing a type for another and not getting an error and actually converting to the receiver's type default value instead is so wrong. I would think this "permissivivty" would subject an API to security concerns.

I assume you hav

[2019-11-08 08:36] mihaibozesan123 commented on #16884
Can you at least escalate this to the right people and have them assess the situation instead of bluntly saying "not our fault", "not our responsibility", "not a bug"?

[2019-11-08 09:01] Narnain commented on #15144
That looks easier to read and for me solves the same problem.

[2019-11-08 09:05] javiercn commented on #16884
@ryanbrandenburg Can you check if this is a change in existing behavior?

[2019-11-08 09:25] javiercn commented on #16916
@wsimf thanks for contacting us.

Can you provide more details about your environment so that we can help you troubleshoot this? Ideally a minimal repro project that illustrates the issue you are having.

[2019-11-08 09:29] ScarlettCode commented on #16875
Thanks @BrennanConroy it looks like Rollbar (https://www.nuget.org/packages/Rollbar/3.5.0) pulls in Microsoft.AspNetCore.Http (>= 2.0.0) which was the cause of the issue.

Do I need to get Rollbar to update to v3 in order to use these two libraries together?

[2019-11-08 09:37] javiercn commented on #16915
@tauke1 thanks for contacting us.

Razor runtime compilation is an MVC feature, not a supported Blazor feature. I'm closing this as it is by design.

[2019-11-08 09:37] #16915 closed

[2019-11-08 09:41] javiercn commented on #16900
@ricardoromaobr thanks for contacting us.

The current behavior is by design. OnAfterRender only gets called when the Browser notifies the server that it has rendered the app. With static rendering (razor pages) that never happens, so the method never gets called.

[2019-11-08 09:41] #16900 closed

[2019-11-08 09:44] MarcusKohnert commented on #16662
@anurse Commenting out the rewrite section did not fix the problem on Windows Server 2012R2. 😕 Same behaviour as before.

But I can confirm, that it fixes the VS Debugging Experience with IIS Express profile.
(I almost never use the IIS Express Profile that's why I haven't noticed yet.)

[2019-11-08 09:44] javiercn commented on #16913
@nxtx thanks for contacting us.

Integration tests run completely in memory, and don't open ports or anything similar. If you want to test that type of behavior, a full E2E test where you launch all the services is more appropriate.

If you want to write integration tests with WAF for this scenario, I would suggest you mock the pieces regarding RabbitMQ so that you can simply provide a replacement

[2019-11-08 09:44] #16913 closed

[2019-11-08 09:46] javiercn commented on #16904
@jasonleenaylor thanks for contacting us.

I believe this is the behavior in System.ComponentModel.DataAnnotations which we don't alter. I suggest you file an issue in the [dotnet/corefx](https://github.com/dotnet/corefx) repo to follow up with them and see if there is a solution.

[2019-11-08 09:46] #16904 closed

[2019-11-08 09:47] tauke1 commented on #16915
It is so bad, because every fix in blazor page would require project rebuilding, blazor is still raw product
Thanks for the answer!

[2019-11-08 09:47] esmeraldahs commented on #16895
If i remove those packages, i would have to comment 50% of my code.
I am thinking that probably  ReflectionIT.Mvc.Paging is not compatible with .net core 3.0

[2019-11-08 09:48] javiercn commented on #16907
@markerikson thanks for contacting us.

@SteveSandersonMS do you have thoughts about this?

We will likely not tackle this ourselves for the time being, but if we agree that this is the right path, we might consider accepting a PR with the change/update.

[2019-11-08 10:08] TheCamel commented on #16847
Not only "set", also "get"

We use the hub to allow a html+javascript application (APP1) to communicate with another local java application(APP2).

The workflow is :
APP1 start a new group on the hub with a guid, here the RP elected one web server and set a cookie in the response ( APP1 extract the cookie)
APP1 start the java APP2 with the guid and the cookie;
APP2 set the cookie and join the same

[2019-11-08 10:09] SteveSandersonMS commented on #16907
@markerikson Really glad you've got in touch! We've been coming to the realization that for these SPA framework templates, they would be much better maintained if they were owned not by the ASP.NET Core team but rather by representatives from each of the relevant SPA framework communities. The scenario you're giving here of Redux changing its recommendation to use the new RSK is a prime example of

[2019-11-08 10:17] SteveSandersonMS commented on #10647
OK, well please let us know when you have a design in mind for your library, and then we can evaluate how much we think the requirements for this kind of API will likely generalize to other use cases and libraries too.

Currently I'm unsure how good an API you can build using an extension method on ComponentBase, considering how even calling it from itself would look really weird (you'd need `this

[2019-11-08 10:25] SteveSandersonMS commented on #16783
There's a bit too much going on in `demo.zip` for me to narrow in on any specific thing causing a problem.

@jingzheshan I would recommend that you keep comparing your implementation against @javiercn's until you track down what specific difference means that his works and yours doesn't. If at that stage you think it's a bug in the framework, please describe which specific API call is producing th

[2019-11-08 10:30] SteveSandersonMS commented on #16894
If your code doesn't modify a specific subtree in the document, then Blazor shouldn't attempt to update it further either.

So it doesn't seem like we need any feature to stop Blazor from modifying a subtree, since it's up to your code whether or not it does.

If I'm misunderstanding the scenario and the reason why that's not sufficient, please let me know!

[2019-11-08 10:30] bobbytreed opened #16917 "System.IO.FileNotFoundException: Could not load file or assembly 'netstandard, Version=2.1.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'. The system cannot find the file specified."
Building an Azure Function v3 with .netcoreapp3.0 causes an error in microsoft.net.sdk.functions\1.0.30-beta2\build\Microsoft.NET.Sdk.Functions.Build.targets(41,5)

[2019-11-08 10:51] enetstudio opened #16918 "How can I remove a child component dynamically"
I'm adapting the [TabSet sample by Steve Anderson](https://gist.github.com/SteveSandersonMS/f10a552e1761ff759b1631d81a4428c3)  to display a collection of child components ( Tab objects that display a small window with some content, and a click button to remove the clicked window Tab). I've made some changes to the app sample by the maestro and this works great, but alas, I'm not able to devise a w

[2019-11-08 10:52] Tragetaschen commented on #16894
I know it doesn't happen today and it's unlikely that this implementation detail changes in the future. However right now, this looks like I'm relying on this specific implementation and the documentation tries to drive me away from doing what I'm doing.

I'm looking for ways to make the status quo feel/look/actually more supported.

[2019-11-08 10:57] SteveSandersonMS commented on #16894
OK, thanks for clarifying. Mutating the DOM is a subtle area that the docs rightly warn people away from because you really have to be careful. It's the same with other SPA frameworks.

[2019-11-08 10:57] #16894 closed

[2019-11-08 11:01] cedemax opened #16919 "Ignore certificate errors in development (SignalR)"
### The problem currently
I'm running service A under IIS on my windows dev PC, and service B on Kestrel in a linux docker container on the same PC. I'm trying to connect to a SignalR hub on service A from service B, but service B does not trust the self-signed certificate of service A. Everything works normally if I run B outside the container.

### Proposed solution:
I would like to be able to j

[2019-11-08 11:02] Tragetaschen commented on #16894
Hrmpf. I have presented a way to make it less subtle and you haven't commented on that.

I guess I just have to live with changing subtleties in future releases then—very frustrating.

[2019-11-08 11:06] Greatsamps commented on #11347
i am also having this problem, once again an unload + reload works

[2019-11-08 11:07] Stamo-Gochev opened #16920 "Allow custom localization of blazor components from an external library"
### Is your feature request related to a problem? Please describe.
If an app uses a third-party blazor components library (i.e. a library that I have no control over), it might be necessary to customize some of the localization strings that the library provides out of the box.

For example, consider the following repo:
https://github.com/Stamo-Gochev/blazor-test-localization/tree/external-lib

A [

[2019-11-08 11:14] SteveSandersonMS commented on #16894
Sorry, it wasn't my intention to be frustrating! I'm happy to talk more.

In general there's a real cost to adding to the framework's concept count. While this may be a bonus in your scenario, it costs literally every other Blazor developer because they need to know this feature exists and what it means. Building a usable framework means trading off these concerns, and in particular not letting it

[2019-11-08 11:24] javiercn commented on #16821
We've discussed this a bit more within the team and we still think this is not something we are planning to do.

* This is something developers can implement themselves if they have/to need/to.
  * Just pass a class and modify the class when the element changes if you want to follow that approach (not recommended as per the point below).
* The current solution of passing a class/func to the child/

[2019-11-08 11:31] javiercn commented on #16920
@Stamo-Gochev thanks for contacting us.

I don't think that is something specific to Blazor or that we can generally do.

I think its the library authors to provide a good way to localize their library if they choose to do so, in a way that other developers do it. For example, ASP.NET Core Identity offers a class with all the messages that are meant to be user facing and that developers can custom

[2019-11-08 11:33] Tragetaschen commented on #16894
Thanks for that, really appreciated! I understand the concept-count argument and indeed the Angular application I'm porting didn't have those guarantees either—neither in code nor in documentation.

Would you say it's feasible to extend the documentation with patterns that are safe for client-side DOM manipulation?

You basically commented like that over in the docs comment. Currently, it's "There

[2019-11-08 11:33] javiercn commented on #16917
@bobbytreed thanks for contacting us.

@bradygaster @danroth27 @anurse Do you know what folks to loop into this?

[2019-11-08 11:37] SteveSandersonMS commented on #16894
Yes, that sounds like a good strategy to me! Filed https://github.com/aspnet/AspNetCore.Docs/issues/15603

[2019-11-08 11:47] pranavkm commented on #12932
@mynkow could you please file a new issue with a minimal repro? Thanks.

[2019-11-08 11:49] Tratcher commented on #16909
The server doesn't have a parallelism limit. What client are you using and how?

[2019-11-08 11:50] nurlanmmikayilov opened #16921 "restore command in root folder of Asp Net Core project fails"
Hi,I have cloned aspnetcore project  and followed the instruction here in GitHub step-by-step but when ran restore command in the root directory of project I got the following errors.

C:\Users\Nurlan\.nuget\packages\microsoft.dotnet.arcade.sdk\1.0.0-beta.19517.3\tools\Tools.proj : error : Unable to loc
ate the .NET Core SDK. Check that it is installed and that the version specified in global.json

[2019-11-08 11:50] pranavkm commented on #8847
@syndicatedshannon \ @cremor this sounds different to the issue at hand. Please file a separate issue.

@AlexejTimonin could you outline your proposal here before you send a PR? Thanks.

[2019-11-08 11:50] Tratcher commented on #16909
Where do you see this queue?

[2019-11-08 11:59] pranavkm commented on #4953
@PureKrome it's a non-trivial amount of work to move `ProblemDetails` and everything else required to configure and serialize it closer to the heart of the stack. We would need very compelling reasons to invest in something like this which we just haven't seen as yet.

[2019-11-08 12:03] javiercn commented on #16921
@nurlanmmikayilov thanks for contacting us.

Can you try cleaning the repository with git clean -xdff and re-running it?

@aspnet/build cn you help out here?

[2019-11-08 12:17] pranavkm commented on #16880
@ts46235 you should be able to configure `ApiBehaviorOptions` as part of Startup to provide a different message. Would that resolve your issue?

[2019-11-08 12:18] javiercn commented on #16905
@cmoncure thanks for contacting us.

This area is going to be subject to big changes in the future. We've provided these methods as a stop gap for allowing people to build their apps, but ultimately we don't plan to ship this methods ourselves, as these HttpClient extensions should be part of the framework as a whole and not a Blazor specific concept.

If Dictionary<Guid, T> is not something that

[2019-11-08 12:32] pranavkm commented on #16648
@anurse we have an analyzer that does a build-time check for this. It works for the most use cases, but chained calls ended up producing false positives. For 3.1, the analyzer no-ops when it thinks it's seeing chained calls. The suggestion was to fix this in 5.0.

AFAIK, I'm fairly neutral about this issue. Startup analyzers are meant to work in the most common scenarios and aren't meant to be a p

[2019-11-08 12:33] Stamo-Gochev commented on #16920
@javiercn Thanks for the clarification.
Can you share a link to this class, so I can check if the approach can be used?

[2019-11-08 12:36] nurlanmmikayilov commented on #16921
javiercn thanks for help but it didn't solve the issue.After doing what you suggested i got the following error.

Building of C# project is enabled and has dependencies on NodeJS projects. Building of NodeJS projects is enabled since node is detected in C:\Program Files.                                                                                   Detected JDK in C:\Program Files\Java\jdk1.8.0

[2019-11-08 12:48] javiercn commented on #16920
This is an example:
https://github.com/aspnet/AspNetCore/blob/master/src/Identity/Extensions.Core/src/IdentityErrorDescriber.cs

The idea here is you derive from the class and override the error messages you want, and register the implementation in DI so that it gets applied transparently.

[2019-11-08 12:54] pranavkm commented on #16884
@JamesNK do you happen to know if this is JSON.NET's default behavior? MVC"s default JSON serializer settings haven't changed significantly since forever. We did update to a newer version of JSON.NET in 3.0, but I suspect this behavior isn't new in 12.0

@mihaibozesan123 you could consider using JSON.NET specifically for JSON patch responses while using System.Text.Json if that suits your requirem

[2019-11-08 12:57] roji opened #16922 "Analyzer processing of generated code causes significant slowdown in build"
After investigating the slow build times of an EF Core sample project (https://github.com/aspnet/EntityFrameworkCore/issues/18618), it turned out the slowdown is coming from the ASP.NET analyzers. EF Core migrations are generated code which particularly affect analysis time - as a general rule it seems that analyzers should opt out of generated code analysis (via [ConfigureGeneratedCodeAnalysis](h

[2019-11-08 12:57] roji commented on #16922
/cc @rainersigwald @Pilchie @mkArtakMSFT @ajcvickers

[2019-11-08 13:08] mihaibozesan123 commented on #16884
@pranavkm Tried the solution at the provided link. Not working. The formatters and validators from Microsoft.AspNetCore.Mvc.NewtonsoftJson are still applied.

[2019-11-08 13:15] aidbal commented on #16871
I am not sure if it belongs here, but if you leave the code as the following:
[code]
it fails with Cannot access a closed stream exception. If you remove 'using' statement and leave the code with possible memory leak, it works
[code]

[2019-11-08 13:18] miaojiuchen commented on #16684
my hack solution:
1. In eng/common/tools.ps1 Line 275
add code to modify install version
[code]

2. You may also need to copy
**C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Microsoft\VC**
folder to
{your aspnetcore source repo dir}\.tools\msbuild\16.3.0-alpha\tools\MSBuild\Microsoft\VC

3. You may also need to install VC++ toolkits in VS installer

[2019-11-08 13:20] javiercn commented on #16896
@ajai1109 thanks for the repro.

At the very least, this is a very bad idea, as its allocating a huge string in memory. When I tried this on plain HTML this doesn't work on most browsers, so I'm concluding this is a browser limitation and not a Blazor specific issue.

See below how firefox is the only one capable of producing some output.
![notLoading](https://user-images.githubusercontent.com/699

[2019-11-08 13:20] #16896 closed

[2019-11-08 13:22] javiercn commented on #16783
We are closing this issue for the time being. If as @SteveSandersonMS mentions you end up tracking down the root cause and you think it's a bug, feel free to comment on the issue and we'll re-evaluate.

Thanks!

[2019-11-08 13:22] #16783 closed

[2019-11-08 13:23] javiercn commented on #16905
I'm closing this issue as the question has been answered.

[2019-11-08 13:23] #16905 closed

[2019-11-08 13:23] javiercn commented on #16920
I'm closing this issue as the question has been answered.

[2019-11-08 13:23] #16920 closed

[2019-11-08 13:30] pranavkm commented on #16905
This is a dup of https://github.com/dotnet/corefx/issues/40120.

@ahsonkhan \ @steveharter was this enhancement ported to 3.1?

[2019-11-08 13:31] nphmuller opened #16923 "Running dotnet-watch on a new project based on SPA template causes corrupt node_modules directory"
It seems `dotnet watch` corrupts the `node_modules` folder when ran on a freshly created project based on a SPA template. `dotnet watch` aborts abruptly because it observes too many changed files, which probably causes the current `npm install` command to be aborted abruptly. This in turn causes a corrupt `node_modules` folder, making many `npm` commands fail:
- `npm start`: `'rimraf' is not recog

[2019-11-08 13:33] pranavkm commented on #16871
@aidbal you should configure `StreamReader` to not close the stream being read on `Dispose`: https://docs.microsoft.com/en-us/dotnet/api/system.io.streamreader.-ctor?view=netframework-4.8#System_IO_StreamReader__ctor_System_IO_Stream_System_Text_Encoding_System_Boolean_System_Int32_System_Boolean_

[2019-11-08 13:33] #16871 closed

[2019-11-08 13:41] pranavkm commented on #16889
Parking this as an enhancement in 5.0. The 406 is returned as part of `ObjectResultExecutor`: https://github.com/aspnet/AspNetCore/blob/4c67855ccfb77e4e06087aa7d61f1d4894716af4/src/Mvc/Mvc.Core/src/Infrastructure/ObjectResultExecutor.cs#L150-L154.

[2019-11-08 13:49] TheCamel commented on #16598
have added you to acces a private repo,

srlo.sln to create a hub

srlo.plugin is the eclipse/maven project

tell me if any trouble

[2019-11-08 13:49] Pibe93 commented on #16664
I used visual studio enterprise latest version, the restore was successful but when I go to the Crankier folder and execute the command I always get an error on the SDK version:
**A compatible installed .NET Core SDK for global.json version [5.0.100-alpha1-015536] from [C:\Users\MarcoG\source\repos\AspNetCore\global.json] was not found
Install the [5.0.100-alpha1-015536] .NET Core SDK or update [C

[2019-11-08 13:50] pranavkm commented on #16618
@ts46235 `ReadAsAsync` uses Json.NET under the covers. In 2.x, `ProblemDetails` was annotated with JSON.NET specific attributes that allowed round-tripping without configuring it. I n 3.0, you have to configure `HttpClient` to use the converters I listed in the previous comment. The gist of it should look something like this:

[code]

An alternative would be to read the content as string and parsi

[2019-11-08 13:51] #15414 closed

[2019-11-08 14:05] pranavkm commented on #14796
@nefcanto thanks for your issue report. We made some changes to the SDK to avoid copying reference assemblies, required for runtime compilation, where it previously always copied it. Typically projects targeting netcoreapp2.x should remain unaffected, but we assume that these projects target the Web or the Razor SDK since that's what we recommend targeting. In your case, I notice there are a coupl

[2019-11-08 14:05] benaadams commented on #16909
Note the .NET Framework `ServicePointManager.DefaultConnectionLimit` is for **outbound** connections to a single server, which is why I suggested looking at the load-tester settings; not sure if/how its used in .NET Core.

ASP.NET Core should be happy with as many inbound connections as you give it. (Though you can use the [ConcurrencyLimiter middleware](https://github.com/aspnet/AspNetCore/tree/m

[2019-11-08 14:05] #15165 closed

[2019-11-08 14:10] pranavkm commented on #13272
As @steveharter pointed out in the linked issue, this actually works with System.Text.Json. We haven't had much feedback for this with Json.NET, so doing nothing here seems like a reasonable course of action.

[2019-11-08 14:10] #13272 closed

[2019-11-08 14:25] Tragetaschen commented on #5501
Would it be possible to add extension points that make [custom events](https://developer.mozilla.org/en-US/docs/Web/Guide/Events/Creating_and_triggering_events) available?

[2019-11-08 14:29] davidbaxterbrowne commented on #10448
No.  The threading has always happened at a higher level.  WinForms and WPF have a single UI thread, and things like Forms and ViewModels that you can hang a long-lived DbContext from.  ASP.NET has the Request scope, and ASP.NET guarantees that the a request-scoped DbContext is not simultaneously accessed from multiple threads.

[2019-11-08 14:39] javiercn commented on #16923
@nphmuller thanks for contacting us.

You can decide what files to watch. See https://github.com/aspnet/AspNetCore.Docs/blob/master/aspnetcore/tutorials/dotnet-watch.md#customize-files-list-to-watch and add the appropriate element to your csproj file

[2019-11-08 14:39] #16923 closed

[2019-11-08 14:44] stefanjm commented on #4824
Running into the same problem with SDK 2.2.401.

[2019-11-08 14:48] syndicatedshannon commented on #8847
Sure. Thanks for the feedback.

[2019-11-08 14:51] HoundThe opened #16924 "OIDC Authentication, using absolute redirect (callback) uri or changing request scheme"
Hi, I am trying to use Authentication.OpenIdConnect lib to authenticate with oidc protocol in my webapplication, the application runs in http, because the https, ssl part is handled by the provider that is the middle man between my server and users. But, when I do have my server running in http, the redirect url that is used in the requests starts with http and not https, so I cannot use it.

Exam

[2019-11-08 14:52] javiercn commented on #16895
@esmeraldahs

I've tracked this down. Seems like it was missing a typeforward during the RTM time-frame, but that it was added recently. https://github.com/aspnet/AspNetCore/blob/master/src/Http/Routing.Abstractions/ref/Microsoft.AspNetCore.Routing.Abstractions.Manual.cs

I believe this will be available in the next patch release. If you update to the latest 3.1 preview that will likely fix the is

[2019-11-08 14:52] #16895 closed

[2019-11-08 14:59] syndicatedshannon opened #16925 "void controller method returns status 200 instead of 204"
In ASP.NET Core 3.0, Controller methods with a void return produce an HTTP status code 200. That is probably imprecise, and may also be a defect or undocumented breaking change if different than prior versions.

@cremor [stated on a related thread](https://github.com/aspnet/AspNetCore/issues/8847#issuecomment-551403850) that this is a change from prior versions of ASP.NET.

[RFC 2616 on Status Cod

[2019-11-08 15:05] borahanarslan opened #16926 "How to Asp.net Core 3.0 User Identity can reproduce"
How to reproduce user manager without using dependency injection Asp.net Core User İdentity. Gives error when generated as follows

`public UserManager<ApplicationUser> _userManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new DatabaseContext()),null,null, null, null, null, null, null, null);
`
![Hata](https://user-images.githubusercontent.com/14363652/68486483-33ed8780-02

[2019-11-08 15:41] syndicatedshannon commented on #8847
Done. Now, back to my original comment, I'm not sure the entire issue as reported here is accurate:

After doing more research to open issue #16925 , I'm pretty confident that Ok() should return 204; as should Ok(null), *unless* the value null or an empty serialized object is transmitted in the response, or perhaps for HTML responses, where null might be represented by an empty but present body.

[2019-11-08 15:51] nphmuller commented on #16923
Hi @javiercn
Thanks for the quick response, but shouldn't the default behaviour for the SPA templates be changed to be compatible with dotnet watch?

[2019-11-08 15:54] blowdart commented on #16926
You would new up all the other classes required, rather than pass in null. You're heading deep into unsupported territory, and really you'll need to look through the [source code](https://github.com/aspnet/AspNetCore/blob/bfec2c14be1e65f7dd361a43950d4c848ad0cd35/src/Identity/Core/src/AspNetRoleManager.cs) to see what is needed.

[2019-11-08 15:59] Pilchie commented on #16922
Thanks for the analysis @roji.  I know for some of these, the need to analyze the C# parts of razor code means they *do* need to analyze generated code, but you're right that at least the ones with no setting should be reviewed.

[2019-11-08 16:06] Tratcher commented on #16924
It's better to handle https termination concerns centrally in the app than to try to customize individual components. Please read https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-3.0.

[2019-11-08 16:09] nxtx commented on #16913
I am under the impression that integration tests (unlike functional and unit tests) are supposed to use the actual services; hence, I would like to use the RabbitMQ service rather than a mock object.

[2019-11-08 16:09] javiercn commented on #16923
@nphmuller This is the first time we receive such request. In general we can't make sure that every possible combination works with everything out of the box. We need to balance having a readable project file with one that includes all the knobs for all the features that a user might choose to use.

What I'm trying to say with this is that in general, templates are a starting point and trade simpl

[2019-11-08 16:11] nphmuller commented on #16923
Makes sense, thanks!

[2019-11-08 16:13] BrennanConroy commented on #16908
We have `await Clients.Groups(group1, group2, etc...).SendAsync(...);` already.
https://source.dot.net/#Microsoft.AspNetCore.SignalR.Core/IHubClients%2560T.cs,d37e9b653646baf5

[2019-11-08 16:16] javiercn commented on #16925
@syndicatedshannon thanks for contacting us.

I don't think this is different from previous versions of ASP.NET Core, but I'm happy to be corrected. The default behavior in ASP.NET Core (and many other servers) is to return 200 by default, which is what a void returning action does.

Unless we get a report that indicates that this was a change between a previous version and the current one, we are

[2019-11-08 16:16] #16925 closed

[2019-11-08 16:16] BrennanConroy commented on #16664
restore.cmd will install the appropriate SDK for the repo in a local folder. In order to then use it on the command line as if it was installed globally you need to follow the instructions on [using dotnet on the command line](https://github.com/aspnet/AspNetCore/blob/master/docs/BuildFromSource.md#using-dotnet-on-command-line-in-this-repo)

[2019-11-08 16:18] rynowak commented on #16922
All of the bolded ones **specifically** target Razor.

There's a way to get a [breakdown of individual analyzer times as well](https://m0sa.net/posts/2019-08-roslyn-analyzer-runtime-performance/). I'm sure we can figure out a way to optimize this more.

[2019-11-08 16:21] mrpmorris commented on #16918
Sounds like your trans are data driven, in which case you'd remove the item from the data and then you won't render a tab for it.

If they are hard coded, then you'd need a boolean starting whether you should render it or not, and then wrap it with `@if`

[2019-11-08 16:22] syndicatedshannon commented on #16925
@javiercn Our API surface returns `T`, not `IHttpActionResult<T>`, as in our opinion this supported usage clarifies the surface and dependents (including tests). What alternative would you recommend in this case?

[2019-11-08 16:24] borahanarslan commented on #16926
Hello blowdart,
I solved the problem, thank you for your comment
`  static IUserStore<ApplicationUser> _store = new UserStore<ApplicationUser>(new DatabaseContext());
       static UserManager<ApplicationUser> _userManager = new UserManager<ApplicationUser>(_store, null, new PasswordHasher<ApplicationUser>(), null, null, null, null, null, null);`

[2019-11-08 16:24] vsfeedback opened #16927 "start debugging (F5) - I cant see changed value on it is working"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/790591/start-debugging-f5-i-cant-see-changed-value-on-it.html)._

---
[regression] [worked-in:Communitiy 2019 Version v.16.3.6]
Hi
Communitiy 2019 Version v.16.3.6
When I try to start debugging (F5) mode for test my project, I cant see changed value that on .cshtml page

--

[2019-11-08 16:24] ts46235 commented on #16880
@pranavkm  I am not blocked on this as it is only a unit test issue at this point, but I do want to ask if ReasonPhrases is intended to be updated to include this updated 500 message or is it that we can no longer count on there being correlation between these two?

[2019-11-08 16:26] rynowak commented on #16922
How it be and what it do:
![image](https://user-images.githubusercontent.com/1430011/68493514-7175f480-0201-11ea-9bfa-472285035e28.png)

[2019-11-08 16:27] mkArtakMSFT commented on #16927
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2019-11-08 16:27] syndicatedshannon commented on #16925
@cremor Can you comment? I see the [Microsoft documentation](https://docs.microsoft.com/en-us/aspnet/web-api/overview/getting-started-with-aspnet-web-api/action-results) that you referenced:

Return type | How Web API creates the response
-- | --
void | Return empty 204 (No Content)

However, I do not know offhand about your mention prior versions. Do you have easy access to this?

[2019-11-08 16:28] syndicatedshannon commented on #16925
@javiercn I disagree with the close based solely upon a breaking change. I believe following RFC standards is sufficiently important to fix the issue in *addition* to preventing breaking changes, even if an options flag is required. Does that make sense?

[2019-11-08 16:31] borahanarslan commented on #16926
I solved the problem, thank you for your comment
static IUserStore<ApplicationUser> _store = new UserStore<ApplicationUser>(new DatabaseContext()); static UserManager<ApplicationUser> _userManager = new UserManager<ApplicationUser>(_store, null, new PasswordHasher<ApplicationUser>(), null, null, null, null, null, null);

[2019-11-08 16:31] #16926 closed

[2019-11-08 16:31] BrennanConroy commented on #16912
There were no code/dependency changes between these tests passing, and them always failing. We should take a look and see if AzDo changed something?

https://docs.microsoft.com/en-us/azure/devops/release-notes/2019/sprint-160-update

[2019-11-08 16:35] javiercn commented on #16925
@syndicatedshannon I believe you could tweak things here with a global filter. That gives you control over the final result.

[2019-11-08 16:36] roji commented on #16922
Ideally Roslyn would support a finer-grained "tag" that would allow analyzers to process Razor files but not EF migrations, or vice versa. Just a blanket "is it code-generated" seems like it may not be enough.

[2019-11-08 16:38] paulirwin commented on #8847
@syndicatedshannon In an API method that returns `IActionResult`, if you write code that is calling a method called `Ok`, one expects that should return a status code of 200 OK in all cases by default. This seems like a reasonable expectation with no surprises. You as a developer are being explicit in requesting a specific status code. If you want to return 204, you may call `NoContent()`, or you

[2019-11-08 16:39] blowdart commented on #16919
The problem here is you're now outside the bounds of how it would work in production. By trusting the certs properly you emulate what you would see in production, and you don't run the risk of turning cert validation off in production.

[2019-11-08 16:39] roji commented on #16922
Cool, @rynowak I wish I knew about that analyzer breakdown option when I started looking at this :)

Note the recommendation in https://github.com/aspnet/EntityFrameworkCore/issues/18618#issuecomment-547043966, to move away from SyntaxNode/GetSymbolInfo to an IOperation-based analyzer. Could help if you really need those analyzers to run.

[2019-11-08 16:41] syndicatedshannon commented on #16925
@javiercn I did find that option; I commented on a similar [stackoverflow answer](https://stackoverflow.com/a/50327800/608220) yesterday. Note the answer mentions cons of that approach.

I'm still willing to do it, but do you think perhaps supporting this RFC guidance I mentioned in the issue report deserves built-in functionality, without custom filter implementation/insertion?

[2019-11-08 16:43] rynowak commented on #16922
Yup. Agreed.

Profiles confirm that what's expensive here is doing syntax-driven analysis but then asking for symbols. Both of these were written pre-operations I think - the component one is a clone of the EF internal usage analyzer but with generated code analysis on. Compare with [this](https://github.com/aspnet/AspNetCore/blob/master/src/Components/Analyzers/src/ComponentParameterUsageAnalyzer

[2019-11-08 16:45] syndicatedshannon commented on #8847
@paulirwin Totally makes sense. Logically, what should the payload be on a JSON-serialized 200 Ok()?

[2019-11-08 16:46] cedemax commented on #16919
I would use IWebHostEnvironment.IsDevelopment() to make sure that I only do this in development.
And I don't think trusting the certificate is necessary in production, since in production service A would have a valid certificate, so no need to "trust" any bad certificates in service B.

The dev environment is different from the production environment also in the case that I have to put some extra

[2019-11-08 16:48] paulirwin commented on #8847
@syndicatedshannon Based on the principle of least surprise, my expectation would be that it would be an empty body if you call `Ok()` with no parameter. Passing `null` would serialize it to the JSON string `null`.

[2019-11-08 16:49] syndicatedshannon commented on #8847
Also, I misunderstood:

I thought `TreatNullValueAsNoContent` was deprecated. My apologizes for the confusion.

[2019-11-08 16:58] roji commented on #16922
Oh, nice. We already have https://github.com/aspnet/EntityFrameworkCore/issues/18637 tracking rewriting our own analyzer with operations, but it's much less urgent since it simply skips generated code. If you do it on your side I'll be happy to copy-paste though :)

[2019-11-08 17:03] mkArtakMSFT commented on #16918
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-blazor** tag.

[2019-11-08 17:03] #16918 closed

[2019-11-08 17:06] mkArtakMSFT commented on #16898
@ajaybhargavb can you please look what needs to happen here? Thanks!

[2019-11-08 17:13] cremor commented on #16925
Note that the linked documentation is for ASP.NET Web API 2 (that is the version of ASP.NET on the full .NET Framework, which was released before .NET Core was a thing). @javiercn said that no older version of ASP.NET **Core** ever returned 204 for `void`. I haven't checked if this is true, but I'll believe him.

So the breaking change is between ASP.NET (from the full framework) and ASP.NET Core.

[2019-11-08 17:15] mkArtakMSFT commented on #11716
This is a dupe of https://github.com/aspnet/AspNetCore/issues/14340

[2019-11-08 17:15] #11716 closed

[2019-11-08 17:19] mkArtakMSFT commented on #10489
This is already done by @SteveSandersonMS

[2019-11-08 17:19] #10489 closed

[2019-11-08 17:20] mkArtakMSFT commented on #10426
Closing this as there is a separate issue tracking the same thing.

[2019-11-08 17:20] #10426 closed

[2019-11-08 17:26] mkArtakMSFT opened #16929 "Remove HttpClient from the standard DI services list and add it in the template"

[2019-11-08 17:26] mkArtakMSFT commented on #10397
Closing this as the only item left here will be tracked as part of https://github.com/aspnet/AspNetCore/issues/16929

[2019-11-08 17:26] #10397 closed

[2019-11-08 17:29] mkArtakMSFT commented on #9008
Closing as almost everything here are done.

[2019-11-08 17:29] #9008 closed

[2019-11-08 17:34] syndicatedshannon commented on #16925
@cremor Thanks for the feedback. I'll wait to hear if @javiercn replies to the value of addressing this (which IMO is required for providing core support for RFC). If no reply, I'll open a separate feature request, clarifying that I'm not requesting the default functionality changed (breaking changes). Personally, I do believe this is a defect, but I appreciate the plausibility of addressing may b

[2019-11-08 17:47] Stamo-Gochev commented on #16687
@rynowak Can you at least confirm if `StringLocalizer` is supported for localizing blazor components or not?

[2019-11-08 17:59] DrGriff commented on #10448
Seems like the preferred pattern for Blazor (Server) therefore looks to be:

[code]

[2019-11-08 18:17] mrpmorris commented on #16821
Thanks for taking the time to discuss it!

[2019-11-08 18:23] jamiegs commented on #12937
For people with this issue, do you have `COMPlus_PerfMapEnabled=1` or `COMPlus_EnableEventLog=1`?  I was seeing sawtooth wave looking memory usage graphs with these enabled and disabling them fixed it.  I think it's actually `COMPlus_EnableEventLog` doing it, but I disabled both so I'm not 100% sure on which.

[2019-11-08 18:24] Pilchie commented on #14801
We talked to @ericstj about this, and unfortunately, this isn't suitable for us right now, because of the version requirements of our ref assemblies.

[2019-11-08 18:25] markerikson commented on #16907
The Redux core team is just @timdorr and myself, and we don't have the bandwidth to maintain various external templates (really quite similar to your own situation :)  ).

But yeah, I can try publicizing the issue and see if anyone might want to help out.

[2019-11-08 18:26] mkArtakMSFT commented on #11285
This issue was moved to mono/mono#17764

[2019-11-08 18:26] #11285 closed

[2019-11-08 18:27] markerikson commented on #16907
Tweeted out that question:

https://twitter.com/acemarke/status/1192871279801577472

[2019-11-08 18:28] ryanbrandenburg commented on #16927
So the workflow here is:
1. F5 debug
2. Launch the page, see the content.
3. Edit the cshtml for this page.
4. Refresh the page.
5. The content has not changed.

If that's the scenario then this is working as intended. Check out [this announcement](https://github.com/aspnet/AspNetCore/issues/7647) for more details on why run-time compilation is no longer our default and how you can enable it.

If

[2019-11-08 18:34] rynowak commented on #16687
I'll try your sample out and see what's going on.

[2019-11-08 18:36] cdibbs commented on #14907
@GODBS I ended up going the super-hacky route, for now. I hope this is fixed in 3.1.

[code]

[2019-11-08 18:39] Tratcher commented on #14907
@cdibbs no changes are planned for 3.1.

[2019-11-08 18:40] johnnyoshika commented on #12890
@GGAlanSmithee
@rui-ktei
@PhotoAtomic
@InvincibleDRT
@Grandizer
@chamikasandamal

I tagged you in this issue: https://github.com/koopla/NodeServices/issues/4

Let's continue our discussion there and spin this off into a community project. :-)

[2019-11-08 18:46] cdibbs commented on #14907
Will a fix come with a later patch to 3.1? Requiring hacks to override dependencies in your tests seems like a pretty undesirable thing to enter LTS with.

[2019-11-08 18:48] ts46235 commented on #16618
Ok, in my particular case it seems I am only having a problem with the `ValidationProblemDetails` since that is the only one that is running thru my FilterAttribute so it looks like its just an issue when it gets serialized into its Context's `Result`. Adding a converter for it fixed my problem, but...

I could not find this breaking change specified in the Migration literature or release notes. I

[2019-11-08 18:52] Tratcher commented on #14907
Unlikely. Patching is risky and anything with a viable workaround is unlikely to be patched.

[2019-11-08 18:54] jodavis commented on #16792
@Postlagerkarte, did you open a feedback ticket on VS? We have a fix for the glitch that will appear in a future update to Visual Studio.

[2019-11-08 18:59] danroth27 commented on #10448
You can also derive from `OwningComponentBase` to create a DI scope for the component: https://docs.microsoft.com/aspnet/core/blazor/dependency-injection#utility-base-component-classes-to-manage-a-di-scope

[2019-11-08 19:14] JunTaoLuo commented on #16912
FYI @sebastienros

[2019-11-08 19:24] anurse opened #16930 "Flaky dotnet-watch tests due to framework resolution issues."
A number of builds are failing due to issues in the `dotnet-watch` tests:

* [20191107.7](https://dnceng.visualstudio.com/public/_build/results?buildId=419094&view=ms.vss-test-web.build-test-results-tab)
* [20191107.2](https://dnceng.visualstudio.com/internal/_build/results?buildId=419321&view=ms.vss-test-web.build-test-results-tab)
* [20191107.12](https://dnceng.visualstudio.com/public/_build/res

[2019-11-08 19:25] anurse commented on #16930
https://github.com/aspnet/AspNetCore/issues/16912 already exists for this. Closing this one.

[2019-11-08 19:25] #16930 closed

[2019-11-08 19:26] borisjevtic commented on #1609
I had a same problem in .NetCore 2.2.
I deleted from references Microsoft.Extensions.Configuration.Json and installed from Nuget new Newtonsoft.Json (12.0.3- beta) nuget pacgage.
That fixed this issue.

[2019-11-08 19:26] anurse commented on #16912
Does this repro on a local mac at all? @BrennanConroy can you try?

It's possible something changed in the SDK, or with how the host is resolving things.

[2019-11-08 19:28] BrennanConroy commented on #16912
Doubtful, we didn't get new bits or anything and it started failing. But I'll try it out.

[2019-11-08 19:47] sebastienros commented on #16912
It just passed: https://dev.azure.com/dnceng/public/_build/results?buildId=419353

[2019-11-08 19:48] sebastienros commented on #16912
Well, looks like it's marked a flaky test now

[2019-11-08 19:53] Postlagerkarte commented on #16792
@jodavis : great! very happy that the took care of it - the icon looked so strange :) I created no feedback ticket.

[2019-11-08 20:03] dougbu commented on #16921
This sounds like https://github.com/aspnet/AspNetCore/blob/master/docs/BuildErrors.md#error-msb4236--unable-to-locate-the-net-core-sdk or https://github.com/aspnet/AspNetCore/blob/master/docs/BuildFromSource.md#common-error-unable-to-locate-the-net-core-sdk

@nurlanmmikayilov please follow the instructions at those links. And, thank you for your feedback. We're closing this issue as the questions

[2019-11-08 20:03] #16921 closed

[2019-11-08 20:03] ryanbrandenburg commented on #16884
@pranavkm, my snippet from https://github.com/aspnet/AspNetCore/issues/16884#issuecomment-551314664 demonstrates that converting an `int` to a `bool` is in fact the default behavior of at least `Newtonsoft.Json.JsonConvert.DeserializeObject`, and I assume that all the Newtonsoft.Json converters have the same config under the covers by default.

@mihaibozesan123 I think there's some confusion about

[2019-11-08 20:16] paulbatum commented on #16917
Its a functions tooling issue tracked here:
https://github.com/Azure/azure-functions-core-tools/issues/1642

[2019-11-08 20:18] anurse commented on #16912
Let's see if we can repro it though. I'm fine with quarantine it it in The Flaky Zone to unblock things but I'd like to get to the bottom of this one.

[2019-11-08 20:18] javiercn commented on #16917
Thanks @paulbatum. I will be closing this issue since it is already being tracked there.

[2019-11-08 20:18] #16917 closed

[2019-11-08 20:22] wtgodbe commented on #16912
These tests are still failing in 3.1 & will block internal builds, should we mark them flaky/disable them there for now? How do we do that?

[2019-11-08 20:22] wtgodbe commented on #16912
See https://github.com/aspnet/AspNetCore/pull/16911

[2019-11-08 20:26] anurse commented on #16598
Please ensure @BrennanConroy has access, he'll be doing a quick investigation into this.

[2019-11-08 20:27] anurse commented on #16648
Ah, fix the analyzer? We can consider it for 5.0. I'll backlog it and label it as a candidate.

[2019-11-08 20:33] anurse commented on #16662
Ok, I think that's likely a bit of a red herring then.

One thing to try is to [look at the process dumps referenced in the Windows Event Log entries in Visual Studio](https://docs.microsoft.com/en-us/visualstudio/debugger/using-dump-files?view=vs-2019). That might be able to give you call stack information for the crash. Unfortunately, sharing dumps is difficult since they are quite large and may

[2019-11-08 20:36] anurse commented on #16875
In general, it's OK if you have a package referencing an older version. The problem is that we do load the **newer** version of that package in your app. And since we do make some breaking changes between major releases, it's likely that's what you're hitting.

So yes, it sounds like Rollbar is not compatible with ASP.NET Core 3.0 at this time, you'd need to reach out to them to update their packa

[2019-11-08 20:36] anurse commented on #16875
Closing this issue since it appears to be an issue in an external component. Please feel free to let us know if that's not the case!

[2019-11-08 20:38] anurse commented on #16875
Actually... looking back a bit, this is a client application running Xamarin.Forms, right? Not a server?

It's really odd that you have these components in the dependency graph at all since they are server-side components. Can you share all the package references you have in your `csproj`?

[2019-11-08 20:42] anurse commented on #15144
@Tratcher this design seems good to me and is relatively clear. The only change I'd make is that we probably don't need the Certificates value to be a dictionary since the Subject is the "key" already. Perhaps just:

[code]

So the work here is basically to add a "Certificates" property to the [EndpointConfig]9https://github.com/aspnet/AspNetCore/blob/845e6d5512c3521a07d7fa93737b0da041a8a3c6/src/S

[2019-11-08 20:43] anurse commented on #16910
I'd like to be a little more deliberative than just using the attribute, but I'm on board for this. Perhaps a project by project decision rather than per test.

[2019-11-08 20:46] ericstj commented on #14801
I think the only way to make use of this feature is to do use /refonly instead of /refout and ifdef/conndition the assembly version for that pass.  The benefit of using /refonly is that you can generate it from the same source code that you build the product from, rather than relying on GenAPI.  Since /refonly is a seperate pass you can condition almost anything in the project.

[2019-11-08 20:48] anurse commented on #16912
We can certainly mark them flaky in 3.1 as well. It's just a matter of putting the `Flaky` attribute on the test.

The fact that it's happening in 3.1 makes me more nervous. @BrennanConroy may be right that the machine environment changed. I wonder if these tests are running on Helix and if they're stable there?

[2019-11-08 20:54] wtgodbe commented on #16912
Maybe this is the same as https://github.com/dotnet/core-setup/pull/8802? Core-Setup was hitting some similar failures on OSX yesterday.

[2019-11-08 20:55] wtgodbe commented on #16912
These failures look _very_ similar to https://github.com/dotnet/core-setup/pull/8775#issuecomment-551306746, so probably we can do something similar to https://github.com/dotnet/core-setup/pull/8802 to fix it.

[2019-11-08 21:00] wtgodbe commented on #16912
I put up https://github.com/aspnet/AspNetCore/pull/16932 do disable these in 3.1 in the meantime (Looks like they're already skipped in master)

https://github.com/aspnet/AspNetCore/blob/845e6d5512c3521a07d7fa93737b0da041a8a3c6/src/Tools/dotnet-watch/test/NoDepsAppTests.cs#L45

[2019-11-08 21:07] anurse commented on #16912
Nice find!

[2019-11-08 21:14] wtgodbe opened #16933 "Set CI timeout back to 180 minutes"
https://github.com/aspnet/AspNetCore/pull/16911 increased the CI timeout from 180 to 270 minutes in release/3.1, while we investigate some signing flakiness. Once the flakiness is resolved, we should go back to 180 minutes in release/3.1 (and master, if the timeout bump was merged forwards)

CC @aspnet/build

[2019-11-08 21:26] wtgodbe commented on #16912
[My thoughts exactly 😆 ](https://github.com/dotnet/core-setup/pull/8775#issuecomment-551310415)

[2019-11-08 22:08] effyteva commented on #8236
@mkArtakMSFT Could this be scheduled for a future version perhaps?

[2019-11-08 22:25] Pilchie commented on #14801
Oh.  I do like that idea.  Re-opening so that we can consider that.

[2019-11-08 22:55] christostatitzikidis commented on #16218
I would like the flexibility and the ability to easily choose. As simple as that.

[2019-11-08 23:06] ajaybhargavb opened #16935 "Environment isn't respected in Angular SPA template"
### Describe the bug
Running Angular spa template with `dotnet run -c Release` still runs the app in development mode

### To Reproduce
- dotnet new angular
- dotnet run -c Release

### Expected
- The app runs in production mode

### Actual
- The hosting environment is still set to development

Note: It works fine when publishing and running with `dotnet publish -c Release`

Sdk version 3.0.100

@

[2019-11-08 23:11] CarvellWakeman commented on #6140
Maybe I'm not understanding the situation - my HostingEnvironment.EnvironmentName is set to "Development;Development" at runtime. However ASPNETCORE_ENVIRONMENT is **only** set in my web.config. There is no ASPNETCORE_ENVIRONMENT variable set in my system or user environment variables. Both the Windows Environment Variables AND powershell Get-Item Env:ASPNETCORE_ENVIRONMENT are showing nothing.

Y

[2019-11-08 23:15] echuck66 commented on #6140
Check your project properties/options. It's under the Run -> Configurations -> Default. There's a list of Environment Variables (usually just has the ASPNETCORE_ENVIRONMENT variable, and it's set to Development by default.

[2019-11-08 23:20] echuck66 commented on #6140
As a workaround, in Program.cs, you can use something like this:

`#if DEBUG
       Environment.SetEnvironmentVariable("ASPNETCORE_ENVIRONMENT, "Devevlopment");
#endif`

This will override the duplicated values and allow you to work unencumbered on your development machine at least. For deployments, I still have to remember to remove that line from the generated Web.Config file.

[2019-11-08 23:25] echuck66 commented on #6140
From the ASP.NET Core Module document (link further up in comments):

This is a very misleading statement. It doesn't take precedence because it does not override existing values... it concatenates them, rendering the variable useless.

[2019-11-08 23:29] Tratcher commented on #14996
I've made a correction to the sample code above. It used to read:
[code]
But the corrected version is:
[code]

[2019-11-08 23:33] CarvellWakeman commented on #6140
Project properties => Debug is just a GUI around launchsettings.json, and launchsettings is used to generate a web.config at build-time when running in IIS (not express). My ASPNETCORE_ENVIRONMENT is set to Banana in launchsettings.json, and therefore also set to Banana in web.config after a build.

I have **no** system environment variable for ASPNETCORE_ENVIRONMENT, so the _only_ value should be

[2019-11-08 23:41] ajcvickers commented on #16866
@blowdart @HaoK I think I know what might be going on here. Prior to 3.0, string keys were configured to use generated values by default. The value generator would generate a GUID and convert it to a string. However, this was rarely used because:
a) Most people specify string keys explicitly anyway
b) Even if they didn't, the chance they would want a GUID converted to a string seemed low.

Of cour

[2019-11-09 00:40] ryanbrandenburg commented on #16935
So, it doesn't respect it because of https://github.com/aspnet/AspNetCore/blob/master/src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp/Properties/launchSettings.json#L31, but if you remove that line then you have the problem that running `dotnet run -c Release` doesn't actually work, it demands that you do `dotnet publich -c Release` and then run the `exe`. That's not an ideal

[2019-11-09 01:07] tkstanczak commented on #16807
we are investigating the same issue on the trafic mirrored via haproxy:
![image](https://user-images.githubusercontent.com/498913/68520130-46d17d80-028d-11ea-95ef-75aa170f4d42.png)

[2019-11-09 01:08] tkstanczak commented on #16807
It might be just the behaviour of the client (haproxy agent) but since you are looking for more info and there is a newly open issue then maybe it is related:

2019-11-08 23:55:39.4645|ERROR|28|JsonWebAPI.Microsoft.AspNetCore.Server.Kestrel|Connection id "0HLR4KO5VLB4A", Request id "0HLR4KO5VLB4A:00000001": An unhandled exception was thrown by the application. Microsoft.AspNetCore.Server.Kestrel.C

[2019-11-09 01:13] #13893 closed

[2019-11-09 01:16] halter73 commented on #16807
@tkstanczak Do you have a network trace by chance? Kestrel expects HTTP clients to keep connections fully open until the clients receive a full *response*. Otherwise, Kestrel treats the connection as aborted as soon as a FIN is received even if a complete request body was sent first.

For this reason, Kestrel can throw "BadHttpRequestException: Unexpected end of request content." even if the entir

[2019-11-09 01:21] tkstanczak commented on #16807
we will try to collect the network trace:
https://github.com/NethermindEth/nethermind/issues/966

[2019-11-09 01:22] tkstanczak commented on #16807
@halter73 very likely -I think that haproxy does not care about the responses since it is just trying to mirror the server workload

[2019-11-09 01:31] PureKrome commented on #4953
👋 @pranavkm - thanks again for replying ... I (we) really appreciate it.

Ok wait a sec. Hold up.

This is a _technical_ answer to the problem. Lets not even go down that path, just yet.

I was hoping to get a business/product answer about this.

So, regardless of the technical problems/solution ... does the MS team think:

 1. there should be consistency with the returning `ProblemDetails` across

[2019-11-09 01:40] BrainSlugs83 commented on #16218
For anyone who understands the caveats of the original post, and still wants to do this (e.g. because you value encapsulation, or because of convenience, etc.), **beware**, adding a `<script type="text/javascript" suppress-error="BL9992">` (even an empty one) to your component will cause errors in blazor.server.js, (and I kind of doubt they plan to fix that). 🙄

### But *fear not*, for there's an

[2019-11-09 02:34] Alienroid commented on #15720
Trying to get Blazor server-side login to work like rest of the blazor app, to have consistent SPA experience. Currently, the supplied identity sample uses razor page for identity.

I've successfully ported most of the pages. However, I am running into issue on login. The error is

It originated from this call:

My implementation is have server side page to handle the UI and created a service that

[2019-11-09 03:55] nguyenvanbien95 opened #16937 "EventCallback for second binding value not work"
### I have two values for binding form parent component to child component.
First value is binded success but second value is not work.

### To Reproduce
Child.cs

        // display Value1, Value2

        @code {

        [Parameter] Type1 Value1{ get; set; }
        [Parameter] EventCallback<Type1 > Value1Changed { get; set; }
        [Parameter] Type2 Value2{ get; set; }
        [Parameter] Ev

[2019-11-09 04:31] davidfowl commented on #16875
We reference that assembly for FeatureCollection in the connection context API

[2019-11-09 05:35] smaglio81 opened #16938 "ItemsDictionary - Possible NullReferenceException with .GetEnumerator()"
### Describe the bug
In https://github.com/aspnet/AspNetCore/blob/f854b561a5bc9efa657821d562694dcee59c5284/src/Http/Http/src/Internal/ItemsDictionary.cs#L136

there is a possible `NullReferenceException` if the `_items` collection is `null` when `.GetEnumerator()` is called. I believe the expected line of code would use a null-conditional operator (`?.`) similar to line 134 (just above it). https:

[2019-11-09 05:48] superman-lopez opened #16939 "Microsoft.AspNetCore.ApiAuthorization.IdentityServer is unable to take custom Client configuration"
### Describe the bug
In `Microsoft.AspNetCore.ApiAuthorization.IdentityServer` there is the ability to configure IdentityServer clients by using the `AddApiAuthorization` configuration method.  This method has a configuration called `Add` which takes a `IdentityServer4.Models.Client` object.  During runtime there is an error from IdentityServer which states

I suspect this type is one of the Appli

[2019-11-09 06:51] leebenson commented on #10170
I'd second an official approach. React et al spawned multiple approaches, because it's outside their scope. Libs sprung up out of necessity.

Blazor, OTOH, owns more of the stack. If there's a `@code`, it's not a stretch to imagine an official `@js` / `@css` with one 'right way' of scoping, baked in. This isn't a fringe feature; nearly 100% of Blazor devs will encounter the need to style. Supporti

[2019-11-09 07:23] JamesNK opened #16940 "TestServer doesn't set HttpResponseMessage.Version"
TestServer always returns HttpResponseMessage.Version = 1.1. This is shown up as a gRPC bug because the gRPC client will double check that the response protocol hasn't been downgraded - https://github.com/grpc/grpc-dotnet/issues/648

I think TestServer should set HttpResponseMessage.Version equal to HttpRequestMessage.Version.

e.g.
HttpRequestMessage.Version = 2.0 then HttpResponseMessage.Version

[2019-11-09 08:39] mcp111 commented on #9021
Do I need to manually edit processPath="dotnet" to processPath="C:\Program Files\dotnet"?
Why IIS gives error

Could not load configuration. Exception message: Attribute 'processPath' is required.
--

[2019-11-09 08:41] abdulqayyum opened #16942 "Blazor fire onchange event when Chosen drop down value changes"
I have following html in razor component that works but when I render drop down with Chosen it stops working. because chosen do not update actual drop down value it creates its own element that holds selected value. but i can not access that so how to trigger the onchange event then?

[code]
Now if I initialize drop down with chosen then I can not detect on change but can other wise. I am using Bl

[2019-11-09 09:15] spetz commented on #16807
This is the trace collected with `tcpdump`, below you can find the requests that resulted in an error from Kestrel.

[code]

And this one was processed successfully.

[code]

[2019-11-09 10:24] RheaAyase commented on #16924
Kind of going off of some other things - wouldn't it still be best to support both types of value here? I mean, io.file supports relative and absolute path for example. Speaking of path - I think that this has a Path type mixed in? Seems like that could also be an issue.

[2019-11-09 11:50] wangyue2017 opened #16943 "IApplicationBuilder DI is null"
During the project running, I now use rolysn to dynamically generate the assembly and then applicationparts to add the dynamically generated assembly, but the route does not take effect, and I need to add a new datasource under IApplicationBuilder.Properties, but the di IApplicationBuilder object appears to be null

[2019-11-09 12:46] River39 commented on #16231
How would this be done with blazor serverside (with out a page load)? the interop doesn't like the file size. all i can come up with for now is do a httppost from javascript (and return an id with interop to query the file to continue the process of the application.)

[2019-11-09 15:23] syndicatedshannon opened #16944 "Configuration flag to produce 204 from void return"
In ASP.NET Core, Controller methods with a void or Task return type produce an HTTP status code 200. IETF recommends instead returning 204 to indicate no payload (while 200 includes payload). No out-of-box ASP.NET Core configuration is available to act according to this guidance. This is a change from ASP.NET, though unchanged in ASP.NET Core.

The workarounds include, writing boilerplate global f

[2019-11-09 15:25] syndicatedshannon commented on #16944
See also https://tools.ietf.org/html/rfc7231#section-6.3.1

[2019-11-09 15:43] syndicatedshannon commented on #16944
Note this is very similar to another issue I opened, https://github.com/aspnet/AspNetCore/issues/16925, which was closed for two reasons:
 - breaking change
 - alternatives available

I opened this as a feature to clarify I did not mean to request a breaking change. Regarding the alternative, I believe @javiercn may have overlooked those of us who return T from our controller methods.

I apologize

[2019-11-09 15:43] Tratcher commented on #16924
Having absolute uri's scattered throughout your application makes it very brittle. E.g. you need different values in development and production, and would have to change it in several places. It's better to configure things like the host, port, scheme, and path base centrally so the app components only needs to worry about paths and queries.

[2019-11-09 15:49] HoundThe commented on #16924
Thanks for the docs! Somehow I couldn't find that.

[2019-11-09 16:19] toddpiltingsrud commented on #10170
The necessity for scoping in CSS is the same as the necessity for public and private code patterns in other languages.

Think of a component like a custom dropdown. It will likely have CSS rules that are critical to its inner workings (e.g. the display and positioning of the flyout). That code should be PRIVATE to the component AND that code should be encapsulated with the component to make it por

[2019-11-09 16:30] git-net opened #16945 "[blazor]how to resolve prerender twice call ?"
My component is instantiated twice, so ,if i write a lib ,i must avoid/careful use all before onafterrender things? what i can do？

[2019-11-09 17:28] saravanakj opened #16946 "multiple scheme support of authentication"
Hi,

.Net Core 2.2

We would like to authenticate request carrying token with either of the multiple schemes supported (Bearer, Id, Token). Also, we don't want to add schemes in Authorize decorator.

Configure authentication in Startup.cs.
- Bearer
- Id
- Token

**In ConfigureServices,**
services
.AddAuthentication("Bearer") //fallback default scheme
.AddIdentityServerAuthentication("Bearer", jwtO

[2019-11-09 17:51] Mike-EEE commented on #11082
Relevant: https://youtu.be/6BT2AF9PO5g?t=3362

Would be nice to see a web equivalent to this.  For instance, upon compiling for a web site/context, `StackLayout` would get converted to a `<div />` with necessary CSS to make it operate just the same as it does in the mobile/native context, only in a web page, instead. :) /cc @SteveSandersonMS / @danroth27

[2019-11-09 18:18] Mike-EEE commented on #11082
BTW, this is exactly what UNO does with their magic:
https://medius.studios.ms/Embed/Video-nc/B19-CFS2009?latestplayer=true&l=2476.0675

So, it would seem that there is a battle brewing between Blazor and Uno to capture this market, and I'm... ok with this. 😁

[2019-11-09 19:57] dougbu commented on #15055
@Kahbazi addressed part of this in #15392. Probably need to touch up build.cmd as well.

[2019-11-09 20:39] NTaylorMullen commented on #14330
Investigated and turns out it's a duplicate of https://github.com/aspnet/AspNetCore/issues/14324

[2019-11-09 20:39] #14330 closed

[2019-11-09 22:36] span commented on #10299
I did a migration of the [proof of concept](https://github.com/span/azure-dp-conf/tree/netcoreapp3.0) project today and it seems to be fixed in 3.0. No idea why but it seems the data protection changes sorted everything out.

[2019-11-10 00:53] dougbu commented on #14232
FYI the dotnet/corefx#41740 fix was included in [3.1-preview2](https://devblogs.microsoft.com/dotnet/announcing-net-core-3-1-preview-2/).

[2019-11-10 00:59] #16940 closed

[2019-11-10 01:23] mkArtakMSFT commented on #8236
Not really, @effyteva.
We usually prioritize asks based on community asks. So far, we haven't heard much feedback from the community that this is something very important. That said, we don't want to add work on our backlog, for which we don't see any mid-term need.

[2019-11-10 01:51] SimonOrdo opened #16950 "Session cookie not being set in Production, but working fine on localhost?"
SDK: ASP.NET **Core 3.0**
Env: **IISExpress** (**https** _localhost_) and **Azure WebApp** (**https** _www.domain.com_)
Browser: Chrome

I have a WebApp wherein the session cookie gets set fine when running on localhost but does not work at all when running on WebApp in Azure (behind **FrontDoor** with header forwarding enabled, if it matters).

Is this due to a configuration problem or an API bug

[2019-11-10 02:08] hardhub commented on #3097
If am writing something for VB.Net I have to mark my lib as CLS compliant.

But I cannot because used from MS libs classes are not CLS-compliant (at least it is what VS tells due to missing attribute).

And MS says - all is OK ))

Nice guys! (no)

[2019-11-10 03:11] wtgodbe commented on #16912
https://github.com/aspnet/AspNetCore/pull/16949

[2019-11-10 03:28] JHeLiu opened #16951 "Developer SDK language localized comments, as well as official documentation"
1. I am looking at.net core 3x now and I find that the help documentation is relatively simple. It is not as detailed as the.net Framework, for example, it was not introduced when I did the global error capture.Of course, familiar people can get the general meaning from the class.I think there should be an official document, such as I need to globally catch system errors, model validation, and how

[2019-11-10 10:46] mrpmorris commented on #15437
@javiercn @kdawg1406 I've submitted a PR for this.

@javiercn Please let me know if you would like anything changed.

[2019-11-10 11:09] MarkSFrancis commented on #11637
The docs also need updating here:
https://docs.microsoft.com/en-us/aspnet/core/tutorials/signalr-typescript-webpack?view=aspnetcore-3.0&tabs=visual-studio#enable-client-and-server-communication

[2019-11-10 11:15] aateeque commented on #16908
I meant more like send to Client if Client is in group1 AND group2; from the doc on that method it's for all clients in all groups given.

[2019-11-10 11:33] javiercn commented on #16951
@JHeLiu thanks for contacting us.
Ragarding 1. I believe we have such document. Isn't [this](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/error-handling?view=aspnetcore-3.0) what you are looking for?

Regarding 2. We haven't been doing localization in the past releases and I'm not sure what the plan here is. @Pilchie or @danroth27 can comment further.

Regarding 3. ASP.NET .NET Core i

[2019-11-10 11:35] javiercn commented on #16946
@saravanakj thanks for contacting us.

I think you are looking for Policy Schemes. See https://docs.microsoft.com/en-us/aspnet/core/security/authentication/policyschemes?view=aspnetcore-3.0 and see if that helps you.

@Tratcher or @HaoK can confirm here.

[2019-11-10 11:39] javiercn commented on #16945
@git-net thanks for contacting us.

When you prerender the component runs
OnInitialized
OnInitializedAsync
OnParametersSet
OnParametersSetAsync

When you don't prerender, the component runs
OnInitialized
OnInitializedAsync
OnParametersSet
OnParametersSetAsync
OnAfterRender
OnAfterRenderAsync

The first 4 methods will run twice, as the component is rendered twice, the first time into static html an

[2019-11-10 11:43] javiercn commented on #16943
@wangyue2017 thanks for contacting us.

Could you provide a minimal repro project that illustrates your issue. From the description you provided we can't understand what you are trying to achieve and what your scenario is.

[2019-11-10 11:46] javiercn commented on #16942
@abdulqayyum thanks for contacting us.

In principle, if you are using `@bind` you don't need to use `@onchange`.

I'm not sure based on your description what you are trying to achieve. If you give us a minimal repro project ilustrating your problem then we might be able to help you.

[2019-11-10 11:49] JHeLiu commented on #16951
@javiercn Thank you

[2019-11-10 11:56] javiercn commented on #16939
@superman-lopez thanks for contacting us.

That's by design. Our extensions only work on clients defined through our API as we don't support the full scope of options provided by Identity Server.

If you want to support retrieving the client configuration directly you can add that to the scaffolded controller in the template.

Hope that helps.

[2019-11-10 11:56] #16939 closed

[2019-11-10 12:58] MV10 opened #16953 "Razor component catch-all route throws"
Running on 3.0.0.100, I've created a razor component (.razor file) with a route using a catch-all template (the same happens with a single-asterisk catch-all):

[code]

An exception is thrown at runtime:

Nothing in the [routing docs](https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#routing) for RC's mentions catch-all parameters being unsupported, only optional p

[2019-11-10 14:20] enusbaum opened #16954 "Blazor WebAssembly Locks up UI when working with Tasks/Delegates"
### Describe the bug
I have a scenario where I'm invoking a long running task that updates at regular intervals. My internal application is actually a class that is rendering bitmaps at 60fps and invoking a delegate with each rendered frame. I noticed that as soon as I started the task, the entire browser UI (Chrome) locks up.

I boiled the scenario down to brass tacks and posted a repo with the e

[2019-11-10 14:37] imukai commented on #11216
Just spent 30+ minutes trying to figure out why none of the Identity scaffolding was appearing in a new project (created from the UI) and came to find this thread -- and now I'm disappointed that anything would ship in this state.

[2019-11-10 14:43] ahmedflix25 commented on #11216
the sad thing is now one cared enough to check on it since .net core released @imukai

[2019-11-10 14:47] MortenMeisler opened #16955 "WASM: System.PlatformNotSupportedException: System.Net.Http.HttpClientHandler is not supported on the current platform."
### Describe the bug
I get the above error when trying to use the Microsoft.TeamFoundationServer.Client to consume Azure DevOps API. Am I going to "invent the wheel" by using the HttpClient, make my own models and deserialize it? Or is there going to be some doc / adaption to the tons of libraries out there using other types of webclients? Sorry, I just feel like it's going to be uphill with Blazo

[2019-11-10 15:42] benaadams opened #16956 "Blazor should serve smaller precompressed WebAssembly and dlls"
Blazor files (wasm+dlls) are currently served not with maximal compression. As part of dotnet publish; aspnet should be pre-compressing everything in the `_framework` directory; and then serving the appropriate file based on the `Accept-Encoding` header; in preference order: `br`, `gzip`, `uncompressed`.

They should be precompressed rather than using dynamic compression as there is no need to kee

[2019-11-10 15:49] Vampire2008 opened #16957 "Samples cannot run"
### Describe the bug
Try to run samples from `src\Security\samples\` with `dotnet run`. Displays error:
[code]

### To Reproduce
1) Clone this repository
2) Switch to branch release/3.0`
3) Navigate to `src\Security\samples\ClaimsTransformation`
4) Run `dotnet run`

### Further technical details
- ASP.NET Core version 3.0
- dotnet --info
[code]
- The IDE (VS / VS Code/ VS4Mac) you're running on, a

[2019-11-10 15:54] mrpmorris opened #16958 "Blazor: Cannot pass ElementReference back from JavaScript to DotNet"
### Describe the bug
I've created a JavaScript function with a signature like so
`BlazorUniversity.doAnimation = function (htmlElement, animationName, duration, dotNetObject)`

The function adds an event listener on the element `htmlElement.addEventListener('animationend', .....)` - in that callback I want to invoke the calling dotNetObject to let it know that the animation with `animationName` ha

[2019-11-10 15:54] #16958 closed

[2019-11-10 16:03] ScarlettCode commented on #16875
@anurse Yes Xamarin.Forms and just the client side.

    <PackageReference Include="akavache" Version="6.9.10" />
    <PackageReference Include="Com.OneSignal" Version="3.6.0" />
    <PackageReference Include="FormsPinView" Version="2.0.0" />
    <PackageReference Include="fusillade" Version="2.0.5" />
    <PackageReference Include="getAddress.Sdk" Version="1.6.4" />
    <PackageReference Include=

[2019-11-10 16:27] benaadams commented on #16956
A middleware to handle the precompressed files could be something along the lines of:

[code]

[2019-11-10 16:59] saravanakj commented on #16946
@javiercn thank you for recommending.

would like to wet with you the below snippet. Have overridden the GetDefaultAuthenticateSchemeAsync. AuthenticationSchemeProvider has been DI in singleton scope and used IHttpContextAccessor to retrieve the current request. Kindly let's know your review points as well.

Let me try applying the ForwardAuthenticate using options.ForwardDefaultSchemeSelector, th

[2019-11-10 17:33] SteveSandersonMS commented on #16956
Under what hosting model? AFAIK compression is on by default in the templates.

If you’re finding compression of these files is not on by default, can you provide repro steps?

[2019-11-10 18:29] blowdart commented on #16957
None of them?

[2019-11-10 18:49] buddyfavors commented on #11815
This could have came in handy for me too, for now I just wrapped the property.

[code]

[2019-11-10 19:19] Tratcher commented on #16950
What do the application logs say?

[2019-11-10 19:27] FelipeCostaGualberto commented on #5616
Is this issue fixed? The `select` bind element is not working consistently. Sometimes it gets right, but other times it gets the first element.
I'm not able to use select elements at all for CRUD purposes.
Is there any workaround?

[2019-11-10 19:27] Tratcher commented on #16957
First make sure to run restore.cmd from the repo root, especially after switching branches.

For visual studio run `startvs.cmd src\security\security.sln` to open VS using the local dotnet runtime.

For command line usage start powershell and then run `. .\activate.ps1` in the repo root to enable the local dotnet runtime. Then dotnet commands should work elsewhere in the repo.

[2019-11-10 19:32] Andrzej-W commented on #16898
In click handler function `ToggleTableTr` you are changing `collapseNavMenu` variable. This variable is then used to return CSS class name in `NavMenuCssClass` function. Return value from this function is used to render two table rows `Id1` and `Id3`. That is the reason why both rows are hidden or visible and that is correct behaviour.

Unfortunately your program works incorrectly. Try to click on

[2019-11-10 19:40] oliverw opened #16960 "Razor Pages: Urls generated by built-in taghelpers do not honor PageRouteModelConvention"
### Describe the bug

In a project that utilizes Razor Pages and request localization in conjunction with an `IPageRouteModelConvention`, Urls generated through standard TagHelpers for anchors or forms do not honor routing conventions and route values.

### To Reproduce

**Current route values (page url is `/de`)**
- Page: /Index
- culture: de

**Markup:**
 `<a asp-page="Search">Search</a>`

**Exp

[2019-11-10 19:41] SteveSandersonMS commented on #5616
Could you post a new issue with repro steps? Thanks.

[2019-11-10 19:44] Andrzej-W commented on #16954
Unfortunately I don't have time to check your code now, but you should remember that Blazor Wasm works in a single thread. Currently you cannot create additional threads. This limitation exists in Wasm not in Blazor itself.

[2019-11-10 19:48] Postlagerkarte commented on #15317
@javiercn : When we get stateful prerendering will this effect the lifecycle effects? Would be great to to get rid of the "firstRender" flag. The fact that the component is rendered twice is a source of confusion for many beginners.

[2019-11-10 19:49] Andrzej-W commented on #16956
I think it is a great idea to pre-compress all files in _framework directory.

[2019-11-10 19:55] SimonOrdo commented on #16950
@Tratcher Didn't see anything in the logs, however, further testing would imply that this is related to caching on Azure FrontDoor (possibly any Reverse Proxy?).  If FrontDoor caching is turned off, everything works as expected.

I'm inclined to close this issue, but first I want to make sure this isn't due to a weird interaction with the AspNet Core Cache-Control headers and that there isn't some

[2019-11-10 19:58] GeorgeS2019 commented on #14794
@danroth27  [ Blazor Everywhere!!!](https://visualstudiomagazine.com/articles/2019/09/26/blazor-future.aspx) The new kid => Blazor native.

Perhaps others may share my excitement here
## [Star Trek: Enterprise Theme Lyrics](https://www.lyricsondemand.com/tvthemes/startrekenterpriselyrics.html)

It's been a long road
Getting from there to here
It's been a long time
But my time is finally near

==>

[2019-11-10 20:01] alefranz commented on #11377
I had a look at migrating the `ResponseCaching` middleware, however I am struggling to find the correct design to intercept the response without using a stream. I've opened #16961 for discussion.

[2019-11-10 20:07] enusbaum commented on #16954
Ah, thanks @Andrzej-W! That would seen to make sense then.

So anywhere in the application, even if it's another "Thread/Task", anything that would pause that "thread" execution (**.Wait()**, **.Sleep()**, etc.) actually pauses the entire application. I imagine then the Mono AOT is just doing some smoke and mirrors when it comes to handling of Tasks.

In my example then, while the delegate is gett

[2019-11-10 20:11] enusbaum commented on #16954
Further investigation based on your feedback pointed me to this previously reported bug:

[https://github.com/aspnet/AspNetCore/issues/14253](https://github.com/aspnet/AspNetCore/issues/14253)

It would seem in my example I'd need to refactor to have the running task Yield vs. waiting as it's running in a single threaded context.

[2019-11-10 20:45] benaadams commented on #16956
I think I was looking at a misconfigured webserver as it was also serving the dlls as `application/x-msdownload` rather than `application/octet-stream`.

Publishing to AppService it looks to use web.config to get IIS to do dynamic compression so it clocks in at 2.7MB rather than 5.4MB (saving 50%)

However, the dynamic compression is still leaving something on the table. As its dynamic it has to b

[2019-11-10 20:53] rynowak commented on #15027
@jchannon - can you point me at some code samples?

I don't want to add more overloads unless it's going to make things significantly more usable. For instance in previous versions it was not easy to get to the route values from the `HttpContext`, now that's an extension method. If this is *just* about back-compat for Carter, I'd suggest making these extensions.

One point to mention is that `Rout

[2019-11-10 21:15] rynowak commented on #16579
This is definitely a bug. Adding additional routes shouldn't make something turn into a 404.

Here's a comparison:

**Broken**

![image](https://user-images.githubusercontent.com/1430011/68550876-f60c7280-03bb-11ea-89d5-c7bce1fa203e.png)

**Working**

![image](https://user-images.githubusercontent.com/1430011/68550894-1a684f00-03bc-11ea-8ff3-17f37904b572.png)

We're not building the same graph her

[2019-11-10 21:23] rynowak commented on #12300
The issue with `[Consumes(...)]` and actions without a body has been fixed for 3.0.

[2019-11-10 21:23] #12300 closed

[2019-11-10 21:27] DanJ210 commented on #14324
It's crashing for me every time I type `itemscope` and `itemtype` when implementing tags for schema.org SEO.

[2019-11-10 21:34] rynowak commented on #14442
Your workaround is probably the best thing to do for now. We got this feedback from 3-4 people once 3.0 shipped 😞 - but unfortunately providing a good solution to this going to take more API change than we're able to do in a 3.1 release.

We should consider more changes to address this in 5.0

[2019-11-10 21:35] rynowak commented on #14442
@blowdart @HaoK @Tratcher - we don't expose an easy way to get to the HttpContext in a requirement today. Users were doing it through one of MVC's contexts in 2.X, we should look at this API and see what we can do to make this possible without the `IHttpContextAccessor`.

[2019-11-10 21:36] rynowak commented on #10498
Fixed!

[2019-11-10 21:36] #10498 closed

[2019-11-10 23:44] Vampire2008 commented on #16957
Same error.

[2019-11-10 23:49] anderjoy opened #16962 "Blazor - Error: Error parsing handshake response: TypeError: u.indexOf is not a function"
I changed the way I communicate with WebSocket to "Text" because I need to perform end-user performance testing. The problem is that testing tools can't send binary data through WebSocket.

### To Reproduce
Create a default blazor server application, change the _Hots.cshml:

[code]

and

[code]

I expected communication to be established using text rather than binary:

[code]

When running the app

[2019-11-11 00:02] mkArtakMSFT commented on #14391
@jcemoller what is the specific workaround you're referring to here?

[2019-11-11 00:03] mkArtakMSFT commented on #2642
Hi @anisite.

**It looks like you are posting on a closed issue!**
We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

[2019-11-11 00:07] mkArtakMSFT commented on #16797
Thanks for your contribution, @ChristopherHaws 👍

[2019-11-11 00:07] #16797 closed

[2019-11-11 01:12] virtualcca commented on #12937
i found i use serviceProvider resolve object will make memoryLeak...
sorry, is my wrong

[2019-11-11 01:13] #12937 closed

[2019-11-11 01:23] mkArtakMSFT commented on #16737
Hi.

**It looks like you are posting on a closed issue!**
We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

[2019-11-11 01:33] mkArtakMSFT commented on #13115
Hi.

**It looks like you are posting on a closed issue!**
We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

[2019-11-11 01:36] mkArtakMSFT commented on #14035
@RehanSaeed we won't be changing this in 3.1. Feel free to file a new issue and we can re-evaluate this ask for 5.0 release.

[2019-11-11 01:52] wangyue2017 commented on #16943
` public class DynamicService: IDynamicService
    {
        private const string EndpointRouteBuilder = "__EndpointRouteBuilder";
        private readonly ApplicationPartManager _partManager;
        private readonly IApplicationBuilder _builder;
        //private readonly ServiceProvider.GetRequiredService<ControllerActionEndpointDataSource>();
        public DynamicService(ApplicationPartManage

[2019-11-11 01:56] samcov opened #16963 "Type of strings arriving in Hub have changed in .Net Core 3.0"
**Basic Issue**:
In .net Core 2.2, passing an array into a hub method maintained the expected type, in 3.0, the type for strings is not preserver when getting the type via GetType, but shows up properly in debugging.

I expect a string, but I get **{Name = "JsonElement" FullName = "System.Text.Json.JsonElement"}**

**View of the Hub Method**:
public async Task<object> ExecRemoteFunctionAsync(strin

[2019-11-11 02:19] git-net commented on #16945
i have some logic that can't run twice,and OnAfterRender looks later.
now i move some code to OnAfterRender,and check firstrender.
[code]
and change my render code
[code]
i means,use (OnAfterRender and firstrender ) do init things, and  force component rerender,is right way?

[2019-11-11 03:05] tai-yi opened #16964 "Test server create httpclient doesn't set cookie when server return redirect + setCookie"
### Test server create httpclient doesn't set cookie when server return redirect + setCookie

### To Reproduce
[code]

### Further technical details
- ASP.NET Core version 3.0
In source code `WebApplicationFactoryClientOptions`

[code]
Should it return `CookieContainerHandler` before `RedirectHandler`
[code]

[2019-11-11 03:13] FelipeCostaGualberto commented on #10481
Hello, I'm having an issue with this problem.
In my CRUD application, each `Belt `must be assigned to a `Management` and a `Situation`. Model is:
[code]

This is the Form component of my App:

[code]
The binding from `input` (`Belt.Name`) always works perfectly.

The binding from `select` (`Belt.ManagementId`) works for the first time, then it doesn't work anymore.

The binding from `select` (`Bel

[2019-11-11 03:16] git-net commented on #7268
can i pass type by cascadingValue
comp like
[code]
use
[code]
it works
but can i repalce  **Assigned="CompOutInstance"**   by  **<CascadingValue Value="CompOutInstance">**

[2019-11-11 03:34] git-net commented on #16945
constructor run twice too.

[2019-11-11 04:37] Nareshchintakunta commented on #16861
Thank you for responding to the issue, and  sorry for replying very late, Tratcher investigate from client side, can you help to higlight what kind of things I can check at client side. Thank you

[2019-11-11 04:49] Tratcher commented on #16861
What kind of client is it? Does it experience an error before this happens? If you capture a fiddler or wireshark trace does it show data being sent at the expected rate? Is there a lot of network latency between the client and server?

[2019-11-11 04:51] Tratcher commented on #16957
Does running build.cmd in the repo root work for you?

[2019-11-11 05:07] Tratcher commented on #16950
Those are for the optional caching middleware in your application. Azure Front Door likely has different behavior.

[2019-11-11 05:11] Tratcher commented on #16950
Why do you get an auth cookie set on every response?

[2019-11-11 05:14] nguyenvanbien95 commented on #16942
Hi, i answered your question in StackOverflow for temporary fix [Here](https://stackoverflow.com/a/58795843/6708387).
I am waitting for offical support.

[2019-11-11 05:28] SimonOrdo commented on #16950
Yeah, but I thought there was some implication there that Cache-Control response headers are set based on that.  I probably misread it.

[2019-11-11 05:43] SimonOrdo commented on #16950
Yeah, sorry.  That was the login reply.  Interesting enough, however, I can't seem to log out once I log in unless I manually delete the cookie fro the browser.  Code:

[code]
This is what an Ajax calls returns (which does set a session value):
![image](https://user-images.githubusercontent.com/15930167/68563179-53331300-0412-11ea-95f0-c2211e2351ab.png)

This is what a standard HTTP request looks

[2019-11-11 06:08] BrennanConroy commented on #16963
In 3.0 the default hub protocol was changed from using Newtonsoft.Json to System.Text.Json. There are many differences between the two libraries. If you would like to switch back to using Newtonsoft.Json then you can do so by following the docs: https://docs.microsoft.com/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio#switch-to-newtonsoftjson

[2019-11-11 07:01] davidfowl commented on #16943
IApplicationBuilder isn't a service you can access via DI.

[2019-11-11 07:14] wangyue2017 commented on #16943
So？I can only define one static class
`public static class IApplicationTool
{
     public static IApplicationBuilder ApplicationBuilder { set;get; }
}`

` public void Configure(IApplicationBuilder app, IWebHostEnvironment env)
        {
            app.UseStaticFiles();

            app.UseRouting();

            app.UseHealthChecks("/health", new Microsoft.AspNetCore.Diagnostics.HealthChecks.Heal

[2019-11-11 07:39] mihaibozesan123 commented on #16884
@ryanbrandenburg I understand the situation. We'll have to find  way to deal with this validation in without relying on an fix/feature on this package.
WHat I actually meant by removing Microsoft.AspNetCore.Mvc.NewtonsoftJson, was removing this package, but adding stand-alone NewtonsoftJson instead, so then I would still have NewtonsoftJson on my project. If I do this, the validations will work as

[2019-11-11 08:19] ollieferns opened #16965 "MapDynamicControllerRoute doesn't work with DefaultLinkGenerator"
### Describe the bug
The DefaultLink Generator (and the AnchorTagHelper) do not work when mapping dynamic routes. They do not find any routes and produce a null href.

### To Reproduce
<!--
What steps can we follow to reproduce the issue?

1. create a vanilla mvc site
2. add one dynamic route
3. use the anchor tag helper or the LinkGen class
4 Result is href is null.

see v simple example here.

h

[2019-11-11 08:29] jomeno commented on #4895
@ctolkien Me too :(

[2019-11-11 08:36] whizkidwwe1217 opened #16966 "Error installing Microsoft .Net Core 2.2.7 Windows Server Hosting"
### Describe the bug

I tried installing Microsoft .NET Core 2.2.7 Windows Server Hosting on Windows Server 2008 R2 (Hyper-V) but an error has ocurred:

![image](https://user-images.githubusercontent.com/1977391/68572561-ab185b00-04a0-11ea-999a-e7ce82017bd6.png)
I also tried ```dotnet --info``` but an error is thrown:
![image](https://user-images.githubusercontent.com/1977391/68572940-9e483700-04a

[2019-11-11 09:10] rodrmoya commented on #4332
This seems to be happening still, at least on Mac, easy repro:

[code]

[2019-11-11 09:23] mrpmorris opened #16967 "Blazor: Make it possible to create an instance of ElementReference"
### Is your feature request related to a problem? Please describe.
Note: I don't currently need this, so low priority.

`@ref` is used for both referencing to an ElementReference and to a descendant of ComponentBase. This means that if we need a strongly-typed reference to a razor component (for calling C# methods etc from the consuming component) we cannot also pass that reference to JavaScript.

[2019-11-11 09:25] RehanSaeed opened #16968 "JsonPatchDocument should use System.Text.Json in ASP.NET 5"
As asked by @mkArtakMSFT, I've raised a new issue, following on from the discussion in https://github.com/aspnet/AspNetCore/issues/14035.

### Is your feature request related to a problem? Please describe.

ASP.NET Core has mostly switched to System.Text.Json but JsonPatchDocument still relies on Newtonsoft.Json.

### Describe the solution you'd like

JsonPatchDocument should use System.Text.Json

[2019-11-11 09:26] RehanSaeed commented on #14035
New issue raised in https://github.com/aspnet/AspNetCore/issues/16968

[2019-11-11 09:27] maurei opened #16969 "Custom IOutputFormatter not executed when using conventional routing"
### Description
I'm using conventional routing: I'm programmatically assigning templates to controllers, ie not using `[ApiController][Route(" .. ")` but an `IApplicationModelConvention` implementation. Also, I have a custom `IOutputFormatter`. The bug is that my custom formatter is not always executed: it depends on how my routing is configured. Below is my controller in which I use conventional

[2019-11-11 09:42] rodrmoya commented on #4332
Forget it, this is due to the MVC project not having the correct `AddMvc/MapRazorPages`

[2019-11-11 09:44] FelipeCostaGualberto opened #16970 "[Blazor] Binding in select element fails"
Hello, I'm having an issue with data binding of `select` element in Blazor WebAssembly.
Scenario: in a CRUD application, consider each `Belt` must be assigned to a `Management` and a `Situation`. Model is:

[code]
This is the Form component of my App:
[code]
The binding from `input` (`Belt.Name`) always works as espected.

The binding from `select` (`Belt.ManagementId`) works for the first time, t

[2019-11-11 09:49] javiercn commented on #16966
@whizkidwwe1217 thanks for contacting us.

@jkotalik @shirhatti Can you help route this to the appropriate folks?

[2019-11-11 09:57] javiercn commented on #16962
@anderjoy thanks for contacting us.

I don't think using "text" is a supported scenario. We send binary diffs from the server to the client through the websocket. If what you want is to inspect the websocket traffic, you should be able to do it by looking at the network tab in the chrome dev tools.

@anurse @SteveSandersonMS any thoughts here?

[2019-11-11 09:59] javiercn commented on #16956
@benaadams I was investigating this same thing the other day.
Thanks for your more detailed approach :)

I have one great idea for doing this, but I want to discuss it among the team first.

Your data definitely helps make my point :)

[2019-11-11 10:00] javiercn commented on #16953
@MV10 thanks for contacting us.

Razor components don't support that type of catch-all routes. I believe you can still use `"/foo?{*data}"`.

[2019-11-11 10:00] #16953 closed

[2019-11-11 10:05] javiercn opened #16971 "Analyzer for RCL + MVC"
When you create an MVC app and add a RCL to it, you need to in some cases add additional method calls in startup.

This is something many people run into, so it would be great if we could add an analyzer that tells you to add the right method calls to your startup when your app references class libraries with controllers/pages and the right method call is not part of startup.

[2019-11-11 10:07] samcov commented on #16963
@BrennanConroy That was the problem, following the directions in the docs resolved my issue. I'll want to use the default in the future, but it seems to have radically different behavior.

Either way, many thanks to you for recognizing the problem and supplying a solution!

[2019-11-11 10:07] #16963 closed

[2019-11-11 10:09] javiercn opened #16972 "[Identity] Add instructions to the readme for blazor projects"
Add instructions to the scaffolded Readme to handle the details of scaffolding identity into Blazor projects without auth.

/cc: @danroth27

[2019-11-11 10:15] DrGriff commented on #10448
Great feedback.  May I suggest that when a Developer chooses to create a new Blazor application in Visual Studio that the template is updated to put the "best practice" code for consuming the Entity Framework, even if it's commented out.  This code should be "best practice" for a super-rich UI, not a Hello World app.  If things work perfectly out-of-the-box then I think you'll get a higher adoptio

[2019-11-11 10:15] haridasnykiel commented on #10944
@kranczeer did you manage to resolve this issue?

[2019-11-11 10:29] gwubunye commented on #12088
I am finally back on this after a huge detour. I have implemented and am using a custom IStringLocalizer and it works as expected server side. I am not going to worry about client side for now. I am hoping that MS would have kept the infrastructure the same for both client and server side by the time they shipped the client side in May next year.

[2019-11-11 10:47] jchannon commented on #15027
Carter on aspnetcore3 (not merged yet) has these signatures and we adapt the signature to a RequestDelegate however it would be nice to have these extension methods just for very small apps where Carter/MVC is not used.

https://github.com/CarterCommunity/Carter/blob/aspnetcore3/src/Carter/CarterModule.cs#L62

If RouteData is going away can you provide a link or sample on how to retrieve the route

[2019-11-11 11:04] Stamo-Gochev commented on #16687
Are there any updates on that? Is there anything else that I can do in order to help with the investigation?

[2019-11-11 11:13] TFTomSun opened #16973 "Timer doesn't respect interval setting."
I work on a server side blazor app and try to update the UI frequently with a timer. When I set a breakpoint in the timer elapsed event handler a stop there always within 1ms not matter how high I set the elapsed setting.
What i am doing wrong?

[code]

[2019-11-11 11:15] javiercn commented on #15317
@Postlagerkarte It should in most cases avoid the duplicated calls, but it's not unavoidable when the service is under heavy load, to keep the app available (similar guarantees as with re-connection)

[2019-11-11 11:17] javiercn commented on #16945
@git-net That sounds abut right.

Yes, this is expected too, as the app  prerenders, shuts down and then starts again.

[2019-11-11 11:17] javiercn commented on #16945
I'm closing this issue as the question has been answered and the behavior is by design.

[2019-11-11 11:18] #16945 closed

[2019-11-11 11:18] javiercn commented on #15317
https://github.com/aspnet/AspNetCore/issues/16945

[2019-11-11 11:25] javiercn commented on #16973
@TFTomSun thanks for contacting us.

Seems like you are using system.threading.Timer. Normally, this is the one you want to use. https://docs.microsoft.com/en-us/dotnet/api/system.timers.timer?view=netcore-3.0

There's nothing wrong that I can see in your code, other than the wrong timer being used. That said, there's nothing Blazor specific about this.

Use the timer in System.Timers and see if t

[2019-11-11 11:25] #16973 closed

[2019-11-11 11:31] cedemax commented on #16919
Okay I found a solution:

[code]

This works for me at least

[2019-11-11 11:31] #16919 closed

[2019-11-11 11:32] javiercn commented on #16960
@oliverw Thanks for contacting us.

@rynowak any idea of what's going on here?

[2019-11-11 11:34] javiercn commented on #16964
@tai-yi thanks for contacting us.

We will look into this and get back to you.

[2019-11-11 11:36] javiercn commented on #16965
@ollieferns thanks for contacting us.

@rynowak can you look into this?

[2019-11-11 11:36] javiercn commented on #16968
@RehanSaeed Thank you for your feature request.

We'll consider this feature during the next release planning period and update the status of this issue accordingly.

[2019-11-11 11:38] GiroSA commented on #12088
I am finally back on this after a huge detour. I have implemented and am using a custom IStringLocalizer and it works as expected server side. I am not going to worry about client side for now. I am hoping that MS would have kept the infrastructure the same for both client and server side by the time they shipped the client side in May next year.

[2019-11-11 11:39] javiercn commented on #16969
@maurei thanks for contacting us.

@pranavkm Can you tell what's going on here/what's missing?

[2019-11-11 11:41] javiercn commented on #16970
@FelipeCostaGualberto thanks for contacting us.

@SteveSandersonMS thoughts?

[2019-11-11 11:48] javiercn commented on #16967
@mrpmorris thanks for contacting us.

Something like this should suffice your case I think (if I understood correctly your scenario).

[code]

[2019-11-11 11:52] javiercn commented on #16955
@MortenMeisler thanks for contacting us.

This is a known limitation in the current Blazor version that is being fixed as we speak. Blazor used to have its own HttpClient handler due to limitations in the out of the box one provided by mono.

The new handler incorporated in the latest mono drop (which we are in the process of consuming) would likely fix these issues. Keep in mind that there might

[2019-11-11 11:52] #16955 closed

[2019-11-11 11:55] javiercn commented on #16849
We're closing this issue as we haven't seen community involvement and we need more information to reproduce the problem. If you have more details about the issue add a reply here with the new information and we'll re-evaluate the issue.

[2019-11-11 11:55] #16849 closed

[2019-11-11 11:55] mrpmorris commented on #16967
Hi @javiercn

Not quite. Imagine you have some js you use to do something to an element so you need an ElementReference for that.

But it's also a razor component with methods you need to call, so you need a reference like `MyComponent MyRef`.

It's currently not possible to get an ElementReference for a razor component if you already have a strongly-typed reference.

Let me know if you need furth

[2019-11-11 11:57] javiercn commented on #16956
@benaadams  Further thoughts here if you want to try things. I tried to ILMerge the output and wasn't able to do so, but one thing I thought is that maybe we can save a bit more extra space by bundling all assemblies together into one file and compressing that.

The idea would be that we save on the compression tables (likely doesn't matter a lot) and that by producing a bigger payload we have mor

[2019-11-11 11:59] Andrzej-W commented on #16956
@javiercn maybe with only small amount of additional work you will be able to implement minimization and pre-compressing for *.css and *.js. Probably all C# programmers would like to throw away all JavaScript tools and have everything integrated in Visual Studio.

[2019-11-11 12:00] javiercn commented on #16967
@mrpmorris I'm not sure I understand your scenario.

Would something like this represent your scenario? (Although it's not possible)
[code]

Where you would have a reference to the child component and an "HtmlReference" to the component too?

[2019-11-11 12:02] mrpmorris commented on #16967
Yes. Ways I can think of are

1: Multiple refs.
2: Automatically convert IComponent to ElementReference when invoking JS.
3: Allow creation of ElementReference using an IComponent.

[2019-11-11 12:02] javiercn commented on #16956
@Andrzej-W To some degree yes, but in general no.

We don't plan to implement bundling and minification of js/css as it's a huge investment and there are existing tools out there that would do a much better job than us. (Webpack or Rollup for example).

With regards to compressing/serving pre-compressed assets, that's something we can do.

[2019-11-11 12:06] tai-yi commented on #16964
@javiercn , after more debugging, `WebApplicationFactoryClientOptions.CreateHandlers()` is correct.

 Because I set wrong `Expires` in `CookieOptions`.

[2019-11-11 12:06] #16964 closed

[2019-11-11 12:09] javiercn commented on #16967
@mrpmorris

Components are not elements and are not represented in markup as such. This is fundamentally not possible in Blazor for several reasons.
* Components are just marker comments in the generated HTML.
  * This is fundamental as otherwise they would affect the application styles.
* Components are not required to have a "root" element.
  * You can have a component that is defined by a list

[2019-11-11 12:38] MV10 opened #16974 "Blazor + RCL + AssemblyLoadContext.Unload crashes VS debug"
I have a scenario that causes VS2019 16.3.6 with Core 3.0 to crash with HRESULT 0x80070057 (e_invalidarg) in debug, but the same program runs stand-alone indefinitely without problems. Since this involves Blazor, Razor Components in a Razor Class Library, AssemblyLoadContext, and VS, I'm not really sure if it belongs here, or CoreFX, or as a VS issue. Also, I realize I'm way off the map using ALC,

[2019-11-11 12:50] Andrzej-W commented on #16956
@javiercn @benaadams A few thoughts on merging.

Of course after compression one file will be smaller than a sum of individually compressed files and it is better from the point of view of server bandwidth. Saving can be quite big because we have a few big files and **a lot of small** DLL's.

On the other hand we can often achieve higher total download speed when we use a few concurrent downloads.

[2019-11-11 12:55] LukasWillin commented on #12259
Hi everyone

I would want to add to this issue. I am currently trying to have a list of elements where each can be clicked.

However it feels quiet overkill to add a specific event handler for each element in that list.
Another concern would be what if I update the list? Then I'd need to reapply the event handlers everytime I update it.

In javascript I would apply the handler to a parent element

[2019-11-11 13:08] #16967 closed

[2019-11-11 13:09] mrpmorris commented on #16967
No, that makes perfect sense. Thank you!

[2019-11-11 13:19] javiercn commented on #16943
I'm still not 100% sure what you are trying to accomplish here.

I'll give you a few pointers, but this question is more suited for stack-overflow.
* Application parts must be initialized before you try to initialize any service and can't be initialized within a service. There are many things that can/will go wrong if that's the case.
* You seem to be compiling things on the fly, that is not somet

[2019-11-11 13:19] #16943 closed

[2019-11-11 13:22] javiercn commented on #16935
release/debug != production/development. They are orthogonal.

The reason this happens is because you are doing "dotnet run" and that picks up the environment from launchSettings.json, that behavior is expected.

You can run your "Release" app in "Development" and your "Debug" app in "Production".

[2019-11-11 13:22] #16935 closed

[2019-11-11 13:23] javiercn commented on #16962
I'm closing this issue as the question has been answered and there's no further action for us to take here.

[2019-11-11 13:23] #16962 closed

[2019-11-11 13:25] javiercn commented on #16954
@enusbaum thanks for contacting us.

As per the other issue, you should avoid blocking the thread as you will lock the UI.

I'm closing this issue as there's nothing for us to do here.

[2019-11-11 13:25] #16954 closed

[2019-11-11 13:25] javiercn commented on #16954
This is a duplicate of https://github.com/aspnet/AspNetCore/issues/14253

[2019-11-11 13:27] haridasnykiel commented on #10944
@javiercn I am not too sure how to implement your solution?

[2019-11-11 13:30] Sarsue commented on #14102
Hello I have the same issue and tried to implement the suggested fix this is the error I get.

'ClientWebSocketOptions' does not contain a definition for 'RemoteCertificateValidationCallback' and no accessible extension method 'RemoteCertificateValidationCallback' accepting a first argument of type 'ClientWebSocketOptions' could be found (are you missing a using directive or an assembly reference?

[2019-11-11 13:31] javiercn commented on #10944
Hi.

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

[2019-11-11 14:10] javiercn commented on #16974
@MV10 Thanks for contacting us.

I don't think this has anything specifically to do with Blazor and I suggest you file an issue either in CoreCLR or on stackoverflow to get help with this.

This is not something that we have tested/tried out and it might be that the framework is keeping a reference to some of your own code and that that is causing the ALC to crash the app, but as I said, this is n

[2019-11-11 14:16] MV10 commented on #16974
Thanks. Kind of figured it would be too left-field.

[2019-11-11 14:16] #16974 closed

[2019-11-11 14:24] DrGriff commented on #10448
Having experimented with both approaches, I'm finding that the following seem to be identical in my app:

[code]
_c.f._
[code]

With both approaches, whenever a component is called, the constructor of both the Context and Service are called.  However, I'm never seeing the Dispose() called on the Context nor the Service....thought the framework called this when it went out of scope.

Am I right the

[2019-11-11 14:29] anderjoy commented on #16962
Thanks @javiercn, I will continue testing with binary. Do you suggest any tools that are capable of E2E testing on a blazor server-side architecture?

[2019-11-11 14:40] benaadams commented on #16956
I'd agree; you'd probably want the file to be uncompressed as far as the Js is concerned (e.g. naive List<name+offset+size>+dlls appended or ilmerge); then do the precompression on it and let the browser/http do the heavy lifting of decompression rather than trying to decompress in Js.

This is true, however there are other files also that are part of the load e.g.

`blazor.webassembly.js`, `blazo

[2019-11-11 14:47] benaadams commented on #16956
For example if it was a single file for the dlls; then a Link header on the mono.js for that single dll archive file would help fill the bandwidth lull between parsing and the start of the dlls download:

![image](https://user-images.githubusercontent.com/1142958/68595728-eeb79880-0491-11ea-95a2-43fc332d2614.png)

[2019-11-11 14:49] dshyryayev opened #16976 "Could not find aspnetcorev2_inprocess.dll when running AspNetCore\src\Mvc\samples\MvcSandbox"
I have installed fresh Windows 10, .net core sdk 3.0.100, checkout release/3.0 from AspNetCore project.
I was going to run MvcSandbox project and I've got 500.33 error
Specific error detected by ANCM:
Could not find the assembly 'aspnetcorev2_inprocess.dll' referenced for the in-process application. Please confirm the Microsoft.AspNetCore.Server.IIS or Microsoft.AspNetCore.App is referenced in you

[2019-11-11 14:49] javiercn commented on #16956
https://github.com/aspnet/AspNetCore/issues/16956#issuecomment-552474457 Yep,
I did this too as part of my experiments.

You can essentially put all of these inside a link header with preload to speed things up.

[2019-11-11 14:52] javiercn commented on #16956
Yeah, my idea was to use multipart/mixed for that as it can be easily read on the client-side.

[2019-11-11 15:13] javiercn commented on #16976
@dshyryayev thanks for contacting us.

This is likely due to a mistmatch between some bits in our dev environment. Normally I run things directly on kestrel.

@jkotalik or @aspnet/build can probably help with the steps to get this right.

For me this happens pretty much always.

[2019-11-11 15:17] pranavkm commented on #16969
Do you have an `[ApiController]` annotation in the first case? If not, that might explain the difference - controller instances annotated with `ApiController` attribute transform status code results in to `ObjectResults` with `ProblemDetails` - https://docs.microsoft.com/en-us/aspnet/core/web-api/?view=aspnetcore-3.0#problem-details-for-error-status-codes. In the absence of the `ApiController` ann

[2019-11-11 15:27] ChristianWeyer commented on #16956
Great discussion :-)

Pre-compression sounds like a good approach.
Did we already think about leveraging HTTP/2 with multiple files? Experience shows that having multiple files being loaded via HTTP/2 may trump 1/few large files via HTTP 1.1. But of course, testing is needed here.

[2019-11-11 15:52] javiercn commented on #16937
@nguyenvanbien95 thanks for contacting us.

@SteveSandersonMS thoughts?

[2019-11-11 15:54] Tratcher commented on #16950
Honestly this is the first report I recall seeing. I expect most complaints would go to Front Door.

Clarification: The cookie auth handler sets all of the no-cache headers due to the sensitive nature of auth cookies, other components that issue cookies do not set no-cache headers. https://github.com/aspnet/AspNetCore/issues/14795#issuecomment-539131375 includes a proposal to update the headers ad

[2019-11-11 15:56] vdiallonort commented on #9940
Hello, Could you explain a bit more why one library will be supported and not another? I was looking to use Blazor client side to do database connection ( Customer database  behind a firewall ). So I am trying to use System.Data.SqlClient and running into similar issues.

[2019-11-11 15:57] #16924 closed

[2019-11-11 16:07] dshyryayev commented on #16976
@jkotalik What should I do to setup the MvcSandbox to run directly on kestrel? I could see that CreateWebHostBuilder build a new WebHostBuilder makes a call to UseKestrel() function, but I guess it's not enough? Any advice will be appreciated.

[2019-11-11 16:09] javiercn commented on #16976
@dshyryayev I assume you are running this from Visual Studio? Just go to the run Dropdown and pick the one with the app name.

[2019-11-11 16:10] BrennanConroy commented on #11637
Tracked at https://github.com/aspnet/AspNetCore.Docs/issues/14794 feel free to fix it if you'd like!

[2019-11-11 16:16] vdiallonort opened #16977 "Using System.Data.SqlClient generating System.PlatformNotSupportedException: System.Data.SqlClient is not supported on this platform."
Hello,

I am trying to connect to a Sql server database with Blazor client side ( goal is to connect to db behind firewall). I add the System.Data.SqlClient version 4.8.0-preview2.19523.17 that support .Net Core 3.1 ([NugetLink](https://www.nuget.org/packages/System.Data.SqlClient/4.8.0-preview2.19523.17) ) .
I add this simple code on a Blazore component :
[code]

When I run the page I am getting

[2019-11-11 16:20] bulutkartal commented on #16898
I agree it works incorrectly because blazor cannot find the dom element. data-target is not working properly. In bootstrap example they also have the same class name which is "collapse" as well. But handles it based on data-target.

[2019-11-11 16:22] haridasnykiel opened #16978 "integration tests using WebApplicationFactory fail when running in a docker container from the output of dotnet publish with "Solution root could not be located using application root" error"
I have some integration tests that we want to run in a docker container using vstest from a published project.
The WebApplicationFactory is used to build a test server to host the service which is started for every test.
All the files from the output of the publish and copy it to a directory called app in the container.

This issue is very similar and there is a solution for the issue that I am un

[2019-11-11 16:27] BrennanConroy commented on #16938
Fixed via https://github.com/aspnet/AspNetCore/pull/16947

[2019-11-11 16:27] #16938 closed

[2019-11-11 16:29] Vampire2008 commented on #16957
Build successful.
But error same.

[2019-11-11 16:34] jkotalik commented on #16966
@joeloff ?

@whizkidwwe1217 if you could post the log file with the failure rather than screenshots, that would be useful. My guess is there may be a component that needs to be installed on WinServer 2008 that is available on Win8+.

[2019-11-11 16:55] SimonOrdo commented on #16950
@Tratcher Alrighty.  Thanks for looking into it with me.  I don't have high hopes because of how specific of a problem it is, but I'll give it the old college try to get it past the outsourced level 1 mind tree support folks at Azure.  I know they have caching control enhancements planned for Front Door, so maybe once I can tell FD to only cache static content, that will fix it.

In the meantime,

[2019-11-11 16:55] #16950 closed

[2019-11-11 16:55] dshyryayev commented on #16976
When I run in powershell dotnet run, I am getting this error:
AspNetCore\src\Mvc\samples\MvcSandbox> dotnet run
Unhandled exception. System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.AspNetCore.Hosting.Abstractions, Version=42.42.42.42, Culture=neutral, PublicKeyToken=adb9793829ddae60'. The system cannot find the file specified.
File name: 'Microsoft.AspNetCore.Hosting.Ab

[2019-11-11 16:57] danroth27 commented on #16951
@JHeLiu I'm not sure what you mean by "annotation language localization". Are you trying to localize validation messages? We have docs on how to do that here: https://docs.microsoft.com/aspnet/core/fundamentals/localization#dataannotations-localization

@javiercn We do have localized documentation content. For example, here are the ASP.NET Core docs in Korean: https://docs.microsoft.com/ko-kr/aspn

[2019-11-11 16:59] jkotalik commented on #16976
@javiercn we haven't done the work to get inprocess working in samples because we removed the dependency on building native by default.

@dshyryayev I think you need to fix the build.cmd error first. I believe you need to update your version of VisualStudio and then enable preview features: https://github.com/aspnet/AspNetCore/blob/master/docs/BuildFromSource.md#common-error-cs0006

[2019-11-11 17:01] mkArtakMSFT commented on #15180
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-11-11 17:01] #15180 closed

[2019-11-11 17:04] dshyryayev commented on #16976
@jkotalik , I have installed latest VS 2019 yesterday so it was 10-Nov-2019, I think it's the latest.
I am looking into how to enable preview features!
jkotalik and javiercn, than you both for the help, I am a little surprised that I am getting responses so quickly! That's impressive!

[2019-11-11 17:06] anurse opened #16983 "[SignalR JS Client] Scan docs to remove references to the old package ID"
I'm creating an issue in this repo to track the work to scan our docs for references to the old package ID `@aspnet/signalr` and update them to `@microsoft/signalr`. It's a big enough item that I'd like it to pop up on our triage radar more clearly.

[2019-11-11 17:06] anurse commented on #16983
Related Docs issue: https://github.com/aspnet/AspNetCore.Docs/issues/14794

[2019-11-11 17:08] anurse commented on #16962
Changing the transfer format is also not a supported behavior. It doesn't change the fact that the Blazor protocol sends binary data, it just tricks SignalR into thinking that it's sending text. It can cause all kinds of corruption.

Since we're in JavaScript there's not much we can do to prevent changing it :). TypeScript doesn't make `private` fields actually private, it just hides them from the

[2019-11-11 17:12] anurse commented on #16875
@davidfowl cleared up my confusion about the package.

So, given that, if Rollbar is using the same library but at a different version then yeah, you'll have to get Rollbar to update.

[2019-11-11 17:12] #16875 closed

[2019-11-11 17:14] mkArtakMSFT commented on #16942
We tried this out and there's a compiler error in this case already showing up. And the scenario is not supported.

[2019-11-11 17:14] #16942 closed

[2019-11-11 17:14] anurse commented on #14102
The `RemoteCertificateValidationCallback` API is currently only available in .NET Core (https://apisof.net/catalog/System.Net.WebSockets.ClientWebSocketOptions.RemoteCertificateValidationCallback). If you're not running on .NET Core, you won't be able to configure this option.

[2019-11-11 17:16] mkArtakMSFT commented on #16981
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2019-11-11 17:16] #16981 closed

[2019-11-11 17:17] mkArtakMSFT commented on #16980
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2019-11-11 17:17] #16980 closed

[2019-11-11 17:17] anurse commented on #9021
@mcp111 this is a closed issue and is not tracked in our triage process. Please file a new issue.

[2019-11-11 17:26] mkArtakMSFT commented on #16927
Closing this per @ryanbrandenburg 's response above. The announcement he referred to explains it all.

[2019-11-11 17:26] #16927 closed

[2019-11-11 17:27] Andrzej-W commented on #16898
You have to understand that `data` attributes and some class names are used by Bootstrap to implement its functionality and Blazor has no knowledge how Bootstrap or any other JS library works. If you want to use Bootstrap in Blazor you should probably only use css file and remove jquery.js and bootstrap.js completely. Then you have to reimplement some logic from bootstrap.js in C#. Unfortunately i

[2019-11-11 17:28] mkArtakMSFT commented on #16880
Thanks for contacting us, @ts46235.
Are you willing to send us a PR for this?

[2019-11-11 17:44] mkArtakMSFT commented on #16977
Thanks for contacting us, @vdiallonort.
The error you're getting is actually correct. You can read more about this in https://github.com/aspnet/AspNetCore/wiki/Common-Problems-and-Solutions-in-Blazor#problem-blazor-wasm-restrictions

[2019-11-11 17:44] #16977 closed

[2019-11-11 18:01] Daniel15 commented on #12890
Another approach for running JavaScript via C# is to use an embedded JavaScript engine, like V8 (via ClearScript) or ChakraCore. That's what I did for [ReactJS.NET](https://reactjs.net/). In that case though, you don't get anything Node-specific (eg. CommonJS modules), but it works well enough if you can build your JS into a bundle using Webpack.

[2019-11-11 18:10] #16755 closed

[2019-11-11 18:10] #16754 closed

[2019-11-11 18:10] #16644 closed

[2019-11-11 18:10] #16608 closed

[2019-11-11 18:10] #16601 closed

[2019-11-11 18:10] #16600 closed

[2019-11-11 18:10] #16577 closed

[2019-11-11 18:10] #16576 closed

[2019-11-11 18:10] #16575 closed

[2019-11-11 18:10] #15419 closed

[2019-11-11 18:11] JunTaoLuo commented on #12491
Thanks @alefranz for the fix!

[2019-11-11 18:11] #12491 closed

[2019-11-11 18:12] BrennanConroy commented on #16598
Verified that calling `connection.stop().blockingAwait();` will not work.

@TheCamel you can remove our access to your repo.

[2019-11-11 18:12] pranavkm commented on #16688
@FalconWu2017 do you have runtime compilation enabled - https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio#opt-in-to-runtime-compilation?

[2019-11-11 18:12] Tratcher opened #16987 "HttpSys StartAsync doesn't set HasStarted"
When an application calls HttpResponse.StartAsync to warm up the response, on HttpSys that's tracked a separate field from the one that backs HasStarted.
https://github.com/aspnet/AspNetCore/blob/5b1b8bcb8be2fb86619a9c7c5d9f000911c623f4/src/Servers/HttpSys/src/FeatureContext.cs#L73
https://github.com/aspnet/AspNetCore/blob/master/src/Servers/HttpSys/src/FeatureContext.cs#L403

This messes up gRPC

[2019-11-11 18:20] NTaylorMullen commented on #14324
ya I figured out what the issue was. Sadly it's an embarrassingly obvious fix 😢

[2019-11-11 18:37] Tratcher opened #16988 "HttpSys trailers OS version detection"
HttpSys supports HTTP/2 response trailers for gRPC, but only on a preview version of Win10. Currently it uses `Environment.OSVersion.Version` to check this which works for unit tests but not for applications. Apps need to add an app.manifest declaring support for Win10 before the OSVersion will report those versions correctly. See https://stackoverflow.com/questions/33328739/system-environment-osv

[2019-11-11 18:43] shirhatti commented on #14738
[code]

@JamesNK I just tried this. I believe your workaround is not required. All that's missing is the useSSL property in launchSettings

[2019-11-11 18:44] shirhatti commented on #14738
I'll send a PR to fix the template

[2019-11-11 18:47] shirhatti commented on #14738
Pinging @pratiksanglikar to sanity check this as he's the most familiar with this

[2019-11-11 18:49] JamesNK commented on #16988
D) Documentation. Running in HttpSys/IIS will probably be a minority of devs. Could just expect them to jump through more hoops

Is there a way to detect this situation? Someone is:
* Hosting in HttpSys
* On a supported OS
* No app.manafest

And then give them a clearer error message.

[2019-11-11 18:54] Tratcher commented on #16988
Not without implementing B.

[2019-11-11 18:57] halter73 commented on #16807
@spetz Are you also using haproxy? I don't see any FIN or RST flags in the tcpdump output at all, so I don't know why Kestrel would report the "Unexpected end of request content."

Were you getting the exact same "Unexpected end of request content." BadHttpRequestException as @wxnt and @tkstanczak when you collected the tcpdump?

[2019-11-11 18:58] Tratcher commented on #16988
IIS shouldn't have this issue, IIS has better feature detection mechanics.

[2019-11-11 19:00] spetz commented on #16807
@halter73 I'm working with @tkstanczak and this is the trace from our VM behind haproxy. Could we provide more details by using some additional tools for collecting network traces on Linux?

[2019-11-11 19:06] GrabYourPitchforks commented on #16988
One kinda hacky way to detect if you're on Win10 would be to instantiate a `FileVersionInfo` around "kernel32.dll", then query the `FileVersionInfo.ProductMajorPart` property. Since this reads raw metadata from the file I don't think it's subject to OS version lies.

I wouldn't use the file version for OS feature detection, but it would be feasible to say "if the file version major part is \>= 10,

[2019-11-11 19:10] anurse commented on #16598
Ok, we can look resolving this or at least providing better error messaging for 5.0. For now @TheCamel you'll have to do your `stop` calls outside of `on` callbacks (even if you just fire off a new thread to do it). This is a common area we can get some deadlocks, we've seen similar behavior in .NET, so we'll take a look at finding the right solution.

[2019-11-11 19:12] roji commented on #16922
FYI opened https://github.com/dotnet/roslyn/issues/39758 for Roslyn support selective generated code analysis.

[2019-11-11 19:17] JamesNK commented on #16988
If trailers are missing then they'll be on HttpSys/IIS. Kestrel and TestServer will always have trailers.

There problem is either an old OS or no app.manafest. Should be able to create an error message that can guide them from that starting point to success. Could either include a doc link in the error message, or the error message on the docs page to drive search hits.

[2019-11-11 19:19] shirhatti commented on #16988
@OliaG I'm assuming WinForms has similar issues where certain APIs don't work unless you have an app.manifest, but you are on a supported OS. Do y'all do anything to detect this scenario?

[2019-11-11 19:23] Tratcher commented on #16988
Actually, if it's an Http/2 request then you know you're on Win10, you just don't know what version.

Note the error would be thrown by gRPC, not HttpSys. HttpSys doesn't know if a scenario requires trailers.

[2019-11-11 19:31] bhrugen opened #16990 "Blazor's Individual Identity does not display login page after changing from defaultUI"
### Describe the bug
On a new blazor project if you change services.AddDefaultIdentity to services.AddIdentity,
the link to login/register page does not work

### To Reproduce
Create a new Blazor Server Project with Authentication as Individual USer Account
Go to startup.cs
change the adddefaultidentity to
services.AddIdentity<IdentityUser,IdentityRole>()

Run application and navigate to login pag

[2019-11-11 19:50] scalablecory opened #16991 "Wrong Login parameter ASP.NET Core 3.1 Identity"
_From @AlexNek on Friday, November 8, 2019 10:54:50 AM_

# Issue Title

Why _signInManager.PasswordSignInAsync received as 1st parameter email value? It must be user name.

# General
By the user registering you fill username field with email value. If I test it immediate after register  with email then login work but when I change user name then login doesn't work. In addition invalid model "Clear

[2019-11-11 20:24] NuNn-DaDdY commented on #14842
@robinwilson16 I ended up having to delete/recreate the publish profile and then was able to successfully publish.

Encountered the same issue after upgrading the project to .NET Core 3.0 and then installing the latest (3.0) hosting bundle on the server.  Opening the options and clicking save did not work for me.  I tried to change other settings to see if the value would update, but no luck.

[2019-11-11 20:42] cbrit opened #16992 "UserManager.ValidateUserAsync() is inaccessible due to its protection level in Core 3.1 Preview 2"
### Describe the bug
I need to validate a user's registration before creating the user so I can execute a transaction first. I am running Core 3.1 Preview 2 and am getting the following compiler error when I try to use the ValidateUserAsync() method:

![image](https://user-images.githubusercontent.com/23322838/68619287-ced3a500-0490-11ea-9502-400ae932bff8.png)

### To Reproduce

- Create Razor Pag

[2019-11-11 20:50] HrDahl commented on #13709
I appreciate the workaround shown by @danroth27 and @ryanelian but seen from a .NET Core enthusiast we really need `[Authorize]` attribute in Blazor components to redirect to Challenge. That is primarily because of consistency with the way MVC works with [Authorize].

Also, it seems that `@attribute [AllowAnonymous]` has no place in Blazor Components as it is today, as we can not place a global Au

[2019-11-11 20:54] javiercn commented on #16990
@bhrugen thanks for contacting us.

That's by design.
You are removing the UI, so unless you scaffold it there's no UI for the links to go to.

[2019-11-11 20:54] #16990 closed

[2019-11-11 20:57] bhrugen commented on #16990
Even after scaffolding the UI it gives the same error.

[2019-11-11 20:59] NTaylorMullen commented on #14275
Verify go to definition works if the class is in the same file.

[2019-11-11 20:59] Tratcher commented on #16946
You can do this with Authorization policies, even modifying the default policy to add multiple authentication schemes.
https://docs.microsoft.com/en-us/aspnet/core/security/authorization/limitingidentitybyscheme?view=aspnetcore-3.0#use-multiple-authentication-schemes

[2019-11-11 21:00] blowdart commented on #16991
See https://github.com/aspnet/AspNetCore/issues/16979

[2019-11-11 21:00] #16991 closed

[2019-11-11 21:01] dshyryayev commented on #16976
@jkotalik
I have re-installed Windows, installed VS2019 and other tools by looking into link you provided:
https://github.com/aspnet/AspNetCore/blob/master/docs/BuildFromSource.md#common-error-cs0006
Please look at my screenshot, you can see that after running .\restore.cmd at the end of this process, there is an error message.
And this error message persist all the time:
![error-16 3 0-ms-build](

[2019-11-11 21:02] NTaylorMullen commented on #14275
When you get this ^ far talk to me about hover work, i did the map ranges bit.

[2019-11-11 21:02] blowdart commented on #16979
The templates are strongly bound to our assumptions / opinions of identity, where username and email address are the same. Trying to separate them or make them more generic is difficult and would mean cancelling other work.

If you customise identity beyond our opinions we expect you to customise the UI and code as well.

[2019-11-11 21:06] BrennanConroy commented on #16912
Fixed in 3.0, 3.1, blazor-wasm, and master.

I think we can close

[2019-11-11 21:06] #16912 closed

[2019-11-11 21:12] javiercn commented on #16990
@HaoK can you take a look? Maybe there's a step missing we need to add to the docs?

[2019-11-11 21:17] rjgotten commented on #12890
The point is that many people are using the support for `UseWebpackDevMiddleware` to do exactly that, but _also_ have transparent on-the-fly bundle rebuilding ready to load with a simple F5 refresh, or even full on hot-module-reloading (HMR) to swap out individual modules in a running JS application with updated code in-vivo.

There's no decent way to get that without some form of Webpack compiler

[2019-11-11 21:43] mkArtakMSFT commented on #14340
We will tackle this as part of https://github.com/aspnet/AspNetCore/issues/16874

[2019-11-11 21:43] #14340 closed

[2019-11-11 21:46] mkArtakMSFT commented on #13915
@SteveSandersonMS not sure this is just a tracking issue or not, so assigning to you to do what's necessary here.

[2019-11-11 21:46] mkArtakMSFT commented on #13503
@anurse is there a separate issue tracking this? Or should this one be used to track this work?

[2019-11-11 21:51] mkArtakMSFT commented on #12970
@SteveSandersonMS there were several debugging-related issues which I assigned to you. If you believe they're not related and would like to load-balance a bit, let me know.

[2019-11-11 22:06] BrainSlugs83 commented on #9493
Because you might want to inspect the contents of a render fragment.  I think as Blazor gets more attention, this is going to be a feature people want...  Can you at least document how the `RenderTreeBuilder` works so that we can create one that renders the fragment to a string?

[2019-11-11 22:08] gregfig opened #16995 "Role based Authorization using on-premise AD Security Groups"
Hello folks,

I've looked all over for a week trying to find any kind of documentation on this, and cannot find any.  In ASP.NET Core 2.2, I can do the following without issue to use On-Premise Active Directory security groups for Role based Authorization:

_appsettings.json_:  (abbreviated)
[code]
_startup.cs_  (abbreviated)
[code]
_Controller_ (Just the class)
[code]
However, trying to accomplis

[2019-11-11 22:39] #12978 closed

[2019-11-11 22:48] dougbu commented on #13864
Fix (aspnet/AspNetCore#13899) is ready for 'release/3.0' in this repo.

Also need to track dotnet/arcade#4325 for our 'master' branches. When that's complete and we've picked up the newer Arcade ADK, revert the following commits
- [ ] aspnet/AspNetCore-Tooling@75f21c0f468e
- [ ] aspnet/EntityFrameworkCore@922dc156e4c4
- [ ] aspnet/Extensions@9d8e76f4a638

@JunTaoLuo please add EF6 to the above che

[2019-11-11 22:52] wli3 opened #16996 "Support for commandline argument in"
### Describe the bug
commandLineArgs in launchSettings.json is not honored in dotnet run
### To Reproduce
Create launchSettings.json like the following

[code]

change the program files to be

[code]

F5 in Visual Studio works
If you run it with `dotnet run` you will see the following. Since the command line args are not passed down
[code]

It is due to this https://github.com/dotnet/toolset/blob/

[2019-11-11 23:00] shawnwildermuth commented on #16979
The problem is that when users use username and you assume to check email then it fails without any explanation. It's not about customizing the UI, it's about confusion...When the UI says email but you store it as username, it's a mistake not a feature.

[2019-11-11 23:29] pratiksanglikar commented on #14738
We look for the `useSSL` flag followed by whether `https` is present in the `applicationUrl` to determine if https is supported.
In a new gRPC project I created, it looks like the https mapping was not created.
I will dig into it to see what the actual problem is.

[2019-11-11 23:32] blowdart commented on #16995
What OS combinations are you using, for hosting and for the clients?

And does IsInRole() work on the principle?

[2019-11-11 23:32] #16987 closed

[2019-11-11 23:43] gcbenjamin opened #16998 "Allow using a custom handler for OpenId"
I am trying to run some code that will run when ever a challenge is made to any OpenId Connect authentication provider. However even though the methods in src/Security/Authentication/OpenIdConnect/src/OpenIdConnectHandler.cs can be overridden, it doesn't look like you can use a custom handler. The handler to use is set and can't be changed in the following code in src/Security/Authentication/OpenI

[2019-11-11 23:47] gregfig commented on #16995
No, IsInRole() does not work on the principal (returns false).

Regarding OS Combinations.  All clients (currently) are Windows 10 Enterprise.

2 separate production environments (2 different domains) are Windows Server 2016 (all servers).  The Web Servers implement IIS.

Also, in development, on a Windows 10 Enterprise machine on a domain, and using IIS Express, the same thing also happens.

[2019-11-11 23:47] rynowak commented on #15027
Can you tell me more about this? What is *route constraint information* and what do you do with it? Example of typical usage? Sorry for all the questions, I want to make sure I can understand what you're doing.

[2019-11-11 23:54] mkArtakMSFT commented on #14259
it's hard to know whether the app references it or not. You can definitely see whether you explicitly use it or not, but any other API you call (from libraries or the framework) can reference it internally, and that will result the library to be included in the final bits.

[2019-11-12 00:02] SimonCropp commented on #14259
why? you can walk through all the assemblies and check their references

[2019-11-12 00:10] Tratcher commented on #16957
This works in master but I was able to repro the error in 3.0. @JunTaoLuo said this is an issue with our ref assemblies.

[2019-11-12 00:11] Tratcher commented on #16957
@aspnet/build

[2019-11-12 00:12] alefranz commented on #15384
What's the plan for 3.1? is this bug significantly important to include the fix?

[2019-11-12 00:37] JHeLiu commented on #16951
@danroth27

Sorry, maybe my description is not clear, my English is not very good.So I'll show you the screenshot.

**.NET CORE**

![image](https://user-images.githubusercontent.com/15246138/68631903-80bdb080-0527-11ea-9c3b-18c216a6e2b3.png)

**.NET Framework**

![image](https://user-images.githubusercontent.com/15246138/68631893-74395800-0527-11ea-9e9f-e79069efc70a.png)

[2019-11-12 00:42] enetstudio commented on #14648
When using the @bind directive, you instructs the compiler to use the change  event to update the bound variable. The change event fires when the input element **loses focus** after its value was changed or  when selecting a value from the drop-down with a mouse click. No bug at all. It is by design. If you wish, however, to display the value at each stroke on the keyboard, you should tell the com

[2019-11-12 01:02] DanJ210 commented on #14324
Is this thread related to Razor crashing? Because mine's now crashing every time I type. I restart VS Code and as soon as I start typing it's spitting out logs with every word until finally says connection stopped.

[2019-11-12 01:05] whizkidwwe1217 commented on #16966
@javiercn @jkotalik Okay I just figured out what's causing the issue. It throws an error when installing the hosting bundle because it needs an internet connection and regarding the other error, "failed to load hostfxr.dll", I need to install KB2533623 Windows Server update.

[2019-11-12 01:05] #16966 closed

[2019-11-12 01:22] Tratcher commented on #16998
OpenIdConnectHandler is quite complicated and not factored well for derivation. The Events are the recommended extensibility point.

OnRedirectToIdentityProvider is the event invoked for challenges. Have you tried it?
https://github.com/aspnet/AspNetCore/blob/e336f4010af69cfdaba8b79d95a527efeb7bd5da/src/Security/Authentication/OpenIdConnect/src/Events/OpenIdConnectEvents.cs#L29-L34

[2019-11-12 01:45] gcbenjamin commented on #16998
Since the code base already had a handler for OAuth I was hoping to follow the same pattern but won't be an issue to go this way. Thanks.

[2019-11-12 01:55] gcbenjamin commented on #16998
As a guide, if I create my own extension and use my handler which inherits from OpenIdConnectHandler, would that be acceptable or should I just not go there?

    public static AuthenticationBuilder AddOpenIdConnect(
      this AuthenticationBuilder builder,
      string authenticationScheme,
      string displayName,
      Action<OpenIdConnectOptions> configureOptions)
    {
        builder.Servi

[2019-11-12 02:37] Tratcher commented on #16998
I don't recommend that. The derivation scenario has never been tested and is likely to break.

[2019-11-12 02:55] NTaylorMullen commented on #14324
Given the nature of the issue it can happen any time. If you have a lot of work running in the background it'll probably happen more frequently though

[2019-11-12 03:13] vsfeedback opened #17002 "Intellisense on Blazor"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/806684/intellisense-on-blazor.html)._

---
Intellisense on Blazor is unbearable, it's so slow and sometimes errors and warnings doesn't go away unless you try to rebuild or clean your dlls. please fix this.

---
### Original Comments

#### Visual Studio Feedback System on 1

[2019-11-12 03:13] wangpengzong opened #17003 "System.Text.Encoding.Default.GetBytes() is different on the .net framework and .net core"
I created two console applications, .net framework and .net core, and also wrote the following code.

`    class Program
    {
        static void Main(string[] args)
        {
            long iCnChar;
            var CnChar = "上海,日本 大阪,日本 神户,日本 东京";

            byte[] ZW_utf32 = System.Text.Encoding.UTF32.GetBytes(CnChar);

            // get the array of byte from the single char
            i

[2019-11-12 03:14] vsfeedback opened #17004 "Blazor Server framework results in multiple threads hitting Entity Framework Context"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/806088/blazor-server-framework-results-in-multiple-thread.html)._

---
I am familiar with writing highly responsive ASP.NET MVC applications where we load the initial page data, and then fire off multiple AJAX calls to load &quot;secondary&quot; data for the page. So behind

[2019-11-12 03:15] vsfeedback opened #17005 "WebAPI - Url.Action returns null, worked well in .netcore 2.2"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/804414/webapi-urlaction-returns-null-worked-well-in-netco.html)._

---
[regression] [worked-in:15.7]
Hi, this is my part of code inside a controller:

string activationLinkTemplate = Url.Action(&quot;activate&quot;, &quot;users&quot;, new { userId = LinkTemplateTokens.USER_

[2019-11-12 03:16] mkArtakMSFT commented on #17005
Thanks for contacting us.
@rynowak can you please look into this? Thanks!

[2019-11-12 03:20] mkArtakMSFT commented on #17005
The Endpoint Routing has introduced a set of breaking changes in ASP.NET Core 3.0.
You can learn more about the specific breaking changes from https://github.com/aspnet/Announcements/issues/120

If this explains the behavior change you see, please let us know.
Otherwise, please provide a minimalistic repro project (ideally hosted as a GitHub repo) so that we can investigate this further.

[2019-11-12 03:25] benaadams commented on #17003
System.Text.Encoding.CodePages has extra encodings? https://www.nuget.org/packages/System.Text.Encoding.CodePages/4.6.0

[2019-11-12 03:34] wangpengzong commented on #17003
My version of the .net framework is 4.7.2. Is it because of the Chinese version?

[2019-11-12 03:34] #16998 closed

[2019-11-12 03:46] wangpengzong commented on #17003
.net framework
Console.WriteLine("UTF8.CodePage={0}", System.Text.Encoding.UTF8.CodePage);
Console.WriteLine("Default.CodePage={0}", System.Text.Encoding.Default.CodePage);

UTF8.CodePage=65001
Default.CodePage=936

[2019-11-12 04:52] benaadams commented on #17003
Add a static property somewhere:
[code]

Then that should work for both .NET Framework and .NET Core and change the MD5 to use it instead of default:

[code]

![image](https://user-images.githubusercontent.com/1142958/68643121-2f51f900-0508-11ea-903d-5ed7702a38db.png)

[2019-11-12 05:07] benaadams commented on #17003
Could allocate less intermediate strings by for example:
[code]

[2019-11-12 05:14] wangpengzong commented on #17003
Xièxiè nǐ,
4/5000
thank you,

thank you, It is work for me.

[2019-11-12 05:16] wangpengzong commented on #17003
thank you,It is work for me.

[2019-11-12 05:16] #17003 closed

[2019-11-12 05:55] gregfig commented on #16995
Ok, so I knew something like this would happen the minute I posted on here, but I have more information...

The problem seems to stem from using Claims Transformation.  I use it to do some things specific to my application (I don't add or remove any claims).  That, however, is irrelevant.  Doing the following causes the issue (without even modifying the principal):

This line is in startup.cs:
[co

[2019-11-12 05:55] mkArtakMSFT opened #17008 "Blazor WASM should support .NET Standard 2.1"

[2019-11-12 06:09] Daniel15 opened #17010 "UseReactDevelopmentServer without UseSpa"
Is it possible to use `UseReactDevelopmentServer` without `UseSpa`? In dev, I want to use the React dev server, but do not want to return /index.html for everything (which is what `UseSpa` does).

[2019-11-12 06:10] mkArtakMSFT opened #17011 "Setup performance testing for sample Blazor WASM apps"
* Use AspNetCore Benchmarks scenario
* Use Selenium to launch and scrape perf events

Sceanrios we already cover: https://github.com/aspnet/AspNetCore/blob/master/src/Components/Blazor/testassets/Microsoft.AspNetCore.Blazor.E2EPerformance/wwwroot/benchmarks/index.js

* [x] Startup time
* [x] Rendering list
* [x] Json handling (this measures Mono's perf, but it's a good one)
* [x] Measure render ti

[2019-11-12 06:12] mkArtakMSFT opened #17012 "Setup stress-testing scenarios for a sample Blazor WASM app"
* Navigation - interesting because we unwire all the things
* Have three pages and programtically navigate
* Scenarios that happen as part on OnAfterRenderAsync
    * JSON serialization
    * Page with lots of event handlers and bind (modifications of values)
    * Something that mutates (adds or removes child components, Adds or removes of templated components)
* Rely on the process memory to det

[2019-11-12 06:14] mkArtakMSFT opened #17013 "Setup E2E multi-device testing infrastructure for a sample Blazor WASM app"

[2019-11-12 06:17] mkArtakMSFT opened #17014 "Have an auth-enabled Blazor WASM project template"

[2019-11-12 06:19] HaoK commented on #8270
@mkArtakMSFT I've got a PR (https://github.com/aspnet/AspNetCore/pull/16828) that includes the shared framework as part of the helix test payload, do you have someone who can help with the project template test specific changes needed to run on helix?

[2019-11-12 06:21] mkArtakMSFT opened #17015 "Security review for Blazor WASM"

[2019-11-12 06:24] mkArtakMSFT opened #17016 "Localization support (resx) in Blazor WASM"

[2019-11-12 06:25] mkArtakMSFT opened #17017 "Globalization support in Blazor WASM"
What we want to deliver here for 3.2 is setting the thread culture appropriately during application startup. We need a design that:

 * Lets developers indicate somehow what range of cultures their application supports. Presumably this includes "just one", "just a particular set", or "all".
 * If possible, and without making too many assumptions, includes sensible default logic for mapping the bro

[2019-11-12 06:34] mkArtakMSFT opened #17018 "Publishing cleanup for Blazor WASM apps"
The work here is

a) To move the contents of the `wwwroot` folder to the root of the publish folder
b) Change the `Standalone.web.config` to clean up redirection

[2019-11-12 06:38] FalconWu2017 commented on #16688
@pranavkm yes,I do.
This is .csproj file.
[code]
This is startup.cs:
[code]
This is publish files:
![image](https://user-images.githubusercontent.com/34147999/68647890-f6427480-0559-11ea-896f-2e5a5ac73533.png)

[2019-11-12 06:40] mkArtakMSFT opened #17019 "Support non-PE format assemblies"

[2019-11-12 06:47] mkArtakMSFT commented on #8270
@ryanbrandenburg will be able to help with this in two weeks.

[2019-11-12 07:12] mrpmorris commented on #16973
You are telling it to execute with 0 delay, then every 1 second.

Change `0, 1000` to `1000, 1000`

[2019-11-12 08:27] blenke commented on #14648
Thanks this is working, Bind should not be with upper case though.
<input type="text" name="dlinput" list="dl" @bind="@myvar" @bind:event="oninput" />

Obviously it is confusing that it works on most browsers except Edge.
I'm not sure if the issue is fixed though, I would expect a bind to happen if I select something from the datalist and that does not happen without the bind:event oninput.

I did

[2019-11-12 08:38] maurei commented on #16969
Thanks for your time guys, greatly appreciated

Yes the lack of `[ApiController]` is one case is the difference, see the repro repository.

I.e. the formatters not being executed is by design? That troubles me a bit from an intuitive point of view.
- In the typical usage of the boilerplate project there might not be any content to format, but that shouldn't necessarily mean that there is nothing t

[2019-11-12 09:07] enetstudio commented on #14648
Sorry, not my fault...It's the editor's fault caused when you make text bold. I'll change it...

[2019-11-12 09:30] vilinski opened #17021 "Microsoft.AspNetCore.Authentication.OpenIdConnect package doesn't support netstandard"
### Describe the bug

Subject package doesn't support netstandard2.X, but just netcoreapp3.0
Also following package:
- Microsoft.AspNetCore.Authentication.JwtBearer
- Microsoft.AspNetCore.Authentication.OpenIdConnect
- ... etc? Evtl. all the other libraries in AspNetCore?

### To Reproduce

1. create a library project:

[code]

2. Running in console `dotnet restore` brings following error:

If I c

[2019-11-12 09:39] FredyWenger commented on #6937
Direct DOM access will be the reason for me to try out Blazor.
This is **mandatory** for the break-thru of Blazor.

[2019-11-12 09:55] jchannon commented on #15027
Carter uses RouteData to pull the values out and also if we keep the `Get("/", (req,res,routeData))` we would need an object or something to read the constraint values and create the `RequestDelegate`.

We also have extensions so the user can get the constraint values out when in a module. https://github.com/CarterCommunity/Carter/blob/master/src/Request/RouteDataExtensions.cs

[code]

[2019-11-12 10:10] SteveSandersonMS opened #17022 "Blazor: link more assemblies"
**Edit: @rynowak hijacking the top post for great justice**

# Summary

Currently for Blazor WASM we only link the BCL assemblies, and keep all other assemblies. This gives a pretty good size reduction, but it's clear that we can go further. This issue tracks us doing more linking to reduce the size further, and balancing that with the impact on user-experience.

## Challenges

There are two aspec

[2019-11-12 10:17] SteveSandersonMS commented on #17008
Implemented in https://github.com/aspnet/AspNetCore/pull/16808

[2019-11-12 10:19] cirocorvino commented on #16868
Sorry for the insistence but could someone give some feedback, please?
Thank you very much, regards
Ciro C.

[2019-11-12 10:51] javiercn commented on #17021
@vilinski thanks for contacting us.

@Tratcher @HaoK is this an oversight or is it on purpose?

[2019-11-12 10:51] javiercn commented on #17010
@Daniel15 thanks for contacting us.

@SteveSandersonMS Is this possible?

[2019-11-12 10:54] javiercn commented on #17004
Hi,

This is a duplicate of https://github.com/aspnet/AspNetCore/issues/16745

See https://github.com/aspnet/AspNetCore/issues/16745#issuecomment-549505605 for details on how to fixed and the linked sample here for the right pattern to follow when using Entity Framework with Blazor. https://github.com/aspnet/AspNetCore/files/3805645/EFReproCorrectPattern.zip

[2019-11-12 10:55] #17004 closed

[2019-11-12 10:56] javiercn commented on #16888
We're closing this issue as we haven't seen community involvement and we need more information to reproduce the problem. If you have more details about the issue add a reply here with the new information and we'll re-evaluate the issue.

[2019-11-12 10:56] #16888 closed

[2019-11-12 11:01] Postlagerkarte commented on #17002
Not sure if this is related but I also reported a Blazor intellisense issue to VSfeedback and that issue is "under investigation" for over a month now.

https://developercommunity.visualstudio.com/content/problem/755821/blazor-no-intellisense-in-the-immediate-window.html

Blazor deserves great tooling support from Visual Studio!

[2019-11-12 11:08] niconico49 opened #17023 "chained bind and @bind:format"
In the docs https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0
inside the topic "Chained Bind" was explained the necessity to separate the event handler and the value:
"A chained bind can't be implemented with @bind syntax in the page's element. The event handler and value must be specified separately. A parent component, however, can use @bind syntax with the compo

[2019-11-12 11:11] javiercn commented on #17002
Thanks for contacting us.

We would need more information in order to troubleshoot this. A minimal repro-project that illustrates the issue (we don't know what's at play here, how big the project is, how many components in it, etc) as well as likely some information like a performance trace of visual studio so that we can better understand what is causing the slow down as well as some details abou

[2019-11-12 11:13] bachratyg opened #17024 "Inconsistent PathBase when running as IIS sub-application"
# Describe the bug
Response.OnStarting does not observe the same PathBase as the rest of the pipeline on empty-body responses.

### To Reproduce
launchSettings.json
[code]

Program.cs
[code]

Startup.cs
[code]
Project.csproj (2.1)
[code]

Project.csproj (3.0)
[code]

Run the app, run any request, then observe the response headers. The PathBase observed in the OnStarting callback is empty.

#### ex

[2019-11-12 11:19] khellang commented on #15027
Are you talking about `HttpRequest.RouteValues`?

https://github.com/aspnet/AspNetCore/blob/e336f4010af69cfdaba8b79d95a527efeb7bd5da/src/Http/Http.Abstractions/src/HttpRequest.cs#L130-L134

[2019-11-12 11:24] jchannon commented on #15027
Looking at RouteData and that it uses RouteValueDictionary which is the
same as your link, then I guess yes :)

On Tue, 12 Nov 2019 at 11:20, Kristian Hellang <notifications@github.com>
wrote:

[2019-11-12 11:26] khellang commented on #15027
Yeah, `GetRouteData` tries to use the routing feature to pull the data directly (if present) and falls back to `RouteValues` otherwise:

[2019-11-12 11:29] jchannon commented on #15027
RouteValues on the HttpRequest is a new 3.0 feature? I can't see it on  a 2.1 app I have for example

[2019-11-12 11:34] khellang commented on #15027
I think it was added in 2.2; https://github.com/aspnet/HttpAbstractions/pull/1042.

[2019-11-12 11:37] DrGriff commented on #17004
The sample provided above is for a Client architecture.  What about Server architecture?

I subsequently found another relevant issue: [Using Entity Framework Core with Blazor](https://github.com/aspnet/AspNetCore/issues/10448) that contains suggestions which seem to work for me.

[2019-11-12 11:37] chandrakantnaik789 commented on #14456
as per this docs https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.0&tabs=visual-studio

You need to run the following command to obtain blazor assembly
**`dotnet new -i Microsoft.AspNetCore.Blazor.Templates::3.1.0-preview2.19528.8`**

[2019-11-12 11:40] mrpmorris commented on #17004
Your problem is that your context is registered as scoped.

In asp mvc that means per-request. In Blazor that means per-client, because the client remains connected to the server.

Change the service registration to transient.

[2019-11-12 11:41] javiercn commented on #17004
@DrGriff It works the same way. The issue was happening in a prerendering context in which the code runs on the server. Using `OwningComponentBase<T>` is still the answer.

[2019-11-12 11:41] jchannon commented on #15027
So what I think would be nice but obviously up to MS is to have signatures
such as Get(string path, Func<HttpRequest, HttpResponse, Task> handler)

foo.Get("/users/{id:int}",(req,res) =>
res.WriteAsync(userRepo.Get(req.RouteValues["id"]))

I will look to move Carter to that signature maybe and for its extension
methods on RouteData to be on RouteValueDictionary instead

Cheers

On Tue, 12 Nov 2019

[2019-11-12 11:56] Andrzej-W commented on #17017
You should also add support for time zones:
https://github.com/mono/mono/issues/15260
https://github.com/mono/mono/issues/6368

[2019-11-12 12:05] darrynhoskingluna commented on #9543
I have the same problem.

[code]
Output: {"p1":"Test","someDymamic":{"Property":"test"}}
Expected Output: {"p1":"Test","someDymamic":{"property":"test"}}

when returned from the controller i would expect the above to follow the settings provided in the DefaultContractResolver (in my case camel case), except it defaults to pascal case.

Currently you would get a mix of casing returned. The view mod

[2019-11-12 12:32] audacity76 opened #17025 "ServerSide Blazor: Windows authentication not working when enabling windows AND anonymous authentication"
### Describe the bug
For an internal ServerSide Blazor website I need windows authentication and anonymous access. I enabled both authentication methods in the project properties but the windows authentication does not happen.

### To Reproduce
Configure following component page

[code]

### Further technical details
- ASP.NET Core version 3.0.0
- VS 16.3.8

[2019-11-12 12:36] javiercn commented on #17025
@audacity76 thanks for contacting us.

@SteveSandersonMS Do you have any thoughts here?

[2019-11-12 13:29] opencloudcode commented on #14662
Sorry for the late reply, never got to see the notification as I was on holiday

Here is the webconfig
[code]

Here is the csproj
[code]

[2019-11-12 13:36] niemyjski commented on #14855
Awesome thanks!

[2019-11-12 13:39] genne commented on #14328
This happens to me almost every time I switch branch. Any updates on fixing?

Exception details are more or less the same as in linked issue, but triggered by an `OnDeleted` callback:
[code]

[2019-11-12 13:58] SteveSandersonMS commented on #17010
No, sorry. `UseReactDevelopmentServer` is just one of the ways of configuring `UseSpa`, so you can't use the former without the latter.

However just because you're using `UseSpa` doesn't mean you have to return `/index.html` for everything - you could also put other middleware earlier in ASP.NET Core's pipeline to return different responses.

[2019-11-12 13:58] #17010 closed

[2019-11-12 14:03] tjbortz1s commented on #14324
Would you be able to give a little more detail on what was causing the problem?  I'm curious to hear of what was going on.

[2019-11-12 14:07] Tragetaschen opened #17027 "Blazor's InputNumber component should include the DisplayAttribute name in the ParsingErrorMessage"
### Is your feature request related to a problem? Please describe.

I have a model class with DisplayAttribute and RangeAttribute annotations and use the InputNumber component in a form.

[code]
[code]

When I leave the input empty, there are two validation messages:

[code]
Where the first one generated from the data annotations uses the DisplayAttribute while the second one shows the property's

[2019-11-12 14:11] AlekseyMartynov opened #17028 "Razor corrupts '<% %>' snippets (3.0.100)"
We use a JavaScript template engine with 'percent tags'. In Razor files, these snippets are corrupted.

Example:

[code]
is rendered as
[code]

Note how `<% if`  lines are truncated.

### Further technical details
[code]

[2019-11-12 14:19] javiercn commented on #17028
@AlekseyMartynov thanks for contacting us.

@ajaybhargavb can you take  a look?

[2019-11-12 14:20] javiercn commented on #17027
@Tragetaschen thanks for contacting us.

We'll take a look at this and get back to you.

[2019-11-12 14:45] RomanTymchyshyn opened #17029 "Random model validation errors occur during POST request when Request.ContentLength exceeds 4096."
I get the following error, when executing my POST request:
[code]

Sometimes error looks like this (request is similar, it just has more or fewer strings in it). See the request below.
[code]

I created the following sample controller and model to reproduce the issue:
[code]

This is the request I use: https://jsonblob.com/faf7720e-0559-11ea-a4bb-cf0a978731bb
There is an array `strings` with 235 s

[2019-11-12 14:54] MartijnWoudstra opened #17030 "NotSupportedException: Specified method is not supported after Scaffold Identity"
### Describe the bug
After creating a default Blazor App template with Individual user accounts, stored in-app, and scaffolding identity using the _Host file as layout and the default context, there is an NotSupportedException on first run

### To Reproduce

- Create a new Blazor App
- Change authentication to Individual user accounts, Store user accounts in app
- Create
- Select Add -> new Scaffo

[2019-11-12 15:02] voloda commented on #7749
So you are actually asking to switch from .NET Standard library to .NET Core specific one? This is a major step back IMHO.

[2019-11-12 15:07] javiercn commented on #17030
@MartijnWoudstra thanks for contacting us.

The _Host file is not a layout. This behavior is by design.

[2019-11-12 15:07] #17030 closed

[2019-11-12 15:09] javiercn commented on #17029
@RomanTymchyshyn thanks for contacting us.

@pranavkm Do you have any thoughts?

[2019-11-12 15:19] v-braun opened #17031 "Deserialize of ValidationProblemDetails has a really strange behavior"
serialize and deserialize of ValidationProblemDetails returns different results.

[code]

*Output:*
[code]

*dotnet --info*
[code]

[2019-11-12 15:44] oiBio commented on #17002
we have pretty much the same problem. we have a relatively large project with ~250 components and its really slow. rebuilding helps almost everytime, sometimes you have to restart vs. often it also help to close & reopen the razor file to get of the error messages.

We have this problem for a long time and we are currently using the 16.4.0 Preview 3 Professional Edition.

[2019-11-12 15:44] staa99 commented on #5011
@rynowak Will there be any support for this in the future?

It's been over two years, and honestly, it is a pain to have to duplicate default parameters everywhere a view component is used.

[2019-11-12 15:46] davidfowl commented on #7749
Why do you say that?