[2021-03-24 12:14] Andrzej-W commented on #30507
@erikthysell run this code to understand the difference between culture dependent and culture independent formatting.

[code]
[code]

[2021-03-24 12:15] omuleanu opened #31188 "get unobtrusive validation html attributes by ViewModelType and property name"
I need to get the unobtrusive validation html attributes (data-val-required="msg", data-val-length, etc.)
Ideally there would be a method like this:
`IDictionary<string, string> dict = GetUnobtrusiveValidationAttributes<TViewModel>(propName);`

I would call this inside an html helper (`IHtmlHelper `extension method)

this issue is similar this one for MVC5 here https://github.com/aspnet/AspNetWebS

[2021-03-24 12:16] andrew-tevent opened #31189 "Blazor WebAssembly: System.Private.Xml.dll being detected as Malware by AVG"
![image](https://user-images.githubusercontent.com/78795042/112308200-c8b32280-8c99-11eb-975b-42d8ce7cb50b.png)

I couldn't add to the thread of AV that is blocking assemblies - https://github.com/dotnet/aspnetcore/issues/19552

**System.Private.Xml.dll**

[code]

I've tried the [workaround ](https://github.com/dotnet/aspnetcore/issues/5477#issuecomment-599148931)to rename .dll to .bin but it's st

[2021-03-24 12:26] Andrzej-W commented on #30507
In my opinion Blazor WASM works correctly (binding to `input type="time"`) and this issue can be closed.

Unfortunately there are some differences in culture definitions in various environments (Windows 10, Windows Server, Linux, WASM). What is the moral of the story? Whenever you exchange data between different systems, you must use culture-independent date, time, and number formatting, even if y

[2021-03-24 12:55] erikthysell commented on #30507
@Andrzej-W -Thanks a lot. I finally see what the issue is... :) (it took some time).

[2021-03-24 13:10] whereisaaron opened #31190 "No Content Security Policy is compatible with Blazor WASM .Net 5.0 and Chrome 89.0"
### Describe the bug

I have found with Chrome 89.0 it appears **impossible** to use a Content Security Policy with Blazor WASM. It appears the way it is invoked via eval violates any possible Chrome 89.0 CSP policy. For my Blazor WASM app Chrome warns if I don't add `wasm-eval` Chrome won't run the WASM code. But if it add `wasm-eval` and/or `wasm-unsafe-eval` (in addition to unsafe-eval) Chrome

[2021-03-24 13:15] EugeniyMaksimov commented on #18562
If you mark [Obsolete] a component parameter (component's property marked with the [Parameter] attribute) there will no any messages or warnings too.

[2021-03-24 13:51] omuleanu commented on #31188
I got it working like this:
[code]
the only problem is (just like in MVC5) it only works if I call the html helper in a view with
`@model MyVM`

[2021-03-24 14:10] Pvlerick opened #31191 "InvalidOperationException When Sending non-ASCII Range bytes in Request-Line"
### Describe the bug
When sending a Request-Line containing non ASCII range bytes, an exception is thrown:

[code]

### To Reproduce
https://github.com/Pvlerick/kestrel-exception-tcp-utf8

### Exceptions (if any)
[code]

### Further technical details
- ASP.NET Core version
netcoreapp3.1

- Include the output of `dotnet --info`
[code]

- The IDE (VS / VS Code/ VS4Mac) you're running on, and its ver

[2021-03-24 14:15] rcollette commented on #30983
Big changes, zero value.

[2021-03-24 14:23] devlife commented on #30501
Here you go @captainsafia: https://developercommunity2.visualstudio.com/t/Breakpoints-not-being-hit-in-hosted-Blaz/1345897

[2021-03-24 14:25] rcollette opened #31192 "Add CreatedAtActionResult<T> and associated ControllerBase method."
### Is your feature request related to a problem? Please describe.
I would like to avoid having to use the annotation
[code]
`Action<T>` is recognized for OpenApi generation but `CreatedAtActionResult` is not because it is not a generic type.

I also believe there may be some simplification of unit tests based on

https://github.com/dotnet/AspNetCore.Docs/issues/12533

### Describe the solution yo

[2021-03-24 14:35] whereisaaron commented on #31190
For completeness, if you remove the `script-src` sources Chrome 89.0 complains about: `wasm-eval` and `wasm-unsafe-eval`, even while retaining `unsafe-eval` you get this CSP violation instead, saying you have to add back `wasm-eval`:

![image](https://user-images.githubusercontent.com/1109585/112328225-3f880400-8d0a-11eb-9d10-65ae95b4601d.png)

[2021-03-24 14:54] Tratcher commented on #31191
This is by design, the URI in the request line must be percent encoded per RFC 3986. Is see your repro used a raw socket. Did you have this problem with a real client?

[2021-03-24 14:58] neoffer commented on #3793
+1 for 0 downtime deployment.

Also please make .net apps always "always on" and no need to warm-up for better consistent performance.

Please provide separate small package web api and web api controller. Nowadays we don't use MVC anymore, we are using web api and grpc, make these faster.

Make .Net Core faster and smaller than Rust and Golang.

[2021-03-24 15:04] dazinator opened #31193 "Blazor publish - brotli compression runs against images?"
### Describe the bug

I have read that images should not be compressed either by gzip or Brotli as they are already compressed and compressing them again will make their sizes larger.

Given this assertion, I noted the following build output when running a `dotnet publish` of my blazor wasm application, and saw that it appeared to be compressing image files:

[code]

Either the output is misleadin

[2021-03-24 15:19] NinoFloris commented on #31028
@BrennanConroy this issue (and specifically that comment) led me to believe trying to override `IExternalScopeProvider` for the console logger was not a properly supported scenario https://github.com/dotnet/runtime/issues/36090#issuecomment-537177373

As to the conclusion, this means connectionid and requestpath would stay?

[2021-03-24 15:34] davidfowl commented on #3793
Honestly this isn't a job for the ANCM module, this is a job of a deployment system. I don't understand how zero downtime deployments are a concern when using web deploy to blast a new copy of a website directly on top of the old one while it's running.

We're doing this feature because ASP.NET on .NET Framework had a similar unreliable story, this is no different to that and will ease migration.

[2021-03-24 16:01] Pvlerick commented on #31191
No, we were poking around as we are trying to strangle an old API call and route it to Kestrel. This didn't run in production, but we were a bit surprised to be able to trigger an exception on the server this way.

[2021-03-24 16:01] stephentoub opened #31194 "How do I build all managed code in the repo?"
https://github.com/dotnet/aspnetcore/blob/main/docs/BuildFromSource.md talks about there being a build.cmd that it suggests is in the root of the repo, but there's no such build.cmd currently.  I do see one in various subdirectories, e.g. src\Servers.

[2021-03-24 16:03] davidfowl commented on #31194
cc @captainsafia

[2021-03-24 16:16] Tratcher commented on #31191
That exception should be translated into a 400 response further up the stack.

[2021-03-24 16:17] HaoK opened #31195 "Some event tests failures seem to be related"
From https://github.com/dotnet/aspnetcore/pull/31156
so there's something about the interaction between this set of quarantined tests that when they run will cause a large set of tests to fail. When we last unquarantined most of these we saw similar failures start in the CI, I really think our current system of only running the quarantined tests and not the full set of tests is not a good mechanis

[2021-03-24 16:17] captainsafia commented on #31194
@stephentoub You can run `.\eng\build.cmd`.

[2021-03-24 16:19] #31002 closed

[2021-03-24 16:21] javiercn commented on #31187
@j4587698 thanks for contacting us.

HttpContext is not available within Blazor. You can use `@inject Service Property` to inject a service into a component that is available via the property.

[2021-03-24 16:24] Eilon commented on #31127
Thank you for the report @b-straub , we'll take a look. This is indeed very early, so bugs like this are not too surprising!

[2021-03-24 16:24] captainsafia commented on #30501
@devlife Thanks! It looks like the issue we are currently having this discussion on is yours.

I looked through the logs from your session. It looks like you might be using a Blazor component with a partial class. Can you confirm?

I do see that the debugger is able to load the C# sources for the Client side of your app correctly. Are you able to set the breakpoints in the `.razor` files?

And fin

[2021-03-24 16:41] javiercn commented on #31190
@whereisaaron thanks for contacting us.

Can you give us the CSP policy you are using so that we can see if we can avoid this?

[2021-03-24 16:43] Tratcher commented on #23971
Given how inefficient the QueryHelpers APIs are, especially for multiple operations, we want to discourage their use by not expanding them. Thanks for being willing to share though.

[2021-03-24 16:43] captainsafia commented on #31150
I think we can probably remove this.

There are _rare_ cases where a user might want to change the Razor language version used by their project but with the way the SDK/compiler relate -- this is probably going to cause them more headaches than it is worth. I don't know of any scenarios where an end-user would need to change the configuration (let me know if there are ones, @pranavkm).

Given that

[2021-03-24 16:45] javiercn commented on #31163
@hhyyrylainen a few more questions:
* Do all the files contain have different hashes?
* Is there a specific set of files that has different hashes?
  * Can you give us a list?

[2021-03-24 16:48] javiercn commented on #31192
@rcollette thanks for contacting us.

This doesn't align with how ActionResult<T> is designed. ActionResult<T> is meant to be a T element or an action result and its used for providing type hints for API explorer.

[2021-03-24 16:48] #31192 closed

[2021-03-24 16:51] javiercn commented on #31166
@Dean-NC thanks for contacting us.

Model binding is decoupled from any given json implementation, so this is not a direction we can take.

[2021-03-24 16:51] #31166 closed

[2021-03-24 16:51] javiercn commented on #31164
Dupe of https://github.com/dotnet/aspnetcore/issues/31166

[2021-03-24 16:51] #31164 closed

[2021-03-24 16:53] jkotalik commented on #27277
Need to follow up with web tool folks to figure out any other places we generate or implicitly create a launchsettings.json file.

[2021-03-24 16:53] hhyyrylainen commented on #31163
I actually just finished making that script (in ruby) that fixes incorrect hashes (if anyone wants it, it's here: https://github.com/Revolutionary-Games/ThriveDevCenter/blob/fc1534d8c67b3cf2bb228dee290c3935f7cf393c/fix_boot_json_hashes.rb)
And I immediately noticed one thing: only one of the files has an incorrect hash.
Output from that script:
[code]
So it seems like *only* `Microsoft.TestPlatfor

[2021-03-24 16:57] phenning commented on #27277
@BillHiebert Don't we also generate a launchsettings.json from the project system if the template does not already have one?

It looks like you guys already have the template change here:
https://github.com/dotnet/aspnetcore/blob/main/src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Properties/launchSettings.json

[2021-03-24 16:58] javiercn commented on #31163
@hhyyrylainen that's strange, I don't think you should have that reference in a blazor webassembly application

[2021-03-24 17:02] jkotalik commented on #27277
Yeah, the previous PR I just merged handled the templates. I filed an issue in the web tools azdo repo for generation of launchsettings.json

[2021-03-24 17:04] hhyyrylainen commented on #31163
Looking into if I can figure out how to cut down on the Client assembly dependencies, was going to be my next step. I see that also xunit (which I've used in the Shared project) gets included in the Client.
I think I need to look into how I can include tests in the Shared project without the Client build pulling in those dependencies as well.

[2021-03-24 17:09] pranavkm commented on #31188
Have you looked at https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.viewfeatures.validationhtmlattributeprovider.addvalidationattributes?view=aspnetcore-5.0? It would be fairly close to what you're trying to do here.

[2021-03-24 17:10] ScottKane opened #31198 "Unable to @bind-Value on InputText to reflected PropertyInfo"
I'm building a component that dynamically renders whatever generic object you throw at it, the component has a text field which I am trying to use `@bind-Value`. This normally works however I'm not having much luck binding it to a reflected PropertyInfo. What is the recommended approach?

[code]

I tried using onchange (`@onchange="@((ChangeEventArgs __input) => item.GetType().GetProperty(property

[2021-03-24 17:24] jkotalik commented on #27464
@JunTaoLuo should this issue be assigned to you?

[2021-03-24 17:25] captainsafia commented on #31034
Closed via https://github.com/dotnet/sdk/pull/16453.

[2021-03-24 17:25] #31034 closed

[2021-03-24 17:25] jkotalik commented on #27286
@JamesNK did you get the chance to finish this?

[2021-03-24 17:27] JunTaoLuo commented on #27464
Sure this touches on https://github.com/dotnet/aspnetcore/issues/29933

[2021-03-24 17:29] jkotalik commented on #24512
@leecow would it be possible to put the VS C++ Redist dependency on the download page for the hosting bundle? For example here: https://dotnet.microsoft.com/download/dotnet/thank-you/runtime-aspnetcore-5.0.4-windows-hosting-bundle-installer

[2021-03-24 17:30] javiercn commented on #31194
@captainsafia can you update the docs?

[2021-03-24 17:31] rcollette commented on #31192
@javiercn Can you explain why CreatedAtActionResult cannot be made generic to also provide type hints to API explorer?

[2021-03-24 17:36] hhyyrylainen commented on #31163
Okay, so I didn't find any guide on how to do this. So I tried a few things and then ultimately ended up splitting the tests into a separate project called Shared.Tests. Now the test files no longer show up in `blazor.boot.json` **but** for some reason they still get copied to the wwwroot folder. Luckily, though the browser doesn't load those files at least. So that isn't a huge problem.

[2021-03-24 17:36] meziantou commented on #31187
If you need to _dynamically_ inject services, you can use the `IServiceProvider` service:

[code]

[2021-03-24 17:40] halter73 commented on #31181
We should expose this building block. I see no reason to be overly prescriptive and make it difficult for developers to get at this RequestDelegate. We shouldn't assume we can think of all the ways developers might possibly want to use it. If we don't expose this, people will do hacks like build a whole middleware pipeline just to get at a RequestDelegate.

We don't technically need all of these o

[2021-03-24 17:45] omuleanu commented on #31188
how should I use this method ?
or how do I go from `ValidationHtmlAttributeProvider.AddValidation(...)`
to `GetVldAttributes(type, propName)` ?
I don't know how to pass the Model type and property name to this method.

[2021-03-24 17:48] meziantou commented on #31178
It's already possible to add custom attributes to the `form` element by adding attributes to the `EditForm`

[code]

However, this attribute doesn't seem to disable inputs on Edge. A workaround is to use a `<fieldset disabled=@disabled>`.

[2021-03-24 18:08] davidfowl commented on #31181
I think it's too difficult. I tried it but happy to be proven wrong here.

[2021-03-24 18:13] davidfowl commented on #27464
I think we should break this issue up.

[2021-03-24 18:14] trannamtrung1st opened #31203 "RequestTimezoneMiddleware for ASP.NET Core"
### Is your feature request related to a problem? Please describe.
I want to enable time zone detection functionality in my i18n application. However, I can not find any built-in way from the current framework for this.

### Describe the solution you'd like
Can we create a middleware like RequestLocalizationMiddleware? I think it is suitable in this situation.
I enabled the functionality in my app

[2021-03-24 18:19] BaronMatrix commented on #31176
Thank you for looking at this. I will moq up a set of data for this as it seems to be global vars, not scope bound ones. Multiple other places I do something similar for other UL elementss

[2021-03-24 18:25] pranavkm commented on #31188
Something like:

[code]

Note that I wrote this in notepad, so I'm not entirely sure it compiles

[2021-03-24 18:35] ryanbrandenburg commented on #30961
After talking with Sam we determined that this allocation reduction was only worth it if the fix was very easy. As it's already been looked at before without fruit, it's not very easy, so closing.

[2021-03-24 18:35] #30961 closed

[2021-03-24 18:38] ryanbrandenburg opened #31204 "Performance: Add ETL events for message serialization time and size"
We should log ETL events to track the serialization, deserialization and size (on the highest logging level) of our messages as we suspect that's a significant source of slowness in our requests after the investigations in https://github.com/dotnet/aspnetcore/issues/30247. Given that there were 3 messages of size 1.8MB (unfortunately the logs don't tell us which messages those were but I imagine i

[2021-03-24 18:38] ryanbrandenburg commented on #30247
After talking with Sam he said that most of the memory-suggestions we have here are only worth fixing if they're very easy and/or make the code more clear.

He also suggested that we log ETL events to track the serialization, deserialization and size (on the highest logging level) of our messages as he suspects that's a significant source of slowness. Given that there were 3 messages of size 1.8MB

[2021-03-24 18:40] ryanbrandenburg commented on #30962
I had a talk with Sam and now believe that these fixes are not worth the effort at this time. Though they allocate a lot, in relation to VS as a whole they're a small percentage and aren't the cause of any specific perf problems. In addition the fixes for them are not simple, so closing.

[2021-03-24 18:40] #30962 closed

[2021-03-24 18:42] ryanbrandenburg commented on #30954
The next step here is to examine the blocked time on the main thread and see if there are any obvious culprits.

[2021-03-24 18:43] ryanbrandenburg commented on #30957
Compared to total VS allocations this isn't actually THAT bad. Therefore do a quick investigation, but if the fix isn't easy it's not worth it at this time.

[2021-03-24 18:44] ryanbrandenburg commented on #30958
Compared to total VS allocations this isn't actually THAT bad. Therefore do a quick investigation, but if the fix isn't easy (and clear) it's not worth it at this time.

[2021-03-24 18:44] ryanbrandenburg commented on #30959
Compared to total VS allocations this isn't actually THAT bad. Therefore do a quick investigation, but if the fix isn't easy (and clear) it's not worth it at this time.

[2021-03-24 18:47] devlife commented on #30501
@captainsafia I am indeed using partial classes for the code behind. `Index.razor` and `Index.razor.cs` where with `public partial class Index`.

I will try to set a breakpoint in `.razor` files and get back to you.

[code]

[2021-03-24 18:59] TanayParikh commented on #29606
Fixed 🎉. Validated by doing the repro steps 5x.

[2021-03-24 18:59] #29606 closed

[2021-03-24 19:00] #31037 closed

[2021-03-24 19:00] #31069 closed

[2021-03-24 19:07] TanayParikh commented on #30408
Inspecting the log sizes, this doesn't seem to be an issue. I'm closing this out for now, we can re-open as required.

[2021-03-24 19:07] #30408 closed

[2021-03-24 19:21] #31162 closed

[2021-03-24 19:49] omuleanu commented on #31188
I finally got it working like this:
[code]

[2021-03-24 20:01] #30588 closed

[2021-03-24 20:02] whereisaaron commented on #31190
Thanks @javiercn AFAIK, only the `script-src` bit is relevant, but here is the whole example I was testing.

`default-src 'self'; object-src 'none'; style-src 'self' 'unsafe-inline' https://stackpath.bootstrapcdn.com/ https://use.fontawesome.com/; script-src 'self' 'unsafe-eval' 'unsafe-inline' https://stackpath.bootstrapcdn.com/ https://code.jquery.com/ https://cdn.jsdelivr.net/ https://cdn.raygu

[2021-03-24 20:04] javiercn commented on #31190
@whereisaaron thanks for the additional details.

It'll make it easier for us to see the exact line in source that it's causing the problem and determine what we can do about it.

[2021-03-24 20:27] #27286 closed

[2021-03-24 20:32] javiercn commented on #31163
@hhyyrylainen that's the common practice in .NET in general, tests go into a separate project, otherwise you bring in all the test dependencies to your product, which I don't think you want to do.

[2021-03-24 21:04] Dean-NC commented on #31166
@javiercn Are you saying that the DataAnnotation validation code, like the Required attribute, can't tell if the JsonPropertyName attribute is applied, and that it doesn't have access to System.Text.Json ?
Thanks.

[2021-03-24 21:13] halter73 commented on #4707
Correct. It's a [slowloris attack](https://en.wikipedia.org/wiki/Slowloris_(computer_security)) and that's exactly what this min rate timeout and resulting exception is designed to mitigate.

[2021-03-24 21:21] halter73 commented on #31181
I haven't tried it yet, but I believe you. Adding the attributes back to the generated `Delegate`'s MethodInfo might be a blocker.

I do like all 3 overloads. I'm adding the `MethodInfo` overloads to #31171 now.

[2021-03-24 21:23] BrandonPotter commented on #4707
I don’t think anyone is arguing that it’s not a sane default... but for applications that need to potentially receive data slowly, looking for a reliable way to disable this.

[2021-03-24 21:30] daniel-p-tech opened #31208 "[Blazor] Is ObjectGraphDataAnnotationsValidator production-ready?"
Hi,

Is there a reason why ``ObjectGraphDataAnnotationsValidator`` is still "experimental"? Can I use it in production? When will it be part of the official .NET?

Thanks.

[2021-03-24 21:30] NTaylorMullen opened #31209 "Razor provisional completions can't be resolved and throw exceptions"
Type `@DateTime` then press `.` And type `N`, you wont get C# resolve data for `Now`

[2021-03-24 21:38] Spongman opened #31215 "fwlink URLs in error messages are broken."
for example:

[code]

that URL ( '[https://go.microsoft.com/fwlink/?linkid=848054.](https://go.microsoft.com/fwlink/?linkid=848054.)' ) is broken - it just goes to an ad for surface laptops. i mean, are you rying to suggest my code would work if only if forked out a grand for a new machine?

[2021-03-24 21:44] davidfowl commented on #4707
There is, you can set the minimum data rate (the error itself has a pointer to the thing you need to change) https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.server.kestrel.core.kestrelserverlimits.minrequestbodydatarate?view=aspnetcore-5.0

[2021-03-24 21:58] Andrzej-W commented on #31048
I would like to add some information about my experience with ESET Internet Security installed on my own laptop. This laptop has Core i7-6500U processor which is optimized for battery life and not performance. When ESET doesn't monitor HTTPS traffic I have to wait about 1.5s to download and run default Blazor WASM ASP.NET Hosted application. When HTTPS traffic monitoring is enabled I have to wait

[2021-03-24 22:01] #31114 closed

[2021-03-24 22:05] #29650 closed

[2021-03-24 22:25] NTaylorMullen commented on #31165
VSTS issue: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1297102

[2021-03-24 22:51] halter73 commented on #31169
Socket errors. We have observed this with HttpClient. It tries to reuse the connection after the 413 response and doesn't "see" the socket close/error until after it's sent the subsequent request on the same connection.

The "Connection: close" header exists to avoid these socket errors. It's optional, but it *should* be sent if the server plans to immediately close the connection.  I'm not sugges

[2021-03-24 22:54] pranavkm opened #31212 "Attempt to reduce AspNetCore's contribution to the CLI's size"
* [x] Remove dependency on CLI.Utils so we could remove NuGet binaries from dotnet-watch
* [x] Attempt to re-use M.CodeAnalysis.CSharp binaries from the compiler directory.

[2021-03-24 23:01] pranavkm opened #31214 "[dotnet-watch] Polish UX for hot-reload"
Present a polished experience for notifying of hot reload updates, compilation / syntax errors, rude edit notification, and ability to force a rebuild from the app

[2021-03-24 23:11] davidfowl commented on #31169
I don't see how this behavior is expected or desirable. I think we need to see what other servers offer here before doing anything else

[2021-03-24 23:16] pranavkm commented on #31212
FYI @vitek-karas

[2021-03-24 23:31] HaoK commented on #26679
Keeping this open to track doing this as well for components

[2021-03-25 00:25] pranavkm opened #31217 "[dotnet-watch] Host MSBuild in-process instead of shelling out"
This has a few advantages including possibly faster builds in a rude edit, as well as a more robust API to interact with MSBuild

[2021-03-25 00:32] allisonchou opened #31218 "Respect indent size setting in Razor LSP and Tools->Options"
https://github.com/dotnet/aspnetcore-tooling/pull/3317 adds support for respecting the tab size in Tools->Options. However, we should be respect indent size as well. The LSP client also needs to send us the correct indent size value.

[2021-03-25 00:42] j4587698 commented on #31187
@javiercn Thank you for your reply. I want to use it in reflection, and I don't want to pass in service as a parameter. I want to have an approximate static method to get service in a method that can't inject.

[2021-03-25 00:59] ScottKane commented on #31198
Not sure this is all necessary, but I got it working with the following:

[code]

[2021-03-25 02:29] CurtisFulton opened #31219 "IHost Memory leak with CreateDefaultBuilder"
### Describe the bug
Stopping and disposing an instance of IHost leaves FileSystemWatchers, causing a small memory leak.
Seems to be related to the default configuration files it tries to watch.

### To Reproduce
Using the Standard .Net 5 Console App template in Visual studio.

[code]

Running the above code, note the memory usage of the console app consistently goes up.
After ~15000 loops it was

[2021-03-25 02:35] BrennanConroy commented on #31219
Looks like a dupe of https://github.com/dotnet/aspnetcore/issues/31125

[2021-03-25 02:43] CurtisFulton commented on #31219
Didn't seem like it at first, but based on the pull request fixes it looks like it's the same issue.

Do I close this one or do they both stay open until it's fixed?

[2021-03-25 02:46] pranavkm commented on #27730
All Blazor WASM assemblies have been annotated with trimmer attributes and marked as IsTrimmable=true as of preview4.

[2021-03-25 02:46] #27730 closed

[2021-03-25 02:47] BrennanConroy commented on #31219
Let's close this, if you think it's different we can reopen :)

[2021-03-25 02:47] #31219 closed

[2021-03-25 03:01] #31173 closed

[2021-03-25 05:17] Tratcher commented on #31203
How would the middleware determine the time zone a request originated from? And what would you expect it to do with that information?

[2021-03-25 05:41] trannamtrung1st commented on #31203
### How?
Like **RequestLocalizationMiddleware**, we can provide some built in Timezone providers from Query, Header, Cookie. The clients will send the value of current TimeZoneId (e.g., SE Asia Standard Time) or the current TimezoneOffset (in minutes) so server could determine the time zone of current request.

### What I want to do
In my application, when a client submits a datetime value, I need

[2021-03-25 06:37] danroth27 opened #31224 "Inconsistent syntax for boolean values in launchSettings.json"
With .NET SDK 6.0.100-preview.3.21173.9 I created an empty ASP.NET Core app and the launchSettings.json file had some quotes around the bool value for `dotnetRunMessages`:

[code]

[2021-03-25 07:00] #31179 closed

[2021-03-25 07:04] davidfowl opened #31225 "Fix expect 100 continue logic in Kestrel to avoid doing sync over async"
### Describe the bug
Though this doesn't cause any problems in practice (we believe), there's a code cleanup that needs to happen around expect 100 continue handling in Kestrel. The code paths ProduceContinue are called from are all asynchronous, yet the method is synchronous and does sync over async. Lets fix that finally.

Here's the code https://github.com/dotnet/aspnetcore/blob/333134cf80af0b4

[2021-03-25 07:27] dafeifei0218 commented on #26458
I also had a certificate problem. New Asp.Net The Core Web or API HTTPS project will report an error.
Administrator power shell execution, also reported an error.
dotnet dev-certs https --clean;
dotnet dev-certs https --trust;
![微信截图_20210325151907](https://user-images.githubusercontent.com/10148878/112434005-fd000f00-8d7d-11eb-85c7-fd5706b31345.png)

These links are not suitable for me
https://do

[2021-03-25 07:46] Pvlerick commented on #31191
Sounds correct. Currently nothing is sent back to the client.

[2021-03-25 08:11] ddobric opened #31227 "Blazor WASM with Azure AD auth hangs on 'Completing login'"
### Describe the bug
I have implemented the Blazor WASM standalone application with login using OIDC. That works fine as long I use the authority

[code]

As next I want to enable the same application for MS Accounts (live.com). I have created the AAD application by enabling all AAD and personal accounts.

![image](https://user-images.githubusercontent.com/1756871/112438479-403f8b00-8d48-11eb-9e4d

[2021-03-25 08:32] dafeifei0218 commented on #26458
It's settled.
get into certlm.msc 、 certmgr.msc , delete the loadhost certificate.
Execute dotnet dev certs HTTPS, dotnet dev certs HTTPS -- trust in CMD
Just run the project again.

[2021-03-25 08:39] davidfowl commented on #31203
This doesn't seem feasible. There's no ambient timezone to set in .NET that will make all functionality adapt to the currently set time zone. You need to file an issue on https://github.com/dotnet/runtime, to expose functionality like that before this request is meaninful.

With the culture middleware, we set the current culture and that affects many things in .NET, this wouldn't have the same eff

[2021-03-25 08:56] trannamtrung1st commented on #31203
Currently, I store the value of detected time zone to HttpContext.Items. It is just a mean for developer to retrieve the value and will not cause too much side effect. Basically I think it is an extension for the current framework, not mandatory.

[2021-03-25 08:58] davidfowl commented on #31203
I don't see the value in this middleware, it's something you can do yourself today. Why do you think we should put this in the framework rather than it being something you maintain in a github repository?

[2021-03-25 08:59] davidfowl commented on #29150
I couldn't tell you why from that. @jeffschwMSFT we need to dig into understanding how the CPU limits affect certain workloads.

[2021-03-25 09:09] spencer741 opened #31229 "Hosting Multiple (React) SPAs in Asp.Net Core for development."
This might start off sounding like a general usage question; however there have been multiple SO posts that mention this topic in one way or another.

[Notable example #1](https://stackoverflow.com/questions/64013772/how-to-host-multiple-react-spa-apps-on-a-single-asp-net-core-site)

[Notable example #2](https://stackoverflow.com/questions/48216929/how-to-configure-asp-net-core-server-routing-for-

[2021-03-25 09:20] javiercn commented on #31187
@j4587698 thanks for the additional details.

We don't offer any static method to get a hold to the IServiceProvider since is not a recommended pattern (and there are multiple scopes in Blazor Server applications, which makes it even harder).

You can either inject the service or inject the service provider, we don't offer an alternative out of the box

[2021-03-25 09:43] andrew-tevent commented on #31189
It appears that AVG know about this and have removed the detection:

![image](https://user-images.githubusercontent.com/78795042/112452391-7da71700-8d4e-11eb-9bff-913765f24cf3.png)

[2021-03-25 09:43] #31189 closed

[2021-03-25 09:43] trannamtrung1st commented on #31203
I already resolved it using the above approach so I want to raise the idea here. I just think that it would be more complete if the section **Globalization and localization in ASP.NET Core** includes this because time zone is also an important aspect of i18n applications.
You could think about this and if it is still not in the plan, it's okay to close this issue.

Many thanks.

[2021-03-25 09:57] stsrki commented on #30070
Happening also with our Blazorise components. https://github.com/stsrki/Blazorise/issues/1823

ABP framework is also affected. https://github.com/volosoft/volo/issues/5807

It's a pretty serious bug and I don't think **affected-few** label is valid anymore.

[2021-03-25 10:00] javiercn commented on #31229
@spencer741 thanks for contacting us.

Nothing that you are doing strikes me as wrong, however this is not a common scenario we tend to encounter. An alternative and better solution for your case might be to reverse the way the integration works and instead proxy from the SPA app to the .NET Core backend. That way you access it from the SPA dev proxy URL and proxy the API requests to ASP.NET Core

[2021-03-25 10:02] javiercn commented on #31227
@ddobric thanks for contacting us.

If you follow https://docs.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/standalone-with-microsoft-accounts?view=aspnetcore-5.0 does this work?

[2021-03-25 10:24] Trapulo opened #31231 "Blazor: RefreshDataAsync downloads data but does not show them"
### Describe the bug
I have a Virtualize  binded to an ItemsProvider.
When I receive a signalR notification I call RefreshDataAsync()
the Virtualize  downloads a new set of data from the the provider, but does not update the GUI. For example if the list was empty, it downloads new available data but list remains empty

### To Reproduce
 await hubConnection.StartAsync();
                    hubConn

[2021-03-25 10:31] spencer741 commented on #31229
@javiercn thanks for the response!

It does appear that the root page is getting served instead of the static content... I wonder why the proxy middleware is not forwarding these particular request correctly?

I thought about reversing the functionality like you mentioned, but I would like to (end-to-end) test as close as I can to prod.

[2021-03-25 10:49] tahaAttique opened #31232 "I need to extend the Session Expiry Timeout/ Login Expiry Timeout in ASP.NET Core Blazor Server"
I am developing a Blazor Server ASP.net core app. It has Cookie based authentication using RevalidatingIdentityAuthenticationStateProvider. When I login I find '.AspNetCore.Identity.Application' Cookie in my browser.

The problem I am facing is that I want to expend Session Expiry Timeout/Login Expiry Timeout and I am unable to do so.

**Right Now Situation:** After 30 min of my login when I refre

[2021-03-25 10:52] javiercn commented on #31229
@spencer741 if you reverse the way the proxying works it's actually closer to your E2E scenario. I haven't been around that area of the codebase in quite a while, but if I recall it correctly the only thing the SPA extensions do in a production environment is serve the spa app from a different folder.

[2021-03-25 11:43] glucaci opened #31233 "Middleware lost AsyncLocal state if "next" is awaited"
### Describe the bug
`Activity` used inside a middleware get lost if `next` `RequestDelegate` is awaited.

### To Reproduce
[code]
### Further technical details
- SDK 5.0.104
- ASP.NET Core Runtime 5.0.4
- VS 16.9.0

[2021-03-25 12:02] javiercn commented on #31232
@tahaAttique thanks for contacting us.

You need to trigger a fetch request from the browser to an endpoint on the server to make the cookie slide

[2021-03-25 12:09] mumby0168 commented on #31181
Will there be a way to have the framework pick these up via reflection? A bit like services.AddControllers() detects all controllers in the assembly. Maybe marking the "special" methods with an attribute?

Thanks,
Billy

[2021-03-25 12:26] DhivyaRajendran opened #31234 "No event handler exception thrown when bind blur event in WASM application"
### Describe the bug:

Below exception thrown when navigating to the next cell in the table header(while navigating we focus the cell and apply a style and tabindex, In blur event, we remove the class name and update the tabindex ).

There is no event handler associated with this event. EventId: '29'

blazor.webassembly.js:1 Uncaught (in promise) Error: System.ArgumentException: There is no event

[2021-03-25 12:37] MeikTranel commented on #14207
Can we get this issue back in the roadmap?
It sounds like the underlying ability is already there and just needs to be exposed - https://github.com/grpc/grpc-dotnet/issues/1112#issuecomment-727176187

And i really disagree with the affected-very-few label, as this seems to be the one issue blocking the entire IPC story in .NET Core  for those migrating from Framework. This would be incredibly help

[2021-03-25 13:14] Leonardo-Ferreira commented on #30993
@davidfowl despite great effort I was unable to duplicate the `httpContext` and have the request arrive at the controller properly. Do you know of anybody that has successfully done so? perhaps some repo/code I can refer to?

[2021-03-25 13:54] mgazell commented on #31079
Hi @BrennanConroy ,

Are you still not able to repro the issue? Please let me know if you need more inputs.

[2021-03-25 13:59] TanvirArjel commented on #31058
The proper solution would be what @davidfowl said. These super low-level helpers should be in BCL.

[2021-03-25 13:59] tahaAttique commented on #31232
Adding the following lines in Startup.cs solved the problem
[code]

[2021-03-25 14:00] tahaAttique commented on #31232
Thanks @javiercn  !!

[2021-03-25 14:05] Vikki123 commented on #31079
We are also facing the same issue. We do not support re-connect option as its not feasible for the use case. Any workaround to keep the ping alive ?

[2021-03-25 14:21] danmoseley commented on #14207
@carlossanlop this sounds like it might have been addressed by your work to improve ACL API on pipes?

[2021-03-25 14:25] IvanFeric opened #31236 "Content-Security-Policy issues with Blazor WASM"
I'm building a Blazor WASM app that's using OpenID Connect for authentication and I started with a built-in template for Blazor WASM with included Individual Accounts authentication type, and checked all of the checkboxes ("Configure for HTTPS", "ASP.NET Core hosted", and "Progressive Web Application").

I've decided to strengthen the security by adding a Content Security Policy. For starters, I t

[2021-03-25 14:41] jeffpapp opened #31237 "Razor VS Code tooling path too long error on startup"
### Visual Studio Code

Select the `Razor: Report a Razor Issue` command in [VSCode Command Palette](https://code.visualstudio.com/docs/getstarted/userinterface#_command-palette) and follow the instructions to gather information necessary for us to investigate. Paste below:

---

Using the `Razor: Report a Razor Issue` resulted in an error in VS Code.

![image](https://user-images.githubuserconten

[2021-03-25 14:53] blowdart commented on #31215
[Fixed](https://go.microsoft.com/fwlink/?linkid=84805).

I believe this means you should buy _me_ a new laptop though.

[2021-03-25 15:01] davidfowl commented on #31181
@mumby0168 explicitly no. No scanning will be done by default to discover these, we already have that framework (mvc). This building blocking can be used to build that sort of thing if you want but we won’t be building that again.

[2021-03-25 15:11] davidfowl commented on #30993
What issues are you running into?

[2021-03-25 15:12] Leonardo-Ferreira commented on #30993
@davidfowl the request never actually hits the intended controller

[2021-03-25 15:25] davidfowl commented on #30993
If you can make me a sample I'll try to reproduce it.

[2021-03-25 15:50] hhyyrylainen commented on #31163
@javiercn thanks for the tip. This is the first time I'm working on a C# project of this kind, so I just went with the first guide I found, and that said to just put tests in a separate folder.

I suppose this issue can be closed, then, if it isn't useful for the future to figure out why `dotnet publish` can't get the hash correct on `Microsoft.TestPlatform.PlatformAbstractions.dll`

[2021-03-25 15:56] gurux-kurumi commented on #31231
Hi,

I have struggled with the same thing for two days. It' seems that when RefreshDataAsync is called again UI is updated.

[2021-03-25 16:04] prasadmamidi7 commented on #31079
I am also facing same problem

Use case
------------
- Create asp.net core singlar core application as backend app
- Create angular app as frontend app
- Go with default values for ClientTimeoutInterval (30sec) and KeepAliveInterval (15sec)
- Launch angular app on chrome browser , miminize the browser for 7 mins
- Signalr Hub will get OnDisconnectedAsync on backend app and websocket connection is

[2021-03-25 16:09] BrennanConroy commented on #31079
Still can't repro, We have a rough idea of where there could be an issue with the library with the new Chrome "feature", so we'll try to figure something out there. And probably rely on the community to test it out :)

A workaround would probably be to change the server-side and client-side timeout values to be over 1 minute.

[2021-03-25 16:14] SteveSandersonMS commented on #20154
Unquarantined in https://github.com/dotnet/aspnetcore/pull/31154

[2021-03-25 16:14] #20154 closed

[2021-03-25 16:15] SteveSandersonMS commented on #27374
Unquarantined in https://github.com/dotnet/aspnetcore/pull/31154

[2021-03-25 16:15] #27374 closed

[2021-03-25 16:17] sakno commented on #29150
My assumption is that the current workload with containers is running on top of VMWare infrastructure. VMWare hypervisor has its own resource management and limits. Probably, container limits don't work well (or even conflict) with limits established by hypervisor. Without container limits, the throttling is no longer observable.

[2021-03-25 16:30] mkArtakMSFT commented on #31236
Thanks for contacting us. This is a dupe of #31190

[2021-03-25 16:30] #31236 closed

[2021-03-25 16:30] TLabWest commented on #13090
This is a huge issue. We can't use any external component libraries that use the namespace `Blazor.SomeLib` because our components reside in the namespace `MyProduct.Blazor`. The generated code will try to resolve `<Blazor.SomeLib.SomeComponent>` as `<MyProduct.Blazor.SomeLib.SomeComponent>` and naturally fail hard.

I can't use an alias to get around the issue and razor syntax doesn't understand

[2021-03-25 16:31] mkArtakMSFT commented on #31234
Thanks for contacting us. This is a dupe of #26838

[2021-03-25 16:31] #31234 closed

[2021-03-25 16:32] TanayParikh commented on #28030
Fixed via https://devdiv.visualstudio.com/DevDiv/_git/VS-Platform/pullrequest/309619 🎉

[2021-03-25 16:32] #28030 closed

[2021-03-25 16:34] mkArtakMSFT commented on #31231
Thanks for contacting us.
Do you get any errors ? can you share them, if you do?

[2021-03-25 16:34] campersau commented on #31231
According to the code comment it looks like this behavior is intentional and you need to call `StateHasChanged` manually afterwards. I also ran into this issue some months ago.

https://github.com/dotnet/aspnetcore/blob/a28da74c363454b78fbcf042e1a94dfc6e255e1a/src/Components/Web/src/Virtualization/Virtualize.cs#L110-L113

[2021-03-25 16:34] mkArtakMSFT commented on #31231
If not, please provide a small repro project hosted in GitHub.

[2021-03-25 16:36] mkArtakMSFT commented on #31208
Thanks for contacting us. This is a dupe of https://github.com/dotnet/aspnetcore/issues/28640

[2021-03-25 16:36] #31208 closed

[2021-03-25 16:38] mkArtakMSFT commented on #31198
Glad that you've been able to solve this.
Your solution looks fine as it solves the problem.

[2021-03-25 16:38] #31198 closed

[2021-03-25 16:42] SteveSandersonMS opened #31238 "Custom event args can't receive IJSObjectReference"
The JSON deserializer for custom event args doesn't use the options on the `JSRuntime`, so it doesn't use the custom converters and can't receive either `IJSObjectReference` or `DotNetObjectReference`.

[2021-03-25 16:43] mkArtakMSFT commented on #31190
Thanks for contacting us.
This seems to be a WebAssembly issue on Chrome. It's tracked at https://github.com/WebAssembly/content-security-policy/issues/7

[2021-03-25 16:43] #31190 closed

[2021-03-25 16:43] jkotalik commented on #31146
`ReplaceBody`?

Also, Pipes?

[2021-03-25 16:46] jkotalik commented on #21923
@davidfowl should we close this? You attempted to do this in https://github.com/dotnet/aspnetcore/pull/24851, but it was less performant.

[2021-03-25 16:48] Trapulo commented on #31231
You pointed to the right way. It works if I force a stateChanged on my component after the refresh

await listVirtualizer.RefreshDataAsync();
this.StateHasChanged();

I cannot understand why RefreshDataAsync does not provide a way to perform a "full refresh", eg. managing a renderOnSuccess parameter.

[2021-03-25 16:54] Vikki123 commented on #31079
@BrennanConroy I quite dint understand how increasing the timeout to 1min would solve this issue. Isnt it going to fail anyways after one min as the connection is disconnected already due to inactivity.?

[2021-03-25 16:54] Vikki123 commented on #31079
@BrennanConroy I quite dint understand how increasing the timeout to 1min would solve this issue. Isnt it going to fail anyways after one min as the connection is disconnected already due to inactivity.?

[2021-03-25 17:05] davidfowl commented on #31233
This is by design and how async locals work. Modifications do not bleed out of the async method.

[2021-03-25 17:06] davidfowl commented on #31146
The pipe API isn't settable today and this isn't possible today. We could consider it though.

[2021-03-25 17:09] davidfowl commented on #21923
Yes, I'll open a new, more general issue about static files performance improvements.

[2021-03-25 17:09] #21923 closed

[2021-03-25 17:15] NinoFloris opened #31240 "ctx.RequestAborted in a trace surfaces many Dictionary.Resize calls"
Feature collection initializes the inner dictionary without a capacity, after the first insert this would mean it grows to 3 (due to prime based capacity growth).
https://github.com/dotnet/aspnetcore/blob/1c8da41a1063c9776e559178af16477d78417e55/src/Http/Http.Features/src/FeatureCollection.cs#L74-L78

What we're seeing in traces is that we have a lot of pointless resizing as the framework and user

[2021-03-25 17:19] davidfowl commented on #31240
What server implementation is this?

[2021-03-25 17:19] NinoFloris commented on #31240
Kestrel with DefaultHttpContext

[2021-03-25 17:19] Davilink commented on #31079
Other workaround: using the onclose event
[code]

Note: i didn't tested this workaround and my concern will be the same as before, it possible to have data loss. Other thing to take into consideration is the fact that it's a new connection, so if you are using groups, you will need to resubscribe to the group.

[2021-03-25 17:20] davidfowl commented on #31240
Doesn't make sense. Kestrel doesn't use this implementation of the FeatureCollection.

[2021-03-25 17:23] NinoFloris commented on #31240
I see, let me try and find the right one then. I've been doing github spelunking starting from DefaultHttpContext

[2021-03-25 17:26] davidfowl commented on #31240
I say this because there's literally no dictionary https://github.com/dotnet/aspnetcore/blob/85a6cb07ae2e1adf5a03740f8d40333b7b8e360c/src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.Generated.cs.

There's a list for unknown features but this is a known feature...

[2021-03-25 17:41] wasabii opened #31243 "ASP.Net Core 3.1 app not starting in IIS (on Azure App Service)"
### Describe the bug
One of my App Services is failing with an exception on Azure. Long before it hits user code. Started on updating some NuGet packages. Some native IIS stuff inside AspNetCore.Server.IIS is throwing an exception when it gets an invalid HRESULT. What's interesting about this is everytime it happens, the "Version" it lists is different. That tells me there's some sort of memory st

[2021-03-25 17:42] #30977 closed

[2021-03-25 17:47] dougbu commented on #24755
The history of this test is horribad. Why wasn't it skipped❔ We want the quarantined runs to at least have a chance of being clean.

Runs in main haven't passed since the 18th:
![image](https://user-images.githubusercontent.com/6431421/112519215-615ba800-8d57-11eb-96ba-c014746793a8.png)

[2021-03-25 17:50] davidfowl commented on #24755
I wonder if its just broken at this point.

[2021-03-25 18:01] NinoFloris commented on #31240
Ah right it's the codegenned unit, do the custom ones end up in MaybeExtra with an initial capacity of 2?

Either way, going to look again where the Dictionary.Resize is coming from, could it be the Items dictionary itself? (this trace is massive, I get lost in the stack depth)

I'll update my opening comment if I still think there's anything actionable, otherwise I'll close.

Thanks for the quick

[2021-03-25 18:03] captainsafia opened #31244 "Switch to the new incremental source generator API in Razor source generator"
Let's try out the new incremental source generator API introduced via https://github.com/dotnet/roslyn/pull/51964 to bring in the benefits of more caching and the artifacts production API.

[2021-03-25 18:07] NinoFloris commented on #31240
Looking at it again from the backtrace I really do see the FeatureCollection pop up, yet I'm certain we use Kestrel, how can this be?

<img width="920" alt="Screenshot 2021-03-25 at 19 05 24" src="https://user-images.githubusercontent.com/4218809/112521743-28462680-8d9d-11eb-85e1-ac36f5f46278.png">

[2021-03-25 18:44] HaoK commented on #29698
These tests are now unquarantined again

[2021-03-25 18:44] #29698 closed

[2021-03-25 18:45] pranavkm opened #31245 "[dotnet-watch] Add an option to capture hot reload deltas in Blazor Wasm"
This should help debugging hot reload issues. This would involve setting a browser variable that would cause incoming deltas to be stashed away:

[code]

[2021-03-25 18:46] pranavkm commented on #31245
FYI @lambdageek

[2021-03-25 18:51] davidfowl commented on #31240
We just need an API suggestion to allow specifying the capacity instead of hardcoding it.

[2021-03-25 18:54] glucaci commented on #31233
Yes, just found the [blog post](https://blog.stephencleary.com/2016/12/eliding-async-await.html) from @StephenCleary and I didn't know that it will only "flow down" and not "up".

So the idea is than, who an `Activity` created on a lower level can be accessed on a higher level? (given the example above)

[2021-03-25 19:01] pr-benchmarks[bot] opened #31247 "Performance difference: connectionclose"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| connectionclose  | Plaintext Connection Close aspnet-citrine-amd | 03/24/2021 08:23:09 | 22,814 | 22,523 | -1.27 % (-291)  :thumbsdown:  | -5.79 σ | 50.21 |

#

[2021-03-25 19:01] pr-benchmarks[bot] opened #31248 "Performance difference: updates"
A start time regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| updates  | Updates Platform aspnet-citrine-arm | 03/24/2021 09:00:13 | 4,975 | 5,157 | 3 % (182)  :thumbsdown: | 3.70 σ | 49 |

### Changes:

| Runtime | Prev

[2021-03-25 19:02] mconnew commented on #14207
@danmoseley, @carlossanlop, is there also support for modifying the QOS parameters of the named pipe? By default, when a client connects to a named pipe, the server has impersonation permissions for the identity that the client had when connecting. I know the named pipe classes in .NET even allows you to provide a delegate to execute using that impersonation feature. WCF explicitly turns this off

[2021-03-25 19:03] adrianwright109 commented on #31063
@captainsafia I have installed .NET 6 Preview 2 and updated my `*.csproj` `PackageReference`s to `6.0.0-preview.2.*`

I ran the repro project again and its still failing to hit the breakpoint on the `Counter` page.  The fix for dotnet/runtime#47792 doesn't seem to have fixed my issue.

I have created a new branch `net6-preview2` in my repo which has the .NET 6 preview 2 updates that still aren't w

[2021-03-25 19:03] #24635 closed

[2021-03-25 19:05] NinoFloris opened #31249 "New FeatureCollection constructor for initialCapacity"
## Background and Motivation
Some background can be found here, dictionary resizes were fairly visible in traces https://github.com/dotnet/aspnetcore/issues/31240

## Proposed API

[code]

## Usage Examples
Initial place this will be used is

[code]

The initial capacity of 10 is just an example, say 5 or 7 would also be fine for me.

## Alternative Designs
This could also be handled through an in

[2021-03-25 19:06] NinoFloris commented on #31240
Done https://github.com/dotnet/aspnetcore/issues/31249

[2021-03-25 19:06] #31240 closed

[2021-03-25 19:11] davidfowl commented on #31125
Fixed

[2021-03-25 19:11] #31125 closed

[2021-03-25 19:13] davidfowl commented on #31249
API looks good to me. We'll review it in API review.

[2021-03-25 19:37] dougbu commented on #24755
Looks that way

[2021-03-25 19:47] wtgodbe commented on #18091
Hmm, when I inspect the 3.1.13 hosting bundle locally, the `wixstdba.dll` within is signed (whereas 3.1.12 wasn't):

<img width="300" alt="wixsig1" src="https://user-images.githubusercontent.com/14283640/112534313-244be180-8d68-11eb-90dc-348cea03aa5e.PNG">
<img width="297" alt="wixSig2" src="https://user-images.githubusercontent.com/14283640/112534325-29a92c00-8d68-11eb-9d70-630af3fb458d.PNG">

No

[2021-03-25 19:48] amartens181 commented on #24323
Is there a reason this isn't higher priority? The events are recommended in intellisense, indicating they are supported; if they are not, they would ideally be hidden so developers know the event is not supported.
Do the events not work because the audio/video element events do not bubble?

[2021-03-25 19:49] joeloff commented on #18091
Is the machine trying to upgrade an old 3.1 runtime? The upgrade will cause the old EXE to run to uninstall itself, which would then extract its payload which is likely still the unsigned copy.

[2021-03-25 19:52] wtgodbe commented on #30818
@joeloff so we need to remove all of the `RelatedBundleId`s from here? https://github.com/dotnet/aspnetcore/blob/release/2.1/src/Installers/Windows/SharedFrameworkBundle/Bundle.wxs#L16-L127

This lists up to 2.1.23 - 2.1.24 was the first release after we "fixed" upgrade behavior, so it isn't in there, and 2.1.25 is the first release that was built off of TeamCity.

[2021-03-25 20:01] joeloff commented on #30818
If you wanted to fix this, yes, but we can't because that break the MU requirements to remove older versions

[2021-03-25 20:27] pranavkm commented on #24755
Yup. I think it broke almost immediately after this was checked in and I never followed up on it. Happy to skip it. We do have CTI validating this, but we should make this work.

[2021-03-25 20:28] DexAkers commented on #28577
Just wondering if anyone knows if there was a solution that would allow the program to be ran in debug mode? I can get my program to run outside of debug mode just fine, but in debug mode its broken.

[2021-03-25 20:46] glucaci commented on #31233
For me it's now clear that using `Activity.Current` in this case is not possible. From my point of view we can close this but if you want, we can keep it open for Discussions.

[2021-03-25 20:53] pranavkm opened #31252 "Add EditContext.IsValid(..) to determine if a field has any associated validation messages."
## Background and Motivation

## Proposed API

Add an API to query if a FieldIdentifier is valid without having to get validation messages. We have several places that get the messages only to determine this condition e.g. https://github.com/dotnet/aspnetcore/blob/main/src/Components/Web/src/Forms/InputBase.cs#L245

This has the sneaky benefit of removing yet another Linq call because we do someth

[2021-03-25 21:38] CoffeeFlux opened #31256 "Blazorwasm: enable publish-time relinking for non-AOT projects"
This will enable additional size savings, particularly when InvariantGlobalization is setup.

It requires both SDK changes to acquire the workload packs and lifting the condition [here](https://github.com/dotnet/aspnetcore/blob/main/src/Components/WebAssembly/BlazorManifest/src/WorkloadManifest.targets#L6).

cc: @pranavkm

[2021-03-25 22:03] dougbu commented on #22788
@HaoK is this still a big deal on the Helix side❔ Now that Core-Eng provisions agents so dynamically, I doubt using a single kind of Linux Helix agent would matter that much but want to confirm.

[2021-03-25 22:22] HaoK commented on #22788
I'm not sure exactly what this issue is tracking, I know @javiercn mentioned a long term idea of moving our builds/tests to working against a docker container so everything is preinstalled and we can just run it on helix queues.

[2021-03-25 23:24] halter73 commented on #18893
Connection timeout. A connection would always start to gracefully shutdown after any connection has been open for over the configured timeout whether it's idle or not. The scenario we care about is periodically closing all connections so clients can get new DNS records.

I'm not sure how you'd deal with conflicts from multiple requests from the same connection. I guess you could say most-recently-

[2021-03-25 23:35] #31233 closed

[2021-03-25 23:38] halter73 commented on #18893
My current ranking of preference on how we address this:

1. Server-wide `MaxConnectionLifetime` (was `DrainTimeout`) configuration only that defaults to infinite.
2. `Connection: close` response header triggers graceful connection shutdown
3. ...
4. ...
5. ...
6. `ISomeConnectionFeature.CloseGracefully()`
7. ...
8. ...
9. ...
10. `ISomeConnectionFeature.DrainTimeout`

We definitely need to do som

[2021-03-25 23:51] captainsafia commented on #31063
@adrianwright109 Woop! I mapped the merge date on that PR to the incorrect release. I believe the fix actually landed in preview3. You can find the install instructions for that at https://github.com/dotnet/installer

[2021-03-25 23:57] pranavkm opened #31260 "[dotnet-watch] Hot reloading Program.Main* succeeds as a non-rude edit but does nothing"
Consider a webapp with hotreload enabled with the following Program.cs:

[code]
If an edit is made to the file, `EmitSolutionUpdateAsync` produces a successful delta for it, and `ApplyDelta` succeeds. However, the changes to the files have no effect on the running code. This issue also affects top level statements.

[2021-03-25 23:57] captainsafia commented on #31194
As part of https://github.com/dotnet/aspnetcore/issues/27631, we moved the top-level build script to encourage contributors to use the project-specific build scripts (which are what people should do 98% of the time).

We can add a little disclaimer about the location of the top-level build script for those who need it.

[2021-03-25 23:59] ryanbrandenburg opened #31261 "Razor VS colorization names "HTML Razor" -> "Razor""
It's a bit clunky to call it "HTML Razor TagHelper Element", lets shorten it but keep their order/position.

[2021-03-26 00:31] #16876 closed

[2021-03-26 00:31] stephentoub commented on #31194
Thanks.  In my case, I wanted to enable an analyzer, in which case not building all the code in the repo would be irresponsible :)

[2021-03-26 01:13] StephenCleary commented on #31233
Activities have a "scope" as described. By the time `Microsoft.AspNetCore.Hosting.HttpRequestIn.Stop` is triggered, the inner scope has already been closed.

You could attach extra data, though, in this case using `HttpContext.Items`, and that may work for what you need. I use a similar technique in `HttpClient`'s pipeline - I have an outer handler that does logging and an inner handler that attac

[2021-03-26 01:44] meziantou opened #31263 "Razor generates code that doesn't compile when using generic components and RenderFragments"
### Describe the bug

Razor generates code that doesn't compile when using a RenderFragment into a generic component

### To Reproduce

1. Create a .NET 6.0 - Blazor Server application
2. Shared/Data.cs

[code]

3. Shared/Repro.razor

[code]

4. Pages/Index.razor

[code]

### Exceptions (if any)

I got a similar error with .NET 5 and .NET 6

[code]

### Further technical details
- ASP.NET Core ver

[2021-03-26 02:00] JamesNK commented on #31181
Is there a way to get access to the `HttpContext` with an abritary method?

[2021-03-26 02:01] #31188 closed

[2021-03-26 02:11] steveoh opened #31264 "Distributed cache key access"
I am building a demo of distributed cookie auth with redis and hoping to end up with something where I can see all of the places the same user is logged in.

![image](https://user-images.githubusercontent.com/325813/112567071-cb9b3980-8da5-11eb-999f-ca3a96161f54.png)

The distributed caching is working but I am unable to retrieve the key that is being used to store that value in a controller metho

[2021-03-26 02:15] halter73 commented on #31181
Yep. Just add an `HttpContext` parameter:

https://github.com/dotnet/aspnetcore/blob/51895242cfc5a00073b9a1236cac5e1186fe297b/src/Http/Routing/src/Internal/MapActionExpressionTreeBuilder.cs#L143-L146

[2021-03-26 02:15] Bludator opened #31265 "Update Java SignalR client to use RxJava3"
Java SignalR client still uses [RxJava](https://github.com/ReactiveX/RxJava)2.

[RxJava](https://github.com/ReactiveX/RxJava)2 reached end-of-life last month so it is beyond time to update to [RxJava](https://github.com/ReactiveX/RxJava)3.

[2021-03-26 02:33] davidfowl commented on #31181
Part of me is wondering if this is more of a factory than a builder?

[2021-03-26 02:47] halter73 commented on #31181
That's a good point. I'll change it to `RequestDelegateFactory` in the PR.

[2021-03-26 03:00] Plasma opened #31266 "IAuthorizationService is async only, so call callers must be async"
Hey,

I've hit an issue where some code paths (eg, interceptor code that intercepts non-async code paths) cannot call `AuthorizeAsync` because this would be async over sync.

Is there any guidance on how to approach this, on one hand I could use `_authService.AuthorizeAsync(...).GetAwaiter().GetResult()`, and not use any actual async/await code in the handlers (eg use `Task.FromResult` for everyth

[2021-03-26 03:01] #31178 closed

[2021-03-26 03:05] davidfowl commented on #31266
Where are you calling it from that isn't asynchronous?

[2021-03-26 03:09] davidfowl commented on #31225
@wtgodbe assigned this to you for the next preview.

[2021-03-26 03:19] #31203 closed

[2021-03-26 03:26] lucent-sea commented on #5674
I found this thread while looking for `OnBeforeRender` event.

I agree with @markzielinski that the existence of `OnAfterRender` makes it 100% sensible to have `OnBeforeRender`.

[2021-03-26 03:49] Plasma commented on #31266
Hey David, a few examples:

1. A custom built `MyService` service that has a `DoSomething()` method that happens to be non-async, and so I want to re-validate authorization at that moment. For me to do that, I'd need to make it `async` (and bubble that up)

2. An explicit `IInterceptor` I have between data passing between service method calls, so having a validation between method calls (and those

[2021-03-26 05:07] davidfowl commented on #31266
Unfortunately, you'll need to make your calls asynchronous to accommodate the async APIs here. As async is viral, this change would mean making many other calls in the chain sync and that's not feasible.

[2021-03-26 06:38] ddobric commented on #31088
Have repro-solution right now. But, as described in my last comment, the issue occures when the MainLayout is enclosed in AuthorizeView.

[2021-03-26 06:46] ddobric commented on #31227
No, it doesn't. This document does not realy describe MS Account. Instead it describes AAD account with a single org.

And yes, it works as described in this document if you setup an Azure AD und login with the account registered in the tenant that owns the app.

If I change the authorize url to the common one, then redirect doesn't work as expected and application hungs in login.

We need a docum

[2021-03-26 07:00] #31144 closed

[2021-03-26 07:00] pr-benchmarks[bot] opened #31268 "Performance difference: endpoint"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| endpoint [Fixed] | Plaintext Endpoint aspnet-citrine-lin | 03/24/2021 20:08:18 | 3,899,239 | 3,996,925 | 2.51 % (97,686)  :thumbsup:  | 2.97 σ | 32,859.07 |

#

[2021-03-26 07:01] #31248 closed

[2021-03-26 07:01] pr-benchmarks[bot] opened #31269 "Performance difference: updates, caching"
A start time regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| caching  | Caching Platform aspnet-citrine-arm | 03/24/2021 20:55:39 | 5,125 | 4,901 | -5 % (-224)  :thumbsup: | -5.25 σ | 43 |
| updates [Fixed] | Updates Pl

[2021-03-26 07:13] ddobric opened #31270 "Bad request when passing parameter"
Have a Blazor  WASM standalone application that has a page receiving a parameter.

`/pagename/param`

Sometimes, parameter is few hundert characters long or it contains URLenxoded values. When some of these happen, the page cannot be opened.

To repro this, create a page with a single parameter [Parameter] and navigate to page by providing in URL the value similar to encoded JWT token. That one is

[2021-03-26 08:01] #31191 closed

[2021-03-26 09:36] andrew-tevent commented on #31079
I hope I'm not hijacking this, but I am seeing something similar in my Blazor WebAssembly app - in that the SignalR Core Client stops responding to KeepAlives from the server.  The server, not seeing a response within the KeepAlive Timeout closes the connection - the client immediately reconnects (I have auto reconnect on)

![image](https://user-images.githubusercontent.com/78795042/112611932-4d2a

[2021-03-26 09:42] adrianwright109 commented on #31063
@captainsafia - I have tested again this time using .NET 6 preview 3 and the breakpoints are now working 🎉

[2021-03-26 09:45] SteveSandersonMS opened #31272 "Components don't reset their received parameters during hot reload updates"
It's a bit unusual to remove a parameter value that you're passing to a child component, but if you do, our upcoming hot-reload-refresh mechanism doesn't yet account for it.

Repro: In the default project template, in `Index.razor`, change this:

[code]

... to this:

[code]

No change will show up in the UI. This is because the existing `SurveyPrompt` instance already has a value for its `Title`

[2021-03-26 10:01] #31187 closed

[2021-03-26 10:27] Jinjinov opened #31273 "Allow Blazor OIDC authentication without AuthorizeRouteView"
### Is your feature request related to a problem? Please describe.

I am trying to get a Google Drive access token using OIDC authentication in Blazor but I don't want to restrict user access to my Blazor PWA. The login to Google Drive should be optional - I don't want that Blazor checks for authorization every time the app starts and the user who is not logged in sees "Authorising..." for several

[2021-03-26 10:50] Jinjinov commented on #31273
Using `RouteView` instead of `AuthorizeRouteView` works, I had an error in my OAuth config.

[2021-03-26 10:50] #31273 closed

[2021-03-26 10:56] mimranfaruqi commented on #25165
This is not working for me :( none of other solutions too.

[2021-03-26 11:17] madks13 opened #31274 "Calling elements to render like Partials in MVC"
Hello,

i have a case where i want to make a page that takes one or multiple instances of an object and call for a rendering of a fragment based on object type or name. This was easily doable with partials in MVC but i can't seem to be able to easily do it with Blazor.

I know the wording might seem weird or confusing, and i don't really know how to properly explain it, but i did make an example p

[2021-03-26 11:44] pantonis opened #31275 "Add UserStore<TUser> : UserStore<TUser, DbContext, TKey>"
## Summary

When you want to override UserStore in order to be able to use it with custom ```UnitofWork``` and ```IdentityUser<TKey>``` is used,  there is no way to do it as there is only one constructor signature which defaults to ```UserStore : UserStore<IdentityUser<string>>```. Bear in mind that ```TRole``` is not used so I cannot use that overload

## In scope

A modern SaaS project does incl

[2021-03-26 11:55] adrianleonmorell opened #31276 "WS-Federation 500 error over get requests /signin-wsfed"
### Describe the bug
Hi guys, I'm using the Ws-Federation package with .net core and the integration process has been very good, mainly thanks to this documentation entry https://docs.microsoft.com/en-us/aspnet/core/security/authentication/ws-federation?view=aspnetcore-3.1.
I'm opening this issue becasue I'm not sure if it's normal that requesting the **/signin-wsfed** directly in the browser shou

[2021-03-26 12:17] Leandro-Albano commented on #31125
Awesome job guys, thanks a lot!

[2021-03-26 13:03] paaleirik commented on #30896
Yes

[2021-03-26 13:21] blowdart commented on #31276
What's in your logs? 500 indicates a server error, and your logs around that time would be the first place to look for more details

[2021-03-26 13:21] Jehoel commented on #4659
I feel this issue should be raised in priority and severity as recent - and upcoming - changes to browser handling of third-party cookies will effectively break front-channel OIDC operations, e.g. https://leastprivilege.com/2020/03/31/spas-are-dead/ and https://auth0.com/blog/browser-behavior-changes-what-developers-need-to-know/

There are workarounds: Edge, Safari and Firefox both support [the S

[2021-03-26 13:27] mshakurov opened #31278 "Blazor server. Scoped Service created twice outside the @Body. * is bug? *"
If Razor Component1 injecting Scoped Service1 is inserted outside the @Body of the LayoutComponent, then Service1 is created two times. Even if you insert 100 such components outside the @Body, two services will be created nevertheless. If Component1, or 100 such components is inserted inside another Razor Component2 inside the @Body, then Service1 is created once.

**I understand that this is abo

[2021-03-26 13:33] roysurles opened #31279 "Visual Studio Razor Component Editor modifies / unformats code"
### Describe the bug
Visual Studio Razor Component Editor modifies / unformats code

### To Reproduce
- In Visual Studio, open existing Blazor wasm project or create a new one.
- Open any Razor Component
- Add List<string> property with initializer
- Save component repeatedly
- The last brace keeps shifting to the right on every save

### Exceptions (if any)
None

### Further technical details
- A

[2021-03-26 13:49] adrianleonmorell commented on #31276
Thanks for the quick response this is what I get from the logs:
[code]

[2021-03-26 14:23] mrlife commented on #28128
Possible to commit to this for 6.0 since this was originally intended for 5.0?

[2021-03-26 14:33] kev160967 opened #31280 "Get active Blazor page component"
I'd like to obtain a reference to the component object for the currently displayed page.

I'm writing a menu component with the goal of not allowing the user to navigate away from a page (via the menu) if the active page wishes to block it (for example, if it has uncommitted changes). Before initiating a page navigation my component would like to ask the current page component whether it should al

[2021-03-26 14:39] davidfowl commented on #31125
No thank you for finding that bug. It's been there for ages 🤣

[2021-03-26 15:01] #31215 closed

[2021-03-26 15:37] brockallen commented on #4659
Coincidentally we made an announcement today about a new OSS library to address this scenario: https://blog.duendesoftware.com/posts/20210326_bff/

[2021-03-26 15:37] hez2010 commented on #18486
According to previous .NET 6 preview release blogs, I think the answer is YES.

[2021-03-26 15:41] brockallen commented on #27887
We made an announcement today about a new OSS library that implements the BFF pattern to provide security for SPA apps calling APIs: https://blog.duendesoftware.com/posts/20210326_bff/.

[2021-03-26 15:55] vsfeedback opened #31282 "Blazor WebAssembly compiler error after copy and rename"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Blazor-WebAssembly-compiler-error-after-/1375366)._

---
[severity:It's more difficult to complete my work]
I have a component that I have copied to a different folder/namespace and then renamed.
Blazor compiler shows error because it detects it is a duplicate, but it isn't because I hav

[2021-03-26 16:09] blowdart commented on #31276
Oh! Well don't do that :)

I'll demure to @Tratcher on if he thinks he wants to change it to be a bad request error.

[2021-03-26 16:13] blowdart commented on #31275
Identity is not designed for multi-tenancy, and we have no plans to do so. You could consider using [Orchard Core](https://www.orchardcore.net/)'s implementation of multi-tenancy and see if separate databases work for you. You don't need the full CMS, I believe the multi-tenancy pieces are quite stand alone.

[2021-03-26 16:18] pantonis commented on #31275
@blowdart The purpose of this design proposal is not to fulfil multitenancy. I just described my scenario. For me it sounds pretty logical to be able to specify TKey as part of the IdentityUser to be able to create custom stores. I mean it seems like a missing constructor overload. I can see that all other overloads exist and it seems to me like a forgotten one, unless I am missing something

[2021-03-26 16:36] captainsafia commented on #31063
@adrianwright109 Perfect! Great to have validation that the fix put in indeed works. Thanks for taking the time to test everything out.

[2021-03-26 16:36] #31063 closed

[2021-03-26 17:02] NTaylorMullen commented on #30834
Should validate: https://github.com/aspnet/AspNetCore-ManualTests/issues/518

[2021-03-26 17:04] #31163 closed

[2021-03-26 17:22] matthewpetch opened #31285 "SignalR Hub OnDisconnectedAsync is not called when client disconnects ungracefully"
### Describe the bug

Microsoft.AspNetCore.SignalR.Hub.OnDisconnectedAsync() is not called when client disconnects ungracefully

### To Reproduce

Run a service with a SignalR Hub

            services.AddSignalR(opt =>
            {
                opt.KeepAliveInterval = System.TimeSpan.FromSeconds(15);
                opt.HandshakeTimeout = System.TimeSpan.FromSeconds(15);
                opt.C

[2021-03-26 17:28] BrennanConroy commented on #31285
Can you provide a repro application, there isn't enough info here to figure out if anything is wrong.

[2021-03-26 17:33] jsgoupil opened #31286 "Validation is too strict on internal set; with null forgiving operator"
### Describe the bug
When using the JSON `[FromBody]` to receive data from the client, we sprinkle our models with
`{ get; internal set; }` so that we can receive the data for _some_ properties, and only "set" _some_ properties from the server.
A problem happens when we are trying to set an internal property with the null forgiving operator. This property will never be bound and the validation kic

[2021-03-26 17:58] HaoK commented on #30252
How are you triggering the authorization failures, via AuthorizationMiddleware/EndpointRouting and authorize attributes?

[2021-03-26 18:12] coderanger commented on #31190
I'm a little confused, the policy @whereisaaron showed is using unsafe-eval. Seeing similar issues and I think this might have been closed too early.

[2021-03-26 18:25] javiercn commented on #31190
@coderanger it's a bug in chrome causing this, not a bug in our code there's nothing we can do about it on our side.

[2021-03-26 18:27] coderanger commented on #31190
The linked issue shows clearly that it's supposed to work with unsafe-eval, and unsafe-eval is present. I agree it might be a bug in Chrome but I don't think it's the one linked so far and I'm unable to find a matching Chromium report so maybe we should file one?

[2021-03-26 18:36] coderanger commented on #31190
Digging deeper into the Chromium bug tracker I found https://bugs.chromium.org/p/chromium/issues/detail?id=915648 which appears to say this might not even be a real bug, just a spurious error :)

[2021-03-26 18:38] blowdart commented on #31266
We've never envisaged a synchronous version at all, especially when database calls themselves are usually async. It seems like it would be better to authorize before you go into sync calls, but you would have to manage TOCTOU concerns.

[2021-03-26 19:00] #31268 closed

[2021-03-26 19:00] pr-benchmarks[bot] opened #31287 "Performance difference: fortunes_dapper"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| fortunes_dapper  | Fortunes Dapper aspnet-citrine-amd | 03/25/2021 08:54:42 | 343,631 | 353,843 | 2.97 % (10,212)  :thumbsup:  | 2.10 σ | 4,865.83 |

### Chang

[2021-03-26 19:00] pr-benchmarks[bot] opened #31288 "Performance difference: connectionclose, fortunes_dapper"
A start time regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| connectionclose  | Plaintext Connection Close aspnet-citrine-lin | 03/25/2021 08:10:48 | 159 | 155 | -3 % (-4)  :thumbsup: | -2.10 σ | 2 |
| fortunes_dapper [

[2021-03-26 19:00] pr-benchmarks[bot] opened #31289 "Performance difference: json, json, json, json, json ..."
A publish size regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old Build (KB) | New Build (KB) | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| json  | Json CG2 composite avx2 aspnet-citrine-amd | 03/20/2021 07:07:11 | 153,614 | 136,808 | -11 % (-16,806)  :thumbsup: | -47.97 σ | 350 |
|

[2021-03-26 19:05] jkotalik opened #31290 "Consider creating new dictionary type which allocates an array for small capacities instead of an entire dictionary"
We allocate a lot of dictionaries across ASP.NET Core, which have a non-zero allocation cost to them. An interesting idea would be to see if we could use an array internally for smaller sizes.

We already do this today in Routing: https://github.com/dotnet/aspnetcore/blob/main/src/Http/Http.Abstractions/src/Routing/RouteValueDictionary.cs. I think we could probably use RouteValueDictionary (or a c

[2021-03-26 19:11] daniel-p-tech opened #31291 "[Blazor] [Razor] File nesting not working properly"
Hi,

Please refer to the following file structure:

Component.razor
---Component.razor.cs

I want to split rather large ``Component.razor.cs`` to two (or more) partial classes and be able to see all partial classes after expanding ``Component.razor``.

Component.razor
---Component.razor.cs
---Component.MyPartial_1.razor.cs
---Component.MyPartial_2.razor.cs
---Component.MyPartial_3.razor.cs

After

[2021-03-26 19:33] #31194 closed

[2021-03-26 20:01] #29483 closed

[2021-03-26 20:05] gonzaloluna commented on #30252
I'm using Policy-based authorization. It's triggered by HandleRequirementAsync from a custom AuthorizationHandler<PermissionRequirement>

[code]

[2021-03-26 20:05] BrennanConroy commented on #31177
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, we are not a general-purpose forum. To get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com/) using the asp.net-core tag.

[2021-03-26 20:05] #31177 closed

[2021-03-26 20:07] vsfeedback opened #31293 "SuppressLinkGeneration defaults to true on MapControllerRoute endpoints"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/SuppressLinkGeneration-defaults-to-true-/1363604)._

---
[severity:It's more difficult to complete my work]
It seems that SuppressLinkGeneration defaults to true on endpoints created with IEndpointRouteBuilder.MapControllerRoute().

What is recommended available method to change that def

[2021-03-26 20:07] BrennanConroy commented on #31265
Makes sense, we'll need to update. In the meantime, I believe you can add RxJava3 to your project manually and it'll use that version.

[2021-03-26 20:09] BrennanConroy commented on #14547
What's the TLDR? @davidfowl

[2021-03-26 20:11] BrennanConroy commented on #31136
Closing in favor of https://github.com/dotnet/aspnetcore/issues/31169

[2021-03-26 20:11] #31136 closed

[2021-03-26 20:14] jkotalik commented on #31290
Confirmed that RouteValueDictionary allocates less bytes by default than a Dictionary (40 bytes vs 66 bytes). @JamesNK thoughts on using RouteValueDictionary in more places where we expect small amounts of values in a dictionary?

[2021-03-26 20:15] HaoK commented on #30252
You mean you aren't using asp.net or the endpoint middleware?  Normally people hit an endpoint with authorize metadata.

[2021-03-26 20:15] blowdart commented on #31290
Be careful to check it's protected against hash collision attacks if any user data goes near it.

[2021-03-26 20:17] HaoK commented on #30252
But the wireup for what failed comes from https://github.com/dotnet/aspnetcore/blob/c925f99cddac0df90ed0bc4a07ecda6b054a0b02/src/Security/Authorization/Core/src/DefaultAuthorizationEvaluator.cs#L21 which is normally what's used to determine when authorization succeeds or fails

https://github.com/dotnet/aspnetcore/blob/c925f99cddac0df90ed0bc4a07ecda6b054a0b02/src/Security/Authorization/Core/src/De

[2021-03-26 20:17] davidfowl commented on #14547
It's that this issue has nothing to do with ASP.NET Core and @shirhatti will talk to the app insights team

[2021-03-26 20:17] BrennanConroy commented on #31206
Looks like little to no interested, closing

[2021-03-26 20:17] #31206 closed

[2021-03-26 20:21] BrennanConroy commented on #31243
We need a repro app to be able to investigate further.

[2021-03-26 20:24] BrennanConroy commented on #31264
@Tratcher thoughts on exposing the session id?

[2021-03-26 20:30] halter73 commented on #31290
Kestrel's IFeatureCollections use a `List<KeyValuePair<Type, object>>? MaybeExtra` which is better than Dictionary for small sets, but those might be a good candidate for this.

[2021-03-26 20:34] JamesNK commented on #31290
The concept you're interested in with `RouteValueDictionary` is fine - an array backed dictionary for small numbers of values.

The actual `RouteValueDictionary` implementation probably shouldn't be exactly reused because it also supports a dictionary of property values, i.e. `new RouteValueDictionary(new { hello = "world" })`, which most places don't need.

[2021-03-26 20:35] JunTaoLuo commented on #27471
Is this a duplicate of https://github.com/dotnet/aspnetcore/issues/3700?

[2021-03-26 20:36] JamesNK commented on #31290
No hashing involved. Keys are matched by looping over all the items in the dictionary. O(n) world.

[2021-03-26 20:42] pranavkm opened #31294 "Consider shipping ASP.NET Core analyzers in targeting pack"
As we plan on adding new analyzers in 6.0, one of the problems we'll run in to is that these changes would affect all ASP.NET Core apps targeting 3.1 onwards. We could do something special the analyzer to light up the new ones, but it seems like a better strategy to follow from the [in-box source generator design](https://github.com/dotnet/designs/pull/181) recommends and ship this as part of a pa

[2021-03-26 21:11] blowdart commented on #31290
Ah hence for "very small" collections :)

[2021-03-26 21:15] jkotalik commented on #31290
Yeah, I did a quick test with RouteValueDictionary and it seemed to be fine, but agree we should create a new type.

[2021-03-26 21:24] halter73 commented on #30582
@shirhatti @JunTaoLuo This test has a 100% pass rate for the last 30 days. Considering there's a whole class of tests affected, does it makes sense to keep this single test quarantined?

[2021-03-26 21:30] pranavkm commented on #31286
Our typical recommendation here is to use view models that match exactly what you expect to receive from the network rather than relying on the behavior of model binding / serializer. Makes it much more easy to know what values are being bound and it's very effective at preventing over binding.

The error you're seeing is the result of validation which works independently of model binding. It walk

[2021-03-26 22:03] sebastienros opened #31299 "ArgumentOutOfRangeException in ViewBufferTextWriter with latest servicing release"
This line
https://github.com/dotnet/aspnetcore/blob/main/src/Mvc/Mvc.ViewFeatures/src/Buffers/ViewBufferTextWriter.cs#L113

throws when invoked with `index: 0, count: 0` which is the case when using the new html encoder `TextWriterExtensions`
https://github.com/dotnet/runtime/blob/main/src/libraries/System.Text.Encodings.Web/src/System/IO/TextWriterExtensions.cs#L33

when invoking this method with

[2021-03-26 22:26] #31209 closed

[2021-03-26 22:34] NTaylorMullen commented on #26512
Closing this out haven't gotten any customer feedback here. Blaming on broken machines.

[2021-03-26 22:34] #26512 closed

[2021-03-26 22:39] jsgoupil commented on #31286
Thanks @pranavkm for the explanation.

[2021-03-26 22:53] pranavkm commented on #31299
FYI @GrabYourPitchforks

[2021-03-26 22:57] BrennanConroy commented on #27471
Does look similar, @davidfowl

[2021-03-26 22:58] GrabYourPitchforks commented on #31299
I'm aware. Looks like our March servicing release exposed this latent bug in MVC. Will spin up a conversation with shiproom about how we should address this.

[2021-03-26 23:01] #30696 closed

[2021-03-26 23:12] Plasma commented on #31266
Thanks @davidfowl and @blowdart for your comments. Understood, I'll look to make some changes.

Besides database access though, you can imagine some other non-async service, that just wants to re-validate authorization internally, but for that to happen, it now needs to be async "all the way up", which may not always be possible.

[2021-03-26 23:18] blowdart commented on #31266
Honestly I can't.

For authentication AAD is async due to output network calls, Kerberos would potentially be the same. Even JWT validation has async http calls to get the validation keys.

For authorization you're inside an async controller method at the top of the tree, even if you're using attribute based validation. As authorization itself can make database calls, being async makes it more fle

[2021-03-26 23:38] davidfowl commented on #27471
Yea, mine is 😄

[2021-03-26 23:38] #27471 closed

[2021-03-26 23:39] g0tsimid opened #31302 "Blazor CSS Isolation bundle does not include CSS generated during pre-build"
### Describe the bug
In a Blazor Server application, component-isolated CSS files that get updated at build-time do not get reflected in the generated bundle. For example, if you are writing component styles using Sass and have a build task to build your *.razor.scss files into *.razor.css, those changes will not be included in the Project.styles.css bundle the first time you build the project. Th

[2021-03-26 23:50] davidfowl commented on #31266
One way to work around the limitation is to retrieve the auth information when you're in the async code path and stash it for later

[2021-03-26 23:53] blowdart commented on #31266
Yes, but be careful of TOCTOU as I mentioned above when it was suggested

[2021-03-27 00:14] Plasma commented on #31266
Thanks for the discussion -- to provide a bit more context, by using `IInterceptor` I'm trying to protect data objects being passed from one method call to another (by inspecting parameters and return values) as an aggressive authorization flow check.

Some of these method signatures themselves are not async -- eg, imagine a simple "Is this thing null?" method (for a basic example).

But because i

[2021-03-27 00:15] blowdart commented on #31266
That's an interesting use indeed, but seems right on the edge of what folks would do I'm afraid. I'll defer to David here though.

[2021-03-27 00:42] shirhatti commented on #30582
Yeah, the other tests are a little more defensive 😄

[2021-03-27 01:58] halter73 opened #31303 "Make ALPN configuration easier for use with TlsHandshakeCallbackOptions"
Thanks @nitinag for reporting this issue in https://github.com/dotnet/aspnetcore/pull/25390#issuecomment-807328841.

I think having a public static `ConfigureAlpn` method like @nitinag suggests is a reasonable approach. It's internal rather than private today so [SniOptionsSelector can call it](https://github.com/dotnet/aspnetcore/blob/ec0841d8d7e0c2e700c52bd4d89e7687d9ed78a1/src/Servers/Kestrel/C

[2021-03-27 02:55] omfgicbf commented on #28702
Is this the same as #21083?

In #21083 it seems to have been an issue in 3.1 that was addressed as part of #25073, so it's not clear if:
- It was fixed and should work now but doesn't,
- It's just not expected to work yet and is being considered for a future release, or
- This is a different issue

[2021-03-27 05:57] mkArtak opened #31304 "Formatting breaks code in a .razor file"
I have VS 16.10 Preview 2, with experimental Razor editor turned on.
In my project, when I try to format a razor file (a specific one), it adds tabs in the middle of a `foreach` and breaks it:
![Formatting break](https://user-images.githubusercontent.com/7347708/112711560-87cc3100-8e86-11eb-93fb-b75f7cac2e65.gif)

I'm using .NET 6 Preview2 SDK.
I am unable to repro this with another file, but am h

[2021-03-27 05:57] davidfowl opened #31305 "Large number of duplicate strings for concurrent websocket connections"
Seems like something we could consider interning:

![image](https://user-images.githubusercontent.com/95136/112711553-7be06f00-8e86-11eb-908a-4167239ed677.png)

We could probably eliminate this by making these known headers (though I think we should potentially remove other known headers and replace them with the websocket headers 😄).

cc @benaadams

[2021-03-27 07:00] #31287 closed

[2021-03-27 07:00] pr-benchmarks[bot] opened #31306 "Performance difference: json, mvc, caching, json_actix"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| caching [Fixed] | Caching Platform aspnet-citrine-lin | 03/25/2021 20:31:46 | 268,197 | 270,871 | 1.00 % (2,674)  :thumbsup:  | 3.57 σ | 748.17 |
| json [Fixed

[2021-03-27 07:00] pr-benchmarks[bot] opened #31307 "Performance difference: fortunes"
A start time regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| fortunes  | Fortunes aspnet-citrine-lin | 03/25/2021 08:33:43 | 209 | 205 | -2 % (-4)  :thumbsup: | -4.80 σ | 1 |

### Changes:

| Runtime | Previous Version

[2021-03-27 07:00] #31015 closed

[2021-03-27 08:07] charlesroddie commented on #30248
Please don't put a convention-based approach in such a core dotnet library as ASP.Net. It's true that there is a precedent for convention-based approaches from EF but EF is not such a core library since it is easy to avoid unlike ASP.Net.

[2021-03-27 08:55] garrynewman commented on #27217
Just want to throw my support in for this. I [made a Blazor desktop app](https://files.facepunch.com/garry/4876690e-0d1b-4058-9626-43e30c8537cf.png) and it was lots of fun and a really nice way to work.

[2021-03-27 09:04] tahaAttique commented on #31232
![image](https://user-images.githubusercontent.com/47359465/112715927-2bf4bd00-8f05-11eb-9d2b-fc89e1a66ccb.png)

Tried this and found that we are able to lessen the expiry time but in case we make it greater than 30 min, It does not work. It still expires at 30 min.

[2021-03-27 09:05] tahaAttique commented on #31232
Hey @javiercn  ! Thanks for the help.
Is there no solution other than refreshing the cookie manually?

[2021-03-27 09:45] whereisaaron commented on #31190
@coderanger you correct; the error you get in CSP 'report-only' mode is bogus - ignore it. The 'issue' you get in CSP enforcing mode it also bogus, ignore that too. See #7 for the full detail and screen shots. The `script-src unsafe-eval` does work to enable WebAssembly for Chrome same as other browsers, despite what the errors/issues say 😄. Thanks for the 2018 bug reference, that looks like exact

[2021-03-27 10:06] roji commented on #31110
As this a typical way to write string responses though? I mean, given a user string, one can encode and write at the same time using Encoding.GetBytes. In other words, one of the copies above is only really needed if writing binary data in the first place, no?

[2021-03-27 11:45] charlesroddie commented on #30354
[code]

[2021-03-27 12:32] javiercn commented on #31302
@g0tsimid thanks for contacting us.

You need to make the target that generates the CSS run before `ResolveScopedCssInputs` and follow the convention defined by blazor or create a ScopedCssInput item explicitly with the `RazorComponent` pointing to the razor file it is associated with.

[2021-03-27 14:12] benaadams commented on #31305
Should resolve it? https://github.com/dotnet/aspnetcore/pull/31311

It won't get rid of `localhost:5000` though as the `Host` value; that is amortized across many requests and the WebSocket upgrade is just one per connection. Would need a different approach.

Could switch it in the "allowed origins" middleware; so if you specify allowed origins and one matches then it could switch the header value

[2021-03-27 15:47] davidfowl commented on #30354
@charlesroddie this issue has nothing to do with the request handling part of the code, it's about describing a new host API with the existing request handling APIs.

That said, the [RequestDelegate](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.requestdelegate?view=aspnetcore-5.0) is a well established primitive in the stack. We can always add new method overloads but I'd

[2021-03-27 15:55] PaulSinnema opened #31312 "When using a querystring with Blazor apps the the default NavItem is not selected."
### Describe the bug
This happens in a client side application.
When you use a NavItem in your MailLayout like in the default generated application and you call the application with a querystring f.i. https://localhost:123456/?CourseId=123456 then the first NavItem that normally becomes the selected one is displayed as not selected.

### To Reproduce
- Generate a new Blazor Client side application

[2021-03-27 16:07] davidfowl opened #31313 "HTTPSysServer does not use LoggerMessage.Define"
### Describe the bug

`LoggerMessage.Define` is the preferred approach to logging as it saves re-parsing format strings and doing dictionary lookups (and potential allocations if the cache isn't full). We should update the log calls to use it.

cc @sebastienros

[2021-03-27 16:57] nsunmaz commented on #5223
Thanks, this solution works perfecly.

[2021-03-27 16:59] davidfowl commented on #31110
Large buffered responses are common because serializers are mostly synchronous (with the exception of System.Text.Json and maybe some others). This results in application code producing a large response that gets buffered directly in application code, then written to the response. There's 2 ways to do this:
1. Write using the server's memory (PipeWriter/IBufferWriter)
2. Write the buffer directory

[2021-03-27 17:28] chrfin opened #31314 "Make MVC Razor runtime-compilation extendable"
## Summary

At the moment most of the classes used for runtime compilation are internal and it is nearly impossible to extend it without copying many classes to your own project. I would like to adapt some of them to make it easy to extend.

## Motivation and goals

I am creating a system which is able to dynamically load and unload plugins containing MVC controller/views and Razor components. Thi

[2021-03-27 17:29] GrabYourPitchforks commented on #31299
BTW, I suggest that when you fix this, you also audit your existing `TextWriter` and `Stream` subclasses. The default implementation of virtual methods like `Write(ROS<>)` might not be as efficient as you'd expect. By overriding these methods and providing optimized implementations, you may realize a small perf boost.

[2021-03-27 17:48] pranavkm commented on #31314
At this point we think copying the types in to your application is best way forward. Making the implementation details of MVC public makes it incredibly difficult for us to change or evolve these types. As such, we prefer not making them public.

[2021-03-27 17:54] BrightSoul opened #31316 "Add a GetAllUsersAsync<TUser> method to IUserStore<TUser> to ease implementation of custom user stores"
I'm working on a custom user store for ASP.NET Core Identity. I implemented almost all the interfaces such as `IUserStore<TUser>`, `IUserClaimsStore<TUser>` and so on. It was all so easy and straightforward up until this point.

Now, since I also need a way to fetch all users, I tried to implement `IQueryableUserStore<TUser>` but I've really been struggling with this one and I'm giving up soon.
I'

[2021-03-27 18:06] TanvirArjel commented on #31275
@pantonis You are correct. Unfortunately @blowdart even did not try   to understand what you said but proposed a solution out of the context. Pathetic 😥 ASP.NET Core identity has numerous misdesign and issues which needs to be fixed and improved but ASP.NET Core indentity team is not interested and that's why we don't submit any issues anymore regarding ASP.NET Core indentity. If we submit any iss

[2021-03-27 19:00] pr-benchmarks[bot] opened #31318 "Performance difference: connectionclosehttps"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| connectionclosehttps  | Plaintext Connection Close Https aspnet-citrine-lin | 03/26/2021 08:18:14 | 1,893 | 11 | -99.43 % (-1,882)  :thumbsdown:  | -37.24 σ |

[2021-03-27 19:00] #31288 closed

[2021-03-27 19:00] pr-benchmarks[bot] opened #31319 "Performance difference: fortunes"
A start time regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| fortunes  | Fortunes aspnet-citrine-win | 03/26/2021 08:57:00 | 424 | 404 | -5 % (-20)  :thumbsup: | -2.60 σ | 8 |

### Changes:

| Runtime | Previous Version

[2021-03-27 19:40] #10030 closed

[2021-03-27 20:01] #21939 closed

[2021-03-27 20:06] Ajdthomson opened #31320 "Refresh Browser After Build - iFrame and Content Security Policy Error"
I have a .NET 5 Blazor application developed from the standard template using

- WASM App
- Hosted in ASP.NET Core
- PWA
- Individual User Accounts

I am running with Ctrl-F5 and Visual Studio configured to Refresh Browser After Build. When I look at the console in Chrome, I get the following error message:
`Refused to load the script 'https://localhost:36001/_framework/aspnetcore-browser-refresh.

[2021-03-27 20:26] BrennanConroy commented on #8719
Done.

Think this issue can be closed.

[2021-03-27 20:26] #8719 closed

[2021-03-28 00:01] #31286 closed

[2021-03-28 00:35] benaadams opened #31321 "TransportMultiplexedConnection resets `_currentIConnectionTransportFeature` to `this` (impossible cast)"
Neither `TransportMultiplexedConnection` nor its derived type `QuicConnectionContext` is castable to `IConnectionTransportFeature` so it should not be reset to `this`

[2021-03-28 01:01] #31266 closed

[2021-03-28 01:40] davidfowl opened #31323 "Unify FeatureCollection and Header code generation between server implementations"
HttpSysServer and IIS can benefit from the code generated headers and feature collection implementation that exists in the Kestrel implementation. As part of this work we should consider converting the code to be a source generator.

[2021-03-28 07:00] #31318 closed

[2021-03-28 07:00] pr-benchmarks[bot] opened #31324 "Performance difference: plaintext"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| plaintext  | Plaintext Platform Inline aspnet-citrine-amd | 03/26/2021 20:17:59 | 12,090,606 | 12,292,678 | 1.67 % (202,072)  :thumbsup:  | 2.25 σ | 89,932.10

[2021-03-28 07:00] pr-benchmarks[bot] opened #31325 "Performance difference: mvc, single_query"
A start time regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| mvc [Fixed] | Json Mvc aspnet-citrine-amd | 03/26/2021 20:26:09 | 219 | 208 | -6 % (-11)  :thumbsup: | -2.39 σ | 5 |
| single_query [Fixed] | Single Query Pla

[2021-03-28 09:53] amnaw opened #31327 "the form Http POST doesn't work, only Get work in asp core mvc"
I have a Form that should pass data through POST request, but GET request is being used without passing the data and do model binding of asp core, so buz of that the method Registrationp is never reach if the attribute  [HttpPost] is in place ;( . I tried many ways to get over this problem but none if them worked, even though the other forms post the data and bind the model successfully

HTML:
[co

[2021-03-28 10:34] Duke4848 opened #31328 "_Imports.razor doesn't work"
### Describe the bug
All usings in _Imports.razor are unused, I need to add usings in the razor files instead, also even the app template in VS just added the usings to the FetchData.razor for the WeatherForecast demo page cause _Imports.razor doesn't work(It also automatically created the _Imorts.razor that is broken)..

### To Reproduce
Create Blazor Web Assembly app and open the _Imports.razor

[2021-03-28 10:44] #31327 closed

[2021-03-28 13:01] #31302 closed

[2021-03-28 13:05] whereisaaron commented on #30925
Google has [announced](https://stackoverflow.com/questions/62265576/blazor-wasm-pwa-offline-behaviour-with-server-side-requests) new requirements for the fetch handler, now required for a PWA to be installable from Chrome 93. Warnings start from Chrome 89. Fetch handles must succeed and return a 200, even when offline.
https://stackoverflow.com/questions/62265576/blazor-wasm-pwa-offline-behaviour-

[2021-03-28 13:38] whereisaaron commented on #30925
This is someone attempt to I think solve the same problem with the Blazor fetch handler that Google is now targeting:
https://stackoverflow.com/questions/62265576/blazor-wasm-pwa-offline-behaviour-with-server-side-requests

They reference this Google example:
https://googlechrome.github.io/samples/service-worker/custom-offline-page/

[2021-03-28 14:30] gfoidl opened #31332 "Use LoggerMessage.Define overloads that disable the IsEnabled check"
Depends on https://github.com/dotnet/runtime/issues/45290

There are some places that benefit from this change.

Everywhere [logger.IsEnabled](https://grep.app/search?q=if%20%5C%28%21%3Flogger.IsEnabled&regexp=true&filter[lang][0]=C%23&filter[repo][0]=dotnet/aspnetcore) is checked, can profit by removing the double-check.

Then there are some places where "heavier objects" need to be created, even

[2021-03-28 14:32] martincostello commented on #31313
Happy to pick this up if you've not already started on it.

[2021-03-28 14:55] davidfowl commented on #31313
Sounds good. Are you aware of the latest pattern we've been using? It's a nested static Log class with static methods that do logging. If the class is big enough we make a partial class and put the log methods in there m. If that's not clear, take a look at SignalR

[2021-03-28 14:56] martincostello commented on #31313
I took a look at the repo and saw that there's a class called `LoggingExtensions` ([example](https://github.com/dotnet/aspnetcore/blob/155f402f759f21a3676faff2469665f8cd99f6cb/src/Security/Authentication/OpenIdConnect/src/LoggingExtensions.cs#L8)) and then the messages are defined in there.

If you're moving to nested per-class instead I'll do it that way instead 👍

[2021-03-28 14:56] davidfowl commented on #31313
E.g. https://github.com/dotnet/aspnetcore/blob/155f402f759f21a3676faff2469665f8cd99f6cb/src/Servers/IIS/IIS/src/Core/IISHttpContext.Log.cs#L12

https://github.com/dotnet/aspnetcore/blob/46359cd0a28f551d4021c9c9823752b049eaec79/src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/SendUtils.cs#L112

[2021-03-28 14:57] davidfowl commented on #31313
Assigned the issue to you @martincostello

[2021-03-28 16:05] davidfowl commented on #5890
Closing in favor of https://github.com/dotnet/aspnetcore/issues/24142

[2021-03-28 16:05] #5890 closed

[2021-03-28 16:13] davidfowl commented on #5976
Closing this

[2021-03-28 16:13] #5976 closed

[2021-03-28 16:15] davidfowl commented on #4627
This is done

[2021-03-28 16:15] #4627 closed

[2021-03-28 16:15] davidfowl commented on #5891
This is done

[2021-03-28 16:15] #5891 closed

[2021-03-28 16:18] davidfowl commented on #5979
This is the direction we're going to go here https://github.com/dotnet/aspnetcore/issues/31146. Not an entire middleware, but a way to let you control the stream. If the buffering comes back up, we can think about adding something more configurable.

[2021-03-28 16:18] #5979 closed

[2021-03-28 16:18] davidfowl commented on #5981
@jkotalik I'm gonn mark this as help wanted. It's a reasonable task for a contribution to add some benchmarks.

[2021-03-28 16:23] davidfowl commented on #5993
I can't tell if we ever merged this PR. We support server variables via a feature now though so should be possible to implement.

[2021-03-28 16:24] davidfowl commented on #5994
@Tratcher is this something we want to do? If so, can it be a contribution?

[2021-03-28 16:25] davidfowl commented on #4780
Not happening

[2021-03-28 16:25] #4780 closed

[2021-03-28 16:27] davidfowl commented on #4624
I think if we do this, it's gonna be a kestrel feature. We need to decide if we want to implement it as structured logging. Like a specific log category that logs each of these fields as separate column.

[2021-03-28 16:30] davidfowl commented on #5897
Closing in favor of https://github.com/dotnet/aspnetcore/issues/24142

[2021-03-28 16:30] #5897 closed

[2021-03-28 16:31] #4778 closed

[2021-03-28 16:31] #4624 closed

[2021-03-28 16:32] davidfowl commented on #5894
This should be implemented in Kestrel directly as a structured log in a specific category.

[2021-03-28 17:16] #9139 closed

[2021-03-28 17:16] davidfowl commented on #9139
In favor of #10773

[2021-03-28 17:17] davidfowl commented on #10773
Does this still repro?

[2021-03-28 17:19] davidfowl commented on #4777
Closing this out. Its not something we plan to tackle. We do plan to implement request and connection throttling that may cover this.

[2021-03-28 17:19] #4777 closed

[2021-03-28 17:19] martincostello opened #31334 "Add property to MvcNewtonsoftJsonOptions to support culture-aware deserialization"
## Background and Motivation

Adds a new option to the Newtonsoft.Json-based NuGet package for MVC to enable culture-aware deserialization of request bodies as proposed by https://github.com/dotnet/aspnetcore/issues/9994#issuecomment-493264872.

I missed the need to propose the API before doing the PR as I was looking at `help wanted` issues, so the below is already implemented in #31331.

## Prop

[2021-03-28 17:26] davidfowl commented on #28379
@napalm684 I've updated the original issue with an API proposal. We'll review the API, you can prepare a PR in the meantime or wait for final approval.

[2021-03-28 17:34] davidfowl commented on #31334
I feel like ReadJsonWithRequestCulture is redundant? What about `UseRequestCulture` ?

[2021-03-28 17:44] davidfowl commented on #6000
This isn't something we plan to build an support natively in ASP.NET Core (at least not at the moment). I'm sure there are 3rd party middleware implementations that could be used.

[2021-03-28 17:44] #6000 closed

[2021-03-28 17:50] davidfowl commented on #4136
Who should this be assigned to?

[2021-03-28 17:53] davidfowl commented on #4136
@shirhatti we should switch to a Startup hook here.

[2021-03-28 17:56] davidfowl commented on #5904
We do this now

[2021-03-28 17:56] #5904 closed

[2021-03-28 17:56] davidfowl commented on #6002
This looks like a good up for grabs

[2021-03-28 18:00] davidfowl commented on #2405
Should this be moved to docs

[2021-03-28 18:00] davidfowl commented on #2407
This should be a layer on top of session

[2021-03-28 18:00] #2407 closed

[2021-03-28 18:01] #2405 closed

[2021-03-28 18:02] davidfowl commented on #2448
@sebastienros how strongly do you feel about this one?

[2021-03-28 18:02] davidfowl commented on #2453
@Tratcher if this is something we want to do, it could be marked as up for grabs.

[2021-03-28 18:04] davidfowl commented on #2461
@BrennanConroy do we wan to do anything here for SignalR and WebSockets?

[2021-03-28 18:05] davidfowl commented on #2470
@BrennanConroy should we delete these tests?

[2021-03-28 18:06] davidfowl commented on #2479
Closing this until we get more reports this is a problem

[2021-03-28 18:06] #2479 closed

[2021-03-28 18:08] #2688 closed

[2021-03-28 18:08] davidfowl commented on #2688
Until we have something concrete

[2021-03-28 18:09] #2690 closed

[2021-03-28 18:10] davidfowl commented on #2696
Marked up for grabs

[2021-03-28 18:12] g0tsimid commented on #31302
Thanks @javiercn, that pointed me in the right direction. There were actually two requirements for getting the ScopedCssInput task to pick up the generated files.

1. The build task had to be run before the ResolveScopedCssInputs target, like you said.
2. The generated files had to be added to the Content or None item groups, since that is what gets passed into the DiscoverDefaultScopedCssItems ta

[2021-03-28 18:12] davidfowl commented on #2702
@NinoFloris can you file an API request on https://github.com/dotnet/runtime? It'll help if it's coming from a real customer scenario.

[2021-03-28 18:13] #2702 closed

[2021-03-28 18:14] davidfowl commented on #2704
We have no API for this. We'd need an API proposal for it and if we do this, it wouldn't be part of the built in cookie collection. It would need to be something opted into per cookie (like a parser).

[2021-03-28 18:14] #2704 closed

[2021-03-28 18:14] davidfowl commented on #2706
This isn't happening. We should look at re-unifying with the BCL types (assuming they get spanified).

[2021-03-28 18:14] #2706 closed

[2021-03-28 18:23] sebastienros commented on #2448
I think it's more about configuration options. Having a file per folder is a nice convention, but for a framework at least being able to set it by configuration would be the minimum. Look at web.config and what we could achieve without resorting to building and deploying an app. Super useful. Same for mime-type mappings for instance.

If that was the responsibility of a middleware this could be do

[2021-03-28 18:24] davidfowl commented on #2714
Haven't seen anyone else ask for this. Closing

[2021-03-28 18:24] #2714 closed

[2021-03-28 18:26] davidfowl commented on #2713
This seems like something we should add a bunch of tests for and better define the behavior. That *is* very subtle. Marked as help wanted.

[2021-03-28 18:27] davidfowl commented on #2711
@jkotalik is this still a problem?

[2021-03-28 18:30] davidfowl commented on #2448
Right m. It doesn't match the style of what we've built with ASP.NET. We've added configuration where people have asked or where we thought it made sense (like kestrel). Static files hasn't come up much, so I'm gonna close this.

[2021-03-28 18:31] #2448 closed

[2021-03-28 18:32] davidfowl commented on #2716
@jkotalik did this and its now insanely fast 😄

[2021-03-28 18:32] #2716 closed

[2021-03-28 18:33] futugyou opened #31335 "[blazor webassembly] HttpClient can not send a httpget request with a request body"
Code like this:
[code]

This code can works  normally in [Blazor Server App] model,
but it will throw an exception in [Blazor WebAssembly App] model.

### Exceptions
TypeError: Failed to execute 'fetch' on 'Window': Request with GET/HEAD method cannot have body.

How can I send a HttpGet Request with a HtppContent in WASM model?

### Further technical details
- ASP.NET Core version
[code]
- The ID

[2021-03-28 18:35] davidfowl commented on #2708
We need an API proposal for this to move it forward.

[2021-03-28 18:35] davidfowl commented on #2717
Too late

[2021-03-28 18:35] #2717 closed

[2021-03-28 18:35] davidfowl commented on #2719
Too late

[2021-03-28 18:35] #2719 closed

[2021-03-28 18:38] davidfowl commented on #2720
We should make sure we document that large file uploads are unsuitable with the existing API (I believe we do call that out a little).

[2021-03-28 18:38] #2720 closed

[2021-03-28 18:38] davidfowl commented on #2723
We handle this by throwing by default for sync IO

[2021-03-28 18:38] #2723 closed

[2021-03-28 18:39] davidfowl commented on #2724
Not a mainstream scenario we want to spend time making fast.

[2021-03-28 18:39] #2724 closed

[2021-03-28 18:39] davidfowl commented on #2725
This seems fine if somebody wants to take a stab at it.

[2021-03-28 18:42] davidfowl commented on #2729
We're not going to be adding this. It seems [fetch doesn't send that `XMLHttpRequest` header anymore](https://github.com/github/fetch/issues/17). So I suggest copying the [sample code](https://github.com/dotnet/aspnetcore/issues/2729#issuecomment-354696692) referenced in the issue

[2021-03-28 18:42] #2729 closed

[2021-03-28 18:42] davidfowl commented on #2732
Not happening

[2021-03-28 18:42] #2732 closed

[2021-03-28 18:44] davidfowl commented on #2730
Can we still change this?

[2021-03-28 18:47] davidfowl commented on #2894
It's hard to know when to flush. This doesn't affect most of our streams so closing until somebody else hits this.

[2021-03-28 18:47] #2894 closed

[2021-03-28 18:47] davidfowl commented on #4759
This seems like a good thing,  thoughts @blowdart ?

[2021-03-28 18:49] davidfowl commented on #4385
It's @blowdart's call. This is bad practice within Microsoft and you can already do this today with code. The question is should we make it easier via configuration and currently, that answer is no.

[2021-03-28 18:49] #4385 closed

[2021-03-28 18:49] davidfowl commented on #2865
Still tbd? Can anyone do this?

[2021-03-28 18:49] blowdart commented on #4759
Aside from thumbprint yes (thumbprint is sha1, we don't like sha1)

Also add valid from and valid to or maybe the san (or first 5 hosts in the ssn, because those can get big)

[2021-03-28 18:50] davidfowl commented on #4134
This might make sense as an Azure SDK package @Petermarcu @pakrym ?

[2021-03-28 18:50] davidfowl commented on #5912
Closing this out.

[2021-03-28 18:50] #5912 closed

[2021-03-28 18:51] davidfowl commented on #2825
This is possible now if you use the IMiddleware and you pair it with DI.

[2021-03-28 18:51] #2825 closed

[2021-03-28 18:51] davidfowl commented on #6004
This is a breaking change right?

[2021-03-28 18:52] davidfowl commented on #2948
Did we decide this was too complex because we needed to expose new public API and in 90% of the cases the service is registered? https://github.com/dotnet/aspnetcore/pull/24150

[2021-03-28 18:53] davidfowl commented on #3807
I would love to see some basic static files tests automated in the lab before we make this change.

@sebastienros I know we have a benchmark, its just a matter of adding it to the list of benchmarks right?

[2021-03-28 18:54] davidfowl commented on #4748
This is done?

[2021-03-28 18:54] #4748 closed

[2021-03-28 18:58] davidfowl commented on #5930
If we can reproduce this with the generic host then we can move this to dotnet/runtime. It might require changes there anyways.

[2021-03-28 18:59] davidfowl commented on #3372
@BrennanConroy do you think this is important still?

[2021-03-28 19:00] davidfowl commented on #3837
Do we have support for something like this yet?

[2021-03-28 19:00] pr-benchmarks[bot] opened #31336 "Performance difference: json, endpoint, caching"
A start time regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| caching [Fixed] | Caching Platform aspnet-citrine-lin | 03/27/2021 08:36:15 | 1,576 | 1,624 | 3 % (48)  :thumbsdown: | 7.42 σ | 6 |
| endpoint [Fixed] | Plain

[2021-03-28 19:00] #31319 closed

[2021-03-28 19:00] pr-benchmarks[bot] opened #31337 "Performance difference: caching, updates"
A start time regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| caching  | Caching Platform aspnet-citrine-lin | 03/27/2021 08:36:15 | 1,576 | 1,624 | 3 % (48)  :thumbsdown: | 7.42 σ | 6 |
| updates [Fixed] | Updates Platf

[2021-03-28 19:02] davidfowl commented on #4725
@JunTaoLuo more details?

[2021-03-28 19:03] davidfowl commented on #5933
This was [added](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.hosting.hostbuilder.useserviceproviderfactory?view=dotnet-plat-ext-5.0#Microsoft_Extensions_Hosting_HostBuilder_UseServiceProviderFactory__1_System_Func_Microsoft_Extensions_Hosting_HostBuilderContext_Microsoft_Extensions_DependencyInjection_IServiceProviderFactory___0___)

[2021-03-28 19:03] #5933 closed

[2021-03-28 19:06] sebastienros commented on #3807
We have scenarios. My issue is what we try to measure. What does it mean to have a good static file perf?

- be able to saturate network at any file size, not cpu
- limit disk access to not saturate on it
- use the least amount of memory
- latency
- compression efficiency

[2021-03-28 19:08] davidfowl commented on #5934
If this still repros using the generic host, file an issue on dotnet/runtime. I believe I saw a similar issue related to nuget packages and files being overwritten on publish (I can't find it right now).

[2021-03-28 19:08] #5934 closed

[2021-03-28 19:09] davidfowl commented on #26334
Closing as dupe

[2021-03-28 19:09] #26334 closed

[2021-03-28 19:10] davidfowl commented on #4727
We need an API proposal, this wouldn't be on by default. It's also up for grabs so can be implemented by anyone that needs it once the design and API are approved.

[2021-03-28 19:11] davidfowl commented on #4721
I've done a bunch of work here. I'll put it in preview4 because there's some pending work in the BCL (https://github.com/dotnet/runtime/pull/49573)

[2021-03-28 19:11] Xyncgas opened #31339 "System.Security.Cryptography APIs not supported on Blazor WebAssembly. Please fix it."
https://docs.microsoft.com/en-us/dotnet/core/compatibility/cryptography/5.0/cryptography-apis-not-supported-on-blazor-webassembly

Application can not work without aes

[2021-03-28 19:12] Xyncgas commented on #31339
I am begging you to fix it

[2021-03-28 19:26] RemiBou commented on #2948
I don't think it exposes any new API, just that it increases complexity.

[2021-03-28 19:30] hishamco commented on #2407
So, there's no plan to support them out of the box

[2021-03-28 19:44] Tratcher commented on #2730
Here's the API for the example given above:
https://github.com/dotnet/aspnetcore/blob/c925f99cddac0df90ed0bc4a07ecda6b054a0b02/src/Http/Http.Extensions/src/ResponseHeaders.cs#L192

Changing the return type to an IReadOnlyList would be an API breaking change. We could change the implementation to return a collection that would throw if someone tried to modify it, but that's a runtime breaking chang

[2021-03-28 19:44] #2730 closed

[2021-03-28 19:48] Tratcher commented on #2696
Duplicate of #2686

[2021-03-28 19:48] #2696 closed

[2021-03-28 19:52] Tratcher commented on #2453
Closing do to lack of feedback.

[2021-03-28 19:52] #2453 closed

[2021-03-28 20:06] Tratcher commented on #5994
Design considerations:
- This would be limited to content-length responses, we wouldn't want to buffer streamed responses to find out if they were over the threshold or not.
- I don't know if we'd enable it by default, the effectiveness of compression varies a lot by the content.
- Would a callback that let you check the response and dynamically enable/disable compression be more useful?

[2021-03-28 20:14] davidfowl commented on #5938
@jgiacomini do you want to take a stab at this? HttpContent now supports cancellation tokens in the latest version of .NET Core.

[2021-03-28 20:16] davidfowl commented on #4714
Am closing this. @halter73 holler if you think we should still do this.

[2021-03-28 20:16] #4714 closed

[2021-03-28 20:19] davidfowl commented on #2407
Nope.

[2021-03-28 20:38] davidfowl commented on #5994
Seems we also have prior art for nginx and expressjs as data points. Whoever does this issues should report on what those other servers/frameworks do.

PS: I would assume it would only apply for content length based responses as well.

[2021-03-28 20:51] davidfowl commented on #3807
You're right. I don't know if hammering the server with 1M RPS makes sense for static files. Typical usage might be an initial request for a bunch of resources in parallel. After that they're cached by the client.

We could grab something like amazon or facebook's client side resources and then send bursts of concurrent connections to access the resources.  Large number of connections, small RPS.

[2021-03-28 21:03] halter73 commented on #3807
I think bursts of concurrent connections leading to a large number of connections and small RPS will still quickly become bandwidth constrained after a small initial ramp up. If we still use RPS as the metric for this kind test, it will probably benefit algorithms with less initial batching because smaller initial batches leads to less latency and a faster ramp up to saturating the NICs.

Another

[2021-03-28 21:15] davidfowl commented on #3574
@Tratcher can you propose an API here?

[2021-03-28 21:16] davidfowl commented on #4130
Hmm, I wonder if this still happens.

[2021-03-28 21:29] davidfowl commented on #2470
@jkotalik is this still true with in proc?

[2021-03-28 21:31] davidfowl commented on #2480
This has since been fixed with the `ValueWebSocketReceiveResult`

[2021-03-28 21:31] #2480 closed

[2021-03-28 22:20] drewnoakes commented on #31150
Thanks @captainsafia. From what you say, removing them sounds sensible.

Is that something that could happen soon? Right now these are appearing high in the list of properties visible in the UI.

[2021-03-28 23:30] #31313 closed

[2021-03-28 23:30] davidfowl commented on #31313
Thanks!

[2021-03-29 00:16] JamesNK opened #31340 "Static logging delegates nested inside generic types"
Static logging delegates will allocate a new copy for each generic type.

See https://github.com/dotnet/aspnetcore/pull/31333#discussion_r602938029

Should audit for all usages of static logging delegates to see if there are other places they are nested in generic types.

Before:
[code]

After:
[code]

Edit: That won't work because Log will be private. How about `internal static class RequestConte

[2021-03-29 00:26] davidfowl commented on #31339
See https://github.com/dotnet/runtime/issues/44996 and https://github.com/dotnet/runtime/issues/40074

[2021-03-29 00:26] #31339 closed

[2021-03-29 00:31] smflorentino commented on #18893
Indeed. I work on a service in Azure and we're currently using http.sys. It's imperative that we have the ability to control TCP connection lifetime on the server side. We do this to a control traffic flow from clients. When we update our DNS records via Azure Traffic Manager, clients will not switch to the new endpoint until the TCP connection is reestablished, which, if you have long running cli

[2021-03-29 00:49] davidfowl commented on #18893
I'm not a fan of interpreting "Connection: close", but I think that is orthogonal from what this feature was asking for. We need a general way to close connection regardless of the HTTP version (though I don't know what this means for QUIC and HTTP/3). That should be an API, not a header. Unlike HTTP.sys, we don't need to ship a new kernel to have consumers use a new API. If we still want to suppo

[2021-03-29 01:41] napalm684 commented on #28379
@davidfowl I guess I'm a little confused what the factory provides when the property is already private on that class if I recall correctly. Is there and example of this I could reference?

[2021-03-29 02:01] davidfowl commented on #28379
The options could have a `ConnectionMultiplexer` instance instead of a `Func<ConnectionMultiplexer>` (if that's what people need). I assume the use case for this is to potentially reduce the number of connections to redis in the application, so we'd also need a way to know if we should be making a connection or not.

[2021-03-29 02:36] jjxtra commented on #28379
Putting the burden on the application to create and pass a connection multiplexer in the options would add un-needed complexity. Now the client has to know how to create this type properly and connect, which can be error prone if not done right.

Being able to inject `IConnectionMultiplexer` into a constructor automatically should be all that is needed, since the Microsoft frameworks already have

[2021-03-29 02:39] davidfowl commented on #28379
They can inject the multiplexer trivially if that's what they want to do and apply it to the options. We generally don't like assuming the services that are in the container should be automagically consumed by components, especially when they are optional. The API above is the standard pattern introduced in all *extensions* and ASP.NET Core APIs for configurability.

[2021-03-29 05:28] davidfowl commented on #4134
cc @blowdart

[2021-03-29 05:45] davidfowl commented on #28401
Another use case that came up this week was the ability to get tcp information via a new ioctl `SIO_TCP_INFO` https://docs.microsoft.com/en-us/windows/win32/winsock/sio-tcp-info.

[2021-03-29 05:52] #31321 closed

[2021-03-29 06:10] shapeh commented on #10773
I haven't experienced this bug since 3.1. Currently on 5.0.
I guess it has been fixed.

[2021-03-29 07:01] pr-benchmarks[bot] opened #31342 "Performance difference: json_nodejs, mvc"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| json_nodejs  | NodeJS Json aspnet-citrine-amd | 03/26/2021 22:36:41 | 979,385 | 803,866 | -17.92 % (-175,518)  :thumbsdown:  | -2.78 σ | 63,199.46 |
| mvc [Fix

[2021-03-29 07:01] #31269 closed

[2021-03-29 07:01] pr-benchmarks[bot] opened #31343 "Performance difference: plaintext"
A start time regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| plaintext  | Plaintext Platform Inline aspnet-citrine-arm | 03/27/2021 20:14:59 | 438 | 494 | 12 % (56)  :thumbsdown: | 5.09 σ | 11 |

### Changes:

| Runtime

[2021-03-29 07:01] pr-benchmarks[bot] opened #31344 "Performance difference: json"
A build regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old Build (ms) | New Build (ms) | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| json  | Json Platform Linked aspnet-citrine-win | 03/27/2021 00:20:39 | 81,654 | 81,267 | -1 % (-387)  :thumbsup: | -3.77 σ | 103 |

### Changes:

| Ru

[2021-03-29 07:04] cuongvu0203 commented on #28113
try this solution! It work with me!

[2021-03-29 07:31] andrzejpindor commented on #31340
Happy to pick this up - in #31345 I've already refactored `RequestContext<T>` but I can also check other places where situation may be similar.

[2021-03-29 07:48] martincostello commented on #31340
Other than the two already mentioned in #31333, I also found these two which I can fix up at the same time:

https://github.com/dotnet/aspnetcore/blob/c0d17cfeb527127c1b5e300fbe466c6a2af55b72/src/SignalR/server/Core/src/HubConnectionHandler.cs#L23

https://github.com/dotnet/aspnetcore/blob/c0d17cfeb527127c1b5e300fbe466c6a2af55b72/src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.Log.cs#L11

[2021-03-29 07:49] martincostello commented on #31340
Oh - I see you've already done it in #31345 - I was already in the middle of doing it from this comment https://github.com/dotnet/aspnetcore/pull/31333#discussion_r602955223, but happy for you to do it instead.

[2021-03-29 07:54] tahaAttique opened #31346 "Can SlidingExpiration property of ConfigureApplicationCookie refresh the cookie on the basis of action instead of Navigation. ASP.Net Core Blazor Server"
I am developing a Blazor Server ASP.net core app. It has Cookie based authentication using RevalidatingIdentityAuthenticationStateProvider. When I login I find '.AspNetCore.Identity.Application' Cookie in my browser.

I wanted to extend the login Expiry session for more than 30 min so I used the SlidingExpiration Property.

**The problem I am facing is that I want SlidingExpiration to issue the ne

[2021-03-29 08:07] andrzejpindor commented on #31340
I can also cover the two cases mentioned by you and scan project for similar problems. I'll wait to become an assignee to this issue to continue work ;)

[2021-03-29 08:09] martincostello commented on #31340
I did a search in VS Code across the whole ASP.NET Core solution for `private static class Log` and those were the only other two I could find that were inside a generic type.

I hadn't started on changing those two yet, so feel free to make the change yourself 🙂

[2021-03-29 08:14] pocki opened #31347 "Update behavior in Rolemanager SetRoleNameAsync"
### Describe the bug
In Identity Rolemanager all data changing methods do a update on store/database (with UpdateRoleAsync) except SetRoleNameAsync

Is this the expected behavior?

SetRoleNameAsync always returns IdentiyResult.Success instead of the result of UpdateRoleAsync.

https://github.com/dotnet/aspnetcore/blob/c925f99cddac0df90ed0bc4a07ecda6b054a0b02/src/Identity/Extensions.Core/src/RoleMa

[2021-03-29 08:58] gurux-kurumi commented on #31231
Hi,

Thanks for your advice this is now working.

[2021-03-29 09:43] joaopgrassi commented on #30440
I think I could take this one :). Probably will need some guidance later on, but the idea then is to move everything here: https://github.com/dotnet/aspnetcore/tree/main/src/SignalR/clients/ts to ESlint? And also the `_` on private members + the new rule. That summarizes it well?

[2021-03-29 10:27] JeepNL commented on #5894
@davidfowl Yes, please :)

(Just FYI): I've mentioned the log analyzer [AWStats](https://www.awstats.org/) already in this thread, [GoAccess](https://goaccess.io/) is another fast and light weight log analyzer which is used by many NGINX/Apache systems. I think this (generating W3C logfiles) is an important feature which Kestrel, like any other stand alone production webserver, should support.

[2021-03-29 10:57] matthewpetch commented on #31285
I have been trying to create a repo that reproduces this without success. I've now managed to find the cause of the issue, if the client HubConnection has the Transports set to LongPolling then OnDisconnectAsync is never called in the Hub on the server.

Is this by design? Is there a workaround?

[2021-03-29 11:45] chrfin commented on #31314
@pranavkm  Thanks for the quick feedback. I fully understand and already suspected that as can be seen by my note under "**Risks / unknowns**".

Would you be open to a solution along the line of introducing two simple public interfaces to make it possible to

1.  provide a custom `RuntimeCompilationFileProvider`
2.  manually load the generated assemblies

(Please see my second pull-request for an

[2021-03-29 12:03] blowdart commented on #4134
Yea this should firmly fall under the azure sdk now like everything else

[2021-03-29 13:40] davidfowl commented on #27088
cc @javiercn @blowdart

[2021-03-29 13:42] davidfowl commented on #4742
@JamesNK did we do this?

[2021-03-29 13:42] blowdart commented on #27088
We haven't been prepared to make this a more public api due to support concerns. This hasn't changed. Unless @mkArtakMSFT wants to take the dev burden it will remain not public.

[2021-03-29 13:44] davidfowl commented on #4735
Should we close this?

cc @JamesNK

[2021-03-29 13:44] davidfowl commented on #4734
@halter73 @JamesNK thoughts on this?

[2021-03-29 13:46] davidfowl commented on #4703
@halter73 should we close this now?

[2021-03-29 13:48] davidfowl commented on #27088
@idimakosprofilesw Can you make a case for why it should be public? What would it help in your scenario? That hasn't been clearly expressed in this issue as yet.

[2021-03-29 13:49] davidfowl commented on #3704
@Tratcher what's the work here?

[2021-03-29 13:51] davidfowl commented on #5943
We need a new property to make this possible which will likely only work on .NET 6 based scenarios (if we do this). I'm closing this for now. If you feel strongly about being able to specify a name, you can propose an API https://github.com/dotnet/runtime (hopefully a non breaking one).

[2021-03-29 13:51] #5943 closed

[2021-03-29 13:51] davidfowl commented on #5945
Closing

[2021-03-29 13:51] #5945 closed

[2021-03-29 13:52] davidfowl commented on #28380
I assume people are still running into this issue?

[2021-03-29 13:53] davidfowl commented on #4382
@halter73 I assume this still repros?

[2021-03-29 13:54] davidfowl commented on #6640
Does this still repro?

[2021-03-29 13:56] DjeeBay commented on #29979
Same here.

The thing is when cancelling the onChange event is not triggered by the browser itself.
As InputFile doesn't come with a solution, we have to find a workaround like adding a "clear button" and display file(s) data correctly (because when cancelling we still have the data).

You also can find JS workarounds.

Would be great if the InputFile component has the feature.

[2021-03-29 14:12] idimakosprofilesw commented on #27088
@davidfowl thank you for your time.

We are using PhoneNumberTokenProvider from AspNetIdentity to generate SMS OTP codes for two factor authentication for the end users of our application.
An example repo of a similar approach can be found here: https://github.com/Jurabek/IdentityServer4.PhoneNumberAuth/blob/master/IdentityServer4.PhoneNumberAuth/Controllers/VerifyPhoneNumberController.cs#L107

Ho

[2021-03-29 14:15] davidfowl commented on #6711
You need to do your own 413 handling. Today Kestrel will close the connection if it hits the size limit. You can increase the limit to and do your own 413 handling. It does this today to avoid having to drain the body for the next request (which has security implications).

cc @halter73 for thoughts.

We should at the very least document this behavior.

[2021-03-29 14:18] davidfowl commented on #27088
@blowdart this seems reasonable. Is there a reason not to expose these settings? (other than the usual, due diligence we do when we expose APIs?)

[2021-03-29 14:24] davidfowl commented on #6818
We need an API proposal to move this forward. Can somebody propose something?

[2021-03-29 14:36] blowdart commented on #27088
It's an internal class. We feel the settings are correct for our use.

[2021-03-29 14:45] blowdart commented on #31347
@HaoK Is this expected?

[2021-03-29 14:48] blowdart commented on #31346
The cookie refresh doesn't happen on every request by design, it'll happen a little before it's due to expire. If a user isn't sending a request, for example by filling out a form for 30 minutes and there's no request happening it's just not going to refresh.

[2021-03-29 14:52] tahaAttique commented on #31346
@blowdart  Thanks a lot for the response.

 What do think?  what's the better solution to the problem ?

[2021-03-29 14:58] HaoK commented on #31347
Yes this is equivalent to `role.Name = "foo"`, which does not update the store, it just updates the poco.  You still have to call `UpdateAsync()`.  Its somewhat confusing but its always been that way.

[2021-03-29 15:09] BrennanConroy commented on #30440
Yeah, we'd also like to try and preserve the rules from [our tslint config](https://github.com/dotnet/aspnetcore/blob/main/src/SignalR/clients/ts/tslint.json) (if they aren't already on by default)

[2021-03-29 15:12] davidfowl commented on #27088
Is @idimakosprofilesw 's scenario not something that we support or intend to support ?

[2021-03-29 15:23] blowdart commented on #31346
@javiercn Anything you can do in blazor around it?

[2021-03-29 15:30] hhyyrylainen commented on #4892
Does anyone have an update on how to do this now? It seems like WebApplicationFactory doesn't exist anymore... (in Microsoft.AspNetCore.Mvc.Testing version 5.0.4)

I found this: https://www.meziantou.net/automated-ui-tests-an-asp-net-core-application-with-playwright-and-xunit.htm
Based on which I'm able to create a running IHost that serves all content *except* blazor WASM resources, so my seleniu

[2021-03-29 15:38] davidfowl commented on #28378
This isn't something we plan to do but feel free to use the implementation from here https://github.com/dotnet/aspnetcore/issues/28378#issuecomment-598336464

[2021-03-29 15:38] #28378 closed

[2021-03-29 15:42] captainsafia commented on #31263
It looks like this is a bug in the Razor compiler. Currently, using the generic component with the `Data` parameter produces the following generated code.

[code]

I believe it should actually be:

[code]

[2021-03-29 15:46] belgaard commented on #29623
It looks like it helps to explicitly include the test host nuGet package, e.g. as,
<PackageReference Include="Microsoft.AspNetCore.TestHost" Version="5.0.4" />

[2021-03-29 15:52] davidfowl commented on #27165
@pranavkm isn't this done?

[2021-03-29 16:02] BrennanConroy commented on #2461
We should

[2021-03-29 16:05] BrennanConroy commented on #3372
Low priority, haven't heard any customer complaints about this.

[2021-03-29 16:13] blowdart commented on #31335
This is one of those places where the RFC (7231) lets us down, there's no definition of what should happen to a GET request with a body. Some servers allow it, some services (especially proxies) don't. JavaScript and browsers don't allow it, and that's what you're up against, the server-side libraries do. There's nothing blazor clientside can do here, as it's beholden to the browser implementation

[2021-03-29 16:13] #3372 closed

[2021-03-29 16:13] davidfowl commented on #3372
Closing it then.

[2021-03-29 16:13] #31335 closed

[2021-03-29 16:17] mkArtakMSFT commented on #31328
Thanks for contacting us. The error you're referring to above is a valid error indicating a problem in your own code.
However, there is a separate issue you're pointing out here regarding the `using`-s in _Imports.razor which we're aware of. That  improper colorization is because the tooling in VS is confused but the app is buildable properly. We're going to address it in the upcoming release of V

[2021-03-29 16:17] #31328 closed

[2021-03-29 16:20] jkotalik commented on #10773
Hm, I don't think we actively fixed this in 3.1 or 5.0... may be worth verifying.

[2021-03-29 16:21] jkotalik commented on #2470
No, we listen for that.

[2021-03-29 16:21] #2470 closed

[2021-03-29 16:22] Tratcher commented on #10773
I could still reproduce it last time I tried, but I don't remember how long ago that was.

[2021-03-29 16:22] davidfowl commented on #10773
Marking as help wanted and good first issue.

[2021-03-29 16:23] mkArtakMSFT commented on #31291
Thanks for contacting us. This is not part of the runtime feature-set. Please use the [VS Feedback](https://docs.microsoft.com/en-us/visualstudio/ide/feedback-options?view=vs-2019) to report this issue, so the team who owns the area can track the ask.

[2021-03-29 16:23] #31291 closed

[2021-03-29 16:25] mkArtakMSFT commented on #31280
Thanks for contacting us.
It looks like you're looking for a way to cancel navigation. For that we have a different issue planned, which we track as part of #24417.

[2021-03-29 16:25] #31280 closed

[2021-03-29 16:27] jkotalik commented on #10773
Not sure if this is a `good first issue`, what would the suggested fix be? I believe IIS/HTTP.sys is the one deciding whether it should be chunked or content-length.

[2021-03-29 16:29] Tratcher commented on #10773
It's something inside IIS, not Http.Sys.

[2021-03-29 16:29] mkArtakMSFT commented on #31278
Thanks for contacting us. We haven't heard any other reports similar to this. To make sure we focus our time on high priority work, we will move this to `Backlog` and wait for more feedback from the community. If we find out that this is something impacting many others then we'll look into this.

[2021-03-29 16:42] captainsafia commented on #31270
@ddobric Can you share a repro of the problem that you are running into?

I tried to reproduce this issue with a parameter that contain 1000 chars and some encoded values and wasn't able to verify the bug.

[2021-03-29 16:43] jkotalik commented on #31340
Feel free to pick up the ones in SignalR as well.

[2021-03-29 16:47] mkArtakMSFT commented on #31231
Thanks for helping out with this, @Trapulo!

[2021-03-29 16:49] pranavkm commented on #27165
Resolved as part of https://github.com/dotnet/aspnetcore/pull/28267

[2021-03-29 16:49] #27165 closed

[2021-03-29 16:51] mkArtakMSFT commented on #31227
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2021-03-29 16:58] mkArtakMSFT commented on #31293
Thanks for contacting us.
Can you please share more about your scenario and how this is impacting it?

Thanks!

[2021-03-29 16:58] #31260 closed

[2021-03-29 17:18] mshakurov commented on #31278
If that doesn't take you too long, could you suggest some simple, elegant solution to the problem of controlling the re-creation of Scoped Services injected into components outside of @Body?
Thanks in advance!

[2021-03-29 17:18] davidfowl commented on #21244
We should do this as part of .NET 6

[2021-03-29 17:26] SteveSandersonMS commented on #31232
@tahaAttique No, there isn't another solution as far as I know. Cookies can only be issued when there's an HTTP response, so you need to make an HTTP request to get one.

We don't have a built-in thing in Blazor that sends "keepalive" HTTP requests because we don't know what sort of rules you'd want around frequency or whether to keep doing it forever even if the user seems to have become idle. If

[2021-03-29 17:36] NTaylorMullen opened #31354 "Add TFM picker multi-targeting apps using Blazor"
In a C# file today you can select the active target framework via a drop-down:
![image](https://user-images.githubusercontent.com/2008729/112876571-86635a00-907a-11eb-95fe-5c6059d16c44.png)

We need a similar experience in Razor files.

[2021-03-29 17:46] omuleanu opened #31355 "Blazor bind to document mouseup event dynamically"
I'm basically trying to reproduce this js code in blazor:
[code]
Imagine that you do `mousedown `on the button and keep the mouse button down move it outside the button and after do `mouseup`.
(you may or may not move the cursor outside of the button but I need to detect the `mouseup `regardless).
**is this possible without js interop ?**

[2021-03-29 17:49] mkArtakMSFT commented on #31249
Thanks for the proposal, @NinoFloris.
It looks great. We'll mark this as `help-wanted` so community members can handle this too.

[2021-03-29 17:57] NTaylorMullen commented on #18996
@allisonchou your changes fix this right?

[2021-03-29 17:59] mkArtakMSFT commented on #31146
Holding on to this one for now since there is no clear value add at the moment and there is no clear customer-ask for this one.

[2021-03-29 18:02] allisonchou commented on #18996
@NTaylorMullen Yep, https://github.com/dotnet/aspnetcore/pull/31211 should fix.

[2021-03-29 18:02] ajaybhargavb commented on #18996
![image](https://user-images.githubusercontent.com/1579269/112879563-25d61c00-907e-11eb-87b9-881675bf824f.png)

Wow so rude @NTaylorMullen 😝

[2021-03-29 18:03] mkArtakMSFT commented on #21513
@davidfowl it'll be handier to review the PR. So not reviewing this yet.

[2021-03-29 18:24] NTaylorMullen opened #31356 "Large app performance evaluation"
- See planning notes for details on which app.

[2021-03-29 18:26] NTaylorMullen opened #31357 "Large component library app investigations"
- [ ] Telerik
- [ ] DevExpress
- [ ] Radzen

@danroth27 can you add more here? Also, if we have contacts it'd be great to get large app examples for us to dig into.

[2021-03-29 18:57] davidfowl commented on #13188
2 years later lots of people using Kestrel "on the edge" 😉

[2021-03-29 19:01] #31325 closed

[2021-03-29 19:01] pr-benchmarks[bot] opened #31358 "Performance difference: json"
A start time regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| json  | Json Platform Inline aspnet-citrine-amd | 03/28/2021 08:19:14 | 163 | 173 | 6 % (10)  :thumbsdown: | 2.25 σ | 4 |

### Changes:

| Runtime | Previous

[2021-03-29 19:04] danroth27 opened #31359 "Add auto restart and hot reload support for .cshtml.css files"
@pranavkm

[2021-03-29 19:09] angelru commented on #26838
The same issue when i submit a form with enter key:
Uncaught (in promise) Error: System.ArgumentException: There is no event handler associated with this event. EventId: '711'. (Parameter 'eventHandlerId')
   at Microsoft.AspNetCore.Components.RenderTree.Renderer.DispatchEventAsync(UInt64 eventHandlerId, EventFieldInfo fieldInfo, EventArgs eventArgs)
   at Microsoft.AspNetCore.Components.WebAssemb

[2021-03-29 19:18] NTaylorMullen opened #31361 "Incorrect indentation format when type } after if(true) { in nested Razor code."
Backing VSTS issue: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1275815

[2021-03-29 19:19] NTaylorMullen opened #31362 "[WebToolsE2E]Paste some code in .cshtml file and then format document, the format is incorrect when 'Enable experimental Razor editor' checked."
Backing VSTS issue: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1290488

[2021-03-29 19:24] NTaylorMullen commented on #30232
Will address the Razor HTMLC#/WebTools portion of this in Preview3 to not force a 3 pronged insertion again to update LSP protocol bits

[2021-03-29 19:26] mareklinka commented on #31249
Hello all. This looks rather straight-forward - if it's still open, I'd like to take a crack at it. Is there anything special or important that I should be aware of?

[2021-03-29 19:32] NTaylorMullen commented on #27593
Verified on latest and no longer repros with other light bulbs.

[2021-03-29 19:32] #27593 closed

[2021-03-29 19:35] steveoh commented on #31264
@BrennanConroy are you meaning that there currently isn't a way to get the cache key since the session id is exposed but not linked to the cache key?

[2021-03-29 19:39] NTaylorMullen commented on #29029
Yup this was fixed by #29271

[2021-03-29 19:39] #29029 closed

[2021-03-29 19:56] #27663 closed

[2021-03-29 19:58] xantari commented on #28378
@davidfowl Any chance of reconsidering? The only change you need to make to the SQL Server distributed cache provider you deliver today is to change from DateTimeOffset to DateTime2 at the database level and it would work for both in memory tables as well as physical storage based tables.

[2021-03-29 19:58] NTaylorMullen commented on #26646
Duplicate of:
- https://github.com/dotnet/aspnetcore/issues/26975
- https://github.com/dotnet/aspnetcore/issues/26753

[2021-03-29 19:58] #26646 closed

[2021-03-29 20:01] #29725 closed

[2021-03-29 20:09] Duke4848 commented on #31328
It's not problem with my code. I wrote that it's the state out of the box created by Blazor WebAssembly template. The imports don't work and the template it adds usings in the razor components file itself like Imports.razor wouldn't exist in the first place.

[2021-03-29 20:10] BrennanConroy commented on #31285
LongPolling has "implicit" keep alives, which means that an ungraceful disconnect will take ~90 seconds, but `OnDisconnectedAsync` will still be called after that. If you can't provide a repro app, can you at least share Debug logs on the server and client side?

[2021-03-29 20:11] JunTaoLuo commented on #4725
The issue being referred to is https://github.com/aspnet/KestrelHttpServer/issues/2627. It looks like we need to add a timeout for ack'ing settings?

[2021-03-29 20:13] BrennanConroy commented on #4747
@halter73 @davidfowl According to the comments above, this might be done already and the issue was kept open to consider backporting to 2.1, can you verify?

[2021-03-29 20:18] BrennanConroy commented on #4759
Triage: This would be nice.
Issues: Certs wouldn't necessarily line up with the address they apply to. Can we get the store they came from?

`Log.LogInfo("Loaded cert from X; <cert info>")`

[2021-03-29 20:30] nvmkpk commented on #30507
I also ran into these differences between the Blazor WASM and Blazor Server side. In .net Core 3.1 it worked fine. As soon as I updated to .net 5.0 I saw these differences. By the way I am only using the properties on `CultureInfo` (specifically `NativeName`) to let user choose a language of the website.

[2021-03-29 20:33] captainsafia commented on #25643
Actually, we shouldn't move the DebugProxy into the SDK.

Since we're launching the DebugProxy from VS Code (and eventually VS) we don't need to repackage it and launch it from our debugging middleware. We can just have the IDEs reference the package directly. This gives us one less thing to worry about and avoids us having to repackage things.

[2021-03-29 20:41] captainsafia opened #31365 "Hot reload not enabled if dotnet CLI initialized with arguments"
I want to be able to run `dotnet watch run --urls="https://localhost:7005"` to start my application server at a specific port and have hot reload enabled.

However, hot reload is not enabled if `dotnet watch` is invoked with non-default parameters.

[2021-03-29 20:43] davidfowl commented on #4759
This is because hosting prints the addresses right?

[2021-03-29 20:46] BrennanConroy commented on #4759
Right. https://github.com/dotnet/aspnetcore/issues/23601 is related, if we have some way of grouping startup logs to make the output nice.

[2021-03-29 21:04] davidfowl commented on #31249
Nope, its as straight forward as it seems!

[2021-03-29 21:05] davidfowl commented on #31249
Assigned to you @mareklinka

[2021-03-29 21:48] davidfowl commented on #28378
That sounds fine, but we don't test it, so we won't know when it breaks.

[2021-03-29 22:01] #31096 closed

[2021-03-29 22:06] NTaylorMullen commented on #31279
Thank you for your reported issue. We believe this issue will be fixed by our Razor tooling efforts in the .NET 6 time frame. If you'd like to try this tooling out you can download the latest VS preview release and check the following preview feature checkbox (Tools -> Options -> Environment -> Preview Features):

![image](https://user-images.githubusercontent.com/2008729/87990285-8b5a1d80-ca98-11

[2021-03-29 22:06] #31279 closed

[2021-03-29 22:11] BrennanConroy commented on #31340
Done via https://github.com/dotnet/aspnetcore/pull/31364

[2021-03-29 22:11] #31340 closed

[2021-03-29 22:11] NTaylorMullen commented on #31139
Hello, would you mind providing some additional repro steps? Are you saying that navigating via F12 in a nested Blazor component on `Child` in :

[code]

doesn't work for you in the new experimental Razor editor?

[2021-03-29 22:25] leecow commented on #24512
@jkotalik , sure thing. Can you provide a link to the redist installer? Also, is there a particular set of Windows versions where it's necessary?

[2021-03-29 22:25] vsfeedback opened #31367 "No colorization for Blazor component"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/No-colorization-for-Blazor-component/1380881)._

---
Clone and open https://github.com/shirhatti/trivia in VS. Open TriviaClient/Pages/PlayTrivia.razor. The QuesitonComponent tag isn't colored correctly as a Blazor component.

---
### Original Comments

#### Feedback Bot on 3/25/2021, 00

[2021-03-29 22:26] vsfeedback opened #31368 "F7 does not properly toggle between a razor file and a razor.cs file of the same class"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/F7-does-not-properly-toggle-between-a-ra/1383426)._

---
[severity:It's more difficult to complete my work] [regression] [worked-in:16.9.2]
Create a razor component xyz.razor & a backing cs file of xyz.razor.cs

F7 while in the window of xyz.razor.cs moves you to a xyz.razor; F7 in xyz.r

[2021-03-29 22:27] NTaylorMullen commented on #31368
Totally valid feature gap in the new Razor editor

[2021-03-29 22:28] vsfeedback opened #31369 "Renaming a property in a backing cs file will sometimes corrupt the associated razor file"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Renaming-a-property-in-a-backing-cs-file/1383428)._

---
[regression] [worked-in:16.9.2]
Create a razor component xyz.razor & a backing cs file of xyz.razor.cs

Create a property in the cs file as in 'private string proprtyName {get;set;}'. Use this property on a component in the razor f

[2021-03-29 22:41] Tratcher commented on #31264
Cookie auth and Session are unrelated components and you should not be putting any auth related data into Session. Can you back up and explain your higher level design?

[2021-03-29 22:51] #30254 closed

[2021-03-29 23:09] steveoh commented on #31264
Yes of course @Tratcher. I am not using session at all. I assumed that the httpcontext session id would correspond with the distributed cache key for the auth but that was a mistake.

Ultimately, I am trying to use the distributed cache to list how many places a user is logged in like the photo.

My experimental design is a web app with a cookie session store pointed at a redis cache using the sta

[2021-03-29 23:16] NTaylorMullen commented on #30249
Found this to be classic ASP.NET Razor, re-opened the original public issue and moved over to the correct team.

[2021-03-29 23:20] #30380 closed

[2021-03-29 23:20] NTaylorMullen commented on #30984
Was due to the client refactor

[2021-03-29 23:21] Tratcher commented on #31264
Ah, you're talking about CookieAuth's SessionStore, not HttpContext.Session. No relation 😁.
https://github.com/dotnet/aspnetcore/blob/e05640cda39b87f3181867967c1efa93e24ed5b2/src/Security/Authentication/Cookies/src/CookieAuthenticationHandler.cs#L149-L162

Your implementation of ITicketStore would likely need to create a separate redis table that listed all user ids and session ids. You wouldn't b

[2021-03-29 23:48] steveoh commented on #31264
Ok, the I have browsed the code you pasted which leads me to try and decode then read the auth cookie to get the session id claim.

I tried this unsuccessfully and that is when I created the ticket. Is there a simpler way to get the session id claim or would I basically duplicate this code?

[2021-03-29 23:50] Tratcher commented on #31264
If you're implementing ITicketStore then you already have the session id in there. You'd be querying redis using the user id, not the session id. Where else do you need direct access to the session id?

[2021-03-29 23:59] danroth27 opened #31372 "App restarts after fixing compilation error instead of doing a hot reload"
Repro steps:
- Run a Blazor Server app using `dotnet watch`
- Create a compilation error and save (ex remove a semicolon)
- After the error message appears in the browser, fix the compilation error and save.

Expected result:
- Successful hot reload of new changes if any, or the app resumes as it was.

Actual result:
- The app restarts

@pranavkm

[2021-03-30 00:00] #30951 closed

[2021-03-30 00:01] Tratcher commented on #6640
Rereading this the script:
[code]
It's running the app from the parent directory, so the content root which defaults to the current directory is likely wrong.

[2021-03-30 00:04] Tratcher commented on #4734
No customer complaints and no sign of this being a problem in expanded perf testing for gRPC or YARP. Recommend close.

One scenario we might not have good coverage for is high latency connections.

[2021-03-30 00:05] #4735 closed

[2021-03-30 00:22] davidfowl commented on #30545
Closing this because the root cause is https://github.com/dotnet/runtime/issues/49000

[2021-03-30 00:22] #30545 closed

[2021-03-30 00:28] davidfowl commented on #6640
@wis3guy 2 years later, there's your answer. This is by design (unfortunately). The directory that static files is based on by default is the current working directory.

[2021-03-30 00:28] #6640 closed

[2021-03-30 00:54] statler commented on #4825
Nothing?

[2021-03-30 01:03] allisonchou commented on #27101
Resolved in https://github.com/dotnet/aspnetcore-tooling/pull/3317.

[2021-03-30 01:03] #27101 closed

[2021-03-30 01:04] allisonchou commented on #28003
Resolved in https://github.com/dotnet/aspnetcore-tooling/pull/3317.

[2021-03-30 01:04] #28003 closed

[2021-03-30 01:07] steveoh commented on #31264
Right probably no where since the ticket store will generate another table with the data necessary to remove sessions from a controller method.

[2021-03-30 01:07] #31264 closed

[2021-03-30 01:15] benaadams opened #31373 "Refactor inefficient WebSocket handshake"
https://github.com/dotnet/aspnetcore/blob/c925f99cddac0df90ed0bc4a07ecda6b054a0b02/src/Middleware/WebSockets/src/WebSocketMiddleware.cs#L121-L128

https://github.com/dotnet/aspnetcore/pull/31311#discussion_r603602893

[2021-03-30 01:40] benaadams opened #31374 "Consider adding more headers to `HeaderNames`"
Follow up to https://github.com/dotnet/aspnetcore/pull/31311#discussion_r602945650

[List of HTTP header fields](https://en.wikipedia.org/wiki/List_of_HTTP_header_fields)

With https://github.com/dotnet/aspnetcore/pull/31311 there are advantages to having items in the header list (single instance string).

This is most useful for request headers as they are always constructed strings; whereas resp

[2021-03-30 01:43] davidfowl commented on #5930
This isn't something we want to fix in the webhost, but we should fix this in the generic host.

[2021-03-30 01:44] gundermanc opened #31375 "Rename logic in Razor LSP doesn't respect changing the file type"
### Describe the bug
Renaming a '.razor' file to have a different extension causes a rename event, which is then propagated as a 'Track/Untrack' call in Razor. This logic fails to check the content type of the file before running 'Track', causing the various virtual documents to get spun up, and an erroneous 'textDocument/didOpen' to be sent to the Razor LSP server for that file, even though the f

[2021-03-30 01:44] gundermanc commented on #31375
**cc: ** @NTaylorMullen

[2021-03-30 02:00] #29222 closed

[2021-03-30 02:00] #19807 closed

[2021-03-30 02:00] #28385 closed

[2021-03-30 02:36] Cloudmersive commented on #2711
Yes, this is still a problem.

[2021-03-30 02:41] halter73 opened #31376 "Move RequestDelegateFactory out of Microsoft.AspNetCore.Http.Extensions"
`RequestDelegateFactory` is currently in the Microsoft.AspNetCore.Http.Extensions assembly because it calls into `WriteAsJsonAsync` and `ReadFromJsonAsync`. We could just copy the very straightforward implementation to a lower-level assembly like Microsoft.AspNetCore.Http or maybe even Microsoft.AspNetCore.Http.Abstractions unless we want to support that assembly's [JsonOptions](https://github.com

[2021-03-30 02:50] #31305 closed

[2021-03-30 03:57] JamesNK commented on #4734
Window size is currently a problem in SocketsHttpHandler's HTTP/2 implementation. It is causes bad transfer speeds with large data. We should check whether Kestrel gets good performance with large data.

Runtime issue: https://github.com/dotnet/runtime/issues/43086

[2021-03-30 04:27] arkiaconsulting commented on #4892
@hhyyrylainen Did you try this [extension method](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.builder.componentswebassemblyapplicationbuilderextensions.useblazorframeworkfiles?view=aspnetcore-5.0)

[2021-03-30 05:13] TanayParikh commented on #27593
Hmm still seeing this:
![image](https://user-images.githubusercontent.com/14852843/112937102-ea6a3a80-90db-11eb-9dbf-fdda698ca182.png)

[2021-03-30 05:27] pocki commented on #31347
Thanks for the answers.
SetRoleNameAsync also has the call `UpdateNormalizedRoleNameAsync(role);` which is also in `UpdateAsync()`. So it's not the exact the same as `role.Name = "foo"` but at the end there are. So it's a little bit confusing.

[2021-03-30 05:51] #31347 closed

[2021-03-30 05:56] hhyyrylainen commented on #4892
@arkiaconsulting If I try to add that to the IWebHostBuilder, I get (as expected because auto complete didn't suggest it to me):
[code]
I don't think I'm missing any using statement, that would make that work. So I think that IWebHostBuilder does *not* have that method.

My startup class, does call `app.UseBlazorFrameworkFiles();`

For now, I decided to go with the approach of separately running t

[2021-03-30 06:57] clement911 commented on #14547
I'm confused to where we should track this moving forward but I just wanted to say it's still happening for us, on .net 5.0.
We managed to get rid of all startup exceptions we had except this one.

[2021-03-30 07:00] #31324 closed

[2021-03-30 07:00] #31306 closed

[2021-03-30 07:00] pr-benchmarks[bot] opened #31378 "Performance difference: endpoint, multiple_queries"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| endpoint  | Plaintext Endpoint aspnet-citrine-lin | 03/28/2021 20:06:46 | 3,889,342 | 3,988,615 | 2.55 % (99,273)  :thumbsup:  | 2.92 σ | 33,979.07 |
| multipl

[2021-03-30 07:01] #31337 closed

[2021-03-30 07:01] pr-benchmarks[bot] opened #31379 "Performance difference: plaintext, https"
A start time regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| https  | Json Https aspnet-citrine-amd | 03/28/2021 20:24:41 | 259 | 269 | 3 % (10)  :thumbsdown: | 4.21 σ | 2 |
| plaintext [Fixed] | Plaintext aspnet-citrin

[2021-03-30 07:01] pr-benchmarks[bot] opened #31380 "Performance difference: ApiCrudAddProduct"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| ApiCrudAddProduct  | API add new element aspnet-citrine-lin | 03/28/2021 00:55:47 | 368,944 | 373,384 | 1.20 % (4,439)  :thumbsup:  | 2.06 σ | 2,155.32 |

###

[2021-03-30 07:05] davidfowl commented on #14547
- StartupBootstrapper isn't part of .NET, it's part of Application insights.
- Microsoft.AspNetCore.AzureAppServices.HostingStartup - is our package and it's possible to run into similar issues with it loading. It usually happens when there's a version mismatch between the azure site extension and your application. At the moment , the easiest way to get rid of the error is to install the package a

[2021-03-30 07:25] davidfowl commented on #27277
This is done right @jkotalik ?

[2021-03-30 07:40] dodyg commented on #31022
I can't make the CSS Isolation even for Index.html.css (Preview 2). Maybe it's already fixed in later version.

https://github.com/dodyg/practical-aspnetcore/tree/net5.0/projects/net6/css-isolation

[2021-03-30 08:22] jiangzeng01 opened #31387 "[6.0.100-preview.4.21178.2] Could not load file or assembly 'System.Drawing.Common, Version=4.0.2.0 error on .net 6.0.100-preview.4.21178.2"
**Application Name:**  Blogifier, WalletWasabi,YoyoCmsFreeTemplate,OqtaneFramework,Moonglade
**OS:** Windows 10 RS5
**CPU:** X64
**.NET Build Number:** main branch - 6.0.100-preview.4.21178.2
App 3.1 Blazor Server app, running .net6, has dependecy to  System.Drawing.Common 4.7.0:
**Source code check at:** [https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1302985](https://devdiv.visualstudio.

[2021-03-30 09:09] jiangzeng01 commented on #29483
Verified, removed the file wwwroot\favicon.ico from our source, it works fine now when retargeting to 5 and 6.

[2021-03-30 09:26] wis3guy commented on #6640
@davidfowl You made me grin with the 2 years later remark. :)

[2021-03-30 09:36] Yuyue960724 commented on #30554
We ran into this issue on Mac/Linux with latest .NET 6.0 Preview 3 build and there are some fail logs as following and check "https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1284417" for more details
![image](https://user-images.githubusercontent.com/66415233/112965339-c1998200-917b-11eb-88a2-9834680e791d.png)

[2021-03-30 09:42] k-s-s opened #31382 "WebHostBuilderExtensions Configure can result in HostingStartupAssemblies being run twice"
### Describe the bug
## Background
I am using IHostingStartup within my package library as it is used by external users to create the web host, targets NET 4.6 and NET Core 3.1. I set the builder setting HostingStartupAssembliesKey to package library assembly **FullName**
I have added a feature to add use an instanced startup class instead of using the normal UseStartup. It is a custom interface,

[2021-03-30 10:04] dazinator commented on #19807
Coming back to this thread a long while later...

Two competing ideas in play are:

1. Initialise ring 0 logging for use before DI is built by host. Host has potentially its own seperately configured "ring 1" logging configured as normal. Perhaps options to allow host's ring1 logging to re-use same logger provider as ring 0 logging to keep a single logging provider instance rather than 2 if a sepe

[2021-03-30 10:27] gfoidl commented on #31332
The runtime-PR https://github.com/dotnet/runtime/pull/50334 got merged.
When will this change be available here? (so I can start to work on this).

[2021-03-30 10:29] dazinator commented on #19807
@DamianEdwards

I'm liking this more and more. There is already a conventon to have this CreateWebHostBuilder method on program.cs:

[code]

So this would be extending the template to add something like:

[code]

This would apply to any `dotnet` project with an entry point - even those that don't initialise a host such as simple CLI applications.

[2021-03-30 11:16] Genata opened #31383 "AddOpenIdConnect options.Authority overriden with current host behind proxy (UseForwardedHeaders)"
I host my application behind reverse proxy inside container. I'm using IdentityServer4 and I'm trying to make oidc SSO with Azure AD. It works when the application is not using app.UseForwardedHeaders(opts), but I need them.

.NET Core version: 3.1

Forwarded headers configurations:
[code]

OpenID Connect Configurations:
[code]

My Controller Action:
[code]

When I initiate the sign in process it

[2021-03-30 11:49] milind009 commented on #22186
I'm also observing this issue after a recent change we made to our .net core 3.1 web service which runs on a linux (ubuntu 18.04) docker container. Basically the change we had made involved adding multiple network calls (additional 4 network calls) and we are using the VssConnection class to initialize a new connection before each network call. Could this be causing this issue or there could be an

[2021-03-30 12:00] SteveSandersonMS commented on #31346
It's difficult for programming models like Blazor Server or SignalR generally to participate in the cookie reissuance, since cookies are only issued with HTTP responses, and Blazor Server / SignalR isn't making HTTP requests and so there are no HTTP responses.

It sounds like we'd need to issue some artificial "heartbeat"-type requests intermittently just for the purpose of refreshing cookies. Per

[2021-03-30 12:20] blowdart commented on #31383
That's odd. Have you tried capturing a network trace using the browser f12 tools to see the flow when you attempt to login? Is your machine AAD joined by any change?

[2021-03-30 13:24] dwigand commented on #22186
Finally we found the issue in our code base: There were some usages of Microsoft.Win32.SafeHandles. We removed them and it works well now.

[2021-03-30 13:28] ayende commented on #22186
Can you explain what the issue was?

[2021-03-30 14:05] HakamFostok commented on #24512
Thank you all for all of your efforts.

While it is a very nice and important idea to put VS C++ Redist dependency on the download page for the hosting bundle, I think it is also crucial to modify the hosting bundle installer itself to make it giving an obvious error message that the VS C++ Redist dependency does not exist, if it is not.
this could provide the best UX to the client.
If I can help

[2021-03-30 14:50] CobusKruger opened #31385 "CreateLogger<T> extension doesn't use supplied provider"
### Describe the bug
According to [the documentation](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.logging.abstractions.nullloggerfactory?view=dotnet-plat-ext-5.0), `NullLoggerFactory` is used to create instances of `NullLogger`. That's exactly what I want.

However, if the code using the factory uses the `CreateLogger<T>` extension method, the logger created is not a `NullLogg

[2021-03-30 15:02] fededim commented on #12158
Is there any schedule to support Data Annotations localization in Blazor ? Without them Blazor apps are fully localized in a language, but the standard data annotation errors remain still in English....this "double language" is not great from the user perspective. Think about this feature, it's important for every application.

[2021-03-30 15:04] mrlife commented on #10475
@mkArtakMSFT Is this being considered for 6.0?

[2021-03-30 15:04] Genata commented on #31383
Yes, there are only 2 requests in the network trace.
One for the ExternalLoginChallenge and it redirects to the https://mylocalapp.com/{tenantId}/oauth2/v2.0/authorize?client_id=...

You can see the file attached (I've removed some sensitive data from the file).
[mylocalapp.com.har.txt](https://github.com/dotnet/aspnetcore/files/6229957/mylocalapp.com.har.txt)

My machine is part of our corporate

[2021-03-30 15:29] otaconjh opened #31397 "`dotnet new` web options should append client file versions by default"
IIRC in ASP.NET Core 3, web projects created with the dotnet cli would add the
`asp-append-version="true"`
 attribute to client files (e.g. site.css) when linking them in _Layout.cshtml. This doesn't happen in dotnet 5.0.

It's minor but could save newer developers like me a headache trying to figure out why their css/js file changes aren't appearing in the browser.

[2021-03-30 16:15] ericstj commented on #31387
This is by-design.  Roll-forward across major versions is not guaranteed to work.  When running an app on a newer framework than it was built on you may face problems when a breaking change is made.  To work-around you can either a) reference a newer version of System.Drawing.Common package so that it will be carried app-local or b) retarget to net6.0.

This breaking change was announced here: htt

[2021-03-30 16:22] NTaylorMullen commented on #27593
@TanayParikh ya that seems quite messed up from semantic tokens perspective? @ryanbrandenburg would this fall under the larger semantic token issue we saw yesterday in triage that you were planning to run by Christian?

[2021-03-30 16:23] wtgodbe opened #31388 "Flaky test UnexpectedRequestFrame"
`Microsoft.AspNetCore.Server.Kestrel.Core.Tests.Http3StreamTests.UnexpectedRequestFrame(frameType: "CancelPush")`

Expected: UnexpectedFrame
Actual:   0

   at Microsoft.AspNetCore.Server.Kestrel.Core.Tests.Http3StreamTests.UnexpectedRequestFrame(String frameType) in /_/src/Servers/Kestrel/test/InMemory.FunctionalTests/Http3/Http3StreamTests.cs:line 1759
--- End of stack trace from previous locati

[2021-03-30 16:30] NTaylorMullen commented on #31362
Was by design.

[2021-03-30 16:30] #31362 closed

[2021-03-30 16:35] mkArtakMSFT commented on #31355
Thank you for contacting us.
To evaluate this feature request, we'd like to understand more about your scenario. Could you please elaborate on the scenario and the problem you're trying to solve?

/cc @SteveSandersonMS, @danroth27

[2021-03-30 16:36] gundermanc commented on #27593
That sounds like the issue fixed by this PR: https://devdiv.visualstudio.com/DevDiv/_git/VSLanguageServerClient/pullrequest/313631

[2021-03-30 16:37] #30249 closed

[2021-03-30 16:40] #31375 closed

[2021-03-30 16:49] markrendle opened #31390 "Ability to specify browser command in launchSettings.json"
Currently `launchSettings.json` has a boolean setting to launch the browser, but it can only use the system default browser. This is especially troublesome when working with Blazor which needs additional parameters passing to the browser. It's also preferable to use a specific browser for debugging that doesn't have all the extensions, cookies and stuff that your actual browser has.

It would be g

[2021-03-30 16:49] omuleanu commented on #31355
basically a numeric textbox where you have an up and down button,
if you click and hold on the up button, even if you move the cursor outside the button while still holding mousedown the value of textbox will keep incrementing, and I need to know when the mouseup occurs in order to stop the timer (setInterval), that's why I need to bind to document.

you can actually try it [here](https://demo.asp

[2021-03-30 16:54] joeloff commented on #24512
Adding a check for the VC redist should be simple. I took a peek at the 14.28.29913.00 release. A simple registry search can be done to identify the vc_runtimeMinimum installation. The full redist brings in a number of patches (MSUs), and those would be more difficult to detect because they are OS specific.

A simple util:RegistrySearch in the bundle and a BAL:Condition can be used to block the in

[2021-03-30 17:01] SteveSandersonMS commented on #29913
If possible it would be great to drop the legacy code paths ASAP. If we get any signs of dissatisfaction, we could ship the legacy router OOB in a separate package.

[2021-03-30 17:09] pranavkm commented on #29913
Cool. I have a PR out for it - https://github.com/dotnet/aspnetcore/pull/31295 - that's part of my no-linq work. Let me see if I can separate the two since they're not really dependent.

[2021-03-30 17:17] Pilchie commented on #31387
Duplicate of #31007

[2021-03-30 17:19] Pilchie commented on #31390
@vijayrkn - should this be somewhere else?

[2021-03-30 17:22] vijayrkn commented on #31390
The best place for this issue would be dotnet/sdk. The change will have ripple effects on IDEs as well once implemented.

[2021-03-30 17:28] pranavkm commented on #31390
@Pilchie this is primarily for dotnet-watch (it's the only thing in the CLI that launches a browser) which we're currently tracking in this repo. We can follow up with VS once we enable this switch in the CLI.

[2021-03-30 17:30] vijayrkn commented on #31390
@pranavkm Thanks! is the code for this in the sdk repo or here?

[2021-03-30 17:35] blowdart commented on #31383
This is super weird. At this point I don't know, I've not seen this in our code, but then we don't tend to configure identity server too. Given the redirect can be overridden in code, I'd suggesting asking them first if they've seen it.

[2021-03-30 17:46] pranavkm commented on #31390
We migrated dotnet-watch to the SDK as of late last year.

[2021-03-30 18:08] NTaylorMullen commented on #31367
Investigated and LSP platform issue.

[2021-03-30 18:08] #31367 closed

[2021-03-30 18:09] pranavkm commented on #31372
Fixed as part of https://github.com/dotnet/sdk/pull/16600.

[2021-03-30 18:09] #31372 closed

[2021-03-30 18:10] pranavkm commented on #30758
This was resolved as part of https://github.com/dotnet/aspnetcore/pull/30884

[2021-03-30 18:10] #30758 closed

[2021-03-30 18:13] pranavkm commented on #28794
@captainsafia could I drop this in your plate to figure out for p4?

[2021-03-30 18:16] pranavkm commented on #27105
Resolved as part of https://github.com/dotnet/aspnetcore/pull/28495

[2021-03-30 18:16] #27105 closed

[2021-03-30 18:17] pranavkm commented on #25751
Closing this as we haven't heard any user feedback in this space.

[2021-03-30 18:17] #25751 closed

[2021-03-30 18:18] pranavkm commented on #18393
This should be resolved as part of the source generator effort.

[2021-03-30 18:18] #18393 closed

[2021-03-30 18:19] pranavkm commented on #16810
Dropping this in favor of https://github.com/dotnet/aspnetcore/issues/28640

[2021-03-30 18:19] #16810 closed

[2021-03-30 18:21] #29130 closed

[2021-03-30 18:21] ryanbrandenburg commented on #29601
This is actually a bit more nuanced than I had first thought. Our survey's show the community preference is to have no background coloring, but we'd like to give people the option to set it if they prefer. My plan WAS going to be to start returning the background code token and set the Alpha channel of the background color classification to 00 ("totally clear") in the default themes, then users co

[2021-03-30 18:24] pranavkm commented on #26902
@captainsafia let's use the smaller line items to track further work. We'll consider this issue resolved for preview4.

@stefanloerwald we made the Roslyn folks aware of your requirement. In addition, there are some ordering requirements for some of the in-box source generators e.g. System.Text.Json's source generator needs to run after the Razor one, so we have vested interest in seeing it addres

[2021-03-30 18:24] #26902 closed

[2021-03-30 18:24] #29635 closed

[2021-03-30 18:26] pranavkm commented on #30759
This is done. There's a bug where .cshtml.css files are not being watched, but that is being tracked separately #31359

[2021-03-30 18:26] #30759 closed

[2021-03-30 18:37] ryanbrandenburg commented on #30795
As @balachir said on the AzDO issue, isn't this "as intended" because it's not a TagHelper until you add the "~/"? As defined here: https://github.com/dotnet/aspnetcore/blob/main/src/Mvc/Mvc.Razor/src/TagHelpers/UrlResolutionTagHelper.cs#L29.

[2021-03-30 18:41] ryanbrandenburg commented on #30555
@NTaylorMullen do you happen to remember the larger context here? I'm not seeing this replicate in what I assume the context would have been:
![image](https://user-images.githubusercontent.com/14987221/113039676-c8f56700-914c-11eb-93e9-ef5c80c7158c.png)
We've made some changes in SemanticTokens since then, though I can't think of any in particular which would have fixed this instance?

[2021-03-30 18:50] ryanbrandenburg commented on #29603
The resolutions here still aren't as fast as we might hope (~4 seconds on my box) but the tag DOES color correctly without additional edits after my SemanticTokens ProjectVersion fix.

[2021-03-30 18:57] Eilon commented on #18757
I saw something similar to this where I had a Razor component with the same name as the namespace.

E.g.:

`MyTestComponent.csproj`
- `MyTestComponent.razor`. Full type name = `MyTestComponent.MyTestComponent`
- `AnotherComponent.razor`. In here try to use `<MyTestComponent ... />` and you get C# compiler errors because the generated code is ambiguous between the namespace `MyTestComponent` and th

[2021-03-30 19:01] pr-benchmarks[bot] opened #31392 "Performance difference: https, connectionclose"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| connectionclose  | Plaintext Connection Close aspnet-citrine-amd | 03/29/2021 08:23:55 | 22,524 | 40,675 | 80.58 % (18,151)  :thumbsup:  | 19.00 σ | 955.52 |
|

[2021-03-30 19:04] ryanbrandenburg commented on #29595
Here's what this looks like in VS latest:
![image](https://user-images.githubusercontent.com/14987221/113042267-d2cc9980-914f-11eb-94bd-116b2ddea68f.png)
The `<text>` now seem to be colored correctly, but our `@if` has regressed.

[2021-03-30 19:52] luizfbicalho opened #31395 "ValidationProblemDetails creation from ModelStateDictionary with Exceptions added return the errors property with "The input was not valid." and not the Exception Message"
### Describe the bug
If I add some exceptions to a controller API ModelState property, and pass this to the ValidationProblemDetails to return on the Bad Request, I get only the "The input was not valid." on the return result.

### To Reproduce
In my API controller I Have a post Method Like this
[code]
and the return json is this

[code]

### Exceptions (if any)

### Further technical details
- AS

[2021-03-30 19:58] qwertie opened #31396 "[JsonIgnore] not working with EF Core types when requesting single resource when Lazy Loading is enabled (.NET 5)"
### Describe the bug

When an object is serialized by ASP.NET controller methods, the [System.Text.Json.Serialization.JsonIgnore] attribute is (ironically) ignored under the following circumstances:

1. The object is returned directly, not wrapped in IEnumerable or IQueryable.

        [HttpGet("{id}")]
        public EntityDBO Get(int id) // BROKEN
        {
            return _EntityManager.GetB

[2021-03-30 20:00] captainsafia commented on #28794
Boo -- still repros.

https://github.com/captainsafia/TestWithHashFilename

[2021-03-30 20:04] fuzl-llc opened #31398 "Compression versions of scoped css appear in an additional directory on publish"
This is a follow up to issue #29179 that I created a while back. It has been marked as closed.  While most of it was fixed, there was a part of the solution that was not completed and was supposedly split off to be tracked elsewhere.  I asked the following near the end of that issue but have heard no response in a few weeks, most likely due to its closed status:

@pranavkm said, "You're right, com

[2021-03-30 20:13] #31181 closed

[2021-03-30 20:17] Pilchie commented on #7162
@sebastienros and @HaoK haven't you been looking at this already?

[2021-03-30 20:25] HaoK commented on #7162
Yep dupe of https://github.com/dotnet/aspnetcore/issues/27220

[2021-03-30 20:25] #7162 closed

[2021-03-30 20:27] captainsafia commented on #31150
It should be as a straightforward as removing the `RazorGeneral.xml` file referenced above.

One more thing I want to check.

@NTaylorMullen @ryanbrandenburg Does Razor tooling need this file https://github.com/dotnet/sdk/blob/main/src/RazorSdk/Targets/Rules/RazorGeneral.xaml for any reason?

[2021-03-30 20:30] qwertie commented on #31396
The workaround: use manual serialization and `Content()`.

        [HttpGet("{id}")]
        public ActionResult Get(int id)
        {
            var result = _context.Examples.Find(id);
            return Content(JsonSerializer.Serialize(result), "application/json");
        }

Don't forget to provide the same serializer options you configured via `AddJsonOptions` in `Startup` (if any)

[2021-03-30 20:34] MithrilMan opened #31399 "disable kestrel at runtime"
I've the need to disable kestrel (stop it from listening) but I haven't find a way, is it possible?

Let me try to put this into a context:
my solution is quite complex and is built from a `new HostBuilder` and I can dinamically add features (called Shard), each Shard has a companion setting class and I'm mapping these setting classes using IOptions<> pattern

One of these shard is WebApiShard, th

[2021-03-30 20:56] MithrilMan commented on #21244
oh, does this mean what I ask here isn't possible?
https://github.com/dotnet/aspnetcore/issues/31399

I think I've described in my issue above a scenario where such API would be useful: I can't rely on application lifetyme because host is used for lot of thing not just kestrel.

Also an API that allow to configure kestrel but not start to listen automatically would be useful too (it seems to me it

[2021-03-30 21:00] pranavkm commented on #28794
Could you file a compiler issue? My guess is it has something to do with the way AnalyzerOptions are passed around.

[2021-03-30 21:24] NTaylorMullen commented on #31150
Yes, this enables us to introspect on the project system at tooling time to extract information: https://github.com/dotnet/aspnetcore-tooling/blob/5b6dd93b4657f9f9c5fa884a0d1911e7c431ab32/src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/ProjectSystem/DefaultRazorProjectHost.cs#L65-L71

[2021-03-30 22:22] #31249 closed

[2021-03-30 22:38] halter73 commented on #4747
The above what this issue was intended to track. The backport to 2.1 was finished and the associated issues closed.

If you call `HttpContext.Abort()`, instead of getting a `ConnectionAbortedException`  (which is an `OperationCanceledException`) directly when you read from `Request.Body.ReadAsync()`, you'd get an `IOException` which makes more sense when there's no CancellationToken passed in dire

[2021-03-30 22:42] drewnoakes commented on #31150
Given removing it is not an option, here are the other options:

1. Change the `Context` [here](https://github.com/dotnet/sdk/blob/446589256a6fc128d1adffe83551a727ebf7f234/src/RazorSdk/Targets/Microsoft.NET.Sdk.Razor.DesignTime.targets#L78-L80) from `Project` to `BrowseObject`, which will remove it from the UI without breaking the ability to access it from code, or
2. Set all properties to have `V

[2021-03-30 22:53] halter73 commented on #6711
Yes. You can likely use the existing logic for writing a response. Just be sure to manually add a `Connection: close` response header with:

[code]

We could add something to https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel/options?view=aspnetcore-5.0#maximum-request-body-size that tells developers they should respond with a `Connection: close` header for custom 413 respon

[2021-03-30 22:57] NTaylorMullen commented on #26481
@ryanbrandenburg how much of this is still actionable?

[2021-03-30 22:57] halter73 commented on #4703
Yes. In my experience, the OS will keep the socket in the TIME_WAIT state even after the process exits (let alone socket close) and retransmit as necessary. We can open a new issue if there's customer feedback that this is not the case.

[2021-03-30 22:57] NTaylorMullen commented on #28032
@TanayParikh this still applicable or can we close out?

[2021-03-30 22:57] #30819 closed

[2021-03-30 22:58] #30953 closed

[2021-03-30 22:59] NTaylorMullen commented on #30158
This is most likely language-configuration.json based

[2021-03-30 23:02] steveoh commented on #31264
https://github.com/steveoh/distributed-auth-code-flow this works.

[2021-03-30 23:03] #18996 closed

[2021-03-30 23:12] TanayParikh commented on #28032
Still applicable:
![image](https://user-images.githubusercontent.com/14852843/113068221-ba21ab00-9172-11eb-9af8-30c9ba474951.png)

The squiggle on line 65 should be after `@code ` on line 63.

[2021-03-30 23:24] BrennanConroy opened #31404 "Abort gracefully closes the response rather than aborting it"
[code]

[code]

<details>
<summary>Logs</summary>

[code]

</details>

https://dev.azure.com/dnceng/public/_build/results?buildId=1062917&view=ms.vss-test-web.build-test-results-tab&runId=32739106&resultId=110110&paneView=debug

[2021-03-30 23:33] pranavkm commented on #31396
The output from the app you provided seems fine:

[code]

What am I missing?

[2021-03-30 23:38] halter73 commented on #21244
@MithrilMan Starting in .NET 5, if you use `IConfiguration` based endpoints (see https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel/endpoints?view=aspnetcore-5.0#configureiconfiguration), then Kestrel will react to changes to the endpoints. You should be able to remove all the endpoints if you want by clearing out the `Kestrel:Endpoints` object if all your endpoints are defi

[2021-03-30 23:44] halter73 commented on #21244
Looking at #31399, I'm thinking this probably won't meet your needs. It does make me consider whether we should make it possible to start Kestrel without any endpoints defined at startup after we add a proper API. It would definitely have to be opt-in though. There's a lot of code that depends on the default binding to 5000 and 5001.

[2021-03-30 23:51] #31022 closed

[2021-03-30 23:54] #30709 closed

[2021-03-31 00:06] ryanbrandenburg commented on #26481
None of it really, after doing our profiling (and fixing the low-hanging fruit) Semantic tokens doesn't seem to be more or less performant than any call which results in "chatty" checks to the C# LSP, and those seem to be (at least in part) driven by Threading wait time. Closing this.

[2021-03-31 00:06] #26481 closed

[2021-03-31 00:14] MithrilMan commented on #31399
@Tratcher

that's exactly what I'd like to avoid: having to get these information from a custom configuration source
Anyway it would solve one problem, the other one is being able to pause/stop kestrel at runtime, like a `StopListening()` and `ResumeListening`

Moving back on IOptions, I find it confusing not being able to rely on them during host building process.
How the host building is designe

[2021-03-31 00:24] #31150 closed

[2021-03-31 01:51] dougbu commented on #30760
Found errors mostly or all are about `await`-able methods. This problem likely relates to dotnet/runtime#11126, an issue should have been addressed in dotnet/coreclr#24386 We or dotnet/runtime likely don't have the right version of something in our 2.1 branches.

@trylek @AntonLapounov @jkotas given that context, how can we clean up our messy builds❔

[2021-03-31 02:06] AntonLapounov commented on #30760
We have dotnet/coreclr#24386 fix in .NET Core 3.x branches, but not in 2.x ones.  Considering .NET Core 2.1 is near its end-of-support, I am not sure whether there will be another release.

[2021-03-31 02:10] omajid commented on #30941
Hi @HaoK ! Are there any plans to remove the managed implementation and/or Win7Pbkdf2Provider/Win8Pbkdf2Provider implementations? Will those be kept around for compatibility?

[2021-03-31 02:31] HaoK commented on #30941
Unfortunately we still have to support netstandard and net461, we can't use the new one shot pbdkdf2 in those target frameworks right?

[2021-03-31 02:32] HaoK commented on #30941
Is the new API faster than the Win8/Win7 implementations as well?

[2021-03-31 02:39] vcsjones commented on #30941
Correct. It is .NET 6.

It should be "as fast or better". It borrows many ideas from the DataProtection implementation for Windows, and has a slight allocation improvement for Windows 10+.

On MacOS it uses CommonCrypto from the underlying OS, and for Linux it uses openssl.

[2021-03-31 02:46] meghma opened #31407 "Please add mapping for .msg in FileExtensionContentTypeProvider"
### Describe the bug
Missing { ".msg", "application/vnd.ms-outlook" }

### To Reproduce

### Exceptions (if any)

### Further technical details
- ASP.NET Core version
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're running on, and its version

[2021-03-31 02:54] HaoK commented on #30941
Cool, so sounds like we should just switch to always using this on netcoreapp, and keeping the old branching providers only for non netcoreapp, I'll open a PR tomorrow, thanks for pointing this out

[2021-03-31 03:58] dougbu commented on #30760
This isn't really true for ASP.NET Core because .NET Framework on Windows exists. From https://dotnet.microsoft.com/platform/support/policy/aspnet

Admittedly, https://dotnet.microsoft.com/platform/support/policy/aspnetcore-2.1 lists the packages from this repo and dotnet/extensions that will be supported going forward and the platform-specific packages derived from Microsoft.AspNetCore.App and Mi

[2021-03-31 04:28] AntonLapounov commented on #30760
@dougbu You may discuss with danmoseley whether that would meet the bar for release/2.1.

[2021-03-31 05:27] jiangzeng01 commented on #31387
Thanks @Pilchie & @ericstj !
Link announcement here [https://github.com/aspnet/Announcements/issues/456](https://github.com/aspnet/Announcements/issues/456)

[2021-03-31 05:32] dougbu commented on #30760
@AntonLapounov thanks. Will follow up once I have confirmation on packages like runtime.win-x86.Microsoft.AspNetCore.All. @Pilchie will we need those longer term❔

[2021-03-31 05:35] dougbu commented on #30760
I should have mentioned this issue has existed forever. What's new is building on AzDO instead of TeamCity. The extra verbiage is much more difficult to get through because TeamCity automatically hides large swaths of build output unless you _really_ want to see it.

[2021-03-31 06:13] pantonis commented on #31275
@blowdart any update after my clarification?

[2021-03-31 06:53] ScottKane opened #31408 "Blazor StateHasChanged not working"
Sorry for the below code dump.

I have the following page, it passes a `List<Order>` to my `Table<TItem>` component. The old table was my first draft using a bit of reflection to allow a form inside the component to pass a new TItem back to the page via an OnCreated delegate. It worked in a very rough way, where I could create a simple POCO class without any depth and pass it back to the page. The

[2021-03-31 07:00] pr-benchmarks[bot] opened #31409 "Performance difference: json, plaintext, fortunes_ef, fortunes, fortunes_dapper ..."
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| fortunes [Fixed] | Fortunes aspnet-citrine-amd | 03/29/2021 20:50:02 | 395,311 | 411,149 | 4.01 % (15,838)  :thumbsup:  | 3.90 σ | 4,066.17 |
| fortunes_dapper

[2021-03-31 07:01] #31358 closed

[2021-03-31 07:01] pr-benchmarks[bot] opened #31410 "Performance difference: multiple_queries"
A start time regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| multiple_queries  | Multiple Queries Platform aspnet-citrine-arm | 03/29/2021 20:55:46 | 5,161 | 5,042 | -3 % (-119)  :thumbsup: | -2.61 σ | 46 |

### Changes

[2021-03-31 07:03] NTaylorMullen commented on #28032
Ah interesting, thanks for clarifying. What error diagnostic is that? Aka, is it C# or Razor? Also, is the solution you envision to be to have a diagnostic logged on line 63 or for us to remap to line 63?

[2021-03-31 07:38] NTaylorMullen commented on #28032
Thanks for investigating more! Ok good to know!

[2021-03-31 07:51] dandanmu opened #31449 "[Windows ARM64] with .net6 preview3 SDK installed, warning and error occurred when build and run mvc/razor project."
Repro steps:
1.	Download and install dotnet-sdk-6.0.100-preview.3.21180.8-win-arm64- from https://github.com/dotnet/installer
2.	dotnet new mvc or dotnet new razor in cmd.
3.	Dotnet build and dotnet run
Expected Result:
Build successfully.
Actual Result;
Waring occurred as below when building

CSC : warning CS8785: Generator 'RazorSourceGenerator' failed to generate source. It will not contribute

[2021-03-31 08:47] herrbpl commented on #29150
We see similar issue on net5 workloads running on  docker 18.9.9 running on Ubuntu 16.04 LTS. Without CPU limits, cpu utilization is around 15mCPU, with limits imposed (like 1 or 2 CPU), around 120mCPU while no active requests, only rabbitmq connections threads active more or less

[2021-03-31 09:00] Palpie commented on #17999
@mjenzen For nested validation errors like `Foo.Bar` this would convert to `foo.Bar`. When using camelcase you probably have sent something like `foo.bar` in your request. I would like to suggest this change to ValidationProblemDetailsJsonConverter.Write:

[code]

[2021-03-31 09:17] bcronje commented on #17999
This! It would be pointless to end up with `foo.Bar` if the expectation is camelCase. Whichever implementation is to go forward it would have to support nested fields as well e.g. `foo.bar` as per @Palpie proposal.

[2021-03-31 09:23] kev160967 commented on #31280
Thanks Artak, I was aware of the issue you linked, but I was hoping to get something in place for a system I have live at the moment, and (unless I've missed it) there's no release date announced for the changes described in that issue?

[2021-03-31 09:25] GREsau commented on #17999
I think the more general problem here is that model validation errors only include the C# property path, rather than the original input path - while it's most commonly noticed by the errors using PascalCase instead of camelCase, it's not limited to just casing:

[code]

When sending `{ "bar": 0, "inner_value": { "baz": 0 } }` to an action that takes an `Outer`, the 400 response contains:
[code]

E

[2021-03-31 09:55] Genata commented on #31383
Thank you for the help and the answer, I appreciate it!

I've found the issue, it was not caused by docker, or the .net application, it was caused by the IIS reverse proxy configurations, that I'm using locally - Application Request Routing -> Server Proxy Settings -> Reverse rewrite host in response headers.

![image](https://user-images.githubusercontent.com/15254783/113126268-24dcf000-9220-11eb