[2020-05-12 13:53] javiercn commented on #21629
Ahh,

Then it is because you are using CSP somewhere in your app and haven't configured it correctly. I would check on your app for either a Content-Security-Policy header in the HttpResponse for the initial page load or in a meta tag in your index.html

[2020-05-12 13:55] alvinsy99 commented on #21737
Hi @pranavkm,
Thanks for the response, I haven't created any file in the project because I'm learning .NET core through a online course so it is only a empty project. What I have done is adding the "services.AddRazorPages().AddRazorRuntimeCompilation();" in the Startup.css and try to change the "Hello World!" text into a different one. And I'm pretty sure that I have saved the Startup.css file plu

[2020-05-12 13:59] masoodafar-web commented on #21725
i use asp core hosting
can i create repo from client only?
Otherwise it will take a long time

[2020-05-12 14:02] pranavkm commented on #21737
@alvinsy99 runtime compilation specifically works for changes to cshtml files. If you're looking for a way to rebuild your project on changes to C# files, consider using `dotnet watch` - https://docs.microsoft.com/en-us/aspnet/core/tutorials/dotnet-watch?view=aspnetcore-3.1#run-net-core-cli-commands-using-dotnet-watch

[2020-05-12 14:04] alvinsy99 commented on #21737
That explains a lot.
Thank you very much @pranavkm

[2020-05-12 14:05] #21737 closed

[2020-05-12 14:07] acrigney commented on #9020
Really mate, I think that is stretching it, sure AKS can scale but
especially with the coupling of messaging required to run multiple
containers for a large project I would hardly consider containers in
keeping with the ideals of serverless tech. I can easily plug and play any
backend tech microservices with app servers and functions but would I have
this agility with containers?

On Tue, May 12,

[2020-05-12 14:09] JohnGalt1717 commented on #9020
@acrigney Absolutely you would.  And you wouldn't have dependency hell that is Azure Functions either. (and you can easily use Azure Function host in containers and even k8s if you want)

[2020-05-12 14:12] Crimp opened #21738 "Blazor server side - Get Circuit specific data from static code"
Our issue is related with [IHttpContextAccessor cannot be used reliably in some scenarios](https://github.com/dotnet/aspnetcore/issues/14975)
And we try to find out some appropriated solution for our needs.

We have a legacy code from Asp.Net framework where we use HttpContext.Current to have access to some global data storage. Like this:
[code]

 This store can contain some global environment dat

[2020-05-12 14:17] davidfowl commented on #9020
@acrigney Are you trying to expose gRPC to other microservices running in app service? What does your topology look like?

[2020-05-12 14:41] #21593 closed

[2020-05-12 14:41] #21596 closed

[2020-05-12 14:41] #21634 closed

[2020-05-12 14:41] #21640 closed

[2020-05-12 14:41] #21650 closed

[2020-05-12 14:41] #21684 closed

[2020-05-12 14:41] #21688 closed

[2020-05-12 14:41] bmcdonald01 commented on #21736
It is capitalization it appears.  Turns out I knew about this but missed in my sample.  It the real application it appears that in the class it is set to Caps but the lower layer is converting to lower case.  Thanks.

[2020-05-12 14:41] #21736 closed

[2020-05-12 14:43] pranavkm commented on #21724
Application model is the intended way to extend \ change the behavior of the system. The convention that you authored seems fairly reasonable. You generally shouldn't need to author a `IApplicationModelProvider` for this, but I can see from your code that you have other reasons.

[2020-05-12 14:45] sebastienros opened #21739 "Performance regressions on EF scenarios"
Most probably due to threadpool/epoll changes on the same commit.

https://github.com/dotnet/aspnetcore/issues/21593
https://github.com/dotnet/aspnetcore/issues/21596
https://github.com/dotnet/aspnetcore/issues/21634
https://github.com/dotnet/aspnetcore/issues/21640
https://github.com/dotnet/aspnetcore/issues/21650
https://github.com/dotnet/aspnetcore/issues/21688

The lines that are up are either

[2020-05-12 14:46] ajcvickers commented on #21650
@sebastienros Why did you close this?

![image](https://user-images.githubusercontent.com/1430078/81706118-abc88480-9424-11ea-8134-5dcc411048a6.png)

[2020-05-12 14:46] ajcvickers commented on #21650
@sebastienros Never mind. :-)

[2020-05-12 14:51] MJRasicci commented on #21629
Thank you! I added `frame-ancestors 'self' https://apps.company.com;` to the CSP in the startup file of the server project hosting the Blazor app and that fixed it.

[2020-05-12 14:51] #21629 closed

[2020-05-12 14:53] Tratcher commented on #21735
The token was issued for audiences `master-realm`, and `account`. You'll have to ask Keycloak why it was issued like that.

[2020-05-12 14:56] gmocontreras-dev opened #21740 "Bug with System.Text.Json.JsonSerializer.Deserialize"
Hello friends how are you?.
I comment that I have an error with the deserialization of an object, as I see this could be a bug. There are similar errors reported in which they indicate that in version 3.1 of net core it has been solved, but it is not, since I am using the same version.

### Describe the bug
The situation is the following. I have a class of the company type, which is the one below.

[2020-05-12 14:58] Satukan opened #21741 "Blazor Client (WebAssembly/wasm) Facebook login provider doesn't work"
I would like to add Facebook authentication to a Blazor WebAssembly app (only client).

I set up the program.cs as the following:

[code]

After login I can see the following errors:
![image](https://user-images.githubusercontent.com/20848629/81708563-9af23000-9471-11ea-9476-9628781ae7e7.png)

My question is that possible to add a facebook authentication to the web app? What am I missing?
The fb a

[2020-05-12 15:00] #21680 closed

[2020-05-12 15:07] Pilchie commented on #21739
Should we transfer this to the runtime repo?

[2020-05-12 15:08] mrpmorris commented on #21598
Why a weakmap?

[2020-05-12 15:15] BrennanConroy commented on #21732
Could you be more specific here? Where are you observing no claims?
If you move the attrbitue from
[code]
to
[code]
then you're seeing claims?

[2020-05-12 15:17] nitishwebgentle commented on #21462
I agree with @toddlucas. This should be treated as a priority bug and get fixed.

[2020-05-12 15:17] RemiBou commented on #21598
I changed my code for a classic map. At first I used a WeakMap so we wouldn't keep object in memory for ever. But WeakMap doesn't fit my needs (the oject is the key of the map...). So I did the same as jsinterop : implement IAsyncDisposable and remove ref on Dispose

[2020-05-12 15:19] dustinmoris commented on #2957
Possible duplicate or at least closely related to [https://github.com/dotnet/aspnetcore/issues/2617](https://github.com/dotnet/aspnetcore/issues/2617).

Can we priorotise this work again? If I was to send in a PR what are the chances of you guys merging it in for the next release?

[2020-05-12 15:21] javiercn commented on #21741
@Satukan thanks for contacting us.

Facebook is not an open id connect provider, so this is not a supported scenario.

If you want to support authenticating with Facebook you will have to implement your own authentication provider.

[2020-05-12 15:28] javiercn commented on #21738
@Crimp thanks for contacting us.

We recommend you pass in a parameter to the root component to use as a key for each circuit you start. See https://docs.microsoft.com/en-us/aspnet/core/security/blazor/server/threat-mitigation?view=aspnetcore-3.1#blazor-and-shared-state

[2020-05-12 15:33] yringler commented on #2957
Yes, a resolution of #2617 would also resolve this. (Unless the resolution is also done with private/internal classes.) It's a particular place where the functionality requested in this issue is needed.

Feel free to take a look at [my repo](https://github.com/yringler/distributed-middleware-cache) mentioned earlier, [available on nuget](https://www.nuget.org/packages/DistributedResponseCachingMid

[2020-05-12 15:37] sebastienros commented on #21739
@Pilchie that's probably where it should be. There is a chance that it gets closed since it's not regressing from the previous version. It's an unfortunate "local" regression. But I am sure some investigation will definitely be done to at least understand the reasons.

[2020-05-12 15:50] Satukan commented on #21741
Thank you for the quick response.
Can you please confirm that it is true for the google as well, or I can add it this way?

[2020-05-12 15:51] mselinger75 commented on #21726
Hey, i am sorry bothering again, but i can't find this anywhere in Blazor docs.
i have create a default Blazor server side project with authentication support in VS2019.

this project uses RevalidatingServerAuthenticationStateProvider.
After i login i see application saved an auth cookie like with a name .AspNetCore.Identity.Application.
Can you please point me the code which checks this cookie pr

[2020-05-12 15:57] javiercn commented on #21726
@mselinger75 that is correct.

Server-side Blazor uses websockets so there is no cookie involved after the initial request that sets up the application.

AFAIK our default authenticationstateprovider only grabs the contents of the authenticated principal when the circuit is started and uses as the result to getauthenticationstate.

You could implement your own ClaimsPrincipalFactory to add a claim

[2020-05-12 16:03] mselinger75 commented on #21726
@javiercn , Thank you!
Do you maybe know a recommended way for Blazor to implement an analogue of cookies sliding expiration in ASP.NET Core? So like auto logout in case of e.g. 10 minutes inactivity? Otherwise extend "cookies" time for more 10 minutes?

[2020-05-12 16:04] #21146 closed

[2020-05-12 16:10] mselinger75 commented on #21726
@javiercn ,

You could implement your own ClaimsPrincipalFactory to add a claim with the expiration date of the cookie to the list of user claims, and then in your custom authenticationstateprovider compare the claim with the date with the current time to determine if the user is no longer authorized.
<<<

the problem with this is as I mentioned - if I go back and force between Home and Counter pa

[2020-05-12 16:13] tobbi commented on #19736
It's been a few months since this last occurred, and since then, there were a lot of updates to Visual Studio as well as Blazor. It appears the issue is fixed, therefore I'll be closing it.

Should this re-appear I'll reopen the issue.

[2020-05-12 16:13] #19736 closed

[2020-05-12 16:21] steamprodz opened #21743 "IdentityServer4 and Microsoft Account Issue - Error 404"
Hi!

I am using the next project, which has IdentityServer4 being set up already.
https://github.com/skoruba/IdentityServer4.Admin

Microsoft Account provider was added as an external provider and was working fine until the update of .NET Core from 2.2 to 3.1 (includes nuget packages update).

Now I am getting the following error message:
"HTTP Error 404.15 - Not Found
The request filtering module

[2020-05-12 16:34] #21668 closed

[2020-05-12 16:35] pranavkm commented on #21725
As long as it reproduces the issue, sure.

[2020-05-12 16:43] pranavkm commented on #21692
You could also consider having different types on the server and the client. The type name doesn't appear on the wire.

[2020-05-12 16:47] pranavkm commented on #21603
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-05-12 17:00] #21624 closed

[2020-05-12 17:06] javiercn commented on #21741
No, google uses Open ID Connect, so you can configure it with our library

[2020-05-12 17:07] captainsafia commented on #20401
As it turns out, "Delete all the text inside the editable div" is the important distinction here. The issue does not happen when you trigger an onblur on an content-editable div with content in it.

When the content is cleared from the div, there are no DOM elements and the `updateComponent` method throws when applying the latest updates. I think it is sensible to add some better error-handling ag

[2020-05-12 17:08] GrabYourPitchforks commented on #21740
@gmocontreras-dev Does this only happen within the context of an aspnet application, or do you also see this behavior inside a console application (without aspnet)?

[2020-05-12 17:28] pranavkm commented on #21740
S.T.Json requires public settable properties. I think Newtonsoft.Json has the same requirement. The properties you listed that do not deserialize have non-public setters:

[code]

[2020-05-12 17:32] mrukas opened #21744 "Memory leak: Property caches in PropertyHelper are not getting cleaned up when using AssemblyParts."
### Describe the bug
When you load an assembly in a new AssemblyLoadContext and add it dynamically via an AssemblyPart to the ApplicationPartManager new entries are getting added to the internal property caches. These entries do not get removed when the AssemblyPart is removed and the assembly is unloaded.

These are the caches that i am talking about:
[PropertiesCache](https://github.com/dotnet/a

[2020-05-12 17:36] blowdart commented on #21512
I added it because you didn't :p

[2020-05-12 17:42] yopez83 opened #21746 "404 returned using Google and Cookie authentication on ASP.NET Core"
Here is my setup for a bear bones Web API. The WeatherForecast controller has the `Authorize` attribute on the `Get` endpoint.

[code]

and here is my error response
![Untitled](https://user-images.githubusercontent.com/12285372/81727084-691fa000-9456-11ea-917a-ef7a1f9cd2b2.jpg)

[2020-05-12 17:42] SteveSandersonMS commented on #21717
This is an interesting suggestion!

Currently we don't have any plans to build in a mechanism for rewriting the pathbase as part of the build/publish flow because there hasn't been enough community demand to get it very high on the priority list. If we hear much more demand it's something we might consider (though of course prioritising one thing means something else gets deprioritised).

In the m

[2020-05-12 17:45] Tratcher commented on #21743
IdentityServer4 supplies a lot of extra state to this flow which is why the query gets so long. There are a few examples in that repo to address it:
https://github.com/IdentityServer/IdentityServer4/issues/407
https://github.com/IdentityServer/IdentityServer4/issues/55

[2020-05-12 17:47] Satukan commented on #21741
Thank you, it would be also fine.

Can you please give me any guideline how to set it up?
I created a google app and try calling the same way but receiving the same error.

[code]

![image](https://user-images.githubusercontent.com/20848629/81727405-3773fc80-9489-11ea-8032-b1404d6b148b.png)

[2020-05-12 17:50] Crimp commented on #21738
It would be nice if I can use just DI or parameters. A scoped service will be the best solution for it.  But most of our cross-platform modules are not aware of DI. Our legacy code pretty huge. Even in some cases DI isn't possible I think. For example: global access can be used from ORM to implement some logic inside a business object instance.
For example, in this case the value can be stored and

[2020-05-12 17:55] Pilchie commented on #21733
:eyes:

[2020-05-12 17:55] blowdart commented on #21512
![HItY](https://user-images.githubusercontent.com/796298/81728303-171f5000-943f-11ea-8044-43f775670447.gif)

[2020-05-12 18:02] Tratcher commented on #21746
Change:
[code]
To:
[code]

[2020-05-12 18:02] Keith3679 commented on #21735
Thanks!  It did work when I added...

`ValidAudiences = new string[] { "master-realm", "account", "lamp-app" }`

I will try to address this with Keycloak.

[2020-05-12 18:03] #21735 closed

[2020-05-12 18:26] dougbu commented on #9620
Work on another analyzer in parallel to work on PublicAPI analyzer e.g. `StringComparison` one? That will likely exercise baselining to ignore existing issues.

[2020-05-12 18:26] MichaelPeter opened #21747 "Blazor Webassembly Render into div (for sharepoint or react)"
Hello Blazor/Aspnetcore Team,

I did not find an answer for this yet.

we are building currently a list of Components/Controls for Blazor Web Assembly. Now it would be nice to use these components also in SharePoint Applications or make them available to our partners which use non .net core applications (react/angular)

For this purpose we thought about providing a typescript/Javascript library wh

[2020-05-12 18:53] Crimp commented on #21738
Sorry but also the the initial example is a bit simplified. I don't clear the link to the store here
[code]
Because the store still can be used. The link will be cleaned inside the CircuitHost.DisposeAsync flow.

[2020-05-12 19:00] #21686 closed

[2020-05-12 19:01] dougbu commented on #10464
Reassigning to @Pilchie because he kindly did #21745. Much appreciated❕

[2020-05-12 19:18] NTaylorMullen opened #21748 "Investigate ProjectTemplate tests failure to acquire dotnet new lock."
![image](https://user-images.githubusercontent.com/2008729/81735874-9403f700-944a-11ea-92ce-5d067f7616af.png)

https://dev.azure.com/dnceng/internal/_build/results?buildId=638406&view=ms.vss-test-web.build-test-results-tab&runId=19850116&resultId=120564&paneView=debug

Not sure the appropriate area/feature labels to mark this with so I haven't.

[2020-05-12 19:22] Lupusa87 commented on #21728
Thank you @javiercn

It should be documented somewhere, is it?

For questions like this we do dot have to disturb you.

@danroth27 another blazor doc improvement idea.

[2020-05-12 19:29] caseymarquis opened #21749 "Signalr IHubContext Documentation Issue"
Sorry about the vague title, I'm not really sure where to file a suggestion for improving some aspnetcore documentation on 'docs.microsoft.com'.

In the signalr docs found here:
https://docs.microsoft.com/en-us/aspnet/core/signalr/hubcontext?view=aspnetcore-3.1

The example which shows how to get an IHubContext instance from the middleware pipeline doesn't show the required call to next.Invoke().

[2020-05-12 19:50] Lupusa87 commented on #21729
@javiercn Thank you.

I confirm that it was about blazor app whitin blazor app.

I have seen some conversation about this in [stackoverflow](https://stackoverflow.com/questions/61626154/run-two-blazor-wasm-apps-inside-a-single-wasm-hosted-project) and there were some suggestions.

@SteveSandersonMS I am not sure if lazy loading is same because I do not know good lazy loading concept, hope it will

[2020-05-12 19:54] BrennanConroy commented on #21749
At the bottom of the page is a feedback section, where you can file feedback about the doc. Click the "This page" button to file an issue.

[2020-05-12 19:55] #21749 closed

[2020-05-12 20:00] yopez83 commented on #21746
@Tratcher it works. Thank you. I also opened #21719, which is my ultimate goal, but for some reason I cannot get it to work. I'm closing this, since it works.

[2020-05-12 20:00] #21746 closed

[2020-05-12 20:00] KZeronimo commented on #21632
@davidfowl thanks for your help - we ended up in a good place.  There was no need to work thru the input formatter and foist a byte[] on the controller - the arbitrary binary payload is transparent for us (we only need to validate the content-length) and working with the stream is ideal.

Thanks again

[2020-05-12 20:06] mrpmorris commented on #21598
Yeah, you want to keep the reference, because dotnet potentially holds a reference.

[2020-05-12 20:08] dselvan commented on #20597
@captainsafia having the same issue as op/others have mentioned. tried the three mentioned items with no luck.

just commenting to make sure the issue doesn't get closed as I would really like to see this get resolved.

[2020-05-12 20:09] MeysamMoghaddam commented on #21681
Hi @danroth27 I'm going to use epub in my wasm project, but it also gives an error that it can't find the file.

in browser:
This localhost page can’t be foundNo webpage was found for the web address: https://localhost:44318/Content/Upload/SampleOrg.epub
HTTP ERROR 404

in console:
epub.js:3484 GET https://localhost:44318/Content/Upload/SampleOrg.epub 404

[2020-05-12 20:11] TehWardy opened #21751 "How to close connection with no response?"
I have an MVC controller with an action to handle all paths as part of a custom CMS.
It appears that someone is trying to probe our infrastructure trying different "admin" or "sdk" urls.
There's a common pattern of requests from a "known set of IP's" and they are changing ever so often and the pattern begins again which leads me to this conclusion.

When these requests come in they are always a re

[2020-05-12 20:13] MrnB commented on #18087
Hi! I'm having the same problem. In my situation it seems that despite the `[DisableFormValueModelBinding]` attribute, Form value still comes with the Request. In the example here: [https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads?view=aspnetcore-3.1#upload-large-files-with-streaming](url) it is suggested to add the DisableFormValueModelBindingAttribute to the startup class for

[2020-05-12 20:14] MrnB commented on #18087
Hi! I'm having the same problem. In my situation it seems that despite the `[DisableFormValueModelBinding]` attribute, Form value still comes with the Request. In the example here: [https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads?view=aspnetcore-3.1#upload-large-files-with-streaming](url) it is suggested to add the DisableFormValueModelBindingAttribute to the startup class for

[2020-05-12 20:19] and-rewsmith commented on #21606
@Tratcher I'm going to close the issue. You can open it again if this isn't the expected use case and think it needs fixing.

[2020-05-12 20:19] #21606 closed

[2020-05-12 20:24] yopez83 commented on #21719
@Tratcher, I have modified the `ConfigureServices` method to this,
[code]
As per the URL in the screenshot, I see Google is redirecting the request as intended, but I'm having another exception.
![image](https://user-images.githubusercontent.com/12285372/81741630-dd653e00-946c-11ea-8ea2-42694baac6d6.png)

[2020-05-12 20:31] pwelter34 opened #21752 "Microsoft.AspNetCore.ApiAuthorization.IdentityServer support non Entity Framework data stores"
### Is your feature request related to a problem? Please describe.

Currently, the use of the Microsoft.AspNetCore.ApiAuthorization.IdentityServer package requires that your data store be accessed by Entity Framework.  I have a MongoDB data store and I've implemented all the interfaces for using MongoDB with Identity framework.  However, I ran into a huge road block when trying to implement web ap

[2020-05-12 20:42] adamkjonesmesh commented on #21632
@davidfowl Thanks for the input and help.  We're good to go.  Closing this issue.

[2020-05-12 20:42] #21632 closed

[2020-05-12 20:46] blowdart commented on #21752
There are various[ 3rd party identity packages](https://github.com/dotnet/aspnetcore/tree/master/src/Identity) for things like MongoDB.

You should be able to configure identity server for them, just not using our overloads.

[2020-05-12 20:59] NTaylorMullen commented on #21247
Current deadline for this is June 12th

[2020-05-12 21:00] #21504 closed

[2020-05-12 21:04] pr-benchmarks[bot] opened #21755 "Bad responses: MvcJsonInput2M, MvcJsonNetInput2M, MvcJsonNetInput2M, MvcJsonNetOutput2M, MvcJsonNetOutput2M"
Some scenarios return errors:

| Scenario | Environment | Last Run | Errors |
| -------- | ----------- | -------- | ------ |
| MvcJsonInput2M | Linux, Physical, http, KestrelSockets | 2020-05-12 20:18:27Z | 370 |
| MvcJsonNetInput2M | Linux, Physical, http, KestrelSockets | 2020-05-12 20:22:50Z | 1505 |
| MvcJsonNetInput2M | Linux, Cloud, http, KestrelSockets | 2020-05-12 20:25:28Z | 3527 |
| MvcJ

[2020-05-12 21:19] Tratcher commented on #21719
AddGoogle only works with Cookies, not JwtBearer.

Are you trying to protect a page or a Web API? For a Web API you should be using only JwtBearer and handle the Jwt acquisition on the client side using a Google's SDK.

[2020-05-12 21:23] NTaylorMullen commented on #21712
@tango-charly would you mind providing a repro app for this? I've tried putting together the pieces you mentioned but I can't reproduce what you are seeing.

[2020-05-12 21:24] yopez83 commented on #21719
Just protecting a Web API for now. Do you have any sample on how do I setup the JwtBearer options to get tokens from Google?

[2020-05-12 21:26] Tratcher commented on #21606
@and-rewsmith you're right, I overlooked that possibility.

[2020-05-12 21:28] Tratcher commented on #21719
We don't have any first party samples for Google Jwt. Stackoverflow has several through.
https://stackoverflow.com/questions/48727900/google-jwt-authentication-with-aspnet-core-2-0

[2020-05-12 21:37] ajaybhargavb commented on #21660
I tried to reproduce this on Ubuntu 18.04 in WSL but I couldn't reproduce. I am yet to try it on an actual linux machine. But looking at the logs this looks to be same as https://github.com/dotnet/aspnetcore/issues/19455.

[2020-05-12 21:38] hempels opened #21756 "Use AuthorizeAttribute without triggering a URL redirect on failure?"
Presently, when using ConfigureApplicationCookie and Authorize attributes, any failure will result in a redirect to the AccessDenied path.

This creates a challenge for error reporting, etc, as the end user is not able to see the URL that was originally requested. It also makes troubleshooting more difficult as a page refresh will only ever result in reloading the access denied page (without attem

[2020-05-12 21:40] Pilchie commented on #21748
:eyes:

[2020-05-12 21:42] yopez83 commented on #21719
Ok. I've copied the sample provided by Mikey and still get a 401, back to the beginning.

[2020-05-12 21:46] tango-charly commented on #21712
@NTaylorMullen ok i'm going to do a repo; I'm busy these days so it could take few days before i could do it.

[2020-05-12 21:50] ttutko commented on #18087
I just want to remind everyone again, in case you guys haven't updated it, that the `[DisableFormValueModelBinding]` is not an attribute that is built into AspNetCore and that depending on where (or perhaps more importantly, when) you got the code for it, it was missing something required for 3.0 or 3.1. I suspect this is the cause of most if not all people still experiencing this issue. I was hav

[2020-05-12 21:58] stsrki commented on #21725
@masoodafar-web I had the same problem a while ago. I think there was a problem with one of the nuget packages that was corrupted. Try cleaning the solution and then clear the local nuget cache by running the `dotnet nuget locals all -c`

[2020-05-12 22:00] #17960 closed

[2020-05-12 22:15] captainsafia commented on #21600
Looks like we already document this in https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/webassembly?view=aspnetcore-3.1#use-a-custom-webconfig.

[2020-05-12 22:15] #21600 closed

[2020-05-12 22:15] NTaylorMullen opened #21757 "Investigate language-configuration.json smart indent support"
For smart indent we currently rely on `onEnterRules` via VSCode's language configuration rules: https://github.com/dotnet/aspnetcore-tooling/blob/639481577e2c3fdd5bf96eff72bd8289aa7e3b64/src/Razor/src/Microsoft.AspNetCore.Razor.VSCode/src/RazorLanguageConfiguration.ts#L32-L43

The same mechanics may be able to be applied to [indentationRules ](https://code.visualstudio.com/api/language-extensions/

[2020-05-12 22:24] pranavkm commented on #21748
https://github.com/dotnet/aspnetcore/pull/21753 should address this. I'll add you to the PR @NTaylorMullen .

[2020-05-12 22:34] captainsafia commented on #21716
The implementation for this will assume that a user has:

* Already configured the `inspectUri` in their launch settings correctly
* Is running the application server on their machine
* The user has already launched Chrome/Edge with the remote-debugging flags enabled

The requirements above are a mix of what our dev server needs and what the underlying JS debugger expects.

The `attach` configurat

[2020-05-12 22:47] jepperaskdk commented on #4892
I may not comprehend the complexity of this change, but isn't it just a matter of changing the type from [`TestServer`](https://github.com/dotnet/aspnetcore/blob/master/src/Mvc/Mvc.Testing/src/WebApplicationFactory.cs#L27) to `IServer` which is implemented by both KestrelServer and TestServer?

Attempting to run Selenium integration testing with Kestrel (Core 3.1), I'm seeing a `CastError` when  a

[2020-05-12 22:49] pranavkm commented on #21085
I've written a draft for authoring performant Blazor applications as part of https://github.com/dotnet/AspNetCore.Docs/issues/18277#issuecomment-627606580. It includes a sample for virtualization. Could you give that a try?

In addition, we're looking at continuing to invest in areas of 5.0 including,

* Supporting change detection for data types including complex data types. Tracked via https://g

[2020-05-12 22:51] captainsafia commented on #21396
@PavanDhariwal It looks like the reproduction project you provided isn't a PWA. Perhaps you attached the incorrect file?

I went ahead and created a PWA app and wasn't able to repro the issue you saw. If you can provide:

* What version of Edge are you using?
* What is the stack trace for the error that is displayed when you are trying to debug

[2020-05-12 23:00] pr-benchmarks[bot] opened #21758 "Bad responses: MvcJsonInput2M, MvcJsonNetInput2M, MvcJsonNetOutput2M"
Some scenarios return errors:

| Scenario | Environment | Last Run | Errors |
| -------- | ----------- | -------- | ------ |
| MvcJsonInput2M | Linux, ARM64, http, KestrelSockets | 2020-05-12 22:38:16Z | 889 |
| MvcJsonNetInput2M | Linux, ARM64, http, KestrelSockets | 2020-05-12 22:42:42Z | 2362 |
| MvcJsonNetOutput2M | Linux, ARM64, http, KestrelSockets | 2020-05-12 22:44:33Z | 767 |

[Logs](http

[2020-05-12 23:01] blowdart opened #21759 "Microsoft Security Advisory CVE-2020-1161 | ASP.NET Core Denial of Service Vulnerability"
# Microsoft Security Advisory CVE-2020-1161 | ASP.NET Core Denial of Service Vulnerability

## <a name="executive-summary"></a>Executive summary

Microsoft is releasing this security advisory to provide information about a vulnerability in .NET Core. This advisory also provides guidance on what developers can do to update their applications to remove this vulnerability.

Microsoft is aware of a de

[2020-05-12 23:22] jepperaskdk commented on #4892
I haven't tried with a more complex scenario (and I'm a complete noob) - but it seems to work fine with a KestrelServer if I simply ignore the type being wrong (both KestrelServer and TestServer implement IServer?): [Repro](https://github.com/jepperaskdk/selenium-iserver/blob/master/tests/CustomWebApplicationFactory.cs)

Am I missing the point?

[2020-05-12 23:32] Shazwazza commented on #21724
Hi @pranavkm thanks for the reply. When you say

Is there a better way to achieve having controller scoped model binding/formatters without doing this? Also is there another way to work with the Application Model without implementing a `IApplicationModelProvider`?

For our needs using the Application Model with a custom IApplicationModelProvider is great but for other scenarios where people might

[2020-05-12 23:39] ryanbrandenburg opened #21761 "Vendor tests for Semantic colorization"
We should create some basic vendor tests for semantic colorization. We got broken by a recent VSCode update (it was a proposed API after all) and didn't learn about it until I went to do work in that area.

[2020-05-12 23:44] acrigney commented on #9020
Thanks mate but I think you would not have any dependency hell or tight
coupling with functions. I make stateful microservices using DDD aplication
services with Azure app services and I make stateless microservices with
DDD aplication services in Azure functions. The DDD app services expose
DTOs and use the domain objects and the other app services can observe the
events fired by these domain obj

[2020-05-13 00:00] Mercurial commented on #21660
Thanks for your response, I will create a repository that can easily replicate this if I can, this also happens in my WSL

[2020-05-13 00:01] #20402 closed

[2020-05-13 00:02] pr-benchmarks[bot] opened #21762 "Bad responses: MvcJsonInput2M"
Some scenarios return errors:

| Scenario | Environment | Last Run | Errors |
| -------- | ----------- | -------- | ------ |
| MvcJsonInput2M | Linux, AMD64, http, KestrelSockets | 2020-05-12 23:46:34Z | 284 |

[Logs](https://dev.azure.com/dnceng/internal/_build?definitionId=825&_a=summary)

[2020-05-13 00:10] #21177 closed

[2020-05-13 01:01] JvanderStad commented on #21664
@mkArtakMSFT I'm using Razor RenderFragments in the overrides

eg:
[code]

[2020-05-13 01:09] JvanderStad opened #21764 "[Blazor] component inheritance, rendering logic in base component"
Follow up issue for #21664

My original issue was resolved with the following comment.

However, I use Razor RenderFragments in the overriden class

eg.
[code]

[2020-05-13 01:41] Tratcher commented on #21751
HttpContext.Abort() is the main API for this, but there's some protocol nuance.
- For HTTP/1.1 it aborts the connection immediately
- For HTTP/2 it only aborts the current request (e.g. resets the HTTP/2 stream).
  - When using Kestrel you can do `HttpContext.Features.Get<IConnectionLifetimeFeature>().Abort()` to immideately close an HTTP/2 (or 1.1) connection.
  - I don't think there's a similar

[2020-05-13 02:10] ZhangGaoxing commented on #21681
Manually change the properties of js to `application/javascript`

[2020-05-13 02:10] #21681 closed

[2020-05-13 02:12] davidfowl commented on #21744
I’m sure there are more things that don’t get cleared when assemblies get unloaded. This isn’t something we’ve designed for so I would expect this to be the tip of the iceberg.

If you are willing to send PRs to solve the issues as you did them, that would be great. Otherwise, we’d need to look at this all up but, that’s super unlikely because it’s low priority

[2020-05-13 02:57] mkArtakMSFT commented on #21764
Thanks for the follow-up, @JvanderStad.
Reopening the original issue to continue the conversation in there for a better context.

[2020-05-13 02:57] #21764 closed

[2020-05-13 03:01] mkArtakMSFT commented on #21664
Thanks for the key detail, @JvanderStad.
That's indeed an important detail we haven't considered earlier.

[2020-05-13 03:44] JvanderStad commented on #21664
I was thinking a little bit more about this; maybe the inherit mechanism can be even better:

If _by convention_ you would inherit from a base component which has defined a `ChildContent`-parameter

[code]

'Inject' the Razor content of the inherited component into the `ChildContent` of the parent component. The generated code would be something like this:

[code]

[2020-05-13 04:33] OrihuelaConde commented on #21383
@MortenMeisler we doens't used Git, in this case, but our scenario is number 2 (build machine is Windows and production server is Linux). We also tried `<BlazorCacheBootResources>false</BlazorCacheBootResources>` without positive result.

[2020-05-13 04:41] tytannial commented on #21732
YES, but claims from "/DashBoardHub/negotiate?negotiateVersion=1" can not be get.

`
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/DashBoardHub", {
                accessTokenFactory: () => token
            })
            .withAutomaticReconnect()
            .configureLogging(signalR.LogLevel.Debug)
            .build();
`
"skipNegotiation: true", can skip ne

[2020-05-13 05:19] an2ny opened #21767 "Migrations fail when project has docker-compose"
### Describe the bug
I wanted to use persisted grant on my identity server 4 project so i followed the instructions as stated [here](https://identityserver4.readthedocs.io/en/latest/quickstarts/5_entityframework.html).
when i am on the part of adding migrations, i was trying ff. codes below.

`Add-Migration PersistedGrantMigration -c PersistedGrantDbContext -v`
`Add-Migration ConfigStoreMigration

[2020-05-13 05:38] davidfowl commented on #21767
I don't think this has anything to do with docker-compose based on this error:

[code]

What happens when you run the single projects that is failing outside of docker running locally.

[2020-05-13 05:43] julienGrd commented on #21085
@pranavkm thanks for this code, its really a cool code I would not have done better.

I integrate in my test app : https://github.com/julienGrd/BlazorTest

You now have a new menu Fetch Data Virtualize where i use your virtualization system in my grid, the performance are really good, the ordering feature works well, selection too included keyboard navigation (except some scroll synchronisation wi

[2020-05-13 05:52] MeysamMoghaddam opened #21768 ".epub not found"
Hi I'm going to use epub in my wasm project, but it also gives an error that it can't find the file.

in browser:
This localhost page can’t be foundNo webpage was found for the web address: https://localhost:44318/Content/Upload/SampleOrg.epub
HTTP ERROR 404

in console:
epub.js:3484 GET https://localhost:44318/Content/Upload/SampleOrg.epub 404

While this file is in my client project

[2020-05-13 06:12] BrennanConroy commented on #21732
Can you put a sample app that shows the issue on GitHub?

[2020-05-13 06:17] tarastriska opened #21770 "core 3.1 garbage collector is lazy"
### Describe the bug
We have microservices running in docker/k8s.
During load memory usage increases which is fine.
But it never gets released. It grows and never goes down. We tried calling GC explicitly and it frees a lot of memory (for ex from 1.5 Gb to ~400Mb). This is the behavior when we don't set limits.
Does it mean that GC is not called if we have free available memory?

### Further techn

[2020-05-13 06:22] an2ny commented on #21767
i am not sure what you mean but it is working fine if i run them on their own instead of docker compose. also fine when i removed docker compose.

[2020-05-13 06:38] ajaybhargavb commented on #21660
Oh interesting. Yes, a repro project will be very useful. You should be able to push it to a Github repo from within the codespace.

[2020-05-13 06:40] m1nicrusher opened #21771 "[Blazor] ServerSide Unstable Connection When HTTPS Enabled on Nginx"
### Describe the bug
When HTTPS is enabled (redirect 80 to 443) the website will be very unstable (frequent attempt of reconnection and CSS loss).
![image](https://user-images.githubusercontent.com/19246983/81779013-2f729600-9537-11ea-83b7-239217f22610.png)

### To Reproduce
1. Create a brand new project of Blazor ServerSide app.
2. Publish to be ready to run on Linux
3. Follow this document to co

[2020-05-13 07:18] tytannial commented on #21732
https://github.com/tytannial/SimpleTemplate
Here's the code.

[2020-05-13 07:55] anranruye opened #21772 "Rewrite ResourceLocation by [ResourceLocationAtrribute] with whitespace"
private string GetResourcePath(Assembly assembly)
        {
            var resourceLocationAttribute = GetResourceLocationAttribute(assembly);

            // If we don't have an attribute assume all assemblies use the same resource location.
            var resourceLocation = resourceLocationAttribute == null
                ? _resourcesRelativePath
                : resourceLocationAttribute.Re

[2020-05-13 08:06] smokedog2 opened #21773 "The application randomly stops responding"
I have an application that randomly stops responding after upgrading from .net core 2.x to 3.1, maybe a few days, or a few weeks. After stopping the response, the resources are almost not consumed, and there is no log output. I suspect a deadlock. I have a 1g dump file, but I don't know how to analyze it.
Can someone help? Thanks!
Deployment environment
centos7.4 + docker

[2020-05-13 08:10] rolfik commented on #15104
As I have written in https://github.com/dotnet/runtime/issues/31198, we need quick fix please, otherwise we are forced to use c server gRPC implementation.
Thank You

[2020-05-13 08:14] yasserss commented on #10170
its already supported in asp.net mvc , we talking here about blazor

[2020-05-13 08:15] poke commented on #18449
@SteveSandersonMS Thanks a lot for the clarification :)

[2020-05-13 08:22] TehWardy commented on #21751
Thanks @Tratcher !
exactly what I needed.

[2020-05-13 08:22] #21751 closed

[2020-05-13 08:36] mrpmorris commented on #21653
Re-opening this for now so the follow-up question isn't forgotten about (by me).

@bind-checked doesn't compile. Surely it should, shouldn't it? If so, I will raise a ticket for that.

[2020-05-13 08:49] stefanloerwald opened #21775 "[Blazor] 404 on _framework/blazor.server.js with nginx reverse proxy"
### Describe the bug

I have a server-side blazor application that I want to put behind a reverse proxy with nginx.

I followed [this instruction](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/linux-nginx?view=aspnetcore-3.1#configure-nginx) to set headers etc, and [this instruction](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/server?view=aspnetcore-3.1#linux

[2020-05-13 09:00] #19738 closed

[2020-05-13 09:06] stefanloerwald commented on #21775
Here's the devtools output for `_framework/blazor.server.js`:

[code]

And here for `css/site.css`:

[code]

[2020-05-13 09:34] conficient commented on #19148
I've just stumbled onto this minefield myself. I have an ASP.NET Core 3.1 app that uses Identity Core - controllers, views and pages all work correctly with authentication.

I tried to retrofit a Blazor WASM client into this so we can start the migration process to Blazor with a hybrid Blazor-RazorPages-MVC application and gradually move functionality into Blazor components - this is likely to be

[2020-05-13 09:39] atabibi commented on #20597
This method worked for me:

.NET Core SDK (reflecting any global.json):
 Version:   3.1.202
 Commit:    6ea70c8dca

Runtime Environment:
 OS Name:     linuxmint
 OS Version:  19.3
 OS Platform: Linux
 RID:         linux-x64
 Base Path:   /usr/share/dotnet/sdk/3.1.202/

Host (useful for support):
  Version: 3.1.4
  Commit:  0090613580

.NET Core SDKs installed:
  3.1.202 [/usr/share/dotnet/sdk]

.N

[2020-05-13 09:42] pariesz commented on #18087
The [3.x/SampleApp](https://github.com/dotnet/AspNetCore.Docs/tree/master/aspnetcore/mvc/models/file-uploads/samples/3.x/SampleApp) that I tested with and I reproduced the problem removes the `FormFileValueProviderFactory` in the [DisableFormValueModelBindingAttribute](https://github.com/dotnet/AspNetCore.Docs/blob/master/aspnetcore/mvc/models/file-uploads/samples/3.x/SampleApp/Filters/ModelBindin

[2020-05-13 10:00] pr-benchmarks[bot] opened #21776 "Scenarios are not running: Plaintext"
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| Plaintext | Linux, ARM64, http, KestrelSockets | 2020-05-12 09:59:56Z |

[Logs](https://dev.azure.com/dnceng/internal/_build?definitionId=825&_a=summary)

[2020-05-13 10:15] javiercn commented on #21775
@stefanloerwald thanks for contacting us.

We'll look into this issue and update the status appropriately.

Does the request succeed when running the app on localhost?

[2020-05-13 10:17] stefanloerwald commented on #21775
Hi @javiercn, the request works if I navigate to the app directly.

[2020-05-13 10:19] javiercn commented on #21773
@smokedog2 thanks for contacting us.

I would suggest you start by loading the process dump inside Visual Studio and looking at the list of Tasks in the parallel stacks window. See [here](https://docs.microsoft.com/en-us/visualstudio/debugger/walkthrough-debugging-a-parallel-application?view=vs-2019#using-the-parallel-stacks-window-threads-view) for details.

Alternatively, you can use Win DBG, lo

[2020-05-13 10:24] mikymigs commented on #21655
+1
This has been an issue for me because I'm using JWT authentication and the authentication token is set on the httpclient header (httpClient.DefaultRequestHeaders.Authorization) after a successful authentication. Now when I inject the httpClient in a component to call a remote service requiring authentication, I get a new instance with a null authorization header! This is very inconvenient and i

[2020-05-13 10:27] hermanthotan commented on #21403
@Tratcher Thanks can Close this, will using the Identity as of now.

[2020-05-13 10:27] #21403 closed

[2020-05-13 10:38] javiercn commented on #21770
@tarastriska thanks for contacting us.

That's the default behavior of the garbage collector, it tries to avoid doing work while there is memory available to consume. As you noticed, when you explicitly trigger the garbage collection it frees memory. I would read [here](https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/) and [here](https://docs.microsoft.com/en-us/dotnet/standard

[2020-05-13 10:40] javiercn commented on #21768
@MeysamMoghaddam thanks for contacting us.

You need to register the content type mapping in the static files provider. See [here](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/static-files?view=aspnetcore-3.1#fileextensioncontenttypeprovider) for details

[2020-05-13 10:42] javiercn commented on #21767
@an2ny thanks for contacting us.

This issue is not specific to ASP.NET Core. I would suggest you file an issue with the Identity Server folks as they'll be able to provide you with a better and faster answer.

[2020-05-13 10:43] SteveSandersonMS commented on #21085
@julienGrd In case it's of interest to you, I've also proposed what I think is a better way of doing list virtualization that should perform better still and may avoid some of the scroll synchronization issues you've mentioned. Might be worth trying it out in your app: https://github.com/pranavkm/repro/pull/2

[2020-05-13 10:49] SteveSandersonMS commented on #21383
@secana Sounds like the Git config might not be correct:

* You need to configure the file mode in `.gitattributes`, not `.gitignore`
* After updating `.gitattributes`, you must run something like `git add --renormalize .` to make it take effect. You should see the affected files show up as modified and needing to be committed into your Git repo. If the files don't show up as modified, then your c

[2020-05-13 11:02] SteveSandersonMS commented on #21690
@tn-5 Sorry for the inconvenience. However, as far as I'm aware, this is not really a Blazor issue, but is rather a quirk of how Safari behaves on iOS in general.

There are many, many other reports of people wondering about this when using other frameworks too ([example](https://stackoverflow.com/questions/24077725/mobile-safari-sometimes-does-not-trigger-the-click-event), or for others, search t

[2020-05-13 11:23] tn-5 commented on #21690
I'm aware that Safari mobile (like all browsers) have quirks that you may need to work around. The thing that concerned me in this case it not that it does not work on Safari, but that there is a different between Safari mobile (as a website) and Safari mobile (as a PWA launched from the home screen).

I suppose I was worried that there might be something about the way Blazor specifically register

[2020-05-13 11:31] Jon-Murray commented on #21722
Hi Brennan,

   I've had a play around with your PR and it looks spot on. Really good timing and a great implementation that has everything that i'd need. Perfect timing too. Will close this now. For anyone else who ends up here via a search engine, the Startup.cs in SignalRSamples has an example filter (CustomHubFilter). Thanks for the quick reply/work!

[2020-05-13 11:32] #21722 closed

[2020-05-13 11:40] masoodafar-web commented on #21725
@javiercn
this is my project
https://github.com/masoodafar-web/4satBlazorCopy.git

[2020-05-13 11:41] tn-5 commented on #21690
I've done further testing and I'm thinking it may be a Blazor specific issue.
If you replace `@onclick="IncrementCount"` in the repo above with `onclick="alert('clicked')"` the event fires every time.
It is only the processing of the event by Blazor that does not seem to work.

[2020-05-13 11:48] askolniak commented on #19148
Hi, I think you must change your view - separate the client-side part from the WebApi. WebApi answers with 401 when the action require authentication/authorization and your request doesn't meet this requirement (e.g. does not contain a valid token). Then on the client-side you must react to such a response from the API, either informing the user of a lack of permissions, or redirecting to the logi

[2020-05-13 12:01] pr-benchmarks[bot] opened #21777 "Scenarios are not running: BlazorBasic, BlazorFormInput, ConnectionClose, ConnectionClose, DbFortunesDapper ..."
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| BlazorBasic | Linux, AMD64, http, KestrelSockets | 2020-05-12 11:39:19Z |
| BlazorFormInput | Linux, AMD64, http, KestrelSockets | 2020-05-12 11:40:12Z |
| ConnectionClose | Linux, AMD64, http, KestrelSockets | 2020-05-12 11:36:11Z |
| ConnectionClose | Linux, AMD64, https, KestrelSo

[2020-05-13 12:02] SteveSandersonMS commented on #21532
Thanks for getting in touch. I've investigated and determined what's going on.

The problem is that your component is trying to bypass the normal parameter-passing mechanism, and is overwriting its own changes:

 * When `SelectAll` runs, `FetchData` mutates the internal state of the `TChecklist` child component. This is something you should avoid doing, because it's bypassing the normal rendering

[2020-05-13 12:11] Looooooka commented on #4385
ok this really should be added. configuring with subject is a pain especially in azure scenarios where again thumbprint is shown...
in fact add Thumbprint and certificateserialnumber because having these options in code and config files has pretty much been "normal" in all net framework options.

[2020-05-13 12:23] SteveSandersonMS commented on #21690
Blazor uses event delegation - that’s why it’s different and affects all event delegation systems.

[2020-05-13 12:44] KrystofZacek opened #21778 "In Visual Studio/blazor pressing F12 on other .razor component's class/subclass/method does not work"
In VS2019, server-side Blazor project pressing F12 on another .razor component's class/subclass or method does not take me to definition of that type. Instead I get message "Cannot navigate to symbol under carret".

Example:
Say I have a razor component called MsgBox.razor which has a method called Show().
When using this component in another component I cannot go to the definition of Show by pres

[2020-05-13 12:52] KrystofZacek opened #21779 "When blazor project opens in VS with .razor component displayed on startup then the class view content dissappears"
In VS2019 when I open a server-side Blazor project then the class view content dissapears if on VS startup a razor component page is to be displayed.

Example:
Say that I open VS2019 blazor project and a MsBox.razor file is to be automatically re-opened (from the last VS session). Then the class views content is displayed briefly and then dissappears.
The only way to get it back is to close all .r

[2020-05-13 12:57] SteveSandersonMS commented on #20361
I don't see any repro code posted here (just a video) so it's difficult to be sure I know what the issue is.

My guess is that you're trying to bind directly to a .NET `DateTime` value. If so, I'd suggest that's not always a good plan, since a `DateTime` has no way to hold invalid values. If you want to allow the UI to be in the state of displaying an invalid value, then the underlying storage has

[2020-05-13 13:03] MeysamMoghaddam commented on #21768
@javiercn Thanks, it's solved.

[2020-05-13 13:17] an2ny commented on #21767
@javiercn alright. thanks

[2020-05-13 13:17] #21767 closed

[2020-05-13 13:31] KrystofZacek opened #21780 "In Blazor server-side project if .razor component is in /Shared folder then it is not found by F12 and refactoring"
In Blazor server-side project if .razor component is in /Shared folder then neither the component nor its members (methods, subclasses) are found by F12 and also refactoring works weirdly on them - see below:

Say I have Counter.razor component in /Shared.
The component has a public method SetCount(int count).
I can happily use the component from Pages/Index.razor.

@page "/"
<Counter @ref="counte

[2020-05-13 13:37] KrystofZacek opened #21781 "In Blazor project in Visual Studio in .razor components there should be the namespaces/classes/methods bar as in case of a .cs file"
In .razor components editor window in VS there should be the namespaces/classes/methods bar on top of the window as it is the case for normal .cs files.

That would simplify the navigation in big .razor component files a lot.

[2020-05-13 13:39] paddotk commented on #20542
I have this issue too. I wish there was a solution offered instead of just closing the ticket.

[2020-05-13 13:50] orkunweb commented on #20542
Open visual studio installer and click "Restore". When you do this, it will start working properly again.

[2020-05-13 13:54] KrystofZacek opened #21782 "In Blazor project when exception is thrown in the markup part of .razor component then VS should show WHERE in the markup the exception was thrown."
.razor component code consists of markup and @code part.
If exception is thrown in the code within @code part then VS shows where the exception comes from.

Unfortunately if the exception comes from the code embedded in the markup part then we get only an exception dialog without showing where the exception comes from.

It then may be very difficult to find the exception source in the markup.

[2020-05-13 13:59] KrystofZacek opened #21783 "When adding new item to Blazor project VS should first of all offer Razor Component. Not Razor Page."
When adding new item to Blazor project  VS should offer first of all Razor Component. Not Razor Page. Offering Razor Page instead of Razor Component might be extremely missleading for newbies and impractical for seasoned users.

[2020-05-13 14:02] KrystofZacek commented on #21778
Duplicate with #21780

[2020-05-13 14:02] #21778 closed

[2020-05-13 14:08] KrystofZacek commented on #21770
I have noticed that too. It is horifying to watch RAM eaten having a long running service. The thing is one becomes unsure whether there is a memory a leak or just that the GC is lazy as hell.

[2020-05-13 14:25] pranavkm commented on #21724
You could consider registering a model binder provider that does this. You have access to the action context in the provider, so you could defer the decision until the model needs to be bound.

You can register a convention as part of `MvcOptions` or annotate it as an attribute. In your case, you could consider having `UmbracoApiControllerAttribute` additionally implement `IControllerModelConventi

[2020-05-13 14:44] #21450 closed

[2020-05-13 14:52] pranavkm commented on #20672
Thanks for the report @weichch. We've addressed this as part of 2.1.18 and 3.1.4 release.

[2020-05-13 14:53] #20672 closed

[2020-05-13 15:00] pranavkm commented on #20172
The test has been unskipped. In addtion, I've added some retries to see if that help. Unfortunately the lack of any logs makes it difficult to understand why this failed in the first place: https://github.com/dotnet/aspnetcore/pull/21711

[2020-05-13 15:29] BenjaminCharlton opened #21784 "Supporting strongly-typed Ids and other simple value objects as Parameters by means of a TypeConverter"
My application uses strongly-typed Ids and value objects throughout. The pattern I'm following is explained in a four part blog here:

https://andrewlock.net/using-strongly-typed-entity-ids-to-avoid-primitive-obsession-part-1/

To see the benefit from using them they should be used consistently right up the edges of the application, such as in web APIs and EntityFramework. EFCore has made that eas

[2020-05-13 15:58] vsfeedback opened #21785 "URGENT Blazor missing Indexed Navigation Menu"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1006209/urgent-blazor-missing-indexed-navigation-menu.html)._

---
After all the VS 2019 updates that have been done for Blazor, why can't we navigate our code(objetcs,functions) ?
As solutions become bigger, it's getting harder and harder to use the Code Editor to Navigate

[2020-05-13 16:08] BrennanConroy commented on #20617
App Service doesn't seem to have a way to choose what version to install. We've unlisted the 5.0 preview package now. Try removing and re-adding the extension to get the 3.1.4 version.

[2020-05-13 16:11] yopez83 commented on #21719
@Tratcher I’ve tried many different approaches and so far I always get a 401. Btw, I read in SO the Google library is meant for browser interactive apps. Therefore, it is safe to say it isn’t the go to approach for authorization code flow, right? My ultimate goal is to have a Blazor WebAssembly (standalone) app, which calls a protected API endpoint (the Web API I’m working on now). Then the API de

[2020-05-13 16:23] mrukas commented on #21744
It could really be that there are more things that doesn't get cleaned up. But when analyzing the memory usage this seemed to be the most prominent error. I will try to further investigate the issue and try to provide a PR if I find the time.

[2020-05-13 16:25] trygvelo commented on #21747
I just finished up a proof-of-concept of a similar requirement. I'm using IFrame and the PostMessage API to avoid any security issues with the IFrame. Works like a charm so far. I can do a more in-depth write-up about it later.

[2020-05-13 16:29] mkArtakMSFT commented on #21784
This is similar ask to #8493

[2020-05-13 16:32] mkArtakMSFT commented on #21783
Thanks for contacting us.
We prefer to keep the order of items as is as the Blazor Server project is a usual ASP.NET Core Web application.

[2020-05-13 16:32] #21783 closed

[2020-05-13 16:33] mkArtakMSFT commented on #21781
Thanks for contacting us. This is not part of the runtime feature-set. Please use the VS Feedback to report this issue, so the team who owns the area can track the ask.

[2020-05-13 16:33] #21781 closed

[2020-05-13 16:39] mkArtakMSFT commented on #21771
Thanks for contacting us.
@BrennanConroy can you please point to the "how to diagnose connectivity issues with SignalR" docs?

[2020-05-13 16:40] danroth27 commented on #21565
Hi @jmagaram. This appears to be an issue with the performance of the WebAssembly implementation in older versions of Edge. While we do ongoing work to improve the performance of the .NET WebAssembly runtime, there isn't anything we can do about specific browser implementations that have limitations. Our recommendation would be to move to the latest version of Edge, which should should have perfor

[2020-05-13 16:40] #21565 closed

[2020-05-13 16:41] SteveSandersonMS commented on #21775
It looks like your proxy modifies the URL structure (from `/*` to `/application/*`). If that is the case then you must also modify the `<base href>` value in your page correspondingly, otherwise the browser won't know where to fetch related resources. This is not Blazor-specific but rather is just how relative URLs work within browsers.

So your `index.html` probably needs to specify (note the req

[2020-05-13 16:41] BrennanConroy commented on #21771
Could you please gather logs and a trace of the network traffic?
Instructions can be found: https://docs.microsoft.com/aspnet/core/signalr/diagnostics?view=aspnetcore-3.1

[2020-05-13 16:44] mkArtakMSFT commented on #21747
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-05-13 16:48] mkArtakMSFT commented on #21772
Thanks for contacting us. This is not something we plan to  change.

[2020-05-13 16:48] #21772 closed

[2020-05-13 16:52] MichaelPeter commented on #21747
@trygvelo Hey thank you for the answer, yes would be really interesting to hear about your experience. Also regarding if multiple iframes point to the same page and blazor is loaded multiple times, if that is efficient or if the resources are also just loaded once.

Of corse this is just a work arround and a implementation by blazor would provide completly different possibilies like sharing object

[2020-05-13 16:54] mkArtakMSFT commented on #21691
Thanks for contacting us.
Transformations aren't supported with Blazor WebAssembly apps. Moving this to the backlog to see how the rest of the community reacts to this ask.

[2020-05-13 16:55] blowdart commented on #21719
That approach is, well, somewhat complicated. You're asking for delegated or on-behalf of flows, and I don't know if google will support that in their login OIDC flows.

[2020-05-13 16:56] mkArtakMSFT commented on #21656
@bradygaster is this something you're handline these days?

[2020-05-13 16:57] captainsafia commented on #21691
@JulienM28 Do you have a repro project that you can share as a GH repo?

[2020-05-13 16:57] gr8tushar opened #21788 "CS8103: combined length of user strings used by the program exceeds allowed limit"
This is related to issue #20224.

I have tried Visual Studio Pro 2019 (16.5.5) and .NET Core 3.1
`
As soon as I add few Views to an ASP.NET Core project, the build fails.

Its strange that no enterprise has reported this. I fail to understand how can an enterprise product be migrated to .NET Core if this issue is not resolved.
Having few hundred views in a enterprise project is a very common scena

[2020-05-13 16:59] davidfowl commented on #21732
https://github.com/tytannial/SimpleTemplate/blob/master/SimpleTemplate.Web/Services/UserIdentityInfo.cs

The IHttpContextAccessor doesn't *really* work in SignalR applications today. It would be best to use

[code]

[2020-05-13 17:00] mkArtakMSFT commented on #21537
@felipesfaria glad you've got to the bottom of this. Do you want to send us a PR for this?

[2020-05-13 17:00] #21726 closed

[2020-05-13 17:00] #21692 closed

[2020-05-13 17:10] #20994 closed

[2020-05-13 17:12] conficient commented on #19148
Thanks @askolniak  I do indeed want to keep the WebAPI 401 behaviour, but I need normal views/controllers in the app to redirect to Login. I fully understand the CascadingAuthenticationState etc. this isn't about them, it's regular MVC controllers since this is an existing application.

[2020-05-13 17:13] bdnts commented on #19148
Hi, My experience, which is by no means exhaustive, if you are in a mixed environment, this should be workable.  If I were to put this in to a matrix, there would be Blazor Server and Blazor Server/WASM across the top.  Then down the side is 100% Blazor, and then MVC/Blazor.  The 4 combinations have slightly different solutions because of the underlying tech.  We can add a third dimension to our m

[2020-05-13 17:19] maxcherednik opened #21789 "WebApplicationFactory and IWebHostBuilder are causing deadlocks"
We have a lot of tests which are written in a way described here:
https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-3.1#basic-tests-with-the-default-webapplicationfactory

Sometimes WebApplicationFactory cause a deadlock while running under xUnit.

### Is your feature request related to a problem? Please describe.

Following the example in the [documentation](http

[2020-05-13 17:23] felipesfaria commented on #21537
Could there be any side effects for other cases?
I could make a pull request adding BypassProxyOnLocal to SpaOptions and only setting it if true.

[2020-05-13 17:24] stefanloerwald commented on #21775
Hi @SteveSandersonMS,

yes, I'm modifying the URL structure. However, the proxy rewrite should take care of that, given the http referer, so the application itself should see the requests coming in at the correct URLs, shouldn't it? In fact, it does, for the css resources, just not for the framework javascript file.

Adding the application path (that only the reverse proxy knows) into the applicat

[2020-05-13 17:25] AlexeyBoiko opened #21790 "Visual Studio 2019 attach to Blazor WebAssembly App browser - A debugger operation is taking a long time"
### Problem
Attach to Chrome/MS Edge (Chromium) from Visual Studio 2019 Preview prompt a popup with message:
"A debugger operation is taking a long time to complete. Click "Cancel" to stop waiting and terminate the process."

### To Reproduce
0. Create Blazor WebAssembly App project with "ASP.Net core hosted" option from template.
1. In launchSettings.json of server project set "launchBrowser": fa

[2020-05-13 17:25] franklupo commented on #20894
News?

[2020-05-13 17:38] BrennanConroy commented on #20617
3.1.4 site extension works.

[2020-05-13 17:38] #20617 closed

[2020-05-13 18:00] #21530 closed

[2020-05-13 18:00] #21741 closed

[2020-05-13 18:01] SteveSandersonMS commented on #21775
No, I don't think that will happen, and we can see from the 404s you're getting that it doesn't happen.

Since your page's base href is hardcoded as `/`, even when the browser thinks it's at https://my.host/application/, the related URLs will be resolved relative to https://my.host/ (e.g., `https://my.host/something.css`). That doesn't have any `/application/` prefix so the rewriter won't get invo

[2020-05-13 18:17] blowdart commented on #20639
This doesn't give us a lot of details.

What type of logins? Do you have MFA enabled? Did you scaffold out identity? Did you make changes to identity?

[2020-05-13 18:20] ajcvickers commented on #21108
@MisinformedDNA That's not unreasonable, but the priority is still going to be very low unless there is a large number of people who want to do. It would likely require at least tweaks to the model, and possibly bigger changes, since it is pretty relational-specific in its design.

[2020-05-13 18:21] blowdart commented on #21108
Closing as "by design". Until we get a lot more requests this isn't going to happen due to the model changes needed.

[2020-05-13 18:21] #21108 closed

[2020-05-13 18:23] davidfowl commented on #21183
@dv00d00 Are you willing to try something out for me? I want to see if there's a workaround we can document and I want you to try again.

[2020-05-13 18:26] SpiraMira opened #21793 "angular-devkit progress shows many "fail: Microsoft.AspNetCore.SpaServices[0]" errors"
### Describe the bug
Latest dotnet new angular generates projects with these build/run issues when
angular-devkit/build-angular progress option is set to true as in:

"architect": { "build": { "builder": "@angular-devkit/build-angular:browser", "options": { "progress": true,

Streaming Errors look like this:

`
fail: Microsoft.AspNetCore.SpaServices[0] <s> [webpack.Progress] 41% building 266/266 m

[2020-05-13 18:37] pranavkm commented on #21787
@tmat \ @gafter out of curiosity, what is this size limit?

[2020-05-13 18:37] shifted7 commented on #17861
Planning to take on this issue as part of an assignment for our coding school. Is this a good issue for a couple of graduating students to look at? Didn't see a help-requested tag, and it seems like it might be trickier than it first appears, but we'd like to take a shot at it :)

[2020-05-13 18:49] stefanloerwald commented on #21775
The rewrite happens based on referer. And again: it works for the css resources, but not for the framework js. The reverse proxy doesn't make that distinction, so it must be a problem of the application, i.e. the blazor app.

[2020-05-13 19:00] #21738 closed

[2020-05-13 19:09] tmat commented on #21787
2^24 bytes. Literals are UTF16 encoded, so 8M characters.

[2020-05-13 19:13] HaoK commented on #21694
Scaffolding fix is here: https://github.com/dotnet/Scaffolding/pull/1337

[2020-05-13 19:34] khalidabuhakmeh commented on #17210
Closing this issue is fine.

[2020-05-13 19:46] dv00d00 commented on #21183
Sure, still have a repro branch by my side @davidfowl

[2020-05-13 20:03] MrnB commented on #18087
Thats what I did. However, when the `[ValidateAntiForgeryToken]` is **not** applied, there is no unhandled IO exception. When you do use it, it throws the exception. Is there something the ValidateAntiForgeryToken does which enabled the Form value again?

[2020-05-13 20:09] BrennanConroy commented on #21059
Closing as there is a workaround (and it's fixed in 5.0) and we likely wont backport.

[2020-05-13 20:09] #21059 closed

[2020-05-13 20:12] davidfowl commented on #18087
@MrnB yes, it reads the form and consumed the body.

[2020-05-13 20:16] BrennanConroy commented on #21618
We can consider deprecating the @aspnet/signalr client with a message about the new client. New clients still work with older server versions, so there should be no breaks when people switch to a new client.

@anurse we talked about this before. Do you remember why we didn't deprecate earlier?

[2020-05-13 20:21] BrennanConroy commented on #21718
Can you share your web.config and how you're deploying the app?
And could you provide diagnostic logs https://docs.microsoft.com/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-3.1#enhanced-diagnostic-logs

[2020-05-13 20:22] bradygaster commented on #21618
@simonua thanks for your detailed synopsis of how you got a bit confused here, and our apologies for it. As @gfoidl pointed out, that is our main doc on the latest version of the JavaScript client, which is **absolutely** the `@microsoft/signalr` package. I'll retrace your steps and do what I can to make that journey less confusing for folks.

[2020-05-13 20:24] BrennanConroy commented on #21703
@mikem8361 do you remember if this was fixed or has a workaround? Both CLR and CoreCLR are loaded in the same process

[2020-05-13 20:24] BrennanConroy commented on #21672
Cool. Point to the feature please?

[2020-05-13 20:30] BrennanConroy commented on #21637
Are you modifying the requests feature collection in your app anywhere?
Is it possible to share an app that hits this issue?

[2020-05-13 20:32] captainsafia commented on #20597
I've got a lead on what causes the total failure option that can't be fixed by any of the approaches I outlined [here](https://github.com/dotnet/aspnetcore/issues/20597#issuecomment-624307113).

I was able to reproduce the problem and it appears that in VS Code running under WSL the debug proxy is never launched. You can verify this by running:

[code]

to get the process running the Blazor dev se

[2020-05-13 20:35] BrennanConroy commented on #21556
Putting in next sprint, @Tratcher if you think this is important or needs backporting let us know.

(Kestrel trims header values FYI)

[2020-05-13 20:35] maxim-saplin commented on #17730
Thumbs up for for proper .NET Tasks and Threads

[2020-05-13 20:35] ryanbrandenburg opened #21795 "Make PubTernal classes properly internal"
https://github.com/dotnet/aspnetcore/blob/master/src/Localization/Localization/src/ResourceManagerStringLocalizer.cs#L57

This will involve a breaking change announcment.

There are few more related to localization:

member | details
-- | --
api/Microsoft.Extensions.Localization.ResourceManagerStringLocalizer.-ctor.yml | 2 invalid cross   reference(s)   "Microsoft.Extensions.Localization.Internal.

[2020-05-13 20:38] BrennanConroy commented on #21528
Is there an app_offline file in your bin folder?

cc @BillHiebert

[2020-05-13 20:39] BrennanConroy commented on #21488
Should be fixed by https://github.com/dotnet/aspnetcore/pull/21649

[2020-05-13 20:39] #21488 closed

[2020-05-13 20:40] anurse commented on #21618
`@aspnet/signalr` version `1.0.x` (which maps to .NET Core 2.1) is still LTS supported, so it's not really appropriate to deprecate a fully supported package.

What we can (and should do) though is update the README for the package. That seems like a reasonable way to clear up some confusion. Something like:

[code]

@simonua can you clarify what was confusing here? The doc you ended up on is pret

[2020-05-13 20:47] orthoxerox commented on #14365
I've ran into this with my toy application: three sliders that are bound to three properties and must recalculate a few output properties on change. The most concise way would be to `@bind` the sliders to the properties and handle `@onchange` with `Recalculate()`.

This means that `@bind` must come first in the combined event handler, but I wonder if anyone has the opposite requirement.

[2020-05-13 20:48] davidfowl commented on #21183
We're going to need to make a change to FluffySpoonLetsEncrypt.

[2020-05-13 21:05] BrennanConroy opened #21796 "OnDisconnectedAsync() always getting null as exception on client connection close"
---
**Issue moved from SignalR/SignalR#4455**
- Please respond to @aneeshsiva77.

---

_From @aneeshsiva77 on Monday, March 30, 2020 9:01:13 AM_

I have SignalR hub which has OnDisconnectedAsync(Exception exception) override the base method. Currently this method will hit on all the disconnected scenarios (Connection stopped from the client side, Browser Closed, Browser Tab closed etc.) But the pa

[2020-05-13 21:08] vid83 commented on #17963
I noticed a similar behavior with the ASPNETCORE_URLS variable: the value of the "Urls" section of the appsettings.json file always overrides the value of the environment variable.

I stumbled across this problem working on a asp.net 3.1 core application with docker support enabled, where the environment variable was defined in the docker-compose.override.yml file.
Anyway, the same happens in a si

[2020-05-13 21:08] pranavkm opened #21797 "Runtime compiled views use relative paths which messes with debugger"
---
**Issue moved from OmniSharp/omnisharp-vscode#3248**
- Please respond to @Xarkam.

---

_From @Xarkam on Tuesday, August 27, 2019 9:41:37 AM_

Hello,

I have a solution with several asp.net core projects.
I do not find how to indicate in the launch.json files several path for the views (Razor).
(It is a project of partials apps)

Here is the part of the file:
[code]

Is it possible to debug vi

[2020-05-13 21:08] pranavkm commented on #21797
---
**Issue moved from OmniSharp/omnisharp-vscode#3248**
- Please respond to @cartermp.

---

_From @cartermp on Tuesday, May 12, 2020 11:44:16 PM_

Unfortunately I don't quite understand the question. @NTaylorMullen is this related to the Razor tooling by chance?

[2020-05-13 21:08] pranavkm commented on #21797
---
**Issue moved from OmniSharp/omnisharp-vscode#3248**
- Please respond to @Xarkam.

---

_From @Xarkam on Wednesday, May 13, 2020 12:53:07 PM_

@cartermp I have edited the title and added the type of views

[2020-05-13 21:08] pranavkm commented on #21797
---
**Issue moved from OmniSharp/omnisharp-vscode#3248**
- Please respond to @NTaylorMullen.

---

_From @NTaylorMullen on Wednesday, May 13, 2020 5:16:15 PM_

This (`Is it possible to debug views of different projects in single solution?`) would actually fall under the .NET Core debugger. /cc @gregg-miskelly

[2020-05-13 21:08] pranavkm commented on #21797
---
**Issue moved from OmniSharp/omnisharp-vscode#3248**
- Please respond to @gregg-miskelly.

---

_From @gregg-miskelly on Wednesday, May 13, 2020 5:41:43 PM_

Sadly, I don't know if there is any reasonable way to solve this from the debugger side. VS Code doesn't support searching for source files, so we need to return paths that actually exist on the disk. @NTaylorMullen do you know if there i

[2020-05-13 21:08] pranavkm commented on #21797
---
**Issue moved from OmniSharp/omnisharp-vscode#3248**
- Please respond to @NTaylorMullen.

---

_From @NTaylorMullen on Wednesday, May 13, 2020 6:28:21 PM_

Sorry, I'm not quite sure I understand the question, probably due to my ignorance in the debugging space (even for Razor files). Could you elaborate?

[2020-05-13 21:08] pranavkm commented on #21797
---
**Issue moved from OmniSharp/omnisharp-vscode#3248**
- Please respond to @Xarkam.

---

_From @Xarkam on Wednesday, May 13, 2020 7:32:57 PM_

My problem is simple.

I have a solution with 3 projects:
AT
B
VS

Project A is the entry point (executed project).

Projects B and C are of the partial app type, each containing views (cshtml files)

What is the solution that allows me to put a breakpoi

[2020-05-13 21:08] pranavkm commented on #21797
---
**Issue moved from OmniSharp/omnisharp-vscode#3248**
- Please respond to @gregg-miskelly.

---

_From @gregg-miskelly on Wednesday, May 13, 2020 7:36:36 PM_

@NTaylorMullen This isn't so much a debugger problem as a view compilation problem - when views are compiled, instead of using real source paths, the PDB instead claims that all the source files are in a directory named '/Views'. Do you k

[2020-05-13 21:09] pranavkm commented on #21797
---
**Issue moved from OmniSharp/omnisharp-vscode#3248**
- Please respond to @NTaylorMullen.

---

_From @NTaylorMullen on Wednesday, May 13, 2020 8:43:09 PM_

Ahhh thanks for the clarification I understand better now. @pranavkm is it possible to change PDB locations at compilation time for our Razor views?

[2020-05-13 21:09] pranavkm commented on #21797
---
**Issue moved from OmniSharp/omnisharp-vscode#3248**
- Please respond to @pranavkm.

---

_From @pranavkm on Wednesday, May 13, 2020 8:50:59 PM_

Is this using runtime compilation? The files that RazorSDK generates have the absolute path in them and are compiled by csc.

[2020-05-13 21:09] pranavkm commented on #21797
---
**Issue moved from OmniSharp/omnisharp-vscode#3248**
- Please respond to @gregg-miskelly.

---

_From @gregg-miskelly on Wednesday, May 13, 2020 8:55:08 PM_

Yes, runtime compilation. I am guessing some csc option is being used ([pathmap](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/pathmap-compiler-option)?) to change the debug info so that source files c

[2020-05-13 21:09] pranavkm commented on #21797
---
**Issue moved from OmniSharp/omnisharp-vscode#3248**
- Please respond to @pranavkm.

---

_From @pranavkm on Wednesday, May 13, 2020 9:08:16 PM_

It's likely the latter. We might have been deliberately trying to use relative paths for some reason, but it's likely unnecessary seeing that debugger attaches to build time compiled views just fine. I'll go ahead and transfer it to the AspNetCore re

[2020-05-13 21:21] viktorpeacock opened #21798 "Provide access to service factory when registering async health check"
### Is your feature request related to a problem? Please describe.
When registering an async health check, I would like to have access to the service factory so that I can get my health checks to call dependencies that are resolved by the service factory.

### Describe the solution you'd like
AddAsyncCheck to be able to resolve services via IoC

### Describe alternatives you've considered
Copy Del

[2020-05-13 21:26] davidfowl commented on #21183
I'm looking for an extensibility point in the APIs. Basically what I want you to try is building the cert chain whenever a certificate is retrieved on the background thread.

Do you know if there's a way to hook in and get the certificate before it gets passed to Kestrel? I see some ways but it requires wrapping a service.

[2020-05-13 21:37] mikem8361 commented on #21703
I don't remember any problems with the minidump generation side of things. SOS needed a little work to deal with dumps with both CLR and .NET Core but that has been in the latest SOS for a while.

Can we get a sample dump with the problem?

[2020-05-13 21:40] Crasius commented on #20850
@anure i got a similiar problem.
The reason why i want to use http is because the authentication service should not have to be a .net application/written in .net
Blazor is, at least for my understanding, an UI Framework - and should only handle UI related things. I dont want to implement the hole logic into this app/.net dependencies. When i want to change the UI to an WPF app, JS based SPA, Andro

[2020-05-13 21:55] aKzenT commented on #21703
I could share one privately if it helps.

[2020-05-13 21:57] Tratcher commented on #21556
@pedramrezaei did you encounter this in a real app or only in a test environment?

[2020-05-13 22:00] SteveSandersonMS commented on #21775
I'm afraid I'm not in a position to debug what is insufficient about this particular kind of proxying/rewriting, however I think something about it must be insufficient.

Reason: if the proxying/rewriting was updating the request so that, from the application server's perspective, it was no different from a regular direct request, then the application server would not be able to distinguish it fro

[2020-05-13 22:01] #21740 closed

[2020-05-13 22:01] pbakun opened #21800 "AllowAnonymous being ignored with multiple auth schemes"
I have an issue with Authorization for my signalr hub.
In my app I have started with Razor pages MVC with default cookie auth. Later I've developed React-based SPA with JWT. I have different controllers which uses auth scheme depending on target front-end. Till that point everything works fine.
App also uses signalr hub, which needs to be accessed by both kind of auth schemes and an anonymous user

[2020-05-13 22:02] SteveSandersonMS commented on #21775
Also I still think you will need to update the base href. Otherwise, Blazor's router will not be able to match up the browser's URLs with the `@page "..."` directives in your application.

For example, if the page URL is `/application/`, the only way this will show the homepage (i.e., the component with `@page "/"`) is if the base href is set to `/application/`.

[2020-05-13 22:17] SteveSandersonMS commented on #21775
One last thought :) I think there's a much simpler way to achieve what you're doing here.

Since your site at `http://my.host:8080/` is running on ASP.NET Core, you can change the config so that it actually treats `http://my.host:8080/application/` as the PathBase. If you do that, then you no longer have to rewrite URLs from `/x` to `/application/x`, because all the URLs within that site will be w

[2020-05-13 23:17] netbitshift opened #21804 "Where are the built-in Razor components documented eg EditForm?"
Where are these Blazor components listed and explained in the docs?
EditForm
InputText

[2020-05-13 23:38] radderz commented on #5465
@danroth27 - This issue is to lazy load an "Area" as a way to improve performance of a large application. Would it be possible to extend this concept to "modules" to enable some form of extensibility? As an example, I have a website that allows the upload of widgets (javascript) that asp.net core dynamically loads into the dom enabling extensibility of the user interface.

I'd love to be able to d

[2020-05-14 00:00] #20332 closed

[2020-05-14 00:03] #20324 closed

[2020-05-14 00:11] blowdart commented on #21800
Do both schemes have roles you require in them, or only one?

Also note that .NET Core 3.0 is [EOL](https://dotnet.microsoft.com/platform/support/policy/dotnet-core) and out of support, if you're updating please go to 3.1

[2020-05-14 00:34] brockallen commented on #21719
Also, google's token server will never want to protect your APIs. Their token server is only meant for their APIs. You need your own token server to protect your APIs.

[2020-05-14 01:01] pr-benchmarks[bot] opened #21807 "Bad responses: MvcJsonNetOutput2M"
Some scenarios return errors:

| Scenario | Environment | Last Run | Errors |
| -------- | ----------- | -------- | ------ |
| MvcJsonNetOutput2M | Linux, AMD64, http, KestrelSockets | 2020-05-14 00:40:56Z | 6 |

[Logs](https://dev.azure.com/dnceng/internal/_build?definitionId=825&_a=summary)

[2020-05-14 01:17] jbomhold3 opened #21808 "Blazor _content folder"
```<StaticWebAssetBasePath>apps/app1</StaticWebAssetBasePath>```
works to move _framework and _framework/bin to the correct base path

However, _content still outputs to root.

### Further technical details
- ASP.NET Core version Blazor WASM RC1

[2020-05-14 01:20] #21507 closed

[2020-05-14 01:21] #21714 closed

[2020-05-14 01:29] tytannial commented on #21732
So the problem is the request doesn't get into hub, no ClaimsPrincipal been generated. Is there any solution for get ClaimsPrincipal outside the hub?

[2020-05-14 01:42] davidfowl commented on #21732
We pass the the claims from the http context to the hub (it’s actually the same user)

[2020-05-14 01:47] tytannial commented on #21732
![20200514094613](https://user-images.githubusercontent.com/11215623/81883434-d0a92d00-95c7-11ea-8205-dd3e4607de07.png)
😥

[2020-05-14 01:49] m1nicrusher commented on #21771
Hi all, when I was creating another test environment to provide the logs (On the document it says "Server-side logs may contain sensitive information"). I noticed that deleting this line from Nginx config file can fix the problem but I'm not sure if there will be anything insecure in the future:
[code]

It is from the section to redirect:
[code]

[2020-05-14 02:07] smokedog2 commented on #21773
This is the information I saw through the command.

Statistics:
              MT    Count    TotalSize Class Name
00007f759069d310        1          128 System.Runtime.CompilerServices.AsyncTaskMethodBuilder`1+AsyncStateMachineBox`1[[System.Threading.Tasks.VoidTaskResult, System.Private.CoreLib],[centanet.com.Middleware.Redirect301Middleware+<Invoke>d__2, centanet.com]]
00007f759069c170        1

[2020-05-14 02:12] tytannial commented on #21732
I notice that when the [AuthorizeAttribute] on hub, the AuthorizationHandler is triggered first then the JwtBearerEvents.MessageReceived. But move [AuthorizeAttribute] to function, JwtBearerEvents.MessageReceived is first then the AuthorizationHandler.

[2020-05-14 02:18] Shazwazza commented on #21724
Hi @pranavkm,

I think this is exactly what I mentioned in the first bullet point in the issue description. An IModelBinderProvider doesn't get access to the action context, all you get access to is the `ModelBinderProviderContext` which doesn't contain the action context. Maybe this does exist for vLatest?

I didn't know about using `IControllerModelConvention` as an attribute implementation... t

[2020-05-14 02:33] BrennanConroy commented on #21771
Read the docs for [limit_req](http://nginx.org/en/docs/http/ngx_http_limit_req_module.html#limit_req) and decide what is best for your app.

But it sounds like you're probably hitting the limits and having some requests rejected by nginx.

If you're using LongPolling it's possible you could easily hit these limits as each message triggers a new HTTP request. WebSockets is definitely preferred, bot

[2020-05-14 02:37] m1nicrusher commented on #21771
Hi, I'm pretty new to ASP.NET Core. A new project could suffer from this problem so how do I know if I'm using LongPolling or WebSockets and how do I change that? Thank you!

[2020-05-14 02:39] BrennanConroy commented on #21771
Look at your network traffic or logs and see what is being used. LongPolling will consist of a bunch of HTTP/HTTPS GET requests (and LongPolling being in the logs). WebSockets will have a single WS/WSS request with a 101 response code.

[2020-05-14 02:43] daniel-p-tech opened #21809 "[Blazor] [Azure Storage] Incorrect content type"
Hi,

I'm running into an issue when deploying Blazor WebAssembly app to Azure Storage (hosted as a static website).

I have first published the app from Visual Studio (latest preview) to a local folder. Then I uploaded all published files using Microsoft Azure Storage Explorer (latest version 1.13.0) to my Azure Storage container.

However, when I run the app in Chrome (the app runs fine in Edge)

[2020-05-14 03:05] smokedog2 commented on #21773
Another point needs to be explained. After the application stopped responding, I only successfully dumped the file once, and at other times it always showed Writing dump to /root/.dotnet/tools/core_20200514_091451
...
Wait a few hours and still do

[2020-05-14 03:10] m1nicrusher commented on #21771
I did a fiddler trace and found a bunch of HTTPS GET and no WS/WSS request. How do I change to WebSockets?

[2020-05-14 03:13] pranavkm commented on #21724
You're right about the provider, I mis-remembered it.

[2020-05-14 03:57] Tratcher commented on #21809
@danroth27

[2020-05-14 04:24] MarekPokornyOva commented on #5465
@radderz, maybe you'd try https://github.com/MarekPokornyOva/BlazorLazyLoad - see \Samples\01\BlazorApp\Pages\LazyComponent for component level lazy loading.

[2020-05-14 04:34] radderz commented on #5465
@MarekPokornyOva I am talking about the built in version done by MS for .NET 5, I did check your github repo, and it may be possible to do that, but I haven't started a production project yet so would prefer a built in way once we do.

I did however check your repo earlier, how would you go about including an unknown module at runtime? I.e. not it isn't a known assembly at build time so the manife

[2020-05-14 04:44] Shazwazza commented on #21724
Aha, ok after a little more digging I can see that is possible too. An `IModelBinderProvider` has `ModelBinderProviderContext` which doesn't provide any controller/action info but this can return a custom `IModelBinder` and when `BindModelAsync` is called, the `ModelBindingContext` does contain the action context so you'd have that information available then.

I've had a look at using `IController

[2020-05-14 04:55] danroth27 commented on #21809
Hi @daniel-p-tech. Thanks for sharing with us this feedback! Yes, we are aware of the issue. It isn't specific to Blazor. Depending on how you deploy your files to an Azure Static Website the mime types may not get setup correctly. Using the Azure Storage Explorer has this problem. We have notified the Azure Storage folks and they area aware of the issue. We are working with them to improve their

[2020-05-14 05:02] hristijankiko opened #21810 "SignalR Core Java Client support for JRE 1.7"
### Describe the bug
I have a project which uses JRE 1.7 and it seems like the current version of the SignalR Java client requires JRE 1.8.

Any suggestions on how I can get around this?

### To Reproduce
What steps can we follow to reproduce the issue?
Try to use SignalR Core Java Client with JRE 1.7

![image](https://user-images.githubusercontent.com/8568277/81894643-9eadc000-95f3-11ea-8792-9098

[2020-05-14 05:31] tredition commented on #20597
This solution also worked for me! Thanks!

[2020-05-14 06:00] Knarzi commented on #21532
Okay, thanks for the information. I was actually hoping that I could put the status of the checkbox directly inside the component, so I would just have to pass the items instead of the checkbox status plus the corresponding item. I wanted to create a generic component that is as self-sufficient as possible, which contains the functions SelectAll, SelectNone etc. directly, so that it is not necessa

[2020-05-14 06:13] tnlthanzeel opened #21811 "RDLC report in asp core razor and mvc"
when will rdlc reports be avaialble to asp core razor or mvcapps?. very much needed. thanks

[2020-05-14 06:25] KrystofZacek commented on #21783
Blazor project is a project where we typically add razor components. Not razor pages. I have realized several SSB projects without adding a single razor page.

[2020-05-14 06:59] JulienM28 commented on #21691
For now it's not a big problem to not have transformation, as we only use it to add http header to staging environment.
But I assume we will quickly want to add other headers or customize some stuff on IIS and it may won't be possible to do that at server level.

Thanks.

[2020-05-14 07:10] isc30 commented on #5465
@radderz The manifest approach is completely extensible, it doesn't need to be a static file 😄

You can achieve what you suggest by specifying a custom `IAssemblyLocator` (where to find the DLLs) and `IManifestLocator` (where to download the manifest JSON). **These could be both AspNetCore endpoints**.

This approach would also work well with `<Lazy>` and `<LazyRouter>` since they rely on these in

[2020-05-14 07:15] mwaleedr commented on #21528
@BrennanConroy there is no app_offline.htm in binfolder

[2020-05-14 07:35] chrdlx opened #21812 "Blazor ServerSide <Select> 'Required' attribute not working"
In a new Blazor project (using the default template) just add this code in any component you want:

[code]

You'll find out that when you press the submit button when "Test" is selected,  the form submits, and it shouldn't because it's "required".
The only way for this to work is to change the code to this:

[code]

So when you remove the "TEST" text, somehow it works....    in both cases this sim

[2020-05-14 08:03] Xarkam commented on #21797
@pranavkm I opened the issue in August 2019. It's been 7 months. I had forgotten about it.
I have since switched to NET Core 3.1

[2020-05-14 08:08] gulbanana commented on #5774
:-(

[2020-05-14 08:09] IonutArhire opened #21813 "OpenIdConnect Access Token not a valid JWT"
Using .Net Core 2.2 I encounter this issue where the TokenResponseReceivedContext doesn't contain a valid JWT access token:

[code]
The access token starts with something like: `PAQABAAAAAAAm-06bl`...

It doesn't look like  a JWT token.

When I try to use the access token I get this error:

`CompactToken parsing failed with error code: 80049217`

Here is the configuration for oidc:
[code]

Down th

[2020-05-14 08:09] IonutArhire opened #21814 ".Net Core OpenIdConnect Access Token not a valid JWT"
Using .Net Core 2.2 I encounter this issue where the TokenResponseReceivedContext doesn't contain a valid JWT access token:

[code]

When I try to use the access token I get this error:

`CompactToken parsing failed with error code: 80049217`

Here is the configuration for oidc:
[code]

Down the authentication pipeline this method is called, setting the resource:

[code]

My final goal is to obtai

[2020-05-14 08:10] #21814 closed

[2020-05-14 09:00] julienGrd commented on #21692
@javiercn : im suprised but your solution work perfectly ! I can't use it for different reason but interesting to know !
@pranavkm : it can be a solution for sure ! but for now i can't really use this, because the code I reuse use the same class both in server and client side. I have to adapt on this situation

[2020-05-14 09:00] pr-benchmarks[bot] opened #21815 "Scenarios are not running: DbMultiQueryDapper, DbMultiQueryEf, MvcDbMultiQueryRaw, Plaintext"
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| DbMultiQueryDapper | Linux, Physical, http, KestrelSockets | 2020-05-13 08:41:03Z |
| DbMultiQueryEf | Linux, Physical, http, KestrelSockets | 2020-05-13 08:41:47Z |
| MvcDbMultiQueryRaw | Linux, Physical, http, KestrelSockets | 2020-05-13 08:42:33Z |
| Plaintext | Linux, Cloud, http

[2020-05-14 09:09] azydevelopment commented on #17962
Hey @javiercn

Any word on this one? Seems like a fundamental requirement for even a basic web app.

[2020-05-14 09:14] stefanloerwald commented on #21775
Thanks Steve for your comments. Passing the base path as config is somewhat acceptable, and I get that it's the only way given the routing requirement.

With that, I got it to work, but following the advice for signalr through nginx, it did fall back to non-websocket connection for blazor. I found [another resource](https://www.serverlab.ca/tutorials/linux/web-servers-linux/how-to-configure-nginx-

[2020-05-14 09:32] niico100 opened #21816 "Changing Password settings in ASP.net Core Identity doesn't work"
### Describe the bug
If you download the sample application or start a new ASP.NET Core (2.2 or 3.1) application with Identity, it ignores password settings.

For example, I just changed options.Password.RequiredLength = 6; to 1, but when I type in a password on the register form is still says 'The Password must be at least 6 and at max 100 characters long.'

Similar behaviour happens when you cre

[2020-05-14 09:35] #21816 closed

[2020-05-14 09:36] burakakca commented on #20890
It would be better if the blazor page does not host in microsoft, it is external.

[2020-05-14 09:40] niico100 opened #21817 "ASP.net Core Identity, password settings ignored"
### Describe the bug

If you download the sample application or start a new ASP.NET Core (2.2 or 3.1) application with Identity, it ignores password settings.

For example, I just changed options.Password.RequiredLength = 6; to 1, but when I type in a password on the register form is still says 'The Password must be at least 6 and at max 100 characters long.'

Similar behaviour happens when you cr

[2020-05-14 09:50] Apskalle opened #21818 "Updated PWA notification"
If a newer version is available it is AFAIU downloaded in the background and used in the next session.
I would want to notify the app user of it's existence and give an opportunity for it to be used directly (probably involving a reload/restart).

Is that possible?

/M

[2020-05-14 10:00] javiercn commented on #21811
@tnlthanzeel thanks for contacting us.

The component that you mention is not part of ASP.NET Core, so we don't have any specific information we can give you.

@danroth27 maybe you can route this to the right folks to provide an answer?

[2020-05-14 10:02] javiercn commented on #21808
@jbomhold3 thanks for contacting us.

StaticWebAssetBasePath controls the base path for the assets of a given project, not assets from referenced projects nor nuget packages. For that, you need to use MSBuild to change their paths.

[2020-05-14 10:03] javiercn commented on #21804
See https://docs.microsoft.com/en-us/aspnet/core/blazor/forms-validation?view=aspnetcore-3.1 for docs

[2020-05-14 10:18] tnlthanzeel commented on #21811
thanks @javiercn

[2020-05-14 10:20] simonua commented on #21618
Thanks, everyone, for the conversation.

Hi @anurse, there's a difference in perspective here, I think, in that I looked at it from an npm perspective where I had two choices that didn't differ based on information on the registry whereas you looked at it from a much clearer Microsoft docs perspective. I think the latter is fine, and you are right that the doc is clear. What I wish for would be le

[2020-05-14 10:49] steamprodz commented on #21743
I've came across this post
https://github.com/IdentityServer/IdentityServer4/issues/3502#issuecomment-517032676

It's noted it's not an issue of IdentityServer4.

I found a solution. If AD Azure authentication is used, you can simply add this (as you can find in IdentityServer4 docs):
[code]

If you want to use Microsoft Account via `.AddMicrosoftAccount()` extension method, you can cache the Stat

[2020-05-14 10:53] jbomhold3 commented on #21808
do you have an example of this?

[2020-05-14 11:10] javiercn commented on #21808
Something like this should do the trick. You'll have to play a bit with MSBuild to make it work, but this is the rough sketch.

[code]

[2020-05-14 11:11] jbomhold3 commented on #21808
Thank you

[2020-05-14 11:17] punjabier opened #21820 "Make AspNetCore.ApiAuthorization.IdentityServer .netstandard compatible"
I was working on a demo project with clean architecture where I was about to put Context class in Infrastructure, But `Microsoft.AspNetCore.ApiAuthorization.IdentityServer` is not `.netstandard2.1` compatible. So I had to make Infrastructure `netcoreapp3.1`

[2020-05-14 11:45] rogierhofboer opened #21821 "Blazor WebAssembly: Authorize attribute on Razor Page with Policy causes infinite loop"
Using the Authorize attrinute on a Blazor WebAssemblyAuthorize Razor Page with a Policy causes infinite loop since Microsoft.AspNetCore.Components.WebAssembly.Authentication version 3.2.0-preview4.20210.8.

Relevant code:

[code]

Adding an Authorization Policy in Program.cs:

[code]

Then when adding in the a razor page:
[code]

I've narrowed it down to:
[code]
There were quite some changes in th

[2020-05-14 11:46] LastImmort opened #21822 "Login problem while upgrading to 3.1 version"
### Describe the bug
An error during login process. Linq query can't be translated.

[code]

That fragment is throwing an exception
Equivalent code that using database context works fine

[code]

### To Reproduce

[code]

[code]

Method used

[code]

Context implementation

[code]

[code]
-->

### Further technical details
- ASP.NET Core v3.1.3
- Include the output of `dotnet --info`:
  Microsoft.

[2020-05-14 12:44] javiercn commented on #21820
@punjabier thanks for contacting us.

AspNetCore.ApiAuthorization.IdentityServer depends on ASP.NET Core specific functionality which targets netcoreappxx, so it can't be netstandard.

[2020-05-14 12:45] blowdart commented on #21822
@ajcvickers Any idea what would cause this in EF?

[2020-05-14 12:46] blowdart commented on #21817
@HaoK The UI should honour the settings, right?

[2020-05-14 12:48] javiercn commented on #21821
@rogierhofboer thanks for contacting us.

Can you provide a minimal repro project that showcases this issue?

Have you updated your App.razor as follows?
[code]

[2020-05-14 12:49] stavroskasidis opened #21824 "[Blazor wasm] Google ads campaign marks site as infected"
We have a marketing site that was build with blazor wasm containing a google ads campaign.

After a few days google ads marked our site as having "unwanted software" (virus/unsigned binaries?), because of blazor wasm, blocking our ads.

The binary files where already changed to **".bin"** instead of **".dll"** as documented [here](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor

[2020-05-14 12:52] blowdart commented on #21813
Is there a reason you don't want to use the AAD helpers?

When you acquire an access token it's for your application, it's not for making calls to graph, you need token exchange at that point. Might I suggest you take a look at the new [Microsoft.Identity.Web](https://github.com/AzureAD/microsoft-identity-web) packages the AAD folks are previwing? It's aiming to simplify and centralize AAD access,

[2020-05-14 13:01] #21690 closed

[2020-05-14 13:01] #20361 closed

[2020-05-14 13:34] dv00d00 commented on #21183
I'm ok with including FluffySpoonLetsEncrypt as a project reference, we can use the raw cert file it creates without it being involved at all. If the workaround works I'll submit a fix pr to the https://github.com/ffMathy/FluffySpoon.AspNet.LetsEncrypt repo

[2020-05-14 14:00] #21768 closed

[2020-05-14 14:15] rogierhofboer commented on #21821
I didn't, but I have now updated App.razor. It doesn't make a difference.
I will try to come up with a project to reproduce the issue in an isolated setting.

[2020-05-14 14:27] yopez83 opened #21825 "WASM: Microsoft.JSInterop.JSException: Could not find 'AuthenticationService' in 'window'"
I have a Blazor WebAssembly (SPA) app I want to add authentication to with Google. I installed the Nuget package as described here https://docs.microsoft.com/en-us/aspnet/core/security/blazor/webassembly/?view=aspnetcore-3.1#feedback. See below my `Main` method

[code]

### Exception
When I run it this is what I see in the console
![image](https://user-images.githubusercontent.com/12285372/8194644

[2020-05-14 14:38] Sm1le291 opened #21826 "LoginPage as Razor Component in Blazor WebAssembly"
Hi! Is it possible to rewrite scaffolded LoginPage as Razor component and use SignInManager there to authorize user?
Now opening Login page takes more time than usual Razor Comonent.  And needs more efforts to support because actually it's rendered on server side. Could you give some examples or ideas about rewriting Login page as usual Razor component

[2020-05-14 14:49] Sm1le291 commented on #21790
Hi! Just install the last VS Preview which allows you to debug your app without typing any commands

[2020-05-14 14:54] javiercn commented on #21826
@Sm1le291 thanks for contacting us.

Blazor webassemby uses ASP.NET Core Identity + Open ID Connect to perform login so a redirect is required unless you are willing to perform the authentication within a pop-up window. Unfortunately, that is a feature we only support for Azure Active Directory (B2C) logins.

[2020-05-14 14:56] javiercn commented on #21825
@yopez83 thanks for contacting us.

I think you are likely missing a script reference in your Index.html. Create a new application template with authentication enabled and see the differences within Index.html

[2020-05-14 14:57] yopez83 commented on #21825
Let me check that @javiercn. Thanks

[2020-05-14 15:00] BrennanConroy commented on #21771
Fiddler doesn't capture WebSocket traffic by default. It's a lot easier to see what transport you're using by looking at the logs on the server or browser, and looking at the network tab in the browser.

And if you find that you aren't using WebSockets, you likely need to change your nginx config to proxy websockets. https://www.nginx.com/blog/websocket-nginx/

[2020-05-14 15:00] #21770 closed

[2020-05-14 15:01] Sm1le291 commented on #21826
@javiercn thanks for answer! No problem with redirect)
But how to get token and set cookies? How to reproduce PasswordSignInAsync method logic on client side? Is it possible?

[2020-05-14 15:09] javiercn commented on #21826
@Sm1le291 You would have to define an API endpoint or something like that. Potentially you could set cookies as the response to an API call, but it is not trivial to do in a secure way.

[2020-05-14 15:14] rleath82 commented on #21288
@lengockyquang
Apparently the response format wasn't to be in the format of text/plain. Your API should be returning the JSON object instead.

[2020-05-14 15:17] mrpmorris commented on #21653
@mkArtakMSFT I think your bot needs fixing.

[2020-05-14 15:21] daniel-p-tech commented on #21809
Thank you @danroth27 for your quick response. Your answer implies that there is a different mechanism for publishing Blazor app to Azure Static Website that doesn't have the issues that I raised. Can you or someone else point me in the right direction? Maybe this is something that should be properly described in the deployment section of Blazor documentation?

Thanks!

[2020-05-14 15:24] gubbiprathibha commented on #18915
@Xarkam Were you able to solve the problem? I have the same issue. It works good in VS2019 but fails during in my codepipeline.

[2020-05-14 15:28] Sm1le291 commented on #21826
@javiercn what exactly happens after entering data into fields is sending login, password and csrf token as a POST query to /Identity/Account/Login if I do so what will be unsafe?

[2020-05-14 15:31] davidfowl commented on #21183
OK so this logic that you wrote here:

https://github.com/dotnet/aspnetcore/issues/21183#issuecomment-619579627

You basically need to replicate that but I would copy this logic:

https://github.com/dotnet/runtime/blob/4f84429fb44801b841c052505935a3cd14da18e2/src/libraries/Common/src/System/Net/Http/TlsCertificateExtensions.cs#L77-L97

[code]

Run this code here https://github.com/ffMathy/FluffySp

[2020-05-14 15:33] javiercn commented on #21826
@Sm1le291 I haven't threat modeled something like that and It's not something that I can do ad-hoc. What I'm saying is that if you want to rewrite the UI you need to take all steps to ensure your design is secure. That's it.

[2020-05-14 15:33] m1nicrusher commented on #21771
First, thank you for telling me this.
However, there are still some problems. Here's What I did.

Firstly, I could see in the Console of my browser there is a line says ```Error: Failed to start the transport 'WebSockets': Error: There was an error with the transport.```
So I added these lines into the redirect section like this:
[code]
Now in console I could clearly saw something like "Websockets

[2020-05-14 15:36] Sm1le291 commented on #21826
@javiercn I understand, thanks) I already explain that it's possible from our discussion and this is enough for me.

[2020-05-14 15:37] #21826 closed

[2020-05-14 15:37] tremblaysimon commented on #18915
When you install .NET Core SDK 3.1, it installs only the .NET Core SDK 3.1 and the runtime for 3.1 version. You doesn't get the 2.1.x runtime version. You must install it additionnaly to the .NET Core SDK 3.1.

It's a bit odd because I don't think that case is properly documented somewhere...

[2020-05-14 15:46] davidfowl commented on #21183
It seems like there's a race condition in this library on startup where the cert could be null (or maybe I'm missing something...)

[2020-05-14 15:52] talldaniel commented on #17660
@NTaylorMullen This bug seems to have made itself worse.  I had seven errors, none of them the one that was real.  (same old) But the app wouldn't run.
So, I changed to another computer, and still had the error.
I rolled back to a known good build, it ran once, but I made a tiny change and it failed to run after that.
I undid the change, and it still wont run.
So, I have a 30,000 lines project tha

[2020-05-14 15:52] tremblaysimon commented on #18915
What I understand is for some 2.x project (like ones using Razor), we must keep a runtime version of 2.1 on the system that builds the project.

[2020-05-14 15:53] ajcvickers commented on #21822
@blowdart Either a bug or a consequence of customizing the identity model. We'll need a repro.

[2020-05-14 15:54] NTaylorMullen commented on #17660
Those errors you linked @talldaniel I believe are fixed in 16.7-preview2 (not yet released)

[2020-05-14 15:58] tmm360 opened #21827 "ResendEmailConfirmationModel class should not be abstract"
### Describe the bug
The page `ResendEmailConfirmation` of AspNetCore Identity UI has its model implementation declared as abstract. It doesn't load using the version implemented by DefaultUI, and the scaffolded version throw an `InvalidOperationException: Can't compile a NewExpression with a constructor declared on an abstract class`.

### To Reproduce
Start a new project with local user authenti

[2020-05-14 15:59] davidfowl commented on #18915
Why is that odd?

[2020-05-14 15:59] bwateratmsft opened #21828 "StaticWebAssets manifest is rewritten with no data if a project depends on a Blazor app"
### Describe the bug
Originally from here: https://developercommunity.visualstudio.com/content/problem/1023875/staticwebassetsxml-file-content-missing-for-class.html

In the Visual Studio docker-compose tooling, a docker-compose.dcproj project is created that orchestrates all the necessary stuff to build and run in containers. This project is treated as the startup project and depends on the actua

[2020-05-14 16:01] pr-benchmarks[bot] opened #21829 "Scenarios are not running: FortunesPostgreSql-NodeJs"
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| FortunesPostgreSql-NodeJs | Linux, AMD64, http, KestrelSockets | 2020-05-13 15:19:20Z |

[Logs](https://dev.azure.com/dnceng/internal/_build?definitionId=825&_a=summary)

[2020-05-14 16:03] javiercn commented on #21828
@bwateratmsft thanks for filing the issue.

We'll triage this today and discuss it further within the team

[2020-05-14 16:05] talldaniel commented on #17660
Do you suppose the delay will be more than a month?

[2020-05-14 16:07] NTaylorMullen commented on #17660
It'll be released to a preview channel before a month but it wont be "official" for some tiem

[2020-05-14 16:11] talldaniel commented on #17660
Thanks, how do I find the preview channel?  I have just been clicking on "check for updates"

[2020-05-14 16:13] Tratcher commented on #18943
@anurse The Action failed. github-actions was able to re-open the issue but not comment, probably because the issue was locked. Any way to prevent it from getting locked?

[2020-05-14 16:14] danroth27 commented on #21809
Other options are to use the Azure CLI, or the Azure Storage integration with Visual Studio Code.

Yes, this is something we are working to address.

[2020-05-14 16:15] anurse commented on #18943
Yep, we can update the rule to avoid locking it, maybe based on a label (so we can apply it in other scenarios). I’ll look at that later today. You should have permissions to unlock it for now, and any comment should reset the lock clock to 90 days.

[2020-05-14 16:16] blowdart commented on #21822
@LastImmort Can you provide a sample runnable repo?

[2020-05-14 16:16] anurse commented on #18943
Dorp, we’re on the issue now so of course you’ve already unlocked it :P

[2020-05-14 16:17] julienGrd commented on #21085
@SteveSandersonMS I integrate your virtualized system on my grid https://github.com/julienGrd/BlazorTest, on the menu Fetch Data -Virtualize 2

This new system is really cool, we don't have the "blank" effect when we scroll, it's really smooth !

However there is some effects a little bit strange, i don't take time to debug the code but maybe you have an idea :
- the first loading, we have a blank

[2020-05-14 16:24] JohnyL opened #21830 "Razor Pages: Page title shows incorrect symbols for Russian characters retrieved from JSON configuration file"
I have the following `appsettings.json` configuration file:
[code]
`_Layout.cshtml` file:
[code]

Here's the Razor page which sets the title for `_Layout.cshtml`:
[code]
As you can see, on the first line I get the text for the title from configuration file.
I get abracadabra in the title:

![IMG1](https://wpxfkw.db.files.1drv.com/y4myZSc7ydxNYq6ayt6S7ukDJnO81UUEyVDKRUjSlaJc1enNWs_4Wl9ujW0756iced0K

[2020-05-14 16:26] talldaniel commented on #17660
Nevermind, I think I know what you mean.
Thanks for the help.

[2020-05-14 16:31] talldaniel commented on #17660
also, probably not related, but it happened after the latest update of windows.

[2020-05-14 16:31] BrennanConroy commented on #21796
We currently don't flow very many exceptions to OnDisconnectedAsync. We'll be looking at flowing more errors in https://github.com/dotnet/aspnetcore/issues/21315

[2020-05-14 16:34] LastImmort commented on #21822
@blowdart will try to do it tomorrow

[2020-05-14 16:39] AlexeyBoiko commented on #21790
Debug work without
`"launchBrowser": false`
Every time when you press F5 new browser window will be open. In my case I can't use this behavior.

[2020-05-14 16:40] mkArtakMSFT commented on #21818
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, we are not a general-purpose forum. To get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-blazor** tag.

[2020-05-14 16:40] #21818 closed

[2020-05-14 16:42] mkArtakMSFT commented on #21812
Thanks for contacting us. From your example it's only HTML and it's not clear how Blazor is involved. Please share a minimal repro project (ideally as a GitHub repo) so we can investigate this further.

[2020-05-14 16:46] mkArtakMSFT commented on #21797
Thanks for the update, @Xarkam.
Closing as there is no community ask for this.

[2020-05-14 16:46] #21797 closed

[2020-05-14 16:49] mkArtakMSFT commented on #21793
Thanks for contacting us.
This is a limitation in the system as we assume that whatever is written to the error stream is an actual error. Angular, in this case, uses that stream for progress update purposes. So if you'd like to get this resolved you'll need to raise this concern with Angular folks in their repo.

[2020-05-14 16:49] #21793 closed

[2020-05-14 16:52] Sm1le291 commented on #21830
Hi! First of all, as I know Blazor does not work officially with .net 5.0
Try to create in notepad++ or somewhere else file  with UTF8 encoding, enter text there and copy from there to VS. I think problem will be gone.
Check that ~\Server\wwwroot\index.html contains <meta charset="utf-8">
win-1251 obviously not correct

[2020-05-14 16:57] jkotalik opened #21832 "Project template build hanging during nuget restore on Debian builds"
Failure: https://dev.azure.com/dnceng/internal/_build/results?buildId=642703&view=ms.vss-test-web.build-test-results-tab&runId=19959774&resultId=120529&paneView=debug

[code]

I don't really know where to go with investigating this. @BrennanConroy I know you have been looking into hanging tests recently, any ideas?

[2020-05-14 16:58] mkArtakMSFT commented on #21825
Filed the docs issue to add the missing section in the `Overview` page.

[2020-05-14 17:00] #21673 closed

[2020-05-14 17:01] HaoK commented on #21827
Scaffolding fix: https://github.com/dotnet/Scaffolding/pull/1339

[2020-05-14 17:01] mkArtakMSFT commented on #21790
@digeff I know you've been looking into this. Any updates?

[2020-05-14 17:02] #21694 closed

[2020-05-14 17:02] BrennanConroy commented on #21771
The login page was working before adding WebSockets but isn't anymore? That is odd because the login page shouldn't have anything to do with WebSockets, unless normal HTTP traffic is running against the websocket changes you made to your nginx config, which might cause them to start behaving oddly.

Can you gather the server logs so we can try to see why the server responds with a 400? https://doc

[2020-05-14 17:03] JohnyL commented on #21830
@Sm1le291 Beg your pardon, but you didn't read my question at all. For instance, my question is about Razor Pages - not Blazor.

[2020-05-14 17:03] chrdlx commented on #21812
Blazor is involved, because as I said, that HTML is inside a Blazor component, let me know if my initial explanation about how to repro this with the default blazor server template is unclear.

Add that HTML in any component you like.. Run it,  and you'll se that Browser's required validation doesn't trigger, as it should.  So that "HTML only"  works fine if you're not using Blazor...

How or why

[2020-05-14 17:07] BrennanConroy commented on #21832
Huh, maybe we should try installing dotnet-dump first and running all these commands with a timeout so we can capture dumps if the hang.

Are you interesting in doing that? If so, you can take a look at https://github.com/dotnet/aspnetcore/commit/f56c61b812acf2ee0bc5d7a7186242fd19ccd134 for inspiration.

[2020-05-14 17:08] mkArtakMSFT commented on #21537
@SteveSandersonMS will this be satisfactory?

I could make a pull request adding BypassProxyOnLocal to SpaOptions and only setting it if true.

[2020-05-14 17:11] Sm1le291 commented on #21830
@JohnyL sorry for this. But nothing changed, the problem is that:
1) you somewhere forced to use invalid encoding using wrong meta encoding tag
2) one of your file was saved in invalid encoding, double check that all .cshtml or .razor has UTF-8 (try with BOM and without) encoding.
3) If you pasted text somewhere, you did it in wrong encoding

[2020-05-14 17:13] yopez83 commented on #21825
@javiercn you were right, I was missing the script and also some razor components. I agree with @mkArtakMSFT, it will be great if this is mentioned in the docs or better yet, to list the steps to create the project. Otherwise, people will continue to assume that just adding the Nuget package and the options to the middleware does the magic.

[2020-05-14 17:15] HaoK commented on #21612
Yeah we had an announcement for this breaking change https://github.com/aspnet/Announcements/issues/374

[2020-05-14 17:18] #21825 closed

[2020-05-14 17:22] Tratcher commented on #21537
Proxying local dev traffic is useful if you wan to inspect it with Fiddler. Not sure if anybody does that here though.

[2020-05-14 17:26] JohnyL commented on #21830
@Sm1le291
1. All encodings are in question. Please, point to something invalid.
2. The encoding of the cshtml page itself has nothing to do with the problem. And I didn't change it since the project has been created.
3. The text in `appsettings.json` was entered manually - nothing was pasted.

[2020-05-14 17:30] Sm1le291 commented on #21830
@JohnyL choose file, Save As and then Save With Encoding in dropdown, try UTF-8 with or wothout signature

[2020-05-14 17:34] jkotalik commented on #21832
If I have time during build ops, I can take a look.

[2020-05-14 17:35] talldaniel commented on #17660
I was able to confirm that this is what is happening.  I removed the unfound variables error for all seven of them, did a builld and ran, and it 'works" and then I put one of them back, did an F12 and confirmed the variable was good and then tried to run it and it failed for not found for the variable I had just F12ed.
So, apparently someone "fixed' that it would still run when it reported an erro

[2020-05-14 17:36] KirillOsenkov commented on #18788
@NTaylorMullen thinking of just putting a null check around `EditorTextBuffer` and `EditorTextContainer` in there? I have no idea how to repro but we're seeing this stack once in a while.

[2020-05-14 17:38] blowdart commented on #21822
Thanks!

[2020-05-14 17:38] Sm1le291 commented on #21830
@JohnyL I checked in my project, encoding of appsettings.json is win-1252. That's your problem. Just save it in Utf-8

[2020-05-14 17:40] JohnyL commented on #21830
@Sm1le291 Yes, UTF-8 did help! Thanks! 😉

[2020-05-14 17:40] guardrex commented on #21825
To address this, I'm going to make our current *Additional resources* section remark ...

... into a section to make it clear that implementation guidance is in the individual provider topics with the base case, general OIDC coverage on the auth lib topic (the first one in the node). We have to be careful not to load *Overview* topics with config and implementation guidance. When we've done that i

[2020-05-14 17:41] NTaylorMullen commented on #18788
Ya it seems like something that definitely shouldn't happen but at the same time given it does makes me worry there's a more core issue in MonoDevelop land

[2020-05-14 17:42] alexvy86 commented on #11972
So, I came back to this topic now that we finally moved our service to .NET Core 3.1 and while the error is different, the scenario still doesn't work. Is that the accepted consensus for 3.1? I was hopeful after @javiercn mentioned that it was fixed in 3.0.

[2020-05-14 17:45] pranavkm opened #21834 "Investigate PipeWriter.CopyToAsync change in FileBufferingWriteStream resulting in missing bytes"
Follow up to https://github.com/dotnet/aspnetcore/pull/21833/files#diff-ce5092f29477d8f4d725de87373a56aaL202. I was unable to reproduce this issue locally, but it was very consistent when running it through benchmarks. Here's the command I used:

[code]

[2020-05-14 17:45] m1nicrusher commented on #21771
This is when WebSockets is enabled and
[code]
When I redirected to the log in page (I haven't entered any credential yet):
[code]
I entered credential and clicked "Log in".
Nothing happened on Console.

I disabled WebSockets:
[code]
Everything looked fine.

[2020-05-14 17:47] #21830 closed

[2020-05-14 17:53] rono1 opened #21835 "blazor-error-ui DIV appearing on exception not working in IIS"
I have a Blazor server-side website setup so that when an exception happens it causes a div in the _Host.cshtml file with an id of "blazor-error-ui" to appear. This is default behavior, as I understand it. When running locally and an exception happens, then this div appears. However when I publish this to our web server running Windows and IIS, then when an exception happens, this div does not app

[2020-05-14 17:56] eduardogdo opened #21836 "User with multiple roles fails authorization Blazor Webassembly preview 5"
### User with multiple roles fails authorizations
I create a role based application with Blazor webassembly hosted server authentication. If the user have only one role and the **userinfo** endpoint return role as string everything is fine, but if user have multiples roles and the **userinfo** endpoint return role as string array the authorization fails.

### To Reproduce
This is my configuration

[2020-05-14 18:07] pradeepjaladi commented on #21709
did anyone get a chance to look into it?

[2020-05-14 18:11] KirillOsenkov commented on #18788
I can try and put more checks on our side

[2020-05-14 18:18] Krangth opened #21837 "AzureADB2C user flow "Sign up" produces an error in the app"
### Describe the bug
We started a new web app this week to try out b2c. We didn't have any issue using hooking into the "sign up and sign in" and "password reset" user flows. However, we wanted to put a link on the site to go directly to user registration. We created a "sign up" user flow and got the URL to go directly to this user flow from the "run user flows" screen. The user is able to success

[2020-05-14 18:24] dv00d00 commented on #21183
Oh wow it actually worked!

I've disabled fluffyspoon (services and middleware). The cert was already persisted to disk. I've added this method to Program.cs

[code]

The used it

[code]

10/10 reboots under load were able to handle requests. Slower than expected, but ramping up to full speed in 20 seconds or so. The entity framework produces a lot of lock contention I believe.

When commented out

[2020-05-14 18:27] travisgosselin opened #21838 "Linux OS with .NET Core 3.1 - The configured user limit (128) on the number of inotify instances has been reached"
This issue is directly related to and a followup of https://github.com/dotnet/aspnetcore/issues/7531 since that issue has been locked. The same issue occurs now in .NET Core 3.1. Following the previous thread, I was able to specify a different user in my Dockerfile to limit this problem which occurs when putting too many docker containers on the same host that are using the same user UID. Our team

[2020-05-14 18:50] mkArtakMSFT commented on #21546
Cleared the milestone so this doesn't slip through cracks.

[2020-05-14 19:04] NTaylorMullen commented on #20828
I actually think this has gone away. @ajaybhargavb / @ryanbrandenburg / @TanayParikh have you continued to see this?

[2020-05-14 19:06] LumiProj opened #21839 "A suitable constructor for type HttpConnectionFactory"
Hi,

I am using Core client using Xamarin Forms. Everything is working great but when I change the Xamarin.ios Link option to **"LinkAll"** then I am getting this error on chat initialisation.
I also tried to skip link .net Core library but no luck.

I have already looked into that issue https://github.com/aspnet/SignalR/issues/2933
but I want to publish my app with **LinkAll** option.
Please guid

[2020-05-14 19:12] mkArtakMSFT commented on #21641
This is because when debugging VS uses a new browser profile. This issue is being tracked at: https://github.com/dotnet/aspnetcore/issues/21540

[2020-05-14 19:12] #21641 closed

[2020-05-14 19:31] ajaybhargavb commented on #21101
Re-opening as there is more work left here.

[2020-05-14 19:31] masoodafar-web opened #21840 "I want set different Resource for each Layout"
hi
I use Blazor WebAssembly 3.2.0 Release Candidate
I want to set different css/js resources for each layout
What should I do?

[2020-05-14 19:38] #17710 closed

[2020-05-14 19:55] kapetan opened #21842 "Compiling Razor views in a standard .NET Standard 2.0 class library"
Hi,

In our setup we run ASP.NET Core 2.2 as part of a .NET Standard 2.0 class library. This library is in return used by a .NET Framework project and a .NET Core console application. So far it has been working great as we're only using the Web API part of ASP.NET (serving only JSON in the controllers). Now we would like to add Razor views, but can't figure out how to include the .cshtml files in

[2020-05-14 19:58] Tratcher commented on #19354
For reference, this is how the proxy builds routes today:
https://github.com/microsoft/reverse-proxy/blob/1d8a868d7aa12cbc8345c93b40193234f7d400da/src/ReverseProxy/Service/DynamicEndpoints/RuntimeRouteBuilder.cs#L48-L68

[2020-05-14 20:00] #21126 closed

[2020-05-14 20:13] mkArtakMSFT commented on #21699
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-05-14 20:14] mkArtakMSFT commented on #21664
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-05-14 20:19] mkArtakMSFT commented on #21540
This is now fixed in VS.

[2020-05-14 20:19] #21540 closed

[2020-05-14 20:24] tremblaysimon commented on #18915
@davidfowl, maybe the word odd is not the right one.

What I wanted to say is more about the fact that when we have a webapi created with 2.1 sdk for example we can easily buid it using an image that contains only the .NET Core 3.1 sdk.

But if you have some razor pages created using 2.1 sdk you will not be able to achieve a build with .NET Core 3.1 sdk. You must get the runtime for 2.1 too to ach

[2020-05-14 20:28] #21719 closed

[2020-05-14 20:36] mkArtakMSFT commented on #21285
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-05-14 20:38] mkArtakMSFT commented on #21179
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-05-14 20:42] mkArtakMSFT commented on #20976
@pranavkm let's make sure whatever concern is raised here is well understood so we can pass this information to whoever will own the Data validation going forward.

[2020-05-14 20:48] #21468 closed

[2020-05-14 20:50] alexvy86 commented on #11972
A bit extra context that I found: the conflict seems to be not just between AzureAD and AzureADB2C, if I add AzureAD and plain OIDC (`authBuilder.AddOpenIdConnect()`) I get the same issue. And to expand on my last comment, the different error seems to be because adding AzureAD sets up an instance of `IValidateOptions<AzureADOptions>`, which somehow is executing with the settings from the other pro

[2020-05-14 20:51] #21101 closed

[2020-05-14 20:51] BrennanConroy commented on #21539
No built in way. If you manage the redis connection yourself via the `ConnectionFactory` then you could write a middleware that intercepts /hub/negotiate requests when Redis is down and stops them before they connect.

That's true, however, if you want to go down that route you could try to inherit from the `RedisHubLifetimeManager` instead or create an instance inside your custom `HubLifetimeMana

[2020-05-14 20:52] mkArtakMSFT commented on #19638
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-05-14 20:55] mkArtakMSFT commented on #19060
@javiercn closing this as it's not clear what's the leftover work here. If there is, feel free to reopen and bring up for discussion.

[2020-05-14 20:55] #19060 closed

[2020-05-14 20:55] BrennanConroy commented on #21618
Action item:

This would need to go into the 2.1 branch and be brought to tactics.

We also might want to mark the `latest` tag on npm with the 1.0.x version as that's the LTS version and the 1.1.X package is end-of-life.

[2020-05-14 20:58] yopez83 commented on #21825
Thank you all for such prompt response.

[2020-05-14 21:00] #21492 closed

[2020-05-14 21:01] BrennanConroy commented on #21528
Can you provide a repro app on GitHub?

[2020-05-14 21:06] ryanbrandenburg opened #21846 "Support Semantic Colorization for ranges"
We provide Semantic colorization right now, but because we supply the colors for a whole document every time it's not terribly efficient. Thankfully [there's a VSCode API for that](https://code.visualstudio.com/api/language-extensions/semantic-highlight-guide#semantic-token-provider), that we need only implement. If we implement `DocumentSemanticTokensProvider.provideDocumentSemanticTokensEdits` a

[2020-05-14 21:17] anurse commented on #18984
It's endpoint routing that would need to be updated, right? @rynowak ? It's an extension method that adds a `AllowAnonymousAttribute` to route metadata?

[2020-05-14 21:18] mkArtakMSFT commented on #21842
Thanks for contacting us. You will have to target the Razor SDK to be able to include views in your libraries: https://docs.microsoft.com/en-us/aspnet/core/razor-pages/ui-class?view=aspnetcore-2.2&tabs=visual-studio

As a side note, ASP.NET Core 2.2 is already out of support, so we recommend upgrading to a supported version of the framework: https://dotnet.microsoft.com/platform/support/policy/dot

[2020-05-14 21:19] anurse commented on #21837
Can you provide a network trace of the requests the client is making throughout the process? A trace from [Fiddler](https://www.telerik.com/fiddler) would be best.

[2020-05-14 21:21] anurse commented on #21743
Triage: Closing as this is primarily an issue with certain token issuers, and it sounds like a workaround has been found.

[2020-05-14 21:21] #21743 closed

[2020-05-14 21:24] BrennanConroy commented on #21732
Ah I think I see what's going on. Your middleware is setup like this:
[code]

Authorization is the process of allowing a "user" access to a resource. Authentication is the process of creating the "user". Because you run Authorization first, you don't have a user when the `AuthorizationHandler` runs.

Just switch it to:
[code]

[2020-05-14 21:26] anurse commented on #21756
There should be an event in the Cookie auth options that allows you to hook in to the Access Denied event and change the behavior based on path.

Also, if you're authorizing based on claims in the user, a simple refresh won't reload those. The claims are stored in the cookie and can only be refreshed by logging out and logging in again.

[2020-05-14 21:27] anurse commented on #21607
Triage: We could probably do something to improve logging here.

[2020-05-14 21:27] zbecknell opened #21849 "Blazor Wasm: VS Code debug adapter does not parse Razor Class Library"
I've been fighting with this for a couple of days trying to get our decently complicated solution to hit a breakpoint in our Blazor components.

This gist is the output from `vscode-debugadapter.json` using `"trace": true` in `launch.json`.

https://gist.github.com/zbecknell/a3647dfc7818695c1be7722572307e10

I can't debug from VS either, but thankfully I can do some snooping easier with VS Code.

[2020-05-14 21:32] mkArtakMSFT commented on #21733
@javiercn I assume we can close this now, given https://github.com/dotnet/runtime/pull/36312

[2020-05-14 21:35] #21827 closed

[2020-05-14 21:47] wtgodbe opened #21850 "Create a Microsoft.AspNetCore.App.Ref.Internal package"
After https://github.com/dotnet/aspnetcore/pull/21801, we now produce a non-stable targeting pack .msi. This means that in dotnet/installer, they'll need a package from our repo that identifies the non-stable version of the targeting pack. They can't use one of our other nonshipping packages, since those increment with the rest of the repo, while the targeting pack only ships sometimes. The proper

[2020-05-14 21:49] ryanbrandenburg commented on #21846
CC @gundermanc who might find this useful to review once it's ready.

[2020-05-14 21:50] gundermanc commented on #21846
@ryanbrandenburg, thanks!

[2020-05-14 21:57] mkArtakMSFT commented on #19490
Closing as we will be tackling this as part of https://github.com/dotnet/aspnetcore/issues/18271

[2020-05-14 21:57] #19490 closed

[2020-05-14 21:57] mkArtakMSFT commented on #15440
Closing as we will be tackling this as part of https://github.com/dotnet/aspnetcore/issues/18271

[2020-05-14 21:57] #15440 closed

[2020-05-14 21:59] mkArtakMSFT commented on #14005
Closing as we will be tackling this as part of https://github.com/dotnet/aspnetcore/issues/18271

[2020-05-14 21:59] #14005 closed

[2020-05-14 22:00] mkArtakMSFT commented on #13290
Closing as we will be tackling this as part of https://github.com/dotnet/aspnetcore/issues/18271

[2020-05-14 22:00] #13290 closed

[2020-05-14 22:00] mkArtakMSFT commented on #13280
Closing as we will be tackling this as part of https://github.com/dotnet/aspnetcore/issues/18271

[2020-05-14 22:00] #13280 closed

[2020-05-14 22:00] mkArtakMSFT commented on #9951
Closing as we will be tackling this as part of https://github.com/dotnet/aspnetcore/issues/18271

[2020-05-14 22:00] #9951 closed

[2020-05-14 22:02] mkArtakMSFT commented on #6507
Closing as we will be tackling this as part of https://github.com/dotnet/aspnetcore/issues/18271

[2020-05-14 22:02] #6507 closed

[2020-05-14 22:02] mkArtakMSFT commented on #6169
Closing as we will be tackling this as part of https://github.com/dotnet/aspnetcore/issues/18271

[2020-05-14 22:02] #6169 closed

[2020-05-14 22:02] mkArtakMSFT commented on #5613
Closing as we will be tackling this as part of https://github.com/dotnet/aspnetcore/issues/18271

[2020-05-14 22:02] #5613 closed

[2020-05-14 22:03] mkArtakMSFT commented on #5578
Closing as we will be tackling this as part of https://github.com/dotnet/aspnetcore/issues/18271

[2020-05-14 22:03] #5578 closed

[2020-05-14 22:03] mkArtakMSFT commented on #18271
I've duped all the svg-related issues with this one. We should make sure all those concerns are considered when handling this.

[2020-05-14 22:10] mkArtakMSFT commented on #20890
Thanks everyone.
I've scanned through the asks here which were somewhat repetitive and got the following set of issues / articles / samples for handling the feedback here:

- [Differences between Blazor Client and Blazor Server](https://github.com/dotnet/AspNetCore.Docs/issues/18217)
- [Virtualization sample app (aspnet/samples GitHub repository)](https://github.com/aspnet/samples/tree/master/samp

[2020-05-14 22:10] #20890 closed

[2020-05-14 22:31] mkArtakMSFT commented on #15378
Closing as we will be tackling this as part of #18271

[2020-05-14 22:31] #15378 closed

[2020-05-14 22:39] radderz commented on #5465
Sounds like it may work for what we are doing in JS, that's exactly the concept I meant so it's good to see it being possible even if MS doesn't do it for .NET 5.0. Good work, I'll create a issue in your repo with the use case example as although I may not use it right now it might help you provide good documentation for others doing similar things!

[2020-05-14 22:41] pranavkm commented on #21771
@blowdart would you know what might be causing this error:

[2020-05-14 22:52] pr-benchmarks[bot] opened #21851 "Make identity tests more reliable when tokens collide"
Please investigate

<details>
    <summary>Metadata</summary>

## Affected Tests

| Project | Type | Method |
| ------- | ---- | ------ |
| Microsoft.AspNetCore.Identity.EntityFrameworkCore.InMemory.Test | Microsoft.AspNetCore.Identity.EntityFrameworkCore.InMemory.Test.InMemoryEFOnlyUsersTest | CanVerifyPhoneNumber |
| Microsoft.AspNetCore.Identity.InMemory.Test | Microsoft.AspNetCore.Identity.InM

[2020-05-14 22:53] davidfowl commented on #21732
Don't we have an analyzer for that @pranavkm ?

[2020-05-14 22:58] pranavkm commented on #21732
We have one for the ordering of UseRouting + UseAuthorization, but not this.

[2020-05-14 23:01] #19402 closed

[2020-05-14 23:02] NTaylorMullen commented on #21253
@ryanbrandenburg Re-opening this for now because I had to revert: https://github.com/dotnet/aspnetcore-tooling/pull/1907

[2020-05-14 23:02] NTaylorMullen commented on #21470
@ryanbrandenburg Re-opening this for now because I had to revert: https://github.com/dotnet/aspnetcore-tooling/pull/1907

[2020-05-14 23:08] pr-benchmarks[bot] opened #21852 "Scenarios are not running: BlazorBasic, BlazorFormInput, ConnectionClose, ConnectionClose, HttpClient ..."
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| BlazorBasic | Windows, Physical, http, KestrelSockets | 2020-05-13 23:04:15Z |
| BlazorFormInput | Windows, Physical, http, KestrelSockets | 2020-05-13 23:05:20Z |
| ConnectionClose | Windows, Physical, http, KestrelSockets | 2020-05-13 23:00:56Z |
| ConnectionClose | Windows, Physic

[2020-05-14 23:10] blowdart commented on #21771
Yes, the key is not in the keyring :)

Which is weird, because I don't see any warnings about ephemeral keys, but you are on linux, so maybe the app restarted and keys were persisted. If this is in a container that's likely.

@m1nicrusher could you configure data protection so it [writes to a directory](https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/implementation/key-storag

[2020-05-14 23:14] connorwelborn commented on #20285
I am also getting this issue on the latest release (Blazor WebAssembly 3.2.0 Release Candidate).

I am successfully able to use HttpClient with some APIs, but I get this error when trying to GetStringAsync from an Azure deployment of a ASP.NET Core API App I created.

[2020-05-14 23:28] davidfowl commented on #21732
This should be next let’s track this one

[2020-05-14 23:30] Ellested opened #21854 "OnInitializedAsync continues lifecycle execution after the first await completes."
### Describe the bug
Blazor/Razor components
OnInitializedAsync continues life cycle execution after the first await completes.
This could be an "optimization" thing, but it's pretty confusing if it has to stay like that.
I know that the method will trigger a new render, and everyone will be happy in the end - but I think this is an "unpredictable" behavior that can/will lead to confusion.

### To

[2020-05-15 00:16] pr-benchmarks[bot] opened #21856 "Scenarios are not running: DbMultiUpdateDapper"
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| DbMultiUpdateDapper | Linux, ARM64, http, KestrelSockets | 2020-05-13 23:58:39Z |

[Logs](https://dev.azure.com/dnceng/internal/_build?definitionId=825&_a=summary)

[2020-05-15 00:25] hempels commented on #21756
That is indeed an option, but there are some challenges that seem like they shouldn't be necessary to force middleware consumers to resolve. For example, how to render a razor view outside the context of a controller and write it to the response stream?

[2020-05-15 00:37] tytannial commented on #21732
Oh, Thanks, there words are too similar,and I correct these. With the "skipNegotiation: true" option, the other parts are functional!  🎉
But the negotiate request "/DashBoardHub/negotiate?negotiateViersion=1" still not working, "Authorization" bearer is in header but no "ClaimsPrincipal" generated correctly.😭

[2020-05-15 00:38] ajaybhargavb opened #21857 "Typing equals doesn't automatically add "|" for component attributes"
E.g,
`<Counter IncrementBy=|`

This looks to be an issue with [ProjectionProvider](https://github.com/dotnet/aspnetcore-tooling/blob/e2ce8c9809acd3860e77940a246e722af95495b4/src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/OnTypeFormattingHandler.cs#L98) returning null here.

[2020-05-15 00:59] JoshuaNitschke commented on #19476
I have a smilar issue.  I can't seem to recreate it in my lower environments, even when creating more load.

This happens after a signal-r event tells a 10 or fewer clients (Angular SPA) to refresh their page because data has changed.  Nobody is complaining about things not working.  Looking at the proxy server logs, and I discovered that the errors are always coming from the same to IP addresses,

[2020-05-15 01:10] StephanAlexis opened #21859 "Inconsistent value for field"
### Describe the bug
Field value is inconsistent in different part of a blazor page (see code below)

### To Reproduce
When the page load, click once, the `<h3>@step</h3>` shows 2 but the `<p>@step</p>` in `@if (step == 3)` shows 3
[code]

### Further technical details
.NET Core SDKs installed:
  1.0.0-preview4-004233 [C:\Program Files\dotnet\sdk]
  1.0.0-rc4-004771 [C:\Program Files\dotnet\sdk]

[2020-05-15 01:25] aaltotsky commented on #17516
I also have this issue: System.NullReferenceException | HResult=0x80004003 | Message=Object reference not set to an instance of an object.

This error occurred _only if I comment_ the following line:
` app.UseSpaStaticFiles(StaticFileOptions(env));`  (ignore the internal StaticFileOptions(env) method.

Well, the check for null is a nice addition to the code. So, I submitted a pull request above (#

[2020-05-15 02:39] rosskoes05 commented on #6664
@mahamr
I am also having a similar issue.  Uninstalled 2.2, and now I believe all of our 2.1 apps no longer seem to be working.  It seems like the 3.1 apps seem to be working just fine.  Reinstalling 2.2 doesn't seem to fix the problem for me.  I ended up restoring from a snapshot.

[2020-05-15 04:11] mkArtakMSFT commented on #21537
Thanks @SteveSandersonMS and @Tratcher !

@felipesfaria can you come up with the above suggested solution:

[2020-05-15 04:31] JvanderStad commented on #9020
The **it-does-not-run-on-IIS-warning** should be placed on top of the page using a `<marquee>`-tag: https://docs.microsoft.com/en-us/aspnet/core/grpc/?view=aspnetcore-3.1

It's really `inject profanity here` if you have been prototyping, created proto files, configured your server, client, auth using JWT and I've just pitched the whole idea to a client as this-is-the-best-next-thing-since-sliced-b

[2020-05-15 04:35] mwaleedr commented on #21528
can't you give any suggestion without providing repository? @BrennanConroy

[2020-05-15 06:00] #21532 closed

[2020-05-15 06:10] BoricuaEnLaLuna opened #21863 "Loss of scoped lifetime service instances when resolving HttpClient services configured through IServiceCollection.AddHttpClient(...)"
# Issue description

Hi, it seems there is an issue that causes scoped lifetime service instances to be lost (and potentially re-instantiated within the same request/scope). This is completely the opposite of what one would intend when setting up a service with scoped lifetime and can cause bugs that are really cryptic to figure out (especially since the behavior can vary depending on the order in

[2020-05-15 06:12] pbakun commented on #21800
Yes, both require roles, but commenting this line doesn't change a thing.

Maybe to clarify I will show how Identity and Authentication is configured.

`services.AddIdentity<IdentityUser, IdentityRole>(config =>
            {
                config.Password.RequireNonAlphanumeric = false;
                config.Password.RequireDigit = false;
                config.Password.RequiredLength = 0;

[2020-05-15 06:52] Johannes-B-stock opened #21864 "Using SignalR in vscode extension - cannot find module"
### Describe the bug
I am using SignalR in a vscode extension and had some trouble getting it to package with webpack. It seems like there are a bunch of packages missing because SignalR only requests them dynamically so webpack can't detect them. But I need all packages for the packaged extension because when I start the extension in vscode I get the error Error: Cannot find module 'request'.
Rig

[2020-05-15 07:03] rabejens commented on #20786
Check your `.csproj` file. I had the exact same problem, when I had the following in my `.csproj`:

[code]

This somehow got in there when I added the page (I create Razor pages as Text fioles and rename them because the "New Razor Page" still creates old cshtmls).

When I removed these lines, the page started to work.

[2020-05-15 07:36] dylanvdmerwe commented on #21344
Anything I can try to figure out how to get to the bottom of this? Any further information I can provide?

I did take a dump from task manager while the process was misbehaving. It's too big to attach. I did open the dump in VS, but I didn't see relevant (although I'm not 100% confident in what to look for).

[2020-05-15 07:38] jkone27 opened #21865 "Problem with F# launch.json in webapi project --> issues with IIS express"
### F# launch.json
when changing the startup url (e.g. to show swagger page instead of root url),
generated .vs default host configuration for IIS is wrong, and shows un/existing added virtual paths and app pool and causing this IIS error

[code]

i had the issue together with swashbuckle aspnetcore (swagger) package but not sure if related

### To Reproduce

[code]
add and configure swashbuckle a

[2020-05-15 07:42] kapetan commented on #21842
That seems to work, thanks for the help.

[2020-05-15 07:49] Maoni0 commented on #21344
when you open the dump in VS did it show what's on the heap?
CC @brianrob if he has cycles to help.

[2020-05-15 08:32] alderic commented on #21166
the same issue, can't load symbols.
By default in the launch.json "url": "https://localhost:5001"
In this link indicates [https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-3-release-now-available/](url) that you can use http and https.
I change my url to http://localhost:5000 and debug work fine.
mb this is due to the fact that I do not have a certificate on localhost:)

[2020-05-15 08:42] leotsarev opened #21867 "Microsoft.AspNetCore.DataProtection.EntityFrameworkCore release for 2.1 LTS"
### Is your feature request related to a problem? Please describe.
I'm trying to migrate complex applications from .NET fw to Core/containers/Linux.
As first step, we are trying to migrate to ASP.NET 2.1 LTS on .NET Framework, while minimizing churn.
Our current solution for key sharing is file share.
Our target solution for key sharing will be Microsoft.AspNetCore.DataProtection.EntityFrameworkCo

[2020-05-15 09:21] #18980 closed

[2020-05-15 09:24] niico100 commented on #21817
If not, any suggestions for a work around or simple 'off the shelf' way to implement identity on a greenfield ASP.net Core MVC 3.1 project?

[2020-05-15 09:25] javiercn commented on #21859
@StephanAlexis thanks for contacting us.

You are mutating the value, that is expected. Razor has the same semantics as C# code, so in your case `@if (step == 2) { step++; }` is incrementing the value from 2 to 3 and later ```    @if (step == 3)
    {
        <p>@step</p>
    }``` is being evaluated to true and displaying the value.

[2020-05-15 09:26] #21859 closed

[2020-05-15 09:29] javiercn commented on #21854
@Ellested thanks for contacting us.

This is a fundamental behavior of the renderer designed to provide a good experience when performing asynchronous work. Renders can happen at any time they are requested and the logic behind this is that for cases where you are doing asynchronous work, like loading a table with data, you want to be able to display the table header or a similar "loading/progress

[2020-05-15 09:30] HaoK commented on #21817
Its not just the identity settings, there's also MVC validation that have password length, see here https://github.com/dotnet/aspnetcore/blob/master/src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Register.cshtml.cs#L69

Need to scaffold and change the validation attributes

[2020-05-15 09:30] #21817 closed

[2020-05-15 09:58] wstaelens opened #21870 "Blazor: InputDate custom range validation"
# Describe the bug
Html doesn't seem to have the min / max range values applied to inputdate.

### To Reproduce
[code]

[code]

This doesn't add any min max to the input range. Validation works, but I can select everything in the datepicker.

result:
[code]

In the attribute I tried using "2020-05-20", "20/05/2020" etc.. no changes.

The goal is to use a custom rangeattribute:

[code]

with:

[cod

[2020-05-15 10:00] pr-benchmarks[bot] opened #21871 "Scenarios are not running: BlazorBasic, BlazorFormInput, DbFortunesRaw-Mono, Json-Mono, JsonPlatform-Mono ..."
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| BlazorBasic | Linux, Physical, http, KestrelSockets | 2020-05-14 09:49:26Z |
| BlazorFormInput | Linux, Physical, http, KestrelSockets | 2020-05-14 09:50:20Z |
| DbFortunesRaw-Mono | Linux, Physical, http, KestrelSockets | 2020-05-14 09:57:45Z |
| Json-Mono | Linux, Physical, http, K

[2020-05-15 10:01] #21775 closed

[2020-05-15 11:00] #21804 closed

[2020-05-15 11:20] StephanAlexis commented on #21859
Yes what you is said is true but it's not what the issue is... did you test the code? the incositent is in the first line <h3>@step</h3>  showing 2 when the value of step is 3

[2020-05-15 11:29] javiercn commented on #21859
The value of @step is 3 only after `step++` has run. At the time `<h3>@step</h3>` is evaluated its value is 2, changing the value later doesn't affect previous evaluations.

[2020-05-15 11:55] zbecknell commented on #21849
Another detail that comes to mind:  earlier I tried moving all my `.razor` files to my Client project, thinking it may be the RCL that was the problem, but in fact classes in my Client project went from being debuggable to non-debuggable -- so there's actually something to do with the compilation of my `.razor` files that causes the problem.  I'll work more today on reproducing this in my repro re

[2020-05-15 12:00] StephanAlexis commented on #21859
thank you for your help. Shouldn't the `step++;` in the `@if (step == 2)` triggers the reevaluation of `<h3>@step</h3>`? in what circumstance does the reevaluation occur? does that mean I should only mutate a field in the `@code` section to trigger a reevaluation as in the click method which does trigger a reevaluation?

[2020-05-15 12:00] #21808 closed

[2020-05-15 12:03] parad74 opened #21872 "Multiple blazor-client apps in single server.How use endpoints.MapFallbackToFile("index.html")"
How use endpoints.MapFallbackToFile("index.html") if there are multiple blazor-client with difference base?

Found several issues and read documentations. But didn't succeed.
https://github.com/dotnet/aspnetcore/issues/17997
https://github.com/dotnet/aspnetcore/issues/5659
https://github.com/dotnet/aspnetcore/issues/19744
https://github.com/dotnet/aspnetcore/issues/12705

Help to find how it use?

[2020-05-15 12:23] felipesfaria commented on #21537
Yeah, I can do it.
I've never made a PR for AspNetCore before, but have read Contributing guide and Engineering guide lines.
Is it okay if the PR is for release/3.1?

[2020-05-15 12:32] javiercn commented on #21872
@parad74 thanks for contacting us.

There is a sample here https://github.com/javiercn/BlazorMultipleApps and we have an ongoing issue to add this to the docs.

[2020-05-15 12:36] javiercn commented on #21859
No. Razor translates to C# code and `<h3>@step</h3>` is translated to something like `builder.OpenElement("h3"); builder.AddText(step); builder.CloseElement();...`.

Step is an integer, which is a value type and so is passed as a parameter by value, so it is not affected for changes done later in the sequence of statements.

[2020-05-15 12:47] SteveSandersonMS commented on #21537
Glad to hear it, @felipesfaria.

No, we wouldn't ship this in a patch for 3.1, as that's only for critically urgent changes (e.g., if there were any security issues discovered). This change would need to go into the `master` branch for inclusion in the 5.0 releases.

[2020-05-15 13:00] #21820 closed

[2020-05-15 13:18] Ellested commented on #21854
Thanks for the prompt reply - that's actually really cool :-)

I kind of already knew this would be categorized as an optimization/feature thing, but I still believe this is very confusing to people when they first realize it, and it doesn't contribute, that the handlers are categorized as "life cycle".

If these handlers are supposed to be called in a more "async/random" way, I would definitely p

[2020-05-15 13:26] hultqvist opened #21874 "JSException in WebAssemblyRenderer"
### Is your feature request related to a problem? Please describe.
When I'm closing a dialog thus unloading components I'm receiving the error.

[code]

This cause the bottom error bar to show up and the error below is shown on the console.

The underlying cause for this error to trigger could very likely be from some code of mine.
Problem is that the error message doesn't let me know where to loo

[2020-05-15 13:42] brucezlata opened #21875 "start more than one dotnet core app using "dotnet""
HI,
I am trying to run two *.dll which are dotnet core apps with the same endpoint urls. Can I?
for exmaple such CLI:
dotnet 1.dll 2.dll

any solution?

[2020-05-15 13:49] janbernardcz commented on #21718
It is happening in development environment. I want to run the application in Visual Studio for example in debug mode. I only run IIS Express from Visual Studio.

Here is the `web.config`:
[code]
And here is the diagnostic log (I've replaced real path by C:\PathToMyProject and I also replaced name of the project for security reasons):
[code]

[2020-05-15 13:56] javiercn commented on #21875
@brucezlata thanks for contacting us.

I think you are looking at something like [tye](https://github.com/dotnet/tye), which can be used to orchestrate multiple app launches.

I don't think dotnet has that capability; if you want to ask for a feature I would recommend you file an issue in [dotnet/sdk](https://github.com/dotnet/sdk)

[2020-05-15 14:02] pr-benchmarks[bot] opened #21876 "Scenarios are not running: BlazorBasic, BlazorFormInput, ConnectionClose, ConnectionClose, DbFortunesDapper ..."
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| BlazorBasic | Linux, ARM64, http, KestrelSockets | 2020-05-14 13:39:27Z |
| BlazorFormInput | Linux, ARM64, http, KestrelSockets | 2020-05-14 13:40:16Z |
| ConnectionClose | Linux, ARM64, http, KestrelSockets | 2020-05-14 13:36:12Z |
| ConnectionClose | Linux, ARM64, https, KestrelSo

[2020-05-15 14:09] chrisevans9629 opened #21877 "Support byte-array transfer in JS Interop"
### Describe the bug
I am using Quaggajs to read barcodes and want to the image data from the canvas, but when I do this the blazor client disconnects and the JsInterlop throws a canceled task exception.  I assume it's because the data is too large?

### To Reproduce
This is the code I am using
[code]

[code]

### Further technical details
- ASP.NET Core version 3.1
- Include the output of `dotnet

[2020-05-15 14:14] chrisevans9629 commented on #21877
The error I get in the console is this:
[code]

[2020-05-15 14:55] BrennanConroy commented on #21864
This is fixed in 5.0. You can try out the following workaround instead of patching the SignalR package
https://github.com/dotnet/aspnetcore/issues/10400#issuecomment-506362739

[2020-05-15 15:07] Ellested commented on #21854
For the last part, I'm creating a new IComponent, and it seems that it should be possible to write something that works as I would expect. So forget about the last part.

Anyway, I think you should document what goes on in normal methods if you are keeping it as is.

I mean someone might think they can do JSInterop's in OnAfterRender which needs code to be correctly initialized, and that's going t

[2020-05-15 15:12] javiercn commented on #21854
@Ellested this is documented [here](https://docs.microsoft.com/en-us/aspnet/core/blazor/lifecycle?view=aspnetcore-3.1#handle-incomplete-async-actions-at-render)

[2020-05-15 15:22] felipesfaria commented on #21537
Understood. I'll update here when it is ready or if I have any further issues.
Thanks.

[2020-05-15 15:55] javiercn commented on #21874
@hultqvist thanks for contacting us.

That typically means the error is being thrown while processing the view code, or when you've modified the DOM with JS and it has gotten out of sync from the representation in Blazor.

Can you provide a minimal repro project that showcases the issue?

[2020-05-15 16:01] yopez83 opened #21879 "CustomAccountFactory throwing exception"
My goal was to display the picture and the email once the user is logged-in. So I changed the `LoginDisplay.razor` as follows,
[code]
My guess was, I needed to add more claims so I can get the picture and the email. I may be doing it all wrong, but I thought this could be the [way](https://docs.microsoft.com/en-us/aspnet/core/security/blazor/webassembly/additional-scenarios?view=aspnetcore-3.1#cus

[2020-05-15 16:03] Tratcher commented on #21875
Regardless of launching two processes, sharing urls is an issue. Two processes can't normally bind to the same endpoint. There are some features in the HttpSys server to allow this, but if you're using Kestrel you'll need a proxy to share the port.

[2020-05-15 16:04] pranavkm commented on #18083
@fitdev would you mind sharing a more complete reproduction of this problem? I tried producing a sample based on what was provided here, but I am unable to reproduce the issue you're seeing.

[2020-05-15 16:07] belenos12345 opened #21881 "Server-side Blazor: Frequent short WebSocket disconnects"
Hi,

I'm working on a server-side Blazor application. Running this application I get disconnects frequently. This happens during debugging on localhost as well as using the application on our test server.
Furthermore a problem of this is that all auth cookies are removed due to the disconnect. So the user gets logged out.
Unfortunately there isn't a particular action/click/page call which forces t

[2020-05-15 16:23] conficient commented on #19148
Awesome reply @bdnts  - I'm still experimenting with retrofitting Blazor into MVC apps. Will test at weekend if my wife lets me  :)

[2020-05-15 16:24] pranavkm commented on #21881
/cc @BrennanConroy

[2020-05-15 16:34] pranavkm commented on #21882
Can you include the exception stack trace? The request body should include it or you could attach a debugger to the server application.

[2020-05-15 16:46] mikem8361 commented on #21703
What version of VS are you using to open the dump?

[2020-05-15 16:56] javiercn commented on #21879
@yopez83 thanks for contacting us.

You are casting a ClaimsPrincipal to your CustomUserAccount type, that's not how this is intended to work.

AuthorizeView always uses a claims principal, and in your case you need to call something like `context.User.Identity.FindFirst(ClaimTypes.Email)?.Value`

[2020-05-15 17:01] #21589 closed

[2020-05-15 17:14] danroth27 commented on #5458
Hi folks. At this point, we think providing testing framework support for Blazor is something that can best be handled by the Blazor open-source community. The [bUnit](https://bunit.egilhansen.com/) project, for example, already provides support for unit testing components and implements many of the implementation ideas that we were exploring. Instead of building and supporting our own test framew

[2020-05-15 17:14] #5458 closed

[2020-05-15 17:17] mkArtakMSFT commented on #20520
Closing as there was some work done here by @pranavkm to reduce the flakiness.

[2020-05-15 17:17] #20520 closed

[2020-05-15 17:18] mkArtakMSFT commented on #7566
Closing as there is no more left to be done here.

[2020-05-15 17:18] #7566 closed

[2020-05-15 17:19] mkArtakMSFT commented on #11592
Closing as there is no good solution for this.

[2020-05-15 17:28] mkArtakMSFT commented on #19971
We'll handle this when we actually face this issue. As of now this is not a real concern.

[2020-05-15 17:28] #19971 closed

[2020-05-15 17:29] yopez83 commented on #21879
See what I get,

'IIdentity' does not contain a definition for 'FindFirst' and no accessible extension method 'FindFirst' accepting a first argument of type 'IIdentity' could be found (are you missing a using directive or an assembly reference?)

[2020-05-15 17:31] mkArtakMSFT commented on #20983
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-05-15 17:42] davidfowl commented on #21183
Nice! Are you going to send a PR to FluffySpoon

[2020-05-15 17:43] vsfeedback opened #21883 "CS0103 The name '__builder' does not exist in the current context BlazorAppDebugBug Index.razor.g.cs"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1023529/cs0103-the-name-builder-does-not-exist-in-the-curr.html)._

---
Visual Studio Preview Version 16.6.0 Preview 6.0 Windows 10
I was trying to build a small sample to illustrait the debugger not working properly and got this error which i believe should not occur when

[2020-05-15 17:45] mkArtakMSFT commented on #21788
This is a dupe of https://github.com/dotnet/aspnetcore/issues/21787

[2020-05-15 17:45] #21788 closed

[2020-05-15 17:54] vsfeedback opened #21884 "Create ASP.NET Core Web App Tutorial"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1022203/create-aspnet-core-web-app-tutorial.html)._

---
Is there an update to the C# Tutorials: Create an ASP.NET Core Web App.  In particular, the section "Expose a web API"  shows code samples that don't match what get created in Visual Studio 2019 when I go through the

[2020-05-15 18:00] philipgierszal commented on #13709
Thanks to this post, I was able to achieve forcing the user to log in, after the MainLayout.razor has been loaded, which was not my desired behaviour. I was able to overcome this with the help of a couple SO answers.

1. [Changing the MainLayout.razor ](https://stackoverflow.com/questions/61565364/blazor-hosted-authorize-immediately-before-displaying-application)

[code]

This will immedietaly red

[2020-05-15 18:00] #21809 closed

[2020-05-15 18:08] timheuer commented on #21809
@daniel-p-tech check out my post to automate this using CI/CD and the Azure CLI https://timheuer.com/blog/deploy-blazor-app-to-azure-using-github-actions

[2020-05-15 18:09] yopez83 commented on #21879
If I change the `AddOidcAuthentication` options to,

[code]
and the `LoginDisplay.razor` to,
[code]
everything works, please note I added the **email** scope.

Now, upon checking the SessionStorage from the browser, I see a set of Standard Claims was stored, and I have **picture** and **email**. My goal is to display those values at the `LoginDisplay.razor` component. However, see the only propert

[2020-05-15 18:21] rynowak commented on #18984
Yes, this is a 3 line change focused on making this capability more obvious.

[2020-05-15 18:45] BrennanConroy opened #21886 "Upgrade requests should be keepalive by default"
This is breaking Windows Auth with WebSockets in Kestrel.

[2020-05-15 19:06] javiercn commented on #21879
@yopez83 I was typing out the C# in the browser, the exact sentence is not that, but it should be something close. This is the thing you're looking for https://docs.microsoft.com/en-us/dotnet/api/system.security.claims.claimsprincipal.findfirst?view=netcore-3.1#System_Security_Claims_ClaimsPrincipal_FindFirst_System_String_

[2020-05-15 19:08] pr-benchmarks[bot] opened #21887 "Scenarios are not running: GrpcJson, GrpcJson, GrpcJson2k, GrpcJson2k, GrpcJsonInput2k ..."
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| GrpcJson | Windows, Physical, http, KestrelSockets | 2020-05-14 18:55:53Z |
| GrpcJson | Windows, Physical, https, KestrelSockets | 2020-05-14 18:56:30Z |
| GrpcJson2k | Windows, Physical, http, KestrelSockets | 2020-05-14 18:57:05Z |
| GrpcJson2k | Windows, Physical, https, KestrelS

[2020-05-15 19:13] BrennanConroy commented on #21881
Are you only seeing this with IIS?

Can you grab the client logs?
Add this to your _Host.cshtml

    <script src="_framework/blazor.server.js" autostart="false"></script>
    <script>
        (function start() {
            Blazor.start({
                logLevel: 1, // LogLevel.Debug
                configureSignalR: builder => builder.configureLogging("debug") // LogLevel.Debug
            });

[2020-05-15 19:22] captainsafia commented on #21426
I'm not sure what you mean by "encapsulate" here but `InvokeUnmarshalled` is part of the [public API](https://docs.microsoft.com/en-us/dotnet/api/microsoft.jsinterop.webassembly.webassemblyjsruntime.invokeunmarshalled?view=aspnetcore-3.1) and is recommended for scenarios, such as yours, where performant JS Interop is required.

It seems like you've done quite a bit of iteration since the original

[2020-05-15 19:27] yopez83 commented on #21879
I was doing it wrong. Instead of `Identity.` I should do `User.`

[2020-05-15 19:45] LeeActon opened #21888 "Blazor WebAssembly: Rfc2898DeriveBytes.GetBytes() takes 40+ times longer than same code in WPF app."
### Describe the bug
I have been porting a WPF app to Blazor WebAssembly, and found that Rfc2898DeriveBytes.GetBytes() takes over 40 times longer in WebAssembly as in WPF.
This makes my app unusable.

### To Reproduce
Compile the code in the sample app (see github reference below).
Run the WebAssembly app, and Click the "Click me" button. It will display how much time it took.
Then Run the WPF app

[2020-05-15 19:49] Tratcher opened #21890 "Tcp health checks"
Epic: aspnet/AspNetCore#8834

TCP base health checks for generic host without web host.

[2020-05-15 19:56] Godrules500 opened #21891 "aspnetcore angular app debugging in IIS"
### Describe the bug
I have an aspnet core 3.1 project with the Angular Template. I am needing to have windows authentication so I have it enabled.  When running in IIS Express I am hit with a non stop dialog popup box asking me to enter in my user credentials.  This seems to be a bug to me, but I may be wrong.

With that, I tried switching to IIS, and whenever I run it I get
Γöé

[2020-05-15 19:56] javiercn commented on #21888
@LeeActon thanks for contacting us.

This question is not specific to blazor but to the mono implementation of the method. I would suggest you file an issue in the [mono](https://github.com/mono/mono) repo for a better and faster answer.

As a data point for us, why do you need to do key derivation in the browser?

[2020-05-15 19:56] #19254 closed

[2020-05-15 20:00] mrlife opened #21892 "[Blazor] Ability to add a callback on the default onchange when Using @bind"
### Is your feature request related to a problem? Please describe.
When working with Entity Framework Core in Blazor, it would be convenient to be able to bind to a tracked property so that when the element representing the property is changed, the change can be saved via Entity Framework Core as well.

### Describe the solution you'd like
[code]

[2020-05-15 20:00] #21582 closed

[2020-05-15 20:06] halter73 commented on #19476
That's because the client aborted mid-request, so it's not expecting a response. Kestrel has to throw from ReadAsync in this situation. Otherwise, it would be indistinguishable from a full request body.

If the complaint is about the error log, that's just because middleware never caught the exception. It would be up to the BodyModelBinder to catch the exception and log something at a lower level.

[2020-05-15 20:14] anurse commented on #21800
SignalR's authorization model works differently than MVC's, because the client is making a persistent connection to the Hub. In order to connect to a Hub, a client must be able to satisfy the Authorization policy on the Hub. Authorization attributes on Hub methods can only **restrict** access further. You can't use `AllowAnonymous` on a Method to bypass the Hub-level authorization policy.

If you

[2020-05-15 20:22] Ellested commented on #21854
Thanks for the pointer, I've been there before many times, and might have overseen some of it, since I've fallen into this "trap". However, I still think the naming is badly chosen. OnInitialize and OnInitializeAsync are fundamentally different in nature. I would rather have OnInitializeAsync named something along "defered initialization/loading" or similar - it does a completely different thing,

[2020-05-15 20:24] yopez83 commented on #21879
@javiercn, no compilation errors this time. However, `@context.User.FindFirst(ClaimTypes.Email)?.Value` displays null. There should be something missing since I see a claim stored with the email.

![image](https://user-images.githubusercontent.com/12285372/82093086-70e67b00-96c8-11ea-9569-b570ddbc7d83.png)

[2020-05-15 20:25] aKzenT commented on #21703
I'm using the latest 16.5.5, also tried with 16.5.1, but as I said I also have problems opening the dump with other tools.

I spent the last 2 days doing some experiments and can share the following findings:
I can successfully get a dump directly after the process starts. Only after a few requests or some time the process seems to get in a state where readable dumps are no longer possible. The ba

[2020-05-15 20:34] maxbeaudoin commented on #7756
Temporarily forcing the thread's culture is a gross hack at best. Always been.

[2020-05-15 20:41] belenos12345 commented on #21881
Silly question... can I get this client log from VS output console if I use your provided script? Or where can I get it from?

[2020-05-15 20:43] ivanhoe-k opened #21893 "Overloaded UseExceptionHandler method version without parameters doesn't work"
### Describe the bug
The ExceptionHandlerExtensions class offers several extension methods for using the ExceptionHandlerMiddleware but the usage of its extension method without parameters causes the InvalidOperationException occurs.

### To Reproduce

1. Create ASP.NET Core Web Application.
2. Call UseExceptionHandler() method on the IApplicationBuilder in the Configure method in the Startup.cs f

[2020-05-15 20:44] BrennanConroy opened #21894 "Cleanup logs in Authentication.Negotiate and Authorization"
[code]
Casing and spacing

[code]
Uses `LogInformation` and lacks context

[code]
Should probably end with a `.`

cc @Tratcher

[2020-05-15 20:45] BrennanConroy commented on #21881
You can view the client side logs from the browser console logs.

[2020-05-15 20:51] dv00d00 commented on #21183
Yep, would appreciate your review tbh.

[2020-05-15 20:52] LeeActon commented on #21888
@javiercn I have filed the issue in mono per your recommendation (https://github.com/mono/mono/issues/19789).

The reason for doing key derivation on the client is because I don't want secrets revealed to the server where the secrets are stored.

[2020-05-15 20:53] javiercn commented on #21879
@yopez83 just list the claims on the principal and pass the appropriate key to retrieve it?

[2020-05-15 20:55] javiercn commented on #21888
@LeeActon You'll likely get better performance just calling https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/deriveKey through jsinterop.

[2020-05-15 20:58] LeeActon commented on #21888
@javiercn, Thanks. I will look into that, but it kind of defeats the purpose of sharing C# code on different platforms.

[2020-05-15 21:00] javiercn commented on #21888
@LeeActon It should be trivial to invoke with JSInterop and it's ok if 1% of your app uses specialized JS methods when there is a significant advantage over the (slower in this case), C# implementation.

[2020-05-15 21:02] dv00d00 commented on #21183
I am also curious about what was going on with thread pool starvation in my case. Am I right saying that all requests on a fresh/unvalidated certificate ended up querying cert status from LetsEncrypt servers and starved threadpool?

Or the certificate checks were made on a per request basis?

[2020-05-15 21:02] yopez83 commented on #21879
Never mind @javiercn , I got it to work. I just had to wire back up the `CustomAccountFactory` and everything worked. Here are is the result.
### Main
[code]
### CustomAccountFactory
[code]
### LoginDisplay.razor
[code]

[2020-05-15 21:03] #21879 closed

[2020-05-15 21:11] BrennanConroy commented on #21789
Can you refactor your code to initialize data before configuring the web host and then flow anything needed to your service collection? That way you can properly await the `SeedTestData()` function.

[2020-05-15 21:20] belenos12345 commented on #21881
Ah, ok... sure:
[code]

[2020-05-15 21:22] #21851 closed

[2020-05-15 21:25] BrennanConroy commented on #21528
Could you set up debug logs via https://docs.microsoft.com/aspnet/core/test/troubleshoot-azure-iis?view=aspnetcore-3.1#aspnet-core-module-debug-log-iis so we can try to see where app_offline is coming from?

[2020-05-15 21:28] #21864 closed

[2020-05-15 21:36] BrennanConroy commented on #21839
You probably need to customize the linking a bit, check out this doc https://docs.microsoft.com/xamarin/ios/deploy-test/linker?tabs=windows#preserving-code

[2020-05-15 21:38] #21796 closed

[2020-05-15 21:54] mkArtakMSFT commented on #21790
This is being tracked at: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1125902

[2020-05-15 21:54] #21790 closed

[2020-05-15 21:56] grahamehorner opened #21897 "RazorComponent failing to update from Signalr event"
### Describe the bug
creating blazor server side application with a razor component/page that listens to events/messages from a signalr hub to update the component state fails to render.

### To Reproduce
create a razor component/page that listens to signalr events; the event fires and the state is updated yet the component/page fails to be updated.

[code]

### Further technical details

[2020-05-15 22:01] hempels commented on #21756
I'm not longer certain the above is an option. I've wasted hours on this and can't come up with a simple method to render a full view without a controller in context, and since the OnRedirectToAccessDenied event doesn't provide the original controller context, that's the state I'm in. It must be possible, but appears to absurdly complicated.

This really should be as simple as calling app.UseStatu

[2020-05-15 22:10] alexvy86 commented on #11972
One final comment from me: I tried the [Microsoft.Identity.Web](https://github.com/AzureAD/microsoft-identity-web) package and it seems to do the trick, no changes to my configuration, minor changes to my services configuration (`.AddSignIn()` instead of `.AddAzureAD()/.AddAzureADB2C()`), and I was able to get AzureAD, AzureADB2C, and generic OIDC working as providers on the same app.

[2020-05-15 22:20] SimonCropp commented on #5458
FWIW i think this is a mistake. if you dont explicitly design for things to be testable (from an application perspective) then result will not be testable. and having the only test frameworks as downstreams means they will be too disconnected from you design process to give timely feedback.

[2020-05-15 22:29] davidfowl commented on #21183
Even though the full chain is being requested we still validate it but this is what happens:

- We get a pfx file with the full cert chain
- We feed that cert into `X509Certificate2` type which only grabs the first https cert not the full chain (we don't have a way to represent the validated chain)
- The logic then tries to download the full cert chain (per connection!), it does this synchronously

[2020-05-15 23:01] pr-benchmarks[bot] opened #21899 "Scenarios are not running: ConnectionClose, ConnectionClose, HttpClient, PlaintextNonPipelinedLogging, PlaintextNonPipelinedLoggingNoScopes"
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| ConnectionClose | Linux, Physical, http, KestrelSockets | 2020-05-14 22:12:03Z |
| ConnectionClose | Linux, Physical, https, KestrelSockets | 2020-05-14 22:13:31Z |
| HttpClient | Linux, Physical, http, KestrelSockets | 2020-05-14 22:10:26Z |
| PlaintextNonPipelinedLogging | Linux, P

[2020-05-15 23:05] TanayParikh commented on #21070
This appears to be a C# issue. Created: https://github.com/dotnet/roslyn/issues/44308

[2020-05-15 23:15] danroth27 commented on #5458
We certainly agree that Blazor needs to be designed to be testable, and we do consider testability in our design process. We of course welcome feedback in this area! As for whether test framework authors would be able to give us feedback in a timely fashion on design decisions, I think that should be possible by us continuing to do design and development in the open and also shipping frequent prev

[2020-05-15 23:25] mkArtakMSFT opened #21901 "Improve Blazor development experience through refactoring"
As part of this effort we want to enable the following scenarios:
- [x] [`@code` refactor to code behind](https://github.com/dotnet/aspnetcore/issues/22239)
- [x] [Create component from unknown component looking tag. (Wouldn’t generate parameters)](https://github.com/dotnet/aspnetcore/issues/22307)
- [x] [Add using for component](https://github.com/dotnet/aspnetcore/issues/22308)
- [x] [Fully qual

[2020-05-15 23:35] ivanhoe-k opened #21902 "Allow the usage of the ExceptionHandlerMiddleware without any configurations"
### Is your feature request related to a problem? Please describe.
Relates to [ #21893](https://github.com/dotnet/aspnetcore/issues/21893)

### Describe the solution you'd like
The ExceptionHandlerMiddleware can be used by calling different extension methods that are defined in the ExceptionHandlerExtensions. One of those methods is parameterless that in my opinion should mean the ability to use i

[2020-05-15 23:47] Tratcher commented on #9020
You're right, I've filed https://github.com/dotnet/AspNetCore.Docs/issues/18336 to clarify.

No, there are too many moving parts to give a reliable estimate.

[2020-05-15 23:54] pranavkm commented on #21897
Perhaps you're missing an `InvokeAsync` - https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.1#invoke-component-methods-externally-to-update-state

[2020-05-16 00:04] pr-benchmarks[bot] opened #21905 "Scenarios are not running: BlazorBasic, BlazorFormInput"
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| BlazorBasic | Windows, Physical, http, KestrelSockets | 2020-05-14 23:58:35Z |
| BlazorFormInput | Windows, Physical, http, KestrelSockets | 2020-05-15 00:00:26Z |

[Logs](https://dev.azure.com/dnceng/internal/_build?definitionId=825&_a=summary)

[2020-05-16 00:57] JoshuaNitschke commented on #19476
@halter73 I see, thanks for clearly explaining it to me.  I wasn't sure what to make of the error and this was the only issue I could find that seemed related, and the issue seemed a bit nebulous so I thought I'd submit.  I'm don't know why the client is aborting mid request, but I will focus my energy on troubleshooting the SPA.   Sorry if I wasted your time!

[2020-05-16 01:10] SimonCropp commented on #5458
how about inviting the bunit team to merge projects and join the core blazor team

[2020-05-16 01:38] Tratcher commented on #21902
How does that empty errorApp address the CORS issue? Or is that an additional problem you're trying to address?

With that empty erroApp you'd get almost the same behavior if you removed the middleware and used the server's default exception handling logic.

[2020-05-16 02:47] SimonCropp commented on #5458
I think the disconnect is already apparent. eg the absence of testing from docs https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.1&tabs=visual-studio and many (other wise very complete) samples eg
https://github.com/dotnet-presentations/blazor-workshop

[2020-05-16 03:08] NMSAzulX opened #21906 "Unload AssemblyLoadContext int AspNetCore."
I generate a controller dynamically at run time. I cannot uninstall AssemblyLoadContext. Can the official provide a way to remove references?

Steps:

1、 Run WebProject.
2、Click a button and generate  a controller named FooController. And this controller store in  a AssemblyLoadContext named "FooDomain".
3、Visit `https://localhost/api/Foo`, It works well.
4、Then I use `ApplicationPartManager` and

[2020-05-16 03:11] githubfanster commented on #5458
i was so looking forward to microsoft's own blazor testing framework (especially after i saw it included in the recently published roadmap).

is the bUnit project going to at least be a .Net Foundation supported project?
right now, it seems like mostly a one person project and i'm afraid  of that kind of uncertainty

[2020-05-16 03:36] danroth27 commented on #5458
@SimonCropp We do have documentation gap on how to do component unit testing with Blazor. We've been tracking adding it for a while (https://github.com/dotnet/AspNetCore.Docs/issues/10747), but we wanted to decide first whether we would be building a test framework or not (this issue). Now that we've decide to go with the existing community solutions, we've already started talking to the bUnit pro

[2020-05-16 04:57] hultqvist commented on #21874
My suggestion is about making the error message more verbose so that I can start tracking down the error without bisecting the whole app.

----

The component being removed did contain an element with contenteditable that was only modified using JS, the blazor model sees it as a constant html string.
But this wasn't the problem, upon removing it the error still remained.

----

I traced the error

[2020-05-16 05:10] AlexeyBoiko commented on #21790
@mkArtakMSFT link did not work. You close ticket - please let me know what does it mean? Where I can track status or what I have to do to fix problem?

[2020-05-16 05:10] gr8tushar commented on #21787
Hi All,
We are stuck in the middle. For one of our solution, we have migrated most of the apps to .NET Core. But this issue is preventing us to go live with all the apps in .NET Core.

It has become a night mare and comes with huge cost in maintaining two versions of the system.

Awaiting some positive solution.

[2020-05-16 05:17] gr8tushar commented on #21788
@mkArtakMSFT - Since you have closed this issue.
Can you please move #21787 to [Next sprint planning](https://github.com/dotnet/aspnetcore/milestone/88)

[2020-05-16 05:49] arviedelgado opened #21908 "Detect drag-and-drop cancellation when user pressed the Escape key"
### Describe the bug
On a drag and drop operation, the user can cancel the operation by pressing the `Escape` key.
The value of `DragEventArgs.DataTransfer.DropEffect` will be `none` in the `@ondragend` event.
However, `DragEventArgs.DataTransfer.DropEffect` is `null`.

### To Reproduce
[code]

[2020-05-16 06:52] maxcherednik commented on #21789
@BrennanConroy if you have an idea, please share.
Just to recap:
1. I am following this example from the official [documentation](https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-3.1#customize-webapplicationfactory)
1. I did not find a way to hook up somewhere between the moment where all the services are swapped and the moment just before the start where I have

[2020-05-16 07:48] m1nicrusher commented on #21771
Guys, the problem is getting weirder and weirder. I think the problem of "key" is another weird problem because I did a couple of tests of storing key into files and not storing key into files when both HTTPS on and off. It turns out it has nothing to do with the Login problem.

First I did a test **HTTPS off & Not Storing Key into Files**
[code]
As you can see, it was complaining about key not fo

[2020-05-16 08:01] #21842 closed

[2020-05-16 08:01] fitdev commented on #18083
Strangely on `Microsoft.AspNetCore.App 3.1.2` it seems to work now. No runtime exceptions and generated CS code is different:

**For string -> MyStructUserType:**

*3.1.0*:
[code]
*3.1.2*:
[code]

**For enum -> MyOtherStructUserType:**

*3.1.0*:
[code]

*3.1.2*:
[code]

So, can you please confirm that this indeed has been changed / fixed in 3.1.2 (and thus all the future versions) and is not some

[2020-05-16 09:24] Sebastatouille commented on #20285
Hello - I had the same issue, trying to make an App Blazor WebAssembly running on my own computer-localhost then and accessing a deployed Azure function => WebAssembly.JSException: TypeError: Failed to fetch

But I found that you have to allow CORS (cross origin ressource sharing) for the function itslef in azure (because the app is not deployed in azure itself)
check this article : https://csharp

[2020-05-16 09:32] iamNCJ commented on #9039
Suppressed redirecting using this method. Nice!

[2020-05-16 10:50] jmprieur commented on #11972
@alexvy86 : we are very glad to read this (that was one of the goals of Microsoft.Identity.Web).

Would you be willing to share (generic) configuration/code snippets to help others to achieve the same? (we'll document it in MIcrosoft.Identity.Web documentation).

[2020-05-16 11:00] #21811 closed

[2020-05-16 12:55] simonziegler commented on #19050
Hey @captainsafia, sorry I didn't notice your comments here.

I didn't get a chance to look at this for some months now having first reported the issue back in February with little response until this month. Given that it went quiet back then I wasn't in a position to put much effort into reproducing the issue.

I will give a little time to see if I can create a stand alone issue for you, however

[2020-05-16 13:01] #21872 closed

[2020-05-16 13:29] egil commented on #5458
@SimonCropp if time allows, I will contribute docs about testing and a lab to the Blazor Workshop, but as @githubfanster noticed, I'm just one person, so right now I am prioritizing getting bUnits own docs up to date for the beta-7 release.

@githubfanster I do want to move the project into the .net foundation as soon as possible. And I also welcome any form of help I can get with the project.

[2020-05-16 13:34] hugoramos commented on #8947
Hello, @ishara119 .
Are you "asking" for updates every N seconds?

If you have 3 dozen scenarios where you need real time capabilities do you ask for updates 36x every N seconds, even during night time?

In my scenario, I would need to monitor hundreds of mysql tables... Unfortunately, I'm not sure if this approach fits my needs.

[2020-05-16 15:02] pr-benchmarks[bot] opened #21910 "Scenarios are not running: DbFortunesDapper, DbFortunesEf, DbFortunesRaw, DbMultiQueryDapper, DbMultiQueryEf ..."
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| DbFortunesDapper | Linux, AMD64, http, KestrelSockets | 2020-05-15 14:58:22Z |
| DbFortunesEf | Linux, AMD64, http, KestrelSockets | 2020-05-15 14:59:05Z |
| DbFortunesRaw | Linux, AMD64, http, KestrelSockets | 2020-05-15 14:57:36Z |
| DbMultiQueryDapper | Linux, AMD64, http, Kestrel

[2020-05-16 15:36] mkArtakMSFT commented on #21892
Thanks for contacting us. This is currently not supported, but we plan to add support for this as part of https://github.com/dotnet/aspnetcore/issues/14365

[2020-05-16 15:36] #21892 closed

[2020-05-16 15:50] mohitvaid commented on #4707
Any update on this issue, I am also facing the same exception. The request is pretty small but kestrel throwing 408 with message request arriving too slow.

` "message": "Reading the request body timed out due to data arriving too slowly. See MinRequestBodyDataRate.", "exception": {"Type":"Microsoft.AspNetCore.Server.Kestrel.Core.BadHttpRequestException", "StatusCode":408, "TargetSite":"Void Throw

[2020-05-16 16:17] crispsimpcrispy opened #21911 "dotnet new blazorwasm --hosted"
### Bug
HTTP Error 500.0 - ANCM In-Process Handler Load Failure, when using Blazor WebAssembly App which is ASP.NET Core hosted.

### To Reproduce
1. Microsoft Visual Studio Community 2019 Version 16.5.4
2. Create new Blazor App
3. Select Blazor WebAssembly App and select ASP.NET Core Hosted
4. Build and Publish BlazorApp.Server
5. Web deploy to Thirdparty Windows Sever
6. HTTP Error 500.0 - ANCM

[2020-05-16 16:29] talldaniel commented on #17660
Thanks Taylor,
Blazor is the best development environment **ever** and I look forward to when it is stable.

[2020-05-16 17:00] #21875 closed

[2020-05-16 18:06] mwaleedr commented on #21528
i have set logs @BrennanConroy now the file aspnetcore-debug.log is being created, so do i need to share this file when i face service is unavailable problem?

[2020-05-16 19:00] pr-benchmarks[bot] opened #21913 "Scenarios are not running: GrpcJson, GrpcJson, GrpcJson2k, GrpcJson2k, GrpcPingPongStreaming-1MB-GrpcCore ..."
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| GrpcJson | Linux, Physical, http, KestrelSockets | 2020-05-15 18:57:31Z |
| GrpcJson | Linux, Physical, https, KestrelSockets | 2020-05-15 18:58:06Z |
| GrpcJson2k | Linux, Physical, http, KestrelSockets | 2020-05-15 18:58:43Z |
| GrpcJson2k | Linux, Physical, https, KestrelSockets |

[2020-05-16 20:01] pr-benchmarks[bot] opened #21914 "Performance regression: GrpcUnary-GrpcCore"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- |
| GrpcUnary-GrpcCore | Windows, h2c, CCore | 2020-05-16 19:24:20Z | 43,587 | 42,267 | -3.03 % | -2.46 σ |

Before versions:
ASP.NET Core __5.0.0-preview.5.20255.6__
.NET Core __

[2020-05-16 20:12] chrisknebel commented on #20247
I have yet to successfully launch and use the WASM debugging feature because of this issue. Today, I even created the default application from the WASM template and, without changing a single line of the default code, had the same thing occur on the first debug attempt. Subsequent attempts got past the timeout issue but ran into the issue where "The breakpoint will not currently be hit. Unbound br

[2020-05-16 21:00] #21888 closed

[2020-05-16 21:00] #21854 closed

[2020-05-16 21:47] tyronsea commented on #19963
Hi All,

I also have this exact same problem.

Microsoft Visual Studio Community 2019
Version 16.5.5

[2020-05-16 22:21] grahamehorner commented on #21897
@pakrym thanks for the quick reply, I have tried wrapping the onClockTick code inside of the InvokeAsync this seem to have zero impact and Blazor still fails to update the client browser UI as I would expect.  I will create a repo showing the behaviour for reference as I think this is a use case developers would/could expect to have implementations outside of just using the in-built Blazor SignalR

[2020-05-16 22:32] Liander opened #21915 "Extend API for component attributes with render-comparer different from its value"
To get more control over re-rendering of components it would be good to be able to specify another object for comparisons to determine if an attribute has changed or will lead to another rendering result.

An initial approach could be to just support an extra method in the API for manually building a component for advanced scenarios and leave any tooling changes for later to support it from razor

[2020-05-16 22:56] dv00d00 commented on #21183
Thanks for the review guys, both PRs (https://github.com/natemcmaster/LetsEncrypt/pull/81 and https://github.com/ffMathy/FluffySpoon.AspNet.LetsEncrypt/pull/71) are merged and will be released soon. I am not aware of any other community projects aimed at acme cert providers.

This whole story rendered that SSL could be tricky and assuming that SslStream internals will change in the future this cou

[2020-05-16 23:37] danroth27 commented on #21514
@JvanderStad Thanks for pointing that out! Should be fixed now.

[2020-05-16 23:56] talldaniel commented on #17660
Also, I noticed in the Blazor faq that this is the most common error people are having, and it claims that the problem comes from using the wrong version of Visual studio.
I just installed Windows 10 pro and then VS 2019 on a new computer yesterday, and have this problem, so I don't think that is right, unless there is something else I am supposed to do to get the "right" version.
I don't think it

[2020-05-17 00:21] jlchavez opened #21916 "Razor Pages ComplexTypeModelBinder fails to handle the suggestion of "Alternatively, set the 'X' property to a non-null value in the 'YModel' constructor""
### Version
.NET Core 3.1
Microsoft.AspNetCore Nuget Packages 3.1.4 (latest)

### Context of the problem

I have a page model with five properties that are a complex type, which is need to be bound on post back, this is for making an async upload mechanism, that will show a button for selecting the file and a button for uploading, when this one is clicked we show a progress bar, lock the buttons,

[2020-05-17 00:24] talldaniel opened #21917 "Copy /Paste of code causes compile error no matter what (almost)"
### Describe the bug
I copied all of the code from a Component and pasted it into a blank component.  It creates three versions of these two errors for a total of six errors.
Error	CS1513	} expected	Miscellaneous Files
Error	CS1022	Type or namespace definition, or end-of-file expected

I then removed all lines of code except for this one about popup, and it still creates the same errors.
`
@{

[2020-05-17 00:49] davidfowl commented on #21672
https://github.com/dotnet/aspnetcore/issues/21512

[2020-05-17 00:51] davidfowl commented on #21183
Yes this great issue investigation spawned a set of work that I have tracked here https://github.com/dotnet/aspnetcore/issues/21512. 5.0 should have this situation dramatically improved.

@bartonjs is our certificate crypto export and we're looking at ways to represent a "pre-validated" certificate chain for these scenarios to avoid this in the future.

[2020-05-17 01:16] mkArtakMSFT commented on #21788
@gr8tushar we're still trying to find out where that should go. So not yet.

[2020-05-17 01:18] mkArtakMSFT commented on #21790
Thanks for bringing this up, @AlexeyBoiko.
The issue is internal and is not owned by our team. The plan is to get this resolved by VS 16.7 release.

[2020-05-17 01:18] pranavkm commented on #21870
Could you go through the troubleshooting guide: https://docs.microsoft.com/en-us/aspnet/core/test/troubleshoot-azure-iis?view=aspnetcore-3.1#app-startup-errors? Let us know if that doesn't help.

[2020-05-17 01:39] davidfowl commented on #10464
How does this work with startvs?

[2020-05-17 01:45] BrennanConroy commented on #21672
Wrong link?

[2020-05-17 01:58] mkArtakMSFT commented on #21653
`@bind-checked` indeed doesn't compile, but `@bind` works as expected.
@javiercn is this by-design?

[2020-05-17 02:16] nvmkpk opened #21919 "Is authentication in blazor wasm supported via popup or iframe for PWA?"
### Is your feature request related to a problem? Please describe.
The current implementation of authentication in blazor wasm application is not very well suited for an installed PWA (in standalone mode) because the navigation happens in main browser window/webview and hitting back to close the application will go through the authentication pages.

### Describe the solution you'd like
I would lik

[2020-05-17 03:00] Mercurial commented on #21660
Hi @ajaybhargavb  @mkArtakMSFT

here is a repo I made

https://github.com/Mercurial/BlazorVSCodeIssue

What I had to do was besides the default settings of `dotnet new blazor` to make it very easily reproducible was to add a big component dependency like https://github.com/SamProf/MatBlazor

then the issue can easily be seen. I reproduced the issue in WSL 20.04 with this specific repo but I am con

[2020-05-17 03:12] Smash99 opened #21920 "Unable to resolve .NETCoreApp v3.1 Packages"
I'm on .Net Core 3.1.202 and I'm getting errors on all packages when running dotnet restore on a new Web API project.  Please help!

error NU1100: Unable to resolve 'Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore (>= 3.1.4)' for '.NETCoreApp,Version=v3.1'.
error NU1100: Unable to resolve 'Microsoft.AspNetCore.Identity.EntityFrameworkCore (>= 3.1.4)' for '.NETCoreApp,Version=v3.1'.
error NU11