[2020-04-21 10:15] javiercn commented on #21053
@yongwangy91 thanks for contacting us.

@guardrex is this some sort of sample that we have in the docs repo?

[2020-04-21 10:19] guardrex commented on #21053
It is ...

https://github.com/dotnet/AspNetCore.Docs/tree/master/aspnetcore/tutorials/signalr-blazor-webassembly/samples/3.x/BlazorSignalRApp

... and there was a report on it, but what that turned out to be is **_how the sample is run_**, not a problem with the sample itself. I only intend thus far to change the text to say that the sample can be run from VS/VSC with or without debugging now.

[2020-04-21 10:24] javiercn commented on #21053
@guardrex so not a product issue but a sample issue? Can we close this?

[2020-04-21 10:26] guardrex commented on #21053
Yes, as far as I know. The dev on the docs issue was able to get it running by following the guidance in the doc, so I think the framework aspects are good.

I'm already working on the PR now to upgrade it to Preview 4, and I'll take the updates live immediately after confirming that it runs ok.

[2020-04-21 10:51] saadsaeed01 commented on #20897
@mkArtakMSFT Hello Artak. I hope you are fine. I have created a demo project and uploaded it on git. Here is the link of the repository
https://github.com/saadsaeed01/BlazorDemoAppForTesting

We have also publish this app to an Azure App Service instance. Here is the link to deployed app.
https://testsavebug.azurewebsites.net/counter

When we checked whether this error was getting reproduced in cl

[2020-04-21 11:00] #21010 closed

[2020-04-21 11:00] #21007 closed

[2020-04-21 11:16] mwinkler opened #21054 "Blazor Wasm 3.2-preview4 CORS problem in OIDC authentication"
Our corporate oidc provider does a roundtrip via AD FS (SAML request).
The AD FS server does not support CORS, so the authentication fails with the error 'Network Error'.

![image](https://user-images.githubusercontent.com/1729418/79859123-cf258400-83d0-11ea-8202-4ae32f7aedc5.png)

Is there a way to force the client to do the authentication not using ajax and do a proper redirect?

There is also t

[2020-04-21 11:17] #21053 closed

[2020-04-21 11:37] javiercn commented on #21054
@mwinkler thanks for contacting us.

No, there is no way around it. Your provider needs to support CORS in the authorize endpoint if you are using an implicit flow and also in the token endpoint if you are using code.

[2020-04-21 11:38] #21054 closed

[2020-04-21 12:00] blowdart commented on #21054
Given that ADFS is an older ASP.NET hosted under IIS you will be able to use the [IIS CORS module](https://docs.microsoft.com/en-us/iis/extensions/cors-module/cors-module-configuration-reference).

[2020-04-21 12:12] javiercn commented on #21054
@blowdart thanks! I didn't know that 😄

[2020-04-21 12:30] JulienM28 opened #21056 "Asp Net Core / Blazor auto recompilation on kestrel"
When using IIS auto recompilation on save works fine,
but with Kestrel no way.

[2020-04-21 13:25] PylotLight opened #21057 "Failed to fetch on launch for wasm project"
### Describe the bug
A clear and concise description of what the bug is.
When pressing debug on VS, most of the time, the page appears with:
An unhandled error has occurred. Reload
Basically nearly everytime, a random file/dll will fail to load or fetch.

![image](https://user-images.githubusercontent.com/7006124/79870309-20ac2e00-8426-11ea-9ce4-a418b0a07610.png)
![image](https://user-images.githu

[2020-04-21 13:49] mrlife commented on #20925
@javiercn Looks like this was due to `EventCallback` incorporating the behavior of `StateHasChanged`, per the [ASP.NET Core Blazor event handling docs page](https://docs.microsoft.com/en-us/aspnet/core/blazor/event-handling?view=aspnetcore-3.1).

@guardrex
Would be useful for the lifecycle docs page to be updated and include in one place all ways the lifecycle comes into play.

[2020-04-21 13:58] hakanaltindis commented on #20090
thx for the answer. It worked for me.

[2020-04-21 13:59] hakanaltindis commented on #20090
thx for the answer. It worked for me.

[2020-04-21 13:59] guardrex commented on #20925
Yes, that's fine ... there's an existing section that can be expanded a bit with a cross-link to the Event Handling topic ...

https://docs.microsoft.com/en-us/aspnet/core/blazor/lifecycle?view=aspnetcore-3.1#state-changes

... would you mind opening the issue from the bottom of the Lifecycle topic? **_I'm buried in Blazor Server scaffolding code at the moment._** ⛰️⛏️😅

[2020-04-21 14:01] Leosamus opened #21059 "Angular SSR on Azure App Services - Cannot find module 'request'"
Hello there,

We just upgraded our API from .NET Framework to .NET Core. We migrated to SignalR Core. So, we had to upgrade our SignalR client as well. No problem. Everything works on local. But when we deploy on our Azure App Service, we get this error :

[code]

I checked and we can find signalr.js files in dist/browser. We're on the last package version. Everything related found on internet did

[2020-04-21 14:03] rdadkins commented on #21032
@javiercn sure, https://github.com/rdadkins/BlazorBrokenAuthorization

Both working and broken solutions should be identical aside from preview 3 / 4 usage.

Both utilize `[Authorize(Roles = "Admin")]` in the client Index.razor pages. Both clients also handle redirecting to the login / register page (`RedirectToLogin.razor`, `Authentication.razor`) when a user is determined to not be authenticated

[2020-04-21 14:13] jozefizso commented on #20982
The 3.1.201 SDK is what I see on the .NET SDK download page. And I use Visual Studio 2019 16.5, therefore I have this SDK. When I change the **global.json** to use **3.1.103**, Visual Studio cannot open project as the SDK is not compatible with it.

![image](https://user-images.githubusercontent.com/287778/79875929-a7dbb080-83ea-11ea-9743-5761b72eb4c4.png)

As the release of both VS 16.5 and SDK 3

[2020-04-21 14:52] Ziriax opened #21060 "Allow Blazor to use NoesisGUI as UI rendering backend?"
Blazor looks like a fantastisch framework with a lot of potential.

It might be interesting to support other GUI backends, like the amazing [NoesisGUI](https://www.noesisengine.com) engine.

Although I haven't used NoesisGUI for years now, it is a XAML compatible 2D render engine for high-end video-game GUIs, and is used by award winning game companies.

Fully written in C/C++, it already supports

[2020-04-21 14:55] matijagrcic commented on #14271
@ajaybhargavb this year?
Currently this is the sole reason using vs code for core development is unusable.  Remember that preview announcement was last year.

Will this new formatting power the VS also?

[2020-04-21 15:00] bkv143 commented on #5465
Could you write a bit more technical description how it works? As much detailed as possible.
 Thank you.

[2020-04-21 15:35] pranavkm commented on #21052
@majidmadadi different parts of the view engine pipeline may attempt to check for file existence. For a disk-based file system, it's not evident that this has a impact on performance. If you think it affects a database-backed file system, consider adding caching to your file provider implementation.

[2020-04-21 15:43] isc30 commented on #5465
Absolutely! It's already [in the roadmap](https://github.com/isc30/blazor-lazy-loading/projects/1) to get as much documentation as I can (diagrams, etc) after implementing all the core features.

I will try to give a small overview now:

[2020-04-21 15:44] isc30 commented on #5465
Absolutely! It's already [in the roadmap](https://github.com/isc30/blazor-lazy-loading/projects/1) to get as much documentation as I can (diagrams, etc) after implementing all the core features.

I will try to give a small overview now:

[2020-04-21 15:52] isc30 commented on #5465
Absolutely! It's already [in the roadmap](https://github.com/isc30/blazor-lazy-loading/projects/1) to get as much documentation as I can (diagrams, etc) after implementing all the core features.

I will try to give a small overview now:

[2020-04-21 16:33] #21060 closed

[2020-04-21 16:36] mkArtakMSFT commented on #21057
Thanks for contacting us.
Do you happen to have a way to try this out on a different machine? We suspect there is something wrong with your current environment.

[2020-04-21 16:37] mkArtakMSFT commented on #21056
Thanks for contacting us. This is IIS Express VS feature, so you should request this from VS. Please use the VS Feedback tool to request it.

[2020-04-21 16:37] #21056 closed

[2020-04-21 16:42] JSpring3 commented on #21014
There are no console errors and no error codes in the network  tab.
The login is "successful" and redirects to the callback page but beyond that, no.
The AuthorizeView context is an AuthenticationState.User and displays the "NotAuthorized" block
instead of the "Authorized" block. As I stated before, (now for the third time) I get a valid access and  id token back which can be seen in the network t

[2020-04-21 16:46] mkArtakMSFT commented on #21011
@lewing this seems to be an issue with the `#` in the file path. Will move to the `Mono` repo for investigation.

[2020-04-21 16:50] mkArtakMSFT commented on #21011
This issue was moved to mono/mono#19616

[2020-04-21 16:50] #21011 closed

[2020-04-21 16:51] boonasty69 commented on #20987
Yeah and not one person tried to help me

On Tue, Apr 21, 2020 at 12:49 PM Artak <notifications@github.com> wrote:

[2020-04-21 16:52] ryanbrandenburg opened #21061 "TSLint is depricated"
As of February 2019 TSLint is [depricated in favor of ESLint](https://github.com/palantir/tslint/issues/4534). As of January 1 2020 they only accept PRs for security issues and crashes, and as of December 1 2020 no PRs will be accepted.

Given this I think we should make the move to ESLint (or some other alternative) at least before December 1st.

TSLint is used by the [aspnetcore-tooling](https:/

[2020-04-21 16:59] NTaylorMullen opened #21062 "Support commiting TagHelper attributes with "=""
In VSCode we don't support this because we have snippet completions where on commit we generate `attributename="|"`. In VS they don't support snippet completion. We should do work to support "=" as a commit character and potentially move away from snippet completion entirely.

[2020-04-21 17:04] davidfowl commented on #20952
@adamsitnik reflection, no, you have to change the code here https://github.com/dotnet/aspnetcore/blob/02e4d1af41231a77adb078fad8b2f98cf2e35722/src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketConnection.cs#L71-L72

[2020-04-21 17:08] adamsitnik commented on #20952
@davidfowl thank you!

[2020-04-21 17:15] emilmuller opened #21063 "Additional SignalR configuration support for Redis"
Hi

I'm using SignalR with Redis as a backplane, which means that I'm using `AddStackExchangeRedis(...)` in `ConfigureServices`.

However, I'd also like to use Redis (the same server) for my own personal caching purposes, which means that I am calling `ConnectionMultiplexer.ConnectAsync(...)` elsewhere in my code.

This leads me to believe that SignalR does that as well, and that my app ends up wi

[2020-04-21 17:16] BrennanConroy commented on #21059
Dupe of https://github.com/dotnet/aspnetcore/issues/10400

This is fixed in 5.0.

I believe some folks have had success with workarounds like: https://github.com/dotnet/aspnetcore/issues/10400#issuecomment-506362739

[2020-04-21 17:20] BrennanConroy commented on #21063
You should be able to do this by using the `ConnectionFactory` in the redis options. Where you provide the Connection to SignalR.

An example of the usage for other purposes is [here](https://docs.microsoft.com/aspnet/core/signalr/redis-backplane?view=aspnetcore-3.1#custom-behavior-for-connection-failures)

[2020-04-21 17:23] #20963 closed

[2020-04-21 17:23] emilmuller commented on #21063
@BrennanConroy Ah! Great. I missed that :) Thanks

[2020-04-21 17:31] Tratcher commented on #20927
The next best tool for investigating this kind of issue is turning the server logs up to Debug level.
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1#configuration

[2020-04-21 17:34] halter73 commented on #20952
For now you could just copy the SocketTransport, then change those two lines and the name and register it. Or you could use rhtx in its inline mode if you don't need to use the Socket transport exactly.

You could also look at modifying KestrelServer.ServiceContext.Scheduler to be Inline instead of ThreadPool. You should be able to grab the KestrelServer instance out of DI as an IServer. I don't t

[2020-04-21 18:02] NTaylorMullen commented on #20827
@ryanbrandenburg can you post both versions simple and non-simple.

@danroth27 could you make a call on whether we should delay this work?

[2020-04-21 18:18] mkArtakMSFT commented on #20987
@boonasty69, while we would like to help out here, there is no easy fix unless we add a feature to support this.
In addition to that, this is not a blocking feature for anyone in any way. The user can always either choose different type names or fully quality component names and get it working. Given that, we've moved this to the `Backlog` due to this not impacting many customers and not being a b

[2020-04-21 18:20] boonasty69 commented on #20987
On Tue, Apr 21, 2020 at 2:18 PM Artak <notifications@github.com> wrote:

So what steps should I take to
Secure my data

[2020-04-21 18:20] ajaybhargavb commented on #20987
Also, we're tracking the larger work item that encompasses this in https://github.com/dotnet/aspnetcore/issues/13090. This will be fixed when that is addressed. Closing this one as a duplicate of https://github.com/dotnet/aspnetcore/issues/13090.

[2020-04-21 18:20] #20987 closed

[2020-04-21 18:32] NTaylorMullen opened #21066 "Allow committing a directive attribute like @onkeypress with :"
I was looking to write `@onkeypress:preventDefault` but the commit character `:` did not result in the expected result (i'd expect it to commit item):

![image](https://i.imgur.com/Bu7fA5Q.gif)

[2020-04-21 18:45] danroth27 commented on #20827
I find that visually really hard to parse as well. Is there an equivalent C# experience that we can compare this to?

[2020-04-21 18:59] megafetis opened #21067 "How to use the Lib Microsoft.AspNetCore.Authentication.Negotiate with ALD or free IPA domain servers?"
### Is your feature request related to a problem? Please describe.
How to use the Lib Microsoft.AspNetCore.Authentication.Negotiate with other domain servers ALD or free IPA ? Without using Active Directory
Why NegotiateOptions doesnt contains PathToKeytab property?

### Describe the solution you'd like
A clear and concise description of what you want to happen. Include any alternative solutions y

[2020-04-21 19:28] javiercn commented on #21014
Do you mean `login-callback` or the return url, like `/fetchData`. Can you check the contents of the user claims principal? (As well as `AuthenticationStateProvider.GetAuthenticationState()` and `IAccessTokenProvider.RequestAccessToken().TryGetAccessToken(out var token)))`

It is impossible for us to test third-party providers, so providing us as much information as you can is the best way we can

[2020-04-21 19:37] pranavkm commented on #20259
This is being fixed as part of https://github.com/mono/mono/issues/19466

[2020-04-21 19:37] #20259 closed

[2020-04-21 19:42] blowdart commented on #21067
It doesn't have that option because our main target for this right now is Active Directory.

As for path to keytab, it uses environment variables,

[code]

Is there a reason that's not sufficient?

[2020-04-21 20:00] #18578 closed

[2020-04-21 20:10] majidmadadi commented on #21052
Ok but I think it's not a good practice to create instances of objects to just check the existence of a unique entity.

[2020-04-21 20:12] majidmadadi commented on #21052
Thank you for your explanation.

[2020-04-21 20:14] #21063 closed

[2020-04-21 20:33] NTaylorMullen opened #21070 "In VS cloud scenarios doing find all references on a C# type results in a broken FAR dialog"
![image](https://user-images.githubusercontent.com/2008729/79910994-7eb02580-83d4-11ea-9d33-d7f7c0f9adeb.png)

We probably need to fill out our LSP span mapping service: https://github.com/dotnet/aspnetcore-tooling/blob/7fa56fb1071c014bad8e471916a0143acb33fd6a/src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/CSharpVirtualDocumentPublisher.cs#L95-L98

[2020-04-21 20:36] mkArtakMSFT commented on #20683
Glad you've figured this out, @dazinator.
This is indeed an inconsistent behavior. However, VS has some logic to optimize the builds and by doing so it doesn't restore the packages on every build. However, if you try to restore, it'll fail even in VS.

I recommend using VSFeedback to report that issue. Given that there is no any other action pending here I'm closing this issue.

[2020-04-21 20:36] #20683 closed

[2020-04-21 20:44] NTaylorMullen opened #21071 "Razor TextMate colorization is lost following multiple statement blocks"
![image](https://user-images.githubusercontent.com/2008729/79912006-33971200-83d6-11ea-9e63-3d5d900ceb73.png)

[2020-04-21 20:55] NTaylorMullen commented on #20223
After a few email threads we landed on two viable ways forward:
1.	Create a custom, simple debug adapter in O# to enable running the Blazor dev server and then tear down it and all of its child processes on “stop”.
2.	Expand the CoreCLR debug adapter to kill child processes and keep using `dotnet run`

We’re going to attempt doing 1 because changing something that hasn’t changed in 20 years or so

[2020-04-21 21:06] mkArtakMSFT commented on #18427
Submitted the request for the docs publishing.

[2020-04-21 21:22] fredkuhne commented on #15198
Yes, please.

[2020-04-21 21:34] fabianus76 commented on #20976
Finally the issue isn't solved - so here comes the sample. What is missing is the fact, that a change to the object graphe that happens in a child component is not reflected in the context of the parent component. Meaning that if the Street property is modified in the parent component context.IsModified() is true, but not if the same property is modified in the child component:

**parent component

[2020-04-21 21:50] logankp opened #21073 "RangeAttribute should allow specifying either minimum or maximum"
### Describe the solution you'd like

The DataAnnotations.RangeAttribute should allow specifying just one constraint to allow for "at-least" or "at-most" type behavior in addition to "between". It would also be nice if it added `min` and `max` attributes to the `<input>` elements.

### Additional context

I recently had the use case of ensuring that numbers entered into input fields are positive.

[2020-04-21 21:50] LeeActon commented on #20729
@mkArtakMSFT,

Ok, now I'm back to debugging not working, but now it's failing on all three browsers (Chrome, Edge, and Firefox).

It seems to be specific to my project because a simple project that is created from the standard template and unmodified works perfectly fine.

Looking at the modules that are loaded in the working and non-working scenarios, the "javascript debugger root session" and "

[2020-04-21 22:47] babelshift commented on #20112
I came across a similar issue where a service method called from a component's `OnInitializedAsync` method was awaiting a response from an `HttpClient` get request and throwing a `NullReferenceException` in the component's rendering phase.

I have a feeling this is due to Blazor's ability to render the component's HTML and send it to the browser before the awaited call has finished. Once the callb

[2020-04-21 23:04] jepperaskdk commented on #12959
In order to use e.g. [multi-stage builds](https://docs.docker.com/develop/develop-images/multistage-build/), one would have to manually call `npm install` and whatever building of the SPA in the Dockerfile - then copy the dist folder to the .NET Core stage of the build and publish?

[2020-04-21 23:04] Leosamus commented on #21059
Not really a duplicate since it's not the same package version and it's not the same environment. It seems it doesn't work EVERYWHERE for this person. For us, it works on local but not on Azure.

But nevermind. I just fixed that.
I found that not one but three dependencies where missing. So I added a task in my pipeline Azure DevOps, just after "npm install" : npm install request eventsource ws.

[2020-04-21 23:14] bzaar opened #21077 "ASP.NET (not Core) WebAPI in an SDK-based csproj - possible?"
### Describe the bug
After switching to the "SDK-based" csproj format, my ASP.NET WebAPI app got into a weird state: when trying to run it in Visual Studio 2019, the IDE says:

 * (when using Sdk="Microsoft.NET.Sdk.Web") "Unable to run your project. The "RunCommand" property is not defined." or
* (when using Sdk="Microsoft.NET.Sdk") "The project doesn't know how to run the profile IIS Express."

H

[2020-04-21 23:16] PylotLight commented on #21057
Interesting.
I synced my project to my work laptop, run debugging like 10 times and didn't get the issue once.
I've used the same browsers in both, both on slow insider builds.
Any idea what in the env could be causing the issue that I can test or change?

[2020-04-21 23:57] mkArtakMSFT commented on #18427
Request being tracked here: https://ceapex.visualstudio.com/Onboarding/_workitems/207902

[2020-04-22 00:06] Kahbazi opened #21079 "Possible Performance Improvement in Routing"
`HttpMethodMetadata` gets an `IEnumerable<string>` to determine the methods for routing. I think the performance could be improved by replacing the http method instances with the ones in `HttpMethods` class.

[code]

[2020-04-22 01:54] benaadams commented on #20518
Safe and fast startline parsing is ready for review https://github.com/dotnet/aspnetcore/pull/20885

Note: this will break PlatformBenchmarks due to change in api; though it should be pretty quick to fix up (have most of it in-place in another PR)

[2020-04-22 02:08] FalconWu2017 opened #21081 "Show "A path base can only be configured using IApplicationBuilder.UsePathBase().""
An error occurred because of URL settings. If remove urls setting in appsettings.json the app will be OK. But how to set listening address?
This is my *.csproj:
[code]
appsettings.json
[code]
This is error log:
[code]

[2020-04-22 02:50] hmheng commented on #17277
![bde93cce-5137-4e82-844f-bd11993edb83](https://user-images.githubusercontent.com/11830387/79935171-d313dd80-8486-11ea-851d-aea64ce981e6.jpg)

@benelliott 's solution is definitely working, however, I noticed that it will cause memory hogging and not releasing the nodejs process after each debug session. I'm not sure if it is caused by VS2019 for not releasing it while opening new nodejs instance

[2020-04-22 03:09] limefrogyank commented on #21024
Have you tested authentication yet?  I can't seem to get the client to send the token using the `.WithUrl(uri, options)` overload where you set the `AccessTokenProvider`.  The server only sees the id query parameter in the websocket request.

[2020-04-22 03:24] jan-johansson-mr commented on #12685
My observation is that we're dealing with type incompatibility between JavaScript and .NET. The type `undefined` is simply not defined with .NET. One way to address it may be to do as suggested in the thread by instructing to not serialize types that are NULL with C#, but what if JavaScript library actually uses `null` and also `undefined`? Maybe a more stable approach would be to introduce a new

[2020-04-22 03:24] sitepodmatt opened #21083 "Routing order with path match and a MapDynamicControllerRoute"
I beleive this could possibly be related to #16579. We're using ASP.Net Core 3.1 LTS with MVC Controllers and have set of static routes plus a whole lot of dynamic routes for categories, products and other slug styles (driven by an inmemory cache of some database view)..  milliseconds are important on our GET pipeline so we noticed something odd but not breaking as the correct route is eventually

[2020-04-22 03:25] sitepodmatt commented on #21083
@rynowak

[2020-04-22 03:46] anurse commented on #21024
@limefrogyank Yep, as you noted that's been identified and should be fixed in the 3.1.4 patch! But thanks for noting that specifically, I'd expect you're not the only one encountering that issue :).

[2020-04-22 05:48] #16579 closed

[2020-04-22 05:48] #18677 closed

[2020-04-22 06:11] fiha8 commented on #20984
Thank to all of you for your effort, but my apologies. Probably I've found the issue. I had to just increase Private Memory Limit in Application Pool. It was enough for my last app, seems like this app requires more. It looks like these troubles are away now. Thanks again, hope I didn't kill too much of your time.

[2020-04-22 06:11] #20984 closed

[2020-04-22 06:19] gbrantzos commented on #20754
@Oleg26Dev try this on your appsettings.json file:

[code]
Also remember that urls should be separated by semicolon (;) and not comma (,).

[2020-04-22 07:38] boindiil commented on #17926
@javiercn and @pranavkm are there any updates on this issue?

[2020-04-22 08:48] #20845 closed

[2020-04-22 08:49] #20840 closed

[2020-04-22 08:55] javiercn commented on #21079
@Kahbazi thanks for contacting us.

I'm not sure why that would be the case, it is likely that it doesn't have a perceptible impact in performance. Do you have any data that proves the current results in a measurable performance improvement?

[2020-04-22 08:59] SpiritBob opened #21084 "ASP.NET Status codes include the status's description, but ASP.NET Core doesn't?"
When you head over to networking in any modern browser, and do a request with ASP.NET Core, the **Status Code** entry will only have the status code number printed, where as if you do the same thing on a ASP.NET application, you will see the status code + what it means.

For example, in ASP.NET Core you'd see the following: 200, 401, 301
In ASP.NET though, you'd see this: 200 OK, 401 Unauthorized,

[2020-04-22 09:12] javiercn commented on #21077
@bzaar thanks for contacting us.

This is not possible, sdk-based projects are not suited for traditional aspnet/webapi projects and it is likely you'll see a long trail of issues if you try to use them.

[2020-04-22 09:12] #21077 closed

[2020-04-22 09:12] #21052 closed

[2020-04-22 09:13] #20853 closed

[2020-04-22 09:40] julienGrd opened #21085 "[Blazor WebAssembly] Serious performance issues"
Hello guys, I would like to discuss performance problems i met with my Blazor App.

It will be a very long text with a project example to illustrate this, so please read with attention before respond.

I rewrite since one year a silverlight app in blazor, and i notice since the begining some performance issues on some heavy views.
The behavior is really bad, its a completely browser freezing and n

[2020-04-22 09:45] FalconWu2017 commented on #21081
Close because the address format is wrong.

[2020-04-22 09:45] #21081 closed

[2020-04-22 09:53] LukeTOBrien opened #21086 "Environment.MachineName returns "emscripten""
Hi there,

I am experimenting with porting some existing WinForms app to the web using Blazor, we have some business logic that retrieves the configuration settings for a given machine name.
It seems in Web Assembly `System.Environment.MachineName` return "emscripten".
The [docs](https://docs.microsoft.com/en-us/dotnet/api/system.environment.machinename) for MachineName say:

So "emscripten" is in

[2020-04-22 10:32] dgroh commented on #19750
This is still on issue on 3.1.3 right?

Actually I wanted to await for the connection to stop so I do some logic...

What I'm doing right now is:

`_connection.Closed += OnConnection_Closed;`

[code]

Does this make sense?

[2020-04-22 10:36] julienGrd opened #21088 "[Blazor] Prevent Rerender component when event occured"
Hello guys, a notice a behavior when i use event like keydown or keyup on a table for example, it make the component re-rendering each time event occured.

Most of a time, this behavior has no incidence but on a table full of data, it can make the performance really bad.

For example, if i suscribed on a keyup event on a table, to listen for example only the arrow up and the arrow down to have key

[2020-04-22 10:42] alexwiese commented on #21086
What would you expect it to return?

The server hostname when running on the server? The client hostname when running on the client?

The machine name isn’t available on the client due to security/sand boxing.

[2020-04-22 11:09] StefanJanssen95 opened #21089 "[Blazor WebAssembly] Unable to perform request with mode: no-cors"
### Describe the bug
Using the HttpClient I'm unable to perform a request with "mode: no-cors"

### To Reproduce
The following is a working Fetch call from Javascript.
[code]
This results in the following request headers (among others):
[code]
I'm unable to add the listed headers to my request since they are part of [Forbidden Header Names](https://developer.mozilla.org/en-US/docs/Glossary/Forbidd

[2020-04-22 11:14] javiercn commented on #21084
@SpiritBob thanks for contacting us.

This is likely a difference between HTTP/1.1 and HTTP/2. Status description messages are deprecated in HTTP/2 I believe.

I'll let more knowledgeable folks answer it.

[2020-04-22 11:16] javiercn commented on #21086
@LukeTOBrien thanks for contacting us.

This is not a blazor specific issue, but a mono issue. You'll get a better and faster answer if you file the issue directly in the [mono](https://github.com/mono/mono) repository since this is set by the runtime and Blazor doesn't have any control over it.

[2020-04-22 11:17] chucker opened #21090 "Blazor: support linked `.razor` files from different path"
### Is your feature request related to a problem? Please describe.
I have a rather large Blazor solution. For performance and reliability reasons, I'm trying to create a smaller VS solution with its own Blazor project that only links _some_ of the `.razor` files.

I.e., the `.csproj` contains something like this:

[code]

From a general VS perspective, this is a supported scenario (in Solution Exp

[2020-04-22 11:22] javiercn commented on #21088
@julienGrd thanks for contacting us.

Blazor will minify the changes to the DOM and you can further narrow this down by using `@key` in the list of table rows.

You can override `ShouldRender` to control this behavior, by returning true or false when called. For example, you can have a boolean that keeps track of it, set it to false when this event happens and unconditionally set it to true inside

[2020-04-22 11:25] LukeTOBrien commented on #21086
Okay, thank you - Yes on the server I would expect the server machineName and on client the client machineName - But if it is not possible due to sandboxing then that answers my question.

[2020-04-22 11:25] #21086 closed

[2020-04-22 11:38] javiercn commented on #21085
@julienGrd thanks for contacting us.

We'll take a look at the issue in more depth and get back to you. One thing that comes to the top of my mind is that, (haven't looked at the app yet) is that it is likely a good idea for you to virtualize the list, meaning that you don't render the 1000 rows every time and that instead you only render the subset of rows that can confortable fit on the screen,

[2020-04-22 11:44] Kahbazi commented on #21079
sudo bot label remove "Needs: Author Feedback"
sudo bot label add "Needs: Attention 👋"

I always wanted to do this :trollface:

Ok. Basically I'm trying to set all the http methods in routing from the `HttpMethods` static fields so we can leverage `ReferenceEquals` for comparison.
https://github.com/dotnet/aspnetcore/blob/06a85e5db2bb9159beb3b530bdf224a3ec60ad1b/src/Http/Http.Abstractions/src/Http

[2020-04-22 11:46] javiercn commented on #21079
@Kahbazi thanks for the details.

@rynowak do you have any thoughts here since you did extensive performance work in this area?

[2020-04-22 11:51] javiercn commented on #21089
@StefanJanssen95 thanks for contacting us.

There is a way to do this, but it's not by setting a header. @pranavkm knows the details.

[2020-04-22 12:18] jsandv commented on #10558
@ChristianWeyer yes im seeing this in latest bits.

Current steps to reproduce is having either section 1 or section 2 commented in.
Run in any valid page.

`@page "/counter"
@*Section1: Not optimal, entire page is sent each mouse move*@
<div @onmousemove="e=>MouseMove(e)">
    @for (var i = 0; i < 1000; i++)
    {
        <input type="text" @bind="Text" />
    }
</div>

@*Section 2Optimal, only f

[2020-04-22 12:28] julienGrd commented on #21085
thanks for you reply @javiercn

Concerning the virtual scrollink i was thinking of that. However in my case the rows have dynamic height based on the content, wich make the thing really tricky to an efficient virtual scroll system (everything i see on internet was a fixed height row system). if you have some resources to achieve it i take it.

Yeah it seem really related, each freeze superior at 2

[2020-04-22 12:51] julienGrd commented on #21088
Thanks for your reply @javiercn

I doesnt know this directive, its a really good idea !
However it seem not work in my test (or i don't understand). I try in a generic Grid when I render rows
[code]

i log into the afterrender of my GridRow the hashcode of my element (which is the key)

when the onkeyup event is fire all my rows are re-rendered (on the log we see the hashcode of the object doesn't

[2020-04-22 12:58] Vikki123 commented on #20959
Attaching the debug logs. I have removed the hub url and replaced it with the string url. Hope thats okay

[code]

[2020-04-22 12:59] Vikki123 commented on #20959
Yes i agree something is happening when it is run under zone. Running it outside the angular zone seems to be working fine.

[2020-04-22 13:37] huto1 opened #21092 "BlazorLinkOnBuild has been renamed to BlazorWebAssemblyEnableLinking"
I get this error after updating one of my older projects. Now, if I go deeper, it will say I need to update my project files. Unfortunately, I cannot find anything similar to this. Does anyone know the location?Or maybe this is not fixable at all.

**BlazorLinkOnBuild has been renamed to BlazorWebAssemblyEnableLinking**

[2020-04-22 13:43] maximiliysiss opened #21093 "Blazor. Select fail binding"
Hello! I have a problem with select's bindings.

[code]

The problem occurs when PossibleItems change.
For example. at start PossibleItems is [1,2,3,4]. When I select '3', the PossibleItems is [1,3,4].
Display value is 4. But in html option with value='3' has 'selected' tag

[2020-04-22 13:48] henkmollema opened #21094 "Disable brotli precompression for Blazor WASM apps"
Is there a way to disable brotli precompression for Blazor WebAssembly (added in 3.2.0 Preview 4) apps or force it to use the gzipped files?

We're currently hitting [a bug in Google Cloud](https://issuetracker.google.com/issues/147185337) which removes the `content-type: br` header from the response even though the client says it accepts brotli. This causes the browser to not understand the brotl

[2020-04-22 14:21] stoyandimov opened #21095 "Blazor code-behind class inheriting OwningComponentBase won't build"
### Describe the bug
When a `code behind` class of a Blazor component inherits from `OwningComponentBase`
a Blazor web assembly project will not build.

[code]

### To Reproduce
[code]

[code]

Building the project will fail with the errors mentioned in the `Describe the bug` section

### Further technical details
- ASP.NET Core version 3.1.3
- Include the output of `dotnet --info`
[code]

[2020-04-22 14:27] maximiliysiss commented on #21093
Resolving problem is using value instead of bind
[code]

[2020-04-22 14:27] #21093 closed

[2020-04-22 14:36] naveedahmed1 commented on #17277
I also noticed this, and I believe its the issue with VS2019.

[2020-04-22 14:42] dstj commented on #17277
This is definitely not new, I have been having that problem for a long time now, see #5239 and #5204

[2020-04-22 14:43] theCuriousOne commented on #9447
This:

is the main issue. If the .net core app uses encryption  and the LoadUserProfile is set to false, rhen the error might occur. The  **LoadUserProfile = false** is sometimes set in the IIS ApplicationPool of the app, without the user knowledge (for providing IIS6 compatibility) so you have to make sure that is set to true. If you must have LoadUserProfile set to false, then an alternative sol

[2020-04-22 14:49] jernejk commented on #20935
Thanks, that worked great! :)

I have written a blog post on how to make Blazor WebAssembly app work with **appsettings.json** and environments. :)

https://jkdev.me/blazor-appsettings/?github

Recent Google search still isn't finding any good solutions for **appsettings.json** in Blazor!

The old blog post with embedded might be still useful for certain scenarios since the config is available rig

[2020-04-22 15:22] martinisaksen commented on #21018
Initially I was thinking I had to get the configured HttpClient out of the TestServer to call my second endpoint, but now realize that that is not how TestServer works.
I still have a problem using TestServer, and the problem is that I cannot call TestServer from within itself. My integration tests are trying to validate that a middleware and message handler are functioning and part of their logic

[2020-04-22 15:22] blushingpenguin opened #21096 "data protection API creates a new default key if decrypting an existing one fails"
### Describe the bug

The error below is an example of starting an app, then downloading a key from azure storage which fails with a timeout (it appears to have downloaded the data and then timed out in this case).

This was a transient failure, but the built in policy in src/DataProtection/DataProtection/src/KeyManagement/DefaultKeyResolver.cs seems to be to log the issue, and continue, whereas i

[2020-04-22 15:37] captainsafia commented on #20994
Thanks for reporting this detailed issue, @MarkusRodler.

I took a stab at reproing this with some slightly different dependencies:
* MSBuild 16.6.0-preview-20105-01+5d872c945
* Blazor WebAssembly 3.2.0-rc1 (from an internal feed to verify if this is an issue moving forward)

I wasn't able to reproduce the issue on these bits, which might indicate that it is msbuild-related or has been fixed in th

[2020-04-22 15:39] zihotki commented on #18087
Interesting enough, we've started getting same errors as of today with exactly the same stack trace. And we have only 'GET' endpoints and errors very sporadic. We're using version 2.2.8 of AspNetCore and running the app in docker.

[2020-04-22 15:42] javiercn commented on #21095
@stoyandimov thanks for contacting us.

The definition of the generated class needs to match exactly the one in your partial. You might be missing `@namespace` or `@inherits OwningComponentBase<YourComponent>` in your page definition

[2020-04-22 15:44] javiercn commented on #21094
@henkmollema thanks for contacting us.

We don't have a way out of the box to disable just broli pre-compression, only full compression or no compression. What you can do, is remove the *.br files from disk after they are published

[2020-04-22 15:44] conficient commented on #19796
@SteveSandersonMS  any idea why a Blazor DLL isn't loading from an ASP.NET Core host with this integrity issue? I have a Blazor client I am trying to retrofit on an existing ASP.NET Core app. The app runs MVC fine but Blazor has this error:
[code]
I doubt changing git settings will affect the /bin folder output since that's excluded.

[2020-04-22 15:45] javiercn commented on #21092
@huto1 thanks for contacting us.

Check your csproj files, there will be a property `BlazorLinkOnBuild` on one of them

[2020-04-22 15:47] aktxyz commented on #20992
I spent a good amount of time yesterday trying to get a small repo ... and failed ... and also never honed in what piece I chopped away that caused the error to go away.

One odd thing is if I F5 to debug the project, it attempts to build, shows that error, and does not run ... then when I F5 again ... it runs fine without showing any error ... so I am not stuck but just have an annoying oddness.

[2020-04-22 15:53] henkmollema commented on #21094
Thanks. I've added the following to my Dockerfile to remove the .br files:

[code]

[2020-04-22 16:06] huto1 commented on #21092
There are two files and this is what they contain. I've gone through all of them, I think. Or maybe there is some hidden csproj file, somewhere?

[2020-04-22 16:07] StevenRasmussen commented on #12242
@blowdart , @ajcvickers - Would you consider a contribution from the community on this one?  I am running into the same issue as others have stated here.  I have forked the aspnetcore repo and made the appropriate modifications to extract an `IIdentityUser<T>` interface in the PR here: [#21097](https://github.com/dotnet/aspnetcore/pull/21097).

All tests are currently passing.  I only worked on ex

[2020-04-22 16:10] MarkusRodler commented on #20994
@captainsafia which command should I execute? I don't know about any other build log output except that from dotnet build.
I do not have Visual Studio. I use the command line client within VS Code

[2020-04-22 16:17] davidfowl commented on #18087
@zihotki Can you share the stack trace? Seems unlikely that it's related if there are only GETs

[2020-04-22 16:18] captainsafia commented on #20994
You can execute the following in your commandline.

[code]

This will generate a `msbuild.binlog` file that you can upload.

[2020-04-22 16:19] mkArtakMSFT commented on #21090
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-04-22 16:21] MarkusRodler commented on #20994
Thanks. Here it is: [msbuild.zip](https://github.com/dotnet/aspnetcore/files/4517446/msbuild.zip)

[2020-04-22 16:22] mkArtakMSFT commented on #21088
As a side note, this may be something relevant: https://github.com/dotnet/aspnetcore/issues/18919

[2020-04-22 16:30] mkArtakMSFT commented on #21083
Thanks for contacting us.
@javiercn can you please look into this? Thanks!

[2020-04-22 16:31] zihotki commented on #18087
Here's the full stacktrace copied from Kibana. The only difference I see is that we're using https://github.com/khellang/Middleware/tree/master/src/ProblemDetails middleware.

[code]

[2020-04-22 16:39] davidfowl commented on #18087
@zihotki do you have the request details for this in kibana as well (METHOD, path etc?)

[2020-04-22 16:41] 4deeptech commented on #19769
@carlosalcantara2668 I just went through this trying to hook Blazor WASM up to identity server 4 OIDC.  There won't be an example in the docs for this because it doesn't work out of the box with IdentityServer4 role claims.  Here's why.  In my implementation, I use asp.net identity and have customized it to have multi-tenancy, and within a tenant, there can be roles.  Each role I have defined a se

[2020-04-22 16:44] ryanbrandenburg commented on #20827
A more direct comparison would be against the existing (non-LSP) Razor hover functionality:
![image](https://user-images.githubusercontent.com/14987221/80008338-77dced80-847c-11ea-8393-69b0b44e2197.png)
Also of note here is that they've broken it up by having a new-line between the two types. That certainly breaks them up visually, but I feel like it kind of looses some of the semantic meaning we

[2020-04-22 16:46] NTaylorMullen opened #21098 "Razor LSP editor flooded with ambiguous errors when file is saved."
This looks to be an issue in how VS saves file in cloud environments. When a file is saved it looks like it's nuking it from disk and then restoring it. Following up with partner teams on if this is expected and simultaneously doing a workaround on our side to mitigate the issue.

![image](https://user-images.githubusercontent.com/2008729/80009489-fdad6880-847d-11ea-9f4b-30a7165653eb.png)

VSTS Is

[2020-04-22 16:47] pranavkm commented on #21092
`Microsoft.AspNetCore.Blazor.*` have been renamed using it with the 3.2-preview4 packages wouldn't make sense. Please follow the instructions in https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-2-release-now-available/ to figure out how to upgrade your projects.  In addition, we wouldn't recommend referencing a 5.0 versioned `Microsoft.AspNetCore.Components` package in a 3.2

[2020-04-22 16:54] StevenRasmussen commented on #9548
@blowdart , @ajcvickers - Would you accept a PR from the community on this one?  I have opened up  [#21100](https://github.com/dotnet/aspnetcore/pull/21100) that should hopefully address everything. Thanks for your consideration.

[2020-04-22 16:57] zihotki commented on #18087
@davidfowl at this moment - unfortunately no, we didn't log all requests and apparently when logging unhandled exception all useful information was not logged. I'm currently working on fixing that and as soon as I get more info (likely - in a day) I'll post an update. Thanks for your effort

[2020-04-22 17:03] NTaylorMullen opened #21101 "Mark ASP.NET core components as cloud compliant"
Details here: https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1107577

[2020-04-22 17:20] Joelius300 commented on #12685
You make a distinction between `null` and `undefined` but what about completely omitted? When you test it with `hasOwnProperty`, those won&#39;t be the same either.
We already have a distinction between `null` and completely omitted - the [`IgnoreNullValues`](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.jsonserializeroptions.ignorenullvalues#System_Text_Json_JsonSerializerOptions_I

[2020-04-22 17:28] udlose commented on #21023
I think I understand how to configure the app to use Azure SignalR from adding the nuget and making the suggested code changes.  But don't I need to actually *host* at least the SignalR piece in Azure itself?

[2020-04-22 17:30] BrennanConroy commented on #21023
No, I thought this was your original question. "Can I use Azure SignalR Service when my app isn't in Azure?"

As long as your app is configured correctly and can access the Azure SignalR Service endpoint then you can host it anywhere.

[2020-04-22 17:37] huto1 commented on #21092
@pranavkm Thank you. It seems that what was Blazor is now WebAssembly, except for Microsoft.AspNetCore.Blazor.HttpClient and the error I received was utterly wrong. Once I changed these packages, it worked.

[2020-04-22 17:37] #21092 closed

[2020-04-22 17:55] captainsafia commented on #20994
From what I can see in the build log, the intermediate path is set correctly. However, it looks like there are two forward slashes in the path name, caused by the extra slash in the build config. Remove it like so and let me know if that works.

[code]

[2020-04-22 17:59] Tratcher commented on #21084
Indeed, this is likely the difference between HTTP/1.x and HTTP/2. If you right click on the column headers you'll see protocol as an option.
You can also try this with http vs https sites, since HTTP/2 needs https by default.

[2020-04-22 18:00] MarkusRodler commented on #20994
Nope. That does not fix the issue.
[msbuild.zip](https://github.com/dotnet/aspnetcore/files/4518130/msbuild.zip)

[2020-04-22 18:07] pranavkm commented on #21089
@StefanJanssen95 support for this is being added as part of the preview5 release: https://github.com/dotnet/aspnetcore/blob/blazor-wasm/src/Components/WebAssembly/WebAssembly/src/Http/WebAssemblyHttpRequestMessageExtensions.cs#L81. It'll look something along these lines: https://github.com/dotnet/AspNetCore.Docs/pull/17933/files#diff-307f8e7491f323b15e07ee965c875d0bR222

[2020-04-22 18:08] blowdart commented on #21096
DataProtection is meant to be reasonably fool proof and a black box, and minimises extensibility to support that goal. Throwing exceptions rather than recovering is not something we would consider when recovery is possible and an application can keep going.

@GrabYourPitchforks any thoughts?

[2020-04-22 18:10] captainsafia commented on #20994
Thanks for verifying this really quickly. Took another look and have just noticed that the project you are using is a PWA. Creating a new project using `dotnet new blazorwasm --pwa -o buildbug` reproduces the issue that you are seeing.

I'll take another look now that there is a repro and get back to you.

[2020-04-22 18:18] anurse opened #21104 "[Epic] SignalR Transport Updates"
The idea here is to build a new transport based on HTTP streaming. The idea is for the client to establish **two** long-running HTTP requests. Termination of either request by either party tears down the whole connection (and terminates the other request). This transport is designed for HTTP/2 environments, and the transport would likely be designed to function only when the requests are actually

[2020-04-22 18:19] anurse opened #21105 "Add HTTP Streaming transport to Transport Protocols spec"
See https://github.com/dotnet/aspnetcore/issues/21104 for details.

This issue tracks the work of updating the [Transport Protocols](https://github.com/dotnet/aspnetcore/blob/master/src/SignalR/docs/specs/TransportProtocols.md) spec to include a description of the HTTP Streaming transport.

[2020-04-22 18:20] blushingpenguin commented on #21096
However in this case the 'recovery' is actively harmful -- simply failing would be much better. This affects the (presumably common) use case of a web farm by breaking the ability of existing servers to decrypt stored data/cookies/xsrf tokens -- crashing the server and having it restart from scratch via an external recovery mecahanism would be preferable.  (In general I view this as a good example

[2020-04-22 18:21] danroth27 commented on #20220
There's a limitation in the auto-rebuild support in VS that couples auto-rebuild to restarting the web server. For a standalone Blazor WebAssembly app, restarting the web server is unnecessary and actually slows down the development experience. Instead, we want to just rebuild the files as they are changed. Enabling auto-rebuild support without restarting the server in VS isn't going to land in ti

[2020-04-22 18:23] danroth27 commented on #20220
Putting in the same milestone as #5456

[2020-04-22 18:26] anurse opened #21106 "Consider a finalizer for HubConnection"
If a HubConnection is not diposed, some resources (such as timers) will remain rooted (I think, right @BrennanConroy?). As long as the user calls `DisposeAsync`, this isn't a problem, but it can be easy to forget. Having a finalizer might help here. The finalizer could do the clean-up, or produce some kind of warning indicating it was not disposed.

@BrennanConroy, can you confirm a finalizer woul

[2020-04-22 18:27] BrennanConroy commented on #21104
Should do something about https://github.com/dotnet/aspnetcore/issues/12662

[2020-04-22 18:28] davidfowl commented on #21104
OR close this as a dupe 😄

[2020-04-22 18:28] BrennanConroy commented on #21106
We did fix a timer rooting the HubConnection, so this might not be needed anymore. We'll need to try it out.

[2020-04-22 18:28] BrennanConroy commented on #21104
This is the epic, so we'll keep it open

[2020-04-22 18:35] anurse opened #21107 "[SignalR] Identify a suitable MessagePack library for the Java client to use"
Epic https://github.com/dotnet/aspnetcore/issues/21022

Before we can actually implement the MessagePack Hub Protocol in the Java Client, we need to identify a suitable MessagePack library. Some of our requirements:

* Open-Source with permissive license.
* Must be relatively well-adopted.
* Must support the necessary data types described in [Hub Protocol](https://github.com/dotnet/aspnetcore/blob

[2020-04-22 18:35] anurse commented on #21104
Yep, was about to close that actually.

[2020-04-22 18:35] anurse commented on #12662
We're tracking this work as part of https://github.com/dotnet/aspnetcore/issues/21104 now.

[2020-04-22 18:36] #12662 closed

[2020-04-22 18:36] anurse commented on #21106
So still non-zero work :). We can track that here then.

[2020-04-22 18:39] blowdart commented on #20905
I don't I'm afraid. I can see what they're trying to do, by constraining database access, but heck you could do that via REST or even SOAP calls if they wanted something in between.

However I can't speak to your risk model, so I can't make the call on whether this is overkill for you or not.

[2020-04-22 18:55] GrabYourPitchforks commented on #21096
@blowdart Isn't there the ability to put the system into a read-only mode? That would allow exceptions to propagate back up the stack.

[2020-04-22 19:00] #21027 closed

[2020-04-22 19:01] davidfowl commented on #21104
Also we're learning there are big issues around how clients behave when they hit various limits in HTTP/2 especially because we plan on having long running requests.

TL;DR Some clients don't open new connections when they hit the concurrent streams limit.

[2020-04-22 19:14] naveedahmed1 commented on #17277
`taskkill /f /im node.exe` will close all running `node` processes, I was wondering if this could be added to `.csproj` file like  `<Exec Command="taskkill /im node.exe /f"></Exec>` and have it executed after each debug session ends?

[2020-04-22 19:20] MisinformedDNA opened #21108 "Cosmos Provider for Identity"
### Is your feature request related to a problem? Please describe.

Existing libaries for using Identity Core with a Cosmos backend are not (or barely) maintained.

### Describe the solution you'd like

With CosmosDB introducing the free tier, I thought I could finally get rid of my SQL Database (which is currently being used _just_ for Identity. All existing projects are retired or direct to http

[2020-04-22 19:21] alvisualtensor commented on #20294
I faced the same issue today. Are there any workarounds if we want to apply different policies on the same page?

[2020-04-22 19:22] blowdart commented on #20914
As this is a scaffolding issue @deepchoudhery this is you :)

[2020-04-22 19:22] blowdart commented on #20913
As this is a scaffolding issue @deepchoudhery this is you :)

[2020-04-22 19:39] charleskessler opened #21110 "Is there a more elegant way to handle reset/cancel with Blazor EditForm?"
EditForm automatically updates the bound object which works great when creating a brand new model instance -- nice and tidy, and very efficient.

However, things get sticky when using EditForm to edit existing model instances.

If I want to give the user the option to back-out of the edit mode -- click Cancel for instance -- I have to implement my component as such:
![image](https://user-images.gi

[2020-04-22 19:52] halter73 commented on #21104
Context: https://github.com/dotnet/runtime/issues/35088

Concurrent connection limits have always been an issue with SignalR. Browsers and the .NET framework used to enforce really low per-host concurrent connection limits. Browsers still do enforce low limits for non-WebSocket connections.

Over time, browsers have gradually increased their WebSocket limits. Now it seems to be [up to 255](https:/

[2020-04-22 19:56] blowdart commented on #21096
Yes, but then you have to find a way to create new keys before expiry. Which is, well, painful, if you have a keystore that times out.

[2020-04-22 20:14] dgroh opened #21111 "Windows Authentication not working with WPF Client and SignalR - dotnetcore 3.1"
### Describe the bug
I have an WPF Application which connects successfully to a SignalR Hub on a local IISExpress.
The WPF runs on client machine with active directory.

In my WPF client I have the follwong code:

[code]

In my Api which has my Hub, I have added the implementation for `IUserIdProvider`

[code]

Unfortunately this line -> `connection.User?.Identity?.Name;` returns **null**.

That's

[2020-04-22 20:18] blowdart commented on #21108
This is something we leave to the community, it's not something we want to develop ourselves I'm afraid. We will only provide entity framework based providers.

Given that Entity Framework has a [CosmosDB](https://docs.microsoft.com/en-us/ef/core/providers/cosmos/?tabs=dotnet-core-cli) provider the existing entity framework code should work.

[2020-04-22 20:22] lxman commented on #20734
So, are you saying that username/email have to be equivalent?

[2020-04-22 20:28] HaoK commented on #20734
No they don't have to, but that depends on how your app is using the apis. The templates by default use email as username

[2020-04-22 20:28] danroth27 opened #21112 "Document performance best practices for Blazor apps"
Filing a tracking issue to collect and document our performance best practices for Blazor apps.

Customer request for this info: https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-4-release-now-available/#comment-1925.

[2020-04-22 20:43] javiercn commented on #21110
@charleskessler thanks for contacting us.

You are looking for undo functionality I think, and we don't have support for it out of the box. This is something you would need to build yourself.

[2020-04-22 20:48] javiercn commented on #20992
@aktxyz I would suggest try to build from the command line with `dotnet build /bl:output.binlog;ProjectImports=ZipFile` and capture the binary log and project imports if you are able to reproduce it that way.

It is likely that there is an issue in the set of files you are using. I would also check that all the versions are up to date and that you are using the latest SDK version.

[2020-04-22 20:51] javiercn commented on #21057
@PylotLight it could be some state in your build, have you tried cleaning the bin and obj folders in your project?

You could check that the file is on the right path on disk too

[2020-04-22 20:52] javiercn commented on #21094
That sounds good.

Closing since it's been answered

[2020-04-22 20:52] #21094 closed

[2020-04-22 20:54] javiercn commented on #21095
Closing for now since we have good coverage for this scenario and we know there are no functional issues in this area. If you get stuck with the given suggestions I would suggest you look at the generated code within the obj folder and work out the differences between the generated class and the partial class.

[2020-04-22 20:54] #21095 closed

[2020-04-22 21:00] rynowak opened #21114 "Fix behavior of catch-all routes in 3.1"
## Describe the bug

A number of routing features related to catch-all routes don't behave correctly in 3.1 due to a bug in how the routing DFA is built. This was fixed for 5.0 as part of #20801

See: #18677 and #16579 for examples of cases that are broken. Since this is a bug in how the DFA is built, there are many many cases that can reproduce this bug, but they generally involved a catch all ro

[2020-04-22 21:06] MisinformedDNA commented on #21108
That's fair. I hadn't put the pieces together that there is a Cosmos Provider for EF and a EF provider for Identity, so I should be able to use `Microsoft.AspNetCore.Identity.EntityFrameworkCore` with `Microsoft.EntityFrameworkCore.Cosmos`, right?

Well I span up a new ASP.NET Core Web app and replaced the package `Microsoft.EntityFrameworkCore.SqlServer` with `Microsoft.EntityFrameworkCore.Cosmos

[2020-04-22 21:08] GrabYourPitchforks commented on #21096
In a scenario like this that might be desirable, though, if only one entity is ever supposed to be populating the key store. A cron job or similar could do it.

[2020-04-22 21:09] rynowak commented on #21114
This is a risky bug for us to take for 3.1 because many users could have deployed applications that work **despite** the bug. Any time we make a change it carries some risk, and especially if it goes from one non-exceptional behavior to another.

There are definitely cases where fixing this bug will result in a **different** endpoint being matched as a result of the change.

As a mitigating factor

[2020-04-22 21:19] douglassimaodev commented on #20914
Just to give more details, when creating a blazor webassembly with authentication and hosted with asp.net core, the server problem is that is creating extra wwwroom after scaffolding

[2020-04-22 21:21] deepchoudhery commented on #20914
I'm looking into it thanks.

[2020-04-22 21:29] miqm commented on #20909
I have tried building current release/3.1 branch (as well as 3.1.3 tag) and had a lots of errors, also when opening visual studio (I've latest 2019 preview). I've check out v3.1.2 and had no problems in building that version.

[2020-04-22 21:32] TanayParikh opened #21115 "HTML Completions Not Available in .Razor Files"
As reported by @ToddGrun HTML completions aren't showing up in `.razor` files. Needs to be investigated / resolved P0.

[2020-04-22 21:33] TanayParikh commented on #21115
@NTaylorMullen here's the issue :)

[2020-04-22 21:45] wtgodbe commented on #20909
@miqm could you share what errors you're seeing?

[2020-04-22 21:55] anurse commented on #20959
Doing some debugging, this appears to be an issue in core-js (the ECMAScript polyfill Angular is using). The reason removing the `hubConnection.stop` call fixes the issue is simply because we're hitting a code path that causes this bug (which seems to be in handing async code, and `hubConnection.stop` is async).

Zone.js is calling `array.slice()` with no arguments, which is not listed as allowed

[2020-04-22 21:55] #20959 closed

[2020-04-22 21:55] PylotLight commented on #21057
It happens with new templates as well, so it can't be build related.
Has occurred on all Blazor previews as well.

It's a different file or files every time, just random files don't load for some reason.

[2020-04-22 21:56] miqm commented on #20909
@wtgodbe - now it's working... perhaps I had some old version before checked out or used wrong build command. Now I used `build.cmd -all -arch x64 -NoBuildNative` instead just `build.cmd` and it's fine on 1b99352ec7e0ee0b743d6709b063b54b9330c8e1

[2020-04-22 22:00] udlose commented on #21023
You are correct - that was my original question.  Thank you for your patience :)

I thought that at least something would have to be hosted in Azure.  My concern is about scaling properly and not causing port exhaustion.  Here is my setup:

- I have a single .NET Core 3.1.3 app serving as an API (no UI)
- It runs in an AWS FARGATE instance
- I added SignalR to my app via the following code (origin

[2020-04-22 22:04] BrennanConroy commented on #21023
It looks like you have everything configured correctly. The only thing required to be in Azure is the SignalR Service itself. You should be able to run your app locally and see that it connects to the SignalR Service and your clients when connecting to the app will be redirected to the SignalR Service.

[2020-04-22 22:17] rynowak commented on #21083
This seems like a reasonable expectation from the outside, but it's not how routing really works.  Things like `DynamicControllerRoute` have the ability to expand and change the set of endpoints. So while there's a *logical processing order* of endpoints, routing system in actuality processes them all at once.

It is done this way because:

- It's more efficient for loads of common cases
- Gives u

[2020-04-22 22:27] TheName opened #21116 "Allow custom handling of authorization failures (different status codes and/or messages depending on authorization requirement failure)"
Examples:
1. I'd like to return a 404 if the authorization handler cannot authorize a request because the resource is missing
1. I'd like to add a custom message to forbidden status code result if the authorization failure is specific to some requirement

Proposed solution:
1. The `PolicyAuthorizationResult` could include `AuthorizationFailure` from the authorization result - set in the `PolicyEva

[2020-04-22 22:31] TheName commented on #21116
I'm not sure if this would help with open documentation issue -> https://github.com/dotnet/AspNetCore.Docs/issues/16751 - parented by https://github.com/dotnet/AspNetCore.Docs/issues/16191 - but I thought it's related and thus worth mentioning here

[2020-04-22 22:35] BrennanConroy opened #21118 "Investigate 'TraceIdentifierIsUnique' test crash"
[code]
https://dev.azure.com/dnceng/internal/_build/results?buildId=611424&view=ms.vss-test-web.build-test-results-tab&runId=19196678&resultId=120268&paneView=attachments

Quarantined in https://github.com/dotnet/aspnetcore/pull/21113

[2020-04-22 22:41] rynowak commented on #21079
The `ApplyAsync` code path is used in some cases, but generally most code will be going down this code path: https://github.com/Kahbazi/HttpMethodMetadataPerfromamce/blob/master/HttpMethodMetadataPerfromamce/BeforeHttpMethodMatcherPolicy.cs#L440

Basically `ApplyAsync` does a linear search, but its used in some non-mainline cases - basically when Razor Pages or dynamic routing policies are involve

[2020-04-22 23:05] natelaff commented on #5980
I'd like this. I maintain a site that used IIS rewrite maps. The site has been around for 10+ years, and i use these maps to map old pages to their current page.

[2020-04-22 23:07] TanayParikh opened #21121 "(VS) C# Pull Based Diagnostics"
Repro:
1. `dotnet new blazorserver`
2. Open `Counter.razor`. Delete file contents. Save.
3. Paste in:
[code]
4. Save file.

Expected:
Red error squiggly under `NavMenuCssClass` as it doesn't exist.

Actual:
![Error Squigly](https://user-images.githubusercontent.com/14852843/80042218-492e3980-84b3-11ea-9a37-a14504ecad2c.gif)

[2020-04-22 23:07] TanayParikh commented on #21121
FYI: @NTaylorMullen. Is this dup of anything?

[2020-04-22 23:07] amitvig22 opened #21122 "[SignalR] Response to preflight request doesn't pass access control check: Redirect is not allowed for a preflight request."
### Describe the bug
I have a scenario where my SignalR server and Client cannot run within the same origin because we would like to share the SignalR server for more than one origin. When i run the server locally and spin up an instance of a web based signalR client running within typescript i can connect and everything works. When i move my server to Azure and use the same locally running signal

[2020-04-22 23:28] NTaylorMullen commented on #21121
There's [one for VSCode](https://github.com/dotnet/aspnetcore/issues/14292) and we knew it'd be an issue for VS but didn't have an issue for it yet. So this is a good one to have!

[2020-04-22 23:54] BrennanConroy commented on #21122
Can you look at the network tab in the browser and figure out where you're attempting to be redirected to?

[2020-04-23 00:00] danroth27 opened #21124 "Auth config formatting in Blazor WebAssembly projects"
If you create a Blazor WebAssembly app with authentication enabled, the config files have a couple of minor formatting issues

*appsettings.json* has an extra trailing comma in some cases:

[code]

*appsettings.Development.json* is indented an extra space (tree spaces instead of two):

[code]
[code]

[2020-04-23 00:03] TanayParikh commented on #21115
@NTaylorMullen filed: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1109023

[2020-04-23 00:10] danroth27 opened #21125 "Hosted Blazor WebAssembly apps with authentication enabled have config files that aren't used"
Repro steps:

- Create an ASP.NET Core hosted Blazor WebAssembly project with authentication enabled using individual user accounts

Actual result:

- The Client project has both an *appsetting.json* file and an *appsettings.Development.json* file with a configured authority and client ID.

Expected result:

- The config files don't appear to be used, so it seems like they shouldn't be generated a

[2020-04-23 00:19] amitvig22 commented on #21122
Here is the request error on the console.
<img width="1898" alt="1" src="https://user-images.githubusercontent.com/1823977/80045705-21dc6a00-84bd-11ea-8c23-fec67cc7f3d2.png">
Here is where the snapshot of the network tab.
<img width="1919" alt="2" src="https://user-images.githubusercontent.com/1823977/80045712-2739b480-84bd-11ea-9aef-1ff7597d3a6b.png">

[2020-04-23 00:19] NTaylorMullen opened #21126 "Re-enable Razor LSP document open generated output publishing"
I've disabled LSP document open genreated output publishing to work around: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1109023

Basically it means the first interaction in Razor documents is slightly slower but we ensure the HTML LSP sees an appropriate document open request.

[2020-04-23 00:20] danroth27 commented on #21124
Perhaps we should also use a different section name than "Local" for the standalone Blazor app with individual user accounts case? I'm not really sure what local is referring to in this context. Would "Authentication" or "OIDC" be better?

[2020-04-23 00:24] NTaylorMullen commented on #21115
Super nasty workaround here: https://github.com/dotnet/aspnetcore-tooling/pull/1817
The "undo" of this workaround is tracked here: dotnet/aspnetcore#21126

[2020-04-23 00:31] akonyer commented on #17962
I am experiencing this same problem.

My authorization token is expired,  but the <AuthorizeRoute /> component still lets me through. When I hit an API endpoint with Authorization I receive a 401. I am using the boilerplate code from the "dotnet new react -o my-new-app" command.

[2020-04-23 00:34] TanayParikh opened #21127 "VSCode HTML Tags Not Closing Correctly"
Repro:

1. Open a blank `*.razor` file
2. Paste in:

[code]

3. Type `xt>` to complete the tag.

Expected:
Autocomplete tag of `</text>`

Actual:
Autocomplete tag of `</Todos.Count>`.

![TextTagCompletion](https://user-images.githubusercontent.com/14852843/80046410-6537d800-84bf-11ea-829c-ba86c37dc4d7.gif)

[2020-04-23 00:38] TanayParikh commented on #21071
This test case can be simplified to:

[code]

Where `<self_closing />` is any self closing tag.

![image](https://user-images.githubusercontent.com/14852843/80046647-0d4da100-84c0-11ea-8dd1-12e7bc1a4f60.png)

[2020-04-23 00:57] livescribbles opened #21130 "Changing content of textarea in code after manual change by user"
### Describe the bug
The content of textarea does not change thru code after it has been manually changed by user

### To Reproduce

Step 1. Create a blazor webassembly application
Step 2. In one of the pages (say Counter) add the following:
[code]
Step 3. Run the application and **type something** in the textarea
Step 4. Click on the button.

Result. textarea content does not change.
p.s.
If @bin

[2020-04-23 01:06] BrennanConroy commented on #21122
Can you gather debug logs from the server: https://docs.microsoft.com/aspnet/core/signalr/diagnostics?view=aspnetcore-3.1#server-side-logging
And if possible provide a network trace: https://docs.microsoft.com/aspnet/core/signalr/diagnostics?view=aspnetcore-3.1#network-traces

[2020-04-23 02:40] hmheng commented on #17277
With taskkill like that, it may be killing other nodejs process that are opened in another instance/solution of VS2019.

[2020-04-23 02:49] BrennanConroy commented on #21111
Have you setup windows auth for IIS Express? https://docs.microsoft.com/aspnet/core/security/authentication/windowsauth?view=aspnetcore-3.1&tabs=visual-studio

[2020-04-23 02:56] MisinformedDNA commented on #21108
OK. Weird step. If I override `OnModelCreating` and remove the `base` call, then that error goes away, but then it starts complaining about primary keys not being defined:

Would this just use the same conventions as used in SQL server? Is there a sample project of this working? I can't find any.

[2020-04-23 03:13] #21098 closed

[2020-04-23 03:13] #21115 closed

[2020-04-23 04:23] radderz commented on #5477
@danroth27 is this going to be the default at some point so we don't need to do this step? Is there really any reason to not just move to .bin or no filetype as the default instead of requiring everyone to do this if there is a general issue with .dll file type?

Is there any chance that a virus checker will check the file even if it isn't ".dll" to see if it is a dll file?

[2020-04-23 05:49] TanayParikh commented on #21127
This reproduces on all HTML Tags (not just `<text>` tag. This is specifically an issue when there's an orphan `<` preceding the tag being auto-closed.

In order to auto-close the HTML tag, the document is parsed to determine what the tag being closed is:

https://github.com/microsoft/vscode-html-languageservice/blob/master/src/parser/htmlParser.ts#L26-L42

This picks up a node which has only one c

[2020-04-23 06:13] julienGrd commented on #21130
Indeed you have to re-render your component : you have to call StateHasChanged manually in this case
Why not use @bind ? except if you don't want your @content be synchronize with the text write by the user but i don't understand why a textareay (not readonly ) in this case

[2020-04-23 06:19] sitepodmatt commented on #21083
Rynowak, thanks for the very detailed explanation, this makes more sense now.  Yes I'd like to avoid running logic if there is a match already. I think I'm going to approach this different with this new understanding. UseRouting() to match stuff like /, /about /contact us, and then another middleware after routing that checks if GetEndpoint() is null and if so does the custom matching and then .Se

[2020-04-23 06:54] aguacongas commented on #21032
On Blazor wasm `User.IsInRole` is not working any more too in preview 4 if the user has more than mode role. I thought it's a token deserialization issue :

I set the role claim type to `role`.
It works if the token contains :
[code]

It's broken if the token contains:

[code]

At the moment I workaround with this ugly code :

[code]

[2020-04-23 07:00] dgroh commented on #21111
@BrennanConroy I had followed this link and the documentation is suggestive that by only adding `IISDefaults.AuthenticationScheme` should be enough also for IIS Express. That is why I was confused.

Then I just double checked that for **Debugger** -> IIS Express the `launchSettings.json` also had to be updated. So after updating `launchSettings.json` it has worked.

[2020-04-23 07:00] #21111 closed

[2020-04-23 07:14] pttien opened #21135 "Can i use JsonOutputFormatter.WriteObject function on 3.1 version ?"
I upgrade  my App from 2.2 version to 3.1.
I used JsonOutputFormatter.WriteObject in a Middle-Ware to custom the format of data ( add some properties to Json) before return to client
but in 3.1 version I can't find any ways to replace this logic.
can some one give me a solution ?

[2020-04-23 07:39] conficient commented on #19796
Still investigating the above, getting 404 errors on all the framework DLLs if I delete the cache. It looks like the Blazor client app isn't getting imported but I can see the Ambolt.UI.dll and .pdb in the bin folder

[2020-04-23 07:42] javiercn commented on #21135
@pttien thanks for contacting us.

Json.NET is not part of 3.+ by default, you can use the new system.text.json support. See [here](https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#newtonsoftjson-jsonnet-support) for details on the update.

[2020-04-23 07:44] javiercn commented on #21130
@livescribbles thanks for contacting us.

As @julienGrd suggests, use `@bind`. See [here](https://docs.microsoft.com/en-us/aspnet/core/blazor/data-binding?view=aspnetcore-3.1) for details

[2020-04-23 07:44] #21130 closed

[2020-04-23 07:45] javiercn commented on #21125
Yep,

That's a bug.

[2020-04-23 07:45] shuba-developer commented on #20840
Yes it is. I changed the class name.
From one of my team
[code]
From anothe one
[code]

[2020-04-23 08:04] davidfowl commented on #20840
@shuba-developer identified the bug in your logic, change async void to the other method to handle filters asynchronously [OnActionExecutionAsync](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.filters.actionfilterattribute.onactionexecutionasync?view=aspnetcore-3.1#Microsoft_AspNetCore_Mvc_Filters_ActionFilterAttribute_OnActionExecutionAsync_Microsoft_AspNetCore_Mvc_Filters_

[2020-04-23 09:29] benelliott commented on #17277
Yes definitely, that would kill every Node process on the box.

[2020-04-23 09:31] sylvainonweb commented on #19952
@NTaylorMullen Is it normal that this issue is set as Resolved and ResolvedByDesign ?

[2020-04-23 09:33] sylvainonweb commented on #19791
@SteveSandersonMS @NTaylorMullen Is it normal that this issue is set as Resolved and ResolvedByDesign?

[2020-04-23 09:44] pttien commented on #21135
@javiercn Thanks for your answer ,
I will try it.

[2020-04-23 09:46] jspuij commented on #19796
@conficient Make sure you have a project reference from the server project to the client project, clean out your obj and bin directories and try again.

Also make sure you have `app.UseBlazorFrameworkFiles();` inside the Configure method of the Startup class.

[2020-04-23 11:55] Kahbazi commented on #21079
I change all http method equals check to be `ReferenceEquals` first. I also changed
[code]
to
[code]

For the benchmark I've add four different http methods ("Put", "Delete", "Post", "GET") and set `acceptCorsPreflight` to `true`.

This is the result for when incoming method is GET
| Method |     Mean |     Error |    StdDev |
|------- |---------:|----------:|----------:|
|  After | 5.805 us | 0.0

[2020-04-23 12:22] blowdart commented on #21108
I doubt there's a sample. @ajcvickers / @HaoK if someone has time can they look at this?

[2020-04-23 12:34] gvautour opened #21137 "Routing broken when publishing default React.js project template to IIS 10.0"
I created a new ASP.NET Core 3.1 Web Application project in Visual Studio 2019 using the React.js template. Without changing any code, I published to IIS 10.0 using the File System publish method and am having routing issues.

The site partly works, but the API is only available via the browser if I force a refresh (Ctrl+F5), a simple refresh or a visit to the API endpoint renders the single page

[2020-04-23 12:53] javiercn commented on #21137
@gvautour thanks for contacting us.

It is likely that the react service worker is intercepting the request to the API, I would check on the network tab in your browser how the request is being handled.

[2020-04-23 14:12] stefanluchian commented on #11544
I see that this bug lives since at least 2017 and there is not even a workaround about it.
In .Net Core you don't allow us to do WCF anymore, so we are forced to do REST.
In REST we need to send parameters via Route, not via Query.
So we need to use [FromRoute], which should happen short before Model-Binding, but definitely after Routing.
So there is no worry about decoding %2B into /.
Then why is

[2020-04-23 14:20] Marcel0024 opened #21138 "To many redirects error after external signin using .AddOAuth() - with multi tenant settings"
### Describe the bug
I'm trying to implement OAuth per tenant. Each tenant has their own OAuthOptions. I created a custom IOptionsMonitor and IConfigureNamedOptions  for OAuthOptions. I resolve the OAuthOptions every time. Based on this answer:  https://stackoverflow.com/questions/49596938/openid-connect-identifying-tenant-during-login/49682427#49682427

But right now after log in on external, the

[2020-04-23 14:21] gvautour commented on #21137
Indeed, the problem was related to the Chrome service worker, thank you.

[2020-04-23 14:21] #21137 closed

[2020-04-23 14:25] SteveSandersonMS opened #21139 "Incorrect appsettings.json generated for Blazor WebAssembly hosted individual auth"
For hosted + individual auth, the user account information is stored inside the application. So it doesn't seem like we need it to generate the `appsettings.json` file that it does:

[code]

Additionally, notice the invalid trailing comma.

[2020-04-23 14:28] SteveSandersonMS commented on #21139
Also in the same scenario, the template generates the following `appsettings.Development.json` file:

[code]

Likewise, this shouldn't be generated. However another thing to notice is how it differs from the `appsettings.json` file above:

 * No invalid trailing comma
 * Indentation is different (three spaces before `"Local"` instead of two)

[2020-04-23 14:38] ajcvickers commented on #21108
@blowdart We've thought about it, but Cosmos doesn't seem to be a great fit for the Identity model. @MisinformedDNA Can you provide some more details on why Cosmos is a good fit for this?

[2020-04-23 14:59] nikolayarhangelov-arnitek opened #21140 "Blazor Routing Information"
Hello,
I am building a modular Blazor application with many pages and I am trying to create an Admin-only page used for diagnostics. The diagnostics would include a list of all routes in the Blazor app with their paths and authorization roles and policies.

My application already has such a list for the API controllers and actions, which is created using _IActionDescriptorCollectionProvider_. This

[2020-04-23 15:14] BenLampson opened #21141 "Can we restrict the child component type in RenderFragment property"
This is the Blazor component project case.
Can we restrict the child component type in RenderFragment property?

I create the container component but I can't restrict the child component type, I try to use the TagHelper but it seems not to work yet.

I want the code like this
There's a property in the container component.
[code]
And I create the child item like this one:
[code]

[2020-04-23 15:24] pranavkm commented on #11544
We will consider fixing this in the upcoming 5.0 release. That said, the plan is to not have this decoding on by default - you explicitly would have to opt-in to this behavior. For current releases, you should be able to unblock yourselves by explicitly url decoding values in your action that you know require to be decoded.

[2020-04-23 15:25] conficient commented on #19796
AHA! Thanks @jspuij  that's what I was missing - `app.UseBlazorFrameworkFiles();` fixed it

[2020-04-23 15:28] hieuluong1989 opened #21142 "Blazor Client can not get access token after login successfully"
I am using Blazor Webassembly Standalone with AAD. Login is ok, but I can not get access token by AuthenticationService.RequestAccessToken. The tokenResult is not null but when I get tokenResult.TryGetToken(out var token) it can not get token

I tried with https and http.
My repos: https://github.com/hieuluong1989/BlazorAAD
I also posted this issue https://github.com/dotnet/AspNetCore.Docs/issues/

[2020-04-23 15:29] nssidhu commented on #20805
This is much needed as in case of scaff folding it just delete and recreates the class again, we would have to re-write everything again. please consider to implement it, need for real life project

[2020-04-23 15:46] MisinformedDNA commented on #21108
I have a lot of pet projects. The websites I create don't always get users or revenue. I have been using Table storage to avoid SQL/Cosmos costs, but the Identity aspect has always left me with SQL costs anyway. Now that there is a free tier to Cosmos, it made sense for me (I thought) to move all storage to Cosmos. Use the free tier until something takes off.

@ajcvickers Why is Cosmos not a good

[2020-04-23 15:52] mohitvaid commented on #19476
I am also getting this, Here is my stacktrace:
`{"Type":"Microsoft.AspNetCore.Server.Kestrel.Core.BadHttpRequestException", "StatusCode":408, "TargetSite":"Void Throw(Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Http.RequestRejectionReason)", "StackTrace":"   at Microsoft.AspNetCore.Server.Kestrel.Core.BadHttpRequestException.Throw(RequestRejectionReason reason)\r\n   at Microsoft.AspNetCore.

[2020-04-23 16:08] mkArtakMSFT commented on #20118
Glad you've found a workaround, @Daddoon. We are working on a fix and it'll be available when Blazor WASM goes to GA (very soon).

[2020-04-23 16:16] naveedahmed1 commented on #17277
Anyway to target only node processes that are launched by Visual Studio?

BTW I dont have anyother node processes running and this seems to work in my case. But the issue is it terminates the processes only when next time I start debug.

[2020-04-23 16:22] pranavkm commented on #21141
Dup of https://github.com/dotnet/aspnetcore/issues/12302. We're looking at addressing this as part of 5.0

[2020-04-23 16:23] pranavkm commented on #21142
@javiercn could you have a look?

[2020-04-23 16:29] JeepNL commented on #21009
I have to close this issue because with "Blazor WebAssembly 3.2.0 Preview 4" I've more problems. It looks like it (_the wasm client_) doesn't get the correct configuration settings from appsettings anymore.

My development server is receiving the production server's data. It suddenly ignores appsettings.Development.json (in client's wwwroot) I think my env. (debug) variable (ASPNETCORE_ENVIRONMENT

[2020-04-23 16:31] pranavkm commented on #21057
If you see this in a hosted template, you could turn on debug logging to see why the server is returning a 404.

[2020-04-23 16:31] #21009 closed

[2020-04-23 16:33] Tratcher commented on #19476
@mohitvaid that's a different error. A 408 is a timeout waiting for the request body.

[2020-04-23 16:34] pranavkm commented on #21140
@nikolayarhangelov-arnitek the implementation of the Router component is an internal detail of Blazor and we do not think it's necessary for us to expose it's behavior as part of the public API surface. You should be free to copy it's content in your app and re-use it.

[2020-04-23 16:36] Devnsyde opened #21143 "HTTP request to API with windows authentication in .NET 5"
Can someone give a .NET 5 example on how to make an HTTP request to a an API that requires windows authentication? I have tried several examples from both Microsoft and Stack Overflow (Method A):

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-3.1
https://stackoverflow.com/questions/4015324/how-to-make-http-post-web-request

I keep getting an error that say

[2020-04-23 16:36] nikolayarhangelov-arnitek commented on #21140
Thanks for the quick feedback @pranavkm, I will investigate this.

[2020-04-23 16:36] #21140 closed

[2020-04-23 16:36] pranavkm commented on #21139
Let's consider this for GA.

[2020-04-23 16:37] VBAndCs opened #21144 "Wasm framework for Blazor"
I know that Blazor has a interpreted mode and AOT mode.
But I think there should be a third way: a wasm framework built in the browsers. It should contain
- all the common numeric, literal and date type operations and casting.
- Dom manipulation operations.
- seneding requests to the server if needs (like Ajax).

Isn't this all what we need from client code?
If this wasm framework contained in all

[2020-04-23 16:37] pranavkm commented on #21125
Dup of https://github.com/dotnet/aspnetcore/issues/21139

[2020-04-23 16:37] #21125 closed

[2020-04-23 16:38] pranavkm commented on #21124
Dup of https://github.com/dotnet/aspnetcore/issues/21139. @danroth27 do you feel strongly about the `Local` name? Seems like low value.

[2020-04-23 16:38] #21124 closed

[2020-04-23 16:40] VBAndCs commented on #21144
What do you think @SteveSandersonMS ?

[2020-04-23 16:41] TanayParikh commented on #21127
We're passing in the raw `.razor` file to the HTML parser. This results in the for statement, with the `< Todos` being parsed as HTML, and thereby being interpreted as a tag. Using the HTML projection should resolve this.

[2020-04-23 16:42] Tratcher commented on #21143
A) Please include the full stack trace of the exception.
B) Which user do you want to make the request as, the user running the web app exe, or the remote user that made the initial HTTP request?
  - AspNetCore does not do impersonation of remote users by default, so the above code would be using the local user account.
  - What user account is returned by WindowsIdentity.GetCurrent()?

C) Are all

[2020-04-23 16:57] SteveSandersonMS commented on #21144
To be honest I don't think this issue tracker is the right place for such a suggestion. You're talking about a general web platform feature, so it would make more sense to discuss it with standards bodies and browser makers.

There is no "DLL hell" equivalent for Blazor WebAssembly applications, since each application is self-contained and always has the right versions of its dependencies. As for

[2020-04-23 17:12] bradygaster commented on #20982
@jozefizso - as @shirhatti mentioned, the latest SDK running on App Service is 3.1.103. If you need a different SDK you can always use self-containment, which would give you the ability "pin" your SDK. Then, when you publish your code you'll publish everything it needs with it and you control your own destiny from an SDK and runtime perspective.

Self-contained deployments are supported in the VS

[2020-04-23 17:12] #20168 closed

[2020-04-23 17:13] NTaylorMullen commented on #19952
Not at all, just updated 😄

[2020-04-23 17:15] JunTaoLuo opened #21145 "aspnetcore-tooling migration"
- [x] execute phase 1 of https://github.com/dotnet/aspnetcore/blob/master/docs/tooling-consolidation.md

[2020-04-23 17:17] mohitvaid commented on #19476
Will post in relevant issue.

[2020-04-23 17:18] JunTaoLuo opened #21146 "Consider backporting win-arm64 support to 3.1"
There's an ask to provide win-arm64 support in 3.1 see the changes in https://github.com/dotnet/aspnetcore/pull/19317.

[2020-04-23 17:18] JunTaoLuo commented on #21146
cc @tommcdon

[2020-04-23 17:20] jozefizso commented on #20982
Nope, this breaks our deployment script. I don't understand why the SDK available to build applications is not available on the Azure service?

[2020-04-23 17:26] ghstahl opened #21148 "Need Access to HttpContext in GenerateNonce"
### Is your feature request related to a problem? Please describe.
In asp.net core 2 I was able to store IServiceProvider as a global, which I then used to get IHttpContextAccessor in GenerateNonce.
In asp.net core 3, I can't do that anymore.

A clear and concise description of what the problem is.
Example:
I would argue that if you are going to let me override stuff like OpenIdConnectProtocolVali

[2020-04-23 17:36] #19768 closed

[2020-04-23 17:37] pranavkm commented on #18427
This is done, no?

[2020-04-23 17:40] VBAndCs commented on #21144
@SteveSandersonM

Only one mega can consume gegea on the client if he append thousands of sites over one year.
Worst: a few mega download for each client can consume the server bandwidth and slow down the traffic if it hosts popular sites.
MS abounded web forms to MVC because a few kilos resulting of the view state and not optimized html code. Every kilobyte in web counts.
Thanks.

[2020-04-23 17:41] Tratcher commented on #21148
One improvement we've already made here in 5.0 is that there are new extensions to let you inject a service of your choice when configuring the options.
https://github.com/dotnet/aspnetcore/blob/13b73ed4a789522c1204729f2bb127a3b3e26cb5/src/Security/Authentication/OpenIdConnect/src/OpenIdConnectExtensions.cs#L20
That service probably needs to be a singleton though? Worst case you can inject IServic

[2020-04-23 17:49] Tratcher commented on #21138
These components are explicitly not designed for multi-tennancy, it's not a supported scenario. That said, this is the best attempt I've seen yet.

A redirect look is best debugged with a combination of server debug logs and a Fiddler network trace. Can you share those.

[2020-04-23 17:55] khellang commented on #17750
@mkArtakMSFT This issue isn't a question or a discussion. This is a bug 🐛 🙈

[2020-04-23 17:58] khellang commented on #17210
I'm not sure how this is a 'discussion' and not a bug? 🤔

[2020-04-23 17:59] amitvig22 commented on #21122
[server side logs.txt](https://github.com/dotnet/aspnetcore/files/4524334/server.side.logs.txt)

[network trace.txt](https://github.com/dotnet/aspnetcore/files/4524338/network.trace.txt)

[2020-04-23 18:01] ghstahl commented on #21148
In v3 IServiceProvider, when I tried to make and use it globally it errored out with a disposed.
[code]
So I think the same thing is going to happen here.
So are you saying that the OpenIdConnectProtocolValidator may have to become context aware?

[2020-04-23 18:06] Tratcher commented on #21148
How were you calling that?

No, I'm saying it can't be, it can't take those kind of dependencies.

[2020-04-23 18:06] mrlife commented on #5456
Has a direction taken shape? If nothing to share yet, possible we will see something at Build 2020?

[2020-04-23 18:09] ghstahl commented on #21148
I would say that you are GenerateNonce aware, so letting me inject something that is not OpenIdConnectProtocolValidator would work.  Or an injectable wrapper to OpenIdConnectProtocolValidator .  My overridden GenerateNonce doesn't rely on anything in OpenIdConnectProtocolValidator, but it needs data I stored in a cookie.

[code]

[2020-04-23 18:13] tommcdon commented on #21146
@richlander

[2020-04-23 18:17] kuntalbose opened #21151 "SignInResult failed when username and normalized username different asp.net identity"
I am trying to check user's credential with bellow code
`var signInResult = await this.signInManager.PasswordSignInAsync(username, password, false, false);`

But I found if `UserName` and `NormalizedUserName`  columns values are different then `SignInResult` returns faild .

For bellow values `SignInResult=Succeed `
UserName = ABC
NormalizedUserName = ABC

But for bellow values `SignInResult=Faile

[2020-04-23 18:21] ghstahl commented on #21148
Oh, and things are getting exciting cause I got David  Fowler involved and pointed out that GenerateNonce needs to be async.

[2020-04-23 18:38] ghstahl opened #21152 "GenerateNonce, when called from OpenIdConnectHandler needs to be async"
OpenIdConnectHandler  relies on OpenIdConnectProtocolValidator, which I can replace during configuration.
I override GenerateNonce().

Problem1:  GenerateNonce relies on downstream dependencies that are async.
[code]
Problem 2:  OpenIdConnectProtocolValidator needs to be injectable, so that I can get access to service dependencies.

https://github.com/dotnet/aspnetcore/issues/21148
[code]

[refere

[2020-04-23 19:07] captainsafia commented on #20994
I've got a fix out for this but it hasn't made the cut for RC.

As a temporary stopgap, you can use the following build props (not the relative paths, as opposed to full paths).

[code]

[2020-04-23 19:11] mthalman commented on #20086
@wtgodbe - It doesn't look like the question on the `.version` file name was really answered here.  Why exactly was it changed away from the original name?  Now it's inconsistent with all the other frameworks in the SDKs; both Microsoft.NETCore.App and Microsoft.WindowsDesktop.App contain a `.version` in their respective locations (see https://dotnetcli.blob.core.windows.net/dotnet/Sdk/5.0.100-pre

[2020-04-23 19:14] javiercn commented on #21142
@hieuluong1989 thanks for contacting us.

Can you provide a minimal repro project that illustrates the issue?

[2020-04-23 19:16] javiercn commented on #21142
@hieuluong1989 thanks for contacting us.

You need to ask for a scope in order to get an access token.

[2020-04-23 19:19] Pilchie commented on #20982
There are two current, supported SDKs for the latest runtime.  That's because one is for an LTS version of Visual Studio (16.4) and has tooling components that match what's in that version of Visual Studio, and the other is for the latest version of Visual Studio.

App Service today has the one which supports the LTS version of Visual Studio.

Is the problem that you have global.json?  Why do you

[2020-04-23 19:21] NTaylorMullen opened #21154 "Committing a C# completion in an explicit expression makes it an implicit expression"
![image](https://i.imgur.com/WgXRATe.gif)

[2020-04-23 19:21] joseph-turk commented on #20980
I am also experiencing this issue. I have added some routable components to an existing MVC app using the approach outlined [here](https://docs.microsoft.com/en-us/aspnet/core/blazor/integrate-components?view=aspnetcore-3.1#use-routable-components-in-an-mvc-app). This is a snippet where the binding is not working for me.

[code]

The SearchTerm property never updates.

[2020-04-23 19:23] blowdart commented on #21151
Yes, you're not updating the normalized username. They have to be in sync, it's never going to work like that.

Presumably you're updating the entity as there's no API for changing usernames on the store.  You need to pull the ILookupNormalizer out of DI and call NormalizeName on it when updating your entity.

[2020-04-23 19:29] amitvig22 commented on #21122
Marking this issue as closed. This was tricky because it worked locally but did not work in Azure. After going over the application logs and network traces @BrennanConroy noticed something related to auth was causing a redirect. I set up authentication within Azure and since that is the first thing that runs, CORS from within the app doesn't get a chance to run. The way to handle this is to use CO

[2020-04-23 19:29] #21122 closed

[2020-04-23 19:33] jozefizso commented on #20982
We use **global.json** because Visual Studio nor Azure App Service cannot resolve the correct SDK from the project file. Therefore we must manually pin it.

When 16.4 is the LTS of Visual Studio, why I'm forced to upgrade to 16.5?

[2020-04-23 19:38] davidni opened #21157 "Support Header matching in Endpoint Routing"
### Is your feature request related to a problem? Please describe.
No. In the context of YARP, some routes must support header matching. If there is interest, I can submit a PR to contribute that here.

### Describe the solution you'd like
Our implementation handles the following:
* Match on the presence of a given header
* Match on a given value of a header (e.g. only match if header `x-example`

[2020-04-23 19:41] Pilchie commented on #20982
The SDK is designed to be compatible.  Normally the latest SDK will be used, but should have support for any older runtimes.  Except in exceptional circumstances, you shouldn't *need* to use a global.json.

As for VS updating policy - default installations are on the current servicing train, you have to opt into being on a "Servicing Baseline" (the VS term for LTS).  See https://docs.microsoft.com

[2020-04-23 19:43] mrpmorris commented on #20890
Pagination : https://blazor-university.com/templating-components-with-renderfragements/passing-placeholders-to-renderfragments/

[2020-04-23 19:48] jozefizso commented on #20982
On several occasions the Azure App Service did not select the correct SDK from the project file and I was forced to use **global.json**

The same for Visual Studio - it is clueless about the correct SDK version without help from **global.json**

[2020-04-23 19:49] blowdart commented on #20847
Told ya :) https://github.com/dotnet/aspnetcore/issues/21116

[2020-04-23 19:51] danroth27 commented on #21124
@pranavkm I'll open a new issue. I think the problem is broader than just the property name in config. The UX experience for standalone Blazor WebAssembly + auth is a bit wonky right now. It confuses using local identities with ASP.NET Core Identity and using a remote third-party identity provider.

[2020-04-23 19:57] davidni commented on #21157
@rynowak fyi as you helped in our internal implementation.

[2020-04-23 20:13] NTaylorMullen commented on #20827
@ryanbrandenburg you feel good about tabling this theN?

[2020-04-23 20:15] Tratcher commented on #15144
Bumping for re-triage. Proxy will want some form of this.

[2020-04-23 20:18] Marcel0024 commented on #21138
Thanks for your time Tratcher.

I made only /about authorize only

Here is the fiddler:
![image](https://user-images.githubusercontent.com/14852157/80144856-8972e200-85af-11ea-9c40-eb1772a3c5f7.png)

Not much going on.
The logs:

info: Microsoft.AspNetCore.Hosting.Internal.WebHost[1]
      Request starting HTTP/1.1 GET https://localhost:5001/About
trce: Microsoft.AspNetCore.HostFiltering.HostFilte

[2020-04-23 20:27] wtgodbe opened #21158 "Move SDL validation out of our builds"
The engineering services team wants all repos to move SDL validation out of their repo builds, and instead run SDL validation as part of the ringed release pipeline. This means taking the SDL step out of our .yml files, and adding an SDL config file to our `eng` folder. Tracking that work here.

**release/3.1**

- [x] AspNetCore - https://github.com/dotnet/aspnetcore/pull/21153
- [x] AspNetCore-To

[2020-04-23 20:32] NTaylorMullen commented on #18806
Verified.

[2020-04-23 20:32] #18806 closed

[2020-04-23 20:32] ryanbrandenburg commented on #21029
I poked at this for a while, talked with some folks and it seems this might be an issue with LiveShare rather than our code. We came to this conclusion because HoverHandler.cs is hit but RazorHoverEndpoint.cs is not. LiveShare should be asking both of those for results. They're going to look into it tomorrow, but for now I'm just going to mark this "blocked" and "external".

[2020-04-23 20:33] ryanbrandenburg commented on #21029
Possibly related "Fun Fact"^TM^: The guest can get HTML hovers that the host does not get. @NTaylorMullen is that expected.

[2020-04-23 20:34] rynowak commented on #21157
Yes, I think we'd be very interested in having your implementation contributed 👍

[2020-04-23 20:35] ryanbrandenburg commented on #20827
Yeah, I'm going to vote that we mark this "blocked" on getting support for markdown/colorization in hovers and completions.

[2020-04-23 20:36] blowdart commented on #21158
Wait, does this not mean you'd get SDL warnings at the last possible minute? How often do ringed release pipelines run?

[2020-04-23 20:40] rynowak opened #21159 "Support loading ASP.NET Core into non-default load contexts"
### Describe the solution you'd like

Users creating a module system that uses ASP.NET Core will run into problems if they are using a non-default `AssemblyLoadContext`. The reason is that we have various features that operate outside of a load context, usually by using `LoadFile` instead of one of the more context-aware methods.

Known features that don't support ALCs:

- Loading related applicat

[2020-04-23 20:41] wtgodbe commented on #21158
I don't know how often they run, but this was the recommendation we got from the eng services team. Some stuff copied from the thread:

Adding @jcagme and @markwilkie who know more about the thinking behind this change

[2020-04-23 20:46] captainsafia commented on #21139
This has been fixed in #21147.

[2020-04-23 20:46] #21139 closed

[2020-04-23 20:56] davidfowl commented on #21159
The good news is, using Assembly.Load is good using Assembly.LoadFrom/LoadFile isn't so good. We only have one place that does this in the product today so we're in pretty good shape so far.

[2020-04-23 20:59] Pilchie commented on #20982
You don't (can't) specify an SDK version in the project file.  You choose the Target Framework that the app will run against (and the references to compile against that represent that runtime).

Both VS and App Services will pick the newest SDK in the absence of a global.json, which is the by design behavior. However, at least as of the 3.0.100 SDK (and likely before), the newest SDK should be abl

[2020-04-23 20:59] #20982 closed

[2020-04-23 21:00] ghstahl commented on #21148
@davidfowl showed be how to inject DI objects into my MyOpenIdConnectProtocolValidator().
So we can probably close this specific one.

[code]
The problem @davidfowl highlighted that I was doing the following in my GenerateNonce  override;
[code]
I made a separate issue [here](https://github.com/dotnet/aspnetcore/issues/21152)

[2020-04-23 21:00] NTaylorMullen commented on #21029
Are you saying that if you hover over something on the host nothing comes through where if you hover over something on the guest you get HTML info?

[2020-04-23 21:01] #21110 closed

[2020-04-23 21:01] #21089 closed

[2020-04-23 21:06] VBAndCs commented on #21144
@SteveSandersonM
Let's escape the `External` part, and deal with this internally:
The nearest thing to what I need is this old project (I think MS was empracing this until 2013, as I downloaded a binary version once from msdn):
https://github.com/nikhilk/scriptsharp
It was converting C# code to JS but it provided the necessity API to use in C# to be mapped to objects used in JS like HTML DOM and J

[2020-04-23 21:08] anurse commented on #21148
Triage: closing as per last comment. The new injection API in 5.0 should make this simpler too since it's a short-hand for the workaround you've already used.

[2020-04-23 21:08] #21148 closed

[2020-04-23 21:10] ryanbrandenburg commented on #21029
@NTaylorMullen yeah, that's the case.

[2020-04-23 21:10] anurse commented on #21116
Triage: We likely can't prioritize building this ourselves in 5.0, but thanks for the PR! We'll take a look and if we can get it to good we can merge it and get the feature in early!

[2020-04-23 21:13] Pilchie commented on #20982
You still haven't described why you need Visual Studio and App Services to use the same SDK?  What problems are you running into?

[2020-04-23 21:15] jozefizso commented on #20982
The issue is Visual Studio does not recognise 3.1.103 SDK and the Azure service does not know about 3.1.201 SDK. So I'm stuck with non-functional build on either side.

[2020-04-23 21:17] Pilchie commented on #20982
But if you remove the global.json, and let each use the SDK it has, what problems do you run into?

[2020-04-23 21:20] anurse commented on #21152
This type isn't owned by ASP.NET Core, it's from the `Microsoft.IdentityModel.Protocols.OpenIdConnect` library: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.Protocols.OpenIdConnect/OpenIdConnectProtocolValidator.cs

You should file an issue on [the repo that contains this type](https://github.com/AzureAD/azure-activedirec

[2020-04-23 21:20] #21152 closed

[2020-04-23 21:24] anthcool commented on #20401
I can't even get onblur to fire or the handler to be entered atm myself...

<td @ondblclick=(...)  @onblur=(...)> fires the ondblclick event and handles it fine, but nothing the handler for the onblur never even gets entered...  May or may not be related...

[2020-04-23 21:24] jozefizso commented on #20982
Azure service will compile the project with random SDK (eg. my 2.0 project was compiled with 1.0 SDK, or 2.1 LTS got compiled with 2.2 SDK - this is utter nonsense to let build project and have no control over how it will be compiled).

On the Visual Studio side it may not even open the project when it cannot determine correct SDK based on project file.

[2020-04-23 21:27] Pilchie commented on #20982
As I said above, if you need absolute control over what SDK builds your project, you shouldn't be relying on Azure App Services automatic build support through Kudo.  Instead, manage that yourself using a CI/CD pipeline, or by publishing compiled artifacts using VS or web deploy.

As for the VS issue, please file a bug on https://github.com/dotnet/projects-system if you have a repo of a case where

[2020-04-23 21:39] danroth27 commented on #5456
Hi @mrlife. We expect to primarily be focused on the Blazor WebAssembly release at BUILD. Support for hot reload is something we expect to look at for .NET 5. The specific direction for how this will be achieved has not yet been determined.

[2020-04-23 21:41] TheName commented on #21116
Happy to help :)
If for whatever reason these code changes don't follow your plans - don't hesitate to reject the PR, but I'd be grateful for an explanation in such a case :)

A bit on the side: is it at all possible to release it earlier than 5.0? like 3.2? or there are no such plans and the earliest possible release is 5.0?

[2020-04-23 21:49] anurse commented on #20850
I see some really strange behavior in the repro app you shared. First off, you're using Blazor Server and then having the UI call an API on the same server. Since the UI itself is also running on the server this seems completely unnecessary, why are you calling the HTTP APIs instead of handling the auth logic directly?

Remember that in Blazor Server **all the .NET code is running in the server pr

[2020-04-23 21:54] anurse commented on #21116
5.0 is the next release. See the [.NET Core Roadmap](https://github.com/dotnet/core/blob/master/roadmap.md) for more details on timelines.

[2020-04-23 21:54] glararan commented on #20850
@anurse There is need to call it via HTTP api because you cant modify headers for login. When I started refreshless auth I did it directly until I received error like:
`The response headers cannot be modified because the response has already started.`

Should IHttpClientFactory be Singleton which creates independently HttpClient like transient?

[2020-04-23 21:59] Tratcher commented on #21138
Notes:

For the Fiddler trace you need to enable HTTPS decryption. Also, saving and attaching the file is more useful.

Your CookiePolicy setup is probably wrong, you don't want to be messing with SameSite mode on the correlation cookies.
[code]

It looks like your OAuth works, but AuthZ fails:
[code]
It never tries to call Authenticate to read the OAuth.Cookie. In AddAuthentication you should set

[2020-04-23 22:00] #20811 closed

[2020-04-23 22:01] anurse commented on #20850
Right, you can't modify headers in Blazor Server UI code (such as event handlers) because **there is no response** at that time. You're running code on the server that will cause DOM updates to be sent to the client, there's no active HTTP request. Blazor is using HTTP requests (and WebSockets) to send DOM updates back and forth but the events themselves are not running in the context of an HTTP r

[2020-04-23 22:08] glararan commented on #20850
@anurse Well then I dont see way how to login without HTTP request? If you have idea how to implement it I would be glad if you share it :)

I dont need header, SignInManager does :) Exception comes from SignInManager class which is in ASP.NET Core Identity part. As long as there is not official support for it I had to do it this way.

Yeah I went that way, creating HttpClient on my own with each

[2020-04-23 22:11] #21127 closed

[2020-04-23 22:26] Devnsyde commented on #21143
A)
[code]
A1) using apppool
A2) It's my apppool user, its using an authenticated windows domain user.
![image](https://user-images.githubusercontent.com/8527885/80155450-fd48c680-857e-11ea-9e20-672df1ca4f22.png)
![image](https://user-images.githubusercontent.com/8527885/80155429-ee621400-857e-11ea-98ad-4920e10d8991.png)

B) It was using the apppool as the app pool has permission to call the api -

[2020-04-23 22:42] Tratcher commented on #21143
@davidsh maybe I transferred this too soon. They're not trying to do anything complicated on the server (e.g. no impersonation) and the error is coming from HttpClient using default credentials for a domain joined account.

[2020-04-23 22:59] #18427 closed

[2020-04-23 23:04] shirhatti opened #21163 "New Request Feature to delegate request to other request queues"
Let's add a request feature `IHttpSysRequestTransferFeature` to transfer requests to other Http.Sys request queues.

[code]

[code]

[code]

Sample API usage:
[code]

[2020-04-23 23:22] Tratcher commented on #21163
Prioritize HttpSys, but this could also work in IIS, correct?

[2020-04-23 23:24] ajthegamedev commented on #20990
Hi @javiercn sorry for the delay,

I've enabled all exceptions within "Exception Settings", all checked not just white-box defaults. The application exits when the color dialog is closed without breaking on any exceptions. I've also tried debugging as IISExpress and as the project name "WebApplication1". Do you have any other recommendations?

[2020-04-23 23:41] ryanbrandenburg commented on #21029
I poked at this a bit, it's the same cause. The Host is hitting RazorHoverEndpoint, but not HoverHandler, while the Guest does the opposite. But in this case the "real" data is on HoverHandler instead of RazorHoverEndpoint, so the guest is the lucky one to get results.

[2020-04-23 23:43] ghstahl commented on #21148
This is embarrassing.  The code @davidfowl compiled but it looks like OpenIdConnectHandler didn't pick up MyOpenIdConnectProtocolValidator.  I didn't catch that my GenerateNonce wasn't called until much later in the pipeline.  Can we please reopen this.

[2020-04-23 23:54] devna13 opened #21164 "SignInManager MissingMethodException"
upgrading from asp net core 2.2 to 3.1;
when web application lunches I'm getting this runtime error;

**System.MissingMethodException: Method not found: 'Void Microsoft.AspNetCore.Identity.SignInManager`1..ctor(Microsoft.AspNetCore.Identity.UserManager`1<!0>, Microsoft.AspNetCore.Http.IHttpContextAccessor, Microsoft.AspNetCore.Identity.IUserClaimsPrincipalFactory`1<!0>, Microsoft.Extensions.Option

[2020-04-23 23:59] ryanbrandenburg commented on #21029
Annnd now the HTML part doesn't reproduce anymore.

[2020-04-24 00:09] ghstahl commented on #21148
https://gist.github.com/ghstahl/9b7d92d4eea1e5cfee595ce29b805cb3
@davidfowl can  you take a look at how I am calling it.
I know it takes up my validator when I do this;
[code]
But in that case I get no context.

[2020-04-24 00:14] davidfowl commented on #21148
Put it here https://gist.github.com/ghstahl/9b7d92d4eea1e5cfee595ce29b805cb3#file-myopenidconnectprotocolvalidator-L87. You keep nested it inside of other delegates, put it top level.

[2020-04-24 00:27] blowdart commented on #21164
This generally happens when you mix 3.x and 2.x packages and dependencies.

Can you share your csproj file?

[2020-04-24 00:29] JanLenoch commented on #20909
I'm also experiencing lots of build errors on v3.1.3. Latest VS, latest Node (14.0.0), JDK installed via InstallJdk.ps1. The only build errors I managed to mitigate were those stemming from the fact that one needs to also checkout an earlier commit of the MessagePack submodule (if the super repo was pulled recently).

[2020-04-24 00:30] ghstahl commented on #21148
nope: Still no go.
https://gist.github.com/ghstahl/9b7d92d4eea1e5cfee595ce29b805cb3

[2020-04-24 00:35] VBAndCs commented on #21144
@SteveSandersonMS
Wasm team said they are working on interface-types:
https://github.com/WebAssembly/interface-types/blob/master/proposals/interface-types/Explainer.md
I think this will allow us to contact with web API easily, so, we can just use the `wrapper` to call wep API through these interfaces. Do I get this right? I am not a wasm expert.
I hope you reopen this issue, so we can have a usefu

[2020-04-24 00:49] shirhatti commented on #21163
Can't work in IIS without fundamental changes to IIS. You need to be able to set properties (names of the queues you want to delegate to) as a property on your own queue.

In IIS, you're just a listener. The queue is owned by WAS

[2020-04-24 01:00] davidfowl commented on #21148
Did the callback run?

[2020-04-24 01:01] davidfowl commented on #21148
Maybe it's running then you're overwriting it? It still seems like you're setting it twice in that method...

[2020-04-24 01:32] #20518 closed

[2020-04-24 01:34] ghstahl commented on #21148
The
[code]
approach never works.  No breakpoint is ever hit.
This gets hit
[code]

[2020-04-24 01:38] ghstahl commented on #21148
In my case I have 2 OIDC external idps (google, and other).   I need to make sure that I set it for both, as they are each getting added via AddOpenIdConnect().
In my case its the same code for ProtocolValidator , but it doesn't need to be so setting it uniquely for each IDP has to be there.

[2020-04-24 01:59] davidfowl commented on #21148
If you can get me some minimal runnable repro, I can debug it, seems like it should work and I'm betting there's something else going on that you haven't shared.

[2020-04-24 02:16] #21151 closed

[2020-04-24 02:27] hieuluong1989 commented on #21142
@javiercn: Thank you for you replying. I tried to add scopes, then it worked. I missed this document
https://docs.microsoft.com/en-us/aspnet/core/security/blazor/webassembly/standalone-with-authentication-library?view=aspnetcore-3.1#access-token-scopes

[2020-04-24 02:27] #21142 closed

[2020-04-24 02:41] rynowak commented on #17210
Because we've been discussing?

After reading through this thread, I'm here ^^^^ - our docs include as well. I strongly discourage anyone from writing libraries that try to hide the use of routing from the user as an implementation detail.

Do you think that's there's still something to do here? We haven't seen more reports of this problem, or requests for clarification, more guardrails, etc.

[2020-04-24 02:50] mkArtakMSFT commented on #21164
The classlib your web app is referencing uses Microsoft.AspNetCore.Identity v2.2.0 package. Based on the following announcement there was a [breaking change](https://github.com/dotnet/docs/issues/14828) in SignInManager type in 3.0, which seems to impact you here.

[2020-04-24 04:14] ghstahl commented on #21148
@davidfowl
here you go.
https://github.com/P7CoreOrg/for-david-oidc-generate-nonce

[2020-04-24 04:23] davidfowl commented on #21148
Change:

[code]

to

[code]

cc @HaoK turns out OptionsBuilder doesn't have an equivalent of `ConfigureAll`.

[2020-04-24 04:33] hieuluong1989 opened #21166 "Blazor Webassembly can not debug with Visual Code"
I tried to set up debugging of Blazor Webassembly following this document.
https://docs.microsoft.com/en-us/aspnet/core/blazor/debug?view=aspnetcore-3.1#visual-studio-code

### Describe the bug
When I press **Debug (Blazor StandAlone)**, it does not handle my break point. My breakpoint was not red, it was circle with grey color.

![image](https://user-images.githubusercontent.com/52130197/80174680

[2020-04-24 04:36] HaoK commented on #21148
OptionsBuilder shouldn't really have a configure all since its implicitly scoped to one named instance, that was the idea/design anyways.  Its basically configuring one named options instance

[2020-04-24 04:37] HaoK commented on #21148
So yeah if you want to configure all, you don't pass in the name and call it off of the service collection

[2020-04-24 04:49] davidfowl commented on #21148
@HaoK but then you don't have those overloads that take services.

[2020-04-24 04:51] ghstahl commented on #21148
@davidfowl that did it for the repo and my real project.  I am never going to remember this stuff so thank goodness this is a record for later searches.  So thanks and I will be sleeping well tonite.

[2020-04-24 05:42] MarkusRodler commented on #20994
Thanks @captainsafia
Are there any plans when it will be fixed?

[2020-04-24 06:15] SteveSandersonMS commented on #21144
If it helps, I’m happy to reopen this! I only closed it because it seems external to this repo. People are welcome to discuss it as much as they like, of course.

[2020-04-24 06:29] tommiie opened #21167 "Pathbase with AAD authentication in Blazor Webassembly 3.2 Preview 4 not working correctly"
1. Create a Blazor wasm app with AAD authentication
2. Run the app with a specific pathbase `dotnet run –pathbase=/myapp`
3. Open the app
4. The app is redirected to the AAD login
5. Following exception occurs in the web browser console
`System.InvalidOperationException: Invalid return url. The return url needs to have the same origin as the current page.`

The returnUrl in the URL is set correctl

[2020-04-24 06:34] FDonald opened #21193 "Optional client certificates"
# Issue Title

404 when set location path security

# General
I am developing a net core 3.1 web application. One of authentication schemes is Certificate, so I want to protect a page with client certificate authentication. This is Web.config IIS configuration (Obviously i set <section name="access" overrideModeDefault="Allow" in solution applicationHostConfig ):

[code]
Application starts success

[2020-04-24 06:45] mkArtakMSFT commented on #21167
Thanks for contacting us.
@javiercn can you please look into this?
@tommiie, do you experience the same issue with Blazor WebAssembly 3.2 Preview 5? It actually shipped today!

[2020-04-24 07:01] javiercn commented on #21167
@tommiie thanks for contacting us.

You need to change the base path in the `Index.html` and account for that in the registered redirect url on your AAD application.

[2020-04-24 08:14] tommiie commented on #21167
@javiercn sorry but it is not working for me. Maybe it is important to know, that I built my app as a PWA.
Here is what I tried:
1. Update to version: Blazor Webassembly 3.2 Preview 5
2. Add following redirectUri to my app registration: `http://localhost:5000/timemanagement-dev`
3. Change base href tag in the index.html to `<base href="/timemanagement-dev/" />`
4. Change start_url in manifest.json

[2020-04-24 08:26] tommiie commented on #21167
@javiercn now I found the problem. The exception is correct. The returnUrl is different to the origin.
origin: http://localhost:5000/timemanagement-dev/authentication/login
returnUrl: http://localhost:5000/timemanagement-dev

I have to add the string `/authentication/login` to the navigation url in `RedirectToLogin.razor`:
[code]
But I cannot imagine that this should be default behavior/solution i

[2020-04-24 08:42] khellang commented on #17210
Agreed.

It might not be a big problem, but there's still nothing stopping you from trying to call `UseEndpoints` multiple times, which obviously doesn't work the way you'd expect. I still think it would be nice to either

1. Make it work
2. Fail fast to avoid spending valuable time trying to figure out _why_ it doesn't work.

[2020-04-24 08:55] Marcel0024 commented on #21138
Thanks, that was what i was missing!

[2020-04-24 08:55] #21138 closed

[2020-04-24 09:00] HaoK commented on #21148
Ah yeah so that's a gap in the sugar I guess, ConfigureAll I wouldn't be surprised if noone uses

[2020-04-24 09:00] #20920 closed

[2020-04-24 09:39] tbredweb opened #21168 "Scaffolding Identity InvalidOperationException: The following sections have been defined but have not been rendered by the page at '/Pages/Shared/_Layout.cshtml': 'Scripts'."
Hello, I just created a new project after upgrading to Blazor WebAssembly.Templates::3.2.0-preview5.20216.8 and adding Identity scaffolding.  The error is below:

![image](https://user-images.githubusercontent.com/15969446/80197686-fb1d5100-85ec-11ea-99ac-f2b178bfbb62.png)

To Reproduce

Install Blazor WebAssembly.Templates::3.2.0-preview5.20216.8
Create a new Blazor WebAssembly project
Scaffold I

[2020-04-24 09:56] tbredweb commented on #21168
Well, I opened an older project and found that the following line:

@RenderSection("Scripts", required: false)

was not included in the _Layout.cshtml file.  Adding this resolved the error.

Thanks

[2020-04-24 09:56] #21168 closed

[2020-04-24 10:00] #21135 closed

[2020-04-24 10:00] forik commented on #21012
I also faced with Activity/Request-Id related problem. Seems like an established websocket connection preserves a correlation context (not saying Activity intentionally), such as any http call made through typed HttpClient attaches the same Request-Id, eventhough I set Activity.Current = null explicitly.

Please see [#1797](https://github.com/microsoft/ApplicationInsights-dotnet/issues/1797)

[2020-04-24 10:34] VBAndCs commented on #21144
@SteveSandersonMS
Thanks 😊.

[2020-04-24 10:38] jaragones commented on #20187
@BrennanConroy , I just sent you an email.

[2020-04-24 10:50] LaughingJohn commented on #21112
I hope you don't mind me commenting, and this may be the same thing as "WebAssemblyJSRuntime.Unmarhsalled APIs", but one thing I've noticed is that using the non-async version of calls to Javascript made a big difference to UI performance in a web assembly project with JS interop!

[2020-04-24 11:00] #20774 closed

[2020-04-24 11:18] mariohik opened #21169 "Bazor strongly-typed client error"
I'm trying to implement a strongly-typed Blazor client, but when I access the page the error appears: STATUS_ACCESS_VIOLATION

I am attaching an example project:
[BlazorApp3.zip](https://github.com/dotnet/aspnetcore/files/4528535/BlazorApp3.zip)

[2020-04-24 11:30] mlathan opened #21170 "Blazor WASM Release mode JS interop deserialization issue"
### Describe the bug
In a Blazor WebAssembly application JS interop can't deserialize structs back into C# in Release mode. More specifically, the problem arose with Point and SizeF. Both structs are the default ones in C# after deserialization. In Debug mode compilation the structs contain the data return from Javascript.

I guess this involes other struct/class types, too. Maybe it has something

[2020-04-24 11:31] javiercn commented on #21169
@mariohik thanks for contacting us.

What do you mean by a "strongly typed blazor client" can you provide more details of what you are trying to do?

[2020-04-24 11:33] javiercn commented on #21170
@mlathan thanks for contacting us.

It is likely that the linker is not seeing the code being used and is taking away the members from the struct. See [here](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/configure-linker?view=aspnetcore-3.1) for details.

[2020-04-24 11:43] mariohik commented on #21169
Hi @javiercn
Thanks for the quickly reply.

I encapsulated API calls in a service, as described on the blog: https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-5-release-now-available
Look at the example of FetchData.razor

[2020-04-24 12:09] Webreaper opened #21171 "Blazor Server unresponsive/unusable when background thread doing work"
### Describe the bug
A Blazor server app that pushes work out to a background thread becomes unresponsive to the point of being unusable, but it doesn't appear to be clear why that would be.

### To Reproduce

1. Create a brand new Blazor Server app using the standard template.
2. In Counter.razor, change the IncrementCount handler so to the following implementation:

[code]

3. Run the app. If yo

[2020-04-24 12:14] simonziegler commented on #19050
Hi Javier - I didn't see your message earlier - sorry. The problem seems to be subsiding as browser updates are being released, however originally just calling `NavigateTo` either within the app (controlled by Blazor router) or outside would cause the issue. I've just been wondering if there is a problem in the Blazor SignalR js causing this. I have decided not to use Firefox at all the last 3 mon

[2020-04-24 12:52] aelking commented on #20285
This is an issue I am getting issue with the latest version as of today.

[2020-04-24 13:01] dushmantha-plano opened #21172 "resource dll is not generating for China(zh-CN) in Linux when build the app"
I have been localizing the our ASP .Net Core (2.1) MVC Project with Resource files and **CookiesCultureRequest**. We have 3 additional languages now such as korean, Japnees and Chines.

The issue is when build the solution in the Linux deployment server. only zh-CN folder and resource.dll of that locale has not been degenerated. But in my local Windows machine does all.

What should i do for forci

[2020-04-24 13:04] jozefizso opened #21173 "There was an error trusting HTTPS developer certificate."
I have issue with trusting the HTTPS certificate for .NET Core development.

I tried to trust the certificate from Visual Studio and from `dotnet dev-certs` tool from the administrator PowerShell. Both fail.

[code]

[code]

<img width="297" alt="error01" src="https://user-images.githubusercontent.com/287778/80215379-a4d7fe80-863c-11ea-86a7-4ccfd3fce48d.png">

[2020-04-24 13:32] Kim-SSi commented on #20992
I have the same issue with preview 5.
I have attached a small reproducer using BlazorExtensions.Logging updated to preview 5
I am using VS 2019 Preview `16.6.0 Preview 4.0` and my `dotnet --version` is `3.1.300-preview-015115`

I get a build failure that allways causes the target issue with ResolveStaticWebAssetsInputs.
`C:\Users\ssi\.nuget\packages\microsoft.aspnetcore.components.webassembly.buil

[2020-04-24 13:45] JulienM28 opened #21174 "Blazor WASM 3.2 Preview 5 Fetch error"
I have a very starnge issue since update from preview 4 to preview 5.

I POST a request to our API.

The server response is 201 the operation is done correctly, but
HttpClient send an exception because of a fetch error
(failed)net::ERR_HTTP2_PROTOCOL_ERROR

Here's the call:
[code]

dotnet.3.2.0-preview5.20216.1.js:1 POST https://localhost:11792/api/v1/campagnes net::ERR_HTTP2_PROTOCOL_ERROR 201
_m

[2020-04-24 14:05] andyedinborough opened #21176 "DefaultAntiforgery overrides a more restrictive cache policy"
### Describe the bug
For our applications, we set the cache-control header on our responses with `must-revalidate` to ensure customers see the correct information if they click the back button. DefaultAntiforgery sets the cache-control header even though the header is already present with a value of `no-cache, no-store, must-revalidate`:

https://github.com/dotnet/aspnetcore/blob/master/src/Antifo

[2020-04-24 14:15] mthalman opened #21177 "Inconsistent version file compared to other frameworks"
A change was made in https://github.com/dotnet/aspnetcore/pull/20166 that renamed the `.version` file to `Microsoft.AspNetCore.App.versions.txt`.  It's not clear why this change was made but now there's inconsistency between ASP.NET and the other frameworks.  Microsoft.NETCore.App, Microsoft.WindowsDesktop.App and the SDK all have a file named `.version`.

Repro steps:
1. Open https://dotnetcli.bl

[2020-04-24 14:16] mthalman commented on #21177
cc @wtgodbe

[2020-04-24 14:17] devna13 commented on #21164
@mkArtakMSFT thanks for the link, I'm using latest package and solution builds successfully
<PackageReference Include="Microsoft.AspNetCore.Identity" Version="2.2.0" />

plus ctor doesn't take any other parameter !? what I'm missing here?

![image](https://user-images.githubusercontent.com/4080343/80221730-8d782180-85fa-11ea-88fc-d63e42689bda.png)

![image](https://user-images.githubusercontent.co

[2020-04-24 14:21] blowdart commented on #21164
You're definitely mixing things;

For example in your web project

[code]

There's 2.x packages and 3.x packages

And your Identity.Data package is mixing

[code]

[2020-04-24 14:24] mkArtakMSFT commented on #21164
@devna13 the breaking-change I referred to was about the `SignInManager<T>` type constructor, rather than the `UserManager<T>` which you're looking at. Anyway, look above at what @blowdart points too, what you have there is the most probably cause.

[2020-04-24 14:41] jamiedumont commented on #20905
No worries. We had a look at it again and decided that gRPC was just a lot of extra work for very little gain.

That said, in the interim I did get the gRPC-backed custom store working as I wanted. I did indeed need to use the same approach as the Cassandra example but needed to understand how services are run a little more to get it all working together.

Thanks for your help!

[2020-04-24 14:41] #20905 closed

[2020-04-24 14:49] dfederm opened #21178 "Blazor WASM linking omits the entire wwwroot\_framework\_bin dir when using DeployOnBuild"
### Describe the bug
After upgrading to preview 5, when doing a release build (or a debug build with linking enabled), the entire `$(PublishDir)\wwwroot\_framework\_bin` dir is missing.

### To Reproduce
Have this in your project file:
[code]

Then build a release build or set
[code]

[code]

Note that `DeployOnBuild=true` causes a publish to happen after a build. So something in the Blazor WASM M

[2020-04-24 14:55] rdadkins commented on #21032
I checked preview 5 and it is still broken.

I did some more research and there may be two things at play here.

1. The role claim type name is not read from the token properly or this is an undocumented change. This sort of relates to what @aguacongas mentioned with setting the role claim type to `role`.

I can do this but it still won't help:
[code]

2. I then stumbled upon the role claims being

[2020-04-24 15:00] dfederm commented on #21178
While trying to come up with a minimal repro I found that this actually only repros in VS. Command-line works just fine.

[2020-04-24 15:02] TheFanatr opened #21179 "[Blazor] Value Bound to Input Element Not Reset by Reset-Type Button in Form"
### Description
When using Blazor server to show a form with `input` elements that are bound to various values via `@bind`, if there is a `button` element with a `type="reset"` attribute inside that form, clicking on it will wipe the values from the form in the browser, but will not reset the values in Blazor, because the `input` elements' `onreset` events are not also resetting the bound values.

[2020-04-24 15:09] geffzhang opened #21180 "WebAssemblyHostBuilder.Configuration Move CreateDefault"
I'm trying to integrate Blazor's latest configuration API into the Abp framework and find it doesn't work, I've looked at the configuration code for the latest WebAssemblyHostBuilder, registered IConfiguration code https://github.com/dotnet/aspnetcore/blob/blazor-m/wasrc/components/webAssembly/WebAssembly/src/host/WebAssemblyBuilder.17 https://github.com/dotnet/aspnetcore/blob/blazor-wasm/src/Comp

[2020-04-24 15:12] rdadkins commented on #21032
I think I found the issue. Before the auth rewrite in preview 4+, [`RemoteAuthenticationService` handled converting tokens to claims](https://github.com/dotnet/aspnetcore/commit/fd9c7861655f368848ede4661b183098690aabad#diff-11fb2b7199301f1ad68bf9deed0a5726L211-L228) (link is hard to view, here is the snippet);
[code]

The responsibility went to [`AccountClaimsPrincipalFactory`](https://github.com/

[2020-04-24 15:17] javiercn commented on #21032
Looked at your code, seems like you are implementing your own IProfileService. This is not how we recommend implementing roles. See [here[(https://github.com/dotnet/AspNetCore.Docs/issues/17649) for details.

The difference you are observing is due to a deliberate change we introduced in preview4 to avoid mapping arrays into claims list for you, but there is additional extensibility that should al

[2020-04-24 15:19] javiercn commented on #21032
Yep, this is exactly it. We don't want to have any opinion on how to remap the data from the account, but you can build it your own using the technique described [here](https://github.com/dotnet/AspNetCore.Docs/pull/17926)

[2020-04-24 15:20] javiercn commented on #21032
I'm going to close this as the current behavior is by design, I suggest you follow the guidance described in the comment to make it work.

[2020-04-24 15:20] #21032 closed

[2020-04-24 15:22] javiercn commented on #21180
@geffzhang thanks for contacting us.

We'll look into this issue and update accordingly.

[2020-04-24 15:22] davidfowl commented on #21180
Why are you making a new configuration builder?

[2020-04-24 15:23] dfederm commented on #21178
Digging through diag logs, this seems related to this:
[code]

That condition is causing linking to not happen at all, which in turn causes the linker.output file to be missing, which causes the outputs to not get resolves and thus not copied during publish.

However, I can't seem to find that condition in actual source (left is GitHub, right is on my disk):
![image](https://user-images.githubuser

[2020-04-24 15:25] javiercn commented on #21178
@dfederm thanks for contacting us.

@dfederm can you point to the gh link where this is happening?

[2020-04-24 15:26] javiercn commented on #21174
@JulienM28 thanks for contacting us.

Can you provide us with a minimal repro project so that we can investigate the issue?

[2020-04-24 15:27] dfederm commented on #21178
@javiercn here's where I'm looking on the GH side: https://github.com/dotnet/aspnetcore/blob/master/src/Components/Blazor/Build/src/targets/Blazor.MonoRuntime.targets#L228

Maybe there's some release branch I need to look in instead of master, but I'd still expect to see all changes (including potentially unreleased ones) in master.

[2020-04-24 15:28] javiercn commented on #21173
@jozefizso thanks for contacting us.

I would suggest you check the certificates in your local store and remove any `localhost` certificate that has a friendly name `ASP.NET Core Https development certificate` and try again?

Also check the trusted roots for the current user for the same.

[2020-04-24 15:32] javiercn commented on #21178
Yeah, that's not the right branch. `blazor-wasm` is where the magic happens.

 https://github.com/dotnet/aspnetcore/blob/blazor-wasm/src/Components/Blazor/Build/src/targets/Blazor.MonoRuntime.targets#L228

[2020-04-24 15:32] dfederm commented on #21178
@javiercn Looks like it's the blazor-wasm branch I wanted to be looking at for the source. IMO it seems strange that you're sharing a repo but working in a completely unrelated branch.

Found the commit which added the condition to the target which is causing the regression: https://github.com/dotnet/aspnetcore/commit/ae569e2b48f66a2c4833319e82fcc74876c763ce by @SteveSandersonMS

[2020-04-24 15:38] geffzhang commented on #21180
This is  abp configuration use configuration builder， before blazor preview 5 have not configuration builder，so I make a new configuration builder

[2020-04-24 15:40] davidfowl commented on #21180
builder.Configuration is a `ConfigurationBuilder` already so you don't need to create one.

[2020-04-24 16:01] javiercn commented on #21178
@dfederm it's because of delivery/shipping logistics. Our infrastructure for shipping is quite complicated and this is the easiest and fastest way to ship the wasm bits. Once they are out we'll go back to working on master for everything in 5.0

[2020-04-24 16:01] danroth27 commented on #19992
We actually do want to leave the survey prompt in. We have it in the shipping Blazor Server template as well. It's a useful source of customer feedback.

[2020-04-24 16:01] #19992 closed

[2020-04-24 16:02] devna13 commented on #21164
Sorry I took a wrong screenshot from UserManager de-compile.
You can see this is the latest package from nuget and it doesn't take any other param
![image](https://user-images.githubusercontent.com/4080343/80232481-d71c3880-8609-11ea-82ff-a0d20e5909d9.png)

![image](https://user-images.githubusercontent.com/4080343/80232325-92909d00-8609-11ea-9dd9-11b1eb81922d.png)

these are the latest versions o

[2020-04-24 16:14] captainsafia commented on #21180
As @davidfowl, the `WebAssemblyHostConfiguration` implements the interface of an IConfigurationBuilder and an IConfiguration object. As you mentioned, the IConfiguration service is also already registered in the DI.

Your code sample should looks as follows. You can use the existing ConfigurationBuilder without needing to create a new one.

[code]

The [docs](https://docs.microsoft.com/en-us/aspne

[2020-04-24 16:14] #21180 closed

[2020-04-24 16:28] dv00d00 opened #21183 "Kestrel stops serving https (http2) requests after reboot under load"
### Describe the bug

I am running Kestrel as an edge server in the Digital Ocean ( `Ubuntu Docker 5:19.03.1~3 on 18.04`) via docker-compose

[code]

The container is built with `mcr.microsoft.com/dotnet/core/sdk:3.1` and `mcr.microsoft.com/dotnet/core/aspnet:3.1`

I am using Compression and ResponseCaching middlewares in the request pipeline.

[code]

The issue was not appearing before we have st

[2020-04-24 16:31] olesakn opened #21184 "IdentityServer using signing credential certificate with wildcard does not load"
### Describe the bug
When registering IdentityServer via `services.AddApiAuthorization()`, it is not possible to reference a certificate from the store if the certificate contains a wildcard. It errors, and says it could not find a certificate by that name even though it exists in the specified store.

### To Reproduce
appSettings.json
[code]

### Further technical details
- ASP.NET Core version 3

[2020-04-24 16:34] wtgodbe commented on #21177
I'm confused - neither the WindowsDesktop nor Microsoft.NetCore.App shared framework packages carry a file named `.version`. They have `Microsoft.WindowsDesktop.App.versions.txt` and `Microsoft.NetCore.App.versions.txt`, respectively. I was under the impression that the `.version` files were generated during release staging - @leecow is that not the case?

[2020-04-24 16:35] mkArtakMSFT commented on #20960
Thanks for contacting us.
This is not something we plan to include in the framework. We believe the following change would help users to handle similar scenarios easier on their own: https://github.com/dotnet/aspnetcore/issues/17552

[2020-04-24 16:35] #20960 closed

[2020-04-24 16:37] wtgodbe commented on #21177
And the reason for the name change is that Nuget disallows packing files whose names start with a dot:

[2020-04-24 16:39] mkArtakMSFT commented on #20935
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-04-24 16:39] mkArtakMSFT commented on #20812
@NTaylorMullen we'll need to fix this if this is real issue.

[2020-04-24 16:40] mkArtakMSFT commented on #20812
@ahlurien can you please confirm that you're seeing this with the latest VS preview release?

[2020-04-24 16:42] mkArtakMSFT commented on #20859
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-04-24 16:44] mkArtakMSFT commented on #20805
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-04-24 16:50] mkArtakMSFT commented on #20605
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-04-24 16:53] mkArtakMSFT commented on #20560
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-04-24 16:53] wtgodbe commented on #21177
Actually, looks like this happens in the dotnet/installer repo:

https://github.com/dotnet/installer/blob/bad3a6db7a77182e89469eea1e7aec7dd5ca5173/src/redist/targets/GenerateLayout.targets#L417-L427

For whatever reason it stopped happening for AspNetCore after my change. Looking into it.

[2020-04-24 16:57] mkArtakMSFT commented on #20538
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-04-24 17:00] wtgodbe commented on #21177
I'm guessing that the `.version` file gets inserted by dotnet/installer, since for the 3 shared packs, each contains the contents of the corresponding shared framework's `runtimes` folder, flattened, plus a new file named `.version` (or in the case of AspNetCore, the versions.txt file from the root, for some reason). @wli3 @dsplaisted @sfoslund do you know how this `.version` file gets inserted in

[2020-04-24 17:00] #20939 closed

[2020-04-24 17:02] mkArtakMSFT commented on #20514
This is a dupe of #18757

[2020-04-24 17:02] #20514 closed

[2020-04-24 17:05] gmnenad commented on #17552
Is it possible to make some short explanation for this issue:
- what is the problem it is trying to solve ?
- how do you plan to solve it ?

Since you are referring this issue as reason to close several other issues, it would help if we can see how this one is supposed to help.

[2020-04-24 17:05] wtgodbe commented on #20687
https://github.com/dotnet/aspnetcore/pull/20760 will fix in 3.1.5

[2020-04-24 17:12] mkArtakMSFT commented on #20346
@anurse how does query string localization work in SignalR?

[2020-04-24 17:15] anurse commented on #20346
SignalR doesn’t do anything with it. Any culture information on the HttpContext when it reaches SignalR should be preserved.

[2020-04-24 17:18] javiercn commented on #20346
@anurse do you have any docs or thoughts on how to do this E2E for SignalR applications?

[2020-04-24 17:19] anurse commented on #20346
Nope. It’s not something we’ve really thought about.

[2020-04-24 17:19] mkArtakMSFT commented on #20226
Thanks for contacting us. This is not something we plan to do.

[2020-04-24 17:19] #20226 closed

[2020-04-24 17:20] ryanbrandenburg opened #21185 "Restore reliability"
We sometimes run into issues with our NuGet stores wherein they temporarily throw errors, such as https://dev.azure.com/dnceng/public/_build/results?buildId=615558&view=logs&j=1f58c02c-a2e7-59c3-5915-ab7de64e5b92&t=fdbd47cf-8ee9-5156-ca10-83b314ab5884&l=258. Generally these clear up quickly but as a whole they add up to decrease our reliability. We should consider ways that we can reduce or elimin

[2020-04-24 17:24] mkArtakMSFT commented on #20068
Thanks for contacting us.
 This is not something we plan to do in the near future. You can definitely achieve this by introducing two separate parameters and rending only the one which was provided.

[2020-04-24 17:24] #20068 closed

[2020-04-24 17:25] mkArtakMSFT commented on #20027
This is already supported.

[2020-04-24 17:25] #20027 closed

[2020-04-24 17:25] Tratcher commented on #21183
What do the server logs say?
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1#configuration

[2020-04-24 17:26] #19956 closed

[2020-04-24 17:29] mkArtakMSFT commented on #19818
We'll handle this as part of template redesign which we will probably do as part of 5.0.

[2020-04-24 17:29] #19818 closed

[2020-04-24 17:30] mkArtakMSFT commented on #19717
Thanks for contacting us. This is not something we plan to implement.

[2020-04-24 17:30] #19717 closed

[2020-04-24 17:33] mkArtakMSFT commented on #20322
Thanks for contacting us.
This is not something we plan to do. We don't want introduce another way of doing what is possible with C#

[2020-04-24 17:33] #20322 closed

[2020-04-24 17:45] robdavey555 commented on #5461
I hope you don't mind but I have used your library for inspiration to implement as you suggest.
https://github.com/robdavey555/Blazor.ApplicationInsights

[2020-04-24 17:47] vsfeedback opened #21186 "VS 2019 ASP.NET CORE 3.1 Build is slow after upgrading from VS 2017 Core 2.2"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/996549/vs-2019-aspnet-core-31-build-is-slow-after-upgradi-1.html)._

---
[regression] [worked-in:VS 2019 February ]
VS 2019 ASP.NET CORE 3.1 Build is slow after upgrading from VS 2017 Core 2.2

The Buid appeared to work fine in VS 2019 during the first part of February 2020

[2020-04-24 18:13] timgabrhel opened #21187 "JsonResult with Newtonsoft.Json results in synchronous IO in large responses"
### Describe the bug
I am utilizing [Ben.BlockingDetector](https://github.com/benaadams/Ben.BlockingDetector) package to identify and resolve any synchronous blockers in my app. I have found a scenario where my API is buffering the response to disk, which is resulting in a synchronous IO call.

The response data of the request is 62KB. I am returning a new `JsonResult(myObj)`. I've found when inte

[2020-04-24 18:15] blowdart commented on #21184
What says it can't find a certificate? An exception? A log entry?

What OS are you running on? Is this production or development? Is the app running as your user account or a service account?

[2020-04-24 18:30] NTaylorMullen opened #21189 "Razor Directive completion items have duplicate resolution text."
1. Patch the local LSP platform bits (as of the creation of this issue things aren't inserted).
    - You'll also need to update the devenv.exe.config (which is next to devenv.exe) to binding redirect to the locally patched binaries version
2. Open a Razor project
3. Type `@inj` to see the completion resolution items:

![image](https://user-images.githubusercontent.com/2008729/80245059-de9a0c80-86

[2020-04-24 18:44] olesakn commented on #21184
OS: Windfows Server 2016. It's a development server. The app is hosted on IIS.

I have two certificates, both installed on the LocalMachine/Personal certificate store.
One begins with a wildcard *.<mydomain>.org
The other does not identityserver.<mydomain>.org

The application pool user has access to both certificates.

If my appSettings.json file points to the non-wildcard cert, it works fine
[co

[2020-04-24 18:54] jozefizso commented on #21173
I remove the **localhost** certificates from User and Computer certificate stores and I ran the command again from the admin PowerShell. It still fails.

[code]

[2020-04-24 18:56] Tratcher commented on #21187
We usually categorize file IO separately from network IO. That said, why is FileStream.Write doing a Task.Wait?

Oh, oh dear... why would they do that.
https://github.com/dotnet/runtime/blob/07f9134f21d99e1a8906619f6c741a49d78b6fa5/src/libraries/System.Private.CoreLib/src/System/IO/FileStream.cs#L424-L435

[2020-04-24 19:10] javiercn commented on #21188
@jlinstrum thanks for contacting us.

Seems like you are doing B2C auth and are federating with FB within B2C? Are you using our auth package for MSAL? Where do you get that login with FB button? we don't provide such functionality, is that part of the b2c experience? (once the pop-up has been opened or the app has redirected).

As per the reset password functionality, it's not something that msal

[2020-04-24 19:13] javiercn commented on #21173
@jozefizso are you able to manually install certificates into your current user store and your trusted roots? Are you in an domain joined machine where some IT policy might be preventing you from adding certificates?

[2020-04-24 19:17] javiercn commented on #19886
@mihaimyh thanks for contacting us.

If you get to include the data in the token (which you can do with a custom Identity ClaimsPrincipalFactory you can tell identity server to include it in whatever token is generated for your app).

You can then add claims in the same way they roles are added. See [here](https://github.com/dotnet/AspNetCore.Docs/issues/17649) for an example.

[2020-04-24 19:17] #19886 closed

[2020-04-24 19:18] jozefizso commented on #21173
This is a fresh Windows 10 machine with a newly installed Visual Studio.

It is not joined into domain.

Well, I'm administrator so I expect I can install certificates.

[2020-04-24 19:20] javiercn commented on #21167
@tommiie the "origin" should be `http://localhost:5000/timemanagement-dev` as in your sample. Otherwise there is an issue with your base path.

[2020-04-24 19:22] javiercn commented on #21173
@jozefizso hmm, that's the first time we see something like this. Does running `dotnet dev-certs https` work? If so, you can trust the certificate manually by copying into `Personal\Trusted Root` within the certificate manager UI.

[2020-04-24 19:23] dougbu commented on #21185
This may actually be an issue with the particular blob feed. Note the `restore` operation retried the package download three times.

@MattGal @mmitche is anything wrong with https://dotnetfeed.blob.core.windows.net/ ATM? The specific download that failed was for https://dotnetfeed.blob.core.windows.net/dotnet-core/flatcontainer/microsoft.extensions.fileproviders.embedded/2.1.1/microsoft.extensions

[2020-04-24 19:30] jozefizso commented on #21173
It says **A valid HTTPS certificate is already present.** and I have a certificate issues to **localhost** with friendly name **ASP.NET Core HTTPS development certificate**

Yet when I run the project from Visual Studio (16.5.4) I'm asked to trust the certificate and it ends with error and the project does not run.

![image](https://user-images.githubusercontent.com/287778/80249782-c05dfc00-8672-1

[2020-04-24 19:30] javiercn commented on #20037
With the multi stage builds you can call individual stages and I believe tooling uses those. There is also little harm in doing a publish after build, since builds are incremental.

@mkArtakMSFT unasigning myself here since I don't have anything to add and this is not something we own nor an experience that we are likely willing to change.

[2020-04-24 19:32] timgabrhel commented on #21187
@Tratcher I'm also seeing the same behavior on FileStream.Read (uploading the file bytes[] as a string).

https://github.com/dotnet/runtime/blob/07f9134f21d99e1a8906619f6c741a49d78b6fa5/src/libraries/System.Private.CoreLib/src/System/IO/FileStream.cs#L302-L308

Any ideas to workout for either behavior? I'm more concerned about the FileStream.Write's (API outbound). Some of our data heavy pages hit

[2020-04-24 19:32] javiercn commented on #19933
@Tratcher is correct.

The goal of WAF is to facilitate testing MVC applications in memory, the recommended pattern to follow here is to mock your auth or write a proper E2E test with a real server.

[2020-04-24 19:32] #19933 closed

[2020-04-24 19:34] jozefizso commented on #21173
I can change the project to run in **IIS Express** and I'm presented with similar dialogs:

![image](https://user-images.githubusercontent.com/287778/80249929-0adf7880-8673-11ea-91be-a97824451dbe.png)

![image](https://user-images.githubusercontent.com/287778/80249937-0f0b9600-8673-11ea-9e49-121fb72474db.png)

This way a server is started tough and it is using unknown and untrusted certificate (wh

[2020-04-24 19:38] javiercn commented on #21173
@jozefizso thanks for the details.

It seems that you don't have permissions on that machine to add the certificate to the personal user trusted root certificate authorities. I'm not sure why that is, but it clearly seems to be the issue at play here.

[2020-04-24 19:42] jozefizso commented on #21173
I **can** delete the certificate and when I run the dotnet dev-certs command the certificate is added to the Certificate store so I can clearly **add** certificates to the store.

[2020-04-24 19:44] jozefizso commented on #21173
[code]

[2020-04-24 19:45] jozefizso commented on #21173
![image](https://user-images.githubusercontent.com/287778/80250876-ec7a7c80-8674-11ea-8146-da42b1550a37.png)

[2020-04-24 19:49] jozefizso commented on #21173
[code]

![image](https://user-images.githubusercontent.com/287778/80251205-82aea280-8675-11ea-88b6-82f0063bc4cf.png)

[2020-04-24 19:50] javiercn commented on #21173
@jozefizso Yes, but you are dding it to the personal store, not the trusted root certification authorities. Try to copy the certificate there and it will either fail (in which case that's why the tool can't add it) or succeed, in which case your problem will be solved. (Although for some reason the account running VS or something similar doesn't have permission to do so)

[2020-04-24 19:51] ryanbrandenburg commented on #21185
I've been able to successfully download that file like 6 times at this point, so it's likely that it was a transient issue, plus the error given each time was a 500 rather than a 40X. Regardless, a single NuGet feed represents a single point of failure, even if we're able to increase the reliability of that feed significantly.

[2020-04-24 19:56] anurse commented on #21059
Closing, as it sounds like this issue was related to Azure App Service configuration. Let us know if I'm misinterpreting your response though!

[2020-04-24 19:58] jozefizso commented on #21173
I have permission to add certificate to the **Trusted Root Certification Authorities**

![image](https://user-images.githubusercontent.com/287778/80251887-a1f9ff80-8676-11ea-8e8c-f07f3268f89d.png)

![image](https://user-images.githubusercontent.com/287778/80251916-b211df00-8676-11ea-8d91-30307126701a.png)

[2020-04-24 19:59] javiercn commented on #21173
@jozefizso then the issue here is with the account under which both, the tool and VS are running. That's not something we can do anything about.

That said, you should be unblocked now.

[2020-04-24 20:02] jozefizso commented on #21173
This is the same account.

When I can make it manually, why Visual Studio nor dotnet tools cannot do it?

[2020-04-24 20:03] javiercn commented on #21173
@jozefizso I have no answer for that, it's not something that I've ever seen before.

[2020-04-24 20:05] jozefizso commented on #21173
Well, thanks, I have only paid 2000 EUR for the license of Visual Studio and it cannot even run simple website.

[2020-04-24 20:13] anurse commented on #21187
Triage: The medium-term recommendation here is to migrate to the System.Text.Json serializer that does support a fully async API. Obviously that comes with trade-offs if you are using Newtonsoft features.

Are you able to try the System.Text.Json-based serializer? If not, what missing features/issues block your migration?

If you can't migrate, you could work around this by doing the serialization

[2020-04-24 20:15] anurse commented on #21163
Per @Tratcher this is blocked on some work from HttpSys.

@shirhatti what's the timeline on this? We're not currently resourced for a new feature in HttpSys.

[2020-04-24 20:16] timgabrhel commented on #21187
@anurse I did a very brief test of System.Text.Json earlier, and the web <> api communication worked well, but something in my cookie auth pipeline was failing. I will investigate further.

I'm also investigating response compression. In the real scenario that inspired this post, my 60KB was gzipped to 9KB.  This is certainly beneficial for other reasons, but I will check out System.Text.Json firs

[2020-04-24 20:16] ryanbrandenburg opened #21192 "Razor Directive Attributes don't have documentation"
With LSP preview switch on we get this when hovering:
![OnClickDirectiveNoDocumentation](https://user-images.githubusercontent.com/14987221/80253198-ab12ae80-862d-11ea-9903-68dc03883f2e.png)
In current LSP preview switch off we get:
![OnClickDirectiveWithDocumentation](https://user-images.githubusercontent.com/14987221/80253226-bc5bbb00-862d-11ea-956e-5ed37d185f65.png)
Let's try to get that docume

[2020-04-24 20:20] anurse commented on #21157
@davidni you were up to contribute this, right?

[2020-04-24 20:46] vertonghenb commented on #20068
@mkArtakMSFT ok, sorry to hear that, it's used quite a lot though.
Thank you for the consideration!

[2020-04-24 20:54] pranavkm commented on #21187
@Tratcher would it be worthwhile following up with the runtime team if you suspect something is afoot with the way they do sync-writes?

[2020-04-24 20:57] dv00d00 commented on #21183
Whenever I was able to reproduce this behavior the only logs I was getting was the default startup output:

[code]
and a several minutes of silence after

On a very rare occasion, I was getting

`failed to receive a heartbeat in 1 second, looks like a threadpool starvation` ( I was not able to copy the actual message yet)

I have disabled caching middleware and now getting the issue 100% of the ti

[2020-04-24 20:58] mkArtakMSFT commented on #19552
Thanks everyone.
It seems that the only actual antivirus which is causing a problem is `Avast`. All the other reported cases are firewall specific, which seem to be caused by the fact that Blazor libraries are `.dll` files. We have a resolution to this already in the original thread.
In parallel, we're going to work with Avast antivirus software vendors offline to get this resolved.
Given that the

[2020-04-24 20:58] #19552 closed

[2020-04-24 20:58] mkArtakMSFT commented on #20118
This is now resolved and will be available in the VS 16.6 Preview 5 release.

[2020-04-24 20:58] #20118 closed

[2020-04-24 20:59] mkArtakMSFT commented on #19511
The only follow-up is with the Avast antivirus vendors and that's being handled offline.

[2020-04-24 20:59] #19511 closed

[2020-04-24 21:00] Tratcher commented on #21183
Ah, that's progress. A process dump or attaching a debugger would be what you need to see where those threads are stuck.

[2020-04-24 21:00] spottedmahn commented on #19552
Any chance you can link to that specific comment?  thanks!

[2020-04-24 21:01] dv00d00 commented on #21183
Debug level logs

[code]

[2020-04-24 21:01] blowdart commented on #21184
@javiercn Is this a helper class you wrote, or is it identity server stuff at that point?

[2020-04-24 21:04] dv00d00 commented on #21183
I will try to repro on my dev box under the debugger, will attempt to get dump out of container it that won't work

[2020-04-24 21:06] HaoK commented on #11881
The logic which generates the identity hosting startup actually lives in scaffolding I think, so this isn't a content change I can make as this file gets auto generated on demand by scaffolding I think.  So this issue should be moved

[2020-04-24 21:07] shirhatti commented on #21163
Timeline is unknown. @davidfowl and I are doing the customer development on this.

[2020-04-24 21:10] captainsafia commented on #19940
This can be closed now as it was resolved in #20881

[2020-04-24 21:10] #19940 closed

[2020-04-24 21:12] kanadaj opened #21194 "Antiforgery with Origin header"
### Is your feature request related to a problem? Please describe.

We have been having a long-term issue where users in certain situations are having problems submitting forms. The reason can be any number of things, from navigating on multiple tabs to mobile browsers and privacy extensions erasing cookies between GET and POST.

The main issue is that communicating this to end-users is _very_ dif

[2020-04-24 21:13] mkArtakMSFT commented on #19666
@BrennanConroy, @anurse I believe there was some internal issue which has caused many issues to fail with this `handshake failed` issue a while ago. That issue was, if I'm not mistaken, root caused to some runtime issue, which was later resolved. I'm going to un-quarantine this test.

[2020-04-24 21:15] BrennanConroy commented on #19666
Don't know any details about that, but I'm assuming this hasn't failed for a while?

[2020-04-24 21:17] anurse commented on #21187
I'd be very surprised if System.Text.Json affected that, but I'd be interested in anything you find out!

[2020-04-24 21:28] Tratcher commented on #21183
Weird, those connections don't even show that they've received any requests. Are those supposed to be https? Is it having trouble getting the FluffySpoon cert for the ssl channel?

[2020-04-24 21:30] jlinstrum commented on #21188
I am pretty much using as is the blazorwasm template with the -au IndividualB2C option, which adds the MsalAuthentication service. After testing the default local account option (which works fine), I went to the "Azure AD B2C | Identity providers" page on the Azure website and selected Facebook as an additional option for "New OpenID Connect Provider" (no changes to app code). After this the pop-u

[2020-04-24 21:39] ryanbrandenburg opened #21195 "VSCode Completions interfeer with creating a comment"
If you type `@` then wait long enough that completions are offered in VSCode then when you type `*` instead of `@**@` like expected you will get `@__builder*`.
![AtBuilder](https://user-images.githubusercontent.com/14987221/80258842-0f873b00-8639-11ea-8c24-94510402cadf.gif)

[2020-04-24 21:41] Tratcher commented on #21187
It looks very deliberate on their part, it's just surprising. We'll have to re-think how we use FileStream.

[2020-04-24 21:46] Tratcher commented on #21018
You build the backend TestServer first, get it's HttpClient/HttpMessageHandler, and pass that into the setup for the HttpClientFactory for the front end app.

You can do something similar with just one app by using a DelegatingHandler to break the chicken/egg cycle. You set up the HttpClientFactory to point to a DelegatingHandler instance, build the app, and then assign the DelegatingHandler's Inn

[2020-04-24 22:01] pranavkm opened #21196 "Merge changes from blazor-wasm -> 3.1"

[2020-04-24 22:09] TanayParikh opened #21197 "Textmate Grammar Doesn't Recognize Null-Conditional Operator"
The `C#` Null-Conditional Operator isn't being recognized by the textmate grammar, and as a result is not directly colorable.

- [null-conditional operators](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/member-access-operators#null-conditional-operators--and-) `.?`, `?[]` [should have](https://github.com/dotnet/csharp-tmLanguage/blob/master/test/utils/tokenize.ts#L41

[2020-04-24 22:16] mihaimyh commented on #5477
@danroth27  @SteveSandersonMS
I got lots of errors in browser's console related to integrity failure or file not found:

[code]

I tried the steps @danroth27 mentioned both on Windows and on a Linux Docker container with the same results.

Using 3.2 Preview 4.

[2020-04-24 22:19] mkArtakMSFT commented on #19666
I haven't been able to find any of these tests in the `Quarantined Tests` view in WhatsBroken. Was thinking about unquarantining this.

[2020-04-24 22:20] giggio commented on #20661
This seems to be a problem with the type match. We added `[ApiConventionTypeMatch(ApiConventionTypeMatchBehavior.Any)]` to our convention, and the warning went away. Using `ApiConventionTypeMatchBehavior.AssignableFrom` or removing the attribute still produces the warning.

It is an ugly workaround, we added `[ApiConventionNameMatch(ApiConventionNameMatchBehavior.Exact)]` to try and make it more e

[2020-04-24 22:26] BrennanConroy commented on #19666
These tests aren't running in Helix, so you can't use WhatsBroken to see if they are failing or not.

[2020-04-24 23:07] danroth27 commented on #5477
@radderz This issue doesn't appear to affect all environments - it's specific to certain environments and is often policy based. If we switch to a different file extension there is no guarantee that this will work for everyone. So, instead of changing the default for everyone, we are going ahead with the plan where customers that hit this issue can control the file extensions themselves using the

[2020-04-24 23:08] danroth27 commented on #5477
@mihaimyh Looks like you might have a misconfigured content security policy?

[2020-04-24 23:09] bdnts opened #21199 "Blazor UserManager not supported, use case hole"
### Describe the bug
More of an architecture conundrum than a bug.
`UserManager` plus `SignInManager` are not officially supported in Razor Components (Blazor)
(https://docs.microsoft.com/en-us/aspnet/core/security/blazor/?view=aspnetcore-3.1#authenticationstateprovider-service)  Expectation is to use `AuthenticationStateProvider`, `AuthorizeView`, etc.  This leaves a hole working with user accoun

[2020-04-24 23:13] dv00d00 commented on #21183
Those are https indeed.

FluffySpoon is a lets encrypt cert renewal middleware, it got the certificate into a static variable before the server started listening to requests. (  according to logs at least )
 (https://github.com/ffMathy/FluffySpoon.AspNet.LetsEncrypt/blob/master/src/FluffySpoon.AspNet.LetsEncrypt/KestrelOptionsSetup.cs)

I was not able to reproduce exact behavior locally, neither a

[2020-04-24 23:17] devna13 commented on #21164
it turned out this [https://github.com/dotnet/aspnetcore/issues/14388](https://github.com/dotnet/aspnetcore/issues/14388) is the main issue and not the package mix cause there is NO "Microsoft.AspNetCore.Identity"  PACKAGE ANYMORE !!!

[2020-04-24 23:22] mkArtakMSFT commented on #19952
@NTaylorMullen what's the next action pending here? If this is a bug, is this on our side? I would like to understand the user impact a bit better.

[2020-04-24 23:26] mihaimyh commented on #5477
@danroth27 Can you, please, be more explicit? What security policy are you talking about? I got those errors even on dev environment where I believe there is no security policy implemented.

[2020-04-24 23:51] PylotLight commented on #21057
Do you mean this logging?
Verbose logs are written to:
C:\Users\USER\AppData\Local\Temp\vscode-edge-debug.txt

It's my main machine, so not sure I want to reinstall Windows on it :P
Not sure what other logging you meant sorry for me to look at.

[2020-04-24 23:52] danroth27 commented on #5477
@mihaimyh Sorry, I think I mixed up content security policy with [subresource integrity](https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity). It looks like the browser is trying to enforce that the hashes of downloaded assets match hashes specified in markup via the `integrity` attribute, but the `integrity` attribute is missing. This could also be related to how Blazor do

[2020-04-24 23:57] mihaimyh commented on #5477
@danroth27 Ok, and I believe I can bypass integrity checking by adding

`<BlazorCacheBootResources>false</BlazorCacheBootResources>`

to my .csproj files but I still got 404 event with integrity checking disabled.

[2020-04-25 00:25] Atulin opened #21201 "Issues after changing Identity IDs from string to long"
### Describe the bug
I changed the ID type from `string` to `long` according to [this documentation article](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/customize-identity-model?view=aspnetcore-3.1#change-the-primary-key-type). Creating a migration went flawlessly, so did updating the database after dropping it first.

What did not work flawlessly, however, is the site gre

[2020-04-25 00:27] davidni commented on #21157
@anurse yep, I filed the issue to confirm there is still interest in it and avoid unnecessary work if not. Expect something by mid next week, though no guarantees due to DRI duties.

[2020-04-25 00:29] dv00d00 commented on #21183
Managed to collect trace
[trace.zip](https://github.com/dotnet/aspnetcore/files/4532083/trace.zip)

[2020-04-25 00:42] #21201 closed

[2020-04-25 03:02] danroth27 commented on #5477
@mihaimyh If you can reproduce this reliably, I would suggest opening up a new issue for this problem, as it doesn't appear to be related to the file extensions issue. That will make it easier to engage the right folks.

[2020-04-25 03:50] Lupusa87 opened #21205 "[Blazor] Javascript file did not updated automatically after publishing app new version"
Hello,

 I am hosting blazor webassembly app on azure storage static website.

 I made some changes in c# side and in javascript interop file.

 Published app and browsed it with chrome, app got updated automatically as expected (some new version changes was applied) but javascript file was same in sources.

 After hard reload js file updated too and everything works well now.

 I can't tell all m

[2020-04-25 04:17] mariohik commented on #21169
This error actually occurs when in DEBUG mode a page with OnInitialized or OnInitializedAsync.
If you run without DEBUG (CTRL + F5) the application runs smoothly.
You can try on FetchData.razor
[BlazorApp4.zip](https://github.com/dotnet/aspnetcore/files/4532340/BlazorApp4.zip)

![Anotação 2020-04-25 011405](https://user-images.githubusercontent.com/38980017/80270873-21e19300-8692-11ea-9d02-6ff49e9

[2020-04-25 04:39] kamranayub commented on #18660
Came here looking for the same information in the docs and see there's an open PR, hope to see this!

In my case, I actualy **only** want ClientCertificate auth in Production because I am using Cloudflare's [Authenticated Origin Pulls](https://support.cloudflare.com/hc/en-us/articles/204899617) which requires a client certificate.

I need a way to only apply this setting in `Production` and I was

[2020-04-25 06:05] jan-johansson-mr commented on #12685
The issue (as from what I see is type incompatibility - not unexpected since we deal with two separate frameworks) can be solved either by introducing artifacts as described in this thread, either via sprinkling the serializer with attributes, or by introducing POCO, e.g. `Undefinable<T>` for the JS Runtime (Blazor) to deal with (personally I prefer the `Undefinable<T>` since the proposed serializ

[2020-04-25 07:18] Timka654 commented on #20992
1. dotnet nuget locals --clear all
2. Update all packages in all projects in solution to latest preview versions
- Microsoft.AspNetCore.Components
- Microsoft.AspNetCore.Components.*
3. Install package Microsoft.AspNetCore.Components.WebAssembly to project(.Models.dll) have error "ResolveStaticWebAssetsInputs"
4. dotnet restore

resolved problem for me

[2020-04-25 08:39] mrpmorris commented on #19552
@spottedmahn some suggestions here https://github.com/dotnet/aspnetcore/issues/5477

[2020-04-25 08:59] VARUN46 opened #21206 "CLI does not set TFM net5.0 in .csproj"
### Describe the bug
When I Create a new application from Dotnet CLI the .csproj does not show correct TFM in .NET 5 Preview 3

### To Reproduce
Create A New Project using CLI,
    dotnet new mvc -o WebApp5.Mvc -f netcoreapp5
Open .csproj
[code]

dotnet run

Additional Details:
Change To This:
[code]
dotnet run

Both works correctly!!

### Further technical details
- ASP.NET Core version : 5.0.100

[2020-04-25 09:12] zeeshanejaz commented on #19552
I think it's a good idea to test all popular antivirus AVG, NOD32, MalwareBytes, Avira, Kaspersky, Norton, Macfee, etc.

[2020-04-25 10:00] Joelius300 commented on #12685
Good points. I'm biased against the idea of `Undefinable` (especially on blazor level) because it would bloat up the models in my use case and make them harder to use. If you implement that on blazor level, libraries without a blazor dependency will be much more difficult to customize for serialization. That's why I would tie `Undefinable` to the serializer (`System.Test.Json`) if something like t

[2020-04-25 11:00] #21144 closed

[2020-04-25 12:00] #21170 closed

[2020-04-25 12:37] blowdart commented on #21194
Origin can easily be faked or changed, just like referrer. It's not a security mechanism and this isn't suitable for CSRF protection.

[2020-04-25 12:45] xiaguoli opened #21207 "Restore Failed from Source !"
PS D:\Demo\aspnetcore> .\restore.cmd
Building of C# project is enabled and has dependencies on NodeJS projects. Building of NodeJS projects is enabled since node is detected in C:\Program Files.
Detected JDK in C:\Program Files\Java\jdk1.8.0_171 (via JAVA_HOME)
  C:\Users\xiagl\.nuget\packages\microsoft.dotnet.arcade.sdk\1.0.0-beta.20113.5\tools\Tools.proj 的还原在 377.25 ms 内完成。
dotnet-install: Downl

[2020-04-25 12:47] xiaguoli commented on #21207
git tag v3.1.3

[2020-04-25 14:11] jan-johansson-mr commented on #12685
I tried the `ExpandoObject` (that seems not supported in Blazor domain, but in .NET Core domain), and I was surprised to see that CamelCase is not supported when using `Serialize`. It behaves as you would simply pass in the `Dictionary<string, object>` to `Serialize`.

That said, there is a third option that is available if we don't want to, or able to, use anonymous types. This option is somewhat

[2020-04-25 15:23] kanadaj commented on #21194
@blowdart But then why is it part of the OWASP CSRF cheat sheet? https://cheatsheetseries.owasp.org/cheatsheets/Cross-Site_Request_Forgery_Prevention_Cheat_Sheet.html#verifying-origin-with-standard-headers

Isn't Origin a forbidden header only alterable by the browser?

[2020-04-25 15:43] burakakca opened #21209 "[BlazorWasm] Does not give math calculation correctly"
[code]

[code]
[code]

When I look at the console output I get four 0 and one 100 output

I have Blazor WebAssembly 3.2.0 Preview 5

[2020-04-25 16:42] Carl-Hugo commented on #12685
Adding an `Undefinable<T>` class to the framework would mean coupling our C# classes with the serialization process and would introduce a whole new layer of complexity; we already have `null`, I think that's enough 😉

Back to the basic; requirements are: we need the ability to customize the serialization process.

How? Either with access to the global "ignore null" switch (for global policies), an

[2020-04-25 16:46] lindenerik commented on #21209
This is not related to Blazor itself but rather to integer division, change your calculation to:

`int pctValue = (int)((double)review.AvgRating / review.MasRating * 100);`

[2020-04-25 16:52] blowdart commented on #21194
You're relying on browser protection at that point, and that has proved problematic in the past. Also, browser extensions exist to mess with requests.

[2020-04-25 17:19] vchirikov commented on #21094
Hm, looks like github pages doesn't support br too.

[2020-04-25 17:33] jan-johansson-mr commented on #12685
I like your approach, decoupling is great! I also like the option of either pinning the property conversion to some basic transformation `IgnoreNull`, or dynamically via `ConvertUsing`. It may have the potential to be a candidate for the `System.Text.Json` serializer, and/or `JSRuntime` as well.

I'm also thinking that this is a good candidate for construct/deconstruct a dynamic object before feed

[2020-04-25 17:35] Joelius300 commented on #12685
Interesting approach. However, I think now we're just talking about how to create, configure and apply `JsonSerializerOptions` and serialization attributes and I don't think this belongs here. I say this because I opened this issue for the sole purpose of being able to customize the serialization that the js-interop uses.
I don't think it would make sense to introduce a new system or even a new ty

[2020-04-25 17:39] jan-johansson-mr commented on #12685
Mmm... if we actually could add to the `Convert` API (and to other configuration as well) with the serializer, then we could elevate serialization/deserialization! Good point there too :-)

Thanks!

[2020-04-25 17:39] #21209 closed

[2020-04-25 17:47] Joelius300 commented on #12685
`JsRuntime` uses `System.Text.Json` internally and I'm quite sure that won't change anytime soon. That's why I'm almost certain the features you two (@jan-johansson-mr and @Carl-Hugo) are considering may be a good fit for the serializer (`System.Text.Json`) but not the blazor-js-interop. If implemented for the serializer, they will automatically apply to the blazor-js-interop too. However, there a

[2020-04-25 17:54] HeroSpha commented on #17926
i was experiencing the same problem, my app was working fine, then suddenly this error started to pop up. i cleaned and rebuild the solution and it went away.  im using 3.2.0-preview4.20210.8

[2020-04-25 18:01] Xeddon opened #21210 "Blazor Webassembly Preview 5 throw AccessTokenNotAvailableException for [AllowAnonymous]"
I updated an existing Preview 4 project.
I added:
`            builder.Services.AddHttpClient("BlazorApp5.ServerAPI", client => client.BaseAddress = new Uri(builder.HostEnvironment.BaseAddress))
                .AddHttpMessageHandler<BaseAddressAuthorizationMessageHandler>();`
` // Supply HttpClient instances that include access tokens when making requests to the server project
            builder

[2020-04-25 18:35] HaoK commented on #20001
Fixed for 5.0 in https://github.com/dotnet/aspnetcore/pull/20356 will port to 3.1/2.2 next

[2020-04-25 18:39] AlexTeixeira commented on #20346
Hi,

Same here. For info, If I debug the GetString Method, the correct culture is displayed.

[2020-04-25 18:53] dv00d00 commented on #21183
I've added reverse proxy in front of Kestrel.

Got a decent amount of metrics, change is very obvious.

Cpu from VM:
![image](https://user-images.githubusercontent.com/1162823/80288006-9ae9f480-873d-11ea-9486-b404fed74ecf.png)

Network from VM:
![image](https://user-images.githubusercontent.com/1162823/80288016-a76e4d00-873d-11ea-9d9b-5df2f5fb0739.png)

Cpu from .net metrics:
![image](https://user

[2020-04-25 20:00] #21167 closed

[2020-04-25 20:00] #19114 closed

[2020-04-25 20:12] davidfowl commented on #21183
@dv00d00 it sounds like you have a typical sync over async issue where your thread pool is being starved. It's likely caused by something in process blocking, if you're willing to, I'd like to help you debug this issue. To verify that it might indeed be thread pool starvation can you run dotnet counters inside of your container on the application that having this problem? The counters to look at w

[2020-04-25 20:31] dv00d00 commented on #21183
@davidfowl will do. Are we interested in just my code or the whole setup which was experiencing thread pool starvation? (I assume the whole setup).

I've attached a graph of lock contention above, it shows a significant drop after I've removed some of middlewares from pipeline.

[2020-04-25 20:43] davidfowl commented on #21183
Yes, I'm interesting in a couple of things:
- What components are "slow" here. Do you have anything blocking threads? Is it the lock contention?
- Between a dump and a trace, what things tools can we build to improve the diagnostics of these cases (we're working on a few specific async aware diagnostics tools that I want to try out on your scenario).

If you remove the load balancer and also remov

[2020-04-25 21:03] jonstelly opened #33827 "Running multiple "dotnet watch run" with dependency overlap periodically fails"
I've got a dotnet core solution with several class libraries, an asp.net core web app project and a background worker project that share dependencies on the class libraries.  During development I fire up a `dotnet watch run` for both projects.  All of my development is currently on Windows.

When I modify a file in a dependency project both watches start builds at almost the same time and fairly o

[2020-04-25 21:26] mnbeer commented on #20322
I understand that decisions have to be made and after this post I will leave it be. But I want to stress how important it is to have a concise and familiar templating syntax if you want to lure developers away from Angular/Vue/React. Staying put is an opportunity lost.

My view of the history of C# is that its evolution has always included alternate, more elegant syntax. For if statements alone, t

[2020-04-25 21:40] dv00d00 commented on #21183
@davidfowl

Due to the thread blocking: I am almost certain that there are no blocking calls (I am awaiting every async method or clear usage of lock instructions). The app is pretty simple, a bunch of controllers with views, some API calls via IHttpClientFactory. Views are a bit involved though, a lot of partials, some usage of `ICompositeViewEngine.GetView` here and there and that is basically i

[2020-04-25 21:41] dv00d00 commented on #21183
[counter.zip](https://github.com/dotnet/aspnetcore/files/4534080/counter.zip)

[2020-04-25 21:42] dv00d00 commented on #21183
For this counter log, I've collected metrics from the case when I initially hit the app with a bunch of requests. I've stopped load, waited till I was able to get success and then launched another test run.

[2020-04-25 21:45] dv00d00 commented on #21183
Due to the dump, any advice on how and when to get it ?

[2020-04-25 21:48] davidfowl commented on #21183
Libraries you are using might not be as diligent as you are.

Visual Studio also supports nettrace files! 😄

Thats very interesting it sounds like an the threadpool might be bombarded and requests are queued not being dequeued because there's a low number of threads to begin with. That usually only matters when blocking but it could also be due to things like Parallel.For/Foreach etc.

If you can

[2020-04-25 21:56] dv00d00 commented on #21183
I am able to reproduce this thing easily, so dump is 100% possible

I've visualized metrics:

ThreadPool Queue Length
![image](https://user-images.githubusercontent.com/1162823/80291702-94b54180-8758-11ea-974f-0d22c7bab2da.png)

Lock contention
![image](https://user-images.githubusercontent.com/1162823/80291715-a860a800-8758-11ea-9b12-5290e21f5e3e.png)

[2020-04-25 22:02] davidfowl commented on #21187
@stephentoub for ideas/advice. For context, for our JSON.NET formatter (which does synchronous IO) we buffer in memory then to disk over a certain threshold then copy that stream asynchronously to the response body. Turns out marking the FileStream async makes synchornous writes do sync over async. Do you have any idea how we should be using the FileStream here to make this better?

One idea that

[2020-04-25 22:09] davidfowl commented on #21187
@pranavkm Before we fix this we should gather all of the issues with the newtonsoft formatter and put them into an epic. Seems like we have a few (like the one about doing lots of small writes)

[2020-04-25 22:40] dv00d00 commented on #21183
Due to the temp solution, can anyone validate this:

Some sort of initialization is happening during the first HTTP request to the server. This initialization requires a lock. If the uninitialized server is getting a bunch of requests it will spawn a thread for each, normally only a thread per core will be used.

A bunch of threads waiting to be dispatched crush cpu, nothing happens at this stage.

[2020-04-25 23:22] mkArtakMSFT commented on #21206
Thanks for contacting us. This is already being handled as part of https://github.com/dotnet/aspnetcore/pull/20748

[2020-04-25 23:22] #21206 closed

[2020-04-25 23:32] mkArtak opened #21211 "Add support for `visibility` directive"
As a component library writer I want to make sure certain components stay internal to my library and can't be instantiated. It would be nice to be able to add `@visibility internal` at the top of my razor component.

For components, which are defined in `.cs` files only (like classes which derive from existing components), it's easy to do this.

Thinking some more about this, I'm not sure support

[2020-04-25 23:34] clintnetwork opened #21212 "[Blazor] Button not firing when a page parameter is set"
Hey,

I do not succeed to make a simple onclick to a button when a page parameter is set!

I have a bit snippet:

This does not work:
---
[code]

But this is work:
---
[code]

Incredible!

PS: using blazer server not wasm version

[2020-04-25 23:35] Carl-Hugo commented on #12685
The idea is indeed related to `System.Text.Json`. It could also be nice to have that at the `InvokeAsync` level (like the config parameter is passed to the serializer). But before `JsRuntime` comes `System.Text.Json`...

As for the repo, I'm a bit lost with all of the repo/merged/moved since the beginning; I'll copy/reformulate the idea in dotnet/runtime later.

I got a bit off the track of the "E

[2020-04-25 23:58] mkArtak opened #21213 "Component is not initialized, if it's internal"
I have a component defined as:

[code]
I reference it in a different component markup as follows:

[code]

The `OnInitialized` never fires unless I change the visibility to `public` it does.

[2020-04-26 00:01] kanadaj commented on #21194
If a browser extension messes with the Origin header, that's not really scope of CSRF, is it?

[2020-04-26 00:29] davidfowl commented on #21183
Perfect, can you get a dump? In your docker file, if you're doing a multi-statge build you can use the build stage to install the dotnet dump tool then copy it over to the runtime image. After you do that, you should be able to exec into the container and run dotnet-dump on the tool to capture it inside of the container. I'd recommand capturing the dump an looking at it inside of the container sin

[2020-04-26 00:32] jernejk commented on #20935
That's fine as long as we have a nicely documented way of doing this on GitHub Pages and Azure Blob Storage Websites.

At the moment I found only this and it doesn't help.
https://github.com/dotnet/AspNetCore.Docs/blob/master/aspnetcore/blazor/hosting-models.md

[2020-04-26 00:56] davidfowl commented on #21183
This is what you can put in your docker file to install the tools (assuming you're doing a multi-stage build)

[code]

[2020-04-26 02:02] Leosamus commented on #21059
No, that's absolutely not what I said.
It's not normal that I need to manually install these modules on my built SSR angular. If node_modules with request, eventsource and ws are not present in server.js folder, there is that error.
You shouldn't have to do this. So, that's not a misconfiguration.

[2020-04-26 02:07] BrennanConroy commented on #21059
Could you try using the latest preview and seeing if that resolves the issue?
https://www.npmjs.com/package/@microsoft/signalr/v/5.0.0-preview.3.20215.14

[2020-04-26 02:29] timgabrhel commented on #21187
@anurse Finally got to debug and it's just a `[JsonProperty("xyz")]` serialization problem. Upon initial review, we are just doing basic converters & property attributes that have feature parity. The one feature I may be missing is `ReferenceLoopHandling`. I have this configured in Startup, but I can't recall if I _need_ it off hand.
https://docs.microsoft.com/en-us/dotnet/standard/serialization/s

[2020-04-26 03:16] jan-johansson-mr commented on #12685
Revisiting the idea of separating concern by @Carl-Hugo (after some sleep even) :-) gave me some reflections. There is three ideas floating around (I think), and to sum it up:

- To pin down transform by attribute (@Joelius300)
- To pin down transform by type (@jan-johansson-mr)
- To pin down transform by linq expression (@Carl-Hugo)

All three ideas express the concern of where to put the knowled

[2020-04-26 03:44] gurry opened #21214 "Low performance under IIS"
### Description of the bug
For a certain URL scheme Asp.Net Core Web API application runs slow when hosted under IIS
### To Reproduce
1. Create a bare bones Asp.Net Core 3.1 Web API application with a single controller and single action method as shown below:
[code]
As shown above the route for the method should be set up to receive GET requests for the URL `/test/<id>` where `id` is an integer.

[2020-04-26 07:20] ArjunVachhani opened #21215 "How to send Ping/Pong Control frames, events for Ping frame sent by client."
WebSockets protocol provides mechanism to check the responsiveness of the other endpoint using ping and pong control frames. There is no API exposed to send ping/pong control frames. I hope it is handled by asp.net middleware internally, As there is `KeepAliveInterval` property to specify it. There should be API exposed for sending control frames, also events for pong/ping frames sent by clients.

[2020-04-26 08:24] InsaneWookie commented on #20597
I ran into the same issue I think when setting up a brand new install. Looks like possibly some https issue. I was able to get debugging working in VS Code on Ubuntu using http instead of https.

In launch.json under the ".NET Core Debug Blazor Web Assembly in Chrome" launch configuration, change url to "http://localhost:5000"

Full launch config
[code]

[2020-04-26 09:58] javiercn commented on #21213
@mkArtak components are required to be public classes. That's by design.

[2020-04-26 10:02] TheBlueSky opened #21216 "asp-action behave differently between ASP.NET Core 2.2 and 3.1 when Action Method has Async suffix"
While upgrading an application from ASP.NET Core 2.2 to 3.1 I noticed that `asp-action` TagHelper behave differently in these versions.

I am not sure this is intentional or not, or whether it was announced as a breaking change or not. Also, not sure if [this issue](https://github.com/dotnet/aspnetcore/issues/19927) is talking about the same thing or not; in my case, the link is not generated at a

[2020-04-26 10:10] javiercn commented on #21205
@Lupusa87 thanks for contacting us.

This is out of Blazor's control and is something that you need to handle with whatever hosting you are using. This is "standard" HTTP caching techniques:
* Use ETags when serving the files
* Set a proper cache header when returning the JS responses.

Other than that if you need something like this, I can thing of a couple alternative strategies:
* Take control

[2020-04-26 10:11] educielo opened #21217 "JavaScript InterOp Error when calling Javascript or Blazored.LocalStorage functions from OnInitializedAsync"
### Describe the bug
I am following a sample app from the NDC Oslo which is this app: https://github.com/SteveSandersonMS/presentation-2019-06-NDCOslo/tree/master/demos/MissionControl. I am doing a Server Side blazor and im following how the Jwt token is being implemented from this.
I am calling an rest endpoint from OnInitializedAsync which needs getting the token from the local storage. The code

[2020-04-26 10:26] PylotLight commented on #21057
Attempted to look into it more.
![image](https://user-images.githubusercontent.com/7006124/80304709-22496d80-87fb-11ea-9ee7-2cc3aefa2397.png)
Not sure what this JS is trying to do, but it's failing for some reason.
![image](https://user-images.githubusercontent.com/7006124/80304717-30978980-87fb-11ea-87e2-c65b37cf260f.png)

[2020-04-26 10:28] MarkusRodler commented on #19644
@javiercn I think this is a really cool feature. But unfortunately this is only be applied to files from the framework. Is it also possible to include the other files in the project like js, css and svg files?

[2020-04-26 10:30] javiercn commented on #19644
@MarkusRodler we are looking to expanding it for other files. Unfortunately we didn't have time to make it for the current release. We'll look into improving the situation in the future.

[2020-04-26 10:48] javiercn commented on #19417
This was resolved in .net core 5.0-preview2. Closing

[2020-04-26 10:48] #19417 closed

[2020-04-26 10:56] javiercn commented on #17066
@pranavkm answer here is correct. The behavior is by design.

[2020-04-26 10:56] #17066 closed

[2020-04-26 11:05] blowdart commented on #21194
True, but we tend to be paranoid. The other problem is we can't make it unique per user, so shared applications on a shared domain is going to be able to stomp all over tokens meant for other sites.

[2020-04-26 11:08] #19131 closed

[2020-04-26 11:14] shyamal890 commented on #19961
Sorry, I didn't get it, how to utilize `FindByIdAsync` when the user key's is `long`?

[2020-04-26 11:20] dv00d00 commented on #21183
Got it
[stack.txt](https://github.com/dotnet/aspnetcore/files/4535181/stack.txt)

[2020-04-26 11:49] maxcherednik opened #21218 "TestServer causes a deadlock"
### Describe the bug

We have a lot of tests which are written in a way described here:
https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-3.1#basic-tests-with-the-default-webapplicationfactory

Sometimes WebApplicationFactory + TestServer cause a deadlock while running under xUnit.

This particular line causes this:
https://github.com/dotnet/aspnetcore/blob/54722a

[2020-04-26 12:01] dv00d00 commented on #21183
looks like `System.Net.Http.TLSCertificateExtensions.BuildNewChain` blocks

[2020-04-26 12:41] Joelius300 commented on #12685
I don't think we're talking about the same thing. Let me summarize again.

## What is already possible
Customizing serialization via attributes. This means:
- Applying custom converters to your own, non-generic types (`JsonConverterAttribute`)
- Using `JsonExtensionDataAttribute`
- Ignoring properties completely (`JsonIgnoreAttribute`)
- Renaming properties for serialization (`JsonPropertyNameAttr

[2020-04-26 13:28] Lupusa87 commented on #21205
@javiercn Thank you, will follow your advices.

[2020-04-26 13:28] #21205 closed

[2020-04-26 14:05] jan-johansson-mr commented on #12685
Thanks for a nice description! 👍

My argument was never to emit `undefined` per se (maybe I could have been more clear about that), my argument was to control when to emit either `null`, `instance` or omit the property at transform (the omitted property of interest simply becomes `undefined` in JavaScript) :-)

Use of attributes pin the transform behavior, thus the property is always ignored if we

[2020-04-26 14:37] ramax495 commented on #20248
I have the same issue. Also there was one more issue on his theme: https://github.com/dotnet/aspnetcore/issues/16916

[2020-04-26 14:43] hikalkan opened #21219 "HtmlHelper is using ModelExpressionProvider instead of IModelExpressionProvider"
HtmlHelper is using `ModelExpressionProvider` ([see](https://github.com/dotnet/aspnetcore/blob/master/src/Mvc/Mvc.ViewFeatures/src/HtmlHelperOfT.cs#L18)). But there is a [IModelExpressionProvider](https://github.com/dotnet/aspnetcore/blob/master/src/Mvc/Mvc.ViewFeatures/src/IModelExpressionProvider.cs) interface you know. Is this a bug or by design?

It also uses [_modelExpressionProvider.GetExpre

[2020-04-26 14:58] davidfowl commented on #21183
Yep https://github.com/dotnet/runtime/blob/dbc7fc6ec8d3812cef5eee5d0a9492e0c1fc37e1/src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/CertificateAssetDownloader.cs#L99-L124

This has plagued several issues now and it might be time to discuss an alternative. I'm not even sure its possible to work around 😢 .

Look @bartonjs its our friend again 😄.

- http

[2020-04-26 15:00] marek287 commented on #20780
No luck. After adding:
[code]
[code]

[2020-04-26 16:24] dv00d00 commented on #21183
Well..., 🛡️

Does it mean do not use Kestrel as an edge server until SslStream is fixed for Unix? Any chance it will be fixed as a prerequisite for YARP?

I took a brief look at the source code for ssl stream, does it download cert for request Kestrel handles?

I mean maybe there is a way to cache it somehow before starting port listening?

This did not work:
[code]

Thanks for replies on weekend

[2020-04-26 16:25] Lobosque commented on #14907
Got hit by this very problem while migrating a 2.2 codebase to 3.x

[2020-04-26 16:32] enetstudio opened #21220 "How can I retrieve all the ValidationMessageStore associated with a given field identifier"
I know how to retrieve the validation message via EditContext, but how to get  a ValidationMessageStore, read its contained message, and apply some changes to it.

Thanks...

[2020-04-26 16:38] gigantedocil opened #21221 "Allow the parameterization of the DefaultIdentityUIPathPrefix value when using AddIdentityServerJwt()"
### Is your feature request related to a problem? Please describe.
By default, when using the `AddIdentityServerJwt()`, [the authentication policy scheme will be forwarded to](https://github.com/dotnet/aspnetcore/blob/master/src/Identity/ApiAuthorization.IdentityServer/src/Authentication/AuthenticationBuilderExtensions.cs) `/Identity`. If my application does not use the `/Identity` route, authenti

[2020-04-26 17:37] mkArtak commented on #21213
I get this, and I'm making a point there are situations, where you want them to be `internal`. Situations, where you want to have helper components in a component library, without exposing these helpers for outside usage.

[2020-04-26 17:38] mkArtak commented on #21213
I don't think there was similar ask, which means that nobody yet actually needed this. We'll probably need to backlog this and see whether the need for this becomes real or not.

[2020-04-26 18:08] davidfowl commented on #21218
We should fix this.

cc @Tratcher

[2020-04-26 18:14] davidfowl commented on #21183
I don't see an obvious way to disable this download. This has come up several times with lets encrypt and we're going to need to revisit this solution.

It's happening every time you boot the container right? I believe they are stored on disk and that might be the reason for his behavior? Let me do some more digging on a potential workaround.

[2020-04-26 18:15] davidfowl commented on #21183
BTW please file an issue on dotnet/runtime. This needs to be fixed in SSlStream and X509Chain

[2020-04-26 18:44] Carl-Hugo commented on #12685
`undefined` means "does not exist/not defined/not there/missing". On the other hand, `null` means an "object that has a value of `null`". Telling the serializer to ignore null values on certain properties should be enough to cover that use case (all three use cases):

- don't serialize nulls = `undefined` or instance
- serialize nulls = `null` or instance

_For a way to reuse a POCO with multiple