[2020-01-29 20:08] wtgodbe commented on #17949
Attempting this as part of https://github.com/dotnet/aspnetcore/pull/18247

[2020-01-29 20:19] ygoe commented on #14062
This additional hidden input already exists because ASP.NET MVC adds it, and you can see it clearly in my demo app. But it has the wrong value, if I interpret this correctly. The checkbox is checked, but that additional hidden input says "false". In the end it doesn't seem to have any useful effect. If it weren't there at all, things would behave the same.

So we have two solutions here:

1. ASP.N

[2020-01-29 20:31] javs-ctr commented on #18660
Greetings Tratcher, thank you for linking to the issue regarding the reading of additional `KestrelServerOptions` from configuration. If only I had found that issue before polluting the AspNetCore issues list with two redundant issues.

Anyway, to be honest, configuring `ClientCertificateMode` would be a _"nice to have" / want_, rather than a _need_. Configuring this Kestrel server option in the `

[2020-01-29 20:36] guardrex commented on #18660
I'll take care of that @javs-ctr. I'll re-open your original issue and work it from there. Instead of a reference source link, which is difficult for us to maintain release-to-release, I'll indicate that configuration shown in the example *appsettings.json* file in the topic's text encompasses all of the available settings that can be configured from a config provider.

[2020-01-29 20:46] artemsv commented on #18019
Our admins says that they changed EC2 instance type from r5.xlarge to r5a.xlarge (with AMD CPU) and the issue disappeared!

[2020-01-29 20:56] pranavkm commented on #18545
The latter. The one scenario that would be broken as a consequence is debugging the app. Publishing it in Debug should fix it if that's an issue.

[2020-01-29 21:04] JohanOtto commented on #18662
Hey - not sure if this is my problem. Here's my package refs

[code]

[2020-01-29 21:07] anurse commented on #18654
Well, it's a little of both. We should probably call `CloseAsync` but mono should *also* be terminating the connection when the socket is disposed (even if `CloseAsync` wasn't called). We'll take a look at our logic but @mkArtakMSFT I think you should go ahead and move this to mono.

[2020-01-29 21:09] anurse commented on #18657
This is recommended approach. Ambient context like `IHttpContextAccessor` can cause a lot of problems. We have `IHttpContextAccessor` because of the past history with `HttpContext.Current` but don't plan to add something similar here. If you want to do it, you can store the `HubContext` in a static property of type [`AsyncLocal<HubContext>`](https://docs.microsoft.com/en-us/dotnet/api/system.threa

[2020-01-29 21:09] #18657 closed

[2020-01-29 21:11] anurse commented on #18575
Ok, closing as it appears there is no further action from the team needed here.

[2020-01-29 21:11] #18575 closed

[2020-01-29 21:12] wtgodbe opened #18667 "Pin dependencies from the dotnet/efcore repository"
In the spirit of pulling EFCore out of our release graph, we should stop having those dependencies be updated automatically by DARC, and instead treat them like 3rd party dependencies. We can do this one of two ways, both of which require deleting the Darc subscriptions:

1. Pin the dependencies in `version.details.xml`, update both version files when we want to take an EFCore update
2. Remove the

[2020-01-29 21:12] asianx commented on #18019
Hello,
Was facing a similar issue as others here.  After installing ASP.NET Core Hosting Bundle 3.1.1, all 32 bit application pools were stopping automatically upon trying to access the site/application through web browser.

Based on the event logs was getting the following:
Faulting module path: C:\Program Files (x86)\IIS\Asp.Net Core Module\V2\aspnetcorev2.dll

After uninstalling the 3.1.1 bundl

[2020-01-29 21:12] anurse commented on #18617
This isn't something we intend to support in SignalR. Hubs aren't designed as a tenant boundary. If you want to support multi-tenancy, you should do that within the hub (such as by the user principal).

[2020-01-29 21:12] #18617 closed

[2020-01-29 21:17] anurse commented on #18662
@JohanOtto can you attach your `.deps.json` file? (it's in the `obj` directory). Please don't copy-paste it, just drag it on to the GitHub comment box and drop it and GitHub should let you upload it (you may need to change the file extension). That will show the complete package graph. This is exactly the way that #17973 reproduces so we suspect **something** must be pulling in a mis-matched versi

[2020-01-29 21:18] joeloff commented on #18019
I'll need to double check, but copying the old file is likely required because ANCM upgrades in place. So if you have multiple ANCM installs and then remove the one that installed the highest version of the DLL, but an older MSI holds a reference to the DLL, the ref count would simply be adjusted and the newer copy would remain. Your option is to either replace the file manually or to delete it an

[2020-01-29 21:20] anurse commented on #18230
Ok, we'll close this then as it sounds like there isn't much to move forward on here. Feel free to file a new one if something else comes up.

[2020-01-29 21:20] #18230 closed

[2020-01-29 21:22] anurse commented on #18505
What happens when you run the app directly with `dotnet` on the command line (as recommended in the troubleshooting guide)? Also, the code you provided isn't sufficient to run and reproduce the issue.

[2020-01-29 21:29] jkotalik commented on #18019
@joeloff is correct. Copying the old files is required. Another option is to do the following:
Install the 3.0.0 hosting bundle with the flag: OPT_NO_RUNTIME
Install the 3.1.1 hosting bundle with the flag: OPT_NO_ANCM

usage:
[code]

I'm discussing with our build team ways to get a fix out as soon as possible. Thanks you all for your patience.

[2020-01-29 21:29] anurse commented on #18482
I can transfer it there to cover the SNI load failure. Context for runtime folks: Question is in regards to requiring the "Execute" NTFS permission when loading a native DLL like sni.dll (for SQL Client).

Yes, changes we make will sometimes affect the permissions required. We don't aim for "fewest permissions" but rather for doing the correct operations and if those require additional permissions

[2020-01-29 21:30] pranavkm commented on #18509
@Meai I verified this no longer reproduces in the 3.1 branch. The non-public feeds have been removed. The [3.1.1 tag](https://github.com/dotnet/aspnetcore/blob/v3.1.1/NuGet.config#L9-L12) continues to reference these packages, if you were to specifically build that tag, you'd have to edit the NuGet.config to remove these.

[2020-01-29 21:30] #18509 closed

[2020-01-29 21:31] anurse commented on #18605
Should hosting do this for you automatically though? Does it have a negative impact on your app at all?

[2020-01-29 21:33] anurse commented on #13804
Yep, this is expected if you are running outside of your local user profile. You'll need to import a specific certificate and can't use the dev cert since that associated with your user.

[2020-01-29 21:33] #13804 closed

[2020-01-29 21:36] danroth27 opened #18670 "Blazor Hybrid"
Use .NET and Blazor to build native apps for desktop and mobile while using web technologies (HTML, CSS) for the UI.

Relevant experimental projects:

- [Blazor + Electron](https://aka.ms/blazorelectron)
- [Blazor + WebWindow](https://aka.ms/webwindow)

[2020-01-29 21:37] danroth27 commented on #11082
@paolofulgoni  Great question! I've created https://github.com/dotnet/aspnetcore/issues/18670 to track Blazor Hybrid related scenarios.

[2020-01-29 21:38] Tratcher commented on #18660
It's a legitimate ask, and a relative easy property to map from config.

[2020-01-29 21:47] benaadams commented on #18605
Standard for vintage ASP.NET?

[2020-01-29 21:47] benaadams commented on #18605
No idea

[2020-01-29 21:48] mkArtakMSFT commented on #14691
Thanks for the details. Are you interested in sending us a PR for this proposal? We'll happily consider it.

[2020-01-29 21:49] mkArtakMSFT commented on #14691
We're reviewing community submitted PRs weekly and we will pick yours up in a week, if you send it now.

[2020-01-29 21:52] mkArtakMSFT commented on #12484
This looks like caused by how MSBuild evaluation works, rather than a behavior of the dotnet watch tool. Given that this has not been impacting community in general and we haven't heard many complains, I'm going to close this for now.

[2020-01-29 21:52] #12484 closed

[2020-01-29 21:54] #17949 closed

[2020-01-29 21:54] mkArtakMSFT commented on #8957
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2020-01-29 21:54] #8957 closed

[2020-01-29 21:56] mkArtakMSFT commented on #10629
Thanks for contacting us.
We haven't heard others complaining about this issue. If you believe this is still an issue please share memory profiles of your dotnet watch app so that we can investigate this further.

[2020-01-29 21:58] mkArtakMSFT commented on #8172
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2020-01-29 21:58] #8172 closed

[2020-01-29 22:00] mkArtakMSFT commented on #6989
Thanks for contacting us.
As of ASP.NET Core 3.0 dotnet watch will also watch .cshtml files for changes.

[2020-01-29 22:00] #6989 closed

[2020-01-29 22:01] mkArtakMSFT commented on #4103
Thanks for contacting us.
While we thing this is a reasonable ask we don't plan to add this feature to the tool.

[2020-01-29 22:01] #4103 closed

[2020-01-29 22:01] mkArtakMSFT commented on #4109
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-01-29 22:02] pranavkm commented on #18273
Does this still reproduce? I just tried this on Ubuntu 18.04 and `build -pack` works for me.

[2020-01-29 22:02] #4098 closed

[2020-01-29 22:03] mkArtakMSFT commented on #4108
Thanks for contacting us.
This is not something we plan to do in the near future.

[2020-01-29 22:03] #4108 closed

[2020-01-29 22:04] mkArtakMSFT commented on #4104
Closing this in favor of https://github.com/dotnet/aspnetcore/issues/8321

[2020-01-29 22:04] #4104 closed

[2020-01-29 22:08] pranavkm commented on #18665
Have you inspected your application logs with the `Microsoft` filter set to `Debug`? The middleware will usually include some logs that specify why it did or did not operate on a request.

[2020-01-29 22:36] dougbu commented on #18667
Why make the EF dependency flow into aspnetcore manual at this time? As far as I know, the eventual story for 3rd party dependencies will _not_ be manual. This would add extra work and not simplify much, if anything.

[2020-01-29 22:50] AndriySvyryd opened #18672 "[Helix] enable Microsoft.AspNetCore.SpaServices.Extensions.Tests"
This test project does not work in Helix and is currently disabled because it relies on `npm` being available in `PATH`

[2020-01-29 22:51] pranavkm commented on #18229
@boukenka thanks for reporting this.

* The 3.1 preview, 2.2.x, and 3.0.1 milestones have since been closed.
* The Done milestone was likely an accident (We use the Done *label* for issues).

[2020-01-29 22:56] dgxhubbard opened #18673 "Dll versions not up to date"
I created a worker service using Visual Studio 2019 16.4.2. The project was created and ran so all was well. The project used Micosoft.Extensions.Hosting version 3.1 and has dependencies on:

Microsoft.Extensions.DependencyInjection.Abstractions 3.1
Microsoft.Extensions.Hosting.Abstractions 3.1

Microsoft.AspNetCore 2.2.0 uses

Microsoft.Extensions.DependencyInjection.Abstractions v 3.1
Microsoft.

[2020-01-29 23:16] Tratcher commented on #18673
The Microsoft.AspNetCore package has been replaced by a new TargetFramework and FrameworkReference, that's why you don't see a 3.0 version.
https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#remove-obsolete-package-references

Microsoft.Extensions.DependencyInjection.Abstractions 3.1.0 vs 3.1.1 shouldn't be a significant issue, everything should

[2020-01-29 23:17] JohanOtto commented on #18662
Ok Hope this helps

[Impact.deps.txt](https://github.com/dotnet/aspnetcore/files/4131330/Impact.deps.txt)

[2020-01-29 23:17] JunTaoLuo commented on #17933
We are up to date now in master:
![image](https://user-images.githubusercontent.com/2030323/73406103-78654e00-42aa-11ea-977b-4bdd9c068e46.png)

[2020-01-29 23:17] #17933 closed

[2020-01-29 23:22] dgxhubbard commented on #18673
This is not an old project, it is brand new so we don't need to remove old versions.

I have no idea what you mean by
"The Microsoft.AspNetCore package has been replaced by a new TargetFramework and FrameworkReference, that's why you don't see a 3.0 version."

Is Microsoft.AspNetCore version 2.2.0 part of asp.net core version 3.x.

When I run as a service, it wanted version  3.1 of Microsoft.Exten

[2020-01-29 23:23] ryanbrandenburg commented on #14335
If I do `<form asp-antiforgery="tr` and just wait there's no suggestions, but I do get true as the first suggestion if I do `Ctrl+SPACEBAR`. Is that the correct scenario?

[2020-01-29 23:27] JunTaoLuo commented on #17765
We have a script for doing this in Linux: https://github.com/dotnet/aspnetcore/blob/master/eng/scripts/ci-source-build.sh. See example usage at https://github.com/dotnet/aspnetcore/blob/master/.azure/pipelines/ci.yml#L651.

Building from source on other platforms is not currently supported bur should work in similar ways.

[2020-01-29 23:33] Tratcher commented on #18673
No, the Microsoft.AspNetCore package doesn't exist anymore in 3.x. Why do you have a package reference to Microsoft.AspNetCore in a new project?

[2020-01-29 23:38] danroth27 opened #18675 "Configuration for Blazor WebAssembly"
We provide the config abstraction in the Blazor WebAssembly host, but we don't currently populate it with anything. We should consider what sort of out of the box support we want for configuration in Blazor WebAssembly apps.

[2020-01-29 23:38] dgxhubbard commented on #18673
We are using a third party package that uses it.

[2020-01-30 00:11] danroth27 commented on #5531
We've added Microsoft.Extensions.Configuration to the Blazor WebAssembly host. Let's use https://github.com/dotnet/aspnetcore/issues/18675 to track what config source(s) we want to provide out of the box.

[2020-01-30 00:11] #5531 closed

[2020-01-30 00:19] pranavkm commented on #17629
Do you still see this? We have newer builds of the SDK with bug fixes. In addition, I tried building and using the project template on Windows which worked fine for me.

[2020-01-30 00:38] pranavkm commented on #17544
@rcl4444 it's likely you're running in to long path issues that are being tracked as part of https://github.com/dotnet/aspnetcore/issues/9431. There are ways to configure Windows 10 to support arbitrarily long paths. Outside of that, the other issue should track addressing this specifically for this repo.

[2020-01-30 00:38] #17544 closed

[2020-01-30 01:28] mkArtakMSFT commented on #18654
Thanks @anurse. Do you want to file a separate issue (if you haven't yet) to track the work we need to do on our side?

[2020-01-30 01:29] mkArtakMSFT commented on #18654
This issue was moved to mono/mono#18628

[2020-01-30 01:29] #18654 closed

[2020-01-30 02:31] #11597 closed

[2020-01-30 03:10] billbogaiv opened #18677 "Odd results mixing fully-tokenized attribute-route and wildcard-map within endpoint-routing"
### Describe the bug

The presence of the attribute-route seems to clobber requests that should go through the separate wildcard-mapped middleware. This only seems to affect fully tokenized and path-separated attribute-routes (i.e. `{firstName}/{lastName}`, etc.). Something like `api/{firstName}/{lastName}` is not affected.

*My expectation using the sample below is that any request starting with

[2020-01-30 03:11] billbogaiv commented on #18677
Maybe related to https://github.com/dotnet/aspnetcore/issues/16579?

[2020-01-30 03:24] nihlaakram commented on #18614
Hi @jkotalik ,

Thank you for the prompt response. I tried out with Postman and cURL, the behavior was similar to that of Apache JMeters', where even when the message is completely received, the IsCompleted property is false.

So if IsCompleted refers to the connection status, is there any way to know the message completeion status for TCP requests?

[2020-01-30 05:40] plabanauskis commented on #18158
The script at ./eng/scripts/InstallVisualStudio.ps1 supports a number of parameters, one of which is `Edition` allowing you to pick any edition of the Visual Studio.

[2020-01-30 06:19] agchaudhury commented on #18651
I found the issue.

"Amazon.Lambda.DynamoDBEvents" Version="1.1.0" dll was not compatible with "AWSSDK.CognitoIdentityProvider" Version="3.3.4" dll or above.

And the solution is to downgrade the Amazon.Lambda.DynamoDBEvents version from 1.1.0 to 1.0.0.

[2020-01-30 06:43] dehghani-mehdi opened #18679 "Some nullable fields should not be nullable [Identity]"
Hi,

I think `AspNetRoleClaims` table doesn't do anything without `ClaimType` and `ClaimValue`, am I right or I missed something?

__Update__: There are other `nullable` columns too but they should not be. for example `Name` in `AspNetRoles` table.

[2020-01-30 06:46] dehghani-mehdi opened #18680 "All indexes should follow same naming convention [Identity]"
Hi,

I think all indexes, created by EF should follow same naming convention. right now some use`IX_TableName_ColumnName` pattern, e.g: `IX_AspNetRoleClaims_RoleId` and some doesn't have any special pattern, e.g: `RoleNameIndex`.

[2020-01-30 07:20] JonnyMattsson commented on #18617
For sending it is possible to send to a users, connections or a group. But its not possible to group things on disconnectionevent for example. So every instance will get notified.
This is a common scenario in the real world, so I hope you change your mind. Especially since it is most likely a really easy fix. You can already have multiple hubs, its just that they are named automatically.

[2020-01-30 07:25] mkArtakMSFT commented on #18562
Thanks @NTaylorMullen,
Parking this in the Backlog for now to collect some feedback. We will review this post .NET 5 release to see how much community is interested in this and will then decide whether this is worth doing or not.

[2020-01-30 07:30] MarkFl12 commented on #18675
I have my WebAssembly project hosted in an ASP.NET core site that's running in docker. I'd like to be able to pass environment variables to the docker container and have them affect the configuration of the WebAssembly on the client.

[2020-01-30 07:30] mkArtakMSFT commented on #17433
@danroth27 3.1 is done and we won't be doing the 3.0 change.

[2020-01-30 07:30] #17433 closed

[2020-01-30 07:32] mkArtakMSFT commented on #12029
Yes.

[2020-01-30 07:32] #12029 closed

[2020-01-30 07:48] M-Schiller commented on #18619
It fails differently now.

[code]

These three artifacts seem to be missing locally (I ran clean, then restore and then `build.cmd -BuildInstallers`):
* aspnetcore-targeting-pack-5.0.0-dev.zip
* aspnetcore-runtime-internal-5.0.0-dev-win-x64.zip
* aspnetcore-runtime-internal-5.0.0-dev-win-x86.zip

[2020-01-30 08:24] atifaziz commented on #4108
Care to explain why not?

[2020-01-30 08:28] tester346 commented on #18087
@Tratcher

	app.UseMiddleware(typeof(LoggerMiddleware));
	app.UseMvc(routes =>
	{
		routes.MapRoute(
			name: "default",
			template: "{controller=Home}/{action=Index}/{id?}");
	});

[2020-01-30 09:01] apacurariu commented on #18665
@pranavkm Good point - I checked the log and I have updated the description above.
For convenience the relevant log output below:

info: Microsoft.AspNetCore.Hosting.Diagnostics[1]
      Request starting HTTP/2 OPTIONS https://localhost:5001/api/tags/833a45a7550b441e8f222b6fccf70aaa
info: Microsoft.AspNetCore.Cors.Infrastructure.CorsMiddleware[10]
      No CORS policy found for the specified reque

[2020-01-30 09:06] HassanAslikh opened #18681 "Input"
Any one have an idea if Blazor inputSelect component has a bug in binding integer Id

[2020-01-30 09:08] apacurariu commented on #18665
Further update! If I remove the .RequiresCors(...) call and define the policy in app.UseCors(...) then it works. See working code below:

[code]

So I guess if I define the policy on the endpoints then it only applies to operations exposed explicitly as endpoints which OPTIONS isn't?! Just a guess though.

[2020-01-30 09:12] peto268 commented on #18657
I don't really need the whole HubContext, not even the whole HttpContext, only the current user Principal.

I've ended up with this:
[code]
[code]
This allows me to use the IHttpContextAccessor even with the Azure SignalR service.

[2020-01-30 10:10] HrDahl commented on #13452
Could someone confirm that the `app.UseExceptionHandler()` does not work for server-side blazor?

I have seen several cases where my custom `ErrorHandler` does not catch exceptions being thrown by my application. Example code

`Startup.cs`:
[code]

`ErrorHandler.cs`:

[code]

An example are when my repository are throwing an exception as such:
`The instance of entity type cannot be tracked because

[2020-01-30 10:43] MhAllan opened #18682 "Unauthorised connection disconnects instead of receiving 401 when run without IIS"
### Describe the bug
Authorised action causes the HttpClient connection to disconnect instead of returning unauthorised status code when you run asp.net core without IIS.

Output:
**No connection could be made because the target machine actively refused it.**

   at System.Net.Http.ConnectHelper.ConnectAsync(String host, Int32 port, CancellationToken cancellationToken)
   at System.Net.Http.HttpCo

[2020-01-30 12:06] embayyub commented on #17016
Using one DTO models over multiple projects including Blazor is great for us. But we have to give **specific content**, **annotation messages**, **culture** information in _multiple languages_ with **resx** file.

[2020-01-30 12:08] #17765 closed

[2020-01-30 12:35] rynowak commented on #4706
@Tratcher  - based on where we are now - what's the right fix for this look like? Is this something we'd want an API from CoreFx for? An API in ASP.NET? It seems like the approach that's obvious is a way to load a `.pem` as an `X509Certificate`.

[2020-01-30 13:00] #18517 closed

[2020-01-30 13:18] gyphysics opened #18683 "Configurable ClearCacheHeaders() method on ExceptionHandlerMiddleware.cs"
I've been trying to move from some custom middleware for exception handling to using the handler defined by the framework [https://github.com/dotnet/aspnetcore/blob/master/src/Middleware/Diagnostics/src/ExceptionHandler/ExceptionHandlerMiddleware.cs]

Unfortunately I've had to abandon this effort due to the way the handler alters the response headers before sending.  The application is designed to

[2020-01-30 13:21] GeorgeAlexandria opened #18684 "Razor.Language generates incorrect code on onclick for razor component"
Hello,

I'm trying to use `Microsoft.AspNetCore.Razor.Language v3.1.1` and it dependencies to generate C# code for a razor component in Blazor app. I try to generate code for the component in Blazor project, that was scaffolded by **Visual Studio v 16.4.3** from Blazor server side template (`Counter.razor` without any changes), using the code bellow:

[code]

As a result I receive:

<details><summ

[2020-01-30 13:33] boukenka commented on #18229
Thank you @pranavkm. I am closing this issue.

[2020-01-30 13:33] #18229 closed

[2020-01-30 14:09] MarekKu opened #18700 "Share authentication cookie between app which are using Data Protection and machineKey"
# Issue Title

Share authentication cookie between app which are using Data Protection and machineKey

# General

The application responsible for login shares a cookie using machineKey. (it is impossible to use Data Protection there). New .net core application tries to use this cookie. I don't know how to configure this scenario, assuming it is possible. Please provide info if such integration is

[2020-01-30 14:24] MisinformedDNA commented on #17839
@mkArtakMSFT Is there any guidance available for how to customize Blazor/Identity without scaffolding?

[2020-01-30 14:30] CoderNate commented on #14691
In addition to the drawback I already mentioned, this PR also has a slightly different flavor of problem.  Steps:
1. The first iteration is completing and we proactively start creating the next fileset (we'll call it fileset A)
2. The user adds BrandNewFile.cs to the project which doesn't trigger anything (this is no different than how dotnet watch has always worked).
3. The user edits an existing

[2020-01-30 14:47] knight1219 commented on #18658
An outside opinion from someone using Blazor: I agree. It's been nice to look at the project (or multiple projects) and have it look just like a traditional web app/api. No need to learn anything new, everything is just in place. I can potentially see how making configuration simpler is a good thing, but making it too far away from the normal Asp.Net core setup seems like a potential misstep for a

[2020-01-30 14:49] twentytwokhz commented on #18334
did not work for me. I was using Azure App Service on Linux with .NET Core 3.1 Runtime.
**My error was related to the Razor version, thus the Linux container could not start**
In order to make it work I had to update the **Runtime** in Configuration/General Settings to **LTS** (Long term support)
Locally I was using version **3.1.101**

[2020-01-30 14:54] hihack commented on #17412
Indeed, i will like to set my own css classes for validation.
Please fix it. Remove the readonly and the workaround will keep working as net 2.2.
Thank you

[2020-01-30 15:43] dalipcse91 commented on #18572
I solved it by removing below line from AddCookie method.
  options.DataProtectionProvider = DataProtectionProvider.Create("app");
  options.DataProtectionProvider.CreateProtector("app");

[2020-01-30 15:54] stsrki opened #18685 "Visual Studio warning about razor component closing tag"
I have a razor component named `Link`. When I try to use it Visual Studio keeps warning me that it cannot have closing tag. I guess the IntelliSense is thinking it is a regular html tag named `link` which is a lower-cased. I know the Blazor team has allowed us to have razor components that are named with upper-case a few month ago, so it's strange for me why this is not working.

**Example:**

![i

[2020-01-30 16:43] dlr1 opened #18687 "prevent page refresh in Blazor (webassembly) when Enter key is pressed in input"
I have the following piece of html
`<form class="form-inline my-2 my-lg-0 float-right">
            <input class="form-control mr-sm-2" type="search" placeholder="studentid" aria-label="Search" @bind-value="StudentId"  @bind-value:event="oninput"   @onkeypress="@KeyHandler"
                   @onkeyup:stopPropagation />
        </form>`

`private void KeyHandler(KeyboardEventArgs eventArgs)
    {

[2020-01-30 16:47] jsabrooke opened #18688 "Dynamic routing in ASP.NET Core 3.1 when part of the url is already another route"
Using the code:
[code]
I would expect:
* "category/product**2**" to attempt to find a route by entering the RouteValueTransformer.TransformAsync method. However, it doesn't, which appears to be because the first part, "category", is matched. It then gives a 404 as there isn't actually a route for it.

If you change "category" to anything else, it _will_ enter the TransformAsync method as expected,

[2020-01-30 17:00] pranavkm commented on #18681
Dup of https://github.com/dotnet/aspnetcore/issues/11181. There's a workaround listed here: https://github.com/dotnet/aspnetcore/issues/11181#issuecomment-506288035

[2020-01-30 17:00] #18518 closed

[2020-01-30 17:11] boukenka commented on #18137
Hello,

Coming back to my original questions. For question 2, what type of authentication will be provided?  Could it be with Jason Web Token?  The tokens would be transmitted via browser cookies and the cookies would be used with the httpOnly flag?

[2020-01-30 17:17] mkArtakMSFT opened #18690 "Update Blazor WASM packages metadata"
The metadata is missing some fields like title and description. Also, it doesn't reflect the recent repo-migration changes (still points out to the aspnet/aspnetcore repo)

[2020-01-30 17:18] boukenka opened #18691 "Browser Data Storage"
### Feature request

Today, there are different packages for managing local and session storage in the browser. Here are some examples:

- [cloudcrate/BlazorStorage](https://github.com/cloudcrate/BlazorStorage)
- [BlazorExtensions/Storage](https://github.com/BlazorExtensions/Storage)
- [Blazored/SessionStorage](https://github.com/Blazored/SessionStorage)
- [Blazored/LocalStorage](https://github.co

[2020-01-30 17:38] mkArtakMSFT commented on #18691
Thanks for contacting us.
Yes, we are considering such an option. At the moment we have an experimental package https://www.nuget.org/packages/Microsoft.AspNetCore.ProtectedBrowserStorage/0.1.0-alpha.19521.1

[2020-01-30 17:40] mkArtakMSFT commented on #18687
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-blazor** tag.

[2020-01-30 17:40] mkArtakMSFT commented on #18687
According to your code you're trying to navigate when `Enter` is pressed. Isn't that expected then?

[2020-01-30 17:43] dlr1 commented on #18687
this is not aspnet core application. it is blazor, hosted in aspnet core. If the input is in the form it refreshes the page and then navigates, if the input is not in a form, it navigates correctly( no page refresh)

[2020-01-30 17:46] mkArtakMSFT commented on #18685
Thanks for contacting us.
@NTaylorMullen can you please look into this? Thanks!

[2020-01-30 17:48] mkArtakMSFT commented on #18684
Thanks for contacting us, @GeorgeAlexandria.
We'll look into this during our upcoming milestone review meeting and get back to you then.

[2020-01-30 17:49] #18681 closed

[2020-01-30 17:51] mkArtakMSFT commented on #18681
Potential dupe of https://github.com/dotnet/aspnetcore/issues/18305

[2020-01-30 17:53] mkArtakMSFT commented on #18663
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-01-30 17:54] mkArtakMSFT commented on #18661
Thanks for contacting us, @OmidID .
@pranavkm can you please look into this? Thanks!

[2020-01-30 17:58] mkArtakMSFT commented on #18677
Thanks for contacting us, @billbogaiv.
@javiercn can you please look into this? Thanks!

[2020-01-30 18:08] pranavkm commented on #18661
@OmidID linking is going to be generally incompatible with dynamic loading. Your dynamically loaded assemblies may rely on APIs that the linker has trimmed, so using the two is a recipe for runtime errors. Even without linking, you have to be responsible for loading the graph of dependencies.

[2020-01-30 18:12] anurse opened #18692 "[Discussion] ASP.NET Core SignalR MessagePack Hub Protocol moving to MessagePack v2.x package"
## ASP.NET Core SignalR MessagePack Hub Protocol moving to MessagePack v2.x package

The ASP.NET Core SignalR MessagePack Hub Protocol uses the [`MessagePack`](https://www.nuget.org/packages/MessagePack) NuGet package for MessagePack serialization. In ASP.NET Core 5.0, we will move from the 1.x version to the latest 2.x version. This is a breaking change for:

* Anyone who is setting/configuring v

[2020-01-30 18:14] anurse commented on #18692
Special thanks to @tebeco for contributing this change!

[2020-01-30 18:17] kuns200 commented on #18660
looks interesting to me. Can I pick this one up?

[2020-01-30 18:30] Tratcher commented on #18660
@kuns200 feel free.

[2020-01-30 18:46] tebeco commented on #18692
(and @AArnott / @BrennanConroy for their advice and patience)

[2020-01-30 19:02] OmidID commented on #18661
Thank you so much.
@pranavkm , I have a project that loading assemblies as plugins .
So what is the solution for plugin base applications?

[2020-01-30 19:21] SayusiAndo opened #18693 "Improve documentation for updating component state externally"
I'm not sure this ticket should be filed here. If it is not the right project, please let me know and I'll move it, or feel free to relocate it.

The documentation about how to update component state from external source the [documentation](https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.1#invoke-component-methods-externally-to-update-state) shows two code snippets

[2020-01-30 19:22] Tratcher commented on #18087
Ok, Startup looks fine. Can you post the full code for your LoggerMiddleware? It seems like the issue is in there.

[2020-01-30 19:29] bladefist commented on #3793
2020, same problem for me.  Biggest regression ever.  .Net 4.6 you replace the dll files and the app reloads on the new version.  .Net core locks everything.

[2020-01-30 19:48] aammfe commented on #11959
Hello!!
I had resolved it by not calling it in Options Func.
but its still an issue

[2020-01-30 20:01] ryanbrandenburg commented on #18099
I'm going to close this for now. We put our heads together and couldn't come up with a good solution, and since it's not yet causing any problems we'd rather do nothing than waste time on it.

[2020-01-30 20:01] #18099 closed

[2020-01-30 20:09] blowdart commented on #18680
@ajcvickers Is this considered breaking?

[2020-01-30 20:11] blowdart commented on #18679
You can have claims without values. But given the cross platform nature of EF, and the potential for lack of nullability in some targets it does no harm. Name is also optional, so it can and should be nullable.

[2020-01-30 20:13] blowdart commented on #18639
Can we see your dependencies?

[2020-01-30 20:18] ajcvickers commented on #18680
@blowdart Grey area. (I know you love those!) The runtime doesn't care, but it's a schema change that will cause a new migration to be generated. So I would say not a breaking change, but could cause confusion/questions when people see the new migration.

Should also say that anyone who doesn't like the current names can easily use their own instead.

[2020-01-30 20:26] blowdart commented on #18680
Given I want to limit migrations as much as possible, this is then a no. What little benefit there is is outweighed by the pain of unexpected schema migrations.

[2020-01-30 20:26] #18680 closed

[2020-01-30 21:10] anurse opened #18694 "[SignalR] .NET Client should put access token in query string when using WebSockets on Blazor WASM"
Blazor WASM's WebSocket implementation is just a wrapper around the browser one, which doesn't support headers. Thus we need to do the same query string hack we do in JS today.

We can use the following code to detect Blazor WASM:

[code]

[2020-01-30 21:11] Tratcher commented on #18682
`No connection could be made because the target machine actively refused it.`

That's not an authorization error, that's a TCP error saying you tried to connect to an address/port that the server was not listening on. When you start the app using Kestrel it uses different ports than IIS Express does. It should say in the console or launchsettings.json which port it used.

[2020-01-30 21:12] paolofulgoni commented on #18670
I think it's obvious, but this should definitely be cross-platform

[2020-01-30 21:14] NTaylorMullen commented on #18685
@ToddGrun You guys look to be ignoring the componentization of `</Link>` here. Would this be an easy, trivial fix to perform? If not, this work will be solved by LSPification.

[2020-01-30 21:18] NTaylorMullen commented on #14335
I believe so. Seems like we may have fixed this one. I'd review the CTI test plans linked above to ensure that a similar test-case is not skipped because of the belief that it's still broken

[2020-01-30 21:23] MCFHTAGENTS opened #18695 "ModelBindingMessageProvider SetMissingBindRequiredValueAccessor and friends"
How is this functionality supposed to work with .NET Core 3.1?

[(https://stackoverflow.com/questions/52286286/handling-auto-model-validation)]

I have implemented this by way of creating my own class derived from `IConfigureOptions<MvcOptions>` and register that in startup  immediately after the call to `services.Configure`

`services.TryAddEnumerable(ServiceDescriptor.Transient<IConfigureOptions

[2020-01-30 21:27] NTaylorMullen commented on #14062
You're correct that there's already a hidden input but there may be a point of confusion in why we're purposefully setting the hidden input text box to be "false" always. @Eilon do you have any previous context here on motivations to share? If I recall correctly I believe the reasoning was due in part to checkboxes having a "tri-state" (visible/checked/unchecked) Eilon hopefully can correct me her

[2020-01-30 21:28] anurse commented on #18622
@sven5 Yep, I did receive your email, thanks!

Yeah, if you're using an auth system that does redirection and sets cookies then you need to make sure the user is authenticated before they hit the SignalR connection (Blazor's server-side). So you need to make sure the main endpoint that serves the Host page **also** requires authentication.

The problem here is that SignalR's request to `/_blazor/n

[2020-01-30 21:30] Tratcher commented on #18683
We should probably just add the no-store value here. @gyphysics are there any other values you'd expect to set here?
https://github.com/dotnet/aspnetcore/blob/6f285dce1dba363cf108abb179a54638153c5fc6/src/Middleware/Diagnostics/src/ExceptionHandler/ExceptionHandlerMiddleware.cs#L156

While we're at it, don't use `-1` for expires, use the epoc date.
https://github.com/dotnet/aspnetcore/blob/6f285dce

[2020-01-30 21:31] pranavkm opened #18696 "Remove arcade workarounds once it is fixed in Arcade"
The issue tracking the change in Arcade: https://github.com/dotnet/arcade/issues/4727
The change to revert: https://github.com/dotnet/aspnetcore/pull/18599/commits/240eab8f6038ea1beff1a0cc3fc0e3fc299faa9b

[2020-01-30 21:33] NTaylorMullen commented on #14287
Syntactic colorization work complete!

[2020-01-30 21:33] #14287 closed

[2020-01-30 21:33] MitchellNZ opened #18697 "Blazor (WASM) SignalR AccessTokenProvider issue (3.2.0-preview1)"
I have recently updated my Blazor project to latest preview version (3.2.0-preview1) and I am implementing the newly provided SignalR functionality for Client Side Blazor apps.

However, I have ran into an issue when using **SignalR with auth**.

Following [this documentation](https://docs.microsoft.com/en-us/aspnet/core/signalr/configuration?view=aspnetcore-3.1&tabs=dotnet#configure-bearer-authen

[2020-01-30 21:34] Eilon commented on #14062
It's not for tri-state because there's no such thing in HTML.

It's to enable model binding correctly with models that have Boolean values that have a default value of `true`. In HTML/HTTP, when you post a checkbox value, it either posts `checked` or it posts _nothing_. That means that you can set a false Boolean to true, but you can't _set_ a true Boolean value to false.

Trying to find a link to

[2020-01-30 21:36] BrennanConroy commented on #18697
Basically a dupe of https://github.com/dotnet/aspnetcore/issues/18694

[2020-01-30 21:37] Eilon commented on #14062
Here's a post that explains it in more detail: https://stackoverflow.com/questions/2697299/asp-net-mvc-why-is-html-checkbox-generating-an-additional-hidden-input?rq=1

[2020-01-30 21:39] MitchellNZ commented on #18697
@BrennanConroy ahh, yes it is.
@anurse was who recommend I raise the issue (on the aspnet blog post), but I see he beat me to it!

[2020-01-30 21:53] anurse commented on #18508
I don't know that it is flowed at all, but it would be the Azure SignalR SDK that does it if anything does. I'd suggest asking/requesting this on http://github.com/azure/azure-signalr.

[2020-01-30 21:54] anurse commented on #18019
Yep, that's what I would expect. The issue is specific to particular CPU models 😲! We're working on getting a fix together now.

[2020-01-30 21:56] anurse commented on #18662
It looks like `Impact.OData` references `Microsoft.AspNetCore` version `2.2.0` which is crossing the major version line.

[2020-01-30 21:58] anurse commented on #18657
That seems like a fine workaround. Instead of `IHttpContextAccessor` though I would register your own singleton to hold the data you need in an `AsyncLocal<T>`. Otherwise you risk messing with other users of `IHttpContextAccessor`.

[2020-01-30 21:58] anurse commented on #18697
Oops! Let's dupe mine to yours since I did in fact ask you to file it 😝.

[2020-01-30 21:59] anurse commented on #18694
Duplicate of https://github.com/dotnet/aspnetcore/issues/18697

[2020-01-30 21:59] #18694 closed

[2020-01-30 21:59] anurse commented on #18697
From my issue:

We can use the following code to detect Blazor WASM:

[code]

[2020-01-30 21:59] blowdart commented on #18528
This seems like a question for Auth0 then rather than us. Presumably they have code to support this for their clients.

I'm closing this for now, unless Auth0 have some questions in which case, please reopen.

[2020-01-30 21:59] #18528 closed

[2020-01-30 22:01] davidalpert commented on #7315
I'm confused why dotnet/aspnetcore#14183 was closed as "no work to do" - can anyone shed light on that decision? This is the closest issue I can find.

I spent some time digging through the code in this repo trying to figure out why my ASPNETCORE 3.x app was not respecting the `APPLICATION_NAME` set up in my app configuration and learned that using the `DefaultWebHostBuilder` and configuring a `St

[2020-01-30 22:11] Buildstarted opened #18699 "RazorRuntimeCompilation fails when a non-managed dll is part of the project."
### Describe the bug
Whenever a non-managed dll is included in the bin folder during debug RazorRuntimeCompilation fails with the following error: `Metadata file '...gsdll64.dll' could not be opened -- PE image doesn't contain managed metadata.`

### To Reproduce
New project with nuget packages
[code]
Create a simple controller with a razor page. Load the page in debug mode, modify the razor page,

[2020-01-30 22:14] anurse commented on #18700
Yep, thanks @scalablecory .

@MarekKu I don't believe there's any built-in support for this. (+ @blowdart @Tratcher)

[2020-01-30 22:20] americanslon opened #18701 "Unhandled exception. Mono.Linker.MarkException"
All of the sudden started getting this

`Unhandled exception. Mono.Linker.MarkException: Error processing method: 'System.IDisposable Microsoft.Extensions.Logging.Logger::BeginScope(TState)' in assembly: 'Microsoft.Extensions.Logging.dll`

I don't even know what else information to provide because it seemingly appeared out of nowhere. Last thing I did before that was connected to azure insights.

[2020-01-30 22:35] mkArtakMSFT commented on #18701
Thanks for contacting us.
Please share some more details about what's your scenario, what does your app look like and what did happen for this exception to show up?

[2020-01-30 22:35] mkArtakMSFT commented on #18701
All that will be helpful for the investigation, which based on this exception seems to be something related to the Mono runtime.

[2020-01-30 22:38] blowdart commented on #18700
Correct, the only way to do it is the change the old app to use data protection, it does not, and will not work the other way.

[2020-01-30 22:44] NTaylorMullen commented on #14294
Talked with LiveShare team and the workspace being `null` on the guest is definitely unfortunate but after the initialize request no other LSP requests should be sent to the guest LSP. Therefore, we should do the work to make our [workspace resolution logic](https://github.com/dotnet/aspnetcore-tooling/blob/4187049b4f9768495b2df2b2041c9b5563f7446f/src/Razor/src/Microsoft.AspNetCore.Razor.LanguageS

[2020-01-30 22:58] JohanOtto commented on #18662
Right you are. Now I know what happened. Your OData team is lagging behind so I had to isolate the OData bits into a separate assembly. They updated recently but that package ref stayed behind.

[2020-01-30 22:58] #18662 closed

[2020-01-30 22:58] americanslon commented on #18701
I have a pretty basic client side blazor app served up by and even more basic netcore web app.
Everything is on the latest preview.

I was adding serilog to the netcore portion. Added the file sink, then the azure insights sink. Everything is fine.  Enabled insights. Everything is fine - exception get logged, show up in the insights and files all good. Then literally the next build or so this erro

[2020-01-30 22:59] JohanOtto commented on #18662
I just think there should be a better error message the NullReference btw. It was difficult to track this down especially because it's in startup

[2020-01-30 23:04] dazinator opened #18702 "Blazor - Clarification about assemblies and unload / reload?"
### Is your feature request related to a problem? Please describe.
I am investigating a blazor wasm "page / component reload" mechanism. I have got a crude implementation already that reloads the entire site when any dll's, css, or html changes on the backend are detected. For code changes this relies in a dotnet build which takes about 10 seconds to complete, and then the reload of the entire app

[2020-01-30 23:19] americanslon commented on #18701
The only thing that seems to "fix" that error is putting `<BlazorLinkOnBuild >false</BlazorLinkOnBuild>`  in `Blazor.MonoRuntime.Targets` that I fished out from [here](https://github.com/mono/mono/issues/16063)

I put fix in quotes because editing some file that I have never heard of and don't know what it could mean seems like an odd  fix. Also note that the people from that issue don't think it'

[2020-01-30 23:31] superlazycoder commented on #5204
Annoying......

I created a bat file

kill-node.bat
`taskkill /f /im node.exe`

and added a postbuild event

`call kill-node.bat`

set to run post build event "Always"

Ill be left with a lingering node between builds, but a pretty good middle ground.

[2020-01-30 23:32] mihaimyh opened #18705 "Blazor server SignalR load-balancing"
Is there a recommended way or guide on how to configure SignalR in a  Blazor server app when used with a load balancer?

I have a kubernetes cluster with the app deployed in 2 replicas and it seems it cannot establish a SignalR connection with those pods.

Thanks in advance.

[2020-01-30 23:34] keerthimaryala18 opened #18706 "Access ControllerContext using HttpContext outside of the Controller"
I am need of writing some custom error handling around a Controller Type and this exception handling is handled in the Middleware of my AspNetCore app.

I do have access to the HttpContext here

         public class CustomExceptionHandler
        {
               private readonly ILogger _logger;
               public CustomExceptionHandler(ILogger logger)
               {

[2020-01-30 23:52] ryanbrandenburg commented on #5204
This was resolved with https://github.com/dotnet/aspnetcore/issues/11597.

[2020-01-30 23:52] #5204 closed

[2020-01-31 00:07] MitchellNZ commented on #18705
You can use something like a [Redis cache backplane](https://docs.microsoft.com/en-us/aspnet/core/signalr/redis-backplane?view=aspnetcore-3.1) for doing this.
Hope this helps.

[2020-01-31 00:13] ryanbrandenburg commented on #14335
https://github.com/aspnet/Tooling-ManualTests/pull/809 is closed, so we're good here.

[2020-01-31 00:13] #14335 closed

[2020-01-31 00:30] ajaybhargavb opened #18707 "Test Failure: Publish_WithBuildReferencesDisabled_CopiesStaticWebAssetsToDestinationFolder"
This test has a pretty high failure rate. Going to mark this as flaky.

Example failure output:
[code]

Stack trace
[code]

Here is one failing build https://dev.azure.com/dnceng/public/_build/results?buildId=502524&view=ms.vss-test-web.build-test-results-tab&runId=15959088&resultId=100015&paneView=debug

@javiercn, assigning this to you as this probably has the root cause as other failures you ar

[2020-01-31 01:00] #17798 closed

[2020-01-31 02:24] #18549 closed

[2020-01-31 02:39] #17172 closed

[2020-01-31 04:54] dehghani-mehdi commented on #18680
Sure, but the default should use same rules, isn't it good practice in programming world?

[2020-01-31 04:56] dehghani-mehdi commented on #18679
You mean we can have Role without name? it doesn't make sense.

[2020-01-31 07:57] MelbourneDeveloper commented on #18592
@mkArtakMSFT can someone please just point me to a working sample? That's all I'm asking. Just a repo somewhere so I can just see it working.

[2020-01-31 09:50] #18700 closed

[2020-01-31 10:00] #18510 closed

[2020-01-31 10:03] SteveSandersonMS commented on #18658
The new startup model is much more flexible and generalised than the one we had before, so the good news is that the old system can be modelled as a special case of the new one.

For example, if you really wanted to have an identical `Startup` class with `ConfigureServices` and `Configure` like before, you could take [this class](https://github.com/dotnet/aspnetcore/blob/ba08d60cb95c01e8de4ebeda39

[2020-01-31 10:07] campersau commented on #18697
Detecting wasm like this might change in the future https://github.com/mono/mono/issues/18627

[2020-01-31 10:28] ygoe commented on #14062
There is a tri-state checkbox in HTML, it's just not accessible by user input (without helpers). But it can be set with code (JavaScript). Ex.: [Section "Checkboxes and radio buttons"](https://ygoe.github.io/Frontfire/input.html). And the three states are: checked, unchecked, indeterminate. Visible is a different state that has nothing to do with selection, BTW.

So the main intention of the addit

[2020-01-31 10:46] Madhust commented on #18701
@mkArtakMSFT I have faced similar exception.

C:\Users\MadhuSudhananP\.nuget\packages\microsoft.aspnetcore.blazor.build\3.2.0-preview1.20073.1\targets\Blazor.MonoRuntime.targets(258,5): error : ILLink failed with exit code -532462766.

csproj file used in my project is as follows.

[code]
Disabling blazor link on build resolves this problem but I don`t want to do that so as I am experimenting on a

[2020-01-31 11:02] glararan opened #18708 "[Blazor server-side] Error: There was an error applying batch "xxx""
### Describe the bug
When JS calls dotnet function which sets html to variable it invokes error on adding new component (in my case FileUpload component)
`Error: There was an error applying batch [number]`

### To Reproduce
Component HTML
[code]

Component code
[code]
Js code
`dotnet.invokeMethodAsync("SetHtml", "random html string");`

Got Exceptions? Include both the message and the stack trace

[2020-01-31 11:17] gyphysics commented on #18683
@Tratcher The specific unit test asserts that this project is performing are these:
Cache-Control - "no-store", "no-cache", "max-age=0", "must-revalidate"
Pragma - "no-cache"
Expires - "0"

I'm not sure if updating the settings so that they are designed to work with my specific project is the best thing to do for a shared library though - these cache settings could cause problems for other consume

[2020-01-31 11:56] davidfowl commented on #18706
What version of ASP.NET Core are you using?

[2020-01-31 12:16] glararan commented on #18708
Hmm it seems that QuillJs editor changed html hierarchy via JS and Blazor is not able to map it anymore via
[code]

Solution is to set loaded content via js and retreive content also via js

If devs dont see any problem to solve then close it :)

[2020-01-31 13:16] LaughingJohn opened #18709 "Blazor - ability to insert a component dynamically and have it draw itself"
One frustration I have had is in the use of RenderFragment. This is related to the polymorphic lists you are looking at.

What I wanted to be able to do is have component at the very top level (app) which can render other components (in my case dialogs). I've found this very cumbersome to achieve.

My aim was to be able to replicate MessageBox as per WPF/Winforms/Silverlight (and other shared dial

[2020-01-31 13:46] #18595 closed

[2020-01-31 13:56] niklascp commented on #17458
Can you explain the changes your team did in nginx? I am facing a similar 404 response on my Apache Reverse Proxy, with the .NET Core app running on IIS backend nodes.

[2020-01-31 14:35] victorm1710 opened #18710 "Where to get the private key which is used to sign ASP.NET Core assemblies?"
Is it true that private key which is used to sign ASP.NET Core assemblies is stored publicly (please see the screenshot below)? If yes, where is it stored?

![image](https://user-images.githubusercontent.com/44471919/73547030-404b4000-444f-11ea-87d9-cdd383f4008e.png)

Link to the issue from the screenshot above: https://github.com/dotnet/aspnetcore/issues/3524

[2020-01-31 14:48] davidfowl opened #18711 "Add support for flowing the Activity/distributed trace context via SignalR invocations"
We need to make a provision in the SignalR hub protocol for flowing the distributed trace context. This will enable causality tracking across multiple SignalR applications or from an HTTP server calling a SignalR method. It's also worth thinking about what it means to flow the context back to the client for server -> client invocations.

[2020-01-31 15:03] boukenka commented on #18691
Thank you @mkArtakMSFT for the quick answer. 😄

[2020-01-31 15:12] TehWardy commented on #13170
As per this issue ...
https://github.com/OData/WebApi/issues/1858

... Is there any way I can "turn off" result validation during the response serialization in OData controller response handling?

This is where it all began and I feel like the problem has moved in to an issue of logging when it's really an issue of response generation (the framework is forcing an exception that need not be one in

[2020-01-31 16:07] ajcvickers commented on #18680
@dehghani-mehdi Yes, but these needs to be balanced against the cost of disrupting thousands of developers for a change that won't make their application behave any differently. The value in this case does not outweigh this cost to existing developers.

[2020-01-31 16:20] Pilchie commented on #18171
This is done now.

[2020-01-31 16:20] #18171 closed

[2020-01-31 16:29] SteveSandersonMS opened #18712 "Blazor WebAssembly release-published app still tries to load a .pdb"
I don't know why, but for hosted apps (maybe standalone too if you reference some other class library, didn't check), after publishing in release mode it still tries to fetch `MyApp.Shared.pdb` at runtime, causing the server to return a 404. It correctly does *not* try to fetch `MyApp.Client.pdb`, so I don't know why it does try to fetch `MyApp.Shared.pdb`.

This is problematic because:

 * It's a

[2020-01-31 16:39] SteveSandersonMS commented on #18709
We can certainly add a `DynamicComponent` component to the core framework, supporting usage like this:

[code]

Plenty of people have asked for this. It seems totally reasonable.

Unfortunately that won't fit within the model here. If we did this, it would break a whole load of guarantees about component lifecycles. Today, we know for sure that the framework uses each component instance in exactly

[2020-01-31 16:42] ToddGrun commented on #18685
I wouldn't say it's a trivial change. There appear to be both classification and error issues that need to be changed to understand razor components. Adding @jodavis to help determine whether this is high enough priority to fix before the LSPification.

[2020-01-31 16:42] omuleanu opened #18714 "french special characters get badly encoded"
calling this in a cshtml view ( asp.net core 3 )
` @Localizer["Dinner"]`
should render this:
`Dîner`
but instead is rendering this:
`D&#xEE;ner`

---
my solution for now is to call: `@Html.Raw(Localizer["Dinner"])`

[2020-01-31 17:03] blowdart commented on #18710
The strong name key? Yes, it's in the repo.

https://github.com/dotnet/aspnetcore/blob/master/src/DefaultBuilder/build/Key.snk

[2020-01-31 17:06] idizh opened #18715 "Blazor WebAssembly Application Insights"
Can't find any article about connecting Blazor Wab Assembly to Application Insights. Tried default connector but it doesn't send any metrics. Also during creating instance of TelemetryClient application is hanging. Perhaps it's because HttpClient? Do not know(

[2020-01-31 17:11] anurse opened #18716 "[Discussion] Microsoft Security Advisory | MessagePack Denial of Service"
# Microsoft Security Advisory | MessagePack Denial of Service

## <a name="executive-summary"></a>Executive summary

*This advisory is being published in response to [CVE-2020-5234, a recent security advisory for the `MessagePack` NuGet package](https://github.com/neuecc/MessagePack-CSharp/security/advisories/GHSA-7q36-4xx7-xcxf). Since ASP.NET Core SignalR users may be using this package, we want

[2020-01-31 17:24] mkArtakMSFT commented on #18715
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-01-31 17:24] anurse opened #18717 "[SignalR] Set "UntrustedData" security mode in MessagePackSerializerOptions"
In response to [CVE-2020-5234](https://github.com/neuecc/MessagePack-CSharp/security/advisories/GHSA-7q36-4xx7-xcxf) we should turn on the `UntrustedData` security mode on in our MessagePack parser in 5.0. Previous versions use MessagePack 1.x which cannot set this value per-serialization and we are updating our documentation instead. In 5.0 we can do the better thing here and turn it on on the us

[2020-01-31 17:25] mkArtakMSFT commented on #18712
Dupe of https://github.com/dotnet/aspnetcore/issues/18655

[2020-01-31 17:25] #18712 closed

[2020-01-31 17:25] danroth27 commented on #18715
Duplicate of #5461

[2020-01-31 17:25] #18715 closed

[2020-01-31 17:25] julienGrd commented on #18709
@LaughingJohn I'm not sure if i totally understand but i have this kind of behavior in my app : ability to launch modal everywhere in c# code

I give you the really simple version, my architecture is more complex but the main idea is here

You need to have :
- 1 service (injected where you need) of type suscriber/receiver which allow a component to receive message of some type and other components

[2020-01-31 17:27] BrennanConroy commented on #18717
Well if we do https://github.com/dotnet/aspnetcore/issues/18569 then the user can disable it, I don't think we would just turn this on arbitrarily if they provided their own options.

[2020-01-31 17:27] mkArtakMSFT commented on #18705
Thanks for contacting us.
@anurse any recommendations here?

[2020-01-31 17:32] mkArtakMSFT commented on #18702
Thanks for contacting us, @dazinator.
@lewing is this something you can have suggestions for?

@dazinator we're also working hard to improve the dev inner-loop but nothing concrete at the moment.

[2020-01-31 17:33] mkArtakMSFT commented on #18701
This issue was moved to mono/mono#18651

[2020-01-31 17:33] #18701 closed

[2020-01-31 17:37] mkArtakMSFT commented on #18714
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-01-31 17:38] mkArtakMSFT commented on #18699
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-01-31 17:39] jeremyVignelles opened #18718 "[Hosting][Windows][Kestrel] Graceful shutdown when windows is powering off"
### Is your feature request related to a problem? Please describe.
I have .net core processes that runs a Kestrel server for hosting asp.net core apps on-premise.
One of this app is about spawning graphical "tiles" processes on the screen and show different info (video, text) in each tile (the screen is effectively covered by these tiles.
Porting this app on linux has its own challenges, so we're

[2020-01-31 17:41] mkArtakMSFT commented on #18695
Thanks for contacting us.
Have you looked at the documentation here: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-3.1#using-one-resource-string-for-multiple-classes

[2020-01-31 17:42] mkArtakMSFT commented on #18693
This issue was moved to aspnet/AspNetCore.Docs#16801

[2020-01-31 17:42] #18693 closed

[2020-01-31 17:42] SteveSandersonMS commented on #18708
@glararan I think you're right. If something mutates the DOM in such a way that Blazor can no longer apply future diffs, it's not a supported scenarios. When using JS that mutates the DOM, you need to be sure that it only acts inside an element that Blazor itself sees as empty.

For example, using JS to put content inside this is valid:

[code]

But using JS to put content inside this is *not* val

[2020-01-31 17:42] #18708 closed

[2020-01-31 17:52] pranavkm commented on #18706
If you're using endpoint routing and targeting .NET Core 3.0 or newer, you could inspect the endpoint metadata:

[code]

There's a less clear way of doing this with traditional routing. You could use a filter to stash away metadata in the `HttpContext` that your middleware could later inspect. At that point, you might as well consider writing a globally registered exception filter.

[2020-01-31 17:58] keerthimaryala18 commented on #18706
@davidfowl Targeting ASP.NET Core 2.2

[2020-01-31 18:09] glararan commented on #18708
@SteveSandersonMS good to know. Thanks for reply

[2020-01-31 18:26] omuleanu commented on #18714
ok, the problem is that the js that I'm using is also encoding the value, and it is encoding the '&' character

[2020-01-31 18:26] #18714 closed

[2020-01-31 18:40] mkArtakMSFT commented on #15357
Thanks @Rick-Anderson.
Closing this as there is no more action pending for us here.

[2020-01-31 18:40] #15357 closed

[2020-01-31 18:44] mkArtakMSFT commented on #12011
Talked to @javiercn and this is mainly about providing docs showing what to do in WSL situation.

[2020-01-31 18:46] mkArtakMSFT commented on #12008
Closing as a dupe of https://github.com/dotnet/aspnetcore/issues/12011

[2020-01-31 18:46] #12008 closed

[2020-01-31 18:49] mkArtakMSFT commented on #10220
Thanks for contacting us. After another review of this issue it seems this is not a scenario the dev-certs tool is intended for. Given that there are no much concerns regarding current behavior form the community similar to this, we're closing this issue.

[2020-01-31 18:49] #10220 closed

[2020-01-31 18:50] mkArtakMSFT commented on #10174
Thanks for contacting us. There is no native `trust` support in Linux and that's why the `trust` command is not supported there.

[2020-01-31 18:50] #10174 closed

[2020-01-31 18:53] mkArtakMSFT commented on #6721
These tests are failing only on helix and there's an ongoing effort to revive these. That said, we're going to also add new CTI scenarios to cover the current gaps and potentially some of these failing tests.

[2020-01-31 18:53] #6721 closed

[2020-01-31 18:55] mkArtakMSFT commented on #4613
Thanks for contacting us. We're closing this issue as there was no community involvement here for quite a while now.

[2020-01-31 18:55] #4613 closed

[2020-01-31 18:58] mkArtakMSFT commented on #7044
@blowdart is this still important? Should we close this or do you want us to do generate the cert that's more inline with TLS 1.3? If so, please clear the milestone for triage.

[2020-01-31 19:00] #18544 closed

[2020-01-31 19:02] mkArtakMSFT commented on #4099
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2020-01-31 19:02] #4099 closed

[2020-01-31 19:02] mkArtakMSFT commented on #4096
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2020-01-31 19:02] #4096 closed

[2020-01-31 19:02] mkArtakMSFT commented on #4095
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2020-01-31 19:02] #4095 closed

[2020-01-31 19:03] mkArtakMSFT commented on #4097
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2020-01-31 19:03] #4097 closed

[2020-01-31 19:03] mkArtakMSFT commented on #4094
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2020-01-31 19:03] #4094 closed

[2020-01-31 19:04] blowdart commented on #7044
If HTTP2 works on Win10, then I'd let this drop away. Win2012 R2 is now in extended support, so if a customer has problems they should engage us through their extended support folks.

Closing.

[2020-01-31 19:04] #7044 closed

[2020-01-31 19:07] anurse commented on #18683
Two proposals here:

* Fix `Expires` to be an actual date, well in the past (probably the start of the Unix epoch)
* Allow the content of the `Cache-Control` header to be set as a string property on `ExceptionHandlerOptions`.

[2020-01-31 19:08] anurse commented on #18697
I think we should look at including SignalR Client in the "3.2" release as part of this so we don't have to patch it.

[2020-01-31 19:10] anurse commented on #18711
If we expanded Hub Pipeline to work on the client as well, this could probably be done in that.

[2020-01-31 19:11] anurse commented on #18717
That's fair. If we set it to `UntrustedData` when initializing the options, the user can still remove it, but they have to explicitly do so.

[2020-01-31 19:18] qJake commented on #18401
I am receiving the same issue after upgrading an ASP.NET Core project from 2.1 to 3.1 that uses Azure AD Authentication:

![image](https://user-images.githubusercontent.com/652006/73567495-19c7dd80-442c-11ea-8c11-bad54b731167.png)

[2020-01-31 19:18] anurse commented on #18673
@dgxhubbard Where are you seeing this? The nuget package graph shows only 2.2 dependencies for Microsoft.AspNetCore. Be aware that if you're looking at your `.deps.json` or the transitive package graph in VS it will show the highest versions of packages if two packages request different versions.

If this is the case, you need to either upgrade the package to a version that uses 3.1 or stay on 2.2

[2020-01-31 19:25] schwarmau opened #18721 "Granular linker assembly file is not regenerated when references are updated"
### Technical Details
I'm working with ASP.NET Core 3.1.1 and I'm working in a hosted Blazor WebAssembly project using version 3.2.0-preview1.20073.1 of that. The client SignalR package I'm using is up-to-date (3.1.1).

### Describe the bug
As described [here](https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#use-newtonsoftjson-in-an-aspnet-core

[2020-01-31 19:35] seesharprun commented on #18658
I think I will look at the NuGet route.

It's just a bit suprising that the ASP.NET teams are using two different patterns/models to configure projects.

[2020-01-31 19:35] #18658 closed

[2020-01-31 19:35] Eilon commented on #14062
The original goal was to have it work without JavaScript enabled, which I'm guessing is still a requirement for this basic feature. However, I don't work on this project anymore, so that decision is left to others.

The disabled checkbox being broken is an interesting problem. If that is still a problem, I recommend logging a new issue on that so that a solution can be investigated.

[2020-01-31 19:38] BrennanConroy commented on #18721
Trigger a full rebuild to fix the issue.

@pranavkm something weird with blazor not building the blazor.boot.json when adding new deps?

[2020-01-31 20:00] #17251 closed

[2020-01-31 20:00] #12619 closed

[2020-01-31 20:00] #12031 closed

[2020-01-31 20:00] #10749 closed

[2020-01-31 20:14] MCFHTAGENTS commented on #18695
I am currently using the
` .AddViewLocalization(LanguageViewLocationExpanderFormat.Suffix, opts => { opts.ResourcesPath = "Resources"; }).AddDataAnnotationsLocalization()`
with no arguments in the AddDataAnnotationsLocalization.
it is the localisation for attributes like [Required] that is not performed and I am sure I had it working in 2.1.
On this I have no idea what

means

Google is not your f

[2020-01-31 20:22] brockallen commented on #17655
Any word on this? I suspect there are lots of integration tests that aren't happy in 3.x now. Here's how my tests are failing now:

[code]

[2020-01-31 20:27] brockallen commented on #17655
BTW, I did hack up a workaround:

`builder.UseContentRoot(Path.Combine(AppContext.BaseDirectory, @"..\..\..\..\..\src\MyMvcProjectFolder"))`

[2020-01-31 20:36] schwarmau commented on #18721
Yep, that worked for me. I feel a little silly. Thanks for looking into it.

[2020-01-31 20:36] pranavkm commented on #18721
@schwarmau I'm going to leave this issue open to figure out why the initial build failed.

[2020-01-31 20:41] brockallen commented on #17655
Setting an explicit content root via `UseContentRoot` also has no effect.

[2020-01-31 20:50] wtgodbe opened #18722 "KnownFrameworkReference workarounds not working for certain AspNetCore-Tooling tests"
We attempt to update our FrameworkReference to Microsoft.NetCore.App so that we reference the shared framework version from versions.props, rather than the version in the SDK:

https://github.com/dotnet/aspnetcore-tooling/blob/9a05bd16c6f075f90ae2fe7ae0b9ab03199eb9b6/Directory.Build.targets#L18-L28

However, for certain AspNetCore-Tooling tests, this isn't happening for some reason, which is causi

[2020-01-31 20:53] mayur-rao opened #18723 "Synchronous call inside XDocument.LoadAsync causes --> System.InvalidOperationException: Synchronous operations are disallowed"
### Synchronous operations are disallowed (kestrel) when calling XDocument.LoadAsync
When a .net core 3.1 ASP.Net WebApi receives an xml input and tries to load that into an Xdoc using the XDocument.LoadAsync method, the web api throws Synchronous operations are disallowed error and the stack trace points to a synchronous call from inside XDocument.LoadAsync method.

Notice in the stack trace 4 ca

[2020-01-31 21:00] #18661 closed

[2020-01-31 21:10] zvolkov commented on #18634
Here is the repro app:
[FilterChainTest.zip](https://github.com/dotnet/aspnetcore/files/4141413/FilterChainTest.zip)

One of the middlewares has a Task.Delay of 1 second, you can see that response is returned to the browser before middleware completes. You can change appSettings.json to enable/disable buffering & newtonsoft json vs system.text.json. You will see that newtonsoft with enabled buffer

[2020-01-31 21:10] wtgodbe commented on #18722
Last time this happened it wasn't in a test that executes from `artifacts`, so maybe related to the razor SDK: https://github.com/dotnet/aspnetcore-tooling/pull/1486#issuecomment-573788241

[2020-01-31 21:23] josephr5000 commented on #5011
Thanks @Rick-Anderson for updating the docs, but it's ridiculous that you should even have to.  This makes the tag helper UNUSABLE for serious projects.  To have code fail _silently_ when you refactor or add features should be completely unacceptable.  I'm stunned that this is still open almost three years after first being reported.  Is any fix planned?!

[2020-01-31 21:37] ygoe commented on #14062
It's this very issue, it just hasn't been understood well. Now we've got plenty of explanation effort right here. Should I copy all of this in a duplicate issue? Or can you suggest a better place for it than this repo?

[2020-01-31 21:39] anurse commented on #18522
This may relate to proposed work on Named Pipes, so @Tratcher can take a look for now

[2020-01-31 21:41] anurse commented on #18262
This is expected behavior for now, we'll revisit this in 5.0

[2020-01-31 21:41] #18262 closed

[2020-01-31 21:46] jkotalik commented on #18488
@surr34 do you have the numbers between http vs https?

[2020-01-31 21:47] anurse commented on #14907
@Pvlerick This has enough of a breaking impact (by changing the ordering) that it's generally not suitable for patching. It could break existing apps that were dependent on the ordering. We'll be looking at ordering changes for 5.0, but I don't expect this is something we could patch.

[2020-01-31 21:49] anurse commented on #18593
After some exploration, this isn't going to be feasible because of the construction order. Logging is build out of DI so we can't start logging until DI is ready and if `ConfigureLogging` and/or `ConfigureServices` (both of which run before DI is ready, in order to register the loggers in DI) fail there's no logger. We crash to the console, which also reports the issue to the Windows Event Log (on

[2020-01-31 21:49] #18593 closed

[2020-01-31 22:11] NTaylorMullen commented on #14062
This is a good repo, if you could file an issue with the summation of our conversations here and then point back to this issue for those who want more detail that'd be great!

[2020-01-31 22:46] pranavkm commented on #18723
See the announcement here: https://github.com/aspnet/Announcements/issues/342. Also listed as part of the migration guide: https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#allowsynchronousio-disabled.

Is there a reason you're rolling a custom Xml formatter as opposed to using the ones MVC provides by default - https://docs.microsoft.com/en-us/

[2020-01-31 23:07] ajaybhargavb commented on #17721
Update:
- The problem with macOS is that VSCode doesn't respect the dotnet that is activated.
- Got past the yarn error in Linux CI but it now fails with an unknown error when invoking `runTests.ts`.
  - I'm unable to reproduce this error locally on Ubuntu but it fails due to some arcade sdk not being found,
[code]

[2020-01-31 23:22] pranavkm commented on #18722
The runtime version of the test app generally shouldn't affect the version used by the tool task. It's just doing a `dotnet build`.

[2020-01-31 23:42] grahamehorner opened #18725 "razor class library & typescript tooling not working"
# Describe the bug
When developing a razor class library component with typescript, typescript intelliscence fails to/import library from the npm packages.json

### To Reproduce
create a razor class library
cmd where project is located open folder
run npm install Microsoft-cognitiveservices-speech-sdk
create typescript file inside project
import { SpeechConfig } from './' -> note intellisence fail

[2020-02-01 00:13] pranavkm commented on #18661
@OmidID we don't really have a good answer for this as yet. It's likely some of it might be considered as part of https://github.com/dotnet/aspnetcore/issues/5465.

[2020-02-01 01:51] victorm1710 commented on #18710
Thank you, blowdart!

[2020-02-01 01:51] #18710 closed

[2020-02-01 06:22] mkArtakMSFT commented on #18401
Thanks for the details, @SeanKilleen and @pwen090.
Sorry for noticing this a bit late.
Can you please confirm this is still an issue?
@HaoK please triage in case if this is.

[2020-02-01 06:27] mkArtakMSFT commented on #18592
@MelbourneDeveloper your VS version seem to be outdated.
Please update to the latest VS 2019 release. I assume the template will show up after the update.

[2020-02-01 06:28] mkArtakMSFT commented on #11597
Thanks @AndriySvyryd!

[2020-02-01 06:52] MelbourneDeveloper commented on #18592
@mkArtakMSFT nope. Still doesn't have the Web Assembly template.

![image](https://user-images.githubusercontent.com/16697547/73588307-85d53f00-451b-11ea-8c5c-61e356993215.png)

Can you please point me to a working sample? You could easily just post one on Github.

[2020-02-01 06:55] SeanKilleen commented on #18401
@mkArtakMSFT yes, I can still reproduce this issue. I'll work on a branch for it in the morning. Bumping the UI package to 3.1.1 and running it inside of the `mcr.microsoft.com/dotnet/core/aspnet:3.1-alpine` container can reliably reproduce this issue.

[2020-02-01 07:08] uniper-scott commented on #18401
Hi, I can confirm that we are having the same issue.  .NET core 3.1.1 on a Linux Web App Service in West Europe.  Unfortunately it appears we had to upgrade to 3.1.1 to fix another issue, so we cannot downgrade either.

At a guess i'll have to try self-contained for now.

[2020-02-01 07:48] mrpmorris commented on #18658
Took a while yesterday to work out where to put the .Use(....) statements.

[2020-02-01 08:12] NRKirby commented on #18587
Can this be closed now as it was merged in [this PR](https://github.com/dotnet/aspnetcore/pull/18615)

[2020-02-01 08:57] HaoK commented on #18401
@dotnet/aspnet-build @blowdart @Tratcher did we take any fixes in AzureAd auth for 3.1.1?  Or is this just some kind of potential build issue with 3.1.1?

[2020-02-01 09:02] adrianwright109 commented on #18592
@MelbourneDeveloper as Blazor Web Assembly is still in preview you have to manually install the template from the command line for it to show up in VS, see the Blazor docs for details:
https://docs.microsoft.com/en-gb/aspnet/core/blazor/get-started?view=aspnetcore-3.1&tabs=visual-studio

[2020-02-01 09:15] MelbourneDeveloper commented on #18592
@adrianwright109 everyone keeps pointing me to that article but it doesn't work. Any chance you could create a project and post it somewhere so I can get going?

[2020-02-01 10:27] StevenTCramer commented on #18658
@SteveSandersonMS

The bad news is though that the old system was NOT modelled as a special case of the new one.  And thus now there will be many different versions attempting do that.  I would prefer we have one official one.

[2020-02-01 11:03] ladeak commented on #17115
And by the fix it means, services.AddHttpClient(); can be used.

[2020-02-01 11:26] MintPlayer commented on #18633
Dear @davemk99

Besides the `tw_options.RetrieveUserDetails = true;`, there are 2 additional configurations:

- tw_options.RetrieveUserDetails = true; (this is OK)
- https://developer.twitter.com/en/apps -> Select your app -> App details tab -> Edit -> Edit details -> Check "Enable Sign in with Twitter"
- https://developer.twitter.com/en/apps -> Select your app -> Go to the Permissions tab -> Edit

[2020-02-01 11:36] davemk99 commented on #18633
Thanks everyone for their help. I managed to found out what was the issue with it. It was the issue with account I was using when logging in. When using other account,it worked just as expected.

[2020-02-01 11:36] #18633 closed

[2020-02-01 12:20] theo-albers opened #18728 "DefaultAuthorizationHandlerProvider always requires all authorization handlers"
In some of our projects we use the requirement policy approach to cut off requests based on request specific constraints. This could be fine grained authorization towards a resource. Such custom authorisation handler has for instance a service dependency, which has a database dependency.

Typically you add the authorization attribute as global filter to your API controllers. Some controller action

[2020-02-01 12:56] Tratcher commented on #18401
@HaoK I don't see any 3.1 changes. Can you reproduce this locally?

We know 3.1.1 has not been deployed to Azure yet. https://aspnetcoreon.azurewebsites.net/

[2020-02-01 13:17] SeanKilleen commented on #18401
I want to make sure I'm clear -- this is an issue with the `Microsoft.AspNetCore.Authentication.AzureAD.UI` package, not with .NET Core 3.1. My workaround is to downgrade the package (I am still able to use .NET Core 3.1 in the container)

I can reproduce the bug by running the latest .NET Core 3.1 in a container (as I do for my application). Issue is resolved by downgrading this specific package

[2020-02-01 13:21] almogohayon1 opened #18729 "OpenIdConnectHandler: doesn't use updated user data from userInformationReceivedContext"
### Describe the bug
Using OnUserInformationReceived event to override user information claims, after updating the user JsonElement provided in the context it's expected to be reflected in the issued identity.
After digging into the source code (https://github.com/dotnet/aspnetcore/blob/master/src/Security/Authentication/OpenIdConnect/src/OpenIdConnectHandler.cs) i could see that the updated data

[2020-02-01 13:33] blowdart commented on #18401
AFAIK we took nothing.

[2020-02-01 13:35] SeanKilleen commented on #18401
@HaoK let me know if a more minimal repro would help. Also, are the builds public (either via pipelines or a `.yml` file somewhere in the repro? Happy to look into it further.

[2020-02-01 15:15] mihaimyh commented on #18705
I've made it work with a Nginx ingress having sticky sessions enabled.

[2020-02-01 15:16] davidfowl commented on #18705
Yes that's the recommendation.

[2020-02-01 15:48] Buildstarted commented on #18699
Here is a [basic repo](https://github.com/Buildstarted/razor-compilation-bug)

[2020-02-01 16:24] kanadaj commented on #3793
@bladefist Your best bet as of today is to use Docker containers :/

[2020-02-01 16:27] bladefist commented on #3793
@kanadaj thanks but Dockers is another tier of headaches to deal with.  I eventually figured out a work around which was to use App_offline.htm and then wait for a minute and hope the files are free.  99% of the time they are, you just have to wait, i guess my app takes a while to power down.

Gone are the days of .net 4.6 where you just copied your dlls over and your app auto recycled.  I guess t

[2020-02-01 16:55] kanadaj commented on #3793
Well yes I guess, but that method isn't very straightforward in a production environment. Without HA your app will end up not responding for a minute, and with HA you get some random bad requests until the load balancer figures out the app is down... Unless you manually cycle the hosts in your load balancer. But that sounds like even more trouble to set up.

[2020-02-01 16:55] MarkusRodler commented on #13280
I coincidentally discovered a workaround for this problem. If you add an eventhandler to the svg, then it will be rendered correctly. For example with a dummy one:
[code]

It is really only a workaround, but maybe it is useful for someone else. (And I hope the issue will be fixed soon 🙏)

[2020-02-01 17:04] bladefist commented on #3793
@kanadaj yep, we use a load balancer and it linearly updates the servers. No downtime.

[2020-02-01 18:00] #18706 closed

[2020-02-01 18:01] rmarinho commented on #17733
Thanks, I had this issue also , moving the file fixed it!

[2020-02-01 18:39] DanJ210 opened #18730 "Authentication Identity Says no Email Service Configured While it Uses the Email Service Configured"
### Describe the bug
I've followed the steps in the documentation to add authentication. Tried doing it to an app I already have built but failed and the docs only explain how to add authentication on a new one. So I created a new one, exactly as described in the docs. Email service has been hit or miss.

Email service was working, intermittently meaning one day it worked once by sending out an em

[2020-02-01 19:25] Pilchie commented on #18401
I suspect this is the same thing as https://github.com/aspnet/announcements/issues/401.  Unfrotunately we build 3.1.1 packages such that they only work if the 3.1.1 runtime is installed as well.

[2020-02-01 20:02] SeanKilleen commented on #18401
@Pilchie that's what I thought, but the containers are built using `mcr.microsoft.com/dotnet/core/aspnet:3.1-alpine`.

When I look at the tag listing [on docker hub](https://hub.docker.com/_/microsoft-dotnet-core-aspnet/), it appears that `3.1-apline` and `3.1.1-alpine` are the same container.

Is that statement correct? My assumption is that I've been pulling `3.1.1` because it's rolled up into t

[2020-02-01 20:03] Tratcher commented on #18729
This could be changed, but I've got to ask why you are modifying the JSON rather than directly modifying the ClaimsIdentity? I'd expect the ClaimsIdentity would be easier to work with.

[2020-02-01 20:16] almogohayon1 commented on #18729
One example is to control duplicate claims for example "name" I would like to ensure only single claim from that type is processed. Obviously this claim is not yet populated to the identity at this phase, and if I'll add it eventually the identity will have more than one of those because of the claims actions running afterwards.

[2020-02-01 21:06] davidfowl commented on #18706
@keerthimaryala18 targeting 2.2 there's no easy way to get the `ActionDescriptor` in middleware

[2020-02-01 21:09] Pilchie commented on #18401
No, you are right, those images should have been updated. We’ll keep looking.

[2020-02-01 21:11] Pilchie commented on #18401
Can you get on the container and run `dotnet info` to confirm that it’s got the 3.1.1 runtime?

[2020-02-01 21:15] SeanKilleen commented on #18401
@Pilchie screenshot from a console of the running container that exhibits the issue (runtime, SDK isn't installed since I'm doing a multi-stage buikd) :

[2020-02-01 21:52] davidfowl commented on #18718
This sounds like something that would be a great package you can build to extend the .NET Core hosting model. This isn't something we're going to build into the framework.

[2020-02-01 23:24] idchlife commented on #17839
@MisinformedDNA could you please tell, how did you create custom login page for blazor server? I'm struggling to figure it out. I tried to just use SignInManager.PasswordSignInAsync in my form, but it seems it's for Http based authentication like in MVC projects, not for blazor.

Maybe you inherited scaffolded form somehow or used another SignInManager method?

[2020-02-01 23:42] grbd commented on #5204
I'm not sure if this has fixed it, I tried copying the contents of

[code]

https://github.com/dotnet/aspnetcore/tree/master/src/Middleware/SpaServices.Extensions/src

into my own class library to see if the applicationStoppingToken stuff which had been added in was working
but it seems to have the same problem when testing against the default react template with stuff being left open in the backg

[2020-02-02 00:47] OnurGumus opened #18731 "Blazor - Add test cases that uses an F# library."
In order to prevent bugs like https://github.com/mono/linker/issues/927#issuecomment-581080126
Please add some test cases that utilizes an F# library.

[2020-02-02 00:47] grbd commented on #5204
Update it looks like this does work as long as you don't use IISExpress while debugging
with IISExpress selected I think it runs into this old problem
https://github.com/aspnet/AspNetCoreModule/issues/38

Avoiding IISExpress shouldn't be an issue so cool beans

[2020-02-02 02:00] #17548 closed

[2020-02-02 02:00] #16571 closed

[2020-02-02 08:28] mjsabby opened #18732 "System.IO.Pipelines in latest 5.0 sdk has System.IO.Pipelines at 4.0.1.0"
I get the following error when I try to run an asp.net core 3.1 application on 5.0

` System.IO.FileNotFoundException: Could not load file or assembly 'System.IO.Pipelines, Version=4.0.2.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'`

The reason is that the System.IO.Pipelines is at 4.0.1.0 in the sdk alpha builds.

[2020-02-02 10:01] tnc1997 commented on #18592
@MelbourneDeveloper if you are having difficulty in getting the Blazor templates working, then feel free to clone [this](https://github.com/tnc1997/blazor-web-application) temporary repository as a starting point so that you can get going. I created a new project using the `dotnet new -i Microsoft.AspNetCore.Blazor.Templates::3.2.0-preview1.20073.1` and `dotnet new blazorwasm -o WebApplication` co

[2020-02-02 10:04] MelbourneDeveloper commented on #18592
@tnc1997 thanks. Is that a Wasm sample?

[2020-02-02 10:08] tnc1997 commented on #18592
@MelbourneDeveloper yes, it was created using the Blazor WebAssembly project template.

[2020-02-02 10:09] MelbourneDeveloper commented on #18592
When I run dotnet new blazorwasm -o WebApplication, I get

[2020-02-02 10:09] MelbourneDeveloper commented on #18592
@tnc1997 I can run your sample. I'm trying to confirm that the code is running on the client side in the browser now.

[2020-02-02 10:16] tnc1997 commented on #18592
Out of interest, would you mind posting the output after running the `dotnet new -i Microsoft.AspNetCore.Blazor.Templates::3.2.0-preview1.20073.1` command?

[2020-02-02 10:31] MelbourneDeveloper commented on #18592
@tnc1997 your sample works well and I can see HTTP calls showing up in the network tab of the browser developer tools. Great! Out of curiosity, do you now where to flick the switch over from Server side to Client side? I have a server side app that already works so I just want to flick it over.

This is the output:

Welcome to .NET Core 3.1!
---------------------
SDK Version: 3.1.101

Telemetry
--

[2020-02-02 10:36] tnc1997 commented on #18592
@MelbourneDeveloper just want to clarify that is definitely the output you get after running the `dotnet new -i Microsoft.AspNetCore.Blazor.Templates::3.2.0-preview1.20073.1` command and not that of the `dotnet new blazorwasm -o WebApplication` command?

[2020-02-02 10:58] tnc1997 commented on #18592
As far as I can tell, it is a little bit more involved than a single change. If the source code is publicly available in a repository, then I'd be more than happy to take a look and help out where I can.

[2020-02-02 11:16] Bernhard-Ninaus opened #18733 "Microsoft.AspNetCore.Components.Authorization .NETStandard 2.1"
Hello.

Thank you all for the great work!!

I followed a tutorial from Chris Sainty about "Authentication with client-side Blazor using WebAPI and ASP.NET Core Identity" (https://github.com/chrissainty/AuthenticationWithClientSideBlazor) but with Blazor 3.2.0-preview1.20073.1.

It seems to me that Blazor 3.2 is using .NETStandard 2.1 and Microsoft.AspNetCore.Components.Authorization is build for 2

[2020-02-02 11:59] rstaib opened #18734 "Dynamic reusable components"
I would like to create dumb components dynamically, which can be used like elements instead of variables.

[code]

Would be also cool to be able to pass properties to such a component.

[code]

With such an approach I would be able to create isolated components inside a component which they belong to easily and could also reuse these inside my component.

Imagine things like that...

[code]

[2020-02-02 14:39] sherif-elmetainy opened #18735 "The specified CGI application encountered an error and the server terminated the process."
I have an ASP.NET core 2.2 application hosted on Azure, and I encountered today an error:
The specified CGI application encountered an error and the server terminated the process.

Looking at the logs, I saw the exception details. It was a service that calls an async method in the Dispose() method, and the async method threw System.Data.SqlClient.SqlException: Timeout expired.

Since this error oc

[2020-02-02 15:26] zd-dalibor opened #18736 "UseAngularCliServer starts npm process but does not kill it at application shutdown"
I am using UseAngularCliServer to run npm command.

Every time I restart my application new `node` process is started but previous one is not killed.

[2020-02-02 18:27] DanJ210 commented on #18730
Another relevant finding...

Creating a brand new app to start from scratch again following the documentation, basically the same steps as above, same app as above.

<details><summary>Steps in documentation where break lies</summary>
- [Starting point](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/accconfirm?view=aspnetcore-3.1&tabs=visual-studio#create-and-test-a-web-app-wi

[2020-02-02 21:15] sowsan opened #18739 "InvalidOperationException: Cannot provide a value for property 'AuthenticationStateProvider' on type Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState"
Trying Azure AD and Graph Auth sample here and its failing with the Blazor ServerSide app complaining AuthenticationStateProvider. https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/2-WebApp-graph-user

Any ideas?

**Exception and call stack**
InvalidOperationException: Cannot provide a value for property 'AuthenticationStateProvider' on type 'Microsof

[2020-02-02 22:15] ericwj commented on #18334
Yes `builder.AddAzureAD(options => configuration.Bind(name, options));` did this thing for me at exactly the `ResolveTypeHandleInternal` call commented above, running locally on x64 just after upgrading to VS 16.5.0 Preview 2.0. Both these solutions worked for me:
* downgrading `Microsoft.AspNetCore.Authentication.AzureAD.UI` to `3.1.0` and
* using `Microsoft.AspNetCore.Authentication.AzureAD.UI 3

[2020-02-02 22:24] sowsan commented on #18739
was missing  services.AddServerSideBlazor(); in the startup.cs

[2020-02-02 22:24] #18739 closed

[2020-02-02 22:49] gfurtado commented on #17269
That solution worked for me, just create file in the root of the solution named: Directory.Build.props and add:
`<Project>
  <PropertyGroup>    <EmbeddedResourceUseDependentUponConvention>false</EmbeddedResourceUseDependentUponConvention>
  </PropertyGroup>
</Project>`

[2020-02-02 23:56] idchlife opened #18740 "Blazor server looses connection in mobile web browser almost instantly when minimizing app."
### Describe the bug
Blazor server looses connection in iOS mobile web browsers, making it impossible to use in production scenarious like "Please enter code we sent you via SMS". We are experiencing this right now, users are stuck without possibility to enter code, because blazor server shows "Attemting to reconnect", which forces users to press "Reload" after failed attempts to reconnect, which

[2020-02-03 01:30] julienGrd opened #18741 "bug with System.Linq.Dynamic.Core library, code shutdown if linker is enable"
Hello guys, im facing a really strange behavior with the usage of System.Linq.Dynamic.Core library.
On webassembly mode, with linker enabled (defaut behavior), the code shutdown when a method of this library is used (no exception, no error in the console, just the code stop when this library  is called).

If i disable the linker, back to normal, but my app make 2 minute to be ready wich is not acc

[2020-02-03 02:18] jwisener commented on #6111
what a complete mess. trying to troubleshoot this now. what an absolute nightmare.

[2020-02-03 03:41] jwisener commented on #6111
Why was that issue closed? It still seems to be a issue if that path is set incorrectly just as @cdwaddell describes. @shirhatti why did you close that issue for?

[2020-02-03 03:56] forktrucka commented on #14907
Wouldn't that imply that someone has actually got this to work for it be be broken by a patch? Looking at the comments it seems like people aren't able to do their jobs.

[2020-02-03 07:05] huang-tianwen commented on #18407
@HaoK from my opinion, when the AutoSaveChanges is false, it should support DbContext.SaveChanges() to commit all changes to database. If not then we lose the purpose of the AutoSaveChanges property in UserStore.

[2020-02-03 07:10] HaoK commented on #18407
There's limits to what we can do around supporting AutoSaveChanges = false, the flag just basically stops each method from calling save changes, and leaves it up to the user to explicitly call it, that said certain methods do have assumptions (like a user existing), so this behavior is expected

[2020-02-03 07:24] mkArtakMSFT commented on #18736
Thanks for contacting us. This has been fixed as part of https://github.com/dotnet/aspnetcore/issues/11597

[2020-02-03 07:24] #18736 closed

[2020-02-03 08:18] luckerby commented on #18639
@blowdart: Would the snapshot below do, or should I export the full inner dependency list from something like the project/solution file ?

![image](https://user-images.githubusercontent.com/31319583/73636388-6d296e00-466e-11ea-8762-fb2e7111c4ae.png)

[2020-02-03 08:33] Pvlerick commented on #14907
@anurse this is really unfortunate... We have a lot of [narrow integration tests](https://martinfowler.com/bliki/IntegrationTest.html) that are redefining some of the dependencies and swapping them with mocks - calls to services. This bug prevents us from migrating as-is and implies a lot of refactoring, starting with something clean and ending with something ugly. I'm puzzled that something like

[2020-02-03 08:44] tester346 commented on #18087
using Microsoft.AspNetCore.Http;
	using Microsoft.AspNetCore.Mvc;
	using Microsoft.AspNetCore.Mvc.Controllers;
	using Microsoft.AspNetCore.Mvc.Filters;
	using Services;
	using System;
	using System.Linq;
	using System.Text;
	using System.Threading.Tasks;
	using Microsoft.AspNetCore.Http.Internal;
	using Serilog;
	using Newtonsoft.Json;
	using Common.Users;

	public class LoggerMiddleware
	{
		priv

[2020-02-03 09:09] fitdev opened #18742 "Blazor: Cascading Value not set when using Generic Type Parameters on base class"
### Describe the bug
Cascading value is not propagated to child components wrapped in `CascadingValue` when the type of Cascading Parameter involved generics:

### To Reproduce
[code]

[code]

### Further technical details
- ASP.NET Core version: 3.1.0
- Include the output of `dotnet --info`:

[code]

- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version: VS 2019 16.5 Preview 2

[2020-02-03 09:22] fitdev opened #18743 "Blazor: Expose ICascadingValueComponent or otherwise allow implementing of custom Cascading Value Providers"
### Is your feature request related to a problem?
Using `CascadingValue` may be too verbose if multiple values are needed somewhere down the line (i.e. it involves nesting of `CascadingValue`s). In addition the behavior of `CascadingValue` is not as flexible.

### Describe the solution you'd like
Therefore it would be nice to be able to author custom components that could also act as Cascading Val

[2020-02-03 09:35] javiercn commented on #18740
@idchlife thanks for contacting us.

You can control the reconnection behavior through the reconnection options, or completely control the server-side Blazor reconnection behavior on the client by providing your own reconnection handler through the blazor options.

On the server you can adjust the time disconnected circuits are kept around and additionally you can use some state management solutio

[2020-02-03 09:52] WalterEbbers opened #18744 "use AddOpenIdConnect when application is already started"
hi,

We have a asp.net core 2.2 project that enables the user to add Azure AD for logging in and single sign-on.

To use azure we call AddOpenIdConnect(). The downside of this is that the information for azure must be present at application startup.

Is there a way to call AddOpenIdConnect() when adding Azure AD to the asp.net core application without restarting the asp.net core application?

We c

[2020-02-03 10:08] javiercn opened #18745 "[Blazor] Change client-side default reconnection options"
The server keeps disconnected circuits around for 3 minutes by default.

https://github.com/dotnet/aspnetcore/blob/6255c1ed960f5277d2e96ac2d0968c2c7e844ce2/src/Components/Server/src/CircuitOptions.cs#L47

However, the client gives up trying to reconnect after just 15 seconds.

const defaultOptions: BlazorOptions = {
    configureSignalR: (_) => { },
    logLevel: LogLevel.Warning,
    reconnection

[2020-02-03 10:12] javiercn commented on #18740
I've filed a separate issue to improve the default experience, I'm closing this issue in favor of [this one](https://github.com/dotnet/aspnetcore/issues/18745)

[2020-02-03 10:12] #18740 closed

[2020-02-03 10:23] javiercn commented on #17655
@brockallen This might be because the app name is not setup correctly, try setup the app name. One way to troubleshoot this is to look at the list of application parts and see if the views assembly is there.

[2020-02-03 10:25] toralux commented on #17655
@javiercn Does setting up app name correctly apply to my github example in the original post?

[2020-02-03 10:48] ShreekantG opened #18746 "asp.net Core 2.0 application using HealthChecks not working when i used latest dll for AspNetCore.HealthChecks"
<!--

### Describe the bug
I have application built on asp.net core 2.0 , i tried to implement Health Check using asp.net core middle layer registered the services and mapped to "/api/healthcheck". My docker image is getting generated. When i deploy the image to Linux machine and hit health check end point i am not getting any response. But when i debug the code from window machine i am getting th

[2020-02-03 10:50] davidglassborow commented on #3793
We have had success with

- Use of a symbolic link for the app directory
- Deploy a new version of the site to a different directory
- Update the symbolic link
- Restart the app pool using the `appcmd` utility that comes with IIS.

[2020-02-03 10:54] javiercn commented on #18725
@grahamehorner Thanks for contacting us.

A few questions:
* Does this work on an asp.net core web application?
  * If it does, do you see any difference between the csproj in the webapp and the razor class library You should see this package installed https://www.nuget.org/packages/Microsoft.TypeScript.MSBuild (or at least suggested by VS) for typescript to work properly, I believe.
* What visual

[2020-02-03 11:10] javiercn commented on #18731
@OnurGumus thanks for contacting us.

We believe those tests belong in the mono repository rather than in Blazor as the issue you reference is a linker issue and is not specific to Blazor.

[2020-02-03 11:14] LaughingJohn commented on #18709
Thanks Julien,

I think your solution is not dissimilar to what I ended up doing myself (see attached solution), I have a service, an event etc.  I may not be quite as advanced as you, but the idea is the same. The bit I couldn't get my head around is the fact I had to build a renderer separate from the component when by nature the component knows how to render itself using the Razor page. It mean

[2020-02-03 11:16] javiercn commented on #18733
@Bernhard-Ninaus thanks for contacting us.

I don't think this issue is related to netstnadard 2.0 vs netstandard 2.1. We have tests in this area and I've tested this myself with 3.1.0-preview4.19579.2 which also targets netstandard 2.1. I'm not sure what is going on in your app, but It is not this.

The error you are seeing is likely due to a linking issue, try turning off the linker and see if t

[2020-02-03 11:21] grahamehorner commented on #18725
@javiercn

creating the razor component inside the ASP.NET Core Web Application works as expected;
the reference to the TypeScript.MSBuild is included in bot projects.

I'm using VS 2019 v16.4.4

as aside note the wwwroot is show as a standard folder; and the add-> Client-Side Library... tooling also doesn't work when developing a Razor Library

[2020-02-03 11:23] javiercn commented on #18734
@rstaib Thanks for contacting us.

I don't believe this is a direction we are currently headed to or something that we currently plan to do in the near future.

I'll leave the issue open for other team members to correct me if they want to :)

[2020-02-03 11:24] LaughingJohn commented on #18709
Thanks Steve, I think as I come from more of a WPF/SL background I'm used to being able to create a component dynamically and inject it into the UI. I suspect anyone else from a similar background will suffer the same confusion.

It's not the end of the world and my current solution works OK, but it just feels a bit convoluted/dirty. And having to create renderers seems weird. Is there some way yo

[2020-02-03 11:25] javiercn commented on #18725
@grahamehorner thanks for the additional details.

Where are you placing your typescript files within the razor class library, does moving them to a different folder fix the issue? (It might be interfering with Static Web Assets)

[2020-02-03 11:27] javiercn commented on #18725
Also, check this and see if that fixes it https://docs.microsoft.com/en-us/aspnet/core/razor-pages/ui-class?view=aspnetcore-3.1&tabs=visual-studio#typescript-integration

[2020-02-03 11:30] LaughingJohn commented on #18709
One final aside, the project I have attached shows a single "messagebox" dialog but the real app is quite complex and will have several dialogs (10+) with different parameters in and out, many of which will be re-used throughout the application. I was trying to avoid having lists of different dialog components all over the Razor files as it seemed messy.

I appreciate this might be "just the way i

[2020-02-03 11:44] nazrulbspi5 opened #18747 "Custom Identity In Blazor Application"
How to add a custom identity in my blazor server-side application. with the login page and signup page.

[2020-02-03 12:06] OnurGumus commented on #18731
@javiercn respectfully I disagree.  I think Blazor should have a test case for that and should not update a newer mono runtime if there is an error with it.

[2020-02-03 12:34] tstojecki commented on #14547
Just to confirm, the steps outlined by @flatproject worked - had to go through them all on a vanilla .net core 3.1.1, VS 2019 Publish, FDD.

Before arriving here, had to fix another issue in 3.1.1 with Microsoft.AspNetCore.Authentication.AzureAD.UI which was also crashing the app
https://github.com/dotnet/aspnetcore/issues/18401

All in all, 5 or 6 issues to resolve to get to a working 3.1 app thr

[2020-02-03 12:39] Postlagerkarte opened #18748 "Blazor: Improve VS tooling for CaptureUnmatchedValues"
When using` [Parameter(CaptureUnmatchedValues = true)]` it would be great if  Visual Studio tooling would displays all available attributes like it does for regular elements:

![image](https://user-images.githubusercontent.com/8482283/73653542-ab805680-4689-11ea-8eda-65b521d79c4b.png)

However, the tooling currently is showing this:

![image](https://user-images.githubusercontent.com/8482283/73653

[2020-02-03 12:45] KKacer commented on #18143
Happened to me as well,
Randomly!
I always like and to build some complex multi assembly project and folder structure.
BTW still just made part of the bare-bone structure.
Placed the Counter blazor component inside another assembly, enabled logging both in the application and the component scope with the minimum code.
Happened some times that when ran the app and tried to click the **Counter** and

[2020-02-03 12:49] vimala1085 opened #18749 "Aspnetcore-TestServer -httpclient request is not working in .netcore3.1 unittest"
hi,
  we are migrating from .netcore2.2 to .netcore3.1. During migration in the unit test, httpclient request which is created using TestServer is not hitting the controller. and the response is always404.

Can anybody help me on this to resolve it.

[2020-02-03 12:53] Eirenarch opened #18750 "Allow Razor Components with code behind file to specify base class only once"
I prefer using Razor Components with a code behind .cs file. When specifying a custom base class it is not enough to specify it in the part of the partial class in the .cs file I also need to add @inherits in the .razor file. If I don't do so the compiler complains about different base classes.

I hope it would be possible to only specify the base class in the code behind file and have the tooling

[2020-02-03 13:05] marin-bratanov commented on #18741
Might be related to this https://github.com/mono/mono/issues/12917

[2020-02-03 13:15] marin-bratanov opened #18752 "blazor.boot.json (and other assets) is 404 when you Publish a Blazor WASM app with disabled linker through Visual studio"
### Describe the bug

The Visual Studio Publish process does not generate all assets for a Blazor WASM app that has the Linker disabled - they are missing from the `_framework` folder.

The CLI seems to work fine.

### To Reproduce

1. Create an ASP.NET Core hosted Blazor WASM app (I have not tested a non-hosted one yet, the issue may be the same)

1. Disable the Linker (add this to the Blazor `.c

[2020-02-03 13:19] marin-bratanov commented on #11034
This may be related #18752

[2020-02-03 13:39] brockallen commented on #17655
I tried this and now it seems to be working:

[code]

Makes me wonder why it worked in 2.1.

[2020-02-03 13:41] chassq opened #18753 "[Blazor] - Refactor Rename of a property in a view model fails"
### Describe the bug
When we attempt to refactor-> rename a view model property that is referenced in a razor component the rename will fail due to something to do with the razor component temp file .g.cs.

### To Reproduce
Try to refactor->rename a property in a view model or code behind file referenced by a razor component.

I attached a zip file with the ActivityLog errors. Also contain dotnet

[2020-02-03 13:53] brockallen commented on #18744
There's a commercial product that does this: https://www.identityserver.com/products/dynamic-authentication-providers

[2020-02-03 13:56] javiercn commented on #17655
@brockallen This was likely caused to the move to generic host in 3.0.

The way we find views/application parts changed in 3.0 and I think some changes in generic host might have caused the app name to be different. I imagine you have a Startup class on a test assembly and are trying to use that and as a result of calling UseStartup the app name is changing (or is setup to the test assembly from t

[2020-02-03 14:00] #15373 closed

[2020-02-03 14:00] MuruIOT commented on #12052
I am also having this issue with web.config. It is happening in VS 2019 with ASP.net core project. The CORS schema is installed in the schema directory. Can we get the steps to resolve the issue?

Thanks,

[2020-02-03 14:16] WalterEbbers commented on #18744
Thank you for the reply. From this is it save to assume that asp.net core does not supply something like that out of the box?

[2020-02-03 14:51] danroth27 opened #18754 "Drag & Drop"
We'd like to

* Provide events that users can subscribe to during drag and drop.
* Have visual cues that shows items being dragged
* Restrict the locations that items can be dropped including providing visual cues

[2020-02-03 14:52] danroth27 commented on #18754
Related issues:

- https://github.com/dotnet/aspnetcore/issues/14132
- https://github.com/dotnet/aspnetcore/issues/15670
- https://github.com/dotnet/aspnetcore/issues/5532

[2020-02-03 14:57] danroth27 opened #18755 "Protected browser storage"
Finish and ship https://docs.microsoft.com/aspnet/core/blazor/state-management#protected-browser-storage-experimental-package

A lot of the code exists here: https://github.com/aspnet/AspLabs/tree/master/src/ProtectedBrowserStorage/src

* [ ] This feature relies on a server feature. This packaging requirement will likely requiring having to ship it separately from the other all-purpose Blazor comp

[2020-02-03 15:27] brockallen commented on #18755
What makes the storage "protected"?

[2020-02-03 15:38] bladefist commented on #3793
@davidglassborow that's a creative solution. Thanks.  Creative solutions shouldn't have to be needed though.

[2020-02-03 15:40] brockallen commented on #18744
I'm not a representative of Microsoft, so I'll let them answer that.

[2020-02-03 15:40] davidglassborow commented on #3793
In my experience, the old mechanism wasn't reliable when the site was under load anyway, we ended up putting reverse proxies anyway for high traffic sites.

[2020-02-03 15:45] gamov commented on #18650
Yes, we have that activated but for some reason, the upstream LB or proxy are not forwarding properly the original protocol.
I still believe that the framework should respect user choice (CookiePolicy) but I understand where you are coming from.

[2020-02-03 15:45] #18650 closed

[2020-02-03 15:52] davidfowl commented on #3793
Right, in-place deployments were never reliable or atomic, if you got lucky or didn't have much traffic it would be fine though. I'm assuming the majority of complains are around those scenarios. We will look into improving things in the .NET 5.0 time frame. Some caveats:
- We will look into making things better for framework dependent applications. If you deploy self contained then you're out of

[2020-02-03 15:55] blowdart commented on #18639
That's fine. Could we also get your startup.cs

[2020-02-03 15:58] blowdart commented on #18744
We do not provide this out of the box.

Whether you need a paid solution or you find a free one is your decision I'm afraid.

[2020-02-03 16:08] bladefist commented on #3793
@davidfowl The plan you outlined for 5.0 sounds great.  We use framework dependent as I'm sure most do.

Respectfully disagree about the reliability of in-place deployments.  I've been doing it for years on sites with extremely high load, never had an issue, not once.  The first detected change causes the app to reset, the load balancer sees the instance is not responding, takes it offline, once a

[2020-02-03 16:09] razzemans commented on #9337
I also run into issues with this. We are setting a custom `ISecureDataFormat` in the `CookieAuthenticationOptions` and running into a production issue where decoding the data fails at random - I really like to pass a logger to our implementation of the `ISecureDataFormat` to see what is going wrong. In my opinion this should be trivial and I am disappointed that I don't have a way of doing that at

[2020-02-03 16:10] Aaronmsv opened #18756 "User impersonation through HTTP header"
I need to migrate something from ASP.NET Framework to ASP.NET Core and I'd like to check if this implementation is correct. The old implementation was using a custom authentication middleware, but since ASP.NET Core there is only one authentication middleware.

The application needs to allow user impersonation through the REST API, using an HTTP header containing the username of the user to impers

[2020-02-03 16:17] davidfowl commented on #3793
You have a load balancer. Lots of people don't have a load balancer and are just replacing files on disk in place and expecting magic 😄

[2020-02-03 16:20] gyphysics commented on #18683
I would also want to be able to control the value set in other headers, e.g. Pragma and Expires

[2020-02-03 16:22] bladefist commented on #3793
@davidfowl  Right but high traffic = no lb = reckless

Also, the issue with app_offline.htm is that from a ci/cd process you have no idea when the process stops.  We had to add a huge sleep command between making that file and pushing the DLLs because our shut down process can take anywhere from 1s to 1 minute.

Loading the files into memory fixes all that though.

[2020-02-03 16:28] Tratcher commented on #18683
Set to what? The point is that error pages aren't supposed to be cachable. I don't see any other defined values for Pragma, and it seems like the only point in changing Expires would be to enable caching.

[2020-02-03 16:31] MichelArendt opened #18757 "Update Razor compiler to use global:: more liberally"
**Issue:** In a Razor Component any variables named "Microsoft" reproduce the error (variable type on the error message changes accordingly):

**Question:** Is this an issue or by design?

**Project details and files:** This is a Razor Class Library project.

### .csproj
[code]

### LoginFormUserComponent.razor
[code]

**Comments:**
I started getting this random error and found out that apparently

[2020-02-03 16:38] Pilchie commented on #18746
This is expected.  Generally if you are running on ASP.NET Core 2.0, you should be using the latest 2.0.x packages.

But you really shouldn't be running on ASP.NET Core 2.0.  It's been out of support for quite a while now. You should upgrade to 2.1 at least, and preferably 3.1.

[2020-02-03 16:40] davidfowl commented on #3793
👍

Right, so the problem is that dropping that file doesn't tell you when its ok to start the deployment as files are still locked until the notification is received by ANCM.

[2020-02-03 16:41] Pilchie commented on #18598
@vijayrkn Should I transfer the issue so it doesn't get forgotten?

[2020-02-03 16:42] Tratcher commented on #3793
Right, the VS publisher uses short sleeps and several retries.

[2020-02-03 17:07] Tratcher commented on #9337
@razzemans does this help?
[code]
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/options?view=aspnetcore-3.1#use-di-services-to-configure-options
https://github.com/dotnet/aspnetcore/blob/6255c1ed960f5277d2e96ac2d0968c2c7e844ce2/src/Security/Authentication/Cookies/src/CookieExtensions.cs#L29
https://github.com/dotnet/extensions/blob/cc317e6112479d36ba77a57e1eeea5d88a164a6c

[2020-02-03 17:16] vijayrkn commented on #18598
Yes. You can transfer this to websdk.

[2020-02-03 17:21] mkArtakMSFT commented on #18753
Thanks for contacting us.
This is something we have fixed already and the fix will be coming up wiht the 5.0 release.
@NTaylorMullen do you have the issue to dupe this with? Thanks!

[2020-02-03 17:25] mkArtakMSFT commented on #18750
Thanks for contacting us. This is not something we plan to support because this is not a priority.

[2020-02-03 17:25] #18750 closed

[2020-02-03 17:26] chassq commented on #18753
So looks like we will have this issue until November 2020? Sound right? Just making sure.

[2020-02-03 17:29] mkArtakMSFT commented on #18747
Thanks for contacting us.
The best you can do for now is to scaffold the Identity in a new non-Blazor application and copy the changes over to your Blazor app.
We plan to cover this in more details in the docs in the near future.

[2020-02-03 17:29] #18747 closed

[2020-02-03 17:34] SteveSandersonMS commented on #18745
We should also consider using https://developer.mozilla.org/en-US/docs/Web/API/Document/onvisibilitychange (or similar API) to attempt reconnection immediately when the tab regains focus, regardless of the update cycle.

[2020-02-03 17:37] mkArtakMSFT commented on #18743
Thanks for contacting us.
Would it be enough if you could pass multiple values to the `CascadingValue`?

[2020-02-03 17:39] mkArtakMSFT commented on #18742
Thanks for contacting us.
This doesn't seem high priority so we plan to handle after our upcoming Blazor WASM release. Please expect a delayed response here.

[2020-02-03 17:41] mkArtakMSFT commented on #18741
This issue was moved to mono/mono#18679

[2020-02-03 17:41] #18741 closed

[2020-02-03 17:43] SteveSandersonMS commented on #18748
It's an interesting idea, and at some point we might look into putting a feature like this into the tooling.

It will only make sense if we had some way to indicate that a certain component "behaves like" a particular HTML element (in your example, like an `input` element). Otherwise, the tooling would not know which attribute are relevant, or even that HTML attributes are relevant at all. In gene

[2020-02-03 17:45] nazrulbspi5 commented on #18747
how can override the built-in login and register page?
I need to customize the login and register page.

[2020-02-03 17:46] blowdart commented on #18756
Do you really mean impersonation here, i.e. are you trying to change the actual process and have subsequent actions run as the user, or do you meant a custom authentication middleware where the User property on the request contains your user information?

[2020-02-03 17:49] mkArtakMSFT commented on #18731
Thanks for your feedback, @OnurGumus. We will work with the Mono team to get some coverage for this.

[2020-02-03 17:49] #18731 closed

[2020-02-03 17:53] trevors20 commented on #4707
Since this issue has been marked as a medium security vulnerability by WhiteSource, can anyone tell me a quick summary of what the exploit is here?  This is a VERY long thread going back to 2018.  Thank you.

[2020-02-03 18:00] anurse commented on #18705
The blazor docs have details on the hosting requirements: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/server?view=aspnetcore-3.1

[2020-02-03 18:00] anurse commented on #18587
Yep. Thanks for the contribution!

[2020-02-03 18:00] #18587 closed

[2020-02-03 18:01] Pilchie commented on #18598
This issue was moved to aspnet/websdk#1250

[2020-02-03 18:01] #18598 closed

[2020-02-03 18:19] shirhatti commented on #6111
@jwisener If you're having an issue, please file an new issue and include and relevant logs (Event Logs, [stdout](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-3.1#log-creation-and-redirection), and [ANCM diagnostics logs](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-3.1#enhanced-diagnostic-logs)).

[2020-02-03 18:30] Socolin commented on #3793
Would it be possible to have a "apprestart" file to mark the app to be recycled without having to delete the appoffline file afterward ?

[2020-02-03 18:35] journger commented on #18141
Similar functionality exists on the "@aspnet/signalr@1.1.0", upgrading to @microsoft/signalr@3.1 looses this?
What is the point to keep the groups then if you cannot manipulate them?

[2020-02-03 18:36] NTaylorMullen commented on #18753
Most likely yes.

If you'd like to workaround the issue typically opening the Razor file(s) that has/have the associated C# piece will enable rename to work.

Duping to https://github.com/dotnet/aspnetcore/issues/14278

[2020-02-03 18:36] #18753 closed

[2020-02-03 18:42] PotatoSauceVFX commented on #18062
Is this also related to the 6 sec+ reload time when using `spa.UseReactDevelopmentServer(npmScript: "start");`?

[2020-02-03 18:56] luckerby commented on #18639
Contents [here](https://gist.github.com/luckerby/2e0fa7733fbd60b2f125e944cef57482).

I had to take out `.AddEntityFrameworkStores<ApplicationDbContext>()` initially since I wasn't getting anywhere (the code would not compile).

[2020-02-03 19:08] b3nt0 commented on #18334
Even with SDK 3.1.101 I had to move back to 3.1.0 for AzureAD.UI package. Just an FYI.

[2020-02-03 19:27] SkymanOne commented on #18236
Works for me. It seems like the problem hasn’t been fixed in .net core 3.1.101 build though

[2020-02-03 19:28] chassq commented on #18753
Thank you!

[2020-02-03 19:28] jasonshave opened #18761 "Blazor app not using Exception Filter"
I have a server-side Blazor application I'd like to use a custom Exception Filter for as per: https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/filters?view=aspnetcore-3.1#exception-filters.

Are these filters supported in a Blazor application?

### Describe the bug
I'm trying to use the Microsoft.Identity.Web library and MSAL.NET to authenticate to the MSFT Graph. In this library there

[2020-02-03 19:32] Tratcher commented on #18756
You don't want to do this as middleware, many components call the auth service directly. IClaimsTransformation might be a better place to hook in:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.authentication.iclaimstransformation?view=aspnetcore-3.1

[2020-02-03 19:34] Tratcher commented on #18749
Please provide a runnable project that demonstrates the issue.

[2020-02-03 19:37] Tratcher commented on #18744
In theory it's possible but it would take a lot of manualy overriding services. I don't think I've seen a complete end-to-end sample yet. Presumably this is how IdentityServer got it working?

[2020-02-03 19:39] shitalumare commented on #18663
Hi,
I'm working in a new ASP.NET Core 3.1 With Razor Pages application and I want to use third party Blazor components (BlazorTable:https://github.com/IvanJosipovic/BlazorTable) in it but I'm having trouble getting it to work.
I have created new ASP.NET Core 3.1 razor application and used same third party Blazor components (BlazorTable) in it and it is working just fine. I can do paging,sorting,fi

[2020-02-03 19:51] fitdev commented on #18743
@mkArtakMSFT Yes, that may certainly work. However, I think that the notion of templates or something similar is still valuable in its own right. It not only reduces the amount of code one has to write by repeating same values over and over again, but also makes the whole design and intent a lot clearer.

CascadingValue is a good fit when one needs to pass in a few values in an ad-hoc way. But a m

[2020-02-03 19:54] brockallen commented on #18744
The commercial product is from the IdentityServer EU support org Rock Solid Knowledge. It's not from the IdentityServer OSS folks.

[2020-02-03 19:58] fitdev commented on #18742
That's too bad, as it is a pretty useful and I suppose common scenario to use generically-typed parameters, one of the main benefits being strong typing all the way. Don't you just need to basically modify `.Where(prop => prop.DeclaringType == type);` on line 21 in [MemberAssignment.cs](https://github.com/dotnet/aspnetcore/blob/master/src/Components/Components/src/Reflection/MemberAssignment.cs#L2

[2020-02-03 20:04] luckerby commented on #18639
@blowdart ...and happy 10 year anniversary at MS ! :)

[2020-02-03 20:06] Bernhard-Ninaus commented on #18733
Yep, that was it.
I should have thought about this!

`<BlazorLinkOnBuild>false</BlazorLinkOnBuild>`
in the projket file does the trick, for those who may need it.

Thank you!

[2020-02-03 20:06] #18733 closed

[2020-02-03 20:20] gyphysics commented on #18683
Set to whatever I have directed the values to be set to within the response's OnStarting() event.

Currently Expires is set to -1, and as part of this change it is proposed to use an epoch date.

Our existing code sets Expires to 0 for all responses that we deem to be non-cachable - including errors - and that is what our integration tests look for on relevant response outputs.  I don't want to be

[2020-02-03 20:36] blowdart commented on #18639
Weird. @Tratcher any ideas here?

[2020-02-03 20:42] Aaronmsv commented on #18756
@blowdart Yes, the first one. One user is doing actions while pretending to be another one.

@Tratcher I had looked at that as well. I'll give that a go tomorrow, thanks.

[2020-02-03 20:45] blowdart commented on #18756
We only support "true" impersonation with Windows authentication, unless you're rolling your own here, and it's just swapping out the user property?

[2020-02-03 20:51] arabelaa opened #18762 "Logs from WebHost.Run are not written to ApplicationInsights when configuring AddApplicationInsightsTelemetry in ConfigureServices"
### Describe the bug
I want to log exceptions that occur when running the webhost. See below the code I used in Program.cs.
The strange part I noticed is that when adding  `           services.AddApplicationInsightsTelemetry();
` in `ConfigureServices` the logs are not pushed to AI. If I remove the registration it works perfectly fine. I did the exact steps with a sample  ASP.NET Core and the same

[2020-02-03 20:52] Tratcher commented on #18639
...

It's AddEntityFrameworkStores that adds IUserStore, you'll need to put that back. Maybe it will work now that you fixed the other error.

[2020-02-03 20:54] hardware commented on #14547
@flatproject Thank you ! It works like a charm.

[code]

To fix these errors, I followed only 2 steps in my case :

1. Install `Microsoft.AspNetCore.AzureAppServices.HostingStartup` package.

2. Disable the `Profiler` Application Insights panel.

Framework dependant deployment using .net core 3.1.1, VS 2019 Publish.

[2020-02-03 21:12] Aaronmsv commented on #18756
@blowdart, well yes, I was thinking of replacing the existing identity myself, adding a new identity to the claims principal and manually mapping the right identity to my internal user, or transforming the claims of the authenticated user to the impersonated one. But I wasn't sure what the right approach was.

[2020-02-03 21:18] mviegas opened #18763 "Missing ITransportHeartbeat for SignalR Core"
Hi folks!

First issue here, tried to put it in the right place but not quite sure. Apologize if I done it wrong!

So, we were looking into monitoring signalR alive connections and found out a legacy code of ours where there was a `ITransportHeartbeat` in signalR for .net framework that was pretty useful for checking hearbeats.

Is there anything like that in signalR for .net core? Or any approach

[2020-02-03 21:21] blowdart commented on #18756
In that case Chris's advice to use the claims transformation point is probably your best bet.

[2020-02-03 21:21] DataJuggler opened #18764 "Question: Is there an object above Page?"
I developed an easy way for components to talk to their parent / child by using interfaces and it works really well as long as the child is a component, the parent can be another component or a page.

![Image of Login Component](https://datajuggler.com/Images/OnLogin.png)

I would like to do the same thing for a Page, or have 1 Page be a parent of another where if an event or a process finishes on

[2020-02-03 21:22] BrennanConroy commented on #18141
What functionality are you observing that is no longer there?

[2020-02-03 21:37] mayur-rao commented on #18723
@pranavkm : 1. I am aware of the option to set syncIO=true while running the app. But wouldn't that affect performance? The reason Microsoft provides is they are turned off by default (from .netcoreapp3.1) to prevent starvation or app hangs.
2. Is it ok for Linq to make a synchronous call inside an Async method? (Xdocument.LoadAsync()).
Because it is like, although I as a developer am placing a ca

[2020-02-03 21:38] danroth27 opened #18765 "Cleanup Program.cs in ASP.NET Core hosted Blazor WebAssembly template"
Current *Program.cs*:

[code]

Expected:

[code]
[code]

[2020-02-03 22:02] Mike-EEE commented on #13906
Experimenting with the default server-side template + authentication, I am getting a similar but intermittent exception that occurs after logging in and appears to be related to the `NavLink`s found in the `NavMenu.razor` file.  Commenting them out seems to make the error go away altogether.

I should also mention that after I login and try logging out/back in the error does not occur.

I should a

[2020-02-03 22:03] anurse commented on #18585
@wfurt Can we get some clarity on whether this break (to throw a different exception in some circumstances) was intentional and will be documented as a breaking change? If so, we can just leave our reaction in place and there's no action here from our side, but if not we'd like to revert it.

[2020-02-03 22:04] anurse commented on #18564
@safern Any thoughts? The difference between Client and Server SKU seems likely to cause problems with GDI APIs...

[2020-02-03 22:04] pzbyszynski commented on #18578
@anurse Here is what is happening:
- I have upgraded my app to .NET Core 3.0 and published it to the `preprod` slot
- I have tested it via slot URL without any problems
- I have assigned 20% of traffic to `preprod` slot (.net core 3.0 app) app worked without major problems
- I have swapped slots, so all the traffic was routed to .NET Core 3.0 app and the app died

I have completely no idea what is

[2020-02-03 22:06] luckerby commented on #18639
@Tratcher the issue is this - if I uncomment `.AddEntityFrameworkStores<ApplicationDbContext>()` then I run into 2 errors:
- `Error	CS1061	'IdentityBuilder' does not contain a definition for 'AddEntityFrameworkStores' and no accessible extension method 'AddEntityFrameworkStores' accepting a first argument of type 'IdentityBuilder' could be found (are you missing a using directive or an assembly re

[2020-02-03 22:07] anurse commented on #18762
FYI, ASP.NET Core 2.2 is [end-of-life and no longer supported](AddApplicationInsightsTelemetry). You should consider moving to 3.1 (the latest LTS) or 2.1 (the previous LTS).

This seems like an issue with App Insights. Can you file the issue on https://github.com/Microsoft/ApplicationInsights-aspnetcore ? If necessary, that team can let us know if it's traced back to an ASP.NET Core framework iss

[2020-02-03 22:07] #18762 closed

[2020-02-03 22:08] safern commented on #18564
That would be the most likely explanation to this as all our imaging APIs PInvoke into GDI+ and we just process the result of those APIs. I tried to find a documented difference in behavior in between Client and Server but couldn't find anything. @JeremyKuhne who has played longer than me with GDI+ might have some insights here.

[2020-02-03 22:09] anurse commented on #18735
We don't capture crashing exceptions in out-of-proc mode because we don't have any way to intercept the crash from a separate process. However, the runtime should be writing crashing exceptions to the Event Log. Are you seeing any exception information in the Windows Event Log?

[2020-02-03 22:13] Tratcher commented on #18639
Sounds like you're missing a package reference to Microsoft.AspNetCore.Identity.EntityFrameworkCore.

You should have that file in your app. Here's the one from the template:
https://github.com/dotnet/aspnetcore/blob/36267e8bafc2345e536fb937a03946cfd172250c/src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Data/ApplicationDbContext.cs#L9

[2020-02-03 22:14] #18717 closed

[2020-02-03 22:24] pzbyszynski commented on #18578
Also, I have found the following messages in an application event log (maybe it will be helpful)

Error:
`CInstrumentationMethod::Initialize - failed to initialize instrumentation method PID: 9180 hr: 80131375 name: Production Breakpoint Instrumentation Method`

Followed by info:
`Incoming-calls pipe shutdown.`

[2020-02-03 22:24] sherif-elmetainy commented on #18735
@anurse Thanks for your answer. Yes, I saw the exception with full stacktrace in the eventlog.xml on Azure and this is how I easily found and fixed the bug in my code. So the "logging" part is working fine.

May be I didn't explain well. I didn't mean intercept (or catch) the exception. I meant monitor the process and if it crashes and dies, start a new process (so the application functionality is

[2020-02-03 22:25] anurse commented on #18578
@pzbyszynski Do you have the [stdout log](https://docs.microsoft.com/en-us/aspnet/core/test/troubleshoot-azure-iis?view=aspnetcore-3.1#aspnet-core-module-stdout-log-iis) feature enabled in ASP.NET Core Module? Does the issue reproduce if you disable it? Or if you try the out-of-proc mode in ANCM? The stdout log isn't really designed as a logging system for use under high load in production systems

[2020-02-03 22:27] BenVillalobos commented on #17269
Okay, so it turns out this was a breaking change we wanted to take as of net core 3.0. For full context and an explanation of how resource names are chosen, see [the issue on MSBuild's side](https://github.com/microsoft/msbuild/issues/4996) and [the dotnet docs issue](https://github.com/dotnet/docs/issues/16964).

[2020-02-03 22:27] anurse commented on #18763
There isn't a global hook for all connections, but you can hook the heartbeat for each connection with (pseudo-)code like this in your Hub's `OnConnectedAsync`:

[code]

[2020-02-03 22:29] anurse commented on #18735
This should be happening. If the process crashes (and you don't hit the rapid failure threshold, which you indicated you aren't) it should be restarting. Can you share a runnable sample project that reproduces the issue?

FYI, ASP.NET Core 2.2 is [end-of-life and no longer supported](https://devblogs.microsoft.com/dotnet/net-core-2-2-will-reach-end-of-life-on-december-23-2019/) you should migrate

[2020-02-03 23:29] sherif-elmetainy commented on #18735
@anurse Unfortunately I don't have time create a sample project at the moment. I tried a hello world thing with very little code, and that didn't seem to reproduce the problem, so there is something causing it that I don't know of and it needs more time to find. May be I can have time on the next weekend.
I looked back at the logs and found the following error right after the logged exception:

Fa

[2020-02-03 23:31] pzbyszynski commented on #18578
@anurse

I have to investigate, but I doubt we use any of these. I will get back to you with this info

I can not be sure, but this is exactly how it looks like

I can access this logs via `App Service -> Diagnose and solve problems -> Diagnostic tools -> Application event log` on Azure Portal

`CInstrumentationMethod::Initialize - failed to initialize instrumentation method PID: 9180 hr: 80131375

[2020-02-03 23:42] pranavkm commented on #18723
@mayur-rao sorry I missed that you're performing an async read. It does look like `XDocument` performs sync reads when you call LoadAsync. I'd recommend filing an issue in https://github.com/dotnet/runtime here to see if they could address it.

To answer your previous question, setting SyncIO = true, your app shouldn't perform any worse than what it was prior to an upgrade from 2.2. However, if yo

[2020-02-03 23:43] pzbyszynski commented on #18578
@anurse I can confirm that we do not use `stdout log`

[2020-02-03 23:57] dhaselden commented on #14392
I am using a corporate proxy and had the same issue with the VS 2019 Angular8 template . It looks like dotnet core 3+ has removed the system of getting your proxy settings from IE/Internet options (Interop.WinHttp.WinHttpOpen) so the "bypass proxy server for local addresses" and "Do not use proxy server for address beginning with:" no longer worked.
Setting the windows environment variables:
HTTP_

[2020-02-03 23:59] surr34 commented on #18488
updated the table above to include http numbers

[2020-02-04 00:03] anurse commented on #18578
Ok, I think these aren't related then.

[2020-02-04 00:07] JeremyKuhne commented on #18564
I'm unaware of any Server specific issues. It would be good to see if the stream you're giving `System.Drawing.Bitmap` is different between your two scenarios. I would guess the problem you're seeing happens before you're giving it to System.Drawing.

I'd try to mix this up a little bit. Does saving as a different image format work (bitmap, jpeg, etc.)? Perhaps there is a codec issue? I don't know

[2020-02-04 00:09] steveoh opened #18768 "Remove the importance of app configuration order"
### The problem

I was reading the docs on upgrading a 2.1 app to 3.1 which used endpoint routing and could not figure out why my routes were not being picked up. It turned out that `app.UseEndpoints(...)` needed to be placed before `app.UseSpa(...)`.

There were many warnings in the migration docs about the configuration order eg:

There were no warnings about endpoints and spa. I had to generate

[2020-02-04 00:29] NTaylorMullen opened #18769 "Add Razor theme to properly colorize Razor constructs in Visual Studio."
Today in Visual Studio we have Razor syntactic colorization but all Razor constructs are colored blue. We should tie this to the existence Razor `@` classification or fall back to our own in the case the Razor workload is not installed.

Best practice is to
- Create a `ClassificationFormatDefinition` in Core VS that's used to colorize Razor constructs in the absense of the Razor workload.
- Add a

[2020-02-04 00:41] jkotalik commented on #18732
@wtgodbe could this be related to what we were seeing in aspnetcore tooling?

[2020-02-04 00:51] pertraindev commented on #18768
As you point out they have probably have discussed this and have good reasons but... I totally agree a master list of `app.Usex` would be useful. With short call outs to explain why.

[2020-02-04 01:21] dpedrelli commented on #5824
I started a new, ASP.NET Core 3.1.1 app.  This still seems to be an issue.  Should I expect this to not work?

[2020-02-04 02:00] #14092 closed

[2020-02-04 02:35] dhaselden commented on #14392
I am using Visual studio 2019, .net core 3.1, with Angular8 template, when using SPA modes:
spa.UseProxyToSpaDevelopmentServer
or
spa.UseAngularCliServer
I was getting a proxy message stating can't forward to localhost.

For some reason my proxy settings from "Internet Options" stopped working, I had HTTP_PROXY and HTTPS_PROXY set, but not NO_PROXY. My side by side install of Visual studio 2017 an

[2020-02-04 03:00] #18437 closed

[2020-02-04 03:00] #17510 closed

[2020-02-04 04:21] Tratcher opened #18772 "DI support for auth handler options"
https://github.com/dotnet/aspnetcore/issues/9337#issuecomment-581489114
https://github.com/dotnet/aspnetcore/issues/9337#issuecomment-581516787

### Describe the bug
The authentication handlers are configured in Startup.ConfigureServices and have trouble relying on services for any customization. E.g.
[code]

IOptions supports DI for configure callbacks, but the existing overloads aren't compatibl

[2020-02-04 05:00] vimala1085 commented on #18749
public class TestStartup
    {
        public TestStartup(IConfiguration configuration)
        {
            Configuration = configuration;
        }

        public IConfiguration Configuration { get; }
        public static TestDomainEvent DomainEventTest { get; set; }
        public void ConfigureServices(IServiceCollection services)
         {
            services.AddControllers().AddNewtonso

[2020-02-04 05:08] vimala1085 commented on #18749
The below unit test consumes the above Testserver class.
var builder = new WebHostBuilder()
                   .UseEnvironment("Development")
                   .UseKestrel()
                    .CaptureStartupErrors(true)
                   .UseStartup<TestStartup>();
            _server = new TestServer(builder);
  _client = _server.CreateClient();
            _client.DefaultRequestHeaders.Accep

[2020-02-04 05:32] vimala1085 commented on #18749
The below is the response of the http get request
{StatusCode: 404, ReasonPhrase: 'Not Found', Version: 1.1, Content: System.Net.Http.StreamContent, Headers:
{
}}
    Content: {System.Net.Http.StreamContent}
    Headers: {}
    IsSuccessStatusCode: false
    ReasonPhrase: "Not Found"
    RequestMessage: {Method: GET, RequestUri: 'http://localhost:1234/api/users/test', Version: 1.1, Content: <null>

[2020-02-04 05:49] jodavis commented on #18685
If there was a simple short-term fix, I would say go for it. But since we already have the right long-term fix on the roadmap, and the impact of the issue, while annoying, isn't blocking anything, I think we should wait for the right fix. Let me know if there's something that makes this more severe than my current read on it.

[2020-02-04 06:00] WesleySSmith opened #18773 "Running dotnet pack on a non-packable web project incorrectly builds default target in referenced projects"
When running _dotnet pack_ in a web project that uses an SDK of Microsoft.NET.Sdk.Web, if that web project references another library project via a project dependency, then the _dotnet pack_ build will try to perform a build of that referenced library project, even though doing so is unnecessary and unwanted.

In my particular case, I have a solution file with a number of projects.  I want to pack

[2020-02-04 06:20] GrabYourPitchforks opened #18774 "Clean up calls to string.ToLower / ToUpper throughout codebase"
I'm going through the runtime code cleaning up some of our internal usage of `string.ToUpper` / `string.ToLower` and related APIs, and I noticed that ASP.NET also uses these in a few places. See https://source.dot.net/System.Private.CoreLib/R/0b5a1ee33618e0b3.html for a list.

Remember that these APIs are _culture-sensitive_, so they'll return different results on different machines. If you want s

[2020-02-04 07:12] WalterEbbers commented on #18744
@brockallen @blowdart @Tratcher
Thank you all for the replies. I will lay this forward to my colleagues and see what will be chosen to do.

Thnx again all :)

[2020-02-04 07:12] #18744 closed

[2020-02-04 07:37] sps014 opened #18776 "TCP Listener not working in Blazor Wasm."
I need to create http server in blazor wasm
, I am using tcp listener to create web server. I am getting platform not supported error.
How can i get a http web server working on blazor??

[2020-02-04 07:38] #18394 closed

[2020-02-04 07:59] jagbarcelo commented on #18564
I've just tested to change the output to Jpeg, Gif and Tiff without any major differences. All of them, when run locally with IIS Express, render the circle correctly (considering the the lack of transparency for Jpg and Gif). When all the same tests were done in release with IIS, Tiff & Png returned a whole transparent file, whereas Gif and Jpeg returned a whole black square.

![thumbs](https://u

[2020-02-04 08:14] razzemans commented on #9337
Thanks a lot @Tratcher - that indeed works.

I think I would prefer your first proposal - it is also consistent with the factory methods overloads of the `IServiceCollection` interface.

[2020-02-04 08:46] stsrki commented on #18685
I would like to mention that while the warning for the `<Link>` was not blocking me from using it in the client-side app, it was giving me a compile error when trying to use it in another class-library project.

![image](https://user-images.githubusercontent.com/900302/73728143-146fd900-4733-11ea-9b81-513b43e7d22d.png)

![image](https://user-images.githubusercontent.com/900302/73728155-19cd2380-47

[2020-02-04 08:57] mviegas commented on #18763
Thanks @anurse. I'll go give it a try later on and come back with some feedback!

[2020-02-04 09:02] wfurt commented on #18488
can you please provide the test code for the `Node` as well @surr34? And do you use the default dev-certificate from Kestrel? I'm _yet_ to execute your example on my reference machines. But since your results are somewhat strange, did you ever try to verify the numbers on a different Windows system to eliminate local anomaly? (Node does not use schannel/lsass/OS_ssl AFAIK so any misconfiguration w

[2020-02-04 09:44] javiercn commented on #18776
@sps014 thanks for contacting us.

We think this will be an issue better suited for the [mono](https://github.com/mono/mono) repository.

That said, I don't think what you are trying to accomplish here is ever going to work. The set of things that you are able to do in WebAssembly is limited by the set of things you can do in the Browser. A good example of this is HttpClient. While you have full c

[2020-02-04 09:44] #18776 closed

[2020-02-04 09:45] javiercn commented on #18765
@danroth27 thanks for contacting us :trollface:

I made these changes as part of the update to the templates to add auth, so they'll get bundled up.

[2020-02-04 09:50] jagbarcelo commented on #18564
I've been doing some more tests in order to check if the stream given to System.Drawing.Bitmap was in fact the same or not in both scenarios. It seems it is not.

I have added a piece of code to calculate a Hash for the BitmapFrame that is then passed along to the encoder (via encoder.Frames.Add). So, before reaching that point now we have this:

[code]

That hash value is then added to the respon

[2020-02-04 10:01] vimala1085 commented on #18749
can anybody help me on this

[2020-02-04 10:02] javiercn commented on #18773
@WesleySSmith thanks for contacting us.

I'm not sure that packing web projects is something that we've ever supported. I would be interested in understanding what your scenario for needing this is.

As you mentioned in the issue, this is something that you can avoid by passing `<StaticWebAssetsEnabled>false</StaticWebAssetsEnabled>` to the pack project.

You can do this from the CLI as follows:
`

[2020-02-04 10:10] javiercn commented on #18764
@DataJuggler thanks for contacting us.

Pages are rendered by the Router component and that is typically part of the App component, which is at the root in the template, but technically they can be referenced from anywhere.

[2020-02-04 10:10] #18764 closed

[2020-02-04 10:12] Safirion commented on #17269
Hi,

I don't understand why EmbeddedResourceUseDependentUponConvention is set to "True" by default. If this parameter was added to improve compatibility with old projects, why change the default behaviour and impact all projects created since the begining of .Net Core ?

[2020-02-04 10:13] javiercn commented on #18761
@jasonshave thanks for contacting us.

Exception filters are not part of the Blazor programming model and are not supported. See [this link](https://docs.microsoft.com/en-us/aspnet/core/blazor/handle-errors?view=aspnetcore-3.1) for details on error handling in Blazor applications.

[2020-02-04 10:13] #18761 closed

[2020-02-04 10:15] ayush143 commented on #18776
Yeah , that seems a mono issue.
Is Serial Communication is supported on wasm ??

[2020-02-04 10:17] javiercn commented on #18768
@steveoh thanks for contacting us.

@Rick-Anderson Can we get the SPA middleware added to this table? https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/?view=aspnetcore-3.1#built-in-middleware

[2020-02-04 10:21] sps014 commented on #18776
Yeah Serial com works, don't know how they managed to get it working.

[2020-02-04 10:45] poke commented on #18768
While that would be desirable to greatly simplify the setup, it would also cripple the flexibility a lot. Right now, the application developer is in control of what middlewares run when and how. The order of the middleware registrations is the order in which the middlewares will attempt to respond to requests.

In that sense, it makes sense that a MVC/routing middleware would usually run before th

[2020-02-04 11:16] razzemans opened #18778 "Logger throws exception writing to Application Insights on Azure with special character"
### Description
When logging the 'SOH' control character in Application Insights, an exception gets thrown, crashing the application if not handled correctly. It works correctly on my local development machine.

The logline shows up in the log, but the logger will throw an exception:

[code]

### To Reproduce
Please see the following sample project with the line causing the exception:

https://git

[2020-02-04 11:30] ChaosEngine commented on #18692
So for current LTS dotnet 3.1 we are bound to MessagePack 1.x family only, right? MessagePack 2.x is not compatible/supported until dotnet 5.x?
So we should stop updating nuget package to >=2.x

[2020-02-04 11:43] tebeco commented on #18692
yes for SignalR 3.x, you cannot update to `MessagePack` 2.x
so i would not say

I would rather say something like:
Until aspnetcore 5.x is release you need to set a constraints on `MessagePack` so that it is strictly inferior to 2.x
that way you are still using a "declarative mode stating what you want" and on top of it you will get explicit `dotnet restore` error if another third part tries to pu

[2020-02-04 13:11] jodavis commented on #18685
I don't think those errors are coming from the editor. The editor creates a warning with the text "Closing tag supplied for self-closing element. Remove closing tag." But it would only be noise when the file is open in the VS editor. It would never cause build-time errors.

@NTaylorMullen Does the Blazor parser have any special logic around "link" tags? It looks like it's failing to match up the s

[2020-02-04 13:20] tlaukkanen commented on #18586
Do you think this is related also to custom login URLs too?
I'm setting custom LoginUrl to IdentityServer with:
[code]
...but with `[Authorized]` Controller I'm still getting redirected to `https://localhost:5001/Account/Login?ReturnUrl=..` whereas I was expecting is to see redirect to `https://localhost:5001/login?...` path.

[2020-02-04 13:48] sven5 commented on #5840
This issue still persists. No updates on this? This is really annoying.

[2020-02-04 13:59] dehghani-mehdi commented on #18586
@tlaukkanen  You should customize cookie settings, see [Configure ASP.NET Core Identity](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-configuration?view=aspnetcore-3.1#cookie-settings)

[2020-02-04 14:56] smcl opened #18779 "SameSite still omitted when set to SameSiteMode.None, with patched .net core 2.1"
### Describe the bug
When creating a cookie it still doesn't seem possible to have `SameSite=None` set even though this was supposed to be sorted in the 2.1.14 patch last year (i've also tried installing 2.1.15) - see issue #12125 and #13746. I originally observed this when testing out our IdentityServer4 app which uses OIDC, when we send users to an external Identity Provider an ".AspNetCore.Corr

[2020-02-04 14:58] alexbezugliy opened #18780 "Deserialization issue in Microsoft.AspNetCore.Mvc.NewtonsoftJson"
### Describe the bug
When i was using Microsoft.AspNetCore.Mvc.NewtonsoftJson in my app i switched to newtonsoft json instead of using System.Text.Json which is coming by default. However i had a test which were testing rest api with various validational cases. On of the cases was when we use wrong json which can’t be properly deserialized to an appropriate DTO and be passed to a controller POST m

[2020-02-04 15:15] Aaronmsv commented on #18756
I got it working using claims transformation, thanks!

[2020-02-04 15:21] steveoh commented on #18768
I think a data structure could exist to help with the ordering for most cases. It would help those that don't want to understand how everything works. It would be another way to register middleware so it would not cripple those that want to tweak everything.

It's a bummer that this is the first place a developer has to focus and there are so many very important things happening with a lot of cons

[2020-02-04 15:22] jeremielec opened #18781 "Add better assembly resolve for PublishTrimmed build option for AspNet Core"
### Is your feature request related to a problem? Please describe.

A major feature of .Net core is now to allow project to be publish trimmed (Aka removing unused assembly) and self-contained.
This does  not work fine with AspNet Core, as stated [here](https://docs.microsoft.com/fr-fr/dotnet/core/whats-new/dotnet-core-3-0#assembly-linking), use reflexion.
Therefore used type in controllers are mo

[2020-02-04 15:39] andrew-vdb commented on #9020
I have grpc client running in app service and service running just fine in aks, in case anyone else want to try too

[2020-02-04 16:09] javiercn opened #18782 "[Blazor] Support for individual auth using Microsoft.AspNetCore.ApiAuthorization.IdentityServer"
We want to support individual auth for hosted applications using our existing support for OIDC in ASP.NET Core, powered by Identity Server.

This issue tracks the work to enable Individual auth in hosted scenarios with the same infrastructure we have in the SPA templates.

[2020-02-04 16:12] javiercn opened #18783 "[Blazor] Support for individual auth in standalone Blazor applications using oidc-client.js"

[2020-02-04 16:13] javiercn opened #18784 "[Blazor] Support for authentication of hosted and standalone applications using AAD and AADB2C"

[2020-02-04 16:14] javiercn commented on #17014
* Current plan of record is to use the same support for authentication and authorization that we have in the SPA templates:
- [ ] [Hosted individual auth](https://github.com/dotnet/aspnetcore/issues/18782)
- [ ] [Standalone individual auth](https://github.com/dotnet/aspnetcore/issues/18783)
- [ ] [AAD and AADB2C](https://github.com/dotnet/aspnetcore/issues/18784)

[2020-02-04 16:30] alefranz opened #18785 "Tests: add trace listener to improve Debug.Assert experience"
`Debug.Assert()` cause the test host process to crash when tests target .NET Core.

This could be quite misleading as it is not usually clear why the tests are not running and could sometimes be not obvious that the rest is not running (the VS UI has recently improved on making it more obvious, so it is less of a problem).

As this project makes heavy use of `Debug.Assert()`, I think it would be n

[2020-02-04 16:35] WesleySSmith commented on #18773
@javiercn Thanks for your response.  Here's some more detail on why I see this issue:

I've updated my example in https://github.com/WesleySSmith/pack_bug_demo

Now there are 3 projects:

- _lib_ - This has IsPackable = false  set in the .csproj, so is not packable.  Also, it can't compile due to errors.
- _web_ - This is a web project, and so is not packable
- _lib2_ - This library is packable

F

[2020-02-04 16:49] javiercn commented on #18773
@WesleySSmith thanks for the detailed response,

I think that the best option for you is to disable static web assets explicitly in your project.

Static Web Assets needs to collect the dependencies from all the referenced projects to allow for scenarios like bundling and minification, so if you try to pack a RCL or a web project that's going to happen.

I recommend you disable static web assets i

[2020-02-04 16:50] mkArtakMSFT commented on #18778
@anurse should this move to `Extensions` instead?

[2020-02-04 16:56] blowdart commented on #18779
1) Are you targetting .NET Framework as your runtime? If so you need to specifically add [two dependencies](https://github.com/aspnet/Announcements/issues/390#issuecomment-575385338);

[code]
2) You also need to configure middlewares to use the SecurePolicy you wish; for example

[code]

[This is documented](https://docs.microsoft.com/en-us/aspnet/core/security/samesite?view=aspnetcore-3.0).

3) F

[2020-02-04 17:00] #18746 closed

[2020-02-04 17:12] PeterPann23 commented on #14723
I have a similar issue that get's introduced by a dll that uses entity framework where EF is abstracted from the consuming assembly. It then load analyzers from
![image](https://user-images.githubusercontent.com/44400822/73768750-dd70e600-4779-11ea-8033-48121a4d18c4.png)

[2020-02-04 17:33] mkArtakMSFT commented on #18743
Thanks for the details, @fitdev.
We are moving this issue to the backlog to see how the community reacts to this ask. We will re-evaluate this ask in the future.

[2020-02-04 17:35] mkArtakMSFT commented on #18780
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-02-04 17:55] wtgodbe commented on #18732
No, this is something else. Likely related to some weirdness with runtime version & targeting packs. I'll take a look later today

[2020-02-04 18:01] #18631 closed

[2020-02-04 18:09] Rick-Anderson commented on #18768
@javiercn  maybe we could add `UseMiddlewareOrderErrorPage `warnings for 5.0
[code]

[2020-02-04 18:14] surr34 commented on #18488
I created a repository to contain all the code I used for both Kestrel and NodeJs https://github.com/surr34/https-bench .

[2020-02-04 18:46] Kahbazi commented on #13358
@harleydk For now you can use this workaround for getting a reference to the components in a loop.

[code]

[2020-02-04 18:55] drdamour opened #18787 "UseSpa can't serve anonymous requests if there's a fallback policy in place"
### Describe the bug
UseSpa must be at the end of your middleware use because it's a catch all when no other routes match, however this means that it MUST be after UseAuthentication() and UseAuthorization().  If a fallback policy has been configured for an application then any anonymous requests to the Spa proxy server fails auth since UseSpa doen't generate an endpoint metadata.

There should be

[2020-02-04 18:56] smcl commented on #18779
No I'm not targetting .NET Framework, and I have configured middleware as per the documentation and I have a solution in place to strip out None for the some of the browsers which don't support it similar to that described in the docs.

I really appreciate the suggestions but in this issue I've got a little self-contained example that I think indicates `SameSite=None` is not correctly set when it

[2020-02-04 18:57] KirillOsenkov opened #18788 "[Razor] Null reference exception in VSMac EditorDocument.ProcessClose()"
[code]

[2020-02-04 18:58] KirillOsenkov commented on #18788
Reported by @sayedihashimi:

"Today I ran into a hang while editing a .cs file. All I did with ⌘-f to find a string, closed the search and then tried to search for a different string. The search popup wasn't appearing so I closed and tried to reopen the file. The file never opened an in the status bar was the message below. I killed the process such that the stack should go into the log and attach

[2020-02-04 19:00] KirillOsenkov commented on #18788
https://github.com/dotnet/aspnetcore-tooling/blob/28ef7a1e2fcdefbdff2f83ee4efb9186d2c8f103/src/Razor/src/Microsoft.VisualStudio.Editor.Razor/Documents/EditorDocument.cs#L125

EditorTextContainer seems to be null. @NTaylorMullen any quick ideas on why given the stack above? We saw the stack in Sayed's logs.

[2020-02-04 19:09] javiercn commented on #18768
@Rick-Anderson I believe there's already an analyzer for it.

If you want, file an issue for it and it'll get triaged.

[2020-02-04 19:31] blowdart commented on #18779
An example would be great

[2020-02-04 19:37] Tratcher commented on #18749
I don't see anything obvious from the code provided (though you left out the controller). I suggest turning on debug application logging so you can see the logs from routing. Most likely your controllers aren't being discovered in the test environment.
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1

[2020-02-04 19:41] smcl commented on #18779
Please see the "To Reproduce" of the original comment, it's all there

[2020-02-04 19:41] NTaylorMullen commented on #18685
Does not have any special logic around `Link` tags surprisingly. @strski that's definitely worrisome and I agree with @jodavis. If you're getting compile time errors that would be a separate issue. If you could provide a repro app I'd be happy to take a look.

[2020-02-04 19:50] NTaylorMullen commented on #18788
Hmm, only way I can conceive of this happening is if you guys are calling "closed" twice for the same document without calling "open" in between:

https://github.com/dotnet/aspnetcore-tooling/blob/e3da5266f5c8b3595fc6863aa549d5217479fdb2/src/Razor/src/Microsoft.VisualStudio.Mac.LanguageServices.Razor/RazorDocumentControllerExtension.cs#L57

[2020-02-04 20:00] #10366 closed

[2020-02-04 20:11] alexbezugliy commented on #18780
Sure, but please give me some time cause i have other work to do atm too. Cause this one requires a bit of effort to correctly slice the right middle-ware stack in one peace. Currently i reproduced it within our product environment middle-ware stack based on chassis pattern. I'll update with simplified repo due to next Monday. Hopefully it will work as expected though - so i get the wrong shot to

[2020-02-04 20:26] blowdart commented on #18779
Oh wait, that's it?

What version of core 2.1 do you have installed?

(Also @Tratcher)

[2020-02-04 20:34] blowdart commented on #18779
Oh wait, you're going through SetCookieHeaderValue? Why a console app, rather than a web app? The web app approach works in my demos.

[code]

[2020-02-04 20:52] Tratcher commented on #18779
@blowdart I'll take over.

@smcl nice repro steps. I'll give them a try quick.

[2020-02-04 21:07] NTaylorMullen commented on #18769
Investigated this a bit further to see what it would mean for VSCode and the result is that [VSCode doesn't currently support theming background colors](https://github.com/microsoft/vscode/issues/3429). This means we can't unify our VSCode colors with Visual Studio because the Razor transition characters have a yellow background with black text. I played around with making those control characters

[2020-02-04 21:08] wtgodbe opened #18789 "Switch from 'alpha' to 'preview' branding"
- [x] AspNetCore - https://github.com/dotnet/aspnetcore/pull/18793
- [x] AspNetCore-Tooling - https://github.com/dotnet/aspnetcore-tooling/pull/1561
- [x] Extensions - https://github.com/dotnet/extensions/pull/2933
- [x] EFCore - https://github.com/dotnet/efcore/pull/19798

Don't think we need this in Blazor since it's not currently shipping with .Net 5

CC @dotnet/aspnet-build

[2020-02-04 21:20] Tratcher commented on #18779
Why did you add version 2.2.2 to a 2.1 project?

I replaced that step with this one and now it's working:
`dotnet add package Microsoft.Net.Http.Headers --version 2.1.14`
[code]

Needing this direct dependency is expected when you're working only with packages. Normally that would only apply to .NET Framework apps, but in your repro it also applies because you're not referencing the ASP.NET Core s

[2020-02-04 21:22] simeyla commented on #4487
Yes this is awful and potentially very dangerous!

The [sample code](https://docs.microsoft.com/en-us/aspnet/core/performance/caching/middleware?view=aspnetcore-3.1) for response caching middleware has the following:

[code]

This will not very by query params, and given that browsers often send `Max-Age: 0` when you just type in a URL it can be difficult to spot that your data is being cached (es

[2020-02-04 21:25] luckerby commented on #18639
@Tratcher I've included the class definition in the Startup.cs, so that the file now looks like [this](https://gist.github.com/luckerby/32c86716ba877f2b3eb170ce2bb3e64d). Yet the exception looks even more verbose now:

[code]

[2020-02-04 21:28] stsrki commented on #18685
@NTaylorMullen I have created a repro project: https://github.com/stsrki/BlazorClosingTagIssue

Also I found out what triggers the error. It is happening every time that `<Link>` is placed inside of `@if( ) { }` statement. Example in the screen-shot:

![image](https://user-images.githubusercontent.com/900302/73788470-5df50e00-479d-11ea-9fda-c5ac3f8b01ca.png)

Without the `if` statement only the wa

[2020-02-04 21:34] Rick-Anderson opened #18791 "Feature request for 5.0: Run analyzers in debug mode"
Problem motivation: #18768,  `app.UseSpa` was in the wrong order.

[code]

`UseRunAllAnalyzers` could be updated frequently to add more checks.

[2020-02-04 21:36] mthalman opened #18792 "Checksums for released archive files are not published to dotnetclichecksums"
The expectation is that there should be checksum files located at the dotnetclichecksums blob storage location for ASP.NET archive files.  Example: https://dotnetclichecksums.blob.core.windows.net/dotnet/aspnetcore/Runtime/5.0.0-alpha.1.20071.6/aspnetcore-runtime-5.0.0-alpha.1.20071.6-linux-arm64.tar.gz.sha512 (doesn't exist but it should).  This is not being done for ASP.NET but is done for runti

[2020-02-04 21:40] Tratcher commented on #18639
Looks like you're still missing this line from the template:
[code]

https://github.com/dotnet/aspnetcore/blob/36267e8bafc2345e536fb937a03946cfd172250c/src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Startup.cs#L56-L59

You're also missing `app.UseAuthentication()` just above `app.UseAuthorization()`.
https://github.com/dotnet/aspnetcore/blob/36267e8bafc2345e536fb937a03946cfd17

[2020-02-04 21:50] smcl commented on #18779
Ahhh I installed that library in my little example as I (mistakenly) believed that was the necessary package required to access SetCookieHeaderValue and experiment with the problem. OK so this suggests to me I'll need to dig through my dependencies in the original app that prompted me to create this and see if I can find anything funny.

Thanks heaps, this can be closed. My apologies for raising a

[2020-02-04 21:50] #18779 closed

[2020-02-04 21:52] blowdart commented on #18779
It wasn't a non-issue, it's good to get to the bottom of these things.

[2020-02-04 21:55] halter73 commented on #18141
You can still remove connections from groups just like you always could in SignalR. Users can represent multiple connections, however, and SignalR never supported directly removing a user from a group.

[2020-02-04 22:00] Rick-Anderson commented on #18768
PR https://github.com/aspnet/AspNetCore.Docs/pull/16852 address this.

[2020-02-04 22:05] luckerby commented on #18639
@Tratcher Ok, how did I end up here. I was using a simplistic app, consisting of just 2 lines of C# code that - using a WsFed relying party on an ADFS on-prem server - would simply print all the claims in a text based output. Visual Studio 2012 was used (back when the Identity wizard was still around). WebDeploy worked great against the servers I needed. Fast forward to VS 2019 and IIS target serv

[2020-02-04 22:10] bfmsoft opened #18794 "[Blazor] WebAssembly Optional Parm set to NULL in WebAssembly reported as Undefined"
### Describe the bug
A C# method is defined with an optional parm set to NULL.  Then in the function it is reported as UNDEFINED.  Should be NULL.  If you specify NULL on call it will work properly.

### To Reproduce
C# Function defined as:
public static async Task CallFunction(HttpClient httpClient, IDictionary<string, string> parms = null)
{
if (parms == null)  // <-- this will crash under webas

[2020-02-04 22:12] Tratcher commented on #18639
Yeah, you want a simpler setup.

[code]

Or look at the one I use for testing:
https://github.com/dotnet/aspnetcore/blob/master/src/Security/Authentication/WsFederation/samples/WsFedSample/Startup.cs

[2020-02-04 22:25] johnkors commented on #18337
Small typo both here in the discussion thread and in the announcment, @blowdart :

I assume this is meant to be Runtime 2.1.15, and not ~2.1.511~  (as it does not exist 🥇  )

[2020-02-04 22:26] blowdart commented on #18337
Yup :)

[2020-02-04 22:31] halter73 commented on #13834
It looks like TextReader calls [ReadAsyncInternal() in a loop](https://github.com/dotnet/runtime/blob/2590947055ef94a69b9a30f901ca1714055e56d1/src/libraries/System.Private.CoreLib/src/System/IO/TextReader.cs#L211-L228). Problem is that ReadAsyncInternal() is implemented by Task.Factory.StartNewing Read(). So effectively the same thing.

The problem is it also looks like we need to override the fol

[2020-02-04 22:32] vsfeedback opened #18796 "ModelBinding in controller using [FromBody] no longer converts strings to numbers and empty strings to nulls"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/887721/modelbinding-in-controller-using-frombody-no-longe.html)._

---
[regression] [worked-in:.Net Core 2.2]
ModelBinding in controller using [FromBody] no longer converts strings to numbers and empty strings to nulls

Previous to .NET Core 3.0, I could pass the following

[2020-02-04 22:38] halter73 commented on #13834
@davidfowl @anurse Why aren't we trying to make these improvements to TextReader itself? Do we know for some reason this kind of change wouldn't be accepted in the runtime repo?

[2020-02-04 23:02] anurse commented on #18692
@ChaosEngine Unfortunately yes, because of the breaking nature of the upgrade. The 3.1 LTS will continue to be on MessagePack 1.x.

We have a good relationship with the authors of that package though, and expect to be able to continue patching critical issues in the MessagePack 1.x series of packages for the duration of the LTS. However, as is always the case when using non-Microsoft components li

[2020-02-04 23:03] anurse commented on #13834
@halter73 I don't know that they wouldn't be accepted. We could open an issue and ask.

[2020-02-04 23:06] anurse commented on #18778
@mkArtakMSFT yes, I'll transfer.

@razzemans Looks like the underlying issue here is the Windows EventLog doesn't support this character. The logging infrastructure writes every message to all available sinks and thus the exception is thrown. There will always be quirks between logging infrastructures like this, so I don't think we can stop the error from occurring, but it might be reasonable to s

[2020-02-04 23:09] anurse commented on #18564
Are you using different machines with different Windows SKUs (Client vs Server) or are all these tests on the same machine? As mentioned above, I can't think of any reason the IIS version would affect the output, but I *can* think of ways the Client/Server version of the OS could. Can you isolate this behavior into a console app that you can try on the Client and Server OS?

[2020-02-04 23:12] pranavkm commented on #18780
Sure, that sounds fine. I'll keep this open until you can get back next week.

[2020-02-04 23:21] zackmorgs opened #18798 "Scaffold Identity Blazor: NotSupportedException: Specified method is not supported. Microsoft.AspNetCore.Mvc.RazorPages.PageBase.EnsureRenderedBodyOrSections()"
I am experiencing a strange bug after scaffolding identity for a blazor project. After scaffolding all the items or really any of them, I get this error:
`**An unhandled exception occurred while processing the request.**
_NotSupportedException: Specified method is not supported.
Microsoft.AspNetCore.Mvc.RazorPages.PageBase.EnsureRenderedBodyOrSections()_`
**Stack**
`Microsoft.AspNetCore.Mvc.RazorP

[2020-02-04 23:23] guardrex commented on #3849
Feedback on the IIS topic indicates that this might be the issue there. https://github.com/aspnet/AspNetCore.Docs/issues/16675

[2020-02-04 23:23] Rick-Anderson commented on #18768
Close this issue. Fixed in https://github.com/aspnet/AspNetCore.Docs/pull/16852

[2020-02-04 23:26] pranavkm commented on #18757
Thanks for the issue report @MichelArendt. This looks like a bug in Razor's code generation. Unfortunately there isn't a very good workaround for this outside of using a different member name.

A fix for this would be to globally qualify the `Microsoft.AspNetCore.Components.CompilerServices.RuntimeHelpers.TypeCheck` call.

[code]

[2020-02-04 23:33] anurse opened #18799 "Run NPM and Java tests in Helix"
We should ensure we are running our SignalR NPM and Java tests in Helix to get full coverage. As part of this, we can review how they appear in the TestResults table to make sure we know how to categorize them properly.

[2020-02-04 23:34] anurse opened #18800 "Ensure JavaScript and Java test failures are properly categorized in build telemetry"
Docs on build telemetry: https://github.com/dotnet/arcade/blob/30e2cca9e6f26a843bad0910879d89035645bd20/Documentation/Projects/DevOps/CI/Telemetry-Guidance.md

Right now, failures in Java tests and JavaScript tests show up as "Build" or "Unknown" failures. We need to add the necessary goop to categorize them as "Test" failures. This should be straightforward, looking at the docs above.

cc @dougbu

[2020-02-04 23:49] wangkanai opened #18801 "IPageLoader is [Obsolete]"
https://github.com/dotnet/aspnetcore/blob/master/src/Mvc/Mvc.RazorPages/src/Infrastructure/IPageLoader.cs

I see that you are obsoleting `IPageLoader`. I did a search and found this issue #8016 and #480.
When are you planning to remove this interface? Its has been 11 months already and 3.1 release is out and now in development for .net 5

Did you forget about it?

[2020-02-04 23:55] BrennanConroy commented on #18799
Blocked by https://github.com/dotnet/arcade/issues/4762

[2020-02-05 00:00] #18723 closed

[2020-02-05 00:06] #8718 closed

[2020-02-05 00:15] richbryant commented on #17014
I'm not opposed on principle but there is a tendency for whatever MS pushes as a template to become the absolute default.  Blazor-Webassembly is a SPA framework.  None of the Big 3 frameworks come with an Auth template, partly because postability is important and at least partly because there are so many different ways and methods to make it work.

I get the AAD and AADB2C, you kind of have to do

[2020-02-05 00:17] drdamour commented on #18787
So here's what i ended up doing to "work around" this bug

I plagerized the UseProxyToSpaDevelopmentServer to make it work with endpoints

[code]

then in my endpoints config

[code]

that metadata of course triggers the Auth middleware to skip the fallback policy and the spa service is good to go.

[2020-02-05 00:46] pranavkm opened #18805 "[VSCode] Auto completion for methods in razor files is different compared to C# files"
In a .razor file, the editor appears to perform completion based on suffixes. Best explained as gifs. Here's editing a file inside a cs file.

![C#](https://user-images.githubusercontent.com/174281/73800332-3ede8800-476d-11ea-9e2e-2365e5c74632.gif)

Here's writing the same code inside of a razor file:

![Razor](https://user-images.githubusercontent.com/174281/73800467-a98fc380-476d-11ea-9f55-a7dd0

[2020-02-05 00:53] NTaylorMullen opened #18806 "Validate Razor tooling works in x64 scenarios"
We should ensure that Razor tooling works in x64 scenarios. The biggest concern here is that all of our dependencies work in x64 scenarios..

[2020-02-05 01:10] drdamour commented on #18787
yeah that's much cleaner....

[code]

[2020-02-05 01:16] dougbu commented on #18792
/cc @Pilchie @anurse

@mthalman and @MichaelSimons please list the exact list of "supported versions" that need these files. Also, when was the last time ASP.NET Core successfully pushed these checksums to the blob store?

[2020-02-05 01:18] NTaylorMullen commented on #18685
Thanks for the repro @stsrki.

@mkArtakMSFT I can reproduce this in VS and in VSCode. It's definitely a parser issue. Seems like our parser is treating the `Link` tag as the void element `link` instead of the Component `Link`. I'll leave this in the next spring planning (and unassigning myself) for you to decide if it's worth fixing (given this is the first report we've had of this) since the issu

[2020-02-05 02:03] #18768 closed

[2020-02-05 02:28] Rick-Anderson commented on #18757
@pranavkm  I can make a doc issue of this and and `Microsoft` to [Razor reserved keywords](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-3.1#razor-reserved-keywords).  Let me know if you'd like to go that route.

[2020-02-05 02:46] wfurt commented on #18488
Thanks @sur34. I think I have repro and I will investigate. It seems like I also have 2K self-signed RSA.

[2020-02-05 05:47] satyajit-behera opened #18809 "Named parameters for built in Microsoft DI Container"
While using Microsoft Built In Dependency Injection, need of one feature often comes up:
**Passing Parameters to Resolve during runtime.**

Autofac provides this as in the example below.
var reader = scope.Resolve<ConfigReader>(new NamedParameter("configSectionName", "sectionName"));

In my opinion, this one feature will make the container complete in many aspects to use for any application that w

[2020-02-05 08:22] poco1980 opened #18812 "Blazor default project runs, But errors in .razor files in IDE VSCode on Linux"
This is in reference to the listed issue but its on Linux in VSCode.  I have all the mono installed on my Linux Box.

Edit: Linking original issue #17725

[2020-02-05 08:32] jagbarcelo commented on #18564
Yes, they are different machines. Developing and testing is done in a Windows 10 1909 (Build 18363.628), with Visual Studio 2019 (16.4.4). The release is done in a virtual machine in Azure running Windows Server 2019 1809 (Build 17763.973). I do not know how to retrieve the SKU you mentioned.

I have created a console app and reused most of the code in the web app controller. With minor changes th

[2020-02-05 08:35] drdamour commented on #5204
@ryanbrandenburg  any chance this makes it into a 3.x release?

[2020-02-05 09:57] JamesNK opened #18813 "gRPC server streaming is broken in Blazor WebAssembly"
### Describe the bug
gRPC server streaming is broken in Blazor WebAssembly because `WasmHttpContent.ReadAsStreamAsync` doesn't return a `Stream` until the response has completed. The .NET gRPC client needs to be able to read messages from the response stream as they are received for server streaming to work.

### To Reproduce
I have a sample that attempts to do Blazor WA server streaming here...

[2020-02-05 10:02] ysmoradi opened #18814 "Allow using custom IServiceProvider in blazor 3.2"
### Is your feature request related to a problem? Please describe.
Before blazor 3.2, I was able to use 3rd party dependency injection libraries such as Autofac.Extensions.DependencyInjection, but now it's not possible.

### Describe the solution you'd like
Ability to use 3rd party implementations in our blazor apps.

### Additional context
N/A

[2020-02-05 10:04] Webreaper opened #18815 "Clearer documentation/samples on loading data and OnInitializedAsync being called twice (Blazor-server)"
I've been looking for examples and documentation on best-practices on how one should load large quantities of data in a razor page/component, when using Blazor server.

The .Net Core 3.1 Blazor docs [here](https://docs.microsoft.com/en-us/aspnet/core/blazor/lifecycle?view=aspnetcore-3.1#lifecycle-methods) suggest you should make an async call to load your data in the `OnInitialisedAsync` method. T

[2020-02-05 10:04] JeepNL opened #18816 "Microsoft Docs examples for SNI (Server Name Indication)"
I'm using (ASP).NET core 3.1x, latest (preview) versions / Blazor

I would like to host multiple (2 or 3) domains (different Blazor websites) on one Kestrel Instance (example1.com & example2.com) on port 80. I'm running Kestrel as the only web server on my Ubuntu 18.04 VPS, so without a proxy server and I would like to keep using this configuration.

In [Microsoft Docs](https://docs.microsoft.com/

[2020-02-05 10:05] JamesNK opened #18817 "gRPC cancellation of an in-progress call is broken in Blazor WebAssembly"
### Describe the bug
Canceling a gRPC-Web call that has returned headers but has not finished returning a response is broken in Blazor WebAssembly. Cancellation of a `HttpClient` request that has returned headers is done by calling `HttpResponseMessage.Dispose`. This should abort the HTTP request and set ASP.NET Core's `HttpContext.RequestAborted.IsCancellationRequested` to true. It appears that n

[2020-02-05 10:29] theolivenbaum opened #18818 "Threadpool starvation when using MVC + Newtonsoft Json"
### Describe the bug
We've been observing threadpool starvation issues since we moved to netcore3.0 on one of our applications, that we were finally able to narrow down using @benaadams awesome [BlockingDetector](https://github.com/benaadams/Ben.BlockingDetector/) package to synchronous reads from the [FileBufferingReadStream](https://github.com/dotnet/aspnetcore/blob/deb51b83f43138570ea86dc17608c

[2020-02-05 10:44] nguyenvanbien95 opened #18819 "How to prevent javascript injection in Blazor?"
How to prevent injections in Blazor? I have not found anything about this. I can enter some script to field. It is not excute after add but I refresh page and it work as expect. This is not secure. Thank you.

[2020-02-05 10:54] javiercn commented on #18819
@nguyenvanbien95 thanks for contacting us.

There is documentation [here](https://docs.microsoft.com/en-us/aspnet/core/security/blazor/server?view=aspnetcore-3.1#cross-site-scripting-xss) that explains what Blazor does, but ultimately it is your responsibility to sanitize your input.

We don't have enough information to process this issue, it would help us if you provide a minimal repro project so

[2020-02-05 10:56] rogierhofboer commented on #17660
Same here with VS 16.5.0 Preview 2.0
After creating the default template project, Intellisense for the components doesn't work.
(SurveyPrompt, NavMenu etc.)
Restarting VS fixes it. Please re-open this issue.

[2020-02-05 11:09] campersau commented on #18813
It might be because streaming is disabled by default here https://github.com/mono/mono/blob/ab2321c1dc1bf0293dadd7e52436b2bd87f2b7c3/sdks/wasm/framework/src/WebAssembly.Net.Http/WasmHttpMessageHandler.cs#L37

See https://github.com/mono/mono/pull/17328 for reasons.

You can try set it to `true` via reflection.

[2020-02-05 11:16] javiercn commented on #17014
@richbryant thanks for the feedback.

I'm not sure about what point you are trying to make. Our all templates have auth options in them and you are free to use them if they fit your needs or not.

This issue is about providing the option to enable authentication out of the box in the template, in the same way we do for the Razor pages, MVC, Web API, Blazor Server and SPA templates.

We choose what

[2020-02-05 11:17] javiercn commented on #18817
@SteveSandersonMS @JamesNK I assume one of you will be taking care of this?

[2020-02-05 11:24] javiercn commented on #18815
@Webreaper thanks for contacting us.

This is documented in depth [here](https://docs.microsoft.com/en-us/aspnet/core/blazor/hosting-models?view=aspnetcore-3.1#stateful-reconnection-after-prerendering)

If you think there's something missing. Could you open an issue directly at the bottom of the doc page with what you think its not clear (and if you want, a way to make it better/clearer?) That get

[2020-02-05 11:24] #18815 closed

[2020-02-05 11:24] javiercn commented on #18814
@ysmoradi thanks for contacting us.

We are aware of this and will be looking at it in the future.

[2020-02-05 11:26] javiercn commented on #18812
@poco1980 thanks for contacting us.

@NTaylorMullen @ajaybhargavb @ryanbrandenburg thoughts?

[2020-02-05 11:28] javiercn commented on #18812
@poco1980 can you provide more details on what your exact setup is?

Are you using server-side Blazor or Blazor webassembly? What version  of VS Code and Omnisharp are you using?

[2020-02-05 11:31] stsrki commented on #18685
@NTaylorMullen Thank you for committing to this issue. I will leave it as a `Link` but I will advise it to the users of my library to always write it as `Blazorise.Link`. So once the issue is fixed I will just remove the note from my documentation.

[2020-02-05 11:33] javiercn commented on #18798
@zackmorgs thanks for contacting us.

Can you provide us with a bit more detail on what steps did you took to get into this situation? Did you create a new project and scaffold-ed it right away?

[2020-02-05 11:36] javiercn commented on #18794
@bfmsoft thanks for contacting us.

I'm not sure I quite understand what you are trying to convey here. Could you provide us with a minimal repro project and steps to reproduce the issue so that we can look into it?

[2020-02-05 11:38] javiercn commented on #18791
@Rick-Anderson thanks for following up.

@mkArtakMSFT I'm moving this to next milestone planning so that we can look at it then and decide.

[2020-02-05 11:40] stuki opened #18820 "aspnetcore 3.1 angular project timeout on MacOS"
### Describe the bug
Creating a new project using ```dotnet new angular -o my-app``` does not create a working project. The project stalls on serving the angular frontend, resulting in timeouts.

### To Reproduce
1) Create a new angular project using the dotnet cli on MacOS (```dotnet new angular -o my-app```)
2) Change folder to the new project (```cd my-app```)
3) Build project (```dotnet build`

[2020-02-05 11:41] javiercn commented on #18796
Thanks for contacting us.

We switched to use System.Text.Json in ASP.NET Core 3.0 instead of NewtonSoft.JSON and as a result, the default serialization settings might have changed a bit.

I would suggest you try adding back newtonsoft.json as described https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#add-package-references-for-removed-assembli

[2020-02-05 11:42] javiercn commented on #18796
@mkArtakMSFT moving this to next sprint planning to see if we want to investigate the differences in behavior.

If that's something we are aware of, then lets close this issue and point to the relevant documentation (if any)

[2020-02-05 11:45] poco1980 commented on #18812
Trying to do Server Side
code -v
1.41.1
26076a4de974ead31f97692a0d32f90d735645c0
x64

 dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   3.1.101
 Commit:    b377529961

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  18.04
 OS Platform: Linux
 RID:         ubuntu.18.04-x64
 Base Path:   /usr/share/dotnet/sdk/3.1.101/

Host (useful for support):
  Version: 3.1.1
  Commit

[2020-02-05 11:46] javiercn commented on #18801
@wangkanai thanks for contacting us.

This was marked as obsolete for the 3.0 release, so I imagine we will remove it on 5.0. We normally obsolete if for 1 release and then remove it afterwards, 3.0 and 3.1 were very close together so that's likely why we didn't do it in 3.1.

@mkArtakMSFT I'm moving this to next sprint planning to track the removal as I don't know if we have a separate issue for

[2020-02-05 11:49] Webreaper commented on #18815
Thanks. I never even found the page you linked to, hence the confusion. I've opened this issue to cross-link the docs - an info box from the first page (which most people will see) to the second (which many won't) will probably clear this up. https://github.com/aspnet/AspNetCore.Docs/issues/16860

[2020-02-05 11:59] Stamo-Gochev opened #18821 "Blazor form validation of a file field"
What is the expected way of handling validation of a form field that is of type `<input type="file">`? Suppose that the form is bound to a model that has such a field and the form should display a validation message, when certain criteria is nto met, e.g. the file size exceeds a limit or the file has an invalid extension. Furthermore, what is the expected type of the model field that corresponds t

[2020-02-05 12:12] campersau commented on #18817
I think the problem is that the HttpResponseMessage is not subclassed to provide the cancellation on dispose functionally via the AbortController.
https://github.com/mono/mono/blob/ab2321c1dc1bf0293dadd7e52436b2bd87f2b7c3/sdks/wasm/framework/src/WebAssembly.Net.Http/WasmHttpMessageHandler.cs#L169

You can try changing the code and can test it like I have described here: https://github.com/mono/mon

[2020-02-05 12:34] TechWatching opened #18822 "Add a setting in ASP.NET Core KeyVault integration package to set or not the precedence over application configuration"
### Is your feature request related to a problem? Please describe.
I am trying to use Microsoft.AspNetCore.AzureKeyVault.HostingStartup but I want the app configuration to take precedence over the configuration provided by azure keyvault which is not possible right now.
The use cas could be the following : I want debug in local my application using secrets from the key vault except from one secret

[2020-02-05 12:52] nguyenvanbien95 commented on #18819
I enter `<script> alert(1) </script>` in my InputText. It works and data is added to database. I refresh browser (F5). Data is loaded from database then that script is executed and a message is displayed.
![image](https://user-images.githubusercontent.com/11581483/73843295-f6989600-4850-11ea-8fe7-dab2a3ca5459.png)

[2020-02-05 13:02] javiercn commented on #18819
@nguyenvanbien95 Can you provide a minimal repro project to help us investigate?

[2020-02-05 13:04] pablopioli commented on #17014
Your answer is a little contradictory. If you are using Identity Server on the backend you know it uses the current guidance of using cookies for same domain. And you won't be using cookies?

[2020-02-05 13:18] mihaimyh commented on #18705
Thanks for suggestions, I got it working.

[2020-02-05 13:18] #18705 closed

[2020-02-05 13:29] gulzarahamed opened #18823 "WebApi.Hal - .net core 3.1 project"
I have created new .net core 3.1 web api project, and just include webapi.hal package reference, and when run the project the line app.UseEndpoints(endpoints =>
            {
                endpoints.MapControllers();
            });
caught erros as given below:-

"Unable to load one or more of the requested types.
Could not load type 'Microsoft.AspNetCore.Mvc.Formatters.JsonInputFormatter' from

[2020-02-05 13:36] JohnGalt1717 commented on #9020
@andrew-vdb Can you post config please?

[2020-02-05 13:55] richbryant commented on #17014
and AspNet Core Identity is (currently) cookie based by default.

[2020-02-05 13:56] luckerby commented on #18639
First, in order to eliminate any wrong assumptions on my side: I've rewritten the realm/metadata values in the corresponding lines as such:
[code]

Next I got the following exception:
[code]

As explicitly mentioned, I've added the controllers using `services.AddControllers()` at the end of the `ConfigureServices` method. Now I'm running into this:
[code]

Which seems to indicate that either I hav

[2020-02-05 14:00] mthalman commented on #18792
This should be done for all future releases of 2.1, 3.1, and 5.0 for all platforms.

I don't believe this was ever working for 3.0+.  For 2.1, it stopped working with the release of 2.1.2.  For 2.2, it stopped working with the release of 2.2.1.

[2020-02-05 14:19] DRAirey1 opened #18824 "How do you increase the startup time on IIS"
Not really a bug, unless this feature just doesn't exist.
I have a .net core web service hosted on Kestrel.  It takes a long time, especially on slower machines, to load up all the data into memory (huge, AI network).  It can't be avoided and is already part of an async method.  When I start it on a machine with many (>16) cpus, it starts fine (in less than two minutes).  When I start it on slower

[2020-02-05 14:29] pjevans opened #18825 "Minor: AzureADB2C SignedOut.cshtml add 'id' tags"
### Is your feature request related to a problem? Please describe.
I'm trying to add 'id' tags onto the SignedOut.cshtml view to allow ease of styling on the front end.  Very very minor update.

### Describe the solution you'd like
Want to add "AzureADB2CSignoutTitle" and "AzureADB2CSignoutText" to the h2 and p tags in this file.

### Additional context
Very minor update, already completed doing P

[2020-02-05 14:42] javiercn commented on #18825
@pjevans thanks for contacting us.

I think that will be fine if @blowdart is ok with it. Feel free to send us a PR and we'll evaluate the changes.

[2020-02-05 14:44] pjevans commented on #18825
Sounds good.  Thanks for the response.  I got the branch created locally but got a 403 error trying to push it up.  If you got a quick suggestion, I'm all ears.. if not, no worries I'll get it figured out.

Have a great day --PJ

[2020-02-05 14:45] javiercn commented on #18825
@pjevans You need to create your own fork of the repo and then push your local branch to your fork. Then you can go into this repo and start a pull request from the branch in your fork to the branch in this repo.

[2020-02-05 14:46] pjevans commented on #18825
That's the part I was missing.  Thank you.  New around here, hope to keep learning.  Thank you very much.

[2020-02-05 15:11] warrenbuckley commented on #18769
@NTaylorMullen seems like you was trying to do the same as me, in getting a matching style of black on yellow as the big brother VS does - https://github.com/microsoft/vscode/issues/90070

[2020-02-05 15:16] grahamehorner opened #18826 "Q: BlazorComponent IEnumeration data binding example"
### Is your feature request related to a problem? Please describe.
I'm looking to create a set of custom blazor components that have a hierarchy and interate over collections with in a model; is it possible to pass an instance of the current item (of the interation) to the child component? if so how would you acheive this and/or is this shown in an example somewhere?

### Describe the solution you

[2020-02-05 15:35] nguyenvanbien95 commented on #18819
Sorry, i have found problem. I use MarkupString for option in selection. This have script value and be execute at runtime.
Thanks for your support!

[2020-02-05 15:35] #18819 closed

[2020-02-05 16:06] adamdriscoll opened #18828 "Object Reference in RegistryPolicyResolver"
Hello,

Sorry to reopen this issue: https://github.com/dotnet/aspnetcore/issues/17888

The problem is that I am experiencing this it's not clear to me how to resolve it. It only seems to happen on Azure DevOps CI builds. After reading up on how the Data Protection keys are stored, it looks like the user doesn't have a profile so it attempts to use the registry to store the keys and then fails to r

[2020-02-05 16:12] Jaben commented on #18081
Why not just keep it clear and add:

[code]

?

[2020-02-05 16:23] wgutierrezr commented on #14590
I have the same issue since today only. Before VS2019 was working perfectly until the last update to 16.4.4.

Now it is using 75.1% average of my computer:
- I7-8650U 1.90GHz
- 16GB Ram
- 512GB SSD

[2020-02-05 16:33] Pilchie commented on #14590
@wgutierrezr - I would recommend still filing a VS Feedback ticket where you record the problem happening.  That will record a performance trace that will allow an engineer to confirm that you're actually running into the same Razor parser issue, and not a distinct issue.

This issue is 5 months old, and your issue just started on the latest update, so it seems quite possible that you're running i

[2020-02-05 16:40] Pilchie commented on #18401
@SeanKilleen with your docker repro, I was able to repro the issue of 500 errors, but I was seeing the failure due to load "Microsoft.AspNetCore.DataProtection.Abstractions", and I was able to fix it by adding a direct package reference as described in the original issue.  Your error above is about Razor.Runtime - have you got a more detailed repro for that?

### Workaround

Add the following to y

[2020-02-05 16:42] Tratcher commented on #18828
The application was referencing the wrong version of the Registry package. The app updated its dependency to resolve the issue. There were no changes in AspNetCore.

What is your apps target framework? Please share your dependency list with versions.

[2020-02-05 16:43] Pilchie commented on #18401
@SeanKilleen with your docker repro, I was able to repro the issue of 500 errors, but I was seeing the failure due to load "Microsoft.AspNetCore.DataProtection.Abstractions", and I was able to fix it by adding a direct package reference as described in the original issue.  Your error above is about Razor.Runtime - have you got a more detailed repro for that?

### Workaround

Add the following to y

[2020-02-05 16:44] Pilchie commented on #18401
Deleted duplicate comment - posting from the bus, and the internet connection isn't always great.

[2020-02-05 16:56] zackmorgs commented on #18798
@javiercn Sure! Thanks for your reply you're really helping me out.

I had a project I was already working on that had Identity in it from the start. Here is startup.cs
`using BridgingCalendar.Data;
using BridgingCalendar.Models;
using Microsoft.AspNetCore.Builder;
using Microsoft.AspNetCore.Hosting;
using Microsoft.AspNetCore.Identity;
using Microsoft.EntityFrameworkCore;
using Microsoft.Extensio

[2020-02-05 17:01] Pilchie commented on #18334
There are two issues:

1. You need to have the 3.1.1 runtime to use any 3.1.1 packages.
2. For some packages, a dependency may fail to load.  You can work around this by adding an explicit package reference to the 3.1.1 version of the package.  For AzureAD.UI this is usually at least `Microsoft.AspNetCore.DataProtection.Abstractions`.

[2020-02-05 17:20] pranavkm commented on #18818
@Tratcher - MVC sets the buffer limits to 30k the same as the defaults that `EnableRewind` does:

* https://github.com/dotnet/aspnetcore/blob/4ef204e13b88c0734e0e94a1cc4c0ef05f40849e/src/Http/Http/src/Internal/BufferingHelper.cs#L12
* https://github.com/dotnet/aspnetcore/blob/master/src/Mvc/Mvc.NewtonsoftJson/src/NewtonsoftJsonInputFormatter.cs#L25

Once the buffering switches to disk, you're effe

[2020-02-05 17:24] pranavkm commented on #18801
I would leave the type there since it's not incorrect to use it, just not preferable. It avoids an unnecessary breaking change.

[2020-02-05 17:28] niti01 commented on #18019
Hi,

We had the asp.net core 2.2 hosting module installed and after installing 3.1.0 we experienced this issue with all existing 32-bit app pools crashing.

We uninstalled 3.1.0 and tried @jkotalik 's solution with installing 3.0.0 and 3.1.1 bundles with the specified flags. However, we still do not get the file: C:\Program Files (x86)\IIS\Asp.Net Core Module\V2\aspnetcorev2.dll which we expected

[2020-02-05 17:30] pranavkm commented on #18826
Hi. It looks like this is a question about how to use Blazor. We recommend posting your questions to StackOverflow using the asp.net-core-blazor tag to reach a wider audience.

[2020-02-05 17:31] Tratcher commented on #18818
We assumed the file io wouldn't block long enough to cause an issue. We'll have to repro this and investigate.

Is the drive mechanical or SSD?

Are there many such concurrent uploads?