[2020-05-17 03:23] mkArtakMSFT commented on #21748
Thanks @pranavkm for handling the underlying issue.
Can you also unquarantine project template tests given that this is now resolved?

[2020-05-17 03:32] mkArtakMSFT commented on #19094
@BrennanConroy, given the number of customers facing this issue, how can we prioritize the referenced docs issue?

[2020-05-17 03:51] Smash99 commented on #21920
Nevermind, just had to run the following to resolve this:

dotnet nuget add source --name nuget.org https://api.nuget.org/v3/index.json

[2020-05-17 03:51] #21920 closed

[2020-05-17 04:30] pranavkm commented on #21748
Done as part of https://github.com/dotnet/aspnetcore/pull/21831

[2020-05-17 04:30] #21748 closed

[2020-05-17 04:49] dougbu commented on #10464
@davidfowl @Pilchie didn't update the individual `startvs.cmd` files in #21745 but e.g. `.\startvs.cmd src\Mvc\Mvc.slnf` in the repo root **Just Works:tm:** 😺

[2020-05-17 05:30] davidfowl commented on #21897
@grahamehorner can you show your code with invoke?

[2020-05-17 05:57] FanrayMedia commented on #21221
I would also like to be able to customize `DefaultIdentityUIPathPrefix` as @gigantedocil has described in this ticket, and I have also tried once to come up with my own implementation of `AddIdentityServerJwt` but it's difficult to do as he mentioned above. Thank you.

[2020-05-17 06:24] davidfowl opened #21923 "Use PipeWriter to write StaticFiles"
We can avoid the extra copy and pinning when using Kestrel and just write the `FileStream` to the underlying `PipeWriter` directly.

[2020-05-17 08:28] Eragon00721 opened #21924 "asp-page TagHelper Not working"
i got problem with asp-page tag helper in asp.net core 3.1 ( web Application ) project

it was working fine before , but today its not working

for example if i write this code :

`<a asp-page="/ShowPage">Click Me</a>
`
and the codes output is here:

`<a href>Click Me</a>`

I've Updated all my nuget packages but it's not working.

i create a new web application razor pages project and tested the t

[2020-05-17 13:16] musictopia2 opened #21925 "Unable to use name of in the razor syntax area in blazor"
When I am in the razor syntax area and use something like this
<GridColumn Field=@nameof(Order.OrderID)

the editor gets really corrupted and does not have the intellisense to choose object and the property or method name like it works when doing directly with c# and not in the razor section part.

[2020-05-17 14:20] mihaimyh opened #21926 "[Blazor Wasm] Update service worker"
I have a PWA Blazor Wasm app with the DNS hosted on Cloudflare.
The issue I am getting is every time I am publishing a change to the app it seems that still the old version is being displayed in my browser. I investigated this further, even by manually and programatically invalidating Cloudflare's cache after publish but with no real effect.

Today I did a new publish and I started to look deeper

[2020-05-17 16:28] #21079 closed

[2020-05-17 16:28] #21308 closed

[2020-05-17 16:53] mikem8361 commented on #21703
It would be great if you could share a minidump with me privately.  I'm not sure the best way to do that.

[2020-05-17 17:08] MarkusRodler commented on #21926
Does your app reports problems on the console that it has problems with subresource integrity? I had a similar problem because my assets are cached very long and the service worker does not request the updated ones because the url did not change.
I have written about that problem here in more detail: https://github.com/dotnet/aspnetcore/issues/17036

[2020-05-17 18:12] hellfirehd commented on #7315
What makes this worse is that the [Identity Templates](https://github.com/dotnet/aspnetcore/blob/master/src/Identity/UI/src/Areas/Identity/Pages/V4/_Layout.cshtml) are using `@Environment.ApplicationName`.  So the Title and Copyright are now the name of my assembly, not the actual Application Name that I want the public to see.

It's really a shame that this wasn't addressed in 3.0.  Maybe 5.0?

[2020-05-17 18:25] mihaimyh commented on #21926
No, I don't see this behavior.

[2020-05-17 19:28] Kahbazi commented on #5941
Do you take PR for this?

[2020-05-17 19:59] Tratcher commented on #21923
This is the API to replace:
https://github.com/dotnet/aspnetcore/blob/5cfebf260f979948039d3e6f724d283f8a3a348d/src/Http/Http/src/SendFileFallback.cs#L22
https://github.com/dotnet/aspnetcore/blob/5a0c097ad4b0aef756cd92f2d593cda3fa223748/src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.FeatureCollection.cs#L330-L333
https://github.com/dotnet/aspnetcore/blob/5cfebf260f979948039d3e6f724d283f8a3

[2020-05-17 20:10] jameschch commented on #21241
Can recreate similar error message in 3.2.0-rc1 with button click handler but only after publish to IIS host:

[code]

[code]

https://github.com/jameschch/LeanParameterOptimization/commit/09d0323392bd1ff148b99969006916ea1bae9d1d

[2020-05-17 20:29] Kahbazi commented on #21923
Do you take PR for this?

Does this also need to change?
https://github.com/dotnet/aspnetcore/blob/b56f84131af2e1ece61241a016e191f5f2fe3fc0/src/Mvc/Mvc.Core/src/Infrastructure/FileResultExecutorBase.cs#L361

[2020-05-17 21:05] davidfowl commented on #21923
Static files still has custom logic to call a custom copy to async implementation as well

[2020-05-17 21:21] davidfowl commented on #21923
@Kahbazi  yes that also needs to change.

[2020-05-17 21:50] captainsafia commented on #19050
No problem, @simonziegler! I'll close this issue for now but feel free to re-open with a repro if you find the time to do that on the latest bits.

[2020-05-17 22:37] masoodafar-web commented on #21840
hello eloo loo lo.........

[2020-05-17 22:40] simonziegler commented on #19050
Oh, does that mean that the enquiry is dead unless I work on it myself? Did you folks manage to investigate this at any point? Tx

[2020-05-17 22:46] simonziegler commented on #19050
Actually my commercial app exhibits this behaviour still. I would rather not post the url in public here for now. Can we message directly to discuss?

The crux of the matter is that the lost connect happens when my app navigates externally to Azure B2C either to log in or log out.

I would be more than happy to demonstrate this to a member of your team on a Teams or WhatsApp call. I am concerned t

[2020-05-18 00:39] musictopia2 opened #21929 "Problem getting data from local storage with blazor for large files"
I am using the function
var serialisedData = await js.InvokeAsync<string>("localStorage.getItem", key);
which interops with javascript.  It works fine for small amount of information.  However, if there is a large amount of information being returned it hangs.
For example, if i am retrieving a list of 24 objects, it works.  However, if the list contained over 100 objects for example, it hangs.  Th

[2020-05-18 00:45] captainsafia commented on #19050
To investigate, we'll need a minimal reproduction that showcases the issue. From previous messages, it appears that the behavior is rather inconsistent across different browsers.

If you can provide a minimal repro and the browsers that it currently fails on, that would help start the investigation.

Can you clarify what you mean by "lost connect". External navigation are expected to terminate a s

[2020-05-18 01:24] brucezlata commented on #21875
@javiercn @tracychms thank you for reply.

[2020-05-18 01:32] #21773 closed

[2020-05-18 02:38] rocklan commented on #13333
I am getting these errors too in my logs. Is there a workaround for this?

[2020-05-18 03:13] NTaylorMullen opened #21930 "Build your first VSCode extension"
You've built your first Blazor application using the tooling in VS & VSCode, now lets see what it's like to build tooling for VSCode.

Go through the 3 Getting Started sections here: https://code.visualstudio.com/api/get-started/your-first-extension

[2020-05-18 03:15] webprofusion-chrisc commented on #21512
I don't know if it's already tracked (or considered out of scope) but a common pattern for certificate use is to fetch them from a broker such as a central cert service or secrets store (using any method - http api, ACME etc -  but this may be a very long async wait) then re-fetch and re-apply them as expiry looms. The local X509Store (if any) may just be considered a local cache.

It would be ide

[2020-05-18 03:18] NTaylorMullen opened #21931 "Build a Blazor application"
Do the sessions listed here: https://github.com/dotnet-presentations/blazor-workshop

While going through the sessions see if you can alternate using VS and VSCode between the sessions to get a feel for the differences in the two environments.

[2020-05-18 03:37] NTaylorMullen opened #21932 "Learn about language servers and build on for VSCode"
VSCode is a language server first IDE. You've built your first VSCode extension now lets expand that to use a language server. Dive deep into VSCode's language server extension guide and build one for yourself: https://code.visualstudio.com/api/language-extensions/language-server-extension-guide

### Extra credit
Dig through the LSP extension samples VSCode has here: https://github.com/Microsoft/v

[2020-05-18 03:43] davidfowl commented on #21512
That’s pretty much why we leave policy out of the framework and push users to a callback model. That will be what we enable before doing anything more advanced. We may be able to integrate more as we get a feel for what customers do with it and if it’s common enough and difficult, we could bake something in

[2020-05-18 03:46] m1nicrusher opened #21933 "[Blazor] ServerSide Login/out Return HTTP400 with WebSockets on Nginx"
### Describe the bug
After I configured HTTPS, my Blazor ServerSide app will return HTTP400 after I entered all the credential and click "Log In" (I'm using the pre-built authentication like the image below)
![image](https://user-images.githubusercontent.com/19246983/82172218-eb074180-990c-11ea-9b80-7e6169e8160e.png)

You can see the Nginx config file below and when I delete these lines login/out

[2020-05-18 03:47] NTaylorMullen opened #21934 "Successfully build the AspNetCore-Tooling repository"
We build the majority of our tooling in the https://github.com/dotnet/aspnetcore-tooling GitHub repository. It contains the following:
- A Visual Studio extension that contains bits to light up the Razor editor
- A VSCode extension that contains the Razor editor functionality
- A VS for Mac extension that contains bits to light up the Razor editor
- The Razor/Blazor language & its parser.
- A Razo

[2020-05-18 03:53] m1nicrusher commented on #21771
@pranavkm @blowdart @javiercn @BrennanConroy @mkArtakMSFT:
Hi all.

It seems that I'm now having two separate issues that are **Login/out issue** and **Key Not Found issue**. The original issue which is **unstable connection issue** is purely about LongPolling being rejected by ```limit_req```.

Because it has been fixed, I will open new issues about those respectively. There could be some connect

[2020-05-18 03:53] #21771 closed

[2020-05-18 04:00] NTaylorMullen opened #21935 "Run the aspnetcore-tooling Razor VSCode extension and hit a breakpoint in the server and client."
Assuming your aspnetcore-tooling repository is successfully building, at the command line of the repository do the following in a powershell prompt:

1. `. activate.ps1`   -  This will put the locally installed `dotnet.exe` in the `.dotnet` folder on your path and ensure that any usages of dotnet.exe utilize the local one.
1. `code .`     -  This will boot VSCode at the root of the aspnetcore-tool

[2020-05-18 04:06] hultqvist opened #21936 "WebAssemblyRenderer crash"
### Steps to reproduce

1. Click the checkbox
2. Click the button (checkbox is still checked)
3. Click the checkbox (crash logged in console)

[code]

Error message in this code

[code]

[2020-05-18 04:09] ajaybhargavb commented on #21660
Thanks for the repro project @Mercurial. This confirms that this is indeed the same issue as https://github.com/dotnet/aspnetcore/issues/19455. We will track it there going forward.

[2020-05-18 04:09] #21660 closed

[2020-05-18 04:16] hultqvist commented on #21874
I've updated the previous comment

[2020-05-18 04:17] hultqvist commented on #21874
I traced the error back to whether an `<input>` field, inside the parts being removed, was having focus or not when the component was removed.

There was two methods to close the component.

* X inside the component that was triggered using `@onclick`
* Element outside the component that was triggered using `@onmousedown`

Both these were calling the same `Close` method where the data was removed

[2020-05-18 04:17] hultqvist commented on #21874
#21936 is an example I came up with trying to create an example of this bug.
It isn't exactly the type of error I was experiencing in the more complex app.

[2020-05-18 04:20] Mercurial commented on #21660
I thanks

[2020-05-18 05:33] Mercurial commented on #19455
For me the case is its just not slow, its continuously get stuck

[2020-05-18 05:45] mkArtakMSFT commented on #21929
Thanks for contacting us.
There are certain performance best-practices to follow when using JSInterop. The following article should help you with that: https://docs.microsoft.com/en-us/aspnet/core/performance/blazor/webassembly-best-practices?view=aspnetcore-3.1#avoid-javascript-interop-to-marshal-data

[2020-05-18 06:01] pr-benchmarks[bot] opened #21937 "Performance regression: GrpcPingPongStreaming-1MB-GrpcNetClient"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- |
| GrpcPingPongStreaming-1MB-GrpcNetClient | Windows, h2, KestrelSockets | 2020-05-15 19:13:47Z | 508 | 448 | -11.81 % | -3.15 σ |

Before versions:
ASP.NET Core __5.0.0-preview.

[2020-05-18 06:08] mkArtakMSFT commented on #20162
@javiercn I remember there was a reason for closing this. If I remember correctly it was related to the fact that filing an issue for this will require a repro and getting a repro would be a lot of work, while the assumpiton is that the issue (whatever it was) have been fixed already as the test passed. Did I remember it right?

[2020-05-18 06:10] mkArtakMSFT commented on #15118
@javiercn is this still a concern?

[2020-05-18 06:13] isc30 commented on #21285
Hi, this could be considered a bug. Imagine the following scenario:

[code]

This will trigger the initial render either way, completely ignoring the flag.
Please consider this minimal change before the main release, since it opens the possibility to create custom hydraters for prerendered content.

[2020-05-18 06:19] OlegQu commented on #14962
Are there any news about this issue's status?
May be there are some possibilities to override or extend functions from EventDelegator.ts or NavigationManager.ts or use own NavigationManager.cs realization with scripts duplicating above default? Sorry, if this question sounds kind of... elementary - i'm still novice at coding.

[2020-05-18 07:22] julienGrd opened #21938 "[Blazor server side] [Question] Possibility to separate server app and client app in server-side mode ?"
Hi guys, This question may appears strange, but i actually migrate a silverlight/wcf app into blazor and trying to keep the same architecture (because i reuse lot of code).

In the actual app, there is no dependency between the client and server app, so some class was shared between the two projects, but compiled in different assembly, with some preprocessor directive inside the code to determine

[2020-05-18 07:30] smadurange opened #21939 "Polymorphic model binding in AspNetCore 3.1 Api"
Hi, I'm trying to get custom model binding working with an api project following the guide [here](https://docs.microsoft.com/en-us/aspnet/core/mvc/advanced/custom-model-binding?view=aspnetcore-3.1#default-model-binder-limitations). However, it's really not helping.

I'm pretty much copying and pasting that code in an api project but it's not working. I suspect it's to do with the value provider no

[2020-05-18 07:57] mrpmorris commented on #21929
https://docs.microsoft.com/en-us/aspnet/core/performance/blazor/webassembly-best-practices?view=aspnetcore-3.1#use-synchronous-and-unmarshalled-js-interop-apis-where-appropriate

[2020-05-18 08:12] ShaunCurtis commented on #14962
Hi,
I've been flat out on a project where I've resolved most of the issues I had. I'm just finishing testing and hoping to publish something covering the subject later this week/next week.  My basic approach has been:

1. Use the window.onbeforeunload event to warn the user that they are leaving the "application".  You don't much control over this, but it works and users I have tested it on got th

[2020-05-18 08:15] LastImmort commented on #21822
@ajcvickers small repro is ready, the same error for inmemory db
[SmallReproduceProject.zip](https://github.com/dotnet/aspnetcore/files/4642888/SmallReproduceProject.zip)

[2020-05-18 08:27] #15118 closed

[2020-05-18 08:32] simonziegler commented on #19050
Hi @captainsafia, this repo shows the issue: https://github.com/simonziegler/SSB-signalr-issue.

- Clarifying what I mean by "lost connection", please reference the original issue as logged on 14 Feb, plus and update on April 8 above. However when you navigate by pressing the button on the test repo's index page you will see that the page whites out momentarily before arriving at google.com. The a

[2020-05-18 08:39] talebi opened #21940 "Missing 'Blazor WebAssembly App' Template in VS for Mac"
### Describe the bug
Cannot see and select 'Blazor WebAssembly App' template in Visual Studio Mac in 'new project' dialog

### To Reproduce
Just start Visual Studio and hit 'New Project' from the startup screen

### Further technical details
=== Visual Studio Professional 2019 for Mac (Preview) ===

Version 8.6 Preview (8.6 build 4516)
Installation UUID: 0b444222-6c75-44b8-a5d8-6bd28e5ad67d
	GTK+

[2020-05-18 08:41] jakubmaguza commented on #21940
Hi,
Just install it:
https://www.nuget.org/packages/Microsoft.AspNetCore.Components.WebAssembly.Templates/

[2020-05-18 08:47] Kahbazi opened #21941 "Error on Building the Repository"
I can't build the repository. I'm getting this error.

I checked the `artifacts\obj\RepoTasks\project.assets.json` and I saw `.NETFramework,Version=v5.0` in the `targets`. Is this correct? Do we have `.NET**Framework**,Version=v5.0``?
Is there anything I can do to fix the build?

[2020-05-18 08:57] Kla3mus opened #21942 "Blazor-Server-Side with AdditionalAssemblies set. Counter.razor loads but click me button does not work."
### Describe the bug
When a component is loaded from a different project than the startup project, the actions (in this case the click me button) in it does not execute, the view loads fine however.

### To Reproduce
Example: https://github.com/Kla3mus/BlazorBug

### Further technical details
- Visual Studio 2019 16.5.5
- Values from - dotnet --info:

.NET Core SDK (reflecting any global.json):
 V

[2020-05-18 09:02] wstaelens commented on #21870
the validation itself works (the attribute is being used/validated against on submit).
But the datepicker control in html shows all dates, isn't limited to the min/max.

On my model I assign a RangeAttribute with a minimum and maximum.

I would expect that setting the minimum and/or maximum in the RangeAttribute would result also in html code having the `<input type="date" min="..." max="...">` bu

[2020-05-18 09:10] mwaleedr commented on #21528
@BrennanConroy i have copied the file just after receiving the service is unavailable message,
[aspnetcore-debug.txt](https://github.com/dotnet/aspnetcore/files/4643150/aspnetcore-debug.txt)

[2020-05-18 09:24] javiercn commented on #21938
@julienGrd thanks for contacting us.

Is it because you are compiling the same type into different assemblies with some preprocessor conditional logic applied to it?

[2020-05-18 09:30] SQL-MisterMagoo commented on #19050
I think @simonziegler 's problem would go away if the ReconnectionHandler was disposed just before a navigate away from the page.

[2020-05-18 09:30] javiercn commented on #21285
@isc30 I'm not sure what you are asking us to do,

but changing something on ComponentBase is not possible for us until/after the 5.0 release. This is part of the component model so it can't only be applied to Blazor WebAssembly and it is not an area where we plan to make changes.

We'll look into documenting the pattern to follow here in the future.

[2020-05-18 09:36] jakubmaguza opened #21943 "Blazor WebAssembly size"
Hello!

First of all, thanks for blazor, it's amazing!

Recently I was doing some blazor app deployment and then I realize that clean blazor wasm template is using over 6mb without compression.

After enabling compression via .htaccess file, i managed to make ~2.7mb (example [here](https://dzisiajnauczylemsie.pl/BlazorTemplate/)).

My question: Is it maximum what I can do? This is app from wasm te

[2020-05-18 09:43] javiercn commented on #21919
@nvmkpk thanks for contacting us.

The authentication support already uses an iframe to try and authenticate the user silently in case it was authenticated.

We don't support authenticating the user via a pop up.

Authentication works fine whether you have a PWA installed or not and in case you need to make the auth bits work offline, the recommended approach is to implement your own UserAccountCl

[2020-05-18 09:56] julienGrd commented on #21938
@javiercn yes its exactly the logic of the original App
for example a class classA is on the project Library.Server but also in the project Library.Client (added in this last one as a link)
The server app reference Library.Server
The client app reference Library.Client

If i do that with my blazor app, server app will know classA twice (because server app will know Library.Server but also Library.

[2020-05-18 10:02] paddotk commented on #20542
Turned out the required package wasn't installed correctly after all. The feedback of VS after the install attempt was a bit misleading, but I got it working :)

[2020-05-18 10:12] javiercn commented on #21938
@julienGrd there is no way to achieve that in server-side blazor.

I think it's pretty complicated. There are ways to do this in C# (see below) but I would recommend against it and instead suggest you use the preprocessor logic to put them in different namespaces.

The only reason client-side Blazor gets away with "total independence" is because there is no memory/code dependency between the serve

[2020-05-18 10:24] javiercn commented on #21943
@jakubmaguza thanks for contacting us.

I'm not sure what level of compression Apache is applying, but you can change the way Blazor loads resources during boot and take advantage of the pre-compiled assets.

See the section `Custom boot resource loading` on https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-release-candidate-now-available/ for how to plug it in.

Then you can load the

[2020-05-18 10:28] TimmyGunawan123 commented on #12784
I still dont know bout this one..  http://hapetfs.com/

[2020-05-18 10:28] javiercn commented on #21942
@Kla3mus thanks for contacting us.

I don't think the repro you have provided is complete.

[2020-05-18 10:43] Kla3mus commented on #21942
I'm so sorry. I believe i have fixed the repo now. I have downloaded the files and tested after i commit the last change. Thanks for looking at it! :)

[2020-05-18 10:45] MaxHorstmann commented on #16965
Same issue here, see [Stack Overflow](https://stackoverflow.com/questions/61860190/tag-helpers-not-working-with-dynamicroutevaluetransformer). Is there an update? Would a PR for this be considered?

[2020-05-18 10:50] gulbanana opened #21944 "Could IWebAssemblyHostEnvironment be an IHostEnvironment subtype?"
I'm trying to get the environment name in Blazor code which could be either Blazor Server or Blazor WebAssembly. At the moment, there isn't a common abstraction to do that.

[2020-05-18 10:51] OlegQu commented on #14962
@ShaunCurtis thanks for reply!
I already implemented steps 1 and 2. Should be enough to override _OnLocationChanged_ event in Router class? And add there:
`if (hasChanges) _jsRuntime.InvokeAsync("onbeforeHandler");`
And then just change all classes referenced wirh _Router_. Or this is not so simple?
I have troubles with overriding _Router_, cause there are a lot of dependencies and idk how to regi

[2020-05-18 11:26] matteofabbri opened #21945 "Microsoft.AspNetCore.Identity.IdentityUserClaim<TKey> enforce Id as integer"
Package: microsoft.extensions.identity.stores

Differently from any other class in the namespace IdentityUserClaim force **int**  as type for Id.
This make this class incompatible with database system using a different type for key.

[code]

Not affected classes of the same namespace
IdentityRole<TKey>
IdentityUserLogin<TKey>
IdentityUserToken<TKey>
IdentityUser<TKey>

[2020-05-18 11:28] javiercn commented on #21944
@gulbanana thanks for contacting us.

We don't plan to do that as it would requiring us to take a dependency on additional assemblies, increasing size for little benefit.

I would suggest/recommend that instead you create your own wrapping abstraction and use it across your code-base, prepopulating it based on data from the environment.

[2020-05-18 11:42] smadurange commented on #21939
This issue seems to be a problem with value provider for "application/json". When I post it as form data, my `dto` is not `null`. But when I post data as "application/json", I get `null`. Please advise. Does this mean I need to implement a custom value provider for json if I need to leverage `IModelBinder`?

[2020-05-18 11:54] eanpr3 commented on #21085
Hi,
I also facing with this problem browser freeze while UI rendering. I hope they have solution for this problem asap.

Thanks,

[2020-05-18 12:27] ZeroDarkThirty opened #21946 "[assembly: Microsoft.AspNetCore.Identity.UI.UIFrameworkAttribute("Bootstrap4")] causing The type or namespace name 'UI' does not exist in the namespace 'Microsoft.AspNetCore.Identity'"
Getting a missing assembly reference error on the following, in the `myproj.AssemblyInfo.cs` file

`[assembly: Microsoft.AspNetCore.Identity.UI.UIFrameworkAttribute("Bootstrap4")]`

Content of csproj file:

[code]

### Further technical details
- ASP.NET Core version 3.1
- Include the output of `dotnet --info`
- The IDE - Visual Studio Mac

[2020-05-18 13:44] musictopia2 commented on #21929
I was using this with server side not web assembly.  The links are helpful for web assembly.  However, web assembly has not been officially released yet.  With server side, those options mentioned are not available.  Or is a person forced to wait for web assmebly to come out to see if it resolves it.  It would mean if its a server app, then still can't retrieve much data from local storage.  When

[2020-05-18 13:52] javiercn commented on #21946
@ZeroDarkThirty thanks for contacting us.

Seems like something is wrong with the build, can you clean the bin and obj folders and try rebuilding afterwards?

[2020-05-18 14:19] swagers commented on #19963
I too have the same problem

Microsoft Visual Studio Enterprise 2019
Version 16.5.5

[2020-05-18 14:46] gulbanana commented on #21944
Unfortunately, that's hard to do because this product is a library to be used from either blazor server or blazor wasm. Keeping the size down seems like a good tradeoff, though.

[2020-05-18 14:46] #21944 closed

[2020-05-18 14:48] blowdart opened #21948 "When creating a dev cert on Windows you get trust instructions for OSX"
Recreating a dev HTTPS certificate and trusting it on Windows provides linux trust instructions in addition to the Windows trust dialog.

### To Reproduce

After running `dotnet dev-certs https --clean` I ran `dotnet dev-certs https -t`

Output is

[code]

Command was run within an administrator command prompt on Windows 10, v2004

### Further technical details
 Version:   3.1.202
 Commit:    6ea7

[2020-05-18 15:01] javiercn commented on #21836
@eduardogdo thanks for contacting us.

You need to use a custom account to map roles properly when there is more than one. See https://github.com/javiercn/BlazorAuthRoles/blob/master/Client/Program.cs#L23-L24 for details and a working sample

[2020-05-18 15:42] rono1 commented on #21835
I upgraded from dotnet 3.0.0 to 3.1.4 and now it is working as expected.

[2020-05-18 15:42] #21835 closed

[2020-05-18 15:42] #21836 closed

[2020-05-18 15:50] aKzenT commented on #21703
Actually after digging some deeper these days, the error seems to be related to the total number of assemblies loaded. I can reproduce the error with a simple console application that loads 400 dummy assemblies (class library standard template). Somewhere between 300 and 400 assemblies, memory dumps can no longer be taken and the "Not enough storage" error appears.

While this seems like a lot, my

[2020-05-18 15:59] codeherd opened #21949 "Make CookieAuthenticationOptions.SlidingExpiration behaviour configurable"
### Issue
The `SlidingExpiration` option when set to `true` only configures the handler to re-issue the cookie if it processes a request more than half way through the expiry window. As a result, in a 1 hour expiry window a request processed at 29 minutes will not reset the window.

The `CheckForRefresh` method which handles this is `private`, and therefore this behaviour cannot be modified easily

[2020-05-18 16:00] #21623 closed

[2020-05-18 16:01] #19246 closed

[2020-05-18 16:04] captainsafia commented on #19246
Marking as done. Omnisharp insertion for this will happen soon.

[2020-05-18 16:11] ilkayilknur commented on #21265
I want to work on this one.

I will add a new overload `MediaTypeHeaderValue.IsSubsetOf(StringSegment)`. Parse and IsSubsetOf methods use StringSegment and don't allocate unless media type has parameters like text/plain;charset=utf-8;foo=bar;q=0.0.
If media type has parameters, MediaTypeHeaderValue stores key/value pairs in Parameters collection.

https://github.com/dotnet/aspnetcore/blob/master/s

[2020-05-18 16:11] mkArtakMSFT opened #21950 "Improve the error experience in a wrong binding situation"
Details can be found at https://github.com/dotnet/aspnetcore/issues/21936

[2020-05-18 16:12] mkArtakMSFT commented on #21936
Thanks for contacting us.
Consider using `@bind` instead of `@bind-value`. That should fix it.

As for improving the error, we'll handle it as part of https://github.com/dotnet/aspnetcore/issues/21950

[2020-05-18 16:12] #21936 closed

[2020-05-18 16:14] mkArtakMSFT commented on #21933
@shirhatti can you please handle this? Thanks!

[2020-05-18 16:16] nvmkpk commented on #21919
Do you mean to say it uses iframe to check if the user was previously logged in? If that is the case then no that is not what I am asking for. I would like the initial login to happen in the iframe so that once it is removed, hitting back would not take the user back into the login pages..

I am not saying it does not work. I am only saying after login if the user hits the back button I don't want

[2020-05-18 16:16] Andrew-Pynch commented on #14167
@mkArtakMSFT any updates on this? Really need this functionality in my app and would prefer to use native functionality than the weird workarounds with the Javascript interop. 😆

[2020-05-18 16:17] mkArtakMSFT commented on #21926
Thanks for contacting us.
Can you please share the URL where your website is deployed? We may be able to extract some usuful information from there.

[2020-05-18 16:21] mkArtakMSFT commented on #21908
Thanks for contacting us. At the moment, Drag & Drop is not supported out of the box, so you have to write your own JSInterop logic to handle this, hence handling the `Escape` key.

We do plan to bring support for Drag & Drop as part of https://github.com/dotnet/aspnetcore/issues/18754

[2020-05-18 16:21] #21908 closed

[2020-05-18 16:22] mihaimyh commented on #21926
Sure, https://movingpicturesevents.ro/

Thank you.

[2020-05-18 16:24] javiercn commented on #14167
@Andrew-Pynch We recommend you follow the approach described [here](https://docs.microsoft.com/en-us/aspnet/core/security/blazor/server/additional-scenarios?view=aspnetcore-3.1#pass-tokens-to-a-blazor-server-app) to pass any data you need from the request into the Blazor app

[2020-05-18 16:25] mkArtakMSFT commented on #21877
Thanks for contacting us. byte arrays are not yet supported when doing interop. We will consider adding support for it in the future.

[2020-05-18 16:28] mkArtakMSFT commented on #21874
Thanks @hultqvist.
We still need a repro here to be able to investigate. Please provide a minimal app to demonstrate the issue.

[2020-05-18 16:30] mkArtakMSFT commented on #21870
Thanks for contacting us.
Automatically applying the `min` and `max` attributes is not something we support at the moment. You will have to do this manually for now.

[2020-05-18 16:31] #21870 closed

[2020-05-18 16:32] mkArtakMSFT commented on #21849
Thanks for contacting us.
@captainsafia adding this to the rest of your debug adapter related issues for consideration.

[2020-05-18 16:40] mkArtakMSFT commented on #21924
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-05-18 16:43] mkArtakMSFT commented on #21916
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-05-18 16:44] mkArtakMSFT commented on #21906
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

/cc @davidfowl

[2020-05-18 16:47] mkArtakMSFT commented on #21891
Thanks for contacting us.
Try to changing the current directory to the `ClientApp` folder and run `npm install` from there. That may fix the permissions problem. Let us know how this goes.

[2020-05-18 16:48] transcendair commented on #21326
I too get "Completing login..." and nothing else. Please @javiercn tell us more about your success and what could be going wrong.

[2020-05-18 16:49] pranavkm commented on #21939
@smadurange formatters, which is what's used when JSON data, do not interact with the rest of the model binding \ value provider subsystem. For this scenario, you'd have to write a converter for the JSON library that you're using:

* https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-converters-how-to
* https://www.newtonsoft.com/json/help/html/CustomJsonConverter.htm

[2020-05-18 16:50] mkArtakMSFT commented on #21865
@vijayrkn can you please look into this? This is `.vs` related.

[2020-05-18 16:51] davidfowl commented on #21906
@NMSAzulX we haven't done the work to make sure that all of the memory associated with an assembly goes away when it's unloaded. It's non trivial and low priority for the team. See https://github.com/dotnet/aspnetcore/issues/21744 for a similar issue.

[2020-05-18 16:51] bradtwurst opened #21951 "dotnet core 3.1 - package restore downgrades version of Microsoft.AspNetCore.Authentication.OpenIdConnect"
### Describe the bug
dotnet restore replaces version 3.1.4 of package with 3.0.0 version

### To Reproduce
1. create a new cs project - netcoreapp3.1

1. dotnet add Microsoft.AspNetCore.Authentication.OpenIdConnect
 csproj file indicates version 3.1.4
`<PackageReference Include="Microsoft.AspNetCore.Authentication.OpenIdConnect" Version="3.1.4" />`

1. project.assets.json indicates 3.1.4
`    ".NE

[2020-05-18 16:52] davidfowl commented on #21744
cc @janvorli

[2020-05-18 16:52] danroth27 commented on #21840
Hi @masoodafar-web. JS script tags and CSS link tags need to be added using the root page of your app (index.html, or _Host.cshtml). We don't support adding script tags and CSS links in components, including layout components. This is something we are looking at though for .NET 5: #10170.

[2020-05-18 16:53] mkArtakMSFT commented on #21889
Thanks for contacting us, @hishamco.
This is not something we plan do invest in.

[2020-05-18 16:53] #21889 closed

[2020-05-18 16:53] SteveSandersonMS commented on #21653
I checked, and the `@bind-checked` attribute is not listed in the set of combinations supported in `BindAttributes.cs` (in the .Web project). I don't know why that one was not included - perhaps it was an oversight.

We could consider adding this. Though TBH there would be more value still in either supporting `@bind-value` on checkboxes, or adding some compiler warning/error if you try to do that

[2020-05-18 16:58] SteveSandersonMS commented on #21877
And to clarify why, it's because JS interop uses JSON as the wire format, and JSON has no standard way to represent byte arrays. You can send/receive base64 encoded byte arrays today. We'll look into automatic handling of raw byte data in the future.

[2020-05-18 16:59] vijayrkn commented on #21865
@bradygaster - You have a sample where this works correct?

[2020-05-18 16:59] mikem8361 commented on #21703
@gregg-miskelly and @chuckries have you ever heard of a bug like this? Loading minidumps in VS 16.5.5 with more than 300 modules?

[2020-05-18 16:59] vijayrkn commented on #21865
Never mind. Missed the F# part.

[2020-05-18 17:01] javiercn commented on #21326
I would open the devtools and check for errors in the console

[2020-05-18 17:10] Kylar182 commented on #21929
So essentially Blazor will never be able to handle large files? Or be a large file? I'm having issues where it just dies right about 50 MB total Application size. We've been using JSInterOp with IndexedDB but it looks like the project is dead until Blazor can do over 50MB. I'm guessing this is a WASM thing?

[2020-05-18 17:11] uncvrd opened #21952 "Problem updating complex model using TryUpdateModelAsync"
### Describe the bug
Is `TryUpdateModelAsync` intended to be used with complex model objects? I have been searching for documentation about this, but I have run in to the following error when trying to update a form object that contains an `ICollection`:

`The instance of entity type 'RtdbFile' cannot be tracked because another instance with the key value '{Id: 2021}' is already being tracked`

Th

[2020-05-18 17:18] pranavkm commented on #21787
The right fix for this would involve razor codegeneration to stash string literals in to a resx file and changing WriteLiteral calls to use these resx strings. Implementing this is going to be a fair bit of work - the code generation would need to add this feature and we would need to change the SDK to express multiple outputs produced per cshtml file.

In the meanwhile, app developers have a few

[2020-05-18 17:21] phosphene47 opened #21953 "Allowing HTTP upgrade for a non-upgrade request"
### Is your feature request related to a problem? Please describe.
I am writing an HTTP proxy server using ASP.NET Core. To handle HTTP `CONNECT` requests I would like to upgrade the request to its underlying stream and pipe it directly to the destination server. However it seems that upgrading non-upgrade requests is not supported and will throw an exception instead.

### Describe the solution yo

[2020-05-18 17:23] yopez83 commented on #21326
You can take a look at #21879. I was able to get it to work.

[2020-05-18 17:29] Tratcher commented on #21265
IsSubsetOf doesn't need the parameters to produce an answer. It could stop parsing when it reaches the first parameter.

[2020-05-18 17:42] wegylexy commented on #8716
See https://github.com/aspnet/SignalR-Client-Cpp/pull/33

[2020-05-18 17:42] ilkayilknur commented on #21265
IsSubsetOf(MediaTypeValue) compares paramaters to produce an answer. https://github.com/dotnet/aspnetcore/blob/master/src/Http/Headers/src/MediaTypeHeaderValue.cs#L395

Are you saying that the new overload doesn't need to compare the parameters?

[2020-05-18 17:47] TanayParikh opened #21954 "Additional `/` when committing completion"
![Additional slash at end of commit](https://user-images.githubusercontent.com/14852843/82243683-e040b280-98f4-11ea-9d20-13fb23497db9.gif)

When committing a completion with `enter`, the existing `/` is added to the end, instead of being overwritten / being adapted in the insertion text.

[2020-05-18 17:48] hembk44 commented on #17277
It worked for me.

[2020-05-18 17:50] grahamehorner opened #21955 "SignalR Hub OnConnected fails to send message to the connection"
### Describe the bug
The OnConnected method fails to send messages to the client that has connected when using the Clients.All
### To Reproduce
create a Signalr hub override the OnConnected method with a that has a call to Clients.All.Send
not that the client that trigger the OnConnected doesn't receive the message however all other clients do.

[2020-05-18 17:55] NTaylorMullen commented on #21954
Does this work outside of LSP scenarios?

[2020-05-18 17:57] mrpmorris commented on #21653
@SteveSandersonMS should `@bind-value` work?

[2020-05-18 17:59] gregg-miskelly commented on #21703
It sounds like a bug/limitation in the dbghelp.dll code that takes dumps (or the kernel APIs called by dbghelp.dll) rather than something in the consumer side.

@aKzenT when you said you can reproduce the problem with a simple console app, are you trying on your local machine? Or are you testing in Azure Web Sites?

[2020-05-18 18:01] mrpmorris commented on #21943
Was that built as Debug or Release?

[2020-05-18 18:02] BrennanConroy commented on #21955
We have that in a sample that works
https://github.com/dotnet/aspnetcore/blob/dad96ff3733f0088087be3a04ff8e357608a7744/src/SignalR/samples/SignalRSamples/Hubs/Chat.cs#L15

We'll need more info about what you're doing.

[2020-05-18 18:04] ajaybhargavb commented on #21954
In the old editor, typing `/` doesn't bring up a new set of completions so the suggestion `/NewComponent>` will still remain and it works fine.

I believe we already reported this to @ToddGrun as part of an email in the past. @ToddGrun, fyi in case you weren't aware of this already.

[2020-05-18 18:08] SteveSandersonMS commented on #21653
No, HTML checkboxes have a `checked` state (not `value`) to indicate whether they are checked.

[2020-05-18 18:09] hishamco commented on #21889
Is there a workaround for such thing, because different data sources such as databases, files or even resource managers (resx) may have different culture that could be added at runtime, I need a solution without restart the app

[2020-05-18 18:12] TanayParikh commented on #21954
Thanks @ajaybhargavb. Confirmed working appropriately in the old editor.

[2020-05-18 18:15] jakubmaguza commented on #21943
It is published using publish profile -> to directory, which is set in release mode

[2020-05-18 18:20] Tratcher commented on #21265
We're not considering parameters in the gRPC examples above. Maybe we shouldn't be overloading IsSubsetOf but should do a different method like MatchesMediaType that doesn't consider parameters.

[2020-05-18 18:42] transcendair commented on #21326
What is working: On login attempt I get prompted with google signin page and successfully redirected back to app so google is seeing request and likes the URI source.

@yopez83 I lifted your code from#21879 but results are the same.

@javiercn  Seeing: info: Microsoft.AspNetCore.Authorization.DefaultAuthorizationService[2]
      Authorization failed.
blazor.webassembly.js (1,9726)

Not trying to u

[2020-05-18 18:51] maksimkim opened #21956 "Support client certificate RE-negotiation"
### Is your feature request related to a problem? Please describe.
We have http server application implemented on top of http.sys/.net desktop/System.Net.HttpListener and looking for migration to .net core/aspnetcore with all its goodness. Today our customers depend on our application to be able to request client certificate over existing already negotiated TLS connection (RE-negotiation). This fe

[2020-05-18 18:52] davidfowl commented on #21956
cc @Tratcher @halter73

[2020-05-18 19:03] Tratcher commented on #21956
That feature already exists in the HttpSys server implementation and it's enabled by default for 3.1 and older (https://github.com/dotnet/aspnetcore/issues/14840). It is not available on IIS or Kestrel/SslStream. Can you use HttpSys for now? It should work about the same as HttpListener since it was forked from there. If not, what server are you using now?

Renegotiation has been problematic for a

[2020-05-18 19:06] sebastienros commented on #21910
Jobs temporarily didn't run

[2020-05-18 19:06] #21910 closed

[2020-05-18 19:08] sebastienros commented on #21776
Back up

[2020-05-18 19:08] #21776 closed

[2020-05-18 19:10] dougbu commented on #20687
de38479e5f5c

[2020-05-18 19:10] #20687 closed

[2020-05-18 19:17] sebastienros commented on #21887
Not running anymore

[2020-05-18 19:17] #21887 closed

[2020-05-18 19:20] ilkayilknur commented on #21265
What about throwing an exception if the parameter contains parameters and direct users to use the other overload? or adding parameter support to the new overload for the feature parity? MatchMediaType name may be misleading because the method actually performs IsSubSetOf operations.

[2020-05-18 19:40] maksimkim commented on #21956
Hey @Tratcher, sorry I had to be more specific in the issue title/description. We want to migrate specifically to Kestrel server implementation for the reasons of having better control on transport level  communication.

[2020-05-18 19:53] Tratcher commented on #21956
I do not recommend adding renegotiation support to Kestrel/SslStream at this point, it's better to work on a future proof replacement.

Can you try the proposal from #21484 and let me know how it works for you?

[2020-05-18 19:56] Tratcher commented on #21265
No, throwing for a common situation makes the API hard to use.

[2020-05-18 20:03] arivoir opened #21959 "Blazor UI invalidation documentation"
Is there any documentation how Blazor invalidates the UI?

I know the StateHasChanged method tells Blazor the component should be rendered again, but ...

1) How is the relation between parents and children? Is a parent invalidated when a children is invalidated? and vice versa?
2) What should I invalidate when a component is composed of a hierarchy of components, always the base? always the most

[2020-05-18 20:06] yopez83 commented on #21326
@transcendair look at the comment above by @javiercn. ClientSecret is not needed, SPAs cannot keep a secret. I bet that's why you're not required to provide one.  [This](https://docs.microsoft.com/en-us/aspnet/core/security/blazor/webassembly/standalone-with-authentication-library?view=aspnetcore-3.1) is the guideline I followed to get mine working.

[2020-05-18 20:12] Tratcher commented on #21518
Known issue for Settings_MaxHeaderListSize_Server and RequestHeaders_MultipleFrames_Accepted: https://github.com/dotnet/runtime/issues/860

[2020-05-18 20:17] pranavkm commented on #21915
@Liander, a comparer API doesn't work very well for this. When Blazor is comparing two values, in a lot of cases, there aren't two instances - one old and one new - of a value. Instead, there's a single instance with properties that might have changed since the previous render. If instead parameter values were immutable, Blazor could apply the same change detection behavior it applies to strings a

[2020-05-18 20:37] jkotalik commented on #17241
You can remove the RequestFiltering module from the appliationhost.config file, however I'd be cautious doing that.

[2020-05-18 20:46] ilkayilknur commented on #21265
I understand. I agree with doing a different method then. If this is the final decision, I can start working on it :)

[2020-05-18 21:02] maksimkim commented on #21956
I see. In our case we don't control client applications so proposal above would require us to announce breaking change and make potentially affected customers to step in and do modifications on their side. Before doing that I first wanted to check out if the framework can support it.

[2020-05-18 21:06] Tratcher commented on #21953
CONNECT is pretty invasive and is explicitly not supported by any AspNetCore servers.

Repurposing IHttpUpgradeFeature is a creative solution. It doesn't quite work for you since it will cause a 101 response to be sent. You would need a new feature.

[2020-05-18 21:08] lkurzyniec opened #21962 "Controller and Async suffix in Url.Action() and/or CreatedAtAction()"
When I'm using either `Url.Action()` or `CreatedAtAction()` I have to supply parameters without suffixes, ie for given controller `HelloController` and action method `GetAsync()` I need to execute `Url.Action("Get", "Hello", new { text = "some route values" })`.
It makes impossible to have strongly consistent code - I would like to write `Url.Action(nameof(GetAsync), nameof(HelloController), new {

[2020-05-18 21:13] BrennanConroy commented on #21546
Why are you configuring your Virtual Memory limit? By default it should be 0.

As you observed switching to 32 bit "fixes" the issue. This is likely because 64 bit is more aggressive with using virtual memory.

Also, you could try disabling server GC to see if less virtual memory is used.

[2020-05-18 21:17] BrennanConroy commented on #21732
Could you grab server side logs please?
https://docs.microsoft.com/aspnet/core/signalr/diagnostics?view=aspnetcore-3.1

[2020-05-18 21:18] XomegaNet commented on #14962
You can use [Xomega Framework](https://github.com/Xomega-Net/XomegaFramework), which automatically handles modification tracking and prompting users about unsaved changes when they navigate to another view. It uses it's own navigation framework, which is client-independent (as is the rest of the Xomega Framework), so your code can be (re)used as is not only with Blazor, but also with other clients

[2020-05-18 21:19] Liander commented on #21915
@pranavkm

Can you explain that? The suggestion is an extension to what is present. The comparer here is just any object that can reflect a change in the rendering that will result from that attribute. Also for parameters like RenderFragments.

Yes, sometimes it is the same reference, and it might still represent another state in a subsequent render. The suggestion is universial in that it separat

[2020-05-18 21:26] BrennanConroy commented on #21528
@mwaleedr When you see the app recycle, are you modifying anything in the app folder? Like web.config, appsettings, code, etc.

@BillHiebert When does VS drop app_offline when debugging IIS apps?

[2020-05-18 21:29] Tratcher commented on #21956
The client app wouldn't necessarily need changes if it supports basic redirects. It should also work with any version of AspNetCore.

Even if we added renegotiate support it wouldn't happen until at least 5.0 (end of 2020), but probably later as most of our 5.0 work is already scheduled.

[2020-05-18 21:32] pranavkm commented on #21915
Can you show us an example of what a comparer instance would look like in the ordinary case? Let's use `WeatherForecast` instance from the Blazor template as the value to compare.

[2020-05-18 21:36] BrennanConroy commented on #21911
Could you follow the [troubleshooting docs](https://docs.microsoft.com/aspnet/core/test/troubleshoot-azure-iis?view=aspnetcore-3.1#troubleshoot-on-iis) and share your logs?

[2020-05-18 21:39] BrennanConroy commented on #21789
The doc you linked to has an example app that shows how to seed data in main

https://github.com/dotnet/AspNetCore.Docs/blob/654d371cd2381394bd08973c3f733d704051ae1c/aspnetcore/test/integration-tests/samples/3.x/IntegrationTestsSample/src/RazorPagesProject/Program.cs#L13-L38

[2020-05-18 21:43] pranavkm commented on #21962
See https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#async-suffix-removal-from-controller-action-names

[2020-05-18 21:49] BillHiebert commented on #21528
@BrennanConroy  it doesn't. I double-checked the code and we never write that file.

[2020-05-18 21:50] Tratcher commented on #21951
@wtgodbe @JunTaoLuo ?

[2020-05-18 22:08] Liander commented on #21915
If you have a parameter of type `WeatherForecast` and you build it with this API, then a ValueTuple could be a good proxy to capture render change, so:
[code]

When it comes to capture structures from references one could easily build some reflection-based type as a helper (but it would be up to the user for what is reasonable in the situation used) so you could have something like:
[code]

But ot

[2020-05-18 22:08] aKzenT commented on #21703
@gregg-miskelly I can only reproduce this on azure app service, not locally. It doesn't need to run through IIS though, it's enough to start the console application from the console in Kudu.

[2020-05-18 22:09] ajaybhargavb commented on #21785
Thanks for the report. We don't have support for C# refactorings in Blazor yet. This will be handled as part of https://github.com/dotnet/aspnetcore/issues/18211.

[2020-05-18 22:09] #21785 closed

[2020-05-18 22:09] Tratcher commented on #21941
There was just a major tooling update to move to net5.0 TFMs, you may need to `git clean -xdf` and rebuild. I was able to build on the current master (b1fe320).

[2020-05-18 22:10] mkArtakMSFT commented on #21779
Thanks for contacting us. This is not part of the runtime feature-set. Please use the [VS Feedback](https://docs.microsoft.com/en-us/visualstudio/ide/feedback-options?view=vs-2019) to report this issue, so the team who owns the area can track the ask.

[2020-05-18 22:10] #21779 closed

[2020-05-18 22:11] #10090 closed

[2020-05-18 22:12] #7200 closed

[2020-05-18 22:12] TanayParikh commented on #21954
Confirmed with WTE (@jimmylewis). This was fixed and merged in this morning. Should be live by Wednesday.

[2020-05-18 22:12] #21954 closed

[2020-05-18 22:13] #6688 closed

[2020-05-18 22:13] mkArtakMSFT commented on #6679
The interactions with the Editor are changing completely so closing this as it'll be reset.

[2020-05-18 22:13] #6679 closed

[2020-05-18 22:14] #6531 closed

[2020-05-18 22:14] #5109 closed

[2020-05-18 22:14] mkArtakMSFT commented on #5074
Obsolete

[2020-05-18 22:14] #5074 closed

[2020-05-18 22:15] #5062 closed

[2020-05-18 22:15] #5059 closed

[2020-05-18 22:15] #5027 closed

[2020-05-18 22:16] mkArtakMSFT commented on #5023
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2020-05-18 22:16] #5023 closed

[2020-05-18 22:16] gregg-miskelly commented on #21703
My **guess** is that you are running into a problem with the virtualization infrastructure in Azure App Services. I will follow up with the folks who own the dump writing and see if this problem is already known.

[2020-05-18 22:17] maksimkim commented on #21956
Got it. Thanks @Tratcher.

[2020-05-18 22:18] #4995 closed

[2020-05-18 22:30] mkArtakMSFT commented on #21114
Closing per @rynowak 's comment, as the follow up here is in docs, which is now tracked separately.

[2020-05-18 22:30] #21114 closed

[2020-05-18 22:45] fabianus76 commented on #20976
Hey @mkArtakMSFT, I am very willing to make things clearer. Could you tell me more about what has to be clarified ?

[2020-05-18 22:46] shirhatti opened #21966 "Enable ActivityTracking in CreateDefaultBuilder"
https://github.com/dotnet/runtime/issues/34305 is introducing new API on `LoggerFactoryOptions` to enable `Activity` tracking. We should enable it in `CreateDefaultBuilder`.

Needs to happen with- https://github.com/dotnet/aspnetcore/issues/21020

[2020-05-18 22:53] gregg-miskelly commented on #21703
@aKzenT Is your little console app test program something you can easily share? Could you share your corrupt dump as well?

[2020-05-18 23:10] sebastienros commented on #21937
False positive

[2020-05-18 23:10] #21937 closed

[2020-05-18 23:11] weitzhandler opened #21967 "ASP.NET Identity for client-side"
### Description

ASP.NET Identity is a great tool for server-side identity management.

The picture will be complete if there would be an identity-manager aimed for .NET clients too, such as UWP, Blazor, WPF, Uno Platform, etc.

Potentially it should implement the following functionality:

- User authentication management, via JWT tokens, claims etc.- Integration with `Thread.CurrentPrincipal`.
-

[2020-05-18 23:11] sebastienros commented on #21914
False positive

[2020-05-18 23:11] #21914 closed

[2020-05-18 23:13] sebastienros commented on #21913
A little more that 24h between two runs

[2020-05-18 23:13] #21913 closed

[2020-05-18 23:14] captainsafia commented on #21849
@zbecknell Can you try using the following launch configuration for the `coreclr` type?

[code]

[2020-05-18 23:14] sebastienros commented on #21575
Runs again

[2020-05-18 23:14] #21575 closed

[2020-05-18 23:14] sebastienros commented on #21442
Recovered

[2020-05-18 23:15] #21442 closed

[2020-05-18 23:17] sebastienros commented on #21905
Restored

[2020-05-18 23:17] #21905 closed

[2020-05-18 23:18] sebastienros commented on #21899
Restored

[2020-05-18 23:18] #21899 closed

[2020-05-18 23:18] sebastienros commented on #21876
Restored

[2020-05-18 23:18] #21876 closed

[2020-05-18 23:19] sebastienros commented on #21871
Restored

[2020-05-18 23:19] #21871 closed

[2020-05-18 23:20] sebastienros commented on #21856
Restore

[2020-05-18 23:20] #21856 closed

[2020-05-18 23:25] sebastienros commented on #21852
Recovered

[2020-05-18 23:25] #21852 closed

[2020-05-18 23:25] ToddGrun commented on #21704
What's the rough ETA for this one landing? Roslyn looks like they are moving their feature flag access behind a cache (although I wish the feature flag implementation would just cache the results)

[2020-05-18 23:25] sebastienros commented on #21829
Recovered

[2020-05-18 23:25] #21829 closed

[2020-05-18 23:26] sebastienros commented on #21815
Recovered

[2020-05-18 23:26] #21815 closed

[2020-05-18 23:27] sebastienros commented on #21762
@pranavkm this benchmark only has errors

[2020-05-18 23:28] sebastienros commented on #21758
@pranavkm  Duplicate of https://github.com/dotnet/aspnetcore/issues/21762

[2020-05-18 23:28] #21758 closed

[2020-05-18 23:34] Tratcher commented on #21265
Give it a try and we'll see how it works. Thanks

[2020-05-18 23:36] mwaleedr commented on #21528
@BrennanConroy i don't modify anything after app recycle and I don't need to modify anything because it automatically restarts after shutting down

[2020-05-18 23:37] BrennanConroy commented on #21528
Right, but are you doing anything before the recycle? We're trying to figure out why you're getting an app_offline file.

[2020-05-18 23:39] mwaleedr commented on #21528
what could i have been doing before recycle, it just restarts randomly

[2020-05-18 23:42] #18984 closed

[2020-05-19 00:03] pr-benchmarks[bot] opened #21969 "Bad responses: ConnectionClose, MvcJsonInput2M, MvcJsonNetInput2M, MvcJsonNetOutput2M"
Some scenarios return errors:

| Scenario | Environment | Last Run | Errors |
| -------- | ----------- | -------- | ------ |
| ConnectionClose | Linux, ARM64, http, KestrelSockets | 2020-05-18 11:39:39Z | 256 |
| MvcJsonInput2M | Linux, ARM64, http, KestrelSockets | 2020-05-18 23:22:13Z | 1030 |
| MvcJsonNetInput2M | Linux, ARM64, http, KestrelSockets | 2020-05-18 23:26:38Z | 2451 |
| MvcJsonNetOu

[2020-05-19 00:08] halter73 commented on #21834
Investigation notes:

When you do a normal CopyToAsync operation with a Stream destination, the full response is still be “written” it would just effectively go to /dev/null. Since the new implementation is checking the FlushResult to see if the transport is still reading, it short circuits to save some cycles when the benchmark client aborts the connection.

This isn’t too dissimilar to how Stati

[2020-05-19 00:50] tytannial commented on #21732
With the debug log, I checked the dependence injection order again, and finally got it, thanks! I switch "services.AddSignalR()" after "services.AddAuthentication()" and "services.AddAuthorization()", then all works fine.

[code]

[2020-05-19 00:51] #21732 closed

[2020-05-19 01:20] ctigrisht opened #21970 "Impossible to place Ads in blazor"
How can we place <script> tag ads like from adsense in blazor components?
Right now it is impossible to add an ad due to script tags not being allowed.

What i would suggest is to give a warning instead of error when putting a <script> saying something in the lines of "Do not modify the script using c#"
I also cannot suppress the error

[2020-05-19 01:26] talebi commented on #21940
I had already tried that but still missing:
<img width="901" alt="Screen Shot 2020-05-19 at 11 25 24 am" src="https://user-images.githubusercontent.com/2081646/82274470-9377dd00-99c3-11ea-919f-48adddb2d1e9.png">

[2020-05-19 01:27] alexvy86 commented on #11972
Sure, give me a couple of days and I should be able to clean up my app to work as a generic example.

[2020-05-19 01:58] smadurange commented on #21939
@pranavkm Thanks for the information. I implemented a custom Json converter for NewtonSoft Json as below:

[code]

And registered in DI like so

public void ConfigureServices(IServiceCollection services)
[code]

However, when deserializing the DTO, this formatter is not getting called. It does get called when serialising the response. My request from Postman looks like

[code]

[2020-05-19 03:43] transcendair commented on #21326
@yopez83 Would you be willing to send me a zip file of your working code? Thanks.

[2020-05-19 03:58] vijayrkn commented on #20528
This support is already available for 5.0 preview 3. Closing

[2020-05-19 03:58] #20528 closed

[2020-05-19 04:09] NTaylorMullen commented on #19184
@dibarbet what's the status on your side of this?

[2020-05-19 04:11] NTaylorMullen commented on #19902
@ryanbrandenburg is this equivalent to https://github.com/dotnet/aspnetcore/issues/21846 ?

[2020-05-19 04:18] NTaylorMullen opened #21972 "Visual Studio TagHelper/Blazor Semantic Colorization"
This is a big rock issue that tracks the overall status of semantic colorization for Visual Studio. It has multiple parts but ultimately entails adding semantic colorization to pieces of the Razor document.

This includes:
- [x] Partial semantic colorization: M
- [x] Integrate with VS: M-L
  - [x] Directive attributes
  - [x] Blazor component elements
  - [x] Blazor component attributes
  - [x] Ta

[2020-05-19 04:20] dibarbet commented on #19184
@NTaylorMullen paused until we have Nexus integration tests running.  I'd expect it to happen after that.  I'll let you know as soon as the work is started.

[2020-05-19 04:31] JinShil commented on #21085
I've converted @julienGrd's BlazorTest application to Blazor-Server for comparison.  You can find it at https://github.com/JinShil/BlazorTest

You'll notice that the Blazor-Server version is quite a bit faster than the Blazor-WASM version when selecting between pages, though there is still a little latency.

The conversation here in this issue seems to be centered around how to virtualize the grid

[2020-05-19 04:34] NTaylorMullen opened #21973 "Visual Studio Razor Smart Indent"
This is a big rock issue that tracks the overall status of smart indent for Visual Studio. It has multiple parts but ultimately entails adding smart indent mechanics for typing scenarios in Razor

This includes:
- [x] [HTML tags inclusive of TagHelpers/Blazor components](https://github.com/dotnet/aspnetcore/issues/22119) AND [this](https://github.com/dotnet/aspnetcore/issues/21757):  2 days

Befor

[2020-05-19 04:47] julienGrd commented on #21938
@javiercn , thanks for your response, it was kind of what i expected. For now i will put this subject aside and maybe we will reconsider to exclude server side from our app (but we have to be sure webassembly version will be improved in term of performance because for now its limited and our server side version is really faster)

[2020-05-19 04:51] NTaylorMullen opened #21974 "Visual Studio Razor C# Signature Help"
This issue does not track adding support for JavaScript / CSS signature help because that work is not slated to fully land in the 16.7-preview3 timeframe.

This involves providing the appropriate pop-up in C# scenarios when a user types `@someMethod(|)`.

**Note:** Colorization of signature help is not yet supported.

[2020-05-19 04:55] julienGrd commented on #21085
@JinShil yes its also my conclusion on my app, server-side is really faster than client side in all aspects.

On my side too, even if virtualization will solve some problems, i have some heavy view in my app where virtualization is not an option, and they are actually too slow to be usable.

 i hope AOT with .net 5 will be a game changer !

[2020-05-19 05:03] jakubmaguza commented on #21940
Can you please show output from running `dotnet new` in console?

[2020-05-19 05:06] NTaylorMullen opened #21975 "Visual Studio Razor Go to Definition/Peek definition - C# / HTML"
This is a big rock issue that tracks the overall status of go to definition for Visual Studio. It has multiple parts but ultimately entails adding the general "go to definition" navigation action to pieces of the Razor document.

Given the size of this issue it will most likely not be completed in one release.

## 16.7-preview2
- [x] Go to definition from C# inside of a Razor file into & outside o

[2020-05-19 05:07] NTaylorMullen opened #21976 "Visual Studio Razor Go to Implementation - C# / HTML"
This is a big rock issue that tracks the overall status of go to implementation for Visual Studio. It has multiple parts but ultimately entails adding the general "go to implementation" navigation action to pieces of the Razor document.

Given the size of this issue it will most likely not be completed in one release.

## 16.7-preview2
- [x] Go to implementation from C# inside of a Razor file into

[2020-05-19 05:15] NTaylorMullen opened #21977 "Visual Studio Razor Find all References - C# / HTML"
This is a big rock issue that tracks the overall status of find all references for Visual Studio. It has multiple parts but ultimately entails adding the general "find all references" navigation action to pieces of the Razor document.

Given the size of this issue it will most likely not be completed in one release.

## 16.7-preview3-4
- [x] [Find all references from C# inside of a Razor file into

[2020-05-19 05:18] NTaylorMullen opened #21978 "Visual Studio Razor Rename - C# / HTML"
This is a big rock issue that tracks the overall status of the rename refactoring for Visual Studio. It has multiple parts but ultimately entails adding the general "rename" refactoring action to pieces of the Razor document.

Given the size of this issue it will most likely not be completed in one release.

## 16.7-preview2
- [x] Rename from C# inside of a Razor file into & outside of a Razor fil

[2020-05-19 05:26] gulbanana opened #21979 "ResolveStaticWebAssetsInputs breaks --no-build"
This bug isn't the same as https://github.com/dotnet/aspnetcore/issues/20413 but has similar underlying causes: in Blazor WebAssembly 3.2.0, client-side projects use the SWA mechanism. This doesn't respect NoBuild for the ResolveReferencedProjectsStaticWebAssets target, so if you issue..
[code]
..then any referenced projects will fail with NETSDK1085: The 'NoBuild' property was set to true but the

[2020-05-19 05:32] gulbanana commented on #21979
Here is a trivial repository that demonstrates the problem: https://github.com/gulbanana-bugs/repro-blazor-nobuild
As above, `dotnet build` then `dotnet pack --no-build` will reproduce the error.

[2020-05-19 05:36] NTaylorMullen opened #21980 "Expose "Experimental Razor Editor" checkbox"
Today Razor's experimental checkbox is only exposed in VSMaster builds. In order to expose this checkbox a few things need to be completed first.

### Bug fixes
- [x] Solution re-open should re-establish language server with proper workspace directory  - [External](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1127327)
- [x] Closing and re-opening documents https://github.com/dotnet/aspne

[2020-05-19 05:40] #21470 closed

[2020-05-19 05:41] #21253 closed

[2020-05-19 06:10] hultqvist commented on #21874
I've tried but so far my attempts to copy the relevant parts doesn't trigger the error.

That's feature request the basis for this issue, to have some way to dig deeper into the error message.

I

[2020-05-19 06:16] hultqvist commented on #21874
I've tried but so far my attempts to copy the relevant parts doesn't trigger the error.

My wish with this feature request is to have some way to dig deeper into the error message.
For example setting some flag that would generate lots of debugging data.
It would make the program very slow but the alternative is to spend hours of guessing.

[2020-05-19 06:18] hultqvist commented on #21874
This is the workaround we're using right now.

We have a hidden input element in the document.
Before removing a component we set focus to this input element.

[2020-05-19 06:28] wstaelens commented on #21870
ok, maybe better to add a Feature-request label to it instead of resolved.

[2020-05-19 07:25] Krangth commented on #21837
I attached some screenshots here:
https://drive.google.com/drive/folders/16Y_lGEN0HrYfDdIlPr--FjInCg_UMk-7

Let me know if you need something more detailed.

[2020-05-19 07:28] SidShetye commented on #13333
Just saw this around midnight PST. ASP.NET Core 3.1 on Azure App Service (Windows instances, Linux containers haven't exhibited this - yet?). Procedurally, this is happening during a custom ASP.NET machine-machine authentication and our last record shows this happening during a sudden 40x burst of requests. Everything settled down within 6-7 minutes.

Here is one of the exception:

[code]

[2020-05-19 07:36] mrpmorris commented on #14962
@javiercn spam ^^^

[2020-05-19 08:04] aKzenT commented on #21703
Code including a "publish" directory with all libraries.
[ClassLibrary1.zip](https://github.com/dotnet/aspnetcore/files/4648998/ClassLibrary1.zip)

Memory dump:
[ConsoleApp1-e91576-05-19-07-54-50.zip](https://github.com/dotnet/aspnetcore/files/4649010/ConsoleApp1-e91576-05-19-07-54-50.zip)

[2020-05-19 08:12] chucker opened #21983 "Blazor: generated TypeInference class should be hidden from Solution Explorer"
Blazor apparently generates a `TypeInference` class to help instantiate generic components (components with one or more `@typeparam`s).

However, the VS IDE sometimes shows this class in Solution Explorer:

![image](https://user-images.githubusercontent.com/20194/82301520-a933d500-99b8-11ea-9b79-3b7575ce1b9a.png)

In this example, `EnumRadioButtons` has a line like this:

[code]

And `LeafletMap.r

[2020-05-19 08:32] PavanDhariwal commented on #21396
Hey,

Apologies, I uploaded the wrong project. Please see attached and follow steps in original post.

Thanks,

Pavan
[BlazorWebAssembly.zip](https://github.com/dotnet/aspnetcore/files/4649152/BlazorWebAssembly.zip)

[2020-05-19 08:39] engineering87 commented on #17516
Same behavior here, IISHttpContext becomes null for some reason

`at Microsoft.AspNetCore.Server.IIS.Core.IISHttpServer.OnDisconnect`

Visual Studio 16.5.5 and Asp Net Core 3.1 application with Razor Page.
Problem occurs very often in debugging the application on VS.

[2020-05-19 08:52] ostart opened #21984 "Is it possible to obtain FQDN (Full Qualified Domain Name) for authenticated user using Microsoft.AspNetCore.Authenticate.Negotiate library?"
### Is your feature request related to a problem? Please describe.
I am trying to obtain FQDN (Full Qualified Domain Name) for authenticated user using Microsoft.AspNetCore.Authenticate.Negotiate library but I can't.

[2020-05-19 09:03] lumogox commented on #9020
Does anyone has some documentation in how to configure nginx with grpc and kestrel?

[2020-05-19 09:24] talebi commented on #21940
please see below:

dotnet new --install Microsoft.AspNetCore.Components.WebAssembly.Templates::3.2.0-rc1.20223.4
  Restore completed in 2.5 sec for /Users/ali/.templateengine/dotnetcli/v3.1.202/scratch/restore.csproj.

Usage: new [options]

Options:
  -h, --help          Displays help for this command.
  -l, --list          Lists templates containing the specified name. If no name is specified, li

[2020-05-19 09:27] mrukas commented on #21744
It appears that not only the property caches do net get cleared but also the cache of the ModelBinderFactory is growing with each loading and unloading.
[Link](https://github.com/dotnet/aspnetcore/blob/master/src/Mvc/Mvc.Core/src/ModelBinding/ModelBinderFactory.cs#L27)

[2020-05-19 09:30] Kla3mus commented on #21942
Is there any workaround for this? Am I doing something that is not best-practice here, or is this a bug that is the way it is and not working?

I see that it's added to "next spring planning" - When is this release scheduled to?

[2020-05-19 10:10] sarphiv opened #21985 "SignInManager does not check SecurityStamp of 2FA RememberMe cookie allowing 2FA bypass"
### Describe the bug
The Identity Core SignInManager has a protected method called SignInOrTwoFactorAsync(...).
https://github.com/dotnet/aspnetcore/blob/master/src/Identity/Core/src/SignInManager.cs#L786

At the time of writing (2020-05-19) this method is used to sign in a user.
If the user has 2FA enabled, this method will instead prepare for the next step in signing in the user.
If the user has

[2020-05-19 10:32] javiercn commented on #21942
@Kla3mus this is just the process we follow to triage issues.

We will prioritize it with the rest of the work we are doing and update the issue appropriately.

[2020-05-19 10:37] javiercn commented on #21979
@gulbanana thanks for contacting us.

What are you trying to pack, the webassembly app?

[2020-05-19 10:37] rpc-scandinavia opened #21986 "[Blazor] Add @class directive"
It is irritating that I can not decide the class name of my razor component/page independently of its file name.

At one point we got the @namespace directive, and that was super, so the location of files is no longer restricted to a "page" or "components" folder.

Now lets get the last piece of freedom, with a **@class** directive to override the file name as the generated class name.

I see else

[2020-05-19 10:38] ilkayilknur commented on #21941
I'm getting the same error while building the repository.

[2020-05-19 10:38] javiercn commented on #21970
@ctigrisht thanks for contacting us.

The recommendation is that you place script tags on the hosting document for the application, whether that's `index.html` or your own `_Host.cshtml` if you are using Razor pages.

[2020-05-19 10:57] Kahbazi commented on #21941
@Tratcher I got the same error with the latest commit. Do you also have `.NETFramework,Version=v5.0`  in `artifacts\obj\RepoTasks\project.assets.json`? Shouldn't this be `.NETCoreApp,Version=v5.0`?

[2020-05-19 11:00] ZeroDarkThirty commented on #21946
@javiercn I've tried that but it didn't work.

[2020-05-19 11:06] javiercn commented on #21946
@ZeroDarkThirty can you provide a minimal repro project that we can use for investigation?

[2020-05-19 11:17] Tratcher commented on #21984
What platform is this on, Windows or Linux?

[2020-05-19 11:30] mlsomers commented on #13333
In my case these errors were related to deadlocks.
During login (amongst other places) I create or update a "last seen" record. After disallowing page locks on that table these issues went away. We would only notice this during login since the other failing ajax calls did not notify the user of any failures.

Unfortunately this means that the deadlock-victim-exception was eaten up somewhere in the

[2020-05-19 11:38] jakubmaguza commented on #21940
It's clearly there, if you will do:
`dotnet new blazorwasm -n myblazorapp`
It will create new blazor web assembly app. I don't know why it's not in the GUI.

[2020-05-19 12:08] adamsitnik commented on #21941
I am also getting the same error:

[code]

[2020-05-19 12:33] chrisevans9629 commented on #21877
@SteveSandersonMS when I use `toDataUrl()` on the canvas I still get the same error, which is a base64 encoding.

[2020-05-19 12:58] zbecknell commented on #21849
Thanks for the suggestion, @captainsafia!  I updated my launch configuration, but unfortunately I still can't hit a breakpoint.  Here is an updated trace output:

https://gist.github.com/zbecknell/55d3c862eba5007d006ff1f836ebf916

Now `Care.UI.dll` only appears twice.  I confirmed I can still debug a different project (`Care.TypeScript.dll`).  One difference that was encouraging was that the break

[2020-05-19 13:07] NMSAzulX commented on #21906
@mkArtakMSFT @davidfowl  Thanks. Now, restarting the service may be the only solution.
At the same time, we hope that officials will pay more attention to the requirements of dynamic compilation in the future. :）Good luck.

[2020-05-19 13:07] #21906 closed

[2020-05-19 13:11] blowdart commented on #21967
It's not something we're looking at, mainly because security something client side safely isn't really possible. As soon as something is running in the same memory space it's not going to be secure, and it's going to be easily bypassed by an attacker.

[2020-05-19 13:58] zbecknell commented on #21849
@captainsafia, we host our code on Azure DevOps, would it be helpful to have access to the repository to see if you can spot any issues there?  We can invite you to view the project if this would be helpful (I know you're flying somewhat blind right now).

[2020-05-19 14:08] DENMODSupport opened #21987 "user.identity.name is null"
Hi,
i have asp.net core 2.1 application and its using windows authentication. But for some user, user.identity.name is null but its working fine for other users. Do you have idea why it is null for some users alone?

[2020-05-19 14:11] blowdart commented on #21987
That's odd, you shouldn't be able to create a user with a blank name.

If you dump out all the claims in the WindowsIdentity what's there?

[2020-05-19 14:12] ilkayilknur commented on #21941
I can build the repository on Mac but it fails on Windows.

[2020-05-19 14:19] Tratcher commented on #21941
@dougbu ?

[2020-05-19 14:22] astevens8182 commented on #18556
I believe I am having a similar memory leak issue. In my server side Blazor app, After launch, I will click on a few pages then go back to the main home page (which has only text) and then just let the app sit for while. When I come back the memory usage has gone up a considerable amount (about 1.mb a min). Any solutions for this issue?

[2020-05-19 14:45] javiercn commented on #18556
Can you please file a separate issue to avoid mixing different concerns?

[2020-05-19 14:47] stephan-tolksdorf opened #21988 "CORS middleware should set 'Vary: Origin' header if policy has non-default IsOriginAllowed function"
When setting a custom `IsOriginAllowed` function on the `CorsPolicy` by calling the `SetIsOriginAllowed` method on the `CorsPolicyBuilder` the HTTP responses will not contain a `Vary: Origin` header, even though that is probably required (unless one also sets at least two origins via `CorsPolicyBuilder.WithOrigins`),

Either `CorsService.PopulateResult` should unconditionally set `VaryByOrigin` on

[2020-05-19 15:02] XomegaNet commented on #14962
@mrpmorris  how is it spam?

This issue exists because people need to warn users about unsaved changes when the user navigates to another screen, and are looking for support from Blazor or any alternative solutions.

That post points to one of the solutions that could help with that, and provides some context to help you decide if you want to try it out. Is there anything wrong with that?

[2020-05-19 15:10] astevens8182 commented on #18556
@javiercn  I believe it is the same issue that was originally describe in the top of the issue?

[2020-05-19 15:14] NDalvise opened #21990 "AspNetCore.Mvc.Testing.targets wrong "%(FullPath)" evaluation"
I can't build my integration test project because of the "Microsoft.AspNetCore.Mvc.Testing.targets" file is not evaluating correctly the project's path.

I am working on a Windows 10 machine using Visual Studio 2019 (16.5.4).
In my solution, there are 2 projects:

- a web API project (**project1**)
- an integration testing project (**project2**) that depends on **project1**.

Both projects targets

[2020-05-19 15:17] weitzhandler commented on #21967
I'd say that's why it makes it even more important to have this functionality provided by you rather than have it self-implemented individually by each dev 😋

[2020-05-19 15:20] gulbanana commented on #21979
in my real use case, i'm trying to pack a .sln which has many projects in it. a lot of them produce nuget packages and are IsPackable=True; others don't and are IsPackable=False. there happens to be a single webassembly app in it which isn't meant to be packed, but its presence in the solution prevents me from using `dotnet pack --no-build` at solution level.

[2020-05-19 15:22] javiercn commented on #18556
@astevens8182 Having a separate issue makes it easier for as to deal with your specific case.

Please file a separate issue and provide a minimal repro project as well as information indicating why you think there is a memory leak, what your expectation is, what actual behavior you are observing and how are you running the app and measuring this.

[2020-05-19 15:29] astevens8182 opened #21991 "Blazor Memory Leak"
In my server side Blazor app, After launch, I will click on a few pages then go back to the main home page (which has only text) and then just let the app sit for while. When I come back the memory usage has gone up a considerable amount (about 1.mb a min). Any solutions for this issue?

For example after clicking a few pages the memory was about 179MB. When I returned to the app the memory was ov

[2020-05-19 15:30] astevens8182 commented on #21991
#18556 had a similar issue

[2020-05-19 15:43] javiercn commented on #21979
@gulbanana thanks for the additional details.

That makes sense, we'll have a look at this, since while we don't support packing webassembly apps, we shouldn't necessarily prevent pack at the solution level.

[2020-05-19 15:47] gulbanana commented on #21979
That would be great. At the moment, in the webassembly app - and in all projects which reference it, though those are also not packable - I have to work around the problem by changing Sdk= to manual props/targets imports and then overriding the Pack target to do nothing.

[2020-05-19 15:48] knight1219 opened #21992 "Changing Environment Variables causes error in Blazor WASM"
### Describe the bug
Last week I upgraded my Blazor Client side app(ASP.Net Hosted) to the RC versions and my app stopped working. I would get a 404 on the index page. There was no reason for why this would fail now, so I started by then creating a new Blazor WASM app and moved all of my code over into it and it STILL failed. Looking at the logs, this is what came up when I looked:

`
Microsoft.As

[2020-05-19 15:52] dougbu commented on #21941
We saw this error when running our build pipeline on agents with an older version of Visual Studio. The root cause is that version ships with an `msbuild` that does not understand the `net5.0` TFM. Visual Studio 2019 16.6 preview 2 or later.

I recommend you all upgrade your Visual Studio installations. 16.6 RTM is now available for download: https://visualstudio.microsoft.com/downloads/

[2020-05-19 15:59] #21894 closed

[2020-05-19 16:15] dougbu commented on #21941
I just merged a change to our global.json (58cf2304a642) which should make the error message more clear if your VS installation is too old to build this repo.

Unfortunately, missing VS components may also lead to similar problems. See https://github.com/dotnet/aspnetcore/pull/21958#issuecomment-630923196

@Kahbazi @adamsitnik @ilkayilknur please let us know if upgrading VS and double-checking the

[2020-05-19 16:16] simonziegler commented on #19050
Hi, @captainsafia  given that Blazor 3.2 has just been released, should I assume that fixing this bug is firmly on the back burner? If so I have to say that I am actually a bit disappointed, because I'm about to launch a Blazor Server app into the wild with clients, some of whom I know use Firefox. After having reported this first three months ago, it would be really nice to have a sense at to you

[2020-05-19 16:17] tonholis opened #21993 "Microsoft.AspNetCore.Authentication.Certificate.CertificateAuthenticationHandler: Certificate was not authenticated"
Hello,

I have followed the [steps in the documentation ](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/certauth?view=aspnetcore-3.1
) in order to use Client Certificate Authentication with NGINX/Ingress.

The app is running in Docker Container with the base image mcr.microsoft.com/dotnet/core/aspnet:3.1.

In the application, I'm able to read values from context.Connection.C

[2020-05-19 16:19] javiercn commented on #21991
@astevens8182 thanks for filing a separate issue.

I would suggest checking the following:
* Force a GC collection after a few minutes (you can do so with perfview) and see if the memory is freed.
  * If the memory is freed, is not a memory leak, it's just the behavior of the GC collector. It will only release memory when it needs to do so.
* Check the memory traffic of the app:
  * Capture a memo

[2020-05-19 16:20] javiercn commented on #19050
@simonziegler Blazor 3.2.0 relates only to WebAssembly, there was no 3.2.0 associated server release.

[2020-05-19 16:25] javiercn commented on #21990
@NDalvise thanks for contacting us.

@pranavkm Is this an MSBuild bug or are we not "encoding" things here properly here. I feel this is an MSBuild bug, since it should be safe to use the result of `%(FullPath)`?

@NDalvise I would suggest you move the repo/project to a folder without the `'` for now. I don't think there's any other workaround and I wouldn't have thought we had to care for things

[2020-05-19 16:38] mkArtakMSFT commented on #21992
Thanks for contacting us.
Can you please share the full error message?
Also, a repro app would allow us investigate this further.

[2020-05-19 16:42] mkArtakMSFT commented on #21986
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-05-19 16:48] mkArtakMSFT commented on #21881
@BrennanConroy can you please follow up ? Thanks!

[2020-05-19 16:50] mkArtakMSFT commented on #21874
@hultqvist unfortunately we can't investigate this without a small repro project. Things which can be at play in your situation, is potentially a JS library you use, which manipulates the DOM behind the scene. This is simply an idea, not a statement.

[2020-05-19 16:52] mkArtakMSFT commented on #21782
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-05-19 17:00] knight1219 commented on #21992
Sure thing!

Here is the repo: https://github.com/knight1219/BlazorEnviroVariableError

As for the error message, the webpage gets a 404 and this is what shows up in the logs:
![image](https://user-images.githubusercontent.com/6771697/82355793-53ffbf80-99c8-11ea-8cbc-08662625dcb3.png)

'
Starting IIS Express ...
Registration completed for site "BlazorApp3.Server"
IIS Express is running.
info: Micr

[2020-05-19 17:01] #21840 closed

[2020-05-19 17:01] LumiProj commented on #21839
Hi,

Well due to WebView issue I had to use LinkAll linking settings but Xamarin Forms sugested another solution to resolve that issue so first I resolved the WebView issue and the change the linking settings back to LinkSdkAssemblies and release the build and everything works fine.
But I use LinkAll link settings so I got the error back.

Anyways I achieved what I was looking for.

Thank you guys

[2020-05-19 17:01] #21839 closed

[2020-05-19 17:03] ryanbrandenburg commented on #19902
Yes. Closing in favor of that.

[2020-05-19 17:03] #19902 closed

[2020-05-19 17:07] simonziegler commented on #19050
Got it. Unfortunately my users have been seeing this for a few months already. I hear that you are looking into the issue which is good, however it would be great to be kept informed of progress and likely time to resolution.

[2020-05-19 17:09] knight1219 commented on #21992
Also, I'm not sure if this will help, but I just saw that Blazor WASM 3.2.0 was just released today. I just updated my solution to the updated full release nuget packages and I still see the same issue.

[2020-05-19 17:14] pranavkm commented on #21988
Thanks @stephan-tolksdorf. Would you consider sending a PR for this?

[2020-05-19 17:20] stephan-tolksdorf commented on #21988
I'd be happy to prepare a PR. What would be your preferred approach to fixing this issue? Setting `VaryByOrigin` in `PopulateResult` if the policy contains a non-default `IsOriginAllowed`?

[2020-05-19 17:28] pranavkm commented on #21988
Yeah. The service goes to some lengths to avoid unconditonally setting the Vary header, we would want to keep that: https://github.com/dotnet/aspnetcore/blob/master/src/Middleware/CORS/src/Infrastructure/CorsService.cs#L122.

[2020-05-19 17:48] captainsafia commented on #21396
@PavanDhariwal Is the error that you refer to in your issue the on that is thrown in the console?

[code]

If so, this is related to the use of the `InputTextArea` component in your Index.razor file. The [docs](https://docs.microsoft.com/en-us/aspnet/core/blazor/forms-validation?view=aspnetcore-3.1) have more information on how to use that component.

Removing the buggy code mentioned above, I am

[2020-05-19 17:49] shirhatti commented on #21933
@BrennanConroy

[2020-05-19 17:54] TanayParikh opened #21994 "Razor HTML Colorization Recognizing Invalid Keywords"
1. Create an empty `.razor`/`.cshtml` file
2. Paste in:

[code]

Expected:
- no coloring for `do`, `const`, `going`

Actual:
![image](https://user-images.githubusercontent.com/14852843/82360959-fdda4e80-99be-11ea-93f4-2ca806fa240c.png)

![colors](https://user-images.githubusercontent.com/14852843/82360926-f5821380-99be-11ea-827a-d381be5b5719.gif)

[2020-05-19 17:54] TanayParikh commented on #21994
Potentially related to: https://github.com/dotnet/aspnetcore/issues/21071

[2020-05-19 17:57] wtgodbe commented on #21951
Hmm, that's surprising. Can you share the content of your nuget.config?

[2020-05-19 18:00] mwaleedr commented on #21528
@BrennanConroy i found today that the gap between two request was also causing the app to terminate.
Basically this app is an identity server 4 app which i use to get token for my client apps. I was hitting api controller of my identity server 4 app instantly after getting token and this was creating service is unavailable error. Now what i did i place gap of 1 second between getting token and hit

[2020-05-19 18:00] #21929 closed

[2020-05-19 18:02] captainsafia commented on #21849
@zbecknell If anything, I suspect that the issue has more to do with how the launch configuration is set than the code itself. It's likely unable to resolve the location of these sources. it does appear that the Care.UI.dll and its debugging assets are loaded correctly and nothing seems awary with the `setBreakpoints` DAP messages (which explains why they are not unbounded like you pointed out abo

[2020-05-19 18:13] knight1219 commented on #21992
I've just tested this on a different machine with VS 2019 16.6.0 and it has the same issues. I am asking a few of my teammates to attempt to reproduce and will report back with their results.

[2020-05-19 18:14] BrennanConroy commented on #21881
This is a strange one. From the logs, both sides of the connection closed unexpectedly which implies something in the middle disrupted the connection.

Could you describe your environment. Is the client connecting directly to the server, or is it going through a proxy? What browser(s) are you using? What OS(s) are you using?

Do you have an app you can put on GitHub that we can try out?

Can you t

[2020-05-19 18:33] ilkayilknur commented on #21941
I upgraded VS to 16.6. I'm getting a different error while executing restore command.

[code]

Any ideas ? @dougbu

[2020-05-19 18:48] lkurzyniec commented on #21962
@pranavkm ok, got it, but how could I know that? IMHO API documentation should be updated for both methods.
![image](https://user-images.githubusercontent.com/5943484/82363628-5e44ac80-9a0e-11ea-97a9-e48e99263db2.png)
ie: `controller: The name of the controller, without 'Controller' suffix if applicable`.

Let imagine that I'm less experienced developer and I'm new at aspnet core. I'm consuming fr

[2020-05-19 18:49] zbecknell commented on #21849
@captainsafia I invited you to a private repository with `launch.json` as well as relevant project files and a tree structure.  Let me know if anything else would be helpful.

[2020-05-19 19:00] #21943 closed

[2020-05-19 19:05] Tratcher commented on #21987
Are you also allowing anonymous users to access the site? When you enable Windows Auth there's a separate setting to disallow anonymous users.

[2020-05-19 19:08] Tratcher commented on #21993
Can you include the server debug logs please?

What does InvalidCertificateHandler do?

[2020-05-19 19:20] pr-benchmarks[bot] opened #21995 "Bad responses: ConnectionClose, DbFortunesRaw-Mono, Json, PlaintextNonPipelined"
Some scenarios return errors:

| Scenario | Environment | Last Run | Errors |
| -------- | ----------- | -------- | ------ |
| ConnectionClose | Linux, ARM64, https, KestrelSockets | 2020-05-17 01:32:19Z | 256 |
| DbFortunesRaw-Mono | Linux, Physical, http, KestrelSockets | 2020-05-19 09:30:30Z | 8710581 |
| Json | Windows, Physical, h2, HttpSys | 2020-05-18 09:46:28Z | 31944 |
| PlaintextNonPipel

[2020-05-19 19:37] captainsafia commented on #19050
Thanks for providing the repro, @simonziegler! Having it is a helpful way to speed up investigations for these kinds of things.

It looks like this issue is a dupe of It looks like this issue is a dupe of https://github.com/dotnet/aspnetcore/issues/16739. I suspect that this is related to the way each browser handles pushing/popping pages out of the navigation history. Making the ReconnectionHandl

[2020-05-19 19:56] JoseLuisFab opened #21996 "New Blazor WebAssembly 3.2, Dll files are blocking by the antivirus sophos"
### Describe the bug
I have created a new project with the template Blazor WebAssembly 3.2.0, and I have published locally IIS on windows 10, and the antivirus software is blocking the dlls files, i changed the file extensions but the antivirus blocks the files too, the antivirus software is sophos web protection.

I used the following lines to changes the dlls extension files, but it did not work

[2020-05-19 19:57] dougbu commented on #21941
@ilyas1974 that error occurs sometimes when eng/common/tools.ps1 can't find a VS installation meeting the requirements. It's attempting a fallback download of a package version that apparently doesn't exist. But, you shouldn't need the fallback unless your installation is incomplete.

That script executes something like
[code]

Try that out then eliminate `-requires ....` options to find what you'

[2020-05-19 20:00] #21919 closed

[2020-05-19 20:02] moisoiu opened #21997 "Cannot read Request.Body from HTTPContext in middleware 3.1.4"
Hello,

I've upgraded a project from dotnet 2.2 to 3.1.4 and after upgrading and testing to see if everything works as it is supposed to, I found out that after upgrade the middleware that takes care of handling exceptions

### Describe the bug
In my ErrorHandlingMiddleware (or any Middleware) not able to read from HttpContext.Request.Body anymore after upgrade, throws an exception.

[code]

### T

[2020-05-19 20:22] BrennanConroy commented on #21933
Can you change
`proxy_set_header Connection "Upgrade";`
to the recommended
`proxy_set_header Connection $http_upgrade;`

[2020-05-19 20:34] pranavkm commented on #21997
You would need to enable buffering before other MVC has read it. `HandleExceptionAsync` runs after MVC has processed the request, getting it to buffer at that point isn't correct.

[2020-05-19 20:38] ajcvickers commented on #21822
@smitpatel Any ideas on this. Full model is below.

[code]

[2020-05-19 20:38] moisoiu commented on #21997
@pranavkm Thank you, it seems this was my problem, I didn't use Enable Buffering correctly.

Thanks !

[2020-05-19 20:38] #21997 closed

[2020-05-19 20:44] NTaylorMullen commented on #21973
2 weeks estimated total

[2020-05-19 20:46] NTaylorMullen commented on #21972
Estimated 2 weeks worth of work.

[2020-05-19 20:48] NTaylorMullen commented on #21978
Estimated days 1-5 days.

[2020-05-19 20:51] NTaylorMullen commented on #21975
3 days

[2020-05-19 20:51] pr-benchmarks[bot] opened #21999 "TagHelper tests have failed"
Failure: https://dev.azure.com/dnceng/internal/_build/results?buildId=627975

[code]

Stack trace:

[code]

<details>
    <summary>Metadata</summary>

## Affected Tests

| Project | Type | Method |
| ------- | ---- | ------ |
| Microsoft.AspNetCore.Mvc.TagHelpers.Test | Microsoft.AspNetCore.Mvc.TagHelpers.CacheTagHelperTest | ProcessAsync_AwaitersUseTheResultOfExecutor |

</details>

[2020-05-19 20:52] smitpatel commented on #21822
[code]

Both `userRole.RoleId` & `role.Id` properties are explicitly ignored in IdentityContext.cs file. Hence EF could not translate join to the server.

[2020-05-19 20:53] NTaylorMullen commented on #21977
Estimated 5 days

[2020-05-19 20:55] NTaylorMullen commented on #21980
Estimated 2 weeks of work.

[2020-05-19 20:55] NTaylorMullen commented on #21976
Estimated 3 days

[2020-05-19 21:01] mkArtakMSFT commented on #21999
@NTaylorMullen can you please investigate this while we have the details?

Thanks!

[2020-05-19 21:07] NTaylorMullen commented on #21407
Lets re-evaluate when we want to do this once our dependencies are sorted. @ajaybhargavb lets talk once that happens

[2020-05-19 21:28] pranavkm commented on #21915
Thanks @Liander the examples help. The design sounds nice in practice, but for the the average developer, it's likely going to be hard to use and easy to get incorrect. In particular for complex or collection types, being able to author an expression that accurately represents the change is going to be non-trivial. Immutability is what we've seen other frameworks have some degree of success with,

[2020-05-19 21:30] simonziegler commented on #19050
Thanks @captainsafia, much appreciated. I'll look at this in the coming days, however I hit this when I need to navigate externally to log in with Azure B2C. So the bug hits just at the moment my users first try to do something with the app. This will be common to anybody using B2C or other similar authentication providers.

[2020-05-19 21:41] captainsafia commented on #21171
@Webreaper Similarly, I'm unable to repro the problem on a few different configurations with various amounts of threads.

Blazor Server does support background threads in the fashion that you described above. Perhaps there's something else in your image manipulation application that is causing the issue? Performance degradation on a Blazor server app with a single background thread and a single us

[2020-05-19 21:42] pr-benchmarks[bot] opened #22000 "[Test failure] MVCTemplateTest"
Failing build: https://dev.azure.com/dnceng/internal/_build/results?buildId=642612

Error details:
[code]

Stack trace

[code]

<details>
    <summary>Metadata</summary>

## Affected Tests

| Project | Type | Method |
| ------- | ---- | ------ |
| ProjectTemplates.Tests | Templates.Test.MvcTemplateTest | MvcTemplate_IndividualAuth |
| ProjectTemplates.Tests | Templates.Test.IdentityUIPackageTest |

[2020-05-19 21:50] pr-benchmarks[bot] opened #22001 "[Test failure] WorkerTemplateTest: Unable to acquire process lock for process `dotnet-new`"
Failing build: https://dev.azure.com/dnceng/internal/_build/results?buildId=642703

Error:
[code]

Stack trace:

[code]

<details>
    <summary>Metadata</summary>

## Affected Tests

| Project | Type | Method |
| ------- | ---- | ------ |
| ProjectTemplates.Tests | Templates.Test.WorkerTemplateTest | WorkerTemplateAsync |

</details>

[2020-05-19 21:52] mkArtakMSFT commented on #22001
@shirhatti do you know who owns the `Worker` template? This failure is related to that one and needs investigation.

[2020-05-19 22:16] TanayParikh opened #22003 "Find all references from C# inside of a Razor file into & outside of a Razor file"
Part of Big Rock: https://github.com/dotnet/aspnetcore/issues/21977

[2020-05-19 22:25] pranavkm commented on #22001
This build is about a week old at the time of writing this. We made some fixes to these template tests as part of https://github.com/dotnet/aspnetcore/issues/21748 / https://github.com/dotnet/aspnetcore/pull/21753 since this build was produced. We should be good to close this and monitor flakiness using our regular build process.

[2020-05-19 22:26] masoodafar-web commented on #21840
Please do not respond sporadically :-|
I myself realize that this cannot be done in the component.That's why I asked you question.
I have two layout, one for the store and one for the social network ,in one project. What should I do?
#10170. In which part did this question be answered?

[2020-05-19 22:28] TanayParikh opened #22004 "Find all references from C# outside of a Razor file into a Razor file"
Part of Big Rock: https://github.com/dotnet/aspnetcore/issues/21977

[2020-05-19 22:30] TanayParikh opened #22005 "Find all references from JavaScript inside of a Razor file into & outside of a Razor file"
Part of Big Rock: https://github.com/dotnet/aspnetcore/issues/21977

[2020-05-19 22:30] TanvirArjel opened #22006 "Understanding Enable Razor runtime compilation option."
When I select the ` Enable Razor runtime compilation`  option during the creation of an ASP.NET Core project, I see no difference in the `Startup` or `Program` class but it works. How?

Actually I was expecting, there will be something as follows if I choose ` Enable Razor runtime compilation`  option:

    public void ConfigureServices(IServiceCollection services)
    {
        services.AddContro

[2020-05-19 22:44] TanayParikh commented on #21070
Removing external flag as a TEMP fix to this has been merged and inserted into VS (https://github.com/dotnet/roslyn/pull/44283), however the issue is still repro'ing.

 A more permanent fix requires updates to VS LSP (https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1094786/).

[2020-05-19 22:51] pranavkm commented on #22006
The template uses hosting startup assembly - https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/platform-specific-configuration?view=aspnetcore-3.1 - to conditionally turn on runtime compilation in Development environments. If you inspect your app's launchSettings.json, you should see an additional reference to runtime compilation.

[2020-05-19 23:17] ryanbrandenburg opened #22008 "Update Omnisharp to Roslyn 3.7"
We can't update to Roslyn 3.7 until Omnisharp does because types passed between our projects need to be recognized as of the same type.

@JoeRobich is there an ETA on OmniSharp taking 3.7?

CC @NTaylorMullen

[2020-05-19 23:43] mkArtakMSFT commented on #22001
@pranavkm if you mean that there was action taken to improve stability of this, then go ahead close this issue.

[2020-05-19 23:48] mysteryx93 opened #22009 "[Blazor] How to Pass 'For' to Child ValidationMessage"
I'm creating this Razor Component to make it easy to add fields and create forms. It's "mostly" working, but the For argument doesn't get properly passed to the ValidationMessage. It works when I use this syntax directly on my page

    <div style="margin-bottom: 1rem" class="row">
        <div class="col-md-2">
            <Label For="@(() => Input.Address.City)" class="required" style="width: 10

[2020-05-19 23:49] danroth27 commented on #21840
Hi @masoodafar-web. Today you really only have two choices: 1. You can load everything up front in a single host page, or 2. You can split the functionality into separate pages that load different resources. This is simply a limitation with Blazor as it currently stands.

[2020-05-19 23:59] dselvan commented on #19455
This also seems to impact the formatter as well as it hangs trying to format any aspnetcorerazor files.  the cpu% of `rzls` is pegged at 105% when an blazor project is loaded. and as @Mercurial mentioned for me it's not just slow, it is an endless loop (i've let it run for at least 30 mins now).

This pretty much makes doing any blazor dev on linux/wsl2 with vscode unworkable when you are using a

[2020-05-20 00:01] #22001 closed

[2020-05-20 00:05] halter73 commented on #8343
@HaoK It looks like music store tests are now running on Helix. Should we close this?

[2020-05-20 00:08] talebi commented on #21940
looks like the official release (8.6) fixes the GUI issue too. I'll close it

[2020-05-20 00:08] #21940 closed

[2020-05-20 00:20] ajaybhargavb commented on #19455
Thanks @Mercurial @dselvan. I've updated the title to reflect this.

[2020-05-20 00:32] ctigrisht commented on #21970
@javiercn What i mean is that there are certain scripts that render on where the script tag is in markup

[2020-05-20 00:34] musictopia2 opened #22011 "Progressive Web App Not Working"
I found out that progressive web app does not even work.  I do the following steps:
1.  I create new app.
2.  I choose blazor web assembly.
3.  I choose progressive web app
4.  Next, I run it.
5.  I click to install.

After I install, i close out of the app.  The good news is i see the icon on the desktop.  However, when I click on it, it says it refused to connect.  This is just with the starting

[2020-05-20 00:34] captainsafia commented on #21466
I can take a look at this. I have a pretty firm idea of how we'll accomplish this when debugging from VS Code.

I'll need to do some research into VS's debugging APIs to understand how things work there and how we might unify the two approaches.

[2020-05-20 00:44] JoeRobich commented on #22008
@ryanbrandenburg I'll look into getting it updated to a recent build tomorrow morning.

[2020-05-20 00:54] SIkebe opened #22012 "Unable to debug Blazor app from VS"
1. Create a default ASP.NET Core hosted Blazor WebAssembly app.
1. Hit F5 in Visual Studio.
1. As soon as a browser window started to launch, the debugging session failed.
![image](https://user-images.githubusercontent.com/17608272/82392276-689e8f00-9a7e-11ea-8214-181f0ce71560.png)

-----
- Visual Studio 2019 16.6.0
- Chrome: 81.0.4044.138
- Microsoft.AspNetCore.Components.WebAssembly.* : 3.2.0
-

[2020-05-20 01:09] mwhouser opened #22013 "Identity: Scaffolded Login page includes bad link to ./ResendEmailConfirmation"
### Describe the bug

If you scaffold "all" identity pages, then the Login page that is scaffolded includes an extra link to ./ResendEmailConfirmation. Clicking that link shows an exception:

### To Reproduce

1. Create a new ASP.NET Core Web Application
    * Web Application (Model-View-Controller)
    * Authentication: Individual User Accounts

Once created, run your application and go to the "L

[2020-05-20 01:38] HaoK commented on #8343
I think the E2E ones are still disabled, see https://github.com/dotnet/aspnetcore/blob/5af0c471dde0e4e2e5be4294ce15930828ce2bff/src/MusicStore/test/MusicStore.E2ETests/MusicStore.E2ETests.csproj#L12

[2020-05-20 01:46] m1nicrusher commented on #21933
Yes I did, and then Login/out works fine but only because WebSockets can't establish connection.
![image](https://user-images.githubusercontent.com/19246983/82395724-74df1800-9a8f-11ea-8b45-01cea690af8b.png)

[2020-05-20 02:09] ajaybhargavb opened #22015 "Support go to definition from Razor files in VS LSP"
Details https://github.com/dotnet/aspnetcore/issues/21975

[2020-05-20 02:44] #21967 closed

[2020-05-20 03:15] bradygaster commented on #21865
No - haven't done much in the F# space, regrettably. Have you reached out to the F# team?

[2020-05-20 03:45] TanvirArjel commented on #22006
@pranavkm Got it! Thank you so much.

[2020-05-20 03:45] #22006 closed

[2020-05-20 04:23] dahln commented on #22013
I am having this exact issue.

The ResendEmailConfirmationModel class is marked as abstract. When I remove abstract from the class, the page loads and functions as expected.

I considered creating a PR to remove the abstract keyword from the class, but I don't want to do so without understanding why it was marked abstract in the first place.

[2020-05-20 04:34] mkArtakMSFT commented on #21495
@HaoK can you please look into the provided repro project, thanks!

[2020-05-20 04:49] DENMODSupport commented on #21987
do you mean that if i disable anonymous authentication, it will resolve the issue? how come it is happening for some users alone?

[2020-05-20 04:58] DENMODSupport commented on #21987
do you mean that i need to disable anonymous authentication in IIS or some other else?

[2020-05-20 05:00] #21938 closed

[2020-05-20 05:05] #5353 closed

[2020-05-20 05:23] NTaylorMullen commented on #22008
fyi @captainsafia

[2020-05-20 05:32] javiercn commented on #21733
Yep

[2020-05-20 05:32] #21733 closed

[2020-05-20 05:52] Tratcher commented on #21987
You should check if anonymous authentication is enabled in IIS, yes. Enumerating all of the properties on the Identity like @blowdart suggested will also tell you if they're authenticated or anonymous.

[2020-05-20 05:54] BrennanConroy commented on #21933
Sorry, I meant `proxy_set_header Connection $connection_upgrade;`

[2020-05-20 05:57] DENMODSupport commented on #21987
@blowdart how to dump out all the claims in the WindowsIdentity?

[2020-05-20 05:58] DENMODSupport commented on #21987
Anonymous authentication is disabled in iis but still it is null for some users alone

[2020-05-20 06:04] m1nicrusher commented on #21933
That works. Thank you.

It turned out I was following this doc and it told me to do so.
https://www.nginx.com/blog/websocket-nginx/

[2020-05-20 06:04] #21933 closed

[2020-05-20 06:15] rui-ktei commented on #21680
@pranavkm thanks for the help!

[2020-05-20 06:25] John0King opened #22020 "UseSpa should not thow error when no index.html found"
### Is your feature request related to a problem? Please describe.
when use asp.net core with Vue or Angular,  it's painful when you just edit the server side, that cause server restart --> spa server-->restart ---> server back online, ---> spa- compiling --> wait a very long time --> spa back online
that can happen when simple add a field/ rename a field. and we need wait almost 2 minutes when yo

[2020-05-20 07:09] John0King opened #22021 "module/plugin model build in support"
### Is your feature request related to a problem? Please describe.
just an example : for a normal web site,  there is a front side of the website, and the manage  side of  the website, and normally manage side logic is not shared by the front side of the site. people want to develop independently (or  the manage side and front side is in the same place, and different feature separately), and for m

[2020-05-20 07:15] tonholis commented on #21993
Hi @Tratcher ,

These are the handlers:
[code]

and the server logs:

[code]

[2020-05-20 07:19] Webreaper commented on #21171
Okay, sample here: https://github.com/Webreaper/BlazorThreadSample

This is a standard Blazor Server app created from the template. As mentioned in the original bug report, all I've changed is to add a new checkbox - when checked it will spawn a low-priority background thread, which does 10s of work before exiting. The behaviour is as follows:

- Go to the counter page, click the counter button se

[2020-05-20 07:43] aloh86 commented on #21266
Javier, I'm trying to figure out how to do this on Fedora. Can you detail the steps you took?

[2020-05-20 08:06] MTabakoglu commented on #21321
I have the same problem, @ZhangGaoxing. what kind of error did you get on the server side? There is no problem in local.

[2020-05-20 08:31] javiercn commented on #21266
@aloh86 I don't have specific steps.

This issue is for tracking future work, but we haven't actually started on this.

[2020-05-20 08:42] javiercn commented on #22021
@John0King thanks for contacting us.

It is not clear to us what you are trying to ask. We don't plan to offer a built-in module system within ASP.NET Core. We recommend using something like "Orchard core in those situations".

[2020-05-20 09:09] davidfowl opened #22022 "Improve Http.sys allocation profile and performance"
This isn't urgent in anyway but I wanted to keep track of the low hanging performance fruit in HttpSys server:

## Http.sys optimizations

### per accept loop
- Use a single preallocated native overlapped per server (dispose after the accept loop is over)
 - This means getting rid of SafeNativeOverlapped (or making it a struct)
- Make the NativeRequestContext a struct, it's basically a wrapper aro

[2020-05-20 09:23] KapteinBabbalas commented on #20786
That Solved it for me.. Think this happened after some file renaming and refactoring in my case. Working now

[2020-05-20 10:02] ilkayilknur commented on #21941
Installing Windows10SDK.17134 fixed the issue. Thanks for the help @dougbu

[2020-05-20 10:54] adamsitnik commented on #21941
I am getting the same error as @ilkayilknur

![obraz](https://user-images.githubusercontent.com/6011991/82438251-0737e980-9a99-11ea-87b3-c94b3901d459.png)

I am going to try to update the Windows SDK and see if it helps (BTW why does ASP.NET need an OS SDK?)

[2020-05-20 11:14] jernejk commented on #22011
What is the error you're getting?
My app also has broken with the following errors:

[code]

https://dev.cognitivestudio.dev/
GitHub: https://github.com/jernejk/CognitiveServices.Explorer

It worked on Blazor 3.2 Preview 4 and is broken since Release Candidate.
I hoped that RTM would be fixed but still the same problem.

For each version, I created a new Blazor PWA app and made sure that PWA integ

[2020-05-20 11:20] ZhangGaoxing commented on #21321
@MTabakoglu Check the database settings😂

[2020-05-20 11:23] adamsitnik commented on #21941
Installing the SDK helped. Thanks!

[2020-05-20 11:32] chrissainty commented on #20374
I would agree with the comments here, we should have the option to do redirect, I've already hit an issue with popup blockers. Even Edge will block the login popup by default and it must be allowed.

[2020-05-20 11:37] phil123456 commented on #17277
I tried everything mentioned above and nothing works, after a fresh update and install of vs2019 and .NET core libraries

[2020-05-20 11:54] msschl opened #22023 "QUESTION: How to specify a resource as required for booting in blazor wasm"
First of all blazor wasm is awesome ❤. Thanks for your hard work!

### Describe the bug
I happend to have a Razor components class library that is required before blazor wasm boots, as it sets a property on the window. Unfortunately this library is about 1MB in size (I don't quite understand why, but this is a separate issue).
When the app loads and the network is slow e.g. Slow 3G this resource n

[2020-05-20 12:06] TanvirArjel opened #22024 "Blazor: Add code behind partial class automatically for each razor component."
If we create a Razor Component named `Todo.razor` then please also create the code behind partial class `Todo.razor.cs` automatically. Currently, it's not adding the code behind partial class. We are to manually create the `Todo.razor.cs` file and then move the `@code` block to that file which is time-consuming.

**Reason:**  Most of the cases, components will have a lot of C# logic and we will ha

[2020-05-20 12:14] kmate95 commented on #18858
Sorry if off-topic but I just stumbled upon this thread.
I had a similar problem with the scaffolded Identity `ExternalLogin.cshtml.cs` (Asp.Net Core 3.1.3)
Where the provider logged in and called back with valid data but the process failed with invalid model error.
Like:

The problem was that I had `Nullable` context enabled for my project and it produced a `ValidationError` when no `returnUrl` w

[2020-05-20 12:16] phil123456 commented on #17277
Just updated visual studio and still the same issue
I tried everything above, nothing works
how could this be released while nobody can't create a default angular app????

[2020-05-20 12:25] javiercn commented on #20374
@chrissainty if the popup is blocked we will try the redirect automatically. Isn't that enough?

[2020-05-20 12:28] javiercn commented on #22023
@msschl thanks for contacting us.

The recommended way to do this is that you put you load your library script before loading the blazor script or turn off autostart on blazor and call start manually.

[2020-05-20 12:49] secana commented on #21383
With the new (not preview) release the problem disappeared in my app. Not sure if the problems is solved for the others here, too.

[2020-05-20 13:07] ig-sinicyn opened #22025 "MiddlewareAnalysis package prevents multiple endpoint registration"
### Describe the bug

We have an application that uses [Ocelot library](https://github.com/ThreeMammals/Ocelot) that uses Microsoft.AspNetCore.MiddlewareAnalysis undercover.
Our code tries to register multiple custom endpoints, but `.UseEndpoints()` calls (except the first one) fail with
[code]

We've managed to reproduce the issue in an empty project and it turns out the reason of failure is `ser

[2020-05-20 13:11] astevens8182 commented on #21991
@javiercn  I will give these a try and let you know if it fixes anything. Thanks!

[2020-05-20 13:13] javiercn commented on #22025
@ig-sinicyn thanks for contacting us.

That is by design. You shouldn't call `app.UseEndpoints` more than once. In the first case we can't really detect that you are doing it, but in the second case we do and throw accordingly.

[2020-05-20 13:21] bradtwurst commented on #21951
Additional information,
I've have another solution/project structure in different folder (same dev box) and it is not exhibiting this behavior.  I'm thinking it is environmental, but I don't know what next step is in order to track down cause

There is not a local nuget.config file within this project or any of its parent folders

In my appdata structure, the following config content is
`
<?xml ve

[2020-05-20 13:22] chrarnoldus opened #22027 "AccessViolationException when retrieving enum from dependency container"
When trying to run our app on .NET 5 preview4 we ran into the following issue. Consider the following simplified code:

[code]

Project:
[code]

Running this code using `dotnet run` and navigating to `localhost:5000` prints "HelloWorld" the first time as expected, but after hitting F5 a few times the server crashes with the following exception:

[code]

Changing the underlying enum value to 1 (fro

[2020-05-20 13:45] eparizzi commented on #12890
Can we please have some basic documentation on the new Microsoft.AspNetCore.SpaServices package?

Thank you.

[2020-05-20 13:54] floreseken opened #22028 "[blazor] [wasm] Debugger takes an exceptionally long time to attach"
I was trying for an hour to get the debugger to work in my blazor wasm app.

Only to discover (after an hour) that it takes about 8 seconds to work..

### To Reproduce
Create an new blazor wasm template app.
Set a breakpoint on the counter code behind..

Start the app with debugging.

Tried:
- Rebooting
- With Chrome
- With Edge
- Updating both Edge and Chrome

### Further technical details
- ASP.

[2020-05-20 13:54] floreseken commented on #22028
//CC: @guardrex

[2020-05-20 14:02] Semos5245 commented on #21326
Would like a zip file of the working code as well here if you will @yopez83

[2020-05-20 14:02] ig-sinicyn commented on #22025
@javiercn There may be third-party libraries that do call .UseEndpoints() undercover (legacy UseSignalR() as example). So there is no way to guarantee that the recommendation is fulfilled.

At least, it should be documented and the code should produce human-readable diagnostic.

[2020-05-20 14:05] ionmincu commented on #7281
What happened? It was added, now it was removed?

[2020-05-20 14:08] msschl commented on #22023
Thanks @javiercn

Switching the order fix it 👍
[code]

[2020-05-20 14:08] #22023 closed

[2020-05-20 14:08] stephentoub commented on #7281
Not on purpose.  It's defined in:
https://github.com/dotnet/source-indexer/blob/d14bee52d995a03fef0746adab67102876d7d323/src/index/repositories.props#L59-L65
@alexperovich, do you know why ASP.NET source isn't currently showing up in source.dot.net?
cc: @danmosemsft

[2020-05-20 14:08] musictopia2 commented on #22011
What I get is it says cannot even load the website.

[2020-05-20 14:14] astevens8182 commented on #21991
@javiercn  I forced A GC collection and the memory was not freed.

[2020-05-20 14:20] blowdart opened #22029 "Add aka.ms links to data protection warnings"
When data protection starts, depending on configuration, warnings may appear.

For example, from the sample docker asp.net app we can see

[code]

Adding an aka.ms link to appropriate documentation pages would make these warnings more useful.

[2020-05-20 14:22] andrew-vdb opened #22030 "LoggerMessage causing hang in windows service"
Using dot net core worker template, there is situation where a class fire an event and in the event handler, I call the action from LoggerMessage.Define

For some reason, it just hang without any reason
Using logger.LogError just works

Is there anything special about LoggerMessage? Threading wise

I found it silly to read documentation that this log is high performance but it hang my application

[2020-05-20 14:28] johnrom commented on #12890
@alekkowalczyk for those who can use static site generation, there is no "re-render of static pages on demand", instead "re-run the client build and deployment pipeline" via a button or hook in your CMS or web app. Publishing a page or clicking a button or whatever, hits an Continuous Integration endpoint or something which triggers a build of your client which queries data from your CMS and deplo

[2020-05-20 14:28] bugproof commented on #12890
@Daniel15 why even use something like ReactJS.NET. These frameworks have their own SSR solutions like nextjs for react and nuxtjs for vue. In my opinion just use C# for your API... gRPC,graphQL,JSON whatever suits you. I mentioned that before and it's probably the best way to go.

[2020-05-20 14:31] javiercn commented on #22025
@ig-sinicyn we discourage all libraries from calling `app.UseEndpoints` internally. I don't believe that `UseSignalR` does it, but if it does, it does it for legacy reasons, we'll likely change that in the future.

As for docs, there are docs [here](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-3.1#guidance-for-library-authors) about it.

[2020-05-20 14:37] blowdart commented on #21987
For Razor Pages I'd do something like this in a page to dump the properties

[code]

[2020-05-20 14:40] johnrom commented on #12890
@bugproof there's a line that can't be crossed - a website with private data that must be pre-rendered. Look at Github -- load a private page like your settings and notice it's prerendered. This is probably not possible (with high confidence of privacy and security) without SSR built into the runtime. You could run a NextJS or Gatsby build of your private data and use authorization to make those J

[2020-05-20 14:43] ghelyar commented on #19806
I would like to suggest that the nuget packages are all updated to reflect the current location of the source.

It's very hard to find up to date source when you keep moving it. Even search engines can't seem to keep up.

For example,

https://www.nuget.org/packages/Microsoft.Extensions.Hosting

lists https://asp.net/ as the projectUrl, and https://github.com/aspnet/Extensions as the source reposi

[2020-05-20 14:48] felipesfaria commented on #21537
I got other problems replacing HttpClient.DefaultProxy because then external requests are no longer using proxy.
I managed to solve this setting system variable NO_PROXY=localhost.
Perhaps this happened due to a change in from 2.2 to 3.0 where HttpClient uses HTTPS_PROXY,HTTP_PROXY,NO_PROXY system variables instead of window`s internet options?
Because of this I definitely think we should NOT add

[2020-05-20 14:52] bugproof commented on #12890
@johnrom I don't get the point you're trying to make about private data. Some authorization will always be needed to view private data. How does SpaServices help in this?

[2020-05-20 15:00] Blackleones opened #22031 "How to change UserManager and RoleManager's lifetime"
Is it possible to change UserManager and RoleManager's lifetime after called `services.AddDefaultIdentity( ... )`. If not, is there another way to do that?

[2020-05-20 15:01] blowdart commented on #21993
Is `ParseCertificate(headerValue)` actually rebuilding the certificate correctly?

[2020-05-20 15:01] blowdart commented on #22031
Lifetime as in DI lifetime? What are you wanting to achieve by changing it?

[2020-05-20 15:02] anurse commented on #19806
The 3.1 package’s source repository *is* aspnet/Extensions (well, dotnet/extensions but GitHub has a redirect in place) and both the 2.1 and 3.1 packages (which are in long-term support) will be supported *from that repo*.

The 5.0 preview builds should get the correct metadata as they are built out of the dotnet/runtime repo.

[2020-05-20 15:09] ghelyar commented on #19806
Sorry, I had updated my comment before you posted, to make myself clearer.

the nuspec in the package contains
`<repository type="git" url="https://github.com/aspnet/Extensions" commit="7cc2a109d98493cf617de56709ec188fa5cd3fc1" />`

but nuget.org does not include the commit hash in the link, so if you actually go to https://github.com/aspnet/Extensions, you get redirected to https://github.com/dot

[2020-05-20 15:38] johnrom commented on #12890
By running NextJS or Gatsby to get private data, you're giving the server which runs NextJS or Gatsby (if it's different) and the NextJS / Gatsby application itself (aka random npm packages from the internet) full access to all of your private data, whereas with the deprecated SpaServices SSR package or similar alternatives, authorization to view that data is challenged within the HttpContext of y

[2020-05-20 15:38] belenos12345 commented on #21881
We develope our apps using VS2019 on Win10 Pro.
For tests and debugging we use Chrome and/or Firefox.
Debugging is done on localhost. So I would say this is a direct connection.
Our Dev and Test servers are reached via ZScaler Private Access. But it doesn't matter whether we use these servers or debug locally... the issue is the same on both.

I've tried "dotnet run" to test without IIS... same be

[2020-05-20 15:52] tonholis commented on #21993
Yes @blowdart, I get no errors on ParseCertificate.

This is the method.

[code]

[2020-05-20 15:55] NPadrutt commented on #21383
For me it seems to be solved aswell.

[2020-05-20 15:55] davidfowl commented on #21941
I get this same issue.

[2020-05-20 16:01] dmcweeney opened #22032 "ScriptTagHelper and asp-src-include skips a file?"
### Describe the bug
We have a very simple script tag include as follows:

`<script type="text/javascript" asp-src-include="~/dist/npm/npm.*.js" asp-src-exclude="~/dist/npm/npm.syncfusion.js" asp-append-version="true"></script>
`

However we noticed that running on Azure App Service it skips a file that matches the above pattern:
I think it may be related to the size of the file in question:
Size:

[2020-05-20 16:06] Blackleones commented on #22031
There are some problems with concurrency on dbContext [(as you can see here)](https://github.com/dotnet/aspnetcore/issues/18340) and changing dbContext's lifetime to `Transient` not solve the problem because `UserManager / RoleManager` are `Scoped` so when asp.net create them, they are shared between multiple components and so they will use the same `dbContext (transient)` instance.

I know this i

[2020-05-20 16:09] blowdart commented on #21993
In your test code could you also dump out what the app thinks the request is on, http or https? I see you have forwarded headers configured? I believe just printing Request.Scheme should do it.

I just to check that it's working correctly, as there's a short circuit in the handler.

[2020-05-20 16:18] blowdart commented on #22031
If this is "just" for blazor, then no, doing things in a blazor idiomatic way as @javiercn suggests is the right way to go.

My concern here is that people will try to make user manager and role manager singletons, rather the request scoped as they should be for asp.net apps. Allowing lifetime changes is too risky in that regard,

[2020-05-20 16:19] CoderNumber1 opened #22033 "OpenIdConnectHandler SaveTokens does not honor any previously set tokens."
Any custom tokens set through `TokenResponseReceivedContext.Properties` are erased during authentication. This appears to be because the `StoreTokens` function does not build on the tokens already in that `AuthenticationProperties` object.

https://github.com/dotnet/aspnetcore/blob/b16a39f42a7bbdc438497f6ea3efe26008f3f0b7/src/Security/Authentication/OpenIdConnect/src/OpenIdConnectHandler.cs#L927-L

[2020-05-20 16:20] pranavkm opened #22034 "QuarantinedTest: Microsoft.AspNetCore.Components.E2ETest.Tests.KeyTest.CanDeleteUnkeyed"
https://dev.azure.com/dnceng/internal/_build/results?buildId=652943&view=ms.vss-test-web.build-test-results-tab&runId=20267676&paneView=debug&resultId=100000

[code]

[code]

[2020-05-20 16:28] tonholis commented on #21993
@blowdart
I've just run a test and I got **Request.Scheme: http**

This is how I dumped the other headers sent in the first message

[code]

[2020-05-20 16:30] jakubmaguza opened #22036 "Blazor debugger wont load source files if there is special character in path"
### Describe the bug
As in title, if I have my source code let say in 'C:/Project C#/MyApp', debugger in both browser and visual studio refuse to load source code.
When I'm trying to debug in VS, the brakepoint is being hit, I can even see local variables for it, but instead of displaying file where actual brakepoint was set, VS is opening another tab with this info:
`Unable to retrieve source con

[2020-05-20 16:34] blowdart opened #22037 "Add debug logging to Certificate authentication when it short circuits due to scheme"
Creating from part of the investigation in https://github.com/dotnet/aspnetcore/issues/21993#issuecomment-631584333

Certificate auth will [short circuit](https://github.com/dotnet/aspnetcore/blob/master/src/Security/Authentication/Certificate/src/CertificateAuthenticationHandler.cs#L47) if the request is considered to be HTTP, with no hint that it's doing so.

A debug log message will make this e

[2020-05-20 16:56] #22000 closed

[2020-05-20 17:05] chucker commented on #11815
That works, but it really just tells the compiler to ignore the problem.

It'd be nicer if we can have the compiler surface the problem on the component _consumer_'s end:

[code]

[2020-05-20 17:06] mkArtakMSFT opened #22039 "Update service registration in Blazor WebAssembly project template"
We have a transient service which should rather be registered as `Scoped`. Need to change that.

[2020-05-20 17:08] captainsafia commented on #22008
Thanks @JoeRobich! Let us know how this goes today.

[2020-05-20 17:09] dougbu commented on #21941
@davidfowl did you figure out what the missing VS component was?

[2020-05-20 17:18] brandonmain commented on #19590
Hi all,

I was just having this same issue. I managed to get around it by allows trusting the localhost certificate that is generated after trying to run the application.

You still have to enter your keychain password everytime you try to run, and the terminal will still says that the app fails, but it will actually run in the browser as expected.

<img width="513" alt="Screen Shot 2020-05-20 at

[2020-05-20 17:24] thales-man commented on #19590
run the script by @javiercn in his batch file and the problem will go away. then just wait for a proper fix.

[2020-05-20 17:37] davidfowl commented on #21941
Its still broken for me. @AdamBraden what did you have to install.

[2020-05-20 17:52] chrissainty commented on #20374
@javiercn Fair point and you're probably right.

I guess being nitpicky but seeing a blocked popup message may concern some people, wondering what was blocked and was it something malicious.

I also think some people may have a preference that they just don't want to use a popup, even if it's an option. Popups can feel a bit dated in the modern web apps and I think they do have a bit of stigma due

[2020-05-20 18:00] OrihuelaConde commented on #21383
I updated to the latest version of Blazor but the problem persist. My issue is related to the integrity check of static files, like ico, css, js, html. The build machine is Windows and the server is Linux (Nginx + Kestrel).

You can check it going to [https://sdc.kite.net.ar/](https://sdc.kite.net.ar/)

`Failed to find a valid digest in the 'integrity' attribute for resource 'https://sdc.kite.net.

[2020-05-20 18:01] swaroop-sridhar opened #22040 "Microsoft.NET.Worker.Sdk doesn't ExcludeFromSingleFile config files"
Similar to Microsoft.NET.Web.Sdk, Microsoft.NET.Worker.Sdk should exclude the following files from being embedded within a the single-file application bundle:
* appsettings.json
* appsettings.dev.json

Repro steps:

[code]

Expected contents

[code]

Actual contents

[code]

[2020-05-20 18:03] OrihuelaConde commented on #21725
Same issue here #21383

[2020-05-20 18:14] ajaybhargavb opened #22043 "Remove unnecessary SemaphoreSlim usage from RazorLanguageServerCustomMessageTarget"
We added some SemaphoreSlims to workaround a race condition in JsonRPC. But the underlying issue should now be fixed and we can remove our workaround.

[2020-05-20 18:28] blowdart commented on #21822
@smitpatel How should it be fixed? Role tables are supported in box, without customization, so what's different here?

[2020-05-20 18:28] maykoestevez opened #22044 "How to override default RoleValidator"
I trying to override the name validation duplication for the roles, here what I have

Startup file

[code]
When I debug my code my validator works but when I start creating a new role then I have two validators the default and mine in the rolManager Validators property, then it does my validation but after mine it goes to the next validator and fail, since the manager is tryng to check all the val

[2020-05-20 18:29] blowdart commented on #21372
@eskensberg Are you not seeing a debug display after registration?

[2020-05-20 18:30] javiercn commented on #20374
@chrissainty the technical aspect of it is easy (surfacing an option), but with every change there is testing and experience to be validated and a cost of updating our automation/manual test instructions, which ends up adding to the cost.

If we see more people ask for this, that can change the needle, but every feature we decide to do, usually means there's something else that doesn't fit in the

[2020-05-20 18:30] blowdart commented on #20911
@HaoK do you need to update this, or does it fall just to templates, in which case I can move this?

[2020-05-20 18:31] smitpatel commented on #21822
The properties and tables which are in the box are being used in the query. Either those mapping should not be changed by customization or if user decides to customize to remove those properties, then the query should also be updated to use the alternate properties added for those. Exact solution would depend highly upon what is the purpose of the customization being done here.

[2020-05-20 18:34] HaoK commented on #20911
This is scaffolding side

[2020-05-20 18:44] blowdart commented on #21184
What happens when you run the following powershel to dump your machine my storel?

`Get-ChildItem -path Cert:\LocalMachine\My -Recurse | where {$_.Subject -like '*'}`

Does your certificate appear there? What's the subject from that listing?

[2020-05-20 18:45] blowdart commented on #20911
@deepchoudhery You ok with me moving this to your side then?

[2020-05-20 18:46] captainsafia commented on #22036
@pranavkm Is this possibly related to #14501?

[2020-05-20 18:49] captainsafia commented on #22028
Thanks for reporting this issue, @floreseken.

Having to wait 8 seconds in order to be able to hit a breakpoint is definitely _not_ expected behavior here so there is something funky going on. Sometimes it takes a while for symbols and such to be loaded but once the debugging browser window is open, you should be able to debug.

Some quick follow-up questions:

* It looks like you are debugging a

[2020-05-20 18:51] chrissainty commented on #20374
@javiercn I completely get it and I appreciate you taking the time to explain.

[2020-05-20 18:55] captainsafia commented on #22012
@SIkebe Is there any information logged to the output window when this issue occurs?

[2020-05-20 18:56] captainsafia commented on #22011
@jernejk Can you open another issue with the problem that you ran into?

@musictopia2 Can you share some information about the operating system and browser you were using when you encountered this issue?

[2020-05-20 19:00] #21962 closed

[2020-05-20 19:14] blowdart commented on #22031
You can take the code for `[AddDefaultIdentity()](https://github.com/dotnet/aspnetcore/blob/bfec2c14be1e65f7dd361a43950d4c848ad0cd35/src/Identity/UI/src/IdentityServiceCollectionUIExtensions.cs)` and do it all manually, and adjust lifetimes that way, but it's not something we want to do in `AddDefaultIdentity()` because that's the common scenario.

[2020-05-20 19:15] fileman opened #22045 "Debug Blazor WASM breake Google auth with some browser"
Hi,
I've updated to lastest visual studio 16.6, .net core 3.1.300 and all nugets, create new b2c app, but the #20227 wasn't resolved.

I have tried to sign-in with 4 different google account with same settings, but:
Firefox/Opera Ok all account;
Chrome/Edge Fail 3 account, 1 ok;

What can I do to give you better information for this issue?

[2020-05-20 19:19] blowdart commented on #21945
We only let you change the user and role primary keys, we don't really expect you to query by the primary key of things like user claims, instead you navigate through the stores.

It would make things frankly more complicated for everyone to allow adjustment of the full type hierarchy and it's not something that would offer more benefits than the pain it would introduce for the average user.

[2020-05-20 19:20] blowdart commented on #21822
@LastImmort Can you explain the purpose of your customizations here so @smitpatel can guide you?

[2020-05-20 19:21] blowdart commented on #21752
Closing as by design.

[2020-05-20 19:21] #21752 closed

[2020-05-20 19:29] blowdart commented on #13562
We're closing this issue as no response or updates have been provided in a timely manner. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2020-05-20 19:29] #13562 closed

[2020-05-20 19:37] musictopia2 commented on #22011
I was running on windows 10.   I was using chrome browser.

[2020-05-20 19:41] pr-benchmarks[bot] opened #22047 "CanChangeEmailOnlyIfEmailSame"
CanChangeEmailOnlyIfEmailSame

<details>
    <summary>Metadata</summary>

## Affected Tests

| Project | Type | Method |
| ------- | ---- | ------ |
| Microsoft.AspNetCore.Identity.EntityFrameworkCore.Test | Microsoft.AspNetCore.Identity.EntityFrameworkCore.Test.UserStoreTest | CanChangeEmailOnlyIfEmailSame |

</details>

[2020-05-20 19:42] #22047 closed

[2020-05-20 19:46] mysteryx93 opened #22048 "Blazor Attribute Splatting Fails with Int Values"
Using Blazor in .NET 3.1

Creating a Razor Component, I'm taking in unmatched attributes and passing them to a child control

    <RadzenTextBox @attributes="AdditionalAttributes" />

    @code {
        [Parameter(CaptureUnmatchedValues = true)]
        public IDictionary<string, object>? AdditionalAttributes { get; set; }
    }

If I specify MaxLength on RadzenTextBox within the component, it wo

[2020-05-20 19:49] mrpmorris commented on #21959
1: Do parents/children render independently?

Simply being in a parent/child relationship will link rendering between parent and child. The parent and child can change independently without forcing a re-render of the other.

The rules are a component will re-render if
1A: One of its [Parameter] property's values change
1B: One of its [CascadingParameter] property's values change
1C: It sets an `Ev

[2020-05-20 19:56] alexperovich commented on #7281
The aspnetcore build for the index is failing now with errors like this:
[code]

This can be seen from the logs here https://dev.azure.com/dnceng/internal/_build/results?buildId=651181&view=logs&j=7e79d6de-e39e-5bca-18d8-41f08c7b8538&t=8ff4c0d3-e716-500a-c416-e60f5313e63f

This is a very weird error, I have no idea what causes it.

[2020-05-20 20:00] #20639 closed

[2020-05-20 20:01] #21713 closed

[2020-05-20 20:04] BrennanConroy commented on #21881
Could you give a brief overview of what you're doing in your app. I'd love to be able to repro this, but I can't with the default Blazor template.

[2020-05-20 20:10] Liander commented on #13610
@pranavkm OK, I will chime in here too 😊. We need the ability to make components encapsulated, i.e. have render reactions independent on its placement on a page!

I think the order is to solve the general encapsulation ability first and then make use of it in situation reported in this issue.

Step 1)  Encapsulated components: The problem today is that the framework has the pseudo-code (simplified

[2020-05-20 20:19] pranavkm opened #22049 "Skipped test: Microsoft.AspNetCore.Razor.Design.IntegrationTests.StaticWebAssetsIntegrationTest.Rebuild_Success_RecreatesManifestAndCache"
Build: https://dev.azure.com/dnceng/public/_build/results?buildId=653921&view=ms.vss-test-web.build-test-results-tab&runId=20296874&resultId=100112&paneView=debug

[code]

Stack trace
[code]

[2020-05-20 20:22] BrennanConroy commented on #22030
Could you share your startup code, or even better a repro app on GitHub?

[2020-05-20 20:22] captainsafia commented on #22008
Synced with @JoeRobich out-of-GitHub. It looks like the Roslyn update will happen so we do not need to worry about reverting on our end.

[2020-05-20 20:41] stephentoub commented on #7281
Maybe a mismatch issue between netcoreapp50 and net50 TFMs?

[2020-05-20 20:51] KieranDevvs commented on #22028
This isn't an isolated issue, I'm also experiencing this. It seems like breakpoints only bind when the message "mono_wasm_runtime_ready {id}" is printed in the console.

[code]

[2020-05-20 20:53] alexperovich commented on #7281
The error suggests that `net50` doesn't support `netstandard2.1` but that seems... odd.

[2020-05-20 20:58] stephentoub commented on #7281
It would make sense if it didn't know what net50 was, and the parenthetical ".NETFramework,Version=v5.0" seems to suggest that's the case.  But maybe I'm reading too much into it.  I see a bunch of TFM-related discussion in https://github.com/dotnet/aspnetcore/pull/21630, so maybe this is related.
cc: @wtgodbe

[2020-05-20 20:59] dmtomczyk opened #22051 ""Launch Browser" only works when using port 5001"
### Describe the bug
I am using ASP.NET Core 3.1 with Kestrel. I have checked (activated) the "Launch Browser" option in the project settings so that when I run my Kestrel project, Chrome boots up and loads my apps url. However, this only works when the app is using port 5001. When I change it to 5000, 5002, 5003, 5000 +/- n it does not work.

Here is a sample code snippet
[code]

### To Reproduce

[2020-05-20 21:01] #21637 closed

[2020-05-20 21:01] #20070 closed

[2020-05-20 21:05] wtgodbe commented on #7281
`net50` should be compatible w/ `netstandard2.1` - This may be happening specifically w/ EFCore packages because that repo knows about `net50`, but targets `netstandard2.1`. @dougbu @ajcvickers any thoughts on this one?

[2020-05-20 21:08] KieranDevvs commented on #21996
Can you elaborate on this?

[2020-05-20 21:09] MarkStega opened #22052 "Upgrading a Blazor server side project dependencies results in a failure to load an assembly"
I have a Blazor project that fails with "Error: System.IO.FileNotFoundException: Could not load file or assembly 'System.Text.Json, Version=4.0.1.2, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'. The system cannot find the file specified.

File name: 'System.Text.Json, Version=4.0.1.2, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'
" after updating the assemblies.

### To Reproduce
This is

[2020-05-20 21:10] pr-benchmarks[bot] opened #22053 "Bad responses: MvcJsonInput2M, MvcJsonNetInput2M, MvcJsonNetInput2M, MvcJsonNetOutput2M, MvcJsonNetOutput2M"
Some scenarios return errors:

| Scenario | Environment | Last Run | Errors |
| -------- | ----------- | -------- | ------ |
| MvcJsonInput2M | Linux, Physical, http, KestrelSockets | 2020-05-19 20:47:28Z | 432 |
| MvcJsonNetInput2M | Linux, Cloud, http, KestrelSockets | 2020-05-19 08:24:46Z | 3573 |
| MvcJsonNetInput2M | Linux, Physical, http, KestrelSockets | 2020-05-19 20:52:55Z | 1932 |
| MvcJ

[2020-05-20 21:19] KieranDevvs commented on #22051
Correct me if I'm wrong but I believe that if you use `.UseUrls("");`, this only changes bindings via kestrel. If you're hosting via IIS, you need to change the IIS binding options which can be managed via the project properties.

You also have to manage the SSL port for both Kestrel and IIS Express.

[2020-05-20 21:19] KKacer opened #22054 "Ideal SCSS-SASS solution in Blazor- Assemblies-Components-Main - designed and shown by a graph"
### Brief:
You can check the _"desired solution"_ section's designed architecture shown by an image.

### Background
I am trying to create a great development platform based on Blazor. What I care most is the re-usability of my components and the whole architecture over my projects.

Earlier I tried to explain the same needed feature, which I think I didn't explain well enough, and also didn't get

[2020-05-20 21:22] JoseLuisFab commented on #21996
I got that instructions in the following link https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/webassembly?view=aspnetcore-3.1
In the seccion called Change the filename extension of DLL files.

Change the filename extension of DLL files
In case you have a need to change the filename extensions of the app's published .dll files, follow the guidance in this section.

After publish

[2020-05-20 21:25] Blackleones commented on #22031
@blowdart thanks you. I totally agree with your previous answer. Unfortunately blazer server-side has this concurrency problem when you want to use entity framework asynchronously among multiple components.
As I told before, I've just "solved" this problem creating a new scope from `IServiceProvider` but this is not an elegant way. Obviously this is a workaround and not a real solution.

The solut

[2020-05-20 21:30] #22015 closed

[2020-05-20 21:31] dougbu commented on #7281
Without a new-enough SDK (5.0.100-preview.5.20258.4 seems to work) and, unless using `dotnet msbuild`, desktop `msbuild` (from VS 2019 16.6 p2 or later), weird errors about TFMs are the default.

[2020-05-20 21:32] saddlebear commented on #17660
![2020-05-20_15-28-43](https://user-images.githubusercontent.com/9727091/82499414-dcf12680-9aae-11ea-936f-4ec978108665.jpg)

Still happening in VS 16.6.0.   Generated new project+solution.  Seems to error out on components and or templates.   Dead in the water here.

[2020-05-20 21:46] alexperovich commented on #7281
This is not building on preview VS, its using 16.5, so that is probably the issue.

[2020-05-20 21:54] BrennanConroy commented on #21528
Could you install [processmonitor](https://docs.microsoft.com/en-us/sysinternals/downloads/procmon) and add a filter to watch for the app_offline.htm file so we can see who is adding the file?

![image](https://user-images.githubusercontent.com/7574801/82501149-a2d15600-9aa9-11ea-9ccf-fdd3220e8777.png)

[2020-05-20 21:55] Pilchie commented on #22051
@vijayrkn - should this actually be a tooling issue?

[2020-05-20 22:00] davidfowl commented on #22027
Hmm I thought we fixed this here https://github.com/dotnet/extensions/issues/2431

[2020-05-20 22:08] simonziegler commented on #22052
Likewise I have this problem. It's rather drastic. Thanks for looking into it.

[2020-05-20 22:09] dougbu commented on #7281
Well, if possible, use `dotnet msbuild` because the queues won't need to be changed 😺

[2020-05-20 22:14] alexperovich commented on #7281
I'm calling eng/common/build.ps1 its using VS because the repo's global.json says to.

[2020-05-20 22:20] #21930 closed

[2020-05-20 22:20] #21932 closed

[2020-05-20 22:20] #21934 closed

[2020-05-20 22:50] chucker commented on #22052
@MarkStega that output looks like you don't have the current runtime (3.1.4 instead of 3.1.2) or SDK (3.1.300 final instead of preview). It seems like the current VS preview ships with an old version.

Not sure if that's the reason, though.

[2020-05-20 22:50] dmtomczyk commented on #22051
@KieranDevvs I am using / running the app via Kestrel.

If I manually open the browser and navigate to the website, it is serving content successfully, but that's not the issue. The browser, as far as I understand it, is supposed to open to the address where the app is running _if_ you have "Launch Browser" enabled, however it only opens successfully if the port is set to 5001. I may be missing so

[2020-05-20 22:57] dougbu commented on #7281
It's not clear from the above disucssion if source indexing needs to build native projects e.g. the ANCM sources. If those projects aren't needed, set `$msbuildEngine = 'dotnet'` before calling eng/common/build.ps1. Otherwise, the pipeline needs to run on VS2019.Pre agents (unfortunately).

[2020-05-20 22:58] talldaniel commented on #17660
I suggest you copy the code in the file that is failing and paste it into notepad and save.
Delete the Razor page
Do a clean, restart VS and do another clean
(You can also delete the obj folder, but it it seems to be a small risk causing other problems with TFS/GIT (not sure))
Create a new Razor file with the same name, but located in the Pages folder.
Copy the notepad text and paste that into thi

[2020-05-20 22:59] alexperovich commented on #7281
It doesn't need to build any of the native sources. I can pass that.

[2020-05-20 23:00] vijayrkn commented on #22051
@dmtomczyk - Are you also changing the applicationUrl in the launchSettings.json?

![image](https://user-images.githubusercontent.com/3981619/82505609-01e79880-9ab3-11ea-989b-4d2fbb3ff20c.png)

[2020-05-20 23:09] dmtomczyk commented on #22051
@vijayrkn I am not. I was under the impression that implementing`webBuilder.UseUrls()` in the `CreateHostBuilder` method programmatically seting the applicationUrl.

How should I be approaching this?

Thanks

[2020-05-20 23:19] vijayrkn commented on #22051
+@BillHiebert

If you are using a different appUrl, I think you need to specify it in launchSettings.json. If nothing is specified then tooling might be picking the default. Bill is the expert in this area and should be able to provide more details.

[2020-05-20 23:22] shawkes opened #22058 "Blazor WebAssembly 3.1 LTS - scaffold identity throws runtime exception"
### Describe the bug
Created a new blazor wasm app with identity, once scaffolding is added the app throws an exception when attempting to use any identity related pages:

**An unhandled exception occurred while processing the [request.]** (see below for call stack)

### To Reproduce

1. Create new Blazor WebAssembly App

2. Select Authentication - Individual user accounts (store user accounts in-

[2020-05-20 23:32] davidfowl commented on #22021
Except there are issues like these https://github.com/dotnet/aspnetcore/issues/21744 (and likely more)

There's no such thing as child services or child scopes but orchard does what it can to work around the problem. This isn't something we plan to address in a first class way anytime soon.

[2020-05-20 23:37] blowdart commented on #21993
@Tratcher any ideas on why the forwarding header middleware isn't setting the scheme, or am I misunderstanding?

[2020-05-20 23:38] danroth27 commented on #20911
I don't think there's really anything to do here. The template code is setup correctly with a customized logout page so that logout will work. If you run the scaffolder and try to generate all files, it will warn you that one of the files already exists and asks if you want to override it. If the user chooses to override, then the app breaks.

Then only thing we could consider doing here is having

[2020-05-20 23:41] deepchoudhery commented on #20911
@blowdart @danroth27 I have been of thinking if Blazor templates will continue to depart from NET Core templates, I should be handle these scenarios.

@blowdart you may move it over to scaffolding so I can track this item.

[2020-05-20 23:48] JoeRobich commented on #22008
@captainsafia I updated OmniSharp to Roslyn 3.7. Will do a new release of OmniSharp once this goes in https://github.com/OmniSharp/omnisharp-roslyn/pull/1805. Then I can update the C# extension.

[2020-05-21 00:02] pielegacy opened #22059 "Unable to invoke SignalR Hub methods after a while"
### Describe the bug

In our application we use SignalR Core to maintain a constant connection between a client hosted agent and our Azure hosted API. One of the main requirements of this connection is that every minute the client will invoke a SignalR method to update the "heartbeat" of the agent.

The heartbeat is set through two methods on the SignalR hub:

- `OnConnectedAsync`
  - The heartbea

[2020-05-21 00:12] mihaimyh commented on #21926
Just as a note, the app updated itself after few days. Can we control when the update is being done, for example to do it much often?

[2020-05-21 00:16] alekkowalczyk commented on #12890
sure, sounds great in theory, but:
- you have an existing sophisticated app which uses SSR - is really moving to "static pages build on deman" worth the bang for your bang?
- you have users logged in, and you want them to see the content right away, not when the client side kicks in

for both above cases, new approach suggested by MS, is to drop their stack, and split your project into two, hosted

[2020-05-21 00:20] BrennanConroy commented on #21941
I updated from a version of VS 16.5 to 16.7 and it fixed the issue for me.

[2020-05-21 00:34] uncvrd commented on #21952
This problem has to do with my primary key of my `TestRecord` being a string. I switched it to an integer and it worked flawlessly. I have no clue why the PK type causes issues here. Any clarification would be super helpful. Thanks!!

[2020-05-21 00:34] dougbu commented on #21941
@BrennanConroy that's overkill 😃 since only 16.6 is needed. Then again, I'm still working to make 16.5 the minimum again.

[2020-05-21 00:50] halter73 opened #22060 "InavalidOperationException when aborting Kestrel HTTP/2 stream"
### Describe the bug

@bkatms

### To Reproduce

TODO. Just knowing this is possible is enough to start looking at this.

### Further technical details
- 5.0.100-preview.5.20270.8 .NET SDK

### Initial thoughts

Here’s the throwing code:

https://github.com/dotnet/aspnetcore/blob/b3b6e50aab8ebae05f4717404cc1171d8ddde7b2/src/Servers/Kestrel/Core/src/Internal/Http2/FlowControl/StreamOutputFlowContro

[2020-05-21 01:00] #21970 closed

[2020-05-21 01:12] SIkebe commented on #22012
@captainsafia Here's the output. Nothing special, I think...
[code]

And this is the `C:\Users\<username>\AppData\Local\Temp\vscode-chrome-debug.txt` file.
[code]

[2020-05-21 01:13] nbarkhina opened #22061 "Blazor - differ base href in development vs production"
What is the recommendation for using a different base href in development vs production? For example during developing I use the "/" base href since that is what gets served up from the .net core development server. However in production I want to host it in a subfolder url such as https://[mysite]/blazor/ so in this case i would need to make base href "/blazor/". Is there anything built into Blaz

[2020-05-21 02:04] mysteryx93 commented on #22009
I found the problem of why validation was failing: it wasn't validating child objects in cascade and I could fix it following these instructions

https://docs.microsoft.com/en-us/aspnet/core/blazor/forms-validation?view=aspnetcore-3.1#nested-models-collection-types-and-complex-types

[2020-05-21 02:13] Asherslab opened #22062 "[Blazor] Component Helper tag support Client-Side"
### Problem:
Currently i'm trying to use Blazor Client-Side in an MVC project, i have it all setup and the JS loading, however i'm unable to actually put the components into the Views, Usually with Server-Side blazor i'd use the `<component/>` helper tag, however that's not currently supported in Client-Side .

### The Solution I'd like
I would like some way, possibly through simply adding another

[2020-05-21 02:43] nssidhu opened #22064 "After upgrading to Blazor latest Released version, Not able to publish to Azure App"
Publishing via  Microsoft Visual Studio Enterprise 2019 Preview
Version 16.6.0 Preview 6.0
After upgrading to released version of Blazor, i am no longer able to publish the app to Azure Appservice.

running into the following Error, Works fine on local development box.
=============================================================
System.NullReferenceException: Object reference not set to an instan

[2020-05-21 02:55] davidfowl commented on #22064
cc @vijayrkn

[2020-05-21 03:01] davidfowl commented on #22059
I'd recommend turning on logging https://docs.microsoft.com/en-us/aspnet/core/signalr/diagnostics?view=aspnetcore-3.1 as a way to start debugging this. We won't be able to help without that.

In your Hub methods, you don't need to create a scope as the framework creates one for you per invocation. Just inject the DbContext in the constructor.

Context can't be null unless you're in a unit test and

[2020-05-21 03:11] vijayrkn commented on #22064
@abpiskunov can you please take a look?

[2020-05-21 03:30] abpiskunov commented on #22064
@nssidhu could you please specify exact repro steps? Are you opening existing publish profile and trying to publish? Or you creating a new publish profile and trying to publish right away after it was created? Anything else?

[2020-05-21 03:45] nssidhu commented on #22064
First i published using the exisiting publish profile.
next i created new Azure App Service plan and new publish profile , but it did not help.

I am able to reproduce it on local dev machine if i build in release mode, i encounter the problem.
In the debug mode everything works fine.

I can provide the sample app privately if that would help.

[2020-05-21 03:47] abpiskunov commented on #22064
I see, i found a problem that could lead to this exception in code. If you share the app for testing it - it would be awesome. How do you want to share it?

[2020-05-21 03:50] nssidhu commented on #22064
let me knwo the email address where i can send.
Just for clarification i am talking about Blazor Webassembly app.

[2020-05-21 03:53] dcuccia opened #22066 "Microsoft Graph support"
The [Microsoft Graph API](https://github.com/microsoftgraph/microsoft-graph-toolkit) seems very cool. But Javascript.

Can we please have Blazor-ified Graph components, because C#?

[2020-05-21 04:06] rkttu opened #22067 "RSACryptoServiceProvider.ExportParameters hangs on BWA"
### Describe the bug
I tested a code which relies on RSACryptoServiceProvider.ExportParameters function in Blazor WebAssembly, but it hangs after the function called.

### To Reproduce
I tested the below code in the SDK 3.1.300 (3.1.4 release).

[code]

### Further technical details
- ASP.NET Core version: 3.2.0
- Include the output of `dotnet --info`

[code]

- The IDE (VS / VS Code/ VS4Mac) you'

[2020-05-21 04:18] abpiskunov commented on #22064
Please send it at: antonpis@microsoft.com

[2020-05-21 04:32] tn-5 commented on #22061
This only applies to WebAssembly. I'm having the same issue. Ideal would be if you could do a transform of the index.html during the publish.

For now you have to handle it yourself. From what I can see there are the following options:
1) Different Index.html files for different configs (a hassle since t is only the base href which differs in different files)
2) Use an msbuild extension to replace

[2020-05-21 04:34] John0King commented on #22021
@davidfowl

Doesn't this is why we need the build in modular abstraction ?  we need the build part like this (MVC, signalR ect.)  and third party middleware / service to support the modular abstraction ,
even asp.net core do not have a modular abstraction!!   but the the abstraction,  issue like #21744 will be considered (for example add `RemoeApplicationParts()`)

[2020-05-21 04:43] nssidhu commented on #22064
sent email witth link to ondrive, file was too big to be sent over email.
let me know if you can open the file

[2020-05-21 05:05] AlexeyBoiko commented on #21790
@mkArtakMSFT , just update Visual Studio to Version 16.7.0 Preview 1.0.
Debugger still don't work.

Exact behavior:
1. Launch Blazor project
2. Launch msedge with debugging settings
msedge --remote-debugging-port=9222 --user-data-dir="C:\Users\A1\AppData\Local\Temp\blazor-edge-debug" --no-first-run https://localhost:44321/
3. In VS attach to msedge process
4. In browser click on "Click me" button

[2020-05-21 05:18] JoeRobich commented on #22008
New release of OmniSharp is live with Roslyn 3.7.0. https://github.com/OmniSharp/omnisharp-vscode/pull/3799 is the PR to update in the C# extension.

[2020-05-21 05:43] pielegacy commented on #22059
Thank you @davidfowl , I've got verbose logging enabled on the API end which is how I came to the conclusion this was only occurring on the method not the connected event.

I'll enable the verbose logging in the agent end and come back to you when I get something to work with, I realised shortly after posting this that HubContexts were transient so I've removed the service provider dependency reso

[2020-05-21 05:49] JakobGSvendsen commented on #20374
I get that you are busy and have a tight schedule. It just don't change that msal for angular is unusable in a professional setting imo. This is a pretty tough showstopper.
Expecting warnings is not acceptable for any of my customers.
We will have to make our own auth library to deliver a professional enterprise app. (Or maybe we can extend this library).
I have shared this on Twitter in hopes of

[2020-05-21 06:07] JoeRobich commented on #22008
And we now have a [new C# prerelease](https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.21.19-beta3) using the new OmniSharp. Once the razor tooling it updated, we can get a build out to vendors for prerelease testing.

[2020-05-21 06:31] davidfowl commented on #21941
This experience isn't good. Where do these requirements come from and why can't I run a single thing to do it automagically to get me in a good state?

[2020-05-21 06:37] davidfowl commented on #21941
https://github.com/dotnet/aspnetcore/issues/21941#issuecomment-631376584 this worked for me too...

[2020-05-21 07:45] bugproof commented on #12890
@johnrom

Hmm, why wouldn't you trust NextJS to get private data if it's processed on the server anyway? I think your API still decides if you have access to it or not. And you can choose if it should be pre-rendered or not. I can 100% ensure that no third party can access any private data without using SpaServices.

[2020-05-21 08:31] allderidge opened #22069 "Requirement to support Identity Tokens in Microsoft.AspNetCore.Components.WebAssembly.Authentication"
Are there any plans to expose a reliable way of accessing the identity token obtained from the Identity Provider?

I require a means to send the users identity token to a backend web service in order to identify that user and authorise them dependent on groups claims present in the token. Ideally the token would be automatically refreshed in the background without triggering a restart of the Blazo

[2020-05-21 08:54] belenos12345 commented on #21881
It is an app to upload Excel sheets into a grid (Telerik Grid), edit the data of the grid by using edit forms and export the data to Excel again. This is done on the "main working page". It contains the Telerik grid and some funtionality to edit/import/export data.
Around this core funtionality there are some pages to administrate clients, suppliers, users and layout of the data grid.

We use MS S

[2020-05-21 09:00] pr-benchmarks[bot] opened #22070 "Scenarios are not running: MvcJson, MvcJson, MvcJson2k, MvcJson2k, MvcJsonInput2k ..."
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| MvcJson | Linux, Cloud, http, KestrelSockets | 2020-05-19 20:21:32Z |
| MvcJson | Linux, Physical, http, KestrelSockets | 2020-05-19 20:32:43Z |
| MvcJson2k | Linux, Cloud, http, KestrelSockets | 2020-05-19 20:23:05Z |
| MvcJson2k | Linux, Physical, http, KestrelSockets | 2020-05-19

[2020-05-21 09:16] javiercn commented on #20911
@danroth27 the scaffolder might detect that Blazor is at play and generate a logout with `[IgnoreAntiforgeryToken]`. That said, I agree with you in that if the logout is already present and the user decides to override it, they should be accountable at that point?

[2020-05-21 09:17] javiercn commented on #22031
Creating a scope is not a workaround, it's the proper and recommended way to do it.

[2020-05-21 09:19] javiercn commented on #21184
@blowdart I believe that we call the CertificateStore APIs for this, so if they don't support this we won't either. I'm not sure if there is any incantation that you can use to make this work, but we haven't had any demands for this until now.

[2020-05-21 09:27] conficient opened #22071 "Blazor WASM RTM 3.2 with Identity Server fails if app name contains period '.'"
### Describe the bug
Creating a new Blazor WASM 3.2 RTM with Identity, ASP.NET Core and a period in the name causes Identity configuration to fail

### To Reproduce
 - Create new project, select Blazor
 - Set project name as **BlazorRTM3.2** (note the period)
 - Select `.NET Core 3.1` and `Blazor WebAssembly App`, change authentication to `Individual User Accounts` and 'store user accounts in-app'

[2020-05-21 09:28] conficient commented on #5478
As a pointer to anyone finding this issue, there is a third-party solution available:

https://blazorfiddle.com/

[2020-05-21 09:51] javiercn commented on #22061
@nbarkhina thanks for contacting us.

If you are using a standalone app, then you'll have to have an additional processing step to change the entry point at publish time.

If you are using a hosted app, you can replace index.html with a razor page and compute the proper base tag there.

[2020-05-21 09:53] javiercn commented on #22058
@shawkes thanks for contacting us.

@danroth27 did we try this? Is this something we support?

/cc: @deepchoudhery

[2020-05-21 09:59] javiercn commented on #22069
@allderidge thanks for contacting us.

You should not use the ID token for authorization purposes. That's what the access token is for. I would recommend that in your case you change the configuration in your identity provider to include the information you need for authorization within the access token.

While your solution "works", I would discourage you from relying on the AuthenticationService

[2020-05-21 10:02] javiercn commented on #22066
@dcuccia thanks for contacting us.

Those components seem to be Web Components. It should be pretty doable for you or anyone else to use them out of the box with a bit of JS interop to perform initialization.

This is not something we would tackle ourselves, but you can file an issue with the MS Graph folks if you want them to provide an out-of-the-box blazor experience.

[2020-05-21 10:11] netprok commented on #20256
I am still getting this error.

blazor.webassembly.js:1 Uncaught (in promise) DOMException: Entry already exists.
u @ blazor.webassembly.js:1
Promise.then (async)
s @ blazor.webassembly.js:1
i @ blazor.webassembly.js:1
Promise.then (async)
s @ blazor.webassembly.js:1
(anonymous) @ blazor.webassembly.js:1
r @ blazor.webassembly.js:1
e.addToCacheAsync @ blazor.webassembly.js:1
(anonymous) @ blazor.w

[2020-05-21 10:37] MarkusRodler commented on #11815
It would be nice if there is a possibility to tell the components, that some arguments are mandatory to function like in HTML.
For example it is from an html view totally ok to not specify an alt-tag, but an img-tag without src would not work.

[2020-05-21 10:41] snerks commented on #19796
Thanks everyone! The suggestions here also worked for me:

Using the `master/docs` folder `gh-pages` approach:
1. In the `docs` folder, add a `.gitattributes` file, with content `* binary`
2. On dev machine: Publish the app
3. Replace `[GithubRepoName]\docs\_framework` folder with the Publish-ed equivalent folder
4. Commit and Push to GitHub

App is here:
https://snerks.github.io/BlazorApp322/

So

[2020-05-21 10:48] Blackleones commented on #22031
@javiercn, create a new scope generates a new problem with ConcurrencyTokens. I've just encountered this problem.

I have two components which both of them extend `OwningComponentBase` and get a new instance of `userManager` from
[code]

- **Component A** shows a grid populated from `UserManager.Users` and for each row (user) there is a button that clears the email of related user.
- **Component B

[2020-05-21 10:57] adamsitnik commented on #20952
@tmds I've run all the benchmarks for 2 configurations of [aspnet](https://github.com/dotnet/aspnetcore/blob/02e4d1af41231a77adb078fad8b2f98cf2e35722/src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketConnection.cs#L71-L72):

* 4x inline scheduler

[code]

* 2x inline 2x TP

[code]

![obraz](https://user-images.githubusercontent.com/6011991/82552344-336b6d00-9b62-11ea-9f82-404f11e441d9.png)

[2020-05-21 11:01] pr-benchmarks[bot] opened #22072 "Scenarios are not running: MvcJson, MvcJson2k, MvcJsonInput2k, MvcJsonNet, MvcJsonNet2k ..."
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| MvcJson | Windows, Physical, http, KestrelSockets | 2020-05-19 22:33:51Z |
| MvcJson2k | Windows, Physical, http, KestrelSockets | 2020-05-19 22:35:23Z |
| MvcJsonInput2k | Windows, Physical, http, KestrelSockets | 2020-05-19 22:43:04Z |
| MvcJsonNet | Windows, Physical, http, Kestre

[2020-05-21 11:33] PylotLight commented on #21383
I was having this issue without Azure being involved. Just upgraded a standard project and suddenly integrity was broken with all DLLs.

[2020-05-21 11:52] olesakn commented on #21184
I ran `Get-ChildItem -path Cert:\LocalMachine\My -Recurse | where {$_.Subject -like '*'}` and did see my certificate in the list:
[code]
I then tested my Identity Server with the exact name that it printed and it worked correctly. I must have been using the wrong full name before, or perhaps some of the additional details were out of order? I don't know enough about certificates naming to know wha

[2020-05-21 11:52] #21184 closed

[2020-05-21 12:01] pr-benchmarks[bot] opened #22073 "Scenarios are not running: MvcJsonInput2M, MvcJsonNetInput2M, MvcJsonNetOutput2M, MvcJsonOutput2M"
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| MvcJsonInput2M | Windows, Physical, http, KestrelSockets | 2020-05-19 23:00:59Z |
| MvcJsonNetInput2M | Windows, Physical, http, KestrelSockets | 2020-05-19 23:07:26Z |
| MvcJsonNetOutput2M | Windows, Physical, http, KestrelSockets | 2020-05-19 23:13:36Z |
| MvcJsonOutput2M | Windows

[2020-05-21 12:06] mrpmorris commented on #20256
I am seeing it again now too. This is in the official WebAssembly release.

[2020-05-21 12:20] chrdlx commented on #17724
It seems that with the latest VS 16.6.0,  this issue has been corrected.
Has anyone else had this experience too?

[2020-05-21 12:21] MarkStega commented on #22052
@chucker That was the issue. VS 16.7.0Preview1 ships with an older runtime then 16.6.0 release. I believe that bundling the sdk with VS is a mistake if newer VS releases can't be relied upon to have updated sdk/runtimes.

[2020-05-21 12:31] blowdart commented on #21184
I wonder if the * is trying to act as a wildcard here in the search and it gets really confused. Or if we need to add an overload to search on subject name and not just distinguished name I'll experiment some :)

[2020-05-21 12:46] ppekrol commented on #21502
Hi,

any update on this? We are getting more and more reports from our customers that instead of usual low latency on requests around ~10ms, they are now getting the ~50ms. The root cause for all of them is the same, they are using our Client API on .NET Framework, not .NET Core.

[2020-05-21 13:04] pr-benchmarks[bot] opened #22074 "Scenarios are not running: MvcJson, MvcJson2k, MvcJsonInput2k, MvcJsonInput2M, MvcJsonNet ..."
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| MvcJson | Linux, ARM64, http, KestrelSockets | 2020-05-20 00:21:05Z |
| MvcJson2k | Linux, ARM64, http, KestrelSockets | 2020-05-20 00:22:53Z |
| MvcJsonInput2k | Linux, ARM64, http, KestrelSockets | 2020-05-20 00:25:35Z |
| MvcJsonInput2M | Linux, ARM64, http, KestrelSockets | 2020-

[2020-05-21 13:04] pr-benchmarks[bot] opened #22075 "Bad responses: DbFortunesRaw-Mono"
Some scenarios return errors:

| Scenario | Environment | Last Run | Errors |
| -------- | ----------- | -------- | ------ |
| DbFortunesRaw-Mono | Linux, AMD64, http, KestrelSockets | 2020-05-21 12:34:40Z | 5959178 |

[Logs](https://dev.azure.com/dnceng/internal/_build?definitionId=825&_a=summary)

[2020-05-21 13:17] jimmcslim commented on #19590
I'm here to confirm that I am also encountering this issue, and I am running on Mojave (10.14.6). What has triggered it is the installation of the 3.1.300 SDK this evening, so that I can run the new Blazor WASM bits. I have been happily developing with local HTTPS during the day, and prior to today. I was previously running SDK 3.1.100.

[2020-05-21 13:37] javiercn commented on #21991
@astevens8182 can you provide a minimal repro app so that we can take a look? Ideally as a GH repo, and detailed steps on how to trigger the issue?

[2020-05-21 13:41] javiercn commented on #21991
* Can you also provide more details on what objects/types do you see as the source of this memory growth?
* Are you able to make the memory grow until you reach an Out of memory exception?
* Did you trigger a full GC or just Gen0?

[2020-05-21 13:47] javiercn commented on #22045
@fileman thanks for contacting us.

This is indeed an issue. Unfortunately it is not something we can do anything about. The reason for it is that to support debugging we turn on the remote devtools protocol and that in turn enables the `https://developer.mozilla.org/en-US/docs/Web/API/Navigator/webdriver` which Google auth uses to check and prevent logins.

This is something we handle on the brow

[2020-05-21 13:53] allderidge commented on #22069
I agree that in many scenarios the ID Token should not be used to authorise services.

This is for a scenario where there is only one service tied to one application registered with the Open ID Connect Provider. The service requires user profile information to record audit information against and group/role membership information in order to authorise that user. The ID token will only be consumed

[2020-05-21 13:57] johnnyreilly commented on #14907
It's been twice in three weeks that I've found myself coming back to this post to try and remember the workaround for this issue. I'll try and turn it into a blog post so people can have a reference for how to remedy the situation until it's fixed. I wouldn't want people to not write tests 😉

[2020-05-21 13:58] akosdudas opened #22077 "Parsing a cookie fails when there is an invalid key in the cookie value"
### If cookie value contains `Discard` the entire cookie parsing yields an empty set

We are using `SetCookieHeaderValue.ParseList` (https://github.com/dotnet/aspnetcore/blob/master/src/Http/Headers/src/SetCookieHeaderValue.cs) to parse a Set-Cookie response. The http response from which the cookie is parsed is the following:

![image](https://user-images.githubusercontent.com/11335181/82560533-ed

[2020-05-21 13:59] johnrom commented on #12890
@alekkowalczyk agreed, not every use case works for it and each project should use the best tool for the job.

@bugproof depends on the sensitivity of your data, and what your stakeholders deem must be pre-rendered. If your users' private personal information needs to be pre-rendered (like the Github example), I'd avoid static site generators because the build process shouldn't have access to this

[2020-05-21 14:02] jzabroski commented on #14907
This issue always makes me facepalm... love ASP.NET Core but I can't figure out why this is such a painful experience.  Feel like we're so close to being the number one web framework.  Especially with Blazor RTM.

[2020-05-21 14:04] pr-benchmarks[bot] opened #22078 "Scenarios are not running: MvcJson, MvcJson2k, MvcJsonInput2k, MvcJsonInput2M, MvcJsonNet ..."
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| MvcJson | Linux, AMD64, http, KestrelSockets | 2020-05-20 01:33:09Z |
| MvcJson2k | Linux, AMD64, http, KestrelSockets | 2020-05-20 01:34:39Z |
| MvcJsonInput2k | Linux, AMD64, http, KestrelSockets | 2020-05-20 01:36:14Z |
| MvcJsonInput2M | Linux, AMD64, http, KestrelSockets | 2020-

[2020-05-21 14:12] javiercn commented on #22069
@allderidge thanks for the details.

From a security perspective that's not right.  The ID token is for the app, which in this case is the Blazor Wasm app and not for the API (hosted in your server)

You can configure AAD to emit groups and anything you need into the access token. See [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims#configurin

[2020-05-21 14:14] pableess opened #22079 "Make GenericWebHostService public"
I'm curious on the reasoning for making GenericWebHostService internal instead of public.

It would be useful to be able to host Http Workloads as a hosted service.

An example would be where you conditionally want to host Http services based on a HostConfiguration setting passed in via command line, environment variable or whatever.

With the current implementation I don't see how this is possibl

[2020-05-21 14:18] brockallen commented on #21184
Also, it's suggested to not use your HTTPS cert as your IdentityServer signing credentials. Just create your own self-signed cert.

[2020-05-21 14:20] juanan opened #22080 "AutoValidateAntiforgeryToken filter not working"
### Describe the bug
Fisrt time I try to login I always get an AntiforgeryValidationException exception.

I am getting this on a GET request so I added the AutoValidateAntiforgeryToken filter at controller level and its supposed that this filter would avoid antiforgery validation on a GET request but the exception still happens (I tried also setting it as a global filter with no luck).

The login

[2020-05-21 14:23] olesakn commented on #21184
Thanks Brock, that's good to know. I will use a self-signed cert instead.

If you don't mind me asking - what is the reasoning against using the HTTPS cert?

[2020-05-21 14:26] brockallen commented on #21184
math :) it's like using the same key twice or for two different purposes.

[2020-05-21 14:37] dcuccia commented on #22066
@javiercn will do, thanks!

[2020-05-21 14:50] dotcom9 opened #22081 "Identity Email Confirmation fails when token generated in a different assembly"
### Describe the bug
An ASPNET Identity email confirmation token generated in a different assembly fails when used in the `UserManager.ConfirmEmailAsync` method.

### To Reproduce

1. Clone https://github.com/dotcom9/email-confirmation-token-bug
2. Open in Visual Studio
3. Run EF migrations
4. Register a user
5. Copy the UserId field value for the new user and paste in the _userId literal at the t

[2020-05-21 15:00] #22025 closed

[2020-05-21 15:03] allderidge commented on #22069
@javiercn Thanks for the speedy reply.

FYI the WPF does operate in a similar way to the Blazor App, i.e. its runs as a smartclient in an un-trusted environment and communicates via Web Service Calls to backend services. So the Blazor conversion is pretty much a refactor of the non-ui code to remove framework and large nuget package dependencies combined with a re-write of the WPF forms as Razor p

[2020-05-21 15:30] javiercn commented on #22080
@juanan thanks for contacting us.

Can you provide a minimal repro project that showcases this issue and minimal steps to trigger the issue?

[2020-05-21 15:41] robdavey555 commented on #19050
@simonziegler I'm using Blazor Server-Size with Azure B2C. Are you not using a Challange() along with the ```AddAzureADB2C()``` extension to redirect your users to login?

you should have something in your startup that looks like this

```services.AddAuthentication(AzureADB2CDefaults.AuthenticationScheme).AddAzureADB2C(options => configuration.Bind("AzureADB2C", options));```

Let me know if you n

[2020-05-21 15:42] Tratcher commented on #22079
Registering the service isn't enough, you also have to configure it. The setup code is a little odd due to back compat concerns. That would probably have to be re-worked.
https://github.com/dotnet/aspnetcore/blob/f990751f549417bade35e4c98d3d6ca07ecba43f/src/Hosting/Hosting/src/GenericHostWebHostBuilderExtensions.cs#L9-L15

[2020-05-21 15:46] javiercn commented on #19050
Challenge only works in the context of an HTTP request, not in Blazor, since there is no http request/response available.

The way to achieve something similar in Blazor is to create an endpoint that does the challenge and call NavigationManager.NavigateTo("endpoint") to redirect the user there and cause the challenge to start.

[2020-05-21 15:51] LaughingJohn commented on #20361
Thanks Steve, the repro code was there, it was just the 2 lines that showed exactly what you said - binding directly to a datetime value.
I will look at InputDate, I think I looked before and it requires a nullable DateTime - which is a bit of a pain as I'm using an existing model where it isn't.
Maybe I'm wrong, but I'll figure something out anyway.

[2020-05-21 15:53] abpiskunov commented on #22064
@nssidhu i downloaded zip , thanks. About the second problem you mentioned in the email , please open a separate github issue here it is unrelated to this issue.

[2020-05-21 15:56] juanan commented on #22080
Unfortunatelly this is part of a big project and not easy to send a repro

I put the log where you can see that the AntiForgery validator is executed for a GET request (using taghelpers).

Is that info an starting point for you?

I have tried everything but not able to avoid that validation.

[2020-05-21 15:58] Tratcher commented on #22077
https://github.com/dotnet/aspnetcore/blob/4e2584a04ad3fe42cf87dc20866bec45946952f5/src/Http/Headers/src/SetCookieHeaderValue.cs#L501-L507
Looks like `Discard=` would be allowed but not `Discard`. Not sure why it has that restriction, the RFC seems to allow just about anything.
https://tools.ietf.org/html/rfc6265#section-4.1.1
[code]

We shouldn't be discarding the values, we should be adding them

[2020-05-21 16:04] Tratcher commented on #21993
[code]
The forwarders weren't applied because it doesn't trust the proxy. See KnownProxies.
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-3.1#forwarded-headers-middleware-options

[2020-05-21 16:19] Tratcher commented on #22033
Workaround: When storing custom tokens also store the standard tokens yourself and disable the SaveTokens option.

Sounds plausible.

Priority: Low. This is the only report I've seen of this situation and there is a workaround.

[2020-05-21 16:34] mkArtakMSFT commented on #22071
Thanks for the issue report.
We'll look into this during our next sprint-planning meeting.

[2020-05-21 16:36] #22066 closed

[2020-05-21 16:37] mkArtakMSFT commented on #22064
Closing as there is no pending action from our team on this and the other issues are tracked separately.

[2020-05-21 16:37] #22064 closed

[2020-05-21 16:39] mkArtakMSFT commented on #22062
Thanks for the issue report.
We'll look into this during our next sprint-planning meeting.

[2020-05-21 16:40] mkArtakMSFT commented on #22054
Thanks for your feature request.
We're going to consider all this as part of the [CSS Isolation](10170) work we already work on.

[2020-05-21 16:40] #22054 closed

[2020-05-21 16:41] BillHiebert commented on #22051
@dmtomczyk, @vijayrkn
Visual Studio does not parse the hostSettings.Json to determine the url. It uses the value(s) set in the applicationUrl property in LaunchSettings.json. Normally, whatever is set in there is set in the ASPNETCORE_URLs environment variable when the webserver is launched and these are the URL's Kestrel will configure itself with.  If applicationUrl is not set Visual Studios ass

[2020-05-21 16:42] #22052 closed

[2020-05-21 16:44] nssidhu commented on #22064
hmmm, i think i am still waiting on the resolution on the main reported problem. is it closed mistakenly ?

[2020-05-21 16:46] abpiskunov commented on #22064
It belongs to different team (VS WebTools) , we track it in separate internal repo. We are working on the fix and it will be resolved on coming release.

[2020-05-21 16:47] nssidhu commented on #22064
ok.

[2020-05-21 16:51] nssidhu opened #22083 "Blazor webAssembly calling non existing api route returns 200 success with index.html"
using Blazor WebAssembly as hosted solution.
When i call an non exisitng route in the api i get back 200 with index.html, expecting that it should returnlt in API error that route does not exisit.

[code]
The actual response returned is, which turns out to be(index.html) 200, success, whereas it is no where what i expect

[code]

[2020-05-21 16:51] mkArtakMSFT commented on #22036
Closing as a dupe.

[2020-05-21 16:51] #22036 closed

[2020-05-21 17:04] shawkes commented on #22058
Thanks for the reply. It looks like this is a duplicate of https://github.com/dotnet/aspnetcore/issues/21168

The suggested workaround results in the app not rendering correctly.

![badrender](https://user-images.githubusercontent.com/25094792/82584275-1d9d7e00-9b49-11ea-8728-8efd5feda4c7.png)

It appears this is also related to https://github.com/dotnet/aspnetcore/issues/20422

[2020-05-21 17:06] dougbu commented on #21941
@davidfowl we don't usually need to change our VS requirements though we've been tracking RTM versions lately. However, the `net5.0` change forced a move to what was then a preview version.

One thing that can _usually_ get you into a good state is
[code]
I don't usually suggest this because the command-line arguments are easy to get wrong.

----

I agree the Arcade fallback is broken in that it's

[2020-05-21 17:14] BrennanConroy commented on #8719
This is now completed. You can use `vcpkg install microsoft-signalr` with the latest vcpkg.

I'm going to keep this open to track updating the vcpkg port as we do releases until we can find a better way of doing that.

[2020-05-21 17:17] mkArtakMSFT commented on #22012
Thanks for contacting us.
@digeff this will need to be investigated. Do you want to file a separate issue to track this, or use this one? Let me know.

[2020-05-21 17:17] dcuccia commented on #22066
Breadcrumb to the Graph ticket: https://github.com/microsoftgraph/microsoft-graph-toolkit/issues/82

[2020-05-21 17:18] mkArtakMSFT commented on #22024
Thanks for contacting us. This is not something we plan to do. Instead, we have an alternative proposal to have an option for this tracked at https://github.com/dotnet/aspnetcore/issues/21445

[2020-05-21 17:18] #22024 closed

[2020-05-21 17:20] javiercn commented on #22080
@juanan the autovalidateantiforgeryfilter should execute, but should bypass get requests. See https://github.com/dotnet/aspnetcore/blob/master/src/Mvc/Mvc.ViewFeatures/src/Filters/AutoValidateAntiforgeryTokenAuthorizationFilter.cs#L27 for the code and https://github.com/dotnet/aspnetcore/blob/master/src/Mvc/Mvc.ViewFeatures/test/Filters/AutoValidateAntiforgeryTokenAuthorizationFilterTest.cs#L50 fo

[2020-05-21 17:26] javiercn commented on #22083
@nssidhu thanks for contacting us.

That is because Blazor WebAssembly uses a catch-all route to let the client handle non-existing routes and you are likely registering the default fallback route.

I would suggest the following options if you want to get a 404:
* Put all your API requests under a common prefix (api) and map a catch all route "api/{**catchAll}" that returns 404.
* Put your app wit

[2020-05-21 17:26] HaoK opened #22084 "[Helix] NodeServices tests skipped on win-arm64"
Doesn't look like Node.js not supported on win-arm64 yet from https://github.com/nodejs/build/issues/1138

There is some unofficial support we could try from here https://unofficial-builds.nodejs.org/download/release/v12.15.0/

[2020-05-21 17:28] javiercn commented on #22045
We've talked a bit more about this, and there is actually a workaround you can follow for this:

* Launch the app with debugging enabled.
* **ON THE SAME TAB** navigate to www.google.com and login
* Load the app again on the same tab and you should be able to log in.

[2020-05-21 17:28] pranavkm commented on #22049
Also skipped Microsoft.AspNetCore.Razor.Design.IntegrationTests.StaticWebAssetsIntegrationTest.Build_GeneratesStaticWebAssetsManifest_Success_CreatesManifest which failed in a very similar way:

Build: https://dev.azure.com/dnceng/public/_build/results?buildId=654186&view=ms.vss-test-web.build-test-results-tab&runId=20303614&resultId=100122&paneView=debug

[code]

Stack trace
[code]

[2020-05-21 17:30] pranavkm commented on #14805
Another failure here: https://dev.azure.com/dnceng/public/_build/results?buildId=654186&view=ms.vss-test-web.build-test-results-tab&runId=20303614&resultId=100122&paneView=debug

Worker should have taken all notifications\r\nExpected: False\r\nActual: True

Stack trace
[code]

[2020-05-21 17:36] nssidhu commented on #22064
I was able to narrow it down to the following file.
  <PackageReference Include="Microsoft.AspNetCore.Components.Authorization" Version="3.1.4" />

[2020-05-21 17:36] dmtomczyk commented on #22051
@BillHiebert Thanks for the in-depth response here Bill.

Is there an intelligent way to programatically change the `applicationUrl` in `launchSettings.json`? I would like to reduce the number of properties that I need to change when swapping from a Development build to a Production build.

Currently, I'm just modifying the `ASPNETCORE_ENVIRONMENT` variable to accomplish most of this, but I haven'

[2020-05-21 17:39] mkArtakMSFT commented on #22034
@javiercn can you please handle this? Thanks!

[2020-05-21 18:00] #21821 closed

[2020-05-21 18:06] mysteryx93 commented on #22009
Sorry the child object validation is a separate issue.

The original issue posted here remains.

Validation doesn't work here

   <TextField For="@(() => Input.FirstName)" Width="4" Required="true" @bind-Value="@Input.FirstName" />

But if I do it this way, it works.

    <Field For="@(() => Input.Address.FirstName)" Width="4" Required="true">
        <RadzenTextBox @bind-Value="@Input.Address.Fir

[2020-05-21 18:11] blowdart commented on #22081
@HaoK do email tokens get wrapped up in data protection somehow?

[2020-05-21 18:18] JunTaoLuo opened #22090 "Fix roslyn warnings in Analyzer packages"
There are a few warnings in our analyzer packages that need to be fixed:

[code]

Currently, these warnings are disabled in https://github.com/dotnet/aspnetcore/blob/b9899d9649d43a3816ecc0f30669551e0492dbcb/Directory.Build.props#L74-L75. We should fix the warnings and stop ignoring these in Directory.Build.props.

FYI @NTaylorMullen to assign since I'm not too sure who would own these.

[2020-05-21 18:18] johnnyreilly commented on #14907
One blog post that I hope to be irrelevant one day 🤗

https://blog.johnnyreilly.com/2020/05/autofac-webapplicationfactory-and.html

[2020-05-21 18:23] davidfowl commented on #9020
Hey all, can we redirect some of the requests for gRPC in AppService user voice https://feedback.azure.com/forums/169385-web-apps?

[2020-05-21 18:34] nssidhu commented on #22064
I was able to fix it by adding the following in the blazor client project file
 <BlazorWebAssemblyEnableLinking>false</BlazorWebAssemblyEnableLinking>
Not sure if that is a temporary fix, but would like to hear from the team if that is a viable fix.

[2020-05-21 18:34] HaoK commented on #22081
Yeah by default they use dataprotection

[2020-05-21 18:35] abpiskunov commented on #22064
You mean publish worked after you made that change?

[2020-05-21 18:41] nssidhu commented on #22064
So i was able to reproduce it locally as well. In debug mode on my local system everything worked fine.
When i changed it to release mode i started seeing the same error that i would get during publish.
after making the aforementioned change i was able to run the blazor app locally in release mode as well able to publish .

but unfortunatley the published app still fails at runtime with the same e

[2020-05-21 18:46] abpiskunov commented on #22064
Hm i am a little confused now. The error stack that you pasted on the very top comes from VisualStudio publish view and can happen when yu click Publish button or switch profiles selection. It has nothing to do with runtime behavior of the app. What is the runtime error you are having?

This current github issue is focusing only on the stack above, if you have different problem that is runtime rel

[2020-05-21 18:48] alexperovich commented on #7281
That fixed it. Asp.Net core is once again showing up on source.dot.net.

[2020-05-21 18:48] #7281 closed

[2020-05-21 18:50] minameismud opened #22092 "Unable to debug client-side Blazor WebAssembly hosted by ASP.NET Core inside a Docker container"
Visual Studio 2019 16.6, Blazor 3.2, Edge 81.0.416.77

Starting with a new Blazor WebAssembly App, checking the ASP.NET Core hosted option, verify the debugging steps on [the MSDN Blazor WA debugging page](https://docs.microsoft.com/en-us/aspnet/core/blazor/debug?view=aspnetcore-3.1) work (ie. stick a breakpoint on line 14 of Counter.razor, run app, verify breakpoint is hit when the button is clic

[2020-05-21 18:56] captainsafia commented on #21716
A conversation with @SteveSandersonMS has me re-thinking this a bit.

The interpretation of "attach" that I used above relies on a literal mapping of how attach currently works in the JS debug adapter.

In actuality, a user using the "blazorwasm" debug adapter to "attach" probably intends to attach to a running Blazor WASM application, not a running debugging browser.

This makes a lot more sense

[2020-05-21 18:58] blowdart commented on #22081
@dotcom9 What's happening here is data protection, we take tokens and encrypt and sign them. However your applications are configured to share the keys used for this, so one app can't decrypt tokens encrypted with the other.

There are a couple of things to do, first configure the apps to share a keyring, and second set the apps to have the same application identifier.

How you share depends on yo

[2020-05-21 19:08] arc488 opened #22093 "Calling API controller throws "'System.IO.IOException'""
Everytime I try to post an empty POST request or type the route in the browser I get the following error:

[code]
It's very little to go on and I don't know how to fix it, this is the controller code:

[code]

[2020-05-21 19:09] davidfowl commented on #22093
@arc488 can you show the full stack trace?

[2020-05-21 19:14] BillHiebert commented on #22051
@dmtomczyk Probably the simplest is to add a 2nd profile similar to the following:
[code]
The profiles in launchsettings.json are reflected in the debug dropdown so you can switch between them. This also has the advantage of allowing you to switch env variables to match what you expect for production.
![image](https://user-images.githubusercontent.com/1553785/82596557-52670080-9b5c-11ea-8902-2b60c

[2020-05-21 19:19] arc488 commented on #22093
@davidfowl how would I get that?

[2020-05-21 19:23] digeff commented on #22012
@SIkebe : To help us isolate and diagnose the issue, could you please:
1. Create a new standard ASP.NET project: ASP.NET Core Web Application -> Web Application
2. In the project, in the file wwwroot/js/site.js add: console.log("Test"), set a breakpoing on that line
3. Enable the new JavaScript debugger that we use for debugging Blazor also for standard ASP.NET projects by going to Tools -> Option

[2020-05-21 19:24] Tratcher commented on #22051
@BillHiebert's suggestion is the best option here. The Launch Browser feature is controlled exclusively from launchsettings.json, you can't configure it from your app C# code. With applicationUrl set in the launchsettings you don't need to call UseUrls.

[2020-05-21 19:27] dmtomczyk commented on #22051
@BillHiebert Ah! I had honestly not thought to do that. That setup makes more sense to me anyhow.

Thanks for the help all!

Closing the issue now.

[2020-05-21 19:27] #22051 closed

[2020-05-21 19:31] digeff commented on #21790
@AlexeyBoiko We haven't had a chance to fix the issue yet. We are planning on doing it during version 16.7. I'll let you know when the fix is available for you to test.

[2020-05-21 19:37] NTaylorMullen commented on #22090
@pranavkm you still own analyzers right?

[2020-05-21 19:38] waelkdouh opened #22095 "Provide a better user experience when the browser doesn't support WebAssembly"
Currently when you run a blazor app inside IE the page gets stuck on the loading indicator. Its hard for new comers to understand that IE doesn't support webassembly.

It would be great if we can provide out of the box experience where users will be notified that the browser is not supported and suggest installing alternative browses.

[2020-05-21 19:45] nssidhu commented on #22064
Well the issue was that publish was failing, on further anlyzing the problem i found that underlying problem of publish failing was due to code not compiling when set to release mode.Further anlysis led me to the packge that was throwing an error.
I think you can play around with the sample app that i provided.
So yes the initial issue seemed to be publishing error, but the root cause was that cod

[2020-05-21 20:03] mysteryx93 opened #22097 "Blazor Conditional Display: Item Doesn't Disappear and Then Appears Double"
Using Blazer Server on .NET Core 3.1

Using this code

    <RadzenRadioButtonList @bind-Value="Input.PaymentMethod" TValue="string" Orientation="Orientation.Vertical">
        <Items>
            <RadzenRadioButtonListItem Text="Credit Card USD (for United States)" Value="@StrCreditCardUsd" />
            <RadzenRadioButtonListItem Text="Credit Card CAD (recommended for international)" Value="@Str