[2018-01-02 19:56] pakrym commented on #2737
@Zoxive Interlocked turns on compiled expression tree based service resolution for services requested multiple times and the bug seems to be somewhere in the tree generation its code, that why commenting it out fixes things.

Did you try running same app with 2.1 prerelease bits?

Does this bug repro if you run outside IIS? Kestrel for example.

[2018-01-02 20:01] natemcmaster commented on #2736
@Daniel15 We've contemplated this idea several times over the last year. It would introduce big infrastructure problems that we're not prepared to solve. We have ideas for how it could work, but not enough bandwidth (or motivation) to implement them. The closest thing we have is https://github.com/aspnet/Universe, which collects many repos together as submodules. This takes ~30 minutes to compile

[2018-01-02 20:02] khellang commented on #2736
Let me state just a few reasons why I think this is a terrible idea:

 1. It makes the Home repo really noisy, especially when it comes to notifications. Thanks for the 1500+ new email notifications, BTW 😉
 2. It makes it much harder to find specific issues because of the noise mentioned above.
 3. Because all existing issues were "moved", it's now harder to track existing discussions, gather cont

[2018-01-02 20:03] blowdart commented on #2320
The reason we don't delete is so that any persisted data that has been protected with old keys can still be decrypted. This works much like X509Certificates, where you keep the expired certificates around to decrypt material, but they can't be used to encrypt new material. So, such an API would go against this.

Closing as by design.

[2018-01-02 20:03] #2320 closed

[2018-01-02 20:04] blowdart commented on #2512
@muratg We should revisit this again. It slipped past 2.1, so I've put it in 2.2 so it doesn't drop off.

[2018-01-02 20:09] khellang commented on #2736
Also, if you really want to keep all issues in the Home repo, you should close the issue trackers in all the other repositories instead of leaving a single issue stating "THIS ISSUE TRACKER IS CLOSED - use the Home repo issue tracker". People will still file issues as long as there's an open issue tracker, which will create more work for you folks 😉

[2018-01-02 20:15] Zoxive commented on #2737
Using 2.1 which defaults to ServiceProviderMode.Dynamic same thing, every other request fails with a stackoverflow.
I switched it to Mode = ServiceProviderMode.Runtime and it works everytime.
Switching to Mode = ServiceProviderMode.Compiled fails everytime.

I also believe using 2.1 proves that i dont have circular dependencies? (https://github.com/aspnet/DependencyInjection/pull/592)

I dont thin

[2018-01-02 20:25] pakrym commented on #2737
Yes, I don't think you have circular dependencies, the current theory is that you have pretty large service graph and we use stack space un-optimally when generating expression trees or during their compilation. I also suspect that there might be stricter memory limit inside IIS that's why I would like to try it outside IIS.

Kestrel runs fine on the full framework, it doesn't require core.

[2018-01-02 20:30] Zoxive commented on #2737
@pakrym
The service graph is quite large.

Heres another wrench in the issue.
I created a console app that registers all my services and calls the main service (That the web api proj blows up on) and it works fine.

[2018-01-02 20:32] Daniel15 commented on #2736
Note that GitHub does have an option to totally disable issue tracking per repo. However, this also blocks access to all existing issues, so any links to existing issues will also break! For that reason, please don't disable the issue tracker for these repos!

A single "this tracker is closed" issue along with a "this tracker is closed" issue template is probably sufficient.

[2018-01-02 20:34] galvesribeiro commented on #2736
You can also block who can post issues to a particular repo IIRC

[2018-01-02 20:37] vcsjones commented on #2736
That affects all interactions, including the ability to open PRs.

[2018-01-02 20:38] Daniel15 commented on #2736
Yeah I don't think there's a setting specific to issues (at least, I've never seen it in any repositories)

[2018-01-02 20:45] Zoxive commented on #2737
I just forced my console app to use Mode = ServiceProviderMode.Compiled

And it just sits there eating CPU (memory barley moves about ~ 0.1 megs every few seconds)
The line its on is

CallSiteExpressionBuilder#68
[code]

[2018-01-02 20:49] pakrym commented on #2737
@Zoxive can you privately share the app that forces issue to reproduce?

[2018-01-02 20:56] Zoxive commented on #2737
@pakrym Its a 50~ proj solution only half compiles.. during my IOC conversion..
Let me spend the next hour or so trying to re-create my dependency tree in a single proj I can share.

[2018-01-02 20:56] muqeet-khan commented on #2736
FWIW, if you need to search repo specific issues. You will now need to do:

`is:issue is:open label:repo:HttpAbstractions`
or select the appropriate label
and not
`is:issue is:open repo:HttpAbstractions`

getting into a habit of label:repo:XYZ is going to need some getting used to. Don't think people will use the dropdown because people never seem to use them when they can type and also because th

[2018-01-02 21:24] Eilon commented on #2736
From @khellang :

Agreed, this is unfortunate. Of course the initial migration causes the most noise.

Hopefully GitHub's search, along with a `label:XYZ` query will mitigate that. Fortunately, GitHub has good UI for filtering by label.

I think this is just a near-term problem. Most issues are "new" issues so this problem will eventually solve itself.

I believe this is a fairly minor issue. We r

[2018-01-02 21:27] pakrym commented on #2737
@Zoxive I was able to repro the issue when running in IIS, it fails around 810 services deep into tree generation process with service graph like `S1->S2->....->S999`

[2018-01-02 21:39] Eilon commented on #2736
Another thing worth reminding everyone who read the [announcement](https://github.com/aspnet/Announcements/issues/283) is this:

The key word here is *experimenting*.

We looked at the repo traffic of all the ASP.NET repos and started this experiment with the 20 lowest-traffic repos, so the immediate effect is relatively minimal. If this experiment fails, we will "undo" this change (it's not that

[2018-01-02 21:49] aL3891 commented on #2736
Isn't that an even bigger reason to give the community a heads up first?

People who are not at Microsoft or have access to the same tools and meetings you have, might have different concerns and challenges than you when it comes to using these repos. If you only use yourselves as reference (if that's what you did) you're missing out on a large portion of the community.

[2018-01-02 22:30] pakrym commented on #2737
Correction, it fails in Expression compiler around 250 services deep.

[2018-01-02 22:52] aspnet-hello commented on #2488
This was an accidental issue created from this PR: https://github.com/aspnet/Proxy/pull/76

So this issue isn't needed - just use the original PR at https://github.com/aspnet/Proxy/pull/76.

[2018-01-02 22:58] ryanbrandenburg commented on #2630
The change that fixed this for 2.1.0 was aspnet/Localization#413. The original problem was that corefx removed the GetResourceSet API from ResourceManager, we worked around that with aspnet/Localization#264 (essentially trying to get the full resource set ourselves by hand) but that solution had the problem we see here which is why we started using the GetResourceSet API again once it was availabl

[2018-01-02 23:23] khellang commented on #2736
Maybe _most_, but the noise will be constant. If I just wanted to follow Kestrel issues, I now (or when/if they're moved) have to watch the entire universe of ASP.NET issues, which means a significant amount of noise. And because notifications don't show labels, I have to guess which issues are Kestrel-related by looking at the title.

I watch (and contribute to) quite a few repositories that I fi

[2018-01-02 23:37] HaoK commented on #2390
Docs have been updated for options 2.0 changes here: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/options

[2018-01-02 23:37] #2390 closed

[2018-01-02 23:56] Zoxive commented on #2737
So attempting to create a standalone app.
I created skeletons of my classes so they just have constructors with their dependencies.
Where I'm at right now i get a stackoverflow instantly no matter what ServiceProviderMode. I select. So not the same behavior..

However I came across some of the weirdness carried over from our old IOC (Unity) where we resolve some things a Lazy<T> I removed the 3 pl

[2018-01-03 01:24] reduckted commented on #2736
I recall a similar decision last year where one of the teams (I can't find it, but I think it was in the dotnet or aspnet organization) decided that all announcements would be closed immediately. There was a mass spamming from closing the existing issues. A discussion followed about why they were doing it, the community told them it was a bad idea, so they reverted their decision and reopened all

[2018-01-03 02:03] Rick-Anderson commented on #2329
@davidfowl  I fixed this in https://github.com/aspnet/DependencyInjection/pull/615

[2018-01-03 02:04] Eilon commented on #2736
In today's ASP.NET Community Standup we discussed this topic starting at this time mark: https://youtu.be/_3EpZJxuFJw?t=2328

[2018-01-03 02:13] Eilon commented on #2736
@reduckted we did evaluate several options, including writing custom tools to help manage this. We in fact already use some custom tools, but even they have limitations.

Because of the number of unknowns, we decided to experiment by moving 20 of the lowest-traffic repo's issues to this issue tracker to see how it could work. We don't have a specific plan on when (or even *if*) to move issues from

[2018-01-03 02:15] Eilon commented on #739
@davidreher I believe this file is gone from the upcoming set of templates. In fact, I think it was already gone for quite some time. If you believe there is still an issue, can you let me know what version you're running, and exactly where you're seeing a problem? Thanks!

[2018-01-03 02:38] jbagga commented on #2318
Thanks for letting us know. I am able to repro this. I will look into how to fix this.

[2018-01-03 03:15] reduckted commented on #2736
@Eilon Thanks for the link. I remembered too late and only caught about the last 10 minutes of the standup live.

I accept that the decision has been made, so let's try it out and see how it goes. If it works, great! If it doesn't work, then a different solution can be developed.

Having said that, here's my two cents on this situation:

1. GitHub just doesn't support management of large-scale pro

[2018-01-03 03:58] reduckted opened #2738 "Visual Basic .NET (VB.NET) support in ASP.NET Core"
There have been many questions asked about VB.NET support in ASP.NET Core over the past few years. If you follow them, they all lead to dead-ends - either closed with no real response, or they're moved to other repositories that are unrelated to ASP.NET Core (such as somewhere in the [dotnet organization](https://github.com/dotnet/)).

Over that time, there's been talk of supporting VB. It's compl

[2018-01-03 04:34] gulbanana commented on #2736
i really don’t like the idea of search-based filtering, as i frequently use github on a phone where the search feature is not available.

[2018-01-03 04:55] mhamri commented on #2731
https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.Owin/OwinFeatureCollection.cs

is broken

[2018-01-03 06:20] Tratcher commented on #2731
https://github.com/aspnet/HttpAbstractions/blob/524a0227e5b7945b9520855d37881dabf7e5da32/src/Microsoft.AspNetCore.Owin/OwinFeatureCollection.cs

[2018-01-03 08:02] HarelM commented on #2536
@natemcmaster I couldn't find a small reproduction when I tried to understand the issue on my system.
I'll see if I can create a branch on my project and send you the relevant instructions.
If anyone else has a smaller reproduction please go ahead and send it.

[2018-01-03 12:40] davidfowl commented on #2737
@pakrym transient? Does the scope matter? What does the method look like?

[2018-01-03 14:43] Zoxive commented on #2737
None of my services are transient. The majority are Scoped with the remaining that can be are singletons. (However in my example proj all are scoped.. i generated the files via code..)

Regarding my previous Lazy<T> note above, I had it setup wrong. (My lazy wasn't lazy..) Using Lazy<T> to break circular dependency appears to work fine.
With that being said, i think i'm narrowing down the problem.

[2018-01-03 15:14] Zoxive commented on #2737
@pakrym

I believe this reproduces the problem I am seeing.

https://github.com/Zoxive/DependencyInjection/tree/zoxive/StackOverflow/test/ReproduceStackoverflow

[2018-01-03 17:56] msvaillant opened #2739 "Question: specifing non dafault encoding"
Good day, I am writing with a question to you, because have found no exact tutorials for my problem.

On our project we need to deal with 8-bit encoding for data transfer and we need exactly ISO-8859-6 encoding for JSON and HTML output of aspnet core webservice. And server would be on Linux. Netcoreapp 2.0.  So the question is :
1. How to produce Json in such encoding?
2. How to deserialize reques

[2018-01-03 18:10] muratg commented on #2738
cc @DamianEdwards

[2018-01-03 19:03] pakrym commented on #2737
@davidfowl scoped is generally the worst because it generated largest expressions.

Code: https://gist.github.com/pakrym/7fdee5a01a8b21776b0b4294b87bff94

[2018-01-03 19:14] axelheer commented on #1978
👍

[2018-01-03 19:23] NickCraver commented on #1978
I have an open issue for this in project system land here: https://github.com/dotnet/project-system/issues/2670

[2018-01-03 19:25] hishamco commented on #2738
I logged an issue long time back to use VB alongside with `.cshtml` in [Razor repo](https://github.com/aspnet/Razor/issues/1462), since then I didn't see any action 😟.
Few weeks ago I saw a great example from @DamianEdwards that demonstrate a hyprid VB ASP.NET Core application [here](https://github.com/DamianEdwards/AspNetCoreVbHybrid)

[2018-01-03 19:37] DamianEdwards commented on #1978
@NickCraver that's the right place for this issue to live. Issues pertaining to specific ASP.NET features of the project system should be tracked in aspnet/Tooling

[2018-01-03 19:44] Eilon commented on #1978
Actually, ASP.NET Tooling issues in VS should be reported via VS Feedback.

[2018-01-03 20:04] DamianEdwards commented on #1978
@Eilon if that's the case, can we retire that repo? Or does it have another use?

[2018-01-03 21:24] Eilon commented on #1978
The readme and issue template say to use it: https://github.com/aspnet/Tooling/blob/master/.github/ISSUE_TEMPLATE.md

But I'll follow up with Tooling folks about what to do with the issue tracker / repo.

[2018-01-03 22:14] mkArtakMSFT commented on #2432
We have no plans to build support outside of JSON-Patch specification.

[2018-01-03 22:14] #2432 closed

[2018-01-03 22:16] mkArtakMSFT commented on #2422
This is not a functionality we provide explicitly, but you can use something like AutoMapper(http://automapper.org/) to handle it.

[2018-01-03 22:16] #2422 closed

[2018-01-03 22:33] #2663 closed

[2018-01-03 22:51] HappyNomad commented on #2432
@mkArtakMSFT This issue is not for "building support outside of JSON-Patch specification".  Rather, it is for improving the means of extending it.  Do you want to make it as difficult as possible to do anything outside of the JSON Patch specification?  In that case, you should altogether eliminate `IObjectAdapter`.  If making our lives unnecessarily difficult is not your goal, however, then please

[2018-01-03 23:15] Eilon commented on #2432
@HappyNomad understood, but the main goal of this repo is to support the JSON PATCH spec, though it does include some limited extensibility for at least its own internal needs (such as targeting a few different data models, such as dictionaries, dynamic types, and reflection). We have no plans to add extensibility beyond that scope, however.

[2018-01-04 00:43] Eilon commented on #2735
This issue was moved to aspnet/Mvc#7187

[2018-01-04 00:43] #2735 closed

[2018-01-04 00:44] Eilon commented on #2739
This issue was moved to aspnet/Mvc#7188

[2018-01-04 00:44] #2739 closed

[2018-01-04 01:07] HappyNomad commented on #2432
@Eilon The main goal of this repro is to support the JSON Patch spec.  That is the case and let that continue to be the case.  That is not what this issue is about.

I am not requesting additional extensibility.  On the contrary, I suggest scaling back the amount of possible extensibility to what is actually useful.

On September 9, 2017, I wrote:

Look at the source code.  Your explanation that "

[2018-01-04 01:14] embryologist opened #2740 "AntiForgeryToken validation keeps failing"
I am developing a web `API` app running using `asp.net core2` and `Angular`. The detailed development environment config is [here][1].
I am trying to configure `AntiForgeryToken` validation but it keeps failing. I followed the config. [here][2], but I had to modify it as my angular app and asp.net servers are running on two different ports because the front end startup doesn't generate the token.

[2018-01-04 02:10] hcoona commented on #2542
Does we need every user make this hash preventing routine or would fix it later?

[2018-01-04 04:57] Rick-Anderson opened #5410 "Feature request: email confirmation resend"
related issue: Poor user and dev experience in Identity email confirmation #124

We have lots of customer complaints at the end [Account confirmation and password recovery in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/accconfirm?tabs=aspnetcore2x%2Csql-server)

[2018-01-04 14:58] masterjs commented on #2740
Is it possible that the issue is in your AddAntiforgery where you use `X-CSRF-TOKEN` instead of `X-XSRF-TOKEN` ?

[2018-01-04 19:01] Eilon commented on #2740
@kichalla any idea about this?

[2018-01-04 19:02] #2656 closed

[2018-01-04 19:02] Eilon commented on #2280
@joeloff what repo should this go to?

[2018-01-04 19:04] Eilon commented on #2277
@joeloff - any idea where this bug should go?

[2018-01-04 19:09] Eilon commented on #2296
This appears to be exactly what @halter73 said. The filter is writing to the response body, which means that the headers cannot be changed. Then, when MVC tries to render a view, it tries to set headers, which causes this exception. It is recommended that filters either not write to the body at all, or if they do, that they end the request there by preventing the result from executing.

[2018-01-04 19:09] #2296 closed

[2018-01-04 19:11] Eilon commented on #2301
@SteveSandersonMS any ideas on this?

[2018-01-04 19:15] Eilon commented on #1531
@DamianEdwards , can you provide any info on plans for IoT support?

[2018-01-04 19:29] anurse commented on #2459
We can't take the latest changes due to API changes. However, I'm going to bring over just the fix in https://github.com/dotnet/corefx/pull/24055 for Preview 1.

[2018-01-04 19:40] axelheer commented on #1978
@NickCraver I might point out that "Using F5" is indeed possible (as described [above](https://github.com/aspnet/Home/issues/1978#issuecomment-330894604))

The biggest problem (at least for me) is that Visual Studio selects the wrong Razore editor (ASP.NET Core instead of ASP.NET), which makes editing "classic" .cshtml stuff quite impossible. And I've still no idea how to change that...

[2018-01-04 20:41] kichalla commented on #2740
Couple of things I noticed here
- As @masterjs suggested, you are using an incorrect header name. You need to use `X-XSRF-TOKEN` in options (which is what angular sends on seeing the `XSRF-TOKEN` cookie).
- Also the POST request you posted doesn't have the `X-XSRF-TOKEN` header (even though there is a `XSRF-TOKEN` cookie), this tells me you are making a cross site request? (based on the `referrer`

[2018-01-04 20:54] smiller781 commented on #1864
Mine has LoadUserProfile = true.  Still not working.

[2018-01-04 21:48] Eilon commented on #2740
Ah, interesting findings, I think you are right.

[2018-01-04 21:52] jbagga commented on #2318
Please note I only investigated the CORS part of the repro (did not include auth yet).

This is where the exception gets thrown https://github.com/aspnet/CORS/blob/dev/src/Microsoft.AspNetCore.Cors/Infrastructure/CorsPolicyExtensions.cs#L19

@rynowak @kichalla Thoughts? I don't think it is safe to allow a malformed uri unless the policy states to allow any origin. According to [w3c](https://w3c.gi

[2018-01-04 22:48] mkArtakMSFT opened #2741 "Remove code not shipping in 2.1 release"
There was some Dispatcher related code introduced to the routing repo, as part of a feature which was pushed out. So that code needs to be taken out.
@rynowak, can you please provide details about exactly should be removed?

[2018-01-04 23:02] hscanlan opened #2742 "The remote party closed the WebSocket connection without completing the close handshake"
I have a WebSocket middleware in a .NET CORE 2.0.1 WebAPI project.

I have a separate "FrontEnd" project, which connects fine and allows messages to be passed back and forth easily.

I want to be able to send messages from my Controller to my site, so I extended my WebSocketHandler and created an abstract RecieveAsync method to override and then call via my controller.

Everything works as expecte

[2018-01-05 00:47] natemcmaster commented on #2741
Just FYI - as an alternative to deleting the code altogether, you can just prevent it from ending up in a NuGet package by setting this property in the csproj file.
[code]
We've done this in other repos where half-baked coded wasn't finished in time for a release.

[2018-01-05 00:53] jbagga commented on #2741
@rynowak Since some Routing APIs now depend on stuff in the Dispatcher projects, will it be safe to just add <IsPackable>false</IsPackable> to Dispatcher projects?

@natemcmaster Is there a way to test if things will be broken or not if some projects are NuGet packages and others aren't?

[2018-01-05 00:57] natemcmaster commented on #2741
You would need to remove these packages from this list:
https://github.com/aspnet/Universe/blob/dev/build/artifacts.props#L63-L64

You can verify this works in universe by doing the following:

1. `git clone --recursive https://github.com/aspnet/Universe`
2. Edit modules/Routing to remove the dispatcher packages)
3. Run `build.cmd /t:ComputeGraph` in universe. This will examine all projects to ens

[2018-01-05 01:53] rynowak commented on #2741
This is not going to work. Routing now has a dependency on Dispatcher, that part needs to be reverted.

[2018-01-05 09:43] dwdickens commented on #2272
I just had this occur. Guessing MS is rolling out updates to Meltdown and Spectre which caused a restart of the Azure web app.

[code]

[2018-01-05 10:37] SteveSandersonMS commented on #2301
This is an Angular usage issue, not a bug in ASP.NET, so I'll mark it as closed.

@Albemuth84 Please see up-to-date Angular docs for details on their SSR APIs. I'm pretty sure it doesn't involve `angular2-universal` any more - that package hasn't even been updated in the last year. Also note that the ASP.NET Core Angular template has SSR enabled out of the box, so you don't have to install any oth

[2018-01-05 10:37] #2301 closed

[2018-01-05 14:38] HappyNomad opened #2743 "JSON Patch: Support real extension scenarios without copying heaps of code"
`Microsoft.AspNetCore.JsonPatch` is an important library in my projects.  To be useful, however, I must tweak its `ApplyTo` behavior as described at #2432.  Judging from others' issues I've read, what I'm doing isn't unusual.  It seems to be a common need.  I'm thankful that at least some extension point exists, but the current extensibility mechanism is cumbersome.  The API should be improved.

I

[2018-01-05 15:05] HappyNomad commented on #2432
Since this issue wasn't repurposed, I filed a new one at #2743.

[2018-01-05 16:13] Tratcher opened #4762 "OCSP Stapling support for Kestrel"
_From @rsrinivasanhome on January 5, 2018 13:28_

Does Kestrel Support OCSP Stapling ?  I am not able to find any links on google.

_Copied from original issue: aspnet/AspNetCoreModule#283_

[2018-01-05 16:19] joeloff commented on #2280
SetupSharedframework and if we want to do this retroactively for 2.0.x releases, SetupCrossgen too

[2018-01-05 16:51] johnrutherford opened #2744 "DataProtection version issue: The provided payload cannot be decrypted because it was not protected with this protection provider."
I'm having an issue that appears to be similar to this one:
https://github.com/aspnet/DataProtection/issues/187

We recently upgraded an ASP.NET Core 1.1 application (targeting the .NET Framework 4.6.1) to ASP.NET Core 2.

We have started getting this error message in our logs:

[code]

I've looked at the keys our application is using and they contain this, which I think may be the problem:

[code

[2018-01-05 17:04] jkotas opened #2745 "Why Cors AddPolicy doesn't allow *.example.com ?"
_From @AhmedRagheb on January 5, 2018 13:58_

Hello,

Is there a reason (security may be) that prevent Cors AddPolicy from adding all subdomains of my domain in Origins list. As I think it doesn't make sense to add all my subdomains to the Origins list.

Thanks.

_Copied from original issue: dotnet/coreclr#15753_

[2018-01-05 17:04] jkotas commented on #2745
This belongs to https://github.com/aspnet/CORS repo

[2018-01-05 17:04] jkotas commented on #2745
This issue was moved to aspnet/CORS#140

[2018-01-05 17:09] BrennanConroy commented on #2744
If you follow the links in the issue you linked, it eventually leads to https://github.com/aspnet/DataProtection/issues/265#issuecomment-325438923
Where we back-ported a fix from 2.0 to 1.1.3 version of DataProtection.
Not sure what the best practice here is, can you upgrade to 1.1.3 before upgrading to 2.0, and try to encrypt everything?

[2018-01-05 18:31] johnrutherford commented on #2744
We have already completed the upgrade to 2.0. We would not be able to downgrade to 1.1.3 and then upgrade again to 2.0.

At this point, the existing keys are not working anyway.... So maybe just clearing them out and restarting the applications is the simplest way to go forward. Or could I just edit the key files and change the version number?

[2018-01-05 19:05] blowdart commented on #2744
If you're not concerned you could just delete the entire keyring. Editing would probably work unless someone changed the class names or structures.

@natemcmaster that patch should work though shouldn't it? It should have pulled 1.x up to 2.x, or at least that's what I'd hoped.

[2018-01-05 19:08] BrennanConroy commented on #2744
@blowdart They were using 1.1.2, the patch with the fix was 1.1.3

[2018-01-05 19:10] blowdart commented on #2744
Yes but @johnrutherford says they moved to 2.0, which had the patch, right? So it should have not thrown an error.

[2018-01-05 19:50] halter73 commented on #2272
@dwdickens Did this require a manual restart? If so, can you show us what your Program.Main look like?

[2018-01-05 20:02] natemcmaster commented on #2744
https://github.com/aspnet/DataProtection/issues/187 was included in 2.0.0. @johnrutherford can you provide a repro? Here is the minimal repro I used to validate this fix when we backported the fix to 1.1.3. https://gist.github.com/natemcmaster/7dfb37813a3024f228971ea89188dfde

[2018-01-06 00:03] kichalla commented on #2408
Oops. Closed by mistake

[2018-01-06 14:54] szogun1987 commented on #1915
This issue still occurs. Application ignores both 'urls' and 'server.urls' parameters no matter if I pass them via command line or place in .json file. environment variable ASPNETCORE_URLS works fine.
I used ``publish --configuration Release --self-contained --runtime win-x64`` to build mine solution. I have debug mine app a little bit and figured out that host._config file doesn't contains refere

[2018-01-06 15:01] szogun1987 commented on #1915
OK I figured out what was wrong. ConfigureAppConfiguration doesn't affect config used during app startup. It is used later.

[2018-01-06 21:24] nakinnubis commented on #2181
thanks saved me too @hgrewa

[2018-01-06 23:10] HappyNomad commented on #2432
Since this issue wasn't repurposed, I filed a new one at #2743.  I've also edited in a note that the existing extensibility mechanism, and the improvement I propose for it, is also useful when NOT diverging from the spec.  The spec says,

   to apply to a target JSON document...

   necessary to make partial updates to a JSON document or to a data
   structure that has similar constraints (i.e., t

[2018-01-07 12:43] symlynk opened #2746 "Add support for CancellationTokens in AuthorizationHandler"
The following methods are missing CancellationToken parameters in Microsoft.AspNetCore.Authorization.AuthorizationHandler:

[code]
Microsoft.AspNetCore.Authorization Version 2.0.1.0

[2018-01-07 15:17] dazinator opened #2747 "[Question] 1.1 -> 2.0 ITagHelperTypeResolver"
I am attempting to upgrade my asp.net core 1.1 mvc application to 2.0

I was previously deriving an: `ITagHelperTypeResolver`

This no longer seems to compile after the upgrade to 2.0. I can no longer find types:
- ITagHelperTypeResolver
- ErrorSink

[code]

Which I would register on startup:

[code]
Basically this let me use wildcard matching on assembly names for my `addTagHelper` directives.

[2018-01-08 04:37] hscanlan commented on #2742
Any help here would be appreciated. It's really causing an issue in one of my web projects

[2018-01-08 07:55] hcoona opened #2748 "[Question] [aspnet/Options] Is there any approach to monitor on a configuration of list value?"
This question is about [aspnet/Options](https://github.com/aspnet/Options).

Is there any way to monitor on a configuration of list value? The existing [OptionsMonitor](https://github.com/aspnet/Options/blob/dev/src/Microsoft.Extensions.Options/OptionsMonitor.cs) is able to monitor configuration value changes for a single option. However, it's not possible to monitor on a list values.

For example

[2018-01-08 08:46] McKabue opened #2749 "asp net core 2.* IpRestrictionModule"
asp net core 1.* used to work with IpRestrictionModule, now it doesn't... here are my settings

[code]
the following is the error :

[code]
did asp.net core 2.* change how IpRestrictionModule is implemented?

[2018-01-08 09:54] hcoona commented on #2748
OK, I found a simple workaround:
[code]

[2018-01-08 09:54] #2748 closed

[2018-01-08 10:03] McKabue commented on #2749
i used localhost, might have coursed the issue... doing more tests...

[2018-01-08 11:26] hcoona commented on #2542
So I wrote a library helps it: https://github.com/hcoona/MicrosoftExtensions.Options.DedupChangeExtensions

[2018-01-08 13:24] #2749 closed

[2018-01-08 15:13] Infoseeker commented on #2285
Is this issue resolved ?

[2018-01-08 16:07] johnrutherford commented on #2744
I have been unable to reproduce this issue in isolation, so I'm thinking the problem isn't with the version. Unfortunately, the full exception is not being logged. Just the exception message, so I don't have much to go on.

[2018-01-08 17:04] joeloff commented on #2277
@sourceskyboxer can you please point to the specific installer in question, e.g. provide a URL?

[2018-01-08 17:54] Major88 commented on #2277
Pisz po Polsku albo wcale

08.01.2018 18:04 "Jacques Eloff" <notifications@github.com> napisał(a):

[2018-01-08 18:11] joeloff commented on #2277
@Eilon  I suspect this is happening on Dev14 as it's the only version of VS currently supported by the Azure SDK install that would potentially bring in .NET Core 1.0, but we probably need either the setup logs and/or the installer URL to confirm.

[2018-01-08 18:53] NTaylorMullen commented on #2747
@dazinator in 2.0 we reduced the amount of public API we surfaced in regards to language specific features. So the bad news is today you are no longer able to overload the `@addTagHelper` meaning.

The closest you can get to what you had before is to add dynamic imports to RazorEngine options and have those imports include `@addTagHelper`s. I understand this isn't ideal so if you'd like feel free

[2018-01-08 19:01] Eilon commented on #2280
Doesn't seem patch-worthy. Which repo(s) track 2.1 work for this?

[2018-01-08 19:08] Eilon commented on #2432
@HappyNomad sorry for the delay, I've been out sick the last several days. We can continue the discussion in the new bug you filed.

[2018-01-08 19:08] jbagga commented on #2318
Incorrectly formatted origin is treated as a malformed `Origin` header and not a valid allowed origin

[2018-01-08 19:08] #2318 closed

[2018-01-08 19:09] joeloff commented on #2280
For 2.1, SetupSharedFramework

[2018-01-08 19:15] Eilon commented on #2280
Moved to https://github.com/aspnet/SetupSharedFramework/issues/2.

[2018-01-08 19:15] #2280 closed

[2018-01-08 19:15] kichalla commented on #2740
I am confused by the details here. Can we separate the issues?

(I am assuming you are using 2.0.0 version of ASP.NET Core MVC)

Antiforgery validation runs [after](https://github.com/aspnet/Mvc/blob/rel/2.0.0/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ValidateAntiForgeryTokenAttribute.cs#L32-L33) authentication.

Questions:
- Are you able to make authentication work without the `ValidateAntiForger

[2018-01-08 22:10] Eilon commented on #2747
This issue was moved to aspnet/Razor#1917

[2018-01-08 22:10] #2747 closed

[2018-01-08 22:11] Eilon commented on #2746
This issue was moved to aspnet/Security#1598

[2018-01-08 22:11] #2746 closed

[2018-01-08 23:57] Tratcher opened #2750 "Review naming of ITrackingConsentFeature and CanTrack"
@blowdart @DamianEdwards
https://github.com/aspnet/HttpAbstractions/blob/6558c2bd07dc3e40c477a33ee0ec4663a8ff81a7/src/Microsoft.AspNetCore.Http.Features/ITrackingConsentFeature.cs
https://github.com/aspnet/templating/pull/213/files

[2018-01-09 00:11] tonysneed opened #2751 "Publish with async Main - Error CS8107: Feature 'async main' is not available in C# 7.0"
When I publish an ASP.NET Core Web API that has an async Main method: `public static async Task Main`, I get the following error:

[code]

This occurs even _after_ setting the **language version** of each project in the solution to **C# 7.2** for _both Debug and Release_ build configurations.

Visual Studio 2017 Version: 15.5.2
OS Version: Windows 10 Pro Version 1709

[2018-01-09 03:32] arishlabroo opened #2752 "Question: Providing fallback for options factory"
PS: This is a question, not a bug. Please close if not appropriate to ask here.

I have many configurations, and I end up doing this a lot
`services.Configure<FooBoo>(configuration.GetSection("FooBoo"));`

where `configuration` is always the root, and section name always matches the class name .

To try to automate this I looked here https://github.com/aspnet/Options/blob/dev/src/Microsoft.Extensi

[2018-01-09 04:09] embryologist commented on #2740
@kichalla
My authentication is working fine, with either of both attributes. I tested my controller with `[Authorize]` or `[Authorize(AuthenticationSchemes = JwtBearerDefaults.AuthenticationScheme)]` or both and I receive 200 response no issues. once I add `[ValidateAntiForgeryToken]` the controller sometimes respond other times give me a 400 bad request.
Where is the best place to generate the to

[2018-01-09 04:59] pingvinius opened #2753 "Could not load file or assembly 'System.Text.Encoding.CodePages, Version=4.1.0.0...'"
_From @pingvinius on January 7, 2018 18:43_

Hello,

I found a strange issue when using CodePagesEncodingProvider of System.Text.Encoding.CodePages assembly.
I did not test other encoding but when I try to return a file in aspnet core mvc application in the following encoding CodePagesEncodingProvider.Instance.GetEncoding(866), the application throws an exception:

A code is extremely simple:
[cod

[2018-01-09 04:59] pingvinius commented on #2753
_From @karelz on January 7, 2018 21:11_

Can you reproduce it in a Console application as well (outside of MVC)?
Are you running on .NET Core 2.0 or on .NET Framework 4.6.1+?

[2018-01-09 04:59] pingvinius commented on #2753
I've forgotten to tell, I also tried to reproduce this issue on a console application, both on my local pc and in a docker container, but it works as expected.
I am running .NET Core 2.0 (netcoreapp2.0) framework.

Also I tried to add the line below to project file:
`<PublishWithAspNetCoreTargetManifest>false</PublishWithAspNetCoreTargetManifest>`
It did not help at all.

Please correct me, if I'm

[2018-01-09 04:59] pingvinius commented on #2753
_From @tarekgh on January 8, 2018 18:13_

This is a duplicate of https://github.com/aspnet/Mvc/issues/6983. please follow the resolution steps there.

[2018-01-09 04:59] pingvinius commented on #2753
I already tried both solutions, they are not helpful, just test them with a sample project and you will see that the issue is still reproducible. Please re-open the issue.

[2018-01-09 04:59] pingvinius commented on #2753
_From @tarekgh on January 8, 2018 19:4_

did you try

[code]

This is aspnet publishing issue. so if you think this is a different issue, please move this issue to aspnet repo.

[2018-01-09 07:21] ajayak opened #2754 "Unable to start Asp.Net Core 2.0 app in Debug Mode"
On running the Asp.Net Core 2.0 app in Visual Studio 2017, I get the following error in the Output window:

The program '[10088] dotnet.exe' has exited with code -42 (0xffffffd6).
The program '[4636] chrome.exe: WebKit' has exited with code -1 (0xffffffff).

Output from `dotnet --info`
[code]

I am able to run the application using `Ctrl+F5` without any issue.

[2018-01-09 09:26] rjamesnw opened #2755 "Why services.AddTransient<ISessionStore, DistributedSessionStore>() ?"
Why is this code in the source (`SessionServiceCollectionExtensions.cs`):

`services.AddTransient<ISessionStore, DistributedSessionStore>();`

and not this instead?

`services.TryAddTransient<ISessionStore, DistributedSessionStore>();`

I have to use a minor work-around to inject my own 'ISessionStore', so this seems inconsistent to how other items get registered.  Typically I've been seeing the l

[2018-01-09 13:45] AhmedRagheb commented on #2745
Any updates or explanation regarding this?

[2018-01-09 16:24] Eilon commented on #2755
@muratg - triage.

[2018-01-09 16:25] Eilon commented on #2752
@ajcvickers - triage.

[2018-01-09 16:26] Eilon commented on #2751
@tonysneed can you show what your CSPROJ looks like? And also, after you publish your app, it's already been compiled, so where is the new compilation error coming from? A deployed app should just be DLL files, no CS files anymore.

[2018-01-09 16:32] Eilon commented on #2754
Hi @ajayak , can you set VS to catch all CLR exceptions and run with <kbd>F5</kbd> again?
![image](https://user-images.githubusercontent.com/202643/34731566-874b03de-f517-11e7-82f8-0d60de55ae39.png)

[2018-01-09 16:32] Eilon commented on #2315
Hi @haouatmohamed , can you share more info about this error? Can you upload your app to GitHub, and also show a screenshot of the error(s)?

[2018-01-09 16:33] Eilon commented on #2310
Closing because there is not enough information to reproduce this problem.

[2018-01-09 16:33] #2310 closed

[2018-01-09 17:56] ajcvickers commented on #2752
@HaoK Can you take a look at this question?

[2018-01-09 18:35] Eilon commented on #2303
Hi, there is no one on the ASP.NET team working on implementing this, but I agree it's very cool, so I hope there's someone out there working on it.

[2018-01-09 18:35] #2303 closed

[2018-01-09 18:54] guylando opened #2756 "Random csrf errors"
When many users are logged on to our website and they make many requests then sometimes we encounter unexplained csrf token errors. When the error happens then if user submits request again with same values (same csrf token and header) then it works the second time.

Anyone have any idea what it can be related to?

To handle csrf errors we created a middleware which catchs empty body http status 4

[2018-01-09 18:54] muratg commented on #2755
@Tratcher Any thoughts here?

[2018-01-09 18:57] guylando opened #2757 "csrf antiforgery token not refreshed automatically on logout\login"
I noticed that the net core csrf token is not refreshed automatically on logout\login. Is it the correct behaviour?
Are we supposed to refresh the csrf token manually on login? on logout? What is the correct way to refresh it? Just clear the cookie and thats it? Should do it in ConfigureApplicationCookie events OnSigningIn, OnSigningOut?

[2018-01-09 19:02] Tragetaschen commented on #2751
I had that happen to me recently on my Linux build machine. The reason was that I had only SDK 2.0 installed and the fix was adding 2.1 as well.

[2018-01-09 19:07] Tratcher commented on #2755
We haven't been consistent about using Try to add services across the stack. If Try is the recommendation then we'd want to scrub the whole org.

[2018-01-09 19:17] javiercn opened #2758 "The CLI SDK installer fails to properly generate the ASP.NET HTTPS certificate"
This is mostly likely due to the installer running with a different scope.

This is a tracking issue for our HTTPS work.

[2018-01-09 21:27] muratg commented on #2755
This would be a breaking change, so putting this in 3.0.0.

[2018-01-09 21:57] tonysneed commented on #2751
Here is the csproj file for my ASPNETCORE Web Api:

[code]

Notice that `LangVersion` is **latest** (vs default), which is the value for all projects in the solution, both for Debug and Release.

Here is the Publish Profile I'm using:

[code]

[2018-01-09 21:57] MV10 opened #2759 "Authorization header error using DataProtection PersistKeysToAzureBlobStorage"
I've been trying to set up ASP.NET Core 2 DataProtection to persist shared keys to Azure Blob Storage. I'm pretty sure my setup is correct. At the moment this is running as localhost, the web apps aren't actually deployed to Azure yet. I know CORS is correct, I have other code in the same web app that uploads files to other containers in the same storage account using SAS generated on the fly. The

[2018-01-09 23:45] Eilon commented on #2751
@tonysneed thanks for sharing those. Do you have more info about what is happening when the error shows up? Once the app is published, there's no `Program.cs` file to compile, so I'm at a loss as to how that is happening at all. At most there would be some CSHTML files being compiled (they get converted to CS files, then compiled with CSC.exe), but not the Program.cs file.

[2018-01-09 23:45] Eilon commented on #2755
How is this a breaking change? It'll just throw exceptions less often, no?

[2018-01-09 23:48] tonysneed commented on #2751
@Eilon Yes, the error takes place when the Publish command is _building_ the project.  Because the **build step** of Publish fails, the web app is never published.

[2018-01-09 23:51] Eilon commented on #2309
Hi, do you have info on where the performance is slow? Have you tried using your browser's debugging/development tools to see what the problem is?

[2018-01-09 23:53] Eilon commented on #2304
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the `asp.net-core-mvc` tag.

[2018-01-09 23:53] #2304 closed

[2018-01-09 23:55] Eilon commented on #2260
Closing because there is not enough information to reproduce this problem.

[2018-01-09 23:55] #2260 closed

[2018-01-09 23:56] Eilon commented on #2257
Closing because there is not enough information to reproduce this problem.

[2018-01-09 23:56] #2257 closed

[2018-01-09 23:59] Eilon commented on #2316
Hi, do you have more information, such as ETW traces, or log info, to show where the slow-down is? Is it on the web server? Or the database? Or a proxy?

[2018-01-09 23:59] Eilon commented on #2307
Closing because there is not enough information to reproduce this problem.

[2018-01-09 23:59] #2307 closed

[2018-01-10 00:02] Eilon commented on #2270
@NTaylorMullen / @rynowak - where should this bug go?

[2018-01-10 00:02] Eilon commented on #2272
@halter73 - should this bug move to the Kestrel repo?

[2018-01-10 00:03] Eilon commented on #1291
This issue was moved to aspnet/Razor#1923

[2018-01-10 00:03] #1291 closed

[2018-01-10 00:13] NTaylorMullen commented on #2270
It sounds like this issue was resolved. I'd suggest closing 😄

[2018-01-10 00:23] halter73 commented on #2272
This issue was moved to aspnet/KestrelHttpServer#2250

[2018-01-10 00:23] #2272 closed

[2018-01-10 00:55] pranavkm opened #2760 "Determine what to do with pdbs for the shared runtime"
As a follow up to https://github.com/aspnet/Universe/issues/131, we need to figure out what to do with the pdbs for the AspNetCore shared runtimes. Pdbs for the managed pdbs do not work with pdbs for the x-gened shared runtime binaries. This means we would need a way to distribute x-gened pdbs

[2018-01-10 00:55] pranavkm commented on #2760
cc @JunTaoLuo \ @Eilon

[2018-01-10 00:55] JunTaoLuo commented on #2598
cc @murat @Eilon for triage. February patch?

[2018-01-10 00:55] JunTaoLuo commented on #2599
cc @murat @Eilon for triage. February patch?

[2018-01-10 00:55] JunTaoLuo commented on #2600
cc @murat @Eilon for triage. February patch?

[2018-01-10 01:24] Eilon commented on #1074
Closing because no further action is planned for this issue.

[2018-01-10 01:24] #1074 closed

[2018-01-10 01:24] Eilon commented on #2751
Oh I see, it's the publish process itself, not the published app.

@vijayrkn - any idea why the publish process would use different C# settings than a regular build?

[2018-01-10 01:26] Eilon commented on #2751
@tonysneed I wonder if a different `Condition="'$(Configuration)|$(Platform)'=='Debug|AnyCPU'"` is used in that case?

At least for debugging purposes, can you try moving the `<LangVersion>latest</LangVersion>` to the main `<PropertyGroup>` at the top? I always do that manually in my own CSPROJ files because I feel obligated to "refactor" my CSPROJ files 😄

[2018-01-10 01:26] Eilon commented on #1042
Closing because no further action is planned for this issue.

[2018-01-10 01:26] #1042 closed

[2018-01-10 01:27] Eilon commented on #2274
@NTaylorMullen / @rynowak / @pranavkm - where should this issue go?

[2018-01-10 01:28] #2270 closed

[2018-01-10 01:33] vijayrkn commented on #2751
@Eilon - Don't know why this is happening. I will take a look.

[2018-01-10 01:47] pranavkm commented on #2274
There's nothing to do here. The fix has been available since 2.0.3, so updating the package should resolve the issue.

[2018-01-10 01:47] #2274 closed

[2018-01-10 02:03] vijayrkn commented on #2751
@tonysneed  Did publish succeed after moving the LangVersion property to the main PropertyGroup?

[2018-01-10 02:09] tonysneed commented on #2751
I'll try that.  Need a bit of time.

[2018-01-10 02:31] tonysneed commented on #2751
@vijayrkn Moving `LangVersion` to the main property group fixed the issue for me.  It looks like Publish ignored the `Condition`?

[2018-01-10 02:43] vijayrkn commented on #2751
Looks like an issue with the handling of the platform name in publish. As a work-around you can either move the property outside or add these additional conditions.
[code]

[2018-01-10 05:10] Eilon commented on #2751
@vijayrkn should this bug go to https://github.com/aspnet/websdk ?

[2018-01-10 05:17] vijayrkn commented on #2751
This is a bug in the VS side. VS bugs are tracked in developer community.

Found another bug in the developer community for the same issue.
https://developercommunity.visualstudio.com/content/problem/160971/migrating-from-vs2017-1545-to-1550-causes-cs8107-e.html

This bug can be closed as dupe and we can use the developer community bug to track the issue progress.

[2018-01-10 05:21] Eilon commented on #2751
Thanks @vijayrkn !

[2018-01-10 05:21] #2751 closed

[2018-01-10 05:24] nixxholas commented on #2265
@masaab Any solution?

[2018-01-10 05:41] ajayak commented on #2754
Hi @Eilon,
I realized that the error I have is not a CLR error. Thanks for the suggestion 👍

[2018-01-10 05:41] #2754 closed

[2018-01-10 06:17] supernarwen commented on #2309
Hi, Thanks for looking into it! I have attached my repo! You can access it!! Minifed assets are taking too much time to load in my local whereas its comparatively faster in server. Its the main issue. I have looked into network of chrome and firefox. And it takes more than a minute to load a simple CSS or JS file even if it is present locally and it is minified.

[2018-01-10 07:20] Boombasteg commented on #2310
Problem was in VS. It should be restarted after changing "ASPNETCORE_ENVIRONMENT".

[2018-01-10 13:24] samusaran opened #2761 "SetCookieHeaderValue.Parse does not accept non-RFC 1123 date values on expires."
## What happens

When I'm trying to parse a cookie like this one: `1P_JAR=2018-01-10-13; expires=Fri, 09-Feb-2018 13:17:26 GMT; path=/; domain=.google.it`, I get a `System.FormatException: The header contains invalid values at index 0`.

If I remove the expires key, or I manually change the value to `Fri, 09 Feb 2018 13:17:26 GMT`, the parse works as expected.

## What should happen

The [RFC 2616

[2018-01-10 13:35] MV10 commented on #2759
For the record, using the container / filename version _seems_ to work -- no exceptions are thrown, and my key file was written to storage. Is this secured only by CORS? (I understand CORS for localhost is dangerous but this is a temporary test configuration.)

`.PersistKeysToAzureBlobStorage(container, "keys.xml");`

[2018-01-10 13:36] StingyJack commented on #1961
@davidfowl  - Does this constitute the official EOL statement from MSFT for WebForms?

[2018-01-10 13:52] huzaynbolt opened #2762 "MultipartReader Instance Method (ReadNextSectionAsync) throws IOException: Unexpected end of Stream, Error."
# Issue Title

MultipartReader Instance Method (ReadNextSectionAsync) throws IOException: Unexpected end of Stream, the content may have already been read by another component.

# General

I wrote a Custom media formatter for a WEB API project running on .NET core 2.0 Windows 10 (64 bit). On the ReadRequestBodyAsync method I was accessing the content body and on using reader=MultipartReader(bounda

[2018-01-10 14:01] marcobarbero commented on #1249
In the Startup.cs of the ClientProject:

public IServiceProvider ConfigureServices(IServiceCollection services)
{
    // Add external reference to MVC controller
    services.AddMvc().AddApplicationPart(
        typeof(MyController).GetTypeInfo().Assembly)
        .AddControllersAsServices();
}
This post from:
https://expertcodeblog.wordpress.com/2018/01/10/asp-net-core-2-0-mvc-how-to-use-a-contro

[2018-01-10 14:38] niemyjski opened #2763 "Release notes on 2.0.5 as well as azure deployment timeline"
I noticed the release notes for 2.0.5 are still not out. Also can you please give some guidance on release time frames for the run times / meta packages to get onto azure? That's not really known each release and pretty annoying considering we choose the meta package but get penalized for it.

[2018-01-10 15:19] guylando commented on #2756
might be related: https://github.com/aspnet/Security/issues/1602#issuecomment-356625853

[2018-01-10 16:07] nixxholas opened #2764 "Exception thrown: 'Microsoft.AspNetCore.Routing.RouteCreationException' in System.Private.CoreLib.dll"
Relates to: https://github.com/aspnet/Home/issues/2265

Doesn't give me any stacktrace to be exact.

Stacktrace:
[code]

So after resolving that by changing the order of startup.cs elements, I got a new issue

[code]
Basically i have a custom websocket middleware, changed its initialization code to start after mvc is done.

The view exists. Please let know exactly what i need and i'll get it sorte

[2018-01-10 16:46] Tratcher commented on #2763
Azure rollout and corefx release notes: https://github.com/Azure/app-service-announcements/issues/72

[2018-01-10 16:51] Tratcher commented on #2763
@danroth Asp.Net release notes? Or is it constrained to https://github.com/aspnet/Announcements/issues/284 and https://github.com/aspnet/Announcements/issues/285?

[2018-01-10 16:54] niemyjski commented on #2763
But generally speaking, wish there was a level of expectation documented
like, we released these details on CVES but you Gotta wait X period of time
before they are deployed. Seems bad the changes aren't live when the
announcement takes place. You are left wide open and can't deploy because
the runtime is out of date.

Thanks
-Blake Niemyjski

On Wed, Jan 10, 2018 at 10:51 AM, Chris Ross <notifica

[2018-01-10 17:25] pranavkm commented on #2764
Is there a repro app you could share?

[2018-01-10 17:50] muratg commented on #2755
It's about about changing the extension method's name (and behavior around exceptions). Unfortunately we're not consistent around these extension methods across our components.

[2018-01-10 17:59] pingvinius commented on #2753
Is there anybody here? The issue is still not resolved.

[2018-01-10 18:08] tarekgh commented on #2753
maybe better to move it to aspnet/Mvc repo instead.

I am CC'ing @JunTaoLuo who investigated the other related issue before so he may help.

[2018-01-10 18:24] Eilon commented on #2755
This isn't about changing any method's name... it's about changing the code to call a different already-existing method.

[2018-01-10 18:26] Eilon commented on #2309
Are you able to tell if it's slow on the server or on the client? You can try enabling detailed ASP.NET Core logs to see what's happening on the server, and you can use your browser's tools to see what is taking long on the client.

[2018-01-10 18:35] muratg commented on #2755
My bad, you're right. @Tratcher can you please take a look to see if this was just an oversight and not by-design?

[2018-01-10 18:50] jbagga opened #2765 "Tolerate a leading / or ~/ on conventional routes"
_From @rynowak on September 9, 2017 0:5_

We throw an exception today if you do this, but we allow it in attribute routes. We should allow this.

When we generate a url using a route like `"~/foo"` the resulting url should be "/foo" not `"~/foo"`

_Copied from original issue: aspnet/Routing#441_

[2018-01-10 18:58] Eilon commented on #2758
@javiercn what repo is this work in?

[2018-01-10 19:02] Eilon commented on #2762
This issue was moved to aspnet/Mvc#7227

[2018-01-10 19:02] #2762 closed

[2018-01-10 19:02] Eilon commented on #2291
Closing because there is not enough information to reproduce this problem.

[2018-01-10 19:02] #2291 closed

[2018-01-10 19:04] Eilon commented on #2314
@ColbyBurke can you try simplifying some parts of your application to narrow down the cause? Also, where are you seeing the "connection refused"?

[2018-01-10 19:04] Eilon commented on #2312
@rynowak - do we have guidance on this that we can share?

[2018-01-10 19:07] Eilon commented on #2300
Hi. This looks like this is a question about how to use IIS. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the 'iis' tag, or to the IIS forums at https://forums.iis.net/.

[2018-01-10 19:07] #2300 closed

[2018-01-10 19:08] #2235 closed

[2018-01-10 19:08] Eilon commented on #2235
BTW for issues with VS, we recommend using VS's built-in "Report a Problem" feature.

[2018-01-10 19:10] Eilon commented on #2294
Closing because there is not enough information to reproduce this problem.

[2018-01-10 19:10] #2294 closed

[2018-01-10 19:12] #2269 closed

[2018-01-10 19:13] #2251 closed

[2018-01-10 20:04] Tratcher commented on #2755
It's an oversight. We didn't have any fixed guidance when this component was written.

[2018-01-10 20:28] javiercn commented on #2758
The CLI, there's a PR already out for it

[2018-01-10 20:29] javiercn commented on #2758
https://github.com/dotnet/cli/pull/8356

[2018-01-10 21:01] JeanCollas commented on #2678
What is wrong with this?

    var linkLoginAndBack = $"/Account/Login?returnUrl=" +System.Net.WebUtility.UrlEncode("/Kraków");

    <a href="@linkLoginAndBack">login</a>

It generates

    <a href="/Account/Login?returnUrl=%2FKrak%C3%B3w" rel="nofollow">login</a>

It redirects in the browser to `/Account/Login?returnUrl=%2FKraków` instead of `/Account/Login?returnUrl=%2FKrak%C3%B3w`
How should it

[2018-01-10 21:07] Eilon commented on #2758
Ok... wondering why we need a bug here to track it?

[2018-01-10 21:25] Eilon commented on #2599
Will consider.

[2018-01-10 21:25] Eilon commented on #2600
Will consider.

[2018-01-10 21:46] mkArtakMSFT commented on #2650
Hi @hishamco.
Are you still interested in sending out a PR with a fix for this issue?

[2018-01-10 21:48] rjamesnw commented on #2755
I figured as much.  I've been reviewing the other sources while working on a web app (injected some of my own types) and this is the first time (so far) I saw it forced. ;)

[2018-01-10 22:40] Tratcher commented on #2678
What do you see in a Fiddler trace? The browser often shows you a more human readable version than it sends on the wire.

[2018-01-10 23:07] kichalla commented on #2410
Fixed: https://github.com/aspnet/Antiforgery/commit/d2c27104ddc1761e303fdfe8c8fb5acef67f2107

[2018-01-10 23:07] #2410 closed

[2018-01-10 23:34] FrederickBrier opened #2766 "Adding a Refresh() to IServiceProvider [Dependency Injection]"
After adding most of my services in ConfigureServices(), One of the services is instantiated using app.ApplicationServices.GetServices<> at the beginning of Configure(). This utilizes the ServiceProvider instance. This occurs at the beginning of the method, and the service adds some more services to ServiceCollection which was preserved in the original ConfigureServices() call. The problem is that

[2018-01-10 23:45] Eilon commented on #2766
@pakrym / @davidfowl - thoughts on this?

[2018-01-11 00:40] aspnet-hello opened #2767 "PropertyHelper SetValue method not support value type"
_From @tangdf on Wednesday, January 10, 2018 4:32:28 PM_

[code]

   at System.Reflection.RuntimeMethodInfo.CreateDelegateInternal(Type delegateType, Object firstArgument, DelegateBindingFlags bindingFlags, StackCrawlMark& stackMark)
   at System.Reflection.RuntimeMethodInfo.CreateDelegate(Type delegateType)
   at Microsoft.Extensions.Internal.PropertyHelper.MakeFastPropertySetter(PropertyInfo pro

[2018-01-11 00:42] Eilon commented on #2767
Hi @tangdf, I don't think this method is meant to work with all property types. It's just an internal piece of infrastructure code used in some limited scenarios.

Did you run into this while using ASP.NET Core? If so, what was the scenario?

[2018-01-11 00:44] Eilon commented on #2763
BTW I heard that the Azure deployments should be complete in all regions by tomorrow morning. Not sure *which* morning, but presumably somewhere on Earth 😄

I forwarded your concerns to our release experts so that we can aim to be more transparent in the future. Sorry you ran into issues with this!

[2018-01-11 00:53] pakrym commented on #2766
Not supported by design. There are some containers that support this scenario (NInject?) but not sure if any of them supports `Microsoft.Extensions.DependencyInject.Abstrations`.

[2018-01-11 01:01] FrederickBrier commented on #2766
Unfortunate. My PluginManager is registered with the ServiceCollection, but after it is instantiated, it needs to register additional types loaded from each plugin. No more registrations occur after that, but it is a two phase process.

[2018-01-11 02:32] nixxholas commented on #2764
@pranavkm apologies it's closed source, will only be able to give you what you need! =)

[2018-01-11 04:59] supernarwen commented on #2309
I have went through it but got no clue!! And its awkward for a project to be slower in local machine and faster in server. So, I was hoping if any senior members at dot net core community would look into my issue. So, I have attached my repo here!

[2018-01-11 07:20] SychevIgor commented on #2135
It ill be nice to finally see updated version roadmap in wiki. https://github.com/aspnet/Home/wiki/Roadmap last update was in October - 4 months ago.

[2018-01-11 08:34] masums opened #2768 "Asp.Net Core 2.0.5 performance issue"
I had developed a website using Asp.Net Core 2.0.0 with pomelo MySql driver. That takes 300 - 500 ms for rendering home page. Whenever I have upgraded Asp.Net Core 2.0.0 to 2.0.3 then it has taken average 450 ms to 750 ms to render the same page. Now, whenever I have upgraded to Asp.net core 2.0.5 then it is taking 800 ms to 1.3 seconds to render the same page with same database and data in the sa

[2018-01-11 09:20] techaimail commented on #2165
In my scenario with the same kind of project but targeting net471 with Visual studio 2017 15.5.3 over windows 10 Home throws the same error:
No se puede cargar el archivo o ensamblado 'System.Runtime, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' ni una de sus dependencias. El sistema no puede encontrar el archivo especificado.

[2018-01-11 09:57] hishamco commented on #2650
@mkArtakMSFT I already did that long time ago https://github.com/aspnet/Localization/pull/369, I review it again if there's any feedback or conflict I should fix

[2018-01-11 11:32] #2756 closed

[2018-01-11 12:19] guylando opened #2769 "Complete example of the correct order of middleware"
I can't find an example which shows what is the correct order for all the following middleware when used together. It would be nice if there would be a maintained startup.cs containing ALL possible middleware.

UseStatusCodePagesWithRedirects
UseStaticFiles
UseAuthentication
UseResponseCaching
UseWebSockets
UseSignalR
UseResponseCompression
UseMvc

Would save a lot of time and errors having it.
Th

[2018-01-11 13:02] grahamehorner opened #5760 "RFC6238 Pin Length"
IMHO the service should allow for a configurable PIN length 6/8 and be public; the GenerateCode/ValidateCode should also return/accept a string; the length of the pin is important
is current controlled by the RFC6238 as a const, service which may result in a number that requires padding with 0s and a consumer of the service many not realise resulting in the wrong length code getting passed up the

[2018-01-11 14:24] JulijaRamoskiene commented on #2745
Try prefixing with schema -"http://*.example.com"

[2018-01-11 16:21] Tratcher commented on #2769
There is no definitive order, only some relative dependencies between individual components. E.g. StatusCodes should come before components that generate responses without bodies. StaticFiles are often early in the pipeline for efficiency, there can be a lot of them. Auth should come before components that require auth, like MVC. Caching should come before components that generate cacheable respon

[2018-01-11 16:35] natemcmaster commented on #2165
@techaimail can you open a separate issue with steps to reproduce the error?

[2018-01-11 18:03] pranavkm commented on #2764
Unfortunately there isn't much in the error message to diagnose.

* Are you able to start something from scratch and serve a view?
* Is your application's content root set correctly? It should print when you do `dotnet run` (it's most likely supposed to be `/Users/nixholas/Projects/Cnetwork/CounterCore/`)
* Is this a published application? If so, do you have precompilation enabled and what version

[2018-01-11 18:51] javiercn commented on #2758
Fix got checked-in https://github.com/dotnet/cli/commit/a212d5a0176f85e5aba9b117b1b408c5b60ee525

[2018-01-11 18:51] #2758 closed

[2018-01-11 19:06] NTaylorMullen commented on #2768
/cc @sebastienros

[2018-01-11 19:14] kichalla commented on #2740
@embryologist I would like to understand your application setup clearly.

Based on the above comment from the first post in this thread, you have 2 apps on different ports. One an asp.net webapi app and other an angular app. Your login UI from angular app posts data to the asp.net webapi app? (have you enabled CORS on the asp.net webapi app to allow requests from the angular app?)
Basically you ne

[2018-01-11 19:47] mkArtakMSFT commented on #2768
Thank you for filing this issue. In order for us to investigate this issue, could you please provide us with a minimalistic repro project that illustrates the problem?

[2018-01-11 19:48] xt0rted opened #2770 "Site failed to start up after the 2.0.5 update on azure"
I'm not sure which repo this should go in, or if it's related to https://github.com/aspnet/AspNetCoreModule/issues/260 or https://github.com/aspnet/AspNetCoreModule/issues/226 but around 1/11/18 9:50 GMT my site started returning 500 errors for nearly 3 hours until I woke up and saw the alerts. During this time the site was fully offline and not responsive until I restarted the app service. In my

[2018-01-11 20:13] Tratcher commented on #2770
The 2.0.5 runtime hasn't finished deploying to Azure yet: https://github.com/Azure/app-service-announcements/issues/72

Also, ANCM changes aren't being deployed at this time. Were you expecting an ANCM fix for your linked issues?
@pan-wang to confirm.

[2018-01-11 20:27] xt0rted commented on #2770
The vm I'm on now has 2.0.5 of the runtime and 2.1.4 of the cli from what I can tell, which I believe is why the site restarted in the first place. As for the linked issues, I'm not sure if they're related to what happened here or not which is why I opened a new issue.

I deployed some changes last night but I haven't touched any of the nuget packages or site configs in over a week. When I went to

[2018-01-11 20:59] WhatFreshHellIsThis opened #2771 "Logs at INFO, should be DEBUG level"
asp.net 2.0  is logging items at INFO level which it should not.  It should be DEBUG or even TRACE.
Many developers are asking how to turn off the built in logging due to the excessive nature of it at such a high level.

Here is an example log:
2018-01-11 12:31:43.6913|INFO|Microsoft.AspNetCore.Hosting.Internal.WebHost|Request starting HTTP/1.1 GET http://[::]:5068/
2018-01-11 12:31:44.3189|INFO|M

[2018-01-11 20:59] #2741 closed

[2018-01-11 21:00] #2765 closed

[2018-01-11 21:00] mkArtakMSFT commented on #2650
@ryanbrandenburg, can you please review the PR from @hishamco? Please also include anyone who you think should review that.

[2018-01-11 21:38] Eilon commented on #2771
@WhatFreshHellIsThis we do periodically tweak the log levels of certain log entries based on what we think is more/less useful at certain levels. We try to limit "INFO"-level logs to less than ~10 or so per request, and of course as you get more detailed, you get a lot more log messages.

I recommend checking out the docs on Logging Filtering to see how to control certain log messages: https://doc

[2018-01-11 21:46] Eilon commented on #2309
Hi @supernarwen , that is indeed odd, but unfortunately we are unable to debug this due to limited resources. I recommend you try enabling and saving more logs from the server to see which specific requests are slow, and perhaps some information about what is happening on those slow requests.

While we do our best to look through all the issues filed here, to get a faster response we suggest posti

[2018-01-11 21:47] Eilon commented on #2753
@JunTaoLuo any ideas on this? Or what the root cause might be?

[2018-01-11 21:51] WhatFreshHellIsThis commented on #2771
Hello, I'm not sure this has been thought through at the level of a production app in the real world:

By setting the default at "Info" for what is really trace or debug level stuff you have taken away the usefulness of the application developer using INFO for their own purposes.

We can't just willy nilly use WARN or ERROR or FATAL levels if we are to stick to accepted practices and for many item

[2018-01-11 21:51] Eilon commented on #1531
Also cc'ing @glennc in case you have any info/thoughts on this.

[2018-01-11 21:52] Eilon commented on #1818
Closing because there doesn't seem to be any further action required on this issue.

[2018-01-11 21:52] #1818 closed

[2018-01-11 21:55] Eilon commented on #2181
Closing because it doesn't look like any further action is required on this issue.

I also found a related post on StackOverflow with a proposed solution: https://stackoverflow.com/a/46876615/31668

[2018-01-11 21:55] #2181 closed

[2018-01-11 21:56] Eilon commented on #2017
I don't think there's any further action we can take on this issue here.

I recommend posting any further questions on one of these repos:
* MSBuild issues: https://github.com/microsoft/msbuild
* .NET CLI issues: https://github.com/dotnet/cli
* .NET Core SDK issues: https://github.com/dotnet/sdk

[2018-01-11 21:56] #2017 closed

[2018-01-11 21:57] Eilon commented on #1429
Closing because there doesn't appear to be any further action required on this issue.

[2018-01-11 21:57] #1429 closed

[2018-01-11 21:58] Eilon commented on #1640
Closing because there doesn't appear to be any further action required on this issue.

[2018-01-11 21:58] #1640 closed

[2018-01-11 21:58] #2234 closed

[2018-01-11 22:42] tb-mtg commented on #2738
In addition to @reduckted excellent summation, Microsoft's documentation for [Razor syntax for ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor) (as at 2017-10-18) still has numerous references to Visual Basic and using .vbhtml files:

However ScottAddie@MSFT had posted a comment on 2017-07-21:

So is Visual Basic/vb.net/.vbhtml files going to be included in .Net Core? An

[2018-01-11 23:15] guylando commented on #2769
Thanks, Maybe a dependency tree\graph can be built\maintained instead of one startup.cs because the possibilities are better described in a tree\graph than in a linear code?

[2018-01-12 00:17] JunTaoLuo commented on #2753
Is there any reason the `System.Text.Encoding.CodePages` is marked with `PrivateAssets="All"`. The exception went away when I removed it.

[2018-01-12 00:24] JunTaoLuo commented on #2753
It looks like when the package reference is marked as PrivateAssets="All", it is not included in the published .deps.json files. I assume this is why the .dll wasn't able to be loaded at runtime.

[2018-01-12 05:36] Tratcher commented on #2769
Even a table might help as a quick reference:

Middleware | Ordering
---------------|----------
UseStatusCodePagesWithRedirects | Before components that set status codes
UseStaticFiles | Terminal if a request matches files
UseAuthentication | Before HttpContext.User is needed. Terminal for OAuth callbacks.
UseResponseCaching | Before components that want caching
UseWebSockets | Before components t

[2018-01-12 10:40] Suvarnnan opened #5284 "TCP support in SignalR"
ASP.NET Core 2.0 SignalR supports different middle ware options like TCP,AMQP etc.

Can anyone give details about it like a sample where TCP is used as signalr middle ware.

Any good explanation of this concept and illustration with samples are appreciated.
Please consider this as a request for updating

[2018-01-12 17:06] Tratcher commented on #2769
This issue was moved to aspnet/Docs#5172

[2018-01-12 17:06] #2769 closed

[2018-01-12 17:25] RehanSaeed commented on #2458
I'm trying to use the `ResponseCompression` middleware after the `StaticFiles` middleware to server Brotli (`.br`) or GZIP (`.gz`) encoded files if available.

However, the `ResponseCompression` keeps GZIP encoding files that are already Brotli encoded. It also ends up double encoding when I serve a static GZIP file too. It seems it's not checking for already encoded files and the two pieces of mi

[2018-01-12 17:47] Tratcher commented on #2458
StaticFiles doesn't set the content-encoding headers, you have to do it yourself in the OnPrepareResponse event. ResponseCompression can't tell it's compressed unless you set that header.

[2018-01-12 18:20] Eilon commented on #2771
@WhatFreshHellIsThis the filtering can be done both by Log Level and by Category Names. If the `Microsoft.*` messages at the INFO level are too much, we recommend filtering those out so that you see only INFO level messages from non-Microsoft components, but see all "severe" logs from all components (warning, error, etc.).

When we first started logging things we had only 1 or 2 messages at the IN

[2018-01-12 18:26] LuigiMaestrelli commented on #2676
Same problem here.
Any news?

[2018-01-12 19:08] kichalla commented on #2408
https://github.com/aspnet/Antiforgery/commit/e5de4e672cbe879d598529c257539b6a7d1a7bf9

[2018-01-12 19:08] #2408 closed

[2018-01-12 19:12] blowdart commented on #2759
@natemcmaster Could you try to reproduce this please?

[2018-01-12 19:16] jamieide opened #2772 "Route not matched for specific route variable value"
My ASP.NET Core 2 app is not matching a route for a specific variable in the path. I have been unable to reproduce this outside of the project it occurs in, or with any other values for the variable.

The route below is not matched when the tenant is "evt".
[code]
Log entries for the failed and successful matches:
Request starting HTTP/1.1 GET http://localhost:44314/evt/projects/index
The request

[2018-01-12 19:29] WhatFreshHellIsThis commented on #2771
@Eilon I understand your point of view, thank you for taking the time.

That being said I don't think you understand the issue here at all.  I'm not saying there is a problem with logging that kind of information, I'm saying it's at the wrong level.  It's not following accepted practices when you look at it in the context of an entire released in production application and it's diluting and essent

[2018-01-12 20:07] drobertson123 opened #2773 "unable to control web.config processPath and dotnet is not working"
Looking for advice on a web.config/IIS deploy issue/bug.

I am deploying an  ASP.NET core 2.0 based API to an IIS 10 server on Windows Server 2016 using WebDeploy in Visual Studio 2017. It wants to create/overwrite the Web.Config settings I have with whatever Core 2.0 thinks is correct

The issue is that it forces processPath="dotnet" into the file no matter what I do, but that always gives me a 5

[2018-01-12 20:08] jhudsoncedaron opened #2774 "Mvc.UseStaticFiles() will not serve files that are symbolic links; yielding empty files instead."
Mvc.UseStaticFiles() will not serve files that are symbolic links; yielding empty files instead.

Reason: (new FileInfo(path)).Length does the wrong thing for what we are trying to do.

https://github.com/aspnet/FileSystem/blob/dev/src/FS.Physical/PhysicalFileInfo.cs:

    System.IO.FileInfo _info;

    public long Length => _info.Length;

Nope. That's not going to work.

Due to lack of an appropr

[2018-01-12 20:45] pingvinius commented on #2753
Thanks! It helped me! Without PrivateAssets="All" it works as expected.
Seems I used Ctrl+C,Ctrl+V that's why this attribute is present.

Thanks a lot!
I think that the issue should be closed.

[2018-01-12 20:45] #2753 closed

[2018-01-12 20:50] Tratcher commented on #2774
Are there attributes that tell you if it's a symbolic link?

[2018-01-12 21:32] natemcmaster opened #2775 "Broken symlinks return HTTP 500 instead of HTTP 404"
Repro:
[code]
http://localhost:5000/test.txt

**Expected**
HTTP 404. This file does not exist

**Actual**
HTTP 500
[code]

**details**
macOS
[code]

[2018-01-12 21:59] jhudsoncedaron commented on #2774
@Tratcher : Nope!

[2018-01-12 22:23] Tratcher commented on #2774
https://stackoverflow.com/questions/1485155/check-if-a-file-is-real-or-a-symbolic-link

[2018-01-12 22:30] jhudsoncedaron commented on #2774
Very good @Tratcher you made my point. Note that those are P/Invokes to Windows specific APIs. I am already preparing to write up a relatively large item describing a proposed interface for dealing with this design omission in System.IO.

[2018-01-12 22:31] rockerinthelocker commented on #2773
Maybe the path to dotnet.exe is not set on the production server? Usually, the installer would add the paths for the x86 and x64 version of dotnet.exe to the 'path' environment variable. However, only the first path found is picked up so the only way to switch between x86/x64 versions of dotnet.exe seems to be via web.config.

So, either add the preferred (x86 or x64) path to dotnet.exe to the 'pa

[2018-01-12 23:01] Eilon commented on #2771
@WhatFreshHellIsThis indeed, I'd like to keep this issue open for some time to see what the general feelings out there are. As I mentioned, we do periodically tweak the log levels based on both user feedback and our own internal "gut feeling." Sometimes we go too far; sometimes not far enough.

[2018-01-12 23:02] HaoK commented on #2752
@arishlabroo this looks reasonable to me, glad to see the new extensibility point is useful :)

[2018-01-12 23:02] #2752 closed

[2018-01-12 23:05] jhudsoncedaron opened #2776 ".NET Core is missing suitable APIs for dealing with filesystems that contain symbolic links"
Ref: https://github.com/aspnet/Home/issues/2774 for discovery point

.NET Core is missing suitable APIs for dealing with filesystems that contain symbolic links

FileInfo does not resolve symbolic links, leading to subtle bugs. There's no API that gives information about the link target. There's other problems with the existing APIs causing them to have trouble when you call Directory.EnumerateFil

[2018-01-12 23:56] Tratcher commented on #2776
Was this meant for https://github.com/dotnet/corefx ?

[2018-01-12 23:58] jhudsoncedaron commented on #2776
Yeah oops.

[2018-01-13 00:57] muratg commented on #2776
Hi @jhudsoncedaron, could you file the bug over there, and close this one? Thanks.

[2018-01-13 01:25] natemcmaster commented on #2776
This has been discussed before, but I suppose it doesn't hurt to ask again.

https://github.com/dotnet/corefx/issues/3186
https://github.com/dotnet/corefx/issues/25385

[2018-01-13 01:36] natemcmaster commented on #2774
p/invoke isn't necessary on *nix machines. FileAttributes.ReparsePoint will be set on FileInfo.Attributes.

[2018-01-13 02:25] Eilon commented on #2776
Indeed, closing this bug. @jhudsoncedaron  - please log a new bug in CoreFX or use one of the existing bugs that @natemcmaster has mentioned. Thanks!

[2018-01-13 02:25] #2776 closed

[2018-01-13 02:25] Eilon commented on #2773
@shirhatti / @jkotalik / @Tratcher - any idea on this issue? Or where it should go?

[2018-01-13 02:27] Eilon commented on #2772
@jamieide sorry you're running into this issue. Can you share some more of your code, such as your full route configuration, and your custom `IRouter` implementation?

[2018-01-13 02:29] Eilon commented on #2259
Yup, closing.

[2018-01-13 02:29] #2259 closed

[2018-01-13 12:53] jamieide commented on #2772
I now know what's causing it but I don't know how to fix it. In the web project's properties page on the Debug tab, there is an entry for App URL. If I change that to a URL that should match my route, for example https://localhost:44314/abc/projects/index and run the app, that URL returns 404. Even when I change it back to https://localhost:44314/, any URL that I had previously entered and run con

[2018-01-13 13:19] jamieide commented on #2772
I can easily repro this issue on my machine with VS 15.5.3.

1. Create a new empty .NET Core web project
2. Modify Startup.cs to

        public void ConfigureServices(IServiceCollection services)
        {
            services.AddMvc();
        }
        public void Configure(IApplicationBuilder app, IHostingEnvironment env)
        {
            app.UseMvc(routes =>
                routes.MapRou

[2018-01-13 13:34] jamieide commented on #2772
Deleting the .vs folder fixes the issue but that's a "sledgehammer" solution. I assume this is a bug and I'm interested to learn the root cause.

[2018-01-13 18:26] acornies commented on #1976
It looks like I have a similar issue in our production service (20-100 req/s) using a combination of:
- ASP.NET Core 2.0.4
- ServiceStack.Core 1.0.44
- Docker v17.09.0-ce, build afdb6d4 on Ubuntu 16.04 x64
- x4 servers @ 40 CPUs, 128 GB memory
- each Docker container is set to 20k (mhz) cpu shares, 8GB ram
The application has a front-end web server and worker (shown respectively in the graphs belo

[2018-01-13 21:02] MV10 opened #2777 "IUrlHelper should support Razor Page handlers"
Suggestion or feature request: [`IUrlHandler`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.iurlhelper?view=aspnetcore-2.0) has many options supporting controller-based actions, but in the Razor Pages world, handlers are the Shiny New Toy, and it seems to me that `PageModel.Url` ought to offer handler-based helpers.

[2018-01-13 21:06] MV10 commented on #2777
Disregard. Just realized there is `Page(page, handler)`.

Would be nice if the docs showed us parameter names instead of just a list of generic types...

[2018-01-13 21:06] #2777 closed

[2018-01-14 00:55] drobertson123 commented on #2773
Few updates for everyone on this.

First, dotnet.exe is properly updated, loaded and the PATH settings are correct. I can even use dotnet directly from the command prompt from the root of the website. I have also made sure that the Identity(user) has permission to run dotnet.

The main issue is that for some reason dotnet can't be called as it is being set ion the web.config file.

At this point,

[2018-01-14 01:52] brunojuliao commented on #2738
How can we help to make this support happen? I would love to see VB.Net and F# support!

[2018-01-14 04:14] Tratcher commented on #2773
Sounds like you haven't rebooted after installing dotnet for IIS to pick up the path change.

[2018-01-14 08:26] drobertson123 commented on #2773
Sorry, getting a bit tired of hearing that from everyone. This server has been rebooted numerous times during this process.

Plus, if you noticed, to avoid this suggestion I actually copied the output of running "dotnet --info" from the path of the root of my website above. If the path had not been active then this command would not have worked.

Additionally, it is my understanding, but I may be

[2018-01-14 11:19] rockerinthelocker commented on #2773
Having more details certainly helps to troubleshoot this issue..

1) From cmd prompt.. What does `where dotnet` return?
2) From PS prompt.. What does `Get-CimInstance -ClassName Win32_Product | Select Name,Version | Where {$_.Name.Contains(".NET")}` return?
3) Version of Visual Studio (i.e. 15.5.3)?
4) Any error details in the event viewer?

[2018-01-14 18:01] drobertson123 commented on #2773
Ok, this is something I can get. Note - the website root directory name has been changed to protect the less than innocent.

1. CMD prompt "where dotnet"  [didn't know this command existed, thanks]
[code]
2.
[code]
3.
![image](https://user-images.githubusercontent.com/1677253/34918964-ec2a2cf6-f929-11e7-8581-725c582e9642.png)

4. Event Viewer Errors - I got two distinct errors that repeated 4 time

[2018-01-14 18:04] drobertson123 commented on #2773
Maybe this does lead back to a bitness issue. The DLL is being forced to x64 but it is calling the x86 version of dotnet.

[2018-01-14 21:05] MV10 opened #2778 "Add Razor Page code gen errors specific to generator v2.0.2"
VS2017 v15.5.3 and ASP.NET Core 2.

I am converting a small Core 2 MVC site to Razor Pages. When I tried to add a new Razor Page the null-reference error shown below was thrown. I restarted VS, and it began throwing the second sequencing error every time, even after restarts. It didn't matter what options I choose in the first dialog and the null-reference error didn't happen again.

Then I notice

[2018-01-15 11:35] HongyanShen opened #2779 "What will happen if a singleton service depends on a scoped service?"
I am faced with a memory lead problem in my web api project,when i review the code,i find some singleton services depend on non-singleton service.Is it the key for the problem?

[2018-01-15 12:19] davidfowl commented on #2779
Singleton services that depend on scoped services turn those scoped services into singletons. In ASP.NET Core 2.0 this would throw an exception in development telling you there's a scope violation. See http://blog.ploeh.dk/2014/06/02/captive-dependency/ for more data on this type of problem.

You can look at a memory dump to see what's taking up the memory.

[2018-01-15 14:35] naveedahmed1 opened #2780 "CORS headers are not working in all cases"
It seems that the current implementation of CORS middleware applies `Access-Control-Allow-Origin` headers only if the request contains `Origin` header.  Browsers set the Origin headers in request only when making CORS requests through AJAX.

Which means the client will see  `Access-Control-Allow-Origin` headers in response only if the request is made through ajax, and not for the resources where r

[2018-01-15 17:00] JipingWang opened #2781 "project keeps looks for unreferenced EFcore assembly"
I had a small asp.net core 2.0 project using ASP.NET Core Identity, it worked fine.

Then, I tried .net core 2.1 preview, then removed it.

Now, my old project can not run, keeps saying:

[2018-01-15 22:44] rockerinthelocker commented on #2773
1) Indeed, only the first path to the x86 version of dotnet.exe will ever picked up if processPath contains just 'dotnet'. Due to this, ASP.NET Core applications depending on 64-bit require the full path to the x64 dotnet.exe being set in processPath.

2) If you don't require the .NET Core SDK on the production server, you can safely uninstall. Same for previous .NET Core runtimes, hosts, and host

[2018-01-15 23:06] drobertson123 commented on #2773
I think the issue must go beyond just the Path issue and bitness.

I can hard wire in either the x86 path or the 64bit path to the web.config file and both actually work. So the code will actually work using the x86 dotnet.exe version.

This works;
`<aspNetCore processPath="C:\Program Files\dotnet\dotnet.exe" arguments=".\mysite.Server.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" />`

[2018-01-16 00:38] rockerinthelocker commented on #2773
@coolcsh , Maybe you can have the right people look into this? Thank you!

[2018-01-16 02:20] guardrex commented on #2773
@drobertson123 I've been following along. Just wanted to jump in and say 'thanks' for how much effort you've been putting into surfacing this ... whatever it turns out to be. Once we have a handle on the ultimate cause if there's anything I can do in the docs, I'll get it covered for the community going forward.

[2018-01-16 02:27] Eilon commented on #2772
@mkArtakMSFT - please triage.

[2018-01-16 02:27] Eilon commented on #2772
@jamieide thanks for the extra details, we will investigate (BTW sorry for the delay - 3 day holiday weekend in the US!).

[2018-01-16 02:47] drobertson123 commented on #2773
I appreciate the chance to get this sorted out, so I guess we are even. I can probably hard code my way around it with the full paths, but that doesn't feel like the right answer. Just hoping we get to the bottom of this at some point.

[2018-01-16 03:08] guardrex commented on #2773
Ultimately, it shouldn't be necessary. Let's see where it goes.

You have the best eyes on it here [e.g., :guitar: **Chris Ross (@Tratcher) ROCKSTAR ENGINEER!** :guitar:].

Gut feel'in ... Windows OS PATH resolution problem. I can tell you that after a few years of following issues on IIS config that this is a very strange problem. I don't recall one like it in two years.

RE: Stopping the Sdk.Web

[2018-01-16 03:40] Eilon commented on #2773
Pinging @shirhatti and @jkotalik again.

@drobertson123 BTW it's a 3-day weekend here due to MLK Day so sorry for some of the delay.

[2018-01-16 03:42] Eilon commented on #2781
@JipingWang can you show more info about when/where you get that error? How are you running the app? Did anything else in the app change, such as the csproj file?

[2018-01-16 03:46] Eilon commented on #2780
@naveedahmed1 I believe that the service worker use the `fetch` API to do their AJAX requests (instead of XMLHttpRequest), but that does support CORS. Do you have a repro that demonstrates that this doesn't work? If so, it would be great if you could share that, plus let us know which browser(s) you reproduced this in.

[2018-01-16 04:00] Eilon commented on #2778
This issue was moved to aspnet/Scaffolding#674

[2018-01-16 04:01] #2778 closed

[2018-01-16 04:02] Eilon commented on #1674
@bricelam / @ajcvickers - any further action to take on this issue? Safe to close?

@kansulum - for EF 6.x issues I recommend going to https://github.com/aspnet/EntityFramework6/issues and logging an issue if it's not already filed. Thanks!

[2018-01-16 04:10] Eilon commented on #1557
Closing this issue because there is already further discussion in https://github.com/aspnet/Identity/issues/503 and https://github.com/aspnet/Identity/issues/1460.

[2018-01-16 04:10] #1557 closed

[2018-01-16 04:21] Eilon commented on #2228
@vijayrkn - where's the best place to report issues with publish?

[2018-01-16 04:22] xt0rted commented on #2780
I setup an Azure CDN endpoint that pulled the files from my site, and most of the time the files were being cached correctly, but every so often some of the css and js files would get cached in a region incorrectly and the site would start throwing cors errors. The error messages in dev tools didn't make sense since I had setup the middleware to allow all.

I experienced this issue with the owin m

[2018-01-16 04:27] vijayrkn commented on #2228
For issues related to ASP.NET core publish (non VS issues),  https://github.com/aspnet/websdk would be the right place.

[2018-01-16 04:29] Eilon commented on #2228
This issue was moved to aspnet/websdk#286

[2018-01-16 04:29] #2228 closed

[2018-01-16 04:33] Eilon commented on #2780
Is there some special setup on the CDN that you can do to always send CORS headers?

[2018-01-16 04:34] Eilon commented on #2780
I see Azure CDN has some docs on CORS:

* https://docs.microsoft.com/en-us/azure/cdn/cdn-cors

(I've never used it, so unfortunately I'm not familiar with it personally.)

[2018-01-16 04:51] xt0rted commented on #2780
I'll have to give that a try for production and keep the cors middleware for dev/test environments where I run two domains on the same site to simulate the cdn.

[2018-01-16 08:25] HongyanShen opened #2782 "Is there any way to read and rewrite the request body in a middleware?"
If i do it like this,:
[code]
the paramater in my action is always null.

[2018-01-16 08:26] HongyanShen commented on #2779
@davidfowl got it,thks!

[2018-01-16 10:40] Lothy opened #2783 "Clarity around IAntiforgery and ValidateAntiForgeryToken"
Hi everyone, I hope you're well.

I've spent the last two nights messing around with the anti-forgery request functionality. Specifically, I've been trying to figure out why I keep getting a 'Bad Request' response.

Nothing struck me as being overtly incorrect when using Chrome's developer tooling to examine the request and response headers (i.e., cookies were being set correctly, and the X-XSRF-T

[2018-01-16 11:08] Lothy commented on #2783
Similar issue: https://github.com/aspnet/Antiforgery/issues/155

When I did a google search of GitHub repository code last night, all of the examples were using the same strategy to set XSRF-TOKEN cookies:

1. Append a handler in the request pipeline that set the XSRF-TOKEN cookie when some arbitrary predicate held true (e.g.: when the route was equal to "/" or "/index", or perhaps on every reques

[2018-01-16 11:26] naveedahmed1 commented on #2780
@Eilon thank you for your reply.

You are right, fetch API supports CORS. but that solution works if we are writing the complete logic for precache on our own. But if we are using the libraries like sw-toolbox /workbox /sw-precache etc these doesn't support this option.

I think it would be better to give an option to the developer how they want CORS headers to be applied to the response; whether

[2018-01-16 13:08] jkotas opened #2784 "[Missing] CssEncode. Options?"
_From @Brij-Mishra on January 15, 2018 16:35_

Hi All,

May Be I am missing something. But I was using the Microsoft.Security.Application.Encoder.CssEncode for CSS encoding but it is not available in System.Text.Encodings.Web. Are we going to add or it is not required. What is the best alternative? cc @stephentoub @jkotas

Thanks a lot in advance,
Brij

_Copied from original issue: dotnet/corefx#2

[2018-01-16 15:06] Zoxive commented on #2737
@pakrym Is there anything else I can help with or provide to help debug this issue?

[2018-01-16 16:14] pakrym commented on #2737
@Zoxive Thank you, I think we figured it out, the fix itself is not trivial so we are considering our options at the moment.

[2018-01-16 16:28] Zoxive commented on #2737
@pakrym Awesome. Is there a branch or anything I can use to use to make my own internal package for now? Otherwise I'll probably make an internal version of 2.1 with Runtime engine as the default.

[2018-01-16 16:37] Tratcher commented on #2782
req.Body should never be written to. If you want to augment it you should replace the stream. Your biggest problem though is that you forgot to rewind the buffer. Add a Seek(0...) or Postion = 0 before calling next.

You may have similar problem with your response body. Also, don't augment the response body without clearing the Content-Length response header or updating the Content-Type.

[2018-01-16 16:42] #1674 closed

[2018-01-16 16:56] danielmeza commented on #2676
I solve the problem, you need to change the linker behavior to Link Framework SDKs Only and disabe the Enalble device-specific build on your proyect configuration.
your configuration may look like this
![image](https://user-images.githubusercontent.com/16217470/35001176-3aa8b8e4-fab4-11e7-9576-84db37ef6b54.png)

[2018-01-16 17:18] Petermarcu opened #2785 "MultipartReader Instance Method (ReadNextSectionAsync) throws IOException: Unexpected end of Stream, Error."
@huzaynbolt opened this here https://github.com/dotnet/core/issues/1205

# Issue Title

MultipartReader Instance Method (ReadNextSectionAsync) throws IOException: Unexpected end of Stream, the content may have already been read by another component.

# General

I wrote a Custom media formatter for a WEB API project running on .NET core 2.0 Windows 10 (64 bit). On the ReadRequestBodyAsync method I

[2018-01-16 17:21] Tratcher commented on #2785
`boundary = "";?

[2018-01-16 17:21] drobertson123 commented on #2773
People need a break.  :-)

Wish I had vacation days, but the startup life doesn't give you many days off.

[2018-01-16 17:46] Xeevis commented on #1466
I've got this exact problem, it's indeed network related, turns out it happens only when I'm connected to VPN through NordVPN app. Even after I turn it off I have to restart Visual Studio for the error to go away.

[2018-01-16 18:03] gregg-miskelly commented on #1466
@Xeevis In case it isn't obvious - this means that NordVPN is injecting itself into the Windows networking stack and breaking programs. If you are a customer, you may want to report it to their support team.

[2018-01-16 19:29] mkArtakMSFT commented on #2671
Never heard a complain about this, so closing.

[2018-01-16 19:29] #2671 closed

[2018-01-16 20:11] shirhatti commented on #2773
Could you try a sample app that dumps all environment variables and share your results?

https://github.com/aspnet/IISIntegration/blob/dev/samples/IISSample/Startup.cs#L68-L73

[2018-01-16 21:11] HaoK commented on #2721
Yeah we can close, MVC has a SignOut result that takes a list of schemes.  Its not very common to sign out multiple schemes at once anyways...

[2018-01-16 21:11] #2721 closed

[2018-01-16 21:18] #2389 closed

[2018-01-16 21:18] #2384 closed

[2018-01-16 21:24] mkArtakMSFT commented on #2669
@danroth27, any thoughts regarding this?

[2018-01-16 21:34] blowdart commented on #2757
@HaoK @Tratcher @rynowak this appears to span both cookie security and anti-forgery. Unsure where to put it.

[2018-01-16 21:49] blowdart commented on #2745
See https://github.com/aspnet/CORS/issues/75 and https://github.com/aspnet/CORS/pull/94 for why we ended up not supporting wildcards and instead gave you a function you can use.

[2018-01-16 21:49] Tratcher commented on #2757
Start with Templating?

[2018-01-16 22:15] TheSamsterZA commented on #2736
@Eilon How long will this experiment run for before your team decides whether it was a good idea or not?

For the record, I personally do not like the idea. It just raises another barrier to contributions that we all know has made .NET Core as awesome as it is today (looking at you, Kestrel,).

[2018-01-16 23:47] kumpera opened #2786 "Blazor WebSockets can't handle Chrome V8 debugger"
I'm using dotnet core 2.1.4 from OSX High Sierra.

When trying to run the Blazor sample that features a V8 protocol proxy, it leads to frequent disconnects from the browser side. It doesn't happen if I use a simple sockets proxy or direct connection.

To reproduce:
Clone https://github.com/SteveSanderson/Blazor
Switch to the uses-dna branch
Build it with `dotnet build Blazor.Core.sln`
Run the serv

[2018-01-17 00:27] danroth27 opened #4094 "Shorten -ep option on the dev-certs tool to a single character"
Linux [conventions](https://www.gnu.org/software/libc/manual/html_node/Argument-Syntax.html) typically only allow a single character following the hyphen to enable -zydafkldfh syntax.

[2018-01-17 00:54] danroth27 opened #4097 "Rename dev-certs -q option to -v | --verbosity following CLI convention"
For consistency with the CLI commands the dev-certs tool should follow the `-v | --verbosity` CLI convention for setting verbosity:

[code]

Quiet should have no output
Minimal should only output errors and warnings (equivalent to existing -q option)
Normal would be the default verbosity
Detailed and diagnostic would both be the same as the existing --verbose option

[2018-01-17 01:01] danroth27 opened #4095 "Use -o | --output for specifying the certificate export path following CLI conventions"
Currently the `--export-path` option of the dev-certs tool signals both the desire to export a certificate and also the path of the exported certificate. For consistency with the CLI we should be using `-o | --output` for the output path and make the intention to export the certificate more explicit: `dotnet dev-certs https --export -o <path> -p <password>`

[2018-01-17 01:17] natemcmaster opened #2787 "DataProtection tests fail with "Could not load file or assembly 'System.Security.Principal.Windows, Version=4.1.1.0""
After upgrading to new 2.1 corefx packages, a few DataProtection tests started failing with this error:

[code]

http://aspnetci/viewLog.html?buildId=388163&tab=buildResultsDiv&buildTypeId=Lite_UniverseTest

cc @pakrym

[2018-01-17 01:49] gravity00 commented on #2737
@pakrym If it helps, at least for me, the stack overflow happens when I throw some custom `Exception` and when it enters the `catch` block of my custom error handler middleware (`ApiErrorHandlerMiddleware`), the application dies.

I was able to reproduce the problem almost with the initial project setup, without any business or database logic, so feel free to give a look ([Addapt.Parks.Central.zip

[2018-01-17 02:08] HongyanShen commented on #2782
@Tratcher thanks a lot,you have saved me from a lot of troubles.

[2018-01-17 03:09] mkArtakMSFT commented on #2459
@anurse , I've moved this to preview2 milestone. If, however, you strongly believe that this should be done for preview1, let's have a chat.

[2018-01-17 04:40] rockerinthelocker commented on #2773
@shirhatti , Would you mind to name the variables you're interested in? Thank you!

[2018-01-17 04:59] rsvaidya opened #2788 "Breaking change in 2.0 version of Microsoft.Extensions.DependencyInjection"
Hi,

We are using the `Microsoft.AspNet.WebHooks.Custom.AzureStorage.dll` which has a dependency to `Microsoft.Extensions.DependencyInjection` version 2.0. We get the following exception

`System.MissingMethodException: Method not found: 'System.IServiceProvider Microsoft.Extensions.DependencyInjection.ServiceCollectionContainerBuilderExtensions.BuildServiceProvider(Microsoft.Extensions.Dependency

[2018-01-17 05:17] drobertson123 commented on #2773
@shirhatti Is there a PS script I could use to get that info.  This is a production environment I am dealing with and running a script would be far easier than loading a test project.

[2018-01-17 05:25] natemcmaster commented on #2786
Blazor isn't an official ASP.NET framework. At the moment, it's just an experiment with webassembly that @SteveSanderson has been investigating. WebSockets and many .NET APIs do not work in this experiment.

For context:
http://blog.stevensanderson.com/2017/11/05/blazor-on-mono/
https://github.com/SteveSanderson/Blazor#why-isnt-there-an-issue-tracker-how-do-i-file-issues

[2018-01-17 05:34] blowdart commented on #2780
Adding always would violate the CORS spec and that seems like a very bad thing to do for a misbehaving client/CDN.

[2018-01-17 05:54] danroth27 opened #4096 "Add a --create option to the dev-certs tool and clarify in the help text that it is the default"
It's not clear that `dotnet dev-certs https` creates a certificate. I'd like to add an optional --create option that shows up in the help text with a comment that says it is the default. In other words, `dotnet dev-certs https` is short for `dotnet dev-certs https --create`.

[2018-01-17 06:38] mkArtakMSFT commented on #2414
@openidauthority, thanks for reporting this issue. We agree that this seems to be a bug and we've assigned one of our team members to look into this based on its priority.

[2018-01-17 08:58] javiercn commented on #2414
I do believe this is fixed https://github.com/aspnet/Antiforgery/blob/dev/src/Microsoft.AspNetCore.Antiforgery/Internal/DefaultAntiforgery.cs#L382

[2018-01-17 08:58] #2414 closed

[2018-01-17 10:26] hishamco commented on #2782
I think this should be closed while it's answered

[2018-01-17 12:47] grahamehorner opened #2789 "area routing with url segment as parameter"
I'm trying to create a route for a RESTful API using ASP.NET Core that describes the area/dataset and partition the resource resides in eg. {area}/{partition}/{controller}/{action}/{id?}

I also need to support the fall back for  {area}/{controller}/{action}/{id?} and {controller}/{action}/{id?}
when a {partition} or area/dataset is not supplied is this possible?

[2018-01-17 14:27] gravity00 commented on #2737
@pakrym just ignore my previous comment...
It seams someone overloaded `ToString()` in the custom exceptions and it was making a recursive and infinite loop when writing to the log. What a well passed morning looking and dump files...

[2018-01-17 15:27] lsvhome opened #2790 "Xamarin.Mac: Could not find System.Runtime.CompilerServices.Unsafe"
Xamarin.Mac can't load System.Runtime.CompilerServices.Unsafe.dll which used within Microsoft.Extensions.Primitives.

Microsoft.Extensions.Primitives used within lot of base libraries e.g
Microsoft.Extensions.Options,
Microsoft.Extensions.Caching.Abstractions,
Microsoft.Extensions.Configuration.Abstractions etc.

They are used within Microsoft.EntityFrameworkCore

So, Microsoft.EntityFrameworkCore

[2018-01-17 15:29] mhgamework commented on #2503
How can i use this? It seems that this is building on appveyor on version 0.3, but from nuget i can only access 0.2. Am i missing something?

[2018-01-17 17:03] kumpera commented on #2786
I @natemcmaster, it's fine, I'm not asking you to support Blazor, I'm providing you a test case so you can reproduce my issue.

[2018-01-17 17:04] kumpera commented on #2786
Blazor, like any other project using asp.net core, doesn't implement WebSockets itself.

[2018-01-17 17:24] pakrym commented on #2787
https://github.com/dotnet/corefx/issues/26390

[2018-01-17 18:07] Eilon commented on #2600
This patch is **approved** for the Feb 2018 patch. Please send a PR to the appropriate branch, get it reviewed, and merge.

[2018-01-17 18:09] Eilon commented on #2599
This patch is **approved** for the Feb 2018 patch. Please send a PR to the appropriate branch, get it reviewed, and merge.

[2018-01-17 18:15] jkotalik commented on #2773
@drobertson123 Sorry for the late reply. I haven't seen this happen before.

When "dotnet" is specified, we directly will call "dotnet mysite.Server.dll" like you would on command line. As the x86 version of dotnet is the first one on your path, it will be the one use when you type dotnet mysite.Server.dll.

From the feedback, it seems there could be some sort of bitness issue here. Could you try

[2018-01-17 18:18] jkotalik commented on #2773
Also, when you run dotnet --info, where does it say the runtime environment is?

[2018-01-17 18:26] Eilon commented on #2598
This patch is **approved** for the Feb 2018 patch. Please send a PR to the appropriate branch, get it reviewed, and merge.

Please consider adding a [quirks-mode switch](https://github.com/aspnet/Home/wiki/Quirks-mode-switches-in-patches) for this change.

[2018-01-17 18:39] #2787 closed

[2018-01-17 18:40] onovotny commented on #2380
IOptionsSnapshot provides access to the `Get` method to provide access to named options. These should be available from Singleton services.

[2018-01-17 18:52] shirhatti commented on #2773
@rockerinthelocker @drobertson123
While a PS script could get that info, I'm more interested in the PATH as observed by the w3wp.exe and dotnet.exe.
I'm also interested in whether in what kind of identity you're running as and whether you've loaded the user profile and if there's another dotnet in the USERPROFILE of the worker process identity which you don't see when you ran `where dotnet`

[2018-01-17 19:33] Swazimodo opened #2791 "Ability to force CSRF validation on GET requests"
I am trying to write a Anti-forgery wrapper that will cover our API based on a config file. However, one issue I found is there is no way to force a CSRF validation on GET requests. I dug into the source for the IsRequestValidAsync method and there are 4 types of http methods that will be ignored. Is there a way to force the validation to happen?

[code]

Maybe I'm just not understanding why this

[2018-01-17 21:17] Eilon commented on #2340
@javiercn / @muratg - did this go through triage? Do we need/want this in preview1?

[2018-01-17 21:52] mkArtakMSFT commented on #2368
@rynowak, what are your thoughts about this? Should we do this? Is this still relevant? /cc: @davidfowl

[2018-01-17 22:00] mkArtakMSFT commented on #2358
Closing this issue as we never really needed it.

[2018-01-17 22:00] #2358 closed

[2018-01-17 22:03] mkArtakMSFT commented on #2357
@davidfowl , @javiercn - have you ever synced regarding this? Can the StartupFilter be used to satisfy the need here?

[2018-01-17 22:07] natemcmaster commented on #2790
Have you tried reporting this error to https://github.com/dotnet/corefx (the home for System.Runtime.CompilerServices.Unsafe) or to Xamarin? We use System.Runtime.CompilerServices.Unsafe in a variety of places in our stack, and removing our dependency on it is not likely a solution we're going to take.

[2018-01-17 22:08] Tratcher commented on #2357
TestServer.SendAsync is a new API in 2.1 that can do something like this. You get direct access to an HttpContext instance. That said, you still may need an auth handler for Authorize to work properly.

[2018-01-17 22:11] mkArtakMSFT commented on #2340
Closing as we have not seen much need for this.

[2018-01-17 22:11] #2340 closed

[2018-01-17 22:38] #2599 closed

[2018-01-17 22:38] #2600 closed

[2018-01-17 22:55] ryanbrandenburg opened #2792 "Sanitize user input for ResourceLocation, RootNamespace, etc"
Localization should check/sanitize input from sources like "ResourceLocationAttribute", "RootNamespaceAttribute", etc. to make sure that they A) fail early if they're illegal for some reason B) get trimmed of "extra" characters like `/` or `.` on the beginning/end.

[2018-01-17 22:58] blowdart commented on #2791
Anti-forgery is aimed at POST requests to stop an attacker forcing a logged in user on another site initiating an action which changes state they did not start. This is centered around the idea of HTTP idempotence, and doesn't apply to GET requests, as they shouldn't shouldn't be changing state.

Your concern is different. You want to stop an attackers site doing cross site GETs in javascript. Tha

[2018-01-17 22:58] #2791 closed

[2018-01-17 23:17] ajcvickers commented on #2380
@HaoK Your thoughts on this?

[2018-01-17 23:45] muratg commented on #2362
@Tratcher thoughts?

[2018-01-17 23:46] jkergosi opened #2793 "ASP.NET Core Web API - POST JSON, no Data Passed"
I have an existing web api call in .NET 4.7, when brought to .NET Core 2, doesn't work. I'd updated my code to be 2.0 compliant, but when I POST, the JObject parameter is not populated.

[code]

[code]

The Create method is called, but the JObject parameter is empty:

![results](https://user-images.githubusercontent.com/1840338/35073359-1ae11024-fbae-11e7-82ee-183525009f3a.JPG)

I've also tried dy

[2018-01-17 23:46] muratg commented on #2393
@Tratcher's following-up with folks to close on this.

[2018-01-17 23:49] benaadams commented on #2368
`ConcurrentQueue` is probably better in case people uncap the threadpool and end up with lots of objects sitting in threadlocals from `ConcurrentBag`

[2018-01-17 23:58] HaoK commented on #2380
IOptionsFactory's registered as transient, so you will get one every time, perhaps there's an issue with scopes in your app, BackgroundService tends to make it sound like something that lives across requests?  Can you include more code/details about how you've registered all the various pieces of your app?

[2018-01-18 00:29] Tratcher commented on #2793
Shouldn't [FromForm] be [FromBody]?

[2018-01-18 00:34] Tratcher commented on #2362
Looks like this was fixed back in https://github.com/aspnet/HttpAbstractions/commit/ce68ec23c05739af52f2e59649dd94b66bc30f13#diff-835c72281a3d18a5d4075376a0bb8a8d

[2018-01-18 00:34] #2362 closed

[2018-01-18 00:54] jkergosi commented on #2793
Normally, yes, but other posts recommended that it is needed. I've tried [FromBody] before and it unfortunately doesn't work.

[2018-01-18 01:04] onovotny commented on #2380
@HaoK The core issue is that I have a service that needs named config. It should be a singleton since it has no state.

I can get an `IOptions<T>` to get config, but not an `IOptionsSnapshot<T>` since `IOptionsSnapshot<T>` is registered as scoped.

A singleton cannot get an instance of a scoped service (but it can of a transient one since transient returns a new instance each time).

Right now, bo

[2018-01-18 01:09] rynowak commented on #2368
@benaadams - why do you think this is important? What does this get us?

[2018-01-18 01:15] oliverjanik opened #2794 "Please update nuget for Microsoft.AspNetCore.Proxy"

[2018-01-18 01:17] HaoK commented on #2380
Just use `IOptionsMonitor`, that's what you are looking for.  Closing this issue since IOptionsSnapshot is not intended to be used from singleton services.

[2018-01-18 01:17] #2380 closed

[2018-01-18 02:05] oliverjanik opened #2795 "Stop the magic method names pattern"
This is the official way how you set up WebHost:
[code]

This then looks up the Startup class, magically instantiates it and looks for methods with magic names like `ConfigureServices` or `Configure`. Now I have solution analysis complaining these methods are not used anywhere.

To mitigate this issue the template generates a comment for these methods:
![image](https://user-images.githubuserconten

[2018-01-18 02:37] natemcmaster commented on #2536
I was sent a memory dump internally with this error and can confirm the following:

 - Sometimes, the System.IO.FileSystemWatcher.OnRenamed event is raised with missing values for RenamedEventArgs.
 - The ASP.NET Core file system wrapper doesn't handle this well (hence `ArgumentException`).

I still can't reproduce conditions causing System.IO.FileSystemWatcher.OnRenamed to trigger with bad event

[2018-01-18 03:51] oliverjanik commented on #2795
Another case in point is
[code]

Magic constructor, magic method names 👎 and instead of compile-time type errors we get Runtime erros if the constructor does not conform.

[2018-01-18 06:47] Eilon commented on #2793
This issue was moved to aspnet/Mvc#7257

[2018-01-18 06:47] #2793 closed

[2018-01-18 06:49] Eilon commented on #2795
Unfortunately interfaces can't work for `UseStartup` or `UseMiddleware` because there is no specific requirement about the number or types of the parameters. For example, the `ConfigureServices` method has many different allowed signatures, so we can't restrict it to only one.

The lambda syntax you propose could probably work. I'm not sure if that's come up before as an idea.

[2018-01-18 06:50] Eilon commented on #2795
@Tratcher which repo would this bug go to? Hosting?

[2018-01-18 06:50] #2782 closed

[2018-01-18 06:51] Eilon commented on #2757
@blowdart - did you want to schedule a meeting for this? Or maybe we can discuss in Security triage?

[2018-01-18 06:55] Eilon commented on #2738
I sent a PR to remove the VBHTML references from the ASP.NET Core docs: https://github.com/aspnet/Docs/pull/5201

There are currently no plans to introduce VBHTML support to ASP.NET Core.

We do have F# templates for ASP.NET Core, which are installed as part of the .NET Core SDK.

[2018-01-18 06:56] Eilon commented on #2736
@TheSamsterZA hard to say how long. It's only been a few weeks so far, and at least from where I'm sitting, it hasn't been too bad. But, this is a rather slow time of year, so we'll need to see how things look once the rate of incoming bugs picks up a bit.

[2018-01-18 06:59] davidfowl commented on #2795
Yes Hosting.

There are actually interfaces for both of the things you suggest. There's an IMiddleware and an IMiddlewareFactory, and there's also an IStartup. We've received similar feedback in the past so we did introduce these interfaces.

It does mean you lose the ability to use environment specific Configure and ConfigureServices via method names, you also lose the ability to get dependencies

[2018-01-18 06:59] Tratcher commented on #2795
We actually do have IStartup and IMiddleware, but nobody has ever shown much interest in them. Want to give them a try?

This can go in Hosting.

[2018-01-18 07:09] davidfowl commented on #2788
You have another library that's calling into the 1.0 version. Which one is it?

[2018-01-18 07:10] Eilon commented on #2795
This issue was moved to aspnet/Hosting#1311

[2018-01-18 07:10] #2795 closed

[2018-01-18 07:15] Eilon opened #2796 "[2.0.x patch] Use StartWith with StringComparison.Ordinal to properly detect hidden files on Linux"
Port this PR to 2.0.6: https://github.com/aspnet/FileSystem/pull/311

[2018-01-18 07:15] Eilon commented on #2796
This patch is **approved** for the Feb 2018 patch. Please send a PR to the appropriate branch, get it reviewed, and merge.

Please consider adding a [quirks-mode switch](https://github.com/aspnet/Home/wiki/Quirks-mode-switches-in-patches) for this change.

[2018-01-18 07:24] oliverjanik commented on #2795
@davidfowl c was referring to IConfiguration which is a param to Startup class as generated by the VS template.

[2018-01-18 07:28] oliverjanik commented on #2795
@Eilon overloads? That's how every decent lib works.

Shouldn't reflection be a last resort? This project should be a shining example of best practices.

[2018-01-18 08:12] rsvaidya commented on #2788
The `Microsoft.AspNet.WebHooks.Custom.AzureStorage.dll` depends on 1.0 version of `Microsoft.Extensions.DependencyInjection`

[2018-01-18 09:24] bardi15 opened #2797 "Environment Variable not working publishing dotnet core 2.0 project"
I am having an Issue similar to this issue:
https://github.com/aspnet/Home/issues/2019

**Prerequisites:**
- Ubuntu 16.04
- .NET Core CLI

I added into the "~/.bash_profile" the following:

`export ASPNETCORE_ENVIRONMENT=Staging`

I have also tried adding the line to "~/.bashrc"

**Note: When running the project (using dotnet run) it works perfectly.** It finds the correct environment variable. Ho

[2018-01-18 09:26] davidfowl commented on #2788
It needs to be recompiled.

[2018-01-18 10:54] jaydeept opened #2798 "dotnet.exe is crashing while running the tests"
Hello,

I am using .Net Core 2 for my project. I need to support Oracle hence for that I am using 3rd party library as provided [here](https://github.com/ericmend/oracleClientCore-2.0).
When I try to run tests from test explorer, I get error that dotnet.exe has stopped working. And if I click on debug, it shows "coreclr.pds" not loaded.
But if I debug the test, test case is passing properly.
I am

[2018-01-18 10:55] reduckted commented on #2738
Personally, I'm not concerned about VBHTML support because I don't use Razor pages, and don't intend to. As mentioned by @AnthonyDGreen (https://github.com/dotnet/vblang/issues/238#issuecomment-354927626), it doesn't make sense to add VB support to it because it was rarely used in MVC 5, and, I imagine, would take a very large amount of work for not a lot of gain.

OK, but I'm not really sure what

[2018-01-18 11:14] benaadams commented on #2368
Lower contention - `Get` and `Return` wouldn't contend as they operate on different ends
Better throughput - `Get` and `Return` only operate on a single item; rather that iterating the whole array
Mainline data structure - its performance is continually worked on; whereas `DefaultObjectPool` doesn't get a lot of attention

[2018-01-18 11:15] benaadams commented on #2368
Although... this might be better https://github.com/dotnet/corefx/issues/24365

[2018-01-18 12:19] davenewza opened #2799 "NullReferenceException at Microsoft.AspNetCore.Http.DefaultHttpContext.get_Items()"
We are experiencing the following `NullReferenceException` (see full stack trace below) at `Microsoft.AspNetCore.Http.DefaultHttpContext.get_Items()`. It happens very rarely, making it difficult to reproduce.

Judging from [this issue](https://github.com/aspnet/HttpAbstractions/issues/839) (https://github.com/aspnet/HttpAbstractions/issues/839), it would seem that the exception could arise from in

[2018-01-18 13:44] maikschoeneich commented on #2232
I am facing the same issue as @gbfromhb right now. Any suggestions so far?

[2018-01-18 16:32] helgemahrt opened #2800 "DI: Container does not dispose existing services when encountering exception in ConfigureServices()"
I first encountered this issue in the context of Service Fabric and reported it here: [https://github.com/Azure/service-fabric-aspnetcore/issues/42](https://github.com/Azure/service-fabric-aspnetcore/issues/42) Please view this items for details. In a nutshell: When there's an exception in `ConfigureServices()` and we've added an IDisposable to the services collection, which has already been insta

[2018-01-18 16:34] Tratcher commented on #2800
This issue was moved to aspnet/Hosting#1313

[2018-01-18 16:34] #2800 closed

[2018-01-18 17:29] rynowak commented on #2368
I'm open to ideas, but if the bounded queue is a new API, it's pretty much impossible for us to adopt unless it's also netstandard2.0 library.

--

Also concurrent bag doesn't have a bounded capactity, so we'd still have to implement something 😆

I don't really find this compelling unless the BCL can provide us with a bounded concurrent queue.

[2018-01-18 17:30] anurse opened #2801 "Update to consume System.Net.WebSockets.Protocol"
See https://github.com/dotnet/corefx/pull/26250

The WebSockets middleware can now use an OOB package that contains the WebSocket protocol logic rather than copying code. 🎉

[2018-01-18 17:31] anurse commented on #2801
/cc @muratg candidate for Preview 1 if the timing works out (need to get the new package on our mirror), but this can fall to Preview 2 if necessary.

[2018-01-18 17:37] Swazimodo commented on #2791
@blowdart I did some more research and I now have a better understanding of what I am doing. Thanks for your help on the last few issues I have opened. If you ever are in Edmonton I would buy you a beer :)

[2018-01-18 17:45] Eilon commented on #2738
@reduckted the question comes down to the demand for it and the cost of it - both the initial cost and the ongoing cost. The demand has been very low, as noted earlier. The cost to create an initial set of templates might not be much, but someone has to maintain them. With F# we have people at Microsoft who are committed to maintaining them. We don't have any such people for VB at this time.

Also

[2018-01-18 17:57] muratg commented on #2801
@anurse Tentatively putting it in the milestone. If timing doesn't work out we can move.

[2018-01-18 18:05] Eilon commented on #2798
@jaydeept can you show a screenshot of the exact error you're getting? Was it `coreclr.pds` or `coreclr.pds`?

[2018-01-18 18:33] Tratcher commented on #2799
OnStarting runs on the same thread as Write/Async so it should not be the source of multi-threading issues.

[2018-01-18 18:51] benaadams commented on #2368
`BoundedConcurrentQueue<T>` should be .NET Standard 1.3 https://www.nuget.org/packages/System.Collections.Concurrent/ will see how the api review in Feb goes

[2018-01-18 19:25] huzaynbolt commented on #2785
boundary = mthv.Boundary.Value.ToLower();

I have tested with the above as well but issue still persist

[2018-01-18 19:34] rynowak commented on #2368
@mkArtakMSFT - I suggest we revisit this pending the outcome of the API review for `BoundedConcurrentQueue`- it would be nice cleanup to replace our custom implementation with that. However you want to track that is fine with me.

/cc @stephentoub

[2018-01-18 19:35] Tratcher commented on #2357
If your controller is using the default auth scheme, maybe.

[2018-01-18 19:39] Tratcher commented on #2785
You should not use ToLower, the boundary is case sensitive.

[2018-01-18 19:47] Tratcher commented on #2393
Offline discussion with @Eilon and @glennc: Session is non-essential, it's designed for ephemeral data. I will add a comment to that effect in the code, but that change does not need to go into preview1. Moving to preview2.

[2018-01-18 19:55] ryanbrandenburg commented on #2645
Moved this to preview1 with @mkArtakMSFT's blessing since it's relatively low risk and we wanted to get the fix in front of people sooner rather than later.

[2018-01-18 20:37] embryologist commented on #2740
@kichalla, your questions, and comments helped a lot, now it is working.
to answer your questions. yes it is correct, my web `API` is served on a different port and yes I have my CORS enabled. I think my problem was mis-config in the latter.

[code]

and I decorate my `controller`,
[code]

and what did the trick is that I call the token generating `API` that I mentioned above at the time of login

[2018-01-18 21:11] Shannaxchen opened #2802 "High Latency seen in IIS Logs"
Hey folks,

For some background: we are seeing a lot of latency when talking to Azure Storage. They've asked us to collect IIS_FailureTrace Logs to see a better picture of what might be happening.

We looked into the logs and see that there is a lot of latency during this event:

[code]

The next thing that happens shows a timestamp where it’s created 3 seconds after the previous event which is wh

[2018-01-18 21:26] Eilon commented on #2785
Also as a general note, if you do want to make something lower-case, use `.ToLowerInvariant()`, which avoids culture-specific issues from affecting the code.

[2018-01-18 21:33] Eilon commented on #2802
@jkotalik / @shirhatti / @Tratcher - any idea where this bug should go? Is this ANCM?

[2018-01-18 21:53] blowdart commented on #2740
I notice that you appear to be using a bearer token;

[code]

If this is your sole method of authentication then CSRF protection is _not_ needed. CSRF arises when authentication automatically flows, when it's cookie based, or uses basic authentication, or kerberos. If you are specifically adding the authorization header on every request, which you can only do within javascript, then a normal POST

[2018-01-18 21:57] shirhatti commented on #2802
@Eilon I just quickly looked at the FREB logs. Doesn't look this has anything to with Core

[2018-01-18 22:07] Eilon commented on #2802
@shirhatti got it. Any idea where this bug should go to? Looks like @Shannaxchen is in Microsoft, so maybe there's some TFS repo somewhere?

[2018-01-18 22:29] shirhatti commented on #2802
Honestly, there's not much to go off in the logs. Bulk of the time is spent in the AspNetHttpHandler. There's nothing in the FREB logs as to why that's happening.
@Shannaxchen You're probably better served by collecting a profile, but I'd ask @honggit or @jinhuafei for next steps.

[2018-01-18 22:39] javiercn commented on #2357
@Tratcher You can setup the auth part with any scheme you need, so I don't think the scheme matters at all. I did the default part cause that's what most people use.

[2018-01-18 22:48] jbagga opened #2803 "OSSkipCondition should not allow invalid arguments"
OSSkipCondition should not allow invalid arguments such as:

[OSSkipCondition(OperatingSystems.Linux | OperatingSystems.MacOSX)]

This does not throw an error but does not work as intended. The test still tries to run in one of the two listed operating systems (I did not investigate if it consistently chooses the first or the second).

cc @Eilon

[2018-01-18 22:54] ryanbrandenburg commented on #2645
Fixed in aspnet/Localization#435. We added an Attribute `RootNamespaceAttribute` which you can add to your assembly to specify the RootNamespace when it's different from the AssemblyName. I'm filing a separate bug to generate that Attribute automatically because that work won't be done in time for preview1.

[2018-01-18 22:57] ryanbrandenburg opened #2804 "Task to Automatically generate RootNamespaceAttribute"
In aspnet/Localization#435 we added an attribute you specify to make assemblies with RootNamespace's different from their AssemblyName work with Localization, but currently you have to create it manually, leaving a chance for it to get out of sync or not created. Let's make a task which is run at compile time (when we still have that info) to create it automatically.

[2018-01-18 22:57] #2645 closed

[2018-01-18 23:13] natemcmaster commented on #2804
You may not need a task at all. As long as the user hasn't disabled assembly info generation, the .NET Core SDK supports using the `<AssemblyAttribute>` item group to generate assembly attributes.

Example: https://github.com/aspnet/BuildTools/blob/e19aeae9e53e87fc98b792adc11e645d858fe2cd/src/Internal.AspNetCore.Sdk/build/Common.props#L40-L43

[2018-01-18 23:27] Tratcher commented on #2357
What matters is what's on your controller, you can't change that from outside the app.

[2018-01-18 23:30] Shannaxchen commented on #2802
We suspect it might be due to queuing, but don't know what might be causing it.
Could the machine's SKU size have any affect? Too many threads/processes are running?

Some more information:
Each one of our front end machines in our datacenter has a CPU set up of: 4 Cores, 14GB GB Memory, 200GB Disk
We have 424 front end machines in one datacenter and during peak hours (when we experience this high

[2018-01-19 00:22] Zoxive commented on #2779
I think what @davidfowl is refering to is the ValidateScopes property on ServiceProviderOptions.

Typically a Web project would use something like

[code]

In my non-web projects i just use #if DEBUG

[code]

[2018-01-19 00:38] oliverjanik opened #2805 "Assignable JsonSettings"
Let me prefix this by saying, that every single project of mine needs to have Json settings adjusted because defaults are outright broken.

Hi, if I'm not mistaken this is the official way to setup Newtonsoft.Json in AspNetCore 2
[code]

There are 2 oddities here.

1) Why can't I assign my settings from somewhere? Why do I have to do each property individually? Lots of projects have this as well
[

[2018-01-19 01:33] rockerinthelocker commented on #2773
@shirhatti , Thanks for clarifying! Well, then we certainly can use `where /R C:\ dotnet` instead to find all locations (outside the 'Path' variable) where dotnet.exe exists on the system; and run the following PowerShell lines (replace DefaultAppPool with the proper application pool name) to get the other details.
[code]
Does it work for you @drobertson123 ?

[2018-01-19 01:55] clement911 opened #2806 "NullReferenceException at Microsoft.AspNetCore.Http.Internal.DefaultHttpRequest.get_Query()"
I just got a weird null reference with the following call stack:

[code]

The calling code looks like this

[code]

The app is running on .Net 4.6.1

[code]

[2018-01-19 02:03] Tratcher commented on #2806
There are some known issues where the internal HttpContext structure does not react well to multi-threaded access, especially to properties that lazily initialize like Query. It looks like you're using IHttpContextAccessor? Is there another thread that may be accessing this context concurrently?

[2018-01-19 02:03] jbagga opened #2807 "Move the basic functionality of file streaming to a lower level API"
_From @jbagga on January 18, 2018 23:51_

See https://github.com/aspnet/Mvc/issues/7208#issuecomment-356588707

@Tratcher @dustinmoris

_Copied from original issue: aspnet/Mvc#7259_

[2018-01-19 02:03] jbagga commented on #2807
_From @rynowak on January 19, 2018 0:53_

This isn't an MVC issue 😆 - *a lower level* implies non-MVC

[2018-01-19 02:03] jbagga commented on #2807
I'll move it to Home and @Eilon can decide which label. Thanks!

[2018-01-19 02:23] javiercn commented on #2357
@Tratcher Completely agree, what I'm saying is that you can setup your app in the test environment so that it matches what is on your controller.

Fore example,
If you have [Authorize] you can set the default scheme as the handler.
If you have [Authorize("SomeScheme")] you can setup your test handler as "SomeScheme"

Similarly if you had an auth policy. If you don't override the auth in the app, b

[2018-01-19 02:50] clement911 commented on #2806
I don't think there would be another thread accessing the same http request, but multiple threads may be using the accessor to access their own http request. Considering I saw this error only once, a threading  is certainly possible.
Is a fix on the roadmap?

[2018-01-19 02:53] Tratcher commented on #2806
No, the types are fundamentally not designed for multi-threaded use.

[2018-01-19 03:02] clement911 commented on #2806
When you say _types_ are you referring to HttpContextAccessor or HttpRequest?

It seems reasonable for HttpRequest to not be thread safe but not for HttpContextAccesso (unless I really didn't understand its purpose).

If HttpContextAccessor was not thread safe it would be like saying that the old System.Web.HttpContext.Current was not thread safe. You know what I mean?

[2018-01-19 03:15] Tratcher commented on #2806
Yes, HttpContext. That said, we've often seen HttpContextAccessor used to accidentally access a request concurrently with another thread, such as inside loggers that aren't directly aware of the threading. Where are you using it?

[2018-01-19 03:31] clement911 commented on #2806
Yes I am using it in a custom logger too, to get the user id from the request.
But I don't believe there is any code path that can lead to multiple threads logging a message **on the same request**. That is, for a given request, the logger.Log* calls should be serial.
Can I get in trouble anyway?

[2018-01-19 03:51] Tratcher commented on #2806
Some thread transitions are not obvious, such as HttpClient spinning up a background thread to process outgoing requests.

[2018-01-19 03:53] Tratcher commented on #2806
Are you starting any async operations that you don't immediately await? E.g. sending multiple HttpClient requests before awaiting the results?

[2018-01-19 04:01] clement911 commented on #2806
It's hard for me to confirm because logging calls are scattered everywhere in the code base, but I'm certain the httpaccessor is only used from the logger.
I suppose I could lock the `_httpAccessor.HttpContext` in the logger before accessing its properties.

[2018-01-19 04:08] Tratcher commented on #2806
That will only help if the conflict is worth other logging, but it's worth a try. The other option is to pre-touch lazy properties like this at a known safe place such as in a middleware.

[2018-01-19 04:49] #2536 closed

[2018-01-19 04:51] natemcmaster commented on #2536
A fix for this should be available soon in the nightly build of Microsoft.Extensions.FileProviders.Physical.

https://github.com/aspnet/home#builds

[2018-01-19 04:56] Eilon opened #2808 "Port to 2.0.x: FileSystemGlobbing passes invalid path upon upgrade to Core 2.0"
Port the fix for https://github.com/aspnet/Home/issues/2536 to 2.0.x.

PR for 2.1.0: https://github.com/aspnet/FileSystem/pull/314

[2018-01-19 04:56] Eilon commented on #2808
This patch is **approved** for the Feb 2018 patch. Please send a PR to the appropriate branch, get it reviewed, and merge.

Please consider adding a [quirks-mode switch](https://github.com/aspnet/Home/wiki/Quirks-mode-switches-in-patches) for this change.

[2018-01-19 04:56] Eilon commented on #2808
@muratg - can you assign someone to port? Or, @natemcmaster , feel free to grab 'n go.

[2018-01-19 04:59] natemcmaster commented on #2808
I can port it. Its like a 4 line change. Do you think this one deserves a quirks mode switch?

[2018-01-19 05:00] Eilon commented on #2808
Good question. It seems so trivial. But the cost/harm of adding a quirk mode is close to zero, so I'd recommend adding it anyway.

[2018-01-19 05:00] Eilon commented on #2808
(Who knows, maybe an empty string *is* valid in some crazy case.)

[2018-01-19 05:00] natemcmaster commented on #2808
ok, i'll make that part of porting it.

[2018-01-19 05:07] livarcocc opened #2809 "Microsoft.NET.Sdk with Razor support"
_From @bgever on August 10, 2017 9:55_

I'm trying to get Razor syntax support for Visual Studio 2017 in a `Microsoft.NET.Sdk` library, which is dynamically loaded into a `Microsoft.NET.Sdk.Web` project.

I've noticed that when I change the library to the Web SDK, .cshtml files get proper support for Razor code, so that I can access `@Html` or `@Context` with IntelliSense, and reports no longer er

[2018-01-19 05:07] livarcocc commented on #2809
I am not aware of it, however, I will move this issue to the aspnet repo, where they might be able to provide some guidance.

[2018-01-19 05:14] clement911 commented on #2806
Got ya. Feel free to close this as you see fit.

[2018-01-19 05:59] tangdf opened #2810 "ResponseCaching Repository QueryString created a cache key with a bug."
https://github.com/aspnet/ResponseCaching/blob/5b239d44c0d749600a60ccd2951e0a67edd11a10/src/Microsoft.AspNetCore.ResponseCaching/Internal/ResponseCachingKeyProvider.cs#L142-L152

Query String| Cache Key
---|---
?key=12&key=34 | key=1234
?key=1&key=234 | key=1234

The cache key of query string **?key=12&key=34** and **?key=1&key=234** is the same , both **key=1234**.

[2018-01-19 06:08] Tratcher commented on #2810
@JunTaoLuo

[2018-01-19 06:09] #2806 closed

[2018-01-19 06:12] JunTaoLuo commented on #2810
Looks like the underlying HttpContext is consolidating the values of the query keys. I wonder if we should use the raw query string and whether that would lead to too many duplicated entries clogging up the cache.

[2018-01-19 06:41] davenewza commented on #2799
We have no apparent case of accessing `HttpContext` asynchronously.  We have also been able to reproduce the exception with all our custom middleware and telemetry initializers disabled.

If anyone has any specific tips on what else to look for, it would be appreciated.

[2018-01-19 06:50] jaydeept commented on #2798
Hello @Eilon ,

Yes it's related to `coreclr.pdb` file.
I got below exception on running test:
![error](https://user-images.githubusercontent.com/18435588/35138124-02725492-fd13-11e7-8d09-1245cbaba45d.PNG)

And on clicking debug below information came:

![coreclr](https://user-images.githubusercontent.com/18435588/35138132-0e81a684-fd13-11e7-9e7e-e4f24703b7b5.PNG)

[2018-01-19 06:53] Tratcher commented on #2810
You get multiple entries in the StringValues, it only needs a separator.

[2018-01-19 08:22] nixxholas commented on #2764
- Yes I am
- Yes it is and that isn't a problem because dotnet run is usually run from that specific path
- No it is not! Don't think I do and the version of mvc is 2.0.0

[2018-01-19 08:22] #2764 closed

[2018-01-19 11:17] reduckted commented on #2738
You may want to speak to @AnthonyDGreen, because that's exactly the _opposite_ of what he has said in the comment that I previously linked to (https://github.com/dotnet/vblang/issues/238#issuecomment-354927626). I'll quote it this time (emphasis is mine):

[2018-01-19 15:51] pranavkm opened #2811 "[FileSystem] Use unique names in EmbeddedFileProvider targets"
I tried building a project referencing Microsoft.AspNetCore.All + Razor.Design, and got this error:

[code]

This is because the two packages share the same property names - https://github.com/aspnet/FileSystem/blob/dev/src/FS.Embedded/build/netstandard2.0/Microsoft.Extensions.FileProviders.Embedded.targets#L4. We need to scan the targets and ensure we're using unique names.

[2018-01-19 16:02] dustinmoris commented on #2807
Thanks, sounds like this is the right place, however I remember @DamianEdwards and @Eilon  saying on one of the recent stand ups that issues in aspnet/Home are getting forgotten.

[2018-01-19 16:04] rynowak commented on #2807
This is the right place. We're doing a trial of consolidating issues from lower-traffic repos in aspnet/Home.

[2018-01-19 17:40] Eilon commented on #2738
@reduckted - interesting, that is news to me. I'm thinking back to Web Forms days, which was initially designed with concepts that were familiar to VB developers (VB6, specifically), and Web Forms was very HTML-centric (sorta), so that led me to think that VBHTML would be most interesting to that group of people. Then again, that's ~15 year old anec-data 😄

BTW to be clear, we haven't said that we

[2018-01-19 17:40] muratg commented on #2799
@davenewza Could you create a simple app that reproduces the problem and share it on GH? This would definitely be helpful in investigating the issue here.

[2018-01-19 18:04] mkArtakMSFT commented on #2654
@MarayM, @davidliang2008 looks like you can solve the problem you both are facing using Order and Name attributes of the RouteAttribute. Just define the Name and pass it in when calling Url.Action.

[2018-01-19 18:04] #2654 closed

[2018-01-19 18:09] mkArtakMSFT commented on #2669
@javiercn, can you please investigate what options we can have here? Just come up with some proposal about this and let's discuss it with the team.
//cc: @Tratcher

[2018-01-19 18:10] Tratcher opened #2812 "Add Http2 headers to HeaderNames"
Http/2 defines new header fields for `:method`, `:scheme`, `:authority`, `:path`, and `:status`.
https://tools.ietf.org/html/rfc7540#section-8.1.2.3
https://tools.ietf.org/html/rfc7540#section-8.1.2.4

We should add these to the HeaderNames constants class.
https://github.com/aspnet/HttpAbstractions/blob/6558c2bd07dc3e40c477a33ee0ec4663a8ff81a7/src/Microsoft.Net.Http.Headers/HeaderNames.cs

And us

[2018-01-19 18:11] davidliang2008 commented on #2654
@mkArtakMSFT : or simply reset the parameter when using Url.Action or the tag helper

`@Url.Action("edit", "product", new { area = "", id = "" });`

`<a asp-area="" asp-controller="product" asp-action="edit" asp-route-id="">edit</a>`

I was hoping there is some kind of configuration settings we can do on Startup to disable that, rather than override the id value on each action link, or putting Ord

[2018-01-19 18:36] pranavkm commented on #2811
Self assigning this since it's a blocker for preview1.

[2018-01-19 18:41] mkArtakMSFT commented on #2630
@ryanbrandenburg, can you please investigate this further and see what options do we have? Is this really something customers can confidently work around or not?

[2018-01-19 18:48] Tratcher opened #4761 "Add HTTP/2 pseudo-headers as known headers"
https://github.com/aspnet/KestrelHttpServer/blob/526dfdb332b30fd6042d8ef8d1a2ba99cc654010/src/Kestrel.Core/Internal/Http2/Http2Stream.cs#L55-L66

It looks like these are being treated as unknown headers. Consider adding them to KnownHeaders. Note we'll have to special case them in the generator as the colon does not translate into a valid C# member name.

https://github.com/aspnet/KestrelHttpServe

[2018-01-19 18:57] Eilon commented on #2798
Thanks for the info @jaydeept . I think that https://github.com/dotnet/core/issues/1230 is a better place for this issue because it doesn't look related to ASP.NET Core.

[2018-01-19 18:57] #2798 closed

[2018-01-19 19:02] Eilon commented on #2797
@bardi15 that indeed sounds quite odd. Can you try printing out all the env vars from within your app's `Program.Main` to help narrow down where the issue is?

Just add a few lines like this to the top of the `Main(...)` method:

[code]

[2018-01-19 19:05] natemcmaster commented on #2808
Fixed in https://github.com/aspnet/FileSystem/pull/315

[2018-01-19 19:05] #2808 closed

[2018-01-19 19:05] Eilon commented on #2805
Hi @oliverjanik , we have previously considered this suggestion and for the reasons described in https://github.com/aspnet/Mvc/issues/6816#issuecomment-329221624, we kept the current design.

[2018-01-19 19:05] #2805 closed

[2018-01-19 19:06] Eilon commented on #2809
Moved to https://github.com/aspnet/Razor/issues/1951.

[2018-01-19 19:06] #2809 closed

[2018-01-19 19:20] mkArtakMSFT commented on #2590
Sounds like the ask here is mainly for developers. Postman, for example, has the "preview" option which allows to see the HTML responses like in browser.

[2018-01-19 19:26] mkArtakMSFT commented on #2590
Thank you for your feature request. We'll consider this feature during the next release planning period and update the status of this issue accordingly.

[2018-01-19 19:45] JeremyKuhne commented on #2536
As pointed out, OnRenamed has always potentially fired with a [`null`](https://referencesource.microsoft.com/#System/services/io/system/io/FileSystemWatcher.cs,589) if we get an old name event without a following new name. It isn't documented, but I've created a PR: https://github.com/dotnet/docs/pull/4156.  I'm not particularly fond of this code, it would be good to get detailed logs of events to

[2018-01-19 19:48] JeremyKuhne commented on #2536
@pjanotti, @ianha Fyi

[2018-01-19 20:00] davenewza commented on #2799
@muratg I will revert back with something thanks.

[2018-01-19 20:26] natemcmaster commented on #2536
We have a candidate fix available on a nightly feed. If you would like to try it out, follow these steps:

1. Add a NuGet.config file to your solution and with this patch feed:

[code]

2. Update your MSBuild project (\*.csproj file) to include a reference to the patched component, Microsoft.Extensions.FileProviders.Physical
[code]

3. Dotnet restore and re-build your project.

Please let me know

[2018-01-19 20:27] natemcmaster commented on #2796
Fixed in https://github.com/aspnet/FileSystem/pull/311

[2018-01-19 20:27] #2796 closed

[2018-01-19 20:52] alexvy86 commented on #2413
I think I'm running into the same thing... in my case everything is under the same URL, and the identity is not blank. This is my scenario:
1. The SPA calls a method in the API, gets authenticated with a Cookie (regular ASP.NET Core authentication), the method generates the JWT and the anti-forgery token.
2. In Middleware, I'm replacing the HttpContext.User that comes from cookies with the one I m

[2018-01-19 21:02] ferrx commented on #2357
@javiercn Would you be able to set the principal's claims so that you can test controllers that perform granular authorization with `HasClaims` ?

[2018-01-19 21:28] #2383 closed

[2018-01-19 21:34] natemcmaster opened #2813 "Fix websockets tests broken by switching Kestrel back to libuv by default"
Some tests started failing after https://github.com/aspnet/KestrelHttpServer/pull/2257

 - Microsoft.AspNetCore.WebSockets.Test
 - Microsoft.AspNetCore.Proxy.Test.WebSocketsTest

http://aspnetci/viewLog.html?buildId=390091&tab=buildResultsDiv&buildTypeId=Lite_UniverseTest

cc @ryanbrandenburg

@halter73 can you take a look?

[2018-01-19 21:34] natemcmaster commented on #2813
Failure:
[code]

[2018-01-19 21:35] OscarCanek opened #2814 "Deploy Identityserver in a docker Linux container"
### Issue / Steps to reproduce the problem

I'm trying to deploy Identityserver for high availability in a docker container with Linux but always have the following error when I try to login through mvc. I'm using a pfx certificate.

This is how I configure the DataProtection:

[code]

### Relevant parts of the log file

[code]
This is the complete message:

[Log message](https://github.com/Identi

[2018-01-19 22:00] hishamco commented on #2738
I'm a VB fan 😄, which I expect `.vbhtml` to be out-of-the-box, the hybrid approach  that I mentioned before is not enough for all the VB guys, but It's fine is some cases. My question is some re-implement the `Razor` to emit VB instead of C# is that gonna work, or the MVC is tightly coupled on the `cshtml` C#?

[2018-01-19 22:21] blowdart commented on #2814
Well the error message is pretty clear here, you disabled KeyGeneration and it wants to create a key because it doesn't have one, but it can't, because you disabled it.

So why did you disable key generation?

[2018-01-19 23:15] Muchaszewski opened #5910 "Not consistant logging across Hosting"
Following files and methods contains `Console.Write` or `Console.WriteLine` instead of using ILogger interface. That information, though informational might be useful in debugging process on remote host where we do not read console directly.

Following files should have replaced those `Console.Write` with `_logger.LogInformation(...)`:
`src/Microsoft.Extensions.Hosting/Internal/ConsoleLifetime.cs:

[2018-01-19 23:26] blowdart commented on #2814
This appears to have come from https://github.com/IdentityServer/IdentityServer4/issues/2005, so mentioned it in case others search on the same problem.

[2018-01-19 23:41] OscarCanek commented on #2814
I already have the keys at `dirInfo` and I don't need to create newones (I generate them with a separate console app using the same certificate I use here), so I have a key and when I run this aspnet app in windows no errors are shown. I think it's releated to the ProtectKeysWithCertificate, maybe in Linux don't support something because when I remove that it runs fine.

Some extra info:
- I gener

[2018-01-19 23:50] natemcmaster commented on #2759
@MV10 I haven't forgotten this one, however, I'm headed out on vacation for a few days. I'll try to reproduce later next week.

[2018-01-19 23:54] blowdart commented on #2814
Well it appears it can't find your key ring, or decrypt it, so it's trying to generate new keys. I am presuming your keys haven't expired, and they're encrypted with the same certificate on Windows.

@morganbr / @bartonjs are there there any circumstances where encrypted XML decryption would work on Windows but no Linux.

[2018-01-20 00:03] Eilon commented on #2590
I've been thinking about this space and started some prototypes, so self-assigning for now.

[2018-01-20 00:56] ryanbrandenburg commented on #2630
I can confirm that the workaround of having the resource for your neutral language be named `Test.resx` instead of `Test.en-US.resx` works.

[2018-01-20 01:07] oliverjanik commented on #2805
Hi @Eilon
You have not addressed my point 2 ;-)

Please. What stops a component from overriding each property if they want to and act maliciously?

On top that why would you want composable json settings? What is the use-case? If one component says PascalCase and next one says camelCase, how is that composable? The first component gets a nasty surprise anyway.

**What you want in reality is one co

[2018-01-20 01:55] jkotalik commented on #2465
This will be handled by https://github.com/aspnet/WebSockets/pull/220. cc/ @anurse

[2018-01-20 02:55] PureKrome commented on #2590
Thanks heaps @Eilon !

[2018-01-20 07:40] dougbu commented on #2684
@Eilon @danroth27 @muratg any chance this can happen in 2.1.0-preview1? Doing it now will avoid breaking Mvc and WebHooks later.

I can do it if triaged into the milestone. (Yeah, I lost track of this issue.)

[2018-01-20 12:45] hishamco commented on #2630
I quote from what @atuzovic said before

[2018-01-20 12:51] hishamco commented on #2792
This is a good improvement to avoid illegal characters that makes the attributes fail. I will handle this if it's possible

[2018-01-21 10:29] ycrakx commented on #2315
Have you found a resolution? I am facing the same issue.

[2018-01-21 18:29] rayrfan opened #5762 "IdentityUserToken table PK and expiration date"
For IdentityUserToken table is there a plan to add an Id as PK and some sort of expiration date for the tokens?  Also where could I find a sample that uses this table?  Thanks.

[2018-01-22 05:35] jaydeept commented on #2798
Ok @Eilon ,

I thought when you asked is it related to coreclr.pdb, it's known issue and related to aspnet.

[2018-01-22 12:36] mcatanzariti commented on #2467
Hi,

Same issue here on AWS ECS Fargate without Ngnix.
CPU and memory increase slowly during 3 or 4 days to finally reach 100% CPU and memory.

The application is a notification service, it does not receive anything, only sends json notifications.
The load is around 2000 CCU on 2 AWS instances with 2 cores and 4 Gb each.

The notification service writes around 1 message per 10 minutes per connecti

[2018-01-22 12:55] davidfowl commented on #2467
@mcatanzariti have you taken a memory dump or a CPU profile? What does your code look like? That's the first step to investigating a performance issue like this...

[2018-01-22 19:29] jmudavid opened #2816 "Enhancement to JsonPatch to support inheritance and overrides"
Hello,
I am looking to extend JsonPatch to support the SCIM patch protocol.  Specifically I am looking to add attribute filters within a list, rather than needing to rely solely on indexes.  I have a fork with some basic functionality to prove it can be done, but I am trying to minimize the amount of code that needs to be maintained outside the main version.  I would like to propose minor refactor

[2018-01-22 19:43] kichalla commented on #2740
Closing this issue now as we do not have any action item here.

[2018-01-22 19:43] #2740 closed

[2018-01-22 22:15] Shannaxchen commented on #2802
@hongGit @jinhuafei do you have any ideas?

[2018-01-22 22:38] mattfjh commented on #2802
Your wcf service code took most of the time.

123. | NOTIFY_MODULE_START | ModuleName="ManagedPipelineHandler", Notification="EXECUTE_REQUEST_HANDLER", fIsPostNotification="false" | 10:08:07.745
-- | -- | -- | --
124. | AspNetPipelineEnter | Data1="System.Web.ImplicitAsyncPreloadModule" | 10:08:07.745
**_125. | AspNetPipelineLeave | Data1="System.Web.ImplicitAsyncPreloadModule" | 10:08:07.745
126.

[2018-01-22 22:43] Jinhuafei commented on #2802
The wcf handler took most of the time. You need to profile your WCF code.

123. NOTIFY_MODULE_START ModuleName="ManagedPipelineHandler", Notification="EXECUTE_REQUEST_HANDLER", fIsPostNotification="false" 10:08:07.745
124. AspNetPipelineEnter Data1="System.Web.ImplicitAsyncPreloadModule" 10:08:07.745
125. AspNetPipelineLeave Data1="System.Web.ImplicitAsyncPreloadModule" 10:08:07.745
126. AspNetHtt

[2018-01-22 23:05] bartonjs commented on #2814
@blowdart Not that I know of.  I don't see any tests for EncryptedXml which check to see what platform they're on.

[2018-01-22 23:06] jhkimnew opened #3828 "Supress windows auth token when forwardWindowsAuthToken is set to false"
1. Enable NTLM authentication for an aspnetcore app which is running in inprocess
2. Send a request to the aspnetcore app

EXPECTED:

The request headers should contain the following headers:

MS-ASPNETCORE-TOKEN
MS-ASPNETCORE-WINAUTHTOKEN

ACTUAL:

The request headers does not have the expected request headers.

[2018-01-23 01:48] halter73 commented on #2813
Fixed by https://github.com/aspnet/WebSockets/commit/ec442c3d80ea1ab800350cc401dfebf54291d19e

[2018-01-23 01:48] #2813 closed

[2018-01-23 03:24] cottsak opened #2817 "How do I resolve HttpRequest into an arbitrary dependency?"
My dependency needs access to the cookies collection from the Request but I can't simply resolve `HttpRequest` via the constructor in Core 2.0.

I need to `services.TryAddSingleton<IHttpContextAccessor, HttpContextAccessor>();` as it turns out and then use `_httpContextAccessor.HttpContext.Request` in my service. This seems dirty and given the decision to [avoid registering `HttpContextAccessor` b

[2018-01-23 04:44] Tratcher commented on #2817
No, IHttpContextAccessor is the API for this.

[2018-01-23 05:05] cottsak commented on #2817
@Tratcher Doesn't it seem weird that I can't just ask for `HttpRequest` directly to you?

Perhaps I've been spoilt by Autofac for too long. // @tillig @nblumhardt

[2018-01-23 05:13] Tratcher commented on #2817
Not really, HttpRequest/HttpContext are not services, they are request processing artifacts. To even pretend to be services they'd have to be scoped services, only resolvable within the context of a request. It wouldn't make any sense to try to resolve one in Startup.

[2018-01-23 06:56] cottsak commented on #2817
"services" seems ambiguous to me. They are dependancies. We should be able to agree on that. As primary concerns of a HTTP-based system I find it strange that they aren't easily resolved (compare with having to go through `IHttpContextAccessor` all the time).

Sure they need to be scoped to the request, they have no meaning outside of the request. I'm not asking to resolve one in Startup.

I simpl

[2018-01-23 13:22] davidfowl commented on #2817
The IHttpContextAccessor is the way you'd enable that regardless. The HttpContext can't be added as a service, it needs to be resolved from another existing service and set per request. This is what the IHttpContextAccessor gives you and it is more flexible since it is a singleton.

If you want to inject the HttpContext directly into your services then you can add this to Startup.ConfigureServices

[2018-01-23 13:31] tillig commented on #2817
By way of additional information, the [`AutofacWebTypesModule`, which had typically been responsible for this in Autofac](https://github.com/autofac/Autofac.Mvc/blob/e26ce3fe9ccc639f1349bcd8aee8e6e4ee066346/src/Autofac.Integration.Mvc/AutofacWebTypesModule.cs#L127) is doing exactly what @davidfowl mentions:

[code]

We had just wrapped it up so you didn't know it.

[2018-01-23 13:34] cottsak commented on #2817
Thanks @davidfowl and @tillig

By your example then, can I also do this?

[code]

which allows me this?

[code]

[2018-01-23 13:36] davidfowl commented on #2817
Yes. Once you can get the HttpContext, then you can just do:

[code]

etc.

[2018-01-23 13:40] khellang commented on #2817
This is a Good Thing™ IMO. Injecting request-scoped state is a big foot-gun. Why not pass the state through method calls?

[2018-01-23 13:47] cottsak commented on #2817
@khellang Because this particular "service" is used to indicate to the consumer whether the "request" has a particular feature flag/toggle - it might start as a header, cookie or query string param but it's certainly "request scoped" as you say.

I'm trying to port this https://github.com/cottsak/devcookie to .NET Core MVC, etc.

I'll want to inject said service anywhere in the web application and

[2018-01-23 14:46] manikandan05 opened #2818 "TagHelperOutput AppendHtml method serialize the html string array value as differently"
Hi All,

In my application i have dynamically form the input elements like as below mentioned code block. In my Process method, i have append the html string to the  **TagHelperOutput.*

But the resultant data is slightly different from my input data. The array values are automatically converted into lowercase, also extra one space added in first string array value. This issue only raised in strin

[2018-01-23 17:39] mkArtakMSFT opened #2819 "MVC Dispatcher"

[2018-01-23 18:59] anurse commented on #2813
FYI, there are other tests (in Proxy) which have similar issues. And I'd imagine the various server/functional tests may have this issue to (depending on if they have the necessary MSBuild config applied). Perhaps we should try to put something in our common targets to enable this for all test projects. /cc @ryanbrandenburg @natemcmaster @halter73

[2018-01-23 19:05] halter73 commented on #2813
:+1: It doesn't hurt to add the HasRuntimeOutput to all the test projects until the vstest issue is fixed, right?

[2018-01-23 19:16] #2598 closed

[2018-01-23 20:21] mnmr commented on #2819
Not that I really care how you you manage your issues/project, but it seems backwards to create a new issue (from a user-reported issue) and then tell people to follow "an existing issue". I'd recommend that you fix your wording ("we've relocated the issue to the proper team/project" or whatever is appropriate).

Also, you should copy or rephrase the description. I can't tell from the headline wha

[2018-01-23 20:56] anurse commented on #2813
Yeah, that's what I suggested to @ryanbrandenburg earlier.

[2018-01-24 02:42] #2817 closed

[2018-01-24 07:35] Eilon commented on #2818
This issue was moved to aspnet/Razor#1965

[2018-01-24 07:35] #2818 closed

[2018-01-24 07:36] Eilon commented on #2315
@ycrakx can you please share more info about this error? Can you upload your app to GitHub, and also show a screenshot of the error(s)?

[2018-01-24 07:37] Eilon commented on #2781
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-01-24 07:37] #2781 closed

[2018-01-24 07:38] Eilon commented on #2770
@xt0rted are you still experiencing this problem?

[2018-01-24 07:38] Eilon commented on #2763
This should all be live now, so closing.

[2018-01-24 07:38] #2763 closed

[2018-01-24 07:39] Eilon commented on #2314
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-01-24 07:39] #2314 closed

[2018-01-24 08:06] xt0rted commented on #2770
It happened that one time and then I setup an `applicationHost.xdt` with https://github.com/aspnet/AspNetCoreModule/issues/260#issuecomment-357139101 and haven't seen it since. No idea if that fixed it, but so far no issues.

[2018-01-24 14:20] blowdart commented on #2814
Ok @natemcmaster can you try to repo this please? Create a simple app that calls data protection once, with the keyring on disk and protected with an X509 cert and a fixed app name. Then also deploy it into a linux container, but have the container not generate keys and see what happens,

[2018-01-24 14:22] blowdart commented on #2814
@OscarCanek did you tweak the key expiry in any way? The default lifetime for keys is 14 days - is it possible the key you were using expired?

[2018-01-24 15:06] ankurjasoria opened #5911 "Error - The specified CGI application encountered an error and the server terminated the process."
Hi All I am facing issue "The specified CGI application encountered an error and the server terminated the process." after hosting it on Azure Web Sites. On Local it works fine. I have developed application on asp.net core 1.0 and deployed on Azure.

Is there any timeout issue or any thing missing when deployed code on azure ?
Please help me out regarding this issue.

[2018-01-24 15:51] andrewjsaid opened #2820 "UseDatabaseErrorPage throws NullReferenceException when ef exception occur in background task"
### Functional impact
The original exception thrown by EF is lost and replaced by a NullReferenceException, losing all useful information and muddling debugging.

### Minimal repro steps
1. Create a project with EF and `UseDatabaseErrorPage()`
2. Add an implementation of IHostedService which makes an EF call with the expectation of throwing. For example, server is offline.
3. Run the project and i

[2018-01-24 16:02] Tratcher commented on #2820
IHostingService? Did you mean IHostedService? UseDatabaseErrorPage shouldn't apply to an IHostedService.

[2018-01-24 16:07] andrewjsaid commented on #2820
Excuse me! I did mean IHostedService.

[2018-01-24 17:09] livarcocc opened #2821 "Failed to bind to address http://localhost:49980."
_From @Erave on January 24, 2018 11:43_

Yesterday, I have installed a major Windows Update and today I can't run my Asp.NET Core web app. I have a permission access problem dureing binding

Not existing process is listening on port 49980. I tried to stop firewall.
Do you see any reason to this exception ?

Thanks
Eric

[code]

_Copied from original issue: dotnet/cli#8462_

[2018-01-24 17:14] Tratcher commented on #2821
Is it only that port? Does it work if you try a few random other ones?

[2018-01-24 17:40] kasper3 commented on #2459
Fixed by aspnet/WebSockets#222, preview package available at: https://dotnet.myget.org/feed/aspnetcore-dev/package/nuget/Microsoft.AspNetCore.WebSockets. Thanks @anurse! 🎉

[2018-01-24 17:52] muratg commented on #2821
What's the output of `netstat -a -b` when you get this exception?

[2018-01-24 17:55] muratg commented on #2820
cc @ajcvickers

[2018-01-24 17:59] ajcvickers commented on #2820
Looks like it could be a dup of https://github.com/aspnet/EntityFrameworkCore/issues/9599
/cc @anpete

[2018-01-24 19:21] #1685 closed

[2018-01-24 19:21] #1676 closed

[2018-01-24 19:22] #1420 closed

[2018-01-24 19:22] #1142 closed

[2018-01-24 19:22] #1610 closed

[2018-01-24 19:23] #1279 closed

[2018-01-24 19:30] glennc commented on #2773
@drobertson123 Did you work around this for now by adding a web.config to your app? That way you don't actually have to edit it each time you deploy as we will not do the generation.

[2018-01-24 21:39] #2459 closed

[2018-01-24 21:40] anurse commented on #2465
We're now using the corefx package as a binary rather than copying code, so this shouldn't be an issue any more!

[2018-01-24 21:40] #2465 closed

[2018-01-24 21:40] #2801 closed

[2018-01-24 21:40] anurse commented on #2801
release: https://github.com/aspnet/WebSockets/commit/6bc49ad6ca029ff43310411e8db545b86bc985e8

dev: https://github.com/aspnet/WebSockets/commit/6bc49ad6ca029ff43310411e8db545b86bc985e8

[2018-01-24 23:51] sdekock opened #2822 "Nested sites in Azure app service gives 0x800700b7 "The specified CGI application encountered an error and the server terminated the process.""
I am trying to host 2 applications on 1 single Azure app service.
One application on the root / and one in /UI.
They are both configured as Application in the Application settings for the Azure app service.
Files are in site\wwwroot and site\wwwrootui respectively.

The root application works but the nested one gives "The specified CGI application encountered an error and the server terminated the

[2018-01-24 23:55] Tratcher commented on #2822
@pan-wang wasn't there a bug with nested environmentVariables nodes?

Does it work if you remove environmentVariables?

[2018-01-25 00:10] sdekock commented on #2822
@Tratcher
Yes. That does seem to fix the error.
It also seems to inherit the environment variables so that is good enough for us for now.

Nesting the environment variables does work on a local IIS with 1.1.2 of Windows Server Hosting installed.

[2018-01-25 00:27] Tratcher commented on #2822
Closing this as a duplicate of https://github.com/aspnet/AspNetCoreModule/issues/150#issuecomment-332067460

[2018-01-25 00:27] #2822 closed

[2018-01-25 01:56] crhairr opened #5175 "404 when publicPath is set to "/""
The bug appears to be related to this this line:

https://github.com/aspnet/JavaScriptServices/blob/5f6f288056b3263a61a55631257db14314a02795/src/Microsoft.AspNetCore.SpaServices/Webpack/WebpackDevMiddleware.cs#L114

My webpack config has the following output:

[code]

If I set the and the WebpackDevMiddleware like such:

[code]

Then the hmrEndpoint defaults to "/__webpack_hmr" and the SpaProxy ur

[2018-01-25 02:31] rajurh opened #2823 "Url length"
Is there a way to set a maxUrlLength configuration value in Asp.Net Core? I see how this is done in web.config in earlier versions of the framework.

I am trying to incorporate the url encryption due to which its exceeding 260 charc and in that case it give bad request for url length greater than 260.

Help on this will be much appreciated.

[2018-01-25 06:08] Tratcher commented on #2823
That's a server specific feature. Which server(s) are you using? HttpSys, Kestrle, or IIS+Kestrel?

[2018-01-25 06:30] czietsman commented on #2536
I left my app running overnight and it hasn't crashed. It usually crashed within an hour so I think the issue has been resolved.

[2018-01-25 12:41] evil-shrike opened #2824 "xplat Integrated Windows Authentication (ntlm/Kerberos)"
I haven't found any ticket for tracking the xplat Windows-auth support in aspnet/dotnet core.
I understand that currently we have only out-of-the-box Windows auth support in IIS/IISExpress and http.sys and only on Windows.

There's a decent article in docs https://docs.microsoft.com/en-us/aspnet/core/security/authentication/windowsauth?branch=pr-en-us-3622&tabs=aspnetcore2x on how to configure Win

[2018-01-25 15:23] davidfowl commented on #2824
We don't have any plans AFAIK to support windows authentication when running on linux. There were discussions we had early on about how windows authentication could be supported in Kestrel, but that was by calling back into windows, not writing a fully managed implementation of ntlm, kerberos etc.

/cc @blowdart @DamianEdwards

[2018-01-25 15:33] evil-shrike commented on #2824
This is a very pity, especially in contract with the support of Kerberos in Java... May I ask what are reasonings for such a decision?

[2018-01-25 15:35] blowdart commented on #2824
Because it would be too risky and too hard to secure. We're not about to take a dependency on Samba.

[2018-01-25 15:43] khellang commented on #2824
According to https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-active-directory-authentication, it looks like RHEL, SUSE and Ubuntu already have clients for Kerberos, though?

[2018-01-25 17:02] danroth27 opened #5455 "Enhancements to components"

[2018-01-25 17:06] danroth27 opened #5456 "Hot Reload for Blazor"
- [x] [Mono Method Body Replacement](https://github.com/dotnet/runtime/issues/44806)
- [ ] [Build performance optimization](https://github.com/dotnet/aspnetcore/issues/22566)
- [ ] Via `dotnet watch`
- [ ] Development middleware (websocket connection to receive updates)

[2018-01-25 17:09] danroth27 opened #5457 "Enable browser automation in CI"
Add a PR validation job that runs the e2e tests.

Windows at a minimum, xplat is a bonus.

[2018-01-25 17:11] danroth27 opened #5458 "Unit test framework for Blazor"
- [ ] Unit test helper for instantiating components and trying out events, etc.
- [ ] End-to-end

[2018-01-25 17:12] danroth27 opened #5459 "Building static resources"

[2018-01-25 17:13] danroth27 opened #5460 "Forms and validation"

[2018-01-25 17:15] danroth27 opened #5461 "Web analytics and diagnostics"
- [ ] #53613
- [ ] #29846
- [ ] #30972

[2018-01-25 17:18] danroth27 opened #5462 "CDN"
Make Blazor DLLs available from a CDN

[2018-01-25 17:21] danroth27 opened #5463 "Item templates"
- [ ] Add component

[2018-01-25 17:21] danroth27 opened #5464 "Prerendering"
Also known as Server-Side Rendering (SSR)

[2018-01-25 17:22] danroth27 opened #5465 "Lazy loading of application areas"

[2018-01-25 17:23] danroth27 opened #5466 "AoT compilation"
Compile everything to WebAssembly

This work is going to be handled in phases. We're starting from:

- [x] https://github.com/dotnet/aspnetcore/issues/29630

Related .NET 6 users stories:

- [ ] https://github.com/dotnet/runtime/issues/44316
- [ ] https://github.com/dotnet/runtime/issues/44636

[2018-01-25 17:23] danroth27 opened #5467 "State management"

[2018-01-25 17:23] danroth27 opened #5468 "Scaffolding"

[2018-01-25 17:28] Tratcher commented on #2824
It's not impossible, but it's an extremely large and high risk work item. We're still working on Kestrel's fundamentals such as protocol correctness, stability and performance. Large, high risk features will need to wait.

[2018-01-25 18:17] evil-shrike commented on #2824
Well, ok, it's too early to expect Windows-auth in Kestrel, but we need some guidance on how to support Windows-auth on Linux in general in the meantime.

I can see two approaches:
* "reverse proxy" - all unauthenticated requests will be redirected to a Windows-IIS machine and then back - it can be achieved via some middleware I guess (on Linux side) and some simple app on Windows-side. But it wou

[2018-01-25 22:01] anpete opened #2825 "Consider allowing middleware to implement IDisposable"
Any middleware that subscribes itself to ```DiagnosticListener``` events can potentially leak because there is no clear way to unsubscribe from event notification when the server is disposed. In practice this can happen when using things like ```TestServer``` because it is common to create and dispose many instances of the server when testing. One solution may be to allow middleware to implement `

[2018-01-25 22:08] Tratcher commented on #2824
Your first scenario could be accomplished using OpenIdConnect and an auth server like [IdentityServer4](http://docs.identityserver.io/en/release/).

[2018-01-25 22:11] Tratcher commented on #2825
@davidfowl this would be covered by the new IMiddleware scenario, if the implementation was resolved from DI and implemented IDisposable, correct?

[2018-01-25 22:27] davidfowl commented on #2825
@Tratcher yep.

@anpete Is that happening in the constructor? Today you'd need to use IApplicationLifetime to handle server shutdown.

[2018-01-25 22:28] halter73 commented on #2823
This somewhat depends on browsers too. Both Chrome and Edge have a 2083 character max URL length.

I doubt you're running into any Kestrel limits. The closest related thing in Kestrel is [MaxRequestLineSize](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.server.kestrel.kestrelserverlimits.maxrequestlinesize?view=aspnetcore-1.1#Microsoft_AspNetCore_Server_Kestrel_KestrelServerLimi

[2018-01-25 22:29] Tratcher commented on #2825
I don't think TestServer implements lifetime events.

[2018-01-25 22:30] anpete commented on #2825
@davidfowl Yeah, https://github.com/aspnet/Diagnostics/blob/dev/src/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore/DatabaseErrorPageMiddleware.cs#L81

[2018-01-26 00:50] Eilon opened #4662 "xplat Integrated Windows Authentication (ntlm/Kerberos)"
_From @evil-shrike on January 25, 2018 12:41_

I haven't found any ticket for tracking the xplat Windows-auth support in aspnet/dotnet core.
I understand that currently we have only out-of-the-box Windows auth support in IIS/IISExpress and http.sys and only on Windows.

There's a decent article in docs https://docs.microsoft.com/en-us/aspnet/core/security/authentication/windowsauth?branch=pr-en-us

[2018-01-26 00:50] Eilon commented on #2824
This issue was moved to aspnet/Security#1622

[2018-01-26 00:50] #2824 closed

[2018-01-26 00:57] Eilon commented on #2770
@xt0rted got it, thanks for the update. I'll close this issue, but if you keep seeing it, feel free to re-open with any additional information you have.

[2018-01-26 00:57] #2770 closed

[2018-01-26 00:58] Eilon commented on #2821
This issue was moved to aspnet/KestrelHttpServer#2277

[2018-01-26 00:58] #2821 closed

[2018-01-26 00:59] Eilon commented on #2785
Thank you for your feedback. We're closing this issue as the behavior discussed seems to be by design.

[2018-01-26 00:59] #2785 closed

[2018-01-26 01:00] Eilon commented on #2316
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-01-26 01:00] #2316 closed

[2018-01-26 01:00] Eilon commented on #2797
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-01-26 01:00] #2797 closed

[2018-01-26 02:55] rajurh commented on #2823
I tried with MaxRequestLineSize no luck I have attached sample application. Once the application runs please click on Example 1 demo link that leads to error what has been described above.

[AspNetCoreMvcCryptoValueProvider-master.zip](https://github.com/aspnet/Home/files/1666444/AspNetCoreMvcCryptoValueProvider-master.zip)

[2018-01-26 08:24] murbanowicz commented on #2144
Any updates on that @blowdart @Tratcher ?

[2018-01-26 14:33] khellang commented on #2807
With the advent of `IActionResultExecutor<TResult>`, it's pretty easy to knock out a helper extension method to execute `FileStreamResult` in any middleware: http://kristian.hellang.com/using-mvc-result-executors-in-middleware/. You still need a dependency on `Microsoft.AspNetCore.Mvc.Core` (and the formatters you need), but it's a nice start.

[2018-01-26 15:38] aguerot opened #4870 "ViewModel DataAnnotation translations not found is base class"
# Background
I did setup a simple mvc site and enable localization for both EN and FR languages.
The resources are located in a folder named Resources where Views and Models ressource files are stored. *ViewLocalization* and *DataAnnotationLocalization* are both enabled. I use QueryStringRequestCultureProvider to set the current culture. HomeController has a simple Index action that is associated

[2018-01-26 15:38] OscarCanek commented on #2814
I generated the keys based in the example here: [Key management](https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/implementation/key-management)

key 1 (revoked)

[code]

The key above is generated by the following code:

[code]
And is revoked by this:

[code]

The following keys are generated after the code above:

key 2

[code]

key 3

[code]

key 4

[code]

key 5

[code]

K

[2018-01-26 15:52] genifycom commented on #2051
This is VERY frustrating. With DotNet Core 2.0, ApplicationInsights is being forced on us which is exactly the OPPOSITE of open source.

[2018-01-26 17:23] couven92 opened #2826 "When to use IServiceProviderFactory?"
What are the scenarios to use the IServiceProviderFactory interface and how would I use it?

Is this the proper way to create your own ServiceProvider?

[code]

In the code above a `ConfigureServices` method could theoretically add a different implementation for `IServiceProviderFactory` allowing other `IServiceProvider` types to be instatiated. But once I have added an `IServiceProviderFactory` t

[2018-01-26 18:29] #2820 closed

[2018-01-26 18:54] jeremycook commented on #2019
A use case, perhaps. I need logs to be written to .\App_Data because my application runner has read/write access to everything under .\App_Data, but can only read everything else under .\. I use web deploy, and would like to be able to deploy a web.config like this one with the logs folder under App_Data:

[code]

You might ask, why not just put those settings in a web.config file instead of web.r

[2018-01-26 19:45] blowdart commented on #2814
Ok so not that then :) Also tagging @GrabYourPitchforks

[2018-01-26 20:00] Tratcher commented on #2144
No

[2018-01-26 20:17] jbagga commented on #2151
@hardhub Apologies for not responding sooner. I missed the notification for this!

Are you still running in to this problem? Feel free to reopen the issue if you are, I am happy to investigate it. A small repro sample will be appreciated if you have it.

[2018-01-26 20:17] #2151 closed

[2018-01-26 20:52] #2755 closed

[2018-01-26 21:18] hardhub commented on #2151
I have changed behavior and found workaround.

[2018-01-26 22:25] Tratcher commented on #2823
Example URL:
[code]

This works fine in Kestrel, but fails for IIS/Express + Kestrel.  Note the single long path segment blob. The limit you're hitting is UrlSegmentMaxLength (260). This is all the way down in Http.Sys and only configurable in the registry.
https://support.microsoft.com/en-us/help/820129/http-sys-registry-settings-for-windows

Workaround: break it up into multiple path segments, o

[2018-01-26 22:39] khellang opened #2827 "Case-insensitive authentication schemes"
Why are authentication schemes case-sensitive?

This means the following code (taken from [the ASP.NET Core 2.0 templates](https://github.com/aspnet/Templates/blob/4fc52aa79ec17511ccd8c1c14b2118797d4045a3/template_feed/Microsoft.DotNet.Web.ProjectTemplates.2.0/content/StarterWeb-CSharp/Controllers/AccountController.cs#L307-L313)) doesn't work:

[code]

The code above works for `/login/GitHub`, but

[2018-01-26 22:40] khellang commented on #2827
It might be harder than I'd hoped for since the auth options themselves [are hard-coded to `StringComparer.Ordinal`](https://github.com/aspnet/HttpAbstractions/blob/2326783a04d4532fce57a5799957a6c5e86291f1/src/Microsoft.AspNetCore.Authentication.Abstractions/AuthenticationOptions.cs#L22) 😢

[2018-01-26 23:36] mdekrey commented on #2559
This should probably be closed; at this time, it'd be a breaking change and would not contribute much benefit.

[2018-01-27 00:03] rajurh commented on #2823
In case of cloud based application like if its hosted in Azure how are we going to set the value?

[2018-01-27 00:17] Mardoxx opened #2828 "Constraints on ServiceCollectionServiceExtensions.Add*<TService, TImplementation>() is too restrictive"
The following will not compile because currently `TService` is required to be a class

[code]

Was this intentional?

[2018-01-27 00:21] Tratcher commented on #2823
@rajurh only Azure admins can modify that, and it would affect everybody. You'll need to change your design.

[2018-01-27 00:31] Eilon commented on #2827
Ultimately, URLs are case-sensitive. And, of course, filenames on many OSes are case-sensitive. We usually try to obey the "rules" of whatever the physical entity is (though we're undoubtedly inconsistent about that anyway).

So, really all I can say is that my guess is that the answer to "why is it that way" is that we flipped a coin, wrote it some way, no one complained for a long time, so it st

[2018-01-27 00:33] aspnet-hello opened #2829 "An error occurred while trying to encrypt the provided data. The network name cannot be found. On cookie Authentication"
_From @nftWolverine on Wednesday, January 10, 2018 2:22:53 AM_

StartUp.cs Code:
`app.UseCookieAuthentication(new CookieAuthenticationOptions()`
            `{`
               ` AuthenticationScheme = AuthenticationConfigOptions.AuthenticationScheme,`
                `CookieName = AuthenticationConfigOptions.CookieName,`
                `AutomaticAuthenticate = true,`
                `AutomaticCha

[2018-01-27 00:33] aspnet-hello commented on #2829
_From @Eilon on Thursday, January 11, 2018 2:17:29 PM_

@nftWolverine - can you show your entire Startup.cs file so that we can investigate further? And any other info you have on how Data Protection is configured would be great. THanks!

[2018-01-27 00:33] aspnet-hello commented on #2829
_From @nftWolverine on Thursday, January 11, 2018 10:01:13 PM_

` services.AddDataProtection();`
@Eilon added just this line for the data protection. This doesnot seems to happen every time it happens randomly.

[2018-01-27 00:33] aspnet-hello commented on #2829
_From @Eilon on Friday, January 12, 2018 10:05:30 AM_

@nftWolverine are you able to get a stack trace of the error? We'll need more info to be able to investigate this.

[2018-01-27 00:33] aspnet-hello commented on #2829
_From @nftWolverine on Sunday, January 14, 2018 10:24:10 PM_

@Eilon Here is call stack of the of the Exception.

[code]

[2018-01-27 00:33] aspnet-hello commented on #2829
_From @Eilon on Monday, January 15, 2018 7:37:23 PM_

@nftWolverine thanks for the info.

@blowdart / @natemcmaster - any ideas on this? Ever seen this stack?

[2018-01-27 00:33] aspnet-hello commented on #2829
_From @natemcmaster on Tuesday, January 16, 2018 8:42:58 AM_

Haven't seen this before, but my best guess is there are issues with file permissions on whichever server this is running. The inner exception says:
[code]

https://github.com/aspnet/DataProtection/blob/12312a00b3d6d534d5dd68c49b23986a357cc323/src/Microsoft.AspNetCore.DataProtection/Repositories/FileSystemXmlRepository.cs#L86-L100

[2018-01-27 00:33] aspnet-hello commented on #2829
_From @blowdart on Tuesday, January 16, 2018 9:51:21 AM_

Is this hosted inside an azure web app?

Are you using slots of swap things?

[2018-01-27 00:33] aspnet-hello commented on #2829
_From @nftWolverine on Tuesday, January 16, 2018 10:20:21 PM_

@blowdart its hosted inside an azure webapp

[2018-01-27 00:33] aspnet-hello commented on #2829
_From @nftWolverine on Tuesday, January 16, 2018 10:21:58 PM_

@natemcmaster the exception is thrown when creating the data protection keys file. Its not always throw an exception but randomly.

[2018-01-27 00:33] aspnet-hello commented on #2829
_From @blowdart on Wednesday, January 17, 2018 6:34:17 AM_

That's really odd. I wonder if Azure is having a problem here.

@nftWolverine is there any chance you could move to using Azure blob storage for the keys, rather than relying on the magic folder Azure webapps gives us? That would rule out any problems with the underlying hosting layer. It also has the advantage in that it works with Azure

[2018-01-27 01:05] #2828 closed

[2018-01-27 13:11] khellang commented on #2827
Except... they're not? At least not according to [the routing docs](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing):

Anyway, the problem isn't case-sensitive routes, it's that the `AuthenticationSchemeProvider` and `AuthenticationOptions` uses `StringComparer.Ordinal` by default and there's no way to change it.

[2018-01-27 15:41] miarfej commented on #2019
We automate our builds using Jenkins and our existing way of doing vars configuration per environment in NetFramework projects is through web.config transforms. So we thought we will be able to do it in dotnet as well.

It turns out that `msbuild` is still compatible with aspnet core csproj  for doing web.config transforms!

We can add the `TransformXml` Publishing in the Asp.Net Core csproj:
[cod

[2018-01-27 16:23] kichalla opened #4871 "Provide a way to filter out value providers during the model binding process"
This came out during the design discussion of **https://github.com/aspnet/Mvc/issues/5859: Consider allowing binding header values to types other than string and string collections**

The proposal is to not include all value providers automatically when no binding source metadata(ex: FromQuery, FromRoute) is available.

Thoughts:
1. Today we include all value providers if binding source is not spe

[2018-01-27 18:20] dazinator opened #2830 "Consider making Router independent of aspnet."
# TLDR

Would you consider opening up `Routing` to be used generically (i.e also in Non web apps), by removing the dependency on `Microsoft.AspNetCore.*` and promoting the actual Routing (i.e the bit that evaluates routes to find a matching handler) into an "Microsoft.Extensions.Routing" ?

### More details behind motivation..
The reason I ask is just that a generic `Router` implementation could b

[2018-01-27 18:40] MaLiN2223 commented on #1950
@raRaRa I recently encountered the same problem as you did above. I managed to greatly reduce produced threads by tracking down and removing all non awaited async operations.

[2018-01-27 19:32] rynowak commented on #2827
URLs **are** case-sensitive. Routing makes as an opinionated choice to be case-insensitive so that things like `/home/about` can map to `HomeController::About()`

[2018-01-27 20:17] khellang commented on #2827
So, in practice they're not? Just like HTTP methods are also case-sensitive, but isn't treated as such anywhere in the ASP.NET Core code base? 😊

Anyway, that's not my point. I wonder if there's a reason why schemes are case sensitive. Is it more secure? Was it just an oversight?

[2018-01-27 20:41] davidfowl commented on #2830
@dazinator it would be better if you forked the routing project and used the pieces you think are valuable. This team would likely be the wrong team to design a generic routing system for all application types. That should be reverse engineered from concrete usage proven and implementations.

[2018-01-27 21:01] dazinator commented on #2830
@davidfowl - ok, will close this

[2018-01-27 21:01] #2830 closed

[2018-01-27 21:17] yellowsix commented on #1950
As another follow-up that may help others, I was able to narrow down the cause of my issue a bit further: it was a memory-related issue. We use an in-memory cache on the servers that is semi-permanent and contained a lot of objects, and a few large objects. Every so often, the web server would hang up in unpredictable places in the code, sometimes manifesting as described in this issue: a bunch of

[2018-01-28 01:19] livarcocc opened #2831 "asp.net mvc template app crashes with exceptions on raspian ARM"
_From @Buzze11 on January 27, 2018 11:32_

## Steps to reproduce

    1. create example mvc app with "dotnet new mvc -n test"
    2. Disable HttpsRedirect comment out (//app.UseHttpsRedirection();)
    3. Disable Cookie Policies comment out (//app.UseCookiePolicy();)
    4. publish with "dotnet publish -r linux-arm" and deploy it to the raspberry pi
    5. run app on raspberry device with ./test

[2018-01-28 02:39] rynowak commented on #2831
@mkArtakMSFT @javiercn @pranavkm this is a crash in the view loading codepath that's been getting lots of changes lately. This is a possible 2.1.0-preview1 regression.

[2018-01-28 05:10] mkArtakMSFT commented on #2831
@NTaylorMullen, can you please investigate this? Thanks!

[2018-01-28 11:17] ly-c-christopher commented on #1466
Thank you @Xeevis and @gregg-miskelly! It was NordVPN.

[2018-01-28 13:27] couven92 commented on #2826
Alternatively, you could create the following `Build`-extension method to replace the `BuildServiceProvider`-method like this:

[code]

[2018-01-28 19:05] WaedSaleh opened #2832 "What is the mean of the Side-by-side app versioning when targeting .NET Core. and does not Full .net support side by side?"
Hi All,
I want to know what they main when they said What is the mean of the Side-by-side app versioning when targeting .NET Core. and does not Full .net support side by side?

[2018-01-28 19:16] davidfowl commented on #2832
I can install multiple versions of .NET Core on the same machine and have various applications target those versions of .NET Core. If I have 2 applications A and B, A can target .NET Core 1.1 and B can target .NET Core 2.0.

This isn’t possible with .NET Framework today. It’s a Windows component and only one version can exist on the machine at a time. This means that you can run one application wi

[2018-01-28 20:40] pranavkm commented on #2831
Looks like a dup of https://github.com/aspnet/templating/issues/233 that was fixed by https://github.com/aspnet/Mvc/commit/b20e35e76abf78f3f99e52e336ff429083b9cb8c. Would be good to determine if this still reproduces using a newer runtime, but my guess is this was likely fixed.

[2018-01-28 21:58] poke opened #5411 "Revisit default bundling behavior"
This is in response to the resolution in #20 and #89:

---

If you currently create a new ASP.NET Core application and you are not using an SPA-template (which uses Webpack for building), then you are in the unfortunate situation that the project appears to be using the [bundling and minification feature](https://docs.microsoft.com/en-us/aspnet/core/client-side/bundling-and-minification) yet that’

[2018-01-28 21:59] Buzze11 commented on #2831
Today I installed the latest SDK & Runtime and tested again. The Issue is still reproducable.

[2018-01-29 06:23] Eilon commented on #2831
This issue was moved to aspnet/Mvc#7309

[2018-01-29 06:23] #2831 closed

[2018-01-29 08:42] MansoorJafari opened #2833 "Error deploy site in server"
Hi
after publish  site and put to server  give me this error.

<img width="980" alt="screen shot 1396-11-08 at 23 15 56" src="https://user-images.githubusercontent.com/15822698/35500970-a0b763c2-04ed-11e8-8f8b-d15093233daa.png">
 please help me.

[2018-01-29 10:07] BlueMarmalade commented on #2827
The way it is written with comparing string keys in dictionaries is that in using StringComparer.Ordinal instead of allowing case-insensitive string keys with something like StringComparer.OrdinalIgnoreCase, you could have a situation where two keys would be compared to be the same. I'm just a noob, so this is just speculation with no knowledge of url and dns and routing etc;  could it be that bec

[2018-01-29 10:49] davenewza commented on #2799
We have spent a considerable amount of time trying to reproduce this in a simple application, but with no luck. We will just have to live with this issue for now. I will report back if we end up solving it.

[2018-01-29 11:03] khellang commented on #2827
This issue isn't about URLs 😝 I just linked the code from the official ASP.NET Core templates to showcase the problem.

The issue is about the case-sensitive default when storing and looking up authentication schemes and whether we can make it configurable or move to a case-insensitive default (perhaps in 3.0, as it would be a breaking change).

[2018-01-29 11:05] khellang commented on #2827
At the very least, I'd love to see a protected ctor in `AuthenticationSchemeProvider` that takes a `StringComparer` (where the public ctor just passes `StringComparer.Ordinal`), that way I can swap the provider without having to reimplement everything.

[2018-01-29 11:16] davidfowl commented on #2827
@HaoK and @Tratcher are there any good reasons for scheme names to be case sensitive or was this just an oversight? It's a breaking change to make them case-insensitive but I'm not sure we care that "cookies" and "COOKIES" are different authentication schemes.

[2018-01-29 11:37] davidfowl commented on #2826
Hosting creates 2 service providers to "solve" this problem. There's a bootstrapping service provider and the application service provider. The bootstrapping service provider has the `IServiceProviderFactory<TContainer>` and that is resolved to figure out how to construct the concrete IContainer and the IServiceProvider for a particular DI container. We do this so that we can resolve the `IService

[2018-01-29 11:45] lywyn commented on #362
Our dev team has accepted that SSRS report viewer is no longer useable in new ASP MVC apps and we have sourced an alternative reporting tool instead

[2018-01-29 11:56] #2788 closed

[2018-01-29 12:03] couven92 commented on #2826
@davidfowl yes, I had a look at Hosting, and that was my understanding as well. My second example comes in large part from filtering out the relevant parts from Hosting.

Thank you! :+1:

[2018-01-29 12:03] #2826 closed

[2018-01-29 12:37] luizfbicalho opened #2834 "DependencyInjection - Add Feature for multiple registrations of service - named service"
It would be useful to have multiple service registrations for the same interface, many DependencyInjection containers implement this feature, so it woudn't be hard to implement.

Here are some examples where this feature would be useful

1) I have one property in my customer database that stores the name of the service that I use to validate the customer order, each customer has it's own validatio

[2018-01-29 15:06] Tratcher commented on #2833
Did you have trouble with the instructions on the error page?

[2018-01-29 15:47] Zoxive commented on #2834
You can register multiple of the same interface, then you can use IEnumerable<IInterface> as your dependancy

I typically then have an Enum type on that interface for the name/type.

Heres a quick example of the factory that then returns the specific type

[code]

Its typically not a good idea to pull in IServiceProvider as a direct dependency and then inside your classes call GetRequiredService<>

[2018-01-29 16:10] Tratcher commented on #2827
It was an arbitrary but conscious decision about 5 years ago.

@khellang your example seems a bit contrived. Those values are enumerate from available schemes directly into the HTML on the login page, then the user clicks on one and it returns to the ExternalLogin. At no point in this flow is anybody typing these values, nor is their casing expected to be changed by any intermediaries and browsers

[2018-01-29 16:34] khellang commented on #2827
Is that always a valid assumption though?

Yes, I have an identity API that doesn't have any UI. A customer tried to hit the endpoint using a lowercase URI. All our routes are attribute-based and lowercase, so it was naturally expected that the social auth endpoint was lowercase as well. Instead of being redirected to the proper provider, the customer got back a 500 response because the parameter

[2018-01-29 17:21] Tratcher commented on #2827
The reason is that we had to pick one, so we picked one that would be simplest for middleware implementors. Changing it doesn't just affect our components, it affects the whole ASP.NET & ASP.NET Core auth ecosystems.

This isn't the sort of thing that could be configurable either, it's baked into the overall auth contract. The infrastructure, 1st and 3rd party auth handlers, and consuming applicat

[2018-01-29 17:26] khellang commented on #2827
Can you expand on that? Why can't I just change `StringComparer.Ordinal` to `StringComparer.OrdinalIgnoreCase` [in `AuthenticationSchemeProvider`](https://github.com/aspnet/HttpAbstractions/blob/9f64c69a2a1005aed3b044209bbb228210d9a510/src/Microsoft.AspNetCore.Authentication.Core/AuthenticationSchemeProvider.cs#L35) (as I've already done locally)? it works fine with 6-7 different schemes. I'm not

[2018-01-29 17:33] Tratcher commented on #2827
I mean that the same comparison likely exists in other places, such as in 3rd party application or middleware code. All implementors need to use the same type of comparison or you'll get subtle case mismatch bugs.

[2018-01-29 17:41] khellang commented on #2827
I think I'm terribly slow, or I'm missing something here. Do you have an example? How can a 3rd party application or middleware access the configured schemes without using `AuthenticationOptions` or `IAuthenticationSchemeProvider`?

[2018-01-29 17:47] mkArtakMSFT commented on #2311
@javiercn, I believe all the work supporting this feature is done now, is it?

[2018-01-29 17:52] MansoorJafari commented on #2833
@Tratcher
Thanks for your answer. I have trouble after publish site and put to server.
Works well on my device locally, just have error in win server.
my Startup.cs is this
`if (env.IsDevelopment())
            {
                app.UseDeveloperExceptionPage();
                app.UseWebpackDevMiddleware(new WebpackDevMiddlewareOptions
                {
                    HotModuleReplacement = t

[2018-01-29 18:04] javiercn commented on #2311
Yes. I’m not sure if this is intended to track feature work towards RTM. There will be a few cleanups left to do here post preview 1, but I won’t expect nothing mayor.

[2018-01-29 18:21] topnguyen opened #2835 "[Localization] IsResourceNotFound always true"
I follow [this tutorial](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization) then inject `IHtmlLocalizer<SharedResources> htmlLocalizer` in `HomeController`.

### Not Exist Key Case

[code]
The output is:
- Name: "NotExistKey"
- Value: "NotExistKey"
- IsResourceNotFound: true

It's right and the method return Name and Value as Key's name if not found.

---

### Exist Key Case

[2018-01-29 18:44] Tratcher commented on #2833
What server are you using? Here are the troubleshooting instructions for IIS https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/troubleshoot

[2018-01-29 18:50] MansoorJafari commented on #2833
I'm using windows server 2012

[2018-01-29 19:09] mkArtakMSFT commented on #2311
Thanks!

[2018-01-29 19:09] #2311 closed

[2018-01-29 19:47] HaoK commented on #2827
Well for example, we use named options to lookup the AuthenticationSchemeOptions per scheme, named options are also case sensitive.

So a specific example of a subtle breaking change here would be ConfigureApplicationCookie is explicitly configuring the "Identity.Application" scheme.  So if you only are normalizing the scheme provider on the auth side to be "identity.application", the options look

[2018-01-29 20:49] MansoorJafari commented on #2833
An error occurred while starting the application.
AggregateException: One or more errors occurred. (Webpack dev middleware failed because of an error while loading 'aspnet-webpack'. Error was: Error: Cannot find module 'aspnet-webpack'
at Function.Module._resolveFilename (module.js:538:15)
at Function.Module._load (module.js:468:25)
at Module.require (module.js:587:17)
at require (internal/module.

[2018-01-29 20:55] khellang commented on #2827
No, nothing is registered using lowercase. Everything is still stored just like before, but lookup is done using lowercase.

[2018-01-29 21:02] Eilon commented on #2835
Tagging @ryanbrandenburg

[2018-01-29 21:04] Eilon commented on #2833
This issue was moved to aspnet/JavaScriptServices#1504

[2018-01-29 21:04] #2833 closed

[2018-01-29 21:06] khellang commented on #2827
I'll send a PR adding a protected ctor to `AuthenticationSchemeProvider` and we can use that as a discussion point. That will give me what I need without having to reimplement the entire class. I feel like we're talking past each other here...

[2018-01-29 21:07] Eilon commented on #2827
I'm more of a bystander here, but is there enough value here to warrant a change, regardless of any breaking change concerns?

We might all be able to agree that case-insensitive would have been a better choice, but given that a choice was made, why would we change it?

[2018-01-29 21:09] HaoK commented on #2827
That's sort of my opinion as well, but I think @khellang is just asking for us to make it slightly easier for him to tweak this behavior.  I think his PR idea is a good place to start for the discussion

[2018-01-29 21:12] khellang commented on #2827
It's unfortunate that the choice was made, but as long as I'm the only one complaining and I can get a way to tweak the behavior without having to maintain a non-trivial amount of code, I'm happy! 😊

[2018-01-29 21:16] HaoK commented on #2827
@khellang we didn't haven't much time at all to spend on making it easy to extend the default implementations of the core auth stack in 2.0, so I'm hopefully some minor tweaks should do the trick for you...

It would be a bigger deal if we are missing an extensibility point/interface

[2018-01-29 22:12] #2393 closed

[2018-01-29 22:27] natemcmaster commented on #2759
I couldn't reproduce this. It looks like you're doing the right thing. Here is my exact repro code
[code]
[code]
Log output: <details>
[code]
</details>