[2019-08-05 22:23] #12603 closed

[2019-08-05 22:24] mkArtakMSFT commented on #9431
Looking into this it seems we can simply shorten the file names for the test classes.
@ajaybhargavb let's try to handle this post preview9, given this is pure infrastructure change.

For example `AttributesShouldNotBeAppliedToPageModelAnalyzerTest/DiagnosticsAreReturned_IfAllowAnonymousIsAppliedToPageHandlerMethod.cs` path section only is really long. We can definitely rename those and make them m

[2019-08-05 22:25] mkArtakMSFT commented on #9431
@dougbu I guess (and I am not really sure now) that I was thinking this can be solved by enabling long-paths on our agents, and that's why this was assigned back to you. However, now I think that this will cause a similar issue on customer machines too (who would like to clone and run tests). So better to take action - so reassigned to Ajay.

[2019-08-05 22:29] mkArtakMSFT commented on #12833
@pranavkm can you please advice on the best approach here? Thanks.

[2019-08-05 22:33] anurse commented on #12809
We don't have a plan as of yet. It's certainly something we could do if there was value in it. Ideally we'd also re-base our Https logic on top of a more general-purpose TLS middleware. From what I can tell, the main thing coupling the existing middleware to HTTPS is ALPN support. We could generalize the middleware so that instead of taking options specifying the HTTP version, it could just take A

[2019-08-05 22:42] anurse commented on #12755
Closing as the question has been answered and we don't have any action to take here.

[2019-08-05 22:42] #12755 closed

[2019-08-05 22:42] sebastienros opened #12897 "[Perf] Endpoint routing allocations"
Since the fix handling the exceptions, the allocations are much more important.

![image](https://user-images.githubusercontent.com/1165805/62499466-a9e7db80-b797-11e9-8aae-228fdc1d887b.png)

/cc @NTaylorMullen

[2019-08-05 22:45] CreepyGnome commented on #12893
Those are really bad docs, which is why I probably couldn't find them.

The first one "Disable automatic 400" doesn't sound like anything to do with disabling ProblemDetails being set as the default type for 4xx errors. Setting SuppressModelStateInvalidFilter  to true seems very counter-intuitive to this issue.

The second one "Disable ProblemDetails response" while the title and sentence followin

[2019-08-05 22:49] CreepyGnome commented on #12893
One minor issue to the fix/workaround I just realized is that this is a FLAG that I have to set on all my microservices now. All of which have been generalized Addxxx and Usexxx extension methods to make sure they all get the basics setups consistent. This one since it is based off adding to the IMvcBuilder makes that generalization more difficult, but not impossible, just not standard to how thin

[2019-08-05 22:49] hishamco commented on #5778
Got it.. but I am not sure if there's alternative solution

[2019-08-05 22:55] LarryWMSN commented on #12427
Is there any update? Also I noticed that .UseWindowsService() isn't available as an extension method in the Worker Template in the CreateHostBuilder method, perhaps these may be related?

[2019-08-05 22:59] jkotalik commented on #12887
This I believe is a non-issue. Dup of https://github.com/dotnet/corefx/pull/39874, which for _some_ reason hasn't been added to a core-sdk that's updated. See https://github.com/dotnet/core-sdk/pull/3593

[2019-08-05 22:59] #12887 closed

[2019-08-05 23:02] VR-Architect commented on #12895
I ended up making a helper which would be a great addition to the main code. The purpose of this code is to convert the enum into value/display for use with a foreach loop in the razor file to populate a select control. It could also be used to populate other controls like a tree.

[code]

[2019-08-05 23:17] blowdart commented on #12888
No. You can get the code it was based on as a [third party package](https://github.com/blowdart/idunno.Authentication), although there are some differences in events

[2019-08-05 23:39] NTaylorMullen commented on #12897
Definitely curious as to why things are making it onto the loh...

[2019-08-05 23:47] AlissonRS commented on #5778
@hishamco thanks for replying. I decided to scaffold everything.

[2019-08-05 23:50] Pilchie commented on #4019
@JunTaoLuo do we have more to do here?  Can the work be farmed out if so?

[2019-08-05 23:51] Pilchie commented on #10597
@anurse - bump to Preview 9?

[2019-08-05 23:51] Pilchie commented on #9927
@anurse - bump to Preview 9?

[2019-08-05 23:52] JunTaoLuo commented on #4019
Yea, we should check our dependencies before releasing. We can farm this out to the product owners if needed.

[2019-08-05 23:55] VR-Architect opened #12901 "Blazor - Add ability to change the stylesheet link from component"
I have dynamically generated pages where the user can select the font from any of the 940 Google fonts. However, to use a Google font we must include the link reference in the header. To all of them would not be wise, so can we please have the ability to add/remove the links to the page on a per browser session?

`<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">`

O

[2019-08-05 23:58] VR-Architect commented on #12901
Well seems this is already there. Guess I should have tried it first. Sorry dudes and dudettes.

[2019-08-05 23:58] #12901 closed

[2019-08-06 00:01] VR-Architect commented on #12413
Actually, just putting the link in the component worked like magic! Guess I should have tried it first

[2019-08-06 00:02] NotMyself commented on #12890
Is UseWebpackDevMiddleware going away with this change? Or UseSpaStaticFiles?

[2019-08-06 00:14] Pilchie commented on #12861
How is this issue different than the one above?  Can you include a description of the issue you are seeing?

[2019-08-06 00:15] Pilchie commented on #12860
This issue was moved to dotnet/corefx#40048

[2019-08-06 00:15] #12860 closed

[2019-08-06 00:16] shirhatti opened #12902 "RenderTreeDiffBuilder throws NotImplementException"
### Describe the bug

[code]

### To Reproduce

I have a DI-injected transient service in my razor page. I'm passing a delegate to my service that I periodically invoke from my service when my data has updated

[code]

### Expected behavior

No exception? :trollface:

### Additional context

Process dump at `\\scratch2\scratch\soshir\blazor\iisexpress.DMP`

[code]

[2019-08-06 00:16] Pilchie commented on #12858
@ajcvickers ?

[2019-08-06 00:16] smadgerano commented on #12867
I've never done a pull request, and have no idea about running tests or creating them. I can try to pick some stuff up, but might take a while lol

[2019-08-06 00:24] rynowak commented on #12902
Based on the call-stack this is blowing up in prerendering. My guess is that isn't stopping correctly (somehow). It looks like you dispose the service in your component (showed me in person). Does that unhook the event handler?

[2019-08-06 00:33] shirhatti commented on #12902
No. I wasn't unhooking the event handler.

Unhooking the event handler fixes it.

[2019-08-06 00:35] flcdrg commented on #12890
We've been using `Microsoft.AspNetCore.NodeServices` as a way of executing JavaScript in Node on the server from .NET Core - specifically by calling the [InvokeAsync](https://github.com/aspnet/AspNetCore/blob/master/src/Middleware/NodeServices/src/INodeServices.cs#L21) method(s).

We'd previously been using the ClearScript library (in an earlier .NET Framework project), but that does [not yet supp

[2019-08-06 01:11] pranavkm commented on #12725
@bahmansh as the linked comment suggests, attributes from the action should be available as metadata on the `EndPoint` instance. The `ActionDescriptor` instance is also added metadata to the endpoint. You could get to it if you really must do reflection.

[2019-08-06 01:11] natemcmaster commented on #11206
Would recommend removing this test exclusion

https://github.com/aspnet/AspNetCore/blob/4921dc3aa3496eb3e9fe73255213ce54a0ba29d6/src/Framework/test/TargetingPackTests.cs#L37-L38

[2019-08-06 01:15] VR-Architect opened #12904 "Blazor - @font-face not valid in script tab on razor page"
The @font-face CSS command doesn't work on a razor page inside a script tag.

[code]

[2019-08-06 01:18] thinksea commented on #12864
I think I understand. Thank you very much.

[2019-08-06 01:18] #12864 closed

[2019-08-06 01:21] hishamco commented on #5778
BTW my earlier suggestion to localize everything out of the box, and let the users localize the resources into their cultures, because I don't think there's an easy way to achieve this unless you are using sort of translation technique

Please have a look to my repo https://github.com/hishamco/LocalizationResourceGenerator, that may simplify the process for you, if you have the default culture res

[2019-08-06 01:30] mkArtakMSFT commented on #12867
Absolutely no problem - there is no urgency in regards to this issue, as it doesn't meet the bar for us to tackle immediately. We'll consider it for the 5.0 release.

[2019-08-06 01:47] mkArtakMSFT commented on #12427
Folks, please make sure you uninstall the Blazor Extension and reinstall the latest templates.

[2019-08-06 02:13] kennywangjin opened #12905 "html select value not bound correctly if options are async loaded"
If select's options are async loaded in component's **OnInitAsync** lifecycle, the select'value will be reset to default empty unexpectedly.

Although I got answers from developer that it's designed so: https://github.com/aspnet/AspNetCore/issues/12719
I am still wondering why it is so by design. Normally it should be cared by the framework. After some inspections into source code, I found that th

[2019-08-06 05:44] anurse commented on #11206
Sounds good. I'll reopen to keep it on the radar :).

[2019-08-06 05:58] kennywangjin opened #12906 "Razor components static assets is casesentive when served by docker (linux)"
I am building a Razor Component library with name OfficeAutomation.Components and i reference its static assets in my main project via link **__content/officeautomation.components/components.js**.
It works when I debug projects on local IIS Express. But it failed when I published projects to docker with nginx reverse proxy.
Only when I changed link to **__content/OfficeAutomation.Components/compon

[2019-08-06 06:01] gulbanana commented on #12871
I’m using BundlerMinifier/dotnet bundle, which creates sourcemaps and minified files in place. Debug builds of my library come with the unminified assets, so wwwroot/ is the appropriate place for them - I exclude them only in releases.

StaticWebAsset’s dev time support is pretty great too, so having the unbundled assets available as _content to test projects in the same solution is something i’d

[2019-08-06 06:04] bahmansh commented on #12725
Can you give me sample code here?

[2019-08-06 06:15] Joe4evr commented on #12895
Basically duplicate of #12572.

[2019-08-06 06:18] srowan commented on #5456
I am seeing ~10 seconds for a rebuild using `dotnet watch`.  Are there any plans to speed up incremental builds?   That is fairly painful when iterating on components.

It looks like much of the time is spent building the razor components, so does that mean these build times are going to scale ~linearly? (with more complex apps taking 30+ seconds to build?)

[2019-08-06 06:32] igor-tk commented on #12566
Not sure. Check again on monday.

[2019-08-06 06:33] campersau commented on #12904
You can try to escape the `@` with `@@font-face` as described here: https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-3.0#razor-syntax

[2019-08-06 06:37] KrystofZacek commented on #12866
OK. Just please make sure such unintuitive gotchas are well documented. Current documentation is pretty rudimentary.

[2019-08-06 06:48] pamedasa commented on #12878
Small correction. Traces found in the IIS logs is the response returned by kestrel. I have tried the way you suggested but getting byte data when we make a call directly to kestrel. if we host behind IIS, byte data traces are not logging into logs. I am trying out to get as much data as I can to debug this further. Will update the thread.

[2019-08-06 07:08] javiercn commented on #12871
This can be done today with MSBuild if you write your own target. Something like this should work.

[code]

[2019-08-06 07:31] CodeTherapist commented on #12890
@NotMyself As far as I understand `UseWebpackDevMiddleware` will go away and `UseSpaStaticFiles` will not.

Seriously, I liked this webpack middleware with HMR, because it accelerates the inner loop and is more comfortable instead of having two processes (dev server + ASP.NET Core app). It also reflects more the production running app - that is served by ASP.NET Core using e.g. Kestrel.
I use it w

[2019-08-06 07:32] khellang commented on #12893
This is just a reminder that the docs are open source and that you can propose additional information to make it easier for the next person to find 😄

[2019-08-06 07:54] Simon-Bull commented on #12890
We use the `ISpaPrerenderer.RenderToString()` functionality to server render a VueJS application, passing application context with the `customDataParameter`.

Is there a recommended migration path to move to functionality in `Microsoft.AspNetCore.SpaServices.Extensions`? This seems to [use](https://github.com/aspnet/AspNetCore/blob/4e44025a52e4b73aa17e09a8041b0e166e0c5ce0/src/Middleware/SpaService

[2019-08-06 08:51] dewelloper commented on #4957
Program main thrown an Exception even before the startup than logger can't catch the exception. Its generally interesting with finding any configuration argument on new or changed environment!

[2019-08-06 08:52] vova-lantsov-dev opened #12907 "BackgroundService blocked the execution of whole host"
### Describe the bug
When I run the specific `foreach` cycle in `BackgroundService`-derived class, it blocks the whole host from starting. Even second hosted service doesn't start. When I comment `foreach` cycle, everything works as expected.

### To Reproduce
TargetFramework: netcoreapp2.1
Version: 2.1.12

Use following hosted service: [NotificationRunner.cs](https://gist.github.com/vova-lantsov-

[2019-08-06 09:08] sfmskywalker commented on #2429
Turns out I submitted my PR too soon - although JObject properties are now correctly handled, there's still the issue as described by the OP.

[2019-08-06 09:22] sfmskywalker commented on #2429
Actually, I take that back - it works! I was testing the old code 😅

[2019-08-06 09:53] rossbuggins commented on #12883
Hi - so I've just tried this on Ubuntu running core 3 preview 7 and the behaviour is what I expected - i.e. no difference between setting content type to be application/json or text/event-stream.

This is not the case on windows, where when content type is application/json the call to HttpClient
SendAsync with HttpCompletionOption.ResponseHeadersRead set does not return until all the content is re

[2019-08-06 09:59] oleksabor commented on #4444
@dewelloper Please try to move your .UseKestrel content to the .ConfigureKestrel call.

I've just tried and found that it works for both IISExpress and console hosting.

[code]

However I'm using dedicated configuration option in the appsettings.json to check should `options.Listen` to be called or not. The idea is to skip Kestrel's `optsions.Listen` if IIS(Express) hosting is used. And vice versa

[2019-08-06 10:53] athinboy commented on #3213
I think @oliverjanik  is right!
I think UseMiddlewareExtensions.UseMiddleware is a bad design! Very Bad!

[2019-08-06 11:07] athinboy commented on #2795
`It does mean you lose the ability to use environment specific Configure and ConfigureServices via method names, you also lose the ability to get dependencies injected via method arguments but maybe that's ok in your scenario.`

@Tratcher @davidcsa  I think Attribute is better than method name and method argument!

[2019-08-06 11:21] vova-lantsov-dev commented on #12907
Fixed by adding `await Task.Yield()` at the top of method

[2019-08-06 11:34] chucker commented on #5456
If this is client-side Blazor, consider disabling linking for Debug builds.

[code]

[2019-08-06 11:38] wrathofodin commented on #12890
Any reason why there's no official vue project template?

[2019-08-06 11:59] CodeTherapist commented on #12890
Maintaining templates isn't effortless. This has been discussed in issue:[aspnet/JavaScriptServices/issues/412](https://github.com/aspnet/JavaScriptServices/issues/412#issuecomment-257333374).

[2019-08-06 12:09] pamedasa commented on #12878
I followed the step you suggested but didn't log much information (about data received). If we poll to kestrel directly then only we are getting data.If I pass the request to kestrel listener with the same encoded header, request is passing through.

One finding is that, client is already encoding with UTF-8 charset and sending the request. I am clueless about why kestrel is returning 400 (Bad Req

[2019-08-06 12:12] NicolasDorier commented on #11312
`EnableRewind` is quite useful, why was it removed?

[2019-08-06 12:18] Sebazzz commented on #12890
So how would HMR work with Webpack now? Webpack runs its own web server.

[2019-08-06 12:21] vuorinem commented on #12890
Hi, I'm trying to figure out what is the "new integration mechanism" by looking at the code in https://github.com/aspnet/AspNetCore/blob/c398361/src/Middleware/SpaServices.Extensions/src/AngularCli/AngularCliMiddleware.cs

It seems to rely on NodeScriptRunner from https://github.com/aspnet/AspNetCore/blob/c398361/src/Middleware/SpaServices.Extensions/src/Npm/NodeScriptRunner.cs. Is Microsoft.AspNe

[2019-08-06 12:25] ericgreenmix commented on #12890
My company also uses the `Microsoft.AspNetCore.NodeServices` to execute JS from .Net. Is there a recommended alternative, if `NodeServices` is going away?

[2019-08-06 12:29] alexdresko commented on #12890
I get the main gist of this issue, but losing `UseWebpackDevMiddleware` seems unfortunate. It works great for frameworks that don't have a CLI.

[2019-08-06 12:30] valorl commented on #4662
@Tratcher Thanks. Very glad this is coming in 3.0.

Are there any plans for including the AD groups in the identity ?

With this package, the only claim included is `http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name`, whereas when using the [SteveSyfuhs/Kerberos.NET](https://github.com/SteveSyfuhs/Kerberos.NET/) library, the `ClaimsPrincipal` has all the AD groups included as claims. IIRC

[2019-08-06 12:38] atrauzzi commented on #12890
I'm not sure I understand how `NodeServices` is related to this?  What if people want to run JS code from C# for their own purposes?

[2019-08-06 12:42] sujayvsarma opened #12910 "asp-for and Model binding with custom-output controls"
Hello,

Tell me what I am doing wrong -- or if the behaviour described is "by design".

**Description:**
In this particular scenario, I am creating a dropdown control, populated with cities in different states. What I am doing is, creating `optgroup` items for states and then regular `option` items for the cities. The value is an integer (i.e., the Id of the city). The model bound to the MVC view

[2019-08-06 12:55] SteveSandersonMS commented on #12904
Thanks for answering, @campersau!

[2019-08-06 12:55] #12904 closed

[2019-08-06 12:58] sujayvsarma commented on #12910
Forget it, I was doing it all wrong :(

For folks that are curious: Instead of the weird loops when I sent down a pre-created `IEnumerable<SelectListItem>` with the `SelectListGroups` embedded and used the `@Html.DropdownListFor` tag helper, everything worked as I wanted it.

[2019-08-06 12:58] #12910 closed

[2019-08-06 13:02] SteveSandersonMS commented on #12902
This is interesting. If you're able to supply a simplified repro, that would be extremely useful.

It would be best if we threw an `ObjectDisposedException` in this case, but I'm not sure where the check should go. From looking at the existing code, `ComponentState`'s `RenderIntoBatch` already checks for disposal and no-ops in that case, so it's unclear to me how you were able to get the exception

[2019-08-06 13:11] DAllanCarr commented on #12907
Yeah the method shouldn't be blocking. Wrapping in a `Task,Run` will also dispatch.

[2019-08-06 13:35] davidfowl commented on #12897
State machines...

[2019-08-06 13:50] SteveSandersonMS commented on #12905
This is part of the mechanism for applying the value to the `<select>` element during rendering, which itself is synchronous. It's not involved in the scenario where you do:

 1. Render a `<select>` whose `value` does not correspond to any `<option>` inside it
 2. Change the set of `<option>` nodes so that one of them now does match the `value`

... because on step 2, you're only changing the opti

[2019-08-06 13:50] #12905 closed

[2019-08-06 14:23] #11964 closed

[2019-08-06 14:36] brunosantosrhsenso opened #12912 "Can't find IHttpContextAccessor"
The interface IHttpContextAccessor seems to have been removed from 3.0-Preview and I cant find out what's been replaced by. Can someone point me to the right way to keep up to date with this kind of breaking change? I'm currently upgrading a 2.2 app to 3.0.

Thanks.

[2019-08-06 14:38] #12820 closed

[2019-08-06 14:43] campersau commented on #12905
I always set the `selected` attribute on the `option` element instead of the `value` on the `select` which works fine.

[2019-08-06 14:49] rynowak commented on #12902
He's got a dump, that might be enough.

[2019-08-06 14:51] rynowak commented on #12789
Thanks @Beffyman !

[2019-08-06 14:51] #12789 closed

[2019-08-06 14:53] Tratcher commented on #4662
Not in this release. Please open a new issue to track that ask.

So far we haven't even identified the APIs/libraries necessary to make that work on Linux. We don't process tickets directly, we rely on SChannel and GSS to handle that.

[2019-08-06 14:54] Tratcher commented on #11312
@NicolasDorier because we made a properly public version named EnableBuffering.

[2019-08-06 14:58] pursca opened #12913 "cannot build using restore.cmd"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
tried to build asp.net core and followed all steps - got followin

[2019-08-06 14:59] rynowak commented on #12871
@javiercn - should we add this to docs?

[2019-08-06 15:01] rynowak commented on #12907
Reopening this so we can look at it. I'm glad that you solved your problem but we should try to solve this so others don't hit it.

[2019-08-06 15:03] rynowak commented on #12907
@anurse @Tratcher - thoughts?

It looks like if your run a bunch of CPU-bound code in `ExecuteAsync` then it will stall startup until that work reaches the first actual async point.

See: https://github.com/aspnet/Extensions/blob/master/src/Hosting/Abstractions/src/BackgroundService.cs#L33

In health checks I ended up inserting a `Task.Yield` to avoid this. We'd get an additional state machine in

[2019-08-06 15:05] rynowak commented on #12913
/cc @aspnet/build

[2019-08-06 15:06] Tratcher commented on #12878
`EF FC` in that sequence is not utf-8, it is a bad request. HttpWebRequest doesn't encode request headers, it truncates all chars to bytes.

[2019-08-06 15:08] vova-lantsov-dev commented on #12907
Async method executes synchronously till first `await` is reached (it means `BackgroundService.ExecuteAsync` won't return till `await` is called). So this problem is not related to ASP.NET Core, but to async compilation.

[2019-08-06 15:09] vova-lantsov-dev commented on #12907
But it would be great if you can solve this case

[2019-08-06 15:12] pamedasa commented on #12878
What would be the next steps to workaround this? this means other clients like HTTP client dropping these characters while encoding before sending the request. Any suggestion/workaround will be a very grateful help to us as this is the last leg blocking us :)

[2019-08-06 15:13] Tratcher commented on #12907
It's a trade off. There may be reasonable initialization code the service needs to do before letting the app continue. It's within the service's control how long it blocks.

[2019-08-06 15:16] kostya9 commented on #12907
I have also encountered this issue and solved it in the same way as @vova-lantsov-dev did. However, my main concern is that this behavior is not straightforward, would be nice if this was more predictable or documented somewhere

[2019-08-06 15:17] Tratcher commented on #12878
Honestly you don't have a lot of good options, Unicode and HTTP don't mix well, it's never been supported by the spec. If you control the client then you need to make sure they pre-encode all values. If corrupt data reaches the server it's already too late.

[2019-08-06 15:23] pamedasa commented on #12878
We don't have option to control the clients. Currently we are hosting the asp.net core/kestrel behind IIS. Request will be reached to kestrel through IIS. Is it possible to pre-encode at IIS level and then forward to kestrel?

[2019-08-06 15:24] AlexeyStarkov opened #12914 "[VS Mac 2019] Unable to run default project (dotnet quit unexpectedly)"
I try to run default WebAPI project, but I get "dotnet quit unexpectedly" error.
I tried to reinstall https certificate using terminal, but this does not work any way.

### To Reproduce
Steps to reproduce the behavior:
1. Create default ASP.NET Core API project using VS 2019 for Mac (v8.2.2 build 21) and asp.net core v2.1
2. Run
3. Install localhost certificate
4. See error

### Expected behavior

[2019-08-06 15:26] Eilon commented on #12912
The `IHttpContextAccessor` type should be alive and well: https://github.com/aspnet/AspNetCore/blob/master/src/Http/Http.Abstractions/src/IHttpContextAccessor.cs

Can you show what code you have, what your project file looks like, and what error you're seeing?

[2019-08-06 15:26] CreepyGnome commented on #12893
@khellang I am fully aware of that point about the docs. Here is why I am sick of hearing stuff like that in relation to open source maintained by large corporations like Microsoft.  This isn't an issue with that comment for small projects or projects that are not created or maintained by a large corporation or collective of corporations.

- It is in Microsoft's best interest to have the best docs

[2019-08-06 15:27] Tratcher commented on #12878
No, there's no known workaround for this in the IIS reverse proxy scenario. You'd need to move to IIS in-proc.

[2019-08-06 15:35] pamedasa commented on #12878
Oops. As ours is a migration scenario and moving to In-Proc is a months effort  because we should re-write all our code base to support .Net core to leverage In-Proc hosting model.
From the MSDN docus, projects targeting .net full framework should use Out-of-Process only. Just to know, what's the big difference in kestrel in In-Proc vs Out-of-Proc to support request with non-ascii characters.

[2019-08-06 15:43] mkArtakMSFT commented on #12743
@Anipik did @HaoK 's suggestion resolve your issue? Should this be closed now?

[2019-08-06 15:49] NotMyself commented on #12890
@alexdresko I agree with you. `UseWebpackDevMiddleware` is a nice compromise to supporting multiple frameworks. I have been using it for around a year to do Vue.js development, [example](https://github.com/notmyself/bivrost). It works quite nicely.

[2019-08-06 16:01] genifycom commented on #12865
I am not happy about this. I believe that Server Side Blazor will be much bigger than you expect.

I have long regarded that being able to run a headless web browser on a server, determine the changes necessary to broadcast and then broadcasting the diff is a very effective way to manage dynamic web sites for a large number of users.

This is very much inline with the Server Side Blazor approach.

[2019-08-06 16:03] mkArtakMSFT commented on #12914
Thanks for contacting us, @AlexeyStarkov.
Are you getting the error when trying to install the certificate or run the app?

[2019-08-06 16:03] anurse commented on #12907
I think it's reasonable to dispatch `ExecuteAsync` to the thread-pool in `StartAsync`. If the user wants to perform initialization that **must complete** before letting the app continue, they can override `StartAsync` itself, right?

[code]

It's called **Background**Service. It seems odd that you can block the foreground in the default case. If we're not happy with overriding `StartAsync` we coul

[2019-08-06 16:05] Johnillo2411 commented on #10628
I have the same situation, you can explainme exactly the solution you found.

[2019-08-06 16:20] ZergZe commented on #11641
Preview 7 - the issue is still there.

The same scenario as above.

Get the same error:

[code]

User's session is destroyed. Browser's page stops operating until reloaded.

[2019-08-06 16:22] rynowak opened #12915 "MapDynamicControllerRoute breaks when route has no route values"
We added some new features in 3.0 for user code running in routing to dynamically select a controller of page based on custom logic.

[code]

This is broken when the route doesn't define any route parameters - in these two places:
- https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.Core/src/Routing/DynamicControllerEndpointMatcherPolicy.cs#L141
- https://github.com/aspnet/AspNetCore/blo

[2019-08-06 16:26] dewelloper commented on #4444
Yes bro i have always used this ConfigureKestrel before downgrading 2.1. Because i couldnt sure about handlers working, couse i couldnt see debugger on 2.2 ConfigureKestrel listen handlers. But i tested it doesnt shown but working and again i upgraded to 2.2 now working. Thanks

[2019-08-06 16:26] #11459 closed

[2019-08-06 16:27] #9946 closed

[2019-08-06 16:27] #8537 closed

[2019-08-06 16:35] mkArtakMSFT commented on #12906
Thanks for contacting us, @kennywangjin.
The behavior you're observing is by-design. This depends on the behavior of the underlying file system.

[2019-08-06 16:35] #12906 closed

[2019-08-06 16:36] julienGrd opened #12916 "[Blazor] switch easily between client and server side - possibility - roadmap"
Hi Guys, i actually develop a server side blazor app but i want to release client side of my app (because i reuse a lot of existing code containing static access on repository class, so i can't use the server-side on production. And i really need debug my app, so i keep the server-side for development)

i find old article on this, but nothing with the actual version. (actually i'm on preview 7)

E

[2019-08-06 16:42] mkArtakMSFT commented on #12895
Thanks for contacting us, @VR-Architect.
This is not something we plan to include in the product. This would, however, be a great component from the community to provide.

[2019-08-06 16:42] #12895 closed

[2019-08-06 16:42] Tratcher commented on #12878
In-proc doesn't use kestrel or a reverse proxy, so it bypasses the proxy component that has the encoding problems.

[2019-08-06 16:44] mkArtakMSFT commented on #12894
Thanks for contacting us.
This is not an area we control.
If you still have this problem, feel free to report it on the https://github.com/mono/mono repo.

[2019-08-06 16:45] mkArtakMSFT commented on #12894
This issue was moved to mono/mono#16063

[2019-08-06 16:45] #12894 closed

[2019-08-06 16:50] anurse opened #12918 "Blazor doesn't DisposeAsync DI scope"
Blazor doesn't call `DisposeAsync` on the DI scope, which leads to the following exception being logged during Circuit disposal:

[code]

The DI scope/container is rigid about which kind of disposal you use depending on the services you have. This matrix lays out what happens. Across the top are the kinds of services you have, down the left is how you dispose the scope:

| How you dispose the scop

[2019-08-06 16:51] anurse commented on #12918
If we don't fix this in Blazor, we also need to look at other places we create scopes and change to dispose them async.

[2019-08-06 16:51] brianlagunas opened #12919 "[Blazor] OnValidSubmit not invoked when submit button clicked"
### Describe the bug
When the ValidationSummary is define at the top of the EditForm, and you have existing errors in the form, if you fix the error and then immediately click the submit button, the errors are fixed however the submit button does not invoke OnValidSubmit.

If you define the ValidationSummary at the end of the EditForm and perform the same task, it will work as expected.

This does

[2019-08-06 16:51] mkArtakMSFT commented on #12700
We're closing this issue as we've heard no response from you for quite some time now. Feel free to reopen when you'll have more info here.

[2019-08-06 16:51] #12700 closed

[2019-08-06 16:53] mkArtakMSFT commented on #5235
Thanks for contacting us, @andradf .
@SteveSandersonMS is this in the legacy system area or not?

[2019-08-06 16:54] anurse commented on #12918
My initial feeling is that throwing in `Dispose` is bad (for example: https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1065-do-not-raise-exceptions-in-unexpected-locations?view=vs-2019)

[2019-08-06 16:54] anurse commented on #12918
+ @rynowak @davidfowl @Tratcher

[2019-08-06 16:56] mkArtakMSFT commented on #5234
Thanks for contacting us, @jdmallen.
Would you like to send a PR proposing a better error message? We'll happily consider it.

[2019-08-06 16:57] pamedasa commented on #12878
Thanks.
Are the any plans to support In-proc for applications targeting full framework?
Also, any plans from kestrel side to add support for non-ascii?

[2019-08-06 16:58] mkArtakMSFT commented on #5230
Thanks for contacting us, @saliniasok .
The version you're referencing is no longer supported. Please update to a supported version and let us know if you're still experiencing this error.

[2019-08-06 16:58] #5230 closed

[2019-08-06 17:03] NTaylorMullen commented on #12897
Into the loh though?

[2019-08-06 17:04] SteveSandersonMS commented on #5235
The recommended way to handle this is described at https://docs.microsoft.com/en-us/aspnet/core/client-side/spa/react?view=aspnetcore-2.2&tabs=visual-studio#run-the-cra-server-independently (for React) or https://docs.microsoft.com/en-us/aspnet/core/client-side/spa/angular?view=aspnetcore-2.2&tabs=visual-studio#run-ng-serve-independently (for Angular).

[2019-08-06 17:20] vigotecnologia opened #12920 "Connect to MySQL using named pipe"
I would like to connect my ASP.NET Core 2.2 app to MySQL using named pipe, is there a way to do this ?

I´m using Linux CentOS 7.6, MySQL 5.5 and .NET Connector 8.0.17 but setting "localhost" in the ConnectionString, parameter "server", doesn´t work.

[2019-08-06 17:21] #5235 closed

[2019-08-06 17:24] Tratcher commented on #12878
No, and ASP.NET Core 3.0 and later will no longer support full framework at all.

Kestrel already supports UTF-8. We don't plan to support other encodings. Nor have we found a way to address the encoding issue in the reverse proxy.

[2019-08-06 17:25] sunildixit commented on #8686
I am still seeing this issue.

Here's the stack trace

Severity	Code	Description	Project	File	Line	Suppression State	Detail Description
Warning	AD0001	Analyzer 'Microsoft.AspNetCore.Mvc.Analyzers.TopLevelParameterNameAnalyzer' threw an exception of type 'System.NullReferenceException' with message 'Object reference not set to an instance of an object.'.	ConnectorApp.Web		1	Active	Analyzer 'Microso

[2019-08-06 17:29] mkArtakMSFT commented on #10628
@ryanbrandenburg do you have any suggestion regarding this? Thanks!

[2019-08-06 17:43] danroth27 commented on #12890
@NotMyself The webpack middleware is part of Microsoft.AspNetCore.SpaServices and will be obsoleted as part of this change. The support for SPA static files is part of Microsoft.AspNetCore.SpaServices.Extensions and will continue to be supported.

[2019-08-06 17:49] danroth27 commented on #12890
@flcdrg @atrauzzi @ericgreenmix Could you please share with us some details on how you are using NodeServices today? Why do you need to execute JavaScript on the server at runtime? If there is significant interest in this functionality it might be interesting to spin NodeServices off as a community driven project. Is that something any of you would be interested in taking on?

[2019-08-06 17:50] ryanbrandenburg commented on #10628
I don't have a suggestion offhand, if this is something we want to look into lets put it in a milestone.

[2019-08-06 18:04] genifycom commented on #12865
The problem here is that since a script cannot be inserted in a .razor page, we have to go back to a .cshtml page.

This means that we have to put ALL script references in something like _Host.cshtml

You cannot use the shared razor layouts, so that whole component structure seems to be compromised.

Having being building out an app now, even with a dozen pages this quickly becomes extremely diffi

[2019-08-06 18:06] ryanbrandenburg opened #12922 "Accept button doesn't work on VS Internal Web Browser"
https://devdiv.visualstudio.com/DevDiv/_workitems/edit/960955

[2019-08-06 18:08] brianlagunas commented on #12919
Added videos clips of the twitch stream which demonstrates the issue.

[2019-08-06 18:16] davidfowl commented on #12897
I didn't look at that. I'm just looking at the allocation rate.

[2019-08-06 18:20] davidfowl commented on #12918
As part of our sync over async awareness, we need to throw by default and have switches for not throwing.

[2019-08-06 18:21] campersau commented on #12919
From the video it looks like the button is not clicked the first time because the content jumps up because the validation message is removed. I would suggest adding some CSS so the content does not jump or try use the keyboard navigation e.g. tab -> enter then it should work the first time.

[2019-08-06 18:28] gulbanana commented on #12871
It’s definitely a better technique than the one I was using. I guess removing the StaticWebAsset items at this point has the correct impact on the manifest file thing?

[2019-08-06 18:41] ajcvickers commented on #12858
@concretor91 Looks like you could be hitting https://github.com/dotnet/SqlClient/issues/43 If not, then please file a new issue at https://github.com/dotnet/SqlClient/issues and include a small, runnable project/solution or complete code listing.

[2019-08-06 18:41] #12858 closed

[2019-08-06 18:54] manigandham commented on #12890
@danroth27

We use NodeServices to run some NPM packages that don't have equivalent .NET libraries and aren't worth a rewrite. This is one of the benefits of the library as [mentioned by the team](https://channel9.msdn.com/Events/ASPNET-Events/ASPNET-Fall-Sessions/ASPNET--Spa) before.

We also have a proof of concept of a functions-as-a-service platform that we're building for customers to write t

[2019-08-06 18:56] jarroda commented on #12890
@danroth27 For the same reason that people do interop generally.  In our case, we're using a PDF generation library to do reporting, because there is no equivalent available in netcore for linux platforms.  As @manigandham points out, that was a general feature of the library.

[2019-08-06 18:57] ryanbrandenburg commented on #7330
Re-requesting clarification here @mkArtakMSFT and @danroth27.

[2019-08-06 19:02] ericgreenmix commented on #12890
@danroth27 As others have said, we use it to leverage various NPM packages that don't have equivalents in .Net.

As the repositories readme states:
[code]

What led to the decision of deciding to obsolete the `NodeServices` without an equivalent replacement? It seems like an oversight to me.

[2019-08-06 19:04] javiercn commented on #11641
@ZergZe Could you provide a github project showcasing the repro?

[2019-08-06 19:05] pranavkm commented on #12627
As @marin-bratanov this is pretty similar to #12226. We'll use the other issue to track further work.

[2019-08-06 19:05] #12627 closed

[2019-08-06 19:23] danroth27 commented on #12890
@ericgreenmix Our primary scenario for building NodeServices was to enable integration between SPA frameworks and ASP.NET Core for things like like server-side prerendering and HMR. Since we now integrate with the CLIs for Angular and React directly this functionality is no longer needed for these specific scenarios. Providing NodeServices as a generic way to into JS from .NET Core is not somethin

[2019-08-06 19:26] ghidello commented on #12859
@mkArtakMSFT sure! I'll use this issue for the easy fix and make a pull request for it. I'll open a new issue for the LogLevel configuration if I figure out a good solution.

[2019-08-06 19:38] danroth27 commented on #12890
@manigandham Makes sense. We certainly would encourage folks that are interested in continuing to maintain this functionality as a community based project to do so. If such a community project were to spin up it is more than welcome to use the existing NodeServices code as a starting point with the appropriate changes to the namespaces and package names. We'd be happy to point folks that are inter

[2019-08-06 19:49] danroth27 commented on #12890
@NotMyself We'd like to enable the .NET + Vue community to ship a Vue template that integrates with the Vue CLI similar to what we do for Angular and React. I believe we still have some functionality to make public to make that reasonable to do, but I think that's something we'd like to address in the .NET 5 time frame.

[2019-08-06 19:52] matheusjulio96 commented on #12916
What do you mean by 'old article'? There's BlazorDualMode project by Dan Roth [https://github.com/danroth27/BlazorDualMode](url) which use Preview6, and seems to work with Preview7 too.

[2019-08-06 19:59] julienGrd commented on #12916
great ! I wasn't find this project when i looked for something like that.

I will try it, thanks !

[2019-08-06 19:59] #12916 closed

[2019-08-06 20:00] #12841 closed

[2019-08-06 20:01] pranavkm opened #12923 "[Validation] launchSettings.json should appear editable in VS and should be copied to build output directory"
Validation for https://github.com/aspnet/AspNetCore/issues/12841

[2019-08-06 20:04] pranavkm commented on #12918
What about things that aren't in DI scope? For instance, Controller or Hub instances: https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.Core/src/Controllers/DefaultControllerActivator.cs#L72-L75

[2019-08-06 20:08] DamianEdwards commented on #12897
5.0.0? Shouldn't we aiming to fix (or at least understand) this before 3.0 final, or at least for 3.1?

[2019-08-06 20:16] mkArtakMSFT commented on #5182
Reopening this as we plan to enable better integration with SPA frameworks in 5.0. You can see more details about this plan [here](https://github.com/aspnet/AspNetCore/issues/12890).

[2019-08-06 20:16] spydacarnage commented on #8686
What version of Core, VS2019, etc. are you using?

I had the problem as well, but it went away weeks ago after an upgrade.

On Tue, 6 Aug 2019, 18:26 Sunil Dixit, <notifications@github.com> wrote:

[2019-08-06 20:19] brianlagunas commented on #12919
@campersau That was exactly it! Thanks!

[2019-08-06 20:19] #12919 closed

[2019-08-06 20:28] rynowak commented on #12897
The fix would be to revert the recent change that introduced the state machine and add `Endpoint` to the list of things that we unset in `HttpContext.Clear()`

[2019-08-06 20:32] pranavkm commented on #8686
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2019-08-06 20:52] AlexeyStarkov commented on #12914
I'm getting the error trying to run the app. Certificate installation performs without any problems.

I've installed asp.net core 2.2 just now and changed target framework version to 2.2 as well. Unfortunately I've got the same result

[2019-08-06 21:01] CeciAc commented on #12884
Hi team,
I'm reopening the issue after checking with our linguist.
The user is reporting missing important information in the documentation about that element
best regards

[2019-08-06 21:06] anurse commented on #12882
Let's do it in master. We talked through the cancellation impact and it should be fine.

[2019-08-06 21:08] tdykstra commented on #12884
This information is already made clear in the doc, in a Note box in the **Attributes for complex type targets** section:

[2019-08-06 21:08] NTaylorMullen opened #12925 "Publish symbols for LiveShare's legacy Microsoft.VisualStudio.LiveShare.Razor.dll"
LiveShare ships their own flavor of `Microsoft.VisualStudio.LiveShare.Razor.dll` and `Microsoft.VisualStudio.LiveShare.WebEditors.dll` to support older VS scenarios (before we shipped the LiveShare experience). It looks like when we initially handed these binaries over to LiveShare the PDBs we published to symweb weren't sufficient.

There isn't any code we need to update to accomplish this item,

[2019-08-06 21:10] #8796 closed

[2019-08-06 21:30] anurse commented on #8951
I think #11888 covers the main scenarios we're looking at here. Unifying TestHost's WebSocket client with the "real" type is challenging because the connection semantics are very different. Some improvements here might happen as we design the way in which SignalR will integrate with TestHost.

[2019-08-06 21:30] #8951 closed

[2019-08-06 21:32] anurse commented on #5291
I'm going to close this. We'll always continue evaluating performance and can consider this as a possible improvement when we get there. I don't feel like tracking a bunch of individual perf ideas on GitHub is the most effective structure.

[2019-08-06 21:32] #5291 closed

[2019-08-06 21:32] anurse commented on #5288
I'm going to close this. We'll always continue evaluating performance and can consider this as a possible improvement when we get there. I don't feel like tracking a bunch of individual perf ideas on GitHub is the most effective structure.

[2019-08-06 21:32] #5288 closed

[2019-08-06 21:33] anurse commented on #5285
I'm going to close this. We'll always continue evaluating performance and can consider this as a possible improvement when we get there. I don't feel like tracking a bunch of individual perf ideas on GitHub is the most effective structure.

[2019-08-06 21:33] #5285 closed

[2019-08-06 21:41] anurse commented on #8600
We don't plan to limit `IHubCallerClients` with co-variance.

I wouldn't even expect this code to work since the Hub isn't in the DI container normally...

[2019-08-06 21:41] #8600 closed

[2019-08-06 21:42] anurse commented on #5298
Rolling this up in to #11821

[2019-08-06 21:42] #5298 closed

[2019-08-06 21:44] pranavkm opened #12926 "[Blazor] Consistently use TValue as the type parameter name for input components"
The type parameter name can be used to resolve type inference: e.g. `<InputSelect T="int">`. Since it's user visible, we should do a pass over these and update and pick a slightly better name.

[2019-08-06 21:46] anurse commented on #5355
Closing this as we don't plan to make these changes. The client can filter out the log messages about invoking non-existent methods. We wouldn't be able just turn off the error since that would be a breaking change.

[2019-08-06 21:46] #5355 closed

[2019-08-06 21:47] anurse commented on #5339
I don't hear a lot of enthusiasm behind this. If we see more specific requests, we can revisit.

[2019-08-06 21:47] #5339 closed

[2019-08-06 21:51] anurse commented on #5297
@SteveSandersonMS @rynowak FYI, just something that popped up in our backlog grooming and @BrennanConroy mentioned this was something you cared about. So we put our special happy label on it.

[2019-08-06 21:53] anurse commented on #5302
We need to figure out if peer-to-peer support is something we want and how to do it. I'm going to close this as we have no plans on our radar to directly support WebRTC.

[2019-08-06 21:53] #5302 closed

[2019-08-06 21:53] anurse commented on #5306
Rolling in to #5353

[2019-08-06 21:53] #5306 closed

[2019-08-06 21:56] anurse commented on #5289
Broadening this. I don't know if it's feasible to send the token through the transport since the layering is a bit wrong. However, we have some ideas on how to improve some of the problems in the current auth story.

[2019-08-06 21:57] anurse commented on #5276
Proxy Gen! It seems users aren't super enthusiastic here. I haven't heard a lot about it. If customers are clamoring for it, we can re-evaluate.

[2019-08-06 21:57] #5276 closed

[2019-08-06 22:00] pranavkm commented on #12226
From what I can tell, the problem is that the compiler does not use the the generic type parameter for type inference in method calls. Here's a fairly trivial example:

[code]

We effectively get the same code when we code-gen a Razor file like this:

[code]

[code]

The compiler fails the type inferrence, picks the wrong overload for `EventCallback.Factory.Create` and generates the method group c

[2019-08-06 22:00] anurse commented on #5281
Retargetting this to focus on an on-premise "standalone" backplane, primarily for cases where Redis and Azure SignalR is infeasible (i.e. On-Premise Windows).

[2019-08-06 22:00] anurse commented on #5277
Closing this and rolling it in to https://github.com/aspnet/AspNetCore/issues/5281.

[2019-08-06 22:00] #5277 closed

[2019-08-06 22:01] davidfowl commented on #12897
I would support that change.

[2019-08-06 22:04] davidfowl commented on #5339
It’s because people do inefficient things that work. This isn’t the sorts issue that people know they have until they have it

[2019-08-06 22:04] mkArtakMSFT commented on #12253
We're closing this issue as this doesn't align with our long-term plans in this area. You can read more details about our vision for this area at https://github.com/aspnet/AspNetCore/issues/12890.

[2019-08-06 22:04] #12253 closed

[2019-08-06 22:04] mkArtakMSFT commented on #12093
We're closing this issue as this doesn't align with our long-term plans in this area. You can read more details about our vision for this area at https://github.com/aspnet/AspNetCore/issues/12890.

[2019-08-06 22:04] #12093 closed

[2019-08-06 22:05] mkArtakMSFT commented on #11221
Thanks for contacting us. We're closing this issue as this doesn't align with our long-term plans in this area. You can read more details about our vision for this area at https://github.com/aspnet/AspNetCore/issues/12890.

[2019-08-06 22:05] #11221 closed

[2019-08-06 22:05] mkArtakMSFT commented on #5258
Thanks for contacting us. We're closing this issue as this doesn't align with our long-term plans in this area. You can read more details about our vision for this area at https://github.com/aspnet/AspNetCore/issues/12890.

[2019-08-06 22:05] #5258 closed

[2019-08-06 22:05] mkArtakMSFT commented on #5256
Thanks for contacting us. We're closing this issue as this doesn't align with our long-term plans in this area. You can read more details about our vision for this area at https://github.com/aspnet/AspNetCore/issues/12890.

[2019-08-06 22:05] #5256 closed

[2019-08-06 22:05] mkArtakMSFT commented on #5255
Thanks for contacting us. We're closing this issue as this doesn't align with our long-term plans in this area. You can read more details about our vision for this area at https://github.com/aspnet/AspNetCore/issues/12890.

[2019-08-06 22:05] #5255 closed

[2019-08-06 22:06] mkArtakMSFT commented on #5251
Thanks for contacting us. We're closing this issue as this doesn't align with our long-term plans in this area. You can read more details about our vision for this area at https://github.com/aspnet/AspNetCore/issues/12890.

[2019-08-06 22:06] #5251 closed

[2019-08-06 22:06] mkArtakMSFT commented on #5245
Thanks for contacting us. We're closing this issue as this doesn't align with our long-term plans in this area. You can read more details about our vision for this area at https://github.com/aspnet/AspNetCore/issues/12890.

[2019-08-06 22:06] #5245 closed

[2019-08-06 22:06] mkArtakMSFT commented on #5244
Thanks for contacting us. We're closing this issue as this doesn't align with our long-term plans in this area. You can read more details about our vision for this area at https://github.com/aspnet/AspNetCore/issues/12890.

[2019-08-06 22:06] #5244 closed

[2019-08-06 22:06] mkArtakMSFT commented on #5243
Thanks for contacting us. We're closing this issue as this doesn't align with our long-term plans in this area. You can read more details about our vision for this area at https://github.com/aspnet/AspNetCore/issues/12890.

[2019-08-06 22:06] #5243 closed

[2019-08-06 22:06] mkArtakMSFT commented on #5240
Thanks for contacting us. We're closing this issue as this doesn't align with our long-term plans in this area. You can read more details about our vision for this area at https://github.com/aspnet/AspNetCore/issues/12890.

[2019-08-06 22:06] #5240 closed

[2019-08-06 22:06] mkArtakMSFT commented on #5237
Thanks for contacting us. We're closing this issue as this doesn't align with our long-term plans in this area. You can read more details about our vision for this area at https://github.com/aspnet/AspNetCore/issues/12890.

[2019-08-06 22:06] #5237 closed

[2019-08-06 22:06] mkArtakMSFT commented on #5233
Thanks for contacting us. We're closing this issue as this doesn't align with our long-term plans in this area. You can read more details about our vision for this area at https://github.com/aspnet/AspNetCore/issues/12890.

[2019-08-06 22:06] #5233 closed

[2019-08-06 22:06] davidfowl commented on #12918
Should have been updated during the 3.x milestone but we missed those places.

[2019-08-06 22:07] mkArtakMSFT commented on #5232
Thanks for contacting us. We're closing this issue as this doesn't align with our long-term plans in this area. You can read more details about our vision for this area at https://github.com/aspnet/AspNetCore/issues/12890.

[2019-08-06 22:07] #5232 closed

[2019-08-06 22:07] mkArtakMSFT commented on #5231
Thanks for contacting us. We're closing this issue as this doesn't align with our long-term plans in this area. You can read more details about our vision for this area at https://github.com/aspnet/AspNetCore/issues/12890.

[2019-08-06 22:07] #5231 closed

[2019-08-06 22:07] mkArtakMSFT commented on #5224
Thanks for contacting us. We're closing this issue as this doesn't align with our long-term plans in this area. You can read more details about our vision for this area at https://github.com/aspnet/AspNetCore/issues/12890.

[2019-08-06 22:07] #5224 closed

[2019-08-06 22:07] mkArtakMSFT commented on #5222
Thanks for contacting us. We're closing this issue as this doesn't align with our long-term plans in this area. You can read more details about our vision for this area at https://github.com/aspnet/AspNetCore/issues/12890.

[2019-08-06 22:07] #5222 closed

[2019-08-06 22:07] mkArtakMSFT commented on #5221
Thanks for contacting us. We're closing this issue as this doesn't align with our long-term plans in this area. You can read more details about our vision for this area at https://github.com/aspnet/AspNetCore/issues/12890.

[2019-08-06 22:07] #5221 closed

[2019-08-06 22:07] mkArtakMSFT commented on #5220
Thanks for contacting us. We're closing this issue as this doesn't align with our long-term plans in this area. You can read more details about our vision for this area at https://github.com/aspnet/AspNetCore/issues/12890.

[2019-08-06 22:07] #5220 closed

[2019-08-06 22:08] mkArtakMSFT commented on #5212
Thanks for contacting us. We're closing this issue as this doesn't align with our long-term plans in this area. You can read more details about our vision for this area at https://github.com/aspnet/AspNetCore/issues/12890.

[2019-08-06 22:08] #5212 closed

[2019-08-06 22:08] mkArtakMSFT commented on #5202
Thanks for contacting us. We're closing this issue as this doesn't align with our long-term plans in this area. You can read more details about our vision for this area at https://github.com/aspnet/AspNetCore/issues/12890.

[2019-08-06 22:08] #5202 closed

[2019-08-06 22:08] mkArtakMSFT commented on #5172
Thanks for contacting us. We're closing this issue as this doesn't align with our long-term plans in this area. You can read more details about our vision for this area at https://github.com/aspnet/AspNetCore/issues/12890.

[2019-08-06 22:08] #5172 closed

[2019-08-06 22:08] mkArtakMSFT commented on #5139
Thanks for contacting us. We're closing this issue as this doesn't align with our long-term plans in this area. You can read more details about our vision for this area at https://github.com/aspnet/AspNetCore/issues/12890.

[2019-08-06 22:08] #5139 closed

[2019-08-06 22:10] anurse commented on #12878
Using the in-proc model in 2.2 and 3.0 or using Kestrel directly (with no IIS proxy in front) is the suggested solution here, when you are able to migrate to it. We don't have plans to revisit this encoding logic in the out-of-proc mode for IIS.

[2019-08-06 22:10] #12878 closed

[2019-08-06 22:15] anurse commented on #12809
I think we can achieve this by refactoring the (internal 🎉) `HttpsConnectionMiddleware` like so:

* Rename to `TlsConnectionMiddleware` and refactor to use ALPN-specific options with no HTTP stuff
* Add a `UseTls` extension method and configuration.
* Keep `UseHttps` extension method and `HttpsConnectionAdaptorOptions` and have them configure the `TlsConnectionMiddleware`

[2019-08-06 22:16] anurse commented on #12809
@ReubenBond if you're passionate and excited, we'd take a PR. Otherwise we'll put it in our planning for 5.0 and see where it shakes out.

[2019-08-06 22:18] anurse commented on #12797
This isn't a supported API so we don't plan to make any changes here.

[2019-08-06 22:18] #12797 closed

[2019-08-06 22:18] InvincibleDRT commented on #12890
We also use nodeservices to run puppeteer module on server side for PrintToPDF functionality. Spinning off as a community driven project is indeed a good idea

[2019-08-06 22:21] anurse commented on #12876
Are all the files in your app locked or are there specific files that are locked? Also, have you modified any IIS settings like shutdown timeout? Also, I assume you're using the IIS in-proc deployment model (which is the default)?

[2019-08-06 22:26] anurse commented on #12784
We're not aware of clients that do this, but I'd like to look at this in the 3.x wave sometime because I don't like waiting all the way to 5.0 to resolve a correctness bug.

[2019-08-06 22:29] anurse commented on #12785
We'll doc that these should be set to the same value and leave it at that until we get more feedback.

[2019-08-06 22:32] anurse commented on #12760
Sounds like a good idea. We wouldn't be able to go below 1s of precision though since we're using the cached system clock that has a maximum precision of 1s.

[2019-08-06 22:32] anurse commented on #12760
Basically just a matter of comparing `now` against `_systemClock.UtcNow` again before emitting the heartbeat slow event in https://github.com/aspnet/AspNetCore/blob/060d35cd04db1ce06dc816a8ec0faf9fd88d7a29/src/Servers/Kestrel/Core/src/Internal/Infrastructure/Heartbeat.cs#L43

[2019-08-06 22:36] salmanmkc opened #12929 "File path adds"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
A clear and concise description of what the bug is.

### To Repro

[2019-08-06 22:36] anurse commented on #3814
We're not going to do this.

[2019-08-06 22:36] #3814 closed

[2019-08-06 22:37] anurse commented on #3804
This issue has gotten stale. We don't plan to fix it at this point.

[2019-08-06 22:37] #3804 closed

[2019-08-06 22:38] anurse commented on #3815
We haven't seen interest in this. Closing for now, waiting for further customer interest (unless @blowdart has thoughts)

[2019-08-06 22:38] #3815 closed

[2019-08-06 22:38] concretor91 commented on #12858
@ajcvickers
Perhaps this is the same problem. I keep experimenting. I install last service pack on sql 2014(sql 2014 installed long ago), but no effect, still endless hangs. I completely remove sql 2014 and install. Now instead of freezing it gives an error:
OpenSslCryptographicException: error:1425F102:SSL routines:ssl_choose_client_version:unsupported protocol

Again, this is a clean template. I

[2019-08-06 22:39] anurse commented on #3811
We haven't seen issues, we'll revisit if we're seeing problems.

[2019-08-06 22:39] #3811 closed

[2019-08-06 22:39] anurse commented on #3806
We have no plans to do this.

[2019-08-06 22:39] #3806 closed

[2019-08-06 22:39] anurse commented on #3818
Horp.

[2019-08-06 22:39] #3818 closed

[2019-08-06 22:40] anurse commented on #3817
Meh. If we get customer interest we can revisit.

[2019-08-06 22:40] #3817 closed

[2019-08-06 22:42] msx752 commented on #12664
@whentotrade thanks man , that is really fixed my the issue.
**NOTE:** that issue show up after dotnet3.0 preview5 Release

[2019-08-06 22:43] anurse commented on #3824
We don't have plans to implement this. The concepts don't really map in ASP.NET Core. URLs aren't inherently based on any directory structure. Each component has conventions that may map to directories, but this isn't something that can be generalized.

[2019-08-06 22:43] #3824 closed

[2019-08-06 22:44] anurse commented on #3816
We haven't heard a lot of feedback looking for Kernel Caching. Closing as we don't plan to do this.

[2019-08-06 22:44] #3816 closed

[2019-08-06 22:44] salmanmkc opened #12930 "File path IntelliSense adds ~ preceding the directory (for Blazor)"
### Using Blazor

### Describe the bug
Say if I want to add the source of an image and I rely on IntelliSense to complete the directory for me, it adds a ~ at the beginning of the file path. This will not load the file, and if you remove the ~ it works. I believe this was an issue over a year ago, however it was closed, perhaps it was solved, but IntelliSense itself still adds the ~ to the beginni

[2019-08-06 22:45] anurse commented on #3825
This was done. I'll see if I can find the dupe.

[2019-08-06 22:45] #3825 closed

[2019-08-06 22:45] anurse commented on #3827
We do retries in v2. We don't plan to backport this to ANCMv1.

[2019-08-06 22:45] #3827 closed

[2019-08-06 22:46] anurse commented on #3828
Closing until we hear customer interest.

[2019-08-06 22:46] #3828 closed

[2019-08-06 22:47] #12929 closed

[2019-08-06 22:47] salmanmkc commented on #12929
woops accidently opened it

[2019-08-06 22:49] anurse commented on #3831
Closing until we get customer interest.

[2019-08-06 22:49] #3831 closed

[2019-08-06 22:51] ReubenBond commented on #12809
I took a quick stab at the first point (rename, refactor), pulling the bits into our repo. We're targeting netstandard2.0 right now & there're are a bunch of issues (lack of `IAsyncDisposable` & `PipeWriter.Create(Stream, ...)`, among other things). I spoke with @sergeybykov earlier and we loosely agreed on the following w.r.t our Bedrock + TLS support:

* Upgrade orleans/master to use the package

[2019-08-06 22:52] anurse commented on #3791
We think we're good here. If we get customer feedback that there's an issue we can revisit.

[2019-08-06 22:52] #3791 closed

[2019-08-06 22:52] anurse commented on #3795
We're focusing on in-proc. Closing this.

[2019-08-06 22:52] #3795 closed

[2019-08-06 22:53] anurse commented on #3797
We don't plan to resolve this.

[2019-08-06 22:53] #3797 closed

[2019-08-06 22:54] anurse commented on #3798
Meh.

[2019-08-06 22:54] #3798 closed

[2019-08-06 22:54] anurse commented on #3800
We don't plan to fix this.

[2019-08-06 22:54] #3800 closed

[2019-08-06 22:55] #3850 closed

[2019-08-06 22:56] anurse commented on #4188
Fixed in Kestrel and HttpSys. Closing.

[2019-08-06 22:56] #4188 closed

[2019-08-06 22:56] anurse commented on #4189
We do test now ;).

[2019-08-06 22:56] #4189 closed

[2019-08-06 22:57] anurse commented on #4191
Nginx on Windows isn't really something we have a lot of concern about. We'll react to issues that arise.

[2019-08-06 22:57] #4191 closed

[2019-08-06 22:58] anurse commented on #3796
We believe this is fixed. If something comes up, we can fix it.

[2019-08-06 22:58] #3796 closed

[2019-08-06 22:59] anurse commented on #3820
We believe this is done.

[2019-08-06 22:59] #3820 closed

[2019-08-06 23:00] anurse commented on #3803
This only affects out-of-process. We don't have plans to invest significantly in perf here right now.

[2019-08-06 23:00] #3803 closed

[2019-08-06 23:02] salmanmkc commented on #12930
This is for Blazor, which I didn't mention in the post

[2019-08-06 23:14] NTaylorMullen commented on #12713
Hmm, @SteveSandersonMS did this work already happen? `Microsoft.AspNetCore.Components` [doesn't IVT](https://github.com/aspnet/AspNetCore/blob/060d35cd04db1ce06dc816a8ec0faf9fd88d7a29/src/Components/Components/src/Properties/AssemblyInfo.cs) to any product assembly.

Also `RenderRegistry` is in `Microsoft.AspnetCore.Components.Web` and it utilizes only public types from `Microsoft.AspNetCore.Compo

[2019-08-06 23:15] 99littlebugs commented on #12310
Is there a way to make this work even when the `kid` is not specified? The developer rarely has a choice whether it will be sent. Additionally, can the `RefreshOnKeyIssuerNotFound` documentation be updated with more information on when it should be expected?

[2019-08-06 23:20] sunildixit opened #12932 "Microsoft.AspNetCore.Mvc.Analyzers.TopLevelParameterNameAnalyzer threw NullReferenceException"
I am using VS 2019 Preview 16.3.0 Preview 1.0

I have two webapps in the solution and for both of them I am always getting the warning described below

Warning	AD0001	Analyzer 'Microsoft.AspNetCore.Mvc.Analyzers.TopLevelParameterNameAnalyzer' threw an exception of type 'System.NullReferenceException' with message 'Object reference not set to an instance of an object.'.	ConnectorApp.Web	1	Active	An

[2019-08-06 23:59] dsplaisted opened #12933 "Razor Static Web Assets feature is regressing build perf for large solutions"
We are seeing perf regressions for large solutions that target .NET Core 3.0 instead of .NET Core 2.0.  We believe that the Razor static web assets feature is contributing to this.  The implementation for the static web assets feature calls the `GetCurrentProjectStaticWebAssets` target in dependent projects with `_StaticWebAssetsSkipDependencies=true` as a global property:

https://github.com/aspn

[2019-08-07 00:37] Pilchie commented on #4310
Given that this has shipped in 2.1 and 2.2, I don't think it's critical to fix for 3.0.  Customers can install the .NET Core runtime as well as the Asp.NET one.

[2019-08-07 01:20] chrdlx commented on #12876
@anurse
-Just the .dll and the .pdb files.
-The IIS's application pool has been created with default settings.
-InProc hosting

Tomorrow I'll talk with the IT department since they're copying the files.... maybe they're producing this issue somehow....  I'll keep you posted...

Thanks & Regards

[2019-08-07 01:45] kennywangjin commented on #12905
I think this should be more html-standard and make more sense. :) **HTMLSelectElement** has no **value** attribute but only **value** property.

[2019-08-07 01:55] flcdrg commented on #12890
We use TypeScript/JavaScript to perform customer-specific data transformations together with a common .NET application.

We would be interested in taking on this as a community project (otherwise we'll probably end up forking/copying it privately)

[2019-08-07 02:22] davidfowl commented on #12907
Sorry I never did this change but enough people have hit it now I think we should just do it. https://github.com/aspnet/Extensions/tree/davidfowl/background-service

[2019-08-07 02:45] dougbu commented on #7073
Many thanks to @tmat and @gregg-miskelly for their help on the questions in this issue❕❕ All questions are now resolved or the subject of issues elsewhere e.g.
- dotnet/arcade#2519, Need API to read SourceLink information from Windows PDBs (issue with native and `crossgen`'d assemblies)
- ctaggart/SourceLink#386, sourcelink test does not match URLs correctly (issue with submodules)
- Some bug some

[2019-08-07 02:45] #7073 closed

[2019-08-07 02:47] rybkov commented on #11075
As it is breaking change for Preview 8 - will we have workaround or suggested solution on how to redirect to custom URL when authorization failed?

[2019-08-07 04:24] pamedasa commented on #12878
" **using Kestrel directly (with no IIS proxy in front) is the suggested solution here**"
this will be the issue right now having right? Traces which reported earlier in this thread were captured when Kestrel used directly.

using Kestrel directly is not also not the right one because it's clearly called out that Kestrel don't support non-ascii characters.

[2019-08-07 05:06] Tratcher commented on #12878
Kestrel supports Utf-8 encoded headers. It blocks requests with corrupted encodings.

The trace in https://github.com/aspnet/AspNetCore/issues/12878#issuecomment-518641829 shows corrupted encoding, HttpWebRequest isn't generating a valid encoding as explained in https://github.com/aspnet/AspNetCore/issues/12878#issuecomment-518711029.

[2019-08-07 05:16] pamedasa commented on #12878
Yes exactly. Until client doesn't generate valid encoded headers it will continue fail even though kestrel is public facing to accept the requests. So can I say - "Kestrel would be the suggested solution if headers generated with UTF-8 format."

[2019-08-07 06:19] virtualcca opened #12937 "Linux GC not collect"
### Describe the bug
In Linux (running on supervisor), my web app will continue to rise, and then stay close to 100% for a long time.
Recycling will only be triggered after a while (the program will produce a perceptible click)

First of all, we can make sure that there are no memory leaks on our program. We suspect that it may be a problem on Linux.
Then I compiled a windows version and put it on

[2019-08-07 08:05] valorl opened #12938 "Include groups in ClaimsPrincipal when using Negotiate on Linux"
### Describe the solution you'd like
When using Negotiate authentication on Windows, the created `WindowsPrincipal` automatically holds all the AD groups of the authenticated user as claims of type `http://schemas.microsoft.com/ws/2008/06/identity/claims/groupsid`, which is also the value of `RoleClaimType`.

It would be useful to have similar functionality on Linux, where the `ClaimsPrincipal` wo

[2019-08-07 08:07] valorl commented on #4662
@Tratcher Sure, I've created #12938 to track this.

[2019-08-07 08:55] LunicLynx commented on #10489
@danroth27 I'm really looking forward to this!

In the meantime one thing though. Why are changes like this made?
https://github.com/aspnet/AspNetCore/commit/04c3192d3cec396a9f2343fb5407d6777349b9df#diff-db0ad15f21551ab0bd6aa7fd83004a97
This broke the existing BlazorSignalR implementation. I totally get the reasoning in hiding implementation details, but for lack of a better alternative this chang

[2019-08-07 10:04] ZergZe commented on #11641
@javiercn

[Github project](
https://github.com/ZergZe/Issues11641)

Project has been created by cli:

[code]

### Version:

[code]

### Problem:
Application stops operating. I have no chanse to handle and ignore the exceptions.

[2019-08-07 10:40] javiercn commented on #12871
@rynowak I think so, but it might need modifications. Now that I look at it again, it probably needs to be hook into some other target.

@danroth27 Can you figure out the right place to add this to the docs?

[2019-08-07 11:00] atrauzzi commented on #12890
@danroth27 I might be missing something here, but there is no official react CLI for doing server side prerendering is there?

If I have a fully built JS bundle, it might be that there only way to call it is to treat it like a JavaScript "DLL". That means there is no single convention that could reliably apply to it for a CLI tool.

I think it makes sense to continue offering an official way to ca

[2019-08-07 11:20] SteveSandersonMS commented on #12905
@kennywangjin How would you make `@bind` work like that?

[2019-08-07 11:35] AquilaSands opened #12939 "UseExceptionHandler middleware can't handle exceptions from UseAuthentication middleware"
### Describe the bug
When an exception is thrown from the `UseAuthentication` middleware it propagates back up the pipeline until caught by the `UseExceptionHandler` middleware which then re-executes the pipeline using the error path which then gets to the `UseAuthentication` middleware a second time but because the cached `Task` from the first call to `UseAuthentication` is returned the second ti

[2019-08-07 11:41] axthosarouris commented on #10497
I do not remember where I found it but does the following solution help?

Adding to the .csproj file the following element:
[code]

And the file `xunit.runner.json` in the test project:
[code]

[2019-08-07 12:25] brockallen commented on #12938
Beware cookie bloat.

[2019-08-07 12:37] blowdart commented on #12938
@Tratcher

[2019-08-07 12:38] deniszykov commented on #9307
Any news or progress? We are using `LibUv` package from Nuget in out project. I would like to get a fixes that is in the 1.30.*.

Do you need any help in this?

[2019-08-07 12:41] blowdart commented on #12938
You'll note that Steve's implementation only translates the well known group names. It doesn't cope with user defined groups, so it's quite limited. The Windows one contains SIDs and there's special magic in IsInRole that goes off to the AD and asks the AD for the SID. That wasn't a goal for this implementation, but may come later.

[2019-08-07 12:42] blowdart commented on #12888
Closing as answered

[2019-08-07 12:42] #12888 closed

[2019-08-07 12:44] chucker commented on #12829
Good point; I missed that. Thanks!

[2019-08-07 12:47] SteveSandersonMS opened #12940 "InteropReliabilityTests are flaky"
This *may* have started with one of the following two commits. I can't tell which one, because the build system says it can no longer find the results from the first of them.

 * https://github.com/aspnet/AspNetCore/commit/43350b57b95b15ce787ed04f8bde54dc6903754f (@JunTaoLuo, Revert "Revert "Improve components infrastructure)
 * https://github.com/aspnet/AspNetCore/commit/31cfa2e3059398feb08cc7b28

[2019-08-07 13:20] kennywangjin commented on #12905
@SteveSandersonMS I'm using this `select` component everywhere, and I don't want to repeat `option`s' async population action. So I build a component by wrapping this `select` and `bind` can not work here because I am getting `Value` from `parameter` property which could not be bound.
`
[Parameter] int Value { get; set; }
[Parameter] EventCallback ValueChanged { get; set; }`

[2019-08-07 13:22] VR-Architect commented on #12904
That worked. Thanks @campersau

[2019-08-07 13:42] SteveSandersonMS opened #12942 "ResolveStaticWebAssetsInputs adds a lot to build times"
Currently, warm-building [1] `ComponentsApp.Server` in VS takes 25-30 seconds on my machine. I recall it was in the < 5s region until quite recently, though it's unclear what changed or when. @javiercn found it's taking ~15s on his machine currently, which is also excessive. Building E2ETests has gone up into the minutes range.

Capturing build logs shows the following as the most expensive parts

[2019-08-07 13:47] NotMyself commented on #12890
@danroth27 sounds reasonable to me. Seems like only my development workflow is changing. My deployment strategy should still work fine. So instead of having .net core proxy requests to my vue app, I can flip it over and have webpack proxy requests to the .net core app.

Might taking some fiddling to get F5 start-up and debug working the way I have it now, but that should be achievable. Let me know

[2019-08-07 13:47] blowdart commented on #12920
Named pipes are a Windows OS feature.  They are [not supported](https://dev.mysql.com/doc/refman/5.7/en/server-options.html#option_mysqld_enable-named-pipe) on MySQL on linux.

[2019-08-07 13:53] vigotecnologia commented on #12920
Humm, ok, then, is it possible to connect to MySQL on Linux using SOCKETS ?

[2019-08-07 13:56] blowdart commented on #12920
That would depend on the mysql client library.

EF folks might know, @ajcvickers ?

[2019-08-07 14:12] SteveSandersonMS commented on #12713
@NTaylorMullen Ah, sorry - I misidentified the place where the IVT is. It's in `M.A.Components.Web`, not `M.A.Components`. We still want to eliminate this.

Have you started work on this yet? If not, I have some specific proposals for how we amend the APIs to avoid the IVTs. I'd be happy to take this issue.

[2019-08-07 14:17] anurse commented on #12876
**All** DLLs and PDBs?

[2019-08-07 14:25] deckertron9000 commented on #4926
@pranavkm A project I'm working on is currently using WebApiOverloadingApplicationModelConvention and WebApiParameterConventionsApplicationModelConvention as MVC options. Are those options supported in any way by AspNetCore.MVC without the use of the compat shim? If so is it documented somewhere?

[2019-08-07 14:35] ajcvickers commented on #12920
@vigotecnologia I believe it is. Try using https://github.com/mysql-net/MySqlConnector I have seen people good luck with this provider even when the official provider runs into problems.

[2019-08-07 14:35] #12920 closed

[2019-08-07 14:35] javiercn commented on #11641
@ZergZe Thanks for the repro, I think there was a confusion and this didn't make it into preview7. But it is indeed fixed.

https://github.com/aspnet/Extensions/blob/master/src/JSInterop/Microsoft.JSInterop/src/DotNetDispatcher.cs#L84-L96

[2019-08-07 14:46] Tratcher commented on #12938
This is kerberos, there is no cookie. There is however a cost to looking up this information on every request.

[2019-08-07 14:48] mmulhearn opened #12944 "Getting 500.0 ANCM In-Process Handler Load Failure in Azure"
I have a core API that I'm developing in VS Code.  I wanted to push it up quickly to Azure to verify connectivity between my two Azure-based apps and as such I ran

[code]

Then, using the VSCode Azure Extensions, I published the "publish" folder up to my Azure Web App (Windows).

When I went to hit my test operation with Postman, I got the 500 error.

I did install add the Microsoft.AspNetCore.Se

[2019-08-07 14:51] mmulhearn commented on #12944
Here is the dump out from my Azure app

![image](https://user-images.githubusercontent.com/411870/62632907-45e12680-b901-11e9-9db5-d3f57c55953b.png)

[2019-08-07 14:54] Tratcher commented on #12938
On linux we depend on GSS API to handle the Kerberos handshake for us. We'd either have to find a way to get the groups through GSS (which would be done in corefx), or get them ourselves out of band (LDAP).

[2019-08-07 15:01] nguerrera commented on #12942
#12933 ?

[2019-08-07 15:03] mmulhearn commented on #12944
So, after working and Googling on this for about 3 hours today, it seems to have started working out of nowhere (and of course right after I file a bug).

I did get it working by following another post in which people said that changing ```modules="AspNetCoreModuleV2"``` to ```modules="AspNetCoreModule"``` would work, which it did.  I also removed ```hostingModel="InProcess"``` but that didn't see

[2019-08-07 15:05] nguerrera commented on #12942
It is duplicating msbuild evaluationof project references. Normally the first to call a target on project reference incurs this cost (_Get... TargetFrameworkProperties). But this sets a new global property which forces msbuild to reevaluate.

[2019-08-07 15:10] ZergZe commented on #11641
@javiercn Thank you very much for the clarification.
I will wait for future update.

[2019-08-07 15:29] murugaratham opened #12945 "SignalR connection.close() not working"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
A clear and concise description of what the bug is.

### To Repro

[2019-08-07 15:37] dasMulli commented on #12621
I'm working around this with Program.cs customizations using `Process.GetCurrentProcess().MainModule.FileName` as suggested in https://github.com/dotnet/core-setup/issues/7491#issuecomment-517835272 - checking if the file is in a different location than `AppContext.BaseDirectory` and the executable name (without extension) is not `dotnet`.

The weird thing about it is that the design document for

[2019-08-07 15:37] remyblok opened #12946 "Response.OnCompleted exceptions not caught when hosted InProcess"
Issue #2170 has been reported on this same topic and has been fixed. But now with the InProcess hosting model the same problem exists again.

Using ASP.NET Core 2.2 using `<AspNetCoreHostingModel>InProcess</AspNetCoreHostingModel>`
A simple code like this shows the issue:

[code]
Response.OnCompleted is said to be invoked after the response is sent to the user, so the user should already have got

[2019-08-07 15:45] AqeelAT opened #12948 "MultiSelectList should be inter-operable with SelectListItem with a nested SelectListGroup"
I was trying to create a multi select list using tag helpers. However, I cannot use my SelectListItems if I want to also use `<optgroups>`. MultiSelectList gets the value of the field named Group which is `Microsoft.AspNetCore.Mvc.Rendering.SelectListGroup` and groups them under that name.

Solution:
Adding the constructor:
`public public MultiSelectList( IEnumerable<SelectListItem> items, IEnumer

[2019-08-07 15:49] Pilchie commented on #4350
@mikaelm12 @anurse Thi is sitting in the Preview 8 milestone.  Should that be updated?

[2019-08-07 15:53] danroth27 commented on #12871
@javiercn https://docs.microsoft.com/aspnet/core/razor-pages/sdk

[2019-08-07 15:55] javiercn commented on #12871
@danroth27 I meant what do you want it to say :)

[2019-08-07 15:56] javiercn commented on #12871
@danroth27 Should we instead of doing a 1-off capture 4 or 5 scenarios we care about (this, typescript, etc) and write a section with all those?

[2019-08-07 15:57] anurse commented on #4350
Yep! Done!

[2019-08-07 15:57] #12788 closed

[2019-08-07 15:58] danroth27 commented on #12871
@javiercn The first thing is to make sure all of the targets (ex ResolveStaticWebAssetsInputs), items (ex StaticWebAsset ), and properties are documented.

[2019-08-07 15:58] javiercn opened #12949 "[Static web assets] Improve docker support"
* We currently have issues running in fast mode.
* This issues tracks the changes we need to do to enable fast mode.

[2019-08-07 15:59] javiercn commented on #12949
PR with proposed changes in the SDK
https://github.com/aspnet/AspNetCore-Tooling/pull/941

[2019-08-07 16:00] javiercn commented on #12949
Sample task that shows path remapping.
https://github.com/aspnet/AspNetCore-Tooling/pull/941/files#diff-ffcf6a3562c65e4f52a57f9066d520d5R48-R76

[2019-08-07 16:05] #12243 closed

[2019-08-07 16:07] pranavkm commented on #12932
@sunildixit could you include the `obj\project.assets.json`? The last time somebody ran in to this was because they had a mix of 3.0 and 2.2 packages in their application

[2019-08-07 16:08] #12692 closed

[2019-08-07 16:11] pranavkm commented on #4926
@deckertron9000 for 3.0 the actual types aren't available. However we very rarely changed these types. You could very well copy the code from our 2.2 branches in to your application and they should work:

* https://github.com/aspnet/AspNetCore/blob/release/2.2/src/Mvc/Mvc.WebApiCompatShim/src/Conventions/WebApiOverloadingApplicationModelConvention.cs
* https://github.com/aspnet/AspNetCore/blob/rel

[2019-08-07 16:13] mkArtakMSFT commented on #12942
Closing this as part of the issue pointed out by @nguerrera

[2019-08-07 16:13] #12942 closed

[2019-08-07 16:16] mkArtakMSFT commented on #12930
Thanks for contacting us, @salmanmkc.
@jodavis can you please handle this one? The `~/` should be missing for `.razor` files after completion.

[2019-08-07 16:18] SteveSandersonMS commented on #12930
Example of an expected tag:

    <img src="somedir/file.png" />

Note how the value does *not* start with either `~/` or `/`, since the URLs should be base-relative, not root-relative.

[2019-08-07 16:18] mkArtakMSFT commented on #12926
Let's use `TValue` instead.

[2019-08-07 16:21] mkArtakMSFT commented on #12226
Thanks for contacting us, @gurunathancs1991.
As @pranavkm has pointed out, you will have to go with one of the provided workarounds here.
Type inference will always have limitations and it's unfortunate that this is one of them.

[2019-08-07 16:21] #12226 closed

[2019-08-07 16:23] SteveSandersonMS opened #12950 "Factor out Forms and Authentication from Components"
This came out of API review.

[2019-08-07 16:29] miezis commented on #12870
It works, thanks. Will use the proposed code until preview8 is released.

[2019-08-07 16:29] #12870 closed

[2019-08-07 16:39] cszczotka commented on #12797
Ok. I have rewrited this crappy code using HttpContext.Response.Headers.

[2019-08-07 16:42] mgbbs commented on #12833
@pranavkm this is what I had in mind https://github.com/mgbbs/AspNetCore/commit/53933233b6744a1e9424092040b66d343a476247

If you agree with the approach I'll commit unit tests and create a pull request.  Thanks.

[2019-08-07 16:45] glennc commented on #7330
`dotnet openapi` is what I'd expect given conversations with the team.

[2019-08-07 17:10] ryanbrandenburg commented on #7330
It turns out that the `Microsoft.Build.Locator` package isn't signed. This apparently wasn't checked before our move to "full arcade", and went unnoticed among other build issues more recently. I filed https://github.com/microsoft/MSBuildLocator/issues/71 to have it start being signed. @rainersigwald guesses that they'll be able to get that done in time for preview9, so I'm going to mark this `blo

[2019-08-07 17:18] Tratcher commented on #12946
Good analysis. Yes this is an ordering bug we should deal with.

FireOnCompleted should also not call ReportApplicationError, it should directly log and suppress the exceptions.

Can you give an example of how this impacted you? Were you able to work around it? That information will help us prioritize getting this fixed.

[2019-08-07 17:21] jodavis commented on #12930
We can take a look at this.

@mkArtakMSFT (or others) - How does Blazor handle URLs in layout pages? The reason we default to app-relative ("~/") URLs is because we can't always predict what the base URL of a file is going to be, especially in a layout page where the base URL changes depending on the page using the layout, or in a routing situation where "localhost/" and "localhost/Index" can refe

[2019-08-07 17:26] Tratcher commented on #12939
Your repro app makes sense, but could you please describe the original exception scenario where you encountered this? Were you able to work around it? That will help us prioritize this.

[2019-08-07 17:37] danroth27 commented on #10489
@LunicLynx The types in the *.Internal namespaces were never intended for public consumption, so in 3.0 we decide to update them to be truly internal. You can read more details about this change in the announcement here: https://github.com/aspnet/Announcements/issues/377.

As for replacing the SignalR transport layer, could you please open a new issue for that so that we can get the SignalR folks

[2019-08-07 17:37] SteveSandersonMS commented on #12930
It is there in the templates, and it's the developer's responsibility to keep it there and/or update it to whatever base URL they are using. Since `.razor` files are primarily for use in SPAs, base-relative routing is standard everywhere in the framework.

[2019-08-07 17:39] SteveSandersonMS commented on #12950
Also try to move the JSInterop reference out of `Components` altogether and into `.Web`.

[2019-08-07 17:41] anurse commented on #10489
All types in `.Internal` namespaces were not supported and not protected against breaking changes. We didn't think this was a useful and clear message though, so they were made `internal`. If you need functionality that was removed, I'd agree with @danroth27 here, file a bug and we'll talk about a public officially-supported way we can help you achieve your goal.

[2019-08-07 17:42] rynowak commented on #12950
What were you thinking as package names?

`Microsoft.AspNetCore.Components.Authorization`?
`Microsoft.AspNetCore.Components.Forms`?
`Microsoft.AspNetCore.Components.Validation`?

[2019-08-07 17:54] danroth27 commented on #12890
@atrauzzi When we switched from providing our own infrastructure to using the CLI for Angular & React we made the decision that we would not try to provide our own infrastructure beyond what the CLIs supported. I may not be fully up to date on the latest features in create-react-app, but from their [readme](https://github.com/facebook/create-react-app/blob/master/README.md): "If you want to do ser

[2019-08-07 17:58] #11826 closed

[2019-08-07 18:18] SteveSandersonMS commented on #12950
.Authorization and .Forms

Did you prefer anything else?

[2019-08-07 18:21] serpent5 commented on #12706
The way I understand it is this:

Using the current master for building ASP.NET Core 5 (it was 3 when I opened the issue), the .NET Core SDK that I get after "activating" is `3.0.100-preview7-012821`. When I run a `dotnet restore` in a project that I'm trying to make use my `5.0.0-dev` version, I end up with references to `3.0.100-preview7-012821` (I can see this in `project.assets.json`).

That m

[2019-08-07 18:30] remyblok commented on #12946
I wanted to use it to do some cleanup of temp stuff. It's not important for the request to finish. If it fails it does not impact the end result of the request. Since it calls into another web service it will also take some time, so I didn't want the end user to wait for it. Yet the cleanup is tight to the request, that's where I have easy access the right information. So the OnComplete-call seeme

[2019-08-07 18:40] danroth27 commented on #12890
@flcdrg That sounds great. And based on the responses here it sounds like there are some folks that also interested in the scenario and would probably be interested in helping out. Since we no longer plan to maintain this code ourselves, I expect that turning the NodeServices (and maybe also the webpack middleware functionality if folks are interested) into a community based project will involve c

[2019-08-07 18:41] NTaylorMullen commented on #12713
I have not gotten past the investigat stage. Re-assigned to you.

[2019-08-07 18:42] erin-knight commented on #11667
I'm seeing this as well, but on a new React project.

[2019-08-07 18:48] AquilaSands commented on #12939
Hi, the original scenario uses social authentication providers along with the cookie auth scheme but it is essentially the same as the repro, once a user is authenticated they are signed in with the cookie scheme. The app is multi tenant database per customer so it provides an implementation of the ValidatePrincipal() event to get additional claims for authorization from a tenant db I had a bug in

[2019-08-07 18:57] rynowak commented on #12950
I wanted to put forward `.Validation` for consideration since the actual forms components are elsewhere.

However, I find `.Forms` to be agreeable as well, and I'm not proposing we change the namespace.

[2019-08-07 19:38] dougbu commented on #11924
@wtgodbe I think I've got Blazor working now. Why don't you have a look at the EF repos?

I'll jump to AspNetCore because I expect it to hit significant issues and I'm more familiar w/ our existing release pipeline for that one.

[2019-08-07 19:47] Tratcher commented on #12939
Indeed, not throwing in the first place is your best option 😁.  `UseExceptionHandler` is a best effort to show a friendly error, but it will never be able to handle all errors. We'll see if there's something we can do to address this specific scenario.

[2019-08-07 19:55] wtgodbe commented on #11924
@dougbu sounds good!

[2019-08-07 19:57] flcdrg commented on #12890
@danroth27 Sounds great. I'll drop you an email to follow-up.

David

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Daniel Roth <notifications@github.com>
Sent: Thursday, August 8, 2019 4:11 am
To: aspnet/AspNetCore
Cc: David Gardiner; Mention
Subject: Re: [aspnet/AspNetCore] [Announcement] Obsoleting Microsoft.AspNetCore.SpaServices and Microsoft.AspNetCore.No

[2019-08-07 20:05] brockallen commented on #12950
Authentication or Authorization?

[2019-08-07 20:13] shirhatti commented on #12851
Just updated the following links:

https://go.microsoft.com/fwlink/?LinkID=2028526 👉 https://docs.microsoft.com/aspnet/core/test/troubleshoot-azure-iis

https://go.microsoft.com/fwlink/?LinkID=2028265 👉  https://docs.microsoft.com/aspnet/core/test/troubleshoot-azure-iis

@jkotalik Any other links?

[2019-08-07 20:14] vertonghenb commented on #12442
This will also solve the problem for iOS webclip "PWA's", which cannot be refreshed by nature.

[2019-08-07 20:17] rynowak commented on #12950
It's both which is why I'm saying `.Authorization` - similar layering to server ASP.NET Core

It includes the integration point for authN `IAuthenticationStateProvider` and a set of components that take different actions based on authorization (using the same policy infrastructure as server ASP.NET Core).

[2019-08-07 20:19] jkotalik commented on #12851
I don't think so. Maybe do a find on fwlink in the ANCM subfolder?

[2019-08-07 20:19] #10988 closed

[2019-08-07 20:55] rynowak commented on #12713
If possible/reasonable we should do the same for Ignitor. All of the things we do in ignitor are similar to what another host would do if it were implemented in C#.

[2019-08-07 21:03] mkArtakMSFT opened #12956 "[CTI] Open the RevalidatingAuthenticationStateProvider.cs in Blazor Server App with IndAuth project, there is a message in Error List"
**Title**: Open the RevalidatingAuthenticationStateProvider.cs in Blazor Server App with IndAuth project, there is a message in Error List: "A type that implements System.IDisposable declares...unmanaged resources held by the field"

#### Error
A type that implements System.IDisposable declares fields that are of types that also implement IDisposable. The Dispose method of the field is not called

[2019-08-07 21:08] guardrex commented on #12432
This isn't directly related to your, @SeppPenner, question here, but I just wanted to note that we just published Steve's state persistence doc at https://docs.microsoft.com/aspnet/core/blazor/state-management?view=aspnetcore-3.0 today. It won't help you with session, but it does clarify the current guidance on state persistence. If engineering rolls out new state persistence scenarios, we/they wi

[2019-08-07 21:13] anurse opened #12957 "Update dotnet-sql-cache tool to RTM build of Microsoft.Data.SqlClient"
The `MicrosoftDataSqlClientPackageVersion` value in https://github.com/aspnet/AspNetCore/blob/c79002bf38f2a08f496c645ee04e0a9084601f31/eng/Versions.props needs to be updated to the RTM build when one is available.

The `dotnet-sql-cache` tool should also be tested (manually, we don't have automation here). To do so, you just need to create a blank SQL Server database and run the tool pointing at i

[2019-08-07 21:49] javiercn commented on #12949
We met and there's nothing specific on our side to support this.

[2019-08-07 21:49] #12949 closed

[2019-08-07 22:38] danroth27 commented on #12483
Moving to the docs repo since this looks like a docs issue.

[2019-08-07 22:53] blowdart commented on #12938
Backlog it is then for now

[2019-08-07 22:55] brockallen commented on #12938
Oh yea, good point. In IS we take the result of kerb and put into a cookie to abstract the authentication method.

[2019-08-07 23:02] salmanmkc commented on #12930
No problem! Thanks for getting back so soon ☺

[2019-08-07 23:14] ldsenow opened #12959 "asp.net core + nodejs docker image for spa project"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is.
Example: I am trying to do [...] but [...]

### Describe the solution you'd like
A clear and concise description of what you want to happen. Include any alternative solutions you've considered.

### Additional context
Add any other context or screenshots about the feature requ

[2019-08-07 23:32] salmanmkc opened #12960 "Blazor - Adding to a list does not work"
### Describe the bug
So, I was having fun with Blazor, just started it and I decided to make a portfolio using it. I thought I would have a collection of all the names of my projects, but thought better than that, I'd make a custom type for my projects, so I can have properties and such. I ended up making the class, a separate class and then tried to create a list of that type, that worked, howeve

[2019-08-07 23:50] #12925 closed

[2019-08-07 23:59] Tratcher commented on #12938
I hope you let people filter/transform at that point?

[2019-08-08 00:09] JosKrause commented on #10498
Does this new rule also apply to the `<option>` element?

[2019-08-08 00:21] pranavkm opened #12962 "LogsJSInteropCompletionsCallbacksAndContinuesWorkingInAllSituations is flaky"
https://dev.azure.com/dnceng/public/_build/results?buildId=299631&view=ms.vss-test-web.build-test-results-tab&runId=8519958&resultId=100050&paneView=debug

[2019-08-08 00:23] flcdrg commented on #12890
Apologies, but due to changing circumstances we aren't able to take over Microsoft.AspNetCore.NodeServices, so extending an invitation to others who might be interested in taking it on.

[2019-08-08 00:24] pranavkm commented on #12347
Feel free to reopen once you have more details to share.

[2019-08-08 00:24] #12347 closed

[2019-08-08 00:25] pranavkm commented on #12035
Feel free to reopen once you have more details to share.

[2019-08-08 00:25] #12035 closed

[2019-08-08 00:26] #12844 closed

[2019-08-08 01:16] brockallen commented on #12938
We do have a flag to opt-in. But it's also quickstart code, so it's their code once they copy it. Much like templates, I guess, in VS  :)

[2019-08-08 01:16] sharpninja opened #12963 "Cannot build on Ubuntu 18.04 in WSL (1 or 2)"
### Describe the bug
I cannot build aspnetcore from source.  When the `./restore.sh` script runs it attempts to add `internal.aspnetcore.buildtasks/3.0.0-build-20190530.3` to `~/.nuget/packages` twice, failing on the second attempt.

### To Reproduce

I am using this script to initialize a fresh pull from GitHub, update it from aspnet/aspnetcore MASTER and then do the build.

[code]

### Expected

[2019-08-08 02:33] NicolasDorier commented on #11312
Just another feedback:

I was using `AnsiLogConsole/WindowsLogConsole/IConsole` directly in the past as I did a custom `CustomConsoleLogger`, which is almost the same as the official one but with little adjustment. I have a bad memory about the initial reason, I think it is because I only wanted `[Info]` and nothing more in my logs. (No timestamp) and some custom stuff with log padding.

Since Int

[2019-08-08 05:11] julienGrd opened #12964 "[Blazor dual mode] inject IHostEnvironment in the client project"
hi guys, I actually have an architecture like the dual mode of daniel roth (https://github.com/danroth27/BlazorDualMode). In the server project, we can see he inject an IHostEnvironment in the startup to read the current environnement.

I need to do the same thing on the client project. But when i try to inject an IHostEnvironment, on the startup constructor, in the configure Method, or in a compo

[2019-08-08 05:37] ghidello commented on #12960
Try to call to StateHasChanged method after updating the items list: my guess is that the component doesn’t know that the bound list has been updated

[2019-08-08 06:07] jkotalik commented on #12963
I don't think we have tried running our builds on WSL. Seems like we probably make some invalid assumptions.

[2019-08-08 08:12] atrauzzi commented on #12890
@danroth27 I wouldn't base this decision around create react app as there are an infinite number of ways for runnable react code to be produced. Any new functionality being made has to work with bundled code, not passing through to a single external CLI.

Moreover, the nodejs services imply much more than just server side rendering. So I feel like there's more at stake here. Scoping this to only S

[2019-08-08 08:47] SteveSandersonMS commented on #12940
Reopening because we're still seeing random failures. Examples of recent failures:

 * `LogsJSInteropCompletionsCallbacksAndContinuesWorkingInAllSituations` (#12962)
 * `CannotInvokeJSInvokableMethodsWithWrongNumberOfArguments` ([here](https://dev.azure.com/dnceng/public/_build/results?buildId=298967&view=ms.vss-test-web.build-test-results-tab))
 * `DispatchingEventThroughJSInterop` ([here](https:

[2019-08-08 08:52] skordesign opened #12965 "[Blazor][Question] OnDestroy or OnDestroyAsync"
### Does Blazor ComponentBase have any lifecycle method when it's destroyed? I can't see it.
This it my situation:
OnInit: I subscribe an event
I want to unsub when component destroy

### Idea
Add OnDestroy or OnDestroyAsync to lifecycle of component.

[2019-08-08 09:06] javiercn commented on #12940
Will look into these

[2019-08-08 09:09] SteveSandersonMS commented on #12942
@nguerrera This is only tangential, but since you're here, the second most expensive thing in our build by duration is `_GetProjectReferenceTargetFrameworkProperties`. If I disable `ResolveStaticWebAssetsInputs`, then `_GetProjectReferenceTargetFrameworkProperties` starts to take up the considerable majority of the remaining time.

Is it expected for this to be so expensive? Does it suggest to you

[2019-08-08 09:24] campersau commented on #12965
You can implement the `IDisposable` interface which is called when the component is removed. https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#component-disposal-with-idisposable
Async disposal is tracked here https://github.com/aspnet/AspNetCore/issues/9960

[2019-08-08 09:27] skordesign commented on #12965
Thanks fyi, I close it now.

[2019-08-08 09:27] #12965 closed

[2019-08-08 09:52] AhmedHemdan21 opened #12966 "Blazor Server js breaks javascript"
Blazor overrides javascript implementation and hides it

I have created new Blazor Server-side project using Visual Studio 2019 Preview
Using .NET Core 3.0 Preview 7 SDK

i have added those lines at the end of body after
 `<script src="_framework/blazor.server.js"></script>`

[code]
and i have created simple javascript method that runs on click on button

[code]
the javascript working fine only if

[2019-08-08 10:06] salmanmkc commented on #12960
just realised I was adding to the list outside of a method, which is why it was working before when I put it inside a method, just need to figure out how to invoke that method, since making it static doesn't work

[2019-08-08 10:15] salmanmkc commented on #12960
I've invoked the method with the button click, it automatically updates the UI now that I've put the adding to the list in a method, just need to figure out how to invoke the method on a page load

[2019-08-08 10:54] vertonghenb commented on #10725
@campersau It might be worth noting that the `style="cursor:pointer"` is really important here. Since iOS will see it as a click action only when the element has a `cusor:pointer` which can also be set by a CSS rule btw.
In some cases this can be really counter intuitive since you can set a pointer on a `tr` element but the click on the `td` element. You have to make sure the `td` element has the

[2019-08-08 11:19] IanKemp commented on #7460
Apart from the weirdness that @poke has already mentioned, why does the source for this package (which is required by ASP.NET Core) live in the AspNetStack repo (which is ostensibly only for non-Core stuff)?

The fact that this stuff isn't part of ASP.NET core also makes for some gaps around documentation. For example, if you go to https://docs.microsoft.com/en-us/dotnet/api/system.net.http on eit

[2019-08-08 11:42] chassq opened #12968 "Blazor - Client-Side - Download only required DLLs"
I was just trying to understand better if Blazor (Client-Side) will be "smart" enough to only download the DLLs that are required to run a currently viewed portion of the Blazor app. If so was wondering how that effects the project structure. For example should we think about creating a project of components for the various areas of our application?

If not already, I guess what we would like is f

[2019-08-08 12:01] Bambofy opened #12969 "Blazor - Javascript interop in thread from Invoke() breaks."
Hi,

If you try to change the pages html from any function/thread starting from Invoke() it breaks the page with no errors.

e.g.

public void ButtonClicked()
{
    // do stuff...

    Invoke(() => {
        this.StateHasChanged();
        UpdateHTMLDOM();  // <---------- this breaks the entire page.
    });
}

private async void UpdateHTMLDOM()
{
    await JSRuntime.invokemethod<>("CreateImage",

[2019-08-08 12:08] salmanmkc commented on #12960
Have now created a class which creates a list and adds projects to the list in the constructor, which I instantiate from the projects razor page, all sorted. And thanks for trying to help before @ghidello
![image](https://user-images.githubusercontent.com/32169182/62701939-6da5bc80-b9dd-11e9-8694-182bbcd407db.png)

[2019-08-08 12:08] #12960 closed

[2019-08-08 12:25] navneetgarggate6 opened #12970 "Blazor debugging on linux chrome"
### Describe the bug
Trying to debug blazor app on the linux chrome 73

I ran following command
dotnet run --configuration Debug
google-chrome --remote-debugging-port=9222 http://localhost:5000/

### Screenshots
![image](https://user-images.githubusercontent.com/16791876/62702871-86c26380-ba05-11e9-98f3-dd625c464555.png)

When i check the console getting following error

Access to XMLHttpRequest a

[2019-08-08 13:20] SteveSandersonMS commented on #12964
There's no equivalent to the "host environment" concept for client-side Blazor. It's possible we might add something like it in the future, but currently it doesn't exist.

One of the reasons is that in general, client-side Blazor is only a set of static files served by the server (which doesn't have to be running .NET at all), so it's not really meaningful to talk about it being launched in diffe

[2019-08-08 13:20] #12964 closed

[2019-08-08 13:22] SteveSandersonMS commented on #12966
Can you provide a minimal example that reproduces the problem? Given the default project template, what is the minimal set of steps needed to update it to show the problem you're describing?

[2019-08-08 13:23] SteveSandersonMS commented on #12968
Please see https://github.com/aspnet/AspNetCore/issues/5465

[2019-08-08 13:23] #12968 closed

[2019-08-08 13:24] SteveSandersonMS commented on #12969
Can you provide a minimal example that reproduces the problem? Given the default project template, what is the minimal set of steps needed to update it to show the problem you're describing?

[2019-08-08 13:27] chassq commented on #12968
Thank you!!

[2019-08-08 14:34] IanMercer commented on #3047
For anyone else landing here from a search on this issue:

One reason this can happen is if an error happens while serializing the object to JSON. For example a field marked as required that is null in the data can cause this. The output simply stops and no exception is reported in this case.

Check that you can serialize the json object using `JSonConvert.SerializeObject()` before returning it an

[2019-08-08 14:43] SteveSandersonMS commented on #12667
@javiercn @rynowak We need to make a decision about whether (or perhaps more reasonably, *how*) to support this. It's nontrivial so might end up in 3.1.

The problem is that `bind` on a `<select>` represents its chosen value by setting a `value` attribute on the `<select>`, which is not the same as how HTML represents it natively. HTML looks for a `selected` attribute on an `<option>` element. The

[2019-08-08 14:56] nguerrera commented on #12942
I think that is the cost of evaluating all the project references. The target doesn't do that much else. Evaluation (basically determining the state of the project before a target runs: properties and their values, items and their values, etc.) happens once per (project, global property set) tuple. It is expensive. I think of it as basically reinterpreting a big imperative program that mutates thi

[2019-08-08 14:59] nguerrera commented on #12942
I think it would be interesting for this evaluation cost to be split out in the performance summary. It reports evaluation costs, but in general the performance summary does not provide a good way to get a set of exclusive times that add up to the total time. Things are effectively double counted. See https://github.com/microsoft/msbuild/issues/4189

[2019-08-08 15:08] JoelW187 opened #12972 "System.Linq.Dynamic.Core OrderBy not working in Blazor"
### Describe the bug
Calling System.Linq.Dynamic.Core.OrderBy(string) in a client-side Blazor component throws an exception (see attached image).

### To Reproduce
This code works on the server (Projects is a simple POCO class with a Description string field):

Projects.AsQueryable().OrderBy("Description")

In a Blazor component it throws the exception.

### Screenshots
![DynamicOrderBy](https://u

[2019-08-08 15:12] MyShore commented on #9640
I have the same issue.
<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>netstandard2.0</TargetFramework>
    <LangVersion>7.3</LangVersion>
    <RazorLangVersion>3.0</RazorLangVersion>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Microsoft.AspNetCore.Blazor" Version="3.0.0-preview7.19365.7" />
    <PackageReference Include="Microsoft.AspNetCore.Blaz

[2019-08-08 15:28] LarryWMSN commented on #12427
As far as I remember I had uninstalled the extension on both machines. I also tried to find any remnant of the install but couldn't locate any. However; it is working properly after installing the VS 2019 16.3.0 Preview 1.0 on both machines.

[2019-08-08 15:29] MyShore commented on #9640
I have the same issue.
My Csproj content:
![Csproj](https://user-images.githubusercontent.com/46633234/62715685-a6f42180-ba09-11e9-8b32-d8dbbf763390.png)
Adding any empty item with *.cshtml extension implicates the following errors:
![Errors](https://user-images.githubusercontent.com/46633234/62715921-0eaa6c80-ba0a-11e9-84cc-93b3641b5f94.png)
DotNet infof:
![DotNet-1](https://user-images.githubuse

[2019-08-08 15:29] mmulhearn commented on #12944
I'm re-opening as I'm seeing this behavior again.

I'm finding that my app will now consistently work using AspNetCoreModule and then give the ANCM In-Process Handler Load Failure error when I switch back to AspNetCoreModuleV2 in my web.config.

One thing I find that that using AspNetCoreModule (Kestrel, I believe) dumps out a bunch of start up logging while the V2 (IIS, I believe) dumps out nothi

[2019-08-08 15:34] rynowak commented on #9640
The answer is right here:

![image](https://user-images.githubusercontent.com/1430011/62716618-4b994380-b9b7-11e9-8c1e-ec9018cd60ad.png)

A Blazor client-side project doesn't include support for MVC views `.cshtml.

[2019-08-08 15:36] AhmedHemdan21 commented on #12966
All you need to do to reproduce the problem is add reference of the test.js  "That includes the above scrips" file to the _Host.razor
and Add  `<button id="testJs"> Click me </button>` at any razor component, then try to click on that button,
you'll find that `alert("ready!");` works on loading, then every javascript stops working after

[2019-08-08 15:41] Stoolbend opened #12973 "SignalR Java client unable to open WebSocket"
### Describe the bug
I'm unable to connect to a ASP.NET Core SignalR hub from the Java client. I'll specify all versions of things below to hopefully make this more understandable.

Every time I start the HubConnection object, I get the following error:
[code]
---
I've confirmed that WebSockets are enabled on the hub (as I can see it as an option returned during the negotiation phase), eg:

[code]

[2019-08-08 15:48] MyShore commented on #9640
Well, does it mean that I cannot add any Razor View page to my Blazor Client-side project?
![AddingRazorViewPage](https://user-images.githubusercontent.com/46633234/62717724-1ae3f900-ba0d-11e9-93a1-6822527f723a.png)

[2019-08-08 16:01] hannahmneal commented on #12914
I am also having this issue as of today, 08/08/19. I am also running Mac OS 10.14.6 with the same dotnet specs as AlexeyStarkov. It is extremely irritating. I am up against a tight deadline.

[2019-08-08 16:08] ashleynolan commented on #12890
Just to add how we use the NodeServices package – we use it to provide SSR when rendering Vue components.  Without this, the only way to provide SSR for our application would be to switch the application over to using Nuxt with Node to serve the front-end (`vue-cli` doesn't provide SSR, so a plugin to use this wouldn't be a way to migrate. We would have to rewrite our application to use Nuxt).

Th

[2019-08-08 16:08] rynowak commented on #9640
Correct.

But what would that even mean? Razor Views are a server-side concept - they handle HTTP requests.

What do you ultimately want to accomplish?

[2019-08-08 16:09] pranavkm commented on #12962
Dup of https://github.com/aspnet/AspNetCore/issues/12940

[2019-08-08 16:09] #12962 closed

[2019-08-08 16:09] javiercn opened #12975 "[Build] Support dependencies referencing Microsoft.AspNetCore.App"
* We currently have a package (Microsoft.AspNetCore.Identity.ApiAuthorization) that has a dependency to IdentityServer4.
* IdentityServer4 has a dependency on Microsoft.AspNetCore.App
* As a result, we get an error when we try to build Microsoft.AspNetCore.Identity.ApiAuthorization.
* Adding `<UseAspNetCoreSharedRuntime>true</UseAspNetCoreSharedRuntime>` helps here. After doing that and building t

[2019-08-08 16:10] rynowak commented on #12956
FxCop is a scourge upon the earth for readability and simplicity - are we really requiring out templates and scaffolded code to be clean for FxCop?

[2019-08-08 16:16] mkArtakMSFT commented on #12975
@dougbu tenatively assigning to you to tackle in Preview9. Actually, we should try to tackle this this week, so we can unblock the integration with IdentityServer.
Feel free to reassign to someone else, who will be handling this.

[2019-08-08 16:22] dougbu commented on #12975
@mkArtakMSFT I definitely will not be able to take this any time soon given non-build responsibilities and doubt @JunTaoLuo or @wtgodbe will have time within our abridged preview 9 either.

More generally, I made two suggestions on this topic but I have trouble justifying actually reordering our build (the second suggestion) in an ask mode change.

[2019-08-08 16:35] javiercn commented on #12975
My understanding is that infrastructure changes are tell-mode

[2019-08-08 16:37] kendaleiv opened #12978 "Add opposites of AddRedirectToWww / AddRedirectToWwwPermanent"
Currently there are built in redirects for these: https://github.com/aspnet/AspNetCore/blob/cc1f23c5f8afb7d2a00405f19811d2372c4fcec2/src/Middleware/Rewrite/src/RewriteOptionsExtensions.cs#L145 https://github.com/aspnet/AspNetCore/blob/cc1f23c5f8afb7d2a00405f19811d2372c4fcec2/src/Middleware/Rewrite/src/RewriteOptionsExtensions.cs#L125

It would be nice if there was built-in support for doing the op

[2019-08-08 16:41] dougbu commented on #12975
Try _not_ using a specific Microsoft.AspNetCore.App version and addressing any issues that causes first.

While infrastructure changes are tell mode, this is a big change for a small dependency version bump. We don't have much time to do this, deal with any fall out, and make other mandatory build changes for preview 9. For example, I'm in the middle of rewriting the YAML in this repo to use the c

[2019-08-08 16:43] lpm-nova commented on #12667
Will this change allow `selected` to work as intended?

[2019-08-08 16:44] rynowak commented on #12667
Are there meaningful and valid use cases `option` inside markup inside `select`? What about `optiongroup`?

[2019-08-08 16:47] SteveSandersonMS commented on #12667
Yes, it's what happens by default if your `<select>` contains only static content in your source code.

We shouldn't assume the `<option>` is a direct child of `<select>`, but rather should allow for it being a descendant at any depth. In practice the only intermediate element is likely to be `<optgroup>` but we don't need to rely on that.

My suggestion above doesn't rely on `<option>` being a di

[2019-08-08 16:50] mkArtakMSFT commented on #12959
Thanks for contacting us, @ldsenow .
We actually try to keep the list of the templates we own very little, while doing our best to enable community to create templates they're interested in.
@danroth27 leaving this up to you to consider.

[2019-08-08 16:54] rynowak commented on #12667
Ah, I think I misinterpreted what you wrote. So if we changed the markup-block pass to bail out of a `select` element, that would enable us to fix this on the JS side? That seems like a straightforward change, and I have no objections.

[2019-08-08 17:00] SteveSandersonMS commented on #12667
Yes. I don't recall precisely how the markup-block pass works, but it would need to ensure that an `<option>` element and its ancestors get flagged as non-candidates for coalescence.

I expect it has to be triggered at the level of the `<option>`, not the `<select>`, because we don't want the *contents* of the `<select>` to become markup.

[2019-08-08 17:01] rynowak commented on #12667
The pass works top-down-bottom-up, so we'd just prevent recursion into a `select`.

[2019-08-08 17:01] SteveSandersonMS commented on #12667
OK

Not in JS, but in the prerendering logic (C#)

[2019-08-08 17:03] NTaylorMullen commented on #10498
The rule also applies to the `option` element. Essentially any [Void Elements](https://html.spec.whatwg.org/multipage/syntax.html#void-elements) as defined by the HTML spec are allowed to not have end tags in C# blocks. All others must. This rule behaves the same as non-Blazor apps/files.

[2019-08-08 17:05] raphaelr commented on #12890
Regarding WebpackDevMiddleware:

I managed to replace this with `UseReactDevelopmentServer` fairly easily (even though my project doesn't even use React!). The good thing about UseReactDevServer is that it automatically runs the NPM script for you and figures out a port to use. As far as I can see the only React-Ism in that middleware is that it expects the text "Starting the development server" i

[2019-08-08 17:06] rainersigwald commented on #12933
@dsplaisted do you have a binlog of a build that suffers from this? I'd like to take a deeper look.

[2019-08-08 17:09] mkArtakMSFT commented on #12948
Thanks for contacting us, @AqeelAT.
We've heard similar feedback in the past so putting this into the 5.0 release for now to reevaluate later.

[2019-08-08 17:32] javiercn commented on #12975
I already tried this as described in the bullet point above without success.

[2019-08-08 17:42] jkotalik commented on #12978
Sounds like a decent addition. We would consider taking a PR to add this behavior if you are interested.

[2019-08-08 17:49] mkArtakMSFT commented on #12914
We're following up on this offline to understand where from this behavior is coming to involve the right folks to handle this.

[2019-08-08 17:58] mkArtakMSFT commented on #12884
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-08-08 17:58] #12884 closed

[2019-08-08 18:00] mkArtakMSFT commented on #5229
Thanks for contacting us.
@ryanbrandenburg I assume this is because of the issue, where when the `Dist` folder is created, that's being used during development too. Wasn't this fixed as part of some other issue just recently?

[2019-08-08 18:06] mkArtakMSFT commented on #12956
We are trying to be in a place, where a newly created project has no warnings. While that's the case, it's case by case basis. If we believe this state is fine, and we want to leave with that warning and there is nothing to do for us here, then we're good to leave with this warning.

[2019-08-08 18:06] mkArtakMSFT commented on #12956
/cc @danroth27

[2019-08-08 18:36] MyShore commented on #9640
Really, I tried to understand what kind of project created in the video:
https://www.youtube.com/watch?v=bbHzyIsqGuU
![CreatingBlazorApplicationVideo](https://user-images.githubusercontent.com/46633234/62728423-6fdf3980-ba24-11e9-9ebf-db047c7a6c03.png)
Is this server-side project?

[2019-08-08 18:42] rynowak commented on #9640
No, that's a client-side webassembly project.

This is what I see:

![image](https://user-images.githubusercontent.com/1430011/62728834-93c55f80-b9d1-11e9-8dba-b973d6517b4c.png)

What version of visual studio is that?

[2019-08-08 18:42] rynowak commented on #12956
Many of the FxCop rules specifically have a high false-positive rate (this is one of those, the one about double-dispose is another).

Given that all ASP.NET Core applications use DI so heavily, this warning will lead to the incorrect guidance 99% of the time.

[2019-08-08 18:43] pranavkm commented on #12082
* DotNetDispatcher
    - figure out what namespace
    - pattern for JSInvokable. Consider putting them in well-known type per assembly.
    - ReleaseDotNetObject - what to do - Make this not JSInvokable
    - Naming: BeginInvokeDotNet
    - Naming: EndInvokeJS

* DotNetObjectRef
    - Naming: DotNetObjectReference
    - File an issue to consider removing JSRuntime.Current access

* DotNetObjectRe

[2019-08-08 18:51] jodavis commented on #12930
I see it now. I don't know why I didn't find the _Host.cshtml file when I searched earlier.

That makes things a little complicated for the editor. From the context of a component, we don't really know what page the component will be hosted in, so we can't really know what the base URL will be when completing a URL.

We could assume that the base maps to the wwwroot folder, and make URLs relative

[2019-08-08 19:01] MyShore commented on #9640
In the mentioned video (https://www.youtube.com/watch?v=bbHzyIsqGuU), the VS version is unknown.  It is pointed out that the VS 2019 is running and that is all that was said about VS. A little later Razor View item is added without errors – the result, I cannot accomplish on my VS preview of the latest version.

[2019-08-08 19:27] rynowak commented on #9640
Does your VS have the `Blazor Server App` template in this list? That's the one you're looking for.

[2019-08-08 19:47] MyShore commented on #9640
Yes, it does. I'll try to use the Blazor Server App template.
Thank you so much for your attention and participation!

[2019-08-08 19:53] vejandla commented on #10628
There are two options and I guess this is nothing related to MVC, but it is more related to how create react webpack packages the bundle.

**Solution 1**
if your website is hosting under a folder in IIS, use that folder name in the homepage property of package.json

"homepage": "/youriisappname/",

**Solution 2**
You can set public url before you build

[code]
or (if the app name keeps changing be

[2019-08-08 19:58] pranavkm commented on #12833
@mgbbs seems reasonable. I'm ok with it being an enum type, but is there a reason to have the `None` option? Also /cc @dougbu in case you have some thoughts or suggestions.

[2019-08-08 20:21] SteveSandersonMS commented on #12930
👍 That's what to do.

If the user changes their base URL, they reason they will do that is because they are hosting the entire site on some non-root path. And in that case, the wwwroot *still* corresponds to the base URL.

Example: for a site hosted at `http://domain/mydir/`, the base URI would be `/mydir/`, so the file in `wwwroot/a/b/c.gif` would be reachable at the URL `http://domain/mydir/a/b/

[2019-08-08 20:25] Bambofy commented on #12969
Using the default project template "Server-side razor" given in the visual studio 2019 preview version. Using netcore sdk version "3.0.0-preview6-27804-01".

Replace the counter.razor code with the following:
[code]

And the code for the javascript notification (which goes in wwwroot/js and you reference in _Host.cshtml) is:
[code]

[2019-08-08 20:30] Bambofy commented on #12969
If you run the above code, when you click the button to increment the counter, nothing happens. I resolved this by changing it to this:
[code]

I notice now that i set the _PreventRender_ boolean and never unset it, therefore the OnAfterRender() function is constantly blocked. Could that cause the rest of the program to stop working? if so why does the above code allow the counter to work?

Cheers

[2019-08-08 20:39] BrennanConroy commented on #12945
Could you enable logs on the client and share them? You can so by following the instructions at https://docs.microsoft.com/aspnet/core/signalr/diagnostics?view=aspnetcore-2.2#javascript-client-logging

`Trace` level will show "(WebSockets transport) socket closed." but `Debug` is probably sufficient enough for now.

[2019-08-08 20:42] vladlee098 commented on #8980
In my case we had to change '\' with '/' in one of the path settings in logging.json which was referenced in startup.

[2019-08-08 21:02] BrennanConroy commented on #12973
Are you hosting the app with IIS? If so, have you enabled WebSockets in IIS?

`Turn Windows Features on or Off > Internet Information Services > Application Development Features > WebSocket Protocol`

[2019-08-08 21:17] #12343 closed

[2019-08-08 21:27] Stoolbend commented on #12973
Currently it's running in IIS Express for debugging. According to the docs, I don't need to enable WebSockets for that.

[2019-08-08 21:29] jkotalik commented on #9401
![image](https://user-images.githubusercontent.com/8302101/62738960-7bad0a80-b9e8-11e9-93b6-3a35bde87982.png) (linux, http, kestrel sockets).

Seems like my change positively affected time to first response. The CVE patch occured on 8/1, and we see the time to first response decrease on 8/2. I'm going to remove my assignment. @sebastienros feel free to close too if you believe this scenario looks

[2019-08-08 21:31] BrennanConroy commented on #12973
For sanity, could you try running without IIS/IIS Express?

And could you enable logs on the server and share them? https://docs.microsoft.com/en-us/aspnet/core/signalr/diagnostics?view=aspnetcore-2.2#server-side-logging

[2019-08-08 21:36] Stoolbend commented on #12973
Sure. So try running in Kestrel perhaps?

[2019-08-08 21:37] sebastienros commented on #9401
The green part went down, which is the startup time (JITing mostly) so it should not be related.

[2019-08-08 21:38] sebastienros commented on #9401
But overall we are faster than 2.2, and faster than the number when we reported this issue, so I think we should close it.

[2019-08-08 21:39] #12915 closed

[2019-08-08 21:44] dsplaisted commented on #12933
@rainersigwald I hit it when building the WebLarge30 performance test solution: https://github.com/dotnet/BuildPerformanceTestAssets/tree/master/PerformanceTestProjects/WebLarge30

However, that's quite a big solution (129 projects).  You should be able to repro it with a vanilla 3.0 MVC project referencing a class library.

[2019-08-08 21:50] mgbbs commented on #12833
@pranavkm This will give users the option to generate a lone checkbox input without having to write a custom helper.  Over the years, many people have had the question of how to "turn off" the feature of generating a hidden input that ensures a value is always posted.  Here are just a few random posts where people explain the reasoning behind the feature and other people are giving workarounds.

h

[2019-08-08 22:03] marcuslindblom commented on #6486
I'm trying to use [this configuration](https://github.com/aspnet/AspNetCore/issues/6486#issue-397020452) with `3.0.0-preview7` but I get the following exception.
[code]

I have the following packages installed

[code]

[2019-08-08 22:06] #9401 closed

[2019-08-08 22:20] Tratcher commented on #6486
@HaoK ?

[2019-08-08 22:26] HaoK commented on #6486
Yeah that's usually the error you get when the google account was already linked to another user, we are fixing that to be an error message instead of an exception in 3.0.

[2019-08-08 22:31] hishamco commented on #10639
@pranavkm this need to be close

[2019-08-08 22:33] pranavkm commented on #12833
Thanks, this is really useful information. Your code changes look like they're on the right track. @dougbu ping in case you'd like to suggest changes before @mgbbs starts working on a PR.

[2019-08-08 22:33] marcuslindblom commented on #6486
Ok. Is it possible to unlink the account? The strange thing is that I have like 5 google accounts and none of them works. Pretty strange isn't it?

[2019-08-08 22:35] HaoK commented on #6486
You should be able to login via google which will take you to the correct account and then manage/unlink and you can relink it to the one you want

[2019-08-08 22:49] rynowak commented on #12082
I caught up with @terrajobst to talk about the methods on `IJSRuntime` and our current POR. His thoughts were basically:
- Having two methods on the interface are fine, it's probably the best way to get what we want, and is appropriate because there are far more callers than implementors
- Make the `CancellationToken` the second parameter because a `string` is far more likely to appear in the list

[2019-08-08 22:54] rynowak commented on #12082
We also talked about using `Span`, but I'm not sure that applies because this is an async method. I think we're probably smart enough to implement this combo, but I think about people mocking the API and stuff.

[2019-08-08 22:58] terrajobst commented on #12082
That's a fair, but if that's a concern we could probably provide an implementation for mocking that takes a delegate.

[2019-08-08 23:00] marcuslindblom commented on #6486
If I understand you correctly, I should go to account.google.com, login and go back to https://localhost:5001/Manage/Unlink? That URL does not exist. Or do you mean that manage => unlink is some kind of links/buttons on google.com?

[2019-08-08 23:04] #12713 closed

[2019-08-08 23:05] HaoK commented on #6486
No, you should login to your app via the external google login button from the login page, which should log you in as the user who has that google login already linked so you can unlink it

[2019-08-08 23:06] HaoK commented on #6486
You can also start with a clean database to verify that there isn't something else going on.

[2019-08-08 23:09] marcuslindblom commented on #6486
Hm but the actual problem is that I can’t login. The exception I posted happen when I get redirected back to my app. Clean db, no accounts has been linked or created.

[2019-08-08 23:21] rynowak opened #12991 "Give `builder` a less discoverable name"
We use the generated name `builder` in our generate code without mangling it. We should change this to something that's unlikely to clash with user code like `__builder`.

Ideally we'd do this before 3.0 ships. It's the kind of thing we wouldn't consider to be a **true** breaking change, because it's an undocumented implementation detail - but I think we'd hesitate to change it in the future if we

[2019-08-08 23:26] HaoK commented on #6486
I'm not sure what to tell you, I just tried this (albeit on latest preview 8 bits), but these are pretty much identical to the preview 7 bits you are trying: https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/google-logins?view=aspnetcore-2.2

File new Web App -> Individual Auth, Add reference to Google auth, and configure it with your client info from google API console:

[2019-08-08 23:40] atrauzzi commented on #12890
I think we're getting carried away here.

One part of the original functionality (NodeServices) takes a .js file, loads it and allows you to make calls into the resultant scope -- and to capture returns in C# space. Webpack, or any CLI seems unrelated.

.net code shouldn't need to think at the level of webpack or any specifically targeted command line utility. It should only be thinking about .js

[2019-08-08 23:44] pranavkm commented on #12175
Verified this is no longer true as of 3.0. The nested model is `null` unless the form file is posted.

[2019-08-08 23:44] #12175 closed

[2019-08-08 23:44] #9510 closed

[2019-08-09 00:13] ajaybhargavb commented on #11859
I investigated this. Looks like we add a marker token at the end of `@inject|` to provide CSharp intellisense for the upcoming token. We fix this by only adding the marker token if there is whitespace after `@inject`

[2019-08-09 02:08] rynowak commented on #11859
Is this just `@inject` or all directives?

[2019-08-09 02:31] ajaybhargavb commented on #11859
`@inject` was just an example. The fix is for all extensible directives.

[2019-08-09 02:52] murugaratham commented on #12945
10:49:05.485 Utils.js:358 [2019-08-09T02:49:05.485Z] Debug: Sending negotiation request: http://localhost:3000/_ws/negotiate.
10:49:05.541 Utils.js:358 [2019-08-09T02:49:05.541Z] Debug: Selecting transport 'WebSockets'.
10:49:05.567 Utils.js:353 [2019-08-09T02:49:05.567Z] Information: WebSocket connected to ws://localhost:3000/_ws?id=AkZEKRdttahGOqU53eVSSA.
10:49:05.568 Utils.js:358 [2019-08-09T02

[2019-08-09 02:55] chanan opened #12992 "Blazor: CSB randomly does not work on iOS"
Preivew7. Tried on Safari, Edge ios, and Chrome.

I have several CSB sites hosted on github pages (some with DNS some without). When I push changes sometimes one works and sometimes it doesn't.

For example right now:

* https://chanan.github.io/BlazorTypography/ - works
* https://blazorstyled.io/ - does not work

I fired up xcode to see if I can figure out why, however in **both** of them do not

[2019-08-09 03:01] kugarliyifan opened #12993 "Razor TagHelper duplication Property Complie Error"
I use Vs2019 + asp.net core 2.1,I found that when two class contain same name property, on cshtml use the property and complie ,it will show a error msgbox,but the error list is empty
my code like this:
[code]

cshtml:
`<auth codes="str,str2" t="@(new []{"dddd","ssss"})"></auth>`

when i run the web project,it show:
![image](https://user-images.githubusercontent.com/18448413/62751005-b9676d00-ba94

[2019-08-09 03:15] mikaelm12 commented on #10432
Done here: https://github.com/aspnet/AspNetCore/pull/12846

[2019-08-09 03:15] #10432 closed

[2019-08-09 03:24] #10639 closed

[2019-08-09 04:08] BrennanConroy commented on #12945
It doesn't look like you're actually calling `connection.stop()`. If you did there should be a log with "Stopping HubConnection." in it.

Can you share `signalRMiddleware`?

[2019-08-09 04:13] murugaratham commented on #12945
Sure, here it is [gist](https://gist.github.com/murugaratham/04ca48ea37a3bddd61bc359bd12060f9)

[2019-08-09 04:22] BrennanConroy commented on #12945
Ok, it looks like you create a new connection every time your middleware runs, which means when you get `action.type === getType(logoutAction.success)` you create a new connection, don't start it, and then call stop on a not started connection.

[2019-08-09 04:41] murugaratham commented on #12945
Yeah, you're right, i'm adding `if (!connection || connection.state === HubConnectionState.Disconnected) {` before i build the connection.

Another tip for anyone else facing the same issue, i planted `console.log(connection.connectionId);` at several initialization and exit points, and confirmed @BrennanConroy is correct, the connection id was different and i attempted to stop a new connection ra

[2019-08-09 04:41] #12945 closed

[2019-08-09 06:13] marcuslindblom commented on #6486
Ok, I see the problem now. I read the initial comment on this issue which suggested to use OpenIdConnect instead of Google because it was "broken". So I have been trying and trying with the wrong config. Thanks for pointing that out to me 🙌

[2019-08-09 07:12] AhmedHemdan21 commented on #12966
For more information: i have moved all the code from _host.cshtml to Razor Pages and _Layout.cshtml including the Blazor and it works fine there, but when i use fully Blazor App it breaks the Javascript

[2019-08-09 08:19] Stoolbend commented on #12973
Ok, so running the project in Kestrel works - as in, the Java client connects and can receive events. How confusing...
I ran it in IIS Express and confirmed it still doesn't work in that. Here is the log output from right after the request  for the JWT token is finished.
[code]

[2019-08-09 08:29] roduman commented on #10450
Very lacking this functionality today

[2019-08-09 08:31] poke commented on #9758
@rynowak Sorry for the lack of responses. I missed this within my notifications.

Thanks for the explanations, I was already suspecting that this was just a problem with 2.2's attempt at endpoint routing. Routing can really be a lot more complex than one would think initially. But I think it's great that ASP.NET Core offers such flexibility there (assuming it works at least 😝). And I'm glad you go

[2019-08-09 08:35] roduman commented on #9128
Do you plan to do this in Blazor itself? https://community.devexpress.com/blogs/aspnet/archive/2019/07/17/devexpress-blazor-update-metadata-at-runtime- свободный сео-tool.aspx

[2019-08-09 08:53] rmja opened #12994 "Use JsonPatchDocument without Newtonsoft.Json"
### Describe the bug
The [JsonPatchDocument](https://github.com/aspnet/AspNetCore/blob/master/src/Features/JsonPatch/src/JsonPatchDocumentOfT.cs) does not specify a converter for the new `System.Text.Json` serializer and so any request to an action using `JsonPatchDocument<T>` returns a 400 model valutation error.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET

[2019-08-09 09:07] javiercn commented on #12933
I'm going to be looking at this on Monday. The relevant piece of code is https://github.com/aspnet/AspNetCore-Tooling/blob/master/src/Razor/src/Microsoft.NET.Sdk.Razor/build/netstandard2.0/Microsoft.NET.Sdk.Razor.StaticWebAssets.targets

We are using that property precisely to try and prevent executing on the dependencies :(. I think we need to do a small change in this feature to avoid passing th

[2019-08-09 09:29] SteveSandersonMS commented on #12966
Oh, I see what you're doing.

The issue is that when you execute this:

[code]

... jQuery only attaches handlers to elements that are currently in the document. It's not adding new listeners to elements that get added later, such as when the static prerendered elements get replaced by live elements.

To avoid this problem, you should use [jQuery's `on` method (passing a `selector`)](https://api.j

[2019-08-09 09:29] #12966 closed

[2019-08-09 09:34] SteveSandersonMS commented on #12992
That is expected, since the iOS simulator doesn't support WebAssembly.

@mkArtakMSFT We should move this issue to the `mono` repo.

[2019-08-09 09:44] rmja commented on #12994
The following hack seems to work:
In Startup.cs:

[code]

Is there any more elegang way to accomplish JsonPatch support?

[2019-08-09 09:55] AhmedHemdan21 commented on #12966
if you mean by that using
[code]
instead, it gives the same result, it works only after Hard Refresh "CTRL +F5" but if i refreshed after "F5" it breaks again, and everything works fine Only if i removed the
`<script src="_framework/blazor.server.js"></script>` line,
and what made me originally make that small test example is that i have full bootstrap template that breaks as long as i have blazor.

[2019-08-09 10:39] SteveSandersonMS commented on #12966
No, I mean using the version of `on` that takes a `selector` parameter.

[2019-08-09 10:58] AhmedHemdan21 commented on #12966
Thanks, it worked fine, so that mean that all existing online bootstrap templates wont work fine unless they are changed to used selectors, right?

[2019-08-09 11:20] SteveSandersonMS commented on #12966
It’s the same situation as with all SPA frameworks.

[2019-08-09 13:03] Ibrahim-Islam opened #12998 "Microsoft.AspNetCore.Mvc.Testing : The request was aborted or the pipeline has finished on TeamCity"
### Describe the bug
Our Integration Suite on TeamCity keeps on failing randomly but runs fine locally from Visual Studio and command line as well.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.1.1'
2. Run tests on TeamCity

### Expected behavior
Assert errors but no errors from TestHost

### Screenshots
Stack trace from TeamCity:

[code]

### Addition

[2019-08-09 13:33] doogdeb opened #13000 "Correlation failure although dataprotection services are configured."
I have an ASP.NET Core 2.2 MVC app deployed to azure as a web app. It is deployed within an ASE and there are 3 instances running within the plan. I have configured dataprotection services as below, but I'm still seeing lots of "Message: '.AspNetCore.Correlation.OAuth cookie not found" errors. At least 500 a day.

        var storageAccount =
        CloudStorageAccount.Parse(dataProtectionOptions

[2019-08-09 13:43] SIkebe commented on #12913
Same here...
[code]

[2019-08-09 13:47] Simon-Bull commented on #12890
@danroth27 Is there going to be a migration path for applications that execute javascript at run-time? In our environment, we use a large amount of .NET Core / Standard middleware and libraries that integrate easily with our hosting environment, monitoring stack etc. We can then use VueJS components in both SSR and browser, and with the benefits of running our backend on .NET Core.

Dropping NodeS

[2019-08-09 13:51] vertonghenb opened #13001 "[Blazor:Server side] iOS WebClip hangs after server restart."
## Description
When a Blazor Server-Side app is deployed it is possible to add the Website as a Homescreen shortcut on iOS. This can be achieved by the following steps: [add website as App Icon on iOS](https://ipadacademy.com/how-to-set-up-web-clips-for-your-favorite-websites-in-safari-on-ipad-or-iphone/). The website can then be started as an App. However, if you're supporting fullscreen by addin

[2019-08-09 13:52] vertonghenb commented on #13001
I guess this will be fixed by https://github.com/aspnet/AspNetCore/issues/12442, just logging the issue so it's tracable.

[2019-08-09 14:04] Tratcher commented on #6486
OpenIdConnect should work too, but it can be harder to configure.

[2019-08-09 15:00] sharpninja commented on #12963
This is an important dev cycle as I believe that developing for Linux is actually easier on Windows/WSL than on a standalone Linux as Windows is such a better GUI experience.

[2019-08-09 15:11] mkArtakMSFT commented on #12992
This issue was moved to mono/mono#16144

[2019-08-09 15:11] #12992 closed

[2019-08-09 15:33] RemiBou opened #13002 "[Blazor] Client side : enable Brotli compression"
### Is your feature request related to a problem? Please describe.
When enabling brotli compression, you can decrease mscorlib.dll from 1,4MB to 647Kb (-54%) and System.Core from 310Kb to 145Kb. This kind of improvement can be seen on many other dll. Given the fact that load time is very important for client side app, this seems like an easy win.

### Describe the solution you'd like
Maybe when ca

[2019-08-09 15:38] mkArtakMSFT opened #13003 "[CTI] Create Blazor Server App with Individual project, then F5 and zoom out your browser, these buttons(register, login, About) will disappear."
**REPRO STEPS**
1.  File > New Project > ASP.NET Core Web Application > .Net Core - ASP.Net Core 3.0 - Blazor Server App with Individual > Create
2. F5

**ACTUAL**
zoom out your browser,this buttons(register, login, About) will disappear

Source: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/946150

[2019-08-09 15:41] BrennanConroy commented on #12973
There should be at least one more log for the websocket request that looks like:
`Request starting HTTP/1.1 GET http://localhost:5000/rtc?id=P0RHQpOow62RHwQ-kgjQcA`
and maybe the 200 response you're seeing from it?

We might need to start looking at grabbing a [network trace](https://docs.microsoft.com/en-us/aspnet/core/signalr/diagnostics?view=aspnetcore-2.2#network-traces) to try and figure this

[2019-08-09 15:44] mrward commented on #12914
@AlexeyStarkov Does the same crash happen when running the application outside of VS Mac?

    dotnet bin/Debug/netcoreapp2.1/YourApp.dll

[2019-08-09 16:18] rynowak commented on #12828
Closing since this is done. @BrennanConroy - clap back if you disagree.

[2019-08-09 16:18] #12828 closed

[2019-08-09 16:20] mkArtakMSFT commented on #12578
@NTaylorMullen here is another one for you to tackle.

[2019-08-09 16:23] BrennanConroy commented on #12828
We might want to file an issue for SignalR to properly detect graceful vs. non-graceful disconnects.

I'll file one later if no one beats me to it.

[2019-08-09 16:29] Stoolbend commented on #12973
The log I posted above was all I had from the logging.
I tried getting fiddler set up just now, but was having a few issues with it. I'll have another crack on Monday though and post my findings back here.
Thanks for the help so far though!

[2019-08-09 16:29] mkArtakMSFT commented on #13002
Thanks for contacting us, @RemiBou.
@Tratcher is there anything we need to do here, or is the compression enabled by default?

[2019-08-09 16:32] mkArtakMSFT commented on #13001
Thanks for contacting us, @vertonghenb.
You're right, the fix in the referenced issue will improve the experience here too.

[2019-08-09 16:32] #13001 closed

[2019-08-09 16:33] mkArtakMSFT commented on #12972
This issue was moved to mono/mono#16148

[2019-08-09 16:33] #12972 closed

[2019-08-09 16:37] mkArtakMSFT commented on #12969
Thanks for contacting us, @Bambofy.
It's not clear what you're trying to do as it most probably be simpler than this. Give us some more context, so that we are able to guide you better.

[2019-08-09 17:14] Tratcher commented on #13002
The blazor [template](https://github.com/aspnet/AspNetCore/blob/master/src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Startup.cs) doesn't include the response compression middleware by default.

Brotli support was added back in 2.2 (https://github.com/aspnet/BasicMiddleware/issues/217), and we added `application/wasm` to the compression list (https://github.com/aspnet/Asp

[2019-08-09 17:20] pranavkm commented on #12940
Sp

[2019-08-09 17:25] pranavkm commented on #12998
@Tratcher does this ring a bell?

[2019-08-09 17:26] #12926 closed

[2019-08-09 17:27] sunildixit commented on #12932
Here's the file.
[project.assets.txt](https://github.com/aspnet/AspNetCore/files/3487409/project.assets.txt)

[2019-08-09 17:29] NTaylorMullen commented on #12442
@SteveSandersonMS / @rynowak this seems like the wrong solution to me. If something bad happens on the client or server and we then start auto-refreshing the page the user will lose all logs/console output from the page due to the refresh.

A good example of this being a poor experience for developers is if a user is doing a specific workflow that breaks the server or client and you enter into thi

[2019-08-09 17:30] Tratcher commented on #12998
You might see this if the client timed out or aborted the request.

Can you share CakesEndpointTest and related code for reference?

[2019-08-09 17:38] pranavkm commented on #12932
Thanks. Could you also link your project file? The assets file suggests some fairly odd dependencies - it's a bit difficult to tell how you got there just inspecting it.

[2019-08-09 18:10] NTaylorMullen commented on #12442
Another route would be to pass additional information to `failed` which could indicate that reconnection wont be possible. At which point we could provide the dialog to reload the page vs. auto-reload.

[2019-08-09 18:26] ryanbrandenburg opened #13010 "Outdated Helix queue image causes Helix failure"
We've been getting errors like https://dev.azure.com/dnceng/public/_build/results?buildId=302761 because of missing objects, the missing objects are because the docker images for one of our helix machines is out of date (Needs to be updated from Python2 to Python3). Thankfully this is just a matter of updating the tag.

[2019-08-09 18:28] DamianEdwards commented on #12897
Great. Is that a change we can look to make for 3.0 or 3.1? This regression was pretty severe.

[2019-08-09 18:29] Tratcher commented on #12566
Verification note: Make sure to test this with the corefx change.

[2019-08-09 18:31] #12566 closed

[2019-08-09 18:35] Tratcher opened #13011 "React to corefx negotiate linux error reporting changes"
In https://github.com/aspnet/AspNetCore/issues/12566 we had to work around some corefx linux limitations. These were fixed in https://github.com/dotnet/corefx/pull/40105. Remove the workarounds.

Mainly these parts:
https://github.com/aspnet/AspNetCore/blob/6e25a9fc53dd5fb8332c685e0c92f10c70bc225f/src/Security/Authentication/Negotiate/src/Internal/ReflectedNegotiateState.cs#L52-L58
https://github.

[2019-08-09 19:29] bproven commented on #1961
I'd love to "borrow" that tool ;P

[2019-08-09 19:31] rynowak commented on #13002
That's the server template - the relevant stuff for client is here:
- https://github.com/aspnet/AspNetCore/blob/master/src/Components/Blazor/Templates/src/content/BlazorWasm-CSharp/Server/Startup.cs
- https://github.com/aspnet/AspNetCore/blob/master/src/Components/Blazor/Server/src/Builder/BlazorHostingApplicationBuilderExtensions.cs#L72

[2019-08-09 19:33] eiriktsarpalis commented on #12887
@jkotalik just FYI we're still seeing a tiny number of errors of the first kind (`The response ended prematurely, with at least 9 additional bytes expected.`) when stress testing against kestrel. Approximately 10 occurrences in approximately 40 million requests.

[2019-08-09 19:42] Tratcher commented on #13002
Ok, that should be everything you need.

@RemiBou you should already be seeing dynamic compression here.

[2019-08-09 20:14] ajaybhargavb commented on #11859
Fixed by d953ec40c30e3dbe876bd11ad03dc72350bcf03c

[2019-08-09 20:14] #11859 closed

[2019-08-09 20:17] rynowak opened #13012 "Consider whether we expose a different concept than CircuitId as part of Server-Side Blazor"
SignalR is current doing some design work to make server-side code less likely to use a connection id for application-level concerns.

The Circuit ID has similar usage and meaning (used to identify a client and handshake with the server). We might want to define a different unique ID to use for circuit identification purposes in `CircuitHandlers` so that these IDs don't leak outside of their origi

[2019-08-09 20:25] samjones3 commented on #1961
We used this as a starting point: https://www.telerik.com/blogs/webforms-to-razor-view-converter-tool

And extended it to handle our needs.

[2019-08-09 20:28] danroth27 commented on #7460
Because it depends on pieces of ASP.NET Web API.

We should be able to get those addressed regardless of where the source code lives. Please file an issue on https://github.com/dotnet/docs/issues and we'll see about filling the doc gaps.

[2019-08-09 20:32] bluntcoder commented on #12709
Hi @mkArtakMSFT can you clarify? Isn't the whole point of Blazor is to run on the client, compiled to web assembly and run in the browser? @SteveSandersonMS clearly shows this in his NDC lectures.

[2019-08-09 21:06] ryanbrandenburg commented on #5229
Yeah, this seems like a duplicate of https://github.com/aspnet/AspNetCore/issues/11797.

[2019-08-09 21:06] #5229 closed

[2019-08-09 21:26] ryanbrandenburg commented on #12368
Fixed by #12891.

[2019-08-09 21:26] #12368 closed

[2019-08-09 21:28] ajaybhargavb commented on #12940
Another flaky test https://github.com/aspnet/AspNetCore/blob/3f01684caec87787641922bc3dc3d3a8facc7f43/src/Components/test/E2ETest/Tests/ComponentRenderingTest.cs#L43

[2019-08-09 21:31] #11797 closed

[2019-08-09 21:52] SteveSyfuhs commented on #12938
Minor clarification here... all group information is present in the Kerberos ticket PAC. What's present however is SID information, not group *name* information. So you will be able to do proper ACL checks (because you're checking against the SID and not the mutable name, right? Right??), but you're not going to get friendly names. That's the point of the out of band LDAP call to AD. GSS *may* exp

[2019-08-09 22:25] rynowak commented on #12940
These tests are changing substantially as part of https://github.com/aspnet/AspNetCore/pull/12857 because the interactions with the server are different.

[2019-08-09 23:08] brockallen commented on #12938
@SteveSyfuhs out of curiosity, would this sort of thing work on the linux distros you've been targeting?

https://github.com/IdentityServer/IdentityServer4/blob/master/src/IdentityServer4/host/Quickstart/Account/ExternalController.cs#L174-L175

[2019-08-09 23:18] SteveSyfuhs commented on #12938
@brockallen That is calling squarely into LSA-specific API's: https://github.com/dotnet/corefx/blob/d3911035f2ba3eb5c44310342cc1d654e42aa316/src/System.Security.Principal.Windows/src/System/Security/Principal/NTAccount.cs#L281-L334

The basic logic would have to be

[code]

[2019-08-09 23:32] cjaliaga commented on #12944
@mmulhearn could you check the Application Event Log from your Web App to see if there's any clue there about why is not loading when running inproc with the V2? https://docs.microsoft.com/en-us/aspnet/core/test/troubleshoot-azure-iis?view=aspnetcore-2.2#application-event-log-azure-app-service

[2019-08-09 23:50] NTaylorMullen commented on #12897
I have time, i'll just take this on for this release.

[2019-08-09 23:50] NTaylorMullen commented on #12897
@mkArtakMSFT this impacts all scenarios, Mvc, Blazor etc. I imagine I still need to go through ask mode though? Yay nay?

[2019-08-10 00:38] dougbu commented on #11924
This isn't closed yet. I'm still wrapping up w/ aspnet/AspNetCore

[2019-08-10 02:05] mikaelm12 commented on #12312
Done here:https://github.com/aspnet/AspNetCore/pull/13018

[2019-08-10 02:05] #12312 closed

[2019-08-10 05:04] hez2010 opened #13020 "Kestrel listening handle: CLR/System.NotImplementedException"
### Describe the bug
Kestrel listening handle: CLR/System.NotImplementedException

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 3.0 preview 7
2. dotnet new web -o FileDescriptor
3. replace Program.cs with:
[code]
4. setup SD_LISTEN_FDS_START and run app

### Expected behavior
Handle in SD_LISTEN_FDS_START should be listened.

### Actual behavior
[code]

[2019-08-10 06:06] ststeiger commented on #1961
@samjones3: Nice link.
Wondering if this more-or-less works with our non-MVC pages in VB.

Anybody who doesn't want to read the boring blog-post, here's the direct link:
https://github.com/telerik/razor-converter

[2019-08-10 06:29] John0King opened #13021 "`IUserIdProvider` peer Hub, and [...]"
### Is your feature request related to a problem? Please describe.
When app **not** use standard `Authentication/Authorization`  and there multiple type of account, the user info is from different cookies, there will be a problem to use the same type of `IUserIdProvider` that across different Hub.

### Questions

I can not reset the connection's userId, and also can not filter all the connection b

[2019-08-10 08:42] aammfe opened #13022 "Official Support For Graphql as GRPC"

[2019-08-10 10:03] RemiBou commented on #13002
Yes indeed you got it covered already ! Thanks for your time, sorry for the
issue.

Le ven. 9 août 2019 21:42, Chris Ross <notifications@github.com> a écrit :

[2019-08-10 10:12] JulienM28 opened #13023 "Blazor Call method"
Hello,

before preview 7 I used to call my methods as this:

[code]
But now I have an error message in Visual Studio:
Cannot convert method group to non delagte type. Did you inted to invoke the method ?

Yes I do.

So I Changed to
[code]
But I still get an error message:
Cannot implicitly convert void to object.
Damn Async Tasks with a Task return dont have this issue, they have another one : exe

[2019-08-10 10:30] pekspro opened #13024 "Confused by error message regarding attribute syntax"
I’ve just started to play around with Blazor and tried to write this code in a .razor-file:

    <span class="@if(sortType != 0) { <text>btn-primary</text> } else { <text>btn-success</text> }">

Yes, not very elegant :-) Either way, I got this error message that confuses me:

I’ve tried to rewrite me code to use lambda expression as suggested, but whatever I do a get an error message. Is this poss

[2019-08-10 10:52] kevinjhang opened #13025 "Reduce Data Flow"
### Is your feature request related to a problem? Please describe.
I am trying to do reduce data flow

### Describe the solution you'd like
Rename "JS.RenderBatch" to "JS.RB"

### Additional context
![2019-08-10 184143](https://user-images.githubusercontent.com/22629524/62820943-cc666400-bb9e-11e9-8866-aaaee6a53cce.jpg)

[2019-08-10 11:04] kevinjhang commented on #13025
Maybe rename to "R" is better, It's shorter

[2019-08-10 11:45] Ibrahim-Islam commented on #12998
@Tratcher Thank you for your reply. Please find the full code below.

[code]

[2019-08-10 12:06] hez2010 commented on #13023
You need to use @onclick="ShowCloseTicket" after preview 7.
Details were written in https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-7/

[2019-08-10 12:20] Bambofy commented on #12969
i'm trying to load data from a service in the OnAfterRender function and then refreshing the page to update the values.

[2019-08-10 12:43] blowdart commented on #13000
What authentication service(s) are you using? What browsers see this error?

[2019-08-10 13:28] Tratcher commented on #12998
Sounds like a deadlock in your app. XUnit is known for limiting the number of threads allowed for a test, so if you accidentally block any then your test can starve. If you can get a dump or attach a debugger then check for blocked threads.

[2019-08-10 14:45] BarryJSilver commented on #1528
May I please be added too? My GitLab account is barryjsilver. Thanks!

[2019-08-10 15:06] Ibrahim-Islam commented on #12998
@Tratcher How can I get a dump while the tests are being run on TeamCity? Any ideas would be appreciated.

[2019-08-10 16:23] Tratcher commented on #12998
@pranavkm ?

[2019-08-10 16:45] Shammah opened #13026 "Blazor: Dispose() is an unfit alternative to the missing OnUnmounted() life-cycle hook."
### Is your feature request related to a problem? Please describe.
When navigating between pages, the leaving page's `Dispose()` gets called after the `OnInit()` of the arriving page. This may cause interference with shared states such as Fluxor's.

Example: I've created a working example at https://github.com/Shammah/DisposeAfterOnInit, most notably on https://github.com/Shammah/DisposeAfterOnIni

[2019-08-10 17:00] endeffects opened #13027 "Missing assembly in AppDomain"

[2019-08-10 17:14] doogdeb commented on #13000
Using our own STS hosted in azure using OAuth. Looking at the logs, it's all types of devices and browsers. Someone internally was having issues signing in with their iPhone although other iPhone's we tested were fine. I confirmed they were having correlation issues but in this instance it was because they'd set their phone 25mins in the future. Once set to correct time it worked as expected. Othe

[2019-08-10 17:35] dannyfhalpotia opened #13028 "Setting up HttpSys with Base Path"
I've tried out many different ways of setting the base path when using HttpSys but none seems to work once it gets deployed to a windows server. The funny thing is that my app is getting hit because the middleware is getting triggered. So https://localhost:30310/SomeBasePath (localhost on the server) will give a API IS RUNNING response and the same with app.Run for 404s.

The issue seems to be tha

[2019-08-10 20:35] rynowak commented on #12897
Yes.

[2019-08-10 20:59] rynowak commented on #12969
Why use `OnAfterRender`? Typically the pattern for loading data asynchronously in Blazor looks like this:

[code]

This pattern will render twice, once to show a "loading" UI and then again after the `LoadMyData()` method completes.

Do you have something special that you're trying to do here?

[2019-08-10 21:00] pricekane commented on #11347
If anyone else finds themselves here, I was having this issue when I hadn't yet saved the solution file that was created for me by VS 2019 Preview.  After saving ToDoList.sln on close of VS, I no longer had these issues.

[2019-08-11 01:03] rynowak opened #13030 "Test failures due to System.InvalidOperationException : Memory pool with active blocks is being disposed, 302 of 303 returned"
I can pretty regularly reproduce test failures running the components tests with this message by running the tests in the components solution under the debugger.

[code]

[2019-08-11 01:15] gersonm91 commented on #11347
Thank you, just happened to stumble across this issue as well.

[2019-08-11 01:50] rynowak commented on #13030
@halter73 - any ideas?

[2019-08-11 04:21] Tratcher commented on #13028
This line is redundant when you've defined the base path at the server level.
`app.UsePathBase(new PathString("/SomeBasePath"));`

Please share the full logs from the good and bad repros.

[2019-08-11 04:28] Tratcher commented on #13020
@halter73 is that API Libuv specific?

[2019-08-11 09:15] AlexeyStarkov commented on #12914
Thank you for the right way to research for web development newbie! I've tried to run my project outside of the VS Mac using Terminal and have got following exception:
System.IO.IOException: Failed to bind to address https://127.0.0.1:5001: address already in use.
Then I've just just changed port number to 5002 in project options and now it works!
<img width="960" alt="Screen Shot 2019-08-11 at 11

[2019-08-11 10:20] Sebazzz commented on #12890
Please provide a migration path for Webpack. Deprecation is fine, as long as there is a clear migration path.

[2019-08-11 11:26] KeKl opened #13032 "InvalidOperationException after upgrading to net core 3.0"
### Describe the bug
After upgrading to net core 3.0 and related ef core I get an exception
InvalidOperationException: Operation is not valid due to the current state of the object.

What I do is looking for activities for the user:
`await _context.Activities.Where(x => x.Owner == user).ToListAsync();`

If I check
`await _context.Activities.Where(x => x.OwnerId == userId).ToListAsync();`
everythin

[2019-08-11 12:16] jyanosu commented on #1528
Can I please be added please? @jyanosu  Thank you!

[2019-08-11 13:04] rossbuggins commented on #12883
Hi, Any thoughts on this? With different behaviour on different platforms?

[2019-08-11 13:19] davidfowl commented on #13020
It is and we should throw a not supported exception here

[2019-08-11 14:40] dannyfhalpotia commented on #13028
Hi @Tratcher

I did also try without the `app.UsePathBase` and have the base path in the `UrlPrefix` instead with the same problems persisting. Anyway, some logs:

Localhost on local machine where everything is working as it should:

[code]

For the non-local bad repro I'm not able to get onto the server at the moment so had to extract the logs from Azure instead so it looks a little different and

[2019-08-11 14:55] andreasmih opened #13033 ".net core 2.2 web api endpoint not binding complex data on post request"
I am trying to write a webapi using .net core 2.2. I have a controller and I am trying to send a request from postman to this endpoint.
[code]
The get request works fine, but the POST request model does not bind correctly. Here is the DataMatch model
[code]
and the request I am trying to send from Postman is

[code]
with content-type as "application/json". I have tried all possible casings already

[2019-08-11 15:17] gilbertogwa commented on #10643
I found that this occurs when the **EditContextDataAnnotationsExtensions.ValidateModel** method does not add the field to the "**messages**" collection. The method does not include this because ValidationResult has no items in the "**MemberNames**" array when the Compare attribute is used.

See code with comment:

[code]

To work around this problem, I suggest changing the implementation of the Co

[2019-08-11 15:46] Tratcher commented on #12883
No, there shouldn't be a difference here across platforms. I suggest collecting full client and server logs along with wireshark traces for both scenarios and we can compare them.

[2019-08-11 16:21] endeffects opened #13034 "Testing AuthorizeView"
I'm having some issues with testing components that are wrapped within an AuthorizeView.

I'm using your TestRenderer to create instances of components in my tests:
https://github.com/aspnet/AspNetCore/blob/2e4274cb67c049055e321c18cc9e64562da52dcf/src/Components/Shared/test/TestRenderer.cs

I have extended the TestRender as follow:

[code]

This allows me to create an instance of a component reall

[2019-08-11 16:26] joeaudette commented on #3756
I have a pagination library that is currently netstandard2.0 https://github.com/cloudscribe/cloudscribe.Web.Pagination
it has dependencies like this:

    <ItemGroup>
    <PackageReference Include="Microsoft.AspNetCore.Mvc" Version="2.1.3" />
    <PackageReference Include="Microsoft.AspNetCore.Mvc.Core" Version="2.1.3" />
    <PackageReference Include="Microsoft.AspNetCore.Mvc.TagHelpers" Version=

[2019-08-11 16:51] Tratcher commented on #13028
`Listening on prefix: http://localhost:5000/` and `Now listening on: http://localhost:5000/` should both have included the `/SomeBasePath` path base if it was defined at the server level.

Was this specified in the server for this run?
`options.UrlPrefixes.Add("http://localhost:5000/SomeBasePath/")`?
Or were you using UsePathBase for this run?

[2019-08-11 17:08] dannyfhalpotia commented on #13028
I was using UsePathBase for this run. Adding it to the UrlPrefix, does as you say add the "/SomeBasePath" to the two log statements. But the behaviour seems to be the same. It works on my own machine and not on the server.

[2019-08-11 17:19] PeterPann23 opened #13035 "ListView Control on a WinForms project does not fire events"
### Describe the bug
Created a new project in .net Core 3.0
Added a ListView to the form that I populate based on user actions (button click works just fine)
The events on the listview however do not get firred.

### To Reproduce
Steps to reproduce the behavior:
1. Visual Studio 2019, Core 3.0 Release 3.0.100-preview7-012821
2. Run this the File New  _Windows Forms App(.Net Core)_ Project
My proje

[2019-08-11 17:46] a6datta commented on #11950
@shirhatti I have been monitoring the application for all these days. It was stopping randomly. However no dump was created. To understand if there was any issue on my side, I added a global exception handler to catch all uncaught exceptions. There were a few exceptions which were not handled in code. After I handled those in code, in last 2 weeks no more uncaught exceptions were recorded in log.

[2019-08-11 18:02] ststeiger commented on #1528
@BarryJSilver: Added.

@jyanosu: i need the git**lab**.com account, not github.

[2019-08-11 18:07] jyanosu commented on #1528
@ststeiger Whoops, just set it up.. same username @jyanosu

[2019-08-11 18:43] Pilchie commented on #13035
This issue was moved to dotnet/winforms#1607

[2019-08-11 18:43] #13035 closed

[2019-08-11 19:16] DaTribe opened #13036 "Blazor client-hosted project activating server controller with parameterised constructor returns HTTP 500"
### Bug
Using the out of the box client-hosted Blazor template, when registering entries into the DI container and using the registered entry in a constructor on the Server an HTTP 500 status is returned due to the container failing to activate the constructor parameter despite it being registered in the container.

### Steps to reproduce the behavior:
1. Using ASP.NET Core SDK 3.0.100-preview7-01

[2019-08-11 20:17] dannyfhalpotia commented on #13028
@Tratcher
I commented out `app.UsePathBase` and changed my UrlPrefix to this:

[code]
Deploying the above, produces the logs below (same 404 result though). One noticeable difference is the presence of PathBase in the first log statement, which wasn't included when I was using app.UsePathBase() to set the base path. So it seems that it extracts this from the request such that we have a RequestPath

[2019-08-11 20:23] jkotalik commented on #13030
_big yikes_ How recently have you started seeing this? I think it could be from my change ~ a week ago that introduced a new type for reading the request body.

[2019-08-11 20:40] ststeiger commented on #1528
@jyanosu: Added.

[2019-08-11 20:42] jeffputz commented on #10975
@justinhelgerson I did finally come up with a solution that required me to learn a lot more about OAuth2 than I would have liked. 😁 I whipped up a simple library that just gets the user bounced through the IdP, then does the token exchange you need for the ID. It totally leaves persistence and `Principal` forming to you. https://github.com/POPWorldMedia/POPIdentity

I rolled it in to [POP Forums](

[2019-08-11 20:48] Bambofy commented on #12969
Hey i did not find the root cause of the original problem to be honest!
The way i'm making it work at the moment is like this:
[code]

[2019-08-11 20:59] N0tAI opened #13037 "MapBlazorHub crashing Blazor Web project"
### Describe the bug
Using a Default Blazor Server template in the app.UseEndpoints function in the Configure method of the Startup class
endpoints.MapBlazorHub() throws a exception on app startup
### To Reproduce
Steps to reproduce the behavior:
1. Using AspNetCore 3 preview 8
2. Run this code IApplicationBuilder#UseEndpoints(endpoints =>
{
     endpoints.MapBlazorHub();
});
3. With these argumen

[2019-08-11 21:41] Tratcher commented on #13028
Yes the urlacl url parameter needs to exactly match what you pass into UrlPrefixes, including the path base (with a trailing slash).
`netsh http add urlacl url=https://*:30310/SomeBasePath/ user="NT AUTHORITY\NETWORK SERVICE"`

I'm starting to wonder if pathbase is really your main problem. It seems like you're also having a problem with your controllers being discovered for a published applicatio

[2019-08-11 21:49] #11845 closed

[2019-08-11 21:50] rynowak commented on #12940
I did the following here in addition to changing the codez.
- Timeouts are now 30s
- An unhandled circuit error will interrupt waiting for a batch or interop call
- These tests now capture client and server logs and report them in failures.

[2019-08-11 21:50] #12940 closed

[2019-08-11 22:18] dannyfhalpotia commented on #13028
I found the issue. Your second paragraph had me try out a few different things and changing this line in ConfigureServices did the trick:

`services.AddMvc()` to `services.AddMvc().AddApplicationPart(typeof(SystemController).Assembly);`

As I have my controllers defined in a separate dll, it seems that I have to specify the above in the startup.cs to let the MVC part know that it should look for c

[2019-08-11 22:57] crasshacker opened #13038 "DefaultHubLifetimeManager.AddToGroupAsync has backward null check"
I was looking through the ASP.NET Core SignalR code to understand what might be causing a bug I'm running into (presumably in my own code, although I'm not yet sure), and found what looks like a bug in DefaultHubLifetimeManager.AddToGroupAsync.  This check appears to be backward:

            var connection = _connections[connectionId];
            if (connection == null)  // ********* I ASSUME TH

[2019-08-11 23:48] blowdart commented on #13032
You're be better asking this in the [EF repo](https://github.com/aspnet/EntityFrameworkCore).

[2019-08-12 01:15] BrennanConroy commented on #13038
The check is correct. If a connection is null, return (i.e. does not exist). If a connection is not null (i.e. does exist) add it to the group.

[2019-08-12 02:51] moataz1991 opened #13039 "Blazor Server-Side not re-rendering component after event is fired !"
As described in the title,i can't see any re-rendering after 'onclick' is fired

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '3 preview 7'
2. Run this code
[code]
3.  The Action 'ItemClicked' is reached by the debugger , but component not showing "re-rendering" the selected item

### Expected behavior
It should re-render the component by default when 'on

[2019-08-12 04:27] mobinseven commented on #11950
In my case, lack of Garbage Collecting was making the problem. I traced the memory usage and it got increased by any page load. I just added this to my .csproj file:
`  <PropertyGroup>
    <ServerGarbageCollection>true</ServerGarbageCollection>
    <ConcurrentGarbageCollection>false</ConcurrentGarbageCollection>
  </PropertyGroup>
`
and the problem got solved.

[2019-08-12 04:38] helloserve opened #13041 "AuthenticationFailedContext.Success() has no effect when handling JwtBearerEvents.OnAuthenticationFailed"
I have code that is handling `JwtBearerEvents.OnAuthenticationFailed`, and which calls `AuthenticationFailedContext.Success()`. This has no effect and authentication still fails with a 401. I can see in the debugger when expanding the `Return` property value, that `Ticket` is set and that `Succeeded` is true, but that `Handled` is false. There is no method on this type to set handled explicitly.

[2019-08-12 05:23] moataz1991 commented on #13039
it looks like all events does not Re-Render , therefore i should pass `StateHasChanged` from the beginning to every single component

anyway to set it by default that any event rising will call root `StateHasChanged` ?

[2019-08-12 07:00] blushingpenguin opened #13045 "InferParameterBindingInfoConvention incorrectly treats CancellationToken as a body binding parameter"
### Describe the bug
[code]
leads to something along the lines of:
[code]

in InferBindingSourceForParameter,

### To Reproduce
Steps to reproduce the behavior:
1. Using v2.2.6 of ASP.NET Core
2. Run nswag on a webapi with the code above
3. With default settings
4. See error

### Expected behavior
The binding source should be inferred as BindingSource.Special which is consistent with
```modelMetad

[2019-08-12 07:08] dannyfhalpotia commented on #13028
Anyway it's working now. Thanks for your help.

[2019-08-12 07:08] #13028 closed

[2019-08-12 07:37] coderfox commented on #13020
This issue may be closed as this is a document issue. The issue may be referenced at aspnet/AspNetCore.Docs#12842.

[2019-08-12 08:36] javiercn commented on #12940
@rynowak in this case the flaky ness was caused by the use after free bug in the array pool, isn’t it?

[2019-08-12 09:00] igor-tk commented on #12566
.NET Core SDK 3.0.100-preview7-012821, self-contained app with mitigation, Chrome.

Windows - server returns 401 2 times, browser does not prompt for user credentials. Browser restart helps.

Linux - server returns 401 1 time, browser does not prompt for user credentials. Page refresh helps.

[2019-08-12 09:13] javiercn commented on #12933
https://github.com/aspnet/AspNetCore-Tooling/pull/958

[2019-08-12 09:13] javiercn commented on #12933
I have a PR out for this, gets it down from 11s to 3s and removes the use of the custom property.

[2019-08-12 09:34] acblksun opened #13046 "multiple JwtBearer authentication schemes continually refresh metadata"
### Describe the bug
We require accepting multiple JwtBearer audience/authority pairs for our api.

When we setup multiple JwtBearer authentication for our api, we notice that aspnetcore middleware is continually calling the `.well-known/openid-configuration` at the minimum refresh interval instead of 30 seconds instead of the desired AutomaticRefreshInterval of 1 day.

### To Reproduce
Steps to r

[2019-08-12 10:00] conficient commented on #13039
You need to remove the `seq` variable and use constant integers in the calls to `builder` - don't use variables or loops.

[Chris Sainty's blog](https://chrissainty.com/building-components-via-rendertreebuilder/) has good help in this area, along with [an explanation by @SteveSandersonMS](https://gist.github.com/SteveSandersonMS/ec232992c2446ab9a0059dd0fbc5d0c3) as to why this is the case.

[2019-08-12 10:17] datvm opened #13047 "asp-append-version does not work for RCL files"
### Describe the bug
`asp-append-version` does not work for files embedded by Razor Class Library when referred to by `script`, `link` or `img` tags, either in the same RCL or by the client (using) project.

### To Reproduce
Steps to reproduce the behavior:
1. Create a RCL project (I am using 3.0 preview 7).

2. Create wwwroot folder, and create a file, for example `css\common.min.css`.

3. Create

[2019-08-12 10:19] FreyJim commented on #7644
@Tratcher
I have the same issue by using streams with moq framework. I changed already inside the moq setup to call the async methods and also added the section to the startup class.
`services.Configure<TestServer>(options =>
{
        options.AllowSynchronousIO =
});`

But I still get the same error message:
System.InvalidOperationException: Synchronous operations are disallowed. Call WriteAsync

[2019-08-12 10:22] jinhale opened #13048 "Enable ` --trust` for `dotnet dev-certs https`"
I'm trying to complete the tutorial for [VS Code](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/razor-pages-start?view=aspnetcore-2.2&tabs=visual-studio-code). The instructions instruct to use `dotnet dev-certs https --trust` but that will not yield what is expected. Instead I see: `Specify --help for a list of available options and commands.`

Ideally, this should work as the

[2019-08-12 10:38] yosigolan commented on #6758
@Tratcher  @anurse
Thanks, i understand, i will check it.

Yosi

[2019-08-12 10:50] javiercn opened #13049 "[Razor] Add error code to application part discovery error"
Add an error code to the error created by application part discovery when it can't find an assembly so that it can be filtered properly in visual studio.

![image](https://user-images.githubusercontent.com/6995051/62860187-358bcb80-bcb4-11e9-85d4-747c1c3a20be.png)

[2019-08-12 10:51] achrafbenalaya opened #13050 "dotnet new blazor or new blazorhosted blazor.webassembly.js Problem"
I created a client side project also a Blazorhosted project , but everytime I launch the project I can't load a thing cause of : Blazor.webassembly.js

### Description
For some reasons I was able to see the client side default index , but now , even when creating fresh new projects , I can't load a thing with problem  :
Uncaught (in promise) Error: Failed to start platform. Reason: [object XMLHttp

[2019-08-12 11:52] moataz1991 commented on #13039
Impossible !
how could i know the future ?! like how many `item `in `SelectionDictionary` ?!
[Chris Sainty's blog](https://chrissainty.com/building-components-via-rendertreebuilder/) does not really help in this case specially the numbering issue , anyway I'm only increasing the `seq` when opening an element tag not when adding attributes
plus, this was working in 0.7 version

something not 'poppi

[2019-08-12 11:58] RealTadango commented on #6818
Temporary fix: Put this in the index.html, above the blazo script tag:

    <script>
        var path = window.location.pathname.split('/');
        var baseTag = document.getElementsByTagName('base');
        baseTag[0].setAttribute('href', '/' + path[1] + '/');
    </script>

[2019-08-12 12:03] #13027 closed

[2019-08-12 12:19] Harardin opened #13052 "httpClient.PostJsonAsync returns an exception in ASP.NET 3.0"
Thing is the issue can be handled by simple `try` and `catch` but as I read they are expensive for performance if used too much, so I prefer to handle all troubles manually if it is possible.

So to the code sample:

The Controller Class:

[code]
Nothing special in it

And the blazor page code:

[code]
If I miss something and made a mistake somewhere please let me know and I close this issue as fa

[2019-08-12 13:04] Tratcher commented on #7644
What's the stack trace?

[2019-08-12 13:12] Tratcher commented on #7644
How are you creating TestServer in your test? The old pattern was to do `new TestServer(webhostbuilder);` which wouldn't use DI to create an instance so `services.Configure<TestServer>(options => { options.AllowSynchronousIO = });` wouldn't apply. If you are newing it up directly then you can directly set the option as well.

The new pattern looks like this and would work with DI options:
https://

[2019-08-12 13:18] mmulhearn commented on #12944
Hi @cjaliaga. I switched back to V2 this morning and the app is working again in both configurations.  Didn't change anything else.

Looking through event logs from last week, I don't see anything helpful.  It just reports the same messages as I messed with the web.config:

[code]

[code]

[code]

[code]

[2019-08-12 13:32] mkArtakMSFT commented on #13052
Thanks for contacting us, @Harardin.
What's the exception you're getting? Please share a small repro project, so we can investigate this.

[2019-08-12 13:43] SteveSandersonMS opened #13054 "Don't ship .Blazor.* as 3.0.0 (rtm)"
Hey build people - this may well already be done or tracked somewhere else, but I just want to make sure.

When we set up for publishing the final 3.0.0 versions of packages, could you please be sure that we **continue using prerelease version numbers** for the client-side Blazor packages? This is because client-side Blazor doesn't ship a final RTM version in 3.0.0.

For example:

 * `Microsoft.As

[2019-08-12 13:47] isaac2004 opened #13055 "It was not possible to find any compatible framework version Preview 7"
I recently attempted to install Preview 7 on a machine and after installing, I get this message when I run `dotnet --info`

[code]

Looks like the SDK installs, but the runtime does not. If I try to run a repair, I get this error
![image](https://user-images.githubusercontent.com/8878502/62869493-fa09f500-bce5-11e9-9b57-5c157428d3f1.png)

and fatal error on the repair failed screen 0x80070643. Her

[2019-08-12 13:49] mkArtakMSFT commented on #13048
Thanks for contacting us, @jinhale.
@javiercn can you please look into this? Thanks!

[2019-08-12 13:51] mkArtakMSFT commented on #13047
Thanks for contacting us, @datvm.
@javiercn can you please look into this? Thanks.

[2019-08-12 13:52] mkArtakMSFT commented on #13047
@javiercn, let's first understand what this will take to fix before making any changes.

[2019-08-12 13:53] mkArtakMSFT commented on #13045
Thanks for contacting us, @blushingpenguin.
@pranavkm can you please look into this? Thanks!

[2019-08-12 13:53] mkArtakMSFT commented on #13045
We need to make sure this works properly in 3.0.

[2019-08-12 13:54] javiercn commented on #13048
Trust is only supported on windows and mac, there's no central trust root on Linux. It's all distro specific. We should add a disclaimer in whatever doc/tutorial we use with Linux, and maybe provide instructions for popular distros, but this falls out of the scope of the tool.

[2019-08-12 13:54] #13048 closed

[2019-08-12 14:00] mkArtakMSFT commented on #13055
Thanks for contacting us, @isaac2004.
@livarcocc who would be best positioned to look into this?

[2019-08-12 14:02] javiercn commented on #13047
It might be something here. https://github.com/aspnet/AspNetCore/blob/master/src/Hosting/Hosting/src/StaticWebAssets/StaticWebAssetsFileProvider.cs#L67-L70

[2019-08-12 14:20] marcuslindblom commented on #7438
What is the equivalent way of doing the following in preview 7 if I want to be able to `ReadAsAsync` without the need of adding my own formatters every time? Is it possible to add default supported mediatypes?

[code]

[2019-08-12 14:33] dougbu commented on #13054
Adding @danroth27 and @mkArtakMSFT who asked us to rebrand all and sundry as 3.0.0. IIRC the only thing we needed to change was Microsoft.AspNetCore.Blazor.Mono.

Are you asking for the -previewN naming to continue in the otherwise-RTM release? If so, please provide more than examples of packages to special-case. Is it literally Microsoft.AspNetCore.Blazor.*?

[2019-08-12 14:35] rynowak commented on #12940
Flakiness was caused by a bunch of things. There were places where I changed List to ConcurrentQueue, and Dictionary to ConcurrentDictionary as well as some more general test bugs and the thing that you mentioned.

[2019-08-12 14:37] rynowak commented on #7438
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2019-08-12 14:40] datvm commented on #13047
Hi, sorry, this is actually my mistake.

The files included in the wwwroot folder of the RCL are exposed to the consuming app under the prefix _content/{LIBRARY NAME}/. For example, a library named Razor.Class.Lib results in a path to static content at _content/Razor.Class.Lib/.

I used the wrong path for consuming the files (and received 404 error too). I didn't know I still need to use _content/

[2019-08-12 14:43] #13047 closed

[2019-08-12 14:55] rynowak opened #13056 "RemoteRenderer continues processing after Dispose"
RemoteRenderer will continue to process its render queue after the renderer has been disposed.

Currently this will lead to exceptions inside [here](https://github.com/aspnet/AspNetCore/blob/master/src/Components/Server/src/Circuits/RemoteRenderer.cs#L103) because the state of the base class has been disposed.

[2019-08-12 15:01] Harardin commented on #13052
Here is the exception from the log which comes from this line of code `var responce = await httpClient.PostJsonAsync<HttpResponseMessage>("https://localhost:44389/api/Registration", registrationForm);` :

[code]
And a link on the project: [project](https://github.com/Harardin/Blazor-CMS/tree/master/CMS-Blazor)
This is my small out of the main job project, I want to create a small CMS with ASP.NET

[2019-08-12 15:10] scottaddie commented on #13055
@isaac2004 It's odd that there's no 3.0 runtime listed. I have that same SDK version installed and see the following runtime in the output when I run `dotnet --list-runtimes`:

Microsoft.AspNetCore.App 3.0.0-preview7.19365.7 [C:\Program Files\dotnet\shared\Microsoft.AspNetCore.App]

[2019-08-12 15:39] marcuslindblom opened #13057 "Custom MediaType in combination with HttpContent.ReadAsAsync<T>()"
I use a custom media type in my API and for now I have used `ReadAsAsync<T>(MediaTypeFormatterCollection)` to add my custom media type. This was fine at start but now I want to add the custom media type to the default collection of supported media types. Is this possible in dotnet core 3 preview 7?

Below is the code I use today.

[code]

[2019-08-12 15:45] markvincze opened #13058 "Performance under load is degraded with 3.0 preview7 compared to 2.2"
### Describe the bug
I have an API which executes a CPU-intensive operation in relatively long-running (500-1000ms) requests. It's implemented in ASP.NET Core 2.2, and running pretty smoothly.

I've upgraded it to ASP.NET Core 3.0 (preview7), mainly to see if the many perf improvements in the framework will bring benefits to our throughput and response times.

The response times of the application

[2019-08-12 15:51] mkArtakMSFT commented on #13054
@dougbu, this is specifically about `client-side Blazor packages`. This is not RTM-ing with 3.0. The server-side Blazor will RTM.

[2019-08-12 15:53] mkArtakMSFT commented on #13048
@javiercn do we have a separate issue tracking this:

[2019-08-12 15:55] javiercn commented on #13048
I'm not even aware this is possible. But we should have a disclaimer for the trust piece on linux.

[2019-08-12 15:55] mkArtakMSFT commented on #13058
Thanks for contacting us, @markvincze.
@sebastienros  can you please look into this? Thanks!

[2019-08-12 15:57] mkArtakMSFT commented on #13057
@pranavkm can you please answer this question? Thanks!

[2019-08-12 15:58] javiercn commented on #13048
https://github.com/aspnet/AspNetCore.Docs/issues/13774

[2019-08-12 15:59] jkotalik commented on #13058
If I were debugging this kind of issue, I would try to verify this performance issue by setting up two images, one running 2.2 and one running 3.0. I'd then use a load client like [wrk](https://github.com/wg/wrk) to hit the healthcheck endpoint. I'd then see if the performance regressed between 2.2 and 3.0.

[2019-08-12 16:01] SteveSandersonMS commented on #13056
In offline discussion, we said we need to:

 * Have the `Renderer` base class track its own disposal, and throw if you try to start a new batch after disposal
 * Have the code path that gets there from `StateHasChanged` avoid the exception by no-opping if it's already disposed. I think this change would go into `ComponentState`, which may already track its own disposal (or easily can do so). Compo

[2019-08-12 16:03] SteveSandersonMS opened #13059 "Upgrade Mono for preview 9"
See https://github.com/aspnet/AspNetCore/pull/13053

[2019-08-12 16:06] dougbu opened #13060 "Remove mention of Mission Control in Helix.md"
The /docs/Helix.md file in this repo mentions Mission Control and https://mc.dot.net URLs in a number of places. None of this is correct because the Helix infrastructure no longer relies on Mission Control. See dotnet/arcade#3578 for Arcade's similar cleanup.

/cc @MattGal

[2019-08-12 16:10] SteveSandersonMS commented on #13059
Done in https://github.com/aspnet/AspNetCore/pull/13053

[2019-08-12 16:10] #13059 closed

[2019-08-12 16:15] mkArtakMSFT commented on #13050
Thanks for contacting us, @achrafbenalaya.
Something got corrupted on your end, it seems.
Please share a repro project, so we can have a closer look at this.

[2019-08-12 16:17] mkArtakMSFT commented on #13039
Thanks for contacting us, @moataz1991.
You need to use the `EventCallback()`, as described at https://chrissainty.com/3-ways-to-communicate-between-components-in-blazor/
Please give it a try and let us know if you're still having any issues.

[2019-08-12 16:18] mkArtakMSFT commented on #13037
Thanks for contacting us, @N0tAI.
It seems you have a binary mismatch in your project. Please share a repro project so we can have a look.

[2019-08-12 16:19] SteveSandersonMS commented on #13039
In the [linked blog post](https://chrissainty.com/building-components-via-rendertreebuilder/), it explains how you should handle this to avoid the `seq++` code.

[2019-08-12 16:20] mkArtakMSFT commented on #13036
Thanks for contacting us, @DaTribe.
What's the error you're facing? Also, it would help to have a repro for this so we can have a look.

[2019-08-12 16:21] dougbu commented on #13054
@mkArtakMSFT what does that mean w.r.t. my questions?

I'm asking the second question because going back to 0.{some number}.0 versions would confuse users because everything will be 3.0.0-preview8-{blah} in our next preview.

[2019-08-12 16:21] mkArtakMSFT commented on #13034
Thanks for contacting us, @endeffects.
This is a known gap at the moment and we plan to cover this in the future. We track this work as part of  #5458.

[2019-08-12 16:21] #13034 closed

[2019-08-12 16:24] mkArtakMSFT commented on #13026
Thanks for contacting us, @Shammah.
We'll consider adding a new lifecycle event in a future release.

[2019-08-12 16:26] mkArtakMSFT commented on #13025
Thanks for contacting us, @kevinjhang.
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-08-12 16:29] mkArtakMSFT commented on #13024
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-08-12 16:29] mkArtakMSFT commented on #13023
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-08-12 16:29] #13023 closed

[2019-08-12 16:32] tomstreet opened #13061 "Generic Host throws exception on Xamarin Android"
### Describe the bug
Not sure if this a supported scenario, but I'm trying to use all the goodness of the generic host in a Xamarin Android app so I get the DI, logging and http client factory. This issue only happens on Xamarin Android - everything works fine on iOS.

A `System.ArgumentException` gets thrown upon calling `Build()` on the `HostBuilder` with the message `"The path must be absolute.

[2019-08-12 16:34] #13002 closed

[2019-08-12 16:35] conficient commented on #13039
@moataz1991  Read Steve's explanations, specifically the **Q&A** at the end. You _can_ create a loop in the code but **you don't need to increment the line count for each row**.

The sequence number isn't an _element pointer_, think of it as a _"line of code"_ pointer, that helps the Blazor renderer figure out which bits of the razor code relate to which items.

To help visualise this I re-wrote y

[2019-08-12 16:46] mkArtakMSFT commented on #11463
Actually, we'll track this work as part of https://github.com/aspnet/AspNetCore/issues/5465

[2019-08-12 16:46] #11463 closed

[2019-08-12 16:47] pranavkm commented on #13057
If this is using `HttpClient`, none of the code there has changed in forever. If you're seeing a specific issue, please provide a repro app and \ or more details.

[2019-08-12 16:49] mkArtakMSFT commented on #10912
Looks like the work required to enable this has already been done during Preview 9.
`OpenRegion` and `CloseRegion` APIs are now public.

[2019-08-12 16:49] #10912 closed

[2019-08-12 16:49] pranavkm commented on #13049
Dup of https://github.com/aspnet/AspNetCore/issues/11226.

/cc @ajaybhargavb

[2019-08-12 16:49] #13049 closed

[2019-08-12 16:51] mkArtakMSFT commented on #10748
@Andrzej-W can't this already be done using `CacheTagHelper` ?

[2019-08-12 16:52] mkArtakMSFT commented on #10700
Looks like this is already implemented.

[2019-08-12 16:52] #10700 closed

[2019-08-12 16:52] SteveSandersonMS commented on #10700
Try:

[code]

[2019-08-12 16:52] N0tAI commented on #13037
Here is the Blazor template that Visual Studio makes https://github.com/N0tAI/BlazorTest

[2019-08-12 16:53] mkArtakMSFT commented on #10565
This should already be fixed. @Behnam-Emamian can you please verify this?

[2019-08-12 16:53] NTaylorMullen opened #14329 "Implement quick info for Html + C#"

[2019-08-12 16:56] marcuslindblom commented on #13057
@pranavkm no I don’t have any issues. My question is if there are some solution for adding a custom media type to the supportedmediatypes collection so I don’t need to provide them whenever I want to use ReadAsAsync? So instead of using ReadAsAsync<T>(MediaTypeFormatterCollection) I just want ReadAsAsync<T>()

[2019-08-12 16:56] pranavkm commented on #12998
I guess log on the TeamCity agent and produce a dump from the process?

[2019-08-12 16:56] mkArtakMSFT commented on #10454
Closing this as we'l track the work in the referenced issues directly.

[2019-08-12 16:56] #10454 closed

[2019-08-12 16:57] livarcocc commented on #13055
@johnbeisner to take a look.

@isaac2004 did you manually delete files from the program files folder by any chance?

[2019-08-12 16:57] Eilon commented on #13061
What is the value of `root` when you get the exception?

[2019-08-12 16:57] mkArtakMSFT commented on #9598
This is already supported.

[2019-08-12 16:57] #9598 closed

[2019-08-12 16:59] mkArtakMSFT commented on #9133
This should be fixed already.

[2019-08-12 17:01] mkArtakMSFT commented on #5651
This is already supported.

[2019-08-12 17:01] #5651 closed

[2019-08-12 17:06] mkArtakMSFT commented on #11842
This is already done.

[2019-08-12 17:06] #11842 closed

[2019-08-12 17:08] NTaylorMullen commented on #9133
Wait really? When?

[2019-08-12 17:08] mkArtakMSFT commented on #11762
We're closing this as we simply should not support this.

[2019-08-12 17:08] #11762 closed

[2019-08-12 17:10] mkArtakMSFT commented on #11590
Closing as a dupe of: https://github.com/aspnet/AspNetCore/issues/11612

[2019-08-12 17:10] #11590 closed

[2019-08-12 17:11] Tratcher commented on #13061
@glennc

[2019-08-12 17:12] mkArtakMSFT commented on #11395
@NTaylorMullen is this done already? If so, please close this one.

[2019-08-12 17:12] isaac2004 commented on #13055
I did yes... I imagine that is an issue?

[2019-08-12 17:14] Eilon opened #13062 "Razor Component elements can't use arbitrary complex types in rendering"
## Problem

I'm playing around with some Blazor stuff and my custom component has a property of type `System.Drawing.Color`:

[code]

In the `RenderAttributes` part of the lifecycle I try to render it like this:

[code]

And then in `ApplyAttributes` I try to consume it like this:

[code]

But, the call to `AddAttribute` doesn't do what I expected because it ends up calling `Color.ToString()`, whi

[2019-08-12 17:15] NTaylorMullen commented on #11395
Yup, I fixed this in preview9.

[2019-08-12 17:15] #11395 closed

[2019-08-12 17:15] mkArtakMSFT commented on #11013
Closing this as this seems to be supported and people can choose to use the proposed approach.

[2019-08-12 17:15] mkArtakMSFT commented on #10981
@NTaylorMullen is this fixed for VS? If yes, simply close please.

[2019-08-12 17:21] NTaylorMullen commented on #10981
Fixed

[2019-08-12 17:21] #10981 closed

[2019-08-12 17:22] mkArtakMSFT commented on #10045
Closed in favor of the linked issue.

[2019-08-12 17:22] #10045 closed

[2019-08-12 17:23] Tratcher commented on #13041
`Handled` shouldn't be necessary in this code path, any Result will do.
https://github.com/aspnet/AspNetCore/blob/8c02467b4a218df3b1b0a69bceb50f5b64f482b1/src/Security/Authentication/JwtBearer/src/JwtBearerHandler.cs#L158-L172
https://github.com/aspnet/AspNetCore/blob/master/src/Security/Authentication/Core/src/Events/ResultContext.cs#L46

Be careful when creating your ClaimsIdentity, you have to

[2019-08-12 17:26] mkArtakMSFT commented on #9704
This will be fixed soon.

[2019-08-12 17:52] pflannery commented on #8998
{
   options.SuppressAsyncSuffixInActionNames = false;
});`

Having this option wouldn't hurt I just don't think it should be imposed out of the box.
I think this would be better as an opt-in flag like `options.RemoveAsyncSuffixFromActionNames = true`.

The original issue is easily resolved by changing `return View()` to `return View("Index")`.
Either that or OP can drop the suffix "Async" from th

[2019-08-12 17:58] terrajobst commented on #8998
I disagree. The default path ("pit of success") should generate in solutions that follow the standard .NET naming conventions. Of course people should be able to enable whatever naming conventions they want. But I assert that following the common conventions shouldn't require configuration changes because we shouldn't penalize folks for doing the right thing.