[2019-12-02 23:15] anurse commented on #17516
Given that it's one occurrence, it may be a lowish priority but we'll look and see what we can find. Disconnect races *do* happen.

[2019-12-02 23:15] ryanbrandenburg commented on #17269
I was able to replicate this. It seems that when built with VS SharedResource.fr-FR.resx gets saved as `WebApplication.SharedResource.fr-FR` instead of `WebApplication.Resources.SharedResource.fr-FR`. The extra-strange thing is that Index.fr-FR.resx gets saved under the correct resource name regardless. It all seems related to the fact that SharedResource.cs is in the Resources folder. If you move

[2019-12-02 23:16] anurse commented on #17507
@Tratcher is going to follow up to figure more out here.

[2019-12-02 23:18] anurse commented on #13405
Going to dupe this to the other issue since the other issue has a concrete scenario ;).

[2019-12-02 23:19] dorin182 commented on #17502
I just started learning the Blazor and I also had the thought about dynamic generate of a component.
I tried to create a "helper" component and something worked. I would be appreciated if you'll say what's wrong and what performance impact could be made.

1. Create our `magic component`, as shown below:
[code]
2. Create an interface which inherits from `IComponent` interface, as shown below:
[code

[2019-12-02 23:22] anurse commented on #17325
Yeah, this looks like the source of the problem. You've got a `2.2.0` ASP.NET Core package referenced alongside `netcoreapp3.0`.

You said this worked with `3.0.0` but broke in `3.0.1`? We didn't make any API breaking changes there so it seems odd that it would break.

Can you provide a sample project that reproduces the issue?

[2019-12-02 23:23] jkotalik commented on #17516
Yeah this is a curious one. _bodyOutput is initialized in the constructor for the IISHttpContext. I don't see what else could be throwing here for a null reference... Getting line numbers would be nice 😄

[2019-12-02 23:23] anurse commented on #17453
Yeah, this is a question for the SoapCore team. You should file an issue on their repository.

[2019-12-02 23:23] #17453 closed

[2019-12-02 23:25] ejona86 commented on #17507
I would expect Java/C/Go to all behave about the same way here, since headers vs trailers are semi-semantically important. The problem is that trailers were basically defined (although only in discussion amongst us? I don't see it in the PROTOCOL-HTTP2 doc)  as "HEADERS with endStream = true". That allows immediate delivery to the application as the frames are received.

This has caused trouble be

[2019-12-02 23:25] dougbu commented on #15055
@anurse why does the bot think we need more activity from @gilmishal here? There's been no recent activity because **I** was on vacation 😈 and have been consumed elsewhere.

That said: If anyone wants to test and (if necessary) change build.cmd (or build.ps1) to handle spaces in the repo root, I'd appreciate it. I'm still busy.

[2019-12-02 23:25] anurse commented on #17420
Let's get a fix ready for 5.0 and then open a PR to backport and discuss with Tactics.

[2019-12-02 23:26] nickalbrecht commented on #13839
Not quite ready to close this one Mr Bot. :-P I'm still trying to find time to investigate this.

[2019-12-02 23:29] anurse commented on #17416
The hosting bundle installs an IIS module (ANCM) so IIS *has* to restart in order to load it. This is the expected behavior at this time.

[2019-12-02 23:31] anurse commented on #17415
I'm pretty sure you *can* cast `null` values. It worked when I tried it briefly on sharplab.io ;).

[2019-12-02 23:34] anurse commented on #17393
Sounds like it. We need to be a little cleverer and look at the trailing path.

However, no customers have reported this yet, so not the highest pri.

[2019-12-02 23:36] anurse commented on #17370
@cijothomas Any thoughts here?

[2019-12-02 23:38] anurse commented on #15094
Soooooooooooo. Do we need this still hanging around?

[2019-12-02 23:40] #13405 closed

[2019-12-02 23:46] pranavkm commented on #17393
^ This one was customer reported, but I'd agree not the highest priority given it's fairly easy to run in to this.

[2019-12-02 23:50] ryanbrandenburg commented on #17522
![repro](https://user-images.githubusercontent.com/14987221/70003872-6456d780-1519-11ea-9603-22ff1fb5a5b8.PNG) This did not reproduce for me. My procedure was:
1. Fresh box, latests VS preview, sdk 3.1 preview3.
1. Clone your repro
1. Launch Blazor version from VS, push all the buttons, get all the error bars.
1. Launch MVC app from VS, push all the buttons, get all the error bars.

I did notice t

[2019-12-03 00:01] ryanbrandenburg commented on #17191
@anisite could you provide a minimal repro app as a GitHub repo? It helps us look at the exact issue you're seeing rather than having to approximate your scenario.

[2019-12-03 00:03] JamesNK commented on #17484
Is this 3.1 LTS support worthy? It has real world impact. On the other hand I would guess the fix is non-trivial.

[2019-12-03 00:06] tomRedox commented on #17522
Well that's very odd!

I Just tried it again here, using both Chrome 78.0.3904.108 (Official Build) (64-bit) both regular and incognito and on Microsoft Edge 44.17763.1.0.

Like you I get the code breaking on the error, but unlike you when I hit F5 it continues and I get no error bar.  I also tried running it with Shift+F5 and again no error bar:

![DucISW40fb](https://user-images.githubuserconten

[2019-12-03 00:13] ryanbrandenburg commented on #17522
I bet that I tried it without IIS Express, if you switch to the "raw" version do you see the same behavior as me?

[2019-12-03 00:16] Tratcher commented on #17484
You'd have to throttle the client's concurrent requests. That should be pretty easy with a DelegatingHandler.

We'll have to come up with a fix before we can evaluate the risk for backporting it.

[2019-12-03 00:17] tomRedox commented on #17522
@ryanbrandenburg well spotted, yes that's it.  If I change to MvcUI:

![image](https://user-images.githubusercontent.com/11335350/70005658-4792c200-1562-11ea-9c16-044ae81bf948.png)

then I see the same behaviour

[2019-12-03 00:27] ryanbrandenburg commented on #17522
It would seem so. I'll look into this from our end, but this may end up being a problem that the IISExpress folks will have to look at.

[2019-12-03 00:29] anisite commented on #17191
@ryanbrandenburg this one here is not good? https://github.com/hiiru/LocalizationBugExample I based my work on this guy solution as workarround. Please tel me.

[2019-12-03 00:30] tomRedox commented on #17522
@ryanbrandenburg that's great, many thanks.

[2019-12-03 00:34] dougbu commented on #17083
@leastprivilege exactly what _do_ you have installed? The logs you shared implied it's something older
[code]

----
FYI I'm hitting some issues on a new machine with these steps but the behaviour is completely different&hellip; (Probably an error on my part.)

[2019-12-03 00:39] ryanbrandenburg commented on #17191
That repro is using netcoreapp1.1, manually embedding resources and manually compiling Designer.cs files (the last two being things we tell people not to do in later releases). Given that you said you're using ASP.NET Core 3.0 you must have made significant changes, and I'd like my tests to reflect those so we can be sure I solve the precise problem you're seeing.

[2019-12-03 00:40] BrennanConroy commented on #17457
Could you provide logs from IIS and the server? https://docs.microsoft.com/aspnet/core/signalr/diagnostics?view=aspnetcore-3.0

[2019-12-03 00:40] anisite commented on #17191
Ok. I Will Do a repo! Thanks

[2019-12-03 00:41] OdeToCode opened #17534 "Access denied error when building from source"
Following the instructions in the build from source WIki on a Win10 machine. Running `restore` completes with no errors. Running `build` generates the following 4 errors.

[code]

Digging into the logs, I can see al.exe running with the following command line for the first error:

[code]

With the sysinternals tools, I can see the ACCESS DENIED error popping up when `al.exe` tries to create a file

[2019-12-03 01:06] pranavkm commented on #17531
Looks like a duplicate of https://github.com/aspnet/AspNetCore/issues/14133

[2019-12-03 01:08] djluck commented on #17484
For what it's worth my workaround for the time being has been to establish a request and then send periodic health check requests to keep the connection alive. It's not perfect but it's worked for us so far.

[2019-12-03 01:12] TheRealLenon commented on #15307
That was what I thought also at first. But when accessing the AuthorizationHandlerContext or the , and want to check if the User is authenticated, it's not working, when only signing in via SignInManager. Couldn't find anything on the internet. So I would guess it's not only an Blazor kind of "Bug"?

[2019-12-03 03:40] GrabYourPitchforks commented on #17532
I strongly recommend against using `ArrayPool` for security-sensitive operations such as password hashing. The reason for this is that if there's a bug in a completely unrelated part of the system that causes a double-return to the pool (say, a race condition in the JSON stack or in the networking stack), the resulting memory corruption could result in password leakage. If you look at the recent c

[2019-12-03 04:48] danroth27 opened #17535 "Static assets from razor class library not found add a razor class library to a running app"
Repro steps:

- Create a standalone Blazor WebAssembly app from VS (3.1.0-preview4)
- Run the app (Ctrl-F5)
- Add a Razor Class Library to the project
- Reference the RCL from the app
- Add a link to *_content/RazorClassLibrary1/styles.css* to *index.html*
- Add `<RazorClassLibrary1.Component1 />` to *Index.razor*
- Rerun the app

Expected result:

- `Component1` shows up on the home page of the a

[2019-12-03 05:35] danroth27 opened #17537 "Unable to find debuggable browser tab for new ASP.NET Core hosted Blazor WebAssembly app"
Repro steps:

- Create a new ASP.NET Core Hosted Blazor WebAssembly app (3.1.0-preview4) from Visual Studio
- Run the app (Ctrl-F5) and browse use Edge Beta (79.0.309.40)
- Hit Shift-Alt-D

Expected:

- Instructions shown on how to run the browser with remote debugging enabled

Actual result:

![image](https://user-images.githubusercontent.com/1874516/70023215-89fcd480-154b-11ea-9247-5bb9304c9099.

[2019-12-03 08:07] javiercn commented on #17535
@danroth27 Thanks for contacting us.

This has never worked. You need to build the app for it to work so that the manifest gets regenerated.

[2019-12-03 08:08] Styx8888 commented on #15498
Thanks, it works!

[2019-12-03 09:00] joacar commented on #17415
@anurse Yes I've tried it in C# Interactive as well and that _ought_ to be close to reality :)

Lets consider the possibilities (the original code in mind)

1. The value is `null` and no exception is thrown and the `if`-branch is entered correctly.
2. The value is `DefaultHttpContext` and no exception is thrown and the `else`-branch is entered correctly.
3. The value is something else and an excep

[2019-12-03 09:00] #17415 closed

[2019-12-03 09:09] iamsunny commented on #5986
Hi, any update on the Outbound Rules?

[2019-12-03 09:09] OskarKlintrot opened #17539 "`Configuration` on AddScheme is not doing anything"
### Describe the bug
I used to use `.Configure` to configure a DTO called `BasicTokenAuthenticationHandlerOptions` that is used by `BasicTokenAuthenticationHandler`. Now I have simplified the setup so I thought I would just set the properties needed directly in `.AddScheme`. Then however I got a 401 and when debugging I noticed the properties actually won't get initiated.

![image](https://user-im

[2019-12-03 09:13] liuliang-wt opened #17540 "Render razor view to string?"
Is there a way to render a razor cshtml file to string?

[2019-12-03 09:19] KamranShahid commented on #17325
Don't know why i am not getting upgrade option for it?

[2019-12-03 09:40] djary opened #17541 "custom validation attribute does show the incorrect error message in Razorpages PageRemote validation aspnet core 3"
I created one custom validation attribute and work fine:

        public sealed class DuplicateUrlCheckerAttribute : ValidationAttribute
     {
        public string GetErrorMessage() => $"آدرس Url پیش تر توسط شما یا دیگری ثبت شده است";

        protected override ValidationResult IsValid(object value, ValidationContext validationContext)
        {

            var service = (IOrderValidationServi

[2019-12-03 09:56] davidfowl commented on #17325
Does it work if you turn off publish trimming?

[2019-12-03 10:03] davidfowl commented on #5986
No, we have no plans to implement them

[2019-12-03 10:03] martincostello commented on #17516
@anurse I've correlated the error log with our IIS logs, and there appears to have been no user-facing impact (I can only see 200 and 302 HTTP statuses 1 minute either side of the exception being logged).

[2019-12-03 10:05] gthvidsten commented on #17374
These are the full warnings in the output window in Visual Studio:

Also, even if 3.3.0 exists on nuget.org, it can't be installed because it is not visible:

![Image of nuget.org version list](https://i.imgur.com/DzG9udp.jpg)

If it helps, this was originally an ASP.Net Core 2.2 project that has been upgraded to 3.0, it wasn't a brand new 3.0 project as the original post might have implied.

[2019-12-03 10:11] gthvidsten commented on #17374
I just removed reference to the `Microsoft.CodeAnalysis.Common` package from my project, and the project still has the `Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation` referenced, and for some reason the warnings disappeared! Why the warnings disappeared, though, I don't know.

The original issue still remains, though, that installing `Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation` failed b

[2019-12-03 10:24] y-lobau opened #17542 "System.Text.Json Serializer uses declared array item type rather that runtime type"
I'm not sure is it a bug or a feature, but i'm getting unexpected result when performing object-json serialization on asp.net core 3.0:

[code]
[code]

[code]

Consider the following class structure:

[code]

When using `System.Text.Json.JsonSerializer.Serialize()` resulting json includes only BasePropA value, but when serializing it with Newtonsoft.Json.JsonConvert.SerializeObject() it contains b

[2019-12-03 10:31] Razgort opened #17543 "Error 500.0 when deploying asp core 3.0 to iis windows server 2016"
hi guys,
I'm trying to deploy my asp core api on iis.
Its all working fine when deploying to azure web app.
But on iis i have the following error :
(see screen shot)
![image](https://user-images.githubusercontent.com/9212658/70043143-4a240480-15c0-11ea-8ac0-5740e2974276.png)

Has anyone encountered this issue already ? i could not found any information about it ....

[2019-12-03 10:50] WalterEbbers commented on #17416
Thank you for the clarification!

[2019-12-03 10:50] #17416 closed

[2019-12-03 10:57] iamsunny commented on #5986
thanks @davidfowl for replying. Please, do you suggest any alternate for the outbound rewrite rules? I've a situation to replace body contents before the content is rendered. I'm not sure if Regex would be costly in terms of performance. I highly appreciate any pointers, thanks.

[2019-12-03 11:26] KamranShahid commented on #17325
Lots of testing has been done already. I also liked the smaller footprint. what i am trying is move my logic to controller and removed this dll reference entirely in my domain class as it is the only thing required for httprequest object

[2019-12-03 11:45] FrancescoLorenzetti84 commented on #17502
@dorin182 I don't see anything particularly wrong with your technique, except that as I mentioned before the amount of code required to make it work is absolutely ridiculous... Who is going to do that for every component of a large code base? That is why I suggested that the Blazor team should allow components DI without any extra level of indirection.

[2019-12-03 12:05] dorin182 commented on #17502
well, taking into account that Blazor team has done huge great work, this feature could be done in the near future. Meanwhile could create a lib which does a part of the job alike MediatR. After a while maybe will implement it as well as Autofac.

[2019-12-03 12:28] Sarafian commented on #17063
Would this issue be mitigated if the configuration was changed explicitly to [In-process hosting model](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-3.0#in-process-hosting-model)?

[2019-12-03 12:32] stsrki commented on #17502
And I don't think it would be that difficult for Blazor team to implement this feature. I think they would just need to extent current `ComponentFactory` with dictionary of components and their custom counterpart.

[2019-12-03 13:11] PatrickHofman commented on #17516
I can confirm this error. It occurs to us quite often when working from Visual Studio. The error is not user-facing, but quite annoying through. In the call stack there is just:

`at Microsoft.AspNetCore.Server.IIS.Core.IISHttpServer.OnDisconnect(IntPtr pvManagedHttpContext)`

Since this is from Visual Studio, it is running IISExpress. Building for netcoreapp2.2. In the log I see that .NET Core ap

[2019-12-03 13:39] rcl4444 opened #17544 "Build Error From v3.0.0 Source"
when I invoke the build.cmd,there are some the error below
[code]
there are the the output of `dotnet --info` below
[code]
there are the ide info below
[code]
What did I do wrong? Can someone help me?

[2019-12-03 13:50] jasselin commented on #17509
@davidfowl Thanks for considering the change, it's a bit sad that I am stuck with this for 3.1, but I get that it is pretty late to introduce this kind of change.

BTW, I am really looking forward to see what you bring into the product to support hot reloading. I am doing a hacky workaround compiling dynamic assemblies and the only missing puzzle piece is unloading those assemblies. I guess I'll h

[2019-12-03 13:55] danroth27 commented on #17535
@javiercn I did rebuild the app.

[2019-12-03 14:05] xrkolovos opened #17545 "How can i use IJSRuntime before ConfigureServices in startup"
How can i use IJSRuntime before ConfigureServices?

this was asked in #5664, but it wasn't answered.

[2019-12-03 14:06] danroth27 commented on #17535
Also, the same steps work fine with a Blazor Server app and an ASP.NET Core hosted Blazor WebAssembly app. It's only the standalone Blazor WebAssembly app that has this problem, and it only happens if I've already run the app without the RCL.

[2019-12-03 14:26] danroth27 opened #17546 "In a standalone Blazor WebAssembly app IIS Express doesn't restart if the process is killed"
Repro steps:

- Create a standalone Blazor WebAssembly app in Visual Studio
- Run it (Ctrl-F5)
- Kill the IIS Express process
- Run the app again

Expected result:

- IIS Express is restarted and the app runs normally

Actual result:

- IIS Express is not restarted. The browser is launched and pointed at an endpoint that does not exist.

[2019-12-03 14:34] clement911 commented on #17478
After doing some further testing it seems that the cookie is somehow linked to ALL identities present at
the time that the cookie is generated.

Any time that the user signs in/out with any of our identity provider, the CSRF token becomes invalid.

This is problematic for us because we keep the token in memory in our SPA and use it for a long period of time.

Why are the identity claims somehow li

[2019-12-03 14:56] blowdart commented on #17532
What @GrabYourPitchforks said. There's too much risk for little to no benefit.

[2019-12-03 14:56] #17532 closed

[2019-12-03 14:58] blowdart commented on #17527
This isn't blazor related, but an actual limitation of our kerberos middleware. We're tracking [adding group/role support](https://github.com/aspnet/AspNetCore/issues/12938) but right now it simply isn't there, because you don't get enough information in a kerberos ticket.

[2019-12-03 14:58] #17527 closed

[2019-12-03 15:00] javiercn commented on #17478
@blowdart can probably give you a better explanation, but I believe is to prevent some attacks where the attacker could change the cookie+token to force the user to make a valid request or something like that.

I don't remember the exact details, but this has been like this since asp.net

[2019-12-03 15:02] blowdart commented on #17478
It protects against, mainly, cloud scenarios where you are hosting on a shared domain suffix, where an attacker could generate a CSRF token on another subdomain that would be valid. By linking it to identities which are unique to your application this risk goes away.

Given the increase in subdomain take overs in the cloud these days, it's a growing concern again, and so the behaviour will not cha

[2019-12-03 15:05] akorchev commented on #17527
@blowdart why does IsInRole work then? I also see all groups added as claims. Another thing that works is this:

[code]

Obviously I can't use it as makes all pages require that role but still.

[2019-12-03 15:08] SteveSandersonMS opened #17547 "VS Blazor WebAssembly debugging can't connect in HTTPS"
As of preview 4 it's possible to attach the debugger via CDP to a Blazor WebAssembly app, but only if you're using an `http` URL. If you're on `https`, then VS hangs for about 30 seconds before reporting "An operation is not legal in the current state".

![image](https://user-images.githubusercontent.com/1101362/70062737-81a1a980-15de-11ea-931c-439d61743c53.png)

At first I thought this would be a

[2019-12-03 15:21] akorchev commented on #17527
The linked issue gave me an idea - to test with the group id:

[code]

which worked!

[2019-12-03 15:31] #16746 closed

[2019-12-03 15:31] Postlagerkarte commented on #17531
Please consider a general review how to surface all EventArgs.

In #14792 I asked why DragEventArgs are only surfaced in read-only fashion even though those properties are writable. The answer was that they are writable only for internal purposes.  ( IMHO That is confusing )

Other people have raised issued concerning MouseEventArgs.

Basically, I would expect to be able to do all things with all

[2019-12-03 15:33] blowdart commented on #17527
Oh I see. Luck kind of. WindowsIdentity is special, it doesn't bring the roles names with it, role name resolution is done through the WindowsIdentity class, which makes a call out to the server. IIS and IIS Express resolve WindowsIdentity, but "plain" kerberos auth, using the negotiate middleware does not as yet.

[2019-12-03 15:35] akorchev commented on #17527
I ended up using a claims transformation which somewhat works:

[code]

[2019-12-03 15:42] SteveSandersonMS commented on #17546
I totally agree this is a bug and should be fixed.

However, more info: this has been the case forever and isn't specific to Blazor WebAssembly AFAIK. VS *will* restart IISExpress, but only after some time period has elapsed. I think it's about 15-30 seconds. If you try Ctrl+F5 again after that much time has passed, it works.

[2019-12-03 15:43] SteveSandersonMS commented on #17545
I don't think we have a way to do that, since the JS runtime instance is created as part of the startup flow that calls `ConfigureServices`. There would have to be some totally different APIs for instantiating a JS runtime.

[2019-12-03 15:43] blowdart commented on #17527
That works, but if you're thinking about cross platform you'd need a null check in there after the cast, in case you're not running under Windows.

[2019-12-03 15:45] SteveSandersonMS commented on #17537
Are you saying this happens just once (ever) per installation of Windows / VS? Or are you saying it just happens randomly and with low probability?

[2019-12-03 15:46] Tratcher commented on #17543
What did you get by following the given troubleshooting steps?

[2019-12-03 15:47] danroth27 commented on #17537
I'm saying it happened the first time I created an app with preview4, and I haven't been able to reproduce it again.

[2019-12-03 15:49] javiercn commented on #17547
Agree.

HTTPS is important during development as it can be the source of many production issues when not used during development.

[2019-12-03 15:50] ChrisJollyAU commented on #17510
It looks like the Net Core SDK 3.0 might not be properly installed. How was it installed in the first place? Via the installer at dot.net or via Visual Studio? Additionally have you had VS 16.4 Preview 1 installed and updated it to Preview 2 or 3. There was a known issue there that uninstalled net core SDK 3.0 https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes-preview#known-

[2019-12-03 15:52] Tratcher commented on #17539
AddScheme uses named options so it can differentiate between multiple instances. Try `options.Get("Basic")`?

[2019-12-03 16:09] rynowak commented on #9365
Note that server-side ASP.NET Core validates scopes only in the development environment. We **should not** turn this on during production 👍 we know the perf is bad.

[2019-12-03 16:26] anurse commented on #15055
Because `more-info-needed` was applied and hasn't been removed to indicate that the necessary information was provided. I'll remove the label if it's no longer accurate.

[2019-12-03 16:35] pranavkm commented on #17374
Could you specify the error in this case? A minimal repro app would really help investigating this.

[2019-12-03 16:37] NeilMacMullen opened #17548 "Blazor router generates 404 errors for some URIs it can route internally."
### Describe the bug
When creating internal links to pages with parameters it is possible to generate URIs that are correctly parsed when navigating directly to page but which result in a 404 error when navigating from an external source.

### To Reproduce

See [this stackoverflow question ](https://stackoverflow.com/questions/59140306/what-is-the-recomended-way-to-pass-blazor-parameters-that-incl

[2019-12-03 16:38] pranavkm commented on #17542
Dup of https://github.com/dotnet/corefx/issues/38650.

[2019-12-03 16:50] bradygaster commented on #10151
reiterating my fandom for this feature and the allocated milestone.

[2019-12-03 16:53] bradygaster commented on #10151
I have commenced begging and groveling.

[2019-12-03 16:54] #17542 closed

[2019-12-03 16:57] clement911 commented on #17478
I see.
On the other hand it's a major problem for us as our users can sign in/out regularly from various providers.

Is it possible to make this configurable in a future release?

Maybe in the options?
`services.AddAntiforgery(options => /*disable identities in cookies*/)`

[2019-12-03 17:03] anurse commented on #17393
Ah, thanks for the context :)

[2019-12-03 17:18] javiercn commented on #17478
@clement911 There are a few ways to fix this.

One is to redirect the user after a log-in/log-out to force the regeneration of the token (will happen automatically on a get request if the identity has changed). Given that you are building a SPA application I'm not sure how you are dealing with passing the request token to the browser, but that should work.

A couple more elaborate ways involve:
*

[2019-12-03 17:31] mkArtakMSFT opened #17549 "Automatically add debug configuration when opening Blazor WASM projects in VSCode"

[2019-12-03 17:33] ericsampson commented on #7945
I think it would be great to have a new method with parameter of type `Dictionary<string, StringValues>` @bharath-nepoleon . I went looking for this and was sad that it didn't already exist :)

[2019-12-03 17:39] mkArtakMSFT commented on #17546
This has been an issue forever and it's not a priority as it works after several seconds passed. We'll try to follow up on this when we find time.

[2019-12-03 17:40] mkArtakMSFT commented on #17546
@danroth27 do you want to follow up on this with whoever owns it?
/cc @vijayrkn

[2019-12-03 17:42] Matthew-Bonner opened #17550 "Unable to resolve services when using ServiceProvider and AssemblyDependencyResolver together"
I have created a sample project:
https://github.com/Matthew-Bonner/ProblemActivatingPlugins

When you run it, you will get the exception:
System.InvalidOperationException: 'Unable to resolve service for type 'Microsoft.Extensions.Logging.ILoggerFactory' while attempting to activate 'ExamplePlugin.Plugin'.'

I'm unsure as to why the service can't be resolved, have even gone as far as copying down t

[2019-12-03 17:43] mkArtakMSFT commented on #17537
I'm closing this for now. We'll reopen if any other reports come in.

[2019-12-03 17:43] #17537 closed

[2019-12-03 17:44] zachwieja opened #17551 "How to Log Controller/Handler Name From Middleware"
I want to log (along with other things) the name of the controller that is ultimately invoked.  That seems to require that controllers make an explicit call or use an ActionFilter.  I don't want to encumber controller writers with that.   How can I do this in middleware?   Essentially I want to insert middleware between the endpoints and the controllers.

Any recommendations?

[2019-12-03 17:47] NeilMacMullen commented on #17548
I notice this has the **question** tag added.  I should be clear that while the original SO post was in the form of a question, the (apparent) bug I'm reporting is that the router treats URIs from internal and external sources differently.  The fact that _manually_ escaping the URI still doesn't resolve the issue implies that there is some layer that is unescaping too early.

[2019-12-03 17:47] lonewolfnsp commented on #17506
Sorry for asking but is there some kind of workaround I can use for now? coz 5.0 is going to take a year to show up.

Is it an issue with the windows service nuget package or the .net core framework itself? I know in 2.x, an asp.net core web app hosted in IIS can get notified of system shutdown and application startup upon first incoming request via the IApplicationLifetime interface..

Just an un

[2019-12-03 17:50] mkArtakMSFT opened #17552 "Support custom event args in Blazor"
[Design proposal added by @SteveSandersonMS]

## Summary

Currently Blazor allows developers to define custom events for their HTML elements. This works by using the `[EventHandler]` attribute to configure the Razor compiler to recognize a new event name (e.g., `@onmyevent=SomeHandler`). However, because of both implementation and design limitations, there is currently no way for these events to a

[2019-12-03 17:51] mkArtakMSFT commented on #17531
Thanks for contacting us, @SnGmng.
As @pranavkm has pointed out, your ask is already being tracked in the referenced issue, so we'll close this issue.

@Postlagerkarte, your ask is somewhat different and we plan to address it as part of https://github.com/aspnet/AspNetCore/issues/17552

[2019-12-03 17:56] mkArtakMSFT commented on #17526
Thanks for contacting us.
We'll look into what can be done here and get back to you then. Please don't expect a quick resolution on this, as we don't plan to have anything earlier than late next year on this.

[2019-12-03 17:57] GrabYourPitchforks commented on #8978
I imagine that once static function pointers come online there would be `string.Create` overloads that would allow using those, which should also help eke out just a little bit greater perf.

[2019-12-03 18:03] dongdong-yang commented on #5816
I created an asp.net core 3.0 website with individual authentication, but all those Ids are this::

b.Property<string>("Id")
                        .HasColumnType("nvarchar(450)");

[2019-12-03 18:18] phenning opened #17553 "Project templates need to be updated for 5.0"
The template identities defined in template.json need to be updated for all the templates in master which are now targetting netcoreapp5.0.

Since they currently have the same identities as the templates which target 3.1, when these tempaltes are installed, they hide the 3.1 templates, and prevent them from being created either via dotnet new, or from within Visual Studio.

Additionally, precedenc

[2019-12-03 18:19] AlissonRS opened #17554 "Razor “cshtml.g.cs” files not being generated"
### Describe the bug
Any .net core 2.2 web application projects with razor gives this error when building:

![image](https://user-images.githubusercontent.com/4753901/70077587-fa156400-15f8-11ea-82f5-1b0a864e2171.png)

### To Reproduce
I just have to create a brand new .net core 2.2 web application (as per the image above).

I already reinstalled VS 2019 (16.3.10) and the .Net Core SDKs. Same proj

[2019-12-03 18:23] furrybaer commented on #17439
We were able to get it working using this example:

https://github.com/aspnet/Security/tree/22d2fe99c6fd9806b36025399a217a3a8b4e50f4/samples/CookieSessionSample
[https://avatars3.githubusercontent.com/u/6476660?s=400&v=4]<https://github.com/aspnet/Security/tree/22d2fe99c6fd9806b36025399a217a3a8b4e50f4/samples/CookieSessionSample>
aspnet/Security<https://github.com/aspnet/Security/tree/22d2fe99c6fd

[2019-12-03 18:24] #17073 closed

[2019-12-03 18:25] NTaylorMullen commented on #17554
@AlissonRS is that `dotnet --info` output from inside of package manager console in VS or at the command line?

[2019-12-03 18:27] AlissonRS commented on #17554
@NTaylorMullen package manager console in VS. Should I get it from cmd directly?

[2019-12-03 18:29] gfoidl commented on #8978
Yeah, I hope so too. That can open a door for a lot of "delegate" usages, and make some generic-struct-tricks obsolete.

[2019-12-03 18:30] HaoK commented on #17439
Awesome, glad to hear

[2019-12-03 18:30] #17439 closed

[2019-12-03 18:36] Razgort commented on #17543
I followed stepped from here
https://docs.microsoft.com/fr-fr/aspnet/core/tutorials/publish-to-iis?view=aspnetcore-3.0&tabs=visual-studio
I looked for all troubleshooting since yesterday ...
Got me nowhere ...

[2019-12-03 18:36] NTaylorMullen commented on #17554
@AlissonRS getting it from package manager console was preferable because I was curious if that's what your VS was using 😄.

[2019-12-03 18:37] AhmedMKamal opened #17555 "SignInManager.PasswordSignInAsync should return provide more details on failure"
### Is your feature request related to a problem? Please describe.
No, it's not a problem.

for now the default behavior of `Microsoft.AspNetCore.Identity.SignInManager.PasswordSignInAsync` method is that it returns a `SignInResult` object that describes the result of the sign-in process and it's working just fine, but the `SignInResult` object doesn't describe the result in detail, for instance,

[2019-12-03 18:41] mkArtakMSFT commented on #5485
This is a dupe of https://github.com/aspnet/AspNetCore/issues/10269

[2019-12-03 18:41] #5485 closed

[2019-12-03 18:48] blowdart commented on #17555
This is a deliberate choice to avoid giving information to an attacker.

[2019-12-03 19:09] AhmedMKamal commented on #17555
@blowdart I see, and I agree that it's a valid choice for some use-cases but, in other use-cases where the app's design requires you to provide this kind of error message it will be better to have that option in the framework that you're using.

I think it'll be better to provide this feature (may be disabled by default) and let the developer design if they want to use it or not instead of enforci

[2019-12-03 19:10] joshpearce opened #17557 "Setting ApplicationKey Name after UseStartup causes reflection exception"
### Describe the bug
Setting ApplicationKey Name after UseStartup causes a reflection exception because the string passed for the value is attempted to be loaded as an assembly via reflection.

Setting is before does not.

You can try this on any app by just adding a UseSetting call after UseStartUp.

### To Reproduce

[code]

Exception has occurred: CLR/System.IO.FileNotFoundException
An exceptio

[2019-12-03 19:11] blowdart commented on #17555
We try to design APIs that are successful by default and can't be made insecure. The option could rather violate this.

We can consider it for v5, but it's a change I'm uncomfortable with from a security point of view.

[2019-12-03 19:14] AlissonRS commented on #17554
@NTaylorMullen quick update. I uninstalled VS 2019 and SDKs again, then I deleted these folders:

- C:\Program Files\dotnet
- %USERPROFILE%\AppData\Local\Microsoft\dotnet
- %USERPROFILE%\AppData\Local\Microsoft\MSBuild
- %USERPROFILE%\AppData\Local\Microsoft\VisualStudio
- %USERPROFILE%\AppData\Local\Microsoft\VisualStudio Services
- %USERPROFILE%\AppData\Local\Microsoft\VSApplicationInsights
- %U

[2019-12-03 19:25] joshpearce commented on #17557
Let me give a little more background. I'm using the build in IdentityServer authentication. In the nav bar for the Identity area, @Environment.ApplicationName is used for the name of the application, which led me to believe that, it's just a name, not necessarily an assembly name that would be used all over the place, MVC engine, etc.

It's natural, that I would want to change that text in the Ide

[2019-12-03 19:28] AhmedMKamal commented on #17555
From a security point of view I agree :+1:

So, let's close this issue and not consider this feature since the developers can work around it and find out the specific reason for the sign-in failure if they want to :slightly_smiling_face:

Please let me know if you agree to close it.

[2019-12-03 19:38] sebastienros commented on #15094
Yes, these errors are still showing up and I need to investigate.

[2019-12-03 19:45] javiercn commented on #17548
@NeilMacMullen We don't believe that this is an issue, but that the server is not properly configured. When using MapFallbackToClientSideBlazor you can specify the route template to avoid this situation.

We need to fix this for the dev-server case as that's not configurable, but that's it.

[2019-12-03 19:51] javiercn commented on #17557
@joshpearce thanks for contacting us.

It's likely that having a different application name is confusing the Static Web Assets runtime piece, as it tries to load the assembly based on the application name to figure out the location of the static assets manifest on disk.

Many things on the framework use the ApplicationName as a way to find the entry point assembly for the app, as the application n

[2019-12-03 19:52] NeilMacMullen commented on #17548
Thanks that's interesting. (Yes, this is a server-hosted Blazor project.)  Could you point  me to a reference on how to to use this and I'll confirm it does resolve the issue?  Google has a few hits for *MapFallbackToClientSideBlazor * but they all lead to articles about setting the startup page which does seem to be what you're talking about here.

[2019-12-03 19:54] NTaylorMullen commented on #17554
Ah, no that's ok. So occasionally the .NET SDK fails to install or uninstall everything for a variety of reasons (one example being Antivirus) and you get into borked states like the one you provided. I'm glad it's fixed on your end now though!

[2019-12-03 19:54] #17554 closed

[2019-12-03 20:04] rpc-scandinavia commented on #16571
Yes, the BlazorFiddle show that there is something wrong.
However I wait and see if the new betas or 3.1 solves the problem.

[2019-12-03 20:04] hodzanassredin opened #17559 "Improve docs about IdentityServer configuration"
I'm tried to create a SPA application(asp net core 3) from the template and add custom console client, unfortunately, it took to much time to find a solution.

`dotnet new react -o Test -au Individual`

After that, I found that there is a section IdentityServer in appsettings.json.

`  "IdentityServer": {
    "Clients": {
      "Test.Web": {
        "Profile": "IdentityServerSPA"
      }
    }
  }

[2019-12-03 20:11] joshpearce commented on #17557
Hi @javiercn

Your explanation of the use of the application name makes sense to me. But I'm not sure I follow this:

Are you saying that the Razor Pages area that is built into Microsoft.AspNetCore.Identity.UI can be selectively overridden? Or are you suggesting to completely implement a new UI like this: https://github.com/IdentityServer/IdentityServer4.Quickstart.UI

[2019-12-03 20:22] tomRedox commented on #17522
@ryanbrandenburg have you got everything you need for me on this one?  If so should the 'Needs: Author Feedback' tag be removed?

[2019-12-03 20:28] leastprivilege commented on #17083
I have the latest non-preview VS installed - what looks weird to me is that the script first installs MSBuild

`Downloading RoslynTools.MSBuild 16.0.0-alpha`

and then explicitly invokes it via the tools folder

`C:\local\ms\AspNetCore\.tools\msbuild\16.0.0-alpha\tools\MSBuild\Current\Bin\msbuild.exe /nologo /bl:C:\local\ms\AspNetCore\artifacts\log\Debug\ToolsetRestore.binlog /clp:Summary /clp:Err

[2019-12-03 20:32] dotnetjunkie commented on #14247
David,

Thank you for your input. The custom `HubDispatcher<T>` was meant as a solution to ensure that all calls to a `Hub` would be wrapped in a (lifetime) scope. I'm now trying to reproduce the scenario where a hub would be called outside the context of an active Simple Injector scope. This would only happen when the scope is called outside the context of a web request; for instance when middlew

[2019-12-03 20:54] blowdart commented on #17555
Thank you for understanding.

[2019-12-03 20:54] #17555 closed

[2019-12-03 20:54] anurse commented on #17325
In general, there are no longer packages for ASP.NET Core in 3.0 because it only runs on .NET Core, which has it as a "framework reference". You can reference all the ASP.NET Core components using a [Framework Reference](https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#framework-reference).

[2019-12-03 20:58] anurse commented on #7945
I'd suggest taking `IEnumerable<KeyVaultPair<string, StringValues>>` if you're going to do that (possibly just making the existing one public, if it's appropriate). The `Dictionary<string, StringValues>` class *implements* `IEnumerable<KeyVaultPair<string, StringValues>>` so you'd be able to pass it in directly.

A new public API like that would need to go through an API review, and it might be wo

[2019-12-03 21:26] #17557 closed

[2019-12-03 21:34] javiercn commented on #17557
@joshpearce Yes. Overriding the UI for Identity should be orthogonal to using Identity Server with our integration package.

[2019-12-03 21:41] seesharper commented on #14907
Take a look at this article for more information about AspNet Core 3.0 integration tests
https://andrewlock.net/converting-integration-tests-to-net-core-3/

[2019-12-03 21:54] ryanbrandenburg commented on #17522
@tomRedox we have automation that's supposed to do this when the Author replies so that it's faster and more reliable, but apparently that's not working ATM.

[2019-12-03 22:08] gthvidsten commented on #17374
The error is stated in the original post, but I can paste it again here for brevity:

MyProject -> Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation 3.0.0 -> Microsoft.CodeAnalysis.Razor 3.0.0 -> Microsoft.CodeAnalysis.Common (>= 3.3.0)

[2019-12-03 22:30] ryanbrandenburg commented on #17074
Haven't run into any additional instances of this, so closing it out.

[2019-12-03 22:30] #17074 closed

[2019-12-03 22:38] wtgodbe commented on #14832
We also skip these in https://github.com/aspnet/AspNetCore/pull/17335

[2019-12-03 22:48] ericsampson commented on #7945
Of course, didn't look close enough when I copy-pasted the original comment :) Cheers!

[2019-12-03 22:48] ryanbrandenburg commented on #17269
@Safirion I talked with @mkArtakMSFT offline and we think the best course is for you to report this through the VS Feedback flow. We suggest including a link to this issue in addition to your description of the issue you're facing. We'll close is as an external issue then. Let us know if you don't hear anything for a while.

[2019-12-03 22:48] #17269 closed

[2019-12-03 23:04] anurse commented on #17415
@joacar no worries, thanks for the follow-up!

[2019-12-03 23:12] pranavkm commented on #17374
@gthvidsten is there any more to the conflict message? It looks like it's missing the other edge that it's conflicting with.

[2019-12-03 23:17] mkArtakMSFT commented on #17269
Actually it seems we've made a mistake here. Specifically, this issues was mistakenly moved to us from VS Feedback already. Rather than opening a new issue, the right thing to do would be for us to reopen the original VS Feedback issue and try to redirect it to the correct owners.
I'll do this now.

[2019-12-03 23:41] Tratcher commented on #7945
Making the existing `private static string AddQueryString(string uri, IEnumerable<KeyValuePair<string, string>> queryString)` public should be fine.

I'd be curious to see the calling code sample re-written to show the difference between using string vs StringValues.

[2019-12-03 23:47] oliverjanik opened #17564 "Support Model Binding to JsonDocument and Response Serialisation from JsonDocument"
AspNetCore version 3.0

Model Binding currently throws:
[code]

Response serialization does not treat JsonDocument well:
[code]
It outputs
[code]

Quite unexpected, this worked well with JObject.

Apologies, if this has been discussed previously.

[2019-12-04 00:04] pranavkm opened #17566 "InvalidModelStateResponseFactory results in incorrect status code when custom ProblemDetailsFactory is used"
This was reported as part of https://github.com/aspnet/AspNetCore/pull/17322. As part of https://github.com/aspnet/AspNetCore/issues/14663, we made sure `ControllerBase.Problem` produced an `ObjectResult` that had the same status code as the `ProblemDetails` that was produced. In a similar vein, `ApiBehaviorOptions.InvalidModelStateResponseFactory` produces a `ObjectResult(problemDetails)` with a

[2019-12-04 00:09] aTable commented on #8467
I encountered this issue by having several class libraries with varying versions. As https://github.com/aspnet/AspNetCore/issues/8467#issuecomment-512329385 says, check all your csproj are using a consistent version.

[2019-12-04 00:13] pranavkm opened #17568 "Port InvalidModelStateResponseFactory results in incorrect status code when custom ProblemDetailsFactory is used to 3.1"
Issue: https://github.com/aspnet/AspNetCore/issues/17566

-------------------------------------------------------------------------------------

#### Description
`InvalidModelStateResponseFactory` produces `ObjectResult(problemDetails)` instances, but does not correctly set the status code. This results in a "problem" result with a 200 status code. This specifically happens when a user implements

[2019-12-04 00:14] pranavkm commented on #17568
Here's the 5.0 change for this: https://github.com/aspnet/AspNetCore/pull/17565/files.

[2019-12-04 00:17] #14894 closed

[2019-12-04 00:27] HughPH opened #17569 "Blazor FR: Graceful Degradation on 5xx errors"
When loading a BlazorWASM app, and a server or service returns a 5xx error, Blazor will _ignore_ the error and then fail (quietly, in the console) when trying to load the affected assembly.

I appreciate that BlazorWASM has not reached GA at this time, but I do feel strongly that this is something that needs to be considered.

### The solution as I envisage it:

Actually having given this some tho

[2019-12-04 00:31] ctolkien opened #17570 "3.1 Blazor - Order of elements changes unexpectedly"
### Describe the bug
Having certain multiple of Components embedded on a razor pages using `EditForm` and using a model which is (potentially?) a primitive type causes the first instance of the component to render using a non-deterministic order.

This is hard to explain - watch here:
https://1drv.ms/v/s!An11vYV7OnV4psZ2ga9UCe_QyYbXJA

### To Reproduce
https://github.com/Soda-Digital/blazor-repro-

[2019-12-04 00:55] 19chang19 commented on #17526
Have you confirmed this question? Why is it so late?

[2019-12-04 01:04] halter73 commented on #13030
Here's the full logs for the DiagnosticMemoryPool failure:

[code]

The log I'm really interested in is "[6.576s] [Microsoft.AspNetCore.Server.Kestrel] [Debug] Some connections failed to abort during server shutdown." This is logged [here](https://github.com/aspnet/AspNetCore/blob/3b7cdc166aa3c9733fa60b56d91fc0fff9b11652/src/Servers/Kestrel/Core/src/KestrelServer.cs#L212). In this case the transpo

[2019-12-04 03:49] awe-source opened #17572 "Logging STdout filename discrepancy"
Same app stdout pears to be in different formats

Stdout_pid_yyyyMdhms.log
Stdout_yyyyMMddhhmms_pid.log

Maybe these format strings are not quite right but hompefully you get the idea

 we change this  aspcoremodule <> aspcoremodulev2
And the output file format changes...  and then changes back.

How and why is this even possible.
There does not appear to be any config related to this anywhere  we

[2019-12-04 05:13] KamranShahid commented on #17325
My project is .netcore 3.0. I have removed old nuget package of 2.2.
Now as ide doesn't find Any library of HttpRequest so Shouldn't framework automatically reference or some option comes in intellesense to reference it?

[2019-12-04 06:06] Razgort commented on #17543
this is resolved using hosting bundle 3.1 instead of 3.0 dont know why ...

[2019-12-04 06:06] #17543 closed

[2019-12-04 06:20] davidfowl commented on #14247
That's not a great assumption, especially for things like long polling and non-http SignalR. That said, I don't understand why you can't create your scope and tear it down in CreateHub and Release. What am I missing?

[2019-12-04 07:11] OskarKlintrot commented on #17539
I could just use `base.Options`:
https://github.com/aspnet/AspNetCore/blob/3b7cdc166aa3c9733fa60b56d91fc0fff9b11652/src/Security/Authentication/Core/src/AuthenticationHandler.cs#L85

I can't find anything about AddScheme or AuthenticationHandler in the docs, am I not supposed to use these methods/classes or is it just the docs missing pieces?

[2019-12-04 07:11] #17539 closed

[2019-12-04 07:35] leastprivilege commented on #17083
I tried it again with the `release/3.1` tag. Same problem. I have the latest RTM of VS installed.

[code]

[2019-12-04 07:51] FrancisFYK opened #17574 "razor page changes compiled automatically"
Razor Page multiple Areas are separated in different projects, and each change requires manual recompilation. Is there any configuration that can be automatically compiled with the same changes as MVC?

[2019-12-04 07:57] clement911 commented on #17478
@javiercn thank you but that sounds quite tricky.

Currently, when serving the SPA we generate a token with `IAntiforgery.GetAndStoreTokens` and then the SPA passes the token on every requests (except GETs).

If that same user opens another tab and authenticates with a different identity, it invalidates the token generated previously.
Given that's it's a SPA we can't redirect the user.
Using an iF

[2019-12-04 07:59] huysentruitw commented on #17518
@Tratcher is it ok to take that sample code from the doc and create a drop-in NuGet package for it?

[2019-12-04 08:18] Microshaoft commented on #14512
@pranavkm @mkArtakMSFT after .NET Core 3.1 released, when will the feature be back?

[2019-12-04 08:24] azydevelopment opened #17575 "Lockout in React app template with Identity doesn't seem to be working."
### Describe the bug
Lockout won't work when using the React app template with Identity (Visual Studio 2019). The Login page when scaffolded in does show this:

![image](https://user-images.githubusercontent.com/29720335/70125364-89d40600-162b-11ea-8515-423bad460cd3.png)

Two things to note:

1. The lockoutOnFailure argument is set correctly
2. The documentation in the comments just above that cal

[2019-12-04 08:29] clement911 opened #17576 "CSRF token is linked to user identities"
Continuing the discussion starting on #17478 ...

We have recently implemented CSRF protection with `services.AddAntiforgery` and have hit some issues.

Specifically, we understand that the current version of the Antiforgery issues a CSRF cookie which contains a sort of hash of the identity of the user.

This is problematic for our SPA application.
Currently, when serving the SPA we generate a tok

[2019-12-04 08:29] clement911 commented on #17478
I opened a new issue to discuss as this issue originally relates to something very different.
https://github.com/aspnet/AspNetCore/issues/17576

[2019-12-04 08:34] clement911 commented on #17576
https://github.com/aspnet/AspNetCore/blob/4a5f2d16bbeab0e16f3786d5058872c013c686f9/src/Antiforgery/src/Internal/DefaultClaimUidExtractor.cs#L40-L121

[2019-12-04 08:39] clement911 commented on #17576
There is quite a bit of copy and paste but it seems that the code will first look for a claim `'sub'` or `ClaimTypes.NameIdentifier` or `ClaimTypes.Upn` and use that instead of all claims if it finds one.

I don't get why but we could potentially generated an identity with such a claim, which would remain constant regardless of other identities / claims.

But how are the identities ordered? It see

[2019-12-04 08:51] clement911 opened #17577 "Need a way to validate a CSRF token that is not provided via a form field or HTTP header."
When we implement oauth with a third party, we can provide a 'state' parameter that the oauth provider will pass back to us in our redirect url. This is useful to implement CSRF protection and ensure an attacker is not hitting our redirect url directly.
We want to generate a CSRF token programmatically to populate the state paramater, and then validate it when our redirect url is hit.

Currently t

[2019-12-04 08:52] gthvidsten commented on #17374
That was the only error message that appeared in the output window when I tried to install the package.

[2019-12-04 10:02] javiercn commented on #17577
@clement911 thanks for contacting us.

Our OAuth authentication handler already does this. I would suggest you check the code for any of the authentication handlers that does this or use those directly.

[2019-12-04 10:04] niconico49 opened #17578 "Visual studio 16.4.0 update of 2019/12/04"
### Describe the bug
After the upgrade of visual studio 16.4.0 of 2019/12/04
In every razor page for every components included and correctly reference by the @using syntax the intellisense doesn't recognize this situation!!! Despite this the visual studio compiles correctly

But this other problem is more critical!!!!!!!!!!!!!!!!!!

"Every breakpoint debugger" in a "vb.net" project shows the windo

[2019-12-04 10:14] javiercn commented on #17559
@hodzanassredin thanks for contacting us.

We do have some documentation about this already. Is there something you think is missing? This is described https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-api-authorization?view=aspnetcore-3.1#other-configuration-options

Keep in mind that our support is focused on SPA applications so for something like a console client you

[2019-12-04 10:15] javiercn commented on #17553
Thanks @phenning.

We'll triage this and get it updated. @mkArtakMSFT this should be simple to perform, we should probably included in preview1 of 5.0

[2019-12-04 10:17] clement911 commented on #17577
I see.
Could you point me somewhere?

[2019-12-04 10:24] javiercn commented on #17577
https://github.com/aspnet/AspNetCore/blob/master/src/Security/Authentication/OpenIdConnect/src/OpenIdConnectHandler.cs#L409 for an example.

I would suggest you don't do this on your own. I'm not completely sure what authentication mechanism you are using for your app. I suspect you are using cookies (which is why you are using Antiforgery?) so my first recommendation would be to move away from th

[2019-12-04 10:45] clement911 commented on #17577
Yes, we are using cookies.
We considered JWT but it seems that there are several severe limitations.
If I understand correctly, any time that you open a new tab (e.g click a permalink), you would have to authenticate again? That doesn't seem like a good user experience unless I'm missing something.

I had a look at the code you shared but I'm really lost.

Is there no API to validate a token that

[2019-12-04 10:54] javiercn commented on #17577
That's not the case depending on how you do it. In most cases you either have a token stored in localStorage or the client can log the user in without user interaction provided they are logged in on the authorization server.

[2019-12-04 11:18] clement911 commented on #17577
Ok, that's good to know and something for us to investigate at some point.
That being said, this is orthogonal to my original question here.

Take [Stripe's oauth](https://stripe.com/docs/connect/oauth-reference) for example.
How do we validate the token that we passed when they redirect back to us?

![image](https://user-images.githubusercontent.com/3426504/70137868-46ab7e80-168f-11ea-9fb9-1b5eac

[2019-12-04 11:26] jcemoller commented on #14391
@hishamco @mkArtakMSFT

I've now created a new project from a 2.2 template, see commit https://github.com/jcemoller/net-core-localization-bug/commit/b40367a30fb82d398f6803590b9b678e1c32548b.

In the repo code, if `UseRequestLocalization` is placed in **LOCATION 1** you will always see the text "IsAuthenticated is FALSE" in Home/Index. If `UseRequestLocalization` is placed in **LOCATION 2**, after

[2019-12-04 11:42] hodzanassredin commented on #17559
I think it is good enough. Unfortunately, I was not able to find it. Probably my miss.

[2019-12-04 11:42] #17559 closed

[2019-12-04 11:45] hodzanassredin commented on #17559
Probably "Identity with SPA" is not the place where you are expecting to find information about clients configuration.

[2019-12-04 11:48] javiercn commented on #17577
@clement911 Use the OAuthHandler that asp.net core provides and it will do it for you. Otherwise, implement your own. The antiforgery support in ASP.NET Core is not suitable for this scenario.

See https://github.com/aspnet/AspNetCore/blob/master/src/Security/Authentication/OAuth/src/OAuthHandler.cs for details. There are many already made available by the community https://docs.microsoft.com/en-u

[2019-12-04 12:22] adrianwright109 commented on #17578
The debugging issue with Edit and Continue when no changes have been made to the code is an on going issue that doesn't seem to have been resolved as yet.

It has been raised in the Developer Community via the VS Feedback tool.

See the 3 page thread here: [https://developercommunity.visualstudio.com/content/problem/705494/without-any-changes-to-source-files-edits-were-mad.html](https://developerc

[2019-12-04 12:31] mattiasw2 opened #17579 "How to properly type Microsoft.AspNetCore.Mvc.ProblemDetails in a typed client?"
### Is your feature request related to a problem? Please describe.

I use aspnet core 3.0, and I am generating the client using openapi-generator for Elm. The problem is that Elm is a typed programming language, so the extensions field below in the swagger.json cannot be handled by Elm. If TypeScript takes types seriously, it should have the same problem.

      "ProblemDetails": {
        "type":

[2019-12-04 12:32] mattiasw2 commented on #17579
The swagger.json is generated by

       "x-generator": "NSwag v13.1.6.0 (NJsonSchema v10.0.28.0 (Newtonsoft.Json v12.0.0.0))",

[2019-12-04 13:07] harjit-neo opened #17594 "Multiple users get registered with same email id"
I am using entityframework 2.2. to sign up I am using the below code

[code]

Above post method is working perfectly fine until I used the PostMan tool to hit the post API with same post body with the gap of neno seconds. Above function need to insert first request and for subsequent API requests above function need to return error message

Because post request frequency is in neno seconds  and be

[2019-12-04 14:11] wisepotato commented on #15373
So my startup knows about how tests are run? I mean I want to disable the middleware in my tests but I don't want that to EVER happen in production.

Is this really the idea? Because that would mean all the options i want to test/disable in my tests should be checked in my startup, creating a lot of checking and passes. While I could also override it in a clean new startup.

So my question is: why

[2019-12-04 14:25] Mart-web1 opened #17582 "Modification to HttpRequest extensions"
### Is your feature request related to a problem? Please describe.
No, this isnt relating to an existing problem, however its related to functionality which I found confusing.

### Describe the solution you'd like
The EnableBuffering method that has been created within the following location extension class
"AspNetCore/src/Http/Http/src/Extensions/HttpRequestRewindExtensions.cs" uses an arbitrary

[2019-12-04 14:37] niconico49 commented on #17578
Now I've, in some sense solved the problem of edit and continue by disabled that option from visual studio (from the tools => options => debugging

But the other problem about the intellisense remains.... and now become critical too, because now the visual studio doesn't show the correct highlight in the component razor!!!
The debugging in that .razor component is not active (in every breakpoint v

[2019-12-04 14:45] JoelW187 opened #17583 "VS2019 Publish UI does not allow update from netcoreapp3.0 to 3.1"
After upgrading to Visual Studio 2019 16.4.0 I updated a Blazor WebAssembly solution so all the projects were upgraded to .NET Core 3.1 and .NET Standard 2.1. The solution compiled and ran correctly under the debugger. But when I tried to publish using an existing publish profile (created under .NET Core 3.0) I got the dreaded:

Editing the publish profile through the VS2019 UI listed the Target F

[2019-12-04 15:07] Kant8 opened #17584 "SignalR deadlocks client on internal server-side exceptions during nested InvokeAsync call"
As title says when client makes nested call to InvokeAsync (inside ConnectionHub.On() handler), server [can throw InvalidDataException](https://github.com/aspnet/AspNetCore/blob/master/src/SignalR/server/Core/src/HubConnectionHandler.cs#L265) if message is larger than a limit. This results in ClosedMessage [being received by client](https://github.com/aspnet/AspNetCore/blob/master/src/SignalR/clie

[2019-12-04 15:12] sven5 opened #17585 "Accessing HttpContext.Items fails on WebKit browsers"
We're developing a .NET Core 3.1 Blazor application.
In short, we use custom middleware to authenticate the User and store the `IdentityUser` object in the `HttpContext.Items` collection to retrieve it later in a scoped service. This works fine for most scenarios. However, there seems to be a problem when using a WebKit device (Apple iPad). The `HttpContext.Items` is always null. It seems that the

[2019-12-04 15:18] MarkStega commented on #17535
I'll chime in with exactly the same experience that Dan reported. My 'self hosted' CSB app fails to load content from a RCL component but when the same app is hosted on a DNC 3.1 site the content is loaded as expected.

[2019-12-04 15:33] dbacher commented on #15146
@davidfowl
I would like to use SignalR on a US DOD system (cue "omg deathmonger and w/e comments"), and so I need to integrate it with systems written in 1995, that were an original cause for the Personnel folks even getting desktop computers, versus shuffling actual papers.

The attacks I'm trying to deal with run like this...

An attacker connects to a hub, and starts just spooling valid message

[2019-12-04 15:54] Tratcher commented on #15373
Startup controls how your app runs in any environment. If you want to provide a different startup for tests, that's up to you.

[2019-12-04 15:54] DouglasRiddle commented on #17467
For what it is worth, I tried it today with the production releases of ASP.NET Core 3.1.0 and VS 16.4.0 and it still has the same issue.

[2019-12-04 16:04] Tratcher commented on #17518
Only if you want to maintain it, it will likely need additions.

[2019-12-04 16:06] Tratcher commented on #17539
It's an advanced scenario we don't have good doc coverage for. Most people consume existing providers.

[2019-12-04 16:13] javiercn commented on #17585
@sven5 thanks for contacting us.

Is that callstack inside the Blazor App? In general we don't recommend using the IHttpContextAccessor anywhere and it is not something that works with Signalr apps or Blazor apps for that matter.

I recommend you take a look at https://docs.microsoft.com/en-us/aspnet/core/security/blazor/?view=aspnetcore-3.1&tabs=visual-studio#authenticationstateprovider-service f

[2019-12-04 16:16] javiercn commented on #17583
@JoelW187 thanks for contacting us.

We believe this issue is external and you'll get a faster and better answer by filing the issue through the report a problem dialog in Visual Studio. For more details see https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019

@vijayrkn Can you take a look at this?

[2019-12-04 16:16] ranouf opened #17586 ".net core 3.0, issue with IClassFixture, “unresolved constructor arguments: ITestOutputHelper output”"
I made a repo for the issue I have with Integration testing upgrading to .net core 3.0 :
https://github.com/ranouf/TestingWithDotNetCore3_0

When I launch the test, I have this issue:
Message:

Here is the constructor:

    public class WeatherForecastController_Tests : IClassFixture<TestServerFixture>
    {
        public WeatherForecastController_Tests(TestServerFixture testServerFixture, ITestO

[2019-12-04 16:21] Tratcher opened #17587 "Codeowners not working for aspnet/http2"
We added CODEOWNERS entries for the shared HTTP2 code for the aspnet/http2 group:
https://github.com/aspnet/AspNetCore/blob/3b7cdc166aa3c9733fa60b56d91fc0fff9b11652/.github/CODEOWNERS#L22-L23

But it still isn't requesting PR reviews when those files are changed:
https://github.com/aspnet/AspNetCore/pull/17573

Apparently that group needs write access to the AspNetCore repo, not just read access.

[2019-12-04 16:23] jkotalik commented on #17572
We changed the file name for the stdout log between AspNetCoreModule and AspNetCoreModuleV2. Are you hitting issues with the name change? We could potentially update the documentation here to mention that the log file format changed: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-3.1#attributes-of-the-aspnetcore-element

[2019-12-04 16:30] ranouf commented on #17586
I was thinking that maybe ITestOutputHelper was a service injected by Xunit with "UseTestServer". So I tried in TestServerFixture to do this:

        public TestServerFixture()
        {
            Output = Services.GetRequiredService<ITestOutputHelper>(); ;
            Client = Server.CreateClient();
            InitializeDataBase();
        }

But I got the error:

[2019-12-04 16:31] Webreaper commented on #17079
Any update on this? I've just updated to DotNetCore SDK v3.1.0 and the problem still happens.

[2019-12-04 16:42] sven5 commented on #17585
@javiercn
Thanks for your support. I think that was the missing piece. I must've missed the `AuthenticationStateProvider`

Regards
Sven

[2019-12-04 16:48] javiercn commented on #17079
@Webreaper this is scheduled for preview5, so I wouldn't expect any action on this until the end of the year.

You can probably workaround this through MSBuild extensibility by setting the ExcludeFromSingleFile property on the ResolvedFileToPublish items for the static web assets.

[2019-12-04 16:50] rperazzolli commented on #17465
Thank you very much.

________________________________
De: Javier Calvarro Nelson <notifications@github.com>
Enviado: viernes, 29 de noviembre de 2019 15:23
Para: aspnet/AspNetCore <AspNetCore@noreply.github.com>
Cc: rperazzolli <rperazzolli@hotmail.com>; Mention <mention@noreply.github.com>
Asunto: Re: [aspnet/AspNetCore] Incorrect operation of components contained in a list (#17465)

Closed #174

[2019-12-04 16:53] Webreaper commented on #17079
Thanks for the update. I'm using normal publishing for now, but thanks for the tip!

[2019-12-04 16:59] Kahbazi commented on #17551
You can add a middleware after `UseRouting()` and before `UseEndpoints()` and use the endpoint metadata to get the controller name.

[code]

[2019-12-04 17:02] kevingates opened #17588 "On-page Anchor Tags Not Working for "Jumping" around the page."
### Describe the bug
On page anchor tags used for jumping around on a single page (example: FAQ Questions at the top, to jump to the Question and its Answer lower on the page) do not work as expected.

### To Reproduce
I'm using anchor tags for onsite navigation (think FAQ,). I want to jump down to a section and back up. And one of them works and the other doesn't

Something like this:
[code]
Esse

[2019-12-04 17:04] barahonajm commented on #17483
Thanks for the answer, yeah I am probably not using generic host in the correct way to make a interactive console a doc on this could be great! but my main concern is about the order of logs which could not be a big deal.

For example here:
https://github.com/aspnet/Extensions/blob/master/src/Hosting/samples/GenericHostSample/ProgramHelloWorld.cs

There is two hosted services and the host is execu

[2019-12-04 17:07] javiercn commented on #17444
We can't do this in preview5 as we can't move to this until VS starts sending the header

[2019-12-04 17:16] #17585 closed

[2019-12-04 17:17] Tratcher commented on #17483
RunConsoleAsync is effectively just an alias for Host.RunAsync(). That starts all of the services and then the ConsoleLifetime logs that everything has successfully started. This is the expected behavior.

I could see re-ordering these lines so that the CTL+C log was last.
https://github.com/aspnet/Extensions/blob/cda774390962745f07baa11069f46aec489f4c61/src/Hosting/Hosting/src/Internal/ConsoleLif

[2019-12-04 17:20] javiercn commented on #17578
@niconico49 thanks for contacting us.

In order for us to better troubleshoot this issue, could you file it through the Send feedback dialog in Visual Studio and include the ticket link in this issue? https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019

@NTaylorMullen Can you take a look?

[2019-12-04 17:22] javiercn commented on #17570
@ctolkien thanks for contacting us.

@SteveSandersonMS can you take a look?

[2019-12-04 17:24] javiercn commented on #17569
@HughPH thanks for contacting us.

You could do this by using Blazor.start. I'm linking you to the server docs for a sample, but it works the same way for blazor wasm. https://docs.microsoft.com/en-us/aspnet/core/blazor/hosting-models?view=aspnetcore-3.1#configure-the-signalr-client-for-blazor-server-apps

[2019-12-04 17:25] #17545 closed

[2019-12-04 17:25] #17531 closed

[2019-12-04 17:28] javiercn commented on #17588
@kevingates thanks for contacting us.

Could you provde a minimal repro project that illustrates this issue?

[2019-12-04 17:30] NTaylorMullen commented on #17578
@niconico49 Could you provide a simple repro project and steps with expected/actual on how to reproduce?

[2019-12-04 17:30] #17577 closed

[2019-12-04 17:31] javiercn commented on #17574
@FrancisFYK thanks for contacting us.

@pranavkm can you answer this?

[2019-12-04 17:31] seesharper commented on #14907
As @roend83 mentioned it works when adding third party DI registrations at the time the `IHostBuilder` is bein set up.
Take a look here for an example

https://github.com/seesharper/heatkeeper/blob/master/src/HeatKeeper.Server.Host/Program.cs

And the customization of the container during test is here

https://github.com/seesharper/heatkeeper/blob/master/src/HeatKeeper.Server.WebApi.Tests/TestBase

[2019-12-04 17:33] Tratcher commented on #17582
That's pretty dangerous, people regularly use this to buffer multi-GB uploads which would crash your app if done in memory.

That threshold is configurable in the other overloads.

[2019-12-04 17:39] javiercn commented on #17564
@oliverjanik thanks for contacting us.

We believe this is a feature missing on the JSON Serializer. It will be better if you file this issue in the https://github.com/dotnet/corefx repository.

@ahsonkhan This might interest you.

[2019-12-04 17:39] #17564 closed

[2019-12-04 17:40] javiercn commented on #17553
@ajaybhargavb  Can you take care of making this change?

[2019-12-04 17:41] javiercn commented on #17551
@zachwieja thanks for contacting us.

@Kahbazi answer is correct, that's the appropriate approach.

[2019-12-04 17:41] #17551 closed

[2019-12-04 17:43] javiercn commented on #17540
@liuliang-wt thanks for contacting us.

@pranavkm can you answer this?

[2019-12-04 17:47] anurse opened #17589 "Testing something with the msftbot"
I'm suspicious that it isn't removing the "Needs: Author Feedback" label properly, so I'm testing something here. Disregard this issue. Sorry for the spam...

[2019-12-04 17:47] anurse commented on #17589
Testing

[2019-12-04 17:48] anurse commented on #17589
Testing again

[2019-12-04 17:49] anurse commented on #17589
Testing again.

[2019-12-04 17:49] anurse commented on #17589
Fixed!

[2019-12-04 17:49] #17589 closed

[2019-12-04 17:59] blowdart commented on #17576
If you're in a SPA app then why not authenticate with JWT which doesn't have CSRF concerns so an anti-forgery token isn't needed?

[2019-12-04 18:16] kevingates commented on #17588
https://github.com/kevingates/blazor-anchor-tag-bug
@javiercn see above

[2019-12-04 18:16] ryanbrandenburg commented on #14558
Given https://github.com/aspnet/AspNetCore/pull/14964#issuecomment-561772063 we're going to close this. For now our recommendation for anyone having trouble with this is that they include any descendent/more specific cultures explicitly in their SupportedCultures.

[2019-12-04 18:16] #14558 closed

[2019-12-04 18:18] pranavkm commented on #17564
You should be able to serialize \ deserialize a `JsonElement` instance:

[code]

[2019-12-04 18:19] ryanbrandenburg commented on #14452
Given https://github.com/aspnet/AspNetCore/pull/14964#issuecomment-561772063 we're going to close this. For now our recommendation for anyone having trouble with this is that they include any descendent/more specific cultures explicitly in their SupportedCultures.

[2019-12-04 18:19] #14452 closed

[2019-12-04 18:48] barahonajm commented on #17483
Got it, so ConsoleLifetime makes sure all services are started correctly and only then logs that success. Now it make sense for me thank you!!

[2019-12-04 18:49] clement911 commented on #17576
It's a separate question. There are pros and cons with both cookies and jwt.
At least for now our architecture relies on cookies.

[2019-12-04 18:59] pranavkm commented on #17272
Ping @danroth27 \ @mkArtakMSFT. Since the suggestion is to do this for a patch release, should we triage this for an earlier release?

[2019-12-04 19:00] pranavkm commented on #17574
There's a tracking issue to add support for this in VS: https://github.com/dotnet/project-system/issues/3163. In the meanwhile, you could consider using runtime compilation to make this amenable today. The sample here - https://github.com/aspnet/samples/blob/master/samples/aspnetcore/mvc/runtimecompilation/MyApp/Startup.cs#L35-L39 - demonstrates using runtime compilation to watch for file changes

[2019-12-04 19:00] #17574 closed

[2019-12-04 19:03] blowdart commented on #17464
If you only have 3 columns why use identity at all? It has the assumption you want so much more.

Just do your check, and then use the [cookie middleware](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/cookie?view=aspnetcore-3.1) to write out a secure cookie.

[2019-12-04 19:06] blowdart commented on #17132
The identity "forms" (can't think of a better way to describe them) aren't angular aware, even in our own SPA templates they're still classic MVC.

Did you try forcing the logout in the controller endpoint?

[2019-12-04 19:18] #17566 closed

[2019-12-04 19:32] blowdart commented on #17576
Our CSRF implementation is coded to use the user identity when it's available to protect against shared domain attacks. It's a conscious choice on our part, and not one we plan to change.

[2019-12-04 19:49] HughPH commented on #17569
Thanks for your attention to this Javier!

The "guts" of my index.html boils down to two lines:

[code]

The "splash screen" is another div before this one.
Once my app is loaded, I set its div's opacity to 1 with jsinterop, and it smoothly fades in. I could equally put the "splash screen" over the top and fade it out.

I _imagine_ your proposal is to add `autostart="false"` to the the blazor.weba

[2019-12-04 19:59] Oninaig commented on #16840
Just wanted to chime in and say that while the workaround described by OP will work for his specific case, I am also running into his same error when trying to navigate to URLs that contain "invalid" characters when the URL itself was copied and pasted from a URL provided by `NavigationManager`.

Example (using server-side blazor): I have a button on a particular component that navigates to `http:

[2019-12-04 20:12] blowdart commented on #17211
Identity is designed to be in a separate area. I guess you could fudge a route, but that's really an MVC question

@pranavkm ?

[2019-12-04 20:20] pranavkm commented on #17211
@javiercn would have more context here.

[2019-12-04 20:25] cbrit commented on #17211
I think the question is more a general one than specifically the Login page:

I believe he's asking if there is a way to hard code a route once and then use a reference to it wherever relevant instead of having to hard code it everywhere. Is that right @scalablecory ?

[2019-12-04 20:33] anurse commented on #17587
Done.

[2019-12-04 20:33] #17587 closed

[2019-12-04 20:40] HaoK commented on #17575
So the scaffolding was out of sync from the UI code, which doesn't set lockout to true: see https://github.com/aspnet/AspNetCore/blob/master/src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Login.cshtml.cs#L132

Did you confirm that the lockout works after scaffolding?

[2019-12-04 20:41] stesee opened #17591 ""Preview 3" still part of some strings in Hosting Bundle"
Some strings in RTM Hosting Bundle Installer missed a update:
![image](https://user-images.githubusercontent.com/168659/70179233-f576ab80-16dd-11ea-97e0-5e143b027e1a.png)

### To Reproduce

- Grab https://dotnet.microsoft.com/download/dotnet-core/thank-you/runtime-aspnetcore-3.1.0-windows-hosting-bundle-installer
- Run it.
- Look into "Settings" -> "Apps & features" -> Look up "Microsoft .NET Core

[2019-12-04 20:57] dotnetjunkie commented on #14247
Hmmm… that possibly complicates things… a lot.

Although that would work in some cases, that would cause trouble when the hub is running inside a HTTP request, because in that case Simple Injector has wrapped the request with middleware (via an IStartupFilter) in a (lifetime) scope. Destroying the scope at that point might cause any other middleware that the user might have applied, to fail. On th

[2019-12-04 20:59] zachwieja commented on #17551
Verified.  Thank you.

[2019-12-04 21:04] anurse commented on #17519
This certainly seems useful. Any interest in contributing this change? One important thing to keep in mind when doing this is that we must **only** use the customized settings when serializing/deserializing user payloads (arguments, return values), not the protocol messages that carry them.

[2019-12-04 21:07] anurse commented on #17584
Triage Notes: We should take a look at this. We don't think this is intentional or by design.

[2019-12-04 21:15] anurse commented on #17474
This isn't something we have the capacity to take on right now. Writing a full-featured rate limiting middleware is a lot of work. It's a good idea, but well-served by the community right now. We appreciate the request and will keep it in mind for the future, but we don't have any plans to take action on it now.

[2019-12-04 21:15] #17474 closed

[2019-12-04 21:24] anurse commented on #17325
The ASP.NET Core framework is **not** referenced by default in a console app or class library as it is an optional component. If you need to use it, you have to add a `<FrameworkReference>`. The doc I linked above has instructions on how to do either option.

Does it work after using a framework reference?

[2019-12-04 21:27] ahsonkhan commented on #17564
Yep, this is a known issue: https://github.com/dotnet/corefx/issues/42056

However, what @pranavkm mentioned (i.e. pass in `doc.RootElement`) will work as a workaround, since the JSON serializer does support `JsonElement`.

FYI, it should be filed in the https://github.com/dotnet/runtime repo now (see https://github.com/dotnet/corefx/issues/42733).

[2019-12-04 21:29] anurse commented on #17582
This is by design. You can set the threshold manually via [an overload of `EnableBuffering`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.httprequestrewindextensions.enablebuffering?view=aspnetcore-3.0#Microsoft_AspNetCore_Http_HttpRequestRewindExtensions_EnableBuffering_Microsoft_AspNetCore_Http_HttpRequest_System_Int32_). The API is very commonly used to buffer multi-GB

[2019-12-04 21:29] #17582 closed

[2019-12-04 21:42] hubert-associates commented on #15022
@cradle77 nice example/lib, trying to figure what I need to change to make it work with AadB2C. Server-side/C# is clear, but JS code seems to be looking for AAD-specific endpoints... Any tips appreaciated.

[2019-12-04 21:56] ajcvickers commented on #17594
@harjit-neo I moved this to ASP.NET Core repo, since that's where the Identity implementation is. However, I expect this this is by-design on the Identity side.

/cc @HaoK @blowdart

[2019-12-04 22:01] cradle77 commented on #15022
hello @hubert-associates,

this is something I have in my backlog, just haven't had time yet to test it.

Long story short, it should just be a matter of replacing the Authority URL in the configuration with something like: `https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp#step-5-configure-the-sample-code-to-use-your-azure-ad-b2c-tenant`
as explained here
https:/

[2019-12-04 22:13] iannewson commented on #17519
@anurse Yes definitely. I get intimidated when it comes to contributing to large companies like Microsoft though, so could you point me towards some style guidelines? Hopefully you have some that are specific to not only Java but also Android development, as the feature I'm suggesting is clearly crying out for some kind of dependency injection but I don't really want to attempt that without knowin

[2019-12-04 22:27] marcusturewicz opened #17596 "Static assets not being linked in Blazor Wasm 3.1.0-preview4"
### Describe the bug
I have a Blazor WebAssembly project [currently running](http://www.jsonvalidate.net) on .NET Core 3.1.0-preview3. The project has a main blazorwasm project and a razor class library project with javascript assets and C# wrapper classes. I just tried to update it to 3.1.0-preview4 and the javascript files are no longer being linked to the index.html page. Has something changed

[2019-12-04 22:31] anurse commented on #17519
We don't have much in the way of style guidelines, particularly for Java :). Don't worry, we'll happily help you get the style aligned, there might be a bunch of PR comments to refine the style, but that's expected (even when our team members make contributions 😆). Take a look at the existing code as you go and try to align where you can, if you're not sure, that's OK, we can refine it in the PR.

[2019-12-04 22:33] chrissainty commented on #17596
You have to link the files manually as you do with Blazor Server. The automatic inclusion of CSS and JS files from Razor Class Libraries was always something that was temporary.

The team had mentioned before that it would be going away at some point.

[2019-12-04 22:36] iannewson commented on #17519
@anurse  That is reassuring and helpful, I will give it a go later in the week.

[2019-12-04 22:46] marcusturewicz commented on #17596
Thanks @chrissainty, I think you're right. [Looks like](https://docs.microsoft.com/en-us/aspnet/core/razor-pages/ui-class?view=aspnetcore-3.1&tabs=visual-studio#consume-content-from-a-referenced-rcl) they need to be in `wwwroot` folder rather than `content` as before. Seems to be working now with [these changes](https://github.com/marcusturewicz/jsonvalidate.net/commit/e6eda0da8874212f2fc2d30446f0

[2019-12-04 22:47] chrissainty commented on #17596
Glad to help :)

[2019-12-04 23:19] blowdart commented on #17594
It's by design, and there's also a property to stop it;

https://github.com/aspnet/AspNetCore/blob/master/src/Identity/Extensions.Core/src/UserOptions.cs#L25

[2019-12-04 23:30] #13864 closed

[2019-12-04 23:46] awe-source commented on #17572
Yes I would suggest that you do add a comment.
I’ll explain what happened here for info.

Log aggreagator was ingesting these files in emergency situations for warning and error only but we could up it for troubleshooting, however because this is not an ideal log sink and doesn’t have time stamps in the file we can only rely on approximate info and we’re using the filename stamp as referenc point

[2019-12-05 00:16] rockfordlhotka opened #17597 "AuthorizeAttribute on Blazor pages"
I have a client-side Blazor project and am able to use `@attribute [Authorize()]` on a .razor page to prevent display of that page if the user isn't authorized.

I am trying the same thing on server-side Blazor and the attribute appears to be ignored entirely.

In my server-side Blazor pages I am able to access the principal/identity information via the `AuthorizeView` element, a `context.User`, a

[2019-12-05 00:18] anurse commented on #14735
I've confirmed that setting the environment variable to an empty string does not work:

[code]

[code]

Trying in `cmd` doesn't even work because `set ENVVARTEST_SECOND=` is how you unset a variable.

So in general, I don't think there's anything we can do from the runtime/ANCM side to handle this better. Special-casing this feels wrong to me.

I think this might be better resolved as VS Feedback.

[2019-12-05 00:18] #14735 closed

[2019-12-05 00:25] anurse commented on #15381
@BrennanConroy can you take a look at this now? We need to get the site extension back up and running for 3.0, 3.1 and future 5.0 builds.

[2019-12-05 00:43] #17596 closed

[2019-12-05 00:43] Rick-Anderson opened #17598 "Visual Studio UI ambiguous when creating a new ASP.NET Core project"
I was directed here to open the bug. Let me know if I should open it from **Help > Send Feedback > Report a Problem**

![image](https://user-images.githubusercontent.com/3605364/52737321-27145f80-2f70-11e9-8eb0-828478541672.png)

Create a new project in VS2019

Search for `asp.net`

![image](https://user-images.githubusercontent.com/3605364/70193733-276b1c00-16a4-11ea-93eb-834e423fa0e3.png)

It's

[2019-12-05 01:01] wtgodbe opened #17599 "Investigate parallelizing x64/x86 build job"
The x64/x86 leg of our CI builds is currently the long pole. It builds x64, then x86, then some components that require both. We should investigate if it's possible to have x64 and x86 run concurrently in separate legs, then have a 3rd leg which restores the artifacts of both, and proceeds with the build of the installers & whatnot.

CC @aspnet/build @rynowak

[2019-12-05 01:31] rynowak commented on #17599
Do we really need to go that far? I suppose I was wondering if there's redundant work between the x64 and x86 steps, ie: building all of the managed code twice. I think it would be helpful to get a picture of what the current stuff does.

[2019-12-05 01:35] rynowak commented on #17597
This behavior is a feature of the routing system, and depends on the code you have in `App.razor`. Could you share that?

[2019-12-05 01:59] oliverjanik commented on #17564
Thanks for all the pointers. It's bloody hard to find what repo to file issues in, unfortunately. It would be good if maintainers could "move" the issue instead of closing it.

[2019-12-05 02:09] FrancisFYK commented on #17574
@pranavkm thanks this method is ok

[2019-12-05 02:32] oliverjanik commented on #17139
This needs to land ASAP, this is such a violation of principle of least surprise. I got bitten by using `IAsynEnumerable<JsonElement>` which is a struct.

[2019-12-05 02:34] oliverjanik commented on #17155
Yes, please!

This is failing for me with `IAsyncEnumerable<JsonElement>` what a nasty surprise!

[2019-12-05 03:17] ahsonkhan commented on #17564
I would have considered moving it if we didn't already have an existing issue.

[2019-12-05 04:05] mrunks opened #17602 "CORS With Windows Authentication on IIS 10 not working"
### Describe the bug
I have an ASP.NET Core 3.0 Application that is configured to use CORS per Microsoft's  documentation and I receive 401 errors when trying to send requests from Angular client Applications or .NET MVC controllers that are hosted in IIS with windows credentials.

The client applications that use both the Angular  httpclient as well as C#.NET MCV Controllers to make cross domain

[2019-12-05 04:41] rockfordlhotka commented on #17597
Sure, here it is

[code]

[2019-12-05 05:39] davidfowl commented on #17584
There's a bug here, I took a look. We should move the message processing wait after we close the connection. It would properly terminate all pending invocations.

[2019-12-05 06:06] TobiasKoller opened #17603 "VS 2019 doesn't recognize custom blazor-components in c#code"
I've created several small blazor-components.

One is called **Dialog** inside the **Shared**-folder (also tried other names).

When I try to use this component inside another component like
[code]

the tag itself gets recognized but the property `private mynamespace.Shared.Dialog _dialog;`
doesn't.

I get an error "the type or namespace Dialog could not be found (are you missing....)"

sometimes

[2019-12-05 06:23] OskarKlintrot commented on #17539
Makes sense, that's what we are striving for but you know, legacy code :)

[2019-12-05 06:35] kmuthukumar23 opened #17604 "Render the specific component via blazor service"
### Is your feature request related to a problem? Please describe.

I want to render the specific component via the services. Is this possible in blazor? please suggest me on this.

### Describe the solution you'd like

Actual requirement,

I have two components, namely 'Index.razor' and 'Comp1.razor'.

In default the blazor render the 'Index.razor' at initial load. But in that initial load, i wan

[2019-12-05 07:30] clement911 commented on #17576
Is there any chance to make this configurable in a future release?
So that we can disable the use of the user identity explicitly?

[2019-12-05 08:14] rockfordlhotka commented on #17597
The issue is that I was missing `app.AddAuthorization();` in `Startup.cs`.

[2019-12-05 08:14] #17597 closed

[2019-12-05 08:50] TheFanatr commented on #17598
There are tags in rounded boxes underneath each element, the first of which will indicate the target language.

[2019-12-05 09:01] azydevelopment commented on #17575
Hmm. It seems to work now in my custom project. So it looks like it failed in my project for a different reason than in the template.

The only thing I changed is the way I add my UserStore in ConfigureServices.

Basically I was doing this:

`services.AddDefaultIdentity<CusomUser>().AddUserStore<CustomUserStore>().AddEntityFrameworkStores<CustomDbContext>();`

That didn't work. Then I changed it a

[2019-12-05 10:02] KamranShahid commented on #17325
So it mean's for just  utilization of HttpRequst object i have to use asp.net core framework.

[2019-12-05 10:13] hferreira opened #17605 "For when Multiple ASP.NET Core Applications In Process per Application Pool ?"
I'm following .NET Core and ASP.NET Core since day one.

I have a huge .NET backend (ASP.NET Web Api) that I would like to port to .NET Core.
Since version .NET 2.2 that my application is 100% compatible with both .NET Framework and .NET Core.

My first trials with .NET Core + ASP.NET Core + Kestrel + IIS was exactly 4.4 slower than .NET Framework + ASP.NET + IIS.
The fun boys always tried to kidn

[2019-12-05 10:24] Indrajith-Sync opened #17606 "How to initialize a Blazor component in codebehind ? (Without Jsinterop)"
Currently in my project i am creating a component(Server-side), While calling the `StateHasChanged()`.

It throws an exception error `The render handle is not yet assigned`.

`<div>@Updatedvalue</div>`

`@code {`

`public string Updatedvalue;`

`public void function() {`
       `Updatedvalue = "Render part is called".`
       `StatehasChanged() // Getting exception in this line and the render part

[2019-12-05 10:34] wisepotato commented on #15373
So thats kind of my point, my test startup has to be in the assembly i'm testing. Not in my testing assembly, where I would expect them to be.

But yeah, that's atleast a start and one way to do it.

[2019-12-05 11:02] penfold opened #17607 "2000ms delay serving JS modules in development environment"
### Describe the bug
In the development environment, I'm seeing a 2000ms latency when serving JS modules.

### To Reproduce
Running Angular as a SPA in .net core 3.1 (new project).

![image](https://user-images.githubusercontent.com/342662/70229730-a7e65700-174e-11ea-84d3-e331bc58d8fb.png)

[2019-12-05 11:26] ghost opened #17608 "New Descripton Parameter for Microsoft.AspNetCore.Mvc.ProducesResponseTypeAttribute Class"
### Is your feature request related to a problem? Please describe.
Right now documenting API's can be more of a struggle than it needs to be.  The OpenAPi documentation tool chain often relies on getting a description from XML comments result code.  Ideally result code comments wouldn't be needed in most cases.

### Describe the solution you'd like
Would it be possible to add an **optional** Descr

[2019-12-05 11:30] Semptra opened #17609 "Microsoft.AspNetCore.SignalR.Client is not working with Xamarin.Mac application"
### Describe the bug
Cannot build `HubConnection` due to exception:
[code]

### To Reproduce
1. Create a new Xamarin.Mac application with Target Framework = `Xamarin.Mac 2.0 (Modern)`
2. Add `Microsoft.AspNetCore.SignalR.Client` NuGet package
3. Add this code to `AppDelegate`:
[code]

### Further technical details
.NET Core version:
[code]

VS for Mac version: `Visual Studio Enterprise 2019 for Ma

[2019-12-05 11:44] TechAspirant opened #17610 "Render Charts - Could not load file or assembly "System.Windows.Forms, Version=4.0.0.0"
Hello,

I am getting Could not load file or assembly "System.Windows.Forms, Version=4.0.0.0 Error when I have charts in my rdlc file. How can I show charts in my rdlc with AspNetCore.Reporting nuget package ?

[2019-12-05 11:45] mattiasw2 commented on #17579
After reading the https://tools.ietf.org/html/rfc7807 , I get the impression that the extensions field shouldn't even be part of the the type. When a ProblemDetails object is converted to json, all pairs in extensions should be lifted to the top level.

[2019-12-05 11:50] ranzeplay opened #17612 "Azure Pipelines doesn't compatible with .NET Core 3.1"
https://github.com/SimplePlatformWeb/Semicolon.Auth/pull/5
I followed the Microsoft Docs to migrate and it works normally in my desktop computer

[2019-12-05 12:17] blowdart commented on #17602
https://github.com/aspnet/AspNetCore/issues/11764

You can't use the asp.net CORS middleware with Windows Auth on IIS, you must use the IIS CORS functionality

[2019-12-05 12:53] paramitamandal opened #17613 "Hub handshake failed with error 'WebSocket is not in the OPEN state' SignalR WebSockets Angular client with AutoReconnect()"
My application was first built on dotnetcore 2.2, then it was upgraded to dotnetcore 3.0 and it was working properly. But WithAutoReconnect() from Angular web app and all the default settings, gives following log:

[code]

The server is disconnected and client tries to reconnect. When server goes up and connected; then the following steps occurred:
1. 3rd retry attempted and though "The HttpConnec

[2019-12-05 13:00] saysmaster opened #17614 "Upgrading Visual Studio to 16.4 broke the execution of an In-Process asp.net core 3.0.1 application. Error 500.30 ANCM"
### Describe the bug
Just after upgrading to VS 2019 16.4, i cannot execute (CTRL+F5) one of my asp.net core 3.0 projects (3.0.1 actually) (using IISExpress). I did not upgrade the project to 3.1.

**Other solutions on 500.30 error did not work for me**

#### Update 1
**Executing with dotnet run, succesfully starts up the application at localhost:5000**

#### Update 2
**When changed the settings i

[2019-12-05 13:06] Kahbazi opened #17615 "Authentication Handler as an Endpoint"
Now that almost everything (Controller, RazorPage, SignalR Hub, HealthCheck, Grpc) in ASP.NET Core is becoming an Endpoint, I'm curious is there a plan to make [authentication handlers](https://github.com/aspnet/AspNetCore/blob/62351067ff4c1401556725b401478e648b66acdc/src/Security/Authentication/Core/src/AuthenticationMiddleware.cs#L45) into endpoints?

[2019-12-05 13:17] khellang commented on #17615
It can't, as authentication needs to happen *before* the endpoint is executed. Endpoints are... endpoints, not middleware pipelines 😊

[2019-12-05 13:31] Kahbazi commented on #17615
I think I should have explain my point more. I'm not talking about the authentication process itself. I'm talking about the endpoints which I'm redirecting to from Identity Providers like `/signin-microsoft` or `/signin-google` . I believe these are endpoints which can be separated from authentication middleware.

[2019-12-05 13:57] johnkors opened #17616 "TestServer.CreateClient and setting HttpHandlers"
### Is your feature request related to a problem? Please describe.
This regarding TestServer and creating httpclients. Today it's not possible (or is there a way? I could not find it) to set the HttpClientHandler.

For example, I would have liked to set a `HttpClientHandler` , for example for ignore the ssl cert validation:

### Describe the solution you'd like
[code]

[2019-12-05 13:58] blowdart commented on #17615
No there's not. Those aren't really endpoints, but ephemeral locations authentication intercepts, which, as Kristian points out needs to happen before normal endpoint code would execute.

What do you think would be gained by making them endpoints?

[2019-12-05 13:59] blowdart commented on #17610
That is a third party package, so that would be best asked of them.

[2019-12-05 14:17] toralux commented on #15046
I have been able to make a small example that reproduce that dotnet core 3.x (3.1) don't find the view while dotnet core 2.2 finds the view.

[Rendering.zip](https://github.com/aspnet/AspNetCore/files/3927210/Rendering.zip)

Can anyone enlighten me why my code is broken when the only thing I have done running in a newer framework (<TargetFramework>netcoreapp3.1</TargetFramework> instead of <Target

[2019-12-05 14:21] KLuuKer commented on #17482
What about unsupported then?..... if possible with 3.x because that would work the longest

i don't mind hooking up a bunch of stuff during build, i'm replacing a bunch of routing and container stuff anyway 😄

or having some weird build step that i can run during our CI step

[2019-12-05 14:32] Tratcher commented on #17615
This is something I've briefly discussed with @rynowak. No, you couldn't convert all of an auth handler to endpoints, but moving some of the callbacks like `/signin-microsoft` to endpoints might be possible. That said, it would involve breaking up the auth handlers into several pieces and it's not clear what would be gained by doing so.

This part might scale better if you had a lot of auth handle

[2019-12-05 14:49] brockallen commented on #17615
+1 -- we discussed this somewhat already, but auth handlers are middleware for most requests, but endpoints for some specific requests (signouts and challenge callbacks). The signouts and challenge callbacks would benefit from being endpoints, I think -- mainly for the scale issue once you need 100+ OIDC/Ws-Fed/SAML handlers in your pipeline.

[2019-12-05 14:56] mrunks commented on #17602
I am not sure what you mean by IIS CORS can you explain ?

[2019-12-05 15:13] Tratcher commented on #17615
The transition might even be able to be done in a non-breaking way.
- Add a UseEndpoints option on the auth scheme options.
- The GetHandlerAsync allocation above would be skipped if UseEndpoints was enabled.
- _something_ would give each scheme a chance to register endpoints if UseEndpoints were set.
- Since endpoints are largely static, they would probably allocate the handler when selected and

[2019-12-05 15:20] Zenuka opened #17617 "IHttpContextAccessor context always null with Azure SignalR Service"
This feature request is the same as #12535 but unfortunately it's locked (just a few days ago) and I can't comment on it. For security purposes I would like to use the access token in the request (because it's not available in the claims) to get the features a user has access to from another API. The access token is probably not available in the claims because I have another workaround in place fr

[2019-12-05 15:21] khellang commented on #17615
This also sounds semi-related to https://github.com/aspnet/AspNetCore/issues/6993?

[2019-12-05 15:40] ericsampson commented on #7945
Am I missing something @Tratcher , but I was thinking the more desirable would be to take in `IEnumerable<KeyVaultPair<string, StringValues>>` to mirror the existing `public static Dictionary<string, StringValues> ParseQuery(string queryString)` no?

[2019-12-05 15:48] Tratcher commented on #17615
@khellang distantly. Once you have endpoints then you can use them for url generation. However, most of the endpoint addresses in auth handlers are self-referential, generating them hasn't been much of an issue. The cookie auth urls called out in #6993 are more of an exception.

[2019-12-05 15:53] Tratcher commented on #7945
You're unlikely to pass the values directly from ParseQuery to AddQueryString, no? You'll probably be creating the collection manually, so which would be easier to create? `IEnumerable<KeyVaultPair<string, StringValues>>` can require extra effort to aggregate values and create that StringValues, where `IEnumerable<KeyValuePair<string, string>>` you can add values at will without worrying about agg

[2019-12-05 16:02] Tratcher commented on #17615
On a related perf note, this code even allocates handlers that don't implement IAuthenticationRequestHandler such as JwtBearer. We could probably add a scheme option to suppress that too.
https://github.com/aspnet/AspNetCore/blob/62351067ff4c1401556725b401478e648b66acdc/src/Security/Authentication/Core/src/AuthenticationMiddleware.cs#L42-L45

[2019-12-05 16:12] BrennanConroy commented on #17602
https://github.com/aspnet/AspNetCore/issues/11764#issuecomment-507428068

[2019-12-05 16:15] Kahbazi commented on #17615
Yes this was my intention. I should have specify better.
I would like to work on this if possible. Would you accept PR for this?

[2019-12-05 16:18] JoshClose opened #17618 "create-react-app 3.3 breaks HMR and linting"
### Describe the bug

create-react-app 3.3 was released today with support for typescript 3.7.0 features. After updating react-scripts to 3.3.0 and typescript to 3.7.3, HMR and linting stopped working. If I run `npm run start` from the command line, everything works as normal. This functionality stopped working when running through visual studio launching the web page via `spa.UseReactDevelopmentS

[2019-12-05 16:22] BillHiebert commented on #14735
@Frankwayne can you open an issue on the VS feedback site for this issue? Thanks.

[2019-12-05 16:26] elianora commented on #17277
I am using .NET Core 3.1 and am encountering the same issue using `@angular/cli@~9.0.0-rc.5`. I never get the line expected by the `AngularCliMiddleware` from the Angular CLI. I have had it work correctly intermittently with both `--progress=true` and `--progress=false`.

I have **zero** clue as to why the following workaround works, but I consistently get the expected behavior if I add any statem

[2019-12-05 16:35] Tratcher commented on #17615
Could you start by outlining a detailed design proposal? This has several moving parts that we need to make sure are accounted for before starting on a PR.

[2019-12-05 16:35] mkArtakMSFT commented on #17426
Just a reminder, that we will need to patch this in 3.1, when we get to this.

[2019-12-05 16:44] mkArtakMSFT commented on #17079
Removed the `servicing-consider` label from the issue, as we track it on the PRs.

[2019-12-05 16:45] mkArtakMSFT commented on #10584
We're closing this issue as we have heard no much concerns from the community regarding this behavior.

[2019-12-05 16:45] #10584 closed

[2019-12-05 16:51] benelliott commented on #17277
@elianora I spent some time digging around today and found this bug: https://github.com/aspnet/AspNetCore/issues/6146

Basically, the wrapper around `StdOut` might miss the `listening on...` message if it's at the end of a block with lots of newlines. As of Angular 9 this is a problem because the message is more likely to be printed in the same block as the webpack chunk output.

Could you check t

[2019-12-05 17:01] elianora commented on #17277
I am currently referencing `3.1.0` and my `TargetFramework` is set to `netcoreapp3.1`.

[2019-12-05 17:06] javiercn commented on #17598
@Rick-Anderson Yes. Using the send feedback dialog in VS is the right way.

I'm closing this issue in favor of your ticket.

[2019-12-05 17:06] #17598 closed

[2019-12-05 17:06] Rauce opened #17619 "After upgrading to .NET Standard 2.1 and Blazor v3.1.0-preview4.19579.2, Blazor WebAssembly projects no longer work."
To rule out any project-specific issues, I followed the instructions at https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.1&tabs=visual-studio to create a new clean Blazor WebAssembly project.

I can confirm the new project is created targeting .NET Standard 2.1, with Nuget Blazor package versions v3.1.0-preview4.19579.2.

After the project is created, without modif

[2019-12-05 17:08] javiercn commented on #17591
@stesee thanks for contacting us.

We believe this is an issue best filed in https://github.com/dotnet/sdk. You will get a better and faster response there.

/cc: @livarcocc I believe this is your area?

[2019-12-05 17:08] #17591 closed

[2019-12-05 17:09] mkArtakMSFT commented on #17610
Thanks for contacting us.
This is not something related to this repository. We recommend using [StackOverflow](https://stackoverflow.com) for these types of general questions or raising this concern with the owners of the library/framework you're referring to.

[2019-12-05 17:09] #17610 closed

[2019-12-05 17:09] simonpbond commented on #17619
Also having the same issue.

`5>Could not execute because the specified command or file was not found.
5>Possible reasons for this include:
5>  * You misspelled a built-in dotnet command.
5>  * You intended to execute a .NET Core program, but dotnet-C:\Users\Simon does not exist.
5>  * You intended to run a global tool, but a dotnet-prefixed executable with this name could not be found on the PATH

[2019-12-05 17:10] javiercn commented on #17619
@Rauce thanks for contacting us.

I'm not sure what can be going on. I would suggest you first try to update to the latest released blazor version, which is preview4 and is built on top of the .NET Core 3.1.0 RTM

[2019-12-05 17:11] javiercn commented on #17606
@Indrajith-Sync thanks for contacting us.

We're not sure we understand your scenario. Could you provide a minimal repro with detailed steps to illustrate your scenario, what you are expecting to happen and what is happening?

[2019-12-05 17:13] javiercn commented on #17604
@kmuthukumar23 thanks for contacting us.

We are not sure we understand your scenario. Could you provide more details on what you are trying to accomplish and how? A sketch of the code you would write and what you would like/expect to happen would help us understand your scenario.

[2019-12-05 17:14] Rauce commented on #17619
@javiercn

I can confirm the new project I tested with is created targeting .NET Standard 2.1, with Nuget Blazor package versions v3.1.0-preview4.19579.2.

.NET Core 3.1.0 RTM is installed.

[2019-12-05 17:14] javiercn commented on #17603
@TobiasKoller thanks for contacting us.

Can you provide details about the Visual Studio version you are using where this is not working?

[2019-12-05 17:15] javiercn commented on #17619
@pranavkm Based on this, this seems to be missing the application name, is that correct?
`C:\Users\<My Name>\source\repos\BlazorApp1\BlazorApp1\bin\Debug\netstandard2.1\dist\`

[2019-12-05 17:18] Tratcher commented on #17616
HttpClientHandler and ServerCertificateCustomValidationCallback don't apply to the TestServer scenario, it uses a fake in-memory transport. There is no SSL, and thus no cert validation to override.

[2019-12-05 17:18] javiercn commented on #17607
@penfold thanks for contacting us.

That is probably normal and expected if the application is running in development, as React/Angular files need to be compiled by the dev-server.

@SteveSandersonMS do you have any further thought?

[2019-12-05 17:23] Tratcher commented on #17605
There are no plans to add this feature. .NET Core lacks the AppDomain support needed to implement this. Can you clarify why you need it?

[2019-12-05 17:23] #11918 closed

[2019-12-05 17:24] kmkrish007 commented on #11918
I didn't find any solution but i close this issue.

[2019-12-05 17:27] Rauce commented on #17619
FYI.

If I revert my projects back to .NET Standard 2.0 and Blazor v3.1.0-preview3.19555.2 (while keeping VS2019 16.4.0 and .NET Core 3.1.0 RTM), they build and run without any issues.

[2019-12-05 17:29] simonpbond commented on #17619
I think you can reproduce this by creating a new Blazor WebAssembly (ASP.NET Core Hosted) project (VS16.4, Latest Templates), and try to rebuild the Client project.

[2019-12-05 17:30] WilliamRigby commented on #6111
Switching the target runtime from win-x64 to Portable fixed the issue for me.  Also, I'm not sure if this is an important detail, but my app pool also has "Enable 32 bit apps" set to false.

[2019-12-05 17:34] jkotalik commented on #17614
The part in your csproj concerns:
[code]

You should not be mixing 3.0 and 2.2 dependencies like that. I think you can honestly remove the references from your project, they should be implicitly brought in by referencing the websdk. See https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#framework-reference for more info. I wouldn't be surprised i

[2019-12-05 17:34] anurse commented on #17325
Correct, the `HttpRequest` object is part of the ASP.NET Core framework. It's not possible to separate it. Where else would you expect to have an `HttpRequest` object?

[2019-12-05 17:35] anurse commented on #17584
That's about what we came up with while taking a quick look in Triage.

[2019-12-05 17:37] jkotalik commented on #17572
Apologies we didn't document the change. @guardrex want to make a quick doc change to mention that we have changed the file name for the log files to include the pid?

[2019-12-05 17:42] guardrex commented on #17572
We already have it in ...

https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-3.1#log-creation-and-redirection

... but I have the PID there **after** the date, so perhaps the format changed??? :ear:

[2019-12-05 17:42] mkArtakMSFT commented on #17618
Thanks for contacting us, @JoshClose.
We do not support all the combinations of npm dependencies for SPA templates. We support the state we release. Do you know exactly what is causing the issue? If you do, feel free to send us a PR and we'd happily consider it.

[2019-12-05 17:43] dahovey commented on #14907
The resolution I am using is below.

[code]

The `ConfigureContainer` registered inside `WebApplicationFactory` is called after `ConfigureContainer` by the generic host builder inside `Program.cs`.

[2019-12-05 17:43] benelliott commented on #17277
I've made a shamelessly hacky workaround which will do for now. Basically, I wrap the call to the Angular CLI in another Node script, and spoof the "open your browser on" message so that dotnet notices it.

You can try the workaround yourself:

1. Edit your `package.json` to rename your `start` script to `start:ng`
2. Add a new `start` script: `"start": "node start-dotnet.js"`. Your `package.json`

[2019-12-05 17:45] benelliott commented on #17277
[code]

This line is Windows-specific, the Linux equivalent would be something along the lines of (but possibly not exactly)

[code]

[2019-12-05 17:46] mkArtakMSFT commented on #17608
Thanks for contacting us. Such a change will actually span across multiple repos including external ones we don't own. Besides, this is not a priority for us at the moment. So if you would like to send PRs for the end-to-end scenario to light up, we would happily consider it. For now, we're moving this to backlog for future consideration.

[2019-12-05 17:47] mkArtakMSFT commented on #17607
@penfold can you please confirm that this happens only once per each file (after it's modified)?

[2019-12-05 17:50] mkArtakMSFT commented on #17602
Let's get this documented so we can respond to these type of comments with link to docs instead.

[2019-12-05 17:53] tkstanczak commented on #16807
@halter73 we are not calling abort

[2019-12-05 18:00] mrunks commented on #17602
I went ahead and installed the CORS module and then when trying to follow the example to configure from the following link I now get 500 errors.

It seems the <cors> child element is causing the problem when I try to create it under system.webserver as described in the example below.

<configuration>
    <system.webServer>
        <cors enabled="true" failUnlistedOrigins="true">

https://docs.micr

[2019-12-05 18:03] NTaylorMullen commented on #17482
If you're up to do some reverse engineering i'd recommend downloading MSBuild structured log viewer and then start checking out how [our MSBuild configurations](https://github.com/aspnet/AspNetCore-Tooling/blob/c3e80e0b46b06c1c7cf35800556213eb3c9636b8/src/Razor/src/Microsoft.NET.Sdk.Razor/build/netstandard2.0/Microsoft.NET.Sdk.Razor.Configuration.targets#L68-L93) influence Razor parsing during `do

[2019-12-05 18:10] Indrajith-Sync commented on #17606
Hi @javiercn

Actually i am rendering a server side component in blazor. i Have initiated the **code** section part of the rendering and after that i need to call the StateHasChanged to make changes in the above defined Component tags.Here, I am facing issue in this in-between cycle as (The render handle is not yet assigned) from the StateHasChanged() which is in the code block section as mentione

[2019-12-05 18:22] javiercn commented on #17606
@Indrajith-Sync Your snippet doesn’t have enough context for us to understand your issue. Could you provide a minimal repro project as we asked?

We can’t see where in which context you are calling something that calls statehaschanged.

Otherwise we won’t be able to help you.

[2019-12-05 18:22] dcolakchile opened #17622 "CORS not working with 2.2, worked well with 2.1, same code"
Describe the bug
The application has been working flawlessly in .net core 2.1. The signalR server's configuration looks like the following code snippet in public void ConfigureServices(IServiceCollection services) method:

services.AddCors(setupAction =>
  setupAction.AddPolicy("MyPolicy",
                    builder => builder
                    .AllowAnyOrigin()
                    .AllowAnyMet

[2019-12-05 18:23] dcolakchile commented on #17622
Same issue was already reported as closed, no idea why, it is still not working.

Tried everything, once it is deployed on IIS, it is no longer working with 2.2.8, 2.1 worked just fine.

Cannot go back to 2.1.

[2019-12-05 18:35] JoshClose commented on #17618
This is a default `create-react-app` setup with `typescript` though, and is fundamental to using react with the SPA templates.

I think I found the culprit.

https://github.com/facebook/create-react-app/commit/9f4cb4f0c0ed280fcd6c9faf13ebe2619a398942

If I run my site in http instead of https, everything works as normal.

[2019-12-05 18:45] Indrajith-Sync commented on #17606
/* Code behind source */ (Razor file)

<MyComponent Content="@dialog.Content" Header="@dialog.Header" />

@code {
    public void Alert(string args)
    {
            dialog = new Dialog()
            {
                Content = args,
                Header = "Information",
                IsModal = true
            };
            this.StateHasChanged(); // Getting an exception here during the run

[2019-12-05 18:46] Frankwayne commented on #14735
@BillHiebert     My issue was resolved and I attempted to close the case.  I have no idea why it continued  or the  issues that they were trying to work through here on.

[2019-12-05 18:48] halter73 commented on #16807
I think we're going to need trace-level logs to investigate this further then.

[2019-12-05 19:00] #17260 closed

[2019-12-05 19:00] #17441 closed

[2019-12-05 19:00] #17247 closed

[2019-12-05 19:00] #17221 closed

[2019-12-05 19:00] #17167 closed

[2019-12-05 19:00] #17193 closed

[2019-12-05 19:00] #17033 closed

[2019-12-05 19:00] #17086 closed

[2019-12-05 19:00] #16892 closed

[2019-12-05 19:00] #16861 closed

[2019-12-05 19:00] #15100 closed

[2019-12-05 19:00] #14796 closed

[2019-12-05 19:00] #14662 closed

[2019-12-05 19:00] #4100 closed

[2019-12-05 19:06] halter73 commented on #17617
Since the SignalR connection is routed through the Azure SignalR service instead of there being a direct connection to the ASP.NET Core server, there isn't any HttpContext to access. Is there any reason using `HubCallerContext.User` as suggested in https://github.com/aspnet/AspNetCore/issues/12535#issuecomment-514900103 doesn't address your use case?

[2019-12-05 19:11] BillHiebert commented on #14735
@Frankwayne are you referring to an issue you opened on the VS Feedback site? Can you send me a link to it? Thanks.

[2019-12-05 19:13] anurse commented on #14735
No, @Frankwayne is the original poster and closed this issue earlier. @mjamin was discussing other things here.

In general, let's just say this. For anyone on this thread or who finds this thread and is encountering this problem: Please file a VS feedback item and link it here.

[2019-12-05 19:17] Zenuka commented on #17617
I need to access the access_token to ask another API for the rights this user had based on the claims but the access token is not available in claims. Probably of the other workaround I linked in the original post.

[2019-12-05 19:47] Rick-Anderson commented on #17598
https://developercommunity.visualstudio.com/content/problem/846046/create-a-new-aspnet-project-difficult-to-different.html

[2019-12-05 19:50] elianora commented on #17277
I run into no issues just using `echo something && ng serve`, but certainly will keep this in mind if I or anyone else I'm working with run into this issue again; when I get home I will see what the behavior on other operating systems looks like.

[2019-12-05 19:50] Rick-Anderson commented on #17598
@TheFanatr

That's a very poor differentiator. I complained about the Class libs and they fixed the class libs.

[2019-12-05 20:32] BrennanConroy commented on #17617
We generally recommend that you grab the access_token and put it in your claims in middleware before SignalR runs.

[2019-12-05 20:35] JoshClose commented on #17618
Is there a way to have `UseReactDevelopmentServer` use WSS for it's web socket connection through configuration, or will source code changes need to happen?

[2019-12-05 20:35] BrennanConroy commented on #17622
CORS was updated in 2.2 to conform to the CORS standard with regards to `AllowCredentials`. You cannot use `AllowAnyOrigin` and `AllowCredentials` togther, you need to explicitly specify the origins that you want to allow using `WithOrigins`.

[2019-12-05 20:37] benelliott commented on #17277
Do you still have dotnet randomly choosing a CLI port when you do that?

[2019-12-05 20:38] joetherod opened #17625 "_ViewStart not found after upgrading to .Net Core 3.1"
My app renders its views from the database using all of the provided extensions of razor, fileprovider, locationexpander, etc. All worked fine with 2.0, 2.1, 2.2, 3.0. It doesnt work with 3.1. In debug mode it works. In release mode it doesnt. And my production environment uses release mode. When it parses the razor for my virtual provider, the layout is not set. Request of ViewStart is not called

[2019-12-05 20:53] joshpearce opened #17629 "Could not load System.Runtime on project using source build"
I followed all the steps [here](https://github.com/aspnet/AspNetCore/blob/master/docs/BuildFromSource.md) to build from source. I was able to build successfully using this command:
`./build.sh --pack`

Then, in a new directory outside the source repo, I ran,
`dotnet new react`

I added a NuGet.Config file as in the docs, pointing the packages I built.

I updated the package reference to be,
`<Pack

[2019-12-05 20:54] malylemire1 opened #17630 "Add PasswordSignInAsync with AuthenticationProperties to SignInManager."
Add PasswordSignInAsync with AuthenticationProperties to SignInManager.

Here is a possible implementation :

[code]

[2019-12-05 21:06] thomasrea0113 opened #17632 "InvalidOperationException in Microsoft.AspNetCore.TestHost: 'Solution root could not be located using application root'"
### Describe the bug
When Using along site XUnit and ```<IClassFixture>``` this exception is always thrown when accessing any of the factories properties. I have added all the tests to ```*.Tests.cs``` files in the same project, and exclude them from the build when the configuration is Release:

### To Reproduce

[code]

**Test Class**
[code]

This works quite well *without* the `_factory.Server`

[2019-12-05 21:11] C1rdec commented on #11498
I'm experiencing the same issue.
Any updates?

[2019-12-05 21:15] rxelizondo opened #17634 "Visual Studio Azure WebJob templates for full .NET seems outdated."
Just tried creating an Azure WebJob using the latest version of Visual Studio 2019 and the built-in Azure WebJob template for the `**full .NET**` (not .NET Core). As far as I can see, the templates appear to still reflect the old way for doing things.

Are there any plans for updating those templates? Alternatively, can someone point me to a place where I can get detailed instruction on how to cre

[2019-12-05 21:32] blowdart commented on #17630
Can you explain why you want this?

[2019-12-05 21:33] pranavkm commented on #17629
Likely a dup of https://github.com/dotnet/sdk/issues/3929.

[2019-12-05 21:36] blowdart commented on #17576
Every time it's come up we've said no because people can move to JWT

[2019-12-05 21:36] awe-source commented on #17572
Yes that’s the issue. All the doco has been updated to reflect the change from stdout-pod-date.log to stdout-date-pid .log...

As referenced in the doco even if you roll back to version 1... in the docs...

There should be a note somewhere easily accessible to all that says we changed the format in the new module

[2019-12-05 21:37] blowdart commented on #16946
We're closing this issue as no response or updates have been provided in a timely manner. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-12-05 21:37] #16946 closed

[2019-12-05 21:39] blowdart commented on #17138
@pranavkm for ordering

[2019-12-05 21:39] guardrex commented on #17572
We can't version the ANCM in our topics easily. I don't think it's on the same release schedule as the framework (but they'll let me know if that's not correct). I'll update the doc to put the PID before the date.

[2019-12-05 21:40] blowdart commented on #14693
Closing as answered, and also really a windows issue.

[2019-12-05 21:40] #14693 closed

[2019-12-05 21:43] blowdart commented on #4655
Closing as updates for 3.1 and 3.0 and 2.2 were released for new samesite changes google made

[2019-12-05 21:43] #4655 closed

[2019-12-05 21:44] blowdart commented on #4680
Closing as it's unlikely token binding is alive any more.

[2019-12-05 21:44] #4680 closed

[2019-12-05 21:44] brockallen commented on #17576
A similar issue comes up where you render a login page in 1 tab and another form in another tab. Since the user is not authenticated, the anti-forgery tokens track that. Then in the first tab you login, when then establishes authentication and in essence invalidates the token in the 2nd tab. Of course if the user switches to the 2nd tab and then submits (now authenticated) it fails. It's been like

[2019-12-05 21:52] blowdart commented on #17078
As this isn't an aspnet core issue closing.

[2019-12-05 21:52] #17078 closed

[2019-12-05 22:00] #17569 closed

[2019-12-05 22:00] #17483 closed

[2019-12-05 22:00] #15009 closed

[2019-12-05 22:00] #13632 closed

[2019-12-05 22:00] #11904 closed

[2019-12-05 22:00] #9987 closed

[2019-12-05 22:07] TulyOpt commented on #17515
Hi @javiercn , thanks for your quick answer. However, I still can't find the pdbs for the debugging process : is there a public url where I can't them ( i am using Linux) ? Is this : http://srv.symbolsource.org/pdb/Public that I should request ?

[2019-12-05 22:07] anurse commented on #17291
Looking at the code it must either be memory corruption, or something is using reflection to change the `private static TokenNamesKey` value. Can you provide a repro project or a memory dump?

[2019-12-05 22:07] malylemire1 commented on #17630
Hi,

I need to change cookie expiration time at login.

[2019-12-05 22:09] halter73 commented on #17613
I think we need better logging in the WebSocketTransport.ts's WebSocket.onclose handler to see exactly what happened here.

I don't see any log of the WebSocket CloseEvent details, though the logs that exist certainly imply the WebSocket closed shortly after it was open during the hub handshake. Given that the websocket closed during the hub handshake, it's not surprising that it took one more rec

[2019-12-05 22:13] anurse commented on #17493
Triage: This isn't something we're interested in adding at this time. You can use a custom policy provider to achieve whatever composition model you want in your scenario.

[2019-12-05 22:13] #17493 closed

[2019-12-05 22:16] anurse commented on #17518
Triage: We don't intend to support double-cookies at this time. There are a number of problems with implementing it and it would significant disrupt the ecosystem. Our recommendation here is to use the browser sniffing mechanism.

[2019-12-05 22:16] #17518 closed

[2019-12-05 22:20] anurse commented on #17475
This is in order to do a redirect to the `returnUrl`, no? The status code should also be updated to `30x` in order to redirect back to the page that issued the original challenge.

Are you not able to reset the status-code and remove the header here? Does that not work?

[2019-12-05 22:22] anurse commented on #17615
Triage: Seems reasonable, but definitely needs a bunch of design.

[2019-12-05 22:24] joetherod commented on #17625
For some reason this ViewStart is not called everytime. I have to treat it as a virtual file now. Something was changed in 3.1. This will break any tenent based web application that has its views in the db. Unless there is another way to enforce setting the Layout. My Layout code in the ViewStart is this:

@using Tmp.TalentBrew.Client.Core.Controllers
@{
    Layout = BaseController.GetLayout(ViewC

[2019-12-05 22:27] dougbu commented on #17083
Thanks to @pranavkm for figuring this one out. See #17633.

[2019-12-05 22:33] pranavkm commented on #17083
@leastprivilege this is a result of

a) Not having VS with the correct pre-reqs installed
b) AspNetCore's `global.json` having an incorrect min requirement.

You could workaround this by installing VS with the min pre-reqs to build the repository by running `.\eng\scripts\InstallVisualStudio.ps1`.

[2019-12-05 22:39] xantari opened #17640 "sql-cache command line is not compatible with In Memory SQL Tables"
### Is your feature request related to a problem? Please describe.

Running dotnet sql-cache to create a distributed caching table using SQL Server is not able to be promoted to a In Memory OLTP table.

The reason for this is that you are using datetimeoffset(7) for the data type of the AbsoluteExpiration and ExpiresAtTime columns.

datetimeoffset column types are not allowed in in-memory SQL Serv

[2019-12-05 23:08] pranavkm commented on #17534
There's a workaround listed here: https://github.com/dotnet/corefx/issues/3784#issuecomment-404795417. Since this issue isn't specific to AspNetCore, we'll use the other issue to track addressing it.

[2019-12-05 23:08] #17534 closed

[2019-12-05 23:12] #17083 closed

[2019-12-05 23:14] pranavkm commented on #16664
The second error is a dup of https://github.com/aspnet/AspNetCore/issues/17083. Closing since we have a resolution for 5.0. For older branches, https://github.com/aspnet/AspNetCore/issues/17083#issuecomment-562348724 has a workaround.

[2019-12-05 23:14] #16664 closed

[2019-12-05 23:26] elianora commented on #17277
I do, yes.

[2019-12-05 23:39] guardrex commented on #17572
@jkotalik I just got a 🎃 *SCARE* 👻 on your change tho ... IIRC, a dev in ancient .NET Core times asked to have the date **_first_** so that the files would sort better by file name. By placing the PID first, the sorting (by file name) isn't going to be so good. They have to use the file modified date at that point. Idk if that's a problem, but I seem to recall that fellow saying at the time that h

[2019-12-05 23:40] jkotalik commented on #17572
I need to rereview the ANCM log file formats. I understand the concern though.

[2019-12-05 23:44] guardrex commented on #17572
I found it ... https://github.com/aspnet/AspNetCoreModule/issues/130

[2019-12-05 23:45] guardrex commented on #17572
Ah! ... It was in App Service, where I guess you don't even get an opportunity to sort by created/modified file dates. That makes sense.

[2019-12-05 23:46] guardrex commented on #17572
:smile: I did that actually ... https://github.com/aspnet/AspNetCoreModule/pull/131

[2019-12-05 23:55] HaoK opened #17643 "Switch to daily helix runs instead of rolling"
Per build triage

[2019-12-06 00:06] pranavkm opened #17644 "[Blazor] ResolveBlazorRuntimeDependencies fails when project references contain satellite assemblies"
`ResolveBlazorRuntimeDependencies` expects to only ever see unique assembly names. However, the list that `_ResolveBlazorRuntimeDependencies` passes it includes satellite assemblies which results in it failing. We want satellite assemblies to be copied over to the build output (I think), but they need to be ignored for purposes of resolving runtime dependencies.

[2019-12-06 00:28] hishamco commented on #14391
Thanks @jcemoller

@Rick-Anderson can you update the docs if you have a time, or I will reschedule this

[2019-12-06 00:30] hishamco commented on #14452
Ok

[2019-12-06 01:05] Rick-Anderson commented on #14391
@hishamco  whoever gets to it first
See https://github.com/aspnet/AspNetCore.Docs/issues/14221

[2019-12-06 02:10] justlucky opened #17646 "SignInManager not use IdentityOptions configure ClaimsType"
### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce

### Further technical details
- ASP.NET Core version
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version

[2019-12-06 03:07] awe-source commented on #17572
Just in case...

To be clear I’m not asking to change the code BACK from that change I was just suggesting a “NOTE: this changed from X To Y in acnm v2 so don’t freak out” to save others the heartache of “discovering” this ... TbH the new date is tonnes easier to parse as it’s fixed width on month day hour etc... just a shock...

[2019-12-06 03:09] amshekar opened #17647 "Integrate ASP.NET core with custom\Inhouse keyvault application"
### How to integrate this custom in-house key-vault in ASP.NET core configurations.

There are many recommended samples to integrate with know vaults like Azure or aws.
We have one in-house hosted key-vault application which will store secret can access by rest call by sending secret id.

By default the appsettings json have keys without values , Just added an update configuration/appsettings dict

[2019-12-06 04:31] dpr-dev commented on #11498
@hannesaqua, can you create a test project that reproduce this bug ?

[2019-12-06 05:01] TobiasKoller commented on #17603
sure, the current Version is 16.3.10 VS Professional 2019

[2019-12-06 05:05] miguellira commented on #17277
@elianora suggestion of modifying the `npm start` script in your `package.json` by adding an `echo` statement prior to `ng serve` is enough to notify the AngularCliMiddleware the angular dev server is running. This is a better workaround than setting the `progress` flag to `true`.

BTW, can't see how it would matter but I did notice a subtle difference in how the Angular CLI outputs build info bet

[2019-12-06 05:11] TobiasKoller commented on #17603
v 16.4.0 fix this issue

[2019-12-06 05:11] #17603 closed

[2019-12-06 05:33] Indrajith-Sync commented on #17606
Hi @javiercn

Here is the sample repo (https://github.com/Indrajith-Sync/Blazor). In this repo in `Index.razor` file i have initialized `MyComponent` and trying to create it during the runtime on a button click.

[2019-12-06 06:04] Tratcher commented on #17506
https://github.com/aspnet/Extensions/issues/2568 is similar and includes workarounds that show how you can derive from WindowsServiceLifetime, override additional methods as needed, and register your replacement.

[2019-12-06 06:14] cremor commented on #9375
Since #8855 is now both closed and locked, please don't forget it when working on this issue. As per [comment](https://github.com/aspnet/AspNetCore/issues/8855#issuecomment-542288075) from @pranavkm:

[2019-12-06 06:20] brockallen commented on #17475
The question is why is this implicit? Especially in MVC where a subsequent call to a ViewResult does not take effect.

[2019-12-06 07:28] KamranShahid commented on #17325
Ok. Thanks Andrew

[2019-12-06 07:43] clement911 commented on #17576
Right, we'll have to dig into JWT further at some point and see what it takes to implement it.

I'd still love to understand what's happening in the DefaultClaimUidExtractor.cs

Why does the code will first look for a claim 'sub' or ClaimTypes.NameIdentifier or ClaimTypes.Upn?
Clearly, this relies on identities being ordered. How are the identities ordered?

[2019-12-06 08:34] benelliott commented on #17277
The `echo` workaround works for me too... so my workaround might be slight overkill :)

I don't fully get *why* it fixes it though...

[2019-12-06 09:19] joseftw opened #17649 "ASP.NET Core 3.1 - Dictionary<string, object> Model binding error"
### Describe the bug
When using [FromBody]MyInput input where MyInput contains a Dictionary<string, object>, the model becomes really weird.

The bug happens when having a reference to ```Swashbuckle.AspNetCore``` but NOT having a direct reference to ```Microsoft.AspNetCore.Mvc.NewtonsoftJson```.

By having a reference to ```Swashbuckle.AspNetCore``` you get access to the ```AddNewtonsoftJson``` m

[2019-12-06 09:33] joseftw commented on #17649
Additional info:
We had a reference to ```<PackageReference Include="Swashbuckle.AspNetCore" Version="5.0.0-rc4" />``` in our csproj file, which gives us access to the ```AddNewtonsoftJson``` method.

When not having a reference to ```Microsoft.AspNetCore.Mvc.NewtonsoftJson```, System.Text.Json is used.
Im not sure if this is working as intended or not. Yes, we DONT have a direct reference to ```M

[2019-12-06 09:52] johnkors commented on #17616
Ah, ok - maybe the error was further downstream?

I got errors when integration testing auth setup for my app using TestServer. My my app under test is protected by our internal identityserver instance (where identityserver is using a self-signed SSL cert, not trusted from where I run the integration tests). So the JWT bearer middleware fails to get the discovery document.

[code]

Maybe what I ha

[2019-12-06 10:07] penfold commented on #17607
@mkArtakMSFT It is for every file requested from the SPA via the development proxy process. It is for all file types including image resources.

Watching the debug output the typescript compilation is not the cause. I can see the expected extended response time for the first request during the building of the Angular project.

The API controller endpoints do not show the delay.

I'm just not sure

[2019-12-06 10:13] penfold commented on #17607
I've run the SPA without using VS - just via 'ng s'. There is no delay when loading in this scenario. This is what is pointing me to Visual Studio 16.4 and the SPA Service Extensions (v3.1.0).

[2019-12-06 10:17] Zenuka commented on #17617
Thanks for both your quick replies! I've spent my morning to store the access token as a claim again and seems I was making a stupid (and unrelated) mistake. I was trying  `JwtBearerEvents.OnTokenValidated` but this method was never called. That's because I use token introspection so I should have used `OAuth2IntrospectionEvents.OnTokenValidated` instead. Now I got the access token as a claim and

[2019-12-06 10:17] #17617 closed

[2019-12-06 10:27] hferreira commented on #17605
I have a backend that is replicated several times.
Each instance serves one direct client (that have is own sub-clients).
There are dozens of applications that sharing the same app pool allowing to run with minimum server memory resources.
If I change it, to one single app pool per client, I would need a super expensive server and will be a limit to grow.

I know that my options are:
1. Keep with

[2019-12-06 10:32] joshpearce commented on #17629
Interesting to me though, is that if I go into `src/Identity/samples/IdentitySample.Mvc` and run `dotnet run` it works.

Would I be able to follow one of the developer docs about adding a new project (in aspnetcore), to piggyback on whatever is making this sample work?

[2019-12-06 10:39] pikoscielniak opened #17650 "A file with an extension html cannot be served as a razor view."
I have html files in wwwroot directory. I serve them from controller's methods as a Razor views in that way:
[code]
I get the following response:
[code]
And the stack
[code]

I would expect that the files with the extension html will be served correctly as razor views especially that it used to work in ASP .NET Core 2.2.

[2019-12-06 10:50] jtb637 commented on #14877
Just thought I'd weigh in here too as someone who has come across a related issue with routing differences between 2.2 and 3.0. I believe the root cause is the same as this issue is describing.

To cut a long story short, RedirectToAction on 3.0 doesn't seem to resolve the URL if the action that it's redirecting to depends on a shared controller-level parameter. E.g. take this controller as an exa

[2019-12-06 10:51] pikoscielniak opened #17651 "Asp .Net Core 3.0 adding a custom Startup class in tests causes that the Views are not served anymore"
I test an Asp .Net Core 3.0 MVC application. This a basic sample app create with the command dotnet new mvc. In the xunit test project I test returning of the view Index from the `HomeController`. The test looks like this:

[code]
I use a test startup class because I'll be overriding some methods. When I use this `TestStartup` class the test doesn't pass with the following reason:

[code]

But if

[2019-12-06 11:08] emilssonn commented on #15381
What is the status of this? I cannot get the logging to blob storage to work. Currently using Microsoft.Extensions.Logging.AzureAppServices version 3.0.1 nuget, running .Net Core 3.0 and the extension ASP.NET Core Logging Integration version 3.1?

[2019-12-06 11:28] Seestern99 opened #17652 "Blazor Bootstrap 4.3.1 floating label some cases not working or different working with edge/chrome"
**Case 1**
Expected Result in Chrome:
![image](https://user-images.githubusercontent.com/16648824/70319887-b18dbe80-1823-11ea-8f81-212d0dd776e9.png)

In Edge grey x over green hook.
![image](https://user-images.githubusercontent.com/16648824/70319636-0b41b900-1823-11ea-8b79-a7686bca1dd1.png)

**Case 2**
In Chrome clear textbox with backspace and after writing text, we have this result.
![image](ht

[2019-12-06 11:33] RealTadango commented on #13103
How can RCL be used with Blazor WASM? A Blazor WASM project is .Net standard, but a RCl is Core 3.1? How can static files be used with Blazor WASM? Previously i used a class library with the automatic include options but this has now been removed, but the alternative (_content/...) solution is not working.

[2019-12-06 11:52] javiercn commented on #17606
We understand now. Thanks for the clarification. The framework is responsible for the lifetime of the components.

If you instantiate a component yourself, it is not attached to the Blazor rendering process in any way.

I’m not exactly sure what you are trying to accomplish, but I suggest you look into using a component reference instead. See https://docs.microsoft.com/en-us/aspnet/core/blazor/com

[2019-12-06 12:11] gbukauskas commented on #8274
I got the same problem calling Google Maps API in component's Dispose method (I need to remove markers on map). s problem setting limit of waiting time:
public void RemoveAll()
{
	var tasks = new Task[2]
	{
		Task.Run(async () => await GoogleMapInterop.RemoveAllMarkers()),
		Task.Run(async () => await GoogleMapInterop.RemoveAllPaths())
	};
	Task.WaitAll(tasks, TimeSpan.FromSeconds(1));
}

[2019-12-06 12:14] Kahbazi commented on #17615
Here's what I thought.

We can add a `UseEndpoints` option to `AuthenticationOptions` and use it to enable endpoints for all authentication handlers.

[code]

Adding and removing endpoints could happen in `IAuthenticationSchemeProvider` in `AddSchema(AuthenticationScheme scheme)` and `RemoveScheme(string name)`. And `IAuthenticationSchemeProvider` should expose a `EndpointDataSource` via method or

[2019-12-06 13:37] KamranShahid commented on #17325
I am now getting error

System.TypeLoadException: Could not load type 'System.Web.HttpUtility' from assembly 'Microsoft.AspNetCore.Http.Abstractions, Version=3.0.1.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'.

what can i do?

[2019-12-06 13:40] KamranShahid opened #17654 "System.TypeLoadException: Could not load type 'System.Web.HttpUtility' from assembly 'Microsoft.AspNetCore.Http.Abstractions, Version=3.0.1.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'."
I am getting following error in my asp.net core 3.0 application

`System.TypeLoadException: Could not load type 'System.Web.HttpUtility' from assembly 'Microsoft.AspNetCore.Http.Abstractions, Version=3.0.1.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'.`

My application project file looks like follwoing

[code]

[2019-12-06 13:40] paramitamandal commented on #17613
ok. thanks @halter73. This error occurred each and every time when client tries to reconnect with the Server after the server goes down. The first attempt always failed due to the handshaking error, and then in 2nd attempt connection established. I will put a log in webSocket.onclose() and let you know the feedback.

[2019-12-06 13:41] toralux opened #17655 "Unit-testing rendering views with Razor Engine not working in dotnet core 3.x"
### Describe the bug
Unit-testing rendering of Razor Views using Microsoft.AspNetCore.Mvc.Testing worked in dotnet core 2.2, but in 3.1 (and 3.0) the Razor Engine does not locate my views any more specified like this:

[code]
### To Reproduce
I have made a small example that reproduces the issue in the dotnet core 3.1 solution (while in the dotnet core 2.2 solution the view is found).

https://git

[2019-12-06 14:15] legistek commented on #5281
Wondering if there's anything new on this since August? Is there any way to use SignalR with a load balancer other than Redis caching right now? I would like a solution that doesn't require any additional infrastructure beyond IIS and maybe SQL Server.

FWIW having no replacement for SQL backplaning is the only thing blocking me from updating to ASP.NET Core from Framework.

[2019-12-06 14:57] pranavkm commented on #17654
Can you share a minimal project that reproduces this error? I don't think that particular type was ever part of AspNetCore.

[2019-12-06 14:59] guardrex commented on #17572
I see. I was confused by the ask here. Just confirmed ...

<img width="180" alt="Capture" src="https://user-images.githubusercontent.com/1622880/70330909-13d6c700-1804-11ea-8049-262a19091727.PNG">

... that nothing has changed since the ANCMv2 release.

The document is correct for ANCMv2 (for example, PID has been there for *years* and in the right position in the filename for v2). **_The guidance

[2019-12-06 15:00] pranavkm commented on #17625
@joetherod are you conditionally referencing the `Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation` package in your project?

[2019-12-06 15:10] pranavkm commented on #17649
I'd recommend referencing a 3.0 RTM version of `Microsoft.AspNetCore.Mvc.NewtonsoftJson`. The package version that Swashbuckle references [is an early preview](https://www.nuget.org/packages/Swashbuckle.AspNetCore.SwaggerGen/5.0.0-rc4) and we wouldn't recommend using it in production. The Swashbuckle repo would be a better place to follow up on this to produce a package that is RTM versioned.

[2019-12-06 15:10] #17649 closed

[2019-12-06 15:14] pranavkm commented on #17540
There's a sample here: https://github.com/aspnet/Entropy/tree/master/samples/Mvc.RenderViewToString that demonstrates this.

[2019-12-06 15:14] #17540 closed

[2019-12-06 15:20] GerritBergen commented on #17619
Having issues too. Anyone got a workaround?

[2019-12-06 15:28] GerritBergen commented on #17619
Disabling linking on build seems to work right now.

[code]

[2019-12-06 15:36] julienGrd opened #17657 "Strange behavior/bug with the new stopPropagation directive"
Hello guys, i actually met a problem with the stopPropagation directive which not works in some case.

I originally open this problem to a contextMenu library I use : https://github.com/stavroskasidis/BlazorContextMenu/issues/71

But is definitively a blazor problem. This is the step to reproduce (thanks to @stavroskasidis which investigate the problem)

It seems that it has something to do with c

[2019-12-06 15:41] anurse commented on #5281
There are no new plans right now, but your feedback is noted! This thread is where we'd discuss any new plans.

We are looking at planning for 5.0 and while I can't make any promises, it's good to know you have interest in this and that it's blocking migration for you. We'll consider that in our planning process.

[2019-12-06 15:43] anurse commented on #17325
That class ([System.Web.HttpUtility](https://docs.microsoft.com/en-us/dotnet/api/system.web.httputility?view=netframework-4.8)) is not from ASP.NET Core, it's from ASP.NET 4.x (System.Web.dll). I have no idea what could be referencing that (@Tratcher?).

Is there any way you can share a runnable sample solution/project that reproduces the problem? It's difficult to diagnose individual failures lik

[2019-12-06 15:49] cswierczynski-diam opened #17658 "Blazor WASM: Cannot invoke method because it was wiped. See stack trace for details."
### Describe the bug
Unable to start a connection to a SignalR Hub (Hosted on ASP .NET Core 3.1.100) from a Blazor WASM client. Connections to the hub succeed on .NET Core 3 Clients.

### To Reproduce

1. Build a new connection to the hub
[code]
2. Start the connection (**This is where it fails on WASM Client**)
[code]

### Exception
`WASM:  Exception: System.NotImplementedException: Cannot invoke

[2019-12-06 15:53] joetherod commented on #17625
@pranavkm Conditionally? I made all the changes to get to work when I migrated from 2.2 to 3.0. Is the something additional now for 3.1?
Its already referenced and I had these lines in the project file:

<PreserveCompilationContext>true</PreserveCompilationContext>
    <PreserveCompilationReferences>true</PreserveCompilationReferences>

[2019-12-06 15:55] Tratcher commented on #17616
Correct. Here's how that's set up, several parts are replaceable via the JwtBearerOptions.
https://github.com/aspnet/AspNetCore/blob/0fd9f27d60f727ad9b769f72de5dfae8f840a456/src/Security/Authentication/JwtBearer/src/JwtBearerPostConfigureOptions.cs#L29-L65

[2019-12-06 16:08] Tratcher commented on #17325
It sounds like you're mixing 2.x dependencies with 3.0.1. At least share your csproj file so we can see your dependencies.

[2019-12-06 16:13] Grauenwolf opened #17659 "Reload goes to the wrong page"
When the browser is idle for too long or the computer wakes up from sleep, we see this message:

### Describe the bug

The **Reload** link takes the user to the home page of the website instead of reloading the current page.

### To Reproduce

1. Go to any page in a server-side Blazor website other than the home page.
2. Wait for connection to break.
3. Press **Reload**. Browser is redirected to h

[2019-12-06 16:19] Tratcher commented on #17605
Ok, it's about density and not any other functional issue. Can you give specific measurements showing the memory footprint with separate app pools, compared with your prior system that's sharing an app pool?

Yes, using a single app pool would allow sharing some memory, but mostly just for the dlls loaded, not the dynamic memory for running the app. I'm curious how much overhead that causes per in

[2019-12-06 16:19] javiercn commented on #17634
@rxelizondo Thanks for contacting us.

@bradygaster this is an external thing I believe. Can you redirect/loop in the right folks?

[2019-12-06 16:24] vsfeedback opened #17660 "Visual studio lost intellisense for Blazor Components"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/770539/visual-studio-lost-intellisense-for-blazor-compone.html)._

---
[regression] [worked-in:16.3.3]
After updating vs 16.3.3 visual studio gives errors on markup.
Example "Found markup element with unexpected name "EditForm". If this is intended to be a component, add a

[2019-12-06 16:25] mkArtakMSFT commented on #17660
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2019-12-06 16:26] springy76 commented on #8274
Doesn't Blazor support IAsyncDisposable? Task.WaitAll feels so aged.

[2019-12-06 16:28] Oninaig opened #17661 "OnAfterRenderAsync still called twice on 3.0.0-preview9.19465.2"
### Describe the bug
Using server-side prerendering, if you have the following `OnAfterRenderAsync`:

[code]

Then "OnAfterRenderAsync" is still written to the console _twice_ even though previously it was stated that starting in preview 9 `OnAfterRenderAsync` would _not_ be called during the prerendering lifecycle at all.

### To Reproduce

Create a new blazor project with server-side prerenderin

[2019-12-06 16:28] mkArtakMSFT commented on #16817
@wtgodbe this should move to a proper milestone. I think this milestone is already locked down, so we should close it.

[2019-12-06 17:02] blowdart commented on #17646
Could we get some details of what you are doing, what you expect and the code you have?

[2019-12-06 17:05] mkArtakMSFT commented on #17661
Thanks for contacting us.
This should be fixed in the 3.0 RTM release. Please upgrade.

[2019-12-06 17:08] mkArtakMSFT commented on #17659
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2019-12-06 17:09] vsfeedback opened #17662 "After the 16.4 update no .net core 2.x or 3.x asp.net projects will run as InProcess"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/846324/after-the-164-update-no-net-core-2x-or-3x-aspnet-p.html)._

---
[regression] [worked-in:16.3.x]
After I updated my VS installation none of my asp.net projects will run InProcess. They all report HTTP Error 500.30 ANCM In-Process start failure. If I change the applica

[2019-12-06 17:10] mkArtakMSFT commented on #17658
Thanks for contacting us.
There is currently no support of .NET SignalR client.  We plan to add support for it in an upcoming release.

[2019-12-06 17:10] #17658 closed

[2019-12-06 17:13] mkArtakMSFT commented on #17652
Thanks for contacting us.
This seems to be a question about how to use Bootstrap. If you believe this is a Blazor-specific issue, please provide a repro (which uses no Bootstrap) for us to investigate.

[2019-12-06 17:13] #17652 closed

[2019-12-06 17:14] gbukauskas commented on #8274
This method is called from Dispose: I need to call GooleMapsAPI for removing markers and paths from map.  All works fine except page refresh (F5). Do you know another way? Please tell it me.

[2019-12-06 17:18] jkotalik commented on #17572
There has been talk of backporting ANCMv2 to 2.1 s.t. we can remove ANCMv1 entirely. @shirhatti this is probably a better question for you.

[2019-12-06 17:20] #17606 closed

[2019-12-06 17:24] wtgodbe commented on #16817
We think this will be fixed by https://github.com/aspnet/AspNetCore/pull/17311 - if so I'll close when that's merged

[2019-12-06 17:26] mkArtakMSFT commented on #17625
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2019-12-06 17:27] #17622 closed

[2019-12-06 17:34] javiercn commented on #17607
@penfold Could you try and collect a trace with https://docs.microsoft.com/en-us/dotnet/core/diagnostics/dotnet-trace?

[2019-12-06 17:35] cswierczynski-diam commented on #17658
@mkArtakMSFT thank you for your response. Is there a public ticket for this feature?
And is there any expected release date for the feature?

Thanks

[2019-12-06 17:37] mkArtakMSFT commented on #17660
It looks like you're using older version of VS. Please upgrade to the latest released version (16.4) and it should be fixed there.

[2019-12-06 17:41] mkArtakMSFT commented on #17658
Here you go: https://github.com/aspnet/AspNetCore/issues/13503

[2019-12-06 17:41] mkArtakMSFT commented on #17658
We plan to release this as part of the Blazor WASM release in May 2020

[2019-12-06 17:42] SteveSandersonMS commented on #17657
I'm afraid this is working as expected, though I understand it's not the behavior you want.

To maximise performance, Blazor uses an event delegation system. That is, for each type of even you're using, Blazor listens only at the document root and knows how to dispatch events to the right places. This means you can have vast numbers of Razor event handlers being created and destroyed all the time

[2019-12-06 17:47] pranavkm commented on #17650
It's a bit unfortunate that we broke this, but I don't think we ever intended for the RazorViewEngine to serve html files. 3.0 relies on build time compiled views, which is limited to compiling .cshtml files. This would explain why the view engine no longer discovers these. In general though, we wouldn't recommend using the view engine to return static content. There's a overhead to rendering view

[2019-12-06 17:59] joseftw commented on #17649
Roger that. Just wanted to point out that your documentation for ASP.NET Core 3.1 suggests that one should use the RC version of swashbuckle.
So im thinking that maybe more people will run into this problem...
https://docs.microsoft.com/en-us/aspnet/core/tutorials/getting-started-with-swashbuckle?view=aspnetcore-3.1&tabs=visual-studio

[2019-12-06 18:02] cswierczynski-diam commented on #17658
@mkArtakMSFT Thanks!

[2019-12-06 19:08] anurse commented on #17609
Looks like System.Text.Json is not working in Xamarin.Mac? @ahsonkhan @marek-safar any thoughts from your respective sides here?

(Since it came up in Triage, the .NET Core version info isn't necessarily relevant here because this is a Xamarin.Mac app using the SignalR Client via NuGet. Just in case any other viewers of this issue get worried by the "preview3" branding references)

[2019-12-06 19:10] anurse commented on #17613
We've seen some weird behavior with Angular's use of zone.js here, since it replaces the WebSocket class in JS with a different version. We should do an end-to-end angular test to see what we can find.

[2019-12-06 19:12] anurse commented on #17613
@bradygaster to prove out the end-to-end

[2019-12-06 19:14] VBAndCs opened #17664 "Embed Blazor in Razor Pages"
Embed Blazor in Razor Pages

I hope you allow us to use Balzer easily in Razor pages, simply be marking some methods with a `[Blazor]` or `[RunAtClient]` attribute un the Razor Page code behind file, such as:

[code]
Foo1 is a blazor code that should be compiled to web assembly and run at the client. C# can gave errors about any unsupported code in this method.
Foo2 is a server code,
Both Foo1 and

[2019-12-06 19:20] anurse commented on #17662
Can anyone post their full `csproj` **before** working around this issue? Are you upgrading your app to 3.0 or is this still a 2.2 app, just being run after you've *installed* 3.0?

[2019-12-06 19:21] anurse commented on #17605
We should think about multiple apps per pool. We may talk about this in 5.0.

[2019-12-06 19:52] martincostello commented on #17516
I had a quick peek around in the code, and it doesn't look like the field is set (at least directly) in the constructor, but here in `InitializeContext()`:

https://github.com/aspnet/AspNetCore/blob/22dedcb2f0de59022e0383e1f05c9caffc708522/src/Servers/IIS/IIS/src/Core/IISHttpContext.cs#L184

Which gets called by `ProcessRequestAsync()` here:

https://github.com/aspnet/AspNetCore/blob/22dedcb2f0de5

[2019-12-06 19:56] mrpmorris commented on #17504
@javiercn I think your bot is playing up.

[2019-12-06 20:00] #17256 closed

[2019-12-06 20:00] #17098 closed

[2019-12-06 20:00] #17097 closed

[2019-12-06 20:00] #17064 closed

[2019-12-06 20:00] #17023 closed

[2019-12-06 20:00] #16899 closed

[2019-12-06 20:00] #16898 closed

[2019-12-06 20:00] #16868 closed

[2019-12-06 20:00] #16823 closed

[2019-12-06 20:00] #16814 closed

[2019-12-06 20:00] javiercn commented on #17504
@anurse can you take a look? The bot is doing bot things 😵

[2019-12-06 20:00] #16638 closed

[2019-12-06 20:00] #16618 closed

[2019-12-06 20:00] #15369 closed

[2019-12-06 20:00] #15257 closed

[2019-12-06 20:00] #15193 closed

[2019-12-06 20:00] #15179 closed

[2019-12-06 20:00] #15101 closed

[2019-12-06 20:01] #15063 closed

[2019-12-06 20:01] #14980 closed

[2019-12-06 20:01] #14918 closed

[2019-12-06 20:01] #14912 closed

[2019-12-06 20:01] #14875 closed

[2019-12-06 20:01] #14821 closed

[2019-12-06 20:01] #14814 closed

[2019-12-06 20:01] #14794 closed

[2019-12-06 20:01] #14679 closed

[2019-12-06 20:01] #14548 closed

[2019-12-06 20:01] #14529 closed

[2019-12-06 20:01] #14467 closed

[2019-12-06 20:01] #14458 closed

[2019-12-06 20:01] #14456 closed

[2019-12-06 20:01] #14454 closed

[2019-12-06 20:01] #14383 closed

[2019-12-06 20:01] #14190 closed

[2019-12-06 20:01] #14163 closed

[2019-12-06 20:01] #13794 closed

[2019-12-06 20:01] #13765 closed

[2019-12-06 20:01] #13684 closed

[2019-12-06 20:01] #13638 closed

[2019-12-06 20:01] #13582 closed

[2019-12-06 20:01] #13535 closed

[2019-12-06 20:01] #13506 closed

[2019-12-06 20:01] #13475 closed

[2019-12-06 20:02] #13368 closed

[2019-12-06 20:02] #13259 closed

[2019-12-06 20:02] #13243 closed

[2019-12-06 20:02] #13236 closed

[2019-12-06 20:02] #13200 closed

[2019-12-06 20:02] #13075 closed

[2019-12-06 20:02] #13039 closed

[2019-12-06 20:02] #12912 closed

[2019-12-06 20:02] #12893 closed

[2019-12-06 20:02] #12883 closed

[2019-12-06 20:02] #12712 closed

[2019-12-06 20:02] #12689 closed

[2019-12-06 20:02] #12665 closed

[2019-12-06 20:02] #12645 closed

[2019-12-06 20:02] #12608 closed

[2019-12-06 20:02] #12507 closed

[2019-12-06 20:02] #12443 closed

[2019-12-06 20:02] #12434 closed

[2019-12-06 20:02] #12345 closed

[2019-12-06 20:02] #12230 closed

[2019-12-06 20:02] #12203 closed

[2019-12-06 20:02] #12195 closed

[2019-12-06 20:02] #12188 closed

[2019-12-06 20:02] Oninaig commented on #17661
@mkArtakMSFT Apologies, but what I meant to say was that the my website _is_ using Microsoft.AspNetCore.App version 3.0 and I had a reference to Microsoft.AspNetCore.Blazor 3.0.0-preview9.19465.2

I removed that reference and just kept AspNetCore 3.0, the components are still calling `OnAfterRenderAsync` twice.

[2019-12-06 20:15] javiercn commented on #17661
@Oninaig could you upgrade to 3.1.0 RTM and see if it happens there, and in that case, provide a repro project that illustrates the problem?

[2019-12-06 20:52] FirstcodGit opened #17665 "Blazor Webassembly Re-Render Component"
Can we re-render the components in the static method?

### js
_connect.on("ChangeData", (item) => {
    DotNet.invokeMethodAsync("project path", "staticMethod", item);
}

### Razor Component
TestComponent data="dataList"

### Blazor webassembly:
[Parameter] public static List<Data> dataList {get;set;}

[JSInvokable]
public static void staticMethod(List<Data> list)
{
    dataList = list;
    ?TestC

[2019-12-06 21:09] Oninaig commented on #17661
@javiercn I appreciate the quick response but I believe that @mkArtakMSFT is correct in that by default, a fresh out-of-the-box blazor server-side project will not call `OnAfterRenderAsync` twice on a component.

After doing more digging, it appears my actual issue is due to the fact that any `@onclick=` actions (on buttons, for example) _automatically_ call `ShouldRefresh` and since `ShouldRefres

[2019-12-06 21:27] pranavkm commented on #17327
@jsacapdev could you share your application again? It looks like it's no longer available.

[2019-12-06 21:35] pranavkm opened #17666 "Consider adding an analyzer that warns when MvcOptions.EnableEndpointRouting=false but endpoint routing middleware is used"
Based on the issue filed here: https://github.com/aspnet/AspNetCore/issues/17138

[code]

The user's app has `EnableEndpointRouting = false`, but also configures the endpoint routing middleware. We should consider flagging this as a warning since it's not something we claim to support works correctly.

[2019-12-06 22:05] anurse commented on #17504
This is the bug I mentioned in Teams earlier that is fixed. The `Needs: Author Feedback` label was applied but not properly removed when @mrpmorris responded. It's all fixed now.

[2019-12-06 22:21] ddieruf opened #17667 "[Blazor] Dynamic page title"
### Is your feature request related to a problem? Please describe.
For my client side app, I am using server static rendering
`<app>@(await Html.RenderComponentAsync<App>(RenderMode.Static))</app>`

How would I set the page title as the user navigates through the prerendered site?

### Describe the solution you'd like
 A way to set `@title` on each blazer page.

### Additional context
The conversa

[2019-12-06 22:30] halter73 commented on #13200
@Buildstarted Sorry I missed your comment until just now. SignalR manually creates a "request" scope per invocation, so it should be very reliable.

https://github.com/aspnet/AspNetCore/blob/0d02d7a7051edebf24fc2ba92d0172f741f53455/src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs#L218

[2019-12-06 22:40] hferreira commented on #17605
@Tratcher
My backend have more than 200 tables, using EntityFramework Code First.

Just for start, a single application on a single App Pool consumes surrounding 200 MB (from my past investigations, seems that EntityFramework it's responsible for a big share).

If I have 2 applications on separated App Pools, I will need 400 MB of RAM.
I have about 40 applications and it's slowing growing: this wi

[2019-12-06 22:42] estebangamez commented on #12890
Yeah I agree the moment you see promoting their agendas and removing support for the community

[2019-12-06 22:56] JunTaoLuo opened #17668 "Revert workarounds for EFCore projects"
This issue tracks the removal of workarounds in https://github.com/aspnet/AspNetCore/pull/17641. Specifically https://github.com/aspnet/AspNetCore/pull/17641/commits/8c9e5c0755949c1e706c369d704f51c6f3354a33 and https://github.com/aspnet/AspNetCore/pull/17641/commits/4c33bfc34d01b30c72e9920ff883804736544a04.

These were needed since EFCore did not ingest 5.0 Extensions at that particular time. The

[2019-12-06 23:00] #17345 closed

[2019-12-06 23:03] adrianiftode opened #17669 "The HTTP response obtained during functional tests with TestServer it doesn't always contain the originated request content"
### Describe the bug

There are some scenarios when the *response.[RequestMessage](https://docs.microsoft.com/en-us/uwp/api/windows.web.http.httpresponsemessage.requestmessage).Content* does not contain the content used with the request that led to the response message while using the client created by the [TestServer](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.testhost.tests

[2019-12-06 23:04] mkArtakMSFT opened #17670 "Update Blazor WASM to version to 3.2-Preview1"
We need to make sure that the versioning scheme is updated for the blazor-wasm branch to be 3.2-preview1 for the January release

[2019-12-06 23:06] estebangamez commented on #12890
wow version 1.0 version 2.0 ... version 3.0 all these improvements sound amazing but there is always a caveat which is kind of sad , I understand software maintenance is not free but makes lose some trust on .net core.Perhaps next year they will come up with a solution/approach ?

[2019-12-06 23:13] pranavkm opened #17671 "Consider adding an analyzer that recommends not using endpoint routing when authorization filters are used"
Based on https://github.com/aspnet/AspNetCore/issues/17138

In 3.0, with endpoint routing, MVC will evaluate `IAuthorizeData` on actions twice if the application uses AuthZ filters - once as part of the AuthZ middleware and once as part of the filter exection. Auth filters run as combined by default. The `AuthorizeAttribute` may require the policy to be evaluated with the policy on the filter. Doi

[2019-12-06 23:27] ajaybhargavb commented on #14282
Fixed by https://github.com/OmniSharp/omnisharp-vscode/pull/3427/ and https://github.com/aspnet/AspNetCore-Tooling/pull/1424

[2019-12-06 23:27] #14282 closed

[2019-12-06 23:31] ajaybhargavb commented on #14276
@ryanbrandenburg close?

[2019-12-06 23:56] anisite commented on #17662
It's look like this other bug https://github.com/aspnet/AspNetCore/issues/17614

[2019-12-07 01:11] anisite commented on #17191
here a demo project targeting .net core 3.1 https://github.com/anisite/LocalizerBug

[2019-12-07 01:19] anisite commented on #17191
In demo project, this part of code:
[code]
render like that:
![image](https://user-images.githubusercontent.com/3194288/70366433-5381cb00-1865-11ea-83a1-c28c571bdba1.png)

[2019-12-07 02:00] #12115 closed

[2019-12-07 02:00] #12091 closed

[2019-12-07 02:00] #12088 closed

[2019-12-07 02:00] #12036 closed

[2019-12-07 02:00] #11985 closed

[2019-12-07 02:00] #11963 closed

[2019-12-07 02:00] #11951 closed

[2019-12-07 02:00] #11950 closed

[2019-12-07 02:00] #11948 closed

[2019-12-07 02:00] #11935 closed

[2019-12-07 02:00] #11836 closed

[2019-12-07 02:00] #11746 closed

[2019-12-07 02:00] #11734 closed

[2019-12-07 02:00] #11681 closed

[2019-12-07 02:00] #11635 closed

[2019-12-07 02:00] #11494 closed

[2019-12-07 02:00] #11446 closed

[2019-12-07 02:00] #11366 closed

[2019-12-07 02:00] #11357 closed

[2019-12-07 02:00] #11320 closed

[2019-12-07 02:00] #11319 closed

[2019-12-07 02:01] #11316 closed

[2019-12-07 02:01] #11291 closed

[2019-12-07 02:01] #11282 closed

[2019-12-07 02:01] #11280 closed

[2019-12-07 02:01] #11264 closed

[2019-12-07 02:01] #11170 closed

[2019-12-07 02:01] #10742 closed

[2019-12-07 02:01] #10692 closed

[2019-12-07 02:01] #10628 closed

[2019-12-07 02:01] #10608 closed

[2019-12-07 02:01] #10430 closed

[2019-12-07 02:01] #10089 closed

[2019-12-07 02:01] #10036 closed

[2019-12-07 02:01] #9988 closed

[2019-12-07 02:01] #9943 closed

[2019-12-07 02:01] #9714 closed

[2019-12-07 02:01] #9675 closed

[2019-12-07 02:01] #9611 closed

[2019-12-07 02:01] #9543 closed

[2019-12-07 02:01] #9097 closed

[2019-12-07 02:01] #8953 closed

[2019-12-07 02:01] #8946 closed

[2019-12-07 02:01] #8936 closed

[2019-12-07 02:01] #8791 closed

[2019-12-07 02:01] #8273 closed

[2019-12-07 02:01] #8264 closed

[2019-12-07 02:01] #7854 closed

[2019-12-07 02:01] #6729 closed

[2019-12-07 02:02] #5967 closed

[2019-12-07 02:02] #4506 closed

[2019-12-07 02:02] #4503 closed

[2019-12-07 02:02] #2734 closed

[2019-12-07 02:20] ranouf commented on #17586
Hi,

I found a solution available here: https://stackoverflow.com/a/59222453/6123422

:)

[2019-12-07 02:20] #17586 closed

[2019-12-07 04:52] sujayvsarma opened #17674 "Question - BackgroundService, App startup & Api calls [single application]"
So this is a question, not a "bug" at this point. I have found no docs and no examples that illustrate this scenario.

App setup:
ASP.NET Core 3.1 MVC Web Application

The application needs to poll a remote web service over REST API every 30 minutes and populate a database. Each poll action consists of 188 [sometimes more, sometimes less] individual hits to that API endpoint with different query p

[2019-12-07 08:09] thisisthekap opened #17675 "#9020 was closed by bot."
The issue „Host grpc service in iis or as an app service? #9020“ was closed by bot. Imho this issue should be reopened because .NET Core features should be supported on Azure App Service instances. @davidfowl already mentioned, that work is in progress.

[2019-12-07 08:54] ranzeplay commented on #17612
We can install .NET Core 3.1 directly in the pipeline

[2019-12-07 08:54] #17612 closed

[2019-12-07 09:04] sujayvsarma commented on #17674
It appears there is an existing bug for this over at: https://github.com/aspnet/Extensions/issues/2149

So, closing this.

[2019-12-07 09:04] #17674 closed

[2019-12-07 09:18] davidfowl commented on #9020
@anurse how do we keep this issue open?

[2019-12-07 09:57] DenSmoke opened #17676 ".NET Core 3.1 - Kestrel HTTP/2 performance issue with FDD on Ubuntu 18.04"
### Describe the bug
Download speed is too low when HTTP/2 is used with FDD.
I'm not sure but I think this happened after `dotnet-sdk-3.1` was installed - revert of `TargetFramework` to `netcoreapp3.0` didn't help.
SCD publish works well.

### To Reproduce
`dotnet publish -c Release -r ubuntu.18.04-x64 --self-contained=false`
[code]
[code]
### Further technical details
- ASP.NET Core 3.1
- Azure P

[2019-12-07 10:41] DenSmoke commented on #17676
Haha classic...

Problem suddenly gone after I played with ExecStart value of systemd unit.
I changed it from calling an executable to /usr/bin/dotnet dll call and download speed is restored to normal value.
But when I returned old value speed didn't decrease. Also it affected running production version of API which wasn't even restarted.

I have no clue what's going on.

[2019-12-07 10:50] Kahbazi commented on #17615
One breaking behavior in switching to endpoint is that `HandleRequestResult.SkipHandler()` makes no sence for an Endpoint.

https://github.com/aspnet/AspNetCore/blob/d8381656429addead2e5eb22ba1356abfb419d86/src/Security/Authentication/Core/src/RemoteAuthenticationHandler.cs#L65-L68

Also I'm not quite familiar with Negotiate Handler, does it also need to break into an endpoint? I feel like its bus

[2019-12-07 11:17] mv10-work commented on #17675
Auto-close is incredibly frustrating. I've stopped reporting bugs through VS because of it. I just saw another issue closed that I was watching that was opened barely two weeks ago. Ridiculous. I sure hope that script is mis-configured.

[2019-12-07 13:08] marcuslindblom opened #17677 "AspNetCore.Correlation.Google cookie not found"
After upgrading from 3.0 to 3.1 I have issues with the Google authentication. I have no cookie policy registered and this is how my authentication configuration looks like:

[code]
And this is the error I get:
[code]

[2019-12-07 13:50] KamranShahid commented on #17654
i have shared the project config as mentioned above. it's a .net core 3.0 solution. i published as self contained project with trimmed version as mentioned above. I am simply using httputility.parsequerystring() to get the name value collection. and getting this error.
It is called in my controller.
Interesting thing is i can reference Microsoft.AspNetCore.Http.Abstractions 2.2 library in my some

[2019-12-07 14:10] KamranShahid commented on #17325
I am using HttpUtility for ParseQuery string where i have to get namevalue collection.
If there is a way i can avoid it then i will welcome it.
I have posted a separate issue at https://github.com/aspnet/AspNetCore/issues/17654
where you can find the .csproj detail
code i am using is

 var coll = HttpUtility.ParseQueryString(request.QueryString.Value);
                    for (var i = 0; i < coll.

[2019-12-07 14:49] blowdart commented on #17677
What browser are you using? Have you implemented the [changes needed](https://devblogs.microsoft.com/aspnet/upcoming-samesite-cookie-changes-in-asp-net-and-asp-net-core/) to support older browsers?

[2019-12-07 15:11] anorborg opened #17678 "Simultaneous Blazor Hosting Models and switching at runtime"
### Is your feature request related to a problem?
I would like to host my blazor application differently depending on client attributes and needs, but it appears I must choose between server or client.

### Describe the solution you'd like
Ideally it would be interesting to have a bootstrap step on the initial load that can decide whether to run the application in server-side mode or wasm mode fro

[2019-12-07 15:31] Tratcher commented on #17677
Sharing a decrypted Fiddler trace is the best way to debug this class of issue.

[2019-12-07 15:35] Tratcher commented on #17325
And you're not using the pre-parsed `request.Query` because? Even if you need a different collection type, it should be easier to copy the collection than to re-parse it.

[2019-12-07 15:39] Tratcher commented on #17615
No, Negotaite, CertAuth, and JwtBearer do not have any dedicated endpoints. NegotiateAuth's HandleRequestAsync need to stay due to mutli-stage handshakes that could happen on any url path.

[2019-12-07 15:40] Tratcher commented on #17615
True, you'd have to opt-out of endpoints if you wanted to use dynamic fallback logic. Most scenarios don't require this by default.

[2019-12-07 15:42] anurse commented on #9020
It got put in Discussions and tagged question. Reopened.

[2019-12-07 15:55] sprotty commented on #17282
Did you ever figure out a good way to detect the pre-render (ideally in OnInitialized/OnInitializedAsync), or is the code above as good as it gets?

I've got a control that takes a while to load data in OnInitializedAsync, the result being that nothing is rendering to the client until its completed the whole pre-render, so its unresponsive while its doing all the work the first time, then has to d

[2019-12-07 15:57] marcuslindblom commented on #17677
@blowdart I use Chrome 78 and I have not implemented any support for older browsers.

[2019-12-07 16:22] thisisthekap commented on #17675
Was reopened. Closing this one.

[2019-12-07 16:22] #17675 closed

[2019-12-07 16:39] pranavkm commented on #17368
This was a breaking change between 2.2 and 3.0.

Unlike some extension packages, `Microsoft.AspNetCore.Mvc.NewtonsoftJson` is a feature of ASP.NET Core and consequently must target netcoreapp3.x. See https://github.com/aspnet/Announcements/issues/324. If you'd like to to continue supporting older versions of ASP.NET Core, you could consider cross-compiling: https://docs.microsoft.com/en-us/aspnet/

[2019-12-07 16:43] pranavkm commented on #17371
@shantrendz could you share a minimal app with the setup that you have? It's not entirely clear how you have configured things and what isn't working.

[2019-12-07 16:50] Hellevar commented on #17678
Check this [repository](https://github.com/Suchiman/BlazorDualMode) description

[2019-12-07 17:06] Grauenwolf commented on #17282
Nope, they just keep blindly closing tickets without explanation.

So I'm still using the annoying "just catch the exception" style. It's rather unprofessional but what choice do we have?

[2019-12-07 17:07] d1mnewz commented on #17368
Alright, thanks for clarifying it!

[2019-12-07 17:07] #17368 closed

[2019-12-07 18:00] #17657 closed

[2019-12-07 18:11] bernatgy commented on #17464
In the end, that's what I did. I'm just using cookie authentication. This Issue on one hand solved itself, on the other, it did not. I still believe it to be a really bad sign that the framework, while providing a lot, is so rigid. It's built on the principles of flexibility, but still some of the most common needs are not supported.

I wanted to use Identity, so that I could build up the implemen

[2019-12-07 19:08] anorborg commented on #17678
@Hellevar, looks interesting, though you'd still be making the decision based on your first request. Perhaps you could wrap the logic a bit, but I'm not sure you could start the app running server side and simultaneously prepare and switch over to wasm when ready.

[2019-12-07 19:09] Kahbazi commented on #17615
I was thinking of deprecating and eventually removing `HandleRequestAsync`. Is it possible to move all Netotiate process to `HandleAuthenticateAsync`?
Beside aspnet docs, where can I learn more on how negotiate works?

Also I would like to know your thoughts on my comment on how to move to Endpoint. Should I add more details? Is there something that I missed?

[2019-12-07 19:31] Tratcher commented on #17615
For compat reasons HandleRequestAsync is going to have to stay.  Besides NegotiateAuth, there are also WsFed scenarios that require it. Not all WsFed providers use dedicated endpoints, many of them redirect you back to the site root. Thus you need to be able to have multiple components on a path and sometimes skip one in favor of the other. That scenario's disabled by default, but still needs to b

[2019-12-07 20:00] #17616 closed

[2019-12-07 20:52] YordanYanakiev commented on #16815
I am strongly against it. Replacing a basic ideology because there is a bug is an absurd.
The bug should be fixed one or another way, not replacing the basic ideology of a programmers logic and language property nearly 60 years old.
The fix is as well an easy one - just apply internal/hidden variable as a counter if there is missing such - 2 steps code check I believe will fix this, and probably t

[2019-12-07 20:58] KamranShahid commented on #17325
thanks Tratcher. I will now use Request.Query Collection to fill my required set and get rid of HttpUtility.
thanks a lot

[2019-12-07 21:01] KamranShahid commented on #17654
some one given me a suggestion of using request.Query collection for same purpose. will try to get rid of this HttpUtility.Parsequery... related implementation

[2019-12-07 21:10] YordanYanakiev commented on #11471
I got some not yet completed idea. Maybe someone will complete it:
-Xamarin to provide a native container (not web view), and Blazor to drop his DLL's, and then render them inside the device as a Forms application (kind of)..
( maybe this will lead to somehow merging XAML with RAZOR - I am not yet sure).

[2019-12-07 21:15] Joe4evr commented on #17664
Why don't you simply create a Blazor component and use the `<component>` taghelper to render that component?

[2019-12-07 21:51] peterblazejewicz commented on #17667
#16018
Is more relevant, hasjust been closed recently via bot

[2019-12-07 21:53] VBAndCs commented on #17664
@Joe4evr
This is why from my point of view:
1. The code behind model of Blazor is not simple as the Razor Pages one.
2. Why creating a component to execute simple functions that need little or none html code? Blazor was JS alternative. JS function can crate the DOM without any static HTML.
3. Dispersing the page logic over 4 files kills the benefits of Razor Pages.
4. If the pages contains too muc

[2019-12-07 22:32] pranavkm opened #17681 "Re-enable blazor-wasm template tests in master"

[2019-12-07 23:37] awe-source commented on #17572
Well... purely selfishly I would support a "this changed" document...

TBH *once we figured out* that this "surprise" was related to ANCM 1/2 we went searching for "whats new" documents on this and all we found was "how to upgrade" which didn't include much detail beyond "change this string in web.config" and "see this doco" (the doco your reference above, which is the mostly same for ASPNET CORE

[2019-12-07 23:55] blowdart commented on #17677
As Chris says a fiddler trace would be highly useful

[2019-12-08 01:43] SantosRay opened #17682 "Build error with code analyzer after upgrading to .net core 3.1 preview4"
After upgrading to .net core 3.1 I am having this same issue:

https://stackoverflow.com/questions/59180175/build-error-with-code-analyzer-after-upgrading-to-net-core-3-1-preview4

[2019-12-08 06:02] smartprogrammer93 opened #17683 "[Blazor] ReadJwtToken produces an error after preview4 and netstandard2.1"
### Describe the bug
After upgrading to the latest preview of blazor (3.1 preview 4) and netstandard2.1 JwtSecurityTokenHandler.ReadJwtToken always produces an error

### To Reproduce
Create a blazor project.

write the following:
`
var handler =  new JwtSecurityTokenHandler();
IdentityModelEventSource.ShowPII = true;
Jwt = handler.ReadJwtToken(token);
`
run code providing it with an HS256 JWT and

[2019-12-08 06:35] eavonius opened #17868 "How to inject dependencies?"
It appears there's no generic version of options.Conventions.AddFolderApplicationModelConvention or options.ConfigureFilter. Is there a way to get a hold of the service container within filters, or do we need to create a scope in Startup.cs (hack if you ask me) and pass dependencies in?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-12-08 06:51] flopes89 opened #17685 "Empty claims from JwtBearer middleware"
# Describe the bug
I want to validate a JWT (and the roles in it).

### To Reproduce

**Startup**
[code]

**MyRoleHandler**
[code]

**https://example.com/.well-known/openid-configuration**
[code]

`claims` is empty. What am I doing wrong here? I was under the impression the `JwtBearer` middleware will configure itself when given the openid-configuration?

There are no errors or exceptions anywhere

[2019-12-08 12:18] MV10 commented on #17678
I don't personally have much interest in the client-side mode (doesn't seem like a good fit for enterprise dev, which is where I live now, and I'm not a fan of the slower pace of Xamarin), but it seems to me this could only work if the server side ran wasm, which might make it easier to transfer state to the client when your code decides to switch.

Otherwise what you propose would seem to require

[2019-12-08 12:43] jaqra opened #17686 "[SPA] allow `dotnet publish` modify output folder for frontend project"
When i publish my spa (react) project, file structure is:

* publish:
  * ClientApp
    * **build <======== THIS IS UGLY**
      * index.html
      * static
        * ...
  * *.dll

It should be:

* publish:
  * ClientApp
    * index.html
    * static
      * ...
  * *.dll

csproj file:

[code]

I should have to remove `build` folder path in this line or anywhere

[code]

[2019-12-08 13:56] tobias-tengler opened #17687 "Official GraphQL support"
### Is your feature request related to a problem? Please describe.
Not really, I just couldn't find an up to date statement on the following matter:
Are there any plans for officially implementing [GraphQL](https://graphql.org/) for ASP.NET Core?
I found a related issue (https://github.com/aspnet/AspNetCore/issues/2303), but it's two years old and the discussion has been locked.

### Describe the

[2019-12-08 14:49] leastprivilege commented on #17083
Thanks! It is working now!

[2019-12-08 16:01] liuliang-wt opened #17688 "Building resources file needs netfx sdk?"
When I build a .netcore app with resource files in VS on windows, it requires me to install netfxsdk 4.7.2 to use al.exe command. It is weird that .netcore depands on netfxsdk.

And when I try to publish a .netcore app with resource files on my mac, it failed with this error:

/usr/local/share/dotnet/sdk/3.0.100/Microsoft.Common.CurrentVersion.targets(3056,5): error MSB3552: Resource file "**/*.re

[2019-12-08 16:08] ondrejspilka commented on #13564
See https://stackoverflow.com/a/59237265/1162622

Obviously `PropertyNamingPolicy` should have `PascalCase`

[2019-12-08 16:36] peter1965p opened #17689 "ASP.Net Core with Bootstrap 4.4"
The before effect is already cool. Do I have to rewrite the whole layout now? How do I set up a normal bootstrap css on my site? As an example so https://colorlib.com/wp/template/loans2go/ but not as Wordpress ... but for ASP.net Core. I think that's enough for now, later I need a contact form.

Kind regards, Peter

[2019-12-08 17:00] #17650 closed

[2019-12-08 17:06] Andrzej-W commented on #16815
@YordanYanakiev this is not the bug - it is a standard C# behaviour which is simply not known to some people and sometimes it is not obvious if you are not an expert on Blazor internals.

People can write loops with arbitrary complexity and it is not a trivial task to introduce some local variables (sometimes more than one) to automatically solve the problem. Here is a simple example without Blazo

[2019-12-08 18:32] YordanYanakiev commented on #16815
Unfortunately I am unable to accept this misconception of the basic ideology of the procedural programming languages. This is illogical and unintuitive. Therefore it should be never part of any kind of programming language.

[2019-12-08 19:28] blowdart commented on #17685
Does the token issued by example.com  have claims? I'm confused because example.com is supposed to be for documentation only, and I was unaware that it has an example jwt issuer. https://example.com/.well-known/openid-configuration doesn't return a valid json file for me.

[2019-12-08 19:35] IKoshelev opened #17690 "When Razor views are compiled, i'd like to get access to resulting C# code"
### I'm trying to examine C# code that is produced when Razor compiles .cshtml files, but can't find any good option to do so.

### Describe the solution you'd like
Ideally - I'd like to see resulting C#  files as sub-items of the .cshtml files (like https://github.com/RazorGenerator/RazorGenerator allows for non-core MVC). But really, any non-hacky solution which lets me feed in .cshtml files and

[2019-12-08 19:46] flopes89 commented on #17685
Yeah it had claims, but it's not actually from example.com - I substituted the real URL for privacy reasons.

[2019-12-08 19:55] IrakliLomidze opened #17691 ".NET CORE 3.1 Raoz Page Bug"
in .NET 2.2 Code working fine

[code]

But in .NET 3.1 @* is an incorrect syntax, code is not compiling.

[2019-12-08 20:22] rjgotten commented on #12890
The maintenance cost for the Node.js side of things - which is specifically what MS engineers cited - is a problem that either doesn't exist, or was created due to Microsoft's own ineptitude.

I've taken a look before. Most of the TypeScript that handles the Node.js interop was not cleaned up; restructured or even _touched_ in literally **years**.

For the basic NodeServices `InvokeAsync` that's f

[2019-12-08 22:30] NTaylorMullen commented on #14287
Have done a lot of work to get the Razor grammar into a usable state for most scenarios. That being said there are several known things I still haven't done:

- [ ] Email addresses
![image](https://user-images.githubusercontent.com/2008729/70397253-9490f100-19c5-11ea-881e-e058a4470ead.png)

- [ ] Razor templates
![image](https://user-images.githubusercontent.com/2008729/70397304-fbaea580-19c5-11ea

[2019-12-08 23:37] gaelian opened #17693 "Identity scaffolding and "OTS parsing error: invalid version tag""
### Describe the bug
After adding the ASP.NET Identity scaffolding to an ASP.NET Core 2.1 web app, glyph icons don't display correctly and a number of  `OTS parsing error: invalid version tag` and `Failed to decode downloaded font` messages are visible in the browser console, referring to these files:

`glyphicons-halflings-regular.woff2`
`glyphicons-halflings-regular.woff`
`glyphicons-halflings-r

[2019-12-09 01:21] kroymann opened #17694 "SignalR doesn't use NewtonsoftJsonProtocol when parsing Handshake request"
### Describe the bug
When configuring SignalR to use the NewtonsoftJsonProtocol via `services.AddSignalR().AddNewtonsoftJsonProtocol()` I would expect _all_ JSON parsing and serialization to use Newtonsoft, but it appears that the initial handshake logic ignores this and uses System.Text.Json to parse the request.  This is problematic for me as there is a client of my service that is passing up a

[2019-12-09 02:20] Tratcher commented on #17685
A) Check the application logs to make sure JwtBearer auth was invoked.
B) Check context.User.IsAuthenticated == true and context.User.AuthenticationType == "Bearer".
C) How are you triggering Authorization? With an attribute?

[2019-12-09 03:38] mrmowji opened #17695 "Anchor Tag Helper generates a link to API instead of MVC Controller for Delete actions"
### Describe the bug
When we have both API Controller and MVC Controller for a model, Tag Helpers targeting `Delete` action would point to the API `Get` method instead of the MVC Controller's `Delete` action.

### To Reproduce
- Create a new Web Application project targeting .NET Core 2.2 (haven't tested with 3.0 or 3.1).
- Define a model (e.g. `Entity`).
- Add MVC Controller and corresponding vie

[2019-12-09 05:01] davidfowl commented on #17694
What client is it?

[2019-12-09 05:17] gregbradley opened #17696 "Asynchronous implementation of IDataProtectionProvider.CreateProtector"
We need to implement an `IDataProtectionProvider` that has a `CreateProtector()` method that calls an asynchronous method. Is this possible to do with the current definition and usage of `IDataProtectionProvider`?

[2019-12-09 05:33] davidfowl commented on #17615
cc @rynowak

[2019-12-09 06:18] RonaldGHempel commented on #17652
Hi @mkArtakMSFT, I am not quite sure that this is not Blazor related. I think this is related to how Blazor handles events. And doing a repo without Bootstrap wouldn't show the point here. Where can I find deeper information on event handling? I searched blazor.net, of course, but this didn't answer our questions.

[2019-12-09 06:40] JHeLiu opened #17697 "Global error gets request parameters"
I want to implement something like this in.net CORE IExceptionFilter, the parameter fetch under the IActionFilter, after the implementation of the IActionFilter you can get the ActionArguments in the ActionExecutingContext and I can walk through it and get the request parameters, but now I want to get the parameters under global error capture, and I know it's a similar fetch under the.net framewor

[2019-12-09 06:40] hueifeng opened #17698 "Create a class library, unable to use in libraries Microsoft. AspNetCore.Routing packets"
I want to create an extension class in my class library, but  need to introduce **Microsoft.AspNetCore.Routing**，but the class library SDK uses **Microsoft.NET.Sdk**.
Unfortunately, this cannot be introduced in the class library **Microsoft.AspNetCore.Routing** package

[code]

[2019-12-09 06:48] hueifeng commented on #17698
Libraries often need to support multiple versions of ASP.NET Core. Most libraries that were compiled against previous versions of ASP.NET Core should continue working without issues. The following conditions require the app to be cross-compiled:

The library relies on a feature that has a binary breaking change.
The library wants to take advantage of new features in ASP.NET Core 3.0.

[2019-12-09 06:48] hueifeng commented on #17698
<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFrameworks>netcoreapp3.0;netstandard2.0</TargetFrameworks>
  </PropertyGroup>

  <ItemGroup Condition="'$(TargetFramework)' == 'netcoreapp3.0'">
    <FrameworkReference Include="Microsoft.AspNetCore.App" />
  </ItemGroup>

  <ItemGroup Condition="'$(TargetFramework)' == 'netstandard2.0'">
    <PackageReference Include="Microsoft.AspNet

[2019-12-09 06:49] hueifeng commented on #17698
Libraries often need to support multiple versions of ASP.NET Core. Most libraries that were compiled against previous versions of ASP.NET Core should continue working without issues. The following conditions require the app to be cross-compiled:

The library relies on a feature that has a binary breaking change.
The library wants to take advantage of new features in ASP.NET Core 3.0.
For example:

[2019-12-09 06:50] #17698 closed

[2019-12-09 06:55] flopes89 commented on #17685
Well that's probably part of the problem: I don't see any logging from "inside" ASP.NET.

[code]

But all I get from logging is:

[code]

`context.User.IsAuthenticated` and `...AuthenticationType` doesn't exist when I look into the debugger:

![2019-12-09 07-53-56](https://user-images.githubusercontent.com/1453127/70414075-488f8c00-1a59-11ea-9622-f958c84e031e.png)

[2019-12-09 07:51] pikoscielniak commented on #17650
This is what I get when I use this solution:
[code]
And the stack trace:
[code]

I wonder if I serve a file with the `File` method does something like that `<base href="~/">` in a index.html file will be resolve correctly? I don't don't think so.

[2019-12-09 08:06] marcuslindblom commented on #17677
Ok. I use macOS but I could try the mono version of Fiddler maybe

[2019-12-09 08:16] shahabfar commented on #17662
change
<PackageReferenceInclude="Microsoft.AspNetCore"Version="2.2.0" />
 to
<PackageReference Include="Microsoft.AspNetCore.Http.Abstractions" Version="2.2.0" />
works for me

[2019-12-09 08:49] chrissainty opened #17699 "Bundling and minification tooling for Blazor"
### Is your feature request related to a problem? Please describe.
With the recent removal of auto adding static assets in Blazor WebAsssembly, there has been a lot of discussion in the community about whether it is a good thing or not. But I think the real problem is being missed, bundling and minification.

Right now I believe most Blazor apps are just adding static file references from 3rd part

[2019-12-09 09:07] penfold commented on #17607
@javiercn Here is a trace. A number of downloads occur in time frame of the trace.

To me it looks like the delay is in unmanaged code - is this the interaction with Node?

[trace.zip](https://github.com/aspnet/AspNetCore/files/3938704/trace.zip)

Thanks,
Paul

[2019-12-09 10:03] y-lobau opened #17700 "WCF client: Type 'System.ServiceModel.FaultException' cannot be serialized."
[code]
I'm trying to consume WCF service. Proxy-reference was generated using VS Connected Service based on WSDL. Then when running RPC-method on Reference class im getting the following inner exception below. The call to service is fine - i can see it in fiddler.

`Type 'System.ServiceModel.FaultException' cannot be serialized. Consider marking it with the DataContractAttribute attribute, and mar

[2019-12-09 10:37] mrpmorris commented on #17472
This is how I achieved autofocus https://blazor-university.com/javascript-interop/calling-javascript-from-dotnet/passing-html-element-references/

[2019-12-09 11:16] jsacapdev commented on #17327
@pranavkm it is available again

[2019-12-09 12:14] jeroenheijmans commented on #17132
Thanks again for the reply! I have a feeling I'm not explaining myself correctly, but presume that most likely means that _I_ am not _understanding_ the templates too well. Since there's no real other activity I'll go ahead and close this issue, and look for my solution by reading the source and docs some more (or perhaps by resorting to the IDS4 UI Quickstart instead).

Thanks for the interaction

[2019-12-09 12:14] #17132 closed

[2019-12-09 12:24] blowdart commented on #17696
Well you could await inside it, but generally no. We don't expect asynchronous use of this, because the keyring is created rarely and needs to be fully created before anything else continues. The complications of async aren't worth it in this case.

[2019-12-09 12:26] blowdart commented on #17685
You need to have an Authorize attribute on your endpoint, or call the authorization service before it will kick in.

[2019-12-09 12:31] Weboholics opened #17701 "Shared resources (resx) does not work in .net core 3.1 and VS 16.4"
### Describe the bug
Shared resources has stopped working since .net core 3.1 / vs.16.4.
Works with vs 16.3.4 and .net core 3.0

### To Reproduce
examplecode: https://github.com/Weboholics/ResourceTest

Run this code in vs.16.4  and notice that the shared resources does not work. View resources does work. This is on the /home/index page.
Changing to 3.0 under vs 16.4 does not work either.

If you

[2019-12-09 12:44] flopes89 commented on #17685
I had the `[Authorize]` attribute in place. However, I figured out now that the error was in fact that the `TokenValidationParameters` must be set correctly. I don't exactly know why, but as soon as I add them in any capacity, the claims are correctly decoded.

So now I added them as follows:

[code]

And now, in my `MyRoleHandler`, the claims are correctly decoded an I can check them.

[2019-12-09 12:44] #17685 closed

[2019-12-09 12:58] faisal5170 opened #17702 "@bind="" and @oninput="" issue Blazor"
below is my HTML content

 <input type="text" id="txtSearch" placeholder="Search Titles..." class="form-control" @bind="searchTerm" @oninput="@FilterRecords" />

@code {
    private string searchTerm;

 public async Task FilterRecords(EventArgs args)
    {
//code
    }

but when I press key searchTerm property get previous values like If I press "a" it will take null, if I press "ab" it will take

[2019-12-09 13:04] gfurtado commented on #17269
I'm having the same problem with the official release VS 2019 16.4. So for now rolled back to VS 2019 16.3.10.

[2019-12-09 13:06] SteveSandersonMS commented on #17699
Totally agreed. We have an item on the backlog tracking this: #5459

It's likely that anything we do in this area would be ASP.NET-wide, not specific to Blazor. We don't yet know if it's realistic to build a new thing here, or whether anything we do would have to be build around WebPack somehow.

[2019-12-09 13:06] #17699 closed

[2019-12-09 13:07] chrissainty commented on #17699
@SteveSandersonMS Thanks Steve, my apologies I missed that issue.

[2019-12-09 13:08] SteveSandersonMS commented on #17702
Yes, this is because the `oninput` event runs before `onchange`, so your `FilterRecords` method runs before the `@bind` handler has run. By default, `@bind` attaches to the `onchange` event.

As an alternative, consider removing `oninput`, and instead use `@bind` with `@bind:event="oninput"`. Then you can put arbitrary logic to react to updates inside the setter of whatever property you're writing

[2019-12-09 13:12] sorin87bv commented on #17662
With InProcess Hosting trying to run IISExpress, the error is "The configuration file 'appsettings.json' was not found and is not optional" as Directory.GetCurrentDirectory() from .SetBasePath(Directory.GetCurrentDirectory()) points to "C:\Program Files\IIS Express". This only started to happen after upgrade to Visual Studio 16.4 and the change mentioned by shahabfar above works fine for now (thou

[2019-12-09 13:21] ollieferns commented on #16965
@rynowak @javiercn could somebody reach out to me please regarding this issue. It seems to me to be a fairly serious issue with endpoint routing. Happy to discuss privately if required but the total radio silence is a bit unnerving when trying to convince my powers-that-be that .net core and aspnet is a viable technology choice for what we are trying to do here.