[2020-02-12 21:00] #18824 closed

[2020-02-12 21:00] #18749 closed

[2020-02-12 21:00] #18557 closed

[2020-02-12 21:00] #18407 closed

[2020-02-12 21:09] anurse commented on #18949
@gfoidl Sounds good! I take it from your comments you are able to submit a PR? That would be great!

[2020-02-12 21:12] anurse commented on #18578
@pzbyszynski Without seeing more of your application, we can't really help diagnose an issue like this (and in general Microsoft Product Support is the best way to get more in-depth help diagnosing performance issues in your app; feel free to let me know any issues you had when you contacted them)

[2020-02-12 21:13] anurse commented on #18943
We are currently in-sync.

[2020-02-12 21:14] HaoK commented on #18961
Why does order matter? All policies need to succeed for the request to be authorized.

[2020-02-12 21:18] anurse commented on #18973
@DEVASENASYN what exact versions are you targeting? .NET Core 2.0 is [has been end-of-life since October 2018](https://dotnet.microsoft.com/platform/support/policy/dotnet-core#lifecycle).

[2020-02-12 21:18] HaoK commented on #18954
Are you saying that the following doesn't work?

`[Authorize(AuthenticationSchemes = { BasicAuthenticationHandler.AuthenticationScheme, BasicAuthenticationHandler.AuthenticationScheme + 2 }, Roles = "testRole")]` doesn't work?

[2020-02-12 21:20] HaoK commented on #10970
Thanks again @serpent5   Fixed by https://github.com/dotnet/aspnetcore/pull/18296

[2020-02-12 21:20] #10970 closed

[2020-02-12 21:36] Eirenarch commented on #9939
I am really curious about the thought process behind only supporting string and enum. It is obvious to me that the integer types, guid and their nullable versions should also be supported

[2020-02-12 21:50] rkone commented on #18953
My console app works as expected:

    class Program
    {
        static void Main(string[] args)
        {
            Console.WriteLine("Hello World!");
            var myClass = new MyClass();
            myClass.Run();
        }

        public class MyClass
        {
            private SampleContext _ctx;
            private CancellationTokenSource _tokenSource = new CancellationTokenSource

[2020-02-12 21:54] JamesNK opened #18994 "Update Grpc.AspNetCore version referenced by template"
The Grpc.AspNetCore package referenced by the template is version 2.23.2. This was released Sep 20, 2019. Since then there have been many bug fixes, some of which are still being reported by users who have old versions of the package.

We should update Grpc.AspNetCore package in the template to 2.27.0.

Related: There is "Add Service Reference" tooling in VS that adds a reference to Grpc.Net.Clien

[2020-02-12 21:56] #13943 closed

[2020-02-12 22:01] gfoidl commented on #18949
Yes, I'm able :wink:
Will send one by next week, and need to run some more benchmarks. Maybe some more tuning of perf...

[2020-02-12 22:14] anurse commented on #18949
No worries, just getting a feel for if I need folks to write some code or review some code ;P.

[2020-02-12 22:19] anurse commented on #18994
Yep, let's get a PR open against `release/3.1` to update the template and we can submit it to shiproom.

[2020-02-12 22:36] johnayoub commented on #18961
@HaoK That's true but before we relied on the global filters executing first so if the user is not authenticated it short circuits and redirects the user to login. With this new behavior, I have to check in every policy if the user is authenticated or not before I do anything else. I don't know if that behavior is intentional or not but I didn't see this pointed out it in the migration guide from

[2020-02-12 22:46] NTaylorMullen commented on #18988
https://github.com/dotnet/aspnetcore/issues/18990

[2020-02-12 22:46] #18988 closed

[2020-02-12 22:52] nhart12 commented on #18846
No it doesn't ever prompt for a shutdown.. I've tried with the /norestart and it still logs the error in event viewer.. I will keep digging thanks for the help thus far

[2020-02-12 23:02] anurse commented on #13503
@SteveSandersonMS @BrennanConroy anything remaining here? SignalR should be working for Blazor WASM apps (with some other bugs that are otherwise tracked).

[2020-02-12 23:05] BrennanConroy commented on #13503
I think this can be closed

[2020-02-12 23:07] anurse commented on #13503
I'll close it then! If anyone is seeing this kind of issue using SignalR Client on Blazor WASM, feel free to open a new issue!

[2020-02-12 23:07] #13503 closed

[2020-02-12 23:17] kmk713 commented on #18940
@blowdart yes it just gets logged, but has no effects other than it's clogging up the log quite badly

[2020-02-12 23:17] NTaylorMullen commented on #14290
The ability to complete this issue will be blocked on O#'s support of semantic colorization at the LSP layer. That work may spin off of https://github.com/OmniSharp/omnisharp-vscode/issues/3565

[2020-02-12 23:18] kmk713 commented on #18940
@rckreddy I'll try out the suggestion soon and post updates! Cheers

[2020-02-12 23:29] atifaziz commented on #4108
@mkArtakMSFT I can understand that and thanks for the frank explanation, but then why not leave it open as an “up for grabs”? It doesn't seem like running arbitrary commands from dotnet-watch sounds outrageous or something that would be a misfit of a feature.

[2020-02-12 23:31] pranavkm commented on #18384
Picking this up.

[2020-02-12 23:31] anthcool commented on #17014
Thanks for this.  This will be nice once it's available.  Have been looking for a way to get the implicit auth flow with SSO, user identity via AAD, and a data access token figured out for some time now.  Looking forward to your progress!  For now, I'm looking into using @cradle77 's Nuget for this type of auth, that can be found here:  https://github.com/cradle77/Blazor.Msal

[2020-02-12 23:34] richbryant commented on #17014
you're not sure what point I'm trying to make?

Okay, I'll try to be very clear.  This is a framework for applications which will run on the internet.  Security is therefore a huge consideration.  If you provide a template, you know as well as I do that 90% of line managers will think "we used the Microsoft template, it's all done the Right Way" means "it's secure".  And, in some small number of c

[2020-02-13 00:06] blowdart commented on #18940
ok phew :)

In that case I'm going to suggest you ask on the AAD repo about how to adjust the logging level. https://github.com/AzureAD/microsoft-authentication-library-for-dotnet is probably a good place to ask.

[2020-02-13 00:57] sowsan commented on #17014
Totally got the security concepts and how it can be misinterpreted. I don’t think developers are that stupid to just follow a template. Being these frameworks are pretty new, at least a sample that shows how it works would be great for developers to start with.

[2020-02-13 02:46] DEVASENASYN commented on #18973
@anurse  I'm using 2.0.0

[2020-02-13 03:04] cash-cash commented on #17962
You can work around it quickly in the meantime by triggering a silent sign in for your user when you receive an expired token.

While delay isn't ideal, it does stop the site crashing.

[code]
Unfortunately when getting our user we don't appear to get the refresh token. Otherwise I'd look at
modifying startup.cs, and creating a new tokenController as per https://www.blinkingcaret.com/2018/05/30/re

[2020-02-13 03:06] HaoK commented on #18329
Turns out we couldn't use the constant because of the layering, the constant is defined in the AspNetCore package, while this class lives in the Core (non aspnet specific) package.  We don't think this is important enough to fix since its a constant that will not change

[2020-02-13 03:06] #18329 closed

[2020-02-13 03:15] ajaybhargavb opened #18996 "Allow Razor parser to utilize C# formatting options"
Related to https://github.com/dotnet/aspnetcore/issues/14271

Right now no matter how the editor is configured, the background C# document will always be generated with tabSize: 4 and InsertSpaces: true. We need flow editor customization through to the code generation to enable correct formatting behavior.

[2020-02-13 04:28] Wayne-Mather commented on #11212
It would be great to have component->component routing. currently routing only works for pages (i.e: controllers). I would love to have a <component> tag and have routing within that component that can load other components based on the url. Even something like <component_router><root_component/></component_router>would be ok and we register routes to components somehow.

The only way to currently

[2020-02-13 07:04] DominikPf commented on #17014
@anthcool It is not longer recommended to use the implicit flow. A better way ist to use authorization code with pkce.

Or even better: Don't use Tokens in your Browser, use Same-Site Cookies. (Current IETF recommendation for OAuth2. Also mentioned by @pablopioli)

Here is a blog post from one of the IdentityServer authors:
https://brockallen.com/2019/01/03/the-state-of-the-implicit-flow-in-oauth2

[2020-02-13 07:10] mkArtakMSFT commented on #4108
Well, this particular issue has been around for more than two years now, and nobody from the community was interested in submitting a PR.

[2020-02-13 08:07] atifaziz commented on #4108
@mkArtakMSFT Fair enough.

[2020-02-13 09:04] yahorsi opened #18998 "Microsoft.AspNetCore.Authentication.AzureAD.UI 3.1.1 causes System.IO.FileNotFoundException: Could not load file or assembly Microsoft.AspNetCore.Razor.Runtime"
Hi Guys,

We're developing new SPA using latest .NET Core, today, according to the sample article https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-aspnet-core-webapp we add Microsoft.AspNetCore.Authentication.AzureAD.UI.

And app started crashing on the call to
[code]

with exception
[code]

NOTE: App starts crashing right after adding new package, even if we won't use

[2020-02-13 09:25] yahorsi commented on #18998
Linking corresponding forum thread where people got into the same problem

https://forums.asp.net/t/2163206.aspx?Could+not+load+file+or+assembly+Microsoft+AspNetCore+Razor+Runtime+Version+3+1+1+0

[2020-02-13 09:35] kevbite commented on #18977
Thanks for the response @pranavkm

I ended up injecting in `IOptions<ApiBehaviorOptions>` to my actions and using the factory directly, which keeps them uninformed.

I've documented it on my blog https://kevsoft.net/2020/02/09/adding-errors-to-model-state-and-returning-bad-request-within-asp-net-core-3-1.html

I just wanted to make sure I wasn't doing something completely stupid 👍.

[2020-02-13 09:37] Z3roCoder commented on #13503
Awesome to see this resolved now!
Only wanting to ask - What package would I need to have Blazor WASM communicate via SignalR now, without using a JavaScript library like I ended up doing?
Could someone write up a few little Steps of how to go about it with the changes now? Thank you!

[2020-02-13 09:43] javiercn commented on #18998
@yahorsi thanks for contacting us.

Pranav, do you have any idea of why is this? I would have imagined all these things get compiled coherently, so this should never happen. Am I missing something here?

[2020-02-13 09:45] javiercn commented on #18986
@istvanloth thanks for contacting us.

I believe that's by design. Changing the URL in the browser will always cause a full page refresh, that's the browser behavior. There's nothing Blazor can do to prevent that.

[2020-02-13 09:48] javiercn commented on #18384
@pranavkm If you pick this up. Can you hold of merging to the end of the milestone to avoid conflicts with all the ongoing work?

[2020-02-13 09:52] brikken commented on #13503
@Z3roCoder I assume you should simply use the .NET client, as described in the SignalR docs

[2020-02-13 09:56] yahorsi commented on #18998
The issue got solved after installing the latest .NET Core SDK's, but it frustrates a bit. So far I understand that I do not understand what comes from the SDK and what comes from the NuGet and why I didn't get a compile-time error.

[2020-02-13 09:58] MartinKerr opened #18999 ".NET Core 3.1.1 Windows Server Hosting installation failed"
I am currently trying to install the .NET Core 3.1.1 update but am receiving a error on installation: 0x80070643 - Fatal error during installation. The install is on a Windows Server 2016 virtual machine.

The log in the temp folder shows:
`=== Verbose logging started: 13/02/2020  09:39:39  Build type: SHIP UNICODE 5.00.10011.00  Calling process: C:\Windows\Temp\{0179A740-16D8-4C41-968D-0B94309563

[2020-02-13 10:04] ChrisProlls commented on #14723
Same warning for me, is there any solution ?

[2020-02-13 10:05] saciervo opened #19000 "SignalR: Cannot send messages to user(s)"
I have SignalR working and can send messages to all, or to specific clients, but unfortunately **NOT** to users.

### To Reproduce
I created a [repo to reproduce](https://github.com/saciervo/Try.SignalRUsersPubSub) the problem.

Basically I auth users on the SignalR hub with JWT and placed a button that, when clicked, starts a long running job. For the example I hard-coded a user called "johnny".

[2020-02-13 10:18] javiercn commented on #18998
@yahorsi dlls that are part of the shared framework come from the SDK. (The asp.net core FrameworkReference that gets included as part of the SDK). You can look inside your sdk installation under `shared\Microsoft.AspNetCore.App\3.1.1\` to see the list of assemblies. Everything else is a package and you will likely have a package reference on your project file.

I think what happened here is that

[2020-02-13 10:18] #18998 closed

[2020-02-13 10:33] javiercn commented on #18974
@grahamehorner HTML imports are deprecated and have several issues. Many of which this model would share.

See https://github.com/dotnet/aspnetcore/issues/14911#issuecomment-541017878 for a more detailed explanation of why this an herculean task fraught with peril that is bound to fail beyond the most basic scenarios.

Also, this is something that can be built on top of the existing static web ass

[2020-02-13 10:33] #18974 closed

[2020-02-13 10:35] TPIvan opened #19001 "Blazor data annotation validation does not call IValidationAttributeAdapterProvider.GetAttributeAdapter"
### Describe the bug
ASP.NET MVC includes [DataAnnotationsModelValidatorProvider](https://docs.microsoft.com/en-us/dotnet/api/system.web.mvc.dataannotationsmodelvalidatorprovider?view=aspnet-mvc-5.2) which allows access to instantiated validation attributes (for property injection).   An equivalent of this in core MVC seems to be [IValidationAttributeAdapterProvider](https://docs.microsoft.com/en-

[2020-02-13 10:40] vimala1085 opened #19002 "Console window is not showing for windows application in visualstudio 2019"
Hi,
   If i choose output type "console application" then console window is appears and application working fine.But when i switch output type as "windows application" console windows is not appears and application working fine without any issues.

Can anybody help me ?
why console window is not appear? or anything else needs to be installed in visualstudio2019?

[2020-02-13 10:49] istvanloth commented on #18986
Ouch. Thanks to answered it!
(To test the new functionality i just wrote the address to the address bar. With link or navigatto it's working without reload)

[2020-02-13 10:52] javiercn commented on #18986
I'm closing the issue as there's nothing else for us to do here.

[2020-02-13 10:52] #18986 closed

[2020-02-13 10:54] javiercn commented on #19002
@vimala1085 thanks for contacting us.

We don't believe this is a question specific to asp.net core. We believe you'll get a better and faster answer by reporting this issue through Visual Studio. See [here](https://docs.microsoft.com/en-us/visualstudio/ide/feedback-options?view=vs-2019#report-a-problem) for details.

@Pilchie do you know where to route this to?

[2020-02-13 10:55] yahorsi commented on #18998
@javiercn thanks for the comments. It would be really helpful in such cases to get some support from the compiler - compile-time error.

btw, what is the right way to install **latest** SDK on Linux? We're using Bitbucket and our own docker image to build the app on the Linux box and so we seem to need to have latest SDK installed.

[2020-02-13 10:56] javiercn commented on #19001
@TPIvan thanks for contacting us.

MVC data annotations don't apply to Blazor. We have an experimental package that might suit your needs, but I'm not sure it contains the functionality you are asking/looking for.

@pranavkm can you add more details here?

[2020-02-13 10:59] javiercn commented on #18999
@MartinKerr thanks for contacting us.

It is likely that the issue is not specific to asp.net core. You'll get a faster and better answer if you report it [here](https://github.com/dotnet/sdk).

@Pilchie can you loop in some folk here?

[2020-02-13 11:24] nfplee commented on #18924
@ryowak my attempts so far have failed. Here's my updated model binder's BindModelAsync method:

[code]

This looks the same as my parameters to me, the only difference is that I have multiple types that can contain attributes.

My next step is to step through the source code, but I'm open to suggestions. Thanks

[2020-02-13 11:59] David-Ben-Mesecke commented on #18820
@stuki Hei Oscar, tjenare... ;) I had the same problem after upgrading to angular 9, if your version is angular 9 the following might help.

Based on my working workaround, this problems is due to conflicting pre renderers between angular 9 and .net, all versions I think. Also visual studio at least with windows uses typescript version 3.7.0 while Angular 9 uses 3.7.5 yet is perfectly happy with 3

[2020-02-13 12:11] wsrinivaswcc opened #19003 "Logout Broken in ASP.net core web application"
Hi Guys

We have a situation with our Application Authorisation/Authentication

User logs in ASP.net core web application
Copies  the login application  cookie
User logs out of the ASP.net core web  application
Goes to a software like Fiddler, browses an application page with the Logged in application cookie,
Problem is application doesn’t recognise that the user has logged out, and provides sensi

[2020-02-13 12:29] breggles commented on #18954
No, that's not what I'm saying. When I do that, it works. Sorry, should've mentioned that before.

What I'm saying is that if I configure my app as described above authentication works via both auth schemes when I don't specify a role on the `AuthenticationAttribute`. I can log in with password 'asdf' and password 'qwer'. But when I specify a role then I get the aforementioned error.

We were hopi

[2020-02-13 12:46] chassq opened #19004 "Blazor Question: ConfigureAwait(false) in Server-Side Blazor?"
Read this article recently regarding when to use ConfigureAwait(false) (see https://devblogs.microsoft.com/dotnet/configureawait-faq/) and wondered how it applies to server-side Blazor. If, for example, Blazor components are considered application code that, in most cases, have access to a Main UI thread would **not** using ConfigureAwait(false) apply as the article seems to indicate? Also I do ha

[2020-02-13 12:59] GeraudFabien opened #19005 "Blazor ItemPresenter"
### Is your feature request related to a problem? Please describe.
I want to make a panelTemplate for my project. And for this i need an alternative to "ItemsPresenter".

### Describe the solution you'd like
I first fought to use RenderFragment<RenderFragment>.
Consumer
[code]

While the control look like
[code]

Or maybe cleaner

[code]

### Additional context
I was wondering if #8364 is the same

[2020-02-13 13:23] boukenka commented on #18691
Thank you @danroth27 for the [#18755](https://github.com/dotnet/aspnetcore/issues/18755) official request. I'll look forward to testing this version of the data storage.

[2020-02-13 13:26] boukenka commented on #18537
Thank you @javiercn for [#18851](https://github.com/dotnet/aspnetcore/pull/18851) and [#18979](https://github.com/dotnet/aspnetcore/issues/18979).
What do you think for the points A, B and E?

[2020-02-13 13:43] geferon commented on #18820
I had this same problem on Windows as well with Angular 9, simply uninstalling the "aspnet/prerendering" (now deprecated) package fixed the loading for me, now when starting the project it doesn't time out, and works just as intended.

[2020-02-13 13:51] SteveSandersonMS commented on #19004
Yes, Blazor Server is a UI framework which requires your code to run on its sync context. Therefore do *not* use `ConfigureAwait(false)` within your Blazor component code.

Thanks for checking!

[2020-02-13 13:55] javiercn commented on #18537
Hi,

I'll try to address each of your points in order.

For A I don't think this is a common enough request to be part of the framework itself. We are considering including a redirect component, but that is still under consideration.

You can also achieve this in many ways:
* Redirect on the server.
* Redirect on the client with a bit of JavaScript
* Apply some style to your root component to make

[2020-02-13 13:58] dejancg opened #19006 "IOptionsMonitorCache<OpenIdConnectOptions>.TryAdd() doesn't create a cache value"
### Bug description
IOptionsMonitorCache<OpenIdConnectOptions>.TryAdd() doesn't create a cache value, causing the newly added OIDC provider scheme name to not have options associated with it, which then causes `InvalidOperationException: Provide Authority, MetadataAddress, Configuration, or ConfigurationManager to OpenIdConnectOptions` on each next request.

### To Reproduce
Consider the following

[2020-02-13 14:07] chassq commented on #19004
Thank you!

[2020-02-13 14:17] SteveSandersonMS opened #19007 "Try to make service worker publishing csproj nicer"
Within the PWA template, we have this:

[code]

It's not absolutely outrageous, but it's not as elegant and approachable as we'd prefer things to be in newly-created projects. Are there any MSBuild/SDK experts who can suggest a cleaner way to achieve this? The requirements are:

 * When publishing, a certain `<Content>` item (for example `wwwroot\service-worker.js`) should not actually get include

[2020-02-13 14:20] blowdart commented on #19003
If someone can steal your cookie that means they're running software on your machine, and you have bigger problems like them watching for your typing in your username and password, which means invalidating cookies won't be useful as they can just login again.

If you're worried about the cookie being stolen across then network then make sure you're only running on HTTPS.

[2020-02-13 14:23] DanJ210 commented on #18730
@blowdart I'm ok with that. Are you able to easily share with me a page I can follow which has a timeline for version releases? No worries if not.

Also, I believe the "no email provider configured" issue might be a more rare one which happens. If there's not another ticket about it then it might be something that hasn't been addressed. I'll update this post if the update drops within a quick enou

[2020-02-13 14:23] blowdart commented on #18730
Huh, I don't know of a timeline page. @anurse do we have one?

[2020-02-13 14:30] royzhang666 opened #19008 "Blazor - (client side) the "guid" Route Constraint forces the component execute for every single click"
### Describe the bug
When using the **guid** [RouteConstraint](https://docs.microsoft.com/en-us/aspnet/core/blazor/routing?view=aspnetcore-3.1#route-constraints) in client-side blazor, the component will be executed with every single mouse click which is in-efficient. This issue does not happen for **datetime** route constraint.

### To Reproduce

1. Using the latest version of Asp.NET Core 3.1
2.

[2020-02-13 14:37] koskila commented on #18578
Just chiming in - we're experiencing a similar error with an API application on .NET Core 3.1. First, when an app gets some traffic, we get an error along the lines of:

CInstrumentationMethod::Initialize - failed to initialize instrumentation method PID: 11280 hr: 80131375 name: Production Breakpoint Instrumentation Method

Source is "Instrumentation Engine"

After this, the app freezes, finally

[2020-02-13 15:33] Franklin89 commented on #18733
Had a similar error with the `AuthorizationOptions` had to add the following to get it working:

`builder.Services.AddAuthorizationCore(options => { });`

Without the action on the options I got an error that the `AuthorizationOptions` is not registered with the DI.

[2020-02-13 15:53] David-Ben-Mesecke commented on #18820
Thanks, I've been trying that and failing, possibly due to a failed ssr installation, working with removing it all...

[2020-02-13 15:56] BrennanConroy commented on #18925
@lukasroberts could you provide a **runnable** sample application. The `closeSubject.onError` does look suspicious, unfortunately we are unable to repro the issue so can't investigate possible fixes.

[2020-02-13 16:00] BrennanConroy commented on #13503
https://docs.microsoft.com/aspnet/core/tutorials/signalr-blazor-webassembly?view=aspnetcore-3.1&tabs=visual-studio

[2020-02-13 16:04] kishorpise commented on #18858
Any update ?

Regards
Kishor

From: Chris Ross <notifications@github.com>
Sent: Tuesday, February 11, 2020 1:18 PM
To: dotnet/aspnetcore <aspnetcore@noreply.github.com>
Cc: kishorpise <kpise@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [dotnet/aspnetcore] Google Auth- Asp.net core 3.1 (#18858)

What's with Startup1? It's not being used at the moment.

Do you actually want to map r

[2020-02-13 16:05] BrennanConroy commented on #19000
It looks like you're trying to use the `ClaimsType.Name` value, but SignalR uses `ClaimsType.NameIdentifier` by default. You can see how to replace that default in the docs https://docs.microsoft.com/aspnet/core/signalr/authn-and-authz?view=aspnetcore-3.1#use-claims-to-customize-identity-handling

[2020-02-13 16:10] ivansp opened #19010 "Cannot connect via SignalR after network address changed"
Hello, we are developing an on premises system with one server component and multiple applications which communicate via SignalR.
The server is using ASP.NET Core 2.2
Everything works fine, until the main PC changes network adapter.
After this client applications cannot connect and we get the following error

I also do not see any options, which would help me configure this.
What would be the corr

[2020-02-13 16:11] boukenka commented on #18537
Thank you @javiercn. 😄 I will follow your recommendations.

[2020-02-13 16:18] saciervo commented on #19003
Modify your logout process to not just deleting the cookie, but also ensure you invalidate the user session. Of course you then also need to check for a valid user session when processing a request with a valid cookie. If the session is not valid, force the user to re-authenticate..

[2020-02-13 16:18] ivansp commented on #19010
Ok, after some investigation the fix seemed to be using asterix for IP address:

[2020-02-13 16:18] #19010 closed

[2020-02-13 16:26] mkArtakMSFT opened #19011 "Enable gold-bar experience in VS"
We need to enable gold-bar experience in VS so that users who are working on Blazor Server projects are notified and suggested to try out Blazor WASM template too.

Here are a few links to help with getting started:
- [Targeted Notifications (TN)](https://dev.azure.com/devdiv/DevDiv/_wiki/wikis/DevDiv.wiki/1031/Targeted-Notifications)
- [Promotions (goldbar)](https://devdiv.visualstudio.com/DevDiv

[2020-02-13 16:36] pranavkm commented on #19001
https://blog.stevensanderson.com/2019/09/04/blazor-fluentvalidation/ has an example of plugging an alternate validation system in to Blazor. Perhaps that help's here.

[2020-02-13 16:43] MarkStega opened #19012 "WebHost & Kestrel are not resolving embedded content requests."
### Describe the bug
I have a Blazor application that can be executed without issue if I am using the GenericHost. If I reconfigure to use the WebHost & Kestrel then embedded content requests receive a 404/Not found response.

### To Reproduce
I will work on a minimal repo if needed. The only difference between the working an non-working app is if I call CreateWebHost or CreateGenericHost in the m

[2020-02-13 16:45] davidfowl commented on #19012
Try using `WebHost.CreateDefaultBuilder`

[2020-02-13 16:50] David-Ben-Mesecke commented on #18820
@geferon unfortunately, no joy, if I do not use aspnet-prerendering I need to use the @angular/platform-server to spin it up yet I am not using server side rendering and when I do, I get an error, with statement not allowed in strict mode... A work around i found there was to fist spin up the server using @angular/platform-server in the main.ts and then, after it spins up yet fails, comment that t

[2020-02-13 16:53] saciervo commented on #19000
Perfect thanks! That was just about as subtle as I expected... especially because the principal looks absolutely fine when debugging.

[2020-02-13 16:53] #19000 closed

[2020-02-13 17:05] blowdart commented on #19003
Authentication is *not* linked to session. If you do believe that you still need to protect against malware on a user's machine you can update the identity security stamp, assuming you are using identity. That will invalidate cookies once checked (which by default is every 20 minutes). However if your users are using multiple devices it will log them out everywhere.

[2020-02-13 17:12] mkArtakMSFT commented on #10345
Closing as we don't think this will add much value.

[2020-02-13 17:12] #10345 closed

[2020-02-13 17:16] MarkStega commented on #19012
That's the solution, thanks. I was helping someone else and I had copied his program.cs; It's been so long since I had migrated to the generic builder I didn't even remember any of the details.

[2020-02-13 17:16] #19012 closed

[2020-02-13 17:18] Pilchie commented on #19002
This is by design.  It is how Windows works. If you set the subsystem to Windows, the OS doesn't allocate a terminal for it.

You can see things written to Standard Output in the VS output window if you are running under the debugger.  If you want your application to have a console attached, you'll need to set the Subsystem to Console in Project Properties.  You can still do things like show UI if

[2020-02-13 17:18] #19002 closed

[2020-02-13 17:19] mkArtakMSFT commented on #4826
Closing as there are no customer asks for this.

[2020-02-13 17:19] #4826 closed

[2020-02-13 17:35] mkArtakMSFT commented on #19005
Thanks for contacting us, @GeraudFabien.
We're having hard time interpreting your question. Is this really your question:

[2020-02-13 17:38] BrennanConroy commented on #18799
NPM tests are on hold for now as they are complex and will likely take more resources than we'd like to spend on them right now.

[2020-02-13 17:41] mkArtakMSFT commented on #18628
After closer review of this it seems this is a limitation with the current System.Text.Json implementation, which is being tracked by https://github.com/dotnet/runtime/issues/30820

[2020-02-13 17:41] #18628 closed

[2020-02-13 17:45] colgreen commented on #5978
Arguably that point is somewhat circular, i.e. maybe if ASP.NET Core supported the 'Forwarded' header there would be more pressure on the reverse proxy implementations to support it. It is after all the only approach that actually has a formal specification (rfc7239).

[2020-02-13 17:47] mkArtakMSFT commented on #13090
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-02-13 18:00] #18829 closed

[2020-02-13 18:00] #18976 closed

[2020-02-13 18:00] mkArtakMSFT commented on #14034
@javiercn there is no enough evidence for this to be an important thing. If there is, please bring it up, let's discuss.

[2020-02-13 18:02] thomasrea0113 opened #19013 "Blazor Components not found when working in multi-root workspace"
## Issue Description ##

When a Blazor application is added to a multi-root workspace, the `.razor` pages no longer find existing components.

## Steps to Reproduce ##

1. scaffold blazor server project with `dotnet new blazorserver`
2. open folder by itself in VSCode
3. Ctrl-Shift-P -> Workspaces: Add folder to workspace
4. Add any folder (even an empty folder)
5. Reopen in container, using defau

[2020-02-13 18:04] pjevans commented on #18825
You got it... Thank you, sorry for the wait.

[2020-02-13 18:04] #18825 closed

[2020-02-13 18:08] mkArtakMSFT commented on #14519
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-02-13 18:10] #14580 closed

[2020-02-13 18:13] mkArtakMSFT commented on #18627
Thanks for contacting us.
We would be happy to see the community to come up with a solution in this area.

[2020-02-13 18:13] #18627 closed

[2020-02-13 18:20] mkArtakMSFT commented on #13452
Moving this to `5.0` release to distill the specific asks here and see whether we can address some of these.

[2020-02-13 18:20] mkArtakMSFT commented on #14928
Closing as a dupe of https://github.com/dotnet/aspnetcore/issues/13452

[2020-02-13 18:20] #14928 closed

[2020-02-13 18:24] mkArtakMSFT commented on #16687
Closing as there is no more action pending here.

[2020-02-13 18:24] #16687 closed

[2020-02-13 18:25] vcrobe opened #19014 "[Blazor page] Getting an exception when using a dash in page route parameters"
### Describe the bug
I get an exception when using a dash in page route parameters like this:

I'm using Blazor-server.

### To Reproduce

[code]

**Exception**

InvalidOperationException: Invalid template 'Edit/{Year:int}-{Number:int}'. The character '}' in parameter segment '{Year:int}-{Number:int}' is not allowed.

Microsoft.AspNetCore.Components.Routing.TemplateParser.ParseTemplate(string temp

[2020-02-13 18:27] mkArtakMSFT commented on #16815
We're closing this as this is a c# specific thing, rather than something specific to Blazor.

[2020-02-13 18:27] #16815 closed

[2020-02-13 18:37] mkArtakMSFT commented on #18118
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-02-13 18:39] mkArtakMSFT commented on #18137
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-02-13 18:42] mkArtakMSFT commented on #18326
Thanks for contacting us.
A more idiomatic way to do this in Blazor would be for the event handler to be a lambda that passes a parameter from each case.

[2020-02-13 18:42] #18326 closed

[2020-02-13 18:49] mkArtakMSFT commented on #18840
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-02-13 18:50] mkArtakMSFT commented on #18855
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-02-13 18:52] mkArtakMSFT commented on #18888
Closing as there is a separate one I've file https://github.com/dotnet/aspnetcore/issues/19011

[2020-02-13 18:52] #18888 closed

[2020-02-13 18:54] mkArtakMSFT commented on #18900
Closing as there has been some improvement here already.

[2020-02-13 18:54] #18900 closed

[2020-02-13 18:57] mkArtakMSFT commented on #18902
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-02-13 19:00] mkArtakMSFT commented on #13067
This should be already fixed.

[2020-02-13 19:00] #13067 closed

[2020-02-13 19:01] mkArtakMSFT commented on #13181
Closing this as we won't get to this.

[2020-02-13 19:01] #13181 closed

[2020-02-13 19:03] mkArtakMSFT commented on #13193
Closing as we think this is not impacting the community. If there are more similar reports, we will reconsider.

[2020-02-13 19:03] mkArtakMSFT commented on #13220
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2020-02-13 19:03] #13220 closed

[2020-02-13 19:05] mkArtakMSFT commented on #13275
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2020-02-13 19:05] #13275 closed

[2020-02-13 19:06] #13285 closed

[2020-02-13 19:06] #13363 closed

[2020-02-13 19:07] mkArtakMSFT commented on #13473
This is done already.

[2020-02-13 19:07] #13473 closed

[2020-02-13 19:08] #13557 closed

[2020-02-13 19:09] mkArtakMSFT commented on #13584
Closing as the referenced doc issue will be used to track this work.

[2020-02-13 19:09] #13584 closed

[2020-02-13 19:12] mkArtakMSFT commented on #14058
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-02-13 19:12] Oblomoff commented on #13275
Community is waiting. Update documents at least please.

[2020-02-13 19:12] #14557 closed

[2020-02-13 19:13] mkArtakMSFT commented on #14591
This is going to be covered by the docs, which we will implement in 5.0 timeframe.

[2020-02-13 19:13] #14591 closed

[2020-02-13 19:13] #14705 closed

[2020-02-13 19:15] mkArtakMSFT commented on #15190
Closing as we track this as an external issue

[2020-02-13 19:15] #15190 closed

[2020-02-13 19:18] mkArtakMSFT commented on #16739
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-02-13 19:19] mkArtakMSFT commented on #16777
Closing as we have separate tracking issue which will resolve this.

[2020-02-13 19:19] #16777 closed

[2020-02-13 19:24] mkArtakMSFT commented on #17956
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-02-13 19:29] mkArtakMSFT commented on #18321
We have a duplicate issue tracking this, but I'm unable to find it. Closing this, as it's there.
@SteveSandersonMS can you please link the dupe? Thanks!

[2020-02-13 19:29] #18321 closed

[2020-02-13 19:30] SteveSandersonMS commented on #18321
It's https://github.com/dotnet/aspnetcore/issues/17281

[2020-02-13 19:31] anurse commented on #18578
I believe those indicate an issue with the Azure monitoring components, so Azure Support is probably the right place to ask for assistance.

[2020-02-13 19:34] anurse commented on #18730
You can look at the [.NET Core Roadmap](https://github.com/dotnet/core/blob/master/roadmap.md), which covers major/minor releases. We have no committed schedule for patch releases, but we try to get them out frequently (around monthly). For 3.1.2, we're expecting a release next week (but no guarantees ;)).

[2020-02-13 19:35] anurse commented on #18973
Probably, but also we don't provide support for 2.0.0 any more so you'll need to upgrade to a supported release for us to be able to assist further.

[2020-02-13 19:35] ajaybhargavb commented on #18058
Closing as this is tracked here https://github.com/dotnet/templating/issues/2217.

[2020-02-13 19:35] #18058 closed

[2020-02-13 19:44] SteveSandersonMS commented on #18447
If you want, you can render arbitrary data into the DOM during the initial server-side HTML rendering, and then collect it inside your Blazor WebAssembly application by using JS interop to read from the DOM.

I think that answers the question, but please let us know if not!

[2020-02-13 19:45] mkArtakMSFT commented on #8998
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-02-13 19:48] mkArtakMSFT commented on #5252
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-02-13 19:50] mkArtakMSFT commented on #14192
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-02-13 19:58] BrightSoul commented on #3793
@davidfowl Please add (opt-in) support for deployment slots.
https://github.com/dotnet/aspnetcore/issues/3719#issuecomment-473183712
https://github.com/dotnet/aspnetcore/issues/3793#issuecomment-335666414

Moreover, that's won't let us achieve zero downtime.

[2020-02-13 20:04] sowsan opened #19018 "[Blazor-serverside] page redirection failing with layout null"
[code]

[2020-02-13 20:19] wtgodbe opened #19019 "Update baseline files in AspNetCore & Extensions release/3.1 after 3.1.2 ships"
Baseline.xml/Baseline.Designer.props need to be updated in these 2 repos after we ship 3.1.2.

CC @dotnet/aspnet-build

[2020-02-13 20:41] pranavkm commented on #18143
@physix99 the error message usually indicates one of two things:

a) You've multiple servers, but don't use sticky sessions.
b) Your site restarted between the the time the initial request with pre-rendered content was sent to the client and the client reconnected to the server.

Your console logs likely indicate the latter. Is this something you see consistently?

[2020-02-13 20:49] ryanbrandenburg commented on #14318
More specifically the lack of `\` seems to stem from https://github.com/microsoft/msbuild/blob/master/src/Tasks/AssignTargetPath.cs#L99.

[2020-02-13 20:54] boukenka commented on #18137
Thanks for the feedback @mkArtakMSFT

[2020-02-13 20:54] davidfowl commented on #3793
There’s no way we’re going to invest in a feature like that with the module.

[2020-02-13 21:11] bladefist commented on #3793
Yes.  We use CI/CD and deploy to both linux and windows systems, so it was just a lot easier to install openssh on the windows boxes.

[2020-02-13 21:12] Tratcher commented on #18871
I've done some experiments with single byte segments, single byte reads, the file buffering read stream, etc. and I have not been able to reproduce any boundary condition related corruption. Putting this on hold until someone can come up with another theory on how to repro.

[2020-02-13 21:19] GeraudFabien commented on #19005
Thas was a summary of the feature. Another pov of it.

[2020-02-13 21:28] wtgodbe commented on #19019
We should also revisit whether to bump `TargetingPackVersionPrefix` to 3.1.2: https://github.com/dotnet/aspnetcore/pull/19015/commits/c5d124e62e7dee68465516eed45932f3468526c3

[2020-02-13 21:47] peterblazejewicz commented on #18902
Would it be then OK, to pusblish the basic shape of the interop interface based on the source of the extension project to the https://github.com/DefinitelyTyped/DefinitelyTyped project?
I can see there is a reason this question was asked, presuming the TypeScript support in the VS/VSCode.
With a basic shape like that one:
[code]
one could achieve everything expected when writing some advanced inte

[2020-02-13 21:47] thepaulpage commented on #12242
yes please.

[2020-02-13 21:52] pranavkm commented on #13174
Text from the original issue:

[2020-02-13 21:55] anthcool commented on #17014
Yeah,it is still recommended, but I feel ya on the auth code stuff.  It's just SUPER alpha right now so not even really usable.

See:
https://developer.microsoft.com/en-us/identity/blogs/our-thoughts-on-implicit-grant-with-microsoft-identity/

Supposedly supposed to hit with MSAL.js 2.0 I think is what I saw.  Was like placed in a March or May release time frame.  Even so, implicit flow works for

[2020-02-13 21:59] Tratcher commented on #19003
Identity does have support for this via the sign-out-everywhere feature that clears the security stamp. Cookie auth re-validates the security stamp, but only every 5 minutes(?).

[2020-02-13 22:04] davidfowl opened #19027 "We need a way to get an event for the routing template"
Certain tools are looking to for ways to group request by route template (if there is any). We should send that via the `HostingEventSource`.

cc @shirhatti

[2020-02-13 22:05] anurse commented on #18874
We currently only support confidential client flows. Can you give an example of a server scenario that uses the public client flow?

[2020-02-13 22:08] anurse commented on #18865
In 5.0 we're moving to code built by the MSAL team so this won't really apply.

[2020-02-13 22:16] RicoSuter commented on #8320
For core 3.0 this can now be implemented, see also

https://github.com/dotnet/aspnetcore/pull/8425

[2020-02-13 22:17] RicoSuter commented on #8320
Closing as the required scenario can now be supported in SigSpec.

[2020-02-13 22:17] #8320 closed

[2020-02-13 22:23] pranavkm commented on #13174
### Mono.WebAssembly.Interop.MonoWebAssemblyJSRuntime

We should consider making this a detail of M.A.WebAssembly.Components. It's not very clear there's a need to ship a Mono-based JSInterop library that works outside of Blazor. This change would eliminate the package, and make initializing the type much more reasonable (see https://github.com/dotnet/aspnetcore/issues/13174#issuecomment-585989613

[2020-02-13 22:23] pranavkm commented on #13174
/cc @SteveSandersonMS @javiercn @danroth27

[2020-02-13 22:24] luckerby commented on #18639
@Tratcher thank you for all your help and patience. It's now working as expected.

If someone else comes across this, I've pasted the final version of Startup.cs I've used [here](https://gist.github.com/luckerby/869c4ca9a61e240c9bb1ab26542713e6).

The `Microsoft.IdentityModel.Logging.IdentityModelEventSource.ShowPII = true` in the code above only served to debug a misconfigured relying party id.

[2020-02-13 22:30] #18981 closed

[2020-02-13 22:41] c0g1t8 opened #19028 "Blazor img tag src with tilde(~) does not find file"
# Describe the bug

Blazor is not generating the expected code.

The following
![image](https://user-images.githubusercontent.com/23250332/74484444-6c15ef00-4e6d-11ea-878a-3ee27e04eebb.png)
works with in a web application but does not in a Blazor application.  The image appears in the web application but the Blazor application does not find the image file.

But this workaround
![image](https://use

[2020-02-13 22:43] Mubashwer opened #19029 "Unable to set different content-types for different response types for an endpoint"
In my OpenAPI document, I would like to be able to set different content-types for different response types.

For e.g for a GET request, I would like to set `application/json` for a _200_ object result and `application/problem+json` for _404_ problem details result.  So `ProducesResponseType `should take content-type as an optional parameter.

Currently, I can only set the content-type(s) in the `

[2020-02-13 22:48] c0g1t8 commented on #19028
I would have expected the original markup to work.  Intellisense actually suggest the tilde prefix and this would be consistent with how we would write the markup for a web application.

Did the following to resolve the issue:
- https://stackoverflow.com/questions/52135957/how-to-show-image-in-blazor-view

Not sure if this is related:
- https://github.com/dotnet/aspnetcore/issues/15757

[2020-02-13 23:29] #17316 closed

[2020-02-14 00:12] jez9999 commented on #18874
Why not support native scenarios?  It could be supported pretty easily.

[2020-02-14 00:39] ajaybhargavb opened #19037 "@code/@functions block formatting in Razor LSP world"

[2020-02-14 00:44] Jonesie commented on #18087
I have the same issue with large file uploads, running 3.1 on docker linux.  Added DisableFormValueModelBindingAttribute but I dont have any package reference to Microsoft.AspNetCore.App so havent updated that - it's an API only so I dont need it?

It fails randomly on linux but I think it's ok on windows dev.

[2020-02-14 01:05] ajaybhargavb commented on #19037
Done in https://github.com/dotnet/aspnetcore-tooling/pull/1573.

[2020-02-14 01:05] #19037 closed

[2020-02-14 01:24] halter73 opened #19040 "Dependencies are out of date in master"
Both the runtime and blazor dependencies are about 10 days out of date in master. This issue is being filed as a result of our agreed-upon SLA and escalation path of 7 days (max).

![image](https://user-images.githubusercontent.com/54385/74492840-0fbec980-4e85-11ea-8bec-15dba3ff271e.png)

Runtime reports the oldest unconsumed commit as "(unknown)", but the build was produced late on February 3rd,

[2020-02-14 01:27] BrennanConroy commented on #19040
It only reports unknown if we are over 250 commits behind, and at that point it doesn't really matter how many days behind we are, because we should be looking into getting updated.

[2020-02-14 01:32] halter73 commented on #19040
I was about to send an org wide email as recommend by the build ops rotation instructions, but it looks like we just too a runtime update in extensions 4 hours ago and it's working through the system. @JunTaoLuo thinks it should turn blue since https://github.com/dotnet/aspnetcore/pull/19035 was merged now.

As for blazor, that hasn't had a commit for 10 days until an hour ago, so I'm going to clo

[2020-02-14 01:32] #19040 closed

[2020-02-14 01:59] DR9885 opened #19041 "Allow Configure() to be called more than once."
### Is your feature request related to a problem? Please describe.
I am trying to call Configure() more than once, but it only takes the last one who calls it.

Additionally, if you call ConfigureServices(), more than once it works as expected. Would be more ideal if it was consistent.

### Describe the solution you'd like
Allow Configure to be called more than once, and trigger each call in order

[2020-02-14 02:10] thomasrea0113 commented on #19013
So I'm not sure if it's related, but in the example scenario above, it take a while to load, but it eventually loads. The Razor log seems off to me. It 'Update' the project file many times before finallizing the load.

#### Razor Log (simple project - working)
<details>--------------------------------------------------------------------------------
Razor.VSCode version 1.0.0-alpha3-5.0.0-alpha.1.2

[2020-02-14 03:00] Caskia opened #19043 "SignalR Remove user's all groups."
### Describe the solution you'd like
When a user disconnect, we need to call ``hubContext.Groups.RemoveFromGroupAsync(connectionId, groupName)`` manually. So I need to maintain a user online groups map. Can you guys provide a native way to remove user's groups in ``IGroupManager`` .

### Additional context
May be api like this:
``
Task RemoveConnectionAsync(string connectionId, out List<string> gr

[2020-02-14 03:11] BrennanConroy commented on #19043
The connection should be removed automatically from all groups on disconnect. What behavior are you seeing that makes you think they are still in the group?

[2020-02-14 03:16] Caskia commented on #19043
Thank you @BrennanConroy , it's my hypothesis, no experiments have been done yet. I will have a try right now and feedback.

[2020-02-14 04:40] stantoxt opened #19044 "How to remove RequestId Header from HttpClient Request?"
The Request-Id Header is always added to HttpClient  Rquest. Why this happened and how to remove Request-Id Header?
It is about this [Disable Application Insights correlation id headers on HttpClient requests](https://blog.wille-zone.de/post/disable-application-insights-correlation-id-headers-on-httpclient-requests-in-aspnet-core/), [DependencyCollector needs to tell DiagnosticSource not to inject

[2020-02-14 07:18] #19043 closed

[2020-02-14 07:29] xshiiiidev commented on #18877
@soeleman  I can do that but is does not fixed the problem of `"launchBrowser": true`

[2020-02-14 07:30] victormss commented on #18019
We also have this problem. It only happens in virtual machines with Windows 2012, in which 2016, 2019 and physical servers with 2012 does not happen. All the hosts are Windows 2019.
The hosts and physical servers have different cpus, but they are all Intel.
The installed version is 3.1.1

[2020-02-14 08:14] mrpmorris opened #19048 "[Blazor] Use nameof() when setting component parameters"
If you rename a parameter property on ChildComponent, it is possible to build and run an app where ParentComponent still tries to set the old parameter and causes a runtime error.

It would obviously be better if these were caught at compile time.

Not sure how my suggestion will work when there is a parameter to capture unmatched parameters, but could the generated view code use `nameof(ChildComp

[2020-02-14 08:40] JeepNL commented on #5894
Any new developments on this? Kestrel support for W3C extended log format out of the box? For .NET 5 maybe?

See also Microsoft Docs: [W3C Logging](https://docs.microsoft.com/en-us/windows/win32/http/w3c-logging)

[2020-02-14 09:20] NavinAT opened #19049 "[Blazor] Passing Parameter to Custom Layout"
###  **How to pass parameter to Custom Layout?**
While clicking a `NavLink `the Custom Layout will be rendered inside the '`MainLayout`'.

In **'`MainLayout`'** we have added a 'Custom Layout' as nested one and we want to pass a parameter to the Custom Layout from `MainLayout`

[2020-02-14 09:44] ryanelian commented on #18884
And oh, can we change the "valid" and "invalid" field input CSS class to use Bootstrap's "is-valid" and "is-invalid" classes?

That way we can have some pretty slick form styling with the default shipped Bootstrap CSS:

![image](https://user-images.githubusercontent.com/8892187/74519816-072fc700-4f49-11ea-9db4-c2f29f03957f.png)

Also the validation message CSS class can be swapped to "invalid-feed

[2020-02-14 09:49] szmalec commented on #18527
I also recently encountered this problem - in my case it appeared when I wanted to use the "Problem Details for HTTP APIs" (see eg. [here](https://codeopinion.com/http-api-problem-details-in-asp-net-core/)) mechanism in my Blazor WASM application.
I asked about this problem on [gitter here](https://gitter.im/aspnet/Blazor?at=5e38814d6f9d3d34981bcace) but I could not get a satisfactory answer.
In m

[2020-02-14 09:51] simonziegler opened #19050 "Circuit not disconnected properly on all browsers when navigating away from page"
### Describe the bug
I have a Blazor Server project running on ASP.NET Core 3.1 with a problem that is exhibited both when:

1. I debug with VS 2019 (16.4 and 16.5) using IIS, and
2. Deployed to an Azure Web App running Linux and within a Docker container.

The issue is that certain actions that I take that call `NavigationManager.NavigateTo("/my-page");` causes the signalr connection between the

[2020-02-14 10:00] #18977 closed

[2020-02-14 10:03] simonziegler commented on #19048
I've bumped into this a few times and have learned to be careful.

[2020-02-14 10:05] mariusGundersen opened #19051 "Don't require a controller with an action to return RFC-7807 errors"
According to the [documentation on error handling](https://docs.microsoft.com/en-us/aspnet/core/web-api/handle-errors?view=aspnetcore-3.1) Two steps are needed to handle errors in asp.net core web apis:
1) Add the `app.UseExceptionHandler("/error");` midldeware in `Startup.cs`
2) Create a controller with an action like this:
[code]

It seems uneccessairly convoluted and verbose to create a control

[2020-02-14 10:06] tomRedox commented on #13193
@mkArtakMSFT sure thing. I [put a question and answer on this on stack overflow](https://stackoverflow.com/questions/57528902/the-attribute-names-could-not-be-inferred-from-bind-attribute-bind-value-exc/57528903#57528903) about this which has only garnered 760 views and 3 upvotes, so it looks like people are working this out for themselves

[2020-02-14 10:11] xdmushui commented on #3495
Can pathbase be configured by command, similar to server.urls?

`dotnet *.dll  --server.urls "http://*:8080;https://*:8443;" --server.pathbase "/myapp"`

[2020-02-14 10:53] yahorsi opened #19052 "Core 3.1, UseReactDevelopmentServer middleware & Performance"
Hi Guys,

We recently have started working on the new .NET Core 3.1.1 & React SPA.
In order to start, we have created the app from the template (.NET Core Web Application + React) and noticed that some request that gets proxied to the node takes longer than they should.
The only change in the template we made - we have disabled https redirection and open the local site using just HTTP. As you see

[2020-02-14 10:57] raspyweather commented on #18857
hey @andreasbotsikas,
would be cool if you could post your solution. As you're not alone with this issue.

[2020-02-14 11:39] soeleman commented on #18877
@xshiiiidev command **Executable** does not read or ignore property **launchBrowser**.
Since that command using ProcessStat/Shell then we must using executablePath **cmd** and pass command via **commandLineArgs**.

[2020-02-14 12:27] tester346 commented on #18087
@Jonesie

The environment where this fails for me is Linux too, debian.

[2020-02-14 12:45] javiercn opened #19053 "[Blazor][Wasm] Investigate alternatives to loading the blazor app when inside a hidden iframe"

[2020-02-14 12:47] javiercn opened #19054 "[Blazor][Wasm] Investigate moving auth types to use enums instead of strings"
They currently blow up with a null-reference exception inside STJ

[2020-02-14 13:00] #18924 closed

[2020-02-14 13:16] cherici-simone commented on #18940
I'm also in the same situation... @kmk713 did you try/open issue on AAD repo as subbested by @blowdart ? because for me this is a blocking issue

[2020-02-14 13:21] blowdart commented on #18940
Closing as external, because its in the AAD pieces rather than our code.

[2020-02-14 13:21] #18940 closed

[2020-02-14 13:47] jayachaMS opened #19055 "[Blazor] Binding data without using any event (onChange, onInput ...)"
### **How to bind data without using any event (onChange, onInput ...)**
We have to update data to the Model in an action (like save).
**Our idea**: Do not want to make server call often for every time the "focus looses" from the HTML element. Finally we want update the value while Submit.

[code]

[2020-02-14 13:58] pbarranis commented on #17277
Due to a dependency, I'm unable to upgrade my .NET Core 2.2 app to 3 yet, so when I upgraded to Angular 9 I ran into this issue as well.  The echo solution saved me; thank you @elianora !

[2020-02-14 14:12] scrollsaw opened #19056 "Razor Components - render-mode affecting lists of derived classes"
I've got a Razor Component i'm dropping onto a Razor page like so:

[code]

I'm passing a list (elementList) into the component as a parameter.

The list is declared in the razor page code behind as

[code]

ElementModel is a base class. The list will normally contain items of various types derived from the base class (ElementTextModel, ElementDateModel, etc)

In the codebind for the razor page th

[2020-02-14 14:20] lukasroberts commented on #18925
@BrennanConroy What sort of things will you be needing? I can give you a sample android project with pretty much the code I showed you above. It'll be impossible for me to link you to the server component that exists. I can however give you a preview of the server side code that we use to set everything up, which is pretty much out of the box.

[2020-02-14 14:32] NareshBisht opened #19057 "value of input field is changed in inspector but the value is not changed in chrome browser window"
The problem is that when i'm pressing back button in chrome the value of input field is changed in inspector but the value is not changed in browser window. This does not happen in edge i dont know why.

here you can see that the value in inspector and browser are different.
![Untitled](https://user-images.githubusercontent.com/48261653/74539877-cfcf1380-4f64-11ea-8c56-58a98ba8e746.png)
here is th

[2020-02-14 15:00] Tragetaschen commented on #12830
I just ended up with the same Exception in 3.1.1 while connecting to a server-side Blazor on Linux. Upon inspection, my `~/.aspnet/DataProtection-Keys` folder contained one empty `key-[uuid].xml` file.

I removed that file, restarted the application and everything went back to normal.

I have an embedded instrument and frequently, power is just cut without shutting down the instrument properly. Ne

[2020-02-14 15:18] Tratcher commented on #3495
@xdmushui not yet, that feature is tracked by https://github.com/dotnet/aspnetcore/issues/5898.

[2020-02-14 15:55] yahorsi opened #19058 "React SPA template security issue - update serialize-javascript package"
Current React SPA template has security issue.
In order to keep things secured by default serialize-javascript needs to be updated.

See https://github.com/advisories/GHSA-h9rv-jmmf-4pgx

[2020-02-14 15:57] BrennanConroy commented on #18925
Yes please, we should be able to host a simple server with a mostly empty hub to test the client.

[2020-02-14 16:01] pzbyszynski commented on #18578
@koskila @anurse I made some progress on this issue. 2 things that helped for me was:
- deploying app as self-contained (no strange errors in the application event log)
- increasing thread pool (added in main)

[code]

Based on this article (https://docs.microsoft.com/en-us/archive/blogs/vancem/diagnosing-net-core-threadpool-starvation-with-perfview-why-my-service-is-not-saturating-all-cores-or-se

[2020-02-14 16:01] javiercn commented on #19058
@yahorsi thanks for contacting us.

We'll look into this. We believe that this is part of the current template, so it is very likely you can do `npm audit fix` to fix it.

[2020-02-14 16:04] javiercn commented on #19057
@NareshBisht thanks for contacting us.

We don't think that this behavior is specific to ASP.NET Core in any way. Is the server producing the wrong markup?

[2020-02-14 16:08] javiercn commented on #19056
@scrollsaw thanks for contacting us.

This is by design, the deserialization happens based on the compile time type of the parameter, not on the actual parameter type, so there is going to be information loss if you rely on polymorphism to pass parameters to the component.

This behavior is not specific to Blazor but a behavior of the serializer. You are free to implement your own custom converter

[2020-02-14 16:13] javiercn commented on #19055
@jayachaMS thanks for contacting us.

There's no way to achieve that with bind. The best you can do is to capture an element reference to the different input elements, and in your Save action, issue multiple JS interop calls to capture the current element values and then update the model with those.

But I would just recommend using bind unless you have perf-data that shows it has a high impact in

[2020-02-14 16:15] javiercn commented on #19052
@yahorsi thanks for contacting us.

We believe this is a duplicate of a similar issue. It has to do with node just listening in IPv4 by default. I believe you can change the redirect middleware to use `http://127.0.0.1:<<port>>` instead of localhost and that should fix the issue.

[2020-02-14 16:16] javiercn commented on #19051
@mariusGundersen thanks for contacting us.

We will triage your request appropriately and get back to you.

[2020-02-14 16:16] pzbyszynski commented on #18578
One more thing, from `Diagnose and solve problems -> Availability and performance` report, I can see lots of `HTTP 400 (604) - Client Gone (The client that originated the request seems to have closed the connection before the response was received!)` errors. What is interesting, if I scale App Service plan down, I get more of these and app availability drops, but processor load is basically always

[2020-02-14 16:17] NareshBisht commented on #19057
@javiercn Hi,
This issue sure is related to asp.net core as this is not working in chrome and opera (other browser i have not tested). The code which i wrote is not by any mean wrong.

[2020-02-14 16:19] javiercn commented on #19050
@simonziegler thanks for contacting us.

We will look into this issue and get back to you.

[2020-02-14 16:21] javiercn commented on #19049
@NavinAT thanks for contacting us.

I'm not sure what you are trying to accomplish, but it is likely you can use a cascading parameter to achieve what you want. Declare a cascading parameter in the component containing the other component and give it a value, the nested component should be able to access it, and if it's the other way around, do the same thing, but pass down a callback that the nes

[2020-02-14 16:22] javiercn commented on #19048
@mrpmorris thanks for contacting us.

We'll look into this and get back to you.

[2020-02-14 16:22] simonziegler commented on #19050
Thanks all and best of luck. Please let me know if you need to see this happening.

[2020-02-14 16:22] Tratcher commented on #17833
For Microsoft.Owin you need to use version 4.1.0 for these scenarios.

[2020-02-14 16:25] javiercn commented on #19057
@NareshBisht Can you provide a minimal repro project so that we can better understand the issue? Network traces of before and after will also help.

[2020-02-14 16:42] javiercn opened #19060 "[Blazor][Wasm] Startup api for mapping blazor files"
This is a follow-up issue about the work we are doing to host blazor apps inside asp.net core.

[2020-02-14 17:00] #19001 closed

[2020-02-14 17:11] NareshBisht commented on #19057
@javiercn sry for the wait but below is the link to the video on youtube you can see that the program is working fine in edge but not in chrome and opera.

video - https://youtu.be/zRPRMa4f_hk
project file - https://drive.google.com/file/d/13Q7gxc-fvzkvftk769Qy51u60_Pxd4IU/view?usp=sharing

[2020-02-14 17:20] javiercn commented on #19028
@c0g1t8 thanks for contacting us.

You can't use `~/` as part of Blazor as it is not a concept it has. You should be fine simply using base relative paths (without the `/`

[2020-02-14 17:37] anurse commented on #17723
Fixed in https://github.com/dotnet/aspnetcore/pull/18939 which will be released in 3.1.3 (which is not the immediate next patch release unfortunately but it's on the way!)

[2020-02-14 17:37] #17723 closed

[2020-02-14 17:40] anurse commented on #18152
This was fixed in https://github.com/dotnet/aspnetcore/pull/18246 and will be released in 3.1.3.

[2020-02-14 17:40] #18152 closed

[2020-02-14 17:41] anurse commented on #17399
This was implemented in https://github.com/dotnet/aspnetcore/pull/18255 and will be released in 3.1.3

[2020-02-14 17:41] #17399 closed

[2020-02-14 17:41] anurse commented on #15384
This was fixed in https://github.com/dotnet/aspnetcore/pull/18300 which will be released in 3.1.3.

[2020-02-14 17:41] #15384 closed

[2020-02-14 17:42] anurse commented on #15381
This was fixed in https://github.com/dotnet/aspnetcore/pull/18568 which will be released in 3.1.3.

[2020-02-14 17:42] #15381 closed

[2020-02-14 17:42] anurse commented on #18994
This was fixed in https://github.com/dotnet/aspnetcore/pull/18995 which will be released in 3.1.3.

[2020-02-14 17:43] anurse commented on #18438
This was fixed in https://github.com/dotnet/aspnetcore/pull/18547 which will be released in 3.1.3.

[2020-02-14 17:43] #18438 closed

[2020-02-14 17:46] NinoFloris opened #19064 "Remove HostString.Port string alloc"
To remove HostString.Port string alloc
https://github.com/dotnet/aspnetcore/blob/5ff9ed68d1cf6c89d72d27a69b00ed0ecd34daed/src/Http/Http.Abstractions/src/HostString.cs#L96-L99

`ToString()` should be `AsSpan()`.
I might add a quick PR for this, but it's definitely easy and up for grabs

[2020-02-14 17:52] NTaylorMullen commented on #14294
Talked more with LiveShare folks and for our client side functionality such as auto-completing HTML tags and provisional C# completions they suggested it might be wise for us to restrict what type of Razor files we operate on in the client by using document selectors on the client that only understand the `file://` scheme (LiveShare uses a different scheme).

[2020-02-14 17:57] ryanbrandenburg commented on #14318
Possibly this will get resolved by the same thing as https://github.com/dotnet/sdk/issues/10627, but we're going to take the mitigation in dotnet/aspnetcore-tooling#1581 for now.

[2020-02-14 18:00] #19004 closed

[2020-02-14 18:13] anurse commented on #18874
It's just not in our current plan to build and maintain. It's certainly _possible_ but public client scenarios go beyond most server applications, which is what we're set up to do and have resources to implement. It's not out of the picture, we just have to prioritize other things right now (and to be honest, likely will be prioritizing other work for a while). The ASP.NET Core Auth stack is desig

[2020-02-14 18:26] yahorsi commented on #19052
Thank you for reply! Few things to clarify

1. What do you mean by "I believe you can change the redirect middleware to use `http://127.0.0.1:<<port>>`", I do not see how that could be configured, as not available in the spa.Options or in the UseReactDevelopmentServer call. Could you please point to the sample?
2. If node must be started some specific way then the template should be fixed as now t

[2020-02-14 18:27] yahorsi commented on #19058
The idea of that issue is that IMHO template must be as secure as possible and so if there is security issue it is good idea to update the template and fix it

[2020-02-14 18:32] NTaylorMullen commented on #17549
Launch.json config template:

[code]

[2020-02-14 18:54] blowdart commented on #19058
The vulnerability here doesn't affect how we use the package as we're not using untrusted input, but rather to compile up known entities, but we will update it as a matter of course.

Please note for future security issues a github issue is not the best place to report them. Please consider using our [coordinated disclosure route](https://github.com/dotnet/aspnetcore/security/policy), as highlight

[2020-02-14 19:03] Tratcher commented on #19044
@rynowak is that added by HttpClientFactory? Or natively by HttpClient?

[2020-02-14 19:05] Tratcher commented on #19041
The main concern with this approach is that Configure is highly order sensitive.

[2020-02-14 19:10] Tratcher commented on #18871
Proposal: Fuzz testing by returning segments of random sizes.

[2020-02-14 19:10] SidShetye commented on #14547
@flatproject On a related note, if you're on Linux, it's probably a good idea to disable Application Insights' profiling and snapshot because we're seeing an unrecoverable memory leak from it. See https://github.com/microsoft/ApplicationInsights-dotnet/issues/1678

[2020-02-14 19:17] SidShetye commented on #14547
@davidfowl What is the purpose of `Microsoft.AspNetCore.AzureAppServices.HostingStartup` and why does AppService throw a critical log message over it?

Seems like bad practice to include an entire binary (`Microsoft.AspNetCore.AzureAppServices.HostingStartup`) simply to mask a log warning when we need no functionality from it.

[2020-02-14 19:21] yahorsi commented on #19058
Sorry and thank you for pointing out the right way )

[2020-02-14 19:32] akorchev commented on #17034
[Here](https://github.com/akorchev/blazor-state-lost/commit/5aa014d7d5217af57bb11940bf52446202522286) is a workaround for this issue. It does the following to make things work:

1. Keeps a separate field for the expanded state. The click event handler updates this field.
2. The field is initialized from the parameter property.
3. The field is also in sync with the parameter property by checking if

[2020-02-14 19:34] #8267 closed

[2020-02-14 20:00] #18447 closed

[2020-02-14 20:02] Andrzej-W commented on #18987
I saw this problem a few times after doing this:
- in solution explorer select razor component and press Ctrl+C
- press Ctrl+V to paste a copy of component
- in solution explorer rename pasted component to its desired name

[2020-02-14 20:16] gulbanana commented on #13452
the biggest issue for me is *error boundaries*. i want to be able to use a third party component and, somehow, wrap my use of that component in error handling so that a bug in the library doesn’t kill my whole web application. right now there’s no “place to put the try catch” - the whole component tree is supervised by the blazor renderer, which will die if anything deep in the tree messes up.

[2020-02-14 20:20] NTaylorMullen commented on #18987
@mkArtakMSFT this issue will be solved by LSPification but in order to solve it with the current infrastructure would be a decently large work item to undertake.

[2020-02-14 20:25] wtgodbe opened #19068 "Harden version-calculation logic in Publishing.props"
Currently, `publishing.props` publishes installers to a particular URL in blob storage. Part of that URL is the version string corresponding to the current build. We _always_ want that version string to be suffixed, even during stable builds, because we don't want 2 builds to write to the same location. Currently we use an arbitrary non-shipping project to calculate that version (see https://githu

[2020-02-14 20:30] #14318 closed

[2020-02-14 20:55] scrollsaw commented on #19056
Will there be a fix to this at any point? Or at least a work around? Not supporting polymorphism seems strange to me.

Maybe I'm trying to use razor components in a way they weren't intended. The end goal was to take my primary data model (basically a tree-like structure -> lists of elements of various types, some of which contain lists of various types themselves) and create controls and html dyn

[2020-02-14 21:00] #18735 closed

[2020-02-14 21:08] blowdart commented on #19058
Not a problem at all, I just enjoy paying out bounty money and it's a shame when I can't!

[2020-02-14 21:42] yahorsi commented on #19058
Damn, now I feel even worse :)

[2020-02-14 21:58] wtgodbe opened #19072 "Customers unable to install Microsoft.AspNetCore.Razor.LanguageServer.Common"
Every time we stabilize AspNetCore-Tooling, we get errors like the following (which, interestingly, nondeterministically manifests as either a warning or an error):

For now we're working around it with a NoWarn: https://github.com/dotnet/aspnetcore-tooling/pull/1588. We should figure out if there's a better solution.

CC @dotnet/aspnet-build

Here are the dependencies of the package on nuget.org:

[2020-02-14 23:00] #18794 closed

[2020-02-14 23:00] #18639 closed

[2020-02-14 23:18] davidfowl commented on #14547
@SidShetye The site extension enables the logging options in the azure portal for azure app service to work. The HostingStartup is a way to plug into the application startup process without that code having be in the application initially. Think of it as a plugin. There's a plugin that runs on app service to enable app service features. When it breaks it's because there's a version mismatch, that

[2020-02-15 02:57] jublair opened #19076 "ASP.NET Core 2.2 Azure AD Authorisation Middleware Not Handling Overages"
### Describe the bug
I've recently set up authentication on an ASP.NET Core website I'm working on, and am now trying to authorize users based on their membership to a security group. I'm using this [tutorial][1] to assist me with the setup.

I've set up my AAD application with and received admin approval for the API permissions: *User.Read* and *Directory.Read.All*. I can tell that the basic AAD

[2020-02-15 03:20] stantoxt commented on #19044
Following is my Code
1.startup
[code]
2.action
[code]
3.fiddler capture
[code]

[2020-02-15 04:21] blowdart commented on #19076
This would be a question best asked of AAD who provide that library.

Their repo and issues list is at https://github.com/AzureAD/azure-activedirectory-library-for-dotnet

[2020-02-15 04:25] jublair commented on #19076
Ok - will cross-post and re-open this if ther's an issue. Thanks!

[2020-02-15 04:25] #19076 closed

[2020-02-15 04:59] davidfowl commented on #19044
This is baked into the HttpClient now with distributed tracing support. ASP.NET Core creates an activity and HttpClient creates an activity and propagates that id in a header.

Are you trying to turn it off? If so why?

[2020-02-15 05:46] jackletter opened #19078 "Couldn't find a valid ICU package installed on the system"
When the dotnet SDK is just installed, the following error is displayed in the running command:
![image](https://user-images.githubusercontent.com/15626065/74582651-84b31000-4ff9-11ea-8dea-837552e85378.png)

The operating environment is as follows:
    1. linux: CentOS Linux release 7.6.1810 (Core)
    2. sdk: dotnet-sdk-3.1.101-rhel.6-x64.tar.gz
The installation steps are as follows:
    1. yum i

[2020-02-15 05:48] jackletter commented on #19078
b. [root@localhost local]# tar -zxf dotnet-sdk-3.1.101-rhel.6-x64.tar.gz -C dotnet

[2020-02-15 06:21] MarekPokornyOva commented on #5465
Hi all Blazor eager developers,
I've created assembly lazy load feature for my project. Lazy load works on page level. If you like to check it, navigate to https://github.com/MarekPokornyOva/BlazorLazyLoad.
That concept might also help to put hands on and clarify the feature usage and expectations (as danroth27 asked for), at least until this is supported out-of-the-box.

[2020-02-15 06:22] NareshBisht commented on #19057
@javiercn can i get any update on this? we completely stuck with this now hope you can guide us what should we do? Should we switch to some other framework?

[2020-02-15 07:48] 199621616 opened #19079 "Authentication should be changed from email to phonenumber by default"
At present, phone numbers are far more frequently used than e-mail, and it is more suitable for mobile applications. You want asp.netcore to change its default authentication from email to phone number

[2020-02-15 09:47] stantoxt commented on #19044
I want to turn this feature off because some api hosts don't accept extra headers that api-hosts can't recognize.

[2020-02-15 10:07] c0g1t8 commented on #19028
@javiercn,

Interesting phrasing in your response.  The concept of accessing resources relative to the _application root_ with **~/** has been around in web development for a long time.  Using has been the standard practice and is the reason I'm calling this out.

Having the generated HTML markup consistent between frameworks would be better IMO.  In any case, this should be called out in the docu

[2020-02-15 10:11] mrpmorris commented on #18855
This is how I currently have to do it, which obviously isn't ideal...

https://github.com/mrpmorris/blazor-validation/blob/master/src/PeterLeslieMorris.Blazor.Validation/Extensions/EditContextExtensions.cs#L116

[2020-02-15 10:26] JunTaoLuo opened #19080 "Simplify single file directories in shared sources"
Request in https://github.com/dotnet/aspnetcore/pull/19032#discussion_r379702608. The goal is to simplify the directory by moving all single c# files up one directory to Shared/ directly.

[2020-02-15 10:30] JunTaoLuo opened #19081 "Review pubternal APIs in ResourceManagerStringLocalizer"
This type was migrated from dotnet/extensions and contains two instances of pubternal APIs in public methods as mentioned in https://github.com/dotnet/aspnetcore/pull/19033#discussion_r379186075. Need to review this API and what to do with the pubternal types.

[2020-02-15 10:35] jez9999 commented on #18874
It doesn't seem that hard to support public client scenarios, though.  You basically just don't require a client secret, or authentication to the auth server when requesting tokens.

[2020-02-15 11:52] stantoxt commented on #19044
Can this [issue](https://github.com/dotnet/runtime/issues/29796) solve my problem?

[2020-02-15 12:26] NareshBisht commented on #19057
ok its nots a problem with asp.net core

[2020-02-15 12:26] #19057 closed

[2020-02-15 12:38] simonziegler commented on #19050
**IMPORTANT UPDATE**

My PC updated for windows insider last night (KB4539080) and Edge Chromium no longer crashes! Firefox does though - and that's a common browser.

[2020-02-15 13:09] blowdart commented on #19079
This is only the case in China I'm afraid, changing the default would exclude the rest of the world, and the most common use case scenario, so it's not something we are considering.

[2020-02-15 13:09] #19079 closed

[2020-02-15 14:09] davidfowl commented on #19044
Yes you can set Activity.Current to null before making the HttpClient call

[2020-02-15 15:13] HalidCisse commented on #18334
`<RuntimeFrameworkVersion>3.1.1</RuntimeFrameworkVersion>` fixed it for me.

[2020-02-15 15:15] blowdart commented on #19003
We're closing this issue as the behaviour discussed seems to be by design.

[2020-02-15 16:32] stantoxt commented on #19044
@davidfowl When will this feature ([API review: Allow suppressing Activity creation in System.Net.HttpClient](https://github.com/dotnet/runtime/issues/29796)) be released?
I have deal with this problem like this:
[code]

[2020-02-15 16:35] mkArtakMSFT commented on #19081
@JunTaoLuo is the intention to get these reviewed during the API Review meeting?

[2020-02-15 16:37] davidfowl commented on #19044
You don't need to do that. You can do this:

[code]

[code]

[2020-02-15 16:38] mkArtakMSFT commented on #18987
Thanks @NTaylorMullen.
Let's either park this in some 5.0 milestone as a tracking one, or close as a dupe, if you have one tracking LSP related umbrella issue.

[2020-02-15 16:40] stantoxt commented on #19044
@davidfowl  That's cool.

[2020-02-15 16:44] mkArtakMSFT commented on #13193
Thanks for sharing some insights, @tomRedox.
Question views are not proven source of it being something users were hitting, Upvotes, in contrast, are - but, as you said, there are so far just 3 upvotes for the 6 months period. We'll wait more.

[2020-02-15 16:52] mkArtakMSFT commented on #18902
Thanks for sharing this, @ryanelian.
The reason we've put this into the Backlog is not because this would not add value. We do agree that this would add value, it's just in contrast with the rest of the work we plan to do for the 5.0 release this doesn't meet the bar. As I've commented earlier, we will reconsider this in the future. For now, feel free to promote your type definition so people can

[2020-02-15 17:00] #19055 closed

[2020-02-15 17:00] #19049 closed

[2020-02-15 17:08] ryanelian commented on #18902
Thank you for explaining the reason this issue is punted to backlog and I totally understand.

I also agree that this feature does not reach the bar compared to other larger issues when it comes to polishing Blazor for upcoming .NET 5 release. (**\*cough\*** CTRL + dot automatic code completion still does not work in .cshtml / .razor files **\*cough\***)

That said, it pains me that a feature (JS

[2020-02-15 17:13] #19044 closed

[2020-02-15 18:01] javiercn commented on #19028
@c0g1t8 The main issue here is that there is no good way to map `~/` to browser concepts.

`~/` maps to the server path base, which is not something available in the browser.

That concept in the Browser is represented by the base tag. For links, navigation and other things to work in blazor, the document base uri needs to be setup correctly, so that means there’s no need for `~/` as any such link

[2020-02-15 18:02] christallire commented on #13280
I having same problem too. adding event handler works as a workaround.
Thanks @MarkusRodler

[2020-02-15 18:26] dougbu commented on #19081
@mkArtakMSFT yes. I mentioned API Review in https://github.com/dotnet/aspnetcore/pull/19033#discussion_r379683510

[2020-02-15 18:35] fazil1987 commented on #5914
@davidfowl  so is Request-Id header name currently configurable ? if so, how do i do that as we are not planning to move to w3c standard any time soon. Please reply

[2020-02-15 18:53] peterblazejewicz commented on #18902
@ryanelian I'll make one and we will ask for review, sure thing!

[2020-02-15 19:04] davidfowl commented on #5914
The name isn't configurable no. Anything custom requires custom logic in HttpClient (a delegating handler) and ASP.NET Core (a middleware)

[2020-02-15 19:19] alefranz commented on #5914
Hi @fazil1987 ,
if you are looking for the ability to pass a incoming header down to the HttpClient, you can use the [HeaderPropagation middleware](https://www.nuget.org/packages/Microsoft.AspNetCore.HeaderPropagation) which does exactly that (see [example](https://github.com/dotnet/aspnetcore/blob/master/src/Middleware/HeaderPropagation/samples/HeaderPropagationSample/Startup.cs)).

For the loggi

[2020-02-15 20:36] peterblazejewicz commented on #18902
DefinitelyTyped/DefinitelyTyped#42392

[2020-02-15 20:43] physix99 commented on #18143
Hi,

Thanks for the response.

We are not using multiple servers, and i'm pretty sure the site did not restart between.

I have slightly narrowed it down, It seems to happen most when i'm using NavigationManager.NavigateTo("currentUrl", true) to refresh the page completely, then hitting the back button.

However it doesn't happen every time and I have still not been able to fully replicate the iss

[2020-02-15 21:00] #19056 closed

[2020-02-16 01:14] nullpainter commented on #17986
I'm in the same boat as @schmitch. I have read that sticky sessions are _not_ required when using Redis and if the only transport is WebSockets, but this appears to require client-side configuration. I can't see any documentation about whether this is possible to configure with Blazor.

I've implemented custom state management for ephemeral state, but this isn't really the issue.

What I'm looking

[2020-02-16 01:26] nullpainter commented on #17986
This is a similar question to [#9734](https://github.com/dotnet/aspnetcore/issues/9734), with the same state management page discussed, however this doesn't address that poster's concerns either.

It's straightforward to persist _application_ state (view models etc.) via an ad-hoc state manager, but what is resulting in the 'could not reconnect' message? Is there some way to implement a _non_ ad-h

[2020-02-16 03:53] AHelper commented on #19013
I think I'm hitting the same issue (I was about to make a new issue, but given the title, it seems fitting I drop in here):

### Reproduction Steps
1. Set `"razor.trace": "Verbose"`.
2. Run (pwsh);
[code]
3. Select Test1 as the Omnisharp project. Open Test1/App.razor.  Hover over `<Router`. Note the missing tooltip information
4. Remove Test0 from the workspace. Hover again. After a few moments (l

[2020-02-16 05:43] mkArtakMSFT commented on #19081
I see. Well, the process is to create the proposed change as a PR and apply the `api-ready-for-review` label to it. That way it'll show up in the review meeting.

[2020-02-16 06:08] varnit03 opened #19084 "Enum.IsDefined throw error with nullable EnumType properties."
### Describe the bug
A clear and concise description of what the bug is.
Enum.isDefined throw 'Type provided is not Enum' when property is optional

eg.
public NameTypeEnum? Name { get; set; } = null;

// Here is the method for enum validation

                public override object ReadJson(JsonReader reader, Type objectType, object existingValue, JsonSerializer serializer) {
            try {

[2020-02-16 07:18] dougbu commented on #19081
@JunTaoLuo and I are recommending the pub-ternal pattern (something our org has worked to eradicate) be removed where @JunTaoLuo noticed it. We don't have the domain knowledge you and @ryanbrandenburg have to decide whether the pub-ternal APIs should be `public`, `internal`, or (in an exceptional case) should remain pub-ternal.

[2020-02-16 11:58] lhrbu opened #19085 "Custom ModelBinder doesn't fire on Type type"
I wrote an custom model binder which just simply read the string value from http request header and map it to Type type as below:
`public async Task BindModelAsync(ModelBindingContext bindingContext)`
`{`
`string key;`
`if (!string.IsNullOrEmpty(bindingContext.ModelName)) { key = bindingContext.ModelName; `
`else { key = bindingContext.FieldName; }`
`if (bindingContext.HttpContext.Request.Headers.

[2020-02-16 12:51] Regenhardt opened #19086 "Can't serialize enums as string in Blazor"
### Describe the bug
Trying to serialize and object containing an enum with the Attribute `[JsonConverter(typeof(JsonStringEnumConverter))]` will crash.
Removing the attribute lets me easily send a poco with the enum, which gets serialized to a number as usual.

### To Reproduce
Simply use the blazorwasm hosted template, add the following file to it:
[code]
Also install System.Text.Json to the .Sh

[2020-02-16 13:29] thomasrea0113 commented on #19013
I think the issue is more general than just Blazor. I'm seeing import and type errors across all my razor pages. After a while, the razor language server crashes entirely and I have to restart. I'll post another comment when I have a chance to gather more information.

[2020-02-16 19:16] nullpainter commented on #17986
Or is the message that SignalR terminations are unavoidable, and that the Blazor approach is for the developer to to maintain state as per [ASP.NET Core Blazor state management](https://docs.microsoft.com/en-us/aspnet/core/blazor/state-management?view=aspnetcore-3.1)?

[2020-02-16 21:57] quantumandcode opened #19341 "Microsoft.AspNetCore.Razor.Runtime Not Found"
Microsoft.AspNetCore.Razor.Runtime

# General

Deploying to Azure Web App for Linux, using a dotnet core mvc 3.1 app with individual auth. I get this error when I 'deploy to web app' using the vs code azure web app extension.

I am currently working on Ubuntu 18.04

I also have the problem with Microsoft.AspNetCore.Razor.Runtime Not Found when I run 'dotnet add package' as it installs version 2.2,

[2020-02-16 22:34] douglassimaodev commented on #9939
any update on this?

[2020-02-16 22:47] ryanelian commented on #9939
Our company managed to solve this by remaking the entire form system. (Just like those folks over at Syncfu**** / Teler** / DevExp**** with their closed source and proprietary custom components)

I'll just drop this source code, hopefully can be an inspiration for whoever tackling this issue.

[code]

[code]

Basically what happens is that because most basic HTML form inputs for Blazor works just

[2020-02-16 22:57] Snazzie commented on #16833
Actually it doesnt
![image](https://user-images.githubusercontent.com/19627023/74614429-c209c180-510f-11ea-8783-ae811ab0401b.png)

[2020-02-16 23:15] anurse commented on #17750
Reactivating per [Twitter discussion](https://twitter.com/khellang/status/1229181050527637507?s=21).

[2020-02-16 23:36] jublair commented on #19076
@blowdart I've contacted the AAD folks as per your recommendation and they have also informed me that this issue is external to their systems.

Are you sure that this isn't relevant to ASP.NET Core? I've identified a possible root cause for my issue coming from this part of the ASP.NET Core SDK: https://github.com/dotnet/aspnetcore/blob/3da1b107efb01c4fc7577a4abcda3fa099e830a7/src/Azure/AzureAD/Au

[2020-02-17 01:02] blowdart commented on #19076
Oh, hah, if you're using the  MSFT AAD (in which case there's an internal support DL), then yes, don't return all the groups, adjust your app registration to only return the groups you care about.

We've not been asked by customers to support this at all, so it's not on our radar. So yea, you're going to have to break down that helper method into its component parts and do it manually like you fou

[2020-02-17 03:58] ElderJames opened #19088 "Automatically import static files from Razor Class Libraries to the html file of client-side Blazor"
### Is your feature request related to a problem? Please describe.
This is work well at 3.1.0-preview1 with EmbeddedResource.

I don't think developers need to care about static resources in other libraries.

[2020-02-17 03:59] Exocomp opened #19089 "SignalR ws bufferutil utf-8-validate"
Angular: 9.0.1
@microsoft/signalr: 3.0.0

I get the following warnings when I build for prod:

[code]

I see that @microsoft/signalr has a dependency on ws and in the ws readme I see:

https://github.com/websockets/ws

"Opt-in for performance and spec compliance
There are 2 optional modules that can be installed along side with the ws module. These modules are binary addons which improve certain o

[2020-02-17 04:35] NavinAT commented on #19049
@javiercn Thanks for the response.
The way you mentioned worked as expected, but what we are trying is,

**CustomLayout:**
[code]
Here, we are specifying MSLayout (MainLayout) for the CustomLayout, in this case how do we pass parameter or some value to the custom one from MSLayout.

[2020-02-17 05:02] NavinAT opened #19090 "[Blazor] Passing Parameter to Custom Layout"
Closed Issue:  (https://github.com/dotnet/aspnetcore/issues/19049#event-3039292943)
#
### How to pass parameter to Custom Layout?

**CustomLayout:**

[code]
Here, we are specifying `MSLayout `(`MainLayout`) as a root for the `CustomLayout`, in this case how do we pass parameter or some value to the custom one from `MSLayout`.

`CustomLayout `will be used in another component:

[code]

[2020-02-17 05:33] borland opened #19091 "Kestrel throws Win32Exception: ASN1 bad tag value met when loading a PFX file containing an elliptic curve certificate"
### Describe the bug

When I configure Kestrel to use an x509 certificate with an elliptic curve key pair, it fails with the exception `System.ComponentModel.Win32Exception (0x8009310B): ASN1 bad tag value met.`

I am hopeful that this is just a configuration issue and not a bug that requires code changes?

I am launching Kestrel in HTTPS mode, and using a PFX file to specify the certificate+priva

[2020-02-17 05:54] borland commented on #19091
Note: Just for kicks I tried to run this exact same thing on WSL (ubuntu 16.04 with dotnet sdk 3.1.1) using a VSCode WSL launch config:

I get this stacktrace/error in the debugger:

[code]

[code]
Ref https://stackoverflow.com/questions/53790697/how-can-i-configure-visual-studio-code-to-run-debug-net-dotnet-core-from-the

[2020-02-17 05:59] pavlexander commented on #18846
Well, thank you bot for marking my issue as staled.. My issue seems to be different from the one described above.. The error codes are different so I was waiting for more input on the topic.

I have looked up some information on the internet about the status code **0x80070652**.
Here is what I found:

If that's the case, then the fix for my problem would be to add additional code in the script, to

[2020-02-17 06:02] borland commented on #19091
Ok, turns out my certificate/pfx was screwed up.

Correct sequence of openssl commands which generates a PFX file which functions correctly is as follows:

[code]

This EC certificate also works fine on aspnetcore2.1 running on net472

I'll close this ticket but leave it hanging around for search engine juice for future travelers. Sorry for wasting anyone's time

[2020-02-17 06:02] #19091 closed

[2020-02-17 06:15] mkArtakMSFT commented on #19081
Got it. Thanks for clarifying. Will do the needful!

[2020-02-17 06:49] stukselbax commented on #4765
Since [MinDataRate](https://github.com/dotnet/aspnetcore/blob/master/src/Servers/Kestrel/Core/src/MinDataRate.cs) has no settable properties - they will not be filled from configuration, [because](https://docs.microsoft.com/en-gb/aspnet/core/fundamentals/configuration/?view=aspnetcore-3.0#bind-to-a-class)

At lease properties for [MinDataRate](https://github.com/dotnet/aspnetcore/blob/master/src/S

[2020-02-17 07:29] mrpmorris commented on #19056
@scrollsaw The accepted answer here is very good - https://stackoverflow.com/questions/58074304/is-polymorphic-deserialization-possible-in-system-text-json

[2020-02-17 07:54] Tratcher commented on #4765
Kestrel has a custom config binder that's primarily used for endpoints. Additional complex settings like MinDataRate should be added there, not in CreateDefaultBuilder.

[2020-02-17 09:00] #18642 closed

[2020-02-17 09:03] akorchev opened #19092 "[Blazor] Incorrect DOM namespace used with children of SVG foreignObject"
### Describe the bug

Blazor seems to always use the SVG namespace when updating DOM nodes that are children of a SVG element.

### To Reproduce

Use this Blazor page

[code]

When you render it the second `<strong>` disappears immediately.

![blazor-foreignObject](https://user-images.githubusercontent.com/454726/74638259-3fffb400-5174-11ea-810a-477ede6d6aa8.gif)

The DOM node is still there thoug

[2020-02-17 09:45] andrey-rodin opened #19093 "Response is 406 Not Acceptable instead of 404"
The following action produces 406 response when Accept header is "text/plain". For "application/json" response is 404. I expected 404 in both cases, because if action returns Ok("some string") and Accept header is "text/plain", then result is correct. I do not use output formatters in startup.

[Route("foo")]
[HttpGet]
[Produces("text/plain", "application/json")]
public IActionResult GetString()
{

[2020-02-17 09:59] tiesmaster commented on #18890
@pranavkm Thanks for the detailed write-up. Too bad it won't be fixed before .NET 5, though, I can related to the policy, you need to make a cut off somewhere. At least, this gives me something to look forward to, in .NET 5 (though, I expect that there will be other things in there I'm looking forward to ;)).

[2020-02-17 11:04] Discovery-support commented on #18854
I also had this exact issue when upgrading to 3.2.0.  Publishing does not seem to create a _framework/blazor.boot.json file (one of many that are missing in the dist\framework).  Is there a workaround to force the generation of these files?  (I have tried Cleaning and Rebuilding.)

[2020-02-17 11:36] SteveSandersonMS commented on #18854
@derekcripps I'm afraid I'm unable to use your repro project, because it relies on references to NuGet packages that aren't available on public feeds (e.g., `DevExpress.Blazor`). If you're able to update your repro project so that it only uses public packages, I'm happy to take a look.

@Discovery-support To really reset things, be sure you deleted the `bin` and `obj` folders from all your project

[2020-02-17 12:07] javiercn commented on #19092
@akorchev thanks for contacting us.

We currently don't properly support SVG. We have a separate issue tracking this work, so I'm going to close this one in favor of the tracking issue we already have.

https://github.com/dotnet/aspnetcore/issues/18271

[2020-02-17 12:07] #19092 closed

[2020-02-17 12:11] akorchev commented on #19092
@javiercn Ouch. We've undertaken quite a big SVG related task (Radzen Blazor Chart). So far this is the only issue with SVG and Blazor. Do you know what the existing issues are?

[2020-02-17 12:11] javiercn commented on #19084
@varnit03 thanks for contacting us.

In order for us to investigate and help you, can you post a minimal repro project and detaile steps on how to reproduce it?

[2020-02-17 12:13] javiercn commented on #19086
@Regenhardt thanks for contacting us.

I actually got a repro of this myself as part of a separate piece of work, so this is likely confirmation that there is something wrong in this area.

@pranavkm I believe we need to investigate what goes on here with the json serializer as from my repro it null-ref.

@Regenhardt are you seeing a nullref in the callstack?

[2020-02-17 12:16] javiercn commented on #19088
@ElderJames thanks for contacting us.

We don't plan to have this feature for reasons mentioned in https://github.com/dotnet/aspnetcore/issues/14911#issuecomment-541017878

This is something that works in very simple cases but that falls apart really quickly in most common cases and that leaves you without options.

[2020-02-17 12:16] #19088 closed

[2020-02-17 12:19] Regenhardt commented on #19086
Yes, the outermost message is a null-ref. Can upload a screenshot of the whole thing later when I'm at home if you like.

[2020-02-17 12:21] javiercn commented on #19056
@scrollsaw I don't think so, Polymorphism is an OO concept which doesn't apply to serialized data, the best approach you can follow is to create a new type that is a union of the polymorphic type and serialize that as mentioned in the [docs](https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-converters-how-to#support-polymorphic-deserialization)

This behavior is by de

[2020-02-17 12:36] mblataric opened #19094 "[Blazor] - server-side - Frequent disconnects (Error 504) when using nginx reverse proxy"
### Describe the bug
When using blazor server side template app on web server behing nginx reverse proxy, frequent disconnects occur.
This does not happen on localhost when testing the app.

I have reverse proxy configured with WebSocket headers.

### To Reproduce
Create new blazor server side app from dotnet template and publish app to web server behind nginx reverse proxy.
Start the app, click F

[2020-02-17 14:20] #19064 closed

[2020-02-17 14:25] snickler commented on #17057
In case you're interested, I was able to build the ASP.NET Core Runtime for ARM64 Windows, along with the .NET Core SDK (minus WinForms/WPF).
https://sinclairinat0r.com/2020/02/05/compiling-net-core-for-windows-10-arm64

[2020-02-17 14:59] giorgi-abashidze opened #19095 "webassembly(client) crashing #Blazor"
hi, my pc have low ram and it freezing often, it freezed when i was working in visual studio and i turned off and on again unplugged from power,

after that when i start application webassemply(client) is crashing error is in dotnet.js

i tried everything including cleaning solution and rebuild again but still got an error

here is a part of error message: Stacktrace:
dotnet.js:1:18935
650764@http

[2020-02-17 15:25] javiercn commented on #19095
@giorgi-abashidze thanks for contacting us.

Can you delete your bin, and obj folders and see if that fixes the issue. If not, can you provide a minimal repro project so that we can investigate.

[2020-02-17 15:27] javiercn commented on #19094
@mblataric thanks for contacting us.

We're not sure what is going on here, but it seems that nginx is having some issues with the underlying signalr connection.

@anurse is there something we can suggest here?

@mblataric Could you provide more details of your nginx config so that we can be of assistance? It would be interesting to know if the proxy, the server or the client is closing the connec

[2020-02-17 15:31] javiercn commented on #19090
@NavinAT thanks for contacting us.

Layouts only allow to pass parameters down. You could pass down a callback and have your child layout invoke that or you can avoid using layouts in this case and use a component instead that takes a child content and pass any parameter you want.

[2020-02-17 15:34] javiercn commented on #19086
@pranavkm This seems to be an actual issue, can you follow up with the right folks?

[2020-02-17 15:36] javiercn commented on #19018
@sowsan thanks for contacting us.

Could you provide a minimal repro project and detailed steps to reproduce it so that we can investigate this issue?

[2020-02-17 15:38] javiercn commented on #19014
@vcrobe thanks for contacting us.

Blazor routing doesn't support that type of parameter (we call them complex parameters in ASP.NET Core) as an alternative we suggest you capture the parameter and match the value against the pattern you expect.

[2020-02-17 15:39] #19095 closed

[2020-02-17 15:43] javiercn commented on #19005
@GeraudFabien I think what you are looking for is just templated components. See https://docs.microsoft.com/en-us/aspnet/core/blazor/templated-components?view=aspnetcore-3.1

If you are asking for a built-in component it is unlikely we will build that into the framework, but it is trivial for you to build your own and re-use across your projects if you want to.

[2020-02-17 15:49] javiercn commented on #19052
@yahorsi You should be able to configure the react dev server to launch on 127.0.0.1 explicitly instead of localhost. See [here](https://create-react-app.dev/docs/advanced-configuration/#!) for details

That should fix the issue.

[2020-02-17 16:08] GeraudFabien commented on #19005
@javiercn  No it's not what i'm looking for.

If you look at my exemple the Templated component context is a renderFragment. I just look  to put a render fragment inside a renderFragment. Exactly the same as in Xaml where you can use  Item presenter and the render is define by the component.

[2020-02-17 16:12] peval27 opened #19096 "TestSSL reports 2 warning and 1 critical warning"
I have an ASP.NET 3.1.101 MVC + Web API running on Windows 10 1909 which uses Kestrel and HTTPS with a self signed certificate. I ran testssl.sh v.3.0 with openssl 1.1.1d from CentOS 7 and it highlighted 3 warnings:

- Secure   Client-Initiated Renegotiation | RED | VULNERABLE (NOT ok), DoS threat
- SWEET32 (CVE-2016-2183, CVE-2016-6329) | yellow | VULNERABLE, uses 64 bit block ciphers
- LUCKY13 (

[2020-02-17 16:13] Discovery-support opened #19097 "Error after upgrade to WebAssembly Preview 3.2.0 Missing _framework/blazor.boot.json after publishing"
Steve Sanderson has asked me to raise this as a separate issue.

This project runs locally, but fails to correctly create and then publish (via Web Deploy). The project appears to skip the creation of _framework/blazor.boot.json as well as its dependent DLLs. **The upgrade to Blazor 3.2.0 was responsible for this issue appearing.**

Is there a workaround for this issue? (Deleting Obj and Bin direc

[2020-02-17 16:15] Discovery-support commented on #18854
Thanks, but folder deletion didn't resolve it. I have raised a new issue as requested. **https://github.com/dotnet/aspnetcore/issues/19097**

[2020-02-17 16:18] GeraudFabien commented on #19005
I re-read it again. And the two thread are finally duplicate. Sorry.

[2020-02-17 16:18] #19005 closed

[2020-02-17 16:19] yahorsi commented on #19052
This does not work, as, I understand port and host is specified by ReactDevelopmentServer.
So, even if I set some env variables in the logs I see:
[code]

[2020-02-17 16:27] blowdart commented on #19096
which OS are you running on?

[Sweet32](https://sweet32.info/) only affects Triple-DES and CBC, modern Windows should have those disabled but you can make sure using [restricting what's available](https://support.microsoft.com/en-us/help/245030/how-to-restrict-the-use-of-certain-cryptographic-algorithms-and-protoc), although Windows did [patch](https://docs.microsoft.com/en-us/security-updates/Sec

[2020-02-17 17:18] derekcripps commented on #18854
[Fuji_NoDevExpress-master.zip](https://github.com/dotnet/aspnetcore/files/4215207/Fuji_NoDevExpress-master.zip)
Please see updated project, with DevExpress.Blazor removed.  Thank you

[2020-02-17 17:24] SteveSandersonMS commented on #18854
@derekcripps Unfortunately you removed more than just DevExpress. There's nothing in that zip file except for `.gitignore` and `.gitattributes` 😄

[2020-02-17 17:55] javiercn commented on #19052
See https://github.com/dotnet/aspnetcore/issues/18062 for the discussion.

[2020-02-17 17:56] derekcripps commented on #18854
Apologies, tried to make a new repo with the changes, but I've done something wrong.  I've zipped the solution, without the obj and bin folders.  Please let me know if this is better.  Thank you
[Fuji_Main.After.Upgrade_NoDevExpress.zip](https://github.com/dotnet/aspnetcore/files/4215360/Fuji_Main.After.Upgrade_NoDevExpress.zip)

[2020-02-17 18:33] blogcraft commented on #17277
Echo solution works sometimes. Some other times, it just hangs after logging the chunks without printing this message:

`info: Microsoft.AspNetCore.SpaServices[0]
      : Compiled successfully.`

[2020-02-17 19:30] Regenhardt commented on #19086
I'm home, here's the screenshot.

![JsonStringEnumException](https://user-images.githubusercontent.com/10476293/74681651-3ef67300-51c4-11ea-9dcc-a43e15dbbc9a.png)

[2020-02-17 19:45] Regenhardt commented on #19086
Also [this](https://github.com/dotnet/runtime/blob/03dc181bfbb964a6afdb41f7965c2c013b0bdf3e/src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Converters.cs#L217) might just hide the error. Not sure how though, haven't actually cloned the repo. Good luck ✌️

[2020-02-17 20:13] mblataric commented on #19094
Hi,

Sure, but since this is my Synology NAS running all kinds of things, config is huge (I need some time to clear it from private data).
I assume you want entire config file, not just reverse proxy definition since it is possible something else is interfering with signalr?

[2020-02-17 20:15] jrr opened #19098 "Microsoft.AspNetCore.SpaServices.Extensions is undocumented"
The old spa services [doc](https://docs.microsoft.com/en-us/aspnet/core/client-side/spa-services?view=aspnetcore-3.1) contains a scary deprecation warning:

Instead of linking to the document for the currently-supported spa services, it links to a Nuget package and a GitHub issue.

Please document the current version of this feature!

[2020-02-17 20:34] javiercn commented on #19094
@mblataric thanks. I'm not sure what can be going on here. @anurse can probably offer more/better suggestions on what to look for.

[2020-02-17 20:59] Regenhardt commented on #16929
May I try my hand on this one? Seems simple enough.

[2020-02-17 21:25] javiercn commented on #19053
https://github.com/dotnet/aspnetcore/pull/18851#discussion_r379359028

[2020-02-17 21:47] SurajDixit commented on #18891
Thanks for the update!

Looking forward to hear from you!

[2020-02-17 22:14] mblataric commented on #19094
Here is config dump from running nginx instance: [nginx-config.txt](https://github.com/dotnet/aspnetcore/files/4216462/nginx-config.txt)

Nginx access log:
[code]

Nginx error log:
[code]

[BlazorServerAppEF](https://dev.logon.hr/BlazorServerAppEF) is accessible from outside, so you can try it as well.

[2020-02-18 00:13] mkArtakMSFT opened #19099 "Update npm dependencies"
TypeScript had been updated in VS and it now conflicts with a package, we reference from our react templates. Need to update the npm dependencies in SPA project templates.

[2020-02-18 00:14] mkArtakMSFT commented on #19099
@javiercn can you please handle this tonight? The windows for 3.1.3 patch is quite short and I hope we can squeeze this in.

[2020-02-18 00:16] mkArtakMSFT commented on #19099
Given that we're going through the patch process, please update the dependencies for all SPA projects, so we're clean. There have been some other minor reports by CTI regarding some failures there, and this will eliminate all of them.

[2020-02-18 00:25] nagtilaklaxman opened #19100 "_content folder is not getting created for blazor in 3.2 webassembly"
I am using Blazored.Toast in my webassembly Project.
I have referenced the css  in index.html  as below.
<link href="_content/Blazored.Toast/blazored-toast.css" rel="stylesheet" />

before updating to 3.2 preview it was working but after updating the blazor to 3.2.0 .. I found that the folder_content is not getting created in netstandard2.1\dist folder.
It was used to get created in netstandard2.0

[2020-02-18 00:27] #19100 closed

[2020-02-18 00:56] alienwareone opened #19101 "MapDynamicControllerRoute doesn't consider ActionMethodSelectorAttribute"
The following code will produce an exception:
AmbiguousMatchException: The request matched multiple endpoints.
- App.Web.Controllers.TestController.ButtonClick1 (App.Web)
- App.Web.Controllers.TestController.ButtonClick2 (App.Web)
[code]
Setup:
[code]
With the "old" IRouter this was possible.

[2020-02-18 01:28] #18783 closed

[2020-02-18 01:28] #18782 closed

[2020-02-18 01:29] #5554 closed

[2020-02-18 01:29] #18765 closed

[2020-02-18 02:32] xdmushui commented on #3495
`app.UsePathBase("/myapp");`
When this code is used, swagger (Swashbuckle.AspNetCore) cannot resolve it.
Is there any solution?

[2020-02-18 03:15] david-driscoll commented on #18743
I think being able to implement `ICascadingValueComponent` would be a great way to allow for flexibility in components without having to do some crazy nesting of `<CascadingValue>`.  Being to able to surface data from a custom router, layout or other component easily would be extremely powerful.

[2020-02-18 04:17] NavinAT commented on #19090
@javiercn Thank you for the suggestions.

[2020-02-18 04:17] #19090 closed

[2020-02-18 04:23] Tratcher commented on #3495
@pranavkm any comment on Swashbuckle?

[2020-02-18 04:52] mkArtakMSFT commented on #16929
Thanks for your suggestion, @Regenhardt.
We're quite close to the code-complete date for current milestone. If you can send a PR within a day, we'll consider it. /cc @ajaybhargavb

[2020-02-18 07:13] digitaldias opened #19102 "Missing exception on trying to load settings file without permissions"
### Describe the bug
When setting up an Asp.Net Core application using **.ConfigureAppConfiguration()** to add a JsonFile, the runtime fails silently to read that file unless Visual Studio is running as an administrator.

**Expected**
Some sort of runtime exteption stating that the program lacks the privileges to read that file.

### To Reproduce
Run this in Visual Studio *without* Administrator p

[2020-02-18 07:43] parad74 opened #19114 "Client-SignalR on WebAPI without Hub-SignalR in the same solution - how to configure for work?"
# Issue Title

Client-SignalR on WebAPI without Hub-SignalR in the same solution - how to configure for work?

# General
Windows 10
dotnet Core 3.1.1
WebAPI
SignalR
----------
These are 2 applications Server and WebAPI :
My architecture has 1) remote WebAPI application and 2) Server that calls WebAPI. They are located at different addresses and perform different tasks. Hub SignalR is located on Se

[2020-02-18 07:50] JvanderStad commented on #17281
The `onchange` event handler receives a `Microsoft.AspNetCore.Components.ChangeEventArgs` instance.

[code]

Can't we use the `Value`-setter to reflect changes?

[code]

[2020-02-18 08:38] peval27 commented on #19096
Hi Barry @blowdart ,

thanks for your quick and detailed answer. From the look of it, it seems the script has highlighted false positives. If so, I could raise an issue against it. I've replied in line to your questions.

Software running on Windows 1909 as Windows service, script running from CentOS 7

scripts is highlighting:

Triple DES Ciphers / IDEA                     offered
Obsolete: SEED

[2020-02-18 09:06] peval27 commented on #19096
I've updated the issue description with more details (OS, openssl version, testssl version, etc)

[2020-02-18 09:38] javiercn commented on #19099
@mkArtakMSFT Did you mean **ALL** the dependencies? That's not a trivial thing ofr a patch to do. Can you find out what package causes VS to have issues?

[2020-02-18 09:43] javiercn commented on #19099
I've tentatively updated the dependencies on both and see what the build has to say about it. Does it affect angular too? I believe that would require us to update to angular 9, as angular needs a specific TS version

[2020-02-18 09:57] activebiz commented on #8110
We have same issue on Ubuntu 18 using .NET core 3.0.
Will installing .NET Core 2.0 help?

Thanks

[2020-02-18 10:08] bennycoomans opened #19104 "Razor runtime compilation ignores _ViewImports.cshtml in class library"
### Describe the bug

I have a asp.net core 3.1 web application consisting of a project for the web app and a project which is a razor class library, containing some views. I have enabled razor runtime compilation. The project compiles fine, but when accessing a view from the class library, I get a compilation error in the browser:

`One or more compilation references may be missing ... The type o

[2020-02-18 11:18] stefanloerwald opened #19105 "blazor syntax in <style> blocks"
I am working with a third-party blazor component where I need to apply styles to UI elements. The third-party component does not support it directly, but all divs etc. have (auto-generated) IDs, so I can write css styles with the correct selectors based on those IDs. So I have a loop over all such IDs and then create a style for the divs. Simplified code:

[code]

This works, but creates a `<style

[2020-02-18 12:03] dozed opened #19106 "`SuppressMapClientErrors` has no effect"
### Describe the bug

[`SuppressMapClientErrors`](https://docs.microsoft.com/en-us/aspnet/core/web-api/?view=aspnetcore-2.2#problem-details-for-error-status-codes) has not the effect of suppressing `ProblemDetail`

### To Reproduce

1. Clone https://github.com/dozed/aspnetcore-test
2. Run the app and goto `/foo` URL

I would expect that no output is shown, instead the following is shown:

[code]

[2020-02-18 12:30] blowdart commented on #19096
Super weird, on Windows these days non of those should be a concern. Maybe try another from https://github.com/ssllabs/research/wiki/Assessment-Tools ?

[2020-02-18 12:46] ricksanchezisagoodman opened #19340 "Limiting Request to Web API that are coming from same location"
We have a web api where we allow anon[AllowAnonymous] users to register using our own mobile apps(android & iOS). Recently it was reported that there are multiple users registered with the same email address which we do not allow. We have multiple check to not allow this to happen. When we check our IIS log. We have something like this:

2020-02-15 18:40:42 XXX.XXX.X.XX POST /api/Account/Register

[2020-02-18 13:11] bmoteria commented on #18560
I am having exact same issue. After deploying blazor server side app to IIS, User.IsInRole("...") always returns false.

@mkArtakMSFT @SteveSandersonMS @blowdart any timeline when this issue could be resolved? or if we can have a work around until it's fixed? We're re-writting one of our ASP.NET MVC app using Blazor Server Side (windows auth).

[2020-02-18 13:16] blowdart commented on #18560
@roysurles what happens if you cast it to a WindowsPrincipal?

[2020-02-18 13:32] roysurles commented on #18560
The only workaround we have found for this is to use the SID of the ActiveDirectory Group instead of the name.   Will try casting to WindowsPrincipal this morning and get back... thanks

[2020-02-18 13:34] blowdart commented on #18560
Windows Authentication is rather "special". It, as you have discovered, caches roles as SIDs and only does the lookup against role names when IsInRole is called. If it's a claims principal it can't do that, claims principal doesn't know how to call out to AD, so it needs to be cast back.

Make sure it's not null though when you cast it, if something has fiddled with it (Claims transformation, or s

[2020-02-18 13:48] gkeongit opened #19107 "ApiDescriptionGroupCollectionProvider fails for controllers with parameter type Exception"
### Description of the bug
If a controller method uses a parameter of type `System.Exception`, accessing `Microsoft.AspNetCore.Mvc.ApiExplorer.ApiDescriptionGroupCollectionProvider.ApiDescriptionGroups` allocates GBs of memory and seems to be in an infinite loop.

The same happens, if not the controller parameter itself, but one of its direct or nested properties is of type `System.Exception`.

##

[2020-02-18 13:55] Coder3333 opened #19108 "Required dependencies are not listed"
### Describe the bug
The NuGet website says that the package has no dependencies, but after installing it, when I try to run it, I get the below error message.
https://www.nuget.org/packages/dotnet-sql-cache/3.1.1

The framework 'Microsoft.NETCore.App', version '3.1.1' was not found.
  - The following frameworks were found:
      2.1.12 at [C:\Program Files\dotnet\shared\Microsoft.NETCore.App]

[2020-02-18 13:56] tobbi opened #19109 "Blazor WASM project: Could not find assembly: Microsoft.AspNetCore.Blazor"
### Describe the bug
After deploying the application to IIS, I keep getting the following error in the error console when loading the Blazor app using Firefox:
[code]

I know this is very scarce info. Please tell me what else you need from me and I'll expand on it.

### To Reproduce
1. Deploy a Blazor application. This is the publish profile:
[code]

### Further technical details
- ASP.NET Core ve

[2020-02-18 14:09] bmoteria commented on #18560
@blowdart I tried casting claims principal to windows principal but throws an exception after IsInRole() is executed. - This was tested in my local environment.

---
**Code:**

`private bool isPartOfUsersGroup;`

`protected override async Task OnInitializedAsync()`
    `{`
        `var authState = await authenticationStateTask;`
        `var windowsPrincipal = (WindowsPrincipal)authState.User;`

[2020-02-18 14:10] blowdart commented on #18560
is windowsPrincipal null at that point?

[2020-02-18 14:26] bmoteria commented on #18560
No it's not null. Please ignore my exception above. I'd <AuthorizeView> in the same page that threw above exception. After removing AuthorizeView tag from that page, i was able to cast to windows principal and it wasn't null - worked locally.

**I published my changes to IIS and gave me following error:**

[2020-02-18T14:21:23.180Z] Error: System.InvalidCastException: Unable to cast object of type

[2020-02-18 14:26] blowdart commented on #18560
Hmm Blazor is doing something odd. Ok I'm leaving this to @SteveSandersonMS

[2020-02-18 14:32] Kahbazi commented on #18772
`ConfigureOptions` only runs when a new instance of options is requested and for `OptionsMonitor` it runs when config is reloaded. So the only suitable lifetime to use for `TicketDataFormat` is singleton. Could we instead have a `TicketDataFormatCreator` and also `ITicketStoreCreator` so we can pass scoped and transient services to also cover #6946?

[2020-02-18 14:32] marlon-tucker opened #19110 "Consider adding a way to retreive IIS Application Properties when using IIS InProcess hosting (Virtual Application Path)."
Hello,

After the move from Out-of-process to In-process as the default hosting model for IIS, a feature was lost.

The Out-of-process exposed various environment variables, such as `ASPNETCORE_APPL_PATH`, meaning these properties were available anywhere within the code.

The In-process model retrieves these properties via a native method call:

https://github.com/dotnet/aspnetcore/blob/2a52168115

[2020-02-18 14:40] Coder3333 opened #19111 "Not using correct version of global tool"
### Describe the bug
I have installed dotnet-sql-cache 3.1.0, but when I try to use the tool, an old version is getting run, instead of the new one.

### To Reproduce
Install any version of the global dotnet-sql-cache tool.
Type dotnet-sql-cache at the command prompt.
You will be told that the correct usage is Usage: dotnet sql-cache [options] [command]
Type dotnet sql-cache --version
You will be

[2020-02-18 14:50] codingforfoodllc commented on #18019
I don't really have a lot to add other than we we are also having this issue.  32 bit applications pools are crashes when we installed core hosting 3.1.0.

[2020-02-18 14:54] soeleman commented on #19104
Trying your project on github and it seem the path cannot find Lib.dll .
![bennycoomans__razor_compile](https://user-images.githubusercontent.com/309413/74746967-c57c8480-5298-11ea-9232-7720385a0535.png)
When change the path as image above. we can open the page.
And it is better using  **AddControllersWithViews** as replacement **AddMvc**.

[2020-02-18 14:59] #13420 closed

[2020-02-18 14:59] Coder3333 commented on #19111
I closed the Command Prompt window and tried again from a new Command Prompt.  This time it worked.  I have never read any documentation stating that you should have to open a new window before you can run a global tool after installing it.

[2020-02-18 14:59] #19111 closed

[2020-02-18 15:12] sowsan commented on #19018
Thank you @javiercn . Closing this as it was a syntax error in the HTML as I was not using "@" for an if condition check written in C#. It would be great if an error shows there was a syntax issue rather than throwing the layout error which is not giving any clue.

[2020-02-18 15:12] #19018 closed

[2020-02-18 15:19] marlon-tucker commented on #19110
This [answer](https://stackoverflow.com/a/48990997/182568) made me realise this request is not necessary. Closing.

[2020-02-18 15:19] #19110 closed

[2020-02-18 15:21] jkotalik commented on #18019
This will be fixed in 3.1.3.

[2020-02-18 15:21] javiercn commented on #19108
@Coder3333 thanks for contacting us.

@dotnet/aspnet-build is this something you can look into? @anurse Is this you?

[2020-02-18 15:23] javiercn commented on #19105
@stefanloerwald thanks for contacting us.

You can use `<text></text>` to force a context switch in razor syntax. That should do it I believe.

[2020-02-18 15:24] bennycoomans commented on #19104
Thanks for your reply. I don't know what you mean by the path not being able to find Lib.dll. However, the reason that the page is displayed correctly when applying your changes is that runtime compilation does not work at all. When I change the content of `Atom.cshtml`, the change is not reflected on the web page when I refresh the browser. It seems that your changes cause the changes in the Lib

[2020-02-18 15:26] soeleman commented on #19102
Usually this happen went file/folder permission involve and nothing todo with ASP.NET .
Check it by look on property setting. From owner or read or etc.
![digitaldias__file_security](https://user-images.githubusercontent.com/309413/74749800-49d10680-529d-11ea-99b4-1d40fb03dc40.png)
and when you open **Advanced**
![digitaldias__file_security_advance](https://user-images.githubusercontent.com/309413

[2020-02-18 15:44] rhires opened #19112 "control-label not found"
### Describe the bug
In the input fields for default forms created by dotnet core, the css class "control label" is not found by Resharper. I did a search and could not find this class either.

### To Reproduce

Create a default project using dotnet core. The forms come with some default input code such as
`<div class="form-group">
                <label asp-for="Email" class="control-label"></lab

[2020-02-18 15:56] stefanloerwald commented on #19105
@javiercn Great, that actually does it. I searched the blazor docs for ages, and couldn't find it, now I've seen `<text></text>` and also `@:` in the Razor syntax page. I think it wouldn't hurt having an example of the usage of that syntax in the Blazor section as well.

[2020-02-18 15:57] joeloff commented on #18846
@pavlexander The bundles can be interrupted by something like another update running. Only a single MSI is permitted to execute at any given time. However, when an MSI is executing, you will usually see two MSIEXEC processes running. The OS usually tries to keep MSIEXEC active so it won't need to do a cold start. This isn't 100% reliable.

Another option would be to check the global MSI mutex, you

[2020-02-18 15:58] javiercn commented on #19105
@stefanloerwald avoid using `@:` in Blazor, it is not something we currently support in Blazor. (Even though we don't error out).

Using `<text></text>` should be fine.

[2020-02-18 15:58] #19105 closed

[2020-02-18 16:00] #19028 closed

[2020-02-18 16:17] inf9144 opened #19113 "The file X is not a descendent of the base path"
Our project setup for all our C#-Projects is splitted in different csproj files and folders like this:
.\Base\B\C\D\SomeProjectBase.csproj
.\CustomerFolder\B\C\D\SomeProject.csproj
NonBase does import base project file.
So all our razor files from the base code are somwhere under
.\Base\B\C\D\**\*.razor
and the others are under
.\CustomerFolder\B\C\D\**\*.razor
when i now open some razor file of t

[2020-02-18 16:31] dougbu commented on #19108
The NuGet Dependencies lists _packages_ required for use. Framework requirements are not specified.

In this case, you've got the 3.1.0 framework but not 3.1.1. Install the second and you'll be good to go.

[2020-02-18 16:32] BrennanConroy commented on #19114
You need to create the connection on the WebAPI and manage passing it to your controller yourself. There is no built in server like `IHubContext` for this. You would need to create your own custom service that wraps a HubConnection if you'd like something similar.

pseudo code:
[code]

[2020-02-18 16:35] mkArtakMSFT commented on #19058
@javiercn is already working on updating the packages, so this will be covered too

[2020-02-18 16:35] peval27 commented on #19096
will do soon.

[2020-02-18 16:37] Tratcher commented on #19102
I expect this is due to the `optional: true` option. Do you get the expected exception if you disable that?

[2020-02-18 16:47] anurse commented on #19108
@dougbu But the global tools shouldn't be depending upon or building using patch versions. We should only have baseline dependencies (even for framework references)...

[2020-02-18 16:51] dougbu commented on #19108
We stopped using baselines when we decided to ship everything for 3.0 and later. Guess we missed a downside. Let's discuss how broad a fix is required offline.

[2020-02-18 16:52] javiercn commented on #19113
@inf9144 thanks for contacting us.

@pranavkm do we support Link on razor files?

[2020-02-18 16:54] javiercn commented on #19109
@tobbi thanks for contacting us.

That typically means the app didn't manage to load. I would check the network tab to see if the actuall dll is being successfully downloaded and I would also check the application output under `_framework/_bin/` for the dll

[2020-02-18 16:55] javiercn commented on #19097
@Discovery-support thanks for contacting us.

@SteveSandersonMS I imagine we can have a chat with the tooling folks about this? (I don't believe webdeploy is a command-line experience).

[2020-02-18 16:57] ChristianWeyer opened #19115 "SignalR with Blazor WebAssembly 3.2 - exception in Microsoft.AspNetCore.SignalR.Client.HubConnectionBuilder.Build() when following tutorial"
Blazor WebAssembly 3.2.0-preview1.20073.1

I am following the 'SignalR with Blazor WebAssembly' tutorial:
https://docs.microsoft.com/en-us/aspnet/core/tutorials/signalr-blazor-webassembly?view=aspnetcore-3.1&tabs=visual-studio

However, I get an exception when running my Blazor application:

<img width="845" alt="1" src="https://user-images.githubusercontent.com/888718/74757659-9ce39300-5276-11ea-

[2020-02-18 16:59] BrennanConroy commented on #19115
Try a full clean and rebuild of the project.

[2020-02-18 17:01] #18721 closed

[2020-02-18 17:04] ChristianWeyer commented on #19115
Hi @BrennanConroy - thanks for the super-quick reply :-)

That was easy. Cool.

Do you mind explaining what happened?

[2020-02-18 17:04] #19115 closed

[2020-02-18 17:12] soeleman commented on #19104
@bennycoomans My bad on that suggestion.
Your code is working fine as it is.
The **FileSystemWatcher** will watch the folder _Lib_ as your code does.

Re-read again your issue and as a far i know **_ViewImports.cshtml** compile to csharp (**_ViewImports.cshtml.g.cs**) in obj folder and be use within the project.
The RunTimeCompalation working with running project and they are going 'recompiling' t

[2020-02-18 17:22] pranavkm commented on #19113
Given the [error](https://github.com/dotnet/aspnetcore-tooling/blob/ff305c700f72e199c9a41ee43fdc21e7dfa7020c/src/Razor/src/Microsoft.AspNetCore.Razor.Language/DefaultRazorProjectFileSystem.cs#L55) is from the default project system which the compiler does not use, my guess is that `dotnet build` would work, but tooling is busted. Is that the case @inf9144?

/cc @NTaylorMullen \ @ajaybhargavb \ @ry

[2020-02-18 17:22] breggles commented on #18954
Any news on this? Were you able to reproduce the problem?

I dug around the code a bit, and it seems to me that this line https://github.com/dotnet/aspnetcore/blob/master/src/Security/Authorization/Core/src/AuthorizationPolicy.cs#L157 combined with this line https://github.com/dotnet/aspnetcore/blob/master/src/Security/Authorization/Policy/src/AuthorizationMiddleware.cs#L71 explains the difference

[2020-02-18 17:23] rainersigwald commented on #19007
Try this instead:

[code]

[2020-02-18 17:26] #18969 closed

[2020-02-18 17:28] ryanbrandenburg commented on #18969
As far as I can tell the tests haven't seen a failure since the mitigation went in, so I reverted the Flake and am closing this.

[2020-02-18 17:34] mkArtakMSFT commented on #19097
@vijayrkn is `WebDeploy` supposed to work in this situation?

[2020-02-18 17:35] BrennanConroy commented on #19089
I can't reproduce the warnings. But it looks like maybe the `ws` package [has a fix now](https://github.com/websockets/ws/pull/1626). You could try referencing version 7.2.1 explicitly and see if that resolves the warning.

[2020-02-18 17:36] HaoK commented on #18954
Yeah that behavior is expected, the default policy is only used when nothing else is specified.  Specifying roles means you shouldn't rely on the default policy

[2020-02-18 17:37] codingforfoodllc commented on #18019
Awesome!  Is there a timeline for 3.1.3 release?

[2020-02-18 17:39] mkArtakMSFT commented on #19094
Thanks @mblataric.
We'll look into this after we're done with the upcoming Blazor WASM release and try to repro this. We tried it just now for several minutes and things worked just fine.

[2020-02-18 17:40] mkArtakMSFT commented on #19112
Thanks for contacting us.
The class you're referring to is coming from Bootstrap. We recommend following up with the Resharper owners regarding why it's having hard time discovering it.

[2020-02-18 17:40] #19112 closed

[2020-02-18 17:43] mkArtakMSFT commented on #19107
Thanks for contacting us.
It's not clear what you're trying to do. Do you intend to expose an API which accepts an Exception type? If not, you can apply the `[NonAction]` attribute on that method.

[2020-02-18 17:48] mkArtakMSFT commented on #19098
Thanks for contacting us.
Moving this to backlog with a hope that the community can step up and cover this gap.

[2020-02-18 17:50] mkArtakMSFT commented on #19093
Thanks for contacting us.
This is by-design. @pranavkm can you please share more details about why as well as let's get this documented.

Thanks!

[2020-02-18 17:54] anurse commented on #18019
We're releasing the 3.1.2 release today, and generally aim for monthly (though there's no guarantee), so we expect early March for 3.1.3. In general though, we don't have a committed timeline for patch releases. Hope that helps!

[2020-02-18 17:56] mkArtakMSFT commented on #19052
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-02-18 17:56] mkArtakMSFT commented on #19029
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-02-18 17:57] Coder3333 commented on #19108
@dougbu, look at the dependencies for 2.1.1.  It states .NETCoreApp 2.1, where there 3.x versions do not state anything similar.

https://www.nuget.org/packages/dotnet-sql-cache/2.1.1

.NETCoreApp 2.1
No dependencies.

[2020-02-18 17:57] mkArtakMSFT commented on #19085
Thanks for contacting us. The framework disallow binding to type `Type`. This is by-design.
If you strongly believe this is the right thing to do for your scenario, there's an option you can use to suppress this behavior. Look at: https://github.com/dotnet/aspnetcore/blob/2e4274cb67c049055e321c18cc9e64562da52dcf/src/Mvc/Mvc.Core/src/Infrastructure/MvcCoreMvcOptionsSetup.cs#L121

[2020-02-18 17:57] #19085 closed

[2020-02-18 17:59] Pilchie commented on #19108
@Coder3333 Framework references didn't exist in .NET Core 2, they are a new concept for 3.0, and NuGet.org is lagging in displaying them.

I do feel that we need global tools to reference the base runtime though, which is the default from the SDK.

[2020-02-18 18:04] anurse commented on #19108
That's the important part. Package references being non-baseline is OK since transitive dependencies work, but global tools need to reference the base runtime.

[2020-02-18 18:08] MarkStega opened #19116 "gRPC deployment issue"
### Describe the bug
I am trying to deploy a .Net Core 3.1 Server Side Blazor project that has a hosted gRPC service. It uses the grpcWeb to be able to run under http/1. This project works when deployed from VS2019 using IIS Express, When I try to make the first client call I get an exception of  'Grpc.Core.RpcException: Status(StatusCode=Internal, Detail="Error starting gRPC call: The SSL connect

[2020-02-18 18:09] Pilchie commented on #19108
Package refs is not ideal either, as it causes the package version to be local, if the dependency is also in a shared framework, which means that it's then possible for it to get behind.

[2020-02-18 18:14] Pilchie commented on #19116
@JamesNK

[2020-02-18 18:33] vijayrkn commented on #19097
Does this file have "CopyToPublishDirectory" set to "Always" or "PreserveNewest"?

[2020-02-18 18:48] javiercn commented on #19097
@vijayrkn I'm not sure we set it explicitly, but it gets copied as part of `dotnet publish` for sure.

Is there a way we can invoke/simulate the webdeploy logic from the cli?

[2020-02-18 18:55] pranavkm opened #19117 "Rename the Microsoft.AspNetCore.Blazor.Mono package"
Follow up to https://github.com/dotnet/aspnetcore/issues/18384. Package name to use Microsoft.AspNetCore.Components.WebAssembly.Runtime

[2020-02-18 18:56] pranavkm commented on #18384
I left the Blazor.HttpClient name as-is for now. Seems unnecessary to change it if the package is going away soon. Using #19117 to track renaming the Blazor.Mono package.

[2020-02-18 18:57] #18384 closed

[2020-02-18 18:57] JamesNK commented on #19116
You can get more information by setting up client logging - https://docs.microsoft.com/en-us/aspnet/core/grpc/diagnostics?view=aspnetcore-3.1#grpc-client-logging

Your issue might be that the certificate is not valid. There a ways to tell the client to ignore the error - https://docs.microsoft.com/en-us/aspnet/core/grpc/troubleshoot?view=aspnetcore-3.1#call-a-grpc-service-with-an-untrustedinvalid-

[2020-02-18 18:58] pranavkm commented on #18384
@SteveSandersonMS do you think this warrants an announcement? Would the preview2 release notes suffice?

[2020-02-18 19:00] #18952 closed

[2020-02-18 19:23] anurse commented on #18581
This was done!

[2020-02-18 19:23] #18581 closed

[2020-02-18 19:27] brunoambr commented on #18820
@David-Ben-Mesecke have you found any solution? I have the same problem...

[2020-02-18 19:30] vijayrkn commented on #19097
Yes, The same behavior can be triggered from commandline by passing in the web deploy profile name to dotnet publish.
https://github.com/aspnet/websdk#msdeploy-publish

[2020-02-18 19:53] Regenhardt commented on #16929
Not sure I did everything right, since I couldn't actually get it to run. Probably should have started yesterday, might have eased the whole schedule thing 😅 .

[2020-02-18 20:24] pranavkm commented on #3495
Does this help with Swashbuckle: https://github.com/domaindrivendev/Swashbuckle.AspNetCore/issues/1253?

[2020-02-18 20:50] almogohayon1 commented on #18729
Any comments updates on my last response? is It going to be fixed?

[2020-02-18 20:56] pranavkm commented on #17272
Fixed as part of https://github.com/dotnet/aspnetcore/pull/18648

[2020-02-18 20:56] #17272 closed

[2020-02-18 20:56] pranavkm commented on #18563
Fixed as part of https://github.com/dotnet/aspnetcore/commit/1027e5372ff2f0d16b7fe177f1eae72bffc034e3

[2020-02-18 20:56] #18563 closed

[2020-02-18 20:57] pranavkm commented on #18194
Fixed as part of https://github.com/dotnet/aspnetcore/pull/18649

[2020-02-18 20:57] #18194 closed

[2020-02-18 21:03] anurse commented on #18729
So you're saying you're getting one claim with a single value that contains multiple items? Can you post a sample token and the way the claims are being loaded so we can get on the same page here?

[2020-02-18 21:06] wtgodbe opened #19121 "Undo changes to Targeting Pack project"
In 3.1, we made some changes to the Targeting Pack project related to using a checked-in platform manifest: https://github.com/dotnet/aspnetcore/pull/18250/files

We should tweak the conditions in those changes, as that checked-in file doesn't exist in master.

CC @dougbu @JunTaoLuo

[2020-02-18 21:23] Pilchie commented on #18334
This should be fixed in the 3.1.2 release that was published today (2020-02-18).  Please file a new issue on https://github.com/dotnet/aspnetcore if you are still seeing issues.

[2020-02-18 21:23] #18334 closed

[2020-02-18 21:24] SteveSandersonMS commented on #18982
The launchsettings JSON file should contain this:

[code]

I mean it literally like that, with the braces and token names as given there. There would also be a `,` at the end of the line if needed to make the file valid JSON, plus whatever level of indentation applies at the point where it is inserted.

I expect this needs to appear in the file *twice*, since the default launch settings contains t

[2020-02-18 21:24] jkotalik commented on #17973
This issue has been fixed in 3.1.2. Keeping open for the sake of having a matching issue for annoucements.

[2020-02-18 21:27] nguerrera commented on #17973
There should have been an error if you introduced a new rid, did not restore differently, and used --no-build. @dsplaisted

[2020-02-18 22:10] fabiocav commented on #17634
Apologies for the delayed message. I've opened https://github.com/Azure/azure-webjobs-sdk/issues/2431 so we can keep track of this work in the SDK repo. This will allow us to triage and prioritize the work there.

@jeffhollan , FYI

[2020-02-18 22:11] Pilchie commented on #17634
Thanks - closing this one.

[2020-02-18 22:11] #17634 closed

[2020-02-18 22:27] boukenka commented on #18884
I hope @SteveSandersonMS  will have an opportunity to have a look at it. 😄
It's part for me of '_Create a great UX with Blazor_' from the .NET Conference : Focus on Blazor.

[2020-02-18 22:32] JoshCaba opened #19125 "Azure AD Authentication Not Passing Over Credentials with Blazor"
### Describe the bug
AD Authentication Not Passing Over Credentials with Blazor.

Creating an app that uses AD Azure Authentication and start using Blazor within it. Methods start to fail out whenever you call the controllers that require the AD authentication.

### To Reproduce
1. Create a new Blazor Server App project. Ensure AD authentication is enabled in the "Authentication" portion of the ne

[2020-02-18 22:37] Tratcher commented on #18874
Can you give examples of any providers that support public clients?

We added the check to require a client secret because all the providers we've worked with require it and too many people had config errors where they forgot to provide it.

[2020-02-18 22:40] #19117 closed

[2020-02-18 22:45] Tratcher commented on #18772
#6946 would benefit from this work but I'd recommend tackling them separately. This issue deals broadly with all auth providers where #6946 is looking for a new feature specific to Cookie Auth.

[2020-02-18 22:49] Tratcher commented on #18729
Another option is to set up some custom ClaimsActions that filter for duplicates as they add items.

[2020-02-18 22:50] pranavkm commented on #19104
When you have multiple file providers configured, runtime compilation will use the contents of the first file that matches a given path. The order is determined by the order in which file providers are configured in the `RazorRuntimeCompilationOptions.FileProviders` list.

In your case, both files appear at the same path,

* https://github.com/bennycoomans/RecompileRazor/blob/master/App/Views/_Vie

[2020-02-18 22:55] pranavkm commented on #19106
`SuppressMapClientErrors` turns off problem responses for status code results, but does not turn off the [bad request filter](https://docs.microsoft.com/en-us/aspnet/core/web-api/?view=aspnetcore-2.2#automatic-http-400-responses). You'll have to additionally set [`SuppressModelStateInvalidFilter`](https://docs.microsoft.com/en-us/aspnet/core/web-api/?view=aspnetcore-2.2#disable-automatic-400-respo

[2020-02-18 23:09] pranavkm commented on #18981
Fixed via https://github.com/dotnet/aspnetcore/commit/92409e2e57b320f9728de62fba2c82168761f9cc

[2020-02-18 23:13] almogohayon1 commented on #18729
Reproduction of the issue is very simple, to simulate it just call Run method in "UniqueJsonKeyClaimAction" and pass along JsonElement with array of claims from type "name" for example.
Because of the usage of JsonElement.GetString(..) you would get formatted string array.

(https://github.com/dotnet/aspnetcore/blob/master/src/Security/Authentication/OpenIdConnect/src/UniqueJsonKeyClaimAction.cs)

[2020-02-18 23:14] wtgodbe commented on #19019
Resolved

[2020-02-18 23:14] #19019 closed

[2020-02-18 23:36] pranavkm commented on #19093
@andrey-rodin, could you share a minimal app that reproduces this issue? I would have expected a 406 in either case, if you haven't changed the default set of formatters.

[2020-02-18 23:46] assafY opened #19128 "'Found malformed component comment' exception when using custom render tree logic"
### Describe the bug
I use custom render tree logic to render the entire DOM object, so that I can generate meta tags dynamically for SEO purposes.

My use of custom render tree logic is almost identical to what can be seen here
https://github.com/thewebchameleon/blazor-metatag-example/blob/master/BlazorMetaTags/AppBase.cs

However, this generates the comment with the Blazor render ID right at the

[2020-02-18 23:50] soeleman commented on #19104
@pranavkm Thanks for the info.
This behavior (conflict resolution on same file on same folder) apply on other _cshtml_, since running project always on 1st index of _FileProviders_.

[2020-02-19 02:17] gulzarahamed commented on #18823
we have resolved by moved the startup.cs class from hosting project.
Program.cs in hosting project

Hosting project references:-
`<PackageReference Include="Microsoft.AspNetCore.Hosting.WindowsServices" Version="3.1.1" />`

My addtional project conatin startup.cs:-
`
 <PackageReference Include="WebApi.Hal" Version="3.0.0" />
 <PackageReference Include="Microsoft.AspNetCore.Mvc.NewtonsoftJson" Vers

[2020-02-19 03:02] kyuranger opened #19131 "How can I get to know while page be closed by killing the browser process on mobile?"
I used to get to know whether the page is closed in blazor-sever side by CircuitHandler before.

Here is the code of the back-end:

using Microsoft.AspNetCore.Components.Server.Circuits;
using System.Collections.Concurrent;
using System.Threading;
using System.Threading.Tasks;

namespace BlazorCircuitHandler.Services
{
    public class CircuitHandlerService : CircuitHandler
    {
        public Co

[2020-02-19 03:07] felipesfaria opened #19132 "Spa Service Showing 503 Service Unavailable page with AspNetCore 3.0 and 3.1"
### Describe the bug
When running a project with AspNetCore.SpaServices and AspNetCore 3.0 or 3.1 I get a "503 Service Unavailable" page.
This only happens with the SPA page, the api (/WeatherForecast) still responds.
I first noticed this migrating a project from AspNetCore 2.2 to 3.0.
The same error occurs when I create a project from a template in visual studio.
I have tested with AspNetCore 3.0

[2020-02-19 03:55] TaiNguyen2406 opened #19133 "The type or namespace name 'Pipelines' does not exist in the namespace 'System.IO'"
I got this error after upgrade  to .NET Core SDK 3.1.102 and I do not see anything about this changing in doc

[2020-02-19 03:59] sumnone opened #19134 "Memory leak when using NetFwTypeLib in .Net Core 3.1"
Hi,

I think I found a bug (memory leak), but barely know what I'm doing, so bear with me. Hopefully, I got this issue in the right place here in github for starters?

It's very simple to reproduce and my current environment is .Net Core 3.1 using Visual Studio 2019 on Windows 10 (and release version on Windows Server 2016).  Steps to reproduce:

1. Create a new "Console App (.NET Core)"
2. Add a

[2020-02-19 04:21] #19099 closed

[2020-02-19 05:24] mkArtakMSFT commented on #19134
Hi.
It looks like you're trying to report an issue, which is not related to ASP.NET Core, which is what this repository is used for.
These seem to be Windows APIs. Consider reporting this issue through Windows Feedback Hub: https://docs.microsoft.com/en-us/windows-insider/at-home/feedback

[2020-02-19 05:26] mkArtakMSFT commented on #19133
Thanks for contacting us. Can you please share a sample repro project, where you observe this issue.
@anurse I'm not certain about the area-label for this one. Can you please adjust? Thanks!

[2020-02-19 05:34] mkArtakMSFT commented on #19132
Thanks for contacting us. We've just fixed a bug in the SPA project templates, which is going to be released as part of 3.1.3 release in March.
Please validate that fix with that upcoming release and let us know whether the issue still reproduces. For now, I'm going to close this issue, as we have heard no other similar feedback.

[2020-02-19 05:34] #19132 closed

[2020-02-19 05:43] mkArtakMSFT commented on #19125
Thanks for contacting us.
It looks like the error you're getting is because the result of the HTTP call is not really a 200 OK. Based on the logs, the server is returning a `ChallengeResponse`. On the client, because you're not validating the return code, the code tries to parse that HTML content as JSON and fails.

We are actually working on providing proper Azure AD enabled Blazor Project templa

[2020-02-19 05:43] #19125 closed

[2020-02-19 06:25] sumnone commented on #19134
Hmmmm, Do they interface with you guys? I'm reporting an issue that exists in .Net Core 3.1 (and .Net Core 3.0) and worked 100% perfectly fine in .Net Framework 4.6.1. I get that the firewall is a Windows API, but the issue manifests itself in the .Net Core code. Anyway, you would certainly know better than me. So, at this point, I'm just going back to .Net Framework for this project. Thanks for t

[2020-02-19 06:34] andrey-rodin commented on #19093
Hi @pranavkm,
It's a bit difficult to share all app, but you can try this on service created from scratch. My service has  call `AddNewtonsoftJson(...)` in startup.

Correct response should be 404.
As I mentioned, this action produces valid "text/plain" response:
`
[HttpGet]
public IActionResult GetString()
{
    return Ok("some string");
}
`

[2020-02-19 07:12] underwaterhp93 commented on #19133
![image](https://user-images.githubusercontent.com/23568713/74810395-da512a80-5321-11ea-83a8-0defadcd0f38.png)

[2020-02-19 07:13] dozed commented on #19106
@pranavkm I want to turn off the `ProblemDetail` responses, not the bad request filter.

[2020-02-19 08:23] tobbi commented on #19109
Looking at the Network tab, the DLL is apparently not being loaded. Neither is it present in the _bin directory.

[2020-02-19 08:32] javiercn commented on #19109
@tobbi can you provide details about the blazor version you are using, and also produce a binary log of the build so that we can investigate what's going on? If you are building from the command-line just pass the `/bl` flag to it.

[2020-02-19 08:41] stevejgordon commented on #19133
I am hitting this issue also. I have an XUnit integration test project defined which is failing with...

[code]

Curiously, this only seems to be a problem when running the tests as part of my Docker (Debian) build. Running the same tests directly on my Windows PC via VS and CLI and they seem to pass!

[2020-02-19 09:00] tobbi commented on #19109
I'm using the publish command of Visual Studio. How would I pass the flag to it?
For what it's worth, it all works fine when I simply *start* my server project using the Green run button (IIS Express). Just when publishing the DLL doesn't get included.

[2020-02-19 09:07] tobbi commented on #19109
All my blazor NuGet packages have the following version:
3.2.0-preview1.20073.1

[2020-02-19 09:12] mblataric commented on #19094
Hi,

Thanks for reply.
I would like to note I am new to Blazor and SignalR so it's quite possible I am doing something stupid here :-)

Regards,
Mario

[2020-02-19 09:15] javiercn commented on #19109
@tobbi thanks for the info.

For Visual Studio is a bit more complicated. Are you publishing to an Azure website or similar or just publishing to disk?

If you want to try and get a binary log from the visual studio build, you can follow the instructions here https://github.com/dotnet/project-system-tools

Otherwise, if you can at least give us details of your publish settings in VS (what type of

[2020-02-19 09:21] ChaosEngine opened #19137 "Dependencies impossible to satisfy for Microsoft.AspNetCore.Identity.EntityFrameworkCore, Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore in connection with Microsoft.EntityFrameworkCore.Relational"
### Describe the bug
`Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore` and `Microsoft.AspNetCore.Identity.EntityFrameworkCore` both have requirement of:
**Microsoft.EntityFrameworkCore.Relational (>= 3.1.2)**
which is not yet release and because of that dotnet restore phas fails

### To Reproduce

In *.csproj Try to reference
`<PackageReference Include="Microsoft.AspNetCore.Diagnostics.Entity

[2020-02-19 09:31] tobbi commented on #19109
[ImportTool.Client_Debug_AnyCPU_DesignTimeBuild_2020-02-19T10_22_35.5079773+01_00.zip](https://github.com/dotnet/aspnetcore/files/4224199/ImportTool.Client_Debug_AnyCPU_DesignTimeBuild_2020-02-19T10_22_35.5079773%2B01_00.zip)

I collected these logs from my Temp folder, hope they're helpful.

[2020-02-19 09:31] fitdev opened #19138 "Support mixed C# and markup in Blazor Component attributes (RZ9986)"
### Is your feature request related to a problem? Please describe.

Right now (AspNetCore 3.1) `RAZORGENERATE` issues an error `RZ9986: Component attributes do not support complex content (mixed C# and markup). Attribute: 'class'...` in:

[code]

And the following workaround is needed:

[code]

That's ok for this simple example, but with more complex code can get ugly, especially since you have to

[2020-02-19 09:34] ChaosEngine commented on #19137
![image](https://user-images.githubusercontent.com/1271428/74821077-5b4cf980-5303-11ea-8cb4-e36cc5ce9046.png)

[2020-02-19 09:35] breggles commented on #18954
Fair enough, but it would be good if there was a way to specify multiple authentication schemes in one place, when specifying roles via AuthorizeAttributes. Having to specify those schemes on each AuthorizeAttribute individually creates a fair bit of boilerplate and potential maintenance overhead.

As suggested above, maybe if no authentication schemes are specified on an AuthorizeAttribute, just

[2020-02-19 09:37] fitdev opened #19139 "Support simpler syntax for Enum values in Blazor Component attributes"
### Is your feature request related to a problem? Please describe.

It would be nice if a few keystrokes be saved when entering enum value for an Enum-valued Blazor Component parameter by _not having to specify_ the Enum's name (similar to how it is currently possible to do with Tag Helpers).

[code]

[code]

### Describe the solution you'd like
It would be nice if the `Value2` is automatically in

[2020-02-19 10:23] knoxi commented on #19137
Same for the package `Microsoft.AspNetCore.DataProtection.EntityFrameworkCore`.
It has a dependency to `Microsoft.EntityFrameworkCore` with version >= 3.1.2 which cannot be resolved.

[2020-02-19 10:25] stevejgordon commented on #19133
@mkArtakMSFT [Minimal reproduction](https://github.com/stevejgordon/PipelineFailureRepro)

Build using DockerfileOld works fine, but DockerfileNew fails. The only difference is the SDK and runtime image versions.

[2020-02-19 10:28] jez9999 commented on #18874
I was using the client to test my own auth server, which allows public clients.

[2020-02-19 10:45] AndreiGorlov commented on #19137
Same for Microsoft.EntityFrameworkCore.Sqlite:
![image](https://user-images.githubusercontent.com/13963009/74827228-b4be2400-5315-11ea-8441-8f90d6b7b408.png)

Maybe issue should be filed in EntityFrameworkCore repo?

[2020-02-19 11:38] willdean opened #19140 "UserManager does not update SecurityStamp for role or claim changes"
### Describe the bug

In most methods which change a user (e.g. changing name, telephone, removing ext-logins, password hash, etc), `UserManager` calls a helper method `UpdateSecurityStampInternal` which regenerates the security stamp to cause subsequent invalidation of the auth cookie.

However, this doesn't happen for changes to roles or claims (neither removal nor addition).

Issue #10386 is no

[2020-02-19 12:05] #12588 closed

[2020-02-19 12:06] #15222 closed

[2020-02-19 12:06] javiercn commented on #15222
This was fixed as part of https://github.com/dotnet/aspnetcore/pull/18409

[2020-02-19 12:23] tobbi commented on #19109
I have to amend that assessment: It doesn't work either, when simply starting it using the green run button (I had it previously set start Internet Explorer, which obviously does not use Web Assembly).

[2020-02-19 12:44] benaadams commented on #19133
Looks like its busted for .NET Core as well as ASP.NET Core https://twitter.com/gcaughey/status/1230107136493072384

[2020-02-19 12:44] dmarchant opened #19141 "System.IO.Path.GetFileName doesn't work in client-side Blazor wasm"
`System.IO.Path.GetFileName(<FullFilePath>)` and `new System.IO.DirectoryInfo(<FullFilePath>).Name` do not work the same in client-side Blazor wasm as they do in server-side C#. In Blazor wasm it just returns back the same full path that you sent it. It doesn't extract the file name from the full path.

### Environment
dotnet sdk: version 3.1.100 commit cd82f021f4
Blazor: 3.2.0-preview1.20073.1

#

[2020-02-19 12:44] Drawaes commented on #19133
We are having the same issue. Worked before update, doesn't find pipelines after update.

[2020-02-19 12:48] blowdart commented on #19140
I think you're misunderstanding what I wrote. Role changes will update the cookie once the refresh limit is hit, I don't feel a role change needs to trigger logouts, it's a reasonably common workflow that doesn't need to logout everyone everywhere.

[2020-02-19 12:58] kriwec commented on #19137
Same for Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore

"someone" forgot to do new package for https://www.nuget.org/packages/Microsoft.EntityFrameworkCore.Relational/

[2020-02-19 12:59] ChristianWeyer opened #19142 "Simple Blazor WASM app (from File - New...) does not properly work in Electron - "Only 'http' and 'https' schemes are allowed""
Blazor WebAssembly 3.2.0-preview1.20073.1

I am creating a simple Blazor WASM application in VS 2019. Then I am going to publish it to the file system. The files are copied over to an Electron folder where electron-packager is used to create a .exe.

Everything looks good when starting the .exe.
However, when navigating to ''Fetch data' I get this exception (and I did change the URL to the Web API

[2020-02-19 13:04] DaniilSokolyuk commented on #17292
@rynowak @javiercn ping

[2020-02-19 13:07] javiercn commented on #19142
@ChristianWeyer thanks for contacting us.

I believe at some point we had an experiment going for electron.

@SteveSandersonMS can you point him to the right place?

[2020-02-19 13:09] javiercn commented on #19141
@dmarchant thanks for contacting us.

We believe this issue is not related to Blazor itself but to the mono runtime. For that reason, we are moving this issue to that repo so that they can follow-up with you.

[2020-02-19 13:11] javiercn commented on #19141
This issue was moved to mono/mono#18933

[2020-02-19 13:11] #19141 closed

[2020-02-19 13:16] ChristianWeyer commented on #19142
Thanks for the quick reply @javiercn

Actually, the experiment is here:
https://github.com/aspnet/AspLabs/tree/master/src/ComponentsElectron

It is quite outdated, though.
And in my case, I was trying to just get the published/deployed package to run in Electron :-)

Thanks.

[2020-02-19 13:23] javiercn commented on #19139
@fitdev thanks for contacting us.

This is not something that we could do as it could conflict with static usings in your razor component.

I would suggest that you look into using a static using instead to achieve this.

[2020-02-19 13:26] bugproof opened #19143 "Razor value in HTML attribute syntax coloring broken"
![image](https://user-images.githubusercontent.com/3116731/74838311-ad9e1280-5323-11ea-8ae0-be5a2cf9852e.png)

Rider:

![image](https://user-images.githubusercontent.com/3116731/74838476-f35adb00-5323-11ea-8408-3ecc34aeb01e.png)

[2020-02-19 13:26] javiercn commented on #19137
@ChaosEngine thanks for contacting us.

@dotnet/aspnet-build We do have an issue related to this, don't we?

@anurse is this the same issue as the sql cache global tool issue?

[2020-02-19 13:40] SteveSandersonMS commented on #5479
Done in  https://github.com/dotnet/aspnetcore/pull/18878

[2020-02-19 13:40] #5479 closed

[2020-02-19 13:44] SteveSandersonMS opened #19144 "Remove obsolete VS debugging endpoints from Blazor WebAssembly"
The newer version of VS's JavaScript debugger will connect to Blazor WebAssembly using the `inspectUri` config value, and will no longer use the `/json` endpoint at all.

Once this is fully integrated and seen to be working, we should remove the obsolete endpoints. We should try to remove as much of the `/json` endpoint code as possible, ideally all of it, as long as things still work in Edge/Chro

[2020-02-19 13:44] SteveSandersonMS commented on #17444
We're no longer planning to do this at all. The newer VS JS debugger won't use the `/json` endpoint for connection, so it's no longer relevant to change how that works.

I've filed https://github.com/dotnet/aspnetcore/issues/19144 to track future clean-up work on removing the obsolete `/json`-endpoint code. We can't remove it immediately since the replacement isn't in place yet.

[2020-02-19 13:44] #17444 closed

[2020-02-19 13:45] inf9144 commented on #19113
Indeed dotnet build and dotnet publish work - just problematic with Visual Studio.
Got another problem on publish via Visual Studio: Not all files and directories are created. As example _framework/_bin is missing.

[2020-02-19 13:46] SteveSandersonMS commented on #18318
This work is superseded by https://github.com/dotnet/aspnetcore/pull/19136, and hence there's nothing left to do in this issue.

[2020-02-19 13:46] #18318 closed

[2020-02-19 13:47] jzabroski commented on #19133
[Ceci n'est pas une pipe](https://en.wikipedia.org/wiki/The_Treachery_of_Images) :(

Also see this.

[2020-02-19 13:48] SteveSandersonMS commented on #18545
This will have been fixed by https://github.com/dotnet/aspnetcore/pull/18859, since we no longer publish pdbs nor include them in `blazor.boot.json` in the default published case.

[2020-02-19 13:48] #18545 closed

[2020-02-19 14:18] fitdev commented on #19139
@javiercn I see. Thank you for the tip. But how is this possible with tag helpers then?

[2020-02-19 14:21] willdean commented on #19140
Thanks for the reply - I'm sure it is my misunderstanding - but it does seem to me surprising that if you change someone's phone number then the framework logs them out at the next validation, but if you revoke their role as a manager it doesn't.

But I guess that's because the framework has its own concerns about phone numbers, email address, etc, whereas the use of roles in authorization is more

[2020-02-19 14:39] SteveSandersonMS opened #19145 "In Blazor WebAssembly preview 2 release notes, be clear about new SDK requirement"
As of preview2, we'll require .NET Core SDK 3.1.102+.

If customers still have 3.1.101, they will get a really obscure build error:

[code]

Even though we'll specify the SDK requirement in the release notes, a large percentage of developers may forget to update. It might be frustrating for those developers that it's hard to work out what's gone wrong.

### Proposed solution

~~If we have a sensib

[2020-02-19 15:06] julienGrd opened #19148 "Authentication in server side blazor"
Hello, I actually implement authentication in my blazor app.
I try my app work as well in client and server side.
In client side i don't have any problem by using SignInAsync, but in server side i have an exception "The response headers cannot be modified because the response has already started.'"

A i understand it's because the connection is mode over signal-r.

When i check an empty server-sid

[2020-02-19 15:52] MarkStega commented on #19116
Spot on; It was an invalid certificate (self-signed) so the second link also helped.

Thanks for the assist.

[2020-02-19 15:52] #19116 closed

[2020-02-19 15:56] DrewTurner opened #19149 "ASPNetCore Hosting Bundle doesn't install aspnetcore.dll"
Server 2019

Installing 3.1.0 OR 3.1.1 results in aspnetcore.dll not being put into c:\windows\system32\inetsrv causing IIS to crash as it can't load this dll.  This works properly in 2.1.13

I typically install silently with chef, however it behaves this way when installing directly from the MSI while remoted into the machine as well.

The workflow for install is we install IIS, all of it's depen

[2020-02-19 15:58] Tratcher commented on #18772
@benmccallum yes, this would help you get to the logger. The workaround above should help you do this today.

[code]

[2020-02-19 15:59] brockallen commented on #17475
Yea, I just ran into this for another customer. This breaks the ability to render SSO properly.

[2020-02-19 16:05] elonmallin commented on #17249
Would also like to be able to do this but it seems rather complicated to replace the default middleware.

I found another [issue ](https://github.com/aspnet/Security/issues/1530) from a long while back that had the same problem. It's closed however and not sure exactly what the conclusion was.

Is there any plan to introduce some easy way to do this? Something like:
[code]

Or is this possible alr

[2020-02-19 16:09] davidfowl commented on #18772
There's a much nicer way to do this since .NET Core 2.1 (I forgo to post it since I last saw it);

[code]

[2020-02-19 16:12] mkArtakMSFT commented on #19149
Thanks for contacting us.
@joeloff can you please have a look at this issue? Thanks!

[2020-02-19 16:13] bennycoomans commented on #19104
@soeleman is right. I've created a [branch](https://github.com/bennycoomans/RecompileRazor/tree/double-atom) with the following modifications:
- I fixed the application by uncommenting the `using` statement in `_ViewImports.cshtml` in the `App` project, so the page https://localhost:5001/styleguide/atoms works
- I added the file `App/Views/Shared/Atoms/Atom.cshtml`

Now, when visiting https://loca

[2020-02-19 16:13] mkArtakMSFT commented on #19143
Thanks for contacting us.
@NTaylorMullen can you please have a look at this? Thanks!

[2020-02-19 16:13] Tratcher commented on #18772
@davidfowl that doesn't get you named options, right?

[2020-02-19 16:14] AndGa opened #19150 "Microsoft.AspNetCore.Identity.EntityFrameworkCore (3.1.2) dependent on not existing Microsoft.EntityFrameworkCore.Relational (>= 3.1.2)"
Microsoft.AspNetCore.Identity.EntityFrameworkCore Release 3.1.2 has a dependency to not existing  Microsoft.EntityFrameworkCore.Relational (>= 3.1.2)

[2020-02-19 16:14] Tratcher commented on #18772
Oh, right, there's a named overload:
[code]

[2020-02-19 16:20] #19150 closed

[2020-02-19 16:32] dougbu commented on #19137
@anurse @ajcvickers were EF packages released yesterday? This looks very much like a gap in the release.

@javiercn this is unrelated to the global tool issue. That was about dependencies on the latest shared framework while this is about missing packages on NuGet.

[2020-02-19 16:35] Drawaes commented on #19133
If you add the System.Net.Pipelines package directly to your project it should work for now (until the framework ref is fixed).

[2020-02-19 16:49] ajcvickers commented on #19137
@dougbu No EF packages were released. There weren't any EF fixes, and my last understanding from talking to @Pilchie was that other packages were supposed to reference 3.1.0 rather than 3.1.x, so I assumed it was by design that we didn't push new packages. We probably just need to push the EF packages.

[2020-02-19 16:50] wtgodbe opened #19151 "Make sure we never ship a versioned CoreFx ref assembly with the targeting pack"
There are a couple of CoreFx packages (e.g. System.IO.Pipelines) that are not in `Microsoft.NetCore.App`, but are in our shared framework. We should make sure we're guaranteeing that, when CoreFx ships new versions of those packages & we patch the targeting pack, we don't include the versioned ref assembly in our patched targeting pack (we should include the ref assembly that shipped with GA).

CC

[2020-02-19 16:51] bmoteria commented on #18560
@SteveSandersonMS, should we expect the fix for this issue before .NET 5 (hoping may be in next .NET core 3.1.2 release)? Appreciate all your help! 🙌

We have a dedicated team that is currently re-writting one of our existing product. Launch date for our product would highly rely on when this issue could be resolved.

[2020-02-19 16:57] OwenPattison commented on #14723
I am also seeing the same issue, @PeterPann23 were you able to resolve your issue?

[2020-02-19 16:58] NTaylorMullen commented on #19143
@bugproof thanks for the bug! It's super helpful to see what others are doing so we can improve, thanks for providing the comparison so clearly, it's definitely something we want to fix!

We're currently tracking that work as part of https://github.com/dotnet/aspnetcore/issues/14290 so for now I'm going to close this as a duplicate and track the fixing for this there.

[2020-02-19 16:58] #19143 closed

[2020-02-19 16:59] ScottKane opened #19152 "Razor/Blazor auto inherits BaseComponent (even if defined otherwise in partial class)"
### Is your feature request related to a problem? Please describe.
Razor class generation enforces (in Blazor app) @inherits BaseComponent? IMO this should only happen if there are no partial classes for the razor page overriding the inheritance.

e.g:

Counter.razor

    @page "/counter"

    <h1>Counter</h1>

    <p>Current count: @currentCount</p>

    <button class="btn btn-primary" @onclick="

[2020-02-19 17:22] pranavkm commented on #19104
You could write a custom file provider that produces isolated hives of directories.

[2020-02-19 17:23] Pilchie commented on #19133
Tagging @wtgodbe who just mentioned this elsewhere.  It looks like the things that are packages built out of `dotnet/corefx` but part of the "Microsoft.AspNetCore.App" Shared Framework aren't in the ref pack in 3.1.2.  The workaround above is the right one for now, and we'll look at fixing this in the next patch :(

[2020-02-19 17:24] vsfeedback opened #19153 "HTTP Error 502.5 - Process Failure"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/906113/http-error-5025-process-failure.html)._

---
I've just intalled Visual studio 2017, 19 on new computer.
I am not able to execute any project.

i am getting below error,

**HTTP Error 502.5 - Process Failure**

or

**dotnet.exe exited with code -2147450743**

---
###

[2020-02-19 17:24] leecow commented on #19133
@rbhanda so that we can capture this in the release known issues doc.

[2020-02-19 17:25] anurse commented on #19153
Can you take a look at the Windows Event Viewer? The detailed failure should be there. See our [troubleshooting guide for IIS](https://aka.ms/aspnet/iis/troubleshoot) for more details.

[2020-02-19 17:26] pranavkm commented on #19106
You can configure the response using: https://docs.microsoft.com/en-us/aspnet/core/web-api/handle-errors?view=aspnetcore-2.2#validation-failure-error-response

[2020-02-19 17:28] wtgodbe commented on #19133
Yes, this was an unfortunate mistake ☹️. Based on my current understanding of the problem, we'll have similar issues for all of the following packages:

- System.Diagnostics.EventLog
- System.IO.Pipelines
- System.Security.AccessControl
- System.Security.Cryptography.Cng
- System.Security.Cryptography.Xml
- System.Security.Permissions
- System.Security.Principal.Windows
- System.Windows.Extensions

[2020-02-19 17:30] blowdart commented on #19140
It's because phone numbers can be used for 2fa, same for email.

[2020-02-19 17:30] mkArtakMSFT commented on #19139
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-02-19 17:31] mkArtakMSFT commented on #19138
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-02-19 17:32] mkArtakMSFT commented on #19138
@NTaylorMullen I've moved this to `Backlog`, and wondering how big of an effort this will require?

[2020-02-19 17:38] benaadams commented on #19133
Is that a soon patch or next month patch? (Since last month's was also broken https://github.com/dotnet/aspnetcore/issues/18334 and this was meant to be the fix for it); just seems a bad look to go for 2 months where creating a vanilla project (file new, or dotnet new) is broken.

[2020-02-19 17:39] mkArtakMSFT commented on #19128
Thanks for contacting us.
It's not clear what you're trying to do here. Will the work represented by this issue cover your scenario:  https://github.com/dotnet/aspnetcore/issues/10450?

@javiercn can you please see whether there is anything else we need to look into here? Thanks!

[2020-02-19 17:42] mkArtakMSFT commented on #19109
Related: https://github.com/dotnet/aspnetcore/issues/19097

[2020-02-19 17:42] Pilchie commented on #19133
We're still investigating what a fix looks like, but it's unlikely to be sooner than next month - we've already merged the rest of the fixes for next month's patch to begin validation, and our infrastructure is not well suited to releasing a one-off like this right now, though that is something that we are improving in .NET 5.

[2020-02-19 17:45] benaadams commented on #19133
There might be an extra step to include in post packaging validation 😉

[2020-02-19 17:46] Pilchie commented on #19137
FYI that @anurse got these published this morning, so as NuGet.org ingests them, this issue should be mitigated.

@ajcvickers Other packages *are* supposed to reference 3.1.0, but we haven't made that switch yet.

[2020-02-19 17:47] Pilchie commented on #19133
Indeed!  We're already looking at what we missed here.  Unfortunately, it turns out that shipping previews of ref-packs didn't adequately prepare us for the realities of servicing them.

[2020-02-19 17:48] PeterPann23 commented on #14723
Yes, I have noted that the issue is that code analysis by default does generate the issue by the way it is configured.
2 options:
![image](https://user-images.githubusercontent.com/44400822/74859920-24e59d80-5348-11ea-8682-14fa52618b76.png)
remove the checkboxes, the default is checked and what it installs does not work

![image](https://user-images.githubusercontent.com/44400822/74860066-53fc0f00

[2020-02-19 17:49] kriwec commented on #19137
done 31 minutes ago

[2020-02-19 18:06] dougbu commented on #19133
Suspect only System.IO.Pipelines matters here. The rest of those packages are likely implementation details and not intended for us to expose.

[2020-02-19 18:07] anurse commented on #19133
No, intended or not they are exposed and must continue to be.

[2020-02-19 18:13] #19140 closed

[2020-02-19 18:15] Drawaes commented on #19133
Agreed because people actively trim their dependency trees when they are picking them up from the framework anyway.

[2020-02-19 18:16] shadinamrouti opened #19162 "Development is slow in MVC dot net core compared to MVC 5"
I think .net core is not practical compared to MVC 5.
Most of my time as a developer is gone waiting for Visual Studio 2019 compile or publish my changes.
This is really non-productive.
The publish is too slow.
The compilation is too slow.
Modifying a view requires full publishing to get the views dll (by default)
An explicit recompilation is required for every singe change opposite to MVC 5.
This

[2020-02-19 18:21] pranavkm commented on #18675
[code]

[code]
[code]

[code]

Open questions:

* Do we expose the environment via `IWebAssemblyHost` i.e. `IWebAssemblyHost.IsDevelopment`?

[2020-02-19 18:25] blowdart commented on #18905
Closing as external

[2020-02-19 18:25] #18905 closed

[2020-02-19 18:26] blowdart commented on #18046
We're closing this issue as the behaviour discussed seems to be by design.

[2020-02-19 18:26] #18046 closed

[2020-02-19 18:51] benmccallum commented on #18772
Thanks guys. Definitely a stupid question, but it was a little tricky to follow the options stuff last time I looked. Would I be calling this method to "register" the options rather than the `AddJwtBearer` extension method? And then it just gets picked up by the auth fx?

[2020-02-19 18:52] Tratcher commented on #18772
You still need to call AddJwtBearer for other reasons.

[2020-02-19 18:59] Tratcher commented on #18874
Any others? Writing a personal auth server is uncommon.

[2020-02-19 19:00] pranavkm commented on #14723
From the reports we've seen for this issue, this seems to only occur if you have an app that mixes 3.x shared framework and 2.x packages.

* If you haven't already looked at our migration guide,  https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio, I'd recommend starting there.
* If you've followed the steps in the migration guide but continue to

[2020-02-19 19:08] jublair commented on #19076
I've identified that the best workaround in this case (and one that also improves code reliability) is to make use of [AAD Enterprise Application Roles][1], rather than checking group claims directly. That way I can continue to use the default AAD SDK, with just a few tweaks.

startup.cs:
[code]
Thanks for the help though!

  [1]: https://docs.microsoft.com/en-us/azure/active-directory/develop/how

[2020-02-19 19:14] pranavkm commented on #19152
Sounds like https://github.com/dotnet/aspnetcore/issues/18750

[2020-02-19 19:16] vsfeedback opened #19158 "Refactoring in razor file constantly breaks and throws exceptions"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/919502/refactoring-in-razor-file-constantly-breaks-and-th.html)._

---
First, the exception:

[code]

Gets thrown when I try to rename a property inside @code section of a razor file.

Refactoring in Blazor projects almost doesn't work at all.

To reproduce open a Blazor pr

[2020-02-19 19:17] mkArtakMSFT commented on #19158
Thanks for contacting us. We've undertaken a huge effort to improve Razor in general in VS, which will be done by .NET 5.0 release. This will be fixed as part of that effort. Unfortunately, there is no more-granular issue tracking this specific aspect to point you to.

[2020-02-19 19:25] HaoK commented on #18348
Fixed by https://github.com/dotnet/aspnetcore/pull/18580  Thanks again @Kahbazi

[2020-02-19 19:25] #18348 closed

[2020-02-19 19:39] ajaybhargavb commented on #18640
@NTaylorMullen I am unable to reproduce this issue on my mac with the latest omnisharp extension (1.21.11).

[2020-02-19 19:40] NTaylorMullen opened #19160 "Move LSPDocumentManager tracking infrastructure from text view tracking to ITextDocument tracking."
See convo [here](https://github.com/dotnet/aspnetcore-tooling/pull/1602#discussion_r381472383) for details.

[2020-02-19 20:09] knight1219 commented on #18675
I created [this package](https://github.com/Darixidor/Blazor.Settings) because I needed access to the environment in a ASP.Net Core hosted situation. In a CDN/plain file hosted situation I'm not sure how you could get the client to understand the variables.

[2020-02-19 20:34] NTaylorMullen commented on #19138
We parse it already (hence why we can provide an error) so making it codegen something isn't a big deal. The big deal is more about "what" to codegen. If the ask is for us to translate those requests into C# strings aka `$".."` then that adds a level of complexity; however, if the question is to codegen something for the runtime to buffer then that becomes a question for @SteveSandersonMS on what'

[2020-02-19 20:35] NTaylorMullen commented on #18640
Awesomesauce! Close it out 😉

[2020-02-19 20:38] jkotalik commented on #19149
This was an intentional change in 3.0 to remove aspnetcore.dll from the hosting bundle. See https://github.com/aspnet/Announcements/issues/339.

Can you post the error you are seeing though? There are a few types of exceptions that could be happening. Check the windows hosting bundle if you aren't sure.

You should be targeting AspNetCoreModuleV2 in your web.config; all projects by default in 3.0+

[2020-02-19 20:43] pranavkm commented on #17011
We have the intiail set of scenarios checked in and tracked via https://aka.ms/aspnet/benchmarks.

[2020-02-19 20:43] #17011 closed

[2020-02-19 20:50] pranavkm commented on #13174
Ref assemblies:

[code]

[2020-02-19 21:05] DrewTurner commented on #19149
Just now reading that announcement.  Will investigate this as the module is auto generated in the web.config.

Here is the error which make sense as the dll isn't present.

We'll investigate targeting the new module.

[2020-02-19 21:07] craigjbass opened #19163 "dotnet-sdk-3.1 reports unable to find any compatible framework version on Fedora after installing"
3.1.2 has been released, but I cannot install it via the official repos

Inspecting the file index here https://packages.microsoft.com/fedora/31/prod/ shows it as missing.

### To Reproduce

[code]

~In a 3.1.2 project:~

Anywhere

[code]

I also tried to install 3.1.2

[code]

### Other info

Has the Linux release process been open-sourced yet?

*Update: 19/02/2020 21:13:34* my install actually i

[2020-02-19 21:08] pranavkm opened #19164 "Review WebAssembly.Authentication API"
Follow up to https://github.com/dotnet/aspnetcore/issues/13174.

[code]

[2020-02-19 21:08] assafY commented on #19128
Yes, it looks like the work for that issue will cover my scenario. The purpose of using custom render tree logic is to include dynamic data generated based on the current URL in the <head> component.

This seems to work as I expect, but then the circuit is terminated with the error posted in my issue. The seems to point to the comment generated by Blazor with the render ID.

[2020-02-19 21:15] pranavkm opened #19166 "Update blazor-wasm to 3.1.3 builds once they're available"
What the title says. Updates in the blazor-wasm repo are a bit manual

[2020-02-19 21:25] #18982 closed

[2020-02-19 21:26] #18604 closed

[2020-02-19 21:33] grahamehorner commented on #19152
@pranavkm the issue you reference is closed; would the team re-open and mark this as up-for-grabs and/or accept a pull request for the tooling that addresses this?!

[2020-02-19 21:41] grahamehorner commented on #18750
@mkArtakMSFT sorry but closing an issue with a comment "...this is not a priority." is not good, or IMHO the correct action for this; again IMHO this should remain open and be marked as up-for-grabs to allow the community to pick this up and address via a PR; closing the issue means that community may miss this issue and therefore developers that are willing to assist with improvements aren't able

[2020-02-19 22:01] craigjbass commented on #19163
I tried to reproduce this in a fresh docker container, but the packages resolved very differently

[code]

## Fresh docker image (working)

[code]

## Broken Host machine packages

[code]

[2020-02-19 22:03] JunTaoLuo commented on #18600
Thanks for the contribution!

[2020-02-19 22:03] #18600 closed

[2020-02-19 22:06] craigjbass commented on #19163
Running this on the host machine resolved the issue.

[code]

There is something not quite right about how these packages are surfacing inside Fedora / how the packages interact with each other.

My expectations are that these requirements would be resolved automatically.

[2020-02-19 22:08] Tratcher commented on #18858
Those logs don't match the code/config in https://github.com/kishorpise/18858/blob/master/Startup.cs. The errors imply you're still setting CallbackPath to conflicting values. I suggest "/signin-google" and "/signin-aad" without any Account prefix.

RE AddAzureAD and getting it work well with Identity... I'd suggest pealing it back a layer and using AddOpenIdConnect instead.
https://github.com/dot

[2020-02-19 22:15] mkArtakMSFT commented on #19162
Thanks for contacting us, @shadinamrouti.
As @benaadams has pointed out, Runtime Compilation is not enabled by-default starting from .NET Core 3.0. This is probably what you're facing. To learn more about how you can enable it for your project you can have a look at: https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-compilation?view=aspnetcore-3.0#runtime-compilation

If there is any oth

[2020-02-19 22:25] anurse commented on #18846
@pavlexander thanks for catching the automation issue! Let us know if @joeloff 's suggestions reveal anything new.

[2020-02-19 22:57] DrewTurner commented on #19149
Switching to AspNetCoreModuleV2 and targeting that worked perfectly.  Thank you very much for pointing out that breaking change.  We totally missed it.

[2020-02-19 22:57] #19149 closed

[2020-02-19 22:59] jhardin-aptos opened #19170 "JsonPatchDocument.ApplyTo<T> should respect validation attributes on the target model"
We're adding JSON Patch support to an existing ASP.NET Core 2.2 REST API.

The models already have extensive use of custom validation attributes to validate the bodies of normal REST object-oriented HTTP POST and PATCH requests. This is working well.

However, when applying changes to a model object via JSON Patch `JsonPatchDocument.ApplyTo<T>()`, the validation attributes on the classes are ignor

[2020-02-19 23:32] rynowak commented on #19138
@NTaylorMullen - how does this work today in MVC - does your static content get encoded or not? That's the big decision point. There's no buffering in Blazor 👍. We'd probably just do a string.Concat.

[2020-02-19 23:45] mkArtakMSFT commented on #19128
Thanks for confirming, @assafY.
Let's wait for @javiercn who will be having a closer look at that error you're seeing.

[2020-02-19 23:48] ajaybhargavb opened #19172 "Renaming a file back to an older name in VSCode explodes document version checks"
Repro:

- Create a blazor app
- Open Counter.razor, edit and save
- Rename it to Counter123.razor
- Rename it back to Counter.razor

Watch the logs for `Failed to update the C# document buffer. This is unexpected and may result in incorrect C# interactions.`

[2020-02-19 23:48] dougbu commented on #14832
This bit us in 3.1.2. Need to enable `TargetingPackTests` in **all** builds where Microsoft.AspNetCore.App.Ref builds for realz

[2020-02-19 23:50] dougbu commented on #14832
Also need to add tests that check the manifest against _expected_ content. This won't be an issue where we have a checked-in manifest but could miss issues in 'master' branch

[2020-02-19 23:51] #18640 closed

[2020-02-20 00:11] rynowak commented on #19145
Do we know if there's a way to even *get* the SDK's version? Last I check on this they deliberately made this hard so that other teams wouldn't do things like this 😆

[2020-02-20 00:27] NTaylorMullen commented on #19138
It wraps the entire piece in a buffering lambda where static content is not buffered and dynamic content is.

[2020-02-20 03:20] hauserJr opened #19342 ".NET Core razor page tag helpers execute error"
# General

`<a asp-area='backend' asp-controller='home' asp-action='index'>click</a>`

this link on browser will be

not be

[2020-02-20 05:06] PeterPann23 commented on #14723
this is definitely not the case with my projects, they are not migrated to start with and I do not have 2.2 on my station. the issue I have is the default analyzers are wrong on a "file new project"

[2020-02-20 06:09] #18343 closed

[2020-02-20 06:09] #19172 closed

[2020-02-20 06:21] vsfeedback opened #19178 "blazor System.ArgumentException: The path must be absolute. when published with PublishSingleFile"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/923443/blazor-systemargumentexception-the-path-must-be-ab.html)._

---
When publishing a blazor web assembly app and asp.net.core and the publishing with PublishSingleFile enabled the following occures on Linux-x64

Steps to repro:
1) Create a new Blazor web assembly hosted

[2020-02-20 06:25] leastprivilege commented on #18905
Thanks, Barry.

I will publish an update to make the external stuff work again with the internal stuff.

[2020-02-20 06:26] #17748 closed

[2020-02-20 06:26] #17792 closed

[2020-02-20 06:27] #17793 closed

[2020-02-20 06:31] moxplod commented on #17890
I am seeing this as well. Moved from 2.2 to 3.1.
In my case for a much simpler Razor page. Taking at least 30+ seconds to load a page after making some minor changes to the razor page.

[2020-02-20 06:34] NTaylorMullen commented on #14271
@ajaybhargavb given we're not going to return to formatting (we got `@code` formatting done for those watching this comment) till post-build how do you feel about us putting this in the backlog and out of `In Progress`?

[2020-02-20 06:36] mkArtakMSFT commented on #19134
@terrajobst any recommendation who may be best positioned to look into this? Should this go to the `dotnet/runtime` repo for now?

[2020-02-20 06:38] mkArtakMSFT commented on #17890
@moxplod given that you're facing this issue with a simpler scenario, can you please also share a repro project?

[2020-02-20 06:42] NTaylorMullen opened #19179 "LSP Preview 2 - Validate Razor tooling on Windows"
## Instructions
It's up to you to validate all features, if applicable, done in the [Razor LSP Preview 2 milestone](https://github.com/dotnet/aspnetcore/issues?q=is%3Aissue+milestone%3A%22Razor+LSP+Preview+2%22+is%3Aclosed) (not just your own). Given that this is tooling validation, features and bug fixes should be relatively easy to validate given they don't require complex setups to ensure somet

[2020-02-20 06:44] NTaylorMullen opened #19180 "LSP Preview 2 - Validate Razor tooling on Linux"
## Instructions
It's up to you to validate all features, if applicable, done in the [Razor LSP Preview 2 milestone](https://github.com/dotnet/aspnetcore/issues?q=is%3Aissue+milestone%3A%22Razor+LSP+Preview+2%22+is%3Aclosed) (not just your own). Given that this is tooling validation, features and bug fixes should be relatively easy to validate given they don't require complex setups to ensure somet

[2020-02-20 06:45] NTaylorMullen opened #19181 "LSP Preview 2 - Validate Razor tooling on Mac"
## Instructions
It's up to you to validate all features, if applicable, done in the [Razor LSP Preview 2 milestone](https://github.com/dotnet/aspnetcore/issues?q=is%3Aissue+milestone%3A%22Razor+LSP+Preview+2%22+is%3Aclosed) (not just your own). Given that this is tooling validation, features and bug fixes should be relatively easy to validate given they don't require complex setups to ensure somet

[2020-02-20 06:52] moxplod commented on #17890
Hi @mkArtakMSFT here is a page load time - 18ms when razor is compiled.
And I add single whitespace in the razor page and refresh, it takes around 10.06s in most cases. Some cases I have seen much higher. Trying to figure out how to send you a repro project.

![image](https://user-images.githubusercontent.com/4554395/74908368-8b7bb300-536a-11ea-98f9-64ee8bfc88f6.png)

[2020-02-20 06:54] rynowak commented on #19138
You didn't answer the question, which is about HTML encoding. I don't think we'd try to replicate MVC's semantics, which are related to preserving whitespace.

[2020-02-20 06:56] NTaylorMullen commented on #14295
Fixed this in LSP Preview 1 when I moved all of our project system logic to the server.

[2020-02-20 06:56] #14295 closed

[2020-02-20 06:56] rynowak commented on #19107
Whether or not it's a mistake, this sounds like an infinite loop in the API explorer code. These kinds of bugs are really hard for users to understand the cause of.

[2020-02-20 07:00] cerberus1974 commented on #14392
Same issue.
This problem doesn't occur on macOS but on Windows

[2020-02-20 07:05] ajaybhargavb commented on #17890
@moxplod's issue sounds more related to Razor runtime compilation than the parser. @pranavkm thoughts?

[2020-02-20 07:12] gkeongit commented on #19107
I don't know, why my initial response by eMail did not show up here. I paste it instead:

_Thank you for your hint about the NonAction attribute. In my specific case the API accepts a type that contains a property of a type that again has a property of type Exception. But I already analyzed, that this has the same effect as using the Exception type directly in the API. So I simplified the example,

[2020-02-20 07:18] NTaylorMullen commented on #19138
Fat fingered my response (updated above): static content is not HTML encoded, dynamic content is HTML encoded.

[2020-02-20 07:22] NTaylorMullen opened #19182 "Don't turn on new Razor LSP editor for legacy MVC scenarios on Nexus."
The WTE team has logic in their VS editor factory that turns on "Core Razor" editor for .NET Core projects and then all other projects falls back to the legacy MVC. Given that we sit in front of the WTE editor and choose when to enable the new Razor LSP experience we need to have a similar check to ensure we're not enabling ourselves when we're unwanted 😄

Here's how WTE does it:

https://devdiv.v

[2020-02-20 07:24] #17791 closed

[2020-02-20 07:24] dozed commented on #19106
Still in the documentation it says: "The automatic creation of a ProblemDetails for error status codes is disabled when the SuppressMapClientErrors property is set to true." This is not the case.

[2020-02-20 07:26] NTaylorMullen opened #19183 "Enable new Razor LSP editor scenarios to work in preview editor"
When we added our new Razor LSP experience we had to take a model of trying to turn on the experience if a feature flag was on and then if not fall back to the existing experience powered by WTE. Turns out, the act of falling back to WTE somehow exploded VS' preview panel functionality (single click on a file). This means even if we fall back Razor views would no longer be viewable in a preview ex

[2020-02-20 07:29] NTaylorMullen opened #19184 "Stop depending on C#_LSP content type for Razor's C# LSP buffer"
Roslyn is working on deprecating their C#_LSP content type and instead intend to rely on TextBuffer properties to indicate that a TextBuffer should be an LSP powered buffer.

The setting buffer properties work is tracked here: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1032052/?triage=true

This issue is blocked today but I'm throwing it into our LSP Preview 3 milestone to ensure we at

[2020-02-20 07:33] NTaylorMullen opened #19185 "Investigate running Razor's language server in process in VS"
Today we boot an out of process language server in VS when we detect a Razor LSP buffer. This is a great long term solution but it requires us to manage the lifetime of our OOP rzls.exe process. That process management will be implemented by the LSP client team down the line so for the time being we should investigate moving our language server bits in-process in VS scenarios in the effort to:

1.

[2020-02-20 07:39] NTaylorMullen opened #19186 "Razor's new LSP editor experience fails to be selected in cloud environments"
This is because of multiple reasons.

1. Cloud environments require a logical view capability of: `[ProvideEditorLogicalView(typeof(RazorEditorFactory), VSConstants.LOGVIEWID.TextView_string)]`
1. Our editor factory priority is equivalent with another factory. We should increase our priority by one to ensure we don't collide.

[2020-02-20 07:44] Bartmax opened #19187 "Keep scroll position after a browser refresh."
This issue is about the opposite of https://github.com/dotnet/aspnetcore/issues/10482

After refresh via browser, in a normal app, the browser keeps the position of the scroll, but since on SPA the dom is created dynamically (when not using server prerender, for example on wasm) it always default to the top page.

is there any way to persist this scroll position ?
How current SPA frameworks deals

[2020-02-20 07:47] ChaosEngine commented on #19137
Closing as I can see new newly published https://www.nuget.org/packages/Microsoft.EntityFrameworkCore.Relational/3.1.2

[2020-02-20 07:47] #19137 closed

[2020-02-20 07:48] fitdev opened #19188 "Blazor Tooling: .razor-based Components are not recognized by Intellisense until corresponding razor file is opened"
### Describe the bug
This is a simplified explanation to get down to the essence of the bug. When working with .razor files, I reference my custom component from another component like so:

**CompA.razor**
[code]
**CompB.razor**
[code]

If both `CompA.razor` and `CompB.razor` files are opened in VS (and actually loaded, i.e. within a VS session both tabs have been displayed at least once) then all

[2020-02-20 08:14] javiercn commented on #19188
@fitdev thanks for contacting us.

@NTaylorMullen @ajaybhargavb @ryanbrandenburg do you have any thoughts here?

[2020-02-20 08:16] javiercn commented on #19178
Thanks for contacting us.

I believe this is one of the issues we've fixed with the release 3.1.102 of the SDK. Update to that version and tell us if it still doesn't work.