[2019-11-22 23:09] mkArtakMSFT commented on #11725
This issue was moved to dotnet/corefx#42687

[2019-11-22 23:10] mkArtakMSFT commented on #11266
This issue was moved to dotnet/corefx#42688

[2019-11-22 23:10] #11266 closed

[2019-11-22 23:27] #17068 closed

[2019-11-22 23:37] #5849 closed

[2019-11-22 23:51] bachoang opened #17345 "Is it possible to do Azure AD integrated application sign out only?"
### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce

### Further technical details
- ASP.NET Core version
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version

For application using OpenID Connect OWIN middleware to integrate with Azure AD to do SSO such as https://github.com/Azure-Samples/active-directo

[2019-11-23 00:06] Tratcher commented on #16988
One more option: Detect the new API added for Reset (https://github.com/aspnet/AspNetCore/issues/17276)

[2019-11-23 00:09] rynowak commented on #17303
AH, this is CORS, ok that makes a little bit more sense.

[2019-11-23 00:09] rynowak commented on #17303
This may be a bug.

[2019-11-23 00:17] Tratcher commented on #17327
This looks like an Authorization issue. From the logs it runs Authorization before even trying to run Authentication. Then it issues the challenge (which as a side-effect of checking if the token is valid).

Your app doesn't have any Authorization Policies configured. @HaoK what policy is `[Authorize(Roles = "GetKey")]` supposed to use by default? It didn't seem to call the default auth scheme bef

[2019-11-23 00:35] HaoK commented on #17327
By default authZ policies that don't specify an authentication scheme do any authentication, they would normally use the default scheme as a sideeffect of it already being set by the middleware

[2019-11-23 01:05] vsfeedback opened #17347 "Blazor @onclick event not firing when using Windows Authentication"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/819718/blazor-2.html)._

---
Hi

Without changing a thing, I:

Creating a new Blazor App with default temple works great thank you.

Creating a new Blazor App changing the Authentication to **Windows Authentication**, I discovered that:

`<button class="btn btn-primary" @on

[2019-11-23 01:06] mkArtakMSFT commented on #17347
Thanks for contacting us.
Referencing this in case this is related: https://github.com/aspnet/AspNetCore/issues/14373

[2019-11-23 01:39] dingsongjie commented on #17321
Thanks for help

[2019-11-23 01:39] #17321 closed

[2019-11-23 02:29] javiercn commented on #17347
Could you provide us with the browser and server logs?

Add this to your _Host.cshtml
[code]

Replace the logging section with this in your appSettings.json
[code]

[2019-11-23 06:50] marcuslindblom commented on #17303
Ok, let me know what you find out if you investigate.

[2019-11-23 08:29] CatalinAdlerDF commented on #7390
I think you have to start Visual Studio having this env var setup, since the debugger is part of VS and has to be properly setup at its startup.

[2019-11-23 10:17] ahryshchanka opened #17355 "Yaml configuration provider"
What about add `YamlConfigurationProvider` as a one of default, available without any nuget package and costomization configuration provider?

Examples of custom `YamlConfigurationProvider`:
- [link1](https://andrewlock.net/creating-a-custom-iconfigurationprovider-in-asp-net-core-to-parse-yaml/)
- [link2](https://blog.kloud.com.au/2017/01/25/adding-yaml-settings-into-aspnet-core-apps/)
- [link3](h

[2019-11-23 10:52] gfoidl commented on #17355
See https://github.com/aspnet/Extensions/issues/2659

[2019-11-23 14:11] KamranShahid commented on #17325
Ok will try it if i could have time. For the quick solution i have downgraded this particular update to 3.0.0 and it started working again.

[2019-11-23 16:21] moemar commented on #5456
What is the status of "Live reload" at the moment. Is it supported (without F5 in browser)?
If not, are there any plans on releasing this feature?

[2019-11-23 16:42] rwolejko opened #17357 "Blazor bootstrap css nav-item broken"
When I create bootstrap nav-item in my project, it looks different than an original bootstrap (first nav-item moves down a little bit).
It is because you have overwritten nav-item in site.css (template Blazor-Server, ver. 3.1.0-preview-3).
The NavMenu looks like you intended, however, creating custom navs becomes complicated and confusing.
Could you please fix the project template?
You can customi

[2019-11-23 16:52] los93sol opened #17358 "Blazor preventDefault with wheel event"
### Describe the bug
Using @onwheel:preventDefault does not prevent the browser from scrolling in Chrome.

### To Reproduce
[code]
Make sure there's enough content on the page that the browser has vertical scroll bars and it will still end up scrolling.

In Chrome I also see the following in the console...
[Intervention] Unable to preventDefault inside passive event listener due to target being tr

[2019-11-23 17:05] nfplee commented on #5456
@moemar in the latest community standup David Fowler says there are plans for it for possibly the next version but nothing has been put in place yet. https://youtu.be/bBc_NTUVtbE?list=PL1rZQsJPBU2St9-Mz1Kaa7rofciyrwWVx&t=5010

[2019-11-24 03:59] WillianGruber commented on #15720
@danroth27 any thoughts about this suggestion?

[2019-11-24 05:18] Alienroid commented on #15720
I like what William suggested. By the way, I posted this on a closed issue. I wonder if people will follow up on this. Or should we open a new one?

Also, SignOutAsync have similar issue as SigninAsync.

For anyone running into similar issue, temporary I use razor page for Login, logoff/logOut, Relogin.

[2019-11-24 06:04] bhagyashree19sb commented on #4332
Add30AssemblyWorkaround didn't work for me. Could you please share reference to the sample project? Thanks in advance.

[2019-11-24 06:45] DudePascalou commented on #17309
Well, you can close the issue and wait for version 5 to be released, so as the doc will be up to date.
I just wanted to add a comment on the doc page for those who will have the same problem I had.

[2019-11-24 08:00] leastprivilege commented on #17083
@dougbu how do I do that?

[2019-11-24 10:07] wvpm commented on #16676
Hey sorry for the late reply, kinda forgot about it.
Adding a setter does fix it.

[2019-11-24 12:16] endeffects commented on #12537
@javiercn why do you continuously closing these bug reports? it is still not fixed and people are reporting it again and again for wasm. I still have this issue too and all the provided workarounds do not work.

[2019-11-24 12:56] MV10 opened #17361 "Blazor @ref for dynamically generated elements"
I have a scenario where an `@foreach` loop iterates over an externally-provided `List<>` parameter to generate a series of Razor components from a third-party library. After the content is rendered, other interactions trigger certain methods on those components, but I don't see a clean way to use `@ref` to address them.

I'm going try pointing the `@ref` to a property setter and use that to store

[2019-11-24 13:40] Safirion commented on #17269
Any hope that it would be fix before the release of .Net Core 3.1 next week ? 😕

[2019-11-24 14:59] dotnetjunkie commented on #14585
I just published [Simple Injector v4.8](https://github.com/simpleinjector/SimpleInjector/releases/tag/v4.8), which now allows Simple Injector users to integrate hosted services while using the new ASP.NET Core 3 `Microsoft.Extensions.Hosting.Host` model. The fix refrains from using the `IServiceProviderFactory<T>` model, as demonstrated above by David.

During my research I found a way to circumve

[2019-11-24 14:59] #14585 closed

[2019-11-24 15:45] valeriob commented on #17298
Thanks @Tratcher i use all of those. Howeve now i have a work around, i will track this issue to check when to remove it :D

[2019-11-24 15:51] Tratcher commented on #17298
I don't anticipate making any product changes here. The urls are expected to be relative to PathBase.

[2019-11-24 17:03] hannespreishuber opened #17362 "load blazor Webassembly from File System"
when creating a deployment of a Blazor 3.1 webassembly app with visual studio, path are relative.
Is there any option or should it be a feature like

contentpath="c.\temp\"

[2019-11-24 17:25] valeriob commented on #17298
Ok thanks, i hope all of them behave the same

[2019-11-24 17:25] #17298 closed

[2019-11-24 18:28] dougbu commented on #17083
@leastprivilege you can enable logging on the `.\restore.cmd` the same way you'd do it on the `msbuild` command line e.g. `-bl` or `/fl /flp:Verbosity=detailed`

@aspnet/build for additional questions since I'm on vacation for the next few days

[2019-11-24 18:34] sudoman281 commented on #13564
Same problem here. Installing the Microsoft.AspNetCore.Mvc.NewtonsoftJson fixed the issue. I couldn't find the package in the GUI either.

[2019-11-24 19:02] ghidello commented on #17347
I had the same issue using google chrome with the "Avast Online Security" extension. These are the console logs after loading the Counter page:
[code]
It looks like it stopped before logging the web socket connection.

If I disable the Avast extension the application starts working normally and these are the console logs:
[code]

These are the server logs:
[server_logs_with_avast_plugin.log](https

[2019-11-24 20:36] chrgraefe opened #17363 "Consider adding a library for Blazor UI components to the "aspnet" org"
As Balzor is growing very fast it is useful to concentrate the effort into a major repository to build simple controls that are needed for SPA's.

I think of a library like winforms, which is also open source and maintained in a Microsoft repository.

There are already many controls available in different libraries in different qualities.
With this basement is it possible to build apps faster and

[2019-11-24 20:39] michasacuer opened #17364 "Unable to resolve service for type Microsoft.AspNetCore.Mvc.Razor.IRazorViewEngine"
### Describe the bug
In my project that was `Core 2.2` i have standard service for returning Razor View as string (i needed it to generate pdf in my client written in `WPF`):

[code]

In `Core 2.2` everything work fine. When i updated my project to `Core 3.0` i get this error (i didnt add new injection into my `Startup.cs`):

### StackTrace:
[code]

Even when i register that `IRazorViewEngine` int

[2019-11-24 20:58] joshcomley opened #17365 "Regression with Blazor 3.1.0-preview3"
(apologies for the vague title, I don't really know how to title this)

### Describe the bug
I have been successfully using Roslyn in Blazor for quite some time, now. However, going from `3.1.0-preview2` to `3.1.0-preview3` it has stopped working, blowing up internally within `CodeAnalysis`. When getting symbol info for certain things, this happens (identical code running anywhere else works, incl

[2019-11-24 21:23] michasacuer commented on #17364
I found a solution but i will leave it to future generations.

I just added this lines to my `Startup.cs`:

[code]

And everything works fine

[2019-11-24 21:50] sopelt opened #17366 "Add support for Azure.Storage.Blobs in ProtectKeysWithAzureKeyVault"
We are currently using
[code]
to enable scenarios like scale out and deployment swapping.

Currently [PersistKeysToAzureBlobStorage](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.dataprotection.azuredataprotectionbuilderextensions.persistkeystoazureblobstorage?view=aspnetcore-3.0) and its package [Microsoft.AspNetCore.DataProtection.AzureStorage](https://www.nuget.org/packages/M

[2019-11-24 22:44] rynowak commented on #13346
#### Description

In 3.0 we added validation to HttpClient Factory's registration code path to prevent some common mistakes. This new validation code blocks some valid use cases that we didn't know about.

#### Customer Impact

Attempting to call `AddTypedClient<T>` twice on the same builder with different types throws an exception. This is a valuable shorthand way of expressing a configuration on

[2019-11-25 00:01] ant-blue-butterfly commented on #17347
Thanks Everyone.

I've turned OFF the "Avast Online Security" extension as @ghidello suggested.  Fix the issue for me too.

Best regards

[2019-11-25 01:05] martshep commented on #13478
While I understand that this failure is a chrome issue and not a blazor issue, the user experience when this occurs is very confusing. Would it be possible for Blazor to put up a warning when the SignalR connection to the server can't be established or is taking a really long time to establish, similar to the way that it displays an overlay if the connection is lost?

By the way, there are a few c

[2019-11-25 01:18] slaneyrw commented on #17249
I ended up replacing the default middleware.  Mine iterates over each policy and when the first fails it calls either ForbidAsync or ChallengeAsync ( depending on whether the policy had an auth scheme - same logic as the real middleware ).  I also supply the current policy name as parameter in the AuthentcationProperties instance I build and pass to either method above.

Now the Authentication sch

[2019-11-25 02:39] wulaiwei commented on #17247
I am very sorry to reply you now. Unfortunately, I can't provide a specific scene here.
In my test environment, this situation may happen several times a day during login, I can't reproduce it.

[2019-11-25 02:43] wulaiwei commented on #17247
I am very sorry to reply you now. Unfortunately, I can't provide a specific scene here.
In my test environment, this situation may happen several times a day during login, I can't reproduce it.

[2019-11-25 03:54] Tratcher commented on #17247
Getting into a loop between the identity provider and your application can look similar to what you've described (without hitting the back button). Usually it's caused by a misconfiguration. The best option is to capture and share a network trace (Fiddler or Wireshark) and we can help identify why it's stuck in a loop.

[2019-11-25 05:41] davidfowl commented on #14585
Should I look?

[2019-11-25 06:42] ameyasubhedar opened #17367 "asp.net core 3.1 web API (versioning) and Swagger UI fails once published to Azure"
### Describe the bug
I have recently migrated the asp.net core 2.2 web API project to **asp.net core 3.1 Preview 3**. I use the URL based API versioning and Swagger UI 3.0 (Swashbuckle.AspNetCore 5.0.0-rc4). As soon as the web API is published on azure i get below error (I am not sure if Swagger UI has anything to do with it but...)

**System.InvalidOperationException: Failed to compare two elemen

[2019-11-25 06:43] d1mnewz opened #17368 "Target microsoft.aspnetcore.mvc.newtonsoftjson to netstandard2.1"
`microsoft.aspnetcore.mvc.newtonsoftjson` targets only .NET Core App 3.0 or 3.1.

### Describe the solution you'd like
Can we anyhow target that to .NET Standard 2.1 so it can be usable in class libraries?

cc: @BrennanConroy

[2019-11-25 06:47] ereadersworld opened #17369 "SignalR Core Client fail to connect with SignalR Core Hub behind the Load Balancer"
The SignalR Service is built with Asp.Net Core 2.2 and hosted on two nodes behind the Load Balancer.

SignalR client is able to establish the connection with Individual nodes. But when SignalR client points to Load Balancer then it is not able to establish the connection with the Hub.
I have captured the Event Logs from both the nodes. It is observed that the HTTP request to establish SignalR conn

[2019-11-25 06:48] KamranShahid commented on #16672
My Class is as following. Please let me know if i have placed usehttpsredirection/usecors correctly or not

[code]

[2019-11-25 07:36] uveta opened #17370 "Could not load file or assembly 'DiagnosticServices.HostingStartup, Culture=neutral, PublicKeyToken=null'. The system cannot find the file specified."
We are having an issue with an Asp.Net Core 2.2 application hosted in an Azure AppService. It is hosted on .Net Core stack and has additional virtual application path configured (besides "/") to point to its _site\wwwroot_ directory, due to requirements imposed by application gateway. It has Application Insights enabled on project level, via imported NuGet and necessary configuration done in Start

[2019-11-25 08:27] KamranShahid commented on #17325
Following is in my event viewer log

[code]

[2019-11-25 08:32] KamranShahid commented on #17325
My startup class is as following

[code]

Have just read https://github.com/aspnet/Extensions/issues/1096 which seems to suggest something in startup class

[2019-11-25 09:29] javiercn commented on #17347
@danroth27 @blowdart we had several reports about this issue.

Do we know of anyone we can follow up with?

I’m closing this issue as external.

[2019-11-25 09:29] #17347 closed

[2019-11-25 10:01] shantrendz opened #17371 "Possible to set client validation on class level using IClientModelValidator interface"
Currently, IClientModelValidator interface gets implemented when validation attributes are set at property level. What if we set validation attributes at Class level? Server side validation works fine for this scenario. But Client side validation not getting fired.

The below lines not getting executed on runtime when we use [AttributeUsage(AttributeTargets.Class)].

public void AddValidation(Clie

[2019-11-25 10:35] TheRealLenon commented on #15307
How did you solved this?.. I´m facing the same problem..

[2019-11-25 10:50] der-Daniel commented on #15307
Yes these are limitations to the blazor framework.

It it just not compatible yet.

[2019-11-25 10:53] petr123321 commented on #17288
Hi,

log is:

=== Verbose logging started: 25. 11. 2019  11:52:59  Build type: SHIP UNICODE 5.00.9600.00  Calling process: C:\Windows\Temp\{112B5684-9D72-47B8-ABA8-446E85B47786}\.be\WindowsServerHostingBundle.exe ===
MSI (c) (98:58) [11:52:59:593]: Resetting cached policy values
MSI (c) (98:58) [11:52:59:593]: Machine policy value 'Debug' is 0
MSI (c) (98:58) [11:52:59:593]: ******* RunEngine:

[2019-11-25 11:03] gerardfoley commented on #16960
I'm running into the same problem myself.

It looks like this behavior is by design as oliverw suspected.
From the page https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-3.0
Section: Endpoint routing differences from earlier versions of routing

This might also explain why this was not necessary in earlier versions of Net Core.

I really hope for a work around for t

[2019-11-25 11:52] javiercn commented on #12537
@endeffects Not sure what you mean. We had an issue in this area, but it has been fixed for a while. If you are running into problems please open a separate issue with a minimal repro project and steps on how to reproduce it, and we will take a look.

[2019-11-25 11:58] javiercn commented on #17370
@uveta thanks for contacting us.

The problem you are describing is likely caused by an issue in the application insights SDK. @davidfowl do you know who/where to route this to?

[2019-11-25 12:03] javiercn commented on #17368
@d1mnewz thanks for contacting us.

`microsoft.aspnetcore.mvc.newtonsoftjson` only provides integration for Newtonsoft.Json in MVC. We are unlikely to change the target framework at this point. The netcoreapp target shouldn't prevent you from writing a library that references it. (You will just change the library target to 3.0-3.1).

Is there any reason why you need to target netstandard2.1? As an

[2019-11-25 12:05] javiercn commented on #17365
@joshcomley thanks for contacting us.

This might be a linker issue. Have you tried disabling the linker?

[2019-11-25 12:08] #17364 closed

[2019-11-25 12:11] javiercn commented on #17363
@chrgraefe Thanks for contacting us.

We are currently focusing on efforts on building the framework and it is unlikely we will tackle this in the immediate future. There are many 3rd party component libraries out there already with Blazor controls that can be used to accelerate application development.

I'll leave this issue open for now until it gets properly triaged.

[2019-11-25 12:12] javiercn commented on #17362
@hannespreishuber thanks for contacting us.

I'm not really sure what you are asking from us. It will help us if you can describe your scenario more in depth. What you are trying to achieve and what is not working.

[2019-11-25 12:15] javiercn commented on #17361
@MV10 thanks for contacting us.

@SteveSandersonMS Will an array of element references work here?

[2019-11-25 12:15] joshcomley commented on #17365
Thanks for the suggestion! I'm out at the moment, but I will try as soon as I get home... But how do I disable the linker? :)

[2019-11-25 12:16] javiercn commented on #17358
@los93sol thanks for contacting us.

@SteveSandersonMS can you take a look at this?

[2019-11-25 12:17] javiercn commented on #17357
@rwolejko thanks for contacting us.

We will take a look at this. If you have a concrete suggestion we will also accept a PR with a fix if you are willing to make one.

[2019-11-25 12:18] hannespreishuber commented on #17362
this is not a bug, it is a feature request or a question why this is a wanted behavior

Visual Studio Blazor Webassembly type- publish to file system
there is a index.html with contains path like "_/…/js". So it is not possible to double click index,html and run the app within the browser

[2019-11-25 12:18] javiercn commented on #17355
@ahryshchanka thanks for contacting us.

I'm closing this issue as it is a dupe of aspnet/Extensions#2659 which is tracking it on the right repository.

[2019-11-25 12:18] #17355 closed

[2019-11-25 12:20] javiercn commented on #17345
@bachoang thanks for contacting us.

@Tratcher any thoughts? I don't believe the middleware has the ability to not send the sign out request when SignOutAsync is invoked, does it?

[2019-11-25 12:23] javiercn commented on #17362
@hannespreishuber

Is it not possible to change the index.html to the appropriate physical paths? I'm not sure this is even doable without modifying the blazor webassembly js file as in order for this to work it is likely that the assemblies need to be embedded inside the index.html (fetch won't work when loading a file).

@SteveSandersonMS do you have any thoughts?

[2019-11-25 12:23] astashko commented on #5204
It seems like Search Results Microsoft.AspNetCore.SpaServices.Extensions doesn't specify parent process id:
https://github.com/aspnet/AspNetCore/blob/9e67b7b22e92f3f4550d0efc2737d072405f0190/src/Middleware/SpaServices.Extensions/src/Npm/NodeScriptRunner.cs#L56
Is it planned to be resolved?

[2019-11-25 12:25] javiercn commented on #17365
[code]

[2019-11-25 12:28] SteveSandersonMS commented on #17362
Loading web apps from a `file:///` URL is unfortunately subject to many limitations. Browser vendors have been locking this down more an more, based on the idea that the security model for `file:///` is deeply flawed and it's better not to support it for many features. I wouldn't count on being able to load a Blazor app, or any other nontrivial SPA, from a `file:///` URL.

If you find out that the

[2019-11-25 12:28] #17362 closed

[2019-11-25 12:29] joshcomley commented on #17365
Wonderful, thank you. I'll give it a go

[2019-11-25 12:43] SteveSandersonMS commented on #17361
This isn't something we specifically set out to support, but yes, you can use a dictionary. For example:

[code]

This will initally populate `myComponents` with three entries (for keys alpha/beta/gamma). If you add new items to `identifiers` later and re-render, it will add new entries to `myComponents`.

The tricky bit is that it doesn't give any obvious way to *remove* items from `myComponents`

[2019-11-25 12:43] #17361 closed

[2019-11-25 12:49] javiercn commented on #17202
We're closing this issue as we haven't seen community involvement and we need more information to reproduce the problem. If you have more details about the issue add a reply here with the new information and we'll re-evaluate the issue.

[2019-11-25 12:49] #17202 closed

[2019-11-25 12:50] javiercn commented on #17338
@rbeauchamp thanks for contacting us.

@SteveSandersonMS I believe this is an issue in the mono debug support, isn't it?

[2019-11-25 12:57] stsrki commented on #17363
@chrgraefe There is already a bunch of components library that you can choose from: [MatBlazor](https://github.com/SamProf/MatBlazor), [BlazorStrap](https://github.com/chanan/BlazorStrap) or [Blazorise](https://github.com/stsrki/Blazorise). You can also visit an [awesome list](https://github.com/AdrienTorris/awesome-blazor) of Blazor resources to find more of them.

PS I'm a creator of Blazorise.

[2019-11-25 12:57] SteveSandersonMS commented on #17358
Use of `preventDefault` within scroll-type events (including wheel) is discouraged by browsers because it reduces the responsiveness of the site. Chrome started blocking this by default in version 56, and more recently also blocked it for wheel events in version  The reasoning is given in detail at https://developers.google.com/web/updates/2017/01/scrolling-intervention

The recommended alternativ

[2019-11-25 12:57] #17358 closed

[2019-11-25 13:00] SteveSandersonMS commented on #17338
@javiercn I'm not sure. Were you able to repro this? Could you track it down to a specific error?

[2019-11-25 13:14] blowdart commented on #17366
Do you mean you want the data protection key ring totally in key vault? If so, no. Granting the ability to create keys in key vault to an app violates least privilege and it's api surface doesn't allow for the loading of multiple keys in a single operation, rather you have to page through each key, which would delay app startup by what we feel is an unacceptable time.

[2019-11-25 13:43] los93sol commented on #17358
@SteveSandersonMS Thanks for the response.  I just tried the workaround using touch-action: none; but that doesn't seem to work.  I also read through the article linked and I agree that definitely is the change to Chrome that's causing this particular issue, it looks to me like the css solution may only apply to touch screen scenarios.

My real world use case here is that I have a TimeSpan picker

[2019-11-25 14:11] sopelt commented on #17366
Thank you for the swift reply @blowdart ! Sorry for the misunderstanding. That is not what I was asking for. I am aware that this wouldn't match the overall architecture and I agree that write permissions for apps/MSI are to be avoided at all cost.

I tried to clarify and add more information to my initial post.

[2019-11-25 14:12] blowdart commented on #17366
Oh just an update to the libraries we depend on? Yea, we can look at that for v5.

[2019-11-25 15:07] gthvidsten opened #17374 "Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation refers to incompatible packages"
### Description
The `Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation` NuGet package references other packages which will cause errors and warnings from the compiler (on new ASP.NET Core 3.0 projects).

### Reproduce
When trying to add the `Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation` NuGet package to a new ASP.NET Core 3.0 project an error occurs complaining about version mismatch.

The ne

[2019-11-25 15:14] javiercn commented on #17338
@SteveSandersonMS I didn't try. I would imagine there's an issue with the mapping and that likely belongs to mono. @ryanbrandenburg or @ajaybhargavb might also know or could give this a try, since they've been working on the area.

[2019-11-25 15:26] javiercn commented on #12588
Right now client-side blazor integrates with ASP.NET Core through a couple of helpers that ship within the Blazor.Server package. These helpers are `app.UseClientSideBlazorFiles()` and `endpoints.MapFallbackToClientSideBlazor()`.

We want client-side blazor to be powered by static web assets, as it reinforces the idea that client-side Blazor is just a set of static files that can be served by any

[2019-11-25 15:30] javiercn opened #17375 "[StaticWebAssets] StaticWebAssetsFileProvider should support base paths without segments"
There is a bug in the runtime where base paths like "/" are not correctly handled by the staticwebassets file provider.

We want to fix this bug to allow client-side blazor apps to integrate with asp.net core hosts with static web assets.

https://github.com/aspnet/AspNetCore/blob/release/3.1/src/Hosting/Hosting/src/StaticWebAssets/StaticWebAssetsFileProvider.cs#L49

Should simply check if the pat

[2019-11-25 15:35] Tratcher commented on #17345
Clarification: that sample is using AspNetCore, not OWIN middleware.

Yes you can signout of the app cookie, it just uses a different name in this case:
https://github.com/aspnet/AspNetCore/blob/88b534726e8855c3a86a751c63b8e317d749b396/src/Azure/AzureAD/Authentication.AzureAD.UI/src/AzureADAuthenticationBuilderExtensions.cs#L85

[2019-11-25 15:42] thomaslevesque opened #17376 "RequestSizeLimit doesn't prevent the action from executing"
### Describe the bug
Setting a request size limit on a controller action doesn't prevent the action from executing when the body is larger than the specified size.

### To Reproduce
Write this code in a controller

[code]

Send a request with a body larger than 1024 bytes.

**Expected:** the action isn't executed, and a 413 response is returned
**Actual:** the action is executed. The call to `read

[2019-11-25 15:43] javiercn opened #17377 "[StaticWebAssets] GenerateStaticWebAssetsManifest task should allow files from multiple content root sources within the same project/package"
https://github.com/aspnet/AspNetCore-Tooling/blob/master/src/Razor/src/Microsoft.NET.Sdk.Razor/GenerateStaticWebAssetsManifest.cs

Performs several checks to avoid empty paths, empty content roots and potential collisions within the different files exposed as static web assets.

For example, it detects when assets from different content roots have the same base path and fails. For example if proje

[2019-11-25 15:49] javiercn opened #17378 "[StaticWebAssets] Detect conflicting assets"
As part of supporting client-side blazor with static web assets, we want to be able to detect conflicts between static web assets and assets on the host application.

Up to now, static web assets would be served from a non empty base path (_content/LibName) by default, which makes this problem trivial.

However, with the support we plan to add to client-side blazor applications this case becomes m

[2019-11-25 15:57] rwolejko commented on #17357
Sorry for taking your time. I just figured out that I had outdated site.css (I created my project when
3.1.0.preview2 was the actual version). After update, it looks that it has already been fixed.
You can close my issue.

Roman

[2019-11-25 16:08] joeloff commented on #17288
So from what I'm seeing, InstallValidate action is returning 3. This seems to happen since costing is showing that there is insufficient disk space. The properties below expressed as multiples of 512 bytes and they are all set to 0.

Property(S): PrimaryVolumeSpaceAvailable = 0
Property(S): PrimaryVolumeSpaceRequired = 0
Property(S): PrimaryVolumeSpaceRemaining = 0

[2019-11-25 16:20] benelliott commented on #17277
I also have this issue, but don't want to have to re-enable `progress` as [webpack's build progress output is routed to stderr](https://github.com/webpack/webpack/issues/3520), and this makes log4net go a bit nuts. If this could be solved in a different way it would be great - especially since listening for the dev server to spit out a specific string always felt a bit fragile.

[2019-11-25 16:23] BrennanConroy commented on #17369
Sticky Sessions are **required** for ASP.NET Core SignalR.

You can read some details in the docs https://docs.microsoft.com/aspnet/core/signalr/scale?view=aspnetcore-3.0#sticky-sessions

[2019-11-25 16:23] #17369 closed

[2019-11-25 16:36] anurse commented on #17033
Were you able to enable the debug log? That should provide more detail on what's going on here.

[2019-11-25 16:38] joshcomley commented on #17365
Disabling the linker did not fix the issue, unfortunately

[2019-11-25 16:46] kmuthukumar23 opened #17381 "How can install preview version of SDKs in linux using CLI"
I want to install the .net core 3.1 preview 3 in linux machine using command line

Is there any ways to install the preview versions of .Net Core SDKs in linux machine using command line?

For example,

Above Command used to install the SDK 3.0 in linux. Now i want to install latest .net core 3.1 preview 3 by the same way.

Is this possible?  Please help me on this?

[2019-11-25 16:48] SteveSandersonMS commented on #17043
In particular, consider bringing back a per-request way to set `FetchCredentialsOptions`.

[2019-11-25 17:03] d1mnewz commented on #17368
Right, however we were using some shared `MvcJsonOptions` between projects.

![image](https://user-images.githubusercontent.com/11834902/69560978-4dfaca00-0fb5-11ea-94ea-a07e1b566ab5.png)

but when migrating to .NET Core 3.1, `MvcNewtonsoftJsonOptions` turned out to be a part of `microsoft.aspnetcore.mvc.newtonsoftjson` which targets only .NET Core App.

![image](https://user-images.githubusercont

[2019-11-25 17:07] binraider commented on #7772
in 3.0 I finally found the solution was to put a route attribute on the action - e.g. [Route("NodeInfo")]. That fixed it

[2019-11-25 17:08] binraider commented on #5712
I had this problem in Core 3.0.  I finally found the solution was to put a route attribute on the action - e.g. [Route("NodeInfo")]. That fixed it

[2019-11-25 17:10] benelliott commented on #17277
Actually, I don't think it's quite as simple as that - when I run `ng serve --progress=false` from my `App` directory, I still see the `listening on...` message.

I think the problem is that the message will only show on the first log output from the CLI (https://github.com/angular/angular-cli/blob/2c0efd834b08ac5ea166d88c0ff57cc35df19421/packages/angular_devkit/build_angular/src/dev-server/index.

[2019-11-25 17:11] petr123321 commented on #17288
There is 45 Gig of space, that's not that. But I don't know what else is.

[2019-11-25 17:14] Leonardo-Ferreira commented on #17293
@blowdart would you mind sharing a few more details? would you be able to provide a code sample? bear in mind that some people, like me, host the app on linux

[2019-11-25 17:17] #17363 closed

[2019-11-25 17:17] anurse commented on #17325
Do you have a mix of 2.0 and 3.0 `Microsoft.AspNetCore`/`Microsoft.Extensions` packages in your dependency graph? Exceptions like this tend to occur when you have code built against a different major version trying to run against a newer/older version that has a breaking change.

[2019-11-25 17:17] mkArtakMSFT commented on #17363
We have no plans to do this, so please refer to @stsrki 's suggestions.

[2019-11-25 17:17] #17357 closed

[2019-11-25 17:19] mkArtakMSFT commented on #16970
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-11-25 17:19] #16970 closed

[2019-11-25 17:20] mkArtakMSFT commented on #17376
Thanks for contacting us.
@Tratcher is this by-design?

[2019-11-25 17:21] SteveSandersonMS opened #17382 "Enable HTTPS by default when using Blazor standalone dev server"
Currently it's only HTTP, which doesn't match most people's deployment scenario.

[2019-11-25 17:22] mkArtakMSFT commented on #17374
Thanks for contacting us.
Please share with us the project file you're observing this issue with.

[2019-11-25 17:24] pierslawson commented on #4589
No... it still appears to be an issue. From the above, the ASP.Net Core team are not going to fix it and it looks like the WAF team are not doing anything about it either. Please vote on their uservoice account:
https://feedback.azure.com/forums/217313-networking/suggestions/36260122-web-application-firewall-cookie-exclusions-only-ex

[2019-11-25 17:25] mkArtakMSFT commented on #17367
Thanks for contacting us, @ameyasubhedar.
The error indicates an issue in your project, which results in missing incompatible versions of dependencies. Can you share a minimalistic repro project, which demonstrates the problem, so we can investigate this further?

[2019-11-25 17:27] joeloff commented on #17288
@petr123321 I figured as much. I'm digging further into the log and will let you know as soon as I find anything else.

[2019-11-25 17:28] KamranShahid commented on #17325
I had an old asp.net core 2.1 which i have upgraded to 3.1.
done all the required changed and upgraded the nuget packages.
This extension is required was EventLog which i have now worked around by referecing system.Daignostic.EventLog library.
Don't know even after upgrading any old library still remains there or not

[2019-11-25 17:31] anurse commented on #17325
Can you post your `.csproj` file, so we can take a look at the dependencies list and see what might be conflicting?

[2019-11-25 17:37] bitofvg commented on #16017
[code]

[2019-11-25 17:57] pranavkm commented on #17381
This might be of help: https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script. If you have specific questions about using the script, I'll recommend filing an issue in https://github.com/dotnet/core-sdk

[2019-11-25 17:57] #17381 closed

[2019-11-25 17:57] gthvidsten commented on #17374
Here's the project file (anonymized):

[code]

[2019-11-25 18:07] mkArtakMSFT commented on #10083
Let's document what the patterns are for doing this.

[2019-11-25 18:10] mkArtakMSFT commented on #15222
From @rynowak "This likely have to do with our command-line tools, that we run inside the build"

[2019-11-25 18:13] aaronhudon-ts commented on #11331
Please don't close this.  The exception message is misleading.
If the `Model` parameter is null, throw an exception saying "Model parameter cannot be null".

[2019-11-25 18:13] mkArtakMSFT commented on #14152
Given that we heard no more reports of this for quite a while now, we're moving this issue to the `Backlog`. It will, probably, take some time for us to get to it.

[2019-11-25 18:22] mkArtakMSFT commented on #12059
@pranavkm is this still relevant?

[2019-11-25 18:29] pranavkm commented on #17316
This is a bit unfortunate, I hadn't anticipated using this attribute in code shared between Blazor and MVC.

The `ValidateComplexTypeAttribute` is at this point, only usable when used within the right context. It throws if the context isn't set up correctly. This is to avoid incorrectly using it with the `DataAnnotationsValidator` component that ships with Blazor. However, this also means using it

[2019-11-25 18:35] KamranShahid commented on #17325
That particular project where i have referenced this Microsoft.Extensions.Logging.EventLog or should i share all csproj files.
To let my project work i have already removed this particular library as i have mentioned above.

[2019-11-25 18:50] vsfeedback opened #17384 "Typo in the Create a new Project window. Blazor App"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/832375/typo-in-the-create-a-new-project-window-blazor-app.html)._

---
- Project templates for creating Blazor apps _that that_ run on the server in ASP.NET Core app or in the browser on WebAssembly. These templates can be used to build web apps with rich dynamic user inter

[2019-11-25 18:51] rynowak commented on #17242
Reopening this. We discussed and the feedback here is really about how routing parses complex segments. This comment has the explain https://github.com/microsoft/aspnet-api-versioning/issues/580#issuecomment-558249270

[2019-11-25 18:55] Tratcher opened #17385 "[Announcement] Static File CSV Content-Type Changed to "text/csv""
## Static File CSV Content-Type Changed to "text/csv"

The default Content-Type that StaticFiles uses for `.csv` files is being changed to be the standards compliant value `text/csv`.

### Version introduced

5.0

### Old behavior

The Content-Type `application/octet-stream` was used.

### New behavior

The Content-Type `text/csv` is used.

### Reason for change

This complies with [RFC 7111](http

[2019-11-25 18:56] mkArtakMSFT commented on #17384
@vijayrkn isn't this something your have control of?

[2019-11-25 19:04] vijayrkn commented on #17384
Ya, This is in our internal repo. Will get this fixed.

+ @phenning

[2019-11-25 19:10] Tratcher commented on #17376
Correct, the limit is only enforced when actually reading the body. If you're using model binding then that will happen before the action is executed. If you're not then it will only be enforced when you try to read the body directly.

Keep in mind that declaring a Content-Length on requests is optional, in many cases (Chunked, Http/2, etc.) the only way to know how long the body is is to read it.

[2019-11-25 19:26] Postlagerkarte commented on #13452
@hagaygo Very good summary!

@SteveSandersonMS  Please consider this for the 3.1.x milestone ! Please do not move this to 5.0.0

[2019-11-25 19:30] ryanbrandenburg commented on #17269
I think perhaps there is a disconnect between what you're running locally and what you've included in that ZIP. The Startup.cs of your ZIP never called `UseRequestLocalization` in the Configure method, so I don't believe it ever would have Localized at all or even set your `CurrentCulture`. You need to do something like the following at the top of your `Configure` method:

[code]

Also, I don't be

[2019-11-25 19:56] thomaslevesque commented on #17376
@Tratcher thanks. Indeed, the Content-Length might not be known in advance. For me a response with status code 500 was returned, but that's probably because of my custom exception handling middleware. I should probably let Kestrel exceptions bubble up instead of handling them.

[2019-11-25 19:56] #17376 closed

[2019-11-25 20:13] jmnorville opened #17388 "Razor Class Library Model Conflict Causes Invalid Operation Exception"
### Describe the bug
When running an ASP.NET Core MVC application with references to two or more Razor Class Libraries that contain Models with the same name, an Invalid Operation Exception occurs:
Exact error message:

### To Reproduce
A sample application is attached that will allow you to recreate the error.   This application references two simple Razor Class Libraries.  Each RCL has a model n

[2019-11-25 20:19] mgolois opened #17389 "Endpoint Routing: Find The Matched Route"
@rynowak while upgrading from .net core 2.2 to 3.0 these lines of code are no longer working. Am I missing anything? Perhaps, the way we are doing template matching have surely changed to a pattern matching. Let me know your thoughts:

[code]

[2019-11-25 20:45] luhis opened #17390 "Cannot Run Integration Tests on Linux"
### Describe the bug
I am attempting to use WebApplicationFactory to run some integration tests against my project.  They work fine in Windows, but if i run them in Linux (through CircleCI or on my Ubuntu machine) it tries to launch Kestrel

### To Reproduce
- Checkout https://github.com/luhis/CodeGolf/tree/integration_tests
- Move to ./test/CodeGolf.Integration.Test/
- run `dotnet test`

Linux Ex

[2019-11-25 21:03] mgolois opened #17391 "Endpoint Routing: Find The matching route endpoint"
@rynowak while upgrading from .net core 2.2 to 3.0 these lines of code are no longer working. Am I missing anything? Perhaps, the way we are doing template matching have surely changed to a pattern matching. Let me know your thoughts:

[code]

[2019-11-25 21:03] mrpmorris opened #17392 "Blazor: Add IHandleBeforeRender"
With reference to this ticket https://github.com/aspnet/AspNetCore/issues/17361 (Blazor @ref for dynamically generated elements) and specifically this proposed solution https://github.com/aspnet/AspNetCore/issues/17361#issuecomment-558138782

It would be useful if we could implement a new IHandleBeforeRender on our components so we can clear down a collection of ElementReference before the IHandle

[2019-11-25 21:06] ryanbrandenburg commented on #13902
This was fixed in https://github.com/aspnet/AspNetCore/pull/17162. There is still some work to do WRT improving the experience of "F5 debugging" so that it "just works", but that's something that will have to happen on the VS side, with possible reactions from us. I believe @danroth27 and possibly @SteveSandersonMS are on deck for that coordination, wherever it may happen.

[2019-11-25 21:06] #13902 closed

[2019-11-25 21:08] thomaslevesque commented on #13834
That's really bad... Definitely a bug. Any chance it could be fixed earlier than 5.0.0? I'm willing to submit a PR for this.

[2019-11-25 21:10] thomaslevesque commented on #17376
Are you sure about this? I just tried it in a fresh project with no custom middleware, and I still got a 500.

[2019-11-25 21:11] thomaslevesque commented on #17376
Ah, if I remove the DeveloperExceptionPage middleware, I get a 413.

[2019-11-25 21:13] pranavkm opened #17393 "Naming a project "website-getdonet" causes ANCM to fail loading the app"
When I try this locally, here’s the application logs I see:

[code]

Different app:
[code]

[2019-11-25 21:14] ameyasubhedar commented on #17367
@mkArtakMSFT ...

Since the issue is only coming while publishing to Azure Web Services. I did some investigation on my end. I have an exiting publish profile for My MVC Web APi project that targets .NET Core 2.2

**Attempt 1 (Issues)**
After migration to ASP.NET Core 3.1 I updated my existing Publish profile, I selected Remove additional files at the destination and it deleted a bunch of files at

[2019-11-25 21:15] arthurvaverko commented on #17090
@halter73 Hello again..
In one of our applications there seems to be a problem ..
we configured the concurrency limiter according to `Environment.ProcessorCount`
we use version 3.0.0
in our test machine when I try to load it with 10 Concurrent users I get good behavior ..
I used `dotnet-counters monitor -p 6 Microsoft.AspNetCore.ConcurrencyLimiter System.Runtime`

using `ab -p api-data.txt -T appl

[2019-11-25 21:27] Tratcher commented on #17393
Lol, do we have an EndsWith("dotnet") in there somewhere?

[2019-11-25 21:34] javiercn commented on #17390
@luhis thanks for contacting us.

I don't see how the example is trying to start kestrel. The logs that you mention come from data protection as it is warning that the keys will be stored unencrypted and that's expected.

Unless you see an output indicating that it is listening on port XXXX it is not starting any real server.

I'm closing this issue as there is no bug here.

[2019-11-25 21:34] #17390 closed

[2019-11-25 21:35] Pilchie opened #17395 "too many files open error in linux"
_From @for7raid on Thursday, November 7, 2019 7:11:03 AM_

# too many files open error in linux

After several hours of work web application on cent os 7 gets error "Too many files open"

# General

After each request to my application the system opens and keep open a lot of /dev/zero files.
I run command `lsof | grep zero | wc -l` and looking out that count of files increase and increase.

![imag

[2019-11-25 21:35] Pilchie commented on #17395
_From @scalablecory on Thursday, November 7, 2019 3:10:58 PM_

Are you opening /dev/zero, or do you think it is being opened by something within .NET?

Can you share your code?

[2019-11-25 21:35] Pilchie commented on #17395
_From @for7raid on Friday, November 8, 2019 4:57:17 PM_

We do not open /dev/zero stream in our code.
What I found out.
1. Clear (`dotnet new mvc`) application do not reproduce this issue (it seems to me)
2. We have custom fileproviders for razor and static files, and autofac with specific lifetime model. File providers use FileInfo, PhysicalFileInfo and FileWatchers.
3. It reproduce only when Raz

[2019-11-25 21:35] Pilchie commented on #17395
_From @carlossanlop on Tuesday, November 19, 2019 11:17:11 PM_

Are you properly closing the file handles (disposing the file handling objects) after using them?

[2019-11-25 21:35] Pilchie commented on #17395
_From @for7raid on Wednesday, November 20, 2019 9:06:33 AM_

After the long time of investigation we found out the reason.
We do not precompile views on publish and use runtime compilation, so .net tries find (I guess) *.views.dll, cant find it and redirect stream to /dev/zero and doesn't close it.

# Steps to reproduce:
1. Create new clear mvc app `dotnet new mvc`
2. Add runtime view compilation

[2019-11-25 21:35] Pilchie commented on #17395
_From @scalablecory on Thursday, November 21, 2019 9:06:10 PM_

Thanks, that's helpful.

@Pilchie can you help route

[2019-11-25 21:36] Pilchie commented on #17395
Tagging @mkArtakMSFT for triage.

[2019-11-25 21:44] Safirion commented on #17269
@ryanbrandenburg Thank's for reply.

I've patch the project with your suggestions and create a depo here : https://github.com/Safirion/LocalizationBugDemo

Bug is still present.

[2019-11-25 21:45] javiercn commented on #17388
@jmnorville thanks for contacting us.

I've edited the post for clarity.

What is happening is that you have two views in the same path and RCLs only allow the main app to override views in the same path. Having class libraries with views on the same path is not supported. The behavior in that case is undefined.

@pranavkm don't we throw here? Are we missing a check?

[2019-11-25 21:51] javiercn commented on #17392
@mrpmorris thanks for contacting us.

You can do this with a code fragment at the beginning of the component file.
[code]

[2019-11-25 22:40] rynowak commented on #17391
Can you be more specific about what's not working in your scenario?

[2019-11-25 23:04] luhis commented on #17390
you are right. kestrel is not running, but the test was continuing to run until it timed out on the test server.  the issue really was related to the missing settings, correcting that made the test pass in Linux the same as Windows

[2019-11-25 23:05] pranavkm commented on #17388
Views are treated like a set, there aren't any rules about having views with the same name.

Razor Class Libraries do not provide any special scoping mechanism. When you say `Partial("SomeView")`, the view is looked up across all available views. The closest you could get is adding views to areas that differ by name to isolate them to an extent.

[2019-11-25 23:35] anurse opened #17399 "Add an option to interpret request headers as Latin1 encoded"
We have customers interested in treating incoming request headers as Latin1-encoded but our default logic only supports UTF-8.

In a 3.1 patch we should provide:
* A config setting to change the default encoding to Latin1
* When enabled, Kestrel will widen each incoming byte to a UTF-16 character and build a `string` from that set of characters, **instead** of interpreting bytes as UTF-8.
* We wil

[2019-11-25 23:39] anurse opened #17400 "[Kestrel] Support for custom decoder in headers"
Follow up from https://github.com/aspnet/AspNetCore/issues/17399

In 5.0 we want to provide a hook to use a custom decoder for headers. A `System.Text.Encoding.Encoder` is probably not quite sufficient since the codec may want to see the header name in order to make decisions. A strawman API would be something like this:

[code]

[2019-11-25 23:45] wtgodbe commented on #8633
@JunTaoLuo are you on this for 3.1.1 as well?

[2019-11-25 23:47] lodejard commented on #17399
Sounds great, thank you! If I understand what you've written this it means:

- When 3.1 config flag enabled for latin1 request headers:
  - visible USASCII header-value octets `0x20`-`0x7E` are mapped to char codes `U+0020`-`U+007E`
  - opaque header-value octets `0x80`-`0xFF` are mapped to char codes `U+0080`-`U+00FF`
  - header-value octets `0x00`-`0x1F` and `0x7F` are unprintable USASCII and no

[2019-11-25 23:49] anurse opened #17402 "[Kestrel] Allow UTF-8 characters in request URL"
We want to support incoming UTF-8 characters in request URLs. We believe other servers support this, and need to do a little research to confirm that.

Today, URL characters must be in the range `0x00-0x7F` (excluding control chars). With this change, Kestrel would accept bytes **over** `0x7F` and expose them in the URL string as percent-encoded values. For example, consider

* Original requested

[2019-11-25 23:49] anurse commented on #17399
Yes, that is correct.

[2019-11-25 23:55] lodejard commented on #17399
Will there be a corresponding response header flag, to round-trip opaque data? Like

- When 3.1 config flag enabled for latin1 response headers:
  - char codes `U+0020`-`U+007E` are mapped to visible USASCII header-value octets `0x20`-`0x7E`
  - char codes `U+0080`-`U+00FF` are mapped to opaque header-value octets `0x80`-`0xFF`
  - all other char codes (`U+0000`-`U+001F`, `U+007F`, `U+0100` and hi

[2019-11-26 00:01] #17059 closed

[2019-11-26 00:07] pranavkm commented on #12059
Yes. It's the only test we have for a fairly complicated feature.

[2019-11-26 00:18] halter73 commented on #17090
I'll admit SemaphoreAwaited is a bit weird. It probably makes more sense just to call the ValueTask ctor that takes a Task so the conversion doesn't require SemaphoreAwaited to run on the threadpool. That said, the ConcurrencyLimiterMiddleware also needs to continue on the threadpool as soon as the awaited task completes, and it should continue on the same thread as SemaphoreAwaited, so this shoul

[2019-11-26 00:22] halter73 commented on #17399
We are considering this for 5.0, but so far it seems like this doesn't meet the bar for a 3.1 patch.

[2019-11-26 00:26] wulaiwei commented on #17247
services.AddAuthentication(options =>
                {
                    options.DefaultScheme = "Cookies";
                    options.DefaultChallengeScheme = "oidc";
                })
                .AddCookie("Cookies", x =>
                {
                    x.ExpireTimeSpan = TimeSpan.FromSeconds(ssoCookieLifetime);
                    x.SlidingExpiration = false;

[2019-11-26 00:27] Tratcher commented on #17247
And the Fiddler trace?

[2019-11-26 00:30] wulaiwei commented on #17247
Sorry, this problem did not occur yesterday. I cannot provide Fiddler trace.

[2019-11-26 01:29] Tratcher commented on #17247
We won't be able to help further without a trace. Let us know when you can get one.

[2019-11-26 02:09] GrabYourPitchforks commented on #17402
Just to clarify from our earlier discussions, you're allowing _any_ non-ASCII character to come through, and you're %-escaping it without regard to whether it's valid UTF-8, correct?

For example, original requested URL: `/[FF][FF][FF]`
As bytes: `[ 2F FF FF FF ]`
RawTarget would return: `/%FF%FF%FF`

And then some other component in the system would eventually say "hmm, that's not well-formed UTF

[2019-11-26 02:10] wpstan opened #17404 "How to build API documents through DocFX？"
”< see CREF > ” tag not displayed。because the sln not related。

what can i do？

thanks

[2019-11-26 02:26] Konvay commented on #11331
Just hit this issue as well, glad to have found this issue as quickly as I did.
As noted above, checking that your object is not null is one way to work around this. Another possibility would be to use a default instantiation, assuming it doesn't impact other parts of your code.

[2019-11-26 03:12] 1448376744 opened #17405 "Grpc route controller"
I want to route grpc's request to action in the controller. Can this be implemented

[code]

[2019-11-26 03:17] AgrawalAshishS commented on #15011
I am not sure what is the final solution but

`public class Program
    {
        public static void Main(string[] args)
        {
             CreateHostBuilder(args).Build().Run();
        }

        public static IHostBuilder CreateHostBuilder(string[] args) =>
            Host.CreateDefaultBuilder(args)
                .ConfigureWebHostDefaults(webBuilder =>
                {

[2019-11-26 05:06] #17405 closed

[2019-11-26 05:25] shantrendz opened #17406 "How to obtain IEnumerable<ValidationResult> from ValidationAttribute in Asp Core"
In Asp Mvc version, it was possible to get IEnumerable<ValidationResult> on IsValid method by using IValidatableObject interface.

 **public IEnumerable<ValidationResult> Validate(ValidationContext validationContext) {
// yield collection of validation results here
}**

But in Asp Core version, we intended to use ValidationAttribute to achieve custom validations. But, available method return only

[2019-11-26 05:35] Vake93 commented on #13564
Why not move the method AddNewtonsoftJson to Microsoft.AspNetCore.Mvc.NewtonsoftJson? Since this is a extension method anyway? Spend a good amount of time figuring out why the upgraded project from 2.2 to 3 isn't working with JsonConverter Attribute. Finally saw this issue and installing Microsoft.AspNetCore.Mvc.NewtonsoftJson fixed it.

[2019-11-26 06:26] KamranShahid commented on #17325
[code]

[2019-11-26 07:08] datvm opened #17409 "A way to change IFileProvider that FileVersionProvider (asp-append-version) is using?"
### Is your feature request related to a problem? Please describe.
I want to be able to serve files with a custom file path (`js/v1/foo.js` can be mapped to a real file at `wwwroot/js/foo.js`). I created `VersionedFileProvider` which could map that already. I set it like this:

        app.UseStaticFiles(new StaticFileOptions()
        {
            FileProvider = new CompositeFileProvider(

[2019-11-26 07:31] hueidou commented on #3188
Same issue. `UseProxy = false` solves the problem, but why? It will take us a lot of time if we modify it like this. It already took me two days to find this problem.

At the same machine, .net framework iis web application and asp.net core standalone command works well

[2019-11-26 07:54] arthurvaverko commented on #17090
any known way to `clrstack -all` inside a Linux container ?

[2019-11-26 08:03] bigcitydev commented on #4819
I am in the same situation.

If theres another way please let me know, i been searching for hours and found nothing.
How can this bullshit be real.

[2019-11-26 08:06] bigcitydev commented on #4819
@DamianEdwards
@Muchiachio
@ctolkien
@MikeBairdRocks
@mkArtakMSFT

[2019-11-26 08:08] bigcitydev commented on #4819
We have 2020 and hardcoded css class ! WOW

[2019-11-26 08:18] bigcitydev opened #17412 "HTMLHelper default css class names"
I want to change default css class names to support bootstrap 4.

#4819

Please look on the bottom of the issue for context and explanation

I could not believe the values were hardcoded, but after 3.0 upgrade they remove the possibility to even change them.

Is there any workaround without using tag helpers ?

[2019-11-26 08:19] woeterman94 commented on #11555
Any updates / work arounds? It's not working for me either in .NET core 2.0

[2019-11-26 08:46] Muchiachio commented on #17412
I don't think that those classes are coming from the C# code anymore, at least I don't see them used in the code or added after form submission. Where they are coming from though is the validation plugin you are using. In case you are using default `jquery-validate` library you can change default class with this
[code]

[2019-11-26 09:09] arthurvaverko commented on #17090
okay I used `dotnet-dump` to collect and analyze the clrstack
i got this

[code]

[2019-11-26 09:14] MarcorOnline commented on #4206
I solved with DI:
`public Startup(IConfiguration configuration, IHostingEnvironment hostingEnvironment)
        {
            Environment.CurrentDirectory = env.ContentRootPath;
            ...
        }`

[2019-11-26 11:55] Tratcher commented on #11555
Comments on closed issues are not tracked, please open a new issue with the details for your scenario.

The above was only a temporary regression in 3.0, it did not apply to 2.0.

[2019-11-26 12:00] Tratcher commented on #3188
@davidsh any thoughts on why it takes the proxy detection so long to time out on core?

[2019-11-26 12:14] JayConnerGhost commented on #14955
I have ended up doing the following in the Startup.cs file and setting the enviroment in the WebApplicationFactory to IntegrationTests. I hate this i feel like im polluting production code with test code...

public void ConfigureServices(IServiceCollection services)
        {
            //HACK
            IServiceProvider serviceProvider = services.BuildServiceProvider();
            var env = se

[2019-11-26 12:19] PulaSivaPrasad commented on #10353
i have updated the below things from stable version 4.0.1

Swashbuckle.AspNetCore rc4
Swashbuckle.AspNetCore.Swagger rc4
Swashbuckle.AspNetCore.SwaggerUI rc4

<img width="1920" alt="swagger error" src="https://user-images.githubusercontent.com/58215717/69632427-fd4aa600-1074-11ea-8842-830c7a2dfd4b.png">

i'm facing the issue while running the application. all the dll's are skipping loading symbols

[2019-11-26 12:31] ollieferns commented on #16965
@rynowak @javiercn could I get a response to my questions at least if there is no progress? thanks

[2019-11-26 12:33] hieu-n commented on #13704
@Grauenwolf I had the same error. It turned out, I missed "@" before the "onclick". So it must have two "@": `...@onclick="@( ... )..`

[2019-11-26 12:56] Superllb93 opened #17413 "Set response Content-length to prevent 'Transfer-Encoding: chunked'"
Recently, I tried to use docker for linux to run my ASP .NET Core project based on .net core 3.0, but, some problems blocked me all day.

After published the application on docker successfully for the first time,  error appeared when I visited the home page

![image](https://user-images.githubusercontent.com/49815294/69633438-2ece6c00-108b-11ea-9ecf-ea3c5ae02d83.png)

![image](https://user-images.

[2019-11-26 13:31] mrpmorris commented on #17194
@javiercn Could you reopen this, please? It's almost certainly not the same thing as the issue you linked to. This is a request for an array of strongly typed content, not render fragments.

[2019-11-26 13:37] mgolois commented on #17391
@rynowak given a path "/Home/Contact", I would like to return the matched route endpoint. I have a total of over 100 `routeEndpoints` , but currently for "/" path, the `matchedEndpoint` is null. This code used to work on .net core 2.2, but when I upgraded 3.0, seems like the TemplateMatcher is not quite working as before, unless there is another way to find the matching out without going thru the

[2019-11-26 13:52] jmnorville commented on #17388
Thank you for the quick response.  We have already uniquely re-named the Model and View in both RCLs to work around the issue.  But, we have several developers working on RCLs and one is not going to know what the other developers are naming their Model and Views.  If the Dictionary the CLR is building is keyed by Namespace in addition to it's current Keys, the issue should be resolvable.  Can you

[2019-11-26 13:56] mgolois commented on #17391
@rynowak I found the issue, Default route values are now located on routeEndpoint.RoutePattern.Default

[2019-11-26 13:56] #17391 closed

[2019-11-26 13:57] joacar opened #17415 "Unreachable code in HostingApplication.CreateContext(IFeatureCollection)"
### Describe the bug
The [if-statement](https://github.com/aspnet/AspNetCore/blob/16be9a264e48560e10a3ee9683ecaed342d4ca11/src/Hosting/Hosting/src/Internal/HostingApplication.cs#L62) is unreachable since direct cast never produce `null`-object.

The `httpContext.HttpContext` is **not** set if it's `DefaultHttpContext` but set in every other case. I just want to raise this, but it probably has its

[2019-11-26 14:04] WalterEbbers opened #17416 "Hosting bundle IIS reset / application pool recycle question"
Hi,
I'm currently working on expanding a setup application that downloads applications and puts them in a IIS folder. Some of the applications are asp. net core which require the hosting bundle to be installed. The setup module will install the bundle if it not found on the found on the target machine(which runs the setup application). When i was testing the bundle installer i saw in the eventlog

[2019-11-26 14:08] blowdart commented on #17402
And also it needs to be optional, with the default being off.

[2019-11-26 14:14] arthurvaverko commented on #17090
Okay .. *Facepalm*
Seems like it was all on me ... I have added the ConcurrencyLimiter middlewere twice :\
Now I'm not entirely sure why that caused it to lock at a certain load but the fact that the outer concurrency limiter did not hit the `OnExit` and did not release the `SemaphoreSlim`
while the inner ConcurrencyLimiter Semaphore was released.

I am running a full load test to verify indeed th

[2019-11-26 14:24] dri-tq commented on #17412
With Core 2.2, we were able to override the default styling of the error messages by doing the following in the Startup.cs file:

[code]

I don't remember where I took this sample code but it worked flawlessly until I upgrade my project to Core 3.0 where I get the error message:

`System.FieldAccessException: 'Cannot set initonly static field 'ValidationInputValidCssClassName' after type 'Microsof

[2019-11-26 14:26] alexandrejobin commented on #17412
With Core 2.2, we were able to override the default styling of the error messages by doing the following in the Startup.cs file:

[code]

I don't remember where I took this sample code but it worked flawlessly until I upgrade my project to Core 3.0 where I get the error message:

`System.FieldAccessException: 'Cannot set initonly static field 'ValidationInputValidCssClassName' after type 'Microsof

[2019-11-26 14:27] TheRealLenon commented on #15307
I´m a bit confused. I only use .Net Core, but facing the same problem, when login via the SignInManager. Then I can't access the User within my .cshtml Files (are those even the same?)

I could made it working by using the following code:

`                await base.SignInAsync(user, isPersistent, Data.Constants.Constants.CookieScheme);
                await _contextAccessor.HttpContext.SignInAsy

[2019-11-26 15:51] gthvidsten opened #21588 "DefaultHealthCheckService never logs exceptions from a HealthCheckResult"
### Description
The constructor for `Microsoft.Extensions.Diagnostics.HealthChecks.HealthCheckResult` has an `exception` parameter. The same goes for the `.Healthy()`, `.Degraded()` and `.Unhealthy()` helper methods.

This exception is never logged!

When looking at `Microsoft.Extensions.Diagnostics.HealthChecks.DefaultHealthCheckService` ([source](https://github.com/aspnet/Extensions/blob/v3.0.1/

[2019-11-26 15:56] mgolois opened #17417 "LinkParser: endpoints with a duplicate endpoint name were found"
@rynowak Thanks for the `LinkParser`. I'm having an exception with the code below. I'm trying to get the route values from a given route endpoint and path string.

```var routeValue = _linkParser.ParsePathByEndpointName(routeEndpoint.DisplayName, path);```

[code]

[2019-11-26 16:02] SteveSandersonMS opened #17418 "dotnet publish is broken in blazor-wasm sources"
Repro:

 * Get a clean working copy of the `aspnetcore` repo on the `blazor-wasm` branch
 * Run `build` from `src\Components`
 * `cd Blazor\testassets\StandaloneApp`
 * `dotnet publish`

Expected: publishes app (and used to do so until recently)
Actual:

[code]

[2019-11-26 16:13] SteveSandersonMS opened #17419 "Blazor WebAssembly apps throw on start with latest Mono"
The latest builds of Mono are now stricter about the args passed to `mono_call_assembly_entry_point`. Up until now, we're calling it like this:

[code]

That is, we're passing an empty array, indicating that there are no args to pass. However, the actual startup method in typical apps (and the template) looks like this:

[code]

... i.e., it takes one argument - a `string[]`. It used to be lenient

[2019-11-26 16:19] Tratcher commented on #17413
Your original incomplete chunked encoding error implies there was an exception after the response started and the response had to be aborted by closing the connection. Check the app logs for that original scenario.

Buffering the response adds memory and latency overhead and should be avoided.

[2019-11-26 16:24] Tratcher commented on #17415
Regardless of casting, why can't the original hostContext.HttpContext be null? I'd expect it to be null on the first request, the DefaultHttpContext hasn't been created yet. After that it would be cached in the hostContext.

[2019-11-26 16:26] jkotalik commented on #17415
I think this can be unit tested as well to see if you get an InvalidCastException. Try writing a unit test where hostContext.HttpContext isn't a DefaultHttpContext.

[2019-11-26 16:32] joacar commented on #17415
I'll write the unit test and report my findings.

[2019-11-26 16:33] jkotalik commented on #17416
I don't think we explicitly restart IIS/WAS via the hosting bundle. From what I thought, we update the applicationhost.config file, which could trigger restarts based on the application itself.

Can you elaborate more on this?

In general, we don't recommend installing the hosting bundle while sites are running at the same time. Maybe do red green deployment or something like that instead to insta

[2019-11-26 16:37] Mich-b commented on #6834
Same issue here, with 2.2.5 on IIS / Windows Server 2019.

Any chance this can be reopened? @bjornsublime , did you find a solution?

[2019-11-26 16:51] DaniilSokolyuk commented on #17292
@rynowak it could be fixed in 3.1?

[2019-11-26 16:54] bjornsublime commented on #6834
Not really, but I've narrowed it down a bit. The exception is only thrown during recycling of the app pool I my case. That should not happen either way though in my opinion.

[2019-11-26 16:55] SuzanneBeauchamp commented on #6834
I agree that the exception happens upon recycling of app pool.

From: bjornsublime [mailto:notifications@github.com]
Sent: Tuesday, November 26, 2019 10:54 AM
To: aspnet/AspNetCore <AspNetCore@noreply.github.com>
Cc: Suzanne Beauchamp <Suzanne.Beauchamp@georgesinc.com>; Mention <mention@noreply.github.com>
Subject: Re: [aspnet/AspNetCore] w3wp.exe crashes with Exception code 0xc0000409 (#6834)

Sa

[2019-11-26 17:27] WalterEbbers commented on #17416
Thnx for the response!

What i meant by the config was the following tag:
` <aspNetCore processPath="C:\Program Files\dotnet\dotnet.exe" arguments=".\API.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" shutdownTimeLimit="1" />`

But if the change to the applicationhost.config is necessary, we can give our customers who run the software the chance to perform the install at a moment when

[2019-11-26 17:28] Tratcher opened #17420 "HttpSys HTTP_SEND_RESPONSE_FLAG_GOAWAY detection side effects"
### Background
https://github.com/aspnet/AspNetCore/pull/14522 added 3.1 support for HttpSys GoAway via a new flag HTTP_SEND_RESPONSE_FLAG_GOAWAY. OS support for the new flag is detected by checking for an Invalid Parameter error on first use and trying again without it.

### Describe the bug
The invalid parameter error is working as expected on the server, but it has an unexpected side-effect on

[2019-11-26 17:40] mkArtakMSFT commented on #17392
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-11-26 17:41] mkArtakMSFT commented on #17384
Thanks @vijayrkn! Closing this as external.

[2019-11-26 17:41] #17384 closed

[2019-11-26 17:43] mkArtakMSFT commented on #17417
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2019-11-26 17:45] mkArtakMSFT commented on #17412
Thanks for contacting us.
This is indeed not possible at the moment. We will look into this later during 5.0 timeframe.

[2019-11-26 17:48] mkArtakMSFT commented on #17409
Thanks for contacting us. The way you've configured it is what we would also recommend.

[2019-11-26 17:48] #17409 closed

[2019-11-26 17:49] mkArtakMSFT commented on #17406
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2019-11-26 17:49] #17406 closed

[2019-11-26 17:51] mkArtakMSFT commented on #17404
Thanks for contacting us.
This is not something related to this repository. We recommend using `StackOverflow` for these types of general questions.

[2019-11-26 17:51] #17404 closed

[2019-11-26 17:52] tschissler opened #17421 "Provide a posibility to change the URL"
This is pretty much the same as requested here: #10894

I have a page with some sub navigations. Let's imagine it is a page with 5 products and for each product you can click a button to show the details. Each product can be opened with an optional URL parameter.

www.myproducts.com/        -> This will open the overview page
www.myproducts.com/2      -> This will open the page with details of pro

[2019-11-26 17:54] mkArtakMSFT commented on #17388
Thanks for contacting us.
@jmnorville there is nothing more except the above two proposals we can do. And we don't plan to change this logic going forward.

[2019-11-26 17:54] #17388 closed

[2019-11-26 17:58] mkArtakMSFT commented on #17367
Thanks for providing all the details. The publish experience is not tracked in this repository.
Please report the publish-specific issue through VS Feedback for it to get directed to the appropriate team.

[2019-11-26 17:58] #17367 closed

[2019-11-26 17:58] mkArtakMSFT commented on #17367
/cc @vijayrkn

[2019-11-26 17:59] SteveSandersonMS opened #17422 "blazor repo 'master' should use 3.1 SDK"
Hey @javiercn - as part of your work on figuring out the build/package flows, would you be able to determine what needs to happen to make https://github.com/aspnet/blazor's `master` branch build using the same SDK as in the `aspnetcore` repo's `blazor-wasm` branch? Not sure if this involves more coordination with @wtgodbe.

Alternatively we could bring back the `blazor-wasm` branch in https://gith

[2019-11-26 18:07] rainersigwald opened #17423 "Tolerate unexpanded wildcards in items in Razor language service"
This was reported as https://developercommunity.visualstudio.com/content/problem/564524/vs-2019-netcore-project-path-too-long-exception-re.html

### Describe the bug

microsoft/msbuild#406 means that some wildcard patterns can fail to expand and then be represented as literal `*` in items. Ideally that would be fixed at the MSBuild level, but a) [fully supporting long paths in Visual Studio is und

[2019-11-26 18:12] wtgodbe commented on #17422
It's easy enough to change the SDK version in Blazor's master branch, if that's what we want to do. I actually just sent @javiercn an email about this exact thing 😆.  It is actually necessary to go back to a 3.x SDK & a 3.x Arcade ASAP in order to get Blazor's master branch publishing to the same feed as AspNetCore's blazor-wasm branch. I think we need to do the following things:

1. Downgrade Bla

[2019-11-26 18:14] SteveSandersonMS opened #17424 "Can't issue HTTP requests during app startup on iOS 13"
***Triage proposal**: I think we should do this in the preview 5 milestone. We don't need to rush this in for preview 4.*

Now we've got the non-recursive interpreter change, this is the last remaining known incompatibility for Catalina/iOS 13.

If you start up a Blazor WebAssembly app on iOS 13 and it doesn't do any `HttpClient` calls during the first initialization and rendering cycle, all is OK

[2019-11-26 18:17] SteveSandersonMS commented on #17422
@wtgodbe That sounds fantastic. Thanks for looking at this!

[2019-11-26 18:18] sm-g commented on #14723
@yuchen-w You probably have nuget package which have 2.2.0 as dependency, like:

![devenv_2019-11-26_21-16-53](https://user-images.githubusercontent.com/7280273/69660828-347b8000-1092-11ea-884d-da5a2891a41a.png)

[2019-11-26 18:22] pranavkm opened #17426 "Publish with no build doesn't copy static web assets from referenced projects"
Noticed this as part of writing tests for Blazor.Build. This *might* be an issue outside blazor too. Essentially, when doing a `dotnet publish --no-build`, assets from transitive project references aren't captured. There's an explicit check in the SDK that prevents this:

https://github.com/aspnet/AspNetCore-Tooling/blob/3ed4e871790a9a56ea617cca6659033d0918a1d2/src/Razor/src/Microsoft.NET.Sdk.Razo

[2019-11-26 18:50] pranavkm commented on #17426
Uncomment tests in src/Components/Blazor/Build/test/BuildIntegrationTests/PublishIntegrationTest.cs once this is resolved

[2019-11-26 19:29] joeloff commented on #17288
Ok, it looks like it's reporting a missing directory, though the name of the directory is empty:

MSI (s) (10:88) [11:52:59:890]: Note: 1: 2727 2:

that translates to *The directory entry '[2]' does not exist in the Directory table.* and according to the log, the value for [2] is empty

I've been going through the MSI tables and I don't see anything out of the ordinary. 2727 usually indicates that

[2019-11-26 19:36] bigcitydev commented on #17412
@mkArtakMSFT

Why is not possible for example to remove the readonly from string?
So we can use 3.1 release with the workaround.

Net Core is all about cross platform and then you can't even switch CSS frameworks if you are not a rocket scientist.

For me this is a fat bug :-)

[2019-11-26 19:43] bigcitydev commented on #17412
I offer 50$ in crypto to the one who makes it happen in 3.1 😄

[2019-11-26 19:52] jmnorville commented on #17388
I added the Views that are for exclusive use by the RCL out of the ...Views/Shared directory into the Views/MyControllerName folder.  This alleviated the conflict I was having.

[2019-11-26 20:01] Hellevar opened #17429 "Blazor. Dynamically created component"
Hello everyone!
I'm working on a library, which fully generates Blazor-based component type in the runtime(by using Reflection.Emit). It produces type inherited from the ComponentBase, with it's own BuildRenderTree method logic, fields, properties and so on.
I want to render this generated component on some specific route.
At this moment i'm using approach with additional class component with code

[2019-11-26 20:13] javiercn commented on #13103
This was fixed in 4400467c15ccbf6df222e5d264afb7e3b850ea0d and will be available on the next preview.

[2019-11-26 20:13] #13103 closed

[2019-11-26 20:20] SteveSandersonMS commented on #17338
I just experimented, and the fix is extremely trivial. The bug is in this line:

https://github.com/aspnet/AspNetCore/blob/master/src/Components/Blazor/Server/src/MonoDebugProxy/BlazorMonoDebugProxyAppBuilderExtensions.cs#L150

Notice how it hardcodes the querystring parameter name as `ws`. Simply replacing this name with `wss` if you're running on HTTPS fixes it.

[2019-11-26 20:20] SteveSandersonMS commented on #17338
cc @danroth27 FYI

[2019-11-26 20:45] GRS-Leedo commented on #14561
I am having the same issue and my user is authenticated.  I am using Windows authorization and have the typical identity database structure.  Users have claims and I have an IClaimsTransformation the adds the appropriate claims from the database to the ClaimsPrincipal.

In 2.2, as soon as the user signs in, the IClaimsTransformation is hit and the claims are added.  In 3.0, the IClaimsTransformati

[2019-11-26 20:50] halter73 commented on #17090
Interesting. The app probably broke when the ConcurrencyLimiter middleware was added twice because both instances of the middleware were using the same singleton IQueuePolicy instance. Once the max number of concurrent requests were let through the outer middleware, the inner middleware must have checked the now already-throttling IQueuePolicy and seen that it shouldn't let any more requests throu

[2019-11-26 21:03] halter73 commented on #17090
@Tratcher pointed out that making the IQueuePolicy a transient instead of a singleton would have stopped the deadlock issue. Since the middleware itself has a singleton lifetime and resolves the IQueuePolicy once, this could work. This still wouldn't make it easy to configure multiple instances of the middleware differently, but that's true for an IOptions-based approach too.

Out of curiosity, @a

[2019-11-26 21:33] andoband commented on #13473
Maybe add a flow diagram kinda like Vue doc's: https://vuejs.org/v2/guide/instance.html#Lifecycle-Diagram

[2019-11-26 21:33] ctolkien commented on #17412
Seeing as the other thread was closed due to "not enough community involvement", allow me to add a useless comment to signify that this is a big and consistent pain point with using MVC.

[2019-11-26 21:50] danroth27 opened #17433 "Add Blazor survey to Blazor Server template"
The Blazor survey is currently only used in the Blazor Server template, which skews the data results. We should add the survey to the Blazor Server template as well:

- 3.1: https://go.microsoft.com/fwlink/?linkid=2112271
- 3.0: https://go.microsoft.com/fwlink/?linkid=2112158

[2019-11-26 22:05] #17392 closed

[2019-11-26 22:13] arthurvaverko commented on #17090
Nothing made it easy ...
We have multiple application that share a common middleware pipeline so I created a wrapping common midlleware that included the cuncrrency limiter.
So we have app.UseCommon() and ontop of that I added a call to UseCuncurrencyLimiter().

I agree that making the IQueuePolicy transient is a better approach.

Ill try to find some time to maybe make my first conlntrib to the A

[2019-11-26 22:17] eLPe21 commented on #8822
I've got the same with 3.1 preview on Mac Os

![image](https://user-images.githubusercontent.com/34479304/69677297-7c9ea080-109a-11ea-8d12-def939b3a2a6.png)

[2019-11-26 22:27] #17422 closed

[2019-11-26 23:17] #12832 closed

[2019-11-26 23:53] furrybaer opened #17439 "ITicketStore UserRoleClaims 431 error Request Headers too long..."
Apparently we are trying to store too many User Roles/Claims in the cookie and we are getting 431 Error Request Headers too long.  I've seen one or two posts on ITicketStore and storing in the session instead of the cookie.  Can I get verification on this?  We are using ASP.NET Core 2.2.401 and ASP.NET Identity.  If a user has 2 or 3 "Policies" with 10-20 roles in each policy, the UserClaims/Roles

[2019-11-27 00:04] rynowak commented on #17303
BTW if you need a workaround to get past this, it will probably start working if you add `[EnableCors]` to each of these action methods. I don't expect that to be required after we fix the bug.

[2019-11-27 00:16] lodejard commented on #17402
@GrabYourPitchforks yes - that's what I understood. To be honest I'd even frame the feature as:

Escape any start-line-url octets `0x80` to `0xFF` with ASCII sequence `'%' '8' '0'` to `'%' 'F' 'F'`

But I believe that's exactly right. At the moment of start-line parsing any mention of non-ASCII character codes is miles away. It's not until the raw url is passed to a `Uri` or `PathString` or `Query

[2019-11-27 00:43] lodejard commented on #17402
Actually, come to think of it... I think @Tratcher mentioned that versions of clients are known to send octets `0x80` to `0xFF` in headers like **Host** and **Referer** (sic) when international characters are octet encoded but not percent escaped.

It might be a good idea to consider a new semi-related issue for that case. Like: For Host and Referer headers (known in advance to contain Uri compone

[2019-11-27 01:30] vsfeedback opened #17441 "Multipart body length limit 16384 exceeded"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/760834/multipart-body-length-limit-16384-exceeded.html)._

---
[regression] [worked-in:16.2.2]
After updating visual studio version 16.3.2. when  using Request.Form  to get formdata from client side to API, I am getting error as 'Multipart body length limit 16384 exceeded.'

[2019-11-27 01:30] pranavkm commented on #17441
Could you share a minimal app that reproduces the problem?

[2019-11-27 03:01] Grauenwolf opened #17442 "'GetAuthenticationStateAsync was called before SetAuthenticationState.'"
### Describe the bug

GetAuthenticationStateAsync throws an InvalidOperationException with the message:

    'GetAuthenticationStateAsync was called before SetAuthenticationState.'

I do not know if this is an actual bug or just a lack of documentation on its correct use.

ref:  https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.components.server.serverauthenticationstateprovider?vie

[2019-11-27 03:20] mkArtakMSFT opened #17443 "Update Blazor WASM project template to support debugging"
To enable debugging Blazor WASM projects in VS, we need to provide JS Debugger with some gestures that the project is Blazor WASM projects.
We've agreed with the VS Web Tooling to provide a new setting in the launchSettings.json file to indicate that:
[code]

[2019-11-27 03:25] mkArtakMSFT opened #17444 "Handle `isDebugRequest` header in Blazor Middleware"
When starting the debug process, VS is going to make a request to the `/json` endpoint and pass in a new `isdebugrequest:true` header. Blazor middleware (https://github.com/dotnet/aspnetcore/blob/master/src/Components/Blazor/Server/src/MonoDebugProxy/BlazorMonoDebugProxyAppBuilderExtensions.cs) should handle this and return the CDP websocket endpoint, so VS can use to configure the debugger.

[2019-11-27 03:26] mkArtakMSFT commented on #17444
Related: https://github.com/aspnet/AspNetCore/issues/17443

[2019-11-27 03:27] vsfeedback opened #17445 "namespace Microsoft.AspNetCore.Routing / public class RouteOptions / LowercaseUrls() method / Summary text"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/733436/namespace-microsoftaspnetcorerouting-public-class-4.html)._

---
The Summary text for **namespace Microsoft.AspNetCore.Routing / public class RouteOptions / LowercaseUrls()** method reads as follows:

//     Gets or sets a value indicating whether all generated paths

[2019-11-27 03:32] vsfeedback opened #17446 "Microsoft.AspNetCore.Mvc.Filters.FilterCollection.Add() method descriptions"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/742119/microsoftaspnetcoremvcfiltersfiltercollectionadd-m.html)._

---
The **Microsoft.AspNetCore.Mvc.Filters.FilterCollection.Add()** method descriptions for overloads 2-5 are incorrect; they currently read as follows:

`Adds a type representing an Microsoft.AspNetCore.Mvc

[2019-11-27 03:33] vsfeedback opened #17447 "Microsoft.AspNetCore.Localization.RequestCulture() method descriptions"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/742118/microsoftaspnetcorelocalizationrequestculture-meth.html)._

---
Microsoft.AspNetCore.Localization  RequestCulture() method descriptions

The description for each overload of the Microsoft.AspNetCore.Localization.RequestCulture() method is not grammatically correct:

[2019-11-27 03:36] Tratcher commented on #17441
I'd expect this kind of error if there was a problem with the multipart format or boundary. A Fiddler trace of the repro would help.

[2019-11-27 04:03] DennisWelu commented on #2051
At the bottom of the thread referenced by @ghosttie was the key for me, official doc here: https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core#disable-telemetry-dynamically

[2019-11-27 04:04] shantrendz commented on #17406
Is there any class or interface available in .Net Core Packages to get IEnumerable<ValidationResult>? It is really needed, when we do dynamic validation at class level.
Would appreciate for quick reply.

[2019-11-27 05:10] yashwanthreddyg commented on #13517
We are unable to reproduce this currently. I'm closing the issue.

[2019-11-27 05:10] #13517 closed

[2019-11-27 06:34] rahulsahay19 commented on #15105
@aborderon Any update on this thread?

[2019-11-27 06:39] rahulsahay19 commented on #15105
@blowdart I have created self signed certs using Powershell and trusted the same. Then same cert I used to publish the image and run docker-compose. I am running with cert name and password. Its working well. Identity server authenticates well when it reaches from the angular client running locally on localhost:4200 to port https://localhost:9445 hosted on docker. But, the problem starts when from

[2019-11-27 08:05] satish2832 commented on #9851
What is the final solution for this issue

[2019-11-27 08:22] chucker commented on #9851
There are a lot of reasons this can happen. What kind of project are you trying to create? Have you tried deleting all obj and bin dirs and restarting VS?

[2019-11-27 09:00] kugarliyifan opened #17449 "Can't get ActionContext in IModelBinderProvider.GetBinder function ,it return null"
I use Asp.net core 3.0
I want to create myselft ModelBinder ,code like this

in start.cs

[code]
[code]

**the problem is here ActionContext return null,but this code is work in asp.net core 2.2**
var ac = (accessor.ActionContext.ActionDescriptor as ControllerActionDescriptor);

how can I get ActionContext object????

[2019-11-27 09:35] satish2832 commented on #9851
I migrated a web API project from .net core 2.1 to core 3.0. Deleted bin and obj folders, Restarted VS 2019 also. But still facing the same issue.

[2019-11-27 09:40] satish2832 commented on #9851
Severity	Code	Description	Project	File	Line	Suppression State	Suppression State
Error		The type or namespace name 'Mvc' does not exist in the namespace 'Microsoft.AspNetCore' (are you missing an assembly reference?)	WebAPI	Controllers\ValuesController.cs	4
Error		The type or namespace name 'RouteAttribute' could not be found (are you missing a using directive or an assembly reference?)	WebAPI	Cont

[2019-11-27 09:57] bgillet opened #17450 "Add new parameter to StatusCode() extension method to set status code description"
In some case, HTTP status code are a bit too generic.
So we add sometimes a custome code (ex: ALREADY_RECEIVED) in the HTTP status code's description to give more details about the reason of the returned status code.
It is possible to set the status code description in .NET but not in .NET Core.

We would like to be able to set the status code description as a string when calling the `StatusCode()

[2019-11-27 10:21] kugarliyifan commented on #17449
I want to get Action's all Attribute type in IModelBinderProvider.GetBinder,,how can I do???

[2019-11-27 10:29] kjpou1 commented on #17424
There may need to be change on the mono side to incorporate this into the WebAssembly HttpMessageHandler.

[code]

Please let me know if that is the case.

[2019-11-27 10:35] FTalour commented on #5621
Temporary fix :

To continue your debug session click on the error and then delete the generated code.

Hope it helps you.

![image](https://user-images.githubusercontent.com/19305749/69716208-e4400480-1109-11ea-89e7-b5de0d6c1267.png)
![image](https://user-images.githubusercontent.com/19305749/69716242-f3bf4d80-1109-11ea-90fb-d38a3d2970bd.png)

[2019-11-27 10:53] javiercn commented on #17450
@bgillet thanks for contacting us.

The status code description is deprecated in HTTP/2 and is not something we recommend changing. Based on that, we are unlikely to make a change like this.

[2019-11-27 10:53] #17450 closed

[2019-11-27 10:53] DanJBower commented on #16331
@legistek Was there any furter discussion on implementing these? I'm just starting out with Blazor and was looking for the best way of implementing MVVM within my blazor web app.

[2019-11-27 10:55] javiercn commented on #17446
Thanks for contacting us.

We would accept a PR for this anyone is willing to make one.

[2019-11-27 10:57] javiercn commented on #17445
Thanks for contacting us.

We would accept a PR for this anyone is willing to make one.

[2019-11-27 11:00] thuijzer commented on #15720
I ran into the same issue. But it makes sense why you should use Razor pages for login and logout.
When you set a cookie with Javascript (jsinterop) the cookie will always be visible via any Javascript. This creates a XSS safety issue. That's why you want to use HttpOnly cookies only.

[2019-11-27 11:08] Alienroid commented on #15720
Thomas is correct! I forgot the httpOnly part.

[2019-11-27 12:21] ravikank commented on #17446
I am willing to work on this one.

[2019-11-27 12:21] SteveSandersonMS commented on #17424
@kjpou1 That may be worth trying to see if it improves anything, but it looks like there is still a separate problem independently of that. I've posted more details at https://github.com/mono/mono/issues/17938

[2019-11-27 12:22] MohammedTawfik opened #17451 "ConfirmEmail always return Invalid Token"
UserManager confirmemail method always return "Invalid Token" without any details

[code]

This is Startup.cs

[code]

### Further technical details
- ASP.NET Core 3.0
- Version:   3.0.100
Commit:    04339c3a26

Runtime Environment:
OS Name:     Windows
OS Version:  10.0.17763
OS Platform: Windows
RID:         win10-x64
Base Path:   C:\Program Files\dotnet\sdk\3.0.100\
- The IDE VS 2019

[2019-11-27 12:31] marcuslindblom commented on #17303
@rynowak I have already added `EnableCors` at the controller level

[2019-11-27 13:17] blowdart commented on #17439
@HaoK do we have samples on how to create a reference cookie?

[2019-11-27 13:22] anterokarttunen commented on #12890
Does this mean that i have to stick to .NET Core 2.2 forever? omfg......

Did not find out from migration guide how to migrate these ( https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio )

[code]

[2019-11-27 13:38] ejwoerlee opened #17453 "Support for async operations"
I'm using SoapCore 0.9.9.8-beta.
Are there any development activities to enable async IO ?

This question is because AllowSynchronousIO is disabled in all servers by default
for dotnet core 3 (see https://github.com/aspnet/AspNetCore/issues/7644)

[2019-11-27 13:55] wisepotato commented on #16969
Any update on this?

[2019-11-27 14:06] uzairashraf commented on #17446
What is PR? I want to contribute, I am a C# developer.

[2019-11-27 14:37] pranavkm commented on #16969
Yes, formatters are only invoked when there are objects to serialize. There are plenty of action result types, including `StatusCodeResult`, `FileStreamResult`, `ViewResult`, `ChallengeResult` etc, that do not incur a formatter being invoked.

You should use an `IAlwaysRunResultFilter`.

[2019-11-27 14:41] yhvicey opened #17454 "IRoutingFeature is not accessible in aspnet core 3.0"
### Describe the bug
`IRoutingFeature` is not accessible in `HttpContext.Features` in AspNet Core 3.0

### To Reproduce
1. Create new aspnet core 3.0 project from template
1. Add below action in any controller:
[code]
1. Invoke this action using HTTP request
1. Result will be:
[code]

### Further technical details
- ASP.NET Core version: 3.0.0
- The IDE (VS / VS Code/ VS4Mac) you're running on, an

[2019-11-27 14:43] #2590 closed

[2019-11-27 14:44] #13109 closed

[2019-11-27 15:09] javiercn commented on #17446
Pull Request

[2019-11-27 15:21] jsacapdev commented on #17327
@Tratcher refering back to the statement _Your app doesn't have any Authorization Policies configured._ Can you provide an example of how I would configure an Authorization Policy to make this work?

[2019-11-27 15:44] Tratcher commented on #17327
I was expecting it to work with the default policy, but for some reason authentication does not run before authorization in your example.

https://docs.microsoft.com/en-us/aspnet/core/security/authorization/roles?view=aspnetcore-3.0#policy-based-role-checks.
That doc covers role auth and shows how to set a policy. Also add RequiresAuthenticatedUser and AuthenticationScheme JwtBearerDefaults.Authen

[2019-11-27 15:44] SteveSandersonMS commented on #16746
Fixed in https://github.com/aspnet/AspNetCore/pull/17430

[2019-11-27 15:48] mikesisti commented on #17129
for other folks -- .NET Standard 2.1 -> 2.0 fixes this error

[2019-11-27 15:48] roysurles opened #17457 "Asp.Net Core Blazor Server SignalR disconnects when IIS AppPool Recycling Memory is not set to 0"
Good morning,

Deploying Blazor Server app to IIS with AppPool Recycling
- Private Memory Limit NOT set to 0
- Virtual Memory Limit NOT set to 0

Causes the Blazor Server app to repeatedly lose SignalR connection.

### Further technical details
PS C:\Users\rsurles> dotnet --info
  It was not possible to find any installed .NET Core SDKs
  Did you mean to run .NET Core SDK commands? Install a .NET

[2019-11-27 15:49] SteveSandersonMS commented on #17338
Fixed in https://github.com/aspnet/AspNetCore/pull/17430

[2019-11-27 15:49] #17338 closed

[2019-11-27 15:52] SteveSandersonMS commented on #17145
Done in https://github.com/aspnet/Blazor/pull/1950, though unfortunately some iOS 13 issues remain (https://github.com/mono/mono/issues/17938).

[2019-11-27 15:52] #17145 closed

[2019-11-27 16:06] aborderon commented on #15105
@rahulsahay19 no unfortunately I have not managed to solve the problem for the moment following the previous advice ...

I will try to work on the subject soon.

[2019-11-27 16:13] davidfowl commented on #17453
Seems like that should be handled in SoapCore.

[2019-11-27 16:17] johnnyoshika commented on #12890
No, you can use NodeServices in .Net Core 3, but you'll get a deprecation warning:

![image](https://user-images.githubusercontent.com/504505/69740490-573b8200-10ee-11ea-91a7-42022045183a.png)

[2019-11-27 16:25] johnnyoshika commented on #12890
@JeremyTCD and all:

I discussed the future of NodeServices with the Microsoft team and we decided that the best path is to offer a community supported NodeServices as a drop-in replacement for existing users (using the namespace `Koopla.NodeServices`). Koopla.NodeServices will only support bug fixes and will recommend new users to use `JeringTech/Javascript.NodeJS`. Any feature enhancements will

[2019-11-27 16:55] rahulsahay19 commented on #15105
I guess, it doesn't work with self signed cert when container to container communication gets involved rather it accepts actual cert.

[2019-11-27 17:03] SteveSandersonMS commented on #17316
Automatically no-opping seems reasonable given that once we move this into CoreFx it's just going to work.

[2019-11-27 17:03] BenGrayAdams commented on #5603
Another vote.  I agree value is limited without this...I’d like to allow templated components to render markup that’s common to a family of ViewModels by using properties defined in their base type, but without generic type constraints am unable to do this cleanly.  This shortcoming wouldn't stand out as much if the rest of Blazor wasn't so damn sexy...appreciate what you guys are doing! =)

[2019-11-27 17:12] mkArtakMSFT commented on #17072
Moving this to `Preview 5` as there is some follow-up work left here with the SDK team.

[2019-11-27 17:16] mkArtakMSFT commented on #17442
Thanks for contacting us.
@SteveSandersonMS can you please look into this, thanks!

[2019-11-27 17:19] KamranShahid opened #17458 ".net core 3.0 nginix with loadbalancing giving 404 error. where should i place ForwardedHeadersOptions"
Where should i add ForwardedHeadersOptions in asp.net core 3.0 startup class

I have a case where i have nginix proxy having https is doing round robin on my web api's which are running on http

As per https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-3.0

I have added the forwarder as

[code]

nginix was working fine till i have enabled https on ngin

[2019-11-27 17:19] mkArtakMSFT commented on #17429
Thanks for contacting us.

This is not a scenario we support at the moment. Hopefully the community can help you out with this, so leaving this issue open for some time in the `Discussions` milestone.

[2019-11-27 17:25] mkArtakMSFT commented on #17421
Thanks for contacting us.
 It's unclear what is the actual question here. Can you share more details about your scenario and potentially share even a small repro project (ideally hosted as a GitHub repo)?

[2019-11-27 17:30] mkArtakMSFT commented on #17454
Thanks for contacting us.
In .Net Core 3.0 the routing engine has been replaced with the Endpoint Routing being the default. This was a breaking change announced as part of ASP.NET Core 3.0 release.
The new routing system using `IEndpointFeature` feature instead, which is a different concept. You can read more about this new routing at: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/rou

[2019-11-27 17:30] #17454 closed

[2019-11-27 17:31] mkArtakMSFT commented on #17449
Thanks for contacting us.
@pranavkm can you please look into this? Thanks!

[2019-11-27 17:32] mkArtakMSFT commented on #17447
Thanks for contacting us.
@ryanbrandenburg can you please go through the comments and fix those, if needed? Thanks!

[2019-11-27 17:33] SteveSandersonMS commented on #14517
@MarkusRodler For that scenario you would still need to use a JS event handler, since the .NET handlers are async.

[2019-11-27 17:33] mkArtakMSFT commented on #17423
Thanks @rainersigwald.
@NTaylorMullen can you please look into this? Thanks!

[2019-11-27 17:35] MarkusRodler commented on #14517
@SteveSandersonMS Thanks for the reply!

[2019-11-27 17:45] #17039 closed

[2019-11-27 17:45] jkotalik commented on #17063
This is fixed and will be released in 3.1.1.

[2019-11-27 17:45] #17063 closed

[2019-11-27 17:45] SteveSandersonMS commented on #9940
Some features are supported by web browsers, and some aren't. For the SqlClient example, that won't work from a web browser because web browsers don't offer any ability to create raw TCP socket connections - they only allow you to make HTTP requests. Also you almost certainly wouldn't want to expose your database across the internet.

[2019-11-27 17:47] jkotalik commented on #13030
Found another one that looks a bit more concerning: https://dev.azure.com/dnceng/public/_build/results?buildId=440892&view=ms.vss-test-web.build-test-results-tab&runId=14042650&resultId=114758&paneView=debug.

[code]

[2019-11-27 18:05] NTaylorMullen commented on #17423
@rainersigwald how does anything work in Visual Studio when file paths get too long? I imagine C# or C++ etc. wouldn't understand ** as part of file paths and also end up exploding.

I understand how this issue is on the MSBuild backlog but doing this work on our end would be quite large and potentially throw away given the amount of places we read/look at file paths.

[2019-11-27 18:36] houserrob opened #17460 "Cannot use dotnet core 3 and unit test of aspnet project via Azure Dev Ops Visual Studio Build Task"
#13109 # Describe the bug

We've recently tried to migrate our Service Fabric application which includes an ASPNet Core web front end and associated unit test to DotNetCore 3.  Locally there are no issues with build nor unit testing but when we run in Azure Dev Ops the build itself will consistently fail with unresolved references to the main ASPNet project.  This also reproduces with two projects

[2019-11-27 18:38] davidjackson148 commented on #17439
I have run into the same problem. Identity stores the users and all their roles/claims in a cookie. Unfortunately, that cookie then becomes too large for your browser to handle and then you get that error. Apparently ITicketStore is an alternative solution which stores the session on the browser, the downside is it doesn't work in 2.2. I am investigating solutions but it seems its a very poor impl

[2019-11-27 18:51] Pilchie commented on #17460
@JunTaoLuo does this look like the type forward issue?  Sounds like Azure DevOps doesn't have 3.0.1 targeting pack installed yet?

[2019-11-27 19:42] Grauenwolf commented on #17442
I switched to using `[CascadingParameter] Task<AuthenticationState> AuthenticationState { get; set; }` instead. If that's actually the right way to do it then a simple note in the `GetAuthenticationStateAsync` docs would be sufficient.

[2019-11-27 19:47] mrpmorris commented on #10647
Here is an example.
1: I have a service in my app that uses the Microsoft Reactive library
[code]
public static class ObservableExtensions
{
	public static IObservable<T> TakeUntilDisposed<T>(this IObservable<T> observable, ComponentBase2 component)
	{
		var subject = new Subject<object>();
		component.Disposed += (s, e) =>
		{
			subject.OnNext(null);
			subject.OnCompleted();
			subject.Dispose(

[2019-11-27 20:03] Tratcher commented on #17458
Did you also add the UseForwardedHeaders middleware in Startup.Configure?

That said, incorrectly configured forwarders should not cause a 404. Try turning your application logs up to Debug and see what routing said.

[2019-11-27 20:47] bernatgy opened #17464 "Q - Identity: Using a custom User type, UserStore, and non-string Id"
Hi,

This would be more of a general question about Identity, but I feel like the docs are confusing enough that it should be a real issue. I apologize for the long form. I have a tendency of not being able to stay concise, but I'm trying.

## For context (you can skip this)
I have a very simple setup. I want to integrate with an old firebird database that is handled by an old Dephi program. Data

[2019-11-27 21:02] Pilchie commented on #17460
Also tagging @leecow.  @houserrob How are you getting the .NET Core SDK on the build machine? Are you using the "Use .NET Core" task?  If so, can you change the version to 3.0.101?

[2019-11-27 21:12] rperazzolli opened #17465 "Incorrect operation of components contained in a list"
I'm keeping a list of floating components on a page contained in a list of components.
When I want to remove one of them, if I remove it from the list and invoke StateHasChanged, it always removes the last component from the page, regardless of which one I have effectively deleted.
The only way it works as expected is to put the remaining components in a backup list, remove all components from the

[2019-11-27 21:19] leecow commented on #17460
Ah, looking again at the output above, 3.0.101 and 3.0.1 are already installed. So the question is, why isn't the 3.0.1 targeting pack there?

[2019-11-27 21:50] pranavkm commented on #17419
Fixed as part of https://github.com/aspnet/AspNetCore/commit/0dbc5731daecd3041a38da81ff3efb300dbb7f00

[2019-11-27 21:50] #17419 closed

[2019-11-27 21:50] JunTaoLuo commented on #17460
I'm not sure if this is the type forward issue since I recall that had a different symptom. But it does seem like there's an issue with ref packs not being resolved. @houserrob were you able to capture a binlog by any chance?

[2019-11-27 22:15] DouglasRiddle opened #17467 "Blazor Integrated Windows Authentication Roles do not work with long polling"
### Describe the bug
When using Windows Authentication with a server-side Blazor application, AuthorizeView Roles="WindowsActiveDirectoryGroup" appears to evaluate correctly when using websockets. If the connection uses long polling the active directory group membership initially evaluates correctly then the screen immediately updates and removes the AuthorizeView Roles section. Using AuthorizeVie

[2019-11-27 22:40] guedouarimohamed2 commented on #12301
@TehWardy can you axplain more how you resolved this probleme ?

[2019-11-27 22:53] chucker commented on #5603
@srowan answer appears to be yes, but only after an explicit build (not at design time). The `.razor.g.cs` files don't have the constraint.

Given these two files:

[code]

[code]

The following will compile: `<TestComponent Foo="1" TItem="int" />`

But once you change the constraint to `where TItem : class` and do a full build, it won't.

So, @OkieCoder1, this may be a feasible workaround for now

[2019-11-27 22:53] TehWardy commented on #12301
In my case it was caused by the odata framework validating the entities after my controller action executed , in short ensure that your returned set is valid (data annotations).

[2019-11-27 23:27] houserrob commented on #17460
@JunTaoLuo  thanks for taking a look!  I'm attaching the diagnostics logs from the build ( assuming that's what binlogs are :))
[logs_3583.zip](https://github.com/aspnet/AspNetCore/files/3899129/logs_3583.zip)

[2019-11-27 23:31] anurse commented on #15011
@AgrawalAshishS that sounds like a different issue. Can you file a new bug with a runnable sample that reproduces the problem? If it ends up being the same root cause, that's fine, a new issue will help us ensure we triage this appropriately.

[2019-11-27 23:38] shawty commented on #11331
Snap, just tripped me up too, had the message made more sense I would have had it fixed in 30 seconds instead of spending best part of an hour searching for an answer only to find this github thread.

[2019-11-28 00:22] SQL-MisterMagoo commented on #8393
I was just reading the source and realised if you simply include `target="_top"` in your anchor, it will avoid the navigation interception and just work - not found a workaround for deep linking yet though.

This line of code in NavigationManager returns directly out of the click handler before preventDefault can be called - if there is a `target` and it doesn't equal "_self".

https://github.com/

[2019-11-28 01:18] SQL-MisterMagoo opened #17472 "Add focus support to BrowserRenderer"
### Is your feature request related to a problem? Please describe.
To set focus on an element from Blazor, currently requires and ElementReference (or an id) and a  JSInterop call in OnAfterRenderAsync.
It would be nice to be able to do this declaratively by using the "autofocus" attribute.

This is a capability of HTML, but does not work for SPA applications where the elements are inserted into a

[2019-11-28 01:24] JeremyTCD commented on #12890
@johnnyoshika I can see why some might not want to migrate to an alternative with a different codebase. Their systems are after all, running just fine with `INodeServices`. At the same time it would be inefficient to duplicate enhancements made to `Jering.Javascript.NodeJS` in an `INodeServices` clone. So overall your plan seems sensible to me.

To give users clarity on the relationship between th

[2019-11-28 01:28] kugarliyifan commented on #17449
I think I found other way to fix it,,

[2019-11-28 01:31] kugarliyifan commented on #17449
I think I found another way to fix it:
[code]
use this code,I can get the Attribute in IModelBinderProvider.GetBinder....

I think the problem is assign accessor.ActionContext property value order is wrong,I found it assign after GetBinder and beforce controller Constructor

[2019-11-28 03:20] WeihanLi opened #17474 "RateLimit support"
### feature request

I wanna limit request rate by client IP, I can do some limit on iis with Dynamic IP Restrictions, hope for a middleware with official support do something like that

### Describe the solution you'd like

maybe a middleware like `Microsoft.AspNetCore.ConcurrencyLimiter`

### Additional context

for now, I'm using <https://github.com/stefanprodan/AspNetCoreRateLimit> to limit re

[2019-11-28 06:05] KamranShahid commented on #17458
here should i add it?

[2019-11-28 06:07] Superllb93 commented on #17413
it's my fault, thanks

[2019-11-28 06:09] Tratcher commented on #17458
At the top, or right after error handling.

[2019-11-28 06:10] #17413 closed

[2019-11-28 06:13] KamranShahid commented on #17458
Let me try with

[code]

[2019-11-28 06:28] leastprivilege opened #17475 "SignInAsync sets Location header"
When calling SignInAsync on the login page, the Location header gets set to the value of the returnUrl query string parameter.

https://github.com/aspnet/AspNetCore/blob/master/src/Security/Authentication/Cookies/src/CookieAuthenticationHandler.cs#L334-L335

Besides I am unclear why this would be ever useful, this is a non-obvious side effect of calling SignIn and interferes with other logic on th

[2019-11-28 06:34] KamranShahid commented on #17458
I have tried above order of adding it. then stand alone application which is hosted on https stop working. while it is working on another instance where i have http only

[2019-11-28 07:25] plhrja commented on #17063
Awesome! Thank you for taking swift action on this, much appreciated.

[2019-11-28 08:26] Styx8888 commented on #15498
Is there any workaround for this using .net core 3.0 ?
I tried something like below, but it is not working:

app.UseEndpoints(endpoints => {
                endpoints.MapBlazorHub(o =>
                {
                    o.ApplicationMaxBufferSize = 92233720; // larger size
                    o.TransportMaxBufferSize = 92233720; // larger size
                });

[2019-11-28 08:29] Styx8888 commented on #5623
How to do it using .netcore 3.0 and blazor ?

Is there any workaround for this using .net core 3.0 ?
I tried something like below, but it is not working:

app.UseEndpoints(endpoints => {
endpoints.MapBlazorHub(o =>
{
o.ApplicationMaxBufferSize = 92233720; // larger size
o.TransportMaxBufferSize = 92233720; // larger size
});

                           endpoints.MapFallbackToPage("/_Host");

[2019-11-28 08:29] anterokarttunen commented on #12890
Thanks, sorry for being bit dramatic ( I got angularjs 1 -> 2 flashback )

And also noticed that I was missing ( because of project restructure ) both Microsoft.AspNetCore.SpaServices and Microsoft.AspNetCore.SpaServices.Extensions

Having these fixed the issue and I should be able to use dotnet core 3 yay.

![image](https://user-images.githubusercontent.com/11390969/69789554-7529e500-11c9-11ea-99

[2019-11-28 08:40] anterokarttunen commented on #12890
Final question, are these changes made because things can be simplified to single "enabler methods" like

`
public void Configure(IApplicationBuilder app, IHostingEnvironment env)
{
     app.EnableWebpackDevMiddleware();
}
`

I like net core very much but if you compare it to spring boot, you need to catch up a bit ( spring boot has plenty of awesome stuff which net core should also have )

[2019-11-28 09:14] AgrawalAshishS commented on #15011
I got it resolved by updating my startup to take IConfiguration

	public IConfiguration Configuration { get; }
        private IWebHostEnvironment CurrentEnvironment { get; set; }

        public Startup(IWebHostEnvironment env, IConfiguration configuration)
        {
            CurrentEnvironment = env;
            Configuration = configuration;
        }

[2019-11-28 09:47] javiercn commented on #17472
@SQL-MisterMagoo thanks for contacting us.

We likely don't want to do this at the language/compiler level as it will unnecessarily complicate them. I believe this can be better handled at the component level, for example with your own input components.

[2019-11-28 10:01] SQL-MisterMagoo commented on #17472
That's a real shame as all we can do from a Component is use interop , which forces us to wait until OnAfterRenderAsync and adds unnecessary overhead.

[2019-11-28 10:09] SQL-MisterMagoo commented on #17472
@javiercn Does BrowserRenderer count as language/compiler code?

Isn't it a Blazor client side library that specifically handles the rendering/interaction of Blazor with the browser DOM, of which focus is a very fundamental requirement that Blazor does not handle.

I would love to give this some time for discussion - and would be entirely happy if there was a good alternative, but JSInterop doesn'

[2019-11-28 10:46] SteveSandersonMS commented on #5485
@mkArtakMSFT I think this is something we'd expect to happen as part of #14866, since once the Blazor WebAssembly templates are moved to be with the other templates, we should automatically have all the infrastructure we need to add a true E2E test that includes publishing and running the published app through browser automation.

So, I'm suggesting this should be moved to be alongside #14866 in t

[2019-11-28 11:19] SteveSandersonMS commented on #5485
From speaking with @javiercn just now, it sounds like this might be a duplicate of work in progress by @pranavkm. Pranav, can you confirm if this is a dupe? Same for #14866 which is currently assigned to @ryanbrandenburg.

[2019-11-28 11:24] Narshe1412 commented on #7849
@Mortana89 could you share the dictionary implementation? I actually just ran into this same issue.
Thanks!

[2019-11-28 11:35] clement911 opened #17478 "AutoValidateAntiforgeryTokenAuthorizationFilter logs failures with level Information"
Shouldn't the following LogLevel be an Error or at least Warning?

https://github.com/aspnet/AspNetCore/blob/71c91f310f34423e7bff965e6280d74199a0e6fe/src/Mvc/Mvc.ViewFeatures/src/MvcViewFeaturesLoggerExtensions.cs#L74-L77

[2019-11-28 11:48] eshwar-crystal opened #25583 "Dotnet Core Project Migrated from 2.2 to 3.0.1 build fails"
# Dotnet Core 3.0.1 Project Build Fails with AuthenticationDescription error
I have been running a 2.2 project for the last 12 months and I migrated to 3.0.1 on the basis of Microsoft's documentation. The new migrated project fails with one build error as follows:

Models\ManageViewModels\ManageLoginsViewModel.cs(12,22): error CS0246: The type or namespace name 'AuthenticationDescription' could no

[2019-11-28 11:56] SteveSandersonMS commented on #17424
This is now fixed with https://github.com/aspnet/Blazor/pull/1954 (which includes the underlying fix in Mono, https://github.com/mono/mono/pull/17953).

[2019-11-28 11:56] #17424 closed

[2019-11-28 12:09] tschissler commented on #17421
Sure thing.
I have created the demo here:
https://github.com/tschissler/BlazorURLDemo

If you open the base URL and then click on Product 2. You see this:
![image](https://user-images.githubusercontent.com/11467601/69804815-a8776e80-11df-11ea-927d-23d5e2a6002e.png)
If you now want to bookmark or send the details about product 2, you will just use the base URL so when returning, you will see no pro

[2019-11-28 12:18] SQL-MisterMagoo commented on #17472
Update: I just realised this doesn't cover setting focus the first time an element is rendered...I'll dig into it and see what that would require.

[2019-11-28 12:19] egil commented on #17472
A more general solution could be to add the option to specific JavaScript to run immediately after a render of an element to the DOM is complete (which doesn't require another roundtrip/call from OnAfterRender). E.g. add attribute `@onrender="js to run"` and `@onfirstrender="js to run"`.
This is especially useful in Blazor Server where network latency can vary greatly, and you as a component autho

[2019-11-28 12:28] rysep2 commented on #12601
Is it possible to reopen this thread or do I have to create a new issue for this problem to get recognized?

[2019-11-28 12:54] rfcdejong commented on #10170
In my opinion is this workaround the only solution currently available. I tried BlazorStyled.io but that isn't as good.

I guess it is also possible to use sass, which will generate the css where BlazorScopedCss can reference to.

[2019-11-28 13:00] Tratcher commented on #17474
What's wrong with AspNetCoreRateLimit?

We don't have the capacity to write every possible middleware. The existence of a usable community project like AspNetCoreRateLimit makes this a lower priority for us.

[2019-11-28 13:02] jsacapdev commented on #17327
the following did not work for me

[code]

the controller now looks like this

[code]

and i still see the following in the logs:

[code]

[2019-11-28 13:03] Tratcher commented on #17327
That should be `[Authorize(Policy = "GetKeyRole")]`

[2019-11-28 13:07] Tratcher commented on #17458
Could you be more specific? Did this site work on https before? What doesn't work now? Adding UseForwardedHeaders should never make an application's behavior worse.

[2019-11-28 13:21] zigszigsdk commented on #4762
I assume that this was not added in 3.0.0. Any idea when we'll see it?

[2019-11-28 13:31] Flearz opened #17480 "Blazor: Problem with EventCallBack in Generic component"
### Describe the bug
My event is not called in the parent component when using EventCallBack in a child component.
I've already been through #12116 and #8385 but It still not working

### To Reproduce
My code:
Tree.razor (child)
[code]

"TEST" is correctly displayed in the console. so the problem is from InvokeAsync.

My eventargs:
[code]
MAIN.razor (parent)
[code]

I tried some of the solutions l

[2019-11-28 13:52] Tratcher commented on #4762
No, it's on the backlog. What scenarios would this unblock for you?

Do we have a design proposal for this? As a TLS feature would this require changes to SslStream?

[2019-11-28 13:52] jsacapdev commented on #17327
@Tratcher thanks - that was a typo by me and it now works. i will not close the issue for now if you feel you would like to diagnose why the behaviour is not what you expected. feel free to close if you dont think there is any value in that. thanks again.

[2019-11-28 13:55] Tratcher commented on #17327
@HaoK handing this off to you to track down why `[Authorize(Roles = "GetKey")]` didn't try to authenticate with the default auth scheme, but did challenge with it. That seems like a bug.

[2019-11-28 13:59] valeriob commented on #16637
Hi, do you guys have any feedback, or an issue on another repository i can track ?
Thanks

[2019-11-28 14:04] KamranShahid commented on #17458
Site work on https when deployed without proxy (nginix)
My devop team have done some changes in nginix after which it started to work.
I now just have to check whether above mentioned changes are still required or not.

[2019-11-28 14:09] SQL-MisterMagoo commented on #17472
I will come back to this - I have been able to test and it's not quite right...

[2019-11-28 14:21] WeihanLi commented on #17474
nothing wrong with `AspNetCoreRateLimit`, just wondering for an official support since it was  supported by iis in the past, maybe better code quality ,more convenient, better performance, just a suggestion here

[2019-11-28 14:25] schmitch commented on #12890
actually the biggest problem with `Microsoft.AspNetCore.SpaServices.Extensions` is, that some stuff is internal only, but it would be extremly useful if it would be public.
i.e. everything that worked with webpack might be replaceable by a custom "framework" to build something like `AngularCliMiddlewareExtensions` by ourself. However what's the point if everything in this package is `internal` onl

[2019-11-28 15:25] zigszigsdk commented on #4762
It's not currently a block for anything. I was looking into a site-report from https://www.ssllabs.com/, and wanted to see if I could simply just do it. As this thread was the first proper that popped up, and still lacked an update since 3.0.0 was released, I thought it was proper to request an update - since others might also find this thread as I did.

[2019-11-28 15:53] KLuuKer opened #17482 "How to Razor engine phase compilation hook"
### Is your feature request related to a problem? Please describe.
I want to write a custom html minifier that runs during the cshtml view **compilation** phase.
So **NOT at runtime**, i could write a middleware for that instead.
But why pay for all those extra bytes that i need to strip off again while they shouldn't be there in the first place....

### Describe the solution you'd like
I have tri

[2019-11-28 16:01] barahonajm opened #17483 "ConsoleLifetime being executed after HostedService"
### Describe the bug
Hi,

Not sure if I am using the generic host correctly but doing some playing with it I found when using RunConsoleAsync() is the HostedService whose methods are executed first, so I was wondering shouldn't  ConsoleLifetime be executed first?

That way I am able to end application before any work on HostedServices happens

### To Reproduce
Program.cs
[code]
ConsoleApplication.

[2019-11-28 18:06] guibirow commented on #14952
I can confirm the `.UseSetting(WebHostDefaults.ApplicationKey, typeof(Startup).Assembly.GetName().Name)` works like a charm.

Sample code:
[code]

[2019-11-28 18:16] jjxtra commented on #14952
The only issue remaining still is that razor does not work in unit tests, something to do with testhost I think, but not sure...

[2019-11-28 20:30] Tratcher commented on #17483
I don't quite follow. That Task.Run makes the order indeterminate. The main conflict here seems to be trying to use both the console logger and console input at the same time. You'd be better off disabling the console logger and using some other kind of logging if you want to write an interactive console application.

[2019-11-29 00:02] JamesNK opened #17484 "ASP.NET core GRPC server can terminate connections when `MAX_CONCURRENT_STREAMS` is breached"
Originally created at https://github.com/grpc/grpc-dotnet/issues/673 by @djluck

---

# What version of gRPC and what language are you using?
grpc=v2.24.0
lang=C#

### What operating system (Linux, Windows,...) and version?
Windows, v10.0.18362 Build 18362

### What runtime / compiler are you using (e.g. .NET Core SDK version `dotnet --info`)
v3.0.100

### What did you do?
When issuing many reques

[2019-11-29 00:07] JamesNK commented on #17484
cc @Tratcher @halter73

[2019-11-29 00:52] SteveSandersonMS commented on #17083
This problem happened to me when I only had VS Preview installed. The problem went away when I also installed regular VS (non-preview channel).

[2019-11-29 01:32] SamWhitby opened #17485 "Multiple AuthenticationHandlers not working as expected"
### Describe the bug
I have a scenario where i require two different authentication handlers. One of the handlers is to be applied to all mvc requests as the default handler. The other is to be applied to only specific controllers/actions explicitly via the Authorize attribute in combination with specifying the AuthenticationSchemes parameter.

Both handlers are added in the startup like below, wi

[2019-11-29 03:11] Tratcher commented on #17484
From the logs the extra streams do appear to be handled correctly (REFUSED_STREAM), it's only the data frames that cause an issue.
`Http2ConnectionErrorException: HTTP/2 connection error (STREAM_CLOSED): The client sent a DATA frame to closed stream ID 9.`

This looks like a duplicate of https://github.com/aspnet/AspNetCore/issues/13405 RE: gracefully draining data from refused or canceled streams

[2019-11-29 03:13] Tratcher commented on #13405
#17484 looks like another scenario that can trigger this: Start a connection and then flood it with streams before you get the first Settings that tell you the actual stream limit. The streams are refused OK, but any subsequent data frames cause the connection to fault.
`Http2ConnectionErrorException: HTTP/2 connection error (STREAM_CLOSED): The client sent a DATA frame to closed stream ID 9.`

[2019-11-29 03:22] JamesNK commented on #17484
Yes, I thought of that issue as soon as I saw this.

I wasn't aware the server terminated the connection when this happened. Killing the connection and all other streams on it in progress is a pretty big side-effect.

[2019-11-29 03:25] djluck commented on #17484
Hey @Tratcher, your summary is correct- it is only the data frames that cause the issue. However, as the client seems to transmit the header + data frames almost simultaneously, it has no ability to react to the `RST_STREAM` and "take back" the data frames.

This has been causing issues consistently in a production environment which uses the default value of 100- it was just easier to analyze the

[2019-11-29 04:36] Tratcher commented on #17484
On a single connection?

@JamesNK Yeah, it's ugly. So far it's always been triggered by another bug so the triggers were higher priority to fix.  This new scenario looks like the first trigger that isn't a bug itself. The client is aggressive but still technically within the spec.

[2019-11-29 05:09] djluck commented on #17484
@Tratcher correct. To add some further details about our production setup:
- We use `Grpc.Core`, not `Grpc.Net.Client`. Still observe the same set of errors as the reproduction code however.
- Bug can occur on idle TCP connections, not just new connections (our TCP connections will timeout after a few minutes of inactivity)
- Not _every_ request in the 1-2k burst may fail- only requests in-flight

[2019-11-29 05:35] Tratcher commented on #17484
How could that happen? The settings are negotiated at the beginning of the connection. Is the client not honoring the limit if there's a burst of requests?

[2019-11-29 05:54] Lupusa87 commented on #17472
If blazor can do PreventDefault and StopPropagation, same way set focus shouldn't be too hard.
I wish to have focus directive in blazor.

[2019-11-29 06:03] djluck commented on #17484
@Tratcher I did modify my above comment but I'll expand upon it here.

When I say "idle" connections, I'm talking about TCP connections that have been terminated after a period of inactivity. In our production setup, our primary source of "idle" terminations come from the load balancer we use (it ignores TCP keepalives). When idle connections are closed, `Grpc.Core` will not cache any discovered `

[2019-11-29 06:30] Tratcher commented on #17484
Ah, idle connections aren't really special then, they're just closed so a new one gets automatically created.

I'm not aware of any provision in the spec for a client to cache settings across connections. It makes sense that both clients start with a clean slate on each connection.

[2019-11-29 06:31] rezabayesteh commented on #5223
I think the issue is related to the wrong value for ContentRootPath.
[code]

[2019-11-29 07:35] egil commented on #17472
@Lupusa87 you cannot compare the two. stopPropagation and preventDefault were added because it was hard/impossible to achieve the effect otherwise. It's not so with focus.

[2019-11-29 07:36] wangxin12 opened #17487 "JS client don't add token to query string with accessTokenFactory"
However, SignalR is unable to set these headers in browsers when using some transports. When using WebSockets and Server-Sent Events, the token is transmitted as a query string parameter

### Describe the bug
token is not transmitted as a query parameter to the backend. I am using @aspnet/signalr 1.1.4

### To Reproduce
this.connection = new signalR.HubConnectionBuilder()
    .withUrl("/chathub",

[2019-11-29 07:53] #17487 closed

[2019-11-29 07:54] wangxin12 commented on #17487
refer #15911

[2019-11-29 09:12] IgorKonicek commented on #17347
Hi @ant-blue-butterfly @ghidello
Can you please provide me more information about used AOS extension?
1) What version were you running when turn-off solved issue? - visible in `chrome://extensions/` and next to the extension name
2) If you open AOS UI (by clicking its icon near address bar) and you navigate yourself to settings. In section Privacy, Do you have any of following checkboxes on?
![dnt

[2019-11-29 09:51] bugproof commented on #12890
Save yourself a headache and don't mix node with c# ever again, just use dedicated SSR solutions for the libraries of your choice (vue - nuxtjs, react - nextjs, angular - universal, svelte - ??). Those with already existing projects I feel your pain. My condolences.

[2019-11-29 10:12] javiercn commented on #17485
@SamWhitby thanks for contacting us.

@HaoK can you take a look?

[2019-11-29 10:35] rjgotten commented on #12890
That's exactly what `NodeServices` and everything built on it does. Its Node.js instances are plain old Node.js instances running as a normal separate processes and communicating with their parents over a HTTP connection, allowing for basic request->response RPC.

[2019-11-29 10:40] digitalsigi opened #17488 "DirectoryNotFoundException with staticwebasset"
### Describe the bug
When starting debug for blazor server hosted app I get  sometimes System.IO.DirectoryNotFoundException: C:\root\.nuget\packages\microsoft.aspnetcore.identity.ui\3.0.0\staticwebassets\V4\ error.

### To Reproduce

Good question. I have no glue how to reproduce it, although it happens regularely. I observed that when switching between IIS and calling app directly and back proble

[2019-11-29 11:12] kacey90 opened #17489 "Blazor: Blazor Hub Does not Connect Across Entire MVC App"
I upgraded a 2.2 netcore mvc project to 3.0 in order to use a blazor component in one of the views of the application. After setting up blazor on the MVC project and running it, the blazor hub connects just fine as shown in the browser console screenshot below;

![image](https://user-images.githubusercontent.com/26015234/69865225-eab4b480-12a0-11ea-91f8-e7d0299603dc.png)

but when I navigate to th

[2019-11-29 11:21] javiercn commented on #17489
@kacey90 thanks for contacting us.

You need to set the app base path in your HTML so that the app works correctly. See https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/?view=aspnetcore-3.0&tabs=visual-studio#app-base-path for details.

[2019-11-29 11:21] #17489 closed

[2019-11-29 11:22] malballah opened #17490 "The view 'Login' was not found"
I have just migrated my app from asp.net core 2.2 into 3.0 and published to azure, when I publish the project with compile razor views it gives me the error, it cannot find the file xxx.views.dll although the file is there, and if I published without compile razor views it gives me this error
"The view 'Login' was not found" although the file is there under the corresponding folder.
The project ru

[2019-11-29 11:23] javiercn commented on #17488
@digitalsigi thanks for contacting us.

That's strange. Are you using docker or customizing your environment in any way?

[2019-11-29 11:26] digitalsigi commented on #17488
Indeed. Not in this context. I do have a Docker container for this app, but there I did not observe this behavior.
What do you mean by "customizing your environment"?

[2019-11-29 11:32] javiercn commented on #17488
@digitalsigi Changing your nuget packages folder, etc. Anything that you did other than installing VS or the .NET SDK.

[2019-11-29 11:35] digitalsigi commented on #17488
I am not aware of such changes. Of course I installed a lot of nuget packages to get things done, e.g. I switched to bootstrap scss from standard css using the standard way.
But I did not fiddle around in nuget packages folder etc.

[2019-11-29 11:43] javiercn commented on #17488
There seems to be a space in the path `C:\root.nuget\packages\microsoft.aspnetcore.identity.ui\3.0.0\staticwebassets\V4\ error.`. I believe this is a bug we fixed recently (will be fixed in 3.1) but without a repro I can't tell for sure. Specially if it disappears

[2019-11-29 11:46] digitalsigi commented on #17488
Oh yeah, looks I line up with many others ...
I'll have a closer look when it reappears and notify.

[2019-11-29 11:53] Mortana89 commented on #7849
Sure, it's pretty easy;

`public class AuthorizationPolicyProvider : DefaultAuthorizationPolicyProvider
    {
        private readonly AuthorizationOptions _options;
        private readonly ConcurrentDictionary<string, AuthorizationPolicy> _policies;

        public AuthorizationPolicyProvider(IOptions<AuthorizationOptions> options) : base(options)
        {
            _options = options.Value;

[2019-11-29 11:57] massimilianokraus opened #17492 "App stuck loading dlls"
## Environment data

dotnet --info output: Version: 3.0.101; Commit: bc5f8df0f5
OS: macOS Catalina, version: 10.15.1
(less important:)
VS Code version: 1.40.2
C# Extension version: 1.21.8

## Steps to reproduce
Create a new web app with `dotnet new mvc -n MyApp`, or use any already created web app, of type "web" or "mvc".
Debug the application with VS Code or run it with `dotnet run`.

## Expected

[2019-11-29 11:58] dazinator opened #17493 "Auth Policy Provider Problem - Multiple Providers"
### Is your feature request related to a problem? Please describe.
In my application I use several libraries.
They each ship custom `IAuthorizationPolicyProvider` implementations that must be registered on startup.
ASP.NET Core only uses a single `IAuthorizationPolicyProvider`.
I'd like to use them all - in a composite manner - conceptually the same as how a `CompositeFileProvider` works - i.e eac

[2019-11-29 12:11] #17143 closed

[2019-11-29 12:31] javiercn commented on #17480
@Flearz thanks for contacting us.

@rynowak can you take a look at this and see if there's an issue?

[2019-11-29 13:54] Narshe1412 commented on #7849
Oh brilliant, I had it on a different place :)

[2019-11-29 14:21] dazinator commented on #17493
I've created my suggested solution here with tests: https://github.com/dazinator/Dazinator.AspNetCore.Authorization

I'd appreciate if you would consider implementing this pattern as part of the framework to make it easier to achieve without having to pull in third party libraries - like mine!

[2019-11-29 15:20] javiercn commented on #17472
We'll consider this feature during the next release planning period and update the status of this issue accordingly.

[2019-11-29 15:21] javiercn commented on #17467
@DouglasRiddle thanks for contacting us.

We believe we fixed this recently. Could you try and see if you can reproduce it with the latest preview?

[2019-11-29 15:23] javiercn commented on #17465
@rperazzolli thanks for contacting us.

You should use the key attribute:
https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#use-key-to-control-the-preservation-of-elements-and-components

[2019-11-29 15:23] #17465 closed

[2019-11-29 15:26] javiercn commented on #17421
@tschissler thanks for contacting us.

We would recommend you use routes for each individual product. That way they can be bookmarked. There's no difference between a button and a link, so you can use links on your elements to point to the right route.

Here are some docs that might help clarify the approach https://docs.microsoft.com/en-us/aspnet/core/blazor/routing?view=aspnetcore-3.0

[2019-11-29 15:26] #17421 closed

[2019-11-29 15:36] javiercn commented on #10647
We'll consider this feature during the next release planning period and update the status of this issue accordingly.

[2019-11-29 15:37] javiercn commented on #17490
@malballah thanks for contacting us.

@pranavkm  can you take a look at this?

[2019-11-29 15:38] javiercn commented on #17488
@digitalsigi this should be fixed in the latest preview for 3.1. Could you try that and let us know if it doesn't work?

[2019-11-29 15:38] #17488 closed

[2019-11-29 15:39] javiercn commented on #17482
@KLuuKer thanks for contacting us.

@NTaylorMullen Is this possible? Can you provide any pointers?

[2019-11-29 15:41] javiercn commented on #17478
@clement911 thanks for contacting us.

We don't think this needs to be an error/warning as it is a common situation that can occur and having a higher setting will unnecessarily trigger alerts and pollute the logs.

[2019-11-29 15:41] #17478 closed

[2019-11-29 15:42] legistek commented on #16331
Unfortunately no, I've not been able to drum up interest in this among the project maintainers.

Having worked on this extensively myself (on a proprietary project, I'm afraid), the other key item you really need besides use of `INotifyPropertyChanged` is data binding and something equivalent to dependency properties. The main problem is knowing when to trigger render tree refresh based on view mo

[2019-11-29 15:42] DouglasRiddle commented on #17467
3.1 preview? I am currently using 3.0.1 released 11/19/19.
https://devblogs.microsoft.com/dotnet/net-core-november-2019/

[2019-11-29 16:28] javiercn commented on #17467
https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-core-3-1-preview-3/

[2019-11-29 16:39] GerritBergen opened #17494 "Blazor Obfuscation"
### Describe the bug
I read that obfuscation is technically possible, because the blazor files are just .dll files. So I built a project, and obfuscated the `Client/dist/_framework/_bin/client.dll` file, but running it just crashes:

And:

Any ideas?

[2019-11-29 17:02] TobiasKoller opened #17495 "Access component generated by RenderTreeBuilder-class"
I'm using the RenderTreeBuilder-class to create dynamic content inside a dialog.

Here is some of the code:

[code]

As described above this gets rendered inside a pseudo-div-dialog.

I need to call a method from this generated component when I click the OK or CANCEL-button of my dialog because only the child-component knows what to do OnOK or OnCancel.

How can I achive this?

Tobias

[2019-11-29 17:04] rbeauchamp commented on #17338
Awesome. Thank you for the fix!

[2019-11-29 17:50] TobiasKoller commented on #17495
Ok I found the solution. Need to surround the ChildComponent with the `<cascadingValue>` tag.

[code]

In the child-component I had to add this attribute.

[code]

[2019-11-29 17:50] #17495 closed

[2019-11-29 18:17] NetTecture opened #17497 "Blazor NavigationManager.NagivateTo throwing totally useless error message."
3.0.

The following code in a component:

    protected override void OnInitialized ()
    {
        NavigationManager.NavigateTo("/login", forceLoad: true);
    }

results in:

  | Name | Value | Type
-- | -- | -- | --
▶ | $exception | {"Exception of type 'Microsoft.AspNetCore.Components.NavigationException' was thrown."} | Microsoft.AspNetCore.Components.NavigationException

There is no inner ex

[2019-11-29 18:27] HaoK commented on #17485
This was a bug in 2.1/2.2 that we have fixed in 3.0, but decided not to backport due to workarounds that should work, see https://github.com/aspnet/AspNetCore/issues/7687 for more context.

You can work around this issue by turning off
`AllowCombiningAuthorizeFilters` in mvcOptions, if that doesn't work, you can plug in a custom `IAuthorizationPolicyProvider` which just calls back into the default

[2019-11-29 18:45] Pilchie opened #17498 "When I Deploy the asp.net core 3.0 App to windows server 2012 R2，the all of IIS website are stopped？"
_From @jesen20160925 on Monday, November 25, 2019 9:58:53 AM_

as the title says，anybody can help me ? thanks!

_Copied from original issue: dotnet/core#3904_

[2019-11-29 18:45] Pilchie commented on #17498
_From @Pilchie on Monday, November 25, 2019 9:33:38 PM_

How are you doing the deployment?

[2019-11-29 18:45] Pilchie commented on #17498
_From @jesen20160925 on Tuesday, November 26, 2019 1:24:52 AM_

I installed dotnet-hosting-3.0.1-win.exe on Windows Server 2012 R2, and publish the website on IIS, and set the application pool without managed code.  and then the .net core website can run,but all of the asp.net website are can not be running,when I start them and access , they are stopped.

[2019-11-29 18:45] Pilchie commented on #17498
_From @Pilchie on Tuesday, November 26, 2019 1:27:17 AM_

@anurse @jkotalik @joeloff ideas on where this should be?

[2019-11-29 18:45] Pilchie commented on #17498
_From @joeloff on Tuesday, November 26, 2019 5:50:46 PM_

This sounds like an IIS/ANCM issue to me, but it's possible it could just be a configuration issue causing the app pools to maybe become disabled. I'm not an IIS expert, so I'd defer to @jkotalik to ask the right questions.

[2019-11-29 18:45] Pilchie commented on #17498
_From @jesen20160925 on Wednesday, November 27, 2019 12:27:38 AM_

OK,Thank you very much!

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Jacques Eloff"<notifications@github.com&gt;;
发送时间:&nbsp;2019年11月27日(星期三) 凌晨1:50
收件人:&nbsp;"dotnet/core"<core@noreply.github.com&gt;;
抄送:&nbsp;"jesen"<237745378@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [dotnet/core] When I

[2019-11-29 18:45] Pilchie commented on #17498
_From @jesen20160925 on Thursday, November 28, 2019 10:00:19 AM_

I uninstalled dotnet-hosting-3.0.1-win.exe and installed the dotnet-hosting-3.0.0-win.exe on my server,it runs well,does the 3.0.1 version not support the windows server 2012 R2?

[2019-11-29 18:46] HaoK commented on #17327
Roles doesn't use policies so its just looking for the role claim in the principal.  While GetKeyRole explicitly specifies the JwtBearer scheme inside the policies AuthenticationScheme which is why that authenticates explicitly.

[2019-11-29 19:30] Lupusa87 commented on #17472
You are right but it is not reason not to do focus from blazor.
I mentioned them to say that making focus from blazor could be possible and not too hard.

[2019-11-29 19:47] javiercn commented on #17497
@NetTecture thanks for contacting us.

Are you seeing this during pre-rendering?

If that's the case, this is a first chance exception that is thrown to cause a redirect to happen during pre-rendering and that is caught by MVC. If you turn off first-chance exceptions you won't see this happen.

If this is not the case, let us know and we will re-evaluate.

[2019-11-29 19:47] #17497 closed

[2019-11-29 20:03] egil commented on #17472
@Lupusa87 I understand. However, I much prefer if the Blazor team would add a general api that allows us to call any JavaScript function related to the just rendered element without requiring another roundtrip to the server.

Currently I am thinking the following triggers makes sense:

[code]

The important point of that `this` should point to DOM element where the attributes are added. This will

[2019-11-29 20:28] Tratcher commented on #17327
But JwtBearer was set as the default auth scheme, why didn't it run when the request arrived? This seems like an endpoint routing regression.

[2019-11-29 20:40] HaoK commented on #17327
Could be ordering, if Authorize ran before Authentication middleware?  @pranavkm do you know what the ordering is for endpoint routing and when auth middleware runs?

[2019-11-29 21:29] ghidello commented on #17347
Avast Online Security version 19.2.289
The extension icon appears greyed out on my blazor application but I'm testing on localhost and I don't know if that's the reason. If I press the icon while writing this message on github, none of the checkboxes in the "Automatically block all trackers" section is selected.

[2019-11-29 23:47] Marusyk commented on #17445
Please assign it to me. I'll prepare PR

[2019-11-30 00:09] bellagita opened #17500 "Accept @page routing and navigation with const string"
### Enable routing and navigation with const string

Not Only :

    @page "/counter"
     <NavLink class="nav-link" href="counter">

but also:

    public static class Page
    {
        public const string Counter = "/counter";
        public const string FetchData = "/fetchdata";
        public const string Index = "/";
    }

    @page Page.Counter
    <NavLink class="nav-link" href=@Page.Coun

[2019-11-30 00:42] SQL-MisterMagoo commented on #17472
@ all I have modified the original message (I left in the original as people have "upvoted")

The reason was that I finally got around to testing and realised my original suggestion was unworkable.

This alternative is meant as a jumping off point - for cleverer people than me to discuss, but minimal testing shows it to work very nicely.

@egil I think a separate issue for your suggestion would be

[2019-11-30 01:21] aubergemediale opened #17501 "Mention your good ideas front and center: Azync > Async Controller actions."
A new feature of AspNetCore 3 is that a controller action, where the method name ends with 'Async' will now return a 404 to the caller. It took me almost a day to find out, why the endpoint did not work any more after updating from 2x.

My solution was then to rename the method to DoItA**z**ync, which enabled everything again, and after updating all clients with the new Urls, all was good again.

[2019-11-30 02:40] miroslavp commented on #9825
How far are we from releasing this? As far I can see, all related issues are closed.

[2019-11-30 04:04] jeffputz commented on #6502
This is a for real problem still in the v2.2. To repro, output Request.Scheme in any secure page hosted on a Linux-based Azure App Service.

[2019-11-30 04:17] Tratcher commented on #6502
@jeffputz see https://github.com/aspnet/AspNetCore/issues/4135#issuecomment-493592243

[2019-11-30 04:20] Tratcher commented on #6502
And https://devblogs.microsoft.com/aspnet/forwarded-headers-middleware-updates-in-net-core-3-0-preview-6/

[2019-11-30 04:30] jeffputz commented on #6502
@Tratcher Good spot... I figured that was the general necessary direction, but my Google-foo failed me. Thanks!

[2019-11-30 06:37] malballah commented on #17490
It turned out it was an issue from Automapper, thank you for your interest.

[2019-11-30 06:37] #17490 closed

[2019-11-30 08:15] egil commented on #17472
@SQL-MisterMagoo thanks, I agree. I'll create a separate issue after the weekend.

[2019-11-30 08:50] Kahbazi commented on #17501
I think this change has been announced in Announcement repository.
https://github.com/aspnet/Announcements/issues/351

[2019-11-30 12:02] FrancescoLorenzetti84 opened #17502 "Allow Blazor components injection"
I think we should be able to abstract components into interfaces and inject them into other components using DI, the same way we inject other dependencies. Something like this:

### TextBox.razor
[code]

### Startup.cs
[code]

I know that it's already possible to render the injected instance of `IComponent` using `RenderTreeBuilder`, but the syntax required to do that is incredibly verbose. It wou

[2019-11-30 13:26] dotnetjunkie commented on #14247
The integration of non-conforming containers, such as Simple Injector, Castle Windsor, and Ninject, depend on the existence of good interception points, such an `IHubActivator<T>`. Removing these interception points is a big oversight IMO, and an abstraction to intercept the creation of hubs (and possibly other SignalR root types) should be reintroduced a.s.a.p.

Take for instance on how Simple In

[2019-11-30 13:44] blowdart commented on #17493
Frankly we've not considered the idea of multiple providers, it's rather odd to my mind. A provider for policy is the last fallback for someone who can't get what they want out of what we implemented. Are these your libraries? What are they doing that they need to override everything?

[2019-11-30 13:56] rcollina opened #17503 "Named options: list of names"
Hello, as suggested in https://github.com/aspnet/AspNetCore.Docs/issues/15925 I’m opening a feature request.

I need a way to obtain the list of names for a given option type.

I haven’t found a workaround for this yet.

Thanks

[2019-11-30 14:48] ponchautf commented on #14271
Hi,

Did you have any progress to share about this issue progress?

[2019-11-30 14:49] fremler commented on #11331
I get this error when I refresh a page. And to null check the form model does not help either. The first time the page loads fine, but when pressing F5 I get the error.

[2019-11-30 15:59] mrpmorris opened #17504 "Blazor: Provide common Promise<void> for when Blazor starts"
### Is your feature request related to a problem? Please describe.
We can currently set autostart="false" on the the Blazor `<script>` tag and then use the JavaScript `Blazor.start({}).then(.........)` to execute JavaScript we need to run as soon as Blazor starts.

Using this approach is not suitable for library developers, because Blazor.start can only be called once.

### Describe the solution y

[2019-11-30 16:37] davidfowl commented on #14247
I’m not sure why you needed a hub dispatcher in the first place but I do see a bigger need to support decorators in the default container.

[2019-11-30 16:52] dotnetjunkie commented on #14247
David, you are ignoring my bigger point here: the need to have good interception points. This goes beyond DI. You, as architect, should be pushing this message, to make the platform as extendable and usable as possible for anyone.

[2019-11-30 17:07] aubergemediale commented on #17501
Indeed!

[2019-11-30 17:07] #17501 closed

[2019-11-30 18:08] davidfowl commented on #14247
The system is fundamentally based on DI, non-conforming containers plug into the existing system using the built in DI. Before the solution you proposed was using inheritance as a workaround to do decoration around the default implementation. Decoration would allow this in a more elegant way. As for blazor, there’s work to be done there.

We try to apply the same patterns across the stack for acti

[2019-11-30 18:38] adrianwright109 commented on #17446
PR #17505 submitted.

[2019-11-30 20:18] idchlife commented on #10170
As well as I like existence of blazorstyled.io, I believe it's not as easy to understand for people coming from Angular/React (with addons to write css right into components).
It's kinda... overcomplicating things. What we basically need (IMHO at least):

[code]

In end html this will become something like

[code]

So class styles wont be conflicting with other (global) styles.

We already have Bl

[2019-11-30 22:40] DerHulk commented on #5780
It would be nice to have nativ support from ms for webauth. I think this will also help to get more people interesset in this.

[2019-11-30 23:32] TheGrandUser commented on #8393
I just tried that in my project and it's still redirecting to the root url, not scrolling to the element.

[2019-11-30 23:35] SQL-MisterMagoo commented on #8393
Can you share the link?

[2019-11-30 23:53] TheGrandUser commented on #8393
It's <a href="#k28" target="_top">#28</a>

And the element it refers to on that page is

<h3 id="k28">...</h3>

It's as straight forward as it can be

[2019-12-01 00:12] SQL-MisterMagoo commented on #8393
@TheGrandUser is this server side Blazor or web assembly?

[2019-12-01 00:13] TheGrandUser commented on #8393
This is server side, using .net core 3.1 in the VS preview

[2019-12-01 00:30] SQL-MisterMagoo commented on #8393
@TheGrandUser if the page is not the root of your site you will need to include the page route in the anchor href because Blazor uses root relative link resolution. Have you tried that?
`href=mypage#k28`

[2019-12-01 01:34] TheGrandUser commented on #8393
Ok, that works

[2019-12-01 02:35] OdeToCode commented on #17083
I had the same experience as @SteveSandersonMS. Once I had non-preview VS installed the build got a bit further, anyway.

[2019-12-01 05:59] brianmed commented on #5894
If you use Serilog, then you can try this Middleware:

- https://github.com/brianmed/SerilogW3cMiddleware

[2019-12-01 07:27] lonewolfnsp opened #17506 "StopAsync in worker service's Worker class not invoked when running as Windows service at system shutdown/restart"
wonder if you guys have encountered this before. I wanted to have grpc server+web api running as windows service as it's meant for a long runningprocess. The web API is basically just for runtime monitoring of internal states.. So I created a new grpc service (.net core 3), and add in the worker class, and add the controller etc.. and used the Microsoft.Extensions.Hosting.WindowsServices nuget pac

[2019-12-01 10:17] JamesNK opened #17507 "Locking down response during a request"
This is related to an issue raised for gRPC - https://github.com/grpc/grpc-dotnet/issues/674

**Background:**

A gRPC response always has a status header/trailer. The status goes in the header if there was no messages written, otherwise it goes in the trailer.

When adding the status, the gRPC server will check `Response.HasStarted` to see if the response has started or not. If it has started then

[2019-12-01 12:17] dazinator commented on #17493
@blowdart
So, just a recap from [the docs](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/iauthorizationpolicyprovider?view=aspnetcore-3.0):

In my case I have a library that allows you to add user permission based authorisation to your app. To repeat the docs, it wasnt desirable to register individually every possible permission combination as it's own policy ahead of time. T

[2019-12-01 13:28] tomRedox opened #17508 "Blazor circuit errors should be record as 'Error' rather than 'Debug' by the logging"
I'm adding Blazor components into an existing MVC application.

My solution contains:
 - A server side Blazor project
 - An MVC project
 - lots of other library projects

All running on .NET Core 3.1 Preview 2 or .NET Standard

I place the components from the Blazor project on my MVC pages like this:

[code]

If that component fails during the [Component Instantiation](https://docs.microsoft.com/e

[2019-12-01 14:45] dotnetjunkie commented on #14247
Hi @davidfowl,

It would indeed be beneficial to see decoration been added as first-class citizen to the built-in Container, that's for sure. That would certainly have made the [integration I proposed](https://github.com/simpleinjector/SimpleInjector/issues/631) for integrating Simple Injector with SignalR Core 2 (a bit) "more elegant."

But although an improvement, this doesn't solve the problem

[2019-12-01 15:12] jasselin opened #17509 "RouteValueDictionary prevents assembly from being unloaded"
I am trying to load and unload an assembly containing controllers using the way explained here:
https://docs.microsoft.com/en-us/dotnet/standard/assembly/unloadability

Having trouble unloading the assembly and having a look with WinDbg, I found that RouteValueDictionary, probably used by the endpoint middleware is holding references to types in the assembly, which seems to prevent it from being u

[2019-12-01 18:31] davidfowl commented on #14247
It would make lots of things easier and that’s a better solution for “hooking into” the hub dispatcher. All of the above implementations are trying to decorate in some form (otherwise it would just break how the system works).

I don’t understand why it isn’t sufficient to create the scope in the activator itself and destroy it in dispose. What doesn’t work there?

[2019-12-01 18:43] robinwilson16 commented on #14842
Hello @javiercn
Unfortunately I have now migrated all my projects to 3.0. Maybe this issue was fixed in a more recent update as I hit the issue a month ago and it happened with all my projects which had all been created at different points but all had the issue.
If it happens again I will let you know but for now all the projects I am working on are already at version 3.0 so I don't have anything

[2019-12-01 18:55] 40345839668 commented on #14842
Thank you for your interest but i am not able to keep a 15-year Microsoft profile long-term and up-to-date with this hardware

[2019-12-01 19:07] sreejukg opened #17510 "The current .NET SDK does not support targeting .NET Core 3.0. Either target .NET Core 2.2 or lower, or use a version of the .NET SDK that supports .NET Core 3.0."
### Describe the bug
When I create a ASP.Net Core 3.0 web application in Visual Studio 16.3, it displays an error
The current .NET SDK does not support targeting .NET Core 3.0.  Either target .NET Core 2.2 or lower, or use a version of the .NET SDK that supports .NET Core 3.0.

When the application is running in IISExpress, it shows the following error.

HTTP Error 502.5 - Process Failure

### To

[2019-12-01 19:28] CoskunSunali commented on #13996
@pranavkm Thanks for the quick fix.

[2019-12-01 20:02] blowdart commented on #17493
I'm honestly not sure that was the intention. Multiple sources could run in any order. What happens if multiple sources want to handle the same policy name? You can't know which one will resolve it.

[2019-12-01 20:33] #17446 closed

[2019-12-01 20:45] #17445 closed

[2019-12-01 21:05] SamWhitby commented on #17485
@HaoK, neither of the suggested workarounds seem to resolve the issue.
Test code for AllowCombiningAuthorizeFilters workaround can be seen [here](https://github.com/SamWhitby/NetCoreAuth/commit/0e96318eb0999653ab48190486c6cdfd34a3e123)
Test code for the IAuthorizationPolicyProvider workaround can be seen [here](https://github.com/SamWhitby/NetCoreAuth/commit/dd0fe178928c15c100f8c54ee4310436f0717af

[2019-12-01 21:32] blowdart commented on #17493
@HaoK do you have any advice here? Am I way off base?

[2019-12-01 22:11] tvkit commented on #8269
The issue remains as a current & mutual problem, @blowdart  -- assuming developers have a say...

## Stack Overflow - Developer Survey Results - 2019

[Most Loved, Dreaded, and Wanted Web Frameworks](https://insights.stackoverflow.com/survey/2019#technology-_-most-loved-dreaded-and-wanted-web-frameworks)

![so-poll-2019](https://user-images.githubusercontent.com/28468364/69921045-b128a880-145c-11e

[2019-12-01 22:50] KathleenDollard commented on #2738
@Gruski I have been travelling and just catching up.

If you have your UI in Vuew.js, can you just use ASP.NET Core MVC/WebAPI? This works fine. While this article is a bit much in including Angular, it does show the general technique: https://devblogs.microsoft.com/vbteam/combining-angular-visual-basic-and-net-core-for-developing-modern-web-apps/

There are two areas of issues with support:

* Ra

[2019-12-02 06:52] der-Daniel commented on #15307
A Blazor Component is annotated with `@page {url}`. I think it can be a `.cshtml` file, but usually it is a `.razor` file.

`SignInManager.SignInAsync(...)` internally just calls `HttpContext.SignInAsync(...)`. This is the part that confuses me.

The reason your code run is probably the `HttpContext.SignInAsync` command.

[2019-12-02 07:10] leastprivilege commented on #17083
Here's the output when I run with the `-bl` switch - it seems it deliberately uses this msbuild version

[code]

[2019-12-02 07:10] leastprivilege commented on #17083
..I don't have VS preview installed at all.

[2019-12-02 07:55] clement911 commented on #17478
Thanks @javiercn  for the quick response but please allow me to push back a little bit.

There are 2 cases that I can think of why anti forgery validation would fail.

1) The site is under attack.
In that case, I definitely want to know about it so I can assess the threat fully and potentially take action.
If the log level is `Information`, the attack will most likely go un-noticed.

2) The site h

[2019-12-02 08:12] hueidou commented on #3188
Problem solved. I deleted all user's proxy settings by regedit.exe, and it works.

Regedit location(delete all userId's):
HKEY_USERS\{userId}\Software\Microsoft\Windows\CurrentVersion\Internet Settings

Be careful in production environment!!!
This is not offical method!!!

[2019-12-02 09:10] Daniel-NP opened #17514 "Uncatched Http Exception when using AWS Cognito with v3.1.0-preview3"
### Describe the bug
I'm using AWS Cognito for authentication. When I try to login with false credentials in v3.1.0-preview3 there is an unhandled exception. Doing the same in v3.1.0-preview2 the exception is catched correctly:

    @inject HttpClient http
    <div>
        <button type="button" class="btn btn-danger bg-red" @onclick="@(() => LoginAsync())">Anmelden</button>
    </div>

    @code{

[2019-12-02 09:34] buehler commented on #10170
@idchlife Very nice description :-)

this would be such a nice addition. this would also improve the usage for production / development. During development the styles of a component can be added to `<style>` tags and when compiling for production usage, there could be a combined css file which can be included into the resulting application or bundle. (opt in / out ofc)

[2019-12-02 09:42] oatsoda commented on #13709
@quoctuancqt You need to add a "using" statement to wherever you added the `RedirectToLogin` component.

If you added it to a folder called `Components` in your app (called BlazorApp2) then add the following to the `_Imports.razor` file:

`@using BlazorApp2.Components`

[2019-12-02 09:48] dazinator commented on #17493
1. Why is it important to know which provider sourced the policy?
2. Conflicts can be avoided by making sure each provider has a unique policy name prefix. The author of a provider could make this prefix a sensible default but it could also be configurable so that no application need have conflicts.
3. You can say exactly the same about CompositeFileProvider, where two different IFileProviders mig

[2019-12-02 11:09] TulyOpt opened #17515 "Publishing Pdbs as assets to debug with SourceLink"
Hi, I am trying to debug a dotnetcore 3.0 OpenId Server (using IdentityServer which itself uses the AspnetCore librairies that I am trying to debug) . I tried to compile the libraries and add the pdb to my project directory but the process is really tedious :

- I  have to rename all the dependencies with the correct tags
- I have to modify the Nuget.config to point to local directory
- I have to

[2019-12-02 11:39] martincostello opened #17516 "NullReferenceException thrown by IISHttpContext.AbortIO in ASP.NET Core 3.0.1"
### Describe the bug

From a weekly review of our production error logs, we noticed a single isolated example of the following exception from an ASP.NET Core 3.0.1 app running on Windows Server 2016 with IIS in-process hosting:

[code]

### To Reproduce

Unknown - presumably some edge-case when the client disconnects.

From looking at the code, I'd guess that _somehow_ `_bodyOutput` was `null`.

h

[2019-12-02 11:48] javiercn commented on #17478
@clement911 A simple common case where your antiforgery token will fail validation.

You open two tabs and render a form at the same time, if the two requests happen in parallel is almost guaranteed that two different tokens get generated and one is wrong as the associated cookie will be overriden in the response.

Another classical scenario is when a user is authenticated, and renders a form and

[2019-12-02 11:54] javiercn commented on #17515
@TulyOpt thanks for contacting us.

ASP.NET Core already supports sourcelink and publishes PDBs to the appropriate symbol servers for all the releases.

I suggest you look into https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/sourcelink and also turn off "Just my code" in visual studio if its not working for you at the moment.

We use it ourselves many times to debug/troubleshoot

[2019-12-02 11:54] #17515 closed

[2019-12-02 11:57] javiercn commented on #17514
@Daniel-NP thanks for contacting us.

@SteveSandersonMS do you have any thoughts? Seems like an HTTP Client issue to me.

[2019-12-02 12:00] javiercn commented on #17508
@tomRedox thanks for contacting us.

I believe you should see a gold bar at the bottom of the page.
@ryanbrandenburg do we not show this when a component fails to instantiate during development?

@danroth27 I think if we don't show a visible indicator, this is something we could do during development.

[2019-12-02 12:02] javiercn commented on #17504
@mrpmorris thanks for contacting us.

We'd like to understand more about your scenario. Could you please elaborate on the scenario and the problem you're trying to solve?

[2019-12-02 12:07] tomRedox commented on #17508
@javiercn should the gold bar work for a Blazor server side component that's running on an MVC page?  I thought the gold bar only applied for when the whole app was Blazor?

[2019-12-02 12:08] javiercn commented on #17502
@FrancescoLorenzetti84 thanks for contacting us.

The framework is responsible for the lifetime of components, as such they can not be part of the DI container.

I'm not sure what specific API you are referring to, but it is likely that if you are working at that level you will likely be interfering with the Blazor rendering algorithm and you are going to get undefined/unpredictable behavior.

We

[2019-12-02 12:11] javiercn commented on #17500
@bellagita thanks for contacting us.

Instead of using the `@page` directive you can use the `@attribute` directive and specify the route attribute manually yourself.

That should allow you to use constants.

I'm closing this issue as the question has been answered. If you still run into issues feel free to comment on this issue and we'll re-evaluate.

[2019-12-02 12:11] #17500 closed

[2019-12-02 12:13] javiercn commented on #17508
@tomRedox those are not two different scenarios. A "blazor app" is just an MVC/RazorPages app rendering a single component that happens to represent an entire application.

[2019-12-02 12:15] javiercn commented on #17494
@GerritBergen thanks for contacting us.

We believe you'll get a better response in the mono repository as this is not blazor specific.

I'm not sure why you are trying to obfuscate the assembly but in my personal experience that's not something that helps or provides any security whatsoever, if anything, it provides a false sense of security, so I would stay away from it.

[2019-12-02 12:17] #17494 closed

[2019-12-02 12:23] Danielku15 commented on #17329
Great to hear that "will be" possible. Unfortunately I'm currently stuck to 2.x due to OData hence no migration is possible for me. But with knowing this is available there is no need for another change/feature.

[2019-12-02 12:23] #17329 closed

[2019-12-02 12:34] FrancescoLorenzetti84 commented on #17502
@javiercn imagine that over time you start building your own library of reusable components, and some of these components internally use other components. For instance: you build a `LoginForm ` component that internally uses a custom `Input` component. Such `LoginForm` component will be used many times across different projects, and in some occasions you might want to customize the way the interna

[2019-12-02 13:06] clement911 commented on #17478
Thanks, I wasn't aware of this scenarios.
I would love to understand this better and ensure we are not making the user experience worse by enabling CRSF validation.

I wasn't able to reproduce this. Do you expect the CRSF cookie to be reset on every request?
It's not what I am seeing. We get a session cookie valid across all tabs.
The request token is different each time but the cookie token remai

[2019-12-02 13:20] javiercn commented on #17478
This only happens when you don't have a cookie and you open two tabs simultaneously. Its not a common issue, if you want to trigger it, try adding a Task.Delay to both responses and opening two tabs in a browser without antiforgery cookie.

I'm referring to the authentication cookie expiring (for example identity, if you chose remember me) and leave the tab with the form open after you have authen

[2019-12-02 13:26] mrpmorris commented on #17504
Hi

A simple example is some JavaScript that invokes a static .NET method in order to get an API key that is stored in appsettings.json.

The use case isn't really that important, the problem is that any JavaScript that needs to call a static .NET class on startup cannot do so because there is no way to know when Blazor is ready to service the call.

The app developer can do this by calling `Blazo

[2019-12-02 13:36] javiercn commented on #17502
@FrancescoLorenzetti84 thanks for the clarification.

The way you are rendering the component currently is causing you to perform additional work. I believe the core of your scenario involves simply having a "Name" you can use as an abstraction within your components to reference a "primitive" in markup without referring to a specific implementation.

I think that you can achieve this without rely

[2019-12-02 13:41] javiercn commented on #17504
@mrpmorris I wouldn't recommend any javascript library to automatically perform any action (specially involving dotnet) immediately after being loaded by the browser.

The right pattern to follow here is for the library to expose an init/initialize method or similar and call that from the resulting promise from Blazor.start. So equivalent to what you suggested above

[code]

[2019-12-02 13:46] clement911 commented on #17478
Oh I see now how that could happen thank you.
From a UX perspective this is acceptable as it should be an edge case.

I do have another question though, regarding the identity used to generate the CSRF cookie.
In our app we use several authentication schemes, each with the own identity cookie.
We don't have a default scheme and a user can be authenticated with multiple schemes at the same time.

W

[2019-12-02 13:48] stsrki commented on #17502
@javiercn I also think the use-case that @FrancescoLorenzetti84 is proposing should be able to do. I would like to be able to define custom implementation of the existing components in my library. Just like in the example above.

What I don't agree with, is injecting components via `@inject IInput Input`. I think Blazor should be able to do that by it'self if we told it in advance.

So for example

[2019-12-02 14:09] javiercn commented on #17478
@clement911 You can check the implementation here https://github.com/aspnet/AspNetCore/blob/master/src/Antiforgery/src/Internal/DefaultClaimUidExtractor.cs#L25

I don't remember the exact details, but we take into account all identities in the principal.

[2019-12-02 14:13] danroth27 commented on #9825
We're getting close. There's still some work to do on the .NET runtime side to make sure all the .NET Standard APIs used by the .NET SignalR client are supported and functioning appropriately. This should happen as part of the upcoming Blazor WebAssembly release.

[2019-12-02 14:23] davidsh commented on #3188
Proxy detection is a network activity. I'm assuming that the IE settings were set to "Automatically discover a proxy". We use WinHTTP APIs to do that work which involved WPAD protocol on the network. It's possible that waiting for that activity which uses both DNS record lookup and DHCP protocol could be time consuming on certain networks.

[2019-12-02 14:34] FrancescoLorenzetti84 commented on #17502
@javiercn I see your point, but the "name" thing feels a bit like a hack and sometimes just doesn't work simply because you want to have 2 different implementations of the same interface being used in the same app in different contexts and you cannot have 2 files with the same name (not to mention that you wouldn't be able to decide according to what logic one should be used over the other).

I re

[2019-12-02 15:08] mrpmorris commented on #17504
I agree that is currently the correct approach but, as you know, library creators like to go for as little boilerplate as possible.

Compare the instructions
(My suggestion)
1. Add NuGet reference to the package
2. Add a `<script>` reference (would be nice not to have to do this in the future)

(Current process)
1. Add NuGet reference to the package
2. Add the `<script>` tag
3. Alter the _Host.csh

[2019-12-02 15:18] egil opened #17517 "Make DOM element JavaScript lifecycle callbacks declarable in Razor syntax"
Inspired by @SQL-MisterMagoo's issue [#17472](https://github.com/aspnet/AspNetCore/issues/17472), I suggest the following generalized solution:

### Describe the solution you'd like
When defining a HTML element to be rendered in the browser in Blazor, it should be possible to specify JavaScript functions that are executed in the context of that HTML element, when it is **first rendered**, **render

[2019-12-02 15:20] GerritBergen commented on #17494
@javiercn It's not for security purposes, because I'm well aware that if an attacker wants to see the code, he'll see it. It's more about deterring the average joe.

[2019-12-02 15:30] drauch opened #17518 "How to implement the double cookie policy for the SameSite policy changes"
In contrast to your recommendation described [here](https://devblogs.microsoft.com/aspnet/upcoming-samesite-cookie-changes-in-asp-net-and-asp-net-core/) and [here](https://github.com/aspnet/AspNetCore/issues/14996) we want to go with Google's recommended solution: namely setting two cookies (if you want to know why, see details below).

**Question: How would one implement the 2-cookie-solution usi

[2019-12-02 15:39] DouglasRiddle commented on #17467
Using 3.1.100 preview 3 SDK with Visual Studio 16.4.0 preview it is doing the same thing.

[2019-12-02 15:47] furrybaer commented on #17439
@davidjackson148 , did you upgrade to 3 yet?  Does it work there?  It is still in preview, correct?  Thanks.

[2019-12-02 15:48] bellagita commented on #17500
I try it: works good!

thanks.

[2019-12-02 15:51] iannewson opened #17519 "SignalR Java client: allow customisation of the Gson deserialisation process"
Hi, I'm using SignalR in an Android app. One of my models includes a date. SignalR will not deserialise a model which includes a Date (either java.util.Date or jodatime DateTime) as it doesn't know how to deserialise a date from a string.

Gson provides the ability to support this by customising the instance of Gson via GsonBuilder and the registerType* methods.

Please expose a way to customise G

[2019-12-02 15:55] javiercn commented on #17509
@jasselin thanks for contacting us.

It is likely we don't support what you mention. While you can unload assemblies in .NET Core, loading and unloading controllers, etc is not something we have explicit support as far as I know.

@rynowak might have some suggestions here, but in principle I would say this is not something we support.

[2019-12-02 16:04] Tratcher commented on #17506
Duplicate of https://github.com/aspnet/Extensions/pull/2705, already addressed in 5.0.

[2019-12-02 16:04] #17506 closed

[2019-12-02 16:09] damianac commented on #8110
This problem is related to Mac only it seems, so your solution doesn't seem applicable to this problem.

[2019-12-02 16:14] Narshe1412 commented on #7849
Btw, this was happening just in a couple of machines. We had no errors in any Dev or QA machines, neither in production. If anyone stumbles upon this issue and can shed some light in why it may not be 100% reproducible all help welcomed.
Thanks again @Mortana89

[2019-12-02 16:27] BrennanConroy commented on #15498
Take a look at `MaximumReceiveMessageSize` https://docs.microsoft.com/en-us/aspnet/core/signalr/configuration?view=aspnetcore-3.0&tabs=dotnet#configure-server-options

[2019-12-02 16:51] BrennanConroy commented on #9825
If you use the latest nightlies and only use LongPolling then the .NET client should be working.

[2019-12-02 16:53] rainersigwald commented on #17423
Things generally fall apart if important project files exceed MAX_PATH. In the case in the original bug, the files in question generally weren't important to design-time scenarios, so failing to load the project because they were globbed in was a bigger problem: if the failed-glob files just failed to expand, the project would be mostly usable, but instead it just blew up.

The ideal thing here wo

[2019-12-02 16:55] rynowak commented on #16864
This is a breaking change, we should review it as such and announce it.

[2019-12-02 16:56] #14789 closed

[2019-12-02 16:57] HaoK commented on #17439
We don't have any inhouse samples I don't think do we @Tratcher ?

This article seems ok https://ml-software.ch/posts/implementing-a-custom-iticketstore-for-asp-net-core-identity

[2019-12-02 16:57] HaoK commented on #17439
Can swap out storing the ticket in something other than a Database in the implementation as well (MemoryCache?)

[2019-12-02 17:01] davidfowl commented on #17509
I don't think this is true. While we didn't explicitly do any work to support this scenario we should be aware of the things we do that would prevent it from working. This may just be the tip of iceberg so we should keep an eye out as more people build more plugin like systems like this.

I could imagine a universe where we do some work here to avoid this cache if we're not in the default load con

[2019-12-02 17:02] Tratcher commented on #17439
ITicketStore MemoryCache proof of concept:
https://github.com/aspnet/AspNetCore/blob/62351067ff4c1401556725b401478e648b66acdc/src/Security/Authentication/Cookies/samples/CookieSessionSample/MemoryCacheTicketStore.cs#L9

@davidjackson148 ITicketStore should work in any version. If you're hitting a specific issue please let us know.

[2019-12-02 17:06] tomRedox opened #17522 "Server side Blazor components in MVC and Razor pages can fail silently during Component Initialisation"
When running a Blazor app in a project created with the server side Blazor (SSB) template, errors of the following nature will all cause the gold error bar to be shown when a component is being loaded:

 - When a dependency registration is missing for a service injected into that component
 - When an error occurs in the constructor for of a service injected into a component
 - When the component's

[2019-12-02 17:07] tomRedox commented on #17508
@javiercn thanks, that's really useful.

Knowing the gold bar should be showing got me a bit further along and made me realise that I hadn't added the markup for the gold bar to my app(!).

Once I added the markup, the gold bar then started working for certain types of errors, but I'm still not getting gold bar errors in these scenarios when loading a MVC page with a SSB component:
 - When a depen

[2019-12-02 17:07] #17508 closed

[2019-12-02 17:13] joeloff commented on #17498
There are some additional requirements listed for .NET Core: https://docs.microsoft.com/en-us/dotnet/core/install/dependencies?tabs=netcore30&pivots=os-windows

But those apply to any runtime/SDK installation on 2012R2. I'm not aware of anything that's changed recently or any additional requirements

[2019-12-02 17:14] javiercn commented on #17517
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-12-02 17:19] javiercn commented on #17514
@Daniel-NP We believe this is either an issue in the Amazon Cognito SDK that makes it not compatible with in some way with the current mono bits.

Unfortunately this is not a blazor specific issue, so there's nothing we can do here. We suggest you file an issue either in the mono repository https://github.com/mono/mono or in the Amazon Cognito SDK to get further help.

[2019-12-02 17:19] #17514 closed

[2019-12-02 17:19] HaoK commented on #9887
@blowdart can you confirm what's the default behavior of dataprotection?  This app isn't doing any configuration of dataprotection, so I'm assuming the issue is that copying the app results in differences in the two apps dataprotection keys since they aren't configured to share the same keys.

[2019-12-02 17:20] kkadir commented on #17138
Any updates on this as we are also facing the same issue with a custom policy provider?

[2019-12-02 17:21] javiercn commented on #17504
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-12-02 17:25] javiercn commented on #17502
We've discussed this within the team and we don't think we'll implement this in the core framework, given that it has issues with linking and that this can be built on top of the framework if needed.

[2019-12-02 17:25] #17502 closed

[2019-12-02 17:27] javiercn commented on #17509
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-12-02 17:29] davidfowl commented on #17509
Isn't this labeled incorrectly? Shouldn't it be in servers?

[2019-12-02 17:30] javiercn commented on #17492
@massimilianokraus thanks for contacting us.

This seems like a machine specific behavior. Can you try and see if you reproduce it in a separate machine? This doesn't seem to be specific to ASP.NET Core, so I would recommend you follow up in the dotnet repository https://github.com/dotnet/coreclr as they'll be able to help you better.

[2019-12-02 17:30] #17492 closed

[2019-12-02 17:30] #17417 closed

[2019-12-02 17:37] egil commented on #17517
That is fair @javiercn.

One additional point I would like to make is that this will make it easier to integrate existing JavaScript components with Blazor, which will likely help increase adoption of Blazor. The important point is that it will make it possible to make the integration consistent between Blazor Server and Blazor Wasm.

[2019-12-02 17:40] blowdart commented on #17518
You would fork the cookie middleware, and have it drop two cookies, then check on the return for the presence of one or both.

You may think that you could add two cookie middlewares, and set the Same Site setting to Lax on one and -1 on the other so the attribute isn't written, but you can still only have one middleware as the default, so that approach won't work.

[2019-12-02 17:44] blowdart commented on #9887
Apps are [isolated by default](https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/configuration/overview?view=aspnetcore-3.0#per-application-isolation), even if they share the keyring.

[2019-12-02 17:46] HaoK commented on #9887
Okay so everything is working by design here then.

[2019-12-02 17:50] blowdart commented on #9887
@vankampenp If these are indeed separate instances on separate domain names you need to configure the application name to be a fixed value in all instances;

[code]

[2019-12-02 17:54] Tratcher commented on #17518
Double issuing cookies is going to be at least as complicated as browser sniffing. @blowdart is right, you're going to have to fork every component that issues a cookie and customize it. You'll have to be extra careful around deleting cookies, ensuring you always delete both even if you only receive one.

[2019-12-02 17:56] #17447 closed

[2019-12-02 18:00] drauch commented on #17518
@blowdart: `CookieAuthenticationHandler` seems to be a good boy and always uses `Options.CookieManager` to retrieve/append cookies. So it should be enough to set a different CookieManager which handles the duplication issue? Do you see problems with this approach?

@Tratcher: we are only talking about the authentication cookie, all other cookies can have the Lax or even Strict policy in our applic

[2019-12-02 18:00] SQL-MisterMagoo commented on #17517
That should give us plenty of time to work on a proof of concept 😁
I've got a very basic version working now, we can always provide an alternative js file for the brave ones to play with.

[2019-12-02 18:03] mrunks commented on #16672
I have the same problem where I receive a 401 when I try using CORS in asp.net 3.0.

I am trying to update a 2.1 that was setting dynamic origin and trying to use CORS with Specific Origin hosted by IIS 10 with Windows authentication only fails.

Is there a way to dynamically capture the Origin using Middleware in 3.0 ? I have the following code in a few Production Asp.net 4.x applications that wo

[2019-12-02 18:10] blowdart commented on #17518
We think it's possible, you'd just have to make decisions on which cookie wins. It's not something we've tried though.

[2019-12-02 18:13] Grauenwolf commented on #17251
What other details do you need?

[2019-12-02 18:14] CeciAc opened #17526 "why audio oncanPlay No response? and how get audioPlayer duration"
@19chang19 commented on [Sun Dec 01 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/221)

[在此处输入反馈]
<audio @ref="audioPlayer" src="@AudioSrc" @oncanplay="oncanPlay">@ChildContent</audio>

1.why oncanPlay No response?
2.how get audioPlayer duration?
---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: c07e57dc-526f-9479-4695-de7d8f06eb9a
* Version Independent I

[2019-12-02 18:15] drauch commented on #17518
OK, we'll give it a try and will report back. Thanks so far!

[2019-12-02 18:23] netken commented on #12037
我也遇到同样的问题，不知道解决没有？

[2019-12-02 18:24] Tratcher commented on #17518
Note OpenIDConnect uses temporary nonce and correlation cookies that are highly impacted by the SameSite transition. These default to SameSite=None which will have issues on older browsers.

Two places you're going to struggle with for CookieAuth:
- Size: Auth cookies are already fairly large, double issuing them is going to risk hitting browser or server size limits.
- Delete: When cookies get la

[2019-12-02 18:36] #17264 closed

[2019-12-02 18:37] #17418 closed

[2019-12-02 18:38] NTaylorMullen commented on #17482
Not officially supported to extend our Razor parsing at build time sorry 😢.

[2019-12-02 18:38] #17482 closed

[2019-12-02 18:39] NTaylorMullen commented on #14271
@ponchautf  It's definitely one of the most asked for features and it's something we want to accomplish sooner rather than later. That being said we're currently prioritizing other high impact issues such as colorization over this. We're still looking at 2 or so releases out for formatting to land (a few months).

[2019-12-02 18:44] anurse commented on #17251
@Grauenwolf sorry, some automation went a tiny bit agressive ;). Things in the "Discussions" milestone shouldn't be getting this workflow applied.

[2019-12-02 18:45] Tratcher commented on #15373
The theory was to inject IConfiguration into Startup and then have it query configuration keys to enable/disable features. Tests can provide in-memory configuration overrides to toggle individual features.

[2019-12-02 18:50] petr123321 commented on #17288
Any news please? :-(

[2019-12-02 18:55] Lelelo1 commented on #5664
I am looking to use a javascript library from Xamarin and was hoping I could use `JSRuntime`. I'ts null though and has to initialised somehow.

[2019-12-02 18:56] ryanbrandenburg commented on #5485
@SteveSandersonMS I'm not sure I 100% follow. #14866 would certainly make this issue easier, but neither are dupes of the other?

[2019-12-02 19:02] NTaylorMullen commented on #17423
Love it!

------------

Closing as external: https://developercommunity.visualstudio.com/idea/351628/allow-building-running-and-debugging-a-net-applica.html

[2019-12-02 19:02] #17423 closed

[2019-12-02 19:03] drauch commented on #17518
You're right. Unfortunately the OpenIDConnect middleware does not use a cookie manager or some other replacable component to obtain/set cookies. Do you think it's possible to replace the `Request.Cookies` and `Response.Cookies` objects to implement that duplication behavior?

We've not tested this, however, as Google is recommending to do it that way we don't think we run into much trouble due to

[2019-12-02 19:05] SteveSandersonMS commented on #5664
This issue is obsolete since we removed JSRuntime.Current.

@Lelelo1 I’m not sure what your scenario is. If you can post a new issue with full repro steps we can give a better response. Thanks!

[2019-12-02 19:05] #5664 closed

[2019-12-02 19:10] akorchev opened #17527 "Blazor Server authorization fails with Microsoft.AspNetCore.Authentication.Negotiate"
### Describe the bug

It seems that the `Authorize` attribute does not work with Microsoft.AspNetCore.Authentication.Negotiate authentication and roles.

### To Reproduce
1. Create a server-side blazor application with Windows Authentication.
2. Add the Microsoft.AspNetCore.Authentication.Negotiate package.
3. Enable it
[code]
4. Use middleware to challenge the authentication scheme:
[code]

[code

[2019-12-02 19:20] Tratcher commented on #17518
It's the default. https://github.com/aspnet/AspNetCore/blob/629b444a91f7980f1d071164affceb7e1e16f321/src/Security/Authentication/Cookies/src/PostConfigureCookieAuthenticationOptions.cs#L43

The OIDC temp cookies are small and don't need chunking. Only the final auth cookie is large and that's managed by CookieAuth.

Take that guidance with a grain of salt, that came from the Chrome team, they didn

[2019-12-02 19:23] joeloff commented on #17288
Let's try something else. Based on the logs, the MSI was cached and run from the folder below.

C:\ProgramData\Package Cache\{621912CF-223F-4C53-8F31-FB83687FD9E4}v13.0.19309.0\aspnetcoremodule_x64_en_v2.msi

Could you try the following:

1. Open a command prompt
2. Run: **msiexec /i "C:\ProgramData\Package Cache\{621912CF-223F-4C53-8F31-FB83687FD9E4}v13.0.19309.0\aspnetcoremodule_x64_en_v2.msi" /

[2019-12-02 19:26] drauch commented on #17518
First: thank you for the short reply times, really appreciate it!

We've realized that already, still, there is this problem with the user agent sniffing that it is brittle by design. What works today may (and will be!) broken tomorrow. We think it's better to invest some more upfront design/coding into the matter and have no problems with our customers later on in the wild.

Can you give me a poi

[2019-12-02 19:28] vankampenp commented on #9887
Thanks @blowdart,
After making the sample, I found that. But still no luck. But by also persisting the keys to the same UNC location did the trick.
 services.AddDataProtection()
          .PersistKeysToFileSystem(new DirectoryInfo(Configuration["AppSettings:keydir"]))
          .SetApplicationName(Configuration["AppSettings:keyname"]);

This now works!

[2019-12-02 19:28] #9887 closed

[2019-12-02 19:33] danroth27 opened #17528 "Produce a standalone blazor-devserver tool"
We don't have a simple way to test the publish output of a Blazor WebAssembly app. You basically have to deploy the published app to some environment to try running it (IIS or some other static site host).

We have the Blazor dev server. Could we make that a stand alone tool that you could use for this purpose?

[2019-12-02 19:35] Tratcher commented on #17518
Perhaps, but the fix is usually easy as well.

We're summarizing it in a new doc here:
https://github.com/aspnet/AspNetCore.Docs/pull/15618/files#diff-5508379853be41560030cbe1228ce324R85-R120

[2019-12-02 19:59] Lelelo1 commented on #5664
I attempted adding a Razor library to a Xamarin solution - to consume a javascript library via a `.razor` file.  Using `@inject IJSRuntime JSRuntime`, the JSRuntime remains null.

I assume this is due to the steps you @SteveSandersonMS described has to be made - or else a web application has to be started up.

[2019-12-02 20:31] pranavkm commented on #16672
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2019-12-02 20:36] pranavkm commented on #17374
@gthvidsten can you include the entire message when you see a conflict? I trimmed down the project to:

[code]

Note that the `Microsoft.CodeAnalysis.Common` is removed and it restores fine without an error. What would help is a minimal project that reproduces the build warning.

You generally shouldn't need to reference it manually, but the 3.3.0 version exists on nuget.org: https://www.nuget.org

[2019-12-02 20:41] SnGmng opened #17531 "Implement ClipboardEventArgs"
### Is your feature request related to a problem? Please describe.
I am trying to get the clipboard data but ClipboardEventArgs is empty/not implemented/not working.

### Describe the solution you'd like
Implement ClipboardEventArgs. The Clipboard api is supported in any major browser so compatibility shouldnt be a problem.

### Additional context
Location:
https://github.com/aspnet/AspNetCore/blo

[2019-12-02 20:45] gfoidl commented on #8978
FYI: I gave this a [try](https://github.com/gfoidl/Benchmarks/tree/28ee168aa8b0319bbb7bf220f277b5d566637569/aspnet/Kestrel/Infrastructure/GetHeaderName). Perf results don't look so bad so far, but I need more testing for the other methods, then I'll submit a PR.

[2019-12-02 20:46] ryanbrandenburg commented on #5223
Does anyone have a concrete list of repro steps for this? Earlier in the thread it seemed that people were running into this when they just did `dotnet new react; dotnet publish -c Release; .\bin\Release\netcoreapp3.0\publish\*.exe`, but when I tried that locally it worked fine. There seems to be a common theme with some people solving it by setting the correct ContentRootPath, but it's hard for m

[2019-12-02 20:58] furrybaer commented on #17439
Looking into that.  Just trying to find sample code/projects where it is working.

Thanks

Mark

________________________________
From: Hao Kung <notifications@github.com>
Sent: Monday, December 2, 2019 8:57 AM
To: aspnet/AspNetCore <AspNetCore@noreply.github.com>
Cc: Mark Baer <mark_a_baer@msn.com>; Author <author@noreply.github.com>
Subject: Re: [aspnet/AspNetCore] ITicketStore UserRoleClaims 43

[2019-12-02 20:59] maxisam commented on #5223
@ryanbrandenburg The problem is it doesn't show up every time, which is why we don't know what sets it off.

[2019-12-02 21:21] Kahbazi opened #17532 "Use ArrayPool in PasswordHasher"
Can ArrayPool be used in [PasswordHasher](https://github.com/aspnet/AspNetCore/blob/9a1810c1dbe432fc7bc7e8bc68fa22ab787c0452/src/Identity/Extensions.Core/src/PasswordHasher.cs) to improve memory allocation? or it does not have such an impact since the array size of the bytes are low

[2019-12-02 21:44] naveedahmed1 commented on #5223
@ryanbrandenburg in my case the issue occurs with Angular app with SSR enabled and deployed on live server. In my case the website is accessible and there aren't any 404/500 errors even when search engine crawls, at least Google Search console isn't reporting any 404 (we have several hundred thousand pages in Google index).

But when I enable ApplicationInsights, I see many 404 error for index.htm

[2019-12-02 21:50] stsrki commented on #17502
I would really like for you guys to consider this feature once again. The problem with having a list of mapped components in our own code and then rendering them through `BuildRenderTree(...)` it that there is going to be created two instanced of the same thing but only one will be actually used. What I mean by that?

Lets follow your example @javiercn. The similar thing/problem I also have in my

[2019-12-02 22:18] javiercn commented on #17528
@danroth27 thanks for contacting us :trollface:

You can do `& 'C:\Program Files (x86)\IIS Express\iisexpress.exe' /path:$PWD /port:5000` in the published output folder and navigate to port 5000 :)

[2019-12-02 22:19] toralux commented on #15046
Any news about this? My Dotnet Core 3.0 console application cannot find the "views" when rendering e-mail bodies using the Razor Engine after being ported from Dotnet Core 2.2, so this is holding me back from porting my application. A bugfix or a good example would be very helpful.

[2019-12-02 22:22] danroth27 commented on #17528
What about SPA routing?
What if I'm not on Windows?

[2019-12-02 22:25] javiercn commented on #17528
Maybe rely on the community :) https://www.nuget.org/packages/dotnet-serve/

[2019-12-02 22:48] pranavkm commented on #17449
@kugarliyifan changes to [routing in 3.0](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-3.0#endpoint-routing-differences-from-earlier-versions-of-routing) result in the `ActionDescriptor` and consequently model binding for parameters to be constructed much earlier than it was in 2.x.

Generally, we'd recommend against using ambient values such as request or acti

[2019-12-02 22:48] #17449 closed

[2019-12-02 22:58] tawani commented on #11631
Has this issue been resolved in .NET Core 2.2?

[2019-12-02 23:09] anurse commented on #17498
Are you using a single application pool for both ASP.NET 4.x and ASP.NET Core apps? If you've disabled managed code, ASP.NET 4.x apps won't work.

[2019-12-02 23:13] anurse commented on #17516
@martincostello to be clear, are you seeing any user-visible problems from this or is it ust a spurious exception in the logs?

[2019-12-02 23:14] martincostello commented on #17516
I’ll double-check tomorrow, but I think it’s just spurious.