[2020-02-28 01:53] sebastienros opened #19429 "[PERF] Regression on AMD"
Between 3.1 and master (5.0).

These numbers are for Plaintext, but the same regression appears on all scenarios.

[code]

[code]

[2020-02-28 01:58] vidir-svanberg commented on #19349
I think you have overestimated how much work was needed to make the WCF client work in a Blazor WebAssembly App.
I have successfully called a simple SOAP Web Service from a Blazor WebAssembly App using a WCF client.
I don’t expect everything in WCF to work from a browser using WebAssembly code but calling simple SOAP Web Services over http(s) is definitely possible.

[2020-02-28 02:01] almogohayon1 commented on #18729
Thank you,  I'm aware of that option already as a work around.. What I asked is to fix the bug..

[2020-02-28 02:19] benaadams commented on #19429
Running runtime with the AMD fix? https://github.com/dotnet/runtime/pull/31904

[2020-02-28 02:38] halter73 commented on #19428
Nice find. Of the two calls to Reset(), we should probably be keeping the one in OnRequestProcessingEnded(), and not the one in Initialize() so we dereference everything we can while the streams are pooled.

[2020-02-28 04:02] Tratcher commented on #18729
A) Yes, this is an easy change, but since it's a minor issue and has a workaround, that fix won't come until the next release (5.0).
B) The ClaimAction seems preferable to rewriting the json, no? The Json APIs are designed for parsing, not modifying.

[2020-02-28 05:50] DotNetAppCompatFeiWang opened #19432 "Microsoft.Extensions.Localization.IStringLocalizer.WithCulture(System.Globalization.CultureInfo) method not found"
### Describe the bug
An unhandled exception has occurred while executing the request.
System.MissingMethodException: Method not found: 'Microsoft.Extensions.Localization.IStringLocalizer Microsoft.Extensions.Localization.IStringLocalizer.WithCulture(System.Globalization.CultureInfo)'.
   at Volo.Abp.Localization.AbpDictionaryBasedStringLocalizer.GetLocalizedString(String name, String cultureName)

[2020-02-28 06:13] mkArtakMSFT commented on #19368
Closing this issue as the work is being tracked in the referenced issue.

[2020-02-28 06:13] #19368 closed

[2020-02-28 06:26] MariusMyburg commented on #5519
Hi Steve. I cannot find any new information on this, could you confirm if this is still in the backlog or of it has been implemented? Thanks.

[2020-02-28 06:53] mkArtakMSFT commented on #19107
@gkeongit I agree with you completely. This is definitely not the desired behavior. The only argument I'm making here is that this is pretty corner-case scenario, given the approach is uncommon. Because of that I've moved it to `Backlog` to see how many people are impacted with this. If it turns out that many are impacted, we'll prioritize this investigation. For now, I just recommend changing you

[2020-02-28 07:16] tavisca-syedave opened #19434 "Getting error while building mvc solution - Components.Forms.dll"
Hi Team,

Getting below error while building "...\aspnetcore\src\Mvc\Mvc.sln" solution
Tag : v3.1.2
Note: Already tried build/restore commands

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0006	Metadata file 'C:\codebase\aspnetcore\src\Components\Forms\src\bin\Debug\netstandard2.0\Microsoft.AspNetCore.Components.Forms.dll' could not be found	Microsoft.AspNetCore.Components

[2020-02-28 07:46] DotNetAppCompatFeiWang opened #19435 "System.ArgumentException: Argument types do not match error in Asp.Net App-52ABP.School"
### Describe the bug
An unhandled exception has occurred while executing the request.
System.ArgumentException: Argument types do not match

### To Reproduce
1) Clone repo from https://github.com/yoyomooc/52ABP.School and build it.
2) On CMD, go to publish folder at C:\Repro\52ABP.School
3) run : dotnet LTM.School.dll
4) Open  http://localhost:5000/Students/Details/1  with Edge

### Further techni

[2020-02-28 08:02] rynowak commented on #19435
Callstack:

[code]

[2020-02-28 09:39] scholtz commented on #19397
@blowdart Yes, i was using the realm to join the domain with centos, and the result was that mechanism was not there which means that some gssapi library was missing. with my attempts with gssntlmssp library the results was "No credentials were supplied, or the credentials were unavailable or inaccessible" which meant that .net core did not sent properly information to gssapi and it has stopped at

[2020-02-28 09:47] RemiBou opened #19436 "Add type to DotNetObjectReferenceofT or remove sealed"
Hi,

I would like to create a new reviver that would enable sending C# Action or Func to JSInterop so it would be used as callback for event. So Far I did this

[code]

[code]

But on var netObjectRef = value.CallbackRef; I only get the JSON value of the DotNetObjectReference not a DotNetObject instance :
- DotNetObject is not public
- parseJsonWithRevivers is not public

I can't find any way for

[2020-02-28 09:58] romanov opened #19437 "ViewData (ViewBag) url encoding text"
### Describe the bug
When i'm trying to test my page with https://validator.w3.org/ it shows that everything in ViewData
is URL Encoded. Other text is valid UTF-8 text.

### To Reproduce
Create basic Razor page with following data:

[code]

open any browser or WC3 source code validator and u will see:

[code]

### Further technical details
- ASP.NET Core version 3.0 (Azure WebApp)

[2020-02-28 10:06] romanov commented on #19437
Closing

[2020-02-28 10:06] #19437 closed

[2020-02-28 10:24] RemiBou commented on #19436
nevermind, the revivers are called recursively do I just needed to use the good field name like this

[code]

[2020-02-28 10:24] #19436 closed

[2020-02-28 10:36] mat-kul opened #19438 "Unable to bind dictionary with int key type from appsettings.json to options class"
### Describe the bug
When options class has a dictionary with key of int type is not possible to bind this dictionary into options class.

### To Reproduce
Create Asp.Net core web application
Add options class

[code]

Then modify appsettings.json
[code]

Then in Startup.ConfigureServices add
[code]

Finally inject IOptionsSnapshot somewhere, you will see that dictionary inside these options is em

[2020-02-28 12:15] alefranz commented on #14907
@davidfowl yes, the issue is when using a 3rd party container, e.g. Autofac
I've been busy moving moving many services to the Microsoft DI, but we still have some using Autofac, so I would be happy to look at this again if now there is a chance of this change to be considered for a patch release

[2020-02-28 12:21] damianh commented on #10542
Also in `JwtBearerOptions`:

https://github.com/dotnet/aspnetcore/blob/ce0579255104f6ea1902b62c1e21195a7b93f828/src/Security/Authentication/JwtBearer/src/JwtBearerOptions.cs#L65

https://github.com/dotnet/aspnetcore/blob/62351067ff4c1401556725b401478e648b66acdc/src/Security/Authentication/JwtBearer/src/JwtBearerPostConfigureOptions.cs#L53

...and probably several other places.

[2020-02-28 13:04] solidcloudio commented on #19097
I'm having a similar issue since upgrading to 3.2..  My build started failing, so I turned off linking, it builds now but I get errors in the console...

Failed to load resource: the server responded with a status of 404 (Not Found)
blazor.webassembly.js:1 WASM: Error: Failed to start platform. Reason: [object XMLHttpRequest]

/_framework/_bin/JD.Blazor.Shared.dll:1 Failed to load resource: the se

[2020-02-28 13:38] gfoidl commented on #19429
Do these benchmarks hit https://github.com/dotnet/aspnetcore/pull/19009?
The two PRs should mitigate the regression on AMD.

[2020-02-28 14:12] pdevito3 commented on #14907
@davidfowl my original issue that forwarded me here (#19404) is how to handle ConfigureServices getting called twice during integration tests.

As @javiercn suggested in #12360, I am able to do something like the below, but this is obviously not ideal, so I wanted to see if there a better solution established for this.

For example:
**Integration Test****
[code]

**ServerFactory (simple POC)**
[co

[2020-02-28 14:15] ivan-lapitski commented on #19367
Thank you for your answer!

Ah, that's what I suspected.

It never gets signalled.

No difference, however even without passing the CancellationToken to the Delay function, the delay is only 1 second long, so it should only delay the check by max 1 second.

[2020-02-28 14:22] mniak commented on #13706
Hi, I also found the same behavior but with another exception.

[code]

[2020-02-28 14:37] KKacer commented on #19263
Another similar issue to the first described problem which was discussed earlier:

https://1drv.ms/v/s!AlScPmE9PLAKgRPsNqW-qLmi-_2h?e=OejKK8

The project was working fine, flawlessly, just committed the new changes to Azure DevOps, and right after that again it was saying that it can't understand some components there!
Earlier also such a thing was happening, don't know how it went away, guess jus

[2020-02-28 14:51] ivan-lapitski commented on #19367
If I run the Task as a stream, cancellation works as expected.
However, this solution is pretty "hacky".

[code]

[2020-02-28 15:10] Madmorgan007 opened #19447 "An assembly specified in the application dependencies manifest (PortableAntiqities.deps.json) has already been found but with a different file extension"
Hi,
I'm using Visual Studio 2019, Dotnet core 3.1 all updates are installed. Getting the following issue.
this issue happens when creating a controller or view.

Error:
  An assembly specified in the application dependencies manifest (PortableAntiqities.deps.json) has already been found but with a different file extension:
    package: 'Microsoft.VisualStudio.Web.CodeGeneration.Design', version: '

[2020-02-28 15:22] TanvirArjel opened #19439 "MaxLength and StringLengh attribute is adding maxlength html attribute to the input field."
For the following property:

    [Required(AllowEmptyStrings = false, ErrorMessage = "Please enter your first name")]
    [MaxLength(30, ErrorMessage = "{0} can not more than {1} characters.")]
    [Display(Name = "First Name")]
    public string FirstName { get; set; }

**ASP.NET Core 3.1** is generating the following input field:

`<input class="form-control is-invalid" type="text" data-val="tru

[2020-02-28 15:54] Tratcher commented on #10542
It's the expectation that it would resolve the client per request or only at startup? Per request would be challenging for OIDC and JwtBearer due to their use of ConfigManager.

[2020-02-28 15:59] MoonStorm commented on #4639
It's more serious than simply leaking cookies. I easily triggered this bug when attempting an SSO with Azure via OpenId Connect. All you need is to add a couple more claims in the token configuration in the Azure Portal for the registered app. The external claims are then passed to the cookie auth provider which refreshes the auth cookie but unfortunately isn't removing the extra unused chunks. Wh

[2020-02-28 16:10] Pilchie commented on #19416
This is seeming about GrpcCore, not our gRPC implementation, but maybe @JamesNK still has an idea here?

[2020-02-28 16:11] Tratcher commented on #19397
@davidsh the gssntlmssp issue sounds like something you've addressed?

[2020-02-28 16:12] sayedihashimi commented on #19417
@javiercn let me know if you need any more info. I will keep my machine in this state for a couple more days in case you need any info from my machine.

[2020-02-28 16:32] pranavkm commented on #19439
@TanvirArjel this looks like a duplicate of https://github.com/dotnet/aspnetcore/issues/18607. Unfortunately we don't have a very good way to turn off this behavior from the runtime at this point. We'll look in to addressing this in the next major release. In the meanwhile, you might be able to write some JavaScript to remove these attributes:

[code]

[2020-02-28 16:43] brentschmaltz commented on #10542
@Tratcher our focus is on a 6.4.2 public release.
POR is weekly as we find issues.
Once 6.4.2 is released, we can address this and other issues.

[2020-02-28 16:44] dmalcaba commented on #19424
Thank you. I apologize I missed this in the documentation. I appreciate the quick response.

[2020-02-28 16:44] #19424 closed

[2020-02-28 16:48] pranavkm commented on #18607
Copying my response from the other thread - in the meanwhile, you could use JavaScript to get the pre 3.0 behavior:

[code]

[2020-02-28 16:49] pranavkm commented on #19438
@Pilchie this is an issue with `Microsoft.Extensions.Options` library. Should I transfer it to the Extensions repo or the Runtime repo?

[2020-02-28 16:51] pranavkm commented on #19434
It's likely that the sln file is missing dependencies. Running `build.cmd` from the command line before launching VS should work.

[2020-02-28 16:52] mkArtakMSFT commented on #19432
Thanks for contacting us. This is an intentional breaking change we've announced https://github.com/aspnet/Announcements/issues/346.

[2020-02-28 16:52] #19432 closed

[2020-02-28 17:03] anurse commented on #12401
Unquarantining due to long passing interval.

[2020-02-28 17:03] #12401 closed

[2020-02-28 17:08] wtgodbe commented on #18792
Looks like we got this wrong - the checksums for the zip files are incorrect. My current theory is that this is due to the zip files being built in steps prior to the step that does publishing - the .msi's, which are built in the step that does publishing (build-installers), are correct. We'll need to consider disabling this feature until we get it right (which means commenting out https://nam06.s

[2020-02-28 17:10] dougbu commented on #18792
Instead, exclude the bad checksum files from the `@(_ChecksumsToPublish)` or fix the underlying problem.

[2020-02-28 17:11] dougbu commented on #18792
BTW copying is unlikely to mess up checksums. Are the Zip files signed or otherwise changed after the checksums are written?

[2020-02-28 17:14] pranavkm opened #19441 "Remove PortablePdbReader"
The type was meant to [bridge some gaps](https://github.com/dotnet/extensions/issues/235) in .NET Framework, but shouldn't be needed now that it's exclusively used in .NET Core. There is some code in the "package" that cleans up the stack trace which is the only thing we should need from it.

[2020-02-28 17:16] wtgodbe commented on #18792
Ah, yup, that's it - they're signed after we generate the checksums: https://github.com/dotnet/aspnetcore/blob/ce0579255104f6ea1902b62c1e21195a7b93f828/eng/Signing.props#L16.

So we need to do a full one-off upload of all checksums after everything's been built. Don't have confidence I can make the necessary changes to the process in time to make 3.1 - I think it's best to punt the checksums to 3.

[2020-02-28 17:24] wtgodbe commented on #18792
https://github.com/dotnet/aspnetcore/pull/19442

[2020-02-28 17:30] anurse commented on #19420
Yep, I do remember seeing `request` being deprecated. We should move to `fetch` and a node polyfill for `fetch` (I know they exist).

[2020-02-28 17:42] davidsh commented on #19397
Yes, I've addressed related issues. I still don't understand the exact repro here. The only time that gss-ntlmssp is needed is when raw NTM is being used (i.e. 'Www-Authenticate: NTLM') or Negotiate is being used but can't use Kerberos and wants to fall back to NTLM.

Is this a client-side problem or a server-side problem? I can't tell from the discussion thread above. I will say that NTLM on the

[2020-02-28 17:54] danroth27 opened #19443 "The "ResolveBlazorRuntimeDependencies" task failed unexpectedly"
Repro steps:

1. Install .NET Core SDK 3.1.102
1. Install the latest internal dogfood build of VS 16.6 P1
1. Pin the SDK version to 3.1.102 using a global.json file
1. Install the latest Blazor WebAssembly template build
1. In VS, create a new Blazor WebAssembly app

Expected result: Template is created cleanly without warnings or errors

Actual result: The following error shows up in the Error Li

[2020-02-28 18:34] anurse commented on #19392
@TechWatching the config system requires the ability to list keys since it's a background-load process rather than a "pull-through" process. The provider dumps all the secrets from the KeyVault in the background and atomically pushes them into config in order to avoid blocking processes (except the first load which is blocking). It wouldn't be possible for us to change the design to only use the g

[2020-02-28 18:40] JunTaoLuo commented on #17057
Just to clarify, we are planning to add win-arm64 support. There's already linux-arm64 and linux-musl-arm64 support.

[2020-02-28 19:15] anurse commented on #19361
Looks like something we are indeed missing options to flow in to `okhttp` here to configure self-signed certificates.

[2020-02-28 19:17] anurse commented on #19367
Thanks for the info! We'll take a look at this. The `ConnectionAborted` token should be something we signal as quickly as possible.

[2020-02-28 19:22] anurse commented on #19408
@jkotalik let's yeet that variable (assuming we are indeed not using it).

[2020-02-28 19:24] anurse commented on #18943
Should be in sync now.

[2020-02-28 19:26] anurse commented on #19096
@peval27 for now I'm going to put this in our Discussions milestone, which means it won't be tracked in Triage, as it doesn't seem like we have actionable work to take here. If something comes out of your investigation, we can adjust this as necessary.

[2020-02-28 19:27] ryanbrandenburg opened #19445 "Format leading { of @code blocks."
RIght now if you try to format
[code]
 it won't correct the { to allign with the @code and }

[2020-02-28 19:31] ryanbrandenburg opened #19446 "Grammar colorization fails due to spaces between @code and {"
If you do:
[code]

the colorization within the code block will not be colorized at all.

[2020-02-28 19:31] gaffkins commented on #18143
Hi, I have the same issue. I open blazor app, then I click back in browser to back google for example, on random time I click forward to back to blazor app. It's very frustrating.
Best!

[2020-02-28 19:32] anurse commented on #19303
This is true for a lot of variables that affect us, not just `HOSTINGSTARTUPASSEMBLIES`. Startup hooks work this way, `PATH`, etc. Also, the value is ordered, which can matter, so I'm not sure how we'd do that in the prefix model you propose.

[2020-02-28 20:06] NRKirby commented on #18831
I think this can be closed as it looks like it got merged [here](https://github.com/dotnet/aspnetcore/pull/18968)

[2020-02-28 20:42] davidsh commented on #19397
@scholtz

When you first install the krb5-user package, it installs the GSS-API libraries and the built-in Kerberos mechanism (as well as Kerberos specific libraries). There will be no mechanisms listed in /etc/gss/mech.d. That is because Kerberos is considered "built-in".  But if you install other mechanisms such as NTLM (via gss-ntlmssp) then it will show up in /etc/gss/mech.d folder.

I suspect

[2020-02-28 20:44] davidsh commented on #19397
I recommend you take GSS-API traces via set an environment variable prior to running the ASP.NET Core application in your container. Then you will see what is happening when a request comes into ASP.NET Core and it tries to use Kerberos inbound. You should also take the same traces from your client application which submits the request to ASP.NET Core server.

[code]

[2020-02-28 21:19] sebastienros commented on #19429
This is using the latest builds, so not older than a day. You can see the exact versions that contain the day of the month in it.

We can get the whole published folder, and also traces if needed.

[2020-02-28 21:23] ryanbrandenburg commented on #19181
Found two issue, neither blockers:

- https://github.com/dotnet/aspnetcore/issues/19446
- https://github.com/dotnet/aspnetcore/issues/19445

[2020-02-28 21:23] #19181 closed

[2020-02-28 21:43] NTaylorMullen opened #19449 "FullyQualifyNamespace light bulb behaves broken in methods within @code blocks"
1. `dotnet new blazorserver`
1. Open `Counter.razor`
1. In the `IncrementCount()` method add the following above the `currentCount++;` line: `RenderTree`.
1. Invoke the `FullyQualifyNamespace` light bulb

**Expected:**
[code]

**Actual:**
[code]

Note the extra indent.

[2020-02-28 21:45] NTaylorMullen commented on #19179
https://github.com/dotnet/aspnetcore/issues/19449

[2020-02-28 21:47] kishorpise commented on #19418
Here are the app settings as requested. Please note this is for core 3.1 and all the examples, code snippets are written using 2.2 or older version. Even on Azure portal, that offers vs 2019 code to download has framework targeted to 2.2. I have confirm code which works on older framework this is for 3.1 latest,and please don't divert topic.

Second point- .AddCookie() having or removing does not

[2020-02-28 22:01] NTaylorMullen commented on #14304
Tried this out and it works way better than I expected. Lol you even get FAR for the current file

[2020-02-28 22:06] #19072 closed

[2020-02-28 22:08] ajaybhargavb commented on #19449
Also, in some cases the lightbulb doesn't even show up.

[code]

In the above case, Ctrl+. on 1 shows the FQN code action but Ctrl+. on 2 shows nothing,

[2020-02-28 22:17] jkotalik opened #19450 "Add switch to allow ANCM to prefer local environment variables over web.config environment variables."
Today, when ANCM reads environment variables in web.config, it will always replaces whatever environment variables are present in the process with the values in web.config. This behavior makes sense generally, however for developer environments like Visual Studio, there are many times where the environment variable in the web.config doesn't match the value wanted by VS.

For example, the environme

[2020-02-28 22:25] jkotalik opened #19451 "Allow ANCM to use environment variables for LAUNCHER_ARGS and LAUNCHER_PATH"
In a similar vein to https://github.com/dotnet/aspnetcore/issues/19450, VS can also modify the web.config due to using LAUNCHER_ARGS and LAUNCHER_PATH as the processPath and processArgs. VS wants to control these values as the values supplied for processPath and processArgs may not allow the app to start in a development scenario.

Instead of modifying the web.config, we'd like to allow ANCM to re

[2020-02-28 22:28] ajaybhargavb opened #19452 "Renaming a folder in VSCode crashes razor synchronization"
Repro:
- Open a blazor project in VSCode
- Open Counter.razor and Razor is loaded and works correctly
- In the sidebar, rename folder `Pages` to `Pages1`

Expected:
Counter.razor still has all the razor goodness

Actual:
All razor features(except coloring) stops working because synchronization fails. Closing/opening the document doesn't fix it. I have to reload the window for it to work again.

<d

[2020-02-28 22:36] ajaybhargavb commented on #14304
And formatting works too which is super surprising 😆

[2020-02-28 22:55] ajaybhargavb commented on #19180
Filed https://github.com/dotnet/aspnetcore/issues/19452.

[2020-02-28 23:10] #19179 closed

[2020-02-28 23:21] ajaybhargavb opened #19455 "VSCode linux: Referencing a library with 500+ components makes Razor completion extremely slow"
Repro:
- Create a blazor project
- Create a library with 500+ Blazor components
- Reference the library from the blazor project
- Add @using to the library in _Imports.razor
- Open Counter.razor and type `<`
- Watch it take over 10 seconds to provide the completion

<details>
<summary> Razor Log </summary>

[code]

</details>

[2020-02-28 23:23] Tratcher commented on #19418
Have you tried the 3.1 template for this in VS?

[2020-02-28 23:26] ajaybhargavb commented on #19180
And https://github.com/dotnet/aspnetcore/issues/19455

[2020-02-28 23:26] #19180 closed

[2020-02-28 23:26] NTaylorMullen commented on #19449
If you complete the statement under `// 1` does it? I ask because it might be C# failing to understand the rest of the document since it's malformed

[2020-02-28 23:27] ajaybhargavb commented on #19449
Yes. But it has the same indentation issue as you described above.

[2020-02-28 23:31] kishorpise commented on #19418
Yes... Only after that I have opened this thread. I spent good amount of time on figuring this. I tried
https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-aspnet-core-webapp?view=aspnetcore-3.1

Apart from this I even tried this -

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/ws-federation?view=aspnetcore-3.1

First of all these sample don't use 3

[2020-02-28 23:46] #19182 closed

[2020-02-29 00:34] zxj17815 opened #19459 "NET Core Hosting Bundle is installed, which makes it unavailable to other sites on IIS"
I have an old.net service application on IIS，After I installed Hosting Bundle, it broke and couldn't start，if I uninstall the Hosting Bundle, it works again

My server is Windows server2012, open.net service site is blank, has been loading page status, even without any error

[2020-02-29 03:00] #4761 closed

[2020-02-29 03:32] davidfowl commented on #19459
cc @shirhatti @jkotalik

[2020-02-29 05:15] yopez83 opened #19463 "BuildRenderTree not being called"
I have a Person.razor component which I wanted to separate the code behind from. After doing so, `BuildRenderTree` method is never called. See below for more information.

### Customer.razor
There is no markup intentionally.

[code]

### Customer.razor.cs
[code]

[2020-02-29 06:22] TanvirArjel commented on #19439
@pranavkm

May be it should not take so much time. So you can add this to **Milestone 5.0**.

[2020-02-29 06:32] #19185 closed

[2020-02-29 08:20] freever commented on #19402
If I change it to from ServerPreRender to Server then it stops happening, so I suppose it works as intended.

[2020-02-29 09:47] TechWatching commented on #19392
Okay I understand. Too bad it's not something planned in the provider though as I would rather have it be supported and maintained officially than to do my own custom package. Anyway thanks for the explanation, I was hoping it could be like in asp.net classic but if it's not by design that makes sense.

[2020-02-29 10:05] freever commented on #19402
Actually... it doesn't seem right.

I can understand that pages will render twice when ServerPrerender is true, but surely a Scoped service should be constructed at most twice per SignalR connection, not every time a new page is loaded?

[2020-02-29 10:10] tavisca-syedave commented on #19434
Below command solved my issue:
dotnet sln add C:\codebase\aspnetcore\src\Components\Forms\src\Microsoft.AspNetCore.Components.Forms.csproj

[2020-02-29 10:11] #19434 closed

[2020-02-29 10:13] Vitaly1025 opened #19465 "Can't connect to Self-Hosted SignalR Hub"
### Bug description
In my project i need use SignalR Hub (Self Hosted server) and clients (Angular)
I make self hosted server for testing like this article [Microsoft Self Host](https://docs.microsoft.com/en-us/aspnet/signalr/overview/deployment/tutorial-signalr-self-host "Microsoft Self Host").
In this article used jQuery and all work ok, but when i try using angular library i am fails.
In my log

[2020-02-29 10:43] KKacer commented on #19263
Another bug:

https://1drv.ms/v/s!AlScPmE9PLAKgRXSKm1EbEi-ryqd?e=ICMUdX

Can't remember a day without finding new bugs!

[2020-02-29 13:23] #19465 closed

[2020-02-29 13:24] Vitaly1025 commented on #19465
Problem not in Self Host, problem in work with proxy file

[2020-02-29 15:18] soomon commented on #13193
@mkArtakMSFT please fix this issue. I have spent the hours trying to figure out why by 2 way binding suddenly stopped working and what is supposedly wrong with it until I found the SO thread and learned that the error might be completely misleading.
yes it was my fault not remembering I moved the component files, but showing an error that leads people into the wrong direction causes to much frustr

[2020-02-29 15:40] mrlife opened #19466 "Component Tag Helper: Sending a raw string parameter"
I'm trying to send a string as a parameter but getting a build error. I know you can send an integer, like in the example of sending the int 10 in the docs, but I can only send a string if it's in a variable. Here is the code and error.

Code

[code]

Error

@guardrex

### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce

### Further technical details
- ASP.NE

[2020-02-29 15:44] guardrex commented on #19466
Additional note that when an `int` is used (exactly as [our example](https://docs.microsoft.com/en-us/aspnet/core/blazor/integrate-components?view=aspnetcore-3.1#render-components-from-a-page-or-view) shows), passing the parameter works.

[2020-02-29 16:29] chrissainty commented on #19263
@KKacer What you've found isn't a bug, it's an error in your code. The compiler error correctly states that components can't start with a lowercase character. In your video, your component is named _test2.razor_, lower case _t_. It should be named _Test2.razor_.

[2020-02-29 17:01] mkArtakMSFT commented on #13193
Reopening and moving to the backlog to collect some more feedback.

[2020-02-29 17:27] xiongdashan opened #19467 "The framework 'Microsoft.NETCore.App', version '3.1.2' was not found."
When I updated dotnet-ef version to 3.1.2, the following issue occurred:

[code]
**dotnet info**

[code]

[2020-02-29 18:01] Daddoon opened #19468 "[Blazor][WASM] ClientWebSocket.SendAsync does not respect the "endOfMessage" boolean"
### Describe the bug

While trying to send data from ClientWebSocket to a WebSocket server, i discovered some weird behaviors that prevented my code to work as expected.

I was trying to port all my Javascript code to C# for the Websockets functionnalities, as it was impossible before, and i have been telled that this is possible by now.

It was possible to me to port everything on Blazor Server-s

[2020-02-29 18:42] konradbartecki commented on #12890
Now I've have made an example with Svelte.js **which uses rollup instead of webpack** for ASP.NET Core using this react extension, thanks!

https://github.com/konradbartecki/aspnetcore-svelte-template

[2020-02-29 20:09] NotMyself commented on #12890
### Workaround for Webpack Based Frontend Apps

This workaround is taken directly from [this application](https://github.com/notmyself/bivrost) that I work on in my spare time. I have removed all use of the SpaServices provided development server. Instead, I configure webpack to proxy requests to aspnetcore and setup vscode to launch both processes.

### Startup.cs

The startup configuration is he

[2020-02-29 21:17] rynowak commented on #19466
Try this:

[code]

Why it's this bad:

- `param-*` attributes are of type `object`
- Razor has a special parsing behaviour when the **attribute** is known to be a `string`, allowing you to omit the quotes. This doesn't apply because the attribute is not of type `string` (`object` in this case).
- passing a quoted string requires an explicit expression `@(...)`

[2020-02-29 21:23] rynowak commented on #19463
Using `@inherits` in a `.razor` file will inherit from the class you provide, and defining a `.razor` file will **always** override `BuildRenderTree`.

So your hierarchy looks like:

[code]

The solution to this is just remove `Customer.razor` if you want to define a render method in C#. You can use `[RouteAttribute(...)]` to apply a route.

[2020-02-29 21:24] rynowak commented on #19463
You also don't need to use inheritance to have a code-behind. Blazor as of 3.1 supports partial classes.

[2020-02-29 21:59] mkArtakMSFT commented on #10480
This was a dupe of https://github.com/dotnet/aspnetcore/issues/6112

[2020-03-01 00:19] ffMathy commented on #4892
What is the status on this? @davidfowl did this ever make it to 2.2? In that case, how do we use it?

[2020-03-01 00:29] Tratcher commented on #4892
@ffMathy not much progress has been made on this scenario, it's still in the backlog.

[2020-03-01 02:20] ffMathy commented on #4892
Alright. Is there an ETA? Rough estimate?

[2020-03-01 02:54] AlMorton commented on #13709
Sorry but this isn't relevant to blazor pages: those razor page options aren't available as methods on WebAssemblyHostBuilder.Services property.

[2020-03-01 03:22] lfdgaliza commented on #9974
I will give another suggestion here just in case there is someone else with the same problem that I had.
In my case, I needed to create inputs dynamically, so I could not just bind the contenteditable span using @ref to only one ElementReference.

Then I made this:

[code]
Then in my Word_FocusOut, I can have access to the correct ElementReference by accessing References[word]:

[code]

Please let

[2020-03-01 04:51] Tratcher commented on #4892
@ffMathy this is an uncommitted feature, there's no ETA until we decide to move it from the backlog to a milestone.

[2020-03-01 04:52] yopez83 commented on #19463
It worked. Thank you @rynowak

[2020-03-01 04:52] #19463 closed

[2020-03-01 06:04] 491134648 commented on #19467
Microsoft.NETCore.App, version 3.1.2 is gone, integrated in the Microsoft.AspNetCore.App system framework, cannot be updated separately

[2020-03-01 07:09] StevenRasmussen opened #19471 "Native support for NodaTime"
It seems to me that [NodaTime](https://nodatime.org/) is becoming a defacto library for many C# projects, much like [Json.Net](https://www.newtonsoft.com/json) due to its superior handling of DateTime concepts.  I feel it would be very beneficial if there was native support for NodaTime built into EFCore.  I have attempted to make it work with ValueConverters but there are some current limitations

[2020-03-01 07:10] rynowak commented on #19471
Moving to efcore repo

[2020-03-01 07:47] NicoleG25 commented on #9205
Hi @blowdart ,
Could you please specify the Nuget packages that are vulnerable under this CVE?
Thanks !

[2020-03-01 08:20] kugarliyifan opened #19472 "How Can I override the View and use async"
In mvc ,I want to override the View() function like this
public override ViewResult View(string viewName, object model)

but it only the synnc version,,How Can I use the async function in it?don't use xxx.Result??????

[2020-03-01 10:05] AlcoGoblin opened #19473 "AuthorizeView Roles doesn't work"
Hello, I've been trying to get AuthorizeView Roles to work for quite a while and I've followed the simplest tutorials from scratch such as this: https://www.youtube.com/watch?v=8jD08VwNTnc , but it just doesn't work for me.

I'm trying this on a Blazor Server App with ASP.NET Core 3.1.1 and followed the tutorial as instructed. Do i not have something in my packages or are my extensions somehow mes

[2020-03-01 10:29] MrMuMu opened #19474 "Response filtering with attributes on serialization"
### Is your feature request related to a problem? Please describe.
I am writing a basic web api to serve some data from database. However, one thing I am very lazy about is to create a new response model if it has extra or missing fields. It seems redundant and feels like there has to be some easy solution. I still feel insecure about asking this because it feels simple and there is some attribute

[2020-03-01 12:41] blowdart commented on #9205
There aren't any. ANCM does not ship as a nuget package.

[2020-03-01 13:26] Pinox opened #19475 "Blazor WASM throwing an ILLINK error on .net standard 2.0 library"
Hi Guys,

I use FFImageLoading extensively in Xamarin and UWP projects.
As my existing class libraries is based on .net standard 2.0.  I would expect these libraries to work with Blazor WASM that already support .net standard 2.1.   At this stage I don't use any specific FFImageLoading functionality yet in Blazor just referencing the shared code libraries.

Currently when I reference a .net standa

[2020-03-01 14:30] mrlife commented on #19466
@rynowak Thanks for letting me know this is possible. I never would have tried that. The explanation makes sense. Is this the final design for this functionality?

[2020-03-01 15:05] sanasz91mdev opened #19476 "ASP.NET Core - Performance - Load Testing issue Microsoft.AspNetCore.Server.Kestrel[13] Connection id "xyz", Request id "abc" An unhandled exception was thrown by the application."
Hello,

testing an ASP.NET Core API under load gives following error:
[code]

**Load test settings: 4000 concurrent requests coming each second for a duration of 1 minute**

I am using JMeter for load testing. This issue does not arise for 2000 concurrent users.

[2020-03-01 18:47] Matthewsre commented on #13440
I have had to set the value to a specific value I chose to represent an empty string and translate it in the setter of the binded property.

Are there any better alternative approaches to get this to show up/work with an empty string or null?

[2020-03-01 19:13] AceTheWiz commented on #19262
No to the first question and yes to the second.
I am running Microsoft Visual Studio Community 2019 Preview

I had the issue just after I installed Version 16.5.0 Preview 3.0. Re-installing didn't fix the issue.  I then closed the all razor files and re-opened them. Then it was working again ???.

**Now it's back** after installing Version 16.5.0 Preview 4.0 and my previous fix is not helping.

I

[2020-03-01 19:44] ssg opened #19478 "Add XRequestedWith to HeaderNames"
### Is your feature request related to a problem? Please describe.
Yes, using hardcoded strings for header names are prone to typos and detecting the typos with HTTP header keys can be hard. Having well-known HTTP headers in HeaderNames makes sense to me, especially "X-Requested-With" which is quite common, contains multiple words, dashes, and passive voice. There is already XForwardedFor and as I

[2020-03-01 20:16] bstordrup opened #19479 "RAZORSDK1006 warning"
### Describe the bug
I have an asp.net project that uses Microsoft.AspNetCore.Mvc package. This generates a compiler warning RAZORSDK1006 warning about Razor language version downgrade. According to the description, this is caused by a reference to Microsoft.AspNetCore.Razor.Design package.

This package is referenced by Microsoft.AspNetCore.Mvc package - can it be removed?

### Further technical

[2020-03-01 20:25] Z0d1ak opened #19480 "rzc generate exited with code 1"
### Describe the bug
Trying to build default project using command
`dotnet new  blazorhosted -o MyWebApp`.
 I download template using
`dotnet new -i Microsoft.AspNetCore.Blazor.Templates`
Getting error when building client.
**UPD:**
After i downloaded new template command `dotnet new  blazorhosted -o MyWebApp` doesnt works
`dotnet new -i Microsoft.AspNetCore.Blazor.Templates::3.2.0-preview1.20073.

[2020-03-01 20:25] KKacer commented on #19263
Oops!
Thanks @chrissainty , didn't know that I should change the filename to capital.
Thought that should be treated as a page not component, and the system wrongly think it is still a component.
BTW I heard everything in blazor will be treated as a component, and that's the case for it.
Searched the error I got, no result came up.
I really didn't list or record every bug I faced, those got me tir

[2020-03-01 21:05] smaglio81 opened #19481 "Reference IEndpointRouteBuilder in a class library (ASP.NET Core 3.1)"
### Describe the bug
This is a continuation of https://github.com/dotnet/aspnetcore/issues/16638.

# IEndpointRouteBuilder Problem Demo

As reported in [AspNetCore Issue #16638 (Cannot find the AspNetCore Nuget packages for 3.0 (specifically routing))](https://github.com/dotnet/aspnetcore/issues/16638),
it seems like the only way to reference `IEndpointRouteBuilder` from ASP.NET Core 3.1 (SDK 3.1.

[2020-03-01 21:05] NTaylorMullen commented on #19262
Hmm, super odd @AmadeusW would you be the right person to reach out to here or someone else on the CoreEditor team? I ask because this package load failure looks very suspicious and I'm not quite sure where to go from here.

[2020-03-01 21:52] NTaylorMullen commented on #17836
@ajaybhargavb assigning to you to handle updating the HTML buffer in the VS client. It'll be a good warm-up to the VS tech and the [C# buffer update PR](https://github.com/dotnet/aspnetcore-tooling/pull/1644) can be used as reference

[2020-03-01 21:55] zachneu commented on #10450
Is there anyway now to add script and css references from a Razor component now? I have several Razor components with their own JavaScript files and css files. If i use these components i'll have to link to their JavaScript and css files in "index.html" manually. Is there some way this can be done from the Razor component?

[2020-03-01 22:01] rynowak commented on #19472
Can you give us a more complete example of what you're trying to do?

[2020-03-01 22:03] rynowak commented on #19479
Ideally a 3.1 project wouldn't be referencing MVC 2.2.0 - do you know why that's there? I would try to remove that.

@pranavkm

[2020-03-01 22:06] rynowak commented on #19481
@smaglio81 - here's an example from the docs of how to configure a library project targeting asp.net core. The example shows `netcoreapp3.0` but it should work just fine with `netcoreapp3.1`. Compared to what you're doing this is using the `Microsoft.NET.Sdk` and adds an explicit shared framework reference for asp.net core.

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/target-aspnetco

[2020-03-01 22:12] smaglio81 commented on #19481
Thanks, That did it!

[2020-03-01 22:12] #19481 closed

[2020-03-01 22:25] rynowak commented on #19466
For the Razor language in general yes.

For the use of `<component />` possibly no - we've talked about adding the ability to invoke a component directly from a view (without going through component tag helper). That would improve your use case. That's a huge amount of work and it's not on the schedule anytime soon.

[2020-03-02 00:12] zachneu opened #19484 "invoke javascript arrow function from IJSRuntime"
When creating class library with razor/blazor components and the components need to execute some JavaScript code, you need to add a reference to a JavaScript file in index.html with the functions you need (or in some script tag in the html file).  this will require you to add at least one JavaScript code before you can invoke any JavaScript file.

To solve this problem it would be nice if the IJSR

[2020-03-02 00:14] am071092 opened #19485 "System.Text.Json leaks trace when a validation error occurs"
Error trace is shown when an error occurs (eg:line number).
Is there a way to disable that?

[2020-03-02 00:31] ChiMonLam1979 commented on #17724
Having the same issue here - did this get solved? :)

[2020-03-02 00:35] ChiMonLam1979 commented on #19188
I'm getting the same happen here too - the razor components are recognized only when the file is opened for editing - otherwise it's red squiggles. The solution builds and runs OK though - pretty small project too so not a deep folder structure.

[2020-03-02 00:40] NTaylorMullen opened #19486 "Listen to VS LSP events for Razor documents to enable custom reactions."
This involves building an object model in VS that enables us to independently listen to various LSP events so we can properly middle-man them in the future to enable features such as completion, codelens etc.. For instance in VSCode here's how we do it:

https://github.com/dotnet/aspnetcore-tooling/blob/master/src/Razor/src/Microsoft.AspNetCore.Razor.VSCode/src/extension.ts#L126-L154

[2020-03-02 02:05] elamje opened #19487 "Blazor Navigation Manager browsing back"
### Describe the bug
When using NavigationManager to move between pages, with <base href="~/"/> set in the layout <head>, every single navigation action has a brief flash back to the home page before it successfully loads the next page. It is almost imperceptible, but it certainly isn't the expected behavior of a production app.

### Further technical details
.Net core 3.1.100

[2020-03-02 02:06] jkotalik commented on #19459
My guess is it's the same issue as https://github.com/dotnet/aspnetcore/issues/18019. Does the hosting bundle work with 64 bit applications and not 32 bit? If so, most likely the same issue. This will be fixed in 3.1.3.

[2020-03-02 02:18] moxplod commented on #17890
@pranavkm That was definitely the issue. Adding runtime compilation brought down that time from 10+ seconds to 100ms!
Thank you so much.

[2020-03-02 04:44] zxj17815 commented on #19459
Looks like this problem, Here's my situation
in my server (Windows server2012  x64) , AppPool 32-Bit True  it can't work.
in my PC (Win10 x64) ,also AppPool 32-Bit True,  it working.

[2020-03-02 04:51] jkotalik commented on #19459
Yeah I'm going to close this as a duplicate then as it seems to be the same issue. See the other issue for recommended action.

[2020-03-02 04:51] #19459 closed

[2020-03-02 05:56] mkArtakMSFT commented on #19485
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-03-02 06:04] mkArtakMSFT commented on #19474
Thank you for your feature request. We'll consider this feature during the next milestone planning period and update the status of this issue accordingly. To help us prioritize this feature correctly, please make sure you provide as much information as possible about the scenarios and their importance.

[2020-03-02 06:11] zxj17815 commented on #19459
yeah，[Your method](https://github.com/dotnet/aspnetcore/issues/18019#issuecomment-579968453) works for me， thanks

[2020-03-02 06:14] mkArtakMSFT commented on #19447
This is actually tooling related. @vijayrkn where should this go ? `Scaffolding` repo?

[2020-03-02 06:17] bstordrup commented on #19479
@rynowak, which version should I be using instead? Microsoft.AspNetCore.Mvc 2.2.0 is the latest available package on NuGet.

[2020-03-02 06:22] rynowak commented on #19479
Most ASP.NET Core libraries don't ship packages at all as of 3.0 - they are just included in a web project by default.  It should be safe to remove

[2020-03-02 08:13] RemiBou commented on #19484
You can do this with eval

[code]

[2020-03-02 08:24] alienwareone commented on #19101
Hope that helps:
https://github.com/alienwareone/ActionMethodSelectorAttributeTest

Just switch between those lines:
[code]

[2020-03-02 08:27] curia-damiano commented on #9020
Hi @JamesNK,
related to your comment https://github.com/dotnet/aspnetcore/issues/9020#issuecomment-579597202 and to the fact that gRpc-Web currently seems to be _an experimental project, not a committed product._
- Do I need gRpc-Web to deploy to IIS? Otherwise, isn't it possible at all?
- Do you have an ETA about when it will be possible to deploy to IIS without gRpc-Web?
- Do you have an ETA whe

[2020-03-02 08:28] zachneu commented on #19484
Thank you, this solve the problem.

[2020-03-02 09:03] fitdev commented on #19188
Glad to know that I am not alone with this. I still have not seen anything suspicious in VS activity logs on my end, but will keep the issue updated if I come across anything new.

[2020-03-02 09:05] JamesNK commented on #9020
Today, yes.

No. It takes time for changes to be made to Windows and released to the public.

Not at the moment.

[2020-03-02 09:07] ChiMonLam1979 commented on #19188
Actually this morning after restarting VS the squiggles were gone! I saw them briefly for a moment while the solution was loading but then they went away.

[2020-03-02 09:41] xmduane opened #19488 "about webapi content response in v3.1"
maybe it is a bug? my issue is like the code below!
 [ApiController]
    [Route("api/v31/demo")]
    public class WeatherForecastController : ControllerBase
    {

        [HttpPost("userlist")]
        public object GetUserList()
        {
            Result result = new Result();

            Results<UserInfo> data = new Results<UserInfo>();
            data.value.AddRange(new UserInfo[] {

[2020-03-02 09:45] RobPierce commented on #18019
Is this version 3.1.3 of the hosting bundle, or is it the sdk that is the ultimate problem?

[2020-03-02 09:57] KKacer opened #19490 "SVG Sprite in a Layout Page, Blazor"
I created 2 SVGs, which the 2nd one is a SVG sprite, the first will be visible as expected.
the sprite one (2nd) isn't shown. guess can make it visible via a hack by the help of routing and NavigationManager, but not sure if it is normal that it isn't shown normally this way or not. Can it be visible just by changing the href tag anyhow or not?

`             <svg class="c1icon"><use href="images/

[2020-03-02 10:12] AnReZa commented on #19467
I'm having the exact same problem. Is there a workaround?

[2020-03-02 10:12] DotNetAppCompatFeiWang opened #19491 "LiteDb doesn't insert data in .NET 5.0.100-preview.1.20125.9"
### Describe the bug
LiteDb doesn' insert data in .NET 5.0.100-preview.1.20125.9

### To Reproduce

[code]

### Further technical details
- ASP.NET Core version
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version

.NET Core SDK (reflecting any global.json):
 Version:   5.0.100-preview.1.20125.9
 Commit:    12e88ed2e5

Runtime Environment:
 O

[2020-03-02 10:21] xiongdashan commented on #19467
Like it:
1. ``` dotnet tools uninstall -g dotnet-ef ```
2. ``` dotnet tool install -g dotnet-ef --version 3.1.0```
3. Reinstall dotnet runtime  dotnet-sdk-3.1.102 from https://download.visualstudio.microsoft.com/download/pr/5aad9c2c-7bb6-45b1-97e7-98f12cb5b63b/6f6d7944c81b043bdb9a7241529a5504/dotnet-sdk-3.1.102-win-x64.exe

Finally restart computer.

[2020-03-02 10:21] #19467 closed

[2020-03-02 10:24] RemiBou commented on #19484
You can send arrow function in eval as well.

Even if it was handled by JSInterop it would be an eval, because the way of communicating between Blazor and the browser are done only via string. (https://github.com/dotnet/aspnetcore/blob/e72223eaf58a3ee6660a922064d2449e47b78253/src/Components/Blazor/Mono.WebAssembly.Interop/src/MonoWebAssemblyJSRuntime.cs see InvokeJS) and I don't see how it could w

[2020-03-02 10:54] gkeongit commented on #19107
OK, I can't change that model, so I will have to go without the API Explorer then.

[2020-03-02 11:18] zhaoqinghai opened #19492 "When I Add Web Project with OutputType Library, I Find DI Reslove Diffirent"
[code]
why b.EndPoints is null
this project link: https://github.com/zhaoqinghai/DemoApi

[2020-03-02 11:56] MarkStega commented on #9020
FYI
I have an application (ASP.Net Core 3.2.0-Preview1) in which I changed out a REST API DAL for a gRPC-Web DAL. I followed the guidance of the Steve Sanderson blog post. My solution can be run as either CSB or SSB and I was successful with gRPC-Web in both configurations (I did have to advance to a newer version of the gRPC.* nuget packages).

I mistakenly did further updates from the nightly bu

[2020-03-02 12:21] kimbell opened #19493 "apidescription.client somtimes fails during build"
We have an ASP.NET Core 3.1. application that uses the ApiDescription.Client and NSwag.ApiDescription.Client.
On our build server, it sometimes fails during build time. If we restart the build, chances are that it will succeed. We have not seen this issue when building locally under Visual Studio.

Our build server is an older Team City installation and we use Cake to run the build and packaging.

[2020-03-02 12:34] bstordrup commented on #19479
@rynowak, thank you. Removing the packages fixed the issue.

[2020-03-02 12:34] #19479 closed

[2020-03-02 13:39] andrey-rodin commented on #19093
Hmm... Then I should investigate why at all my app returns text/plain when action returns string. In all other cases response is application/json, of course

[2020-03-02 14:00] mrlife commented on #19466
@rynowak I can understand. It would be nice to use `<ColorfulCheckbox></ColorfulCheckbox>` but it's not a huge difference other than less code. Seeing `<component ...` is pretty easy to spot as a razor component, possibly even easier to spot.

[2020-03-02 14:07] hieu2010 commented on #19361
So the issue can't be fixed as of now or is there a way to solve it?

[2020-03-02 14:14] tamarachl opened #19496 "AlwaysRunResultFilter does not work as expected since version 3.0"
### Describe the bug
According to documentation `AlwaysRunResultFilter` should run for all action results including authorization failure, but it doesn't. In case of Authorize-attribute `AlwaysRunResultFilter` is skipped.

https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/filters?view=aspnetcore-3.1#ialwaysrunresultfilter-and-iasyncalwaysrunresultfilter

### To Reproduce
Example:
[code]

[2020-03-02 14:22] Venkat4655 opened #19497 "Blazor performance metrices Idle time"
Thanks for looking this issue

### Describe the bug
Idle time is more when we run the own project in Blazor application

We have checked the performance metrics in browser performance window.  you can refer following snapshot for details,

![image](https://user-images.githubusercontent.com/31058118/75683921-f78cde00-5cbd-11ea-9c24-ec6966c5b73c.png)

In above picture seems idle time was **1231 ms**

[2020-03-02 14:23] JanEggers opened #19498 "advice: why slow"
I use an aspnet core (2.2) app as api gateway. I cannot update to 3.0 because the app has to run on net461. The only thing the controller does is forward the request asynchronous to a http client and then returns the response. In the screenshot you can see that the gateway needs 500ms to proxy a request that takes 4 ms.

![image](https://user-images.githubusercontent.com/6747376/75683527-96eaaa80-

[2020-03-02 14:49] knight1219 commented on #17316
Is there any work around for this current? I just got all of my front end code validating properly only to find that my backend is error'd now. Should I disable backend validation for now and add it back in once this gets fixed?

[2020-03-02 14:51] dotcom9 opened #19501 "Support complex object arguments with VaryByQueryKeys"
### Is your feature request related to a problem? Please describe.

I have an application with a controller method like this:

[code]

I want to use ResponseCaching using VaryByQueryKeys to return cached responses for requests that have previously been served.

Currently, this does not appear to work for object arguments such as the `Dictionary` in my illustration.

### Describe the solution you'd

[2020-03-02 15:07] Discovery-support commented on #19097
Linking has to be *on*, the 404s appear to be this issue:  https://github.com/dotnet/aspnetcore/issues/18655   PDBs seem to be unnecessarily requested by the published release version (404s)

[2020-03-02 15:43] mgolois opened #19502 "Endpoint Routing: AuthorizeAttribute is not found in the list of controller filters"
Hello team and @rynowak
While migrating code to the new endpoint routing, I'm seeing this issue.
Here is a simplified version of the issue. Source code can be found https://github.com/mgolois/Routing-Endpoint-Filter-Convention-Issue

In the nutshell, this code worked fine before Endpoint routing. In a controller model convention, I look for Authorization filter to either remove it or change the po

[2020-03-02 15:52] dotcom9 commented on #19501
It turns out that Dictionary arguments are already supported using the following syntax:

`[ResponseCache(VaryByQueryKeys = new[] { "arg[key1]", "arg[key2]", ... }, Duration = 20)]`

Happy days!

[2020-03-02 16:09] mkArtakMSFT commented on #18697
Added to our project for tracking the progress

[2020-03-02 16:22] jkotalik commented on #18019
The hosting bundle,

[2020-03-02 16:23] rynowak commented on #19502
I can say this is definitely expected. We don't use `AuthorizeFilter` with endpoint routing unless someone manually applied it.

As far as how to implement what you need, we can try and help you out, but the solution might end up being different. What are you ultimately trying to do?

[2020-03-02 16:26] mkArtakMSFT commented on #19497
Thanks for contacting us. What is the specific scenario you're trying to measure this in?

[2020-03-02 16:29] pranavkm commented on #17316
@knight1219 the change is shipping as part of the upcoming preview2 release. Outside of having different models on the server and the client, we don't have a very good recommendation as of yet.

[2020-03-02 16:29] SteveSandersonMS opened #19503 "Precompression interferes with service worker asset manifest"
While writing up CTI steps for PWA scenarios, I found there's a regression in the service worker asset manifest due to precompression. It now lists all the precompressed files, as well as the uncompressed ones:

![image](https://user-images.githubusercontent.com/1101362/75695965-be934000-5ca2-11ea-93e4-789de4c2e218.png)

@javiercn Can you comment on how you think this should best be handled within

[2020-03-02 16:31] mkArtakMSFT commented on #19491
@ajcvickers are we somehow involved in here? Wondering whether this should be moved to the LiteDB specific repository (3rd party).

[2020-03-02 16:34] inf9144 commented on #19113
In case it helps: Building with MSBuild using the vs solution file does work too.

[2020-03-02 16:39] pranavkm commented on #19496
@tamarachl as of 3.0, Authorization occurs as part of the [authorization middleware](https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#authorization). In case, the middleware forbids or issues a challenge, the request does not get to MVC. This would explain why you don't see the filter executing.

What is it that you're attempting to use the fil

[2020-03-02 16:42] pranavkm commented on #19488
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimal project (ideally a GitHub repo) that illustrates the problem.

[2020-03-02 16:48] pranavkm commented on #19480
@Z0d1ak you can install the blazorhosted template using this command `dotnet new blazorwasm -ho`

[2020-03-02 16:51] pranavkm commented on #19475
This issue was moved to mono/mono#19097

[2020-03-02 16:51] #19475 closed

[2020-03-02 16:52] anurse commented on #19361
I don't believe it's possible today, we don't expose the right hooks for it.

[2020-03-02 17:14] mkArtakMSFT commented on #17043
Closing as this is done and whatever is left is tracked in a separate issue.

[2020-03-02 17:14] #17043 closed

[2020-03-02 17:15] mkArtakMSFT commented on #13417
Closing as this may not apply any more.

[2020-03-02 17:17] mkArtakMSFT commented on #11034
Closing this as we think the current experience of failing at runtime is ok for now.

[2020-03-02 17:17] #11034 closed

[2020-03-02 17:18] mkArtakMSFT commented on #10687
Given that nobody else has faced this issue and a long time has passed, can you please confirm this is still an issue you're facing? Thanks!

[2020-03-02 17:20] danroth27 commented on #13417
It still applies. Here are the files that show up with our latest builds:

![image](https://user-images.githubusercontent.com/1874516/75700473-f8465580-5c66-11ea-9b2b-a294b5d0bc9d.png)

[2020-03-02 17:24] HaoK commented on #18798
@zackmorgs the link to bridging-calendar doesn't work anymore, did you rename it?

[2020-03-02 17:25] danroth27 commented on #13417
This issue was moved to mono/mono#19099

[2020-03-02 17:25] #13417 closed

[2020-03-02 17:26] mkArtakMSFT commented on #19497
Also, it's not clear why this is a problem. Please clarify.

[2020-03-02 17:28] mkArtakMSFT commented on #19490
Thanks for contacting us. We will be handling SVG support as a combined effort probably during 5.0 release.

[2020-03-02 17:28] mkArtakMSFT commented on #19487
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-03-02 17:29] mkArtakMSFT commented on #19484
Thanks for contacting us. Closing as @RemiBou has answered.

[2020-03-02 17:29] #19484 closed

[2020-03-02 17:32] mkArtakMSFT commented on #19473
Thanks for contacting us. We suggest using the guidance from Microsoft Docs here: https://docs.microsoft.com/en-us/aspnet/core/security/blazor/?view=aspnetcore-3.1&tabs=visual-studio

Good luck learning Blazor 👍

[2020-03-02 17:32] #19473 closed

[2020-03-02 17:33] mkArtakMSFT commented on #19468
This issue was moved to mono/mono#19100

[2020-03-02 17:33] #19468 closed

[2020-03-02 17:36] mkArtakMSFT commented on #19427
Thanks for contacting us.
@anurse can you please look into this one? Thanks!

[2020-03-02 17:41] mkArtakMSFT commented on #19407
This is a dupe of #13915

[2020-03-02 17:41] #19407 closed

[2020-03-02 17:43] mkArtakMSFT commented on #19443
Closing as can't reproduce this any more.

[2020-03-02 17:43] #19443 closed

[2020-03-02 17:44] mkArtakMSFT commented on #19378
Closing as there is no other fix pending here.

[2020-03-02 17:44] #19378 closed

[2020-03-02 17:46] mkArtakMSFT commented on #5477
@javiercn let's track the file extension rename work here and I will file a separate issue to follow-up with the Anti-virus providers regarding this.

[2020-03-02 17:46] ajcvickers commented on #19491
@mkArtakMSFT It looks like an external (LiteDB) issue to me.

[2020-03-02 17:53] mkArtakMSFT commented on #19142
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-03-02 17:53] anurse commented on #19427
@Nick421 can you take a look at the [SignalR logging and diagnostics guide](http://aka.ms/aspnet/signalr/troubleshoot) and collect a network trace as described on that page?

The fact that Long Polling is working definitely indicates that the forwarder is getting in the way of the WebSockets somehow.

[2020-03-02 17:56] #18655 closed

[2020-03-02 17:57] mkArtakMSFT commented on #19097
Closing as this should be fixed now. If you happen to face this after 3.2-preview2 release, please file a new issue and we will investigate it then.

[2020-03-02 17:57] #19097 closed

[2020-03-02 17:58] mkArtakMSFT commented on #19060
@javiercn is this still relevant? If not, simply close it.

[2020-03-02 17:59] mkArtakMSFT commented on #19054
Closing before we find we actually need this. Not much value-add it seems.

[2020-03-02 18:00] mkArtakMSFT commented on #19053
More context: This is to enable silent re-auth when necessary

[2020-03-02 18:02] mkArtakMSFT commented on #19008
Thanks for contacting us. We will investigate this if we hear more similar feedback.

[2020-03-02 18:10] mkArtakMSFT commented on #18646
Closing as this is not relelvant any more.

[2020-03-02 18:10] #18646 closed

[2020-03-02 18:15] mkArtakMSFT commented on #19271
The issue is actually caused by your code because you don't wait for the handler result when you call it:

<button @onclick="TryToInvokeJS1">This throws the exception</button>
<button @onclick="TryToInvokeJS2">This swallows the exception</button>

[2020-03-02 18:15] #19271 closed

[2020-03-02 18:18] dougbu commented on #19151
Remaining work is primarily testing.

[2020-03-02 18:19] mkArtakMSFT commented on #19048
This will be supported by tooling in the future, when we will have proper renaming supported.

[2020-03-02 18:19] #19048 closed

[2020-03-02 18:26] mkArtakMSFT commented on #17034
@guardrex can you please include some notes in our docs to cover this:

[2020-03-02 18:28] mkArtakMSFT commented on #17025
Thanks for contacting us. The auth in Blazor server should work very similar with non-Blazor situations. Do you observe similar issue in an MVC app for example?

[2020-03-02 18:30] knight1219 commented on #17316
As the fix is going into preview, will it ship with the May update or get held until .Net 5 releases? Just want to get any work arounds into our company backlog and for when the fix release making sure it doesn't add any regressions when we go to update.

[2020-03-02 18:31] Jalalx opened #19507 "ASP.NET Core 2.2 can resolve registered partially-closed generic types, but ASP.NET Core 3.1 throws System.ArgumentException"
ASP.NET Core 2.2 can resolve registered partially-closed generic types, but ASP.NET Core 3.1 will throw `System.ArgumentException` exception.

Sample Repo: https://github.com/Jalalx/ServiceProviderClosedPartialTypeSupport

### To Reproduce
[code]

Exception details:
[code]

### Expectation:
Works as before like ASP.NET 2.2

### Further technical details
[code]

[2020-03-02 18:31] mkArtakMSFT commented on #14648
This is not something we plan to fix as it doesn't meet the priority bar as it's behavior to the old version of Microsoft Edge.

[2020-03-02 18:31] #14648 closed

[2020-03-02 18:36] mkArtakMSFT commented on #15014
@rynowak is this by-design?

[2020-03-02 18:37] mkArtakMSFT commented on #18129
Closing as external. Thanks!

[2020-03-02 18:37] #18129 closed

[2020-03-02 18:42] mkArtakMSFT commented on #19188
Folks, to be able to investigate this further we need a repro. If you can provide one, that would definitely help!

[2020-03-02 18:43] danroth27 opened #19508 "404 for styles.css when referencing an RCL from a Blazor WASM app"
Repro steps:

- Install latest build of d16.6 P1 (16.6.0 Preview 1.0 [29901.0.d16.6])
  - Includes .NET Core SDK 3.1.200-preview-015002
- Install latest Blazor WASM 3.2 P2 build (3.2.0-preview2.20152.1)
- Create an ASP.NET Core hosted Blazor WASM app in VS
- Add a RCL to the solution and reference it from the client project
- Add Component1 to Index.razor and add a link to styles.css

[code]

[cod

[2020-03-02 18:47] mkArtakMSFT commented on #14618
@Bambofy are you still seeing this issue?

[2020-03-02 18:48] Coruscate5 commented on #3849
@guardrex - I'm not sure if you have any responsibility over the IIS portion here, but, it appears that IIS eventually stops respecting the warm-up even after a reinstall and re-registering of modules.

Seems like some sort of internal IIS issue (or chaining issue), because it will load & run methods from warmup.dll, but then never actually start the dotnet process specifically for .NET Core. (Re)

[2020-03-02 18:50] guardrex commented on #3849
I just work on the docs @Coruscate5. Engineering (here) would need to follow up on your report.

[2020-03-02 18:51] NTaylorMullen commented on #18864
Filed an issue in Microsoft/vscode-test for this: https://github.com/microsoft/vscode-textmate/issues/125

[2020-03-02 18:52] NTaylorMullen commented on #18927
Fixed in O#

[2020-03-02 18:52] #18927 closed

[2020-03-02 18:53] Coruscate5 commented on #3849
@guardrex - OK, thanks - given that this particular thread seems to have gone off the rails, I'll open a new issue under the aspnetcore repo when I have some time (given the strange nature of this happening "eventually" to IIS servers hosting .NET Core projects with background tasks, I'm not sure if I'll actually get any traction)

[2020-03-02 18:56] mkArtakMSFT commented on #17522
This should already be fixed. Please use the upcoming 3.2-preview2 release to validate.

[2020-03-02 18:56] #17522 closed

[2020-03-02 19:01] Coruscate5 opened #19509 "Application Initialization *stops* working for .NET Core"
### Describe the bug
Per https://github.com/dotnet/AspNetCore.Docs/issues/16675, there are scenarios when App Init stops working entirely for .NET Core processes.

Warmup.dll is loaded into IIS, and attempts to look for an endpoint at the website (e.g. if I tell it the preload URL is <site>/start, ProcMon reveals warmup searching for <Websitefolder>/start), but fails.

My intention is to run backg

[2020-03-02 19:03] mkArtakMSFT commented on #17526
This is a dupe of #17552

[2020-03-02 19:03] #17526 closed

[2020-03-02 19:04] SteveSandersonMS commented on #17526
In the meantime, I'd recommend using JS interop to register an event handler on your element, and also use JS interop to make a call back into .NET with whatever parameters you need when that event occurs.

[2020-03-02 19:08] pranavkm commented on #18684
Hi @GeorgeAlexandria, we don't generally support code generating Razor components. That said, you could just add the contents as a .razor file in your project. The type should be available to you at runtime. This is essentially what we do in Blazor too - https://github.com/dotnet/aspnetcore/blob/master/src/Components/Authorization/src/CascadingAuthenticationState.razor.

[2020-03-02 19:12] Jalalx commented on #19507
Oops! I think this should be moved to [dotnet/extensions](https://github.com/dotnet/extensions/issues) 😜

[2020-03-02 19:15] mgolois commented on #19502
@rynowak We have a base controller with a default policy, the requirement is to change the policy of 2   controller areas (e.g. Students and Instructors mvc areas) to 2 other  different policies. We used to that by removing and adding AuthorizeFilter when those controllers were called.

[2020-03-02 19:22] mkArtakMSFT commented on #16656
Given the complexity involved we will be able to achieve this if we enforce "Pascal-casing means Razor component" approach.

[2020-03-02 19:25] mkArtakMSFT commented on #13568
Closing as we will be documenting the guidance per the above comment.

[2020-03-02 19:25] #13568 closed

[2020-03-02 19:42] multco-malan commented on #18622
Hi anurse,
Would you be able to expand upon " So you need to make sure the main endpoint that serves the Host page also requires authentication."
Where would I be doing this?

thanks!

[2020-03-02 19:53] AceTheWiz commented on #19262
Update: Did a Repair and then things were working again. The only other change, was to disable a 3rd party extension (not sure if it had any effect).
Hold thumbs, I'm going to update to Preview 5.

[2020-03-02 20:11] richbryant commented on #19271
neither of them throws in blazor-wasm.  Is this by design?

[2020-03-02 20:47] mbdavid commented on #19491
This issue is related about .NET LiteDB Database (https://github.com/mbdavid/LiteDB). Open a bug report there that we can help.

[2020-03-02 20:50] ralphhendriks opened #19510 "Media type application/problem+json lost in combination with ProducesAttribute"
### Describe the bug
I decorate a controller (action method) with the `ProducesAttribute` to limit the response media type to `application/json`. If I return a `ProblemDetails` instance from the controller (or the framework returns a `ValidationProblemDetails` instance), the returned media type is `application/json`. If I leave out the `ProducesAttribute`, the response has media type `application/

[2020-03-02 21:01] mkArtakMSFT opened #19511 "Follow-up with anti-virus vendors regarding false red-flags for Blazor WASM assemblies"
For context, the full thread regarding this is here: https://github.com/dotnet/aspnetcore/issues/5477

[2020-03-02 21:03] douwinga commented on #18688
Ran into this exact issue today too. As a workaround I found that using attribute routing works instead of using MapControllerRoute.

[2020-03-02 21:15] antonGritsenko opened #19512 "AddIdentity extension blocks JwtBearerOptions configure"
ASP.NET Core 3.1.0 + IdentityServer4.
Application generated from OOB template "Web Application -> Angular" with build-in user authentication option

I want to combine [Customize the API authentication handler (link 1)](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-api-authorization?view=aspnetcore-3.1#customize-the-api-authentication-handler) and [Identity model cus

[2020-03-02 21:16] antonGritsenko commented on #19512
@Tratcher any thoughts on this? Thank you.

[2020-03-02 21:23] elamje commented on #19487
I don't have the capacity to reproduce this. I will point you to an issue raised by a Microsoft person that seems to be the only person aware of this issue. https://github.com/dotnet/AspNetCore.Docs/issues/15271

The issue is exactly as he described, but the only guidance we get as users is a huge amount boiler plate to prevent this from happening. I want to resolve the issue and help if possible,

[2020-03-02 21:28] #18641 closed

[2020-03-02 21:28] GeorgeAlexandria commented on #18684
Hello, @pranavkm, I'm unpleasantly surprised that you don't support code generating razor components... Do you plan to support it?

It's really important thing for many analysers application that allows analysers to analyse, investigate, interpret and so on so forth the C# code under razor component. Besides, in many cases analysers can't include source types in their code base or load them into d

[2020-03-02 21:49] mikefayer commented on #13452
Here's my scenario: Blazor desktop/hybrid app using Blazor server. One user logged in at a time and state persists across reloads. So, if there's an unhandled exception, there's no way to get the app back to a trustworthy state other than restarting it. We need to catch unhandled exceptions, show appropriate UX, and then shut down. Standard desktop-app pattern.

Temporary hack: we have logging set

[2020-03-02 21:56] Tratcher commented on #19512
Your `Configure<JwtBearerOptions>` callback will only be called if something in the app calls Aluthenticate or Challenge with the scheme name IdentityServerJwtBearerScheme. AddIdentity sets the default auth schemes for the app (cookies).

How are you specifying in the rest of the app that IdentityServerJwtBearerScheme should be used? Via AuthenticationOptions defaults, authorization policies, Auth

[2020-03-02 22:05] pranavkm commented on #18684
Razor files are code-generated in to C# files. You can inspect their contents - they're usually in the `obj\$(Configuration)\$(TargetFramework)` folder for instance `obj\Debug\netcoreapp3.1`. I'm not sure what analyzers have to do with runtime code-generation, the framework ships with a few that are enabled by default and operate on these code generated file.

Out of the box, components do no have

[2020-03-02 22:06] anurse commented on #19478
Thanks for the PR!

[2020-03-02 22:08] anurse commented on #19476
We don't see this in our load testing (with many more concurrent requests). Can you provide a runnable application and steps for reproducing this?

[2020-03-02 22:08] antonGritsenko commented on #19512
@Tratcher to be honest, I don't for both cases, since I thought it have to be handled by the AddIdentity in a same way as AddDefaultIdentity do, but I was not to track down to source code where this schema added.
If we will take a look on [AddDefaultIdentity](https://github.com/aspnet/Identity/blob/feedcb5c53444f716ef5121d3add56e11c7b71e5/src/UI/IdentityServiceCollectionUIExtensions.cs#L49), there

[2020-03-02 22:09] anurse commented on #19408
Adding @jkotalik for IIS warning.

[2020-03-02 22:10] anurse commented on #19441
The existing code is *working* though right? It's just unnecessary?

[2020-03-02 22:13] pranavkm commented on #19441
This came up as part of discussing the new single file bundle format that's planned in 5.0. Things like `Assembly.Location` are going to be broken with it - https://github.com/dotnet/aspnetcore/blob/3c09d644cccdb21801f7a79e1188a1a1212de5d9/src/Shared/StackTrace/StackFrame/PortablePdbReader.cs#L27. If we were to try and react to it, we might very well remove this type since it's unnecessary.

[2020-03-02 22:14] antonGritsenko commented on #19512
Found: the IdentityServerJwtConstants.IdentityServerJwtBearerScheme schema added by [AddIdentityServerJwt](https://github.com/aspnet/Identity/blob/feedcb5c53444f716ef5121d3add56e11c7b71e5/src/ApiAuth.IS/Authentication/AuthenticationBuilderExtensions.cs#L33) for both cases.

[2020-03-02 22:14] petegamble opened #19514 "Recent Issue with libgdiplus"
Hi

I've recently been experiencing an issue with System.Drawing.Common since what I believe was an update. The code below was fine until recently with the last image saved to file on the 27th Feb. Any ideas?

var request = (HttpWebRequest)WebRequest.Create(url);
            var response = (HttpWebResponse)request.GetResponse();

            if (response.StatusCode != HttpStatusCode.OK)

[2020-03-02 22:15] #19501 closed

[2020-03-02 22:16] anurse commented on #19303
We talked about this last week but I don't remember *exactly* what we landed on. I think we were suggesting that it would be better to have the places that specify values for these support "recursive" expansion, for example:

[code]

cc @DamianEdwards @pranavkm

[2020-03-02 22:19] ajaybhargavb commented on #14280
What is the value in doing this given the work we did to sync config from the client?

[2020-03-02 22:20] anurse commented on #19404
I'm a little unsure of the problem here. It's *intentional* that we run `WebApplicationFactory`'s ConfigureServices **after** `Startup.ConfigureServices` so that your test code has the option of overriding services defined in `Startup`.

I'm not aware of a better solution right now. @javiercn ?

[2020-03-02 22:21] joshpearce commented on #18236
Is this an issue with the dev certificate generation/installation or in the SslStream class? Because I get this same error when using an HttpClient to make an HTTPS request to a local aspnet core app or to any HTTPS URL when using the Burp proxy, which requires installing a root cert in the keychain.

I'm just wondering if I need to open a bug with PortSwigger about this, or if the fix in .NET cor

[2020-03-02 22:24] Tratcher commented on #19512
Ah, so depending on the order in which you call Add*Identity or AddIdentityServerJwt, your default auth scheme could be overwritten.

[2020-03-02 22:31] antonGritsenko commented on #19512
the services.AddAuthentication().AddIdentityServerJwt(); is always after Add*Identity. Here is full code of the ConfigureServices I'm using for testing:
[code]

[2020-03-02 22:37] pranavkm commented on #19303
Do we have room to squeeze this in 5.0? If we were, I'd like to make sure we update the MVC templates to account for this

[2020-03-02 23:19] alefranz commented on #7836
I've been looking at something to work on and @rynowak has pointed me to this.
I've experimented a bit with this and created a really basic prototype.
If this is still it up for grabs I would like to start to work on a PR.

@JamesNK is this already on your radar as part of https://github.com/dotnet/aspnetcore/issues/13750?

I was thinking of introducing a `HttpResponseStreamWriter` that implement

[2020-03-02 23:37] #19275 closed

[2020-03-02 23:44] NTaylorMullen commented on #19262
Awesome, thanks for the follow up @AceTheWiz. Closing this out for now.

[2020-03-02 23:44] #19262 closed

[2020-03-02 23:53] Tratcher commented on #19512
Ok, well you don't have an authorization policy so your controllers must be marked with the `Authorize` attribute? What gets passed there?

[2020-03-02 23:56] sebastienros commented on #19429
I have isolated the regression between:
- 5.0.0-alpha.1.20103.10 https://github.com/dotnet/runtime/tree/a7f8cdc0de945561ae3fcaa72440c0ec56d69060 (Feb 3 12:26 PM PST)
- 5.0.0-alpha.1.20111.2 https://github.com/dotnet/runtime/tree/f496497de42b80b6d031d5de445ec74b2b01bb17 (Feb 11 1:59 AM PST)

By running the Plaintext NonPipelined scenario (60% regression) like so:

[code]

The aspnet core version wa

[2020-03-03 00:05] antonGritsenko commented on #19512
Just clean attribute:
[code]
I didn't touch default template's code expect code from links above.

[2020-03-03 00:06] #19486 closed

[2020-03-03 00:12] Tratcher commented on #19512
@blowdart @HaoK There are conflicting kinds of auth in this app, how is it supposed to work?

[2020-03-03 00:12] #17835 closed

[2020-03-03 00:24] HaoK commented on #19512
Generally don't call AddIdentity if you want fine grain control over auth, calling AddIdentityCore and the other identity builder methods you need will setup identity without auth, then you can call AddAuthentication() and configure things exactly how you want, if you don't want any of the identity cookies and what not

[2020-03-03 00:27] antonGritsenko commented on #19512
@HaoK how to use ```ApplicationRole``` then from https://docs.microsoft.com/en-us/aspnet/core/security/authentication/customize-identity-model?view=aspnetcore-3.1#customize-the-model? AddIdentityCore doesn't support it.

[2020-03-03 00:28] HaoK commented on #19512
What do you mean it doesn't support it, you can call AddRole on the IdentityBuilder

[2020-03-03 00:30] antonGritsenko commented on #19512
@HaoK didn't known that. I will try.
If this is the case, then this means the article is not correct because it clearly mentioned to use AddIdentity?

[2020-03-03 00:36] HaoK commented on #19512
I'm not sure what article you are referring to but its likely not talking about what you are trying to do

[2020-03-03 00:37] antonGritsenko commented on #19512
@HaoK link was in two posts above: https://docs.microsoft.com/en-us/aspnet/core/security/authentication/customize-identity-model?view=aspnetcore-3.1#customize-the-model

Code from the link:
[code]

[2020-03-03 01:12] blowdart commented on #19512
This is also mixing in the SPA pieces, so @javiercn to look as well.

[2020-03-03 01:42] xmduane commented on #19488
[API22_31.zip](https://github.com/dotnet/aspnetcore/files/4278817/API22_31.zip)

[2020-03-03 01:43] xmduane commented on #19488
[API22_31.zip](https://github.com/dotnet/aspnetcore/files/4278822/API22_31.zip)

[2020-03-03 02:08] Exocomp commented on #19089
I can't reproduce it anymore, closing.

[2020-03-03 02:08] #19089 closed

[2020-03-03 04:09] #19160 closed

[2020-03-03 04:39] mjnorman commented on #13709
Putting this code
[code]
 in the `Host.cshtml`, provides the behavior that navigating to the main `/` page redirects to the login as @StaticBR mentioned above.

However, putting that same code in a razor component such as `fetchdata.razor` from the sample, does not produce a redirect, but instead produces the `<NotAuthorized>` markup from the `App.razor` page:

[code]
I would have expected a redir

[2020-03-03 04:57] Venkat4655 commented on #19497
Thanks for looking this issue

We have developed the application using Blazor component(Server side Blazor Application). We just run the sample in Chrome browser. In that scenario, we have checked the performance metrics it shown idle time around **1250ms** as we posted earlier.

We faced this issue while run/launch the application in Chrome browser. so the replication procedure was simple

**Note

[2020-03-03 05:27] mkArtakMSFT commented on #19497
@Venkat4655 I'm trying to understand what is the `IdleTime` metric you're tracking? Is it being reset when you interact with the app? If so, given that it's manual, maybe your inactivity results in that value?
Alternatively, if this is some kind of automated logic, which is supposed to run the same way on both browsers yet results in drastically different results, we will need to have a repro proj

[2020-03-03 05:56] JanEggers commented on #19498
Update: I let the app run over night in release mode without vs attached and it looks much better.

![image](https://user-images.githubusercontent.com/6747376/75746748-7e23d880-5d1b-11ea-918b-c9f77b82292a.png)

what remains:

![image](https://user-images.githubusercontent.com/6747376/75746857-c3e0a100-5d1b-11ea-8c17-f255be98fd6f.png)

if the service DNS cannot be resolved it takes longer than the

[2020-03-03 05:56] #19498 closed

[2020-03-03 06:20] NTaylorMullen opened #19522 "Every Razor editor action results in new C#/HTML publish."
Our Razor language server is sending the `razor/updateCSharpBuffer` request to the client every time any LSP action occurs (hover, FAR etc.) even if it has no impact on the parsed output.

[2020-03-03 06:51] cycbluesky opened #19523 "Memory leak when use Microsoft.AspNetCore.Authentication.JwtBearer"
My project use JwtBearer middleware to make authentication. After I upgraded the project from .net core 2.1 to .net core 3.1, I encountered memroy leak problem.  I used diagnostic tools to monitor the memory and found that too many authentication releated objects created and cannot be freed by GC.  That's never happened in pervious version.

I created a sample project [here](https://github.com/cyc

[2020-03-03 07:09] mrpmorris commented on #19271
I understand why my code doesn't see the exception, but wasm is supposed to have a catch-all handler that logs to the console and shows a message on the screen - and neither of those are happening so I think it's a bug.

[2020-03-03 07:14] Jalalx commented on #19507
Moved here: https://github.com/dotnet/extensions/issues/3048

[2020-03-03 07:14] #19507 closed

[2020-03-03 08:12] tamarachl commented on #19496
@pranavkm thank you for the answer ;)

I need to override few type of responses (such as Unauthorized, Forbidden, BadRequest, NotFound, etc) in order to ensure the same format within whole API in our service. `AlwaysRunResultFilter` looks like perfect place to do that :)

You are right, the middleware is an option in case of Unauthorized response that is caused by attribute, but unfortunately i ca

[2020-03-03 08:19] javiercn commented on #19523
@cycbluesky thanks for contacting us.

Is there any OutOfMemoryException caused? From what I can see, the pattern looks normal, the GC will simply continue to allocate objects until it gets to a memory threshold (as seems to be the case above) at which points you see the GC run and free all the memory from the orphaned objects.

@Tratcher @sebastienros Is there any additional information here you

[2020-03-03 08:31] jsabrooke commented on #18688
Thanks a lot @douwinga ! I'll try that while waiting for a resolution on this.

[2020-03-03 08:34] javiercn commented on #19060
@mkArtakMSFT Still relevant, this is about `MapBlazorFiles()`

[2020-03-03 08:36] javiercn commented on #19054
@mkArtakMSFT This is a follow-up issue of some of the auth work. It's a cleanup that takes 30min-ish and will be bundled with other cleanups.

[2020-03-03 08:38] javiercn commented on #19053
This already works, its about not loading the entire Blazor app inside a hidden iframe for a faster response and better resource usage.

I already have an idea on how to achieve this and it should be a trivial change

[2020-03-03 08:46] MrMuMu commented on #19474
I will provide an example project in a couple of days

[2020-03-03 08:51] javiercn commented on #18236
Hi.

**It looks like you are posting on a closed issue!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

[2020-03-03 08:54] audacity76 commented on #17025
Just tried it with the latest version 3.1.1 but still the Blazor Server app ignores the [Authorized] attribute. I created a repo so you can compare the behaviors: https://github.com/audacity76/WindowsAuthAspNetCore

[2020-03-03 08:57] javiercn commented on #19512
@blowdart took a quick look, can't seem to find a specific issue WRT why the callback would never hit. I'm not exactly sure about what AddIdentity does differently from AddDefaultIdentity, but I imagine that the root cause of the issue is there.

[2020-03-03 09:06] javiercn commented on #19503
@SteveSandersonMS we would need to filter them when we generate the manifest

[2020-03-03 09:06] GeorgeAlexandria commented on #18684
It means that sdk supports the correct C# code generating Razor component (when Razor.Language nuget package doesn't) but you actually told:

So I try to ask more correct: Is the code generating for Razor component from sdk available for public? Might it be the Razor.Language nuget package?

[2020-03-03 09:11] javiercn commented on #19508
@danroth27 I think we've talked about this issue in the past.

I believe this is due to how VS builds projects. I can give it another go to see if I repro it myself, otherwise, there are a couple of things you can do:
* Capture the binary logs from visual studio following the instructions [here](https://github.com/microsoft/msbuild/blob/master/documentation/wiki/Binary-Log.md#collecting-binary-log

[2020-03-03 09:12] javiercn commented on #19491
Closing as per @mbdavid suggestion.

[2020-03-03 09:12] #19491 closed

[2020-03-03 09:32] Bambofy commented on #14618
I have not come across this is since then

[2020-03-03 09:32] andrey-rodin commented on #19093
My mistake. Response is 406 when Accept header is application/json. I expected 404 in all cases.
`
[HttpGet]
[Produces("text/plain")]
public IActionResult Foo()
{
    return NotFound();
}
`

[2020-03-03 09:34] SteveSandersonMS commented on #19503
Do you have a recommended way to do that? Presumably not by file name, since this includes user-supplied files. Should we add some metadata when generating the compressed items?

[2020-03-03 09:53] cycbluesky commented on #19523
@javiercn Each request will cause the memory increase continuously and the memory usage never drop down even no incoming traffic. I think it will run out of memory as long as I keep sending requests.

[2020-03-03 10:05] javiercn commented on #19523
I believe that is expected. The server will not start a collection unless it has to because it is running low on memory. The reasoning is, if there's memory available why would I spend cycles on GC that can be spent running the app.

As I said, not an expert in this area, but the pattern that you are seeing feels normal to me. Unless the GC is triggered an the memory can't be reclaimed, I don't be

[2020-03-03 10:07] curia-damiano commented on #9020
Hi @JamesNK,
My customer has migrated to gRpcWeb, but we have found an important limitation (from which I haven't found any documentation): the max message size is 3067 characters.
If from the usual client-service from the basic gRpc service, converted to gRpc-Web, this line will fail (because the string is 3068 characters, 1 over the limit):

// Configure a channel to use gRPC-Web
			var handler

[2020-03-03 10:15] javiercn commented on #19503
@SteveSandersonMS Filtering on the extension should be just fine for preview2.

Here's the associated PR with a test included to validate the manifest generation.
https://github.com/dotnet/aspnetcore/pull/19525

[2020-03-03 10:17] cycbluesky commented on #19523
According to the rate of memory increase, I believe that memory will be exhausted soon. It was not never happened when I was using .Net core 2.1 with the same code.
Maybe you can have a try the project I provided, It's simple, build and run it, then make a large number of requests via some tools.  The memory usage will increase more and more and never stop even the GC is on working.

[2020-03-03 11:09] mrpmorris commented on #19262
This is working in 16.5.0 @javiercn

[2020-03-03 11:28] stanislavromanov commented on #19467
Some steps are redundant.

`dotnet tool uninstall -g dotnet-ef && dotnet tool install -g dotnet-ef --version 3.1.1`

[2020-03-03 11:42] abdul-wasey commented on #18607
Thank you

[2020-03-03 11:43] #18607 closed

[2020-03-03 12:46] partyelite opened #19527 "Blazor InputBase binding not firing NotifyFieldChanged on EditContext"
I'm using InputText and two way binding.

`<InputText @bind-Value="@myValue" ></InputText>`

when I type something in the input field the NotifyFieldChanged on CascadedEditContext is fired.

But when I change `myValue` variable from code, the value gets updated but NotifyFieldChanged is not fired.

`
@code {

    public string myValue { get; set; }

    public void Change()
    {
        myValue =

[2020-03-03 14:08] #19502 closed

[2020-03-03 14:11] WarrenCrabb commented on #19086
Using a custom JsonConverter also works if you don't want to switch to Newtonsoft for one enum conversion.

[code]

[2020-03-03 14:26] joshpearce commented on #18236
@javiercn:

I have dotnet 3.1.102 installed on macOS Mojave 10.14.6.

I have self signed SSL certificates installed in my Keychain. Chrome and Safari are fine with these certificates. But, when I make an HTTP request in C#, using dotnet core, to a website that uses one of those certs, I get a very similar stack trace to the one in this issue, where System.Net.Security.SslStream.StartSendAuthResetS

[2020-03-03 14:56] blowdart commented on #19523
GC doesn't kick in until it's needed. When you say GC is working, how do you know? Can you actually cause an out of memory error with lots of requests?

[2020-03-03 15:30] julienGrd commented on #17898
Hello guys, i'm worried about the milestone of this issue (5.0 preview).
I work on blazor at full time since one year by migrating an old silverlight app to blazor webassembly.
I'm suppose to deploy in production in may/june, i repeat this to my company since I know when webassembly will be production ready.
Actually my app not work at all on input time and i definitively can't wait the .net 5 to

[2020-03-03 15:58] Tratcher commented on #18943
Fixed by https://github.com/dotnet/runtime/pull/32944

[2020-03-03 16:05] scholtz commented on #19397
@davidsh Hi, i have attemted to do the .net 5 ntlm challange with gssntlmssp library, but I got stucked at the same point as with .net core 3.1. What did you configure for gssntlmssp library to make it work?

Thanks for KRB5_TRACE env variable.. i have used that almost from the beginning of my research.. However it does not put any output when app tries to do the kerberos authentication, but it ge

[2020-03-03 16:15] davidsh commented on #19397
Do you really want NTLM and not Kerberos? Is this only a server-side scenario or a client-side scenario?

The 'gss-ntlmssp' plugin only really solves client-side NTLM issues. Server-side NTLM is not supported by ASP.NET Core.

[2020-03-03 16:16] michaelmualem opened #19528 "Build NuGet packages from source"
Hello,
I am trying to build two NuGet packages from source: Microsoft.AspNetCore.Authentication.JwtBearer
Microsoft.AspNetCore.Mvc.NewtonsoftJson

I have installed all the prerequisites and run the script aspnetcore\build.cmd but I get the following error:
Unable to load the service index for source https://pkgs.dev.azure.com/dnceng/_packaging/darc-int-aspnet-AspNetCore-Tooling-07f16c89/nuget/v3/i

[2020-03-03 16:21] kurtisauc3 commented on #17277
Still waiting on a fix for this. The echo solution doesn't work for me, but the node does. It's pretty ugly. Not sure if angular needs to change the way they emit to the console or the spa service extension needs to change the way it listens.

For anyone wanting to use Angular 9 with a netcore3 app, i would recommend going back to angular 8 until this gets resolved. Otherwise the node hack from @b

[2020-03-03 16:44] Pilchie commented on #19528
@dotnet/aspnet-build - this is the internal feed right.  Is the solution just to remove that because the packages are now public?

[2020-03-03 16:45] Microshaoft commented on #19133
mark, same build error in ubuntu 18.04
error CS0234: The type or namespace name 'Pipelines' does not exist in the namespace 'System.IO'

[2020-03-03 16:48] julienGrd commented on #13452
Hello guys, like the others, i'm realy worried if you move this to the .NET 5 milestone.
After one year of work on blazor by rewriting an old silverlight app,  i'm suppose to deploy my app in production in may/june (when webasssembly will be production ready).

But i definitively can't do that without a strong way to catch or at least log all unexpected errors.

Please consider make something, eve

[2020-03-03 16:51] wtgodbe commented on #19528
Yes, that's the internal build. @michaelmualem are you building the `v3.1.1` tag? If so, you just need to remove the following lines: https://github.com/dotnet/aspnetcore/blob/e276c8174b8bfdeb70efceafa81c75f8badbc8db/NuGet.config#L9-L12

The reason this happened is that 3.1.1 was built through our internal channels, and therefore used internal (non-public) feeds for publishing packages. The `v3.1.

[2020-03-03 17:02] eliudgerardo commented on #13452
Hello, I'm in the same situation that @julienGrd
Please do something to help/guide us.
Regards!

[2020-03-03 17:05] mtamrakar opened #19530 "httpContext.Response.OnStarting lambdas executing in reverse order"
I have a setup where the same cookie might get deleted, set or changed in the same request based on various business logic. As per Microsoft suggestion, I have these cookie updates wrapped up inside OnStarting. In doing so, I have noticed that the lamdas run in the REVERSE order of their registration.

Eg:
[code]

Outputs:
7
6
5
4
3
2
1

ASP.NET Core version: 3.1

[2020-03-03 17:05] wtgodbe commented on #19121
https://github.com/dotnet/aspnetcore/pull/19529

[2020-03-03 17:17] mkArtakMSFT commented on #19530
@anurse I'm not sure `hosting` is the right area for this. Can you please adjust as necessary? Thanks!

[2020-03-03 17:19] bansalankit2601 commented on #13452
Same goes with me.

We have used Blazor Server side for all our development and migrated from
the legacy ASP.Net Web Pages.

On Tue, Mar 3, 2020 at 12:02 PM eliudgerardo <notifications@github.com>
wrote:

--
*Ankit Bansal*

*Scientific Games *

[2020-03-03 17:31] Tratcher commented on #19512
Theory:

Working:
AddDefaultIdentity sets DefaultScheme.
AddIdentityServerJwt sets DefaultScheme and overwrites the value set by AddDefaultIdentity. Authenticate and Challenge use the default scheme because no other values are set.

Not working:
AddIndentity sets DefaultAuthenticateScheme and DefaultChallengeScheme rather than DefaultScheme.
AddIdentityServerJwt sets DefaultScheme, which doesn't o

[2020-03-03 17:35] mkArtakMSFT commented on #19527
Thank you for your feedback.
We're closing this issue as the behavior discussed is by design.
The component is responsible for firing the `NotifyFieldChanged` event, not the other way around.

[2020-03-03 17:35] #19527 closed

[2020-03-03 17:38] mkArtakMSFT commented on #19487
Without a repro we won't be able to do much here, as we can't reproduce this. Closing for now. If others will hit the same issue we'll get new issues filed and will investigate then.

[2020-03-03 17:38] #19487 closed

[2020-03-03 17:41] marcuslindblom opened #19531 "Does injecting a layout model in viewstart make sense?"
I'm doing something like this to inject a layout model. I use `_ViewImports.cshtml` to inject the model like this:
[code]
This works pretty great but one thing I have noticed is that the `ctor` runs multiple times in the `Layout` class. In my current example I get three hits in the ctor. Is it possible to do this in a different way or does it not make sense to to this at all?

[2020-03-03 17:45] mkArtakMSFT commented on #19419
Thanks for contacting us. Here is a sample which will help with that: https://github.com/aspnet/samples/tree/master/samples/aspnetcore/mvc/renderviewtostring

[2020-03-03 17:46] Tratcher commented on #19530
This is intentional to mirror the middleware pipeline ordering. E.g. The last thing to register is the inner most component in the pipeline and so it gets to look at the response first.

That said, what specific guidance did you get for using OnStarting? It's one of the harder APIs to use correctly, especially with complex interactions like this. You might do better to abstract the cookie handling

[2020-03-03 17:47] mkArtakMSFT commented on #19395
Thanks for contacting us, @yang-er.
This is not something we plan to do as we've intentionally stepped away from that model.
/cc @rynowak

[2020-03-03 17:51] mkArtakMSFT commented on #19390
Let's get these tests disabled.

[2020-03-03 17:54] sebastienros commented on #19523
The GC is actually triggered as seen on the screenshots. The one with the custom plot (glad that you used it BTW) doesn't show for how long it ran, and how it got to 1.6GB.

@cycbluesky How much memory and how many cores does this machine have?

I will try an run the app locally for a long time as you provided it.

@javiercn @blowdart can you check if the code seems correct in terms of usage? At l

[2020-03-03 17:59] blowdart commented on #19523
It looks ok, but you're deep into Wilson now, so it may be something in there that's holding onto things

[2020-03-03 17:59] adugasBID commented on #17898
It would be nice to see some progress on this because we cannot migrate to 3.1 until this is fixed.

[2020-03-03 18:01] #19531 closed

[2020-03-03 18:06] Tratcher commented on #19523
In your VS screen shot you've highlighted `Dictionary<String, Int32>`. Can you expand the Paths to Root section and follow the tree under AsymemetricSignatureProvider. What's rooting that tree?

[2020-03-03 18:07] SteveSandersonMS opened #19533 "In Blazor WebAssembly, use ILoggerFactory for unhandled exceptions"
Currently, `WebAssemblyRenderer`'s override for `HandleException` simply calls `Console.Error.WriteLine`. This means there's no way to plug in any customer exception logging feature.

We should change this to use whatever `ILoggerFactory` is registered in DI.

[2020-03-03 18:08] dougbu commented on #19390
@mkArtakMSFT :ok:

@mmitche if I disable the https://dev.azure.com/dnceng/internal/_build?definitionId=134&_a=summary pipeline for our E2E tests, will that break ProdCon? If yes, what needs to change in the ProdCon configuration?

[2020-03-03 18:08] SteveSandersonMS commented on #13452
The intention is that you should be able to log all uncaught exceptions using the `ILogger` interface. This means you can plug in your own custom logging system that does whatever you want with the exception info.

*However* there's still a piece of this we haven't yet implemented. This is being tracked by https://github.com/dotnet/aspnetcore/issues/19533. We'll be sure to get this done soon.

[2020-03-03 18:10] Tratcher commented on #19523
Is this part being run per request? That would be in-efficient. Setting a breakpoint would tell you.
https://github.com/cycbluesky/JwtBeaMemoryLeak/blob/9a40e609ee25e5179f9255128793567fdb674eaa/src/JwtBearMemoryLeak/Authentications/CustomJwtBearerOptions.cs#L70-L73

[2020-03-03 18:21] AceTheWiz commented on #19262
Yes. also working in 16.5.0 Preview 5.0
Thanks for you time guys.

[2020-03-03 18:22] anurse commented on #9020
@curia-damiano can you file a new issue with this? Let's keep this thread to discussing the specific feature of supporting **gRPC** (*without* gRPC-Web) on IIS/Azure App Service. gRPC-Web was raised earlier on this thread because it's a good alternative, but I'd like to keep *this* thread focused on the primary goal of native gRPC support.

[2020-03-03 18:23] anurse commented on #9020
@MarkStega can you also file a new issue with your question? Let's try to avoid this thread getting overloaded with multiple possible topics (even if they are related). This issue is tracking *native gRPC* support on IIS/Azure App Service

[2020-03-03 18:24] anurse commented on #19303
Well, the suggested change in my previous comment isn't something we'd do, it would be in VS (if it doesn't actually work now, which it actually might...).

Making a change to how hosting reads this variable is not in scope for 5.0 at this time, we don't have resources.

[2020-03-03 18:36] #19121 closed

[2020-03-03 18:43] NikolaMilosavljevic opened #19536 "Repair option in aspnetcore-runtime-3.1.0-win-x64.exe fails with message account already exists"
@Daniel-Steiner commented on [Wed Dec 04 2019](https://github.com/dotnet/runtime/issues/517)

after installation of aspnetcore-runtime 3.1.0 on Windows 10 64-bit by running aspnetcore-runtime-3.1.0-win-x64.exe and than running aspnetcore-runtime-3.1.0-win-x64.exe again and selecting Repair option the repair fails with the error message:
Microsoft ASP.NET Core 3.1.0 - Shared Framework (x64) - Setup

[2020-03-03 18:44] Rick-Anderson opened #19537 "Bug: AddCommandLine(args, switchMappings) System.FormatException: The short switch '-k1=value1' is not defined in the switch mappings."
Code from [CommandLineConfigurationExtensions.AddCommandLine Method](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration.commandlineconfigurationextensions.addcommandline?view=dotnet-plat-ext-3.1)

[code]

To repo:

[code]

[2020-03-03 18:44] NikolaMilosavljevic commented on #19536
This is about aspnet installer - moved from dotnet/runtime repo.

[2020-03-03 18:46] danroth27 commented on #19508
This issue doesn't repro in stable VS with the same SDK version. It only repros in the latest d16.6 Preview 1 builds. Here's my VS details:

[code]

[2020-03-03 18:49] javiercn commented on #19508
Investigated this with @danroth27. It seems to be a visual studio specific issue as it doesn't repro in the RTM/Stable VS versions but it does in the preview versions.

![image](https://user-images.githubusercontent.com/6995051/75808817-90623e80-5d3c-11ea-9a1e-1a1b6d18215e.png)

[2020-03-03 18:50] javiercn commented on #19508
@Pilchie can you help route this to the appropriate team?

[2020-03-03 19:00] mtamrakar commented on #19530
At one point, we were trying solve the "response has started" issue and since then wrapped a cookie manager on top of OnStarting. You can imagine how these type of updates could happen from different part of the code which needs to run in sequence.

[code]

Is there any risk of having these updates like this?
[code]

[2020-03-03 19:21] brgrz commented on #5011
so in 3 years this @rynowak guy didn't come on top of this issue

[2020-03-03 19:31] MarkStega opened #19540 "gRPC-Web issues"
This is more of an FYI as I am experiencing the issue noted while using nightly builds of the gRPC packages.

I have an application (ASP.Net Core 3.2.0-Preview1) in which I changed out a REST API DAL for a gRPC-Web DAL. I followed the guidance of the Steve Sanderson blog post. My solution can be run as either CSB or SSB and I was successful with gRPC-Web in both configurations (I did have to advan

[2020-03-03 19:35] AmadeusW commented on #19262
Editor team has introduced this regression. It is resolved by repairing VS, which is what @AceTheWiz did. The fix is available in 16.5 Preview 5

[2020-03-03 19:37] #19428 closed

[2020-03-03 19:56] damianh opened #19541 "HttpClient Timout exception thrown differences between Kestrel and TestServer"
### Describe the bug

While testing sad-paths in my app with `HttpClient.Timeout`, I've discovered that there are behavioral differences between TestServer and Kestrel in that they throw different exceptions when HttpClient.Timeout elapses. And in ANC2.1, no exception is thrown at all for TestServer. Creating this issue because I think they should be alligned at the exeception type level. If peopl

[2020-03-03 20:29] os1r1s110 commented on #5011
@brgrz have you come up with a solution? Because if "this @rynowak " can't come up with one, maybe you could come and help (trying to be constructive maybe instead of destructive, your comment brings nothing to the table here IMO...)

I must agree it is sad to realize there's no proposed solution yet and that this problem has been reported a long time ago, but never forget they are not 1000 workin

[2020-03-03 20:39] jagbarcelo commented on #18564
Hi, guys. Is there any chance of moving this issue from Backlog to a Milestone with higher priority? We really need this issue to be fixed so that we could release our client/server application into production. I will be available to do any test you might need. Thanks.

[2020-03-03 20:40] Tratcher commented on #19530
Your second example is fine if you check HttpContext.Response.HasStarted first. No cookies can be modified after HasStarted, even with OnStarting.

[2020-03-03 20:49] anurse commented on #18564
We can transfer it over to dotnet/runtime to see if someone with experience with System.Drawing can help out here. The IIS host process is a different environment but I can't think of a way ASP.NET would be corrupting the image content so I think we'll need someone from System.Drawing to investigate further.

[2020-03-03 20:53] webebox opened #19542 "There is no tracked object with id 'x'. Perhaps the DotNetObjectReference instance was already disposed"
### Describe the bug
I have a page with a form that edits a Model (named Group), for the first component render, everything is OK and I edit and update the model correctly, but when I leave the page (_objRef is disposed) and return back to the page (component rerenderd for the second time),when I try to edit the Model it raises "There is no tracked object with id 'x'. Perhaps the DotNetObjectRefer

[2020-03-03 21:15] stack111 commented on #17921
Not sure if you worked around this issue. In general I would suggest you to use a handler life which is greater than 0. The idea is you want to benefit from the connection pooling and concurrent http requests right? If that is the case, why not implement as:

`MyTypedClient.PerformGetSomeRequest(Request.Headers)`

Just an idea :).

[2020-03-03 21:23] AdamWillden commented on #19133
I encountered this a few days ago and simply uninstalled 3.1.2 to revert to a working build.

I use VS preview which has just rolled out a new version packaged with 3.1.2

It seems I cannot install this component meaning, unless someone has any ideas (@Pilchie ?), I'm now forced to uninstall VS preview(??)

Here's hoping a fix is found soon 🍻

[2020-03-03 21:24] mikefayer commented on #13452
@SteveSandersonMS I think what we're after here is a much more general API, that just hands you an uncaught exception to do whatever we want _with the exception itself._ Imagine we want to examine the exception and possibly react somehow, maybe send the exception to an exception-tracking service like Raygun, or present some UI based on the contents. Without such an API, we need to misuse the `ILog

[2020-03-03 21:30] Pilchie commented on #19133
@AdamWillden - you can work around the problem by adding a Package Reference to System.IO.Pipelines until the next runtime ships.

[2020-03-03 21:32] AdamWillden commented on #19133
@Pilchie I just came to the same conclusion - now I feel stupid 🤦‍♂

[2020-03-03 21:49] damianh commented on #19541
While TestServer on ANC3.0/3.1 "fails" it does so after 5 seconds so doesn't look like it's respecting the timeout property at all.

![image](https://user-images.githubusercontent.com/57436/75822985-39428500-5da1-11ea-8a37-a6e0bf75f765.png)

[2020-03-03 22:21] Tratcher commented on #19541
While the exception type difference is unfortunate, this is one area where we intentionally don't try to maintain functional parity. TestServer's goal is to accurately represent server behavior, not client behavior. That means we sometimes allow the client to observe things it wouldn't normally be able to like directly observing exceptions that were thrown in the server code. It can make tests muc

[2020-03-03 22:38] damianh commented on #19541
Thank you for fast response; that makes sense.

Perhaps the docs or xml comments around `TestServer` or `TestSever.CreateClient` could make this clearer? This document is all about integration tests with TestServer but could probably do with an update with what you mentioned: https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-3.1 (yeah the "integration" term here m

[2020-03-03 22:47] Tratcher commented on #19541
Fair enough. Let us know if you see anywhere else that could use clarifying.

[2020-03-04 01:55] Kaelum opened #19548 "Microsoft.AspNetCore.Connections.Abstractions referenced version mismatch to System.IO.Pipelines"
Simply upgrading from SDK 3.1.101 to SDK 3.1.102 causes the following build error in an ASP.NET Core application subassembly:

The application has a dual HTTP/TCP interface, where a custom middleware class manages the HTTP interface, and a custom ConnectionHandler manages the TCP interface (directly accessing the pipelines).  For now, I'm using a global.json file to force the use of SDK 3.1.101.

[2020-03-04 02:53] yopez83 opened #19550 "Dynamic EditForm composition"
### Goal
To compose an EditForm base of a dynamic Model, which properties at given at runtime.

### Customer.razor
[code]

### Key point
- How to properly bind to the dynamic property?

[2020-03-04 03:04] Rick-Anderson commented on #18961
@HaoK  should I add this to [Policy-based authorization ](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies?view=aspnetcore-3.1)

in 3.0 and later,
Requirement handlers can execute in any order. Do not depend on order.

[2020-03-04 03:22] Rick-Anderson commented on #18831
@mkArtakMSFT please close

[2020-03-04 03:24] Rick-Anderson commented on #18064
@leastprivilege

Let me know how I can help.

[2020-03-04 03:28] cycbluesky commented on #19523
@Tratcher Yes, it's true. IssuerSigningKeyResolver will be run per request. This delegate is useful when you want to get different SecurityKey via  parameter **kid**. That's to say, in multi tenant scenario, each tenant has different key.
@sebastienros I created two branches(netcore21 & netcore31) for Your reference. Both of them have almost same code, but netcore21 works well, necore 31 does not.

[2020-03-04 03:30] Rick-Anderson commented on #16951
@nguerrera Do you know what the latest plans are on localizing XML Doc comments.

[2020-03-04 03:32] nguerrera commented on #16951
I do not know. @vivmishra might

[2020-03-04 03:33] Rick-Anderson commented on #14583
@anurse  can this be closed?

[2020-03-04 03:46] mtamrakar commented on #19530
Ideally, when would we ever do the OnStarting registration then?

[2020-03-04 03:57] Tratcher commented on #19530
OnStarting is useful for last second sanity checks, not much else.

[2020-03-04 04:12] mtamrakar commented on #19530
Thank you. I'm closing the issue as OnStarting is dong what it supposed to. I think we will just go with direct updates and handle out of sequence header updates more carefully.

[2020-03-04 04:12] #19530 closed

[2020-03-04 05:07] marcuslindblom commented on #19290
Ok, thanks for all the help! 🙏

[2020-03-04 05:07] #19290 closed

[2020-03-04 05:17] antonGritsenko commented on #19512
@Tratcher workaround works. Is this a really workaround and have to be fixed in next releases or we have to live with that?

[2020-03-04 05:19] antonGritsenko commented on #19512
Repro and playground:
https://github.com/antonGritsenko/webAppNetCore3.1Playground
 - it use InMemoryDB to quick deploy
 - you can switch between configuration to choose AddIdentity\AddDefaultIdentity

[2020-03-04 05:31] MrSmoke commented on #19315
So I've taken a `dotnet-dump` on a stalled instance. `clrstack -all` attached.

I did notice when running `clrstack -all` on a heap dump it threw a `Segmentation fault (core dumped)` error, but it worked on a mini dump (which is whats attached).

[clrstack_all_mini.txt](https://github.com/dotnet/aspnetcore/files/4279340/clrstack_all_mini.txt)

Threads:
[code]

[2020-03-04 05:40] NTaylorMullen opened #19551 "Transition Razor's Roslyn IVT pieces into Microsoft.CodeAnalysis.ExternalAccess.Razor"
Roslyn is looking to get rid of their IVT's to first parties in an effort to protect us first parties from the large amount of internal breaking changes that are sure to come given the new push for LSP.

A large part of the work here will actually happen over in the Roslyn repo (in [Razor's ExternalAccess project](https://github.com/dotnet/roslyn/tree/master/src/Tools/ExternalAccess/Razor)). The w

[2020-03-04 05:50] mkArtakMSFT commented on #5011
We'll add support for this in 5.0!

[2020-03-04 06:25] davidfowl commented on #19315
These calls are pretty telling:

[code]

It looks like you have a DI deadlock.

Seems like something is deadlocking your DI container. Let me try the usual check list:
- Do you have any calls to Task.Result in your application?
- Are you doing any async work in the constructor (and calling .Result)?
- Are you calling Task.Run when resolving services and then calling .Result on that Task? (https://

[2020-03-04 06:54] mkArtakMSFT opened #19552 "List of any firewall and antivirus software blocking Blazor WebAssembly applications"
We've learned about customers who have been seeing issues with their **Blazor WebAssembly applications being blocked by either Firewall or Anti-virus software**.
We're going to use this issue to build up the list of such software which interferes with Blazor WebAssembly so that we can follow up with their providers and try to address those issues.

## ASK
If you have observed (first hand) a situat

[2020-03-04 06:56] mkArtakMSFT commented on #5477
Hello everyone.
I've just created a new issue where we will be trying to collect all the specific software blocking Blazor WASM applications. Please provide information specific to your case as described in here: https://github.com/dotnet/aspnetcore/issues/19552

[2020-03-04 07:04] skype007 opened #19608 ""Could not get any response" when calling API secured with Certificate and a large JSON body"
We have a NETCore2.1+ API project with the following environments:
- Environment Development
- Environment DEMO
- Environment Quality (Secured with Certificate)
- Environement Staging (Secured with Certificate)

Using Postman, when I call a POST API with a JSON body (6263 lines according to Postman), the call works successfully in "Development" and "DEMO" environments. But not in "Quality" and "St

[2020-03-04 07:11] webebox commented on #19542
I solve the problem by changing the event handler from $(document).on('click' to wrapperInstance.on('click' where wrapperInstance is a wrapper to my current component :

`var wrapper = $("#wrapper"); wrapper.removeClass(); wrapper.addClass("wrapper" + instance["_id"]); var wrapperInstance = $(".wrapper" + instance["_id"]);`

note that I have added a wrapper to my component like this :

`<div id="w

[2020-03-04 08:11] Tonur opened #19554 "After updating some packages to get EF Core to work with Blazor WASM, "mscorlib.dll" no longer can be loaded in the web client."
I have had issues with creating a new default template of Blazor Web Assembly after installing some updates to packages seperately.
It doesn't matter whether I create the project as "Asp.Net Core Hosted" or not, the issue only affects my pc.
I have transfered the solution and project files onto some colleagues pc, and they can get it to run just fine.

The issue I am receiving is as follows:

blaz

[2020-03-04 08:27] scholtz commented on #19397
Hi @davidsh .. So NTLM vs Negotiate as far as I understand it, is that both works the way that web browser when it sees Authenticate: NTLM or Authenticate: Negotiate sends some hashed password with domain with some secret thing from ad to the server. The server sends also his secret from ad and prepares the challenge for the browser. Browser validates the server challenge so that it knows it can t

[2020-03-04 08:28] ghidello commented on #5477
On a side note, CDNs like github pages and cloudflare are compressing the assets with a wasm extension out of the box while they're serving an uncompressed version for the dll files. If I remember correctly Azure CDN should behave in the same way.

[2020-03-04 08:50] akiander opened #19555 "IIS AspNetCore Module V2 throws failed to load coreclr"
We upgraded our asp.net core site from .NET Core 2.2 -->  3.1

The site works fine for about 18 hours and then crashes. Restarting it gives us:

Looking in the event log, we see this:

[code]

[code]

[code]

No amount of recycling / rebooting or redeploying gets the site back up and running.

Deploying the old 2.2 code works immediately.

Any idea what might be causing this?

[2020-03-04 09:59] KamranShahid opened #19556 "No more option for <aspNetCore processPath="bin\IISSupport\VSIISExeLauncher.exe" arguments="-argFile IISExeLauncherArgs.txt" stdoutLogEnabled="false" />"
I have a asp.net core 2.0 application which have an option in my web.config as

[code]

In this way My application which is hosted in IIS always keep running and same application I can run in debug

After asp.net core 3.1 upgrade configuration change like

[code]

[2020-03-04 10:23] mahaisong opened #19557 "BUG:cookies没有写入Response导致请求认证接口callback signin-oidc 丢失了oidc失败"
ASP.NET Core  3.1.2
class：Microsoft.AspNetCore.Authentication.RemoteAuthenticationHandler
function：GenerateCorrelationId
Issue：the last line

  Response.Cookies.Append(cookieName, CorrelationMarker, cookieOptions);

NO append in Response。

[2020-03-04 11:06] mrpmorris opened #19559 "[Blazor] OwningComponentBase should change Scope for @injected dependencies in child components"
Desired
=====
When a page descends from `OwningComponentBase`, all child controls within that component should have their `@inject` dependencies injected from that new scope.

Actual
====
Dependencies are injected from the main app's scope.

[code]

Desired output:
  Injected value = 1
  Resolved value = 1

Actual output:
  Injected value = 1
  Resolved value = 2

[2020-03-04 11:24] hordani commented on #17277
What worked for me was changing "ng serve" to "ng serve --host 0.0.0.0" in package.json "start"

[2020-03-04 11:30] Shriyanshmit opened #19560 "How to add .so files references."
I am having one .so file which I want to use in .Net core.

Once I use the same library in c with below code it is working fine but I don't know how to add these references in .Net Core.

Code in C

add_library(capi SHARED IMPORTED)
set_target_properties(capi PROPERTIES
IMPORTED_LOCATION "/opt/lib/libcapi.so"
INTERFACE_INCLUDE_DIRECTORIES "/home/src/api/capi/include;/home/src/api/capi/include/Linu

[2020-03-04 11:57] javiercn commented on #19560
@Shriyanshmit thanks for contacting us.

This is not an asp.net core related question. You will get a better and faster answer if you file an issue directly in the [dotnet/runtime](https://github.com/dotnet/runtime) repository or ask your question on stackoverflow.

Hope that helps.

[2020-03-04 11:57] #19560 closed

[2020-03-04 12:03] LaughingJohn opened #19561 "Blazor Client: Issue publishing: Mono.Linker.Steps.XmlResolutionException: Failed to process XML description: <unspecified>"
Hi,

I'm having issues publishing my project. It was working up until recently. I upgraded to VS2019 preview 16.5 Preview 5 recently, but equally it could be something I've done accidentally. The error message appears to be saying it can't resolve a reference to my library project. This is a client side project which I use to contain my shared components - it is referenced via a project reference.

[2020-03-04 12:03] javiercn commented on #19559
@mrpmorris thanks for contacting us.

That is not a feature that we have and it is not something we are likely to add as it would result in a very convoluted model where it would be really hard to reason about a component dependency as its scope would be based on what its parent is and might vary if a component is the child of different component types, which I don't think is a trait we want to ha

[2020-03-04 12:07] iamgmd commented on #19381
Same applies to Visual Studio for Mac.

[2020-03-04 12:10] javiercn commented on #19554
@Tonur thanks for contacting us.

* I would recommend you try the following things:
* Turn off linking
* Remove the bin and obj folders in your solution projects
* Navigate with incognito/inprivate mode on.
* Clear nuget packages with `dotnet nuget locals --clear all` **(this will empty your nuget caches)**
* Clear the template engine cache from `~/.templateengine` by removing the folder and insta

[2020-03-04 12:11] javiercn commented on #19550
@yopez83 thanks for contacting us.

I don't think this is a feature that we have. @SteveSandersonMS am I wrong?

[2020-03-04 12:12] michaelmualem commented on #19528
Many thanks it was helpful.

Next, I am getting this error, after many warnings of "Could not find file" in the src\submodules folder (actually this folder is empty, is it supposed to be ?) :

error : An unexpected error occurred: "https://registry.yarnpkg.com/rxjs/-/rxjs-6.4.0.tgz: ESOCKETTIMEDOUT". [\aspnetcore\src\Components\Web.JS\Microsoft.AspNetCore.Components.Web.JS.npmproj]
\aspnetcore\eng

[2020-03-04 12:12] javiercn commented on #19548
@Kaelum thanks for contacting us.

I believe we had an issue here with the 3.1.102 release but that it got fixed. @halter73 can you confirm/give steps to fix it?

[2020-03-04 12:14] javiercn commented on #19537
Thanks @Rick-Anderson.

@anurse who's the right person to look at this? (Is platform the right place to put it?)

[2020-03-04 12:15] javiercn commented on #19561
@LaughingJohn thanks for contacting us.

Are you using a custom linker descriptor by any chance? Have you modified the build process in any way?

[2020-03-04 12:26] GeraudFabien commented on #18734
Maybe https://github.com/dotnet/aspnetcore/issues/5082 associate with https://github.com/dotnet/aspnetcore/issues/8364 would do what you want if i understand you're need well ?

[2020-03-04 12:42] blowdart commented on #19557
But there [is](https://github.com/dotnet/aspnetcore/blob/425c196cba530b161b120a57af8f1dd513b96f67/src/Http/Http.Features/src/IResponseCookies.cs#L24).

Are you getting an error? Or is this intellisense doesn't show you Append?

[2020-03-04 12:56] GeraudFabien commented on #19550
Maybe you could use an ObservableCollection<string, string>(). This way you can add you're field and raise stateHasChanged.
I personally won't use ObservableCollection<string, string>() but somethinks like ObservableCollection<IEditField>(). IEditField would allow you to add custom type and so custom design for futur type you may need. So for instance you would have a class ShortTextEditField. You

[2020-03-04 13:03] mrpmorris commented on #19559
@javiercn This would make it the same as the way ASP MVC requests work for the pages that the developer wants to descend from OwningComponentBase. A per-page scope.

Currently, the lifetimes are confusing

- Singleton (makes sense)
  - ASP.NET: Single-instance shared across all tabs and all users connected to the server.
  - Server-side: Same as ASP.NET
  - Client-side: Single-instance per tab, no

[2020-03-04 13:10] LaughingJohn commented on #19561
Hi @javiercn

Thanks, yes, it appears I have! I probably to get around an earlier problem..

Do you know if I need to remove or adjust it it?

Thanks,
LJ

In csproj:

  <ItemGroup>
    <BlazorLinkerDescriptor Include="Linker.xml" />
  </ItemGroup>

Linker.xml:

<?xml version="1.0" encoding="UTF-8" ?>

<linker>
  <assembly fullname="mscorlib">

    <type fullname="System.Threading.WasmRuntime" />

[2020-03-04 13:15] tebeco commented on #5989
@Tratcher sorry to ping you about this, i was looking at the docs here :
https://docs.microsoft.com/en-us/aspnet/core/performance/response-compression?view=aspnetcore-3.1#working-with-iis-dynamic-compression

That pointed to this issue. As we `nginx` in `k8s` for the `ingress` part, i supposed we will be impacted by this as well ?

i'm not sure how to understand this :

Does it means `AspNetCore c

[2020-03-04 13:55] Tratcher commented on #5989
We have not found a way to make this work properly with nginx. If someone figures it out then we'll make any necessary changes to the middleware.

[2020-03-04 14:35] giammin opened #19563 "cannot bound SPA in site subfolder using IApplicationBuilder"
### Describe the bug
when using  Microsoft.AspNetCore.SpaServices.Extensions all requests without endpoint are rewrited to the SPA default page. there is no way to bound it to a subfolder

### To Reproduce

just run an mvc core site with an angular site under a subfolder

any 404 will go to the angular sites instead of the mvc root site

also if I try to map the app with:

[code]

### Further tech

[2020-03-04 14:37] mikelyncheski commented on #13440
For now, I created a simple method that creates the markup for the option:

	`{return $"<option value='{firstItem.Value}'>{HttpUtility.HtmlEncode(firstItem.Label)}</option>";`

I have a wrapper around each of our Input components so I only had to put this in one place.:

https://gist.github.com/mikelyncheski/7543d2d1f37aa1c27b735077a2efdc41

[2020-03-04 14:40] jl-rey opened #19564 "A problem changing from app.UseEndpoint to app.UseMvc"
### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce

### Further technical details
- ASP.NET Core version
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version

[2020-03-04 14:56] jl-rey commented on #19564
At the beginning of this tutorial you described the following

In [Add a controller](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/adding-controller?view=aspnetcore-3.1) page

`            app.UseEndpoints(endpoints =>
            {
                endpoints.MapControllerRoute(
                    name: "default",
                    pattern: "{controller=Home}/{action=Index

[2020-03-04 15:21] SteveSandersonMS commented on #19550
If I understand the question correctly, it's a duplicate of #14006, which also contains a code sample showing how it can be done.

[2020-03-04 15:23] SteveSandersonMS commented on #14006
It's the mechanism by which the receiver can obtain metadata about the value you're supplying. For example, the `Input` components all use it to attach themselves into the validation system, showing the validation status of the associated field.

[2020-03-04 15:30] LockTar commented on #19481
So if I understand correctly. It should be:

[code]

[2020-03-04 16:02] halter73 commented on #19548
This looks like a dupe of https://github.com/dotnet/aspnetcore/issues/19133. The workaround is to add a reference to the System.IO.Pipelines NuGet package.

[2020-03-04 16:03] rynowak commented on #19481
Yes.

[2020-03-04 16:25] rynowak commented on #19564
Moving this to the docs repo since this is feedback about docs.

This is discussed in the migration docs here: https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#use-mvc-without-endpoint-routing

If you want to use the old routing system - use `UseMvc` and set `EnableEndpointRouting = false`. If you want to use the new routing system, use `UseRou

[2020-03-04 16:28] yopez83 commented on #19550
Thank you all for your input. @SteveSandersonMS in #14006 says it will be supported in the near future. Is there a time frame?

[2020-03-04 16:36] Tratcher commented on #19512
Now that we've confirmed the problem we still need to decide what to do about it.

@HaoK the odd one out here is AddIdentity. Why does it set DefaultAuthenticateScheme and DefaultChallengeScheme rather than just setting DefaultScheme?

[2020-03-04 16:43] anurse opened #19566 "All Java and NPM-based tests are running in the quarantined test pipeline"
Example: https://dev.azure.com/dnceng/public/_build/results?buildId=546283&view=ms.vss-test-web.build-test-results-tab

All the Java tests are showing as running but none of them are quarantined :). We should not be running these unless they are quarantined (but since we don't have a way to quarantine them at this time, they shouldn't run at all).

cc @BrennanConroy

[2020-03-04 16:50] Reverendheat opened #19567 "SSL Errors on project when moving from Windows machines."
### Describe the bug
Created a small app for learning on home pc which was working fine, came to work and cloned the REPO. Suddently getting SSL errors.

### To Reproduce
Can clone this code and run. https://github.com/Reverendheat/typicodeBlazor after you click on the page "All Posts" you should receive an unhandled exception.

[code]
### Further technical details
- ASP.NET Core version
3.1
- Inc

[2020-03-04 16:58] Pilchie commented on #19528
See the section on submodules in the [docs](https://github.com/dotnet/aspnetcore/blob/master/docs/BuildFromSource.md#clone-the-source-code)

[2020-03-04 16:59] SteveSandersonMS commented on #19550
Where does it say something will be supported?

[2020-03-04 17:02] anurse opened #19569 "DI failure in Negotiate auth handler tests"
We got a significant number of DI-related failures in the Negotiate Authentication handler. I'm quarantining them in https://github.com/dotnet/aspnetcore/pull/19568 but we should take a quick look. If it's truly a one-off, they'll fall back out of quarantine in 30days as per policy.

[2020-03-04 17:05] #9035 closed

[2020-03-04 17:06] anurse opened #19570 "[Discussion] New Azure Integration Packages in ASP.NET Core 5 #408"
This is the discussion issue for https://github.com/aspnet/Announcements/issues/408

ASP.NET Core currently includes three packages designed to integrate our components with Azure services. Specifically, the following three packages:

* [`Microsoft.Extensions.Configuration.AzureKeyVault`](https://www.nuget.org/packages/Microsoft.Extensions.Configuration.AzureKeyVault/), which integrates Azure KeyV

[2020-03-04 17:06] Tratcher commented on #19569
Link to the failing build, or at least copy the error message?

[2020-03-04 17:11] HaoK commented on #19512
That's what it always did, so mostly just for legacy reasons, its definitely a breaking change to go from setting the granular defaults to setting all the defaults.  The idea was to leave the old AddIdentity alone.  AddIdentityCore is the new more granular api to use.

[2020-03-04 17:13] javiercn commented on #19512
Could we do this as part of 5.0?

[2020-03-04 17:15] anurse opened #19571 "Remove DataProtection.AzureKeyVault and DataProtection.AzureStorage from 5.0 build"
The Azure SDK team is taking over these packages: https://github.com/aspnet/Announcements/issues/408

As a result, during 5.0 we should remove these packages and post a breaking change announcement indicating that users should migrate to the new packages.

[2020-03-04 17:17] yopez83 commented on #19550
@SteveSandersonMS my bad. It says the “will not”.

[2020-03-04 17:22] NTaylorMullen commented on #19381
Nope.

@ToddGrun it looks like some of the formatting comments are making there way to the top-level buffer? This looks pretty bad.

[2020-03-04 17:23] HaoK commented on #19512
New apps should be using AddIdentityCore or AddDefaultIdentity which already do the right thing, I'm not sure making the migration story more complex for older apps is worth it at all, when those are the apis that were added explicitly to make composition of auth like this possible.

[2020-03-04 17:26] mkArtakMSFT commented on #19563
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, we are not a general-purpose forum. To get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2020-03-04 17:27] NTaylorMullen commented on #18864
Re-opening because the associated issue was marked by design. We'll need to find another way to solve this.

[2020-03-04 17:30] mkArtakMSFT commented on #19542
Thanks for contacting us. Glad that you've resolved the problem yourself!

[2020-03-04 17:30] #19542 closed

[2020-03-04 17:31] #19550 closed

[2020-03-04 17:41] anurse commented on #19569
It's on WhatsBroken, I'll dig up the build link.

[2020-03-04 17:41] anurse commented on #19569
Build: https://dev.azure.com/dnceng/internal/_build/results?buildId=544189&view=results

Message:

[code]

Stack Trace:

[code]

[2020-03-04 17:42] anurse commented on #19537
This is in Configuration, should be in dotnet/extensions. Transferring now.

[2020-03-04 17:43] anurse commented on #14583
Fine with me

[2020-03-04 18:20] LaughingJohn commented on #19561
Hi @mkArtakMSFT

Just FYI my project structure is:
- Server (asp.net core)
- Client (main blazor client project)
- Library (razor class library referenced by client)
- Shared .Net standard library - referenced by Client & Server

The only way I can seem to get it to publish successfully is if I disable the linker for the main Blazor webasm project (Client). However when I do that the application w

[2020-03-04 18:53] willdean commented on #2442
There's an additional imperative for this now, because the usual work-around of adding the required mapping to a `StaticFilesOptions` object and passing it to `UseStaticFiles`  then prevents (for reasons I don't properly understand) Blazor Server from initialising its static file service properly.   So you can serve static .webmanifest files, or you can have Blazor Server, but you can't easily do

[2020-03-04 18:55] Tratcher commented on #2442
@danroth27 @anurse We're getting more hits on this. See the linked PR #7664.

[2020-03-04 19:05] vsfeedback opened #19576 "Integrate Microsoft Graph with ASP.Net Identity"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/936757/integrate-microsoft-graph-with-aspnet-identity.html)._

---
<p>We are integrating an MVC .NET web application using asp.net identity with Microsoft Graph, however, we don't find an example where both asp.net identity and OAuth work together. We are experiencing an is

[2020-03-04 19:06] vsfeedback opened #19577 "Reliably crash VS2019 by adding @if() before a div in blazor page"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/934919/reliably-crash-vs2019-by-adding.html)._

---
I can reproducably crash Visual Studio 2019 in a blazor page. I made a Github repo to reproduce the crash:
https://github.com/Regenhardt/crash-dummy

### Reprocuction
Basically you go to a blazor page (here: FetchData.razo

[2020-03-04 19:16] Tratcher commented on #2442
It's documented by w3c, but not registered with IANA.
https://w3c.github.io/manifest/#media-type-registration
https://www.iana.org/assignments/media-types/media-types.xhtml

[2020-03-04 19:20] willdean opened #19578 "Passing options to UseStaticFiles breaks Blazor Server's static file service"
### Describe the bug

If you pass any kind of `StaticFileOptions` object to `app.UseStaticFiles()`, then Blazor Server will no longer be able to serve `blazor.server.js`, breaking Blazor.

### To Reproduce

* Create the template Blazor Server app
* Run it and observe that it works correctly
* Change the `app.UseStaticFiles()` call in Startup.Configure to read `app.UseStaticFiles(new StaticFileOpti

[2020-03-04 19:22] ghen opened #19579 "WebHost documentation in Override Configuration section does not reflect fix #4284"
ASP.NET Core WebHost documentation in [Override Configuration](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/web-host?view=aspnetcore-3.1#override-configuration) section does not reflect the latest fix inptroduced in [#4284](https://github.com/dotnet/aspnetcore/pull/4284).

Specifically, this note is now irrelevant:

[2020-03-04 19:39] vivmishra commented on #16951
There are no formal plans to pick any new localization work for .NET 5 or 3.1.

But, if this can be automated easily with MT then it is something we can consider. Adding Jason to check the feasibility of such a translation work. Will get back with updates once we have them.

cc: @JasonCard ; @mairaw

[2020-03-04 19:47] blowdart commented on #19576
This would be a question for Microsoft Graph rather than us.

https://github.com/microsoftgraph would be the place to ask.

[2020-03-04 19:47] #19576 closed

[2020-03-04 20:11] mairaw commented on #16951
We now offer manual installs of localized IntelliSense for some targets (.NET Core, .NET Standard and Desktop SDKs)

https://dotnet.microsoft.com/download/dotnet-core/intellisense
https://docs.microsoft.com/en-us/dotnet/core/install/localized-intellisense

They are human translated quality IntelliSense files.

But I'm not familiar with annotation language localization. I don't know how you get tho

[2020-03-04 20:23] NTaylorMullen commented on #19577
I'm unable to reproduce this issue even with the repro:

![image](https://i.imgur.com/7wSdXfD.gif)

If you update to the latest Visual Studio do you still see the issue?

[2020-03-04 20:29] SteveSandersonMS opened #19580 "Change auth policy code in templates"
Following discussions, we want to change the default code in Azure AD/B2C-using project templates from this:

[code]

to this:

[code]

The intention is:

1. To avoid the current weirdness in the Blazor Server templates whereby default policy isn't applied to the `_Host` page or `/_blazor` SignalR endpoint
2. Make it more obvious where you'd put custom policies. In the existing templates, people p

[2020-03-04 20:30] SteveSandersonMS commented on #19580
cc @DamianEdwards @blowdart

[2020-03-04 20:32] JohnGalt1717 opened #19581 "CORS WithCredentials Worked .NET Core 2.x now broken 3.1.2"
In the past Startup.cs of

services.AddCors(options => options.AddDefaultPolicy(policy => policySetIsOriginAllowed(origin => return true).WithCredentials()));
services.AddMvc()

then
app.UseCores();
app.UseMvcwhatever();

Would work fine.

Now this fails. (no matter what order I put it in)

And from what I can tell there is no case where WithCredentials will actually work with an xhr (Angular 9).

[2020-03-04 20:35] AdrienTorris commented on #17973
It seems the problem persists even after upgrading all the references to 3.1.2.

[2020-03-04 20:40] dsplaisted commented on #17973
@AdrienTorris What do you mean by upgrading the references?  You need to install the 3.1.102 SDK to get the fix

[2020-03-04 20:40] danroth27 commented on #2442
@SteveSandersonMS How are we handling the manifest media type currently in the new PWA support for Blazor WebAssembly?

[2020-03-04 21:20] anurse commented on #19556
What are you trying to accomplish here? VS should still be doing the same thing even with this config change. What's the problem you're encountering?

(cc @BillHiebert since this seems tooling-related)

[2020-03-04 21:22] anurse commented on #19555
Generally this occurs because either: Your application is taking longer than 120 seconds to start up and be able to process the first request, or your application is crashing. Can you post a runnable sample that reproduces the problem or detail exactly what your startup processes are doing (`Program.Main`, `Startup.Configure`, etc.). If something there is taking longer than 120 seconds, this is ex

[2020-03-04 21:25] anurse commented on #19567
Your code snippet looks like you're getting these errors from HttpClient, not the server, is that correct? (cc @scalablecory)

[2020-03-04 21:27] anurse commented on #19536
Thoughts @joeloff ?

[2020-03-04 21:32] SteveSandersonMS commented on #2442
@danroth27 We call it manifest.json so it uses the default JSON media type. We can switch it to be a .webmanifest file in the future when ASP.NET Core understands that by default.

In the short term it should make no difference: https://stackoverflow.com/questions/52129281/manifest-json-vs-manifest-webmanifest

[2020-03-04 21:47] joeloff commented on #19536
This is the GA version of 3.1? From the posted log it seems that the SDK bundle can't extract the MSI properly:

[code]

The 1316 error is a more cryptic one. Is there an MSI log I can see that showed the 1316 Account Already Exists error?

[2020-03-04 21:50] Reverendheat commented on #19567
I apologize @anurse, could you clarify? Is there an easy way for me to tell?

[2020-03-04 22:05] JasonCard commented on #16951
We currently cannot localize comments in code. We do have a feature request, but considered low priority due to complexity and lack of data on demand. With help from @Rick-Anderson, we're currently gathering feedback on this by [adding links under code snippets](https://github.com/dotnet/docs/pull/17129/files) and directing feedback [here](https://github.com/MicrosoftDocs/feedback/issues/2515).

[2020-03-04 22:08] anurse commented on #19567
It looks like it is in `HttpClient` based on the code you provided. I'm going to transfer this to dotnet/runtime (they own the `HttpClient` type) for now and we can evaluate it there.

[2020-03-04 22:13] Tratcher commented on #19578
Does it work if you add a second instance of UseStaticFiles with options rather than modifying the existing one?

[2020-03-04 22:16] Tratcher commented on #19557
Or do you mean that the expected set-cookie header is missing from the response?

[2020-03-04 22:18] Tratcher commented on #19557
Title auto translate:

[2020-03-04 22:19] Tratcher commented on #19548
@dotnet/aspnet-build

[2020-03-04 22:21] willdean commented on #19578
@Tratcher It does!

 I am not sure where I currently am on the amazed <-> appalled spectrum...

[2020-03-04 22:25] Tratcher commented on #19578
:grin: UseStaticFiles is designed to support multiple instances if you pass in the options directly. UseStaticFiles() with no parameters pulls the options from DI which is likely where Blazor is tweaking the settings.

[2020-03-04 22:39] Pilchie commented on #19548
@Kaelum do you have an explicit package reference to `System.IO.Pipelines`?

[2020-03-04 22:40] willdean commented on #19578
@Tratcher Thanks - that does make sense, though I didn't expect it at all, and it feels like a bit of a gotcha.

Would it perhaps be possible for Blazor to detect that it has never been given the chance to run its static file config code and explode somehow early in the run?
That would also catch the case where you didn't have a `UseStaticFiles` at all - I have seen other people on-line struggling

[2020-03-04 22:47] NTaylorMullen commented on #14280
Hmm, good question. Honestly at this point it'd probably just be for dev scenarios

[2020-03-04 22:53] Rick-Anderson commented on #16951
This isn't comments in code.  See the images above. This is more like the API's that are translated.

[2020-03-04 23:00] Tratcher commented on #19578
Yeah, blazor should be adding their own static file handler like UseBlazorStaticResources rather than messing with the default.

[2020-03-04 23:04] ajaybhargavb commented on #14280
Spoke offline. What we want here is for certain configuration changes like Razor.Trace, we'll display a dialog to the user prompting them to restart.

[2020-03-04 23:06] #14317 closed

[2020-03-04 23:07] JasonCard commented on #16951
It looks like the images above are highlighting localized comments in code, but I don't know where those screenshots are coming from.
I'm also not sure what "XML Doc comments" is referring to.
We do localize API reference content for .NET and Xamarin.Forms.
Do you know what content/repo are requested to be localized?

[2020-03-04 23:09] abrguyt opened #19586 "UseWhen() not rejoining main branch when containing terminal middleware (v3.1)"
The docs clearly state that IAppplicationBuilder.UseWhen() should always rejoin the main branch even in case of short-circuiting or when the delegate contains terminal middleware. However this does not seem to be the case.

This code does not rejoin the main branch:
[code]

While this code does it correctly:

[code]

The current implementation is not in line with the documentation for UseWhen (htt

[2020-03-04 23:31] Kaelum commented on #19548
@Pilchie no, I didn't have an explicit reference, and I was hesitant to add one due to an issue in the past that was made worse by doing so.  Since it was an issue of not being able to find the correct version of the library, as opposed to finding the library at all, I didn't think that would work.

Anywho, I added an explicit reference to the project that wasn't building, and it seems to be worki

[2020-03-05 00:07] mairaw commented on #16951
But that is not IntelliSense @Rick-Anderson. Do you know how to see that?

[2020-03-05 00:07] rmarinho commented on #19417
I m having some issues with cert generation on macOS but with normal .net 3.1.
I m on macOS Catalina beta. 10.15.4 Beta (19E242d).

[code]

[code]

[2020-03-05 00:16] Rick-Anderson commented on #16951
![image](https://user-images.githubusercontent.com/3605364/75935217-bb26c280-5e22-11ea-84a4-86510798e53b.png)

[2020-03-05 00:24] rmarinho opened #19590 "Can't create development certificate on macOS Catalina"
### Describe the bug
Trying to generate a development certificate on my macOS Catalina (10.15.4 Beta (19E242d)) using the `dev-certs` tool but is not not working.

output:
[code]

### To Reproduce

Running

[code]

### Further technical details
- ASP.NET Core version : 3.1
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version

[code]

[2020-03-05 00:32] rmarinho commented on #3957
Plus one on maybe try to make the tool work for mobile and iOS. We want to make developers a delightful experience developing cross platform solutions with .NET.
Since https as default is the way to go, would be great if we can make it work with a flag when generating the dev cert if we want to make it work for mobile too.
Other approach is to have documentation how to get this working for iOS and

[2020-03-05 01:22] JamesNK opened #19591 "Investigate HTTP/2 stream reuse and state"
A change to our HTTP/2 implementation to reset a stream at the end of use, and not the beginning of use, caused flaky tests.

PR:
https://github.com/dotnet/aspnetcore/pull/19431

Possible failing tests:
* ReactTemplate_IndividualAuth_NetCore
* hubConnection using json over LongPolling transport using https, can invoke server method and receive result
* hubConnection using messagepack over LongPoll

[2020-03-05 01:38] mahaisong commented on #19557
yes,I see the set-cookie in browser Developer Tools （Response Headers）,but Actually the cookies not Save locally。

 Problems after successful login，“RemoteAuthenticationHandler.ValidateCorrelationId” have not  Request.Cookies.

Report as : Exception: Correlation failed.
Unknown location
Exception: An error was encountered while handling the remote login.
AspNetCore.Authentication.RemoteAuthenticat

[2020-03-05 01:47] ssg commented on #19478
My PR got approved, closing this, thank you everyone! :)

[2020-03-05 01:47] #19478 closed

[2020-03-05 01:49] diez-esteban commented on #19590
Hi @rmarinho  I'm going through the exact same error, with the exact same dev stack.
I've gone through all the pages suggesting to remove the certificate from system key, run the --clean and --trust commands but nothing works.

Does anyone have further ideas on what to try next? It'd be greatly appreciated. Thank you.

[2020-03-05 02:01] Tratcher commented on #19557
Which authentication handler are you using? RemoteAuthenticationHandler is the base implementation for many different kinds.

Please capture and share a decrypted Fiddler trace showing the whole scenario.

[2020-03-05 02:12] mahaisong commented on #19557
![image](https://user-images.githubusercontent.com/5094449/75941113-caad1680-5ec9-11ea-809a-faec59545138.png)

[2020-03-05 02:13] mahaisong commented on #19557
![image](https://user-images.githubusercontent.com/5094449/75941209-0516b380-5eca-11ea-9208-68634bc94919.png)

[2020-03-05 02:26] Tratcher commented on #19557
That's not enough information, we need to see the full network trace. A tool like Fiddler can capture that for you, but make sure to enable decryption.

[2020-03-05 02:37] #17802 closed

[2020-03-05 02:57] mahaisong commented on #19557
ok.I am using Fiddler for the first time,Content in zip，Decrypted.
 Please pay attention “https://identity.gimind.com”  and  “https://localhost:44351/ ”.

[request.zip](https://github.com/dotnet/aspnetcore/files/4290704/request.zip)

[2020-03-05 03:13] MagoDopado commented on #19178
I have the exact same problem with dotnet 3.1.102 publishing the example app with
`dotnet publish -c Release --self-contained -r linux-x64 /p:PublishSingleFile=true -o ./app/publish/`

[code]

Publish folder tree
[code]

Is there something else needed to fix this problem?

[2020-03-05 03:22] saber-wang commented on #16951
It is similar to this, but the file of ASP. Net core is missing

[2020-03-05 04:08] #4716 closed

[2020-03-05 05:39] mahaisong commented on #19557
I spent a lot of time validating.I have verified many browsers，Including chrome, edge, ie11, QQ, 360, etc., only 360 has this problem.Maybe this problem is not a bug of the program, but a problem of 360 browser itself.I have feedback to browser developers.

Thank you for your attention.Have a good time.

[2020-03-05 05:39] #19557 closed

[2020-03-05 06:25] mihaimyh commented on #19561
I also got the same issue using blazor-wasm hosted on asp.net core.

[code]

[2020-03-05 07:17] 0xced commented on #3957
@rmarinho I'll have to rebase #14228 on master then get it merged before I can continue to work on this feature. But first I'd like #19483 to be merged in order to reduce conflicts when rebasing and also to be sure that there's traction for this feature.

[2020-03-05 08:00] hhvdblom opened #19594 "Razor pages grouping"
https://stackoverflow.com/questions/46777404/why-is-razor-pages-the-recommended-approach-to-create-a-web-ui-in-asp-net-core-2/57798703#57798703

[2020-03-05 09:11] javiercn commented on #19178
Hi.

**It looks like you are posting on a closed issue!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

[2020-03-05 09:16] javiercn commented on #19594
Thanks for contacting us @hhvdblom.

Your question is not clear to us. Can you provide more details about your specific issue/question so that we can try and help you?

[2020-03-05 09:26] javiercn commented on #19590
@rmarinho thanks for contacting us.

Could you check a few things?
Do you have any "localhost" certificate on your keychain? (If so, assuming that it is an asp.net core generated one)
Can you remove it manually?
Also check on the system certificates for the same certificate and remove it from there too.

Can you run `dotnet dev-certs https --check` and report the exit code?

[2020-03-05 10:16] hhvdblom commented on #19594
Hi @javiercn, to be clear, Its all about Razor pages. In Razor pages you have a code-behind for every page. If you have lets say 4 pages that are Home page related you will have 4 code-behind pages. They are not grouped to a Home page. If you look at MVC you have a HomeController with all home pages related views in it. Thats an example of a Facade pattern. With Razor pages you could group them in

[2020-03-05 10:18] rmarinho commented on #19590
Hi, I removed the one I had, same error, but it does create a new one on keychain.
I didn't any on system certificates only on the login keychain.

[code]

[2020-03-05 10:23] damianh commented on #10542
Sorry, I'm not confident enough on this topic to make an assertion.

[2020-03-05 10:47] giammin commented on #19563
sorry it was a copy paste typo: did not notice:    **admin**.UseSpa(spa =>

[2020-03-05 10:47] #19563 closed

[2020-03-05 11:33] Tonur commented on #19554
Thanks! I got it to work now.
I firstly removed the bin and obj folders in my solution projects and ran the `dotnet nuget locals --clear all` command. Afterwards, it worked like a charm, I can make new projects from the template that can run and projects from other PC's now can run on my PC too.

I appreciate the help immensely!

[2020-03-05 11:33] #19554 closed

[2020-03-05 11:56] #13120 closed

[2020-03-05 12:54] omer-hatip opened #19597 "Sharing session cookie between Apps"
Hello,
i made two new apps with same code
the first app set the session variable value
and the other reads that variable value but gets null,

### To Reproduce
[code]

when i use AddDistributedSqlServerCache instead of AddDistributedMemoryCache
it's working and everything ok

[code]

Can you help me please to know what's the wrong with AddDistributedMemoryCache
or if i missing something else.
Than

[2020-03-05 13:00] javiercn commented on #19590
Can you try and run `security set-key-partition-list -D localhost -S unsigned:,teamid:UBF8T346G9 <<login-keychain>>` from the command-line and see if it succeeds? (replacing `<<logi-keychain>>` with your actual keychain path)

[2020-03-05 13:08] diez-esteban commented on #19590
I managed to resolve this.

* Create a self-signed certificate
*Run on command line dotnet tool install --global dotnet-dev-certs
* Restart your box

I struggled with that error related to the security partitions. It's so weird. I'm still not aware as of what's the root cause of it.

[2020-03-05 13:16] javiercn commented on #19590
You shouldn't do this, or I'm not sure it has any effect, as the dotnet-dev-certs tool is bundled with the SDK and I believe those will take preference.

This issue most likely has to do with notarization on Mac OS. Did you download the installer for Mac OS or did you use the binary distribution? I believe both should be notarized, but that can be the root of the issue

[2020-03-05 13:17] jaryn-kubik opened #19598 "[Blazor Server] Binding to input type=time doesn't work properly in Edge"
### Describe the bug
Binding input with type="time" doesn't work properly in Edge, see repro below.
When I write the time inside the input using keyboard, the Time field gets properly updated. Increasing/decreasing the values using up/down arrow keys also works fine.
When I use the UI editor in Edge that opens up the dropdowns with hours/minutes so i can select the time using my mouse, nothing hap

[2020-03-05 13:26] SteveSandersonMS opened #19599 "Look for cheap ways to make the build faster"
Currently, Blazor WebAssembly build times are OK (when the linker is disabled) but there may be opportunities to make it faster.

In particular, we're calculating the SHA-256 hash of all `_framework` output files on every build - *twice* - because this info is needed both for boot manifest generation and for compression incrementalism. We need to compute the hashes of new inputs to know whether th

[2020-03-05 13:40] diez-esteban commented on #19590
I downloaded the installer for Mac OS. Maybe version 3.1 didn't include the dev-certs. Would that be the case? --check option showed me that (no certs included).

[2020-03-05 13:45] javiercn commented on #19590
Certs are not included, the certs are generated on the machine. Are you using  `macOS Catalina (10.15.4 Beta (19E242d))` ?

[2020-03-05 14:02] akiander commented on #19555
I used Serilog and try/catch structures to instrument the application to find what portion was crashing or causing us to take longer than 120 seconds but all of the logs showed that nothing was slow or crashing.

We went through the `Program.cs` and `Startup.cs` to make sure they match the current `dotnet new` templates for aspnetcore 3.1 applications so I don't think that is our issue. Besides, o

[2020-03-05 14:09] mrpmorris commented on #5477
We experienced this today. Having the restriction on DLL downloading lifted isn't going to be an option. Not only for us, but our customers are very unlikely to remove that restriction too - so we really need a fix for this otherwise our Blazor project is dead in the water (employer is unwilling to use server-side).

I believe our firewall is a Palo Alto.

[2020-03-05 14:12] javiercn commented on #5477
@mrpmorris can you put the details in https://github.com/dotnet/aspnetcore/issues/19552 as this is where we are collecting them so that we can engage vendors.

@mrpmorris has changing the extension solved the issue in your scenario?

[2020-03-05 14:23] javiercn commented on #19594
@hhvdblom It is in gran part a matter of preference, Razor pages are better suited for simple pages where the UI has a higher weight compared to the application logic. Structuring pages into folders is exactly what you are supposed to do.

A good example of this is the Identity UI, which is implemented as a set of razor pages. There is an advantage to use Razor pages when building UI centric appli

[2020-03-05 14:24] mrpmorris commented on #19552
We are using a Palo Alto firewall.

The console is filled with errors like this
[code]

In Firefox 73.0.1 the DLL requests appear in the Network tab with `503` statuses.
In Chrome 80.0.3987.122 the Network response is `ERR_CONNECTION_RESET`.

Using https:// fixes the problem for me, I expect this could be the firewall trusting the content because it knows it hasn't been modified en-route.

[2020-03-05 14:27] rmarinho commented on #19590
@javiercn I think my last dotnet sdk was installed by Visual Studio for Mac update system.

I m on the latest beta ( 10.15.4 Beta (19E250c)

[2020-03-05 14:29] mrpmorris commented on #5477
Hi @javiercn

I've just updated that issue. It seems that switching to https worked for us, which makes sense. We can't be sure our clients are willing to have the same exception though.

I will be happy to check the renaming option. Do you have a link to instructions on how to get Blazor to work with .wasm extensions or something else? At the moment I am just right-clicking my webserver project a

[2020-03-05 14:32] javiercn commented on #19599
Some food for thought:
* We can do a single hash of the things that are included in computing the hashes that we need, and then just hash things when that changes.
* For example, we hash the project references, package references, etc and then key the hashing task/target based on whether the file emitted as a result of that has changed.
  * That way we only re-hash things when some of the build de

[2020-03-05 14:33] javiercn commented on #5477
@mrpmorris You can check the instructions here
https://github.com/dotnet/aspnetcore/pull/19558#issuecomment-594461263

[2020-03-05 15:04] blowdart commented on #19597
Are there any errors in the logs about data protection, or unencrypting the cookie?

[2020-03-05 15:16] antoniogarcez-famo opened #19602 "Validate inputs when submitting"
Hi people,

I am with a problem in my SignIn page.
In my page, I have a form with two inputs and I want to validate if both are filled before submitting but if I put a handler in my form, it prevents my submission.

My HTML code:
[code]

My handler:
[code]

I am using .NET Core 3.1 | Visual Studio 2019 Version 16.4 | 3.1.1

[2020-03-05 15:29] danroth27 commented on #5477
@mrpmorris Please note that those instructions only apply to our latest 3.2.0-preview2 builds and upgrading from 3.2.0-preview1 will take a bit of work using steps that we haven't published yet. You might want to wait until we release later this month.

[2020-03-05 15:30] omer-hatip commented on #19597
when i deleting the keys folder then run the first app which sets the value this warnings appear :

1. Source : IIS Express
The directory specified for caching compressed content C:\inetpub\temp\IIS Temporary Compressed Files\WebApplication1 AppPool is invalid.  Static compression is being disabled.

2.  Source : .NET Runtime
Category: Microsoft.AspNetCore.DataProtection.KeyManagement.XmlKeyManage

[2020-03-05 15:31] chanan commented on #5477
@danroth27 I dont think you published preview2 yet... :)

[2020-03-05 15:40] omer-hatip commented on #19597
And i tried

[code]
with same results and logs.

[2020-03-05 15:42] javiercn commented on #5477
You can try this with the nightly builds following the instructions [here](https://gist.github.com/javiercn/03b286e8592d36c19b50c7a3651e64ea) if you choose to do.

I would recommend you clear your nuget package caches before and after if you choose to do that. Take into account that clearing the caches will impact the entire machine (all apps in that machine)

[2020-03-05 15:45] blowdart commented on #19597
OK, so you're configuring data protection right with

[code]

But are the sites on the same root domain? e.g. www.contoso.com and app.contoso.com?

[2020-03-05 15:45] mrpmorris commented on #5477
I'll wait for the p2 build to be released and then try it out. Thanks!

[2020-03-05 15:49] aspnetde commented on #19590
Queuing in ✋

Same problem. What worked like 3 weeks ago, all of a sudden stopped. I cleaned up through `dotnet dev-certs https --clean`, but `dotnet dev-certs https --trust` then asks me to provide the password for my login.keychain-db and rejects it. I even reset it through `security set-keychain-password`, without success.

[code]

[2020-03-05 15:53] javiercn commented on #19590
@aspnetde Are you also in the Mac OS Catalina beta?

[2020-03-05 15:54] jrummell commented on #12890
Where is the documentation for `Microsoft.AspNetCore.SpaServices.Extensions`?

[2020-03-05 15:55] aspnetde commented on #19590
@javiercn Nope. Regular version.

[2020-03-05 15:57] omer-hatip commented on #19597
i tried the two methods
PersistKeysToFileSystem and
UseCustomCryptographicAlgorithms

but sure for testing.

i create two new applications using VS to test this issue.

regarding domain : it's localhost as you can see in log files, IIS Express with visual Studio 2019.

[2020-03-05 15:57] javiercn commented on #19590
@aspnetde can you provide the details about the error? (console output, etc.)

You can try and run the command manually and see if that fixes the issue?

[2020-03-05 16:03] aspnetde commented on #19590
As stated in my first comment, I already did that (following the [docs](https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl?view=aspnetcore-3.1&tabs=visual-studio#troubleshoot-certificate-problems)).

Here is another failed round:

[code]

[2020-03-05 16:06] mrlife opened #19605 "Razor component disconnects Blazor when passing a class instance"
When visiting `Index.cshtml`, the browser console displays the below errors.

Index.cshtml
[code]

MyClass.cs
[code]

MyComponent.razor
[code]

Browser console

Information: Connection disconnected.
Unhandled Promise Rejection: Error: Invocation canceled due to the underlying connection being closed.

### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce

### F

[2020-03-05 16:13] jspuij commented on #19559
@mrpmorris Frankly, OwningComponentBase<T> is a mess. It is bad because:

    It restricts you to a single scoped service, or you have to use the non generic class, which exposes the serviceprovider and converts your dependency into a runtime dependency.
    It makes it impossible to inherit from another component or another base class. Using inheritance for the sole purpose of changing the scope

[2020-03-05 16:13] guardrex commented on #19605
Related doc issue :point_right: https://github.com/dotnet/AspNetCore.Docs/issues/17210

... but I don't repro any such error here.

[2020-03-05 16:17] pranavkm commented on #19605
@mrlife parameters passed to the component need to be serializable by System.Text.Json. System.Text.Json does not support immutable types - https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to#deserialize-to-immutable-classes-and-structs. You'll need to have a public parameterless constructor for this to work correctly.

@javiercn the excep

[2020-03-05 16:24] madskristensen commented on #2442
Previously closed dupes: #3613 and #2440

[2020-03-05 16:24] mrlife commented on #19605
@pranavkm Thanks for letting me know. I just tried it out, and it seems to work. Is this right?

Code
[code]

Results

[2020-03-05 16:37] CoryGM opened #19607 "QueryString Change Event"
The previous items don't address this question specifically.

The LocationChanged event only covers about half of our scenarios. We have a number of search pages where the users are allowed to enter a number of different criteria. That criteria is passed through as parameters to the page service, rendering a different set of results for each change.

In the most common scenario this feature is han

[2020-03-05 16:40] pranavkm commented on #19605
It's the deserialization routine that needs a parameterless constructor.

[2020-03-05 16:41] guardrex commented on #19605
We'll need better docs for this scenario. A couple of follow-up ❓ ...

Is passing params only supposed to work for `ServerPrerendered` mode, or should it work for `Server` mode, too? I've had no ❤️ from my test app getting `Server` mode to work in this scenario.

... but if that's so then why does the following work? ...

[code]

[code]

[code]

Output ...

<img width="197" alt="Capture" src="http

[2020-03-05 16:45] BrennanConroy commented on #19569
I've seen this for at least three different classes of tests now:

MusicStore: https://dev.azure.com/dnceng/public/_build/results?buildId=546656&view=ms.vss-test-web.build-test-results-tab&runId=17286560&paneView=debug&resultId=109841

Routing: https://dev.azure.com/dnceng/internal/_build/results?buildId=539225&view=ms.vss-test-web.build-test-results-tab&runId=17086822&paneView=debug&resultId=1028

[2020-03-05 16:47] BrennanConroy commented on #18925
@lukasroberts have you been able to create a repro app for this issue?

[2020-03-05 16:48] BrennanConroy commented on #18799
@anurse should we backlog this for npm?

[2020-03-05 16:56] mrlife commented on #19605
This is true, thank you. It works when serializing but does throw a runtime error when deserializing.

[2020-03-05 17:21] davidfowl commented on #19569
Is there anyway to get dumps on exception from helix?

[2020-03-05 17:27] davidfowl commented on #19569
Spoke to @jkotas and he thinks it could be a JIT or type system bug. We need to figure out what the next steps are here to make progress. My guess would be that a dump would help

[2020-03-05 17:33] mkArtakMSFT commented on #19561
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-03-05 17:36] rellis-of-rhindleton commented on #19450
Looking forward to this change.  Right now I'm having to do a string replacement in web.config post-publish to get our process environment variable to be recognized.

If you don't mind, let me read this back to you and make sure I understand. What you're saying is that under the **new** behavior:

If ASPNETCORE_ENVIRONMENT is set in web.config:

 - A new option in Visual Studio will let you toggle

[2020-03-05 17:41] lukos commented on #4892
@Sebazzz Your code above does not compile.
* You are returning ConfigureKestrel, even though the method is void.
* You are assigning a variable _webHost in CreateServer that is not in the listing. Is this just a class variable or is it supposed to be coming from somewhere else?
* You setup an endpoint in ConfigureWebHost and then you don't use it, you just create another one in the call to Configu

[2020-03-05 17:44] Sebazzz commented on #4892
Look here for the full example: https://github.com/Sebazzz/Return/blob/1088ce98cc93fbb8f4f6863edf6fc9292fbff15a/tests/Return.Web.Tests.Integration/Common/CustomWebApplicationFactory.cs#L130

Met vriendelijke groet,
Sebastiaan Dammann
________________________________
Van: Luke Briner <notifications@github.com>
Verzonden: Thursday, March 5, 2020 6:41:02 PM
Aan: dotnet/aspnetcore <aspnetcore@noreply.

[2020-03-05 17:45] mkArtakMSFT commented on #19602
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, we are not a general-purpose forum. To get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-blazor** tag.

[2020-03-05 17:45] mkArtakMSFT commented on #19602
Also, this may help: https://docs.microsoft.com/en-us/aspnet/core/blazor/forms-validation?view=aspnetcore-3.1

[2020-03-05 17:47] mkArtakMSFT commented on #19581
Thanks for contacting us. We will look through our docs and see what's missing from there to get this covered.

[2020-03-05 17:49] mkArtakMSFT commented on #19608
@blowdart can you please look into this? Looks like when there is cert configured, the calls are failing.

[2020-03-05 17:53] jkotalik commented on #19450
Good clarifying questions.

Yes, right now we are planning to have a switch to toggle between the old behavior of preferring environment variables in the web.config and having VS override and the new behavior of preferring process environment variables. There is a case where the new behavior is a regression, for example a user was setting environment variables in the web.config which they wanted t

[2020-03-05 17:55] mihaimyh commented on #19561
You can use the blazor projects inside this repo to replicate it https://github.com/mihaimyh/LaurKyt

[2020-03-05 17:55] BillHiebert commented on #19450
@jkotalik it is read from launchsettings.json.

[2020-03-05 17:58] JohnGalt1717 commented on #19581
This isn't just docs. This is regression from .NET Core 2.2 Right now it's impossible to use WithCredentials which is blocking upgrade from .NET Core 2.2.  This is high priority urgent issue because it simply doesn't work in 3.1 and needs to be fixed long before November release of 5.0.

[2020-03-05 17:59] rellis-of-rhindleton commented on #19450
Sounds great. Thank you.

[2020-03-05 18:09] jrvidotti opened #19609 "Trying to format .razor files, but getting error "Request textDocument/rangeFormatting failed""
## Issue Description ##
Trying to autoformat .razor files, but getting error.

## Steps to Reproduce ##
Start a new Blazor Server Side project, open a .razor file and try to auto format.

## Expected Behavior ##
Formatted file on save or format document

## Actual Behavior ##
Error on Razor Logs.
[Error - 14:04:58] Request textDocument/rangeFormatting failed.
  Message: Internal Error - System.Nul

[2020-03-05 18:23] anurse commented on #18799
Yeah.

[2020-03-05 18:26] blowdart commented on #19597
You didn't share log files so I couldn't see it was localhost. I assume then they're also using the same scheme, either both HTTPS or both HTTP.

If you open up the browser tools can you see the session cookie going to both sites? Localhost is somewhat special when it comes to same site rules.

[2020-03-05 18:28] blowdart commented on #19608
@Tratcher would be better placed to look at it.

[2020-03-05 18:42] omer-hatip commented on #19597
Yes sure,
both apps use HTTPS
and yes i can see the cookie in both sites, and when i delete it the app recreates it and appears on both sides,

i tried .net source code stepping and i found that the both app have same SessionKey , but different SessionId, and the first app Session Store contains the key and value  (that i wrote to the session)
but the second has Session Store with count 0 records.

[2020-03-05 18:48] blowdart commented on #19597
That's weird. Ok, it's not data protection so it must be in session. So retagging for someone else

[2020-03-05 18:51] omer-hatip commented on #19597
i think so,  it's not data protection because it's working when i used

[code]

instead of

`services.AddDistributedMemoryCache();`

[2020-03-05 19:08] omer-hatip commented on #19597
the test apps
https://github.com/omer-hatip/WebApp1

[2020-03-05 19:15] #19276 closed

[2020-03-05 19:24] anurse commented on #19450
Removing Milestone so this comes up in Triage

[2020-03-05 19:24] anurse commented on #19451
Removing Milestone so this comes up in Triage

[2020-03-05 19:26] dayarias commented on #19467
1. dotnet tool uninstall -g dotnet-ef
2. dotnet tool install -g dotnet-ef --version 3.1.1
![P1](https://user-images.githubusercontent.com/47326892/76017772-25a43500-5eed-11ea-9999-778c8ad9ebda.png)

This one worked for me, Already was installed lastest version of dotnet so there wasnt need to restart my pc

Using 3.1.0 Gives me this message.

The EF Core tools version '3.1.0' is older than that of

[2020-03-05 19:30] jkotalik commented on #19408
IIS warning is gone now.

[2020-03-05 19:31] #19238 closed

[2020-03-05 19:43] richbryant commented on #19559
I too would like to sidestep this issue by using a better DI container.

[2020-03-05 20:00] renanrcp opened #19611 "IAuthenticationFilter"
I wanna suggest a new ASP.NET Core filter, it will be "IAuthenticationFailedFilter" or "IAsyncAuthenticationFailedFilter" (or both lmao), with that you can intercept the Authentication Schemes results.

I'm trying to use the IAsyncAuthorizationFilter to change the body response when the ASP.NET Core returns 401 Unauthorized (but with empty response), but unfortunately, it doesn't work with Authent

[2020-03-05 20:25] yopez83 opened #19613 "Sudden red squiggles showing up in EditForm"
This squiggles just started to show up. However everything works.

### OnValidSubmit
![image](https://user-images.githubusercontent.com/12285372/76022428-24770600-5ef5-11ea-83dc-2af2fef7035f.png)

### bind-Value
![image](https://user-images.githubusercontent.com/12285372/76022591-7586fa00-5ef5-11ea-9296-374d77b0eeb7.png)

[2020-03-05 20:27] pedro-lb commented on #19611
Looks good, would be amazing to have this!

Can we document this better to see how it would work? Maybe providing a code snippet on how to use it or a documentation exposing the properties of this feature.

[2020-03-05 20:27] pedro-lb commented on #19611
Quick note: would be good to have both filters to be having async and sync support.

[2020-03-05 20:52] danports commented on #18400
Any updates on this? Would be helpful to know if what I'm seeing is the expected/desired behavior or a bug.

[2020-03-05 20:59] #19054 closed

[2020-03-05 21:46] rasmus91 opened #19615 "Razor Class Libraries are not building properly under 3.1"
### Describe the bug
I have created a razor class library, when i add any .cshtml file, however, the project will not build. Sometimes i can get it to, by removing the target razor language version, but not necessarily.

### To Reproduce

Well, It's quite simple:

1. `dotnet new razorclasslib -o RazorLibNotWorking`
2. `cd RazorLibNotWorking`
3. `dotnet build` (notice it already says its missing th

[2020-03-05 21:56] renanrcp commented on #19611
Right I'll do these things

[2020-03-05 21:57] Marusyk commented on #19441
Please assign it to me

[2020-03-05 22:40] ToddGrun commented on #19381
We had a feedback issue that was related that we have fixed in the 16.6 VS release. I've verified that I'm not able to reproduce the formatting issue on that release. Thanks!

[2020-03-05 23:13] Tratcher commented on #19608
I'm on vacation :-) @halter73 please look when you get back.

[2020-03-05 23:42] dazinator commented on #10687
@mkArtakMSFT

Yes this is still an issue. Here is a repro: https://github.com/dazinator/AspNetCore-BlazorDebuggingIssue

[2020-03-05 23:48] shanselman commented on #4892
Sorry to dump a bunch of code, but this is how I do it. I did it this way in 2.x and I do it like this in 3.1.

[code]

[2020-03-06 00:06] anurse commented on #19548
I believe this is the same root cause as https://github.com/dotnet/aspnetcore/issues/19133 (does that sound right @Pilchie ?)

[2020-03-06 00:34] tmort93 commented on #6878
My team experienced this same issue and we are also interested in a per-endpoint solution.
In the interim we are considering this work around which, in preliminary testing, has been able to handle an empty body without issue.

[code]

[2020-03-06 00:57] pranavkm opened #19624 "Remove Microsoft.AspNetCore.Blazor.HttpClient from blazor-wasm sources \ templates"
Tracking item for when the HttpClient + System.Text.Json extensions are ready.

[2020-03-06 02:41] NTaylorMullen commented on #17800
@ajaybhargavb this is more hard mode 😄

You'll need to debug through https://devdiv.visualstudio.com/DevDiv/_git/VSLanguageServerClient to find the appropriate API to call.

@tinaschrepfer What API again is the one that LiveShare calls to delegate requests?

[2020-03-06 02:43] NTaylorMullen opened #19628 "Add basic C# completion to VS LSP Razor editor"
We need to do the work to delegate Razor completion requests over to appropriate projection buffers. The majority of this work will involve working with the LSP platform team to ensure we have the proper APIs to do this.

[2020-03-06 03:09] dougbu commented on #19548
Well, it sounds right to me 😈

[2020-03-06 03:10] fleischman718 commented on #19590
I'm having the same issue.

when running
**Command:**
`dotnet dev-certs https -c`
**Results:**
`A valid HTTPS certificate was found but it may not be accessible across security partitions. Run dotnet dev-certs https to ensure it will be accessible during development.`

**Command:**
dotnet dev-certs https -t -v
**Results:**
`security: SecKeychainItemCopyAccess: The specified item is no longer valid

[2020-03-06 03:11] apchenjun opened #19631 "mvc dropdownlistfor why not support set name attributes"
asp.net core mvc why not support set name attributes for dropdownlistfor controls

It should be for me that the edit page can only use dropdownlistfor to bind the drop-down box to select items, so I need to solve the name property Customer.CustomerBiaoshi override and Model corresponds to CustomerBiaoshi
`@Html.DropDownListFor(x => x.Customer.CustomerBiaoshi, Html.GetEnumSelectList<TgNetJZ.Custome

[2020-03-06 03:41] NTaylorMullen commented on #17800
Oh and in order to get the HTML LSP to boot up on our hidden `ITextBuffer` you'll need to locally install @alexgav's branch that adds that support: https://devdiv.visualstudio.com/DevDiv/_git/VSLanguageServerClient/pullrequest/231014

The root of the repo has a Readme.md with instructions for building/installing bits locally. Once installed you'll need to ensure the `ITextBuffer` we create for HTM

[2020-03-06 03:42] NTaylorMullen commented on #19381
Awesome, thanks Todd!

[2020-03-06 03:42] #19381 closed

[2020-03-06 03:47] mihaimyh opened #19633 "ASP.NET Core hosted Blazor app fails to run in Docker"
I do not know if this is how I should run an WASM Blazor ASP.NET Core hosted in Docker but I doesn't work for me.

What I did? Right click the server project > Add Docker support to create the Dockerfile. Run it inside VS and the following exception is thrown:

![image](https://user-images.githubusercontent.com/549272/76048238-e669f880-5f6d-11ea-90bb-57bcb9a2cf6f.png)

Are there any other steps to

[2020-03-06 03:50] iamgmd commented on #19381
Hi Todd, Currently, 16.5 preview 5.0 is in use, when will 16.6 be available?

[2020-03-06 06:16] julienGrd opened #19635 "Unable to redirect to home page in blazor error ui panel"
Hello guys, i would like to redirect to my home page when a unhandled execption happen and the div error-ui-panel appear, so i update the code like this
[code]
but even with href="/", i stay in the current page
I try also this but same behavior
<a onclick="document.location = '/'" class="reload">Reload</a>

if i write document.location = "/"; in the developer console im correctly redirected

Do yo

[2020-03-06 06:59] skype007 commented on #19608
@davidsh @jeffschwMSFT @karelz @mkArtakMSFT @Tratcher Here's an example of a JSON sent to our API which fails

[Github_Large_Json_Issue.txt](https://github.com/dotnet/aspnetcore/files/4296890/Github_Large_Json_Issue.txt)

Thanks you again for your help guys !!

[2020-03-06 08:28] javiercn commented on #19635
@julienGrd It is very likely that Blazor is intercepting the link and doing nothing as the app already crashed. Using `document.location = "/"` seems like the right way to go for me.

[2020-03-06 08:29] MarekPokornyOva commented on #19533
This would be very appretiated.

Nowadays, I have to workaround that:

[code]

[2020-03-06 08:31] javiercn commented on #19633
@mihaimyh thanks for contacting us.

This is fixed and will be available in the next preview release in the near future.

Thanks!

[2020-03-06 08:33] javiercn commented on #19613
@yopez83 thanks for contacting us.

Can you provide more details about the Visual Studio Version you are using as well as the dotnet SDK so that we can try and help you?

[2020-03-06 08:34] #19633 closed

[2020-03-06 08:37] javiercn commented on #19609
@jrvidotti thanks for contacting us.

@NTaylorMullen @ajaybhargavb @ryanbrandenburg thoughts?

[2020-03-06 08:42] javiercn commented on #19615
@rasmus91 thanks for contacting us.

If you are trying to create a project for an earlier version, you will need to pass in the `--framework` parameter, for example `dotnet new razorclasslib --framework netcoreapp2.1 -o rcl21`

[2020-03-06 08:58] VideoAppsNet opened #19637 "Blazor Server - Circuit Loss - Connection Disconnected"
Im having an issue where if a client loads the blazor website and then multi tasks away from the browser or locks there phone. After 3:30 minutes if they open up that same browser and go back to the site the circuit does not reconnect. If you open the browser sooner then 3:30 then it reconnects and is usable again with the ui being fully responsive. But if after 3:30 it shows error and would have

[2020-03-06 09:15] javiercn commented on #19637
@VideoAppsNet Thanks for contacting us.

The behavior you are seeing is by design. If the user/browser stops sending pings from the browser the circuit automatically disconnects to ensure that the resources are not allocated forever. This is explained [here](https://docs.microsoft.com/en-us/aspnet/core/blazor/state-management?view=aspnetcore-3.1#blazor-circuits) and can be configured in the Circui

[2020-03-06 09:26] rasmus91 commented on #19615
I am trying to create a library containing some standard Razor pages that i want to use across several projects. I have no intention or desire to develop for anything older than 3.1

What seems to be the indicator that my intention was otherwise?

[2020-03-06 09:44] AndreiKhotko commented on #17973
@jkotalik What issue has been fixed? Issue with `dotnet publish` and `--no-build` option?

[2020-03-06 09:52] voroninp commented on #18749
I hit the same issue. I was getting `NotFound` result until I changed the referenced SDK.

No my test project references Web SDK (tests pass):
`<Project Sdk="Microsoft.NET.Sdk.Web">`

instead of `<Project Sdk="Microsoft.NET.Sdk">`

Why?!

[2020-03-06 10:16] zackmorgs commented on #18798
Sorry it took me forever to respond to this. This issue is closed. I got some wonderful person on Fiver to fix it for $20.

If anyone else ends up here, try what he said because it worked for me.

He told me to follow this comment trail here:
https://github.com/dotnet/aspnetcore/issues/13120#issuecomment-531456072

[2020-03-06 10:27] stannynuytkens commented on #7812
Have we waited long enough or should I continue using the _browser - asp.net - vue dev_ stack in favor of getting these errors? About to start a new SPA project..

[2020-03-06 10:28] szmalec opened #19638 "Two-way databinding + CaptureUnmatchedValues + missing EventCallback"
### Describe the bug
When using two-way databinding for a `Prop1` property of a component that does NOT have the `Prop1Changed` property (of the `EventCallback` type), then when rendering this component an error is reported: `Object of type 'XXX' does not have a property matching the name 'Prop1Changed'`.
However, if the component has an additional parameter with the attribute `CaptureUnmatchedVal

[2020-03-06 10:56] slavanap opened #19639 "Bug in base32 implementation that makes it irreversible"
### Describe the bug
[Implementation](https://github.com/dotnet/aspnetcore/blob/master/src/Identity/Extensions.Core/src/Base32.cs) of base32 encoding has an issue.

Encoding+decoding message with base32 is irreversible, i.e. `FromBase32(ToBase32(x)) != x`

### To Reproduce

    var sampleText = "AB12C345";

    // Encode to Base32
    var base32Text = Microsoft.AspNetCore.Identity.Base32.ToBase32(

[2020-03-06 11:05] lukos commented on #4892
@shanselman thanks for the code, although this doesn't work correctly with IHostBuilder apps, which will not call CreateServer but CreateHost. That would be fine except the types then change and the journey through the factory is quite hard to understand e.g. IHost doesn't have ServeFeatures so we cannot get the RootUrl in the same way. I will continue to mess around though, I think you have provi

[2020-03-06 11:11] Mike-EEE commented on #8433
Starting to put my first Blazor application together, and while drafting out a simple CRUD Razor Component, quickly ran into this. 😭

![](https://i.imgur.com/1SYCDUc.png)

[2020-03-06 11:21] davidfowl commented on #4892
IHost.Services.GetRequiredService\<IServer\>().Features

[2020-03-06 11:36] javiercn commented on #19615
@rasmus91 I misunderstood what you were trying to achieve.

You need to pass the `-s` parameter to it. as in `dotnet new razorclasslib --support-pages-and-views`

[2020-03-06 11:37] javiercn commented on #19615
This is what tripped me

[2020-03-06 11:38] javiercn commented on #19615
You don't need the reference to MVC, that will only cause you issues.

[2020-03-06 11:47] lukos commented on #4892
@davidfowl thanks but the `IServerAddressesFeature` is no longer added to the server: https://github.com/aspnet/Hosting/issues/956

I have used `UseUrls()` on the `ConfigureWebHostDefaults` webbuilder param so I preset the address and don't need to query it but now I just need to add appsettings from the test project otherwise the app falls over.

[2020-03-06 11:48] rasmus91 commented on #19615
Thank you very much. I have read and reread the docs, without noticing.

Pardon my waste of your time.

[2020-03-06 11:48] #19615 closed

[2020-03-06 12:08] tobbi commented on #19109
I've found that a newly created Blazor project is not suffering from this issue, just the current one I'm working on. Downgrading the Blazor packages on both the server and client side to 3,1.0-preview did not yield any useful results.

[2020-03-06 12:30] jbosse commented on #19419
This only works if you have a functioning controller context to pass as a dependency.

The problem seems to be the large number of global methods and dependencies that one can call from Inside a razor view that need to be accounted for.

As an aside, after spending days trying to figure out a lightweight method for testing the html a razor view will render from my controllers in the kind of enterp

[2020-03-06 13:12] yopez83 commented on #19613
Visual Studio Community 2019 Version 16.4.5, and .NET Core SDK 3.1.102 (x64)

[2020-03-06 13:12] ryanelian opened #19640 "Blazor: Allow Storing Markup into RenderFragment"
### Is your feature request related to a problem? Please describe.

Right now, dynamically generating markup is very painful.

https://github.com/dotnet/aspnetcore/issues/16104#issuecomment-385713669

[code]

This limitation becomes crippling when we are attempting to create a library which allows rendering custom user-defined markup in-between fixed components.

### Describe the solution you'd li

[2020-03-06 13:16] MaximShchukin opened #19641 ""Specified argument was out of the range of valid values." exception when request url starts with a dot"
### Describe the bug
We see 500 error in our logs when users navigate to url starting with a "." for example: .git/index

### To Reproduce

To reproduce create empty asp.net core project and add following to the controller:

[code]

Then navigate to .git/index url

sample project: https://github.com/MaximShchukin/AspnetCoreRoutingIssue

Exception:

ArgumentOutOfRangeException: Specified argument w

[2020-03-06 13:20] javiercn commented on #19613
@NTaylorMullen @ajaybhargavb thoughts?

[2020-03-06 13:38] Tratcher commented on #4892
@lukos that's not what that linked issue means, it was only taking about default values. Did you try it?

[2020-03-06 13:47] lukos commented on #4892
@Tratcher Yes I did and it didn't have the `IServerAddressesFeature` feature in `IServer.Features`.

In the end I have made it work but I need to blog about it, paste the link here and see what feedback I get before suggesting it as a proper solution. Basically, by using UseUrls() on my real server, I know what the RootUri is and can set it directly rather than allowing Kestrel to allocate somethi

[2020-03-06 14:38] mrlife opened #19643 "Warning when subscribing to child razor component event"
Following the subscriber pattern described in "1." at https://github.com/dotnet/aspnetcore/issues/15651#issuecomment-415760918, it works well, however 2 identical warnings are generated for the line `ChildComponent1.YearChanged += ChildFiredEvent;` in the parent component that state:

Is this still the right way to go about triggering a refresh on a parent component from a child?

### Further tech

[2020-03-06 14:38] APIWT commented on #19590
We are also having this issue!

[2020-03-06 15:09] pranavkm commented on #11824
Needs a change from the templating engine: https://github.com/dotnet/templating/issues/2303 to make any follow up changes. See the discussion here: https://github.com/dotnet/aspnetcore/pull/19430

[2020-03-06 15:24] blowdart commented on #19639
@HaoK Can you look please? We don't decode so it doesn't actually matter, and it's private, so I'm not too concerned here.

[2020-03-06 15:54] Pilchie commented on #19548
I'm not sure it is.  In #19133, the C# compiler ends up with no references to System.IO.Pipelines because it's not in the ref pack.  Here, the C# compiler seems to end up with 2 references of different versions.  @Kaelum do you have a project you can share that exhibits this?

[2020-03-06 16:21] davidfowl commented on #4892
@lukos That's not correct. `IServerAddressesFeature` is absolutely there. If you have a piece of code that reproduces the issue please paste it here.

[2020-03-06 16:26] lukos commented on #4892
The code has churned a bit since then but I think it was simply the following code, taken from Scott's example and modified for IHostBuilder that was the problem:

[code]

[2020-03-06 16:39] ajaybhargavb commented on #19609
Thanks for the report @jrvidotti. This is indeed a bug. I've sent https://github.com/dotnet/aspnetcore-tooling/pull/1663 to fix this for the next release. In the meanwhile, you can disable Razor formatting in settings,
![image](https://user-images.githubusercontent.com/1579269/76103044-dd852100-5f85-11ea-8acf-d7b8b1987e40.png)

[2020-03-06 16:43] slavanap commented on #19639
@blowdart that's why I haven't submitted it as a security issue, because you use it only to encode random array of 20 bytes, and when size of array is 20, the issue does not show itself at all.

As an offtopic, I wonder why .NET does not supply default implementation of base32 encoder/decoder, as it does with base64.

[2020-03-06 16:48] blowdart commented on #19639
Because it's not used anywhere public that we support. We generally don't add speculative APIs :)

[2020-03-06 16:48] javiercn opened #19644 "[Blazor] Support pre-compression using brotli"
We currently do this for gzip, but we also want to do it for brotli.

We need to evaluate the impact it has on the build on cold build and on warm build and based on that whether we enable an option to compress on publish only.

[2020-03-06 17:06] ajaybhargavb commented on #19613
@yopez83, I used the same VS and dotnet version but I'm unable to reproduce on my side. Can you provide a minimal repro app for us to be able to investigate this further?

![image](https://user-images.githubusercontent.com/1579269/76105371-b3356280-5f89-11ea-81a8-664ec676f861.png)

[2020-03-06 17:08] mselinger75 opened #19645 "Can't detect when an Authentication Cookie expires in Blazor (server-side)"
See https://github.com/dotnet/aspnetcore/issues/6855 for the reference. The problem mentioned in #6855 still exists. Do you have any suggestions on how to handle this? Thanks!

[2020-03-06 17:23] cmorgan091 opened #19646 "Json serialization very slow with large files when using AddNewtonsoftJson"
### Describe the bug
When creating large api outputs (multiple megabytes) and using Newtonsoft (via AddNewtonsoftJson) the default returning of an object (thus having it serialized by aspnetcore) is extremely slow, i.e. takes 4 times as long as serializing it manually in code using Newtonsoft Json.Net and returning as Content

### To Reproduce
I have created a test project in Github to reproduce t

[2020-03-06 17:35] AlexCorona55 opened #19647 "Unhandled exception rendering component: Microsoft.JSInterop.JSException: Cannot read property 'ownerDocument' of null"
### Describe the bug
Hello, im pretty new with Blazor WASM. Also this is my first github issue, so if there is a problem with the description, please let me know to fix it and improve :)

I've an inconsistent exception when rendering a component with two @page annotations:

@page "/partnerForm"
@page "/partnerForm/{Id:int}"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

The firs

[2020-03-06 18:00] ToddGrun commented on #19381
My (limited) understanding is that the first preview should be available in a couple weeks.

[2020-03-06 18:20] NTaylorMullen opened #19650 "Large Blazor projects can result in slow C# IntelliSense"
This https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1047907 issue has been hammered with requests. It looks like our current model of updating every other .razor file on file change isn't sufficient.

I've had a few ideas how to fix this and came up with one that also benefits our LSPification effort. The gist is that today our `BackgroundDocumentGenerator` in VS and in our LanguageServer ind

[2020-03-06 18:26] #19609 closed

[2020-03-06 18:44] pranavkm commented on #19086
This looks like an issue with the linker. It seems to be stripping out some types that are required for the built-in converter to succeed. Turning off the linker or configuring the app to use a [linker configuration](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/configure-linker?view=aspnetcore-3.1#control-linking-with-a-configuration-file) make it work correctly. I was able

[2020-03-06 18:58] keerthimaryala18 opened #19653 "Alternative to System.Web.Security.Membership.GeneratePassword"
# Issue Title

Alternative to System.Web.Security.Membership.GeneratePassword in .NET Core 2.2

# General

I am migrating an application built on .NET Framework to .NET Core 2.2 and as a part of  authentication, use the System.Web.Security library to generate the password in the old app. There doesn't seem to be an equivalent to this in .NET Core. I have seen many posts about implementing the same

[2020-03-06 19:11] jrvidotti commented on #19609
Nice! Thanks a lot for quick answer and solution.

[2020-03-06 19:23] skubia opened #19656 "Blazor (3.1.102) Server/Client from template does not work with VS2019 docker debbuging - System.ArgumentException: 'The path must be absolute.'"
Step to reproduce:

install template from official MS site:

1. _dotnet new -i Microsoft.AspNetCore.Blazor.Templates::3.2.0-preview1.20073.1_
2. add docker support
3. Run it with VS2019 F5 version 16.4

I am using SDK 3.1.102

[2020-03-06 19:25] pranavkm commented on #19093
The 406 makes sense, since content negotiation failed. Closing this since it's by-design.

[2020-03-06 19:25] #19093 closed

[2020-03-06 19:26] AlejandroFlorin commented on #18796
This caused numerous issues in my application that were quite difficult to track down (and I still get some reports occasionally). They only show up when client requests are made to specific controller endpoints with specific data.

This should definitely be listed as a breaking change in the release notes.

[2020-03-06 19:27] mrpmorris commented on #19640
Is love to see a real life example of how you intend to use this.

[2020-03-06 19:27] blowdart commented on #19653
That API was problematic, and somewhat biased in the characters we choose. Also the nist password guidelines recommend letting users choose their own passwords so it's not something we are considering implementing in Core in any way.

[2020-03-06 19:27] #19653 closed

[2020-03-06 19:31] pranavkm commented on #19646
The Newtonsoft.Json based output-formatter buffers content. The buffering is done to avoid synchronous writes to the [HTTP response](https://github.com/aspnet/Announcements/issues/342) since the serializer is entirely synchronous.

At any given time, the buffer keeps 32k in memory, followed by writing further content to disk. Consequently, your disk I/affects the response time for payloads larger

[2020-03-06 19:38] pranavkm commented on #18796
@AlejandroFlorin this is covered as part of the changes to the JSON serializer in MVC: https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#newtonsoftjson-jsonnet-support. You could consider continuing to use Newtonsoft.Json in your applications if updating the application is problematic.

[2020-03-06 19:41] pranavkm commented on #17843
@Systemic33 there isn't a built in way in MVC to configure a formatter per controller \ action. The closest would be to use content-types to perform selection. That said, you could write a formatter that delegates to one of the System.Text.Json or Newtonsoft.Json based formatters based on the presence of some metadata on the action descriptor.