[2022-04-17 01:09] ayakael commented on #37400
@omajid  Oh right, I go around this issue by building aspnetcore with --os-name=linux-musl. Thus, `target_os_name` is overriden. Aspnetcore shoul be able to detect linux-musl without source-build doing this check. See https://github.com/dotnet/installer/pull/13410/files#diff-1773f0861dc9197a3da55e87fbac6ca93eadfc48389e198085b1457422895b92

[2022-04-17 01:16] mayaraseverodf opened #41225 "F"
## Background and Motivation

## Proposed API

## Usage Examples

## Alternative Designs

## Risks

[2022-04-17 02:37] #41225 closed

[2022-04-17 05:42] kzhui125 commented on #41221
Also, I see some netstandard dlls in .net 6 runtime shared dlls.

Please fix!!!

This cause the C++ clr with .net core unusable!!!

[2022-04-17 07:20] itn3000 commented on #41162
I found when IIS's client certificate setting is changed from "Accept" to "Require",
IIS returned 403 in TLS-1.3.
Therefore, I have begun to suspect there is the problem in IIS before aspnetcore.

[2022-04-17 10:11] zoran-petrovic-87 commented on #41222
@jessegood I think it is safer just to keep nothing pre-selected when property has _null_ as a default value.
It would actually work perfectly fine with the current implementation, since if a user doesn't interact with InputSelect then the property will keep it's original value.

What causes bugs in production is - form shows "A" as selected option. User thinks that is OK and submit the data. But

[2022-04-17 15:28] Tratcher commented on #41168
Re-opening to consider for servicing.

@mus65 can you test the builds from main in a few days to see if this resolves your issue https://github.com/dotnet/installer#table

Is this an issue that's blocking you from using 6.0?

[2022-04-17 15:32] Tratcher commented on #41162
Try using netsh.exe to set that the client cert is required for that TLS binding. That does something different than IIS's Require option.

[2022-04-17 16:25] Jukpfusi opened #41227 "Random CSS class name generation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

It is not related to any problem.

### Describe the solution you'd like

Hello,
I haven't found a solution to rename CSS classes with random class names (a kind of "obfuscation") :
![image](https://i.ibb.co/GtYV2r9/unknown.png)
Class n

[2022-04-17 16:56] nssidhu opened #41228 "CustomAuthenticationProvider does not work as expected(Does not fire NotifyAuthenticationStateChanged(GetAuthenticationStateAsync());"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I am using VS 2022

[code]

I than register it program.cs

[code]

In my Login Service, i Inject the my CustomAuthStateProvider (showing partial code)

[code]

When my API Returns success i call the

 await _custAuthProvider.SetAuthInfo(AuthInfo); //This Line is inside of Login Service.

This

[2022-04-17 18:40] itn3000 commented on #41162
Sorry, I found when HTTP2 is disabled and using HTTP1.1 by curl client, webapp could get client certificate even if TLS 1.3 is on.
TLS 1.3+HTTP2, client certificate is still null.

[2022-04-18 02:00] #40273 closed

[2022-04-18 03:40] nssidhu commented on #41228
Repo is available here
https://github.com/nssidhu/BlazorServerCustomAuthenticationIssue

[2022-04-18 03:48] kopkako commented on #38064
What's going on with this? Literally the first time I'm trying out the much praised hot reload and I immediately run into this bug as well, it's a complete showstopper and renders the hot reload unusable.

Any update on this?

[2022-04-18 04:21] captainsafia commented on #39802
@brunolins16 Not sure if you want to consider this under the bucket of ProblemDetails-related items.

Not sure about relative priority compared to the cost of fix here, so might not be worth doing...

[2022-04-18 04:24] JamesNK opened #41229 "Document how to use ASP.NET Core with trimming"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

There are instructions to enable trimming in an app, but there are challenges specific to ASP.NET Core.

For example:
* Certain frameworks might not support trimming at all, e.g. MVC (just speculation at the moment)
* Features may only

[2022-04-18 09:57] younussenn commented on #41204
Thanks for the reply, David. But I have a custom TCP server and client class. I don't need any TCP/IP services. My system working partially. But I need to call the background service method another controller or class. When I call that method , should be work. I searched on net but i couldnt find good solution.

![asp_net_core_backtasks](https://user-images.githubusercontent.com/46409298/163791812

[2022-04-18 10:05] javiercn commented on #41227
@Jukpfusi thanks for contacting us.

This is not a direction we plan to move in the near future. It is a lot of work to get this implemented and maintained and we don't see a significant reason to consider this valuable.

In addition to that, you can implement this yourself with a helper method in C# to transform the class from a legible value into something you want, by for example computing a sh

[2022-04-18 10:06] younussenn commented on #41204
So when I start the project, background service, and normal MVC application start. But I can't call the background service method.
Where am I doing wrong?
![asp_net_core_backtasks_2](https://user-images.githubusercontent.com/46409298/163793159-d2b51bca-54e8-4e17-b1c9-66913c17a9ec.png)

[2022-04-18 10:15] javiercn commented on #41223
@nssidhu thanks for contacting us.

If this is a Blazor Server application there is no index.html page as described above.

I would suggest you start by turning logs to debug level and inspect the output to see what might be going on.

It is highly unlikely swagger impacts Blazor in any way as the two systems don't interact together.

[2022-04-18 10:18] Mike-E-angelo opened #41231 "Azure Web Swaps Warmup Pings Do Not Support HTTPS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

This probably does not belong here, or maybe it does.  It is based on a [Twitter thread with several ASP.NET developers](https://twitter.com/sebastienros/status/1311060155174322176) from this repository, and not Azure developers, so I am posting it here and we can take it from there. :)

The

[2022-04-18 10:18] javiercn commented on #41220
@mkArtakMSFT I don't think this is related to MVC in any way, this is likely something to do with `dynamic` and hot reload in general.

Also, it is impossible for us to know that hot reload is correctly setup on the session.

@ShreyasJejurkar did other changes you made were correctly applied?

[2022-04-18 10:19] javiercn commented on #41193
@TanayParikh thanks for pointing that out.

It is very likely to be scoped CSS, since runtime compilation is not aware of it.

[2022-04-18 11:33] javiercn commented on #41165
@ttosello thanks for the additional details.

The issue here is that Visual Studio is setting up the ASPNETCORE_HTTPS_PORT environment variable when launched.

![image](https://user-images.githubusercontent.com/6995051/163801942-1446be38-2233-4e52-bfd6-31a821e9c3fb.png)

What's happening is that the `HttpsRedirection` middleware is picking that up and redirecting to https://localhost:7180

It migh

[2022-04-18 11:38] javiercn commented on #41165
/cc @BillHiebert @vijayrkn

[2022-04-18 11:40] javiercn commented on #41165
@ttosello I'm going to close this issue since it is Visual Studio related and I've already forwarded the relevant information to the VS team, so they'll take it from here.

If you want to keep tabs on the issue, I would suggest you file it through the Visual Studio report a problem dialog in VS and link this issue along with the details mentioned here.

[2022-04-18 11:40] #41165 closed

[2022-04-18 11:52] javiercn commented on #41210
@fyziktom thanks for the additional details.

Unfortunately the repro that you have provided is too big for us to effectively determine if there is an issue in the SDK without expending a significant amount of time on it. For us to make progress we need the repro to contain the minimal amount of code necessary to trigger the issue, so please take out anything that is not necessary from the repro a

[2022-04-18 12:13] alex-jitbit opened #41234 "Poor performance resolving tilde paths in Razor tags"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

The code like this:

[code]

Performs 20X slower than the code like this:

[code]

### Expected Behavior

Should be close. I would expect Razor parser to use `Url.Content` internally, apparently it does not.

### Steps To Reproduce

Test "benchmark" razor view

[code]

The first test takes 2

[2022-04-18 12:22] cbernth commented on #39295
I'm surprised that MS hasn't provided a clear migration path for this issue.

Any modern website relies on SSR to provide meta data to e.g. Google, Bing as well as SoMe integration. Without SSR the site content will never be picked up by search engines nor will we be able to share links with previews on SoMe.

I would assume MS want to promote running existing and new .NET solutions on Azure (and

[2022-04-18 13:00] javiercn commented on #41234
@alex-jitbit thanks for contacting us.

This is expected and by design.

In the second example, `<a href="~/path/to/@i">ss</a>` is using a TagHelper to resolve the actual URL which has more overhead than directly passing the Url using `Url.Content` and that's why you are seeing a difference in performance.

I wouldn't expect this to be the case. I would check that you've truly disabled the tag hel

[2022-04-18 13:39] javiercn opened #41235 "Consider registering the authentication state provider conditionally"
Use `TryAddScoped` here instead of `AddScoped`

https://github.com/dotnet/aspnetcore/blob/02e7e14782509c11e15cd559e5b07211600572ba/src/Components/Server/src/DependencyInjection/ComponentServiceCollectionExtensions.cs#L82

It's not clear to me why we do this, but I suspect that it is because in the past we might have had a different implementation registered by default inside MVC for rendering comp

[2022-04-18 13:42] javiercn commented on #41235
This issue came as a result of looking into https://github.com/dotnet/aspnetcore/issues/41228

[2022-04-18 13:42] #41228 closed

[2022-04-18 13:46] nssidhu commented on #41228
Yes, after making the suggested change it is working correctly

[2022-04-18 14:07] isaacabraham commented on #8321
This would certainly be a useful feature to add. We generate our SQL data access layers from SQL files, so when we create a new query file we want our app to restart and regenerate the DAL (which happens as part of the build process).

This doesn't feel like an ASP .NET Core thing to me though - more of a general .NET CLI thing.

[2022-04-18 14:12] javiercn commented on #41222
@zoran-petrovic-87 I think this is expected.

What's happening here is that the bound default value `(null)` doesn't affect the underlying input select in any way, while the default value for an integer does.

As a result, that's why you see the difference between the first option being selected in one case and no option being selected in the second case. However, if you were to submit the form, i

[2022-04-18 15:22] aDisplayName opened #41237 "When sending MultipartFormDataContent from HttpClient, the MediaTypeHeaderValue.TryParse does not handle multipart boundary value enclosed with quotes correctly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

TL;DR: When request is submitted by HttpClient via MultipartFormDataContent, the boundary value in multipart/formdata request header is enclosed with double quotes. In this case, when using MediaTypeHeaderValue.TryParse to parse the header, the MediaTypeHeaderValue will include those double q

[2022-04-18 16:39] brunolins16 commented on #41009
@DamianEdwards based on the PR we are also moving all the other IResult concrete types, _that not have their names shortened_, to the `Microsoft.AspNetCore.Http.HttpResults` namespace, right?

[2022-04-18 16:58] DamianEdwards commented on #41009
Ah yes, thanks I'll update.

[2022-04-18 17:45] Tratcher commented on #41162
HTTP/2 does not allow delayed client certificate negotiation, client certs need to be negotiated when the connection is established. Try the netsh recommendation above.

[2022-04-18 18:04] halter73 commented on #37384
API Review:

- In the future Limiter will be aggregated with default behavior
- Remove IServiceCollection extension method for now
- RateLimiting -> RateLimiter in method and class names

[code]

[2022-04-18 18:13] halter73 commented on #40927
API Review Notes:

- Let's use the Http.Abstractions namespace
- Add class constraint from PR

[code]

[2022-04-18 18:17] fyziktom commented on #41210
yeah...sorry for that :D I was busy, so I just wrote report.

[In this new repo](
https://github.com/fyziktom/VSBugReportExamples/issues/1) you can find the example repo with simple Class Lib, Razor Component Lib and then two Blazor WASM apps which simulate the same error.

[2022-04-18 18:21] halter73 commented on #16690
API review:

Looks good as proposed.

[2022-04-18 18:35] javiercn commented on #41210
@fyziktom thanks for the additional details.

I don't think there is anything specific to Blazor here. The behavior you are seeing is expected and by design. Visual Studio won't build projects outside of the solution even if you have project references to them. You need to build those projects ahead of time either from the command line or from a different solution.

The same thing happens when you

[2022-04-18 18:40] fyziktom commented on #41210
It happened even if the lib has been already built. That was one of the point. But maybe it is just my not understand of Visual Studio, so sorry for that :D

[2022-04-18 18:41] halter73 commented on #41009
API Review:

- It was nice using verbs vs nouns to determine if we should use the `HttpResult` suffix for the type, but using whether or not the type implements IEndpointMetadataProvider is easier.
- Like the new `HttpResults` subnamespace for all `IResult` implementations.
- Looks good as proposed. Will await community feedback to decide if any of the type names are too generic.

[code]

[2022-04-18 18:42] javiercn commented on #41217
@UnAnalogFG thanks for contacting us.

This is expected and by design. You can read more about how it works [here](https://docs.microsoft.com/en-us/aspnet/core/blazor/components/lifecycle?view=aspnetcore-6.0#lifecycle-events).

Essentially your InvokeAsync+Thread.Sleep is doing nothing because the task is being inlined and Thread.Sleep is blocking, so everything runs synchronously.

On the HttpCli

[2022-04-18 18:45] javiercn commented on #41210
@fyziktom no need to be sorry about anything. I tried the repro and I wasn't able to reproduce it. Make sure you build the solution with the dependency first and then the other solution. The error should go away.

[2022-04-18 18:54] fyziktom commented on #41210
Ok. thanks for help.

[2022-04-18 19:00] #41112 closed

[2022-04-18 19:01] DamianEdwards commented on #41009
If we end up circling back on this WRT to the result type names, a thought I just had was to prefix them with `Http` instead. That seems to keep the type names fairly reasonable in the method signature, e.g.:
[code]

[2022-04-18 19:03] alex-jitbit commented on #41234
@javiercn please elaborate how is this "by design" and what extra work does TagHelper need to do to calculate the tilde path?

Tilde path is deterministic and resolves to Web application root, always. Isn't that always the case?

[2022-04-18 19:28] Tratcher commented on #41237
I think the issue is here:
https://github.com/dotnet/AspNetCore.Docs/blob/5f362035992cc3b997903dda521a01ed59058dec/aspnetcore/mvc/models/file-uploads/samples/5.x/LargeFilesSample/Controllers/FileUploadController.cs#L49

The MediaTypeHeaderValue.Boundary is expected to be quoted, but MultipartReader requires the value to not be quoted. There should be an additional line here that trims the quotes.

[2022-04-18 19:33] captainsafia opened #41242 "Results of the Feb 2022 repo survey for dotnet/aspnetcore"
Greetings ASP.NET Core community!

A few months back, we [sent out a survey](https://github.com/dotnet/aspnetcore/issues/39936) to the community to get some feedback on how approachable and productive our repo was (amongst other factors). This post is a summary of the results of this survey for curious minds.

First things first, we had a total of 33 respondents for the survey. It's a considerable

[2022-04-18 19:59] UnAnalogFG commented on #41217
But why is a re-render triggered on the HTTPClient await return ?. What's the reason.
If I'm not setting "Data = newData", then no re-render is done at all.
So It seems the Re-Render is triggered by setting Data = new Data but that happens after the await.

[2022-04-18 20:00] captainsafia opened #41243 "Spruce up `OpenApiResponse` creation in `Microsoft.AspNetCore.OpenApi` package"
With the introduction of the `Microsoft.AspNetCore.OpenApi` package, we carried over some logic for producing `OpenApiResponses` out of the metadata and attributes that a handler had that existing in the ApiExplorer.

This logic assumes some MVC-specific patterns and is fairly complex to reason about, especially when it comes to processing content types that are set on an endpoint.

The new packag

[2022-04-18 20:07] damienbod commented on #41235
Hi @javiercn I could try this one if you want, I would like to look the Blazor authentication anyway.

[2022-04-18 20:12] captainsafia opened #41244 "Adopt consistent approach for defining InternalsVisibleTo in the repo"
This is a follow-up to some PR feedback I received in https://github.com/dotnet/aspnetcore/pull/41238#discussion_r852307921 (and other PRs).

We use two different strategies for defining IVT in the repo at the moment:

- Property in the build
- Assembly attribute in source

For consistency, we might want to consider adopting one standard throughout the repo and using that everywhere.

[2022-04-18 20:18] captainsafia opened #41246 "Improve JSON validation schema generation in `Microsoft.AspNetCore.OpenApi`"
https://github.com/dotnet/aspnetcore/pull/41238 introduced a very reductive schema generation interface for the OpenApi package.

Moving forward we want to make this API a lot more robust which includes generating the full schema (types, formats, and constraints) for Types that are provided in `MethodInfo` including:

- Accounting for nullability
- Accounting for default values
- Accounting for ty

[2022-04-18 20:25] Tratcher commented on #41244
Declaring it in the csproj file is simpler and cleaner. We used the assembly attribute before because the csproj option wasn't available.

[2022-04-18 21:26] houserrob commented on #41187
Thanks Noah these are really great links.  I was able to get a little more logging along the connection path using your hints and was able to tone down some of the other logging so that things aren't unmanageable to bring this change to our production environment.  I'll see what I can find there.

For others I found that these two settings gave the best info on when the connection is accepted and

[2022-04-18 21:35] Tratcher opened #41248 "Quarantine InteropTests.InteropTests.ClientCompressedUnary"
## Failing Test(s)

- InteropTests.InteropTests.ClientCompressedUnary

## Error Message

[code]

## Stacktrace

<details>

[code]
</details>

## Logs

<details>

[console.7d6b1551.txt](https://github.com/dotnet/aspnetcore/files/8508274/console.7d6b1551.txt)

</details>

## Build

https://dev.azure.com/dnceng/public/_build/results?buildId=1723679&view=ms.vss-test-web.build-test-results-tab&runId=46

[2022-04-18 21:37] vijayrkn commented on #39992
block_scoped vs file_scoped can be controlled with the following editor config setting - https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/formatting-rules#namespace-options

Our approach is to use one form of the template and the editorconfig setting will help with the customization.

[2022-04-18 21:38] #39992 closed

[2022-04-18 21:39] mkArtakMSFT commented on #41133
Talked to @tmat. This is a existing limitation which is going to be addressed by https://github.com/dotnet/roslyn/issues/59264

[2022-04-18 21:39] #41133 closed

[2022-04-18 22:08] JamesNK commented on #41187
Were you able to get enough information to figure out your issue?

[2022-04-18 22:09] #40262 closed

[2022-04-18 22:10] JamesNK commented on #41231
@bradygaster

[2022-04-18 22:19] bradygaster commented on #41231
Adding @btardif here to comment from the App Service team. Is there an alternative, or guidance for customers who run into this situation?

[2022-04-18 22:25] btardif commented on #41231
@JasonFreeberg might be able to help

[2022-04-18 22:38] davidfowl commented on #41248
This was failing on my PR so I'll take this one.

[2022-04-18 22:42] JasonFreeberg commented on #41231
@btardif since it's only ever been HTTP, if we change it now that could be a breaking change for existing apps. So I suppose we would need this to be implemented with a site property so it's opt-in, then update the UI and CLI to surface the new property?

[2022-04-18 23:21] #41009 closed

[2022-04-19 00:26] halter73 commented on #40676
API Review Notes:

- New sample usage (pending copy constructor https://github.com/microsoft/OpenAPI.NET/issues/832).

[code]
- Are we worried about the extensibility of `OpenApiOperation` since we do not own the type? No. We can lean on the `OpenApiOperation.Extensions` dictionary if we really must.

Final approved API:

[code]

[2022-04-19 00:32] #16690 closed

[2022-04-19 00:58] JamesNK opened #41252 "Testing ASP.NET Core with trimming"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

We're annotating ASP.NET Core for trimming in .NET 7. In theory, the linker and trim warnings should ensure frameworks, libraries and apps work.

### Describe the solution you'd like

With trimming it's difficult to test trimmed featur

[2022-04-19 03:32] itn3000 commented on #41162
I understand this is not a bug, so I will try above solutions.
Thank you for responding.

[2022-04-19 04:27] #40676 closed

[2022-04-19 05:31] ShreyasJejurkar commented on #41220
Hi @javiercn, I can confirm that Hot reload is working correctly for razor pages and C# code in VS. But when I change something that ViewBag holds and click save (it applies hot reload delta), and if I hit the corresponding action in the browser, I am getting above exception.

From my point of view, we are not gathering deltas from ViewBag I guess to patch it.

cc @pranavkm

[2022-04-19 08:13] davidfowl opened #41255 "Performance on bursts of requests on IIS less than ideal and results in rejected requests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

We've have several complaints about the performance of requests with a little latency (e.g `Task.Delay(5000)`) on IIS result in more rejected requests than when running on System.Web on .NET Framework. After some digging the difference between the 2 implementations is how completions are hand

[2022-04-19 08:44] zoran-petrovic-87 commented on #41222
Hi @javiercn I understand what is happening, but I still think that is wrong.
For example, if you create a form like this and ask users that they need to submit it with a value "A", I am pretty sure that 99% of them will not click on InputSelect since "A" is already selected. And on the backend we will get null. But if "A" was not preselected then we would get correct result on the backend.

[2022-04-19 09:20] mus65 commented on #41168
@Tratcher I tested it successfully with the main build. Thanks for the quick fix!

We hit this in production with 6.0 and it's too late to go back to 3.1, so a patch would be great. So this would be in 6.0.5 which is released in may, right?

[2022-04-19 09:42] javiercn commented on #41252
@JamesNK you can take inspiration on how we test trimming in Blazor Webassembly apps. We trim the projects on the CI only based on the Release configuration.

[2022-04-19 10:08] javiercn commented on #41220
@ShreyasJejurkar thanks for the additional details.

@tmat this seems to be a hot reload issue with regards to `dynamic`. Should this be transferred to the runtime repo?

[2022-04-19 11:02] peterlgarland opened #41257 "dotnet watch hangs while a Time Machine backup is being run on macOS Monterey"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I don't know if this is an issue to reach out to you or to Apple.

I have an M1 Pro MacBook Pro backing up via Time Machine to a Sparse Disk Image on a Windows Server. This is not a problem.

The problem is, if I'm running dotnet watch and a back is occuring, changes aren't Hot Reloading and

[2022-04-19 11:31] lukblazewicz commented on #40190
Just to bump up - this behaviour affects our application as well (quite significantly). Is there any workaround for that until the issue gets resolved?

[2022-04-19 13:00] #41227 closed

[2022-04-19 13:27] pranavkm commented on #41220
Dupe of https://github.com/dotnet/runtime/issues/59494

[2022-04-19 13:33] younussenn commented on #41204
I fixed the issue with the AddSingleton method. I added that method on Startup.cs and the problem was fixed. Now I can subscribe to the Background service. Thanks everyone.
![asp_net_core_backtasks_3](https://user-images.githubusercontent.com/46409298/164015643-ca8ac02a-b291-4f0b-b37d-d9b12feb7f75.png)

[2022-04-19 13:54] javiercn commented on #41220
@pranavkm thanks!

[2022-04-19 13:54] #41220 closed

[2022-04-19 14:35] groogiam commented on #40190
@lukblazewicz I have had some success using JS interop to capture the current page scroll position and and then trying to reset the position after the update query string operation completes. I had to add some random Task.Delay statements in my C# code to get things to work and the user experience is still pretty bad as the page jumps up and then back down but at least your users don't have to scr

[2022-04-19 14:40] groogiam commented on #40190
@mkArtakMSFT I'm not sure why this is tagged as an enhancement, I'm fairly certain this it is a regression from Blazor on .NET 5. The issue did not manifest until I upgraded from .NET 5 to .NET 6. This regression really impacts user experience of this product.

[2022-04-19 15:11] lukblazewicz commented on #40190
@groogiam Thanks for the tip, we will have to consider it if there is little hope to get this bug fixed soon.
@mkArtakMSFT Is there any chance this issue gets promoted to be fixed in the upcoming releases?

[2022-04-19 16:35] mkArtakMSFT commented on #41252
@JamesNK how do you want all of us to track this? Do you want to put out a PR to which everyone will contribute or file separate issues?

[2022-04-19 18:41] captainsafia commented on #40577
Resolved by updating the M.E.ApiDescription.* dependencies in NSwag.

[2022-04-19 18:41] #40577 closed

[2022-04-19 19:00] #41210 closed

[2022-04-19 19:40] vanillajonathan opened #41262 "Personal access token support in Identity"
## Background and Motivation
Users on a website powered by ASP.NET Core Identity could also want to delegate access to third-party applications to interact with an API on the website using personal access tokens.

1. The user goes to a page on the website and generates a personal access token.
2. The website presents the user with the generated personal access token.
3. The user copies the token a

[2022-04-19 20:09] DamianEdwards commented on #39857
Starting to explore this over at https://github.com/DamianEdwards/AspNetCoreDevJwts

[2022-04-19 20:10] DamianEdwards commented on #39855
Starting to explore this over at https://github.com/DamianEdwards/AspNetCoreDevJwts

[2022-04-19 20:57] #41248 closed

[2022-04-19 21:15] captainsafia commented on #39529
This has already been fixed in both 6.0 and 7.0.

[2022-04-19 21:15] #39529 closed

[2022-04-19 21:33] BrennanConroy opened #41264 "IIS tests that look at EventLog are flaky"
I've been looking at a few recent IIS test failures and they all have the same type of issue.

The error states `"No entries matched by 'blah'"` but if you look at the logs there is a log for the term being search for.

Example:
[code]

And at the end of the logs there should be a list of every event log looked at:
https://github.com/dotnet/aspnetcore/blob/0f61a3df907178ad5f8bac41fad715839ee6daae/

[2022-04-19 22:00] #41234 closed

[2022-04-19 22:00] #41217 closed

[2022-04-19 22:11] #41188 closed

[2022-04-19 22:12] davidfowl commented on #41255
Assigning this to myself.

[2022-04-19 22:13] wtgodbe opened #41266 "Add EventSource logging to RateLimitingMiddleware"
Follow-up to https://github.com/dotnet/aspnetcore/pull/41008/, part of https://github.com/dotnet/aspnetcore/issues/37384

[2022-04-19 22:41] blowdart commented on #41262
I'll be honest this is way beyond the scope of what identity is aimed at. This sort of thing we leave to Identity Server, OpenIddict and the various cloud platform identity services.

[2022-04-19 23:03] brunolins16 commented on #20444
Fixed by #39804

[2022-04-19 23:11] aDisplayName commented on #41237
The current workaround I'm using is to remove the double quotes from the beginning and the end if they exist.

[2022-04-19 23:38] janseris commented on #40453
@mkArtakMSFT
hi, any info on this?

[2022-04-20 02:48] air1x1 commented on #20813
Wow, yea having a to dynamically change these values would be a wonderful addition.

I'm using Auth0's '[Invite Organization Members](https://auth0.com/docs/manage-users/organizations/configure-organizations/invite-members#specify-route-behavior)' and was having a heck of a time getting it to work using `Blazor` and `Webassembly`.

Thankfully, I stumbled on the `AdditionalProviderParameters` prope

[2022-04-20 05:02] #41143 closed

[2022-04-20 05:13] keatkeat87 opened #41273 "Razor Page – CSS Isolate not working on body element"
### Is there an existing issue for this?
no

- [X] I have searched the existing issues

### Describe the bug

![image](https://user-images.githubusercontent.com/8691013/164153982-4538c9ef-73f9-498d-a761-207ed83e35b1.png)

the body element never generates a unique attribute (b-axhiglo46s) value that another element did. so the CSS style not working in body element.

![image](https://user-images.git

[2022-04-20 05:28] Franklin89 commented on #21669
Hi @mkArtakMSFT
Any update on this?

[2022-04-20 05:37] davidfowl commented on #41266
What are we adding? Can we list the events and counters here? I wonder if we should switch to metrics in .NET 7?

cc @noahfalk

[2022-04-20 05:44] vicancy commented on #23794
Do we have an ETA for fixing this issue? Shall it follow the net7 release pipeline or it can be released on its own since it only affects the js package? We have several customers reporting this issue. cc @davidfowl

[2022-04-20 05:46] davidfowl commented on #23794
We can do it during the .NET 7 release timeframe.

cc @rafikiassumani-msft I'm going to move this out of the backlog for re-triage.

[2022-04-20 05:56] alex-jitbit commented on #10117
Please reopen this issue, it still hasn't been fixed after 2.5 years.

[2022-04-20 06:18] omuleanu opened #41274 "StateHasChanged doesn't update input value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I've reproduced it here: https://blazorfiddle.com/s/fuienanj

having this code:
[code]
if you type after the first 2 letters "ab" (or you don't change the first 2 letters)
 the input value won't reflect the value of @str1 variable even though StateHasChanged was called.

### Expected Behavior

[2022-04-20 07:08] tmds opened #41275 "Update spa templates to facilitate multi-stage docker builds"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

The spa templates use `npm` for the client-side, and `dotnet` for the server-side.

The .NET sdk container images do not provide npm. So they can not be used directly to build the spa templates.

Another option is to use a multi-stage

[2022-04-20 07:09] tmds commented on #41275
@davidfowl @richlander ptal.

[2022-04-20 07:10] alex-jitbit commented on #10117
@triynko your comments about .NET Framework are completely off the topic by the way, this repo is about .NET Core.

[2022-04-20 07:54] ionoy commented on #31365
Any news on this?

[2022-04-20 09:13] vanillajonathan commented on #41262
IdentityServer is an implementation of OpenID Connect — an unwieldy beast designed by a consortium of behemoths to cover every imaginable enterprise scenario which makes it difficult to understand, configure and setup.

IdentityServer is great as the stand-alone-hosted identity management centerpiece of an enterprise as it supports:
- Multiple client applications
  - Each client with their own cli

[2022-04-20 09:34] #41273 closed

[2022-04-20 09:45] javiercn commented on #41274
@omuleanu thanks for contacting us.

This is expected, that's why you need to use `@bind` in these scenarios, as it does some magic behind the scenes to reconciliate the state between the input and the C# side.

We do have plans to improve this in .NET 7.0 to make this scenario easier. See https://github.com/dotnet/aspnetcore/issues/39837

Other than that, the behavior here is by design, since we

[2022-04-20 09:45] #41274 closed

[2022-04-20 09:47] javiercn commented on #41275
@tmds thanks for contacting us.

This is a good point. At the very least we should have docs covering this scenario.

[2022-04-20 09:59] omuleanu commented on #41274
@javiercn you are updating the input value, if the `str1` var would get a different value, the input value would update.

[2022-04-20 10:06] ttosello commented on #41165
Hi, I did report this through VS but they marked it as duplicate and pointed to this thread instead.

[2022-04-20 10:29] keatkeat87 commented on #41273
oic, I got it.
Thanks for answering for me.

[2022-04-20 10:37] Ben555555 opened #41277 "Razor views not existing after updating from .NET 5 to .NET 6 in Identity.UI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

After migrating from .NET5 to .NET6 the razor views don't work anymore for Microsoft.AspNetCore.Identity.UI. We use scaffold to setup the identity server razor pages. When I open the Login page "https://localhost:44390/Identity/Account/Login" I get the following exception:

InvalidOperationEx

[2022-04-20 11:12] javiercn commented on #41165
@ttosello thanks for the additional details. From what I spoke to the VS folks, this hasn't changed in a long time (the environment variable was always set) so it is not clear to me how this ever worked for you in a previous version of VS.

I'm going to hand off the VS ticket directly to the VS folks to help you here.

[2022-04-20 11:17] javiercn commented on #41165
@ttosello I've reactivated the original VS issue and looped in the right folks to take a look at it. I'm going to close this issue to avoid confusion and we will handle updates in the user voice ticket directly.

[2022-04-20 11:20] javiercn commented on #41274
@omuleanu there are two values. The value in the `C#` field and the one in the actual input within JavaScript. The one that is not being updated is the one in the actual input element in JS. That's the magic that bind does that I was talking about.

[2022-04-20 11:21] javiercn commented on #41277
@Ben555555 thanks for contacting us.

Can you provide a minimal repro project that illustrates this issue?

[2022-04-20 11:38] Ben555555 commented on #41277
After digging for hours I found a possible solution or the root of the problem. While building the following message appears. Since it's only a warning I didn't quite give it any attention:

1>CSC : warning CS8785: Generator 'RazorSourceGenerator' failed to generate source. It will not contribute to the output and compilation errors may occur as a result. Exception was of type 'NullReferenceExcept

[2022-04-20 11:39] omuleanu commented on #41274
@javiercn I get that, however,
in the demo above if I type `1234` the server and client value of the input will be `12`,
after if you type `abcd` the server and client value will be `ab`,
and only after if you type `abwhatever` the client value stays `abwhatever` because the server value didn't change

[2022-04-20 11:44] javiercn commented on #41274
@omuleanu and that again goes to my comment about `@bind`.

That's the special magic that makes this work. The behavior you are observing is by design and that's why there is special logic in `@bind` to reconciliate the values and have the value on the input field updated to `ab` when you use bind.

[2022-04-20 12:02] omuleanu commented on #41274
@javiercn is there some flag that can be set to achieve the same result as `@bind` , but without using `@bind`

[2022-04-20 12:13] javiercn commented on #41274
@omuleanu no.

That's why we are implementing something in .NET 7.0 so that you can do the same thing you do with `attribute + handler` but with `@bind` semantics.

The only way to achieve the same today is using C# and the rendertreebuilder apis.

[2022-04-20 13:49] Alerinos opened #41278 "When publishing a web application in library mode, it does not copy the contents of _content"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

If we have several projects, one of them is the asp.net application, but as a library. When we run it by another project, everything works, but when we publish it, it does not transfer the contents of _content libraries from nuget.

![image](https://user-images.githubusercontent.com/42449535/

[2022-04-20 14:24] javiercn commented on #41278
@Alerinos thanks for contacting us.

That is not a scenario that we support. We support publishing a web application directly, but not when consumed as a reference.

[2022-04-20 14:28] yepeekai commented on #41149
[msbuild_publish_nobuild.zip](https://github.com/dotnet/aspnetcore/files/8522362/msbuild_publish_nobuild.zip)
Sorry, I though you needed the build task.  Here is the one for the publish task

[2022-04-20 14:29] yepeekai commented on #41149
wait, the error is not there...  I will do it again

[2022-04-20 14:44] Liero opened #41279 "Razor Class Library isn't adding typescript output to static web assets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I've RCL with a typescript sources and I want to include the generated javascript in the package as staticwebassets.

I've followed the docs: https://docs.microsoft.com/en-us/aspnet/core/razor-pages/ui-class?view=aspnetcore-6.0&tabs=visual-studio#typescript-integration

However, the javascrip

[2022-04-20 14:50] javiercn commented on #41278
@Alerinos I'm not sure I quite understand.

You can publish the web app, but you can't reference the web app from another class library and publish it. Its not a scenario we contemplate nor test for. Is the same for pack, you can't `dotnet pack` a web application.

[2022-04-20 14:58] javiercn commented on #41279
@Liero thanks for contacting us.

I think the docs need to be updated for this one, we changed a bit the way our targets run in .NET 6.0, so you need to add the following

[code]

We do have an issue to improve this area in .NET 7.0, I would suggest you upvote it here https://github.com/dotnet/aspnetcore/issues/40572

[2022-04-20 15:30] Liero commented on #41279
@javiercn : I have added what you suggested and the result is the same

[2022-04-20 15:33] javiercn commented on #41278
@Alerinos it's not a bug.

The fact that it works during development is an artifact of how static web assets are implemented during development.

As I mentioned above, this is by design as we don't consider this scenario valid, even if MSBuild doesn't give you an explicit error. This and other scenarios like packing a web app, or a webassembly app, are not supported.

Publishing the app is differe

[2022-04-20 15:34] HaoK opened #41281 "Dispose httpclient in IIS tests"
We can speed up the tests by disposing the httpclient

Context: https://github.com/dotnet/aspnetcore/pull/41271#discussion_r854280037

[2022-04-20 15:52] javiercn commented on #41279
@Liero it seems that the targets in typescript have changed a bit.

[code]

Should do the trick.

[2022-04-20 15:53] Tratcher commented on #41281
There was a regression in IIS in the Win10 timeframe where IIS won't stop the site until the client closes the connections. People keep claiming it doesn't exist, has aways existed, or has been fixed, and not much progress has been made on a real investigation. https://github.com/dotnet/aspnetcore/issues/25107

[2022-04-20 15:58] javiercn commented on #41277
@Ben555555 thanks, that is indeed useful information.

Seems that it is a razor-compiler issue, so I'm going to transfer it there.

[2022-04-20 16:02] Tratcher commented on #41216
@chappleg thanks for the fix. Have you found any workarounds for this issue? Is this blocking your adoption of 6.0?

[2022-04-20 16:09] javiercn commented on #41234
@alex-jitbit using a tag helper involves more work because it needs to get instantiated, find the attribute to apply to and update the content at runtime, compared to `Url.Content` whose only job is to "take a string and produce another string".

The code you are looking for is https://github.com/dotnet/aspnetcore/blob/main/src/Mvc/Mvc.Razor/src/TagHelpers/UrlResolutionTagHelper.cs

[2022-04-20 16:10] chappleg commented on #41216
@Tratcher, I ran into this issue while doing a Proof of Concept of YARP for my team. If we decide to move forward with YARP then I will need to find a workaround.

My plan was to use a [ServerCertificateSelector](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel/endpoints?view=aspnetcore-6.0#sni-with-servercertificateselector) function and configure the mapping of server na

[2022-04-20 16:15] blowdart commented on #41262
Rolling our own PAT implementation would be just as unwieldy, complicated and prone to error, locking people into a custom protocol and client. That's not suitable for anything modern at all.

[2022-04-20 16:26] JBBianchi opened #41282 "Blazor WebAssembly: conflict between parameters and event callback prevents rendering"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I was trying to make a simple modal in my Blazor WebAssembly project that would be open when the user navigates to a page, would ask for some inputs, and closes on submit.

To do so, I created a new Razor component with 3 parameters:
- `Active`: used to define if the modal should be displayed

[2022-04-20 16:29] vanillajonathan commented on #41262
Perhaps it could be a simple implementation with just one `GeneratePersonalAccessTokenAsync` method that returns a token as a string in JWT format. The method would accept a `DateTimeUtc` or a `TimeSpan` that would be used to set the `exp` claim. Furthermore it would add claims from the `AspNetUserClaims` table. The token would be compatible with the existing [`AddJwtBearer`](https://docs.microsof

[2022-04-20 16:31] javiercn commented on #41222
@zoran-petrovic-87 I'm not implying that its not a bug. I've added more info to capture some more details so that when we discuss the issue as part of our planning process we can have a more informed debate around it.

You bring up good points, however, I want to get some inputs from other folks on the team about it.

[2022-04-20 16:37] yepeekai commented on #41149
I found the problem! I made a typo at the time for the buildconfiguration to use.  I used release instead of Release.  "dotnet build" and "dotnet test" figured out automagically that I meant Release but it was not the case for "dotnet publish"
"dotnet publish" tries to use a path with "release" which doesn't exist in linux world.  I think it would be nice to make this more obvious.  I don't think

[2022-04-20 17:12] jcracknell commented on #40810
In case anyone is looking for a workaround it is reasonably straightforward to replace all of the form-related IValueProviderFactory implementations with patched versions via MvcOptions.ValueProviderFactories (as the factories are relatively trivial), however the JQueryFormValueProviderFactory depends on internal static helpers.

[2022-04-20 17:27] Tratcher commented on #41216
I'll submit this for approval for a 6.0 patch and we'll see what happens. The next possible patch window is 6.0.6/June.

[2022-04-20 17:57] Tratcher commented on #41237
Here's an example from the built-in form reader:
https://github.com/dotnet/aspnetcore/blob/4eef6a1578bb0d8a4469779798fe9390543d15c0/src/Http/Http/src/Features/FormFeature.cs#L318-L320
HeaderUtilities.RemoveQuotes is a publicly available API.

[2022-04-20 18:01] HaoK commented on #31404
Keeping open in case we want to port to 6.0

[2022-04-20 18:02] blowdart commented on #41262
You could do that today, with your own custom code. But PATs are specialized requirements anyway, not suitable for inclusion in a general starting point framework. Identity is for web based logins, anything after that we leave to the community. If there's something blocking the implementation of a community feature we'd look at how to unblock it, but that's very different to implementing it oursel

[2022-04-20 18:23] florenzetti opened #41284 "Doc misinformation for the property displayName in the UserLoginInfo Constructor"
The documentation for the constructor’s parameter displayName of the class UserLoginInfo is not the same of the property it is used for.
This can cause a misunderstood on how to use this property / constructor.

I assume that the documentation for the property ProviderDisplayName is the accurate one.

    /// <summary>
    /// Creates a new instance of <see cref="UserLoginInfo"/>
    /// </summary

[2022-04-20 18:39] gewarren commented on #40405
@TanayParikh Was this change reverted, or is it still a breaking change?

[2022-04-20 20:17] lockbox23 opened #41285 "Cannot obtain windows account in blazor server using smart card authentication"
I'm using the code below in blazor server on IIS with only Windows authentication enabled, SSL required and accept client certificates.

If I log in with username/password, { user.identity.name  } will display **domain\username**. If I log in using a smart card, { user.identity.name  } will display **first** and **last** name, but not from the user's domain account.

I had to add the certificate a

[2022-04-20 20:23] Tratcher commented on #41285
Certificate auth populates the identity with the information contained in the certificate. It does not map the certificate to a domain account to fetch details, that's something you'd have to add in the cert auth events by directly contacting the domain using System.DirectoryServices and asking it about the user identified by the cert.

[2022-04-20 20:32] TanayParikh commented on #40405
Ah, good catch @gewarren, this should be closed out as the breaking change was reverted via https://github.com/dotnet/aspnetcore/pull/40526.

[2022-04-20 20:32] #40405 closed

[2022-04-20 21:37] Tratcher opened #41287 "EnableBuffering/FileBufferingReadStream doesn't support 0-byte reads"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

The 0-byte read pattern does not work with FileBufferingReadStream.

On first read with a zero-length buffer it returns 0, but that causes the stream to think it's completely buffered and to stop reading from the inner stream.

https://github.com/dotnet/aspnetcore/blob/c9af60637e42aa6bed8f9fd

[2022-04-20 22:06] adityamandaleeka commented on #41287
We should consider backporting this to 6.

[2022-04-20 22:23] adityamandaleeka commented on #41237
Triage: we could make MultipartFormReader remove the quotes.

[2022-04-20 22:29] lockbox23 commented on #41285
@Tratcher  Thanks for replying! You've answers both of my questions, but I'm not happy with the answers. lol

That's interesting. I disagree that certificate auth should be populating  { user.Identity.Name } with the info in the certificate. Cert info can be obtained via this code:

[code]

Ugh! Just to clarify, by directly, you mean doing an LDAP query, right?

Windows/IIS/Blazor server authentic

[2022-04-20 22:30] bradygaster commented on #41231
@JasonFreeberg - could we move this over to the App Service repo since this is more a service feature to implement? It'd help our customers to have a tracking link for an issue on your side, too, so that move would be helpful. Thanks immensely.

[2022-04-20 22:33] adityamandaleeka commented on #41284
If you want to fix this, we'd accept a PR that unifies the comments.

[2022-04-20 22:33] btardif commented on #41231
Yes, that makes sense to me. Would also be interesting to if we can make it respect the HTTPS only setting.

[2022-04-20 22:45] Tratcher commented on #41285
No, it doesn't, that association is only known by the client and the domain controller. The server only knows that the certificate is valid, we don't know that it represents a user on the domain controller. Client certs can be issued from many sources, they're self-contained identities. If you expect all of your client certs represent users on the domain controller then you need to do that extra L

[2022-04-20 23:01] lockbox23 commented on #41285
Got it. Thanks!

[2022-04-20 23:01] #41285 closed

[2022-04-21 01:48] dougbu opened #41290 "2.1.x releases lack commit information"
dotnet/aspnetcore uses the `$(CommitHash)` property when creating a few files, including our manifests. This information feeds into various online resources such as <https://github.com/dotnet/versions/tree/main/build-info/dotnet/product/cli/release/2.1.30> as well as our staging locations. Unfortunately, `$(CommitHash)` has been empty lately e.g. `aspnet 2.1.30 on '2.1' build 2.1.30-servicing-1293

[2022-04-21 01:50] dougbu commented on #41290
Though we could update dotnet/aspnetcore to exclusively use `$(RepositoryCommit)`, I prefer to do that _plus_ remove everything about `$(CommitHash)` from aspnet/BuildTools. It's just confusing at this point.

[2022-04-21 01:51] dougbu commented on #41290
/cc @dotnet/aspnet-build

[2022-04-21 01:53] dougbu commented on #41290
/fyi @vseanreesermsft @mmitche

[2022-04-21 02:19] SH-Engineer02 commented on #40264
it looks like has been solved after update vs 2022 to version 17.1.5

[2022-04-21 02:58] americanslon commented on #40149
Has some plan of action been decided on this? This is an essential feature that is sorely lacking.

[2022-04-21 03:00] meziantou opened #41291 "Razor generates code that doesn't compile when using generic components and RenderFragment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

(I cannot reopen the bug I previously created: https://github.com/dotnet/aspnetcore/issues/31263)

Razor generates code that doesn't compile when using a `RenderFragment` into a generic component

### Expected Behavior

The generated code compiles

### Steps To Reproduce

1. Create a .NET 7.0

[2022-04-21 05:10] agilenut commented on #39802
Fingers crossed this gets fixed. Right now, I have to create an extra operation filter in every API I create.

[2022-04-21 07:07] pr-benchmarks[bot] opened #41292 "Perf improvement: plainTextEmptyFilter"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| plainTextEmptyFilter  | Plaintext (Empty Filters) aspnet-citrine-lin | 04/11/2022 08:08:57 | 2,440,817 | 2,528,325 | 0.00 % (83,149)  :thumbsup:  | 2.96 σ | 28,071.24 | <details>    <summary>Changes</su

[2022-04-21 07:26] Liero commented on #41279
Thanks @javiercn.

 Following minimal csproj worked for me:

[code]

[2022-04-21 07:28] ChaosEngine commented on #40264
Yes, looks like it. Good job.

[2022-04-21 08:07] wstaelens opened #41293 "Blazor Server - many comments rendered in html output"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When looking at the source code in Edge DevTools we see lots of `` comments.

### Expected Behavior

No comments should be rendered.

This is also unneeded data being sent, sometimes half the text being produced is just comments...

### Steps To Reproduce

Create a Blazor Server side project

[2022-04-21 08:20] sholman commented on #41293
Yeah this is very frustrating and unnecessary.

[2022-04-21 08:21] wstaelens opened #41294 "Blazor Server events generate a lots of network traffic in Edge DevTools"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

[code]

When moving with mouse over a button or some divs that have events attached, they generate a lot of traffic.

just moved with mouse 4 or 5 seconds generated 294 requests already
![blazor requests](https://user-images.githubusercontent.com/7447285/164411611-c9aa1878-1842-4e03-b899-4409

[2022-04-21 08:55] javiercn commented on #41294
@wstaelens thanks for contacting us.

From what I can tell you seem to be using long polling instead of websockets. SignalR uses requests to ping the server regularly as part of long polling to ensure the connection is alive.

We would suggest you switch to websockets and should see those requests disappear.

That said, I want to set expectations here: Blazor Server is a "connected" protocol, so i

[2022-04-21 08:58] javiercn commented on #41294
@wstaelens thanks for contacting us.

From what we can tell you seem to be using long polling instead of websockets. SignalR uses regular requests to the server using long polling to ensure the connection is alive. If you turn on websockets you should see the requests go away.

That said, I want to set expectations here: Blazor server is a "connected" protocol and as such, it regularly maintains t

[2022-04-21 09:13] gdar91 opened #41295 "Property pattern-match expressions fail when used in the razor syntax."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Property pattern-match expressions fail when used in the razor syntax.

### Expected Behavior

We expect property expressions to be supported in the razor syntax like they are in plain C#.

### Steps To Reproduce

[code]

### Exceptions (if any)

error CS1003: Syntax error, ':' expected

###

[2022-04-21 09:35] sevinul opened #41296 "#40786 reopened: Blazor InputNumber and InputDate components fail to compile on .NET 7 Preview 3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

#40786 reopened: In .NET 7 Preview 3 Visual Studio 2022 is not accepting blazor InputNumber and InputDate components.

Compiling the code piece below in a blazor component will cause a not specified error in the RazorSourceGenerator, hence the project will fail with the error: "Type or namesp

[2022-04-21 09:35] elgabato commented on #40264
Good Job

[2022-04-21 09:43] jscarle commented on #40264
Confirmed as fixed on my end.

[2022-04-21 09:55] MariovanZeist commented on #41282
@JBBianchi
I wanted to look at your issue, but couldn't clone your repo.
Did you manage to fix your issue?

[2022-04-21 09:58] Junjun-zhao opened #41297 "[dotnet-sdk-7.0.100-preview.4.22218.29] grpc-dotnet-2.40.0 Functional Test failed with System.Net.Http.HttpRequestException"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

grpc-dotnet-2.40.0 Functional Test failed with System.Net.Http.HttpRequestException when running it with .NET 7 Preview 4 build.

**Application Name**:  grpc-dotnet-2.40.0
**OS**: Windows 10 RS5
**CPU**: X64
**.NET Build Number**: 7.0.100-preview.4.22218.29

App and App Source checking at: ht

[2022-04-21 10:00] JBBianchi commented on #41282
@MariovanZeist sorry, I didn't notice the repo was private, I turned it public, you should be able to clone it. Can you confirm please ?

[2022-04-21 10:29] javiercn commented on #41149
@yepeekai thanks for the additional details.

This seems to be an issue with Publish not normalizing `release` to `Release`. Could you file an issue in `dotnet/sdk` with the concrete commands you run so that folks from the SDK/CLI can chime in?

Maybe it is expected that you use the exact casing or maybe it is a bug in that publish doesn't get normalized when it should, they would know better in a

[2022-04-21 10:30] #41149 closed

[2022-04-21 10:47] javiercn commented on #41282
@JBBianchi thanks for contacting us.

The issue happens because you are using the Parameter `Active` as a Parameter and to hold the state for the component, which we don't recommend because it impacts subsequent renders.

If you have some piece of state, you should store it separately from your parameter, for example if you change your sample to use a private field _isCurrentlyActive and you set t

[2022-04-21 10:51] Liero commented on #41279
@javiercn: Notice that I'm just doing `dotnet build` with `<GeneratePackageOnBuild>True</GeneratePackageOnBuild>`. I don't specifically execute `dotnet pack --no-build`

[2022-04-21 10:59] guardrex commented on #41279
Thanks @Liero ... Yes, let's have the discussion continue here or on a new docs issue, if needed. I'm going to lock down the PR in case any new readers wander by there.

@javiercn remarked before the preceding comment:

[2022-04-21 11:05] JBBianchi commented on #41282
@javiercn thanks for your feedback. Could you point me some piece of code or explantations about how the subsequent renders work? I'm quite curious to see how it works. I find it strange that flipping the Active prop-state works outside the event call back but doesn't when the event callback is called (even if the value is actually updated, and even after calling StateHasChanged()).

[2022-04-21 12:06] usmanaliabbasse opened #41298 "Why is this issue still not planned to fix, it is almost mid of 2022? What heck is stopping it to do? If not then what is alternate to support ssrs reports in .net core 3, 5 or 6?"
Thanks for contacting us. This is not something we plan to do.

_Originally posted by @mkArtakMSFT in https://github.com/dotnet/aspnetcore/issues/22304#issuecomment-635489199_

[2022-04-21 12:16] javiercn commented on #41298
@usmanaliabbasse thanks for contacting us.

Our team doesn't own SSRS nor similar technologies. There are a number of alternative third-party and open source reporting solutions that we believe cover this scenario.

I would bring this question to the SQL Server team via their user voice channel [here](https://feedback.azure.com/d365community/forum/04fe6ee0-3b25-ec11-b6e6-000d3a4f0da0), we only wor

[2022-04-21 12:16] #41298 closed

[2022-04-21 12:32] javiercn commented on #41296
@sevinul thanks for contacting us.

This is a known issue in preview3, I believe it was addressed in preview4, but just in case, I tried the nightly bits (preview5) and it seems to be fixed.

[code]

![image](https://user-images.githubusercontent.com/6995051/164458587-d4842037-364d-4c86-a2f1-d75c6a3724b3.png)

[2022-04-21 12:32] #41296 closed

[2022-04-21 12:43] javiercn commented on #41282
@JBBianchi there are general docs in the following locations:

https://docs.microsoft.com/en-us/aspnet/core/blazor/components/event-handling?view=aspnetcore-6.0
https://docs.microsoft.com/en-us/aspnet/core/blazor/components/lifecycle?view=aspnetcore-6.0

As to what happens specifically in your case, its a bit complicated to explain (and my explanation might not be completely accurate) and I recomm

[2022-04-21 12:44] #41282 closed

[2022-04-21 13:28] Liero commented on #41279
@guardrex: Ok, do you need some more input from me? I think it would be suitable to remove labels `Resolution: Duplicate` and `Status: Resolved`

[2022-04-21 14:03] g-spot commented on #34534
April 2022 - this is still an issue causing errors in productive applications. Could you please start fixing it?

[2022-04-21 14:40] mrpmorris commented on #25058
I am guessing the solution to this would be something like...

[Page 1]
<[Page 2]>
[Page 3]

When the first item on [Page3] becomes visible you do the following
1: Move P2 into P1
2: Move P3 into P2
3: Fetch P3 data

Very idle thoughts, most likely should be ignored :)

[2022-04-21 14:43] navidmatin commented on #41150
Short term fix we have downgraded the SignalR client to `v3.1.24` and that has fixed this issue.

[2022-04-21 14:44] vanillajonathan opened #42308 "Make UrlAttribute work with the Uri data type"

[2022-04-21 14:47] guardrex opened #41300 "Suggested workaround for lack of Blazor WASM log scopes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

It looks like `BeginScope` is callable from an `ILogger` in a Blazor WASM app, but it looks like there isn't a config for `IncludeScopes`. I tried via confg from an `appsettings.json` file (per [our guidance](https://docs.microsoft.com/en-us/aspnet/core/blazor/fundamentals/configuration?view=

[2022-04-21 14:57] Gareth064 commented on #33787
Just to add my pain here... this is what I have configured as part of a Blazor WASM Hosted solution and get the same error
[code]

**Program.cs** (trimmed for brefity)
[code]
**UserAccountFactory.cs**
[code]
**UserProfileService.cs**
[code]
**ApiBroker.cs** (includes the methods to call my back end webserivce.)
[code]

[2022-04-21 15:13] wstaelens commented on #41294
2. --> Point of Blazor is also to avoid Javascript ;-)

[2022-04-21 16:03] vsfeedback opened #41301 "Visual studio 2022 17.2 preview1 excessive exception logging"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Visual-studio-2022-172-preview1-excessi/1677494)._

---
[severity:I'm unable to use this version] [regression] [worked-in:17.1 preview 4 or 5?]
When running a Blazor Server project in 17.2 preview1 it is extremely slow because hundreds of exceptions are being thrown and displayed in the

[2022-04-21 16:03] mkArtakMSFT commented on #41301
Thanks for sharing the repro, Miha.
Unfortunately I'm unable to access it. Can you please make sure it's public ? Thanks!

[2022-04-21 16:25] sebastienros opened #41302 "Blazor Wasm benchmarks not working"
Source:

https://github.com/dotnet/aspnetcore/tree/main/src/Components/benchmarkapps/Wasm.Performance

Full log:

[code]

[2022-04-21 16:26] sebastienros commented on #41302
/cc @SamMonoRT

[2022-04-21 16:31] javiercn commented on #41300
@guardrex I don't think our console logger support scopes.

[2022-04-21 16:32] guardrex commented on #41300
Ok, thanks. I'll recommend a custom logger then. I think that would work 🤞.

[2022-04-21 16:32] #41300 closed

[2022-04-21 16:35] sebastienros commented on #41302
No idea, it was working fine until Sunday, and nothing changed in the infra. Either mono runtime or this benchmark now fails due to other external changes (chrome update, ...)

[2022-04-21 16:39] sebastienros commented on #41302
It was actually on 3/17, not this month. Doing some investigation to see if I can find a change that could have triggered it.

[2022-04-21 17:13] mgrobovsek commented on #41301
@mkArtakMSFT I made the repo public now. Meanwhile I did try a couple of things to try and solve the VS exception logging issue. The excessive logging finally went away when I uninstalled the preview and re-installed it (did not change anything else).
Since then I use the preview for my daily use on larger blazor projects.

[2022-04-21 17:22] sevinul commented on #41296
Thanks a lot☺️

[2022-04-21 17:35] lpperras opened #41303 "AddApiAuthorization for IdentityServer should allow to override in memory signing credential store."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

We are using the Microsoft.Extensions.DependencyInjection.IdentityServerBuilderConfigurationExtensions.AddApiAuthorization method and it registers and in memory implementation of ISigningCredentialStore and IValidationKeysStore. The ex

[2022-04-21 17:48] vanillajonathan commented on #41262
True, it would look something like this.

[code]

The user would have to pass in a `SecurityTokenDescriptor`.

Another alternative would be opaque tokens persisted to a database table.

[code]

[2022-04-21 17:55] javiercn commented on #30162
https://github.com/dotnet/aspnetcore/issues/40935

[2022-04-21 17:58] RyanLiu99 opened #41380 "Get rid of IHealthChecksBuilder.AddTypeActivatedCheck<T> in Microsoft.Extensions.DependencyInjection.HealthChecksBuilderAddCheckExtensions"

[2022-04-21 18:45] Tratcher opened #41305 "Http.Sys request body does not support 0-byte reads"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

RE: https://github.com/microsoft/reverse-proxy/issues/1665

YARP now uses a zero-byte read optimization when copying the request body. Http.Sys's request body stream throws an argument exception when passed a zero length buffer.

### Expected Behavior

The request body stream should allow zer

[2022-04-21 19:38] Joseph-Anthony-King opened #41307 "UnauthorizedAccessException when building .net core 6.0 project on MacOS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have dotnet core API that I'm developing on MacOS.  It's been working great but recent updates to the API are causing the build to fail with an UnauthorizedAccessException for the API dll in the debug file.  The error is as follows:

[code]

When I rollback to an earlier state I can build t

[2022-04-21 19:46] #41043 closed

[2022-04-21 20:07] aradhaghi commented on #28684
Anu update here? Blazor Server should not be called "Production Ready" unless this is resolved! I can't understand how this is not urgent? a few examples on why this is important:
- User Context Service
- Add User Context to EF dbcontext and apply global filter queries for multi-tenancy

[2022-04-21 20:34] Alerinos commented on #41278
Found a solution, just add to the main project:
[code]
In my case it is:
[code]

[2022-04-21 20:59] HaoK commented on #40964
7.0 change is in, using this to track 6.0 servicing fix

[2022-04-21 22:00] #41192 closed

[2022-04-21 22:48] Rick-Anderson commented on #41307
@Joseph-Anthony-King  you need the simplest possible repo, not your real project.
Can you post to a public GitHub repo the [simplest possible sample](https://stackoverflow.com/help/minimal-reproducible-example) that reproduces this problem? Please read the link on [simplest possible sample](https://stackoverflow.com/help/minimal-reproducible-example)

[2022-04-21 23:08] Joseph-Anthony-King commented on #41307
Hi @Rick-Anderson , I'll try to pair this down to see if I can recreate it.  Before I added the AppsController and ControllerUtilities it was working fine..  This is actually a work machine, my own personal machine is a dual boot windows/linuxbox.  Even though I just upgraded to 6.0.202 I'll take it out and reinstall as well.  It works on my windows machine.

[2022-04-21 23:38] Rick-Anderson commented on #41307
See if you can reproduce it under https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-sandbox/windows-sandbox-overview

[2022-04-22 00:28] KB-RBullock opened #41313 "MultipartReader.ReadNextSectionAsync() causes error "Unexpected end of Stream""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When uploading files to an endpoint similar to [link](https://github.com/dotnet/aspnetcore/issues/18087) but seems to only occur during automated testing using a WebApplicationFactory<T> when the call to MultipartReader.ReadNextSectionAsync() is made.

Outside of the test project the call to

[2022-04-22 01:00] #41162 closed

[2022-04-22 01:04] dougbu commented on #41290
Confirmed extensions, ef6, and efcore do not use `$(CommitHash)`. Only necessary fixes are

- [ ] aspnet/BuildTools#1010
- [ ] #41314

[2022-04-22 01:17] marcoatribeiro opened #41315 "Update Microsoft.AspNetCore.ApiAuthorization.IdentityServer dependencies (Duende.IdentityServer)"
Currently Microsoft.AspNetCore.ApiAuthorization.IdentityServer depends on Duende.IdentityServer version 5.2.0, but version 6.0.4 is available.
This outdated dependency is causing versioning conflict of other dependencies (e.g. AutoMapper).

[2022-04-22 02:03] mingyaulee commented on #37787
@TanayParikh based on my testing with dotnet.7.0.0-preview.3.22175.4 the runtime still requires `unsafe-eval`, mainly due to the evaluation of string in the following line:

https://github.com/dotnet/runtime/blob/14584c60b41ddc361442539f78bc3d54d3ab3ea2/src/mono/wasm/runtime/method-binding.ts#L113

The original issue was closed and locked so I am hoping you might be able to reopen it.

[2022-04-22 02:15] Rick-Anderson commented on #41307
@Joseph-Anthony-King just make another clone on your Mac and see if you can reproduce it. It seems to me this has nothing to do with ASP.NET Core. There's a slim chance it has to do with the C# compiler/linker on the Mac.

[2022-04-22 02:27] TanayParikh commented on #37787
Can you please provide a link.

[2022-04-22 02:35] mingyaulee commented on #37787
I was referring to the issue that you have created and linked to from here.
[dotnet/runtime#59416 Make `mono` CSP Compliant](https://github.com/dotnet/runtime/issues/59416)

[2022-04-22 03:39] TanayParikh commented on #37787
Ah so it's over on the runtime repo. Thanks for clarifying. Please open up a new issue with the line you pointed out, on dotnet/runtime, and crosslink https://github.com/dotnet/runtime/issues/59416 and  https://github.com/dotnet/aspnetcore/issues/37787.

[2022-04-22 03:47] JamesNK commented on #41297
The server has changed the timing of how it writes frames. I think this has exposed a race in the client - https://github.com/dotnet/runtime/issues/68373

[2022-04-22 05:01] ghd258 commented on #38128
能在支持多个Area吗

[2022-04-22 05:44] Joseph-Anthony-King commented on #41307
Hi @Rick-Anderson , I think you're right... it isn't an ASP.NET Core issue.  I created a second copy, cloned from GitHub, and ran into the same issue.  I deleted the newest controller, AppsController.cs, and was able to build the project.  Its the same error I posted before.  For some reason adding new controllers is causing the following error... but I think you're right and this may not be a .Ne

[2022-04-22 07:07] pr-benchmarks[bot] opened #41316 "Perf improvement: mapaction, mapaction, mvc"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| mapaction  | Plaintext MapAction 3- Trends Arm Linux | 04/20/2022 20:44:33 | 4,583,952 | 4,673,962 | 7.70 % (353,123)  :thumbsup:  | 2.57 σ | 137,553.29 | <details>    <summary>Changes</summary>     <ta

[2022-04-22 08:32] ahdung opened #41322 "Need report exception when model deserialize failed"
I have this model:
[code]

When client post a body like this:
`{"Date":""}`

The handler got a `null`, I want a `exception`:
[code]

Please help.

[2022-04-22 10:15] dickiebowuk opened #41318 "Delegated Authorisation Scheme causing Posted body to be null"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have added a delegated authorisation scheme to a .Net 6 Core API project to provide HMAC authentication at a server to server level. I have stepped through the authentication scheme and confirm it successfully authenticates to true and returns a success token. At this point in the pipeline

[2022-04-22 12:59] Gambero81 commented on #39938
@Xaeco using `TypeDescriptor.AddProviderTransparent` validation seem to work, but now my problem is to check if a class property has a validation attribute (added explicitely or via `TypeDescriptor.AddProviderTransparent`).

If a add a validation attribute explicitely to the class property, i can check:
`var attribute = (RequiredAttribute)property.GetCustomAttribute(typeof(RequiredAttribute), true

[2022-04-22 13:04] sps014 commented on #17730
Is this issue worked on ?
 when we can expect a preview of it  in .NET 7 timeframe?

[2022-04-22 13:40] ayoussef-insight commented on #38082
This workaround worked for me

[2022-04-22 14:07] javiercn commented on #40317
This is likely addressed https://github.com/dotnet/sdk/pull/25011 here since the original issue was that some assets were being incorrectly packed as content.

[2022-04-22 14:08] javiercn commented on #36880
https://github.com/dotnet/sdk/pull/25011

[2022-04-22 14:18] #35345 closed

[2022-04-22 14:24] javiercn commented on #38726
@jsheetzati is this still happening to you?

If so, please provide a minimal repro project with steps on how to reproduce this issue.

We believe this was likely caused by building the project from a dirty state with a new SDK. Doing a one time clean of the bin and obj folders should likely solve the problem after you've upgraded to a 6.0 SDK

[2022-04-22 14:30] javiercn commented on #41279
Yeah, the GeneratePackageOnBuild is the delta here

[2022-04-22 14:30] sgtfrankieboy opened #41320 "Caching StackExchangeRedis throws exception when using Twemproxy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Starting from version 6.0.2 of Microsoft.Extensions.Caching.StackExchangeRedis there is a breaking bug which causes the exception mentioned below to occur when using Redis behind a proxy like Twemproxy.

The bug is caused by commit https://github.com/dotnet/aspnetcore/commit/85a090053585a7620

[2022-04-22 14:33] #41279 closed

[2022-04-22 14:39] YordanYanakiev commented on #17730
WebASM v. 2.0 is on the go, and we are still arguing if Browsers going to support multithreading.. :'(

[2022-04-22 14:40] danroth27 commented on #17730
Yes, it's being worked on primarily in the dotnet/runtime repo: https://github.com/dotnet/runtime/issues/68162. Best estimate currently is we will preview this in Aug.

[2022-04-22 15:26] dickiebowuk commented on #41318
Turns out it wasn't a bug. I finally figured out what was wrong. I am reading the body of the request as part of the HMAC security routine, so when it hit the end point later in the pipeline there was no body. I've updated my code to reuse the body and it's sorted the problem.

[2022-04-22 15:26] #41318 closed

[2022-04-22 15:42] Chris-D-Turk opened #41321 "Profile Blazor WASM using Mono log profiler"
AFAIK there's currently no built-in option to profile Blazor WASM apps (cpu sampling). see #26850
But as Blazor WASM uses a Mono Runtime it should be possible to use the [Mono log profiler](https://www.mono-project.com/docs/debug+profile/profile/profiler/)?!
The devs of Uno WASM managed to do this somehow: https://platform.uno/blog/uno-platform-4-1-30-perf-boost-android-12-net-6-mobile-preview-13-

[2022-04-22 16:00] #41294 closed

[2022-04-22 16:02] javiercn commented on #41321
@Chris-D-Turk thanks for contacting us.

@lewing is there a reasonable way in which we can enable this scenario?

[2022-04-22 16:26] MertUssakliMSFT commented on #26850
If there was at least a way to relate compiled `wasm-functions`s you see in the Edge profiler back to .NET code symbols, that would be a huge step forward! I can profile and see CPU-heavy workload causing UI delays, but it is impossible to debug it back to what part of the code would need optimization.

<img width="706" alt="image" src="https://user-images.githubusercontent.com/94049942/164755655-

[2022-04-22 16:58] #41302 closed

[2022-04-22 17:34] vsfeedback opened #41323 "DevToolsProxy::Run: Exception System.ArgumentException: The tasks argument included a null value. (Parameter 'tasks')"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/DevToolsProxy::Run:-Exception-SystemArg/10020488)._

---
[severity:It's more difficult to complete my work]
About 8 out of the 10 times I run my Blazor UI project, Visual Studio crashes and gives me this error:

Error on mono_wasm_get_loaded_files [Result: IsOk: False, IsErr: True, Value

[2022-04-22 17:37] vsfeedback opened #41324 "Blazor webassembly App: Cannot call unknown function mono_wasm_set_is_debugger_attached, make sure it is exported"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Blazor-webassembly-App:-Cannot-call-unkn/10019177)._

---
[severity:I'm unable to use this version]
I have a Blazor Web assembly app.
In debug mode I do not have any issue.
However, in release mode I get the following:
From Visual  Studio 2022 Debug output I get the following:
Loaded 14.

[2022-04-22 17:39] mkArtakMSFT commented on #41324
Thanks for contacting us. Can you please specify how exactly you're running the app without the debugger? Ctrl+F5 should be it. And in that case there should be no messages in the debug window when the app starts.

[2022-04-22 17:59] Joseph-Anthony-King commented on #41307
Hello everyone, anytime I add any file to the SudokuCollective.Api project, not just controllers, get the UnauthorizedAccessException.  The project works on windows.  This has to be a C# compiler issue on Mac... anytime I add a file I'm getting this error.  Where do I direct the issue to... I don't think think this is an ASP.NET Core issue.

[2022-04-22 18:05] Tratcher commented on #41320
That change https://github.com/dotnet/aspnetcore/issues/38715 fixed a regression from 5.0 where Caching.StackExchangeRedis no longer worked with older versions of Redis. If Twemproxy dose not support this call then it did not work prior to .NET 6, and also wouldn't work with older versions of Redis.

For Triage: We can't have it both ways unless we introduce a new option.

[2022-04-22 18:20] sgtfrankieboy commented on #41320
We were using Twemproxy with StackExchangeRedis and IDistributedCache just fine in .NET Core 3.1

Can't you detect if a proxy is being used in StackExchangeRedis and skip that check? This change blocks us from upgrading the package as its breaking.

[2022-04-22 18:26] bladefist commented on #41320
The StackExchange `ConfigurationOptions` provide for defining if it's a proxy for this purpose.  It allows for a reduced featureset.

[2022-04-22 18:31] Rick-Anderson commented on #41307
@Joseph-Anthony-King

1. Reproduce the problem on a clean machine. My guess is your machine has a problem.
2. Create the [simplest possible sample](https://stackoverflow.com/help/minimal-reproducible-example) that reproduces this problem. If the previous step fails, this step usually finds the problem.
3. Once you've done the previous steps, create an issue at https://github.com/dotnet/roslyn/issu

[2022-04-22 18:35] Joseph-Anthony-King commented on #41307
No, that's appropriate @Rick-Anderson , thank you for your assistance

[2022-04-22 18:38] #41307 closed

[2022-04-22 19:08] dustinsoftware opened #41326 "W3CLogging file rotation seems to be deleting files out of order"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Use `dotnet new webapi` to create a new .NET 6 app on macOS or Linux. I haven't tested if this is happening on Windows too.

[code]

Restart the app 5 times. Note that each time the app restarts, a new file is created with an incrementing number starting with 0000.

After the fifth attempt, `

[2022-04-22 19:09] #41316 closed

[2022-04-22 19:09] pr-benchmarks[bot] opened #41327 "Perf improvement: connectionclose"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| connectionclose  | Plaintext Connection Close 1- Trends Intel Windows | 04/21/2022 08:19:57 | 9,578 | 10,358 | 8.09 % (775)  :thumbsup:  | 3.43 σ | 225.85 | <details>    <summary>Changes</summary>     <

[2022-04-22 19:35] Joseph-Anthony-King commented on #41307
In case anyone comes across a similar issue on MacOS I found a solution, it's not elegant but it works.  The SudokuCollective.Api project was somehow corrupted.  Anytime I added a file to the project it would through an unauthorized access exception.  Basically, whenever the project is compiled the dll is uploaded to [project]/obj/debug/net6.0.  However, due to whatever corruption occurred in this

[2022-04-22 19:53] maxcherednik opened #41328 "Generic host/kestrel known cases proper error handling"
Re-creating #29801, only one issue was addressed there.

**Summary**

I would like to provide a better operations experience and reduce the maintenance burden.

What we have right now:

[code]

If someone from the ops team, happened to install our application on a server where there is something already running on port 443, then they will receive and ugly stack trace:

[code]

In this stack trace

[2022-04-22 20:10] Rick-Anderson commented on #41307
Nice work. Thanks for the update.

[2022-04-22 20:17] stmax82 commented on #9020
uh seriously? Still no gRPC in Azure App Services?

[2022-04-22 20:20] adityamandaleeka commented on #41320
Triage: we should check if the first invocation of `GetServer` throws and then just use the old set script. It would be nice to log when this happens if that's possible.

Another fix would be to detect if there's a proxy and avoid calling it in the first place.

[2022-04-22 20:25] wtgodbe commented on #41326
This is (almost) the expected behavior - W3CLoggerProcessor won't do anything on startup if its log directory is already full (it does know how to delete old files when it hits its max file count while already executing, but we don't want to assume a user is OK with us deleting pre-existing files on startup if the directory is already full). There _is_ an off-by-1 error here in that it should have

[2022-04-22 20:26] adityamandaleeka commented on #41315
@blowdart

[2022-04-22 20:29] adityamandaleeka commented on #41176
@blowdart Should we pursue this?

[2022-04-22 20:45] Tratcher commented on #41328
A few points:
- Yes, this isn't a very graceful shutdown experience.
- The Host API doesn't directly control the process lifetime or the exit code, those are fully in your control.
- Changing this behavior would be breaking for people that already check for this exception and use that to control process lifetime.
- This isn't something we've had sufficient feedback about to warrant a breaking chan

[2022-04-22 21:19] jbeacham commented on #13333
Is there any answer to this? We see hundreds of these per day on .NET 6. We saw them on .NET Core 3.1 as well. Can't seem to find any resolution anywhere.

`Microsoft.AspNetCore.Connections.ConnectionResetException: The client has disconnected
 ---> System.Runtime.InteropServices.COMException (0x800704CD): An operation was attempted on a nonexistent network connection. (0x800704CD)
   --- End of i

[2022-04-22 21:28] JasonFreeberg commented on #41231
AFAIK we don't have a well-moderated GitHub repo for feature requests, but there is the feedback site: https://feedback.azure.com/d365community/forum/b09330d1-c625-ec11-b6e6-000d3a4f0f1c

[2022-04-22 21:29] captainsafia opened #41330 "Resolve cyclic dependencies between Http.Results and Http.Extensions"

[2022-04-22 21:45] cgountanis commented on #13333
I think this problem just kind of went away but I can't remember how to help you 🙏

[2022-04-22 22:01] blowdart commented on #41176
Yes, but the question is do we reuse the existing parameter, or pull it out, and then replace it with a Resources one. Would that break existing users who never moved to Identity Web for aad?

[2022-04-22 22:03] #41237 closed

[2022-04-22 22:07] dustinsoftware commented on #41326
To give a bit more context for what we are seeing:

MaxFileCount is 10000: https://github.com/dotnet/aspnetcore/blob/bcdb13d1f2e42f2d318ead75e5e86fc27c78a117/src/Middleware/HttpLogging/src/W3CLoggerOptions.cs#L17
RetainedFileCount is 4 https://github.com/dotnet/aspnetcore/blob/bcdb13d1f2e42f2d318ead75e5e86fc27c78a117/src/Middleware/HttpLogging/src/W3CLoggerOptions.cs#L12

In our application, the w

[2022-04-22 22:17] Rick-Anderson commented on #41257
@peterlgarland can you exclude your source directory from the backup and do frequent pushes to GitHub to back up your code?

If you want nearly instant backup in case of a drive failure, system crash, etc, you can have the development project backed up by OneDrive, Google Drive, or Dropbox.

My guess is that TMB is causing the problem.

[2022-04-22 22:57] BrennanConroy commented on #41150
Are you able to provide a minimal repro app as a repo on GitHub?

I'm wondering if this is the same problem as https://github.com/dotnet/aspnetcore/issues/32900. The issue was caused by System.Text.Json asking for a different version of System.Buffers than it claimed to be using and the fix was to adding a binding redirect for 4.0.3.0 of System.Buffers.

[2022-04-23 01:42] davidfowl commented on #41330
One thing we can do is move results down and then typeforward them.

[2022-04-23 07:07] pr-benchmarks[bot] opened #41336 "Perf regression: plainTextNoParamsEmptyFilter"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| plainTextNoParamsEmptyFilter [Fixed] | Plaintext (Empty Filters, No Parameters) 2- Trends Intel Linux | 04/21/2022 08:47:43 | 3,060,655 | 2,996,456 | -3.56 % (-108,996)  :thumbsdown:  | -2.79 σ | 39,070

[2022-04-23 08:53] maxcherednik commented on #41328
Yeah, that is clear. If there is an exception, I can convert it to whatever error code.

This isn't something we've had sufficient feedback about to warrant a breaking change. If we get more feedback and requirements around this we might reconsider.

Yeah, that is a classic problem I guess - people starting to rely on the side effects and then putting it back on the proper track considered a break

[2022-04-23 09:25] SpiritBob commented on #41043
@HaoK thank you for fixing this! In the future, should I start with a draft pull request if I want to get involved in the process, as I really wanted to be? The only thing that was vague for me personally was how and where the unit tests would be done.

[2022-04-23 13:36] CamiloTerevinto commented on #39857
Some thoughts which might not be related to this work but rather more general related to auth in ASP.NET Core:

- Make it easier to discover how to enforce auth: `builder.Authentication.RequireAuthentication()` or similar, which could just hide the call to add the `AuthorizeAttribute` filter.
- More for Swashbuckle than here, but it needs to be made much simpler to add auth to SwaggerUI. I've seen

[2022-04-23 16:03] vuorinem opened #41338 "ValidationMessageStore.Add field accessor parameter shows a warning for nullable properties"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Adding validation errors using the below `ValidationMessageStore.Add` method triggers a warning when nullable annotations are enabled for the project, and the property referenced in the `accessor` parameter has a nullable type.

https://github.com/dotnet/aspnetcore/blob/2f68ef8d42646046eb36ff

[2022-04-23 16:37] fairking opened #41339 "NullReference exception when evaluating JS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Having the following code I would like to evaluate a javascript inside the BlazorWebView. Unfortunately I get an NullReferenceException:
[code]

[code]

Error:
[code]

### Expected Behavior

I expect the javascript function should return the string "DEF OK!".

### Steps To Reproduce

- Downlo

[2022-04-23 17:10] HaoK commented on #41043
Oh my bad, I didn't see that you offered to do a PR at the bottom of the issue, for something straightforward like this, you can always open a PR at the same time you file the issue.

[2022-04-23 17:38] DamianEdwards commented on #39857
Thanks for the feedback @CamiloTerevinto. Some thoughts:

I like this idea. I've personally struggled with finding the right settings to "just require auth for the whole app" (`FallbackPolicy` et al). We'll consider this scenario.

Absolutely. We have another issue where we're tracking that scenario and @captainsafia is especially keen to get this scenario working by default.

I found that odd too

[2022-04-23 17:47] TanayParikh commented on #41339
@fairking, could you please provide the repro app as a public github repository?

[2022-04-23 17:48] fairking commented on #41339
Sure, please give me a moment

[2022-04-23 17:50] TanayParikh commented on #41339
Oh I see what's going on here, you're trying to use the JSInterop outside of a component. That isn't currently supported.https://github.com/dotnet/maui/issues/5804

[2022-04-23 18:01] fairking commented on #41339
I cannot understand why it's not possible. Isn't `BlazorWebView` inherited from `WebView` which always had a method called `EvaluateJavaScriptAsync` ??

[2022-04-23 18:08] CamiloTerevinto commented on #39857
Thanks for the response @DamianEdwards.

You see all this stuff [here in your example lib](https://github.com/DamianEdwards/AspNetCoreDevJwts/blob/main/DevJwts.Lib/DevJwtsConfigureOptions.cs#L39-L44)? Ideally, when "not in development" (akin to your example), the production settings would be used. Do notice though that you would have to discard the default dev-jwt settings in that case since it co

[2022-04-23 18:10] fairking commented on #41339
Thank you. I appreciate you quick reply 👍

[2022-04-23 21:39] fairking commented on #41339
It's not building on Android ;-(

[2022-04-23 21:42] fairking commented on #41339
![image](https://user-images.githubusercontent.com/13495631/164946867-e6404c0a-32b7-4d06-ac47-752910cdde1c.png)

[2022-04-23 22:43] alex-jitbit opened #41340 "reopen issue #10117 - IIS app pool recycle throws 503 errors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

IIS app pool throws 503 errors during recycles. This is a known issue with ANCM module that has been reported previously in #10117 - which has 33 likes and a 3-year discussion, it was never fixed, but it was automatically closed by a bot "as a clean-up due to lack of discussion".

P.S. This i

[2022-04-24 00:34] shawnwildermuth opened #41341 "asp-append-version only works for StaticFiles in wwwroot"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When I am adding a new `AddStaticFiles` middleware, the asp-append-version attribute only works if the file is in **wwwroot**.  My repro case has two AddStaticFiles:

[code]

Then my index.cshtml has:

[code]

- The first script works fine (it is in `wwwroot/js/`).
- The second script renders

[2022-04-24 04:47] davidfowl opened #41342 "Use interned strings in Hub protocol implementations"
## Background and Motivation

Looking at profiles for one of my SignalR applications I see lots of string allocations showing up and most of them seem to come from the protocol implementation:

<img width="1156" alt="image" src="https://user-images.githubusercontent.com/95136/164957053-2766d670-daff-4f93-bf9b-c7a3d4294ac3.png">

It's:
- Hub method names
- ~Invocation ids~ Not worth it unless we co

[2022-04-24 07:59] davidfowl opened #41343 "SignalR per-invocation allocations"
I'm building a game that requires low latency and there's some SignalR overhead (that's pretty low tbh) but impossible to get rid of. The game I'm building is sending LOTS of messages (60 FPS) so these are now the top allocations remaining.

Some of them we can't remove, we might be able to pool objects but others we should leave alone. The ones I am interested in improving:
- System.Object\[\]
-

[2022-04-24 10:00] #41328 closed

[2022-04-24 14:27] JeepNL opened #41346 "Change 'http' to 'https' in the HttpRequestsComponent.razor example"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Config: Blazor WASM,  ASP.NET 7 preview 3

In the example here : https://github.com/dotnet/aspnetcore/blob/7c1e6d553209741f615628a8fbe3d7d09c0c43b0/src/Components/test/testassets/BasicTestApp/HttpClientTest/HttpRequestsComponent.razor

you'll get the error: "Failed to fetch" with the default

[2022-04-24 18:34] Liero commented on #40572
How do I write and test the client assets, e.g. some scss and typescript for UI components?

In a demo or test project that references the RCL and without being able to run in watch mode, it is very painful.

If I need to do full "one-shot" build each time I change a scss or typescript, development of those components takes forever. It's very frustrating, that all the tools required to build clien

[2022-04-24 19:06] #41327 closed

[2022-04-24 19:06] pr-benchmarks[bot] opened #41347 "Blazor time to first UI regression: blazorwasmbenchmark"
| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Dependencies |
| -------- | ----------- | ---- | -------- | -------- | ------ | ------------ |
| blazorwasmbenchmark  |  | 04/23/2022 05:49:22 | 289 | 295 | 2.00 % (8)  :thumbsdown: | <details>    <summary>Changes</summary>     <table><th>Name</th><th>Version</th><th>Diff</th></table></details> |

@pranavkm

[2022-04-24 19:08] hwoodiwiss commented on #40753
Ah that makes sense.

Given that [this](https://github.com/domaindrivendev/Swashbuckle.AspNetCore/pull/2404) has been merged, is there any need to explicitly support the individual metadata types in Swashbuckle, or is the advice going forward to use WithOpenApi with them to have them populate the generated `OpenApiOperation`, which will then be picked up by Swashbuckle?

[2022-04-24 20:23] shawnwildermuth commented on #41341
So after digging into the source, I was able to find the solution. You don't need two static middleware (though this works, but won't make the asp-append-version work). I've updated the repro with the solution. The fix is to use a CompositeFileProvider for WebRootFileProvider so that the asp-append-version works:

[code]

I'll close this since it's not an issue with the code, but my misunderstandi

[2022-04-24 20:23] #41341 closed

[2022-04-24 20:42] iaingymware commented on #9854
Is there any update on this?  Seems a very common use case not currently being handled...

[2022-04-24 22:00] #41339 closed

[2022-04-24 22:18] TanayParikh commented on #41339
Hmm don't think I've seen that error before. If you're still having it, please create a new issue in the `dotnet/maui` repo.

[2022-04-25 00:28] ariveron commented on #32842
I got it working for Manjaro with the following script. I didn't do it for FireFox because I mainly use Chromium, so you may have to figure that part out.
[code]

[2022-04-25 02:09] TanayParikh opened #41397 "Additional files in blazor hybrid project throw error by default"
Added a basic `global.json` file to the project, and the build subsequently fails with:

[code]

Expected: adding `global.json` shouldn't break build by default.

[2022-04-25 02:49] captainsafia commented on #40753
Since the summary and description attributes have already been merged and released, I think it is still worthwhile to merge in support for the metadata in Swashbuckle!

[2022-04-25 04:24] richlander commented on #41275
Repeating @javiercn ... this is a good point.

We should have a design constraint of Docker build-ability. I can see that MSBuild and Docker are not easy to align. Perhaps there needs to be a way to suppress the node/npm commands within msbuild or alternatively specifically target those commands.

@glennc @danroth27

[2022-04-25 07:06] pr-benchmarks[bot] opened #41351 "Perf improvement: connectionclose"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| connectionclose  | Plaintext Connection Close HttpSys 1- Trends Intel Windows | 04/22/2022 20:12:59 | 103,779 | 104,420 | 1.57 % (1,625)  :thumbsup:  | 2.60 σ | 623.93 | <details>    <summary>Changes</s

[2022-04-25 07:06] pr-benchmarks[bot] opened #41352 "Perf regression: connectionclose, connectionclosehttps"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| connectionclose  | Plaintext Connection Close 3- Trends Arm Linux | 04/22/2022 20:54:09 | 10,212 | 9,400 | -36.13 % (-3,690)  :thumbsdown:  | -2.27 σ | 1,624.73 | <details>    <summary>Changes</summary>

[2022-04-25 08:01] dPlatform-Dev opened #41353 "Re: Deeplinking URL with Parameters in Blazor WebAssembly #40714"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

It would appear this issue was closed rather quickly...please see #40714

I believe what the original submitter is referring to Blazor WASM in a "standalone" (serverless)  deployment from cloud storage as a static website, so no router

[2022-04-25 09:21] hwoodiwiss commented on #40753
Okie doke, that makes sense, it'll still be nice to be able to supplement info provided using the Swashbuckle attributes without generating the whole `OpenApiOperation` as endpoint metadata.

I'll open the PR over in the Swashbuckle Repo at some point this week, although I can't imagine it will make it into a release until much closer to the release of .NET 7.

[2022-04-25 10:37] guardrex commented on #30162
Consider dropping the underscore prefix throughout project templates to make user code consistent among project templates, Blazor docs samples/examples, and dev coding guidelines. A search turned up the following. This might be all of them for Blazor project templates:

* https://github.com/dotnet/aspnetcore/blob/9e489c6cea4bba490d0874189ca2ae48ff7c16a0/src/ProjectTemplates/Web.ProjectTemplates/co

[2022-04-25 10:37] hassan-gasemi opened #41354 "Multiple route match simultaneously"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

In a project I have a route like this {category}/{title}/{id}. In another controller I have a route /secure/admin/base-data-management. When browser requests  url /secure/admin/base-data-management, other route that has 3 string segment also will be called. This is not a issue. But calling tw

[2022-04-25 11:42] HemendraSingh commented on #40719
This is a major bug in the Nuget package Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation v6.0.4.
This particular package (From .NET v6 onwards) has been having issues from the start.
Time for Microsoft to make the package stable.
Request the dev team to prioritize it.

[2022-04-25 12:00] #41223 closed

[2022-04-25 12:27] Konstantin-tr commented on #27440
Has this issue ever been resolved? I believe I'm currently facing this exact issue and I'm not quite sure how to work around it.

[2022-04-25 14:09] DamianEdwards commented on #39857
@CamiloTerevinto the intent is exactly what you state: that the dev configuration can be used in conjunction with any custom configuration so that both kinds of JWTs are accepted. That's why the code in my example is written to add to the configured signers, etc. rather than just set them.

[2022-04-25 14:26] Hu1buerger opened #41357 "Razor binding in button isnt displayed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

A binding in a razor component to into a html button isnt displayed.

### Expected Behavior

the rendered button should contain the bound string.

### Steps To Reproduce

1. create a `dotnet new blazorserver -o BlazorApp --no-https -f net6.0` as described in [quickstart guide](https://dotnet.

[2022-04-25 14:27] ordinaryorange commented on #6175
I think this is a necessity too. Modern browsers know about the #, other SPA frameworks use it and it gives SPA developers more capacity to avoid unnecessary round trips to the server.

I also hit an issue where the documented redirection URL from Azure AD authentication breaks when a Blazor WASM only SPA is hosted from a static website (Such as Azure storage static website)
While I've a workaroun

[2022-04-25 15:27] MarkStega commented on #27440
@Konstantin-tr No, this was never resolved.

[2022-04-25 15:32] AdamRiddick opened #41409 "ANCM PostStartCheck Failure"

[2022-04-25 15:50] TanayParikh commented on #41357
Hello @Hu1buerger, please try:

[code]

does that resolve your issue?

[2022-04-25 16:24] #41353 closed

[2022-04-25 16:24] Soon5 opened #41359 "Disable Control + C Feature in Kestrel"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

_No response_

### Describe the solution you'd like

I have Kestrel running as a Server within a GRPC Server application. Before the Server goes down I want to clean up some connections, therefore having Control + C directly terminatin

[2022-04-25 16:26] mkArtakMSFT commented on #41346
Thanks for catching this, @JeepNL.
Would you like to send a PR to address this? We'd appreciate it.

[2022-04-25 16:31] mkArtakMSFT commented on #41301
Thanks for the update, @mgrobovsek.
Glad that you've resolved your issue. Given that we haven't seen other customers running into this, we won't prioritize investigating this.

[2022-04-25 16:31] #41301 closed

[2022-04-25 16:42] mkArtakMSFT commented on #41354
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.
Please also share how exactly you call the endpoint.

[2022-04-25 16:49] danroth27 commented on #41354
I tried to reproduce this with the default ASP.NET Core MVC template and the following additional actions in `HomeController`:

[code]

I only see `BaseDataManagement` get called:

[code]

[2022-04-25 16:59] vsfeedback opened #41361 "Unexpected Error if blazor page has same URl for two pages"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Unexpected-Error-if-blazor-page-has-same/1597240)._

---
Every issue is easy if you understand it as why its happening but initial difficulties makes it like its tadius and difficult to use such thing.

In blazor page, I face one issue which is quit easy to solve but its bit hard to anti

[2022-04-25 17:14] Soon5 commented on #41359
Thanks for the hint. For an obviously new ASP.Net newbe, how do I register the new Lifetime? Just as a Singleton in the ConfigureService or where?

[2022-04-25 17:15] HaoK commented on #40964
@blowdart @Tratcher @adityamandaleeka wait a second, while I was writing up the Customer Impact/Risk for the 6.0 port of this fix.  Won't this almost certainly cause exactly the issue we are trying to avoid?  All of a sudden their dataprotection application discriminator will potentially be different and cause all their apps to sign out/invalidate all cookies in a servicing release, since 6.0 curr

[2022-04-25 17:17] #41359 closed

[2022-04-25 17:19] Tratcher opened #41362 "Add an Analyzer to recommend against IHeaderDictionary.Add"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

IHeaderDictionary.Add throws if duplicate keys are added (Matches IDictionary). Most people want to set or append. They can set using the indexer (`IHeaderDictioanry[key] = value`) or append by calling Append. This is especially confus

[2022-04-25 17:31] danroth27 commented on #41354
In general, no. The methods we provide that add services to the service collection are designed so that you can call them multiple times without ill effect.

Perhaps your doing something in your `BaseDataManagement` action that's causing another request?

[2022-04-25 17:37] halter73 commented on #40899
Fills a gap. Looks good as proposed.

[2022-04-25 17:39] Tratcher commented on #41340
https://github.com/dotnet/aspnetcore/issues/10117#issuecomment-498865444

Trying to achieve high-availability with a single instance is not recommended.

[2022-04-25 18:06] sebastienros opened #41363 "Quarantine Interop.FunctionalTests.HttpClientHttp2InteropTests.Settings_MaxFrameSize_Larger_Server"
## Failing Test(s)

- Interop.FunctionalTests.HttpClientHttp2InteropTests.Settings_MaxFrameSize_Larger_Server

## Error Message

[code]

## Stacktrace

<details>

[code]
</details>

## Logs

<details>

[console.81d8b6d0.txt](https://github.com/dotnet/aspnetcore/files/8556931/console.81d8b6d0.txt)

</details>

<details>

[code]

</details>

## Build

https://dev.azure.com/dnceng/public/_build/resul

[2022-04-25 18:06] sebastienros commented on #41363
/cc @davidfowl

[2022-04-25 18:06] ArjunVachhani opened #41364 ".Net 6 In Web API project adding MVC view was not found"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have one Web API project, After some time I need some MVC controller and Views, I added controller and views and modified startup to use `AddControllersWithViews` instead of `AddControllers`.  I am gettting Views was not found.

I also noticed that <proj>.views.dll is not generated on build

[2022-04-25 18:21] hassan-gasemi commented on #41354
It's very weird. When browser developer tools is opened, the problem occures. Maybe an extra request behind the scene send by developer tools and cause this.

[2022-04-25 18:28] hassan-gasemi commented on #41354
I found the problem. When developer tools pane opens, a request send to /admin/js/perfect-scrollbar.min.js.map

[2022-04-25 19:06] #41336 closed

[2022-04-25 20:02] wtgodbe commented on #41326
We'd like to avoid changing the file name structure if possible.

This is what `FileLoggerProcessor` already does today: https://github.com/dotnet/aspnetcore/blob/bcdb13d1f2e42f2d318ead75e5e86fc27c78a117/src/Middleware/HttpLogging/src/FileLoggerProcessor.cs#L151-L171

This is true, and `maxRetainedFiles` is equal to `loggerOptions.RetainedFileCountLimit`, which is configurable:

https://github.com

[2022-04-25 20:08] alex-jitbit commented on #41340
@Tratcher like I indicated above, this is not about _deployments_. There are a lot of scenarios when IIS recycles the pool (see above)

[2022-04-25 20:16] Tratcher commented on #41340
Deployments are just one example that disrupt availability. A single instance is not advised for high-availability for many reasons.

[2022-04-25 20:33] halter73 commented on #36007
Reopening to track https://github.com/dotnet/aspnetcore/pull/41367

[2022-04-25 20:46] madmox opened #41368 "Assembly Microsoft.AspNetCore.Cryptography.KeyDerivation fails to load when running on Linux"
I recently migrated my ASP.NET Core website from .NET Core 3.1 to .NET 6, and since the migration I get a runtime exception when referencing classes in the `Microsoft.AspNetCore.Cryptography.KeyDerivation` assembly when running under my production server on Linux Debian (no issue on Windows or in the Bitbucket pipeline which also runs a Linux container, `mcr.microsoft.com/dotnet/sdk:6.0`):

More i

[2022-04-25 21:35] BrennanConroy commented on #5280
The initial iteration of client return results is out.

### Users

To use this new feature there are changes you need to make on the server side and the client side.
On the server you need to use the new APIs on IHubContext or IHubCallerClients.

[code]

or inside a Hub method, the caveat here is that you need to set the [`MaximumParallelInvocationsPerClient`](https://docs.microsoft.com/aspnet/cor

[2022-04-25 21:40] mkArtakMSFT commented on #41364
Thanks for contacting us. Do you have the `builder.Services.AddRazorPages();` in the Program.cs file?

[2022-04-25 21:57] mkArtakMSFT commented on #41364
Below is the unique code in MVC WebApp project (highlighted in yellow):

<img width="565" alt="image" src="https://user-images.githubusercontent.com/34246760/165181784-7e601b48-8563-40ef-9a4b-539749fee049.png">
[code]

[2022-04-25 22:07] adityamandaleeka commented on #18943
Currently blocked by SDK update.

[2022-04-25 22:09] adityamandaleeka commented on #41297
Closing since it's being tracked in https://github.com/dotnet/runtime/issues/68373

[2022-04-25 22:09] #41297 closed

[2022-04-25 22:13] halter73 commented on #41362
Would we ever consider making `IHeaderDictioanry.Add(key, value);` equivalent to `IHeaderDictionary[key] = value;`? I know the current `Add` behavior is more consistent with other dictionaries, but the indexer behavior appending instead of replacing is already weird. Does anyone rely on the `InvalidOperationException`?

[2022-04-25 22:17] adityamandaleeka commented on #41368
Can you try this and confirm if there's an issue when everything is on 6.0.4?

[2022-04-25 22:27] adityamandaleeka commented on #40964
Let's leave 6.0 alone for now, since we don't want to break people with a patch update. There is a known workaround already.

[2022-04-25 22:35] madmox commented on #41368
Looks like the issue is resolved with `6.0.4`. Even when using the faulty version of my website (using the `6.0.1` nuget), as long as the dotnet runtime is `6.0.4` (or maybe it is related to the SDK version, since I am building the app on my production server and it's the SDK that packages the DLL in the publish folder?).

[2022-04-25 22:48] brunolins16 commented on #40712
## Proposed API

Add new `attribute` that users can decorate their **classes** or **delegates parameters** to allow refactoring a minimal API that takes a large set of parameters into one that takes a single object with top level properties that represent what were once arguments.

[code]

The idea is supporting the attribute in multiples parameters and also mixed with parameters without the atrri

[2022-04-25 23:08] HaoK commented on #41315
Talked to @blowdart offline, plan will be to update the versions to 6.0, and document in the 7.0 readme the potential dataschema issues that users may run into: https://docs.duendesoftware.com/identityserver/v6/upgrades/v5.2_to_v6.0/

Something like: "We're updating to the latest supported Identity Server in our extensions. Either don't use the extensions and use their configuration methods or upd

[2022-04-25 23:08] Tratcher opened #41369 "Kestrel's GetClientCertificateAsync caches failures"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

https://github.com/dotnet/aspnetcore/blob/bf03cee1625eb74939b28ea6b79b4a994b926421/src/Servers/Kestrel/Core/src/Internal/TlsConnectionFeature.cs#L120

The client cert negotiation task is cached because the operation is normally only valid once per connection. However, a few failures are recov

[2022-04-25 23:22] dougbu commented on #37240
/ping @captainsafia on whether there's work you think we should do here

[2022-04-25 23:25] dougbu commented on #37398
@mkArtakMSFT @rafikiassumani-msft who should this be assigned to❔

[2022-04-25 23:27] #40050 closed

[2022-04-25 23:30] dougbu commented on #39599
Many thanks to @DamianEdwards for 9217656f967cc6d040071df73b99cd94fddc5e84

[2022-04-25 23:30] #39599 closed

[2022-04-25 23:34] Tratcher commented on #41362
Huh? The indexer replaces, not appends.

If anything, I think we'd make Add and Append do the same thing. That would be consistent with System.Web too. The unfortunate part is that IHeaderDictionary doesn't even define Add, it inherits it directly from IDictionary, and many of the basic implementaitons are based directly on a Dictionary. I think that's why we've avoided changing the behavior. That

[2022-04-25 23:39] #40359 closed

[2022-04-25 23:44] Hu1buerger commented on #41357
@TanayParikh why would @{} not work as it afaik is just the long version of @ .

Therefore it should behave similarly.

And it doesn't seem to work

[2022-04-25 23:48] DamianEdwards commented on #39599
I think 45376ce136c837f434906664c7a890a35c7dd887 is more specific to this issue 👍

[2022-04-26 00:00] #41187 closed

[2022-04-26 00:11] dustinsoftware commented on #41326
You are correct that setting the retained file count to 1000 allows logging to continue since files won’t roll unless the process restarts 1000 times within a single day.

I’ll do some experimenting tomorrow to see if we can determine the correct value for _fileNumber when the process restarts. Would you look at a PR that, upon app start, loops over the file names and attempts to safely parse the

[2022-04-26 00:14] sebastienros commented on #41363
Not sure the process is to open this issue, I might be wrong

[2022-04-26 03:17] pbiggar commented on #5994
The [Response Compression docs](https://docs.microsoft.com/en-us/aspnet/core/performance/response-compression?view=aspnetcore-6.0#response-compression) say

so it feels quite surprising that the middleware being discussed in those docs does not actually support that.

[2022-04-26 03:51] halter73 commented on #41257
If this is true, that sounds like that would have to be a bug in [FileSystemWatcher](https://docs.microsoft.com/en-us/dotnet/api/system.io.filesystemwatcher?view=net-6.0) which `dotnet watch` uses. Given the lack of similar issues being reported, this does seem unlikely. I suspect there's something more to this than just a simple Time Machine backup.

Is it possible that there's just some sort of

[2022-04-26 05:39] ArjunVachhani commented on #41364
@mkArtakMSFT Thanks for your quick reply.

No, I do not have `builder.Services.AddRazorPages();` in Program.cs. I have tried adding that as well. still getting same issue. If I add `AddRazorPages` it searches for view in one more location, but still getting same error.

[code]

Regarding unique code in MVC, I see that Web API project has few difference compared to MVC, I have also tried replacing

[2022-04-26 05:53] ArjunVachhani commented on #41364
@mkArtakMSFT I noticed that it is not specific to Web API project, same happen with ASP.NET Core Empty  project template.

FYI I am using

Microsoft Visual Studio Professional 2022
Version 17.0.5
VisualStudio.17.Release.LTSC.17.0/17.0.5+32112.339
Microsoft .NET Framework
Version 4.8.03752

Installed Version: Professional

.NET Core Debugging with WSL   1.0
.NET Core Debugging with WSL

ASP.NET and

[2022-04-26 07:06] #41352 closed

[2022-04-26 07:06] #41351 closed

[2022-04-26 07:45] ArjunVachhani commented on #41364
@mkArtakMSFT Even new ASP.NET Core (MVC) project template is giving same error, I checked on other system but there I am not getting similar error. I have tried updating VS to latest version, I am now on latest version of VS(Microsoft Visual Studio Professional 2022 (64-bit) - LTSC 17.0, Version 17.0.9)

[2022-04-26 08:28] ArjunVachhani commented on #41364
@mkArtakMSFT with Visual Studio Code it works. Could you guide me what could be wrong.

[2022-04-26 11:14] benjamin-stern commented on #41340
@Tratcher Even having more than a single instance this would still strongly affect a service, as all the requests going to the server that's recycling would be returned the 503 error.

[2022-04-26 11:17] benjamin-stern commented on #10117
Agreed Experiencing this issue currently and there doesn't even seem to be a known workaround. Maybe @HaoK can comment on what's been decided to be done for this issue, or if there is a viable workaround for this issue?

[2022-04-26 12:24] c0shea commented on #41340
We have two instances running behind a load balancer and have still experienced this issue intermittently. When the app pool inevitably recycles (due to deployment, config change, etc), it starts returning 503 instead of queuing up the requests.

The load balancer doesn't immediately treat the 503s as the server being down and take it out of the rotation. Instead, it uses a polling mechanism that

[2022-04-26 13:01] #41346 closed

[2022-04-26 13:49] egil commented on #36978
I had a Blazor Wasm app fail at a customer today whose firewall blocks .dll files, both the apps .dlls and the .NET/Blazor ones.

Using https://github.com/stavroskasidis/BlazorWasmAntivirusProtection with default settings, i.e. file rename to .bin and XOR, works and allows the app to download the .bin files and run.

That said, it would be awesome with something that is officially support out of t

[2022-04-26 14:04] mkArtakMSFT commented on #41364
Thanks for all the details, @ArjunVachhani.
It looks like you're facing some weird misconfiguration on that machine.

What's the output of `dotnet --info` when run from the project folder? Is it the same as the output you get when run the same command in the Terminal window of VS ? Should be the same, but worth confirming.
Also, share the `dotnet --info` output.

[2022-04-26 14:18] stavroskasidis commented on #36978
Could you please provide as much info as you know about the customer's firewall (Product Name, Version etc)?

[2022-04-26 14:19] egil commented on #36978
Unfortunately, I don't have access to any more information than what's in that screenshot. The security team just says "no" to all questions and requests, as they tend to do :)

[2022-04-26 15:23] Liero commented on #41279
@javiercn: I've just tried and **it does not work** :(
I guess you didn't cleaned the generated js files before build.
Please reopen.

Here is my full csproj for reference:

<Project Sdk="Microsoft.NET.Sdk.Razor">

	<PropertyGroup>
		<TargetFramework>net6.0</TargetFramework>
		<Nullable>enable</Nullable>
		<ImplicitUsings>enable</ImplicitUsings>
		<GeneratePackageOnBuild>true</GeneratePackageOnBui

[2022-04-26 15:30] Liero commented on #41279
Here is repo: https://1drv.ms/u/s!An7wnk66a6RRlqsR9ME32HR2wMNB5g?e=Xx7RIM

[2022-04-26 15:40] ArjunVachhani commented on #41364
@mkArtakMSFT I compared output of running dotnet --info it is same in VS terminal and command prompt, below is what I get from running the command.

[code]

[2022-04-26 16:02] kjfranklin commented on #9020
Any update from Microsoft on this?

[2022-04-26 16:08] captainsafia opened #41376 "Remove allocation in ValueTask<object> response processing path"
https://github.com/dotnet/aspnetcore/blob/949043857d00dd8ddc521aea977b37fb48ccf36e/src/Http/Http.Extensions/src/RequestDelegateFactory.cs#L752-L754

The codepath above presents a more serious problem in the filters pipeline where all responses are mapped to `ValueTask<object>`.

[2022-04-26 16:35] RomBrz commented on #41340
In this scenario (using two or more instances behind a load balancer), since you're using a "/status" to check availability, i suggest that you make some routines during the deployment or maitenence to, before start doing anything, force the "/status" to throw an "unhealthy" status, so the load balance could remove the node from the balancer and then make the changes.

About the issue itself, the

[2022-04-26 16:39] Tratcher commented on #9020
Status:
- We know this is important to you and we're working to make it happen.
- .NET has the necessary components to enable this.
- Several layers of Azure services need to be updated/replaced to enable this end-to-end. That work is progressing.
- That progress won't be visible until an end-to-end experience is available.
- We can't give an ETA.

[2022-04-26 16:52] RomBrz opened #41377 "Different Behavior during ASPNET Core upgrade (MSI install vs Windows Update install)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Last week i discovered that i could update the ASPNET Core versions on servers using WSUS updates and configure to deliver the ASPNET Core updates to help me managing 30+ servers.
Happen to the WSUS update doesn't make the server at same level comparing with a "Stand alone Host Bundle Install

[2022-04-26 17:05] ikcore commented on #9020
Yeah I'm aware of the containerized workarounds but there are tons of
reasons to be using more cloud native things like Azure Functions and then
there's migrating legacy stacks and services by bringing them upto-date by
adding in the contracts and then swapping out the guts later. Only about
30% of dev at the moment is greenfield.

On Tue, Apr 26, 2022 at 5:53 PM James Hancock ***@***.***>
wrote:

[2022-04-26 17:20] #40964 closed

[2022-04-26 17:42] c0shea commented on #41340
The problem is that ASP.NET Core doesn't use the overlapping recycle behavior that .NET Framework did. While the old worker process is being shutdown (especially if there were a lot of inflight requests being handled by it), the new process isn't yet started and those requests in the middle get the 503.

[2022-04-26 17:45] Tratcher commented on #9020
Yes getting the Windows kernel features were necessary for anyone wanting to run gRPC locally. Those features have now shipped in Win11 and Server 2022.

The Azure experience has many other parts that need to be updated/replaced to enable an end-to-end experience.

[2022-04-26 18:46] jmajoor opened #41378 "SignalR: Content-Type header in GET requests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

WAF is flagging signalR long polling requests due to them having the Content-Type header on GET requests.

The issues was also report on the old code base: https://github.com/SignalR/SignalR/issues/4373

### Expected Behavior

There should be no content-type header for SignalR long polling GE

[2022-04-26 19:40] Cpt-Falcon commented on #17730
What do you mean, many browsers have supported multithreading forever now? Web assembly has also supported multithreading forever now. Rust web assembly with multi threading works just fine for example.

[2022-04-26 19:52] HaoK commented on #39840
@DamianEdwards do you have everything you need now from the AuthZ layer for https://github.com/DamianEdwards/AspNetCoreDevJwts

You should have enough to do `app.MapGet(...).RequireAuthorization(p => p.RequireClaim("scope", "myapi:protected-access"));` how important is the last big missing piece, to be able to directly flow the requirements as metadata?

Basically, the `app.MapGet("/authed", [Requ

[2022-04-26 19:57] davidfowl commented on #39840
We need to talk about adding requirements via metadata for things like mvc and signalr

[2022-04-26 19:59] HaoK commented on #39840
Sure the sticking point I believe in your PR is what do we do by default in combining that with the default policy/etc right?  How do we make it easy to compose / override the empty `[Authorize]` things

[2022-04-26 20:07] davidfowl commented on #39840
Right the problem was, what happens when you only have a requirement and but you have a requirement.

[2022-04-26 20:22] #40835 closed

[2022-04-26 21:48] urielzen opened #41381 ".NET 6 application sometimes loading incorrect appsettings.{environment}.json"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Describe the bug

I have a .NET 6.0 application deployed to Azure App Service.

I have the following appsettings in my root.

`appsettings.development.json`
`appsettings.PROD.json`

and the following setting in the Azure Portal App Service
![image](https://user-images.githubusercontent.com/7947179/165384944-cf

[2022-04-26 22:28] Tratcher commented on #41381
AutomatedReferenceRequestBackgroundService is created and reads settings once at the start of the app. For the values to change and be re-read the application would have to restart.

The simplest explanation is someone changing the env var temporarily to debug something, restarting the site, and then changing it back and restarting again. Or deploying a parallel test instance. Do you see applicati

[2022-04-26 22:40] rafikiassumani-msft commented on #41313
@KB-RBullock Can you provide a GitHub repo with a repro app?

[2022-04-26 22:40] wtgodbe commented on #41377
@jamshedd do we know what version(s) of the hosting bundle are now available on WSUS?

I just confirmed that installing the 6.0.3 Hosting Bundle followed by the 6.0.4 one will leave the 6.0.4 runtimes on your machine as expected, so I'm surprised to see the WSUS machine w/ the 6.0.4 Hosting Bundle but 6.0.3 runtimes

[2022-04-26 23:07] casmrv commented on #41378
This has also been reported previously against asp.net.
Given that signalr long polling frequently ends up being the fallback due to network complexities, it would be good to get this fixed.

[2022-04-26 23:09] DamianEdwards opened #41383 "IResult types don't throw ArgumentNullException for parameters declared as non-nullable reference types on Execute and PopulateMetadata methods"
All public methods should be checking arguments for nullability and throwing `ArgumentNullException` when appropriate. This isn't being done in the newly public `IResult` types in `Microsoft.AspNetCore.Http.HttpResults` though, in their `Execute(HttpContext context)` and `PopulateMetdata(EndpointMetadataContext context)` methods.

[2022-04-26 23:18] DamianEdwards opened #41384 "Endpoint metadata is not discovered from return types implementing IEndpointMetadataProvider if the method is async"
Minimal APIs added that return types that implement `IEndpointMetadataProvider` should have the metadata discovered via that interface adding to the endpoint's metadata and thus where relevant affect the endpoint description in `ApiExplorer` and Swashbuckle/OpenAPI scenarios.

[code]

The [code that discovers and invokes this interface](https://source.dot.net/#Microsoft.AspNetCore.Http.Extensions/

[2022-04-26 23:28] emanuel-v-r opened #41385 "OpenIdConnect Access Token Claims"
When using OpenIdConnect Authentication handler, I've noticed that it only adds to User.Claims the claims that are present in the id_token, and therefore it doesn't add the claims that are present in the access_token.
Is this expected? Can it be configured somehow?
Thanks

[2022-04-26 23:41] DamianEdwards commented on #39840
@HaoK I successfully tested this out in my experiments repo: https://github.com/DamianEdwards/AspNetCoreDevJwts/blob/preview4/SampleWebApi/Program.cs#L33

I also added two more extension methods that build on top of this: `RequireRole(params string[] roles)` and `RequireScope(params string[] scopes)` that I'd be interested in discussing the utility of adding to the framework.

[2022-04-27 00:00] jamshedd commented on #41377
The removal of the older 6.0.3 runtime should not have anything to do with whether the hosting bundle was installed via WSUS or manually. Removal is of the older installers is handled by our bundle and the same bundle is executed in both cases. The removal of hte older runtime (or lack thereof) is likely a function of what else is on the machine (for e.g. VS) that might be referencing the older in

[2022-04-27 00:02] rafikiassumani-msft commented on #41322
@ahdung Can you provide some more context to help us guide you?

1. Which version of .NET are you using?
2. Do you have nullability enabled in your project?
3. Is your intent to be able to see the exception within the `OnPost` method? Or are you just looking for better ways to validate your model properties?
4. Have you looked at the following document? https://docs.microsoft.com/en-us/aspnet/core

[2022-04-27 00:09] blowdart commented on #41385
Access tokens are opaque strings which are meant to be sent without interpreting it. Picking it apart would make no sense, even if it were in a format we would be sure of understanding. As it's opaque it may not contain claims at all, it may just be a guid.

[2022-04-27 00:17] urielzen commented on #41381
I am actually logging when the BackgroundService starts and ends, but I had removed that code from the pasted code in my original post for brevity.

Here is the original:
![image](https://user-images.githubusercontent.com/7947179/165409145-68a2ef28-42d3-4eed-a287-e61c768a7363.png)

And these logs are not found in the application logs anywhere close to the 09:51AM mark.

Additionally, no one else h

[2022-04-27 00:17] DamianEdwards opened #41387 "7.0.0-preview.4 Backport: Endpoint metadata is not discovered from return types implementing IEndpointMetadataProvider if the method is async"
Backporting of #41384 to 7.0.0-preview.4

[2022-04-27 00:17] #41376 closed

[2022-04-27 00:46] RomBrz commented on #41377
I did more tests after this post.
Explaining better:
Server1: Installed manually the hosting bundle
Server2: Installed with WSUS -> Installing the 04/2022 patches (Windows, DotNet Framework, DotNet Core) -> DotNet 6.0.4 installation FAILED
Server3: Installed with WSUS -> Installing the 04/2022 patches (Windows, DotNet Framework, DotNet Core) -> DotNet 6.0.4 installation OK

Seems like the Server2

[2022-04-27 01:07] BrennanConroy commented on #41378
We accept PRs 😃

This one should be fairly straightforward; my biggest concern is that react-native on android should be tested to make sure we don't break it again, as the addition of the header was made for that scenario.

[2022-04-27 01:10] #41384 closed

[2022-04-27 01:39] 1618employment opened #41389 "Opting out of trimming for third party libraries should be easier!"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Why does opting out of trimming a third party library have to be so difficult? I shouldn't have to write several lines of code that I don't even really understand to accomplish a seemingly common task...like opting out of trimming a th

[2022-04-27 02:08] HaoK commented on #39840
RequireRole seems pretty useful, but RequireScope seems very specific to jwt, is it that much worse if you had to do: `.RequireClaim("scope", "protected:read");` instead?  Alternatively we could just have that helper live in whatever jwt helper package we have similar to what you are doing, just not sure any Scope helpers make much sense in the base *.Authorization framework code

[2022-04-27 02:10] davidfowl commented on #41389
Is this a blazor problem?

[2022-04-27 02:12] HaoK commented on #39840
I'm going to guess that you mean when you only have a requirement but you also have a default policy?

[2022-04-27 02:15] davidfowl commented on #39840
You forget to setup the auth middleware (both N and Z) and you add a requirement to your endpoint. Today we have this check https://github.com/dotnet/aspnetcore/blob/949043857d00dd8ddc521aea977b37fb48ccf36e/src/Http/Routing/src/EndpointMiddleware.cs#L38, we'd need to add one for auth requirements too? Feels a little messy.

[2022-04-27 02:15] davidfowl commented on #39840
Actually hold on, did we miss this for auth policies too? What happens if you attach a policy and don't have anything setup in the pipeline?

[2022-04-27 02:16] HaoK commented on #39840
Hrm, yeah I think its just metadata that's ignored

[2022-04-27 02:20] HaoK commented on #39840
Can we just be smart and auto inject the Authorization middleware if we detect any endpoints with authorization metadata?  Where metadata would be any IAuthorizeData/requirements/Policy.  Or are we still concerned with ordering?

[2022-04-27 02:29] davidfowl commented on #39840
I think we just need to throw for this metadata. @DamianEdwards is looking at auto injecting middlware in the web application builder cases if you configure auth.

[2022-04-27 04:14] mkArtak commented on #41364
Thanks for additional details. It looks like when you run the project from VS the Razor Source Generator isn't being run, thus resulting in views.dll assembly not being generated.

Can you please double-check that creating a new Web App (dotnet new webapp) project builds and runs successfully from VS?

[2022-04-27 04:30] wizd opened #41390 "Blazor navigation not work properly on Safari iOS latest"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Navigation works on Safari macOS but not Safari iOS.

### Expected Behavior

Safari iOS should work like Safari macOS.

### Steps To Reproduce

Demo: https://app.lyra.live/
Re-produce: Up right corner tap the plus, then 'Scan' menu
Source: https://github.com/LYRA-Block-Lattice/LyraApp/blob/ma

[2022-04-27 05:24] kouvel opened #41391 "Try to remove `IOQueue` for sends"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

`IOQueue` for sends seems to be working well currently, but there are likely several issues where it's just getting lucky and depends heavily on current models of the whole system. Some issues that I've seen to be problematic:
1. What

[2022-04-27 05:25] kouvel commented on #41391
cc @davidfowl

[2022-04-27 05:56] uecasm commented on #31272
FWIW, I've been hitting this all the time when working with a [UI framework](https://blazorstrap.io/V5/) that promotes using components in most places instead of plain HTML -- it's extremely common (and highly frustrating) to completely remove a `Class` or other parameter and then be surprised when nothing changes in the rendered content until a full reload.

It's especially egregious for boolean

[2022-04-27 05:59] davidfowl commented on #41381
Delete the development settings from prod and see what happens?

[2022-04-27 06:04] davidfowl commented on #41378
Not following this one. File a new issues and describe why, I'm not understanding the reasoning here.

[2022-04-27 07:01] TanayParikh commented on #41390
Hello @wizd, thanks for contacting us. Can you please clarify how exactly the behavior is different between safari on Mac and iOS? I tried your app and the scan to pay button seems to be working.

[2022-04-27 07:07] pr-benchmarks[bot] opened #41392 "Perf regression: json"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| json [Fixed] | Json Platform Inline 3- Trends Arm Linux | 04/25/2022 20:44:39 | 1,148,701 | 1,129,509 | -1.81 % (-20,821)  :thumbsdown:  | -2.63 σ | 7,921.04 | <details>    <summary>Changes</summary>

[2022-04-27 07:36] ArjunVachhani commented on #41364
@mkArtakMSFT I have tried creating new project using dotnet cli, I am able to run successfully. even existing project works fine with dotnet cli. It seems Visual studio has some issue.

[2022-04-27 08:57] Bhuvanesh-V opened #41393 "Element’s attribute change causes performance lack when hosted the application in US region and accessed in India or Brazil location"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

## Description
Elements attribute change via button click event having delay to see the changes in the DOM.
I have SVG elements in the razor file and trying to toggle the class name for path elements via a button click “chesspattern” style applied.
But I am facing a performance delay if I acc

[2022-04-27 09:16] ahdung commented on #41322
@rafikiassumani-msft Thanks for your response.
1. `.net 6.0` asp.net core web application
2. No
3. I hope got a deserialize exception in the log.
4. Yes.

Note this issue happend in Razor page model handler, not `ApiController`, `ApiController` always response 400 when model invalid, it never give a `null` into `Action`. There are some picture:

![微信截图_20220427170250](https://user-images.githubuse

[2022-04-27 10:31] Falco94 opened #41394 "Blazor Server .NET 6 Drag n Drop mobile devices"
Since .NET 6 the drag n drop behaviour using a polyfill library for mobile devices seems to be broken on Blazor Server.

I do not know, if this is a blazor.server.js issue or a problem with the polyfill library.

Start dragging an element on a mobile device gives these errors.

![image](https://user-images.githubusercontent.com/11509198/165494245-7928a7e5-a0f5-4784-baf1-9b975d9bcdb2.png)

I added

[2022-04-27 10:55] madelson commented on #38726
@javiercn isn't this still a bug that should be fixed? I feel like you shouldn't have to do a clean in order to change things like Configuration, TargetFramework, etc. but in my experience VS often struggles with that.

[2022-04-27 13:19] iso8859 commented on #39958
I just got this problem because I changed Kestrel initialisation to be able to use it from Windows service.

I moved from

[code]

to

[code]

For my case the workaround was easy because I don't need to keep my protected storage.

[code]

The question is why protected storage is sensitive to my Kestrel init ?

[2022-04-27 13:58] stantoxt commented on #41364
I can not change default route swagger ,even if i have set app.MapDefaultControllerRoute().

[2022-04-27 14:47] javiercn commented on #41389
@davidfowl likely involves Blazor, but in general, trimming is defined by the runtime folks (how to use it/configure it/etc.) and we only surface it.

[2022-04-27 14:51] javiercn commented on #41361
Thanks for contacting us.

Unfortunately, is not that simple as the list of available routes is not defined at compile time and it is perfectly valid to have two or more pages that seem to have the same route by the time the app is compiled, but at runtime there is no conflict due to how the system is configured.

[2022-04-27 15:02] javiercn commented on #41354
@hassan-gasemi that seems to be the cause, as it would match the second route in your app.

I would suggest adding a constraint to your route to avoid those issues, like {id:nonfile}

[2022-04-27 15:21] pizzaco opened #41396 "Hash in service-worker-assets.js is stale after build"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

The hash for `BlazorApp1.Client.dll `is wrong in` BlazorApp1\Client\bin\Debug\net6.0\wwwroot\service-worker-assets.js` and doesn't match the hash for `BlazorApp1.Client.dll ` in `BlazorApp1\Client\bin\Debug\net6.0\wwwroot\_framework\blazor.boot.json.`

This seems to be a contributing factor t

[2022-04-27 15:55] nfplee commented on #27387
Will it support donut caching? See https://www.devtrends.co.uk/blog/donut-output-caching-in-asp.net-mvc-3 for more information regarding ASP.NET (not core).

[2022-04-27 16:14] mkArtakMSFT commented on #41347
@sebastienros can you please remove the mention of Pranav in the bot? Thanks!

[2022-04-27 16:15] mkArtakMSFT commented on #41321
Ping @lewing

[2022-04-27 16:57] lewing commented on #41321
The runtime supports this but the current tooling story is around enabling eventpipe/eventsource so this isn't a supported scenario and you'd be on your own to get it working.  We're doing some planning in the next few weeks and it is possible that this could change, I'll let everyone know if it does.

[2022-04-27 17:17] psantoro opened #41398 "F# asp.net 5.x app broken after migration to 6.x"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have an F# web app (Sdk="Microsoft.NET.Sdk.Web") that uses MVC, Razor runtime compilation, and Identity scaffolding.  It has worked fine in .net core 2.x - 5.x.  It no longer works correctly in .net 6.  I converted my fsproj file to .NET 6 as follows:

- changed TargetFramework to net6.0
-

[2022-04-27 17:31] ArjunVachhani commented on #41364
@javiercn one warning on build standout to me

[2022-04-27 17:32] urielzen commented on #41381
Thank you all for your help, after more research I found out there was a developer testing in his local launchSettings with ASPNETCORE_ENVIRONMENT = PROD

...smh...

So the background service in his local was processing the productions data, in addition to that he had manually changed some other environment variables in his local appsettings.PROD.json file, including the issue with the URL in the

[2022-04-27 17:32] #41381 closed

[2022-04-27 17:33] ArturDorochowicz opened #41399 "Allow to specify type to serialize in SystemTextJsonOutputFormatter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

I'm trying to specify what type the `SystemTextJsonOutputFormatter` should serialize, but it's not possible, because it goes out of its way to use the actual type of the value.

Let's consider code like this:
[code]

In all cases above

[2022-04-27 17:34] javiercn commented on #41364
@ArjunVachhani thanks for the details.

This is very likely a dupe of an existing razor compiler issue we recently addressed.

@jaredpar do you have the details about this one?

[2022-04-27 19:06] #41392 closed

[2022-04-27 19:06] pr-benchmarks[bot] opened #41403 "Perf improvement: json"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| json [Fixed] | Json Platform 1- Trends Intel Windows | 04/26/2022 08:02:53 | 895,005 | 928,612 | 6.63 % (59,294)  :thumbsup:  | 3.03 σ | 19,580.62 | <details>    <summary>Changes</summary>     <table><t

[2022-04-27 19:06] pr-benchmarks[bot] opened #41404 "Perf regression: connectionclose"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| connectionclose  | Plaintext Connection Close 2- Trends Intel Linux | 04/26/2022 08:39:52 | 35,211 | 31,073 | -11.99 % (-4,223)  :thumbsdown:  | -2.63 σ | 1,608.26 | <details>    <summary>Changes</summa

[2022-04-27 19:19] kevinchalet commented on #36934
@Tratcher I took a look at Katana - that has the same restriction - and I think I understand why it exists: Katana didn't support specifying a value for `AuthenticationProperties.RedirectUri` (so it was basically ignored) and only supported redirecting to the `ReturnUrl` parameter extracted from the current request, but it only it the request path matched the login endpoint. It made sense because

[2022-04-27 19:46] willhopkins44 opened #41405 "SignalR JavaScript client: Updating query parameters during active connection"
For authentication and authorization, the suggestion is to use Bearer token as discussed [here](https://docs.microsoft.com/en-us/aspnet/core/signalr/authn-and-authz?view=aspnetcore-6.0#bearer-token-authentication).

In our implementation, we did not want to use a bearer token. Instead, we generate a ticket for a specific user with an expiration time.

The client first fetches a ticket from our ser

[2022-04-27 19:57] hassan-gasemi commented on #41354
@javiercn Thanks. Yeah that constraint works. Developers usually produce bugs, but when developer tools of browser comes into the game, all things will explode.

[2022-04-27 20:28] Sanjidhalim opened #41407 "Invalid form key returns internal server error"
When sending a request with content type `application/x-www-form-urlencoded` and a malformed key in the request body (e.g. `[spc=123`) ASP NET Core throws an Internal Server Error with the following stack trace:

[code]

Bad user input should return a Bad Request response instead.

## Repro steps

* Create a new ASP.NET Core Web API project (.NET 6) using the project template
* Modify the `Weather

[2022-04-27 20:38] kg opened #41408 "Unstated build dependency for e2e tests + tests won't run"
After following the steps to install prerequisites in https://github.com/dotnet/aspnetcore/blob/main/docs/BuildFromSource.md, ```dotnet test``` in the ```src/Components/test/e2etest``` folder failed with an error about 'selenium-standalone' not being a recognized command or batch file. It seems like the fix for this is to run ```npm install -g selenium-standalone```, so it seems like this is just

[2022-04-27 20:42] kg commented on #41408
I tried ```selenium-standalone install``` as suggested by https://github.com/webdriverio/selenium-standalone/blob/main/README.md#as-global-npm-package and while that makes ```selenium-standalone start``` work in my shell, I still get the 'missing ... chromedriver' error when running the tests :(

[2022-04-27 20:50] kg commented on #41408
```selenium-standalone install --singleDriverInstall=chrome --drivers.chrome.version=99.0.4844.35``` (based on https://github.com/webdriverio/selenium-standalone/blob/main/docs/CLI.md#command-line-interface) seems to have grabbed the correct chromedriver, but tests fail with another issue so I feel like there needs to be a README.md or equivalent in the e2etest folder explaining how you are meant

[2022-04-27 20:59] TanayParikh commented on #41408
You should be able to replicate the steps the CI uses to run the e2e tests via:

https://github.com/dotnet/aspnetcore/blob/543c4b88811dec686826e6a4c1143531d3117b93/.azure/pipelines/components-e2e-tests.yml#L41-L57

[2022-04-27 21:11] kg commented on #41408
I saw a suggestion online that a bug in powershell causes this arguments error but using cmd didn't make a difference. Looking around, there's a typo in SeleniumStandaloneServer.cs, where it passes ```-port {port}``` instead of the correct ```--port {port}```. Hand-editing that made it able to successfully start Selenium.

[2022-04-27 21:54] adityamandaleeka commented on #41398
@HaoK Can you please take a look?

[2022-04-27 22:12] adityamandaleeka commented on #41369
The fix will be to not keep the connection alive when this happens.

[2022-04-27 22:17] adityamandaleeka commented on #41368
Glad everything works when you're on 6.0.4.

[2022-04-27 22:17] #41368 closed

[2022-04-27 22:23] HaoK commented on #41398
@danroth27 @blowdart so what exactly is our story for F#, this is the first time I've tried F# with our templates, and when i tried creating an mvc app in F# on VS2022, although it did create a site, I didn't even get options for authentication/identity.  Is this supposed to work?

[2022-04-27 22:32] HaoK opened #41411 "Improving DataProtection linkability"
After https://github.com/dotnet/aspnetcore/commit/33ea420b106e854faef9d3caa6dc28042b54670b this causes linkability warnings everywhere that uses data protection (cookies/identity)

The default https://github.com/dotnet/aspnetcore/blob/321ec912eaa8ce3c4515f61fdf7e224f7f7349c4/src/DataProtection/DataProtection/src/RegistryPolicyResolver.cs#L23 supports arbitrary types.

But by default there are only

[2022-04-27 23:22] HaoK commented on #41398
There were some pretty big changes underneath the covers from 5.0 to 6.0 specifically to the static files and some of the identity UI plumbing.  I'm not sure how you generated your scaffolded files but is there an easy way for you to regenerate things from the 6.0 app instead of trying to migrate?  Without seeing more of your app/files, I'm not sure how much we can help you without a way to reprod

[2022-04-27 23:38] DamianEdwards commented on #41387
Merged in 113f6b22200a8d42ed3e33c40c82e7ee033a3f98

[2022-04-27 23:38] #41387 closed

[2022-04-27 23:59] #5985 closed

[2022-04-28 01:00] #41385 closed

[2022-04-28 02:44] kg commented on #41408
OK, from further testing the version of selenium-standalone installed by 'npm install' in the e2etest directory only accepts ```-port```, while latest selenium-standalone wants ```--port```. So if we ever update our version of that package it'll break. I will also note that using latest selenium-standalone makes webdriver crash constantly, so tests basically don't work there.

The version installe

[2022-04-28 02:48] JamesNK commented on #41411
Aren't there more places in DataProtection where types are used by default? (I only looked at DP source briefly so correct me if I'm wrong)

For example, the default `IKeyManager` is `XmlKeyManager`. The source of the XML often requires configuration, but there are times when DP will configure itself automatically. e.g. DP will detect that it's running in an Azure Website, and then automatically l

[2022-04-28 03:54] kg commented on #41408
It looks like if you edit ```selenium-config.json``` to update the chrome version to match the latest version of chrome *before* you do ```npm install```, it will give you the correct version of chromedriver and then tests will work.

[2022-04-28 05:08] luryus commented on #38230
We also have a SignalR application that would greatly benefit from message compression. Unfortunately the MessagePack LZ4 compression is specific to the MessagePack-CSharp library and as far as I know, it does not work with JavaScript SignalR clients.
(https://stackoverflow.com/questions/65087721/net-5-signalr-messagepack-lz4-error-unable-to-find-ext-type-98)

Couldn't compression support just be

[2022-04-28 06:37] KeithPoonNS commented on #29931
i having the similar needs to put a custom Pagination class information in the http get request headers

Will this article's approach will be a available workaround to allow me to do so?
https://blog.magnusmontin.net/2020/04/03/custom-data-types-in-asp-net-core-web-apis/

`public async Task<IActionResult> Contracts([FromHeader] Pagination pagination, string itemNo = "", string contractNo = "", str

[2022-04-28 07:07] #41404 closed

[2022-04-28 07:07] pr-benchmarks[bot] opened #41415 "Perf improvement: plainTextNoParamsEmptyFilter"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| plainTextNoParamsEmptyFilter [Fixed] | Plaintext (Empty Filters, No Parameters) 1- Trends Intel Windows | 04/26/2022 20:09:21 | 3,264,761 | 3,390,018 | 2.17 % (70,880)  :thumbsup:  | 2.41 σ | 29,462.45

[2022-04-28 07:13] jonasrembratt opened #41416 "Kestrel host throws null exception when writing response"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Writing a simple OIDC client using a Kestrel host for the callback but when I attempt to write a response the Kestrel host throws a `NullReferenceException`. I have traced the problem to the `HttpProtocol.CreateResponseHeader` method fetching `DateHeaderValues` from `DateHeaderValueManager.Ge

[2022-04-28 07:45] SariDev commented on #39311
I'm affected by this issue too.

Would be nice if this could be scheduled into one of the next releases.

[2022-04-28 07:54] khteh opened #41417 "'Unable to load shared library 'kernel32.dll' or one of its dependencies."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Start debugging session on my ASP.Net 6 application from VSCode on Ubuntu 22.04 bumps into the following exception:
[code]

### Expected Behavior

No exception

### Steps To Reproduce

_No response_

### Exceptions (if any)

[code]

### .NET Version

6.0.202

### Anything else?

[code]

[2022-04-28 08:35] TLA020 commented on #22394
Try my suggestion. that works.

[2022-04-28 08:45] Falco94 commented on #41394
Addition:

The issue comes with the commit https://github.com/dotnet/aspnetcore/commit/6969db9c0d1f5a1fa61e34cfa1ae01b0066ba306 inside blazor.server.js where function "u" was changed to function "h"

[code]

    function u(e) {
        const t = [];
        for (let n = 0; n < e.length; n++) {
            const r = e[n];
            t.push({
                identifier: r.identifier,

[2022-04-28 09:03] mrpmorris commented on #22394
two-way async binding doesn't make sense to me.
What it seems people are after is the ability to detect a change to an input, react asynchronously, and then update their model.

e.g. look-ahead searching when typing in a country.

This is already possible by having an input with a change event hooked up. It doesn't even need model binding.

Am I wrong?

[2022-04-28 09:07] javiercn commented on #22394
@mrpmorris partially.

There is some magic with `@bind` that you don't get with `attribute + event handler`, but that's why we are working on an improved `@bind` syntax that will allow you to run async code after the value has been bound.

[2022-04-28 09:28] bang75 opened #41418 "Inconsequent default message handling in system validator attributes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Is there a the reason for example EmailAdressAttribute sets DefaultMessage in constructor while RequiredAttibute sets the ErrorMessageAccessor?
I think this is inconsequent and might be a bug. Makes it harder to extend Validators with eg. a custom IValidationMetadataProvider.

### Expected Be

[2022-04-28 11:02] ricardonogues opened #41419 "SignalR es5"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

SignalR does not work on older browsers (chrome 52) due to async/await feature

### Expected Behavior

SignalR to work on older browsers

### Steps To Reproduce

_No response_

### Exceptions (if any)

_No response_

### .NET Version

_No response_

### Anything else?

_No response_

[2022-04-28 11:04] ricardonogues commented on #41419
Is there a way to make SignalR work on older browsers? In my case Chrome 52. I'm including it in an other project and I'm using babel to transpile the code but I'm assuming dependencies are not transpiled. Is there a way to transpile SignalR to make it work on these browsers? Thanks.

[2022-04-28 11:11] mrpmorris commented on #22394
@javiercn Could you explain?

[2022-04-28 12:55] 9Rune5 opened #41420 "Disable authenticator app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

As a user I have enabled both phone and authenticator app as 2FA methods.

However, I would like to disable the authenticator app without disabling 2FA completely (and still use phone/email).

### Describe the solution you'd like

Add

[2022-04-28 13:11] brunolins16 opened #41421 "Allow parameter and return types of route handler delegates (API Controllers) to contribute to endpoint metadata"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Introduce the capability for types used for parameters and return values for `API controller action`s to contribute to metadata of the endpoint they're mapped to. This will allow types that implement custom binding logic via TryParse a

[2022-04-28 13:52] javiercn commented on #22394
@mrpmorris you can read more here https://github.com/dotnet/aspnetcore/issues/39837

I'm going to close this issue as a dupe, since the issue I pointed out superseeds this one.

[2022-04-28 13:52] #22394 closed

[2022-04-28 13:55] chrdlx commented on #22394
There has been a workaround since day 1, which is using the the "value" parameter and "onchange" events...
The problem again,  is that you have to code the extra features that @bind provides yourself....    in your suggestion you're even using what it seems to be a state management system to simulate the 2 way binding that @bind provides out of the box... which I feel is totally overkill.

[2022-04-28 13:59] brunolins16 opened #41422 "Client generated code, from OpenAPI, could not bind route parameter of a Minimal Endpoint when route pattern's parameter and delegate's parameter case does not match"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When I have a minimal endpoint `route pattern` that includes a `route parameter` that does not match the delegate parameter name case, eg.:

[code]

The route system will be able to bind the parameter value correctly, since it is `case insensitive` and all incoming request will be processed c

[2022-04-28 13:59] davidbuckleyni opened #41423 "Api Suggestion [ViewModel ] Attribute for for poco tags"
Normally when we have to create DTO Objects we must create them as such.

    public class Players
    {
        public int Id { get; set; }
        public int? Type { get; set; }
        public string? PlayerLevel { get; set; }
        public int? CoachId { get; set; }
        [JsonIgnore(Condition = JsonIgnoreCondition.WhenWritingNull)]
        public int? TeamId { get; set; }
        public int

[2022-04-28 14:09] omuleanu opened #41424 "select component renders on first change with null value when inside CascadingValue=this and plain wrapper"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

using the code below, on first select from the `select` dropdown the selected value will be set to `null`

[code]
Model1:
[code]
Field:
[code]
MyContext:
[code]
MySelect:
[code]

### Expected Behavior

the select dropdown should show the value selected by the user, not `null`

### .NET Versio

[2022-04-28 16:00] #41357 closed

[2022-04-28 16:04] javiercn commented on #41424
@omuleanu thanks for contacting us.

I suspect the issue here is that you are not using `@bind` within the select component and given that you have an async handler, the rendering is "messing" with the results. You can validate this if you put breakpoints within your handler and your render functions. You'll likely see a render happen before the first await and at that point the value updated.

We

[2022-04-28 16:20] sebastienros opened #41425 "Quarantine E2E culture-aware tests"
Unblocking https://github.com/dotnet/aspnetcore/pull/41158

Issue has been identified in SDK/runtime trimming logic. Quarantining the failing tests since we don't want to block SDK ingestion for too long because of that.

## Build

https://dev.azure.com/dnceng/public/_build/results?buildId=1726505&view=results

[2022-04-28 16:22] AdamRiddick commented on #41409
Anyone able to provide assistance?

[2022-04-28 16:29] commonsensesoftware opened #41426 "Improve Model Binding for HTTP Request Body as Stream"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

When building a web API, authors occasionally need to support file uploads. There are two possible ways this can be achieved today:

1. Process `HttpContext.Request.Body` directly
2. Use model binding with `IFormFile` or `IFormFileColl

[2022-04-28 16:47] Chris-D-Turk commented on #41321
@lewing Thanks for your feedback.
I really hope you understand that good profiling tools are essential for developing production-ready applications.
We are currently evaluating whether to use Blazor WASM for our next project and the absence of profiling tools is a big drawback.
Allowing us to use the existing Mono Profiler would be a quick win in my opinion.

[2022-04-28 17:09] omuleanu commented on #41424
@javiercn version with `bind` is worse, the value never gets selected, I have to remove both `Field` and `MyContext` for the value to get selected,
here's the bind version code:
[code]
(before writing this post I was actually expecting you'd mention `bind`, and I tried it in the bigger/non isolated app, same result)

[2022-04-28 18:09] javiercn commented on #28521
This is not a bug, but an issue with "from where" the code is calling InvokeAsync.

The problem is that the code triggers a global event from outside the scope of the circuit and a registered handler calls InvokeAsync to update the state.

The problem is that the call originates from a thread that doesn't have the correct ExecutionContext because it is external to the circuit. InvokeAsync ensures

[2022-04-28 18:10] #28521 closed

[2022-04-28 18:14] halter73 opened #41427 "[Route Groups] Support AddFilter, WithOpenApi and other additive conventions"
Many metadata-adding extension methods like `RequireCors()`, `RequireAuthorization()`, `WithGroupName()`, etc... can already be applied to an entire group using the `GroupRouteBuilder` added in #36007.

However, extension methods like `AddFilter` for `RouteHandlerBuilder` don't work because `GroupRouteBuilder` is not a `RouteHandlerBuilder`. This makes it impossible to apply a route handler filter

[2022-04-28 18:45] rafikiassumani-msft commented on #41419
@ricardonogues  Did you try to transpile Signalr.js or signalr.min.js using your preferred JS transpiling tool? (Babel, etc. ?)

[2022-04-28 18:53] halter73 opened #41428 "[Route Groups] WithTags et al. should target IEndpointConventionBuilder"
`WithTags` and other `OpenApiRouteHandlerBuilderExtensions` don't work with route groups today because they target a custom `IEndpointConventionBuilder` type (`RouteHandlerBuilder`) rather than any `IEndpointConventionBuilder`.  While we do plan to support custom convention builder types on route groups (#41427), it shouldn't be necessary for many of the methods on `OpenApiRouteHandlerBuilderExten

[2022-04-28 19:02] halter73 opened #41429 "[Route Groups] Add default metadata to endpoints exposing group structure"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Currently the `MapGroup` API described in #36007 does not add any default metadata enabling endpoint to observe what groups they're in if any.

### Describe the solution you'd like

`MapGroup` should add default metadata. It's tempting

[2022-04-28 19:06] captainsafia commented on #41428
The `AddFilter` extension methods also suffer from this problem as they similarly target `RouteHandlerBuilder`.

[2022-04-28 19:07] halter73 opened #41430 "[Route Groups] Investigate link generation bug"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

https://github.com/dotnet/aspnetcore/commit/bf03cee1625eb74939b28ea6b79b4a994b926421#diff-016a2a3fe1c620342757f8190fe16c05651d2047560d83cd6f91de646dee456eR47-R48

### Expected Behavior

A link between a page in one group to a controller action in another group should probably work. If it does

[2022-04-28 19:33] #41383 closed

[2022-04-28 19:38] halter73 opened #41431 "[Route Groups] Implement IApplicationBuilder to support grouped middleware"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

We want `MapGroup` to support middleware via the `IApplicationBuilder` interface so things like `UseResponseCompression()`, `UseHttpLogging()`, `UseForwardedHeaders()`, `UseRequestLocalization()`, terminal middleware like `UseStaticFil

[2022-04-28 19:49] KifoPL commented on #29494
Does removing this issue from `.NET 7 Planning` milestone mean it won't be considered for the upcoming release and we may expect it at the earliest of .NET 8?

[2022-04-28 19:54] halter73 opened #41432 "[Route Groups] Investigate callback based API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

A callback-based version of `MapGroup` was considered as an [alternative design in the [original route grouping issue](https://github.com/dotnet/aspnetcore/issues/36007#issuecomment-1087774396). In this design, the `IEndpointRouteBuild

[2022-04-28 20:00] halter73 opened #41433 "[Epic] Route Groups"
Now that the initial implementation of `MapGroup` has been merged, I'm closing the initial route grouping issue at #36007 and am using this "Epic" issue to track the remaining work for .NET 7.

- [x] [[Route Groups] Support AddFilter, WithOpenApi and other additive conventions #41427](https://github.com/dotnet/aspnetcore/issues/41427)
- [x] [[Route Groups] WithTags et al. should target IEndpointCo

[2022-04-28 20:02] halter73 commented on #36007
The initial work for this was merged into preview4 with #41367, so I'm closing this issue. The remaining work for route groups in .NET 7 is being tracked by the new "Epic" issue at #41433.

[2022-04-28 20:08] akamud commented on #38448
I hit this today and I couldn't find it documented anywhere yet. Is there an issue tracking this for the docs? I tried looking at the Minimal APIs page and any page referencing `PathBase`

[2022-04-28 20:20] halter73 commented on #41428
Indeed. Route filters are one of the main things we want to be able to apply to an entire group. Unlike `WithTags`, I don't think it makes sense to be able to apply RouteFilters to just any `IEndpointConventionBuilder` (though that's certainly up for discussion).

I am hoping that #41427 which tracks supporting custom `IEndpointConventionBuilder` types will resolve that problem. I need to update t

[2022-04-28 20:28] psantoro commented on #41398
@HaoK I created 2 .net 6 apps that demonstrate the MS Identity scaffolding issue that I'm seeing in my migrated .net 5.x F# app:

CSWEB APP (csharp)

1. created initial csweb app via `dotnet new mvc --auth Individual --use-local-db -lang=C#`
2. enable identity scaffolding via add-identity-to-proj6.bat script
3. generate identity pages that will be overriden
`dotnet aspnet-codegenerator identity --

[2022-04-28 20:30] wtgodbe commented on #41377
Could be related to the VS/SDK mismatch from 6.0.4 (we inadvertently shipped mismatched runtimes in Visual Studio vs. the Dotnet SDK in 6.0.4) - do these machines have VS installed? You could try the steps described here: https://developercommunity.visualstudio.com/t/PackageId:MicrosoftAspNetCoreSharedFra/10015847#T-N10018891

[2022-04-28 20:40] RomBrz commented on #41377
These servers are for publishing applications, so they don't have VS installed, and i never installed the SDK on it.

Before i knew that i  could update DotNet using WSUS/WU, i just downloaded each month the Hosting Bundle and install it on my IIS Servers so the DEV team could publish DotNet Core apps with existing DotNet Framework apps.

[2022-04-28 21:06] captainsafia commented on #37240
Need to revive and update https://github.com/dotnet/aspnetcore/pull/37362

[2022-04-28 21:20] captainsafia commented on #37045
Looked into this briefly. Draft 07 of the JSON schema adds support for the `date` and `time` formats on strings ([ref](https://json-schema.org/draft-07/json-schema-release-notes.html)). Until that is officially incorporated into the spec, it probably makes sense to keep this as an object.

[2022-04-28 21:47] #37381 closed

[2022-04-28 22:00] #41354 closed

[2022-04-28 22:49] Tratcher commented on #41416
Please share your csproj file.

The `Microsoft.AspNetCore.Server.Kestrel` package is obsolete since 3.0 and needs to be removed. See https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-6.0&tabs=visual-studio#remove-obsolete-package-references

[2022-04-28 23:24] halter73 commented on #38448
I submitted a docs PR at https://github.com/dotnet/AspNetCore.Docs/pull/25769 to add notes mentioning the need to call `UseRouting()` where we mention `UsePathBase`. Hopefully we can remove these notes in .NET 7 once we fix this issue.

[2022-04-29 01:34] dougbu commented on #41425
@sebastienros what's the latest status on the trimming issue. Is there for example a dotnet/runtime PR or issue we should track here❔

[2022-04-29 03:02] davidfowl commented on #41426
In .NET 7 Minimal APIs supports binding the request body https://github.com/dotnet/aspnetcore/issues/38153 *and* IFormFile/IFormFileCollection https://github.com/dotnet/aspnetcore/pull/35158.

[2022-04-29 03:04] javiercn commented on #41423
@davidbuckleyni thanks for contacting us.

Unfortunately we are not sure we grasp what you are asking for with the data you provided. Could you try to clarify the scenario further?

[2022-04-29 03:12] davidfowl opened #41435 "Reduce usage of Expression.Constant in RequestDelegateFactory"
We can generate more efficient code by calling into static properties rather than using Expression.Constant.

- https://github.com/dotnet/aspnetcore/blob/f1ebd5d426a1996980eec00be55459352c6f27dc/src/Http/Http.Extensions/src/RequestDelegateFactory.cs#L321 - We should translate this into a call to a constructor `new ValueTask<object>(EmptyResult.Instance)`.
- https://github.com/dotnet/aspnetcore/blo

[2022-04-29 03:17] davidfowl opened #41436 "Profile and fix low hanging fruit in startup usage of minimal APIs"
We haven't done any profiling or work in this space, we should measure the current state and make improvements to the startup logic.

[2022-04-29 07:07] pr-benchmarks[bot] opened #41437 "Perf improvement: plaintext, plaintext_netty, plaintext_nodejs, plainTextEmptyFilter"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| plaintext [Fixed] | Plaintext Platform 4- Trends Amd Linux | 04/27/2022 09:02:41 | 11,664,087 | 11,829,922 | 1.05 % (122,896)  :thumbsup:  | 2.39 σ | 51,481.81 | <details>    <summary>Changes</summary>

[2022-04-29 07:10] beppemarazzi commented on #28521
@javiercn
In my project i have a lot of background services waiting for some "state change" in the external world: when this happens, i want to push UI update to all clients that are watching to that resource... I think it's a pretty common pattern where blazor server rendering helps a lot!!!!
Googling for `invokeasync statehaschanged` leads to many articles explaining the same use of the pattern

[2022-04-29 07:59] javiercn commented on #28521
This is not a common pattern that we see often, however despite that, it's your callback registration code the one that should be responsible for capturing the context at the time of registration and restoring it at the time of execution.

As I mentioned, the problem here is that the callback invocation originates from outside Blazor, at that point, we don't have access to the context you were usi

[2022-04-29 08:12] jonasrembratt commented on #41416
This is the .csproj file content:
[code]

[2022-04-29 08:22] SwissJimmy opened #41438 "Blazor WASM: Misleading error message when calling DotNetObjectReference.invokeMethod and then calling JSRuntime.InvokeAsync<T>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

This was detected in .net5 Blazor WASM for multiple versions of Microsoft.JSInterop. In short, if you try to call async Javascript from within a dotnet function that was invoked with a sync context, then you receive error:

`blazor.webassembly.js:1 System.Text.Json.JsonException: A possible o

[2022-04-29 08:57] javiercn commented on #41438
@SwissJimmy thanks for contacting us.

Can you provide a minimal repro project as a public github repository and steps to trigger the issue so that we can get a very clear picture of what's going on here?

[2022-04-29 09:38] beppemarazzi commented on #28521
@javiercn  Sorry for my infistence...

My code works well. In fact here i captured the culture inside OnInitialized when i'm on the circuit's thread with the user selected language on the stack
[code]
Then i temporally restore it when **on the rendered dispatcher** i need to call `StateHasChanged`

**Please reconsider carefully this point: we need** some framework provided utility to call `StateHa

[2022-04-29 10:00] #41394 closed

[2022-04-29 10:07] sonnemaf opened #41439 "Blazor Hybrid is not as fast running Parallel code in Release mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have used the [Build a Windows Presentation Foundation (WPF) Blazor app](https://docs.microsoft.com/en-us/aspnet/core/blazor/hybrid/tutorials/wpf?view=aspnetcore-6.0) to create my first Blazor Hybrid app. Next I replaced the Counter.razor with this one. It calculates the number of Primes be

[2022-04-29 11:19] kibblewhite commented on #22394
Hey @TLA020, thank you so much for your suggestion, it was noted and attempted as one of the first things we did.

Unfortunately, that approach won't work for me, I'm currently looking into a way to attach an attribute to the property that will trigger an async method now.

Apologies for not being able to explain it clearly. To give a little more background, it involves a WYSIWYG editor where the

[2022-04-29 12:40] javiercn commented on #28521
@beppemarazzi I missed that you captured it within OnInitialized.

That sample works because the Timer implementation does the right thing and captures the execution context when the timer is created. Your implementation should do the same.

**If you define your own event that you trigger from a background thread is your responsibility to capture the execution context at the time the handler is re

[2022-04-29 12:46] laurence73 commented on #29342
same problem

[2022-04-29 12:54] EnricoMassone opened #41440 "How to properly write an implementation of the IClaimsTransformation interface in ASP.NET core 6 ?"
In aspnet/Security#1399 some [guidelines](https://github.com/aspnet/Security/issues/1399#issuecomment-327946649) are provided to  properly write an implementation of the [IClaimsTransformation](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.authentication.iclaimstransformation?view=aspnetcore-6.0) interface.

The underlying issue of aspnet/Security#1399 has also been reported in

[2022-04-29 13:05] lnaie commented on #33312
I had the same problem while migrating from v 5.0 to 6.04 and this one fixed it.
Thanks!

[2022-04-29 14:01] beppemarazzi commented on #28521
@javiercn: Your explanation was very clear an i understood it.

Probably we agree that any kind of "global state" smells, but this is how `AddLocalization()` paired with `UseRequestLocalization()` works (ultimately the `ResourceManagerStringLocalizer` uses the global `CurrentCulture` and `CurrentUICulture` stored into circuit's execution context by the Localization Middleware).

Given this, i've t

[2022-04-29 14:20] e-davidson commented on #27232
@HerrKauwer

I don't believe this is an aspnet issue.

The issue is in your docker file.

The line `COPY ./*  ./` isn't copying over the directories themselves in the root of the project. Instead the contents of the directories are getting copied into /app. Therefor the `View` folder does not exist. Hence the name of the View class is Home_Index instead of Views_Home_Index.

If you'd change it to

[2022-04-29 14:39] e-davidson commented on #27232
Another solution, you can add the view paths manually

[code]

[2022-04-29 15:42] ricardonogues commented on #41419
@rafikiassumani-msft Thank you for the quick response. I've compiled signalR with babel with signalr.js but, when compiling my app with webpack, it's complaining about some node modules that are missing, namely http, https and utils. I've configured webpack to ignore those modules through the resolve property but I don't think signalR will work properly this way wright?

[2022-04-29 16:00] #37610 closed

[2022-04-29 16:02] BrennanConroy commented on #41419
Have you tried it? SignalR will use the browsers built in HTTP stack, the node modules would only be used when running with Node.

[2022-04-29 16:39] commonsensesoftware commented on #41426
@davidfowl Great news! Thanks for clarifying. If there is parity with controller actions, then I think this issue could be wrapped up. From my cursory observation of the code, the changes would be made in `BodyModelBinderProvider` and either return a different, simpler `IModelBinder` for a non-empty body `Stream` or update the existing `BodyModelBinder`. If that is amenable to you, I don't mind cr

[2022-04-29 16:40] Chris-D-Turk commented on #41321
So I managed to enable the profiler by invoking `mono_profiler_init_log`. But unfortunately the runtime crashes here: https://github.com/mono/mono/blob/main/mono/mini/mini-wasm.c#L495
So it looks like the log profiler is not really supported in mono-wasm :(

[2022-04-29 17:20] mrpmorris commented on #39837
:after is nice!

[2022-04-29 17:24] sebastienros commented on #41436
We measure startup and first request for all benchmarks. Everything is tracked in PBI too.

[2022-04-29 18:00] #41324 closed

[2022-04-29 18:34] Hastaroth1 opened #41443 "Cannot debug Blazor Wasm application on .Net 6: Unable to attach to browser"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When launching a Blazor wasm application in debug, the browser (either Chrome or Edge) tab will open and the application will crash with "got exception System.Net.WebSockets.WebSocketException (0x80004005): The server returned status code '500' when status code '101' was expected."

By settin

[2022-04-29 18:35] DamianEdwards opened #41444 "Add method to Results/TypedResults to allow creating a ContentHttpResult with a custom status code"
The `ContentHttpResult` already [supports setting a custom status code](https://github.com/dotnet/aspnetcore/blob/26b6365cfe7f83b744e224cb94ef7c95b751e0a1/src/Http/Http.Results/src/ContentHttpResult.cs#L51) but the factory methods that allow creation of `ContentHttpResult` do not expose a status code parameter.

We should add the parameter to the existing `Content` factory methods on `Results` and

[2022-04-29 19:00] #41424 closed

[2022-04-29 19:07] pr-benchmarks[bot] opened #41445 "Perf improvement: plaintext_netty"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| plaintext_netty  | Netty Plaintext 20- Frameworks Arm Linux | 04/28/2022 07:22:51 | 7,395,520 | 7,776,728 | 7.81 % (577,509)  :thumbsup:  | 3.63 σ | 159,312.35 | <details>    <summary>Changes</summary>

[2022-04-29 20:16] HaoK commented on #41207
Note: I think something changed/regressed here because this test went from very reliable to almost always failing with 75%+ failure rate, this should go on the higher investigate list

[2022-04-29 20:18] HaoK commented on #41207
Seems to have started after we took a runtime update in https://github.com/dotnet/aspnetcore/commit/c357496023623aeaf0fbaddf70042b0c0e4e62ef

[2022-04-29 20:27] mkArtakMSFT commented on #41443
Thanks for contacting us, @Hastaroth1.
@thaystg can you please take a look at this? Thanks!

[2022-04-29 21:27] thaystg commented on #41443
I think I need more information to help you. Can you please help me?

First thing to test that I have a different behavior when I tested locally:
- Open a chrome passing these parameters: "C:\Program Files\Google\Chrome\Application\chrome.exe" --remote-debugging-port=9222
- Then open any URL like: www.microsoft.com
- Then in another tab open http://localhost:9222/json
- Paste here the content of t

[2022-04-29 21:48] Tratcher commented on #36934
I see what you mean. That does make sense that we'd only trust the query param on certain paths, but specifying a redirect should be fine from anywhere.

https://github.com/dotnet/aspnetcore/blob/28823371bfda29412038856f47964c0708ddc9f0/src/Security/Authentication/Cookies/src/CookieAuthenticationHandler.cs#L398-L400
https://github.com/dotnet/aspnetcore/blob/28823371bfda29412038856f47964c0708ddc9f0

[2022-04-29 21:54] #41071 closed

[2022-04-29 21:59] Hastaroth1 commented on #41443
Thank you for the very fast response.

Here is the full content of http://localhost:9222/json:

[code]
Here is the full debugger file

[visualstudio-js-debugger.txt](https://github.com/dotnet/aspnetcore/files/8594985/visualstudio-js-debugger.txt)

[2022-04-29 22:06] thaystg commented on #41443
If you go to this PATH: `C:\.nuget\packages\microsoft.aspnetcore.components.webassembly.devserver\6.0.2\Tools\BlazorDebugProxy\`
And execute: `dotnet BrowserDebugHost.dll`

Do you see something like this?
[code]

[2022-04-29 22:09] Hastaroth1 commented on #41443
Yes I got more of less the same thing:

`
C:\.nuget\packages\microsoft.aspnetcore.components.webassembly.devserver\6.0.2\tools\BlazorDebugProxy>dotnet BrowserDebugHost.dll
Hosting environment: Production
Content root path: C:\.nuget\packages\microsoft.aspnetcore.components.webassembly.devserver\6.0.2\tools\BlazorDebugProxy
Now listening on: http://127.0.0.1:52856
Application started. Press Ctrl+C

[2022-04-29 22:16] thaystg commented on #41443
Okay, let's try step by step debug without using Visual Studio:

- Create a new project with dotnet new blazorwasm (as you have already done)
- dotnet run
- Open a chrome passing these parameters: "C:\Program Files\Google\Chrome\Application\chrome.exe" --remote-debugging-port=9222
- Then open the url that was printed in the console when you ran your BlazorApp
- Press Shift-Alt-D
- If you see an er

[2022-04-29 22:57] sawapont opened #41450 "Blazor css-isolation and js-isolation via rendertreebuilder"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Blazor css-isolation and js-isolation don`t work via rendertreebuilder

https://github.com/sawapont/CssIsolationViaRenderTreeBuilder

### Describe the solution you'd like

Blazor css-isolation and js-isolation work via rendertreebuilde

[2022-04-30 00:04] #38732 closed

[2022-04-30 00:04] #38260 closed

[2022-04-30 00:05] #37932 closed

[2022-04-30 05:27] omuleanu opened #41453 "select component value becomes null on change when having a CascadingParameter parameter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

in Index.razor below, anytime I select a value in the select, the value becomes `null` (not first option, blank selection)
here's the isolated code:
Index.razor
[code]
MySelect.razor
[code]
MyContext.razor
[code]
Model1.cs
[code]

### .NET Version

6

[2022-04-30 06:23] jsdevtom commented on #14907
In AutoFac version 6.2.0 I get `Cannot inherit from sealed class 'ContainerBuilder'`

[2022-04-30 12:18] HerrKauwer commented on #27232
@e-davidson
Thank you for your answer, that was exactly the problem! I tried your solution and it works fine now.

[2022-04-30 12:18] #27232 closed

[2022-04-30 14:00] #40072 closed

[2022-04-30 17:41] BrennanConroy opened #41455 "Cleanup u8 string literal workarounds"
Changes that can be cleaned up are introduced in https://github.com/dotnet/aspnetcore/pull/41449. CertificateManager and DataProtectionTests were the areas affected.

Improvements to the u8 string literal feature are being tracked in https://github.com/dotnet/roslyn/issues/60644

[2022-04-30 19:21] RicardoJarree commented on #21664
Am I right in saying that this feature would allow me to write a set of razor in the inherited class, such as a wrapper, and then call the build render tree in that to then render the concrete classes razor where required? If so this is exactly what I need right now..

[2022-04-30 20:57] Aloento commented on #40499
https://github.com/Elringus/DotNetJS

[2022-05-01 01:37] SeijiSuenaga opened #41456 "Can't uninstall RC1 Update 1"
This might not be the right place to post this, but I found an old locked issue about the same problem: #1449

Trying to uninstalling the old "Microsoft ASP.NET 5 RC1 Update 1" via Windows Settings prompts for the file "AspNet5.ENU.RC1_Update1.exe". Unfortunately, that file doesn't appear to be available from Microsoft anymore (all download links I can find are now broken, including the ones in th

[2022-05-01 04:15] lonix1 commented on #39608
Did you find a workaround? Hot reload is unusable as it chooses a random port each time.

[2022-05-01 06:35] jonasrembratt commented on #41416
Ok, thanks. I'll replace the pack with the framework for .NET 5.
But how do I work around this issue with .NET Standard 2?

[2022-05-01 07:10] davidfowl commented on #41416
Cross compile for netstandard 2.x and .NET Core https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-6.0&tabs=visual-studio#migrate-libraries-via-multi-targeting

[2022-05-01 08:40] jonasrembratt commented on #41416
Sorry, I must be misunderstanding something. By supporting two targets (.NET 5 & :NET Standard 2.0), doesn't that mean different binaries will be linked in for each, and that the .NET Standard 2.0 compilation will link in the binaries from the (deprecated) Microsoft.AspNetCore.Server.Kestrel pack?

[2022-05-01 11:40] ziaulhasanhamim opened #41459 "Different behavior on json parsing errors in mvc and minimal apis"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

In minimal Apis when something goes wrong while parsing JSON body it just throws an exception. The request doesn't even come to the handler.

[code]

If an invalid JSON is provided in the request body it just throws an exception right away.
[code]
[code]
So there is nothing i can do to send s

[2022-05-01 13:39] AndersWangRask opened #41463 "Web Api properties of type long (Int64) are incorrectly serialized by some rounding"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When a Web Api function returns a class with a property of type long (Int64) the value of the property is rounded. E.g. 9223372036854773406 becomes 9223372036854774000. The last four digits are changed from 3406 to 4000.

I have tested this with .Net 6 and .Net 7.

I have tested with both New

[2022-05-01 13:56] davidbuckleyni commented on #41423
HI @javiercn I am better explaining over teams  but basically an attributable that would be filtered when we call a model from the front end. I am trying to minimize the need to repeat code in the asp.net core for duplication of models using view models

[2022-05-01 14:31] JohnyL opened #41464 "Using filter (IRouteHandlerFilter) in minimal API throws exception"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Say, I have this simple API:
[code]
I use empty validation filter:
[code]
SearchCriteria class:
[code]
Request to this API throws exception:

      An unhandled exception has occurred while executing the request.
      System.NullReferenceException: Object reference not set to an instance of

[2022-05-01 15:24] davidfowl commented on #41416
You can have netstandard 2.0 but you can't use those incompatible packages when using newer versions of ASP.NET Core 3.1. So you need to multi target your library.

[2022-05-01 15:31] BrennanConroy commented on #41464
Dupe of https://github.com/dotnet/aspnetcore/issues/41188, fixed in preview4.

Workaround is to move the inline delegate into a function.

[2022-05-01 15:51] JohnyL commented on #41464
@BrennanConroy That works. Thanks! 🙂

[2022-05-01 15:59] dougclutter commented on #39311
Using 6.0.4 and I'm affected by this issue too.  Any timeline on a fix?

[2022-05-01 18:30] nvmkpk commented on #34825
This is an issue for a nuget package that I am working on. My package when referenced by a web application project, replaces the console window with a wpf window for better viewing of the application logs. It requires replacing `ConsoleLifetime` with a custom implementation that handles WPF UI and hides the logs on the console. The very least change that will fix the issue is to use `TryAdd...` wh

[2022-05-01 19:47] MariovanZeist commented on #41463
Hi @AndersWangRask

AspNet core is serializing the values correctly, the problem you see has to do with a javascript limitation, and swagger uses javascript to display the values [see for example](https://github.com/swagger-api/swagger-ui/issues/2030)

You can see the correct values when you use the API itself instead of using Swagger to view the output

Call the API directly by calling http://loc

[2022-05-01 23:20] ErlinEmrys opened #41467 "Blazor route parameters not work with custom type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I'm trying to use custom type as route parameter, but I'm getting error "Specified cast is not valid." in the browser.
Similar approach is used on server-side controllers and it works flawlessly. Am I doing something wrong?

### Expected Behavior

The custom type have `TypeConverter` that is

[2022-05-01 23:38] DamianEdwards commented on #34083
@brunolins16 @captainsafia we might want to look at this given the apparent [impact on Swashbuckle scenarios](https://github.com/dotnet/aspnetcore/issues/34083#issuecomment-1008269937). The inability to use record types nicely with Tag Helpers is also unfortunate.

[2022-05-02 02:39] PhilParisot commented on #7246
@DamianEdwards THANK YOU, yes it finally works! You have no idea how long I've searched for a solution!

I'd REALLY appreciate if someone could update the docs here: https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl?view=aspnetcore-6.0&tabs=visual-studio#trust-the-certificate-with-firefox-on-linux with the [solution](https://dev.to/lmillucci/firefox-installing-self-signed-certifi

[2022-05-02 03:13] PhilParisot commented on #32842
Any updates for this?

[2022-05-02 03:51] BurningTeng opened #41469 ""@ref" can not get correct value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When I click the span. **The file  name to be downloaded is wrong**. I use .Net to invoke JS function. Code As below:
[code]

JS code

[code]

### Expected Behavior

When I click the span item,  the file  name to be downloaded is wrong**. Or Is there any when to get the span reference.?Thanks

[2022-05-02 03:59] WeihanLi opened #41470 "Add `ObjectHttpResult` likes the `ObjectResult`"
## Background and Motivation

I'm trying to implement a filter to unify the API result, for the `OkObjectResult`/`BadRequestResult`/... I can pattern match with `ObjectResult`, while there's no `ObjectHttpResult` to do something similar, so I'm proposing to add `ObjectHttpResult` and `OkObjectHttpResult`/... inherits `ObjectHttpResult`

## Proposed API

[code]

## Usage Examples

[code]

## Risks

[2022-05-02 04:01] davidfowl commented on #41470
@WeihanLi can you show more code in your usage example? Is that a filter? Can you show both the action and the filter logic?

[2022-05-02 05:16] DaveLaa opened #41471 "Plz include solution for #37323 also in .Net 6"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

See #37323

### Describe the solution you'd like

It would be a great help to implement it also in .Net 6 in the next version of the Microsoft.AspNetCore.Mvc.NewtonsoftJson package, if this is possible
Thx

### Additional context

_No

[2022-05-02 06:58] javiercn commented on #41467
@ErlinEmrys thanks for contacting us.

Custom type parameters are not supported. Only a limited set of primitive types is supported by routing in Blazor.

[2022-05-02 07:02] javiercn commented on #41450
@sawapont thanks for contacting us.

That's expected and by design. CSS isolation is a feature of the Razor Compiler, if you aren't using Razor to compile the component, scoped CSS is not going to play a role. We don't have any plans to make this scenario work since scoped CSS is a build time feature.

[2022-05-02 07:07] javiercn commented on #41423
@davidbuckleyni thanks for the additional details.

This is already available by passing to the `@bind` attribute the list of fields you want to bind. https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.bindattribute?view=aspnetcore-6.0.

This is based on an include/allow list, we don't have plans to do an exclude/deny list.

[2022-05-02 07:07] pr-benchmarks[bot] opened #41472 "Perf improvement: https, plainTextSansFilter"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| https [Fixed] | Json Https 3- Trends Arm Linux | 04/29/2022 23:32:53 | 524,823 | 563,241 | 4.77 % (25,041)  :thumbsup:  | 2.19 σ | 11,451.70 | <details>    <summary>Changes</summary>     <table><th>Name

[2022-05-02 07:07] pr-benchmarks[bot] opened #41473 "Perf regression: plaintext"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| plaintext  | Plaintext Platform 4- Trends Amd Linux | 04/29/2022 23:35:46 | 11,823,972 | 11,712,890 | -1.15 % (-135,417)  :thumbsdown:  | -2.01 σ | 67,253.18 | <details>    <summary>Changes</summary>

[2022-05-02 07:07] #41347 closed

[2022-05-02 07:59] WeihanLi commented on #41470
Hi @davidfowl , thanks for your reply, it works as a filter, from the action code:

For mvc controller sample:

[code]

For Minimal API Sample:
[code]

And the filter implement sample:

[code]

[2022-05-02 08:15] coader commented on #37644
also need this, now built-in bs scss has some variable but it's not enough and strong

[2022-05-02 08:51] jonasrembratt commented on #41416
Ok, that's taken care of but is there any way to fix the Kestrel problem when targeting .NET Standard 2.0?

[2022-05-02 09:06] javiercn commented on #41469
@BurningTeng thanks for contacting us.

We don't think that there is an issue in the framework based on your repro code. There seems to be some problem in your app code, however `@ref` seems to be working as expected.

[2022-05-02 09:07] javiercn commented on #41453
Thank you for filing this issue. In order for us to investigate this issue, could you please provide a minimalistic repro project that illustrates the problem?

[2022-05-02 09:51] PieterjanDeClippel opened #41474 "Blank AspNetCore SpaProxy template doesn't run"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

- Create a new ASP.NET Core project - Angular template
- Run the project
- Fails because there's a space in the path

Following image should tell everything:

![image](https://user-images.githubusercontent.com/9629574/166215297-6f3a03d7-6abf-49ec-b285-5af79ecf43b4.png)

### Expected Behavior

[2022-05-02 09:54] PieterjanDeClippel commented on #41474
Solution is in modifying the project template: **ASP.NET Core and angular**

ClientApp/package.json:

[code]

Please DO NOT FORGET to put quotes around all the paths!!! I'm experiencing the same troubles with [NX](https://github.com/nrwl/nx/issues/10009)

[2022-05-02 10:04] AndersWangRask commented on #41463
Hi @MariovanZeist

Thank you very much for your message and for helping out. You are correct and I will close this issue.

Funny thing is that I DID try and test "directly", but because I have a JSON viewer extension in my Firefox browser that ALSO has this issue I didn't realise the reality of it.

Thanks a lot.

[2022-05-02 10:04] #41463 closed

[2022-05-02 10:05] tvardero opened #41475 "Add HTTP status code 499 Client Closed Connection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Imo, it's a QoL feature.
499 status code - Client Closed Connection. Status code was [originally proposed by nginx](https://docs.apigee.com/api-platform/troubleshoot/runtime/499-client-closed-connection) and used in cases when client c

[2022-05-02 10:23] javiercn commented on #41474
@PieterjanDeClippel thanks for contacting us.

Feel free to send us a PR to dotnet/spa-templates and we'll be happy to accept a contribution.

[2022-05-02 10:24] tvardero commented on #41475
My current code, where I use this status code:
[code]

[2022-05-02 11:16] sawapont commented on #41450
Thank you for your answer! I looked for a possibbility of creation of a component with a dynamic tag. In a Razor file there is no such possibbility. So, can't I use a dynamic tag with a css-isolation?

[2022-05-02 11:25] omuleanu commented on #41453
@javiercn is this ok: https://blazorfiddle.com/s/irslruwq ?

[2022-05-02 11:27] PieterjanDeClippel commented on #41474
Hi, can you move this issue to https://github.com/dotnet/spa-templates ?

[2022-05-02 11:42] #41474 closed

[2022-05-02 11:46] javiercn commented on #41453
@omuleanu the event handler in your `@bind` to your component is triggering a re-render of the page and that is causing MyContext to re-render which in turn is causing the MySelect to re-render. MySelect is using a parameter as a `@bind` value, which is something we discourage.

[2022-05-02 12:14] omuleanu commented on #41453
@javiercn actually before I was using `onchange` instead of `bind` and had the same problem but only on the first option click (select from dropdown) ( https://github.com/dotnet/aspnetcore/issues/41424 )

Thank You, I bound the `MySelect` `select` to a non parameter property and it works:
[code]

[2022-05-02 13:03] Bhuvanesh-V commented on #41393
@javiercn,

I've created a video comparison for the issue of local server vs. US region server hosted application.

While reporting this issue, I included information on how to reproduce the problem as well as a sample file.

## Comparison Video

[SVG Element Style delay Video.zip](https://github.com/dotnet/aspnetcore/files/8602981/SVG.Element.Style.delay.Video.zip)

## Code snippet
![image](https

[2022-05-02 13:16] dldldlepl opened #41479 "MultipartReader - BodyLengthLimit is not the total length"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

The `MultipartReader` has a property `BodyLengthLimit`, which is documented as "The optional limit for the total response body length." Applying this limit to a `MultipartReader`. does not limit the overall body size to this number of bytes. Instead the limit of each section of the multipart

[2022-05-02 14:04] javiercn commented on #41393
@Bhuvanesh-V thanks for the additional details.

Unfortunately, based on the video I can tell that the delay you are observing is expected (seems to be around 100ms-300ms) and it's caused by the latency on the network, which is something we can't do anything about in the framework.

From a quick search on the internet the latency between the US and India is around 300ms and the latency between the

[2022-05-02 14:08] davidfowl commented on #41426
That sounds right. We don't support this for today MVC? We should probably make sure this is consistent for 7.0.

cc @brunolins16

[2022-05-02 14:09] kevinchalet commented on #36934
🤣

(let me know if you guys would be interested in a PR for this 😄)

[2022-05-02 14:09] Thf772 opened #41480 "Serving RCL Static Assets with the _content/LibraryName prefix"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

My use case is a project where the Razor Pages reside in a separate assembly than the one setting up the Web Host and running the app. Basically the project structure is as follows:

[code]

I have managed to get the Razor Pages server