[2020-10-14 17:26] dazinator commented on #12651
I'm not sure I care enough about this issue in all honesty to warrant spending 10 minutes creating the issue in VS feedback and the following up the inevitable questions and comments. ;-)

Closing

[2020-10-14 17:26] #12651 closed

[2020-10-14 17:29] pranavkm commented on #2591
@blowdart \ @Haok, does `IAuthorizationMiddlewareResultHandler` that was added in 5.x help with this issue?

[2020-10-14 17:38] captainsafia commented on #24629
@connor4312 Thanks for clarifying!

@djary Can you try out .NET 5 RC2 and see if you can repro the issues there? We've made a few debugging improvements in that release.

[2020-10-14 17:40] glararan opened #26897 "[Docs] IIS 404 after merging example web.config for brotli/gzip Blazor WASM"
### Describe the bug
After merging example web.config from https://docs.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/webassembly?view=aspnetcore-3.1 with default web.config I get error 404 for all js/css/images

### To Reproduce
Use in root folder following web.config (adjust arguments for aspNetCore)
[code]

### Further technical details
- ASP.NET Core version 3.1

[2020-10-14 17:41] NTaylorMullen commented on #26893
@tossnet thanks for the heads up! @dibarbet is region control client or server enabled in LSP scenarios?

[2020-10-14 17:48] HaoK commented on #2591
I think so, see https://github.com/dotnet/aspnetcore/blob/master/src/Security/samples/CustomAuthorizationFailureResponse/Authorization/SampleAuthorizationMiddlewareResultHandler.cs for an example of how to inspect the authorization failure and switch on which requirement failed and do whatever custom logic as desired.

[2020-10-14 17:52] dibarbet commented on #26893
@NTaylorMullen client controlled as of now.  But I don't see why we couldn't support it through folding ranges.

[2020-10-14 17:52] SteveSandersonMS commented on #26882
Yeah we'll probably have to fix this in 5.0.

There's a type in the `.Web` project that is only intended for use on WebAssembly, and it has a fixed struct layout that assumes 32-bit only. This isn't normally a problem because at runtime the type is never used if you're not on WebAssembly. However if you use reflection to walk over all the loaded types, you can attempt to load it on server code and

[2020-10-14 17:54] pranavkm commented on #2591
Doc article that shows it being used: https://github.com/dotnet/AspNetCore.Docs/pull/20193

[2020-10-14 17:54] #2591 closed

[2020-10-14 17:57] pranavkm commented on #4827
Closing this. We haven't heard customer ask for this and the sample that was listed in the earlier comment should help.

[2020-10-14 17:57] #4827 closed

[2020-10-14 17:58] KyryloAntoshyn commented on #26864
Thanks, @BrennanConroy! Tomorrow I will test it and respond you with results!

[2020-10-14 18:00] #26841 closed

[2020-10-14 18:01] captainsafia commented on #26412
Thanks for following up -- this is definitely spooky.

I suspect that there is something about the browser version/device setup that is affecting this scenario since our CTI tests haven't picked up anything.

I wasn't able to repro the same on a project built from 5.0.0-rc.2.20465.7. To cover our bases, can you upload a zip of the project used?

[2020-10-14 18:03] pranavkm commented on #5006
Closing this as we haven't heard enough feedback about this being a pain point.

[2020-10-14 18:03] #5006 closed

[2020-10-14 18:09] #26884 closed

[2020-10-14 18:14] pranavkm commented on #8037
We sort of get this today from the `DeveloperExceptionPage` which returns plain text by default for non-browsers.

[2020-10-14 18:14] #8037 closed

[2020-10-14 18:20] mysteryx93 opened #26898 "Cannot use IJsRuntime from Within Identity Framework"
In Blazor, if I create a button and run this when the form is submitted, JSRuntime works.

    await jsRuntime.InvokeVoidAsync("eval", "document.cookie = ''");
    await signInManager.SignInAsync(user, false, null).ConfigureAwait(false);

BUT... if I move the jsRuntime line into the Identity processing chain, in this case, in a class overriding CookieAuthenticationHandler, then it throws this erro

[2020-10-14 18:23] pranavkm commented on #8567
The response that @MaximeMorin has should help here. With CORS, the server has to explicitly list the headers that need to be made available to the browser using `WithExposedHeaders`.

[2020-10-14 18:40] WojciechNagorski commented on #26882
@SteveSandersonMS thanks for investigation. I think that use reflection to walk over all the loaded types is common use case, especially when we use dependency injection.

[2020-10-14 18:48] Pilchie commented on #26898
Tagging @HaoK and @javiercn for the identity part.

[2020-10-14 18:54] SteveSandersonMS commented on #26870
What do you mean by “the view is corrupted”? Can you post a screenshot or video?

[2020-10-14 18:55] javiercn commented on #26898
@mysteryx93 thanks for contacting us.

`IJSRuntime` is not designed to work with the HTTP pipeline in ASP.NET Core. You are trying to execute JS in the context of an HTTP request which is not possible.

Identity and Identity UI are designed to work in an HTTP Based context, trying to use them outside of that context is not supported. While individual components might "work" we don't recommend thei

[2020-10-14 19:02] NTaylorMullen commented on #26893
Will do!

[2020-10-14 19:05] radderz commented on #26870
Not corrupted, the scroll breaks, its stops scrolling during a drag. And you have to click on the scroll bar caret to begin scrolling again.

Basically, you can't click and drag the scroll bars caret/box thing in edge/chrome.

[2020-10-14 19:07] NTaylorMullen commented on #26893
Done: https://github.com/dotnet/roslyn/issues/48600

[2020-10-14 19:12] NTaylorMullen commented on #25091
Not really. We have a list of known "Razor" included monikers such as __o __RazorDirectiveTokenHelpers__ etc.

[2020-10-14 19:17] thaystg commented on #26877
I have just tested it again on mono and it's working.

The problem is here: https://github.com/dotnet/aspnetcore/blob/628ce6114bd426c80e57f637234fe94cf9b37c7d/src/Components/Web.JS/src/Platform/Mono/MonoDebugger.ts#L10

To enable debugger it needs to have pdb's, but this is not right, we can debug without PDB's in the case of embedded PDB's.

I think this PR will fix the issue:
https://github.com/

[2020-10-14 19:22] troyji opened #26900 "Excessive use of 'internal' modifier on default implementations hinders extensibility"
Types in the namespace `Microsoft.AspNetCore.Mvc.Razor` are generally well designed for extensibility.  However, the excessive use of the `internal` modifier on default implementations makes them very difficult to extend in practice.

The `RazorViewEngine` is designed as a dependency chain of interface / default implementation pairs.  While the interfaces are public, the majority of the default im

[2020-10-14 19:29] WayneHiller commented on #26862
There seems to be some kind of caching issue when publishing. If I make changes to the scoped styles and build I see the changes in the browser when running in VS. When I publish the {projectname}.styles.css file does not update it's date. I do have it set to Delete Existing Files in the publish profile.

[2020-10-14 19:29] javiercn commented on #26896
@Dreamwalker666 thanks for contacting us.

You are likely running into [this](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-3.1#route-template-reference)

[2020-10-14 19:46] mysteryx93 commented on #26898
Yet I'm so close to making it work. If I can't run IJSRuntime from the HTTP pipeline, is there a way to pull the cookie value out of the HTTP pipeline to access it from the page afterwards? A shared service should be able to achieve that, although it wouldn't be pretty?

[2020-10-14 19:51] javiercn commented on #26898
@mysteryx93 Unfortunately, there is no straightforward answer we can give you for your problem. While we try our best to help everyone, we don't have the resources to address issues around unsupported scenarios. We suggest posting your question to StackOverflow to try and get help

[2020-10-14 19:53] RugerSR9 commented on #26862
I second this issue on RC2. After changing my link to `<link href="ProjectName.styles.css" rel="stylesheet" />` as @chassq  recommended above, my site loads just as expected from VS. After publishing to IIS, the styles are still loaded (per devtools) but they are not actually loaded onto the page for whatever reason. There are no errors in the console or network tabs.

[2020-10-14 20:00] #26828 closed

[2020-10-14 20:01] troyji opened #26901 "Split IViewCompiler out into view selection and view compilation"
Today, view compilers that implement `IViewCompiler` have two responsibilities.  The first responsibility is **view selection**, which is to identify which view to return given a relative path.  The second is **view compilation**, which is to perform any compilation steps needed to produce the view.

If we take a look at the `DefaultViewCompiler`, all of the work being performed in there is for vi

[2020-10-14 20:06] WayneHiller commented on #26862
@RugerSR9 I am playing with the issue right now. What I found is that I have to change my solution to Release Config, do a Rebuild and then publish. I think publish only does a build by default and that is not enough to regenerate the scoped css file.

[2020-10-14 20:06] SteveSandersonMS commented on #26870
Is there any chance you could post a video of this happening? I haven’t been able to repro it myself and am looking for clues about what exactly might be happening.

[2020-10-14 20:10] jakubmaguza commented on #26870
Hi Steve,
I was trying to reproduce what I have seen today in the morning, but without success.
In the morning I was facing the issue you can see on this recording:
https://github.com/dotnet/aspnetcore/issues/26353#issuecomment-708470471

Now it's different. Now after scrolling little bit, I cannot see any new items. Either using `ItemProvider` or `Items` property of `Virtualize` component, it's t

[2020-10-14 20:12] JamesNK commented on #26820
Is your port using TLS? If it isn't using TLS then additional configuration is required when using gRPC

Instructions:

https://docs.microsoft.com/en-us/aspnet/core/grpc/troubleshoot?view=aspnetcore-3.1#call-insecure-grpc-services-with-net-core-client

[2020-10-14 20:14] BrennanConroy commented on #26771
Can you `dotnet run` the app from the command line and launch chrome manually. We're thinking this is either coming from VS or coming from Chrome. If it's from Chrome there isn't much we can do. If it's from VS we can bring in some folks to take a look at that.

[2020-10-14 20:21] WayneHiller commented on #26884
This is related https://github.com/dotnet/aspnetcore/issues/26862

I found you have to do a Rebuild of the solution, build does not seem to generate/update it

[2020-10-14 20:22] enetstudio commented on #26887
@javiercn, got it..many thanks. I believe your clarification should be added to the paragraph I cited above. Once again, thank you.

[2020-10-14 20:22] #26887 closed

[2020-10-14 20:23] Tratcher commented on #26771
I asked Bill from VS and he said there should not be any connections open by them.

[2020-10-14 20:23] terrenceferguson commented on #5614
@mkArtakMSFT I am also experiencing this issue.

I changed the name of a class used in the Razor page, and it is now throwing this exception on build. If I manually change the class name in those files, it seems to build correctly.

[2020-10-14 20:24] javiercn commented on #26884
There's a bug that we are currently fixing. You can add
[code]

For visual studio to pick up the updates.

[2020-10-14 20:28] pranavkm opened #26902 "Reimplement the Razor compiler using source generators & support incrementality"
### Summary

The Razor compiler today represents a significant portion of time experienced by developers in inner-loop scenarios. We should investigate reimplementing it to be based on source generators to avoid the cost of an extra discrete step and removal of another process associated with building.

Today, the Razor compilation process is non-incremental, meaning even the smallest change to an

[2020-10-14 20:32] NTaylorMullen commented on #26554
No longer repros in 16.9-Preview1

[2020-10-14 20:32] #26554 closed

[2020-10-14 20:47] ajaybhargavb commented on #14271
@frankhale @MarkusRodler thanks for trying it out. Something regressed in latest OmniSharp version causing our settings sync to not work. I understand this can be frustrating and we are working with OmniSharp folks [on a fix](https://github.com/OmniSharp/csharp-language-server-protocol/pull/392) and will get it resolved ASAP. In the meantime, you can disable format on save globally,

![image](http

[2020-10-14 20:49] ajaybhargavb commented on #14271
@KrisPetkov, @ponchautf thanks for trying it out. Can you please file a separate issue with a repro to help investigate more?

[2020-10-14 20:49] NTaylorMullen opened #26905 "HTML completion is provided when typing non-tag content"
![i2YKx1Nofi](https://user-images.githubusercontent.com/2008729/96043437-ce235b80-0e23-11eb-995d-d7960f7560d5.gif)

This is an external issue being resolved by WebTools here: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1224509

[2020-10-14 20:57] TomJD commented on #26890
After a glass of red wine and some further digging, this seems to work, but does not seem ideal:

**Program.cs** (hard coded French default)
[code]

**Startup.cs**

_ConfigureServices_
[code]

_Configure_
[code]

It seems that because it is being rendered twice, once by the client and then once by the server, the settings is being overwritten. For instance, if I force

English in the `Configure` a

[2020-10-14 21:01] john-cullen commented on #21828
@javiercn Does something need to be done to get this to work? I've installed RC2 and adding a blazor wasm to my MVC app still does not work even for the simple test case of replacing / with the page generated by the template.

I have performed the tasks listed at https://docs.microsoft.com/en-us/aspnet/core/migration/31-to-50?view=aspnetcore-3.1&tabs=visual-studio

Do I need to update part of the

[2020-10-14 21:04] SteveSandersonMS commented on #26870
@jakubmaguza Thanks for the video and repro code. What you're seeing there is a known issue - https://github.com/dotnet/aspnetcore/issues/25915. There is a straightforward workaround for #25915 which is providing an `ItemSize` parameter to the `<Virtualize>` component.

For example, change your use of `<Virtualize>` to:

[code]

My guess is that @radderz was reporting a different problem, so if an

[2020-10-14 21:05] javiercn commented on #21828
@john-cullen I'm not sure about any changes in the docker-compose or the yaml files.

I created a new project, added docker-compose support and hit run on it, and I saw the manifest had the right data and everything was working as expected.

[2020-10-14 21:11] Dreamwalker666 commented on #26896
Yes this is exactly the issue, placing `AppContext.SetSwitch("Microsoft.AspNetCore.Routing.UseCorrectCatchAllBehavior", true);` in Main fixed the issue.

[2020-10-14 21:11] #26896 closed

[2020-10-14 21:21] #26898 closed

[2020-10-14 21:29] jakubmaguza commented on #26870
@SteveSandersonMS
Thanks Steve. I'm now able to reproduce this bug from the morning. The same from attached comment https://github.com/dotnet/aspnetcore/issues/26353#issuecomment-708470471

What I did, I add `ItemSize` to my `Virtualize` component:
[code]
And now it looks like this:

![s](https://user-images.githubusercontent.com/24191650/96047135-ecfe0e00-0e74-11eb-9a1b-b6fef421f8dc.gif)

I pushe

[2020-10-14 21:36] SteveSandersonMS commented on #26870
@jakubmaguza  I think your example is still affected by two known issues:

 * You are still affected by #25915 because the true item size is very close to the value you've given, but isn't exactly right. By default with that CSS the row height is 48.89px, not 50px. You need to give the exact correct value, or a value that's sufficiently wrong to trigger the auto-calculation. That's why I suggested

[2020-10-14 21:45] mrlife opened #26907 "Blazor WebSocket error on Windows and Apache"
I noticed that route navigation stops working after going to a different browser tab and then back to the Blazor app tab. I checked the console and see these errors that I don't get during development (on macOS).

### Further technical details
- ASP.NET Core version: 3.1.8

[2020-10-14 22:16] troyji opened #26911 "Unlock RCL's potential by making view hierarchy extensible"
RCLs bring to the table a long sought-after set of functionality - a simple way to bundle views into sharable libraries.  This functionality provides a way to simply implement complex application hierarchies that have been challenging to pull off in MVC in the past.  Unfortunately, the current MVC implementation dramatically narrows the potential use cases through its assumptions about the view hi

[2020-10-14 22:25] pranavkm commented on #23366
As part of https://github.com/dotnet/aspnetcore/pull/26519, we addressed the shorter timeouts that was the likely cause for the initial timeout. Closing the issue. The tests will become eligible to be unquarantined after Nov 2 2020.

[2020-10-14 22:26] pranavkm commented on #23312
As part of https://github.com/dotnet/aspnetcore/pull/26519, we addressed the shorter timeouts that was the likely cause for the initial timeout. Closing the issue. The tests will become eligible to be unquarantined after Nov 2 2020.

[2020-10-14 22:26] #23312 closed

[2020-10-14 23:00] #26272 closed

[2020-10-14 23:50] pranavkm commented on #25206
Resolved as part of https://github.com/dotnet/aspnetcore/pull/26834

[2020-10-14 23:50] #25206 closed

[2020-10-14 23:53] pranavkm commented on #26331
We made some improvements to tests durations as part of https://github.com/dotnet/aspnetcore/pull/26519. This should likely address the test and make it eligible to be unquarantined after 11/2.

[2020-10-15 00:22] mysteryx93 opened #26915 "Blazor CSS Priority Mixing Up"
With Blazor, I'm using Radzen and Bootstrap CSS, plus my own CSS file.

The problem is that the priority order between those files keep shifting depending on how/when the control is displayed. Meaning that it will display fine, I move to another page and come back, and then it displays differently because CSS rules are in a different order. Both Radzen and Bootstrap establish base styles and they

[2020-10-15 00:31] radderz commented on #26870
I have also seen what @jakubmaguza has seen, the issue I am explaining is a little different.

At the start of the below gif, I did normal scroll wheel scrolling, then I start pulling the scroll bar down, and the scrolling breaks part way through, and it stops scrolling without me lifting the mouse. I have to click on it again to start again, but you'll see its breaking alot. The item

![scrollbug

[2020-10-15 00:34] bancroftway opened #26916 ".Net 5 RC2 Blazor Wasm PWA service worker not working correctly with "pwa-update" component during local development"
In a brand new .Net 5 RC2 Blazor Wasm PWA project, I wanted to use the ["pwa-update"](https://github.com/pwa-builder/pwa-update) component from the PWABuilder team, to provide a nicer update experience to my users. I have used this same component in .Net Core 3.1 in the past.

So inside the index.html, I replaced this line of code:

`<script>navigator.serviceWorker.register('service-worker.js');</

[2020-10-15 01:00] #26562 closed

[2020-10-15 01:00] #26477 closed

[2020-10-15 01:28] rodmac1 opened #26917 "Responsive Menu Control for Blazor in .NET 6"
PROBLEM
I believe there’s a big gap 3rd party control vendors are struggling to fill e.g. there’s a need for a responsive menu control which is vertical on mobile and horizontal on desktop. I’ve found it a struggle altering Blazor’s menu and looking at StackOverflow, I’m not alone. Currently the 3rd party control vendors are fixed on things like grids for the finance industry. This one’s pretty es

[2020-10-15 01:37] rodmac1 opened #26918 "MAUI (UI design) Studio for .NET 6"
PROBLEM
The design surface for ASP.NET in Visual Studio is falling further behind compared to Google's approach with Flutter. The design pane does not render a page as it should look, is limited in terms of styling and is currently unstable - format a section of an ASP.NET page, make a few edits and do a few undos/redos and you'll see what I mean.

SUGGESTION
I would like to see a best in class UI

[2020-10-15 01:38] osagga opened #26919 "Add an AddOpenIdConnect extension that accepts generic TOptions : OpenIdConnectOptions"
The current list of `AddOpenIdConnect` AuthenticationBuilder extensions only support taking in actions to configure the `OpenIdConnectOptions` type

https://github.com/dotnet/aspnetcore/blob/8b741bd9c6a2a89f1bf373a26fed7eefc9a9a400/src/Security/Authentication/OpenIdConnect/src/OpenIdConnectExtensions.cs#L70

https://github.com/dotnet/aspnetcore/blob/8b741bd9c6a2a89f1bf373a26fed7eefc9a9a400/src/Sec

[2020-10-15 02:51] #26719 closed

[2020-10-15 03:06] NongMin opened #26920 "Synchronous operations are disallowed. Call ReadAsync or set AllowSynchronousIO to true instead"
#### Version: .Net Core 3.1
[code]

[code]

[code]

[2020-10-15 05:05] Stamo-Gochev commented on #26809
Thanks for the clarifications @SteveSandersonMS

The main reason for the "workaround" (attaching a JS "focusout" handler and making a JS interop call to a C# method instead of using `@onfocusout` on the element) is due to problems with https://github.com/dotnet/aspnetcore/issues/26838 and that the component should work without errors in both server-side blazor and wasm.

Is it expected for the cod

[2020-10-15 05:23] Code-DJ commented on #22567
Assuming Foo.dll and macOS, brotli installed using homebrew, you need to do the following:
1. Rename Foo.dll to Foo.bin
2. Recreate the gzip and brotli files using:
[code]
3. Now you need to recalculate the integrity hash using the following (assuming powershell):
[code]
4. Change the integrity (hash) value for Foo.dll in blazor.boot.json file as well as change Foo.dll to Foo.bin.
5. Finally, recr

[2020-10-15 05:29] #26843 closed

[2020-10-15 05:35] danlofquist commented on #25317
It seems to work now, at least on Mac!

[2020-10-15 05:51] kevinjhang commented on #13025
[TCPStream-1.txt](https://github.com/dotnet/aspnetcore/files/5382686/TCPStream-1.txt) (32,782 bytes)
[TCPStream-2.txt](https://github.com/dotnet/aspnetcore/files/5382687/TCPStream-2.txt) (31,513 bytes)
TCPStream-2.txt = TCPStream-1.txt.Replace("RenderBatch","RB")
difference(%) = (32782-31513) / 32782 * 100% = 3.871%

[2020-10-15 06:23] JacobAtchley opened #26922 "Enhance JsonPatchDocument Support: Generator and Ability to Detect Changes"
It would be really nice if the framework "out of the box" supported generating a patch document from two objects.
example:
`var patchDocument = new JsonPatchDocument(original, modified)`

It would also be nice to know if the `.ApplyTo` function could tell you if any fields were changed.
This way you could reduce another trip to the data store to persist the changes.

example:
[code]

[2020-10-15 06:25] WojciechNagorski commented on #26882
@SteveSandersonMS I thought about this problem and one thing is not clear to me. Why the problem occurs only when I run this code from the test, but when I run the application it works correctly.

The command:
[code]

Output:
[code]

[2020-10-15 06:37] SteveSandersonMS commented on #26870
@radderz Thanks for the update. It does look like your issue might be different. We only have a couple of days left for final fixes to 5.0, and the only chance we’d have of fixing your issue would be if we had a repro. Is there any chance you could post code that reproduces that issue?

[2020-10-15 06:57] SpiritBob commented on #26880
Thank you @Tratcher for clearing this up, I'm closing this as you guys have a lot more important matters to dive deep into.

The best alternative in this case is to use the `Items` property and store my information there.

[2020-10-15 06:57] #26880 closed

[2020-10-15 06:58] djary commented on #24629
@captainsafia I must download vs2019 preview version?

[2020-10-15 07:00] pr-benchmarks[bot] opened #26923 "Performance regression: mvc"
A performance regression has been detected for the following scenarios:

 | Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev |
 | -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
 | mvc  | Plaintext Mvc aspnet-citrine-lin | 10/11/2020 20:04:31 | 1,778,852 | 1,721,411 | 3.23 % (57,442) | 2.58 σ | 22,238.47 |
### Changes:
| Runtime | Prev

[2020-10-15 07:39] mrpmorris commented on #26625
@danroth27 what happened with the issue of Blazor being blocked by some types of router? Other than providing a manual workaround is anything being done to work around this? The tickets won't allow new comments.

https://github.com/dotnet/aspnetcore/issues/19511

https://github.com/dotnet/aspnetcore/issues/19552

[2020-10-15 08:22] jakubmaguza commented on #26870
Thanks Steve, it looks like mostly it was #26432. This is no longer the case.

About 50px row height, my browser did show me 49px, which i used. To be 100% sure, I make change in table row definition:
[code]
So now it should fit `ItemSize="50"`.

So now all my browsers are set to English, `<tr>` is set to `50px`, and `ItemSize=50`.

In firefox scrollbar works perfectly well (right browser), but af

[2020-10-15 08:23] MarvinKlein1508 opened #26925 "Nullable warning within nested LINQ"
### Describe the bug
I want to select an array from a property from a nullable reference. In my where clause I specify that my object cannot be null, however within my .Select I get a CS8602 Dereference of a possibly null reference warning.
`Bestellungen.Where(x => x.Lieferant is not null).Select(x => x.Lieferant.LieferantId).ToArray();`

I guess the compiler should be able to detect that I allrea

[2020-10-15 08:32] SteveSandersonMS commented on #26870
The scroll bar sync issue is the Chromium bug I mentioned above. It’s not Blazor specific - I linked to samples showing the same in React, Angular, and Vue apps.

[2020-10-15 08:50] jakubmaguza commented on #26870
That's right, thanks again. Sorry for posting too much.

Saying all that, you can find @radderz issue in f.e. [angular](https://stackblitz.com/edit/cdk-virtual-scroll-simple-autosize) example you posted, or any page that contains scrollbar. Looks like this is chromium issue.

Some of the times, you will find this issue scrolling through list using wheel, and then grabbing scrollbar, but all of the

[2020-10-15 08:51] seraj654 opened #26926 "Blazor Wasm Hosted Signalr Core Error 'WebSocket connection failed: HTTP Authentication failed; no valid credentials available' after upgrade from .net 5 rc1 to rc2"
### Describe the bug
In blazor wasm i try to connect to a hub. and i use IAccessTokenProvider. in rc1 everything works fine... but after upgrade to .net 5 rc2, I have error in console.
This error : "WebSocket connection failed: HTTP Authentication failed; no valid credentials available" full error paste bellow...
i try change transport to LongPolling... then fixed!

this code have error:

`_hubCon

[2020-10-15 08:59] meaning1 opened #27305 "Why TryUpdateModel cannot bind data to ModelState?"
Here is my action:
[code]
FieldValue:
[code]
result:
![image](https://user-images.githubusercontent.com/55533760/96101072-a279a180-0f07-11eb-916d-2c81df4cd859.png)

[2020-10-15 09:09] sala91 commented on #26477
It seems it might be related to something included in the project, unfortunately, not easy to figure out what causes it other by going down on it one-by-one - https://stackoverflow.com/a/64023951

[2020-10-15 09:12] EngstromJimmy commented on #26145
We can use the Library Manager to copy the files, I just wrote a [blog post](http://engstromjimmy.se/post/2020-10-15-IsolatedJS) on that =)

The only down-side I have found is that the files are copied on Build, if you don't change any files that are actually built, the files won't get updated.

[2020-10-15 09:23] javiercn commented on #26915
@mysteryx93 thanks for contacting us.

We're not sure how this is related to Blazor. The order of CSS imports on your index.html file should be "static". It's not clear how you get to import files in different orders (that's the first thing we would recommend you fix).

As for the CSS in Blazor, are you using CSS isolation? If so, it should be fine for you to apply !important since that CSS bit is

[2020-10-15 09:44] JoeMarkov commented on #26771
ok!

So, I recreated the Azure Visual Studio 2019 VM again and reproduced the steps as outlined earlier.

Without installing Chrome (Edge only, using Kestrel, with trace level, ASP.NET core empty template)

Then I get this log, as usual:

dbug: Microsoft.Extensions.Hosting.Internal.Host[1]
      Hosting starting
dbug: Microsoft.AspNetCore.Server.Kestrel.Core.KestrelServer[2]
      Failed to locate

[2020-10-15 09:46] JoeMarkov commented on #26771
I also created a video of this that I can email someone if I get an email to send it to.

[2020-10-15 10:13] LaughingJohn opened #26928 "Blazor WASM RC2 - static web asset - conflicting web root path."
Hi,

This is more of a question, but I upgraded my solution to RC2 and am now getting the following:

[code]
I have a favicon in the root folder of both the client and the server. I'm guessing I can just delete one of them, but I wanted to understand what has changed between RC1 and RC2 because it was working OK before.

On a broader note, I do find the sharing of assets (Images, css, js etc) betw

[2020-10-15 10:13] ElderJames opened #26929 "Static site generator like VuePress, Hexo etc."
I thought it would be awesome to build a static site generator based on Blazor for documentation and static blogs.

[2020-10-15 10:14] ElderJames commented on #26625
Static site generator #26929

[2020-10-15 10:30] SteveSandersonMS opened #26930 "Blazor E2E tests don't run after building from VS (but do from commandline)"
There's something wrong with copying the SWA manifest when building from VS. It shows up at `artifacts\bin\Components.TestServer\Debug\net6.0`, but the E2E test application actually runs from `src\Components\test\E2ETest\bin\Debug\net6.0`. @javiercn says the file is meant to be copied as part of the build process, but this only happens when building from the commandline, not from VS.

The result i

[2020-10-15 10:55] javiercn commented on #26928
@LaughingJohn thanks for contacting us.

This was an issue in the past too, just that the server file would silently override the client file. In RC2 as part of some changes we did, we "tuned" up the validation to ensure that no two assets end up in the same final path.

Normally this is not an issue for RCLs since their files are placed under "_content/$(PackageId)" by default, but in the case of

[2020-10-15 10:56] xamadev opened #26932 "OpenIdConnectAuthenticationHandler: message.State is null or empty"
### Describe the bug

I 'm trying to migrate an ASP.NET Core 2.2 application to ASP.NET Core 3.1. I use OpenIDConnect authentication there and it worked fine with version 2.2. I get the follwing exception with version 3.1:

[code]

### To Reproduce

Here's my configuration:

[code]

### Further technical details
- ASP.NET Core 3.1
- Microsoft.AspNetCore.Authentication.OpenIdConnect 3.1.9

[2020-10-15 11:19] KyryloAntoshyn commented on #26864
If we start process in another thread it works! Thanks @BrennanConroy and @mkArtakMSFT!

[2020-10-15 11:19] #26864 closed

[2020-10-15 11:20] LaughingJohn commented on #26928
Ah, thanks @javiercn, makes sense. I did delete one and it all worked. Be nice to have some guidance around sharing resources, and maybe intellisense (for css, jss and file location) across projects.

[2020-10-15 12:10] RugerSR9 commented on #26862
@WayneHiller I can't say that I am noticing an incorrect timestamp on my builds *.styles.css file. In fact, I had even completely deleted my **bin** folder to make sure it wasn't anything being referenced incorrectly within that. I attempted a clean & rebuild after switching my project to Release explicitly and still face the same issue.

[2020-10-15 12:52] mugiwaraya commented on #14133
How is this doable with JSInterop. Anyone got any examples?

[2020-10-15 13:02] SteveSandersonMS commented on #13025
@kevinjhang Thanks

[2020-10-15 13:07] WayneHiller commented on #26862
@RugerSR9 did you compare the css keys between the html and css in the {projectname}.styles.css file loaded into the browser?

[code]

You could try adding this to your client project
[code]

[2020-10-15 13:13] javiercn commented on #26928
@LaughingJohn Feel free to file an issue and post a comment [here](https://github.com/dotnet/aspnetcore/issues/26625) to see if it has other supporters. We are starting our plans for .NET 6.0 and we are looking for this type of feedback.

Having something like this will help us track the interest for the feature as well as specific improvements people is interested in.

[2020-10-15 13:16] RugerSR9 commented on #26862
@WayneHiller thanks for pointing me to the css keys, still getting a feel for how this process works. Keys in my html do not match any keys within the *.styles.css file. I did try adding the `<UpToDateCheckInput...` tag into my .csproj based on the other issue you attached but it didn't change anything for me. Will continue to play with it and post an update if I have any luck.

[2020-10-15 13:35] davidfowl commented on #26920
Fixed in 5.0 https://github.com/dotnet/aspnetcore/pull/18232. I'd recommend using a normal StreamReader for now if you're trying to do this right now.

[2020-10-15 13:37] WayneHiller commented on #26862
@RugerSR9 Are you running the latest VS Version 16.8.0 Preview 4.0? I my case switching to the Release config in VS and then doing the Rebuild regenerated the {PN}.styles.css file. Then publishing copied it to the wwwroot folder.

[2020-10-15 14:22] RugerSR9 commented on #26862
@WayneHiller Yes sir, Visual Studio Enterprise 2019 16.8.0 Preview 4.0

[2020-10-15 14:42] NongMin commented on #26920
Thanks!

[2020-10-15 14:42] #26920 closed

[2020-10-15 15:01] SteveSandersonMS commented on #26809
Yes, we definitely want to fix #26838. It's not specifically planned for inclusion in .NET 5, because .NET 5 is basically finished now, and we have had very few customer reports of it. But yes we do want to fix it when we can. I did some investigation into it today and found it was a bit complicated and wrote up some thoughts on #26838 itself.

[2020-10-15 15:21] ionoy commented on #10170
Is it possible to run the preprocessor and bundler without using MSBuild to build the whole project? I'm trying to implement hot-reload for scoped CSS, but it seems like all the code is in the build tasks.

[2020-10-15 15:34] GeorgeS2019 commented on #26865
@mkArtakMSFT  and @danroth27   I know I keep pushing this.  I see the combination of Azure DevOps Extension written in Blazor will deliver impact that will deliver win-win to both the Blazor (Microsoft future Web development) and Azure DevOps ( Microsoft future fast iterative project management). I just need time to convince the Microsoft team. :-)

[2020-10-15 15:50] blowdart commented on #26932
What browser or browsers is this happening in? Are there any errors in the browser console?

Presumably the metadata endpoint on the authority exists, if nothing else changed in configuration when updating to 3.1?

[2020-10-15 15:59] ilkayilknur opened #26936 "CultureInfo.GetCultures(CultureTypes.AllCultures) returns less items on Blazor WASM .NET 5.0"
### Describe the bug
I just found out that `CultureInfo.GetCultures(CultureTypes.AllCultures)` method returns only 11 items on Blazor WASM .NET 5 RC2. The same method returns more than 300 items on .NET Core 3.1. Is this a known issue?

### To Reproduce

Call `CultureInfo.GetCultures(CultureTypes.AllCultures)` method on Blazor WASM .NET 5 RC2.
### Exceptions (if any)

### Further technical details

[2020-10-15 16:06] ryanbrandenburg commented on #25091
I suppose if we changed the code-gen to always prepend `generated.` to the variable gen, but then that probably makes CodeActions, Hovers, and other places a mess. You're right, it's probably not worth it to do a bunch of work to make it 100% correct just in the unlikely case that someone names their variable `__o`.

[2020-10-15 16:12] BrennanConroy commented on #26926
Can you get the server side logs (debug level) and see if there are any errors with auth?
https://docs.microsoft.com/aspnet/core/signalr/diagnostics?view=aspnetcore-3.1#server-side-logging

[2020-10-15 16:24] #25135 closed

[2020-10-15 16:33] mkArtakMSFT commented on #26918
@danroth27 can you please take a look at this? Thanks!

[2020-10-15 16:35] mkArtakMSFT commented on #26917
Thanks for contacting us. This is a dupe of https://github.com/dotnet/aspnetcore/issues/11229

[2020-10-15 16:35] #26917 closed

[2020-10-15 16:38] mkArtakMSFT commented on #26916
Thanks for contacting us. You can set the version to a constant value for a debug build by setting the `ServiceWorkerAssetsManifestVersion` property in your `.csproj` file.

[2020-10-15 16:41] mkArtakMSFT commented on #26897
Thanks for your feedback, @glararan.

@guardrex do you know what needs to change in this sample ? If not please work with @pranavkm to get the sample corrected.

[2020-10-15 16:46] mkArtakMSFT commented on #26922
Thanks for contacting us. This is not something we plan to make part of the framework. We this this is a better fit for an external library, perhaps a community project.

[2020-10-15 16:46] #26922 closed

[2020-10-15 16:50] guardrex commented on #26897
AFAIK at this point, it's a regression across framework versions. We have an existing docs issue to address it at ...

https://github.com/dotnet/AspNetCore.Docs/issues/20205

... which I should reach on Monday. In the meantime @glararan, see if the proposed feedback on that issue helps you get past the error.

@mkArtakMSFT, if you want to close this here, we can use that existing docs issue to tra

[2020-10-15 16:52] Tratcher commented on #26919
So `.AddOpenIdConnect<GoogleOpenIdConnectOptions>` would still still want an `Action<GoogleOpenIdConnectOptions>` paramter to configure the options like OAuth does, right?

Can you expand on this and include examples? You need to be careful with the various ConfigureOptions patterns, named options, etc.. They also have implications for service lifetimes.

[2020-10-15 16:58] glararan commented on #26897
@guardrex I am looking into it and its exactly same issue. We can close this as you continue working on dotnet/AspNetCore.Docs#20205

[2020-10-15 17:00] guardrex commented on #26897
I'll mention in passing tho a concern that I have about trying to further compress already compressed assets. It doesn't seem appropriate, but I might not have the latest concepts on that subject.

[2020-10-15 17:00] #26888 closed

[2020-10-15 17:01] #26886 closed

[2020-10-15 17:03] mkArtakMSFT commented on #26900
Thanks for contacting us.
It looks like we didn't update our engineering guidelines to reflect on our learnings over time.
We've changed our philosophy regarding the usage of `internal`. We will update the guidance to avoid further confusion.
As for the types you're referring to, we don't plan to change these to `public`. You can learn more about the reasons behind this from [this thread](https://

[2020-10-15 17:03] #26900 closed

[2020-10-15 17:04] rodmac1 commented on #26917
Artak, I went to the FluentUI website and I don't see anything about Blazor controls or MAUI. Am I missing something or have you just killed what should be MS's most important project? ;-) Rod

[2020-10-15 17:06] mkArtakMSFT opened #26937 "Update ASP.NET Core Engineering Guidance"
We've changed our philosophy over time regarding what are the best practices, but we never reflected on that in our [Engineering Guidance](https://github.com/dotnet/aspnetcore/wiki/Engineering-guidelines#when-to-use-internals-vs-public-and-when-to-use-internalsvisibleto) document.

We'll use this issue to review the doc and update it.

[2020-10-15 17:06] mkArtakMSFT commented on #26900
https://github.com/dotnet/aspnetcore/issues/26937

[2020-10-15 17:11] mkArtakMSFT commented on #26929
Thanks for contacting us. This is something which came up few times. While this is a good idea, this is not something we would like to make part of the framework at the moment. You can see how similar conversations evolved in the past by reading through https://github.com/dotnet/aspnetcore/issues/5658 and https://github.com/dotnet/aspnetcore/issues/14581.

[2020-10-15 17:11] #26929 closed

[2020-10-15 17:13] SteveSandersonMS commented on #26890
I'm not 100% certain what your desired behavior is, but if you want both prerendering (server-side) and interactive rendering (client-side) to run as the same culture then you'll need to store the culture choice somewhere accessible to both server and client code.

For example, you might choose to store it in a cookie, and use the server's `UseRequestLocalization` middleware to pick it up and set

[2020-10-15 17:31] osagga commented on #26919
Yeah sorry I didn't implicitly write the full signature, but it would be something like this:
[code]

I'll explain how my code setup was, and how I was affected by this when migrating from OAuth to OpenIdConnect.

I'm working on application that needs to support multiple SSO providers (`Google` and `Microsoft` for now, could be more later), I started by using the `Microsoft.AspNetCore.Authenticati

[2020-10-15 17:38] daemogar opened #26939 "404 when accessing the CSS isolation scoped file"
I have an RCL with a razor component and an associated CSS file. [Sample Project with Issue](https://github.com/daemogar/BlazorSamples/tree/SampleCssIsolation)

SampleRazorClassLibrary.csprog
- /Component1.razor
- /Component1.razor.css

My project is a WASM ASP.Core Hosted website using serverside pre-rendering. The base Sample project is a working project, that all I did was add an RCL project wi

[2020-10-15 17:49] pranavkm opened #26940 "Remove MusicStore (E2E tests have been disabled since Mar 2019)"
https://github.com/dotnet/aspnetcore/blob/master/src/MusicStore/test/MusicStore.E2ETests/MusicStore.E2ETests.csproj#L10.

[2020-10-15 17:51] danroth27 commented on #26918
Hi @rodmac1. We don't have any plans to build a visual designer for ASP.NET Core. Our team focus primarily on framework investments. We are however planning to invest in [hot reload](https://github.com/dotnet/aspnetcore/issues/18486) so that you can see the impact of your changes as you make them during development.

[2020-10-15 17:51] #26918 closed

[2020-10-15 18:00] #26695 closed

[2020-10-15 18:00] #26672 closed

[2020-10-15 18:03] SteveSandersonMS opened #26941 "When prerendering, emit culture name and use it on WebAssembly side"
Inspired by https://github.com/dotnet/aspnetcore/issues/26890

If you’re prerendering a WebAssembly app, you’d never want the prerendered output to be in a different culture than the interactive version uses when it starts.

So when we emit the markers saying which components were prerendered, why not also include info about the culture that was used, and take it as the default on the client?

The

[2020-10-15 18:17] rodmac1 commented on #26918
Hi Daniel. I really don't get what MS is up to anymore, it has just become another IBM to me. You've given up on the Windows moniker (your shop window - screens everywhere), failed on mobile and Edge is going nowhere. Hot reload will do nothing to change this and Google and Apple will retain the crown. The only UI/UX effort is Surface+Office or Xbox. Clearly Office is mega revenue but the rest is

[2020-10-15 18:33] danroth27 commented on #26625
@mrpmorris If you're in an environment where files with "dll" extensions are simply blocked, then we've provided manual steps for changing the extension. We haven't identified any additional work in this area currently. If you think we need to do more, please file an issue with your suggestion and we'll take a look.

[2020-10-15 18:35] #26897 closed

[2020-10-15 18:37] mkArtakMSFT commented on #26907
Thanks for contacting us. We're working on [reverting a change](https://github.com/dotnet/aspnetcore/pull/26894) in a 3.1 patch, which would result in similar behavior. Can you please review the related issue and see whether that's what's you're facing.
if not, please share more details about your scenario (how you're switching tabs - programmatically or not) and a small repro app to help us inves

[2020-10-15 18:57] danroth27 commented on #26918
Hi @rodmac1. I may have missed something, but does Flutter have a visual designer experience like you are requesting? I thought they also provide a hot reload experience similar to what we are working on. I did find [Flutter Studio](https://flutterstudio.app/), but it seems to come from a third party. There are third party offerings for rapid app development with Blazor. [Radzen](https://radzen.co

[2020-10-15 19:00] #8567 closed

[2020-10-15 19:01] ylr-research opened #26942 "Workaround for Blazor WASM to connect to Azure Cosmos with .NET 5"
Hi @danroth27. I have a vanilla Blazor WASM (standalone) app which basically as I type autocompletes results from Azure CosmosDB. The Autocomplete razor file is a modified version of the one [here](https://github.com/SteveSandersonMS/CarChecker/blob/master/Client/Shared/Autocomplete.razor). After upgrading to .NET 5 PNS exception started to be thrown (see #26450).

### Autocomplete.razor
[code]

#

[2020-10-15 19:06] danroth27 commented on #26942
@ylr-research Could you please share the configuration of the `CosmosClient`?

[2020-10-15 19:08] ylr-research commented on #26942
[code]

[2020-10-15 19:12] bancroftway opened #26943 "Feature Request: In Virtualize component, support a way to scroll to a particular row index"
In our Blazor Wasm project, we have a Virtualize component bound to a long list of items, using ItemsProvider. We have a need to scroll to a particular row when user clicks on a item in Table of Contents, which is outside of the Virtualize component.

Using the ItemsProvider, is there a suggested workaround to bring a particular row index into view, when inside a Virtualize component?

[2020-10-15 19:43] ryandle commented on #15198
I found myself immediately wanting this in my Blazor WASM project!

[2020-10-15 20:01] arilishu commented on #3793
Any update about this? When this new release is gonna be ready?

[2020-10-15 20:14] danroth27 commented on #26942
@ylr-research Because Blazor WebAssembly apps are public clients that can't keep secrets you need to use resource tokens. @JeremyLikness wrote up a nice blog post on how to do this: https://blog.jeremylikness.com/blog/azure-ad-secured-serverless-cosmosdb-from-blazor-webassembly/. However, I don't think we've tested this setup with .NET 5 yet, but I believe it should work. Can you confirm whether y

[2020-10-15 20:18] rodmac1 commented on #26918
Hi Daniel,

I hear you and get the direction. The problem you face is there's nothing
out there that quite puts out enough icing to cover the cake you're baking.

I used to love CorelDraw. Imagine drawing a button control just as you
wanted it to appear, double clicking on it and building upon your Blazor or
MAUI framework!

I remember when I first walked into a PC shop back in the early '80s - an

[2020-10-15 20:21] ylr-research commented on #26942
@danroth27 I'm not using his approach. I'll give it a try now with RC2 and let you know how it goes.

[2020-10-15 20:23] halter73 commented on #26282
I took a quick look at this today to see if I could cherry-pick from #26304 and get this in for November servicing. Unfortunately, it's not as straightforward as I hoped. The big issue is that ExecutionContext.Restore() doesn't exist in netcoreapp3.1. There's Execution.Run(), but using that would require rethinking control flow. The way Exceptions are handled would need to be changed for example.

[2020-10-15 20:35] NTaylorMullen commented on #25091
If someone named their variable __o we'd explode anyhow 😄

[2020-10-15 20:48] mrlife opened #26946 "Blazor Server Rendering Performance - Longer Total Render Time on 5.0"
### Describe the bug
After upgrading from ASP.NET Core 3.1 to 5.0 RC2, blocks of code that are loaded after first render now load more slowly. These blocks of code (`ChildContent` below) load after first render to make the first render faster.

On 3.1, after first render, these blocks of code would render practically simultaneously a half second after the first render, however on 5.0 RC2, they ren

[2020-10-15 20:52] #21608 closed

[2020-10-15 21:01] terrenceferguson commented on #5614
@mkArtakMSFT

While I think some semblance of the issue might still be present, what I noticed is that the references to class names in .cshtml files (e.g. @model Namespace.Models.EditProfile) are not being refactored when they are changed globally. I'm not sure if that's intentional, or if it's a bug. Nevertheless, I wanted to reply that it doesn't seem to be an issue for me at the moment, before

[2020-10-15 21:09] pranavkm commented on #26937
Done as part of https://github.com/dotnet/aspnetcore/wiki/Engineering-guidelines/58147322248af4148149d70aa4c19c7d1efada67

[2020-10-15 21:09] #26937 closed

[2020-10-15 21:30] mrlife commented on #26907
@mkArtakMSFT I'm seeing this above error on page load. Then again about 2 minutes later without interacting at all with the page. Then a third time about 2.5 minutes after that. A second after that third set of errors, there's this error. This is without interacting with the page at all after loading it.

From reading the related issue, I'm not sure since I'm not interacting with the page at all.

[2020-10-15 21:53] radderz commented on #26870
@SteveSandersonMS - I could share with your the full project privately as it's currently just a test of porting out website to Blazor but I wouldn't be able to share that publicly. I wasn't able to recreate the issue using a small project as I am guessing its a combination of things in the overall layout.

It's quite possible this isn't specifically a Blazor issue, like @jakubmaguza is saying. As

[2020-10-15 21:55] mrlife commented on #24883
@SteveSandersonMS Thank you, I tried your suggestion but ran into an issue.

I changed my current code:

[code]

to:

[code]

and see this error:

[2020-10-15 22:38] NTaylorMullen opened #26950 "Added go-to-def/FAR/rename support for JS"
This is as simple as removing the "if ! C# no-op" portions of these handlers.

[2020-10-15 23:02] CameronAavik opened #26952 "Template precedence overrides order in controller routing."
### Describe the bug
I have two routes for which there exists a URL that matches both routes.
I added an `Order` to the route attribute, but the route with the higher template precedence was chosen instead.

### To Reproduce
I created a new empty ASP.NET Core 5 project with the following `Startup` and controller. Everything else in the project was left the same.

[code]

Steps to reproduce:
1. Run

[2020-10-15 23:14] captainsafia opened #26953 "Add support for error boundaries in Blazor"
#### Summary

This proposes adding an error boundaries feature to Blazor, as inspired by the implementation in [React](https://reactjs.org/docs/error-boundaries.html). This feature would allow developers to implement logic on individual components to capture any excpetions, log, display a fallback UI, send telemetry, etc.

This feature was proposed in https://github.com/dotnet/aspnetcore/issues/13

[2020-10-15 23:24] cr4z opened #26954 "[Blazor Server] Component parameter with custom set accessor crashing build"
I have a very simple problem. I have a Blazor component with a parameter. I have a get and set accessor, with custom logic on the set. But when the parent component uses the parameter, the build crashes. It only crashes whenever I use the 'value' keyword. I've also recreated this on a blank template.

I suppose that this is because 'value' isn't actually reading the value passed in by the parent c

[2020-10-15 23:31] Kaelum opened #26955 "PipeWriter.GetMemory() InvalidOperationException: Writing is not allowed after writer was completed."
### Describe the bug
Under extreme load, we have noticed that the PipeWriter.GetMemory() method will fail with an InvalidOperationException of "Writing is not allowed after writer was completed."

### To Reproduce
We are processing ~4,000-6,000 requests/second over a TCP connection, for which I have written a custom ConnectionHandler.  The request sizes vary from ~150 bytes to ~100k, but can be re

[2020-10-15 23:36] pranavkm opened #26956 "Changes to *.razor.css requires an explicit build in Visual Studio to refresh"
1) Create a new Blazor app in VS
2) Try modifying a .razor file and refresh the browser without (re)building in VS.
3) Notice that the browser picks up changes
4) Do the same thing with a .razor.css file. Notice that it does not change. A Ctrl+F5 is required to pick up changes here.

[2020-10-15 23:44] #25915 closed

[2020-10-15 23:57] pranavkm commented on #26862
@WayneHiller do you happen to have a set of steps that consistently reproduces the problem? I've been playing around with this for a bit but I don't see any issues here. We had a couple of fixes around VS not causing builds to kick off on changes to scoped css files very recently that are now available as part of the 5.0-RTM SDK - https://github.com/dotnet/installer#installers-and-binaries. I don'

[2020-10-16 00:45] bignorm64 opened #26957 "Blazor-WASM- CurrentCulture date formats wrong for some cultures"
### Describe the bug
Blazor WASM globalization & localization documentation says that the current culture is set based on the user's browser settings which does work but the values for the DateTimeFormat.ShortDatePattern and LongDatePattern are wrong for some cultures, specifcally en (NZ), en (AU), and en (GB, OXENDICT) (probably more but these are the only ones I looked at)

### To Reproduce
Incl

[2020-10-16 01:06] WayneHiller commented on #26862
There is an issue above that I referenced that is the same issue I think. I had vs in debug config and then did a publish (release) but I don't think publish is doing a rebuild so it was not updating the css file. The old one got copied into the wwwroot folder there for none of the css keys matched.

[2020-10-16 01:31] RugerSR9 commented on #26862
I’ll see if I can’t clean up my project and create a repo for it tomorrow morning.

[2020-10-16 03:35] sdmaclea commented on #26821
Waiting on #26788

[2020-10-16 06:05] campersau commented on #26956
Maybe the same as    https://github.com/dotnet/aspnetcore/issues/26843 ?

[2020-10-16 06:25] ziadakiki opened #26958 "Blazor - Equivalent to Vue Watch for a Parameter"
Coming from a VueJS background to Blazor, I can't find an equivalent to the Vue watcher in Blazor.

To elaborate, in Vue, one could watch for changes on a certain property, for example:
[code]
I can't seem to find an equivalent to Blazor, I tried to achieve that using a custom property's getter/setter but this does not work in all cases (it is actually more similar to computed properties in vue an

[2020-10-16 06:53] campersau commented on #26957
Here are two similar issues:
https://github.com/dotnet/runtime/issues/43398
https://github.com/dotnet/runtime/issues/43449
Maybe this helps: https://github.com/dotnet/runtime/issues/43398#issuecomment-709408036

[2020-10-16 07:00] #26923 closed

[2020-10-16 07:32] bignorm64 commented on #26957
Thanks @campersau I hadn't found those issues as I was only searching in this repo.

Adding
[code]
to the csproj file sorted it. Was rather confusing as things like the currency symbol were there but date formats were not.

From the comments on those issues looks like the documentation has been updated too but not showing just yet.

[2020-10-16 08:02] djary opened #26959 "Errors when add "Razor Class Library" reference to .NET5 Blazor Webassembly."
### Describe the bug
I Create a new" blazor webassembly"  and new a "Razor Class Library" for components. but when I add"Razor Class Library" reference to "Blazor webassembly" project (no matter add a reference to which project -Server or Client even Shared)

after that give me errors:

and

also, give me a warning

But when I remove the "Razor Class Library" Reference from "Blazor Webassembly", e

[2020-10-16 08:10] javiercn commented on #26952
@CameronAavik thanks for contacting us.

I'm unable to repro this issue, I get 0 in both cases which is what I would expect since the Order 1 trumps the higher precedence on the second route.

[2020-10-16 08:13] #26952 closed

[2020-10-16 08:18] javiercn commented on #26959
@djary thanks for contacting us.

The issue here is that you are referencing "Microsoft.AspNetCore.App" (Essentially all the ASP.NET Core server libraries) which is not supported on Blazor webassembly. You should remove the framework reference and reference the components SDK instead.

[2020-10-16 08:24] javiercn commented on #26957
@bignorm64 thanks for contacting us.

I'm closing this issue since @campersau answer is correct and you've found the solution.

[2020-10-16 08:24] #26957 closed

[2020-10-16 08:28] javiercn commented on #26958
@ziadakiki thanks for contacting us.

We don't provide an out of the box solution for observing model changes. The Blazor model is similar to other UI programming models in that the application needs to explicitly tell the framework when the state has changed and a re-render is required.

The best way you can likely do this is using something like `IObservable<T>` to define your properties and the

[2020-10-16 08:48] djary commented on #26959
Thanks for answering, can you tell me how can I reference to components SDK?

[2020-10-16 09:19] tthiery commented on #23128
@davidfowl I also think that .NET Core (maybe under ASP.NET Core brand) is missing a infrastructure for queues similar what it does for HTTP/gRPC/WebSockets. I mean, uses cases in the real world are either request/response pairs against HTTP/gRPC or are asynchronous message queues. I had hopes in some of the Bedrocks talks where MQTT was mentioned but that never showed up.

@ardove I took the libe

[2020-10-16 09:53] IB38 opened #26963 "PersistKeysToStackExchangeRedis leaks ConnectionMultiplexer ?"
Hi there,

I have a question about `Microsoft.AspNetCore.DataProtection.StackExchangeRedisDataProtectionBuilderExtensions.PersistKeysToStackExchangeRedis(this IDataProtectionBuilder builder, IConnectionMultiplexer connectionMultiplexer, RedisKey key)`

The way extension method works, it seems like it leaks ConnectionMultiplexer, there is no way to properly dispose of it?
Its impossible to use DI f

[2020-10-16 10:00] boukenka opened #26964 "CSS Isolation Follow-up"
### Describe the bug

This is the follow up of CSS Isolation #26493.
The problem remains.
The CSS style is not applied.
I have tried with and without ```::deep.```
No success.

[BlazorApp.zip](https://github.com/dotnet/aspnetcore/files/5390768/BlazorApp.zip)

PS: If I create and reference an individual CSS file with the same CSS content as the index.razor.css file, it works.

![coding](https://use

[2020-10-16 10:13] javiercn commented on #26959
<PackageReference Include="Microsoft.AspNetCore.Components" Version="5.0.0-rc.2.20475.17" />

[2020-10-16 10:23] djary commented on #26959
Nice, I Using `<PackageReference Include="Microsoft.AspNetCore.Components.WebAssembly" Version="5.0.0-rc.2.20475.17" />` Instance `<PackageReference Include="Microsoft.AspNetCore.Components" Version="5.0.0-rc.2.20475.17" />`. thank you

[2020-10-16 10:31] davidfowl commented on #23128
Bedrock is much lower than this and is more about authoring the protocol layer itself.

That's really cool!

@mconnew you were asking about this the other day, take a look at this project that explores more of that generic middleware model.

[2020-10-16 10:59] SteveSandersonMS commented on #26964
When you have `::deep` at the start of a selector (for example `::deep .xxx` in your code), this will match any `.xxx` element that is nested inside any element rendered by your component. But it does *not* match `.xxx` elements that are not nested inside any element rendered by your component.

That's what's happening here. If you look in your rendered DOM structure, the `<input class="xxx">` is

[2020-10-16 11:05] boukenka commented on #26964
@SteveSandersonMS Thanks! Closing the issue then. 😄

[2020-10-16 11:05] #26964 closed

[2020-10-16 11:22] SteveSandersonMS commented on #24883
This is a matter of C# syntax in general, not specific to Blazor. You can't cast directly from a methodgroup (method name) to a `MulticastDelegate` because the compiler doesn't know what signature delegate you want. Instead you have to cast to a specific delegate type first. For example:

[code]

Or in this case, since `Action` can be converted implicitly to `MulticastDelegate`, you could simplify

[2020-10-16 11:27] SteveSandersonMS commented on #26870
Thanks @radderz. If this is something you find is Chromium-specific (doesn't repro in Firefox), and only happens in your project and not in simpler test cases, then there's a high likelihood that it's not a Blazor issue. It might be something really unique about something else going on in your project or might be a general Chromium behavior.

Since we've now fixed the definite known issue (#25915)

[2020-10-16 11:27] #26870 closed

[2020-10-16 12:25] cornem opened #26965 "Blazor WebAssembly doesn't include custom web.config when publishing"
### Describe the bug
The [documentation](https://docs.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/webassembly?view=aspnetcore-5.0#use-a-custom-webconfig) states:

However, when I add a `web.config` file to the project root, and run `dotnet publish -c Release` with .NET 5 RC2, the `web.config` isn't copied to the `publish` folder. Only the `wwwroot` folder is there.

### To Reproduce
- C

[2020-10-16 12:43] Chowbi opened #26966 "[Blazor Server] Exception on App Load"
Most common stack trace :
[code]

Link to code part :
https://github.com/dotnet/aspnetcore/blob/98875fb4b5d208ba8ac25ada147f6193c1599dca/src/Components/Components/src/RenderTree/Renderer.cs#L766-L782

I can't figure out why this code is problematic for me, why data is still being added to this dictionary while disposing.

It happens in a rather big Blazor Server app, approxing 200 razor components

[2020-10-16 12:57] Robelind commented on #26773
Without `Microsoft.AspNetCore.Components.WebAssembly.Build`, `wwwroot\_framework` is empty, except for the empty directories `_bin` and `wasm`.

[2020-10-16 13:08] rasmus-s commented on #4707
@davidfowl  I think I was able to reproduce this issue over and over when I debugged my own code. I had made a small movie and Wireshark captures. But cannot share them here in this public github repo, what other more private channels can I reach out to you and the MS team?

The longer story:
Was making a few million PUT calls to our servers and around 0,08% of them failed also after multiple retr

[2020-10-16 13:10] WayneHiller commented on #26862
https://github.com/WayneHiller/BlazorWasmPwa

This is a project created from VS. Blazor Wasm Hosted Pwa.

With VS in Debug config. I edit the MainLayout.razor.css .page background-color.
Build and run from VS.
Publish (Release).
Run published app and refresh browser. Often the background color is not updated.

[2020-10-16 13:44] seraj654 commented on #26926
`
IdentityServer4.Events.DefaultEventService: Information: {
  "ClientId": "Chatory.Client",
  "ClientName": "Chatory.Client",
  "Endpoint": "Token",
  "SubjectId": "73c6d3c8-f34e-43bc-b020-5d3e8c7c799b",
  "Scopes": "Chatory.ServerAPI openid profile",
  "GrantType": "authorization_code",
  "Tokens": [
    {
      "TokenType": "id_token",
      "TokenValue": "****wCbw"
    },
    {
      "TokenTyp

[2020-10-16 13:44] macriluis opened #26967 "Wrong TimeZone Information in NET Core 3.1 and NET 5"
### Describe the bug
Using a Windows PC, you set your Time Zone as (UTC-03:00) City of Buenos Aires
In Blazor WebAssembly client, the Time Zone is UTC.

### To Reproduce

Create a new Blazor WebAssembly app.

In Index.razor add:

Your Time: @DateTime.Now.ToString()
Your Time Zone: @TimeZoneInfo.Local.DisplayName

In Control Panel or Configuration, set the Time Zone as (UTC-03:00) City of Buenos Ai

[2020-10-16 14:00] #26928 closed

[2020-10-16 14:16] roysurles opened #26969 "Upgrade to Net 5.0 nightly build errors"
### Describe the bug
We are trying to maintain a separate branch of our project with the latest .Net 5.0 nightly build as of every Friday.  This has been working up until today.  I am receiving multiple errors after upgrading the versions today.

I have been following:  https://github.com/dotnet/installer
- 5.0.100 RTM Installer for Windows x64
- Added the nuget package source: <add key="dotnet5"

[2020-10-16 14:42] javiercn commented on #26969
@roysurles thanks for contacting us.

@dotnet/aspnet-build can you help out here?

[2020-10-16 14:45] mysteryx93 commented on #26915
I'm not sure what's causing this, but I'm importing CSS files normally in the _host.cshtml file. Everything looks fine, I can browse into a new component, come back, browse into another component, and in some corner cases, some components don't appear as expected... sometimes... because of different CSS rule priorities. (I use CTRL+SHIFT+C in Edge to view what CSS rules are applied and in what ord

[2020-10-16 14:49] javiercn commented on #26915
@mysteryx93 can you provide a minimal repro project that demonstrates the issue and that we can use to help/troubleshoot what might be going on?

If you are importing everything within _Host.cshtml, ASP.NET Core doesn't do anything to alter the order of the elements in your page.

[2020-10-16 14:57] Hazzamanic commented on #12890
@mpoiron Did you have any luck figuring this out? We too use vuejs just to sprinkle extra functionality within razor and were happily using the .net core 2.2 webpackdev middleware...

[2020-10-16 15:00] mrlife commented on #24883
@SteveSandersonMS Thank you very much! I got it working with a slight alteration to the second line (due to `MyMethod` taking a parameter of type `MyClass`):

[code]

I have another one that has a method that returns `Task` and takes no parameters, so I used the following for that one. Putting this here for anyone else who might be unsure about how to handle this case.

[code]

[2020-10-16 15:00] mrlife commented on #24883
@SteveSandersonMS Thank you very much! I got it working with a slight alteration to the second line (due to `MyMethod` taking a parameter of type `MyClass`):

[code]

I have another one that has a method that returns `Task` and takes no parameters, so I used the following for that one. Putting this here for anyone else who might be unsure about how to handle this case.

[code]

[2020-10-16 15:35] PercyLeon123 commented on #26625
Good morning, I hope I am not mistaken but I have noticed that the Timer () is
slows down when you switch tabs in the browser.
Make a basic example of the possible problems and this is my repository link [(https://github.com/PercyLeon123/Cronometro).](https://github.com/PercyLeon123/Cronometro)
To detail what happened, carry out some tests and record it.

Basic and simple example, slows down 10 mi

[2020-10-16 15:55] vsfeedback opened #26970 "VS2019 16.7.6 Image not showing in Blazor serverside. In 16.7.5 was working fine"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1220509/vs2019-1676-image-not-showing-in-blazor-serverside.html)._

---
[severity:I'm unable to use this version of Visual Studio] [regression] [worked-in:2019 16.7.5]
In VS2019 version 16.7.6 <img> control is not showing the source image.
Blazor Serverside.
In version 16.7

[2020-10-16 16:05] mkArtakMSFT commented on #26940
Given that these tests have not been running for this long, they seem to add no value. We already have alternative mechanisms for testing.
@BrennanConroy, @Tratcher, @davidfowl let us know if you have a good argument against this.

[2020-10-16 16:05] blowdart commented on #26866
Is this for multi-tenancy, or is it aimed at one authority per instance, just from a database rather than a config? Does it change during runtime, or is it set at startup?

[2020-10-16 16:07] BrennanConroy commented on #26926
Why are there 2 connections? And which one failed?

What browser are you using?
How is your auth configured?

[2020-10-16 16:09] mkArtakMSFT commented on #26813
Thanks for contacting us.
The `AccessDeniedPath` setting is being overriden when you're calling `AddMicrosoftIdentityUI`. Consider moving the `Configure<OpenIdConnectOptions>` call in the bottom as follows:

[code]

[2020-10-16 16:22] ryanbrandenburg commented on #21522
Fix confirmed, thanks @gundermanc!

[2020-10-16 16:22] #21522 closed

[2020-10-16 16:23] #24774 closed

[2020-10-16 16:25] ryanbrandenburg commented on #26711
Woops, this isn't done yet. I did the first part, where we publish UIContext events once Razor is "Ready", but I can't merge my follow-up to make the tests use that until we do another insertion. VS is currently in M2, so I assume that will have to wait unless it piggy-backs off something more urgent.

[2020-10-16 16:26] wtgodbe commented on #26969
The issue is that the stable packages aren't available on the usual feeds yet. Once we switch to stable branding, we have to publish every build to a new, unique feed per build, since we do multiple stable builds of each repo, so if we published each one to the same feed, the newest would overwrite the previous feeds. Until we actually ship RTM, you won't be able to access the stable packages with

[2020-10-16 16:27] Tratcher commented on #26940
What else covers this level of integration testing?

[2020-10-16 16:28] WayneHiller opened #26971 "Blazor Wasm issue with Nullable Ref Types enabled and Component Generic base class"
### Describe the bug
Blazor Wasm issue with Nullable Ref Types enabled and a Component Generic base class

Created a basic Blazor Wasm Hosted Pwa project in VS.

Added a CmpBase<T> class:
[code]

Created a Counter.razor.cs code behind class:
[code]

Changed counter.razor to:
[code]

In the Client project add:
[code]

Compile and get errors:

![image](https://user-images.githubusercontent.com/11867

[2020-10-16 16:46] pranavkm commented on #26940
CTI tests have been used to capture some of the E2E scenarios we previously had with MusicStore. Are there scenarios these tests cover that aren't captured by CTI (I know for example targeting specific operating systems such as Windows Server Nano is one of them)? If they are reasonable we should consider adding CTI coverage for it.

[2020-10-16 17:00] #26589 closed

[2020-10-16 17:00] #26916 closed

[2020-10-16 17:36] roysurles commented on #26969
What is the exact version number of .Negt 5.0 RC2?  And What is the nuget package source for this?

File --> New Project --> Blazor WebAssembly 5.0 has numerous errors and does not even run?

![image](https://user-images.githubusercontent.com/37274814/96290424-2e450980-0fac-11eb-9594-39e6bb8f3336.png)

![image](https://user-images.githubusercontent.com/37274814/96290458-3c932580-0fac-11eb-8331-143

[2020-10-16 18:00] #26890 closed

[2020-10-16 19:00] seraj654 commented on #26926
I have 3 hubs...
Chrome, Edge, FireFox
Identity Server 4 - Blazor Wasm Hosted Template - no any additional configuration.

Just web socket Transport have problem after upgrading to RC2.

[2020-10-16 19:14] BrunoBlanes opened #26974 "error : The static web asset '[...]\wwwroot\favicon.ico' has a conflicting web root path '/wwwroot/favicon.ico' with the project file 'wwwroot\favicon.ico'.`"
I've updated my project from .NET 5 RC 1 to RC 2 and it doesn't build anymore.

### Describe the bug
Building the project throws the following error:
`C:\Program Files\dotnet\sdk\5.0.100-rc.2.20479.15\Sdks\Microsoft.NET.Sdk.Razor\build\netstandard2.0\Microsoft.NET.Sdk.Razor.StaticWebAssets.targets(208,5): error : The static web asset 'C:\Users\bruno\source\repos\BrunoBlanes\Average-CRM\Client\wwwr

[2020-10-16 19:15] BrennanConroy commented on #26926
Are you grabbing the access token from the query string for your auth?

I'm guessing you need to do something similar with Identity Server as we show for JwtBearer https://docs.microsoft.com/aspnet/core/signalr/authn-and-authz?view=aspnetcore-3.1#bearer-token-authentication

[2020-10-16 19:16] BrunoBlanes commented on #24126
@dibarbet I saw that this issue was closed and merged, I was wondering if it was shipped with RC 2 because I still have issues with razor components colorization in that version of the SDK.

[2020-10-16 19:24] kkentt commented on #9974
That would be great if this feature is supported in future releases.

[2020-10-16 19:47] pranavkm commented on #26956
@campersau the SDK I picked up included a fix for it.

[2020-10-16 20:21] NTaylorMullen opened #26975 "TextMate classifications occasionally override semantic classifications."
This is a tracking issue for the Core editor: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1184616

[2020-10-16 20:31] ylr-research commented on #26942
@danroth27, I do have a question though. How was it working before, when the APIs were Mono based? I used to just add a AzureCosmos nuget package, register a client and everything worked. Blazor WASM can't keep a secret now neither before. Most importantly, it is my understanding this issue is to be resolved with .NET 6 wave. Would that means I won't need to follow the above approach and keep doin

[2020-10-16 20:33] #23574 closed

[2020-10-16 20:33] ryanbrandenburg commented on #24126
@BrunoBlanes you will need 16.9 Preview1 or higher with the Experimental Razor editor enabled in order to benefit from this issue. Unfortunately 16.9 Preview1 isn't available yet, but if you still have problems once it is and you try it out file an issue and we'll look into it.

[2020-10-16 20:35] BrunoBlanes commented on #24126
Cool, thanks for the update, I'll wait for 16.9.

[2020-10-16 20:48] TanayParikh opened #26976 "DDRIT: Auto-inserted text"
Big Rock: https://github.com/dotnet/aspnetcore/issues/23646

[2020-10-16 20:48] TanayParikh opened #26977 "DDRIT: Semantic colorization"
Big Rock: #23646

[2020-10-16 20:49] TanayParikh opened #26978 "DDRIT: Diagnostics"
Big Rock: #23646

[2020-10-16 20:50] TanayParikh opened #26979 "DDRIT: C# Code Actions"
Big Rock: #23646

[2020-10-16 20:51] TanayParikh opened #26980 "DDRIT: Razor Code Actions"
Big Rock: #23646

[2020-10-16 21:00] danroth27 commented on #26942
For Blazor WebAssembly 3.2 we shipped the Mono implementations of the crypto APIs. So if you tried to use HMAC with 3.2 it would work. However, using HMAC means you need to have access to a secret key, which there is no way to protect in a public client app like a browser app. So it worked, but it would expose the key. I'm guessing the key is embedded in the connection string?

In .NET 5, as part

[2020-10-16 21:11] mkArtakMSFT commented on #26970
Thanks for contacting us.
To be able to use static assets (an image in your case) from your app, they have to be located in the `wwwroot` folder . In your situation, it looks like the image is located in the root of the project directory.
I'm not sure how it would work being in the root directory before your update, but the behavior you experience currently is correct.
If you can reproduce the beh

[2020-10-16 21:13] NGloreous opened #26982 "HttpSysRequestDelegationFeature - DelegationRule throws NullReferenceException on Dispose"
### Describe the bug
When disposing a DelegationRule, if the call to HttpCloseUrlGroup within UrlGroup.Dispose() fails then a NullReferenceException happens because _logger is not initialized in the constructor used by the HttpSysRequestDelegationFeature.

### To Reproduce

[code]

### Exceptions (if any)

[code]

[2020-10-16 21:15] pranavkm commented on #25826
@HaoK were you already looking at this?

[2020-10-16 21:31] mkArtakMSFT commented on #26625
Thanks for reporting this, @PercyLeon123.
Can you please file a new issue to track this separately.

[2020-10-16 21:34] ryanbrandenburg commented on #19446
This seems like it was fixed by C# Semantic colorization.

[2020-10-16 21:34] #19446 closed

[2020-10-16 21:38] ryanbrandenburg commented on #25220
@TanayParikh how did it "break"?

[2020-10-16 21:42] ryanbrandenburg commented on #25220
![image](https://user-images.githubusercontent.com/14987221/96311226-dd3e1100-0fbd-11eb-8b90-88efe872769f.png)
The above is how.

[2020-10-16 21:43] JunTaoLuo commented on #25288
FYI, I have updated the description to include an option for backwards compatibility that we added in https://github.com/dotnet/aspnetcore/issues/26528

[2020-10-16 21:43] JunTaoLuo commented on #26528
Announcement https://github.com/aspnet/Announcements/issues/434 has been updated.

[2020-10-16 21:43] #26528 closed

[2020-10-16 21:51] pranavkm commented on #26862
Thanks @WayneHiller. I was able to reproduce the problem with the RC2 SDK. The newest RTM SDK from  https://github.com/dotnet/installer#installers-and-binaries appears to resolve the issue. It effectively has the same fix that you've listed in your project file.

Could you try updating and let us know if that helps?

[2020-10-16 21:52] ryanbrandenburg commented on #22577
This is fixed by C# Semantic colorization. Still broken for VSCode, but it will be fixed when we move it to C# Semantic Colors, and there's already an issue tracking that.

[2020-10-16 21:52] #22577 closed

[2020-10-16 21:58] ryanbrandenburg commented on #22330
![image](https://user-images.githubusercontent.com/14987221/96312193-f5af2b00-0fbf-11eb-9767-fdf578fb7a59.png)
Seems to have been fixed by something or other.

[2020-10-16 21:58] #22330 closed

[2020-10-16 22:00] ryanbrandenburg commented on #22123
![image](https://user-images.githubusercontent.com/14987221/96312380-52124a80-0fc0-11eb-82d7-6ef70fa63773.png)
Seems to have been resolved.

[2020-10-16 22:01] ryanbrandenburg commented on #21994
Still repros.

[2020-10-16 22:06] ryanbrandenburg commented on #18864
![image](https://user-images.githubusercontent.com/14987221/96312773-1d52c300-0fc1-11eb-9ad5-3e611c23e29b.png)

[2020-10-16 22:06] #18864 closed

[2020-10-16 22:08] ryanbrandenburg commented on #21071
![image](https://user-images.githubusercontent.com/14987221/96312876-5e4ad780-0fc1-11eb-86a6-ac1f8d11d8c6.png)
Seems that this still happens to a lesser degree, the last @ here isn't  getting caught.

[2020-10-16 22:10] danroth27 opened #26985 "Investigate behavior of Blazor Server on mobile when switching apps"
Folks at [ThePostage](https://thepostage.com) reported that they often see connection loss issues on mobile devices when switching apps. The said the problem seemed worse or iOS. We should take a look at the experience and see if there's anything we can do to improve it.

[2020-10-16 22:15] pranavkm commented on #23360
Dup of https://github.com/dotnet/aspnetcore/issues/24841. Using the other since it has more context.

[2020-10-16 22:15] #23360 closed

[2020-10-16 22:16] Tratcher commented on #26982
Can you explain why it failed so we can reproduce the issue?

[2020-10-16 22:24] NGloreous commented on #26982
@Tratcher I'm looking into that and talking with @shirhatti. I'll file a separate issue to track as it appears to be 100% repro right now. Possibly due to a recent change in http.sys.

[2020-10-16 22:41] vsfeedback opened #26986 "Unable to use serilog in API hosted in Windows Service. Error 1053"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1208000/unable-to-use-serilog-in-api-hosted-in-windows-ser.html)._

---
[severity:It's more difficult to complete my work]
I have create a .net core 3.1 API project and am hosting this in a Windows Service (windows 10 latest).

When I start my project from Visual Studio, my

[2020-10-16 22:41] pranavkm commented on #26965
Thanks @cornem for the issue report.

@vijayrkn this appears to be the result of the `PublishIISAssets` change in the Publishing SDK https://github.com/dotnet/sdk/blob/master/src/WebSdk/Publish/Targets/CopyTargets/Microsoft.NET.Sdk.Publish.FilterFiles.targets#L30-L33.

How do you feel about adding a check to the target verify that a project targets the WebSDK?:

[code]

[2020-10-16 22:43] mkArtakMSFT commented on #26986
Thanks for contacting us.
This would be a good question to ask to the [`serilog` community](https://github.com/serilog/serilog).
That said, this most probably is an issue with the identity (which the Windows service is running under) not having enough permissions. When you start the app yourself, it runs under your own user account which obviously does have the necessary rights.

[2020-10-16 22:45] vsfeedback opened #26987 "Add Connected Service Generation doesnt handle filepaths that need to be quoted"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1205814/add-connected-service-generation-doesnt-handle-fil.html)._

---
If you add a connected service to a project that has spaces or other special characters that non-quoted can handle output generation fails.

The below fails

`1>  "C:\Users\<Redacted>\.nuget\packages\ns

[2020-10-16 22:49] vijayrkn commented on #26965
@pranavkm I thought you mentioned that WebSdk is not used in the case of Blazor. Is that not the case?

[2020-10-16 22:50] pranavkm commented on #26965
The publishing SDK gets used though.

[2020-10-16 22:54] WayneHiller commented on #26862
After installing the SDK 5.0.100-rtm.20515.8

I get an error when rebuilding the project.
[code]

[2020-10-16 22:54] vijayrkn commented on #26965
Oh, I didn't know that. I thought you directly called into the targets.  In that case, adding the condition makes sense.

Also we should add it to the default check - https://github.com/dotnet/sdk/blob/44f381b62d466565639d51847c9127afbe7062a9/src/WebSdk/Publish/Targets/Microsoft.NET.Sdk.Publish.targets#L33

[2020-10-16 22:59] vsfeedback opened #26988 "Provide access to the current request URL from within a TagHelper"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1173602/provide-access-to-the-current-request-url-from-wit.html)._

---
When writing a custom TagHelper, it would be useful if there was a way to access the current request URL.

I've found several methods for doing this on the Web, but they either rely on older versions of .N

[2020-10-16 23:00] #26697 closed

[2020-10-16 23:04] NGloreous opened #26989 "HttpSysRequestDelegationFeature - DelegationRule.Dispose() - Call to HttpCloseUrlGroup Fails with result ERROR_INVALID_PARAMETER"
### Describe the bug
I'm still looking into the details of why this is failing with a result of 87 (ERROR_INVALID_PARAMETER). Regardless I'm not even sure this call should be made for cases when the caller attached to the URL group because it was created by someone else.

### To Reproduce
Need to run this code on a preview version of vNext Windows and you'll also need the fix in PR #26983 otherwis

[2020-10-16 23:05] NGloreous commented on #26982
@Tratcher @shirhatti FYI I also filed #26989 to track the issue where this is failing in the first place. I'll try to figure out the root cause there.

[2020-10-16 23:06] mkArtakMSFT commented on #26988
Thanks for contacting us.
The `TagHelper` has a [ViewContext](https://github.com/dotnet/aspnetcore/blob/3f5275194f5926daddea71641ef9dafef771284f/src/Mvc/Mvc.Razor/src/TagHelpers/UrlResolutionTagHelper.cs#L113-L115) property, which grants you access to the current `HttpContext` instance, through which you can access all the details of the `Request` object.

[2020-10-16 23:07] TanayParikh commented on #22123
Does it work specifically `DateTime.Now` within a function as well?

[2020-10-16 23:08] Tratcher commented on #26989
Which specific windows build number did you test?

[2020-10-16 23:17] ryanbrandenburg commented on #22123
That example was from within a function.

[2020-10-16 23:17] #22123 closed

[2020-10-16 23:18] pranavkm commented on #26965
Sounds good. I can get something ready for it.

@cornem in the meanwhile, consider setting `<PublishIISAssets>true</PublishIISAssets>` in your project file. It should help publishing the web.config without any adverse affect to your app.

[2020-10-16 23:18] Code-DJ commented on #26174
You can also recreate this issue by duplicating a tab.

In Chrome/Edge, right-click on a tab and choose "Duplicate Tab". It shows the error bar at the bottom. Dev Tools shows "Error: The list of component records is not valid.".

I added the following to the top of _Host.cshtml and still have the same issue.
[code]

If you refresh the page, it loads it correctly. Then, close the tab and do the dup

[2020-10-16 23:20] NGloreous commented on #26989
I'm currently testing on 20239 from the base2 branch but I've hit it on other builds also. I can try a recent preview next week just to make sure it's still an issue there.

[2020-10-16 23:20] pranavkm commented on #26862
Shoot. You'll have to wait for the RTM release to be made public before you can start using the 5.0 RTM SDK. Consider using the workaround you had discovered until then.

[2020-10-16 23:24] ylr-research commented on #26942
Fair enough. Thanks for your prompt response.

[2020-10-16 23:28] WayneHiller commented on #26862
Ya for now just need to do a rebuild. RTM is getting close, YAY!

[2020-10-16 23:41] shirhatti commented on #26989
I'm on 20190 from public insiders and I'm not seeing it. It must have been one of the recent changes

[2020-10-17 00:01] NTaylorMullen commented on #26837
@danroth27 I've updated the release notes.

[2020-10-17 00:03] wtgodbe opened #26992 ""UseAspNetCoreSharedRuntime" workaround doesn't work when updating TFM"
(Description stolen from https://github.com/dotnet/aspnetcore/pull/26788#issuecomment-710700038)

When we update the TFM, we're getting errors like the following:

Note the bad path to the .dll - it should be `C:\code\aspnet\aspnetcore\.dotnet\packs\Microsoft.AspNetCore.App.Ref\5.0.0-rc.2.20466.8\ref\net5.0\Microsoft.AspNetCore.Antiforgery.dll`. The cause of this is that we're now getting the refe

[2020-10-17 00:07] captainsafia opened #26993 "Explore alternatives for avoiding packaging shared framework into dotnet-watch package"
Instead of https://github.com/dotnet/aspnetcore/pull/24816, we should look into configuring the packaging for dotnet-watch so that only relevant files are copied, similar to what is done in the Blazor dev server.

[2020-10-17 05:32] davidfowl commented on #26955
We need to see the code. Can you share a repro with us?

[2020-10-17 08:07] Chewhern commented on #25801
Any method that I can use to solve this ?

[2020-10-17 08:23] chassq opened #26999 "Blazor Wasm - Shows Hosting Environment as Production when running locally."
In the attached project we see the Hosting Environment set to Production when running locally. Not sure what we may have done to cause this. When we create a Hosted Wasm project from a VS template the Hosting Environment comes up Development. We would expect the same from the attached project. I thought I read where a wasm client is supposed to default to Development when run locally. See: https:/

[2020-10-17 09:00] #26958 closed

[2020-10-17 09:35] RehanSaeed commented on #26625
Most of the feature requests seem to be Blazor related. While this is understandable due to it being a new technology, with respect to my fellow Blazor devs there are still those of us who don't use Blazor for various reasons that are not important. I hope that development time is not biased too much in favour of that technology to the detriment of core ASP.NET features that would help everyone du

[2020-10-17 11:00] #26959 closed

[2020-10-17 12:01] rishavs opened #27002 "Please seprate out Kestrel from ASP.net"
### Is your feature request related to a problem? Please describe.
I prefer creating web services in a language than in a framework, and an immense macro framework like ASP.net does not works for people like me. I'd rather have something akin to golangs net/http or node's express which allows me to focus on the language, and not on learning the framework.

### Describe the solution you'd like
For

[2020-10-17 12:20] csharper2010 commented on #26368
You should create a C# extension method that generates chunks of maximum 3 items out of your collection thus returning an IEnumerable<IEnumerable<T>> out of your IEnumerable<T>.

Then you loop over the outer items creating the divs with class innerParent. And inside you loop over the inner items creating the child divs.

[2020-10-17 12:43] tbonham commented on #26625
We need SAML2 and CAS add to.

[2020-10-17 12:51] davidfowl commented on #27002
cc @glennc @halter73

[2020-10-17 12:52] davidfowl commented on #27002
FWIW take a look at https://github.com/featherhttp/framework

[2020-10-17 13:27] MCCshreyas opened #27003 "Error while building aspnetcore repo"
# Describe the problem
So, I am following this (https://github.com/dotnet/aspnetcore/blob/master/docs/BuildFromSource.md) guide for building aspnetcore repo on local. So on step 3 when I ran `restore.cmd` from the command line (normal CMD, not PowerShell), am getting the following error screen after restoring. I have followed all the instructions and installed prerequisites as well, but not sure w

[2020-10-17 14:17] tbonham opened #27004 "SAML2 and CAS Auth"
## Add SAML2.0 and CAS authentication support to native asp core.

Please add SAML2 and CAS authentication to the natively supported auth types for ASP core.

There are very many old auth systems out there that still require that you use this for logins.

Thank you

[2020-10-17 15:00] #26915 closed

[2020-10-17 15:48] dennisbdannunzio-leonardo commented on #25274
This is a useful feature. But, the "support passing byte[]" in JS interop calls is a better generalization and more flexible approach.

[2020-10-17 16:27] papyr opened #27006 "Allow template option `Configuration.MultiTenancy.IsEnabled = true;` Global DataFilter for Tenant entities"
###  Please allow  `Configuration.MultiTenancy.IsEnabled = true;`  Global DataFilter for Tenant entities enabled/Disabled _options_.
ASP templates should be configurable to allow Global Data Filters projected on tenant specific data.

### There are many options as listed below, the default should allow something easy and quick for the developer to switch on.

1. Using database per tenant strategy

[2020-10-17 16:30] blowdart commented on #27004
What do you mean by CAS?

[2020-10-17 16:31] papyr opened #27007 "Auto Upgrade PartialView to ViewComponents or TagHelpers"
### Lot of the legacy code is lost from `partial views`, we need a feature to help auto upgrade partial views

### Cmd-line or `Right click on PartialViews` in the Folder and get a convert to `ViewComponents` or TagHelpers
A clear and concise description of what you want to happen. Include any alternative solutions you've considered.

[2020-10-17 16:32] #23993 closed

[2020-10-17 16:34] blowdart commented on #26275
Let me email IIS people

[2020-10-17 16:34] papyr commented on #26625
Auto Upgrade option **PartialViews to [ViewComponents](https://github.com/dotnet/aspnetcore/issues/27007#issue-723796935)**  Lots of legacy code is hung in the partials, we need to port that to the new `ViewComponents` or `TagHelpers `apps

[2020-10-17 16:39] tbonham commented on #27004
Central Authentication Service (CAS) [https://www.apereo.org/projects/cas](https://www.apereo.org/projects/cas)

CAS is a SSO technology that is used a lot in the EDU environment.

[2020-10-17 16:41] jelmerveen opened #27008 "Feature: Hosting multiple blazor spa's with shared base DLLs"
### Is your feature request related to a problem? Please describe.
I'm trying to 'merge' two seperate blazor apps together, more like multipage, so they all share the same base DLLs for the runtime. But both projects have a different SHA256 for the DLLs in the json file.

### Describe the solution you'd like
I would like to be able to re-use the DLLs necessary for the blazor runtime environment ac

[2020-10-17 16:58] LeviBickel commented on #26275
@blowdart Thank you!

[2020-10-17 17:00] #26813 closed

[2020-10-17 17:02] pranavkm commented on #27003
That error usually indicates that you do not have the VS pre-reqs installed. Did you follow the instructions listed here: https://github.com/dotnet/aspnetcore/blob/master/docs/BuildFromSource.md#step-2-install-pre-requisites?

[2020-10-17 17:06] pranavkm commented on #26990
@BrennanConroy do you know what area label this belongs to?

[2020-10-17 17:06] MCCshreyas commented on #27003
@pranavkm I do have Visual studio latest preview installed with required SDK and workload. And I think error is occurring while building some C++ specific stuff. But I do have C++ development workload installed.

[2020-10-17 17:11] blowdart commented on #27004
That's new to me. Given that it's the first request we've had it's unlikely we'd look at implementing another protocol without much more demand.

[2020-10-17 18:14] vertonghenb commented on #24916
Can be fixed quite easily if we add the `role="checkbox"`
[code]

[2020-10-17 21:29] Martin-Andersen opened #27012 "Input fields should not show null for empty strings"
### Is your feature request related to a problem? Please describe.
When I bind a string to an input control and the string is null the control shows null instead of nothing/empty
This is very annoying. When a user wants to create a new contact then first name, last name is null and showing null on the form.

Please correct this.

### Describe the solution you'd like
Don' show null for empty string

[2020-10-17 21:56] mrpmorris commented on #27008
Are you describing lazy loading, which is part of the upcoming Net5 release?

[2020-10-17 23:00] #26986 closed

[2020-10-18 00:00] #26988 closed

[2020-10-18 00:00] #26862 closed

[2020-10-18 01:02] user72356 opened #27015 "Blazor: Ability to set the JsonSerializerOptions.IgnoreNullValues property for JS Interop."
Blazor appears to have no mechanism to configure the global serialization/deserialization process when making JS Interop function calls. For instance I would like the ability to ignore null values, a facility provided by `System.Text.Json` via the [JsonSerializerOptions.IgnoreNullValues](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.jsonserializeroptions.ignorenullvalues?view=netcor

[2020-10-18 01:26] ar0311 commented on #26412
I'm seeing the same, can bind breakpoints on Mac w/ RC2 but not Windows

[2020-10-18 08:19] MeysamMoghaddam commented on #26845
Do you have a sample? Because I can not send messages to a specific user.But I easily send messages to everyone
[sample](http://pishtazan.bppir.com/Content/upload/bandicam%202020-10-14%2013-26-46-061.gif)

Please guide me further

[2020-10-18 09:15] Liander opened #27017 "Ability to declare child content that do not set aside component re-render encapsulation"
The re-render condition of a specified component is based on if any attribute value has changed, but that is set aside if you have declared child content (implicit parameter) to a component. That occurs even in cases when that content markup is static. In that case the component starts to re-render whenever the parent component renders independent of the state of any attribute set to the child.

T

[2020-10-18 09:17] Liander commented on #27017
@SteveSandersonMS I post this issue partly as a continuation to the conversation we had recently in #25356 regarding documentation of this. I feel it is a bit hard to have real discussions around design in the format of issue-tracking. I apologize if I left a lot of confusion and I hope this more extensive description will make things clearer. I would be very interested to hear your thoughts.

[2020-10-18 09:39] YohanSciubukgian commented on #26625
Concurrent frameworks can support a wider range of architectures (not sure if this list is exhaustive):
 - NodeJs support : x86 / x64 / arm32 / arm64 / ppc64le / ppc64be / x390x
 - OpenJDK support : x86 / x64 / arm32 / arm64 / ppc32 / ppc64le / s390x / sparcv9
 - AspNet core support : x89 / x64 / arm32 / arm64

please add support to more architectures such as ppc (32 & 64) : https://github.com/dot

[2020-10-18 09:48] redradist commented on #24434
@SteveSandersonMS Sometimes CSS is global for all components and cannot be passed to `*.razor.css` and due to this it is also hard to decide where to put loading CSS using import statement because this CSS is not related to some specific components and for this reason https://github.com/redradist/BlazorDependencies proper solution ...

... But due to that this solution is external not all user kno

[2020-10-18 10:12] jelmerveen commented on #27008
After reading the docs on lazy loading, It has similarities. But as I understand it's only within one blazor app?
I would like to run N blazor apps, which all share the common dll's between them.

To elaborate, if I scaffold 3 apps from template, the boot.json has different sha256 everytime. But I would think it should be idempotent (at least for the shared dlls required to run any blazor, e.g. sy

[2020-10-18 10:20] hodjaev opened #27019 "A blazor app behind ingress controller"
### Is your feature request related to a problem? Please describe.
I am trying to publish a blazor web app inside a container behind an ingress-nginx controller and the url looks like https://domain.com/blazorapp1. But some resources cannot be loaded since the app thinks that it works from the root of https://domain.com.
I have made changes in two files,
_Host.cshtml `<base href="~/" />` to `<base

[2020-10-18 11:06] carlingkirk commented on #25430
I was experiencing this issue - the "/signin-google" request was being served from index.html. The fix is to add the endpoint into the list of exclusions in `onFetch` in service-worker.published.js

In Client\wwwroot\service-worker.published.js:

[code]

[2020-10-18 11:11] zeinali0 commented on #4724
Is there any limitation for .pfx file we use in Kestrel?
Because i'm using a pfx file which is work fine on iis but when use it with kestrel it don't work:
[code]

[code]

[2020-10-18 12:35] blowdart commented on #27012
What UI is this? MVC / Razor Pages / Blazor?

[2020-10-18 14:22] TFTomSun commented on #26773
@nikonthethird I did all the required changes. I don't know if it could be related to the netstandard 2.0 projects. They reference some system assemblies and of course not in a 5.0.0-* version

[2020-10-18 14:37] TFTomSun commented on #26773
@nikonthethird @Robelind I can confirm that no _framework folder if I remove the Microsoft.AspNetCore.Components.WebAssembly.Build 5.0.0-* reference

[2020-10-18 15:12] SpiritBob opened #27021 "Extend OpenIdConnect middleware with an option to skip TokenValidation, or alternative solutions."
### Is your feature request related to a problem? Please describe.
I had a specific scenario, in which I needed to modify on a per-connection basis the parameters being sent to the identity provider for every OIDC request. I tackled that problem by using one of the provided events - `OpenIdConnectOptions.Events.OnRedirectToIdentityProvider`.

Naturally, that required to also subscribe to another e

[2020-10-18 15:18] mrpmorris commented on #27008
@jelmerveen Sounds like you want some kind of CDN, is that right? If so, you'd have to settle for DLLs that haven't been stripped down during the release build. Details on how to do that are here

https://docs.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/configure-linker?view=aspnetcore-3.1#control-linking-with-a-configuration-file

[2020-10-18 16:40] kraj09 commented on #24512
bro, you saved my life today, there was no Microsoft Visual C++ 2015 Redistributable. I just installed it and working well, thanks again

[2020-10-18 18:10] tndata commented on #26771
You can find my video here https://www.dropbox.com/s/58ekadklx5anufq/kestrel.gif?dl=0

Please download it if you want to keep it.

[2020-10-18 18:27] jelmerveen commented on #27008
@mrpmorris Thank you for your reply! I've read the article and this is again something for a single app.

Here are code snippets from 2 cleanly created blazor apps from a template in the latest visual studio community:

App 1
[code]
App 2
[code]

As you can see they both include a lot of the same DLLs, but they have other hashes, so the browser will download them again.
It's more of a multipage ap

[2020-10-18 18:31] CuddleBunny commented on #24916
@vertonghenb - that's a good idea. Though I think Blazor should support any scenario that the vanilla web would. It wouldn't be unfair to require that developers of custom elements set a role though, since that's best practice anyways.

[2020-10-18 20:42] simonziegler commented on #12959
I managed to resolve this with the help of a stack overflow posting (I lost it so cannot reference here. Do the following:

Put this at the top of the dockerfile:
[code]

Then after every `FROM mcr.microsoft.com/dotnet ...etc` make the next line this:
[code]

[2020-10-18 21:48] drma-dev commented on #25430
thanks. you save my life.

[2020-10-18 22:06] drma-dev commented on #25430
Although I am able to login, there is still an error when accessing a protected api. did you go through this?

[code]

[2020-10-19 01:43] kofifus opened #27022 "Identity as UI LoginModel+InputModelcode missing"
My project is using a scaffolding Identity as UI

If I reflect over all types:

[code]

the loop goes over a type called: `MyApp.Areas.Identity.Pages.Account.LoginModel+InputModel`

However if I search my project for "LoginModel+InputModel" it is not there.

If the code is missing then as far as I understand it should not be returned by ` Assembly.GetExecutingAssembly().GetTypes()`

Thanks!

[2020-10-19 02:03] richlander commented on #26625
Thanks for the feedback @YohanSciubukgian. Our plan is to support most/all mainline OSes and chip combinations. We now have that. At present, the only one we're really missing is Linux x86 (32-bit). That comes up quite seldom. The additional ones that you've mentioned come up even less. The community is free to add the more niche configurations that you'd mention, but I'm doubtful that will happen

[2020-10-19 02:57] craigajohnson commented on #18743
Gigantic upvotes for this capability

[2020-10-19 04:29] jeffputz opened #27023 "Blazor WASM may have memory leak when sending large files with HttpClient from InputFile component"
### Describe the bug
When I attempt to use an `InputFile` component and iterate over 10,000 files, and post them using `HttpClient`, the memory footprint of the tab grows until it crashes. The behavior is consistent in Chrome/Edge, but FireFox appears to aggressively wipe out chunks now and then when it gets close to running out of memory.

### To Reproduce
I'm working on a [personal music locker

[2020-10-19 04:58] KarloX2 opened #27024 "Blazor Components (like InputSelect, InputText) are rendered to HTML without scope identifier"
Working with .NET 5.0 RC2 I have the problem that components like InputText are rendered to HTML (from razor) without a scope identifier attribute. Not sure if _scope identifier_ is the correct term, what I mean is this:

A plain `<input type="text" ...>` in razor is rendered into e.g.: `<input class="form-control" type="text" b-p5ext164c4>`

whereas a `<InputText>` is rendered into the same HTML

[2020-10-19 05:01] luoxlgh opened #27025 "Default authentication scheme is excuted when AuthenticationSchemes is set to non-default scheme"
### Describe the bug
We have two authentication shemes named "custom1" and "custom2". The code is:
[code]
The controller code is:
`[Authorize(AuthenticationSchemes = "custom2")]`

The above authentication scheme would run into Custom1AuthJwtBearerEvents, and the authentication result is failed. But the result doesn't affect custom2's authentication result.

### To Reproduce

### Exceptions (if any

[2020-10-19 05:04] JamesNK commented on #26250
I'm reaching out to people to figure out where to put these docs and how to frame them.

[2020-10-19 05:12] Robelind commented on #26773
Could you please share how you solved it.

[2020-10-19 06:23] kochol opened #27027 "Blazor WASM preventDefault not work on Firefox"
### Describe the bug
I have a link in my Blazor app like below it works fine in server mode and when I switch to WASM it also works on chrome but it is not working on FireFox and redirect the page to the home page.
[code]

### To Reproduce
Create WASM project and test @onclick in an a tag on firefox. Maybe for firefox you have to return false to stop default behavior of clicks.

### Further techni

[2020-10-19 06:30] Joelius300 commented on #12685
This is the main issue I was facing in my original post. There doesn't seem to be a usable workaround and serializing everything multiple times isn't feasible for large objects. I'd love some clarity on this. Again, I'll happily submit a PR but as long as the discussion is ongoing, I don't think that is the next step.

[2020-10-19 06:58] KrisPetkov commented on #14271
@ajaybhargavb sorry for the late response. I will open an issue today

[2020-10-19 07:13] MeysamMoghaddam opened #27028 "SignalR token in java not work"
Followers of conversations in :
[what is "An Access Token" in SignalR Java client](https://github.com/dotnet/aspnetcore/issues/26845)

please check this [replay](https://github.com/dotnet/aspnetcore/issues/26845#issuecomment-711133733)

Please guide me further

[2020-10-19 08:26] kochol commented on #27027
It seems the onclick does not work at all in WASM mode on Firefox

[2020-10-19 08:58] ziadakiki commented on #26958
For future readers, I ended up implementing a state container (a similar concept to Vuex in VueJS) to store the common values that I'm looking to observe (instead of passing them as Parameters) and throwing events upon their changes. This is documented in [ASP.NET Core Blazor state management](https://docs.microsoft.com/en-us/aspnet/core/blazor/state-management?view=aspnetcore-3.1&pivots=webassemb

[2020-10-19 09:10] carlingkirk commented on #25430
@drma-dev Yes - unfortunately I had to set it explicitly in `AddIdentityServer` - see

[code]

[2020-10-19 09:37] prochnowc commented on #10615
@Tratcher Is there any plans to implement this ? I need to add federation for some authority which only supports credentials via authorization header.

[2020-10-19 10:16] julienGrd opened #27031 "[NET 5.0] Use SignarR server in console app (Sdk="Microsoft.NET.Sdk")"
Hello guys, i try actually to create a console app :
- which can expose signalr hub
- which can be deployed with clickOnce

I'm able to create a console app which expose signalr hub, the is a lot of examples, but the project need to be of type "Microsoft.NET.Sdk.Web".
With this type of project, it seem i don't have the wizard to deploy my app with clickOnce (maybe the problem is here)

If i create

[2020-10-19 10:47] SteveSandersonMS commented on #27017
Thanks for the suggestion.

On one hand, I'm not certain this is a great idea, because any component that receives a `RenderFragment` cannot really know whether its output is fixed or not. A `RenderFragment` is a `Delegate`, so it can do anything when you invoke it, and might make use of any mutable state to produce different outputs. That's why it's intentionally treated as a mutable parameter. I

[2020-10-19 10:55] madshaun1984 commented on #26813
Hi @mkArtakMSFT,

Apologies for the delay in response. I have tried this (prior / post opening this issue), yet the Access Denied prompt shown is still the one from the Microsoft.Identity.UI lib.

Could this be an error of some sort? As it seems your suggestion matches what I originally thought, yet in my case, its not working as expected.

Thanks!

[2020-10-19 11:12] YohanSciubukgian commented on #26625
Thanks for your answer. I don't know if it's possible but as you had merged mono in dotnet/runtime repo for .net 5, I had in mind to expose existing architectures initially developped for mono but with official Microsoft support.

[2020-10-19 11:17] SteveSandersonMS commented on #10170
@ionoy It's implemented as some MSBuild tasks, and you can tell MSBuild to run certain specific tasks without the rest of the build pipeline if you want. For example, `dotnet msbuild /t:SomeTaskName`.

We don't specifically document which MSBuild tasks are used internally within the build pipeline for CSS isolation. If you read [the sources](https://github.com/dotnet/aspnetcore/blob/master/src/Raz

[2020-10-19 11:25] HaoK commented on #22552
FYI these have all passed 100% in the last 30 days in quarantine 781/781, seems reasonable to set these free.

[2020-10-19 11:49] zeinali0 opened #27033 "Kestrel SSL doesn't work when running on Linux"
### Describe the bug
Is there any limitation for .pfx file we use in Kestrel?
Because i'm using a pfx file which is work fine on IIS even work fine when i run my application in visual studio with Kestrel but when use it with kestrel in linux it doesn't work and it couldn't do handshaking.

### To Reproduce
I just config a  simple SSL like this:
And run my app on Centos 8 with `dotnet MyApp.dll &`

[2020-10-19 12:14] DHOFM commented on #26633
Hi,
i am back right now and have sent you the files by mail, without credentials. Thanks a lot.

Kind regards,

Dirk

[2020-10-19 12:36] dazinator commented on #26536
Re-opened as I am still hitting this issue.

[2020-10-19 12:38] ionoy commented on #10170
@SteveSandersonMS Thank you for the suggestion! I'll give it a try, I think this solution should do nicely.

[2020-10-19 12:42] dazinator commented on #26536
![image](https://user-images.githubusercontent.com/3176632/96452422-e83caf80-1210-11eb-80e6-710327f76a56.png)

[2020-10-19 12:43] dazinator commented on #26536
![image](https://user-images.githubusercontent.com/3176632/96452521-099d9b80-1211-11eb-8184-6436d2652d3e.png)

[2020-10-19 12:45] Tratcher commented on #10615
@prochnowc no plans at present. Only a few providers have required it, and even they don't use standard implementations.

You can handle this today the same way they did for FitBit.
https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/aad5420654c65b5fb9908ddf298dbab17076338c/src/AspNet.Security.OAuth.Fitbit/FitbitAuthenticationHandler.cs#L66-L70

[2020-10-19 12:51] drma-dev commented on #25430
thanks

[2020-10-19 13:01] Tratcher commented on #26633
You've set the default scheme to `CookieAuthenticationDefaults.AuthenticationScheme`, but then added cookies with a different name: `.AddCookie("auth1")`. You get successfully signed in with the auth1 cookie, but then the app doesn't read that cookie when checking Authorize. Remove the name parameter from AddCookie so it uses the default and remove SignInScheme from AddOpenIdConnect so it also use

[2020-10-19 13:35] dazinator commented on #26536
I have searched the windows certificate store but I cannot find (under machine, or current user) such a certficate (i.e for localhost expiring on 25/07/2020)

[2020-10-19 13:36] blowdart commented on #27025
Which version of asp.net are you running?

[2020-10-19 13:37] blowdart commented on #27022
To be clear, you haven't scaffolded them out, but you still have the identity UI assembly present - is that correct?

[2020-10-19 13:41] blowdart commented on #27021
Skipping token validation seems a really bad idea, regardless of the use case.

To be clear about your actual use case, you want to adjust the token validation parameters (or really the service configuration) on a per request basis? Given that configuration affects more than a single request (the redirect out, and the validation back), what do you want to configure it on? Are you attempting some s

[2020-10-19 13:48] javiercn commented on #26536
@dazinator Can it be that you have some code that is loading an exporting version of the developer certificate you are not aware of?

I would recommend just in case cleaning up `%APPDATA%\ASP.NET\Https` and grabbing the thumbprint for the certificate and running `Get-ChildItem cert:\ -Recurse | where -Property Thumbprint -EQ <<thumbprint>>` on Powershell to try and find it that way.

Also, just to

[2020-10-19 13:54] javiercn commented on #27019
@hodjaev thanks for contacting us.

Couldn't you in that case pass in the value through IConfiguration and apply it to the two places where you need to change it? That way you could set the value in an environment variable when you boot the container.

[2020-10-19 13:55] javiercn commented on #27012
@Martin-Andersen thanks for contacting us.

As @blowdart mentions, what part of the stack are you using? I don't believe anywhere in our stack we have this behavior, but I might be wrong.

[2020-10-19 13:57] javiercn commented on #26990
@pranavkm putting this on MVC since we built it for Identity UI, we should obsolete it and remove it in the future since we recommend using Static Web Assets instead.

[2020-10-19 14:00] javiercn commented on #26939
@daemogar thanks for contacting us.

You should use `<link href="SampleHostedApplication.styles.css" rel="stylesheet" />` instead

[2020-10-19 14:03] javiercn commented on #26974
@BrunoBlanes thanks for contacting us.

This is by design. There are two assets that would end on the same "publish path" in the final project. The recommendation is that you choose which file you want to "win" and remove the other file.

[2020-10-19 14:04] DHOFM commented on #26633
Thank you very much. Now it works :) One more question, I expect Claims like name, given_name and so on. But I only get:
`http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier
b3f89e5b-edfc-41fb-9175-d168ecdb855a
http://schemas.microsoft.com/claims/authnclassreference
high
http://schemas.microsoft.com/claims/authnmethodsreferences
eid
http://schemas.microsoft.com/claims/authnmethods

[2020-10-19 14:05] BrunoBlanes commented on #26974
How do I do that? It used to compile without any problems in RC 1.
`favicon.ico` and `jsInterop.js` are files that I need for my application.

[2020-10-19 14:06] dazinator commented on #26536
Yeah we are using kestrel, we don't use the default port, we've changed it to 62808 under the launch profile:

[code]

Nope. The entry point looks fairly typical for an asp.net core application, we configure kestrel against the following config section:

[code]

Thanks - this has helped pinpont the issue.
I noticed there was a `pfx` file in this folder named after my project executable.
When I del

[2020-10-19 14:06] javiercn commented on #27024
@KarloX2 thanks for contacting us.

That happens because they are different components and aren't in scope of the component you are writing. You can target those elements by wrapping them in an element within your component and providing the appropriate CSS class.

[code]

[2020-10-19 14:08] javiercn commented on #27008
@jelmerveen thanks for contacting us.

Blazor apps are linked to reduce the size so it is hard/impossible to share the runtime unless you give up on linking. If you were to do that then you should be able to share the runtime dlls by loading them from a single source with a custom boot loader.

[2020-10-19 14:13] javiercn commented on #26974
@BrunoBlanes there are two favicon.ico files, which one of those two do you plan to serve from /favicon.ico? Just remove the other. as per the jsInterop.js i don't see you mentioned that file anywhere in the error, but the process is identical, if you have two files that will end up being served from the same path, you need to either serve one of those files from a different path or remove one of

[2020-10-19 14:18] javiercn commented on #26536
@dazinator might be, we only pick that cert as a last resource and it is typically used for containers, so at some point you used containers with this app and have a config key for the certificate password in your user secrets for the project which is what is triggering the app trying to load that cert. I'm not sure why that is taking precedence over the cert in the certificate store though.

[2020-10-19 14:20] BrunoBlanes commented on #26974
If I understood it correctly, the problem is that I have both `favicon.ico` and `jsInterop.js` on `Client/wwwroot` and `Server/wwwroot`. I removed it from the client and it now builds fine. I don't understand why this wasn't a problem before RC 2.

Will Blazor WebAssembly be able to retrieve those two files from the server now?

[2020-10-19 14:26] javiercn commented on #26974
@BrunoBlanes it was a problem before, the server files would always win (silently) over the client ones. There was a bug on the logic that failed to detect this case, and we fixed it on RC2.

I'm not sure why you have those two files on the same path (are you somehow copying) them via MSBuild or something else? (Are they the same files or are they different files?).

If they are different files an

[2020-10-19 14:29] BrunoBlanes commented on #26974
I was actually copying through webpack, I didn't stop to think that they would be at the same address and since I didn't get a warning before I thought it was fine.

Thanks for your help!

[2020-10-19 14:31] Tratcher commented on #26633
Yeah, that's a question for your provider.

[2020-10-19 14:34] hankovich opened #27035 "NullReferenceException is thrown by Microsoft.AspNetCore.Mvc.Testing.Handlers.RedirectHandler"
`RedirectHandler` [is added by default](https://github.com/dotnet/aspnetcore/blob/master/src/Mvc/Mvc.Testing/src/WebApplicationFactoryClientOptions.cs#L74) to a `HttpClient` produced by `WebApplicationFactory<TEntryPoint>`.

When the server returns a result with one the following codes

- 301 Moved Permanently
- 302 Found
- 307 Temporary Redirect
- 308 Permanent Redirect

but without a `Location`

[2020-10-19 14:38] dazinator commented on #26536
@javiercn

Yep, we have a particular build / debug configuration for running the app inside a container that we used in the past.

Yeah I am guessing this must be a bug. I'll leave this issue open but feel free to close if you think otherwise.

[2020-10-19 14:43] SpiritBob commented on #27021
@blowdart The use-case is in correlation with a multi-tenancy, yes. Right now, I get the tenant initially (in `OnRedirectToIdentityProvider` event) via accessing `HttpContext.Items` property, which contains an identifier I can use later, to get what I need.

But because the event `OnRedirectToIdentityProvider` is called in `HandleChallengeAsyncInternal`, and `OnAuthorizationCodeReceived` is called

[2020-10-19 14:52] dazinator opened #27036 "Blazor wasm - setting culture on startup errors"
I am upgrading a blazor wasm application that, previously set the culture on startup like this:

[code]

Since upgrading to RC2 this throws in the browser:

![image](https://user-images.githubusercontent.com/3176632/96467503-e4b22400-1222-11eb-8d35-95dcfc652534.png)

The solution indicates adding some property to the csproj to allow all globalisaton data to be loaded - it assumes if its being set

[2020-10-19 15:22] hankovich opened #27037 "Empty cookie header is added by Microsoft.AspNetCore.Mvc.Testing.Handlers.CookieContainerHandler"
CookieContainerHandler [is added by default](https://github.com/dotnet/aspnetcore/blob/master/src/Mvc/Mvc.Testing/src/WebApplicationFactoryClientOptions.cs#L78) to a `HttpClient` produced by `WebApplicationFactory<TEntryPoint>`.

It [adds a `Cookie` header](https://github.com/dotnet/aspnetcore/blob/c565386a3ed135560bc2e9017aa54a950b4e35dd/src/Mvc/Mvc.Testing/src/Handlers/CookieContainerHandler.cs#

[2020-10-19 15:23] atrauzzi commented on #26866
Hey @blowdart :wave:

This would be for multi-tenancy, similar in spirit to how we have to adapt CORS per-tenant.

 - The URI for the authority would be determined by searching the DB for configured domains for the current `host` header.
  - This means that it might be nice to inject a `DbContext` as well as potentially other services like a cache abstraction.  So something like an `IJwtBearerPoli

[2020-10-19 15:34] dazinator commented on #26536
.. and also just to confirm, the following user secret _is indeed present_ in the secret store:

`Kestrel:Certificates:Development:Password`

[2020-10-19 15:43] Domon87 opened #27311 "Request Cookie Key is truncated if contains @ (at character)"
# Issue Title

Request Cookie Key is truncated if contains @ (at character)

# General

In Request.Cookies i get all the cookies but the key is truncated if contains @ character.
For example, **MDL_testcookie@default.it** cookie name is truncated in **default.it** .

My workaround for this issue is for now to access the Cookie list using Request.Headers["Cookie"] and check the cookie string manual

[2020-10-19 15:59] SteveSandersonMS commented on #26882
Fixed in https://github.com/dotnet/aspnetcore/pull/26931

[2020-10-19 15:59] #26882 closed

[2020-10-19 16:06] blowdart commented on #27021
Are your endpoints publishing metadata? The reason I ask is that the jwt handler itself isn't ours, it belongs to aad and so we'd have to explore with them a way to better cache metadata on a tenant basis, which in turns needs a more standard way of defining a tenant, or a way to have a tenant specific pipeline, which is basically creating multiple handlers, because the overhead is in the cached t

[2020-10-19 16:09] blowdart commented on #26866
Multi-tenancy has been a much-asked for feature, which the team has pushed back on, pointing out that most people just want auth multi-tenancy and it would be better served by making auth multi-tenant aware. As the auth owner it's falling to me to look at where the effort should go. Can I ask what else in your app varies according to tenant? (for example, database connection strings, image urls, c

[2020-10-19 16:13] BrennanConroy commented on #27028
Does your auth token contain a `NameIdentifier` claim? How are you determining the "fromUserId" when calling `Clients.User(...)`?

You can read more about users in https://docs.microsoft.com/aspnet/core/signalr/groups?view=aspnetcore-3.1

[2020-10-19 16:21] mkArtakMSFT commented on #27027
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-10-19 16:29] mkArtakMSFT commented on #27015
Thanks for contacting us. This is a dupe of #12685
If you want, you can serialize the value as a string and send that (as a JSON object).

[2020-10-19 16:29] #27015 closed

[2020-10-19 16:30] mkArtakMSFT commented on #26999
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, we are not a general-purpose forum. To get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **blazor** tag.

[2020-10-19 16:30] #26999 closed

[2020-10-19 16:34] richlander commented on #26625
Great question. The Mono in dotnet/runtime is targeted at Android, iOS, and wasm.

[2020-10-19 16:35] BrennanConroy commented on #27031
You should be able to use Microsoft.NET.Sdk if you add `<FrameworkReference Include="Microsoft.AspNetCore.App" />` to your csproj.

I'm not familiar with the "clickOnce wizard" so if you want that to work you might have to find the owners of it and ask them.

[2020-10-19 16:35] Liander commented on #27017
Sure, but in this context, are you referring to the fact that the child component can re-render (upon user action and similar) without the parent has been rendered so any dynamic state change will not go through the content specified in parent component? Note that when the parent re-renders the content with its tree in the provider will obviously be updated and tested.
[code]
I actually think it i

[2020-10-19 16:37] mkArtakMSFT commented on #26954
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-10-19 16:38] mkArtakMSFT commented on #26946
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-10-19 16:40] atrauzzi commented on #26866
For what it's worth, I think I understand your rationale and I think it's sound when it comes to _"image urls"_ and _"favourite pair of pyjamas"_. Tenant-scope is something that comes right after request-scope, which is a clean line for anything that happens after the route is matched or the last non-Microsoft middleware is involved. :wink:

The problem is that ASP.net doesn't have all the extensi

[2020-10-19 16:43] mkArtakMSFT commented on #26907
Thanks for additional details, @mrlife.
It looks like there may be some misconfiguration with your Apache server. have a look at the [How to deploy](https://docs.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/server?view=aspnetcore-3.1) docs - they may help.

[2020-10-19 16:44] roysurles opened #27038 "WPF - CustomAuthorizationMessageHandler - 'ValueFactory attempted to access the Value property of this instance.'"
Describe the bug
Creating a CustomAuthorizationMessageHandler in .Net 5.0 RC2 throws exception: 'ValueFactory attempted to access the Value property of this instance.'

Steps To Reproduce

1) Create a new WPF .Net 5.0 RC2 project
2) Create a CustomAuthorizationMessageHandler class that is similar to the WebAssembly CustomAuthorizationMessageHandler, but inherit from DelegatingHandler
<code>
public

[2020-10-19 16:44] mkArtakMSFT commented on #26907
Closing this as there doesn't seem to be anything for us to do here.

[2020-10-19 16:44] #26907 closed

[2020-10-19 16:45] mkArtakMSFT commented on #26773
Glad that you were able to solve your issue, @TFTomSun.
We're closing this issue. Hope you can share some info with @Robelind as he has similar issue.

[2020-10-19 16:45] #26773 closed

[2020-10-19 16:47] mkArtakMSFT commented on #26945
Thanks for reporting this issue. We will see whether there is a way to slightly change the template to avoid this issue.

[2020-10-19 16:49] mkArtakMSFT commented on #27037
Thanks for contacting us, @hankovich.
Feel free to send us a PR if you think you have a solution. We will consider it.

[2020-10-19 16:50] mrlife commented on #26907
@mkArtakMSFT Thanks, I didn't realize Blazor had specific requirements beyond hosting ASP.NET Core apps.

[2020-10-19 16:53] HaoK commented on #22552
@pranavkm you want me to unquarantine these as part of my PR or did you want to investigate this at all?

[2020-10-19 16:53] pranavkm opened #27039 "feature “Control Startup class activation” doesn't work"
Help with feature “Control Startup class activation”
->

[code]
When I use Project Sdk=”Microsoft.NET.Sdk.BlazorWebAssembly”, I get error: ‘IHostBuilder’ does not contain a definition for ‘ConfigureWebHostDefaults’
When I set Project Sdk=”Microsoft.NET.Sdk.Web”, project see ConfigureWebHostDefaults, but project doesn’t work….

[2020-10-19 16:54] pranavkm commented on #27039
FYI @tatti9018. The announcement repo is not meant for general purpose issues.

[2020-10-19 16:56] captainsafia commented on #26945
It appears that this is an issue affecting other frameworks as well. There's a lengthy thread discussing this over on the react repo at https://github.com/facebook/react/issues/11538.

The issue seems to be related to the way that the Google Translate extension replaces text nodes on a page with `<font>` tags to facilitate translation. The React team did not pursue a fix because any fixes in the f

[2020-10-19 16:56] #26945 closed

[2020-10-19 17:00] tatti9018 opened #27040 "Blazor WASM feature “Control Startup class activation” doesn't work"
Blazor WASM   .NET 5 RC2
Help with feature “Control Startup class activation”
->

 var host = Host.CreateDefaultBuilder()
            .ConfigureWebHost(builder =>
            {
                builder.UseStartup(context => new Startup(logger));
            })
            .Build();
When I use Project Sdk=”Microsoft.NET.Sdk.BlazorWebAssembly”, I get error: ‘IHostBuilder’ does not contain a definitio

[2020-10-19 17:01] #27040 closed

[2020-10-19 17:02] JunTaoLuo commented on #18831
All of response caching APIs have been documented after https://github.com/dotnet/aspnetcore/pull/18968 and https://github.com/dotnet/aspnetcore/pull/26531 are merged.

[2020-10-19 17:02] #18831 closed

[2020-10-19 17:02] tatti9018 commented on #27039
Sorry for wrong place. Waiting for help

[2020-10-19 17:04] blowdart commented on #26866
Has anyone, Microsoft or otherwise pointed you at orchard which has been our "solution" for a while? If they have, did you look and find it unsuitable?

[2020-10-19 17:15] atrauzzi commented on #26866
Assuming it's this: https://www.orchardcore.net, This looks quite batteries-included to me.

---

Overall, I'd worry that there's too much to buy into here versus taking a more granular approach by leveraging sound extensibility in ASP.net.

 - Even if orchard itself claims to be modular, it's a long road to travel.
 - From a time-investment standpoint, past experience has taught me that you almos

[2020-10-19 17:55] TFTomSun commented on #26773
@Robelind I had several issues to fix.  Here is my working blazor app csproj:
[code]

- I missed to define the correct sdk (Microsoft.Net.BlazorWebAssembly ) in the project node
- I had to add the 2 Microsoft.AspNetCore.Component packages to the blazor app and to all projects that provide razor files.
- I had to overwrite some package versions to the 5.0.0-* that were referenced in some .net stand

[2020-10-19 18:11] blowdart commented on #26866
Wonderful. I'll put something together with our UX folks.

[2020-10-19 18:51] jaamison commented on #24618
Tracked it down to this: https://github.com/dotnet/aspnetcore/commit/65e7f7f44b5bf86d11e86e3cee70b85c56f23e76#diff-c09a7b0622d058c86ba9a1676b5c54dfe07101ced5fe769b4d5b3e433e036edeR59

I first noticed that the Location header was being set in the response, even though the status was 200 (should never happen). With that premature return, the redirect status code is never set and RewriteContext.Resul

[2020-10-19 18:59] daemogar commented on #26939
So why do I reference the main project when the scoped styles are in the RCL? Or am I missing something?

[2020-10-19 19:02] atrauzzi commented on #26866
@blowdart  - Sounds great. If I might add one small note, maybe even for your survey --  I think the `JwtBearerHandler` portion of this needs to be something that gets introduced within the next month.  Not a whole year from now for `6.x`.

Even as a separate implementation in its own nuget package that is allowed to grow and then graduated into `6.x` as the new default.

---

@terrajobst, if it's

[2020-10-19 19:05] blowdart commented on #26866
It can't/won't be a month. We haven't even completed 5.0.

Features needs prioritization against other issues, as well as looking at the time the AAD team has to work on things.

[2020-10-19 19:09] atrauzzi commented on #26866
Understood, and for what it's worth, I'm mostly aware of this limitation.

I'm just cross-referencing as I think this it's something that both .net and ASP.net need to address in a bigger picture way.

Although yes, for all intents & purposes, consider me eager to try anything to get through this today as right now I'm kind of dead in the water.  Open to suggestions.

[2020-10-19 19:10] blowdart commented on #26866
@Tratcher might be aware of some ugly work arounds. He's good like that.

[2020-10-19 19:15] atrauzzi commented on #26866
:pray: much appreciated.

[2020-10-19 19:33] mrlife commented on #26946
Thank you, I deployed the app and noticed that the issue isn't there on the hosted version, only on the local development version. Is there documentation on how the local render process is different from the server render process?

[2020-10-19 19:38] sebastienros commented on #26866
@atrauzzi

Here is a blog post on how to host a auth server based on OpenIddict with Orchard Core (no CMS), written by @kevinchalet
https://kevinchalet.com/2020/10/03/using-the-orchardcore-openid-management-feature-with-an-existing-openiddict-deployment/

Here is a repository with examples of modular or multi-tenant apps using Orchard Core (no CMS)
https://github.com/OrchardCMS/OrchardCore.Samples

[2020-10-19 19:46] atrauzzi commented on #26866
@sebastienros - I don't plan on using orchard and my openid connect server is a 3rd party solution (FusionAuth).

Is there something specific in these repositories that could be useful to me?

[2020-10-19 19:55] atrauzzi commented on #26866
So if I was dreaming, there would be some simple way to kick back into the flow of things:

[code]

[2020-10-19 20:29] HaoK opened #27042 "Consider moving away from Mock due to race conditions"
Followup to https://github.com/dotnet/aspnetcore/pull/27032#issuecomment-712419833

[2020-10-19 20:30] #24414 closed

[2020-10-19 20:34] HaoK commented on #25042
@pranavkm FYI this test has also behaved well in quarantine recently 789/789 100% last 30 days

[2020-10-19 20:35] HaoK commented on #25042
Any concerns with reenabling?

[2020-10-19 20:41] HaoK commented on #23992
Tracking with https://github.com/dotnet/aspnetcore/issues/25826 since these are all failing with the same root cause (dev cert issues)

[2020-10-19 20:41] #23992 closed

[2020-10-19 20:41] HaoK commented on #25826
Note: this also affects:
Templates.Test.BlazorWasmTemplateTest.BlazorWasmHostedPwaTemplate_Works
Templates.Test.BlazorWasmTemplateTest.BlazorWasmHostedTemplate_IndividualAuth_Works_WithLocalDB
Templates.Test.BlazorWasmTemplateTest.BlazorWasmHostedTemplate_IndividualAuth_Works_WithOutLocalDB

[2020-10-19 20:42] pranavkm commented on #25042
I think there's currently an issue with diagnostic dumps produced by the SDK tests not being captured as part of AzDo. We've seen evidence in the past of hangs in other parts of the build infrastructure (CLI \ msbuild), In the absence of these dumps, it feels problematic to re-enable these tests since we wouldn't have learnt any more information about why these are hanging.

We could dupe this as

[2020-10-19 20:46] HaoK commented on #20172
Will track as part of https://github.com/dotnet/aspnetcore/issues/25826

[2020-10-19 20:46] #20172 closed

[2020-10-19 20:52] HaoK commented on #25826
Note all of these tests seem to pass/fail together where roughly 2/3 of the time they pass and then the 3rd time they will fail.  Every 3rd build... @javiercn can you think of any reasons why the dev cert code would fail in this pattern?

[code]

[2020-10-19 20:54] HaoK commented on #25042
Yup, dupe is good, I'm just trying to clean up/consolidate some of these issues

[2020-10-19 20:54] #25042 closed

[2020-10-19 20:54] HaoK commented on #22552
Building_WorksWhenMultipleRazorConfigurationsArePresent should be tracked as part of this issue as well

[2020-10-19 20:58] Tratcher commented on #26866
It's worse than that. The auth system was not designed for multi-tenancy. The current design assumes you know all of your providers up front and that they don't change (much). It's not a matter of adding extensibility points until it's fully multi-tenant capable, we need a fundamentally new design and new components. That's why we recommend Orchard, it's tackled the multi-tenancy issues at an appl

[2020-10-19 21:05] kevinchalet commented on #26866
@atrauzzi you may want to take a look at https://stackoverflow.com/questions/52955238/how-can-i-set-the-authority-on-openidconnect-middleware-options-dynamically/52977687#52977687. It's for the OpenID Connect middleware, but it should work exactly the same way with the JWT bearer handler.

[2020-10-19 21:10] safihamid commented on #21703
FYI the fix is deployed everywhere now and this can be closed. Thanks

[2020-10-19 21:14] BrennanConroy commented on #27033
Can you turn on Debug logs and share them? Handshake errors generally wont show up for higher log levels.

[2020-10-19 21:17] halter73 commented on #27033
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1#configure-logging

[2020-10-19 21:39] BrennanConroy commented on #24557
Triage: We want to make the abort timeout internally configurable.

[2020-10-19 21:41] BrennanConroy commented on #23780
Closing, doesn't seem to have enough info and we don't see hangs in runs for the past few months.

[2020-10-19 21:41] #23780 closed

[2020-10-19 21:43] BrennanConroy commented on #21518
We believe this has been fixed, the Runtime issue was closed. These tests are likely ready for unquarantine.

[2020-10-19 21:43] #21518 closed

[2020-10-19 21:55] #21703 closed

[2020-10-19 21:58] kofifus commented on #27022
I did scaffold login, register and logout and I have the relevant pages/classes created, but I don't have `MyApp.Areas.Identity.Pages.Account.LoginModel+InputModel`

[2020-10-19 22:10] zeinali0 commented on #27033
logs:
[code]

[2020-10-19 22:48] JamesNK opened #27044 "Enable gRPC interop tests on Linux, MacOS"
As part of this PR - https://github.com/dotnet/aspnetcore/pull/25587 - the gRPC interop tests were disabled for Linux and MacOS.

Error on those OSes:

`System.BadImageFormatException: An attempt was made to load a program with an incorrect format.`

Temporary fix:

`<IsWindowsOnlyTest>true</IsWindowsOnlyTest>`

Problem is likely the Windows ASP.NET runtime is installed on Linux and MacOS in helix

[2020-10-19 22:55] pranavkm commented on #27036
Hi @dazinator, you can configure the WebAssembly application culture as part of Blazor.start:

[code]

https://github.com/dotnet/AspNetCore.Docs/pull/20231 covers adding this to our docs.

[2020-10-19 22:55] #27036 closed

[2020-10-19 23:17] TopperKain opened #27045 "Add user-secrets "get" command to CLI"
### Is your feature request related to a problem? Please describe.
I am trying to utilize user secrets in a CLI pipeline, but I cannot easily access a named secret via the command line.

My specific scenario is automating the ef core scaffolding of a database via the command line. I'd like to store my DB connection string in the development user secrets repository, set it to a variable, and then u

[2020-10-20 00:04] pranavkm commented on #26808
Hi @ondmal, in 3.0 or newer applications, with endpoint routing, authorization applied using `AuthorizeAttribute` is handled by `AuthorizationMiddleware`. This middleware executes before MVC and short-circuits the request on a failed auth. 5.0 adds a way to customize the handling of the response from this middleware, you could use that to configure the response: https://docs.microsoft.com/en-us/as

[2020-10-20 00:07] DamianEdwards opened #27046 "`dotnet watch` doesn't detect new files being added"
We have received reports that when using `dotnet watch` to monitor changes to a project, adding new files is not detected. We should investigate the extent of this issue (e.g. which operating systems, path depth, file types, etc.) and look at ways to fix it.

[2020-10-20 00:15] halter73 commented on #27033
[code]

That indicates that [SslStream.AuthenticateAsServerAsync()](https://docs.microsoft.com/en-us/dotnet/api/system.net.security.sslstream.authenticateasserverasync?view=netcore-3.1) got canceled after exceeding Kestrel's [HandshakeTimeout](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.server.kestrel.https.httpsconnectionadapteroptions.handshaketimeout?view=aspnetcore-3.1#Mic

[2020-10-20 00:30] zeinali0 commented on #27033
Yes, it take 10 seconds.
I don't think it is about network problem  because when I set up default SSL with `dotnet dev-certs https` and use Default it doesn't timeout and do handshaking.

[2020-10-20 00:46] halter73 commented on #27033
I also doubt it's a network problem. If the dev cert works, that points to a problem with the certificate.

When generating your certificate, did you follow the steps at https://devblogs.microsoft.com/aspnet/configuring-https-in-asp-net-core-across-different-platforms/#linux-mac? Kestrel has requirements about the cert having the right EKUs configured and stuff like that. Kestrel should fail to st

[2020-10-20 00:56] zeinali0 commented on #27033
It's not a self-signed certificate, I export .pfx file from IIS 10.
I've just test same code with same pfx file on another machine with higher version of dotnet-3.1 it worked fine

[code]

[2020-10-20 01:03] zeinali0 commented on #27033
I've not updated other machine yet. I will report the result when I done.

[2020-10-20 01:16] DamianEdwards opened #27047 "`dotnet watch run` should refresh the browser window when static files are changed"
Add support for `dotnet watch run` to refresh the browser window when changes to static files are detected.

- Default set of static files watched should include: `*.css`, `*.js`, `*.jpg`, `*.png`, `*.gif`
- Static files to watch should be configurable via existing mechanism in MSBuild (i.e. `<Watch />` item type and `watch` item metadata)
- When changes to configured static files are detected the

[2020-10-20 01:24] DamianEdwards opened #27048 "New `dotnet watch run` options should be configurable in the project file"
`dotnet watch run` added [new configuration options in .NET 5](https://docs.microsoft.com/en-us/aspnet/core/tutorials/dotnet-watch?view=aspnetcore-3.1#dotnet-watch-configuration). These are currently only configurable via environment variables. We should support setting these options via MSBuild properties, which could be set in the target project file. Values from MSBuild should override any valu

[2020-10-20 01:26] DamianEdwards commented on #25753
We're tracking a few items to improve this in an upcoming release:
- #27047 Refresh on static file change
- #27046 Ensure new files are detected
- #27048 Make new config options configurable via MSBuild

[2020-10-20 02:08] jaamison commented on #24618
As for the remaining issues, it looks like contention over a shared `StringBuilder` is to blame: https://github.com/dotnet/aspnetcore/blob/686150953f7ccd3f56afd4d7b2f0a934c3557a10/src/Middleware/Rewrite/src/Pattern.cs#L22

Logically speaking, we're building a new independent string each time a `Pattern` is evaluated, which implies a new `StringBuilder` instance locally within the `Pattern.Evaluate

[2020-10-20 02:20] zeinali0 commented on #27033
Updating doesn't fixed the problem I updated to version 3.1.9

[2020-10-20 03:39] captainsafia commented on #24922
This is resolved now.

[2020-10-20 05:18] joeloff commented on #24512
@blowdart yes, flagging it early as a requirement would be good. We've seen a few isolated cases where the install is executed inside a lockdown environment and this has caused issues because then folks have to go to another machine with outside access, download the redist, transfer it to the machine and then install it.

@leecow I wonder if we should put a note on the download page as well to cal

[2020-10-20 05:55] luoxlgh commented on #27025
aspnet core 3.1

The authentication result is always correct, but we fount it run into Custom1AuthJwtBearerEvents when debug.

[2020-10-20 06:44] MeysamMoghaddam commented on #27028
@BrennanConroy

yes
(Encoded string in this image is `Token` in `return Single.just(Token);`)
![jwt](https://user-images.githubusercontent.com/65253484/96548651-1b3b7d80-12bb-11eb-842c-5ca239bce29c.png)

"fromUserId" is Id in AspNetUsers table for example: 83fa5ceb-d57b-4d22-ac59-332a3a67e86c

And In Db

![AspNetUser](https://user-images.githubusercontent.com/65253484/96549360-3eb2f800-12bc-11eb-9

[2020-10-20 06:45] mpoiron commented on #12890
Unfortunately we didn't have time to try anything yet, I'll be sure to let you know if we figure it out when we do.

[2020-10-20 06:48] julienGrd commented on #27031
@BrennanConroy thank you it works perfectly !

[2020-10-20 06:48] #27031 closed

[2020-10-20 07:20] tatti9018 opened #27050 "How to set ServerCertificateCustomValidationCallback in Blazor WASM ?"
In Blazor Server side on Authentication I can write

[code]

How can I set ServerCertificateCustomValidationCallback in Blazor WASM(Oidc Authentication)?

Because options haven't similar properties in OidcAuthentication

[code]

[2020-10-20 08:07] patryk9200 commented on #27033
I have exactly the same problem.
I have OpenSSL 1.1.1f  31 Mar 2020 installed on linux  Ubuntu 20.04.1 LTS server.
This issue happens on Kestrel with and without using Libuv. Without Libuv site is unusable.
With libuv it's usable but still sometimes there are issues with SSL.
Below is my exceptions:
`fail: Microsoft.AspNetCore.Server.Kestrel[0]
      Unexpected exception in TimingPipeFlusher.Flush

[2020-10-20 08:28] patryk9200 commented on #26771
I think it is duplicate and the same issue as in #27033.

I have OpenSSL 1.1.1f  31 Mar 2020 installed on linux  Ubuntu 20.04.1 LTS server.
This issue happens on Kestrel with and without using Libuv. Without Libuv site is unusable.
With libuv it's usable but still sometimes there are issues with SSL. It is crashing a lot.
NET.Core is in self-contained mode. Compiled with NET Core SDK version: 3.1.

[2020-10-20 08:31] sarat801 opened #27052 "Prerendering timed out after 30000ms because the boot function in 'ClientApp/dist-server/main.js' returned a promise that did not resolve or reject. Make sure that your boot function always resolves or rejects its promise. You can change the timeout value using the 'asp-prerender-timeout' tag helper."
ASP.NET Core 3.1 + Angular universal
1. run work on build Dev
            app.UseSpa (spa => {
                spa.Options.SourcePath = "ClientApp";
                spa.Options.StartupTimeout = TimeSpan.FromSeconds (180);
                spa.UseSpaPrerendering (options => {
                    options.BootModulePath = $"{ spa.Options.SourcePath }/dist-server/main.js";
                    options.B

[2020-10-20 08:35] javiercn commented on #27050
@tatti9018 thanks for contacting us.

You don't have control over those settings when you are in a Browser context, what are you trying to achieve by doing that?

[2020-10-20 08:39] dazinator commented on #27036
That works, thanks for a quick turnaround!

[2020-10-20 08:40] zeinali0 commented on #27033
@patryk9200, In my case i don't get any error it just timeout handshaking

[2020-10-20 08:49] patryk9200 commented on #27033
@zeinali0 Sometimes I've got timeout too.
I pretty sure it's the same issue.
Depends if I use Libuv or not I get similar exceptions like you. Try use Libuv and check what happens.

You have to add ```webBuilder.UseLibuv();``` like that:
[code]
and add nuget package Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv.

[2020-10-20 08:50] patryk9200 commented on #26771
@BrennanConroy If it would help I can give you temporrary access to server and code to look at this.

[2020-10-20 08:54] majorimi commented on #26838
With .NET5 RC2 it seems to be working even with Blazor WebAssembly. Did not get any error. But `VS 2019 Intelligense` does not show this event handler only `onfucus`:

![image](https://user-images.githubusercontent.com/7632824/96559039-d4e71e00-12bc-11eb-91a0-9dfa046d0d49.png)

[2020-10-20 08:57] SteveSandersonMS commented on #26838
@majorimi It's not clear to me that what you're posting here is the same thing as this issue. Instead of posting here, could you please file a new issue giving a clear description of what you're doing (since it's likely totally different)?

[2020-10-20 08:58] zeinali0 commented on #27033
but for me at the same time it work on other machine with same version of openssl without Libuve enabled

[2020-10-20 09:01] patryk9200 commented on #27033
@zeinali0 interesting. Same code, same compilation, distribution and version, all up-to-date?
That would be weird if it would be machine dependent.

[2020-10-20 09:04] zeinali0 commented on #27033
On first machine dotnet 3.1.2 didn't work
Then I test it on Other machine with dotnet 3.1.7 it worked
I update first machine to dotnet 3.1.9 but it still not working

[2020-10-20 09:45] JulienM28 opened #27053 "Built-in Idenity Server"
As Identity Server seems to become the standard for .Net SSO,
It could be good to have a Microsoft Identity server.

[2020-10-20 09:46] JulienM28 commented on #26625
Built in Identity Server #27053

[2020-10-20 09:47] sunliusi commented on #22186
Websocket applications migrate from Windows to Linux, and this happens occasionally

[2020-10-20 10:00] MichaelPeter opened #27054 "Visual Studio Intellisense for Web Component (custom-element.json) [Blazor]"
Hello aspnetcore Team,

I wanted to ask if there is intellisense support for html web compontents in Visual Studio (non code)

We are working with some designers who build us a design system with html web components, the same which are
used in FAST in this Community Standup:
https://www.youtube.com/watch?v=sYTH_xYH3iA&list=PL1rZQsJPBU2St9-Mz1Kaa7rofciyrwWVx&index=2

The components work excellent,

[2020-10-20 10:09] SteveSandersonMS commented on #27017
It sounds to me like you want the diffing system to change how it passes `RenderFragment` parameters so that, when there is a `RenderFragment` parameter, we first evaluate (render) it into some temporary buffer and compare its output with the previous render output. And then we treat that parameter as changed only if its output changed.

If so that's an interesting idea but:

 1. It would only wor

[2020-10-20 10:16] javiercn commented on #27054
@MichaelPeter thanks for contacting us.

This is not something that our team directly works on. I would suggest that you file this issue through the [Visual Studio suggest a feature dialog](https://docs.microsoft.com/en-us/visualstudio/ide/suggest-a-feature?view=vs-2019) as it will be routed to the right team and placed in the right channels so that other users can show interest and you'll get a b

[2020-10-20 10:17] #25716 closed

[2020-10-20 10:23] SpiritBob commented on #27021
Sorry, could you define "publishing metadata"?

I think the only thing that varies per tenant are the connection strings, which is probably the biggest difference for any multi-tenant application.

[2020-10-20 10:32] dantronik-markus opened #27055 "Loading iframe within blazor app re-loads all the DLLs from the server even when iframe contains static HTML only"
### Describe the bug
I have an iframe inside my razor component. I set the iframe's source dynamically, depending on certain parameters of the component. Whenever the iframe's source gets changed, the relevant Blazor DLLs get reloaded from the server, despite there not being any need for that because it's just a static HTML page rendered from an API endpoint.

### To Reproduce
Add an iframe inside

[2020-10-20 10:47] DHOFM commented on #26633
One more question I see a options.ClaimActions.MapUniqueJsonKey Extension in the Documents but I have no such extension - ClaimAction has only an add Method, am I missing something or is it removed?

[2020-10-20 11:34] kursatarslan commented on #26625
IdentityServer Token Manager

[2020-10-20 11:44] zeinali0 commented on #27033
network monitor on machine which **handshaking work fine**:
[code]
network monitor where **handshaking not working**:

[code]

[2020-10-20 12:00] MCCshreyas commented on #27003
@captainsafia

[2020-10-20 12:30] DHOFM commented on #26633
Hi, I use this way now, I think it is not the correct way, but it works:
`   o.ClaimActions.Add(new UniqueJsonKeyClaimAction("birthdate", "birthdate", "birthdate"));`

It's that what MapUniqueJsonKey should do...

[2020-10-20 12:42] dantronik-markus commented on #27055
The reloads do not appear in Chrome's Network tab, however, they're shown in the Debug view of Visual Studio when debugging.

I can't tell whether this issue also occurs for a published application.

[2020-10-20 13:00] tatti9018 commented on #27050
Api uses self signed certificate.

[2020-10-20 13:01] JulienM28 opened #27058 "FxCop error report"
[code]
In this case FxCop will return a CA1062 error:Validate arguments of public methods
But the ModelState can't be valid if the model is null.

So there's something to do here.

[2020-10-20 13:02] patryk9200 commented on #27033
@zeinali0 yes, Kestrel does use OpenSSL on linux. It's exactly why I think it's the same problem.

[2020-10-20 13:35] blowdart commented on #27021
Providers don't have to give you the keys you use for validation, that doesn't work in any real world scenario where keys rotate. There is a standard metadata url that jwt issuers can use which exposes the keys being used to sign the jwt.

[2020-10-20 13:53] majorimi commented on #26838
@SteveSandersonMS: I was trying out `@onfocusout` event with a very similar code as your example above. Run it in a Blazor WebAssembly (not server side) project and I received the events without exceptions. So just confirmed bug was fixed...

Also my point was if this event is supported by Blazor and works perfectly, why Visual Studio 2019 Intelligense is not offering it when I'm typing `focus` ke

[2020-10-20 14:03] LeonSpors opened #27060 "[Blazor] Virtualize component has to render the placeholder in the first render cycle"
### Describe the bug
The placeholder is not shown after the first render cycle.

### To Reproduce
See [this repo](https://github.com/LeonSpors/br-blazor-virtualize-placeholder-render).

### Further technical details
- .NET 5 RC2
- VS 2019 Preview 16.8.0 Preview 4
[code]

[2020-10-20 14:30] SteveSandersonMS commented on #26838
Yes please, in this repo.

[2020-10-20 14:44] voroninp opened #27061 "Allow combining authorization policies in Authorize attribute same way how it works with roles."
`Authorize` attribute allows to specify multiple roles which work with OR-semantics. Unfortunately, there's only `Policy` property rather than `Policies`.

Policy defines requirements with AND-semantics. OR-semantics for single requirement can be implemented with multiple handlers. However, there's no option to easily combine policies in OR-mode.

For example, we want to check that user is Adminis

[2020-10-20 14:50] majorimi opened #27062 "VS 2019 with .NET5 RC2 `@onfocusout` event works but not shown by Intelligense"
With .NET5 RC2 `@onfocusout` seems to be working even with Blazor WebAssembly. Did not get any error. But `VS 2019 Intelligense` does not show this event handler only `onfucus`:
As you can see on that screenshot Intelligense has 1 result for `@onfocus` however it should match with 2 items: `@onfocus` and `@onfocusout` as well.

![image](https://user-images.githubusercontent.com/7632824/96559039-d4

[2020-10-20 15:00] #27008 closed

[2020-10-20 15:13] captainsafia commented on #27003
Yeah, this one is gnarly. I've run into it before on a Windows machine where I had multiple versions of VS installed. Some things that you can try:

1. Verify that MSBuild is installed (it should be).
2. Set the `VCTargetsPath` environment variable to a path where the build files associated with the C++ workload can be found. This will usually be in the Visual Studio folder in Program Files. You c

[2020-10-20 15:22] Tratcher commented on #26633
They're extension methods so you need the right `using` namespace to include them.
https://github.com/dotnet/aspnetcore/blob/f54b590804ecacc328d9050ee1bdbaede9fb57a1/src/Security/Authentication/OpenIdConnect/src/ClaimActionCollectionUniqueExtensions.cs#L8

[2020-10-20 15:32] DHOFM commented on #26633
Wow i was of the opinion, I included all necessary namespaces, sorry for this stupid question. Works perfectly now, thanks a  lot 👍

[2020-10-20 15:35] Tratcher commented on #26633
No stupid questions, only stupid computers 😁.

[2020-10-20 15:37] javiercn commented on #25354
Here is the content for this:
Server-side Blazor adds an embedded file provider to the Static files static provider within configuration to serve the files Blazor server applications need to run.
If you need to customize the file provider used by the static files middleware, we recommend you do this through `services.Configure<StaticFileOptions>(options => { ... })` or that alternatively you plug-

[2020-10-20 15:37] user72356 commented on #12685
Honestly I don't see much of a debate anymore, looks like 1 year ago @danroth27 was leaning towards "customizing serialization options per JS invocation.", and then put the idea on the backburner forever. But at least initially your idea seemed to garner interest and wasn't outright rejected.

I'm wondering what alternatives we have than to customize the options per invocation. We can't customize

[2020-10-20 15:40] icesasoftcorp commented on #23154
hi,
I have the same problem any solution, i am sending 2860 rows and 9 columns.

[2020-10-20 15:44] StevenRasmussen commented on #12685
FWIW - I already have a PR open (#22317) for some time now but haven't received any MS feedback on it.  The implementation is pretty straight forward... not sure what the hang up is.  Would love to hear something on it either way.

[2020-10-20 16:03] Joelius300 commented on #12685
@StevenRasmussen I know, I've actually already commented on it a while back and still stand by the points I made then. Also, if you want to use it, you'll need to rebase it because there are now conflicts.

[2020-10-20 16:03] Hazzamanic commented on #12890
@mpoiron I have a set up working though I haven't had a chance to use it much yet to verify how well it is going to work.

So I'm using vue cli 4.3 and .net core 3.1. I am not using vuejs as a spa, but rather embedding into specific razor pages that work as mini apps. I'm basically proxying requests to the webpack dev server. We use an internal library for the proxying but I've tested it with this

[2020-10-20 16:06] zeinali0 commented on #27033
I finally find the problem.
It was related to NTP service which probably openssl or kestrel server depends on it.
Our server is local and doesn't have access to internet so NTP service couldn't get synchronized.
After we opened internet for a while and NTP service got synchronized (`System clock synchronized: yes`), the problem solved.
[code]

[2020-10-20 16:06] #27033 closed

[2020-10-20 16:08] Tratcher commented on #26919
In fact you should _never_ be calling BuildServiceProvider as it messes up the service lifetimes.

So what this new generic options extension unblocks is this?
[code]

Which you could mostly do today, but you'd need to check the options names first?
[code]

[2020-10-20 16:11] Krangth opened #27064 "blazor client awaited methods not executed after first await"
### Describe the bug
`OnAfterRenderAsync` exits before the all code executes. Only the first line I await is ever executed. If I add `await Task.Delay(1000);` as the first line of code then the code works correctly. If I add it as the last line of code then it has no affect and the code returns to only the first await executing.

    protected override async Task OnAfterRenderAsync(bool firstRende

[2020-10-20 16:25] StevenRasmussen commented on #12685
@Joelius300 - Yes, thanks for your comments... and I agree with them.  I was hoping for some MS feedback before proceeding with making any changes... and you're correct, since it's been so long I'll need to rebase and resolve any conflicts.  I'm happy to put forth the effort to do so but was hoping for some official feedback as to whether the PR had any merit before investing the time.

[2020-10-20 16:28] Joelius300 commented on #12685
That's why I think it's best to put off opening the PR until the discussion here is done :)

[2020-10-20 16:32] BrennanConroy commented on #27028
What is `predicate.Type == "sub"`? Are there actually any claims that match that? If you used the default (which uses `NameIdentifier`) then you would probably see it working.

Also, have you added `[Authorize]` to your Hub class?

[2020-10-20 16:33] captainsafia commented on #27064
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-10-20 16:35] BrennanConroy commented on #26771
@patryk9200 your issue looks unrelated, please file a new issue if you want us to look at it.

[2020-10-20 16:36] captainsafia commented on #27060
@LeonSpors Can you share what behavior you expect here?

[2020-10-20 16:40] captainsafia commented on #27055
@dantronik-markus Does this issue only occur when you are debugging via Visual Studio? Are you able to repro when you run the app via Ctrl + F5.

Also, can you share a repro project?

[2020-10-20 16:43] captainsafia commented on #27039
@tatti9018 Can you share what you're trying to do here?

[2020-10-20 16:44] captainsafia commented on #26946
There's no difference between rendering on a deployed application or an in-development app. Other factors might be affecting the performance of your app when running locally.

[2020-10-20 16:44] #26946 closed

[2020-10-20 16:45] captainsafia commented on #27050
@tatti9018 If you're deploying your application to production, you'll need to make sure that the certificate is trusted.

For local development, you can try trusting the local cert on your machine. Alternatively, you can try running Edge with web security checks disabled by running the `edge.exe –ignore-certificate-errors`. **Note: this is only for development. Don't use this browser for anything

[2020-10-20 16:45] #27050 closed

[2020-10-20 16:48] captainsafia commented on #27058
@terrajobst Can you transfer this to the dotnet/rosyln-analyzers for their input on this?

[2020-10-20 16:48] StevenRasmussen commented on #12685
I think that can be true in many instances... my hope was that by putting forth something concrete that it would in itself further the discussion.  Clearly that hasn't happened so I guess we wait until this gets enough exposure for MS to take notice.  Looking at the comments it appears that this is merely a discussion between fellow outsiders without any real feedback/input from MS.  The last comm

[2020-10-20 16:49] mrlife commented on #26946
@captainsafia Please elaborate, if possible. The database is the same for local and deployed in this case. I have checked across Safari, Chrome, Firefox, and Opera and see the difference.

[2020-10-20 16:56] captainsafia commented on #27042
We discussed this during triage. In order to effectively remove these issues in our tests, we would need to remove _all_ instances of `Mock` in our test suite, which is an expensive task.

An alternative consideration is to fix this issue (https://github.com/castleproject/Core/issues/193) in CastleCore, but it's difficult to create a reliable repro for this situation.

Considering this doesn't hap

[2020-10-20 16:57] captainsafia commented on #27042
cc: @BrennanConroy We discussed this during triage and figured you'd like to know what we discussed.

[2020-10-20 17:00] #27024 closed

[2020-10-20 17:10] bancroftway opened #27065 "Blazor Wasm: Virtualize component making 3 initial calls to ItemsProvider instead of 1"
When using Virtualize component with ItemsProvider, I have noticed that the ItemsProvider is always called 3 times on the first render. This may be slightly excessive if we are calling an api inside the ItemsProvider.

As an example, I have a collection of 15000 items. On first render, the Virtualize component made 3 calls into the ItemsProvider:
1. Request Count=20, Start Index=0
2. Request Count

[2020-10-20 17:14] Pilchie commented on #26965
@pranavkm Is there an update here? Today is the last day for changes for 5.0 without starting to affect schedule.

[2020-10-20 17:34] pranavkm commented on #26965
Sorry, we discussed this on Monday and we think updating our docs to call out this new behavior seems sufficient.

[2020-10-20 17:58] BrennanConroy opened #27068 "[SignalR] Follow redirects with Fetch"
When we switched from `XMLHttpRequest` to `Fetch` we unintentionally stopped redirects from happening. 302s and 307s worked before but don't now.
https://github.com/dotnet/aspnetcore/blob/f54b590804ecacc328d9050ee1bdbaede9fb57a1/src/SignalR/clients/ts/signalr/src/FetchHttpClient.ts#L94

[2020-10-20 18:15] osagga commented on #26919
Oh no, I guess I should address this soon, thanks for the heads up, any more documentation about what exactly is wrong with calling `BuildServiceProvider`?

Yes

I'm honestly not too familar with named options, I know they exist, but I kinda tried to avoid using them, its also not clear what name will be passed to the options when configured, is it `authenticationScheme`, `displayName` from this e

[2020-10-20 18:28] Tratcher commented on #26919
The name passed in would be the authenticationScheme.

[2020-10-20 18:29] Tratcher commented on #26919
An new extension like this wouldn't be added until at least 6.0, a year from now, so let's see what can be done with named options first.

[2020-10-20 18:29] MichaelPeter opened #27070 "Blazor <a href> link in ShadowDOM causes page reload, correct way to redirect from href="javascript:"?"
Hello AspNetCore Team,

I use a Html WebComponent for Navigation from our Design System which internally generates a

<a hef="SublinkA/SublinkB"

My browser shows me: localhost:55003/SublinkA/SublinkB as URL, localhost:55003 is my blazor webassembly page

If I press the <a> link, Blazor does not route internally but instead the page gets reloaded to the new location.

Now if I put the Link into Bl

[2020-10-20 18:32] pranavkm commented on #27058
FYI @mavasani.

[2020-10-20 18:42] mavasani commented on #27058
CA1062 is a generic rule which does not understand project/platform specific public APIs that guarantee non-null input from all callsites. In general, all public APIs can be invoked with null inputs, hence the CA1062 violation here is by design.

[2020-10-20 18:57] Krangth commented on #27064
ehh, okay. That will take some time. I was hoping the answer would be simple for why things were not being awaited. I'll reply again in a few days when I've had time to isolate the code.

[2020-10-20 18:58] longhornleads opened #27071 "JavaScript Sample Request for Common Blazor Needs"
### Is your feature request related to a problem? Please describe.
We have been working on a Blazor server-side project and every once in a while despite our best efforts we have to fall back to javascript to solve some common problems.  A great example of that is is to discover the browser size and get notifications of resizing so we can specifically modify markup as needed (when CSS is not enoug

[2020-10-20 19:00] #26939 closed

[2020-10-20 19:16] javiercn commented on #27071
@longhornleads thanks for contacting us.

We've been tracking some of these things and we've been adding explicit support for some of them, some examples are our work on 5.0 to make list virtualization or file uploads more accessible.

That said, it is important to note that we can't ship a solution inbox for every single problem users will face, and that relying on the Blazor ecosystem to solve t

[2020-10-20 19:23] TanayParikh commented on #21121
VSTS Tracking Issue: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1236414

[2020-10-20 19:23] bradlis7 opened #27074 "Add asp-append-version support to video > source HTML tag"
### Is your feature request related to a problem? Please describe.
I'd like to use asp-append-version for video > source tag, but it doesn't work for this tag.

### Describe the solution you'd like
Here's the markup I am using.

[code]

Make it work as it does on an `<img>` tag.

### Additional context

[2020-10-20 19:33] javiercn commented on #26536
For future reference, reading up the code, seems like we prefer the certificate file if we find the key on the settings.

[2020-10-20 19:36] MeysamMoghaddam commented on #27028
ok It was not needed and I removed it.
in hub class `Context.UserIdentifier` is "UserId" And it works properly in web.
But it still does not work properly in Java.

no

Please provide an example

[2020-10-20 19:55] jaamison commented on #18555
Happy to take a crack at this if at all helpful. Looks like there are several other little quirks throughout the apache compatibility subsystem that break parity with apache itself that I'd be happy to submit PRs for.

[2020-10-20 19:59] pranavkm commented on #26965
Docs added as part of https://github.com/dotnet/AspNetCore.Docs/pull/20243.

[2020-10-20 19:59] #26965 closed

[2020-10-20 20:01] vijayrkn commented on #26965
@pranavkm - is this the short-term plan or the long term plan as well?

[2020-10-20 20:24] mattchidley opened #27075 "System.Text.Json deserialization of arrays with various types"
We're trying to migrate from Newtonsoft to System.Text.Json

We have a test case which checks the roundtrip of serializing an object and then deserializing that result, and comparing the deserialized result back to the original object.

The object in question is:

`new object[] { 1.1, 23.0, "sdfsd" }`

In both Newtonsoft and System.Text.Json, this is serialized into:

`"[1.1,23,"sdfsd"]"`

When de

[2020-10-20 20:51] Kaelum commented on #26955
It will take me a few days to get you an application to replicate this, but I can share the method where it is occuring:

[code]

I am using the following to filter out the exceptions as defined by this issue.  When using a DEBUG build, it always logs "false":

[code]

The **GetMemory** and **Advance** methods are periodically throwing exceptions that should not be possible.  Here are some new exc

[2020-10-20 20:52] LeonSpors commented on #27060
I do expect that it shows the placeholder first. Or could you provide an option to configure this behavior?

[2020-10-20 20:54] snebjorn opened #27078 "Make IViewComponentHelper easier to use"
### Is your feature request related to a problem? Please describe.
I want to render a ViewCompoent as an HTML string. The Razor template engine is pretty powerful and awesome! So I want to leverage that power to generate a HTML string instead of doing

[code]

Using `return ViewComponent(...)` inside a controller is pretty simple. However if you want to move the logic to a service things get weird

[2020-10-20 21:08] jelmerveen commented on #27008
@javiercn Thank you for pointing that out, I'm going to experiment with the custom bootloader!
Good to know they are already slimmed down.

[2020-10-20 21:15] pranavkm commented on #26965
@vijayrkn unless we hear otherwise, we're going to recommend using this flag in user's projects.

[2020-10-20 21:41] rosenbjerg commented on #27075
I personally think that the System.Text.Json solution seems is more useful, and it can easily be mapped to the Newtonsoft result using something as simple as `result.Select(element => (object)element.Value).ToArray()`. Boxing the values resulting in an object[].
I don't think using arrays with elements of various types (or javascript tuples) for communicating with APIs is that common, nor do I thi

[2020-10-20 21:46] timheuer opened #27080 "Placeholder not showing in virtualized content"
### Describe the bug
When using `<Virtualize>` with `<Placeholder>` the placeholder content is not rendering despite the whitespace of the yet-to-be-virtualized content showing.

### To Reproduce
Repo: https://github.com/timheuer/BlazorPlaceholderBug - is a modified default template adding more to the weather data service and changing `FetchData.razor` to use `Virtualize`

### Further technical de

[2020-10-20 22:04] rasaconsulting-sandy commented on #22911
I'm having this same issue - has anyone found a fix for it?  I can provide my logs too if it would help?

[2020-10-20 22:22] DamianEdwards opened #27081 "`dotnet watch run` shouldn't disable the browser refresh logic injection on Linux"
`dotnet watch run` today disables the logic that facilitates the auto-browser launch and refresh feature when running on Linux, as determining the browser to launch isn't straightforward on Linux (on Windows and Mac we can just `Process.Launch` the URL and the OS does the rest).

Assuming the appropriate config value is present in the `launchSettings.json` file, `dotnet watch run` should still wir

[2020-10-20 22:43] #26249 closed

[2020-10-20 22:52] RobertBouillon commented on #13452
For anyone looking for a client-side workaround:

[code]

[code]

[Browser support](https://developer.mozilla.org/en-US/docs/Web/API/Window/unhandledrejection_event)

This is a critically important feature for a production application and I wouldn't feel comfortable releasing an application where I couldn't control the application's behavior in the event of an unhandled error, or at least be able

[2020-10-20 23:19] BrennanConroy commented on #12102
Brain dump:

IL2CPP:
* Doesn't support value types with `System.Linq.Expressions` https://forum.unity.com/threads/are-c-expression-trees-or-ilgenerator-allowed-on-ios.489498/#post-3667969
* link.xml is needed to avoid over trimming

MessagePack:
* MessagePack non-generics doesn't seem to work even though the issue is closed https://github.com/neuecc/MessagePack-CSharp/issues/869
* MessagePack has

[2020-10-20 23:36] BrennanConroy commented on #26291
Can't repro locally, don't see anything obvious that would cause this, info provided in issue is incomplete, we ideally want the full server logs, the exception logged is expected for this test.

It's also possible full logs wont help since the timeout is at the very end of the test when closing the connection and I don't think there are any logs for the associated code.

[2020-10-20 23:43] NTaylorMullen opened #27082 "16.9-Preview1 - Validate VSCode Razor tooling on Windows"
## Instructions
It's up to you to validate all features, if applicable, done in the [16.9-Preview1](https://github.com/dotnet/aspnetcore/issues?q=is%3Aissue+milestone%3A16.9-Preview1+is%3Aclosed+label%3Afeature-razor.vscode)  (not just your own). Given that this is tooling validation, features and bug fixes should be relatively easy to validate given they don't require complex setups to ensure som

[2020-10-20 23:45] NTaylorMullen opened #27083 "16.9-Preview1 - Validate VSCode Razor tooling on Mac"
## Instructions
It's up to you to validate all features, if applicable, done in the [16.9-Preview1](https://github.com/dotnet/aspnetcore/issues?q=is%3Aissue+milestone%3A16.9-Preview1+is%3Aclosed+label%3Afeature-razor.vscode)  (not just your own). Given that this is tooling validation, features and bug fixes should be relatively easy to validate given they don't require complex setups to ensure som

[2020-10-20 23:47] NTaylorMullen opened #27084 "16.9-Preview1 - Validate VSCode Razor tooling on Linux"
## Instructions
It's up to you to validate all features, if applicable, done in the [16.9-Preview1](https://github.com/dotnet/aspnetcore/issues?q=is%3Aissue+milestone%3A16.9-Preview1+is%3Aclosed+label%3Afeature-razor.vscode)  (not just your own). Given that this is tooling validation, features and bug fixes should be relatively easy to validate given they don't require complex setups to ensure som

[2020-10-20 23:49] dougbu commented on #26992
Microsoft.AspNetCore.Watch.BrowserRefresh.csproj is the only project left using this workaround in #26788. That project is probably fine because it targets `netcoreapp3.1`.

Is this issue intended to track restoring the dotnet-watch and dotnet-watch.Tests projects❔ Or, is this about finding a better workaround❔

[2020-10-20 23:52] NTaylorMullen opened #27085 "16.9-Preview1 - Validate Razor tooling in Visual Studio Codespaces, Local & LiveShare"
## Instructions
It's up to you to validate all features, if applicable, done in the [16.9-Preview1](https://github.com/dotnet/aspnetcore/issues?q=is%3Aissue+milestone%3A16.9-Preview1+is%3Aclosed+label%3Afeature-razor.vs) (not just your own). Given that this is tooling validation, features and bug fixes should be relatively easy to validate given they don't require complex setups to ensure somethin

[2020-10-20 23:53] wtgodbe commented on #26992
Finding a better workaround so this doesn't happen next time we bump the TFM

[2020-10-21 00:00] #26942 closed

[2020-10-21 00:34] dougbu commented on #16859
@wtgodbe and @mmitche I've been chatting w/ @hoyosjs about this issue. The https://github.com/dotnet/diagnostics repo uses `dotnet-install` to install ASP.NET runtime bits. They're currently unable to run tests with our RTM bits -- though they did test up to RC2.

Do we have any runway to fix this before locking down release/5.0 completely❔ If not, we should try to get a fix into 5.0.1 and re-enab

[2020-10-21 00:44] dougbu commented on #26992
I'm pretty sure when we updated from `netcoreapp3.1` to `netcoreapp5.0`, this workaround was fine. @dsplaisted @wli3 has the logic in the .NET SDK changed significantly since then❔ (Thought @wli3 said we didn't need to fix `%(Path)` metadata for 3.1.)

Because dotnet-watch.csproj also set `$(DoNotApplyWorkaroundsToMicrosoftAspNetCoreApp)`, the fix would likely be in eng/Workarounds.targets. @wtgod

[2020-10-21 04:02] captainsafia commented on #26946
The issue might be related to specific code in your application or other processes running on your machine that are affecting perf.

If you think this is an issue with Blazor, please open an issue with a repro project for the issues.

[2020-10-21 04:38] wjkhappy14 opened #27086 "what is NonShipping ?"
C:\Program Files\dotnet\sdk\5.0.100-rc.2.20479.15\NuGet.targets(131,5): error : “F:\aspnetcore\artifacts\packages\Debug\NonShipping\”not exist 。 [F:\aspnetcore\AspNetCore.sln]

[2020-10-21 04:43] daemogar commented on #26939
The issue was not resolved.

[2020-10-21 05:54] danroth27 commented on #26858
Another idea is to port https://aka.ms/aspnetcorebugrank to Blazor.

[2020-10-21 06:25] SpiritBob commented on #27021
Thank you, I'm using Identity Server 4, which provides a metadata endpoint, as per OpenID Connect specifications. Likewise, the OIDC middleware that I've created to handle multi-tenancy is for Okta, which too offers a metadata endpoint, which you can get to by only knowing the authority. I'm altering the authority per OIDC request for Okta, as every tenant has their own Okta OIDC configuration.

[2020-10-21 06:29] RickStrahl commented on #27046
I got a PR for this recent in my LiveReload repo and added it in there. Basically the original code I had didn't check for directory creation or new file creation although files would be picked up after initial creation.

This PR addressed those scenarios:

https://github.com/RickStrahl/Westwind.AspnetCore.LiveReload/pull/30

[2020-10-21 06:39] RickStrahl commented on #27047
Regarding Refreshing non-HTML content there are some odd browser behaviors that AFAIK can't be worked around due to the way the caching works.

This isn't a solution, but some observations I've found in my Live Reload component (using the same mechanism):

* Static HTML File changes are detected and will auto-refresh, so that works fine typically
* CSS, Image and sometimes script files will often

[2020-10-21 07:33] mahdisml commented on #26625
WebSocket performance improvement

[2020-10-21 07:38] xamadev commented on #26932
Thanks @blowdart and @Tratcher, the CallbackPath was the problem. "/Login" is pointing to a content page, so leaving the CallbackPath at its default value solved the issue. Don't know why it worked before with that configuration in ASP.NET Core 2.2.

[2020-10-21 07:38] #26932 closed

[2020-10-21 08:35] javiercn commented on #27086
@wjkhappy14 thanks for contacting us.

That means artifacts that we generate as part of the build but aren't "shipped" in the sense they are not distributed through nuget or the SDK or other means.

[2020-10-21 08:36] nfplee commented on #23154
@icesasoftcorp I ended up having to say:

[code]

[2020-10-21 08:39] javiercn commented on #26939
@daemogar we produce a bundle file as part of the build that includes any scoped css within the app + the scoped css from the class libraries in the form of imports.

You can choose to reference the RCLs CSS directly by using `_content/SampleRazorClassLibrary.styles.css` but that'll force you to list each of the files individually.

[2020-10-21 09:08] tatti9018 commented on #27039
I created Blazor Client side project - template base on .net 5 rc2
and I want to use feature “Control Startup class activation” -> https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-5-release-candidate-1/#control-startup-class-activation

[2020-10-21 09:28] ylabade opened #27088 "Allow Rfc6238AuthenticationService time-step size and time-step window to be configurable"
Hello,

I have some security concerns regarding the default value of 3 minutes for time-step. It seems very long.
In addition allowing variance of two steps ahead and behind make the window even larger.

[RFC](https://tools.ietf.org/html/rfc6238) recommends a time-step size of 30 seconds and a time-step window of less than 10 minutes.

[2020-10-21 09:49] dantronik-markus commented on #27055
Yes, the issue only occurs when debugging via VS. The published app is not suffering from the issue, as confirmed by looking at the IIS Server logs.

I'll try to set up a repro project.

[2020-10-21 09:59] tanvrkhan opened #27089 "Error: 'GetAuthenticationStateAsync was called before SetAuthenticationState.'"
**Description**
Error: 'GetAuthenticationStateAsync was called before SetAuthenticationState.'

**To Reproduce**
Inject AuthenticationStateProvider in service class, then try to indirectly access this class using another dependent class. I can use IHttpContextAccessor but that doesnt work when application is published.

**Exceptions**
Error: 'GetAuthenticationStateAsync was called before SetAuthen

[2020-10-21 10:05] aredfox commented on #25758
Is there a workaround, or other solution meanwhile that can be promoted whilst it is in process of enhancement @SteveSandersonMS / @mkArtakMSFT? Thanks!

[2020-10-21 11:51] davidfowl commented on #12102
cc @jkotas for awareness (AOT stuff)

[2020-10-21 12:31] szalapski commented on #19925
Also need domain hint in addition to login hint.  Would you reconsider prioritizing this?  It would be a very easy enhancement, just exposing the hint fields that already exist upstream.

As it is now, users get a suboptimal experience of an extra unnecessary "choose your account"  prompt when logging in.  I can hear it now "Stupid site! I'm already logged in!"

Issue came from https://stackoverfl

[2020-10-21 12:32] szalapski commented on #19925
"affected-very-few" seems dubious.  It affects very few because very few are using Blazor for sites that require auth.  This one would be a barrier to increased adoption.

[2020-10-21 13:00] #27054 closed

[2020-10-21 13:17] mmitche commented on #16859
Even with fixing this, it would not help. We do not update the aka.ms links for a stable build. This is because we're going to produce the same version of the runtime, aspnetcore, etc. over and over again. Furthermore, you can't use the standard nuget package feeds to exercise the stable bits anyway. FYI 3.1 also didn't update 'latest' on the equivalent infra in that release (installer's copy to l

[2020-10-21 14:13] mysteryx93 commented on #26915
Here's a video showing the issue. Pay attention to the dropdown list text alignment on the last page, and I'm showing all the styles applied.

[BlazorCss.zip](https://github.com/dotnet/aspnetcore/files/5416492/BlazorCss.zip)

[2020-10-21 14:51] #27037 closed

[2020-10-21 14:52] bmoteria commented on #26144
For reference, you are required to have at least one scoped css file (MainLayout.razor.css) like @BruceHunter mentioned in order to avoid `404 - Failed to load resource` console error.

[2020-10-21 15:19] daemogar commented on #26939
@javiercn Okay, that would be good, except it does not work. I still get a 404 using your suggestion. I did this later suggestion and still get a 404.

As a side note, I have already tried these before posting this issue.

[2020-10-21 15:56] dhebbler opened #27095 "DataAnnotationsValidator throws AmbiguousMatchException when there are hidden members"
### Describe the bug
We have a Blazor server side application that throws AmbiguousMatchException when editing values.

The DataAnnotationsValidator throws an AmbiguousMatchException when it encounters an object that has hidden members.  This exception is thrown when you edit the input and the validator responds to the NotifyFieldChanged.  The validator uses reflection to determine validation attr

[2020-10-21 15:59] IanKemp opened #27096 "Microsoft.AspNetCore.Mvc.ModelBinding.ModelAttributes is public but its constructors are not"
### Is your feature request related to a problem? Please describe.
I have developed a custom implementation of `IModelMetadataProvider` that extends `EmptyModelMetadataProvider` and overrides the `CreatePropertyDetails` method to modify the list of attributes that are returned on model properties. In order to accomplish this, I need to create my own instances of `ModelAttributes` that contain the

[2020-10-21 16:00] #26633 closed

[2020-10-21 16:06] mclose90 opened #27097 "Blazor WASM : .NET 5 RC2 : Looking for non referenced native DLLs. Resource has been Blocked"
### Describe the bug
We recently upgraded our working project to .NET 5 RC2 from .NET 5 RC1 and without any code changes began to see the error in the screenshot provided. The only change that we made was to update the .NET version. These Lua dlls are native windows c++ dlls that we use from one library on select projects but are not ever loaded by the one in question.

This issue only presents it

[2020-10-21 16:17] mkArtakMSFT commented on #27095
Thanks for contacting us. We will try to address this in the future. For now, try to remove the `new` keyword if you can when declaring the `OrderId` property - maybe by renaming to something else?

[2020-10-21 16:20] mkArtakMSFT commented on #27089
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-10-21 16:23] mkArtakMSFT commented on #27080
@timheuer it looks like you're trying to render an already-loaded list in your virtualize component. To virtualize consider specifying the `ItemProvider` instead. That will allow you to virtualize the loading of the items.

[2020-10-21 16:24] SteveSandersonMS commented on #27080
I think the reason why you sometimes see whitespace while scrolling is just that it takes some nonzero time to render each chunk of data. We can get the real item data there just as fast as we could get the placeholder there, so there's no reason why we'd use the placeholder - we just show the real data as fast as possible.

[2020-10-21 16:31] mkArtakMSFT commented on #27070
Thanks for contacting us.
Just to clarify, did you resolve this issue?
If not, please provide a minimal repro app and we can try to investigate it then.

[2020-10-21 16:39] ahmed007boss commented on #8393
This will be very important feature when it comes to component design , hopefully  it could be there very soon

[2020-10-21 16:39] mkArtakMSFT commented on #27039
Thanks for the details, @tatti9018.
`Startup` is not a concept we use in Blazor WebAssembly apps. As a result, the referenced content is not applicable to Blazor WebAssembly.
Can you share more details why you're trying to use that approach in your app?

[2020-10-21 16:42] mkArtakMSFT commented on #27096
Thanks for contacting us. This is not something we plan to do, as it adds more fragile extensibility areas to the framework.

You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2020-10-21 16:42] #27096 closed

[2020-10-21 16:50] mkArtakMSFT commented on #27058
Thanks @mavasani .

@JulienM28 based on @mavasani  response above consider not using FxCop in your project.

[2020-10-21 16:50] #27058 closed

[2020-10-21 16:51] strawberries73 commented on #17840
Hello, I am new to Open Source.  I would like to work on this issue.

[2020-10-21 16:52] javiercn commented on #26397
@pranavkm this is done now

[2020-10-21 16:52] IanKemp commented on #27096
I thought the whole point of a framework was extensibility.

Clearly I was wrong.

[2020-10-21 16:54] irdublu commented on #5614
I've just hit this error - again.  A 'solution' I have used before is to close the solution, delete the bin and obj folders and the vs file then reload.  This time VS is refusing to clear down 5 errors that are all in one line in a component called Schedule.razor.g.cs.  Nothing I do clears this.
Anyone any ideas please?

[2020-10-21 16:54] SteveSandersonMS commented on #27060
I think the reason is that `<Virtualize>` doesn't know the size of the scroll area until *after* the first render (because that's the first time when an element exists so we can measure its size). As such it doesn't know how many items to render until after the first render cycle, and thus it doesn't render any, and hence there are no placeholders to show. So overall it sounds like it's by design,

[2020-10-21 16:55] #18774 closed

[2020-10-21 16:57] #26397 closed

[2020-10-21 16:59] mkArtakMSFT commented on #22946
Closing as we will address the behavior on the Analyzer instead.

[2020-10-21 16:59] #22946 closed

[2020-10-21 17:22] LukeOrdelmans opened #27098 "UnauthorizedAccessException path 'Application Data' in Razor.VSCode on startup"
### Describe the bug
UnauthorizedAccessException in Razor.VSCode server immediately upon starting VSCode

### To Reproduce
1. Start visual studio code
2. Check 'output' window

### Exceptions (if any)
[code]

### Further technical details
- ASP.NET Core version

`Razor.VSCode version 6.0.0-alpha.1.20479.2`

- Include the output of `dotnet --info`

[code]

- The IDE (VS / VS Code/ VS4Mac) you're ru

[2020-10-21 17:30] mustafasadikot opened #27099 "Cannot use Scoped dependencies in HealthCheck services"
Hi Team,

I have a factory(IDomainScopeFactory) that provides EF core contexts based on settings that I set from a middleware. The factory and other providers are registered as scoped services in the startup.cs.

I want to create a HealthCheck service(AddSystemHealthChecks) that uses the same factory for creating contexts. Hence I have added them as dependencies in my HealthCheck provider. I have

[2020-10-21 17:34] Pilchie commented on #9020
And the IIS support is now in the latest Windows Insider builds announced [here](https://blogs.windows.com/windows-insider/2020/10/21/announcing-windows-10-insider-preview-build-20241/).

We're investigating whether it will be possible to backport these changes to servicing build, but that is still up in the air.  As of now, the only plan of record is that they will be in future releases.

[2020-10-21 17:36] mrdav1111 commented on #20360
I would like to make the changes suggested by @SQL-MisterMagoo and write an E2E test too.

[2020-10-21 17:36] tatti9018 commented on #27039
Thanks for answer. I misunderstood this feature.

[2020-10-21 17:38] captainsafia commented on #20360
@mrdav1111 Thanks for offering to help. This issue is still available to work on. You can take a look at our [contributing docs](https://github.com/dotnet/aspnetcore/blob/master/CONTRIBUTING.md) for info on how to get started.

[2020-10-21 18:18] ryanbrandenburg opened #27100 "Handle HTML '!' and don't yellow-bar on unexpected SyntaxKinds in TagHelperSemanticRangeVisitor"
Currently if you do something like `<!input/>` in a razor file you will get a yellow-bar in VS because the TagHelperSemnaticRangeVisitor doesn't know what to do with that type and throws a `NotImplementedException`. Firstly we should handle the `!` properly, and secondly let's do a more gentle `Debug.Fail` instead of a `NotImplementedException`. That way if we don't know what to do with a SyntaxKi

[2020-10-21 18:33] dibarbet commented on #27082
@NTaylorMullen the O# release is listed as tbd - do you know when that is expected to be available?

[2020-10-21 18:37] majorimi opened #27101 "Tabs/spaces from the ASP.NET Core Razor Language Services options are not respected"
I'm facing several issues when editing `.razor` files which contain HTLM markup and C# code as well in Visual Studio 2019. Most of the problems occur when editing the `@code { }` block.

Issues:

- VS ignores TAB settings I'm using "Keep tabs" setup and in some cases it works but sometimes new lines inserted with spaces
- Indentations work really hectic as well, writing open and close braces `{ }`

[2020-10-21 18:40] #26476 closed

[2020-10-21 19:10] strizzwald commented on #21472
Hi, can this be changed in future releases? Seeing this log message is quite confusing while debugging auth issues because there is no way to tell whether or not they are related to that log message.

[2020-10-21 19:21] TanayParikh opened #27102 "@{ block format on type adds New Line on pressing ';'"
![BracketNewLine](https://user-images.githubusercontent.com/14852843/96770718-8eb1bd80-1395-11eb-9727-67c2cb514d97.gif)

I was anticipating either:

1. Final space added-> `@{ Debugger.Launch(); }`
2. Both new lines

[code]

[2020-10-21 20:07] BrennanConroy commented on #27028
Can you provide a sample app please.

Also, collecting a network trace and server-side logs would be helpful. https://docs.microsoft.com/aspnet/core/signalr/diagnostics?view=aspnetcore-3.1

[2020-10-21 20:11] BrennanConroy commented on #26955
We can't figure out how the exceptions are occurring from this method alone unfortunately. Looking forward to a repro app.

[2020-10-21 20:19] snebjorn commented on #27078
If anyone have some insight into what's going on with the multithread issue, then I'm all ears :)
https://stackoverflow.com/questions/64465484/threading-issue-when-using-iviewcomponenthelper-to-convert-viewcomponent-to-html

[2020-10-21 20:39] pranavkm opened #27105 "API templates unnecessarily install JwtBearer and OpenIDConnect packages"
Run `dotnet new api`. Open the generated csproj

**Expected**

We should have a single reference to the Swashbuckle package

**Actual**

The template includes JwtBearer and OpenIdConnect packages

[2020-10-21 20:42] timheuer commented on #27080
@mkArtakMSFT I'm just following the docs :-) https://docs.microsoft.com/en-us/aspnet/core/blazor/components/virtualization?view=aspnetcore-5.0#placeholder

There is no indication that `Placeholder` should only be used with ItemsProvider where the items are also virtualized.

I recommend
- [ ] Update the docs to make clear that `Placeholder` really is only useful with ItemsProvider @danroth27
- [ ]

[2020-10-21 20:42] BrennanConroy commented on #21183
@davidfowl Do we believe this issue can be closed now for 5.0?

[2020-10-21 21:34] hoyosjs commented on #16859
@mmitche it's complicated® using darc given we test several versions on one branch. We have to depend on a non shipping asset so the version doesn't get stabilized, but to be fair we do that for the latest branch (in this case, we consider it to still be 5.0). This is for arcade's dotnet-install mechanisms (global.json and the install scripts in the common directory). For stabilized builds @MattGa

[2020-10-21 21:43] vertonghenb commented on #11960
Is there a possible workaround for this?

[2020-10-21 21:43] mmitche commented on #16859
We could enable aka.ms links for stable builds, but I'm pretty nervous about that. Anyways, it's still good to do this work item..so that we could easily enable 'latest' links.

[2020-10-21 21:46] pranavkm commented on #23397
These tests were re-enabled after observing they haven' been failing for > 1 month. The tests now use `dotnet test` hang features to detect hangs and capture crash dumps.

[2020-10-21 21:46] #23397 closed

[2020-10-21 21:46] pranavkm commented on #25931
These tests were re-enabled after observing they haven' been failing for > 1 month. The tests now use `dotnet test` hang features to detect hangs and capture crash dumps.

[2020-10-21 21:46] #25931 closed

[2020-10-21 21:46] pranavkm commented on #23756
These tests were re-enabled after observing they haven' been failing for > 1 month. The tests now use `dotnet test` hang features to detect hangs and capture crash dumps.

[2020-10-21 21:46] #23756 closed

[2020-10-21 22:19] dougbu commented on #11329
/ping @mavasani @sharwell

[2020-10-21 22:21] dougbu commented on #26397
@javiercn, @JunTaoLuo, and @pranavkm does this mean we can remove the `$(NoWarn)` setting for CS1591 errors and get rid of `<NoWarn>$(NoWarn.Replace('1591', ''))</NoWarn>` overrides❔

[2020-10-21 22:22] dougbu commented on #12067
See resolution of #26397

[2020-10-21 22:26] JamesNK commented on #26397
We should explore inverting it so there is no CS1591 in NoWarn by default. Remove CS1591 from top-level msbuild NoWarn and remove the NoWarn overrides. There will be projects where it needs to be added back (e.g. all test projects)

[2020-10-21 22:28] dougbu commented on #12963
Thank you for your feedback. We're closing this issue as the questions asked here have been answered. If you're still having issues, please reopen this issue.

@javiercn that is _not_ to say everything is perfect w/ WSL and our repo. I suggest the Department of Infrastructure cover an issue to improve our documentation to help users ensure they aren't using (say) the Windows version of `javac` in

[2020-10-21 22:28] #12963 closed

[2020-10-21 22:29] dougbu commented on #13689
Thank you for your feedback. We're closing this issue as no updates have been provided in a timely manner and we have been unable to reproduce the issue. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2020-10-21 22:29] #13689 closed

[2020-10-21 22:30] hoyosjs commented on #16859
Sure. I'm not too interested in the `latest` behavior. In fact I'd be warry because stable builds have a version that would be conflicting with other builds. I mostly care for a fully-qualified download with dotnet-install using the version parameter that can support public and private storage usage for stabilized assets.

[2020-10-21 22:31] davidfowl commented on #21183
Sorta, but I need to merge this https://github.com/dotnet/aspnetcore/pull/24935 for it to be done done

[2020-10-21 22:31] pranavkm opened #27106 "Consider enabling CS1591 in AspNetCore by default for src projects"
This check ensures every public API has a XML doc associated with it. As part of https://github.com/dotnet/aspnetcore/issues/26397 we enabled this in a fair majority of the projects in the repo. For 6.0 we could invert it so that projects have to opt out of this. This should help us narrow down projects missing documentation and correct them.

[2020-10-21 22:32] dougbu commented on #13836
/ping @sebastienros and @davidfowl

Has this issue been resolved❔ If not, what work is still required and who should do it❔

[2020-10-21 22:32] pranavkm commented on #26397
The NoWarn we have in the project files was to workaround an Arcade default: https://github.com/dotnet/arcade/blob/4873d157a8f34f8cc7e28b3f9938b32c642ef542/src/Microsoft.DotNet.Arcade.Sdk/tools/ProjectDefaults.props#L94. We could follow @JamesNK suggestion and apply the workaround by default while letting individual projects undo it. Filed https://github.com/dotnet/aspnetcore/issues/27106 to track