[2015-09-29 08:49] davidfowl commented on #958
On Windows?

[2015-09-29 08:52] gvx111 commented on #958
Yes

[2015-09-29 08:54] davidfowl commented on #958
There's tons of ways to set it. Did you search online for how to set environment variables on windows?

[2015-09-29 08:54] jjkopmels commented on #800
@Daniel15 sure:

System.IO.FileNotFoundException was unhandled by user code
  FileName=Microsoft.Framework.Runtime.Abstractions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
  FusionLog==== Pre-bind state information ===
LOG: DisplayName = Microsoft.Framework.Runtime.Abstractions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
 (Fully-specified)
LOG: Appbase = file:///C:/Users/jan/

[2015-09-29 08:56] gvx111 commented on #958
I must add from Advanced System settings -> Environment Variables after i must add in System Variable? Is it correct way?

[2015-09-29 08:59] davidfowl commented on #958
It's a way, I don't recommend disabling the check machine wide unless you actually know what you're doing. If you want to disable it on the command line you can type set `DNX_NO_MIN_VERSION_CHECK=1`. Assuming you understand the consequences.

[2015-09-29 09:01] gvx111 commented on #958
How set from command line?

[2015-09-29 09:03] gvx111 commented on #958
oh sorry thank you man :)

[2015-09-29 13:12] Anderman opened #959 "Missing CDN file(s) glyphicons-halflings-regular.woff2"
[code]

[2015-09-29 13:24] NeelBhatt commented on #959
I guess this is not Asp .Net issue. It is a Bootstrap issue.

https://github.com/twbs/bootstrap/issues/9925

Some solutions:

http://stackoverflow.com/questions/18369036/bootstrap-3-glyphicons-are-not-working

http://stackoverflow.com/questions/29747963/how-to-get-glyphicons-working-in-twitter-bootstrap

http://stackoverflow.com/questions/18245575/bootstrap-3-unable-to-display-glyphicon-properly

[2015-09-29 13:58] Anderman commented on #959
I don't think so.

The CDN of (`https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css`) has no problem downloading this file

and also bootstrap version 3.3.2 on microsoft cdn `http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.3/fonts/glyphicons-halflings-regular.woff2`
is available

[2015-09-29 17:13] Daniel15 commented on #800
@jjkopmels That's a different error, it's because the current release version of ReactJS.NET  only supports beta 6. The version in the repo supports beta 7 but you need to build it yourself at the moment. I'll post a beta 7 update soon.

[2015-09-29 17:27] Daniel15 commented on #800
I just uploaded ReactJS.NET 1.5.5 which supports beta 7 :)

[2015-09-29 17:45] Eilon commented on #959
@rustd can you take a look?

[2015-09-29 17:47] #958 closed

[2015-09-29 19:34] Eilon commented on #956
@rynowak any ideas on this?

[2015-09-29 21:12] pranavkm commented on #956
You could look at using `https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Core/Infrastructure/StaticAssemblyProvider.cs`. We use it in Mvc's functional tests to do limit the scope of assemblies Mvc scans for controller types:

https://github.com/aspnet/Mvc/blob/dev/test/Microsoft.AspNet.Mvc.FunctionalTests/MvcTestFixture.cs#L120-L122

[2015-09-29 21:32] shreedevishete commented on #883
Can anyone share , how to read config file  in Beta7

[2015-09-29 21:35] rynowak commented on #956
The suggestion from @pranavkm will let you setup an MVC instance that only looks in specified assemblies for controllers.

There's currently no supported way to host two or more separate instances of MVC in the same app.

[2015-09-29 21:45] Eilon commented on #959
Turns out this issue was already reported and is being investigated. Thanks for the reports!

[2015-09-29 21:45] #959 closed

[2015-09-29 22:25] rootonecz commented on #953
@moozzyk it is a model of the first generation

[2015-09-29 22:34] moozzyk commented on #953
@rootonecz - yeah. When I tried I used the first generation too. I even thought about compiling CoreClr myself but the latest version of the compiler available was lower that the min version required by CoreClr. Anyways, for now you unfortunately won't be able to run ASPNet 5 on Raspberry Pi.

[2015-09-29 23:37] rhires commented on #957
I'm not sure what you're asking, for a "repro project"...I can't tell from your screen shot whether you're running on a Mac or not, but that makes me wonder if it's Mac specific.

[2015-09-30 00:32] NTaylorMullen commented on #957
Oh, sorry. You're running this on a Mac, I missed that part. I'll have to get back to you on if I can repro on that platform.

[2015-09-30 14:58] miguellira commented on #957
@rhires A "repro" project is one we could clone and test on our own.

FWIW, I created a quick sample web application that references the ErrorHandlerMiddleware and targets beta7 and I didn't run into any issues.

That said, I've had several issues with beta7 so I feel your pain. Never came across this one though. My advice is to replace all `beta7` references in your `project.json` file with `*` a

[2015-09-30 15:18] miguellira commented on #928
If you follow the source, it looks like arguments get merged and added to `ConfigurationBuilder`.

https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNet.Server.Kestrel/Program.cs#L21
https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNet.Hosting/Program.cs#L28

In which case, wouldn't it be preferable to use your own `config.json` and add that in `Startup.cs`.

[2015-09-30 15:31] grahamehorner commented on #928
The issue I have is that I want to be able to pass to Startup.cs via dnx kestrel host additional command line args at runtime these args are configuration elements supplied by the users and in my case are sensitive information used during initial deployment; which the startup.cs will verify, secures and in an external .json configuration; is ConfigurationBuilder accessible to the DI at application

[2015-09-30 15:47] Eilon commented on #928
@grahamehorner sorry I'm not exactly following. There's a CommandLine configuration provider that you can use: https://github.com/aspnet/Configuration/tree/dev/src/Microsoft.Framework.Configuration.CommandLine

Syntax and usage examples are seen in the unit tests: https://github.com/aspnet/Configuration/blob/dev/test/Microsoft.Framework.Configuration.CommandLine.Test/CommandLineTest.cs

And if you

[2015-09-30 15:52] Eilon commented on #883
@shreedevishete you can see an example in the MusicStore sample app

https://github.com/aspnet/MusicStore/blob/dev/src/MusicStore/Startup.cs#L24-L33

[2015-09-30 15:53] miguellira commented on #928
Forgive me, but I don't quite follow. We are talking about `kestrel` here right? Who are the users? Aren't you just configuring the startup of a web server?

There are plenty of built-in configuration providers and you can even create your own - though I'd stick with JSON. If these are deployment concerns maybe setting Environment Variables and loading them up in `Startup.cs` is preferable.

In an

[2015-09-30 17:03] grahamehorner commented on #928
@miguellira I'm looking for a way I can supply a asp.net vnext web application with command line args when the web application is hosted via dnx running inside of kestrel.  The users are however is deploying my application in this instance; and yes these are initially startup configuration settings that need to come via the command line args. environment are not an option; these aren't secure.  I

[2015-09-30 17:30] erickgirard commented on #956
Hum, maybe not ideal for the moment but I'll work around that factor. I hope it could be considered for future releases :smile:

[2015-09-30 19:10] dandago commented on #955
I ran into this a few weeks ago, and wrote a blog post with some detail yesterday: http://gigi.nullneuron.net/gigilabs/nasty-const-bug-in-asp-net-5/

[2015-09-30 19:46] Eilon commented on #955
I contacted the Roslyn team to have them take a look at this.

[2015-09-30 19:53] Eilon commented on #928
@grahamehorner yes you can definitely use the CommandLine config provider, just like all the other config providers that are probably already in your Startup.cs. It looks like on `dnx451` you can do this:

[code]

But on `dnxcore50` I'm not sure how to get the command line args.

[2015-09-30 20:20] grahamehorner commented on #928
@Eilon thanks and what dnx50 -> coreclr ?

[2015-09-30 20:54] Eilon commented on #928
@grahamehorner unfortunately I don't think there's a way outside of `Program.Main()` to get the command line args on .NET Core (`dnxcore50`). I recommend logging a bug on https://github.com/dotnet/corefx/issues/ to get it added (I think many people would find it useful).

[2015-09-30 21:08] grahamehorner commented on #928
@Eilon given DNX is the host for dnxcore50 and kestrel is called by DNX and supplied the commandline args isn't this an issue with the dnx hosting component (kestrel) implementation not feeding the command line args up the stack in a manner that is platform independent and consistent? not the corefx?

[2015-09-30 21:11] grahamehorner commented on #928
@Eilon BTW https://github.com/dotnet/corefx/issues/2413

[2015-09-30 21:26] miguellira commented on #928
To some extent, I agree with @grahamehorner. The arguments passed to `kestrel` are currently merged and passed along as an `IConfiguration` down to the `WebHostBuilder` ([see use of _config in this file](https://github.com/aspnet/Hosting/blob/a9e7948d726c1d66dd5a7865ebcb4f60a6ec6c0d/src/Microsoft.AspNet.Hosting/WebHostBuilder.cs#L126-L136)) but never exposed.

However, IMHO exposing an `IConfigura

[2015-09-30 21:30] grahamehorner commented on #928
@mariusGundersen and of course dnx . ef works getting commandline args passed in from the host of the ef code (dnx) on any platform

[2015-09-30 21:42] miguellira commented on #928
@grahamehorner Sorry, I'm not sure how your `dnx ef` comment is relevant here. The EntityFramework commands are built around the `CommandLineApplication` API ([see code](https://github.com/aspnet/EntityFramework/blob/dev/src/EntityFramework.Commands/Commands/Program.cs#L44)).

Your requirement - as I understand it - is to allow kestrel to be started with custom arguments and have those arguments e

[2015-09-30 21:50] sjdixon opened #960 "DNU - How do you search for packages?"
Is there a way to search for available packages with DNU/DNX, without having to install them?

Ideally, the search would support some kind of fuzzy matching.
examples:

dnu search xunit
dnu search nunit*
dnu search resharper* (for any packages containing "resharper" in the name)
dnu search MyMadeUpPackage* (which would match MyMadeUpPackage as well as MyMadeUpPackage.ExtraFeatures)

[2015-09-30 22:32] grahamehorner commented on #928
@miguellira the dnx ef comment was about the end user experience; of passing the commandline args  to ef running under coreclr; with regards to SecretManager I understand this is for a deployment use case where we tooling provides secures the sensitive information; I don't know these upfront and the use case is for the end user to use commandline args to supply some configuration element on initia

[2015-10-01 04:00] KevinH-MS commented on #955
Since constants aren't actually locals (they're just inline values in the emitted IL), we have to retrieve their values/types from the ```.pdb```.  It seems that the low-level API we use for doing this (```ISymUnmanagedConstant.GetSignature```) is always returning a zero-length array on CoreClr.

I should be able to make the watch for ```b``` work despite this, but we'll need a fix from the core d

[2015-10-01 05:18] Eilon commented on #928
Ah, I think I did miss one big thing: calling `Environment.GetCommandLineArgs()` isn't quite correct because presumably those are all the arguments passed into `dnx.exe`. But `dnx.exe` presumably "consumed" many of those argument already (e.g. the command name, project path, various other things). And so for your *app's* configuration you only want whatever command line `dnx.exe` *didn't* consume.

[2015-10-01 05:24] Eilon commented on #960
`dnu` doesn't have this built in. But you could go to www.nuget.org to search :smile:

[2015-10-01 07:31] grahamehorner commented on #928
@Eilon I would suggest that given Environment.GetCommandLineArgs() is not a dnxcore50 supported function; that the os native dnx executable passes ALL commandline args to the  Microsoft.AspNet.Hosting which in turn constructs the IHostingEnvironment with the args as this is then available to the startup.cs via dependency injection and therefore can be used by the web app

[2015-10-01 11:35] grahamehorner commented on #928
I believe the  Microsoft.Dnx.Host/BootstrapperContext.cs should be changed to hold a list of commandargs; this would allow the RuntimeEnvironment to receive the commandline args with minimal change to the signature of the IRuntimeEnvironment adding a property IList<String> CommandLineArguments { get; }

[2015-10-01 11:38] Codenator81 commented on #651
@davidfowl I future dnx going to support importing content? It is very useful when I need include views for example in project

[2015-10-01 11:42] grahamehorner commented on #928
I'll do the change and testing and then issue a PR for review; if you have no objections/observations?

[2015-10-01 12:19] davidfowl commented on #928
Yes it shouldn't be DNX specific. It should be added to .net core

[2015-10-01 12:28] Codenator81 commented on #651
@davidfowl is there any way run bower  or git commands on package install?

[2015-10-01 14:56] seanmerron opened #961 "Cannot use 4.5.1 Class Library in ASP.NET 5 beta 7"
Hello,

I created a new ASP.NET 5 Beta 7 web project and then add a dll reference to a .NET 4.5.1 Class Library (Non-DNX). Intellisense let's me use the library but at compile time I get "The type or namespace name 'MyLibrary' could not be found (are you missing a using directive or an assembly reference?)."

I thought this feature was available but appears to be not be working. On a related note,

[2015-10-01 15:12] bab5139 opened #962 "There is no way to exclude generated files from being auto added to pending changes in TFS"
I am using Visual Studio 2015 RTM with ASP.NET 5 Beta 7 and TFS 2015 - TFVC.  I would like to exclude files in wwwroot and typescript generated .js files from being automatically added to the TFS pending changes list.  From the documentation, I should be able to add a .tfignore file into the project folder that will exclude these.  It doesn't seem to matter what rule I add to the file, all files t

[2015-10-01 15:30] muratg commented on #962
@bab5139 This doesn't seem to be an ASP.NET 5 issue.   I recommend checking StackOverflow.

[2015-10-01 16:11] bab5139 commented on #962
I did find one issue on StackOverflow regarding this, but it didn't have a real answer.  Is the automatic addition of files to the project when added to the file system an ASP.NET 5 project template mechanism?  Because a normal c# project does not automatically add files to the project when they are dropped into the directory.  Is it possible that the project template code isn't checking whether t

[2015-10-01 16:31] Tratcher commented on #928
@Eilon The hosting program main args are not directly or indirectly exposed to Startup, just to the servers. Environment variables and config files are the only way to do this at the moment.

[2015-10-01 18:37] grahamehorner commented on #928
@davidfowl not sure why it should be in .net core as the entry point is dnx and it's the dnx host that creates the BootstrapperContext; can you explain why the .net should know about the dnx host.clr host.coreclr host.mono its BootstrapperContext

[2015-10-01 19:06] davidfowl commented on #928
Because a well know API exists to get command line arguments and it should be brought back. It really isn't DNX specific. Actually a much better way to go about this would be to write your own program.main entry point that uses the hosting API to boot the web app and handle your extra arguments

[2015-10-01 19:17] bab5139 commented on #962
I found the issue opened back in march.  https://github.com/aspnet/Tooling/issues/18.  I added a comment there.  Hopefully it will get addressed.  I'm surprised that there isn't more people complaining about this.  I guess at this stage most are using git and gitignore is being respected.

[2015-10-01 19:17] #962 closed

[2015-10-01 19:23] grahamehorner commented on #928
@davidfowl

which is exactly what DNX is; is it not? but it doesn't pass the string args[] to the web app in anyway, but could by simply adding them to the IRuntimeEnvironment with minimum change?

[2015-10-01 22:25] Kagamine commented on #961
what's in your project.json

[2015-10-01 22:26] Kagamine commented on #961
May be, you should remove the dnxcore50 from the frameworks in your project.json

[2015-10-02 11:37] seanmerron commented on #961
Doh! That makes complete sense and did the trick! Once I removed core, it compiled fine. I guess the little intellisense warning icons for non-core code don't come up in these cases (Maybe a future improvement).

I also tested leaving dnxcore50 in project.json and then wrapping the usage of the 4.5.1 library code in #if DNX451 which also worked.

The compiler error in this scenario also helps show

[2015-10-02 11:37] #961 closed

[2015-10-02 11:49] maxmalmgren commented on #659
Any news on this?

[2015-10-02 17:51] pranavkm opened #4980 "RestrictChildren does not allow Razor comments"
[code]

[code]

Additionally, the error is repeated multiple times over in the intellisense dialog:

![image](https://cloud.githubusercontent.com/assets/174281/10253667/6da5de16-68f3-11e5-9b35-908a54658d21.png)

[2015-10-02 21:19] Eilon commented on #910
Looks like this issue is resolved.

[2015-10-02 21:19] #910 closed

[2015-10-02 23:11] KevinH-MS commented on #955
I have a PR out to ignore the ```const``` local in this case (enables you to at least inspect the other locals in that scope):  https://github.com/dotnet/roslyn/pull/5658

I've also opened an internal bug for the core debugger to figure out why reading the signature of a ```const``` isn't supported here.

[2015-10-03 05:04] Eilon commented on #955
This is now being tracked on the Roslyn GitHub org and also in an internal MSFT bug database, so I'm closing this out. Thanks, everyone!

[2015-10-03 05:04] #955 closed

[2015-10-03 07:16] gulbanana commented on #941
i have this problem too, and it began when i installed NPM Scripts Task Runner.

[2015-10-03 16:17] miker1423 opened #964 "MVC and API mixed"
with MVC can I all my Razor html pages, their controllers and the controller for the web API living in the same project?? Maybe having two different routes, one for the controllers of the views and other the API. is that posible?

[2015-10-03 16:33] Sharpiro opened #965 "Bug adding VNext Class Library (Package) to Universal Windows app"
While testing the ability to use a VNext Class Library (Package) in a Windows 10 (Universal Windows) Application, I encountered a bug.

I created a new Universal Windows App for testing.  I was able to successfully add my VNext class library via Nuget package after providing an  additional dependency for ```"net451"```.

However, despite being successfully added to the universal application, none

[2015-10-03 18:22] rynowak commented on #964
absolutely

[2015-10-03 22:15] Casimodo72 opened #966 "ASP.NET 5 - DNX46 - EF6 - Identity 2.3"
Hi,
is there any example of how to setup an ASP.NET 5 web project, which operates on DNX46 and uses EF6 + identity 2.3?
Could a project template be added to target this scenario?

I've read that ASP.NET 5 should be able to use existing .NET 4.6 stuff, so I made an experiment and wrapped my existing .NET 4.6 assemblies using "dnu wrap", removed references to EF7 and things compile fine.
Now I'm loo

[2015-10-04 11:17] miker1423 opened #967 "Bitmap object or something similar please!"
I'm building an API, I need to receive a Bitmap but there is no System.Drawing, no System.Web.Helpers... is there any solution to this? another library or something? thanks!

[2015-10-04 14:43] pranavkm commented on #967
On dnx451, you should be able to add a framework reference to `System.Drawing`.
For CoreCLR, see https://github.com/dotnet/corefx/issues/1563

[2015-10-04 14:43] #967 closed

[2015-10-04 18:23] ggrnd0 commented on #744
Packages was not in GAC at time.

now all files exists. not sure is it not a bug. =)

[2015-10-04 19:36] cveld opened #968 "Npm install crashes Visual Studio 2015 RTM"
I have copied some fragments to my gulpfile.js and I try to add the required packages to package.json. But every time I hit the save button, and npm install kicks off, this crashes Visual Studio. How can I troubleshoot this further?

[2015-10-04 22:25] TarekSamirJedi opened #969 "The linux link "GettingStartedDeb.md""
After following all instructions I couldn't find the file " NuGet.config ".There is nothing like ~/.config/NuGet/NuGet.config to be edited. What is the problem?

[2015-10-05 06:30] Eilon commented on #744
@ericstj would you like to comment further on this?

[2015-10-05 06:36] Eilon commented on #965
@Pilchie @ericstj do you guys know the right contact for this?

[2015-10-05 07:04] Eilon commented on #968
@barrytang

[2015-10-05 07:05] Eilon commented on #966
@HaoK this is in your territory, I believe.

[2015-10-05 07:05] #964 closed

[2015-10-05 07:27] HaoK commented on #966
@rustd @divega I don't believe this is going to be a supported scenario (old EF/Identity + new MVC)

[2015-10-05 10:28] halter73 opened #4622 "Make HttpsConnectionFilter more configurable"
- Support multiple certificates
  - Allow certs to be specified for a given port and/or IP address
  - Allow certs to be specified for a given hostname once SNI is supported
- ~~Make allowed [SslProtocols](https://msdn.microsoft.com/en-us/library/system.security.authentication.sslprotocols%28v=vs.110%29.aspx) configurable~~
- Use the options pattern (e.g. [Facebook Middleware](https://github.com/a

[2015-10-05 12:31] divega commented on #966
That is correct. ASP.NET 5 + Identity 2.x is not going to work. ASP.NET 5 + Identity 3 + EF6 in the other hand, should be a matter of having an Identity 3 storage provider for EF6. We currently don't have guidance on that but it shoukdn't be hard to get the basics working and I am aware that @cherrydev built a very complete one.

[2015-10-05 15:46] ericstj commented on #965
Looks like an issue with the package layout.  Can you share the folders you have in your nuget package?

[2015-10-05 16:03] ericstj commented on #744
Not the GAC, in the targeting pack.

A place holder in both `ref` and `lib`, or in `lib` when no ref is present, indicates that the package is supported and both it's reference and implementation come from somewhere else.  Usually the targeting pack for the target framework.  Often times we will also have a "frameworkAssembly" reference in the nuspec to indicate that the reference should be added

[2015-10-05 16:20] pranavkm commented on #890
cc @davidfowl.

[2015-10-05 19:16] Sharpiro commented on #965
Nuget package Folder Layout:
[code]

Detailed layout:
[code]

[2015-10-05 19:35] davidfowl commented on #450
@gfraiteur This is promising

/cc @victorhurdugaci

[2015-10-05 19:49] ericstj commented on #965
None of those folders apply for Windows 10 (Universal Windows) Application, for that you need uap10.0 (or netcore50 if you don't depend on WinRT surface area).  net451 and dnx451 are redundant if that's the same DLL.  DNX451 will also use NET451 assets.

If those are all the same DLL you could use a single dotnet folder.

Perhaps reading through my walkthrough (1.1 and 1.2) will help: https://gith

[2015-10-05 20:18] barrytang commented on #968
@vkichline, can you see if you can repro?

[2015-10-05 22:28] Sharpiro commented on #965
* ```net451``` and ```dnx451``` are not redundant for me.  ```net451``` was necessary in order to add the library as a nuget package to a legacy console application.
* I have added ```netcore50``` to my library's project.json and generated a nuget package. (```uap10.0``` was invalid).  The same issue is still occuring where no code in my library is accessible despite being successfully added.

New

[2015-10-05 23:25] Eilon commented on #890
Ah, we've discussed this exact approach before. I'm personally a fan of it because it far more closely matches SemVer's semantics for... ummm... versioning!

[2015-10-05 23:48] Tratcher commented on #934
FYI Microsoft.AspNet.Loader.IIS is obsolete in beta8. See https://github.com/aspnet/Announcements/issues/69

[2015-10-05 23:48] #934 closed

[2015-10-05 23:49] Tratcher commented on #928
This issue was moved to aspnet/Hosting#388

[2015-10-05 23:49] #928 closed

[2015-10-06 01:20] stajs commented on #790
I'm hitting that exception from a slightly different angle; not in Azure or Visual Studio Online but just from `dnu publish`. However, do they both use MsBuild under the covers?

https://github.com/Microsoft/msbuild/issues/53

[2015-10-06 02:22] #854 closed

[2015-10-06 08:19] SirwanAfifi commented on #886
+1 It worked for me :) Thanks

[2015-10-06 11:19] rhires commented on #481
I'm wondering this myself, since it doesn't seem to be in there anymore. So I would like to know what to use instead...

[2015-10-06 12:17] leak commented on #659
:+1:

[2015-10-06 12:59] Casimodo72 commented on #966
I didn't find bridging code in @cherrydev's repos, so I tried this on my own. Actually everything in Microsoft.AspNet.Identity.EntityFramework needs to be re-implemented, which is not much fortunately, because one can copy much of the existing code.
Unfortunately I now have trouble with compilation wrt the wrapped assemblies - not related to this topic. I will report back on weekend when I'll have

[2015-10-06 16:36] pranavkm commented on #481
cc @Tratcher

[2015-10-06 16:42] Tratcher commented on #481
@blowdart

[2015-10-06 16:43] blowdart commented on #481
In theory you couldn't rely on it in previous versions, especially with async. So nope. You can't.

[2015-10-06 17:58] PinpointTownes commented on #481
Related ticket: https://github.com/aspnet/Security/issues/322

[2015-10-06 18:11] senrag opened #971 "Test"
Just a Test

[2015-10-06 19:42] Mike-EEE opened #972 "ASP.NET Core 5.0 or ... Core .NET 5.0?"
_From @Michael-DST on August 9, 2015 13:32_

(Apologies if this is in the wrong place.  There are four pages -- ! -- of repos and this seemed like the best fit.)

I have an easy (hopefully) issue here.  It could be a bug or could simply be based off my misunderstanding.

I finally had the joy of installing the latest build (Beta 6) and tried looking into moving my current PCLs to the new Core .NET

[2015-10-06 19:42] Michael-DST commented on #972
_From @Eilon on August 9, 2015 18:12_

This indeed looks like it's the wrong string. At one point a long time ago it was indeed ASP.NET Core 5.0, but that hasn't been the case for a while.

@yishaigalatzer do you know the right people to correct this in PCLs?

[2015-10-06 19:42] Michael-DST commented on #972
Cool!  Sanity restored/verified... for now. :smile:

[2015-10-06 19:42] Michael-DST commented on #972
_From @yishaigalatzer on August 9, 2015 19:27_

@pilchie 's team owns this ui

[2015-10-06 19:42] Michael-DST commented on #972
_From @sayedihashimi on September 30, 2015 16:52_

I don't think that this repository is the best place for this feedback. @yishaigalatzer or @pilchie what do you guys think?

[2015-10-06 19:42] Michael-DST commented on #972
Yeah as I mentioned in the initial post there are four pages of repos for this project, so landing on the right one was quite the challenge for one of my first reports. ;)  I am open to moving it to another repo if it makes more sense... and of course ensures that the issue is addressed.  I am also (of course) interested in which repo would be better suited for this issue so that I can learn from

[2015-10-06 19:42] Michael-DST commented on #972
_From @Pilchie on September 30, 2015 17:1_

We just put the string that @davidfowl told us to put there.  "Core.NET 5.0" is definitely not right either, since UWP is *also* based on CoreCLR.  The dialog is less interested in what technology you run on, and more on what app platform stack do you run on.

[2015-10-06 19:42] Michael-DST commented on #972
_From @lucamorelli on September 30, 2015 17:11_

when in doubt I suggest to post in "Home"

[2015-10-06 19:42] Michael-DST commented on #972
Cool.  Thanks @lucamorelli.  Pardon the mess all as I learn all of this (story of my life!). :smile:

[2015-10-06 19:42] Michael-DST commented on #972
_From @sayedihashimi on October 6, 2015 17:42_

I'm still not sure which repo is the best place for this feedback, but we don't have the right people watching this repo for this issue. I think for now we should move this item to https://github.com/aspnet/Home.

Closing this now.

[2015-10-06 19:42] Michael-DST commented on #972
To be sure @sayedihashimi, are you saying that this was moved or do you need me to do that for you?

[2015-10-06 19:42] Michael-DST commented on #972
_From @sayedihashimi on October 6, 2015 18:17_

@Michael-DST if you can move it that would be great.

[2015-10-06 19:42] Michael-DST commented on #972
@sayedihashimi How is the best way of doing that?  I do not see that option here in GitHub.

[2015-10-06 19:42] Michael-DST commented on #972
_From @Eilon on October 6, 2015 19:13_

You can use this tool: https://github-issue-mover.appspot.com/

All it does is open a new issue and copy all the info over.

[2015-10-06 20:47] MihaMarkic commented on #726
Just for the record. Most probably OP wasn't in the folder where project.json resides. It'd be nice if people would document their solutions...

[2015-10-06 22:34] Alxandr opened #973 "Asp.NET 5 - Provide a multi-tenant story"
I'm trying to create a multi-tenant project using DNX, and there are a few pain points (to say the least). I'd like a discussion on the ability to do multi-tenant applications using Asp.NET 5, and some of the problems/things that works. I'll also compile a list of issues regarding this across the other aspnet repos, and if I miss someone (which I probably will), please let me know in the comments.

[2015-10-06 22:55] davidfowl commented on #973
We absolutely want to do this but it will not happen for v1

[2015-10-06 22:56] Alxandr commented on #973
@davidfowl Yeah, I figured as much. But I still figured it'd be good to have a place to (try to) collect issues from the different repos, and have discussions.

[2015-10-06 22:57] rynowak commented on #973
I think to sum up some of our internal discussions about this, @Alxandr you are absolutely right that doing a small set of work items piecemeal is not a good solution for this. We're definitely thinking about this as a large surface area and not as a few small fixes.

[2015-10-06 23:52] rhires opened #974 "multiple projects and global.json"
I followed [this link](http://gavindraper.com/2015/05/20/asp-net-5-multiple-projects-and-global-json/), except that with my project I'm not using ["Src","Test"] as my two project folders. What's interesting is the problem that it creates when I reference one via the dependencies section of the project.json file for either project: it kills all the references for everything. VSCode tells me it can'

[2015-10-07 05:51] #971 closed

[2015-10-07 05:52] Eilon commented on #973
@sebastienros @lodejard for additional FYI information.

[2015-10-07 05:53] Eilon commented on #974
@rhires can you provide more info on what you've tried and what doesn't work? It would be best if you can upload your project to a GitHub repo so we can take a look.

Though some things have certainly changed since April, the basic concept of having `global.json` point to additional folders hasn't changed in quite a while...

[2015-10-07 12:55] ankitvijay opened #976 "Error during publish MVC web app"
Hi, while trying to publish MVC web app with publish target as "File System", I'm getting a weird error as shown below:
![image](https://cloud.githubusercontent.com/assets/5988564/10337848/16a9eb9e-6d20-11e5-9dee-da6784941c2c.png)
Target DNX version: dnx-clr-win-x86.1.0.0-beta7

Any idea what the issue can be?

[2015-10-07 13:21] nguyenm100 commented on #878
Not RPM but got b7 coreclr installed via:

sudo yum -y install libunwind gettext libcurl-devel openssl-devel zlib unzip
curl -sSL https://raw.githubusercontent.com/aspnet/Home/dev/dnvminstall.sh | DNX_BRANCH=dev sh && source ~/.dnx/dnvm/dnvm.sh
dnvm upgrade -r coreclr

[2015-10-07 13:21] #878 closed

[2015-10-07 14:54] tugberkugurlu commented on #973
I am sure @benfoster will be interested in this discussion (refer to https://github.com/saaskit/saaskit).

[2015-10-07 16:07] pruiz commented on #878
I dont think this is nearly a real solution to people asking for rpm build instructions. More so, if/when the proposed solutions installs to a user's home directory.

Being able to package vNext in a standar format for linux distros is (IMHO) a must. Obviously, packaging and releasing such packages is not an asp.net's team responsability. But giving some advice and/or support for those who may nee

[2015-10-07 20:04] Tratcher opened #5858 "Make StandardFeatureCollection mutable"
Hosting no longer wraps the servers's feature collection by default, so WebListener creates a FeatureCollection wrapping the StandardFeatureCollection. Just find a way to make StandardFeatureCollection mutable.

[2015-10-07 21:47] mattdwen opened #977 "Publish to Azure via VS works, but GitHub deploy fails"
I have a [project](https://github.com/group6tech/diva-focus) which I've been publishing from VS2015 to Azure with no issues for a while.

I've just switched it over to deploy via GitHub from the master branch. This has deployed okay according to Azure, but accessing the site gives the following error:

The solution has a couple of different projects. **Focus** is the main site, and is configured t

[2015-10-07 23:49] rhires commented on #974
I think I may have figured it out. Liberal helpings of "dnu restore" worked a lot of the kinks out. It seems that when it picks up the new dependency, it freaks out, rather than suggesting that I run dnu restore. VSCode recognizes Microsoft related changes, but not custom/local ones...I'll have to test more to be sure of that, though.

[2015-10-07 23:49] #974 closed

[2015-10-08 01:27] nathanaeljones commented on #192
See https://github.com/dotnet/corefx/issues/2020

[2015-10-08 02:56] streetwiseherc commented on #973
@Alxandr "Component Developer" (or at least that's what we called them in the VB Classic days) Syncfusion puts out some really valuable, but succinct ebooks on various subjects. I've read quite a few and enjoyed them. Best of all they are free (with name/email/company registration)!  I mention these books because recently they've come out with a Multi-tenant book for ASP.NET (MVC 5 and Web Forms)

[2015-10-08 17:45] pranavkm commented on #890
We decided to go with this approach for RC1. The packages we'll release will be of the format `1.0.0-rc1-final`.

[2015-10-08 18:37] victorhurdugaci commented on #890
*final*ly! :clap:

[2015-10-08 18:50] sebastienros commented on #973
We have multi-tenancy working in Orchard vNext (https://github.com/OrchardCMS/Brochard), with dynamic module loading, meaning each tenant gets a different set of services. It's in its early stages but it's doable. So even if @davidfowl says it's not a priority for the team and I agree with that, this is mine ;) So I am definitely interested in finding out solutions to all of the related issues.

[2015-10-08 19:18] Eilon commented on #976
Are you sure your DNX matches the versions of the packages you're using? E.g. using beta7 for everything and not some beta8 or rc1 packages or DNXes?

[2015-10-09 07:50] ankitvijay commented on #976
I'm sure I was using beta7. I did an upgrade from beta5 to beta7. I feel it was machine specific issue. I was trying to this on Azure VM.
Later I re-provisioned (removed the VM and spawn another VM) machine again and followed exactly same steps and it worked without any issues.

[2015-10-09 09:27] SaphuA opened #978 "Include after GroupBy throws InvalidOperationException"
From what I understand doing a Include before a GroupBy is expected not to work. However, a recommended workaround would be to move it to after the GroupBy. This doesn't seem to be working either. Is this expected as well?

This simple query:
[code]
Throws:

	System.InvalidOperationException was unhandled by user code
	  HResult=-2146233079
	  Message=The expression '{[c] => First()}.Comments' pas

[2015-10-09 19:45] Tasteful opened #979 "Strong name signing for output assemblies"
I know that there are two different camps of asseblies be signed with SNK or not.

At my company, we use SNK to ensure (together with authenticode signing) that the results are distributed to the users come from us.

Will the results of all projects included in ASPNET5 be signed with SNK (and maybe even authenticode signed)?

When will this happen in such cases (before RC I hope)?
if not, then all

[2015-10-09 21:14] NickCraver commented on #904
Is there any progress on this issue? This one item kills the portability aspect to many systems, so if there's anything I can do to help get this unblocked I'm willing.

[2015-10-09 21:19] Eilon commented on #976
Ok, closing this out. If you do see this again you could try pushing your app to a public GitHub repo and we can try to reproduce this.

[2015-10-09 21:19] #976 closed

[2015-10-09 21:19] Eilon commented on #904
@bricelam @divega ?

[2015-10-09 21:47] Eilon commented on #978
@divega @rowanmiller

[2015-10-09 21:55] Eilon commented on #979
Strong naming is already supported: https://github.com/aspnet/dnx/pull/2004

However, the packages published for ASP.NET and EF are themselves not yet strong-named, but that's tracked here: https://github.com/aspnet/dnx/issues/2615

So, this should be resolved in the near future. For further discussion on that, feel free to comment on the linked issue. Thanks!

[2015-10-09 21:55] #979 closed

[2015-10-09 22:52] divega commented on #904
I checked and it doesn't seem to be solved in beta8. I have created a bug on the corefx repo.

[2015-10-09 23:36] Eilon commented on #904
@divega should we close this issue and link to that one?

[2015-10-10 00:54] divega commented on #904
Yes, I think we can close this one. Tracked now as dotnet/corefx#3760.

[2015-10-10 00:54] #904 closed

[2015-10-10 11:24] AlexOldest commented on #886
You helped me too. Thanks.
I wonder how to link my own StyleSheet ti Layout.cshtml in ASP.NET 5 MVC6.
Usual approach refused to work.

[2015-10-10 21:17] ZOXEXIVO opened #980 "FromJsonUri attribute possible ?"
In past version of ASP.NET MVC, I use FromJsonAttribute for my query objects, that use stateless queries from queryString
When I start writing this in vnext version i confused. How to do it ?

[code]

[2015-10-11 05:01] Eilon commented on #980
@ZOXEXIVO can you log this issue in the MVC repo? https://github.com/aspnet/Mvc/issues/

[2015-10-11 13:24] ZOXEXIVO commented on #980
Ok. https://github.com/aspnet/Mvc/issues/3302

[2015-10-11 13:24] #980 closed

[2015-10-12 02:54] dotboris opened #981 "Can't run dnx commands from a solution root"
Every time I try to run a command from a project using `dnx -p SomeProject some-command` it complains about `project.lock.json` being missing even tho it's present. When I run the command by going to the directory of the project with `dnx some-command` it works.

Here's an example: https://gist.github.com/beraboris/6c1437de9d0ffbbc5355

In this case I have a `global.json` file pointing to the `tes

[2015-10-12 10:55] bluemmc opened #982 "Complete F# support ?"
Will ASP.NET 5 have complete F# support (old postings like "http://blog.alxandr.me/2014/11/23/f-in-asp-net-5-the-good-the-bad-and-the-really-ugly/" seems to indicate problems) ?

[2015-10-12 19:09] victorhurdugaci commented on #981
@moozzyk might be able to help

[2015-10-13 06:24] Anderman opened #984 "redirect of google login not (always) working?"
Nothing happens when I deny access to my google login with external authentication.
I get a empty page with the following url.
( Not sure where to post this issue. https://katanaproject.codeplex.com/??)

[code]

[2015-10-13 06:27] muratg commented on #984
cc @Tratcher @HaoK

[2015-10-13 11:40] Anderman commented on #984
Found this issue in [451](https://github.com/aspnet/Security/issues/451)

[2015-10-13 11:40] #984 closed

[2015-10-13 12:05] sandersaares commented on #972
What exactly does that dialog even do in the modern projects?

[2015-10-13 12:21] Pilchie commented on #972
It changes the `supports` clause in the project.json, which allows NuGet to ensure that there is a deployable asset for the platforms you have selected.

[2015-10-13 15:27] Tratcher commented on #978
This issue was moved to aspnet/EntityFramework#3418

[2015-10-13 15:27] #978 closed

[2015-10-13 16:34] Sm1le291 opened #985 "TagHelpers not working Beta 7"
Hi! I use Asp.Net beta 7 now.
I follow this steps: 1) Create empty Asp.Net mvc 6 project, then add many needed dependencies with dependency Microsoft.AspNet.Mvc.TagHelpers too and add @addTagHelper directive in _ViewImports.cshtml
And this not working for me. A try to add AnchorTagHelper to .cshtml page, but this not transformed to valid element and in client looks like this _server tag with attrs

[2015-10-13 16:49] oshalygin commented on #985
So you have the following in your _ViewImports?

You're also including it in your package.json?

Here is an example of some of the tag helper syntax

It seems like you're doing everything correctly, maybe double check the addTagHelper syntax?

[2015-10-13 17:57] Eilon commented on #982
@bluemmc there are no plans for the initial release to support any languages aside from C#. However, after the initial release we do plan to invest in support for other languages. In the meantime we're certainly not trying to explicitly block any other languages from working, but we're also not doing any work to make it any easier.

[2015-10-13 18:53] Sm1le291 commented on #985
Ok. I check at morning again)

[2015-10-13 21:05] peterblazejewicz opened #986 "Referencing issue or bug as defined in Contributing.md and Git comment default char"
I've encountered a problem contributing one of the project when strictly following guides from Contributing.md referenced in all projects under aspnet organization:
[code]
The hash used on the line start works as comment char by default in git:
https://git-scm.com/search/results?search=core.commentchar

Technically I was able to enter the issue number to the commit but it was always ignored. The G

[2015-10-14 00:00] Eilon commented on #986
@peterblazejewicz in the Git tools I've used (TortoiseGit, GitHub for Windows, etc.) you can enter in any text and they process it. It could be that other tools treat `#` as a comment char.

But, either way, feel free to say `Fixes #123` or `Addresses #123` or whatever, as long as it's clear what issue the PR is addressing.

[2015-10-14 06:03] peterblazejewicz commented on #986
@Eilon
Thanks!
I should reword my issue to be strict, after second though. The commands like:
[code]
or:
[code]
that is ones that fires up editor to edit commit message will simply remove the last:
[code]
That's not big deail, but some peoople could miss that change in commit message.

[2015-10-14 06:17] Sm1le291 commented on #985
I checked. All Right. I noticed one detail. When a dublicate  addTagHelper in view that I needed, all works fine.

[2015-10-14 06:34] Sm1le291 commented on #985
You may see issue in this  project http://1drv.ms/1QqEmgW

[2015-10-14 07:04] Sm1le291 commented on #985
Ooh. I found problem. I place _Viewimports in /Views/Shared not in /Views . All works fine, exclude Intellisense - this does not work on Empty or StarterKit project

[2015-10-14 09:17] Gillardo opened #987 "ContentDispositionHeaderValue doesnt parse FileName and Name correctly"
In order to upload a file, i have seen the example code here
https://github.com/aspnet/Mvc/commit/437eb93bdec0d9238d672711ebd7bd3097b6537d

To get the name of the file that is uploaded, i am using the ContentDispositionHeaderValue class, using the TryParse method, as used in the example, which is like so

        public async Task<IActionResult> PostAsync(IFormFile file)
        {
            Cont

[2015-10-14 09:32] #879 closed

[2015-10-14 15:03] NTaylorMullen commented on #985
@Sm1le291 for IntelliSense ensure that you have the `Microsoft.AspNet.Tooling.Razor` package in your project and are at least targeting `dnx451`.

[2015-10-14 16:56] Eilon commented on #986
I updated the text on https://github.com/aspnet/Home/blob/dev/CONTRIBUTING.md to say:

Thanks for the feedback!

[2015-10-14 16:56] #986 closed

[2015-10-14 19:46] rhires commented on #985
Hmmm...yeah, I'm not getting Intellisense for Razor in VSCode, even though I have that package installed in my project. On the other hand, VSCode doesn't explicitly say that it supports Intellisense for VSCode. I sure wish it did!

[2015-10-14 19:49] NTaylorMullen commented on #985
Ahh, in VSCode you will not get Razor IntelliSense sadly. Hopefully one day :smile:

[2015-10-14 22:47] YEVHENO commented on #790
I'm trying execute following command line: "%userprofile%\.dnx\runtimes\dnx-coreclr-win-x64.1.0.0-beta7\bin\dnu.cmd publish src\myproject --runtime %userprofile%\.dnx\runtimes\dnx-coreclr-win-x64.1.0.0-beta7" and getting same exception: System.ArgumentException: The name can be no more than 260 characters in length. If I move source file to directory with short name like "C:\Temp", works as expect

[2015-10-14 22:54] timothy-shields opened #990 "System.IO and System.Threading don't support framework DNX,Version=v4.5.1?"
I have been successfully using beta7 with Windows and Linux on a large project for a while now.  I got a new Windows laptop, went through the Visual Studio 2015 and dnvm installations, and then tried to build my solution.  I now get these two errors for every project in my solution:

[code]

I have fiddled with this for hours and been unable to get the solution building.  (Reinstalled dnvm from sc

[2015-10-15 04:44] Eilon commented on #990
@anurse @ericstj can one of you take a look?

[2015-10-15 04:55] Eilon commented on #987
I believe the value is supposed to be a quoted string, per the RFCs. See Section 4.1 of RFC 6266: http://tools.ietf.org/html/rfc6266#section-4.1

And `quoted-string` is defined here: http://tools.ietf.org/html/rfc2616#section-2.2

So, while it is perhaps allowed to omit the quotes, it is certainly permitted.

The examples section in RFC 6266 makes this clear: http://tools.ietf.org/html/rfc6266#sec

[2015-10-15 05:21] ericstj commented on #990
Both of those support DNX451 via Net45 assets, from the packages:
[code]

The placeholders are there to ensure an applicable asset group, they are placeholders to indicate that the actual reference comes from the targeting pack and the implementation comes from the inbox framework.

Looks like an issue with DNX's compat check.

[2015-10-15 05:34] timothy-shields commented on #990
@ericstj I too suspected that the build error was erroneous. Let me know if there's anything diagnostic that you want me to try.

An additional point I left out is that `dnu list` complains about those two assemblies as well.

[2015-10-15 06:12] rynowak commented on #987
Interestingly enough we wrote code to deal with this case specially in MVC for binding files: https://github.com/aspnet/Mvc/blob/eef6c3883a7e27b8387b0925f0b6a88df0a484c5/src/Microsoft.AspNet.Mvc.Core/ModelBinding/FormFileModelBinder.cs#L108

But not for sending them (when the CD contains a space):  https://github.com/aspnet/Mvc/blob/9342cb0ab78add8c527edcbc4c0988edc96f01e3/src/Microsoft.AspNet.Mvc

[2015-10-15 06:28] Sm1le291 commented on #985
@NTaylorMullen I mean that autocomplete not works in .config files for bower or npm(for NuGet works well) - works only for version, not for package name! You may try this in my attached project above.
But in some screenshots  on docs.asp.net I see that works for package name too

[2015-10-15 09:14] Shazwazza commented on #156
For anyone interested in runtime bundling/minification I created a project for this a while back: https://github.com/Shazwazza/smidge  I'd still recommend bundling/minification/etc... as a build step instead but in case you just want/need to do this at runtime, it's certainly an option you can use.

[2015-10-15 15:18] timothy-shields commented on #990
@ericstj Can you think of any temporary workarounds I could try?

[2015-10-15 15:53] anurse commented on #990
The four-digit version number (`4.0.0.0`) worries me slightly. The Packages all have three-digit numbers, only the framework reference assemblies have four-digit numbers. I'll try to see if I can take a look.

@timothy-shields You could try adding a direct dependency on the `System.IO` package. That would eclipse any dependencies below and might resolve the issue. We do have some logic to prefer f

[2015-10-15 16:43] ericstj commented on #990
Good point, @timothy-shields can you share your project.lock.json so I can determine which package was referencing 4-part versions?

[2015-10-15 17:01] timothy-shields commented on #990
@anurse Good point. Now that you point that out, I see those are the only two assemblies out of hundreds which have that four-digit version number.  I have tried adding direct dependencies to `System.IO` and `System.Threading` but got lots of conflicts - it started complaining about basic types like `object` and `string` and there were thousands of exceptions.  But maybe I was doing that incorrect

[2015-10-15 17:04] anurse commented on #990
Oof, you've got a really old version of `System.IO` in there. Can you clear out your `C:\Users\[username]\.dnx\packages` folder and re-restore? Also, remove the AspNetMaster feed from your NuGet.Config, the latest released versions of packages should be on `nuget.org` now.

[2015-10-15 17:06] Eilon commented on #987
@rynowak interesting. Would you say the code in https://github.com/aspnet/Mvc/blob/eef6c3883a7e27b8387b0925f0b6a88df0a484c5/src/Microsoft.AspNet.Mvc.Core/ModelBinding/FormFileModelBinder.cs#L108 is simply wrong, then? (At least *theoretically* wrong?)

[2015-10-15 17:17] timothy-shields commented on #990
@anurse I cleared the local packages cache, removed AspNetMaster from my NuGet config, and then ran `dnu restore`.  There are two packages it is unable to locate:

- `Microsoft.AspNet.SignalR.Server >= 3.0.0-beta7`
- `xunit.runner.aspnet >= 2.0.0-aspnet-beta7-*`

I then readded AspNetMaster _after_ `nuget.org` and did `dnu restore`.

New `nuget.config` contents:

    <?xml version="1.0" encoding="

[2015-10-15 17:19] anurse commented on #990
A few notes on those remaining packages:
* `Microsoft.AspNet.SignalR.Server` is no longer supported, it was unfortunately dropped from the RTM plans: https://github.com/aspnet/Home/wiki/Roadmap#future-work - If you really need SignalR you can use it but remember that it is unsupported and may not be updated to match RTM. SignalR 3.0 is **not** gone, but just postponed until after ASP.NET 5 RTM.
*

[2015-10-15 17:24] rynowak commented on #987
The code in `FormFileModelBinder` is *correct* according to my definition of correct - from the POV of the user's code, it matters not whether `example.html` or `"example.html"` was supplied as the CD. I can't find any specific language in the spec for quoted and non-quoted tokens being interchangeable but it seems heavily implied.

It really seems like a gotcha if you're using our model binder an

[2015-10-15 17:26] timothy-shields commented on #990
@anurse Thanks for the info.

[2015-10-15 17:50] anurse commented on #990
Minor clarification: `Microsoft.AspNet.SignalR.Server` **3.0.0-*** is no longer supported. SignalR 2.0 remains fully supported, though I believe it is not compatible with ASP.NET 5 (but since it was OWIN-based, it might be possible to hack it :))

[2015-10-15 18:04] JeroenVinke commented on #829
can we get an update? is there perhaps a workaround we can use?

[2015-10-15 18:12] michaldudak opened #991 "Commandline tools' inconsistent syntax"
The commandline tools (dnvm, dnu and dnx) sytnax is inconsistent:
To get help in dnvm, we have to type `dnvm help [command]` whereas in dnu there is `dnu [command] --help`. dnx uses just `dnx --help`. These tools would be easier to use if a common syntax was used.

[2015-10-15 18:26] Eilon commented on #829
@sayedihashimi @barrytang ping.

[2015-10-15 20:18] sayedihashimi commented on #829
Sorry for the delay. We added a feature to hide files in beta8 which we just released. More info at http://blogs.msdn.com/b/webdev/archive/2015/10/15/announcing-availability-of-asp-net-5-beta8.aspx. Can you try it and let me know if it resolves the issue for you?

[2015-10-15 20:31] GuardRex opened #992 "HttpPlatformHandler still at v1.0 on iis.net and in WebPI"
I guess the Announcements repo update for the beta8 release is coming soon, perhaps with more on this issue, but I'm still seeing v1.0 of the HttpPlatformHandler at [iis.net](http://www.iis.net/downloads/microsoft/httpplatformhandler) and in WebPI.

Is this a 'check back tomorrow' situation, or can we get v1.1 elsewhere for our VM's today?

[2015-10-15 20:54] GuardRex commented on #992
I found the installers for v1.2 in the [.NET Web Development and Tools Blog announcement](http://blogs.msdn.com/b/webdev/archive/2015/10/15/announcing-availability-of-asp-net-5-beta8.aspx):

[x86](http://go.microsoft.com/fwlink/?LinkId=690722)
[x64](http://go.microsoft.com/fwlink/?LinkId=690721)

Note that these are only for the server. The VS tooling update for beta8 takes care of IIS Express for

[2015-10-15 20:54] #992 closed

[2015-10-15 22:00] Banashek commented on #960
Is there possibly some way to leverage the nuget List command specifying a feed to search?

http://docs.nuget.org/consume/Command-Line-Reference

Looks like the last fallback is using the default nuget feed.

https://github.com/NuGet/NuGet.PackageManagement/blob/b1319fd70ce472c5ba91920a0cc00206205b1369/src/NuGet.CommandLine/Commands/ListCommand.cs

Also if you go to the packages directory in a bro

[2015-10-16 02:53] mmulvogue-work commented on #968
Number of devs in our team are also experiencing this issue.
Seems to be path length related...

[2015-10-16 05:39] Eilon commented on #960
@yishaigalatzer this is presumably more for your team than mine.

[2015-10-16 05:39] Eilon commented on #829
Closing for now. Please re-open if there's still an issue, or log a new issue in the https://github.com/aspnet/Tooling/issues/ issue tracker. Thanks!

[2015-10-16 05:39] #829 closed

[2015-10-16 05:53] JeroenVinke commented on #829
Thanks! I will try this out today and will open an issue if I encounter any problems.

[2015-10-16 06:32] yishaigalatzer commented on #960
We do have an API for that already, should be too hard to add to the command line. Please refile on github.com/nuget/home/issues

[2015-10-16 09:05] Mark-Broadhurst-Spin commented on #968
Its also affecting a member on my team we have narrowed it down to on start up it seems to try and restore packages using `npm install` this succeeds however what ever happens next kills visual studio.

[2015-10-16 11:40] damienbod opened #993 "Kestrel Networking permission denied beta8 version"
I'm using ASP.NET 5 beta 8 and since I updated, my application won't start due to the following exception:
 ----------
Microsoft.AspNet.Server.Kestrel.Networking.UvException: Error -4092 EACCES permission denied
   at Microsoft.AspNet.Server.Kestrel.Networking.Libuv.Check(Int32 statusCode)
   at Microsoft.AspNet.Server.Kestrel.Networking.Libuv.tcp_bind(UvTcpHandle handle, sockaddr& addr, Int32 fla

[2015-10-16 11:46] NeelBhatt commented on #993
This might be useful for you:

https://github.com/aspnet/Hosting/issues/364

[2015-10-16 12:10] damienbod commented on #993
Hi NeelBhatt

Thanks for your answer. Kestrel is working fine, all my other ASP.NET beta8 applications are running fine from the console or using IIS express from Visual Studio. It's just this application, it has also a HTTP client, and SignalR

Greetings Damien

[2015-10-16 12:13] davidfowl commented on #993
Maybe the port is in use?

[2015-10-16 15:19] damienbod commented on #993
Thanks for the tip. I changed the port number and it works. Thanks a million.

"web": "Microsoft.AspNet.Server.Kestrel --server.urls http://localhost:17202"

greetings Damien

[2015-10-16 15:20] #993 closed

[2015-10-16 15:22] HenryGarle commented on #990
Thanks for the info, managed to get my solution back up and running. A little distraught with the news SignalR is being pushed back given my entire project relies on it, serves me right I guess!

[2015-10-16 16:46] Eilon commented on #960
Closing out this issue.

[2015-10-16 16:46] #960 closed

[2015-10-16 17:12] anurse commented on #990
@HenryGarle We certainly aren't forgetting about it, we just had to prioritize to get a stable release :(.

[2015-10-16 17:59] HenryGarle commented on #990
@anurse Thanks for the reply and I am glad to hear its still on the roadmap, I do fully understand and accept responsibility for going against the advice of not building anything on vNext until release, its entirely my fault. I've been beavering away for around 6 months building it with vNext because of  just how much of an advancement it is (And cross platform is important for the project). Taken

[2015-10-17 00:49] Sharpiro opened #994 "Error Message/Sound when closing/stopping IIS Express application"
I get an error message and sound in Win10/VS 2015/Beta 8 whenever I close out an application.  For instance, I just created a web application from the asp.net 5 template.  If I run it with IIS Express, and then close internet explorer, the error occurs (usually too fast to see), but it plays the god awful error message sound 90+% of the time.  This also happens when I click "Stop Debugging".

Can

[2015-10-17 01:09] developer1998 opened #995 "dnu restore uses Clr-x86-1.0.0-beta8-15858 instead of Clr-x64-1.0.0-beta8"
I've installed the beta 8 package. But for some reason when I run dnu restore it utilizes
Clr-x86-1.0.0-beta8-15858 instead of Clr-x64-1.0.0-beta8 and thus is it crashing...
I don't understand...

Feeds used:
    https://www.myget.org/F/aspnetvnext/api/v3/flatcontainer/
    https://www.nuget.org/api/v2/

I don't know where is it getting https://www.myget.org/F/aspnetvnext/api/v3/flatcontainer/ as

[2015-10-17 01:35] GuardRex commented on #994
@Sharpiro Check my steps and notes ... see if any of that helps:  https://github.com/aspnet/Hosting/issues/364#issuecomment-148567294

[2015-10-17 02:31] Eilon commented on #994
@sayedihashimi do you know a contact for IIS Express?

[2015-10-17 02:31] Eilon commented on #994
Or is this a debugger issue? Sorry I may have misunderstood...

[2015-10-17 02:40] robertlevy opened #996 "Add Existing Item dialog is missing "add as link" option"
When going through the "Add Existing Item" dialog in prior versions, the "Add" button is actually a combobox that you can open to choose "Add as link".  For ASP.NET 5 projects, the "add as link" option is not present.

This feature was useful for having projects reference files that live elsewhere in the filesystem, not just beneath the same directory as the project itself.  The primary use case i

[2015-10-17 03:00] garora commented on #990
Thanks guy. I was wondering to resolve my issues and this thread give a
solution. I too had old packages and I cleared cache.
On 16/10/2015 11:30 PM, "HenryGarle" <notifications@github.com> wrote:

[2015-10-17 04:59] davidfowl commented on #994
/cc @BillHiebert

[2015-10-17 06:27] sayedihashimi commented on #994
It's a known issue it requires an "in band" change to Visual Studio so the first time we can prevent the sound is in the first VS update. This is an unfortunate result of moving to HttpPlatfornHandler.

[2015-10-17 06:32] muratg commented on #995
What's the DNX version you're using? (`dnvm list`, the version that has `*`)?  If you're using a recent one, `dnu restore` should show `NuGet.Config` files that are in use.

You can also try `dnu feeds list` which would also display the `NuGet.Config`s that are used for the particular project.

One possibility is that you may have a `NuGet.Config` file local to your project which contains the myge

[2015-10-17 06:35] muratg commented on #996
@sayedihashimi

[2015-10-17 06:41] sayedihashimi commented on #996
Thanks, its a feature that is on our backlog. We are planning to work on that as a part of a larger shared files feature. We have not yet started on that work yet. I'm not exactly sure when we will start at this time.

[2015-10-17 15:11] EgyTechnology opened #997 "Beta8 issue with IIS Express after upgrade"
Hi
I was using beta7 and I upgrade project version to beta8.
After I upgrade project I can't debug project using IIS Express
I get message saying:
Could not load type 'Microsoft.Dnx.Host.Clr.EntryPoint' from assembly 'Microsoft.Dnx.Host.Clr, Version=1.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'.

Error Source:
An unhandled exception was generated during the execution of the current we

[2015-10-17 17:55] moliveto commented on #997
Recreate a new proyect and copy your files into the new site
El oct. 17, 2015 12:11, "Ahmed Emad Mohamed" <notifications@github.com>
escribió:

[2015-10-17 18:29] EgyTechnology commented on #997
There are no way except create new project.

[2015-10-17 20:31] luchen1021 opened #998 "Beta 8 Load Resource Assembly Cause Exception System.IO.FileNotFoundException"
Load resource assembly cause exception System.IO.FileNotFoundException.  The resource assembly is defined in legacy .NET class library, not DNX class library.
The same solution works for Beta 7 but fails when using Beta 8.

Beta 8 Solution
https://github.com/luchen1021/AspNet5Beta8Resource.git
https://github.com/luchen1021/AspNet5Beta8Resource

Beta 7 Solution
https://github.com/luchen1021/AspNet5

[2015-10-17 21:21] Daniel15 opened #999 "beta8 "dnu restore" throwing "Unable to locate Dependency""
I have a ASP.NET 5 library that references a regular .NET 4.0 library. Since upgrading to beta 8, "dnu restore" is throwing an "Unable to locate Dependency" error. The same build works fine in Visual Studio though.

Changes performed to upgrade to beta 8: https://github.com/reactjs/React.NET/commit/07276048ed9148bf5ab75d0ea87c3f492f9d667c
Failing beta 8 build output: https://ci.appveyor.com/projec

[2015-10-17 21:23] damienbod commented on #997
I had the same problem, you need to update the IIS Express (Visual Studio web tools update) and then update the web.config in your project.

Here's a blog explaining:
http://damienbod.com/2015/10/16/asp-net-5-updating-to-beta8-from-older-beta-versions/

Greetings Damien

[2015-10-17 22:20] Daniel15 commented on #999
It seems to work properly if I explicitly specify the projects to restore for. Previously I was just running `dnu restore` in the root of the repo, but changing it to `dnu restore src\React.AspNet src\React.Samples.Mvc6\` "fixes" it. I guess I'll cross-post in the dnx repo too.

[2015-10-17 22:25] Daniel15 commented on #999
Moved to https://github.com/aspnet/dnx/issues/3005

[2015-10-17 22:25] #999 closed

[2015-10-18 02:48] mmulvogue-work commented on #968
We *seem* to have found a fix - at least for the project we're working on.
After a bit of trouble shooting I'm now very sure the problem we were experiencing was path length related.

We could run npm install in command prompt with Visual Studio running in background and Visual Studio would just suddenly crash, we then couldn't start Visual Studio until the node_modules folder was deleted.

The fi

[2015-10-18 09:28] YehudahA opened #1000 "beta8: web.config exception when deploying to IIS"
Hello. i'm beginner with asp.net vNext.

I have VS2015, and I installed the new beta8. I created new API project, and make to changes:
1. I added "Microsoft.AspNet.Server.IIS": "1.0.0-beta7" dependency.
2. I changed "solution DNX SDK version" to beta8.

The project can running locally without any problem.

Now, I published the project to local file system, and copied the output to remote IIS serve

[2015-10-18 09:46] davidfowl commented on #1000
Can you make a new project and try using that and seeing if it works?

[2015-10-18 09:48] ForkBug opened #1001 "Beta8 incorrect package version configuration"
Create a class project with the following project.json:

[code]

When we build it, we'll get:
DNX Core 5.0 error NU1002: The dependency System.IO.FileSystem.Primitives 4.0.0 in project ClassLibrary1 does not support framework DNXCore,Version=v5.0.

For persons encounter same problem, adding

[code]

to tell dependency resolution using correct version, will fix this error.

And could you guys from

[2015-10-18 10:23] YehudahA commented on #1000
David, I used VS template as is, with two changes have detailed above.

UPDATE:
After reading [this post](https://azure.microsoft.com/en-us/blog/announcing-the-release-of-the-httpplatformhandler-module-for-iis-8/), I realized that I have to install HttpPlatformHandler on the target IIS.
I did it and installed HttpPlatformHandler  x64 version.

Now, I get another error:
HTTP Error 502.3 - Bad Gatew

[2015-10-18 11:15] davidfowl commented on #1000
@YehudahA Try reading this post http://blogs.msdn.com/b/webdev/archive/2015/10/15/announcing-availability-of-asp-net-5-beta8.aspx

[2015-10-18 13:55] YehudahA commented on #1000
Devid, I've read that article and also this https://docs.asp.net/..servers.htmlhighlight=commands#servers-and-commands and more.

But I did not understand what I need to do and how configure the project.json.

I tried also using the Empty template provided by VS, the same problem occurs.
I googled and read a lot of articles, but it's hard to know which is updated.

[2015-10-18 18:38] GuardRex commented on #1000
@YehudahA Check this list of steps against what you've done thus far: https://github.com/aspnet/Hosting/issues/364#issuecomment-148567294

[2015-10-18 21:18] yellowsix commented on #950
Even though this is closed, I'm having some trouble with it as well. I was able to get profiling to run by browsing to the dnx.exe executable directly and providing the proper arguments to start my DNX console application. Profiling only partly works... it is missing the Function Code View, which I find very helpful.

[2015-10-18 21:24] YehudahA commented on #1000
@GuardRex, I am in total despair. I did EXCACTLY those steps. nothing help.
This is my project.json content:
[code]

This is global.json content:
[code]

This is Startup.cs content
[code]

And this is the pubxml content:
[code]

[2015-10-18 22:02] GuardRex commented on #1000
@YehudahA You've done a server restart since the installation, correct? Did you turn on the `HttpPlatformHander` log in `web.config`?
[code]
... and check for the presence of the log and its contents if it is there. Note that I have a `logs` folder in my project to receive logs; but if you leave out the `stdoutLogFile`, it will write the log files to your `wwwroot`. Because I use that path, my log

[2015-10-19 00:29] Eilon commented on #820
@blowdart thoughts on having matching encode/decode APIs for all the encoder stuff? This is all in the BCL now, but we can provide input (and perhaps implementations, if desired).

There are currently HTML, JavaScript, and URL encoders here: https://github.com/dotnet/corefx/tree/master/src/System.Text.Encodings.Web/src/System/Text/Encodings/Web. But no decoders.

[2015-10-19 00:37] blowdart commented on #820
We is core duplicating work we have already done? (https://github.com/aspnet/HttpAbstractions/tree/dev/src/Microsoft.Extensions.WebEncoders.Core)

There needs to be a sole implementation, and ours, we generate from the specs, so it's up to date.

(but yea, there should be decodes too).

[2015-10-19 01:50] luchen1021 commented on #1000
Get the same error HTTP Error 502.3 - Bad Gateway with following event log.  The ..\logs\stdout.log is created but always empty.  This happens even with DNXCore50 beta 8.  Windows Server 2012 R2 and IIS 8.5.  HttpPlatformHandler is installed and enabled in the IIS Handler Mapping.

<Event xmlns="http://schemas.microsoft.com/win/2004/08/events/event">
	<System>
	  <Provider Name="HttpPlatformHandle

[2015-10-19 03:15] rhires opened #1002 "Kestrel vs Beta8"
dnx kestrel throws an exception when running beta 8, and my project.json showing beta8 `"Microsoft.AspNet.Server.Kestrel": "1.0.0-beta8",` - notably, it will run if I have beta7 in there for Kestrel, even though dnx is beta8. Running mono on Mac OS X Yosemite. I recall seeing something about the commands section being different for the kestrel commands, as a possible solution, but I can't seem to

[2015-10-19 03:20] GuardRex commented on #1000
@luchen1021 Check out:

https://github.com/aspnet/Hosting/issues/364#issuecomment-142517221
https://github.com/aspnet/Hosting/issues/364#issuecomment-144003845

... feels like the wrong version of `HttpPlatformHandler`. Look at Control Panel > Programs and see if v1.2 shows up as the one installed on the server. If not, get rid of whatever is there and go with:

x64 version: http://go.microsoft.co

[2015-10-19 04:27] davidfowl commented on #1002
Publish your project to a github repo

[2015-10-19 05:53] YehudahA commented on #1000
@luchen1021 Thank you! You've solved my problem!
Please note that there links to the old version, you might want to fix them. https://azure.microsoft.com/en-us/blog/announcing-the-release-of-the-httpplatformhandler-module-for-iis-8/

I thank you very much and I hope that from now on things will go easily and not difficulty.
Thanks also to the rest of the members who helped and contributed.

[2015-10-19 07:45] GuardRex commented on #1000
@YehudahA Yes, both the Microsoft Download Center at http://www.iis.net/downloads/microsoft/httpplatformhandler and WebPI still have v1.0.

[2015-10-19 09:41] Mark-Broadhurst commented on #968
We also have found a slightly different work around, it seems like it only happens when using npm with git. so adding the node_modules folder to .gitignore resolved our problem here.

It seems the visual studio git library doesn't like when it suddenly gets 70,000+ files added.

[2015-10-19 11:18] rhires commented on #1002
Here's the repo: https://github.com/rhires/kestrelvsbeta8. I realize that I didn't previously mention that I used yeoman to scaffold the thing, then went in and changed the dependencies to beta8 from beta7, and ran a dnu restore...

[2015-10-19 12:54] Rinsen opened #1003 "I can't get a https request on IISExpress in Visual Studio after beta8 upgrade"
When i call the included repo app via http or https i always get context.Request.IsHttps = false in my class HttpsRedirectMiddleware included in the repo

https://github.com/Rinsen/HttpsProblemWithKestrel

In Visual Studio I have the check box with Enable SSL checked and a valid URL(https://localhost:44300/) as i always have done earlier but now it does not work any more, any ideas on what is wron

[2015-10-19 14:27] luchen1021 commented on #998
The publish of the AspNet5Beta8Resource solution also failed.
https://github.com/luchen1021/AspNet5Beta8Resource.git
https://github.com/luchen1021/AspNet5Beta8Resource

The publish of the AspNet5Beta7Resource solution works fine.
https://github.com/luchen1021/AspNet5Beta7Resource.git
https://github.com/luchen1021/AspNet5Beta7Resource

[2015-10-19 14:32] luchen1021 commented on #998
Tried another approach, change project reference to binary reference for Legacy Library and Legacy Resource Library.
https://github.com/luchen1021/AspNet5Beta8ResourceBinaryReference.git
https://github.com/luchen1021/AspNet5Beta8ResourceBinaryReference

Running in Visual Studio 2015 with IISExpress still get the same exception as shown in top comment.

Publish works fine in binary reference approa

[2015-10-19 14:38] IlyaKhD opened #4981 "Hierarchical Parent Tag restriction"
We're working on a custom Tag Helpers package, and one feature we really miss is a parent tag restriction based on tag hierarchy (not only immediate parent).
We already described our problems here: https://github.com/aspnet/Razor/issues/474#issuecomment-144108209 and https://github.com/aspnet/Razor/issues/570.

Currently, we choose the only appropriate Tag Helper in runtime (the `Process` method),

[2015-10-19 15:31] Sharpiro opened #1004 "DefaultHttpContext > Features > Throws Exception"
Using Beta8 (or 7) I created a new empty project form the template and set a breakpoint where it prints "Hello World".

In the debugger, if I examine the "context" variable, Drill down into "Features", and then click "Results View" I get the following exception:

[code]

I noticed that I can still "Get" and "Set" features so I'm not sure how serious this issue is, but as i'm working with "Features

[2015-10-19 17:29] Sharpiro opened #1005 "IHttpUpgradeFeature "IsUpgradableRequest" is never true in IIS Express"
IHttpUpgradeFeature "IsUpgradableRequest" is never true in IIS Express profile, but works when running from kestrel via default "web" profile.  Likely an issue with: ```"Microsoft.AspNet.IISPlatformHandler": "1.0.0-beta8"```

Repro:

Create an empty web application from the asp.net 5 templates.  Add the following lines of code inside ```app.Run``` inside Startup.cs:
[code]

Send the following line

[2015-10-19 17:50] RadarBee opened #1006 "dnu/dnx fail silently on OS X 10.11"
Not sure if this is happening on other platforms, but, on OS X 10.11 both dnu and dnx fail (silently) to execute at all with 1.0.0-beta8. beta7 still works fine. Has anyone else experienced this and found a remedy?

[2015-10-19 18:30] tushargupta51 commented on #1006
This is because 'icu4c' is needed for the System.Globalization in beta8 on OS X. Try 'brew install icu4c'. I am not sure if we have the updated docs for beta8 out yet.

[2015-10-19 19:36] marce155 opened #1007 "Can't run dnx web as root"
Testing the beta8 release on Linux (on coreclr, not mono) everything works perfectly fine if I run under my account, but once I attempt to do a `dnx web` as root I get this Exception:

[code]

Running as root is important for process management tools like runit to keep kestrel alive and start after reboots. My run script looks like this:

[code]

Most probably I configured something wrong, not a L

[2015-10-19 23:58] kirk-marple commented on #911
After the beta 8 release, Microsoft.AspNet.Authentication.OAuthBearer still appears only as beta7 on nuget.org package source.  All the other related packages are marked as beta8.

Was there an issue with this package not being publically released for beta8?

[2015-10-20 00:04] Tratcher commented on #911
It was renamed to JwtBearer.

[2015-10-20 00:10] kirk-marple commented on #911
Great thanks, I didn't see that listed in the announcements.

https://github.com/aspnet/announcements/issues?q=is%3Aissue+milestone%3A1.0.0-beta8

[2015-10-20 01:00] Tratcher commented on #1005
This issue was moved to aspnet/IISIntegration#19

[2015-10-20 01:00] #1005 closed

[2015-10-20 01:01] Tratcher commented on #1004
This issue was moved to aspnet/HttpAbstractions#445

[2015-10-20 01:01] #1004 closed

[2015-10-20 01:04] Tratcher commented on #1003
You need the `app.UseIISPlatformHandler();` to forward the scheme as described here: https://github.com/aspnet/Hosting/issues/364

[2015-10-20 01:05] Tratcher commented on #1002
hosting.ini has changed to hosting.json.

[2015-10-20 01:14] Tratcher commented on #987
This issue was moved to aspnet/HttpAbstractions#446

[2015-10-20 01:14] #987 closed

[2015-10-20 02:06] rhires commented on #1002
Cool. What would be the proper format for the info already in that file? I guessed `	"server.urls":"http://localhost:5000"` and it seems to be right, but when I updated yeoman, and it scaffolded out a new project, it doesn't bother with hosting.anything, and instead it seems that the server.urls is hard coded somewhere, because I can't see where it would be configured (I looked in all the differen

[2015-10-20 02:06] #1002 closed

[2015-10-20 03:29] Eilon commented on #820
@blowdart we're removing ours and will call into the ones in CoreFx (we moved the code there).

Do you want to log a bug for CoreFx on decoders with any relevant info?

[2015-10-20 10:17] myshark commented on #912
same error with beta8

[2015-10-20 12:01] Tragetaschen opened #1008 "The beta8 sample console app has an invalid version number"
[`"System.Console": "4.0.0-beta-beta8"`](https://github.com/aspnet/Home/blob/dev/samples/1.0.0-beta8/ConsoleApp/project.json#L12) doesn't look right and doesn't restore properly

@glennc

[2015-10-20 12:03] Tragetaschen commented on #825
Both beta7 and beta8 tags contained the samples. Yay :)

[2015-10-20 12:03] #825 closed

[2015-10-20 12:15] Rinsen commented on #1003
Thanks!

That thread was so huge that I have missed that part...

[2015-10-20 12:15] #1003 closed

[2015-10-20 15:50] karl-sjogren opened #1009 "Setting localization cookie based on provider results"
What would be the most appropriate way to set a cookie for CookieRequestCultureProvider based the value returned by the RequestProviders? If I chose a culture by appending it to the querystring I would like this to be persisted so I don't have to reuse that querystring all the time but I haven't figured out when that cookie should be created. I'm leaning against adding another middleware for it ju

[2015-10-20 16:58] Tratcher commented on #1002
http://localhost:5000/ is the default address if none are provided. You can specify server.urls in the command line, in the project.json command, in the Microsoft.AspNet.Hosting.json config file, in an environment variable, etc..

[2015-10-20 17:21] lazarofrancoe opened #1010 "Bootstrapper project for common packages"
Hi.

Would it be possible (in beta8+) to have a bootstrapper project which has installed all packages required by the entire project, **without** having to reference the bootstrapper project from the others projects? (if I add the references, Entity Framework, for example, would be available in my Web project, which is not desirable).

Thank you
### Added

I also noticed that it is not possible to

[2015-10-20 19:53] luchen1021 commented on #998
Based on sample code https://github.com/aspnet/dnx/blob/dev/misc/ResourcesTestProjects/ReadFromResources/src/ReadFromResources/Program.cs, I have to change the following line of code in generated Resources.Designer.cs by Visual Studio from

	global::System.Resources.ResourceManager temp = new global::System.Resources.ResourceManager("AspNet5Beta8LegacyLibrary.LegacyLibrary.Ext.Properties.Resources

[2015-10-20 21:13] mwijnands commented on #912
HelloMvc gives me the same error when running in a Docker container. While HelloWeb runs without problems in a Docker container.

[2015-10-20 21:21] pragmat1c commented on #1000
I have the exact same issue as luchen1021:

Windows Server 2012R2/IIS 8.5

When browsing to the site:

HTTP Error 502.3 - Bad Gateway
There was a connection error while trying to route the request.

Application Event Log:
Process '0' failed to start. Port = 20313, Error Code = '-2147024894'.

I followed the instruction here:
https://github.com/aspnet/Hosting/issues/364#issuecomment-148567294

I ha

[2015-10-20 21:25] GuardRex commented on #1000
@pragmat1c That's most likely caused by having the wrong version of the HttpPlatformHandler installed on your server. Go to Control Panels > Programs > Programs and Features and see what version you have installed. It should say v1.2.

[2015-10-20 21:46] pragmat1c commented on #1000
@GuardRex, Yes I've check (and double and triple checked) the version. it is v1.2.

[code]

**I changed my web.config back to the "deployed" version above and now I get a 404 when browsing to my app.**

In my log I get:
warning : [Microsoft.Framework.DependencyInjection.DataProtectionServices] Neither user profile nor HKLM registry available. Using an ephemeral key repository. Protected data will

[2015-10-20 22:01] GuardRex commented on #1000
@pragmat1c Check this out: https://github.com/aspnet/Hosting/issues/412

[2015-10-20 22:26] jojo-jose opened #1011 "The dependency AspNet.Security.OpenIdConnect.Server >= 1.0.0-beta3 could not be resolved"
I can not get the package  AspNet.Security.OpenIdConnect.Server beta3.

In my visual studio, the latest one I can see is latest prerelease 1.0.0-beta2.

I have contacted the author, he informed me that he has uploaded the latest build beta3 to https://www.nuget.org/packages/AspNet.Security.OpenIdConnect.Server/1.0.0-beta3 on 2015-10-16 and I can see that. But my visual studio can not find that!

!

[2015-10-20 23:31] YehudahA opened #1012 "How to run WebAPi on IISExpress using command line"
I have two solutions: The one is a service [asp.net 5 API] and the other is the client [.NET console application]. I want the service will run every time I run the client.

My machine is win10 x64 with VS2015 installed, and Web tools beta 8 installed.

I tried this command:

[code]

But when I send a requeste I get:

[code]

If I run `iisexpress /path:.....wwwroot` I get another exception: 502.19

[2015-10-21 01:37] Eilon commented on #1011
@yishaigalatzer seems related to NuGet?

[2015-10-21 01:57] jojo-jose commented on #1011
yes. I can see beta 2, but not beta3...

[2015-10-21 02:55] yishaigalatzer commented on #1011
What is your project type and target framework?

[2015-10-21 02:59] jojo-jose commented on #1011
asp.net web application, 1.0.0-beta8

[2015-10-21 03:46] pragmat1c commented on #1000
@GuardRex, I'm sorry, but I don't see how that issue is relevant to mine?

[2015-10-21 04:08] yishaigalatzer commented on #1011
Does it work if you change the source to https://www.nuget.org/api/v2 ?

[2015-10-21 04:10] GuardRex commented on #1000
@pragmat1c My bad ... I was confused on who was on Azure Web Apps. They were having an issue with the `processPath`. Since it seems it is finding the command, I don't think it matters that I'm using `processPath="%DNX_PATH%"` and `arguments="%DNX_ARGS%"`. Try with my settings just to make sure.

I also have a different "web" command ...
[code]
... but I've seen other posters using the one you have

[2015-10-21 04:26] jojo-jose commented on #1011
Yes, there I can see beta3. Can I use this?

[2015-10-21 08:36] petrhaus opened #1013 "Beta 8: default web api projects, 404 issue"
Create the default web api project.

Open Postman and issue a GET /api/values -> 200 OK
Then issue a DEL /api/values/1 -> 200 OK
Now issue a GET /api/values -> 200 OK
Again GET /api/values -> **404 NOT FOUND**
Again GET /api/values -> 200 OK and so on for all subsequent requests

[2015-10-21 09:00] maartenba commented on #1011
Seems this package wasn't properly indexed. Can you give it another try?

[2015-10-21 11:12] YehudahA commented on #1012
I Found the solution:
[code]

[2015-10-21 11:54] ankitvijay opened #1014 "Issue while referencing external DLL after upgarding to Beta 8"
Hi, I'm getting runtime exception in my project on external DLL reference after upgrading the project to beta 8 from beta 7. Below are the details:
-- Class Library (Package) has reference to an external library
       -- Console (Package) refers the above Class Library and tries to call a method defined in Class Library. It also has reference to the same external library.

Before Upgrade: The app

[2015-10-21 12:50] tugberkugurlu opened #1015 "Log correlation by request Id on Web applications"
I am trying to see how I can correlate the logs based on a request id. It seems like this [`LoggerMessage.DefineScope`](https://github.com/aspnet/Logging/blob/718ac11d11dc8b3fd0a96c4d866d164f073ef23b/samples/SampleApp/LoggerExtensions.cs#L19-L22) is the proper way of doing it but I am not sure how it would play with for the rest of the application where I am not injecting an `ILogger` but injectin

[2015-10-21 12:56] tugberkugurlu commented on #1015
Looking at the beta8 and the below is my poor attempt:

[code]

Which got me nowhere.

[2015-10-21 14:52] pragmat1c commented on #1000
@GuardRex any static file also returns a 404 with an empty response body. (For instance any request for a css or js file in my app).

I've also tried:
[code]

No luck.

If i browse directly to http://localhost:24750 (the url in the logs) the site is loaded.

My hunch is the httpPlatformHandler is not working properly.  But again, see my previous answer where I have version 1.2 installed.

[2015-10-21 15:59] Tratcher commented on #1015
Hosting handles this now. See https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNet.Hosting/Internal/HostingEngine.cs#L97-L110
Note there are a few outstanding PRs to clean it up a little more.

[2015-10-21 16:26] GuardRex commented on #1000
@pragmat1c That's a good sign that you can hit it at localhost. How are your bindings setup for the app? Can you delete whatever binding you have for the app and re-add it? I'd look in the logs, too, to make sure IIS is seeing the requests: `C:\inetpub\logs\LogFiles`

[2015-10-21 16:49] pragmat1c commented on #1000
@GuardRex,
Could you elaborate on the "bindings"? I'm not quite following you.
Thanks!

[2015-10-21 16:53] GuardRex commented on #1000
@pragmat1c

![capture](https://cloud.githubusercontent.com/assets/1622880/10643796/64ae3794-77ea-11e5-9b89-3c8df06db553.PNG)

[2015-10-21 19:00] PinpointTownes commented on #1011
@jojo-jose glad you finally sorted it out! :smile:

@maartenba interesting. Is there something I can do to fix/avoid that?

[2015-10-21 19:02] maartenba commented on #1011
We're looking into how this happened.

[2015-10-21 19:10] pragmat1c commented on #1000
@GuardRex,
This is an application running under the "Default Web Site". The Bindings are fine, I can get to the default web site.

Yes, IIS is logging the requests.
[code]

[2015-10-21 19:17] PinpointTownes commented on #1011
Okay, thanks! :clap:

FYI, I changed my push script: unlike the first releases, the new packages have been uploaded concurrently. Could that be a concurrency issue?

[2015-10-21 19:21] pragmat1c commented on #1000
@GuardRex,
Turnds out it was this issue:
https://github.com/aspnet/Hosting/issues/416#issuecomment-149046552

I had to do that app.Map fix in the Startup.cs Configure method.
[code]
My app is now working.

[2015-10-21 19:26] maartenba commented on #1011
It shouldn't be an issue, but it's a great pointer for our research. May be a good thing to not push in parallel for a while.

[2015-10-21 19:51] Sharpiro commented on #1000
I was receiving the bad web.config and the bad gateway error when try trying to deploy to IIS prior to installing the correct* http platform handler.

However, I am still getting a related issue when deploying to Azure with beta 8.  The deployment succeeds, but when the page opens all i get is a 500 error and the message:
[code]

[2015-10-21 21:03] jruckert opened #1016 "Next update on MyGet Feed?"
Just wondering when the next build will be avaliable on http://myget.org/gallery/aspnetvnext, it has not been updated for a week or so.

[2015-10-21 21:13] juri33 opened #1017 "Can't publish asp.net 5 application after update to beta8 - the dependency … could not be resolved"
i've already asked the qjuestion on stackoverflow, but got no answers

http://stackoverflow.com/questions/33175017/cant-publish-asp-net-5-application-after-update-to-beta8-the-dependency-c?noredirect=1#comment54171739_33175017

---

I have updated a webApi asp.net5 application to beta8 and can't publish to the file system any more.

The build seems to work, i can debug and run the app, but if i tr

[2015-10-21 22:11] jojo-jose commented on #1011
Now I can see beta3 from api.nuget.org. Thanks very much for all your support

[2015-10-21 22:11] #1011 closed

[2015-10-21 23:05] GuardRex commented on #1000
@pragmat1c Cool. I added that reference to my guidance.

@Sharpiro That one has mostly been associated with the DNX_PATH. See https://github.com/aspnet/Hosting/issues/412

[2015-10-22 00:17] pranavkm commented on #1016
cc @muratg - let's try and get a Coherence-Signed build out by tomorrow.

[2015-10-22 00:19] muratg commented on #1016
Agreed!

[2015-10-22 00:43] jruckert commented on #1016
Thank you!

[2015-10-22 04:38] Kagamine commented on #1017
Hi @juri33 , which target did you selected?

[2015-10-22 04:43] Kagamine commented on #1016
aspnetcidev feed always missing some packages, such as Microsoft.Extensions.Logging.Console, others are v1.0.0-rc1-15727, but this just is v1.0.0-rc1-15724. This problem makes lots of things cannot be compiled, such as the mvc. https://ci.appveyor.com/project/aspnetci/mvc/branch/dev
/cc @muratg  @Eilon

[2015-10-22 11:23] Zahid-Ashiq commented on #1014
Hi, i am also facing the same issue and also i am facing the following error with dnvm beta 8
"Could not load file or assembly 'Microsoft.Dnx.Host.Clr' or one of its dependencies. The system cannot find the file specified."

[2015-10-22 11:35] NeelBhatt commented on #1014
Can you show your  global.json file?

[2015-10-22 11:46] NiyazShoukath opened #1018 "visual studio 2015- beta8 issue: how can solve"
![error](https://cloud.githubusercontent.com/assets/14939784/10664357/73a1ddf0-78cb-11e5-8753-c6965ae56d00.png)

[2015-10-22 11:55] Zahid-Ashiq commented on #1014
Below is the my global.json file setting:

{
    "projects": [ "" ],
    "sdk": {
        "architecture": "x86",
        "runtime": "clr",
        "version": "1.0.0-beta8"
    }
}

[2015-10-22 12:25] NeelBhatt commented on #1014
looks fine to me. I have found something similar. If you can relate here:

https://github.com/aspnet/dnx/issues/2392

[2015-10-22 12:28] davidfowl commented on #1014
Please read the blog post, release  notes and annoucements for beta8 http://blogs.msdn.com/b/webdev/archive/2015/10/15/announcing-availability-of-asp-net-5-beta8.aspx

[2015-10-22 15:32] TheMadKow opened #1019 "Better Outputs on errors."
Hi,
Don't know if issue already discussed here, to my understanding it hasn't.
1. Using dnx beta-8 x86 instead of x64, created general server errors (500, 502, etc) on running the IIS Express.  Never did it mentioned that it might be related to wrong run-time version. (httpHandler is x64).
   This issue occurred both on my current project and on creating new asp.net template.
2. Currently - Upgrad

[2015-10-22 15:36] juri33 commented on #1017
Hi @Kagamine,

did that, but it didnt help... :-(

  GET https://www.nuget.org/api/v2/
  OK https://www.nuget.org/api/v2/ 893ms
Restoring packages for C:\Projekte\Workfolders\software\trunk\ServicePlatform\WebAPI\project.json
  GET https://www.nuget.org/api/v2/FindPackagesById()?id='System.Data.SQLite'
  OK https://www.nuget.org/api/v2/FindPackagesById()?id='System.Data.SQLite' 633ms
Writing lock

[2015-10-22 16:21] ankitvijay commented on #1014
Hi David, I have gone through the blog post, one point that was relevant to this case was "Explicitly target dependencies at packages or projects". I tried to explicitly define target but it didn't help. Is there anything specific I need to look into? My global.json is:
{
  "projects": [
    "src",
    "test",
    "wrap"
  ],
  "sdk": {
    "version": "1.0.0-beta8"
  }
}

[2015-10-22 17:55] Sm1le291 opened #1020 "vNext on Windows Server IIS Not Works"
Hi! I have problem when deploy vnext project to IIS on Server both Server 2008R2 or 2012.
I install all updates include new from beta 8 tools. Install DNX! I show runtimes in Profile folder and in ProgramData. I show vars in Environment tab. And VS installed too.  In log I have this message
'"dnx.exe"' is not recognized as an internal or external command,
operable program or batch file.
I try in t

[2015-10-22 19:19] GuardRex commented on #1020
@Sm1le291 Compare what you've done to my notes and see if you hit all of the major points: https://github.com/aspnet/Hosting/issues/364#issuecomment-148567294

[2015-10-22 20:30] Sm1le291 commented on #1020
Wow!!! GuardRex, I read quickly and I think you thread helps me. I try tomorrow and write result.

[2015-10-22 20:30] Sm1le291 commented on #1020
Thanks)

[2015-10-22 20:34] GuardRex commented on #1020
@Sm1le291 Sure thing. Post back if you get stuck, and MS and community people will try to help.

[2015-10-22 22:34] benaadams opened #1021 "Test tools need a corefx version bump"
AppVeyor and Travis occasionally report an unrelated error

   at System.Net.Http.WinHttpRequestState.FromIntPtr(IntPtr gcHandle)
   at System.Net.Http.WinHttpRequestCallback.WinHttpCallback(IntPtr handle, IntPtr context, UInt32 internetStatus, IntPtr statusInformation, UInt32 statusInformationLength)
fail: Exit code -532462766 from cmd
fail: Stack trace:
   at View12e46788b72f4736b249ab6593dec757

[2015-10-22 23:07] gvx111 opened #1022 "Running Error [Bug]"
after dnu restore
<pre>System.TypeLoadException: Could not load type 'Microsoft.Dnx.Runtime.PlatformServices' from assembly 'Microsoft.Dnx.Runtime.Abstractions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'.
   at Microsoft.AspNet.Hosting.Program.Main(String[] args)
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.ExceptionServices.Exceptio

[2015-10-22 23:49] muratg commented on #1021
We'll be consuming the CoreFX build with the fixes soon and it should resolve this issue.

[2015-10-23 01:04] Kagamine commented on #1017
Where is your source code?

[2015-10-23 01:10] Kagamine commented on #1022
What's in your project.json?

[2015-10-23 01:23] simonfanz commented on #672
It looks like the line referenced by @stajs to fixed this has changed slightly, but the idea is still the same:

line 1084 needs the proxy parameter added:

$VersionNuPkgOrAlias = Find-Latest $Runtime $Architecture -Feed:$selectedFeed -Proxy:$Proxy

[2015-10-23 01:59] stajs commented on #672
@simonfanz My suggestions got merged in here: https://github.com/aspnet/dnvm/pull/454

If you have found another area where the proxy needs to be passed along, you should submit a PR.

[2015-10-23 02:08] simonfanz commented on #672
@stajs Ah thanks, indeed you are right.  No, I suspect I've just come across an old version of dnvm.ps1 (which  currently installs as part of the vnext beta8 preview linked from http://www.asp.net/vnext)

[2015-10-23 02:15] stajs commented on #672
@simonfanz Sorry, I should have clarified. Yes beta8 is still the current version (at time of writing) and yes, will require you to manually hack to work around proxies. That merge is linked to the RC1 milestone, so expect it to land with that.

[2015-10-23 02:51] unt1tled commented on #1018
try running dnx update

[2015-10-23 04:18] PureKrome commented on #1006
Doc's mention this step. (2nd brew step. i know cause i did it last night and googled what the hell did `icu4c` mean. i thought it was made up `person-randonly-hitting-the-keyboard` or a github commit hash :)

[2015-10-23 07:57] juri33 commented on #1017
@Kagamine my source code is in C:\Projekte\Workfolders\software\trunk\ServicePlatform\WebAPI

powershell script: i have tried both, but it doesn't change anything. i got always same errors.

[2015-10-23 09:00] Anderman opened #1023 "Search asp.net-5 information."
I create a CSE for searching information about ASP.NET-5.
Maybe you can add such link in de home repository or somewhere else for people to find all relevant asp.net-5 information.

I think this will lead to less questions and less duplicate issues.

https://cse.google.com/cse/publicurl?cx=011164928887811869310:ceyqgj-kmyq

I used this setup
![image](https://cloud.githubusercontent.com/assets/1858

[2015-10-23 09:15] Kagamine commented on #1017
Can you publish an empty project？ maybe you have to visit jabbr.com and enter into aspnet vnext room to tell your problem to @davidfowl

[2015-10-23 09:35] Anderman opened #1024 "Setup documenation like laracast"
There is a lot of documentation about asp and c# on channel 9 but not like laracast. This is an excelent source if you use php and larrafile.

I think is would be great to have something like this for c#, asp.net-5 mvc-6 and EF7

The current video's on channel 9 or microsoftvirtualacademy are too long. Scott Handselmann has some nice video's about a single subject and a lot of stackoverflow questi

[2015-10-23 10:51] Zahid-Ashiq commented on #1014
Hi ankitvijay, i have been solved the "DLL reference after upgrading the project to beta 8" issue after restore the nuget packages. Means that Go into package manager console window and run the command "dnx restore" without quotes. Second, also additional thing is that you can install the "WebToolsExtensionsVS14". You can read the below post and good for migrations:

http://www.brandonmartinez.com

[2015-10-23 14:18] rhires opened #1025 "Tag Helpers and label asp-for not showing the label"
Hello...so I have this code, straight from ef.readthedocs.org, in the [aspnet5 section](https://github.com/aspnet/EntityFramework.Docs/blob/master/docs/getting-started/aspnet5/sample/src/EFGetStarted.AspNet5/Views/Blogs/Create.cshtml)  (unzipped the example, navigated down to the proper level, ran dnu restore, then dnx web)...and for some reason or other, it doesn't show the label in the rendered

[2015-10-23 15:11] saluce65 opened #1026 "ASP.NET 5 on IIS 7.5"
I understand that Beta8 changed over to use the HttpPlatformHandler module when running under IIS.  Unfortunately, it appears that the module is only supported on IIS 8+, so officially ASP.NET 5 only works on those versions of IIS.  I've tested locally on a dev machine using IIS 7.5 and the module appears to work, but I haven't done any extensive testing.  Will the module be officially supported o

[2015-10-23 15:25] GuardRex commented on #1026
@saluce65 The min supported version is Windows 2008 R2, which is IIS 7.5. https://github.com/aspnet/Hosting/issues/364#issuecomment-150293300

[2015-10-23 15:33] dougbu commented on #1025
@rhires please upload the screenshot mentioned in your original description? Need either the generated HTML or that screenshot to understand what you're seeing.

[2015-10-23 16:37] joshuaaa opened #1027 ""dnu restore -s" with multiple sources"
The only example I could find online was from beta 4, and the example apparently doesn't work with beta 7/8.

Basically I need to call dnu restore with 2 source (the generic source and a company source).

I have tried both of these but they don't work:
dnu restore -s https://mycompanysource -s https://www.nuget.org/api/v2
dnu restore -s https://mycompanysource -f https://www.nuget.org/api/v2

The

[2015-10-23 16:46] steve-warwick opened #1028 "dnu restore fails with System.UnauthorizedAccessException: Access to the path 'C:\Windows\system32\LogFiles\WMI\RtBackup' is denied"
With beta 8 when I run "dnu restore" I get the following:

C:\Windows\system32>dnu restore
Microsoft .NET Development Utility Clr-x86-1.0.0-beta8-15858

----------
System.UnauthorizedAccessException: Access to the path 'C:\Windows\system32\LogFiles\WMI\RtBackup' is denied.
   at System.IO.__Error.WinIOError(Int32 errorCode, String maybeFullPath)
   at System.IO.FileSystemEnumerableIterator`1.AddSe

[2015-10-23 16:53] davidfowl commented on #1028
Why would you restore the windows directory?

[2015-10-23 17:05] steve-warwick commented on #1028
My apologies. I'm new to this framework. I'm still figuring out how this whole process works. I'm running into any issue when a WebApp deployed as service fabric service keeps restarting with an error "The program '[8596] dnx.exe' has exited with code 1 (0x1)." I did some searches one result recommended running this command. I'll enter this as a separate issue. Sorry for wasting your time.

[2015-10-23 17:05] #1028 closed

[2015-10-23 18:35] rhires commented on #1025
Hmmm..sending this from email, since when I attempted to include a screen shot in .png github wouldn’t include it.

And the html -
<h2>New Blog</h2>

<form method="post <>" class="form-horizontal <>" role="form <>" action="/Blogs/Create <view-source:http://localhost:5000/Blogs/Create>">
    <div class="form-horizontal <>">
        <div class="text-danger validation-summary-valid <>" data-valmsg-su

[2015-10-23 19:43] benaadams commented on #1021
This seems resolved now

[2015-10-23 19:43] #1021 closed

[2015-10-23 20:50] wmekal opened #1029 "Exclude files from compilation depending on environment/configuration"
Hi,

I like to organize my projects using per-feature approach, so instead of having structure like:

/Controllers
/Views
/...

I have:

/Features
  /Customers
    /Controller.cs
    /View.cshtml
  /Orders
  /...

I also like to keep tests (unit/functional) together with the features, so next to Controller.cs there might be ControllerTests.cs.
Thanks to that, I have all code and tests related to g

[2015-10-23 21:32] colemickens opened #1030 "beta8 dnu/dnx produce output on ubuntu 15.04, but not 15.10"
This Dockerfile, combined with an ASP.NET project will allow you to use `dnu` and `dnx` and see output as you might expect:
https://github.com/colemickens/polykube/blob/c30d0c36bfeb22367a02ab3ce9908efd1c76c28c/dotnet/Dockerfile.dotnet.dev

However, if you just change the base image to 15.10 and then `libicu52` to `libicu55`, you will no longer get any output from `dnu` or `dnx`.

[2015-10-24 01:02] dougbu commented on #1025
This is a defect in the `Create.cshtml` file. I'll move the issue to the [aspnet/EntityFramework.Docs](https://github.com/aspnet/EntityFramework.Docs/issues) repo. Quick fix is to add the missing `</label>` end tag -- that element should not be self-closing.

###### details
The MVC tag helpers do not overrule the `.cshtml` author. If the file contains `<label/>` or `<input>something</input>`, so w

[2015-10-24 01:08] dougbu commented on #1025
This issue was moved to aspnet/EntityFramework.Docs#49

[2015-10-24 01:08] #1025 closed

[2015-10-24 04:15] ankitvijay commented on #1014
Hi Zahid, "dnu restore" didn't help me. The DLL if referred as traditional Class Library and traditional Console works fine. But, not when you refer as Package.

[2015-10-24 07:15] NiyazShoukath commented on #1018
@unt1tled  i  am already update dnx  to  beta 8
vs 2015 : beta 8
DNX  version : 1.0.0-beta8-15858

OS windows 10

stil same error?

[2015-10-24 07:35] TheMadKow commented on #1018
It may be silly, but have you restarted the VS ?

[2015-10-24 08:01] NiyazShoukath commented on #1018
yes , i have restart my laptop also

[2015-10-24 09:16] Zahid-Ashiq commented on #1014
Hi ankit, yes i am also talking about dll if referred as package. if you are using package manager console then you will do just run the "dnu restore" command for all application layer for example if you are using bussiness location dll in database layer then you will do select the database layer in package manager console and then run the command and so on for others. i did implement this method

[2015-10-24 09:54] singlewind opened #1031 "Beta-8 web tools cause visual studio 2015 restarts when edit package.json"
As described in the title, every time when I edit the package.json to add a new package. The visual studio crashes and restarts itself. The node package has been installed correctly after restarts. Don't know why it crashes.

Also, the ASP.NET template doesn't allow add new resource file. The new items allowed to create in visual studio is limited to DNX.

[2015-10-24 09:58] singlewind commented on #1012
@YehudahA I think the Microsoft.Dnx.ApplicationHost is another host method not iisexpress. I could be wrong, still new to this. There are 3 ways to host an application via IISPlatform(iis, iisexpress), Kestrel and applicationhost.

[2015-10-24 10:19] davidfowl commented on #1012
That's not the solution...

[2015-10-24 19:25] Zahid-Ashiq commented on #1014
Hi everyone, i did found very simple step if everyone have been tired after migration "dnvm". Step is just download the "webtoolextenstion" for beta 8 and then install. link is:

http://www.microsoft.com/en-us/download/details.aspx?id=49442

 After that, create new project and then import all older project file into the new. Because "webtoolextenstion" will do automatically fixed the issues like "

[2015-10-24 21:11] jruckert commented on #1016
No luck on this? I'm keen to try out some fixes on EF7.

[2015-10-24 21:20] pranavkm commented on #1016
Sorry @jruckert, we've had a whole slew of changes and it's taking some time for us to sort through it. We're close to getting a rc1 bit, so getting a set of signed bits out is a top priority.

[2015-10-24 22:46] YehudahA commented on #1012
Hi!
After trial and error, I changed my code something like this:
[code]
I save it in a xxx.cmd file, anr run it every time that I want run my client project.
But, I don't know how to set the port end environment. Even if I set it explicitly the port, it lictening to 5000. This is the output of the console:
[code]
I can add new command to project.json, with server.urls parameter and aspnet_env par

[2015-10-24 22:57] YehudahA commented on #1012
@singlewind.
if I run the api using "IIS express" option, and I capture the SystemEnvironment.CommanLine, I see the that the command line looks like I wrote earlier [using --appbase and using applicationhost]

But if I run the "web" command, the command line looks like the later code.

[2015-10-25 07:35] lucamorelli opened #1032 "strange issue with routing"
I'm trying to write an aurelia app with asp.net 5 (beta 8) web api controller as backend I found this thing:
I wrote this action in the controller, skipping the route attribute because I didn't know if was mandatory.

[code]

Calling it from Aurealia, the method is not invoked, but I receive and HttpResult 200 and the string "value" as result.
Adding the attribute **[Route("TipiAttivita")]** solve

[2015-10-25 10:46] gisek opened #1033 "Nuget cannot find newer dependency"
I'm not sure if this is the right place to report this bug, but look what I found.

I've just created a new project in ASP 5 MVC 6 beta8 and a compatible class library for tests. The problem occurs in this new "Web Class Library" project that I intended to use for tests. I also created a normal Class Library, installed the dependencies above with and gave it a try. Normal Class Library project bui

[2015-10-25 13:36] #1022 closed

[2015-10-25 15:23] ddotlic commented on #1026
I can confirm that it is working fine on IIS 7.5, but you need to have platform handler 1.2 installed (see @GuardRex comments for links).

[2015-10-25 23:01] Codenator81 commented on #1030
Have the same issue when installed Ubuntu 15.10 on machine

[2015-10-25 23:13] rynowak commented on #1032
There are two schemes for routing: conventional routing, and attribute routing.

Conventional routing uses route information defined in the global route table, inside your call to `.AddMvc(...)`.

Attribute routing is defined for controllers and actions using `[Route(...)]` or `[HttpGet(<some route>)]`. Conventional routes do not apply to actions and controllers with attribute routes.

You can rea

[2015-10-25 23:27] ellismg commented on #1006
FWIW, this requirement (on OSX) will be removed for RC1.

[2015-10-26 03:26] zhengchun opened #1035 "missing 'Microsoft.AspNet.Server.WebListener' dependency on project.json file of HelloWeb of beta8"
[missing 'Microsoft.AspNet.Server.WebListener' in the `dependencies` elements in dev branch](https://github.com/aspnet/Home/blob/dev/samples/1.0.0-beta8/HelloWeb/project.json#L12)

[code]

[2015-10-26 03:42] kennywangjin opened #1036 "FromServicesAttribute not working for viewcomponent:"
for DI, constructor injection is always working. but FromServicesAttribute is working only for Controller, not for ViewComponent.
when I use this attribute to get a injected service in ViewComponent, it is null when I debug it. Is that a bug or some design? beta-8

[2015-10-26 03:59] rynowak commented on #1036
This is by design. `[FromServices]` is a model binding feature, and there's no model binding in view components

[2015-10-26 04:26] kennywangjin commented on #1036
Got it. Thanks.

[2015-10-26 04:26] #1036 closed

[2015-10-26 08:30] mikeandersun opened #1037 "What happen for aspnetvnext feed on Myget?1"
The feed not update from 2 week ago. Is it changed?

[2015-10-26 16:25] lucamorelli commented on #1032
The problem is that if I configure incorrectly the route, I expect a not found error, not a OK 200 with a string result that is unrelated to my request

[2015-10-26 16:39] rynowak commented on #1032
If there's a 200, then I'd expect something in your app is serving it. If you have a public repo available, I can take a look.

[2015-10-26 19:18] miker1423 opened #1038 "css cant find assets that are listed at wwwroot"
I have a little project where I have a cshtml that needs a css and the css need two svg, the css is saved at wwwroot/css/stylesheet.css, the svg are at wwwroot/Images/myimage.svg.
In my css I have the property background as this, background: url(../Images/myimage.svg), and in my cshtml I import the css as <link rel="stylesheet" href="~/css/stylesheet.css" />. when I run the site, it returns and er

[2015-10-26 19:54] GuardRex commented on #1038
You have ...
[code]
... and ...
[code]
... correct?

[2015-10-26 20:43] tugberkugurlu commented on #1015
@Tratcher this is very good. One question: how can I get a hold of RequestId so that I can send it through response header? I can see this: https://github.com/aspnet/Mvc/blob/9342cb0ab78add8c527edcbc4c0988edc96f01e3/test/WebSites/RequestServicesWebSite/RequestIdMiddleware.cs but I didn't quite understand how [`RequestIdService`](https://github.com/aspnet/Mvc/blob/9342cb0ab78add8c527edcbc4c0988edc9

[2015-10-26 20:49] Tratcher commented on #1015
RequestIdService is just something they made up for their test app. You can just get it from HttpContext.TraceIdentifier https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.Http.Abstractions/HttpContext.cs#L77

[2015-10-26 20:51] halkor opened #1039 "Request.Scheme is wrong when hosted in Azure (Beta8)"
Request.Scheme returns "http" even if you use https in Azure Web Apps. This breaks Microsoft Account authentication, and probably a lot of other things.

[2015-10-26 21:07] miker1423 commented on #1038
haha forgot about that... still new with asp.net 5, it's hard to remember everything haha thank you so much!

[2015-10-26 21:08] #1038 closed

[2015-10-26 21:47] Tratcher commented on #1039
https://github.com/aspnet/Hosting/issues/364
Because we're now using the IIS native module HttpPlatformHandler, you need the `app.UseIISPlatformHandler()` middleware from `Microsoft.AspNet.IISPlatformHandler` in your app. It will update the scheme from forwarded headers.

[2015-10-26 21:48] Tratcher commented on #1037
There have been a lot of breaks and build issues recently... It should be updated any day now.

[2015-10-26 21:50] Tratcher commented on #1035
@glennc WebListener is not listed as a dependency, but the command is still there.

[2015-10-26 22:48] singlewind commented on #1012
@YehudahA, If you run iisexpress, I assume you were debugging in VS, by default, VS set ASPNET_ENV to Development. If you run web command, it falls back to Production. Is this case affect application conditionally running different code.

[2015-10-27 07:27] halkor commented on #1039
Strange thing. I just redeployed the exact same code as I used previously, and now it works.

[2015-10-27 07:27] #1039 closed

[2015-10-27 13:35] rhires commented on #957
Retested with Beta8, and no problems. So closing for now.

[2015-10-27 13:35] #957 closed

[2015-10-27 17:06] jessejohnston commented on #1017
I have the same issue.  In my case, *dnx publish* with no parameters works just fine, but if I use *dnx publish --runtime active* (or *--runtime dnx-clr-win-x86.1.0.0-beta8*) many dependencies will fail to resolve.

[2015-10-27 21:20] lucamorelli commented on #1032
I think I finally understood what's happened. the scaffolded controller by default contains
[code]
and this is the action is called when I don't add the route. Try to convert to an int and call it passing 0.
Adding a constraint to the param {id:int} returns 404.

[2015-10-27 23:36] GVX111 opened #1040 "Map path on runtime"
Hello,
How can i map on runtime examle in controller

[code]

I have in my own class servicecollection but when i built servicecollection and called Map no result but in startup working ok.

[2015-10-27 23:59] Kagamine commented on #1017
@jessejohnston you can visit https://jabbr.net to call davidfowl

[2015-10-28 01:11] tugberkugurlu commented on #1015
@Tratcher thanks! That's very useful, I tried to capture all this info here: http://www.tugberkugurlu.com/archive/asp-net-5-and-log-correlation-by-request-id

[2015-10-28 01:11] #1015 closed

[2015-10-28 04:31] rynowak commented on #1015
That's a really good writeup! Thanks for sharing.

[2015-10-28 10:33] YZahringer commented on #935
Same problem. Is it possible to reference a PCL assembly in a ASP.NET 5 project?

[2015-10-28 11:03] davidfowl commented on #935
What kind of PCL project? What does it target? Also how did you add the reference? Using the VS UI or some other way?

[2015-10-28 11:12] balivo commented on #935
I solve the problem including when updating to Beta8...

[2015-10-28 14:12] juvaly opened #1041 "Xml Error on 'dnu restore'"
Trying to run 'dnu restore' on this sample app (Ubuntu 15.04) gives me the following output:

[code]

[2015-10-28 15:17] tugberkugurlu opened #1042 "Relying on ILoggerFactory or ILogger"
AFAIK, it's most suitable to rely on `ILoggerFactory` (get it injected in) rather than directly relying on `ILogger`. I can also see this in a few samples:
- [`RouterMiddleware`](https://github.com/aspnet/Routing/blob/a5727dc932aa2a147fa908feeea861502f0e7e44/src/Microsoft.AspNet.Routing/RouterMiddleware.cs#L22)
- [`AuthenticationMiddleware`](https://github.com/aspnet/Security/blob/409b50269a9d8561

[2015-10-28 15:27] rynowak commented on #1042
Injecting an `ILogger<T>` is a shorthand for injecting `ILoggerFactory` and calling `Create<T>`.

Use whatever makes you happy :+1:

Personally, there are some cases where I've found that injecting the `ILoggerFactory` is simpler because our test logger stubs don't have a definition for `ILogger<T>` - https://github.com/aspnet/Logging/tree/dev/src/Microsoft.Extensions.Logging.Testing .

On the oth

[2015-10-28 19:40] ashmind commented on #1042
I might be missing previous context, but why does this have to be aa generic ILogger?

In the world pre-AspNet5 I just had an Autofac module that identified logger type by whatever type requested it.

Having to explicitly specify logger type feels unnecessary.

[2015-10-28 19:46] rynowak commented on #1042
There's no reason why you can't have the same setup. Our infrastructure has to work with all DI containers and configurations, so we can't rely on that.

[2015-10-28 20:00] tugberkugurlu commented on #1042
To be honest, generic `ILogger` seems prety weird to me, too. I assume the only purpose of the generic parameter is to figure out the logger name.

[2015-10-28 20:02] tugberkugurlu commented on #1042
ILoggerFactory adds some boilerplate code to be written over and over but it can be handled by an abstract class which gets an ILoggerFactory and sets a logger for the implementation class to use.

[2015-10-28 20:16] ashmind commented on #1042
@rynowak

I do see your point, but let me have another take for a moment.

Your infrastructure already relies on container to support open generics (that's how `ILogger<>` is registered). It also requires container to [support delegate factories](https://github.com/aspnet/DependencyInjection/blob/dev/src/Microsoft.Extensions.DependencyInjection.Abstractions/ServiceDescriptor.cs#L69).

What if the

[2015-10-28 21:22] rbarbe commented on #1037
aspnetvnext feed has been updated an hour ago but some packages are missing like : Microsoft.Extensions.Logging or System.Diagnostics.DiagnosticSource

[2015-10-28 21:24] pranavkm commented on #1037
This should get fixed soon.

[2015-10-28 22:17] jruckert opened #1043 "Latest MyGet Feed missing dependencies"
Hi,

 Just trying to get the latest from the MyGet feed, and we are getting the following restore issues:

    Unable to locate Dependency System.Diagnostics.DiagnosticSource >= 4.0.0-bet
a-23427
    Unable to locate Dependency System.Numerics.Vectors >= 4.1.1-beta-23427
    Unable to locate Dependency Remotion.Linq >= 2.0.0
    Unable to locate Dependency System.Reflection.Metadata >= 1.1.0-beta-

[2015-10-28 22:35] rynowak commented on #1042
That would only work if there's a suitable piece of code providing the `RequestingType`. In the general case there is not.

Also, there's nothing canonical about using types to relate to logger categories. It's a convention we use across the framework because our names should be hierarchical.

Feel free to ignore `Logger<T>` and implement logging in your app in a manner of your choosing.

[2015-10-28 22:38] jruckert commented on #1043
![image](https://cloud.githubusercontent.com/assets/4064588/10805306/96c402c6-7e1c-11e5-82be-4b1aa9264828.png)

[2015-10-28 22:48] pranavkm commented on #1037
aspnetvnext has been updated. We're working out a plan to ensure a repeat of what we had these past few weeks doesn't happen.

[2015-10-28 22:48] #1037 closed

[2015-10-28 22:49] pranavkm commented on #1043
Could you try again? We had issues pushing CoreCLR packages earlier but that has been sorted.
Try running `dnu restore --no-cache` in case you don't see these packages being updated.

[2015-10-28 22:49] #1043 closed

[2015-10-28 22:49] pranavkm commented on #1016
@jruckert we've updated the packages on aspnetvnext.

[2015-10-28 22:49] #1016 closed

[2015-10-28 22:54] jruckert commented on #1043
![image](https://cloud.githubusercontent.com/assets/4064588/10805574/9df72e72-7e1e-11e5-9aa8-002fd203769d.png)

[2015-10-29 00:24] pranavkm commented on #1043
You need to add nuget.org as a source.

[2015-10-29 02:22] developer1998 commented on #995
Thank you for helping.
I did dnvm list and I got this
[code]

[2015-10-29 04:21] ikhwanhayat commented on #741
+1

[2015-10-29 04:25] developer1998 commented on #995
@muratg There is something strange going on.
When I run now dnu restore from within package manager console I get
[code]
However when I right click on the project and choose restore, everything works.
[code]

[2015-10-29 04:31] BrennanConroy commented on #995
You probably don't have an active dnx, go to your command prompt and run dnvm list, if there is no * next to a dnx then you don't have an active dnx. If you would like to keep a dnx active on multiple command prompts you can pass -p when doing dnvm use

[2015-10-29 04:58] developer1998 commented on #995
I've checked there is * for an active when I do dnvm list
[code]
Also when I do it straight on the project by Right Clicking, where is it getting those paths from?
[code]

[2015-10-29 05:44] developer1998 commented on #995
After restarting the dnu restore is working, but I've noticed something strange.
Package Manager Console dnu restore is behaving differently compared to Right Click Package restore off the project... They are grabbing different runtimes, and postrestore in the console is failing, while at right click is working...

[2015-10-29 07:49] juri33 commented on #1017
After a couple of hours of research and chat with @davidfowl i can say that is a bug.

This is a known issue by Microsoft team and hopefully it will be fixed in the next beta. I could fix this with this two steps:

In the solution folder should be a sub-folder named "wrap". In this folder are sub-folders with project.json files. In this file i had to change "net45" to "dnx451".

I had to change th

[2015-10-30 02:29] developer1998 opened #1045 "Problem running the application with regard to process id of the DNX"
I get the following error when I am trying to run the application. How can I resolve this?
I was trying to convert a beta7 project to beta8. When I start new project, it works... So maybe something changed in the configuration under the hood...

![problem running application](https://cloud.githubusercontent.com/assets/8602645/10837119/2c2aea5e-7e8c-11e5-8d00-cfcf96e34381.png)

[2015-10-30 02:49] developer1998 commented on #1045
I think it is because it cannot properly find the path to the dnx
[code]

[2015-10-30 04:13] dougbu opened #1046 "RC1 Discussion: New versioning for major releases"
Starting with RC1, our pre-release packages will have versions such as `1.0.0-rc1-final`, `2.0.0-rc2-final`, ... This should avoid some issues for those who have been following our volatile feeds.

The RTM release packages will have versions such as `2.0.0`, `3.0.0`, ...

[2015-10-30 05:28] NeelBhatt commented on #1046
fair enough :+1:

[2015-10-30 06:37] Tasteful opened #1047 "Question: What is "dotnet5.4" target framework moniker in project.json"
I have seen that repositorys (ex DependencyInjection) now contains the TFM (target framework moniker) "dotnet5.4" instead of "dnx451". Is that a rename of the "dnx451" TFM and exists it some more information about this change?

[2015-10-30 06:38] Tasteful commented on #1047
I found this issue https://github.com/aspnet/dnx/issues/2724 but it missing a lot of information.

[2015-10-30 14:37] SetTrend opened #4813 "Consider requiring Antiforgery Validation by default"
Current convention is that with any form submitted an Anti XSRF Token ist supposed to be sent along and evaluated at server side.

So, instead of requiring the programmer to add countless `Html.AntiForgeryToken()` calls and `ValidateAntiForgeryToken` attributes, wouldn't it be an improvement to automatically send an Anti XSRF Token along with each `Html.BeginForm()` or `Ajax.BeginForm()` and to ev

[2015-10-30 15:18] Bartmax opened #1049 "No intellisense on taghelpers with "src"."
Not sure if this should be on tooling, mvc or taghelpers, hence home repo :)

when using script taghelper like this:

[code]

you get intellisense for the src part, but not for the asp-fallback-src. I understand that there's no way visual studio understands that variable is a file path. maybe visual studio should have an exception rule for tags that have src in it's name ?

[2015-10-30 16:09] aggieben opened #1050 "Commandline `dnu restore` and Visual Studio package restore interfere with each other"
Since upgrading to the beta8 runtimes, I've noticed that if I have Visual Studio open and run `dnu restore` in a console, I often (always?) encounter an error like this (with DNX_TRACE on...) when executing `dnx`:

[code]

What I think it happening is that Visual Studio detects that the lockfile has changed and proceeds to do its own restore - which is somehow incompatible with a manual invocation

[2015-10-30 16:12] paulalves commented on #1046
great! =)

[2015-10-30 16:14] davidfowl commented on #1050
Looks like your project and command line are using different ask versions.

[2015-10-30 16:19] aggieben commented on #1050
Ah - yeah, I checked the restore output in visual studio and you're right, it's using beta7.  But why?  DNVM says beta8 is the default, and hasn't that always been what Visual Studio uses if a specific runtime isn't configured?

Here's the output of `dnvm list`:

[code]

Here are my project settings:

![image](https://cloud.githubusercontent.com/assets/1321/10851234/efafae86-7ef7-11e5-9804-5bd93f0

[2015-10-30 16:23] andrewm1986 commented on #1008
Pull request #1048 fixes this

[2015-10-30 16:26] davidfowl commented on #1050
Global.json

[2015-10-30 16:29] aggieben commented on #1050
Yep, that was it.  Would it maybe be worthwhile to have dnu/dnx emit a warning if the currently-invoked version doesn't match what's in `global.json`?  Anyway, thanks for your help.  Closing this.

[2015-10-30 16:29] #1050 closed

[2015-10-30 17:02] alexmg commented on #1046
Awesome! :thumbsup:

[2015-10-30 17:17] NTaylorMullen commented on #1049
When you say no IntelliSense for `asp-fallback-src` I assume you mean for the URL value; as in you don't get this drop down for `asp-fallback-src`:
![image](https://cloud.githubusercontent.com/assets/2008729/10852633/f68f68ee-7eee-11e5-8a99-2f0f0eb393fb.png)

In the future it'd definitely start out as a tooling issue (then a runtime issue would spawn from it etc.).We do have a similar issue for th

[2015-10-30 17:17] #1049 closed

[2015-10-30 17:22] Bartmax commented on #1049
:+1: not feeling strongly :)

[2015-10-31 03:21] developer1998 commented on #995
I was inspired to create a new project, and merge the content with it, this way it should work and I know the plumbing will be ok...

[2015-10-31 17:55] Eilon commented on #1009
@karl-sjogren can you post this question in https://github.com/aspnet/Localization/issues/? There's where the loc experts hang out.

[2015-10-31 17:57] Eilon commented on #1031
@singlewind sorry you're running into those issues! Can you post this in https://github.com/aspnet/Tooling/issues/ ? That's where the tooling experts hang out.

[2015-10-31 19:18] Eilon commented on #1047
There's a bit more info here now: https://github.com/aspnet/Announcements/issues/98

[2015-10-31 19:18] #1047 closed

[2015-10-31 19:51] developer1998 commented on #995
Issue resolved it was the web.config under wwwroot
This fails
[code]
This works
[code]

[2015-10-31 19:53] developer1998 commented on #1045
Issue resolved it was the web.config under wwwroot
This fails
[code]
This works
[code]

[2015-10-31 19:53] #1045 closed

[2015-11-01 09:28] saranshkataria opened #1051 "dnu restore does not work on Ubuntu 15.10"
dnu is not working correctly on Ubuntu 15.10. I installed DNVM, DNX prerequisites, .net core clr and
then cloned the repository at https://github.com/aspnet/Home. On doing a dnu restore, it doesn't work on Ubuntu 15.10 whereas trying it on Ubuntu 14.04 works

[2015-11-01 13:57] jasonwilliams200OK commented on #1046
Compliance with semver! Way to go. :+1:
BTW, you guys can safely say that "Starting with MVC6, we are [semver](http://semver.org/)-compliant". The community endorse it even more!

[2015-11-02 03:05] kcraft opened #1052 "Sibling project references and solution-level NuGet.config not supported by Dockerfile and docker build"
This isn't really a bug, but it might be a design consideration.

I have a solution with two projects and a custom NuGet.config file. Example:

[code]

Running "dnu restore", "dnu build", and "dnx kestrel" from within the Project2 directory all work correctly. However, running "docker build -t project2 ." from within the Project2 directory causes several problems. This is my Dockerfile:

[code]

T

[2015-11-02 16:51] kcraft commented on #1052
It also appears that I can move my NuGet.config file into the project directory (alongside Dockerfile) and that prevents me from having to include my NuGet sources inside the Dockerfile.

[2015-11-02 18:44] TJSoftware opened #1053 "Runing in DNX Web or Kestrel runtime errors are sometimes not displayed"
### Summary
My runtime errors are not displayed, instead I only see a blank page.

### Functional Impact
This makes debugging a great deal more difficult.

### Reproducing the issue and what I expect
I have been following [this .Net 5 video](https://channel9.msdn.com/Events/dotnetConf/2015/ASPNET-5-Deep-Dive) most recently to learn about the new changes to .Net.  One of the issues that I am facing

[2015-11-02 19:36] rambocoder commented on #1053
You need to add ```"Microsoft.AspNet.Diagnostics": "1.0.0-beta8"``` to ```dependencies``` of your project.json and before this line https://github.com/TJSoftware/DotNet5Testing/blob/master/src/DotNet5Testing/Startup.cs#L24 you need to add ```app.UseDeveloperExceptionPage()``` middleware. Do not use that middleware in production.

[2015-11-02 19:48] TJSoftware commented on #1053
Thank you, that did the trick.  I know I ran across the dependencies before, I do not think I recall the `app.UseDeveloperExceptionPage()` though.

Note for others, I had to place `app.UserDeveloperExceptionPage()' before `app.UseMvc()`.  @rambocoder, do you know if there is a dependency on the load order of what is placed in configure?

[2015-11-02 19:48] #1053 closed

[2015-11-03 06:26] #1026 closed

[2015-11-03 14:24] rambocoder commented on #1053
@TJSoftware jump on https://jabbr.net/#/rooms/AspNetvNext and we can answer all your questions. It's a great group of helpful people. I am not exactly sure which middleware must go before the other ones, yet.

[2015-11-03 19:46] colemickens commented on #1030
Same behavior with 1.0.0-rc1-16048 coreclr on Arch. No output.

[2015-11-03 19:49] Codenator81 commented on #1030
@colemickens
When I downgrade to Ubuntu 14.04 no problem. For now recommended work on Ubuntu 14.04.

[2015-11-03 22:59] ashelley commented on #961
@Kagamine @seanmerron

Just spent all day trying to get my wrapped libraries to compile.  Removing the key dnxcore50 from my project.json in my -beta8 project fix my problem.

Thanks so much!

[2015-11-05 10:55] taylorc opened #1055 "ASP .Net 5 Beta 8 References Not Resolving VS 2015"
After creating an ASP .Net 5 Web Application the References will not resolve.

Environment
Visual Studio 2015 Community Edition
NuGet 3.2.60914.10516
Resharper 9.2
IIS Express (VS 2015 Community Edition)
Windows 10

Steps to replicate
1. File --> New--> Project
2. Choose ASP.NET Web Application
3. Choose ASP.NET 5 Preview Templates Web Applicaiton (with Individual User Accounts for Authentication

[2015-11-05 10:58] #881 closed

[2015-11-06 01:49] Kagamine commented on #1035
@Tratcher  I opened a pull request to fix it and made the latest up to date.
@zhengchun  在https://github.com/aspnet/Home/issues/1056 修复了你提出的这个问题

[2015-11-06 10:06] jiangzm opened #1057 "How to use 'BinaryFormatter' in asp.net 5?"
I did not find this class in Dnx Core 5.0 .

[2015-11-06 10:23] ThomasHoest opened #1058 "Error referencing local library on another path"
I have a setup that looks like this

ServiceA\src\aspnetproject
ServiceB\src\aspnetproject
SharedComponents\src\sharedcomponent

Each service has it's own solution file that also includes some of the shared components. The shared components are classic .Net assemblies. The wrap project.json files are located in SharedComponents\src\wrap\sharedcomponent. I can add the reference to the sharedcompone

[2015-11-06 10:33] stefanrahnev commented on #513
I experience the same issue with the restoration of the following NuGet packages when building a docker image on a Linux VM:

GET https://www.nuget.org/api/v3/index.json
Restoring packages for /app/project.json

GET https://www.nuget.org/api/v3/FindPackagesById()?Id='Microsoft.AspNet.Mvc'.
GET https://www.nuget.org/api/v3/FindPackagesById()?Id='Microsoft.AspNet.Server.Kestrel'.
GET https://www.nug

[2015-11-06 10:37] stefanrahnev opened #1059 "dnu restore fails on Linux VM when building a docker image"
I encounter NameResolutionFailure error when trying to restore the following NuGet packages when building a docker image on a Linux VM:

GET https://www.nuget.org/api/v3/index.json
Restoring packages for /app/project.json

GET https://www.nuget.org/api/v3/FindPackagesById()?Id='Microsoft.AspNet.Mvc'.
GET https://www.nuget.org/api/v3/FindPackagesById()?Id='Microsoft.AspNet.Server.Kestrel'.
GET http

[2015-11-06 16:28] pranavkm commented on #1059
Your NuGet endpoint needs to be `https://api.nuget.org/v3/index.json`

[2015-11-06 16:50] stefanrahnev commented on #1059
I actually did a mistake when pasting the urls. Actually I use the endpoint you specified when getting these errors, i.e.:

GET https://api.nuget.org/v3/index.FindPackagesById()?Id='Microsoft.AspNet.Mvc'.
GET https://api.nuget.org/v3/index.FindPackagesById()?Id='Microsoft.AspNet.Server.Kestrel'.
GET https://api.nuget.org/v3/index.FindPackagesById()?Id='Microsoft.AspNet.IISPlatformHandler'.
GET htt

[2015-11-06 16:52] stefanrahnev commented on #513
I actually made a mistake when pasting the urls. Actually I use the endpoint you specified when getting these errors, i.e.:

GET https://api.nuget.org/v3/index.json
Restoring packages for /app/project.json

GET https://api.nuget.org/v3/index.FindPackagesById()?Id='Microsoft.AspNet.Mvc'.
GET https://api.nuget.org/v3/index.FindPackagesById()?Id='Microsoft.AspNet.Server.Kestrel'.
GET https://api.nuge

[2015-11-06 17:29] Halofreak1990 opened #1060 "'ViewContext' does not contain a definition for 'Controller'"
For purposes of learning the new MVC 6 framework, I am in the process of converting a basic MVC 5 project to MVC 6. However, this project uses a few custom HtmlHelper extension methods, some of which use the Controller property of the htmlHelper's ViewContext to retrieve an UrlHelper instance to build an URL based on the passed 'action' and 'controller' parameters. This, however, produces the titu

[2015-11-06 17:53] pranavkm commented on #1060
cc @rynowak

[2015-11-07 21:10] mharthoorn opened #1061 "dnvm use <alias> selects wrong runtime"
It looks like dnvm use <alias> selects the first item in the list (dnvm list) that has the same version as the alias instead of the item that the alias references. As a result you can end up with the wrong runtime (clr while alias is coreclr).

[2015-11-07 21:27] #1061 closed

[2015-11-07 21:29] mharthoorn commented on #1061
Caused by using old dnvm. (did not yet have the update-self command).

[2015-11-09 03:51] damienpontifex opened #1062 "ASP.NET 5 and EF6 results in connection timeout"
I am looking at utilising entity framework 6 in a asp.net 5 application, and setup the connection string to be passed to the DbContext constructor in configure services in startup. But when connecting I get an exception of 'SqlException: A network-related or instance-specific error occurred while establishing a connection to SQL Server'. The connection string is formatted straight from a new proje

[2015-11-09 05:34] Eilon commented on #1062
@divega can someone on your team take a look?

[2015-11-09 05:42] Eilon commented on #1057
Hi @jiangzm , please file this in the CoreFx repo: https://github.com/dotnet/corefx/issues

Thanks!

[2015-11-09 05:42] #1057 closed

[2015-11-09 06:42] vindicatorr commented on #740
Does this issue have a resolution yet?
I've made some changes, but am not sure if any are causing my issue.

Ubuntu 15.10 (Wily) AMD64 - fresh install
Mono 4.3 - self compiled master/d007a2a

[code]
*installed "globally"

Home/samples/latest/ConsoleApp
[code]

[2015-11-09 09:07] pgrudzien12 commented on #1062
Hi @damienpontifex I'm not sure if it will help you but I recently made fairly deep investigation on EF6 and ASP.NET5. You might look also if there is any inner exception. I had problems with beta8 and migrations due to resource loading bug. This scenario gave me the exact same exception except inner errors.

Again this may help or not but at least may give you some resource to look at: http://ble

[2015-11-09 10:14] malickf commented on #1062
@damienpontifex  I faced a similar problem and the problem cames from the fact that i was sending the Id to the database which make bug the database. See this post http://stackoverflow.com/questions/14617420/dbupdateexception-when-adding-and-saving-record-to-dbcontext-in-asp-net-mvc/14627812#comment54950306_14627812 .. So can you check precisely when the exception is raise ? in my case it was at t

[2015-11-09 12:51] damienpontifex commented on #1062
@pgrudzien12 that was exactly it! I thought it must have been something around that configuration, but didn't find anything until you linked that article.

I also had the issue mentioned in the article with the resource file and automatic migrations.

[2015-11-09 12:51] #1062 closed

[2015-11-09 15:11] benaadams opened #1063 "Security Issue Reporting"
Update https://github.com/aspnet/Home/blob/dev/CONTRIBUTING.md to say security issues should be reported privately via MSRC (with details/link)

[2015-11-09 17:13] davezych opened #1064 "Bitdefender removed all rc2-* runtimes as malware"
Bitdefender has recently removed all of my `rc2-*` dnx runtimes as `Gen:Variant.Mikey.27510`:

I had a few rc2 runtimes installed last week and they were okay, however this morning all of them have been removed. Also, if I attempt to install any new rc2 runtime Bitdefender deletes `dnx.exe` out of the `.dnx\runtimes\temp\bin` directory as the same malware type.

It's also worth noting that any oth

[2015-11-09 17:17] davidfowl commented on #1064
/cc @Eilon

[2015-11-09 17:48] rynowak commented on #1060
@dougbu @Eilon - should we expose `IUrlHelper` on `IHtmlHelper`? We do this with a bunch of other stuff https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.ViewFeatures/Rendering/IHtmlHelper.cs

[2015-11-09 17:50] Eilon commented on #1060
@rynowak it does seem like a common need. I just wish there was a pattern for extension methods (e.g. on `IHtmlHelper` to get stuff from DI... I suppose an extension method can manually resolve the service, but that's not very pretty.

[2015-11-09 17:55] rynowak commented on #1060
Regardless, `IUrlHelper` seems like the one missing piece here.

I'd say if you need more services than `HtmlHelper` uses you should extend and `@inject`, but we should have a low bar to write extension methods that do similar things to default `HtmlHelper`.

[2015-11-09 18:08] dougbu commented on #1060
Agree end users don't need `IUrlHelper` hanging off `IHtmlHelper`. Already have a `Url` property injected in all `IRazorPage`s.

But those writing `IHtmlHelper` extension methods are less likely to need an `IUrlHelper` than the `IHtmlGenerator`, which is the only place our helpers use an `IUrlHelper`.

What's most surprising to me is that `IHtmlHelper` exposes `JavaScriptEncoder` and `UrlEncoder`

[2015-11-09 18:11] Eilon commented on #1064
We do virus-scan all our components prior to publishing. I'll look into this.

[2015-11-09 18:15] Eilon commented on #1060
@rynowak you can't `@inject` if you want more than one component to replace the `Html` property. But then, that was always a problem even before `@inject`, so yeah just use `@inject` to add whatever made-up helpers...

@dougbu why would HTML helpers be any less likely to need URL helpers? That's probably the most common case. No one replaces IHtmlGenerator.

[2015-11-09 18:32] dougbu commented on #1060
Agreed. But those extending `IHtmlHelper` have to get it from DI. That is, it's not exposed on `IHtmlHelper`.

Separately I dislike exposing `IUrlHelper` in `IHtmlHelper` because our `IHtmlHelper` implementation itself has no need of it. Exposing the `IHtmlGenerator` on `IHtmlHelper` and, perhaps, exposing `IUrlHelper` on `IHtmlGenerator` have no similar issues.

[2015-11-09 18:40] Eilon commented on #1060
Not sure I understand. Are you saying someone writing an HTML helper needs `IHtmlGenerator`? I doubt that almost any helper would go through that effort...

[2015-11-09 18:48] dougbu commented on #1060
Using tried-and-true "if we need it, so will they" logic, those extending `IHtmlHelper` will definitely need the `IHtmlGenerator`. And, conversely, those extending `IHtmlHelper` probably won't need the `IUrlHelper`. If that logic doesn't hold water here, I got nothin.

[2015-11-09 19:02] Halofreak1990 commented on #1060
@dougbu I don't immediately see the problem with, for example, exposing Controller, which has an IUrlHelper property, via the ViewContext, like it was before.

[2015-11-09 19:12] dynamiclynk commented on #397
I ran into this on Win10 Ent x64 10586. Because the project was trying to launch against a version of dnx that was not installed, after referencing the correct version in my launchSettings.json all is well.

launchSettings.json
---------------------------------
 "web": {
      "commandName": "web",
      "launchBrowser": true,
      "launchUrl": "http://localhost:5060/api/ping",
      "environment

[2015-11-09 20:20] Eilon commented on #1060
@dougbu I doubt anyone would write helpers like ours, because ours are just core fundamental input elements. Most helpers I've seen are more domain-specific, and don't re-use our stuff, or people just write their own stuff from scratch.

[2015-11-09 20:36] Eilon commented on #1064
I can reproduce this with Bitdefender and that build of DNX. Will report back when I found out more.

[2015-11-09 20:36] divega commented on #1062
Thanks @damienpontifex for bringing this up and @pgrudzien12 for documenting your findings.

@rowanmiller @danroth27 http://bleedingnedge.com/2015/11/01/entity-framework-6-with-asp-net-5/ is a good read. are we going to have documentation on how to setup things to use EF6 with ASP.NET5?

[2015-11-09 23:08] damienpontifex commented on #1062
@divega I'd be happy to contribute to a docs article. I assume best place may be alongside here https://docs.asp.net/en/latest/data/entity-framework.html

Maybe something under Working with Data titled 'Building Web Applications With Entity Framework 6'

Would that be the most appropriate place to start something?

[2015-11-09 23:09] Eilon commented on #1064
This is passing all internal virus scans, so I suspect this is a false positive from that particular scanner.

@blowdart FYI.

[2015-11-09 23:09] #1064 closed

[2015-11-09 23:19] divega commented on #1062
@damienpontifex that sounds great to me, but I will defer to @danroth27 on what is the right place for it in the ASP.NET 5 docs.

[2015-11-10 06:16] danroth27 commented on #1062
Sounds reasonable to me. We would welcome a contribution.

[2015-11-10 09:44] pgrudzien12 commented on #1062
Sounds great. I'd like to join as well. We could use some of the content from my blog.

[2015-11-10 09:59] damienpontifex commented on #1062
@pgrudzien12 I added you as a collaborator to my fork DamienPontifex/Docs@048bead and am working on a branch titled 'ef6-article' would be very happy to work together

[2015-11-10 12:09] grahamehorner opened #1065 "Windows10 IoT core - DNX"
PowerShell script fails to work when running on a Raspberry PI Windows10 Core IoT

[2015-11-10 14:39] TomGroeneboer opened #1066 "CORS doesn't work after update to beta8"
Hi guys,

I just updated my project from beta5 to beta8, but since I did that I can't get CORS to work anymore... I changed my configuration to
[code]
but when I perform a request to the address, it simply says  `No 'Access-Control-Allow-Origin' header is present on the requested resource.`

All my packages in project.json are beta8.

Does anyone know why this thing isn't working anymore?

Thanks

[2015-11-10 15:25] vladimirivanoviliev commented on #1059
The strange thing is that on the same machine, same project restore packages is successful when calling "dnu restore". It fails only when start building the docker image. Could this be related to the network or some certificates?

[2015-11-10 16:21] davidfowl commented on #1066
/cc @kichalla

[2015-11-10 16:31] damienbod commented on #1066
I'm using CORS in beta8 and its working.

In the startup
 //Add Cors support to the service
            services.AddCors();

            var policy = new Microsoft.AspNet.Cors.Core.CorsPolicy();

            policy.Headers.Add("*");
            policy.Methods.Add("*");
            policy.Origins.Add("*");
            policy.SupportsCredentials = true;

            services.AddCors(x => x.AddPolicy

[2015-11-10 18:06] kichalla commented on #1066
@TomGroeneboer I am unable to repro this. Could you share a simple repro?

[2015-11-10 18:07] muratg commented on #1065
Which powershell script? DNVM?

[2015-11-10 18:47] blowdart opened #4626 "Support token binding to provide greater protection for clients"
See

http://tools.ietf.org/html/draft-popov-token-binding-00
http://tools.ietf.org/html/draftbalfanz-https-token-binding-00
http://www.ietf.org/proceedings/91/slides/slides-91-uta-2.pdf

[2015-11-10 19:10] Eilon commented on #1063
@blowdart can you craft some wording around this?

[2015-11-10 19:14] Tratcher opened #3815 "Forward TLS token binding"
http://tools.ietf.org/html/draft-popov-token-binding-00
http://tools.ietf.org/html/draftbalfanz-https-token-binding-00
http://www.ietf.org/proceedings/91/slides/slides-91-uta-2.pdf
https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNetCore.Http.Features/ITlsTokenBindingFeature.cs
Win10+

[2015-11-10 19:23] #1063 closed

[2015-11-10 19:23] pranavkm commented on #1059
If it's an issue with certs, you could try hitting the HTTP endpoint to diagnose the issue. Also hitting the endpoint with curl might help with determing if this is a network issue.

Another alternative might be to restore this ahead of time on a machine that doesn't run into these issues and copy the `~/.dnx` directory in to your images.

[2015-11-10 19:25] Eilon commented on #1063
@blowdart looks good, thanks!

[2015-11-10 19:26] blowdart commented on #1063
I don't wait for no :shipit:

[2015-11-10 19:29] vladimirivanoviliev commented on #1059
Thanks for the suggestions. I just tried to run the VM on different network and the restore start working as expected.

[2015-11-10 23:11] rpokrovskij commented on #272
I agree to remove Razor  because we will get better instruments instead (we will work in another paradigm where there are no "server-side only"  templates - and I appreciate it). But removing T4 what you are giving to us? We use T4 to generate code (typescript, html, various templates) from EF6 model? How we could use Roslyn for it (to generate ts,html)? How we could use yeoman to analize EF6 mode

[2015-11-11 05:02] frourke opened #1067 "HttpPlatformHandler failing to load with x64 IISExpress"
I updated from beta5 to beta8 and when launching x64 sites I get the following error.

The Module DLL 'C:\Program Files (x86)\Microsoft Web Tools\HttpPlatformHandler\HttpPlatformHandler.dll' could not be loaded due to a configuration problem. The current configuration only supports loading images built for a AMD64 processor architecture.

I have installed version 1.2 of the x64 HttpPlatformHandler

[2015-11-11 06:24] vladimirivanoviliev commented on #1059
By the way you might hit another issue after successfully restoring the packages. The issue is that the default settings of the "project.json" / "Dockerfile" provided by the aspnet examples will lead to that the container web server is not accessible from the host. Here are the fixes:

Project.json (make sure you add last parameter):
"commands": {
        "kestrel": "Microsoft.AspNet.Hosting --ser

[2015-11-11 09:20] TomGroeneboer commented on #1066
Hi guys,

I've figured out what the problem is... In beta5 I was running on IIS, but this is not supported anymore. So I use the `web` thing now. `"web": "Microsoft.AspNet.Hosting --server Microsoft.AspNet.Server.WebListener`. I've got it up and running again :) I think the CORS error comes from my React application, if I use Postman it gives me a 404 not found when I try to access the webservice.

[2015-11-11 09:20] #1066 closed

[2015-11-11 09:53] garora commented on #1066
Its good to know that you found the solution.
Just a thought it'd be a problematic if its not supported. What happened if
earlier someone hosted on Linux and now moving to Windows, any thoughts?

On Wed, Nov 11, 2015 at 2:50 PM, Tom <notifications@github.com> wrote:

--
Thanks & Regards,
Gaurav Arora

[2015-11-11 10:41] IlyaKhD commented on #628
So, to make it clear - what is the recommended way for bundling and minification?

For now project template provides B&F task for user static (I mean .js and .css files) placed in `wwwroot/js` directory, but what about bower packs, placed in `wwwroot/lib`? These static files are hosted 'as is', without any compression or combining.

[2015-11-11 10:51] RehanSaeed commented on #628
I think the default you get from File->New Project, where bower packages are dumped in wwwroot is the simplest solution but the wrong one for a real production site. I think this is kind of admitted in [this](http://www.hanselman.com/blog/ControlHowYourBowerPackagesAreInstalledWithAGulpfileInASPNET5.aspx) blog post by Scott Hanselman where he says:

He then goes on to show a better approach which

[2015-11-11 12:51] FelixUS commented on #562
+1

[2015-11-11 14:07] tugberkugurlu opened #1068 "DNX Runtime releases and SemVer"
Are DNX Runtime packages going to apply SemVer? What I am trying to understand is this: when I rely on DNX runtime 1.0.0 for my library or application, can I assume that it will always work on any runtime releases whose major version is 1 and may not work for any with major version of 2 or higher?

[2015-11-11 15:06] Kagamine opened #1069 "WebListener webroot problem"
if you set webroot like this : "../../../wwwroot"
it will missing all of the static files.

[2015-11-11 15:07] Kagamine opened #1070 "WebListener webroot problem"
if you set the webroot in project.json like this `../../../wwwroot` with weblistener

`wwwroot` is okay, relative path is not works

It will miss all of the static files

[2015-11-11 15:08] Kagamine commented on #1069
Oops I opened duplicated issue.

[2015-11-11 15:08] #1069 closed

[2015-11-11 15:12] davidfowl commented on #1070
/cc @Tratcher Can you provide a sample?

[2015-11-11 15:19] Kagamine commented on #1070
So, When you publish with weblistener, the vs will put the wwwroot into `../../../wwwroot`, it should be also put it into `wwwroot` if it ignore the webroot.

[2015-11-11 16:16] BillHiebert commented on #272
Note that T4 is supported in the RC release of ASP.NET 5 if you have Visual Studio 2015 Update1 installed. It uses the same custom tool mechanism that csproj projects use.

[2015-11-11 16:43] Tratcher commented on #1070
What versions of the tooling, dnx, and Microsoft.AspNet.Hosting are you using? There were breaking changes here in the RC1 milestone. https://github.com/aspnet/Announcements/issues/94

[2015-11-11 17:26] Eilon commented on #1068
SemVer agrees with the first part of your statement, but not the second.

SemVer says that as long as you stay within 1.x, there will be no breaking changes.

SemVer says that when 1.x changes to 2.x, there are breaking changes. However, that doesn't *necessarily* mean that a particular library won't work on 2.x. If the library just uses `string` or `int` then it is quite safe to assume no breakin

[2015-11-12 16:06] DenisBiondic commented on #741
+1

[2015-11-12 20:11] TJSoftware opened #1071 "Environment Variables have multiple places to set and do not always sync"
### Description

I am attempting to use the environment variables in the project properties.  When I change a key or value the launchSettings.json is updated and visa versa from .json to properties.  I first noticed that I did not have the ability to delete a profile in the properties, the delete button is disabled (see screenshot).  I removed the profile from the json file, but the profile remain

[2015-11-12 20:17] tugberkugurlu commented on #1068
@Eilon thanks! Yes, true but you cannot assume that your library written against 1.x will work on runtime 2.x. So, my questions is: what is the plan for DNX runtimes? Is SemVer is going to be applied for them as it's explained [here](http://semver.org/)? Can I always assume that my app/library will survive upgrades within the same major version?

[2015-11-12 20:51] Eilon commented on #1068
The idea is to apply SemVer to all packages. So yes, you can safely assume that.

[2015-11-12 20:52] Eilon commented on #1071
@barrytang ?

[2015-11-12 21:52] ses4j commented on #973
@sebastienros I am browsing through Brochard, looks very interesting.  Can you possibly point out where the dynamic module loading code is and/or a little about how it works?

[2015-11-12 22:32] sebastienros commented on #973
Overall steps in Orchard 2 (as in Orchard 1)

1- Modules are set in well-known folders as .NET projects, with a manifest file to mark these as modules
2- Each tenant is represented in some state, with a list of allowed modules. All classes from these modules for each tenant are analyzed and listed as candidate services
3- A new DI container is created for each of them, with common Application Serv

[2015-11-12 22:35] #1070 closed

[2015-11-13 01:37] tugberkugurlu commented on #1068
@Eilon thx!

[2015-11-13 01:37] #1068 closed

[2015-11-13 04:02] developer1998 opened #1072 "IOptions is not found in beta-8"
`@inject IOptions<AppSettings> AppSettings` does not work...
It was working fine in beta-7

Where did IOptions relocate to? Thanks

[2015-11-13 04:43] Eilon commented on #1072
What error did you get? Type not found? Or something else?

@HaoK @NTaylorMullen

[2015-11-13 04:55] developer1998 commented on #1072
This the error
[code]

[2015-11-13 04:58] Eilon commented on #1072
What's in your `_ViewImports.cshtml`? Make sure you have a `@using Microsoft.Extensions.OptionsModel` in there. (Or `Microsoft.Framework.OptionsModel` because you're using beta8.)

[2015-11-13 05:33] developer1998 commented on #1072
Making progress, after adding Microsoft.Framework.OptionsModel to _ViewImports.cshtml IOptions turned green:)
[code]
However now I get a different set of errors:
[code]

[2015-11-13 06:09] NTaylorMullen commented on #1072
:+1:

[2015-11-13 06:14] HaoK commented on #1072
.Options got renamed to .Value in beta 8

[2015-11-13 06:53] muratg commented on #1072
@developer1998 let us know if you still have issues after using .Value.

[2015-11-13 12:55] developer1998 commented on #1072
@muratg @HaoK Guys renaming Options to Value works... Thank you so much.

[2015-11-13 12:55] #1072 closed

[2015-11-13 13:39] joeaudette commented on #973
I have implemented multi tenancy in this new project which aims to be a multi tenant web app foundation: https://github.com/joeaudette/cloudscribe

It is working now if anyone is interested in trying it out. It uses a single database and a single set of tables for all tenants with data identified by a SiteId. I know there are different conceptions of multi-tenancy so some may not like this solutio

[2015-11-13 17:12] GuardRex commented on #1067
@frourke To confirm the correct HttpPlatformHandler (because some of the links out there are still v1.0), take a look in `Control Panel > Programs > Programs and Features` and confirm "v1.2" is in the name of the entry. It will say "v1.2" if the right one is installed.

[2015-11-13 18:54] jderus opened #1073 "Tooling - Beta8 Project Templates need a Bower.json change to stop VSO Build failures"
FYI for those currently using VSO Build and Beta8 Tools.
(Tooling team might consider updating to more recent bower packages.)

Current ASP5 Project Templates have this in bower.json

[code]

When this gets into a simple VSO Build it causes build breaks as follows:
invalid-meta jquery-validation-unobtrusive is missing "ignore" entry in bower.json
invalid-meta jquery-validation is missing "main" en

[2015-11-13 19:34] bitcrazed opened #1074 "Bower may be dying!"
Looks like Bower may well becoming a victim of its success!

I stumbled across this after following a twitter comment, but it looks as though there are few/no active core members in the Bower project!

Original comment by @mjackson): https://github.com/rackt/redux/issues/944#issuecomment-154858804.

Refers to following discussion with last active bower core member (@sheerun): https://github.com/bo

[2015-11-13 20:11] Eilon commented on #1073
@madskristensen @DamianEdwards @sayedihashimi ?

[2015-11-13 20:11] Eilon commented on #1073
Or even @rustd

[2015-11-13 20:12] Eilon commented on #1074
@DamianEdwards @rustd @madskristensen ?

[2015-11-13 20:13] sayedihashimi commented on #1073
That should be @rustd to make the change.

[2015-11-13 21:36] nnjpp commented on #1074
There is some information about this in 1748 that seems to contradict that bower has completely stopped development (as claimed in the popular tweet), but I think a brief statement for all the knee-jerk responses would be helpful, because understanding the situation requires reading a few paragraphs right now.

TLDR unofficial assessment of the situation: bower is currently maintained by one unpai

[2015-11-13 21:48] nathanielcook commented on #574
Sorry for the dumb question, but what is the purpose of the web command if we have to use kestrel?

[2015-11-13 22:45] mjackson commented on #1074
Just wanted to chime in here and say that I have zero skin in this game. I
gain nothing if bower dies, except perhaps the freedom from having to
support such a poorly conceived tool in the open source work that I do.

If you guys are looking for a package manager for JavaScript, I'd suggest
either using npm or jspm.

On Fri, Nov 13, 2015 at 1:36 PM Nick Perez <notifications@github.com> wrote:

[2015-11-14 00:04] tugberkugurlu opened #1075 "Binding to a complex type parameter without FromBody attribute"
I have the following action inside my MVC 6 controller (6.0.0-beta8):

[code]

When I post valid JSON to it, it doesn't bind. However, when I send apply `[FromBody]`, it binds successfully. This is a bit different from current Web API. What is the easiest way to get rid of `FromBody` attribute?

[2015-11-14 00:14] dougbu commented on #1075
1. Suggest asking MVC-specific questions in the MVC repo.
2. You can't get rid of the `[FromBody]` requirement because MVC 6 defaults to form data model binding. That is, you must opt into input formatting.

[2015-11-14 00:15] #1075 closed

[2015-11-14 00:22] AdamDotNet opened #1076 "Is it possible to add a VNext Class Library to a UAP project?"
I have ASP.NET Beta 8 installed on Visual Studio 2015 Update 1 RC. The UAP tools are 1.2 RC.

My project structure is VNext Library of models, VNext WebApi, and UAP. I want to share Models between the server and the client app.

My VNext library has the following framework declarations:
[code]

However, when I try to add a reference of the VNext library to the UAP project, Visual Studio's Add Refe

[2015-11-14 03:38] frourke commented on #1067
I have rolled back my machine but it certainly was v1.2 in Web Platform Installer - did not look in Programs and Features.

[2015-11-14 06:41] YuePan commented on #1031
I met the similar issue. I'm using VS 2015 enterprise and it crashes when restore packages. It seems some node package caused it.After that, I can not restart VS 2015 and also can't delete node_modules folder.

[2015-11-14 13:01] agc93 commented on #1055
I am having the same issue. Any luck on working around it or sourcing a fix?

[2015-11-14 13:05] agc93 commented on #1041
I am having the same issue. Any luck on working around it or sourcing a fix?

[2015-11-14 21:17] kspearrin opened #1077 "FileLoadException: A strongly-named assembly is required. Error"
Please see the following repository to reproduce the issue: https://github.com/kspearrin/StrongNameErrorBase32Package

ref: https://github.com/kspearrin/StrongNameErrorBase32Package/blob/master/src/StrongNameErrorBase32Package/Controllers/ValuesController.cs

[code]

I am trying to use a package, [OtpSharp](https://bitbucket.org/devinmartin/otp-sharp/wiki/Home) in a WebAPI project and am getting t

[2015-11-14 21:42] davidfowl commented on #1077
@kspearrin beta8 dnx right?

[2015-11-14 21:43] kspearrin commented on #1077
Yes.

[2015-11-15 02:14] taylorc commented on #1055
No workaround or fix nor any interest from microsoft.

[2015-11-15 02:27] marcosph commented on #720
Dear, Rowan Miller. I'm doing some tests used ASP.NET 5. My big problem is the dependency injection configuration. My project is on github:
https://github.com/marcosph/DependencyInjectionASP.NET5/blob/master/WebApplication1/Startup.cs (Note: The project is divided into: 1- GztNews.Data, 2- GztNews.Service e WebApplication1 ).
It happens when I run the following error: {"No database providers are c

[2015-11-15 04:04] davidfowl commented on #1055
try deleting your caches and packages folder

[2015-11-15 04:11] davidfowl commented on #1077
I tried the solution and the OtpSharp package is just generally broken. The error you get in a regular csproj is more accurate:

[code]

OtpSharp is compiled against `// Base32, Version=1.0.0.26, Culture=neutral, PublicKeyToken=3427d4dc8cee30c6` but the package and assembly has no strong name:

[code]

[2015-11-15 04:16] davidfowl commented on #1077
To fix it just add a reference to a newer versions of Base32:

[code]

Then complain to the package author of OtpSharp :smile:

[2015-11-15 04:16] #1077 closed

[2015-11-15 04:31] davidfowl commented on #1076
Yes. This doesn't work as yet. It will work before ASP.NET 5 RTM.

[2015-11-15 04:38] AdamDotNet commented on #1076
Sounds fine. Thanks!

[2015-11-15 04:38] #1076 closed

[2015-11-15 09:12] taylorc commented on #1055
Deleting all folder/files from %userprofile%\.dnx\packages.

Then I had to delete all files/folders from %userprofile%\AppData\Roaming\npm-cache

This resolved the issue

[2015-11-15 09:12] #1055 closed

[2015-11-15 10:48] Muchiachio opened #1078 "Injecting ClaimsPrincipal in service layer"
Is there a clean way to get `ClaimPrincipal` or `IIdentity` from DI? So it can be used in service layers.
This was ugly, but possible with the "good old" `HttpContext.Current.User` :smile:

[2015-11-15 10:53] davidfowl commented on #1078
You can use the `IHttpContextAccessor` in your services.

[2015-11-15 10:55] Muchiachio commented on #1078
Ye, I guess that's doable, thx.

[2015-11-15 10:55] #1078 closed

[2015-11-15 20:06] poke commented on #1074
I don’t see a dependency on Bower in ASP.NET 5. Yes, the default web template comes with some Bower stuff, but that’s about it. You can absolutely set up projects without ever touching Bower. As an example, the project I’m currently working on has a custom build process that takes JavaScript dependencies via npm, has user code in TypeScript, and builds everything using gulp.

[2015-11-15 21:39] sheerun commented on #1074
Thank you for your concern, but Bower is not dying. It is stable software, and we've got extra volunteers.

Bower has no Creator, it's a community effort.

Of course there are people who would "donate money to help remove bower from the js community" as someone recently said to me. Maybe little help with making it even more stable, and easing the transition?

If you think you can implement Bower i

[2015-11-16 00:27] agc93 commented on #1055
Can confirm that deleting the contents of  %userprofile%.dnx\packages also worked for me, in case any other users find this.

[2015-11-16 00:29] agc93 commented on #1041
@juvaly as per #1055, I've found that deleting the contents of %userprofile%\.dnx\packages worked for me.

[2015-11-16 02:50] kspearrin commented on #1077
Just to follow up, this issue was resolved by the OtpSharp author: https://bitbucket.org/devinmartin/otp-sharp/issues/14/aspnet-5-fileloadexception-a-strongly

[2015-11-16 02:59] davidfowl commented on #1077
Very nice :smile:

[2015-11-16 03:08] Eilon commented on #1031
@barrytang

[2015-11-16 19:55] ChidoYo commented on #508
There's a solution that worked for me here:
https://github.com/OmniSharp/generator-aspnet/issues/138
Adding the following to the ~/bash_profile :
`export MONO_MANAGED_WATCHER=false`
Worked for me and I'm on OSX 10.11.1
I was getting the error after installing new bower components.

[2015-11-17 05:36] barrytang commented on #1031
I know we fixed some issues in the node tooling scenarios. @jodavis?

[2015-11-17 06:08] barrytang commented on #1071
@phenning?

[2015-11-17 09:29] IsaacSee opened #1080 "DevEnv with Kestrel & HttpPlatformHandler"
Hello,

After the hosting infrastructure migration to Kestrel + HttpPlatformHandler we are wondering what is the recommended way to go for the following use cases.
- How to setup/run a website with dnx-watch so that source code changes triggers a restart of the local website ? Using project.json commands would be great.
- How to setup/run/debug a website locally using IIS without having to publish

[2015-11-17 15:59] TJSoftware commented on #1071
### Updates
Update on the delete profile.  If I create a new profile I am allowed to delete that.  The `IIS Express` and `web` are not allowed to be deleted.  I would guess this is designed functionality.  I still see the issue of the environment variables not syncing.

### More examples
I may be misunderstanding the environment variables in the system as being the same as the environment variable

[2015-11-17 16:41] phenning commented on #1071
Thanks for the feedback!

In regards to the deleting of the IIS Express and web profiles, the reason you cannot delete those is because any project with a "web" command gets those two built-in profiles by default and built-in profiles cannot be deleted.

As to the environment issues:

The environment settings in the project property page are stored into launchSettings.json, however if you have the

[2015-11-17 17:04] #1040 closed

[2015-11-17 17:29] TJSoftware commented on #1071
@phenning Thank you for taking the time to look at what I was not understanding.  Yes you are correct that I needed a second OK button click with the environment variables.  With Visual Studio, if I remove the environment variable from the profile, it does use the OS environment variable.  If I change the OS environment variable I must close Visual Studio and reopen it to see the changes.  My assu

[2015-11-17 17:29] #1071 closed

[2015-11-17 20:31] Eneuman opened #1081 "ASP.Net 5 Build and Deploy to Azure Web Site, best approche?"
Hi!
I have been scavaging the net for information about how deployment of ASP.Net 5 to Azure WebSite  will work in the future but no one seems to know. So after 3 days of research I turn to the source for information :)

I have read every blog post there is about this and every piece of information that google dug up for me and I still havn't found what I'm looking for, to quote a great artist.

F

[2015-11-17 21:35] mdraganza opened #1082 "When will ADAL be supported in ASP.NET 5?"
Does anyone know when ADAL (Azure AD Authentication Library) will be supported in ASP.NET 5? When will there be samples for it? Or is this a question for the Active Directory team.

[2015-11-17 22:14] GuardRex commented on #1082
@mdraganza I think it is under an alpha release ...
[code]
https://www.nuget.org/packages/Microsoft.IdentityModel.Clients.ActiveDirectory/3.5.208051316-alpha

[2015-11-17 22:20] Eilon commented on #1082
@tushargupta51 @brentschmaltz can you guys comment?

[2015-11-18 02:17] Kagamine commented on #1035
@Tratcher Is this should be 2-Working? #1056

[2015-11-18 02:52] EmpeRoar opened #1083 "OSX - Error during Registration or Connection to Databse"
[code]

[2015-11-18 02:58] #1035 closed

[2015-11-18 07:11] Eilon commented on #1083
@divega @bricelam

[2015-11-18 07:18] tushargupta51 commented on #1082
@kpanwar do we have ADAL samples for asp.net 5?

[2015-11-18 08:21] tushargupta51 commented on #1082
@mdraganza as @GuardRex  pointed, https://github.com/Azure-Samples/active-directory-dotnet-webapp-openidconnect-aspnet5 might help.

[2015-11-18 10:16] alexthissen opened #1084 "DNVM 1.0.0-rc2-15542 breaks when user name contains spaces"
Reported previously in various other issues (e.g. https://github.com/aspnet/dnvm/issues/190). Still running into this issue with RC2-15542 on Windows 10 Pro x64.
<img width="514" alt="dnvm" src="https://cloud.githubusercontent.com/assets/5504642/11238388/75c8fa26-8de5-11e5-861f-d51d3c935399.png">

[2015-11-18 10:19] alexthissen commented on #1084
Accidentally put this in wrong place (should have been aspnet/dnvm). :$ Feel free to move.

[2015-11-18 15:17] NullVoxPopuli commented on #1051
I have this issue too :-\

happens with both runtimes
[code]

[2015-11-18 15:30] BrennanConroy commented on #1051
https://github.com/aspnet/dnx/blob/ed98b4c687cf0785650d59e7b7a65a371bc5332f/src/Microsoft.Dnx.Tooling/Restore/ImplicitPackagesWalkProvider.cs#L96

[2015-11-18 15:43] GuardRex commented on #1082
@mdraganza That OpenIdConnect one is a beta6 sample, but you can upgrade it to beta8. I have a beta7 version (that also have a Graph API piece for authorization) that I can put up for you to see (let me know), but @dstrockis is "The Man" when it comes to the samples on that stuff. You'd be a lot better off following his lead than looking at my test app. He's always kicking out great stuff to look

[2015-11-18 16:12] mdraganza commented on #1082
Thanks for the info. We are building an Azure multi-tenant application with ASP.NET 5 MVC 6. For that we need ADAL and I don't see any  samples for that scenario. It looks like ADAL isn't fully supported for ASP.NET 5 yet.

[2015-11-18 16:25] NullVoxPopuli commented on #1051
well, until they make it compatible, here is how you downgrade
[code]

[2015-11-18 16:28] Anderman opened #1085 "RC1 Error 0x80091007: Hash mismatch for path: DotNetVersionManager_x64, expected: BAEF7329894C48023E4E0F5F7D5C84E2243309F8, actual: FB0D8F2A91BEAC7991DC7A3FC13DA5F3D9E513C0"
I got this error when running from http://get.asp.net/

![image](https://cloud.githubusercontent.com/assets/1858745/11246786/7749c144-8e19-11e5-8d5b-86c366b06ba7.png)

[2015-11-18 16:40] DamianEdwards commented on #1085
This is a known issue. Delete any previous MSIs for DNVM and ASP.NET VS tooling from the folder you downloaded the RC1 installer to. We're working to fix this issue.

[2015-11-18 16:48] Eilon commented on #1085
Delete this folder: `C:\ProgramData\Package Cache\{C5A4ABA3-1ABA-3EF8-B2D5-C3FA37F59738}v1.0.10609.0\packages\WPT`

We're working on a fix. Sorry about that!

[2015-11-18 16:52] sirkirby commented on #1085
fixed worked for me and team...thanks!

[2015-11-18 16:55] joeloff commented on #1085
@sirkirby Glad to hear it worked. Would you mind sending me a copy of the log from the failed install. It should be in %temp% and have a name similar to dd_ASPNET5__20151118084006.log. You can send it directly to me at joeloff at Microsoft dot com

[2015-11-18 16:55] GuardRex commented on #1082
@mdraganza I think the multi-tenant bit is delayed a little. If I recall correctly, they said "not yet ... we're working on it" on that one (but I can't find the issue where that was stated explicitly). Try these and see if any of them help:

https://github.com/aspnet/Home/issues/973
http://forums.dotnetfoundation.org/t/official-support-for-multi-tenancy/1193
http://blog.maartenballiauw.be/post/20

[2015-11-18 16:57] sirkirby commented on #1085
@joeloff here you go

[dd_ASPNET5__20151118102506.txt](https://github.com/aspnet/Home/files/38097/dd_ASPNET5__20151118102506.txt)

[2015-11-18 17:02] dstrockis commented on #1082
Thanks Luke :)

@mdraganza we do have a sample using our preview version of ADAL that supports .NET 5, see here: https://github.com/Azure-Samples/active-directory-dotnet-webapp-webapi-openidconnect-aspnet5.  But Luke is right, it's woefully out of date.  We're trying to find some time to update it.  However, the patterns used in that sample will hold if you want to give it a shot yourself with the

[2015-11-18 17:05] Eilon commented on #1084
@alexthissen can you log it in the DNVM repo then? No easy way to move bugs in GitHub.

[2015-11-18 17:05] #1084 closed

[2015-11-18 17:05] GuardRex commented on #1082
@dstrockis Sure thing. @mdraganza If you want to see that test app I did with beta7 and Graph API on that, let me know. I can have it up in a few hours.

[2015-11-18 17:11] Bartmax opened #1086 "Add contributing.md to the Announcements repository"
ref: https://github.com/aspnet/Announcements/pull/114#issuecomment-157780022

I think the contributing.md is exactly for this. Every time someone create a new issue GitHub will show a label on top and suggest to read the guideline. This may help prevent some issues being open there.

![image](https://cloud.githubusercontent.com/assets/3386797/11248139/4fe1f98e-8dfe-11e5-9aa9-cd1c46586d35.png)

[2015-11-18 17:18] Loghorn commented on #1085
I've the same issue but the delete folder fix proposed by @Eilon doesn't work (I don't have that folder at all). Here is my log
[dd_ASPNET5__20151118181605.txt](https://github.com/aspnet/Home/files/38116/dd_ASPNET5__20151118181605.txt)

[2015-11-18 17:21] OlegKi commented on #1085
I have the same issue, but I can see

in my log file instead of

in the log of **sirkirby**.
**Deleting of the folder fix proposed by @Eilon doesn't work for me too**
I include my full log
[dd_ASPNET5__20151118180803.log.txt](https://github.com/aspnet/Home/files/38115/dd_ASPNET5__20151118180803.log.txt)
I will continue to investigate myself, but I want to share the log with other first.

[2015-11-18 17:28] sebastienros commented on #1085
Moving the downloaded MSI on the deskptop worked for me. Apparently the fact that there are other MSIs in the same folder is the issue.

[2015-11-18 17:30] mdraganza commented on #1082
I would. Thanks, Luke.

[2015-11-18 17:32] GuardRex commented on #1082
@mdraganza Ok. I'll have it up in a few hours. I'll ping you back here.

[2015-11-18 17:35] Loghorn commented on #1085
Moving the downloaded file to an empty folder fixed the issue for me.
Thanks @sebastienros

[2015-11-18 17:36] russdaygh commented on #1085
@sebastienros moving worked for me too.

[2015-11-18 17:37] Anderman commented on #1085
Yep for mee too

[2015-11-18 17:37] joeloff commented on #1085
Yup, if you download the EXE and save it, e.g. c:\users\bob\downloads and have installers from the previous Beta releases in the same downloads folder you will hit the issue.

Workaround is to make sure there are none of the previous MSI files from the Beta releases in the folder where the EXE is downloaded.

Alternative is to run the EXE directly when prompted by the browser instead of saving it.

[2015-11-18 17:48] OlegKi commented on #1085
@joeloff & @sebastienros : Thank you! Moving of `AspNet5.ENU.RC1.exe` in separate empty folder before starting solves the issue.

[2015-11-18 17:49] Eilon commented on #1086
Good idea, added one: https://github.com/aspnet/Announcements/blob/master/CONTRIBUTING.md

[2015-11-18 17:49] #1086 closed

[2015-11-18 17:55] mikehaas763 commented on #1086
@Bartmax I had the same thought but I think a mention is *also* needed in the README and is more important to get the point across than a contributing.md file simply because people who are already in that much of a hurry to open an issue are already the ones who are not going to click that link. Still a good idea to have contributing.md too.

[2015-11-18 18:09] herecydev commented on #1085
@joeloff :+1: This was what made it work for me.

[2015-11-18 18:10] bricelam commented on #1083
@natemcmaster

[2015-11-18 18:11] bricelam commented on #1083
This may have been fixed by aspnet/Microsoft.Data.Sqlite#171

[2015-11-18 18:14] natemcmaster commented on #1083
@AlgebraBurger willing to bet you are on OSX 10.9 or older. It should be possible to workaround around this using Homebrew to install a newer version of SQLite (guessing as I don't have Mavericks to test this)

[2015-11-18 20:19] opiants opened #1087 "Wrong url in RC1 announcement"
The breaking change url points to beta-8 breaking changes. Should point to https://github.com/aspnet/announcements/issues?utf8=%E2%9C%93&q=is%3Aissue+milestone%3A1.0.0-rc1

[2015-11-18 20:37] victorhurdugaci commented on #1087
Where's that url?

[2015-11-18 20:44] opiants commented on #1087
Breaking Change section in https://github.com/aspnet/Home/releases/tag/v1.0.0-rc1

[2015-11-18 20:49] victorhurdugaci commented on #1087
@danroth27

[2015-11-18 22:09] bitcrazed opened #1088 "Microsoft.Framework.SecretManager not updated for RC"
Looks like `Microsoft.Framework.SecretManager` isn't being built and published in-sync with the rest of the DNX frameworks and tooling. [Nuget  is still listing `1.0.0-beta8` as the latest version](http://www.nuget.org/packages/Microsoft.Framework.SecretManager/).

[2015-11-18 22:10] BrennanConroy commented on #1088
That's because it is Microsoft.Extensions.SecretManager now
https://www.nuget.org/packages/Microsoft.Extensions.SecretManager/1.0.0-rc1-final

[2015-11-18 22:10] #1088 closed

[2015-11-18 22:17] bitcrazed commented on #1088
Gah! Thanks.

[2015-11-18 23:02] poke commented on #1080
Just set up the normal `web` command with Kestrel. And then run `dnx-watch web` from the project root.

As for IIS, you should know that the HttpPlatformHandler does nothing else under the hood than run the web command too. So you should get almost the same experience from running Kestrel separately and running it through (unmanaged) IIS.

Other than that, I guess publishing it is the only real al

[2015-11-18 23:46] lokinfey opened #1089 "Upgrade ASP.NET RC 1"
When I upgrade my asp.net RC1 today . I change the project.json
    "Microsoft.AspNet.IISPlatformHandler": "1.0.0-rc1-final",
    "Microsoft.AspNet.Mvc": "6.0.0-rc1-final",
    "Microsoft.AspNet.Server.Kestrel": "1.0.0-rc1-final",
    "Microsoft.AspNet.StaticFiles": "1.0.0-rc1-final",
    "Microsoft.Framework.Configuration.Json": "1.0.0-*"

When I dnu build It give me some errors :+1:
/Users/lujia

[2015-11-19 00:21] joeaudette commented on #1089
You need to read the announcements repo to learn about breaking changes. In this case you need to rename Microsoft.Framework.* as Microsoft.Extensions.* in project .json and anywhere in code where you use the namespace that was renamed

[2015-11-19 01:21] agocke opened #1090 "HelloMvc Sample is broken using DNU 1.0.0-rc2-16177 on CoreCLR"
output from `dnu restore && dnu build`:

[code]

It looks like references are missing?

[2015-11-19 01:22] davidfowl commented on #1090
You can't build .NET Framework apps using CoreCLR today.

[2015-11-19 01:32] agocke commented on #1090
@davidfowl Ah, that makes sense. Maybe we should make it clearer that this is a full-desktop sample? A customer and I were both confused by it. Maybe we can just put the coreclr-compat in one directory and the desktop-required in another?

[2015-11-19 01:32] davidfowl commented on #1090
The CLI handles that and reports a nicer error.

[2015-11-19 01:35] agocke commented on #1090
Confused again -- so this sample is not supposed to require full framework, but does, i.e., this is a real bug?

[2015-11-19 01:45] davidfowl commented on #1090
All of our samples generally support both frameworks. Running will work but building the sample on CoreCLR will not work.

[2015-11-19 01:48] agocke commented on #1090
Gotcha. How can we make that clearer to people?

[2015-11-19 02:09] davidfowl commented on #1090
Make it work on both. Properly via this https://github.com/dotnet/corefx/issues/3934

[2015-11-19 05:08] GuardRex opened #1091 "Upgraded to rc1 ... and lost my IIS Express!"
I upgraded an app to `rc1-final`. My `IIS Express` option in VS disappeared. I added `http://localhost:5000` to the Launch Url for `web` (my command to launch Kestrel). That works. Is this the new preferred way to run locally? ... or is my IIS Express MIA not good?

[2015-11-19 05:10] davidfowl commented on #1091
/cc @BillHiebert

[2015-11-19 05:14] DamianEdwards commented on #1091
Can you try the following:
1. Right-mouse click on the project in Solution Explorer and select "Properties" to open the property pages
1. Click the "Debug" tab on the left
1. Drop down the "Profile" select box and tell us what you see there
1. Click "New..", type in a profile name, then drop down the "Launch" select box and tell us what you see there

[2015-11-19 05:16] GuardRex commented on #1091
There is only one profile in the box ... `web` ... the command I specify in `project.json` for Kestrel.

When I add a profile, it gives me options for "Executable" and "Command".

[2015-11-19 05:16] DamianEdwards commented on #1091
@GuardRex strange

Is this in a brand new app or an existing app?

[2015-11-19 05:17] GuardRex commented on #1091
Existing app ... upgraded to rc1 this evening. All other apps showing IIS Express as usual. As soon as I upgraded, I lost the IIS Express option and it's only happening in this one app.

[2015-11-19 05:19] DamianEdwards commented on #1091
@GuardRex OK so it's likely something in your app that needs to change. Can you compare your project.json, startup.cs and wwwroot/web.config to those in a File -> New app?

[2015-11-19 05:19] GuardRex commented on #1091
App runs fine ... locally and on the server (well ... except for https://github.com/dotnet/corefx/issues/4533 and https://github.com/dotnet/corefx/issues/3927 ... we're stuck over there with System.Net.Security not resolving on the server)

[2015-11-19 05:19] GuardRex commented on #1091
@DamianEdwards Will do. I'll ping back.

[2015-11-19 05:21] GuardRex commented on #1091
@DamianEdwards Are you on the internal-only update to VS for rc1? I don't have it, so my new project gives me the template with ...
[code]

[2015-11-19 05:22] developer1998 opened #1092 "RC1 new Web Project's bower.json and package.json are missing from VS 2015 Pro IDE"
When creating new project in Visual Studio 2015, bower.json and package.json are missing from VS 2015 Pro IDE. They are actually there in the folder, so have to be added explicitly.
Just to let you know... Thank you for RC1:)

[2015-11-19 05:23] davidfowl commented on #1091
https://get.asp.net/OtherDownloads

[2015-11-19 05:23] DamianEdwards commented on #1091
@GuardRex no I'm on public RC1 bits

[2015-11-19 05:23] GuardRex commented on #1091
Ah! I thought that was internal. Cool. I'll do that now. It will probably clear this up for me.

[2015-11-19 05:26] GuardRex commented on #1091
I did the install from https://get.asp.net/ ... it perhaps didn't install the bits at https://get.asp.net/OtherDownloads. It's confusing fyi.

[2015-11-19 05:26] davidfowl commented on #1091
Either works TBH, I'm on OSX tho

[2015-11-19 05:29] GuardRex commented on #1091
Well ... maybe nothing will happen. I ran the one at  https://get.asp.net/, then I made sure my dnvm was updated manually, then I manually put all runtime flavors on the box manually.

Strange thing now is that the installer seems hung. We'll see ...

[2015-11-19 05:55] GuardRex commented on #1091
I see what happened. The "Install" button at http://get.asp.net just redirects you to https://docs.asp.net/en/latest/getting-started/installing-on-windows.html ... it doesn't actually download the installer. You have to go to https://get.asp.net/OtherDownloads to get it. That isn't actually stated anywhere AFAIK.

Suggestion: The link to https://get.asp.net/OtherDownloads could be placed at:

http

[2015-11-19 05:55] #1091 closed

[2015-11-19 05:56] GuardRex commented on #1091
OH! ... and thanks again for your help. I'm looking forward to having my IIS Express back! :beers:

[2015-11-19 05:57] GuardRex commented on #1091
/cc: @danroth27 ... on the placement of that link in the Announcement for RC1

[2015-11-19 06:11] danroth27 commented on #1087
Should be fixed now. Thanks for letting us know!

[2015-11-19 06:11] #1087 closed

[2015-11-19 07:37] danroth27 commented on #1091
The instructions at https://docs.asp.net/en/latest/getting-started/installing-on-windows.html already have the direct link for getting the ASP.NET 5 RC1 tooling update, so you shouldn't need to go to https://get.asp.net/OtherDownloads.

[2015-11-19 10:17] FredyWenger commented on #874
I had exactly the same problem from one day to another...
Note: I have stored the project on a mapped network-drive and load it in VS2015 (Update1) from there.
All to the project (directory on the network-drive, solution and project was named "MG_Test1" and have worked until Nov. 18 2015, but strange wise has stopped to work at Nov. 19 2015 (without any change from my side).
Yesterday, I have work

[2015-11-19 11:39] joshpearce opened #1093 "Server Hangs on OS X, RC1, HelloMvc"
On El Capitan using the following Dot Net Env:

[code]

I checked out this sample:
https://github.com/aspnet/Home/tree/dev/samples/1.0.0-rc1-final/HelloMvc

Then, using 1.0.0-rc1-final mono, I ran:

[code]

When navigating to http://localhost:5004 I get the following output, and the server just hangs indefinitely

[code]

[2015-11-19 13:01] developer1998 commented on #1092
I just noticed that when you come back to the solution, those files are gone from IDE again, so they have to be explicitly added again, then they dissappear yet again. Something is not right.

[2015-11-19 13:09] joeaudette commented on #1092
those files are hidden on purpose by design now in the VS 2015 IDE, if you want to show them you need to click the icon to show all files in solution explorer. I think I saw this mentioned in Scott Hunter's video yesterday https://channel9.msdn.com/Events/Visual-Studio/Connect-event-2015/100  There is a new gui tool for managing bower components similar to nuget so I guess they hide the bower file

[2015-11-19 13:40] simonmurdock opened #1094 "First time using OS X aspnet fail"
So I followed the instructions as best as I could:

Downloaded and installed the RC1 package
Got the latest samples

Ran `dnu restore` in the consoleApp and got the following output, saying its denied access to its own .dnx directory?:

simons-MBP:ConsoleApp simon$ dnu restore
Microsoft .NET Development Utility CoreClr-x64-1.0.0-rc1-16202

  GET https://nuget.org/api/v2/
  OK https://nuget.org/api

[2015-11-19 13:53] GuardRex commented on #1091
@danroth27 It wasn't clear to me that if you're upgrading that you should click that link.

The heading is "Install ASP.NET 5 with Visual Studio"
The first line starts "The easiest way to get started ..."
The steps ...
Step 1. Install Visual Studio 2015
Step 2. Install ASP.NET 5.

It sounds like the language and steps you would follow for an install if you didn't have anything previously installed

[2015-11-19 14:09] jochenvanwylick opened #1095 "SslNegotiateCert in web.config results in 'cannot determine process id DNX'"
I'm trying to enable client certificate auth in my vNext ( rc-1-final ) web app with WebApi.

After doing `file > new project` for my web app - and running the app - the `/api/values` controller returns the expected JSON.

However - as soon as I add:

[code]

To the web.config - I get the following message upon running the web app:

What am I doing wrong?

[2015-11-19 14:15] GuardRex commented on #874
I looked it up ... https://docs.nuget.org/create/package-conventions ... and it states:

Unfortunately, https://msdn.microsoft.com/library/ms229026(v=vs.100).aspx and https://msdn.microsoft.com/en-us/library/ms229026.aspx don't talk about the actual allowed characters.

In General Naming Conventions at https://msdn.microsoft.com/en-us/library/ms229045.aspx, it states ...

I guess that's the deal.

[2015-11-19 14:32] joshpearce commented on #1093
FYI: HelloWeb works for me, HelloMvc hangs.

[2015-11-19 14:35] joshpearce commented on #1090
What is this nice error? All I saw was the original errors copied in this issue.

[2015-11-19 14:36] davidfowl commented on #1090
@joshpearce https://github.com/dotnet/cli

[2015-11-19 14:37] davidfowl commented on #1093
What version of mono?

[2015-11-19 14:40] joshpearce commented on #1093
Here is the full info:
[code]
[code]

[2015-11-19 14:43] GuardRex commented on #1080
RE: IIS scenario: You could use a PS script to recycle the AppPool on the server that you can trigger locally whenever/however you need. There is a `Restart-WebAppPool` command. See https://technet.microsoft.com/en-us/library/ee790580.aspx. For tips/ideas on how that might be used, see my publish with PS example at https://github.com/GuardRex/net5-iis-ps-publish.

[2015-11-19 14:50] davidfowl commented on #1093
Does CoreCLR hang?

[2015-11-19 14:50] joshpearce commented on #1093
Yes? Ctrl-C will not kill the process started with dmx web. Is there a way to get more diagnostics?

[2015-11-19 14:57] IsaacSee commented on #1080
Hello, thanks for your answers.

About `dnx-watch` when we need to watch we run `dnx-watch web' from a cmd window, but I wanted to know if there was a way to run it directly from visual studio. Creating a command like `web-watch` in the project.json. My research brought me there : https://github.com/aspnet/dnx-watch/issues/26.

About running the website through IIS/HttpPlatformHandler. The need or

[2015-11-19 15:29] avanderhoorn commented on #1085
I got this same issue and the moving to a new folder fix worked for me.

[2015-11-19 15:59] jjones-pltnm opened #1096 "Can't query from SQL Server database using coreclr 1.0.0-rc1-final on Mac OS X."
I'm not entirely sure which repo this belongs in.

Whenever we attempt to execute a LINQ to Entity query with Entity Framework, we get the following exception:
[code]

The same query runs fine on the windows CLR and coreclr.  I don't have a linux machine handy to try it there yet.

Our connection string is fairly simple, containing a `Data Source`, `Initial Catalog`, `User Id`, and `Password`.

Se

[2015-11-19 16:02] GuardRex commented on #1096
@ericstj Oh here we go ...

https://github.com/dotnet/corefx/issues/3927
https://github.com/dotnet/corefx/issues/4230
https://github.com/dotnet/corefx/issues/4533

[2015-11-19 16:08] GuardRex commented on #1096
@jjones-pltnm I'm fighting with getting `System.Net.Security`, too, but I don't know if the issues are related.

[2015-11-19 16:09] davidfowl commented on #1096
Can you share a dump with `DNX_TRACE=1`?

[2015-11-19 16:20] jjones-pltnm commented on #1096
Here is a run with `DNX_TRACE=1`:

[code]

[2015-11-19 16:20] BrennanConroy commented on #1094
What are the file permissions for the .dnx folder? What instructions did you follow?

[2015-11-19 16:30] muratg commented on #1094
Not totally related to your issue, but `aspnetrc1` is a test feed that we've been using internally to verify RC1 and you should remove it from your `nuget.config`.

[2015-11-19 16:31] muratg commented on #1085
FYI, a fix to this issue is in progress.

[2015-11-19 16:32] simonmurdock commented on #1094
https://docs.asp.net/en/latest/getting-started/installing-on-mac.html

That 2 step process.

The permissions are like this for .dnx:
drwxr-xr-x   4 root   staff    136 19 Nov 13:46 .dnx

@muratg  I'm not even sure how to do that, but I'll give it a go. I'm reporting to help anyone else who might get stuck on such a simple thing.

[2015-11-19 16:49] BrennanConroy commented on #1094
Did you use sudo to install? root is the only one that has write permission to that folder

[2015-11-19 16:53] TJSoftware opened #1097 "Latest Pull solution does not load projects"
I pulled latest the home dev branch this morning and all the build issues I saw yesterday have been fixed except one.  When I load the project the `ConsolApp`, `HelloMvc`, and `HelloWeb` projects do not load.  If I edit the `Home.sln` manually I can get this to load, build, and run all three projects successfully.

Here are the changes I made, I tried to create a feature branch of this, but I did

[2015-11-19 16:57] simonmurdock commented on #1094
No, I just double clicked the installer. It asked for root permissions to install.

[2015-11-19 16:57] RaveNoX commented on #1093
Same on Ubuntu 14.04 with mono:
[code]

[2015-11-19 17:06] anurse commented on #1096
Can you also post the output of `dnx --version` on the machine that is failing?

[2015-11-19 17:15] dougbu commented on #1093
Does the problem reproduce when using a current stable Mono build, preferably `4.0.5.1`?

[2015-11-19 17:21] grahamehorner commented on #1065
@muratg Yes, the DVNM install script shown on the aspnet/home fails; it's my understanding this should work for Windows10 IoT core on the RaspberryPI allowing the installation of the CoreCLR for arm processors ?

PS C:\Windows\system32> Set-Item WSMan:\localhost\Client\TrustedHosts -Value "minwinpc"

PS C:\Windows\system32>   Enter-PSSession -ComputerName minwinpc -Credential minwinpc\Administrato

[2015-11-19 17:38] jjones-pltnm commented on #1096
DNX version:
[code]

[2015-11-19 17:40] RaveNoX commented on #1093
uname -a
[code]

lsb_release -a
[code]

dpkg -l |grep libuv
[code]

dnvm list
[code]

DNX_TRACE=1
dnx web
[code]

Same problem

[2015-11-19 17:53] simonmurdock commented on #1094
deleted the .dnx folder and reinstalled using DNX-1.0.0-rc1-final.pkg from https://go.microsoft.com/fwlink/?LinkId=703940

It is still showing with these permissions:
drwxr-xr-x   4 root   staff    136 19 Nov 17:48 .dnx

[2015-11-19 18:02] anurse commented on #1096
Can you also post the `project.lock.json` file from the machine that is failing? Preferably to a gist so it's easier to review :)

[2015-11-19 18:09] jjones-pltnm commented on #1096
Sure,

project.lock.json:
https://gist.github.com/jjones-pltnm/21e7d61c734ac59ce7bf

[2015-11-19 18:18] BrennanConroy commented on #1094
Looks like you found a bug in the installer.

Workaround:
cd ~/.dnx
chown -R simon:group .

We have filed an internal bug to track this

[2015-11-19 18:23] anurse commented on #1096
Try adding a dependency on `Microsoft.NETCore.Platforms` (case-sensitive) with a version of `1.0.1-beta-23516`. See if that fixes it.

[2015-11-19 18:35] simonmurdock commented on #1094
Ah great! Glad I wasn't just being a Muppet :)

[2015-11-19 18:49] Eilon commented on #1095
@blowdart @Tratcher thoughts?

BTW what section is this in `web.config`? Please note that `web.config` is used only for IIS settings and ASP.NET 4.x. It is not used by ASP.NET 5 at all.

[2015-11-19 18:50] jjones-pltnm commented on #1096
That resolved the issue.

Though I wonder if this is a packaging issue?  It's strange to have to include another package besides `EntityFramework.MicrosoftSqlServer` in order to use Entity Framework with SQL Server.

Anyway, thanks for the assist!

[2015-11-19 19:58] himadrinath opened #1098 "class library project"
In my class library project using <b>rc1-final</b> when i added  <b>"EntityFramework.Commands": "7.0.0-rc1-final"</b>, dependency in my project i getting an error saying this dependency does not support framework .NETPlatform,Version=v5.4.

Image
![entityframework commands](https://cloud.githubusercontent.com/assets/12247490/11282554/f5a026de-8f25-11e5-87ff-6559525ec77f.png)

[2015-11-19 20:05] jochenvanwylick commented on #1095
@Eilon this is the `<system.webServer>` section. If it's not used - is there support for client certs in vNext then?

[2015-11-19 20:06] blowdart commented on #1095
Not *yet*

[2015-11-19 20:23] Tratcher commented on #1095
@BillHiebert This looks like the same issue as you hit when anonymous auth is disabled. That said, I would only expect this failure with SslRequireCert, not SslNegotiateCert.

@jochenvanwylick this should only fail with F5 (debug), not CTL+F5.

[2015-11-19 20:33] benriordan commented on #1096
@anurse Resolved for OSX for me too. However getting the same issue on linux which this did not resolve. Should I open a new issue and maybe reference this?

[2015-11-19 20:35] HellBrick opened #1099 "Can't reference a '.NET Framework 4.6 + ASP.NET Core 5.0' PCL from a 'Console application (Package)' project"
#### Repro
- VS 2015.
- ASP.NET RC 1.
- Add a Console application (package project) to a solution, I'll call it `NetCoreApp` from now on.
- Remove `"dnx451"` from `project.json/"frameworks"` (not necessary, but let's simplify things a bit).
- Add a PCL library that targets .NET Framework 4.6 and ASP.NET Core 5.0 to a solution. I'll call it `PortableLibrary46` from now on.
- Try to add a reference

[2015-11-19 20:43] benriordan commented on #1096
@anurse Disregard, and for anyone looking for a fix for this across platforms, the following resolves it for both linux and OSX as dependencies in project.json:

`"System.Net.Security": "4.0.0-beta-*",`
`"Microsoft.NETCore.Platforms": "1.0.1-beta-*",`

[2015-11-19 20:51] ardacetinkaya commented on #1094
I was getting the same permission denied error for "dnu restore", than I started to use with sudo and got used to it.
Hope to be fixed in next releases

[2015-11-19 21:25] natemcmaster commented on #1096
@benriordan Thanks for posting. @jjones-pltnm This issue is a well-known issue in `dnu restore`. See https://github.com/aspnet/EntityFramework/pull/3689#issuecomment-158201904

[2015-11-19 21:25] #1096 closed

[2015-11-19 21:33] BillHiebert commented on #1095
Sounds like it. I opened a bug in our tooling database for this.

[2015-11-19 21:52] Eilon commented on #1098
@divega @bricelam

[2015-11-19 21:56] joeaudette commented on #1098
I encountered this error also and the only way to get around it that I found was to change the target from dotnet5.4 to dnxcore50 in my class library projects. Maybe there is a better solution.

[2015-11-19 22:06] TheMadKow opened #1100 "ClaimsPrincipal Returns null on sequential calls with RC1-Final"
Hi,
I got a partial code ControllerBase (Abstract Class) where i get the current user's ID and such.
The first call on the session goes well, but after some calls for the same/other controller, the ClaimsPrincipal is null. I'm using this code to search the full ApplicationUser object on the database from it's ID.

For Exapmle:
User.IsSignedIn() will return true on first call and false afterwards.

[2015-11-19 22:55] Eilon commented on #1100
@HaoK @Tratcher any ideas on this?

@TheMadKow can you upload an app to GitHub that shows this issue?

[2015-11-19 22:58] cda-1 commented on #1000
I get this error in beta8 when I try to get entities with circular dependencies (oops) using EF7. For example if I want a student with all enrolledcourses, and student specifies a collection of courses and enrollments specifies a studentId, I get the bad gateway error. Totally my fault but it seems like a weird error to get.

[2015-11-19 23:07] GuardRex commented on #1000
@cda-1 Was the app working before? The bad gateway exception is most often linked to having the wrong version of the HttpPlatformHandler installed. You're right ... that's not the correct exception to expect for an EF problem AFAIK.

[2015-11-19 23:13] cda-1 commented on #1000
I have 1.2 installed. Is HttpPlatformHandler relevant for IIS Express? I get the error in both IISExpress and IIS proper on Windows 10.

If I do a GET against my API that returns an entity without a circular dependency, it comes right up. If I GET one with a circular dependency, I see:

HTTP Error 502.3 - Bad Gateway
The specified CGI application encountered an error and the server terminated the

[2015-11-19 23:15] GuardRex commented on #1000
Yes, it's relevant. Ah ... so it is an app/EF issue. If you're getting a response (even a static file), the HttpPlatformHandler is doing its thing.

Have you tried to configure the app with the exception page:
[code]
and
[code]

[2015-11-19 23:17] cda-1 commented on #1000
Mine only goes up to beta8 -- is rc1 released? I do use UseDeveloperExceptionPage though. That page works very well (and is beautiful, by the way) for every other error I have encountered.

[2015-11-19 23:19] GuardRex commented on #1000
Yes, it's released. Perhaps, try the upgrade first, then see if it clears with all of the new bits they put into RC1. You'll need the installer here: https://get.asp.net/OtherDownloads

[2015-11-19 23:20] cda-1 commented on #1000
options.SerializerSettings.ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore in Startup.cs fixes the issue, but I will go ahead and un-fix it  and try RC1

[2015-11-19 23:22] GuardRex commented on #1000
Wow. Good catch. Maybe the EF cats know more. Post here to see what they say: https://github.com/aspnet/EntityFramework/issues

[2015-11-19 23:26] bricelam commented on #1098
Interesting. We target `dnxcore50` and `netcore50`. @davidfowl @anurse Does DNX support the NuGet 3 `ref` stuff? We probably need to author a package that looks something like this to make it work:

* lib/
    * dnxcore50/
    * netcore50/
* ref/
    * dotnet5.4/

[2015-11-20 03:11] cda-1 commented on #1000
Updated to rc1 and the same error happens. I reported it to the EntityFramework repo as you suggested.

[2015-11-20 03:14] GuardRex commented on #1000
@cda-1 issue moved to https://github.com/aspnet/EntityFramework/issues/3818