[2019-02-12 02:12] Eilon commented on #7466
Good find. Closing this then. Please continue discussion at https://github.com/dotnet/corefx/issues/31322 as needed.

[2019-02-12 02:19] EdCharbeneau commented on #7360
So Razor Components are supposed to have secrets that are easily managed?

[2019-02-12 02:20] HaoK opened #7487 "[Helix] Components RenderTests.CanTriggerEventHandlerDisposedInEarlierPendingBatchAsync is flaky"
This test has been failing on different queues, OSX, Centos

For example: https://mc.dot.net/#/user/aspnetcore/pr~2Faspnet~2Faspnetcore/ci/20190211.38/workItem/Microsoft.AspNetCore.Components.Tests-netcoreapp3.0/wilogs
[code]

[2019-02-12 02:24] ajaybhargavb commented on #7482
Yup this has been in my list of things to do. Given this is blocking Helix, I'll make this my top priority now 👍

[2019-02-12 02:27] BrennanConroy commented on #7428
And again https://dev.azure.com/dnceng/public/_build/results?buildId=92870&view=logs

[2019-02-12 03:03] StevenTCramer commented on #7360
The dialog doesn't show up for console apps either.  @mkArtakMSFT you mention "by design" but where is that discussion?  I thought the key point of "user secrets" was to keep these secrets out of source code.
So I don't understand why the project type even matters?  Maybe we just don't understand the reasoning?

[2019-02-12 03:17] zackliu commented on #7308
@nuteman1 , were you using Chrome? Could you reproduce the issue in other broswer.
You can take https://bugs.chromium.org/p/chromium/issues/detail?id=423609 as reference. It might be the Chrome issue.

[2019-02-12 03:26] foxjazz opened #7490 "SignalR cors issue"
https://github.com/foxjazz/AnomaliesClient

![image](https://user-images.githubusercontent.com/867496/52609574-fc74ba80-2e3a-11e9-8b8c-04ea77d020ca.png)

Run the aspnetcore service project first.
after cloning, go into anomaliesclient and run the npm install then ng serve
click the link to http://localhost:4200 for getting angular part running.
You can check for your self at this point the bug is

[2019-02-12 03:40] maxisam commented on #6434
I have the same thing here as well. I think we have the same issue like @BrennanConroy 's comment https://github.com/aspnet/AspNetCore/issues/6434#issuecomment-459897933 here.

And I do think @siberianguy got a pretty good point here. Obviously everyone wants to have a way to make  signalR reconnect automatically. I feel like this should be handle in the library as well.

[2019-02-12 03:44] BrennanConroy commented on #7490
Move the `app.UseHttpRedirection();` call to before `app.UseCors();`

[2019-02-12 03:54] #6512 closed

[2019-02-12 04:45] #7448 closed

[2019-02-12 05:22] nuteman1 commented on #7308
Happens in Internet Explorer as well (websockets won't work, long polling does).

A few things to keep in mind:
1. This was working and then stopped working after the forced upgrade of the libraries.
2. When the service is deployed "on premise" (not using azure signalr service resource), the websockets work as expected.
3. The same client code (SignalR.js and my code) works when running against th

[2019-02-12 06:01] dougbu opened #7491 "Remove `CodeGenerator` metadata in default service reference experience"
Aim here is to remove the current requirement to specify the `CodeGenerator` metadata on `<Service...Reference>` (soon `<OpenApiReference>` and `<ProtobufReference>`) items in a project file.

Some metadata must remain to say "give me TypeScript" (instead of project's default language) but this should be the exception and not the rule. Fortunately, the type of document is going to be explicit (aga

[2019-02-12 06:02] dougbu commented on #7491
@glennc I put this in Preview4. That make sense to you?

@mkArtakMSFT the "Small" cost here doesn't mean calendar time due to the need for NSwag changes.

[2019-02-12 06:13] dougbu opened #7492 "Rename items (elements) used in service reference scenarios"
This is a pivot on what users see in their projects when using service reference features.

Current items are
[code]
New elements will be
~~`<ProtobufReference Include="SomeFile" ... />`~~
[code]
~~`<OpenApiReference Include="SomeFile" SourceUri="https://SomeUri" ... />`~~
~~`<ProtobufReference Include="../SomeProject/SomeProject.csproj" ... />`~~
[code]

[2019-02-12 06:21] ackava opened #7493 "Custom Parameter Binding for Cookie, Url etc"
### Is your feature request related to a problem? Please describe.
Accessing request data breaks unit testing controllers as we need to mock requests which is very time consuming. We need ability to create custom attribute without going through lot of boilerplate code.

### Describe the solution you'd like
Attributes FromCookie, FromUrl (gives entire url), FromHost (gives http-host), or ability to

[2019-02-12 06:24] dougbu commented on #7492
Open questions:
1. Do we use the new item names when calling out to code generation partners? I lean toward "yes" for consistency but that adds more parts that need to change. @glennc do you want to make the call here?
2. Is the `SourceUri` case interesting for gRPC too? @shirhatti?
3. Is the `<ProtobufReference Include="../SomeProject/SomeProject.csproj" ... />` case a bit too confusing? Naming (

[2019-02-12 07:23] vankampenp commented on #6415
@pakrym The request body is small, it takes about 200ms from the client, and about 100ms server side. It is not logical for the client to go away in that time and so often. Simultaneously a second ajax call to the server is made that is much longer, up to a few seconds.
The Dutch part in the error says: The provided network name is no longer available.

[2019-02-12 09:08] Ponant commented on #6613
Isn't it possible to just disconnect Email from Username, the latter being the only unique identifier of the user? This change would be done throughout the api and templates. Twitter style sounds good to me, the handler is the unique username and you can change it at will. Where would this be incompatible with the current Identity framework?

[2019-02-12 10:08] QWAQWA1 commented on #4483
This worked for me. Thanks  dylanvdmerwe !

 services.AddCors(options =>
            {
                options.AddPolicy(
                    "AllowAny",
                    x =>
                    {
                        x.AllowAnyHeader()
                        .AllowAnyMethod()
                        .SetIsOriginAllowed(isOriginAllowed: _ => true)
                        .AllowCredentials(

[2019-02-12 10:53] stsrki opened #7494 "[Blazor] Allow implicit ChildContent for template components"
Right now it's not possible to have a template component and use it along with ChildContent. For example if I have i component:

**MyTemplatedComponent.cshtml**

[code]

**Wanted usage:**

[code]

The problem is that I cannot use it like in the previous example because I get an error:

**Current usage:**
 If I specifiy ChildContent **explicitly** it works

[code]

I think that template parameters

[2019-02-12 11:47] #7319 closed

[2019-02-12 11:57] javiercn opened #7495 "[Components][Tooling] Better whitespace support"
A fragment like this ends up encoded as below:
[code]

[code]

The whitespace bettween the body tag and the <App> tag is called _'insignificant white-space'_ in HTML terminology. We should detect these cases and produce `builder.AddMarkup` instead of `builder.AddContent` so that this doesn't get unnecessarily html encoded on the server.

We could probably handle this case on the server itself, but

[2019-02-12 11:58] guylando commented on #7436
@Eilon @Tratcher Here is a project which reproduces the bug and the steps to reproduce are in the readme
https://github.com/guylando/MVC302RedirectCacheBug

[2019-02-12 12:01] guylando commented on #7436
Basically the 302 redirects are cached by chrome disk cache and used when pressing browser back button in non-private tab and this triggers the bug in some environments such as in the project.
I think mvc core should always set no-cache no-store for 302 redirects to prevent this bug in general.

[2019-02-12 12:05] khellang commented on #7493
It should be pretty easy to add support for cookie binding:

[code]

And then add the `CookieValueProviderFactory` to MVC in your `Startup`:

[code]

You should be able to follow the same sample for `FromUrl`, `FromHost` (could be accomplished using `FromHeader`?) etc. as well.

[2019-02-12 12:06] guylando commented on #7436
@Tratcher Indeed UseResponseCaching has nothing to do with the bug.

[2019-02-12 12:10] javiercn opened #7496 "[Flaky test] GracefulShutdownWaitsForRequestsToFinish"
https://dev.azure.com/dnceng/public/_build/results?buildId=93150&view=ms.vss-test-web.build-test-results-tab

[code]

[code]

[2019-02-12 12:11] javiercn commented on #7496
@Eilon @muratg Can you assign as appropriate?

[2019-02-12 12:33] MagicAndre1981 commented on #7385
@davidfowl no, but I see that it is called by [SignalR when the 1st exception is raised](https://github.com/aspnet/AspNetCore/blob/release/2.2/src/SignalR/clients/csharp/Client/src/HttpConnectionFactory.cs#L55):

I set the breakpoint in the downloaded .cs file and see this code is reached.

So this causes the ObjectDisposedException on 2nd attempt?

[2019-02-12 13:15] abergs commented on #4422
I'm running on Azure AppServices. I'm getting this issue when running InProc.

Here's output from Kudo (although I tried to run 2.2.103 with self contained, no difference) :

[code]

My exception is as follows:

[code]

[2019-02-12 13:36] khellang commented on #7493
If you want to bind a custom type, like `HostString`, you can do the following:

[code]

Hook it up like this:

[code]

And use it in your controllers like this:

[code]

[2019-02-12 13:46] serenata-keith-mifsud commented on #7367
this is happening to us as well. we are load balanced, and as soon as one instance fails from this, the others shortly fail as well. This issue is happening during high traffic hours

[2019-02-12 13:54] williamwilson commented on #7465
I apologize, I realized this project is on an older version of the client (1.0.4), and later versions do expose the state.  The initial concern regarding the throwing of an exception synchronously in a method that returns a promise still stands.

[2019-02-12 14:13] javiercn commented on #5513
The templating work is done. Except for flipping the default value.
`dotnet new razorclasslib` produces the same traditional Razor Class Library.
`dotnet new razorclasslib -s false` produces a Razor Class Library without views and pages support (A Components Class Library).

Once the tooling work is done, we can flip the default to be true so
`dotnet new razorclasslib` produces a Razor Class Libra

[2019-02-12 14:21] JulijaRamoskiene opened #7497 "FormFeature class throws ArgumentNullException while parsing section with invalid Content-Disposition header."
### Description
[FormFeature](https://github.com/aspnet/AspNetCore/blob/master/src/Http/Http/src/Features/FormFeature.cs) class throws ArgumentNullException while parsing section with invalid Content-Disposition header.
This happens because result of TryParse is not checked before using contentDisposition:
[code]
Exception:
[code]

### To Reproduce
1. Startup sample service:
[code]
2. Send multipa

[2019-02-12 14:30] ackava commented on #7493
@khellang Thank you so much, I haven't tried, but I was searching documentation and couldn't figure out how to do this.

But I am still more interested in `ref HttpCookie` parameter binding where cookie could be set without touching Response object in method. This way my unit testing can work without mocking Request and Context etc.

[2019-02-12 14:51] davidfowl commented on #7497
Yea that exception sucks. Care to send a pull request?

[2019-02-12 14:53] pranavkm commented on #7450
The flags look correct. Can you tell if the `refs` folder is part of the publish output? If it's not, try running `dotnet publish /bl` and attach the generated `msbuild.binlog

[2019-02-12 14:54] khellang commented on #7493
`HttpCookie` is a class in `System.Web`. There's no such type in ASP.NET Core.

If you want to set a cookie and be able to assert the proper result, you could encapsulate that in an action result. Something like

[code]

Then use that in your controller:

[code]

And when you call the controller, you can assert that the type and its values are correct:

[code]

[2019-02-12 14:55] davidfowl commented on #7385
Yes we dispose the connection if there’s a problem creating it but we should be making a new one every time StartAsync is called.

[2019-02-12 14:58] khellang commented on #7493
...but at this point, I'm starting to think it might be easier to just do [integration testing](https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-2.2) for this?

[2019-02-12 15:02] hannespreishuber commented on #7450
there is no refs folder on published Website (done with Visual Studio)

[msbuild.zip](https://github.com/aspnet/AspNetCore/files/2856342/msbuild.zip)

[2019-02-12 15:04] JulijaRamoskiene opened #7498 "IFormCollection should provide possibility to check types and headers of form values."
### Problem
Provide possibility to get content type and other headers of sections stored in IFormCollection.
For request like this::
[code]
It should be possible to check content-type and other headers while iterating IFormCollection:
[code]

### Describe the solution you'd like
Interface similar to IFormFile for other form sections.

### Describe alternatives you've considered
Using MultipartRead

[2019-02-12 15:13] pranavkm commented on #7450
At least when you do a local publish, the build log says that publishing produces a refs folder.

![image](https://user-images.githubusercontent.com/174281/52645271-4db19800-2e95-11e9-8802-84fe1abea69c.png)

Perhaps try doing a clean publish to see if that works? If you continue having trouble with it, I'd recommend using the VS feedback tool to report an issue. In the meanwhile, you could FTP cop

[2019-02-12 15:20] hannespreishuber commented on #7450
I have done the repro several times, delete all files, publish all, create new Razor page, publish page
there are even no BIN or debug Folders. All DLLs are in root of Website?
so what profile is dotnet publish /bl using?

[2019-02-12 15:27] pranavkm commented on #7450
@vijayrkn would you be able to help here?

[2019-02-12 15:36] hannespreishuber commented on #7450
ok, found the local bin\debug…\publis Folder and copied the refs Folder to Website  - and now it works
magic-
Bug in Visual Studio?

[2019-02-12 15:38] muratg commented on #7496
Another shutdown failure :(

cc @halter73

[2019-02-12 15:44] #7400 closed

[2019-02-12 16:05] duzenko commented on #7273
Look at the RequiredAttribute source code. For bools it's basically just checking if the field is null.
The validators run after the JSON is deserialized to C# object and at that point the boolean field is already its default type value - false.
You should either change your field to `bool?` or use the JSON-specific validation attributes.

[2019-02-12 16:24] danroth27 opened #7499 "Clean up Blazor experimental notice"
Currently we have this notice on both the Razor Component and Blazor docs:

![image](https://user-images.githubusercontent.com/1874516/52650190-9e79be80-2e9e-11e9-9063-9c01cc23bd6f.png)

Since the docs are already versioned with the ASP.NET Core version we can remove the bit about “ASP.NET Core Razor Components is supported in ASP.NET Core 3.0 or later” and leave the notice specific to Blazor's ex

[2019-02-12 16:31] guardrex commented on #7499
I'll work this with the Blazor TOC update this afternoon right after the current PR merges.

[2019-02-12 16:32] BillHiebert commented on #7390
@DamianEdwards I tried a .NET Core console application and it seems to work there. I'll need to do some follow up to figure out why it doesn't work for ASP.NET Core.

[2019-02-12 16:39] dougbu opened #7500 "Remove build-time service reference download feature"
This feature will be a tooling gesture going forward. No longer needed in the MSBuild glue. Odd to call this an `enhancement` but the overall experience is getting better ❕

This issue should require only a straightforward removal of MSBuild targets, properties and tasks. (Some of this code may come back as part of a global tool.)

[2019-02-12 16:43] dougbu commented on #7500
This is specifically about `<ServiceUriReference>` and the `DownloadFile` task. Other service reference components are changing or being renamed but nothing else of significant size is being removed.

[2019-02-12 16:54] hnviradiya opened #7501 "Exception: Correlation failed. Unknown location"
### Describe the bug
When Hybrid Flow Authentication & Single Page Application combines. This error occurs. It redirects to identityserver & on callback this error is generated. Error is not on identityserver but on client project.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 2.2
2. Run following 2 projects
https://github.com/hnviradiya/asp-net-core-vue-

[2019-02-12 17:12] shapeh opened #7502 "Release notes for 2.2.2"
I see Asp.Net Core 2.2.2. is released (https://www.nuget.org/packages/Microsoft.AspNetCore.App/2.2.2) but I can't find the release notes.

Also, the roadmap has not been updated for ages (https://github.com/aspnet/AspNetCore/wiki/Roadmap).

[2019-02-12 17:13] danroth27 commented on #7499
Whoops! Wrong repo 😄

[2019-02-12 17:13] #7499 closed

[2019-02-12 18:07] EdCharbeneau commented on #7360
To elaborate even more:

Given that services are defined in <solution>.App.Startup

https://github.com/telerik/ui-for-blazor-examples/blob/master/TelerikBlazor/TelerikBlazor.App/Startup.cs#L13

Why would there be no support for managing secrets?

[2019-02-12 18:22] JamesNK commented on #7273
Newtonsoft.Json attempts to convert/coerce values. For example with boolean `true` works and `"true"` works. An error will be thrown if the JSON value can't be used.

[2019-02-12 18:24] hnviradiya commented on #7501
Side Note: If I define spa-fallback route, it is going there.

[2019-02-12 18:39] natemcmaster opened #7503 "Microsoft.SourceLink does not work with Razor components"
Projects which use source link (https://github.com/dotnet/sourcelink) and Razor components fail to build with errors like:

[code]

This happens because the target which generates the source link file (GenerateSourceLinkFile) uses `BeforeTargets="CoreCompile"`. Razor components run the `Csc` task as a part of the RazorComponentGenerate target before `CoreCompile`, so sourcelink.json does not exist

[2019-02-12 18:51] rasitha1 commented on #7501
Are you changing the RedirectUri in Events.OnRedirectToIdentityProvider? (Or any other value in protocol message).

I ran into the same issue where I wanted to force lowercase on the redirect uri for my sub apps (i.e. localhost:44320/MyApp) where by default framework picks up the request URL and if a user types in "MYApp" that's what will end up in the RedirectUri and OP will reject that endpoint

[2019-02-12 18:56] blowdart commented on #7502
That's because it doesn't have release notes, it's a patch due to a .[NET Core update](https://github.com/dotnet/announcements/issues/97). This is why nuget versions aren't indicative of product releases.

[2019-02-12 18:56] #7502 closed

[2019-02-12 19:00] Eilon commented on #7436
Thanks @guylando , we will take a look.

[2019-02-12 19:14] blowdart commented on #6813
Some thoughts;

asp.net identity and oauth/external authentication and the Claims class are all separate things, so yes, there are going to be multiple entry points to setting a claims issuer. However none of the code that ships as part of ASP.NET relies on issuer in any way, so it's truthiness isn't a concern _by default_.

For the authentication providers that are shipped with ASP.NET there the

[2019-02-12 19:40] mkArtakMSFT commented on #4373
To summarize the discussion we had with @danroth27 and @glennc, we're moving forward with the following approach here:

[2019-02-12 20:11] GoFightNguyen opened #7506 "ASP.NET Core 2.1 - SPA Using Angular - Cannot access the client app when the App Pool does not allow 32-bit"
### Describe the bug
I can invoke the Web API, but accessing the client app (SPA) returns the following error
![cannotviewclientapp](https://user-images.githubusercontent.com/6308176/52664130-dd733880-2ecd-11e9-9dbc-df2cefe4c87e.PNG)

Here's the stdout log during this time
[stdout_while_unable_to_view_696_2019212142347.txt](https://github.com/aspnet/AspNetCore/files/2857454/stdout_while_unable_to_

[2019-02-12 20:14] Tratcher opened #7507 "Docker log duplication in VS"
Docker logs are duplicated in VS when you run under the debugger (F5). The two loggers are the console logger and the debug logger. Both logs are routed to the VS Debug output window. We should find a way to detect this and suppress the console logger.

 Generic host 3.0.0-preview3:
[code]

Side note: the control characters are the console color markers. https://github.com/aspnet/Extensions/issues

[2019-02-12 20:29] mertuarez commented on #4737
This message is show when mssql-cli is trying to connect to server which is not default realm.

**# cat /etc/krb5.conf**
[code]
**# kinit principal@OTHER.REALM**
**# mssql-cli -S other.server2**

[code]

This work normal

**# kinit principal@SOME.REALM**
**# mssql-cli -S some.server1**

[2019-02-12 20:29] los93sol commented on #4370
Any news?

[2019-02-12 21:03] chucker opened #7509 "Blazor 0.8: can no longer mix refs and attributes in one element"
### Describe the bug
Blazor 0.8 appears to have a [new render tree builder](https://github.com/aspnet/AspNetCore/blob/master/src/Components/Components/src/RenderTree/RenderTreeBuilder.cs) that is stricter.

In 0.7, this would work:

[code]

The intended usage here is that

1. `@Min` gets passed from the parent component, and
2. `@_Element` gets passed on to JS, hence the need for a ` ref`

However

[2019-02-12 21:14] jeremywww commented on #4364
Same problem, same Visual Studio version as @tenderloin420. I've just been reverting web.config every time I commit, but I just had to commit a change to web.config, missed this and screwed up Production.

[2019-02-12 21:23] mikaelm12 commented on #4370
Hi @los93sol. It looks like some build infrastructure changes that we made to our repository might have excluded packages such at System.Threading.Channels and Microsoft.Extensions.Logging for  example that were thought to be shared framework only. We've updated this for preview 3 and are currently waiting on a .NET Core SDK preview 3 to verify the changes.

[2019-02-12 21:24] natemcmaster commented on #7196
cc @Eilon - let's triage this one today. This is causing regular build failures. We get failures due to locked files which are shared between the x86 and x64 build of C++ projects.

[2019-02-12 21:25] los93sol commented on #4370
Great, hopefully Preview 3 is coming sooner rather than later, rather disappointing that this was missed in Preview 1 and again in Preview 2 when it was called out with plenty of lead time.

[2019-02-12 21:28] mikaelm12 commented on #4370
Sorry about that. A lot of moving pieces that need to be coordinated. Thanks for your patience.

[2019-02-12 21:30] #4849 closed

[2019-02-12 21:32] pranavkm commented on #4849
@Eilon \ @mkArtakMSFT would this entail an announcement or would we just make note of it in the 3.0 migration notes?

[2019-02-12 21:53] pakrym commented on #7196
There are implications of this for functional testing and dev loop. ANCM handler that goes into shared runtime is not the only native thing that is getting built in parallel. There is also IIS module that is required to be able to run functional tests too.

Things to consider:

Are at the place where we can use composed shared runtime in functional tests?
What's the plan for consuming IIS module (

[2019-02-12 22:05] Yves57 commented on #4884
After little tests, please find some additional information:
I created two differents test cases (ASP.NET Core 3.0 Preview):

"Full MVC":
[code]

"MVC Light":
[code]

The controller is the same:
[code]

And I made the Startup class as lightweight as possible.

Results:

| | IServiceCollection.Count after init | GC.GetTotalMemory(true) |
| - | - | - |
| Full | 227 | ~1.37 MB |
| Light | 126 | ~1.04

[2019-02-12 22:09] mikaelm12 commented on #4370
@los93sol You can try client and sdk builds for preview3 that I've gotten to work. They aren't official preview builds but if you want to try it out and see if things work for you
SignalR Client: https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.AspNetCore.SignalR.Client/3.0.0-preview3-19110-02
SDK : https://github.com/dotnet/core-sdk/tree/release/3.0.1xx#installers-and-binaries

[2019-02-12 22:25] pakrym commented on #7196
In addition there is other way to fix these build errors - move files in question to platform specific subdirectory.

[2019-02-12 22:27] BillHiebert commented on #7390
@DamianEdwards, @tmat the reason it doesn't work for ASP.NET Core is because it has the debugger attach to the running process. The good news is that the debugging team added support for ENC in attach scenarios a couple of versions ago by setting the environment variable COMPLUS_ForceENC=1 before starting the process. I verified this works. I reactivated the original VS customer feedback item so y

[2019-02-12 22:28] davidfowl commented on #7390
Done

[2019-02-12 22:28] #7390 closed

[2019-02-12 22:40] camainc commented on #7390
So is this something that will be fixed in the next update?

[2019-02-12 23:03] #7466 closed

[2019-02-12 23:05] ps2goat commented on #5911
FYI, we ran into this issue today with the CGI application error.

## TL;DR;
Azure dev ops or `dotnet publish` seems to be doing XML transforms for us on our web.config files, and we ended up having two entries in the web.config for `ASPNETCORE_ENVIRONMENT`.

The ultimate source for discovering this was [here](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=asp

[2019-02-12 23:06] Eilon commented on #4849
Seems pretty minor, so I'd sa not worth it.

[2019-02-12 23:18] rynowak opened #7512 "Add support for async to our Components E2E tests"
When running the components E2E tests (I hit it easily in VS) it's possible to cause a thread-starvation deadlock on the selenium intialization.

Since we lock around the launch of selenium, ever test that starts has to take a lock - except the first thread to arrive that starts the server. Then it does a synchronous wait on the startup path because in a fixture you can only do synchronous work. T

[2019-02-12 23:19] legistek commented on #5082
Hey I found this issue searching for the same problem. So to be clear is there currently a way to re-use (or declare in some central location) component templates?

[2019-02-12 23:45] Tratcher commented on #7501
Sharing a Fiddler trace file is the quickest way to debug this scenario.

[2019-02-13 00:04] Eilon commented on #7196
Discussed in triage. @muratg please assign/set milestone as appropriate.

[2019-02-13 00:06] Eilon commented on #4521
@rynowak - we believe this is done. Do we need to do a "test PR" to see that eng/Versions.props and eng/Versions.Details.xml are in sync?

[2019-02-13 00:07] Eilon commented on #4521
Actually @natemcmaster will log a new issue for verifying this + adding logic to check it automatically. So, closing this.

[2019-02-13 00:07] #4521 closed

[2019-02-13 00:23] danroth27 commented on #5082
@legistek Component templates are `RenderFragments`, which you could create centrally and reuse.

[2019-02-13 00:36] Eilon commented on #3644
Apparently not needed. @natemcmaster will explain why.

[2019-02-13 00:38] Eilon commented on #3646
@natemcmaster , please log a new issue in the appropriate location with the distilled requirements, then close this issue.

[2019-02-13 00:45] legistek commented on #5082
Hey @danroth27 I can see how you would do it in C# code by making a lambda/delegate. But I should have specified that I'd like to declare them in the cshtml markup, yet not directly inside the component that's using it. I couldn't see any of the tutorials or examples showing how to do that. Is that possible now?

Basically I want to do the equivalent of a WPF `DataTemplate` defined as a `StaticRes

[2019-02-13 00:51] danroth27 commented on #5082
@legistek Right, we don't have a fully comparable data template experience to what WPF has. I was simply pointing out what we have available today.

[2019-02-13 00:56] legistek commented on #5082
Thanks no worries, the code method is a useful workaround for sure.

[2019-02-13 00:57] natemcmaster commented on #3644
No action is required here. The symbols generation that is disabled for macOs is for **crossgen** symbols (.ni.pdb). These are only used by profilers, which coreclr does not support for macOS. The regular, portable PDB's that we already produce and push to symbweb are sufficient for debuggers running on the macOS shared framework.

[2019-02-13 00:57] #3644 closed

[2019-02-13 01:07] natemcmaster commented on #3646
I'm closing as there is no planned action item here for the ASP.NET Core team.

As @leecow mentioned above, this file can be used to figure out which versions are the latest stable releases: https://dotnetcli.blob.core.windows.net/dotnet/release-metadata/releases-index.json. Using tools like `jq` on bash, or the `ConvertFrom-Json` command in PowerShell, you should be able to automatically determin

[2019-02-13 01:07] #3646 closed

[2019-02-13 01:21] shirhatti commented on #4451
Solved by #6498

[2019-02-13 01:21] #4451 closed

[2019-02-13 01:21] nkfeiyang opened #7514 "Is there a way to know why my client get the disconnected event frequently?"
I registered a HubConnection.StateChanged event, and I got the connection disconnected status time to time, but the server side looks good, no exception found at server side. I want to figure out why and what happened on my server or my client side.

Even if I run my client as same machine with the server side, I still get the disconnected event frequently.
Thanks a lot.

[2019-02-13 01:30] yanrez commented on #7081
Just checking if you have any updates for benchmarking the issue and solving it? Would be nice to see if you are able to systematically track perf of ssl handshakes as .net core evolves, as well as have clarity on how things might improve when .net core 3 ships.
I've noticed few PRs @stephentoub published/merged which seem to target improving perf in this flow, but hard to tell what's the bigger p

[2019-02-13 01:52] sebastienros commented on #7081
I just added scenarios to our benchmarking. it will track windows, linux, http and https connections creations per second.

[2019-02-13 01:55] stephentoub commented on #7081
From what I saw in profiling, the bulk of the impact comes from https://github.com/dotnet/corefx/issues/35086.

[2019-02-13 03:35] hnviradiya commented on #7501
PFA
[Hybrid-Authentication-SPA-Fiddler.zip](https://github.com/aspnet/AspNetCore/files/2858701/Hybrid-Authentication-SPA-Fiddler.zip)

[2019-02-13 04:05] tmat commented on #7390
@BillHiebert Thanks for looking into this. The error message is not reported by the debugger not being able to perform the edit (that would be indicated by a dialog box), but by Roslyn APIs used to create debuggable compilations with SourceText objects that do not specify encoding. So it seems that multiple fixes might be needed in order to make this scenario work.

[2019-02-13 04:25] thainbreese opened #7520 "Not refreshing saved Blazor cshtml in Visual Studio 2019 preview"
I have created a new blazor 0.8.0 component project in Visual Studio 2019 preview.
The solution includes two projects. {projectName}.App and {projectName}.Server

If I run the project, change cshtml files on client app project, and refresh the browser, it isn't updated.
What's wrong?

[2019-02-13 04:40] rynowak commented on #4884
It's something we're thinking about for 3.0.0 - for anyone else following what's your proposed set of features that would be included by default?

 For instance if we made a method like `services.AddControllers()` that included:
- CORS
- Auth
- API Explorer (Swagger/OpenAPI)
- Data Annotations

Is this the right set? Would any of you be surprised for these things to be included, or for something e

[2019-02-13 05:03] jculverwell commented on #3265
Any update on when the Authorization Server enhancements will ship?

[2019-02-13 06:09] davidfowl commented on #4373
Um what? why?

[2019-02-13 06:15] davidfowl commented on #7514
This issue belongs on https://github.com/SignalR/SignalR, and no there's no good way to know without looking at a network trace and/or the SignalR logs for that connection.

[2019-02-13 06:16] dougbu commented on #4802
5bbf7109a5

[2019-02-13 06:16] davidfowl commented on #7498
@muratg This isn't MVC, it's the core HTTP abstraction.

[2019-02-13 06:17] dougbu commented on #6616
5bbf7109a5

[2019-02-13 06:17] #6616 closed

[2019-02-13 06:17] davidfowl commented on #7498
Which apparently we've labeled servers...

[2019-02-13 06:21] davidfowl opened #7523 "Consider renaming ConfigureWebHost and ConfigureWebHostDefaults"
Looking at the template now I wonder if we should name ConfigureWebHostDefault => ConfigureWebHost and ConfigureWebHost => ConfigureWebHostCore. I want to use the good name for the meta package and have some other name for the underlying API that isn't really usable without more dependencies (like an IServer). I'd like to get this done for preview3 but if we can't agree on some name then we can mo

[2019-02-13 06:38] douglasg14b commented on #4733
I am also having this problem, but only when I import certain .js files into webpack...

Which is very odd, does this somehow have to do with the size of included files, or their contents? I can't make heads or tails of it.

[2019-02-13 07:04] Yves57 commented on #4884
Nice!
For information, adding "Authorization" adds 9 services (135 services instead of 126 services).

In the `Controller` class, the last lines may be as useful as in the "full" MVC (`Json()`, `IActionFilter, IAsyncActionFilter, IDisposable` implementations). But in this case a new `ApiController` class (already with the `[ApiController]` attribute?) would be necessary. Maybe too much?

[2019-02-13 08:15] codingsteff commented on #6701
@BrennanConroy  here are the logs from the same ConnectionId
![image](https://user-images.githubusercontent.com/4362821/52696620-b79e7000-2f6f-11e9-9358-fbf41d61e6e6.png)

[2019-02-13 08:17] smadurange opened #7524 "InvalidOperationException: Unable to obtain configuration during Jwt Bearer Authentication with TestServer"
I'm using `Microsoft.AspNetCore.TestHost` version 2.2.0 and `Microsoft.NET.Test.Sdk` version 15.9.0. I'm using IdentityServer4 for OAuth2 provider for Jwt Bearer Authentication. The set up is working fine when deployed with real web servers. However, the issue occurs during integration tests using `TestServer`.

I have already registered `HttpMessageHandler` like:

[code]

Where `this.server` is m

[2019-02-13 08:28] zengouu commented on #2051
Same problem, the Disable local Application Insights for Asp.Net Core web projects does not do anything with VS 15.9.4 & .NET Core SDK version 2.1.502

[2019-02-13 09:33] Leftyx commented on #6616
@dougbu I've tried your latest implementation but I still can see the issue.
I have updated my [repository](https://github.com/Leftyx/ComplexModelBinderBug) with the new `ComplexTypeModelBinder`.

[2019-02-13 09:56] axelheer commented on #3503
After installing Version 2.1.8 I'm running into issues with apps compiled using:

[code]

Installing the update on our servers would make them all crash with:

[code]

We stopped the rollout of the newest update for now, but

- How can we run applications compiled using 2.1.7 when there's 2.1.8 additionally (!) installed?
- How can we handle this in the future? Not specifying an explicit version l

[2019-02-13 10:48] javiercn commented on #7464
@mkArtakMSFT This is not required for preview3

[2019-02-13 10:54] jeremyVignelles commented on #3503
Same issue here, using

`<PackageReference Include="Microsoft.AspNetCore.All" Version="2.1.7" />`

When removing the explicit version, the app works, but I'm afraid of the impact of unwanted updates. If we remove the version, will it always stay in the 2.1.x branch?

I'm fine with having an explicit version here since I'm redistributing the runtime with my app (`dotnet publish -c Release -r win-x6

[2019-02-13 11:01] javiercn opened #7526 "[Components][Tooling] Define a gesture to mark a component as a "root" component"
This component will only ever be prerrendered and will be used as the entry point for the entire application. When this is the case we will treat some aspects of the component differently. For example we will allow scripts to appear normally within the component without requiring `suppress-error="BL9992"`

[code]

[2019-02-13 11:01] Ponant opened #7527 "AddDefaultIdentity and AddDefaultUI's future"
**Burn them alive** 🥇 🥇 🥇

-too buggy scaffolding IdentityUI to extract the library code and a  lot of post deletion and re-framing required (extra js validation files etc), too long to detail, sorry!
-Docs on the matter are incomplete (different flows: MVC without identity with identity, RP without identity, with identity, etc), none gives a consistent result without reformatting
-Does not allow

[2019-02-13 11:03] javiercn opened #7528 "[Components] Enable a root component to be the entry point for component based apps"
This is a tracking issue for enabling applications that only use components end to end. Here we will discuss and track the work that needs to be done to enable this scenario:

- [ ] Support DOCTYPE declarations.
- [ ] Support a way to mark a component as a "root component" so that it can be used as the container for the entire app.
- [ ] Figure out a way to turn prerrendering on and off selectivel

[2019-02-13 11:12] axelheer commented on #3503
Okay, using Version 2.1.6 instead of 2.1.7 seems to work with 2.1.7 and 2.1.8. Welcome to .NET Core Version Hell.

Thus, we need to downgrade our apps to 2.1.6 and wait with the rollout of 2.1.8 until every rollout of our apps is done. Does that make sense?

Is that really necessary or is there a better way?

[2019-02-13 11:14] axelheer commented on #3503
Ad Workaround 1) That does not help, if an app references some non Microsoft package, which references some `Microsoft.AspNetCore.*` package.

[2019-02-13 12:47] fabiano commented on #6701
We have the same errors here in two applications.

One is running on .NET Core 2.2.1 (deployed as self-contained). The other is running on .NET 4.7.1.

They are built using the SDK 2.2.103 and runtime 2.2.1.

The Microsoft.AspNetCore.SignalR package version is 1.1.0.
The @aspnet/signalr package version is 1.0.4.

We enabled the SignalR log on our servers, then soon I'll be able to share more data

[2019-02-13 12:51] legistek commented on #5082
I should also point out, it's easy enough to create a component for each "reusable" data template, give it a `DataContext` parameter of your own, and then declare it as the only element in your actual component template.

[2019-02-13 13:13] JeanCollas commented on #5082
@legistek It is not as explicit as in-view DataTemplating, but you may create a partial view in include it using

    @await Html.PartialAsync("/MyViewPath/_MyPartialView.cshtml", new {param1 = p1, param2 = p2, param3=p3})

[2019-02-13 13:52] Arash-Sabet commented on #6448
Not sharing the same Azure SignalR Service instance between two hubs resolved the issue.

[2019-02-13 13:52] #6448 closed

[2019-02-13 14:13] rl6067 opened #7530 "Serving static files from wwwroot/dist"
I'm trying to add cache control headers to .js and .css files which live in wwwroot/dist. If I output my files directly into wwwroot rather than wwwroot/dist (from webpack) the headers are added without issue via the below code:

            app.UseStaticFiles(new StaticFileOptions
            {
                OnPrepareResponse = ctx =>
                {
                    const int durationInSe

[2019-02-13 14:25] jaydeept opened #7531 "Getting error in Linux OS with .Net Core 2.2 - The configured user limit (128) on the number of inotify instances has been reached"
I am using .Net Core 2.2 for my web project. I got test cases which I am executing using `dotnet vstest` as part of CI pipeline in Linux docker. However the execution of test cases fails sometimes with error "The configured user limit (128) on the number of inotify instances has been reached."
However if I re-run, it works successfully. I am not sure what's going wrong. I had a look at [this](http

[2019-02-13 14:58] sven5 opened #7532 "[Question] How to realize File downloads in Razor Components"
Hi,

Is there any way to realize file downloads, e.g. a user clicks a button and the browser gets a file download prompt.

Thanks
Sven

[2019-02-13 15:09] foxjazz commented on #7490
Hi BrennanConroy, I completely get what you are saying. However  In a previous app, I had this similar setup and posts from angular were working and allowed. But still the signalR hub was unable to connect. So I don't get you.  If you don't mind trying this for yourself, and if you like removing credentials to see this has no affect. There is no cors setting that I have tried in any combination th

[2019-02-13 15:15] JohnGoldsmith commented on #6032
@Eilon Thanks very much for responding to this.  I had a go with the scaffolding but wasn't able to get it to behave properly with B2C.  No doubt this highlights the gaps in my own understanding, but it seems to want to add EF context and other things that appear to be handled by B2C already.  Note - I'm sure you're right, it's just not clear to me how to adapt the redirect paths simply from this.

[2019-02-13 15:17] dougbu commented on #6616
@Leftyx I updated more than `ComplexTypeModelBinder`.

Did you grab the latest commit, copy the one file, or are you using nightly builds?

[2019-02-13 15:20] foxjazz commented on #7490
All that said, if credentials are required for using signalR when the origin is not the same, then could we add that to the document somewhere?  Now time to research identity server 4.

[2019-02-13 15:23] poke commented on #7460
@danroth27 Thanks for the response, however I do think that the name is particularly confusing. A common practice is to name NuGet packages the same way as the contained assembly, or at least very similar. This has the benefit that you immediately know what namespaces you need to look for when consuming the package.

Since this package only contains `System.Net.Http.Formatting.dll` and everything

[2019-02-13 15:31] Andrzej-W commented on #7396
@matthewDDennis as @vertonghenb has already written you should use `transient` scope. As long as your business logic is within single function it is probably not a problem. Otherwise you have to get your context in one place and then pass it as a parameter to other functions or constructors.

***Warning:*** you should get your context in a function and assign it to local variable in that function.

[2019-02-13 15:43] crupest opened #7533 "[Question] How to naturally accept request with body as plain text?"
I want my controller to have an action that accepts text/plain body with the code below:

[code]

But I failed with 415 response code.

After searching, I **guess** it is because the `FromBody` attribute.

And I try to add a so-called `StringInputFormatter` but only find `StringOutputFormatter`.

I have 3 question:
1. What is the actual reason why it fails?
2. Why is there no `StringInputFormatter

[2019-02-13 15:54] MCFHTAGENTS opened #7534 "Migration in Microsoft.AspNetCore.DataProtection.EntityFrameworkCore"
I have previously implemented DataProtection in MVC Core using the file system provider
[code]
I would like to migrate this to using the:
`https://www.nuget.org/packages/Microsoft.AspNetCore.DataProtection.EntityFrameworkCore/`
so that I can scale up to multiple servers and not rely on the filesystem.

Is there a documented approach for moving the physical keys?

[2019-02-13 16:13] thainbreese opened #7535 "How can I capture mouse event out of the component?"
In my component, I did some works on onmousemove event.
However, if I move mouse out of component, it messed up.
Maybe I think I need to do capture mouse event of body or document element.
Can I do this using js interop?

[2019-02-13 16:24] Andrzej-W commented on #7528
The concept of "root component" is very nice. Please remember about SEO. Prerendered HTML page has to have correct title, description, metatags. More about this here: https://github.com/aspnet/Blazor/issues/1311#issuecomment-413046895

[2019-02-13 16:41] #5855 closed

[2019-02-13 16:55] BrennanConroy commented on #6434
We are working on reconnect, the issue is being tracked at https://github.com/aspnet/AspNetCore/issues/5282

[2019-02-13 17:15] danroth27 commented on #5513
I'll open a separate issue to track this.

[2019-02-13 17:15] #5513 closed

[2019-02-13 17:16] danroth27 opened #7536 "Change default for Razor Class Libraries to be component class libraries that work with client and server"
- Switch the Razor Class Library template to be setup for component development by default
- Surface a UI option in VS for this template to select support for components vs pages/views
- Remove the old blazorlib template

[2019-02-13 17:34] danroth27 commented on #6991
This should be fixed in the next VS2019 preview update (preview 4)

[2019-02-13 17:34] #6991 closed

[2019-02-13 17:39] danroth27 opened #7537 "Handle reconnection when circuit state is still available on server"
Initially add support for handling reconnection when the circuit state is still available on the server (ex. transient connection loss).

#5562 tracks reconnection to different servers and handling state persistence and rehydration.

[2019-02-13 17:41] danroth27 commented on #4057
We also need to update the wildcard in the .Build package that currently specifies *.cshtml

[2019-02-13 17:43] khellang opened #7538 "[MVC] Proposal for new value providers"
I'd like to propose a couple of new value providers for MVC:

 - `ClaimValueProvider`/`-Factory` and `FromClaimAttribute`
 - `CookieValueProvider`/`-Factory` and `FromCookieAttribute` (Ref. #7493)

Is there are reason these don't already exist?

[2019-02-13 17:46] Leftyx commented on #6616
@dougbu I am using AspNetCore 2.2.2. I have seen that commit has been pushed in that release.

[2019-02-13 17:59] mkArtakMSFT commented on #3303
@Tratcher, does this mean that the logs no longer show the actual exception?

[2019-02-13 18:01] mkArtakMSFT commented on #4897
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-02-13 18:01] rynowak commented on #7538
Value providers aren't opt-in. MVC by default wants to be as flexible as possible when doing binding.

Think about it this way - when you have a model to bind, and that model doesn't have any binding attributes attached to it, it will consider values from **all** value providers. So if you have a value provider for claims then by default it will be bind those values to **everything** where the nam

[2019-02-13 18:02] Tratcher commented on #3303
Correct

[2019-02-13 18:06] Tratcher commented on #7523
https://github.com/aspnet/AspNetCore/blob/06d7fe73a995000ce79007e03785ee77d4dbb508/src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/Program.cs#L21-L26

I like the current names, they're consistent and tell you you're getting a bundle of things.

[2019-02-13 18:06] BillHiebert commented on #7390
@tmat - setting the environment variable seems to work but more testing may be required to verify all scenarios.

Note that a simple workaround is to add COMPLUS_ForceENC = 1 to the environment variables section in launchsettings.json.

[2019-02-13 18:21] camainc commented on #7390
FYI, I added that workaround to my launchsettings.json and it did not make any difference in my experience.
![image](https://user-images.githubusercontent.com/944606/52734051-161c1c00-2f79-11e9-9795-c9798729510c.png)

[2019-02-13 18:22] Eilon commented on #6032
@JohnGoldsmith understood. If you have other specific issues, please log new issues for those and we will take a look. BTW sometimes StackOverflow is also a good source for these types of questions because that will often reach an even broader audience if you put the right tags on it.

[2019-02-13 18:22] dougbu commented on #6616
The fix is in the nightly builds of 3.0 Preview 3.

Please see [DailyBuild.md](https://github.com/aspnet/AspNetCore/blob/master/docs/DailyBuilds.md) for more information. That document may be slightly misleading (@natemcmaster ?) because I see 3.0 builds only in the https://dotnet.myget.org/F/aspnetcore-dev/api/v3/index.json feed (not `dotnet-core`).

[2019-02-13 18:26] chucker commented on #7520
Hot reload is known to be broken in Blazor 0.8. (I believe I saw Dan mention this somewhere.)

You may be able to work around it by placing this in the server's `csproj` (thanks srowan):

[code]

And running `dotnet watch run` from the server project folder.

[2019-02-13 18:27] rynowak commented on #4884
I think it would be really surprising if we gave people a **new and recommended** way of configuring MVC but it didn't include authorization by default. Authorization works because you put attributes on your controllers we recognize those attributes... without `AddAuthorization()` this would just silently no-op.

Compare this to something like calling `View()` from a controller without adding the

[2019-02-13 18:29] BrennanConroy commented on #7229
The parseMessages error should be gone now if you update to the latest npm package https://www.npmjs.com/package/@aspnet/signalr/v/1.1.2

[2019-02-13 18:29] mkArtakMSFT commented on #4221
@rynowak, should this be pushed to preview4?

[2019-02-13 18:31] rynowak commented on #4804
This was done a while ago, sorry I lost track of the issue.

[2019-02-13 18:31] #4804 closed

[2019-02-13 18:37] rynowak commented on #4221
Sure

[2019-02-13 18:37] rynowak commented on #4221
There's some work happening here in preview 3 - but I don't consider this complete

[2019-02-13 18:43] natemcmaster commented on #6616
DailyBuild.md is correct. What are you trying to find? I see 3.0 builds, e.g. https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.AspNetCore.App/3.0.0-preview3-19113-01

[2019-02-13 18:46] unsafecode opened #7541 "SignalR / Support ServiceWorkers"
### Is your feature request related to a problem? Please describe.
Looks like the SignalR Javascript bundle does NOT support ServiceWorkers, due to lacking of XMLHttpRequest object in SW scope.

### Describe the solution you'd like
Provide an additional HttpClient implementation that uses the `fetch` primitive instead.

### Describe alternatives you've considered
No alternatives :(

### Additional

[2019-02-13 18:52] dougbu commented on #6616
Oh, right. I was trying to find `Microsoft.AspNetCore.Mvc.Core` and we no longer publish that separately from `Microsoft.AspNetCore.App` ☹️

[2019-02-13 19:15] bradygaster commented on #7469
closing as this is the default cc @mikaelm12

[2019-02-13 19:15] #7469 closed

[2019-02-13 19:17] blowdart commented on #7534
You're the first person ever to ask.

Oh boy. @natemcmaster? In theory you'd take the contents of the XML file and write them into the EF fronted database, using the file name (with no extension) as the keyid. You'd still need the certificate for protection/unprotection.

[2019-02-13 19:23] Yves57 commented on #4884
I agree! The remark about the number of services for "Authorization" was just an information :-).

[2019-02-13 19:25] natemcmaster commented on #7534
@blowdart's suggestion sounds right to me. Let us know how it goes.

[2019-02-13 19:33] Eilon commented on #7527
cc @blowdart

[2019-02-13 19:35] Eilon commented on #7524
@javiercn - do you have a sense of whether this is more of a TestServer thing or more of a Security thing? Just want to know where to route this issue to.

[2019-02-13 19:38] blowdart commented on #7527
So we're looking at improving scaffolding, so honestly the "too long to detail" would help a lot in trying to figure out what needs fixed.

Thing is we don't force you to use the defaults. They're just sugar. If you don't like them, if you don't want roles, then use something other than them.

@HaoK I though we had a way to avoid roles? That was a specific request for 2.0 wasn't it?

As for adding

[2019-02-13 19:48] davidfowl commented on #7523
I don't, should we bring in an unbiased 3rd party?

cc @DamianEdwards

[2019-02-13 19:59] javiercn commented on #7524
@Eilon This is a security/testserver thing.
Seems like IS and the tested app are on the same app, so the problem is the handler can't normally get to the IS config because it's in memory.

Essentially the handler needs to be setup so that the config can get retrieved from the testserver. Something along the lines of:

[code]

[2019-02-13 20:05] Tratcher commented on #6397
@rynowak pipelines are available in a few places now for you to start prototyping with.

[2019-02-13 20:08] pakrym commented on #7196
@muratg it is a direct clean solution for "This is causing regular build failures. We get failures due to locked files which are shared between the x86 and x64 build of C++ projects." and the fix is already in (https://github.com/aspnet/AspNetCore/pull/7513)

The original issue didn't list other reasons outside of speeding up the build performance so it's up you to judge if this needs implementing

[2019-02-13 20:31] yepeekai commented on #6609
Out of curiosity, is this issue gonna be resolved in the upcomming asp.net core 3 release?

[2019-02-13 20:34] mkArtakMSFT commented on #4332
Moving out to preview4 as the dependent work hasn't yet completed.

[2019-02-13 20:39] glennc opened #7545 "Add launchSettings.json to worker template"
We need to add a launchSettings.json so that when running on the commandline with dotnet run you get the dev config file and logging and such works properly. Otherwise you do `dotnet new worker  `dotnet run` and it doesn't appear to do anything.

[2019-02-13 20:43] Ponant commented on #7527
If the majority of votes for keeping it (if I understand you well) then be it. It will be interesting which area in the world these devs are covering and if your survey covers enough different views. I find it weird and I do not see it holding on the long term, but ok.

Yes sorry for not having given details but many of them are in the issues raised in the docs, and some of them are closed but not

[2019-02-13 20:52] mikaelm12 commented on #7465
Yeah, was going to point out that we now expose the HubConnection state via the `state()` method. Glad you found that.

And yes we actually throw in a number of places that we should be returning rejected promises. Thanks for pointing that out. We're going to use this issue to track that work.

[2019-02-13 20:54] khellang commented on #7538
You mean at the "bind site", right?

What if there was extension methods off `MvcOptions` to add them explicitly? Sure, the values would still be "showing up everywhere", but at least you opted in?

I had a look at the `HeaderModelBinder` and the code looks pretty complex. I would really avoid duplicating something like that. Also, isn't it pretty limiting in terms of types you can bind?

Sounds l

[2019-02-13 20:57] Eilon commented on #7196
Do we have an idea of how much time it would save? 5 seconds? 5 minutes?

[2019-02-13 21:05] BillHiebert commented on #6609
It is fixed in the next preview of VS 2019.

[2019-02-13 21:07] Eilon commented on #7531
Hi @jaydeept could you show what your code looks like? Also, would it be possible to include a better-formatted log output? It's quite difficult to read that log with all the wrapping in odd places.

[2019-02-13 21:08] pakrym commented on #7196
x86 build takes ~3m so running it in parallel can save maximum that.

[2019-02-13 21:10] Eilon commented on #7531
BTW this error presumably happens in any instance where there are a lot of file watchers. Configuration file watchers are a common case, but there can be any number of other cases.

You can also look at raising the limits on your system by doing something like what's described in the answers here: https://stackoverflow.com/questions/32281277/too-many-open-files-failed-to-initialize-inotify-the-use

[2019-02-13 21:13] Eilon commented on #7196
OK then I'm not sure it's worth spending any more time on it now.

[2019-02-13 21:13] Eilon commented on #7196
(Unless this is a super common local-dev thing that annoys the people who have to do it. If that's the case, it might be worth it sooner.)

[2019-02-13 21:20] pranavkm commented on #6555
Skipping test as part of https://github.com/aspnet/AspNetCore/pull/7544/files. Failure here - https://github.com/aspnet/AspNetCore/pull/7544/checks?check_run_id=63071915

[2019-02-13 21:43] natemcmaster opened #7546 "2.1.8 downgraded some assemblies from 2.1.7"
The 2.1.8 shared framework contains some assemblies older than the 2.1.7 framework. This is a result of incorrect data in the baseline file. For instance:
https://github.com/aspnet/AspNetCore/blob/4cceccd5689ebf7712c03789df536cbb4cfc2efc/eng/Baseline.xml#L123

The actual latest stable release of Microsoft.AspNetCore is 2.1.7. This can cause runtime exceptions such as https://github.com/aspnet/AspN

[2019-02-13 21:45] mkArtakMSFT commented on #7146
Looks like everything here is in Razor-related areas.
@NTaylorMullen, this is all yours now.

[2019-02-13 21:48] mkArtakMSFT commented on #7506
Thanks for contacting us, @GoFightNguyen.
@ryanbrandenburg, can you please look into this? Thanks!

[2019-02-13 21:52] BrennanConroy commented on #7490
And that's the problem, you have the https redirect middleware so the client is being redirected to use https which breaks CORS. If you change the client to use https by default then you wont hit an issue with being redirected.

https://docs.microsoft.com/en-us/aspnet/core/signalr/security?view=aspnetcore-2.2#cross-origin-resource-sharing

[2019-02-13 21:54] Eilon commented on #7546
Oops. Are there any good workarounds to this? Add explicit reference to the correct version? (Downgrading to older patch is not a "good" workaround.)

[2019-02-13 21:54] BrennanConroy commented on #6701
This is a benign error as it looks like the client is already disconnected.

We'll look at making this either not try to write after the client is gone, or at a minimum not be an error log.

[2019-02-13 21:54] natemcmaster commented on #3503
I've opened https://github.com/aspnet/AspNetCore/issues/7546 to resolve the 2.1.7 -> 2.1.8 issue which causes `FileLoadException`.

You are correct that Workaround 1 does not work if you depend on other things which pull in AspNetCore transitively packages. We're addressing this in 3.0 with a fundamental redesign of the way we version and distribute aspnetcore packages and assemblies. In the meant

[2019-02-13 21:57] natemcmaster commented on #7546
There are several workarounds.

1. add `<PackageReference Include="Microsoft.AspNetCore" Version="2.1.7" />` (NB: this is NOT the .App package)
2. Remove version from AspNetCore.App `<PackageReference Include="Microsoft.AspNetCore" />`
3. Update AspNetCore.App: `<PackageReference Include="Microsoft.AspNetCore.App" Version="2.1.8" />`

[2019-02-13 21:59] Ponant commented on #7527
There is even the email service injected in this default :).

Another thing, I can understand that you want to compress stuff in an extension so that people do not need to addextensions one after the other. But then somewhere in the docs one should say how the framework works, for instance:
"If you want to be up and running using roles and claims you would do this"
` ` services.AddIdentity<Identit

[2019-02-13 21:59] natemcmaster commented on #7546
To help us catch this in the future, I think we should consider adding a unit test which reads this baseline and checks that it matches the latest 2.1.\* on nuget.org. The SDK team did this for a similar kind of baseline file problem.

[2019-02-13 22:02] chucker opened #7547 "[Components] Support for IntelliSense on components and their parameters"
I am trying to consume a third-party component in my project. However, it (apparently) currently has no way of exposing IntelliSense/XML documentation:

* for the component itself, there simply is no obvious syntax. You never explicitly specify the class name (it is inferred from the file name); therefore, the typical approach of annotating that name with documentation doesn't work.

* for its par

[2019-02-13 22:03] natemcmaster opened #7548 "Upgrade IIS C++ projects to build with platformtoolset v142 (VS2019)"
Depends on https://github.com/aspnet/AspNetCore/pull/7005

Let's update the C++ projects for ANCM to build with the Visual Studio 2019 toolset. This should be a matter of updating the .vcxproj and reacting to any warnings or errors the new toolset finds.
[code]

[2019-02-13 22:05] natemcmaster opened #7549 "Upgrade SignalR C++ client to build with platformtoolset v142 (VS2019)"
Depends on https://github.com/aspnet/AspNetCore/pull/7005
Blocked on https://github.com/Microsoft/cpprestsdk/issues/1039

Let's update the SignalR C++ client to build with the Visual Studio 2019 toolset. This should be a matter of updating the .vcxproj and reacting to any warnings or errors the new toolset finds.
[code]

[2019-02-13 22:10] DamianEdwards commented on #4373
I thought we'd said we'd look to get them integrated with the SDK?

[2019-02-13 22:10] davidfowl commented on #7523
To add to this, the thing that made me second guess the name was the fact that if you try to use it without calling adding a server throws, yet it's the most attractive name just doesn't work by default.

[2019-02-13 22:12] mkArtakMSFT commented on #7538
Thanks for contacting us, @khellang.
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-02-13 22:17] mkArtakMSFT commented on #7535
Thanks for contacting us, @thainbreese.
Here is a similar example you can look at: https://github.com/danroth27/RazorComponentDemos/blob/master/RazorComponentDemos.App/Pages/EventsAndBinding.cshtml#L5-L11

[2019-02-13 22:17] #7535 closed

[2019-02-13 22:21] mkArtakMSFT commented on #7533
Thanks for contacting us, @crupest.
We don't currently have a `StringInputFormatter` in the framework. But it'll be straight forward to add. This one here is created for a test: https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/test/WebSites/FormatterWebSite/StringInputFormatter.cs. You should be able to  adopt it with some minor tweaks.

[2019-02-13 22:21] #7533 closed

[2019-02-13 22:22] #4964 closed

[2019-02-13 22:30] mkArtakMSFT opened #7552 "Link generation support in Razor components"
Need to figure out if we want to provide a way to generate links to non-Razor Components things (Controller actions, Razor Pages, etc.) when in the context of a Razor Component.

[2019-02-13 22:31] mkArtakMSFT commented on #7532
Thanks for contacting us, @sven5.
You can have a simple anchor element in your component, which will direct to a controller action, which will result in the file being returned in a specific way, as described https://stackoverflow.com/questions/9195304/how-to-use-content-disposition-for-force-a-file-to-download-to-the-hard-drive.

As for the link generation on the client, we don't have such a feat

[2019-02-13 22:31] #7532 closed

[2019-02-13 22:37] mkArtakMSFT commented on #7526
Related: https://github.com/aspnet/AspNetCore/issues/7528

[2019-02-13 22:37] natemcmaster opened #7553 "[Helix] HttpSys.HttpsTests.Https_EchoHelloWorld_Success fails on Windows.10.Amd64.ClientRS4.VS2017.Open"
[code]

https://mc.dot.net/#/user/aspnetcore/pr~2Faspnet~2Faspnetcore/ci/20190213.29/workItem/Microsoft.AspNetCore.Server.HttpSys.FunctionalTests-netcoreapp3.0/wilogs
https://mc.dot.net/#/user/aspnetcore/pr~2Faspnet~2Faspnetcore/ci/20190213.18/workItem/Microsoft.AspNetCore.Server.HttpSys.FunctionalTests-netcoreapp3.0/wilogs

[2019-02-13 22:37] viktorgullmark commented on #6701
@BrennanConroy Alright, thanks for looking into it!

[2019-02-13 22:47] mkArtakMSFT commented on #7520
Thanks for contacting us, @thainbreese.
This is going to be fixed in the first update of VS 2019.
As a workaround you can choose to use out-of-proc hosting model by modifying your `csproj` file as described here: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-2.2#in-process-hosting-model

[2019-02-13 22:47] #7520 closed

[2019-02-13 22:49] mkArtakMSFT commented on #7509
Thanks for contacting us, @chucker.
@SteveSandersonMS, can you please look into this? Thanks!

[2019-02-13 22:52] mkArtakMSFT commented on #7503
Thanks @natemcmaster.
@rynowak , can you please look into this? Feel free to reassign if you believe somebody will be able to handle this easily.

[2019-02-13 22:53] mkArtakMSFT commented on #7497
Thanks @JulijaRamoskiene.
@pranavkm, can you please have a look at the PR? Thanks!

[2019-02-13 22:53] muratg commented on #7546
This looks like a patch candidate for sure.

@dougbu Would you be the right person to fix this? Could you prepare a PR and ping me on it, so that we can bring this to shiproom tomorrow? This can be a tactical PR just to fix the issue, but we definitely need to add the test @natemcmaster specifies above to prevent this from happening again.

[2019-02-13 22:55] mkArtakMSFT commented on #7497
Looks like this is `area-servers` thing. @Tratcher, as you've already looked at the PR, please drive this work forward.

[2019-02-13 22:56] stephenlautier commented on #5431
With the current template (on .net 2.2) I got it working with Angular7 + SSR.

The only thing I can't get working for SSR is optimization or bundling together (both on server), if I enable one of them it works, together they don't (cause i don't want to copy all **node_modules** for SSR).

**NOTE**
- I had to do several changes/fixes in order to get SSR workin (even for Angular 6)

#### SSR Error

[2019-02-13 22:57] dougbu commented on #7546
I'd appreciate it if @mikaelm12 could take a look at this first. @mikaelm12 is that :ok: with you?

But, I'll double-check the current 2.1.9 branding.

[2019-02-13 23:01] mikaelm12 commented on #7546
Yeah, I can do it.

[2019-02-13 23:02] Tratcher commented on #7501
@hnviradiya That trace does not contain any legible data. You need to enable "Decrypt HTTPS traffic" in the Fiddler HTTPS options.

[2019-02-13 23:02] rynowak commented on #7538
I really don't think that would be a satisfactory user-experience for those that want to opt-in because it makes a lot of common names intro reserved words for the purposes of model binding.

If you want to come up with a design proposal for #4871 - that would be welcome too, but I'll betcha is complicated as well.

[2019-02-13 23:03] dougbu commented on #7546
Problem remains in current `release/2.1` branch. I'll fix that up and leave the test to @mikaelm12

[2019-02-13 23:08] halter73 opened #7554 "Trim Async suffix on SignalR Hub method names"
See https://github.com/aspnet/AspNetCore/pull/7420

@muratg We'll probably want to do this sooner than later since it's breaking.

[2019-02-13 23:08] dougbu commented on #7546
See aspnet/AspNetCore#7556

[2019-02-13 23:16] muratg commented on #7554
Thanks @halter73.  @bradygaster FYI.

[2019-02-13 23:18] bigswede74 opened #7557 "connection.onclose() does not get called on disconnect"
### Describe the bug
connection.onclose() gets called after reconnect

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of signalr client - signalr-client-1.0.0-alpha2-final
2. Disconnect the client by disconnecting the network cable and observe that connection.onclose() is not called
3. Reconnect the client by reconnecting the network cable and observe that connection.onclo

[2019-02-13 23:21] mikaelm12 commented on #5379
Done here 3d3ad96206fc504dba954c0c6403139e3438263e

[2019-02-13 23:21] #5379 closed

[2019-02-13 23:27] BrennanConroy commented on #7557
Sorry, but that client is unsupported.

We're not going to diagnose a problem that is very likely solved in the shipped product.

Try upgrading to at least 1.0.0.

[2019-02-13 23:52] muratg commented on #7557
@bigswede74 Let us know if you still have an issue when you upgrade to a supported client. Thanks!

[2019-02-13 23:52] #7557 closed

[2019-02-13 23:54] #7545 closed

[2019-02-14 00:17] legistek commented on #7127
I'm running into this as a problem now. So is there no way to have global styles or other resources in a component library at present?

[2019-02-14 00:21] Lupusa87 commented on #6991
Using preview3 (today's release) it is taking too long even if I save changes before build.

[2019-02-14 00:25] danroth27 commented on #6991
@Lupusa87 The fix for this build hang should be coming in the next preview update (preview 4).

[2019-02-14 00:47] muratg commented on #7546
Is the following related to this issue?

https://github.com/dotnet/core/issues/2304#issuecomment-463154664

cc @joeloff

[2019-02-14 00:58] Lupusa87 commented on #7509
This error is appearing when you try to add attribute after adding contnet.

I checked Index.cshtml.g.cs and it shows:
[code]

this line should not be here
`builder.AddContent(2, Min);`

and
`builder.AddAttribute(3, "data-slider-min", true);`
should be
`builder.AddAttribute(3, "data-slider-min", Min);`

So it seems to be razor page parsing bug.

[2019-02-14 01:04] dougbu commented on #7546
@muratg probably related

[2019-02-14 01:09] MohammadHamdyGhanem commented on #2738
@reduckted @hishamco @muratg @tb-mtg @brunojuliao @Eilon @rynowak @CheungTatMing @VBDotNetCoder @simonmilne80 @NatShaw @SrqComputerguy @sreenathGanga1988 @mcurros @filippobottega  @mrjohnr @beefydog  @mevdschee @Baner041986 @hannespreishuber @Webbarrr

I agree that vbhtml is a lost cause, because VB.NET code doesn't fit well amoung HTML, CSS and JavaScript syntax! Instead, I ask for vbxaml !
I pos

[2019-02-14 01:13] natemcmaster commented on #7546
@muratg Yes, that's the exact same error.

[2019-02-14 01:20] mkArtakMSFT commented on #7494
Thanks for contacting us, @stsrki.
Your proposal would eliminate the possibility of having a content, which contains other components.
Hence, the current working mechanism of specifying each content explicitly is the intended way to do this.

/cc @danroth27

[2019-02-14 01:20] AdamSchueller commented on #5144
@muratg not sure if you guys are planning to backport the fix further, but just a heads up: this exact same issue is present in v2.1.X as well. All the documentation on the bug I've seen assumes it started in 2.2.0 (e.g., one of the packages we're using: https://github.com/stevejgordon/CorrelationId#known-issue-with-aspnet-core-220) but we've confirmed the same behavior in several versions:

- 2.1

[2019-02-14 01:36] muratg commented on #5144
Folks, 2.2.2 (with the fix) was released yesterday!

@AdamSchueller thanks for the update. @davidfowl were you aware that this is broken in 2.1.x as well?

[2019-02-14 01:49] davidfowl commented on #5144
It’s not broken in 2.1 AFAIK. Would love a fully isolated repro. Even stranger is that the above claims it was broken in a 2.2 patch which seems unlikely (unless we backported it to a patch). Moving to mondo repo makes it hard to track these changes.

[2019-02-14 01:52] muratg commented on #5144
(You mean 2.1 patch)

[2019-02-14 02:41] davidfowl commented on #5144
Sorry yes, fixed.

[2019-02-14 03:11] smadurange commented on #7524
@javiercn I tried quite a number of variations of this and still not working. For example:

[code]

And,

[code]

Looks to me like the `ConfigurationManager` is trying to get metadata not from in-memory but through a network call. Am I overriding the wrong handler here?

[2019-02-14 03:36] blowdart commented on #7527
Ah perfect. Yea, there's a documentation gap, as well as lag into scaffolding, plus problems with scaffolding itself, and the API. Some of these are actionable (the docs are frankly my fault), The files coming back again is known, and came up in a meeting today, the rest I'll forward around. Thank you for the details, I do appreciate it.

[2019-02-14 03:46] davidfowl commented on #7523
This isn’t a breaking change

[2019-02-14 04:03] zackliu commented on #7308
I can't reproduce the issue with latest server and js sdk.
From service side logs, we can find there was a 401 (what you had seen on your browser) and then fell back to SSE. However SSE also failed with 404 just like what discussed in https://github.com/aspnet/SignalR/issues/986 and https://github.com/aspnet/SignalR/issues/967 .
You can try to "Restart" the Azure SignalR service at this point. And

[2019-02-14 04:30] danroth27 commented on #7127
@legistek You can continue to use the existing Blazor mechanism with Blazor apps, but we haven't enabled the same mechanism in Razor Component apps yet.

[2019-02-14 04:32] danroth27 opened #7560 "input for checkbox always false"
_From @drowhunter on Saturday, 26 January 2019 23:32:58_

# General

I just spent two days trying to figure out why this is not working
[code]
On Post value of check box is always false, and the user code is null
![wrongvalues](https://user-images.githubusercontent.com/2817488/51794044-7dc02200-2198-11e9-9fad-b279115cca66.png)
but if you look at the request the values are there
![requestform](http

[2019-02-14 04:32] danroth27 commented on #7560
_From @leecow on Thursday, 14 February 2019 00:51:09_

@muratg - can you have a look and redirect if necessary?

[2019-02-14 04:32] danroth27 commented on #7560
_From @muratg on Thursday, 14 February 2019 01:27:20_

cc @mkartakmsft, @danroth27

[2019-02-14 04:32] danroth27 commented on #7560
_From @drowhunter on Thursday, 14 February 2019 01:33:10_

Just to be clear, in order to work around this issue, I had to go into the Request.Forms Items and select the first value from the `RememberConsent` Array.  And Grab the value for UserCode myself.

Something is not right with the PageModelBinder or something

[2019-02-14 04:38] qcc-na commented on #6664
Dude, thank you so much for opening this issue @alexdresko .  What a nightmare.  I spent HOURS trying to figure this out.

[2019-02-14 06:06] dougbu commented on #7546
I've manually checked the `Baseline.xml` file against the current NuGet versions of each package. Nothing other than `Microsoft.AspNetCore` was behind.

Rather than do 2.2.3 manually, I'll turn to the test&hellip;

[2019-02-14 06:12] dougbu commented on #7546
One alternative: Change the `Baseline.xml` file to list only `Major.Minor` versions and have `BaselineGenerator` determine the latest patch version.

@natemcmaster I don't see anything but `BaselineGenerator` that reads `Baseline.xml`. Am I missing anything?

Other thoughts on this infrastructure reformat versus a separate test?

[2019-02-14 06:15] hishamco commented on #2738
IMHO using XAML or templating language such as Fluid will make all happy, because the Razor is written for C# only

[2019-02-14 06:21] LiangZugeng opened #7562 "Question: Why is the set accessor of RoleManager.Store private but the set accessor of UserManager.Store is not?"
It's a question, when reviewing the RoleManager and UserManager, I found the Store properties of the two classes are designed differently.

[code]

[code]

1. RoleManager.Store has a private set accessor but UserManager.Store has a normal set accessor.
2. RoleManager.Store has no internal decorator but UserManager.Store has.

Can anyone clarify this a little bit? Is this an intended design or just

[2019-02-14 06:50] natemcmaster opened #7563 "Build using yarn instead of npm"
`npm install` feels horribly slow when building this repo. Yarn seems to use caches much better, at least 4x better on my machines, sometimes more. Prototype: https://github.com/aspnet/AspNetCore/compare/master...natemcmaster:yarn

Ran some experiments comparing "yarn install" and "npm install". They perform about the same on a cold machine (varies widely based on network conditions). But on a war

[2019-02-14 07:10] sven5 commented on #7532
@mkArtakMSFT
Thanks for your reply. I already thought that there is only this way at the moment and built a Controller action that returns the file.

Best regards
Sven

[2019-02-14 07:58] Ponant commented on #7527
Then why not asking for help from the community to fill in the docs and one from you reviews?
I am thinking that a good pedagogical strategy is to step through a registration process, basically copy pasting register.cshtml.cs and commenting. Then one would include email confirmation here where you would remove the signin prior to sending email link. No need ot put sendgrid at this point. And follo

[2019-02-14 08:22] javiercn commented on #7524
@smadurange I've checked the code a bit. (It was a long time since I last did this).

I believe the only thing you need is the configuration, that you could set yourself statically for the test.
You would set that in the options.

https://github.com/aspnet/AspNetCore/blob/master/src/Identity/ApiAuthorization.IdentityServer/src/Authentication/StaticConfigurationManager.cs

[2019-02-14 08:30] KogulVimal commented on #7479
@shishir28 , I faced the same issue in my system and found that my entity user model which is inherited from IdentityUser had overridden the field SecurityStamp.

[2019-02-14 08:34] koenigst opened #7564 "Route Templates for HttpClient"
### Issue
We are currently building a suite of applications using the microservice design-pattern. One of our big pain-points and a frequent source of errors is building the URLs to access resources on other microservices.

### Desired Solution
ASP.NET Core route templates would offer a powerful and well-known syntax for generating URLs. I would like to have a simple solution for creating URLs fro

[2019-02-14 08:36] wdolek opened #7565 "Unable to run netcoreapp2.1 referencing Microsoft.AspNetCore.All 2.1.7 after installing .NET Core SDK 2.2"
### Describe the bug
I have application with following `.csproj`:

[code]

After installing .NET Core SDK 2.2 and doing update of Visual Studio 2017 to 15.9.7, I'm not able to run my app when referencing `Microsoft.AspNetCore.All` `2.1.7`, getting runtime exception:

[code]

When I change version to `2.1.8`, app works, however application is broken to anyone else in team who has not performed SDK/

[2019-02-14 08:44] javiercn opened #7566 "[Components] More E2E tests for events"
There are a lot of browser events and we only have tests for a handful. These usually rely on the JS/.Net definitions for the event being in sync, so we should try and add E2E tests for all of them as it's one of the major interop boundaries (along with JS invocation).

[2019-02-14 08:48] javiercn commented on #7526
@rynowak Do you have any input in here?

[2019-02-14 09:32] yuessir opened #7567 "*.Views.dll not in AppDomain.CurrentDomain.GetAssemblies()"
### Describe the bug
Creating a new .Net Core 2.2 MVC project.
Why *.Views.dll not in AppDomain.CurrentDomain.GetAssemblies()??

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '...'
V 2.2
2. Run this code '....'
Using  `AppDomain.CurrentDomain.GetAssemblies() `
3. With these arguments '....'
4. See error

### Expected behavior
I thought the **ProjectNmae.Vi

[2019-02-14 09:36] mattgenious commented on #6486
The method for ASP.NET Core 2.x seems to only be getting nameidentifier and name (that is actually the email address). I might be mistaken but I can't find given_name, family_name, link or the actual email field in the claims returned.

[2019-02-14 09:50] Ponant opened #7568 "Stores.MaxLengthForKeys is not consistent with what is announced"
`            services.AddDefaultIdentity<IdentityUser>(x=>x.Stores.MaxLengthForKeys=100)
`
will not generate a Max Length for UserId, which remains at 450. This is not consitent with the intellisense text
" If set to a positive number, the default OnModelCreating will use this value as the max length for any properties used as keys, i.e. UserId, LoginProvider,  ProviderKey."

[2019-02-14 09:52] MohammadHamdyGhanem commented on #2738
VBLazor would be similar to uwp/wpf design view, but with two code-behind files, one for server vb.net codes, and another for client (script) codes, with the ability to use MVVM pattern to organize large projects. XAML will be complied to html5, Xaml styles will be compiled to CSS, and VB.NET script codes will be compiled to WebAssembly.

[2019-02-14 09:56] dweggemans commented on #7565
I just experienced the same thing after installing SDK 2.2. The workaround updating the reference to 2.1.8 works like a charm.

[2019-02-14 10:33] reduckted commented on #2738
I'm closing this because, sadly, it's pretty clear that there is no intention to add VB.NET project templates for ASP.NET Core.

[2019-02-14 10:33] #2738 closed

[2019-02-14 10:37] hannespreishuber opened #7569 "Visual Basic .NET (VB.NET) support in ASP.NET Core"
we need a lower barrier for ASP.NET core which I see with VB.NET support
Goal is to get more semi pro and Website devs (not Project) to use that platform

I open that cause the thread owner of
https://github.com/aspnet/AspNetCore/issues/2738
closed it by Frustration.

[2019-02-14 11:15] MohammadHamdyGhanem commented on #7569
I agree that vbhtml is a lost cause, because VB.NET code doesn't fit well amoung HTML, CSS and JavaScript syntax! Instead, I ask for vbxaml !
I posted this suggestion in VB.NET repo months ago:
https://github.com/dotnet/vblang/issues/329
These are quotes:

VBlazor (.vbxaml) will make desktop developers experienced in VB.NET and WPF/UWP  move to ASP.NET smoothly.
VBLazor would be similar to uwp/wpf

[2019-02-14 11:19] Leftyx commented on #6616
@dougbu Thanks for letting me know.
As soon as I have a chance I'll check that.

[2019-02-14 11:20] javiercn opened #7570 "[Components] Correct some the `[EventHandler]` entries on EventHandlers.cs that are incorrect."
Some of the `[EventHandler]` entries starting at https://github.com/aspnet/AspNetCore/blob/master/src/Components/Components/src/EventHandlers.cs#L72 are incorrect, because they lack the necessary `on` prefix from the event name. This means you can't register pointer events from normal Razor code and have to register them on the `RenderTreeBuilder` directly using a render fragment as a workaround.

[2019-02-14 11:35] javiercn commented on #7566
As @SteveSandersonMS has pointed out, some of this things we might not be able to test with browser automation.

That said, we could create a MEGAEVENTSTESTINGPAGE that would work as follows:

* We will launch the site manually.
* We will navigate to the MEGAEVENTSTESTINGPAGE.
  * On that page we will have a several sections per event category (Touch, Pointer, Focus, Click, and so on).
  * Each of

[2019-02-14 11:36] #7418 closed

[2019-02-14 12:05] shishir28 commented on #7479
Thanks I did not have that problem.  When I used PersistKeysToSqlServer it had solved the issue.

[2019-02-14 12:05] #7479 closed

[2019-02-14 12:31] wmqsoft opened #7571 "How can I get mouse move event of document in blazor?"
I tried to capture mouse move event of document in blazor using js interop.

[code]

If I invoke the example function, the console.log displays mousemove when I am moving mouse cursor.
However, I want to return the mouse position to c# code.
How can I do this?

[2019-02-14 12:39] Gleaken commented on #7565
Yes, workaround with updating the reference to 2.1.8 works

[2019-02-14 13:03] shram2k commented on #7367
I am also facing the same issue. I have hosted Asp.Net Core 2.2 API project InProcess (IIS) and frequently getting "Failed to gracefully shutdown process". Any solution?

[2019-02-14 13:09] jaydeept commented on #7531
Sure thing @Eilon ,

Here is the stacktrace and formatted log:

And here is my code from Startup:

[code]

And starcktrace has reported line DITests.cs:line 85 which is below one where I am using TestServer for my testing purpose. :
` m_TestServer = new TestServer(webHostBuilder);`

[2019-02-14 13:12] jaydeept commented on #7531
Also regarding your post related to file watchers, I don't think I am using one. This is happening inside container as part of CI so I don't have privilege to modify the **limits.conf** file by going there.

[2019-02-14 13:35] AndreaCuneo commented on #7098
We're having the same issue, also with Url.Link() equivalent.
We've worked around it by setting EnableEndpointRouting = false; in the MvcOptions.

[2019-02-14 13:45] pranavkm commented on #7563
@SteveSandersonMS \ @javiercn thoughts? Cursory reading does suggest that yarn's faster - https://www.keycdn.com/blog/npm-vs-yarn - but I'm not sure if there are drawbacks of using it.

[2019-02-14 14:03] javiercn commented on #7563
@pranavkm Yarn is FBs response to some issues with npm. I belive they are both technically equivalent, but I don't know if we would be loosing things like npm audit. Which might be a considerable drawback

[2019-02-14 14:41] SteveSandersonMS commented on #7563
Try using “npm ci” instead of “npm install” and see if the speed is adequate.

It will keep things simpler for ourselves and contributors if we can avoid requiring installation of extra nonstandard tools where possible.

[2019-02-14 15:06] ivanchev commented on #7268
If inference is the main problem, having to specify the type on the main component explicitly is still a viable option, as long as it's only specified in just one place.

[2019-02-14 15:27] bgribaudo opened #7572 "Support Live-Refreshing of IStringLocalizer Strings"
This is a belated response to the following request from https://github.com/aspnet/AspNetCore/issues/3289#issuecomment-439572479:

@mkArtakMSFT:

In ASP.Net Core 2.1, changes made to pages (*.cshtml) are reflected on the site as soon as the change is saved and the browser window is refreshed. The same holds true with the IViewLocalizers used by pages—updates to these localization strings are refle

[2019-02-14 15:38] hnviradiya commented on #7501
@Tratcher Updated one.
[Https Decrypted Hybrid Flow.zip](https://github.com/aspnet/AspNetCore/files/2865704/Https.Decrypted.Hybrid.Flow.zip)

[2019-02-14 15:44] bradlis7 opened #7573 "Async Model Validation"
### Is your feature request related to a problem? Please describe.
Model validation is synchronous, but if there's a database call or other awaitable call, it would be nice to have an async option.

See https://github.com/aspnet/Mvc/issues/786.

### Describe the solution you'd like
Add virtual methods for `ValidationAttribute`:

[code]

### Describe alternatives you've considered
Currently working

[2019-02-14 16:00] chucker opened #7575 "[Hosted Blazor] UriHelper.GetBase() or URL routing behaves differently in 0.8"
### Describe the bug
Upgrading to Blazor 0.8 broke the Web API routing in my hosted Blazor project.

In Blazor 0.7, I could use this to make a Web API call:

[code]

In Blazor 0.8, this fails. Upon further investigation, it appears that:

* `apiRoot` contains two slashes (e.g. `http://someHost/MyBlazorProject//api`, and
* that double slash appears to lead Blazor routing to take precedence over Web

[2019-02-14 16:18] martincostello commented on #4789
Further update: we've completed our migration to Windows Server 2016. We're in a change freeze until Monday 18th now, so we're aiming to run the "buggy" version for a short period next week so we can get a crash dump to send over for analysis.

[2019-02-14 16:18] Tratcher commented on #7501
Hmm, it's not the usual problem, the expected cookies are there. This method is returning false https://github.com/aspnet/AspNetCore/blob/0ec25d31670beb25d138578d71ddd14ad5197fe2/src/Security/Authentication/Core/src/RemoteAuthenticationHandler.cs#L209. It has three possible reasons and they all generate unique logs. Turn on your logs to see which one it is.

Frame 16 confuses me, there's no State

[2019-02-14 16:23] synesthesia commented on #4926
At present AFAIK  the DurableOrchestrationClient in Azure Durable Functions needs to take an HttpRequestMessage, so when writing in Functions v 2 you need the shim:

[code]

So please at the very least co-ordinate this change with other Microsoft teams :)

[2019-02-14 16:38] Ponant opened #7576 "HtmlHelperOptions.ClientValidationEnabled = false is ignored"
`services.AddMvc().AddViewOptions(o =>
            {
                if (_env.IsDevelopment())
                {
                    o.HtmlHelperOptions.ClientValidationEnabled = false;
                }
            })`
is currently not working on the register page of the asp.net identity template.

[2019-02-14 16:47] natemcmaster commented on #7563
Ran the same experiment with npm ci. It's the slowest of the 3 options. It's especially bad on macOS because it doesn't cache the result of compiling modules that have C++.

Average of 5 iterations on warm machine

PC | `yarn install` | `npm install` | `npm ci`
---|---|--|--
macOS | 12s | 229s | 390s
Windows 10 | 15s | 57s | 93s

The only contributors who would need to install yarn are those makin

[2019-02-14 16:56] natemcmaster commented on #7563
`yarn audit` :) Also, Doug enabled an internal Microsoft thing yesterday which audits our dependencies regularly, and it supports yarn: https://docs.opensource.microsoft.com/tools/cg.html

[2019-02-14 16:57] Eilon commented on #7569
Hi folks, while there are many interesting ideas being discussed, there are still no plans for adding direct support for this.

Today you can use VB.NET for writing many parts of ASP.NET Core applications, such as startup code, MVC/API controllers, SignalR hubs, authentication logic, models, etc. But there is no support for VBHTML and at this time there are no plans to change that.

[2019-02-14 16:59] Eilon commented on #7569
cc @DamianEdwards

[2019-02-14 17:00] Eilon commented on #7565
@natemcmaster - this is the known issue that was discovered yesterday, yes? Close as dup?

[2019-02-14 17:01] natemcmaster commented on #7565
Closing as a duplicate of #7546.

@wdolek the recommended way to use Microsoft.AspNetCore.App is to remove the `Version` attribute. But if you still need it for some reason, upgrade the version to 2.1.8.

[2019-02-14 17:01] #7565 closed

[2019-02-14 17:18] Ponant commented on #7576
@muratg , is that expected not to work on razor pages and be applicable only to traditional mvc views?

[2019-02-14 17:20] hnviradiya commented on #7501
**1) I think it is (below log) -> Logger.CorrelationPropertyNotFound(Options.CorrelationCookie.Name);**

[code]
**2)**
Reason to generate manually is, it is giving 302 status code which axios is not able to handle (not redirecting entire page but just ajax call), so I had to tweak it. and at client side I have redirected manually if 401 is found.

3) **About** You're skipping this important step:

[2019-02-14 17:26] Ponant commented on #5823
@ajcvickers , I have a new project and would like to know what would be some better defaults for the length of the PasswordHash, Concurrency and Security stamps, knowing that I have usernames not exceeding 32 chars, same for phone numbers and emails must be below 128. So far I have the defauls values for PasswordHash, Concurrency and Security stamps (nvarchar(max)) and would like some fixed upper

[2019-02-14 17:32] muratg commented on #7576
@Ponant I don't know.

cc @danroth27

[2019-02-14 17:33] Eilon commented on #7514
This issue was moved to SignalR/SignalR#4306

[2019-02-14 17:34] #7514 closed

[2019-02-14 17:34] Tratcher commented on #7501
Ok, yes, the log does identify this as the issue. You need to include that Protect line in your OnRedirectToIdentityProvider function before calling CreateAuthenticationRequestUrl. The ProtocolMessage, Options, and AuthenticationProperties should all be on the context.

[2019-02-14 18:11] blowdart commented on #7568
Could you tell me which version of identity you're seeing this in?

[2019-02-14 18:15] pranavkm commented on #4926
@synesthesia WebJobs is not built on ASP.NET Core Mvc, consequently removing this shim should not affect Durable Functions. Are you seeing otherwise?

[2019-02-14 18:19] #7121 closed

[2019-02-14 18:20] pranavkm commented on #2418
Fixed as part of https://github.com/aspnet/AspNetCore/pull/7459

[2019-02-14 18:20] #2418 closed

[2019-02-14 18:20] danroth27 commented on #7133
We're keeping the preview moniker for now.

[2019-02-14 18:20] #7133 closed

[2019-02-14 18:26] natemcmaster commented on #7546
I don't think we should only list Major.Minor. This could lead to non-deterministic behavior when re-generating baselines.

@mikaelm12 was looking into adding test coverage for this. I added @dougbu to the email thread in which we're brainstorming fixes.

[2019-02-14 18:30] danroth27 opened #7579 "Remove comment about potential routing changes from the App.cshtml file"
The *App.cshtml* file has the following comment about potential updates to routing:

[code]

The language here was speculative and the change here is still to be worked out. Let's just remove this comment and track whatever routing enhancements we want to do with #5489.

[2019-02-14 18:39] enetstudio commented on #7571
You can pass the mouse position to a Blazor method using jsinterop. See here how to do it: https://blogs.msdn.microsoft.com/webdev/2018/07/25/blazor-0-5-0-experimental-release-now-available/

But why won't you use native Blazor mousemove event to get the same result ?

Note: If you wish a detailed answer for your question, you may move your question to stackoverflow, as this question is not really

[2019-02-14 18:51] guylando commented on #7186
FYI: By using code similar to what I posted I managed to add access token authentication seamlessly to ExternalLoginCallback method from the template which bypasses the flow: ExternalLogin -> ExternalLoginChallenge -> facebook -> signin-facebook callback -> ExternalLoginCallback by authenticating the user by access token when received directly from client side. So instead of redirecting user to Ex

[2019-02-14 18:58] wdolek commented on #7565
@natemcmaster Hi! Thanks for taking care of this. Yet I still don't really understand, _why_ - I _just_ installed SDK 2.2 along other older SDKs. I never had intention (in this particular project) to upgrade `Microsoft.AspNetCore.All` dependency nor upgrading target to `netcoreapp2.2`.

[2019-02-14 19:01] skiptirengu opened #7581 "Unexpected Model Binding behavior on controllers annotated with [ApiController]"
### To Reproduce
1. On a fresh project create a new controller annotated with [ApiController], and add an action with a complex type as parameter.
[code]
2. Make a POST request to the endpoint.
[code]
### Expected behavior
Expected the response to be 0, but instead it was 123. Without the [ApiController] annotation the action behaves as expected.

### Additional context
After digging into the docu

[2019-02-14 19:19] guylando commented on #7186
Regarding google here is the official flow for verifying user who logged in using client side google sdk: https://developers.google.com/identity/sign-in/web/backend-auth
I guess it can also be done by validating access-token using the request to /oauth2/v2/userinfo which you already do in the GoogleHandler

[2019-02-14 19:20] bradygaster commented on #7541
cc @davidfowl this seems similar to an issue @halter73 merged in #7058. Thoughts on this?

[2019-02-14 19:46] NTaylorMullen opened #7587 "[Razor Tooling] Remove TypeForwarded TagHelper services from MS.VS.Editor.Razor."
@alexgav @ToddGrun I recently moved our TagHelper services from the editor.razor dll to the CodeANalysis.Razor.Workspaces dll. We're type forwarding all the types so you wont have any issues but at some point in the future we should do a coordinated insertion to change your references.

PR in question: https://github.com/aspnet/AspNetCore-Tooling/pull/211

[2019-02-14 19:56] HaoK commented on #7562
The store should be passed into the ctor which sets its, the latter accessor is different due to unit tests setting the store.  In general it should be treated as a private setter

[2019-02-14 20:18] Tratcher commented on #6486
@mattgenious Are you looking under these claim types?
https://github.com/aspnet/AspNetCore/blob/4a5b6ea169a368adba54eef303a040a4206041f4/src/Security/Authentication/Google/src/GoogleOptions.cs#L28-L33

[2019-02-14 20:19] pranavkm commented on #7464
Closing - dup of https://github.com/aspnet/AspNetCore/issues/6185

[2019-02-14 20:19] #7464 closed

[2019-02-14 20:24] mattgenious commented on #6486
Yes, when I check at runtime what actually is retrieved the result is as I described. But again, I might be missing something or misunderstanding something.

[2019-02-14 20:27] Tratcher commented on #6486
Is it an account specific issue? Do you get the same behavior with other accounts?

[2019-02-14 20:31] Ponant commented on #7568
On both
2.1.600-preview-009497
2.2.200-preview-009804

the preview is because I am on on the lastest VS 2019 preview

[2019-02-14 20:34] mattgenious commented on #6486
I’ll get back to you on that as I’ve only tried with g suite accounts until now.

[2019-02-14 20:43] Ponant commented on #7568
It is actually worse than that because for the 2.1 version setting 100 as a max will set not only 450 for UserId but will also ignore the 100 for the providers, which remain at 128.
The culprit is most likely here
https://github.com/aspnet/AspNetCore/blob/bfec2c14be1e65f7dd361a43950d4c848ad0cd35/src/Identity/UI/src/IdentityServiceCollectionUIExtensions.cs#L58-L59

[2019-02-14 20:51] sebastienros commented on #6435
I can reproduce. The problem is that it adds a WARN level log for any request that is from a browser whose default culture is not one from the list of supported cultures in the application. Let's say you configure your application to support English and French, anyone who doesn't have these will generate a WAN log on every request.

I think the issue is the level of logging, it should not even be

[2019-02-14 20:55] ajcvickers commented on #5823
@HaoK Do you know if their are well-known maximum lengths for "PasswordHash, Concurrency and Security stamps"?

[2019-02-14 21:02] Ponant commented on #7568
And trying to play with the migrations, e.g. delete the migration folder or simply adding another migration will mix up things you will get 100 for providers but still 450 for USerId. The template I used is the Razor Pages with Auth selected for the sdk's above.

[2019-02-14 21:02] HaoK commented on #5823
@blowdart for his thoughts as well, the stamps are just guids right now by default, the password hash looks like its always 49 bytes

[2019-02-14 21:47] pranavkm commented on #6353
Server primitives are done. Client primitives and reconnects are being tracked via https://github.com/aspnet/AspNetCore/issues/7537

[2019-02-14 21:47] #6353 closed

[2019-02-14 22:02] kevinlo opened #7592 "Why is the NotAuthenticatedWithFailure message logged as INFO, not ERROR?"
Usually, we search log file for ERROR or WARNING whenever it has issues.  It happens sometimes I see no ERROR in the log but my application has issue because the data protection key is messed up.

Why is the NotAuthenticatedWithFailure messaged be logged as INFO, not ERROR or WARNING?

Should this [line ](https://github.com/aspnet/Security/blob/master/src/Microsoft.AspNetCore.Authentication/Loggin

[2019-02-14 22:07] Eilon commented on #7501
Hi @hnviradiya we have determined that this isn't a bug in ASP.NET Core. This might now be a more suitable topic for a site such as StackOverflow where the broader community can try to provide this type of assistance.

[2019-02-14 22:07] #7501 closed

[2019-02-14 22:09] Eilon commented on #7458
To report issues with Visual Studio, use the [Report a Problem](https://developercommunity.visualstudio.com/) tool.

If you encounter a problem with Visual Studio, we want to know about it so that we can diagnose and fix it. By using the Report a Problem tool, you can collect detailed information about the problem, and send it to Microsoft with just a few button clicks. See [here](https://docs.mic

[2019-02-14 22:09] #7458 closed

[2019-02-14 22:13] Eilon commented on #7436
Hi @guylando , we discussed this within the team and we're not planning to make any changes here. Using the browser's Back button during an auth flow has many issues, so solving this one item is not likely to be a complete solution anyway.

[2019-02-14 22:13] #7436 closed

[2019-02-14 22:14] enetstudio commented on #7575
This behavior is by design:
`
/// <summary>
        /// Gets the base URI (with trailing slash) that can be prepended before relative URI paths to
        /// produce an absolute URI. Typically this corresponds to the 'href' attribute on the
        /// document's &lt;base&gt; element.
        /// </summary>
        /// <returns>The URI prefix, which has a trailing slash.</returns>
        public

[2019-02-14 22:15] Eilon commented on #7348
The `OnRedirectToLogin` is specific to cookie authentication. The `OnRedirectToIdentityProvider` event is specific to OIDC auth.

So, if you're using OIDC auth in this scenario, then `OnRedirectToIdentityProvider` is the correct event.

[2019-02-14 22:15] #7348 closed

[2019-02-14 22:17] Eilon commented on #7592
Hi @kevinlo , we use the following definitions for log levels: https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.logging.loglevel?view=aspnetcore-2.2

So, the ERROR level is reserved for events where the execution of the request must stop. The INFO level is used for items that are interesting to see in logs and that an app might want to monitor.

[2019-02-14 22:17] #7592 closed

[2019-02-14 22:20] Eilon commented on #7117
Closing because it is still unclear to us what the root problem us and we do not have enough information to diagnose it.

[2019-02-14 22:20] #6028 closed

[2019-02-14 22:29] Eilon commented on #4641
We've moved this issue is in the Backlog milestone. This means that it is not going to happen for the coming release. We will re-assess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-02-14 22:36] mkArtakMSFT opened #7593 "Upgrade Bootstrap dependencies"

[2019-02-14 22:37] pranavkm commented on #7581
See https://github.com/aspnet/Mvc/issues/4211#issuecomment-194016420 for a past discussion. Model binding attributes such `BindRequired`  \ `BindNever` do not apply to serialization. In the absence of `ApiControllerAttribute`, the object would not get bound, at least not to a json payload.

We'd be happy to accept a docs PR. https://docs.microsoft.com/en-us/aspnet/core/mvc/models/model-binding wou

[2019-02-14 22:37] mkArtakMSFT opened #7594 "Upgrade Bootstrap dependencies"

[2019-02-14 22:37] #7581 closed

[2019-02-14 22:40] davidfowl commented on #7541
It’s not the same thing service workers an web workers are different and though there might be some overlap in the fixed I’m not sure this covers everything. It seems like we’ll need to switch to fetch when available as part of supporting service workers.

I’m not 100% sure about using SignalR in service workers though @anurse did some investigation here

[2019-02-14 22:46] Eilon commented on #4589
First step is to get an app set up with WAF and see if we can reproduce the "bad SQL injection rule" thing, and then come up with possible alternative cookie characters that do pass the rule.

[2019-02-14 22:52] Eilon commented on #4352
With Windows Auth the redirect pattern won't work because when the 401 is returned from the server, the status page redirect will try to show the appropriate page for the 401 status, at which point the authentication flow is stopped.

For this case we recommend using the re-execute option because it's all part of one request (no redirect happens, and the status code won't be changed).

[2019-02-14 22:52] #4352 closed

[2019-02-14 22:52] Eilon commented on #6669
@javiercn - any update? Clock is ticking for preview 3.

[2019-02-14 23:13] pranavkm commented on #4373
Spoke offline, here's the plan. We'll add ASP.NET Core analyzer binaries to the WebSdk and use the `Analyzer` MSBuild itemgroup to add these analyzers to the build. Like other implicitly enabled features, we'll have a property to turn these analyzers off.

[2019-02-14 23:14] davidfowl commented on #4373
Doesn’t this mean that we need these packages in cache for offline storage? It also means we need a way to turn it off and change the version? And all of other things that come when you have implicit package references.

[2019-02-14 23:16] vovikdrg commented on #7117
@Eilon which information do you need?

Invalid token issue is still there and I've googled its not only issue for me. If you look at comment Tratcher commented Jan 31, 2019 you admit that there is an issue with token.

I do have tokens I do have encryption keys I can provide this information

[2019-02-14 23:17] mkArtakMSFT commented on #7594
Associated scaffolding changes: https://github.com/aspnet/Scaffolding/pull/949

[2019-02-14 23:18] mkArtakMSFT commented on #7593
Associated scaffolding change: https://github.com/aspnet/Scaffolding/pull/950

[2019-02-14 23:18] pranavkm commented on #4373
There aren't packages - just binaries that ship in the SDK. Psuedo code:

[code]

[2019-02-14 23:19] davidfowl commented on #4373
Ahhh clever. How do you turn them off?

[2019-02-14 23:23] pranavkm commented on #4373
We would do a flag - see updated psuedo code.

[2019-02-14 23:50] jcasale commented on #4352
The re-execute handler receives the correct url but fails to bind the parameter, so the actual integer code is lost though.

[2019-02-15 00:33] foxjazz commented on #7490
Thank you! I removed the httpsRedirect and it's working.   Thank you thank you.

[2019-02-15 00:33] #7490 closed

[2019-02-15 00:36] Eilon commented on #4352
@jcasale - can you show how you were trying to get the integer code? Were you following the example at https://docs.microsoft.com/en-us/aspnet/core/fundamentals/error-handling?view=aspnetcore-2.2#redirect-re-execute-extension-methods ?

[2019-02-15 01:14] #7594 closed

[2019-02-15 01:16] #7593 closed

[2019-02-15 01:25] #7384 closed

[2019-02-15 01:30] ajaybhargavb opened #7601 "Don't register @model and other unsupported directives for component apps"
Follow up to https://github.com/aspnet/AspNetCore/issues/7384

`@model` is currently being treated as a directive in component apps. This shouldn't be registered as a directive because component apps don't recognize it.

@rynowak

[2019-02-15 02:03] mikaelm12 commented on #6898
The failure in the close logic was fixed here 3d3ad96206fc504dba954c0c6403139e3438263e

[2019-02-15 02:03] #6898 closed

[2019-02-15 02:36] smadurange commented on #7524
@javiercn Appreciate you trying to help. Hope you enjoyed going through the code :). I had tried this earlier and still didn't work. In any case, I gave it another try like below but still did not work.

[code]
And:
[code]

I'm starting to wonder if it's because of the location where I'm setting up the options this is happening. Because any of the above attempts doesn't even make a dent in the tes

[2019-02-15 02:42] zirain commented on #6435
@sebastienros maybe it's a Chrome issue? cause I can't reproduce on Microsoft Edge

[2019-02-15 03:00] hnviradiya commented on #7348
I am using cookie auth with oidc

[2019-02-15 03:17] LiangZugeng commented on #7562
@HaoK thanks for the details. This question is closed.

[2019-02-15 03:18] tn-5 commented on #5594
Seems fixed in latest version (core 3 preview 2)

[2019-02-15 03:18] #5594 closed

[2019-02-15 05:54] rynowak commented on #7587
Why would we do anything to follow up on this ever??? TypeForwards are **free** and they work forever. If you want to remove them in 2 years we can.

[2019-02-15 05:58] rynowak commented on #7570
This sounds like a good thing to fix.

[2019-02-15 06:05] BrennanConroy opened #7602 "LongPollingTransportOnReceiveGetsCalledMultipleTimes failed"
Ran into this in a local build:
`expected: <FIRSTSECOND> but was: <SECOND>`

[2019-02-15 06:05] rynowak commented on #7526
What are the problems that need to be solved? Is it **just** the warning for scripts?

Like if you suppress the warning, is there anything blocking or wrong or bad?

OR is there a general problem where you need to be able to separate prerender-only content from dynamically-updating content?

[2019-02-15 06:09] muratg commented on #7602
I wonder why RAAS did not file it. It would be weird if it's passing in CI but failing locally. (Reverse is more common! :smile:)

[2019-02-15 06:12] BrennanConroy commented on #7602
That's flaky for you :D

[2019-02-15 06:38] jkotalik opened #7604 "API Proposal: Exposing the upgraded stream as an IDuplexPipe"
Epic https://github.com/aspnet/AspNetCore/issues/8829

Right now, the IHttpUpgradeFeature returns a Stream from UpgradeAsync: https://github.com/aspnet/AspNetCore/blob/master/src/Http/Http.Features/src/IHttpUpgradeFeature.cs#L22. This can be extended to return an IDuplexPipe.

[code]

[2019-02-15 06:40] jkotalik opened #7605 "Make ChunkedMessageBody be a facade over the Connection Pipe and remove the RequestPipe"
https://github.com/aspnet/AspNetCore/pull/7603 will keep a request pipe when doing chunked request reading. This CAN be removed, but was too large/out of scope to be in the same PR.

[2019-02-15 06:46] javiercn commented on #6669
We said we weren’t patching for this as it could break people who worked around it and has a trivial workaround.

Sent from Outlook
________________________________
From: Eilon Lipton <notifications@github.com>
Sent: Thursday, February 14, 2019 2:53:13 PM
To: aspnet/AspNetCore
Cc: Javier Calvarro Nelson; Mention
Subject: Re: [aspnet/AspNetCore] AccessDeniedPath wrong (#6669)

@javiercn<https://nam

[2019-02-15 06:50] azhmur opened #7606 "Thread starvation due to JsonInputFormatter reading request stream synchronously"
### Describe the bug
JsonInputFormater use JsonSerializer to read request stream synchronously, thus consuming many threads if many slow requests are coming in the same time. If threadpool was relatively small before that it may not expand in time resulting all thread pool threads are blocked.

JsonInputFormater has workaround with calling EnableBuffering and DrainAsync before passing stream to sy

[2019-02-15 07:20] #7482 closed

[2019-02-15 08:24] mattgenious commented on #6486
Tested it and I'm seeing the same results for both g suite and standard google accounts.

[2019-02-15 08:45] Kalimshan opened #7607 "Redirection Error by using OpenId Connect behind a reverse proxy"
Hello,

I'm using an OpenId Connect Authentication (with office365) in ASP.NET Core 2. Like this issue (https://github.com/aspnet/Security/issues/1508) on my production server, I’m using a reverse proxy.

https://myserserverintranet.domain.org/area/controler/index -->
https://myserserverinternet.domain.org/asp/area/controler/index

In my apache config of the internet server I have:

ProxyPass /asp

[2019-02-15 09:04] mattgenious commented on #6486
Found my mistake, I was not correctly persisting the claims, so at runtime I was not getting them because they were not persisted in my db. Sorry about that

[2019-02-15 09:08] #5997 closed

[2019-02-15 09:17] TheRealVira opened #7609 "Localhost is loaded, but webapplication is still unreachable."
### Describe the bug
I am using Visual Studio 2019 and developed a ASP.Net Core webapplication. However recently, I have been getting into a bug(?), where I would not be able to load my webapplication though the localhost has been loaded:

![image](https://user-images.githubusercontent.com/10862533/52846590-4b0ba880-310a-11e9-90d2-66b79b67a614.png)

### To Reproduce
Steps to reproduce the behavior

[2019-02-15 10:10] Ponant commented on #7568
@blowdart , the inconstency might be due to the following:
`services.AddDefaultIdentity<IdentityUser>(x=>x.Stores.MaxLengthForKeys=100)`
acts in `AddIdentityRole` but `x.Stores.MaxLengthForKeys=100` is only taken into account in `IdentityUserContext` https://github.com/aspnet/AspNetCore/blob/bfec2c14be1e65f7dd361a43950d4c848ad0cd35/src/Identity/EntityFrameworkCore/src/IdentityUserContext.cs#L120

[2019-02-15 10:14] JamesNK opened #7611 "MapControllerRoute doesn't return an endpoint convention builder"
@rynowak

Looking through the updated MVC endpoint startup extension methods I noticed `MapControllerRoute` doesn't return a convention builder:
https://github.com/aspnet/AspNetCore/blob/c565386a3ed135560bc2e9017aa54a950b4e35dd/src/Mvc/Mvc.Core/src/Builder/ControllerEndpointRouteBuilderExtensions.cs#L82-L88

Also `MapDefaultControllerRoute` looks like it returns a convention builder that would app

[2019-02-15 11:46] #7562 closed

[2019-02-15 12:15] PierpaoloBattaglioneSpecifi opened #7612 "Blazor events doesn't fire when used in a Boostrap popover"
I'm trying to use a [Bootstrap popover](https://getbootstrap.com/docs/4.1/components/popovers/) in a Blazor 0.8.0 app. The only way to implement it in this framework is using the content options for inserting an external div

[code]

and call it with **JSRuntime.Current.InvokeAsync** method inside the app.

The div is this

[code]

Everything works fine but the onclick event doesn't fire.

I guess

[2019-02-15 12:46] honkmother opened #7613 "Under some edge-case circumstances, SignalR will stop processing DOM Updates for all sessions in Blazor (0.7.0) under ASP.NET Core (2.1) when encountering an runtime exception."
### Describe the bug
I am using Blazor 0.7.0 and ASP.NET Core 2.1, my apologies if this has already been flagged or fixed.
Additionally I am using Kestrel by itself without an additional web-server in front of it.

When using server-side Blazor, if you stack dictionaries inline inside of a component to perform a key lookup and encounter a Dictionary KeyNotFoundException on the parent, SignalR will

[2019-02-15 12:59] WalterEbbers opened #7615 "Hostable bundle installer IIS Restart question"
Hi,

I have a question regarding the hosting bundle installer and something i read within the [**docs**](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/index?tabs=aspnetcore2x&view=aspnetcore-2.2).

Within the chapter [**Install the Hosting Bundle**](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/index?tabs=aspnetcore2x&view=aspnetcore-2.2#install-the-hosting-bu

[2019-02-15 13:20] #7579 closed

[2019-02-15 14:24] unsafecode commented on #7541
@bradygaster @davidfowl I made some changes and it works now. How can I submit a PR?

[2019-02-15 14:43] pranavkm commented on #7450
I'd recommend filing a VS feedback issue so that it can be tracked by the right folks. There isn't a Razor SDK \ runtime issue here.

I am not aware of any documentation for Microsoft.NET.Sdk which is responsible for producing the refs directory.

[2019-02-15 14:43] #7450 closed

[2019-02-15 15:00] pranavkm commented on #7457
Changing that in general is going to a breaking change with little to gain for most users. We could consider it specifically for `ProblemDetails` \ `ValidationProblemDetails` - process the keys in `ProblemDetails.Extensions` and `ValidationProblemDetails.Errors` to use the contract resolver i.e. effectively treat it as `ProcessDictionaryKeys = true`.

cc @khellang \ @rynowak for thoughts on this

[2019-02-15 15:08] hnviradiya commented on #7501
Similar issue. Just for reference.

https://github.com/aspnet/Security/issues/1173

[2019-02-15 15:14] davidfowl commented on #7541
Sure that would be great!

[2019-02-15 15:14] pranavkm commented on #6878
@douglasg14b there isn't a feature to enable this on a per endpoint basis. One option might be to remove \ ignore specific that model validation error in your action.

[2019-02-15 15:19] pranavkm commented on #7606
Thanks for your report. We're tracking the work here via https://github.com/aspnet/AspNetCore/issues/6397.

[2019-02-15 15:19] #5132 closed

[2019-02-15 15:29] krumal opened #7616 "Long-lived singleton"
When i use singleton in DI
`
services.AddSingleton<IService, Service>();
`
after some time i get dispose creating singleton
How to make the singleton available at all times during my webserver is running?

net core 2.2, iis 10
Thanks.

[2019-02-15 16:09] GoFightNguyen opened #7617 "Can an ASP.NET Core app run against the .NET Framework runtime?"
There are many enjoyable things about developing an ASP.NET Core application, this includes, but is not limited to:

- SPA support
- ease of testing
- separation of concerns
- middleware configuration
- dependency inversion/injection
- tooling

It feels like modern web app development.

I am creating a web application that will include an Angular SPA and Web API. Unfortunately, my organization wil

[2019-02-15 16:11] davidfowl commented on #7616
It'll get disposed when the entire application is torn down, not before. That's about as long lived as it gets. What exactly are you seeing?

[2019-02-15 16:16] krumal commented on #7616
I think I understand. Iis torn down my app. How to disable it?

[2019-02-15 16:17] davidfowl commented on #7617
ASP.NET Core 2.1 (the LTS aka long term support) runs on .NET Framework and will be supported forever, 2.2 also runs on .NET Framework but isn't an LTS release. ASP.NET 3.0 and onward will only ever work on .NET Core. See this post for more details https://blogs.msdn.microsoft.com/webdev/2018/10/29/a-first-look-at-changes-coming-in-asp-net-core-3-0/.

As for other specific questions:

Yes, if you

[2019-02-15 16:18] davidfowl commented on #7616
Something like this https://stackoverflow.com/questions/35993968/how-to-prevent-iis-from-shutting-down-web-site-when-not-in-use

[2019-02-15 16:22] krumal commented on #7616
Thanks!

[2019-02-15 16:26] davidfowl commented on #7609
Looks fine, it says there's a 404, you're probably just hitting the wrong route.

[2019-02-15 16:30] parekhkb commented on #5144
We were using 2.2.101 SDK and 2.2.0 runtime yesterday with no issues. I updated my machine with 2.2.104 SDK and 2.2.2 Runtime today and I am seeing this issue.

[2019-02-15 16:32] rynowak commented on #7611
This was intentionally cut from the experience. The folks I dicussed it with don't think people will do it. MVC already has two alternative ways of configuring metadata.

[2019-02-15 16:47] rynowak commented on #5111
I did a thing here already that solves this problem. `RazorProjectItem` and `RazorCodeDocument` now have a `FileKind` - so it's easy for code in the compiler to know if it's a component or legacy.

Closing this as done, holla back if you disagree.

[2019-02-15 16:47] #5111 closed

[2019-02-15 17:11] GoFightNguyen commented on #7617
Thanks @davidfowl

Please clarify what you mean by an edited meta package.

To clarify, even though the app would be targeting net471 and executing in the .NET framework runtime, the hosting bundle is still necessary? I'm trying to reconcile this idea since there isn't anything ".NET core" about the deployed app.

Can you explain or provide any resources explaining these differences?

[2019-02-15 17:12] Eilon commented on #7117
@vovikdrg it is unclear to us what the issue is with cookies, email verification, Facebook, data protection, or something else. If you could simplify some of the code to narrow it down to a particular area, it will be easier for us to investigate. We also suggest using Fiddler (or a similar tool) to trace the cookies to see if the cookie being set is different from what is expected (we didn't see

[2019-02-15 17:22] #7616 closed

[2019-02-15 17:23] Eilon commented on #7609
@TheRealVira please show your Startup.cs code and any other relevant information about routing (such as attribute routes on controllers).

[2019-02-15 17:49] DanielStout5 commented on #7253
I updated to the latest versions of all the related NPM packages (webpack 4, aspnet-webpack 3.0.0, webpack-hot-middleware 2.24.3, etc) and this issue is still present - as soon as I uncomment the InHosting model, webpack will still rebuild the changes, but they never get applied in the browser.

I'll see if I can setup a minimalistic example.

[2019-02-15 18:17] ryanbrandenburg opened #7619 "Upgrade Bootstrap dependencies"
Like we did in #7594, but for 3.0.

CC @mkArtakMSFT.

[2019-02-15 18:33] blowdart commented on #7607
First thing to check is if the ForwardedHeaders.XForwardedFor and ForwardedHeaders.XForwardedProto headers are being sent by the proxy.

However I have another question, why go the OIDC route and not the specific [app.UseAzureAD](https://github.com/Azure-Samples/active-directory-dotnet-webapp-openidconnect-aspnetcore) pieces?

[2019-02-15 18:43] glennc commented on #5417
There are a few ways a customer could do something the most likely 2 are:

1. Use multi-stage build so that actions requiring node happen in their own image, separate to the .NET compilation process. This assumes you don't need node at runtime and mostly need npm restore and trans-pile steps.
2. Create your own build possibly runtime image that adds the version of node and other tools that you nee

[2019-02-15 18:47] Urki57 opened #7621 "Debug mode very slow"
Starting VS with a simple ASP.NET project can take up to 30 seconds

[2019-02-15 18:50] danroth27 commented on #5417
@glennc Sure

[2019-02-15 18:56] JamesNK opened #7623 "signalrclienttests.exe: start_fails_for_handshake_response_with_error fails"
[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=96799

[2019-02-15 18:59] BrennanConroy commented on #7623
[code]

[2019-02-15 19:06] Eilon commented on #7621
To report issues with Visual Studio, use the [Report a Problem](https://developercommunity.visualstudio.com/) tool.

If you encounter a problem with Visual Studio, we want to know about it so that we can diagnose and fix it. By using the Report a Problem tool, you can collect detailed information about the problem, and send it to Microsoft with just a few button clicks. See [here](https://docs.mic

[2019-02-15 19:06] #7621 closed

[2019-02-15 19:31] muratg commented on #7157
Fixed in 3.0.0-preview3

[2019-02-15 19:31] #7157 closed

[2019-02-15 19:52] mikaelm12 commented on #7602
Took a look. Ran it in a loop and was able to repro this. I figured out why the test was failing but we might actually want to add product code to ensure that messages are processed in the correct.

[2019-02-15 20:00] Eilon opened #7626 "Flaky test: FunctionalTests.DotNetWatcherTests.RunsWithIterationEnvVariable"
This build: https://dev.azure.com/dnceng/public/_build/results?buildId=97423

Ubuntu 16.04 x64 leg failed:

[code]

It failed on a PR that changed only an MD file, so it clearly was not related to that.

[2019-02-15 20:23] AceHack opened #7628 "Please document Log Scopes in MVC Controllers"
I see ActionId, ActionName, ConnectionId, CorrelationId, RequestPath plus a bunch of others.

[2019-02-15 20:24] Eilon commented on #7626
Closing as dup of https://github.com/aspnet/AspNetCore-Internal/issues/1826 now that it failed on the internal CI as well.

[2019-02-15 20:24] #7626 closed

[2019-02-15 20:26] douglasg14b commented on #6878
I suppose this is a feature request then!

I can work around this for now, but it's a bit awkward.

[2019-02-15 20:32] Tratcher commented on #6817
@glennc moving to preview4 to track template upgrades for https://github.com/aspnet/AspNetCore/issues/6817#issuecomment-455328857

[2019-02-15 20:32] #5295 closed

[2019-02-15 21:11] cyberjaws commented on #6385
I ported my app to Core 3.0 Preview 2 and now see cross threading exceptions which have been addressed using the newly supplied Invoke/InvokeAsync methods in the component's base. Unfortunately I too still see this bug. I have added local try/catch blocks in various places for the time being.

[2019-02-15 21:34] mkArtakMSFT opened #7631 "Rename the ASP.NET Core Web API project to API Service"
The selected `API` project should be renamed to `API Service` in the `New ASP.NET Core Web Application` dialog:

![image](https://user-images.githubusercontent.com/34246760/52885215-5ae4b600-3125-11e9-9e35-6255e6157eb6.png)

[2019-02-15 21:37] jkotalik opened #7632 "BenchmarkDotNet projects currently broken on master"
Running any benchmark on master that uses System.Memory results in:
[code]

I think we need to get a new version of BenchmarkDotNet, but I'm not 100% sure.

cc @sebastienros

[2019-02-15 22:04] TheRealVira commented on #7609
Deleting the "dist" folder inside the "Clientapp" directory and then running "ng build" manually inside a cmd did the job for me. Is there any way to rebuild ng (clean & build) my webapplication automatically when building it from VS2019? Or even better - is there a way to make it update the webapplication while it is launched?

[2019-02-15 22:05] Tratcher commented on #7607
- Do not override OnRedirectToIdentityProvider for this scenario.
- CallbackPath should not point to a controller, it should be a unique endpoint used by the auth handler like the default "/signin-oidc".
- Call UsePathBase to trim request path prefixes like "/asp"
- Follow these troubleshooting instructions and share the output: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-lo

[2019-02-15 22:10] kucxgithub commented on #6111
Sorry but AspNetCoreModuleV2 doesn't look ready / stable enough for me. I will consider upgrading to that when it passes my tests. As for InProcess, please continue to work on it. Thanks

[2019-02-15 22:15] Eilon commented on #7609
MSBuild has ways of running things before/after targets. Here's something that I do in one of my apps:

https://github.com/Eilon/Hubbup/blob/master/src/Hubbup.Web/Hubbup.Web.csproj#L34-L37

So you could probably do something similar to run scripts in your build process.

Closing this issue because it is not a bug in ASP.NET Core.

[2019-02-15 22:15] #7609 closed

[2019-02-15 22:39] JunTaoLuo opened #7635 "Disable request body data rate limits per HTTP/2 stream"
Epic https://github.com/aspnet/AspNetCore/issues/8858

Currently we can disable the request body data rate limit for the entire server with
[code]

However, we want to be able to control this on a finer scale of per request/stream. We need this in since certain gRPC endpoints are client streaming methods which may not satisfy the request body data rate while all other endpoints of the app should s

[2019-02-15 22:46] mqudsi opened #7636 "Areas scaffolded from the command line are not included in the project"
### Describe the bug
An area scaffolded into an existing .NET Core 2.2/3.0 project from the command line with dotnet-aspnet-codegenerator 2.2.2 successfully creates the new area but it is not included in the project.

I'm also *extremely* confused on how this is a thing with the new project format. Aren't all files and folders included by default? If I manually include the newly-added area it gets

[2019-02-15 22:54] Eilon commented on #7636
@vijayrkn - is this something in your area in scaffolding?

[2019-02-15 23:10] halter73 commented on #7635
There are two options we discussed:

1. A stopgap measure where we allow disabling rate limit for specific HTTP/2 streams/requests, but not modifying the rate limit to a non-null value.

2. A more thorough rearchitecture of HTTP/2 rate limiting which tracks and limits data rates at the stream level instead of the connection level. One potential wrinkle with this idea is that the default rate limit

[2019-02-15 23:13] halter73 commented on #7541
https://github.com/aspnet/AspNetCore/blob/master/CONTRIBUTING.md#submitting-a-pull-request

@unsafecode Thanks for looking into this. The reason we just added web worker support is because an external contribute submitted PR.

[2019-02-15 23:14] #7135 closed

[2019-02-15 23:14] Tratcher commented on #7186
I found a better description of this scenario here: https://developers.facebook.com/docs/facebook-login/access-tokens/portability/
"Login on Client, API Calls from Client or Server"

This flow is no longer OAuth and it would not make sense to modify the facebook OAuth handler to implement it. It has similarities to the WsFed remotely initiated login flow. It might make sense to implement some alte

[2019-02-15 23:22] ryanbrandenburg opened #7638 "F# tests might not verify compilability"
In https://github.com/aspnet/AspNetCore/pull/7637 we found that the F# template didn't actually compile, but the tests were passing. We should poke around in there and ensure that it's working for this scenario.

[2019-02-15 23:34] mkArtakMSFT opened #7639 "Provide swagger generation options for ASP.NET Core Web API project template"
The WebAPI project should be extended to support swagger generation options with one of the supported providers

[2019-02-15 23:56] shirhatti commented on #6925
cc @JunTaoLuo

[2019-02-16 00:03] enetstudio opened #7641 "[Blazor Components] How to pass values from a Component page to its hosting layout Component and vice versa"
Does anyone know how to pass values from a Component page to its hosting layout Component and vice versa ?

Thanks...

[2019-02-16 00:05] AdamSchueller commented on #5144
@davidfowl Apologies, you are correct: the bug is 2.2.0+ only. I was seeing the behavior in our mega-app after we upgraded from ASP.NET to ASP.NET Core 2.1 (ugh). When I tried to recreate in a isolated repo, I could not -- until I added the package references from the app.

The problem was one of the (many) references was silently bumping the version of Microsoft.AspNetCore.Http.dll (where this bu

[2019-02-16 00:13] jkotalik commented on #7632
nvrm, local corruption.

[2019-02-16 00:13] #7632 closed

[2019-02-16 00:14] RobSeder opened #7642 "VS2019 Blazor templates not available"
### Describe the bug
Following the instructions from here: https://docs.microsoft.com/en-us/aspnet/core/client-side/spa/blazor/get-started?view=aspnetcore-3.0&tabs=visual-studio using Windows 10 Pro (Version 10.0.17763.316) and VS2019 (Version 16.0.0 Preview 3.0) on 64-bit. From a VS2019 Developer Command Prompt, I run:

[code]

then, start a fresh instance of VS2019 and choose New ASP.NET Core We

[2019-02-16 00:21] Tratcher opened #7644 "[Announcement] AllowSynchronousIO disabled in all servers"
AllowSynchronousIO is a option in each server that enables or disables sync IO APIs like HttpReqeuest.Body.Read, HttpResponse.Body.Write, Stream.Flush, etc.. These APIs have long been a source of thread starvation and application hangs. Starting in 3.0.0-preview3 these are disabled by default.

Affected servers:
- Kestrel
- HttpSys
- IIS in-process
- TestServer

Expect errors similar to:
- `Synchr

[2019-02-16 00:23] RobSeder opened #7645 "Blazor CLI app doesn't run."
### Describe the bug
Following the CLI instructions from here: https://docs.microsoft.com/en-us/aspnet/core/client-side/spa/blazor/get-started?view=aspnetcore-3.0&tabs=netcore-cli using Windows 10 Pro (Version 10.0.17763.316) and VS2019 (Version 16.0.0 Preview 3.0) on 64-bit. From a VS2019 Developer Command Prompt, I run:

[code]

I get the following error only, and nothing else happens aftewards:

[2019-02-16 00:25] Tratcher commented on #4774
https://github.com/aspnet/AspNetCore/issues/7644

[2019-02-16 00:25] #4774 closed

[2019-02-16 00:26] Tratcher commented on #5874
https://github.com/aspnet/AspNetCore/issues/7644

[2019-02-16 00:26] #5874 closed

[2019-02-16 00:27] Tratcher commented on #6397
The sync IO change has been merged with a few local opt-outs for things like the XML serilaizer. These should still be addressed.

[2019-02-16 00:32] RobSeder commented on #7645
Update: I found this https://github.com/aspnet/Docs/issues/10915#issuecomment-463080794 for some magical reason, if you create a console app in another directory, and then come back to the Blazor project.

Strange workaround, but it does WORK.

[2019-02-16 00:51] pranavkm opened #7647 "[Discussion] Breaking changes to runtime compilation for Razor views and Razor Pages"
As a consequence of cleaning up the ASP.NET Core shared framework to not depend on Roslyn, support for runtime compilation of Razor views and Razor Pages is being moved to a separate package.
Applications that require runtime compilation or re-compilation of Razor files should

* Add a reference to the `Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation` package
* Update the application's `Configur

[2019-02-16 01:02] parekhkb commented on #5144
We are currently using 2.2.101 SDK with 2.2.0 runtime. I updated my machine to be 2.2.104 SDK and 2.2.2 Runtime. Things seem to work find when I run my web service and hit it locally, however when I run Integration tests, which set up a TestServer, I run into this failure.

[2019-02-16 01:18] muratg commented on #5144
@parekhkb are you sure you're running 2.2.2 in your test setup?

[2019-02-16 01:21] michaeldz opened #7648 "Extract property AutoSaveChanges into new interface"
### Problem
I need to execute multiply actions related with UserStore into scope of one transaction. Easiest way to do it:
[code]

So I need to use AutoSaveChanges in my service/code. But user store is injected into my code thru DE as `IUserStore<MyUser>`.

AutoSaveChanges is defined into base generic class `UserStore<TUser, TRole, TContext, TKey, TUserClaim, TUserRole, TUserLogin, TUserToken, TRo

[2019-02-16 01:58] mqudsi commented on #7647
(This definitely needs to be in the migration docs for the 3.0 jump.)

Any word on the package will be available via nuget?

[2019-02-16 02:07] ajaybhargavb commented on #7147
Dup of https://github.com/aspnet/AspNetCore/issues/6185

[2019-02-16 02:07] #7147 closed

[2019-02-16 02:26] #6153 closed

[2019-02-16 03:37] HaoK commented on #7398
Reenabled via https://github.com/aspnet/AspNetCore/pull/7543

[2019-02-16 03:37] #7398 closed

[2019-02-16 03:41] johnfg10 opened #7649 "System.InvalidOperationException: Could not find 'UserSecretsIdAttribute' on assembly 'Microsoft.Extensions.DependencyInjection.Abstractions'."
### Describe the bug
When the container launches it throws this exception:
[code]

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.2.0'
2. Run this code https://github.com/johnfg10/OrdoStore

### Expected behavior
I expect the application to run without error

### Additional context
as you will see in the above code the app isnt even using "usersecrets" s

[2019-02-16 04:14] JamesNK opened #7650 "Build failure related to signalrclienttests.vcxproj"
https://dev.azure.com/dnceng/public/_build/results?buildId=97437

[code]

[2019-02-16 05:03] Eilon commented on #7649
This issue is... weird!

Starting this out in `area-hosting` because it might be caused by the default app builder doing something weird.

[2019-02-16 05:38] #7321 closed

[2019-02-16 06:41] highfield commented on #7229
Great! will wait for the other blocking issue, then.

[2019-02-16 07:42] hnviradiya commented on #7501
@Tratcher setting state property is not helping (previously it was null). it is still saying state not found.
[code]

[2019-02-16 07:46] cristipufu opened #7652 "AspNetCore 3.0 Integration Tests on Appveyor (VS 2019)"
My **aspnet core 3.0** integration tests are failing on Appveyor (Visual Studio 2019 Preview), although on my local machine everything works as expected:

[code]

The tests are following the examples I found here: https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-2.2

- Code: https://github.com/stefanprodan/AspNetCoreRateLimit/pull/62
- Appveyor: https://ci.appvey

[2019-02-16 07:53] hnviradiya commented on #7501
Never mind. following state led me one step ahead. but got another error. but now this error has been resolved.

redirectContext.ProtocolMessage.State = options.StateDataFormat.Protect(redirectContext.Properties);

[2019-02-16 08:04] davidfowl commented on #7652
It's not an appveyor bug it's a breaking change that's been fixed in the latest builds of ASP.NET Core 3.0, see https://github.com/aspnet/AspNetCore/issues/7220

[2019-02-16 08:05] davidfowl commented on #7649
Yes this is a super weird bug.

[2019-02-16 08:52] davidfowl commented on #6567
I'll do this in preview4

[2019-02-16 08:57] John0King opened #7653 "InputTagHelper use the value from QueryString instead from Model"
### Describe the bug
When a QueryString use ModelBinding then  the `InputTagHelper` will not use the value from Model .
The issue caused by the `ModelState` , ModelBinding add a `AttemptedValue` to the `ModelState`

### To Reproduce
//// url: GET   /testpage?A=666
[code]
[code]

### Expected behavior
input's value is 11  but the actual value is 666

### To avoid this
`AttemptedValue` should only s

[2019-02-16 09:34] hnviradiya opened #7654 "KeyNotFoundException: The given key 'OpenIdConnect.Code.RedirectUri' was not present in the dictionary."
### Describe the bug
When Hybrid Flow Authentication & Single Page Application combines. This error occurs. It redirects to identityserver & on callback this error is generated. Error is not on identityserver but on client project.

### To Reproduce
Steps to reproduce the behavior:

1. Using this version of ASP.NET Core 2.2
2. Run following 2 projects
   https://github.com/hnviradiya/asp-net-core-

[2019-02-16 10:09] cristipufu commented on #7652
Thanks

[2019-02-16 10:09] #7652 closed

[2019-02-16 10:15] khellang commented on #7457
This has been annoying me for years (there's quite a few issues on it as well), so if we could solve this through `ProblemDetails`, it would be awesome 👍

[2019-02-16 11:23] cores-system opened #7655 "Razor Components (Blazor 0.8) - "double/float/decimal" error parse"
### Describe the bug
If i use `type="number"` parameter I cannot use `double / float / decimal` in `bind`.

### To Reproduce
[code]

When I enter `4.1` or` 4,1` into input, I get an error message.

[code]

### Additional context
https://github.com/aspnet/AspNetCore/blob/master/src/Components/Components/src/BindMethods.cs#L155

[code]

[2019-02-16 12:31] saeed-serpooshan opened #7656 "asp-page anchor tag helper does not create the link without ".../Index" trailing for default pages inside sub folders"
In asp.net core Razor Pages, the `asp-page` anchor tag helper does not create the 'href' if we don't include the ".../Index" for default (index) pages inside sub folders.

For example, consider we want to provide a link to index page inside the Movies sub folder (So, we have a Pages/Movies folder containing several razor pages like as Index.cshtml, Creat.cshtml, Edit.cshtml).

None of following co

[2019-02-16 13:42] pranavkm commented on #7647
@mqudsi  It'll be available as part of the preview3 release.

[2019-02-16 15:03] davidfowl commented on #5366
Fixed by https://github.com/aspnet/AspNetCore/pull/7608

[2019-02-16 15:03] #5366 closed

[2019-02-16 15:04] davidfowl commented on #4498
Moving this to preview4

[2019-02-16 15:05] davidfowl commented on #6192
Moving to preview4

[2019-02-16 15:05] davidfowl commented on #6596
Moving to preview4

[2019-02-16 17:11] Lupusa87 commented on #6991
Where can I track progress for preview 4?

[2019-02-16 17:26] Rick-Anderson commented on #7576
@rynowak

[2019-02-16 17:28] Andrzej-W commented on #7642
This command
[code]
is required if you want to use Blazor templates from command line.
To see Blazor templates in VS you have to install Blazor Language Services. This is step number 1 in the doc: https://docs.microsoft.com/en-us/aspnet/core/client-side/spa/blazor/get-started?view=aspnetcore-3.0&tabs=visual-studio

[2019-02-16 17:44] parekhkb commented on #5144
@muratg Yes, the tests are running locally as well. I tried in CI as well and when I upgrade CI to 2.2.2 it fails there as well.

[2019-02-16 17:52] Lupusa87 commented on #7571
You have two options:
1. Have static c# class with JSinvokable method and invoke it from js event, c# side your static class can have public action/event which will be invoked from jsinvokable method, than subscribe for it whenever you need;
usage example [here](https://github.com/Lupusa87/BlazorWindowHelper/blob/master/content/BWHJsInterop.js#L8) and [here](https://github.com/Lupusa87/BlazorWindo

[2019-02-16 17:53] Andrzej-W commented on #7641
Create a class which holds your data. Register it as singleton service. Inject it into layout and into page. You should probably add a notification mechanism to inform all your components that something was changed in your data class. You can look here:

https://github.com/aspnet/samples/tree/master/samples/aspnetcore/blazor/FlightFinder

A few interesting places:

https://github.com/aspnet/sample

[2019-02-16 17:55] davidfowl commented on #5144
@parekhkb Can you provide a minimal repro of the problem?

[2019-02-16 18:02] RobSeder commented on #7642
@Andrzej-W Thanks! I didn't catch that. I agree, after installing the extension the VS2019 side works as described.

Also though, that command:

[code]

That seems to do something, but also returns the "usage" help screen as if an incorrect variable was passed. FYI

[code]

[2019-02-16 18:09] Andrzej-W commented on #7655
Probably you have a system with decimal separator set to comma. Parse without culture uses current culture. They should use InvariantCulture. It looks that similar bug was introduced in new forms components:
https://github.com/aspnet/AspNetCore/pull/7614#pullrequestreview-204526483

[2019-02-16 18:24] enetstudio commented on #7641
Great... Many thanks...

[2019-02-16 20:14] Andrzej-W commented on #7641
@enetstudio One important note. I'm using Blazor on the client (WebAssembly). Here singleton service is OK. Flight Finder was initially created as WebAssembly application and recently ported to Razor Components. In Razor Components you should probable use `scoped` service. Otherwise you will be sharing state between all users and it is probably not what you want.

[2019-02-16 21:49] Tratcher commented on #5144
@parekhkb please open a new issue with the details for your scenario.

[2019-02-16 22:12] parekhkb commented on #5144
@Tratcher once I get an isolated Repo I will. Thanks

[2019-02-16 22:21] Ponant commented on #5749
@HaoK , To recall the story, `NotAllowed` is used only once in `PreSignInCheck` and his friend `IsNotAllowed` is never used in the templates. Typically the latter appears at the end of if statements on the `else {...}` clause in the templates. So I would personally just drop `NotAllowed` and `IsNotAllowed` and flag them as obsolete. To me `SignInResult` should have properties as distinct as possib

[2019-02-16 22:39] enetstudio commented on #7641
I got it. thanks a lot for your help...

[2019-02-16 23:14] TheFanatr opened #7660 "File Upload Via Byte Array Transfer"
### Describe the bug
I am currently trying to get file uploading functionality working via using the JavaScript `FileReader` to generate an `ArrayBuffer` from a file, and then converting the data to a `Uint8Array` and sending it back up to Razor Components on the server. For some reason, the awaited call never finishes. The C# equivalent of `Uint8Array` is `byte[]`, which is what I used as the typ

[2019-02-16 23:17] daikoz opened #7661 "Link Header CSS Performance"
### Is your feature request related to a problem? Please describe.
CSS is define in csthml like this:
`   <link rel="stylesheet" href="~/mystylesheet.min.css" asp-append-version="true" />`

### Performance issue:
Browser must start read html code and link element to begin to request the stylesheet.

### Solution:
Use Link header:
`            Response.Headers.Add("Link", "</mystylesheet.min.css>;

[2019-02-16 23:48] mqudsi opened #7662 "SelectListItem interface"
The ergonomics of the `asp-items` for generating `<select>`/`<option>` tags are currently very rough, it's required to pass in a `IEnumerable<SelectListItem>` for it to be used.

I would like to suggest the introduction of a `ISelectListItem` or similar interface combined with making `asp-items` expect a `IEnumerable<ISelectListItem>` so that a class/model may directly implement the interface and

[2019-02-16 23:49] mqudsi commented on #7647
Thanks, @pranavkm. Looking forward to it.

[2019-02-17 00:54] Eilon commented on #7649
Tagging @natemcmaster in case he has thoughts about how this could happen.

[2019-02-17 01:16] ElectricHavoc commented on #5464
_**TLDR; +1 for 98% C# SPA that does full render on any path from refresh.**_

Non-interactive is not support (imo) it confuses people and probably should have been baked more. I've also been searching for a sample to get this working, to no avail.

I hope this applies to not only components, but mini applications:
[code]

Or perhaps better syntax for this usage:
[code]
Which would still handle so

[2019-02-17 01:38] Tratcher commented on #7654
This is again caused by your customizations.
https://github.com/hnviradiya/asp-net-core-vue-starter/blob/b8446d7ad130719874cea86f8c01b7877619f233/Startup.cs#L79-L89

https://github.com/aspnet/AspNetCore/blob/799b91a324b531e1a91512ec3f77f783f61c3a82/src/Security/Authentication/OpenIdConnect/src/OpenIdConnectHandler.cs#L415

https://github.com/aspnet/AspNetCore/blob/799b91a324b531e1a91512ec3f77f783f

[2019-02-17 01:45] mqudsi opened #7663 "Support asp-items for datalist element"
The [`<datalist>` element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/datalist) can be used to create a HTML-only "type-to-select" drop-down list (aka combobox with input enabled).

The elements with the `<datalist>` tag are of type `<option>`, just like those that would be in a `<select>` list, which is supported by the `asp-items` Razor tag helper.

e.g. it would be great to be ab

[2019-02-17 02:23] Lupusa87 commented on #5649
I am not sure this will be workaround for this case, but you can try.

Please follow timer2 in [code](https://github.com/Lupusa87/BlazorPerformanceChart/blob/master/BlazorPerformanceChart/Pages/PerformanceChartPage_Logic.cs#L23)

Idea here is to delay some method call.

In my case I used this trick because calling my method inside OnAfterRender was doing nothing, but from timer callback it is work

[2019-02-17 03:09] #5900 closed

[2019-02-17 05:40] #7654 closed

[2019-02-17 06:44] #7641 closed

[2019-02-17 07:49] kieronlanning commented on #7644
As-per https://github.com/aspnet/Docs/issues/10983, will this be back ported to 2.x?

Currently setting this to false in 2.2 breaks response compression.

[2019-02-17 07:56] davidfowl opened #7665 "Exceptions encountered when running Razor Components application"
I encountered these errors while trying to debug a Razor Components applications (the benchmarks UI by @sebastienros). The first exception was an ArgumentOutOfRangeException while trying to build the render tree. It looks like it was swallowed.

[code]

This second exception ended up crashing the process (likely an async void somewhere 😉 )

[code]

cc @SteveSandersonMS @rynowak @javiercn

[2019-02-17 08:05] davidfowl commented on #7644
No, it won't be back ported. It's a massive breaking change.

[2019-02-17 09:19] roboriaan opened #7666 "Razor components. Handling long operations."
On razor components I have a question regarding operations that takes long. For example waiting for a big database operation to complete.

With the blazor hosted project it is quite simple to show a loading indicator while waiting for a response from the web api but with razor components the browser seems locked up until the response comes back.

Are there any ways to handle a scenario like this?

[2019-02-17 13:18] JulienM28 opened #7667 "ProjectManagement.Front.blazor.config missing"
I juste updated ton .net core 3.0 preview 2 et blazor 0.8 preview.

I followed the update process.

Everything was fine until I launched the application and got an exception:

System.IO.FileNotFoundException
  HResult=0x80070002
  Message=Could not find file 'C:\Team Foundation\ProjectManagement\ProjectManagement\bin\Debug\netcoreapp3.0\ProjectManagement.Front.blazor.config'.
  Source=System.Priva

[2019-02-17 15:18] guardrex opened #7670 "Microsoft and the Web"
Moved from https://github.com/aspnet/Docs/issues/10977

**Original post by @brice-prunier-dev** ...

Microsoft has been a major player in the world of development for a long time now.

However if It has a pioneer in language with .NET & Typescript and desktop App it has surprisingly be inconsistent on WebClient development.

First it started by being innovative with ASPNET Forms (I’m talking of 1.

[2019-02-17 15:44] Tratcher commented on #7644
Note response compression was fixed in 3.0 using the new DisposeAsync API.

[2019-02-17 15:58] #6797 closed

[2019-02-17 15:59] SteveSandersonMS commented on #7665
Do you have repro steps?

[2019-02-17 16:19] davidfowl commented on #7665
Nope, couldn't narrow it down. The application is here https://github.com/aspnet/Benchmarks/tree/master/src/Benchmarks.UI.Server. I might try to update to a newer version of razor components to see if that helps.

[2019-02-17 16:27] SteveSandersonMS commented on #7665
Ah, it was 0.7.0. There was a bad thread safety bug with rendering reported by a lot of people. It manifested in various ways, because it allowed corruption of some internal data structures.

We eliminated the bad asynchrony in 0.8.0 (or Preview 2 for Razor Components) and it went away as expected.

If you still experience it with > 0.7.0, please let us know!

[2019-02-17 16:38] davidfowl commented on #7665
@SteveSandersonMS I'll try moving the app to razor components.

[2019-02-17 18:42] unsafecode commented on #7541
PR submitted at #7672

[2019-02-17 19:42] Andrzej-W commented on #7670
For those interested why we need C# and not JavaScript for web development:
https://github.com/aspnet/Blazor/issues/901#issuecomment-393351887

This is not what programmers like me want. We create big, complicated systems and we have to support them for years. We don't want to rewrite our software every day.

With Razor we have two different development models without a clear understanding of the

[2019-02-17 20:07] ctolkien commented on #7647
Is this only for `env == "Production"` scenarios? I assume this doesn't change the development loop (whereby Razor files are recompiled on the fly?)

[2019-02-17 20:09] mqudsi commented on #7647
No, this applies everywhere (both in my understanding and from what I'm seeing in the latest preview).

[2019-02-17 21:06] msschl commented on #6840
I actually don't know. How can I verify it?

[2019-02-17 21:07] msschl commented on #6799
Any news on this 😅

[2019-02-17 21:21] msimpsonnz opened #7673 "Blazor standalone StateHasChanged not updating page"
### Describe the bug
Using `blazor` template, I am rendering a list from Azure Function that returns a JSON array
Calling StateHasChanged() fails to render an updated list
I have tried doing this manually via a button click but still the page does not update
I have to navigate away and back to the page for data to be refreshed

### To Reproduce
I've have created a fresh Blazor standalone app using

[2019-02-17 22:05] Andrzej-W commented on #7673
I don't see your whole code but take into account that each component has its own `StateHasChanged()` method. Do you render the list in the same component? If not you have to call `StateHasChanged()` on behalf of this component. Here you can read how to get reference to this component:
https://docs.microsoft.com/en-us/aspnet/core/razor-components/components?view=aspnetcore-3.0#capture-references-t

[2019-02-17 22:29] davidfowl commented on #7541
@unsafecode While the PR is good and we're likely going to merge it because fetch support is awesome (we punted it here https://github.com/aspnet/SignalR/issues/1240) but I don't understand the use case for signalr inside of a service worker? How do you plan to use it?

[2019-02-17 22:33] Andrzej-W commented on #7673
You are reading data only in `OnInitAsync()`. Change your `RefreshData()` function to something like this
[code]

[2019-02-17 23:42] msimpsonnz commented on #7673
Awesome thanks, that sorted it!

[2019-02-17 23:42] #7673 closed

[2019-02-17 23:52] brice-prunier-dev commented on #7670
@Andrzej Włoszczyńsk I do agree on most of your remark and as you, I’ve been on mission critical apps but don’t miss understand what i said :
At a time where javascript is becoming one of the biggest ecosystem with new module every day ...
Doesn’t mean you have to change your third party tool every month but rather that the JavaScript ecosystem is huge and can be a big help for your project. Razor

[2019-02-18 01:26] manigandham commented on #7670
@brice-prunier-dev

@brice-prunier-dev

It's true that the messaging has been somewhat unclear during the experimental phase but I'll try to clear it up:

The big new feature is **Razor Components**. They are a new way to create views using "components" that can be nested, similar to what we have with React. This is all C# code and assemblies.

Blazor is just a way to run .NET code on the client u

[2019-02-18 01:47] rynowak commented on #7666
Can you share your code for the database update part? Make sure you're not using `Task.Result`/`Task.Wait()` or other blocking APIs.

[2019-02-18 01:55] rynowak commented on #7656
This is by design. The argument to `asp-page` is a **page name** not a URL Path.

[2019-02-18 04:33] TheFanatr commented on #7660
Just to update, if the `temporaryFileReader` is used to extract the data URL-encoded, as Text, or as a binary string, it works perfectly, as long as `InovkeAsync` is called with `string` as the type parameter.

[2019-02-18 06:16] shram2k commented on #7367
Any update?

[2019-02-18 06:44] IanKemp commented on #1978
Ping... any movement on this?

[2019-02-18 07:12] wicked-sick opened #7676 "Adding .npmproj files to a solution"
Can you share some light around custom project types like `.npmproj`, e.g.:

https://github.com/aspnet/AspNetCore/blob/master/src/Components/Browser.JS/src/Microsoft.AspNetCore.Components.Browser.JS.npmproj

and how they can be referenced as a dependency in Visual Studio solution? I am trying to attach all the source code dependencies of Blazor to the solution of a sample project in order to debug

[2019-02-18 07:23] McHeff commented on #5548
So this has just happened to me as well...

Very strange, I have two pages, Users, and EditUser...

On my editUser page, that's where it's complaining about "The following routes are ambiguous" error...

What's interesting though is this only happened when I put

`  <input type="text" bind="@searchValues" />`

without the binding like this it works fine...

`  <input type="text"  />`

Basically, w

[2019-02-18 07:44] nuteman1 commented on #7308
Hi zackiliu,

Yes, I restarted several times - same problem.

**_Newsfalsh_**
When I run the client from home, it succeeds.
When I run it at work it fails with the error above.
Now, there is a proxy/firewall at work.
Our IT guy opened it up and then it started working. His words: "Our proxy was doing it’s thing (replacing certificates for the site) and apparently this service couldn’t handle it.
I

[2019-02-18 08:33] peter-bannerflow opened #7677 "Support model validation attributes in JsonPatch"
When using JsonPatch, model validation attributes that are added to the class used as type parameter for JsonPatchDocument are not picked up when calling the ApplyTo-method.

It would be nice if the call to ApplyTo-method would also check against validation attributes added to the properties for which the PATCH operations are applied.

[2019-02-18 09:56] jokinj opened #7678 "AspNetCoreModule 502.5 error and 0x80070005 event viewer log"
We are trying to deploy our application to IIS using Azure Devops.

Once the deploy finishes ok, we get the 502.5 error.

Taking a look at the event viewer we get the next error (renaming our application name, sorry...):

Application 'MACHINE/WEBROOT/APPHOST/DEFAULT WEB SITE/XXX.WEBAPI' with physical root 'C:\WebRep\XXX.WebApi\' created process with commandline 'C:\WebRep\XXX.WebApi\XXX.WebApi.exe

[2019-02-18 10:05] SteveSandersonMS commented on #5471
When doing this, be sure to check cases around Data Annotations validation and the built-in parsing validators in the `Input*` components to be sure they localize conveniently.

[2019-02-18 10:05] FlorianGrimm opened #7679 "move Microsoft.AspNetCore.Mvc.ProblemDetails to an ....Abstract Assembly"
I'm using nswag to generate C# Client code and i had to include all the Microsoft.AspNetCore.Mvc stuff with all its dependencies. One Client is a PowerShell module.

### not so nice Solution
I copied the source code of https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.Core/src/ProblemDetails.cs and change the namespace.

### Describe alternatives you've considered
If ProblemDetails live

[2019-02-18 10:21] SteveSandersonMS opened #7680 "Async validation enhancements"
Follows on from #7614

Design ideas:

     * - Add method: editContext.AddValidationTask(FieldIdentifier f, Task t)
     *   It adds the task to a HashSet<Task> on both the FieldState and the EditContext,
     *   so we can easily get all the tasks for a given field and across the whole EditContext
     *   Also it awaits the task completion, and then regardless of outcome (success/fail/cancel),

[2019-02-18 11:03] vicancy commented on #7308
Is it still the case? Does fallback to earlier lib work with Azure SignalR?

Is the “on premise” service inside your firewall? Can your client work with the “on premise” service when the service is deployed to Azure webapp?

BTW, Azure SignalR only supports Tls12, not sure if that’s related though.

[2019-02-18 11:38] FlorianRainer commented on #7367
We have managed to avoid this Problem by optimizing the http response time.

The main reason for the problem (i n my case) was a quite long request queue in IIS, ans some long running requests ~30sec.

If the IIS Worker triggered the recycle the process will try to conclude all requests in queue, if this will not be able until the IIS recycle timeout value is reached the process will get in this s

[2019-02-18 11:39] wicked-sick commented on #6828
@SteveSandersonMS What is the recommended way for injecting `IJSRuntime` if the component does not have a .cshtml file, e.g. when it relies on dynamic content  by overriding `BuildRenderTree` and thus cannot use the `@inject` helper?

[2019-02-18 11:56] javiercn commented on #6828
@wicked-sick You can just put `[Inject] IJSRuntime JSRuntime { get; set; }` and that should do it.

[2019-02-18 11:57] nuteman1 commented on #7308
Earlier libraries no longer work with azure signalr service resource (because of the port change I mentioned in the first post - see https://github.com/Azure/azure-signalr/issues/123, last post in that thread). So going back to earlier libraries is not an option.
Our "on premise" machine is not behind the proxy/firewall (which may explain why it worked? - even though the client WAS behind a firewa

[2019-02-18 12:00] johnfg10 commented on #7649
Interestingly ive been experimenting with another project and it seems to work perfectly https://gist.github.com/johnfg10/6f0506299de5476a6bc38a0817da3814
It is also using the same layout as the example provided(except different names and dependencys)

[2019-02-18 12:10] unsafecode commented on #7541
@davidfowl We're build an enterprise-wide PWA that:
1) Uses Saga-based distributed transactions on microservices-oriented application, so we needed a way to notify the client when operations actually complete
2) We wanted to re-use the same approach to send "push notification" without WebPush. And SignalR in SW enables to trigger Notifications.

[2019-02-18 12:17] wicked-sick opened #7682 "CascadingValue attribute"
Can the `CascadingValue` Blazor snippet used in `.cshtml` files:
[code]
be available in `.cs` files like an attribute:
[code]
The idea is to reduce the boilerplate code and inject the "ChildContent" prop in the class. Using more than one cascading value can be done in the cshtml file, so this is just about a "default export" of the component to its child components.

[2019-02-18 13:07] saeed-serpooshan commented on #7656
@rynowak Thanks for reply, but why its not documented well (and many new docs from Microsoft is not well explanation as we saw 15 years ago!). Please see these references: [Anchor Tag Helper ](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/built-in/anchor-tag-helper?view=aspnetcore-2.2#asp-page) and [AnchorTagHelper.Page](https://docs.microsoft.com/en-us/dotnet/api/microsoft.as

[2019-02-18 13:32] brainoverflow98 opened #7684 "Kestrel not responding to HTTPS protcol with SSL"
I used the below configuration in my appsettings.json for using SSL with Kestrel when I start the application from command line it works great with HTTP however I get ERR_CONNECTION_CLOSED with HTTPS even though Kestrel successfully starts and listens on port 443 with given certificate file. What are your suggestions ?

[code]

_Originally posted by @Tratcher in https://github.com/aspnet/KestrelHt

[2019-02-18 13:58] alexdresko commented on #6664
We've found that re-installing the .NET Core 2.2 runtime+hosting bundle fixes the problem, even though we only need the 2.1 runtime-hosting bundle.

[2019-02-18 14:11] MagicAndre1981 commented on #7385
I've created a .net core 2.2 console app and here it works as expected with the same code. I'll create a new Xamarin.Forms app and try to repro it here again.

[2019-02-18 14:30] brainoverflow98 commented on #7684
As it turns out it doesn't support certificates with "crt" format. I converted my certificate to "pfx" with a password and it's all working now. However I think it has lower performance compared to Nginx web server.

[2019-02-18 14:49] salaros commented on #5486
As a temporary workaround you could drop this [Directory.Build.targets](https://salaros.com/assets/posts/blazor-cannot-identify-bin-folder/Directory.Build.targets) into your Blazor app's solution folder and auto-magically `Release` folder will be removed in `Debug` configuration and vice-versa.

[2019-02-18 15:36] davidfowl commented on #7679
Copying the code seems fine. I's 57 lines of code and most of them are comments. I'm not sure it makes sense to make another assembly just to put this type in it.

[2019-02-18 15:41] davidfowl commented on #7649
I can't reproduce the issue with your repository. Do you have more specific repro steps? How did you run the application? (Kestrel or IIS), Was it from the command line or Visual Studio?

[2019-02-18 15:59] sven5 opened #7685 "[Question] Problem with EF Core migrations with IHostBuilder"
Hi,

I came across an issue regarding the change from WebHostBuilder to HostBuilder in 3.0 Prev2.
We're using EF Core migrations.
With the new `HostBuilder` the cmdlet `Add-Migration` fails with complaining about either a missing parameterless constructor or `IDesignTimeDbContextFactory` (design-time DbContext creation).

This was not necessary when using a WebHostBuilder in 2.1 It seems that the

[2019-02-18 16:03] javiercn opened #7686 "[Templating]React template contains unnecessary files"
https://github.com/aspnet/AspNetCore/tree/master/src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp/ClientApp/src/store

This seems to have been caused by a recent merge from a customer PR

[2019-02-18 16:03] javiercn commented on #7686
@mkArtakMSFT

[2019-02-18 16:12] davidfowl commented on #7541
Can you describe how SignalR fits in? Doesn't the service worker die on idle? Isn't the point to avoid a long running connection in the first place? Service Workers are about intermittent connectivity while SignalR/WebSockets are about long running connections. Here's a quote from one of the many blog posts on this topic:

[2019-02-18 16:19] geirsagberg opened #7687 "[Security] Wrong authentication scheme is called after calling method with AllowAnonymous"
### Describe the bug
I have two authentication schemes: JwtBearer and ApiKey (a custom scheme that looks for a single ApiKey authorization header).
I have one controller with two methods: One with `[Authorize(AuthenticationScheme = "ApiKey"]`, another with `[AllowAnonymous]`.
If I call the anonymous method once, all subsequent calls to the ApiKey method fails with a 401, seemingly challenging with

[2019-02-18 16:51] LittleColin opened #7688 "MemoryCache does not throw error if AbsoluteExpiry set but gets overridden by calling upstream component with a shorter cache timeout"
### Describe the bug
If method A caches a result for say, an hour, but calls an upstream component that may even use an entirely different MemoryCache instance but caches for 5 minutes - method A's result will be cached for 5 minutes too.

### To Reproduce
Steps to reproduce the behavior:
1. Using version 2.1 of aspnetcore and the MemoryCache extension
2. Use the following code in the ValuesContro

[2019-02-18 18:18] ulrichb opened #7689 "IdentityResult.Failed results should not be ignored in SignInManager"
### Describe the bug
Parts of `SignInManager` ignore failed `IdentityResult`s results of `UpdateUserAsync()` (do not check for `result.Succeeded`).

One example: [`AccessFailedAsync()`](https://github.com/aspnet/AspNetCore/blob/3e47fa7c693447f7ad6c0ef7620ee81c12b730f5/src/Identity/Extensions.Core/src/UserManager.cs#L2020) returns the result of `UpdateUserAsync()`, but [`CheckPasswordSignInAsync()`

[2019-02-18 18:41] DAllanCarr commented on #7687
Need to be careful that default policy does not overrding your controller behaviour. Also by removing default scheme in the call to `AddAuthentication` will mean calls to will not fallback.

[2019-02-18 18:59] mrmowji commented on #6111
@Scriptworks I'm new to ASP.Net Core. I tried changing `AspNetCoreModuleV2` to `AspNetCoreModule` and it works, but unfortunately the `web.config` file will be replaced with the released/published version every time I republish the app and I must change that property manually.
@kucxgithub 's way seems more stable.

[2019-02-18 20:38] johnfg10 commented on #7649
Its being run through Rider(Jetbrains IDE) i have now retired on the original project and its stopped happening, not sure of the cause, i will close this issue and if it occurs again i will reopen the issue. Thanks for your assistance

[2019-02-18 20:38] #7649 closed

[2019-02-18 21:28] xtmq opened #7690 "There is no TargetFrameworkOverride parameter in project templates anymore"
In 3.0.3.0.0-preview [19075-0444]
And there is no possibility to customize target framework. For example to use 2.1 instead of 3.0.

Was it intended? Is so, why?

[2019-02-18 21:28] peterhuene opened #7691 "dotnet run --urls cannot work with dotnet framework apps"
_From @WeihanLi on February 18, 2019 5:38_

It works with dotnet core apps, not work only with net framework apps.

## Steps to reproduce

1. install dotnet sdk
2. run `dotnet new mvc` in powershell or command line
3. modify the project file, update `TargetFramework` to `net471`, remove the `launchSettings.json` file in Properties and fix build errors
4. run `dotnet run --urls "http://*:8080"`

##

[2019-02-18 21:28] peterhuene commented on #7691
Hi @WeihanLi,

Thank you for reporting this.  The `urls` option is being respected as a configuration setting from ASP.NET Core and is not a supported option for `dotnet run`; the option is actually being forwarded from `dotnet run` to the web application.

As such, I'm going to move this issue to the ASP.NET Core repo.  Thank you.

[2019-02-18 22:21] khellang commented on #7679
Although I agree it's easy to just write/copy the code, I'd also like to see this outside (on a lower level than) MVC.

Just adding my vote 👍

[2019-02-18 22:21] rmatear opened #7693 "Table order does not reflect order of the bound list"
The list is used in a Razor foreach statement to generate a table. The button should reverse the order of the list each time it is pressed; however, the table does not reorder on the first click event. On subsequent click events the table does reorder but the order drawn is the previously expected order i.e the order that should have been drawn on the previous click event.

[code]

The server side

[2019-02-18 22:27] danroth27 opened #7694 "<NavLink class="nav-link"> without href="""
_From @UrielMhezzek on Sunday, 17 February 2019 19:28:27_

If you use NavLink -Component without href in Selfmade-BlazorComponent, the Selfmade-BlazorComponent is no longer loaded and you only get the following message in the console from Browser

_Copied from original issue: aspnet/Blazor#1788_

[2019-02-18 22:33] danroth27 commented on #6991
@Lupusa87 I don't believe there has been any official announcement about the timing or number of the remaining VS2019 previews, but the VS2019 launch date has been [announced](https://devblogs.microsoft.com/visualstudio/join-us-april-2nd-for-the-launch-of-visual-studio-2019/) for April 2.

[2019-02-18 22:36] sezginakman commented on #6111
@mrmowji <IsTransformWebConfigDisabled>true</IsTransformWebConfigDisabled> is it help to you?

[2019-02-18 22:50] geirsagberg commented on #7687
Why would the default policy override the behavior I specify on the action? And why only after I have called another action with AllowAnonymous?

[2019-02-18 23:00] mrmowji commented on #6111
@sezginakman If you're asking about which solution worked for me, here it is:

But if it wasn't the answer you asked about, would you please rephrase your question? Thanks.

[2019-02-18 23:15] SergeyKhutornoy opened #16980 "donet publish always publishes web.Release.config"
When you run dotnet publish command for a Microsoft.NET.Sdk.Web project targeting **net462**, the tool always publishes web.*.config files (web.debug.config and web.release.config in addition to the transformed web.config).

Project file (.csproj):
[code]
## Steps to reproduce
1. Create web.config, web.Debug.config, web.Release.config files in the project root folder.
2. Run `dotnet publish /p:Con

[2019-02-18 23:58] DAllanCarr commented on #7687
I pulled your repo and I'm not seeing this behaviour, but something could be different. Admittedly this is what I would expect looking at the code.

2.2.100

![image](https://user-images.githubusercontent.com/13968716/52981641-d15d0e80-33d8-11e9-8b8b-2c6b4ad104a1.png)

[2019-02-19 00:16] DAllanCarr commented on #7687
Just downloaded the latest sdk and there is certainly a behaviour change.

[2019-02-19 00:34] DAllanCarr commented on #7687
I think there is something with the accept headers. if I remove then from script I get the expected behaviour.

[2019-02-19 00:49] DAllanCarr commented on #7687
If I add `[Consumes("text/plain")]` on the controller action I get expected behaviour on the first request which is 401.

[2019-02-19 01:28] weweilep commented on #2454
I'm not certain if this is the right place to mention this or not, but FileExtensionContentTypeProvider currently provides to way to support files without extensions.  ASP.NET allowed mapping to "." to match them, but FileExtensionContentTypeProvider currently works with neither "" nor "." nor "filename_of_file_without_extension" though that last one would be least ideal anyway.

[2019-02-19 01:33] Tratcher commented on #2454
@weweilep that seems like a different issue. Is that covered by ServeUnknonFileTypes? https://github.com/aspnet/AspNetCore/blob/dffe9abf6b6b009e183e808459e65770c9210a52/src/Middleware/StaticFiles/src/StaticFileOptions.cs#L36-L47

[2019-02-19 01:36] weweilep commented on #2454
@Tratcher I was just editing to acknowledge that that is indeed available, but that is an overly-broad brush as it opens to more than just files with no extensions.  https://docs.microsoft.com/en-us/aspnet/core/fundamentals/static-files?view=aspnetcore-2.2 contains a pretty stern note saying it is not a recommended use.

[2019-02-19 01:45] DAllanCarr commented on #7687
Had to make this change, but I still think it is a bug of sorts.

`   services.AddMvc(options =>
            {
                var policy = new AuthorizationPolicyBuilder()
                    .AddAuthenticationSchemes("Bearer", "ApiKey")
                    .RequireAuthenticatedUser()
                    .Build();
                options.Filters.Add(new AuthorizeFilter(policy));

[2019-02-19 02:57] DAllanCarr commented on #7687
Policy example, will need to remove default scheme and use policy name in the controller actions

[code]

[2019-02-19 03:15] vicancy commented on #7308
What is the version number of your "earlier" library? If the earlier version is greater than `v1.0.0-preview1-10200`, instead of upgrading the lib, another option is to add a `;Version=1.0` suffix to the ConnectionString, which should also work.

Why I am interested in whether **“on premise” service deployed to Azure webapp** is working is that, I'd like to understand if this 401 issue is related

[2019-02-19 03:16] wugelis opened #7695 "The probleam for Model binding and Tag Helper in Naming."
### Describe the bug
When I use variable name todo in Controller Action, And parameter name of the ToDoListViewModel. It is get null for all properties.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.1.500'

2. Run this code

**My ToDoListViewModel:**

    [Serializable]
    public class ToDoListViewModel
    {
        [Key]
        public int Id { get;

[2019-02-19 03:55] timgabrhel opened #7696 "Auth cookies not sticking with Desktop versions of Safari"
I have a small handful of users that are unable to log on to our site while using their macOS & Safari browser. These users have confirmed they can authenticate just fine with another browser, or their phones (typically iPhone). This is a preview release of our new version of our product so I have very limited reach to these users in terms of technical troubleshooting. I am hesitant to release thi

[2019-02-19 05:01] dev8546 commented on #3793
I have used below power shell script and it is crashed the IIS and even affected the other application pool and I have to restart the machine to get everything back... this process I have got it from the official document and it was disaster , so my advice is DO NOT USE THE app_offline.htm better to use the script which stops the app pool and start it again, one I found in this thread https://gith

[2019-02-19 05:04] #6922 closed

[2019-02-19 05:55] steji113 commented on #5301
Speaking of using cpprestsdk, I had started a conversation last year regarding other library options back on aspnet/signalr#2510. It looks like this issue had some other good tidbits of feedback that might still be valuable, as well.

I am still interested in any potential API discussions too.

[2019-02-19 06:07] Eilon commented on #7685
Also cc @ajcvickers @divega @bricelam

[2019-02-19 06:07] Eilon commented on #7690
@xtmq can you show an example CSPROJ of what you tried, and explain what you expected, and what didn't work?

[2019-02-19 06:19] davidfowl commented on #7685
cc @Tratcher

[2019-02-19 06:32] Tratcher commented on #7685
Fixed here: https://github.com/aspnet/EntityFrameworkCore/pull/14378 (preview 3?)

[2019-02-19 06:34] Tratcher commented on #7685
Does your Program.cs match this? https://github.com/aspnet/AspNetCore/blob/dffe9abf6b6b009e183e808459e65770c9210a52/src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/Program.cs#L14-L26

[2019-02-19 06:39] Tratcher commented on #7696
An issue like this is best troubleshot by capturing a trace of the HTTP headers. Tools like Fiddler and Wireshark are good (HTTPS issues aside), manual server side logging of request and response headers.

Safari is known to discard large cookies. How large are your typical auth cookies?

[2019-02-19 06:39] #7693 closed

[2019-02-19 06:41] Tratcher commented on #7687
@HaoK

[2019-02-19 07:18] sven5 commented on #7685
@Tratcher
Yes that's the code in my Program.cs

I get the error
**Unable to create an object of type 'QualityAssuranceDataContext'. Add an implementation of 'IDesignTimeDbContextFactory<QualityAssuranceDataContext>' to the project, or see https://go.microsoft.com/fwlink/?linkid=851728 for additional patterns supported at design time.**

[2019-02-19 07:29] HaoK commented on #5812
@ajcvickers given that these tests are working fine on helix, do we care about the fact that these are disabled on AzDo anymore?

[2019-02-19 07:33] xtmq commented on #7690
I'm trying to expand a project template:
[code]

[2019-02-19 07:57] mikaelm12 commented on #4370
@los93sol Did you get a chance to try out those builds?

[2019-02-19 07:58] sezginakman commented on #6111
Sorry. @mrmowji `<IsTransformWebConfigDisabled>true</IsTransformWebConfigDisabled>` i meant this , Thanks

[2019-02-19 09:02] vitek-karas opened #7701 "How to register ASpnetcoremodule in IIS after dotnetcore installation ?"
_From @xBorus on February 18, 2019 15:9_

## Steps to reproduce
1. Have a windows server without IIS installed
2. Install dotnet-hosting-2.2.1
3. Install IIS via windows features

## Expected  behavior
In .NET framework we had aspnet_regiis utility.
I would expect an utility to register aspnetcore after iis is installed

## Actual behavior
In order to get the plugin, one need to :
- Install IIS vi

[2019-02-19 09:33] Kalimshan commented on #7607
Hello

Before following the troobleshooting above, I deleted the override OnRedirectToIdentityProvider and finaly I solved my problem by forcing the host.
Unfortunately,Apache does not seem to follow the ForwardedHeaders.XForwardedFor and ForwardedHeaders.XforwardedProto.

[code]
So, I did not need to specify the KnownProxies.

[2019-02-19 09:57] geirsagberg commented on #7687
Removing the default scheme is undesirable, as all other controllers in our project use JwtBearer, and I would like to avoid having to specify this on every controller. Also, according to the [docs](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/limitingidentitybyscheme?view=aspnetcore-2.2&tabs=aspnetcore2x#selecting-the-scheme-with-the-authorize-attribute):

So I would expect

[2019-02-19 10:28] #5817 closed

[2019-02-19 10:29] #4464 closed

[2019-02-19 10:48] nuteman1 commented on #7308
Hi vicancy,

Before addressing your request (which I'm not sure I'm clear about), please see the new error I'm getting below. This is even with proxy opened up (without the settings that were causing some interference). It is on the C# client I mentioned above (but I've also seen it on the javascript/browser client).
This particular error is not consistent (sometimes the connection goes through ju

[2019-02-19 10:58] taburetkin commented on #2773
i faced with the same issue, and already spent few hours struggling with this
There is a small thing with web.config approach
i create web.config with hardcoded `processPath`
disable Transform web config in publish profile
and test how it will deploy. everything good.
but then, i start to develop and rebuild my project with Cntrl + f5 (start without debug)
after that my web.config was completely o

[2019-02-19 11:02] mrmowji commented on #6111
@sezginakman I didn't know about that. Thanks a lot.

[2019-02-19 11:30] obeyda opened #7702 "IgnoreApi = true setting not respected when using ApiController attribute on the assembly"
### Description of the bug
When i use the `ApiController` attribute on a controller it respects the use of `[ApiExplorerSettings(IgnoreApi = true)]`,

but when i add the attribute at the assembly level, in startup.cs: `[assembly: ApiController]` the IgnoreApi = true setting is not respected and i get an error:
`<method> does not have an attribute route. Action methods on controllers annotated with

[2019-02-19 11:31] obohovyk commented on #4159
Do not use `set`
ASPNETCORE_URLS=http://127.0.0.1:8080 dotnet run

[2019-02-19 11:37] SteveSandersonMS commented on #5549
I'm not aware that it is. I thought this was filed as a follow-up from the original enhancement that introduced markup blocks, in that we recognized there are cases where it doesn't coalesce markup that could be coalesced.

Isn't each markup blocks a top-level element, so top-level siblings aren't coalesced? Or maybe there were opportunities to coalesce elements with adjacent sibling text nodes.

[2019-02-19 11:46] martincostello commented on #4789
We've now temporarily deployed a build with ANCM v2 enabled for out-of-process. Just waiting for the issue to repro and generate a crash dump.

[2019-02-19 11:47] SteveSandersonMS commented on #7419
Yes, 0.8.0. Thanks!

The change where we originally fixed this was #4797, but then we reverted it in #6931.

I've searched and can't find another issue on the backlog tracking making a further long-term fix, so perhaps this issue can be that one for us now :)

Putting on backlog.

[2019-02-19 12:10] SteveSandersonMS commented on #5507
@rynowak Done, right?

[2019-02-19 12:11] cores-system opened #7703 "Task to StateHasChanged = RemoteRendererException | Blazor 0.8.0"
Hello, in **Blazor 0.8.0**, you cannot call `StateHasChanged()` from another thread, but before 0.8.0 everything worked.

**Example**:
[code]

**Error**:
[code]

[2019-02-19 12:12] SteveSandersonMS opened #7704 "Update Mono for Blazor 0.10.0"

[2019-02-19 12:20] jaydeept commented on #7531
Hello @Eilon , Any input on this issue?
I wanted to confirm if it's my code which is opening so many files (though I don't think that's happening)

[2019-02-19 12:32] MagicAndre1981 commented on #7385
@davidfowl

ok, I created a new Xamarin.Forms app and here I have the same issue. on 2nd call I get the ObjectDisposedException while in .net core 2.2 I always the theexpected HttpRequestException with "Die Serververbindung konnte nicht hergestellt werden" which I handled in code.

So is this a corefx issue? I see the code for [UWP](https://github.com/dotnet/corefx/tree/release/uwp6.1/src/System.N

[2019-02-19 12:36] xjpmauricio commented on #5401
I've trying to implement a chat client based on the project from: https://github.com/aspnet/Docs/tree/master/aspnetcore/signalr/dotnet-client/sample

I managed to create a Windows forms client that connects to the chat with success; the sample also works perfectly on the browser clients, etc. All clients seem to work flawlessly.

My problem is the android client; I cannot make it to work. Whenever

[2019-02-19 12:39] nuteman1 commented on #7308
Hi vicancy,

**Besides what I'm about to show regarding what you requested, please see my prior post (which, in fact is much more important to me, as that is the set-up we are aiming for).**

If I understood your request, you wanted the web app service on Azure, but set up so that it does NOT use SignalR service resource (rather, just call AddSinalR and UseSignalR in server). Please verify that I'

[2019-02-19 12:39] xjpmauricio opened #7705 "Android Client"
I've been trying to implement an Android chat client, the server-side is based on the project from: https://github.com/aspnet/Docs/tree/master/aspnetcore/signalr/dotnet-client/sample

I managed to create a Windows forms client that connects to the chat with success; the sample also works perfectly on the browser clients, etc. All clients seem to work flawlessly.

My problem is the android client;

[2019-02-19 13:32] benaadams commented on #7696
Might be similar to https://github.com/aspnet/Announcements/issues/318?

[2019-02-19 13:33] guardrex commented on #2773
@taburetkin Disable the transformation **_in the project file_** (*.csproj*), not in the publish profile.

[2019-02-19 14:04] CecoMilchev commented on #7088
Any updates on the matter?

[2019-02-19 14:20] geirsagberg commented on #7687
My best guess is that the wrong `_effectivePolicy` is cached and reused, at https://github.com/aspnet/AspNetCore/blob/v2.2.2/src/Mvc/src/Microsoft.AspNetCore.Mvc.Core/Authorization/AuthorizeFilter.cs#L133. If the same `AuthorizeFilter` is re-used for different AuthSchemes, wouldn't that cause problems like the one I am seeing?

[2019-02-19 14:24] timgabrhel commented on #7696
@Tratcher  Here's the trace of a 302 that includes the auth cookies being set, and the redirect to the logged in path for me. When signing the user in, the claims principal is being enriched with data used by the application, but as you can see, ASP.NET is properly chunking cookies, as far as I can tell.

![image](https://user-images.githubusercontent.com/791022/53021604-2d4a8600-341f-11e9-8d01-d4

[2019-02-19 14:37] benaadams commented on #7696
Expires on the cookies (from the safari dev tools) is very in the past; could it be using the Page expires as no value is given in Set-Cookie (from the fiddler trace)

[2019-02-19 14:37] geirsagberg commented on #7687
I was able to work around the problem by removing the global AuthorizeFilter, and instead add `.RequireAuthenticatedUser()` to every policy. So that points towards cache issues in `AuthorizeFilter` being the culprit.

[2019-02-19 14:44] Doomblaster commented on #4422
I'm experiencing the same issue, at least I'm quite sure it's related. I'm not able to reproduce it locally though, but no matter what I update of external nuget packages with these partial fixes, it seems to fail. I'm targeting full framework, net471. Currently running with Kestrel in service fabric.

PackageReferences:
`<PackageReference Include="Microsoft.AspNetCore" Version="2.2.0" />
    <Pac

[2019-02-19 14:47] jcasale commented on #4352
Hi @Eilon, I had the action parameter designated as a nullable int however after finishing the upgrade to 2.2 and trying to repro this, it is now working as expected.

Thanks!

[2019-02-19 14:57] Flyingdot opened #7707 "Bad Request: "Malformed request: invalid headers" with Umlaut in Header"
### Describe the bug
I've noticed you're allowing UTF-8 HTTP Headers since 2.2. (https://github.com/aspnet/KestrelHttpServer/issues/1144). Unfortunately, I still get HTTP 400 back with "Malformed request: invalid headers." for headers with eg. umlauts.

### To Reproduce
Steps to reproduce the behavior:
1. dotnet new webapi
2. curl -I 'https://localhost:5001/api/values' -H 'test: ä' -X GET -k
3. Se

[2019-02-19 15:40] Lupusa87 opened #7708 "Blazor new Lifecycle method executed after references got filled"
### Is your feature request related to a problem? Please describe.
As we know component/element references are getting filled when component is rendered, we
 use OnAfterRender to do some actions with referenced component/element.

OnAfterRender gets executed each time component re-renders and in most cases we don't need to do some action with referenced component/element each time.

To avoid this

[2019-02-19 15:43] Tratcher commented on #4422
#4447 was reverted, the fix was incomplete.

[2019-02-19 15:46] martincostello commented on #4789
@jkotalik I've captured 2 crash dumps from `w3wp.exe` now using ANCM v2. Can you confirm where I should send them (they're ~75MB each).

[2019-02-19 15:47] jkotalik commented on #4789
Send them to my email listed on my github profile. Thanks!

[2019-02-19 15:50] SteveSandersonMS commented on #6885
This is not just a template change - it can only be done once we have a replacement for the SPA fallback routing that currently serves `index.html`. We *could* configure the `Index.cshtml` to match all URLs, but that isn't an exact equivalent to the existing behavior, since it will not exclude requests that look like requests for static files, which we do today.

@javiercn is working on the update

[2019-02-19 15:51] SteveSandersonMS commented on #6886
Blocked waiting for #6885

[2019-02-19 15:52] jkotalik commented on #4789
The dumps also may be too large for email upload. Just email me and we start the process.

[2019-02-19 15:54] davidfowl commented on #7385
OK I'm going to put this issue in preview4 (since preview3 is winding down at the moment). If you could point us to that simple repro that would be great. We can figure out where the issue goes.

[2019-02-19 15:56] rynowak commented on #6885
Is this really needed? We always put static files ahead of MVC in templates - it's exceedingly common for users to write their own *catch-all* routes.

[2019-02-19 15:56] martincostello commented on #4789
Email sent.

[2019-02-19 15:59] rynowak commented on #5507
I plan to close this once I had to merge the compiler support and see tests passing in the runtime repo. As it stands *right now* this will be broken depending on what you put in the callback delegate.

[2019-02-19 16:02] davidfowl commented on #7705
This new java client does not work with SignalR 2.x, it only supports ASP.NET Core SignalR.

[2019-02-19 16:07] xjpmauricio commented on #7705
Is there any java-client we could use on Android that works with SignalR 2.x?

[2019-02-19 16:08] Doomblaster commented on #4422
Well, i still find it weird that there is no v2.2.1 or v 2.2.2 of Microsoft.AspNetCore.Server.Kestrel.Core since the code at least has namespace aligned with that. Anyways, let's see if @halter73 can share some insight.

[2019-02-19 16:16] jkotalik commented on #4422
To clarify, within the 2.2.2 release, #4447 was added and reverted. It was never released at all. Kestrel.Core hasn’t been patched in 2.2.x yet.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Espen Berglund <notifications@github.com>
Sent: Tuesday, February 19, 2019 10:09:53 AM
To: aspnet/AspNetCore
Cc: Justin Kotalik; Mention
Subject: Re: [aspnet/AspNetCore] .N

[2019-02-19 16:22] martincostello commented on #4789
Dump files have been shared with @jkotalik and @pakrym.

[2019-02-19 16:37] SteveSandersonMS commented on #6885
Unfortunately it's more complicated than that:

 * If we put the catch-all `Index.cshtml` before `UseRazorComponents`, then we can no longer serve `components.server.js`, because it returns the `Index.cshtml` contents instead
 * If we put them the other way around, then the SPA fallback routing inside `UseRazorComponents` throws because it can't find an `index.html` to route to.

We need a proper

[2019-02-19 16:42] davidfowl opened #7710 "Source linking broken in latest ci bits"
### Describe the bug
I can no longer debug into the source code on ASP.NET Core when using builds from https://github.com/dotnet/core-sdk#installers-and-binaries.

### To Reproduce
Steps to reproduce the behavior:
1. Make a new project
1. Add https://dotnet.myget.org/F/aspnetcore-dev/symbols to your list of symbol servers in the Visual Studio Debugging options
1. Break in the debugger
1. Right cli

[2019-02-19 16:52] natemcmaster opened #7711 "Replace our implementation of Process.KillTree with new netcoreapp3.0 for this"
https://github.com/dotnet/corefx/pull/34147 added `Process.Kill(bool entireProcessTree)`. We should look into removing [this code](https://github.com/aspnet/AspNetCore/blob/master/src/Shared/Process/ProcessExtensions.cs) which does the same thing, but doesn't implement the behavior as well as the corefx API does.

[2019-02-19 16:57] blowdart commented on #7707
The fact that MacOS accepts it is more concerning

@JunTaoLuo @Tratcher

[2019-02-19 16:59] timgabrhel commented on #7696
That makes sense to me, but it doesn't explain the sporadic behavior of the issue. I just tested on the CookieSample from the Docs repo, and see the same result on the cookies.

https://github.com/aspnet/Docs/tree/master/aspnetcore/security/authentication/cookie/samples/2.x/CookieSample

![image](https://user-images.githubusercontent.com/791022/53032868-5aa22e80-3435-11e9-94ee-c07f4935e40c.png)

[2019-02-19 17:00] blowdart commented on #7684
Out of interest, which OS was this on?

[2019-02-19 17:02] NTaylorMullen opened #7713 "[Tooling] Unskip TryGetExcerptInternalAsync_MultiLine_Boundaries_CanClassifyCSharp"
`TryGetExcerptInternalAsync_MultiLine_Boundaries_CanClassifyCSharp` is currently skipped due to https://github.com/dotnet/roslyn/issues/31548. Once the Roslyn issue is resolved we should unskip the test. Putting this in the current milestone + 1 to ensure we revisit this.

[2019-02-19 17:04] blowdart commented on #7635
The stopgap seems a deeply undesirable idea.

[2019-02-19 17:20] natemcmaster commented on #7676
.npmproj files are only meant to be used for command line builds and are not a supported by Visual Studio. We do not use .csproj for these projects because they do not contain C#.

Adding @pranavkm and @SteveSandersonMS  to comment on how they go about debugging JS. I use VS Code for all of my dev work, but they may have other solutions.

[2019-02-19 17:24] natemcmaster commented on #5812
Don't forget that the tests also fail in 2.1 and 2.2 branches.

[2019-02-19 17:40] mikaelm12 commented on #5401
Can you verify that websockets are being used by the other clients? Because the 1.0.0 version of the Java client only supports Websockets you'll get that `There were no compatible transports on the server.`  if the server doesn't support Websockets. One common issue is that it's common for cloud providers like app service to not have websockets on by default. The other clients handle this silently

[2019-02-19 17:44] Eilon commented on #7690
@xtmq and the setting was ignored?

cc @ryanbrandenburg

[2019-02-19 17:47] Eilon commented on #7531
@jaydeept sorry I'm not super sure. Maybe try disabling some of the features you're using and see if it makes a difference? There are some components in use there that might involve file watchers (though I'm not certain). Stuff such as Logging, Swagger, or other components. This would be helpful to at least see if we can figure out which specific component (if any) is causing this, and then figure

[2019-02-19 17:58] kingmotley opened #7715 "ProblemDetails serialization to Xml uses incorrect casing"
### Describe the bug
ValidationProblemDetails/ProblemDetails serialization to Xml uses incorrect casing

### To Reproduce
Steps to reproduce the behavior:
using ASP.NET Core 2.2
return a ValidationProblemDetails and you get something similar to the following:
[code]

### Expected behavior
Conform to the example https://tools.ietf.org/html/rfc7807#page-15
[code]

### Additional context
Xml is a cas

[2019-02-19 18:02] Ponant opened #7716 "FindByEmailAsync inconsistencies should be documented or API fixed"
`FindByEmailAsync` will return a `FirstOrDefaultAsync` in Asp.Net Identity UserStores, whereas unique emails are not required by default. So if I lookup for a given email I get only the first user that is hit in the db. This is an error that should be documented clearly in the api so that people know that they should treat this method only if `RequireConfirmedEmail` is true.

Ideally this method s

[2019-02-19 18:04] Tratcher commented on #7707
Can you get a Wireshark capture? Is it really utf8 on the wire?

[2019-02-19 18:06] javiercn commented on #6885
@rynowak can we plug-in transparently through services something that serves component.server.js without us having to make a gesture also on app.UseRouting?

My idea is that AddComponents can add an endpoint data source that uses the static files middleware to serve the components.server.js. That way it plays into routing and has higher precedence than the catch-all for Index.cshtml.

This is anot

[2019-02-19 18:12] wicked-sick commented on #7676
Yes, debugging this from command line and VS Code will work, I was wondering if and what is the "workaround" for doing this in Visual Studio.

[2019-02-19 18:22] pranavkm commented on #7715
Is your `CompatiblityVersion` set to 2.2? We made some changes to the xml serialization to make the serialization closer to the spec. See https://docs.microsoft.com/en-us/aspnet/core/mvc/compatibility-version?view=aspnetcore-2.2 for documentation on specifying the compat version.

[2019-02-19 18:25] brainoverflow98 commented on #7684
@blowdart It was on Ubuntu plus I tested it on Windows 10 and it behaves same.

[2019-02-19 18:26] blowdart commented on #7684
We should at least have a better error, or better yet bug @bartonjs until he supports crt files :)

[2019-02-19 18:28] Tratcher commented on #3774
I've coincidentally improved this by changing HostingApplicationDiscriminator to use Microsoft.Extensions.Hosting.IHostEnvironment instead of Microsoft.AspNetCore.Hosting.IHostingEnvironment.

[2019-02-19 18:32] xtmq commented on #7690
There is no such parameter anymore. It was dropped from all web templates so I can not specify it

[2019-02-19 18:33] PinpointTownes commented on #3774
@Tratcher that's certainly an improvement, tho' in an ideal world, you may probably still want to decouple DP from Hosting, so that libs that don't need hosting abstractions don't have to reference it transitively (e.g OWIN apps that use the compat' package).

[2019-02-19 18:35] Eilon commented on #7711
Placing in commandlinetools area because that's the only non-test usage of this utility.

[2019-02-19 18:39] Tratcher commented on #3774
Understood, but that makes the decoupling easier when we get to it.

[2019-02-19 18:48] mikaelm12 opened #7717 "SignalR Clients shouldn't process new messages on main thread"
We previously would just spin up new threads but that could result in the messages coming in out of order. They are being processed in order now but ideally we'd want them to be in a background thread because long running On handlers currently block the receive loop in the Java client (not too bad now because we can configure the disconnect timeouts). In the Java client for example what we can do

[2019-02-19 18:56] mikaelm12 commented on #7705
The SignalR 2.X Android client was **__depricated and is no longer supported__** so we don't suggest using it. That being said, if you want to take a look the source is here: https://github.com/SignalR/java-client

[2019-02-19 19:01] jzabroski commented on #7679
Bottom line: ProblemDetails is such a crappy implementation of a good idea.  Even the documentation on it basically says "beware, this might not behave the way you hope":

[2019-02-19 19:03] rynowak commented on #5161
Hi @tomkerkhove - I don't think we have any easy path to provide this through the health checks *middleware*.

However, that shouldn't stop you from being able to use health checks with OpenAPI. You can write an MVC controller endpoint that calls into `HealthChecksService` (available from DI). This will enable you to do all of the things that MVC usually does for OpenAPI/Swagger support.

[2019-02-19 19:03] #5161 closed

[2019-02-19 19:06] jzabroski commented on #7679
This is a solution to https://github.com/aspnet/AspNetCore/issues/6202
@pranavkm

[2019-02-19 19:07] rynowak commented on #4961
Thanks for the suggestion.

I think what would motivate us to provide something like this in the box would be knowing what kinds of monitoring systems are going to **consume** this format.

[2019-02-19 19:07] khellang commented on #6202
Why can't inheritance be used for this?

[2019-02-19 19:11] rynowak commented on #6677
Hi @tillig - we agree that this is a good idea to have a recipe for. We will need to do some more server and configuration work to make this easy.

I think you could do this today by placing the health checks middleware before the http redirect. If you register the health checks middleware with a port and an empty path it will respond to all requests for that port.

https://github.com/aspnet/AspNe

[2019-02-19 19:11] rynowak commented on #7084
Want to send a pr?