[2019-01-09 18:15] dougbu opened #6528 "Add AutoRest code generation support"
### Is your feature request related to a problem? Please describe.
Enhancement related to #4896

### Describe the solution you'd like
Add new targets wrapping AutoRest code generation in preparation for conversations with the AutoRest team.

### Describe alternatives you've considered
If necessary, we could ship the necessary AutoRest package. But, would prefer we did not own it going forward.

[2019-01-09 19:07] disklosr commented on #6523
I'm working on an asp.net core app and I generate the package to deploy using dotnet package.
This command generates a folder with all the binaries, dependencies and config files in the same folder which can quickly get get pretty messy.

Ideally, I would like to have my dependencies inside a "bin" folder instead of them being in the root folder of my app. Manually moving my dependencies in a "bin

[2019-01-09 19:16] NTaylorMullen opened #6531 "Stop loading Razor binaries in C# completion scenarios"
Once the modern completion APIs are turned on permanently we can't remove our old Roslyn completion code. That way we wont be loading Razor binaries in C# scenarios.

The extra binary being loaded in C# scenarios bug is: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/494627

[2019-01-09 19:21] Kahbazi opened #6532 "Inject Logger In RequestLocalizationMiddleware"
In `RequestLocalizationMiddleware` there's a `EnsureLogger` method which check if the logger variable is null and then get `ILogger<RequestLocalizationMiddleware>` from `HttpContext.RequestServices`.

https://github.com/aspnet/AspNetCore/blob/master/src/Middleware/Localization/src/RequestLocalizationMiddleware.cs#L139

Can we just inject `ILogger<RequestLocalizationMiddleware>` or `ILoggerFactory`

[2019-01-09 19:39] sandersaares commented on #5944
What does this phrase in the announcement mean?

[2019-01-09 19:41] #6183 closed

[2019-01-09 19:51] davidfowl opened #6533 "[Announcement]: Removed deprecated Authentication property from HttpContext (including all of 1.x auth stack)"
This is the discussion item for https://github.com/aspnet/Announcements/issues/337

As part of aspnet/AspNetCore#6504 we've removed the deprecated Authentication property. The Authentication property has been deprecated since 2.0 and a migration guide was published to migrate code using this deprecated property to the new replacement APIs.

[2019-01-09 19:56] ajaybhargavb commented on #5081
Fixed by https://github.com/aspnet/AspNetCore-Tooling/pull/99

[2019-01-09 19:56] #5081 closed

[2019-01-09 20:00] davidfowl opened #6534 "[Announcement] : Removed DefaultHttpContext extensibility"
Discussion for https://github.com/aspnet/Announcements/issues/338

As part of performance improvements made to ASP.NET Core 3.0 (aspnet/AspNetCore#6504), we've removed the extensibility of DefaultHttpContext (it is now sealed). This extensibility was provided initially to allow pooling of the HttpContext but it introduced more complexity than necessary and precluded other optimizations. As a resul

[2019-01-09 20:01] ajaybhargavb commented on #5080
Closing this as the only task remaining is tracked by https://github.com/aspnet/AspNetCore/issues/5088 and we don't want to prioritize that now as we have good integration tests.

[2019-01-09 20:01] #5080 closed

[2019-01-09 20:04] hannespreishuber commented on #2738
Tibor Index Shows VB.NET growing, anyway we Need vb razor

[2019-01-09 20:08] BrennanConroy commented on #6120
Ok, looked into this and it turns out that for security reasons this scenario of redirecting to https with auth doesn't work by default. See https://docs.microsoft.com/en-us/dotnet/api/system.net.httpwebrequest.credentials?view=netframework-4.7.2#remarks for info.

It looks like you can create a `CredentialCache` and use that in the `HttpClientHandler` to allow the redirect to work. Or just always

[2019-01-09 20:15] sungam3r opened #6535 "Typo in NewtonosftJsonMvcOptionsSetup"
Typo in class name:
https://github.com/aspnet/AspNetCore/blob/cdc66c5f98f73f0763573db4274b6763fbc6788d/src/Mvc/src/Microsoft.AspNetCore.Mvc.NewtonsoftJson/DependencyInjection/NewtonosftJsonMvcOptionsSetup.cs#L21

[2019-01-09 20:19] davidfowl commented on #5944
@sandersaares Components that require the ObjectPoolProvider add it instead of it being added for everyone (it was only used in 3 places). Where as something like logging is user by *every* component.

[2019-01-09 20:22] sungam3r opened #6537 "Typos/copy-paste in comments"
https://github.com/aspnet/AspNetCore/blob/5541a7a02621a3f716b21741a97d3292739fbe43/src/Http/Http.Features/src/IRequestBodyPipeFeature.cs#L14

Should be `PipeReader `

https://github.com/aspnet/AspNetCore/blob/5541a7a02621a3f716b21741a97d3292739fbe43/src/Http/Http/src/StreamPipeWriter.cs#L68

There is `_writingStream`, not reading.

[2019-01-09 20:38] Tratcher commented on #6449
@Eilon why are templates lumped under the MVC label?

[2019-01-09 20:49] rockfordlhotka commented on #5460
There are a couple philosophies on validation rules, and I think it is important to keep them in mind when considering validation features in any UI framework.

One philosophy says that validation rules aren't _real_ business rules, and they can (and should) be enforced by the UI, not by an official business layer. And I get that, especially in the js-based web world where the business layer is al

[2019-01-09 21:00] rynowak commented on #4556
Closing this because there's no action to take on our side.

[2019-01-09 21:00] #4556 closed

[2019-01-09 21:07] MathiasKowoll commented on #6215
@pranavkm thanks for the solution and code, worked perfectly.
@thiennn I just created the following gulp task to remove *deps.json
gulp.task('clean-deps', function () {
    return gulp.src([paths.host.modules + '*'+ paths.host.moduleBin+ '*.deps.json'], { read: false })
        .pipe(clean());

[2019-01-09 21:08] MathiasKowoll commented on #6215
@pranavkm thanks for the solution and code, worked perfectly.
@thiennn I just created the following gulp task to remove *deps.json
gulp.task('clean-deps', function () {
    return gulp.src([paths.host.modules + '*'+ paths.host.moduleBin+ '*.deps.json'], { read: false })
        .pipe(clean());

[2019-01-09 21:09] rynowak commented on #4597
@mgolois  - hi, sorry for the delayed response. It's not 100% clear to me what you're trying to do, so I'm guessing.

If what you want is to parse a URL into route values, you can use the `TemplateMatcher` for that https://github.com/aspnet/AspNetCore/blob/master/src/Http/Routing/src/Template/TemplateMatcher.cs#L10

I'm closing this issue since I believe I answered the question. Feel free to open

[2019-01-09 21:10] MathiasKowoll commented on #4902
@camelofcode look at this bug #6215

[2019-01-09 21:12] rynowak commented on #4461
Thanks for posting this @Tornhoof - is this working out the way you expect?

As a general question - is what you're doing here similar to `[Produces(...)]` but with an effect on action selection?

This code looks roughly like what I would expect to see for this.

[2019-01-09 21:20] JesperHenriksen-Groupcare commented on #6486
What about the samples?
https://github.com/aspnet/AspNetCore/tree/master/src/AuthSamples/samples/Identity.ExternalClaims

[2019-01-09 21:41] Tratcher commented on #6486
These two lines might need to change, but that's about it:
https://github.com/aspnet/AspNetCore/blob/89ef21514694323e5ea5b304061464c26b373dbf/src/AuthSamples/samples/Identity.ExternalClaims/Startup.cs#L43-L44

[2019-01-09 21:43] Eilon commented on #6523
Ah OK this seems much broader than just ASP.NET Core, so I recommend filing an issue at https://github.com/dotnet/core/issues to get the attention of the folks who are experts on this topic.

[2019-01-09 21:43] Eilon commented on #6449
Because that's where they do 😄

[2019-01-09 21:44] Eilon commented on #6449
Though if this work will be entirely handled by Hosting folks (e.g. you), we can leave in just area-hosting.

[2019-01-09 21:45] jkotalik commented on #6537
Good catch.

[2019-01-09 21:47] #3855 closed

[2019-01-09 22:08] mkArtakMSFT commented on #6521
Thanks for contacting us, @Duxez.
@SteveSandersonMS, is there an API being called before the "loading" content is about to be replaced by actual content?

[2019-01-09 22:08] huysentruitw commented on #2355
@ApolloCreek I tried to add this functionality, but I'm afraid it is not that simple as a large part would have to be rewritten to make this possible (at least as far as I can see/understand).

[2019-01-09 22:14] rynowak opened #6543 "Port fix for #6102 to 2.2.2"
We should patch #6102 for 2.2.2. This issue can cause intensive CPU and memory consumption when pages are recompiled or the route table is updated. This issue gets worse each time a page is recompiled, leading to growth in resource consumption and then eventually thread pool starvation or OOM and crash.

We know that many users use the recompilation features of MVC in production, so this is not li

[2019-01-09 22:15] mkArtakMSFT commented on #6520
Thank you for your feedback, @sandersaares.
The issue you're facing is by-design. It's required for a project to reference the correct SDK for things to work, when using ASP.NET Core.

[2019-01-09 22:15] #6520 closed

[2019-01-09 22:21] vovikdrg commented on #6482
then please add note about in process here https://docs.microsoft.com/en-us/aspnet/core/migration/21-to-22?view=aspnetcore-2.2&tabs=visual-studio I spent 2 days on thing which is not supported :(

[2019-01-09 22:30] mkArtakMSFT commented on #6494
Thanks for contacting us, @grahamehorner.
Runtime compilation of SASS / LESS files is not something we plan to invest in in the near future.

[2019-01-09 22:30] #6494 closed

[2019-01-09 22:30] muratg commented on #5911
No more action is planned on this issue so I'm closing this. Folks can check the troubleshooting guide linked above for similar issues.

[2019-01-09 22:30] #5911 closed

[2019-01-09 22:30] jkotalik commented on #6482
@guardrex can you address this?

[2019-01-09 22:33] pakrym commented on #6482
It's filed [here](https://github.com/aspnet/Docs/issues/10297)

[2019-01-09 22:33] muratg commented on #5919
Closing this issue as there's no action on ASP.NET here. @clguimanMSFT what repo (if any) folk should file bugs/discuss issues on this? Thanks.

[2019-01-09 22:33] #5919 closed

[2019-01-09 22:34] muratg commented on #5920
It doesn't look like there's any action on ASP.NET here. @davidfowl, if you disagree, please reopen.

[2019-01-09 22:36] muratg commented on #5931
We don't plan to make changes here. @jchannon, please let me know if you're interested in sending a PR and we can discuss possible approaches.

cc @davidfowl

[2019-01-09 22:36] #5931 closed

[2019-01-09 22:36] muratg commented on #5932
Closing this as no further action is planned here.

[2019-01-09 22:36] #5932 closed

[2019-01-09 22:37] mkArtakMSFT commented on #6499
Let's make sure that we address this if we ever have to patch MVC again for 2.1.

[2019-01-09 22:38] rynowak opened #6544 "Port fix for #4591 to 2.2.2"
We should patch #4591 for 2.2.2. This is a basic functional bug that can be an adoption blocker for users to use endpoint routing. In the issue, the user is using route constraints to implement multi-tenancy. It's somewhat common for applications to use route constraints to implement features like filtering by the request hostname. If these features can't be implemented in the same way on endpoint

[2019-01-09 22:38] muratg commented on #5936
Closing this. https://github.com/aspnet/Extensions/issues/813 is tracking work we may potentially do here.

[2019-01-09 22:38] #5936 closed

[2019-01-09 22:39] muratg commented on #5948
Closing this as the discussion seems to have been resolved.

[2019-01-09 22:39] #5948 closed

[2019-01-09 22:40] muratg commented on #5949
No more changes planned here.

[2019-01-09 22:40] #5949 closed

[2019-01-09 22:41] mkArtakMSFT commented on #6481
Thanks for contacting us, @alirezaseif28.
We're closing this issue as there is no action involved from our side regarding it. You can read more about the localization and globalization in ASP.NET Core here: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-2.2
To learn about localization in Javascript, you'll need to consult other external resources.

[2019-01-09 22:41] #6481 closed

[2019-01-09 22:41] #6057 closed

[2019-01-09 22:42] clguimanMSFT commented on #5919
Please file future issues in [ApplicationInsights-aspnetcore](https://github.com/Microsoft/ApplicationInsights-aspnetcore)

[2019-01-09 22:42] muratg commented on #4148
@davidfowl Do you expect to get this in in a week or so?

[2019-01-09 22:43] guardrex commented on #6482
It's true. Except for saying, "Loads the CoreCLR." ... **_"CoreCLR"_** ... we don't address it.

I've prioritized it for this sprint. I'll fix it this week.

[2019-01-09 22:46] mkArtakMSFT commented on #6474
Thanks for contacting us, @ud09.
@SteveSandersonMS is this something we should fix, or should this go to the Mono team?

[2019-01-09 22:49] muratg commented on #5891
Looks like a nice-to-have in 3.0.0 and help customers with diagnostics. Hopefully we can get time in 3.0.0.

[2019-01-09 22:49] mkArtakMSFT commented on #6473
Thanks for contacting us, @newbienewbie.
@javiercn, can you please look into this? Thanks!

[2019-01-09 22:51] mkArtakMSFT commented on #5055
Ping @JamesNK!

[2019-01-09 22:51] muratg commented on #5900
@davidfowl would you be OK getting a breaking change here in 3.0?

Folks, we may accept PRs for this. If you're interested please let me know!

[2019-01-09 22:51] mkArtakMSFT commented on #6471
@javiercn, can you please confirm whether this is caused by the referenced issue and if so, close this in favor to that one? Thanks!

[2019-01-09 22:52] muratg commented on #5905
I don't expect we'll change this. Closing.

[2019-01-09 22:52] #5905 closed

[2019-01-09 22:54] mkArtakMSFT commented on #6462
Thanks for your investigation, @arivera12.
@javiercn suggestions regarding how to fix the template?

[2019-01-09 22:59] davidfowl commented on #5900
I'll take this one for 3.0

[2019-01-09 23:01] mkArtakMSFT commented on #6441
Thanks for contacting us, @rafsanulhasan.
@glennc what do you think we do here?

[2019-01-09 23:03] javiercn commented on #6473
The test is not async and you are using .Result, that might cause the deadlock you are experiencing.
Change the test to be public async Task
and call await Client.GetAsync instead

Looping @Tratcher as this is his domain.

[2019-01-09 23:04] muratg commented on #5906
@javiercn is this going in 3.0.0?

[2019-01-09 23:09] muratg commented on #5913
This would be really nice to help customers with diagnostics. Hope we can get some time do to this in 3.0.0.

Somewhat related: https://github.com/aspnet/AspNetCore/issues/5891

[2019-01-09 23:11] muratg commented on #5914
@davidfowl, tentatively assigning this to you.

[2019-01-09 23:14] muratg commented on #5918
@pakrym thoughts on the scope of this one? You agree that removing it from logging scope is the right approach?

[2019-01-09 23:16] muratg commented on #5921
@Tratcher is this still an issue?

[2019-01-09 23:18] Tratcher commented on #5921
Couldn't say, I don't run those tests locally anymore. @pakrym @jkotalik have you seen this?

[2019-01-09 23:19] muratg commented on #5923
More work remaining here?

[2019-01-09 23:20] ajaybhargavb commented on #6206
@rynowak, I'm trying to figure the correct way to fix this. I was comparing the new syntax tree with the old one and looks like this was categorized as CSharp even in the old world. The only change here is that the code span was moved out of the RazorDirective block. What is the actual expectation here? Knowing that would help me figure out what layer the fix should go in.

**Input:**
![image](htt

[2019-01-09 23:21] pakrym commented on #5921
Haven't seen much but I almost never run self-host tests. Maybe it's worth implementing the same things we did for IISExpress: https://github.com/aspnet/AspNetCore/blob/master/src/Servers/IIS/IntegrationTesting.IIS/src/ProcessTracker.cs

[2019-01-09 23:21] muratg commented on #5924
@Tratcher Looks like a part of the GenericHost work.

[2019-01-09 23:22] pakrym commented on #5918
I, unfortunately, don't have enough context on this. Would need to discuss with @davidfowl as it seems he understands what's wrong here.

[2019-01-09 23:22] muratg commented on #5925
cc @shirhatti @davidfowl @Tratcher

[2019-01-09 23:23] muratg commented on #5926
cc @shirhatti @davidfowl @Tratcher

[2019-01-09 23:23] muratg commented on #5927
cc @shirhatti @davidfowl @Tratcher

[2019-01-09 23:35] muratg commented on #2512
Either case, we'll still get to break folks (i.e. cause their users to logout) when they move to 3.0, right? No way around that?

@GrabYourPitchforks What's your thoughts on this?

[2019-01-09 23:42] javiercn commented on #5906
@muratg We'll do something different for 3.0 as this doesn't apply with GenericHost.

[2019-01-09 23:42] #5906 closed

[2019-01-09 23:46] pakrym commented on #2512
@muratg this new ID would be added only to new projects that would opt them in into new behaviour. Existing projects would not change.

[2019-01-09 23:50] RemiBou commented on #5476
If anyone is interested I found a workaround for handling exception : https://remibou.github.io/Exception-handling-in-Blazor/. It's not perfect as the extension point are minimal but still.

[2019-01-09 23:50] pakrym commented on #6482
Closing this as it's tracked in https://github.com/aspnet/Docs/issues/10297

[2019-01-09 23:50] #6482 closed

[2019-01-09 23:50] pakrym commented on #5693
Closing this as it's tracked in https://github.com/aspnet/Docs/issues/10297

[2019-01-09 23:50] #5693 closed

[2019-01-09 23:54] #3801 closed

[2019-01-09 23:56] #3999 closed

[2019-01-09 23:57] muratg commented on #4150
@davidfowl @Tratcher Are we doing something here for 3.0?

[2019-01-09 23:57] #6340 closed

[2019-01-10 00:00] NTaylorMullen opened #6548 "Make Razor tooling acquire workspace from projection buffer."
In order to open source Razor LiveShare we need to change how Razor acquires its Roslyn workspace. Today in Visual Studio there's a global singleton workspace type that's typically used when Razor needs a workspace, in the case of LiveShare we currently depend on internal APIs to extract a LiveShare specific workspace and use that in LiveShare guest scenarios.

To properly open source LiveShare we

[2019-01-10 00:02] muratg commented on #4155
Interesting, but not sure if there's any really good heuristic. Upper, lower and exact cases for example -- what happens if you have files with both cases, and they conflict? Wouldn't that be more confusing?  (With the example above, one of them will "win".)

@davidfowl any thoughts here?

[2019-01-10 00:04] HaoK opened #6549 "[Helix] Tests skipped due to can't find sln"
Tracking all the tests that are skipped due to depending on a sln file being present. (Src is not part of helix test payloads)

[code]

[2019-01-10 00:11] JamesNK commented on #6544
The PR you linked to is for the `IRouteConstraint` null HttpContext issue in link generation.

The fix for this issue was fixed when routing and the MvcEndpointDataSource was refactored to support the concept of required values. A different fix will be required for 2.2.2

[2019-01-10 00:17] cwe1ss commented on #5900
Thank you very much, David!

[2019-01-10 00:17] ststeiger commented on #1961
@joehanna: Yea, I kindof agree.
I would say it was a big mistake to not make .NET Cross-Platform (at least the non-ui part) from the beginning - but hey - MS called it the Windows strategy tax.
Now that strategy backfires here.

Overall, you just can't make a framework multiplatform, improve performance, and make it overall more maintainable without breaking a few things here and there (dependency

[2019-01-10 00:19] muratg commented on #5921
Closing this one. If we get more complaints, we'll reconsider.

[2019-01-10 00:19] #5921 closed

[2019-01-10 00:20] Arash-Sabet commented on #6448
@BrennanConroy
Meanwhile, did you have a chance to [use this example ](https://github.com/aspnet/AzureSignalR-samples/issues/15)and try to reproduce the issue?

[2019-01-10 00:36] garethjensen commented on #5246
I know this is old, but I ran into the same issue. The problem isn't npm, but rather the arguments being passed into npm. You can resolve this by setting the current working directory of the application to the top directory of the ASP.NET Core project. For example, in my launch.json file, I set "cwd" to the top directory of my project (which was located in a "src/project.name" named folder). Here'

[2019-01-10 00:51] sebastienros opened #6550 "[Blazor] Select tag is not bound on first render"
In the following example, the **initial value** of `currentServer` is not bound to the select tag.
And if I specify `select="selected"` in one option, then it's not reflected in the variable.
It works when I change the variable by code, or when the selection is changed.

Sample:
[code]

[2019-01-10 01:00] newbienewbie commented on #6473
@mkArtakMSFT @javiercn Thanks !

[2019-01-10 01:00] #6473 closed

[2019-01-10 01:06] HaoK commented on #3999
I updated the one fowler posted since he had one that covered part of this change already:

https://github.com/aspnet/Announcements/issues/337

[2019-01-10 01:08] HaoK commented on #6533
We have also removed all of the old 1.x authentication classes and namespaces as well:

Microsoft.AspNetCore.Http.Authentication and most of Microsoft.AspNetCore.Http.Features.Authentication

[2019-01-10 01:18] xavierjohn commented on #4663
I have written a Client Cert Middleware too
https://github.com/xavierjohn/ClientCertificateMiddleware

basically maps certs to Roles using configuration settings, example json setting.
[code]

[2019-01-10 01:33] zulander1 opened #6553 "AuthenticationScheme: Bearer was forbidden. when using multiple policy"
I am using multiple policy with JWT and identity, I am getting 403 Forbidden when i am using [Authorize(Policy = "CompanyBased")], when i am using  [Authorize()] it works well. I am using Core 2.2,

Microsoft.AspNetCore.Authorization.DefaultAuthorizationService:Information: Authorization failed.
Microsoft.AspNetCore.Mvc.Internal.ControllerActionInvoker:Information: Authorization failed for the req

[2019-01-10 01:51] Edward-Zhou commented on #6120
I am using `SignalR` and `HubConnectionBuilder`, how to use `CredentialCache` in `SignalR`?

[2019-01-10 01:59] zulander1 commented on #6553
I was missing ClaimTypes.Role in the JWT token Fixed :)

[2019-01-10 01:59] #6553 closed

[2019-01-10 03:31] BrennanConroy commented on #6120
Use the `HttpMessageHandlerFactory` in the `WithUrl` options, see https://docs.microsoft.com/aspnet/core/signalr/configuration?view=aspnetcore-2.2#configure-additional-options for reference

[2019-01-10 03:45] benaadams opened #6555 "[CI] Test Failure: AppOfflineDroppedWhileSiteStarting_SiteShutsDown_InProcess"
Seen in https://github.com/aspnet/AspNetCore/pull/6371/checks?check_run_id=48231128
[code]

[2019-01-10 03:47] maulikk2000 commented on #6341
Hi,

I have the same issue on Windows Server 2008 R2 64 bit standard.
The error I get is

---------------------------
A file that is required cannot be installed because the cabinet file (location)\sfx_x64.cab has an invalid digital signature.  This may indicate that the cabinet file is corrupt.

any fixes??

thanks,
Maulik Khandwala

[2019-01-10 04:12] natemcmaster commented on #6341
@maulikk2000 can you make sure your machine has the latest patches? See https://docs.microsoft.com/en-us/security-updates/securityadvisories/2014/2949927#suggested-actions

[2019-01-10 04:38] pranavk commented on #5155
@bradygaster I think you incorrectly mentioned me.

[2019-01-10 04:48] jkotalik commented on #6555
This test has been flaky in the past. I'll disable it for now and investigate why it's flaky in the future.

[2019-01-10 05:02] Edward-Zhou commented on #6120
Any sample for setting `HttpMessageHandlerFactory` with `CredentialCache`?

[2019-01-10 05:14] BrennanConroy commented on #6120
Nope, you'll be the first time I've heard of someone doing it.

[2019-01-10 05:31] davidfowl opened #6556 "[CI Failure]: Microsoft.AspNetCore.Server.Kestrel.FunctionalTests.Http2.ShutdownTests.GracefulTurnsAbortiveIfRequestsDoNotFinish"
https://dnceng.visualstudio.com/public/_build/results?buildId=69781&view=logs

[code]

Logs

[code]

[2019-01-10 06:15] alirezaseif28 commented on #6481
thanks

[2019-01-10 07:59] disklosr commented on #6523
Sure i'll close this then. Thank you.

[2019-01-10 07:59] #6523 closed

[2019-01-10 08:34] camelofcode commented on #4902
@MathiasKowoll Thanks, that worked great - deleting the deps.json file for the dll fixes it. Not a surprise as my code is heavily inspired by @thiennn 's article here https://www.codeproject.com/Articles/1109475/Modular-Web-Application-with-ASP-NET-Core - so anything that fixes his problems likely helps me!

[2019-01-10 08:49] davidkaya opened #6558 "Extra curly bracket in Http.Features/src/breakingchanges.netcore.json"
I've noticed that there is a extra curly bracket in the json with breaking changes:

https://github.com/aspnet/AspNetCore/blob/ad11f890ef0646ecf3cefde63c9021865aa9490e/src/Http/Http.Features/src/breakingchanges.netcore.json#L14-L18

[2019-01-10 08:54] tmds commented on #5920
To address this, either a change is needed in the runtime or in ASP.NET Core.

Proposing a change to ASP.NET Core:

Change the generic host `Run/RunAsync` method so it returns an `int` which is meant to be used as the exit code from Main.

So:
[code]
becomes:
[code]

This `Run` method would be the idiomatic way to write an ASP.NET Core application and connect the return value to Main.

When using

[2019-01-10 09:06] springy76 commented on #5487
Such partial classes would also allow to specify generic constraints easily when using `@typeparam` https://github.com/aspnet/AspNetCore/issues/5603

[2019-01-10 09:07] RemiBou commented on #6421
I'll close this issue as the renderer public API cannot help in my problem and as I understand from the Component code, there is one renderer per user session, so it cannot be injected and we have to use the RendererRegistry singleton.

But still there is right now no way to access the component hierarchy. It would be very useful when creating component library because we could create element that

[2019-01-10 09:07] #6421 closed

[2019-01-10 09:39] SteveSandersonMS commented on #6474
Ah yes, that does look like a bug in the Mono debugging proxy (the original source line is at https://github.com/mono/mono/blob/df46658fd1674213e3370513b13e83575f02e841/sdks/wasm/Mono.WebAssembly.DebuggerProxy/DebugStore.cs#L390).

@ud09 Thanks for tracking down the underlying cause. Would you be willing to post the bug report to https://github.com/mono/mono? Thanks!

I'll close this as external.

[2019-01-10 09:39] #6474 closed

[2019-01-10 09:40] SteveSandersonMS commented on #6503
Virtualisation of DOM elements is not something we expect to include at a low-level in the rendering system.

It's something that individual UI widgets can choose to implement themselves. For example if you're building a grid, you might want to only show the rows that are currently visible within the viewport, but you will need to implement that yourself.

[2019-01-10 09:40] #6503 closed

[2019-01-10 09:44] SteveSandersonMS commented on #6521
There are various ways you could do that. A simple one would be putting your "loading" animation in a full-width-and-height opaque overlay that appears in front of any Blazor-rendered UI, then you can use JS interop to make it disappear any time you want after your app has started running.

Yes, the `Configure` method in `Startup.cs` is called immediately before the first render.

[2019-01-10 09:44] #6521 closed

[2019-01-10 10:06] nenadvicentic commented on #6482
You might want to fix this page too, "In-process hosting model" section:
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-2.2

It would be great if you can be more clear and transparent about reasons for omission of this feature for .NET Framework. Perhaps add reasoning behind the decision in the documentation, so that clearer outlook  what is correct way to go for

[2019-01-10 10:17] RoboBurned opened #6561 "Cannot add UserRole if it has ID field as a PK"
### Describe the bug
Error is raised when adding Role to User if custom UserRole class has PK other than (UserId, RoleId) pair.

### To Reproduce
Steps to reproduce the behavior:
1. Create custom UserEntity, RoleEntity, UserRoleEntity, ExternalAccountEntity classes
[code]
2. Configure UserRoleEntity model
[code]
Note that we have a PK (Id field) and an alternative key (UserId, RoleId).
3. Configur

[2019-01-10 10:36] Andrey-Pavlov commented on #6561
@HaoK

[2019-01-10 11:09] McMlok commented on #5156
I'm closing, our fault. After we upgrade our project from 2.1 to 2.2. same exception appears in colleague computer. Then we found that we have background thread in our NLog custom target and we render message in that background thread, it access HttpContext. After we move message rendering from background thread exception disappear.

[2019-01-10 11:09] #5156 closed

[2019-01-10 12:43] MathiasKowoll commented on #4902
@camelofcode You are welcome, my code is also heavily bases on @thiennn work.

[2019-01-10 12:48] farhadibehnam opened #6564 "How to keep the status user in somewhere when he/she is online by asp.net core signalR?"
I'm working on a chat project. When a user wants to log in and be online every time I fetch database and get all of the users and of course, I sign that user is online by connectionId. in fact, that user has a connectionId display in a view. As an online user and other users don't have a connectionId will display in view as an offline User.but my problem is when a user wants to be online I add a c

[2019-01-10 13:44] MagicAndre1981 commented on #6487
SignalR (ASP.Net Core version) is broken after installing January 2019 updates. Connecting from UWP app fails.

[code]

I needed to remove January 2019 Update for 1709 (KB4480978 (OS Build 16299.904)) to get the WinForms program working again which uses SignalR.

I can see that UWP uses `System.Private.CoreLib.dll` from `C:\Program Files\WindowsApps\Microsoft.NET.CoreRuntime.2.1_2.1.26124.5_x86__8

[2019-01-10 14:10] siberianguy opened #6565 "Can't connect from React Native"
I'm using in React Native the same code that works perfectly fine from a web js client but get an error: `Failed to start the transport 'WebSockets': null`. So it seems like SignalR doesn't find any transports (I did not specify any transport explicitly). I've looked through other issues and I've got an impression SignalR is supposed to be working from React Native at this point. Is it the case?

[2019-01-10 14:51] ygoe opened #6566 "Localised number format and wrong input type for decimal fields"
### Describe the bug
With a model that contains a `decimal` property, this doesn't work with a locale that uses a decimal comma:

    <input asp-for="Number">
    <input asp-for="Number" type="number">

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 2.1.5
2. Create the model class and the HTML razor view, then run it

Code:

    class Model
    {
        pu

[2019-01-10 15:31] davidfowl opened #6567 "Improve HTTP/2 allocations per request"
Here's a snapshot of the per request allocations for HTTP/2 requests. I was using https://github.com/codesenberg/bombardier to generate load using 125 connections (1 stream per connection).

Here's 100,000 request for HTTP/1 and HTTP/2 with the same application:

HTTP/1: 24MB

![image](https://user-images.githubusercontent.com/95136/50979352-225d1700-14ab-11e9-8fda-66b5f849e1f0.png)

HTTP/2: 650MB

[2019-01-10 16:02] chrisdpratt opened #6568 "Identity Default UI Manage page can potentially lead to user lock outs"
The default Identity UI has a bug with both changing email and phone number in the [Manage/Index](https://github.com/aspnet/AspNetCore/blob/master/src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Manage/Index.cshtml.cs) page. For example, if the user enters an email in the form field, `SetEmailAsync` is naively called which marks the user's email as unconfirmed.

    var email = await _userMana

[2019-01-10 16:02] Tratcher commented on #5920
You would have to plum that through a lot of layers to get down to the server that generated the original binding error. It would also leave us with overlapping error handling mechanics.

I still don't see a reason to special case this class of errors from a framework perspective. failing to bind is fatal and if you don't want a dump for some fatal errors then you can handle those in Main.

[2019-01-10 16:18] tmds commented on #5920
I still don't see a reason to special case this class of errors from a framework perspective. failing to bind is fatal and if you don't want a dump for some fatal errors then you can handle those in Main.

I'm thinking of a try catch for any exception that prints the exception and turns it into a `1` exit code.

That gives you the same behavior like other stacks (ruby, node, python).

This pattern

[2019-01-10 16:29] tthiery opened #6571 "Select an action by the content of the body (JSON Property)?"
### Is your feature request related to a problem? Please describe.
In a REST interface I want to utilize a generic end point uri (e.g. `/items/12345/actions`) to be routed to multiple Mvc/Web Api controller actions depending on a JSON property of the content of an uploaded document.

The request would look like ...
[code]

How do I select a controller action by a part of the JSON body of the reque

[2019-01-10 16:43] BrennanConroy commented on #6564
That's perfectly fine and a very common method people use for this kind of thing.

[2019-01-10 16:51] jkotalik commented on #5923
The original issue has been addressed. I'll file separate issues for work related to deployers.

[2019-01-10 16:51] #5923 closed

[2019-01-10 16:59] Tratcher commented on #4150
Yes this needs design.

[2019-01-10 17:02] jacobrivera12 opened #6572 "Blazor refreshing after clicking cancel or saving record."
### Describe the bug
Its a very weird bug since I installed a new template on my project. Everytime when I attempt to edit a record then I click Cancel or Save it just refreshes the whole page. Same thing happens when I try to delete a record. I looked over this link: https://github.com/aspnet/Blazor/issues/1356 and everything seems to be the exact same thing but it just keeps happening. I have tr

[2019-01-10 17:05] jacobrivera12 commented on #6572
Whenever I try to Add a new employee and I click Save or Cancel it doesn't happens at all. I am using same code for both sides.

[2019-01-10 17:11] BrennanConroy commented on #5376
Looks like our builds aren't ready for C# 8 yet

Moving back to 3.0.0

[2019-01-10 17:19] natemcmaster commented on #3755
Update the original post to include Microsoft.AspNet.WebApi.Client. See https://github.com/aspnet/AspNetCore/pull/6552#issuecomment-453177732.

[2019-01-10 17:52] Villae commented on #6488
@jkotalik One more question: I installed dotnetcore.1.0.13_1.1.10-windowshosting.exe (downloaded about 5 minutes ago) to one server which only has .NET Core 1.1 one application. That installed hosting module v12.1.18250.2. Is that also patched version or do I need to install 2.1 hosting module to get patched hosting module?

[2019-01-10 18:03] rynowak commented on #6544
I thought that the PR I linked contains all of the tests we want to add though? Is there another PR where we added tests for the original issue?

[2019-01-10 18:07] #6558 closed

[2019-01-10 18:14] JamesNK commented on #5055
I can reproduce this with endpoint routing. The issue comes from the new link generator requiring that `page` value be null because of the null `page` required value from MVC. A non-null value and the decision tree can't resolve the endpoint.

I tried a couple of minor changes to `LinkGenerationDecisionTree`, and I could get the link to successfully generate, but not without breaking at least some

[2019-01-10 18:16] Eilon opened #6573 "test issue; ignore"
Hi.

Bye.

[2019-01-10 18:17] muratg commented on #5920
@davidfowl **ping**

[2019-01-10 18:20] rynowak commented on #6499
We would also recommend that any user experiencing problems with this in 2.1 switch to Razor SDK for build-time compilation. The strategy used by precompilation is really fragile, which is why we deprecated it.

[2019-01-10 18:24] shreyagr opened #6575 "Facing Microsoft.AspNetCore.Server.Kestrel.Core.BadHttpRequestException: Unexpected end of request content (Without high CPU usage/Thread starvation/network starvation for small requests)"
We have been **intermittently** seeing issues with our Windows Docker hosted service on a Service Fabric cluster where for a fraction of the requests we start seeing this exception. Our payloads are very small (around 3 Kb at max) and the service fabric cluster sits behind an API-Management layer which doesn't show any issues. We also don't see high CPU usage/Thread starvation/Network starvation.

[2019-01-10 18:38] Tratcher commented on #6397
Offline design notes from @danroth27 and @davidfowl:
Customers don't want a response buffering size limit, it's just going to fail, get raised to MaxInt, and then cause OutOfMemory exceptions.
Proposal: Use the same file backed buffering mechanic as we do for requests, buffer the full response, and then flush once the serializer is done. HttpAbstractions can provide the buffer stream implementatio

[2019-01-10 18:38] rynowak commented on #6206
Why is it C# at all?

[2019-01-10 18:39] pakrym opened #6576 "Native tests don't run for IIS"

[2019-01-10 18:39] rynowak commented on #6548
Or they can add an API and we can all go home.

[2019-01-10 18:42] NTaylorMullen commented on #6548
Yup, that's an option too.

[2019-01-10 18:42] ajaybhargavb commented on #6206
We don't want them to be markup right? It is part of the directive because directives need to be at the start of the line. IIRC I think it's because we don't want want to generate a bunch of empty whitespace/lines in output for cases like when you have mutiple directives in a row.

[2019-01-10 18:43] #6525 closed

[2019-01-10 18:47] rynowak commented on #6206
I'm not getting it 😆 Let's discuss when I get in.

[2019-01-10 19:05] bradygaster commented on #6565
Are you trying to connect to a Hub running on the server in ASP.NET Core or are you trying to connect to the Azure SignalR Service? If it's the former, are you running your Hub(s) in Azure App Service?

Thanks!

[2019-01-10 19:06] siberianguy commented on #6565
Just normal ASP.NET Core Web Api hosted in IIS

[2019-01-10 19:13] JamesNK commented on #6544
That was just for null HttpContext. I was bad and didn't write tests when I discovered it wasn't an issue in 3.0. Here are some tests I just wrote for 3.0. They can be used to verify on 2.2 - https://github.com/aspnet/AspNetCore/commit/8a30375233905da507af68dbb5f1ccb4ce9cae45

[2019-01-10 19:23] sebastienros commented on #6550
I could solve this behavior by setting the default value in `OnInit()` instead of assigning the value on the variable declaration.

[2019-01-10 19:33] steveisok commented on #1961
I've got a repo that is running 4.6 reference source WebForms on Mono (just got it running on kestrel btw).  If anyone wants to help, it's here - https://github.com/steveisok/mono/tree/webforms-system.web

I've also tried to port what I had to core, but that's been a mixed bag...  I think it's *possible*, but I've been tripped up shuffling projects around (e.g. System.CodeDom) and not fully graspi

[2019-01-10 19:40] Andrzej-W commented on #6550
Similar to #6427 and #5616

[2019-01-10 19:48] #6489 closed

[2019-01-10 20:03] #6484 closed

[2019-01-10 20:04] blowdart commented on #6568
@HaoK remember the improve the email address also equals username work we wanted to do, well, this probably needs addressing at the same time. Schema changes probably needed.

[2019-01-10 20:06] halter73 commented on #5920
I like aligning our behavior with other stacks, but this proposal doesn't quite do that. dotnet/coreclr/issues/17929 more fully aligns behavior, right? I support doing that instead, since I don't think flowing error codes is idiomatic in C#.

[2019-01-10 20:20] Tornhoof commented on #4461
I never deployed my code snippet above to production, I still use the normal ``IActionConstraint``, simply because the old code works and then was christmas and there was no real need to use it. I only ran my tests and a few short benchmarks and didn't see any problems.

As for the question:
Yes, for the query side via ``Accept Header`` it's basically ``[Produces]`` with action selection, the API

[2019-01-10 20:57] chrisdpratt commented on #6568
I did a simple implementation for the email change in a fork. This is probably not production-ready code to say the least. In particular, I don't like the email being passed in the confirmation link, but o was attempting to get it done with a minimal amount of change. It would be great if there was a column in the user table to persist the new email instead. Also, please note that my branch is bas

[2019-01-10 21:23] rynowak commented on #4461
Yeah, this is definitely intentional. My learning is that policies that select an action are usually collaborative in nature: they have a priority system intrinsic to the domain. Real-world stuff based on `IActionConstraint` can get really really complex: https://github.com/aspnet/AspNetCore/blob/release/2.2/src/Mvc/src/Microsoft.AspNetCore.Mvc.WebApiCompatShim/OverloadActionConstraint.cs

I'm goi

[2019-01-10 21:23] #4461 closed

[2019-01-10 21:46] #5957 closed

[2019-01-10 21:49] bradygaster commented on #6565
Do you have WebSockets installed on your IIS Server? That doesn't come pre-installed AFAIK and you need to add it as an optional component.

[2019-01-10 22:08] Eilon commented on #6518
Our recommended guidance here is that it is important to distinguish between auth types, and that a given endpoint (e.g. an MVC action) should expect one particular auth type.

But, back to the main question, the current design is deliberate, so if you need to get access to this data, you can call AuthenticateAsync on your JWT bearer scheme to get the specific auth properties for that (which presu

[2019-01-10 22:08] #6518 closed

[2019-01-10 22:14] Eilon commented on #6447
Unfortunately with the AAD Integration package even though the OnRedirectToIdentityProvider event is still there, it's harder to get to. If you can get to it, it should continue to function just as it did before because all the AAD Integration package is doing is wrapping the OIDC provider.

Adding @HaoK to see if he can show how to get to the event based on the code here: https://github.com/aspne

[2019-01-10 22:23] Eilon commented on #6157
@HaoK - can you show how to get to these settings via the scheme? https://github.com/aspnet/AspNetCore/blob/master/src/Azure/AzureAD/Authentication.AzureADB2C.UI/src/AzureAdB2CDefaults.cs#L23

[2019-01-10 22:24] Eilon commented on #6157
@HaoK - can you log a doc bug to improve https://docs.microsoft.com/en-us/aspnet/core/security/authentication/azure-ad-b2c?view=aspnetcore-2.2 to better describe some of these scenarios?

[2019-01-10 22:33] Eilon commented on #6033
Looks like there is a bug on this line:

https://github.com/aspnet/AspNetCore/blob/master/src/Azure/AzureAD/Authentication.AzureADB2C.UI/src/AzureAdB2CAuthenticationBuilderExtensions.cs#L64

And that it should always be an Add instead of a TryAdd.

And we also need to check if this problem exists in other auth providers.

[2019-01-10 22:33] Eilon commented on #6033
In the meantime, as a workaround, just use the order that works for you.

[2019-01-10 22:35] HaoK commented on #6157
The actual OpenIdConnectOptions is still there and can be configured via the `AzureADB2CDefaults.OpenIdScheme` by default.

`Configure<OpenIdConnectOptions>(AzureADB2CDefaults.OpenIdScheme, o => { ... }` similarly you can call authenticate against that to get the correct result to get the token from

[2019-01-10 22:37] Eilon commented on #6032
Indeed, there is no built-in way to change just that one option.

In this case we recommend scaffolding the identity code into your app as per https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-2.2&tabs=visual-studio

And then you can customize the AccountController as you see fit for your app.

[2019-01-10 22:37] #6032 closed

[2019-01-10 22:37] #6157 closed

[2019-01-10 22:38] Eilon commented on #6031
CLosing because the linked announcement covers it.

[2019-01-10 22:38] #6031 closed

[2019-01-10 22:42] Eilon commented on #6030
Closing because we are not planning to make any changes to this.

[2019-01-10 22:42] #6030 closed

[2019-01-10 22:53] Eilon opened #6580 "Have unique type names for Azure AAD and ADB2C auth packages"
These two:
* https://github.com/aspnet/AspNetCore/tree/master/src/Azure/AzureAD/Authentication.AzureAD.UI/src
* https://github.com/aspnet/AspNetCore/tree/master/src/Azure/AzureAD/Authentication.AzureADB2C.UI/src

Have types that are of the same name/namespace but different assemblies. While this doesn't currently cause any specific technical problem, it's super gross, and can cause internal headac

[2019-01-10 22:53] Eilon commented on #6024
It seems most likely that the real cause of this is what's described here: https://github.com/aspnet/AspNetCore/issues/6033

Though unfortunately the workaround described there might not work in your case, so you'll either need to come up with your own workaround, or wait for a fix. One ugly workaround is to copy out the built-in registration code and change the calls to TryAddSingleton to just Ad

[2019-01-10 22:53] #6024 closed

[2019-01-10 22:55] natemcmaster opened #6581 "SignalR's spec tests have a dependency on an internal-only testing assembly"
Added in https://github.com/aspnet/AspNetCore/pull/6433. We do not plan to ship Microsoft.AspnetCore.Testing to customers, so this dependencies needs to be removed, or we can't ship Specification.Tests to customers.

cc @muratg @BrennanConroy @JamesNK this needs to be fixed before 3.0 Preview 2.

[2019-01-10 22:55] Eilon commented on #6023
Looks like this is the same fundamental issue as https://github.com/aspnet/AspNetCore/issues/6447, which we will add better documentation for via https://github.com/aspnet/Docs/issues/10324

[2019-01-10 22:55] #6023 closed

[2019-01-10 22:57] Eilon commented on #6025
Looks like this is the same fundamental issue as https://github.com/aspnet/AspNetCore/issues/6447, which we will add better documentation for via https://github.com/aspnet/Docs/issues/10324

[2019-01-10 22:57] #6025 closed

[2019-01-10 22:59] Eilon commented on #6026
@jmprieur do you know more about this?

[2019-01-10 23:00] JamesNK commented on #6581
Ah, so that is why copies are used. I'll make it so the spec tests use there own copy and put a comment explaining why.

[2019-01-10 23:02] JunTaoLuo opened #6582 "Add mechanism to disable project build for ProjectServiceReference"
From the meeting, it seems like a ProjectServiceReference requires the project referenced to be built. We'd like to add a mechanism to disable this requirement since it would be redundant in GRPC scenarios.

cc @dougbu @rynowak

[2019-01-10 23:16] #6573 closed

[2019-01-10 23:36] muratg commented on #4092
I don't expect we'll do this.

[2019-01-10 23:36] #4092 closed

[2019-01-10 23:37] muratg commented on #4093
I don't expect we'll make changes here.

[2019-01-10 23:37] #4093 closed

[2019-01-10 23:38] #5116 closed

[2019-01-10 23:39] muratg commented on #4105
I don't expect that we'll make changes here. JSON should be considered an implementation detail and shouldn't be relied on.

[2019-01-10 23:39] #4105 closed

[2019-01-10 23:40] muratg commented on #4107
We haven't heard much feedback from customers so far. Closing.

[2019-01-10 23:40] #4107 closed

[2019-01-10 23:42] #3966 closed

[2019-01-10 23:42] galvesribeiro commented on #5560
Ping

[2019-01-10 23:47] akraines opened #6584 "Validation attributes not added for fields with duplicate names on the same form"
Validation attributes not added for model Properties with duplicate **names** rendered at the same time if they are in the same form (or are _both_ not in Html.BeginForm section) - even if the Properties are members of different classes!
Please see [this SO question](https://stackoverflow.com/questions/39807978/strange-behavior-of-asp-net-mvc-razor-engine-with-unobtrusive-validation-attribu) where

[2019-01-10 23:51] muratg commented on #2394
I don't expect we'll make changes here.

[2019-01-10 23:51] #2394 closed

[2019-01-10 23:54] muratg commented on #2402
I don't expect we'll make changes here.

[2019-01-10 23:54] #2402 closed

[2019-01-10 23:55] muratg commented on #2404
As we haven't heard much from more customers on this, I'm closing this.

[2019-01-10 23:55] #2404 closed

[2019-01-10 23:58] jkotalik commented on #6488
@Villae please redownload the 1.1 hosting bundle, the link on the download page was incorrect as of this morning.

[2019-01-10 23:59] muratg commented on #2603
@DamianEdwards @glennc I'm closing this. Feel free to reopen if you'd like to get this anytime soon.

[2019-01-10 23:59] #2603 closed

[2019-01-11 00:00] muratg commented on #2604
We haven't heard customer complaints on this so far. Please feel free to reopen if you disagree.

[2019-01-11 00:00] #2604 closed

[2019-01-11 00:12] blowdart commented on #4483
The CORS spec, and numerous security researchers explain why allowing credentials with an allowed host of * and then reflecting back the actual incoming host is a security vulnerability.

This vulnerability was fixed in 2.2 in a manner that allows the browser to reflect the problem. In 3.0 it is likely we will go further than throw exceptions server side on such misconfigurations.

As this is a fi

[2019-01-11 00:12] #4483 closed

[2019-01-11 01:14] jkotalik commented on #6170
This is done.

[2019-01-11 01:14] #6170 closed

[2019-01-11 01:14] jkotalik commented on #6170
https://github.com/aspnet/AspNetCore/commit/a474a0567f42412bf0972382bf4d41761b810be4

[2019-01-11 01:16] JamesNK opened #6588 "Update RoutePatternFactory.Pattern to allow a list of parameter policies for a key"
`RoutePatternFactory.Pattern` takes dictionary for extra parameter policies.

Key = policy name
Value = policy

Because this is a dictionary, only one policy can be provided for a name. It would be useful to also support an enumerable of policies for a key.

Inspired by - https://github.com/aspnet/AspNetCore/pull/6587#discussion_r246975360

https://github.com/aspnet/AspNetCore/blob/14e606997f8ef40

[2019-01-11 01:21] ntnext222 commented on #6157
Thanks! Resolved.

[2019-01-11 01:57] txgz999 opened #6591 "Bug in the for loop in Razor template"
### Describe the bug
Passing variable to event handler inside a for loop behaves unexpectedly

### To Reproduce
Using the latest Visual Studio 2017 Version 15.9.5 and the Blazor template, create a page with the following content:
@page "/forloop"
@for(var i=1; i<=2; i++) {
    <button onclick="@(()=>showNumber(i))">@i</button>
}
@functions {
    void showNumber(int n) {
        Console.WriteLine(n

[2019-01-11 02:02] txgz999 commented on #6591
![1](https://user-images.githubusercontent.com/29514515/51008701-d9dd4200-151a-11e9-85bd-b790d4bb0d5c.png)

Somehow my code is not displayed well, so I have attached the screenshot here

[2019-01-11 02:13] benzhi2011 commented on #4549
any updates on this?

[2019-01-11 02:15] rafsanulhasan commented on #6441
Hi @Eilon @mkArtakMSFT @glennc,

I've tried to come up with these:
1. https://github.com/sicsbd/JsonTools
2. https://github.com/sicsbd/JsonSpecs

Please have a look and suggest me what can I do with it.
There are a lot of things to do. These are just the starting

[2019-01-11 02:37] rynowak commented on #6588
Seems like a good enhancement, is this blocking?

[2019-01-11 02:39] JamesNK commented on #6588
I don't think it is for the linked 2.2 patch

[2019-01-11 02:43] rynowak commented on #6588
OK good, because I don't think we would patch this.

[2019-01-11 02:47] JamesNK commented on #4549
Hi @benzhi2011

You should be able to fix this issue by disabling endpoint routing in Startup.cs where `AddMvc` is called:

`services.AddMvc(options.EnableEndpointRouting = false)`

We'll try to provide information about a more long-term solution soon.

[2019-01-11 02:50] benzhi2011 commented on #4549
thx

[2019-01-11 03:39] niemyjski commented on #4483
@blowdart any recommendations then for having a public api that requires cors?

[2019-01-11 03:39] shapeh commented on #6097
Hi @mikaelm12 - do you know if there are any updates to this bug? It continues in ASP.NET Core 2.2.1 and shuts down the application pool forcing us to manually restart the pool.

[2019-01-11 04:27] benaadams opened #6595 "[Test Failure] ReaderThrowsCancelledException"
IISIntegration test, wrong exception
[code]
Seen in https://github.com/aspnet/AspNetCore/pull/6594#issuecomment-453374209

[2019-01-11 04:33] davidfowl opened #6596 "First class IEndpointFeature and IRoutingFeature in Kestrel"
Today Kestrel has a fast path to avoid dictionary lookups by exposing features as fields on the it's IFeatureCollection implementation. We need to add the very commonly used IEndpointFeature and IRoutingFeature to this set this set:

https://github.com/aspnet/AspNetCore/blob/14e606997f8ef409f0ead89c0eda972bd09f96ab/src/Servers/Kestrel/tools/CodeGenerator/HttpProtocolFeatureCollection.cs#L22

cc @r

[2019-01-11 04:40] Tratcher commented on #6596
Have you checked every feature assigned durring a normal mvc request?

[2019-01-11 04:51] davidfowl commented on #6596
This isn't for MVC, this is for routing. I haven't looked at all of the features used by default in MVC though.

[2019-01-11 05:01] rynowak commented on #6596
The additional features MVC commonly uses are:
- Routing
- Endpoint Routing
- Form
- Antiforgery

[2019-01-11 05:44] davidfowl opened #6597 "Flakiness in SignalR Long Polling Tests"
[code]

[2019-01-11 05:46] davidfowl commented on #6597
cc @BrennanConroy ever seen this? I wonder if this is related to the changes I made to any of the pooling changes made recently.

[2019-01-11 05:51] davidfowl commented on #6597
Ah actually, it looks SignalR specific https://github.com/aspnet/AspNetCore/blob/31c8423df1a2366f9a33706b0d8b55948bd8d127/src/SignalR/src/Microsoft.AspNetCore.Http.Connections/Internal/Transports/LongPollingTransport.cs#L31

[2019-01-11 05:52] #4401 closed

[2019-01-11 05:53] BrennanConroy commented on #5315
Done https://github.com/aspnet/AspNetCore/pull/4559

[2019-01-11 05:53] #5315 closed

[2019-01-11 06:02] davidfowl commented on #5315
Thanks @DylanDmitri ! oh and @BrennanConroy 😉

[2019-01-11 06:11] barakimam commented on #6591
@txgz999 Kindly check the generated html code, is the expected argument passed into `showNumber`?

[2019-01-11 06:19] jmprieur commented on #6026
@karamem0 : I would recommend you look at this sample: https://github.com/azure-samples/active-directory-dotnet-native-aspnetcore-v2
cc: @Eilon

[2019-01-11 06:49] ghidello commented on #6591
In the first example the for loop is assigning the same variable to all the lambdas so, at the end of the loop, all the lambdas will point to the same value. In the second example the enumerator produces a collection of different variables and the loop binds them to the lambdas so they’ll have different values. Try to create a local variable inside the first loop and assign it to the lambda as sug

[2019-01-11 07:16] rynowak opened #6599 "Add a first class URL Path parsing feature in routing"
For certain styles of REST APIs it's really common to include URLs to other resources in of resources. This looks like:
[code]

You can use routing pretty conveniently today to generate these URLs when creating resources, but it would also be be awfully convenient if we could use the same routing functionality to take the URL back apart.

This would probably look something like:
[code]

Example us

[2019-01-11 07:54] tmds commented on #5920
I agree with that.

With the change in https://github.com/dotnet/coreclr/pull/21300, the Host will need to deal with setting the ExitCode (https://github.com/aspnet/AspNetCore/issues/6526). This means the C# becomes anyhow aware of exit codes. So we can't fully push it to the runtime.

This Run method would put everything in one place where we go from C# exceptions to process exit codes.

[2019-01-11 08:09] vtortola commented on #1976
Hi,

We are experiencing this problem : https://stackoverflow.com/questions/53868561/dotnet-core-2-1-hoarding-memory-in-linux

Basically the memory grows over the days until Kubernetes kill it because reaches the configured limit of 512Mb. Funny enough, the memory went down drastically while taking a memory dump, without the process restarting or anything.

We disabled also the concurrent GC (ie:

[2019-01-11 08:31] jan-inimco commented on #6033
Sorry that I didn't post this sooner but I was waiting how long it would take for someone to explain what is going wrong...

The simplest fix is to not use the AddAzureADB2CBearer extension method from the Microsoft.AspNetCore.Authentication.AzureADB2C.UI nuget package so you can just pass along the desired options! Just add the JwtBearer directly and configure it yourself instead of letting the e

[2019-01-11 08:51] davidfowl commented on #1976
@vtortola question, when you configured the 512Mb limit for your application, did you have an idea of the number of concurrent request you wanted to handle or tested how many concurrent request your app could handle before falling over??

[2019-01-11 09:00] fschlaef opened #6600 "Release notes URL for 2.2.1 returns 404 error"
In https://github.com/aspnet/AspNetCore/releases/tag/v2.2.1 the "Release notes" URL is

https://github.com/dotnet/core/blob/master/release-notes/2.1/2.2.1/2.2.1.md

Should be

https://github.com/dotnet/core/blob/master/release-notes/2.2/2.2.1/2.2.1.md

[2019-01-11 09:06] vtortola commented on #1976
We did some preliminary and rough tests and checked we could handle 500 concurrent websockets per pod using 512Mb. We ran for hours with 2 pods and 1000 concurrent connections with memory being less than 150Mb . The deployed application, with 2 pods, has between 150 and 300 concurrent connections at any moment, and the memory varies from less than 100Mb on the first few days, till reaching the 512

[2019-01-11 09:08] RemiBou commented on #6572
About your sample, I'm not sure what is causing the error but I see the following problems :

- You need a <form> and use the onsubmit handler.
- You don't need the async / await on your click handler.
- "asp-for" are useless as Blazor does not handle Razor helpers
- You can change your cancel button by a simple <a href>
- And you are calling "UriHelper.NavigateTo("/fetchemployee"); " at the end o

[2019-01-11 09:13] RemiBou commented on #5560
I don't think there is any way to be sure that your internal methods are called only by js from your lib. You could use an Observer pattern : a public class publish an event (called by js interop) and your internal class subscribes to this event.

[2019-01-11 09:47] RehanSaeed commented on #2603
Does this mean that we are definately not getting this for 3.0 and maybe even beyond?

[2019-01-11 11:07] javiercn commented on #6580
@Eilon I'm not sure how this causes problems given that they are both internal. I'll change the names as it really doesn't matter

[2019-01-11 12:01] poke commented on #6076
I had to fix the KoreBuild script to make this work for me (see https://github.com/aspnet/BuildTools/pull/903#issuecomment-453488786). The parsing of the vswhere output failed so KoreBuild wasn’t able to properly detect and verify my component set. – Maybe this helps someone who has a similar problem.

[2019-01-11 12:15] jacobrivera12 commented on #6572
Here is the project...

https://github.com/jacobrivera12/BlazorCrud/blob/master/BlazorCrud.rar

You just need to add a connection string on EmployeeContext and this is the code for the Database. (I am sure you know that)

[code]

I am not sure if I missed anything on my code, let me know and ill add it so you dont have to edit anything and just reproduce the issue than just adding a record.

By th

[2019-01-11 12:17] luizvitor89 opened #6601 "Use HttpContextAccessor in .Net Framework 4.7 or a way to convert HttpContext.Current to HttpContextAccessor"
Hey guys.

I am migrating a application .NET framework 4.7 to .NET Standard.

I'm dividing into small layers and migrating layer by layer. It was going very well, with each converted layer the system continued to work perfectly.

I noticed that anyone who developed it used session at the service layer instead of just using the presentation layer.

What I did was isolate the Session calls in a laye

[2019-01-11 14:05] RoboBurned opened #6602 "No service for type 'Microsoft.AspNetCore.Hosting.Server.IServer' has been registered"
### Describe the bug
Application cannot be started after following the steps from [Migrate from ASP.NET Core 2.1 to 2.2](https://docs.microsoft.com/ru-ru/aspnet/core/migration/21-to-22?view=aspnetcore-2.2&tabs=visual-studio#call-configurekestrel-instead-of-usekestrel) article

### To Reproduce
Steps to reproduce the behavior:
1. Try to migrate ASP NET Core application from NET Core 2.1 to 2.2 by u

[2019-01-11 14:40] Raja-Ashutosh opened #6603 "Error running docker container"
### Describe the bug

Trying to create and run AspDotNetCode mvc project in the window docker container, facing the below error.
[code]
Environment:
 1.ASP.NET Core netcoreapp2.1(2.2.102)
 2. Run this code - windows 10
3.Client:
 Version:           18.06.1-ce
 API version:       1.38
 Go version:        go1.10.3
 Git commit:        e68fc7a
 Built:             Tue Aug 21 17:21:34 2018
 OS/Arch:

[2019-01-11 15:02] natemcmaster commented on #6603
@Raja-Ashutosh can you share your Dockerfile?

My guess is you have a stale image and need to run `docker pull`.

[2019-01-11 16:15] jkotalik commented on #6097
@shapeh sorry we missed this. Can you try to capture a dump of the crashing process? We don't see anything obvious on why the process is crashing.

If this problem continues to persist, we'd recommend reverting to OutOfProcess until we can find the root cause.

[2019-01-11 16:15] RFDominguez commented on #6354
I guess the problem is caused by the fact that the "copy" command must be executed directly from a user action/event and the JS interop adds an extra layer making the call 'invalid?'
If I call the JS method directly the copy works as expected.

`<button class="btn btn-info d-inline" onclick="**copyToClipboard('awsCommand'**)">Copy to clipboard</button>`

[2019-01-11 16:16] SteveSandersonMS commented on #4055
Done in #6562

[2019-01-11 16:16] #4055 closed

[2019-01-11 16:17] SteveSandersonMS commented on #5589
Done in #6562

[2019-01-11 16:17] #5589 closed

[2019-01-11 16:18] jkotalik commented on #6135
This has been resolved.

[2019-01-11 16:18] #6135 closed

[2019-01-11 16:19] SteveSandersonMS commented on #6392
This is done, but it's in Components.Build (which is in turn referenced by Blazor.Build for Blazor apps, but not for Razor Components apps).

[2019-01-11 16:24] jkotalik opened #6605 "[Test Failure] ServerShutsDownWhenMainExitsStress"
[code]

[2019-01-11 16:43] muratg commented on #2603
@RehanSaeed Not for 3.0. In case we end up budgeting for this later, this may end up coming back.

[2019-01-11 16:54] muratg commented on #6131
I believe this is done (but they're still failing), right?

[2019-01-11 16:54] shapeh commented on #6097
@jkotalik - I am not sure how to do that - but I'd be happy to if you can give some instructions. It does not happen on a daily basis - sometimes weeks pass by.

[2019-01-11 17:02] BrennanConroy commented on #4399
What do we think is a reasonable default here? And should we somehow allow the server to set the size? @davidfowl

[2019-01-11 17:02] dcook-net commented on #4792
I've just encountered this too: using 2.2.102.
Any further update?

[2019-01-11 17:04] leecow commented on #6600
Fixed

[2019-01-11 17:04] #6600 closed

[2019-01-11 17:04] adamtuliper commented on #4105
Makes sense, thanks @muratg and @natemcmaster

[2019-01-11 17:09] jkotalik commented on #6097
If you have access to the server, can you try running Debug Diag: https://support.microsoft.com/en-us/help/919792/how-to-use-the-debug-diagnostics-tool-to-troubleshoot-a-process-that-h. Once you get the dump, please email me at my personal email listed on my github profile.

[2019-01-11 17:22] natemcmaster commented on #3503
This issue has resurfaced in 2.1.7. We are investigating the cause. I believe the workarounds mentioned above should continue to work to resolve this.

@hobbify in your case, try Workaround 2.

The cause of the problem now is an incomplete .deps.json file in the Microsoft.AspNetCore.App shared framework. It does not contain all the information it needs to about assembly versions. For example, look

[2019-01-11 17:35] yepeekai opened #6609 "Console output is not visible in visual studio when using AspNetCoreHostingModel set to InProcess"
### Describe the bug
The output of the web application is no longer visible in the output of visual studio (ASP.NET Core Web Server) when using InProcess IIS hosting (webapp.csproj => <AspNetCoreHostingModel>InProcess</AspNetCoreHostingModel>)

### To Reproduce
Steps to reproduce the behavior:
1. Create a new asp.net core web application in visual studio
2. By default AspNetCoreHostingModel is set

[2019-01-11 17:36] frankkilcommins commented on #3503
@natemcmaster For workaround 2 what version do you recommend? From comparing different app services created during our deployments different run-time versions are available. I can try with 2.1.6

[2019-01-11 17:47] natemcmaster commented on #3503
Wherever possible, I recommend the latest, 2.1.7, but it depends on your hosting server. The version you specify will be your application's **minimum**. If your hosting server doesn't have ASP.NET Core >= version, your app fail with "It was not possible to find any compatible framework version".

[2019-01-11 17:48] jkotalik commented on #6609
Can you check the Output window "Show output from: Debug"?

[2019-01-11 17:56] blowdart commented on #4483
Don't use credentials, like the spec says, or have registration of the host names that will host the API

[2019-01-11 17:58] BrennanConroy commented on #5319
Done via https://github.com/aspnet/AspNetCore/pull/4559

[2019-01-11 17:58] #5319 closed

[2019-01-11 18:02] txgz999 commented on #6591
Thanks for your suggestion Mubarak, but I don't know how to check the generated html code in this case. Right click the button and select "Inspect" from Chrome? I do not see the onclick handler that way. Would you please tell me the steps or a screenshot

    On Friday, January 11, 2019, 1:12:04 AM EST, Mubarak Imam <notifications@github.com> wrote:

@txgz999 Kindly check the generated html code,

[2019-01-11 18:09] Andrzej-W opened #6610 "Inconsistency in index.html in Blazor template"
Here is a partial listing from index.html file generated by VS template (Blazor 0.7.0)
[code]
For consistency second `meta` element should have `/>` at the end.

On the other hand in HTML meta, base and link tags don't have end tags. They have to be properly closed only in XHTML. Do we need XHTML compatibility in Blazor?

[2019-01-11 18:13] Eilon commented on #6580
As mentioned, it's not a huge deal, but stack traces are harder to read, and it seems to have caused some customer confusion as well when they were digging into the code. But, it's a good practice to follow anyway.

[2019-01-11 18:14] muratg commented on #3837
Not sure if we'll get to this anytime soon.

[2019-01-11 18:15] muratg commented on #3854
@jkotalik Can you get this in?

[2019-01-11 18:20] yepeekai commented on #6609
yes that works when you start debugging the web application.  Thanks for that workaround.  But this doesn't work when not in debug as it used to when using outofprocess...

[2019-01-11 18:21] muratg commented on #5973
@pakrym good to close?

[2019-01-11 18:22] sebastienros commented on #1976
Could you share a memory dump when it's at 100MB and 512MB to see what instances are still alive?

[2019-01-11 18:24] muratg commented on #4793
@yberstad Any updates on this?

[2019-01-11 18:29] arivera12 opened #6612 "How to read a javascript promise based function result using JsInterop and return to blazor?"
Lets say I am using navigator geolocation api. How can I return the result (success/error) of this promise based functions to blazor?

[2019-01-11 18:32] BrennanConroy commented on #4399
I'm going to do something for this in preview2 so it's at least not unbounded.

[2019-01-11 18:33] HaoK opened #6613 "[Identity] Add ability to UseEmailAsUserName"
We've debated this before, but given that this is the normal situation these days, we should probably revisit this and add support to have email be the user name (and iron out all of the issues that come along with that, uniqueness, email confirmation, etc)

See https://github.com/aspnet/Identity/issues/182 for some of the old context, old PR https://github.com/aspnet/Identity/pull/165/files

[2019-01-11 18:34] HaoK commented on #6613
@blowdart @ajcvickers should this go into 3.0-preview3 or what milestone?

[2019-01-11 18:34] arivera12 commented on #5660
@mrunks
Can you share a snip of code which reproduces the error? I have used most of the linq methods inside blazor and I haven't expected any problems yet.

[2019-01-11 18:36] BillHiebert commented on #6609
@muratg whenrun out of process, Visual Studio inserts a "shim" process between IIS and the users application, The shim starts the user process, connects to stderr\stdout and redirects it to a pipe opened by VS. Inprocess does not have the shim process so it doesn't pick up up the outputs.  Since we start the IIS Express process, we could look into grabbing its output and showing it in the window..

[2019-01-11 18:36] muratg commented on #4774
Required after this: https://github.com/aspnet/AspNetCore/issues/6397

[2019-01-11 18:37] muratg commented on #4741
@halter73 are you doing this in the next few days?

[2019-01-11 18:37] HaoK commented on #6568
Yeah I filed https://github.com/aspnet/AspNetCore/issues/6613 to track the all up support for making username as email just work.  We aren't sure exactly what the default UI will look like in 3.0 since its probably a good candidate for switching to razor components, so we will likely revisit the flows then.

[2019-01-11 18:39] muratg commented on #6596
@davidfowl Moved this out to preview3.

[2019-01-11 18:39] jkotalik opened #6615 "[Test Failure] DoesNotStartIfDisabled"
[code]

[2019-01-11 18:40] blowdart commented on #6613
I'd say Preview3.

[2019-01-11 18:41] muratg commented on #4698
@halter73 do we have any updates on this?

[2019-01-11 18:42] muratg commented on #5707
We believe 415 is set by MVC.

[2019-01-11 18:45] muratg commented on #6556
Looks like test isn't able to parse the error properly.

[2019-01-11 18:47] RussKeldorph opened #6616 "StackOverflowException occurs in Microsoft.AspNetCore.Mvc.ModelBinding.Binders.ComplexTypeModelBinder.BindModelAsync in .Net Core 2.2"
_From @wadebaird on December 27, 2018 22:37_

Got this when moving from 2.1 to 2.2. Everything worked fine in 2.1.

Here is the callstack:
 	Microsoft.AspNetCore.Mvc.Core.dll!Microsoft.AspNetCore.Mvc.ModelBinding.ModelNames.CreatePropertyModelName(string prefix, string propertyName) Line 40	C#

 	Microsoft.AspNetCore.Mvc.Core.dll!Microsoft.AspNetCore.Mvc.ModelBinding.Binders.ComplexTypeModelBinder

[2019-01-11 18:49] muratg commented on #6537
@jkotalik please close once the PR is in. Thanks.

[2019-01-11 18:50] jkotalik commented on #6609
I think piping the output of iisexpress would just "work". We do it in functional tests today.

[2019-01-11 18:54] muratg commented on #6198
The recommendation is to carry your own applicationHost.config file for IIS Express.

@guardrex Any updates we can make to the doc for this?

[2019-01-11 18:56] muratg commented on #6168
Let's look into re-enabling this test in the future.

[2019-01-11 18:59] muratg commented on #6123
Some of the possibilities:
- Config change from IIS
- AppPool recycles
- AppPool idle timeout
- ...

Given it's 1 sec into the app, probably the first.

[2019-01-11 19:05] bradygaster commented on #6143
Closing this as we haven't heard from you. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue if we're able to identify the problem.

[2019-01-11 19:05] #6143 closed

[2019-01-11 19:16] Tratcher commented on #4892
WebApplicationFactory is designed for a very specific in-memory scenario. Having it start Kestrel instead and wire up HttpClient to match is a fairly different feature set. We actually do have components that do this in Microsoft.AspNetCore.Server.IntegrationTesting but we've never cleaned them up for broader usage. It might make more sense to leave WebApplicationFactory for in-memory and improve

[2019-01-11 19:17] txgz999 commented on #6591
Thanks for your suggestion Alessandro, and it works. I wish I had found that ticket before posting.

    On Friday, January 11, 2019, 1:50:28 AM EST, Alessandro Ghidini <notifications@github.com> wrote:

In the first example the for loop is assigning the same variable to all the lambdas so, at the end of the loop, all the lambdas will point to the same value. In the second example the enumerator p

[2019-01-11 19:19] guardrex commented on #6198
Sure thing. I'll get it scheduled.

[2019-01-11 19:22] mac2000 commented on #6111
We have similar but different problem, the response from IIS is also 500.0 but nothing more (e.g. standard from windows 2008 r2)

![image](https://user-images.githubusercontent.com/88868/51054344-43298780-15e5-11e9-86b3-273d94d9adf6.png)

What is even worse, I have tried everything (switching environment to dev, turning on logs and module logs, changing apppool identity, turning inprocess on and o

[2019-01-11 19:22] CZEMacLeod commented on #3966
@jkotalik I'm slightly worried that these adapters are in the System.IO.Pipelines namespace and will be embedded in aspnetcore rather than available separately as they could be added to the System.IO.Pipelines package and used right now in applications other than aspnetcore.

[2019-01-11 19:39] jkotalik commented on #6602
Yeah the docs are a bit incorrect here. TL;DR You still need to call UseKestrel() before calling ConfigureKestrel() if you aren't use WebHost.CreateDefaultBuilder(). We recommend call ConfigureKestrel to configure Kestrel rather than UseKestrel(). UseKestrel adds the server which ConfigureKestrel() configures it.

Let me explain the problem the docs are trying to highlight.

In 2.2, we added a new

[2019-01-11 19:47] mikaelm12 commented on #6131
Yeah, I'm just gonna close this and we can use the original issue. https://github.com/aspnet/AspNetCore-Internal/issues/1489

[2019-01-11 19:47] #6131 closed

[2019-01-11 19:56] jkotalik commented on #6111
@mac2000 that seems like a different issue than listed above. Are you trying to run inprocess or out of process?

To confirm that things are still working with the original ANCM, can you change modules="AspNetCoreModuleV2" to modules="AspNetCoreModule"?

[2019-01-11 20:01] jkotalik commented on #3966
Plan is to have this eventually in System.IO.Pipelines in dotnet/corefx. So don't fret 😄

[2019-01-11 20:02] giggio commented on #4892
I'm fine with that, as long as we have a good end to end testing story.

[2019-01-11 20:02] giggio commented on #4892
I'm fine with that, as long as we have a good end to end testing story.

[2019-01-11 20:12] redradist commented on #6300
Seems like this is an issue only on Linux platform. I have currently created a Test Blazor Application on Windows and it is working ...

Maybe it will give some hints

[2019-01-11 20:22] natemcmaster commented on #3503
Proposed fix => https://github.com/aspnet/AspNetCore/pull/6619. It needs to go through approval channels first, but assuming that happens, this will be fixed in 2.1.8 and 2.2.2.

[2019-01-11 20:32] enetstudio commented on #6354
@RFDominguez, perahps you need to call the focus() method before calling select(). See here:
https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement/select#Notes

Also, did you try using elementRef instead of the element id ? This may make a difference... Who knows...

[2019-01-11 20:32] enetstudio commented on #6354
@RFDominguez, perahps you need to call the focus() method before calling select(). See here:
https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement/select#Notes

Also, did you try using elementRef instead of the element id ? This may make a difference... Who knows...

[2019-01-11 20:34] enetstudio commented on #6354
@RFDominguez, perahps you need to call the focus() method before calling select(). See here:
https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement/select#Notes

Also, did you try using elementRef instead of the element id ? This may make a difference... Who knows...

[2019-01-11 20:45] mac2000 commented on #6111
Yes seems like issue was not in dotnet and/or IIS but with NLB, seems like requests were routed to another machine which has no dotnet core which was a reason for 500 and explains why I did not saw any log records, will be able to check this after rolling 2.2 on all machines

[2019-01-11 21:02] halter73 commented on #4698
Not really. I got the pcap from @j-hudecek which shows the request in question took ~195 seconds on the wire instead of the ~180 seconds reported in the Kestrel logs. The response headers also confirm that Kestrel completed buffering the response at the 180 second mark.

@j-hudecek If you're still having this issue, can you try [switching to the libuv transport](https://docs.microsoft.com/en-us/as

[2019-01-11 21:06] halter73 commented on #4741
@muratg Yes.

[2019-01-11 21:19] caradong opened #6620 "asp.net core Authentication middleware return 401/403 with a valid token"
### Describe the bug
asp.net core Authentication middleware return 401/403 with a valid token

### To Reproduce
Our api use built-in middleware from .net core to validate tokens. We have a valid token returned by AAD and service-to service call (JwtBearerAuthentication ) always return 401 while visit the app in a browser (CookieAuthentication) middle ware always return 403.
if you have a Microsoft

[2019-01-11 21:26] Eilon opened #6621 "401/403 returned from asp.net core Authentication middleware with a valid token"
_From @caradong on Friday, 11 January 2019 20:06:46_

# Issue Title
asp.net core Authentication middleware return 401/403 with a valid token

# General
Our api use built-in middleware from .net core to validate tokens. We have a valid token returned by AAD and service-to service call (JwtBearerAuthentication ) always return 401 while visit the app in a browser (CookieAuthentication) middle ware al

[2019-01-11 21:34] #6620 closed

[2019-01-11 21:34] caradong commented on #6620
Duplicate of #6621

[2019-01-11 21:35] caradong commented on #6621
if you have a Microsoft account, you can try visit the app yourself in a browser:

The slot with problem: https://mercury-api.azurewebsites.net/
The slot without problem: https://mercury-api-tes.azurewebsites.net/

[2019-01-11 21:41] shirhatti commented on #6506
@jkotalik Will you get to this in 3.0?

[2019-01-11 21:44] jkotalik commented on #3128
Hey all, the issue originally state with websockets and IIS is fixed fixed. Please download the latest versions of 2.1, 2.2, and 1.x: https://dotnet.microsoft.com/download/dotnet-core/2.1, https://dotnet.microsoft.com/download/dotnet-core/2.2, and https://dotnet.microsoft.com/download/dotnet-core/1.1.

[2019-01-11 21:44] jkotalik commented on #3799
Hey all, the issue originally state with websockets and IIS is fixed fixed. Please download the latest versions of 2.1, 2.2, and 1.x: https://dotnet.microsoft.com/download/dotnet-core/2.1, https://dotnet.microsoft.com/download/dotnet-core/2.2, and https://dotnet.microsoft.com/download/dotnet-core/1.1.

[2019-01-11 21:44] #3799 closed

[2019-01-11 21:46] shirhatti commented on #3624
@joeloff Are we going to make any change here?

By changing the order in which dotnet is added to the PATH will break the opposite set of folks who have a different bitness SDK installed. My recommendation is to close this issue. We can doc this as known behavior that can be trivially fixed by changing your PATH.

[2019-01-11 21:46] jkotalik commented on #3128
@zlatanov are you using IIS in that unit test? It doesn't look like it, so you may have a different issue.

[2019-01-11 21:48] jkotalik commented on #6506
Yeah, let's punt it to preview 3 though.

[2019-01-11 21:48] davidfowl commented on #6601
Abstract the session calls (ISessionAccessor or something like this) in an interface and then have 2 implementations, one backed by HttpContext.Current and one backed by IHttpContextAccessor.

[2019-01-11 21:48] JamesNK commented on #6581
Should TaskExtensions in Specification.Tests be public?

[2019-01-11 21:49] joeloff commented on #3624
Agree. Since the hosting bundle will install both x64 and x86, not matter which way we arrange them, we'll just get opposite results. I'll raise this with some of the runtime folks as well

[2019-01-11 21:50] shirhatti commented on #6016
We're closing this issue due to a lack of interest. We'll re-open if there's enough interest

[2019-01-11 21:50] #6016 closed

[2019-01-11 21:52] shirhatti commented on #6012
We're closing this issue due to a lack of interest. We'll re-open if there's enough interest

[2019-01-11 21:52] #6012 closed

[2019-01-11 21:55] shirhatti commented on #5995
Looks like this has already been addressed in the docs https://github.com/aspnet/Docs/pull/8982

[2019-01-11 21:55] #5995 closed

[2019-01-11 21:57] JamesNK commented on #6581
I am not able to compile SignalR.sln in VS2019 preview 1.

Some various issues:
1. Solution has a reference to `Microsoft.AspNetCore.SignalR.Redis` that doesn't load
2. Lots of missing dependencies cause NuGet warnings
3. I think there was a merge mistake with `Microsoft.AspNetCore.SignalR.Common`. I think this reference Newtonsoft.Json was removed in master.

[2019-01-11 21:59] shirhatti commented on #2457
@Tratcher In 3.0, should we rewrite static files as an end-ware? That should solve this problem

[2019-01-11 22:01] Tratcher commented on #2457
@shirhatti it's worth a try. You'd still need a way to mark files as requiring authorization though.

[2019-01-11 22:02] BrennanConroy commented on #6581
I fixed up some stuff in https://github.com/aspnet/AspNetCore/pull/6622

[2019-01-11 22:03] shirhatti commented on #6009
@jkotalik @Tratcher Given that it's inconsistent, do we even bother trying to fix this? That's a lot of breaking changes for potentially no gain

[2019-01-11 22:03] shirhatti commented on #6009
If we do attempt it, we should try and get all the extensions into the right namespace in a single fix

[2019-01-11 22:06] Tratcher commented on #6009
I'd be nice if it were consistent, but in reality you end up with both namespaces in Startup.cs so it doesn't matter.

[2019-01-11 22:08] shirhatti commented on #6005
I realize this API in its current iteration is a pit of failure, but we've doced the behavior and at this point do not want to introduce a breaking change.

[2019-01-11 22:08] #6005 closed

[2019-01-11 22:09] shirhatti commented on #6001
@mkArtakMSFT @javiercn Is this still happening in 3.0?

[2019-01-11 22:13] shirhatti commented on #5998
We're currently not planning to do this. However, we're leaving this issue open to solicit feedback and ascertain how many folks are impacted by this. We may re-consider based on feedback

[2019-01-11 22:14] #6009 closed

[2019-01-11 22:17] #3860 closed

[2019-01-11 22:19] shirhatti commented on #3479
@Tratcher Do you still want to make the change to CommitAsync?

[2019-01-11 22:21] shirhatti commented on #2606
Closing this since #2618 is a superset of this bug

[2019-01-11 22:21] #2606 closed

[2019-01-11 22:22] Tratcher commented on #3479
Yes

[2019-01-11 22:32] shirhatti commented on #3099
@Tratcher I think we should make this change in 3.0. It could potentially be breaking for some clients, so better to get it out early in one of the previews. Thoughts?

[2019-01-11 22:32] shirhatti commented on #3099
cc @RehanSaeed as the OP for his thoughts as well

[2019-01-11 22:34] shirhatti commented on #3614
Closing as a dupe of #3099

[2019-01-11 22:34] #3614 closed

[2019-01-11 22:35] vchirikov opened #6623 "[Blazor] Bug in blazor cli `FindClientBinDir`"
### Describe the bug
I prefer use standard project structure, published by @davidfowl , so have sources in src, build output in artifacts folder.
I have client-side blazor app with redefined output path in Directory.build.props, something like this:

[code]
But if I redefine output path `dotnet blazor serve` can't find output assembly.

### To Reproduce
Steps to reproduce the behavior:
1. `dotnet

[2019-01-11 22:35] shirhatti commented on #3123
Closing as this isn't actionable. We believe there is enough fidelity of information in the debug log.

[2019-01-11 22:35] #3123 closed

[2019-01-11 22:35] blowdart commented on #3774
So summary time.

We discussed this at length, and yes, some of you have used dataprotection in really weird ways. But that's ok, we're not shaming you for.

Both Data Protection and Identity will remain targeted at .NET Standard 2.0 to enable you to continue being weird (with the caveat that the UI components for identity might not, depending on if we need 3.0 features there)

HOWEVER there **wil

[2019-01-11 22:37] shirhatti commented on #3471
@mkArtakMSFT @javiercn Is this planned for 3.0?

[2019-01-11 22:37] PinpointTownes commented on #3774
![](https://media.giphy.com/media/2dQ3FMaMFccpi/giphy.gif)

[2019-01-11 22:38] Tratcher commented on #3099
With conflicting specs I don't see a clear right answer. It's not obvious that one will work better than the other, we haven't had any reports of a functional problem.

As for setting `charset=utf-8`, we've been over that and decided against it. We don't know what the encoding is for contents of the files.

[2019-01-11 22:39] shirhatti commented on #3099
What's the conflicting spec?

[2019-01-11 22:39] #3042 closed

[2019-01-11 22:40] Tratcher commented on #3099
https://github.com/aspnet/AspNetCore/issues/3614#issuecomment-428919803

[2019-01-11 22:43] shirhatti commented on #3331
As alluded in https://github.com/aspnet/Session/issues/20, we aren't doing this

[2019-01-11 22:43] #3331 closed

[2019-01-11 22:44] shirhatti commented on #3099
So can we close this for good?

[2019-01-11 22:44] natemcmaster commented on #3774
I vote we keep it as is. No compelling reason to move it.

We will need to remove DP's dependency on Microsoft.AspNetCore.Hosting (FYI @Tratcher @davidfowl). We need to work through the options for replacing this dependency.

[2019-01-11 22:45] shirhatti commented on #3961
We aren't planning to do add support for this

[2019-01-11 22:45] #3961 closed

[2019-01-11 22:47] HaoK commented on #3774
Yeah splitting identity sucks, lets not do that unless there's a reason we have to

[2019-01-11 22:50] shirhatti commented on #2935
@Tratcher Can you help here? I don't have enough context

[2019-01-11 22:50] #2986 closed

[2019-01-11 22:50] #3024 closed

[2019-01-11 22:52] shirhatti commented on #2395
Dupe of #4767

[2019-01-11 22:52] #2395 closed

[2019-01-11 22:54] brockallen commented on #4647
FYI, here's a different approach to solving this issue, while being able to use same-site cookies.

https://brockallen.com/2019/01/11/same-site-cookies-asp-net-core-and-external-authentication-providers/

[2019-01-11 22:56] HaoK opened #6626 "[Helix] Razor Test.Common.TestCompilation.GetMetadataReferences will return null"
Tracking for tests failing on helix due to:

[code]

[code]

https://github.com/aspnet/AspNetCore/blob/haok/helix/src/Razor/test/testassets/Razor.Test.Common/TestCompilation.cs#L25

[2019-01-11 23:04] sebastienros commented on #1976
Can you compare then locally then? In terms of what object take the most memory, and if their number doesn't correlate to your load. Like if you have 300 connections there shouldn't be 3K connection objects.

[2019-01-11 23:07] HaoK opened #6628 "[Helix] MVC XmlSerializer_CanIndentOutputConditionally test failure"
Error:

[code]

[2019-01-11 23:37] Tratcher commented on #6575
That's likely what you'd see if the client terminated the request body early. E.g. They disconnected before sending the number of bytes specified in the content-length or before the chunked terminator. Can you log the headers to see if the request was content-length or chunked?

If this were locally I'd say to capture a Wireshark trace to verify the disconnect at the TCP level. Not sure how you ca

[2019-01-11 23:40] JunTaoLuo commented on #2957
The workaround isn't ideal since it uses reflection but it does get the job done.

[2019-01-11 23:48] JunTaoLuo commented on #2608
Not at the moment no. This would be a dramatic change in behaviour and I'm not sure if we would build this as a separate middleware or as a configurable option on the current middleware.

[2019-01-11 23:52] Tratcher commented on #2935
I don't recommend making any changes. Accessing state-full HttpContext fields inside the logger is dangerous and to be discouraged. App insights had similar issues and also fixed it by pre-reading any data they wanted at the start of the pipeline into their own data structure and then only having the logger touch that stable structure.

[2019-01-11 23:53] #3099 closed

[2019-01-12 00:01] pranavkm commented on #6626
This might be because the deps file isn't getting deployed with the application.

[2019-01-12 00:02] pranavkm commented on #6616
cc @dougbu

[2019-01-12 00:03] BrennanConroy opened #6633 "[Failed] Microsoft.AspNetCore.StaticFiles.StaticFileMiddlewareTests.ClientDisconnect_Kestrel_NoWriteExceptionThrown"
https://dev.azure.com/dnceng/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_build/results?buildId=71434

[2019-01-12 00:08] HaoK commented on #6626
So right now the helix payloads are just exactly the results of dotnet publish on each of the test projects, would these tests work if we just included the deps file during publish?  There's also much larger set of test helix failures (in razor and other places) due to the sln not being able to be found as well

[2019-01-12 00:16] pranavkm commented on #6626
The deps file should already be part of the publish, so that's pretty unusual. As for the sln file, quite a few tests use it to locate other assets \ projects inside the current *repo*.

[2019-01-12 00:22] #4187 closed

[2019-01-12 00:35] dougbu commented on #6616
Looking through the loop in the most recent 2.2 branch, we have

https://github.com/aspnet/AspNetCore/blob/5810af5ce79eac0f36cda16a2581a9e78dbf67a7/src/Mvc/src/Microsoft.AspNetCore.Mvc.Core/ModelBinding/Binders/ComplexTypeModelBinder.cs#L233

https://github.com/aspnet/AspNetCore/blob/5810af5ce79eac0f36cda16a2581a9e78dbf67a7/src/Mvc/src/Microsoft.AspNetCore.Mvc.Core/ModelBinding/Binders/ComplexType

[2019-01-12 00:42] dougbu commented on #6616
Also, @wadebaird, yes, the rest of the code would probably help. The model binding system seems to be both recursing and failing while binding a single type and I'd like to see the context.

If I'm correct, this is an issue somewhat related to #4939. In both issues, `ComplexTypeModelBinder` sometimes succeeds even if all inner binders fail. That leads to an ever-expanding collection in #4939 and e

[2019-01-12 01:04] rynowak commented on #6626
Yeah we need to be able to load ref assemblies for these tests

[2019-01-12 01:05] rynowak commented on #6626
Yeah the Razor stuff will probably need a fresh look if it's a good to run on helix. We do a **ton** of nonstandard stuff.

[2019-01-12 01:15] #5973 closed

[2019-01-12 01:49] rynowak opened #6635 "Tooling build should switch incorporate fixes for VSIX build when we target 16.1"
We got a fix for https://github.com/dotnet/arcade/issues/1681 which will be great to use.

The new VSIX Versioning scheme used by arcade is like: `16.0.0.201901113`
Unfortunately, the numbering scheme of our VSIXes thus far has been like: `16.0.20190111.3`

I don't want to make a stupidly long version number like: `16.0.99999999.201901113` - it's possible that we could hit an internal limit and I

[2019-01-12 02:01] rynowak commented on #6397
@halter73 do you have a (non-glib) proposal for what that looks like?

For context, we already do something internally that might map pretty well to pipelines. If it is a good fit, and all 3.0 users can run on pipelines then I'd like to see what it would take to migrate Razor.

[2019-01-12 02:55] ahmelsayed commented on #6415
@pakrym I may be doing things wrong, but we have an issue where **sometimes** doing

[code]

on a request with chunk encoding

throws this exception

[code]

I tried building https://github.com/aspnet/AspNetCore/pull/6483 and replacing `aspnetcorev2_inprocess.dll` in `C:\Program Files (x86)\dotnet\shared\Microsoft.AspNetCore.App\2.2.1\`  but now **all** requests that are chunk encoded throw the sa

[2019-01-12 03:01] #6581 closed

[2019-01-12 03:49] John0King commented on #6475
I'll try the new ANCM next week , I add a 2 minutes timeout for now

[2019-01-12 08:47] angrymrt commented on #2957
@JunTaoLuo how about a dependency on an IResponseCacheFactory that has a Create(IOptions<ResponseCachingOptions> options) method?

Then just pass the IResponseCacheFactory into the internal constructor and use it to create a cache (either distributed or memory).

[2019-01-12 09:41] shapeh commented on #6097
Super. I will forward the crash dump once it is there. I just set up a rule for monitor that specific app pool for any exceptions.

[2019-01-12 10:05] tezzly opened #6639 "Problem with Mono or IL Linker"
### Describe the bug
I'm unable to **run** Blazor - blazorhosted application (as a whole)

I'm unable to **compile** Blazor.Client side.

Firstly - this error occured

[code]
Then:

[code]

When trying to compile just Client side
[code]

After double clicking this error it opens:

**Blazor.MonoRuntime.targets**

in

**C:\Users\Admin\.nuget\packages\microsoft.aspnetcore.blazor.build\0.7.0\targets**

[2019-01-12 10:45] wis3guy opened #6640 "Static Files not being served on Mac (SCD)"
When i create a new AspNetCode (2.1.1, not tested in older versions) app and publish it to a macOS distributable, static files are not being served. Regular action methods work as expected.

I need this to distribute the self contained mvc app (https://docs.microsoft.com/en-us/dotnet/core/deploying/#self-contained-deployments-scd) as part of an Electron application.

## Expectation
Regardles the w

[2019-01-12 10:47] romanoza commented on #5637
@Abdsoft Yep, that works (as a temporary "solution"). Thanks.

[2019-01-12 10:48] patricka2 commented on #6111
In web.config, I changed modules to "AspNetCoreModule" and its work, but "AspNetCoreModuleV2" do not works

[2019-01-12 11:18] CharlesOkwuagwu commented on #1671
@lextm

No, no it is not. I'm using VS2019 ... and this problem still persists in 2019

[2019-01-12 11:39] CobraCalle commented on #5592
Hello,

I've got this error too, but I think the problem is another than discussed until now…

We are developing a blazor version of our 3D product configuration application at the moment and we use xml3d to build the scene in html with blazor (works like a charm by the way :-) ). Here we define the required materials first and later we reference the materials in the geometries... at some point of

[2019-01-12 13:56] jlchavez opened #6641 "Centralized Identity Paths"
I understand how asp.net has changed, and there are a lot of things that are still missing. Is there an easy what to get the Cookie Options programmatically so that I can build links according to the website configuration, and not manually changing it, like we used to have in asp.net webforms.

I'm pulling the IOptionsMonitor<CookieAuthenticationOptions> from HttpContext.RequestServices but the da

[2019-01-12 14:42] devSoheilAlizadeh commented on #6486
Is this just about `AddGoogle`?
There are more methods like `AddTwitter`,`AddFacebook`,`AddMicrosoftAccount`.

[2019-01-12 14:54] xperiandri commented on #1671
I confirm about 2019

[2019-01-12 14:59] ghidello commented on #6591
I’m glad it helped!

[2019-01-12 15:51] Tratcher commented on #6486
Correct, only Google.

[2019-01-12 15:55] devSoheilAlizadeh commented on #6486
Thanks @Tratcher, could you say why just Google has this change?

[2019-01-12 17:00] TKharaishvili commented on #4890
@dougbu I understand the not pushing one's pull requests idea, I also understand that there's a ton of stuff to get done and everyone's incredibly busy. But I still have to say that the lack of attention to this particular issue is a bit discouraging. The fact that three different people have been sending PR-s, hoping to have contributed but none of them have been able to do so so far, kind of dem

[2019-01-12 18:54] jacobrivera12 commented on #6572
Thank you alot. I finally fixed the issue, I was adding a new template and I accidentaly removed it I guess.

[2019-01-12 19:52] luizvitor89 commented on #6601
Great ideia. I will try it, then back here with a feedback. Thanks.

[2019-01-12 20:49] jlpvb opened #6642 "Functions from IdentityErrorDescriber.cs not the same as in Resources.resx"
Hi.

The class IdentityErrorDescriber has a function 'DuplicateEmail(string)'.  And the 'Resources.resx' has a key called 'DuplicateEmail'.

But not all the keys have a function in 'IdentityErrorDescriber' class:

- DuplicateName
- ExternalLoginExists
- LockoutNotEnabled
- NoTokenProvider
- NoTwoFactorProvider
- PasswordRequireDigit
- PasswordRequireLower
- PasswordRequireNonLetterOrDigit
- Passwo

[2019-01-12 20:56] TKharaishvili commented on #6076
@natemcmaster I had the same initial problem(MSBuild related one), then I tried to run the `InstallVisualStudio.ps1` script and now powershell is complaining about not finding the Get-RemoteFile cmdlet:

![image](https://user-images.githubusercontent.com/4363170/51078405-efdf3400-16cd-11e9-9025-d5814529bcfb.png)

Thanks for the help in advance.

[2019-01-12 21:13] ahmelsayed commented on #6415
yep, that was it. Thanks @pakrym!!

[2019-01-12 21:36] poke commented on #6076
You should be able to install all dependencies for Visual Studio by running

[code]

(Adjust the path for your respective VS installation)

You can get the component list you need from the `korebuild.json` file in the root.

[2019-01-13 05:39] alexlchen commented on #6140
I have the same issue. When I changed the environment variable value from "Development" to "Staging" or "Product",  The error happened and showed "HTTP Error 500.30 - ANCM In-Process Start Failure".
After I set it back to "Development", everything is ok.
LaunchSetting.json
{
"profiles": {
    "IIS Express": {
      "commandName": "IISExpress",
      "launchBrowser": true,
      "environmentVariabl

[2019-01-13 05:45] John0King commented on #6475
I try this today ,and it fix for IIS (dotnet hosting bundle) , but not for IIS-Express(dotnet SDK)
I look the aspnetcore.dll

server type  | runtime type | ancm info
|-----------|-------------|------------|
dev server|  dotnet hosting |  ancm v12.218346.1 (in `inetsrv` and `program file/iis` )
local pc    | dotnet sdk    | ancm v12.2.18192.0 (in `program file/iis express`)

## here's  the `dotnet

[2019-01-13 11:50] #6642 closed

[2019-01-13 11:55] jlpvb commented on #6642
I took the function names from the file:
   https://github.com/aspnet/AspNetIdentity/blob/master/src/Microsoft.AspNet.Identity.Core/Resources.Designer.cs

without noticing that it was not in the main branch.

The correct file was:
   https://github.com/aspnet/AspNetCore/blob/master/src/Identity/Extensions.Core/src/Resources.resx
which already has the correct function names.

I'm sorry very much.
:

[2019-01-13 15:35] johngsandiford opened #6647 "Blazor: Lack of support for INotifyPropertyChanged and INotifyCollectionChanged"
After a lot of experimentation, it appears that Blazor does not currently support auto refresh of the UI based on changes to objects implementing either INotifyPropertyChanged or INotifyCollectionChanged interfaces, that are used in other UI frameworks.

If there is no built-in auto-refresh mechanism, and this is by design,  then I guess Blazor is similar to React in the way refreshes work.  I.e.

[2019-01-13 16:08] guylando opened #6648 "Eventlog error when hosting on iis with httpsys: The application-specific permission settings do not grant Local Activation permission for the COM Server application with CLSID"
Seeing in server event log "System" catalog errors originating from "DistributedCOM" source saying:
`
The application-specific permission settings do not grant Local Activation permission for the COM Server application with CLSID
{D63B10C5-BB46-4990-A94F-E40B9D520160}
 and APPID
{9CA88EE3-ACB7-47C8-AFC4-AB702511C276}
 to the user IIS APPPOOL\user SID (S-1-5-82-2959028982-2059026064-4278656777-6979

[2019-01-13 16:17] zokiad commented on #5135
On my side, I create LinkGenetor like this:

[code]

work fine

[2019-01-13 17:32] Andrzej-W commented on #5165
@Matthew-Bonner

Blazor is modern framework and even in server-side mode it uses some new JavaScript constructs which are not supported by older browsers, for example promises.
https://caniuse.com/#search=promises

[2019-01-13 17:36] erhuan-msft opened #6649 ""Connection: close" is not respected when httpsys server response HEAD request with body"
### Describe the bug
On Asp.Net Core 2.2, httpsys server does not automatically remove response body on HEAD request. This means the server will respond with mal-formed response. In the particular case where the HEAD request comes with "Connection: Close" header, server will response with "Connection: Close" header but does not close the connection on the server end. This causes the server to have

[2019-01-13 17:56] #6564 closed

[2019-01-13 18:40] Andrzej-W commented on #6462
I think it is not a bug and we don't have to fix anything here. It is "by design". SPA application doesn't necessary mean that it have to be full browser width/height application. In case of default Blazor template whole document is scrollable and that is correct. You can subscribe to window scroll events in JavaScript and then call C# from JS. You can also design full width/height layout and then

[2019-01-13 18:55] enetstudio commented on #6647
As far as I know the method StateHasChanged is automatically called by Blazor after events are raised. But you, the programmer, can call this method to refresh the UI whenever the state of your components has changed.

This is what Steve Sanderson has to say about your issue: https://github.com/aspnet/Blazor/issues/1532

[2019-01-13 20:34] arivera12 commented on #6462
@Andrzej-W I thougth for a moment I thought it was a bug but I reply then after that it was not a bug and was regarding on the design of the template and I also understand all those point and I thanks you for the clarifications about the scroll different types of cases. In my case I am still looking to listen to the onscroll event on the end of a list (li tag) or bottom of the page. But will dig a

[2019-01-13 20:34] #6462 closed

[2019-01-14 00:20] davidfowl opened #6652 "[CI Failure]: Interop.FunctionalTests.H2SpecTests.RunIndividualTestCase(testCase: http2/4.3/3, HTTPS:True, Sends a HEADERS frame to another stream while sending the header blocks)"
[code]

[2019-01-14 05:03] #6102 closed

[2019-01-14 05:10] mansoor-omrani opened #6657 "ASP.NET Identity CookieAuthentication middleware results in too many redirects for authorized users visiting login page with a ReturnUrl param"
I described it [here](https://github.com/aspnet/AspNetIdentity/issues/18)

I encountered this behavior (I don't know to call it a bug or issue) in traditional MVC. I didn't test it in MVC core, so I don't know if ASP.NET Identity code is affected or not.

I thought to write about that here as well. I noticed the repository I posted the issue there was solitude.

[2019-01-14 05:43] Raja-Ashutosh commented on #6603
FROM microsoft/dotnet:2.1.4-sdk AS build

WORKDIR /app/AspDotNetCoreTodo

COPY *.csproj ./

RUN dotnet restore

COPY . ./

RUN dotnet publish -o out /p:PublishWithAspNetCoreTargetManifest="false"

FROM microsoft/dotnet:2.1.4-runtime AS runtime

ENV ASPNETCORE_URLS http://+:80

WORKDIR /app

COPY --from=build /app/AspDotNetCoreTodo/out ./

ENTRYPOINT ["dotnet", "AspDotNetCoreTodo.dll"]

[2019-01-14 06:45] davidfowl commented on #5946
Fixed by @CBaud! Thanks dude

[2019-01-14 06:45] #5946 closed

[2019-01-14 07:53] poke commented on #3099
For what it’s worth, the [RFC that should have standardized this change](https://tools.ietf.org/html/draft-ietf-dispatch-javascript-mjs) also expired in November. So unless there is some fresh developments on this, I don’t think we need to do anything.

[2019-01-14 07:58] j-hudecek commented on #4698
I'll try the libuv and get back to you

[2019-01-14 08:10] johngsandiford commented on #6647
Additional thought: Deriving from BlazorComponent may not be the best way to do this, as developers creating custom shared components (e.g. DataGrid) would also need to optionally support this refresh mechanism, but also others.

[2019-01-14 08:16] UweKeim opened #6659 "Is there a German Language Pack available"
Knowing that the full .NET Framework provides Language Packs for various languages, I was searching for something similar on the [.NET Core 2.2 downloads](https://dotnet.microsoft.com/download/dotnet-core/2.2) downloads page without success.

My issue is currently that the validation messages in my ASP.NET Core application for e.g. the `Required` attribute are shown in English, although the Window

[2019-01-14 08:20] KANekT opened #6660 "UseStaticFiles after update from 2.1 to 2.2"
### Describe the bug
[code]

project folder is D:\zaochno\new\src\WebSite

in 2.1 files look in
'D:\zaochno\new\src\WebSite\Files\'

in 2.2 files look in
'C:\Program Files\IIS Express\Files\'

[2019-01-14 10:13] kzaabox opened #6661 "Extend ModelError class with the ability to have custom validation properties and values"
### Related item:
[Improve validation for non-interactive consumption](https://github.com/aspnet/AspNetCore/issues/4840)

### Problem:
Currently it is not possible to attach custom properties to the model validation result object.
The [ModelError](https://github.com/aspnet/AspNetCore/blob/321327f84b2b22dcff2e9beb06a9a64236c5cced/src/Mvc/src/Microsoft.AspNetCore.Mvc.Abstractions/ModelBinding/ModelE

[2019-01-14 10:42] redradist opened #6662 "Exception thrown in ASP.NET Blazor Server Side Template"
### Describe the bug
Install ASP.NET Core 2.2 and try to create Blazor Application. After building and running Application exception is thrown

### To Reproduce
Steps to reproduce the behavior:
1) Install Ubuntu 16.04
2) Install ASP.NET Core 2.2 by link https://dotnet.microsoft.com/download/thank-you/dotnet-sdk-2.2.102-linux-x64-binaries
3) Install Blazor template by the following command:
`dotnet

[2019-01-14 11:12] KANekT commented on #6660
I think this is: https://github.com/aspnet/AspNetCore/pull/6150

[2019-01-14 11:31] FionaHolder opened #6663 "No clear recommended approach for code generation with ASP.NET Core"
I am looking to build an application with ASP.NET Core and I am struggling to find any documentation or guidance on code generation.

Specifically, I am trying to generate controllers and views based upon my entities (I use Entity Framework) at build time.

All I can find is information about T4 templates, that don't seem to be supported any more. Scaffolding seems to be a related topic, but isn't

[2019-01-14 11:42] samisil commented on #5160
Hi @Tratcher ,

I see that the check was added before I noticed. No need for my changes.

Thank you for your time.

[2019-01-14 11:58] Aj1402 commented on #5223
I have the same issue, but what I can see is that the index.html that the server returns is from wwwroot/ not from ClientApp/build (my distribution directory) therefore problem lies with wrong index.html being served. Can anybody tell me how can this be fixed?

[2019-01-14 12:54] IvanJosipovic commented on #6662
Duplicate https://github.com/aspnet/AspNetCore/issues/5666

[2019-01-14 13:57] llonikko commented on #2751
I got the same error during build time. I used the .NET Core CLI.

Adding the **LangVersion** to the main **PropertyGroup** fixed the issue for me.

[2019-01-14 14:53] seriouz commented on #5588
[Comment from Kaffeegangster](https://github.com/aspnet/AspNetCore/issues/5588#issuecomment-422927824) worked!

[2019-01-14 14:55] TKharaishvili commented on #6076
@poke thanks for that. I managed to get past that MSBuild version related error but I've stumbled upon a new one now. I'm trying to build the Mvc solution and here's what happens:

![image](https://user-images.githubusercontent.com/4363170/51120145-e836a100-182d-11e9-8e0b-67c4b6dfee5c.png)

[2019-01-14 15:24] alexdresko opened #6664 "2.1 won't install after install+uninstall of 2.2"
### Describe the bug
At this point, I get no error when I install the 2.1 hosting bundling, but the AspNetCoreModule is never registered in applicationhost.config.

I do know we replicated the problem on two different machines (pretty much up-to-date Windows 10 Pro), so that seems odd.

### To Reproduce
To the best of my knowledge, this is what happened. I was the third developer called in to figu

[2019-01-14 15:24] #5160 closed

[2019-01-14 15:32] #5639 closed

[2019-01-14 15:34] ksmithRenweb opened #6665 "AspNetCore 2.2 Web API Backward Compatibility broken when dealing with Nullable Values"
Previously web api endpoints taking Nullable<value> parameters worked when called with explicit "null" from client's. eg.
/api/Values/test/asdf=null or /api/Values/test/null

With AspNetCore 2.2 and the use of the new ApiController attribute. We started getting the error:
{"errors":{"asdf":["The value 'null' is not valid."]},"title":"One or more validation errors occurred.","status":400,"traceId":

[2019-01-14 16:19] jkotalik opened #6666 "[Test Failure] GracefulTurnsAbortiveIfRequestsDoNotFinish"
[code]

[2019-01-14 16:40] renzors commented on #5145
@jkotalik just to verify, Is there an official announce about the  ANCMV2 availability over Azure App Services?

[2019-01-14 16:45] SteveSandersonMS commented on #5592
@CobraCalle Your issue sounds unrelated to the one being originally reported here. I think your issue is that you need to preserve DOM element identity through edits because of the 3rd party library that's also interacting with the DOM. This requirement is handled by specifying `key`, however it's not yet implemented (tracked in #5455). Until we implement `key`, you'll need to continue using your

[2019-01-14 17:09] natemcmaster commented on #6603
You are using the wrong base image. Make this change, and I think it will resolve the problem.
[code]

See https://github.com/dotnet/dotnet-docker/blob/master/samples/aspnetapp/README.md for more details.

[2019-01-14 17:09] #6603 closed

[2019-01-14 17:13] natemcmaster commented on #6076
@TKharaishvili can you open a new issue describing how to reproduce this problem? This issue has been closed and I believe the original problem was addressed, which means there is no one tracking this anymore.

[2019-01-14 17:14] codec-abc opened #6668 "Blazor: System.DllNotFoundException: MonoPosixHelper"
### Describe the bug
I am developing a small app with blazor where a 3rd party ([ExcelDataReader](https://github.com/ExcelDataReader/ExcelDataReader) - [Nuget page](https://www.nuget.org/packages/ExcelDataReader/)) library have to decompress a zip file in memory. I encountered an error and I managed to reduce the problem to 2 lines of codes (see below).

### To Reproduce
Steps to reproduce the beh

[2019-01-14 17:20] JipingWang opened #6669 "AccessDeniedPath wrong"
### Describe the bug
https://localhost:5001/Account/AccessDenied?ReturnUrl=%2FPrivacy

### To Reproduce
Steps to reproduce the behavior:
1. New ASP.Net Core 2.2 Web Application
2. Add package
`<PackageReference Include="Microsoft.AspNetCore.Authentication.AzureADB2C.UI" Version="2.2.0" />`
3. Authorize Privacy.cshtml.cs
[code]
4. configure "AzureAdB2C" in appsettings.json
5. F5 to run
6. click **P

[2019-01-14 17:26] mxmissile opened #6671 "Could we get Microsoft.AspNetCore.App.Lite?"
I like the idea of this meta package, but could we get a package that does not include the kitchen sink? (ef, logging, identity etc)

Something like `Microsoft.AspNetCore.App.Lite` or `Microsoft.AspNetCore.App.Barebones`

[2019-01-14 17:38] TKharaishvili commented on #6076
@natemcmaster sorry about that. I will.

[2019-01-14 17:48] NTaylorMullen opened #6672 "Abstract ProjectSnapshotManager away from Roslyn projects."
Today Razor's project manager depends on Roslyn projects to determine things like TagHelpers lazily. The issue with this approach is that you don't always have a Roslyn project to determine TagHelpers or other inputs. For instance, in LiveShare there is no Roslyn project on the guest side and in VSCode there is no Roslyn project in the language server. This leads to some interesting problems when

[2019-01-14 17:50] Raja-Ashutosh commented on #6603
Thanks its woring

[2019-01-14 18:03] rynowak commented on #5669
This is done 👍 - this will be going on in VS 2019 preview 2, but will require updated runtime packages/templates to work. Stay tuned for announcements when we release the next set of previews.

[2019-01-14 18:03] #5669 closed

[2019-01-14 18:04] blowdart commented on #6657
If this reproduces in .NET Core please feel free to reopen this bug, but as it's speculative I'm closing it for now.

[2019-01-14 18:04] #6657 closed

[2019-01-14 18:05] pranavkm commented on #6365
This is done. We need a few rounds of updating the versions \ cleanup that @SteveSandersonMS  is already doing.

[2019-01-14 18:05] #6365 closed

[2019-01-14 18:07] blowdart commented on #6641
I don't understand what you're trying to do here? What sort of links? Where does SSO come into this? Do you mean identity as in user identity, or the asp.net core identity libraries?

[2019-01-14 18:10] pavel12345 opened #6674 "Inconsistent IPNetwork.Contains behavior for prefixes which are not at start of subnet range."
### Describe the bug

In AspNetCore/src/Middleware/HttpOverrides/src/IPNetwork.cs

The code below assumes that the prefix will have all bits in position > mask length set to 0. I do not believe that this a requirement for CIDR notation. If it is, it is not applied consistently since the routine will break if the mask is == 0 at a given byte.

            for (int i = 0; i < PrefixBytes.Length && M

[2019-01-14 18:18] shreyagr commented on #6575
The requests are content-length. The client does not actually disconnect till 5 seconds, so that does not seem plausible. I'll try wireshark on the VMs but this happens on container instances, so not sure.

[2019-01-14 18:25] HaoK opened #6675 "[Helix] Some razor tests fail due to NewLine differences on non windows"
Appears to be some line ending diff failures on several razor tests when run on helix (non windows queues)

[code]

I fixed a couple easy cases of this, but will using this issue to track skips in the PR

[2019-01-14 18:31] HaoK commented on #6675
Ah, yea the payloads are all built and checked out on windows and sent to all the target queues, the idea is to build once and send out all the payloads which just run.

So the easy fixes to some of these failures were replacing ```@""``` that had newlines inside the string with split up strings that used `Environment.NewLine` instead.

[2019-01-14 18:35] HaoK commented on #6675
Is there a larger issue here with the razor tests?  Are there some that really need to depend on being built on the same machine that the tests will be run on?

[2019-01-14 18:41] rynowak commented on #6675
Yeah, that kinda thing really doesn't work for Razor in the large. A lot of tests'n'stuff have lengths/indexes in them.

[2019-01-14 18:50] blowdart commented on #3774
@natemcmaster is the dependency for the discriminator and for the automatic guess at where to put things?

[2019-01-14 19:00] HaoK commented on #6675
Got it, @natemcmaster looks like some Razor tests are expecting to run on the same machine OS they were built on for some of their calculations to work.  We could still make this work with an additional category of helix test runs that do source checkout onto the test machines and run all of the tests that require source / and or being built on the machine.

Basically split all the test assemblies

[2019-01-14 19:00] tillig opened #6677 "Enable health check only management port"
Issue #2579 added the ability to bind health checks to a specific port so they're only visible to internal components. Good stuff.

However, it turns out you can't _dedicate_ the port to management/health check purposes. That is, if there's a "main port" for handling other requests and a "management port" for handling health requests... you can still make all requests over that management port tha

[2019-01-14 19:05] pranavkm opened #6678 "Restore ExpressionRewriter for build time and runtime compiled views"
Runtime compilation of Razor views and Pages used a Roslyn rewriter to produce a less allocation version of the SyntaxTree. Here's the code in use: https://github.com/aspnet/AspNetCore/blob/release/2.2/src/Mvc/src/Microsoft.AspNetCore.Mvc.Razor/Internal/ExpressionRewriter.cs. When converting to use build time compiled views, this optimization was lost. In addition, we aren't porting this feature a

[2019-01-14 19:08] HaoK commented on #6675
Actually, this is pretty similar to what the current PR does already, if we just tweaked things so the existing CI jobs only ran a subset of tests that don't work on helix (and let the helix job run the rest)

[2019-01-14 19:08] Joel-S-Black commented on #4733
I am having the same exception stack trace, with a WRN level, not INF. In my case, the application is .Net Core 2.1, running in a docker container in Rancher. I was on packege Microsoft.AspNetCore version 2.1.7, I am downgrading to Microsoft.AspNetCore 2.1.4 to see if that mitigates the issue.

[2019-01-14 19:09] rynowak commented on #6678
I don't think we should ever do this.

[2019-01-14 19:10] NTaylorMullen opened #6679 "Typing a newline after @section name { results in a bad smart indent."
### Describe the bug
Original VS issues: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/734823 and https://devdiv.visualstudio.com/DevDiv/_workitems/edit/767171

This is due to WTE not being able to wait for the latest SyntaxTree from us (perf issues) before calling `GetDesiredIndentation`. The fix for this most likely will involve a new API of some sort to ensure expectations on both side

[2019-01-14 19:13] JunTaoLuo commented on #2957
There are certainly many ways to build this functionality. I'm not sure when we'll triage this work item though.

[2019-01-14 19:15] Eilon commented on #6663
Hi @FionaHolder , there's a Scaffolding feature in ASP.NET Core that ships as a set of command line tools you can invoke. By default they can generate MVC views/controllers or Razor Pages, typically based on Entity Framework Core models.

You can learn more about this in the documentation: https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/page?view=aspnetcore-2.2&tabs=visual-studi

[2019-01-14 19:19] natemcmaster commented on #3774
IIRC, yes. We tried to fix this a while ago by flipping the dependency direction so Hosting -> DataProtection, but that upset @davidfowl.

[2019-01-14 19:19] Tratcher commented on #6669
Related to https://github.com/aspnet/AspNetCore/issues/4384?

[2019-01-14 19:20] rynowak commented on #6543
The PR to port the fix is: https://github.com/aspnet/AspNetCore/pull/6658

[2019-01-14 19:21] blowdart commented on #3774
That's a bonus then surely?

[2019-01-14 19:59] #6206 closed

[2019-01-14 21:08] JamesNK commented on #5055
Ryan and I looked into this issue. We don't think it is something that can be easily patched in 2.2. A fix will come in 3.0

If you have this problem then you should be able to fix it in 2.2 by disabling endpoint routing in Startup.cs where `AddMvc` is called:

`services.AddMvc(options.EnableEndpointRouting = false)`

[2019-01-14 21:16] pranavkm commented on #4792
Unfortunately this does not meet the patch requirements for 2.2. Here are the suggested workaounds

* Continue using the 2.1 compatibility version
* If upgrading to 2.2 compatibility version, either set `ApiBehaviorOptions.SuppressMapClientErrors = true` or change `ApiBehaviorOptions.InvalidModelStateFactory` as follows:

[code]

The flag no longer exists in 3.0, so no additional work is required

[2019-01-14 21:16] #4792 closed

[2019-01-14 21:52] owaits opened #6684 "onClick events fail if inside CascadingValue"
If you use a CascadingValue in a component and the child content directly has events such as onclick in a button then when the event is raised an exception occurs to the effect that CascadingValue does not implement IHandleEvents.

CascadingValueComponent.cshtml

[code]

UsingComponent.cshtml

[code]

If you now run this with the developer console open you get something like this screenshot.

![im

[2019-01-14 22:14] #4750 closed

[2019-01-14 22:33] JipingWang commented on #6444
You may close this. I setup some Nuget Package source, then VS pick the wrong one "blazor-dev-vsix" to fetch. I've manually cleaned up my Nuget config.

[2019-01-14 22:35] NTaylorMullen opened #6688 "Copying & Pasting the current files Razor content results in 0 coloring/completion"
### Describe the bug
![image](https://i.imgur.com/3aXilqd.gif)

### To Reproduce
1. Open an ASP.NET Core Razor file
2. Ctrl + A
3. Ctrl + C
4. Ctrl + V

### Expected behavior
Content is re-pasted and is colorized properly.

### Additional context
This is due to us checking if [content had been changed](https://github.com/aspnet/AspNetCore-Tooling/blob/a80c3a981aa332bb9b1ed77e09214c04cc1abf8b/src/R

[2019-01-14 22:46] #4676 closed

[2019-01-14 22:55] mkArtakMSFT commented on #6678
Closing this as there doesn't seem to be a good reason to worry about perf at the cost this will take to do for build-time compilation.

[2019-01-14 22:55] #6678 closed

[2019-01-14 23:01] mkArtakMSFT commented on #6668
Thanks for contacting us, @codec-abc.
@SteveSandersonMS, can you please look into this? Thanks!

[2019-01-14 23:02] mkArtakMSFT commented on #6665
Thanks for contacting us, @ksmithRenweb.
@pranavkm, can you please look into this? Thanks!

[2019-01-14 23:06] kevinlo opened #6690 "Reset the certificate used in the Data Protection after the application is stopped."
My application loads a .pfx file in the application folder for the Data Protection.

[code]

Every time the application is started and new X509Certificate2 is created, a new 3KB file is created in the
C:\ProgramData\Microsoft\Crypto\RSA\MachineKeys.   This file is never be cleaned up.

There is a new [X509KeyStorageFlags.EphemeralKeySet flag available since .Net Framework 4.7.2](https://blogs.msdn

[2019-01-14 23:06] pakrym opened #6691 "[Test failure] RunIndividualTestCase"
https://dev.azure.com/dnceng/public/_build/results?buildId=72170
[code]

@Tratcher @halter73

[2019-01-14 23:12] SteveSandersonMS commented on #6668
Thanks for reporting this, @codec-abc! As it happens, it's a duplicate of https://github.com/aspnet/Blazor/issues/445, with the underlying issue being tracked for resolution at https://github.com/mono/mono/issues/8216

[2019-01-14 23:12] #6668 closed

[2019-01-14 23:22] HaoK commented on #6613
Discussed a big with @ajcvickers today, current plan is to introduce something like `UserNameIsEmail` which is a runtime only flag which would have the user manager use the username in any APIs that currently use email, this would also have a sideeffect of implicitly turning on RequireUniqueEmails.  Setting one property should also have the effect of setting the other (via identity apis).

One thi

[2019-01-14 23:30] SteveSandersonMS commented on #6376
Looks like you did this in https://github.com/aspnet/AspNetCore-Tooling/pull/119/files#diff-563a5737fd6efd389fc9bd07a1165b42R31

Can this be closed?

[2019-01-14 23:32] rynowak commented on #6376
lol that was fast. I was going to close this bug after my important meeting :)

[2019-01-14 23:32] #6376 closed

[2019-01-14 23:35] pranavkm commented on #6442
I can handle that.

[2019-01-14 23:53] Andrzej-W commented on #6613
In a new application it is probably OK, but what about old applications? Let's assume we have the following user
[code]
In that case you should rather copy `Email` to `UserName` and inform the user that from now he/she has to use email to login to the service.

[2019-01-15 00:02] #6662 closed

[2019-01-15 00:03] SteveSandersonMS commented on #6442
Thanks, assigning to you then. Please feel free to have me finish off the subsequent template updates, or handle that yourself if you prefer!

[2019-01-15 00:04] HaoK commented on #6613
Right, I forgot to mention that discussion, this setting will only be meant to be used where the username and email are already the same.  It will not normalize or fix the database automatically, users can normalize their old database before turning on this flag which would work, but its not meant to detect any issues.  New apps starting in 3.0 would have this set to true explicitly, old apps they

[2019-01-15 00:05] mkArtakMSFT commented on #5666
@SteveSandersonMS, if this is already fixed, please resolve.

[2019-01-15 00:14] wessleym commented on #2882
@omuleanu, I don't think that's my problem because I don't do what you're describing with Html.AntiForgeryToken.  But thanks anyway.

[2019-01-15 00:14] natemcmaster commented on #6671
Have you seen https://www.nuget.org/packages/Microsoft.AspNetCore/?

[2019-01-15 00:16] mkArtakMSFT commented on #4931
Hi. Thanks for contacting us.
We're closing this issue as there was no much community interest in this ask for quite a while now.

[2019-01-15 00:16] #4931 closed

[2019-01-15 00:17] mkArtakMSFT commented on #5445
@pranavkm, doesn't the default API convention cover this? If so, just close this issue please.

[2019-01-15 00:18] mkArtakMSFT commented on #5428
@ryanbrandenburg, is this still blocked? Seems like we had no reports for quite a while now.

[2019-01-15 00:20] mkArtakMSFT commented on #5422
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2019-01-15 00:20] #5422 closed

[2019-01-15 00:20] pakrym commented on #4289
Not true anymore.

[2019-01-15 00:20] #4289 closed

[2019-01-15 00:34] mkArtakMSFT commented on #4222
Seems there is nothing to be done here. If there's something wrong, it'll come up again.

[2019-01-15 00:34] #4222 closed

[2019-01-15 00:44] mkArtakMSFT commented on #4212
@JamesNK, what else is pending here? We're trying to wrap up preview2 issues within couple of days.

[2019-01-15 00:44] mkArtakMSFT commented on #4212
If this is not super critical, and work is pending, please move to preview3

[2019-01-15 00:52] mkArtakMSFT commented on #4907
@NTaylorMullen, is this test still failing?

[2019-01-15 00:54] mkArtakMSFT commented on #4216
@JamesNK, should this be marked with `2 - Working` label also? I assume you plan to take this as part of preview2 ?

[2019-01-15 00:55] NTaylorMullen commented on #4907
Last failure was a while ago but I wrote some code in MVC to make it possible to diagnose why it's failing. I've seen it fail twice but it is uncommon. My bet is that it's still flakey, just not as flakey as some of our other flakey tests that we've seen in the past. I'd vote for leaving this open a while longer

[2019-01-15 00:56] mkArtakMSFT commented on #4210
@JamesNK, is this done? If not, not sure whether you or @javiercn would be a good person to handle this. Please assign as necessary.

[2019-01-15 00:56] pranavkm commented on #5445
Not everyone uses OpenAPI \ Swagger in their applications and we wouldn't want to add a ton of additional code to the template \ scaffolded code that wouldn't benefit everyone. For the 2.2 release, our recommendation is to use [conventions](https://docs.microsoft.com/en-us/aspnet/core/web-api/advanced/conventions?view=aspnetcore-2.2) and [the analyzer](https://docs.microsoft.com/en-us/aspnet/core/

[2019-01-15 00:56] NTaylorMullen commented on #4907
Ah, actually this is a duplicate. Tracking this here: https://github.com/aspnet/AspNetCore-Internal/issues/1337

[2019-01-15 01:02] mkArtakMSFT commented on #2420
@Tratcher, is this still blocked?

[2019-01-15 01:13] pranavkm commented on #4899
Sure

[2019-01-15 01:13] #4899 closed

[2019-01-15 01:15] #6535 closed

[2019-01-15 02:46] Rick-Anderson commented on #4837
Ping me when this is closed with a sample and I'll add it to [Load session state asynchronously](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/app-state?view=aspnetcore-2.2)

[2019-01-15 02:46] BrennanConroy commented on #5400
Keeping this open to track writing automated testing for this.

[2019-01-15 04:31] #5144 closed

[2019-01-15 06:12] durgeshkumar14 commented on #6077
Hi guys,

Any idea how can I remove traceId from the default response body using ValidationProblemDetails. I am using
`[ProducesResponseType(typeof(ValidationProblemDetails), 400)]`

This generates the following schema for response body validation using Swagger:
{
  "errors": {
    "additionalProp1": [
      "string"
    ],
    "additionalProp2": [
      "string"
    ],
    "additionalProp3": [

[2019-01-15 09:02] skivsoft commented on #1528
@ststeiger Could you please give me access to AspNetCore.Reporting repository? I'm trying to make it work on Linux with PDF.

[2019-01-15 11:45] khellang commented on #6077
@durgeshkumar14 There's no out-of-the-box option to turn it off.

For regular client error mapping, you need to provide your own implementation of `IClientErrorFactory`. It's probably best to just use the default as a starting point:

https://github.com/aspnet/AspNetCore/blob/09b50850bc428119ea5adfdbceb0470b7a5c2546/src/Mvc/src/Microsoft.AspNetCore.Mvc.Core/Infrastructure/ProblemDetailsClientError

[2019-01-15 12:02] viktorgullmark opened #6701 ""Writing is not allowed after writer was completed", with SignalR 1.1"
### Describe the bug
I'm receiving "Writing is not allowed after writer was completed" on the latest release of SignalR with .NET Core 2.2. We previously used 1.0.0-rc1-final without any issues, and all of a sudden started receiving this issue with 1.1 on the client. We also receive a lot of "Task was cancelled" from the RedisHubLifetimeManager. Attaching screenshots below.

We ran SignalR 1.1 on

[2019-01-15 12:04] javiercn commented on #4210
I believe this is just the CORS middleware, not the MVC support for CORS

[2019-01-15 12:50] ankitmori14 commented on #4691
No that issue is still open.

[2019-01-15 12:51] ruchanb opened #6702 "Question: ASP.NET core 1 and 2 difference in OpenIDConnect cookie"
I have asked this question on stackoverflow also but didnt get any answer
https://stackoverflow.com/questions/54186959/asp-net-core-1-1-2-openid-connect-cookies-not-being-created-on-redirect-set-coo

I had an issue with **oidc cookie not being stored in browser** for client application, even though `set-cookie` header was being sent. I have this system running for more than a year on same settings

[2019-01-15 13:59] RoboBurned commented on #2422
It is almost useless without this feature.
void Patch(JsonPatchDocument<UserEntity> patch)
{
patch.ApplyTo(userEntity);
}
I cannot use it this way because my UserEntity has collection of Roles and anybody can "patch" it.
We need to separate the list of fields in patch from the entity.

[2019-01-15 14:15] Pixel-Lord opened #6703 "Creating a UrlHelper with ActionContext() results in a NullReferenceException"
### Describe the bug
Trying to create a URLHelper for testing purposes with the help of ActionContext() throws a NullReferenceException.

### To Reproduce
Steps to reproduce the behavior:
1. Create a empty MVC core 2.2 solution
2. Create a xunit test Project
3. Install the NuGet Microsoft.AspNetCore.Mvc.Core 2.2.0
4. Write in the test: var Url = new UrlHelper(new ActionContext());
5. Run test

###

[2019-01-15 15:16] mxmissile commented on #6671
Thanks @natemcmaster

[2019-01-15 15:16] #6671 closed

[2019-01-15 15:23] FTWinston opened #6704 "SignalR windows authentication error using long polling"
I previously had an error on .NET Core 2.1 with SignalR long polling and windows authentication. [This was raised here](https://github.com/aspnet/SignalR/issues/2948) and resolved in the 1.1.0-preview3 release of SignalR.

### Describe the bug
I am now seeing an `UnauthorizedAccessException` when the windows identity is being cloned by SignalR when windows authentication is being used, even when t

[2019-01-15 15:25] navelDirt commented on #6703
What happens here is that the `UrlHelper` tries to access the `RouteData` property of the `ActionContext` to check if it has values on it thus causing the exception. To fix this you can do:

`var url = new UrlHelper( new ActionContext{ RouteData = new RouteData() } );`

[2019-01-15 16:10] #6460 closed

[2019-01-15 16:10] #5960 closed

[2019-01-15 16:12] jkotalik commented on #6660
Closing as a dup of https://github.com/aspnet/AspNetCore/issues/4206. Please use https://github.com/aspnet/Docs/blob/master/aspnetcore/host-and-deploy/aspnet-core-module/samples_snapshot/2.x/CurrentDirectoryHelpers.cs as a work around for now.

[2019-01-15 16:12] #6660 closed

[2019-01-15 16:13] jkotalik commented on #6660
The error:

[code]

seems like it is probably coming from your application code. Check the callstack where the exception is thrown.

[2019-01-15 16:16] netbitshift opened #6707 "Images missing from Blazor docs?"
Has the Blazor docs changed recently?  I no longer can find images of the hosting models.

[2019-01-15 16:19] pranavkm commented on #6703
That specific constructor is documented to be used for unit testing, more specifically when the `ActionContext` simply needs to be passed in, but not used by the consuming code. Setting it up the way @navelDirt suggested would be the way to go.

Going further, if you're intent is to unit test if a piece of code produces a specific url, you're going to have better success using a stub \ mock `IUrlH

[2019-01-15 16:19] #6703 closed

[2019-01-15 16:21] #4793 closed

[2019-01-15 16:30] jkotalik commented on #5145
@renzors I don't believe there was an announcement. cc @suwatch

[2019-01-15 16:41] jkotalik commented on #6660
Actually it looks like this issue for the ObjectDisposedException: https://github.com/aspnet/AspNetCore/issues/4422

[2019-01-15 16:59] jkotalik commented on #6664
I've seen this error show up from time to time. Can you try to getting logs from the installers from the %TEMP% directory (should start with dd_*.log) for the key word IISGlobalModule and see if there are any modifications to that section in the applicationhost.config?

[2019-01-15 17:17] Tratcher opened #6710 "Remove Quirk in GoogleDefaults"
src/Security/Authentication/Google/src/GoogleDefaults.cs
https://github.com/aspnet/AspNetCore/issues/6069

After the GoogleAuth patch gets merged to master we need to remove the quriks mode switch. This is not blocking for any preview.

Merge PR: https://github.com/aspnet/AspNetCore/pull/6709/files

[2019-01-15 17:31] dougbu commented on #6616
@wadebaird the single property isn't enough to make this happen. I need at least the entire `MenuItem`  class to understand why `ComplexTypeModelBinder` is recursing. Example data may also help.

[2019-01-15 17:32] cshung commented on #6639
This issue does not reproduce anymore, please consider closing this.

[2019-01-15 17:38] david-preston-triad opened #6711 "Problem uploading large files with Kestrel + Docker"
### Description
I have two issues with file uploads in ASP.Net Core running on Kestrel and Docker for Windows/Docker Desktop (Linux container):
1. When I try to upload a file that is larger than the default limit (30MB), my website hangs and I cannot make any further requests.  I need to restart Docker Desktop and redeploy my website to get it running again.
2. I want to display a custom error pag

[2019-01-15 17:44] durgeshkumar14 commented on #6077
@khellang . It didn't work. I still get traceId in my response.

[2019-01-15 17:54] khellang commented on #6077
Are you calling `Configure<ApiBehaviorOptions>` before or after `AddMvc`?

[2019-01-15 18:05] #4264 closed

[2019-01-15 18:06] pranavkm commented on #5476
Possible follow out from addressing https://github.com/aspnet/AspNetCore/issues/4047. Disposing components may throw and we allow it to bubble up. It would be useful to log and swallow these instead.

[2019-01-15 18:12] treborgero commented on #4062
I would like to make a suggestion:

Please allow a public "AddWindowsAuthentication" extension for the "AuthenticationBuilder". I verified your logic and it seems the code only checks for the "MS-ASPNETCORE-WINAUTHTOKEN" header if windows authentication is enabled globally at startup.

In my case, I went ahead and implemented my own extension which creates a "ClaimsPrincipal":

[code]

[2019-01-15 18:13] pranavkm commented on #4176
Component class libraries may switch to targeting netcoreapp3.0 in the future and we do not want these to reference the AspNetCore shared fx. The RCL templates have an explicit framework reference to the shared fx and this seems perfect for the moment.

[2019-01-15 18:13] #4176 closed

[2019-01-15 18:14] pranavkm commented on #4900
Addressed as part of https://github.com/aspnet/Mvc/commit/f80490f99d4e38e1630e8cce739daf1b3a2b96a8

[2019-01-15 18:14] #4900 closed

[2019-01-15 18:16] ryanbrandenburg commented on #5428
This may or may not still be happening, we don't know because Templating tests [aren't running](https://github.com/aspnet/AspNetCore/issues/4321).

[2019-01-15 18:20] syndicatedshannon opened #6712 "Inconsistent DisplayName CTOR/property documented intent within ExternalLoginInfo and UserLoginInfo"
In [ExternalLoginInfo.cs](https://github.com/aspnet/AspNetCore/blob/65ff6e951a29ac026e6528c203f590244948910c/src/Identity/Core/src/ExternalLoginInfo.cs) it says `displayName` is:

However, in [UserLoginInfo.cs](https://github.com/aspnet/AspNetCore/blob/65ff6e951a29ac026e6528c203f590244948910c/src/Identity/Extensions.Core/src/UserLoginInfo.cs) that parameter is assigned to `ProviderDisplayName`, wh

[2019-01-15 18:35] JulioJu commented on #6329
@dougbu I've tested a little.

I've found a first bug.

You could see it already thanks the official example RPmovieSearch.

We see at https://github.com/aspnet/Docs/blob/83731be928167d2bdcaaa2aa795564e5968be636/aspnetcore/tutorials/razor-pages/razor-pages-start/2.2-stage-samples/RPmovieSearch/Models/Movie.cs#L13,L14
there isn't the `[Required]` decorator.

[code]

But we could see in the followin

[2019-01-15 18:46] mkArtakMSFT commented on #5440
PR here: https://github.com/aspnet/AspNetCore/pull/4307

[2019-01-15 18:46] dougbu commented on #6329
@JulioJu this behaviour is expected. The `DateTime` type is a `struct` and a `[Required]` attribute is therefore added automatically, specifically for client-side validation.

In any case, what problem does the `data-val-required` attribute cause?

[2019-01-15 18:48] mkArtakMSFT commented on #5405
Closing this as it seems we won't be able to do this in the near future.

[2019-01-15 18:48] #5405 closed

[2019-01-15 18:49] #4146 closed

[2019-01-15 18:56] ryanbrandenburg commented on #5440
Based on the feedback I received in that PR we can't merge this until Dev16RTM.

[2019-01-15 19:11] Eilon commented on #3713
@Tratcher should we close this as dup?

[2019-01-15 19:15] #3713 closed

[2019-01-15 19:21] jbomhold3 commented on #6480
Still seeing this issue. Spaces are removed from classes unless the tag or nested tag has a html event inside them. https://gyazo.com/376846d35341dbe52065c8994f22cf0d   .. using latest clone and build as of 1/15/2019.

[2019-01-15 19:33] SteveSandersonMS commented on #6480
@jbomhold3 Yes, this will continue to happen until we update to newer Razor SDK, which will be pretty soon I hope.

[2019-01-15 19:37] JulioJu commented on #6329
@dougbu ok sorry. I'm a newbie. I must simply replace `DateTime` to `DateTime?`. Sorry for the newbies question.

[2019-01-15 19:44] kieronlanning commented on #5144
@muratg Thanks!

[2019-01-15 19:54] BrennanConroy commented on #6597
This was a difficult one to track down. The problem is we set the connection state to `Inactive` outside of the state lock at https://github.com/aspnet/AspNetCore/blob/1f892d798d3163b4bd9d3c4e900f6bb5c2310f9c/src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs#L334
Which _can_ override the `Disposed` state set when the connection gets closed by a `DELETE` request.

[2019-01-15 20:01] alexdresko commented on #6664
I didn't get an error. Did you mean "problem" instead of "error"?

[logs.zip](https://github.com/aspnet/AspNetCore/files/2761204/logs.zip)

Do you mean, "Open applicationhost.config and search for IISGlobalModule and determine if modifications were made to that section"? If so, no, there is no IISGlobalModule section -- There is a globalModules section and the installer did not make any modificati

[2019-01-15 20:08] ajaybhargavb opened #6717 "Coloring and intellisense is lost after hitting backspace in some cases"
![vsbug](https://user-images.githubusercontent.com/1579269/51206626-57a7a180-18bd-11e9-8918-dd6b9ac8a6dd.gif)

I'm not sure whether the fix for this goes in Razor partial parsing or WTE. Needs some investigation.

Note: This is not a regression. I've verified this problem exists in both VS 2019 (16.0 Preview 2) and VS 2017 (15.9.5)

[2019-01-15 20:55] HaoK opened #6720 "[Helix] DataProtection System_UsesProvidedDirectoryAndCertificate fails on OSX"
DataProtection/Extensions/test/DataProtectionProviderTests.cs System_UsesProvidedDirectoryAndCertificate fails only on OSX queue

[code]

[2019-01-15 20:59] HaoK opened #6721 "[Helix] CertificateManagerTests fail on OSX"
4 Tests fail only on OSX queue

[code]

[2019-01-15 21:14] kevinlo commented on #6690
@blowdart , thanks for your reply.

Do you mean I should use the DefaultKeySet or UserKeySet and the key will be deleted properly?

I do write a simple console app like the following to test the Reset.   I find that sometime the Reset does delete the file and sometimes don't.   Do you know what control it?

[code]

Currently, I call the Reset at ApplicationStopping event
[code]

But the Reset does

[2019-01-15 21:31] glennc commented on #5445
Closing, as @pranavkm said we are trying to move to a world with less explicit declarations of those types of attributes so we wouldn't want to add them to the templates now.

[2019-01-15 21:31] #5445 closed

[2019-01-15 21:35] danroth27 commented on #4878
@glennc

[2019-01-15 21:38] mkArtakMSFT commented on #4877
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2019-01-15 21:38] #4877 closed

[2019-01-15 21:44] mkArtakMSFT commented on #4876
Closing as per @pranavkm this is done! @NTaylorMullen, if that's not the case, please ping.

[2019-01-15 21:45] mkArtakMSFT commented on #4876
https://github.com/aspnet/Mvc/commit/f80490f99d4e38e1630e8cce739daf1b3a2b96a8

[2019-01-15 21:47] pakrym commented on #4599
Done

[2019-01-15 21:47] #4599 closed

[2019-01-15 21:48] blowdart commented on #6690
I'd ask in the [dotnet repo](https://github.com/dotnet/corefx/issues) about that, we don't control that code, and we can't call reset for you automatically, or indeed dispose, as we have no way of knowing if you're only using that instance for dataprotection.

[2019-01-15 21:48] pakrym commented on #6415
Ported to 2.2

[2019-01-15 21:48] #6415 closed

[2019-01-15 21:53] mgolois commented on #4597
@rynowak , in order to use TemplateMatcher I need to get the teamples, so all route collections.
With the new route system this no longer works:
`httpcontext.GetRouteData().Routers.OfType<IRouteCollection>().List();`

Basically, after upgrading to 2.2 I would like to use the new routing system, the application has a method that contains a list of strings (urlPaths) and needs to generate RouteData

[2019-01-15 21:55] mkArtakMSFT commented on #4938
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2019-01-15 21:55] #4938 closed

[2019-01-15 21:55] davidfowl commented on #5440
That's correct

[2019-01-15 21:58] mkArtakMSFT commented on #4901
Thanks for your proposal, @rdlaitila.
After re-evaluating your proposal we've decided not to do it as we have higher priority work to focus on.

[2019-01-15 21:58] #4901 closed

[2019-01-15 22:04] mkArtakMSFT commented on #4871
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2019-01-15 22:04] #4871 closed

[2019-01-15 22:07] kevinlo commented on #6690
@blowdart  I understand I need to call the Reset somewhere.  I just want to find out the right solution for it.

What's your comment of using X509KeyStorageFlags.EphemeralKeySet?   As the .pfx file is loaded whenever the application is started up, I think it is ok to keep the key in memory, instead of in the drive.   I am new to these, I need a second opinion about it.

My current plan is:

1. For

[2019-01-15 22:08] mkArtakMSFT commented on #4860
Closing this issue as there was no community involvement for quite a while now.

[2019-01-15 22:08] #4860 closed

[2019-01-15 22:12] pranavkm commented on #4863
The View engine treats things as path if it looks like one i.e. if the view name starts with a `/` or ends in `.cshtml`. In this case, the passed in value is `_Pager` and it's treated as a view name to be looked up using search paths. Changing the behavior to additionally look for a relative file next to the executing view might be a fix, but it'd be a fairly risky fix since it changes the lookup

[2019-01-15 22:12] #4863 closed

[2019-01-15 22:20] mkArtakMSFT commented on #4837
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2019-01-15 22:22] mkArtakMSFT commented on #4829
There is going to be no package going forward so this is obsolete now.

[2019-01-15 22:22] #4829 closed

[2019-01-15 22:23] mkArtakMSFT commented on #4828
Closing as there are no supporting asks here.

[2019-01-15 22:23] #4828 closed

[2019-01-15 22:31] Tratcher commented on #4837
@DamianEdwards this was your request, right?

[2019-01-15 22:45] NTaylorMullen commented on #4876
Nah, this isn't done. I'll take care of it.

[2019-01-15 22:52] #4047 closed

[2019-01-15 22:53] danroth27 commented on #4373
I think we shoudl have a single package reference in the templates for the analyzers that we think should be enabled by default.

[2019-01-15 23:15] MiguelIPerez commented on #4539
sorry but, where do i find this "UIFramework.Bootstrap4" i am implementing something similar but i cant find this UIFramework stuff

[2019-01-15 23:36] natemcmaster opened #6726 "ILLink fails on when only .NET Core 3 is installed (Microsoft.AspNetCore.Blazor.Mono)"
Microsoft.AspNetCore.Blazor.Mono 0.8.0-preview1-20181126.1 contains a tool illink.dll which only runs on .NET Core 2.x. This means builds will fail on machines which only have .NET Core 3.x SDKs will fail.

[code]

[2019-01-15 23:36] #4876 closed

[2019-01-15 23:36] NTaylorMullen commented on #4876
https://github.com/aspnet/AspNetCore-Tooling/commit/57df0ea9cf71b3424de8b32bcf6e79e7453b57a5

[2019-01-15 23:38] danroth27 commented on #4817
Let's handle this as part of our broader CSP story tracked by https://github.com/aspnet/AspNetCore/issues/6001

[2019-01-15 23:38] #4817 closed

[2019-01-15 23:47] wojanator opened #6729 "ActionResult<T> class shouldn't be sealed"
### Describe the bug
I was going to make an inherited class `ActionListResult : ActionResult<List>` to help avoid repeating List everywhere in controllers but I can't do this because this class is marked as sealed. Why mark this as sealed?

### Expected behavior
Be able to use inheritance.

[2019-01-15 23:52] JamesNK commented on #4210
The CORS middleware update has happened. Updated with tasks for the MVC side.

[2019-01-16 00:03] JamesNK commented on #4396
Good news: a fix will be included 2.2.2 to revert to the old behavior. It should be publicly available in February.

Thanks for reporting this issue and providing a simple repo.

[2019-01-16 00:03] #4396 closed

[2019-01-16 00:04] JamesNK commented on #6544
Patch merged

[2019-01-16 00:04] #6544 closed

[2019-01-16 00:19] pranavkm commented on #6500
Fixed via https://github.com/aspnet/AspNetCore-Tooling/pull/120, https://github.com/aspnet/AspNetCore/commit/82941f9d0f8d17ab3fd7709ba7728b479a70986d

[2019-01-16 00:19] #6500 closed

[2019-01-16 00:22] JamesNK commented on #5680
I discussed this with Mads and Immo. The corefx approach is to have a sidecar file format containing metadata. The file format should be usable by all packages.

Some reasons for this approach:
1. It can be applied to older versions of the framework, including .NET Framework, without having to update code
2. It is faster and easier to add nullable metadata to only the public API compared to updati

[2019-01-16 00:54] SteveSandersonMS commented on #5666
Fixing in #6731

[2019-01-16 00:56] SteveSandersonMS commented on #5666
Actually it turns out it was already fixed (by conditionally adding the mapping), but the updated fix in #6731 is better because it's simpler.

[2019-01-16 00:57] mikaelm12 commented on #4393
Merged into 2.2.2 and master now
https://github.com/aspnet/AspNetCore/pull/4400

[2019-01-16 00:57] #4393 closed

[2019-01-16 01:05] natemcmaster commented on #4067
At this point, space issues should no longer affect Windows.

For 2.x, we need to switch to new Linux queues, which I believe should be available now.

[2019-01-16 01:14] timmydo opened #6732 "Can't find Microsoft.AspNetCore.Mvc.NewtonsoftJson"
### Describe the bug
I can't seem to find this Microsoft.AspNetCore.Mvc.NewtonsoftJson package anywhere. The daily feed (https://dotnet.myget.org/gallery/dotnet-core) doesn't seem to be updated.

### To Reproduce
I have some code that does:
[code]
json.ExecuteResultAsync(context) is now throwing
[code]

Glad that this was caught in a unit test... I guess this could catch some people by surprise.

[2019-01-16 01:15] timmydo commented on #6732
@pranavkm

[2019-01-16 01:39] pranavkm commented on #6732
Packages are currently being published to https://dotnet.myget.org/gallery/aspnetcore-dev as we work through some infrastructure changes. cc @natemcmaster

[2019-01-16 01:55] rynowak commented on #6543
Done.

[2019-01-16 01:55] #6543 closed

[2019-01-16 01:58] oliverjanik opened #6733 "Enforce multiple Authentication Schemes"
When set up with multiple authentication schemes I can do the following to run them both:
[code]

This runs both schemes and if at least one succeeds the execution proceeds into the controller action.

I'd like to be able to set this up so that it runs both schemes and makes them both required. I. e. the one that fails issues a challenge.

When both schemes are present the framework correctly merg

[2019-01-16 02:29] natemcmaster opened #6734 "Re-enable building the Blazor VSIX on CI"
CI is not currently building Microsoft.VisualStudio.BlazorExtension. Per chat with @SteveSandersonMS, this is an important thing to resolve ASAP.

It seems when merging source code from aspnet/Blazor, the targets that built the VSIX project were disabled and never re-enabled.

After https://github.com/aspnet/AspNetCore/pull/6698 is merged, fixing this will involve (at minimum) removing the `Projec

[2019-01-16 03:14] jbomhold3 commented on #6480
@SteveSandersonMS Ok sweet was just making sure it wasn't a over sight.

[2019-01-16 04:21] oliverjanik commented on #6733
I found where the schemes get run and principals merged : https://github.com/aspnet/AspNetCore/blob/62351067ff4c1401556725b401478e648b66acdc/src/Security/Authorization/Policy/src/PolicyEvaluator.cs#L33

I've injected my version of PolicyEvaluator to achieve this. This solves my problem.

The question is whether this is something the framework should support with configuration.

[2019-01-16 04:49] WereDev commented on #5217
Found on the previous thread as well was this tidbit (missed it on my first read through).  It did seem to help.

Thinking that 524288 is likely excessive (not sure how many watchers a system really needs) I did some additional digging.  Ubuntu (and likely other linux distros) have a default of 8192.  I doubled this with the above command to 16384 and dotnet run worked like a charm.  Not sure what

[2019-01-16 04:59] #4384 closed

[2019-01-16 05:06] Tratcher commented on #6669
Hmm, that should have already been configured here:
https://github.com/aspnet/AspNetCore/blob/c7d63649005c4c2863b34794994eef57595e7bb7/src/AADIntegration/src/Microsoft.AspNetCore.Authentication.AzureADB2C.UI/CookieOptionsConfiguration.cs#L31

[2019-01-16 05:15] durgeshkumar14 commented on #6077
Thanks @khellang . Earlier I was using it before AddMvc. Using it after MVC worked for me.

One more question. How can I do similar thing for 404 response body. It also contains a traceId field.

[2019-01-16 05:53] FranklinWhale opened #6737 "TargetInvocationException caused by FileLoadException after SDK 2.1.503 installed"
### Describe the bug
After .NET Core SDK 2.1.503 is installed, the application that could be started with SDK 2.1.502 cannot be started. After 2.1.503 is uninstalled, the application can be started again.

### Console Log
[code]

### Additional context
.NET Core SDK (reflecting any global.json):
 Version:   2.1.503
 Commit:    4c506e0f35

Runtime Environment:
 OS Name:     Windows
 OS Version:  10

[2019-01-16 06:13] FranklinWhale commented on #6737
Turns out that the error is related to #3503, which matches with Symptom 2. After the line below is removed from the csproj file, the application can run with 2.1.503.

[code]

[2019-01-16 06:49] HaoK commented on #6720
These also cause Microsoft.AspNetCore.ApiAuthorization.IdentityServer.Tests to fail in master

[2019-01-16 07:04] HaoK opened #6738 "Consider renaming FunctionalTests.csproj to include Cors in its name"
It was really hard to know what area "FunctionalTests.csproj" is in build logs/etc since it doesn't have any namespace or other identifying information in its name.

https://github.com/aspnet/AspNetCore/blob/master/src/Middleware/CORS/test/FunctionalTests/FunctionalTests.csproj

[2019-01-16 07:05] HaoK commented on #6738
Wasn't sure if this is supposed to go to area middleware or MVC, since it lives in Middleware, yet the area-mvc description mentions CORS explicitly...

[2019-01-16 07:17] durgeshkumar14 commented on #6077
Hi @khellang , I found the answer in your first response.  I created a sub class from IClientErrorFactory, and removed the call to setTraceId.

Thanks.

[2019-01-16 07:32] khellang commented on #6077
Glad you got it working :+1:

[2019-01-16 08:07] cjlotz commented on #6422
Also getting something similar for our integration tests - `Could not load file or assembly 'Microsoft.AspNetCore.Cors, Version=2.2.0.0`

[2019-01-16 08:12] FranklinWhale commented on #6737
Unfortunately this issue has to be re-opened...

Although `dotnet run` now works, `dotnet ef` commands do not...

[code]
The project has the following package references:
[code]

[2019-01-16 08:15] johnfg10 opened #6739 "GUID Decoding not working correctly"
### Describe the bug
When getting a GUID in my controller it will not encode the Guid correctly.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.2'
2. Run this code '```
        [HttpGet]
        public async Task<IActionResult> Get([FromQuery] Guid id)
        {
            var capability = await _capabilityService.GetCapabilityById(id);

            re

[2019-01-16 08:38] khellang commented on #6739
Does you controller have an `[ApiController]` attribute? What version have you specified if/when calling `SetCompatibilityVersion` in your `Startup`?

It would be easier to verify if you could push a repro project ([MVCE](https://stackoverflow.com/help/mcve)) to GitHub.

[2019-01-16 09:00] johnfg10 commented on #6739
github.com/johnfg10/DriverManagerApi
sorry, is this better?

[2019-01-16 09:01] khellang commented on #6739
Much better! 👍

[2019-01-16 09:48] HaoK opened #6740 "[Helix] No Sql server on helix machines"
Tracking issue for tests skipped due to no SQL server on helix machines

[2019-01-16 09:52] HaoK commented on #6720
Note on master there appears to be a new attribute `[X509StoreIsAvailable(StoreName.My, StoreLocation.CurrentUser)]` that is attempting to skip sometimes, but maybe its not correctly working on helix OSX

[2019-01-16 11:00] milkshakeuk opened #6741 "cs-username not populated in IIS logs"
### Describe the bug
We recently converted our Webapi aplication over to AspNetCore.
When hosting an AspNetCore 2.2 and targeting net461 application in IIS the cs-username property of the IIS logs is empty.
When it was using WebApi previously the cs-username field was populated in the IIS logs.

I would have though that the AspNetCore IIS integration would pass this through from the ClaimsIdentity

[2019-01-16 11:10] vtortola commented on #1976
Unfortunately the test of setting `<ConcurrentGarbageCollection>false</ConcurrentGarbageCollection>`  did not help and the process is still hoarding memory.

We have a linux dump of the process, the only tool we have to analyze it is lldb and we are very noob in this matter.

Here some data in case it rings a bell:

[code]

And the result of `dumpheap -stat` : https://pastebin.com/ERN7LZ0n

You ca

[2019-01-16 11:58] Webbarrr commented on #2738
I'm curious as to the process you went through for porting it over into VB.NET as the project template isn't available through Visual Studio / no support in VSCode. How did you go about doing this?

[2019-01-16 12:16] ben05s commented on #1750
If someone else is wondering how to use different appsettings for multiple environments here is a possible solution.

`dotnet publish --confguration [Debug|Release]` will copy the appropriate appsettings.json file into the publish folder if `*.csproj` has a conditional logic for these files:

- First disable that all content files are included by default
[code]

- Then specify conditional Debug/Re

[2019-01-16 12:24] Pixel-Lord commented on #6703
Thank you very much @navelDirt and @pranavkm.
I was confused since in core 1.1 it worked without setting the RouteData, but switching to 2.2 it crashed. That's why I thought it was a bug... sorry for the inconvenience.

[2019-01-16 12:44] johnfg10 commented on #6739
it appears to have started working correctly now.. it wasn't for 2 or 3 days on 4 different projects but at least its working now

[2019-01-16 12:52] Thavinc opened #6742 "Collection of viewmodels with IFormFile nested in viewmodel does not call action"
### Describe the bug
When posting a form with multiple file inputs that are supposed to be mapped to an IFormFile within a viewmodel within the parent viewmodel the request does not reach the action while ASP does print info that the route is matched, memory usage also keeps rising fast. While running the exact same code in ASP.NET Core 2.1 this issue does not exist and the action gets called as e

[2019-01-16 13:11] TrueBurn opened #6743 "Debugger does not attach when big base64 string hard coded"
### Describe the bug
With the below method in the code breakpoints are not enabled when debugging.

### To Reproduce
Steps to reproduce the behavior:
1. Using asp.net CORE 2.2
2.

public async Task<string> DataExtractions_CustomerPropertyLookups_GetUserProfilePic(string BaseURL, string EndPoint, string Host, string BackOfficeAuth)
{

	string base64Image = string.Empty;

	using (var client = new Ht

[2019-01-16 13:49] mevdschee commented on #2738
@Webbarrr I converted the C# code to VB by hand and used the Visual Studio C# template to start from.

[2019-01-16 14:11] syndicatedshannon commented on #6712
Yeah, it sure seems like the CTOR param description is probably correct, and the prop description as well as the implementation is incorrect. I suppose an individual could name one remote account "Business Facebook Identity" and another one "Personal Facebook Identity", and then disassociate the correct account at a future date; but that login personalization interaction is not plumbed, and storin

[2019-01-16 14:19] syndicatedshannon commented on #6712
Plus, from a human data maintenance perspective, it's probably much more helpful to see
facebook:37892347:"Charlie Landry"
than
facebook:37892347:facebook

[2019-01-16 14:30] FranklinWhale commented on #6737
aspnet/EntityFrameworkCore#14439 is probably related

[2019-01-16 14:34] FranklinWhale commented on #6487
The update is causing #6737

[2019-01-16 14:48] shadinamrouti opened #6744 "ApplyFormatInEditMode is not working"
### Describe the bug
Setting the DateTime annotation:

`[DisplayFormat(DataFormatString="{0:yyyy-MM-dd}", ApplyFormatInEditMode =true)]`
has no effect on the field at the edit time.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.2'
2. Apply this annotation to a DateTime field '[DisplayFormat(DataFormatString="{0:yyyy-MM-dd}", ApplyFormatInEditMode =true

[2019-01-16 15:22] jozefizso commented on #4699
For OpenShift images, we use these settings (taken from the s2i containers):

[code]

This configures ASP.NET Core container to bind to higher port (it does not have permission to bind to port 80 in OpenShift by default) and the `io.openshift.expose-services` value configures the OpenShift routing module.

[2019-01-16 15:40] jkotalik commented on #6097
Please send it my email listed on my GitHub profile. Thanks.

[2019-01-16 15:51] amineanane commented on #4802
I would like to point out that there is no issue with previous versions of ASP.net Core. When we upgraded to ASP.NET Core '2.2' we got an OutOfMemoryException  due to this issue. Now we reverted to ASP.NET Core 2.1.7 waiting for a fix.

[2019-01-16 16:04] ksmithRenweb commented on #6665
net framework 4.6.2 running the below package version. Most recently.
<PackageReference Include="Microsoft.AspNetCore.Mvc" Version="2.1.1" />
The code has worked since aspnetcore 1.0.

[2019-01-16 16:25] #4432 closed

[2019-01-16 16:38] rynowak commented on #6374
I've broken down the feature with a rough breakdown that makes sense to me. Who implements this feature can divide it however they want, this is just a suggestion 😆

[2019-01-16 16:38] DalSoft opened #6745 "JwtSecurityTokenHandler should have safer defaults"
### Describe the bug
 JwtSecurityTokenHandler used by ASP.NET Core JwtBearerHandler has unsafe defaults.

DefaultTokenLifetimeInMinutes = 60
MaximumTokenSizeInBytes = 2097152 (~2.09MB)

### To Reproduce
New up JwtSecurityTokenHandler with defaults

### Expected behavior
I understand there is some inheritance going on here but for JwtSecurityTokenHandler  I would suggest:

DefaultTokenLifetimeInMin

[2019-01-16 16:47] mkArtakMSFT commented on #4802
Thanks for bringing this up, @hakimon.
@dougbu, can you please investigate this? Thanks.

[2019-01-16 17:02] jjxtra opened #6747 "IIS Fails With 500 Error With Precompiled Project"
### Describe the bug
If you deploy a precompiled asp.net core site, such as Windows-x86 with .NET core 2.2, but on your server you only have the .NET core hosting pack 2.1 installed, the website will fail with a 500 error on all urls. Setting std out log in the web.config has no effect.

### To Reproduce
Steps to reproduce the behavior:
1. Create a precompiled website using **.NET core 2.2**, a si

[2019-01-16 17:04] jkotalik commented on #6747
@shirhatti

[2019-01-16 17:14] andoband commented on #6500
I see it is implemented as `<_RazorComponentInclude>` instead of `<RazorComponentInclude>`.  Just curious, why does the tag name start with an underscore?

https://github.com/aspnet/AspNetCore-Tooling/blob/9dd00ac82f474436412497082a7b8b1afa6150de/src/Razor/test/testapps/MvcWithComponents/MvcWithComponents.csproj#L6

[2019-01-16 17:30] natemcmaster commented on #4260
Pushing out to preview3. We are still blocked on https://github.com/dotnet/core-setup/issues/3311 and https://github.com/aspnet/Extensions/issues/568

[2019-01-16 17:31] wfurt commented on #4699
good to know. Is there anything left to do or shall we close this issue?

[2019-01-16 17:37] blowdart commented on #6729
Without the class name we can't really talk about why it's sealed. Could you please supply it?

[2019-01-16 17:39] blowdart commented on #6733
I don't think it's enough of a common requirement to make it part of the framework itself

[2019-01-16 17:40] #6537 closed

[2019-01-16 17:40] jkotalik commented on #6537
This was done by #6583

[2019-01-16 17:41] blowdart commented on #6702
Jinx :) Assuming the expiry dates in 1.1 weren't in the past (there's a day's difference in your two headers) I honestly don't know what to tell you. If we're sending the headers the browser should be creating the tickets.

[2019-01-16 17:42] sebastienros commented on #1976
@vtortola would you mind creating a new issue so we don't fork this one. I think the fact it's using WebSockets makes it unique and we need to create at least a sample app that would behave like yours and stress it over a long period of time. Would you be able to describe what your clients do with the websocket, how they connect to it, and for how long? I could setup an app like this and run it ov

[2019-01-16 17:42] blowdart commented on #6180
As this is due to the choice of identity provider and not a limitation in our pieces I'm closing this.

[2019-01-16 17:42] #6180 closed

[2019-01-16 17:42] grahamehorner opened #6750 "shared model for client code generation from OpenAPI"
### Is your feature request related to a problem? Please describe.
IMHO it is best practice to use shared code/assembly/nuget packages that contain the models exposed/shared between client/server API surface.

### Describe the solution you'd like
IMHO if the developer has access to shared code/assembly/nuget packages that contain API model information this should be used/added as a reference to th

[2019-01-16 17:43] jkotalik commented on #6576
Test are still run on CI (in main build).

[2019-01-16 17:43] #6576 closed

[2019-01-16 17:44] sebastienros commented on #1976
@richlander is working on a similar issue. Rich does this case (read the last 6 comments only) could be related to what you are working on?

[2019-01-16 17:45] gfoidl commented on #6729
The issue got edited (see there) -> `ActionResult<List>`

[2019-01-16 17:53] #3971 closed

[2019-01-16 17:53] #5666 closed

[2019-01-16 17:54] #3972 closed

[2019-01-16 17:56] kevinlo commented on #6690
I get the answer what I need to do from this thread and the reference thread.  I can close this issue.

[2019-01-16 17:56] #6690 closed

[2019-01-16 18:01] jkotalik commented on #6737
@FranklinWhale see https://github.com/aspnet/AspNetCore/issues/3503.

[2019-01-16 18:01] pranavkm commented on #6500
@andoband we plan on removing the flag before the 3.0 release. It was intentionally named as a private variable so that it does not have semblance to a real long-term supported setting.

[2019-01-16 18:03] FranklinWhale commented on #6737
@jkotalik #3503 does not fix that as I have already explained above at https://github.com/aspnet/AspNetCore/issues/6737#issuecomment-454689107

[2019-01-16 18:03] firecube commented on #2822
The suggested duplicate is not the same issue.  We have just been caught out by this after upgrading from v1 of asp dotnet core hosting bundle to 2.1.  The IIS hosting module has a different behaviour.

We have the same setup as described in this ticket.  A root dotnet core app with a child dotnet core app with both specifying the ASPNETCORE_ENVIRONMENT environment variable of production.  After t

[2019-01-16 18:13] davidfowl commented on #3972
@jkotalik can you make sure we have issues tracking the work in kestrel and iis integration

[2019-01-16 18:14] wadebaird commented on #6616
Thanks @dougbu. Is there a way to send it to you privately?

[2019-01-16 18:17] FranklinWhale commented on #6737
@jkotalik Although the workarounds in #3503 doesn't work for this issue, do you think #6619, which will be included in the next .NET Core SDK, will fix this?

[2019-01-16 18:21] pranavkm commented on #6665
By default, controllers marked with `ApiControllerAttribute` trigger a check for invalid model state and return a 400 Bad Request. Using the string "null" as a value for nullable types has always produced an model binding error, your action was likely not checking for it. Not passing in a value i.e `GET /api/Values/test` would be the way to correctly bind the parameter to a null value.

Using `Api

[2019-01-16 18:21] #6665 closed

[2019-01-16 18:22] mikaelm12 commented on #5379
I finished most of the functionality for this but it still needs tests. Because of some other higher priority things I'm gonna push this to 3.0.0 preview 3

[2019-01-16 18:26] pakrym opened #6752 "[Test failure] ApplicationInitializationPageIsRequested(InProcess)"
Discovered after re-enabling all tests on CI

[2019-01-16 18:48] #3840 closed

[2019-01-16 18:50] jkotalik commented on #3972
For sure.

[2019-01-16 19:07] halter73 commented on #6704
Possibly related https://github.com/aspnet/IISIntegration/issues/231

[2019-01-16 19:11] #6635 closed

[2019-01-16 19:18] muratg commented on #6448
@Arash-Sabet, were you able to configure your logging as shown above? It would be help us diagnose this issue. Also, could you share your `OnConnectedAsync` method?

[2019-01-16 19:33] shapeh opened #6756 "w3wp.exe crashes | Faulting module name: KERNELBASE.dll, version: 10.0.17763.134. ASP.NET Core 2.2.1"
### Describe the bug
w3wp.exe crashes when trying to login via a custom made login procedure.
Using Identity + Dapper and ASP.NET Core 2.2.1

Faulting application name: w3wp.exe, version: 10.0.17763.1, time stamp: 0xcfdb13d8
Faulting module name: KERNELBASE.dll, version: 10.0.17763.134, time stamp: 0x1659a33b
Exception code: 0xe0434352
Fault offset: 0x0000000000055299
Faulting process id: 0x1904
F

[2019-01-16 19:38] jkotalik commented on #6756
It seems like your app is crashing due to
[code]

@Tratcher thoughts?

[2019-01-16 19:38] yosigolan opened #6758 "Forwarded Headers Middleware dont work on Google App Engine cloud"
### Describe the bug
After configuring the Forwarded Headers Middleware as described in the documentation, when getting the RemoteIpAddress the load balancer address is returned instead the client IP address.
this happens on Google App Engine flex environment running .net 2.2

the X-Forwarded-For is holding the correct ip and can be retrieved manually by the headers attribute on the request.

###

[2019-01-16 19:46] dougbu commented on #4802
This sounds like another variant of #4939 and #6616. But, it has nothing to do with `[BindProperty]` or `[ModelBinder]`.

Ugly workaround would be something like
[code]

[2019-01-16 19:48] sebastienros commented on #1976
What parameters do you use to set the memory limites? Just `--memory` or also `--memory-swap`?

When I test it, I can see it's taken into account very well, never going over the limit I set, even with a super low limit like 16MiB, however it swaps on disk like crazy. And I am testing with an app that does db queries (EF) and Razor views rendering.

[2019-01-16 19:48] shapeh commented on #6756
@jkotalik Yeah, it is also what Debug Diag is saying:

![debug-diag](https://user-images.githubusercontent.com/29387615/51274675-10f69c00-19d0-11e9-95df-f6f86c309ef4.PNG)

[2019-01-16 19:56] shapeh commented on #6756
Maybe bug is related to:

**Some more logs from stdout:**

[code]

[2019-01-16 20:01] Arash-Sabet commented on #6448
@muratg we need few more days to test some other scenarios. I will get back to you after our conclusion.

[2019-01-16 20:01] jkotalik opened #6760 "[Test Failure] StreamHubMethodCanAcceptCancellationTokenAsArgumentAndBeTriggeredOnCancellation"
[code]

[2019-01-16 20:04] mikaelm12 commented on #6565
Can you get some logs for us? https://github.com/aspnet/SignalR/wiki/Diagnostics-Guide

[2019-01-16 20:05] vertonghenb commented on #5467
The following repo is pretty interesting : https://github.com/TimeWarpEngineering/blazor-state, uses `MediatR`.

[2019-01-16 20:30] Rick-Anderson commented on #6744
See https://stackoverflow.com/questions/43752832/format-date-within-view-in-asp-net-core-mvc

[2019-01-16 20:37] livarcocc opened #6762 "Add scaffolding for Vue.js SPA"
_From @snobu on January 16, 2019 11:40_

Please consider adding [Vue.js ](https://vuejs.org/) SPA scaffolding. Vue is popular enough to deserve its own scaffolding entry in the dotnet CLI. Right now only React and Angular SPAs are being generated.

[code]

_Copied from original issue: dotnet/cli#10615_

[2019-01-16 20:43] rynowak opened #6763 "API Review: Review Extension methods for endpoint routing like MapGet"

[2019-01-16 20:46] rynowak opened #6764 "API Review: Review extension methods on IEndpointConventionBuilder"

[2019-01-16 20:50] Tratcher opened #6765 "GenericWebHostBuilder.UseStartup injects wrong config into Startup"
https://github.com/aspnet/AspNetCore/blob/5a70f5312fb57fc3788e5af56a99e7b43761e195/src/Hosting/Hosting/src/GenericHost/GenericWebHostBuilder.cs#L221-L236

If you inject IConfiguration into Startup you get the host config, not the app config. This breaks EF when it tries to resolve connection strings.

@davidfowl

[2019-01-16 20:58] Rick-Anderson commented on #6744
@shadinamrouti 	if that doesn't solve your problem post a Github link to the simplest possible sample that reproduces the issue and I'll take a look.

[2019-01-16 21:03] Rick-Anderson commented on #6729
![image](https://user-images.githubusercontent.com/3605364/51278309-55f1e280-197e-11e9-8036-801b0b1823fd.png)

[2019-01-16 21:14] Tratcher commented on #6765
GenericWebHostBuilder.ConfigureServices also injects the host config rather than the app config. It's using a cached WebHostBuilderContext that's not updated as the build progresses.

[2019-01-16 21:24] jlchavez opened #6766 "Home Url in Area in an ASP.NET Core 2.1 Web Application is generated to the Area not to the Home Page"
### Describe the bug
When adding a new Area to the Web Application the Links on the _Layout.cshtml for the About and Contat works fine, but for the Home Page Url generated it would point to the Index file of the Area (/Sample/Index) and not to the Index file in the root folder (/Index).

The Identity RCL seems to work fine, since you can click on the Login Link and then click back to Home. But on

[2019-01-16 21:45] mkArtakMSFT commented on #4588
Thanks for contacting us, @GrilleGustav.
@pranavkm, can you please look into this? Thanks!

[2019-01-16 21:50] jkotalik opened #6768 "[Test Failure] FindsCustomWatchItems"
[code]
Build: https://dev.azure.com/dnceng/public/_build/results?buildId=74189

[2019-01-16 21:51] shirhatti commented on #5992
Spent some time re-visiting compression. As mentioned in triage, the extensibility points we are sufficient.
We will not be adding any new MIME types by default that aren't assets shipped by the templates.

[2019-01-16 21:51] #5992 closed

[2019-01-16 21:51] jkotalik commented on #6691
Another one: https://dev.azure.com/dnceng/public/_build/results?buildId=74189

[2019-01-16 21:54] GrilleGustav commented on #4588
I already solfed the Problem and i have multiplugin support.

[2019-01-16 21:56] natemcmaster commented on #6734
FYI - these are the lines you need to alter to get build.cmd to pick up this project

https://github.com/aspnet/AspNetCore/blob/5a70f5312fb57fc3788e5af56a99e7b43761e195/build/repo.props#L40-L51

Keep the exclusion, but move it down into the one below which has `'$(MSBuildRuntimeType)' == 'Core'`. This exclusion is still necessary because VSIX projects are not supported by `dotnet build`.

[2019-01-16 22:03] NTaylorMullen commented on #5078
@mkArtakMSFT it'd probably be better for @ajaybhargavb to grab this one. It will take significant parser changes to enable this, at which he'll have more context given the recent redesign of the parser..

[2019-01-16 22:09] awulkan commented on #6762
Not that stars on GitHub matter a lot, but Vue has surpassed both React and Angular now. And with the upcoming Vue 3 I think it will only keep on rising.

If I remember correctly they removed Vue due to lack of time for maintaining it. It would be awesome if it was available though since it would help a lot of people getting started! I hope it will at least be considered as a possibility.

[2019-01-16 22:14] mkArtakMSFT commented on #4784
Thanks for contacting us, @wanton7.
This is not something we plan to do.

[2019-01-16 22:14] #4784 closed

[2019-01-16 22:16] mkArtakMSFT commented on #4514
Thanks for contacting us, @Psypher9.
Unfortunately, we're not going to take your PR for this change, as this is not something we've heard much community ask for.

[2019-01-16 22:16] #4514 closed

[2019-01-16 22:18] jmazouri commented on #6762
Templates for Vue (as well as Aurelia and Knockout) previously existed as part of the `Microsoft.AspNetCore.SpaTemplates` package (which is still available on Nuget, though quite out of date). They were removed [back in February ](https://github.com/aspnet/Announcements/issues/289), with the stipulation that

I hope the team reconsiders their position, at least for Vue, as it has grown in populari

[2019-01-16 22:30] mkArtakMSFT commented on #4462
Thanks for contacting us, @jpiquot.
@JamesNK, can you please look into this? Thanks!

[2019-01-16 22:33] mkArtakMSFT commented on #4439
Thanks for contacting us, @VictorioBerra.
@glennc, is this something we should consider adding support for?

[2019-01-16 22:34] mkArtakMSFT commented on #4296
This is done as part of https://github.com/aspnet/AspNetCore/commit/747420e5aa7cc2c7834cfb9731510286ded6fc03

[2019-01-16 22:34] #4296 closed

[2019-01-16 22:40] mkArtakMSFT commented on #4359
Thanks for contacting us, @rommilg.
It seems that the issue you're facing is a limitation in browser, which prevents the service worker to set the cookies. Using session is indeed the desired approach here.

[2019-01-16 22:40] #4359 closed

[2019-01-16 22:41] mkArtakMSFT commented on #4365
Thanks for contacting us, @w8w8w8.
@SteveSandersonMS, can you please look into this? Thanks!

[2019-01-16 22:43] mkArtakMSFT commented on #5683
Thanks for contacting us, @w8w8w8.
Closing this issue as it's very close to the other one you've filed.

[2019-01-16 22:43] #5683 closed

[2019-01-16 22:44] mkArtakMSFT commented on #4366
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2019-01-16 22:44] #4366 closed

[2019-01-16 22:45] mkArtakMSFT commented on #4412
Thanks for contacting us, @nenaaki.

[2019-01-16 22:46] mkArtakMSFT commented on #4412
@nenaaki, feel free to send a PR for this.

[2019-01-16 22:47] JunTaoLuo commented on #6765
@ryanbrandenburg maybe this is what's breaking templating?

[2019-01-16 22:47] mkArtakMSFT commented on #2356
@natemcmaster, is this obsolete already? Should we just close it?

[2019-01-16 22:48] mkArtakMSFT commented on #2357
@javiercn, what's the status of this issue? Any pending actions?

[2019-01-16 22:50] mkArtakMSFT commented on #3032
Closing as there is no clear need for this.

[2019-01-16 22:50] #3032 closed

[2019-01-16 22:52] JipingWang opened #6773 "AzureADB2C(Note: case-sensitive)"
Noticed default changed from "AzureAdB2C" to "AzureADB2C". Could you add a Note somewhere in the document. This caused a big trouble not realizing two are different.

### Note: configuration keys are case-sensitive (only in appsettings.json ?)
if you have configured "AzureAdB2C" for some applications before, be ware that the new default scheme name is "AzureADB2C".

[2019-01-16 22:52] mkArtakMSFT commented on #4949
Closing this issue as there was no community involvement for quite a while now.

[2019-01-16 22:52] #4949 closed

[2019-01-16 22:54] redradist opened #6774 "[Blazor] Blazor Components to use Shadow DOM elements"
### Is your feature request related to a problem? Please describe.
It is very hard to use external component in application without breaking this component, because of conflicting CSS styles.
Allow to use in Blazor Component Shadow DOM for encapsulating the CSS styles.

[2019-01-16 22:55] mkArtakMSFT commented on #5169
Closing this issue as there was no community involvement for quite a while now.

[2019-01-16 22:55] #5169 closed

[2019-01-16 22:55] JamesNK commented on #4579
Hi @BrightSoul

The `RouteTokenTransformerConvention` type doesn't have a point where it has a service provider to resolve the type. If you look at the source code you will see that it is very simple - https://github.com/aspnet/AspNetCore/blob/ae9b3992b233b9184bdc1349bc99a780db355086/src/Mvc/src/Microsoft.AspNetCore.Mvc.Core/ApplicationModels/RouteTokenTransformerConvention.cs

To achieve what you

[2019-01-16 22:56] mkArtakMSFT commented on #5170
Closing this issue as there was no community involvement for quite a while now.

[2019-01-16 22:56] #5170 closed

[2019-01-16 22:57] mkArtakMSFT commented on #5171
Closing this issue as there was no community involvement for quite a while now.

[2019-01-16 22:57] #5171 closed

[2019-01-16 22:59] mkArtakMSFT commented on #5172
@ryanbrandenburg, is there anything else to be done here?

[2019-01-16 23:01] SteveSandersonMS commented on #5168
Sorry this never got a timely response.

I think the behavior reported here comes down to a [Node issue whereby it fails to preserve domain context in native Promise continuations](https://www.google.com/search?client=firefox-b-d&q=node.js+domain+promises). That's not something we can directly fix, so if you're chaining promises and using `addTask`, I think you'll unfortunately have to re-assign t

[2019-01-16 23:01] mkArtakMSFT commented on #5173
Closing this issue as there was no community involvement for quite a while now.

[2019-01-16 23:01] #5173 closed

[2019-01-16 23:02] mkArtakMSFT commented on #5174
Closing this issue as there was no community involvement for quite a while now.

[2019-01-16 23:02] #5174 closed

[2019-01-16 23:03] SteveSandersonMS commented on #4365
We heard from the Mono team that they identified one or more memory leaks with the Mono WebAssembly runtime, and have since fixed them. So my hope would be that this issue would cease once we update to a newer runtime.

[2019-01-16 23:05] mkArtakMSFT commented on #5175
@ryanbrandenburg, can you please look into this? Thanks!

[2019-01-16 23:06] mkArtakMSFT commented on #5176
Closing this issue as there was no community involvement for quite a while now.

[2019-01-16 23:06] #5176 closed

[2019-01-16 23:07] pakrym opened #6776 "[Test failure] ServerShutsDownWhenMainExits"
https://dev.azure.com/dnceng/public/_build/results?buildId=74352&view=ms.vss-test-web.test-result-details

From the first look, it seems like shutdown callback is called after CLR already stopped.

[2019-01-16 23:09] #4588 closed

[2019-01-16 23:09] mkArtakMSFT commented on #5177
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2019-01-16 23:09] #5177 closed

[2019-01-16 23:09] #6556 closed

[2019-01-16 23:10] #4741 closed

[2019-01-16 23:12] #5168 closed

[2019-01-16 23:17] pakrym commented on #6776
The question is why StopCallbacksIntoManaged() didn't help

[2019-01-16 23:22] pakrym commented on #6776
[code]

Other interesting thing is that `Stopping CLR` is logged before CLR thread exit.

[2019-01-16 23:33] redradist commented on #6774
Actually I event can participate in implementing this feature ...
I just need a hit where to start, where is Browser Render Logic ?

[2019-01-16 23:47] pakrym commented on #6776
This is why https://github.com/aspnet/AspNetCore/blob/5299eff6160d8f9c86299f80430cedf0fbe52ff5/src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/inprocessapplication.h#L64

[2019-01-16 23:52] pakrym commented on #6776
Related https://github.com/aspnet/AspNetCore/issues/6605

[2019-01-17 00:18] #3854 closed

[2019-01-17 00:32] jkotalik commented on #6756
With regards to w3wp.exe crashing, that behavior is expected because the is an unhandled exception on a background thread.

In UserManager.cs, your SignIn() method has an async void, which should be async Task. My guess is that because it isn't awaited, correctly, an exception is thrown on a background thread which isn't caught, causing w3wp.exe to crash. See https://github.com/davidfowl/AspNetCor

[2019-01-17 00:32] #6756 closed

[2019-01-17 00:36] Tratcher commented on #6020
@muratg recommend fix for 3.0. We're doing something similar for HttpSys windows auth.

[2019-01-17 00:44] #6765 closed

[2019-01-17 00:47] onovotny commented on #6733
@oliverjanik A blog with a sample that shows what you did would be valuable though.

[2019-01-17 00:48] w8w8w8 commented on #4365
thanks, Looking forward to the new runtime.  hope use blazor at work.
@mkArtakMSFT  , @SteveSandersonMS

[2019-01-17 00:58] SteveSandersonMS commented on #6763
@rynowak Is this in the wrong project? Doesn't look Razor Components-ish.

[2019-01-17 00:58] acds commented on #3470
Hi

Per the link back to aspnet/HttpClientFactory#165, and that repository is now archived and one gets pointed back to hear. I updated to .Net core 2.2 and still get this issue.

What will cause these clean up issues ?

Each API Call gets a specific named HTTPClient within the scope of a function.

[code]

My impression was that I did not need to `dispose` the `HttpClient` each time (by wrapping

[2019-01-17 01:00] JamesNK commented on #6763
Correct. Fixed!

[2019-01-17 01:00] setli opened #6783 "ASP.NET Core SignalR native iOS clients?"
Hi , I was wondering is there any hope that we will get native iOS (Swift/Object-C) and Android (Java) clients?  think

[2019-01-17 01:00] rynowak commented on #6763
xD

[2019-01-17 01:03] rynowak commented on #3470
We can only clean up the handlers after everything that refers to them is GCed. If a GC hasn't happened yet, then we have to wait for one to occur.

Is this causing a problem for you? I'm not very worried based on the logs you showed me. if you have hundreds of handlers hanging around then that is a cause for concern.

[2019-01-17 01:11] jkotalik commented on #6783
The Java client is already available for use: https://docs.microsoft.com/en-us/aspnet/core/signalr/java-client?view=aspnetcore-2.2.
There is a open source (non-microsoft supported) Swift client here: https://github.com/moozzyk/SignalR-Client-Swift

[2019-01-17 01:38] setli commented on #6783
@jkotalik Thank you for your reply , Does Microsoft have plans to support IOS(Swift and Object-C) Native client ?

[2019-01-17 01:58] jkotalik commented on #6783
@bradygaster to respond.

[2019-01-17 02:22] Eilon commented on #6773
Hi @JipingWang , can you provide info on where the "default changed"? Was this in a project template? Or somewhere else?

[2019-01-17 02:40] FranklinWhale commented on #6737
@jkotalik I have got the proper workaround from aspnet/EntityFrameworkCore#14439. I am sorry to have re-opened this issue. Thanks.

[2019-01-17 02:40] #6737 closed

[2019-01-17 02:56] maxpiva commented on #5817
https://github.com/aspnet/AspNetCore/blob/d7a7c65b2b40a97bb0ba78c07380c46bc5920400/src/Identity/Core/src/SignInManager.cs#L370

will logout the user, i was unable to follow the debug, but checking the source this might be the culprit:

https://github.com/aspnet/AspNetCore/blob/d7a7c65b2b40a97bb0ba78c07380c46bc5920400/src/Identity/Core/src/SecurityStampValidator.cs#L163

and probably this one is tr

[2019-01-17 03:14] HaoK commented on #5817
That would be by design, if they did anything related to the security settings on the user, that rolls the security stamp which would trigger sign out.  Usually the manage pages explicitly resign the user in to prevent the user from being signed out in this way.

[2019-01-17 03:34] yuuhhe commented on #3371
have same problem, any news ?

[2019-01-17 03:52] jlchavez commented on #6641
I'm building a modular online application that should have a single sign on page with cookies  authentication and OpenID for external authentication. So I finally resolved it, by reading how the code was built, finally found and abstracted a way to retrieve the links for the Identity Default UI, so my complaint is how complex is how to retrieve this urls out of the box, and that there are more lin

[2019-01-17 03:56] itrofimow commented on #3371
We couldn't make it work and just abandoned further investigations. However we tend to believe this is wcf related.

I'd suggest following lldb part of this https://github.com/dotnet/coreclr/blob/master/Documentation/building/debugging-instructions.md as we didn't try it back then and `dumpheap` might point to the issue.

[2019-01-17 04:46] maxpiva commented on #5817
Sure thing, probably another way of checking for the cookie should be devised, instead of using AuthenticateAsync.

[2019-01-17 04:53] davidfowl commented on #6758
Can you provide a sample application?

[2019-01-17 05:42] John0King commented on #6475
@jkotalik @Eilon  Is it safe to rely on the websocket connection lifetime( eg. Throw `WebSocketException` ), Or It's better to do the server timeout and the client ping/pong.

[2019-01-17 06:13] kenyeung128 opened #6792 "[SignalR] Max Concurrent connection and how to disconnect client from server side"
Hi, we have an application reaching 3000+ concurrent connection and would like to find out what are the max number of concurrent connection that .net core signalr can handle?

also, if there is anyway to disconnect the client from the server side? e.g. disconnect due to client inactivity within a period of time. thanks.

[2019-01-17 06:31] dougbu commented on #4939
Punting to Preview3 because #4802 is more urgent

[2019-01-17 06:35] dougbu commented on #4802
@danroth27 @mkArtakMSFT @rynowak if possible, we should try to get this into Preview2 and consider it for a near-term 2.2.x patch

[2019-01-17 06:42] acds commented on #3470
Thanks for replying.

The issues is it’s in a Triggered Azure WebJob that fails with a timeout as it has not completed that clean up after the requisite 120 seconds. This can be extended but it seems that switched to a continuous job it continues to clean up for the hour to the next scheduled trigger.

Burning up resources for nothing than letting the Job sleep.

[2019-01-17 07:10] #2357 closed

[2019-01-17 07:45] yosigolan commented on #6758
sure, i will soon.

[2019-01-17 07:46] javiercn opened #6794 "[Components] Consider getting rid of RenderRootComponent in favor of RenderRootComponentAsync"
The renderer has both sync and async versions. It's likely that we don't need both and we can just keep the async version.

[2019-01-17 07:52] gingters commented on #5833
I updated to the latest state of master branch yesterday, and the sample project still does not compile. The error changed to not being able to find the project info for `Microsoft.AspNetCore.Antiforgery.csproj` now:

[code]

The ASP.NET repo by itself compiles without errors, when I run the restore.cmd or build.cmd in the root directory.
I then went into the `\src\Identity\ApiAuthorization.Identi

[2019-01-17 08:00] ruchanb commented on #6702
yeah that seems to be the issue, as i can see too. I am not sure to why it happened on that day only.

[2019-01-17 08:00] #6702 closed

[2019-01-17 08:10] shapeh commented on #6756
@jkotalik - you are completely right, that did the trick - thanks! 🥇

[2019-01-17 08:58] bilginkilic commented on #4756
How did you get this log on IIS . I need it because >> https://stackoverflow.com/questions/54219294/the-more-request-means-slower-read-from-cached-objects

[2019-01-17 09:11] FTWinston commented on #6704
Correction: I _am_ seeing this error on my local machine when running through IIS.

I thought I wasn't seeing it yesterday, but it's definitely happening today when I've gone to try and determine whether changing the account the app pool runs as might make a difference. It doesn't seem to.

[2019-01-17 11:06] ankitmori14 commented on #4691
@muratg I can share Dump of my application were i am facing this issue. if can help you.
Thanks.

[2019-01-17 11:13] ankitmori14 opened #6795 "High Memory utilization in Asp.net core 2.0"
Hi,

I have created just simple default application still i have't add any piece of code still it is utilizing 354 MB of memory.

Version : Asp.net Core 2.0

![core2 0_test](https://user-images.githubusercontent.com/28730774/51314830-bebc8600-1a76-11e9-8f17-7b33c945c441.PNG)

As you can see in screen shot.
1. Microsoft.CodeAnalysis.PEModule it is utilizing high memory though i am not using any fea

[2019-01-17 11:33] redradist commented on #6774
@Eilon Hi Eilon and others,

In browsers where Shadow DOM is not yet supported, we can reset all style for particular component with http://html5doctor.com/html-5-reset-stylesheet/ or other reset style-sheet.
We could apply it directly to particular component by assigning to this component Unique Id.

I have made an example [Example of Blazor Component with CSS Style encapsulation in browser which

[2019-01-17 11:33] Cryptoxygen opened #6796 "ASP.NET 5 is dead - Introducing ASP.NET Core 1.0"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is.
Example. I'm am trying to do [...] but [...]

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considere

[2019-01-17 11:35] Cryptoxygen commented on #6796
**Why 1.0?**
Because these are new. The whole .NET Core concept is new. The .NET Core 1.0 CLI is very new. Not only that, but .NET Core isn't as complete as the full .NET Framework 4.6. We're still exploring server-side graphics libraries. We're still exploring gaps between ASP.NET 4.6 and ASP.NET Core 1.0.

[2019-01-17 11:52] Andrzej-W commented on #6610
@SteveSandersonMS it looks that you are working on Razor Components templates now. Maybe you can look at this ***minor*** issue.

[2019-01-17 11:53] javiercn commented on #6768
@natemcmaster

I'm skipping it as it blocking PRs. Will you do the needful?

[2019-01-17 12:46] Stamo-Gochev opened #6797 "Randomly failing SignalR connections"
### Describe the bug
I am experiencing a strange problem with failing connections to a SignalR service, which seem to be happening from time to time (refreshing the page multiple times results in several successful and failing requests). I tested with different loads of the machine where the service is deployed and this doesn't seem to affect the issue - some requests are failing with basically no

[2019-01-17 13:35] dmitrydvm commented on #6111
I have same problem.
App version 2.2, Hosting IIS W2016, netcoreruntime 2.2.1
Event Viewer:
[code]

[2019-01-17 13:46] snobu commented on #6762
@sdras, can you maintain this if it gets greenlight?

[2019-01-17 14:07] mclenney opened #6798 "Extending Shutdown Timeout Issue"
I have a .NET Core 2.1.1 console application I am running in which I have a service that inherits from the BackgroundService class which kicks off a long-running service on a new thread. This service then consumes a scoped service which reads from the database and sends some emails. I am attempting to test my handling of a graceful shutdown of the application but am running into an odd issue in my

[2019-01-17 14:37] msschl opened #6799 "Bad request data: "Malformed request: invalid headers.""
### Describe the bug

I have the following setup:
![picture](https://user-images.githubusercontent.com/5054780/51325379-135b0380-1a6d-11e9-9788-728faead6425.png)

All requests are correctly forwarded. The logs of the asp net core app outputs:
[code]

### Configuration
- `mainentrypoint.server.com` site acting as a reverse proxy to the server-farm:
[code]

- hosts file in `C:\Windows\System32\drive

[2019-01-17 14:40] Matthew-Bonner opened #6800 "Multiple @inherits not working with Blazor"
I’m attempting to re-jig some layouts and following our ethos of splitting out the functions into components (and in this instance it makes good sense because I want to use one of the functions in more than 1 cshtml page).

The issue is you can only have 1 @Inherits on a cshtml page, which seems like a big draw back to me.

On our main Layout page we:

@inherits BlazorLayoutComponent.

This is req

[2019-01-17 14:54] luizvitor89 commented on #6601
@davidfowl your ideia for a solution works fine, thanks.

If anyone comes here looking for the solution (4.7 to core):
PS: I implemented only what I needed

Interface:
    public interface ISessionCompatibilization
    {
        byte[] Get( string key);
        int? GetInt32(string key);
        string GetString(string key);
        void SetInt32(string key, int value);
        void SetString(stri

[2019-01-17 14:54] #6601 closed

[2019-01-17 15:09] JipingWang commented on #6773
@Eilon , sorry, please ignore.
The code was not from official repo, but some sample project. (Azure-Samples/active-directory-b2c-dotnetcore-webapp)

[2019-01-17 15:09] #6773 closed

[2019-01-17 15:12] viktorgullmark commented on #6701
Thanks for the input. We've resolved the Task canceled exception now thanks to your clarification.

We're seeing the "Writing is not allowed after writer was completed" a few times every hour, with around 100 users online. Can't find a disconnect at this timestamp in the logs though 🤔

[2019-01-17 15:40] yringler commented on #6482
@pakrym , can you please explain? I was under the impression (see for example [here](https://blogs.msdn.microsoft.com/webdev/2018/10/29/a-first-look-at-changes-coming-in-asp-net-core-3-0/)) that .Net framework would work until .net core 3, which is a requirement for our team because we rely on a lot of legacy .Net framework code.

To suddenly come out and say, a month or two after release of In-Pr

[2019-01-17 15:44] FiveStar0909 commented on #6565
![screenshot_109](https://user-images.githubusercontent.com/41168694/51329987-775cd800-1a2b-11e9-95ff-19427bef598a.png)

This is screenshot what i faced.