[2020-01-15 00:43] jkotalik commented on #18262
One thing that has been coming up recently is a regression in the platform here: https://github.com/dotnet/aspnetcore/issues/17973. Potentially this is the issue you are hitting, as people have been showing the same symptoms that you are seeing.

If that doesn't fix it, inside of your csproj for your side, you can add `<AspNetCoreHostingModel>OutOfProcess</AspNetCoreHostingModel>` and that should

[2020-01-15 01:14] wtgodbe commented on #18324
@wli3 do you remember where you saw this issue before?

@tmat @markwilkie any thoughts on if it's safe to update the nuget versions in Arcade?

[2020-01-15 01:28] wli3 commented on #18324
I think it is that https://github.com/dotnet/arcade/issues/1965

But there is not much information

[2020-01-15 01:51] grbd commented on #5204
hmm so I just ruled out npm as the issue
launching the following within NodeScriptRunner
[code]
leaves nothing open after quitting as that's not a loop / terminates by iteself
launching this which is a simple ping on an infinite loop
[code]
keeps the cmd open after stopping debugging / quitting studio so same issue / never terminates
also tried adding in
[code]
but that didn't do anything / stop i

[2020-01-15 03:17] achandlerwhite commented on #18341
I'm able to find the 3.1.1 package but I get a runtime error: `Could not load file or assembly 'Microsoft.AspNetCore.DataProtection.Abstractions, Version=3.1.1.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'. The located assembly's manifest definition does not match the assembly reference. (0x80131040)`

0) update SDK to 3.1.101
1) start a new project with `dotnet new mvc`
2) `dotnet add pack

[2020-01-15 03:32] Pilchie commented on #18341
See https://github.com/aspnet/announcements/issues/401.  You probably need to add an explicit package reference.

[2020-01-15 03:38] achandlerwhite commented on #18341
@Pilchie That did the trick. Thanks for pointing me in the right direction.

[2020-01-15 03:39] Andrzej-W commented on #18279
@HTD please take into account that we have to have an option to rerender components with new parameter values. This is required in almost every application.

Maybe it is difficult for you to understand how Blazor works because it is different than Windows Forms or WPF. I suppose you are confusing the component parameters with the internal state of the component. If you want to initialize internal

[2020-01-15 04:47] LilMinmax commented on #18298
One last question @javiercn - I'd expect that by default I could round trip data, and there's nothing about JSON that requires the initial character to be lowercase. i.e. this is perfectly valid JSON:

[code]

When I go from JS to C# everything is as expected. When I go from C# to JS the initial cap situation comes up. Why is that by design vs being able to round trip data?

[2020-01-15 04:53] LilMinmax commented on #18298
Also, in the JsonElement etc documentation, I see this:

"By default, property names and dictionary keys are unchanged in the JSON output, including case."

This serialization might be using JsonNamingPolicy.CamelCase which seems incorrect.

[2020-01-15 06:02] #18315 closed

[2020-01-15 06:10] HTD commented on #18279
I know the component can be rendered multiple time, but I completely do not understand why the component should be re-render just because received a click or mouse cursor movement. ANY UI, not just web or Blazor should render elements on demand. Or when it's necessary to update how they look. Constantly rendering everything with full initialization doesn't make any sense. And it's pretty obvious,

[2020-01-15 06:13] TanvirArjel opened #18348 "User.FindFirstValue(ClaimTypes.Email) returns always null."
I am trying to get the logged in user's email from the claim using `User.FindFirstValue(ClaimTypes.Email)` but it always returning `null`. Look at the followings:

     string email = User.FindFirstValue(ClaimTypes.Email); // Always null. Not returning logged in user's Email
     string userName = User.FindFirstValue(ClaimTypes.Name); // Returning logged in user's UserName
     string userId = Use

[2020-01-15 06:14] Joelbear5 commented on #3849
My team has migrated away from dotnet core due to this issue. Even setting health check pings to an API only loads that controller. I think Azure might have a way to keep APIs "warm", but IMHO dotnet core completely failed us as a web server.

[2020-01-15 06:29] ElderJames opened #18349 "Template id reference in blazor"
### Is your feature request related to a problem? Please describe.

I am porting the ng-zorro to [ant-design-blazor](https://github.com/ElderJames/ant-design-blazor), and have many troubles about template reference.
At current version, if we need to create a template reference, we must assign the `@<{HTML tag}>...</{HTML tag}>` to the `RenderFragment ` variable.

[code]

### Describe the solution

[2020-01-15 07:55] knoxi commented on #18333
Because we use a custom generic BaseController class, we unfortunately cannot apply the generic type.

The generic type causes a compiler error:
<pre>
[ProducesResponseType(statusCode: StatusCodes.Status202Accepted, type: <b>typeof(TDto)</b>)]
</pre>

[code]

Do you have any suggestions how I can solve or workaround this problem without override and set this on each derived class?

[2020-01-15 08:35] macux commented on #18337
Will Azure app service be getting updates soon or should we be thinking of a self contained deployment? (Same question applies to [18336](https://github.com/dotnet/aspnetcore/issues/18336).)

[2020-01-15 09:16] sdcb commented on #18062
This issue has two parts:
* Proxy currently not using singleton `HttpClient`, so it not respect the `ETag`/`If-None-Match` header, and every request will need to wait `webpack-dev-server` for **4 seconds**(that's why browser navigate is pretty fast)

* So why `webpack-dev-server` need to wait for **4 seconds**? I found that this simple code will need to wait 4 seconds:
[code]
For reason unknown, j

[2020-01-15 09:16] KamranShahid opened #18350 "Too much log in syslog even after disabling logging. how can i disable syslog entries for my application"
I have a asp.net core application running in ubuntu as a systemd.service

I have set following option in configuration

[code]

But in syslog there are too much coming logs for each request

e.g.

[code]

How Can i disable this logging in syslog

[2020-01-15 09:46] KamranShahid commented on #18350
My mistake.
{
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "None",
      "System": "None",
      "Microsoft": "None"
    }
  }
}
 is in appsetting.development.json . so i have removed appsettings.development.json and put it in my main appsetting.json

[2020-01-15 09:46] #18350 closed

[2020-01-15 10:02] RafaelVieira2323 commented on #18260
01-15 09:59:57.992 D/Mono    (26391): Loading reference 8 of Microsoft.AspNetCore.SignalR.Client.Core.dll asmctx DEFAULT, looking for Microsoft.Extensions.DependencyInjection, Version=3.1.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60
01-15 09:59:57.994 D/Mono    (26391): Unloading image Microsoft.Extensions.DependencyInjection.dll [0xc4e32200].
01-15 09:59:57.994 D/Mono    (26391): Image a

[2020-01-15 10:05] MarcoGix opened #18351 "LinkGenerator and GetPathByName behaviour changed"
Hi,
we have an issue with LinkGenerator when we use GetPathByName.

_linkGenerator.GetPathByName(this.HttpContext, "V1.GetOperationById", new { operationId = "something" });

In the Prediction controller, we have the following attribute:
[HttpGet("{operationId}", Name = "V1.GetOperationById")]

This is the LOG that comes out:

*Failed to process the template v{api-version:apiVersion}/prediction/{o

[2020-01-15 10:16] mihaimyh opened #18352 "OpenIdConnect behind a proxy"
I have a Blazor server app which uses OpenIdConnect to authenticate against an IdentityServer outside of our network.

The host requires a proxy in order to have access to internet, in this case there is an exception thrown by the middleware:

[code]

Is there a way to configure the HttpClient used by OpenIdConnect to include a `HttpClientHandler` with `DefaultProxyCredentials = CredentialCache.De

[2020-01-15 11:00] frankbuckley commented on #18341
All available now - thanks

[2020-01-15 11:00] #18341 closed

[2020-01-15 11:07] flytzen commented on #18337
Clarification please; This announcement states

The [linked CVE](https://portal.msrc.microsoft.com/en-US/security-guidance/advisory/CVE-2020-0603) states

The implication of the two are obviously very different :)

[2020-01-15 11:30] javiercn commented on #18352
@mihaimyh thanks for contacting us.

@Tratcher can you help out here? I don't think there's anything blazor specific about this question.

[2020-01-15 11:31] javiercn commented on #18348
@TanvirArjel thanks for contacting us.

@HaoK I believe you wrote this helper in the first place?

[2020-01-15 11:32] javiercn commented on #18344
@SimonCropp thanks for contacting us.

@dotnet/aspnet-build This seems like an infrastructure issue, can you take a look? It might be we've published a broken package as part of the patch?

[2020-01-15 11:34] SimonCropp commented on #18344
@javiercn seems to now exist. so will close this

[2020-01-15 11:34] #18344 closed

[2020-01-15 11:35] javiercn commented on #18340
@Blackleones thanks for contacting us.

See this comment for hte right pattern to follow here and an associated sample.
https://github.com/dotnet/aspnetcore/issues/16745#issuecomment-549505605

[2020-01-15 11:39] javiercn commented on #18340
I've filed this doc issue to cover this in docs https://github.com/aspnet/AspNetCore.Docs/issues/16558

[2020-01-15 11:48] javiercn commented on #18062
Do you mean the HttpClient used by the spa extensions? There is no singleton HttpClient AFAIK on the SPA extensions, I'm not sure if it uses its own HttpClient and keeps it around or if it creates a new one every time.

With regards to the ETag / If-None-Match i don't think HttpClient has logic to handle those things or that we implement our own. Best case scenario, the OS handles it for you, but

[2020-01-15 11:53] SimonCropp commented on #18344
on a side, i am surprised this was not picked up earlier. i would have assume that at least one smoke test of a sample consuming the real nugets would have been done as part of each deployment?

and please take this as constructive criticism. I think the asp net team is overall doing a great job.

[2020-01-15 12:07] javiercn commented on #18344
@SimonCropp It is likely that you picked up the update while the packages were being uploaded. It's not atomic, but its done in a few minutes, so it's extremely rare someone runs into this issue.

[2020-01-15 12:10] SteveSandersonMS commented on #10170
We know a lot of people are interested in this, and we really would like to do something in this area. However it's a very significant work item, and the team is already fully occupied with shipping Blazor WebAssembly in May. The earliest we might attempt something in this area is for the .NET 5.0 release.

[2020-01-15 12:19] sefacan opened #18353 "IHostingEnvironment IsContainer extension method"
It can be a good help for container applications other than development mode. The application can be in both development mode and container. Both may be needed.
The ``DOTNET_RUNNING_IN_CONTAINER = true`` can be used for this.

[2020-01-15 12:20] Blackleones commented on #18340
Thank you Javiercn. I've tried your solution using **OwningComponentBase** but this not solve my problem. Even if I use
- `OwningComponentBase<UserManager<IdentityUser>>`
- `OwningComponentBase<ApplicationDbContext>`

I still get

Please try it using the following code inside a blank ASP.NET Core Blazor server-side Project with authentication
[code]

[2020-01-15 12:25] mihaimyh commented on #18352
I found a way to fix it using steps described here https://mcguirev10.com/2019/12/19/httpclient-web-proxy-authentication.html

Is there another way to do it?

[2020-01-15 12:27] javiercn commented on #18340
Do not inject the user manager, use the `Service` property on the base class instead, that's the one that it's isolated.

[2020-01-15 12:28] javiercn commented on #18340
[code]

[2020-01-15 12:29] rsudbdg commented on #6111
You are right, LocalSystem is too risky for pool identity :) .... I just changed the Identity back to ApplicationPoolIdentity, then grant IIS_IUSRS access to the App folder with 'read' permissions. It Works.

[2020-01-15 12:57] KalyanChanumolu-MSFT commented on #14160
I ran into this with a new Blazor project targetting .Net Core 3.1, Work Account

My Startup.cs

[code]
The User.Identity.Name is null only when I use the OpenIdConnectOptions and target the v2 endpoint.

If I comment the services.Configure... block, logout and log back in, I see that the authentication happens against the v1 endpoint and the User.Identity.Name is populated correctly

[2020-01-15 13:02] Blackleones commented on #18340
I've overridden my index.razor file with your code but I still get the same error as before.

[2020-01-15 14:17] SteveSandersonMS commented on #18108
I'm afraid that if you want the set of parameters you're passing to vary dynamically, you would have to do that with manual `RenderTreeBuilder` logic, since `.razor` syntax doesn't offer a way to do it.

It depends on what you mean by "generic". If you mean "has a generic parameter, e.g., declared using `@typeparam`" then you absolutely can do that with regular `.razor` syntax.

However I suspect

[2020-01-15 14:19] SteveSandersonMS commented on #18080
My expectation is that the reason the code here doesn't work is that it's running at the wrong time. The call to `document.querySelectorAll('.page-section,.site-header')` needs to be executed *after* those elements have been rendered into the DOM, otherwise it won't match anything.

For examples of how to use JS interop against the rendered output of a component, please see docs about `ElementRefe

[2020-01-15 14:21] Tratcher commented on #18062
Localhost tries IPv6 first (::1) and takes seconds to time out before trying IPv4. I assume the server is only listening in IPv4?

[2020-01-15 14:31] Tratcher commented on #18352
There is also HttpClient.DefaultProxy: https://github.com/dotnet/corefx/issues/36553

[2020-01-15 14:33] GeorgyOkov commented on #17227
@wstaelens After switching from 2.2 to 3.1, I have the same problem with IStringLocalizer, have you fixed it or made a custom solution?

[2020-01-15 14:42] wstaelens commented on #17227
I had to add the specific resx file for the default culture, in my case: Resources\SharedResources.**en**.resx

no idea why this is broken.

[2020-01-15 14:46] javiercn commented on #18062
@Tratcher Very likely. Do you see any downside to hardcoding `127.0.0.1` instead of localhost?

[2020-01-15 14:56] GeorgyOkov commented on #17227
ok. thanks. But this didn't help in my case.
I have in appStrings.resx for example, sting1 and string2, but in AppStrings.fr.resx only string1. When I try to get string2 from fr, it returns nothing (. In 2.2 everything works fine.

[2020-01-15 15:12] blowdart commented on #18348
Is this user coming from aspnet core identity?

[2020-01-15 15:13] blowdart commented on #18337
Yea, the CVE wording is standardised. You can't send emails to asp.net, but if you were to use the vulnerable parsing code from an uploaded file you'd be vulnerable.

[2020-01-15 15:20] stefan-wenig commented on #18337
Can you confirm that only front-end web servers are directly subjet to attacks based on this vulerability? (I.e. the attacker would have to be able to directly send requests to an ASP.NET Core app)

Bonus question: as a proud Azure customer, I'd hope that Application Gateway WAF is able to mitigate this kind of attack. Do you actively work with these guys?

[2020-01-15 15:28] blowdart commented on #18337
I can't confirm that. If you had an n-tier architecture and used signal-r between the tiers it may be vulnerable.

We don't work with WAF (heck they block identity cookies sometimes) but this wouldn't be something WAF would easily parse and block anyway.

[2020-01-15 15:29] SteveSandersonMS commented on #17997
@Wayne-Mather The new startup APIs *will* be part of the Blazor WebAssembly release in May.

However, to clarify: Blazor WebAssembly's first release in May will **not** be considered part of 3.1LTS, because it will be the first supported Blazor WebAssembly release. Its version number is going to be 3.2, which will be treated as a "current" release, not LTS.

[2020-01-15 15:34] Tratcher commented on #18062
*shrug* it's better to fix the server if possible.

[2020-01-15 15:38] javiercn commented on #18062
@Tratcher I don't think we can fix the underlying webpack/node server. I'm not sure this is an issue in the general case either.

[2020-01-15 15:50] TanvirArjel commented on #18348
@blowdart Yes! This user is coming from the ASP.NET Core Identity database, Not from external login.

[2020-01-15 16:30] javiercn commented on #18353
@sefacan thanks for contacting us.

@davidfowl thoughts?

[2020-01-15 16:32] javiercn commented on #18340
@Blackleones could you provide a minimal repro project that illustrates your issue and detailed repro steps on how to trigger the problem? That would help us a lot investigating.

[2020-01-15 16:33] anurse commented on #17781
Those instructions should also work for IIS Express. You **should** be able to enable the debug log by using "File > New Item..." in VS and selecting "web.config" to place a `web.config` file in the root of your project (next to the csproj). VS should use that when you run with (Ctrl-)F5 (or the green play button). Is that what you tried when you mentioned putting a web.config "in the root of myap

[2020-01-15 16:37] anurse opened #18355 "Restore normal patch versioning to new Azure SDK integration packages when they ship"
Filing this here to track updating all the relevant packages.

For the three new Azure SDK integration packages, we set the patch version to `0` in order to be able to ship them at patch version `.0` since they are new packages. We must revert this after the GA of these packages.

I expect we'll keep this untriaged to keep it on our radar.

[2020-01-15 16:42] davidfowl commented on #18353
@sefacan how are you planning on using this?

[2020-01-15 16:55] NXTwoThou commented on #17781
I had put it in the  bin\debug\netcoreapp3.1\ as that's where the dlls were.  There was no web.config in the folder that had my csproj.   When I put your example there, I actually got a log file!  The logs quickly told me what was going on.

Visual Studio's publish feature has issues with trying to publish a .NET Core site.  Namely, if you are trying to publish to production, you can't because fil

[2020-01-15 17:00] fingers10 commented on #18080
@SteveSandersonMS This is a static parallax page. The elements rendered and are available in page when it is loaded. Intersection observer should execute when a scroll happens in a page and apply css class to elements. So the elements are available and no page reload or no dynamic contents. But still it fails.

[2020-01-15 17:02] anurse commented on #17781
When publishing to Azure App Service, we do send an `app_offline` first. I'd have thought the publish via "Web Deploy" would as well. How are you publishing to IIS? Are you using VS's built-in publishing? If so, what kind of publish profile have you configured?

Glad your issue is resolved! I'm not going to close this yet because I'd like to see if we can figure out if you need the manual `app_off

[2020-01-15 17:03] SteveSandersonMS commented on #18080
@fingers10 I don't understand how the elements can be available when the page is first loaded. At the time when initial scripts run, Blazor hasn't yet rendered the initial UI. You *may* have prerendered elements in the page, but they are not the same elements that will exist once the initial UI is rendered interactively.

[2020-01-15 17:04] #17079 closed

[2020-01-15 17:05] #17426 closed

[2020-01-15 17:05] NXTwoThou commented on #17781
![Untitled](https://user-images.githubusercontent.com/15003605/72454670-eb3cd800-3786-11ea-83a3-eb53414299d3.png)

[2020-01-15 17:05] #17378 closed

[2020-01-15 17:07] #17377 closed

[2020-01-15 17:10] NXTwoThou commented on #17781
To be fair, I haven't tried more recent versions of Visual Studio to see if it copies a app_offline.htm first.  According to my batch file create date, I did that December 3rd when I tried my first update to the site and ran into files being locked issue.

[2020-01-15 17:15] mkArtakMSFT opened #18356 "Update DebuggerProxy sources"
This includes writing instructions for this, so next time I can handle it

[2020-01-15 17:22] mkArtakMSFT commented on #18349
Hi. It looks like this is a question about how to use ASP.NET Core. The concept of templates from Angular maps to a component in Blazor. This is a good starting point to help you with understanding the concepts better: https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.1

For general questions like this, to get a faster response we suggest posting them in [StackOverfl

[2020-01-15 17:22] #18349 closed

[2020-01-15 17:25] mkArtakMSFT commented on #18328
Thanks for contacting us. We plan to address this as part of https://github.com/dotnet/aspnetcore/issues/5456.
For now, for faster development loop, we recommend running without debugger attached.

[2020-01-15 17:25] #18328 closed

[2020-01-15 17:35] Blackleones commented on #18340
[Here you can find my sample project](https://github.com/Blackleones/BlazorProblemReleatedTo18340).

You have to change the connectionString at Startup.cs line 35. Let me know if you will have some problems. Anyway, if you want you can create your sample project following these steps:

1. create a new Blazor server-side project with authentication
2. overwrite the index.razor page with the code th

[2020-01-15 17:40] mkArtakMSFT commented on #18351
Thank you for contacting us.
There were multiple breaking changes in this area in 3.0 release. We've documented all these at: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-2.2#differences-from-earlier-versions-of-routing

Hope that helps.

[2020-01-15 17:40] #18351 closed

[2020-01-15 17:49] wtgodbe commented on #18324
Discussion is happening in https://github.com/dotnet/arcade/issues/1965 now

[2020-01-15 17:52] Arestis opened #18359 "How to update Ui in JSInvokable"
After callback from js i cant update UI
`[JSInvokable]
    public void Close()
    {
         IsOpen = false;
         StateHasChanged();
    }`
Ui dont want to update

[2020-01-15 17:53] Andrzej-W commented on #18279
@HTD Blazor is different than WPF or some other UI frameworks but it doesn't mean that it is better or worse. It renders components in response to events. I have absolutely no experience in Angular, Vue or other JavaScript UI framework, but I think they are similar to Blazor. Because they render components in response to events you don't have to create data models and implement property change eve

[2020-01-15 18:16] SimonCropp commented on #18344
looking at the timestamps, it was broken for 5 hours

[2020-01-15 18:18] javiercn commented on #18344
@SimonCropp There might have been a glitch in the infrastructure. We do our best, but these things happen from time to time.

It is likely that we caught it and we reacted against it, but these things take time.

[2020-01-15 18:18] Pilchie commented on #18344
We had a  publishing problem with `extensions` packages yesterday due to the repo move and manually recovered.

Also, though upload is pretty quick, NuGet doesn't make packages available until they have done a fair bit of ingestion validation that can take a  while when we upload a few thousand packages for a servicing event.

[2020-01-15 18:21] khalidabuhakmeh opened #18360 "ASP.NET Core 3.1 - Windows Hosting Bundle Installer Doesn't Install Module For IIS Express"
### Describe the bug

I recently rebuilt my machine and was just using IIS Express. I wanted to host .NET Core in IIS Express, so I was using trying to use the [Windows Hosting Bundle](https://dotnet.microsoft.com/download/dotnet-core/thank-you/runtime-aspnetcore-3.1.1-windows-hosting-bundle-installer) to install the module. I ran the installer three times. It would successfully complete, but woul

[2020-01-15 18:29] anurse commented on #17781
Ah, I see. You're publishing to a folder. Yes, that won't do `app_offline.htm`. You have to use a publishing system like Web Deploy to have it automatically do the `app_offline.htm` dance.

[2020-01-15 18:36] NXTwoThou commented on #17781
My other web apps use "Publish method:" "File system" and I've never had any issue in the last 18 years with locked files...

[2020-01-15 18:44] anurse commented on #17781
For ASP.NET Core apps? That would be surprising.

ASP.NET (System.Web-based) apps did support this kind of publishing because the runtime did a "shadow-copy" (duplicated the entire application at startup), but that caused a lot of other problems.

[2020-01-15 18:45] #17644 closed

[2020-01-15 18:49] #18359 closed

[2020-01-15 18:50] wtgodbe commented on #18324
Here's an internal tooling build, testing to see if using an Arcade w/ update Nuget fixes the issue: https://dev.azure.com/dnceng/internal/_build/results?buildId=484557

[2020-01-15 19:00] YairHalberstadt commented on #17660
I can confirm this occuring on 16.5 preview 1

[2020-01-15 19:03] javiercn commented on #17588
I' think this is a legitimate bug.

I can't pinpoint the root cause yet, but I observe a difference in behavior between Blazor and plain HTML. We might need to programatically navigate to an anchor (althought not sure if that's possible).

The interesting thing is that navigating to the bottom of the page works, but navigating to the top doesn't.

[2020-01-15 19:03] NXTwoThou commented on #17781
For classic asp.net "Web Site" projects(one was started in 2002..stares lovingly at the green Visual C# .NET Standard 1.0 box on his bookshelf).  The only reason I know about app_offline.htm at all is if you have any sort of error/crash while "file system" publishing, the orphan app_offline.htm file is in the folder(I did a quick search to make sure I wasn't crazy remembering it).  It's happened t

[2020-01-15 19:06] javiercn commented on #17588
@mkArtakMSFT Can you move this somewhere where it will get triaged and prioritized again?

[2020-01-15 19:15] TiagoBrenck opened #18362 "ASP Net Core 3.0 - Unrecognized SameSiteMode value -1"
### Describe the bug
The code sample suggested in [this doc](https://docs.microsoft.com/en-us/aspnet/core/security/samesite?view=aspnetcore-3.0) for the SameSite cookie changes upcoming in Chrome, returns an `InvalidOperationException`

[code]

### To Reproduce
1. Go to [AzurePortal](https://portal.azure.com/), register an app and use the **Quickstart** link to download a AspNetCore solution.
1. C

[2020-01-15 19:16] #17833 closed

[2020-01-15 19:49] wtgodbe commented on #18324
That didn't work either, still getting the same error:

https://dev.azure.com/dnceng/internal/_build/results?buildId=484557

[2020-01-15 20:02] #18267 closed

[2020-01-15 21:02] SimonCropp commented on #18344
should NuGet even allow a package to be uploaded when there is a missing dependency?

[2020-01-15 21:19] anurse commented on #18262
@gthvidsten can you try applying the workarounds listed in https://github.com/dotnet/aspnetcore/issues/17973 and see if that fixes the issue? If so, we expect this to be fixed in an upcoming patch. If not, let us know here and we can investigate further.

[2020-01-15 21:22] pedrorja opened #18365 "Blazor Server App doesn't match in Google Chrome, but in Firefox, works fine"
### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce

### Further technical details
- ASP.NET Core version
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version

[2020-01-15 21:23] #18365 closed

[2020-01-15 21:23] pedrorja commented on #18365
opened wrong

[2020-01-15 21:30] pedrorja opened #18366 "Blazor Server App doesn't match in Google Chrome, but in Firefox, works fine"
### Describe the bug
I developed an application in Blazor Server and Aspnetcore 3.1, During the develop period, the application run ok, but, when I dockerize and deployed the application in a Linux Suse Server, I tested the app trying to access via Google Chrome, but I recieve this error:

 blazor.server.js:1 [2020-01-15T20:29:08.391Z] Error: Failed to start the transport 'WebSockets': Error: Ther

[2020-01-15 21:34] anurse commented on #18342
If the rules are malformed, the app is in an invalid state and really shouldn't continue executing. If you want this behavior, you should be able to create a custom rule (possibly wrapping existing rules) and handle this that way. Rewrite rules aren't really designed for this kind of recovery. If you want a rule that is resiliant to failure, the rule should avoid throwing.

Can you provide some ex

[2020-01-15 21:36] #17754 closed

[2020-01-15 21:45] cpkuo commented on #18342
In my use case, I'm loading existing Apache mod rewrite rules. mod_rewrite handles errors itself and comes with its own logging for debugging of complex reg ex rules. This allows for dynamically created rules to be implemented without touching the RewriteOptions. Mistakes can be made in rules that currently can cause an exception when a rule is applied instead of logging the exception and graceful

[2020-01-15 22:19] pranavkm commented on #18366
/cc @anurse  \ @BrennanConroy

[2020-01-15 22:31] iXyles commented on #15198
I would say this would be really nice to have, since it helps to prevent human error and annoying debugging session. Also makes developing pretty smooth on both ends by getting notice if you change this you will also have to update this (by help of compiler error as an example).

[2020-01-15 22:36] Wayne-Mather commented on #17997
Hi Steve,

Yes I watched yesterday's presentation and understand how the release
works.

It also means anyone on the LTS train in enterprise environments should be
weary of deploying the WASM version as updates will only be part of .Net 5
and a 2021 release of .Net 6 LTS.

You can close this ticket as I will not use blazor due to its release
cadence. FYI I have servers in remote areas behind satel

[2020-01-15 22:45] enetstudio commented on #18279
Isn't this code buggy:
[code]
@onclick is a compiler attribute directive, as far as I know, but here it is used as though it is a component's parameter, thus each time you click on the Html element, the Index component is re-rendered( UI events force automatic re-rendering),  and consequently its child component re-renders as well.

To prevent either components  from re-rendering, you can define y

[2020-01-15 22:59] anurse commented on #18342
Fair points, but I'm not sure it's something we'd prioritize building in to the product itself. There are a lot of scenarios that our rewrite middleware doesn't support, but in general it should have the building blocks you need to build the functionality you want.

For example, if you want to accomplish something like this now, you can wrap existing rules to make them suppress errors (and instead

[2020-01-15 23:00] #17954 closed

[2020-01-15 23:00] #15046 closed

[2020-01-15 23:03] anurse commented on #18366
@pedrorja is there anything else in the browser console? That message usually means the browser is intentionally not providing the JavaScript code with the *reason* for the error because it could be a security leak, but often it will still write it directly to the console (for the developer to see).

Could you try collecting a network trace? We have [guidance on how to do this in our documentation

[2020-01-15 23:04] anurse commented on #18366
Oh, also are you using a front-end proxy like `nginx`? Or is the container directly connected to the public port `80`? Proxies, Kubernetes Ingresses, and other intermediate servers can also interrupt WebSocket connections

[2020-01-15 23:22] DamianEdwards commented on #17932
Doesn't seem to meet the servicing bar at first glance, and fiddling with TFMs in servicing releases is a very scary idea. Do we have a sense of the scale of use of this package like this? To meet the servicing bar it would likely need to demonstrate a pretty significant impact to a lot of folks. Do we even officially support using this package in this fashion?

[2020-01-15 23:28] Pilchie commented on #18323
@mkArtakMSFT - we think this issue will block 3.1.2, and we need to work on a fix for it ASAP.  Can you help us find someone who understands the build logic there to investigate ASAP?

[2020-01-15 23:41] pranavkm commented on #18323
Picking this up

[2020-01-16 00:07] Pilchie commented on #18323
Thanks @pranavkm !

[2020-01-16 00:41] #17972 closed

[2020-01-16 01:02] ryanbrandenburg opened #18370 "VSCode extension hover throws exception if no result"
If you hover over something which doesn't give a hover result (such as `@` or `@{`) it throws an exception.

[2020-01-16 02:54] sdcb commented on #18062
Well, I know the **4 seconds** issue is not related to `.NET`, but if you guys were `node.js` experts, you may take a look on this:
![image](https://user-images.githubusercontent.com/1317141/72489186-44237380-384e-11ea-9bcb-79297b4209d2.png)

Not the elapsed time is intervaled every **4 seconds**, but when I change the code from `localhost` to `127.0.0.1` or IPv6 version "::1", performance is much

[2020-01-16 03:23] sdcb commented on #18062
Well, I find the reason, it is really the ipv6 bug in `node.js`, by default, `node.js` will onlly listen to ipv4 loopback:
![image](https://user-images.githubusercontent.com/1317141/72490459-3bcd3780-3852-11ea-8b5f-efc41bd11f25.png)

In the mean time, `ASP.NET Core` will respect both `ipv4` and `ipv6`:
![image](https://user-images.githubusercontent.com/1317141/72490526-628b6e00-3852-11ea-866e-0fb2

[2020-01-16 05:29] Tratcher commented on #18062
But `UseProxyToSpaDevelopmentServer([::1]:4200) ` works?

[2020-01-16 05:57] sdcb commented on #18062
@Tratcher nop, as I said, `node.js` will treat `localhost` as `ipv4` loopback address **only**, so by default `ipv6` address is not working.

[2020-01-16 06:46] aspramsh opened #18381 "Error with integration test for a controller action that uses Http client."
Hi there.

I have a standard integration test in my ASP.NET Core 2.2 for a controller action that makes use of Http client. When I call external service from my controller, everything works fine. When I call another controller action from my service I get the following error:

Here is the code of my test:

[code]
[code]

And here is my controller action method:

[code]

[2020-01-16 07:20] HTD commented on #18279
@Andrzej-W
I tested your example, it works, however it doesn't test the issue. To test it, in the file `MyInputComponent.razor` change the line 6 to:

[code]

Then add:
[code]
anywhere in the `@code` block.

Run and see what happens when you move your mouse cursor over the first input. It gets re-rendered, however nothing has changed in the component.

[2020-01-16 07:20] mkArtakMSFT commented on #18360
@anurse I've assigned both area-labels as I'm not sure where this actually belongs.

[2020-01-16 07:22] mkArtakMSFT commented on #18381
Thanks for contacting us.
@javiercn can you please have a look at this? Thanks!

[2020-01-16 07:37] SeppPenner commented on #17754
@jkotalik Nice :)

[2020-01-16 07:47] alextof commented on #15046
Hey @pranavkm !

I was able to fix the issue by changing the console application csproj sdk towards web sdk as @javiercn  said

And the previous behaviour that I had by switching to web sdk I could fix it.

I fixed it by disabling the browser autostart at the properties of the project.

Thanks!

[2020-01-16 08:20] dag23 commented on #17932
I have overcome this problem by downloading the code, changing the tfm and referencing my package instead of the official. Works like a charm. It will be cumbersome to track the changes you do but there are few classes so it should not be a problem. While we wait for .NET 5 it's the workaround i found.

[2020-01-16 08:49] MarcoGix commented on #18351
Well, it really doesn't help much, actually. Sorry.

Even if a breakage is documented, it doesn't make it much useful unless it covers how to act in the new version with old valid scenarios in place, that were supported.

Using route for _lang_ and _version_, even if debatable, is common pattern and the changes does brake it as is impossible to generate sane _Location_ header uri with the new fram

[2020-01-16 09:19] jhunexjun opened #18382 "Blazor lifecycle execute more than once."
### Describe the bug
To be more specific because I wrote the code inside the `OnParametersSetAsync()`, that method executes multiple times. Seems that it executes on how many are the `[Parameter]` are being passed. Just now I checked the other parameters, they are also being executed either 4 or 5 times.

Further, I'm not sure if this is intentional, but a certain component's lifecycle is being ex

[2020-01-16 09:43] preetam1175 commented on #6111
This issue Happen due to two thing

1> don't assign hosting model Inprocess in .cproj file because asp.net core 2.2 by default Inprocess hosting model
2>Make sure your server don't have multiple version of core run time like both  86 bits and 64 bits

Its going to fix your issue

[2020-01-16 10:00] enetstudio commented on #18279
You can prevent re-rendering by overriding the ShouldRender method like this:

[code]

Note that first rendering always takes place.

[2020-01-16 10:16] Serproger opened #18383 "No dynamic paths for UseStatusCodePages and UseExceptionHandler"
### Is your feature request related to a problem? Please describe.
Currently UseStatusCodePages and UseExceptionHandler methods support only one handler path. But there are cases when handler path can vary depending on some conditions. For example, I have different areas and handler path should depend on the area name.

### Describe the solution you'd like
Built-in extensions methods for Exception

[2020-01-16 10:19] SteveSandersonMS commented on #16874
Altogether this looks great to me.

This is not a big deal, and I know we tend to prefer not adding explanatory comments to templates, but do you think the unfamiliarity of this new arrangement might warrant giving an extra clue about where to configure services now there's no `ConfigureServices` method? For example,

[code]

I do think that would be really valuable. Maybe even necessary. That wou

[2020-01-16 10:28] SteveSandersonMS commented on #18356
@mkArtakMSFT I'm holding off on this until we confirm that we're updating to a specific version of Mono, since we should take the corresponding version of the debug proxy sources.

[2020-01-16 10:30] gthvidsten commented on #18262
After a lot of troubleshooting with one of our sysadmins, we finally found the problem, and it is the one described here: https://github.com/aspnet/AspNetCore.Docs/issues/10725

That issue is closed, but I would say it was not fixed as I never found the mention of Extensions in documentation regarding the `500.30 ANCM In-Process Start Failure`. If that issue was supposed to fix the `500.30` error,

[2020-01-16 10:36] SteveSandersonMS opened #18384 "Blazor WebAssembly package renames"
These name choices are the outcome from a detailed planning process that aims to balance various requirements and goals. The final naming decisions are:

* Microsoft.AspNetCore.Blazor -> Microsoft.AspNetCore.Components.WebAssembly
* Microsoft.AspNetCore.Blazor.Server -> Microsoft.AspNetCore.Components.WebAssembly.Server
* Microsoft.AspNetCore.Blazor.Build -> Microsoft.AspNetCore.Components.WebAsse

[2020-01-16 10:43] HTD commented on #18279
The bug I described causes another bug, this time more obvious and easier to observe. In previous example please replace `Component1.razor` with:
[code]
and `Index.razor` with
[code]
Now try to set date. It doesn't work, the component resets itself on any change. It clearly looks like no feature.

@enetstudio
Yes, I included this in my workaround code, it works, however it doesn't solve the proble

[2020-01-16 11:08] javiercn commented on #18381
@aspramsh thanks for contacting us.

the integration tests don't start up a real host but an in-memory one. For that reason you need to adjust your test by mocking any service that communicates with the external world.

See https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-3.1#inject-mock-services for details.

[2020-01-16 11:08] #18381 closed

[2020-01-16 11:11] javiercn commented on #18382
@jhunexjun thanks for contacting us.

OnParametersSetAsync is expected to be called everytime the parameters passed to your component change.

This behavior is by design.

If you want a method that runs only once per component, OnInitializedAsync is your best option.

The intent of OnParametersSetAsync is to allow the component to react to new parameters being passed in. In those situations the co

[2020-01-16 11:12] #18382 closed

[2020-01-16 11:17] SteveSandersonMS commented on #5554
I agree this should be cheap, plus I think we'll get told it's mandatory when we go through Blazor WebAssembly security review.

[2020-01-16 11:18] javiercn commented on #5554
This is done as part of my template changes.

[2020-01-16 11:21] #17375 closed

[2020-01-16 12:01] yentheo commented on #17613
I have the same issue as described above, the first retry fails immediately with the message 'WebSocket is not in the OPEN state'.
I changed my code to the following:
[code]
So when that is the fail message, I reconnect directly, otherwise I do my normal retry logic, I don't like hacks/fixes like this, but I don't really know where the issue lies

[2020-01-16 12:03] jhunexjun commented on #18382
I actually want a lifecycle method runs every time a parameter is passed. OnInitializedAsync() is called only once, how about if I call again the component with new set of parameter? I won't be able to trigger using the new passed param, isn't?

[2020-01-16 12:08] jhunexjun commented on #18382
I am going to explain it to you in more detail soon. Kinda busy here.

[2020-01-16 12:29] dezfowler commented on #18337
@blowdart Are those runtime and SDK  version numbers for .NET Core 2.1 correct?

The linked page shows versions:
- Runtime 2.1.15
- SDK 2.1.803 (Visual Studio 2017)
- SDK 2.1.608 (Visual Studio 2019)

[2020-01-16 12:39] shadow-cs commented on #14514
We have come across a similar problem. Previously you could use `UseRouter` and call `UseMvc` on both places (while configuring the `IRouter` ie. in the pipeline branch and on the main `app` branch). This is however not supported with endpoint routing (as far as I know since calling `UseEndpoints` on a branched app is not supported).

The way we want to solve this is by using `UseWhen` which split

[2020-01-16 12:47] etortec commented on #18337
I have a hard time reconciling the following statements from the announcement:

which seems to imply that an application that does not use Signal-R is affected. Yet in the _Affected software_ section it says:

@blowdart's comment about 'signal-r between the tiers' also seems to imply this is a problem in Signal-R.

Is a .NET Core 2.1 or 3.1 application that does not use Signal-R affected by this v

[2020-01-16 13:00] pedrorja commented on #18366
Hi @anurse !

I ran the container directly in port 80 with this command: **docker run -p 80:80 tecaplus:latest**

[2020-01-16 13:17] fingers10 commented on #18080
@SteveSandersonMS So I need to call my function from inside the component after it got rendered?

[2020-01-16 13:31] Andrzej-W commented on #18279
@HTD In my humble opinion there is no bug in Blazor - it is simply designed to rerender component after each event. It doesn't matter what you do in your event handler code. Your example with empty `Void()` method is not a real life example. As I said in my previous posts people handle events because they want to do something. You can handle mouse movements to display pointer coordinates or highli

[2020-01-16 14:06] pedrorja commented on #18366
dotnet --output inside container

docker exec -it 057622cf7748 dotnet --info
  It was not possible to find any installed .NET Core SDKs
  Did you mean to run .NET Core SDK commands? Install a .NET Core SDK from:
      https://aka.ms/dotnet-download

Host (useful for support):
  Version: 3.1.0
  Commit:  157910edee

.NET Core SDKs installed:
  No SDKs were found.

.NET Core runtimes installed:
  Mi

[2020-01-16 14:33] SteveSandersonMS commented on #18080
If you're relying on interacting with its rendered elements, then yes you have to do that after the elements are rendered ;)

[2020-01-16 14:43] wmgdev commented on #17660
Issue on vs 16.4.3
If I add a Component.razor via Add>New Item>Razor Component intellisense seems to be OK
If I copy, paste then rename an existing Component.razor to e.g. ComponentX.razor intellisense does not pick up the file rename and instead picks up <Component__Copy>

[2020-01-16 15:14] schmitch commented on #12890
btw. there is no need for anything besides `SpaServices.Extensions`. Microsoft did a really really lazy job here.

Basically one can use `UseReactDevelopmentServer` with a `webpack devserver`.

it's basically as simple as configuring a devserver like that:
dotnet:
[code]

webpack
[code]

and now you can basically use your css/javascript like you did before, you just need the right path's.
I'm not

[2020-01-16 15:29] davidfowl commented on #18383
Already works for both of those pieces of middleware. Instead of a RequestDelegate, they take a new pipeline (which is a super set of the functionality).

UseExceptionHandler - https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.builder.exceptionhandlerextensions.useexceptionhandler?view=aspnetcore-3.1#Microsoft_AspNetCore_Builder_ExceptionHandlerExtensions_UseExceptionHandler_Microso

[2020-01-16 15:35] bencyoung opened #18386 "ASP.NET Core 2.1 won't run on .NET Core 3.1?"
Hi,

I have a exe that pulls plugins in that use ASP.NET Core 2.1 via .netstandard 2 (e.g. plugins that host their own diagnostic server). I've changed the exe to dual target netcoreapp2.1 and netcoreapp3.1. When I run it with:

dotnet run --framework netcoreapp2.1

It spins up fine.

When I run

dotnet run --framework netcoreapp3.1

I get

[code]
If I fix this I get further type errors.

It looks

[2020-01-16 15:37] lousaibiao commented on #18019
In my machine, **failed** with `3.0.1` and `3.1.0`, but **works** with `3.0.0`

[2020-01-16 15:56] johnrom commented on #12890
@schmitch yes, that is `SpaServices.Extensions` which is not being deprecated. What we're losing here is the core SpaServices / NodeServices which manage IPC with node for server side rendering and other direct node communication.

[2020-01-16 15:59] Ian1971 opened #18387 "Deadlock when using ProtectKeysWithAzureKeyVault on framework 4.7.2 due to bug in Microsoft.AspNetCore.DataProtection.AzureKeyVault.AzureKeyVaultXmlEncryptor"
### Describe the bug
Extending the guidance here https://docs.microsoft.com/en-us/aspnet/core/security/cookie-sharing?view=aspnetcore-3.1#share-authentication-cookies-between-aspnet-4x-and-aspnet-core-apps to use Blob storage and key vault causes a deadlock to occu when using with asp.net mvc (framework 4.7.2).

I believe it is because asp.net calls AzureKeyVaultXmlEncryptor.Encrypt from the UI th

[2020-01-16 16:06] ericsampson commented on #18337
Agreed with @etortec , the wording needs to be clarified if this is limited to apps using SignalR.

[2020-01-16 16:14] anurse commented on #18366
Thanks for the info! Can you try collecting a network trace as described here?

[2020-01-16 16:18] anurse commented on #18360
This is the intended behavior. The Hosting Bundle includes the module for full IIS. The Visual Studio installer brings the module for IIS Express. (cc @shirhatti)

[2020-01-16 16:19] jhunexjun commented on #18382
For a quick response, how about in a scenario wherein, I would like to insert record into a database every time a new set of parameter is passed. My issue is OnParametersSetAsync() is being called many times, and thus, it inserts records on the number of times. I only expect it to have only one added new record.

[2020-01-16 16:27] javiercn commented on #18382
@jhunexjun We don't have enough information to understand your question. If you think there is a bug in the framework, please provide a minimal repro project and detailed steps on how to trigger the issue so that we can investigate.

[2020-01-16 16:32] Tratcher commented on #18186
FYI this has come up at least once before and we declined to change it. https://github.com/dotnet/aspnetcore/issues/355. I don't recommend taking this change now.

We want to preserve as much information as possible so the error page can accurately report what the original request was trying to do. Note we preserve the request body, method, query, headers, etc.. Changing only some of them would pu

[2020-01-16 16:39] Tratcher commented on #18186
This does mean your exception handling endpoint needs to be capable of handling a wide variety of request. DELETE and UPDATE don't worry me, you control that endpoint, you control the behavior of any methods applied there.

[2020-01-16 16:55] anurse commented on #18019
This looks a lot like a similar root cause as https://github.com/dotnet/wpf/issues/2259 . I'm looking through that thread now, but it looks like the problem is due to a bug in the VS 16.3 C++ tools (which we use for building ANCM). It's fixed in 16.4 so we'll plan to make a change to update to that version which should hopefully resolve this issue.

In the meantime I think there's a workaround you

[2020-01-16 17:00] grbd commented on #12890
that's actually a good idea adding in the
[code]

I started writing my own webpack implementation which was a copy / paste of the react one, but that's a much simpler approach. It would probably work for the vue one as well.
There is however a nasty bug which seems to affect .net core 3.0 and above where the task doesn't quit when VStudio stops debugging or is closed, so you can end up with lots o

[2020-01-16 17:01] #18352 closed

[2020-01-16 17:01] #18108 closed

[2020-01-16 17:01] anurse commented on #18019
Btw, it looks like this bug it conditional on certain kinds of CPU (since the bug is faulty CPU detection) so that's why it's been so hard to reproduce!

[2020-01-16 17:08] gbbsoft commented on #18186
@Tratcher So you can add option in ExceptionHandlerOptions: "bool ForceGET" (or similar) with default to false. This will not break any existing code.

[2020-01-16 17:12] grahamthesmith opened #19165 "The idempotency issue with UserManager"
We are using transactions when we use UserManager alongside standard EF Core database updates. We are considering options 3 and 4 for the idempotency issue, however there is nothing in the article to explain how we can do that, due to the fact that UserManager has its own SaveChanges (which will not use acceptAllChangesOnSuccess: false).

Can the documentation be updated to explain either how to a

[2020-01-16 17:16] johnrom commented on #12890
@grbd sticking the webpack server in front requires many http requests between SSR and server for complex projects instead of a single request with pre-populated data -- it's a trade-off. The interesting thing is that all of these are really cheats, because in the real world it'll be a best practice to have two independent projects with different architectures for scalability. In VSCode, I now run

[2020-01-16 17:22] blowdart commented on #18337
Generally we write these things to cover all available cases. For the default asp.net setup it's limited to SignalR, however in your own app you might end up calling the code that was fixed.

What this boils down to is, as always, _patch_.

[2020-01-16 17:22] Tratcher commented on #18186
That doesn't address the issue of the request being in an inconsistent state.

[2020-01-16 17:27] vaughanr commented on #18186
@Tratcher your explanation makes sense to me. I did the pr just because it was marked as a good first issue. I'm happy to withdraw it myself and find a better one.

[2020-01-16 17:34] Tratcher commented on #18186
Thanks @vaughanr. At the very least this needs more design before we can proceed to a PR.

[2020-01-16 17:35] achandlerwhite commented on #15138
[code]

Not sure if this is impacting you, but this line is going to mess up external authentication which relies on the default value Identity sets of IdentityConstants.ExternalScheme.

[2020-01-16 17:37] mkArtakMSFT commented on #17588
Thanks for contacting us, @kevingates.
We already have an issue tracking this at https://github.com/dotnet/aspnetcore/issues/8393
Closing this as a dupe. We'll review your scenario when we will be addressing the referenced issue.

[2020-01-16 17:37] #17588 closed

[2020-01-16 17:47] achandlerwhite commented on #15138
If you look at the source code for `SignInManager` you'll see why the error happens:
[code]
And in your setup you have `#if false` which prevents the cookie handler from being configured. The normal `AddIdentity()` or `AddDefaultIdentity()` methods should set all this cookie stuff up for you. I don't see them in your code sample though? Then if you want to modify cookie options I'd recommend `Conf

[2020-01-16 17:47] pedrorja commented on #18366
Hi @anurse

I installed Telerik Fiddler and captured the network's trace.
![image](https://user-images.githubusercontent.com/4438494/72549048-be63f000-386e-11ea-9e26-a5914e9b2117.png)

Some requests are returning HTTP 504 error.

Also that, I captured the session and saved in a .saz file, However, I don't know if it's secure to share in this channel.

[2020-01-16 17:56] ryanbrandenburg commented on #17227
Hard to judge without a repro project, but I suspect you're running into https://github.com/dotnet/aspnetcore/issues/17269. If that doesn't solve your issue please supply a repro project so I can understand the full context.

[2020-01-16 18:07] gbbsoft commented on #18186
My main issue was: when exception had been during "POST" my error page was not called at all.

[2020-01-16 18:12] JohnGalt1717 commented on #5465
To me this is blocking for the April/May release of Blazor WebAssembly edition. Until this is available (and just automatically works with routing at the very least), Blazor Webassembly can't be used for anything but POC or "hello world".   You might as well not release this without this functionality. Anyone that comes to try Blazor WebAsssembly that comes from Angular, React, Vue, or any other f

[2020-01-16 18:15] Tratcher commented on #18186
@gbbsoft right. That can be addressed in routing like in https://github.com/dotnet/aspnetcore/issues/3555. How is the route set up for your error page?

[2020-01-16 18:24] #13346 closed

[2020-01-16 18:42] Rick-Anderson opened #18390 "doc update: Enable Cross-Origin Requests (CORS)"
See https://github.com/aspnet/AspNetCore.Docs/issues/13423 and [this comment](https://github.com/aspnet/AspNetCore.Docs/issues/13423#issuecomment-552167149) by @mkArtakMSFT

cc @pranavkm

[2020-01-16 19:13] cpkuo commented on #18342
I was able to use your example to catch errors however is there a way to retrieve detailed info on the IRule that threw the exception? For example, casting IRule to Microsoft.AspNetCore.Rewrite.ApacheModRewrite.ApacheModRewriteRule (which is marked internal) and logging the rule's reg ex pattern along with the current URL. Or perhaps including this information in the Exception. Otherwise I suppose

[2020-01-16 19:17] gbbsoft commented on #18186
My application is more complicate, because I have isolated multi-instance of my application, so path is https://gbbdance.gbbsoft.pl/eM_Studio/ where "eM_Studio" is an instance name. Than I created special ExceptionHandlerMiddleware to pass instance name to /Error, because there is no official way to create Path to Error dynamical.

Except it my Config() is "normal":

                app.UseMiddlew

[2020-01-16 19:37] ErikApption opened #18392 "RenderMode.ServerPrerendered with Authentication seems to cause double rendering of Blazor pages"
We have a project with Blazor pages with plenty of AuthorizeView in pages & components and when RenderMode is set to RenderMode.ServerPrerendered, the pages are rendered twice. After the first request completes, there is a new one that completely reloads a page and goes through all OnInitialize(Async) methods a second time.

### Further technical details
- ASP.NET Core version: 3.1.100

[2020-01-16 19:38] rbasniak opened #18408 "There isn't a 3.1 version of Microsoft.AspNetCore.Http.Abstractions.dll on Nuget"
Hi,

Not sure if I'm on the right place to file this issue, please tell me and sorry if not.

If I create a new ASP.NET Core WebApplication from Visual Studio, using .NET Core 3.1 and need to use `HttpContext`, I need to add  `using Microsoft.AspNetCore.Http` and I'm good to go.

When I create a new .NET Core Class Library, using .NET Core 3.1 and need to use `HttpContext` and add the same using s

[2020-01-16 19:44] pranavkm opened #18393 "RazorSDK does not compile against reference assemblies when CompileUsingReferenceAssemblies=true"
Here's what Csc uses to calculate the assemblies to compile against: https://github.com/microsoft/msbuild/blob/e812790eabece155f9ea7cbc13d57ce1ad7bff19/src/Tasks/Microsoft.Common.CurrentVersion.targets#L2140-L2171. We need to change https://github.com/dotnet/aspnetcore-tooling/blob/master/src/Razor/src/Microsoft.NET.Sdk.Razor/build/netstandard2.0/Sdk.Razor.CurrentVersion.targets#L572

[2020-01-16 19:59] OpenSpacesAndPlaces commented on #17932
@dag23 That seems to be working as a temporary solution (still testing).

Confirmed my suspicion though that there was no technical blocker.
I more/less just changed the target in all the relevant project files and that was it.

[2020-01-16 20:00] blowdart commented on #18362
It is likely Web Apps haven't installed the latest Core update yet.

[2020-01-16 20:01] #18238 closed

[2020-01-16 20:05] blowdart commented on #18335
Identity has uses outside of asp.net for some people. JWT middleware does not.

[2020-01-16 20:40] bauersystems commented on #5465
I agree with JohnGalt1717. We have a few upcoming large client projects that we were wanting to use Blazor for (and a few existing projects that we were considering refactoring to use Blazor). There is no way we can develop large web based applications on Blazor without lazy loading, it wouldn't be feasible. As much as we really want to use it, we cannot consider Blazor a SPA contender until lazy

[2020-01-16 21:06] Regenhardt opened #18394 "Use SignalR in netstandard library without asp.net core?"
I have a netstandard library I'm trying to add SignalR to, but I'm not sure how to connect to the Hub without mapping an http endpoint.
Is it possible to just instantiate a hub and have it listen on a specific port, so I can open a HubConnection ot that port? The tutorial just builds an asp.net core app and maps the hub on an endpoint.
I already added .AddSignalRCore() to my services.
Basically my

[2020-01-16 21:22] Tratcher commented on #18186
So the only part you needed to workaround the title issue is this?
[code]

@pranavkm is there a way to make a razor page handle any method? We should update our error page.
https://github.com/dotnet/aspnetcore/blob/44e44931fe4050e82b2877047b5104d779147f78/src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Pages/Error.cshtml.cs#L26

@NTaylorMullen said this would work on a norma

[2020-01-16 21:24] anurse commented on #18342
There's no built-in way to do this. That would be true even if we added an event handler like you original requested though. At best we'd give you the `IRule` that failed, but you'd still end up in the same place.

[2020-01-16 21:26] anurse commented on #18366
It looks like the WebSocket request is the one that got a 504. The 504 status code is "Gateway Timeout" which generally occurs when a front-end proxy doesn't get a response from a backend service. Are you sure there are no proxies between the browser and your application? Do you have a corporate IT proxy (they can often limit WebSocket support)?

[2020-01-16 21:32] robertsundstrom commented on #9939
It is a shame that the fix (#17126) was not finished.

[2020-01-16 21:43] gbbsoft commented on #18186
The idea to correct template is very good! I spend some hours to find out why /Error is not called during OnPost.

[2020-01-16 22:06] anurse commented on #18208
The SPA templates (Angular/etc.) use IdentityServer so I think that configuration method doesn't work here (`ConfigureApplicationCookie`). @javiercn do you have any thoughts here?

[2020-01-16 22:08] #17711 closed

[2020-01-16 22:09] anurse commented on #18348
@TanvirArjel Can you dump out the claims for the user (using `User.Claims`)? It's possible this isn't the correct user principal.

[2020-01-16 22:12] anurse commented on #18362
https://aspnetcoreon.azurewebsites.net indicates it should be there (3.0.1/3.1.0) is present.

@TiagoBrenck can you go to the Kudu Console (instructions below) and run `dotnet --info` there and paste the output? It's possible it's not properly set up. Also can you share the full sample project that reproduces the issue?

Getting to the Kudu Console.
1. Add `scm` between your app service name and `

[2020-01-16 22:15] anurse commented on #18335
The JWT middleware is tied to ASP.NET Core, so it does not support .NET Standard 2.0 (since ASP.NET Core does not support .NET Standard 2.0). You can still reference it from a class library if your class library targets .NET Core 3.0 or higher. We have a doc on [using ASP.NET Core APIs from a library](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/target-aspnetcore?view=aspnetcore-3.1&t

[2020-01-16 22:15] #18335 closed

[2020-01-16 22:26] BrennanConroy commented on #18260
Unfortunately those are not client logs. The logs should look something like:
[code]

Are you using VS? If so you'll need to configure the DebugLogger which is explained at https://docs.microsoft.com/aspnet/core/signalr/diagnostics?view=aspnetcore-3.1#debug-output-window-logging

[2020-01-16 22:45] yshahin commented on #17723
@Tratcher, just hit the issue today. This is after the 3.1 upgrade.

[2020-01-16 22:46] Tratcher commented on #17723
@yshahin in ReadFormAsync or CopyTo?

[2020-01-16 22:53] yshahin commented on #17723
@Tratcher ReadFormAsync

[2020-01-16 22:55] Tratcher commented on #14996
## Patches

See https://devblogs.microsoft.com/dotnet/net-core-November-2019/ for information on the November 2.1.14, 2.2.8, and 3.0.1 patches that included these changes.

[2020-01-16 22:57] Tratcher commented on #18265
Resolved via doc and announcement updates.
https://github.com/aspnet/Announcements/issues/390#issuecomment-575385338
https://github.com/dotnet/aspnetcore/issues/14996#issuecomment-573218852
https://github.com/aspnet/AspNetCore.Docs/pull/16570

[2020-01-16 22:57] #18265 closed

[2020-01-16 23:14] halter73 commented on #18138
This is fixed by https://github.com/dotnet/runtime/issues/1436

[2020-01-16 23:14] #18138 closed

[2020-01-16 23:40] #18140 closed

[2020-01-17 00:00] #18156 closed

[2020-01-17 00:00] #17451 closed

[2020-01-17 00:07] enetstudio commented on #18279
Sorry, nothing to do with Blazor. I guess it is related to browser's partial and patchy support of "datetime-local". I don't think you've discovered a bug in Blazor. You may believe that the design of Blazor is rather bad, but you can't point out any existing bug . I've already said that this behavior is by design... what is bug for you is a limitation of the system for me. I'm happy with Blazor.

[2020-01-17 00:41] TiagoBrenck commented on #18362
@anurse, while I was doing this step I figured out that the problem was locally, and I found that I had core 3.0.0 instead of 3.0.102. After downloading the 3.0.1 it worked fine.

Sorry about that.

[2020-01-17 00:41] #18362 closed

[2020-01-17 02:14] SamWhitby commented on #17485
Thanks Hao, I was aware of that workaround however adding authorize to all routes is not a feasible option for me. I will have to hold off this till moving to 3.0.

[2020-01-17 02:53] danports opened #18400 "Generating URLs for a different action on the same controller reuses ambient values"
The [documentation](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-3.1#endpoint-routing-differences-from-earlier-versions-of-routing) states that "In ASP.NET Core 2.2 or later, both [conventional and attribute] routing invalidate [ambient] values when linking to another action." However, this only seems to be the case for actions on another controller. I am unsur

[2020-01-17 04:05] anurse commented on #18362
No problem! Glad you were able to resolve the issue!

[2020-01-17 04:13] SeanKilleen opened #18401 "Updating Microsoft.AspNetCore.Authentication.AzureAD.UI to v3.1.1 breaks app, prevents startup"
### Describe the bug

Dependabot suggested an update of `Microsoft.AspNetCore.Authentication.AzureAD.UI` from `v3.1.0` to `v3.1.1`. I figured it was a minor version bump & took it since my unit & integration tests passed.

However, I then had to roll back this change because my container was throwing 500 errors.

When investigating this further locally, I believe I was able to isolate it to the up

[2020-01-17 04:14] mkArtakMSFT commented on #18401
Thanks for contacting us.
This is a known issue we're aware of and track as part of https://github.com/dotnet/aspnetcore/issues/18334
Closing as a dupe.

[2020-01-17 04:23] SeanKilleen commented on #18401
Thanks! I wasn't able to find it in the original search, so I appreciate the pointer. 👍

@mkArtakMSFT at first glance I'm not sure that this is related. The issue you reference states:

but I am testing this on 64-bit windows.

It also states:

Which I am not using.

Is it that the link you provided implicitly includes my issue as well even though it doesn't match the noted criteria? Or is this a

[2020-01-17 04:56] mkArtakMSFT opened #18402 "January Validation"
This issue will be used to collect all info related to the verification data for **Blazor WASM 3.2 - Preview1** release:

Build to use: daily build from https://github.com/dotnet/core-sdk#installers-and-binaries
If you plan to create any Azure resources specifically for the verification work, please create those in the **3.2-p1-validation** resource group, in the **ASP.NET Core Test** subscription

[2020-01-17 05:01] javiercn commented on #16874
I like it!

It's simple and straightforward.

[2020-01-17 05:07] javiercn commented on #18208
@anurse is right.

The angular and react templates use Identity Server which doesn't involve doing OIDC on the client. It uses identity internally, but that is only used when logging in and out from /Identity/Account/Login as part of the client-side oAuth flow.

[2020-01-17 05:16] javiercn commented on #18392
@ErikApption thanks for contacting us.

Prerendering the page on the server produces an initial render and then turns it into html after which it disposes the component.

Then when the app starts from the browser it does so from scratch. This is well documented here:
https://docs.microsoft.com/en-us/aspnet/core/blazor/hosting-models?view=aspnetcore-3.1#stateful-reconnection-after-prerendering

[2020-01-17 05:27] javiercn commented on #18400
@danports thanks for contacting us.

[code]

[code]

I think this has to do with the fact that you are specifying the details. If you remove the `asp-action="Details"` it should give you the right outcome. Is that not the case?

[2020-01-17 05:48] Serproger commented on #18383
I have seen these overloads. But I don't understand how they can help. For example, I want to implement UseStatusCodePagesWithReExecute. I found only the way given in the first post that requires copypasting of nearly all the code of corresponding built-in extension method.

[2020-01-17 07:35] mountain65 opened #18403 "Nullable=Enabled results in required validation errors for parameters or bound properties with default values"
I generated a new empty WebApplication, .NET Core 3.1 and added <LangVersion>8.0</LangVersion> and <Nullable>enable</Nullable> to my CSPROJ.

Then I added the following controller code:
[code]
When I call this endpoint without a language parameter I get a 400 BadRequest with the followin g ProblemDetail:

[code]
When I remove the [ApiController] attribute I get the normal optional parameter behavi

[2020-01-17 08:06] oduis opened #18405 "SignalR Client .Net Standard broken from 3.0>3.1 when compiling in .Net Native"
Scenario
UWP client compiled with .Net Native using latest 3.1.x SignalR C# client.
Protocol: server side events. Compiler: Visual Studio 2019, latest patchlevel.

When upgrading from SignalR 3.0 to 3.1 the client does not receive any server generated event when compiled with .Net Native toolchain. Connection to server works. No error message on client or server. Server side SignalR debug log show

[2020-01-17 08:10] HTD commented on #18279
I reported an existing bug of resetting components when using `EventCallback`.

You seem to be personally offended by me reporting a bug arguing that an totally unexpected behavior is a feature, you tell me Blazor is fantastic, like instead of providing detailed report with some research and examples I just wrote Blazor is bad. It's totally immature and unprofessional.

I reported the bug TO HELP,

[2020-01-17 08:29] macux commented on #18337
@blowdart - I've checked some of our Azure app services again this morning and I can see they still haven't been updated, do you know if there's a timeline for this or should I ask this somewhere else? Thanks

[2020-01-17 08:37] huang-tianwen opened #18407 "UserStore AutoSaveChanges = false cause UserManager error conflict foreign key when SaveChanges."
#16851 # Describe the bug
When set UserStore AutoSaveChanges to false. UserManager.CreateAsync() and then UserManager.AddClaimsAsync() cause error conflict foreign key in dbContext.SaveChanges().

### To Reproduce
1. Set UserStore AutoSaveChanges to false.
2. Call userManager.CreateAsync().
3. Call userManager.AddClaimsAsync().
4. Call dbContext.SaveChanges().
Error:
The INSERT statement conflicte

[2020-01-17 09:54] wstaelens commented on #17227
@GeorgyOkov  does this work for you?
https://github.com/microsoft/msbuild/issues/4806#issuecomment-541018341

[2020-01-17 10:03] gaojiandonggg opened #18410 "aspnet core 3.1 linux ThreadPool.SetMinThreads is not work"
### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce

hello
aspnet core 3.1
 int processorCount = Environment.ProcessorCount;
 ThreadPool.SetMinThreads(processorCount * 5, processorCount * 100);
run in docker  is not working by linux ,
but can working in  windows ,why?
 who can help me, thinks

[2020-01-17 10:03] javiercn commented on #18403
@mountain65 thanks for contacting us.

@pranavkm any ideas?

[2020-01-17 10:05] javiercn commented on #18408
@rbasniak thanks for contacting us.

You need to add a framework reference to asp.net core. See the migration guide docs for details https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#framework-reference

[2020-01-17 10:14] GeorgyOkov commented on #17227
@wstaelens  Yes, it works like magic. Thanks.

[2020-01-17 10:55] softlion commented on #18094
It is documented there https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/?view=aspnetcore-3.1&tabs=visual-studio

[2020-01-17 11:40] neal2018 commented on #12102
We also encounter this problem : (
Hope that it will get fixed.

[2020-01-17 12:13] Blackleones commented on #18340
I've tried to run the project through the terminal and I got the following stack trace

[code]

[2020-01-17 12:16] rbasniak commented on #18408
@javiercn I tried to look at the migration guide but looks like I missed that part. Thank you so much for your time!

[2020-01-17 12:16] #18408 closed

[2020-01-17 12:30] Bluebeerd opened #18411 "Blazor Intermittent Loading Issue"
We are having an issue with Webassembly, where sometimes we run our code and it works fine, but another time using the same unmodified code, it throws an error. Doing a reload, it then works fine again.
Is anyone else having this behaviour and if so, how do you handle it ?

Example error below

blazor.webassembly.js:1 WASM: ﻿Unhandled exception rendering component:
blazor.webassembly.js:1 WASM: Sy

[2020-01-17 13:07] mikes-gh opened #18412 "Avoid using AuthorizeFilter in project templates"
### Is your feature request related to a problem? Please describe.
The default template for Org Auth in a web app is confusing

### Describe the solution you'd like
A solution that makes it clearer where code is more self explanatory

### Additional context

See here

https://github.com/dotnet/aspnetcore/blob/44e44931fe4050e82b2877047b5104d779147f78/src/ProjectTemplates/Web.ProjectTemplates/conten

[2020-01-17 13:10] physix99 opened #18413 "Blazor state management"
I've read this guide over and over
[https://docs.microsoft.com/en-us/aspnet/core/blazor/state-management?view=aspnetcore-3.1](https://docs.microsoft.com/en-us/aspnet/core/blazor/state-management?view=aspnetcore-3.1)

I might being missing something obvious, but I cannot figure out how you are actually suppose to store the state in the database on server-side, as there is no way of accessing a uniq

[2020-01-17 13:41] vaughanr commented on #12650
Hi @davidfowl, I've attempted to fix this issue with a pr. I'm very happy to change it if this isn't what you had in mind. Thanks.

[2020-01-17 13:49] chrfin opened #18415 ""GetStreamItemType does not have an implementation" when using SignalR in Console"
I just found out that my usage of SignalR in my console application broke. The same code did work in the past, but I do not know when exactly it broke, as I did not use that part of our program in the last few month.

### Describe the bug
When calling the following:
[code]
with the following startup class:
[code]
I get the following exception

### To Reproduce

Run the following (e.g. in LINQPad):

[2020-01-17 13:49] Blackleones commented on #18340
I've created a post on [StackOverflow ](https://stackoverflow.com/questions/59747983/blazor-concurrency-problem-using-entity-framework-core/59787069?noredirect=1#comment105718774_59787069)and what is shown up is that if you change the code in this way then the code works because we lock user interface's rendering until Task.Run() ends.

This is a workaround that works on this sample project. But w

[2020-01-17 14:04] Blackleones commented on #18340
I think this problem (or something very similar) was previously mentioned [here](https://github.com/dotnet/aspnetcore/issues/10448#issuecomment-563951262)

[2020-01-17 14:06] rob-ack opened #18416 "StaticWebAssetsFileProvider.cs System.NotImplementedException when using app.UseDirectoryBrowser()"
### Describe the bug
From this line of code:
https://github.com/dotnet/aspnetcore/blob/44e44931fe4050e82b2877047b5104d779147f78/src/Hosting/Hosting/src/StaticWebAssets/StaticWebAssetsFileProvider.cs#L138

fail: Microsoft.AspNetCore.Server.Kestrel[13]
      Connection id "0HLSRADOA4F8O", Request id "0HLSRADOA4F8O:00000001": An unhandled exception was thrown by the application.
System.NotImplemented

[2020-01-17 14:27] nixa333 opened #18417 "Uploading multipart form data to IFormFile length is zero"
Hi guys,

we have an app where users can upload files as a part of the form they're posting to the backend. This file is received as IFormFile type property. We got reports that users are uploading the files but apparently we're not receiving them. When we set up additional logging, we found out that sometimes we receive a request which has IFormFile property instantiated, it even has FileName pro

[2020-01-17 14:48] mountain65 commented on #18403
Updated the code to include de [ApiController] attribute

[2020-01-17 15:00] #18080 closed

[2020-01-17 15:04] ErikApption commented on #18392
Thank you this is indeed well documented. One small thing that would help are messages in the debug log - there is nothing there that mentions pre-rendering.

[2020-01-17 15:04] #18392 closed

[2020-01-17 15:05] danports commented on #18400
Removing `asp-action="Details"` breaks the links from the order list page to the details page - instead of generating `/Orders/4`, it generates `/Orders/4/Index`. And if you do navigate directly to the details page, the link back to the orders list in the navigation bar is still wrong.

[2020-01-17 15:15] chrarnoldus commented on #18386
Seems a duplicate of https://github.com/dotnet/aspnetcore/issues/14458

[2020-01-17 15:25] bencyoung commented on #18386
Agreed, although that was closed with no action! I don't think choosing a .NET version should imply/force the version of a library (ASP.NET Core)

[2020-01-17 15:26] blowdart commented on #18337
That is a question for Azure support I'm afraid.

[2020-01-17 15:34] bencyoung commented on #18386
In that issue @davidfowl says it's possible. Are there any instructions on how to do this? ASP.NET Core is just a very small part of our applications so we don't want it "driving the horse"

[2020-01-17 15:48] liuliang-wt commented on #13333
I also run into this problem , .netcore 3.1 running on IIS, is there a way I can catch this ConnectionReset exceptions in current version, or I have to wait for the 5.0.0

[2020-01-17 15:49] javiercn commented on #18417
@nixa333 thanks for contacting us.

@Tratcher do you have any idea? I believe MVC has a modelbinder for IFormFile, but the only thing it does is to grab it from the request feature.

@pranavkm does the MVC side of things looks right to you?

[2020-01-17 16:03] onarres opened #18419 "Another IdentityServer, SameSite, Core 2.1 - Not Removing Cookies"
I wrote a question on https://github.com/IdentityServer/IdentityServer4/issues/3901 which had a response to open an issue here. I also saw similar issues and didn't know if I should comment on those or create a new
https://github.com/dotnet/aspnetcore/issues/17833
https://github.com/dotnet/aspnetcore/issues/17980

What I wrote in the idsrv issue:
I am running AspNetCore 2.1.15, IdentityServer4 2.4

[2020-01-17 16:15] BrennanConroy commented on #18415
You should be referencing ASP.NET Core SignalR 3.1 if you're using .NET Core 3.1.
And since SignalR is in the shared framework, you actually don't add a package reference to it anymore, it's there by default for web apps targeting netcoreapp3.1.

[2020-01-17 16:28] pranavkm opened #18420 "Validate Blazor.Build with packages that contain satellite assemblies"
Would also help to try out packages with more exotic content (such as native assemblies) and see if the closure is the same as the one being passed to the linker.

[2020-01-17 16:29] pranavkm commented on #18402
* https://github.com/dotnet/aspnetcore/issues/18420

[2020-01-17 16:34] Tratcher commented on #18417
Unfortunately there's no way to debug this without a repro. Ideally we'd get a capture of the request headers and body via Fiddler, Wireshark, etc.. Failing that, you should be able to write some diagnostics into SaveFile. When you detect this condition,

A) Enumerate HttpContext.Request.Form.Files and see if there's more than one element, if any of them have any data, etc..

B) Capture the header

[2020-01-17 17:00] #18195 closed

[2020-01-17 17:04] multco-malan opened #18421 "Catch Blazor error “The following routes are ambiguous” at compile time"
### Is your feature request related to a problem? Please describe.
I am trying to catch ambiguous blazor routes at compile time.

### Describe the solution you'd like
I do NOT want to wait until runtime to "discover" that the app has ambiguous routes.

### Additional context
https://stackoverflow.com/questions/59743746/catch-blazor-error-the-following-routes-are-ambiguous-at-compile-time

[2020-01-17 17:12] davidfowl commented on #18386
@bencyoung You won't like it and it's not supported and the tooling won't work well.

[2020-01-17 17:13] Pilchie commented on #18337
Last I heard was that the rollout was starting yesterday, and expected to be in all regions by the end of January.  It's actually in the .NET Core release notes now:

https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1.1/3.1.1.md#azure-app-services

[2020-01-17 17:13] gaborposz commented on #18091
Hello,
Any update on this issue?

I've seen there was also some discussion in the [original WiX issue](https://github.com/wixtoolset/issues/issues/5329).

As I understand
- WiX 3.11.2 will not solve it,
- WiX 4.x is not an option,
- and _"maintaining a private copy of WiX that was signed with 3rd party certificates"_ is also difficult.

How do you see, is it still possible to fix it, and if yes, t

[2020-01-17 17:18] bencyoung commented on #18386
I dont understand. .NET Core isn't backwards compatible (I.e. 3 can fail to run something from 2), or theres tooling that infers a library version from a runtime version?

[2020-01-17 17:20] mkArtakMSFT commented on #15094
Moving this to `5.0.0` milestone to avoid showing in during every triage

[2020-01-17 17:23] davidfowl commented on #18386
We ASP.NET Core is part of .NET Core, it's no longer just a bunch of .NET Standard packages on top. That's why this situation is different.

Its mostly backwards compatible. ASP.NET Core 3.0 made some breaking changes though https://github.com/aspnet/announcements/issues?q=is%3Aopen+is%3Aissue+milestone%3A3.0.0

[2020-01-17 17:26] mkArtakMSFT commented on #18416
Thanks for contacting us.
@javiercn can you please look into this? Thanks!

[2020-01-17 17:27] ryanbrandenburg commented on #17227
@wstaelens did it work for you too? If so I'll close this out.

[2020-01-17 17:28] mkArtakMSFT commented on #18400
@rynowak can you please look into this? Thanks!

[2020-01-17 17:30] mkArtakMSFT commented on #18390
Thanks for the reminder, @Rick-Anderson.
Closing this as we'll be looking into issues in the `AspNetCore.Docs` repo directly.

[2020-01-17 17:30] #18390 closed

[2020-01-17 17:33] mkArtakMSFT commented on #18421
Thanks for contacting us, @multco-malan.
This is not something we plan to do in the near future. We will reconsider, if we hear too much asks similar to this.

[2020-01-17 17:33] #18421 closed

[2020-01-17 17:35] mikes-gh opened #18422 "MapRazorPages() required even if main project is MVC only"
### Is your feature request related to a problem? Please describe.
If an MVC project uses a library that contains razor pages for example the `Microsoft.AspNetCore.Authentication.AzureAD.UI`
Then we need to provide MapRazorPages() to the endpoint configuration even though we are only using MVC in the main project

[code]
We still have to add
[code]

This caused me hours of not knowing why my logou

[2020-01-17 17:37] onarres commented on #18419
I sanitized my fiddler capture, here it is:

[2020.01.17.samesiteNotLoggingOut.saz.zip](https://github.com/dotnet/aspnetcore/files/4077986/2020.01.17.samesiteNotLoggingOut.saz.zip)

[2020-01-17 17:37] mkArtakMSFT commented on #18411
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.
Please also include the browser network tab state (screenshot, any errors?).

[2020-01-17 17:59] pranavkm commented on #18186
The Page will still execute if no handler matches. A fairly trivial way to fix this would be to lazily evaluate `RequestId`:

[code]

[2020-01-17 17:59] pranavkm commented on #18422
/cc @javiercn

[2020-01-17 18:04] joeloff commented on #18091
Just fixing the hosting bundle won't solve the problem. The hosting bundle ships the runtime bundle, so once that starts to install I'd expect you to hit a similar issue.

While some of the WiX DLLs can be signed, typically custom action DLLs are linked into a compiler extensions, and then extracted and embedded into MSIs. There's no way to sign those without rebuilding wix from source and signing

[2020-01-17 18:06] chrfin commented on #18415
And what package do I need to reference if I am using e.g. the WPF template (`Sdk="Microsoft.NET.Sdk.WindowsDesktop"`) and not a web app?
Or when developing a .NET Standard 2.0 library which self-hosts a SignalR hub?

[2020-01-17 18:17] BrennanConroy commented on #18405
That is surprising, we didn't make very many changes between 3.0 and 3.1.

Would it be possible for you to upload a project on github that's effectively an F5 run so we can try to diagnose the issue?

[2020-01-17 18:24] bencyoung commented on #18386
Thanks @davidfowl . Slightly long rant coming!

I have to say I'm very surprised, and I'm really struggling to understand the rationale for that. Is there an announcement that says ASP.NET Core is now considered part of .NET Core (in the same way that WCF is part of .NET Framework)?

1. It makes it harder for applications to upgrade to recent .NET Core versions when they only have an incidental de

[2020-01-17 18:32] NTaylorMullen commented on #18402
No Blazor WASM stuff from me.

[2020-01-17 18:38] Andrzej-W commented on #18279
This is my last message in this thread, because I think it is time to close it.

@HTD I think your reaction is too emotional. Nobody has questioned your competency. People take their free time to explain how Blazor works. You have got a few helpful tips with links to documentation and other issues. Issues on Github are primarily used to report bugs. You already know that this is not a bug. What el

[2020-01-17 19:07] anurse commented on #18342
I'm moving this to Discussions since we don't have action to take here. I'd be interested to know what, if any, errors you were getting because our rules generally shouldn't be throwing errors. There may be parsing errors which would be thrown at configuration time, but once the rules are parsed they shouldn't be throwing.

[2020-01-17 19:10] anurse commented on #18383
Backlogging this for now. It's a reasonable request, but it's not something we're likely to prioritize at this time.

[2020-01-17 19:14] anurse commented on #18355
New plan, let's just not reset the versions to `0` in the PRs. @BrennanConroy please do the needful and close this (I don't want to forget to do it :)).

[2020-01-17 19:14] mkArtakMSFT opened #18425 "Clean way to guard routing"
_From @hoksource on Friday, December 13, 2019 11:54:58 PM_

Is there a clean way to guard specific events when user goes to a specified route. I want to be able to prevent users from accessing a set of page or redirect users to another page if a condition is met. I'm looking for something like
- angular routing guards
- or razor pages filters
- or page component base class that triggers onRoutingT

[2020-01-17 19:17] anurse commented on #18415
If you are using a non-Web app, you can reference ASP.NET Core using a `FrameworkReference`, as long as you target .NET Core 3.0/3.1. We have documentation on how to do this in our ["Use ASP.NET Core in a class library"](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/target-aspnetcore?view=aspnetcore-3.1&tabs=visual-studio) doc (it says "class library" but it should also work in a WPF a

[2020-01-17 19:19] anurse commented on #18394
It's not possible to host ASP.NET Core 3.0 (or higher) components in anything other than a .NET Core application or class library. If you are using a class library, we have documentation on [how to reference ASP.NET Core from it](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/target-aspnetcore?view=aspnetcore-3.1&tabs=visual-studio) but it still **requires** .NET Core 3.0 or higher and

[2020-01-17 19:21] zbecknell opened #18426 "Blazor: Allow @namespace directive to be inherited through _Imports.razor"
This is simply a convenience feature to make it easier to organize components into namespaces.

Idea: allow application of a `@namespace` directive in `_Imports.razor` files that is then inherited like other directives.  It can be overridden in specific components like `@layout` if necessary.

[2020-01-17 19:22] halter73 commented on #18394
WebHost.CreateDefaultBuilder uses Kestrel by default which uses an in-proc server, so building and starting/running a WebHost should do what you want.

[2020-01-17 19:22] anurse commented on #18410
I don't think this is specific to ASP.NET Core. I'm going to transfer this to dotnet/runtime and see if someone there can help.

[2020-01-17 19:30] anurse commented on #18262
Triage: There can be conflicts when you have a preview site extension installed, since it overrides the entire .NET Core runtime in use, but we think the host should be searching through both the site extension **and** machine-level runtimes to find a suitable runtime so it shouldn't be causing this problem. We'll take a look and see if we can repro this.

The Site Extension **also** brings a diff

[2020-01-17 19:31] anurse commented on #18259
@WernerMairl can you provide a runnable sample that reproduces the issue in Azure App Service for Linux/Containers? I'm not entirely clear on the expected behavior and the behavior you're seeing. If you can provide a sample and let us know the exact output/behavior you'd expect, that would be very helpful.

[2020-01-17 19:33] anurse commented on #18360
Just noticed your other comments about installing IIS **after** the Hosting Bundle. You do have to repair the Hosting Bundle install after installing IIS, this is by design.

[2020-01-17 19:33] #18360 closed

[2020-01-17 19:33] rynowak commented on #18426
Hi @zbecknell - I think `@namespace` might already work in a way similar to what you want. https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-3.1#namespace

Based on the info that's in the docs - is there something specific you're looking for that's different from what's explained there?

[2020-01-17 19:36] mkArtakMSFT opened #18427 "Produce API Refs for Blazor WASM"
- [x] Produce XML doc files and include in packages
- [x] Publish API ref docs on https://docs.microsoft.com/dotnet/api

[2020-01-17 19:37] anurse commented on #18230
@ZonerZoner @victormarante this looks like https://github.com/dotnet/aspnetcore/issues/18334. Can you look at the workarounds there and try applying them? If they work, the issue should be fixed in an upcoming patch. If not, let us know and it might be something different.

[2020-01-17 19:40] anurse commented on #15094
I'm going to move this to an `area-perf` instead and suggest we set up triaging for that in the perf sync. I don't think we should put it in 5.0.0 because it'll get lost there.

[2020-01-17 19:42] JunTaoLuo commented on #18323
The PR is merged so I'm closing. @pranavkm reopen if you need it to track something else.

[2020-01-17 19:42] #18323 closed

[2020-01-17 20:25] cpkuo commented on #18342
I came across one so far (in my limited testing) when attempting to use an existing .htaccess file. The file was initially updated to remove server variables not supported by the middleware and to use "^/" instead of just "^".

The rule below parses and can be added to the RewriteOption's rules but throws the exception at runtime.

`RewriteRule ^/content/default.aspx$ https://www.somewhere.com$1 [

[2020-01-17 20:26] zbecknell commented on #18426
Thanks for the response, @rynowak, I'm glad to see that already is supposed to apply to components.  It seems I've encountered a bug where the namespace isn't being applied.  I've created a repro repo here:

https://github.com/zbecknell/ImportNamespaceExample

This project builds because I'm importing the default namespace of `NamespaceImport.Components.Nested` in the file `TestConsumer.razor`, bu

[2020-01-17 20:59] macux commented on #18337
Thanks both

[2020-01-17 21:25] mathisloge commented on #17898
Is there some progress and/or updates on this one?

[2020-01-17 22:14] JamesNK commented on #14141
Fixed with https://github.com/dotnet/aspnetcore/pull/18049

[2020-01-17 22:14] #14141 closed

[2020-01-17 22:25] pranavkm commented on #18403
@mountain65, I admit, this is surprising behavior. Non-nullable reference types are treated as [required](https://docs.microsoft.com/en-us/aspnet/core/mvc/models/validation?view=aspnetcore-3.1#required-attribute). MVC executes binding and validation prior to inferring default values, consequently you end up getting validation errors for properties and parameters which is always meant to be non-nul

[2020-01-17 22:58] #17308 closed

[2020-01-17 23:17] oduis commented on #18405
Yes, I already searched the commit history but couldn't find anything that looked like it might be optimized out by the native compiler. Might be a native toolchain compiler bug that just manifests with SignalR 3.1 upgrade by coincident.
Unfortunately I cannot share the code since it is a customer proprietary project. But it is 100% reproducible.

[2020-01-17 23:22] halter73 commented on #13333
@luisquintanilla If you want to catch this, you can catch IOException because ConnectionResetException is an IOException. That said, ConnectionResetException has always been public. What are you waiting for in 5.0?

[2020-01-17 23:25] BrennanConroy commented on #18405
I'm not sure what to say. We have 0 experience with using .NET Native.

Does the issue only repro with SSE?

[2020-01-17 23:28] NTaylorMullen opened #18431 "TagHelper attribute name completion items are available while in the attribute value section"
![image](https://user-images.githubusercontent.com/2008729/72653011-fdad4200-393d-11ea-89c1-03edb2a28216.png)

[2020-01-18 00:10] rynowak commented on #16874
These are super good questions. I really do expect (for instance) that something like that would be needed. If your services talk to data you're going to need different implementations at the least.

[2020-01-18 00:14] NTaylorMullen opened #18432 "TagHelper attribute hovers are available while in the attribute value section"
Hovering over the `s` in `someNumber`
![image](https://user-images.githubusercontent.com/2008729/72654389-55e74280-3944-11ea-9d86-c52733050636.png)

[2020-01-18 00:18] NTaylorMullen opened #18433 "Directive attribute hovers don't work"
When doing completions:
![image](https://user-images.githubusercontent.com/2008729/72654539-e58cf100-3944-11ea-8cbc-9afcab4d6c0c.png)

When hovering:
![image](https://user-images.githubusercontent.com/2008729/72654545-ecb3ff00-3944-11ea-89f3-e7975b672c7a.png)

[2020-01-18 00:43] rynowak commented on #17933
![image](https://user-images.githubusercontent.com/1430011/72654668-559b7700-3945-11ea-8e54-466ac8b3f79a.png)

We still haven't caught up yet. This is still blocked on https://github.com/dotnet/arcade/issues/1965

[2020-01-18 02:22] #18316 closed

[2020-01-18 02:39] jackletter opened #18435 "How to debug aspnetcore source code?"
I'like debug source code,but how debug this code in vs2019

[2020-01-18 02:58] fingers10 commented on #18080
@SteveSandersonMS Thanks for pointing me in right direction. I made it to work using `OnAfterRenderAsync`

Wrapped my code to a java script function `highlightMenu()`

[code]

[code]

[2020-01-18 03:03] Ronkiro commented on #18435
Just set breakpoints and then run your application

[2020-01-18 03:09] jackletter commented on #18435
I mean debugging the source code of aspnetcore, not my code

[2020-01-18 03:33] OnurGumus commented on #14836
I totally agree with there is such a problem exists. You have to give us an option to preserve the prerendered content until the actual loading is done.

[2020-01-18 04:27] liuliang-wt commented on #13333
@halter73 OK,  I saw you add it to milestones 5.0.0, I thought I have to wait until then ....

[2020-01-18 04:29] Bartmax commented on #18413
Why not use local storage? You can also sync "session data" between server/client to support offline session data with a little effort.

I think it would be great to have something already. Unless I'm missing something a component that handle common scenarios should be quite trivial.

[2020-01-18 04:41] denis-pujdak-adm-it commented on #17876
I am not happy with the answer. Why cannot we do something like `TryUpdateModelAsync()` and read the Json?
Don't we have the ContentType = 'application/json'? And `POST` ??? What is going on with the AspNet? Should I look for different server side framework?

[2020-01-18 05:20] HTD commented on #18279
I'm not exactly sure if this more efficient than re-rendering the component after each event. I try to wrap my head around it and I can't. I can't understand why. One of the way to optimize many programs that draw on screen is to better detect what changed to exclude non-changed parts from updating.

The other strange thing I've noticed is when I call `StateHasChanged` - the setters aren't called.

[2020-01-18 06:03] Tratcher commented on #13333
@liuliang-wt the plan for 5.0 is to have MVC catch these errors from the form reader so they don't show up in the logs anymore.

[2020-01-18 06:20] enetstudio commented on #18279
But that's exactly how Blazor works... Please read about the virtual DOM created by Blazor, the Html algorithm diffs used, etc.

That is not a desired behavior  or a feature of Blazor... that is the heart of Blazor, actually that is Blazor itself.

[2020-01-18 08:06] Lobosque opened #18436 "Upgrading from 2.2 to 3.1: The type or namespace name 'Diagnostics' does not exist in the namespace 'Microsoft.AspNetCore'"
### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce

### Further technical details
- ASP.NET Core version
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version

[2020-01-18 08:07] #18436 closed

[2020-01-18 08:15] Lobosque opened #18437 "'Diagnostics' does not exist in the namespace 'Microsoft.AspNetCore'"
I am under the process of upgrading my application from ASP.NET Core 2.2 to 3.1.
When trying to import `Diagnostics`:

[code]

I am getting this error:

[code]
The documentation page [Handle errors in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/error-handling?view=aspnetcore-3.1) states that the `Diagnostics` package is under `Microsoft.AspNetCore.App`:

The documentati

[2020-01-18 08:17] xsoheilalizadeh opened #18438 "NullReferenceException in Kestrel Http1Connection"
_Forwarded from [twitter][twitter-post]_

### Describe the bug

I'm working on a Proxy based on ASP.NET Core by using the [Proxykit][proxy-kit] library. This proxy is setting on a WCF client in an ASP.NET Core based microservice. While the first request from the WCF client comes to Proxy it works fine but in second request form the client, a `NullReferenceException` will occur through [`ValidateNo

[2020-01-18 08:34] xsoheilalizadeh commented on #18435
@jackletter, Currently you could debug the ASP.NET Core source code, take a look at these links:

[Debugging ASP.NET Core 2.0 Source Code](https://www.stevejgordon.co.uk/debugging-asp-net-core-2-source)
[Debugging third-party code with Rider](https://blog.jetbrains.com/dotnet/2017/12/20/debugging-third-party-code-rider/)

[2020-01-18 08:49] jackletter commented on #18435
I try to use symbols to debug the source code, but the prompt is:
Https://msdl.microsoft.com/download/symbols: no symbols found on the symbol server.
Https://symbols.nuget.org/download/symbols: no symbols found on the symbol server.
Here are my project settings:
![image](https://user-images.githubusercontent.com/15626065/72661158-12f3a080-3a12-11ea-9577-6a1f68ba2037.png)
![image](https://user-imag

[2020-01-18 10:25] mountain65 commented on #18403
I will do that. Thanks.

[2020-01-18 10:29] Bartmax opened #18439 "Help building source."
I spent a lot of time trying to build from source.
`restore.cmd` finished successfully.
Got stuck in error when trying to build from root folder:
[code]

going into (for example) the `Components\Authorization\src` folder and doing a `dotnet build` returns several errors about `hostpolicy.dll` like:
[code]

already tried:
running `eng\scripts\InstallVisualStudio.ps1`
running the clean powershell sc

[2020-01-18 10:45] Odonno opened #18440 "IHubContextAccessor"
### Is your feature request related to a problem? Please describe.

That may follow the issue #12535 but I recently got a bug where I do not get the Principal Claim inside my hubs. And that caused me a lot of pain to change my architecture in order to extract the Principal Claim from either the `IHttpContextAccessor` and (somewhere I can set the current Hub Context).

### Describe the solution you

[2020-01-18 11:23] Regenhardt commented on #18394
@halter73 How would I tell it which port to use, and which Hub should use it? THis is my first time using SignalR.

[2020-01-18 11:31] alefranz commented on #8660
I had a look at this and I believe that most of work has been done as part of https://github.com/dotnet/aspnetcore/issues/11598.

[2020-01-18 11:39] AminEsmaeily opened #18481 ".Net Core 3.1 problem when Hosting on IIS"
I have an ASP.Net Core project that I started it using the .Net Core 2.2. I hosted it on the IIS 10 and windows server 2016 and it was working perfectly.  I upgraded the entire solution to 3.0 and then 3.1 after a while. And hosted it on the IIS. My current server is Windows Server 2019 and the IIS version is 10.0.17763.1, but when I browse the website address using the web browser it shows the 50

[2020-01-18 11:47] physix99 commented on #18413
The problem with local storage is you can only access it after render in server mode, which means delaying until the page has fully rendered, then loading the session. Just means there is a longer loading screen.

[2020-01-18 11:48] alefranz commented on #2895
Hello, any chance you can provide more details on what you are looking for, so I can see if it is something I can try to contribute?

Thank you!

[2020-01-18 12:00] Regenhardt commented on #18394
I have a coreFx Class library now, but I still don't know how to make the hub listen without mapping an http endpoint.

[2020-01-18 12:35] oduis commented on #18405
I just switched over to LongPolling, same problem. And still 100% reproducable.

According to the Microsoft documentation for .Net Native the trouble usually occurs which dynamic programming, reflection and serialization. Were there any changes in these areas?

[2020-01-18 14:02] Summpot opened #18441 "How to add authentication and authorization to Blazor WebAssembly."
The document does not seem to mention how to add it, only only mentions how to use it.The scaffold is not currently available. Could it be added manually in some way?

[2020-01-18 14:46] strich commented on #18302
@mkArtakMSFT so whilst I agree perf improvements is a solid path forward I've also run into issues where some methods (Presumably built-in extension methods?) in core C# namespaces don't exist when I build without IL stripping.

I assume this is because this feature does both stripping AND additional linking? If so, I'd like to request that it be possible to disable IL stripping and IL linking ind

[2020-01-18 15:39] benaadams commented on #2895
[HttpResponseStreamWriter](https://github.com/dotnet/aspnetcore/blob/master/src/Http/WebUtilities/src/HttpResponseStreamWriter.cs) doesn't implement all the virtual methods of TextWriter

In particular
[code]

[2020-01-18 16:00] JohnGalt1717 commented on #9020
Does anyone have a tutorial on how to get this working in AKS? (bonus points for debugging with vs code in aks locally without having to rebuild containers so that we have the entire stack with .net core dev, through to deploy to azure using azure devops and aks).

Most importantly what are you using in AKS to proxy the web traffic to the AKS pods without having to use ngix in the pod itself (i.e.

[2020-01-18 16:15] clockwiseq commented on #18221
Not sure if it's the same issue, but I am disambiguating actions in a controller and one is HttpPost, yet the "best possible match" is the HttpPost action whenever an achor is clicked.  Example:

[code]

Now, I have an anchor tag on my view like so:

[code]

Whenever I click the hyperlink, it hits the HttpPost action.  Is this the same issue or should I create a new one?

[2020-01-18 17:07] mkArtakMSFT commented on #18441
Thanks for contacting us. We're adding an auth-enabled Blazor WASM project template as part of https://github.com/dotnet/aspnetcore/issues/17014.
As for your specific question, you can see how that template is structured and apply the same auth-enabling gestures to your project: https://github.com/dotnet/aspnetcore/commit/e64b8a91ad1a5acea64f7d2a51ac00618ad96876

[2020-01-18 17:07] #18441 closed

[2020-01-18 19:04] olizarevichroman opened #18442 "OAuthHandler doesn't perform RunClaimActions execution"
I noticed that CreateTicketAsync method in OAuthHandler doesn't perform RunClaimActions, but we can add ClaimAction to the ClaimActionsCollection when configuring an OAuthOptions. It seems weird cause user expects that data from JSON will exist when JsonKeyClaimAction is added. Also in the same method i see `using (var user = JsonDocument.Parse("{}"))` what means that all data from OAuth server wi

[2020-01-18 19:28] gituser227 opened #18443 "dotnet run results in errors"
### Describe the bug
dotnet run results in errors

### To Reproduce
Follow instructions at https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started
At step 3, follow instruction for blazorwasm
Accordingly at step 6, "If using a Blazor WebAssembly app, execute dotnet run from the app's project folder."

This results in errors:

/usr/local/share/dotnet/sdk/3.1.101/Sdks/Microsoft.NET.Sdk.Razor

[2020-01-18 19:53] trojanmartin opened #18444 "UserManager.CheckPassword throws exception"
### Describe the bug
I'm trying to use User manager, but method:

`await _userManager.CheckPasswordAsync(appUser, password);`

throws this exception:

StackTrace:

at System.Convert.FromBase64String(String s)
at Microsoft.AspNetCore.Identity.PasswordHasher1.VerifyHashedPassword(TUser user, String hashedPassword, String providedPassword)
     at Microsoft.AspNetCore.Identity.UserManager

It looks l

[2020-01-18 19:57] alefranz commented on #2895
Thanks Ben for the quick reply! I'll have a look.

[2020-01-18 20:12] blowdart commented on #18444
And is it only for one particular user or every user?

[2020-01-18 20:21] BrennanConroy commented on #18405
I don't believe there were any changes in the SignalR .NET Client related to reflection.

However there were likely changes in the System.Text.Json library which we use.
You could try switching to Newtonsoft.Json and seeing if the issue still exists. See our docs for how to do that https://docs.microsoft.com/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#use-newtonsoftjson-i

[2020-01-18 20:30] Bartmax commented on #18413
I now see what you mean and I believe you are on the right track, except *maybe* on the cookie expiration. I think it's reasonable to have a session cookie (without expiration time, that expire when the browser is closed) so you do not need to deal with expiration/interop.

Do you need to persist session data after browser is closed?

[2020-01-18 21:16] alefranz commented on #2895
@benaadams I've started with the easy one and opened to make sure I'm not missing the point, see #18445
I'll then have a look at the async ones.

[2020-01-18 21:43] benaadams commented on #2895
Yep exactly the thing :)

[2020-01-18 21:55] trojanmartin commented on #18444
For every user i have created

[2020-01-18 23:05] Andrzej-W commented on #18279
Where do you call this method? In child component or parent component? `StateHasChanged` forces rerendering of the component. If you call it in child component there is no reason to call setters for its parameters.

I suppose you simply have not enough experience with Blazor yet and you try to apply experience from other frameworks. I will repeat my suggestion from previous post:

[2020-01-18 23:36] lyulyok commented on #9020
Unfortunately this does not seem to be the case with .Net Core 3.1 based Web App calling a grpc service (in this case Pyhton code running on a VM) when hosted on Azure Web Apps - times out.  When running the exact same code from localhost the call goes through (same service VM).

[2020-01-19 00:33] blowdart commented on #18444
What database are you using and how are you creating your users?

[2020-01-19 01:06] Pilchie commented on #18435
@dotnet/aspnet-build - how is this currently supposed to be working?  Also, @jackletter, it looks like you're running on .NET Core 2.0 which has been out of support for a long time. I recommend upgrading to 3.1, or if that is too big a jump immediately, at least 2.1.  Both 2.1 and 3.1 are LTS releases.

See https://dotnet.microsoft.com/platform/support/policy/dotnet-core for details.

[2020-01-19 01:29] dougbu commented on #18435
For 2.0, the instructions at https://www.stevejgordon.co.uk/debugging-asp-net-core-2-source look reasonable. I suspect the out-of-support 2.0 symbols have simply expired and been removed from MSDL.

For anything recent (3.0.0 and on), all of the symbols should be available on MSDL.

There's a symbol checker somewhere in Arcade we might be able to use to confirm the 2.1 symbols are still where we e

[2020-01-19 02:08] jackletter commented on #18435
When I tried version 3.1, the same thing happened：
![image](https://user-images.githubusercontent.com/15626065/72673274-f6ec0f80-3aa2-11ea-9e20-4d4c1aca7b47.png)
![image](https://user-images.githubusercontent.com/15626065/72673283-0d926680-3aa3-11ea-99d3-5212a78161b2.png)
![image](https://user-images.githubusercontent.com/15626065/72673311-82fe3700-3aa3-11ea-9e97-f5e2e9116d8a.png)
Does the symbol

[2020-01-19 06:12] dougbu commented on #18435
It's possible the issue is geo-distribution of the symbol files but I'm not positive. Could you please provide the exact version information of the files you're checking? I'll check in the next couple of days.

[2020-01-19 06:34] jackletter commented on #18435
I look for assemblies in this order:
![image](https://user-images.githubusercontent.com/15626065/72676097-47c22f00-3ac8-11ea-8dcb-fdb5b98eb9f1.png)
What is a reference assembly? Can't find a symbol related to it?

[2020-01-19 06:37] jackletter commented on #18435
I look for assemblies in this order:
![image](https://user-images.githubusercontent.com/15626065/72676168-29106800-3ac9-11ea-80a2-0189eea24c32.png)

What is a reference assembly? Can't find a symbol related to it?

[2020-01-19 06:38] hannespreishuber opened #18447 "Blazor set Parameter via <app>"
is it possible to set external from HTML parameter to the "plugin" Blazor webassembly

Like Componenthelper TagHelper param-ID same with <app param-ID=

[2020-01-19 07:50] Liander commented on #18279
I feel your pain @HTD. If one neglect that you receive the tag-property as an object and that one always gets two initializations when having pre-rendering and instead concentrate on the re-render conditions that surprises you, then I can say it surprises me too. One can even see it as passing callbacks and delegates are not fully supported (yet) as event handlers so they are seen as references to

[2020-01-19 09:08] michuny25 opened #18448 "[Blazor WASM] Serve cached assemblies from ASP.NET Core Server"
I am running ASP.NET Core 3.1 Server which hosts API and also serves Client-Side Blazor files.
I tried to speed up the loading of the Blazor WASM assemblies in ```/_framework``` folder using CloudFlare CDN.

However, even if I create a site policy for ```mydomain.example/_framework/*``` then it's still not being cached and the status of the assemblies is ```cf-cache-status:REVALIDATED``` because t

[2020-01-19 10:28] trojanmartin commented on #18444
I'm using Microsoft SQL Server Developer (64-bit) and i'm creating users "same" as i'm checking password:

`
            var result = await _userManager.CreateAsync(appUser, password);
`

[2020-01-19 12:22] trojanmartin commented on #18444
I tried it with older applications which is in .Net Core 2.2 and it works Ok. I used the same database with users which were created by the "new" app in .Net core 3.1.

[2020-01-19 14:52] MithrilMan commented on #10475
FYI, whenever I run into this kind of System.Net.Sockets.SocketException (10013) exception, I first check if my port is for some reason excluded from dynamic range, with this command
`netsh interface ipv4 show excludedportrange tcp`

and it's always there, so for some reason the port I want is in an excluded range and I just change the port.
I'd like to know if there is a better way to understand

[2020-01-19 14:58] trojanmartin commented on #18444
![image](https://user-images.githubusercontent.com/44072595/72683016-e607c200-3ad3-11ea-9d7e-28b23bb0a0eb.png)

I have created my own PasswordHasher and when  VerifyHashedPassword is called, instead of expected hashed password string there is id of user.

[2020-01-19 15:15] trojanmartin commented on #18444
I found issue in my code. Mapping of user from one entity to another was wrong.

[2020-01-19 15:15] #18444 closed

[2020-01-19 15:48] poke opened #18449 "@onevent:preventDefault does not trigger when event is not already registered"
When using the new `@onevent:preventDefault` directive to prevent the default event behavior for events, I noticed that in order for this to work, there needs to be a `@onevent` handler registered *anywhere* on the page.

Apparently, server-side Blazor registers every event just once on the document instead of on individual elements. So e.g. `@onclick="…"` causes the `click` event to be subscribed

[2020-01-19 17:52] JulienM28 opened #18452 "Blazor WASM Enumerable.Append() Issue"
I have this code:

[code]
It doesn't Add anything to my collection.

But this code does:
[code]
I tried Append in differents cases, it nevers worked.

Thanks.

[2020-01-19 19:05] alikor commented on #5465
This is the Micro frontends pattern and this is defiantly something my team would require.

Different teams (services) would be able to updates their own assembly and this would be dynamically loaded into the host application, component would be able to talk to each other via events this is the dream would also be great if assemblies could be loaded from different sub domains

[2020-01-19 20:15] dougbu commented on #18435
See https://docs.microsoft.com/en-us/dotnet/standard/assembly/reference-assemblies

The information I asked for is only available at runtime. Check the Modules window (Debug -> Windows -> Modules aka Ctrl+D, M) when debugging your application. I can't read the complete Version or Timestamp columns in the screenshots provided earlier.

[2020-01-20 01:05] jackletter commented on #18435
![image](https://user-images.githubusercontent.com/15626065/72691925-dd5ecc80-3b63-11ea-84d3-bda497d9f864.png)

[2020-01-20 01:26] knight1219 commented on #17997
If your like me that's looking for this now, this will get you what you need (as far as I can tell)

[code]

[2020-01-20 03:49] pm64 commented on #14527
Under the approach recommended by @mkArtakMSFT, how would a background task go about determining the timestamp of the last activity? Or would the timestamp need to be recorded manually by a service injected into each component the user could potentially access?

[2020-01-20 07:44] ofarukcebir opened #18457 "Path.Combine doesnt work correctly on linux"
I am using .net 3.1 on linux.
I expect to get path of /home/pi/Desktop/logfile.txt by combining paths the cross platform way

Here is my code

`            string[] paths = { @"home", "pi", "Desktop","logfile.txt" };
            string fullPath = Path.Combine(paths);
           // var enumPath = Directory.EnumerateFiles(fullPath);

            //System.IO.File.WriteAllText(enumPath, edit1);

[2020-01-20 08:23] oduis commented on #18405
That seems to be it! Switching just the Client to NewtonsoftJSON resolve the problem with .Net Native compilation.
Can I mix this? So keep the SignalR Server on the new System.Text.Json and just switch the client to Newtonsoft till the problem is resolved some day? Seems to work.

[2020-01-20 08:26] gfoidl commented on #18457
Are you sure that `/home/pi/Desktop`-folder exists?
If it doesn't exist, this exception will be thrown.

You can ensure that the direcotry exists via
[code]

[2020-01-20 08:33] wstaelens commented on #17227
@ryanbrandenburg I had time to look at it now and yes it fully works again in 3.1 by opting out.

 I removed my .en.resx again ('en' is my default language) and edit the csproj file and added:

[code]

now the localization works again the same as in 2.x releases!

[2020-01-20 08:34] ofarukcebir commented on #18457
Yes, the directory exist.

by the way, In windows, the log file is created even if it does not exist.
`
pi@raspberrypi:~/Desktop $ ls /home/pi/Desktop
Hello  WebApplication2
`

[2020-01-20 08:35] gfoidl commented on #18457
But also `/home/pi/Desktop/WebApplication2/WebApplication2/bin/Release/netcoreapp3.1/linux-arm/home/pi/Desktop` this is where the file would be written to.

[2020-01-20 08:49] ofarukcebir commented on #18457
how would you combine the path with root path?

[2020-01-20 09:20] einaradolfsen commented on #10514
Should the docs mention to use ../ instead, to save developers from troubleshooting?

[2020-01-20 09:34] physix99 commented on #18413
The website is question is basically an e-commerce site, so yea I need to be able to keep their session after browser closed, incase of crashes etc...

[2020-01-20 09:57] gaborposz commented on #18091
I asked a co-worker (who is responsible about our installer) how we deal with this problem, and it turned out that we do pretty much that you proposed:
We "forked" WiX several years ago, and built a custom installer from it, and it is signed by our own certificate.

I keep looking for your results with WiX 3.11.2.
I guess -if it helps- then the Runtime bundle's installer should be upgraded too, ri

[2020-01-20 10:00] chrfin commented on #18415
Adding the Framework reference helped. It's working now :-).

Yes, we are using SignalR for real-time communication between two devices (one Windows PC and one embedded device running .NET Core on Linux).

[2020-01-20 10:00] #18415 closed

[2020-01-20 10:04] javiercn commented on #18457
@ofarukcebir thanks for contacting us.

We don't think there's anything specific to ASP.NET Core here and we believe you'll get a better and faster answer if you file the issue directly in the [dotnet runtime](https://github.com/dontet/runtime) repository.

[2020-01-20 10:06] javiercn commented on #18452
@JulienM28  thanks for contacting us.

We don't think there's anything specific to Blazor and we believe you'll get a better and faster answer if you file the issue directly in the [mono repository](https://github.com/mono/mono) repository.

[2020-01-20 10:08] javiercn commented on #18449
@poke thanks for contacting us.

@poke what you are mentioning makes sense.

@SteveSandersonMS do you have any thoughts here?

[2020-01-20 10:08] javiercn commented on #18447
@hannespreishuber thanks for contacting us.

This is not possible at the moment.

[2020-01-20 10:10] javiercn commented on #18443
@gituser227 thanks for contacting us.

@pranavkm this seems like the compiler failing to run for some reason? Do you have any thoughts?

[2020-01-20 10:13] javiercn commented on #18437
@Lobosque thanks for contacting us.

I think you might have an issue with the migration. Check out the migration guide for breaking changes and instructions on what to do.

https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#breaking-api-changes

[2020-01-20 10:15] dawgen opened #18459 "Adding blazor events (@onclick etc.) while using MarkupString"
I was reading this issue:
(https://github.com/dotnet/aspnetcore/issues/15746)
and I have somewhat the same problem.

My blazor project gets an html string from the backend containing guids. Blazor then replace the guids with html elements (i.e. images) that will contain onclick-events for statistic purposes.

A simplified example:
From the backend, I get:
[code]

using Blazor, I want my output to

[2020-01-20 10:24] javiercn commented on #18422
@mikes-gh thanks for contacting us.

This is a result of our changes in 3.0. Not sure if we could have better docs or an Analyzer for this. It would likely mean we do the same thing for the Identity package too.

[2020-01-20 10:27] javiercn commented on #18448
@michuny25 thanks for contacting us.

We'll likely handle this as part of https://github.com/dotnet/aspnetcore/issues/16956

I'm closing this issue in favor of that one.

[2020-01-20 10:27] #18448 closed

[2020-01-20 10:29] bencyoung commented on #18386
Note that if all the above is true then this is the first time (I can remember) in about 16 years of heavy .NET dev that I've seen a pure runtime upgrade cause code, based only on shipped .NET framework code, to break. To me that's a important and concerning development.

[2020-01-20 10:29] javiercn commented on #18439
@Bartmax thanks for contacting us.

What version of visual studio are you using?

@dotnet/aspnet-build will know better. Can you assist here?

[2020-01-20 10:30] javiercn commented on #18426
@zbecknell thanks for the repro.

@rynowak can you take a look?

[2020-01-20 10:35] javiercn commented on #18425
@hoksource thanks for contacting us.

You can use AuthorizeView to accomplish this and use a custom authorization policy to check for any condition you want as part of validating the policy requirements.

See https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies?view=aspnetcore-3.1 for examples on how to create and configure policies.

[2020-01-20 10:41] mikes-gh commented on #18422
You could add docs but I think some sort of compile time check would be preferable.

[2020-01-20 10:47] javiercn commented on #18422
@mikes-gh the analyzer is the compiler check.

[2020-01-20 11:17] daver77 commented on #13709
Not sure if people are aware, you can use this Razor Page method to secure Blazor Pages

https://docs.microsoft.com/en-us/aspnet/core/security/authorization/razor-pages-authorization?view=aspnetcore-3.1#require-authorization-to-access-a-folder-of-pages

[2020-01-20 11:53] JulienM28 opened #18460 "Blazor WASM event:preventDefault on Components"
This code returns me this error:
[code]

The component parameter 'onclick' is used two or more times for this component. Parameters must be unique (case-insensitive).
The component parameter 'onclick' is generated by the '@onclick' directive attribute.

So how Can I prevent Navigation when clicking and just have my method fired ?

Thanks.

[2020-01-20 12:19] mikes-gh commented on #18422
Yeh sorry that what I meant  my vote is analyzer over docs.

[2020-01-20 13:03] Bartmax commented on #18439
All those tests were made with Visual Studio 2019 16.5.0 Preview 1.0 Community.

![image](https://user-images.githubusercontent.com/3386797/72728430-1864fe00-3b6c-11ea-8c2d-0a06da3f7f3f.png)

Microsoft Visual Studio Community 2019 Preview
Version 16.5.0 Preview 1.0
VisualStudio.16.Preview/16.5.0-pre.1.0+29521.150
Microsoft .NET Framework
Version 4.8.03752

Installed Version: Community

Visual C++

[2020-01-20 13:59] VBAndCs opened #18462 "Proposal: Add a generic RedirectToPage method"
Take this example of the RedirectToPage method:
[code]
There are two problems in this code:
1. Potential typo errors in the page path and name.
2. No intellisense aid for route params.

To solve this, I suggest adding a new overload for the RedirectToPage:
` RedirectToPage<T> (params object[] o)`

so, we can rewrite tha obove example as:
[code]

This new overload should call one of the old overloa

[2020-01-20 15:43] benmccallum opened #18463 "HttpRequest.ContentLength is null when using TestHost"
### Describe the bug
⚠️**Update: I'm no longer taking this approach and inspecting the Content-Length header's value, we found a much better way with help from David Fowler, but the issue is still valid. For reproducability, I've branched the commit at the time [here](https://github.com/benmccallum/server/tree/reproduction/content-length-null).**

Apologies if I'm completely wrong here. ~Over [her

[2020-01-20 16:02] alefranz commented on #17160
That feels the best option. The default options as you said are sub-optimal (my standard is: camelCase properties, camelCase enums, omit null properties) so there is a need for an easy way to change the options, in a single place for everything (uncommon to have different options per endpoint).

I think it would be nice to have a way to specify globally a media type, like the options, as it is not

[2020-01-20 16:17] stefanloerwald commented on #13601
Same here, really disappointing to not have this in Blazor, and even more so that it seems to be only coming with 5.0. It's just so much more effort to style an application consistently when you have to use two different frameworks...

[2020-01-20 16:50] javiercn commented on #18459
@dawgen thanks for contacting us.

We are not sure what you are trying to accomplish, but MarkupString is meant to represent literal markup blocks and we don't have plans to change the programming model to support Blazor constructs inside a MarkupBlock.

For what you are trying to accomplish you either need to know the shape of the HTML you are processing and write a component with that markup or

[2020-01-20 16:55] javiercn commented on #18462
@VBAndCs thanks for contacting us.

That's not possible/useful due to the way Razor pages are compiled, as it would create a circular dependency between the application assembly and the Views assembly.

If this is a problem for you, you can write your own analyzer to check the parameters to the RedirectToPage method calls and check for typos there.

[2020-01-20 17:07] jason-simard opened #18464 "Route attributes for GUID handled differently"
### Describe the bug
Using a GUID as a route attribute produces a 404 error.  Using a similar route attribute for an int works as expected.

### How To Reproduce

[code]

[code]
/Employee/Edit/1717 - works as expected with the above route

[code]
/Role/Edit/7b65e7dc-7a29-4ff6-a236-394cfd7619aa - this route returns a 404 error.

[code]
If I change the parameter name to id, the route behaves as expe

[2020-01-20 17:28] Ricardoaraujo00 opened #18465 "I cannot pass data from background method to blazor page"
I need need to pass data from a background method that receives data by gRPC, and i need the Blazor page to be updated as soon as information arrives. Like a triggred event.

Right now i can pass the data through a singleton, wich is not good, but the scooped class cannot be accessed anywhere outside the blazor page. I can also do it with a static class, would that be better?

The other problem wi

[2020-01-20 18:00] #18281 closed

[2020-01-20 18:08] javiercn opened #18466 "[Validation][Blazor] Validate new auth option for the blazor-wasm template"

[2020-01-20 18:09] javiercn commented on #18402
https://github.com/dotnet/aspnetcore/issues/18466

[2020-01-20 19:07] BrennanConroy commented on #18405
Yes, they work together. Just make sure to test your payloads between the two libraries because there are some differences in what is supported.

[2020-01-20 19:35] VBAndCs commented on #18462
@javiercn
Thanks for fast response. As I said, this is only a Roslyn work at design time. All the information needed exist in the pagd.shtml and page.cshtml.cs files, and Intellisense can reach them. At compilation, the generic RedirectToPage method can be lowered to the suitable non-generic overload, so, everything will work as usual.
If you agreed with the purpose, you will find a suitable solut

[2020-01-20 19:35] dougbu commented on #18439
@pranavkm I believe we've seen errors loading `rzc` in the past. Are we now rolling the runtime too far forward for that `netcoreapp3.0` tool i.e. have we hit breaking changes in the runtime?

See also aspnet/AspNetCore-Internal#3201

[2020-01-20 20:44] javiercn commented on #18462
@VBAndCs Razor and C# don't interact that way.

Razor transpiles to C# classes and doesn't have any insight into the C# you have in your application.

The views are generated into an additional views assembly that has an `<app-name>.Views.dll` and that references the application assembly, so for a view to be referenceable by the app, the app would also need to reference the views assembly, which w

[2020-01-20 20:46] javiercn commented on #10083
Here is a gist that explains how to do this https://gist.github.com/javiercn/f9c732b1d8e51634cbfd4cb0bce95b19

[2020-01-20 20:48] #10083 closed

[2020-01-20 20:50] javiercn commented on #10083
This is done, I've filed a doc bug for the docs team to add it to the JS interop section
https://github.com/aspnet/AspNetCore.Docs/issues/16627

[2020-01-20 21:15] alexsaalberg049 opened #18467 "Access inherited variable from Razor Component's partial class"
### Describe the bug
Idk, if this is intended or not, but it's not possible for a Partial Class of a Razor Component to access any variables it might inherit.

### To Reproduce
Simply setup the scenario described. Here's some pictures:

The files:
![the files](https://i.imgur.com/SZ72LPa.png)

The Parent Class:

![the parent class](https://i.imgur.com/eohALVh.png)

The Razor Component's partial cl

[2020-01-20 21:26] rin0o1 commented on #17393
I think so

[2020-01-20 21:29] onarres commented on #18419
From digging in fiddler, I see that the .AspNetCore.Identity.Application cookie is not getting deleted during the https://api.idsrv.local/Account/Logout?logoutId and is sent with the iframe call to https://api.idsrv.local/connect/endsession/callback?endSessionId

[2020-01-20 21:32] javiercn commented on #18467
@alexsaalberg049 thanks for contacting us.

I'm not sure you are defining your partial class correctly. It should extend ComponentBase.

I would recommend you open the output dll with ILSpy and ensure that you don't have multiple classes on the assembly.

[2020-01-20 21:32] VBAndCs commented on #18462
OK. I just share some thoughts.
There is another alternative (not expecting you to implement):
Generate a hidden static class with the name `Redirect` and generate a static method for each page in the project, such as `ToIndexPage` with params similar to those of the OnGet/OnGetAsync method.
I will write such a class manually in my projects to make my code consistence, but it will be easier if it

[2020-01-20 22:23] alexsaalberg049 commented on #18467
Thanks for the response!

Hmm, yeah I did miss that part of defining the component class.

Still, should I be able to make the Parent class the one that derives from ComponentBase (and then access the parent's variables from the child), or no?

[2020-01-20 22:36] serpent5 opened #18468 "Should the project templates use MapDefaultControllerRoute?"
Project templates that set up MVC usually have [this call](https://github.com/dotnet/aspnetcore/blob/master/src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Startup.cs#L159-L161) inside of the `UseEndpoints` callback:

[code]

Should this be replaced with the following?:

[code]

The end result is the same, but this seems like something that might have been considered before (I

[2020-01-20 23:46] danielvi1787 commented on #10992
Hi, I having the same issue, any solution in the near future?

[2020-01-21 00:00] #18284 closed

[2020-01-21 01:00] #18310 closed

[2020-01-21 03:44] pwen090 commented on #18401
@SeanKilleen we are getting the same issue except the container in this case is our Azure Web App (linux) deployment. Seems they do not have 3.1.1 in the azure web app container yet? And the workaround that @mkArtakMSFT linked to does not seem applicable. I'm sure your dotnet version output was for your container and so your issue is different. Mentioning this in case anyone was having the same er

[2020-01-21 03:45] TanvirArjel commented on #18348
@anurse, using `User.Claims`, I am getting 4 claims whose types are as follows:

    http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier // value is primary key
    http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name // value is user name
    AspNet.Identity.SecurityStamp
    amr

[2020-01-21 04:48] benaadams commented on #18334
`Could not load file or assembly 'Microsoft.AspNetCore.Razor.Runtime, Version=3.1.1.0`
😢
[code]
Workaround doesn't work as adding
[code]
Gives the following build error
[code]

[2020-01-21 04:57] jtlimson opened #18469 "AuthorizeCore in AuthorizationAttribute?"
Is there a replacement for `AuthorizeCore` in `AuthorizeAttribute` in MVC 5?

AuthorizeCore returns a boolean - where we developer can custom override a decision making code.
lets say;
`
Do I want this user to proceed? type of conditions.
`
or is this already depricated.

Thanks

[2020-01-21 05:50] WhitWaldo commented on #18334
Experiencing the same issue as @benaadams above. Nuget indicates that there isn't a 3.1.1.1 version of [Microsoft.AspNetCore.Razor.Runtime](https://www.nuget.org/packages/Microsoft.AspNetCore.Razor.Runtime/), but that's the error I see in my own exception.

[code]

This is breaking on a line during local debug (running as x64) within ConfigureServices with the following:

`services.AddMvcCore().Ad

[2020-01-21 06:16] oduis commented on #18405
Thanks for help! It might be a good idea to add some hint about the .Net Native compilation restriction to the SignalR Newtonsoft documentation.
.Net Native Compilation is a requirement for published Windows Store apps, and you surely expecting a flood of touch optimized UWP apps for Win 10X  ;-)

[2020-01-21 06:23] loic-sharma opened #18470 "SPA proxy to React development server throws"
### Describe the bug
After upgrading to ASP.NET Core 3, the SPA Proxy to the React development server throws lots of exceptions:

<details>
<summary>System.IO.IOException: Unable to read data from the transport connection:</summary>

[code]

Call stack:
[code]
</details>

<details>
<summary>System.Threading.Tasks.TaskCanceledException: The operation was canceled.</summary>

[code]

Call stack:

[c

[2020-01-21 06:36] HaoK commented on #18348
Doesn't look like we generate an email claim by default, since generally the user name is the email for us.

See https://github.com/dotnet/aspnetcore/blob/master/src/Identity/Extensions.Core/src/UserClaimsPrincipalFactory.cs#L82 for the list of claims we generate by default.

We could consider also generating the email claim if the user has a non null email as well, thoughts @blowdart ?

[2020-01-21 07:04] rynowak commented on #18469
The authorization system has a number of extensibility points - we recommend using policies/requirements rather then subclassing the `AuthorizeAttribute`/`AuthorizeFilter`.

https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies?view=aspnetcore-3.1

[2020-01-21 07:07] rynowak opened #18471 "AddAuthorizationCore should call AddOptions"
### Describe the bug

`AddAuthorizationCore` depends on options being registered in the service collection. In server-side ASP.NET Core, this is fine because hosting includes it. In Blazor WASM we're now forced to register options (an extra dependency) in the host, even though Blazor itself doesn't use options.

[2020-01-21 07:31] agchaudhury opened #18472 "HttpContext only holding default values in dotnet core 2.1"
I have recently upgraded an application created in dotnet core 1.0 to 2.1. And ever since HttpContext, the application was using to retrieve information, is only having default values and the following lines of code are failing:

`if (!HttpContext.Items.Keys.Contains(Utility.APIGATEWAY_REQUEST))
            {
                //log error
            }`

`var apiGatewayRequest = HttpContext.Items[Ut

[2020-01-21 08:37] RemiBou commented on #16874
I have a question : would it be a good idea to expose the renderer instance ? It could be nice for libraries that which to extend it (for instance I wanted to build MiniProfiler.Blazor but I couldn't find any good global hook, exposing WebRenderer would help I think). Maybe this is not related to this issue ...

[2020-01-21 09:00] javiercn commented on #18470
@loic-sharma thanks for contacting us.

I would think that's expected as you are refreshing the page, that is causing the request to be aborted while in-flight which is typically signaled with an exception and that's likely what you are seeing there.

[2020-01-21 09:00] DanielReif opened #18473 "Bind Value Invoke triggers OnSubmit [Blazor]"
### Describe the bug
I have a component with a custom databinding. Now when i call the `BindingValueChanged.InvokeAsync(value);`, the Invoke calls the OnValidSubmit/OnInvalidSubmit/OnSubmit from the EditForm.

### To Reproduce

Example:
https://blazorfiddle.com/s/6j7q6qoc

When i hit the "click" button, the OnValidSubmit is executing.

### Further technical details
- ASP.NET Core version
.Net Core

[2020-01-21 09:10] mrpmorris opened #18474 "Where are directives processed? [Blazor] [Question]"
I see some Blazor directives declared here
https://github.com/dotnet/aspnetcore-tooling/blob/master/src/Razor/src/Microsoft.CodeAnalysis.Razor/RefTagHelperDescriptorProvider.cs

Where can I view the source that processes these directives into the target source code?

Thanks

[2020-01-21 09:36] sdcb commented on #18062
@Tratcher @javiercn
I believe Angular/React/Vue SPA extensions should using `127.0.0.1` instead of `localhost` here:
https://github.com/dotnet/aspnetcore/blob/968e85a3977d3634602891eecd90e456131ae0c3/src/Middleware/SpaServices.Extensions/src/AngularCli/AngularCliMiddleware.cs#L46-L52

[2020-01-21 09:38] javiercn commented on #13365
I've investigated this issue a bit, I believe this is a mono bug, as I see the dll being downloaded and added to the mono runtime.

![image](https://user-images.githubusercontent.com/6995051/72792890-95d15280-3bee-11ea-8823-09e78471a676.png)

Which corresponds with
![image](https://user-images.githubusercontent.com/6995051/72792958-aeda0380-3bee-11ea-9769-821f8c04e8f8.png)

I believe the issue her

[2020-01-21 09:40] javiercn commented on #13365
This issue was moved to mono/mono#18522

[2020-01-21 09:40] #13365 closed

[2020-01-21 09:41] javiercn commented on #13365
I've moved the issue to the mono repo

[2020-01-21 09:54] javiercn commented on #15222
The original build issue is gone

[2020-01-21 09:59] javiercn commented on #13247
The work here is to allow the route to be configured in the dev server.

[2020-01-21 10:04] javiercn commented on #18062
If @Tratcher is happy with the solution to change it to 127.0.0.1, I believe we would be happy to take a PR for this change.

[2020-01-21 11:30] DanielReif commented on #18473
Okay, i found the issue. When a button in the EditForm has no type="button" attribute, it trigger the Submit event.

Same Example with type="button" works:
https://blazorfiddle.com/s/9p73755v

[2020-01-21 12:01] #18473 closed

[2020-01-21 12:17] javiercn commented on #18471
This will have to happen in .NET 5.0 timeframe or we could consider adding it in a patch, as it should be harmless.

[2020-01-21 12:25] martinsubash opened #18480 ".Net Core 3.1 problem when call Rest methods"
# Issue Title

**.Net Core 3.1 problem when call Rest endpoints- System.InvalidOperationException: No service for type 'Microsoft.Extensions.Logging.ILoggerFactory' has been registered.**

# General
 I have updating net core 2.2 to 3.1. The service started and can able to hit the /api end point.
but hit the API by order like e.g 1) /api/users/{id} then 2) /api/users/1/settings. Here the first requ

[2020-01-21 12:43] gulzarahamed opened #18479 ".net core 3.1 migration issue"
# Issue Title

Migrating .net core web api project from .net core 2.2 to .net core 3.1

# General

I am following microsoft migration guide "https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio". I am using WebApi.Hal  3.1.0 (<PackageReference Include="WebApi.Hal" Version="3.1.0" />)
which internally using Microsoft.AspNetCore.Mvc.Formatters.Json 2

[2020-01-21 13:25] pawelpabich commented on #18334
Same here. Just upgraded my app from 2.1 to 3.1 and getting this error.

[2020-01-21 13:31] nixa333 commented on #18417
Here's the request data. I've redacted some of it to remove personal and sensitive info that I believe is not relevant to the issue.

**HEADERS:**
Accept: */*
Accept-Encoding: br
Accept-Language: hr-hr
Connection: Keep-Alive
Content-Length: 3495
Content-Type: multipart/form-data; boundary=----WebKitFormBoundaryUOcMGIQnPWtTqeaY
Cookie: tl_id=f9bd0dd1-3a97-4fff-93be-63a8531a663f; tl_session_id=404bc

[2020-01-21 13:42] marcuslindblom opened #18475 "Custom router in Razor pages"
In MVC I have a custom router where I look up what controller and action the request should end up in. Is it possible to use a custom router in Razor pages?

This is basically how I do it in MVC.

[code]

Is it possible to set some route value to send the request to a specific `PageModel` in Razor pages?

[2020-01-21 13:57] blowdart commented on #18348
We should yes.

[2020-01-21 13:57] javiercn commented on #18474
@mrpmorris thanks for contacting us.

@NTaylorMullen or @rynowak can you give an answer here?

[2020-01-21 14:02] javiercn commented on #18475
@marcuslindblom thanks for contacting us.

@rynowak or @pranavkm can you help here?

It would help if you describe in more detail what you are trying to accomplish so that we might be able to provide an alternative option in case it is not possible.

[2020-01-21 14:03] javiercn commented on #18460
@JulienM28 thanks for contacting us.

@SteveSandersonMS do you have any thoughts here?

[2020-01-21 14:09] javiercn commented on #18465
@Ricardoaraujo00 thanks for contacting us.

We're not sure what you are trying to accomplish here, but here are some options.

We're not sure if you are trying to share data that is specific to a given user or global. If the data is global then you can use a singleton and inject that in your component, add an event to your class and subscribe on the component to update the UI.

If the data is not

[2020-01-21 14:12] dannygrieve commented on #18465
What?

[2020-01-21 14:13] marcuslindblom commented on #18475
@javiercn Basically I have a `IDictionary<string, TrieNode>` where the key is the a friendly url and the `TrieNode` has information about the controller and `Id` of the entity to load from the database. The urls are hierarchical and does not have the name of the controller because that information is in the `TrieNode`. A url is constructed by the `h1` on the page and can look something like this.

[2020-01-21 14:14] sunliusi opened #18476 "Grpc and websocket can't be used at the same time"
grpc use http2, websocket use http1. It's impossible to use both in same port at the same time.

It can be done by ConfigureKestrel setting different ports, how to user both in same port at the same time.

[2020-01-21 14:21] sunliusi commented on #18476
Grpc is used in internal micro service, it's not necessity to config TLS certificate.

Whether or not it can be done by setting http1 or http2 in the endpoints.

[2020-01-21 14:35] javiercn commented on #18475
@marcuslindblom you could try setting the "page" in the `RouteData.Values` to the page path, like "/Index.cshtml"

I believe that should work, otherwise I'm not sure what other options exists, but @rynowak will know.

[2020-01-21 14:56] marcuslindblom commented on #18475
@javiercn @rynowak I tried something like this but it does not execute my router at all.
[code]

[2020-01-21 15:05] llustosa commented on #18237
Sorry to bother you guys, this was my bad. Finally managed to finde the problem, was a bug in my application. Closing the issue.

[2020-01-21 15:05] #18237 closed

[2020-01-21 15:18] marcuslindblom commented on #18475
I forgot to say that I'm developing a CMS so perhaps you can understand more what I'm trying to achieve. I think it's basically a wildcard route where I look for my "page" in the database, route it correctly if it exists on the given path, or else I want to forward the request to the next registered router or endpoint.

[2020-01-21 15:30] RemiBou commented on #18474
From my work in this blog post https://remibou.github.io/Blazor-how-it-works-part-1/, the directives are evaluated in this project https://github.com/dotnet/aspnetcore-tooling/blob/master/src/Razor/src/Microsoft.AspNetCore.Razor.Language/ for instance https://github.com/dotnet/aspnetcore-tooling/blob/master/src/Razor/src/Microsoft.AspNetCore.Razor.Language/Extensions/FunctionsDirective.cs

Maybe s

[2020-01-21 15:30] mrpmorris commented on #18475
@marcuslindblom This is currently not possible because the router works by finding `@page '/Whatever'` attributes on components, so it cannot be data driven.

Shaun Walker wrote a blog on how to create a custom router for Blazor that you might find useful - https://www.oqtane.org/Resources/Blog/PostId/521/custom-routing-in-blazor

[2020-01-21 15:41] mrpmorris commented on #18474
Hi Remi

From what I can see, those are only where the directives are defined. There is no code in there that performs the actual transpilation into C#. That is what I am looking for.

[2020-01-21 15:52] ileve opened #18477 "routing is not working when uploaded in azure"
I use an anchor tag helper to generate a link with `asp-route-id`.
When `asp-route-id` contains forward slash then routing is working in local host, but not in azure.

Example:  `asp-route-id="MERINO DE LUX / 50"`
The tag helper generates the url:
`http://{domain name or localhost}/Products/FromCategory/MERINO%20DE%20LUXE%20%2F%2050`

With experiment i figured out that forward slash causes the pro

[2020-01-21 15:55] javiercn commented on #18475
@mrpmorris this is not a Blazor question but an ASP.NET Core routing question. That advice doesn't apply here.

[2020-01-21 15:56] mrpmorris commented on #18475
@javiercn I thought I had the area-blazor filter on, sorry. Deleted :)

[2020-01-21 16:00] Tratcher commented on #18417
That does look like a zero length file, unless you altered this part?
[code]

[2020-01-21 16:00] mrpmorris commented on #18474
Thanks @RemiBou, that helped me to find the source file I needed
https://github.com/dotnet/aspnetcore-tooling/blob/c38adf926ee98b66bc04edf4be50629f0b04b712/src/Razor/src/Microsoft.AspNetCore.Razor.Language/Components/ComponentReferenceCaptureLoweringPass.cs

[2020-01-21 16:00] #18474 closed

[2020-01-21 16:02] RemiBou commented on #18474
You can start here

https://github.com/dotnet/aspnetcore-tooling/blob/master/src/Razor/src/Microsoft.AspNetCore.Razor.Tools/GenerateCommand.cs line 304 then the project engine is defined here

https://github.com/dotnet/aspnetcore-tooling/blob/master/src/Razor/src/Microsoft.AspNetCore.Razor.Language/DefaultRazorProjectEngine.cs

then here you have the loop through all the phases

https://github.com

[2020-01-21 16:11] alexsaalberg049 commented on #18467
@javiercn

So `dotnet` is saying `partial declarations must not specify different base classes`, which kinda makes sense I guess.

[Here's the repo](https://github.com/alexsaalberg049/RazorComponentInheritance/tree/master)

Here's the full output:

[code]

[2020-01-21 16:12] Tratcher commented on #18062
That's fine.

[2020-01-21 16:22] Tratcher commented on #9020
@lyulyok can you collect diagnostics and open a separate issue? There are no known problems with the client here.

[2020-01-21 16:23] Pilchie commented on #18334
@wtgodbe @JunTaoLuo it looks like we may have missed a case here. Can one of you take a look and see if there is a workaround here?

[2020-01-21 16:24] RobertAcksel commented on #18416
From what i see so far you do not leave a distinct path open for me to load my RCL's as plugin like application extension when it comes to static web assets.

[When i read through the code](https://github.com/dotnet/aspnetcore/blob/44e44931fe4050e82b2877047b5104d779147f78/src/Hosting/Hosting/src/StaticWebAssets/StaticWebAssetsLoader.cs#L87) i see that you do expect an xml file generated during bui

[2020-01-21 16:33] anurse commented on #9020
Please open a new issue to discuss this or ask on [Stack Overflow](https://stackoverflow.com/). Let's keep this thread on-topic, especially as there are many people interested in the status of gRPC on IIS and HTTP.sys and every comment pings every person who's on it. I'm going to hide off-topic comments, please feel free to **post new issues** if you have further questions.

[2020-01-21 16:35] anurse commented on #18348
@blowdart This will be lost in the 5.0.0 milestone. Moving to backlog with `5.0-candidate` for actual planning.

[2020-01-21 16:37] anurse commented on #18415
@chrfin Glad the framework reference worked out!

Very cool! Sounds like a great project.

[2020-01-21 16:37] Ricardoaraujo00 commented on #18465
Hi @javiercn
In this case the data is global. Please understand that i am a rookie at this and it's not very easy for my to understand some things.

I was trying to do just that, but i cannot inject the thread safe singleton in the ConfigureServices on the startup.cs. The compiler throws an error that it has not a valid constructor. So i instantiate it in the Program.Main().
The sigleton:
[code]
T

[2020-01-21 16:41] anurse commented on #2895
Yep, @benaadams is correct. @alefranz, we'll take a quick look at your draft and see if you're on the right track ;).

[2020-01-21 16:42] anurse commented on #18394
Can you clarify what you mean by "without mapping an http endpoint"? SignalR runs over HTTP so it requires an HTTP endpoint. Can you provide sample code that illustrates the problem?

[2020-01-21 16:43] anurse commented on #8660
Looks like you're correct and #11598 has a better listing of what is done and not yet done. I'm going to close this as a duplicate of it.

[2020-01-21 16:44] #8660 closed

[2020-01-21 16:49] anurse commented on #18438
@xsoheilalizadeh Are you able to reproduce this under a debugger at all? I ask because if you can do so and download symbols for Kestrel ([docs on how to do so in VS](https://docs.microsoft.com/en-us/visualstudio/debugger/how-to-use-the-modules-window?view=vs-2019#load-symbols), they should all be on the Microsoft Symbol Servers) then we can get the exact line number of the null-ref, which would h

[2020-01-21 16:52] anurse commented on #18342
Ah, I see. It looks like there are indeed some cases where exceptions can be thrown. In this case, the regex can be correctly parsed, but fails to execute because of the missing backreference. I think this is by design since the rule is invalid. Ideally we'd throw on rule parsing (by detecting that the rule won't execute successfully). That might be quite tricky though.

[2020-01-21 16:52] jkotalik commented on #18438
Yeah that's what I noticed as well. My guess is that somehow, the Http1Connection has already been reset.
Can you print off what the HttpRequestMessage sent from your client looks like as well? Maybe the client you have isn't sending valid HTTP?

[2020-01-21 16:52] javiercn commented on #18467
@alexsaalberg049 You can use the `@inherits` directive to make the RazorFile inherit from parent. That should solve your problem.

[2020-01-21 16:58] javiercn commented on #18416
@RobertAcksel static web assets are a compile time feature with development time runtime support.

It is expected that you know all the assets that will be part of the app at compile time, it's not meant to provide access to assets from multiple locations at runtime.

If you want to enable that, you can replace the `WebHostEnvironment.WebRootFileProvider` which is what static web assets do.

At pu

[2020-01-21 16:59] chrfin commented on #18415
@anurse  Yes, cool project - will be a commercial product and we are developing the first prototype at the moment. To top it of and show the capabilities of SignalR: We transfer around 5.000-10.000 commands per second between the two devices at a data-rate of ~30 MBit/s (using MessagePack). We investigated different technologies (like gRPC and some other) and SignalR was the easiest to use and on

[2020-01-21 17:08] anurse commented on #18415
@chrfin Great to hear (and aligns with what we've heard from other customers as well)! Let us know if you need help with any other issues!

[2020-01-21 17:23] pranavkm commented on #18480
Could you share your `Program.cs`  and `Startup.cs`? /cc @Tratcher

[2020-01-21 17:29] pranavkm commented on #18479
@gulzarahamed looks like this is already being tracked in their issue tracker: https://github.com/JakeGinnivan/WebApi.Hal/issues/155. Given that this is a binary breaking change, the library has to be recompiled to work with ASP.NET Core 3.0 and later.

[2020-01-21 17:45] RomBrz opened #18482 "NTFS Permissons needed to run .NET Core differ from versions and systems"
# Issue Title

I'm having problems with some .NET Core versions related to NTFS permissions

# General

Since .NET Framework 4.x and Windows Server 2012 (IIS 8.5), i'm using Application Pool Identity as Microsoft recomendation to have a more secure server publishing:
https://docs.microsoft.com/en-us/iis/manage/configuring-security/application-pool-identities
And this works very well, just give the

[2020-01-21 17:45] #18459 closed

[2020-01-21 17:48] mkArtakMSFT commented on #18452
Hi. It looks like this is a question about how to use .NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com).

[2020-01-21 17:48] #18452 closed

[2020-01-21 17:53] mkArtakMSFT commented on #18426
@ajaybhargavb can you please look into this? Thanks!

[2020-01-21 17:56] BrennanConroy commented on #18405
The type of error your app gets when hitting this issue is:
[code]

For simple usages you can use the [MissingMetadataException troubleshooter](https://dotnet.github.io/native/troubleshooter/type.html) to add known types to your RD.xml file. In my sample app I was just using strings for Hub method parameters so I only needed to add `JsonConverterString`.

@ahsonkhan is using .NET Native with Syste

[2020-01-21 17:56] mkArtakMSFT commented on #18425
Thanks for contacting us.
@javiercn 's provided approach would work just fine. But it's interesting to know what other (non-auth) scenarios you're thinking about, where this would be useful?

[2020-01-21 17:58] mkArtakMSFT commented on #18477
Thanks for contacting us, @ileve.
@shirhatti do you know why Azure may work this way? Is this expected?

[2020-01-21 18:00] mkArtakMSFT commented on #18475
@rynowak can you please look into this one? Thanks!

[2020-01-21 18:04] oduis commented on #18405
There is no error message at all, that is the problem. Just no message received.
There is also the slight chance that it might be a weired compiler error and just pure chance that it failed compiling that particular program correctly.

[2020-01-21 18:10] pranavkm commented on #18443
Dup of https://github.com/dotnet/aspnetcore/issues/17308. This being fixed in an upcoming patch release. In the meanwhile, the workaround would be to to add the dotnet sdk's install location (in your case `/usr/local.share/dotnet/`) to your PATH.

[2020-01-21 18:10] #18443 closed

[2020-01-21 18:15] michelnyx commented on #13601
Unfortunately the workaround for this from now is the use of a Razor view to work with the Login process...

All the rest of roles integration is supported at Blazor (.razor) pages as described in the docs.

[2020-01-21 18:18] yshahin commented on #18138
@halter73 when will this be released? I have 3.1.100 and it is still there.

[2020-01-21 18:23] Tratcher commented on #18138
@yshahin this was only fixed in the runtime 5.0 branch so far. Follow up on https://github.com/dotnet/runtime/issues/1436 about patching 3.1.

[2020-01-21 18:33] JunTaoLuo commented on #18334
The issue may affect all of the *.UI packages so we'll need to update the announcement. As for the errors, I'm surprised it's missing M.A.Razor.Runtime since it is included in the 3.1.1 runtime. I'll try reproducing the issue and report back.

[2020-01-21 18:33] msschl opened #18483 "Constructor dependency injection for blazor partial classes"
It would be nice to have constructor based dependency injection for blazor partial classes.

E.g.
[code]

[2020-01-21 18:37] pranavkm opened #18484 "blazor-wasm benchmarking apps do not build in the master branch"
They aren't built as part of the regular build. Building them separately produces this build error:

[code]

[2020-01-21 18:43] pranavkm commented on #18439
I am unable to reproduce this error on a clean machine (as also my dev box). The error from `hostpolicy.dll], HRESULT: 0x800700C1` could be a couple of things including a mismatched .dotnet bitness (32-bit powershell + 64-bit .net for instance). All of the rzc errors are simply surfacing the same error. The project incompatiblity error you see when you open Blazor in VS is genuine though, and I've

[2020-01-21 18:58] mkArtakMSFT opened #18486 "Hot Reload for ASP.NET Core"
.NET 6.0 is introducing support for Hot Reload during development.

This issue is tracking ASP.NET Core specific changes required to make the developer experience great when code changes are applied via the new Hot Reload feature in .NET 6.0. These code changes are anticipated to be those supported by the runtime's Edit and Continue feature, or new versions of an entire type, in cases where ASP.NE

[2020-01-21 19:09] blowdart commented on #17576
Ah, you answered once I went on vacation.

Umm yea, I guess that'd work. Just make sure you're not on shared subdomains like azurewebsites.net and of course you don't use the sub value to do any actual work with.

[2020-01-21 19:13] NTaylorMullen commented on #14287
Heard back from VSCode folks and if we change how we inject we can get this to work. Unblocking

[2020-01-21 19:33] loic-sharma commented on #18470
@javiercn Hi, thanks for the prompt reply! It looks like you're correct, but this seems like a regression in ASP.NET Core 3 as this issue does not seem to reproduce on ASP.NET Core 2.2. Repro steps:

1. Install .NET Core SDK v2.2.401
1. Run `dotnet new react`
1. Open the .csproj file using Visual Studio Enterprise 2019 v16.4.3
1. Start debugging by pressing F5
1. Once your browser launches, refres

[2020-01-21 19:33] EmperorZeppo commented on #18019
I don't have a lot to add here. Basically I'm seeing the same issue (.Net Framework 4 app, AppPool 32-Bit True, .Net Core 3.1 Host Bundle, Exception code: 0xc000001d). Just adding to the list of folks impacted. Looking for any updates.

[2020-01-21 19:39] jkotalik commented on #18019
@MattGal / @mmitche / @dotnet/aspdoi what steps do we need to take to move to 16.4 in aspnetcore? We are currently using 16.3, but due to a bug in the 16.3 C++ tools, we need to move to 16.4 (or figure out how to isolate using the C++ tools from 16.4, but I'd imaging moving to 16.4 may be easier).

[2020-01-21 19:39] NTaylorMullen opened #18487 "Razor LanguageServer can crash when _Imports.razor is added and then removed."
Looks like how Razor updates project state with OS agnostic file paths ends up resulting in `_Imports.razor` additions -> removals annihilating our Imports -> File mappings (throws exceptions).

[2020-01-21 19:49] surr34 opened #18488 "HTTPs and "Connection: close" - huge performance degradation on windows"
We have a Kestrel service that recently receives a lot of https requests containing a `Connection: close` header. It seems the header has a massive impact on the number of requests we can handle. Testing with a simple service locally, the RPS drops from over 30k to under 500.

For testing purpose we ran the same service on Linux and implemented it in NodeJS as well. While the C# version on Windows

[2020-01-21 19:57] iSeiryu commented on #18334
We are getting the same error after upgrading our app from 2.2 to 3.1:

We solved it locally by removing **[Authenticate]** attribute from our controllers. But Azure App Service instance (Windows, east2) is still giving this error.

[2020-01-21 20:00] MattGal commented on #18019
The BuildPool machines with VS 2019 will naturally move forward to the latest public minor release when updated;  @v-joshli  I believe updates them and may be able to comment.

[2020-01-21 20:11] stephentoub commented on #18488
Since this is focused on Kestrel, I've moved it for now to dotnet/aspnetcore.  If investigation demonstrates it's instead due to something lower in the stack, we can move it back.  Thanks.

[2020-01-21 20:24] luiarhs commented on #18230
Any with this issue on Identity Server 4?

[2020-01-21 20:24] nixa333 commented on #18417
Haven't modified it, that's how the asp.net logged it.
The thing is, users are uploading their files and it wouldn't make sense that so many of them would have zero length. The files in question are resumes, and it's in the best interest of the person uploading it to actually contain content. I'll try to acquire some of those files, but I'm inclined to thing that it doesn't really have to do anyth

[2020-01-21 20:30] Franklin89 commented on #8737
As a "work around" it is always possible to inject an `IAuthorizationService` into the PageModel and then do the authorization "manually". Of course this has other impacts, such as the time when authorization is happening in the pipeline. But it is a work around until this issue is tackled by the team.

[2020-01-21 20:45] Tratcher commented on #18417
The request body is well formatted and complete, that doesn't get modified by the server at all. It looks like there's a bug in the client code that's generating the body.

[2020-01-21 20:46] ryanbrandenburg commented on #18402
I don't think I did any Blazor WASM stuff for this release.

[2020-01-21 20:48] ryanbrandenburg commented on #17227
Cool, I'll close this then since other issues track the work related to this.

[2020-01-21 20:48] #17227 closed

[2020-01-21 21:07] BrennanConroy commented on #18405
There will be an error message on the client side (since that's where the problem is occurring).
If you're using VS to debug the app then you'll need to add the debug logger for it to show up. Otherwise you'll need a file logger or the console logger and something that captures console output from a UWP app?

Given that I reproduced the same or similar issue that seems doubtful.

[2020-01-21 21:07] ZonerZoner commented on #18230
In may case, I could solve the issue. There was a netstandard2.0 library down the road which relied on AspNetCore.App 2.0. After I migrated the library to netcoreapp3.1 (and its dependencies), the issue was gone. But still the fun fact is that the application loaded if the web.config was modified.

[2020-01-21 21:07] iSeiryu commented on #18334
I downgraded the version of **Microsoft.AspNetCore.Authentication.AzureAD.UI** from 3.1.1 to 3.1.0 and it is working now.

A similar issue is described here https://github.com/dotnet/aspnetcore/issues/18401#issue-551188057

[2020-01-21 21:08] JunTaoLuo commented on #18334
@benaadams @iSeiryu did you install the latest [3.1.1 shared framework](https://dotnet.microsoft.com/download/dotnet-core/3.1) when you updated your *.UI packages to 3.1.1?

[2020-01-21 21:09] WhitWaldo commented on #18334
@JunTaoLuo No issues among my solution when I downgraded to 3.1.0, only an issue in 3.1.1.

[2020-01-21 21:11] wtgodbe commented on #18334
@WhitWaldo does this repro if you upgrade both the AspNetCore runtime & Microsoft.AspNetCore.Authentication.AzureAD.UI to 3.1.1? Or only if you upgrade Microsoft.AspNetCore.Authentication.AzureAD.UI?

[2020-01-21 21:16] mrpmorris commented on #18326
When you say the element causing the submit, do you mean the button the user clicks to submit the form or something else?

[2020-01-21 21:17] wtgodbe commented on #18334
@Pilchie I believe we need to update this issue to state that you must update your runtime if you want to update your dependency on any of the affected packages, as otherwise there won't be an assembly available with the `3.1.1.0` version

[2020-01-21 21:19] javiercn commented on #18466
I just did this and everyone saw me do it :)

[2020-01-21 21:19] luiarhs commented on #18262
Any with this issue on Identity Server 4?

[2020-01-21 21:19] #18466 closed

[2020-01-21 21:21] WhitWaldo commented on #18334
@wtgodbe  I had upgraded all AspNetCore packages to 3.1.1 and this morning downgraded them all to 3.1.0. I haven't tried just upgrading or downgrading the one package (M.A. A.AzureAD.UI).

[2020-01-21 21:23] benaadams commented on #18334
@JunTaoLuo issue might be secondary transitive dependencies; so this is coming from a (local) library I include that has a FrameworkReference reference e.g.
[code]
And it uses the attribute `[Microsoft.AspNetCore.Mvc.ModelBinding.BindNever]`

At a guess this would be similar issue with `Microsoft.AspNetCore.Authentication.AzureAD.UI` as it would have its own reference; which would then have its re

[2020-01-21 21:24] wtgodbe commented on #18334
@WhitWaldo I believe you also need to download the 3.1.1 AspNetCore runtime, which you can do from [here](https://dotnet.microsoft.com/download/dotnet-core/3.1). The affected 3.1.1 packages  won't work with the 3.1.0 runtime.

[2020-01-21 21:31] BrennanConroy commented on #17613
Thanks, we can reproduce the issue and will look into the problem.

[2020-01-21 21:34] mkArtakMSFT commented on #18356
Thanks @SteveSandersonMS: https://github.com/dotnet/aspnetcore/pull/18478

[2020-01-21 21:34] #18356 closed

[2020-01-21 21:52] ryanbrandenburg commented on #18433
When I run this locally I only get the middle result (`bind-`), so I suspect that's related to why you don't get the hover (this also suffers from the null hover thing).

[2020-01-21 21:53] aderderian opened #18489 "Filter CA list when prompting user with Certificate Authentication"
This is in relation to this feature that seems to have been left out from .NET Core.
https://github.com/aspnet/AspNetCore.Docs/issues/15516#issuecomment-576899111
and my stackoverflow : https://stackoverflow.com/questions/58736822/net-core-windows-azure-web-app-trusted-certificate-store-for-browser-prompt-wit

We would like the ability to pass along a list of CA's so a user does not need to filter

[2020-01-21 21:54] AwanesowArtem opened #18490 "Are there plans to imlement adding user to group by name identifier(not connectionId)?"

[2020-01-21 21:58] #17443 closed

[2020-01-21 22:01] kika123123 opened #18492 "CorsBuilder.WithOrigins should throw if specified origin does not conform to [scheme][authority] format"
I'm using asp.net core 2.1 and I have register method in controller for user registration. In my client code I'm using fetch as following:

[code]
for posting my form data.
and methods in my Startup.cs look like this:

ConfigureServices:
` services.AddCors();`

Configure:
`app.UseCors( builder =>
            {
                builder.WithOrigins("http://localhost:3000/").AllowAnyOrigin()

[2020-01-21 22:25] anurse commented on #18262
@luiarhs Can you create a new issue and clarify what unexpected behavior you are seeing? This thread ended up having no relation to IdentityServer4

[2020-01-21 22:43] blowdart commented on #18489
@Tratcher Does http.sys support this? It looks from the [RFC](https://tools.ietf.org/html/rfc5246#section-7.4.4) we can use the certificate_types in the message which triggers the handshake.

[2020-01-21 22:46] blowdart commented on #18492
Please share your full ConfigureServices and Configure methods (after removing any secrets or tokens)

[2020-01-21 22:52] Tratcher commented on #18488
With or without TLS (HTTPS)?

[2020-01-21 22:56] Tratcher commented on #18482
Can you be specific about what resources are failing to load without these additional permissions? Do you have failure stack traces for these scenarios?

[2020-01-21 22:58] Tratcher commented on #18476
HTTP1 and HTTP2 can only share the same port if TLS is used (via ALPN).

[2020-01-21 23:01] surr34 commented on #18488
@Tratcher Tests were run with TLS (HTTPS)

[2020-01-21 23:14] Tratcher commented on #18488
@stephentoub @halter73 haven't we seen other reports of SslStream handshakes being extremely expensive?

[2020-01-21 23:41] nixa333 commented on #18417
Great, thanks for your time! We'll check the client to see if we can find anything.

[2020-01-21 23:41] #18417 closed

[2020-01-21 23:42] pranavkm opened #18493 "Avoid using AuthorizeFilter in project templates"
Using the auth filter with endpoint routing isn't particularly optimal and we shouldn't be recommending it to our users.

[2020-01-21 23:45] ajaybhargavb opened #18495 "Verify Blazor wasm template launchSettings.json"
Context https://github.com/dotnet/aspnetcore/issues/17443

[2020-01-21 23:45] rynowak opened #18496 "Validation: Blazor Startup experience"
There's not much to test here because the basic usage of our startup code is in the template, so it's already tested by pretty much everything.

Things to test explicitly:
- [x] Resolving a scoped service in Main and using it to initialize something
- [x] Manually adding a configuration source and getting access to `IConfiguration` in DI

[2020-01-21 23:45] rynowak commented on #18402
https://github.com/dotnet/aspnetcore/issues/18496

[2020-01-21 23:45] ajaybhargavb commented on #18402
https://github.com/dotnet/aspnetcore/issues/18495

[2020-01-21 23:50] rynowak commented on #16874
Closing as done.

@RemiBou can you file a separate issue for that discussion? I think we'd want to know more about this. We don't consider the renderer APIs to be stable right now, so we're not likely to put it in everyone's face.

[2020-01-21 23:50] #16874 closed

[2020-01-21 23:51] #18469 closed

[2020-01-21 23:58] Perustaja commented on #4816
Long time since but huge plus on this.
@bsimser I saw this code all over too. Personally I just find this incredibly confusing and cannot imagine stumbling upon this in someone else's controllers and views. It encourages developers to use TempData in a very odd way and anyone trying to use it normally down the line will have to follow the breadcrumb trail and figure out what's going on. We're left

[2020-01-22 00:14] pranavkm opened #18497 "Consider adding an IEndpointConventionBuilder.RequireAuthorization overload that accepts an AuthorizationPolicy"
Endpoint routing has a way to configure auth using `RequireAuthorization`: https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.builder.authorizationendpointconventionbuilderextensions?view=aspnetcore-3.1. The overloads allow specifying names of policies, but no way of specifying a policy itself.

Compare this to `AuthorizeFilter` which has an overload that allows specifying a policy:

[2020-01-22 00:17] pranavkm commented on #18497
/cc @blowdart \ @HaoK

Right now, doing the equivalent of the code snippet requires setting up a policy during `ConfigureServices` and looking it up by name as part of `UseEndpoints`. Having this would make the transition from filter to endpoint routing much cleaner.

[2020-01-22 01:18] shirhatti commented on #18477
What are you observing? What is the generated URL as opposed to what you expect?

There are nuanced differences in how Http.Sys/IIS (Azure App Service infrastructure) handle escaped URIs and is possibly manifesting itself here.

cc @Tratcher

[2020-01-22 01:58] sunliusi commented on #18476
It's hard to manage TLS Certificates in internal services, and it's not necessity to config TLS certificate in internal services.

An attempt to set up the  protocol did not take effect:

app.Use(async (context, next) =>
            {
                if (!string.IsNullOrWhiteSpace(context.Request.ContentType) &&
                    context.Request.ContentType.ToLower().Contains("application/grpc")

[2020-01-22 02:17] iSeiryu commented on #18334
We had a lot of problems with this issue:
- we involved MS support to help to fix the issue related to the Azure App Service;
- MS support guys told us they cannot do much about 2.2 and we have to upgrade to 3.1;
- we upgraded all of our projects in our solution from dotnet core 2.2 to 3.1;
- we made it work locally (clean repo clone and system nuget packages wipe still work fine, no issues were f

[2020-01-22 02:28] drdamour commented on #12890
Anyone run into the issues of combining this with the new fallback policy stuff?  I use the spa to serve my assets in dev and usestaticfiles in prod..but my app has a fallback policy that requires authentication since all mu controllers need auth.   There doesnt seem to be a way to configure the usespa to opt out of the fallback policy or set auth for allowanonymous like with usestaticfiles.

[2020-01-22 02:37] mxa0079 commented on #17973
We are not sure if the problem we are running into currently  is related to this issue. (Identity Server project runs without a problem iun dev mahcine but fails to start in Azure App Service instance. It was working a couple of weeks ago...) Could you provide more information about the symptoms caused by this regression?

[2020-01-22 03:02] Pilchie commented on #17973
@mxa0079 it's more likely that your issue is related to https://github.com/aspnet/announcements/issues/401.

Likely you have the 3.1.1 runtime on your local dev machines, but App Service only has 3.1.0.  Right now, if you are using a 3.1.1 package, it might fail on the unpatched 3.1.0 runtime.

[2020-01-22 03:19] ajaybhargavb commented on #18343
I'm unable to reproduce this. Looks like @NTaylorMullen's fix for https://github.com/dotnet/aspnetcore-tooling/pull/1506 may have fixed this as well.

[2020-01-22 03:20] georg-jung commented on #18334
To me it wasn't very clear that installing 3.1.1 packages from nuget requires having a 3.1.1 runtime installed, which is currently not available on azure app services and pipeline runners. The projects do compile on runners with 3.1.0 without a problem, but they can not be run afterwards. It seems like this wasn't clear to others around here too so possibly it would be an option to state this clea

[2020-01-22 04:00] hoksource commented on #18425
Thank you for looking at my request.

I would like to do something that access the current page/component context reads the querystring/url parameters. Then checks the database if the current user has access to the specific page && querystringid && url parameters. Then redirect the user to another page depending on the requirement. If the user is not logged in then the user is asked to register/lo

[2020-01-22 04:55] Tratcher commented on #18476
It takes more than setting the protocol on the server. Look up the grpc-web work that is happening, that provides http1 compat.

[2020-01-22 05:11] NTaylorMullen commented on #18343
Feel free to close out whenever you feel is right 😄

[2020-01-22 05:25] #18431 closed

[2020-01-22 05:33] #18432 closed

[2020-01-22 05:48] krispenner opened #18498 "EnumTypeModelBinder use all values for flags"
### Is your feature request related to a problem? Please describe.
I would like any query string parameter that is of type enum with flags to combine all query string parameters of its name, similar to how an array is bound from the query string.

### Example

[code]

### Currently this works
https://api.example.com/controller/action?myColor=Red,Green

### Currently this does not work and I would

[2020-01-22 05:49] #18487 closed

[2020-01-22 05:58] #14334 closed

[2020-01-22 06:32] benaadams commented on #18334
@wtgodbe yes looks like its issue installed runtime being 3.1.0 and not 3.1.1

Can this dependency issue be trapped and indicated earlier in some manner?

e.g. why is NuGet allowing me to install libraries that will be incompatible is it because its depending on `.NETCoreApp 3.1` and this is a break in minor version e.g. `.NETCoreApp 3.1.1` which isn't a runtime type?

[2020-01-22 06:39] benaadams commented on #18334
Or perhaps the frameworkreference in libraries needs to accept versions rather than being unversioned so it can be detected at compile time?
[code]
e.g. it should be
[code]
Which could then error saying it needs to be 3.1.1?
[code]

[2020-01-22 06:51] martinsubash commented on #18480
@Tratcher I have shared via email.

[2020-01-22 06:59] clement911 commented on #17576
Got it, thanks for the tip.
I'll close this issue.

[2020-01-22 06:59] #17576 closed

[2020-01-22 07:07] EngrKhizarIqbal commented on #18334
Removing **Microsoft.AspNetCore.Identity.UI** from the project solves the issue for me.

[2020-01-22 07:20] mrpmorris commented on #18483
This is a duplicate of #18088

[2020-01-22 08:04] bencyoung commented on #18386
I'll close this one. It's a fait-accompli anyway...

[2020-01-22 08:04] #18386 closed

[2020-01-22 08:29] msschl commented on #18483
Thanks for pointing this out. Closing this issue

[2020-01-22 08:29] #18483 closed

[2020-01-22 08:33] sunliusi commented on #18476
Currently  we use grpc for internal micro service. If grpc-web don't use http2, it's not a good choice for performance.

webBuilder.ConfigureKestrel((context, optins) =>
                {
                    var protocol = context.Configuration.Get<MultiProtocolOption>();

                    optins.ListenAnyIP(protocol.Http, listenOption =>
                     {
                         listenOp

[2020-01-22 08:42] davidfowl opened #18499 "UseEnvironment does not work when using generic host based webhost"
Seems like we override the configuration keys as the last entry in the host configuration when `ConfigureWebHostDefaults` is called. This might affect other host setting as well.

[code]

cc @Tratcher

[2020-01-22 08:56] RemiBou opened #18500 "[Blazor] Expose Renderer Instance"
### Is your feature request related to a problem? Please describe.
This is related to my question here https://github.com/dotnet/aspnetcore/issues/16874#issuecomment-576941180

I think it would be a good idea to expose the current Renderer instances publicly so we can change the instance and write decorator around it.

Why is that needed ?

In the past few month I needed it for 2 reasons :
- Imple

[2020-01-22 10:04] xiaoyuvax commented on #11408
I met the same situation, where:

- .Net Framework implementation works fine with ServicePointManager.ServerCertificateValidationCallback += (sender, certificate, chain, sslPolicyErrors) => true;
- .Net Core 3.0 implementaiton does not work with this CallBack anyway, though it was called upon every connection.

For my library which implements SignalR connection is in .net standard 2.0, is shared b

[2020-01-22 10:05] PooSham opened #18501 "UseAngularCliServer() leads to permission error when running Visual Studio as administrator"
### Describe the bug
When running Visual Studio 2019 as administrator (which is required for Service Fabric to work), I can't use `spa.UseAngularCliServer(npmScript: "start")` from Microsoft.AspNetCore.SpaServices.Extensions. It leads to an error when accessing the web page, which states the following:

AggregateException: One or more errors occurred. (One or more errors occurred. (The NPM script

[2020-01-22 10:07] kika123123 commented on #18492
ConfigureServices:
[code]
Configure:
[code]

[2020-01-22 10:19] benaadams commented on #18334
However, with 3.1.1 installed after upgrading packages `.AddRazorRuntimeCompilation()` now breaks (useful for dev inner loop); when you change a page:

[code]

[2020-01-22 10:28] PooSham commented on #18501
I assume Visual Studio gets the administrator's environment variables, whose `$env:AppData` is `C:\WINDOWS\system32\config\systemprofile\AppData\Roaming\`, but the node process is only run as a normal user, so it doesn't have the permission to create the directory.

[2020-01-22 11:26] franks1 opened #18502 "Slow Page Loading When using Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation in development On IIS"
Hello Team,
Please i have been encountering an issue with the usage of Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation package in development on IIS from visual studio.
**After editing a ui element on the view it takes quiet a considerable amount of time for the changes to be seen on the page after page refresh.**
This behaviour is however not the same when running the app in debug mode using II

[2020-01-22 11:33] rpedretti commented on #5531
I have create a sample that reads a embedded json file.
https://github.com/rpedretti/RPedretti.Grpc/blob/master/RPedretti.Grpc.BlazorWasm.Client/Configuration/ConfigurationExtensions.cs

So on statup you can just add the files and get the configurationBuilder instance to reuse later
[code]

[2020-01-22 11:52] drauch opened #18503 "ReferenceReadStream is not compatible with CryptoStream"
### Describe the bug
Very similar to https://github.com/aspnet/KestrelHttpServer/issues/2341 (PR https://github.com/aspnet/KestrelHttpServer/pull/2342) the `ReferenceReadStream` does throw a `NotSupportedException` in its `Flush` method when it should not.

### To Reproduce
[code]
This should not trigger a `NotSupportedException`.

### Further technical details
- ASP.NET Core version 2.1.x on .NET

[2020-01-22 12:32] oduis commented on #18405
You're right, can confirm it works when adding the whole namespace to Default.rd.xml:
<Namespace Name="System.Text.Json.Serialization.Converters" Serialize="Required Public" />

[2020-01-22 12:40] javiercn commented on #18490
@AwanesowArtem thanks for contacting us.

Can you clarify what you mean?

[2020-01-22 12:54] gcogco10 opened #18504 "System.Data.SqlClient.SqlException:Login failed for user"
Hi Team

I have been experience the issue and cant seem to get help, i am developing MVC web application and using local database sql and my authentication mode is windows only. On my VS under AppStart folder there is a class called "AuthConfig.cs" and has this code below;
[code]
use eNtsaRegistrationDB
go
create user[UserReg] for login[UserReg]
go
grant all on database::[eNtsaRegistrationDB] to [

[2020-01-22 13:03] AwanesowArtem commented on #18490
@javiercn there is method "Groups.AddToGroupAsync", the first parameter of this method is connectionId.
I would be happy if there is method overload which will accept userId instead of connectionId.

Thanks in advance.

[2020-01-22 13:04] aderderian commented on #18489
Thanks for taking a look at this @blowdart . The issue we're having is that windows/iis used to support this and now when a user goes to authenticate with a certificate, they are presented with a long list of certs versus a trimmed down list or single cert we accept. It must be still supported by browsers because the legacy systems still work. Is the ability to do this a browser standard or http s

[2020-01-22 13:09] gulzarahamed commented on #18479
From your comment, what I understood is, that my migrated web api project from .net core 2.2 to .net core 3.1 is not supported  WebApi.Hal.JsonConverters.EmbeddedResourceConverter type by using package "<PackageReference Include="WebApi.Hal" Version="3.0.0" />".

[2020-01-22 13:13] SteveSandersonMS commented on #18460
I'm afraid there isn't a mechanism for passing through arbitrary directive attributes such as `@*:preventDefault` as component parameters, so this isn't expected to work on `NavLink`.

However, you could inherit your own subclass from `NavLink` that adds the "prevent default" behavior. For example, create `NavLinkPreventDefault.razor`, containing this:

[code]

Now you can use `<NavLinkPreventDefa

[2020-01-22 13:16] blowdart commented on #18489
Well this wouldn't work in azure webapps anyway, as the certificate is terminated one hop before you get to your app, on the application routing layer which you can't configue

[2020-01-22 13:36] aderderian commented on #18489
Would it work if we stood up a VM instead?

[2020-01-22 13:58] arun1998 opened #18505 "HTTP Error 500.30 - ANCM In-Process Start Failure after adding httpsredirect"
After adding
services.AddMvc(options =>
               {
                    options.Filters.Add(new RequireHttpsAttribute());
                })
in the ConfigureServices method and
 var options = new RewriteOptions().AddRedirectToHttps(StatusCodes.Status301MovedPermanently);
                app.UseRewriter(options);
in the configure method I am receiving the HTTP Error 500.30 - ANCM In-Process St

[2020-01-22 13:59] AwanesowArtem commented on #18490
@javiercn did I describe clearly?

[2020-01-22 14:13] thw0rted commented on #11542
I'm not really a SignalR user, just inherited a project that uses it, but can I make a suggestion?  If you're going to support cancellation of an in-flight request, instead of rolling your own "token", just take an [AbortSignal](https://developer.mozilla.org/en-US/docs/Web/API/AbortSignal).  This is what the Fetch API already uses, so if you're using Fetch under the hood, it's as simple as passing

[2020-01-22 14:14] blowdart commented on #18489
If we can get it to work with http.sys, or openssl then yes.

[2020-01-22 14:16] aderderian commented on #18489
Oh, so it would be possible in WAWS, it is just not there now. Thanks for clarifying. Ideally we wouldn't want to have to drop that as our hosting infrastructure and move to a VM. :)

[2020-01-22 14:17] martinsubash commented on #18480
Below are the code:

[code]

[code]

[2020-01-22 14:20] blowdart commented on #18489
it *might* be possible. I honestly can't speak for webapps. Support ticket is the best route to go.

[2020-01-22 14:26] aderderian commented on #18489
OK thanks! Can you advise what I might include in the support ticket? Would it be a support ticket from the Portal UI or somewhere else? I want to provide them exactly what is needed and I am not clear on that at the moment.

[2020-01-22 14:37] egrabitt opened #18506 "DateTime model binding does not work when form is submitted using method=get"
When an input with type="text" is bound to a DateTime property, it behaves differently depending on the form submit method (get or post).

How to reproduce: create a Razor Pages application with VS Community 16.4.3 (Targetframework: netcoreapp3.1).
Then modify the Index files as follows.

Index.cs:

[code]

Index.cshtml.cs:

[code]

So you just add a DateTime property and bind it to a form element

[2020-01-22 14:45] olivierebaachi opened #18507 "Aggregated IIS events AspNetCoreModuleV2 very high Self Time"
Hi,
We have a high self time in the first API call then after 1 or 2 hours.
Is it Possible to have this only on the first start of the Application?

This is the code level of my call:

                                                 Elapsed Self time Duration
Web requestIIS                           0 ms 8 µs 20.6 s
aggregated IIS events
General                                       +6 µs 59.6 ms

[2020-01-22 14:49] robertsundstrom opened #18625 "Enhancements to JSInterop for when consuming from TypeScript"
As a developer, I would like to consume JSInterop from TypeScript.

* **Export the DotNetObject class** so that it can be used when writing interop code.
* Generate a declaration file and publish it with the package.

[2020-01-22 14:55] javiercn commented on #18490
@AwanesowArtem thanks.

I couldn't tell which part of the product you were talking about. I'm assuming this is signalr

[2020-01-22 15:24] serenata-keith-mifsud commented on #17983
Hi, will this be addressed in 3.1? or will we have to wait for 5.0 for endpoints to be usable?

[2020-01-22 15:30] blowdart commented on #18489
I honestly don't know, let me ask around.

[2020-01-22 15:38] javiercn commented on #18504
@gcogco10 thanks for contacting us.

It looks like this is a question that has nothing to do with ASP.NET Core. To get a faster response we suggest posting your questions to StackOverflow.

[2020-01-22 15:38] #18504 closed

[2020-01-22 15:46] sven5 opened #18508 "Azure App Service: CurrentCulture changed after establishing SignalR connection in Blazor server-side"
### Describe the bug
We like to have german default culture ("de") setting in our Blazor app deployed to Azure.
After login with Azure AD B2C the applcation's CurrentCulture is set to en-us.
Currently, this issue does not occur in local dev environment but only when deployed to Azure.

Edit:
I've found out that we can use custom policies to change/add claims. There are claims setting culture speci

[2020-01-22 15:56] Tratcher commented on #18480
It’s interesting ILoggerFactory works in Startup but not in MVC. Maybe there’s something wrong with how your container (Unity?) manages per-request scopes? ILoggerFactory isn’t scoped, but it would be resolved within the context of one. Does it work with the built in container?

What is SiShellMicroServiceHost?

[2020-01-22 15:57] javiercn commented on #18425
@hoksource you could do something like this.

[code]

[2020-01-22 16:06] BrennanConroy commented on #18405
That's because it is a handled exception and we log it.

[2020-01-22 16:11] Tratcher commented on #18476
Try it before you make that judgement.

That requires TLS.

[2020-01-22 16:18] Meai opened #18509 "Cant build, no service permission"
Also I get this when trying to build directly with jetbrains:

[2020-01-22 16:47] Pilchie commented on #18509
@dotnet/aspnet-build - looks like we accidentally have an internal only feed in the public repo still?

[2020-01-22 16:50] Pilchie commented on #18334
This is because we made a mistake in building some of these binaries, so they accidentally have a dependency on binaries in 3.1.1.  We've addressed that for the upcoming 3.1.2.  Instead of inventing features for NuGet or FrameworkReferences, let's just fix the bug so that things work as intended :wink:

😢.  Thanks for letting us know.  I'll work on updating the announcement today with some more sc

[2020-01-22 16:51] bansalankit2601 opened #18510 "Blazor Serverside Global Error Handling #blazor"
Is there any Blazor Global Error handling feature ?

If the Connection Circuit is broken / Some error in console is thrown which makes the connection break and no furthur navigation is possible.

[2020-01-22 17:22] pranavkm commented on #18506
@egrabitt see https://docs.microsoft.com/en-us/aspnet/core/mvc/models/model-binding?view=aspnetcore-2.1#globalization-behavior-of-model-binding-route-data-and-query-strings-1. Using `method="GET"` results in data being [sent over the query string](https://developer.mozilla.org/en-US/docs/Learn/Forms/Sending_and_retrieving_form_data#The_GET_method) which would explain why you see culture invariant

[2020-01-22 17:23] anurse commented on #18394
Whoops. Bad bot :).

[2020-01-22 17:25] Tratcher commented on #18489
https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-R2-and-2012/hh831771(v=ws.11)#management-of-trusted-issuers-for-client-authentication

[2020-01-22 17:26] anurse commented on #11542
That's for JavaScript though. This issue is discussing the .NET Client, where [CancellationToken](https://docs.microsoft.com/en-us/dotnet/api/system.threading.cancellationtoken?view=netframework-4.8) is the equivalent primitive.

[2020-01-22 17:26] boukenka commented on #18299
Thank you @mkArtakMSFT for the comment. And sorry for the delay.

After some research and the implementation of a DI service to provide an output via the console
(this is easier for the debugging), I was able to find out what was causing the problem in this unlikely scenario.

When the project is restarted, the ```GetAuthenticationStateAsync``` method is called in the ```AuthenticationState``` obj

[2020-01-22 17:26] #18299 closed

[2020-01-22 17:28] boukenka commented on #18229
Is it possible to get a feedback ? 😄

[2020-01-22 17:28] anurse commented on #11408
@xiaoyuvax Please file a new issue and include sample code to show how you are configuring the validation callback. This is an old thread and not currently monitored by our triage process.

[2020-01-22 17:28] #11408 closed

[2020-01-22 17:29] pranavkm commented on #18502
Could you share the application's debug logs? The first use of runtime compilation is typically slow - this is a result of loading the JITting the compiler. You could consider mitigating this by attempting to warm up the compiler. https://github.com/aspnet/Mvc/issues/5746 has some sample code that could help.

[2020-01-22 17:33] pranavkm commented on #18492
See https://docs.microsoft.com/en-us/aspnet/core/security/cors?view=aspnetcore-3.1#cors-with-named-policy-and-middleware

[2020-01-22 17:36] #18370 closed

[2020-01-22 17:37] mkArtakMSFT commented on #18500
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-01-22 17:44] drdamour commented on #18334
Just switching azure app service to x64 did not resolve the problem for me FYI

[2020-01-22 17:44] mkArtakMSFT commented on #18492
Thanks for bringing this up, @kika123123.
While this is the documented behavior, we understand how this can be somewhat confusing and we'll look into ways to improve this experience in the future.

[2020-01-22 17:46] mkArtakMSFT commented on #18479
We're closing this issue per @pranavkm 's response. This is a known issue related to the external library and we recommend following up with them.

[2020-01-22 17:46] #18479 closed

[2020-01-22 17:48] mkArtakMSFT commented on #18470
@loic-sharma there's been many internal changes in the framework and first-chance exceptions is not something breaking the experience. These are just traces you can safely ignore.

[2020-01-22 17:48] #18470 closed

[2020-01-22 17:50] mkArtakMSFT commented on #18468
Thanks for contacting us. While this the effect will be equivalent, we will not chance the templates. The goal is to make it explicit to the customers how these are configured.

[2020-01-22 17:50] #18468 closed

[2020-01-22 17:51] mkArtakMSFT commented on #18464
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-01-22 17:52] mkArtakMSFT commented on #18462
Thanks for contacting us, @VBAndCs. This is not something we plan to do per @javiercn 's response.

[2020-01-22 17:52] #18462 closed

[2020-01-22 17:55] mkArtakMSFT commented on #18422
This is not something we plan to change in the near future.

[2020-01-22 17:55] #18422 closed

[2020-01-22 18:01] wtgodbe commented on #18334
This normally wouldn't be the case, but the bug described by this issue has caused certain 3.1.1 packages to be incompatible with the 3.1.0 runtime, and vice versa. We have a fix for the issue that will ship with 3.1.2 in February

[2020-01-22 18:06] dougbu commented on #18509
Something strange is going on. Our NuGet.config does not contain any darc-int-* feeds.

@Meai please make sure you're using the latest 'release/3.1' commits from GitHub, clean your repo, and try again. I suggest trying `.\restore.sh` in the root directory before using one of the lower-level `build.sh` scripts. Please let us know if that changes anything (or not).

[2020-01-22 18:07] mkArtakMSFT commented on #18510
Thanks for contacting us, @bansalankit2601.
The Blazor WASM project template has a section to customize a UI for showing up errors when they happen.
As for having a place in the code to handle and swallow all the errors which can potentially happen within the app, this is something we intentionally do not want to do.
To see how you can customize the error UI, please read: https://docs.microsoft.co

[2020-01-22 18:09] mikes-gh commented on #18493
Close this if you think this issue is the same.
https://github.com/dotnet/aspnetcore/issues/18412

[2020-01-22 18:11] serpent5 commented on #18468
Sure, I think that's what I expected.

I have to ask, though: Why even have `MapDefaultControllerRoute`, if that's the case?

[2020-01-22 18:14] wtgodbe commented on #18509
@Meai are you building the `v3.1.1` tag? That _does_ have internal feeds in its nuget.config (in fact, that is the case for v3.1.1 tags in most of our repos - I'm chatting offline with @mmitche about this)

[2020-01-22 18:14] kuns200 commented on #6381
I am planning to take Microsoft.AspNetCore.Server.HttpSys

[2020-01-22 18:40] Tratcher commented on #18477
%2F handling is notoriously inconsistent. Avoid using it whenever possible.

Http.Sys un-escapes it to prevent spoofing. ASP.NET's HttpSysServer and IIS in-proc server go out of their way to get the original url format back and avoid un-escaping %2F.  In Azure you're going through several proxies that are likely to break this and there's not much you can do about it there.

@rynowak as a workaroun

[2020-01-22 18:52] BrennanConroy commented on #18355
All 3 PRs updated to no longer set the patch version to `0`

[2020-01-22 18:52] #18355 closed

[2020-01-22 18:55] vsfeedback opened #18512 "Generate Package On Build Doesn't Work For Blazor App"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/890807/generate-package-on-build-doesnt-work-for-blazor-a.html)._

---
I have created Nuget packages for Dot Net Core  and Dot Net Standard libraries this way, but Generate Package on Build doesn't generate a package for a Blazor App.

Is there a reason for this?

And in a

[2020-01-22 18:57] egrabitt commented on #18506
@pranavkm thank you for your quick reply.

makes sense. However in my use case, I don't need or want this behavior.
And working around it is not exactly simple. So I'll just bind to a string instead of a DateTime and use DateTime.Parse (which does respect the current culture). Working with dates has never been easy... Thanks again!

[2020-01-22 18:57] #18506 closed

[2020-01-22 18:57] dougbu commented on #18435
I checked everything in the 3.1.1 shared framework and all looks well here in Redmond e.g.
[code]

I'll check 2.1 later today.

[2020-01-22 19:12] vsfeedback opened #18514 "Unexpected 'asp-for' expression result type"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/869137/unexpected-asp-for-expression-result-type.html)._

---
Hello.
Please see picture. I write code that way to be no exceptions but Razor compiler or somethink else make an exception
[https://c2n.me/45jMuPD.png](https://c2n.me/45jMuPD.png)

---
### Original Comments

###

[2020-01-22 19:15] vsfeedback opened #18515 "VS 2019 latest update , angular and .net core mixed project not loading"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/765192/vs-studio-2019-latest-update-angular-and-net-core.html)._

---
vs studio 2019 latest update , angular and .net core mixed project not loading

https://github.com/emonney/QuickApp

this project wont load in 2019, it was working earlier,   and it is also working in 201

[2020-01-22 19:20] franks1 commented on #18502
Hi Pranav,
Thank you for the reply. I will share the log soon

On Wed, Jan 22, 2020 at 5:29 PM Pranav K <notifications@github.com> wrote:

[2020-01-22 19:32] Indrajith-Sync opened #18517 "Using the SVG elements in a page and translating the page using google translator"
I am using the SVG element in a page and when transulating the page to german language i am facing the following script error in console.

![image](https://user-images.githubusercontent.com/29561170/72927318-f9d55180-3d7b-11ea-9275-764740d1da91.png)

have anyone got a solution for this?