[2019-06-03 20:24] mkArtakMSFT opened #10798 "Directive Attributes validation"

[2019-06-03 20:25] mkArtakMSFT opened #10799 "Validate Client code generation"

[2019-06-03 20:26] mkArtakMSFT opened #10800 "Verify _Imports.razor support for components"

[2019-06-03 20:27] mkArtakMSFT opened #10801 "Verify usings support for tag helpers"
Components (implemented using tag helpers) are no longer imported using `@addTagHelper` but instead use `@using` statements.

[2019-06-03 20:28] HaoK commented on #10760
Yeah the problem is the exceptions in the options validation are hidden a bit, I will fix that in preview 7

[2019-06-03 20:29] mkArtakMSFT opened #10802 "Runtime compilation & file watching"
We introduced a package in 3.0-preview4, but this was marred by requiring a flag to make it work in the project - https://github.com/aspnet/AspNetCore/issues/7966. In preview4, runtime compilation should just work for F# projects created from the template, and referencing the package should result in compilation of views and Pages.

This wasn't super well verified in preview4. There's also some ch

[2019-06-03 20:29] HaoK commented on #10760
See https://github.com/aspnet/Extensions/issues/979

[2019-06-03 20:31] mkArtakMSFT opened #10803 "Verify markup in local functions and @functions codeblocks"
We added the ability to provide markup in local functions i.e.
[code]
and in `@functions` blocks:
[code]

This feature set should be functionally validated for Razor views. To make this set of features work in Components is a little more time consuming and not fully designed. i.e. you need to pass in extra parameters into your methods in order to utilize markup in the `@functions` block. Despite i

[2019-06-03 20:43] Airn5475 commented on #5144
@anurse Thanks, I attempted to put together a complete running sample...and it worked fine.  I tore apart my project and isolated the issue to Middleware and not doing my injection correctly.

I was passing in a dependency that depended on my aforementioned `IAppIdentity` into the **constructor**, when I _should_ have been passing it to the `Invoke` method.

Posting this to perhaps help someone el

[2019-06-03 20:46] Tratcher commented on #7974
Blocked by SDK issue: https://github.com/aspnet/AspNetCore-Internal/issues/2009#issuecomment-497166047

[2019-06-03 20:48] halter73 commented on #10702
If we reach our stretch goal and get multi-queue support, that should be possible.

[2019-06-03 20:54] isaac2004 commented on #10347
Should we remove the CDN tests as well in Templates.Test?

https://github.com/aspnet/AspNetCore/blob/master/src/ProjectTemplates/test/CdnScriptTagTests.cs

[2019-06-03 20:54] #10547 closed

[2019-06-03 20:55] natemcmaster commented on #7073
Source link is still broken for binaries which are using the gitsubmodule to MessagePack:
[code]

[2019-06-03 20:55] elgunhuseynli commented on #10731
Finally I find the solution in [this](https://joonasw.net/view/creating-auth-scheme-in-aspnet-core-2) blog. It is sad to see writing custom authentication scheme is not documented in docs.

Here is the example of custom authentication scheme read bearer token from request header.
[code]

I am closing issue because problem solved. But we need to add this to docs.
And here is the releated issue in d

[2019-06-03 20:55] #10731 closed

[2019-06-03 20:59] ConstantDisaster commented on #1528
@ststeiger thanks for adding, so how do i start using this again? in an asp net core project? thought it had a readme or something, thanks again.

[2019-06-03 21:03] Tratcher commented on #10731
Side note: Session should never be used for Auth data.

[2019-06-03 21:06] BillHiebert commented on #10789
@dougbu - you can certainly do that. I created a separate tools target which imports the xaml, and that line imports the tools target. This keeps tooling related functionality in a separate file but certainly not necessary or required.

[2019-06-03 21:08] blowdart commented on #10731
Note that we don't use JWT for sessions, because, as Chris says we don't store authentication or authorization data in any type of session in asp.net. In fact it's deliberately decoupled from session, both for security and to allow for ease of scaling.

[2019-06-03 21:15] davidfowl commented on #5144
Either should work

[2019-06-03 21:16] ryanbrandenburg opened #10809 "Validate blazorserverside works on Mac"
# Summary
Verifies https://github.com/aspnet/AspNetCore/issues/9441.

There was a bug in the `blazorserverside` template which prevented it from successfully building out of the box on Mac. This issue tracks verifying that the following scenario works on an OSX machine.

## Steps
1. Install the latests sdk.
1. run `dotnet new blazorserverside`
a. If there was a failure to restore add the appropria

[2019-06-03 21:19] #10809 closed

[2019-06-03 21:32] mkArtakMSFT commented on #10789
@dougbu please prepare the fix, and we'll try to take this through QB approval process.

[2019-06-03 21:32] mrpmorris commented on #10647
@SteveSandersonMS The StateHasChanged part was marked optional, the majority of the ticket was about implementing a `Disposed` event on BaseComponent.

This wouldn't break encapsulation, and would help 3rd party frameworks such as mine avoid leaking memory. I have altered the ticket accordingly.

Could this ticket be re-opened for consideration please? @mkArtakMSFT

[2019-06-03 21:37] pranavkm opened #10810 "[Discussion]: Breaking changes to Microsoft.JSInterop"
In 3.0-preview6, we're migrating Microsoft.JSInterop to use the System.Text.Json based serializer. As part of this transition, there are several breaking changes to the JSInterop library:

* The helper type `Microsoft.JSInterop.Json` is being removed. Users may use a JSON serializer of their choice. We recommend using the `System.Text.Json`-based serializer since Blazor already references it. Here

[2019-06-03 21:42] seancpeters opened #10811 "Razor Processing loses @@inject immediately after code block"
### Describe the bug
When processing razor content, if I include an `@@inject` immediately after a razor code block, the `@@inject` is missing from the generated code.

### To Reproduce
Steps to reproduce the behavior:

I am using the following code to process .cshtml documents, from:
https://github.com/aspnet/Scaffolding/blob/master/src/VS.Web.CG.Templating/RazorTemplating.cs

[code]

Relevant pa

[2019-06-03 21:44] ajaybhargavb commented on #10710
- [ ] Bring back the `on...` grouping for `@on...` directive attributes,

Before:
![ongroupingbefore](https://user-images.githubusercontent.com/1579269/58836602-0d298600-860e-11e9-9fd0-c41595c555ae.gif)

After:
![ongroupingafter](https://user-images.githubusercontent.com/1579269/58836440-b3c15700-860d-11e9-954e-033a0a68f311.gif)

[2019-06-03 21:51] ryanbrandenburg opened #10812 "Validate Templating"
# Summary
Validate #9518. #9518 removed Newtonsoft.Json from our templates.

## Steps
Create the following templates with any Auth setting other than Oranizational, then Ctrl-F the project for "Newtonsoft"
- blazorserverside
- razorpages
- mvc
- mvc -lang F#
- webapi
- webapi -lang F#

[2019-06-03 21:57] SteveSandersonMS commented on #10647
Thanks for explaining. I’ve reopened.

In the short term a base class is still the most comprehensive way to support this, but I appreciate your goal of not forcing that. There are multiple ways we could enable this for frameworks, so the chosen design will depend on what other scenarios emerge after 3.0 ships.

[2019-06-03 22:11] anurse commented on #10788
As you noted, the `com.microsoft.signalr` client is not compatible with ASP.NET SignalR. The ASP.NET SignalR Java client is located here: https://github.com/SignalR/java-client and is no longer updated. You're welcome to take the code and do what you want with it, the license in permissive (Apache 2.0), but we have no plans to update it at this time.

[2019-06-03 22:18] NTaylorMullen commented on #10710
@ToddGrun what controls the grouping behavior?

[2019-06-03 22:24] Tratcher commented on #2864
Verified in SDK 3.0.100-preview6-012234

[2019-06-03 22:24] ToddGrun commented on #10710
Some hard coded behavior explicitly controls that. We actually check to see if the attributes start with on, or have a dash separating content to group them. I suppose I should extend that behavior to allow the '@'.

[2019-06-03 22:27] #10812 closed

[2019-06-03 22:30] Tratcher commented on #9349
Verified the new callback in SDK 3.0.100-preview6-012234.

[2019-06-03 22:35] seancpeters commented on #10811
Updates:
- My original post of the generated code had some additional, spurious content at the end. Fixed.
- Similar incorrect behavior appears to happen for anything starting with `@` just after a code block.

[2019-06-03 22:43] Tratcher commented on #4135
Verified with 3.0.100-preview6-012234. Note we don't have the new container images so you need to add ASPNETCORE_FORWARDEDHEADERS_ENABLED=true as an app setting.

@bradygaster, how's the blog post?

[2019-06-03 23:01] vertonghenb commented on #8825
Aren't we following the "Composition over inheritance strategy" when using components?

[2019-06-03 23:13] InJoins commented on #10601
thanks. very clear. you saved my life :-)

I tried this.
confirmed.
now https with "Connection: close" header has a 800 rps same to websocket with SSL.

One more question:
The rps with TLS handshake is 10 to 20 times slower. Is that normal? Is there room for improvement and optimization? If there is no or the priority is not high, then I will close this ISSUE.
@halter73

BTW, My current solution i

[2019-06-03 23:15] Tratcher commented on #9658
Verified with SDK 3.0.100-preview6-012234

[2019-06-03 23:17] ajaybhargavb commented on #10798
Checklist:

- [ ] Verify `@bind`, `@bind-*`, `@bind:...` and `@bind-*:...`
- [ ] Verify `@onclick` and friends
- [ ] Verify `@key`
- [ ] Verify `@ref`
- [ ] Mix it up with generic, child content, fully qualified components etc
- [ ] Verify diagnostics for old `bind-value-onchange` syntax
- [ ] Repeat the above steps for,
  - [ ] Runtime
  - [ ] VS
  - [ ] VS Code

[2019-06-03 23:19] ajaybhargavb commented on #10785
@NTaylorMullen can we close this and have #10798 co-assigned to us? I created a [checklist](https://github.com/aspnet/AspNetCore/issues/10798#issuecomment-498460348) there we can both share.

[2019-06-03 23:21] NTaylorMullen commented on #10785
Ah, I see. Ok ya we can do that.

[2019-06-03 23:21] #10785 closed

[2019-06-03 23:27] Kahbazi commented on #10702
Do you also have plans to add throttling based on time like https://github.com/stefanprodan/AspNetCoreRateLimit? for example a user can call a api 10 times per second. and as @rynowak mentioned it would be a good feature to wire up these middlewares to endpoint metadata

[2019-06-03 23:33] dougbu commented on #10050
78b38a7ba04c576acb1607f72d407fdd12f7b72c

[2019-06-03 23:33] #10050 closed

[2019-06-03 23:36] Kahbazi commented on #10746
The reason is that this url is generated by browser and since input name is `Date`, it generates the url as it is but `LowercaseUrls` and `LowercaseQueryStrings` are used for generating links on the server.

[2019-06-03 23:43] mkArtakMSFT commented on #10811
Thanks for contacting us, @seancpeters.
I believe this is a known issue which is being worked on already. @NTaylorMullen can you please confirm this and if so, dupe this with the tracking issue.

[2019-06-03 23:43] anurse commented on #10702
Our plans are limited to what you see above :). Simple front-door queueing is what we're starting with, we do have some ideas around integrating throttling moving forward but that may also end up as a separate middleware.

[2019-06-03 23:47] pranavkm opened #10818 "Verify changes to MVC's controller discovery mechanism"
In 3.0-preview6, we changed the discovery mechanism for MVC to use attributes generated by the RazorSDK rather than runtime discovery using the deps file. We need to verify scenarios such as P2P references, references to packages etc continue to work correctly with this change.

[2019-06-03 23:50] sebastienros commented on #10200
The current recommendation is you figure out how much memory is necessary based on your actual scenario. I can't reproduce any memory leak, even after running the application on https for a complete week. A proof of a memory leak would be to show a memory profile listing which instances are leaking overtime.

[2019-06-03 23:55] ryanbrandenburg commented on #10573
As best I can tell this is a problem in either `HtmlEncoder` or `StringWriter`. I filed #38184 for them to look at and will leave this issue open to track it.

[2019-06-04 00:48] shirhatti opened #10820 "Proto item template should have csharp_namespace set"
Item template for proto files doesn't set the csharp_namespace option

[2019-06-04 01:40] anoooin commented on #9630
@danroth27  - I have raised an issue https://developercommunity.visualstudio.com/content/problem/593469/visual-studio-2019-analyze-code-coverage-code-cove.html

Thank you!

[2019-06-04 01:42] smitpatel commented on #10668
Underlying EF Core issues are fixed.

[2019-06-04 01:45] #10760 closed

[2019-06-04 01:52] dougbu commented on #4912
@aspnet-hello triage https://dev.azure.com/dnceng/public/_build/results?buildId=209867

[2019-06-04 01:58] kakins commented on #10200
@sebastienros actually your article on .NET Core garbage collection helped a lot.  I believe for me it was a combination of properly disposing EF DbContext and understanding GC when it comes to short-lived objects

[2019-06-04 01:59] dougbu commented on #8242
part 2 (of 2): b3ddd65a15456d9fdf4642d5f7174418f4e8b9c5

[2019-06-04 01:59] #8242 closed

[2019-06-04 02:02] dougbu commented on #4912
Removed this task entirely when creating the Microsoft.Extensions.ApiDescription.Server package (b3ddd65a15456d9fdf4642d5f7174418f4e8b9c5) and rewriting the GetDocumentInsider tool (4c8ca0b08067f0b821d728b1d3f22559f34fdfe7). Cleanup is done.

[2019-06-04 02:02] #4912 closed

[2019-06-04 02:32] WeihanLi commented on #10758
I'd tried to use a `HttpClient` to send a request with 3 second cancellation, while the server wait for 5 seconds then judge the `HttpContext.RequestAborted.IsCancellationRequested`, seemed to be `false` always

request client:
[code]
web server:
[code]

[2019-06-04 02:42] mkArtakMSFT commented on #6742
Thanks for contacting us, @Thavinc.
This is a known issue and we track it at https://github.com/aspnet/AspNetCore/issues/4802.

[2019-06-04 02:42] #6742 closed

[2019-06-04 02:46] YPTopMan commented on #10767
![image](https://user-images.githubusercontent.com/11879898/58847428-89c36f80-86b5-11e9-895f-e7c8d45043fe.png)

I don't know if I am clear. I want to say that this kind of repeated judgment is null and throws an exception. If it is modified into one line, it can reduce the number of lines of code. Does it affect the size of the source package?

--Google Translate's Notes

[2019-06-04 02:48] YPTopMan commented on #10767
Should I ask for a requirement in the C# language?

[2019-06-04 03:30] collinsauve commented on #2757
Came across this as we were auditing our CSRF implementation and found that the antiforgery token is not regenerated on logout/login.

They wouldn't be "broken" they would just have a suboptimal security configuration.  Many teams would not know to look for this and wouldn't report it.

(re: SPA we use antiforgery on our authorization server but not in our SPA clients)

[2019-06-04 04:49] HaoK commented on #10620
Correct, these notifications are coming from the file system abstractions directly, there's nothing we can really do at the config layer for this https://github.com/aspnet/Extensions/blob/master/src/FileProviders/Abstractions/src/IFileProvider.cs#L32

[2019-06-04 04:51] HaoK commented on #10620
We already added some throttling in the reload logic to prevent spamming reloads, but it doesn't look that that helps a ton:

https://github.com/aspnet/Extensions/blob/master/src/Configuration/Config.FileExtensions/src/FileConfigurationProvider.cs#L37

[2019-06-04 05:03] AbhiAgarwal192 commented on #10573
@ryanbrandenburg I have found the actual issue. Will fix it.

[2019-06-04 05:11] ichensky commented on #10686
To fix this issue, needed,
when blazor navigated to the page: `/fetchdata` clean all possible params
for ex. in the `SetParametersAsync` , then multiple routing become work fine.

[code]
This functionality should be done inside of the blazor or needed to document, that for multiple routing it is needed manualy to clean params.

[2019-06-04 05:21] smaglio81 opened #10826 "AspNetCoreModule_x64 install failure: InstallValidate. Return value 3."
### Describe the bug
Installation of dotnet-hosting-2.2.0-win.exe's AspNetCoreModule_x64 install fails with error message: InstallValidate. Return value 3.

### To Reproduce
I'm not 100% sure, I haven't been able to narrow down the condition. The installer woks on most of our servers, but on two servers it doesn't.

Servers:
Windows 2012 R2 Standard Version 6.3 (Build 9600)
IIS Version 8.5.9600.16

[2019-06-04 05:25] javiercn opened #10827 "[Static web assets] Validation for preview6"
There are four areas to validate
* Creating a package with static web assets.
  * Create a razor class library.
  * Add a wwwroot folder to it.
  * Add a javascript file under the wwwroot folder and have it do something simple like `console.log`
  * Run dotnet pack.
  * Open the generated package.
  * Validate that there are 4 folders:
    * build containing two props files
    * buildMultitargeti

[2019-06-04 05:27] ajaybhargavb opened #10828 "Namespace, attribute and code directive validation"
- [x] `@namespace` directive
- [x] `@attribute` directive
- [x] `@code` directive

[2019-06-04 05:31] #10768 closed

[2019-06-04 07:01] sven5 commented on #9436
@isc30  Thanks for clarification. I had some errors without setting `autostart` to false.

[2019-06-04 07:33] steveglen commented on #3269
I'm hitting this problem regularly, self-hosting on IIS and using kudu to deploy (git push).  My "workaround" is to log onto the IIS server, find the relevant Application Pool and recycle it just before trying to deploy again.  Most of the time this works.

This is only a problem with .net core (2.2) - it doesn't happen at all with full framework applications on the same server.

The failure is al

[2019-06-04 07:51] strainovic commented on #10645
Thanks @Tratcher!

[2019-06-04 07:51] #10645 closed

[2019-06-04 07:53] sven5 commented on #9436
There seems to be an issue now with the baseURI for non-IE browsers. My workaround for this is to use the following script in `_Layout.cshtml`

[code]

[2019-06-04 08:11] GodsWithin commented on #10746
Then why does `LowercaseUrls` actually have the effect that it changes the name of my page to lowercase?
Example:
`LowercaseUrls = true` -> `https://localhost:5001/videos`
`LowercaseUrls = false` -> `https://localhost:5001/Videos`

[2019-06-04 08:20] ststeiger commented on #1528
There is an "example", in `AnyWebReporting\Any_TestCode\TestReport.cs`.
It shows how to render a report with parameters and datasets into a PDF.

In a nutshell:
1) Create a dictionary for report parameters:
[code]

2) Add all parameters that you have in your report to the dictionary, e.g.
[code]

3) Create a new LocalReport based and load report
[code]

Then, for all datasets that are only used in

[2019-06-04 08:22] Kahbazi commented on #10746
The reason is that link is generated on server

[2019-06-04 08:25] Stamo-Gochev opened #10831 "Render a component at a specific position in the DOM"
As working with the DOM in Blazor has its limitations, what is the current recommendation for displaying popups like dialogs at specific positions on the page?

For example, showing a window/dialog on a button click inside a Blazor component requires the popup element to be appended to a specific element (let's say the body) in order to be displayed over all other elements on the page. However, th

[2019-06-04 08:30] urodolf commented on #10771
We change all streams by byte[] and the memory usage has stabilized.
Thanks for your answers.

[2019-06-04 08:51] ststeiger commented on #1528
@k3flo @mshwf: Added.

@mshwf:

Not to my knowledge, otherwise I'd be using it.
Maybe we will see something in this regard [after the .NET Core 3.1 release (LTS)](https://github.com/dotnet/core/blob/master/roadmap.md), because then the road would be free to create a windows-only ReportViewer based on .NET Core.

However, such a thing would be just as much a bricolage as this project, so maybe they

[2019-06-04 10:02] 3x0dv5 commented on #10796
Wouldn't it be better on the init of your main page?

[2019-06-04 10:03] GodsWithin commented on #10746
So is there a way so the query string is in lowercase that is not changing the bindproperty's name to lowercase as well? (Date -> date)

[2019-06-04 10:09] SteveSandersonMS commented on #9901
If I understand correctly, the PR that fixed this (#10506) has been reverted, so this issue should be reopened. Assigning to preview 7.

@pranavkm Please let me know (or just close this) if I'm misunderstanding and this actually is being handled in preview 6 still.

[2019-06-04 10:13] SteveSandersonMS commented on #10796
There's no guarantee that JS interop will be ready before the Blazor application is started up. You will need to move JS interop calls into a later place. For example, in your `Startup` class:

[code]

[2019-06-04 10:13] #10796 closed

[2019-06-04 10:14] SteveSandersonMS commented on #10796
If you could clarify why you think you have to do it in `Program.cs` and not in a regular component (or in `Startup.cs` if you really want), that would help us to provide better advice.

[2019-06-04 10:18] JonnyGibson opened #10832 "Deploying blazor serverside template to Heroku - http/https Base URL issue"
### Describe the bug
When deploying containerised version of the sample blazor serverside to Heroku, changing between menu items fails with the following console error.:

```Uncaught (in promise) Error: System.ArgumentException: The URI '**https**://blazor-server.herokuapp.com/' is not contained by the base URI '**http**://blazor-server.herokuapp.com/'. ```

Note http vs https

[2019-06-04 10:18] SteveSandersonMS commented on #10796
I'm guessing it's because you want to know the language synchronously. If my guess is correct, you can do it like this in `Startup.cs`:

[code]

... and the following JS code in `index.html`:

[code]

Alternatively you could issue a similar interop call from any of your components.

[2019-06-04 10:26] SteveSandersonMS commented on #10753
Blazor (i.e., `.razor` files) doesn't have tag helpers at all, because it's a completely different rendering technology. It doesn't produce HTML strings, which tag helpers do, but rather produces structured markup.

If you're trying to make a single set of Blazor components that work on both server-side Blazor and client-side Blazor, and sometimes have differing behaviors, the recommended approach

[2019-06-04 10:26] #10753 closed

[2019-06-04 10:31] SteveSandersonMS commented on #10755
Thanks for the suggestion.

This is not something we're likely do to, because the drawbacks would be too severe, plus the complexity would be too high. Once you're in a `dataContext` region, you'd lose the ability to reference things outside that object (without yet another syntax), plus the compiler would have to become way smarter still to know where to inject the "data context" prefix into expr

[2019-06-04 10:31] #10755 closed

[2019-06-04 10:31] Madhust commented on #10831
This would be nice to have this functionality. Instead of moving the DOM using JSInterop, it is better to render the Blazor component inside a target element.

[2019-06-04 10:36] SteveSandersonMS commented on #10783
Yes, that is exactly what the docs are describing when they talk about "wrapping it in a DotNetObjectRef instance".

Yes, that is precisely the correct way to do it! Looks like you're on the right lines :)

That's not applicable. The render tree is a structure that exists to be diffed, so the framework can issue a minimal set of UI update instructions. It's not a general bag of data that gets pass

[2019-06-04 10:36] #10783 closed

[2019-06-04 10:49] dazinator opened #10833 "Razor error when building Blazor Client app on MS SDK docker container"
### Describe the bug

UPDATE: Please see comment below for `Docker.develop` file that I had missed from this original post.

I have a blazor client project & asp.net core server project in my solution.
I thought i'd have a go at deploying it to an AKS cluster using visual studio "dev spaces"
This basically adds a DOCKER file to project which copies your source code into a build container and does

[2019-06-04 10:49] achobanov opened #10834 "Razor silently fails if it expects IList model, but receives ICollection"
I listed this as a bug, because Razor usually throws when it receives unexpected model.

### Describe the bug
I changed an existing editor template's model from `ICollection<int>` to `IList<int>` and then forgot to update the respective view models. The result is naturally flawed, but I would expect and Exception to be thrown in this case, because `IList<T>` is more specific then `ICollection<T>`.

[2019-06-04 10:51] astecenko opened #10835 "Override Blazor hub onconnect/ondisconnect/onreconnect"
In the Server-side Blazor, I want to set up a reaction to the client connection, disconnection and reconnection. As I understand it, this can be done by overriding the corresponding hub blazor methods. But I can not figure out how to implement it. Is it possible to override the blazor hub (OnConnected/OnDisconnected/OnReconnected) methods? Maybe there are some events or callbacks for these (OnConn

[2019-06-04 11:06] Kahbazi commented on #10746
well you can set the name attribute yourself for input tag helper

`<input class="e-input" type="text" placeholder="Enter Date" asp-for="Date" name="date" />`

[2019-06-04 11:10] Venkat4655 opened #10836 "Unrecognized child content inside component 'GridComp'. The component 'GridComp' accepts child content through the following top-level items: 'ChildContent', 'SubDiv'."
Creating a Div component by inherits the **componentBase** class of blazor. Also, we have created a childcomponent for that parent component.

Now, we have defined another component using RenderFragment inside that parent component. If we access that both child component(one defined as childContent and another is using RenderFragment) then it throws the compile time issue.

please refer to the fol

[2019-06-04 11:11] ArkadiuszNET commented on #10440
Hi guys! I finally resolved my problem when introduced additional traefik routing rules for my containers.
I introduced traefik.http.frontend.rule and traefik.wss.frontend.rule for my apiGateway and notifier containers, where that rules contains address where that containers are available.
Thank for your time and help!

[2019-06-04 11:11] #10440 closed

[2019-06-04 11:32] #10832 closed

[2019-06-04 11:56] GodsWithin commented on #10746
I see, thank you for the explaination @Kahbazi

[2019-06-04 11:56] #10746 closed

[2019-06-04 12:16] urodolf commented on #10771
In our last test we have eliminated the call to System.GC.Collect() and we have launched several requests until the server process reaches 100MB, we are monitoring it but it never decreases in size, when we had the System.GC.Collect() put in code it remained at a size around 48MB.
When is the System.GC.Collect() applied on its own?
Do you have to configure something to do it?

[2019-06-04 12:25] DAllanCarr commented on #10771
You can turn off ServerGC if you want GC to happen more frequently.

[2019-06-04 12:27] rodrigosendin commented on #10796
Thanks a lot! That works great, and I've learned two new things:
1. I can inject services on the Startup.Configure Method
2. I can make synchonous JSInterop calls

Sorry if this is not the correct channel for this kind of question. All the answers I found on the web lead me to solve this on the Program.cs, with an async call.

Thank you for your help!

[2019-06-04 12:28] LaughingJohn opened #10837 "Blazor - support GUID conversion in parameters"
Hi,
I'm using Blazor (client side). I have a page used to edit records that I want to take the type of record and the Id. My route looks like this `@page "/edit/{EntityName}/{id}"`

I have my parameters like this:

`    [Parameter]
    public string EntityName { get; set; }

    [Parameter]
    public Guid Id { get; set; }`

As you can see Id is actually a GUID and this is throwing a cast error an

[2019-06-04 12:46] Airn5475 commented on #5144
@davidfowl the constructor level injection doesn't work and I believe the explanation is here:
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/write?view=aspnetcore-2.2#per-request-dependencies

In my example, the injected `IAppLoggingRepository` depends on `IAppIdentity`, which as a Transient per-request scope.

[2019-06-04 12:48] sunshiyun commented on #10753
@SteveSandersonMS Thank you for answering.
I'm sorry I didn't made it clear in my discription. I mean "SolutionName.Server" by "server-side Blazor", and "SolutionName.Client" by "client-side Blazor".

What I'm trying to do is to make different behaviors on different environments (Development or Product). It can be done simply on "server-side Blazor" as line 31 in the following code by using IHosti

[2019-06-04 13:04] urodolf commented on #10771
We want limit the size of ".Net Core Host" process.

[2019-06-04 13:16] LaughingJohn commented on #10837
Sorry, just realised you can specify {id:guid}. Issue closed!

[2019-06-04 13:16] #10837 closed

[2019-06-04 13:36] isaac2004 commented on #10693
Having same issue as well

[2019-06-04 13:42] c767695 opened #10838 "Token Auth for Azure SQL Server to Store ASP.NET Session State"
Is there a feature in the roadmap already for in the roadmap to implement a layer to allow developers to use Azure SQL token authorization for the Sql Provider to store the ASP.NET Session State? Are there other providers for Azure that fill a similar role such as Azure Cache for Redis.

[2019-06-04 13:55] blowdart commented on #10779
@javiercn Can you look at the PR/approve if ok

[2019-06-04 13:55] isaac2004 commented on #10332
So all types should have a constructor then? Most do not

[2019-06-04 14:02] AdamRiddick commented on #10515
@anurse
We've been looking at this further and we currently believe this is related to [#2737](https://github.com/aspnet/AspNetCore/issues/2737).

Using the recommended workaround on that issue, to switch the ServiceProviderMode to Runtime appears to have resolved this issue in our Staging environment.

As there is no documentation on ServiceProviderMode (that I can find ...) can you offer some gu

[2019-06-04 14:08] BalintFarkas commented on #10432
Thank you - I'll send my draft PR later this week!

[2019-06-04 14:16] Kahbazi commented on #10754
@VictorioBerra yes, there's also MapController extension method for mvc

[2019-06-04 14:24] DAllanCarr commented on #10771
So maybe your use case is genuine. Triggering a collection is not a complete disaster. Applying a size limit as @davidfowl mentioned.

[2019-06-04 14:33] davidfowl commented on #3269
@steveglen you're seeing PDB locking on your local IIS? Can you reproduce that behavior on demand?

[2019-06-04 14:35] SergeySeleznyov commented on #10725
iOS Safari really had some issues with mouse events (like some delays in a past). But nevertheless the client click works in iOS.

### Experiment 1 - Blazor's click does not work in iOS:

[code]

### Experiment 2 - touch event works in iOS:

[code]

### Experiment 3 - you may try both:

[code]

Results:

1. Works on desktop
2. Works on iOS devices
3. Double event call in Android

### Experiment 4

[2019-06-04 14:45] leecow opened #10840 "Review and update THIRD-PARTY-NOTICES.TXT for 3.0"
Review and update repo THIRD-PARTY-NOTICES.TXT as appropriate. Work should be completed for Preview 7.

[2019-06-04 14:47] urodolf commented on #10771
The size of the memory cache does not grow because we have it controlled, what grows is the size of the process observed in the TaskManager and it seems that it never executes the GC. We want to control the size of the process.

[2019-06-04 14:52] #10318 closed

[2019-06-04 15:13] arivoir commented on #10783
It worked. Thanks for te answer. It really gives confidence on the direction of the development.

[2019-06-04 15:15] SteveSandersonMS opened #10842 "Server-side Blazor non-interactive after 'back' from external site"
Copied from @chrdlx's report at https://github.com/aspnet/AspNetCore/issues/10732. I was able to repro this, and don't immediately have any idea why this would happen. Seems like a browser defect, but regardless I think we'd need to find a workaround.

----

Another related issue with navigation:

Again, default ServerSide Blazor template.
If you go to the "counter" component... make some clicks i

[2019-06-04 15:16] SteveSandersonMS commented on #10732
Thanks for reporting this. I've created a fix for your top issue at #10839.

For the second issue you reported, I also think that's a valid bug, but it works best for us if each one is tracked in a separate issue, so I've re-filed your report at https://github.com/aspnet/AspNetCore/issues/10842

[2019-06-04 15:16] code2expert commented on #2913
Is there a way to authenticate to active directory by using a form instead of the default pop-up form with username and password that prompts anytime youre opening the app?

[2019-06-04 15:18] DAllanCarr commented on #10771
Are you getting the same memory issues when running locally inside VS? Some profiling will assess whether your memory usage is steady under nominal conditions. But to reiterate GC is not predictable and can not be relied on.

[2019-06-04 15:24] anurse commented on #10515
You'd have to measure in your scenario to know for sure. Here's a brief summary of the modes:

* `Runtime` means that every time a service needs to be created, we basically use `Activator.CreateInstance` to do so. For singletons, this has minimal impact since they are created once per app. For transient and scoped services, reflection is much slower than directly calling `new`, so it has a noticib

[2019-06-04 15:42] mkArtakMSFT commented on #10623
What you're experiencing is actually normal. There are certain criteria-s for GC to kick in and reclaim unused memory. If you remove the code as you shouldn't do that on the click handler, GC will kick in when necessary and clean up whatever is necessary.

I'm closing this issue, as we have a separate issue where we plan to do some memory related tests on Blazor, which will cover this:  https://gi

[2019-06-04 15:42] #10623 closed

[2019-06-04 15:55] urodolf commented on #10771
We test our server with VS and we launch the memory profile, after each request the quantity of objects and use of memory are the same. If we call GC in our code, in the Task Manager the process every time uses the same memory, but if we delete de call to GC the memory rises in each request.

[2019-06-04 15:56] davidfowl commented on #10771
cc @Maoni0

[2019-06-04 16:00] Tratcher commented on #4120
Do you mean you want them to enter their username and password into your own login form? That's not a flow we support, nor should you, it's much weaker than client based windows auth.

[2019-06-04 16:09] SteveSandersonMS commented on #10778
Fixed

[2019-06-04 16:09] #10778 closed

[2019-06-04 16:14] steveglen commented on #3269
@davidfowl not 100% of the time, more like 50% chance of hitting it on any given deploy attempt.  When it's hit deployments consistently fail until I recycle the IIS app pool.

I'm running on Windows Server 2016, Kudu from git but I last updated 31st May 2018 so it's not up to date.  I've seen no suggestion this issue is improved in newer Kudu - please let me know if this is something that is expe

[2019-06-04 16:22] campersau commented on #10725
Have you tried this? Which is the workaround mentioned in  https://github.com/aspnet/AspNetCore/issues/10725#issuecomment-498167475

[code]

[2019-06-04 16:34] Tratcher opened #10844 "Use new NTAuth corefx API"
Today NegotiateAuth is implemented using reflection:
https://github.com/aspnet/AspNetCore/blob/b6d8c96a98c9e5673cd10162616ed98799c60d88/src/Security/Authentication/Negotiate/src/Internal/ReflectedNegotiateState.cs

https://github.com/dotnet/corefx/issues/36896 adds a new public API for Negotiate/NTLM auth. When that's ready (post 3.1), switch to the public API.

[2019-06-04 16:37] davidfowl commented on #3269
OK I think I've identified the PDB locking issue. Stay tuned...

[2019-06-04 16:41] RE-Butler opened #10845 "JSON Deserialization of Derived types with $type not working in Blazor"
I am trying to consume a WebAPI from Blazor. The WebAPI returns an object with a List of Base types. I configured Newtonsoft to include the $type value to that this can be deserialized on the client side in Blazor. I am using .Net Core 3.0 preview 5 with Blazor 0.9.0

This isn't working, so I set up the following demonstration:

[code]

Here is the test deserializsation/serialization code:

[code]

[2019-06-04 16:41] mkArtakMSFT opened #10846 "Enable Auth on Blazor client templates"

[2019-06-04 16:42] mkArtakMSFT commented on #10698
Moving the client-side work out to: https://github.com/aspnet/AspNetCore/issues/10846

[2019-06-04 16:45] sebastienros commented on #10601
@InJoins It's much better in 3.0.0-preview6 that will ship soon. The CoreFX team improved it on Linux by a factor of 3. It's still slower than on Windows though so there is room for improvement.

Your solution is the correct way to do it for now.

[2019-06-04 16:45] #10601 closed

[2019-06-04 16:50] smitpatel commented on #10714
Collection Include is working. Sum is client eval due to decimal column and EF chokes while translating.  I will update EF to fail gracefully.

[2019-06-04 16:51] Mewgrammer opened #10847 "Error 139 Segmentation Fault on ARM32 for server-side Blazor project"
Building the "blazorserverside" template on Odroid MC-1 (ARM32) fails with Error Code 139 segfault.

Steps to reproduce the behavior:
1. Using ASP.NET Core 3.0 Preview 5
2. dotnet new blazorserverside
3. dotnet build

I experienced this error when using the cli  and also when trying to build using Docker
Images uses for Docker:
mcr.microsoft.com/dotnet/core-nightly/aspnet:3.0.0-preview5
mcr.micros

[2019-06-04 16:55] mkArtakMSFT commented on #10836
Thank you for your feedback.
We're closing this issue as the behavior discussed is by design.
You need to wrap your <GridCol> element inside your `ChildContent` element.

[2019-06-04 16:55] #10836 closed

[2019-06-04 16:57] mkArtakMSFT commented on #10835
Thanks for contacting us, @astecenko.
This is possible today. You can implement a custom `CircuitHandler` and register it.

[2019-06-04 16:59] mkArtakMSFT commented on #10831
Thanks for contacting us, @Stamo-Gochev.
You should use CSS to position your elements exactly where you want them to be.

[2019-06-04 16:59] #10831 closed

[2019-06-04 16:59] mkArtakMSFT commented on #10831
You can have a look at how this is done in `Blazor workshop`: https://aka.ms/blazorworkshop

[2019-06-04 17:13] davidfowl commented on #10838
Is this for ASP.NET Core? or ASP.NET?

[2019-06-04 17:15] BrennanConroy commented on #10307
Reopening as the fix was reverted due to build issues

[2019-06-04 17:15] c767695 commented on #10838
This is in ASP.NET. Does this need to thus move to another repo?

[2019-06-04 17:17] davidfowl commented on #10838
Yes. https://github.com/aspnet/AspNetSessionState, we should be able to transfer the issue

[2019-06-04 17:20] Tratcher opened #10848 "AzureAD B2C does not honor Environment=Development for error handling"
AzureAdB2C has an error page at /AzureADB2C/Account/Error that talks about Development mode (presumably because it's a copy from the template), but it does not honor that setting, there's no way to get to the dev exception page. OnRemoteFailure redirects here for any unknown error:
https://github.com/aspnet/AspNetCore/blob/b6d8c96a98c9e5673cd10162616ed98799c60d88/src/Azure/AzureAD/Authentication.A

[2019-06-04 17:21] Tratcher commented on #9115
Verified using SDK  3.0.100-preview6-012234

[2019-06-04 17:23] Stamo-Gochev commented on #10831
@mkArtakMSFT Using CSS is applicable in some scenarios, but it won't work in others.

@danroth27 @SteveSandersonMS
Are there any alternatives? Is there a plan to provide some way to render a component to position that is not known beforehand? Any insights on what can break if the DOM element changes its position are also helpful, especially if there is a way to notify the diff algorithm for the ch

[2019-06-04 17:34] BrennanConroy commented on #8916
**Acceptance checklist** (check one item)
* [ ] We decided not to take this fix.
* [ ] The fix is tests-only.
* [x] The fix contains product changes (**check all items below**).
    * [x] Relevant XML documentation comments for new public APIs are present.
    * [x] Narrative docs (docs.microsoft.com) are updated. (**check one item below**)
        * [ ] The change requires a new article. An issue

[2019-06-04 17:37] doctorpangloss opened #10849 "2.x Backport ConnectionId property to C# SignalR client"
https://github.com/aspnet/AspNetCore/blob/b6d8c96a98c9e5673cd10162616ed98799c60d88/src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs#L164

This property should be backported to whatever release you plan to do next on NuGet for the AspNetCore 2 series.

### Describe alternatives you've considered
Forking or reflection.

[2019-06-04 17:40] BrennanConroy commented on #8768
**Acceptance checklist** (check one item)
* [ ] We decided not to take this fix.
* [ ] The fix is tests-only.
* [x] The fix contains product changes (**check all items below**).
    * [x] Relevant XML documentation comments for new public APIs are present.
    * [x] Narrative docs (docs.microsoft.com) are updated. (**check one item below**)
        * [ ] The change requires a new article. An issue

[2019-06-04 17:45] PirasannaRavi opened #10850 "Issue implementing Swashbuckle OpenApi on BlazorHosted App"
I'm trying to implement [Swagger](https://docs.microsoft.com/en-us/aspnet/core/tutorials/getting-started-with-swashbuckle?view=aspnetcore-2.2&tabs=visual-studio) OpenApi Documentation on my app which is created using blazorhosted template on core 3.0 preview.

When I compile the code there is no issue.
But when I try to navigate to [http://localhost:5000/swagger](http://localhost:5000/swagger) I s

[2019-06-04 17:52] #9945 closed

[2019-06-04 17:53] BrennanConroy commented on #9216
**Acceptance checklist** (check one item)
* [ ] We decided not to take this fix.
* [ ] The fix is tests-only.
* [x] The fix contains product changes (**check all items below**).
    * [x] Relevant XML documentation comments for new public APIs are present.
    * [x] Narrative docs (docs.microsoft.com) are updated. (**check one item below**)
        * [x] The change requires a new article. An issue

[2019-06-04 17:57] doctorpangloss commented on #10849
Also, in general, making even simple changes like this myself is crazy complicated because of `InternalsVisibleTo`. If X needs code Y, just reference it, don't make it needlessly complicated.

[2019-06-04 17:58] danroth27 commented on #5479
@Difference This might be just due to my ignorance about service workers, but I'mun clear what you're asking for. A shared cache for what? Hosted by Microsoft where?

[2019-06-04 18:05] mikaelm12 commented on #10849
Are you asking that we also make the connectionId property public on ASP.NET SignalR? If so it already is. It's inherited through `Connection`
https://docs.microsoft.com/en-us/previous-versions/aspnet/jj889727(v%3Dvs.111)

[2019-06-04 18:08] mikaelm12 commented on #10849
In general we usually only backport changes for bug fixes. We initially designed around not exposing the connection id so I'm not sure this is something we'd consider for a backport.

[2019-06-04 18:17] rxelizondo commented on #10850
Not sure if this will help you or not but I would try moving `app.UseBlazor<Client.Startup>();` to the end of the pipeline. I am wondering if `app.UseBlazor<Client.Startup>(); `terminates the flow and the Swagger stuff does not even get a chance to execute.... just a theory.

[2019-06-04 18:28] PirasannaRavi commented on #10850
Thanks for your help rxelizondo... But unfortunately it did not work.

[2019-06-04 18:41] doctorpangloss commented on #10849
Alright, here's a workaround using Reflection if anyone needs it:

[code]

[2019-06-04 18:41] #10849 closed

[2019-06-04 18:56] DylanDmitri opened #10853 "Using the CoDel spec for the RequestThrottlingQueue"
Current queue implementation is:
 - FIFO
 - Length set experimentally by user
 - New requests are dropped if queue is full

This is the naive approach to request queuing. A better alternative (Controlled Delay, or CoDel) has been proposed in [a recent IETF RFC](https://tools.ietf.org/html/rfc8289). Facebook uses a modified version internally to buffer their servers ([source](https://queue.acm.org/

[2019-06-04 18:58] dougbu opened #10854 "Validate service reference features"
# Client side

## Items
- [x] `@(OpenApiReference)` with just `%(Include)` and with metadata below
  - [x] `%(ClassName)`
  - [x] `%(CodeGenerator)` e.g. `NSwagTypeScript`
  - [ ] `%(Namespace)`
  - [x] `%(Options)` default `$(OpenApiGenerateCodeOptions)`, extend generator's command line
  - [x] `%(OutputPath)` path for this specific file
- [x] `@(OpenApiProjectReference)` with just `%(Include)` a

[2019-06-04 19:16] Maoni0 commented on #10771
if you could help me understand this in a bit more detail that'd be great.

* if you don't have GC.Collect() at all, the memory usage reaches 100mb and then stays there?
* do you have any sort of memory limitation set on the process?
* what's the total amount of the memory on the machine if there's no mem limit?
* since you are using Server GC, how many cores is the process using?
* what version o

[2019-06-04 19:33] code2expert commented on #4120
Thanks Steve,

What I want is to use my form instead of the pop up that comes up at the moment which I have no control over.

[2019-06-04 19:40] code2expert commented on #4120
I'll like to control the login/logout sessions as users are accessing a pc.

[2019-06-04 21:00] rcollette commented on #6077
The solution from @bbarry https://github.com/aspnet/AspNetCore/issues/6077#issuecomment-489798989

is dead simple and does include the trace id.
[code]

[2019-06-04 21:03] pranavkm opened #10859 "P2P references from netcoreapp3.0 projects to netcoreapp2.x targeting projects results in missing assemblies in build output"
1. Create a new 3.0 (preview6) targeting AspNetCore Web Application (Controllers) project
2. Create a new 2.1 targeting AspNetCore Web Application (Controllers) project with individual auth
3. Reference the 2.1 project from 3.0.
4. Build the 3.0 project and run it.

Expected:
This should run (maybe?)

Actual:
The build output for the 3.0 project is missing EF binaries. Consequently running fails w

[2019-06-04 21:05] pranavkm commented on #10859
cc @JunTaoLuo \ @natemcmaster. My guess is this has to do with the trimming \ lifting in the shared fx. Is this a scenario that's meant to work?

[2019-06-04 21:23] anurse commented on #10775
Now that this was punted from preview6, I'm going to close this since the hacks aren't there yet. We reopened #10307 to track the actual change (fixing the dependency to not suck).

[2019-06-04 21:23] #10775 closed

[2019-06-04 21:26] anurse commented on #10307
Assigning you to this @pranavkm but only because you've been looking at it in your PR. Let me know if you need help or someone to take this over!

[2019-06-04 21:29] anurse commented on #8753
@paultobey can you clarify what version of the client you are using? I think we actually fixed something like this in the 1.1 version of Microsoft.AspNetCore.SignalR.Client.

[2019-06-04 21:31] natemcmaster commented on #10859
The reason is simpler than that. In 2.x when using the implicit PackageReference version for Microsoft.AspNetCore.App, the SDK sets `PrivateAssets="All"` on Microsoft.AspNetCore.App. This means the 3.0 app is not going to transitively get a reference to everything that was in Microsoft.AspNetCore.App 2.x.

https://github.com/dotnet/sdk/blob/b68e3d4ae9362281551b30d961f717e2593e76b6/src/Tasks/Micros

[2019-06-04 21:32] natemcmaster commented on #10859
By the way, I would be okay closing this as by-design, and a result of #3755. Thoughts @Pilchie ?

[2019-06-04 21:32] NTaylorMullen opened #10860 "Single directive attributes with parameters don't result in errors."
### Describe the bug
Having an element with a single directive attribute + parameter does not result in warnings to user about invalid usage:

![image](https://user-images.githubusercontent.com/2008729/58915154-3c56fa80-86d5-11e9-85f5-207ff697b532.png)

In VS this is pretty obvious with coloring but at command line or in VSCode it's far less obvious.

### Additional context
This is due to how dire

[2019-06-04 21:34] balarvs2002 opened #10861 "asp.net core runtime for rhel 7"
Where do I download asp.net core runtime for rhel 6 ?

[2019-06-04 21:37] anurse commented on #10607
Blocked by #10540 but should be easy when we get there.

@davidfowl are you going to do this or do I need to find a ~~victim~~ willing participant? We need this stuff in ASAP, preview7 is t i g h t.

[2019-06-04 21:42] paultobey commented on #8753
@anurse I'm presently using 1.0.4. I'll try 1.1.0 as an experiment and advise.

[2019-06-04 21:45] mkArtakMSFT commented on #7639
Moving this to 3.1 because of the risks involved.

[2019-06-04 21:47] anurse commented on #10169
The first work item here is to find them and list them.

[2019-06-04 21:48] davidfowl commented on #10607
Assign it to somebody else, I'm working on counters right now (esp if it's blocked by moving to ns2.1)

[2019-06-04 21:52] rynowak commented on #10860
hmm.

Well we're going to want to make this work. This **specific** case should be an error (specific to `bind` without `bind:format`).

We want this case to work without an error:

[code]

Consider the semantic of where the non-parameterized version to be part of the *implementation* of the directive.
[code]

[2019-06-04 22:05] anurse commented on #10200
Apologies, I've lost track of the thread a little bit. I think it looks like there isn't a clear actionable work item for the servers right now so I'm moving this to discussions for now. Please feel free to let me know (tag me, etc.) if that changes!

[2019-06-04 22:07] radumg opened #10862 "Cannot register configuration instance when class uses fields instead of properties"
### Describe the bug
Registering a configuration (`IConfiguration`) against a type using the `IServiceCollection.Configure<T>(IConfiguration)` method fails when the `T` type has `fields` instead of `Properties`.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core `2.2`
2. Create a config class that uses fields, such as

[code]

3. Add required object to `appset

[2019-06-04 22:07] anurse commented on #10308
@davidfowl Is the server work for this done? Is something separate tracking the SignalR work? If so, I'd suggest closing this since there's no more actionable work for servers here.

[2019-06-04 22:08] davidfowl commented on #10308
Yes the server work is done. Can we instead turn this into an EPIC issue and link to other bugs?

[2019-06-04 22:12] PirasannaRavi commented on #10850
Sorry, I was able to fix the issue myself. I had missed to add [FromBody] for a Post method hoping it will be implicitly taken care as [FromQuery]. But that seem to have fixed the issue.

[2019-06-04 22:12] #10850 closed

[2019-06-04 22:13] anurse commented on #10344
@jkotalik is going to add an error message to ANCM to clearly say "Single-file publish is not supported in IIS"

[2019-06-04 22:15] anurse commented on #9223
This was done in preview6

[2019-06-04 22:15] #9223 closed

[2019-06-04 22:15] seancpeters opened #10864 "Identity UI doesn't wirk with configuration in IdentityHostingStartup"
Code that works in Startup.ConfigureServices() does not work in IdentityHostingStartup.Configure()

[code]

[code]

[2019-06-04 22:16] ryanbrandenburg commented on #10791
As of 3.0.100-preview6-012162 this work has not yet made it into the build.

@mkArtakMSFT is it known/expected that the latest builds are missing stuff?

[2019-06-04 22:17] anurse commented on #8660
We don't expect to have the capacity in 3.0. Lots on the queue. This is a good candidate for 3.1 though.

[2019-06-04 22:22] anurse commented on #10117
Moving to the Backlog. We've done some initial investigation and this is going to be very challenging. For high-availability scenarios we need this and some kind of shadow copying mechanic which is a very costly feature. We might be able to revisit later. Using separate app pools and a load balancer is our recommended approach for high-availability as it allows you full flexibility over deployment

[2019-06-04 22:24] anurse commented on #7548
We don't expect to be able to resolve this in 3.0. We're getting strange issues (see linked PRs) and there isn't a customer motivated scenario that I'm aware of. We can revisit later as necessary.

[2019-06-04 22:25] mikaelm12 commented on #8753
On the client we improved the error message the scenario where the callback didn't exist.
https://github.com/aspnet/AspNetCore/blob/b6d8c96a98c9e5673cd10162616ed98799c60d88/src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs#L1868-L1874

If you update you shouldn't see this issue anymore

[2019-06-04 22:26] anurse commented on #4708
Just about changing from `Warning` to `Debug`?

[2019-06-04 22:30] NTaylorMullen commented on #10860
Yup totally agree this is something we should support.

[2019-06-04 22:31] rynowak commented on #5496
## Summary

The solutions to this will require a new DI feature *or* will required going outside the DI system entirely.

The problem is that the DI system will **track** transient values. This means that anything you resolve as a transient is kept in memory until the DI scope is disposed.

There are a few approaches to this that we've outlined so far:

## Self-serve unregistration

This is the pr

[2019-06-04 22:31] anurse commented on #9239
@JamesNK can you fill me in on the work here? Timers can definitely be running after they `Dispose` (if they were `Dispose`d right after the timer callback is fired). HttpContext isn't intended to be thread-safe, though it isn't great if `Abort` can't be called from a timer like this since it's a common cancellation scenario.

Thoughts @davidfowl ?

[2019-06-04 22:33] anurse commented on #3137
This may not have been intentional, but it is that way in the 2.1 release (which is our Long-Term Support release) so we generally have to preserve that behavior.

[2019-06-04 22:33] #3137 closed

[2019-06-04 22:40] NTaylorMullen commented on #6364
VSCode support in PR: https://github.com/aspnet/Razor.VSCode/pull/367

[2019-06-04 22:42] anurse commented on #9810
There are three things to consider here:
* Experience running the tool directly
* Experience running `dotnet new` (which runs the tool)
* Experience in VS (which runs the tool) (cc @BillHiebert , we don't anticipate VS work but FYI)

As long as `dotnet dev-certs https --check` returns a non-zero exit code, we believe VS will re-prompt to trust the cert. We could probably refine the message (instea

[2019-06-04 22:48] NTaylorMullen commented on #10811
Nope, not a known issue. Looks like an escaped `@` transition after a `@{}...` results in the `@@` never showing up. This is a pretty big edgecase for normal use cases but a bug nevertheless.

[2019-06-04 22:57] ryanbrandenburg commented on #10792
Everything behaved as expected and the console logging seems reasonable. At first glance the wording of the log seemed weird (endpoints vs address vs URI) but looking at it again I think you were just trying to be precise.

[2019-06-04 22:57] #10792 closed

[2019-06-04 23:04] ajaybhargavb commented on #10800
Verified.

[2019-06-04 23:04] #10800 closed

[2019-06-04 23:04] ajaybhargavb commented on #10801
Verified.

[2019-06-04 23:04] #10801 closed

[2019-06-04 23:06] Eilon commented on #10862
In general in .NET, most binding systems support only properties, not fields. That's at least the history; I'm not trying to suggest what the behavior *should* be.

[2019-06-04 23:15] Eilon commented on #10861
Hi @balarvs2002 , you can find info on RHEL downloads for .NET Core (which includes ASP.NET Core) at this page: https://dotnet.microsoft.com/download/linux-package-manager/rhel/runtime-current

[2019-06-04 23:25] pranavkm commented on #10818
This seems fairly well. A couple of issues I observed while doing this:

* https://github.com/aspnet/AspNetCore/issues/10859 which is likely by design.
* I noticed that VS's auto recompile does not kick in when changes are made to the project file. This could get you in to a weird state where adding a package reference and refreshing the browser would make it appear new application parts aren't di

[2019-06-04 23:25] #10818 closed

[2019-06-04 23:28] ajaybhargavb opened #10868 "Blazor: @attribute directive does not work in _Imports.razor"
Repro:
- Create a new Blazor server side project
- Add `@attribute [Serializable]` to the end of `_Imports.razor`
- Build the app

It fails to build with the following error,
[code]

cc @NTaylorMullen @rynowak

[2019-06-04 23:28] ajaybhargavb commented on #10828
Found https://github.com/aspnet/AspNetCore/issues/10868

[2019-06-04 23:28] Tratcher commented on #7734
I have this in progress. It was easy enough for OIDC and I verified it against AAD.

I'm trying to do OAuth support as well but it doesn't seem to be widely supported there. I tried Google, Facebook, Github, and MSA but only MSA seem to support PKCE (because they're the same endpoints as AAD). Any suggestions for a provider that does support it?

[2019-06-04 23:37] javiercn commented on #9810
* The startup experience (installer) runs the tool (well, the library that powers the tool)
* (The library assembly is something ending in XPlat)

i think that I found a simpler way to do this. If when we check the cert, we see its for a previous version, we can simply consider it expired. Then, when VS runs they will ask to trust the cert.

[2019-06-04 23:39] javiercn commented on #9810
When the tool runs, we simply update the cert, and if it was run with --trust the trust prompt will be triggered

[2019-06-04 23:44] anurse commented on #9810
Updated my comment.

Yep, that's basically what we came up with as well.

[2019-06-04 23:46] natemcmaster commented on #7548
So, keep open but backlog?

This is the only reason, by the way, that we can't use Azure-hosted build queues for VS2019 instead of ones dnceng maintains.

[2019-06-04 23:48] anurse commented on #8753
Ok, I'm going to close this for now since we did fix this exception message in 1.1. Please feel free to comment if you can still repro this issue and we can investigate further!

[2019-06-04 23:48] #8753 closed

[2019-06-04 23:48] anurse commented on #7548
This is helpful additional context. Given that I'm fine to put this in to try and get for 3.0. I wasn't aware of what this was actually blocking.

[2019-06-04 23:50] anurse commented on #10308
I guess? Seems overkill.

[2019-06-04 23:51] Pilchie commented on #10859
Yes, I agree.

[2019-06-04 23:52] anurse commented on #10308
I'll create a new epic. The GitHub events will look weird if I edit @ReubenBond 's text to start linking in other issues.

[2019-06-04 23:58] anurse opened #10869 "[Epic] Enhancing Bedrock Abstractions"
This is tracking the work to align our servers and SignalR client APIs with a proposed new socket abstraction. See https://github.com/aspnet/AspNetCore/issues/10308 for a detailed description (that issue was originally tracking this work before this epic was created).

New abstraction shape:

[code]

Child Items
* [x] https://github.com/aspnet/AspNetCore/issues/10308 Client/server networking abstr

[2019-06-05 00:06] anurse opened #10872 "Adopt Bedrock Client abstractions in SignalR client"
Epic #10869

SignalR currently uses the "Bedrock" abstractions on the server side (`ConnectionContext`, etc.) but has a custom client-side abstraction (`IConnectionFactory`). Bedrock has evolved to support a client-side abstraction now so SignalR should update to use it (since it would be a breaking change).

The new client abstraction shape is:

[code]

Some elements to this:
* Add `IConnectionFa

[2019-06-05 00:06] anurse commented on #10872
TBH, this is another thing making me nervous :).

cc @davidfowl to review my assessment of the elements needed to finish this.

[2019-06-05 00:31] #8385 closed

[2019-06-05 00:31] #9632 closed

[2019-06-05 00:31] #10077 closed

[2019-06-05 00:31] #10859 closed

[2019-06-05 00:31] rynowak commented on #8493
This has been added in **preview 7** - https://github.com/aspnet/AspNetCore/pull/10730
Note that **preview 6** is the next release so you will have to wait a few weeks.

[2019-06-05 00:32] khteh opened #10873 "ConfigureKestrel IPAddress.Loopback does not work"
I use ConfigureKestrel in order to enable protocol HTTP1.x and HTTP2. However, using IPAddress.Loopback does not work! The browser opens up 127.0.0.1/index.html and show "Page not found"! Modify the URL at the browser address bar to "localhost" works!

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 2.2
2. Run this code :https://github.com/khteh/AspNetCoreAp

[2019-06-05 00:32] rynowak commented on #9632
This has been added in **preview 7** - https://github.com/aspnet/AspNetCore/pull/10730
Note that **preview 6** is the next release so you will have to wait a few weeks.

[2019-06-05 00:32] rynowak commented on #8385
This has been added in **preview 7** - https://github.com/aspnet/AspNetCore/pull/10730
Note that **preview 6** is the next release so you will have to wait a few weeks.

[2019-06-05 00:33] rynowak commented on #10077
This has been added in **preview 7** - https://github.com/aspnet/AspNetCore/pull/10730
Note that **preview 6** is the next release so you will have to wait a few weeks.

[2019-06-05 00:47] ReubenBond commented on #10308
Fine to edit my issue as you see fit - either way 🙂

[2019-06-05 00:47] gojanpaolo commented on #10509
just followed @rxelizondo https://github.com/aspnet/AspNetCore/issues/10509#issuecomment-496749510  and it works like a charm! :)

I also tried using just the cli similar to [this tutorial](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-rest-api) but creating a new blazor project instead. And then git push to azure but it doesn't work even when I install the .NET Core

[2019-06-05 00:50] sbuchok opened #10874 "CascadingValue is null if you navigate directly to the page"
Here is the setup:

MainLayout
[code]

I use this as a toaster of sorts so that I can display messages when different actions happen. This way I have it on the MainLayout and expose it to be Cascaded to all other Components.

I have found this works great, however I have noticed that if I open a new tab and go directly to a page (say a password reset page), this seems to break and MessageBanner is

[2019-06-05 00:55] rynowak commented on #10868
Does this crash in the editor?

[2019-06-05 00:57] davidfowl commented on #9239
It's a bug in the gRPC logic (looking at the log below) though from the code it looks as though everything is written fine. Seems like something needs to guard against calling abort after the request is done.

Log:

[code]

Notice the `Request finished in 2.1099ms 200 application/grpc` before the null ref. That means the request was disposed.

I'm not sure yet if this warrants building a first cla

[2019-06-05 00:58] ajaybhargavb commented on #10868
Yes it does.

[2019-06-05 00:58] davidfowl commented on #10308
Closing this as it's tracking the sever work. The only remaining work here might be a rename.

[2019-06-05 01:00] rynowak commented on #10868
😲

[2019-06-05 01:12] JamesNK commented on #9239
Inside the request handler the simplified logic looks like this:

[code]

From the log it appears the client is killing the connection, and the server is disposing of HttpContext before the request delegate exits. Now if the deadline timer executes before it is disposed then it will call HttpContext.Abort() and get an NRE because the lifetime feature has been cleared. Is that correct description o

[2019-06-05 01:17] JamesNK commented on #9239
A couple of ideas:
* gRPC could test whether the cancellation token has been triggered before calling `Abort()`
* gRPC could be to get the lifetime feature from the HttpContext and check if it is null or not before calling

Alternatively ASP.NET Core could make calling Abort() safer:
* Make `Abort()` noop after the context has been reset
* Not reset the context until the request delegate has exite

[2019-06-05 01:20] ajaybhargavb commented on #10868
Yeah `@attribute`s are basically unusable in imports :(. In some cases, it doesn't crash in imports.
I'm investigating more and working on a fix

[2019-06-05 01:23] lakeman commented on #7238
Are you hitting this condition in [ParameterBinder](https://github.com/aspnet/AspNetCore/blob/14b7184c09ac715348e556df7706ea7647cfae42/src/Mvc/Mvc.Core/src/ModelBinding/ParameterBinder.cs#L140)?

This behaviour of changing model binding based on the existence of values seems problematic. There are a number of edge cases that can cause surprising behaviour (hence why I'm commenting here instead of

[2019-06-05 01:24] brockallen commented on #7734
There's also http://demo.identityserver.io/ available for such testing.

[2019-06-05 01:30] anisite commented on #9020
I roughly lost about 3 days... thanks iis

[2019-06-05 01:58] javiercn commented on #10827
Everything seems to work as expected

[2019-06-05 01:58] #10827 closed

[2019-06-05 02:02] #10308 closed

[2019-06-05 02:02] arivoir commented on #8493
How will this finally work? adding the type converter attribute in each property, or can the attribute be specified in the class so it's globally taken?

[2019-06-05 02:13] davidfowl commented on #9239
That should never happen. That would be a bug in the HTTP/2 logic that we have. @halter73  @Tratcher can you take a look at that.

No, we shouldn't do this. It's not even Kestrel throwing, it's a null ref coming from somewhere in HttpAbstractions. This should throw an object disposed exception or something else.

It shouldn't, if anything, that's the bug here.

[2019-06-05 02:20] rynowak commented on #8493
Implement `ToString()` on your class, and then implement a `TypeConverter` and register with the attribute on your class.

[2019-06-05 02:37] JamesNK commented on #9239
An alternative explanation could be gRPC's timer still triggering after `Timer.Dispose()` has run. https://docs.microsoft.com/en-us/dotnet/api/system.threading.timer.dispose?view=netframework-4.8#System_Threading_Timer_Dispose

[code]

Checking a flag inside the timer's callback could improve this. It wouldn't be perfectly threadsafe without some additional locking.

[2019-06-05 02:41] davidfowl commented on #9239
My guess is that it's a callback firing after dispose rather than an issue in Kestrel but we should verify.

This is where the TimerAwaitable is superior in it's consumption model. You kick off the timer awaitable, then get a task back, then when you're about to exit the request delegate, you stop the timer, and wait for the task to end. That will ensure that any pending callbacks have already fir

[2019-06-05 02:46] dougbu commented on #10799
Dupe of #10854

[2019-06-05 02:46] #10799 closed

[2019-06-05 02:48] JamesNK commented on #9239
That would be cleaner. However waiting for the task to complete would add some overhead to each gRPC call. This is a hot path. Here we don't care about the very rare case of the Timer callback executing afterwards, so long as it doesn't do anything.

Do you know if TimerAwaitable + stopping the timer + awaiting it has much perf impact?

[2019-06-05 02:54] davidfowl commented on #9239
Why not use a Task.Delay then, this is a one shot timer right? You just need a task returning method that you can wait on if it's not already completed. You can avoid the cost if you just skip the await in the common case (like we do other things).

[2019-06-05 03:01] lovelangy opened #10876 "NullReferenceException when api return null result."
### To Reproduce
Steps to reproduce the behavior:
1. create an asp.net api project with version 2.2
2.  add code
[code]
3. test the api with browser
4. it returns error
[code]

### Expected behavior
NullReferenceException should be handled propertly and return some useful information.

[2019-06-05 03:37] natemcmaster commented on #5812
@ajcvickers the tests are still disabled in PRs. I think they still run on Helix, though.

https://github.com/aspnet/AspNetCore/blob/5af8e170bc11aa189f7be0aab777b1bdfb76a431/src/Identity/EntityFrameworkCore/test/EF.Test/Microsoft.AspNetCore.Identity.EntityFrameworkCore.Test.csproj#L6-L7

[2019-06-05 03:55] JamesNK commented on #9239
Hmm, I don't follow. The timer should abort the request while it is in progress. How would Task.Delay be used to do that?

For example, if there is a 5 second deadline. A SQL query goes out of control for 30 seconds, and 5 seconds into the query the deadline triggers, aborting the request and triggering the cancellation token.

[2019-06-05 04:02] Tratcher commented on #9239
Are you actually trying to kill the connection (e.g. prevent any response) or just trigger the cancellation token? Abort is the rudest way to end a request. Giving some kind of HTTP error status code response is usually preferred.

If you only want to trigger the cancellation token after a given timer then how about just chaining/replacing it?

[2019-06-05 04:05] rynowak commented on #4050
I've updated the top post with some initial framing and throughts. I did a pass through the `Components` assembly so far, and plan to go through others and update the notes.

I'm also going to put together a *cool* spreadsheet to help with this.

[2019-06-05 04:29] dpr-dev commented on #10876
we can return some message, for example: "an action from MyGreatController returns zero"

[2019-06-05 04:33] davidfowl commented on #3269
We've identified the issue and are looking at backporting the fix to older versions of .NET Core (possibly 2.1 and 2.2). More information here https://github.com/dotnet/corefx/issues/38212

[2019-06-05 04:40] julienGrd opened #10877 "[Blazor server side] Error: Connection disconnected with error 'Error: Server timeout elapsed without receiving a message from the server.'."
Hello guys,

I meet some problems on some views with a lot of data (complex view, table with lot of rows, etc).
What's happening is I lost the signalR connection.

Typically, the first time i land on the page is OK.
After i go to anoter page => still OK
After i come back to my page with lot of data and that's now the problem happen

The actions on my page have no effect, on the console output of v

[2019-06-05 04:43] dpr-dev commented on #10876
in netcore 3.0 i can't reproduce this. the action returns 404 and make redirect from 'localhost/url' to 'localhost'

[2019-06-05 05:04] mkArtakMSFT commented on #10876
What you see is actually by-design. What's happening is the method return type is `Task<string>` and when you return null, it's the same as:
[code]

When the `ActionMethodExecutor` is trying to evaluate the result of the action being called it tries to await for that `Task<string>` result, which is obviously `null`. Hence the `NullReferenceException` you observe.

You can instead return `Task.From

[2019-06-05 05:05] davidfowl commented on #10872
This looks good. We need to rename the interface to something that says client.

[2019-06-05 05:07] rynowak commented on #10876
This is news to me, is there an issue tracking that?

[2019-06-05 05:08] mkArtakMSFT commented on #10834
Thanks for contacting us, @achobanov.
@NTaylorMullen can you please look into this? Thanks!

[2019-06-05 05:23] dpr-dev commented on #10876
but why asp net core make redirect ?

[2019-06-05 05:33] mkArtakMSFT commented on #10762
Thanks @iantoalms.
@ryanbrandenburg let's get this merged as soon as the PR checks pass. We'll take this as part of Preview7 release.

[2019-06-05 05:37] danroth27 opened #10878 "Unable to publish Blazor (ASP.NET Core) app to Azure App Service with Preview6 bits"
Repro steps:
- Install .NET Core SDK 3.0.100-preview6-012250
- Install the [Blazor VSIX](https://dotnet.myget.org/feed/aspnetcore-dev/package/vsix/Microsoft.VisualStudio.BlazorExtension/16.0.19304.1) to match the ASP.NET Core version 3.0.0-preview6.19304.1
- From VS create a new Blazor (ASP.NET Core hosted) app
- Publish the app to Azure App Service as a self-contained app

Actual result:

[code]

[2019-06-05 05:40] mkArtakMSFT commented on #10749
So if I understood you correctly, the issue is that the caching doesn't work and the views being requested from the database always, rather than only the fist time, correct?

[2019-06-05 05:42] BrennanConroy commented on #10877
This sounds very similar to https://github.com/aspnet/AspNetCore/issues/9683.

We fixed a bug that caused the connection to hang with large payloads. Can you try out the daily bits and see if the issue still reproduces? https://github.com/aspnet/AspNetCore/blob/master/docs/DailyBuilds.md

[2019-06-05 05:43] balarvs2002 commented on #10861
Thanks @Eilon for your solution. Is it possible to get as tar file ?

[2019-06-05 05:45] mkArtakMSFT commented on #10876
@pranavkm didn't we made a change to treat `null` results in API controllers as `NotFound` -s ?

[2019-06-05 06:06] julienGrd opened #10881 "[Blazor server side] Any way to "cancel" a click on checkbox"
Hello guys,

I want to try implement a click on a checkbox which can be cancellable
for example, on a checkbox unchecked, when user want to check :
- if condition, OK the checkbox is checked
- if not, the checkbox stay unchecked

I try to implement this with bind (don't set the value on the setter), and the events onChanged and Onclick (find option on the args to cancel), but it seem there is noth

[2019-06-05 06:32] julienGrd commented on #10877
Yes it can be the same problem !

I try to use the daily build
- I installed the last build (preview7)
- I added a Nuget.config with the configuration as expected

But my projects is still on preview5, I think i miss something to switch the nuget of my projects from preview5 -> preview 7

It seem the new Nuget.config in my project is not read/use.

[2019-06-05 06:52] dpr-dev commented on #10876
the server returns 404, but the URL changes from "https: // localhost: 44379 / api / SampleData / test2" to "https: // localhost: 44379"

[2019-06-05 06:54] glent1 opened #10882 "System.Text.Json based Javascript interop fails silently"
### Details

Since the move to System.Text.Json for serializing and deserializing objects sent to and received from javascript, any deserialization errors cause a silent failure with no exception and the thread of execution just disappearing into a parallel universe.

This can easily be triggered because it also appears DateTimes do not currently work with the serialisation.

I also have experienc

[2019-06-05 06:54] natemcmaster commented on #7548
It's a "nice to have", so it's ok if this doesn't fit in 3.0. Some c++ projects in the repo are using the VS 2019 toolset already. While they're is nothing technically wrong with using both the VS 2017 and 2019 toolsets, I think keeping our code consistent and using latest tools are good clean-code practices.

[2019-06-05 06:57] danroth27 commented on #10520
Dup of #10846

[2019-06-05 06:57] #10520 closed

[2019-06-05 06:58] SergeySeleznyov commented on #10725
@campersau,

Thank you!

[2019-06-05 07:07] danroth27 opened #10883 "Updating UI for all ASP.NET Core project templates"
Now that we have authentication support for Blazor, it looks pretty odd to have the mixture of styles from the Blazor templates and the default Identity UI. For consistency, we should align the styling of the Blazor templates with the rest of the ASP.NET Core templates, specifically the SPA templates.

[2019-06-05 07:16] hishamco commented on #5778
I'm not sure what's prevent us from using `IViewLocalizer` in views and `IStringLocalizer` else where to make the resources localizable, then when the app register those services and resources are added the localized resources will show up

[2019-06-05 07:27] pobisw opened #10885 "Wrong Summary for constructor in AuthenticationService.cs"
The summary for the constructor method in AuthenticationService says it takes IAuthenticationRequestHandler as a parameter, but actually it takes IAuthenticationHandlerProvider as an argument. So the summary should match the actual method

### Screenshots
![image](https://user-images.githubusercontent.com/28534218/58937970-800f3a00-8791-11e9-994a-9f7ac68cd7b5.png)

[2019-06-05 07:42] JamesNK commented on #9239
This is gRPC. Clients handle RST_STREAM and give the user a nice, known error status code.

However, I'll double check what other gRPC implementations do with the connection when they hit a deadline.

[2019-06-05 07:47] dazinator commented on #10833
Sorry I forgot to also include the `DockerFile.develop` which it seems is actually the one that is run and contains the build instruction that fails:

[code]

[2019-06-05 08:58] SteveSandersonMS commented on #10874
If you could post repro steps (i.e., a minimal amount code that's still enough for us to run it), we can certainly investigate. From what you've posted above I can't guess what's causing the issue I'm afraid!

[2019-06-05 09:00] SteveSandersonMS commented on #10847
I'm afraid we're unlikely to have access to the same hardware that you're describing, but we can run things in Docker.

Are you saying that you can reproduce the problem in Docker on a Windows 10 machine? If so, can you post steps for doing that?

[2019-06-05 09:02] EricHerlitz commented on #4669
I had the same issue and like @mstrong64 suggested remapping some claims was the key. In my case, the **name** claim was the problem, since it is stored as a claim in IdentityServer4 there can be multiple instances of it

Cleaning that up and we were good to go

`OnUserInformationReceived = async ctx =>
{
    var nameClaims = ctx.Principal.Claims.Where(x => x.Type.Equals(JwtClaimTypes.Name)).ToLis

[2019-06-05 09:03] Kiechlus commented on #4303
@blowdart Is there any workaround how this could be achieved? We rely heavily on Data Protection Middleware in our project but run into memory issues as we always have to copy large streams into a byte[] for encryption.

[2019-06-05 09:07] dazinator commented on #10833
It looks to me that this issue is because the target:

`/root/.nuget/packages/microsoft.aspnetcore.razor.design/2.2.0/build/netstandard2.0/Microsoft.AspNetCore.Razor.Design.CodeGeneration.targets(79,5): `

relies on 'Microsoft.NETCore.App', version '2.0.9' to do it's stuff, but the dotnet sdk 2.0 isn't installed on the mcr.microsoft.com/dotnet/core/sdk:3.0 docker image (which we are using to build

[2019-06-05 09:17] couven92 commented on #4672
I realize that the RFC 7005 is still a proposed standard, but nowadays all the big Social OAuth providers support token revokation, and Dominick from IdentityServer regularly points out in his talks that you should revoke your access token when signing out to make sure in cannot be used later.

It is also rather inconvenient to add this functionality yourself in your own app, especially if you hav

[2019-06-05 09:28] SteveSandersonMS commented on #4050
@rynowak This is great! I've also added a section on "Packages/assemblies" since it's likely we'll want to consider some renaming at that level.

[2019-06-05 09:34] sbuchok commented on #10874
I'll put something together tonight. Thanks for the quick reply back.

[2019-06-05 10:03] JamesNK opened #10886 "Customizing HTTP/2 abort response"
In gRPC there is the concept of a deadline. The deadline is sent by the client to the server with a gRPC call in a header. It is the client saying to the server "you have X seconds to finish this call, after-which give up".

* If the server finished the call in less than X sends then the response completes as usual.
* If the server exceeds the X seconds then it immediately finishes the HTTP/2 resp

[2019-06-05 10:09] SteveSandersonMS commented on #10831
I'm afraid I don't really understand the questions here. The way all positioning and layout is handled in web apps normally is through CSS, which people successfully use for all kinds of nested dialogs and similar. When CSS is used correctly, the movement of one DOM element will cause other related DOM elements to move to the correct new relative position.

So I'm not sure what else would be neede

[2019-06-05 10:10] ichensky opened #10887 "[blazor] url enconding sometimes not working with UriHelper.NavigateTo"
1. Create blazor page(just replace `counter` page from basic vs blazor template):
[code]
2. Write any not latin text, for ex. `тест` in the `second` `input` field,
page will be navigated to the `/тест` (in the browser url)
and in the input
you'll see 'тест'
3. Write any not latin text, for ex. `тест` in the `first` `input` field,
page will be navigated to the `/counter/тест` (in_ the browser url)

[2019-06-05 10:10] Mewgrammer commented on #10847
On Windows 10 the docker container runs fine. On the Odroid it fails with code 139 during "dotnet build".

[2019-06-05 10:10] Vetsoo opened #10888 "Partial views sometimes throw nullreference error on Azure App Service"
This might be a bit vague, and maybe also not the correct place to log this, but we have a very strange issue which happens only on our Azure App Service environment. In short: a certain view, which contains some partial views, when it is first loaded, sometimes throws a NullReference error on one of the partial views. It's not always the same partial view, sometimes it's the _header and sometime

[2019-06-05 10:12] JamesNK commented on #9239
@Tratcher Issue about gRPC and abort https://github.com/aspnet/AspNetCore/issues/10886

[2019-06-05 10:14] SteveSandersonMS commented on #10831
Oh wait I think I do understand you now. When talking about positions, you mean positions inside the DOM (like, which other element it's nested inside), not the position it gets rendered to on the screen.

The initial feature set we're going for is similar to other SPA frameworks. So for example if you wanted to render a tooltip that moves to whatever button the mouse is hovering over, you could e

[2019-06-05 10:17] SteveSandersonMS commented on #10847
Thanks for clarifying!

Given that, I'm not sure how we could investigate this within the ASP.NET Core team due to (1) not having that hardware, and (2) not doing anything hardware-specific in our code anyway.

It's most likely going to be a job for whichever team deals with porting .NET Core to run on ARM32. @danroth27 / @mkArtakMSFT Any ideas how we can redirect this to the right people?

[2019-06-05 10:19] DNF-SaS opened #10889 "Blazor Server: Deadlock when JavaScript-Interop is called directly after StateHasChanged()"
Consider the following code-snippet:

[code]
Running the code in this order (first StateHasChanged() then something with JS-Interop) causes Blazor Server to deadlock pretty often.
Looking at the log-output, the order is different than the code.
If Task.Delay(2000) is added at position [2/3], everything is fine.
(sorry for the vague description, but it's really hard to get grip on this issue and to

[2019-06-05 10:20] JamesNK commented on #7054
I think I fixed this with https://github.com/aspnet/AspNetCore/issues/4744

[2019-06-05 10:32] Stamo-Gochev commented on #10831
@SteveSandersonMS Yes, I should have clarified that the question was about the position of the element in the DOM hierarchy. The example you gave with the tooltip is similar to what I am looking for and rendering a special element on the page beforehand (the global tooltip analogy) is what I've found so far. The JS interop approach is fine, I was just wondering if changing the position will interf

[2019-06-05 10:45] urodolf commented on #10771
Thanks for your answers and your time.
- The server where we want to deploy has 20 Cores and 40GB of memory at our disposal so they are not limiting.
- We do not have limitation of memory process, but we have a warning from IT that if a process consumes a lot of resources it is killed by the system.
- We are also concerned that the process grows disproportionately and consumes all the resources of

[2019-06-05 11:14] DocVirus commented on #2773
I also spent much timr trying all the things mentioned here. But it was a simple server restart after .Net Core installation what helped me in the end.

[2019-06-05 11:23] egil opened #10890 "[Blazor] Why isn't RenderTreeBuilder using CallerLineNumber for sequence numbers?"
Hi all,

I understand we need sequence numbers to efficiently diff the render tree, but I am wondering why the [`CallerLineNumber`](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.callerlinenumberattribute?view=netcore-3.0) attribute cannot be used on methods in the `RenderTreeBuilder` class to get the result we need, without the maintainability issues related to hardco

[2019-06-05 11:23] Kahbazi opened #10891 "[Feature request] Sign In with Apple Authentication Handler"
Apple announces its new **Sign In with Apple** for authenticating. Do you have plans to add a `AuthenticationHandler` for it?

[2019-06-05 11:26] Difference commented on #5479
Please let me hurry up and grab that ignoramus hat back to somebody who actually deserves it, and sorry for not explaining better.

Quick answers :
_A shared cache_ for the Blazor.Browser.dll ,  mono.js , mono.wasm etc. files.

_Hosted by Microsoft_ at some sensible url, in the same way we can use resources such as bootstrap:
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.

[2019-06-05 11:46] Andrzej-W commented on #10803
@mkArtakMSFT  is this a real syntax?
[code]
Can we simply write HTML code in C# function? Can we use function parameters and full razor syntax in the function body, for example:
[code]
Will it be supported in `*.cs` files where we can create a definition for base Blazor compoment?

[2019-06-05 11:47] SteveSandersonMS commented on #10831
Using JS interop to set CSS styles that move the element around won't break the diff updates. But moving the DOM element into a different parent definitely will.

[2019-06-05 11:51] Mewgrammer commented on #10847
Some additional information about the hardware used:
I tested on single node of the Odroid MC-1 which is a Odroid xu4
Odroid xu4 uses the Samsung Exynos 5 (5422) Processor which is made up of a Cortex-A15  and Cortex-A7 which are both 32bit processors implementing the ARMv7-A architecture.

this is the Dockerfile I used to build my docker container:
https://github.com/Mewgrammer/dotnetCoreARMtest/

[2019-06-05 11:52] glent1 opened #10892 "Blazor non-functional in current daily (Preview 7 012261) - apparent SignalR/System.Text.Json compatibility problem"
### Describe the bug

Browser does not successfully connect to signalr on the server.  The server throws the following ...

Microsoft.AspNetCore.SignalR.HubConnectionContext: Error: Failed connection handshake.

System.MissingMethodException: Method not found: 'Boolean System.Text.Json.Utf8JsonReader.TextEquals(System.ReadOnlySpan`1<Byte>)'.
   at Microsoft.AspNetCore.SignalR.Protocol.HandshakePro

[2019-06-05 12:16] SteveSandersonMS opened #10893 "@bind:event not working on input element"
I thought the following would work:

[code]

... but it does not (it only updates on change, not on input).

To update on each keystroke, you have to use the following less obvious syntax instead:

[code]

Also I think we should drop`on` from these event names, as it feels less obvious than `@bind:event="input"`. The `on` prefix is a bit of a historical oddity in HTML/JS generally, e.g., more rece

[2019-06-05 12:17] guidevnet commented on #10881
I usually implement this as a one way binding, and then I use the onclick event to change the value. Something like:

    <input type="checkbox" checked="@isChecked" onclick="@checkboxClick"/>`

    @functions {
        bool isChecked = false;
        void checkboxClick()
        {
            if (isChecked == true)
            {
                isChecked = false;
            }
            else if

[2019-06-05 12:31] Stamo-Gochev commented on #10831
I will add some more details regarding the case in order to clarify things.

Basically, a "global" element that is shown using JS interop can be rendered on the page, but in more complex scenarios I need a way to dynamically add such global elements. For example, let's say that a multiple components that can be nested in other components need to render such a popup, e.g. dropdowns, autocompletes,

[2019-06-05 12:32] ichensky opened #10894 "[blazor]: feature "change current url""
Sometimes it is easier develop pages
not like:
1. User at page `/page`
2. User click `<a href="/page/123"` or button, that navigate user with `UriHelper.NavigateTo("/page/123")` to same page but with additional params.
3. Blazor app page handle "SetParametersAsync", "OnParametersSet","OnInit" methods and update page state.
(Now it is anyway needed to override "SetParametersAsync" method for cleari

[2019-06-05 12:34] SteveSandersonMS opened #10895 "Directive attributes are hard to type in editor"
While the new directive attributes feature is great, it feels like the editor experience needs a lot more review and polish. Trying to type them is quite a bizarre and hostile experience currently :)

Examples:

 * Try typing `<input @bind="@someText" @bind:ev`. It will prompt you to auto-complete `@bind:event`, which is perfect, but then if you press tab to accept the suggestion, it replaces what

[2019-06-05 12:38] SteveSandersonMS commented on #10831
That doesn't really fit within the model of a FRP UI system. The render output is not a stateful thing, but rather is the result of applying a render function to your app state. As such it fits better to have each location that can render a popup contain its own `<Popup>` that may or may not display visible output depending on application state.

[2019-06-05 12:52] Themikuma opened #10896 "Blazor validation for custom class"
I'm testing out Blazor and I've run into a validation issue. When validating a simple class I can just use annotations. If I have my own custom class inside though validation doesn't run for everything inside my custom class. The issue seems to be specific to Blazor since I can use this validation in ASP. I've got all the details in this Stack Overflow question https://stackoverflow.com/questions/

[2019-06-05 12:56] Stamo-Gochev commented on #10831
This is similar to the current situation, the structure looks like this:
The MainComponent itself consists of several sub components:
[code]
The MainComponent can be rendered anywhere on the page, but the PopupComponents' HTML should be appended to the "body" element and it can be then moved around using JS interop.

[2019-06-05 12:58] ZergZe opened #10897 "Data-* attribute throws "Attributes may only be added immediately after frames of type Element or Component""
### Describe the bug
Getting "InvalidOperationException: Attributes may only be added immediately after frames of type Element or Component" when add data-* attribute together with onclick handler on the same element:

### To Reproduce

[code]

### Expected behavior

[code]

Hope [this](https://github.com/aspnet/AspNetCore/issues/5071) will help when release, but not sure.

[2019-06-05 13:06] dazinator commented on #10833
I have tried to install dotnet sdk into the `mcr.microsoft.com/dotnet/core/sdk:3.` to correct this issue but I can't figure out how to install it. It's a debian10 based image and there are no instructions for installing dotnet core sdk into debian 10. The debian9 instructions here didn't work: https://dotnet.microsoft.com/download/linux-package-manager/rhel/sdk-2.1.700

I have opened a related iss

[2019-06-05 13:13] SteveSandersonMS commented on #9860
Yes

[2019-06-05 13:23] SteveSandersonMS commented on #8825
Overall, very much agreed. C# doesn't have a modifier that really matches the scenario perfectly.

Sounds like the best option if such an analyzer is feasible. I don't know the perf characteristics of analyzers in the IDE, but of course this means our analyzer has to inspect every property-set call in every method in every opened project while you're typing. If it scales to that then great.

We co

[2019-06-05 13:28] SteveSandersonMS commented on #5071
@rynowak Did this issue stall on us not concluding the syntax/name? Or do you consider the plan to be decided?

[2019-06-05 13:40] blowdart commented on #4303
Please don't comment on closed issues, especially one that has been closed over 6 months ago, it's generally luck that this will get noticed.

And no, there's no work around. It's not what it was designed for.

[2019-06-05 13:41] arivoir commented on #8493
I'm clear about registering the TypeConverter on the class, this way the converter can parse the string, but why is the ToString necessary?

[2019-06-05 13:45] Misiu opened #10898 "ASP.NET Core Webhooks"
[WebHooks ](https://github.com/aspnet/WebHooks) repository was merged into [AspLabs](https://github.com/aspnet/AspLabs) and it isn't getting any ❤️
There was [1.0.0-preview3-final](https://github.com/aspnet/WebHooks/releases/tag/1.0.0-preview3-final) but after that, the development lost its momentum or even stopped completely.
I don't see anything about WebHooks in the roadmap and in the announcem

[2019-06-05 13:51] julienGrd commented on #10881
Yes i try something like that but it's not the behavior expected
With your code, the value of variable is OK but on the browser the checkbox is really check, event if the variable stay false; (with chrome last version at least)

[2019-06-05 13:52] blowdart commented on #10891
Right now they're pushing javascript as the only way to sign-in with websites, rather than the more standard oauth/oidc flows.

Until they officially support a standards based login it is unlikely that we would, or could support it in the same way we support Facebook, Google et al.

[2019-06-05 13:54] blowdart commented on #10885
Would you like to create a PR?

[2019-06-05 13:55] Tratcher commented on #10873
Are you sure you started Kestrel and not IIS Express? IIS Express is the default profile when you hit F5 and it would require the name localhost in the url.

FYI Http1AndHttp2 requires SSL/HTTPS. This should have thrown.
[code]

[2019-06-05 13:57] Tratcher commented on #7054
No? #4744 was only for responses without bodies.

[2019-06-05 13:58] Kahbazi commented on #10891
It seems they support both javascript and rest api

[Sign In with Apple JS](https://developer.apple.com/documentation/signinwithapplejs)
[Sign In with Apple REST API](https://developer.apple.com/documentation/signinwithapplerestapi)

[2019-06-05 14:00] PinpointTownes commented on #10891
@blowdart it's based on OIDC. We posted more details there: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/issues/314

The JS script is just a way to trigger the OIDC authentication dance, using the hybrid flow.

[2019-06-05 14:06] blowdart commented on #10891
Oh I'm well aware, but no discovery document, no documentation, no "official" support. We're not about to "hack" it in.

[2019-06-05 14:16] PinpointTownes commented on #10891
Can't deny discovery is nice to have, but it's not part of the core OIDC spec, and thus not mandatory.

The good news is that ASP.NET Core's OIDC handler can work even without discovery, so those who want to use Apple Sign-in can give it a try. The tricky part will mostly consist in using the `AuthorizationCodeReceived` event to replace the `client_secret` before the token request is sent.

[2019-06-05 14:19] blowdart commented on #10891
No, but discovery is part of being well behaved, and indicates a level of support beyond a custom javascript client.

We're waiting for now.

[2019-06-05 14:29] PinpointTownes commented on #10891
My point is that there's nothing to wait for: one should be able to use the OIDC handler as-is with Apple Sign-in, without requiring any change to the handler itself 😄

[2019-06-05 14:30] rynowak commented on #5071
Correct. I'm proposing we use `@attributes`

[2019-06-05 14:30] honkmother commented on #5466
I was able to merge most of them together by just using ILRepack on the /dist/bin/ output, and including System.Core.dll. Startup times were improved after combining most of the libraries, but it introduced a lot of head-scratching bugs that I have no idea how to solve; and of course you're losing out on the ability to rely on caching for updated pieces of code without having to download the entir

[2019-06-05 14:34] astecenko commented on #10881
It may be necessary to call StateHasChanged() at the end of a handler method.

[2019-06-05 14:36] rynowak commented on #8825
This kind of thing actually works really well. You can to inspect **every** property when running a full build. When you're editing, you get to look at the class being worked on. The analyzer infrastructure just does this for you, it's pretty neat.

[2019-06-05 14:38] rynowak commented on #8825
The only concern that I have here is that we have people different guidance than we have been - but I think it's worth changing what we're doing, and in that case we can't avoid telling people to change their code.

IMO we would want to roll this out in preview 7 along with an analyzer that tells you to conform to our guidlelines. Then in preview 8 (or later) we remove supports for non-public prop

[2019-06-05 14:38] rynowak commented on #10847
@richlander - can you help route this?

[2019-06-05 14:40] rynowak commented on #4050
awesome. I know I've missed stuff because I only looked through a single assembly so far.

[2019-06-05 14:41] HaoK commented on #10864
@javiercn do you know if there's anything that changed in 3.0 in this area?  The old 2.2 scaffold identity onto a new MVC template flow doesn't seem to work now

[2019-06-05 14:44] SteveSandersonMS commented on #5071
Even for components, even ones that might not have anything to do with HTML rendering?

I feel a bit odd about this, but maybe we justify it by saying you're meant to think of it as a syntactical macro - you're asking the framework to pretend a bag of stuff was actually a bunch of attributes in your anglebrackets-source-code. It is strange though:

[code]

[2019-06-05 14:45] rynowak commented on #10744
The complete list of changes that have compat switches is here: https://github.com/aspnet/AspNetCore/blob/release/2.2/src/Mvc/Mvc.Core/src/CompatibilityVersion.cs#L84

You can turn off this behavior by setting https://github.com/aspnet/AspNetCore/blob/release/2.2/src/Mvc/Mvc.Core/src/ApiBehaviorOptions.cs#L112 to true

[2019-06-05 14:48] rynowak commented on #5071
I really don't want to pick a different name for applying extra attributes to components. That sounds like something we'll explain to users eternally.

[2019-06-05 14:53] SteveSandersonMS commented on #5071
Yep, having two names would be pretty sucky and I don't want that either. But the problems with `@attributes` are enough to make me think `@splat` or `@combine` or `@values` would be more satisfying in the long run.

[2019-06-05 15:00] julienGrd commented on #10881
Hum i add the StateHasChanged to be sure but no effect, the checkbox stay checked.

[2019-06-05 15:02] Tratcher commented on #10891
Walkthrough:
https://developer.okta.com/blog/2019/06/04/what-the-heck-is-sign-in-with-apple

That said, since the generic OIDC handler should work there's little reason to add a custom handler.

[2019-06-05 15:14] DrakeLambert opened #10899 "Compose Api Conventions & Individual Action Attributes"
This issue is in the context of asp net core web api development.

### Is your feature request related to a problem? Please describe.
[Api conventions](https://docs.microsoft.com/en-us/aspnet/core/web-api/advanced/conventions?view=aspnetcore-2.2) are not applied to any action that also specifies its own `[ProducesResponse...]` attributes. I understand that documentation states that multiple conven

[2019-06-05 15:17] rynowak commented on #10876
I suspect that what's happening here is the action is throwing and your error handler is what's returning a 404.

[2019-06-05 15:18] mkArtakMSFT commented on #10876
So looks like I referred to something which we never did. So I'm removing my statement above regarding 3.0 to avoid spreading wrong information out.
I had a chat with @rynowak  regarding this and what is most probably happening in your case is you're hitting the same exception as you do in 2.2, but... (and @rynowak just responded :) )

[2019-06-05 15:20] #10876 closed

[2019-06-05 15:20] rynowak commented on #10895
@NTaylorMullen - which ones of these are the issues that are already being worked on?

[2019-06-05 15:20] rynowak commented on #10882
@pranavkm

[2019-06-05 15:26] rynowak commented on #10833
Razor.Design 2.2 shouldn't be involved with a Blazor app anymore... I'll look into this, thanks for digging in to find more details.

[2019-06-05 15:26] BrennanConroy commented on #10892
This is a temporary point in time issue, you're using a newer SDK than AspNetCore has consumed which means we haven't been able to react to any breaking changes yet (in this case a method rename).

We'll probably fix this today or tomorrow.

[2019-06-05 15:28] rynowak commented on #10833
@dazinator - do you have `Razor.Design` listed in the .csproj?

[2019-06-05 15:31] dazinator commented on #10833
Nope. Here is my Blazor client csproj:
[code]

By the way I spent all day on this and managed to get the build to suceed by installing dotnet core sdk 2.1 into the sdk 3.0 docker image. Which wasn't a straightforward process. Here is a docker file with the ammendments necessary to complete a build:

[code]

[2019-06-05 15:44] mkArtakMSFT commented on #10803
@Andrzej-W, yes, this is the new way of mixing code and markup and it's supported in .cshtml files. Unfortunately, not in `.cs` files.
@NTaylorMullen I assume this is also the case for `.razor` files, correct?

[2019-06-05 15:58] dazinator commented on #10833
Ah ok so..

Perhaps its this...

My solution structure looks like this:

Hub.Platform.Client references Hub.Platform.Shared
Hub.Platform.Server references Hub.Platform.Shared
Hub.Platform.Server references Hub.Platform.Core
Hub.Platform.Server references Hub.Platform.Client

Hub.Platform.Core.csproj is probably the culprit - it's csproj looks like this:

[code]

It's a razor class library and it's

[2019-06-05 16:01] #9520 closed

[2019-06-05 16:01] mkArtakMSFT commented on #10898
Hi @Misiu.
That decision hasn't changed. Webhooks is not an area of focus for us and won't be in the near future.
//cc @danroth27

[2019-06-05 16:12] mkArtakMSFT commented on #10888
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2019-06-05 16:13] Tratcher commented on #7449
Accepted via tests, no out of band SDK testing required.

[2019-06-05 16:14] Tratcher commented on #4771
Covered in unit tests. Almost no clients support request trailers so I'm skipping manual tests.

[2019-06-05 16:14] NTaylorMullen commented on #10803
Yes, however that experience is less fleshed out so in order to have markup in local functions/codeblocks in .razor files you must pass in a `RenderTreeBuilder builder` parameter.

[2019-06-05 16:17] NTaylorMullen commented on #10895
All of the above completion issues will be fixed by @amadeusw's VS insertion and the formatting one will be fixed by @ToddGrun's insertion.

So, these are all known and are pending insertions into VS. I still plan to update the dogfood alias for when we have a viable VS build, stay tuned!

[2019-06-05 16:19] NTaylorMullen commented on #10895
Oh and the exception one is also fixed by @AmadeusW's changes.

[2019-06-05 16:19] SteveSandersonMS commented on #10895
That's great to hear!

[2019-06-05 16:23] Eilon commented on #10861
@natemcmaster / @leecow - any idea on this?

[2019-06-05 16:25] danroth27 commented on #10896
Hi @Themikuma. Thanks for trying out Blazor!
By default we only validate the data annotations on the top level properties. We understand though that it's pretty common to want to validate the entire graph and we should document how best to do this. We will first need to look into what we think the best approach is.

[2019-06-05 16:26] danroth27 commented on #10897
@ZergZe Could you please confirm what version of Blazor you are using?

[2019-06-05 16:30] danroth27 commented on #10894
@ichensky We do plan to address #7419. Given that we plan to do that, is there anything else that you are requesting here?

[2019-06-05 16:40] danroth27 commented on #10890
@egil Thanks for this suggestion! We'll take a look to see if this is something we can address.

[2019-06-05 16:42] javiercn commented on #10864
That needs to have services.AddRazorPages()

[2019-06-05 16:42] javiercn commented on #10864
and UseEndpoints also needs to add endpoints.MapRazorPages

[2019-06-05 16:43] Tratcher commented on #10886
How does it do that? It should only work if they send the trailers first as trailers after RST would be invalid.

I could image having an HTTP Feature and response extension for providing a Reset method with a custom error code (and another one for GoAway). Also including trailers would be complicated.

You still have a multi-threading race condition here though. Only one thread is supposed to tou

[2019-06-05 16:46] danroth27 commented on #10881
You need prevent default support for this, which is tracked by #5545.

[2019-06-05 16:46] #10881 closed

[2019-06-05 16:47] FlorianRainer commented on #10117
@anurse thanks for the investigation. I agree with your conclusions about high-availability scenarios and deployment.

But for me the more important case is the normal periodical application pool recycle.
Correct me if i'm wrong, but for this case no shadow copying would be neccessary because nothing changes in the web folder.

During the recycle process the IIS returns `IIS 10.0 detailed error -

[2019-06-05 16:47] Tratcher commented on #9239
Hmm, we might have to come up with a way to special case Abort as thread safe. Pre-resolve the feature?

[2019-06-05 16:47] HaoK commented on #10864
@seancpeters to confirm I'm remembering things correctly, the behavior we were seeing, was just putting AddDefaultIdentity in hosting startup would result in the areas not being found/rendering, but moving that line to Startup would make things work.

[2019-06-05 16:49] danroth27 commented on #10877
@julienGrd Do you have a simple project that reproduces the issue that we could take a look at? That way we can help up with the required migrations steps to move to preview6 builds.

[2019-06-05 16:52] danroth27 commented on #9692
The work here is to add the forwarded headers middleware to the Blazor dev server.

[2019-06-05 16:55] anurse commented on #9239
Special-casing `Abort` as thread-safe does seem OK to me. My understanding here is that the likely culprit for the null-ref is here: https://github.com/aspnet/AspNetCore/blob/214ca07b6c1efd48abd07ec10c50db9a6a4b830d/src/Http/Http.Features/src/FeatureReferences.cs#L68

Unless `FeatureReferences.UpdateCached` is getting inlined (I presume this stack is from a Debug build @JamesNK ?), that's the main

[2019-06-05 16:55] danroth27 commented on #9732
Thanks for reporting this issue! This should get addressed when we do the work for https://github.com/aspnet/AspNetCore/issues/5487.

[2019-06-05 16:55] #9732 closed

[2019-06-05 16:57] danroth27 commented on #9734
Hi @kjeske. We don't have any documentation yet on how to do this, but it is one of our main areas of focus for our next milestone (preview7).

[2019-06-05 16:58] anurse commented on #7548
It's still very nice to be on the hosted agents, and the consistency argument is one I definitely buy. We'll look at this in preview 8. I think it's really just about figuring out what mysterious MSBuild property is "resetting" the toolset version when building `iisca.vcxproj` (see https://github.com/aspnet/AspNetCore/pull/10093#issuecomment-490739435). It only seems to fail on CI though, so it ma

[2019-06-05 17:02] danroth27 commented on #9737
You can customize the UI to display different text. See https://docs.microsoft.com/en-us/aspnet/core/blazor/hosting-models?view=aspnetcore-3.0#reconnection-to-the-same-server for details.

We're not certain what you mean. Could you please provide some specific repro steps that demonstrate the problem you are seeing?

Yes, this is expected, but we do plan to improve the UI to clarify when the state

[2019-06-05 17:05] natemcmaster commented on #7548
https://github.com/aspnet/AspNetCore/blob/214ca07b6c1efd48abd07ec10c50db9a6a4b830d/eng/Workarounds.props#L16-L19

[2019-06-05 17:07] anurse commented on #2461
I'd like to revive this given that we've got some patterns forming in https://github.com/aspnet/AspNetCore/pull/10884 .

[2019-06-05 17:08] Tratcher commented on #7734
@brockallen thanks that worked for OIDC. Note IdentityServer token endpoint could provide a more detailed error for the failure scenario.
`Microsoft.IdentityModel.Protocols.OpenIdConnect.OpenIdConnectProtocolException: Message contains error: 'invalid_grant', error_description: 'error_description is null', error_uri: 'error_uri is null'.`

[2019-06-05 17:14] MGudgin commented on #3269
@davidfowl We're running into this issue when deploying Azure Functions apps as they use .NET Core 2.x. How can I track the progress/status of this fix being backported to 2.1/2.2?

[2019-06-05 17:15] natemcmaster commented on #7740
We're planning to use .slnf instead, so this script should be deleted. cref https://github.com/aspnet/AspNetCore/issues/10464

[2019-06-05 17:15] anurse commented on #7548
So do we need to remove that now? The devcommunity link seems to indicate that it's fixed.

[2019-06-05 17:25] Eilon opened #10902 "SignalR JS client example doesn't work. (solution within)"
_From @TW8B on Wednesday, May 8, 2019 8:33:14 PM_

aspnetcore/signalr/javascript-client/sample/wwwroot/js/chat.js requires an iife around start to start.

The sample appears to be based off the [JS SignalR tutorial](https://docs.microsoft.com/en-gb/aspnet/core/tutorials/signalr?view=aspnetcore-2.2&tabs=visual-studio) or vice versa, but with substantive differences around things like use or not of

[2019-06-05 17:25] Eilon commented on #10902
_From @davidfowl on Wednesday, June 5, 2019 4:19:01 AM_

Our in repo samples aren't really samples so no they shouldn't match. They are mostly for the team's own testing, more like a sandbox while the devs write code. We have a separate repository for samples and docs that we point at them.

[2019-06-05 17:25] Eilon commented on #10902
_From @karelz on Wednesday, June 5, 2019 4:38:51 AM_

@davidfowl so what is the action here? Close the issue? Or are there any follow ups/fixes/changes/investigation we should do first?

[2019-06-05 17:25] Eilon commented on #10902
_From @davidfowl on Wednesday, June 5, 2019 6:31:47 AM_

I tried to move it to asp.net but no go. Move it to aspnet

[2019-06-05 17:25] Eilon commented on #10902
_From @karelz on Wednesday, June 5, 2019 7:59:49 AM_

Which aspnet repo? I am using @Eilon's tool for cross-org moves btw: https://hubbup.io/Mover (Transfer issue is only in-org :()

[2019-06-05 17:25] Eilon commented on #10902
_From @davidfowl on Wednesday, June 5, 2019 1:51:09 PM_

the AspNetCore one.

[2019-06-05 17:27] natemcmaster commented on #7548
Yeah, if they fixed the issue in VS, let’s remove the workaround.

[2019-06-05 17:34] mkArtakMSFT commented on #3017
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-06-05 17:34] #3017 closed

[2019-06-05 17:34] mkArtakMSFT commented on #3017
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-06-05 17:35] mkArtakMSFT commented on #4156
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-06-05 17:35] #4156 closed

[2019-06-05 17:36] mkArtakMSFT commented on #4131
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-06-05 17:36] #4131 closed

[2019-06-05 17:40] mkArtakMSFT commented on #3725
Thanks for contacting us. We're closing this issue as there was no community involvement here for quite a while now. If you're still facing this issue, feel free to reopen it.

[2019-06-05 17:40] #3725 closed

[2019-06-05 17:40] natemcmaster commented on #10861
The binaries inside the .rpm for RHEL are the same bits that can be downloaded from this link: https://dotnet.microsoft.com/download/thank-you/dotnet-runtime-2.2.5-linux-x64-asp.net-core-runtime-binaries.

https://dotnet.microsoft.com/download/dotnet-core/2.2
![image](https://user-images.githubusercontent.com/2696087/58977279-3f59f580-877e-11e9-99df-de83c71d6b8a.png)

[2019-06-05 17:40] #10861 closed

[2019-06-05 17:41] mkArtakMSFT commented on #5630
Glad you've got this resolved, @omuleanu.

[2019-06-05 17:41] #5630 closed

[2019-06-05 17:44] mkArtakMSFT commented on #5680
Moving this to backlog as we have no capacity to handle this in 3.0 release.

[2019-06-05 17:47] #6121 closed

[2019-06-05 17:53] natemcmaster commented on #10693
Looks like https://github.com/aspnet/AspNetCore/issues/9431. MAX_PATH 🙄 The build is trying to copy to
D:\FLProjects\AspNetCore-master\AspNetCore\src\Mvc\Mvc.Api.Analyzers\testbin\Debug\netcoreapp3.0\TestFiles\ApiConventionAnalyzerIntegrationTest\DiagnosticsAreReturned_IfAsyncMethodReturningValueTaskWithProducesResponseTypeAttribute_ReturnsUndocumentedStatusCode.cs which exceeds the 260 limit by 4

[2019-06-05 17:55] natemcmaster commented on #9431
These really long file names are a continual source of grief for windows contributors who happen to clone our repo into anything other than something short like `C:\src\AspNetCore\`.

Would recommend shortening file names if possible. There isn't really another solution available.

[2019-06-05 17:59] danroth27 opened #10909 "Clean up which directive attributes expect HTML vs C#"
Currently you need to specify a leading @ character for event handler values. For example:

[code]

However, the leading @ character in the attribute value should not be required:

[code]

See the design notes in https://github.com/aspnet/AspNetCore/issues/6364

[2019-06-05 17:59] isaac2004 commented on #10693
@natemcmaster it should call out in the setup that building will more than likely generate a MAX_PATH exception if it is is nested folder. Guidance should be to clone the repo off the root of the disk (for Windows at least)

[2019-06-05 17:59] danroth27 commented on #10909
@NTaylorMullen

[2019-06-05 18:04] danroth27 commented on #10909
@rynowak It looks like this was the intended design for event handlers and bind, but what about directive attributes like `@key` and `@bind:format`?

[2019-06-05 18:06] precogtyrant commented on #10187
Just a quick update here -
The issue resurfaced with netcoreapp2.2 as well. Someone suggested clearing the nuget cache and after doing that and running `dotnet restore` it started working again.
Sorry for the trouble, however, this issue is something that a lot of people seem to be facing.

[2019-06-05 18:10] ajaybhargavb commented on #10909
As of now,
- `@ref`, `@bind`, `@bind:event`, `@bind-*` etc all expect CSharp
- `@bind:format`, `@key`, and `@onclick`(and friends) all expect HTML

I understand we should fix `@onclick` to expect CSharp. Should anything else be different in the above list?

[2019-06-05 18:17] seancpeters commented on #10864
@HaoK - that's correct.

[2019-06-05 18:23] schmitch commented on #9737
actually than the docs are misleading: https://docs.microsoft.com/en-us/aspnet/core/blazor/hosting-models?view=aspnetcore-3.0#improved-signalr-connection-lifetime-handling

btw. another cool feature would be to have an application that uses either server-side or client-side depending if the client can support wasm. of course that means that some services needs to be different on client/server side

[2019-06-05 18:26] Mike-EEE opened #10911 "Using Xaml Idioms in Blazor"
### Is your feature request related to a problem? Please describe.
I am trying to write Xaml but Blazor uses HTML. 😆

### Describe the solution you'd like
I am posting this here as part of another conversation that we're having in the Xaml repo: https://github.com/microsoft/microsoft-ui-xaml/issues/804#issuecomment-499189153  Essentially, it appears you can define Blazor components so that they ca

[2019-06-05 18:35] arivoir opened #10912 "Blazor Dynamic content generation"
I have a scenario where the content of a component is dynamic (A data grid), so I need to pass the RenderTreeBuilder to the model (rows and columns) to allow it to create the content of the cells dynamically. In order to allow the model to have "safe" sequence numbers I need the Open/CloseRegion to be public.

I also considered using razor components inside the cells but it's terrible slow. In my

[2019-06-05 18:42] arivoir commented on #10912
Another possibility is the sequence numbers inside a render fragment to be independent

[code]

[2019-06-05 18:50] scalablecory opened #10913 "HPACK multi-byte integer encoding writes past end of buffer"
The HPACK integer encoder will write past the end of a too-short buffer when encoding an integer into multiple bytes, on line 47 below:

https://github.com/aspnet/AspNetCore/blob/9cd2ad15ff2a306bab9894dc7c1926c196b3fa2e/src/Servers/Kestrel/Core/src/Internal/Http2/HPack/IntegerEncoder.cs#L36-L47

[2019-06-05 18:51] danroth27 commented on #9737
Ah, thanks for pointing that out! This content is misplaced (my bad!) and should be part of the SignalR docs. @guardrex

[2019-06-05 18:57] ryanbrandenburg commented on #10346
Removing the cookie-consent is done, now we just have to include it in the docs.

[2019-06-05 19:08] isaac2004 commented on #10346
@scottaddie do you need an issue to track the doc changes? I can probably add a section that shows the UI and Middleware if you point me to what doc it should go in

[2019-06-05 19:28] paultobey commented on #8753
Yes, this is significantly better than before:

Microsoft.AspNetCore.SignalR.Client.HubConnection: Warning: Failed to find handler for 'StationStatusChange' method.

Scheduling client upgrades now.

[2019-06-05 19:28] scottaddie commented on #10346
@isaac2004 Yes, please create an issue for this. The following doc would need to be updated for 3.0: https://docs.microsoft.com/en-us/aspnet/core/security/gdpr.

[2019-06-05 19:33] isaac2004 commented on #10346
@scottaddie done!

[2019-06-05 19:34] javiercn commented on #10803
I remember validating this on preview5. @NTaylorMullen @ajaybhargavb what is new here to validate?

[2019-06-05 19:43] isaac2004 commented on #10346
@ryanbrandenburg just realized I forgot to remove Privacy views. Since Cookie consent loads these, should they be removed as well?

[2019-06-05 19:51] NTaylorMullen commented on #10803
Combine this with more complex C# like in lambdas, around single line C# expressions etc. We did work here to make C# in code blocks more C# compliant. Basically several bug fixes 😄

[2019-06-05 19:52] NTaylorMullen commented on #10909
Ehhh, I thought in Blazor this was all intentional. @rynowak / @SteveSandersonMS would know better though.

[2019-06-05 19:58] NTaylorMullen commented on #6364
VSCode has been updated and [insertion should be complete soon](https://github.com/OmniSharp/omnisharp-vscode/pull/3097).

[2019-06-05 20:09] NTaylorMullen opened #10919 "[Tooling] Razor C# 8 nullability enforcement warns for @model XYZ at design time"
![image](https://user-images.githubusercontent.com/2008729/58986726-e21c6f00-8792-11e9-9732-ab8d1a8707f7.png)

This does not happen in runtime (dotnet build) scenarios.

[2019-06-05 20:09] NTaylorMullen commented on #10795
https://github.com/aspnet/AspNetCore/issues/10919

[2019-06-05 20:13] Maoni0 commented on #10771
thanks for the info @urodolf. what I'm seeing from the 2 charts you have is there's not a whole lot of difference between the LDS (live data size) (which is what you have in the 2nd chart) of ~300mb and the max mem in the 1st chart which is ~470mb. that's about 8.5mb of allocation per heap. I'd imagine each heap allows you allocate more than that before it triggers a GC. so if say your gen0 alloc

[2019-06-05 20:20] thepok opened #10920 "Vanila Install and Example not Working for me"
I have folowed https://docs.microsoft.com/de-de/aspnet/core/blazor/get-started?view=aspnetcore-3.0&tabs=netcore-cli and allways get a critik Exception on CLI or Visual Stuio when i try to run a serverside example:

`PS F:\repos> mkdir dotnetraw

    Verzeichnis: F:\repos

Mode                LastWriteTime         Length Name
----                -------------         ------ ----
d-----       05.06.

[2019-06-05 20:26] NTaylorMullen opened #10921 "Templates aren't C# 8.0 nullability compliant by default"
Not sure if this is something we want to do but figured i'd file an issue anyhow. Basically our templates aren't nullability enforcement compliant. For instance **RequestId**:

![image](https://user-images.githubusercontent.com/2008729/58987968-7daedf00-8795-11e9-988c-3ad55361779f.png)

[2019-06-05 20:26] NTaylorMullen commented on #10795
Wasn't in Razor but in general for templates: https://github.com/aspnet/AspNetCore/issues/10921

[2019-06-05 20:40] mkArtakMSFT commented on #9431
Given this is a long file-name caused issue moving back to @dougbu!

[2019-06-05 20:42] mkArtakMSFT commented on #10693
Resolving this as a dupe of the referenced issue, where we track the fix for the MAx_PATH issue.

[2019-06-05 20:42] #10693 closed

[2019-06-05 20:46] ryanbrandenburg commented on #10346
The Privacy page is also referenced in the footer (_Layout.cshtml), so we should keep that page.

[2019-06-05 20:47] #5832 closed

[2019-06-05 20:47] #10347 closed

[2019-06-05 21:00] mikaelm12 commented on #8753
Glad to hear it 👍

[2019-06-05 21:06] #9486 closed

[2019-06-05 21:13] vertonghenb commented on #8825
@rynowak I don't mind the breaking change, it's for the better and we're still in preview, so break it! 😄

[2019-06-05 21:16] rynowak commented on #10919
We need to replace the `__value = null` with `__value = !default` for nnrt

[2019-06-05 21:20] halter73 commented on #4708
The reason these are `Warning` logs is because they're unexpected, or at least they were unexpected when the code was originally written. That's why the message is the super generic: "Connection processing ended abnormally."

I think we just need to catch ConnectionAbortedExceptions specifically in Http2Connection.ProcessRequestsAsync() and log those as `Debug`. We can keep other Exception types a

[2019-06-05 21:20] sebastienros opened #10925 "[Perf] Regression on JsonInput2K"
![image](https://user-images.githubusercontent.com/1165805/58991269-b900dc00-879c-11e9-9013-ce8dfccf8fc5.png)

Here comparing System.Text.Json to Newtonsoft.

/cc @pranavkm who will explain why

[2019-06-05 21:24] halter73 commented on #7054
Though it did effectively fix the issue the special case of bodyless responses.

[2019-06-05 21:27] JamesNK commented on #10886
HEADER frame first, then RST_STREAM

![image](https://user-images.githubusercontent.com/303201/58991237-e6509700-883b-11e9-8f07-5cf4206f5caf.png)

Does that include HttpContext.Abort? How would you suggest implementing deadline functionality that I've described?

[2019-06-05 21:29] rynowak commented on #10909
I would expect `bind:event` and `bind:format` to expect HTML.

Key I'm not sure.

Others should be C#.

[2019-06-05 21:30] halter73 commented on #7054
@JamesNK resurrecting this thread got me thinking about if gRPC could use the response body PipeWriter to avoid sending the extra empty END_STREAM data frame. The problem I see is even with a PipeWriter, you want to call FlushAsync to observe backpressure.

The gRPC code could call Complete without calling FlushAsync, and then the Http2OutputProducer write loop wouldn't wake up until it could see

[2019-06-05 21:31] Tratcher commented on #10886
Yes, right now it does. Let's discuss the thread safety issue over on https://github.com/aspnet/AspNetCore/issues/9239#issuecomment-499164735.

[2019-06-05 21:31] sebastienros opened #10926 "[Perf] Impact of Logging providers"
![image](https://user-images.githubusercontent.com/1165805/58991976-6d4f3200-879e-11e9-9a1c-9af84ea1dd14.png)

Comparing PlaintextNonPipelined with and without a logging provider, even though nothing is actually logged (Warning level). What is interesting in the difference in committed memory on a scenario that is non-allocating.

/cc @halter73

[2019-06-05 21:32] ajaybhargavb commented on #10909
I edited the list. I meant to put `bind:event` along with `bind:format`.

[2019-06-05 21:34] sebastienros commented on #10926
Charts are for Linux, but it is the same profile on Windows.

[2019-06-05 21:44] egil commented on #10831
Stamo, if you cannot or do not want a component rendered behind a @if(condition) clause in each place it might show up, and if rendering it in one place and moving (or cloning/copying it) via JavaScript breaks the diff algo, the a third option could be to render the needed markup to screen using `MarkupString` class. That _might_ render it as basic HTML that the diff algo doesn't care about, and y

[2019-06-05 21:47] mkArtakMSFT commented on #10793
So I can confirm that this results in an error:
![image](https://user-images.githubusercontent.com/34246760/58992731-74773f80-87a0-11e9-8827-123768c45fa2.png)

and the below fixed code is fine:
![image](https://user-images.githubusercontent.com/34246760/58992852-c28c4300-87a0-11e9-9a1b-c47894354264.png)

[2019-06-05 21:47] halter73 commented on #9239
As you mention, one problem is that the whole feature collection is not thread-safe.

That being said, in Kestrel, IHttpRequestLifetimeFeature.Abort() *is* thread-safe, and accessing IHttpRequestLifetimeFeature specifically is also thread-safe since Kestrel stores the IHttpRequestLifetimeFeature object (which is the HttpProtocol instance unless it's been set to something else) in a dedicated objec

[2019-06-05 21:47] JamesNK commented on #9239
Instead of making DefaultHttpContext.Abort safe, an alternative is to move its logic into gRPC.

Current:

[code]

New:

[code]

But would that move the problem somewhere else, i.e `IHttpRequestLifetimeFeature.Abort` now throws because the request had just ended

[2019-06-05 21:54] halter73 commented on #9239
While I think it's good code hygiene to wait for any potential/scheduled calls to HttpContext.Abort() to complete before completing the middleware. However, at least in Kestrel, calling IHttpRequestLifetimeFeature.Abort after a request ends should not cause a problem other than potentially aborting a future request in HTTP/1.

In HTTP/2 we don't pool streams (which are represented the HttpProtocol

[2019-06-05 21:55] halter73 commented on #10886
Could we just add a new HTTP/2-specific feature that allows you to both abort the request and configure RST_STREAM all at once? Basically it would be a specially HTTP/2 version of support with extra parameters. Since you already control the timer callback that calls IHttpRequestLifetimeFeature.Abort(), I don't see the need for a callback-based API.

[2019-06-05 21:56] anurse commented on #9810
I'm going to file a separate issue for Kestrel updates.

[2019-06-05 21:57] halter73 commented on #7054
There's one more thing we can do right now without API if we think this is important. So far this has been fixed for the special case of bodyless responses, but we should be able to fix this in any case we know the body content length up front.

[2019-06-05 21:57] anurse opened #10927 "Kestrel should select best dev cert and warn if dev cert is out of date"
After https://github.com/aspnet/AspNetCore/issues/9810 we now have a new "version" field in the dev certificate. Kestrel needs to ensure it always picks the highest version that it supports when loading dev certificates, just in case multiple versions are available. Also, Kestrel should warn if the highest version it finds is earlier than the version Kestrel expects (as defined by a `LatestDevCert

[2019-06-05 21:57] anurse commented on #9810
Filed https://github.com/aspnet/AspNetCore/issues/10927.

[2019-06-05 22:17] JamesNK commented on #10886
`IHttp2AbortThingyFeature.Abort(Http2ErrorCode)` could be enough. I want to double check whether returning trailers with a gRPC deadline is a nice to have or not.

[2019-06-05 22:20] Tratcher commented on #10886
RE: Trailers, sending them would be a protocol violation if the response had a content-length and you hadn't already finished the body.

[2019-06-05 22:21] JamesNK commented on #9239
To be clear, I don't like the idea of HttpContext.Abort being called after the request has finished. I want to add state to gRPC to test and prevent abort being called.

[2019-06-05 22:24] NTaylorMullen commented on #10793
Thanks @mkArtakMSFT looks great!

[2019-06-05 22:27] JamesNK commented on #9239
FYI @davidfowl

Timer:
[code]

CancellationTokenSource + CancelAfter(TimeSpan):
[code]

[2019-06-05 22:28] pranavkm commented on #10925
This is likely due to the casing change @rynowak made: https://github.com/aspnet/AspNetCore/pull/10727

FYI @davidfowl

[2019-06-05 22:32] pranavkm opened #10930 "Verify Json scenarios with MVC and JSInterop"
* JSInterop scenarios
* MVC +System.Text.Json
* Features in System.Text.Json that need to be validated for preview7.

[2019-06-05 22:33] #10930 closed

[2019-06-05 22:37] Andrzej-W commented on #10803
@NTaylorMullen

Is it enough to have this parameter in a function as a marker or we have to use it to actually build render tree?

[2019-06-05 22:45] ryanbrandenburg commented on #10790
I'm mostly done here, I found one issue and want to make one clarification:

1. "Preserves original case of unmatched attributes" does not seem to hold true. If I put
[code]
with will be output in html as:
[code]
2. "Forwards unmatched attributes regardless of order" I'm not 100% clear on what this means. I assume it means "even if the unmatched attributes are in something other than alphabetical

[2019-06-05 22:47] NTaylorMullen commented on #10795
Verified

[2019-06-05 22:47] #10795 closed

[2019-06-05 22:47] NTaylorMullen commented on #10794
Verified

[2019-06-05 22:47] #10794 closed

[2019-06-05 22:49] #5812 closed

[2019-06-05 22:49] #10671 closed

[2019-06-05 22:50] sbuchok commented on #10874
Ok, so I was slightly off in what is happening. I have attached a solution that shows the issue. Here is what I found.

On the loading of the Index Page, text is auto set for the Shared Component (the component that I have set to Cascade to be available on all other pages). If I click the button that sets text for the Shared Component, there is a null reference error. However, if I navigate to ano

[2019-06-05 22:59] halter73 commented on #10926
The 5x memory usage is perhaps the most surprising thing to me here. Can we collect memory dumps from both the logged and non-logged scenarios for comparison?

[2019-06-05 23:05] halter73 commented on #9239
If only that were enough. It also blocks until any currently-executing registrations complete.

Make sure you don't acquire any locks while disposing CTS that one of your registrations may need. Otherwise you could end up with a deadlock where the disposing thread both waits on and prevents the cancellation from completing on another thread.

[2019-06-05 23:07] pranavkm opened #10933 "APIs on IMvcBuilder common to Razor Pages and MVC might be misleading"
Consider

[code]

APIs such as configuring `RazorViewEngineOptions` or `AddRazorRuntimeCompilation` apply to both controllers and Razor Pages, but the actual API usage has to be on one or the other:

[code]

One option might be to have the top level APIs also be extensions off of `IMvcBuilder` so it looks less awkward:

[code]

[2019-06-05 23:17] rynowak commented on #10933
We considered this design and rejected it. It didn't feel good to see things like `AddMvc().AddControllerWithViews().AddRazorPages()`.

If you're in a place where you're registering `AddControllersWithViews` and `AddRazorPages` you can use `AddMvc`

[2019-06-05 23:17] #10933 closed

[2019-06-05 23:35] pranavkm commented on #10933
The MVC templates currently have this pattern. Is that unintented?

[2019-06-05 23:36] rynowak commented on #10933
Which templates?

[2019-06-05 23:40] pranavkm opened #10935 "Remove Razor Pages specific things from the MVC (Model-View-Controller) template"
* Remove https://github.com/aspnet/AspNetCore/blob/a86a811f7b55c03f815b7ac37413a179e6459ba7/src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Startup.cs#L123
* Remove https://github.com/aspnet/AspNetCore/blob/a86a811f7b55c03f815b7ac37413a179e6459ba7/src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Startup.cs#L163

These should only appear in the Razor Pages tem

[2019-06-05 23:40] johnayoub commented on #9012
No I haven't but we'll run into the same issue of the managed identity token expiring. I could use the overload of `TokenCredential` as it takes a delegate to renew the token. Also, this is startup code and as far as I know none of the methods are async.

[2019-06-05 23:42] pranavkm commented on #10935
@rynowak pointed out these are probably required for IdentityUI

[2019-06-05 23:42] khteh commented on #10873
How to configure it to start kerstrel instead if IIS?

[2019-06-05 23:42] rynowak commented on #10935
^^^^

[2019-06-05 23:43] davidfowl commented on #10926
It’s not super surprising, what logger did you test?

[2019-06-05 23:44] pranavkm commented on #10802
There are some template cleanup we might want to consider: https://github.com/aspnet/AspNetCore/issues/10935, but the feature seems to work well.

[2019-06-05 23:44] #10802 closed

[2019-06-05 23:45] sebastienros commented on #10926
Console

[2019-06-05 23:53] mkArtakMSFT commented on #10785
@NTaylorMullen, @ajaybhargavb so is this a dupe? If so, please apply `duplicate` label

[2019-06-06 00:02] natemcmaster commented on #9012
Ah, so like when a long-running app needs to roll new keys? Yeah, try using this constructor: https://github.com/Azure/azure-sdk-for-net/blob/e7dc3b48c8037ee9cd04a428e454088f082e1d8c/sdk/storage/Azure.Storage.Common/src/TokenCredential.cs#L43

Let me know if that doesn't work.

[2019-06-06 00:07] #10791 closed

[2019-06-06 00:14] ryanbrandenburg commented on #10790
2 didn't mean what I thought it did (actually meant that if we have an unbound parameter, a bound parameter, then further unbound parameters they should all end up in the right place) but it's been verified.

Leaving this option to get @SteveSandersonMS's opinion on "Preserves original case of unmatched attributes", but that's relatively minor, so we can count this as done for release purposes.

[2019-06-06 00:45] mkArtakMSFT commented on #8533
@glennc and @blowdart waiting on resolution here from regarding the HTTPS enforcement statement above.

[2019-06-06 00:47] javiercn commented on #10803
Tried a bunch of stuff. Everything seems to be working just fine.

[2019-06-06 00:48] #10803 closed

[2019-06-06 00:58] Tratcher commented on #10873
https://i.stack.imgur.com/MUVJd.png
The second option is named after your project and runs Kestrel.

[2019-06-06 01:01] #10833 closed

[2019-06-06 01:12] kevinjpetersen commented on #5330
Anyone updates? @danroth27 @anurse
This is really waaanted! ^_^

[2019-06-06 01:16] khteh commented on #10873
![Screenshot from 2019-06-06 09-13-54](https://user-images.githubusercontent.com/3871483/59000146-c620d800-883b-11e9-96d5-83fe93a4035d.png)

[2019-06-06 01:19] Tratcher commented on #10873
Ah, VS Code... I don't know if that even supports IIS Express.

[2019-06-06 01:24] davidfowl commented on #10925
Wow, no bueno

[2019-06-06 02:00] davidfowl opened #10938 "Remove System.Threading.Channels from the shared framework"
System.Threading.Channels has been moved into Microsoft.NETCore.App (https://github.com/dotnet/corefx/pull/38207) so we can remove it from the ASP.NET Core shared framework.

cc @natemcmaster @anurse

[2019-06-06 02:08] davidfowl commented on #3269
@MGudgin I opened a PR for the backport here https://github.com/dotnet/corefx/pull/38291

[2019-06-06 02:13] pranavkm commented on #10899
@DrakeLambert ApiConvention will use the action's returned type for 200 \ 201 status code if it's able to infer it. If your convention and action were changed to look like so:

[code]

things should just work.

Ideally we want attributes to specifically apply only if you're doing something unconventional and have the conventions work for you in all other cases. The analyzer \ codefixes in the Api.

[2019-06-06 02:15] pranavkm commented on #10889
@DNF-SaS any chance you could share a minimal repro application for us to investigte?

[2019-06-06 02:22] Behnam-Emamian commented on #10565
I can catch the js exception and return null in c# part like this

`internal async Task<TEntity> GetRecordByIndexAsync<TEntity, TEntityIndex>(DatabaseStore databaseStore, string indexName, TEntityIndex searchQuery)
        {
            try
            {
                return await CallJavascriptAsync<TEntity>(DbFunctions.GetRecordByIndexAsync, databaseStore, indexName, searchQuery);

[2019-06-06 02:23] Behnam-Emamian commented on #10565
but I still received the error message in console like this:

![image](https://user-images.githubusercontent.com/9818491/59002477-e8bfea80-8855-11e9-8aa0-9f1905c7d06a.png)

[2019-06-06 02:47] davidfowl commented on #9486
This is for @anurse:

![image](https://user-images.githubusercontent.com/95136/59003405-a43b3d00-87ca-11e9-92a5-c247958d9a3a.png)

![image](https://user-images.githubusercontent.com/95136/59003413-adc4a500-87ca-11e9-9d5a-28020806dba3.png)

[2019-06-06 03:07] rynowak commented on #10790
@SteveSandersonMS  is there something that we're doing in the JS code to force attributes to lower case? I found this behaviour surprising and the compiled code has the original case.

[2019-06-06 03:10] #10344 closed

[2019-06-06 03:15] #10913 closed

[2019-06-06 03:17] #10554 closed

[2019-06-06 03:31] rynowak opened #10940 "Directive completion is flaking out when you type the entire directive"
On latest d16.2

![example](https://i.imgur.com/NbRDBzG.gif)

It looks like completion switches the C# once you type (but don't commit) the directive name.

[2019-06-06 03:32] rynowak commented on #10940
/cc @NTaylorMullen

[2019-06-06 03:39] NTaylorMullen commented on #10940
Interesting, I'm not seeing how we can control this other than from listening to TextBuffer change events and manually dismissing completions on specific deletes. I dug through this a little bit and it seems like a completion issue. @AmadeusW any insight?

[2019-06-06 03:48] anurse commented on #9486
![image](https://www.bing.com/th?id=OGC.66282c4d998c402196dddfea0b18769a&pid=1.7&rurl=https%3a%2f%2fmedia.giphy.com%2fmedia%2fA1etPWqtba6je%2fgiphy.gif&ehk=kIEAZ8MLNt%2bXOFFJ3Hidpg)

[2019-06-06 03:52] anurse commented on #5330
No concrete updates, and nothing planned for 3.0 (as most of the major feature work is winding down for that release), but this is still on our mind. One option we are considering is a mechanism to allow connection state to survive across reconnection (right now when you reconnect, it appears as a completely different connection). You would be required to use sticky sessions (which we already requ

[2019-06-06 04:22] danroth27 commented on #5071
I think `@attributes` is fine. The markup syntax is still elements and attributes, even if some of those elements are components that use attributes to specify parameter values. That's is how I describe the syntax for using components for folks that are new to Blazor: You use an HTML-like syntax where the element matches the component type name and the attributes specify parameter values.

I also

[2019-06-06 04:24] rynowak commented on #5071
Who didn't agree. Cool people or .... *them*?

[2019-06-06 04:26] halter73 commented on #10926
Are you thinking it's ConsoleLoggerProcessor threads?

[2019-06-06 04:31] #7548 closed

[2019-06-06 04:32] #10128 closed

[2019-06-06 04:36] Madhust commented on #10836
@mkArtakMSFT  Instead of wrapping sub components inside `ChildContent`, may be the blazor should provide constrain on allowed child components for a component and handle it by design.

The below code doesn`t look good for me.
[code]

I expect the `RenderFragment` to work similar to the `NgTemplate` of Angular.  The equivalent code of the above component in Angular is as below.

[code]

[2019-06-06 04:57] #10774 closed

[2019-06-06 05:04] #9810 closed

[2019-06-06 05:18] danroth27 opened #10942 "Ending a line with a semicolon in an `@code` block results in loss of indentation"
![code-indentation](https://user-images.githubusercontent.com/1874516/59008621-eae76200-87df-11e9-8685-26e35f9cc287.gif)

This doesn't happen if change `@code` to `@function`.

@rynowak @NTaylorMullen @ajaybhargavb

[2019-06-06 05:25] bradygaster commented on #4135
in progress amidst conf prep and post-move. will have a review to you two by EOW

[2019-06-06 05:35] mkArtakMSFT commented on #10836
Thanks for your feedback, @Venkat4655.
We'll keep this in mind and will observe how the rest of the community reacts to the current design choice we've made. If we hear a lot of feedback similar to your, we will reconsider our approach.

[2019-06-06 05:36] danroth27 commented on #10893
I expected `<input @bind="someText" @bind:event="oninput" />` to work (see https://github.com/aspnet/AspNetCore/issues/10909)

[2019-06-06 06:08] julienGrd commented on #10877
@danroth27 Unfortunately no, my app is definitively too complex, it's a migration from a big silverlight application where I load existing ViewModel and I let existing code drive the application.

I try to reproduce on a simple project, with two views with table with 5000 rows each and move from view to another but no way, on a simple project can be slow but still working.

What I can say more abo

[2019-06-06 06:09] natemcmaster commented on #10938
Thanks for the heads up. I expect the dependency flow PR that has this change will break in PR validation until we react

[2019-06-06 07:16] Vetsoo commented on #10888
@mkArtakMSFT Alright, i'll take some time to create a sample project for this.

[2019-06-06 07:24] Mike-EEE commented on #10911
Upon further reflection here, I may have been a little too impulsive in posting this. 😇  I will be doing further research, and if needed will make another post that's a bit more articulated.

FWIW, there appears to be an existing project that already _mostly_ accomplishes this here:
https://blazorise.com/

[2019-06-06 07:24] #10911 closed

[2019-06-06 07:42] davidfowl commented on #4768
Tested in a docker container:

[code]

[2019-06-06 08:21] poltergoid opened #10944 "integration tests using WebApplicationFactory fail when running in CI/CD pipelines from the output of dotnet publish"
### Describe the bug
I have an integration test project using Microsoft.AspNetCore.Mvc.Testing.WebApplicationFactory to test my ASP.net core web API. The tests work when running in Visual Studio.
Running 'dotnet publish {IntegrationTests.csproj} --output {output folder}' and then 'vstest.console.exe {integrationTests.dll}' works locally (after I've manually copied the dependencies file from the SU

[2019-06-06 08:51] urodolf commented on #10771
Thanks for your answer.
The information on how the asp.net core works until executing the GC calm us, anyway we will continue doing longer tests.
We will indicate the results of the tests as we have them.

[2019-06-06 08:54] SteveSandersonMS opened #10945 "Razor component item template uses wrong extension"
Steps:

1. In VS solution explorer, right-click on a folder inside a Blazor project (e.g., the `Pages` folder) and choose *Add* -> *Item*
2. From the dialog, choose *Razor Component*

Expected: Prompted file extension should be `.razor`
Actual: It's `.cshtml`

Sidenote: It would be great if the *Razor Component* item template also appeared in the initial context menu alongside *Razor Page* and *Co

[2019-06-06 09:05] ZergZe commented on #10897
@danroth27

Thank you for the response!
I'm using 3.0.100-preview5-011568.
Blazor (server-side).

[2019-06-06 09:17] hours10000 commented on #10701
Hi , I know, the reason of the first disconnect exception:
`Client timeout (30021ms) elapsed without receiving a message from the client. Closing connection.`
Then, I will get this exception:
`DEBUG (null) CoordServer.Hubs.ServerHub >>> OnDisconnectedAsync Start, exception: (null)`

This is because the Hub function "MessageBoxGetList" is a time-consuming function， the DefaultClientTimeoutInterval

[2019-06-06 09:36] balarvs2002 commented on #10861
@natemcmaster : Thanks , I will try out.

[2019-06-06 09:59] IronRate commented on #2202
services
                .AddMvc()
                .AddJsonOptions(options =>
                {
                    options.SerializerSettings.ContractResolver
                        = new CamelCasePropertyNamesContractResolver();

                });

This resolve for me

[2019-06-06 11:03] kevinjpetersen commented on #5330
@anurse Thanks for giving me a reply back.

That could possibly be a solution yes. In short, what I just want is some functionality where I can store a UserID after validating a User's Username and Password for my Administration App. Sessions is the obvious first-choice for me since it doesn't _dissappear_ when you refresh.

I'm using Blazor, which is why there's limited things I can try. I'm open

[2019-06-06 11:37] JamesNK commented on #10886
Ok, I've refactored gRPC deadline logic so that it no longer uses a Timer plus HttpContext.Abort

PR here - https://github.com/grpc/grpc-dotnet/pull/301/files

There is now a separate path the server uses when there is a deadline. It produces a better response than HttpContext.Abort, but it allocates a lot more.
* Before there was just a Timer. Allocations were 520B.
* With refactor there is a CTS

[2019-06-06 11:37] GeertvanHorrik opened #10947 "[Blazor] Simplified state change for specific properties"
### Is your feature request related to a problem? Please describe.

I am trying to update a *single* value from child => parent in Blazor. However, it's not picking up the change notification *unless* I call `StateHasChanged`. Unfortunately this causes the child component to be re-rendered as well, which is too much if I simply want to set the `IsDisabled` state.

### Describe the solution you'd l

[2019-06-06 11:41] GeertvanHorrik commented on #10947
The examples in the documentation use `OnInit`, so I assumed that would be the first moment I would have access to the parent. But it looks like the `CascadeParameter` is already available in the `OnParametersSet` method. This way I can still set the parent values from the child without re-rendering. It would be nice though to have smart updates (if possible).

[2019-06-06 11:53] hours10000 commented on #10701
But I still did not find out the reason why this happened:

`2019-06-06 19:39:34,256 [6] ERROR (null) Microsoft.AspNetCore.SignalR.HubConnectionHandler >>> Error when processing requests.
System.InvalidOperationException: Advancing examined to the end would cause pipe to deadlock because FlushAsync is waiting.
   at System.IO.Pipelines.ThrowHelper.ThrowInvalidOperationException_BackpressureDeadloc

[2019-06-06 11:54] urodolf commented on #10771
We have been running the service for 3 hours making requests and we have managed to reach the point where it starts to release memory so it seems that growth stabilizes after a while and the use of memory does not continue to grow.
Thanks for your help.

[2019-06-06 11:54] #10771 closed

[2019-06-06 12:36] kabforks opened #10948 "HTTP Error 502.5 - ANCM Out-Of-Process Startup Failure"
I get the dreaded "HTTP Error 502.5 - ANCM Out-Of-Process Startup Failure" after I upgraded to Core 2.2 from 2.0. I have not yet successfully started the application.

I've tried every trick I found on Google, like:
* deleting .vs folder and applicationhost.config
* reinstalling SDK, restaring machine etc
* tried both InProcess and not-inprocess
* tried to add IIS_IUSR as permissions on the folder

[2019-06-06 13:08] GeertvanHorrik commented on #10498
Same issue with this markup:

[code]

[2019-06-06 13:21] Puliczek opened #14323 "# in file paths results in 0 C#/HTML completion"
## Is this a Bug or Feature request?:
Bug

## Steps to reproduce
Write code in cshtml

## Description of the problem:
When I write code in cshtml, I don't get tips or errors for code.

![10_122](https://user-images.githubusercontent.com/12344862/59033912-334b6200-886a-11e9-905e-e93f14f3a0ec.gif)

However, I get tips and errors in .cs files.

I use sync extension to sync my extensions and settings.

[2019-06-06 13:22] puneetg1983 commented on #4131
@mkArtakMSFT - I believe this is **implemented** already by @davidfowl

[2019-06-06 13:38] SteveSandersonMS commented on #5071
OK. Philosophically, `@attributes` is different to how I've thought about the meaning of what appears in `.razor` files. It's a statement *about* Razor syntax, rather than being a *usage* of Razor syntax. For it to make sense, you have to think of it as being a macro or another kind of metaprogramming.

In the end none of the other options are ideal either, so I'll stop being perfectionist about t

[2019-06-06 13:51] isaac2004 opened #10949 "Cannot dotnet run templates created via build.cmd"
### Describe the bug
When contributing to the templates, the steps to build and create templates to test does not work as expected following the steps in the README

### To Reproduce
Steps to reproduce the behavior:
1. Follow steps to build templates from source in this repo
2. Attempt to `dotnet run` generated template

### Expected behavior
Get below error, looks like the project is not pointed

[2019-06-06 14:20] kabforks commented on #10948
Okay, I'm kinda stupid. I forgot to run `.Build().Run();`

[2019-06-06 14:56] ajcvickers commented on #6942
@blowdart @Tratcher @HaoK This is causing quite a few test failures, and also seems like a product bug that should be fixed. Can we figure out who it should be assigned to (as a product bug) and what the priority is?
/cc @anurse @Pilchie @mkArtakMSFT

[2019-06-06 15:32] Jehoel opened #10951 "Optimize the Authentication Cookie serialization format and add compression"
### Is your feature request related to a problem? Please describe.

I have a website which uses OIDC authentication with many custom claims (obtained from both the `id_token` and User Info Endpoint). After the user has signed-in their ASP.NET Authentication cookie was over 7KB in size (split by the chunking cookie manager into 3-4 different cookies).

This was unacceptably large as it hit cookie s

[2019-06-06 15:33] #10309 closed

[2019-06-06 15:37] mikaelm12 commented on #10001
Done here: https://github.com/aspnet/AspNetCore.Docs/pull/12653

[2019-06-06 15:37] #10001 closed

[2019-06-06 15:38] Eilon commented on #10951
Adding @blowdart because security & compression rarely go well together.

[2019-06-06 15:38] rynowak opened #10952 "Error for multiple CaptureUnmatchedValues properties isn't visible in the editor in .razor"
[code]

This error will not show up in the error list because it's in hidden code (the class declaration). It shows up when you do a build, but gives a path to the generated code.

We should adjust where this error appears (choose a property and place it there) or find a way to make the class declaration itself not be hidden code.

[2019-06-06 15:41] mikaelm12 commented on #9031
Closing this as we haven't heard from you in a little while. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue if we're able to identify the problem!

[2019-06-06 15:41] #9031 closed

[2019-06-06 15:43] davidfowl commented on #10951
@Jehoel why not share the implementation your github anyways so others can potentially benefit from the size optimizations made here?

[2019-06-06 15:44] xclud commented on #8825
I vote for the breaking change.

[2019-06-06 15:48] FluentGuru opened #10953 "EditForm: Add method to submit form async"
Right now you can only submit the `EditForm`  by adding a `button[type=submit]` and clicking it. I'd like to have a way to manually invoke the form submit with a method. Something like

`<EditForm Model=@model ref="myForm">
  <button on click="@(() => myForm.Submit())">Click me</button>
</EditForm>`

[2019-06-06 15:55] danroth27 opened #10954 "Missing completions for Router parameters"
I'm not getting completions for some of the new templated parameters on the Router component, like [NotAuthorizedContent](https://github.com/aspnet/AspNetCore/blob/master/src/Components/Components/src/Routing/Router.cs#L46):

![image](https://user-images.githubusercontent.com/1874516/59047499-da170a80-8838-11e9-8a2e-9a5ab956e3eb.png)

[2019-06-06 15:56] danroth27 commented on #10954
@rynowak looked into this and thinks the ref assemblies weren't updated for these new properties.

[2019-06-06 16:05] mkArtakMSFT commented on #10953
Thanks for contacting us, @FluentGuru.

@SteveSandersonMS I think this is a reasonable ask and quite common use case. What do you think?

[2019-06-06 16:09] Liander commented on #5071
In a mixed environment of C# and HTML I think it is a bit unfortunate to use the name attributes. Isn't something like `@apply` more descriptive?

[2019-06-06 16:12] Jehoel commented on #10951
@davidfowl I've published it just now to https://github.com/Jehoel/aspnetcore-auth-cookie-optimizations

[2019-06-06 16:19] BrennanConroy commented on #10766
`StartAsync` doesn't observe the hub method `OnConnectedAsync` before completing. If you change the try catch to be around `InvokeAsync` you'll see that the exception is actually coming from that call.
There is an implicit race between the connection closing from the server and the `InvokeAsync` call starting.

If you want to always observe the `HubException` then you need to wire up the `connecti

[2019-06-06 16:19] ryanbrandenburg commented on #10790
I think this is just something in the way that browsers handle attributes: If I just create a plain `.html` file with weirdly cased attributes they get lower-cased in Chrome and Firefox.

[2019-06-06 16:20] danroth27 opened #10955 "Add copy ctor to TagBuilder"

[2019-06-06 16:34] davidfowl commented on #5330
Why can't you use the current user id?

[2019-06-06 16:38] blowdart commented on #10951
So yea, given that Deflate was the compression used to attack TLS in the CRIME vulnerability, and part of the cookie contents can be under an attackers control I'd be very leery of this the risk versus reward doesn't seem attractive to me.

[2019-06-06 16:38] jkotalik commented on #10948
@kabforks glad you figured it out. We are working on making the diagnostics better when you have a startup exception in 3.0 for both In-Process and Out-Of-Process. Next time you would hit this issue with In-Process, you would see the developer exception page.

Going to close. Feel free to reopen if necessary.

[2019-06-06 16:38] #10948 closed

[2019-06-06 16:41] kosancicivan commented on #9031
Sorry for the delay on my side. I don't work for the company anymore so I don't have access to their code. I have contacted someone from their team that works on this feature, maybe they will respond in the near future.

[2019-06-06 16:42] Tratcher commented on #10951
The table of unique strings sounds promising. HTTP/2 HPACK does something similar. Even just extracting the issuer is likely most of that benefit?

[2019-06-06 16:48] sebastienros opened #10956 "[Perf] Connection creation"
![image](https://user-images.githubusercontent.com/1165805/59050822-2e71b880-8840-11e9-9178-819df5ab77c3.png)

Detected a regression in connection creation over http. Https didn't change. More pronounced on Windows.

[2019-06-06 16:49] anurse commented on #5330
Also, I believe Blazor does have a persistent ID (the "circuit ID") across multiple connections. I don't know what, if any, access you have to store data associated with that ID though. (cc @rynowak)

[2019-06-06 16:52] #4739 closed

[2019-06-06 16:59] blowdart commented on #10951
There's no way to tell which is and isn't user data. As Chris says the unique strings, for claim names, is doable, but for values, that's just way too risky, and because of the high risk it's not something I'd feel comfortable being being a yes/no switch, because, in all honestly, people will turn it on for performance without understanding the risks.

[2019-06-06 17:01] Tratcher commented on #10951
@Jehoel Claims in the AuthenticationTicket are frequently based on user profile data, which they can edit elsewhere in the app.

Cookie Auth is not in a position to discriminate between which fields should and shouldn't be compressed, that requires application level knowledge. DeflateStream compression is not an option.

[2019-06-06 17:09] egil commented on #10947
Geert, nicely spottet. I had a similar issue and was using OnInit as well.

[2019-06-06 17:09] rynowak commented on #10944
/cc @javiercn

[2019-06-06 17:20] kevinjpetersen commented on #5330
@davidfowl I tried, but it seems like that ID changes every time I refresh the browser.

[2019-06-06 17:26] ajaybhargavb commented on #10893
To add more info, this is not a regression. This just was never supported.
In the past we could either do `<input bind="someText" />` or `<input bind-value-oninput="someText" />`. There was no way to infer the `value` part but specify the event.

[2019-06-06 17:27] anurse commented on #5330
The `Context.UserIdentifier` value wouldn't change if the user was authenticated. That's derived from the `HttpContext.User` value. The `Context.ConnectionId` value **will** change.

[2019-06-06 17:30] rynowak commented on #10893
Not a regression, but we should support it 👍

[2019-06-06 17:36] #10790 closed

[2019-06-06 17:36] guftall commented on #5241
Hi. remove these line of codes in `Startup.c`:
[code]
I solved this scenario with just using `StaticFileOptions` in my routing.
[code]

[2019-06-06 17:37] javiercn commented on #10944
This is not a supported scenario out of the box for web application factory. That said, WAF can be extended to support this by adding your ownhttps://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.Testing/src/WebApplicationFactoryContentRootAttribute.cs to the test assembly. Pointing at the content root of the published app.

[2019-06-06 17:37] kevinjpetersen commented on #5330
@anurse I see.. how do you authenticate with Context.UserIdentifier?

[2019-06-06 17:46] pranavkm commented on #10691
Using `AddPageRoute` makes it the default route for link generation. Essentially any other route associated with that page do not participate in link generation. There's a bug in MVC where calling `AddPageRoute` multiple times prevents previously added route from being used for link generation. That said, you could write a convention that configures the routes for the page. Here's what the `AddPag

[2019-06-06 18:02] #10691 closed

[2019-06-06 18:05] NTaylorMullen commented on #10945
@ryanbrandenburg do we control this?

[2019-06-06 18:09] pranavkm commented on #10954
Yup, looks like it: https://github.com/aspnet/AspNetCore/blob/master/src/Components/Components/ref/Microsoft.AspNetCore.Components.netstandard2.0.Manual.cs#L266-L277

[2019-06-06 18:11] ryanbrandenburg commented on #10945
No clue. I thought it might be controlled by something in https://github.com/aspnet/Scaffolding but I don't see any evidence of that. You'll have to find someone on the VS tooling team.

[2019-06-06 18:14] NTaylorMullen commented on #10945
@seancpeters Do you happen to know who controls this?

[2019-06-06 18:17] ajaybhargavb commented on #10942
I can reproduce this as well. This is so weird. @NTaylorMullen do we special case `functions` anywhere in our tooling? Or maybe WTE special cases it?

[2019-06-06 18:19] #10868 closed

[2019-06-06 18:40] natemcmaster opened #10958 "Microsoft.Extensions.ApiDescription.Server contains a runtimeconfig.dev.json"
Was reviewing build output and found an unexpected file type.

[code]

This file shouldn't be in the .nupkg. It is only supposed to use in local development because it will contain file paths that are machine-specific.

![image](https://user-images.githubusercontent.com/2696087/59057677-c7f49680-884f-11e9-80b6-d6fd3455f996.png)

cc @dougbu

[2019-06-06 18:47] NTaylorMullen commented on #10798
Extremely minor: https://github.com/aspnet/AspNetCore-Tooling/pull/662

[2019-06-06 18:51] phenning commented on #10945
As to the first question about the incorrect default filename for Razor Component, I checked in a fix to the vstemplate file stub for that template yesterday. It should flow into Visual Studio builds in the next few days.

In regards to the sidenote, this is something that would need to be implemented in the VS Web Tools component.

[2019-06-06 19:12] isaac2004 commented on #5431
Looks like Angular 8 was released end of May, I can add it

[2019-06-06 19:18] anurse commented on #5330
Well, it's up to you to handle authentication. Once authenticated you have two values to go on:

* `Context.User` - The full `ClaimsPrincipal` provided by authentication. You can use whatever value your auth system provides to key user-specific data
* `Context.UserIdentifier` - This is a single claim from `Context.User` that SignalR picks to use as the ID used to "select" this user in `Clients.Use

[2019-06-06 19:26] FluentGuru commented on #10953
@mkArtakMSFT I made a workaround to have this functionality while it's being implemented
https://gist.github.com/FluentGuru/1d7c6af745906871332a9ac4dd14954c
This extension method takes the implementation inside EditForm.cs
https://github.com/aspnet/AspNetCore/blob/67b665208c94908ef8503e39d54e078a2ea778dc/src/Components/Components/src/Forms/EditForm.cs#L120

I might make a PR to properly implement

[2019-06-06 20:14] natemcmaster opened #10963 "Incorrect installation instructions for template packages"
In most of our templates packages, `$(PackageId)` is empty when `<Description>` is set, so the instructions generated for the package description contain inaccurate installation instructions.

Example: https://www.nuget.org/packages/Microsoft.DotNet.Web.Spa.ProjectTemplates/3.0.0-preview5-19227-01

![image](https://user-images.githubusercontent.com/2696087/59063429-ead97780-885c-11e9-9a9d-a4e581cd

[2019-06-06 20:22] blowdart commented on #10951
@Jehoel Do you understand why this makes us nervous from a security POV? It's the same reason we don't turn on response compression over HTTPS, it's just you've narrowed the worries to just cookies.

[2019-06-06 20:22] drchilds opened #10964 "dotnet run fails on webapi project with typeload exception on System.Text.Json.Serialization.JsonSerializerOptions"
### Describe the bug
On nightly build 3.0.100-preview7-012283, any call to UseEndpoints => MapControllers results in System.TypeLoadException: Could not load type 'System.Text.Json.Serialization.JsonSerializerOptions' from assembly 'System.Text.Json, Version=4.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'.

Possibly related to https://github.com/aspnet/AspNetCore/issues/10373

### Repro

[2019-06-06 20:25] danroth27 opened #10965 "Inconsistent casing of LoginDisplay component"
In the server-side Blazor template with auth enabled the layout refers to a `LogInDisplay` component but the file name is `LoginDisplay.razor`.

[2019-06-06 20:27] Jehoel commented on #10951
@blowdart Yes, I understand and I agree with you.

Disregarding compression, are my other suggestions such as using a codebook for common claim types (but not claim values), value.types, issuers, and preventing double-base64-encoding of `AuthenticationProperties.Items` still able to be considered?

[2019-06-06 20:27] kevinjpetersen commented on #5330
@anurse That makes alot of sense, and is probably what I want, but what I was asking is how to handle the authentication itself. Is there a Class/Function in Blazor Components I can call to "Log In/Authenticate" ?

[2019-06-06 20:31] blowdart commented on #10951
That would be interesting to attempt yes :) But it'll have to go into the backlog for now, until we consider new features for 4.0

[2019-06-06 20:35] clayellis commented on #6783
Now that Swift has reached ABI stability (and soon module stability), I think the "immaturity" argument against Swift has lost most of its steam. Definitely interested in seeing a native iOS client.

[2019-06-06 20:36] DrakeLambert commented on #10899
Thanks @pranavkm! This solution worked perfectly. Is this behavior documented?

[2019-06-06 20:38] Tratcher commented on #10951
Those are worth evaluating on a case-by-case basis. Can you post an updated proposal (without DeflateStream) that breaks down the optimizations separately? The low complexity items that save the most (e.g. deduplicating the issuer) are the most interesting. The base64 optimization is suspect because it makes format assumptions for opaque fields.

[2019-06-06 20:41] rynowak commented on #10942
I wonder if Roslyn special cases it.... @heejaechang - does Roslyn have knowledge or special case formatting logic for `@functions`?

[2019-06-06 20:49] mikaelm12 commented on #10788
Following up on this, you can use the LongPolling transport on the ASP.NET Core SignalR Java client like so
[code]

[2019-06-06 20:49] rynowak commented on #8493
ToString is used to convert the value to a string. We don't use the type converter at this point because we don't easily know what cases require it.

[2019-06-06 20:55] bradygaster commented on #6783
@clayellis we are leaning in the Swift direction per our last conversation on the topic. Have you tried any of the OSS clients out there available for iOS? Would that be an option for you if we can't get it done in time for your requirements?

[2019-06-06 21:00] NTaylorMullen opened #10967 "@bind-value on its own results in an error."
Edit: At this point we only want to support `@bind-value` on its own. See below comment for more details.

### Describe the bug
Writing `<input @bind-custom="SOMEVALUE" />` results in an `RZ9991` error.

### Expected behavior
No errors and things just work.

### Screenshots
![image](https://user-images.githubusercontent.com/2008729/59066070-0ba4cb80-8863-11e9-92f9-7e20f912acdc.png)

### Additional

[2019-06-06 21:04] NTaylorMullen commented on #10498
@GeertvanHorrik that code is by design. We don't allow having partial HTML tags split among different code blocks.

[2019-06-06 21:10] clayellis commented on #6783
Glad to hear that. Yes, actually — I'm using [SwiftSignalRClient](https://github.com/moozzyk/SignalR-Client-Swift) at the moment. It's a pretty decent client and does the job.

[2019-06-06 21:14] pranavkm commented on #10899
@DrakeLambert doesn't look like it: https://docs.microsoft.com/en-us/aspnet/core/web-api/advanced/conventions?view=aspnetcore-2.2. I'd be happy to review a PR if you'd like to contribute a doc update.

[2019-06-06 21:17] DrakeLambert commented on #10899
@pranavkm That was exactly what I was thinking. I'll give it a shot soon.

[2019-06-06 21:22] serpent5 opened #10970 "Creation of an Identity User via External Login doesn't set AuthenticationMethod"
When signing in with an external provider for the first time, the Default UI for Identity doesn't set the `ClaimTypes.AuthenticationMethod` claim.

In [`ExternalLoginModel<TUser>.OnPostConfirmationAsync`](https://github.com/aspnet/AspNetCore/blob/master/src/Identity/UI/src/Areas/Identity/Pages/V4/Account/ExternalLogin.cshtml.cs#L174), I think the [call to `SignInAsync`](https://github.com/aspnet/A

[2019-06-06 21:25] ririlele opened #10971 "SSL Certificate chain not sent when signed by one or more Intermediate CAs"
I am setting up SSL on my Kestrel Linux server using .NET Core 2.1.1.

The SSL certificate is signed by an intermediate CA.

The SSL certificate contains intermediate and root CA.

I load the pfx file as a X509Certificate2 object and use this for the server certificate.

It seems to be that the way I have set this up, the intermediate CA is not sent as part of the handshake and only the leaf is se

[2019-06-06 21:25] SteveSandersonMS commented on #10954
I definitely agree we want this to work, but what I don't understand is this: why is it working fine for me anyway?

![image](https://user-images.githubusercontent.com/1101362/59067521-bd66eb00-88a9-11e9-9cd3-9c677f24c433.png)

It compiles, and it works correctly at runtime. I'm on SDK 3.0.100-preview6-012254, using packages version 3.0.0-preview6.19304.11, and VS 29004.115.d16.2, all of which are

[2019-06-06 21:31] arivoir commented on #8493
The idea of using the TypeConverter is to parse the string to the actual class, not the other way round. Can you clarify? I'm really confused by your statement. Will TypeConverter work or not?

[2019-06-06 21:37] ririlele commented on #10971
Oops, sorry.
Please delete

[2019-06-06 21:38] RemiBou commented on #10729
@danroth27

Here are easier step for repro

[code]

You will see the error message displayed on the web page during the e2e tests

[2019-06-06 21:38] blowdart commented on #10971
No no, it got moved to potentially the right place now :)

[2019-06-06 21:38] #10828 closed

[2019-06-06 21:43] dougbu commented on #10958
Shoot. Missed this addition to the .nupkg. Same also don't need the dotnet-getdocument.runtimeconfig.dev.json file. But, both *.runtimeconfig.json files are needed for 3.0 compatibility.

[2019-06-06 21:44] dougbu commented on #10958
Do you happen to know if there's a switch somewhere to disable *.runtimeconfig.dev.json generation? If not, I'll have to do a weirdo exclusion in the .csproj files.

[2019-06-06 22:34] pranavkm commented on #10964
@drchilds there was a breaking change to the System.Text.Json made fairly recently that AspNetCore hasn't reacted to as yet. This should get resolved once this repo pick up new builds of the CoreFx and reacts to the breaking change.

FYI @BrennanConroy

[2019-06-06 22:34] #10964 closed

[2019-06-06 22:36] pranavkm commented on #10954
@SteveSandersonMS the difference might be serverside-blazor. Client side blazor uses the "runtime" binary, serverside uses the ref assembly which is out of date.

[2019-06-06 22:39] pranavkm commented on #6532
Fixed in https://github.com/aspnet/AspNetCore/commit/ba8c6ccf6fd3eeb7fc42a159d362b15eae4fb3a0

[2019-06-06 22:39] #6532 closed

[2019-06-06 23:00] kevinjpetersen opened #10973 "ComponentBase Async Methods aren't Async by Default"
### Describe the bug
In the "@Functions" section of a Blazor Component, when using the auto complete of the virtual async methods (That can be overriden), the generated code from the auto complete doesn't have an "async" tag on the method.

### To Reproduce
Steps to reproduce the behavior:
1. Using ASP.NET Core 3.0 Preview 5
2. Add a "@functions" section to a Blazor Component
3. Auto complete a vi

[2019-06-06 23:06] anurse commented on #5330
Ah I see, ASP.NET Core has a common authentication model and I believe Blazor will tie in to that (but I'm not positive, cc @rynowak). There are docs for that on [our Documentation site](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?view=aspnetcore-3.0&tabs=visual-studio) (that link starts with ASP.NET Core Identity, which is a full identity management system but th

[2019-06-06 23:41] jeffputz opened #10975 "External logins should use client ID/secret set at login time to not impede multi-tenancy"
## Problem
Setting up external logins (i.e., social logins) is currently accomplished via configuration in Startup, setting the client ID's and secrets at app start. In a situation where the application runs as a multi-tenant app, it should be possible to set the ID and secret at the time of the login.

## Possible solution
One solution I've toyed with is to break the link between `OAuthHandler`s

[2019-06-06 23:59] khteh commented on #7772
Can you show the fix for 2.2?

[2019-06-07 00:18] GitMonkey007 commented on #10744
@rynowak @Tratcher - Thanks both for your input, consider this solved.

For anyone else following...

With CompatibilityVersion.Version_2_2 and

    services.ConfigureApiBehaviorOptions(options => options.SuppressMapClientErrors = true);

I return the result as expected.

Alternatively I can just do .SetCompatibilityVersion(CompatibilityVersion.Version_2_2); and implement IClientErrorFactory, repl

[2019-06-07 00:18] #10744 closed

[2019-06-07 00:59] rynowak commented on #8493
Yes, the type converter is used in parsing.

[2019-06-07 01:00] rynowak commented on #10973
This is the same as the behavior of all C#. I'd suggest reporting this suggestion at https://github.com/dotnet/Roslyn

[2019-06-07 01:30] jkotalik commented on #10927
I actually think we don't need to do anything for this issue. Today, kestrel calls EnsureDefaultCert to get a dev cert, which will call CertificateManager.ListCertificates. This function already verifies the version matches, meaning the dev cert will not be present if it isn't up to date.

From what I can tell, Kestrel will only select one certificate when finding the dev cert: https://github.com/

[2019-06-07 01:30] natemcmaster commented on #10958
There is no knob to suppress runtimeconfig.dev.json generation. The better fix here is to package dotnet-publish output instead of dotnet-build output:

https://github.com/aspnet/AspNetCore/blob/b6d8c96a98c9e5673cd10162616ed98799c60d88/src/Mvc/Extensions.ApiDescription.Server/src/Microsoft.Extensions.ApiDescription.Server.nuspec#L25

[2019-06-07 01:47] Jehoel commented on #10951
@Tratcher my code has a flag in it to disable the compression while applying the other optimizations ( https://github.com/Jehoel/aspnetcore-auth-cookie-optimizations/blob/master/OptimizedTicketSerializer.cs - `Boolean deflateCompress` ).

My code in ( https://github.com/Jehoel/aspnetcore-auth-cookie-optimizations/blob/master/BinaryIOExtensions.cs ) verifies that the opaque field's format is Base64

[2019-06-07 03:18] anurse commented on #10927
Sure, the biggest thing I want to know as part of this is what does a user who has the old cert but somehow **didn't get migrated during the first-run or VS experiences** sees when they start up a 3.0 app using Kestrel.

[2019-06-07 03:19] danroth27 commented on #5330
@kevinjpetersen We have implemented integrated authentication and authorization support in Blazor for our up coming .NET Core Preview6 release. You can read about it here: https://github.com/aspnet/AspNetCore/issues/4048

[2019-06-07 03:55] rynowak commented on #8825
@pranavkm @SteveSandersonMS - please give this a look over and make sure it all makes sense.

[2019-06-07 03:57] rynowak commented on #10954
Ah. Well that's a good explanation at least. At least it work for the workshop! I was just reviewing the code and came here to see if there was an explanation.

[2019-06-07 03:59] ganu81 commented on #5465
This is one of the key must-have feature that is missing and keeping us from adapting Blazor. The concept of representing Areas (https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/areas?view=aspnetcore-2.2) as lazy-load modules would be a good approach. Until this feature is added, it is hard to consider Blazor for medium to large size enterprise applications.

Please consider this as a

[2019-06-07 04:44] DanTsion commented on #10353
Hi, i had the same issue and I removed from my project this ItemGroup
[code]

[2019-06-07 05:32] danroth27 commented on #10729
OK, I see the error:

![image](https://user-images.githubusercontent.com/1874516/59083142-f784bc80-88aa-11e9-84f1-b578be7e073c.png)

[2019-06-07 05:43] danroth27 commented on #10729
Here's the relevant code from the layout:

https://github.com/RemiBou/Toss.Blazor/blob/pure-css-no-bootstrap/Toss.Client/Shared/Layouts/MainLayout.razor
[code]

[2019-06-07 05:52] ichensky opened #10977 "[blazor]: typeparam pass array into component"
1. Create blazor component

[code]

2. Try to pass into it array as parameter. And you'll get an error:

[code]

3. If change type from `T[]` to `List<T>` everything begin work OK.

[2019-06-07 06:00] davidfowl opened #10978 "Implement accept back pressure for libuv transport"
Today the libuv transport accepts connections into a queue before the server calls accept. We should bound this queue and only accept a certain number of connections.

cc @halter73

[2019-06-07 06:37] danroth27 commented on #10878
Here's the build output on publish (note that the app builds and runs fine locally):

[code]

@vijayrkn FYI, looks like we still have an issue with publishing ASP.NET Core hosted Blazor apps to Azure.

[2019-06-07 07:06] ichensky opened #10979 "[blazor]: closures in `for`, `while`"
1. Create page
[code]
2. Click on any button as a result you'll see always `10`

Maybe it is better for `for` statement generate c# class, that will looks like
[code]
to avoid closures?

[2019-06-07 07:15] ddweber commented on #10766
Thanks for your suggestion. I tried it but the race condition still remains.
`InvokeAsync` is called before the `connection.Closed` handler fires.

My demo client now looks like this:
[code]

[2019-06-07 07:27] ddweber opened #10980 "[SignalR] Access HubContext in Ctor of strongly typed Hub"
Is it/should it be possible to access the `HubContext `in the constructor of a strongly typed hub?
I´m trying to initialize some members of my hub in the ctor with values from `context.items` but the context is null at that time. Is this intended by design?

[2019-06-07 07:47] divega commented on #5496
@rynowak I am curious how the two handle-based approaches would work when an IDisposable service depends on other IDisposable service(es) (or a tree of them). At first glance, it seems to me that in order for the memory to be released, each IDisposable service would need to be changed to start only depending on other handles, and never on other IDisposable services directly. I.e. isn’t it kind of

[2019-06-07 08:17] SteveSandersonMS opened #10981 "Directive attributes dominate completion lists"
This is just a suggestion about how we might improve the usability of the code completion prompt now we are polishing directive attributes.

Currently, because of alphabetical ordering, directive attributes appear before other component parameters. This makes it harder to explore the features that a component offers. For example, here I'm trying to discover what parameters I can pass to a `MatAppB

[2019-06-07 08:32] poltergoid commented on #10944
@javiercn works great, thank you!

[2019-06-07 08:32] #10944 closed

[2019-06-07 09:42] samumeur commented on #6834
Hello,

I have the same issue with the ucrtbase.dll while I was deploying my ASPNET Core application to an IIS Server.
The application works well from Visual Studio with local IIS, but impossible to deploy it to a server.

Could you help me with that? Do you want more information ?

[2019-06-07 09:59] kevinjpetersen commented on #5330
@danroth27 Very nice! Does this make it so you can have user states across refreshes / close/open of tabs? So when authenticating, you have the user be logged in, not dependent on the Blazor SignalR connection (in case it disconnects etc)?

[2019-06-07 11:01] JamesNK commented on #10886
I don't think my refactor in gRPC will work. It results in holding onto the HttpContext/Http2Stream after the request pipeline has finished. Calling HttpContext.Abort is not a solution because trailings need to be written and they aren't when the request is aborted.

I think the solution is some changes in Kestrel and this issue's original request is the best way forward I can think of:
* Add an o

[2019-06-07 11:09] JamesNK commented on #10886
Alternatively, an option could be to use `Response.BodyWriter.Complete()` to send the trailers and RST_STREAM

https://github.com/aspnet/AspNetCore/issues/7370

[2019-06-07 11:38] generik0 opened #10983 "CookieAuthenticationEvents RedirectToLogin "previous" identity - QUESTION"
I need to log into an audit trail whenever a user has logged out of the system.
We have an angular app on top of an aspnetcore using cookies.

The user is automatically logged out when the cookie expires. So this works well :-)

Our implementation of CookieAuthenticationEvents catches the "RedirectToLogin". But the context (RedirectContext<CookieAuthenticationOptions> context) does not have the in

[2019-06-07 12:36] Mike-EEE commented on #7703
IT REALLY DOES WORK. 😁

Trying Blazor out and ran into this problem, which led me to this issue.

From my modified `Counter.razor` using the default server-side template (trying to simulate a busy screen):

[code]

And it (now) works!  So very cool!  Nice work all around there to the entire team. 👍

[2019-06-07 12:42] BlueBird67 opened #10984 "[Asp.Net Core 2.1] Decimal ToString with Specific Culture not working..."
I had a lot of problems with Culture in Asp.Net Core... I have a web app that need to force a "fr-CH" culture, nothing else. Very difficult to do, nothing has worked, and I tried a lot : the browser culture have priority always...

So finally, I decided to force it on my own line of codes:
`Decimal rawValue = 45000;`
`string convertedValue = rawValue.ToString("C0", CultureInfo.CreateSpecificCultur

[2019-06-07 13:27] SuzanneBeauchamp commented on #6834
I upgraded to the 2.2.4 hosting bundle and my problems went away.

From: samumeur [mailto:notifications@github.com]
Sent: Friday, June 07, 2019 4:43 AM
To: aspnet/AspNetCore <AspNetCore@noreply.github.com>
Cc: Suzanne Beauchamp <Suzanne.Beauchamp@georgesinc.com>; Mention <mention@noreply.github.com>
Subject: Re: [aspnet/AspNetCore] w3wp.exe crashes with Exception code 0xc0000409 (#6834)

Hello,

I

[2019-06-07 14:06] FluentGuru commented on #10953
I created a PR with this change :)

[2019-06-07 14:19] freemstr commented on #8081
We are encountering this issue as well
Installed Hosting bundle 2.2.5

Project
<PropertyGroup>
    <TargetFramework>netcoreapp2.2</TargetFramework>
    <RuntimeFrameworkVersion>2.2.3</RuntimeFrameworkVersion>
    <AspNetCoreHostingModel>InProcess</AspNetCoreHostingModel>
    <LangVersion>7.3</LangVersion>
    <PlatformTarget>x86</PlatformTarget>
    <AspNetCoreModuleName>AspNetCoreModuleV2</AspNet

[2019-06-07 14:37] antonGritsenko commented on #2806
Sorry for retake this topic, but don't want to open a new one.
@Tratcher, you've mentioned that middleware is kind of safe place, but what about ActionFilters?
We have a pretty easy one like this:
[code]
and catches NullReferenceException sometimes (not very often, less than 5% requests aprox).
Unfortunately, we still using old asp.net core (1.1), but more interesting that problem start to be occu

[2019-06-07 14:47] Tratcher commented on #2806
Comments on closed issues are not tracked, please open a new issue with the details for your scenario.

[2019-06-07 14:52] isaac2004 commented on #3755
Question here @natemcmaster @DamianEdwards, there is mention of the templates having all that is needed to build locally. With this thought and the remove of the Auth libraries, does that mean that any auth template will not build offline in 3.0? I understand that no auth library will work offline, but if I have no nuget cache, I could theoretically get a build failure after newing a new auth  tem

[2019-06-07 15:03] freemstr commented on #4957
Seems to still be an issue
Running on 2.2.5 so workaround is not in code and this code has been working on dev machine and test environment, but on the new prod server:

`In  w3wp__Terminalv2b_LTD__PID__2244__Date__06_07_2019__Time_10_06_18AM__61__First  chance exception 0XE0434352.dmp the assembly instruction at  KERNELBASE!RaiseException+62 in C:\Windows\System32\KERNELBASE.dll  from Microsoft C

[2019-06-07 15:09] rynowak commented on #10981
/cc @NTaylorMullen - I think he already addressed this for VS code and wanted to do the same fix for VS.

@SteveSandersonMS - another idea that I had to address this with syntax is to change how event handlers are described (like Vue.js). I think that this has some problems so I'm not actually proposing we do it.

[code]

Then completion would show a breadcrumb to "@on-..." - which is the real val

[2019-06-07 15:15] rynowak commented on #10977
Hi, thanks for reporting this issue.

Please provide a complete runnable project so that we can investigate this issue.

[2019-06-07 15:32] tomagnew commented on #9290
@blowdart
Just wanted to let you know that my company finally agreed that the Stig mentioned in our discussion is not violated for anonymous authentication as long we have "Specific user" checked and the account does not have elevated privileges. Many thanks for helping me resolve this.

[2019-06-07 15:44] SteveSandersonMS opened #10986 "Static content from libraries not working with Blazor dev server or default hosted project"
The new "static content from libraries and projects" feature works great if you have a `app.UseStaticFiles()` call in your `Startup.cs`. However:

 * The Blazor DevServer (for the standalone template) doesn't contain such a call, and developers have no way to add one. So static content just doesn't work with this project type.
 * The Blazor hosted-on-ASP.NET-Core template also doesn't contain such

[2019-06-07 15:46] vijayrkn commented on #10878
I will give this a try and see why it is failing. This time it looks like it is failing for a different reason. I believe @abpiskunov was able to get this running last time with the fix proposed by the sdk team. With the above error it looks like it is not restoring the app itself properly. To confirm, this is self contained only issue right?

[2019-06-07 15:48] pranavkm commented on #10878
@vijayrkn this is a self-contained publish. Is it possible that the rid is getting passed to the restore target (the same issue that @abpiskunov investigated, but happening earlier)?

[2019-06-07 15:52] vijayrkn commented on #10878
That shouldn't be the case. This is complaining for the NETStandard project. @danroth27 - Can you share this file as well - C:\Users\daroth\Source\Repos\WebApplication3\WebApplication3.Client\obj\project.assets.json.

Want to see if this has the RID set for the shared assembly.

[2019-06-07 15:59] pranavkm commented on #10899
Closing since there's a resolution to the question.

[2019-06-07 15:59] #10899 closed

[2019-06-07 16:20] ichensky commented on #10977
Here is https://github.com/ichensky/TypeparamPassArrayError/ proj
try to compile it.

[2019-06-07 16:21] bradygaster commented on #6783
I'd love to hear more about your experience with the client and any others you've used. Any chance you'd have some time to chat the week of June 17?

[2019-06-07 16:23] pranavkm opened #10988 "Use Utf8JsonReader over JsonDocument in JSInterop"
This should be more performant.

[2019-06-07 16:29] pranavkm opened #10989 "Add timeouts to JSInterop.InvokeAsync"
JSInterop + Blazor Serverside keeps a TCS on the sever that is resolved once a client responds. We need to account for unreliable clients and cancel the Task after a set timeout.

[2019-06-07 16:44] Tratcher opened #10991 "[Announcement] OAuthHandler ExchangeCodeAsync signature change"
As part of https://github.com/aspnet/AspNetCore/pull/10928, a breaking change was introduced in 3.0.0-preview7 where the signature of OAuthHandler.ExchangeCodeAsync was changed from:
[code]
To:
[code]

This change was made in order to flow additional parameters.

OAuth handlers that override this API will need to be updated.

[2019-06-07 16:44] Pilchie opened #10992 "INPUT tag helper for DateTime (.NET Core 3)"
_From @mcurko on Thursday, April 18, 2019 11:06:07 AM_

INPUT tag helper for DateTime data type generates INPUT element of type "datetime-local". This element type has bad browser support and it often doesn't work.

EXAMPLE
Data deinition (from the data model):

[code]

Razor view:

`<input asp-for="LastProcessedDateTime" class="form-control" readonly />`

Generated HTML:

`<input class="form-cont

[2019-06-07 16:46] Pilchie opened #10993 "Net core exception handler lambda creates duplicates"
_From @micgruber on Friday, May 3, 2019 12:58:55 PM_

I'm using a lambda function for the UseExceptionHandler method and .net core 2.2 with windows 10:

[code]
Now, I register the exception handler in the startup.cs

[code]

Now, if throw a exception in the proxymiddleware in the invoke method the exception gets logged twice, what I'm doing wrong? I only want to log the exception once.

ProxyMiddl

[2019-06-07 16:51] SteveSandersonMS commented on #10979
I'm afraid this is just how the C# compiler works, which is outside the scope of what the `.razor` compiler controls. Quite a few people have run into it, but we don't have a better solution than to say you need to understand what the C# compiler does with closures.

[2019-06-07 16:51] #10979 closed

[2019-06-07 17:00] Tratcher commented on #10983
You would have to copy the code that runs before the expiration check:
https://github.com/aspnet/AspNetCore/blob/b34acc9e86b186aa7fbe64bb2651f82116433ec7/src/Security/Authentication/Cookies/src/CookieAuthenticationHandler.cs#L124-L134

It wouldn't work for the SessionStore scenario, the user would have been deleted from the store.

[2019-06-07 17:04] #10332 closed

[2019-06-07 17:09] #10973 closed

[2019-06-07 17:10] NTaylorMullen commented on #10981
@ToddGrun is already taking care of this part in VS without the `on-` change. He's going to group `@on...` together.

[2019-06-07 17:11] #10965 closed

[2019-06-07 17:11] NTaylorMullen commented on #10981
As Ryan said, I made it work this way in VSCode for the preview6 release. @rchande does there happen to be a beta build out that Steve can try?

[2019-06-07 17:14] mkArtakMSFT commented on #10953
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-06-07 17:15] mkArtakMSFT commented on #10953
Thanks for your effort, @FluentGuru. We will however look into this issue in a more broader way in the future release, as we're handling only highest-priority issues in this area for the upcoming release.

[2019-06-07 17:18] FluentGuru commented on #10953
Alright. Thanks for the heads up :)

[2019-06-07 17:21] mkArtakMSFT commented on #10947
Thanks for contacting us, @GeertvanHorrik.
This is not something we recommend our customers to do. Each component should manage its own state and rerendering so we recommend that the child component calls a method on the parent which then can update the state and call the `StateHasChanged`.
To guide our customers with this approach we may come up with an analyzer to prevent these type of usages in

[2019-06-07 17:21] #10947 closed

[2019-06-07 17:24] mkArtakMSFT opened #10994 ""New Item" menu should contain "Razor Component" element"
See https://github.com/aspnet/AspNetCore/issues/10945 for details.

[2019-06-07 17:25] mkArtakMSFT commented on #10945
Thanks @phenning!

[2019-06-07 17:25] #10945 closed

[2019-06-07 17:26] mkArtakMSFT commented on #10942
@NTaylorMullen please follow up on this - as this is most probably external. If we happen to get the fix earlier, that's great!

[2019-06-07 17:28] GeertvanHorrik commented on #10947
@mkArtakMSFT But the `StateHasChanged` redraws everything including the children, right? What if we are not talking parent-child relations, but just a simple counter. Why do a total rerender of the tree if you know that only a single property has changed. Or does `StateHasChanged` do something smart under the hood to only reflect changed stuff?

[2019-06-07 17:29] mkArtakMSFT opened #10995 "Provide wiki page about Blazor setup requirements"

[2019-06-07 17:30] mkArtakMSFT commented on #10920
Thanks for contacting us, @thepok.
Looks like your setup is wrong. We're going to provide a WiKi page with details about how to prepare for Blazor development as part of this issue: https://github.com/aspnet/AspNetCore/issues/10995

Please look for details, which will come soon.

[2019-06-07 17:30] #10920 closed

[2019-06-07 17:32] mkArtakMSFT commented on #10912
Thanks for contacting us, @arivoir.
Your second suggestion is already the case:

[2019-06-07 17:34] #10892 closed

[2019-06-07 17:39] mkArtakMSFT commented on #10845
Thanks for contacting us, @RE-Butler.
This looks like a linker issue. Consider filing it in the `https://github.com/mono/mono` repo.

[2019-06-07 17:39] #10845 closed

[2019-06-07 17:39] #10835 closed

[2019-06-07 17:41] mkArtakMSFT commented on #10752
Thanks for contacting us, @nvmkpk.
This is not something we have control of. Consider reporting this issue through VS Feedback.

[2019-06-07 17:41] #10752 closed

[2019-06-07 17:43] mkArtakMSFT commented on #10748
Thanks for contacting us, @Andrzej-W.
We'll consider this in the future release.

[2019-06-07 17:44] alexsandro-xpt commented on #5301
@BrennanConroy The ASPNET Core 3.0 release is planned to end of this year but I would like to start test something. Can I using this project https://github.com/aspnet/SignalR-Client-Cpp to test?

[2019-06-07 17:45] mkArtakMSFT commented on #10747
Thanks for contacting us, @sowsan.
We're currently heads-down working on most-critical issues and features for the upcoming release. We'll be able to look into this after 3.0 release.

[2019-06-07 17:46] #10725 closed

[2019-06-07 17:49] mkArtakMSFT commented on #10700
Thank you for your feature request. We'll consider this feature during the next release planning period and update the status of this issue accordingly. To help us prioritize this feature correctly, please make sure you provide as much information as possible about the scenarios and their importance.

[2019-06-07 17:51] mkArtakMSFT commented on #10643
Thanks @smartprogrammer93.
We'll look into this in the near future.

[2019-06-07 17:52] mkArtakMSFT commented on #10558
/ping @SteveSandersonMS

[2019-06-07 17:53] abritabroad commented on #9991
For those of you coming late to the party, the "Use previews of the .NET Core SDK" checkbox has now moved to "Tools -> Options -> Environment -> Preview Features"
as per: https://developercommunity.visualstudio.com/content/problem/576973/use-previews-of-the-net-core-sdk-checkbox-is-now-m.html

[2019-06-07 17:54] #10537 closed

[2019-06-07 17:58] mkArtakMSFT commented on #8533
Talked about this offline and the decision is to cover this as part of the docs, linked as a separate issue above.

[2019-06-07 17:59] rxelizondo commented on #10725
@mkArtakMSFT @SteveSandersonMS  - Any feedback as to what is an appropriate resolution for this issue? Any plans on building a workaround for this issue into the framework?

Not sure if the example was clear or not but this affects all onclick events for all HTML elements other than the button, this also happens on the most simple of scenarios, and also, onclick events for the example given above

[2019-06-07 18:10] BrennanConroy commented on #5301
Our priorities have changed and I can't guarantee that this will ship in the 3.0 release.

https://github.com/aspnet/SignalR-Client-Cpp is where we will be doing work on the C++ client. Feel free to test it out and file issues in this repo.

[2019-06-07 18:17] halter73 commented on #10886
If BodyWriter.Complete() was used to send the trailers, that would result in an a frame with an end-of-stream flag. I'm not sure it's valid to send an RST stream after that.

This seems necessary.

@Tratcher and I were discussing this yesterday. This seems weird to us. What's the other gRPC implementation that does this?

[2019-06-07 18:28] #7734 closed

[2019-06-07 18:28] #10793 closed

[2019-06-07 18:31] johnayoub commented on #9012
Sure! I'll go ahead and try it but will this be supported in ASP.NET CORE 3.0?

[2019-06-07 18:38] natemcmaster commented on #9012
Passing DP an instance of `CloudBlobContainer` is already supported in 2.1. You'll have to use the older version of the Azure SDK (WindowsAzure.Storage), but I believe the API you need to call is present. In 3.0, the only change you'll need to make is to update the namespaces you use because we have updated our dependency on the Azure SDK to the latest version. (See https://github.com/aspnet/Annou

[2019-06-07 18:38] jjxtra commented on #2414
How do we turn this warning off? Seeing it all over in .NET core 2.2 on ubuntu...

[2019-06-07 18:45] #7955 closed

[2019-06-07 18:46] #10732 closed

[2019-06-07 18:54] natemcmaster opened #10999 "The .csproj file from `dotnet new mvc` has empty item group and extra whitespace"
## Repro:
Download .NET Core SDK 3.0.100-preview6-012262
Run `dotnet new mvc`

## Expected

[code]

## Actual

[code]

[2019-06-07 18:55] Tratcher commented on #10993
The middleware always logs the exception before it invokes your lambda:
https://github.com/aspnet/AspNetCore/blob/1b5db12d3f849fed5195007e8eae1ebee80f0542/src/Middleware/Diagnostics/src/ExceptionHandler/ExceptionHandlerMiddleware.cs#L92
You can remove your log to avoid duplicates.

[2019-06-07 18:59] natemcmaster commented on #3755
Yes, that is one of the outcomes of this change. As of Preview 6 (coming soon), `dotnet new mvc`, `dotnet new razor`, `dotnet new web` and others don't have any PackageReferences, so they shouldn't be impacted, but specifying additional options, like `--auth individual` may result in a PackageReference being present which requires a package download.

We are making an intentional tradeoff here. Al

[2019-06-07 19:25] johnayoub commented on #9012
That was a silly question on my end. Sounds good, thanks a lot Nate :)

[2019-06-07 19:29] natemcmaster commented on #9012
Happy to help! Let me know if this doesn’t work.

I think I’ll leave this open on our end. @blowdart I don’t think we need to add new API, but let’s document this. I think using Microsoft.Azure.Services.AppAuthentication to get an auth token is a more user-friendly way to authorize the Azure Storage provider.