[2020-09-24 11:45] Gambero81 opened #26269 "Publish ASP.NET Core app deploy code analysis dll"
When publish an ASP.NET Core app, all the code analysis modules related to packages used in the application are published.

Can be avoided to publish these assemblies, who are useful only in debug?

[2020-09-24 12:28] shahinjabbar commented on #26211
System.Threading.ThreadStateException: Thread is running or terminated; it cannot restart.
   at System.Threading.Thread.StartupSetApartmentStateInternal()
   at System.Threading.Thread.Start()
   at MyTestService.BackgroundServices.TestService.ExecuteAsync(CancellationToken stoppingToken) in E:\git projects\integration\MyTestService\BackgroundServices\TestService.cs:line 137

[2020-09-24 12:30] shahinjabbar commented on #26211
`using IPSPaymentService.Domain.DAL;
using IPSPaymentService.Services;
using Microsoft.Extensions.Hosting;
using Serilog;
using System;
using System.Threading;
using System.Threading.Tasks;

namespace MyTestService.BackgroundServices
{
    public class MyTestService : BackgroundService
    {
        private Thread HBThread;
        private SemaphoreSlim semaphoreSlim = new SemaphoreSlim(1, 1);

[2020-09-24 12:31] shahinjabbar commented on #26211
`
using Microsoft.Extensions.Hosting;
using Serilog;
using System;
using System.Threading;
using System.Threading.Tasks;

namespace MyTestService.BackgroundServices
{
    public class MyTestService : BackgroundService
    {
        private Thread HBThread;
        private SemaphoreSlim semaphoreSlim = new SemaphoreSlim(1, 1);
        public MyTestService()
        {
            HBThread = new Thre

[2020-09-24 12:59] Tratcher commented on #14455
Are any active threads blocked on sync IO? That's the usual cause of threadpool starvation.

[2020-09-24 12:59] ChristianWeyer commented on #25971
@guardrex pre-rendering gets a lot more involved and complicated when you are beyond a Hello World app.
E.g. if you have authentication in your Blazor WASM client and want to do pre-rendering, you get this:

[code]

[2020-09-24 13:00] #25154 closed

[2020-09-24 13:09] guardrex commented on #25971
I haven't worked the WASM auth topic set for [[RC1] Microsoft Identity Platform 2.0 for Blazor (dotnet/AspNetCore.Docs #19503)](https://github.com/dotnet/AspNetCore.Docs/issues/19503) yet. That work is imminent ... starting today/tomorrow or early next week. I'm just waiting on getting a couple of open PRs merged before starting, then I might just hit what you're seeing there. Thus far, the only t

[2020-09-24 13:18] ChristianWeyer opened #26270 ".NET5 RC1: WebAssemblyPrerendered with authentication enabled"
Trying to activate WASM pre-rendering gets a lot more involved and complicated when you are beyond a Hello World app. E.g. if you have authentication in your Blazor WASM client and want to do pre-rendering, you get this exception:

[code]

Is there a best practice here to solve this?

.cc @guardrex

.NET 5 SDK: 5.0.100-rc.1.20452.10

[2020-09-24 13:21] SteveSandersonMS commented on #24790
OK, I looked into this and found it has nothing to do with Blazor or the Razor SDK. I can repro the same problem with plain old `.cs` files in a default new Console Application project. So I think it's purely a VS issue.

### Repro steps, based on VS 16.8.0 Preview 3.1:

1. Create a new .NET Core C# Console Application project
2. In Solution Explorer, select `Program.cs`
3. Press Ctrl+C then Ctrl+

[2020-09-24 13:21] guardrex commented on #26270
Thanks @ChristianWeyer ... Cross-linking the [docs issue (dotnet/AspNetCore.Docs #19503)](https://github.com/dotnet/AspNetCore.Docs/issues/19503) for my visibility to this.

[2020-09-24 13:31] deereeed opened #26271 "ApiExplorer breaks nested names when defined [FomQuery] on nested properties"
### Describe the bug
There is a get method with following type of parameter:
[code]

As expected, names for parameters ( `Top`, `Skip`, `Count`) will take into account nesting in parent property `Paging` like these:
- `paging.top`
- `paging.skip`
- `paging.count`

But actual names in `ApiDescription `are incorrect and ignores nesting. Serialized as json ApiExplorer data:

[code]
### To Reproduce

[2020-09-24 13:31] davkean commented on #24790
See my comment here: https://github.com/dotnet/aspnetcore/issues/24790#issuecomment-672826638. This behavior is as per the original design.

- The default SDK has a glob similar to `<None Include="*.*" Exclude="*.cs" />
- When you rename the .cs file to "blah", it tries to maintain the existing item type via `<Compile Include="Program.cs.blah" />`, but if it was to do that - it would now be includ

[2020-09-24 13:44] davkean commented on #24790
Here is the bug:

By default, VS says `.css` files end up in the `<Content/>` item type: https://github.com/dotnet/project-system/blob/master/src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/Items/ProjectItemsSchema.xaml#L27.

The Web inherits the .NET SDK which says that .css files outside of `wwwroot` end up in the `<None />` item. That is the cause.

[2020-09-24 13:49] #26236 closed

[2020-09-24 13:53] bancroftway opened #26272 "[Upgrade issue from Blazor Wasm 3.1 to .Net 5] Compile error in component's ".g.cs" related to EventCallback when component is inside a razor class library"
I have a working .Net Core 3.1 Blazor wasm application, and I followed this [doc ](https://docs.microsoft.com/en-us/aspnet/core/migration/31-to-50?view=aspnetcore-3.1&tabs=visual-studio)to upgrade it to .Net 5.

I am now getting a bunch of compile errors of this type:
`error CS0121: The call is ambiguous between the following methods or properties: 'EventCallbackFactory.Create<TValue>(object, Func

[2020-09-24 13:57] SteveSandersonMS commented on #24790
OK, thanks for clarifying. So if I follow this correctly, this issue will occur when a developer:

 * Copy/pastes a `.css` file from inside `wwwroot` to outside it (or vice-versa)
 * Or, renames a compile-type file (e.g., `.cs`) to `.css` anywhere

... because in both cases VS is trying to preserve the original file's categorisation. If so, the mechanics of the issue do make sense, so thanks very

[2020-09-24 14:01] t-auer commented on #14455
Threads blocked on I/O: not that I am aware of (I did not see anything in VS debugger) - I reduced my test program up to the point that it does nothing except starting http.Sys and providing static files (load is generated with VS load testing) - in addition it has a thread that writes available threads of the threadpool to the console every 5 seconds. The test pogram has NLog configured for Loggi

[2020-09-24 14:25] Thorium commented on #15198
My interest is mainly JavaScript proxies: The main motivation to update existing .NET Framework application to .NET Core would be the speed-gain of Kestrel web-server. However, with ASP.NET Core SignalR, without strongly typed proxies:

- In the old AspNet.SignalR, the TypeScript compiler spots typing errors on hub-methods and parameters. With new AspNetCore.SignalR it cannot, so the code maintain

[2020-09-24 14:31] pheuter commented on #26013
Update on this, turns out I was getting a 500 for a separate unrelated error when trying to reproduce on a custom vm. I was also able to get the app successfully running on IIS using the latest hosting bundle and connect to cosmos via private vnet. It appears then the issue is due to Azure App Service? Where would I file this issue then?

[2020-09-24 14:37] Tratcher commented on #14455
The next thing I wanted to try was counting the number and size of write operations with and without compression. My theory is that compression does a lot of small writes. This could be measured either with a wireshark trace looking at the http chunk sizes, or by wrapping the response body stream to add per write logs.

Want to give that a try?

[2020-09-24 14:40] gitforanand commented on #26258
curl --insecure --ssl --tlsv1.2 -v --key dev.cybertune.local.key --cert dev.cybertune.local.crt https://dev.cybertune.local:6443/api/v1/health
*   Trying ::1...
* TCP_NODELAY set
* Connection failed
* connect to ::1 port 6443 failed: Connection refused
*   Trying ::1...
* TCP_NODELAY set
* Connection failed
* connect to ::1 port 6443 failed: Connection refused
*   Trying 127.0.0.1...
* TCP_NODELAY

[2020-09-24 14:42] gitforanand commented on #26258
<img width="1236" alt="Screen Shot 2020-09-24 at 10 41 37 AM" src="https://user-images.githubusercontent.com/11406838/94160447-9e9bb780-fe52-11ea-93d6-e27852aec72d.png">

[2020-09-24 14:51] solkh commented on #26103
It worked !
Thanks a lot

[2020-09-24 14:51] #26103 closed

[2020-09-24 14:53] gulbanana commented on #21979
Would you accept a PR for this issue?

[2020-09-24 15:21] GarettCooper commented on #25915
@SteveSandersonMS Thanks for letting me know, the height issue did occur to me but I couldn't find any documentation confirming or denying that Virtualize only supported items with consistent heights. When I saw Virtualize in the blog post I was hoping for a silver bullet, but I guess I'll have to look in to writing my own solution.

[2020-09-24 15:26] mkArtakMSFT commented on #26264
@vijayrkn what information would be needed here to understand what's causing this?

[2020-09-24 15:38] vijayrkn commented on #26264
Adding @phenning - How are template duplicates removed when they installed from both CLI & SDK?

[2020-09-24 15:38] smallprogram opened #26274 "Blazor wasm will get a new AccessToken every time it uses AccessToken to call the API"
### Describe the bug
I read the official documents and use Blazor wasm, IdentityServer4, and Asp.net Core WebApi. After using Blazor wasm to authenticate to IdentityServer, IdentityServer issues an accessToken to it.
When following the [official document](https://docs.microsoft.com/zh-cn/aspnet/core/blazor/security/webassembly/additional-scenarios?view=aspnetcore-3.1#attach-tokens-to-outgoing-requ

[2020-09-24 16:02] Jothinimal opened #26276 "The global exception handler is rethrowing the BadHttpRequestException: Unexpected end of request content as unhandled exception"
My ASP .NET Core WebAPI application is getting some unidentified requests resulting in the below error.

**Microsoft.AspNetCore.Server.Kestrel.Core.BadHttpRequestException: Unexpected end of request content.**

This error is getting logged only at the kestrel (stdout_logfile) and not in the application's error log. Seems like the global exception handler is rethrowing the exception as unhandled ex

[2020-09-24 16:03] daemogar commented on #25971
@ChristianWeyer In my WASM part of the app, I have to create a class that implements the AuthenticationStateProvider and then add it to be Dependency Injected. Not sure if that helps.

@captainsafia You can close this ticket as resolved. I do not have an option to close it as I am not the originator.

[2020-09-24 16:28] SOHODeveloper opened #26278 "Unexpected end of request content Kestrel"
Closing as we don't really have any data to go on here. If anyone is able to provide some more detailed information here, feel free to comment and we can reopen our investigation!

_Originally posted by @anurse in https://github.com/dotnet/aspnetcore/issues/6575#issuecomment-508837074_

I can repro this issue on Windows 10 running a Kestrel server being called from a .net core HttpClient client on

[2020-09-24 16:30] phenning commented on #26264
What should happen is the highest nupkg version should win.

If the identities of the packages changes - we'd use both, but the group Ids would also need to differ.

[2020-09-24 16:31] joshua-phillips opened #26279 "SignInManager using ClaimTypes instead of IdentityOptions.ClaimsIdentity where appropriate"
### Describe the bug
When not using the `DefaultInboundClaimTypeMap` then `SignInManager.GetExternalLoginInfoAsync` is returning null because the name identifier claim can't be found.

I believe issue #17646 was referring to the same problem

### To Reproduce

For example in my `Startup.ConfigureServices` if I have
[code]

Then in my ExternalLogin.cshtml.cs the templated code is
[code]

info is al

[2020-09-24 16:33] joshua-phillips commented on #26279
Also possibly related to #23134

[2020-09-24 16:40] phenning commented on #26264
@mkArtakMSFT, @vijayrkn  which is exactly is what is happening here.

I'd bet anything those blazor templates from the identity package have different group identities, but the same name and description as the standard blazor template.  They may have different names/descriptions in template.json, but the entries in the hostfile or strings.json are probably exactly the same.

[code]

[2020-09-24 16:41] CuteLeon commented on #26228
Hi @ylr-research :
I found a new solution as below:

1. Create a .Net Core Class Library project
   1. Edit project file to `Microsoft.NET.Sdk.Razor` SDK
   2. Add `Microsoft.AspNetCore.Components.WebAssembly` Nuget package

[code]

2. Create Razor components in Class Library project

   1. You will find `Razor Component` when you right click on the project and click `Add`

   2. Design your compo

[2020-09-24 16:42] guardrex commented on #25356
We don't have a docs repo issue tracking this, but there is an existing WASM topic at ...

**ASP.NET Core Blazor WebAssembly performance best practices**
https://docs.microsoft.com/aspnet/core/blazor/webassembly-performance-best-practices

There's no Blazor Server companion topic for this subject. We only have a general *design patterns* doc request issue at ...

**Blazor design patterns**
https:/

[2020-09-24 16:48] mkArtakMSFT commented on #26272
Thanks for contacting us.
This is caused by a breaking change we've made in 5.0. We will use this issue to track posting the announcement with the details about how to update your code.

[2020-09-24 16:50] chandimar001 commented on #26191
Thanks for the quick response @Pilchie. While this wasn't a solution it definitely was the root cause (this is by design).

My scenario requires a DI container to be instantiated as singleton during startup so that it can be used in startup.cs in conjunction with the [ApplicationStarted](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.hosting.iapplicationlifetime.applicationstarte

[2020-09-24 16:51] ealsur opened #26280 "Blazor WASM: HttpClient.SendAsync does not set the RequestMessage in ResponseMessage"
### Describe the bug

When `SendAsync` is called on `HttpClient`, the `HttpResponseMessage.RequestMessage` is null when the `HttpClient` is in Blazor WASM, but not null (and equal to the original HttpRequestMessage) on NET Core.

In NET Core, we do:

[code]

In Blazor WASM, we have the `HttpClient` registered as:

[code]

And in a Blazor page:

[code]

### To Reproduce

Sample code in this repo: h

[2020-09-24 16:55] mkArtakMSFT commented on #26264
@jmprieur what is the guidance here? Should the experimental Identity packages be uninstalled already?

@274188A we believe you have both 5.0 SDK as well as experimental Identity packages installed, which bring in duplicate templates.

[2020-09-24 16:55] #25971 closed

[2020-09-24 16:57] mkArtakMSFT commented on #26228
Thanks for contacting us. We recommend using Razor Class Library for sharing components between projects.

[2020-09-24 16:57] #26228 closed

[2020-09-24 16:59] mkArtakMSFT commented on #26184
That's ok  - we do look at these 👍
We won't be able to help out here without a repro project, as we can't reproduce this.
Will park this in the `Next sprint planning` milestone and hopefully will have a repro shared here when we get to it during our sprint planning meetings in the future.

[2020-09-24 16:59] CuteLeon commented on #26228
Thanks for your reply. Hope this will help others.

[2020-09-24 17:00] #26216 closed

[2020-09-24 17:00] #24139 closed

[2020-09-24 17:09] pranavkm commented on #26276
Exception filters are executed after resource and auth filters (https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/filters?view=aspnetcore-3.1#implementation). This would explain why it cannot handle this exception. Consider using the exception middleware instead. For 6.0, we're using https://github.com/dotnet/aspnetcore/issues/13333 to modify MVC to return 4xx HTTP response codes rather

[2020-09-24 17:09] guardrex commented on #22576
Perhaps, this issue ties most directly to the open docs issue ...

**StateHasChanged Explained (vs base.InvokeAsync(StateHasChanged)**
https://github.com/dotnet/AspNetCore.Docs/issues/16119

... we could change the title of that docs issue to *Component rendering fundamentals*. The subject matter that Kevin Gates is asking about there seems like it would fall right in under this.

[2020-09-24 17:15] pranavkm commented on #26269
@Gambero81 do you mean the Microsoft.CodeAnalysis.* dlls? Those are added as part of runtime compilation. Depending on if you use the feature in a published app, you could choose to manually remove it. Unfortunately we cannot do that by default because some apps use that when it's published.

[2020-09-24 17:22] Gambero81 commented on #26269
Yes, i can't figure how are used in a published app, are they related to static code analysis? I can understand a debug deploy, but also for release? What's a sample case of use?
Thanks

[2020-09-24 17:29] pranavkm commented on #26269
Those assemblies contain the compiler used to compile views at runtime. It's not uncommon to see rely on this in their published app.

[2020-09-24 17:33] guardrex commented on #22180
@mkArtakMSFT Not sure if there's more to resolve here, but I can confirm that  the component param language updates have been merged into the docs with Steve's blessing. I don't have further open docs issue(s) to address on this subject.

[2020-09-24 18:02] davidni opened #26282 "ExecutionContext is dropped for HTTP/2 requests, Kestrel connection scope is lost"
### Describe the bug
ASP .NET Core is dropping the ExecutionContext before it starts the user application's pi[peline for HTTP/2 incoming requests. This results in Kestrel's connection scope ([`KestrelConnection.BeginConnectionScope()`](https://github.com/dotnet/aspnetcore/blob/c75b3f7a2fb9fe21fd96c93c070fdfa88a2fbe97/src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelConnection.cs#L224))

[2020-09-24 18:02] TanayParikh opened #26283 "Handle Out of Range Diagnostics Provided By VS"
If C# code within a `@code` block has an associated diagnostic/error, and that block is deleted so that the original location of that diagnostic no longer exists (ex. diagnostic on line 20, and the document is only 10 lines now), then we get a yellow bar.

This occurs as VS calls `textDocument/codeAction` with the previous diagnostics which still persist for a few seconds after the code change. We

[2020-09-24 18:02] davidni commented on #26282
@halter73 per yesterday's conversation

[2020-09-24 18:24] jasonjoh opened #26284 "RemoteAuthenticatorView LogInFailed doesn't expose error message with MSAL redirect"
### Describe the bug

When login fails using Microsoft.Authentication.WebAssembly.Msal in a standalone app, the LoginFailed render fragment on the RemoteAuthenticatorView has an empty message.

### To Reproduce

1. Build the basic app from https://docs.microsoft.com/aspnet/core/blazor/security/webassembly/standalone-with-azure-active-directory?view=aspnetcore-3.1
1. Replace contents of Authenticat

[2020-09-24 18:43] halter73 commented on #23409
Unix domain sockets are supported without libuv. They have been supported by the default socket transport since 3.0! https://github.com/dotnet/aspnetcore/pull/10560

[2020-09-24 18:44] HaoK opened #26285 "Flaky Blazor E2E Textbox binding issues"
Tracking issue for

- [ ] [CanBindTextbox_Decimal_InvalidInput](https://github.com/dotnet/aspnetcore/issues/24756)
- [ ] [CanBindTextboxNullableShort](https://github.com/dotnet/aspnetcore/issues/23826)
- [ ] [CanBindTextboxNullableDouble](https://github.com/dotnet/aspnetcore/issues/23596)

Potentially related server globalization issues:
- [ ] [ServerGlobalizationTest.CanSetCultureAndParseCultureI

[2020-09-24 18:44] HaoK commented on #23826
Tracking via https://github.com/dotnet/aspnetcore/issues/26285

[2020-09-24 18:44] #23826 closed

[2020-09-24 18:44] HaoK commented on #24756
Tracking via https://github.com/dotnet/aspnetcore/issues/26285

[2020-09-24 18:44] #24756 closed

[2020-09-24 18:45] HaoK commented on #23596
Textbox issue tracked via https://github.com/dotnet/aspnetcore/issues/26285

[2020-09-24 18:56] gb1337 commented on #12685
I would like to add my voice to the chorus of  users asking for a way to customize the (de)serialization of JS objects. Because Webassembly has no access to the DOM, I'm forced to use JS libraries for rich UI interactions like drag & drop ([interact.js](https://interactjs.io/) for example). I can wrap these libraries into Blazor components, .Net classes and callbacks, but the JS functions and call

[2020-09-24 18:58] davidfowl commented on #15198
ASP.NET Core SignalR isn't just more performant, it's also more reliable.

[2020-09-24 19:00] ylr-research commented on #26043
this is still a problem [Azure/azure-cosmos-dotnet-v3#1865](https://github.com/Azure/azure-cosmos-dotnet-v3/issues/1865)

[2020-09-24 19:04] user72356 opened #26287 "Add unmarshalled invocation of .Net methods from JS"
Blazor JSInterop has a special JSRuntime that lets me call JS functions from .Net without any marshalling for max performance in a webassembly scenario: [WebAssemblyJSRuntime Class](https://docs.microsoft.com/en-us/dotnet/api/microsoft.jsinterop.webassembly.webassemblyjsruntime?view=aspnetcore-3.1)

There doesn't appear to be an equivalent functionality when making a call from JS into .Net without

[2020-09-24 19:05] ealsur commented on #26043
@ylr-research That is not the same issue, the new issue you are facing is .NET 5 not supporting SHA functions currently in RC1.

[2020-09-24 19:21] bancroftway commented on #26272
Could you please provide a brief hint as to what changes we need to make, so I can complete the upgrade. Thank you so much

[2020-09-24 19:35] dougbu opened #26288 "Correct `CanInvokeDotNetMethods` test"
### Describe the bug
Test repeatedly timed out in #26188 e.g. https://dev.azure.com/dnceng/public/_build/results?buildId=829494&view=ms.vss-test-web.build-test-results-tab&runId=26446588&resultId=100237&paneView=debug Likely failed elsewhere too.

### To Reproduce
Rerun tests at a commit without quarantining.

### Exceptions (if any)
[code]

### Further technical details
Failed in CI validation wi

[2020-09-24 20:24] #24014 closed

[2020-09-24 20:28] daniel-p-tech opened #26290 "[Blazor] Improving Debugging Experience"
Hi,

Are you planning on substantially improving the debugging experience in the upcoming release? As it stands, the debugger is very incomplete and for any moderately complex task I end up using ``Console.WriteLine`` rather than the actual VS debugger. It's becoming a point of frustration with Blazor and the productivity suffers. Same thing with Razor editor crashing and the lack of hot reload, b

[2020-09-24 20:30] #26155 closed

[2020-09-24 20:31] mkArtakMSFT commented on #26155
This was resolved by #26159

[2020-09-24 20:41] ilyanaDev commented on #25898
What's the workaround for this in the Console? I'm getting:
[code]

Here's my project file:
[code]
Thanks!

[2020-09-24 20:42] dougbu opened #26291 "Correct `Frame_MultipleStreams_RequestsNotFinished_DefaultMaxStreamsPerConnection_EnhanceYourCalmAfterDoubleMaxStreams` test"
Sample test timeout shown in https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-aspnetcore-refs-pull-26263-merge-0d498402473f4ff088/InMemory.FunctionalTests--net5.0/console.88328d35.log
[code]
with a bit more detail in https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-aspnetcore-refs-pull-26263-merge-0d498402473f4ff088/InMemory.FunctionalTests--net5.0/Http2ConnectionTests_Fr

[2020-09-24 20:43] TanayParikh commented on #21121
Blocked on: https://github.com/dotnet/roslyn/pull/47914

[2020-09-24 20:49] majorimi opened #26292 "CSS isolation error when Blazor component Nuget packaged"
@mkArtakMSFT I'm facing one more issue related to CSS. The above mentioned isolated CSS was working with WebAssembly projects when Razor Class Library project was referenced directly. **But when it is packaged to Nuget and used via Nuget package** not directly from project reference. Got this error:

[code]

_Originally posted by @majorimi in https://github.com/dotnet/aspnetcore/issues/26144#issue

[2020-09-24 20:56] Tratcher commented on #26258
@halter73 wasn't there an ordering issue if you called ConfigureHttpsDefaults after Listen?
https://github.com/dotnet/aspnetcore/blob/4dfa2c719f85b2b10fea17a9e9cfc0a19cbc4d46/src/Servers/Kestrel/Core/src/ListenOptionsHttpsExtensions.cs#L182-L183

[2020-09-24 21:01] dougbu opened #26294 "Correct `SynchronousReadAndWriteTests.ReadAndWriteSynchronously` test"
Failed in https://dev.azure.com/dnceng/public/_build/results?buildId=828460&view=ms.vss-test-web.build-test-results-tab&runId=26407056&resultId=123619&paneView=debug with the following information in the pipeline:
[code]

Information matches what's shown in https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-aspnetcore-refs-heads-release-50-rc2-02ebf0303e104c1cbc/IIS.NewHandler.Functiona

[2020-09-24 21:07] blowdart commented on #26275
Can we see your startup.cs file please (after you've removed any secrets).

Your error shows an error in CheckAdGroupRequirement, at line 36, but you're not giving us that line, or that class.

[2020-09-24 21:10] blowdart commented on #26231
CustomPrincipals flat out aren't supported. Everything is ClaimsPrincipal now. Sometimes, if you're lucky we won't touch your principal and it "might" work, but it's more likely not to.

Have you tried this without a custom principal? What do you need one for?

[2020-09-24 21:12] blowdart commented on #26214
UseAuthentication() only runs for the default scheme, it takes either specifying the scheme in policy or attributes for alternate schemes to take affect, which is what the authorization middleware provides.

So yes, what you're seeing is expected, and by design.

[2020-09-24 21:34] halter73 commented on #26258
I think that's exactly it. You need to call ConfigureHttpsDefaults before Listen.

It's something we can look at improving. Lazily evaluating Listen callback might be the way to go, but it would break applications that depend on the side effects of the callback immediately after calling Listen immediately. Applying defaults to already-configured endpoints risks overriding options we shouldn't, and

[2020-09-24 21:39] mkArtakMSFT commented on #25245
This has been completed already.

[2020-09-24 21:39] #25245 closed

[2020-09-24 21:45] pranavkm commented on #25533
[code]

[2020-09-24 21:45] #25533 closed

[2020-09-24 21:52] dougbu commented on #12067
@mkArtakMSFT what is lacking here❔ Warnings about missing XML documentation (`CS1591`) will break builds as soon as https://github.com/dotnet/aspnetcore/blob/master/Directory.Build.props#L102-L103 is removed. Suggest assigning to someone on your team to see where we aren't fully documenting the public APIs. Up to you whether this is needed in 5.0.

[2020-09-24 21:55] #25249 closed

[2020-09-24 21:57] dougbu commented on #12653
@pranavkm should special cases like that work when building in VS❔ Or, are users _required_ to build the `*.npmproj` projects before building in VS❔

[2020-09-24 21:59] Tratcher commented on #7644
HttpRequest.EnableBuffering is the simplest mechanism.
https://github.com/dotnet/aspnetcore/blob/c39ecb9f9b387ec39112c3eace5ae38db06df160/src/Http/Http/src/Extensions/HttpRequestRewindExtensions.cs#L21
The example [above](https://github.com/dotnet/aspnetcore/issues/7644#issuecomment-657216298) mostly covered it, except that it needs to read to the end of the body.

Yes, via middleware using the ex

[2020-09-24 22:00] pranavkm commented on #26272
@bancroftway there's an additional overload of `EventCallback` that was added which causes your method group to fail. You could use a regular delegate instead or consider passing the `EventCallback` to your component:

[code]

[2020-09-24 22:00] dougbu commented on #12913
Closing because this issue is rather old and seems to cover a multitude of different problems, most of which have been resolved. Please file new issues if problems building this repo re-surface.

[2020-09-24 22:00] #12913 closed

[2020-09-24 22:02] NTaylorMullen commented on #26196
FYI @captainsafia

[2020-09-24 22:04] dougbu commented on #18732
Definitely at `5.0.0.0` in the RC2 targeting packs.

[2020-09-24 22:04] #18732 closed

[2020-09-24 22:05] mrpmorris commented on #26016
@SteveSandersonMS I have update the title + description to reflect a better approach resulting from our conversation here.

I have also included the necessary code + an example application source.

[2020-09-24 22:05] dougbu commented on #18732
(Might have happened in daily builds due to confusion about where System.IO.Pipelines was going to ship.)

[2020-09-24 22:20] TanayParikh opened #26299 "Generate Equals and GetHashCode Code Actions"
[code]

Should provide a code action for `Generate Equals and GetHashCode`

[2020-09-24 22:21] pranavkm commented on #26292
Thanks @majorimi this looks like a bug in our SDK.

[2020-09-24 22:22] TanayParikh opened #26300 "Add Null Checks / Add Null Checks for All Parameters Code Actions"
[code]

Should provide a code action for `Add Null Checks`, `Add Null Checks for All Parameters`.

[2020-09-24 22:44] davidfowl commented on #7644
@Tratcher lets make sure to get this documented.

[2020-09-24 22:47] pranavkm opened #26301 "Consider updating Swashbuckle.AspNetCore in project templates"
Tracking issue for https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1214767

[2020-09-24 23:19] AndreyTretyak opened #26303 "Activity.Baggage read from client should preserve items order"
### Describe the bug
On receiving `Activity.Baggage` items in the `Correlation-Context` they are added to the current `Activity` using `AddBaggageItem()` method [here.](https://github.com/dotnet/aspnetcore/blob/c97a0020d8bab6d895bf821f6e47ee8722aa17d5/src/Hosting/Hosting/src/Internal/HostingApplicationDiagnostics.cs#L276) This method adds items to the beginning of the list, so on receiving `Key1=v

[2020-09-24 23:59] dougbu opened #26306 "Correct `ConnectionNotClosedWhenClientSatisfiesMinimumDataRateGivenLargeResponseHeaders` test"
See failure in #26188. [Debug details in build](https://dev.azure.com/dnceng/public/_build/results?buildId=829632&view=ms.vss-test-web.build-test-results-tab&runId=26450600&resultId=121980&paneView=debug) just show
[code]
About the same information is visible in https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-aspnetcore-refs-pull-26188-merge-8bbb6fc7bcbc494d95/Libuv.FunctionalTests--

[2020-09-25 00:00] Tratcher commented on #7644
Filed https://github.com/dotnet/AspNetCore.Docs/issues/20001

[2020-09-25 01:49] williameduardo79 commented on #25724
Add  target="_blank" to the anchor tag to prevent this error

[2020-09-25 01:52] gitforanand commented on #26258
<img width="1145" alt="Screen Shot 2020-09-24 at 9 52 12 PM" src="https://user-images.githubusercontent.com/11406838/94217540-44314400-feb0-11ea-9f6d-1259bf951847.png">
<img width="1126" alt="Screen Shot 2020-09-24 at 9 51 52 PM" src="https://user-images.githubusercontent.com/11406838/94217541-44c9da80-feb0-11ea-8e52-b4ab6e2c7e86.png">

[2020-09-25 01:55] 274188A commented on #26264
I ran the uninstall command to fix:

`dotnet new -u Microsoft.Identity.Web.ProjectTemplates`

[2020-09-25 01:55] #26264 closed

[2020-09-25 02:01] gitforanand commented on #26258
<img width="736" alt="Screen Shot 2020-09-24 at 10 00 55 PM" src="https://user-images.githubusercontent.com/11406838/94218020-72fbea00-feb1-11ea-8cbc-bf4ebf4d6550.png">

[2020-09-25 02:14] #25105 closed

[2020-09-25 02:14] #26283 closed

[2020-09-25 02:23] git-net commented on #26145
maybe we can use vs  [webcompiler ](https://marketplace.visualstudio.com/items?itemName=MadsKristensen.WebCompiler)plugin.
compilerconfig.json  {
    "outputFile": "wwwroot/js/a.razor.js",
    "inputFile": "Pages/a.razor.js"
  }

[2020-09-25 02:28] LeviBickel commented on #26275
So sorry for the confusion. I put the wrong error, that was from another attempt. I have edited the original post with the correct error.

[2020-09-25 02:41] GZidar opened #26311 "Include support for OnPowerEvent in .net core worker services"
Has there been any consideration given to allowing the net core worker services to receive notifications from the OS when a device is put to sleep or resumes from sleep. This is available in the .net framework System.ServiceProcess.ServiceBase classes but does not appear to have an equivalent in the worker service implementations.

Is there any way to do this already?

### Describe the solution yo

[2020-09-25 03:02] david-uk-hash commented on #21514
Any update on WASM AOT?

[2020-09-25 03:09] gwhzh21 opened #26312 "Publish an ASP.NET Core app to IIS mybe bug"
.net core 3.1 server2016
app .net core 3.1.8

When webapi (.net core 3.1) is deployed to the production environment (server2016+iis), the startup speed is increased by 5-6 times, the test environment is 4s, and the production environment is about 25s.
Then a weird problem appeared. Some browsers used https to request webapi, and there was a lot of delay. When debugging on the client, it was obviou

[2020-09-25 03:30] nssidhu opened #26313 "Blazor webAssembly Error : Cannot convert lambda expression to type 'bool' because it is not a delegate type"
I am gettting complie time error for the if block.
I am making geocode async javascript call
How do i get over this error ?
[code]
[code]

Getting compile time error
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS1660	Cannot convert lambda expression to type 'bool' because it is not a delegate type

[2020-09-25 04:07] mkArtakMSFT commented on #26303
@Tratcher not sure whether this belongs here so please adjust if necessary.

[2020-09-25 04:36] nssidhu opened #26314 "Blazor WebAssembly Error : Cannot wait on monitors on this runtime."
I am making a call to GoogleMap GeoCode to get back the lat & Long for the given address.

 var result = await JSRuntime.InvokeAsync<dynamic>("getIsInRange", address, range);
 Console.WriteLine("Recieved data " + result);

I am calling this from within loop for multiple address to be displayed in the table.

if i remove await the error goes away but than i don't get the lat & long since that it se

[2020-09-25 04:42] TanayParikh opened #26315 "TryMapToProjectedDocumentRange Returns Projected Range Where End < Start"
![image](https://user-images.githubusercontent.com/14852843/94227265-cf113f00-feae-11ea-9601-9b8e4934d5a7.png)

[2020-09-25 05:03] TanayParikh commented on #26315
Counter.razor:
Occurs when you drag from end of `@using System.Diagnostics` to end of `@page "/counter"`.

Start: L88 C47
End: L75 C24

Which makes sense in terms of where `System.Diagnostics` and the page attribute are in the generated file.

In that case, is this really a bug? We should definitely have better handling in which if `end < start` then have `TryMapToProjectedDocumentRange` return fa

[2020-09-25 05:49] Tratcher commented on #26312
What server do you use in the test environment? Kestrel? IIS Express? Where do you launch it from? Visual Studio, command line, etc.?

[2020-09-25 06:59] jmprieur commented on #26264
@mkArtakMSFT : it depends.
The experimental Identity package also brings .NET Core 3.1. For customers who want to use .NET 5.0, yes.

[2020-09-25 07:02] shahinjabbar opened #26316 "How I can set timeout to httpstream which I'm reading?"
Hi there. I am getting an HTTP stream and reading it until it sends some data but I need to figure out how to set a timeout in case of not receiving data from the stream which I'm reading using StreamReader class.
`            using (HttpClient client = new HttpClient())
            {
                client.BaseAddress = new Uri(_configuration.GetSection("COnfig").GetValue<string>("Url"));

[2020-09-25 07:38] zachion commented on #26122
Hello, I appreciate your help but I am stuggling to absorb the information on here, and the LayoutView is somewhat not fully documented as of yet.
All examples I see on the web are for the App.razor file with something like this:
[code]
Can you elaborate a bit further with a full example of how to use this and assuming that all layouts I am intending to use will have their own @body fragments.

[2020-09-25 07:40] NTaylorMullen opened #26317 "16.8-Preview4 - Validate VSCode Razor tooling on Linux"
## Instructions
It's up to you to validate all features, if applicable, done in the [16.8-Preview4](https://github.com/dotnet/aspnetcore/issues?q=is%3Aissue+milestone%3A16.8-Preview4+is%3Aclosed+label%3Afeature-razor.vscode)  (not just your own). Given that this is tooling validation, features and bug fixes should be relatively easy to validate given they don't require complex setups to ensure som

[2020-09-25 07:41] NTaylorMullen opened #26318 "16.8-Preview4 - Validate VSCode Razor tooling on Mac"
## Instructions
It's up to you to validate all features, if applicable, done in the [16.8-Preview4](https://github.com/dotnet/aspnetcore/issues?q=is%3Aissue+milestone%3A16.8-Preview4+is%3Aclosed+label%3Afeature-razor.vscode)  (not just your own). Given that this is tooling validation, features and bug fixes should be relatively easy to validate given they don't require complex setups to ensure som

[2020-09-25 07:42] NTaylorMullen opened #26319 "16.8-Preview4 - Validate VSCode Razor tooling on Windows"
## Instructions
It's up to you to validate all features, if applicable, done in the [16.8-Preview4](https://github.com/dotnet/aspnetcore/issues?q=is%3Aissue+milestone%3A16.8-Preview4+is%3Aclosed+label%3Afeature-razor.vscode)  (not just your own). Given that this is tooling validation, features and bug fixes should be relatively easy to validate given they don't require complex setups to ensure som

[2020-09-25 07:44] NTaylorMullen opened #26320 "16.8-Preview4 - Validate Razor tooling in Visual Studio Codespaces, Local & LiveShare"
## Instructions
It's up to you to validate all features, if applicable, done in the [16.8-Preview4](https://github.com/dotnet/aspnetcore/issues?q=is%3Aissue+milestone%3A16.8-Preview4+is%3Aclosed+label%3Afeature-razor.vs) (not just your own). Given that this is tooling validation, features and bug fixes should be relatively easy to validate given they don't require complex setups to ensure somethin

[2020-09-25 08:18] majorimi commented on #26292
Probably. But it is still RC so have time to fix... Thanks.

Please also check is **"Scoped CSS merge"** works or not? What I mean by that what if a Blazor project uses an internal Component Library (e.g. project reference) with Scoped CSS. And also references some external 3rd party (e.g. Nuget packages) with with Scoped CSS.

**In that case will the 2 different CSS merged into `"_framework/scope

[2020-09-25 08:41] tossnet opened #26321 "ProtectedSessionStorage not more available in 5.0.0-preview.9.20467.1"
In a Blazor Server project, I just updated the Nuget package **Microsoft.AspNetCore.Components.Web.Extensions** 5.0.0-preview.8.20414.8 to 5.0.0-preview.9.20467.1

And automatically the method  **ProtectedSessionStorage** is no longer accessible.

If I switch back to version 5.0.0-preview.8.20414.8

[2020-09-25 08:42] majorimi opened #26322 "Blazor isolated/scoped CSS and JS should be minified in release mode."
I'm using the new .NET 5 Blazor features which are awesome. Like CSS and JS isolation. However when publishing the app by using CLI: `dotnet publish -c Release` and examining the output package noticed that `<link href="_framework/scoped.styles.css" rel="stylesheet" />` is not minified. I think **isolated CSS and JS files should be automatically minified during Release publish or provided a new co

[2020-09-25 08:49] AchievedOwner opened #26323 "Does not support the same tag component with multiple generic type class but different number of types"
### Describe the bug
I defind the component like this as below
[code]

but I cannot just use the one generic type component in razor file
[code]
The message shows : **Multiple components use tag MyComponent** with red underline by VS error.

### Further technical details
- ASP.NET Core 3.1
- Visual Studio 16.7.4

[2020-09-25 09:28] chassq commented on #22911
This seems to still be an issue as of **Version 16.8.0 Preview 3.1 (Microsoft.AspNetCore Nuget Pkgs: 5.0.0-rc.1.20451.17)**. When using IISExpress launch settings profile the debugger does not seem to attach. However, when switching to the project profile (Kestrel) in launchsettings the debugger works as expected.

Tried removing the .vs file with no luck.

**Launch settings in Blazor wasm client

[2020-09-25 09:31] spapaseit commented on #22911
I concur with @chassq, still an issue for me to on **Version 16.8.0 Preview 3.1 (Microsoft.AspNetCore Nuget Pkgs: 5.0.0-rc.1.20451.17)** as well

[2020-09-25 09:50] hishamco commented on #26184
@ylr-research could please let me know if you test the case that I mentioned in my last thread?

[2020-09-25 09:52] hishamco commented on #26184
@mkArtakMSFT I will try to provide a repo once @yaeldekel replied to me

Thanks

[2020-09-25 10:05] jasonycw opened #26325 "Creating new background service during runtime"
I know that there is `IHostedService` that can be used for implementing background tasks by adding it in Startup with `.AddHostedService`.

However, there seems to be very little about how to create a background service on demand during runtime, after startup.

For example, after an MVC API application is started up, when it receives a specific request, I want to have a background service to be cr

[2020-09-25 10:32] hishamco commented on #26184
I will close this for now, coz I test all the cases I have on an empty Blazor template and works as expected, seems something goes wrong on the project I have

Thanks

[2020-09-25 10:32] #26184 closed

[2020-09-25 10:33] SteveSandersonMS commented on #26122
@zachion It sounds to me like what you want is an alternative to the normal `RouteView`. The normal built-in `RouteView` looks for a layout given by a compile-time attribute on the target page. Instead, you want to use different logic for choosing a layout.

You can do this fairly straightforwardly by creating your own alternative to `RouteView`. For example, add a file called `CustomRouteView.raz

[2020-09-25 10:43] campersau commented on #26321
Not sure if preview 9 should exist in the first place. (Also the correct version would be [`5.0.0-preview9.20467.1`](https://www.nuget.org/packages/Microsoft.AspNetCore.Components.Web.Extensions) without a `.` between `preview` and `9`)
In rc1 it got moved to [`Microsoft.AspNetCore.Components.ProtectedBrowserStorage`](https://www.nuget.org/packages/Microsoft.AspNetCore.Components.ProtectedBrowserS

[2020-09-25 11:14] Mubashwer commented on #26214
I see. I was expecting authentication middleware to handle all authentications and authorisation middleware to handle all authorisations.

[2020-09-25 11:16] Mubashwer commented on #26214
I presume the example repo won't be necessary after @blowdart's example.

[2020-09-25 11:28] Tratcher commented on #26325
They this:
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/hosted-services?view=aspnetcore-3.1&tabs=visual-studio#queued-background-tasks

[2020-09-25 11:28] #26325 closed

[2020-09-25 11:38] mkArtakMSFT commented on #26321
Thanks for contacting us. As @campersau has pointed out, we've moved the component. You can read more about the change here: https://github.com/aspnet/Announcements/issues/436

[2020-09-25 12:51] Tratcher commented on #23490
Related: https://github.com/dotnet/aspnetcore/issues/17402

[2020-09-25 13:04] ShadyNagy commented on #25888
As I can see this bug still there

[code]

[2020-09-25 13:06] SommerEngineering opened #26326 "[.NET 5.0 RC1] NavigationManager.NavigateTo(..., forceLoad: true) stops working with empty fragment"
### Describe the bug
The bug was observed in a Blazor WASM app. If the URL ends with an empty fragment, e.g. `http://localhost:5000/#`, the call `Nav.NavigateTo(Nav.Uri, forceLoad: true);` (cf. [link](https://github.com/pranavkm/LocSample/blob/e75748978eebcb18be7fe5da46c4b88b619863e2/Shared/CultureSelector.razor#L31)) does not work anymore. The code is proven to be executed, but the browser does n

[2020-09-25 13:56] blowdart commented on #26214
I can see why you'd think that, but once you get outside the realms of default authentication schemes then authentication has no idea what to do, until something else tells it what to do.

Now, you could use a virtual authentication scheme to provide a way to keep it all self contained, but unless you truly need that sort of thing it's just easier to accept this is how it all works.

[2020-09-25 13:58] blowdart commented on #26275
We're still going to need to see your startup.cs I'm afraid,

[2020-09-25 14:14] SteveSandersonMS commented on #26096
This is as expected. When you implement a service worker or use the project template to get the default `service-worker.published.js`, you get to control exactly the logic that fetches the static resources. The service worker cannot use your `loadBootResource` logic directly because it runs in a completely different context to your `index.html` page and cannot see that logic. So, if you goal is to

[2020-09-25 14:17] SteveSandersonMS commented on #26096
Also to clarify: normally the best system for serving the `.br` (etc) files is via server-side, not client-side logic. This is what happens by default with the "Hosted on ASP.NET Core" templates, and with Azure Static Web Apps. In these cases, there's no need to write any `loadBootResource` logic or to change your service worker, because by requesting `SomeFile.dll`, the server will automatically

[2020-09-25 14:17] #26096 closed

[2020-09-25 14:21] Joe4evr commented on #26016
@mrpmorris In addition to records not being *deeply* immutable, you've made the (unfortunately [very](https://github.com/dotnet/csharplang/discussions/3859#discussioncomment-64184) [common](https://github.com/dotnet/csharplang/discussions/3899)) mistaken assumption that records are always immutable in the first place. So despite your effort of using records, the render logic still won't be able to

[2020-09-25 14:25] SteveSandersonMS commented on #24790
@dotnet/aspnet-blazor-eng I'm closing this as external.

[2020-09-25 14:25] #24790 closed

[2020-09-25 14:27] SteveSandersonMS commented on #26110
The reason why it's not necessary for you to call `RefreshDataAsync` when using `Items` is that the framework does it for you automatically. That's why the internals of `RefreshDataAsync` do need to be concerned with this scenario, but you (the application developer) don't 😄

[2020-09-25 15:08] Pilchie commented on #24608
Is this GA or 6.0 now?

[2020-09-25 15:08] sroy2020 opened #26327 "Blazor attribute splatting : @bind-value"
Hi,

### Describe the bug

I'm trying to do attribute splatting for @bind-value, unfortunately I can't do it. What am I doing wrong?

FYI, even though .Net 5.0 is available it is still based on ASP.Net Core 3.2.

### To Reproduce
Using a line like

`ReferenceAttributes.Add("@bind-value", "Model.ReferenceFile.Id");`

I get the following exception:

### Exceptions (if any)
[code]

### Further techni

[2020-09-25 15:09] Pilchie commented on #11050
Moving to Backlog to consider for 6.0 at this point.

[2020-09-25 15:11] Tratcher commented on #26258
You got the ClientCertificate and it shows up on the context. Which object is null? Or what is the full stack trace of the nullref?

[2020-09-25 15:12] Pilchie commented on #21178
@javiercn or @pranavkm - any updates here?

[2020-09-25 15:26] captainsafia commented on #22911
@spapaseit @chassq Can you share your log files. Should be under `%TEMPDIR%/visualstudio-chrome-debug.txt`after the failing debug session? Also, can you share the content of the `Output` tab in Visual Studio?

@markokamin This is a known issue and will be fixed in RC2.

[2020-09-25 15:49] blowdart commented on #26054
OK, so does this happen before your customization or after? Lockout end dates far in the past are absolutely fine. Those columns don't clear.

[2020-09-25 15:53] captainsafia commented on #23015
Now that we are reverting the fix for this in #26297 this is a legitimate bug. Updating the title and description of this issue and putting it into next sprint planning for .NET 6.

[2020-09-25 16:04] pranavkm commented on #26279
Would you be interested in sending us a PR to address this?

[2020-09-25 16:07] pranavkm commented on #26054
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimal project (ideally a GitHub repo) that illustrates the problem.

[2020-09-25 16:11] pranavkm commented on #25716
We should update these tests to use an ephemeral keyring (not the file based ones). This should avoid these sort of concurrency issues.

[2020-09-25 16:12] psaxton commented on #26231
@blowdart I am refactoring our AAA code to use multiple authentication schemes and authorization profiles to satisfy new requirements. My current implementation uses the CustomPrincipal as a sort of user context. User specific resources are attached to the custom principal and used in  the action methods of controllers and potentially further down the stack.

It is understood that overwriting the

[2020-09-25 16:15] pranavkm commented on #24740
@pdevito3 feel free to reopen this if you have a consistent reproduction of the problem.

[2020-09-25 16:15] #24740 closed

[2020-09-25 16:15] #24273 closed

[2020-09-25 16:16] pranavkm commented on #23213
Closing this as we do not plan to make any changes to this area.

[2020-09-25 16:16] #23213 closed

[2020-09-25 16:18] pranavkm commented on #20911
@deepchoudhery did you do anything in this area?

[2020-09-25 16:19] pranavkm commented on #17922
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.
You can learn more about our triage process and how we handle issues by reading our Triage Process writeup.

[2020-09-25 16:19] #17922 closed

[2020-09-25 16:20] pranavkm commented on #17737
@javiercn do you think we still need to do this?

[2020-09-25 16:21] pranavkm commented on #17693
Thank you for the issue report @gaelian. We haven't seen any additional reports of this issue. Closing this as per our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2020-09-25 16:21] #17693 closed

[2020-09-25 16:22] #16972 closed

[2020-09-25 16:22] pranavkm commented on #16972
Feel free to reopen if you think this is important to do.

[2020-09-25 16:23] blowdart commented on #26231
We don't promise anywhere we won't stomp on your principal/identity during auth, because that's rather what auth does, take information from the rest and construct an identity from it.

@Tratcher / @HaoK any best practice/suggested approach here?

[2020-09-25 16:37] pranavkm commented on #26314
Can you share a minimal app that reproduces the issue? We suspect the app must be making a blocking call (`Task.Result`) at some point to encounter this error.

[2020-09-25 16:40] dougbu commented on #24608
What remains is just cleanup and the existing bits work. So, 6.0.

[2020-09-25 16:59] pranavkm commented on #21178
I'm not sure what issue @javiercn saw, but I don't see this with the rc1 (or newer bits). We'll talk about this when he's back.

[2020-09-25 17:05] LeviBickel commented on #26275
`using Macro.Data;
using Macro.Models;
using Microsoft.AspNetCore.Authorization;
using Microsoft.AspNetCore.Builder;
using Microsoft.AspNetCore.Hosting;
using Microsoft.AspNetCore.Server.IISIntegration;
using Microsoft.EntityFrameworkCore;
using Microsoft.Extensions.Configuration;
using Microsoft.Extensions.DependencyInjection;
using Microsoft.Extensions.Hosting;

namespace Macro
{
    public clas

[2020-09-25 17:07] BrennanConroy opened #26330 "Flaky test "ReaderThrowsCanceledException""
[code]

[code]

<details>
<summary>logs</summary>

[code]
</details>

[2020-09-25 17:10] BrennanConroy opened #26331 "Flaky test "CanUploadSingleLargeFile""
[code]

[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=830370&view=ms.vss-test-web.build-test-results-tab&runId=26468894&resultId=100017&paneView=debug

[2020-09-25 17:14] captainsafia commented on #22532
@qhu91it Can you share a reproduction? I'm unable to reproduce #2 above.

As for file inputs, I'd recommend trying the `InputFile` component included in .NET 5 RC1.

[2020-09-25 17:29] dfederm commented on #21178
I've upgraded to .NET 5.0 and no longer see this issue BTW.

On an unrelated note though, the PublishDir nor PublishUrl seem to be overridable, so I have copy the published output after the fact.

[code]

[2020-09-25 17:31] #25724 closed

[2020-09-25 17:36] pranavkm commented on #21178
@dfederm could you file a separate issue to track this? Thanks!

[2020-09-25 17:37] dfederm commented on #21178
Can do

[2020-09-25 17:49] dfederm commented on #21178
Looks like I was wrong. I suppose that too was fixed in .NET 5.

[2020-09-25 17:49] #21178 closed

[2020-09-25 17:51] HaoK commented on #24692
Tracking via https://github.com/dotnet/aspnetcore/issues/26285

[2020-09-25 17:51] #24692 closed

[2020-09-25 17:51] HaoK commented on #23643
ServerGlobalization test tracked via https://github.com/dotnet/aspnetcore/issues/26285

[2020-09-25 18:01] #26269 closed

[2020-09-25 18:02] HaoK opened #26333 "Flaky tests: ShowErrorNotifications"
Tracking:

- [ ] [ShowsErrorNotification_OnError_Dismiss](https://github.com/dotnet/aspnetcore/issues/23643)
- [ ] [ShowsErrorNotification_OnError_Reload](https://github.com/dotnet/aspnetcore/issues/23596)

Note: all tests in this file are quarantined currently

[2020-09-25 18:03] HaoK commented on #23643
ErrorNotifications tracked via https://github.com/dotnet/aspnetcore/issues/26333

[2020-09-25 18:04] HaoK commented on #23596
ShowsErrorNotification_OnError_Reload tracked via https://github.com/dotnet/aspnetcore/issues/26333

[2020-09-25 18:18] nssidhu commented on #26314
@page "/"

<h1>Hello, world!</h1>
<table>
    <thead>
        <tr>
             <th>Number</th>
             <th>Multiple</th>
             <th>Total</th>
        </tr>
    </thead>

@foreach(KeyValuePair<int, int> num in Nums)
{
    <tr>
        <td>@num.Key</td>
        <td>@num.Value</td>
        <td>@GetMultiple(num.Key,num.Value).Result</td>
    </tr>

}
</table>
Welcome to your new app.

<Su

[2020-09-25 18:24] ivanivanyuk1993 commented on #21514
Is there a roadmap for .NET 5? If there is, please give a link

[2020-09-25 18:24] yunfandev opened #26334 "Add support for Kestrel return non-ASCII headers in response"
### Describe the bug
When I try to create a reverse proxy using asp.net core with the library [reverse-proxy](https://github.com/microsoft/reverse-proxy/) for [my blog](https://yunfan.dev), which has the following response header:

[code]

It throws an expectation, `InvalidOperationException: Invalid non-ASCII or control character in header: 0x00E2` 😂😂😂

### To Reproduce

Set any non-ASCII header

[2020-09-25 18:25] yunfandev commented on #26334
Origin issue: https://github.com/microsoft/reverse-proxy/issues/440

[2020-09-25 18:54] danroth27 commented on #21514
@ivanivanyuk1993 Not yet. We're still finishing up .NET 5 and just starting on .NET 6 planning.

[2020-09-25 19:53] partyelite commented on #11212
@SteveSandersonMS I'm a man of a few words so I'm gonna give you an example. Please take a look at this (see Profile tab)
[https://scottwhittaker.net/aurelia/2016/06/12/aurelia-router-demo.html](url)

How can we do something similar in Blazor. We are building an larger app and something like this is a must have. Currently we have somekind of hacks like CrudComponentRouter with history.replaceState

[2020-09-25 19:57] gitforanand commented on #26258
The validation service is null.

[2020-09-25 21:37] JunTaoLuo opened #26339 "Token authentication not working for grpc-web"
---
**Issue moved from grpc/grpc-dotnet#1063**
- Please respond to @vrao1020.

---

_From @vrao1020 on Friday, September 25, 2020 1:17:46 AM_

### What version of gRPC and what language are you using?
2.31.0

### What operating system (Linux, Windows,...) and version?
Windows 10

### What runtime / compiler are you using (e.g. .NET Core SDK version `dotnet --info`)
SDK - 3.1.401

### What did you

[2020-09-25 21:40] #26087 closed

[2020-09-25 21:40] #26117 closed

[2020-09-25 21:42] BrennanConroy commented on #26258
Triage: Not sure if we can fix this, but we could try to provide a better error message

[2020-09-25 21:46] nvmkpk commented on #20193
That is an ugly work around. I hoped for a solution like adding `@on{EVENT}:disableRerender="true"` to prevent re-render.

I think I will go the route of a custom base class implementing `IComponent` and `IHandleEvent` interface to permanently disable the call to `StateHasChanged` on handling any events. (along with other related interfaces).

[2020-09-25 21:55] BrennanConroy commented on #26278
@pranavkm This looks similar to the other ModelBinding issues

[2020-09-25 22:02] nvmkpk commented on #11212
It looks like something like this actually requires nested layouts. But I don't think razor file currently supports specifying a layout file like cshtml does.

[2020-09-25 22:15] danroth27 commented on #26018
Thanks for the suggestion!

Because the gap between ASP.NET Web Forms and ASP.NET Core is pretty large we don't think there is a good way to provide generic tooling for this sort of conversion. There just too many variables to consider for the tool to be generally useful without devoting a lot of resources to developing it, which then wouldn't be available to further improvements in the platform.

[2020-09-25 22:15] #26018 closed

[2020-09-25 22:23] danroth27 commented on #25904
Hi @Postlagerkarte. Blazor Server is subject to network latency. All of the UI interactions are sent to the server over a WebSocket connection, where they are handled by your components on the server. The UI updates are then sent back to the browser and applied to the DOM. The impact of network latency on a Blazor Server app can be compounded when dealing with high frequency events. You can minimi

[2020-09-25 22:23] #25904 closed

[2020-09-25 22:35] vsfeedback opened #26341 "IncludeOpenAPIAnalyzers not working on the latest Visual Studio"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1191174/includeopenapianalyzers-not-working-on-the-latest.html)._

---
[severity:It's more difficult to complete my work] [regression] [worked-in:Forgot]
After upgrading my Visual studio to 16.7.3 OpenAPIAnalazyers stopped working for me.

So I created a fresh new MVC NET C

[2020-09-25 22:38] vsfeedback opened #26343 "Visual Studio 2019 creates invalid assembly name"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1165370/visual-studio-2019-creates-invalid-assembly-name.html)._

---
[severity:I'm somewhat annoyed. A fix would be nice]
I tried to create a ASP.NET Core 3.1 Web App using the following project/solution name: "Can'tDebugFF".

Visual Studio apparently doesn't escape the pr

[2020-09-25 22:45] nvmkpk commented on #11212
Actually, it looks like nested layouts do work in blazor.

[2020-09-25 23:09] vrao1020 commented on #26339
This issue can be closed - there is a custom middleware interfering with my request causing authentication and CORS to not work correctly.  I disabled it and its working correctly now.

[2020-09-25 23:45] danroth27 opened #26347 "Add a Blazor sample that shows large file uploads with progress indication"
Customer requested: https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-5-release-candidate-1/comment-page-3/#comment-2678

[2020-09-26 00:03] danroth27 commented on #17870
The issue isn't RCL specific. We also don't generate an *_Imports.razor* file with the `@using Microsoft.AspNetCore.Components.Web` directive in any of our other ASP.NET Core projects except for the Blazor ones. We could add this *_Imports.razor* file everywhere (at least for the UI related projects?), but that seems a bit clunky. @pranavkm @SteveSandersonMS Is there a better way?

[2020-09-26 00:08] danroth27 commented on #22863
We now have an experimental project for running Blazor in mobile apps via Xamarin called the the [Mobile Blazor Bindings](https://aka.ms/mobile-blazor-bindings) that you should definitely check out. Let us know what you think!

[2020-09-26 00:08] #22863 closed

[2020-09-26 00:37] danroth27 commented on #21824
If you haven't already, please contact Google Ads support to report this issue: https://support.google.com/google-ads/gethelp. We've also reached out to Google to try and get this resolved.

[2020-09-26 00:43] danroth27 commented on #21438
@simonziegler Just checking to see if this is still functionality you are interested in? Or did you find an alternative solution?

[2020-09-26 03:30] gwhzh21 commented on #26312
Production Environment!
iis10.0
windows server2016
publish as a web application

[2020-09-26 03:33] gwhzh21 commented on #26312
print log
2020-09-26 10:27:07.760 +08:00 [INF] Request starting HTTP/1.1 POST https://mypublish:9022/WxMarketing/GetNoShopCardList application/json 122
2020-09-26 10:27:07.760 +08:00 [DBG] 1 candidate(s) found for the request path '/WxMarketing/GetNoShopCardList'
2020-09-26 10:27:07.760 +08:00 [DBG] Endpoint 'LDCWXDish.CartServiceApi.Controllers.WxMarketingController.GetNoShopCardList (LDCWXDish.C

[2020-09-26 05:14] LucidObscurity commented on #3793
Here's something which I think I've got the kinks worked out. I've only tried with ASP.NET, but I imagine would work the same with the hosting module for net core. The first run does stop the site for a bit, so may want to tweak that a bit.
[code]

[2020-09-26 06:41] partyelite commented on #11212
Layouts work but imagine the following example. Based on the route you need to dynamically add tab item into tab control. After a tab item is added it should render some component as it's content. The newly added tab item should have it's set of routes that change just the rendered content of the tab item component.
Lets simplify and say you navigate to "/profile/username" route. In my scenario, a

[2020-09-26 08:47] mrpmorris commented on #26016
@Joe4evr Indeed.  Ultimately only the app developer can be expected to know if their types will remain unchanged, not component vendors.

That's why I updated the request to allow a fixed point the dev can use to tell Blazor the state is unchanged.

[2020-09-26 10:11] nikonthethird commented on #26314
I suspect this is exactly what @pranavkm meant:

[code]
You are using `.Result` here, which is attempting to block the thread. This will not work on Blazor. Instead, try fetching the data into a variable that you display, and once the result arrives, call `StateHasChanged()`, which will update the view.

[2020-09-26 10:44] nikonthethird commented on #26313
The thing you define in the `if` is a lambda with the type `Task<bool>`, which has to be awaited to return a `bool`, which you cannot do in that location.

A different strategy would be to use a nullable boolean field to store the `isInRange` state:
* When it's null, `GetIsInRange` has not returned yet.
* When it's false, `GetIsInRage` has returned false.
* When it's true, `GetIsInRange` has retur

[2020-09-26 11:00] #26122 closed

[2020-09-26 12:00] #26321 closed

[2020-09-26 15:31] blowdart commented on #26334
If we do this, it needs to be off by default, because, as we all known, that is, as the error indicates, an illlegal header, which should be rejected.

[2020-09-26 16:22] yunfandev commented on #26334
@blowdart

Agree. As long as it can be manually turned on when acting as a reverse proxy.

[2020-09-26 16:27] yunfandev commented on #26334
It looks like there is already a similar issue: [Allow non-ASCII characters in response header values](https://github.com/dotnet/aspnetcore/issues/4727)

[2020-09-26 17:00] #16866 closed

[2020-09-26 17:22] Jarek300 opened #26353 "Blazor RC1 Virtualize Component paging issue"
Virtualize component seems not to support clicking in “page down” area of the scroll bar.

If you drag a handle, component correctly loads items.

If you click in the scrollbar below the handle, component automatically scrolls the list from the current position till the end. Sometimes it’s enough to click once, sometimes you have to click ‘page down’ a few times.

I’ve attached a simple test proje

[2020-09-26 17:29] Jarek300 opened #26354 "Asp.net Blazor RC1 Virtualize Component – items limit"
Virtualize component seems not to support more than 700_000 elements.

If you have less elements, you can scrool till the end of the list. If you have more elements and scroll till the end of the list, last elements are not loaded.

I’ve attached a simple test project based on blazor project template. You can change the variable mCount to test with different list sizes.

[WebApplication1.zip](http

[2020-09-26 19:00] pr-benchmarks[bot] opened #26355 "Performance regression: plaintext"

[2020-09-26 19:58] chassq commented on #25646
Yeah this is impacting us in production right now. Any idea of when this might be addressed. No files can be downloaded without the user needing to refresh the page due to an uncaught error.

[2020-09-26 20:06] Daeymon commented on #25646
@chassq, I don't work for Microsoft, so don't quote me on this, but judging by https://github.com/dotnet/aspnetcore/issues/25724 the issue has been fixed with this pull https://github.com/dotnet/aspnetcore/pull/26297 and I'm assuming will hopefully appear on the next minor update on the .NET Core runtimes.

[2020-09-27 00:42] #21024 closed

[2020-09-27 02:16] 630383257 opened #26356 ".Net Core3.1 The client has disconnected"
After the program has been running for 5 or 6 days, this exception occurs during Put and Delete requests, which lasts for more than a day and then recovers on its own. I saw err_connection_reset in the browser developer tool and found that it is not the browser side that caused this problem, because I used the PostMan tool to call the interface without any response and saw the 504 status code in t

[2020-09-27 04:31] davidfowl commented on #26141
@halter73 seems like we didn't fix the KestrelServer breaking change.

[2020-09-27 05:13] halter73 commented on #26141
We should fix it.

[2020-09-27 07:01] pr-benchmarks[bot] opened #26359 "Performance regression: plaintext"

[2020-09-27 07:05] BrennanConroy commented on #26359
@sebastienros Bot is making empty issues now

[2020-09-27 09:19] rogihee commented on #25320
I ran into this issue as well and it would be great to support the change of the base url of the debugged app, to reflect how it would work in production.

Just FYI: I think the scenario is quite common not for blank slate projects but projects that need to migrate slowly and where you convert 1 area to a WebAssembly app. Like, us :-).

[2020-09-27 11:35] MeysamMoghaddam opened #26360 "I did not receive a proper answer"
I did not receive a proper answer
https://github.com/dotnet/aspnetcore/issues/26118

[2020-09-27 11:42] spapaseit commented on #22516
Hi @RJGJanssen, did you ever figure out what your issue was?

[2020-09-27 14:30] JimKgit opened #26362 "Blazor WASM .NET5 RC-1 Debugging fails with error: "Value cannot be null. (Parameter 'input')""
### Describe the bug

- Using Visual Studio Version 16.8.0 Preview 3.1
- The solution is a Web Assembly App, ASP.NET Core hosted, PWA, using Individual accounts.
- When running normally the app successfully executes allowing logins, logouts and displaying a basic page. When Debugging a blank browser page is displayed and Visual Studio generates the following exception:

System.ArgumentNullExceptio

[2020-09-27 15:56] Seabizkit commented on #19955
so given the very detail explanation which i gave how would you make it work.

[2020-09-27 16:50] captainsafia commented on #25320
@rogihee Thanks for chiming in. We've added documentation on how to debug applications running under a base href. Check out the docs in the PR linked above. You'll need to modify some settings files.

[2020-09-27 16:51] captainsafia commented on #25320
@mkArtakMSFT Closing this issue since @guardrex and I have got this documented.

There's some work to do to support this in the VS Code extension but I'll open a separate issue for that.

[2020-09-27 16:52] #25320 closed

[2020-09-27 19:00] pr-benchmarks[bot] opened #26363 "Performance regression: plaintext"

[2020-09-27 19:02] pksorensen commented on #23263
I did not get any pathbase headers and added it manually. Is this due to the PathRemovePrefix transform that i had to added it manually like below?
[code]

[2020-09-27 20:00] NTaylorMullen commented on #17786
Done

[2020-09-27 20:00] #17786 closed

[2020-09-27 20:18] BruceHunter opened #26364 "Blazor wasm authentication issue getting token to call api - .NET 5 RC1 - AD b2c"
Client: https://localhost:5001
API: https://localhost:5002

When using
`.AddHttpMessageHandler<BaseAddressAuthorizationMessageHandler>();`

I get a 401 error, so I created a

`.AddHttpMessageHandler<CustomAuthorizationMessageHandler>();`

[code]

Client: Programs.cs
[code]

I am getting this error.

![image](https://user-images.githubusercontent.com/3585646/94374596-6529ad00-00db-11eb-982c-06be373

[2020-09-27 21:26] arilishu commented on #3793
@LucidObscurity what is that? a cmd code? where do i have to add that code?
Thanks

[2020-09-27 22:29] Timka654 opened #26366 "[Blazor] Development and debug"
Hi, i'm have problem but don't known this issue must be created in dotnet, asp.net or other repo, sorry

Blazor - 5.0.0-rc.1.20451.17
.NET - 5.0

For develop application i'm use "dotnet watch run -c Debug" in powershell, and after work i'm open windows task manager and see >50 process ".Net Host", i'm see this problem very long time, and my 16 Gb Ram used on 90-98%
![image](https://user-images.git

[2020-09-28 00:01] #25996 closed

[2020-09-28 00:01] #25132 closed

[2020-09-28 00:01] #22402 closed

[2020-09-28 02:49] VenkateshSrini opened #26368 "Unable to render conditional closing and opening tag"
### Describe the bug
I have a requirement as per which withing a parent div I will have to render only three div inside it. So if there are 7 elements in collection, there will be 3 parent div. The first Div will have 3 child elements and second also and the third div will have one element

### To Reproduce

[code]
The above code is throwing an error.

### Exceptions (if any)

### Further technica

[2020-09-28 02:57] mkArtakMSFT commented on #26366
Thanks for contacting us.
Looks like there are two issues here.
1. The fact that the debug proxy is using the same port every time. **This issue has been fixed already and will be released in .NET 5 RC2 release.**
2. The fact that these many processes stay open. I think this is also something we've addressed already but maybe I'm not remembering correctly. @pranavkm do you remember?

[2020-09-28 02:59] mkArtakMSFT commented on #26360
Reopening the original issue for re-triage.

[2020-09-28 02:59] #26360 closed

[2020-09-28 05:55] SirMrDexter opened #26369 "Cookie authentication redirects with the base domain"
### Describe the bug
When using cookie authentication, the redirect URLs use the full URL instead of relative URLs. This causes issues with services which are managed behind load balancers. Although it can fixed with URL rewrite rules, it may not be ideal solution.

### To Reproduce

1. Create a new web app and setup authentication services as below
[code]
2. Add authentication middleware
[code]
3

[2020-09-28 07:00] pr-benchmarks[bot] opened #26371 "Performance regression: plaintext"

[2020-09-28 07:48] mrpmorris commented on #26327
Any name starting with @ is not an attribute, it is a compiler directive to generate a special code pattern. That's why it won't work.

What are you trying to achieve?

[2020-09-28 08:22] AR-May commented on #26372
Please take a look at this issue. It seems this concerns the template from your repo.

[2020-09-28 08:32] Sifundo-B opened #26373 "Blazor webAssembly pwa"
Microsoft.AspNetCore.Components.WebAssembly.Rendering.WebAssemblyRenderer[100]
      Unhandled exception rendering component: Cannot provide a value for property 'AuthenticationStateProvider' on type 'Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState'. There is no registered service of type 'Microsoft.AspNetCore.Components.Authorization.AuthenticationStateProvider'.
System

[2020-09-28 08:38] seven1986 opened #26374 "how can I config authority with subdomains"
My IdentityServer and ApiResource in the same project, and develop in sub domain like

a.myids.com
b.myids.com
c.myids.com
d.myids.com
I have reference this code, but only can config one IdentityServer address, how can I change the Authority property dynamic, follow current requestContext Uri?

[code]

[2020-09-28 08:41] majorimi commented on #26322
So I have a "simple" proposal for this with the least amount of change required. I think only `MSBuild` scripts should be changed:

- [x] Just let developers to use 3rd party CSS and JS minification tools
- [ ] During `dotnet publish` or `Nuget packaging` collect and package all resources:
  - [x] JS files: from `wwwroot` all (*.js) `<name>.js` and `<name>.min.js`
  - [ ] CSS files: `<component>.r

[2020-09-28 09:18] Lux44 opened #26375 "Blazor server, CSS isolation / component specific CSS is not applied"
### Describe the bug
In newly created Blazor Server app, the component specific CSS is not applied.

### To Reproduce
1. New Blazor Server app.

2. Add Index.razor.css under Pages with style copied from [Preview 8 announcement blog](https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-5-preview-8/).
[code]

3. Run the app.
Expected: heading font changed.
Actual: heading font unchanged

[2020-09-28 09:19] Lux44 commented on #26375
Sample project:
[https://github.com/Lux44/BlazorApp4](https://github.com/Lux44/BlazorApp4)

[2020-09-28 10:48] SteveSandersonMS commented on #23340
I tried following the repro steps but it seemed to work fine. After navigating to https://demos.devexpress.com/blazor/ChartSeriesTypes and then leaving the browser minimized for some hours, on returning I did get the reconnect UI as expected:

<img src="https://user-images.githubusercontent.com/1101362/94423288-51845200-0180-11eb-8f6e-725fbaf42828.png" height="500" />

Then, after tapping "Reload"

[2020-09-28 11:17] jotatoledo commented on #2457
Up, any updates related to this?

[2020-09-28 11:23] tlejmi opened #26377 "Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv.Internal.Networking.UvException: Error -24 EMFILE too many open files"
I'm serving byte[] to more than 3000 users .... Im reading from files and thoses File are generated at the same time .
using ASP .NET core 3.1 and Kestrel
I'm facing this Exception :
Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv.Internal.Networking.UvException: Error -24 EMFILE too many open files

How can I solve it ....

Log :
[Microsoft.AspNetCore.Server.Kestrel]
Microsoft.AspNetCore.Serv

[2020-09-28 12:21] sroy2020 commented on #26327
Thanks for the explanation.

Basically I was trying to find out a way to add dynamically @bind-value other than using an if/else in the Razor file. According to what you're saying I'll continue with the if/else.

Thanks again

[2020-09-28 12:45] Tratcher commented on #26369
See https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-3.1 for our guidance on working with proxies and load balancers.

[2020-09-28 13:29] mrpmorris commented on #26327
If you want to discuss your requirements there are some clever people in here => https://gitter.im/aspnet/Blazor

[2020-09-28 13:55] kiyote commented on #26016
I'm not sure I understand the pushback on this.  If the framework already incorporates one performance turnstile, what is the objection to adding another, especially for circumstances where clearly only the developer can say for sure?

[2020-09-28 14:12] BruceHunter commented on #26366
@mkArtakMSFT When are they releasing .NET 5 RC2?

[2020-09-28 14:25] SteveSandersonMS commented on #26016
@kiyote There's no pushback 😄 The framework already has `ShouldRender` to give the developer absolute control over this.

In this issue we are tentatively considering a built-in mechanism for denoting a certain custom type as immutable (e.g., a `[TreatAsImmutable]` attribute). Or, if it wasn't an attribute, it could be done via some global callback like `bool IsMutable(object instance)` or `bool I

[2020-09-28 15:00] boukenka commented on #26366
@BruceHunter .NET  5 RC2 is planned for October 13, 2020.

[2020-09-28 15:06] captainsafia commented on #26366
We did have a variant of this issue. We were leaving behind BrowserDebugHost.dll processes. This will be resolved in RC2.

However, based on the screenshot above, the processes seem to be msbuild processes, not BrowserDebugHost.dll processes so there might be something more here.

[2020-09-28 15:07] captainsafia commented on #26362
Thanks for filing this bug report, @JimKgit!

It looks like you're running into a known issue with RC1. It'll be resolved in RC2. In the meantime, #25887 and referenced issues can help you find workarounds for this in RC1.

[2020-09-28 15:08] #26362 closed

[2020-09-28 15:16] JeroenJSmit opened #26381 "Thousands of ObjectDisposedException in WebUserTelemetryInitializer per day"
### Describe the bug
We are seeing thousands of System.ObjectDisposedException traces being logged in Application Insights originating from WebUserTelemetryInitializer with the following stack trace and exception information:

AI (Internal): [Microsoft-ApplicationInsights-Core] [msg=Log Error];[msg=Exception while initializing Microsoft.ApplicationInsights.AspNetCore.TelemetryInitializers.WebUserT

[2020-09-28 15:26] captainsafia commented on #24706
@CincySteve One more piece of info here: can you share your app's `blazor.boot.json`? I suspect that the issue is related to the number of assemblies/PDBs used by your app. As a result, it takes a slightly longer amount of time than expected to load the assemblies in the DebugProxy which causes the hang on about:blanl.

[2020-09-28 15:45] psaxton commented on #26231
I understand other stages of the AAA pipeline may overwrite the principal just as we have done. It seems weird that simply asserting the scheme is used for an Authorization profile would change the observed behavior. Generally assertions are assumed to be side-effect free.

[2020-09-28 15:45] Tratcher commented on #2457
Only some updated guidance docs:
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/static-files?view=aspnetcore-3.1#static-file-authorization

[2020-09-28 15:50] captainsafia commented on #26364
Thanks for reporting this issue, @BruceHunter.

Can you confirm that the client B2C app is granted permissions to the API in Azure portal?

[2020-09-28 15:55] captainsafia opened #26383 "Update documentation on client-side circuit disconnect to clarify behavior"
We need to update our docs to clarify what events trigger the disconnect call and how users can extend on this behavior.

[2020-09-28 16:01] #26079 closed

[2020-09-28 16:09] javiercn commented on #17737
I think so, at least for 6.0.

The external providers flow should work with the default Identity UI, without requiring the user to scaffold the page.

[2020-09-28 16:12] captainsafia commented on #26375
@Lux44 It looks like your repro project is targeting 3.1. Can you create a new project using a 5.0 template and verify if the behavior works as expected there?

[2020-09-28 16:12] captainsafia commented on #26375
Closing this since we have tests verifying this behavior. If you run into problems, please open a a new issue.

[2020-09-28 16:12] #26375 closed

[2020-09-28 16:14] captainsafia commented on #26373
@Sifundo-B Can you confirm that your app's services are configured correctly? You'll need to make sure that you call `services.AddAuthenticationCore();` in your `Program.cs`.

[2020-09-28 16:14] #26373 closed

[2020-09-28 16:16] captainsafia commented on #26354
Thanks for reporting this issue, @Jarek300.

This issue is a result of the browser's limitations on the height of a scrollable region, as opposed to a limitation in Blazor itself.

[2020-09-28 16:17] #26354 closed

[2020-09-28 16:17] Tratcher commented on #26258
I can't see what the validation service is supposed to be in your above example, did you copy that from the doc? It should be something you registered yourself in DI.

Note you should call [GetRequiredService](https://github.com/dotnet/AspNetCore.Docs/pull/20028) instead of GetService to better report missing services errors.

[2020-09-28 16:18] captainsafia commented on #26353
This is an issue in RC1 that was resolved in RC2. Can you try RC2 and verify if the same behavior persists? You can check out the nightly builds of RC2 at https://github.com/dotnet/installer#installers-and-binaries.

[2020-09-28 16:18] #26353 closed

[2020-09-28 16:25] captainsafia commented on #26327
We don't currently support this feature but have placed it in the backlog to gauge interest in adding this.

[2020-09-28 16:25] captainsafia commented on #26322
Thanks for reporting this issue, @majorimi.

We plan on documenting best practices for this in https://github.com/dotnet/AspNetCore.Docs/pull/19956.

[2020-09-28 16:25] #26322 closed

[2020-09-28 16:27] captainsafia commented on #26314
Thanks @nikonthethird.

As an additional note, you'll want to do this in a lifecycle method like `OnInitializedAsync`. You don't need to call `StateHasChanged` since Blazor will take care of that for you.

[2020-09-28 16:28] #26313 closed

[2020-09-28 16:29] captainsafia commented on #26292
@majorimi Can you share a repro project?

[2020-09-28 16:31] captainsafia commented on #26290
We've made quite a few improvements to the debugging experience in .NET 5. I'd recommend trying the latest .NET 5 RC for these improvements. If you have particular problems with debugging, please open another issue with the relevant details.

[2020-09-28 16:31] #26290 closed

[2020-09-28 16:34] Pilchie commented on #26381
@shirhatti do you know how to route this?

[2020-09-28 16:35] FredericMa commented on #24706
Hi @captainsafia ,

I'm experiencing the same issue.
Below you can find my `blazor.boot.json` content:
[code]

[2020-09-28 16:35] mrpmorris commented on #26016
Hi @SteveSandersonMS I don't see pushback :)

Whatever it is you choose to do, please don't make it so I have to reference Blazor from the library that holds my state as it will be UI agnostic.

Or, at least don't make it the only way. A global hook that also looks for attributes would obviously do just as nicely :)

[2020-09-28 16:35] pr-benchmarks[bot] opened #26384 "Performance regression: plaintext"
A performance regression has been detected for the following scenarios:

 | Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev |
 | -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
 | plaintext  | Plaintext Platform aspnet-citrine-lin | 09/25/2020 08:02:31 | 10,861,653 | 11,860,913 | 9.20 % (999,260) | 2.47 σ | 404,390.34 |

@sebastienros

[2020-09-28 16:36] Pilchie commented on #26368
Can you give details of what error you are seeing?

[2020-09-28 16:37] #26355 closed

[2020-09-28 16:37] sebastienros commented on #26359
Found the bug and fixed it. The issue template was bad and it created an empty body

[2020-09-28 16:37] #26359 closed

[2020-09-28 16:37] #26363 closed

[2020-09-28 16:37] #26371 closed

[2020-09-28 16:38] sebastienros commented on #26384
@BrennanConroy this is the report it was trying to create. The impact of your change on Plaintext Platform

[2020-09-28 16:38] captainsafia commented on #26118
We don't provide support for this feature out of the box in Blazor.

In addition to caching, you'll likely want to leverage JS interop to retrieve the scroll position before the user navigates away, store in in local storage, then read from the stored value and programmatically scroll to it when the user returns to the page.

[2020-09-28 16:38] #26118 closed

[2020-09-28 16:42] SteveSandersonMS commented on #26287
If you're just passing a few primitive-values parameters (e.g., a few strings or ints) then there's little to no overhead from the JSON marshalling, so you can use the normal marshalled interop.

If you need to pass larger data structures, then you would have to use marshalled interop because WebAssembly in general (and .NET specifically in this case) has no way to read directly from the JavaScrip

[2020-09-28 16:42] #26287 closed

[2020-09-28 16:48] JimKgit commented on #26362
Thanks for the follow up.

[2020-09-28 16:55] CincySteve commented on #24706
`{
  "cacheBootResources": true,
  "config": [ ],
  "debugBuild": true,
  "entryAssembly": "ME Web",
  "linkerEnabled": false,
  "resources": {
    "assembly": {
      "ME Web.dll": "sha256-S8LqZOCKPP5fX2LI2OKax44ETdWOBTl4UpLW0c1ZCGE=",
      "System.Net.Http.Json.dll": "sha256-WkuXkEV\/\/B1J2kYqjuSPxgHubOHALmA548PhKTed2JE=",
      "System.Buffers.dll": "sha256-ZxXy75PYbzJxNfAc\/SAP1nUYm4gt1jSaOpF

[2020-09-28 17:04] Pilchie commented on #26343
@dsplaisted thoughts on how this might work?  It looks like the template engine embeds an escaped version of `<RootNamespace>` in the project file here, but since the assembly name comes from the project file it doesn't work.  Could the template engine also put something to escape the assembly name?

[2020-09-28 17:06] BruceHunter commented on #26364
@captainsafia
I have confirmed that this is not an issue. This "json" error above happens when you do not add a permission and grant consent under "Applications" -> API permissions.

To all other developers, the full scope URI value in the CustomAuthorizationMessageHandler class is needed and make sure it matches.

Feature?
I think that logic should be added that hints to this maybe? Throws a bett

[2020-09-28 17:12] shirhatti commented on #26381
@JeroenJSmit Can you please file an issue at https://github.com/microsoft/ApplicationInsights-dotnet?

@cijothomas FYI

[2020-09-28 17:14] VenkateshSrini commented on #26368
It is not compiling

[2020-09-28 17:17] sroy2020 commented on #26327
Thank you all

[2020-09-28 17:28] Pilchie commented on #26368
What compiler error message are you getting.  Please paste the exact error message.

[2020-09-28 17:30] pranavkm commented on #23640
Resolved by https://github.com/dotnet/aspnetcore/pull/25407

[2020-09-28 17:30] #23640 closed

[2020-09-28 17:44] dsplaisted commented on #26343
Yes, we could consider that.  I'm guessing we don't do it now because most commonly it would be a space that needs to be escaped for the namespace, and maybe that's not necessary for the assembly name.

We could also do it automatically in the SDK, but cleaning up or escaping names in MSBuild logic isn't great to write.  See dotnet/sdk#12562 where we handle spaces in the root namespace.

[2020-09-28 17:45] pranavkm commented on #26366
@Timka654 do you have steps that reproduce the problem you're seeing with all of those msbuild processes running? I'm not seeing it locally but perhaps I'm missing something that triggers this behavior.

[2020-09-28 17:54] #26303 closed

[2020-09-28 17:55] JimKgit commented on #26362
I just checked the other issues you referenced and I believe those are not the same. My issue with debugging is that it is choking on  System.Text.RegularExpressions as the Source in the stack trace whereas the others that you referenced are having issues with ports. Is my issue truly one that has been addressed in RC2 as mentioned above and if so are there any workarounds for my specific error? P

[2020-09-28 18:16] Pilchie commented on #26343
Also tagging @vijayrkn - do you know where the escaping of `RootNamespace` happens?

[2020-09-28 18:19] Pilchie commented on #26343
Note - as a workaround, it's already possible to specify `<AssemblyName>Can_tDebugFF</AssemblyName>` in the project file.

[2020-09-28 18:30] alrz commented on #2457
I made a custom endpoint pipeline with static file middleware. A few things to consider:

- Make sure to reset endpoint to null
- Pass an identical route to both RequestPath and Map

This has a tradeoff of matching the route twice (via endpoint and the middleware itself). You could manually set Path instead but it causes issues hard to diagnose.

[2020-09-28 18:33] Timka654 commented on #26366
@pranavkm
- create solution Blazor (Asp.Net hosted, other default)
- create ps1 file in solution dir
[code]
and now i'm using modules structure - for one component or project module(user, wiki, project and other) i'm create Razor Components library project and append to solution, and link, after change one file anywhere you dotnet rebuild project, and you can have this  problem

- Solution
-- ps1

[2020-09-28 18:34] mrlife opened #26392 "Build error after upgrading to 5.0 RC1"
After completing the [migration steps for 3.1 to 5.0](https://docs.microsoft.com/en-us/aspnet/core/migration/31-to-50?view=aspnetcore-3.1&tabs=visual-studio), I'm getting the following error on the latest release of Visual Studio for Mac 8.8 Preview (8.8 build 2120) on a Blazor Server project. I'm not sure why it's looking for a .NETFramework. Could a step be missing from the instructions?

I see

[2020-09-28 18:51] Pilchie commented on #26392
This sounds to me like VS4Mac isn't using the right NuGet that understands the .NET 5 tfm properly.

[2020-09-28 19:00] eerhardt commented on #25909
FYI - the underlying issue above is being tracked with https://github.com/dotnet/runtime/issues/42754.

[2020-09-28 19:03] nssidhu opened #26393 "QRCode/BarCode Scanning and Direct Printing in POS"
Looking for feature POS system level features in Blazor WebAssembly
Are there any plans to prodive features like Scanning/Reading QRCode & Barcodes from mobile devices when using Blazor WebAssembly?
Any plans on providing Direcrt Reciept Printing(No prompt) from Modbile Devices ?

Blazor Applications as of today cannot be used on POS systems which usually requires scanning barcodes and printing re

[2020-09-28 19:11] #26383 closed

[2020-09-28 19:14] mrlife commented on #26392
@Pilchie Know if anyone from the VS4Mac team is on here?

[2020-09-28 19:45] Jothinimal commented on #26276
I tried using an exception middleware, but still the same issue persits. The middleware is as below

**At Startup.Configure**
[code]

**The middleware**
[code]

[2020-09-28 19:45] majorimi commented on #26292
@captainsafia Sure [here it is](https://github.com/majorimi/blazor-components/tree/dev/update-demo-app-to-nuget).

I'm developing a set of Blazor components and for testing I have 2 TestApps (one `WebAssembly` and one `Server hosted`). These are referencing the Razor Class Libraries as project ref. So I can test any changes by running the apps locally.

The issue is happening in the **demo/Blazor.

[2020-09-28 19:46] Jothinimal commented on #26276
I tried using an exception middleware, but still the same issue persits. The middleware is as below

**At Startup.Configure**
[code]

**The middleware**
[code]

[2020-09-28 19:48] pranavkm commented on #26366
Still not seeing it. I tried a hosted app with a dozen referenced RCLs but I don't see msbuild processes sticking around.

@rainersigwald have you come across this before? `dotnet watch run` spawns `dotnet run` when it detects file changes. The previous `dotnet run` process gets cleaned up when we spawn a new one. Even if we had an issue there, it's strange to see soo many `dotnet msbuild` process

[2020-09-28 19:53] captainsafia commented on #24492
@vd3d We've added some documentation to cover this. You should be able to invoke asynchronous JavaScript methods using JS interop. Blazor will automatically unwrap the Promise for you so you can extract the value. The [JS interop docs](https://docs.microsoft.com/en-us/aspnet/core/blazor/call-javascript-from-dotnet?view=aspnetcore-3.1) have more info.

[2020-09-28 19:53] #24492 closed

[2020-09-28 19:57] captainsafia commented on #26362
@JimKgit Yep, it's the same issue. You can confirm by examining what is printed in the `Output` panel of Visual Studio.

It'll likely be the issue about the existing port. It manifests as a RegularExpressions issue because that's the codepath that attempts to parse the standard output, which isn't generated when the debugging proxy fails to launch due to an already used port.

[2020-09-28 19:59] Timka654 commented on #26366
@pranavkm i'm find problem, if you drop console window, processes not dropped(at now i'm have exceptions and i'm close window), i'm must drop this window on day 2-20 times for publish beta releases,

UPD: processes dropped, but after 1-5 minutes after closing
![image](https://user-images.githubusercontent.com/12096914/94479314-4ad7f800-01dd-11eb-8ac2-89ca91cb41cb.png)

[2020-09-28 20:11] blowdart commented on #26369
What issues are you seeing with application gateway or load balances that you believe can be solved with relative paths?

[2020-09-28 20:12] nssidhu opened #26396 "Blazor Hosted PWA WebAssembly 3.1 How to prevent download of dll from shared project"
I am using Blazor Hosted WebAssembly 3.1 application. There are certain Libraries in the shared Shared Project which are only needed on the server side project. I don't want those DLL to be downloaded to webassemblyclient.
I have tried the following offlineAssetsExclude  but it still downloads those libraries on the client.
How can i prevent those files from downloading to client(For now without u

[2020-09-28 20:13] blowdart commented on #26339
Closing as requested :)

[2020-09-28 20:13] #26339 closed

[2020-09-28 20:14] Timka654 commented on #26366
i think
dotnet watch, watched my file changes, try rebuild, run process dotnet(> 1 times for multithreading build, this i'm dont known, maybe 1 time), catched exceptions, and wait next update files, and before new try - not dropping exists processes, and this cycled action

and another scenario - i'm visibling my exceptions, fast change this and save files, dotnet - run build, but not ending and a

[2020-09-28 20:16] pranavkm opened #26397 "API ref docs"
This issue tracks filling in the blanks in our API ref docs. We'd like to make sure all public API surface in our types are documented and that we're able to enable the doc warning [CS1591](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/cs1591) in our projects.

Later this week, we'll follow up on doing a pass on APIs that are commonly used by project templates

[2020-09-28 20:17] ajaybhargavb commented on #23488
@TanayParikh the external issue seems to be resolved. Is this still relevant for us to do at this point?

[2020-09-28 20:22] rainersigwald commented on #26366
`dotnet run` runs `dotnet build` which calls `dotnet msbuild -m` which will start `NUMBER_OF_PROCESSORS` worker processes. After the build is complete, those processes stay around, idle, for up to 15 minutes. That's a perf optimization--it's noticeably faster to connect to an existing process than to start a new one.

On the second and subsequent builds, MSBuild should find and connect to those pr

[2020-09-28 20:23] TanayParikh commented on #23488
I think our current solution should remain sufficient. I'd briefly looked into the external issue resolution, and I don't think the changes made would allow us to update our approach to using the `IProgress<T>` token. Closing this out, thanks.

[2020-09-28 20:23] #23488 closed

[2020-09-28 20:24] Timka654 commented on #26366
@rainersigwald 8 logical processors

[2020-09-28 20:31] TanayParikh opened #26399 "Re-enable Multi-Part Edit Code Actions"
- Multi-part edit formatting. Disabled code actions requiring multi-part edits:
    - `Add 'DebuggerDisplay' attribute`
    - `Create and assign property [XYZ]`
    - `Create and assign field [XYZ]`
    - `Implement interface with [XYZ] pattern` ex. `Implement interface with Dispose pattern`

[2020-09-28 20:32] TanayParikh commented on #26399
Putting this temporarily in milestone 16.9-Preview1 but that may change as it has a dependency.

[2020-09-28 20:33] ajaybhargavb commented on #26207
Moving to 16.9. FYI @ryanbrandenburg

[2020-09-28 20:38] ajaybhargavb commented on #26198
I tried this out on the latest preview VS and it doesn't reproduce. Please update to the latest preview release. If it still happens, please file a new issue.

[2020-09-28 20:38] #26198 closed

[2020-09-28 20:39] svelluto opened #26400 "Blazor Component not updating with StateHasChanged after login"
### Describe the bug

I have a layout with a component responsible for displaying a modal of another component. After I go through the login and it redirects to a page the component in the modal does not appear even though the method calling StateHasChanged does. If I then refresh the page, which uses the authentication cookie instead of typing a password, the modal works correctly.

### To Reprod

[2020-09-28 20:47] javiercn commented on #26396
@nssidhu thanks for contacting us.

You shouldn't reference those libraries in a library referenced by a blazor webassembly application if you don't want those libraries to be part of the blazor webassembly payload.

If the Blazor Webassembly application references those libraries directly or transitively they will be included in the download payload.

[2020-09-28 20:51] javiercn commented on #26393
@nssidhu thanks for contacting us.

We haven't received similar requests in the past for this type of functionality, this is not something we plan to tackle, There might be existing solutions out there that can be wrapped within JS interop to achieve this scenario.

[2020-09-28 20:56] Pilchie opened #26402 "Update to the released Microsoft.Identity.Web packages for 5.0 GA"
Before shipping, we need to update to the released Microsoft.Identity.Web packages for 5.0 GA

[2020-09-28 20:58] Pilchie opened #26403 "Update gRPC package references in templates for 5.0 GA"
Before shipping 5.0 GA, we need to update the versions of the gRPC packages used in templates.

[2020-09-28 21:01] JimKgit commented on #26362
@captainsafia Thanks! I retried the work around in this comment (I missed an edit the first time) and debugging is working for me now! Thanks for your help.
https://github.com/dotnet/aspnetcore/issues/25887#issuecomment-693487470

[2020-09-28 21:15] Pilchie commented on #26392
@jmatthiesen can you help route?

[2020-09-28 21:18] nssidhu commented on #26396
Webassembly does not reference them.

[2020-09-28 21:22] javiercn commented on #26396
If you are referencing a shared library and that library references those libraries, they are referenced transitively.

[2020-09-28 21:29] TanayParikh commented on #26165
So to implement this properly, we need LSP platform to support [`textDocument/prepareRename`](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#textDocument_prepareRename). I've created a [VSTS issue here](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1222641).

[2020-09-28 21:33] BrennanConroy commented on #26384
We know why this happened

[2020-09-28 21:33] #26384 closed

[2020-09-28 21:36] BrennanConroy commented on #26377
You can raise the ulimit on your machine. By default it's something like 512, but if you see issues with that you can always raise it.

Example of a similar issue https://github.com/nodejs/node/issues/4386
[code]

[2020-09-28 21:39] BrennanConroy commented on #26356
Can you grab ANCM logs? https://docs.microsoft.com/aspnet/core/test/troubleshoot-azure-iis?view=aspnetcore-3.1#aspnet-core-module-debug-log-iis
And event logs https://docs.microsoft.com/aspnet/core/test/troubleshoot-azure-iis?view=aspnetcore-3.1#application-event-log-iis

[2020-09-28 21:44] BrennanConroy commented on #26312
Can you explain your scenario better please? It doesn't seem like you're talking about startup time here, and more about the duration of a request/response. Also what do you mean about 200 requests per second, is that not expected?

[2020-09-28 21:45] BrennanConroy commented on #26278
Ping @pranavkm

[2020-09-28 21:48] BrennanConroy commented on #26013
You can contact Azure App Service support

[2020-09-28 21:48] #26013 closed

[2020-09-28 21:51] BrennanConroy commented on #26206
You can grab the original path from the features in your error page, see the docs at https://docs.microsoft.com/aspnet/core/fundamentals/error-handling?view=aspnetcore-3.1#access-the-exception-1

[2020-09-28 21:52] pranavkm commented on #26278
Thanks @BrennanConroy. We haven't addressed this with body binding. We'll use https://github.com/dotnet/aspnetcore/issues/13333 to track further work here.

[2020-09-28 21:53] pranavkm commented on #26278
@SOHODeveloper if you must avoid this error, consider using an error handling middleware that catches this exception and provides a 4xx error response.

[2020-09-28 21:57] HaoK commented on #26397
@pranavkm just double checking in case we supposed to be swapped MVC/Components for you and Security/Auth for me?

[2020-09-28 22:14] TanayParikh opened #26407 "Support textDocument/prepareRename for Component Tag Renames"
Currently `F2` anywhere on a component start tag (ex. even component parameter) will trigger the rename window. We want to only show this window when a rename is triggered for the component itself. This requires LSP platform to support [`textDocument/prepareRename`](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#textDocument_prepareRename). I've created

[2020-09-28 22:17] WayneHiller commented on #21546
Anything new on this? I am having the same issue running the site in Kestrel.

[2020-09-28 22:20] rainersigwald commented on #26366
@Forgind fyi, another maybe-a-handshake-problem thing.

@Timka654 Can you set these two environment variables, let the problem happen for a while, and then share the contents of the log folder?

[code]

[2020-09-28 22:24] Timka654 commented on #26366
@rainersigwald I'm append results after see this problem, maybe you must wait 1-2 days

[2020-09-28 22:32] nssidhu commented on #26396
I get your point, shared Project is being referenced in Client/Webassembly Project.
I was hoping that excluding it from Service-worker would not download it, what is that meant for ? only PWA Part ?
So other than refactoring is there anyother option ?

[2020-09-28 22:41] JamesNK commented on #26403
Waiting on 2.32.0 to be published on NuGet.org.

Everything is ready in grpc-dotnet code - https://github.com/grpc/grpc-dotnet/pull/1061

I've sent a follow up email to ask it to be done soon.

[2020-09-28 22:44] TanayParikh opened #26408 "RZLS doesn't boot"
Looks to be due to: https://github.com/dotnet/aspnetcore-tooling/commit/33f2b33bc382d9d276ffaae9765deb8bb97740d5
 Specifically the dotnet sdk upgrade causing conflicts.

[code]

[2020-09-28 23:19] halter73 opened #26410 "Ensure the Kestrel connection's ExecutionContext is restored for HTTP/3 requests"
This is the equivalent of #26282, but for HTTP/3.

[2020-09-28 23:33] pranavkm commented on #26301
Resolved as part of https://github.com/dotnet/aspnetcore/pull/26391.

[2020-09-28 23:33] #26301 closed

[2020-09-28 23:42] jmatthiesen commented on #26392
Looping in @mrward to help take a look here, too. Thanks for the ping!

[2020-09-28 23:46] sanpate opened #26411 ".Net Core Web Service Frequently Crashing"
Our .net core 2.1 service (running as IWebHost) is frequently crashing in production. Crash dumps show exception from one of the Cosmos operation:
[Managed to Native Transition]
 	Microsoft.Azure.Cosmos.Client.dll!Microsoft.Azure.Cosmos.ResponseMessage.EnsureSuccessStatusCode() Line 150	C#
 	Microsoft.Azure.Cosmos.Client.dll!Microsoft.Azure.Cosmos.CosmosResponseFactoryCore.ProcessMessage<System.__

[2020-09-29 00:02] gwhzh21 commented on #26312
The phenomenon is that customers only submit data once. The data returned by webapi shows that customers submitted more than 2000 times.

We are in the debug mode of the client and see that it is indeed submitted only once. The data returned by webapi needs to wait more than 15S. Finally returned, it has been submitted more than 2000 times. The code on the server side is very simple: request once,

[2020-09-29 00:05] gwhzh21 commented on #26312
Every sc-win32-status=64 will cause the counter to increase by 1. That is, all requests to webapi.

[2020-09-29 00:05] dougbu commented on #23640
@pranavkm why is this assigned to me if you're done the fix❔

[2020-09-29 00:31] blowdart commented on #26275
You are missing an ` services.AddAuthorization();` after services.AddAuthentication().

Is this in process or out of process IIS hosting?

[2020-09-29 01:21] LeviBickel commented on #26275
I have added services.AddAuthorization() with no change. This is running in process.

[2020-09-29 01:24] connor4312 opened #26412 "Blazor debugging in VS Code doesn't bind breakpoints"
### Describe the bug
I've mentioned before but realized I never file a bug. I'm not able to successfully debug into a "hello world" blazor project. I can run the app, but when I try to set breakpoints (e.g. on `currentCount++;` on the hello world app) they never get bound.

### To Reproduce

1. Follow the steps here: https://docs.microsoft.com/en-us/aspnet/core/blazor/debug?tabs=visual-studio-code

[2020-09-29 01:31] connor4312 commented on #24706
I've run into the same (or a similar?) issue today. Having a launch.json containing

[code]

Works fine 👍

But just hitting F5 and selecting Blazor without that, as the [tutorial recommends](https://docs.microsoft.com/en-us/aspnet/core/blazor/debug?tabs=visual-studio-code&view=aspnetcore-3.1#vscode), leaves me on an about:blank page which eventually times out with the error

![](https://memes.peet

[2020-09-29 01:34] connor4312 opened #26413 "Stopping Blazor debugging presents an error notification"
### Describe the bug

On windows with PS5, I get this notification each time I stop debugging:

![](https://memes.peet.io/img/20-09-aee63242-6770-47ca-852e-372173f01503.png)

### To Reproduce

1. Start debugging
1. Stop debugging by hitting the ⏹️  button

### Exceptions (if any)

none

### Further technical details
- ASP.NET Core: 3.1.402
- C# extension 1.23.2
- VS Code 1.50.0-insiders
- dotnet -

[2020-09-29 01:36] connor4312 opened #26414 "Stopping blazor debugging quickly after starting it orphans the session"
### Describe the bug

If I stop debugging before the application loads, the terminal process continues and the browser (tries to) open -- and actually just sits spinning forever waiting for a debugger to attach

![](https://memes.peet.io/img/20-09-f0fd3ec1-fab6-4019-a71e-1060159c1e39.png)

### To Reproduce

1. Start debugging
1. Quickly stop debugging by hitting the ⏹️  button

### Exceptions (if

[2020-09-29 01:43] JamesNK opened #26415 "6.0 docs: HTTP/3 in ASP.NET Core"
What is the usability of HTTP/3 with ASP.NET Core in 5.0? If we intend for people to try it out with 5.0 it should have docs.

@jkotalik

[2020-09-29 02:25] VenkateshSrini commented on #26368
The error is
**Severity	Code	Description	Project	File	Line	Suppression State
Error		Unclosed tag 'div' with no matching end tag.	BlazorComponent.Client	D:\Venkatesh\ASPNETCore\Blazor\BlazorComponents\Client\Pages\Counter.razor	19**
The code is as below
[code]

[2020-09-29 02:28] connor4312 commented on #26412
Diego asked whether debugging in Chrome directly worked; I didn't see sources there either

![](https://memes.peet.io/img/20-09-353efe0d-8a68-49b7-b568-dd81ca779b80.png)

He suggested it might be due to a bad blazor proxy version. I'm not sure how to check this.

[2020-09-29 02:31] digeff commented on #26412
I noticed in the log that you are not getting scriptParsed events for the C# source files

[2020-09-29 02:37] captainsafia commented on #26412
@connor4312 Can you reproduce this behavior with the latest .NET 5 RC2 found at https://github.com/dotnet/installer?

There were substantial changes between the debug proxy shipped in 3.2 and the one that will ship with .NET 5, so I want to confirm if this is buggy behavior in the older version or newer one.

Usually, if the `scriptParsed` event is not emitted, there was a problem fetching or read

[2020-09-29 02:51] captainsafia commented on #26413
It looks like you might be running into a dupe of https://github.com/OmniSharp/omnisharp-vscode/issues/4056.

I put a fix in for this in https://github.com/dotnet/aspnetcore-tooling/pull/2537.

[2020-09-29 02:51] #26413 closed

[2020-09-29 03:22] ozziepeeps opened #26417 "IOptionsMonitor<T> does not detect changes when using "Bind""
### Describe the bug
IOptionsMonitor<T> does not pick up changes when using the Bind syntax.

### To Reproduce
Check out my repro that demonstrates the issue here: https://github.com/ozziepeeps/IOptionsMonitorBug. Description of the bug and actual/expected behavior is in the README.md/

- ASP.NET Core version: 3.1.x
- Include the output of `dotnet --info`:
.NET Core SDK (reflecting any global.json

[2020-09-29 04:17] connor4312 commented on #26412
Hm, I'm not able to create a new blazor project on a fresh install of rc2. Do I need to wait for nuget packages to be published?

[code]

[2020-09-29 05:02] SirMrDexter commented on #26369
Our application is hosted as azure web app behind an Application Gateway. Our public domain (say **www.myapplication.com** )is pointing to the AppGateway, which forwards the requests to the web app in backend pool. None of the apps in the backend pool are configured for the above mentioned domain. They all use the azurewebsites.net domain for communication between AppGateway and the backend app (s

[2020-09-29 05:32] Tratcher commented on #26369
The guideance for this scenario (see linked above) is to modify the Host field on the request rather than trying to customize every component that generates a link or redirect.

[2020-09-29 06:14] 630383257 commented on #26356
Checked event logs, no useful information, then added ANCM logs configuration, do I have to wait until next time the problem recurs to look for ANCM logs?

[2020-09-29 07:00] pr-benchmarks[bot] opened #26418 "Performance regression: multiple_queries, json_fasthttp"
A performance regression has been detected for the following scenarios:

 | Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev |
 | -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
 | json_fasthttp  | Go Json aspnet-citrine-lin | 09/25/2020 22:49:53 | 1,225,981 | 1,270,042 | 3.59 % (44,061) | 3.22 σ | 13,663.49 |
 | multiple_queries [Fixe

[2020-09-29 07:47] JeroenJSmit commented on #26381
Done, see https://github.com/microsoft/ApplicationInsights-dotnet/issues/2074

[2020-09-29 08:11] mrward commented on #26392
@mrlife Can you provide a sample project/solution that reproduces this? I am unable to repro this.

Tested:

1) Creating a Blazor Server App that targets .NET 5
2) Creating a Blazor Server App that targets .NET Core 3.1, then following the migration guide to update the target framework to net50.

Restore and build both work without any errors for the above tests.

Environment:

VS Mac 8.8.0.2120
M

[2020-09-29 09:03] javiercn commented on #26411
@sanpate thanks for contacting us.

Does your method return a task or is it `async void`

[2020-09-29 09:52] sps014 opened #26420 "Add Support for More than 10 files in InputFile Component Blazor"
Currently when I try to import more than 10 files in Blazor WebAssembly with
[code]
I am greeted with the following exception
[code]
also for some reasons files more than  ~512000 Bytes size fails to import.

[2020-09-29 10:10] campersau commented on #26420
You can pass the `maximumFileCount` to `GetMultipleFiles()` as a parameter.
https://github.com/dotnet/aspnetcore/blob/e0467560e11a739897521326b543e9652a4edb77/src/Components/Web/src/Forms/InputFile/InputFileChangeEventArgs.cs#L47

Also when reading a file with `OpenReadStream` you can pass the `maxAllowedSize`:
https://github.com/dotnet/aspnetcore/blob/e0467560e11a739897521326b543e9652a4edb77/src/

[2020-09-29 10:17] javiercn commented on #26420
@sps014 thanks for contacting us.

@campersau answer is correct, if you want a value different than the defaults, you need to be explicit about it.

[2020-09-29 10:23] #25866 closed

[2020-09-29 10:25] AlexPaskhin commented on #25400
I have got this issue for "5.0.100-rc.1.20452.10"
I have create Angular Web Component. Everything work fine except "global" events. In my case it is "change", it doesn't work.
[code]
Here
https://github.com/dotnet/aspnetcore/blob/master/src/Components/Web.JS/src/Rendering/EventForDotNet.ts

I found the  event "fromDOMEvent" convertor from Dom event to Blazor event.

It causes Json convertor to cra

[2020-09-29 10:31] sps014 commented on #26420
@campersau , @javiercn Thanks it, helped

[2020-09-29 10:31] #26420 closed

[2020-09-29 10:38] javiercn commented on #26278
Closing this issue in favor of #13333`

[2020-09-29 10:38] #26278 closed

[2020-09-29 10:38] SOHODeveloper commented on #26278
@pranavkm I just read #13333 and came away confused as to what handling is in or will be in 5.0.
@Tratcher indicated that MVC would (sometime in 5.0) be catching this error and setting a state in the model so, I assume, so the model would 'fail' validation.

So, is this case, just one that was missed and eventually the model will indicate a failure.

I am also confused, as to why I would return a

[2020-09-29 11:21] javiercn commented on #26292
The two files will be concatenated together (the one from the referenced project and the one from the NuGet package). We have however, changed this in RC2 and the files will be brought in directly via an `import` directive relative to the application path bundle.

[2020-09-29 11:26] javiercn commented on #26292
I'm not able to reproduce the issue with the repro you provided, I've looked at the msbuild binlog and it works as expected. I would suggest you check your environment to ensure you are using the RC1 SDK, clean the bin and obj folders on the projects and perform a clean build.

If your issue still persists, then please try to come up with a minimal repro project that showcases the issue and detail

[2020-09-29 11:26] JoeMarkov opened #26422 "Kestrel ASP.NET applications throws various exceptions when benchmarked"
### Describe the bug

If I create a brand new ASP.NET Core 3.1 Web application project (Visual studio 16.7.4) and then do the following:

* Use the **empty** **template** (to get the WeatherForecast.cs example, no Docker, no authentication, no HTTPS)
 (So I get the "Hello World" in startup.cs example)

Nothing else, then I start a simple benchmark against the running web application (using Kestrel

[2020-09-29 12:28] blowdart commented on #26369
As Chris says this is exactly what [X-Forwarded-For](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-3.1) and the other standard headers are designed for.

[2020-09-29 12:39] Tratcher commented on #26422
We've also seen some errors reported in our own benchmarks, but I don't know if they're the same. @halter73 @sebastienros

[2020-09-29 12:42] javiercn commented on #26400
@svelluto thanks for contacting us.

We don't have enough information to help you diagnosing what's going on. Could you provide a minimal repro project (hopefully as a github repo) and detailed instructions on how to trigger the issue? That will help us help you determine what's going on.

[2020-09-29 12:46] javiercn commented on #26396
@nssidhu that is only for PWA applications to avoid caching something.

Unfortunately, other than potentially fiddling with the linker to trim those libraries I don't think there is an alternative other than refactoring to take out those dependencies.

Our recommendation is that you refactor that shared library to avoid referencing those libraries, if you decide to try linking things out, that can

[2020-09-29 12:46] #26396 closed

[2020-09-29 12:53] javiercn commented on #26364
Unfortunately the layer that handles that is agnostic to Azure AD or Azure AD B2C and we wouldn't add that type of logic there.

One one hand I hear you and want to add this to the docs, on the other hand, it's problematic because that creates a maintenance cost for us if this ever changes in the future.

I'm not sure if there are other libraries that handle this differently, but from what I can t

[2020-09-29 12:55] javiercn commented on #26364
I'm closing this issue since there is no more action for us to take here at the moment.

[2020-09-29 12:55] #26364 closed

[2020-09-29 12:56] #26314 closed

[2020-09-29 13:00] guardrex commented on #26364
@BruceHunter ... Can you open a docs issue for this so that we can discuss it further? I'm a bit buried in code at the moment ⛰️⛏️, but we can talk about this at some point in the next few days (*or a week!* 🏃😅). Open a new issue from the bottom of the topic ... and all you need to do for the body of the issue is place a cross-link to this issue. I'll triage it and then ping u back to discuss asap

[2020-09-29 13:03] user72356 commented on #26287
Thank you, my requirements aren't very specific at the moment, as I'm still learning to use the JS interop when dealing with external JS libs. As much as I hate JS, there are some excellent libs which can't be ported to Blazor 100% due to webassembly not having access to the DOM (would be a killer feature!!).

A common scenario is calling a .Net method within a JS callback raised by a JS lib. In t

[2020-09-29 13:08] roysurles opened #26423 "Blazor WebAssembly Net 5.0 Visual Studio Debugging in Edge & Chrome - System.ArgumentNullException: 'Value cannot be null. (Parameter 'input')'"
### Describe the bug
System.ArgumentNullException: 'Value cannot be null. (Parameter 'input')'  after creating new Blazor WebAssembly Net5 project and debugging in Edge or Chrome.

### To Reproduce

### Exceptions (if any)

### Further technical details
PS C:\Users\rsurles> dotnet --info
.NET SDK (reflecting any global.json):
 Version:   5.0.100-rc.1.20452.10
 Commit:    473d1b592e

Runtime Enviro

[2020-09-29 13:23] nssidhu commented on #26396
Here is the interesting scenario, if you could help throw some light on how to resolve it.
In the shared library i am using entityFramework and those entities/model are being used on client side hence the reference is made to shared project on the client side. but i definately don't the entityframework dlls on the client side.
So how do i allow download of model class but prevent the download of e

[2020-09-29 13:23] roysurles commented on #26423
To Reproduce:
1) Create new Blazor WebAssembly net 5.0 project in Visual Studio 2019 Preview
2) Run the app from Visual Studio 2019 Preview against Edge or Chrome

[2020-09-29 13:23] roysurles commented on #26423
Exception:
System.ArgumentNullException: 'Value cannot be null. (Parameter 'input')'

[2020-09-29 13:25] MarvinKlein1508 opened #26424 "Blazor virtualization does not work properly"
### Describe the bug
The virtualization does not render more elements when scrolling. It only works for me if I right click in the browser and click on inspect element on the last row. I need to click on the div for the new elements once in the DOM in order to get it working while scrolling.

I tried it in Chrome and Firefox (Latest versions)

### To Reproduce
I have created a small repository whi

[2020-09-29 13:26] dsuresh-ap commented on #26235
This crash still happened in production even with the Proguard rules so not sure if its Proguard. I think its more related to:
https://github.com/dotnet/aspnetcore/issues/14025
and
https://github.com/dotnet/aspnetcore/issues/11995

[2020-09-29 13:34] sebastienros commented on #26422
Our exceptions are due to connections closed on the client side when the benchmark ends. And it looks like it's the same thing here, as written in the trace.

Technically it's not an issue, however maybe it would be better to handle disconnections in a more graceful way on server side? But I'll let others comment on that.

[2020-09-29 13:37] JoeMarkov commented on #26422
I also see the issues during the benchmark, not just when the benchmark ends.

I also tried with other benchmark tools with the same result. When I run it from command line using dotnet run I get much better performance , compared to when I run it in release mode in Visual Studio, guess all those exception takes time? or is it by design that the benchmark will be worse in relase mode in visual stu

[2020-09-29 13:55] javiercn commented on #26396
@nssidhu what is EF specific about your models?

If you have DbContext and things like that on the shared project, I would move those to the server project, they don't make any sense on a shared library.

For your model, there's normally nothing EF specific about them, they are normally just POCO classes.

Finally, I would say that reusing the EF models across the stack, while possible, is a bad f

[2020-09-29 13:57] javiercn commented on #26423
@roysurles thanks for contacting us.

Can you provide the full stack trace for the error?

[2020-09-29 13:57] javiercn commented on #26423
@captainsafia anything else here you want to add?

[2020-09-29 14:01] roysurles commented on #26423
Verbose logs are written to:
C:\Users\rsurles\AppData\Local\Temp\vscode-chrome-debug.txt
'iisexpress.exe' (CoreCLR: DefaultDomain): Loaded 'C:\Program Files\dotnet\shared\Microsoft.NETCore.App\5.0.0-rc.1.20451.14\System.Private.CoreLib.dll'. Skipped loading symbols. Module is optimized and the debugger option 'Just My Code' is enabled.
'iisexpress.exe' (CoreCLR: clrhost): Loaded 'C:\Users\rsurles\

[2020-09-29 14:06] mrlife commented on #26392
@mrward Thanks for checking it out. I created a new project targeting .NET 5, and VS Mac gave this message at the top when I tried to build:

![Screen Shot 2020-09-29 at 9 53 39 AM](https://user-images.githubusercontent.com/213164/94569014-3b879780-023b-11eb-88ba-d6e2b83e4659.png)

I checked the project's Options -> General, and it said .NET 5.0 wasn't installed, even though it was:

![Screen Shot

[2020-09-29 14:06] #26392 closed

[2020-09-29 14:08] mrward commented on #26392
@mrlife I would guess you installed .NET 5 whilst VS Mac was still running? VS Mac detects the SDKs only on startup currently.

[2020-09-29 14:23] mathias999us opened #26425 "RootComponents multiple times on same page AFTER program main method has completed (Using Blazor Wasm for multiple / distinct areas of page)"
I'd like to broach the topic described in https://github.com/dotnet/aspnetcore/issues/20855 again. I think the hack described in https://github.com/dotnet/aspnetcore/issues/20855#issuecomment-614582055 is cute, but it doesn't solve a fundamental barrier to incremental migration to blazor wasm for large existing code bases: We need to be able to attach specific blazor components to specific DOM ele

[2020-09-29 14:28] Pilchie commented on #26381
Thanks - closing this as external.

[2020-09-29 14:28] #26381 closed

[2020-09-29 14:31] tlejmi commented on #26377
@BrennanConroy  : Thank you for the help ...

I'm Using 18.04.5 LTS (Bionic Beaver)

in order to Set a higher 'nofile' limit .  I have to  :

1/ - Set the limit in  /etc/security/limits.conf  in this example, I make limit for the root user, you can use a specific user or  *.

`nano /etc/security/limits.conf`

and add this
[code]
2/ make sure that the pam_limits module is loaded so all this limits

[2020-09-29 14:34] dodyg commented on #24156
This problem persists on .NET 5 RC1 btw. In our project `<Nullable>disable</Nullable>` makes a big difference.

[2020-09-29 14:46] javiercn commented on #26425
@mathias999us thanks for contacting us.

This is not something we currently support, but it might be something we look for in a future release.

[2020-09-29 15:04] mrlife commented on #26392
@mrward That's exactly what happened. Thanks for letting me know.

[2020-09-29 15:16] MarvinKlein1508 opened #26426 "Missing space when using an if statement within a blazor server app"
### Describe the bug
I am displaying buttons based on a condition. However, the DOM gets no space after the if statement. When I put all buttons within the if statement, it works just fine.

### To Reproduce
I created a small repo which shows exactly what I mean.
https://github.com/MarvinKlein1508/BlazorConditionalSpacing

Or you can just paste this snippet:
[code]

Toolbar CSS:
[code]

### Except

[2020-09-29 15:20] toddlang commented on #26016
Honestly, I'd prefer an approach that let me inject my own code to do the evaluation, rather than an annotation.  I already have an analyzer that checks that things I've tagged [Immutable] are actually immutable, so I could just leverage that with "does it have the tag, or is a known immutable type?" in some routine, rather than having re-code things to utilize a new attribute.

[2020-09-29 15:27] pranavkm commented on #26411
@Tratcher assigning to you since you were following up with them.

[2020-09-29 15:31] pranavkm commented on #26278
For 5.0, MVC addressed handling this error when reading forms (`ReadFormAsync`) as part of model binding. We were unable to also handle this for input formatting (reading JSON \ XML) which is what appears on your stack trace. We'll be looking to address that in the future.

I was suggesting that to keep parity with what the eventual behavior would be and also the behavior you get if the client dis

[2020-09-29 15:36] SOHODeveloper commented on #26278
@pranavkm Thanks for the clarification.  Yes, I am in the JSON world right now.  So, at this point MVC (without my custom error handling) would be return a 500 for me?

[2020-09-29 15:37] MichelleGorrellUK opened #26427 "Error CS1705: reported in Azure Devops but not locally. Required version not available. How to fix?"
I have a Blazor WASM app that calls Server side APIs. It works well and compiles, runs and passes all unit and integration tests locally. However, the Server-side test project fails to build in the DevOps pipeline with the following message:

**CSC : error CS1705: Assembly 'Microsoft.AspNetCore.TestHost' with identity 'Microsoft.AspNetCore.TestHost, Version=3.1.8.0, Culture=neutral, PublicKeyToken

[2020-09-29 15:38] pranavkm commented on #26278
That is correct.

[2020-09-29 15:40] SOHODeveloper commented on #26278
@pranavkm Thanks very much.  I now too consider this incident closed.

[2020-09-29 15:49] #26423 closed

[2020-09-29 15:55] captainsafia commented on #26412
Yes, you'll need to add the NuGet feed in a config file like so.

[code]

[2020-09-29 15:56] ddobric opened #26428 "Microsoft.dotnet-openapi should generate files in the project hive"
When using **Microsoft.dotnet-openapi** tool, files are generated in the _/obj_ folder.
In some projects, we are required to extend generated files by using _partial_ or extension methods.
To make this possible, it would be helpful to generate files inside the project hive.

[2020-09-29 15:58] ovidiupop88 opened #26429 "2FA sign in only returns locked out after n+1 failed attempts."
### Describe the bug
When using TwoFactorSignInAsync(), what should be the last failed sign in attempt does not return a LockedOut result.
Behavior is different when using SignInManager.TwoFactorSignInAsync() vs SignInManager.PasswordSignInAsync() - see code below.

### To Reproduce
Have LockoutOptions.MaxFailedAccessAttempts with a setting of **3(n)**.
Attempt to perform a TwoFactorSignIn **3(n)*

[2020-09-29 16:20] jkotalik commented on #26415
I have a draft of the doc/blog post in specs; I'll update it accordingly.

[2020-09-29 16:22] chassq opened #26431 "[Blazor-Wasm] API call from Blazor Client cannot be authenticated with IdentityServer4"
We have attached a zip with some sample source to try and setup a very basic Blazor (wasm) Client -> API call using Identity Server 4 v4. The logins seem to work fine. However when we attempt to make a call from the Blazor client to the API the authorization fails. If we remove the [authorize] attribute from the weather forecast controller the request goes through just fine so we think it has to d

[2020-09-29 16:38] pranavkm commented on #26431
@chassq we spent a couple minutes looking at your sample app and it looks like you have things misconfigured. The authority on the client does not match the one configured on the server:

[code]

We recommend starting from a new project template and looking at the code generated there.

[2020-09-29 16:42] pranavkm commented on #26426
Thanks for the issue report @MarvinKlein1508. Starting in 5.0, Blazor will strip significant white space as described in: https://github.com/aspnet/Announcements/issues/426. Consider using `@preservewhitespace true` is preserving whitespace is required.

[2020-09-29 16:44] pranavkm commented on #26424
This might be a dupe of https://github.com/dotnet/aspnetcore/issues/26353 which was addressed in 5.0-rc2. Could you try using our nigthtlies to see if using it resolves your issue: https://github.com/dotnet/installer#installers-and-binaries.

[2020-09-29 16:45] mhardy commented on #26032
I've been attempting some load testing. I was able to reproduce the exceptions by throwing [artillery](https://artillery.io) at it. Scaling up the App Service fixed the issue.  I was able to repro it several times, and repro the scaled up fix also several times.

The problem I now face is determining what actual load the system can support.  Although artillery was able to repro the failures, I'm n

[2020-09-29 16:46] pranavkm commented on #26427
Are you able to share a minimal app that reproduces the problem? It's hard for us to determine what the issue is without inspecting the application's references.

[2020-09-29 16:46] SteveSandersonMS commented on #26424
To me it looks more like a dupe of #25915. To check whether this is the case, could you try amending your repro to specify an `ItemSize` parameter on your `<Virtualize>`? If the `ItemSize` you pass is correct, does the problem go away?

[2020-09-29 16:47] pranavkm commented on #26414
@captainsafia can we add a small snippet about how to get out of this state?

[2020-09-29 16:48] #26408 closed

[2020-09-29 16:49] pranavkm commented on #26428
@ddobric it shouldn't really matter where the code is generated. The compiler will work fine as long as the generated types are partial. Is there a specific scenario that is blocked?

[2020-09-29 16:51] MichelleGorrellUK commented on #26427
To do so, I will need to create a new app and a new project and pipeline in DevOps. Then insert some sample code and crucially, an integration test project that uses the same refs. It may take some time...

[2020-09-29 16:51] pranavkm commented on #26368
Thanks for the feedback @VenkateshSrini. Razor does not support tags being closed inside conditional blocks.

[2020-09-29 16:52] pranavkm commented on #26372
@LadyNaggaga could you respond?

[2020-09-29 17:04] #26285 closed

[2020-09-29 17:04] #26333 closed

[2020-09-29 17:18] MarvinKlein1508 commented on #26424
@pranavkm I created the same project with RC2. Now I don't get any more results, not even after I have inspected the element.
@SteveSandersonMS adding an ItemSize makes it worse. E.G. when I set it to 40, I instantly see some results with ID 3900+ those become hidden after a few seconds and it returns back to the default view which again does not work while scrolling.

[2020-09-29 17:19] sebastienros commented on #26422
Visual Studio might do things with the running process, like IntelliTrace, or attaching the process (just examples), so this is totally normal that this is slower.

We are using "wrk" and "bombardier" as clients. Bombardier works on Linux and windows if you want to give it a try.

There should not be exception in the middle of a run, unless it's actually closing the connections. Maybe ensure that

[2020-09-29 17:23] sebastienros commented on #26422
Looking at ab, it looks like it's using HTTP 1.0 by default, so that would explain. Either add `-k` or use Bombardier.

[2020-09-29 17:27] MarvinKlein1508 commented on #26424
Hello again,

I have seen this in the DOM:
`<div style="height: 975152,8px;" _bl_065e16a4-efdb-4e97-87b3-eb034b1e0ab9=""></div>`

Firefox says the following: Invalid value for heigth attribute. Perhaps it helps when you switch from , to .

[2020-09-29 17:36] SteveSandersonMS commented on #26424
Oh wow yes, this is a really striking bug. The `<Virtualize>` component incorrectly uses culture-specific formatting for the spacer height values, leading to being totally broken if the browser language uses `,` as the decimal separator.

I checked your repro example and it works fine with my browser by default, but if I switch the language to one that uses `,` as decimal separator, I also observe

[2020-09-29 17:48] SteveSandersonMS commented on #26424
Submitted PR with a fix at https://github.com/dotnet/aspnetcore/pull/26432

[2020-09-29 18:16] JoeMarkov commented on #26422
Oh, http 1.0 could explain things, but I got same result using NBomber using Httpclient.

[2020-09-29 18:18] sebastienros commented on #26422
https://github.com/codesenberg/bombardier

[2020-09-29 18:30] ajaybhargavb commented on #23753
Blocked on https://github.com/dotnet/roslyn/issues/47691

[2020-09-29 18:40] jkotalik opened #26434 "inheritdoc doesn't show on docs browser"
`<inheritdoc>` doesn't show up on the ASP.NET API Browser.

For example:
https://github.com/dotnet/aspnetcore/blob/release/3.1/src/Http/WebUtilities/src/FileBufferingWriteStream.cs uses inheritdoc.

But https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.webutilities.filebufferingwritestream?view=aspnetcore-3.1 doesn't actually show details for inherited docs.

cc @scottaddie I heard

[2020-09-29 18:43] TanayParikh opened #26435 "Confirm CodeActionParams.Context.SelectionRange Use"
Issue was due to some recent changes in LSP platform where they now give a `CodeActionParams.Range` which reflects the start of the line, instead of at the start of the area we want to act on. They still provide the "old"  selection range in `CodeActionParams.Context.SelectionRange`. Updated our logic to consume that instead if it's available.

This issue is meant to track the external follow-ups.

[2020-09-29 18:44] pranavkm commented on #26434
/cc @scottaddie

[2020-09-29 18:47] pranavkm commented on #26427
Are you able to share the contents of `Support.DataConductor.ServerTests.csproj`? Might help a bit.

[2020-09-29 18:49] MichelleGorrellUK commented on #26427
Hi, I've constructed a demo app and will make it available shortly.

(Sent from my telephone)

________________________________
From: Pranav K <notifications@github.com>
Sent: Tuesday, September 29, 2020 7:48:10 PM
To: dotnet/aspnetcore <aspnetcore@noreply.github.com>
Cc: MichelleGorrellUK <michellegorrell@msn.com>; Author <author@noreply.github.com>
Subject: Re: [dotnet/aspnetcore] Error CS1705:

[2020-09-29 18:51] majorimi commented on #26292
Thanks for checking it. Have you built the specified branch: **`dev/update-demo-app-to-nuget`**. I have separated out the non building code to a new branch since it would make CI/CD pipeline fail. `master` branch works.
- Yes I have checked `.NET5 RC1` installed...
- Cleaned the `bin` and `obj`.

Still got the same build error. I also have CI pipeline in Azure Devops  which runs on a clean machine

[2020-09-29 18:54] ajaybhargavb commented on #23531
The work here is done. Leaving this open to validate whether rename works after the necessary insertion.

[2020-09-29 18:57] pranavkm commented on #26347
Resolved as part of https://github.com/dotnet/AspNetCore.Docs/pull/20046

[2020-09-29 18:57] #26347 closed

[2020-09-29 19:16] pranavkm commented on #25451
@SteveSandersonMS were you alluding to the limits here: https://github.com/dotnet/aspnetcore/blob/master/src/Components/Web/src/Forms/InputFile/RemoteBrowserFileStreamOptions.cs? We have coverage for file size limits and number limits in our e2e tests and they've been documented.

[2020-09-29 19:45] majorimi commented on #26292
- Created a brand new `.NET 5 Blazor WebAssembly` project.
- Installed my Nuget package `dotnet add package Majorsoft.Blazor.Components.Loading`

**Immediately got the same build error. Is it possible that the Nuget package is broken?**

Here is the .csproj file:
[code]

Even added the packaged component to the Index.razor:
![image](https://user-images.githubusercontent.com/7632824/94607685-82f240

[2020-09-29 19:52] MichelleGorrellUK commented on #26427
I have created a trimmed version of the failing app available now at: https://github.com/MichelleGorrellUK/CS1075BuildDemo
Although I replaced all data and attributes specific to our project, it still fails in the same way in an Azure Build pipeline. Note, the app builds and runs locally on my dev machine and the sample integration test runs and passes.
The test calls the same TestServer set-up as

[2020-09-29 20:11] saha1506 opened #26437 "HTTPS Error using IIS Express"
### Same issue: https://github.com/dotnet/aspnetcore/issues/16892
@blowdart

I found that in 2019 a developer pointed out this problem, but it still hasn't solved.
### Problem
I think IIS Express isn't serving up HTTPS
When HTTPS is enabled, the project is not working in all browsers. When it is disabled, everything works fine.

**ERROR in Chrome v80+ "ERR_CONNECTION_RESET"
FireFox ERROR: PR_CONNE

[2020-09-29 20:13] javiercn commented on #26292
@majorimi ah, I think I know what it's happening.

It looks like somehow the file got added as part of the nuget package as content and that's causing the issue.

[2020-09-29 20:24] majorimi commented on #26292
Hmm I was using the standard .Net Packaging  form on the project's properties window. But don't really understand the problem. CSS and JS resources should be packaged anyway. Otherwise how you can distribute these resources in case of your component Nuget packaged?

[2020-09-29 20:25] javiercn commented on #26292
@majorimi they are scoped css files, so the original css sources are not packaged, only the generated assets.

[2020-09-29 20:32] majorimi commented on #26292
Ok. Please check my .csproj file: https://github.com/majorimi/blazor-components/blob/master/src/Blazor.Components.Loading/Blazor.Components.Loading.csproj

As I can see it does not specify that CSS should be resource. I don't have .nuspec file specified separately. Just using 'dotnet pack'
So probably there's the issue...

[2020-09-29 21:00] sanpate commented on #26411
@javiercn I checked through our repo and we do not have any async void methods in our code. Also checked Cosmos SDK code which is leading to exception: https://github.com/Azure/azure-cosmos-dotnet-v3/blob/releases/encryption/1.0.0-preview4/Microsoft.Azure.Cosmos.Encryption/src/EncryptionContainer.cs#L162

[2020-09-29 21:10] davidfowl commented on #26422
Are you benchmarking running under the debugger in visual studio?

[2020-09-29 21:24] javiercn commented on #26292
@majorimi I believe we fixed something in this area in RC2, so I would suggest you try using a nightly build from [here](https://github.com/dotnet/installers) to see if that fixes your issue.

Alternatively, you can likely set pack to false explicitly and that should hopefully do it.

[2020-09-29 21:29] JunTaoLuo commented on #9350
There doesn't seem to be any pending action items in this issue left and there hasn't been any recent activities.

[2020-09-29 21:29] #9350 closed

[2020-09-29 21:34] javiercn commented on #26437
@saha1506 thanks for contacting us.

Can you follow the same steps indicated in #16892 to gather the info that would help us troubleshoot this issue? (Check the certificate, check the binding, export the certificate so that we can see if its valid and so on).

@shirhatti @blowdart this is IIS Express related.

[2020-09-29 21:39] pranavkm commented on #24156
@dodyg do you have a minimal app that reproduces the issue?

[2020-09-29 21:40] Timka654 commented on #26366
@rainersigwald
[MSBuildCommLogs26366.zip](https://github.com/dotnet/aspnetcore/files/5301997/MSBuildCommLogs26366.zip)
![image](https://user-images.githubusercontent.com/12096914/94619400-86de8c00-02b5-11eb-99ab-2dd81246366d.png)

[2020-09-29 21:42] TanayParikh commented on #26315
Ping @NTaylorMullen @ajaybhargavb @ryanbrandenburg

[2020-09-29 21:49] Forgind commented on #26366
Thanks!

I saw both successful connections with newly-created nodes and failures to connect with preexisting nodes. I think it's interesting that a couple of the pids in the list are _not_ present in the comm traces you provided, yet they're mentioned by providers as nodes they tried to connect to before ultimately failing. @rainersigwald, does the comm logging only pick up nodes that are of the s

[2020-09-29 21:53] Timka654 commented on #26366
@Forgind This problem maybe exists, i'm not appended @rainersigwald code in first run time

[2020-09-29 21:56] saha1506 commented on #26437
@javiercn
Thanks for the answer, that's what I've got:

### 1. Project properties:
![image](https://user-images.githubusercontent.com/31616757/94620015-94484600-02b6-11eb-8352-852496dfb3f9.png)

### 2. Certconfig.txt
When I open netsh http show sslcert > certconfig.txt I have this:
![image](https://user-images.githubusercontent.com/31616757/94619952-75e24a80-02b6-11eb-9085-41ef14734f77.png)
[certc

[2020-09-29 21:59] javiercn commented on #26437
@saha1506 thanks for the additional details

@shirhatti @blowdart can you take it from here? (likely @shirhatti)

[2020-09-29 22:04] saha1506 commented on #26437
HTTPS enabled:
![image](https://user-images.githubusercontent.com/31616757/94621305-b93db880-02b8-11eb-9b86-9e340130fdc3.png)

HTTPS disabled:
![image](https://user-images.githubusercontent.com/31616757/94621333-bfcc3000-02b8-11eb-95c8-4df6fa442efc.png)

[2020-09-29 22:06] JunTaoLuo commented on #12066
This issue is probably moot. We did migrate Internal.AspNetCore.Analyzers but we removed it in https://github.com/dotnet/aspnetcore/pull/24693 since we no longer author pubternal APIs at all. FYI @pranav who removed the analyzer.

[2020-09-29 22:06] #12066 closed

[2020-09-29 22:10] javiercn commented on #26437
I listed the cert info with openssl
[code]
Nothing strikes me as wrong here, so I'll leave this for you folks if it helps.

[2020-09-29 22:15] JunTaoLuo commented on #12403
This issue is related to how MVC analyzers are referenced so I'm updating the labels.

[2020-09-29 22:21] saha1506 commented on #26437
Thanks!

### About Certificate
Message from https://github.com/dotnet/aspnetcore/issues/16892
![image](https://user-images.githubusercontent.com/31616757/94621909-d58e2500-02b9-11eb-8ba6-253a61177fe9.png)
![image](https://user-images.githubusercontent.com/31616757/94622589-281c1100-02bb-11eb-8404-05f49383d5d5.png)

I use guide to remove all localhost certificates (if there are duplicates), and cre

[2020-09-29 22:21] NTaylorMullen commented on #23903
This should be resolved once we move to pull based diagnostics

[2020-09-29 22:22] NTaylorMullen commented on #24590
This should be resolved once we move to pull based diagnostics because we will be throwing out any unmappable errors.

[2020-09-29 22:22] NTaylorMullen commented on #23439
Fixed in 16.9-Preview1

[2020-09-29 22:22] #23439 closed

[2020-09-29 22:25] NTaylorMullen opened #26442 "Default the experimental Razor editor feature flag to "true""
Go from 0 -> 1 as the default.

[2020-09-29 22:34] JunTaoLuo commented on #11959
I think there's a confusion here with what the options configuration delegate is able to do.

AddPolicyHandlers is meant to configure the **service collection** and add a singleton service. This would be executed **before** the service provider is built from the service collection. The `Action<AuthorizationOptions>` is meant to configure the instance of the `AuthorizationOptions` that was retrieve

[2020-09-29 22:39] pranavkm commented on #22945
Tracking this via https://github.com/dotnet/roslyn/issues/48174.

[2020-09-29 22:39] #22945 closed

[2020-09-29 22:42] markentingh opened #26444 "HttpRequest does not contain a definition for 'BodyReader'"
I'm working on a Nuget package (Output type: class project) which is being used as a .NET Core middleware (https://github.com/datasilk/core). I'm using this middleware in some of my other ASP.NET Core projects by including it as a git submodule directly in these ASP.NET Core projects and have made various changes to the source code for this middleware via those projects.

The time comes for me to

[2020-09-29 22:43] JunTaoLuo commented on #18872
There haven't been any response so I'm closing this issue as stale.

[2020-09-29 22:51] JunTaoLuo commented on #13454
@pranavkm Is this something we need to consider implementing in 6.0. Also is this referring the to the `DetailedErrors` in hosting or components? https://github.com/dotnet/aspnetcore/blob/fd1f1c355984f76070d8e32c891e6bac0bd96fdf/src/Hosting/Hosting/src/Internal/WebHostOptions.cs#L58 https://github.com/dotnet/aspnetcore/blob/c74e9efd0e6ea5b4d6737d23b92042772a50a249/src/Components/Server/src/Circuit

[2020-09-29 22:51] pranavkm commented on #26444
A lot of the packages that were published during 2.x were removed as part of 3.0. Please see the instructions in https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#framework-reference to see how to migrate your libraries to target 3.1 or cross-compile to support older ASP.NET Core versions.

[2020-09-29 22:53] pranavkm commented on #13454
Nah, I think we can close this. Blazor does a jank thing already and we haven't; heard of anyone complain of it.

[2020-09-29 22:53] #13454 closed

[2020-09-29 22:54] markentingh commented on #26444
Thank you for the quick response

[2020-09-29 22:54] #26444 closed

[2020-09-29 22:56] JunTaoLuo commented on #14854
This seems like a simple clean up item, we'll look for contributors to help out!

[2020-09-29 22:58] markentingh commented on #26444
Awesome, I added the following to my `csproj` file and everything works now

[code]

Also, I removed my Nuget package reference for Microsoft.aspNetCore 2.2. Thank you so much for your help, @pranavkm

[2020-09-29 23:01] JunTaoLuo commented on #16620
This seems like a simple clean up item but also seem like it's of low priority.

[2020-09-29 23:03] pranavkm commented on #12403
It looks like the latest version of the package downgraded their reference to MVC to 2.0 which does not transitively bring in the analyzer. It's likely that this resolves the issue. Closing this since we haven't heard any additional feedback on this issue.

[2020-09-29 23:03] #12403 closed

[2020-09-29 23:22] JunTaoLuo commented on #16951
@Pilchie Is this something we should follow up for 6.0?

[2020-09-29 23:25] connor4312 commented on #26412
Thanks for the steps! I added that and got it running, but it doesn't seem like much changed -- I still don't hit breakpoints in VS Code, or see `scriptParsed` events for razor files in the js-debug logs. Like before I don't see razor files in the alt+shift+d page when running `dotnet run` either (previously I could alt+shift+d from the running app in a new browser instance, now it looks like I ne

[2020-09-29 23:26] JunTaoLuo commented on #17047
@bradygaster @javiercn @erickim007 is there anything here that needs followup? There hasn't been any activity for a long time.

[2020-09-29 23:32] #24483 closed

[2020-09-29 23:34] LaughingJohn commented on #25909
Thank you @eerhardt !

[2020-09-30 00:12] nssidhu opened #26447 "Visual Studio 2019 Cannot Debug blazor webassembly .net5 app but can run without debug"
I am getting the following error only when debugging via visual Studio 2019 Preview 3.1

[code]
![image](https://user-images.githubusercontent.com/3267605/94628769-837fdc00-0286-11eb-82cc-3c9ed796426a.png)

[2020-09-30 00:15] NTaylorMullen commented on #26315
Just to clarify End > Start when comparing generated/non-generated locations only correct? If that's the case then the "TryMapToProjectedRange" should fail if it can't map both start and end. Doesn't make sense to map one and not the other

[2020-09-30 00:16] dougbu opened #26448 "Trim Microsoft.AspNetCore.Components.WebAssembly.DevServer package content"
The following image shows the content of the 5.0.0-rtm.20479.12 version of the Microsoft.AspNetCore.Components.WebAssembly.DevServer package. This includes shared framework assemblies such as Microsoft.Extensions.Configuration.Abstractions.dll. They're present because they're brought in transitively though Microsoft.AspNetCore.Components.WebAssembly.Server and published along with the content we r

[2020-09-30 00:19] TanayParikh commented on #26315
Not quite. For a given range `x`, projected range `p(x)`, `End < Start => p(x).End < p(x).Start`. Essentially `p(x).Start`, the starting point from the razor file when projected onto the generated file, occurs after `p(x).End`, which is the ending point from the razor file when projected onto the generated file. Thereby we get a negative & invalid range. Does that make sense?

[2020-09-30 00:23] dougbu commented on #26448
Side note: @pranavkm and I have an open question about whether the package content is a bug worth fixing for 5.0.0 GA.

[2020-09-30 00:48] mr-le commented on #21344
my server hangs too after installing brotli compression module. with InProcess asp.net core. IIS 10
after removing it , everything works normal. module downloaded here.
https://docs.microsoft.com/en-us/iis/extensions/iis-compression/iis-compression-overview

[2020-09-30 01:30] lakeman commented on #5840
That method is virtual, since you are providing your replacement IdentityUserStore, you can copy/paste that method with your fix. It's annoying, but setting AutoSaveChanges to false isn't a well supported / tested use case anyway.

[2020-09-30 02:10] nssidhu opened #26449 "Error Invoking .NET method from Javascript : blazor.webassembly.js:1 Uncaught (in promise) abort("Assertion failed: Cannot call unknown function mono_wasm_string_from_js, make sure it is exported"). Build with -s ASSERTIONS=1 for more info."
I am getting the following error when trying to invoke .net method from Javascript

`blazor.webassembly.js:1 Uncaught (in promise) abort("Assertion failed: Cannot call unknown function mono_wasm_string_from_js, make sure it is exported"). Build with -s ASSERTIONS=1 for more info.`

Here is the Javascript code that fails.  does have a value
[code]

Here is the Blazor C# Code.
[code]

[2020-09-30 02:38] VenkateshSrini commented on #26368
But this is very important to get it done is there a way I can achieve it ?

[2020-09-30 02:39] ylr-research opened #26450 "Blazor WASM .NET 5 RC2 and Azure Cosmos DB - System.Security.Cryptography.Algorithms is not supported on this platform"
### Bug
I have a vanilla Blazor WASM (standalone) application reading a container from Azure Cosmos DB. Before upgrading to .NET 5 RC1 it was working fine. This is the same application I had issues with in #26043. After upgrading packages to RC2 I still get exceptions (see image below) in the Developer Console.

### Program.cs
[code]

### Packages
[code]
### Exceptions
![image](https://user-images

[2020-09-30 02:42] alexgav opened #26451 "Implement Create/Rename/Delete workspace edits"
New version of LanguageServer.Protocol assembly added CreateFile/RenameFile/DeleteFile operations to the WorkspaceEdit. I took a quick stab at implementing them in 581b13d4fd8fbf734759da735d9433e795844fa0 but things are starting to get a bit too complicated as it's a single SumType array that contains both TextDocumentEdit and Create/Rename/Delete operation, so I'm leaving it to the Razor team to

[2020-09-30 03:06] alexgav commented on #26451
#581b13d4fd8fbf734759da735d9433e795844fa0

[2020-09-30 03:15] HaoK commented on #24190
Fixed as part of https://github.com/dotnet/aspnetcore/pull/26286

[2020-09-30 03:15] #24190 closed

[2020-09-30 03:16] HaoK commented on #23643
Fixed as part of https://github.com/dotnet/aspnetcore/pull/26286

[2020-09-30 03:16] #23643 closed

[2020-09-30 03:18] SirMrDexter commented on #26369
I read the docs and tested with the suggested sample code in there. Had to make some more changes to make it work though. Azure Application Gateway doesn't seem to use X-Forwarded-Host for the original domain name. Instead it use X-Original-Host. But X-Original-Host header seems to used for a different purpose in the ForwardedHeadersMiddleware.

Also I needed to clear both KnownNetworks and KnownP

[2020-09-30 04:25] Bartmax commented on #26035
what's the reason for not supporting app as first child of body ? Why we need to bloat the html with unneeded tags?

[2020-09-30 05:26] TanayParikh opened #26452 "Failed to sync client configuration on the server"
This is just a warning, but getting this fairly frequently. Not sure if this is expected, but wanted to call it out.

[code]

[2020-09-30 05:28] TanayParikh commented on #26318
Done validations;

No major issues, was seeing following though:
- [Failed to sync client configuration on the server](https://github.com/dotnet/aspnetcore/issues/26452)
  - cc/ @ryanbrandenburg @ajaybhargavb based on [git blame](https://github.com/dotnet/aspnetcore-tooling/blame/master/src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/DefaultRazorConfigurationService.cs#L37) data if you may

[2020-09-30 06:30] campersau commented on #26450
Similar to https://github.com/dotnet/runtime/issues/42384, https://github.com/dotnet/aspnetcore/issues/26123 but for a different type.

Some types were brought back in rc2 (https://github.com/dotnet/runtime/issues/40076) but I don't think `HMACSHA256` was one of them.

https://github.com/dotnet/runtime/blob/b1ca1f4eb040e42045718e265775f79eea982d32/src/libraries/System.Security.Cryptography.Algorit

[2020-09-30 06:43] chassq commented on #26431
We have made some adjustments per your comments above but with no luck. Can you specify which template we should consider looking at? We have looked at the 2 Blazor project templates (hosted and stand alone using User Accounts) but cannot tell from the code what the configuration might be. We have also tried using the IdentityServer4 templates but with no luck so far on how this is supposed to be

[2020-09-30 06:55] JoeMarkov commented on #26422
I tried both with the same result, but now when try to reproduce it I can't get the same result... So, don't know if it was something temporary?  But I was able to reproduce it on one other machine as well before I reported it. So, weird.

but still weird that I got it those errors, because I haven't seen that behavior before.

[2020-09-30 07:01] pr-benchmarks[bot] opened #26453 "Performance regression: fortunes_ef, fortunes_ef"
A performance regression has been detected for the following scenarios:

 | Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev |
 | -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
 | fortunes_ef  | Fortunes EF aspnet-citrine-lin | 09/28/2020 20:42:46 | 153,898 | 258 | 99.83 % (153,640) | 3.22 σ | 47,667.11 |
 | fortunes_ef  | Fortunes EF

[2020-09-30 07:32] dodyg commented on #24156
I don't but I'll be happy to send you over our in-progress project source code so you can see it yourself. Just let me know the mechanism to submit it.

[2020-09-30 07:36] tompazourek opened #26454 "Question: Razor Language Server Protocol (LSP) for MVC 5"
Just read about the [New experimental Razor editor for Visual Studio](https://devblogs.microsoft.com/aspnet/new-experimental-razor-editor-for-visual-studio/).

**Will this new Razor editor support editing of the ASP.NET MVC 5 Razor, or is it strictly for the new ASP.NET Core Razor?**

If it did, it might be a way to resolve Razor Intellisense issues with MVC 5 projects using the new SDK-style proj

[2020-09-30 07:45] MarvinKlein1508 commented on #26426
@pranavkm oh this totally flew under my radar. However could you provide a way to enable/disable this feature section based?

In my example it is only needed to set it to true within a short section of my component. So I won't lose any performance which could have been saved.

I am thinking about something like this:
[code]

[2020-09-30 07:48] Duke4848 opened #26455 "Configuration API doesn't rely on project property but assembly attribute"
### Describe the bug
Following the newest tutorial for ASP .NET Core 3.1 adding `UserSecretsId` property: https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?view=aspnetcore-3.1&tabs=windows#access-a-secret
[code]
 to .csproj and having `"Development"` as `EnvironmentName` is enough to enable `CreateDefaultBuilder()` to read secrets file, but it's not true.

The `CreateDefaultBuilder

[2020-09-30 08:16] #26455 closed

[2020-09-30 09:24] MeysamMoghaddam commented on #26447
Hi @nssidhu

for solving this issues upgrade to .NET 5 RC2

https://github.com/dotnet/installer

[2020-09-30 09:25] MichelleGorrellUK commented on #26427
Thanks to @pranavkm I can now build my projects in Azure Devops. They were fixed by changing the sdk in the failing test project file to `<Project Sdk="Microsoft.NET.Sdk.Web">.`
I think it would be useful to a wider audience if someone with greater insight than me could explain why the error CS1705 message was generated, and how the fix works.
Also, could the  error message be refined to more dire

[2020-09-30 10:10] matthias-schuchardt commented on #14907
@jr01's workaround prevents update to Autofac 6.0.0 because they [sealed](https://github.com/autofac/Autofac/issues/1120) thier `ContainerBuilder`. Therefore a fix would still be appreciated here.

[2020-09-30 11:09] AbrarJahin opened #26456 "Request to add some example for `system.security.cryptography.pkcs` namespace class functions"
Hi,
Thanks for making this awesome project an open-source project from where we can easily communicate and collaborate and can provide any recommendation.

I am trying to create a TSA request with a byte array. I came to know this library (`system.security.cryptography.pkcs`) very useful and like to use it for my project.

https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.pk

[2020-09-30 11:21] majorimi commented on #26292
Yes I have got similar answers for other issues to use RC2. However it requires private Nuget feed as well since RC2 packages not published yet... Anyway let's wait for the official RC2 release. It should come in few days.

[2020-09-30 11:32] SteveSandersonMS commented on #25451
No, I was referring to things like "maximum string length" in arguments and return values for regular JS interop calls (not `InputFile`).

Are you referring to `InputFile` here, or something more general?

[2020-09-30 12:28] mrward opened #26458 "ASP.NET Core developer certificate is in an invalid state - .NET 5 RC2 SDK - macOS - .NET Core 3.1 app"
### Describe the bug

Certificate is invalid after using 'dotnet dev-certs https --trust' the certificate with .NET 5 RC2 on macOS 10.15.2.

'dotnet dev-certs https --check --verbose' does not indicate there is a problem with the certificate.

Running 'dotnet dev-certs https --clean' and 'dotnet dev-certs https --trust' fixes the problem.

### To Reproduce

dotnet dev-certs --clean
Uninstall all .

[2020-09-30 13:11] javiercn commented on #26450
@ylr-research thanks for contacting us.

As described by @campersau this is a known limitation in 5.0.

[2020-09-30 13:19] javiercn commented on #26458
This was discussed offline,

The issue only affects 3.1 apps after the 5.0 SDK has been updated.

There is an issue when an exisiting 3.1 certificate and a 5.0 certificate are installed at the same time, the issue gets resolved by running
[code]

Long term, this will be fixed by patching 3.1 to follow the same approach as 5.0

[2020-09-30 13:28] TanvirArjel opened #26459 "Any way to access or get the metadata of the cache."
For say, I am setting a cache as follows:

    var cacheKey = "TestKey";
    byte[] utf8Bytes = JsonSerializer.SerializeToUtf8Bytes<T>(obj);
    DistributedCacheEntryOptions options = new DistributedCacheEntryOptions().SetSlidingExpiration(TimeSpan.FromDays(30));
    await distributedCache.SetAsync(cacheKey, utf8Bytes, options);

And I retrieve the cache value as follows:

    byte[] utf8Bytes = a

[2020-09-30 13:55] jzabroski commented on #14907
@matthias-schuchardt Did you open an issue with Autofac?  They asked people to speak up and offer reasons not to do this.

[2020-09-30 14:01] doak opened #26460 "Implicit converstion of `ObjectResult` to `ActionResult<T>` looses `Value`"
### Describe the bug
Some controller endpoint returns an `ActionResult<T>` using `ControllerBase.Ok(response)`. `response`  itself is a valid instance of type `T` (i.e. non-null).
Accessing the passed-through `response` through `ActionResult<T>.Value` returns **always** `null`, though `response` was not `null`.

I am not absolutely sure if I am using the API like intended.
Please let me know and d

[2020-09-30 14:05] Tratcher opened #26461 "Kestrel should merge HTTP/2 request Cookie headers"
https://github.com/microsoft/reverse-proxy/issues/437

https://www.rfc-editor.org/rfc/rfc6265.html#section-5.4 (COOKIE)

   NOT attach more than one Cookie header field.

https://tools.ietf.org/html/rfc7540#section-8.1.2.5 (HTTP/2)

   MAY be split into separate header fields, each with one or more
   cookie-pairs.  If there are multiple Cookie header fields after
   decompression, these MUST be c

[2020-09-30 14:36] nssidhu commented on #26447
That did not help either

![image](https://user-images.githubusercontent.com/3267605/94699786-553ee280-0300-11eb-9eaa-4952b2a48567.png)

Microsoft.Hosting.Lifetime: Information: Application started. Press Ctrl+C to shut down.
Microsoft.Hosting.Lifetime: Information: Hosting environment: Development
Microsoft.Hosting.Lifetime: Information: Content root path: C:\Users\nssidhu\source\repos\BlazorBase

[2020-09-30 14:42] nssidhu commented on #26447
Changing the browser to edge for debugging give this, not sure if that is helpful

JavaScript critical error at line 1, column 1723 in https://localhost:44359/_framework/blazor.webassembly.js\n\nSCRIPT1002: Syntax error

[2020-09-30 14:49] felinepc opened #26463 "AddDbContextPool does not work with Azure Ad managed identity authentication for Azure SQL"
### Describe the bug
I followed MS documentation [here](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi) to configure Azure AD managed identity for Azure SQL authentication. It works with AddDbContext in ASP.NET Core 3.1, but not AddDbContextPool which we want to use for higher performance

### To Reproduce
1. Adjust connection string per MS documentation
2.

[2020-09-30 14:49] nssidhu commented on #26447
after upgrading to RC2 it is totally broken, cannot even run without debug.

[2020-09-30 15:03] Tratcher commented on #26459
No, you'd have to encode that information as part of the value.

[2020-09-30 15:11] matthias-schuchardt commented on #14907
Personally I think their reasoning is valid. And I wouldn't want them to keep open this source of unintended usage just to work around an issue with the WebApplicationFactory that @davidfowl will hopefully tackle.

[2020-09-30 15:14] leniency commented on #4816
@sipi41 - the problem with this though is that static variables is that they remain in memory past the current request - they retain value for the lifetime of the **application**. It may work in test with a single user, but with multiple users, this is very dangerous. _Every_ user will see the same value for that static variable. Not to mention potential concurrency issues.

[2020-09-30 15:31] MarvinKlein1508 opened #26464 "Blazor CSS isolation does not work for migrated NET Core 3.1 projects"
### Describe the bug
I wanted to try out the new razor css isolation feature from .NET 5. However something seems to be wrong when you port an existing project from .NET Core 3.1 over. All CSS rules seemed to be ignored.

### To Reproduce
I created a small repo with brand new projects.
https://github.com/MarvinKlein1508/BlazorCssIsolation

The first one was created with .NET Core 3.1 and in the .c

[2020-09-30 15:50] maryamhdr opened #26465 "Multiple cascading parameters update from child component issue"
### Describe the bug
I've an application which has one cascading parameter. In app's header component, I'm displaying some values based on the cascading parameter and in child parameter, I change properties of that cascading parameter object, and everything works like a charm. But when I add another cascading parameter, I face an issue when header component's UI which is dependent on both cascadin

[2020-09-30 16:06] TanvirArjel commented on #26459
@Tratcher Thank you. Any plan of adding such functionality?

[2020-09-30 16:10] #26424 closed

[2020-09-30 16:21] HaoK commented on #26450
We believe things are better in RC2, @lewing can you confirm?

[2020-09-30 16:22] HaoK commented on #26449
@nssidhu could you provide a full repro so we can investigate what's going on here?

[2020-09-30 16:27] captainsafia commented on #26447
@nssidhu Can you share the logs from the failed run in RC2? From the logs you shared in [this comment](https://github.com/dotnet/aspnetcore/issues/26447#issuecomment-701432930) it looks like you are still using RC1.

[2020-09-30 16:28] HaoK commented on #26292
@majorimi let us know if this works once you have tried things on RC2

[2020-09-30 16:31] HaoK commented on #26460
@doak this behavior is by design, we don't unwrap the result by default

[2020-09-30 16:31] #26460 closed

[2020-09-30 16:32] HaoK commented on #23274
@pranavkm says we can close this

[2020-09-30 16:32] #23274 closed

[2020-09-30 16:38] lewing commented on #26450
SHA256 hashes are in net5.0 but not HMACSHA256 so this will still fail.

[2020-09-30 17:17] vsfeedback opened #26466 "Unable to link with a Javascript file if it is added as a link"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1201413/unable-to-link-with-a-javascript-file-if-it-is-add.html)._

---
[severity:It's more difficult to complete my work]
Dotnet Core 3.1 Razor Pages

wwwroot/js/myscript.js <= added as a link.

Later in my cshtml page. I try to add using:

<script src="~/js/myscript.js" a

[2020-09-30 17:17] pranavkm commented on #26466
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimal project (ideally a GitHub repo) that illustrates the problem.

[2020-09-30 17:22] JunTaoLuo commented on #17844
3.0 is out of support now but I'm curious if this affects 3.1. I took a look at the code at https://github.com/dotnet/extensions/blob/release/3.1/src/Logging/Logging.AzureAppServices/src/AzureAppServicesLoggerFactoryExtensions.cs#L31 and it doesn't seem to me that `AddAzureWebAppDiagnostics` would depend on `AddConsole`. I suspect that there's an issue with how the app is configured. Could you sha

[2020-09-30 17:23] JunTaoLuo commented on #17857
Sounds like this issue has been answered.

[2020-09-30 17:23] #17857 closed

[2020-09-30 17:27] jzabroski commented on #14907
Yeah, but, we've been waiting for a fix for this for a year.  Seems much easier to just ask Autofac to compromise (or help thinking of another workaround, but Travis is pretty busy so probably reverting is easier).

[2020-09-30 17:27] JunTaoLuo commented on #17878
@jkotalik Not sure if we did or plan to do any work in deployment. Putting this in discussion for now since there's no clear work item at the moment.

[2020-09-30 17:41] JunTaoLuo commented on #18999
@joeloff would you know anyone who can help with this?

[2020-09-30 17:49] jkotalik commented on #17878
I think this is something we'd like to reevalutate in 6.0.

[2020-09-30 17:53] #26165 closed

[2020-09-30 17:56] user72356 opened #26467 "No Intellisense parameter descriptions in razor files"
I'm unable to see the Intellisense parameter descriptions in razor files @code blocks (see screenshots).

I've tried the below procedure with both the latest VS 2019 Community version, and the newest preview. This is on a brand new install of Windows/VS:

- Downloaded and installed latest Windows 10 Pro iso from MS in an Hyper-V VM.

- Downloaded latest VS 2019 Community from MS (tried with both c

[2020-09-30 18:02] joeloff commented on #18999
From the logs, it appear that ANCM failed to install, specifically the InstallValidate action, which among other things, look at files in use, which is possible if IIS is holding on to ANCM. There's a lot of rules in restart manager and this action around whether the process associated with the lock has a window, runs as a service, etc. that determines how the result is surfaced.

[2020-09-30 18:04] johnnyreilly commented on #14907
I've put a comment on the issue @matthias-schuchardt linked appealing to @tillig to unseal Autofac's `ContainerBuilder`. Here's hoping 🤞

https://github.com/autofac/Autofac/issues/1120#issuecomment-701550921

[2020-09-30 18:05] nssidhu commented on #26447
How and where do i update and what value should i use ? I am using Blazor Hosted App.

[2020-09-30 18:10] BrennanConroy commented on #26235
Have you tried using the 5.0 preview/rc of the java package?

[2020-09-30 18:12] NTaylorMullen commented on #26317
Finished validation

[2020-09-30 18:21] pranavkm commented on #26426
Directives in Razor don't have such fine grained granularity. I'm not sure if using a HTML entity `&nsbsp;` is preserved by the parser. @SteveSandersonMS?

[2020-09-30 18:22] JunTaoLuo commented on #19243
@Tratcher is most familiar with Session but from what I recall, the idea is that `ISession` is the API contract for how session stores should behave. Serialize and Deserialize are internal implementation details of `DistributedSession` and are not designed to be extensible.

[2020-09-30 18:24] ddobric commented on #26428
It is more about how to deal with generates code. It is not fist time that we make usage of generated code. We had and have that for long time. For example WCF.
Expectation so following:
1. Devs generate code with out of VS and do whatever they think it is right .
2. Devs use VS to generate code. On this case dev1 generates code in obj folder. In the meantime service was changed and dev one opens

[2020-09-30 18:26] JunTaoLuo commented on #19258
This issue looks like it's in the runtime layer of the stack so it doesn't make sense to track it here. I see the related issue https://github.com/dotnet/runtime/issues/32738 was closed so I suggest reopening it in order to follow up with them or file a new issue.

[2020-09-30 18:26] #19258 closed

[2020-09-30 18:29] JunTaoLuo commented on #19859
This is an issue with how configuration with Json files are handled. Can you clarify whether you are using Microsoft.Extensions.Configuration.Json or Microsoft.Extensions.Configuration.NewtonsoftJson so I can route to the correct repo?

[2020-09-30 18:30] tillig commented on #14907
This is the first I'm hearing of any of this. I'll likely not chime in here too much on the Autofac-specific side of things since we'll handle it in issues over there, but my first thought is to _not_ unseal `ContainerBuilder` to work around something like this if it can be avoided. I'd like to gather some options and determine what's the most supportable thing we might be able to do going forward

[2020-09-30 18:32] chrdlx commented on #26464
Hello!! You're missing a new line in the index.cshtml added in the .net 5 template which is:

<link href="_content/BlazorCssIsolationNewNet5/_framework/scoped.styles.css" rel="stylesheet" />

You need to add this in your 3.1 project in order to load the styles!!
Regards!!

[2020-09-30 18:32] halter73 commented on #21886
I think I remember what's going on here. If the client tries to establish a WebSocket connection and it gets rejected with a 401 Unauthorized response instead of immediately upgraded, the might want to authenticate with NTLM (which is connection-based) over the same connection, but Kestrel will automatically close the connection after the 401 response because of the connection upgrade request head

[2020-09-30 18:33] MarvinKlein1508 commented on #26426
@pranavkm yes, when I put a `&nbsp;` there manually, it stays. However, there is too much space then.

[2020-09-30 18:33] JunTaoLuo commented on #22711
@DamianEdwards @Pilchie who should we follow up with in order to figure out what we can do here?

[2020-09-30 18:35] javiercn commented on #26464
@chrdlx thanks for investigating.

@MarvinKlein1508 please follow @chrdlx guidance and let us know if that doesn't solve this issue.

[2020-09-30 18:35] #26464 closed

[2020-09-30 18:37] JunTaoLuo commented on #25769
I believe that these "guardrails" were added since mix and matching packages and runtimes is not supported. The intention is that to use 3.1 packages, you should be on netcoreapp3.1.

[2020-09-30 18:41] JunTaoLuo commented on #25862
This sounds like something that IIS itself needs to consider. I don't think there's anything we can do in aspnetcore.

[2020-09-30 18:43] blowdart commented on #26429
Dupe of https://github.com/dotnet/aspnetcore/issues/17184

Closing.

[2020-09-30 18:43] #26429 closed

[2020-09-30 19:01] jzabroski commented on #14907
@tillig Thanks, wasn't expecting you to say yes, but thought it was worth people asking.

[2020-09-30 19:08] captainsafia commented on #26447
Once you install RC2, you'll need to create a new project using the RC2 templates. You can do this at the command line via `dotnet new blazorwasm` or in the VS new project UI (be sure to select .NET 5 as the framework version and check that it is using RC2).

If you are looking to modify an existing project, you'll need to upload all the package references for Blazor to their RC2 versions.

Note,

[2020-09-30 19:09] bradygaster commented on #17047
I haven't heard any update but will reach out to our partners again

[2020-09-30 19:33] ryanbrandenburg opened #26471 "Semantic Token Modifiers are not currently respected by VS"
The only scenarios this affects is C# static params etc.
This would first require work from VSLanguageServerClient at https://devdiv.visualstudio.com/DevDiv/_git/VSLanguageServerClient?path=%2Fsrc%2Fproduct%2FRemoteLanguage%2FImpl%2FFeatures%2FSemanticTokens%2FBroker%2FResolvableSemanticTokens.cs&version=GBdevelop&line=92&lineEnd=93&lineStartColumn=1&lineEndColumn=1&lineStyle=plain.

[2020-09-30 19:34] ryanbrandenburg commented on #26471
The result of the current behavior is that we'll never have token modifiers applied, and the only one of those is "static" from CSharp.

[2020-09-30 19:40] dibarbet commented on #26317
Tried out all the issues, everything looks good!

[2020-09-30 19:44] RobinHood-80 opened #26473 "Blazor (Server) Exception when pressing back button saying wrong component record order list"
### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce

### Exceptions (if any)

### Further technical details
- ASP.NET Core version
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version

[2020-09-30 19:53] RobinHood-80 opened #26474 "Blazor (Server) Exception when clicking on back button (or navigating) from a non blazor page"
### Describe the bug
Sometimes hitting a back button in the browser, or navigating back (even programmatically) a blazor exception is raised after the page is loaded.

### To Reproduce
please clone this repo and open on vs2019 then run it: https://github.com/RobinHood-80/Bug
the main page show detailed steps on how to reproduce in the most deterministic way the issue.
in this page there are also l

[2020-09-30 19:57] #26473 closed

[2020-09-30 19:58] dsuresh-ap commented on #26235
@BrennanConroy I wasn't able to reproduce this crash and we did not want to push a preview/RC lib to production. Is there an expected timeline for 5.0?

[2020-09-30 20:02] BrennanConroy commented on #26235
https://devblogs.microsoft.com/dotnet/introducing-net-5/ November

[2020-09-30 20:03] dsuresh-ap commented on #26235
@BrennanConroy Will this 5.0 be backwards compatible without making any server side changes?

[2020-09-30 20:05] BrennanConroy commented on #26032
This issue was moved to Azure/azure-signalr#1057

[2020-09-30 20:05] #26032 closed

[2020-09-30 20:06] mrpmorris commented on #26035
In .NET 5 you can set `id=App` on the element you want to be the app element. I'm not sure if there is something wrong with this or not, but I set the id of `<body>` to `app` and it worked.

[2020-09-30 20:06] #26317 closed

[2020-09-30 20:08] Mubashwer commented on #26214
I understand. We only need two ways of authentication temporarily as we were migrating to OpenId authentication. So we are not facing this problem anymore.

[2020-09-30 20:13] BrennanConroy commented on #25862
This error happens before anything we own so there isn't any code we can improve to fix this. However we can look at adding something to our docs for this type of error.

https://docs.microsoft.com/aspnet/core/test/troubleshoot-azure-iis?view=aspnetcore-5.0#500-internal-server-error

There should be logs from IIS for this though. Event logs should show something.
The log should look something like

[2020-09-30 20:14] Pilchie commented on #26282
This was fixed for 5.0 GA in #26304.  Moving this to `3.1.x` to track backporting to servicing.

[2020-09-30 20:21] danroth27 opened #26475 "[Discussion] Updated Blazor browser support for .NET 5"
## Updated Blazor browser support for .NET 5

.NET 5 introduces a variety of [new Blazor features](https://github.com/dotnet/aspnetcore/issues/21514), some of which are not compatible with certain older browsers. We are updating the list of browsers supported by Blazor in .NET 5 accordingly.

In .NET 5 we will no longer support Blazor Server with Microsoft Internet Explorer 11. Note that Blazor We

[2020-09-30 20:28] allisonchou commented on #26319
Validation here looks good!

[2020-09-30 20:40] BrennanConroy commented on #26356
Yes

[2020-09-30 20:45] BrennanConroy commented on #26312
This is outside the scope of what we can support through GitHub. You can reach out to paid support at http://support.microsoft.com/supportforbusiness/productselection?sapId=ef53b119-5f8c-7343-2a0f-f5008a1399b9

[2020-09-30 20:45] #26312 closed

[2020-09-30 20:47] BrennanConroy commented on #18999
Is there an issue in the installer or something the customer has to do?

[2020-09-30 21:00] BrennanConroy commented on #26235
Yes

[2020-09-30 21:01] joeloff commented on #18999
Stopping IIS or any process that may have locked the file can help. ProcMon might be useful too. AFAIK, ANCM only installs a few files, so it might be possible to search for processes with handles to those files. The MSI itself also does perform some work around stopping/starting services. You'd have to look at the MSI tables to see where/when custom actions are scheduled. Pretty sure you can't sc

[2020-09-30 21:14] ajaybhargavb opened #26476 "VSCode: Razor formatting enable/disable setting not respected"
Toggling the Razor format enable setting does not work. Razor formatting is always enabled,

![image](https://user-images.githubusercontent.com/1579269/94740022-c2fe0500-0326-11eb-8700-ab84be0055cf.png)

[2020-09-30 21:17] ajaybhargavb commented on #26319
Done with validations. Found https://github.com/dotnet/aspnetcore/issues/26476. Looks good otherwise.

[2020-09-30 21:21] halter73 commented on #26461
So if I'm reading this correctly, RFC 6265 simply says clients MUST NOT send more than one Cookie header. And then the HTTP/2 RFC supersedes that and says multiple Cookie headers are allowed if they are sent separately for better compression efficiency.

The HTTP/2 RFC then goes on to say that the Cookie header needs to be merged before being proxied over an HTTP/1.1 connection or passed to "a gen

[2020-09-30 21:24] VictorioBerra commented on #21514
Where can I see docs today for:

-  CSS Isolation
-  Protected Browser Storage

[2020-09-30 21:28] marcpopMSFT commented on #26477
@pranavkm take a look?

[2020-09-30 21:38] ooooolivia commented on #23525
@DrewScoggins

[2020-09-30 21:41] danroth27 commented on #21514
@VictorioBerra Official docs are still a work in progress, but you can read up about these new features here: https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-5-preview-8/

[2020-09-30 21:42] Tratcher commented on #26461
I'd leave HTTP/1.1 alone, we don't know of any client's that actually violate the spec like that, and it would still work with the current cookie parser so there's little reason to change it. There are plans to fix how HttpClient handles sending the cookie header that would avoid this on the outgoing side.

In the HTTP/2 scenario the client is within spec and the server is not.

No rush for a 5.0

[2020-09-30 21:49] shirhatti commented on #26437
@saha1506 It's unclear from your previous comment if your issue has been resolved?

[2020-09-30 21:57] ryanbrandenburg opened #26478 "Include CSharp Semantic Tokens in Razor Legend programatically"
Right now we've simply copied the CSharp semantic tokens legend into our razor legend, but if they change that at all it could lead to hard-to-notice mistakes. Ideally we would retrieve the Legend off of the CSharp Language server and use that, but it's tricky because such things need to be available when the server initializes.

[2020-09-30 22:00] ryanbrandenburg opened #26479 "Enable CSharp Semantic tokens in VSCode"
Right now CSharp semantic tokens are not enabled in VSCode because there's no way for use to call through to the CSharp LanguageServer. Other endpoints doing similar things use the `vscode.execute<Blank>Provider` commands, but no such command exists for Semantic Tokens because it's still a "draft" part of the LSP spec.

[2020-09-30 22:59] ryanbrandenburg commented on #26318
I didn't see any issues.

@TanayParikh was there any specific repro steps or was that just floating around semi-randomly in the VSCode logs for Razor?

[2020-09-30 23:09] TanayParikh commented on #26318
@ryanbrandenburg

No strong repro unfortunately :/

[2020-09-30 23:17] TanayParikh commented on #26319
@ajaybhargavb @allisonchou safe to un-assign / close out?

[2020-09-30 23:23] allisonchou commented on #26319
@TanayParikh yep, I believe so, thanks! Will close issue.

[2020-09-30 23:23] #26319 closed

[2020-09-30 23:24] ryanbrandenburg opened #26481 "Razor Semantic Token Performance"
Now that our Razor Semantic token requests also shell out to CSharp's Language Server I noticed a slowdown. We should do what we can to reduce that, here are some ideas:
- [x] Cache requests to CSharp Semantic Tokens (we already have some caching mechanisms, check that CSharp is benefiting from that and if it's not make it so)
- [ ] Improve speed on the CSharp side. (Obviously the empty-cache firs

[2020-09-30 23:26] davidwengier commented on #26318
Ditto, no issues found.

[2020-09-30 23:27] TanayParikh commented on #26318
Thanks, un-assigning / closing out!

[2020-09-30 23:27] #26318 closed

[2020-10-01 01:00] #26183 closed

[2020-10-01 01:00] #26081 closed

[2020-10-01 01:00] #26080 closed

[2020-10-01 01:49] qcc-na commented on #14133
First time I try to use blazor and I have to drop to interop.  Disappointing.

[2020-10-01 01:51] ajaybhargavb commented on #26315
@TanayParikh, could you include the callstack of what leads to the `TryMapToProjectedDocumentRange` call?

[2020-10-01 01:54] TanayParikh commented on #26315
That's the first image in the description.

[2020-10-01 02:01] ajaybhargavb commented on #26315
I couldn't find the actual call in the image. But looking more, I already understand why this happens. Because the `TryMapToProjectedDocumentRange` is basically implemented as two calls to `TryMapToProjectedDocumentPosition` for start and end and it this case it just happens to return a correct range because of using appearing before other things in the document.

I would say we should just return

[2020-10-01 03:30] RaviPidaparthi opened #26482 "WebSocket does not honor ShutDownTimeout once SIGTERM/Ctrl+C is issued"
### Description
Once a SIGTERM is issued, the host should be allowed the opportunity to gracefully drain and shutdown all existing http and WebSocket connections.

This used to work properly on netcore2.2, however we observed that since netcore3.1 this functionality is broken for WebSockets.  This also remains broken on net5.0.

### To Reproduce
Fully baked samples for netcore2.2, netcore3.1 and n

[2020-10-01 03:37] splusq commented on #26482
@davidfowl curious how signalr handles this. Since upgrading to .net 3.1 this is affecting our service availability.

[2020-10-01 03:58] danroth27 opened #26483 "Remove the Blazor virtualization sample"
The Blazor virtualization sample in the aspnet/samples repo needs to be updated to use .NET 5: https://github.com/aspnet/samples/tree/master/samples/aspnetcore/blazor/Virtualization

[2020-10-01 04:06] TanayParikh commented on #26315
Exactly.

Yep, totally agree.

I haven't encountered anything particular, but I don't see how that would cause other issues considering a `end < start` is in invalid range regardless.

[2020-10-01 05:04] Kizari opened #26484 "User Claims always empty when calling API from server-side Blazor app"
### Describe the bug
The bug occurs when calling an API method on the same server from a server-side Blazor app via injected HttpClient. When the request is received by the API Controller, the User Claims (i.e. HttpContext.User) are empty (the object is not null, but all the values are default).

### To Reproduce
Add an identity-based DbContext, add default Authentication and Authorization, and in

[2020-10-01 06:40] brgrz commented on #25862
These types of errors usually have their logs in Event log but nothing was present this time, we checked multiple times.

Great news on adding a warning to docs.

[2020-10-01 07:00] #26431 closed

[2020-10-01 08:23] davidfowl commented on #26482
I'm guessing we didn't plumb the call to `UseShutdownTimeout` to the generic host properly (looking at the code). You should be able to work around this by using this instead:

[code]

[2020-10-01 08:54] Sharaf-Mansour opened #26485 "Adding New Razor View Does not work"
Started a new Blazor Server.
Added a new Razor View (NewPage.CSHTML)
Gave it @Page \"NewPage\" and \<h1>NewPage\<h1>

**when I navigate to the URL I get error "Sorry, there's nothing at this address."**

Deleted NewPage.cshtml
Made a copy of _Host.cshtml
Renamed it to NewPage.cshtml
changed the code.

**Gave it @page "NewPage" and \<h1>NewPage\<h1>**

As if adding new Razor View no longer work.

I

[2020-10-01 09:15] MarvinKlein1508 opened #26486 "Add support to focus components in blazor"
### Is your feature request related to a problem? Please describe.
In NET 5 you have added `FocusAsync()` for `ElementReferences`. This works fine for all non component html elements. However, I am using `EditForm` which uses Input components. Unfortunately I am unable to set the focus to these inputs and users of my app have to click on my input first in order to enter information. I really want

[2020-10-01 09:15] javiercn commented on #26485
@Sharaf-Mansour thanks for contacting us.

Razor views are for clasical web applications (MVC/Razor pages) you need to create a Razor component and use the `@page` directive.

The difference is that the file extension has to be `.razor`.

[2020-10-01 09:30] rburnashev85 commented on #23340
1) Open demos.devexpress.com.
2) Close the browser completely.
3) Open it after few hours. In my case you will see browser homepage.
4) Navigate to the demos.devexpress.com  by clicking on the open tabs button (I marked it with a red circle).

It is important to open minimized tab in the browser not a new one.

My phone is Samsung Galaxy S8 with old latest updates including last versions of mobile

[2020-10-01 10:13] erwan-joly commented on #24333
I wonder if the easiest way to have that feature added wouldn't be to fork the feature project https://github.com/dotnet/aspnetcore/commits/master/src/Features/JsonPatch in another repo
make it works without newtonsoft
then ask dotnet/aspnetcore if they want to replace newtonsoft json patch to that one

[2020-10-01 10:29] Sharaf-Mansour commented on #26485
@javiercn I understand.
But I use Razor Views to create charts using am4charts. Before it was working fine. I already have over 9 Working views.
When I add a new Razor view I can not Access it.
I must make a copy from an **Old** Razor view that is already working and then use it as a new Razor view.

[2020-10-01 10:29] SteveSandersonMS commented on #23340
That is the equivalent of what I did, but it didn't repro on iOS 14.

@dotnet/aspnet-blazor-eng I don't have the hardware to try reproducing this on an up-to-date Android device. Do any of you?

[2020-10-01 10:38] javiercn commented on #26485
@Sharaf-Mansour I'm not sure I'm understanding what you mean.

From what I can infer, you are trying to move or mix & match a Blazor app with a traditional MVC/Razor pages app? And by that I mean that, some part of the app is developed entirely within Blazor and the rest is a Razor pages app. Is that the case?

If you are having problems linking to a Razor page, you can use `target=_blank` on the

[2020-10-01 11:01] saha1506 commented on #26437
@shirhatti

No, it's not. Still ERR_CONNECTION_RESET

[2020-10-01 11:25] ovidiupop88 commented on #26429
IMHO, Issue [#17184](https://github.com/dotnet/aspnetcore/issues/17184) is about recovery codes, and the discussion is whether it should Lock Out or not.  I've created this issue specifically for logging in with a 2FA code (not recovery code) which does result in a LockOut, but not immediatly after the user is locked out.

[2020-10-01 12:49] pdevito3 opened #26487 "Implement an alternative to startup running twice when using WebApplicationFactory"
So, I know it's [by design](https://github.com/dotnet/aspnetcore/issues/19404#issuecomment-593653580), but I’m running into another instance where startup getting called twice when using `WebApplicationFactory` is causing me major headaches.

I added some code for this specific instance below, but the short version is that when I’m adding Auth into my API, it runs fine when doing startup normally,

[2020-10-01 13:20] blowdart commented on #26463
@ajcvickers Who on the SQL team could talk to this?

[2020-10-01 13:24] Julien-Marpault opened #26488 "Hosting Blazor App behind an MVC app"
I have a Frontend MVC Application called "Authentication"

and its backend called  "Authentication.Administration" which is a Blazor WebAssembly App

I want my Authentication application responding on https://authentication.xxx.com
and the backend responding on https://authentication.xxx.com/Administration

So I tried exemples shown in this page https://docs.microsoft.com/fr-fr/aspnet/core/blazor/

[2020-10-01 13:40] SIkebe opened #26489 "The Future of IdentityServer"
https://leastprivilege.com/2020/10/01/the-future-of-identityserver/

Currently, some of the ASP.NET Core templates use IdentityServer4. How the above announcement affect? ASP.NET Core 5.0 will be shipped with IdentityServer4?

[2020-10-01 13:45] amjad-twalo opened #26490 "MultipartSection body stream corruption when accessed out of sequence"
### Describe the bug
We get corrupted data when accessing the MultipartSection.Body stream outside of the MultipartReader.ReadNextSectionAsync() loop.
We don't want to read the streams uploaded in the request immediately, and instead we want to do it on demand in the background. We can successfully read the first section, but the following sections contain corrupted data.

### To Reproduce

[code]

[2020-10-01 14:22] pkrReviso opened #26492 "`PollingFileWatcher` Issue while running `dotnet watch run` with wsl volume mounts"
### Describe the bug
A clear and concise description of what the bug is.

- Windows Version: Windows 10 with WSL2 integration
- Docker Desktop Version: 2.4.0.0 (48506) stable
- Not running inside a virtualized Windows e.g. on a cloud server or on a mac VM

I have a dotnet core project which is stored in c drive of my windows system.
I have wsl2 integration with my docker desktop.

I am trying to r

[2020-10-01 14:51] SteveSandersonMS commented on #26486
Thanks for the suggestion. This is a duplicate of https://github.com/dotnet/aspnetcore/pull/24899

[2020-10-01 14:51] #26486 closed

[2020-10-01 14:53] SteveSandersonMS commented on #26485
Perhaps the issue is this:

[code]

It should be this:

[code]

Please let us know if you're still having trouble. If so, can you provide a minimal application that reproduces the problem? Thanks!

[2020-10-01 15:15] boukenka opened #26493 "CSS Isolation"
### Describe the bug

There is a issue to apply the CSS Isolation when classes are added.
Below is the content of the index.razor file.

[code]

If the index.html file defines an index.css with the following style below,
the input has a green background and the color of the font is red. It is fine.

[code]
![example2](https://user-images.githubusercontent.com/16502423/94829244-9b806880-040a-11eb-8

[2020-10-01 15:22] blowdart commented on #26489
.NET 5.0 will ship with IdentityServer 4 in some ASP.NET templates. As the IS folks have stated

Planning has begun for .NET 6.0 and we'll make an announcement when ready.

[2020-10-01 15:52] RobinHood-80 commented on #26474
Hi, further investigations showed me another interesting thing. As said, the issue arise only by doing history.back() javascript code but ONLY on a cloned tab. the first original tab does not trigger the exception , when the problem arise i should see the usual CircuitHandler (see console output) event arise, but they are not here, instead when the problem do not arise i see the usual
onCirquitXXX

[2020-10-01 15:52] pranavkm commented on #26477
It's very likely that you haven't migrated your projects correctly. Can you follow the instructions here: https://docs.microsoft.com/en-us/aspnet/core/migration/31-to-50?view=aspnetcore-3.1&tabs=visual-studio#update-blazor-webassembly-projects and verify you have the right SDK and properties in your project file?

[2020-10-01 16:00] Tratcher commented on #26369
There's a [troubleshooting](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-3.1#troubleshoot) section in the doc that shows how to capture the headers coming from the proxy to make sure everything is set up right. Can you share that output?

Yes, but the gateway should be overwriting the header to prevent that kind of issue. Can your app also be acc

[2020-10-01 16:16] captainsafia commented on #23340
I have a Galaxy S9 running Android 10 that I can validate this on. Will report back.

[2020-10-01 16:31] NTaylorMullen commented on #26315
Ahhh ok I definitely follow now. Ya I agree, if the range is invalid we should return false.

[2020-10-01 16:36] RaviPidaparthi commented on #26482
We hit a different exception doing `Configure<HostOptions>`.

On net5.0, as soon as SIGTERM is issued, the immediate WebSocket read fails with a cancellation exception.
However if we ignore the exception and continue, the subsequent reads succeed.

[code]

On netcore3.1, all reads after SIGTERM keep failing with a slightly different cancelled exception.
[code]

[2020-10-01 16:36] pranavkm commented on #26493
@boukenka you'll need to tell the razor compiler to allow the scoped css styles can be allowed to be passed to the `InputText` component.

[code]

[2020-10-01 16:39] pranavkm commented on #26488
@JulienM28 it's not very clear what the issue is. Going by past feedback in these sort of issues, it's likely that you do not have the base href configured correctly in your Blazor app. Please follow the sample at https://github.com/javiercn/BlazorMultipleApps/blob/master/BlazorMultipleApps/Server/Startup.cs to see if it helps in your case.

Feel free to respond if this does not help.

[2020-10-01 16:44] pranavkm commented on #26484
@Kizari have a look at the sample here to retrieve the cookie to used in your HttpClient: https://github.com/javiercn/blazor-server-aad-sample/blob/master/BlazorServerAuthWithAzureActiveDirectory/Pages/_Host.cshtml#L23-L33

[2020-10-01 17:03] matthias-schuchardt commented on #14907
To wrap this up, [Alistair tweaked the workaround](https://github.com/autofac/Autofac/issues/1207#issuecomment-701961371) provided by @jr01 to also work with the sealed `ContainerBuilder` of Autofac >= 6.0.0. So we can await .NET 5.0 without having to worry that it would break our integration tests.

[2020-10-01 17:04] johnnyreilly commented on #14907
It's worth checking out this issue if you're an Autofac user for a suggestion by @alistairjevans which supports a way to work with `ConfigureTestContainer` which will work with Autofac 6:

https://github.com/autofac/Autofac/issues/1207#issuecomment-701961371

However, as he pointed out, this depends upon the deprecated `IStartupConfigureContainerFilter` and so this may not represent a long-term so

[2020-10-01 17:05] lucaswalter commented on #13452
+1 also on this. The try/catch approach really isn't an option for larger solutions with multiple developers.

[2020-10-01 17:08] ajcvickers commented on #26463
@blowdart The pattern shown in the documentation won't work with context pooling because the constructor is only called once the first time the context instance is created. It is also Means that the context is fully initialized and the connection is created as soon as the context instance is created, which defeats the normal lazy initialization that happens in the context to avoid work if it isn't

[2020-10-01 17:08] georgekosmidis commented on #25614
For anyone ending up in this issue, the solution was to configure the publishment for release:

[code]

For more details, check the `release-azure-pipelines.yml`  here: https://github.com/georgekosmidis/ImageToText

[2020-10-01 17:13] johnnyreilly commented on #14907
Haha @matthias-schuchardt you had the same thought as I did! Do you happen to know if `IStartupConfigureContainerFilter` is part of .NET 5? I don't see it in the docs and so actually there may still be an issue.

[2020-10-01 17:15] Sharaf-Mansour commented on #26485
@SteveSandersonMS It worked thanks for your time sir. I am sorry for the mistake I am still learning.
@javiercn I have used Razor views and bind it with public static strings to get data from DataAccess to CSHTML.
I do not  know if what I am doing is the correct way or not but it works for me.

[2020-10-01 17:17] matthias-schuchardt commented on #14907
Good point, @johnnyreilly, I missed that. Then let's hope that this issue will be fixed in .NET 5.

[2020-10-01 17:20] CrossBound commented on #22189
Wow, this is a very heavy handed tactic for a framework that is supposed to be customizable for your unique situation. Believe it or not Bearer tokens _are not_ the safest option in all cases and there are legitimate reasons to want to authenticate an API with cookies (http://cryto.net/~joepie91/blog/2016/06/19/stop-using-jwt-for-sessions-part-2-why-your-solution-doesnt-work/) . In our case I'm ru