[2018-08-30 23:08] fastrocket opened #5335 "How to create Hub and new route at run-time using Roslyn scripting?"
In my ASP.NET Core 2.1 application, users can create new classes and types at run-time using Roslyn scripting. With that in mind, I'm trying to create a new Hub with a method that can handle this new type (input and output). I can't use generics since they are a compile-time construct.

I believe the "new" hub will also need to be instantiated via Roslyn scripting. The reason for this is I want a

[2018-08-30 23:36] natemcmaster commented on #2505
Done in https://github.com/aspnet/DataProtection/pull/303 and https://github.com/aspnet/DataProtection/pull/323. Thanks @dansward!

[2018-08-30 23:36] #2505 closed

[2018-08-31 08:33] Mcgrady2009 commented on #3474
you need to set the TargetLatestRuntimePatch to false in the project file,and Specified sdk version

[2018-08-31 13:59] Yaevh opened #4911 "Allow validation attributes on `PageModel` itself"
#### Is this a Bug or Feature request?: Feature request

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project): https://github.com/Yaevh/RootModelValidationDemo

#### Description of the problem:
As of 2.1.0, validation attributes are allowed on controller parameters, bound controller parameters, page model properties and handler method parameters. They are however not a

[2018-08-31 14:45] QuickWire opened #5086 "Problem with referencing a COM object from ASP.NET Core 2.1 Targeting .NET 461."
Hi, I've found that just adding a reference to a COM object causes the build to fail with this single error:

As a quick work-around I disabled the error in **RazorTagHelper.cs**, rebuilt and replaced my current 2.1.2\tasks\netstandard2.0\Microsoft.AspNetCore.Razor.Tasks.dll
It’s unclear to me where the path of the referenced COM import library is stored let alone created. Maybe the “rooted assemb

[2018-08-31 15:09] kurotsukikaitou commented on #3073
This! And inspecting one of it's items cannot be done if the directory is empty. Is there any reason why these two properties (Name and PhysicalPath) is omitted from IDirectoryContents? 🤔

[2018-08-31 15:49] pkrey commented on #3221
What max-favilli said...
https://www.microsoft.com/net/download/thank-you/dotnet-sdk-2.1.401-windows-x64-installer

[2018-08-31 16:43] Tratcher commented on #3466
The second failure is a clear duplicate of https://github.com/aspnet/KestrelHttpServer/issues/2850 and has already been fixed. The first may be related as well but the error message is more vague.

[2018-08-31 16:43] #3466 closed

[2018-08-31 16:48] natemcmaster opened #5818 "Compiler error CS0433 caused by duplicate types: IdentityServiceCollectionExtensions"
We have two types in the different assemblies with the same name. This can lead to unresolvable compiler errors when referencing Microsoft.Extensions.DependencyInjection.IdentityServiceCollectionExtensions

https://github.com/aspnet/Identity/blob/release/2.1/src/Identity/IdentityServiceCollectionExtensions.cs
https://github.com/aspnet/Identity/blob/release/2.1/src/Core/IdentityServiceCollectionExt

[2018-08-31 17:46] JunTaoLuo commented on #3221
I'm going to close this issue now since I think most of the issues have been addressed. Please feel free to open new issues in case anyone has more specific questions!

[2018-08-31 17:46] #3221 closed

[2018-08-31 18:41] blowdart commented on #3482
@HaoK did this change in 2.1?

[2018-08-31 19:06] blowdart commented on #3449
@GrabYourPitchforks any ideas? You wrote this and it's never changed.

[2018-08-31 19:10] blowdart commented on #3370
Sorry, I missed this. There's a prebuilt one for you, EphemeralXmlRepository, which you can get to via EphemeralDataProtectionProvider, and UseEphemeralDataProtectionProvider

[2018-08-31 19:10] #3182 closed

[2018-08-31 19:11] #3051 closed

[2018-08-31 19:16] blowdart commented on #2507
Revisit as part of #2512 2512

[2018-08-31 19:28] retslig opened #3483 "License update to project"
I was hoping the project owner would consider updating the project license to use spdx identifier for the "Apache License, Version 2.0" license. Your license in the github api only shows as "Other".
See https://api.github.com/repos/aspnet/Home/license for your current license.
Also note your current license committed in the repo is already "Apache License, Version 2.0" https://github.com/aspnet/Ho

[2018-08-31 21:05] aspnet-hello opened #3484 "Test failure: FinalizeCacheHeadersAsync_AddsDate_IfNoneSpecified"
This test [fails](http://aspnetci/viewLog.html?buildId=543346&buildTypeId=Releases_22xPublic_HighSierraOsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.2.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was m

[2018-08-31 21:05] aspnet-hello commented on #3484
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-31 21:17] retslig commented on #3483
This can be completed by updating you License.txt file to match Githubs known list licenses.
See here for exact details of how the license API works. https://developer.github.com/v3/licenses/
Brief snippet:

The Licenses API uses the open source Ruby Gem Licensee to attempt to identify the project's license. Licensee matches the contents of a project's LICENSE file (if it exists) against a short l

[2018-09-01 16:12] andychang0121 commented on #3474
Update my Core SDK, it's ok to work.

[2018-09-01 17:32] Unders0n commented on #3472
@hishamco sorry, if this question addressed to me i didn't got it :(

[2018-09-03 07:31] gimlichael commented on #3474
I don't know what caused the issue, but it might be related to @Mcgrady2009  suggestion. I deleted the publish profile and closed Visual Studio. After opening and creating a new publish profile, it worked again.

I just hope that with our feedback, that the team can and will improve the error messages. At least for me, it did not make any sense .. and only added to frustration.

Otherwise; keep up

[2018-09-03 07:35] CameronAavik opened #5936 "Cancellation Token parameter in BackgroundService.StartAsync is not respected"
I have a suspicion that this is by design but wanted to check. I was planning to unit test an implementation of the background service I had written. To stop it looping forever in the case of a bug in my code I was looking to cancel the service after a certain amount of time. I thought that by passing in a cancellation token into the `StartAsync` and then cancelling it after 1 second, that this wo

[2018-09-03 07:52] ststeiger commented on #1528
@ALL: Greate news: Removed the COM-InterOP-calls for XLS/DOC and replaced it with OpenMcdf.
XLS/DOC-Renderer is therefore now working on both Linux and Windows.
Now 85% working on Linux.

It looks like we are down to 3 WinAPI-calls for PDFWriter, and 13 WinAPI-Calls for ImageRenderer/Graphics.
I think the PdfWriter itselfs might be fairly easy.

Looks like all remaining pinvokes are to libgdi32.
I

[2018-09-03 09:26] sorcer1 opened #3485 "Validate model attribute is no longer called since upgraded to dotnet core 2.1"
Hello,

In some of my api controllers if put my custom attribute [ValidateModel], it works to send a specific error message when the model is invalid.
Since my upgrade to dotnet core 2.1 the attribute is no longer called and now i have a generic error message like :

[code]

My custom attribute :
[code]

Can some one explain me why my attribute is no more working ?

[2018-09-03 10:14] rafsanulhasan commented on #3485
In ASP.NET Core 2.1 controllers, an internal Model Validator is implemented internally thus your custom validator would not work.

You can add the line in the _ConfigureServices_ method of **Startup class** to suppress the default behavior:
`services.Configure<ApiBehaviorOptions>(opts => opts.SuppressModelStateInvalidFilter = true);`

[2018-09-03 10:29] sorcer1 commented on #3485
Thank you very much

[2018-09-03 10:29] #3485 closed

[2018-09-03 10:48] gimlichael opened #3486 "RequestHeaders - favor empty collection over null values"
When working with the different request headers, we have to do null-checks for now.

Please consider following the [best practises for working with collections](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/guidelines-for-collections), that clearly states:

**X DO NOT return null values from collection properties or from methods returning collections. Return an empty collectio

[2018-09-03 12:05] dustyghost opened #3487 "HttpRequestException - An existing connection was forcibly closed by the remote host"
We have a web app calling a web service via API calls.
We get the below error after creating a new record in that service.

Other code in our application seems to work ok, but for some reason, this particular issue is cropping up for this task only.

We are using a helper class for this:
[code]

This is the implementation that has the issue:
[code]

[2018-09-03 12:09] dustyghost commented on #3487
System info:

[2018-09-03 12:33] dallancarr commented on #3487
I noticed you are mixing sync and async code...also maybe flip tracing on for kestrel you maybe hitting a limit of some kind.

[2018-09-03 13:05] martinmikulka opened #3488 "Timestamp passed via RedirectToAction loses precision in target action"
Hello, I am facing a problem when calling RedirectToAction() method and passing a timestamp via parameter:

[code]

When I dump the timestamp variable inside the ActionOne:
Millisecond [int]: 120
Ticks [long]: 636681249781200000

When I dump the timestamp variable inside the ActionTwo:
Millisecond [int]: 0
Ticks [long]: 636681249780000000

The target variable has lost miliseconds precision.
Do I h

[2018-09-03 14:36] dustyghost commented on #3487
We should be using Async, where are you seeing the mix?

[2018-09-03 14:47] zlatanov commented on #3128
@pan-wang I've created a simple repo here: https://github.com/zlatanov/aspnetcore-websockets-experiments. A simple server that only ever expects Pings and replies with Pongs.

If you run it Kestrel, works as expected. If you run it with IIS or IIS Express, doesn't work. Connect a simple websocket client that doesn't do anything but send pings.

[2018-09-03 16:09] dallancarr commented on #3487
`var result = response.Content.ReadAsStringAsync().Result;`

[2018-09-03 19:29] njebert commented on #3421
This is still an issue - I am seeing the error that @rodrickmakore described in his screenshot. I removed the localhost certificate from Certificates - Current User Personal/Certificates and retried, but was blocked by the same error as described above. I checked the other certificate location and a localhost certificate was not present there.

What is the next step that I can try to get unblocked

[2018-09-03 23:19] Amine-Smahi opened #3489 "How to Scaffold Identity UI in ASP.NET Core 2.2 preview1"
In ASP.NET Core 2.1 we had the chance to use scaffold using visual studio like this

![image](https://user-images.githubusercontent.com/24621701/45003154-48dbe480-afd7-11e8-9085-a67371374fb1.png)

But now in ASP.NET Core 2.2 preview1 the new scaffold item is missing in visual studio

![image](https://user-images.githubusercontent.com/24621701/45003175-88a2cc00-afd7-11e8-8892-995109ee7ae8.png)

[2018-09-04 00:02] gautelo commented on #3385
*sigh* Why can't we have nice things... Would it be better if the request came in its own thread, one dedicated to Serialization through data contracts or something along those lines? Basically it feels like we're being met with the sort of response saying "this does not conform to our narrow definition of what the thing should do, hence the request is not reasonable and thusly rejected". Frustrat

[2018-09-04 06:01] damienbod commented on #3489
You can't at the moment, will be implemented soon.

see:

https://github.com/aspnet/Scaffolding/issues/860

[2018-09-04 06:27] martinmikulka commented on #3488
I solved this problem by passing the value in milliseconds [long] instead of DateTimeOffset.

[code]

[2018-09-04 07:06] dustyghost commented on #3487
Ooooooh! missed that! thanks will try it.

[2018-09-04 07:39] severisv commented on #3269
Any news on this? Is it best to revert to good ol' WebDeploy?

[2018-09-04 07:57] kjbartel opened #3490 "ASP.Net Core runtime 2.1.3 throws FileLoadException"
1. Description of the problem:
After installing the latest .Net Core SDK (2.1.401) ASP.Net Core apps targeting netocoreapp2.1 throw a FileLoadException when calling WebHost.Start() or WebHost.Run(). Previous packaged builds using a FDD fail to run if a new version of the runtime is installed.

2. Steps to reproduce
- Create a new ASP.Net Web Application targeting .Net Core and ASP.Net Core 2.1in V

[2018-09-04 08:05] SIkebe commented on #3490
See here
https://github.com/dotnet/core-setup/issues/4376

[2018-09-04 08:13] kjbartel commented on #3490
A workaround for this issue:
- Specify the version of the `Microsoft.AspNetCore.App` in the `PackageReference`
- Add a runtimeconfig.template.json file:
`{
  "applyPatches": false,
  "rollForwardOnNoCandidateFx": 1
}`

[2018-09-04 09:54] Song2017 commented on #2041
Run asp.net MVC core 1.1 project in vs2017 also get this error.
Solved by upgrade all dll version 1.x to latest 2.x.

[2018-09-04 11:38] SergeBerwert opened #3491 "Add Array elements with JsonPatchDocument not suporrted"
I am working on a project with Json Patch. I Tried to add an element to an array. JsonPatchDocument reported the following problem:
Message:

`The type 'ContactDetail[]' which is an array is not supported for JSON patch operations as it has a fixed size.
`

I Think JsonPatchDocument should be able to extend arrays in this case. It doesn’t make sense to me because Json dos do not differentiate any

[2018-09-04 11:52] dustyghost commented on #3487
Found the issue, there is a `Newtonsoft.Json.JsonSerializationException: Self referencing loop detected` this then closes the connection with an unhandled exception.

I know how to resolve that, as it's our poor data design that is the cause. closing this issue

[2018-09-04 11:52] #3487 closed

[2018-09-04 12:34] csnewman opened #5586 "BrowserHttpMessageHandler reads body content to end"
Inside "Blazor/src/Microsoft.AspNetCore.Blazor.Browser.JS/src/Services/Http.ts", the response data is handled via " responseData = await response.arrayBuffer();", which reads the entire response stream to the end, and then returns the data, however this is the incorrect behaviour.

HttpMessageHandler's should not buffer the response as this is handled within the HttpClient.

This means that method

[2018-09-04 13:40] sdluhaibing opened #3492 "The NETCore website failed to start process with commandline '"xxx.exe" ', ErrorCode = '0x800700d8'."
The NETCore website failed to start process with commandline '"xxx.exe" ', ErrorCode = '0x800700d8'.

stdout log is empty.
OS: Windows 7 enterprise, 32 bit
.NET Core 1.0.0 on both Server and develop environment.
My app was published with runtime win7-x86. I found can build with any runtime name like"testruntime" and publish. Not sure if this is one issue.

The website works fine on windows server

[2018-09-04 13:52] guardrex commented on #3492
Cross-reference: https://github.com/aspnet/Docs/issues/8400

[2018-09-04 15:04] honkmother opened #4728 "Add an exception for responses that are prematurely cut off due to their size."
This is a "feature" that has plagued me for months, until I realized there was a very easy fix - https://stackoverflow.com/questions/16436533/how-to-modify-the-default-allowed-response-size-settings-for-a-web-api-applicati .

Unless configured, there seems to be a (configurable) upper limit on the response size for JSON strings and responses in general - instead of throwing returning 500 and an ex

[2018-09-04 15:34] andras-ferencz opened #5587 "Annoying wwwroot folder behavior - no failback mechanism for lack of an accessible index.html file."
If your visual studio lags out and in the process you [whack your keyboard](https://dqbasmyouzti2.cloudfront.net/assets/content/cache/made/content/images/articles/BrokenComputer_XL_721_420_80_s_c1.jpg) and it somehow hits the right combination of hotkeys to move the wwwroot folder to, say, Pages or Shared, you're going to have a really bad time with this wonderful error:

I understand that managin

[2018-09-04 15:52] wmunlai opened #4109 "“dotnet watch run” encountered an error: Too many changes at once in directory:"
When I run "dotnet watch run", it keeps reporting "too many changes at once in directory" when I did not change anything. And then it exits and start again. Wonder if anyone has encountered similar problem.

I am using dotnet version 2.1.401

watch : The file watcher observing 'C:\munlai\websitepractice\EpdAsset\' encountered an error: Too many changes at once in directory:C:\munlai\websitepractic

[2018-09-04 16:39] pranavkm commented on #3132
@drauch can you open a new issue?

[2018-09-04 16:53] pranavkm commented on #3132
If you continue seeing this issue, here are some possible workarounds:

a) Consider upgrading to ASP.NET Core 2.0 or later. The issue is resolved in versions later than v1.x.
b) Modify your application startup to avoid using the code path that triggers this issue. Here's what it would look like:

[code]

c) Pinning the SDK to an earlier version using global.json  (See https://github.com/aspnet/Hom

[2018-09-04 17:05] mkArtakMSFT opened #3493 "DefaultObjectPool is not threadsafe"
_From @fofewyoung on September 3, 2018 10:18_

i found DefaultObjectPool is not thread safe in 2.1,
the test result is:

2.0.0   ----  pass
2.1.0-preview1-final  -- pass
2.1.0-preview2-final  -- failed
2.1.0                          -- failed
2.2.0-preview1-35029  --failed

my test code is below:

        class AClass
        {
            public int i = 0;

            public void Reset()

[2018-09-04 17:05] mkArtakMSFT commented on #3493
Thanks for contacting us, @fofewyoung.
@rynowak can you please look into this? Thanks!

[2018-09-04 17:48] Eilon commented on #3483
Thanks @retslig , this was also reported to us in https://github.com/aspnet/EntityFrameworkCore/issues/13117, so I'm looking into this. Hopefully we can get this updated so that the GitHub License API shows the correct data.

[2018-09-04 17:55] Eilon commented on #3488
This issue was moved to aspnet/Mvc#8383

[2018-09-04 17:55] #3488 closed

[2018-09-04 17:57] Eilon commented on #3489
This issue was moved to aspnet/Scaffolding#868

[2018-09-04 17:57] #3489 closed

[2018-09-04 18:06] #3439 closed

[2018-09-04 18:09] terrimorton commented on #3445
Both of these links have now been updated. Thanks for the report!

[2018-09-04 18:09] danmosemsft opened #3494 "ASP.Net Core 2.1 not releasing memory"
_From @BinaryPatrick on September 4, 2018 18:4_

An application running under a 15-25 requests per second load exhibits an endlessly growing memory footprint.

At first I thought I must have a memory leak, but when I run `dotnet new webapi`, compile the code using the release flag, and run it using `dotnet webapi.dll`, I get the same result.

I generated a load of ~20 GET requests a second to http

[2018-09-04 18:09] danmosemsft commented on #3494
@BinaryPatrick hello, I don't know, let's move this to the ASP.NET repo.  If you want to investigate yourself, you'll want to look at https://github.com/Microsoft/perfview

[2018-09-04 18:33] jmlothian commented on #3454
Sorry for the delay.  There was indeed a lock around some legacy code intended to help re-use customized httpclients from the 1.1 days.  Removed and replaced with HttpClientFactory, upgraded a few other sections with Polly, and tweaked Kestrel concurrent limit to 1000 and got a performance increase from 1,700 requests per second to about 2,000 rps per node (and now appropriately maxing out the CPU

[2018-09-04 19:02] davidfowl commented on #3494
cc @sebastienros

[2018-09-04 19:06] BinaryPatrick commented on #3494
Also, I have tested this with `<ServerGarbageCollection>false</ServerGarbageCollection>` and it does not affect the memory consumption. Even after I stop the requests, the memory usage remains until I kill the webhost.

[2018-09-04 19:16] davidfowl commented on #3454
When you say connections, you mean requests right?

[2018-09-04 19:57] njebert commented on #3421
@javiercn Could be it - I am running the commands from an administrator instance of PowerShell. Much appreciated - I will retest once I have your script.

[2018-09-04 20:08] JunTaoLuo opened #3495 "Unable to start Kestrel: path base can only be configured using IApplicationBuilder.UsePathBase"
_From @JDGHHou on September 4, 2018 19:3_

My application runs fine in Visual Studio 2017 using the built-in IIS Express. However, when I deploy my code to IIS, suddenly I get the attached error.

I have found a couple of articles saying that I need to set my application URL to
"applicationUrl": "http://localhost/"
rather than
"applicationUrl": "http://localhost/{my application name}/"

But when I

[2018-09-04 20:20] JunTaoLuo commented on #3495
@shirhatti Where do we have guidance on IIS deployments? https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-2.1&tabs=aspnetcore2x?

@JDGHHou This isn't a Kestrel specific issue but the error is caused by trying to set a path base via the `applicationUrl` configuration, which is not supported. Instead, you should be using the `UsePathBase` method as suggested in the e

[2018-09-04 20:30] sebastienros commented on #3494
@BinaryPatrick We do it all day long, with much more complex applications, and we don't see this behavior. I even made a web app and article to show how everything works _fine) https://github.com/sebastienros/memoryleak

- Have you recompiled the application when you switched to Workstation GC?
- How much memory do you have on your system? I have 32GB and it never goes above 500MB. With Workstatio

[2018-09-04 20:41] JDGHHou commented on #3495
Yes, I've seen this code in some articles online. Have you tried to run it?

It doesn't work because context.Response doesn't have a method called WriteAsync. I can access context.Response.Body.WriteAsync, but this version of WriteAsync doesn't accept a string as parameter. It accepts some kind of write buffer or something.

Also, I don't want to send back a response of some random text.

I would

[2018-09-04 20:46] JDGHHou commented on #3495
The current problem is that my pages load, but there is an AJAX post in the onload event of my window element on my index.cshtml. In that AJAX post I have a call to @Url.Action('{action}','{controller}') to create the post-to URL. When I inspect my generated page, the @Url.Action helper command has generated a blank string because - it seems - the Kestrel server crashed due to this error. So, the

[2018-09-04 22:01] aspnet-hello opened #3496 "Test failure: System_CanUnprotectWithCert"
This test [fails](http://aspnetci/viewLog.html?buildId=544356&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made autom

[2018-09-04 22:01] aspnet-hello commented on #3496
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-09-04 22:01] aspnet-hello commented on #3496
System_UsesInMemoryCertificate [failed with about the same error](http://aspnetci/viewLog.html?buildId=544356&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-04 22:43] paulomorgado opened #3497 "Consider making public methods of Microsoft.Extensions.DependencyInjection.ActivatorUtilities extension methods"
serviceProvider.CreateInstance(instanceType, params);

feels better than

    ActivatorUtilities.CreateInstance(serviceProvider, instanceType, params);

or even

    CreateInstance(serviceProvider, instanceType, params);

[2018-09-04 23:12] pranavkm commented on #3341
@tmds prior to 2.2.0-preview2, `DOTNET_USE_POLLING_FILE_WATCHER` was a bit of a misnomer. A PhysicalFileProvider with polling enabled would return a `IChangeToken` that would only go to disk if you inspected the `HasChanged` property (i.e. it was passive). This worked really well with one scenario - `IMemoryCache` which always looked at HasChanged, but missed several other scenarios like configura

[2018-09-05 00:01] aspnet-hello commented on #3496
System_CanUnprotectWithCert [failed with about the same error](http://aspnetci/viewLog.html?buildId=544512&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-05 01:29] Eilon commented on #3252
@DanJ210 got it. If you do figure out what was up or have more info on how to reproduce this please log a new issue so we can investigate.

[2018-09-05 01:30] Eilon commented on #3445
Thanks @terrimorton !

[2018-09-05 01:30] #3445 closed

[2018-09-05 01:39] jmlothian commented on #3454
Yes and no. I think there’s utility in being able to reject the connections before becoming requests, but that’s probably introducing a bit more complexity and interplay between the service and kestrel/httpsys/etc than would be optimal in a tidy modular system.

I’d settle for rejecting requests, if there was a way to do so in a timely manner - like pruning the request queue for anything that’s be

[2018-09-05 02:42] davidfowl commented on #3454
There’s already a connection limit with kestrel so if you want to outright have a max on the concurrent connections then you can configure that.

A simple middleware can be written to reject requests based on a number of concurrent requests.

[2018-09-05 06:16] paulomorgado commented on #3497
I think I already did. It's basically more user friendly. And since it kind of is adding features to IServiceProvider, it makes sense.

But I'll throw that back at you, @Eilon, why not?

[2018-09-05 09:26] arkadiuszwojcik opened #5588 "Component not rendering after StateHasChanged call"
I have created simple `NavElement` component that changes a bit standard `NavLink` behaviour. According to log all logic works but somehow component is not re-rendered after `StateHasChanged` call. Relevant code looks like this:

        private void OnLocationChanged(object sender, string newUriAbsolute)
        {
            Console.WriteLine("OnLocationChanged");

            var shouldBeActive

[2018-09-05 12:05] kdrvn opened #3498 "JsonPatch: test operations fail when contract resolver is used to serialize data"
### Functional impact
When controlling data serialization using a contract resolver (and the contract resolver is not registered for the JsonConvert's default settings), test operations in patch requests fail.

### Minimal repro steps
Issue noticed in `Microsoft.AspNetCore.JsonPatch 2.1.1`.

Example code:
[code]

### Expected result
ApplyTo method does not throw an error, test operation was succes

[2018-09-05 12:13] khellang commented on #3497
It's basically not a method you want people to use. Adding it as a "first class" (extension) method on `IServiceProvider` is both kinda confusing (it doesn't match the behavior (or naming) of the rest of the methods) and promotes its usage.

I'd rather see this "hidden" under `ActivatorUtilities`. If you find yourself calling this method all over the place, it's pretty easy to add your own extensi

[2018-09-05 14:06] paulomorgado commented on #3497
I don't want to use it all over the place, but I want to use it where it's useful. Just a thought.

[2018-09-05 15:04] DanJ210 commented on #3252
@Eilon Ok I will. I did upload the project to a repo so it's showing exactly everything I was doing and it wasn't anything major. That project could reproduce the issue I was running into. Somehow it seems like the store was getting disposed of and recreated when I didn't think it should be and the engineers who designed it felt like it shouldn't have either. But idk.

[2018-09-05 15:04] DanJ210 commented on #3252
Thanks for all the help.

[2018-09-05 15:43] Tratcher commented on #3486
Worth considering for 3.0.

[2018-09-05 15:55] Tratcher commented on #3495
Running in IIS shouldn't trigger this error unless you have some redundant configuration where you specify ASPNETCORE_URLS or similar containing "/applicationname". You should be able to remove that setting.

This error also occurs on startup, not per request, so your @Url.Action shouldn't ever be reached. Your Razor page issue may be something else.

[2018-09-05 15:59] Eilon commented on #3496
@muratg can you assign?

[2018-09-05 16:01] Eilon commented on #3482
@HaoK / @Tratcher / @blowdart - any idea on this? Should this move to the Security repo?

[2018-09-05 16:34] blowdart commented on #3482
I don't, which is why I tagged Hao. And yea, probably should be moved.

[2018-09-05 16:55] kugarliyifan opened #3499 "when run at server throw Cannot find compilation library location for package error"
i create the project by asp.net core 2.1 ,Microsoft.AspNetCore.App version is 2.1.3,,my server is windows 2012 64x,.net core runtime is 2.1.3,,i use the publish the website ,configuation is
![image](https://user-images.githubusercontent.com/18448413/45108437-2c72b000-b16f-11e8-9748-e63fdf7a18f5.png) ,,,but when i request the site,it throw the error like this
![image](https://user-images.githubuser

[2018-09-05 17:01] kugarliyifan commented on #3499
this application run  in vs2017 mode is no problem

[2018-09-05 17:19] Eilon commented on #3499
@dougbu / @pranavkm / @mkArtakMSFT - any ideas on this?

[2018-09-05 17:28] HaoK commented on #3482
See this related issue for more details https://github.com/aspnet/Security/issues/1103

[2018-09-05 17:30] Eilon commented on #3497
Yeah I think there's value in the API design to make a more solid distinction between regular DI via the service provider, and ActivatorUtilities, which generally should be avoided.

[2018-09-05 17:44] pranavkm commented on #3499
Try setting `<CopyRefAssembliesToPublishDirectory>true</CopyRefAssembliesToPublishDirectory>` in your project file.. https://docs.microsoft.com/en-us/aspnet/core/razor-pages/sdk?view=aspnetcore-2.1 has some documentation about the setting.

That said, I'd recommend not trying to compile views as part of a published application. The most common case for this is using an `EmbeddedFileProvider` as a

[2018-09-05 17:59] JunTaoLuo opened #4727 "Allow non-ASCII characters in response header values"
Following up for https://github.com/aspnet/KestrelHttpServer/issues/1144. We may want to allow UTF-8 characters in response header values now to parallel our acceptance of UTF-8 characters in request header values. Note that the app has some degree of control over the response headers and their values.

[2018-09-05 18:05] muratg commented on #3496
@natemcmaster could you take an initial look please?

[2018-09-05 18:28] jmlothian commented on #3454
I've been tinkering with the Kestrel connection limits, and hadn't actually gotten them to do much of anything (the graphs above showing 60k pending users were with Kestrel set to 1000 max connections).  All of my load testing has been either in Service Fabric or Azure Kubernetes - both of which use the Azure Load Balancer.  Today I tried load testing against a standard VM, which tanks the respons

[2018-09-05 18:51] john345331 opened #3500 "Many to many self reference table - guid Id changes itself"
https://stackoverflow.com/questions/52191661/many-to-many-self-reference-table-guid-id-changes-itself

[2018-09-05 18:52] john345331 commented on #3500
Also a better documentation should be added for self referencing one-to-one and many-to-many tables

[2018-09-05 19:23] kugarliyifan opened #3501 "Is there anyway to replace file and auto restart asp.net core website"
Is there anyway to replace file and auto restart website on iis 8 like asp.net mvc.....I publish use win-64x mode,,I want to like asp.net ,,,upload new dll file use ftp and website can auto restart....Is that Anyway to make this???

[2018-09-05 19:33] natemcmaster commented on #3496
Nothing changed in dataprotection that would have caused this. My guess is this was caused by changes in the corefx package System.Security.Cryptography.Xml or its dependencies.

[2018-09-05 19:35] Tratcher commented on #3501
See app_offline.htm: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-2.1#app_offlinehtm

[2018-09-05 20:31] jdmichel opened #3502 "WebApplicationFactory WithWebHostBuilder configuration priority seems wrong"
I'm trying to upgrade an integration test and related app from aspnetcore 2.0 to 2.1, and running into problems with configuration settings and WebApplicationFactory.

If I use the following code, then the existing setting in appsetting.json takes precedence over the setting for the test.

[code]

If I remove the setting from appsettings.json then I get the value from the setting above.
It seems t

[2018-09-05 20:34] kugarliyifan commented on #3501
@Tratcher   thank you !!!!!

[2018-09-05 20:34] #3501 closed

[2018-09-05 20:55] JeffMushmo commented on #2116
We would like to collaborate on fixing this. We build devices that we sell for 5 figures per unit that run Windows IoT Core for the operating system. We're on track to be selling thousands of these devices very soon.

The only solution Microsoft provides us with to remotely install/update applications with, only works with UWP applications. We understand we can run .NET Core on Windows IoT Core pe

[2018-09-05 21:12] natemcmaster commented on #3490
Closing as a duplicate of https://github.com/dotnet/core-setup/issues/4512. It is fixed in 3.0 already. We are planning on taking a fix in 2.1.5.

[2018-09-05 21:12] #3490 closed

[2018-09-05 21:17] muratg commented on #3496
@GrabYourPitchforks @joshfree Are you guys aware of any recent changes in `System.Security.Cryptography.Xml` or `System.Security.Cryptography.Pkcs`?

[2018-09-05 21:30] natemcmaster opened #3503 "Version mismatches in 2.1 and 2.2 patch updates (often causes FileLoadException)"
Some ASP.NET Core 2.1 users have been affected by a bug in the .NET Core host (see https://github.com/dotnet/core-setup/issues/4512) which can cause apps to fail with System.IO.FileLoadException. The issue may also be present in your app, even if the app does not fail with System.IO.FileLoadException.

### Affected versions
.NET Core, 2.1.1 through 2.1.4 (all OSes), 2.1.7 (Windows only), 2.2.1  (W

[2018-09-05 21:34] Eilon commented on #2116
@JeffMushmo which source code are you unable to find?

[2018-09-05 21:36] JeffMushmo commented on #2116
The "Microsoft.AspNetCore" nuget package.

[2018-09-05 21:58] blowdart commented on #3500
This issue was moved to aspnet/EntityFrameworkCore#13225

[2018-09-05 21:58] #3500 closed

[2018-09-05 22:06] Eilon commented on #2116
Here you go: https://github.com/aspnet/MetaPackages/tree/master/src/Microsoft.AspNetCore

[2018-09-05 22:12] Eilon commented on #3496
@muratg might be a good idea to send mail too.

[2018-09-05 22:12] Eilon commented on #3484
@muratg please assign.

[2018-09-05 22:19] muratg commented on #3484
@JunTaoLuo could you take a look please? Looks like a timing issue, but not sure why.

[2018-09-05 22:30] dbredvick commented on #2737
@Zoxive where are you doing that configuration? I'm running into this issue on a large project and I'd like to use the workaround you found.

[2018-09-05 22:43] los93sol commented on #2116
@JeffMushmo I’m glad someone got some use out of that experiment :)

[2018-09-05 22:47] pakrym opened #3504 "DependencyInjection stackoverflow test failure"
The test that is failing is `CompilesInLimitedStackSpace` test that is using availible to the max.

But somehow between `2.2.0-preview-26820-02` and `2.2.0-preview2-26903-02` amount of available stack space went down on OSX and Ubuntu.

[2018-09-05 23:09] pakrym commented on #3504
This test failure is caused by https://github.com/dotnet/coreclr/pull/19525. My speculation is that first version of bytecode that tiered JIT generates is less optimized and takes more stack space causing our test to fail.

Disabling tiered JIT using `export COMPlus_TieredCompilation=0` fixes the test.

@kouvel  is this behaviour expected?

[2018-09-06 00:01] aspnet-hello opened #3505 "Test failure: SendEmptyData_Success"
This test [fails](http://aspnetci/viewLog.html?buildId=544982&buildTypeId=Releases_21Public_OsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.1.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automat

[2018-09-06 00:01] aspnet-hello commented on #3505
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-09-06 00:01] ryanbrandenburg commented on #3393
@ajcvickers this looks like an EF area, please assign someone to confirm that it's resolved.

[2018-09-06 00:03] ryanbrandenburg commented on #3468
@Eilon since I'm not sure who owns StaticFiles.

[2018-09-06 00:10] natemcmaster commented on #3496
Assigning to myself. Root cause is packaging changes in corefx. We can unblock tests by upgrading master to netcoreapp3.0. https://github.com/aspnet/DataProtection/pull/324.

[2018-09-06 02:31] aspnet-hello commented on #3496
XmlCanRoundTrip [failed with about the same error](http://aspnetci/viewLog.html?buildId=545176&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-06 02:41] aspnet-hello opened #3506 "Test failure: CanValidateMixDataAnnotations"
This test [fails](http://aspnetci/viewLog.html?buildId=545178&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made autom

[2018-09-06 02:41] aspnet-hello commented on #3506
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-09-06 08:45] kugarliyifan opened #3507 "How to set asp.net core http port number manual in IIS 8?"
How can I set asp.net core 2.1.3 http port number in IIS8,,,is there anyway to set the port in web.config? the asp.net core http port, not the iis http port

[2018-09-06 10:47] nil4 commented on #3507
@kugarliyifan if you're referring to configuring ASP.NET Core Module for IIS to listen on a specific port, you can set the `ASPNETCORE_PORT` environment variable to the desired value. See https://github.com/aspnet/AspNetCoreModule/issues/64#issuecomment-365518588, and be aware you might run into this bug https://github.com/aspnet/IISIntegration/issues/1119

[2018-09-06 12:49] #3454 closed

[2018-09-06 14:44] elangelo opened #3508 "DotNetCoreWindowsHosting install corrupt after sysprep"
As part of our offering on Azure we have an API service that is running in dotnetcore 2.0
We use packer to create a custom image and install the dotnetcore windows hosting module.
The version we install is DotNetCore.2.0.0-WindowsHosting.exe

At the end of the packer process a sysprep gets run:
				"& $env:SystemRoot\\System32\\Sysprep\\Sysprep.exe /oobe /generalize /quiet /quit",

When i spin up

[2018-09-06 15:32] natemcmaster commented on #3005
Without steps to reproduce, there isn't much I can do to help. The stack trace shows the error as coming from several layers below the ASP.NET stack which leads me to believe there is a problem with how the certificate was generated or there is a bug deep in the System.Security.Cryptography stack. Try creating a repro by using EncryptedXml APIs directly: https://docs.microsoft.com/en-us/dotnet/sta

[2018-09-06 15:42] Tratcher opened #3851 "DotNetCoreWindowsHosting install corrupt after sysprep"
_From @elangelo on September 6, 2018 14:44_

As part of our offering on Azure we have an API service that is running in dotnetcore 2.0
We use packer to create a custom image and install the dotnetcore windows hosting module.
The version we install is DotNetCore.2.0.0-WindowsHosting.exe

At the end of the packer process a sysprep gets run:
				"& $env:SystemRoot\\System32\\Sysprep\\Sysprep.exe /oob

[2018-09-06 15:42] Tratcher commented on #3508
This issue was moved to aspnet/IISIntegration#1375

[2018-09-06 15:42] #3508 closed

[2018-09-06 16:08] xinlongli2018 opened #3509 "How to read Automatic Proxy Detection (WPAD) in Asp.net core"
in asp.net we can use the following setting in web.config to point to a wpad.dat file to read all the proxy setting, is there a way we can achieve the same thing in asp.net core?

<system.net>
      <defaultProxy enabled="true" useDefaultCredentials="true">
        <proxy autoDetect="True" scriptLocation="http://wpad.dat" />
      </defaultProxy>
    </system.net>

[2018-09-06 16:09] Tratcher commented on #3509
This issue was moved to dotnet/corefx#32135

[2018-09-06 16:09] #3509 closed

[2018-09-06 16:16] Tratcher opened #5937 "Feature request: something similar to app_offline.htm"
_From @lonix1 on September 6, 2018 16:14_

In regular ASP.NET I can dump an `app_offline.htm` file on the server, and that would signal IIS to take down the app. Then I can do some maintenance, and delete the file to restart the app.

Kestrel doesn't have such a feature (I think?). I realise there are other (perhaps better?) ways to do this, but most devs and companies are used to this because it

[2018-09-06 17:16] aspnet-hello opened #3510 "Test failure: ThrowsIfCannotDecrypt"
This test [fails](http://aspnetci/viewLog.html?buildId=545953&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made

[2018-09-06 17:16] aspnet-hello commented on #3510
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-09-06 17:16] aspnet-hello commented on #3510
XmlCanRoundTrip [failed with about the same error](http://aspnetci/viewLog.html?buildId=545953&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-06 17:26] Eilon commented on #3505
@muratg "Address still in use" - who is working on these?

[2018-09-06 17:26] Eilon commented on #3393
cc @bricelam FYI

[2018-09-06 17:28] Eilon commented on #3468
@muratg is the proud owner.

[2018-09-06 17:30] Eilon commented on #3506
@HaoK can you take a look?

cc @ajcvickers

[2018-09-06 17:33] Eilon commented on #3510
@natemcmaster is this the same thing that we saw earlier as well, with the mis-matched crypto DLLs?

[2018-09-06 17:42] maddy027 opened #3511 "System.NotSupportedException: 'Unable to determine the provider name for provider factory of type 'System.Data.SqlClient.SqlClientFactory'. Make sure that the ADO.NET provider is installed or registered in the application config"
https://github.com/aspnet/EntityFramework6/issues/623

Code is available here https://github.com/maddy027/IssueWithEF6WithCore.git
when I tried to use EDMX with Asp.net core , getting the below error
System.NotSupportedException: 'Unable to determine the provider name for provider factory of type 'System.Data.SqlClient.SqlClientFactory'. Make sure that the ADO.NET provider is installed or register

[2018-09-06 17:53] ajcvickers commented on #3511
@maddy027 This project file: https://github.com/maddy027/IssueWithEF6WithCore/blob/master/CoreWithEF/CoreWithEF.csproj

targets `.NET Core` and references the EntityFramework package. This is not  supported. If the documentation you are using results in this kind of project structure, then the documentation needs to be changed. As I said on the other issue, this should be reported as a "content fe

[2018-09-06 17:53] #3511 closed

[2018-09-06 17:58] natemcmaster commented on #3510
Yes, duplicate of https://github.com/aspnet/Home/issues/3496

[2018-09-06 18:01] maddy027 commented on #3511
@ajcvickers  Yes , in the doc you can find the below instructions:
![image](https://user-images.githubusercontent.com/14070328/45176216-f1cf4d00-b22c-11e8-9fa3-1215bbb53c08.png):

Create a solution.

Add New Project > Web > ASP.NET Core Web Application (.NET Framework)

Add New Project > Windows Classic Desktop > Class Library (.NET Framework)

In Package Manager Console (PMC) for both projects, r

[2018-09-06 18:53] #3510 closed

[2018-09-06 18:57] Eilon commented on #3502
This issue was moved to aspnet/Mvc#8406

[2018-09-06 18:58] #3502 closed

[2018-09-06 19:09] andre-ss6 opened #4726 "Kestrel returns 400 before reaching any of my code"
Our web app started returning seemingly random 400s since the last two weeks. It is a ASP.NET Core 2.0 mvc web site running under IIS and Windows Server 2016. First thing we did was, of course, look at our logs. However, there was nothing. None of those 400s were there. We then enabled Failed Request Tracing and found this: https://pastebin.com/NVR2pzbJ (as you may know, Failed Request Traces from

[2018-09-06 19:42] aspnet-hello opened #3512 "Test failure: ThrowsIfProvidedCertificateDoesHavePrivateKey"
This test [fails](http://aspnetci/viewLog.html?buildId=545949&buildTypeId=XPlat_HighSierraOsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automa

[2018-09-06 19:42] aspnet-hello commented on #3512
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-09-06 19:42] aspnet-hello commented on #3512
System_UsesProvidedDirectoryAndCertificate [failed with about the same error](http://aspnetci/viewLog.html?buildId=545949&buildTypeId=XPlat_HighSierraOsxUniverse) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-06 20:05] feldrim opened #5819 "Usage of IdentityRole"
I know claims are the best practice here but there are some cases where Roles are needed. And I have checked out issues, yet couldn't find any answer. It might be my mistake though.

Although Identity namespace has IdentityRole class,

1. `Microsoft.AspNetCore.Authorization.AuthorizationPolicyBuilder` does only have `RequireRole(IEnumerable<string> roles)` and `RequireRole(params string[] roles)`,

[2018-09-06 20:55] Eilon commented on #3512
Another dup of the issue we've seen already.

[2018-09-06 20:55] #3512 closed

[2018-09-06 20:58] muratg commented on #3468
@JunTaoLuo could you take a look please?  No change in product and it looks like a simple timeout, but worth looking at it.

[2018-09-06 21:56] TrieBr opened #3513 "2.2 Adding ProducesResponseType overwrites default HTTP OK response."
I just upgraded my ASP 2.1 project to 2.2.0-preview. I upgraded solely on "API Controller conventions" outlined in the [2.2 Roadmap](https://github.com/aspnet/Announcements/issues/307) to ease documentation generation.

When I have an action on a controller without a `ProducesRespponseType` attribute, a default HTTP status 200 is output in ApiExplorer inferring from the `ActionResult` type.

[code

[2018-09-06 22:18] #3504 closed

[2018-09-06 22:53] ryanbrandenburg opened #5438 "Template tests should baseline SPA templates"
Add

- angular
- react
- reactredux

to the baseline tests.

[2018-09-07 02:35] JunTaoLuo commented on #3505
This also needs https://github.com/aspnet/KestrelHttpServer/issues/2886. The in-memory functional tests solved all of our address in use failures.

[2018-09-07 03:26] Tratcher commented on #3505
A few of these could be converted from functional to unit tests like OriginIsValidatedForWebSocketRequests and OriginIsNotValidatedForNonWebSocketRequests.

[2018-09-07 03:29] JunTaoLuo commented on #3505
I think I commented on the wrong issue. I thought this is a 2.1 test issue in Kestrel. The required change here is to port https://github.com/aspnet/WebSockets/commit/752f934a236e2e05b8ad985adfa540527643ae1a to 2.1. The change is already in 2.2 and master.

[2018-09-07 03:30] Tratcher commented on #3505
Why isn't it using port 0? That's more reliable than GetNextPort.

[2018-09-07 03:36] JunTaoLuo commented on #3505
I think it was used to create a ws url: https://github.com/aspnet/WebSockets/blob/752f934a236e2e05b8ad985adfa540527643ae1a/test/Microsoft.AspNetCore.WebSockets.Test/WebSocketMiddlewareTests.cs#L35.

Maybe there's a way to parse out the port that Kestrel chose, I'll need to check.

[2018-09-07 04:03] Tratcher commented on #3505
Yup: https://github.com/aspnet/KestrelHttpServer/blob/0e99235d59031106bfe6c593757b99ff99f261f7/test/shared/TransportTestHelpers/IWebHostPortExtensions.cs#L13-L29

[2018-09-07 04:42] tmds commented on #3341
Great, thanks!

[2018-09-07 04:42] #3341 closed

[2018-09-07 06:51] jehof commented on #3456
and this https://github.com/aspnet/Home/issues/3341?

[2018-09-07 07:48] NtFreX commented on #3005
Since my coworker installed the latest windows updates it seems to work on his machine. We still have some other machines where it doesn't work. Where should I report a issue with System.Security.Cryptography?

[2018-09-07 09:20] SachaZvetelman opened #3514 "AddDataProtection race condition"
I'm running multiple instances of a .NET Core 2.1 app behind a load balancer.

When multiple instances are created for the first time, there are frequently race conditions taking place around the `DataProtection` library that cause problems.

If these instances are created at the same time, the first one will create a new key and persist it to Redis, but the second one will do the same, and the th

[2018-09-07 10:09] tangname opened #3515 "how to access a remote shared folder with credential in asp.net core ?"
i  want to access a remote shared folder with credential,neither my app server nor remote file sever is in domain.

i notice that asp.net core use  under code to specify a local path:
[code]
then i can browser `localhost:5000/files/test.jgp` to view a file.

but now i need to aceess a  remote server file with credential,.

i instead of the '"C:\\Files' to '\\\\10.1.0.10\files',unfortually,it thow

[2018-09-07 10:32] couven92 opened #3516 "Security Implications of using Windows Authentication"
When running an ASP.NET Core application on an IIS-Server on Windows what are the best options for doing Authentication

* using the IIS built-in Windows Authentication (which uses the `X-WWW-Authenticate` header under the hood)
* using a Login page with ASP.NET authentication, using ASP.NET Core Cookie Authentication, and calling the [LogonUserW function](https://docs.microsoft.com/en-us/windows/

[2018-09-07 11:12] NtFreX commented on #3005
The problem on my colleagues machine was that the certificate was only in the machine store and when decrypting an xml only the user store will be searched...

Strange as I though when using the certificate directly it will not try to load it from the store when decrypting? But the article you linked makes it clear that the certificate must be in the user store.

https://docs.microsoft.com/en-us/d

[2018-09-07 11:29] thepinkmile opened #3517 "Give DI ServiceDescriptor an interface"
I am trying to create a wrapper on top of Microsoft.Extensions.DependencyInjection to provide some custom functionality.

What I really need is for the ServiceDescriptor to have an interface of IServiceDescriptor. This is because my custom functionality requires me to store extra information about a service (ServiceName & ScopeName). Currently, to implement my custom descriptors I have to derive f

[2018-09-07 13:35] SteveSandersonMS opened #5589 "Avoid publishing _bin/asmjs/wasm directories for server-side only apps"
Currently the build/publishing process doesn't differentiate between WebAssembly and server-side Blazor apps, and hence it outputs `mono.wasm`/`mono.asm.js` and the `_bin` directory (containing client-downloadable .NET assemblies) in both cases.

You *do* want to publish those files for WebAssembly apps, but you *don't* for server-side only ones (partly because it's pointless extra stuff to publis

[2018-09-07 14:12] karelz opened #3518 "Unable to use client certificate authentication with WebApplicationFactory"
_From @vdachev on September 7, 2018 13:1_

Hello,

I'm trying to set up an integration test for a web application that uses certificate authentication. I use the following code fragment to instantiate the `HttpClient`:
[code]
However, I want to pass a client certificate when requesting a resource. The problem is, the client certificate collection is stored in the `HttpClientHandler` but I could no

[2018-09-07 14:28] TechnikEmpire opened #3519 "No way to get the request client HTTP version"
There is no way that I can find anywhere in ASP.NET Core or Kestrel to simply get the HTTP client version for a request/connection. I see in Kestrel that the server does a great deal of work to accurately determine this, and then the result is hidden in internals not available to the end user. Plus, the http context consumes the raw protocol packets and then they're irreversibly disposed, so there

[2018-09-07 14:55] blowdart commented on #3516
This is more of a stack overflow question as it's opinion based, but ...

In workgroups in order for this to work, without the login prompt that people generally want integrated auth for you'd have to mirror user accounts and passwords between all machines, a horrendously bad idea, because you'd know everyone's passwords.

Then you add the internet to the mix, and Integrated/NTLM/Kerberos is also

[2018-09-07 15:13] Tratcher commented on #3519
HttpContext.Request.Protocol?

[2018-09-07 15:19] Tratcher commented on #3518
Client certificates are a TLS transport feature and WebApplicationFactory only uses an in-memory transport so there's no TLS involved, this isn't going to work out of the box.

WebApplicationFactory.TestServer does give you another way to do this though. Rather than using CreateClient, you can instead use CreateRequest and directly populate any server side fields you need for the test like the Htt

[2018-09-07 15:27] TechnikEmpire commented on #3519
@Tratcher What little documentation and reference I could find states that this will simply be `http` but I have not run tests to confirm, I simply took those references at their word.

[2018-09-07 15:33] Tratcher commented on #3519
Any references? We can get those fixed. "http" should be the Scheme, not the Protocol.

[2018-09-07 15:35] TechnikEmpire commented on #3519
@Tratcher I'll try to find them, but I'll invest first in doing some actual tests. Hopefully I'm just wrong and can close this out.

[2018-09-07 15:43] TechnikEmpire commented on #3519
Yeah you're right, and the info was wrong, and I was wrong for not testing it before spamming here with a false issue! Sorry about that. :)

[2018-09-07 15:43] #3519 closed

[2018-09-07 15:44] pakrym commented on #3517
It's a massive change to rewire everything to use IServiceDescriptor and the benefit is not obvious.

To help your case static `Create` method could be added that takes `IServiceDescriptor descriptor, MyCustomData metadata` and selects and calls appropriate `CustomServiceDescriptor` ctor.

[2018-09-07 16:00] pakrym opened #3821 "[CTI] Add hosting bundle installer tests"

[2018-09-07 16:04] thepinkmile commented on #3517
I have just made a fork of this repo and looking into the changes required.
However, I am unsure what you mean by adding a `Create` method. Could you give me an example implementation that would allow for me to have easy access to the data I need?

If my understanding is correct, I don't think this would work for my case.
This is because I might need to add multiple sets of metadata that are unrel

[2018-09-07 16:05] GodzillaDaThrilla opened #5590 "Sidebar auto-collapses any collapsable children on wide media - fix included"
Figured this out while trying to create an accordion on the sidebar. I found that the standard bootstrap collapse on child elements worked fine on small screens where the sidebar collapses to the top, but on large screens the accordion menu(s) would just keep re-collapsing (again, only only large screens, collapseable elements functioned normally in mobile view).

### The Problem:
The problem is w

[2018-09-07 16:47] Tratcher commented on #3515
For IIS hosted apps: https://stackoverflow.com/questions/1496068/asp-net-read-files-from-a-password-protected-network-share

[2018-09-07 17:12] Zoxive commented on #2737
@dbredvick
Inside UseDefaultServiceProvider() in Program.cs

[code]

[2018-09-07 17:38] JunTaoLuo commented on #3484
@Eilon @muratg I've fixed this in 2.2 and master. Should I also make a PR to fix this in 2.1 (1 failure in 8263 runs)? It's a test fix only so I presume it's easy to get approved.

[2018-09-07 18:37] ackava opened #3520 "CORS does not work with CDN"
It is quite well that ASP.NET Core detects whether CORS headers are needed or not, but it does not work with CDN. In requests through CDN, ASP.NET Core thinks that it does not need to send CORS headers and it simply stops sending CORS headers.

[2018-09-07 19:40] Praveen-Rai opened #4724 "Kestrel does not listen for https when run as a service on Ubuntu"
I am trying to host an ASP.Net Core MVC application (https redirection is enabled) on Ubuntu server, using Nginx as a reverse proxy. I have created and installed a local SSL certificate using OpenSSL. When i run my application using dotnet CLI it listens on both http://localhost:5000 & https://localhost:5001, and i am able to access it on web using https (http requests are being redirect to https

[2018-09-07 20:39] ryanbrandenburg opened #5439 "Verify generated content with a linter or similar"
Right now this is only our site.min.css files. We should (as part of our tests) verify that the contents are at least valid css.

[2018-09-07 21:04] JunTaoLuo commented on #3484
I'm going to close this issue for now since it's been addressed. We can file a different issue for 2.1 if we decide to fix it there as well.

[2018-09-07 21:04] #3484 closed

[2018-09-07 22:41] dougbu opened #4912 "Flesh out the `GetProjectReferenceMetadata` task"
#### Is this a Bug or Feature request?
Enhancement that's part of #4896

#### Description of the problem
The current `GetProjectReferenceMetadata` task is basically a stub. It needs to get the requisite metadata and add it to the `Inputs` items i.e. behave like `GetFileReferenceMetadata` and `GetUriReferenceMetadata` but with `ServiceProjectReference` items. See expected metadata in the `<ItemDefi

[2018-09-07 23:02] JunTaoLuo commented on #3468
I'm going to put this issue on hold until the next time it repros which will provide us with logs on what went wrong.

[2018-09-08 00:38] javiercn commented on #3421
@njebert Hi,

I've created a powershell script to help diagnose issues with the tool. https://gist.github.com/javiercn/9f2657f88498ce1b0b8c99d326131b54

Read through the script to ensure you are ok running it, run it with .\cert-diag.ps1, evaluate the output for anything that you want to censor and paste the output here.

The script also contains a switch -TryCreateCertificate that will create a c

[2018-09-08 07:38] tangname commented on #3515
@Tratcher  thanks! I'm at home now and have no dev enviroment.I'll try it next monday.

[2018-09-08 07:50] RaymondHuy commented on #1528
Hi @ststeiger I cannot run AspNetCore.Reporting on Azure Function with Consumption Plan because it has blocked GDI+ function. Do you have any solutions for it ? Thanks.

[2018-09-08 13:09] mrpmorris opened #5591 "StateHasChanged has no effect when called from JavaScript interop"
I've uploaded a sample app here https://drive.google.com/open?id=1HnrxLNiRAbfTn3Mgwkk-pvgZeqrb7Rjb

1. Run the app
2. Note that the Counter is 0
3. Click the button (repeatedly)
4. Note it remains 0

Edit index.cshtml
Comment out the call to StateHasChanged in OnPageLoaded

1. Run the app
2. Note that the Counter is 0
3. Click the button (once)
4. Note it changes to 2

Conclusion: A call from Java

[2018-09-08 13:11] couven92 commented on #3516
Oh, I am sorry @blowdart , you're right, I should have posted on StackOverflow or Reddit instead...

Well, of course this site would run behind HTTPS width proper HSTS mechanisms eneabled. I'd never expose the Windows Authentication to an unsecure endpoint.

Well suppose I expose file-server access as part of the site. I'd rather use DACL to control file access and permissions than defining a role

[2018-09-08 14:55] couven92 commented on #3516
Core doesn't do impersonation automatically. From what I understand you can get an instance of NT Identity from the user property and call imporsonate, right?

[2018-09-08 15:35] AlexBAV opened #3521 "FileSystemWatcher does not detect changes"
`FileSystemWatcher` in ASP.NET Core 2.1 does not detect changes in files in a folder created as a junction from another folder.

[2018-09-08 18:59] dougbu opened #4914 "Add tests of client code generation components"
#### Is this a Bug or Feature request?
Enhancement that's part of #4896

#### Description of the problem
Have previously been manually testing the client code generation feature. Need to automate this, including tests of the tasks, the generic document tool, and the MSBuild targets.

Tasks should be relatively simple to unit test. But, the remainder will likely need functional tests that (unfortun

[2018-09-08 20:21] davidfowl opened #5440 "Change ASP.NET Core templates to use async main"
We should look at doing this in 3.0

[2018-09-09 00:42] dstj opened #5239 "NpmScriptRunner leaves NodeJs running (after test session)"
When running the functional tests of my dotnet core / angular app I noticed that the NodeJS processes are not stopped after my tests finishes. After 5 minutes after my tests completed, they are still there...

![image](https://user-images.githubusercontent.com/467692/45259872-531a2c00-b3a5-11e8-8dd7-03556b826fff.png)

My NUnit `OneTimeTearDown()` also seems to be hanging when that happens. I'm gue

[2018-09-09 19:15] kdrvn commented on #3498
As I am looking into writing a fix for this issue, I am wondering if the `JsonPatchDocument` constructor should have an override with a `JsonSerializerSettings` parameter to be used for comparing the test operation's value and the tested value. As these settings can influence how the objects are serialized for comparison and influence the outcome, it would be useful to be able to change them witho

[2018-09-10 04:52] Crono1981 commented on #1725
This is a huge deal for us as well. We invested a lot around our own connection factory. We would like very much to move to EF Core but NOT at the cost of losing it.

Our factory wraps a SqlConnection instance
and makes it dead easy to set up settings by default so that any queries operates in a culture-invariant kind of way. We also have lots of extensions to facilitate error handling, nesting tr

[2018-09-10 05:27] vdachev commented on #3518
Okay, that makes sense.

However, the `Microsoft.AspNetCore.Mvc.Testing.WebApplicationFactory<TEntryPoint>` has `Server` property that provides a `Microsoft.AspNetCore.TestHost.TestServer.CreateRequest` method returns a `Microsoft.AspNetCore.TestHost.RequestBuilder` instance. The latter holds references to the test server itself and an `System.Net.Http.HttpRequestMessage`, both of which don't seem

[2018-09-10 05:32] Tratcher commented on #3518
Ah you're right, SendAsync(configureContext...) is the method you want.

[2018-09-10 05:34] Tratcher commented on #3516
That's correct, but it has limitations like no good async support. https://github.com/dotnet/corefx/issues/24977

[2018-09-10 06:09] Lemraj commented on #3474
Microsoft has released an update for this problem. Installing Visual Studio 2017, 15.8.3 will fix this.

[2018-09-10 13:27] ststeiger commented on #1528
Not quite yet - it makes several calls to GDI+ and  usp10.dll, mainly to get font information.
Also it's passing GDI+ pointers around, and there's no simple replacement, because mono libgdi+ chose to do things differently (for good reason).

I've been able to re-write the function GetFontData in C# by reading the C source of Wine, but I need freetype to get to the TrueType font information (wine u

[2018-09-10 13:56] tobyash86 opened #3523 "ADDITIONAL_DEPS environment variable has stopped working with ASP.NET Core 2.1"
### Description

My project is injecting an external library as a dependency for the CoreCLR profiler. It uses ADDITIONAL_DEPS environment variable to achieve that. Everything works well as long as ASP.NET Core 2.0 web application is profiled, but if I use exactly the same workflow with ASP.NET Core 2.1 my library is not found by the application.

### Diagnostics

This is what I have already tried

[2018-09-10 14:08] Tratcher commented on #3515
@tangname running your web app as admin is very dangerous. Find a more restricted account you can use.

[2018-09-10 15:17] figuerres commented on #1528
hey folks  @ALL and @ststeiger
regards to:

XLS/DOC-Renderer is therefore now working on both Linux and Windows.
Now 85% working on Linux.

[Office Open XML](https://en.wikipedia.org/wiki/Office_Open_XML)

honestly i think it would be better to use the newer XML doc stuff, then no form of OLE needed at all.
Ok so if someone was still using really really old Office apps not so good for back compat.

[2018-09-10 17:33] Eilon commented on #3483
OK I sent out a request to our license experts to see what we can do here.

[2018-09-10 17:34] Eilon opened #5240 ".netCore web application throws exception at UseWebpackDevMiddleware in startup.cs after including custom nuget."
_From @tusharsantoki on Saturday, 11 August 2018 13:40:17_

**Application detail =>**

.NetCore Version : 2.0

File name : Startup.cs

line number :41 UseWebpackDevMiddleware()

Package Reference :
<PackageReference Include="Microsoft.ApplicationInsights.AspNetCore" Version="2.1.1" />
    <PackageReference Include="Microsoft.AspNetCore.All" Version="2.0.6" />
    <PackageReference Include="Microso

[2018-09-10 17:36] Eilon commented on #3514
Ping @blowdart

[2018-09-10 17:37] Eilon commented on #3520
@ackava can you provide more info on how things are set up, and what exactly doesn't work? Usually it's the CDN that needs CORS headers set up.

[2018-09-10 17:46] blowdart commented on #3514
This is not unexpected, you'll have to stagger the instances. We can't go back and reread the key every time we see a new key ID because that's a DoS waiting to happen, all an attacker would have to do is send a new key id, with random data after it, and then everything stops while the keyring is refreshed.

@GrabYourPitchforks would a refresh within in the first X seconds of a new instance coming

[2018-09-10 17:47] Eilon opened #3826 "IIS failed to pre-load .Net Runtime"
_From @pmtolk on Thursday, 30 August 2018 16:40:18_

IIS 10 on a windows server 2016 "The worker process failed to pre-load .Net Runtime version No Managed Code."

The windows event viewer shows the following errors

### "The worker process failed to pre-load .Net Runtime version No Managed Code."

### "The worker process failed to initialize correctly and therefore could not be started. The data

[2018-09-10 17:53] Eilon commented on #3518
This issue was moved to aspnet/Mvc#8439

[2018-09-10 17:53] #3518 closed

[2018-09-10 17:56] Eilon commented on #3494
Closing for now. If new info comes up, please let us know.

[2018-09-10 17:56] #3494 closed

[2018-09-10 17:57] blowdart commented on #3520
And generally CDNs don't require CORS, because, well, they're open to multiple sites, so listing each one would be a nightmare.

[2018-09-10 17:59] Eilon commented on #3520
@blowdart they do need CORS so that JS files can programmatically download files from them, such as fonts. But, their CORS settings would probably be to blanket-allow all hosts for all things.

[2018-09-10 18:00] blowdart commented on #3520
Ah yea, ok, I poorly worded :) Allowing all is basically "I don't have requirements" to my mind.

[2018-09-10 18:02] Eilon commented on #3507
@shirhatti / @Tratcher - anything to add?

[2018-09-10 18:04] Tratcher commented on #3507
No

[2018-09-10 18:08] #3507 closed

[2018-09-10 18:09] Eilon commented on #3495
@JDGHHou do you have any additional info on this so that we can investigate?

[2018-09-10 18:10] Eilon commented on #3513
This issue was moved to aspnet/Mvc#8440

[2018-09-10 18:10] #3513 closed

[2018-09-10 18:32] JDGHHou commented on #3495
I basically just need to take an application that works fine when I launch
it in IIS Express and publish it to standalone IIS and have it run the same
way. It shouldn't be difficult. Microsoft has done an excellent job of
providing a quick and painless web host in IIS Express, and I don't
understand why the same code doesn't just work the same way in IIS.

On Mon, Sep 10, 2018, 1:24 PM Eilon Lipto

[2018-09-10 18:43] Tratcher commented on #3495
You shouldn't need UsePathBase when publishing to IIS, that's taken care of for you by UseIISIntegration.
https://github.com/aspnet/IISIntegration/blob/e1f1705d11d97560c574dbe68a0b560441470f58/src/Microsoft.AspNetCore.Server.IISIntegration/IISSetupFilter.cs#L28
https://github.com/aspnet/IISIntegration/blob/e1f1705d11d97560c574dbe68a0b560441470f58/src/Microsoft.AspNetCore.Server.IISIntegration/WebH

[2018-09-10 18:55] ryanbrandenburg opened #5441 "Generate package names in scripts"
Right now have the version of generated packages in our "run templates" scripts. This keeps going out of date and requiring us to update it by hand when it break. Lets instead get the Custom-Hive.ps1 functions to intelligently use the value from version.props.

[2018-09-10 18:58] ackava commented on #3520
@Eilon Here is what I have,

I have JS module resolver that downloads JS modules (individual files) via XHR and executes in either eval or script inject (RequireJS, SystemJS) all of them do exactly same thing.

CDN through Azure CDN, does not send CORS headers, where else cdn.jsdelivr.net etc they do. Unfortunately, CORS headers detects that there is no need to send CORS and it does not send any C

[2018-09-10 19:43] bitbonk opened #3524 "Why are all ASP.NET Core assemblies strong named?"
I think I understand why .NET Core assemblies have strong names, as it is explained [here](
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/strong-name-signing.md).

But I don’t see that these reasons also apply to ASP.NET Core. So why are the assemblies of ASP.NET Core strongly named too?

[2018-09-10 20:13] Eilon commented on #3520
You set up your own Azure CDN instance?

But either way I think I'm missing something here: if you're using an Azure CDN, how does setting the response headers *of your web app* have any effect on this at all?

[2018-09-10 20:13] Eilon commented on #3520
That is, CORS is between the web browser and the CDN, not your web app.

[2018-09-10 20:17] Eilon commented on #3524
As of right now, all ASP.NET Core assemblies (well, *almost* all) also run on .NET Framework, where strong naming is still important. For that reason, the assemblies are all strong named. And, because the strong name is part of the assembly's identity, it would be a breaking change to remove it at this point.

But, the strong name *private* key that's used is shared *publicly*, it's strong only in

[2018-09-10 20:53] Eilon commented on #3523
@pranavkm / @pakrym - any thoughts on this?

[2018-09-10 21:02] ackava commented on #3520
Azure CDN has custom origin set to my appilcation. So CDN simply forwards headers if they are present in the response. Otherwise CDN does not send CORS headers.

My app is,

https://secure.app.com

and CDN url is

https://myapp.edgecdn.net

All JavaScripts referenced in page are loaded from CDN url and not my app url.

[2018-09-10 21:02] Tratcher opened #3825 "Implement IHttpMaxRequestBodySizeFeature for in-proc"
How would this interact with IIS's normal limit? Could it override it? Could users disable the IIS limit and use this more flexible implementation instead?

[2018-09-10 21:10] pakrym commented on #3523
What the full path of `deps.json` file?
What is ADDITIONAL_DEPS set to?

[2018-09-10 21:30] kenlyon opened #3525 "Multiple Access-Control-Allow-Origin headers when using CORS in IIS"
I have an `ASP.NET Core` project in which I use _CORS_. I am targeting `.NET Core 2.1`. I believe my settings are fairly standard, but I'll log them here to give context.

Firstly, I add some CORS policies at the start of the `ConfigureServices` method:
[code]

Then I specify which policy I am using at the end of the `Configure` method:
[code]

By the way, this is not a final implementation, so pl

[2018-09-10 22:49] Eilon commented on #3520
Ah, I see now how this is configured, thank you for explaining. The Azure CDN essentially proxies requests back to your own app (if needed).

When it wasn't working initially, how were you setting CORS? ASP.NET Core doesn't send any CORS headers by default - you have to use either the CORS middleware or MVC's CORS features.

[2018-09-11 05:19] ststeiger commented on #1528
Just so we don't misunderstand us:
Of course the OpenXml Excel renderer works as well.

I'm just saying XLS/DOC works as well, if it has to.
Now as to whether XLS/DOC should be exposed or not, or whether that could could be safely deleted is another question. There might still be some old programs out there that can't work with XLSX.

UBS for example still uses COBOL programs.
And there are variou

[2018-09-11 05:32] ststeiger commented on #1528
@RaymondHuy:
If Azure has blocked GDI+ function, does System.Drawing.Common work at all ?
Or does this only apply to framework-external DllImport calls ?

[2018-09-11 08:06] topguss opened #3526 "Problem when use Cookie and Token base authentication in same app in asp.net core app 2.1"
I have a case when I need to use 2 type of auth in one Web app: for MVC part of app - Cookie base auth, and for Angular part JWT Token base auth. I would like to use configuration approach over annotation.

In the Setup.cs I would like to configure: all controlles methods that have /api/* in the URL path to use JWT token base auth and all controlles methods that haven't /api/* to use Cookie.

To i

[2018-09-11 08:07] ajaybhargavb opened #5087 "Improve HTML syntax structure"
- Can do this only after https://github.com/aspnet/Razor/issues/2580
- Define the structure for all other nodes (like separate start tag and end tag) and generate them
- Rewrite the parser to incorporate these new nodes in the tree

[2018-09-11 08:13] ajaybhargavb opened #5088 "Add unit tests for the new syntax infrastructure"

[2018-09-11 08:45] Gimgur commented on #3435
Hi,

I'm new on github so sorry if it's the wrong way to do it.
I have exactly the same issue since .net Core SDK 2.1.400 and I was wondering how you define which assembly were causing it?

Thanks

[2018-09-11 09:41] tobyash86 commented on #3523
Environment variable:
`
set DOTNET_ADDITIONAL_DEPS=c:\Users\MyUser\Documents\MyCompany\MyProduct\Profiler\hooks.deps.json
`
Physical path:
`
C:\Users\MyUser\Documents\MyCompany\MyProduct\Profiler\hooks.deps.json
`

My web application is hosted from a folder:
`
c:\inetpub\wwwroot\HW
`
and the only lookup for hooks assembly (based on procmon.exe output) is:
`
c:\inetpub\wwwroot\HW\hooks.dll
`

I wil

[2018-09-11 10:29] tobyash86 commented on #3523
Ok, I have managed to create a repro.

First, here is my dotnet --info output:
[code]

### Instructions for using repro
[ASP.NET_Core_Repro.zip](https://github.com/aspnet/Home/files/2370605/ASP.NET_Core_Repro.zip)

1. Zip contains compiled binaries, so first please trust the zip file by:
--- right click, select Properties from context menu
--- check Unblock option and click OK
2. Extract contents

[2018-09-11 11:09] tobyash86 commented on #3523
### Update
While I was trying to prepare a repro it turned out that I was able to use ADDITIONAL_DEPS environment variable successfully when running:
`dotnet.exe [AppSrcDir]\bin\Debug\netcoreapp2.1\MyApp.dll`
but after running Publish from Visual Studio and running:
`dotnet.exe [AppDeployDir]\MyApp.dll`
ADDITIONAL_DEPS stopped working as expected.

Can you tell me what is the reason behind that?
I

[2018-09-11 12:34] antonKrouglov opened #3527 "InMemoryDirectoryInfo does not work as expected"
Microsoft.Extensions.FileSystemGlobbing

Steps to reproduce (file C:\pagefile.sys exists):
            var d = new InMemoryDirectoryInfo(@"C:\", new[] { @"pagefile.sys" });
            var l = d.EnumerateFileSystemInfos().ToList(); //returns empty list
Thus using
public static PatternMatchingResult Match(this Matcher matcher, string rootDir, IEnumerable<string> files)
does not work as well - the r

[2018-09-11 14:42] SolalPirelli opened #3528 "IFormFileCollection has no documentation"
There is no XML doc for `IFormFileCollection`, so I had to look up the source code to check whether the indexer returns `null` or throws an exception when the file doesn't exist. Not a huge deal, just a small annoyance. :-)

[2018-09-11 15:49] jimmy3912msncom opened #3529 "EnableRewind for HttpResponse similar to HttpRequest"
1. Description of the problem: EnableRewind for HttpResponse similar to HttpRequest
This is more of a feature request than anything. I have need to log the response body but this requires the need for a rewindable response stream. HttpRequest has the extension method defined: BufferingHelper.EnableRewind for HttpRequest. The ask is for a similar extension method for HttpResponse so we don't have t

[2018-09-11 15:59] Tratcher commented on #3529
There's a sample for response buffering here:
https://github.com/aspnet/BasicMiddleware/blob/15d5545d59c2f966ed0c730c565c1b9105b258de/src/Microsoft.AspNetCore.Buffering/ResponseBufferingMiddleware.cs

That said, you don't want to do this for arbitrary responses, it can consume a lot of memory. There can also be a lot of sensitive data in response bodies that you should think twice about before wri

[2018-09-11 16:43] Eilon commented on #3527
pagefile.sys is normally a hidden+system file. I'm guessing it's not included in globbing for that reason. I believe that similarly files that start with `.` are ignored due to Unix naming conventions.

[2018-09-11 16:44] Eilon commented on #3527
For example, here are the files in the root of my `C:` drive:

[code]

[2018-09-11 17:00] blowdart opened #4723 "Microsoft Security Advisory CVE-2018-8409: ASP.NET Core Denial Of Service Vulnerability"
# Microsoft Security Advisory CVE-2018-8409: ASP.NET Core Denial Of Service Vulnerability

## <a name="executive-summary"></a>Executive summary

Microsoft is releasing this security advisory to provide information about a vulnerability in ASP.NET Core 2.1. This advisory also provides guidance on what developers can do to update their applications to remove this vulnerability.

Microsoft is aware o

[2018-09-11 17:29] Eilon commented on #3506
Yeah I don't really see how that could happen... these tests presumably have no races in them...

[2018-09-11 17:35] HaoK commented on #3506
Yeah nothing too special here, i would assume data annotations validates the properties in a deterministic order, that would be the only thing I could think of that might change

The datavalidation is just calling  Validate using the DataAnnotations class:

[code]

[2018-09-11 17:37] Eilon commented on #3506
Deterministic order? I think not. It's presumably in Reflection order, which is presumably random. But that's just a guess.

[2018-09-11 17:37] Eilon commented on #3506
The only DataAnnotations thing that I think is guaranteed is that it will run all RequiredAttribute's on a property first, and only if that passes, it would then run all the non-RequiredAttribute's, but within each group, presumably a random order.

[2018-09-11 17:39] Eilon commented on #3520
The MVC CORS feature applies only to requests that come in to MVC itself. Because in your case these are presumably all requests for static files, chances are that the Static Files middleware will handle them all.

So, that brings us to `.UseCors()`, which you'd need to make sure runs before calling `.UseStaticFiles()`, so that the CORS middleware will run before the Static Files middleware, so th

[2018-09-11 18:13] pranavkm commented on #3520
@ackava have you had a look at the logs? The CORS middleware does not send headers if it calculates that the policy does not match.

[2018-09-11 18:16] pranavkm commented on #3435
@Gimgur, you'd want to add any assemblies that contain MVC controllers. If you need help with this, feel free to open a new issue in https://github.com/aspnet/Mvc.

[2018-09-11 18:18] jimmy3912msncom commented on #3529
@Tratcher Thanks. I know of the samples. I've seen multiple online.

I understand that it shouldn't be done for arbitrary responses. My intention was to turn it on for verbose logging flows when we are trying to debug some issues. The point of the sensitive data is the same whether for request bodies or response bodies but for some reason it is only supported for requests. The ask here is to suppo

[2018-09-11 18:20] Tratcher commented on #3529
I was referring to logging sensitive data, not buffering it.

[2018-09-11 18:28] jimmy3912msncom commented on #3529
@Tratcher Yup. I knew you were referring to logging sensitive data and I meant the same thing. I wasn't talking about buffering.

So the difference you are saying is the step of flushing the data? Is it just the implementation that is causing the issue? Does the default Response stream implementation also have the need for explicit flushing? If it does couldn't this fall into the same pattern as t

[2018-09-11 18:31] Tratcher commented on #3529
The original response body stream is provided by the server, is unbuffered, and the server reacts immediately to each write. The server doesn't track replacements of response.Body, it's the responsibility of the component that did the replacement to eventually copy the data back to the original server response body stream.

[2018-09-11 21:42] ackava commented on #3520
I am not using UseStaticFiles, I have my own controller that actually
fetches JavaScript from a git repository and sends it as FileContent.

But even in case of UseStaticFiles it should work become chrome will not
allow Ajax requests from JavaScript that came from CDN.

But if you read my work around, everything is working fine.

I just feel that CORS should have ability to send headers without ch

[2018-09-11 22:38] chwarr commented on #3431
Tickle. Would such a contribution be welcome?

[2018-09-11 23:37] Eilon commented on #3506
Why does the test failure not show the expected/actual text, though? It just shows true/false?

[2018-09-11 23:37] Eilon commented on #3506
OIC because it's checking that an exception was thrown with that exact message....

[2018-09-11 23:40] Eilon commented on #3506
I wonder if one other improvement to the test is to change this line of code:

https://github.com/aspnet/Options/blob/53e879f400d93e88f209cc8ad1e4fac36e55f63f/test/Microsoft.Extensions.Options.Test/OptionsBuilderTest.cs#L398

And instead of using LINQ's SequenceEqual method, to use an xUnit assertion that shows a more detailed error?

[2018-09-12 00:01] chwarr commented on #3431
I'm sorry, but I'm not following what you mean by "we no longer encourage any UseXyz() methods to take options instances". Can you clarify?

In our app, we're have our long-lived singletons consume `IOptionsMonitor` instances. The options are bound to config via calls to `OptionsConfigurationServiceCollectionExtensions.Configure<TOptions>(this IServiceCollection services, IConfiguration config)`.

[2018-09-12 00:12] HaoK commented on #3431
That's fine (for testing), but we typically don't ship test only infrastructure in the main product assemblies which mostly is what OptionsWrapper is these days.  Back in the 2.0 timeframe we used OptionsWrapper in various UseXyz() methods which is why it was created in the first place.  But we have no plans on doing that for IOptionsMonitor which is why I don't think we should be making changes i

[2018-09-12 00:14] chwarr commented on #3431
Understood. Thanks for clarifying.

[2018-09-12 00:14] #3431 closed

[2018-09-12 01:15] jimmy3912msncom commented on #3529
@Tratcher Thanks for the explanation.

[2018-09-12 01:51] swaghost opened #5820 "Does this package have a hard dependency on Microsoft.EntityFrameworkCore 2.1.1?"
[reproduce.instructions.pdf](https://github.com/aspnet/Identity/files/2385719/reproduce.instructions.pdf)
[Error Message.txt](https://github.com/aspnet/Identity/files/2385720/Error.Message.txt)
[qs.site.zip](https://github.com/aspnet/Identity/files/2385721/qs.site.zip)

Have upgraded entire project to 2.1.3. or 2.1.2 where necessary.  I've got some typescript-generating T4 template code (a forked

[2018-09-12 09:26] ld0614 opened #3531 "Azure App Service fails to load .net Core application after upgrade to 2.1.4"
After upgrading the .net Core nuget packages last night from 2.1.3 to 2.1.4 to mitigate the published security issues, I attempted to push these to an Azure App Service.

However I get the following error:
![image](https://user-images.githubusercontent.com/20439950/45415325-51868780-b675-11e8-89c4-e574bcbeed7e.png)

dotnet --info of Azure App Service
[code]

dotnet --info of development machine (w

[2018-09-12 09:56] MrComic commented on #3027
I have the same problem
https://stackoverflow.com/questions/52290736/xsrf-token-conflicts-with-jwt-token

[2018-09-12 10:02] HaoK commented on #3431
Thanks for your offer regardless!

[2018-09-12 13:01] lblima opened #3532 "Scaffold identity into an MVC project with authorization using SDK 2.1.4 fail"
Hi, after install SDK 2.1.4 I cannot run scafolding identity (instructions here: https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-2.1&tabs=visual-studio)

After run: dotnet tool install -g dotnet-aspnet-codegenerator

And:
dotnet add package Microsoft.VisualStudio.Web.CodeGeneration.Design
dotnet restore

I've tried to run this:

dotnet aspnet-

[2018-09-12 16:10] cguldogan commented on #3532
Hi,
Does your .csproj file contains the following line ?

`<PackageReference Include="Microsoft.AspNetCore.App" Version="2.1.4" />`

[2018-09-12 16:11] Eilon commented on #3527
Oh sorry I didn't realize you are just creating "made up" files.

[2018-09-12 16:14] lblima commented on #3532
Hi, thanks for answering.

No, I didn’t add the version, I assume it’ll use the latest.

Regards,

Outlook<https://aka.ms/qtex0l> para iOS

________________________________
From: Can <notifications@github.com>
Sent: Wednesday, September 12, 2018 13:11
To: aspnet/Home
Cc: Leonardo Lima; Author
Subject: Re: [aspnet/Home] Scaffold identity into an MVC project with authorization using SDK 2.1.4 fail (

[2018-09-12 16:20] karelz opened #3533 "IFormFile is always null when using [ApiController] Attribute in .Net Core 2.1"
_From @skamal-dev on September 12, 2018 13:36_

Not sure why this has not been documented or its a bug but whenever we use ApiController attribute in .Net Core 2.1 version, and use the api method signature as ;
[code]

Whenever we send request from client the parameter "file" is always null, though the Request.Form.Files do contain the parameter details.

Moment I removed [ApiControlller] and send

[2018-09-12 16:45] Eilon commented on #3533
This issue was moved to aspnet/Mvc#8450

[2018-09-12 16:45] #3533 closed

[2018-09-12 16:46] Eilon commented on #3532
This issue was moved to aspnet/Scaffolding#875

[2018-09-12 16:46] #3532 closed

[2018-09-12 16:48] Eilon commented on #3531
Hi @ld0614 , what does your app's CSPROJ look like? I think in general you don't need to reference 2.1.4 explicitly. You would only reference that if you have a specific need for 2.1.4, such as requiring a bug fix. I'm guessing Azure App Services doesn't have 2.1.4 yet (but I think it will soon).

In general we recommend that apps require 2.1, but not specific patch versions, so it will run on any

[2018-09-12 16:54] davidebbo commented on #3531
Yes, should be [done by tomorrow](https://github.com/Azure/app-service-announcements/issues/133). But regardless, targeting 2.1 without a specific patch version is the way to go.

[2018-09-12 17:19] ld0614 commented on #3531
Thanks for the info, the relevant parts of the csproj are:

[code]

[code]

I haven't manually been modifying this file, just upgrading the packages through NuGet in Visual Studio as they become available, after an upgrade, should I be remodifying the package reference back to 2.1?

[2018-09-12 17:29] Tratcher commented on #3531
Yeah, it won't offer you upgrades if you remove the version. The runtime will roll forward automatically.
![image](https://user-images.githubusercontent.com/1821173/45442354-a676cd80-b676-11e8-8524-bf258386b7b2.png)

[2018-09-12 18:53] ajaybhargavb opened #5089 "Make the debugging experience of the new syntax tree better"
Right now the debugging experience for the new tree is very painful. Need to add the necessary `DebuggerDisplay()`s to the syntax nodes to make it easier to understand. This might involve updating the Syntax generator to support it.

[2018-09-12 21:45] vertonghenb opened #5592 "Unpredictable No element is currently associated with component {ComponentId}"
**Edited to remove the false-positives**

Reproducable : https://github.com/aspnet/Blazor/issues/1412#issuecomment-439267547

Using Blazor Server Side
From time to time Blazor throws the following error:
`No element is currently associated with component {ComponentId}`

The error is always thrown on the first load after a `StateHasChanged`, if you hard refresh the page the error doesn't happen any

[2018-09-13 09:53] malmgren80 commented on #2783
I've found a workaround without the need for an extra roundtrip (/renew-xsrf-token). Inspired by https://github.com/aspnet/Antiforgery/issues/155#issuecomment-318271448

I'm using `netcoreapp2.1`

[code]

[2018-09-13 14:16] moshegutman commented on #3531
I wish VS would display information about the "roll-forward" feature.

[2018-09-13 15:36] aykay76 commented on #3269
+1, trying out Azure Function App deployment from Visual Studio Code and getting the same error:

Error: Failed to change file that is currently being used "D:\home\site\wwwroot\bin\azure-functions.dll"

[2018-09-13 16:29] smarts opened #4155 "IHostingEnvironment/appsettings configuration file dichotomy"
`IHostingEnvironment` has an extension method `IsEnvironment(string environment)` and other similar [methods like `IsProduction()` that are case-insensitive](https://github.com/aspnet/Hosting/blob/master/src/Microsoft.AspNetCore.Hosting.Abstractions/HostingEnvironmentExtensions.cs#L77).

The default/automatic configuration-loading looks for [`$"appsettings.{env.EnvironmentName}.json"`](https://git

[2018-09-13 18:00] muratg commented on #3269
Adding @SergeyKanzhelev here. Sergey, any thoughts on this?

[2018-09-13 18:32] MisterJimson commented on #3531
Relevant #3292

[2018-09-13 18:37] davidebbo commented on #3531
FWIW, the 2.1.4 release to App Service is now complete.

[2018-09-13 19:07] ld0614 commented on #3531
Thanks for the update @davidebbo.  I'll close the issue as that (and the implicit versioning) has solved my issue.  My suggestion to avoid similar things happening to people like me would be to update the description text of the NuGet package just to mention that the runtime must match or exceed the nuget version:
![image](https://user-images.githubusercontent.com/20439950/45509813-758abb80-b790-1

[2018-09-13 19:07] #3531 closed

[2018-09-13 20:42] rynowak commented on #3269
I believe we had an email thread about this. The .NET runtime will load/lock the PDB when an exception is thrown (and the call stack evaluated).

[2018-09-13 22:11] Tratcher opened #4722 "Allow the encoder to split headers across frames"
The HPackEncoder has a potential infinite loop today.
https://github.com/aspnet/KestrelHttpServer/blob/55e5e564226e7b27742c91f46ea71841071e4ac3/src/Kestrel.Core/Internal/Http2/HPack/HPackEncoder.cs#L35-L42

EncodeHeader returns false if it does not have enough space to encode the value. If this header was larger than max frame size then no data will be available for the frame at all and length wil

[2018-09-13 22:29] rynowak opened #5090 "Parser treats the whitespace between a directive and its first token as C#"
The parser incorrectly maps the whitespace text that appears below into C# (syntax tree). Since this token isn't significant in any way, it gets thrown away harmlessly instead of mapped into the C# editor buffer.
[code]

So what I'm saying is that the 'space' character above is treated as C# by the buffer instead of metacode/none. Unfortunately the fix for this breaks completion for partial parsin

[2018-09-13 22:34] rynowak opened #5091 "Parser computes the wrong length for C# code with an escaped transition"
The parser parses the following code into the correct C# but gets the length wrong - it includes `@@` when computing the length.

[code]

I'm not aware of the impact of this issue. This is somewhat unlikely to occur, and would only happen when someone needs to use a verbatim identifier in C# from Razor. This could cause a variety of incorrect editor behaviors including issues with completion or cr

[2018-09-13 22:58] SergeyKanzhelev commented on #3269
Anybody, who has a repro - follow up on Application Insights suspicion. Is Application Insights extension is installed on web app or Application Insights SDK in the deployed app?

[2018-09-13 23:18] tauheedul opened #5593 "Please add Blazor sample with ML.NET"
Blazor allows us to use .NET Core features. Now that the .NET Core supports machine learning, it would be very helpful to learn how we can use ML.NET features with Blazor on the client side.

If this works, we could perform machine learning on the client side or server side using our web apps.

[2018-09-13 23:21] aspnet-hello opened #3534 "Test failure: Factory_CleanupCycle_DisposesEligibleHandler"
This test [fails](http://aspnetci/viewLog.html?buildId=553687&buildTypeId=Releases_22xPublic_UbuntuUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.2.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made aut

[2018-09-14 01:44] Tratcher opened #4721 "Memory consumption by Idle HTTPS/TLS Connections"
[Reposting from an e-mail thread]

When I was doing IoT for example, we measured that an idle HTTPS/TLS connection can suck as much as 128 KB of memory.  For Gateway scenarios, where connections can be mostly idle, but they need to be there this is very expensive.  If I remember correctly the problem was SSL libraries requiring a couple of 32KB or 64KB buffers no matter what.

Ideally, you want 'i

[2018-09-14 02:39] karamem0 opened #6026 "Microsoft.AspNetCore.Authentication.AzureAD.UI is not support v2.0 endpoint?"
I want to use 'AddAzureADBearer' method with v2.0 endpoint (from Application Registration Portal), but it seems to be not supported.

Do I have to use this sample? https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/blob/master/TodoListService/Extensions/AzureAdAuthenticationBuilderExtensions.cs

[2018-09-14 05:09] muzzammilhussain opened #3535 "DateTime.Now.UTC Bug"
On Windows Based Machine , When i am using DateTime.Now.UTC it gives me UTC time as soon as I use this on Ubuntu Machine it gives Ubuntu Time instead of UTC time.

On ubuntu the behavior of DateTime.Now= DateTime.UtcNow

Int32 unixTimestamp = (Int32)(DateTime.UtcNow.Subtract(new DateTime(1970, 1, 1))).TotalSeconds;

[2018-09-14 06:49] tn-5 opened #5594 "Server side blazor does not trigger @bind update for auto filled input fields"
I have a test app with a login form with a username and password input, both bound to string properties on the model. It works correctly if I manually enter values in these fields (the string properties get updated from the @bind directive).

If the browser has a cached username / password combination and I select auto fill for these fields, the fields do get filled (visually on the page) but the

[2018-09-14 09:13] muzzammilhussain commented on #3535
I am using .Net Core 2.0 along with Production Machine is Ubuntu 16 Server

[2018-09-14 09:50] stsrki opened #5595 "[Suggestion] Self closing tags"
This is not really an issue, just that it would be good to have. Right now the intellisense cannot detect components that should not have closing tags(or does not need them) e.g. `<div></div>`, but instead they would have a "_self-close_" tag e.g. `<input />` or `<img />`.

Possible use case would be for components that does not have `ChildContent`. For example I have an Icon component and I defin

[2018-09-14 09:51] muzzammilhussain commented on #3535
When I use Console Application on Core. It works Fine

alliedschools@allieschools:~/utc$ dotnet UCTTEST.dll
Hello World!
My Computer Time Is :
9/14/18 2:49:34 PM
UTC TIME IS:
9/14/18 9:49:34 AM

As soon as I run it into web Project it starts doing the same behavior

[2018-09-14 09:53] oerodriguezn opened #3536 "React to the new StackExchange.Redis v2.0 package"
Please update Microsoft.AspNetCore.DataProtection.Redis to use Redis.StackExchange 2.0 where there is no more a StackExchange.Redis.StrongName.

https://stackexchange.github.io/StackExchange.Redis/ReleaseNotes

[2018-09-14 11:30] majrobert commented on #2193
you need to check the passed headline.
Maybe it does not contain a token.
it was like that in my project

[2018-09-14 16:55] cdroulers commented on #3471
I'm experiencing the same issue.

If I rename my file to `dx.messages_fr.js` the problem goes away and the file is successfully returned.

[2018-09-14 17:54] rynowak opened #5092 "C# 8 Readiness"
We need to evaluate and update Razor for C# 8. This will align with 3.0

https://github.com/dotnet/csharplang/milestone/8
https://channel9.msdn.com/Events/dotnetConf/2018/S103

[2018-09-14 18:31] livarcocc opened #3537 "SuppressStatusMessages(true) "block" ASP.NET Core Web App (Model-View-Controller) start"
_From @BroderPeters on September 14, 2018 16:34_

## Steps to reproduce

1. Run `dotnet new mvc`.
2. Add `.SuppressStatusMessages(true)` after `WebHost.CreateDefaultBuilder(args)` in Program.cs.
3. Run `dotnet run`.

## Expected  behavior

Demo MVC project start without StatusMessage.

## Actual behavior

(First sentence says: The start settings from {filepath} are beeing used)
[code]
After this o

[2018-09-14 18:41] Tratcher commented on #3537
That message about launchSettings.json is coming directly from `dotnet run`. If you did `dotnet.exe testweb.dll` it goes away, correct?

[2018-09-14 18:54] Axel3232 opened #5241 "Angular 6 multi project SPA"
Hi,

I have a solution with two Angular 6 "projects", one for the desktop app, one for the mobile app.
In dev it works fine with :
[code]

But in production they are deployed in wwwroot :
* wwwroot/desktop
* wwwroot/mobile

And I am able to access only one of these application because of the
[code]
To solve this I am thinking of :
* Putting the mobile directory inside the desktop one
* Wrinting a

[2018-09-14 19:48] RodBarnes commented on #2051
I'm on 15.8.4; "Tools > Options > Projects & Solutions > Web Projects > Disable local Application Insights..." is checked; launchSettings.json has "ASPNETCORE_preventHostingStartup": "True".  I still see Application Insights in the Output...

[2018-09-15 18:08] TareqNet opened #5337 "What is default Javascript SignalR Client AuthenticationScheme?"
Hello

I have two clients for my SignalR app: Javascript client for web browsers and Android client ([Gurgen/SignalR-.net-core-android-client][1]) that use JWT Bearer Authentication.

I added this attribute to my SignalR Hub:

    [Authorize(AuthenticationSchemes = JwtBearerDefaults.AuthenticationScheme + "," + CookieAuthenticationDefaults.AuthenticationScheme)]
    public class MyHub : Hub
And my

[2018-09-15 20:04] BroderPeters commented on #3537
@Tratcher Yes, it goes away. Unfortunately that wasn't my issue, maybe I wasn't that accurate in the description. The line regarding the json was just "highlighted" by me to translate the german part there...

My issue is that I'm not able to run the webapp with the dotnet CLI, which seems to has to do with the `SuppressStatusMessages` setting.

[2018-09-16 00:14] Eilon commented on #3535
This issue was moved to dotnet/corefx#32310

[2018-09-16 00:14] #3535 closed

[2018-09-16 04:27] blowdart commented on #2791
State is specifically part of the OAuth spec and we support it there, but again, for normal gets we don't see a need. so any proposal wouldn't come from me.

As an aside, please don't comment on closed issues, especially ones so old, these don't get looked at in any triage meetings. A new issue is usually better.

[2018-09-16 04:42] pinkplus commented on #2791
@blowdart Thanks. I'll have a look at the OAuth implementation in asp.net core. I'll open a new issue if the existing implementation is not enough for me.

[2018-09-16 15:53] JohnyL opened #5596 "Add Blazor templates for ASP.NET Core 2.2"
Visual Studio doesn't show "Blazor" project template:

![IMG1](https://jy6aig.am.files.1drv.com/y4mauLwTx069pbd96LhWvNZx5BPsgsnmIdSAlWlzLbNhPHf2iI3eNqBe_0_vvl5Px4w7YynXwGSQ4eQtsYVPMuabrqf816F1kQiewqcDOiT5FIPT8M0VhGbdkLf30ZMqCfCpW3BZ2tGOqTlJ9F-Wnt4SmRxHiH82YcE7uUcUg1nRXmPmIlEoqIIEOeYDEcr_Xq7LjFgVIFaSXq5xrW3l2WGIA?width=786&height=553&cropmode=none)

Blazor Language Services extension is installed:

[2018-09-17 05:48] kant2002 opened #5597 "Intellisense or language service error"
1. have `<td></td>`
2. Put caret between `<td>|</td>`
3. Press Enter
4. Type `@if (` fast. After typing `(` the additional `if` appears.

![image](https://user-images.githubusercontent.com/4257079/45607604-5c735a80-ba6f-11e8-9e8e-81bb72d43589.png)

[2018-09-17 09:38] jatingandhi28 opened #3538 "ClientId is used by default instead of Audience Id in file AzureAdAuthenticationBuilderExtensions.cs in .Net core 2.0"
File name - AzureAdAuthenticationBuilderExtensions.cs

            public void Configure(string name, JwtBearerOptions options)
            {
                options.Audience = _azureOptions.ClientId;
                options.Authority = $"{_azureOptions.Instance}{_azureOptions.TenantId}";
            }

However It should be

            public void Configure(string name, JwtBearerOptions options)

[2018-09-17 09:45] ghd258 commented on #3536
Microsoft.Extensions.Caching.Redis update   StackExchange.Redis 2.0

[2018-09-17 18:08] HaoK commented on #3386
Per review with @DamianEdwards @davidfowl @ajcvickers @Eilon we are going to ship 2.2 without eager validation

The existing eager validation code in the PR will be moved into the tests and referenced/explained in the 2.2 samples/documentation so we can gather feedback before adding official support

[2018-09-17 18:37] blowdart commented on #3536
@natemcmaster One for 2.1

[2018-09-17 18:38] blowdart commented on #3538
This issue was moved to aspnet/Security#1859

[2018-09-17 18:38] #3538 closed

[2018-09-17 18:41] Tratcher commented on #3536
Nope, it's a major break. See https://github.com/aspnet/Caching/issues/410

[2018-09-17 20:50] rynowak commented on #3534
Yeah I was planning to! this isn't new though.

[2018-09-17 21:35] mkArtakMSFT commented on #2412
Closing as there is no much community interest in this. Agreed with @javiercn.

[2018-09-17 21:35] #2412 closed

[2018-09-17 21:36] murat1922 commented on #1577
useless

[2018-09-17 21:58] kouvel commented on #3504
Sorry for the delay, yes stack usage for a method with tiered compilation enabled can be higher (fewer optimizations at tier 0) or lower (less inlining at tier 0)

[2018-09-17 23:13] Tratcher commented on #3537
That is all of the expected output when you launch the application with SuppressStatusMessages. No additional logs are expected until you open the browser and make a request. Can you browse to `http://localhost:5000/`?

[2018-09-18 00:04] halter73 opened #4719 "[Discussion] Kestrel Connection Adapter Logging Namespace Changes"
The logging namespaces for Kestrel's HttpsConnectionAdapter and LoggingConnectionAdapter are changing in 2.2.0.

1. The `HttpsConnectionAdapter` logging namespace is now `Microsoft.AspNetCore.Server.Kestrel.Https.Internal.HttpsConnectionAdapter`.
2. The `LoggingConnectionAdapter` logging namespace is now `Microsoft.AspNetCore.Server.Kestrel.Core.Adapter.Internal.LoggingConnectionAdapter`.

Here's

[2018-09-18 10:34] aesser commented on #3210
I had a similar issue when running multiple (two) startup projects. Switching to start the .net core project alone and so going back to run both helped in my case.

[2018-09-18 13:56] tobyash86 commented on #3523
Is there any chance I will get some help from ASP.NET Core team regarding this issue?

[2018-09-18 14:08] azharuddinsayed commented on #1528
when i am trying with .rdlc file i am getting exception
**AspNetCore.ReportingServices.RdlExpressions.ExpressionHostObjectModel.DataRegionExprHost(Of TMemberType, TCellType).m_memberTreeHostsRemotable' is not accessible in this context because it is 'Friend'.’.'** in localreport.Execute()
please help me

[2018-09-18 14:38] azharuddinsayed commented on #1528
string sql = "SELECT * FROM Ess_employee";
            // sql = "SELECT * FROM T_Users";

            System.Data.DataTable dt = new System.Data.DataTable();

            using (System.Data.Common.DbDataAdapter da = new System.Data.SqlClient.SqlDataAdapter(sql, csb.ConnectionString))
            {
                da.Fill(dt);
            }

            string fn = "wwwroot/Report1.rdl";

[2018-09-18 15:18] pakrym commented on #3523
Is the app you are publishing portable or standalone?

[2018-09-18 15:50] tobyash86 commented on #3523
![image](https://user-images.githubusercontent.com/34890669/45699780-18658000-bb6b-11e8-932e-8a904f098ef2.png)

I am not sure if this is the desired information. If it is not, then please tell me how can I check this.

[2018-09-18 16:00] pakrym commented on #3523
/cc @swaroop-sridhar/@vitek-karas

[2018-09-18 17:13] pakrym commented on #3356
Closing this seems like an infrastructure issue that went away.

[2018-09-18 17:13] #3356 closed

[2018-09-18 17:13] pakrym commented on #3355
Closing this seems like an infrastructure issue that went away.

[2018-09-18 17:13] #3355 closed

[2018-09-18 17:14] pakrym commented on #3442
Mass failures that were fixed in IISIntegrations. Closing.

[2018-09-18 17:14] #3442 closed

[2018-09-18 17:14] pakrym commented on #3441
Mass failures that were fixed in IISIntegrations. Closing.

[2018-09-18 17:14] #3441 closed

[2018-09-18 17:14] pakrym commented on #3440
Mass failures that were fixed in IISIntegrations. Closing.

[2018-09-18 17:14] #3440 closed

[2018-09-18 19:34] mostafafallah commented on #3268
I had this problem with version 2.1.1 and 2.1.2
I updated my Microsoft.ASPNetcore.app to 2.1.4 stable version.
the problem was fixed

[2018-09-18 19:46] HaoK commented on #3506
Yeah this looks like an ordering failure due to the data annotations error

[2018-09-18 21:39] JamesNK opened #4211 "Inbound route parameter transformer"
As discussed at EndpointCon 2018

[2018-09-18 21:44] ipjohnson commented on #3023
@DamianEdwards Is there any progress on getting an officially supported solution from microsoft? We're nearing 6 months and it looks like issues are piling up for the minification project (ES6 broken, broken minification case, no mapping file etc).

[2018-09-19 02:11] jjxtra opened #3539 "IIS Changing Sec-WebSocket-Key header"
I am using IIS with asp.net core. This is Windows Server 2012 x64 r2 and .NET core 2.1.4 self contained x64 application. I am using Microsoft.AspNetCore.WebSockets (https://github.com/aspnet/WebSockets). I've cloned the source from github and added logging for retrieving the Sec-WebSocket-Key header. I've also set IIS up to log the Sec-WebSocket-Key header as well.

In my IIS logs, I see the corre

[2018-09-19 03:13] Tratcher commented on #3539
This is expected. IIS with AspNetCoreModule is not a transparent proxy, it forwards requests at the application layer. AspNetCoreModule copies request headers and body from IIS to WinHttp and re-sends them to Kestrel. Response headers and body are copied back. For WebSockets this means that the clients negotiates the WebSocket with IIS, and then AspNetCoreModule negotiates a second WebSocket to Ke

[2018-09-19 03:38] Tratcher commented on #3539
Hmm, that shouldn't be happening. The external connection should have its own response key negotiated. This has been working for a few years now and tested on a wide variety of clients. For it to show up now would mean either a misconfiguration or recent regression.

Can you start by sharing a Fiddler trace of the request to IIS?

Also, can you share your web.config?

[2018-09-19 03:39] Tratcher commented on #3539
@pakrym @jkotalik

[2018-09-19 05:00] jjxtra commented on #3539
Web.config:
[code]

[2018-09-19 05:18] davidfowl commented on #3514
We could try to solve the issue with redis specifically by using lua script. Thats atomic and basically takes a server lock. It's probably the easiest thing to do here.

[2018-09-19 05:37] replaysMike opened #5338 "HubCallerContext as an injectable"
Are there any plans to make HubCallerContext an injectable? This would be nice as IHubContext<> doesn't contain any information about the current user making the request.

I can manually pass around a user context to my services, but it would be better to inject this.

[2018-09-19 09:44] neyromant commented on #3446
I thought that it depends on [bug in System.IO.Pipelines package](https://github.com/dotnet/Announcements/issues/83) like [issue in Kestrel](https://github.com/aspnet/KestrelHttpServer/issues/2694)
But after connecting the package `<PackageReference Include="System.IO.Pipelines" Version="4.5.0" />` to my project nothing has changed.

dotnet/Announcements#83
aspnet/KestrelHttpServer#2694

[2018-09-19 11:51] mortenmg commented on #3269
I had this problem today after updating my app to .NETCore 2.1.4 (from 2.0.3)
Removing Application Insights from my App Service and restarting the service fixed the problem.

Note that I did not try to restart it before removing Application Insights (my AI setup was broken anyways), so a simple restart may have fixed the problem without removing Application Insights, but I can't confirm this.

[2018-09-19 12:07] severisv commented on #3269
@SergeyKanzhelev Yes, App Insights SDK in my case

[2018-09-19 15:34] jjxtra commented on #3539
I've put in all the details that I thought were helpful. The biggest red flag is that IIS is returning the computed value from the kestrel key instead of the key that was originally sent, which seems wrong.

[2018-09-19 15:38] mholec commented on #3503
I found issue similar to symptom 2, but with some differences:

I have ASP.NET Core application (**Microsoft.AspNetCore.App 2.1.2**) F**DD deployed** to Azure App Service (West Europe). Everything worked fine for three weeks but 19/09/2018 all of the sudden it starts to fail. I tryied dotnet tool on App Service (Kudu) and **there is only App/All runtime version 2.1.1 and 2.1.4 on the machine**.

M

[2018-09-19 16:33] SergeyKanzhelev commented on #3269
@severisv so no App Insights extension there?

![image](https://user-images.githubusercontent.com/9950081/45767425-fa416380-bbee-11e8-9c96-bc216eab7ea4.png)

Than it seems like an issue with exception stack traces calculations. which @rynowak mentioned

[2018-09-19 16:35] Eilon opened #3540 "Random: The antiforgery token could not be decrypted."
_From @zulander1 on Tuesday, 18 September 2018 23:44:52_

# Issue Title
Hello,

We are getting random: The antiforgery token could not be decrypted.

Site is running on IIS on Windows 2016, the authentication is Azure AD, Application in running on NET CORE 2.1.4.  No error generated on the development site.

I am not too sure where to start...
Thank's

[code]

_Copied from original issue: dotnet/c

[2018-09-19 16:35] Eilon commented on #3540
_From @Petermarcu on Wednesday, 19 September 2018 02:32:45_

@Eilon

[2018-09-19 16:36] Eilon commented on #3540
@blowdart - thoughts?

[2018-09-19 16:42] Tratcher commented on #3540
Is the site load balanced across multiple instances? Or does this happen sometimes after a recent deployment?

[2018-09-19 16:51] Eilon commented on #3536
Thanks @Tratcher I just commented on https://github.com/aspnet/Caching/issues/410#issuecomment-422876276.

We can solve this in many places by shipping a new package (with a new name) that has the new dependency and new APIs to enable it. Apps would have to opt-in to this. We could, if we wanted to, also release a 2.1 compatible package. That might be reasonable given that 2.1 is LTS.

[2018-09-19 16:51] leastprivilege commented on #3265
It already exists. Https://IdentityServer.io

[2018-09-19 16:57] zulander1 commented on #3540
Hi,

Well, yes and non (not a true load balancer)

We have, Azure traffic manager...  Which acts like a load balancer.

It's like this:

Azure traffic manager
1) Primary server windows
2) secondary (web application with Azure) (failover)

Mssql with Azure (with failover)

Site1

We have Azure

[2018-09-19 17:32] Tratcher commented on #3540
Data protection requires [configuration](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/web-farm?view=aspnetcore-2.1#dependent-components) when distributed across multiple machines.

[2018-09-19 17:44] FastTracOnline opened #3541 "Not an Issue, First Post. Want to discuss AOP in Core"
Willing to contribute to discussion and/or maturation (coding) of Aspect Oriented Programming support in .Net Core.  Not sure what repository this would work best.

40+ years developing software, coming out of my isolation :)

[2018-09-19 17:50] Tratcher commented on #3541
Something like this? https://msdn.microsoft.com/en-us/magazine/dn574804.aspx?f=255&MSPPError=-2147217396

That seems like it would work well with the Dependency Injection system. https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-2.1

[2018-09-19 18:52] dougbu opened #4915 "Address problems loading `System.Threading` in dotnet-getdocument inside man"
#### Is this a Bug or Feature request?
Bug that's part of #7947

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project)
1. download https://github.com/dougbu/CodeGeneration repo
2. install relevant tools and packages locally
3. `dotnet build` in repo's ClientConsole folder

##### Expected
Smooth build

##### Actual
[code]

#### Description of the problem
Since builds fro

[2018-09-19 19:00] Tratcher commented on #3541
Ah. Have you considered Dependency Injection as a related/alternative pattern?

[2018-09-19 19:02] dougbu opened #4916 "Remove need for users to special-case second and later clients"
#### Is this a Bug or Feature request?
Enhancement that's part of #4896

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project)
See https://github.com/dougbu/CodeGeneration repo and its [`ClientConsole` project](https://github.com/dougbu/CodeGeneration/blob/fbc0e82aa186f4d8de2ba7ece21f87d550be1817/ClientConsole/ClientConsole.csproj). Lines of particular interest are http

[2018-09-19 22:42] muratg opened #3542 "FlushAsync doesn't actually write data to the client?"
_From @drauch on Tuesday, 11 September 2018 10:39:35_

I have a Razor view which (as a minimal repro sample) looks like this:

    @{ var longStr = new string('x', 100 * 1024); /* more than 64KB */ }
    ...
    @functions { string Throw () { throw new Exception(); } }
    ...
    <p>@longStr</p>
    @await FlushAsync()
    <p>@Throw()</p>

I expected to see many x on the client, instead I see a p

[2018-09-19 22:42] muratg commented on #3542
_From @benaadams on Tuesday, 11 September 2018 10:43:44_

Think its an issue with [`HttpResponseStreamWriter` in `HttpAbstractions`](https://github.com/aspnet/HttpAbstractions/blob/02f55e181b19d8854672d05225e0dbbf991100db/src/Microsoft.AspNetCore.WebUtilities/HttpResponseStreamWriter.cs) that `FlushAsync` never actually calls `FlushAsync` on the underlying stream.

/cc @rynowak

[2018-09-19 22:42] muratg commented on #3542
_From @drauch on Tuesday, 11 September 2018 11:23:29_

Is there a definitive way to move content to the client?

[2018-09-19 22:42] muratg commented on #3542
_From @benaadams on Thursday, 13 September 2018 03:44:51_

I think its a bug in the ` HttpResponseStreamWriter`

It even has the comment
[code]

On pure Kestrel it should act the same; however if you have an intermediate stream like compression; a reverse proxy (IIS or ngnix) or are using a different server like HttpSysServer then it probably won't.

[2018-09-19 23:48] zulander1 commented on #3540
@Tratcher  I understand; however, my concerns are that the current setup does share data between servers. Each distribution is independent. Therefore, each request is forwarded to the same server all the time (un less the primary server has failed). Therefore, for me it does not make sense. On a typical day we would see 17 failure regarding this problem, the azure token gets re-authenticated every

[2018-09-20 00:41] Tratcher commented on #3540
If the failover is not active then you're right, the cross machine data protection would not be relevant. That's easy to confirm if you verify your secondary server is not receiving any traffic.

With so little traffic does your site go idle and shut down? Do you have warnings in your logs on startup about your data protection keys not being persisted? There are some cases where encryption keys ar

[2018-09-20 05:18] BroderPeters commented on #3537
@Tratcher that's strange. I definitely tested it with browsing the URL and it wasn't working. Somehow now it works...
@livarcocc this can be closed as invalid.

[2018-09-20 05:29] drauch commented on #3542
For now it looks like ASP.NET Core buffers the whole page before sending any data to the client. This is not what we'd expect from a high performance framework.

[2018-09-20 05:42] davidfowl commented on #3542
Razor views/pages are buffered by design (for efficiency). That said, there should be a way to flush to the client if needed.

cc @pranavkm @rynowak

[2018-09-20 07:33] severisv commented on #3269
That's right, no AppInsights extension there :)

[2018-09-20 10:31] SteveSandersonMS opened #14293 "Include OmniSharp plugin in language server binaries .zip"
... and sign our `.dll`

[2018-09-20 11:05] kugarliyifan opened #3543 "How can I get the Controller instance from HttpContext in asp.net core"
I want to get the Controller instance from HttpContext or HttpRequest in the Extension Methods like

public static returntype Getitem(this HttpRequest request,string name)
or
public static returntype Getitem(this HttpContext request,string name)

how can I get it?

[2018-09-20 11:43] tobyash86 commented on #3523
### Another update
I was struggling to prepare a repro because the similar thing happened also while I was trying to prepare an example for ASP.NET Core 2.0. I could not use ADDITIONAL_DEPS with my ASP.NET Core 2.0 application because there was the same issue as in case of ASP.NET Core 2.1.

It turns out that target version of ASP.NET Core for a web application is not related to this error, it is

[2018-09-20 12:19] zulander1 commented on #3540
Hi,

Failover is never active, we get notification (and call's) if it was:
_Does your site go idle and shut down_: Yes, most likely at night when people go home after work
? _Do you have warnings in your logs on startup about your data protection keys not being persisted_: Non

we have just used the default data  protection, nothing is configured for data protection

[2018-09-20 13:27] Tratcher commented on #3542
The HttpResponseStreamWriter looks like it buffers up to 16kb at a time. Are your views larger than that?

[2018-09-20 13:41] chouhanaditya commented on #2041
Please search for <DebugType>full</DebugType> in your csproj file. If you find one please change it to <DebugType>portable</DebugType>.

.NET Core introduced a new symbol file (PDB) format - portable PDBs. Unlike traditional PDBs (existing 'full' mode) which were Windows-only, portable PDBs can be created and read on all the platforms.
Read about it more [here](https://github.com/dotnet/core/blob/

[2018-09-20 14:12] drauch commented on #3542
See my initial post. I rendered 100KB of data. Also tested with 50MB. Also tested with 50 times 1MB, if that matters.

[2018-09-20 15:20] Tratcher commented on #3540
That covers all of the usual errors. @blowdart any other ideas?

[2018-09-20 16:10] marcrib commented on #3265
@leastprivilege
I like and use IdentityServer
But I'm very curious to see the Microsoft implementation and and understand why (microsoft) did not incorporate the identityserver in your core

[2018-09-20 16:56] pranavkm commented on #3543
The earliest you can get is in an [`ActionFilter`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.filters.actionexecutingcontext.controller?view=aspnetcore-2.1). You could stash it in the `HttpContext`
 at this point.

[2018-09-20 17:05] pranavkm commented on #3542
This seems to work fine - https://github.com/pranavkm/repro/blob/aspnet/Home/3542/Views/Home/Index.cshtml. Do you have a sample where this isn't working correctly?

[2018-09-20 17:36] Eilon commented on #3543
@kugarliyifan can you share more details about what you're trying to do?

[2018-09-20 17:37] Eilon commented on #3265
@danroth27 - can you share the latest?

[2018-09-20 17:41] leastprivilege commented on #3265
Microsoft is using IdentityServer.

[2018-09-20 17:47] Unders0n commented on #3472
Modified sample solution works fine - if i place all in correct folder resources/StarterWeb/controllers/InfoController.fr-FR.resx and if then i send Accept-Language = "fr-FR" it takes correct resource, also default locale is working. But in my solution all of this not working , it ignores my headers and always teking russian (wich especcially weird) localization.
I can see any difference in my set

[2018-09-20 17:56] rynowak opened #5598 "Consider splitting up AddAttribute functionality for elements/components"
Based on: https://github.com/aspnet/Blazor/pull/1453#discussion_r219171895

We have a bunch of overloads of `AddAttribute` but we could potentially reduce runtime complexity by making more decisions at compile time based on whether we're operating on a component or an element.

[2018-09-20 18:06] drauch commented on #3542
Good to know. I'm fine with it. It hasn't been the case in ASP.NET Core 1.1.x. We had issues with throwing view components while some content has already been pushed to the client (and no possibility to show an error page anymore). If that's gone in 2.1.x we're more than happy.

[2018-09-20 18:14] rynowak commented on #3542
There's been no change to how any of this works in 2.1.

To explain what I mean - views need to execute **inside out**.

Since `.Layout` is a settable property on a view, you must execute a view (and save the result), then you can find out whether it has a layout page (which could be modified while running the view). Then you need to run the layout, and repeat the process, building up more content

[2018-09-20 19:51] JamesNK opened #4224 "Replat slim framework on endpoint routing"
https://github.com/davidfowl/Web.Framework/tree/master/Web.Framework

[2018-09-20 20:42] aspnet-hello opened #3544 "Test failure: StringSegment_ImplicitConvertToSpan"
This test [fails](http://aspnetci/viewLog.html?buildId=557737&buildTypeId=XPlat_Windows_Win8_Universe) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automa

[2018-09-20 20:42] aspnet-hello commented on #3544
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-09-20 20:42] aspnet-hello commented on #3544
StringSegment_AsSpan [failed with about the same error](http://aspnetci/viewLog.html?buildId=557737&buildTypeId=XPlat_Windows_Win8_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-20 22:17] blowdart commented on #3540
The question about warnings still stands. It may be dropping to in memory. During app startup Data Protection will log its configuration, we need that part of the log.

[2018-09-20 22:45] Eilon commented on #3544
@pranavkm do we know more about these bad packages? Do we need to get in touch with CoreFX folks to find the cause?

[2018-09-20 22:56] pranavkm commented on #3544
Just a guess since the package was updated recently - https://github.com/aspnet/Universe/commit/48e66d3d101de3b34344d735340118061a5e6949#diff-30dcc9789f8ea3c7632e4f054e60c072R22

[2018-09-20 23:11] Eilon commented on #3544
@Petermarcu / @weshaggard - do you know of any package issues regarding System.Runtime.CompilerServices.Unsafe in the 3.0 branches?

[2018-09-20 23:11] aspnet-hello opened #3545 "Test failure: StringSegment_ImplicitConvertToSpan"
This test [fails](http://aspnetci/viewLog.html?buildId=557885&buildTypeId=XPlat_Windows_Win8_Universe) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automa

[2018-09-20 23:11] aspnet-hello commented on #3545
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-09-20 23:11] aspnet-hello commented on #3545
StringSegment_AsSpan [failed with about the same error](http://aspnetci/viewLog.html?buildId=557885&buildTypeId=XPlat_Windows_Win8_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-20 23:15] Eilon commented on #3545
Same as https://github.com/aspnet/Home/issues/3544

[2018-09-20 23:42] weshaggard commented on #3544
No issue that we are aware of. I just opened up the package from https://github.com/aspnet/Universe/commit/48e66d3d101de3b34344d735340118061a5e6949#diff-30dcc9789f8ea3c7632e4f054e60c072R22 and it looks correct to me from a quick look. One think I did notice is that the newer version has a higher assembly version. It has 4.0.5.0 but the error you guys have something seems to be looking for 4.0.4.0.

[2018-09-20 23:45] pranavkm commented on #3544
The test failures appear on desktop (.NET Framework).  Wouldn't NuGet handle binding redirects for us?

[2018-09-21 00:12] zulander1 commented on #3540
@blowdart

There you go

[code]

i am guessing the solution is at this blog:

https://cypressnorth.com/programming/solved-using-memory-repository-keys-will-not-persisted-storage-asp-net-core-iis/

[2018-09-21 00:17] weshaggard commented on #3544
I don't think it is Nuget but msbuild that should be generating binding redirects depending on how the test projects are built and assuming they reference the new package as well.

[2018-09-21 01:42] aspnet-hello commented on #3545
StringSegment_AsSpan [failed with about the same error](http://aspnetci/viewLog.html?buildId=558038&buildTypeId=XPlat_Windows_Win8_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-21 01:49] benaadams commented on #3542
`HttpResponseStreamWriter.FlushAsync` currently empties it buffers and calls `WriteAsync` on the underlying stream; but **doesn't** call `FlushAsync` on the underlying stream.

If the underlying stream is Kestrel's response stream then this will cause an immediate Flush; as Kestrel doesn't differentiate between Write and Flush (its `WriteAsync` always flushes).

So am not sure what **not** calling

[2018-09-21 02:16] jamiewest opened #5821 "Improve UserManager accessibility"
I was trying to override the `CreateAsync` method [here ](https://github.com/aspnet/Identity/blob/ed28df1236db01d75463f40bcf58d9e960a206a9/src/Core/UserManager.cs#L466-L483) but I lose access to `UpdateSecurityStampInternal(TUser user)` and `GetUserLockoutStore()`. It would be helpful to make the stores as well as the updating of the security stamp accessible on derived classes.

[2018-09-21 03:18] blowdart commented on #3540
Yea, there's the problem

[code]

The solution can be different, if you don't want the overhead of loading the profile you can run a powershell script, as described in the [deployment docs](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-2.1#data-protection) or you pick a file system directory and [config it manually](https://docs.microsoft.com/en-us/aspnet/core/s

[2018-09-21 03:34] zulander1 commented on #3540
Greatly appreciated!!

[2018-09-21 04:41] karayakar commented on #2193
I am having same problem,
Problem happens when you use two claims,

` var tokenDescriptor = new SecurityTokenDescriptor
            {
                Subject = new ClaimsIdentity(new Claim[]
                {

                    new Claim(ClaimTypes.Name, user.UserId.ToString()),
                     **//new Claim(ClaimTypes.Name, user.Username),** <------ this cause

                }),`

if you

[2018-09-21 07:03] dustinmoris opened #4718 "Route arguments are weirdly decoded"
Hi,

So currently Kestrel seems to have made an odd choice to weirdly decode route arguments.

An ASP.NET Core web application doesn't get to see the real route arguments which a client has sent, but equally doesn't get presented with properly URL decoded arguments either. It doesn't follow any standard decoding algorithm and sort of returns an unexpected result.

For example, a route argument wou

[2018-09-21 07:11] luboid opened #5243 "Targeting .NET Core 2.1 - Startup error for new Aurelia WebApp - JsonReaderException: Unexpected character encountered while parsing value: <. Path '', line 0, position 0"
Problem can be seen in dotnet/core#1726, dotnet/corefx#30962,

My point is to make config option in WebpackDevMiddlewareOptions, which to allow HttpClient to use  WinHttpHandler or SocketsHttpHandler on a call-by-call basis.

**Sockets Performance and SocketsHttpHandler**
https://blogs.msdn.microsoft.com/dotnet/2018/04/11/announcing-net-core-2-1-preview-2/

I'am under corporate proxy when I switch

[2018-09-21 07:19] tthiery commented on #3497
I just crossed the same situation. In my case I wanted to instantiate a job executor (of a scheduled task) and want to get the same comfort as for controllers. Accessing a "Utilities" class in a framework always feels wrong.

Maybe I should handle my job executors as transient services, maybe it is just the name "service" which confuses me.

[2018-09-21 10:31] hishamco commented on #3472
As I mentioned above, share a minimal repo to reproduce your issue, so we can investigate what's going on

[2018-09-21 14:35] DmitriyKulagin opened #3546 "Minification HTML out of the box"
It would be good to get minification HTML functionality without the need for third-party extensions. Do you plan the implementation of this functionality in the near future?

[2018-09-21 14:53] davidfowl commented on #3546
No, we have no near term plans to do this.

[2018-09-21 14:59] Taritsyn commented on #3546
@DmitriyKulagin What you do not like in existing solutions?

[2018-09-21 17:58] muratg commented on #3544
What's the next action on this issue? Investigating assembly version mismatch? Trying to work around it (with binding redirects)? Further root cause analysis?

[2018-09-21 18:28] Usman15B opened #5244 "Window is not defined with .net core and Angular Template"
It works fine when i run with node Express server (I use @ng-toolkit/universal) But with aspnet core node engine throwing NodeInvocation Exception Reference Error: Window is not defined in a third party modules like ngx-bootstrap and angular-jwt.

[2018-09-21 18:49] ryanbrandenburg commented on #3544
Yeah, this issue seems to fail ~70 tests on a 3.0 Universe build.

[2018-09-21 23:03] weshaggard commented on #3544
I don't know enough about your test infrastructure but I'd suggest someone get on a machine and look at the binding redirects being used and see if they have they are correct (i.e. they bind everything up to the newer version 4.0.5.0) If the don't that should be investigated further to see why not. It is also potentially worth looking at which component you guys are consuming that is still referen

[2018-09-22 00:03] aspnet-hello commented on #3545
There were 2 failures [with about the same error](http://aspnetci/viewLog.html?buildId=558745&buildTypeId=Lite_UniverseTest) on master:
- StringSegment_ImplicitConvertToSpan
- StringSegment_AsSpan

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-22 06:14] jkotalik opened #3834 "Add ETW/FREB events for startup"
We already have a few FREB events emitted in ANCM inproc/out of proc. We would like to verify that:
1. The events we have are sufficient.
2. FREB emits etw events.
3. If requiring the user to enable FREB to get ETW logs is okay.
4. Adding ETW events to the shim.

[2018-09-22 16:23] alekseyLymarev opened #5599 "On create project with template Blazor ASP.Net core hosted on run show this error"
Серьезность	Код	Описание	Проект	Файл	Строка	Состояние подавления
Ошибка	MSB3073	выход из команды "dotnet "C:\Users\Zver\.nuget\packages\microsoft.aspnetcore.blazor.build\0.5.1\targets\../tools/illink/illink.dll" -l none -c link -u link -b true -t --verbose  -d "C:\Users\Zver\.nuget\packages\microsoft.aspnetcore.blazor.build\0.5.1\targets\../tools/mono/bcl/" -d "C:\Users\Zver\.nuget\packages\micros

[2018-09-22 20:33] Liander opened #5600 "Support for an element extension mechanism"
One use-case for having an extension mechanism on existing elements is already given here: https://github.com/aspnet/Blazor/issues/404#issuecomment-413037767, which can be used for form validation and the like. I didn't get any response on that so I will provide a little more extensive description this time to see if there is some interest. This time will be about providing a typed manner for Boot

[2018-09-22 23:44] rynowak commented on #3534
This is fixed.

[2018-09-22 23:44] #3534 closed

[2018-09-23 01:07] Tratcher opened #4716 "Implement HPack static compression"
Today Kestrel does not use any of the HPack compression features when serializing response headers. Static compression looks like the easiest place to start.

Design notes:
- The static table is here: https://tools.ietf.org/html/rfc7541#appendix-A
- Make an enum that maps to the static header names. Associate this with the known headers in the response header collection.
- Rather than passing in a

[2018-09-23 01:19] Tratcher opened #4715 "Implement HPack dynamic compression"
Today Kestrel does not use any of the HPack compression features when serializing response headers. Dynamic compression is an advanced option we could look into.

Likely candidates:
- Server: Kestrel
- Content-Encoding: gzip
- Content-Encoding: brotli
- Content-Type (and a dozen common values)
- strict-transport-security

Note the client gets more benefits from dynamic compression, especially brow

[2018-09-23 01:40] rynowak commented on #2581
We don't really have a way right now to configure log verbosity of the other parts of the stack based on where the request is going.

[2018-09-23 02:53] aspnet-hello commented on #3545
There were 2 failures [with about the same error](http://aspnetci/viewLog.html?buildId=559368&buildTypeId=XPlat_Windows_Win8_Universe) on master:
- StringSegment_ImplicitConvertToSpan
- StringSegment_AsSpan

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-23 05:56] Chrissx opened #3547 "[Question] Hosting .NET Core app from normal ASP .NET Application"
Hi,

Is is possible to boostrap ( host ) a .NET Core Application ( ASP .NET Core WebApi mostly ) from a non-core enviroment? Boostrap from the startup but different port? Is there any drawback/problems with this approach?

[2018-09-23 06:16] Tratcher commented on #3547
You mean to host ASP.NET Core from System.Web? No.

[2018-09-23 07:04] huazhenhz commented on #3025
@Tratcher
Why can Spring Session implement the mechanism very well?
Can you help to explain it?

[2018-09-23 07:07] huazhenhz commented on #3331
2 months passed, and no actions yet.

[2018-09-23 17:30] Tratcher commented on #3025
@davidfowl any interest in adding such a feature to IDistributedCache (breaking)? Otherwise we'd need to re-implement Session directly on Redis, MemoryCache, etc..

In the distributed case which node does the notification fire on? Whichever node touched the session last? And if that node is gone? Even if we did all the work to implement it, the feature would be unreliable.

[2018-09-23 17:42] davidfowl commented on #3025
Not sure yet. We could do it in a non breaking way by adding another interface for change notifications that session would use to check.

I'm still trying to figure this part out. It seems like it fires on all nodes when using redis (https://github.com/spring-projects/spring-session/issues/238#issuecomment-122402529) but the feature seems to generally be unreliable across implementations. Everythi

[2018-09-24 01:05] davidfowl commented on #3547
Anything is possible without enough will power but it's completely unsupported.

[2018-09-24 04:17] sandorfr commented on #2381
I believe there's a growing concern (ex: https://twitter.com/davidfowl/status/1042451628316536833 )in the aspnet core team around things like `MyAsyncFunc().GetAwaiter().GetResult()` to synchronize async code or worse things like `Task.Run(() => MyAsyncFunc()).GetAwaiter().GetResult()` (https://twitter.com/davidfowl/status/1042628651450134528).

**Can someone reopen this issue, or should I open a

[2018-09-24 04:24] sandorfr opened #3548 "Async DataProtection"
@davidfowl [gave me the courage](https://twitter.com/davidfowl/status/1042620776585748480) to
Re-request : https://github.com/aspnet/DataProtection/issues/124

I'm pretty sure other implementations would benefit from that as well.

And

And also this excellent feedback (also from @niemyjski)

So I implore you to revisit it :). I'd be happy to actually contribute if it has any chances to go through

[2018-09-24 04:33] sandorfr commented on #3548
It will, but every call to it currently to involves a bloody .GetAwaiter().GetResult() when using the most interesting providers like azure key vault https://github.com/aspnet/DataProtection/blob/a9f42e182e529f324fbdf34c417de1d8c0fd9879/src/Microsoft.AspNetCore.DataProtection.AzureKeyVault/AzureKeyVaultXmlDecryptor.cs#L24

[2018-09-24 04:34] sandorfr commented on #3548
We could keep the synchronous API as a deprecated API on top of the Async one.

[2018-09-24 07:32] davidfowl commented on #3446
@neyromant Did you update to .net core 2.1.4?

[2018-09-24 08:12] neyromant commented on #3446
@davidfowl Not yet, I just updated System.IO.Pipelines package.
My application is Self Contained Application and I do not use Microsoft.AspNetCore.App.
Maybe the problem is this?

[2018-09-24 09:28] drauch commented on #2410
Has this been released with 2.1.0?

[2018-09-24 10:37] liricy opened #3549 "CORS issue"
1. Description of the problem:

Getting CORs issue when calling APIs:

![inkedupload a submission 403 error_li](https://user-images.githubusercontent.com/6519992/45947735-30ddfc00-bfaa-11e8-8661-1a0434ac799f.jpg)

   2. Steps to reproduce (preferrably a link to a GitHub repo with a repro project)

https://microsoftit.visualstudio.com/OneITVSO/OneITVSO%20Team/_git/EUS-Col-ColPub-PublishAppsService

[2018-09-24 14:08] zulander1 commented on #3540
@blowdart
still getting the error thing morning:

[11:31:38 INF] Starting web host
[11:31:42 INF] User profile not available. Using 'HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\ASP.NET\4.0.30319.0\AutoGenKeys\S-1-5-82-119119927-3655580819-890001450-1487895255-3634842929\DataProtection' as key repository and Windows DPAPI to encrypt keys at rest.
Hosting environment: Production
--------------------------

[2018-09-24 14:10] blowdart commented on #3540
OK, can I see your code configuration for data protection? (If there's a chance this ended up in another server than the original one then this is expected, unless you are sharing the keyring)

[2018-09-24 14:29] ppozeti commented on #3521
Hey @AlexBAV ,

FileSystemWatcher was implemented using [ReadDirectoryChangesW](https://docs.microsoft.com/en-us/windows/desktop/api/winbase/nf-winbase-readdirectorychangesw) and apparently it does not manage junctions/reparse points.
Junction and reparse are handled by the [change journals on Volume management](https://docs.microsoft.com/en-us/windows/desktop/FileIO/change-journals).
For more cla

[2018-09-24 15:22] JackSteel97 opened #3550 "System.FormatException on every Request"
### Problem
This exception occurs, as far as I can tell, every time the server receives a request to any of the endpoints. It does not fall out to any of my `catch`s and the program does not crash, the only way I know it happens is the Event log in visual studio shows the below:
![1](https://user-images.githubusercontent.com/13905557/45960957-548a5c00-c015-11e8-8240-c35370e00ad0.png)

Clicking thr

[2018-09-24 15:49] Tratcher commented on #3550
Looks like a problem with your session cookie. Have you tried clearing your browser cookies?

If you capture the value first we can see what might be wrong with it.

[2018-09-24 16:27] Tratcher commented on #3550
No, it's your browser session cookie that looks broken, not your user auth cookie.

[2018-09-24 16:31] DM2489 commented on #3550
Thanks for confirming :)

[2018-09-24 16:46] hrnsky opened #3551 "Using hubs inside Hostedservice with kestrel on prod environment"
Hello all, I don't know where to open this issue weather is an issue or not, hope you will help me. I have a background service, running good, I'm running a project with asp.net core 2.1.4 on ubuntu 18 with nginx 1.14 as proxy with kestrel. Inside this background service, I'm using SignalR hub to send some messages to clients. In this background service, some action happens and pushes the json res

[2018-09-24 16:48] Eilon commented on #3549
The app you pointed to seems very large. Can you point to the specific folder that contains the web app that is refusing the CORS connection?

[2018-09-24 16:49] Tratcher commented on #3551
This issue was moved to aspnet/SignalR#3001

[2018-09-24 16:49] #3551 closed

[2018-09-24 16:51] pakrym opened #3831 "Verify IISCertificateMappingAuthenticationModule support in inproc/outofproc"

[2018-09-24 17:32] dougbu commented on #3544
Taking this one because it appears to have the same root cause as aspnet/MusicStore#869 and other MusicStore and ServerComparison tests. But, these tests should have much left cruft in the way of _finding_ that root cause.

[2018-09-24 17:59] dougbu commented on #3544
Searched a diagnostic build log and found no version conflicts for System.Runtime.CompilerServices.Unsafe, System.Memory or System.IO.Pipelines.

Resolved versions are not quite as expected:
- System.Runtime.CompilerServices.Unsafe: 4.6.0-preview1-26907-04 _and 4.5.0_
- System.Memory: 4.5.0
- System.IO.Pipelines: 4.6.0-preview1-26907-04

In this repo at least, tests fail **only** when multiple ass

[2018-09-24 18:02] Tratcher commented on #3544
MSBuild node re-use?

[2018-09-24 18:03] dougbu commented on #3544
@Tratcher could be. I'm seeing if I can reproduce the issue with `dotnet vstest` and multiple test assemblies.

[2018-09-24 18:05] aspnet-hello commented on #3313
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:05] #3313 closed

[2018-09-24 18:05] aspnet-hello commented on #3312
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:05] #3312 closed

[2018-09-24 18:05] aspnet-hello commented on #3264
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:05] #3264 closed

[2018-09-24 18:05] aspnet-hello commented on #3262
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:05] #3262 closed

[2018-09-24 18:05] aspnet-hello commented on #3226
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:05] #3226 closed

[2018-09-24 18:05] aspnet-hello commented on #3161
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:05] #3161 closed

[2018-09-24 18:05] aspnet-hello commented on #3101
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:05] #3101 closed

[2018-09-24 18:06] aspnet-hello commented on #2846
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:06] #2846 closed

[2018-09-24 18:06] aspnet-hello commented on #2799
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:06] #2799 closed

[2018-09-24 18:06] aspnet-hello commented on #2794
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:06] #2794 closed

[2018-09-24 18:06] aspnet-hello commented on #2637
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:06] aspnet-hello commented on #2336
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:06] #2336 closed

[2018-09-24 18:11] dougbu commented on #3544
Got one:
[code]
Tests work fine if the assemblies are reversed on the command line.

[2018-09-24 18:11] licypal commented on #3549
Here is the path to file in Service code where I set up the origin:
https://microsoftit.visualstudio.com/OneITVSO/OneITVSO%20Team/_git/EUS-Col-ColPub-PublishAppsService?path=%2FService%2FWebApi%2FService%2FHosts.WebApi%2FStartup.cs&version=GBmaster

Here is the path to file in Webpart code where API calls are failing because of the CORS issue mentioned above:
https://microsoftit.visualstudio.com/O

[2018-09-24 18:16] blowdart commented on #3548
It's synchronous **by design**. Both reads and writes are meant to be rare, and both actions need to block, the keyring read so no requests get actioned whilst the keyring hasn't been populated, and write so requests don't get completed with a new key until it's written to the key store.

This won't change.

[2018-09-24 18:16] #3548 closed

[2018-09-24 18:35] natemcmaster commented on #3503
@mholec did you try **Workaround 2**?

[2018-09-24 18:53] dougbu commented on #3544
Looks like the generated binding redirects are incomplete for Microsoft.Extensions.Primitives.Tests.dll. The test assembly references `System.Memory, Version=4.0.1.0` and that references `System.Runtime.CompilerServices.Unsafe, Version=4.0.4.0`. However the `System.runtime.compilerservices.unsafe\4.6.0-preview1-26907-04\lib` versions are all `Version=4.0.5.0`. A binding redirect is necessary.

It'

[2018-09-24 19:28] Eilon commented on #3544
Any help would be appreciated - we have tons of test failures across the board that all seem related to this.

[2018-09-24 19:29] Eilon commented on #3544
We're not sure if it's a packaging issue with the .NET packages, a NuGet issue, or something we did wrong in our product/test code.

[2018-09-24 19:44] pranavkm commented on #3544
Should we roll back the package upgrade until we've figured this out - https://github.com/aspnet/Universe/commit/48e66d3d101de3b34344d735340118061a5e6949#diff-30dcc9789f8ea3c7632e4f054e60c072R22?

[2018-09-24 19:49] weshaggard commented on #3544
Sorry I don't have any insight here as I would expect the binding redirects to get generated correctly. Perhaps @dsplaisted understands more about how the binding redirects get generated and might be able to shed some light.

[2018-09-24 20:40] dsplaisted commented on #3544
@dougbu Can you provide .binlogs for builds which don't seem to be generating binding redirects correctly?  That would help to investigate the issue.

[2018-09-24 20:53] aspnet-hello commented on #3545
There were 2 failures [with about the same error](http://aspnetci/viewLog.html?buildId=560048&buildTypeId=XPlat_Windows_Win8_Universe) on master:
- StringSegment_ImplicitConvertToSpan
- StringSegment_AsSpan

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-24 20:56] mrlife commented on #3265
Are preview releases suitable for development environments?

[2018-09-24 21:01] dougbu commented on #3544
Attached the `.binlog` for a build from root i.e. `.\build.cmd /p:skiptests=true /bl`
[msbuild.zip](https://github.com/aspnet/Home/files/2412845/msbuild.zip)

[2018-09-24 21:06] dougbu commented on #3544
Ignore everything but .NET 4.6.1 and note Microsoft.Extensions.Primitives.Tests.dll.config exists but Sample.Tests.dll.config does not. (Can't find any references to System.Memory or System.Runtime.CompilerServices.Unsafe in Sample.Tests.)

I've attached the former project's `bin` files.
[net461.zip](https://github.com/aspnet/Home/files/2412853/net461.zip)

[2018-09-24 21:19] dougbu commented on #3544
Groan, looks like `dotnet vstest`, xUnit or the platform aren't copying everything that's needed for execution. If I copy the Microsoft.Extensions.Primitives.Tests and Sample.Tests to a single directory, `dotnet vstest .\Sample.Tests.dll .\Microsoft.Extensions.Primitives.Tests.dll` works fine.

Anyone from VSTest team involved in this issue yet?

FYI the net461.zip file I attached above includes o

[2018-09-24 21:29] blowdart opened #3552 "Asp.Net Core takes too long to run the web application"
_From @josejmoran on September 23, 2018 15:2_

When I run the application the build process takes about 45 seconds, the majority of that time is spent on some tasks that do not send any message to the Output window so I have no idea what is going on. The development loop cycle is affected by this. Usually we change a file or two and click run again, so it feels like forever every time. Is there a

[2018-09-24 21:29] blowdart commented on #3552
_From @Eilon on September 24, 2018 3:1_

Hi @josejmoran would it be possible for you to share the app on GitHub so we can investigate?

You might be able to enable more diagnostic information by running `dotnet build -clp:PerformanceSummary` from the command line. That will emit additional timing information about where time is spent.

[2018-09-24 21:29] blowdart commented on #3552
_From @josejmoran on September 24, 2018 14:7_

Hi,

I will run  the command you sent to take a look. It will be great if a
feature is added so we can see it in the output window in VS.
If you want to test this issue you just need to create a new project with
Identity. It seems that when you have not added any new code after creating
the project it runs somewhat faster. It could be better, but is n

[2018-09-24 21:29] blowdart commented on #3552
_From @josejmoran on September 24, 2018 14:20_

I tested it again with only VS running and it takes 20 seconds. I repeated
it several times and I had like 12GB of memory available.
Also I just changed a letter on a View. That is why it may be good to add a
new feature to allow for an incremental compilation of sort that only
compile the file just changed.
It seems that VS is using all 4 cores ( 8

[2018-09-24 22:16] natemcmaster commented on #3307
There is no plan to make changes to the schema of a .csproj in 2.1 or 2.2. We implemented and tested variations of the proposed changes, but ultimately, we did not believe those were significantly better than the versionless PackageReference. Bigger changes, which are not possible in 2.x, are necessary to cleanup the experience. We are preparing plans for 3.0 that rework the way a project referenc

[2018-09-24 22:16] #3307 closed

[2018-09-24 22:27] natemcmaster commented on #3292
After lots of discussion and experimentation, I'm closing this issue as we do not plan to make changes in 2.1 or 2.2 to address this issue. We are going to stick with original design; versionless PackageReference is the recommended way to use Microsoft.AspNetCore.App.  I will update our docs and guidance to match this recommendation.

We implemented and tested alternatives ways to reference the Mi

[2018-09-24 22:27] #3292 closed

[2018-09-24 22:37] JeffMushmo commented on #2116
Ok. I think I've got it working.

@Eilon Your guidance on next steps would be appreciated.

Here's what I did:

1. Cloned the MetaPackages repo.
2. Copied Microsoft.AspNetCore to Microsoft.AspNetCore.Universal as another project in the src folder.
3. Replaced the .cs files in the Universal project with virtual references to the originals (to ensure identical source code)
4. Removed the IIS nuget p

[2018-09-25 00:08] aspnet-hello commented on #3545
There were 2 failures [with about the same error](http://aspnetci/viewLog.html?buildId=560221&buildTypeId=XPlat_Windows_Win7_Universe) on master:
- StringSegment_ImplicitConvertToSpan
- StringSegment_AsSpan

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-25 00:24] aspnet-hello opened #3553 "Test failure: PostAsyncThrowsForErrorResponse"
This test [fails](http://aspnetci/viewLog.html?buildId=560348&buildTypeId=Releases_22xPublic_OsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.2.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automa

[2018-09-25 00:30] Tratcher commented on #3544
@dougbu branch is release/2.2?

[2018-09-25 00:32] dsplaisted commented on #3544
I have no idea why if you run `dotnet vstest` on these DLLs separately, or in the opposite order, you don't get a failure.

However, I did figure out why the binding redirect for `System.Runtime.CompilerServices.Unsafe` is not getting generated for the `Microsoft.Extensions.Primitives.Tests` project.  The issue is that the compile-time reference to System.Memory is to the `ref/netstandard2.0` refe

[2018-09-25 01:39] zulander1 commented on #3540
@blowdart there is not code for that, everything is at default, i didn't see any instruction on implementation for HKLM

Thank's in advanced

[2018-09-25 01:44] blowdart commented on #3540
See the [deployment docs](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-2.1#data-protection) for the powershell script.

[2018-09-25 01:59] zulander1 commented on #3540
The powershell script  (https://github.com/aspnet/DataProtection/blob/release/2.2/Provision-AutoGenKeys.ps1) was executed on the server, what's why it's saying "Using 'HKEY_LOCAL_MACHINE..."

[2018-09-25 03:14] Eilon commented on #2116
Hi @JeffMushmo that's cool you got all that working! As for right now, there are no plans for UWP support, so we're not planning on publishing a NuGet package for this. It would be great if you ended up publishing the package and it would be a good way to gauge community interest around this scenario.

[2018-09-25 03:14] saibaskaran57 opened #4917 "XML Model State Validation"
#### Feature Request

#### Description of the problem:
On JSON content-negotiation formatting, all exception are wrapped into a ModelState validation which provides flexibility for each controllers to decide the handling on the bad input models.

#### Steps to reproduce
1) Configure XML Formatters for content-negotiation on .NET Core Web API
[code]

2) Submit an invalid XML input(e.g. invalid XML

[2018-09-25 04:14] dougbu commented on #3544
No, `master`, the default branch for the Common repo.

----
@dsplaisted excellent you were able to get to an explanation here! Much appreciated.

Any suggestions on better choices e.g. should we pin System.Runtime.CompilerServices.Unsafe back at 4.5.0 too? What about System.Buffers, System.Numerics.Vectors and their dependencies?

----
Separately, are customers likely to hit similar issues? I'm wo

[2018-09-25 07:10] davidfowl opened #5339 "Add ability to send pre-serialized data for efficiency"
There's a pattern where you're sending data that's already serialized from another system (like a message bus) to the clients without first de-serializing and re-serializing. Here's an example:

https://github.com/gcsuk/Achievements/blob/f54479ca595bcf62fa17177b0ec101a7b918d8a5/src/Achievements/Achievements/EventListener.cs#L66-L76

The above code gets a utf8 JSON encoded message from the queue, t

[2018-09-25 07:57] lkts commented on #2852
I have just hit this during my Docker workflow for new application. I see this is by design, but in my opinion it is pretty unintuitive behavior. Can it be improved ?

[2018-09-25 07:59] JackSteel97 commented on #3550
I have cleared all browser cookies and tried again. I noticed that the error is only thrown on requests when I am signed in, and on the request to sign in. From the looks of it, the only cookie available after the error is thrown is the one used for authentication. I am not using any session storage so that would make sense.

[2018-09-25 11:10] Tratcher commented on #3550
Please share the request headers.

[2018-09-25 11:17] JackSteel97 commented on #3550
@Tratcher
![image](https://user-images.githubusercontent.com/13905557/46011175-f6b14f00-c0bc-11e8-9a51-56ddb568723e.png)

[2018-09-25 11:32] oliverjanik opened #3554 "[Feature Request]: Please update nuget for Microsoft.AspNetCore.Proxy"
Reopening: #2794

`<rant>`
What's with the bloody bots running around closing long standing feature requests? The issue is open because it has not been resolved yet. Seems every repo has a bot you have to fight, lately.
This one is special because not only it closes discussion it locks it as well, just in case you wanted to respond.
`</rant>`

[2018-09-25 11:38] Tratcher commented on #3550
Please don't use screen shots for textual data... Copying the text makes it much easier to examine.

[2018-09-25 12:12] JackSteel97 commented on #3550
see edit

[2018-09-25 12:26] Tratcher commented on #3550
So navigateme.lincoln.ac.uk is the name of your auth cookie? What did you name your session cookie?

[2018-09-25 12:36] JackSteel97 commented on #3550
`...
"Application": {
    "ActiveEnvironment": "development",
    "Session": {
      "IdleTimeout": 20,
      "Cookie": {
        "Name": "navigateme.lincoln.ac.uk"
      }
    },
...`

[2018-09-25 12:39] Tratcher commented on #3550
Wait, did you set the name of your auth cookie and your session cookie to the same thing? That's not going to work (though I don't know why it would give this error).

[2018-09-25 12:45] JackSteel97 commented on #3550
Thanks, that fixed it. Although those cookies have the same name in some other project and this error has never shown up

[2018-09-25 12:45] #3550 closed

[2018-09-25 13:20] blowdart commented on #3540
OK this is weird. The error you're getting is that a key is missing, which tends to indicate it went to a different machine, or the request has come from a really old form, one before the machine was reconfigured and rebooted (or someone is messing with the payload)

[2018-09-25 13:28] TanvirArjel opened #3555 "app.UseExceptionHandler("/Error"); doesn't work on POST methods."
I have configured ASP.NET Core default Exception Handler as follows:

[code]

Whenever any error occurs  in the `GET` methods, it is working as expected that is it is being caught and redirected to the `Error()` method.

Problem is that whenever any error occurs  in the `POST` methods, it is not working as expected that is it is not being caught and redirected to the `Error()` method.

Here is sam

[2018-09-25 13:55] martelskiy opened #4192 "Fetch ISession data from client code without refreshing the session"
I need to check whether a session is not expired in my client code. But by polling each few minutes HTTP GET and checking session status I'm extending the actual session. Which means unless the user closes the browser tab session will never be expired. Is there any way to specify which GET requests should not extend the session?
 "Microsoft.AspNetCore.App" Version="2.1.4" installed

[2018-09-25 14:07] nmg196 commented on #2019
@vijayrkn It's not clear how to configure the Publish settings to set the environment.  From the Publish settings dialog?  What actually can be changed in this dialog to distinguish a Staging site from a Production site, if both sites are being deployed to the **same** server?

This aspect of .NET core seems very messy.  It needs to be made much easier to specify the environment on a per-folder ba

[2018-09-25 14:21] davidfowl commented on #2019
The setting is per application.

[2018-09-25 14:45] nmg196 commented on #2019
Sorry but that doesn't really answer my question. Perhaps I'm misunderstanding something.

[2018-09-25 14:52] JNickVA1 opened #3556 "Localization works on Edge but fails on IE and Chrome using sample code"
I have an ASP.NET Core Razor web app, non-MVC, that I am trying to localize using the code sample, Localization, referenced in the "Globalization and localization in ASP.NET Core" docs (https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-2.1) I needed to make a few adjustments due to the fact that I am writing a Razor web app and the sample is written for MVC.

A

[2018-09-25 15:11] davidfowl commented on #2019
There's some pseudo documentation here https://github.com/vijayrkn/webconfigtransform/blob/master/README.md (@vijayrkn we need to get this into the real docs).

@vijayrkn How much support is there for this in the publish dialog?

[2018-09-25 15:17] Tratcher commented on #3555
Only the path is re-written, not the method. You have your Error action marked as handling Get requests, not Post.

[2018-09-25 15:38] vijayrkn commented on #2019
Currently the publish dialog does not have any support for setting the publish environments but the environments can be set manually in the publish profile or specific transforms can be applied.

@nmg196 - If you want to just set the 'ASPNETCORE_ENVIRONMENT' in the web.config, all you have to do is add the environmentname to the publishprofile.

example:
https://github.com/vijayrkn/webconfigtransf

[2018-09-25 15:39] vijayrkn commented on #2019
@davidfowl - Angelos has an item to get the web.config transform support documented.

[2018-09-25 16:03] ericstj commented on #3544
You don't need to "pin back", just reference the same version you're already using directly without ExcludeAssets="Compile".

The packages could change to never use `exclude="compile"` for desktop frameworks where bindingRedirects matter.  We do other things to try to ensure that RAR sees the same assemblies as runtime on desktop.

I've filed issue https://github.com/dotnet/corefx/issues/32457 to

[2018-09-25 17:07] dougbu commented on #3544
That or another fix for dotnet/corefx#32457 would be awesome!

When we reference the System.Memory package, is there a way to override the `exclude="compile"` qualifications in system.memory.nuspec -- at least as a temporary workaround to get our builds going?

[2018-09-25 21:12] rynowak commented on #3493
@gfoidl - this is the original report

[2018-09-25 21:12] Eilon commented on #3553
@muratg who is the "Address already in use" expert?

[2018-09-25 21:28] mkArtakMSFT commented on #2409
Hi. We're closing this issue as there's been no response and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-09-25 21:28] #2409 closed

[2018-09-25 21:28] Eilon commented on #3555
You should be able to remove the `[HttpGet]` from the `Error` method because it is what's causing the unnecessary restriction.

[2018-09-25 21:28] #3555 closed

[2018-09-25 21:30] Eilon commented on #3554
Hi @oliverjanik , there is currently no planned work on the Proxy package. It was a prototype that never gained official status. As such, we have no plans to provide updates to it.

[2018-09-25 21:33] mkArtakMSFT commented on #2416
Hi. Thanks for contacting us.
We're closing this issue as there was no much community interest in this ask for quite a while now.

[2018-09-25 21:33] #2416 closed

[2018-09-25 21:43] mkArtakMSFT commented on #2413
Thanks for contacting us, and sorry for our late response on this issue.
It seems what you're trying to accomplish is not the recommended way to do it. Instead, you should consider exposing two different endpoints for authentication using different schemes. Then, you won't need to validate Antiforgery in pure javascript requests.

[2018-09-25 21:43] #2413 closed

[2018-09-25 21:47] mkArtakMSFT commented on #2417
Hi. Thanks for contacting us.
We're closing this issue as there was no much community interest in this ask for quite a while now.

[2018-09-25 21:47] #2417 closed

[2018-09-25 21:53] mkArtakMSFT commented on #2418
**IMPORTANT**: there are many other places where options are exposed which essentially need to be also removed.

[2018-09-25 21:54] mkArtakMSFT commented on #2420
Moving out to 3.0 as there is no support for this yet.

[2018-09-25 22:09] mkArtakMSFT commented on #2783
Thanks for contacting us.
@javiercn, can you please look into this? Thanks!

[2018-09-25 22:11] mkArtakMSFT commented on #2882
Thanks for contacting us, @wessleym.
Sorry for our late response on this. @javiercn, can you please look into this? Thanks!

[2018-09-25 22:14] mkArtakMSFT commented on #3027
Thanks for contacting us, @Corstiaan84.
@javiercn, can you please look into this? Thanks!

[2018-09-25 22:18] mkArtakMSFT commented on #3058
Thanks for contacting us, @garymacpherson.
@javiercn, can you please look into this? Thanks.

[2018-09-25 22:20] mkArtakMSFT commented on #3092
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-09-25 22:20] #3092 closed

[2018-09-25 22:35] javiercn commented on #3145
@HappyNomad Certificate pinning has nothing to do with this. To make it work in the most similar way as how it would work in production, you would need to find a way for the UWP app to trust the local HTTPS development certificate during development.

I don't have any clue on how to do this if UWP doesn't look at the trust root on the certificate store. I would suggest contacting someone on the UW

[2018-09-25 22:38] jkotalik opened #3836 "Make AzDO upload native symbols automatically"
Part of this work item is to establish exactly which symbols go where, and when (for all symbols for ASP.NET/EF Core), and add it to the AspNetCore wiki.

[2018-09-25 22:49] JustCallMeAD commented on #3546
Being able to minify Razor files at "compile time" would be a great & a small performance increase. I know that you can minify the html at runtime but obviously this is not the best solution because of the extra processing required for every request.

I understand that there are currently a few more important features to roll out first but hopefully it might be something that can be revisited some

[2018-09-25 23:02] #3553 closed

[2018-09-25 23:19] Andrzej-W opened #5601 "Wrong data type in UIKeyboardEventArgs.Location declaration"
`UIKeyboardEventArgs.Location` is currently declared as `float` but according to this info:
https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/location
it can contain only one of a few unsigned integer values. I think this property should be `enum`.

[2018-09-25 23:30] Eilon opened #3557 "Cookie policy and localization"
_From @clintm90 on Friday, 21 September 2018 18:22:36_

Hello,

When the user does not had agree cookie using, it's not possible to save the localization cookie so the user cannot change the language, i think it's a little issue, or just a mindless

Thank you

_Copied from original issue: dotnet/core#1956_

[2018-09-25 23:30] Eilon commented on #3557
@clintm90 can you provide more info about what the problem is?

[2018-09-25 23:51] dougbu commented on #3544
Thanks to @natemcmaster for pushing aspnet/Universe#1420 'til this problem disappeared!

Probably best for us to stick with the orphaned System.Memory 4.6.0-preview1-* version until we have a solid dotnet/corefx#32457 fix e.g. a new System.Memory 4.5.2 package without `exclude="compile"` attributes (where they cause problems).

Of course a dotnet/corefx#32457 workaround to let us use System.Memory

[2018-09-25 23:54] #3544 closed

[2018-09-25 23:57] natemcmaster commented on #3544
I agree we with @dougbu. We are reverting dependencies to old stuff from early September which includes packages that we know won't RTM, but its the only combination of stuff that appears to work.

This means we are blocked on consuming new 3.0 builds until https://github.com/dotnet/corefx/issues/32457 is resolved.

[2018-09-26 00:05] weshaggard commented on #3544
Depending on this dead-end 4.6.0-* version of System.Memory package is probably not the best place to be. Instead I think it would be better to downgrade to the last stable version of System.Runtime.CompilerServices.Unsafe that way you are on supported versions and would be on a shipping set of packages that wouldn't block you from shipping something if needed.

[2018-09-26 00:08] aspnet-hello commented on #3545
There were 2 failures [with about the same error](http://aspnetci/viewLog.html?buildId=561382&buildTypeId=Lite_UniverseTest) on master:
- StringSegment_AsSpan
- StringSegment_ImplicitConvertToSpan

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-26 00:10] natemcmaster commented on #3544
@weshaggard we tried that, but there are several layers to this onion. If we downgrade System.Runtime.CompilerServices.Unsafe, we also have to downgrade System.Memory which means we have to downgrade System.Threading.Tasks.Extensions...etc...the ripple affect was at least 3 or 4 layers deep. We didn't reach the bottom before deciding that we're okay pinning to Sept. 7 bits until corefx packaging/v

[2018-09-26 00:29] natemcmaster commented on #3544
We can use https://github.com/aspnet/Universe/pull/1421 to track this. I was planning to leave the PR open until we figure out a way forward.

[2018-09-26 00:33] weshaggard commented on #3544
OK I expect that https://github.com/dotnet/corefx/issues/32457 will be open for a while and even if we do fix it we would need to do it in a servicing release which will delay getting a fix. So you might need to manually submit any other updates in the mean-time, if you need them.

[2018-09-26 00:51] rynowak commented on #3493
PR for release/2.2 https://github.com/aspnet/Common/pull/398
PR for release/2.1 https://github.com/aspnet/Common/pull/399

[2018-09-26 01:03] natemcmaster commented on #3544
We're still focused on 2.2 work, so I'm not terribly concerned if 3.0 is blocked on this for several weeks. Obviously it's not ideal, so if there are other good workarounds, I'm all ears.

[2018-09-26 01:30] #3493 closed

[2018-09-26 03:31] Tratcher commented on #3557
Ah, the loc cookie must be considered non-essential so it can't be written until the user agrees to the consent prompt. Marking the loc cookie as essential would override the cookie policy. Where is that cookie written?

[2018-09-26 07:00] markusschaber commented on #3557
I think current behaviour is correct - if the user doesn't agree to cookies, we must not use cookies, right?

[2018-09-26 07:31] fschmied opened #3558 "Should we assume Internal Server Errors can be triggered by user input?"
I've a question regarding error handling strategy with ASP.NET Core and MVC in particular. In a system we're building, we've been following the philosophy that we should return an HTTP 4xx result code for every error that can be triggered by the user/client. HTTP 5xx error codes should only be returned if we really have a server error: resource problems (e.g., DB connection down), programming erro

[2018-09-26 09:11] clintm90 commented on #3557
Yes is a very little issue, I have understand the system of essential cookies right now but for auto localisation it's a problem if the user change the language and he does not have accepted collie policy the change is not saved, I think I will had an essential value to the culture cookie but maybe it can do natively

[2018-09-26 10:28] ststeiger commented on #1528
It would seem you have a problem with embedded VB expressions.
There are anyway multiple problems.

In Microsoft.VisualBasic1\VBCodeGenerator.cs
UseShellExecute needs to be set to false.
[code]

And FromFileBatch needs to be replaced with roslyn if compiled for netstandard (CodeDom provider can't compile for netstandard - funny exceptions if VB-expressions are used, e.g. in parameters)

[code]

[2018-09-26 10:53] Tratcher commented on #3558
Indeed, you must understand the cause of an error to return a 4xx response. The server can do this when parsing the initial request headers as it's clear something is wrong with the message. However there are some errors that can't be raised until the app is processing the request and body. Unfortunately exceptions are sometimes used to communicate this and it's up to the app to catch them and dec

[2018-09-26 12:04] fschmied commented on #3558
Okay, thanks for giving concrete examples.

Is there a list of expected exceptions thrown by ASP.NET Core in reaction to request input so we can explicitly handle them? Or any other guidance on how we could differentiate system errors from request errors?

[2018-09-26 13:21] puneetg1983 opened #4131 "Enable EventLog by default for all unhandled errors in ASP.NET core apps hosted on Azure App Service"
All azure app services have a lightweight Eventlog.xml file which contains Events emitted by apps. All the un-handled ASP.NET (classic) exceptions go to this file and this file resides in d:\home\logfiles\eventlog.xml

I realized that ASP.NET core has AddEventLog() method under Microsoft.Extensions.Logging.EventLog. I tried adding that nuget package to test app and loggerFactory.AddEventLog() meth

[2018-09-26 14:14] pranavkm commented on #2373
This was addressed as part of https://github.com/aspnet/CORS/commit/feceb3ddeaf0a0ca7e895eb83674d78fee53515c. We still don't punycode i8n names, but this issue can be closed.

[2018-09-26 14:14] #2373 closed

[2018-09-26 14:15] pranavkm commented on #2374
Closing since the issue was resolved.

[2018-09-26 14:15] #2374 closed

[2018-09-26 14:35] pranavkm commented on #2379
This is true today - `CorsService` uses [`CorsPolicy.IsOriginAllowed`](https://github.com/aspnet/CORS/blob/master/src/Microsoft.AspNetCore.Cors/Infrastructure/CorsService.cs#L276-L279) to determine if an origin is allowed. `CorsPolicy` has a settable delegate that lets you configure it - https://github.com/aspnet/CORS/blob/master/src/Microsoft.AspNetCore.Cors/Infrastructure/CorsPolicy.cs#L77

[2018-09-26 14:35] #2379 closed

[2018-09-26 14:39] pranavkm commented on #3236
@ManuelDev1810 can you try setting the log level to the most verbose level (https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging) and see what the `CorsService` spits out?

[2018-09-26 14:40] pranavkm commented on #3549
@ManuelDev1810 can you try setting the log level to the most verbose level (https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging) and see what `CorsService` spits out? Might give some hints as to why the service decided a request did not qualify for CORS.

[2018-09-26 14:48] pranavkm commented on #3463
@PSausM  can you try setting the log level to the most verbose level (https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging) and see why `CorsService` decided not to respond with CORS headers?

[2018-09-26 14:51] pranavkm commented on #2745
Closing since this question has been answered.

[2018-09-26 14:51] #2745 closed

[2018-09-26 15:04] Iamcerba opened #3559 "Json Patch: System.NullReferenceException while trying to use copy operation from property with null value"
I'm using **2.1.1** version of **Microsoft.AspNetCore.JsonPatch** package.

**Steps to reproduce:**

[code]

**Actual result:**

System.NullReferenceException is being thrown.

_**Exception details:**_

System.NullReferenceException
  HResult=0x80004003
  Message=Object reference not set to an instance of an object.
  Source=System.Private.CoreLib
  StackTrace:
   at System.Object.GetType()
   at

[2018-09-26 16:13] weshaggard commented on #3544
The fix that @ericstj had in mind for https://github.com/dotnet/corefx/issues/32457 will not fix this particular issue. There is a gap in how binding redirects are generated automatically. That gap being RAR doesn't consider the implementation assemblies that are getting deployed when finding version conflicts, it only looks at the references passed to the compiler.

There are only a couple workar

[2018-09-26 16:35] rynowak commented on #2582
This is done

[2018-09-26 16:35] #2582 closed

[2018-09-26 16:47] natemcmaster commented on #3503
We have a fix for the issue in 2.1.5 which should be out soon, so only 2.1.1 through 2.1.4 should be affected by this issue. When 2.1.5 is released, I recommend you update your servers.

[2018-09-26 16:47] Eilon commented on #3557
@markusschaber - some cookies are considered "essential" and I think the consent rules for those are different.

We have some info on GDPR and cookies here: https://docs.microsoft.com/en-us/aspnet/core/security/gdpr?view=aspnetcore-2.1

[2018-09-26 18:28] javiercn commented on #3145
@HappyNomad Maybe we are talking different things. I understand HTTP public key pinning for certificate pinning, but I believe it has a different meaning for you/in the UWP platform. I'm no expert on UWP so maybe doing certificate pinning on UWP is a way to solve this in development.

Trusting the developer certificate during development (whatever form that takes) is the correct approach for it. J

[2018-09-26 18:40] Taritsyn commented on #3546
Yes, I agree with you that minification of HTML output at runtime has some additional costs, but at the moment it is the only available solution for ASP.NET Core (even [Microsoft uses it](https://sway.com/)).

For ASP.NET Core does not yet exist any finished solutions for minification of Razor views. Unfortunately, the old time-tested solutions for minification of Razor views (such as [Meleze.Web]

[2018-09-26 19:30] javiercn commented on #3058
Hi,

There is no point in specifying either

if you already specify no-cache, no-store as they prevent anything from being cached.
max-age only applies to cached responses
must-revalidate only applies to cached responses.

Do you have an actual functional issue around this?

[2018-09-26 19:32] pranavkm commented on #2780
@naveedahmed1 I tried setting up a sample to see what the behavior is -

* https://github.com/pranavkm/repro/blob/Home/2780/Origin/wwwroot/Index.htm
* https://github.com/pranavkm/repro/blob/Home/2780/Origin/wwwroot/sw.js

I couldn't reproduce a scenario where the browser cache interfered with the service worker pre-fetch. On Chrome and Edge, the SW does a separate fetch with the CORS headers which

[2018-09-26 19:40] rynowak commented on #2575
We did this. It will be in 2.2.0-preview3

[2018-09-26 19:41] #2575 closed

[2018-09-26 19:42] rynowak commented on #2580
Closing this since it just generally doesn't seem like a good idea. Generally when a system is health checking, they want fresh data. If your health checks take a significant amount of time then you already have a problem.

[2018-09-26 19:42] #2580 closed

[2018-09-26 19:42] JamesNK opened #4223 "Update ASP.NET template Startup.cs with new routing API"
Templates's Startup.cs needs to use UseEndpointRouting and UseEndpoint instead of UseMvc.

[2018-09-26 20:47] Eilon commented on #3558
@fschmied unfortunately the list of exceptions is ever changing, and also varies based on 3rd party components, so providing such a list would be infeasible. However, in cases such as ASP.NET Core MVC, we've done work for API controllers to return better status codes by default, which would just avoid certain exceptions from being thrown in the first place.

But I'm not aware of any general purpos

[2018-09-26 22:49] javiercn commented on #2882
Hi,

I've been looking at the issue you mentioned. There are a few things a user could do to cause this. So here are a few questions:
* Does the site allow HTTP and HTTPS traffic? (That will be one thing)
* Users can have a tab open, login with a user in another tab and then when they try to use the original tab antiforgery will fail (due to the cookie changing)

[2018-09-26 22:57] wessleym commented on #2882
Thank you, @mkArtakMSFT and @javiercn, for your attention to this issue.
1.  No.  It's HTTPS only.
2.  I don't understand this.  What does logging in have to do with anything?  And why would logging in necessarily change any cookie value?

[2018-09-26 23:31] javiercn commented on #2882
Sorry, I meant Login as when a user logs-in

[2018-09-26 23:39] wessleym commented on #2882
@javiercn, right.  But why would a user signing into my site change the request validation cookie?  Why would signing in _specifically_ cause such an issue?  Would submitting any POST form cause this problem?

[2018-09-27 00:41] JunTaoLuo commented on #3468
This hasn't occurred in almost a month. Closing and relying on RaaS to tell us when this occurs again.

[2018-09-27 00:41] #3468 closed

[2018-09-27 02:12] garymacpherson commented on #3058
Thanks for the clarification, you are correct.

Cheers for looking into it anyway.

[2018-09-27 02:12] #3058 closed

[2018-09-27 07:56] generalpaul opened #5340 "ASP.NET Core SignalR Authentication on .net WPF returns - 401 (Unauthorized)"
I am trying to connecting the server using JWT authentication. I downloaded your sample
Docs/aspnetcore/signalr/authn-and-authz/sample and works fine.

However when connecting on .net client, it throws after the .StartAsync():
**Response status code does not indicate success: 401 (Unauthorized).**

I did this.
 options.AccessTokenProvider = async () =>
                          {

[2018-09-27 13:50] xied75 commented on #3527
BTW InMemoryDirectoryInfo is not under any test at all.

[2018-09-27 14:17] xied75 opened #3560 "[repo:FileSystem] weird implicit requirement on DirectoryInfoBase.Name for ".." in order to get Matcher work properly"
Per the code here:
https://github.com/aspnet/FileSystem/blob/b1865eb3d32655d2a816c9a1a4e6d160fa69ae52/src/FS.Globbing/Abstractions/DirectoryInfoWrapper.cs#L98

[code]

It seems that in order for a match to work with dot dot, e.g. 2nd InlineData

[code]
The derived type of DirectoryInfoBase would need to return ".." as the Name, rather than the actual parent directory name. I found this hard to und

[2018-09-27 14:25] benrhere opened #3561 "Unable to update implicitly to Microsoft.AspNetCore.App"
Create a brand new ASP.NET Core, empty project in VS 15.8.5. My machine ONLY has SDK 2.1.402 installed:

![image](https://user-images.githubusercontent.com/1451620/46152197-86323b80-c23e-11e8-856e-ab58e873ee1d.png)

This documentation : https://docs.microsoft.com/en-us/aspnet/core/fundamentals/metapackage-app?view=aspnetcore-2.1

states:

To update ASP.NET Core:
On development machines and build s

[2018-09-27 16:44] BrennanConroy opened #5341 "Expose CookieJar implementation to users"
We should expose the CookieJar implementation in Java so that users can provide things like persistent cookie storage if they want to.

This would require wrapping the `CookieJar` and `Cookie` classes in OkHttp.

[2018-09-27 17:11] natemcmaster commented on #3561
Our documentation on this package was recently yesterday to add more details about why you should not specify an explicit version. See https://docs.microsoft.com/en-us/aspnet/core/fundamentals/metapackage-app?view=aspnetcore-2.1. I also wrote a blog post explaining even more details on this: https://natemcmaster.com/blog/2018/08/29/netcore-primitives-2/#relationship-to-the-nuget-package.

**TLDR;*

[2018-09-27 17:11] #3561 closed

[2018-09-27 17:37] mkArtakMSFT commented on #2377
Sorry for our late response, @brockallen.
We're going to take this change for 3.0.

[2018-09-27 17:40] mkArtakMSFT commented on #2927
Closing this issue as there has been no involvement here for a while. If you are still facing this issue, please reopen.

[2018-09-27 17:40] #2927 closed

[2018-09-27 17:41] #3060 closed

[2018-09-27 17:47] mkArtakMSFT commented on #3308
Thanks for contacting us, @skkanagaraj.
Are you still facing this issue? If so, can you please share a repro proejct so we can investigate this further?

[2018-09-27 17:50] mkArtakMSFT commented on #3138
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-09-27 17:50] #3138 closed

[2018-09-27 17:51] mkArtakMSFT commented on #3299
Closing as a dupe of https://github.com/aspnet/Home/issues/3452.

[2018-09-27 17:51] #3299 closed

[2018-09-27 17:54] mkArtakMSFT commented on #3121
Hi. We're closing this issue as there's been no response and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-09-27 17:54] #3121 closed

[2018-09-27 17:56] mkArtakMSFT commented on #2232
Sorry for the late response on this one.
@dougbu, can you please look into this? Thanks!

[2018-09-27 17:57] mkArtakMSFT commented on #3392
Hi. We're closing this issue as there's been no response and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-09-27 17:57] #3392 closed

[2018-09-27 18:11] brockallen commented on #2377
Thanks

[2018-09-27 18:18] javiercn commented on #3171
This is by design. CORS is not meant to change the response produced by the server but only to prevent unauthorized origins from accessing the contents of the response. Anything that could be dangerous and couldn't be done before CORS is done through a preflight request and anything else could be done already without using CORS.

[2018-09-27 18:26] NTaylorMullen opened #14295 "Razor.LanguageServer can't handle restarts on already-open workspace."
Right now we rely on the client to provide the state of the world for a workspace. Instead, we need to have the server query for the state of the world on the client.

This looks like:
- Server Starts
- Server -> Asks client for all Razor projects
- Server -> Asks client for all Razor document

[2018-09-27 18:29] MattJeanes commented on #3085
This would be a great addition, as trying to port from Unity to ServiceProvider means I have to change everything from Func<T> to Lazy<T> which isn't a simple task for our (and I'm sure many others) codebases

[2018-09-27 18:36] benrhere commented on #3561
Hi @natemcmaster and @Eilon , thanks for your response. I did read through the document that you referenced before posting the question.

Are you saying that the version displayed there in NuGet has nothing to do with the version which will actually be pulled when I hit F5? (The version it points to isn't even installed on my machine.) Also, when I explicitly update the reference in the csproj fil

[2018-09-27 18:38] Eilon commented on #3256
Closing because it is not clear that any further action is required on this issue.

[2018-09-27 18:38] #3256 closed

[2018-09-27 18:38] #3279 closed

[2018-09-27 18:40] Eilon commented on #3290
@blowdart - putting this on your plate.

[2018-09-27 18:41] blowdart commented on #3290
Nope, I'm putting it on @ChrisSfanos

[2018-09-27 18:52] Eilon commented on #3290
@blowdart send email?

[2018-09-27 19:14] pranavkm commented on #3325
CORS does not generate errors - it's driven by the presence or absence of CORS specific headers that the browser can use to determine if a XHR or fetch request can be accessed by the client.  The `HttpPut` method constraint that you have should generate 404s (when using 2.1, or 405 when using endpoint routing that is being added in 2.2).

[2018-09-27 19:48] javiercn commented on #3027
@MrComic Your issue is different than the one expressed by @Corstiaan84.
Here are some general recommendations for your case:

Regarding mixing pages and API endpoints on the same application:
This usually means that you are either using cookie authentication for your APIs or that you have separate authentication mechanisms for your API endpoints and your webpage endpoints. The recommendation here

[2018-09-27 20:09] foconnor-DS opened #3562 "Private Bytes on Azure Web App grows until web app fails to respond to request"
A few weeks back we deployed a new version of a Web API. The API was originally built on .Net Core 1.1, we upgraded it to 2.0. After the upgrade deployed we noticed an unusual pattern in our memory usage. The application at "idle" was using a lot more working set bytes.  Previously it idled around 50MB, and now it was crossing over into 200MB. We also noticed ( after the application stopped respon

[2018-09-27 20:37] Eilon commented on #3562
@sebastienros can you offer any advice here?

[2018-09-27 21:21] Eilon opened #4125 "Add a sample that shows Azure AD multi-tenant-ish support"
Original issue: https://github.com/aspnet/Security/issues/102

E.g. using virtual schemes and adding tenants dynamically.

@blowdart can you fill in the details?

[2018-09-27 21:25] ajaybhargavb opened #5093 "[Tracking] Parser improvements feedback"
I'm putting all the miscellaneous improvements we want to do after we get the end-to-end working in the list below,

- [ ] Cleanup attribute value (First step: Get rid of `GenericBlock`)
- [ ] Cleanup how CSharpParser.ParseBlock()` works
- [x] Cleanup MarkupElementRewriter (Original comment: https://github.com/aspnet/Razor/pull/2624#pullrequestreview-160520343)
- [ ] Should we generate classified

[2018-09-27 21:28] arcadiogarcia commented on #2116
@Eilon, what is the best way for the community to express our interest in having this as an official NuGet package? This is something that would be very useful for UWP development :)

[2018-09-27 21:45] javiercn commented on #2882
@wessleym The cookie contains information about the user. Originally the tokens are generated for an anonymous user. (Different for each anonymous user). And when the user logs in, the antiforgery tokens get invalidated and a new set of antiforgery tokens specific to the logged in user is generated.

This error can also happen if the user press the back button after a successful login and tries to

[2018-09-27 21:52] wessleym commented on #2882
@javiercn, I see.  What you've described doesn't fit my issue for two reasons:
1.  I'm not using ASP.NET Core's authentication system in any way.  I have written my own authentication system separate from ASP.NET Core, and ASP.NET Core has no idea whether the user is signed in or not.
2.  Your test of submitting two forms ("Users can have a tab open, login with a user in another tab and then when

[2018-09-27 22:16] javiercn commented on #2882
@wessleym Not sure about 1. But essentially ASP.NET Core uses the principal in HttpContext.User to generate the antiforgery token pair, so if that changes the token will change.

This is only if the identity of the user changes between the two tabs (as the antiforgery tokens will change) and is actually by design so that you can't log in with a different user, get an antiforgery token pair and use

[2018-09-27 22:28] javiercn commented on #2882
@wessleym Have you followed the steps described in https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-2.1#data-protection.

I think that what might be happening is that IIS is stopping or rebooting the site and the keys used to protect the cookie aren't getting persisted and as a result new tokens are being generated with new keys after the site starting again.

[2018-09-27 22:28] sebastienros commented on #3562
It the most obvious reason from what I see. So one of the objects is either blocking the finalizers thread, or many objects have a slow finalizer implementation (like a Sleep in it or some IO calls). Could you get a trace of what all threads are doing? I know Perfview can do that if you are running on Windows. Or get a full memory dump, and then open it in Visual Studio.

[2018-09-27 22:31] foconnor-DS commented on #3562
I'll try.  I have full memory dumps. It's on azure and I'm not sure I can do the trace from Azure web app land.
________________________________
From: Sébastien Ros <notifications@github.com>
Sent: Thursday, September 27, 2018 4:29:23 PM
To: aspnet/Home
Cc: Frank O'Connor; Author
Subject: Re: [aspnet/Home] Private Bytes on Azure Web App grows until web app fails to respond to request (#3562)

I'm

[2018-09-27 22:48] Eilon commented on #3483
OK this should be done for all the ASP.NET/EF Core repos in this org. If you think I missed something, please let me know!

[2018-09-27 22:48] #3483 closed

[2018-09-27 22:49] javiercn commented on #2882
One thing you could do here is manually trigger a reboot yourself to see if this causes the issue to surface.

[2018-09-27 23:03] dougbu commented on #2232
@kostyamy, @coin8086, @gbfromhb, @fonbrauzen, @maikschoeneich, @suhasagubb, and @PSausM searching around a bit, I found the many recommendations which cover the IIS OPTIONSVerbHandler, ExtensionlessUrlHandler and CORS module in addition to the WebDav module e.g.
- https://stackoverflow.com/questions/22495240/iis-hijacks-cors-preflight-options-request
- http://geekswithblogs.net/abhijeetp/archive/2

[2018-09-27 23:24] halter73 opened #4714 "Seperate TimeoutControl into distinct types"
The new times would be for read timeout, write timeout, and generic timeout. The methods already appear to be distinct and grouped, the biggest overheard looks like it would be passing three types around.