[2018-03-06 23:41] Eilon opened #5770 "Cannot link external logins in 1.0.0/1.0.1 Individual auth templates"
_From @Eilon on October 24, 2017 21:42_

_From @HaoK on October 27, 2016 18:41_

Repro:
- New Individual Auth App
- Add 2 external auth providers (i.e. facebook/twitter/google)
- Register a local user and password
- Manage -> Add External Login -> First Facebook/twitter/google will work
- Second will result in access failed.

Original issue: https://github.com/aspnet/Identity/issues/1005

This has

[2018-03-06 23:59] blowdart commented on #2929
The filter might be affecting the returned MIME type, then windows takes over and prompts for an app in which to open it.

[2018-03-07 00:12] Legends commented on #2929
I've deleted this project, sorry...  Changed to a fresh Core 2.0 project... now it's much better..

[2018-03-07 00:12] #2929 closed

[2018-03-07 00:52] muratg commented on #2443
This wold also be a breaking change.

[2018-03-07 00:52] #2443 closed

[2018-03-07 00:54] muratg commented on #2442
Backlogging this.

cc @glennc FYI.

[2018-03-07 00:58] muratg commented on #2439
@sergeysomkov Did you end up figuring out what was wrong?

[2018-03-07 01:01] muratg commented on #2879
@javiercn Is this something you need or is it a "good to have"? Backlogging, but if you need for something specific, we can talk about bringing it back.

[2018-03-07 01:05] muratg commented on #2855
@riiight Let us know if you found out what component have added these headers.  Or if you could get a Fiddler trace?

[2018-03-07 02:09] kumpera opened #2930 "WebSockets failure when proxying v8 debugger protocol"
Hello everyone,

I'm using asp.net to proxy the v8 debugger protocol. It uses WebSockets.

I'm running into this exception that makes little sense to me. What could be causing it?
[code]

[2018-03-07 02:10] kumpera commented on #2930
It normally happens when the browser decides to send a large amount of data to the debugger.

[2018-03-07 03:25] rynowak commented on #2930
/cc @anurse

[2018-03-07 03:27] javiercn commented on #2879
Customers (and me) should not need to do
https://github.com/aspnet/Identity/blob/884a1b7dfcd82a2050ab027dc88f2e2750cd2c35/src/UI/IdentityDefaultUIConfigureOptions.cs#L52-L62 in a library to initialize static files before adding their own file providers. Is not obvious code to write and its easy to introduce bugs (in fact I already had one).

I'm not suggesting making this method mandatory, but jus

[2018-03-07 03:35] byzheng opened #2931 ".Net Core 2.1 for Proxy"
I am trying to use Proxy package (https://github.com/aspnet/Proxy), but get error about `AddProxy` is not defined. See details from here: https://stackoverflow.com/questions/42000362/creating-a-proxy-to-another-web-api-with-asp-net-core

Then I tried to compile the package from source codes. Add get an error about
[code]

[2018-03-07 03:48] Tratcher commented on #2931
Proxy is an unsupported experiment, please don't use it.

[2018-03-07 07:05] kumpera commented on #2930
Hey @anurse,

The scenario is the v8 debugger being flooded with messages when the browser finishes loading a wasm file with debug data and decided to tell the debugger that there are a few thousand source files in the web page.

It works fine without the proxy, so there's something wrong somewhere in my setup (my code or asp.net core).

I'll update to 2.1-preview1 to see if anything changes.

Mea

[2018-03-07 09:02] shaulbehr commented on #2928
@Eilon OK, I'll keep that in mind.
So let's say I start again with the basic infrastructure. In our current project we have a custom `Startup` class, which we declare in the `appSettings` section of `web.config` as
[code]
I understand `web.config` is no longer operative, so then where do I declare this?

[2018-03-07 09:23] davidfowl commented on #2928
This is no longer configuration based. In your Startup.cs you specify the Startup class via the WebHostBuilder. If you make a new ASP.NET Core project you should see a call to UseStartup.

[2018-03-07 09:52] shaulbehr commented on #2928
@davidfowl Ouch. We're using the "[Onion Architecture](http://jeffreypalermo.com/blog/the-onion-architecture-part-1/)", which, among other things, means our dependency injection layer sits *above* the API project, so that the project logic can be data-layer agnostic. The `Startup.cs` file is in the DI project. Using the web.config we could set the startup to point at the DI library, even though th

[2018-03-07 09:56] davidfowl commented on #2928
If you don't add a reference things won't work well.

There's an overload of UseStartup that takes a string that roughly maps to what `owin:AppStartup` provided. The problem is that the way assembly loading works on .NET Core currently, you can't just copy dlls to the output folder and have them be loadable. That's mostly because the dependencies need to be calculated at restore time and put into

[2018-03-07 10:04] davidfowl commented on #2928
Are you using .NET Core or .NET Framework?

[2018-03-07 10:05] shaulbehr commented on #2928
Right now: .NET Framework. But this is all in the context of migrating to .NET Core.

[2018-03-07 10:12] davidfowl commented on #2928
If you're running on .NET Framework then you don't really have to do anything. The assembly will Load just fine once it's in the output folder. On .NET Core you'll need to load it (and it's dependencies) into the default AssemblyLoadContext.

[code]

[2018-03-07 10:15] shaulbehr commented on #2928
Cool, thanks.

Where do we invoke this overload?

[2018-03-07 10:19] davidfowl commented on #2928
@shaulbehr have you made a new ASP.NET Core project as yet?

[2018-03-07 10:23] shaulbehr commented on #2928
Yes

[2018-03-07 10:41] davidfowl commented on #2928
You should be able to replace UseStartup<TStartup> with UseStartup("string")

[2018-03-07 10:58] shaulbehr commented on #2928
Pardon my ignorance, but where is `UseStartup` supposed to be? I searched through the new .NET Core web project and I don't see that string anywhere...

[2018-03-07 11:05] davidfowl commented on #2928
Did you create a new ASP.NET Core 2.0 project? If yes, there should be a Program.cs file that has the call to UseStartup.

![image](https://user-images.githubusercontent.com/95136/37089018-112a0b36-21b4-11e8-82d0-8643bcdeefdd.png)

I chose Web API. This is what Program.cs looks like:

![image](https://user-images.githubusercontent.com/95136/37089087-480395dc-21b4-11e8-86b7-ba48ed5140ac.png)

You c

[2018-03-07 11:20] shaulbehr commented on #2928
Aha. I created the project, but I deleted the classes that were generated with it, thinking they were just like `Class1.cs` sample code, then copied over the files from my .NET Framework project. That was an important piece I was missing, it seems...

[2018-03-07 11:25] shaulbehr commented on #2928
So, in your example, I presume `MyMagicAssemblyName` is the name of your referenced library. How, then, do we specify the class name? Does it have to be called "Startup"?

[2018-03-07 11:53] SebastianStehle opened #2932 "Service Container disposes twice"
Lets say `MyService` which implements `IService` and `IDisposable` and is registered in the following way:

    services.AddSingleton<IService, MyService>()
    services.AddSingleton<IInitializable>(c => c.GetRequiredService<IService>());

Because you have an initialization system and another class that uses IService.

Then Dispose might be called twice. I think it would be good to just replace th

[2018-03-07 12:34] shaulbehr commented on #2928
Another question: in our old implementation of `OAuthAuthorizationServerProvider` we had access to `context.OwinContext.Environment`, a dictionary of values stored in the Owin context.
If I've understood correctly, I need to convert our auth provider to inherit `OpenIdConnectServerProvider`, which seems to parallel most of the functionality, but I'm not sure what is analogous to the `Environment`

[2018-03-07 13:39] shaulbehr commented on #2928
Ah, I think it's replaced by the `HttpContext.Items` collection. But that doesn't appear to be accessible within the `OpenIdConnectServerProvider`? How do I get to it?

[2018-03-07 14:28] Syalas commented on #2262
I encounter exactly the same issue. But I'm running our .NET Core 2.0 App on a Linux hosting with Apache and ProxyPreserveHost. Sometimes after a few days sporadic 503 Errors appear. Funny thing is, it can happen on one client while another can still access the website. Though it's a really bad error, because I can't explain this our customer.

[2018-03-07 16:13] Tratcher commented on #2928
You'll need to ask over at https://github.com/aspnet-contrib/ for OpenIdConnectServerProvider.

[2018-03-07 18:01] pranavkm opened #4883 "DefaultApiDescriptionProvider does not support Task-like types"
If an action returns `Task<Product>`, ApiExplorer will unwrap the `Task` and report the response type as `Product`. We need to apply the same treatment to Task-like types e.g. `ValueTask<Product>`, which is supported by action invocation.

[2018-03-07 18:16] anurse commented on #2930
WireShark dumps would help a lot. The key is going to be figuring out who is terminating the connection and why. ASP.NET's WebSocket implementation adds almost nothing on top of the CoreFX ManagedWebSocket implementation (in fact, in 2.1-preview1, it is literally using the same code), so there may be an issue there.

Do you have a repro I can run locally?

[2018-03-08 03:47] huytnd opened #2933 "RequireHttpsMetadata set to false failed"
I'm building a asp.net core 2.0 solution with some projects. On my dev machine, I use OpenIdConnect and set RequireHttpsMetadata to false for testing, i get the exception as described below. If I set it to true, there is no problem.
[code]
Any suggestion for this problem? Thank you.

[2018-03-08 05:51] Tratcher commented on #2933
Duplicate of https://github.com/aspnet/Security/issues/1684

[2018-03-08 05:51] #2933 closed

[2018-03-08 06:14] fsfj opened #2934 "Multiple file and object posting using javascript"
How to post multiple file and an object to my action?

Here's the sample code

//ViewModel

[code]

//Action

[code]

I have already tried posting single object(OutgoingLetter) and IFormFile.
How can i get this two in a single post using javascript, not submitting the form. I just want to post it using javascript.

Thanks you!

[2018-03-08 06:39] almostchristian opened #2935 "Stack Overflow with DistributedSession access inside custom ILogger"
My custom ILogger implementation accesses the session object to retrieve and log the session ID, but the session has not been loaded yet and results in a recursion causing a StackOverflowException. The message during the recursion is 'Accessing expired session, Key:xxxx'. My custom logger uses `IHttpContextAccessor` to retrieve the HttpContext and ISession object.

The ISession is a DistributedSes

[2018-03-08 06:43] Tratcher commented on #2935
Write a middleware that accesses session and stores the ID in HttpContext.Items, which Logging can pull from. If the id isn't there then you break the loop by not including it.

[2018-03-08 08:12] almostchristian commented on #2935
Using a middleware to save the sessionId works. Is this issue known? Seems like the fix is simple.

[2018-03-08 10:53] neilmulhy opened #6006 "Add support for PATH_INFO server variable"
Hi there,

Can you please provide support for the PATH_INFO server variable on IIS. I'm trying to migrate my legacy MVC website to the new one I've built ASP.Net Core. I'm trying to migrate the URL rewrite rules but they don't work as they rely on the PATH_INFO server variable.

I get the following error when trying to run my application:
Unrecognized parameter type: 'PATH_INFO', terminated at str

[2018-03-08 13:54] hishamco commented on #2651
While we didn't hear any respond from @Martijn-Sharp around year ago, this should be closed

/cc @Eilon

[2018-03-08 13:59] hishamco commented on #2643
@pranavkm is this issue still occurs?!!

[2018-03-08 14:18] shaulbehr commented on #2928
@davidfowl - regarding your code sample:
I presume `MyMagicAssemblyName` is the name of your referenced library. How, then, do we specify the class name? Does it have to be called "Startup"?

[2018-03-08 18:06] Eilon commented on #2651
@hishamco agreed, closing. THanks!

[2018-03-08 18:06] #2651 closed

[2018-03-08 18:21] Eilon commented on #2934
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the `asp.net-core-mvc` tag.

[2018-03-08 18:21] #2934 closed

[2018-03-08 19:15] natemcmaster commented on #2292
Closing as we have condensed even more, and recommend using https://dotnet.myget.org/gallery/dotnet-core for official daily builds.

[2018-03-08 19:15] #2292 closed

[2018-03-08 19:35] natemcmaster opened #2937 "[Discussion] Moving official daily builds to the dotnet-core MyGet feed"
Discussion issue for https://github.com/aspnet/Announcements/issues/293

[2018-03-08 23:33] danroth27 opened #5480 "Local storage backed component state"
It would be convenient to be able to have component state backed by local storage. Something Like

[code]

Or maybe this?:

[code]

[2018-03-09 02:17] tb-mtg opened #2938 "Is LibraryManager replacement for Bower?"
The [LibraryManager](https://github.com/aspnet/LibraryManager) project looks very promising.

Is it meant to be a replacement for Bower?

Any idea when it will be ready to use?

[2018-03-09 06:03] roji commented on #2937
Just to be sure, should we be moving to the new feed right away? Your announcement says "this will happen over the next few weeks"...

[2018-03-09 07:47] natemcmaster commented on #2937
The preview1-final packages are currently the latest on dotnet-core. We hope to have an official daily build of preview2 bits up tomorrow on dotnet-core. I thought we'd get it out today, but churn happens so fast that a bunch of things broke. Keep an eye for it in the next few days

[2018-03-09 07:55] MikeInSwitzerland commented on #2019
"Let me prefix this by saying that I'm no fan of web.config but experience of publishing AspNetCore apps to IIS is really poor."

I couldn't agree more with this thread.

After the simplicity of config transformations in regular ASP.Net, this whole dependency on a machine-wide **ASPNETCORE_ENVIRONMENT** variable stinks.

Even Microsoft's own examples say we can use, say, an _appsettings.Production

[2018-03-09 07:56] richardhopton opened #2939 "Line length limit 100 exceeded on multipart form request"
When making the following request on my mac: -

[code]

Against the following controller method: -

[code]

I receive the following response: -
[code]
If I wrap the Request.Form access in a try catch the following exception stack trace is throw: -

[code]

[2018-03-09 07:58] qazq opened #4756 "Slow response when sending concurrent requests from the same connection"
I have a web API server that implements by ASP.NET core 2.0.

I have a web page that implements by Angular5. The page calls two different API concurrently. Each API response time about 300ms, but If I call API one by one, each response about 20ms. It seems like the request are locked by something?

To verify this issue, I create a Web API project by using default Visual Studio 2017 template.

[cod

[2018-03-09 07:59] roji commented on #2937
:+1:

[2018-03-09 08:21] richardhopton commented on #2939
After debugging the bytes of the incoming request Body, it only has new line characters and no carriage returns which BufferedReadStream requires to delimiter lines.  It sounds like this needs to be changed.

[2018-03-09 09:52] JanEggers opened #2940 "[Feature request] websocket support for proxy"
https://github.com/aspnet/Proxy should support websockets

as a starter something like this:

https://github.com/aspnet/JavaScriptServices/blob/dev/src/Microsoft.AspNetCore.SpaServices.Extensions/Proxying/SpaProxy.cs

[2018-03-09 14:18] fleed commented on #2713
Any update on this?

`httpContext.Request.Path.StartsWithSegments(segment)` with `Path` value of **/index.html** and `segment` set to **/** returns `false`.
Is it the expected behavior? then, how can I match the root and still have the `segment` configurable as variable, eventually root?

[2018-03-09 17:02] Tratcher commented on #2940
It already does...
https://github.com/aspnet/Proxy/blob/816f65429b29d98e3ca98dd6b4d5e990f5cc7c02/src/Microsoft.AspNetCore.Proxy/ProxyAdvancedExtensions.cs#L72

Also, Proxy is an abandon experiment,  we recommend you fork it if want to do any further development.

[2018-03-09 17:23] #2940 closed

[2018-03-09 18:08] natemcmaster opened #2941 "PersistKeysToFileSystem in Docker hosted in Linux fails with "Unknown error 524""
@joetherod commented on [Thu Mar 08 2018](https://github.com/aspnet/Hosting/issues/1343)

Trying to AddDataProtection for MVC Core app.
services.AddDataProtection()
                .PersistKeysToFileSystem(new DirectoryInfo("etc/keys/"))
                .SetApplicationName("AppName")

The Directory is a configured volume mount in the linux host.
If I dont use the volume mount, it works.
Volume mou

[2018-03-09 18:10] natemcmaster commented on #2941
@joetherod it doesn't look like this is an issue in the hosting layer of the application, so I've moved it here.

Can you also provide information about how you've started your docker container? I suspect this issue might be caused by Windows permissions and Docker for Windows. This has often been a problem that causes odd issues like this.

[2018-03-09 18:44] joetherod commented on #2941
job "dotnet-clientapp" {
  datacenters = ["datacenter"]
  type = "service"
  group "Dotnet.clientapp" {
    count = 2
    update {
      max_parallel      = 1
      health_check      = "checks"
      min_healthy_time  = "10s"
      healthy_deadline  = "5m"
      auto_revert       = false
      canary            = 0
      stagger           = "120s"
    }

    task "dotnet-clientapp" {
      driver

[2018-03-09 18:50] joetherod commented on #2941
FROM microsoft/aspnetcore:2.0

WORKDIR /app

COPY . /app

## Set to SIGTERM to gracefully clean up connections and processes
STOPSIGNAL SIGTERM
EXPOSE 80

RUN \
  DUMB_INIT_VERSION=1.2.1 && \
  DUMB_INIT_SHA256SUM=057ecd4ac1d3c3be31f82fc0848bf77b1326a975b4f8423fe31607205a0fe945 && \
  curl -fsSLo /sbin/dumb-init "https://github.com/Yelp/dumb-init/releases/download/v${DUMB_INIT_VERSION}/dumb-init_$

[2018-03-09 19:18] nickRSI319 commented on #1528
I'm working on a intranet application Angular5/.NetCore2 MVC5 (current RC stack from MS), we're using SSRS 2012, and need to create reports for users that are not the logged in windows account.

@figuerres Perhaps you have some ideas?

[2018-03-09 19:26] cgountanis commented on #1528
You can use SSRS and the reporting execution service that's built in to spit out PDFs all day long.

[2018-03-09 19:31] nickRSI319 commented on #1528
@cgountanis Thank you for such a quick response, you helped me realize I wasn't descriptive/accurate enough when describing what I need to do. I've updated my original comment to say "create timebased report subscriptions"

[2018-03-09 19:34] ExcaliburVT commented on #1528
Hmm think I did something like that by inserting subscription schedule rows directly into the report database (guessed how the subscription service worked based on the table and existing rows).

[2018-03-09 19:42] nickRSI319 commented on #1528
@ExcaliburVT I've used the SOAP API and a large SP to interact with the DB thus far, and would like to avoid modifying the DB directly. I'm happy to know there is a fallback option.

[2018-03-09 19:43] figuerres commented on #1528
what do you mean by timebased ?

do you need to run a report at a given time ?
do you need to run a report when a user does something ?

[2018-03-09 19:44] DamianEdwards commented on #2938
Yes. Right now we're hoping it will land in the next minor update to Visual Studio 2017.

[2018-03-09 19:44] #2938 closed

[2018-03-09 19:45] nickRSI319 commented on #1528
@figuerres time based, meaning on a recurring schedule such as every wednesday at 8am.

[2018-03-09 19:48] davidfowl opened #5886 "Support Memory<byte> and Span<byte> overloads on body streams"
This requires a little bit of design so that we can take advantage of the fact that we are given a `Memory<byte>`

[2018-03-09 19:48] ExcaliburVT commented on #1528
Yeah I was not able to find a way to do that without inserting a record manually at least back to SQL 2012. If I remember right you don’t have to modify schema or anything just insert a row in the subscriptions table and I was able to send a report to a distribution group that way.

[2018-03-09 19:48] figuerres commented on #1528
ok then the report server portal can run a report on a planned scedule, it can save it to a file or send an email when that time happens.
you do not need to have anyone logged in when it runs.

you just create the subscription from the portal.

you can also do that from the soap api but i am not sure of the exact set of api calls to make.

[2018-03-09 20:01] nickRSI319 commented on #1528
Allow me to give more context before talking about what I've seen from the soapAPI.

I'm writing a webapp that uses the SSRS soapAPI and credentials like "ssrsReportWebAdmin". In development right now the "ssrsReportWebAdmin" has all the security roles, but based on documentation it seems the Content Manager role is the one that is needed. A user will use the webapp to create subscriptions for oth

[2018-03-09 20:17] figuerres commented on #1528
so calling the api you are passing a cred object for user  "ssrsReportWebAdmin" that has all roles but you get an error that it does not have permission ?? interesting....

[2018-03-09 20:24] nickRSI319 commented on #1528
from what I've read SSRS is setup so the only person who can create standard (recurring, time based) subscriptions is the user themselves. Datadriven subscriptions can be setup by the Content Manager role.

See ContentManagerTasks - Manage All Subscriptions
https://technet.microsoft.com/en-us/library/ms159693(v=sql.105).aspx

See first sentence under header begins "Reporting Services supports two

[2018-03-09 22:23] #2386 closed

[2018-03-09 22:24] #2387 closed

[2018-03-09 23:44] glennc opened #5913 "Display package version instead of assembly version on error page"
The error page we have embedded shows the assembly version of hosting. But AFAIK that's the only place we display that information. If I depend on preview1-final today and then look a the error page it shows me a build number. Which immediately confused me and made me think I had made a mistake about depending on a pre-release somewhere.

Can we embed the `-final` version and use that here instead

[2018-03-10 00:51] ajcvickers commented on #2381
Triage: we are not going to implement this at this time. However, with appropriate feedback we could revisit this.

[2018-03-10 00:51] #2381 closed

[2018-03-10 00:54] ajcvickers commented on #2382
@tgropper Sorry for taking so long to respond. We believe this is an issue with the underlying file system, rather than an issue in the options mechanisms themselves. If you are still hitting this, then consider filing an issue on the https://github.com/dotnet/corefx repo for the underlying issue.

[2018-03-10 00:54] #2382 closed

[2018-03-10 01:12] ajcvickers commented on #2385
Duplicate of https://github.com/aspnet/Configuration/issues/694

[2018-03-10 01:12] #2385 closed

[2018-03-10 04:17] fritogotlayed commented on #2852
I would love to have a fix for this as well. Even if it's just an additional command line switch for now. My use case is a `Makefile` where I'd like to be able to run the app via make and have it pick up the setting appropriately.

FWIW the code here is my "example": https://github.com/fritogotlayed/corp-hq/blob/mongo-demo/Makefile#L17-L19

[2018-03-10 06:13] moozzyk commented on #2358
https://github.com/aspnet/SignalR/issues/1568

[2018-03-10 10:52] dallancarr commented on #2852
@fritogotlayed . Imho. You shouldnt access the Debug folder in that way for production purposes. The

output should be referenced

[2018-03-10 11:18] willapp commented on #2019
Yes, **please fix this**!!

I have just deployed my first production dotnet core site, and now face the issue that I can't easily have a staging instance on the same server because I don't know how to publish my app onto the same box without it picking up the production settings.

I think I'm going to try @DaleMckeown solution for now, I think it will work but it does feel like a workaround rather

[2018-03-10 12:45] DaleMckeown commented on #2019
@willapp My suggestion is definitely a workaround. But it does work - I've had multiple versions of the same app running on the same server for a while now and haven't had any issues.

Just remember to change the 'ActiveEnvironment' setting before you publish and you should be fine.

[2018-03-10 13:08] Matthew-Bonner opened #2942 "Add ability to inspect IFileProvider root once set"
You can specify the IFileProvider root but you can't find out what the root is once it is set.

From a security standpoint, if a file provider root is set, we need to be able to get this value back so that we can inspect it if required.

[2018-03-10 13:11] Matthew-Bonner commented on #2942
Actually, in the latest code this is no longer an issue.

[2018-03-10 13:11] #2942 closed

[2018-03-10 16:00] fritogotlayed commented on #2852
@dallancarr That Makefile reference is for local dev only. Production is done through a docker file. https://github.com/fritogotlayed/corp-hq/blob/mongo-demo/app/api/Dockerfile . The `dotnet publish` can be seen on line 12 :-). Definitely thanks for the tip though!

[2018-03-10 16:13] fritogotlayed commented on #2852
For anyone else that stumbles across this thread I'll admit I am an idiot. I missed the `-p` flag when I was reading the docs on [`dotnet run`](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-run?tabs=netcore2x). I'll update my previous comment link so the code doesn't change when I amend my branch.

[2018-03-10 20:27] mywebpower commented on #2941
Just to add some background on the issue.  The containers are scheduled using Hashicorp Nomad.  The keys directory is a NFS share on the Docker Host.  The Docker Host is running Centos 7.4.  The volume is visible and writable inside the container.  The process currently runs as root in order to test.

[2018-03-10 23:41] EricBourland opened #2943 "The library 'hostpolicy.dll' required to execute the application was not found"
I'm getting this error any time I try to run an asp.net core 2.1.0-preview1-final mvc app.

Steps to reproduce:
dotnet new mvc
dotnet build
dotnet run

I'm using Windows 7

[2018-03-11 14:33] shaulbehr opened #2944 "How to get the Request Uri inside an IAuthorizationHandler?"
I'm implementing claims-based security referencing [this article](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies). My API endpoint is of the form: `api/Things/{thingId}`, and the authorization handler must parse the request URI to get the `thingId` and verify that the current user has rights to the `Thing` in question.

I don't see any way to get the `Request` object

[2018-03-11 15:03] Tratcher commented on #2944
@HaoK

[2018-03-11 15:15] S0und opened #2945 "Exclamation mark in the filepath"
I'm not internally sure if i'm posting this at the right place.

I started learning, dotnetcore + angular a few days ago, and i run into a frustrating issue:

"Content root path: F:\VS2012\!dotNetCore\vega"
notice the Exclamation mark in the filepath: !dotNetCore

[code]

If i remove the (!) from the filepath, everything works just fine.

[2018-03-11 15:32] shaulbehr commented on #2944
I think I found it right at the bottom of the article I referenced.
[code]

[2018-03-11 20:07] jmudavid opened #2946 "Travis-CI builds cannot connect to Test Platform on OS X"
Hello,
I noticed that the Travis CI builds are failing after the last set of updates made automatically to dependencies.props.  I saw this issue in JsonPatch which I am using, but also saw it within the CORS project.  There may be others impacted as well.  I don't know where the CI process is managed or who has access.  Is there anybody with experience in CI who could help out.
Thanks!

[2018-03-11 22:38] Tratcher commented on #2946
Please link to Travis runs you're concerned about. We know about some issues and have bugs filed to track them.

[2018-03-11 23:46] jmudavid commented on #2946
@Tratcher,

Thanks.  Here is the latest from JsonPatch.
https://travis-ci.org/aspnet/JsonPatch/builds/352066224

It seems like they started with this build:
https://travis-ci.org/aspnet/JsonPatch/builds/351024194

I was poking around to see if an other projects had the issue and found the same error in CORS: https://travis-ci.org/aspnet/CORS/builds/351019817

I didn't look any further than that.
T

[2018-03-12 00:44] Tratcher commented on #2946
FYI: I saw similar issues in ServerTests on runtime 2.1.0-preview2-26225-03 but they went away when I updated to 2.1.0-preview2-26308-01.

https://travis-ci.org/aspnet/ServerTests/jobs/351602085
https://travis-ci.org/aspnet/ServerTests/jobs/351608917

RE: https://github.com/aspnet/ServerTests/pull/104

[2018-03-12 00:45] Tratcher commented on #2946
@ryanbrandenburg

[2018-03-12 01:26] Eilon commented on #2945
This issue was moved to aspnet/JavaScriptServices#1572

[2018-03-12 01:26] #2945 closed

[2018-03-12 03:33] zhongj2 opened #4755 "dotnet core 2 app returning 502.3 error"
### Description
Occasionally, we are observing our dotnet core 2 application returning 502.3 errors.

The application is been served via IIS and we verified that the application process is indeed running and listening to a port. That exact port number is also been set in by environment variable ASPNETCORE_PORT for that process.

When attempting to telnet to the process on that port number, we are

[2018-03-12 10:02] #2944 closed

[2018-03-12 10:13] shaulbehr opened #2947 "Can you create authorization policies without using magic strings?"
In [this article](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies) I see that you declare your authorization policy using a magic string:
[code]
And then you tag your controller/endpoint with:
[code]
So, let's say I have multiple endpoints, with different age requirements for each. Do I then need to declare a separate policy for each age cutoff?
[code]
That's really no

[2018-03-12 11:31] Lutando commented on #2947
Ask in aspnet/Security

[2018-03-12 11:35] shaulbehr commented on #2947
@Lutando OK, moved [here](https://github.com/aspnet/Security/issues/1689).

[2018-03-12 11:35] #2947 closed

[2018-03-12 16:52] Eilon commented on #2943
@JunTaoLuo / @livarcocc any idea on this?

[2018-03-12 16:57] livarcocc commented on #2943
I am not sure what mvc app installed with the installer means. Can you clarify?

[2018-03-12 17:03] EricBourland commented on #2943
I meant I installed 2.0.1-preview1 with the windows installer then tried to run a new mvc app

[2018-03-12 17:07] livarcocc commented on #2943
Then what do you mean by this? Are you downloading a zip of the SDK and that seems to work? And then you copy the contents of the zip into the Program Files installation that the MSI did and it fails again?

[2018-03-12 17:26] pakrym opened #6007 "Consider using ActivatorUtilities.CreateFactory in CompressionProviderFactory"
`ActivatorUtilities.CreateInstance` is 30x slower than invoking factory delegate.

[2018-03-12 18:06] natemcmaster commented on #2941
I don't see anything obvious in the setup that would lead to this error.

Does it repro if you run this code?
[code]

FYI - the code that is throwing isn't doing anything special with file permissions: https://github.com/aspnet/DataProtection/blob/2.0.1/src/Microsoft.AspNetCore.DataProtection/Repositories/FileSystemXmlRepository.cs#L213-L239

[2018-03-12 18:27] Eilon commented on #2852
Thank you for your feedback. We're closing this issue as the behavior discussed seems to be by design.

[2018-03-12 18:27] #2852 closed

[2018-03-12 18:36] pakrym opened #2948 "Consider using ActivatorUtilities.CreateFactory in AuthenticationHandlerProvider"
`ActivatorUtilities.CreateInstance` is 30x slower than invoking factory delegate.

/cc @Tratcher  @HaoK

[2018-03-12 18:38] pakrym opened #2949 "Improve performance of ActivatorUtilities.CreateInstance"
While it could never reach the performance of invoking the factory delegate there is a lot of possible improvements (especially around allocations) in `ActivatorUtilities.CreateInstance`

[2018-03-12 18:41] pakrym commented on #2923
Done in https://github.com/aspnet/Common/pull/326

[2018-03-12 18:41] #2923 closed

[2018-03-12 19:06] HaoK commented on #2948
I'm not familiar with the CreateFactory method, how does that behavior compared to CreateInstance, what are the main differences between the two methods?

[2018-03-12 19:08] HaoK commented on #2948
Namely we need the authentication handlers to be created per request with new instances of their ctor args, so if CreateFactory is faster because its not getting things from DI every time, that won't work...

[2018-03-12 19:12] pakrym commented on #2948
It optimizes constructor selection and invocation by generating ` delegate object ObjectFactory(IServiceProvider serviceProvider, object[] arguments);` that you can call repeatedly.
The only thing that is fixed is type being resolved so the delegate has to be cached per requested type.

[2018-03-12 19:15] HaoK commented on #2948
So the only time you should use CreateInstance is when its a one time creation, all other times we should prefer CreateFactory?

[2018-03-12 19:19] pakrym commented on #2948
Yes, especially if it's anywhere close to "per request"

[2018-03-12 19:42] gitfortee opened #2950 "dotnet core web api exception handling - unhandled exceptions"
The Main method in Program.cs in my dotnet core web api project has the following code.

[code]
I also setup an exception handling middleware like this:

[code]
Should i also add a `AppDomain.CurrentDomain.UnhandledException` ? to the` Main` method - since dotnet core web api is a console application?. Do I loose/gain any chances of trapping exceptions without this?

[2018-03-12 19:44] joetherod commented on #2941
@natemcmaster tried your test and it works fine with no exceptions. Could it be because the file location is different from the default location?

[2018-03-12 19:45] gitfortee commented on #2950
Also submitted an issue here: https://github.com/dotnet/core/issues/1338

[2018-03-12 20:00] natemcmaster commented on #2941
Unlikely. I picked that file path from your logging output above. The stack trace is this:
[code]

@stephentoub any ideas how to figure out what error 524 might mean for a File.Move call?

[2018-03-12 20:10] javiercn opened #5481 "Normalize MSBuild paths"
Paths in our MSBuild stuff are using `/` we want to normalize them to use `\`. We didn't do it at the time due to issues with invoking the linker. We just need to investigate if it was an error in normalizing them or if the paths need to be using '/'.

Filing this item to track this although is low priority given that it doesn't impact the build or the user experience in any way.

[2018-03-12 20:29] stephentoub commented on #2941
This is the error that comes back from libc for errno 524, as can be seen with:
[code]
I've not seen this errno value before, though, and don't know what it means.  Searching around the net, some sites suggest it's ENOSUPP, but I'm not sure in what circumstances this would happen.

[2018-03-12 20:31] nickRSI319 commented on #1528
@figuerres @ExcaliburVT
I was able to create standard subscriptions to both email and fileshares using an AD account with the Content Manager SSRS role. From what I can see the permissions issue I was running into Friday was a side effect of a blank/malformed MatchData parameter.

[2018-03-12 20:49] natemcmaster commented on #2941
This is the only clue I have to offer.

@joetherod @mywebpower - to reproduce this in isolation from aspnetcore, can you try testing some other `File.Move` actions? Large files, concurrent writes, `File.Move` if the file already exists, writing a bunch of files in a blast, setting a file watcher on the directory, etc. The `File.Move` action from `FileSystemXmlRepository` may not be the issue. For

[2018-03-12 20:55] JamesNK opened #5285 "Compile hub method invoke as needed"
Today SignalR will compile invoke code for all methods on a hub the first time the hub is accessed, e.g. if a hub has 1000 methods on it then all 1000 will be compiled at once.

MVC compiles invoke code as needed, e.g. a lightweight list of actions is calculated for a controller, and then when an action is first used the invoke code is compiled.

[2018-03-12 21:28] shirhatti opened #3816 "Indicate to IIS that a response can be kernel cached"

[2018-03-12 21:30] shirhatti opened #3807 "Implement SendFileAsync feature"
For In-Proc

https://github.com/dotnet/aspnetcore/blob/d804e5d6fd6158c3ebc96e1b87788c9b9fc08d36/src/Http/Http.Features/src/IHttpResponseBodyFeature.cs#L44

[2018-03-12 21:30] javiercn opened #5482 "Investigate further size reduction optimizations"
Right now we run the mono linker optionally as a build step.
By linking the app we reduce anything that is not used/referenced directly by the application.
There are things that are left behind after this process that will likely not work. For example things related to remoting, binary serialization, etc.

We should look into what we can cut while keeping the app working.
Maybe we can do something

[2018-03-12 21:36] Tratcher commented on #2950
You have request threads and the Main thread covered, but UnhandledExceptions would cover background threads.

[2018-03-12 22:03] javiercn opened #5483 "Investigate ways of making the linker faster"
Linking adds 4.792s on my machine for Standalone app. We might need to find ways to make it faster if we want to enable it during builds.

## "Incremental linking".
* As part of the linking process we generate a file with all the roots that we found in the linking process and the things that they reference.
* When we run the linker a second time, we load this file with the old roots and with the e

[2018-03-12 23:57] javiercn opened #5484 "Tests for the build pipeline"
It would be nice to have some tests that verify that the right build outputs are produced/updated/etc. We can probably follow whatever Razor does for RazorCompilation

[2018-03-13 03:05] jhkimnew opened #3804 "ANCM: Inprocess: Usability: Need to write an event error about that standard log file can't be generated if IISExpress is started with console window"
According to the below code, we don't support the standard log feature when IISExpress is started with console window. I think we should add an warning event when this happen so that users can figure out why the standard log file is not generated.

Repro step:
1. Start app with IISExpress in inprocess mode from command window with enabling stdoutLogEnabled="true"
2. Send a request

EXPECTED:

Log

[2018-03-13 03:09] EricBourland commented on #2943
yep, exactly

[2018-03-13 06:27] aspnet-hello opened #2951 "OneDrive on the roadmap?"
_From @SQL-MisterMagoo on Tuesday, October 13, 2015 2:54:28 AM_

Hi, Just wondering if anyone is planning on implementing OneDrive webhooks into this project?
Thanks

_Copied from original issue: aspnet/WebHooks#15_

[2018-03-13 06:27] aspnet-hello commented on #2951
_From @garora on Saturday, October 17, 2015 12:21:59 PM_

Earlier, I supposed to give a try with reference to [onedrive](https://dev.onedrive.com/misc/appfolder.htm). But, due to other priorities, I wouldn't able to start. I can give a try but not sure when. @HenrikFrystykNielsen - do you have any plans? I would love to take this initiative. Unfortunately, currently I have other priorities.

[2018-03-13 06:27] aspnet-hello commented on #2951
_From @HenrikFrystykNielsen on Tuesday, October 27, 2015 7:47:18 AM_

Does OneDrive support WebHooks?

[2018-03-13 06:27] aspnet-hello commented on #2951
_From @garora on Tuesday, October 27, 2015 7:55:35 AM_

After visiting documentation of OneDrive, did not find relevant information.

[2018-03-13 06:27] aspnet-hello commented on #2951
_From @SQL-MisterMagoo on Tuesday, October 27, 2015 8:45:20 AM_

It's in preview still, but the details are available here : [Service-to-service notifications (preview)](https://dev.onedrive.com/misc/webhooks.htm)

I was just wondering if it would be on the roadmap, as I would like to try it out, and this seems like the right tool for the job.

If it's not on the roadmap, that's all I need to know

[2018-03-13 06:27] aspnet-hello commented on #2951
_From @HenrikFrystykNielsen on Saturday, October 31, 2015 8:34:32 AM_

We'd definitely be happy to have support for it! if you'd like to help submitting a PR then it will likely go faster ;)

[2018-03-13 06:27] aspnet-hello commented on #2951
_From @garora on Friday, June 3, 2016 2:15:00 AM_

Documentation is moved here [WebHooks](https://dev.onedrive.com/webhooks/webhooks.htm).
@SQL-MisterMagoo , @HenrikFrystykNielsen  - is anyone working on this?

[2018-03-13 06:27] aspnet-hello commented on #2951
_From @HenrikFrystykNielsen on Saturday, June 4, 2016 12:46:45 PM_

Not at the moment...

[2018-03-13 06:27] aspnet-hello commented on #2951
_From @garora on Saturday, June 4, 2016 11:14:01 PM_

I'd try it after completing one, I am working on.

[2018-03-13 06:27] aspnet-hello commented on #2951
_From @HenrikFrystykNielsen on Tuesday, August 2, 2016 2:00:38 PM_

awesome!

[2018-03-13 06:27] aspnet-hello commented on #2951
_From @garora on Monday, January 16, 2017 1:42:07 AM_

Putting it on hold due to [Issue#92](https://github.com/aspnet/WebHooks/issues/92)

[2018-03-13 06:27] aspnet-hello commented on #2951
_From @garora on Monday, August 21, 2017 4:44:22 AM_

Still waiting for a solution for #92

[2018-03-13 06:27] Eilon commented on #2951
Oops, bot misbehaving again... Ignore this issue.

[2018-03-13 06:27] #2951 closed

[2018-03-13 06:28] aspnet-hello opened #2952 "OneDrive on the roadmap?"
_From @SQL-MisterMagoo on Tuesday, October 13, 2015 2:54:28 AM_

Hi, Just wondering if anyone is planning on implementing OneDrive webhooks into this project?
Thanks

_Copied from original issue: aspnet/WebHooks#15_

[2018-03-13 06:28] aspnet-hello commented on #2952
_From @garora on Saturday, October 17, 2015 12:21:59 PM_

Earlier, I supposed to give a try with reference to [onedrive](https://dev.onedrive.com/misc/appfolder.htm). But, due to other priorities, I wouldn't able to start. I can give a try but not sure when. @HenrikFrystykNielsen - do you have any plans? I would love to take this initiative. Unfortunately, currently I have other priorities.

[2018-03-13 06:28] aspnet-hello commented on #2952
_From @HenrikFrystykNielsen on Tuesday, October 27, 2015 7:47:18 AM_

Does OneDrive support WebHooks?

[2018-03-13 06:28] aspnet-hello commented on #2952
_From @garora on Tuesday, October 27, 2015 7:55:35 AM_

After visiting documentation of OneDrive, did not find relevant information.

[2018-03-13 06:28] aspnet-hello commented on #2952
_From @SQL-MisterMagoo on Tuesday, October 27, 2015 8:45:20 AM_

It's in preview still, but the details are available here : [Service-to-service notifications (preview)](https://dev.onedrive.com/misc/webhooks.htm)

I was just wondering if it would be on the roadmap, as I would like to try it out, and this seems like the right tool for the job.

If it's not on the roadmap, that's all I need to know

[2018-03-13 06:28] aspnet-hello commented on #2952
_From @HenrikFrystykNielsen on Saturday, October 31, 2015 8:34:32 AM_

We'd definitely be happy to have support for it! if you'd like to help submitting a PR then it will likely go faster ;)

[2018-03-13 06:28] aspnet-hello commented on #2952
_From @garora on Friday, June 3, 2016 2:15:00 AM_

Documentation is moved here [WebHooks](https://dev.onedrive.com/webhooks/webhooks.htm).
@SQL-MisterMagoo , @HenrikFrystykNielsen  - is anyone working on this?

[2018-03-13 06:28] aspnet-hello commented on #2952
_From @HenrikFrystykNielsen on Saturday, June 4, 2016 12:46:45 PM_

Not at the moment...

[2018-03-13 06:28] aspnet-hello commented on #2952
_From @garora on Saturday, June 4, 2016 11:14:01 PM_

I'd try it after completing one, I am working on.

[2018-03-13 06:28] aspnet-hello commented on #2952
_From @garora on Monday, August 1, 2016 3:42:12 PM_

I'm going to pick this one!

[2018-03-13 06:28] aspnet-hello commented on #2952
_From @HenrikFrystykNielsen on Tuesday, August 2, 2016 2:00:38 PM_

awesome!

[2018-03-13 06:28] aspnet-hello commented on #2952
_From @garora on Monday, January 16, 2017 1:42:07 AM_

Putting it on hold due to [Issue#92](https://github.com/aspnet/WebHooks/issues/92)

[2018-03-13 06:28] aspnet-hello commented on #2952
_From @garora on Monday, August 21, 2017 4:44:22 AM_

Still waiting for a solution for #92

[2018-03-13 06:30] aspnet-hello opened #2953 "OneDrive on the roadmap?"
_From @SQL-MisterMagoo on Tuesday, October 13, 2015 2:54:28 AM_

Hi, Just wondering if anyone is planning on implementing OneDrive webhooks into this project?
Thanks

_Copied from original issue: aspnet/WebHooks#15_

[2018-03-13 06:30] aspnet-hello commented on #2953
_From @garora on Saturday, October 17, 2015 12:21:59 PM_

Earlier, I supposed to give a try with reference to [onedrive](https://dev.onedrive.com/misc/appfolder.htm). But, due to other priorities, I wouldn't able to start. I can give a try but not sure when. @HenrikFrystykNielsen - do you have any plans? I would love to take this initiative. Unfortunately, currently I have other priorities.

[2018-03-13 06:30] aspnet-hello commented on #2953
_From @HenrikFrystykNielsen on Tuesday, October 27, 2015 7:47:18 AM_

Does OneDrive support WebHooks?

[2018-03-13 06:30] aspnet-hello commented on #2953
_From @garora on Tuesday, October 27, 2015 7:55:35 AM_

After visiting documentation of OneDrive, did not find relevant information.

[2018-03-13 06:30] aspnet-hello commented on #2953
_From @SQL-MisterMagoo on Tuesday, October 27, 2015 8:45:20 AM_

It's in preview still, but the details are available here : [Service-to-service notifications (preview)](https://dev.onedrive.com/misc/webhooks.htm)

I was just wondering if it would be on the roadmap, as I would like to try it out, and this seems like the right tool for the job.

If it's not on the roadmap, that's all I need to know

[2018-03-13 06:30] aspnet-hello commented on #2953
_From @HenrikFrystykNielsen on Saturday, October 31, 2015 8:34:32 AM_

We'd definitely be happy to have support for it! if you'd like to help submitting a PR then it will likely go faster ;)

[2018-03-13 06:38] Eilon commented on #2952
Bad bot. Ignore.

[2018-03-13 06:38] #2952 closed

[2018-03-13 06:38] Eilon commented on #2953
Bad bot. Ignore.

[2018-03-13 06:38] #2953 closed

[2018-03-13 06:41] garora commented on #2952
This issue has been moved here from [#15](https://github.com/aspnet/WebHooks/issues/15). Are we planning to move webhook repository here or what is the plan?

[2018-03-13 06:48] Eilon commented on #2952
Nope, the bot was misbehaving. The bot was reprimanded and is now behaving correctly 😄

[2018-03-13 09:28] 82lijinliang commented on #2821
HTTP(S)代理服务器：127.0.0.1:49981     china    no

[2018-03-13 13:19] joetherod commented on #2941
We are going to use redis to store the keys. Unfortunately there is no resolution to this issue. The key store location needs to be accessed by many containers.
Thanks!

[2018-03-13 17:07] blowdart opened #2954 "Microsoft Security Advisory CVE-2018-0787: ASP.NET Core Elevation Of Privilege Vulnerability"
# Microsoft Security Advisory CVE-2018-0787: ASP.NET Core Elevation Of Privilege Vulnerability

## Executive summary

Microsoft is releasing this security advisory to provide information about a vulnerability in ASP.NET Core versions 1.0, 1.1 and 2.0. This advisory also provides guidance on what developers can do to update their applications to remove this vulnerability.

Microsoft is aware of a s

[2018-03-13 18:25] gitfortee commented on #2950
@Tratcher could you please help me understand how does this affect an asp.net core Web Api application - i mean covering for UnhandledExceptions or not doing that - for example if I use pinvoke in my Web Api project.. Should i use `AppDomain.CurrentDomain.UnhandledException` in such cases..?

thanks!

[2018-03-13 18:31] Tratcher commented on #2950
It's not what you do, it's what thread you do it on that matters. E.g. exceptions in Startup happen on the main thread and would exit out via Program.Main. Exceptions in middleware / MVC are on the request thread and are caught by exception middleware or the server. You would have to force an operation off onto the thread pool via Task.Run or similar before you could have a problem that UnhandledE

[2018-03-13 18:34] Eilon commented on #2950
@gitfortee what exactly are you trying to achieve?

[2018-03-13 19:41] Daniel15 commented on #2954
Are there any more details on what "fails to validate web requests correctly" means and/or a PoC for this?

[2018-03-13 19:56] damianh commented on #2381
Well that's unfortunate. Guess I'll just have keep thus yucky code in my application 😞

        public void Configure(string name, OpenIdConnectOptions options)
        {
            var config = Task
               .Run(async () => await _config.Retrieve())
               .WaitAndUnwrapException();
            options.Authority = org.IdpConfig.Authority;
            options....
        }

[2018-03-13 20:09] blowdart commented on #2954
No. We don’t publish more details or PoCs. The finder might and we don’t want to take that away from them, nor should you need them to decide to update. EoP should be enough.

[2018-03-13 22:24] aspnet-hello opened #2955 "SlabMemoryPool page size"
_From @muratg on Tuesday, March 6, 2018 3:34:30 PM_

_From @tmds on March 6, 2018 10:0_

SlabMemoryPool is using PageSize.

[code]

Suppose page size is large, e.g. 2MB. Now our application is using 2MB buffers and a slab is 64MB.
Perhaps it is desired to still use 4KB buffers and have a slab of 2MB?

CC @davidfowl @benaadams

_Copied from original issue: aspnet/KestrelHttpServer#2365_

_Copied fr

[2018-03-13 22:24] aspnet-hello commented on #2955
_From @muratg on Tuesday, March 6, 2018 3:34:30 PM_

_From @davidfowl on March 6, 2018 10:29_

Yea, that change is dubious @benaadams. We might be better off going with a fixed value here.

[2018-03-13 22:24] aspnet-hello commented on #2955
_From @muratg on Tuesday, March 6, 2018 3:34:31 PM_

_From @benaadams on March 6, 2018 19:48_

https://github.com/dotnet/corefxlab/pull/2099#discussion_r167065489

[2018-03-13 22:30] pranavkm opened #2956 "[Diagnostics]: Add support for providing pdb sources for assemblies in DeveloperExceptionPage"
DeveloperExceptionPage has smarts to read portable pdbs for assemblies on disk. The bulk of this code lives in this type - https://github.com/aspnet/Common/blob/dev/shared/Microsoft.Extensions.StackTrace.Sources/StackFrame/PortablePdbReader.cs#L15. Unfortunately, this API does not have a way to support reading pdbs for assemblies that are not emitted to disk such as runtime compiled Razor Views. T

[2018-03-13 22:35] pranavkm commented on #2956
cc @Eilon

[2018-03-14 00:01] NTaylorMullen opened #5051 "Re-enable MonoDevelop FilePath based tests when proper strong named dlls are available."
This is the commit that skipped the tests: https://github.com/aspnet/Razor/commit/a6d03bd4071052c535d51c783ef88cf5150c0a7b

/cc @KirillOsenkov

[2018-03-14 01:51] SteveSandersonMS opened #5485 "Proper E2E test for blazorwasm template"
Now we have project templates and publishing, we should have a maximally end-to-end test that:

 * Installs the project template package
 * Creates a new project via `dotnet new`
 * Restores and builds, launches it in the dev server, verifies it works via browser automation
 * Check that live reloading works when a source file is edited (when live reloading is implemented)
 * Publishes
 * Launches

[2018-03-14 08:23] AzureGulf commented on #1674
How (or should that be HTF) can you consider this closed? Same problem (in latest VS2017 UWP app EF SQLite etc), only fixed by adding line to <PropertyGroup> in .netStandard Class Library that creates DBContext as "documented"(!!) deep in the user comments on the page referred to by @bricelam above, see: https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/powershell ---- why?

[2018-03-14 10:20] angrymrt opened #2957 "Response caching middleware doesn't allow injection of IResponseCache"
The response caching middleware uses a MemoryCache object to cache responses and it is hardcoded in the public constructor to use it. See: https://github.com/aspnet/ResponseCaching/blob/dev/src/Microsoft.AspNetCore.ResponseCaching/ResponseCachingMiddleware.cs. This makes it impossible to provide your own implementation of IResponseCache. I would for example like to create a DistributedResponseCach

[2018-03-14 10:49] tpeczek commented on #2957
You can go around this, please take a look here: https://www.tpeczek.com/2018/03/redis-backed-response-caching-in-aspnet.html

[2018-03-14 10:57] angrymrt commented on #2957
@tpeczek thanks, this is useful as a temporary hack, but I would prefer an official solution for this.

[2018-03-14 11:12] tpeczek commented on #2957
@angrymrt I went arround, because according to discussion [here](https://github.com/aspnet/ResponseCaching/commit/f125329ed70a5aeaa28d5ecfaf433aed8e318a59#diff-10af08b8eec1eb0744eabb7defa3c966) it has been done on purpose.

[2018-03-14 12:31] smartcodinghub opened #2958 "ResponseCaching with authorize"
Hi,

I'm trying to implement ResponseCaching but all my request are Authenticated. My exact needs are to cache all GET request varying on all the query (with *) and on the Authorization header.

I don't find a way to do this and the official page that you can't cache requests with the Authorization header.

Since near all the applications needs some kind of authentication, I can't find a way to no

[2018-03-14 12:38] Tratcher commented on #2958
Public caching if authenticated resources is highly ineffective. Such resources should only be privately cached on the client.

[2018-03-14 12:45] smartcodinghub commented on #2958
That depends on the use case. We have only a bunch of clients concurrently, but they make tons of request. So I don't find it that ineffective.

You are suggesting to only add the Cache-Control to all that requests with private?

[2018-03-14 13:08] Tratcher commented on #2958
Yes, cache user specific content privately on that user's local machine, not in a public cache on the server.

[2018-03-14 13:16] SteveSandersonMS opened #5486 "Standalone dev server can't determine whether to run in Debug or Release mode"
Currently, the standalone dev server in `Microsoft.AspNetCore.Blazor.Cli` is hardcoded to look for app binaries in `(sourceRoot)\bin\Debug`. If you're launching from the command line, it isn't aware of any `-c Release` flag, and if you're launching from VS, it doesn't know which solution configuration you have enabled.

At the moment although I have an idea of how we could fix it for the command l

[2018-03-14 13:44] akoeplinger commented on #2954
I updated to `Microsoft.AspNetCore.All, 2.0.6` but when deploying the app to IIS with the 2.0.6 Hosting Bundle installed the app fails with:

[code]

It seems the bundle doesn't contain the updated packages? Do I need to switch to self-contained deploy?

[2018-03-14 14:20] mshindal commented on #2954
How do you know `Microsoft.AspNetCore.Mvc.Core` is vulnerable here? I don't see it listed as one of the vulnerable packages at the top of the announcement.

[2018-03-14 14:24] akoeplinger commented on #2954
@mshindal that's a generic example to show how transitive dependencies work, not specific to the vulnerable packages here.

[2018-03-14 14:50] jbuffin commented on #2954
There is mention of IIS, nginx, and Apache. Would it be correct to say that apps behind HAProxy would be protected as well?

[2018-03-14 15:15] Tratcher commented on #2954
@akoeplinger there are some known issues with the bundle installer we are addressing. See https://github.com/aspnet/IISIntegration/issues/658#issuecomment-372751438

[2018-03-14 15:17] akoeplinger commented on #2954
@Tratcher ok, I thought that specific issue was addressed already since I was able to install the Hosting Bundle and it had the usual ~90MB size. It just doesn't include the updated packages.

[2018-03-14 15:31] springy76 commented on #2954
Your VS tooling "support" for transitive NuGet references is **POOR** -- and now very dangerous!

Ever looked at a project like OrchardCore? There ist not "**the** project.assets.json" -- there are 131 of them in the range of 12KB .. 650KB.

That the NuGet update won't handle `$(MicrosoftAspNetCoreServerKestrelCorePackageVersion)` automatically in a smart way is additional hurdle for the person wh

[2018-03-14 15:58] codehippie1 commented on #1528
Almost 2 years. Core 2.0 is released. SSRS team, wake up.

[2018-03-14 16:23] natemcmaster commented on #2954
@akoeplinger I'll take a look.

[2018-03-14 17:27] natemcmaster commented on #2954
@akoeplinger can you try installing the ASP.NET Runtime Core Package Store installer? https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.0.6-download.md#aspnet-runtime-core-package-store. It appears the Windows Server Hosting bundle does not contain the 2.0.6 package store.

[2018-03-14 17:55] Eilon commented on #2954
Hi all,

As has been noted in this thread, there is a problem with the ASP.NET Core 2.0.6 Windows Server Hosting Bundle. The problem is that it installs an older version of the ASP.NET Core Runtime Store. We are working on a fix for this and expect to have the fixed build out later today. We will post an update here and the link when it is ready.

Current action item: Please don't install the curr

[2018-03-14 19:37] ryanbrandenburg commented on #2866
More details on the offending errors here:
[code]
An [example](http://aspnetci/project.html?projectId=AspNetEf&buildTypeId=&tab=testDetails&testNameId=-2621883684559447801&order=AGENT_ASC&branch_AspNetEf=__all_branches__&itemsCount=50).

Future instances of this error should show up in [this](http://aspnetci/httpAuth/app/rest/builds?locator=tag:CertificateSequence,sinceDate:201710010T000000-0001&f

[2018-03-14 20:02] akotranza commented on #2954
Or those hosted on AWS and behind a load balancer, as they rewrite the Hosts header. Probably the same for GCP load balancers as well, etc, etc.

More general explanation, rather than corporate branding, would have been better here to help those of us (who really like dotnet core but aren't wedded to Azure) to understand the priority of remediating this vulnerability. (And for those that still wan

[2018-03-14 23:23] NTaylorMullen opened #5052 "Pasting content prior to @model's TypeName selects everything pasted."
The scenario:
[code]

Now imagine you want to get rid of the using statement so you copy `Some.Namespace` and paste it right before `Person`.

You'd expect for the paste to go through and then to type `.`. What actually happens is the `Some.Namespace` is selected and then you end up replacing it with `.`.

VS: 15.7 preview1

Chances are this is an external issue but we should investigate neverthel

[2018-03-14 23:41] HarelM commented on #2536
Any updates on when an official release will have this fix?

[2018-03-14 23:46] natemcmaster commented on #2536
It's in the patch release that went out yesterday.

https://www.nuget.org/packages/Microsoft.Extensions.FileProviders.Physical/2.0.1

[2018-03-14 23:49] HarelM commented on #2536
@natemcmaster, Thanks for the update, hopefully I will be able to migrate to 2.0 finally :-)!

[2018-03-14 23:54] momadthenomad commented on #289
How can we create our own documentation website like https://docs.microsoft.com/ internally without re-inventing the wheel? We use a hosted readthedocs for python docs and a hosted doxygen for c/c++ docs.

What is the best way to get all the API docs under one roof? From reading this thread, it seems many people use sphinx/readthedocs but how are you converting your .XML documentation to the right

[2018-03-15 00:40] natemcmaster commented on #2911
Ping @muratg @DamianEdwards - can we assign a milestone and priority on this one?

[2018-03-15 01:32] FabioMorcillo opened #2959 "Service Scoped but need force new"
In application .NET Core with Dependency Injection after some problems, i need service created Scoped, dispose the current injected instance object with new, how i can do it ?

[2018-03-15 02:31] muratg commented on #2911
@natemcmaster If the SDK feature request is implemented, we won't need to change the tools themselves, right?

[2018-03-15 05:11] Eilon commented on #2959
@FabioMorcillo can you provide a bit more info about what your requirements are and what you've tried?

[2018-03-15 05:59] Vatsi opened #2960 "ASP.Net Core Web API with Full Framework does not deploy as FDD"
Hi,
I recently created ASP.Net Core Web API with the full framework as I wanted to use my existing .net Framework binaries and SAML 2.0 authentication.

My project file looks like following.

`<PropertyGroup>`
`<TargetFramework>net462</TargetFramework>`
`</PropertyGroup>`

`<PropertyGroup>`
`<AssemblySearchPaths>$(AssemblySearchPaths);{GAC}</AssemblySearchPaths>`
`</PropertyGroup>`

`<ItemGroup>`

[2018-03-15 06:46] Eilon commented on #2960
@JunTaoLuo can correct me if I'm wrong, but the Runtime Store as well as Self-Contained Deployment apply only when running on .NET Core. When running on .NET Framework the GAC is used.

[2018-03-15 07:25] buglloc commented on #2954
I think this nginx configuration are [still vulnerable](https://github.com/yandex/gixy/blob/master/docs/en/plugins/hostspoofing.md):
  - simple test config:
[code]
  - test it:
[code]

Please change `$http_host` to `$host` variable.

[2018-03-15 10:24] FabioMorcillo commented on #2959
In Startup:

public void ConfigureServices(IServiceCollection services)
{
    .....
    // Register application services.
    services.AddScoped<IService, Service>();
}

In Application:

public void Process()
{
    .....
    <Here i need dispose the Service registered in scope and register new instance of Service in this scope to continue execution>
    .....
}

[2018-03-15 13:59] lukzog commented on #2954
Hi,
Is it possible to configure HttpSys to support wildcard subdomain? i.e.
`options.UrlPrefixes.Add("https://*.consoso.com:443");`

How about Asp Net Core applications hosted in SF behind ApplicationGateway proxy? Are they susceptible to this vulnerability.

[2018-03-15 14:03] crowcoder commented on #1899
I am experiencing this behavior as well in Asp.Net Core 2.0, with a referenced library containing an `IValidatableObject` targeting .Net Standard 2.0.
It is not until all `[Required]` validations are satisfied that the custom validations in `Validate()` are executed. In other words, I have to post an object to my controller with all required fields before anything else will be reported in modelsta

[2018-03-15 14:53] Tratcher commented on #2954
Yes HttpSys has the same support for wildcard subdomains as IIS, it requires Win10/2016.

[2018-03-15 14:58] Tratcher commented on #2954
Most hosters use shared IPs and reverse proxies that require FQDNs and should be protected. If your site has a dedicated public IP then you are more likely to be affected.

We'll confirm SF & AG.

[2018-03-15 15:31] leecow commented on #2954
@blowdart , @Eilon - Please have a look at https://github.com/aspnet/Home/issues/2954#issuecomment-373284921

[2018-03-15 15:34] blowdart commented on #2954
@pranavkm - please validate https://github.com/aspnet/Home/issues/2954#issuecomment-373284921

[2018-03-15 16:01] guardrex commented on #2954
Is there a new hosting bundle installer link yet?

I thought we were going to use `https://aka.ms/dotnetcore-2-windowshosting` as a semi-permanent (2.x anyway) link; but at least for the time being, that's still pulling down `DotNetCore.2.0.5-WindowsHosting.exe`. https://github.com/aspnet/Docs/issues/5688

[2018-03-15 16:41] #2960 closed

[2018-03-15 16:41] Stamo-Gochev opened #20209 "Using System.Reflection.TypeExtensions.GetProperties in .NET Core 2.0"
I am using a Class Library project, whose target frameworks are `net451` and `netstandard1.6`, which dynamically compiles a class in a way similar to the example here (a "standard" way to do the compilation):

https://github.com/dotnet/roslyn/issues/16211#issuecomment-372998985

but inside a method in `MyClass`, I want to retrieve all public properties like this (the actual code is the string of t

[2018-03-15 16:47] akotranza commented on #2954
My previous comment was inaccurate, so deleted. Here is some more info for those wanting to fix the issue and running on AWS. This is AWS specific, so it's slightly off topic perhaps, but hopefully will help someone else!

For anyone running on AWS behind a load balancer (classic or v2), there are some issues to setting up the filtering, whether using NGINX etc. or using the Kestrel middleware.

1

[2018-03-15 17:25] Leonardo-Ferreira opened #2961 "Microsoft.AspNetCore.All 2.0.6 crashing on azure"
This package, when deployed to azure won't start reporting a 502.5... i had to rollback to 2.0.0

[2018-03-15 17:28] Tratcher commented on #2961
The Azure deployment hasn't completed yet. Follow https://github.com/Azure/app-service-announcements/issues/92

[2018-03-15 17:28] #2961 closed

[2018-03-15 17:43] Tratcher commented on #2954
@akotranza there's some CIDR IP range logic in HttpOverrides you can borrow: https://github.com/aspnet/BasicMiddleware/blob/8b58a9a0917315cef4aac6d0ffb44144d9df9bf1/src/Microsoft.AspNetCore.HttpOverrides/ForwardedHeadersOptions.cs#L68
https://github.com/aspnet/BasicMiddleware/blob/8b58a9a0917315cef4aac6d0ffb44144d9df9bf1/src/Microsoft.AspNetCore.HttpOverrides/IPNetwork.cs

[2018-03-15 17:55] Eilon commented on #2959
What calls the `Process` method? If the service is registered in DI it will be disposed when its scope has ended. If you dispose it yourself manually then that will cause unexpected behavior in the app, won't it?

[2018-03-15 17:56] pranavkm commented on #2954
@blowdart using `$host` is the right thing to do. Thanks for the detailed instructions @buglloc

[2018-03-15 17:58] blowdart commented on #2954
@Rick-Anderson Update needed for config docs for NGINX

[2018-03-15 18:01] blowdart commented on #2954
@buglloc Issue updated both here and in announcements, thank you.

[2018-03-15 18:31] buglloc commented on #2954
@blowdart thanks!

[2018-03-15 19:48] TonyValenti opened #2962 "Issue in Microsoft.Net.Http.Headers 2.0.2"
Hi All,
I'm not sure if this was intended or not, but it looks like the constructor signature of EntityTagHeaderValue changed.  It used to accept a string and now it accepts a StringSegment.  This is causing MissingMethodExceptions in third party libraries such as Swashbuckle and such:

System.MissingMethodException: 'Method not found: 'Void Microsoft.Net.Http.Headers.EntityTagHeaderValue..ctor(Sy

[2018-03-15 20:03] natemcmaster commented on #2911
Correct. It sounds like the SDK team is open to adding the obsolete message to Microsoft.NET.Sdk, but we should make a PR to added it.

[2018-03-15 20:06] kierenj commented on #1528
@codehippie1 dont be so rude. we’re all human beings here. grow up!

[2018-03-15 20:17] Eilon commented on #2962
@TonyValenti in what version did it previously work?

[2018-03-15 20:23] Eilon commented on #2954
From @preetikr in https://github.com/dotnet/core/issues/1341#issuecomment-373508095:

[2018-03-15 20:36] guardrex commented on #2954
@Eilon The link here to "Server Hosting Installer" is broken: https://www.microsoft.com/net/download/dotnet-core/runtime-2.0.6

Also, I understand the link is in the **Windows** section, but it might be a little better if the link text match the docs (at least match better than it does now).

Suggestions:
* Windows Server Hosting Installer
* Windows Server Hosting Bundle
* Windows Server Hosting B

[2018-03-15 20:45] Tratcher commented on #2962
This is an intentional breaking change between 1.x and 2.x.

[2018-03-15 20:50] #2962 closed

[2018-03-15 21:21] codehippie1 commented on #1528
It was merely a joke in the developer cave. No offenses meant whatsoever. Jokes apart, ReportViewerForMVC has 72,799 downloads now spanning from early 2014 (https://www.nuget.org/packages/ReportViewerForMvc). SSRS team has ignored ASP.NET MVC for many years, and now ignoring ASP.NET Core for 2 years. Talking of being rude, 72,799 times is a lot.

[2018-03-15 21:24] cgountanis commented on #1528
I would settle for a nice export to PDF library officially supported, no need for the viewer these days with responsive requirements the way they are.

[2018-03-15 21:27] HaoK commented on #2948
Is this something that should be done for preview 2 or is this a pretty safe change we can do as a perf fix in rc?

[2018-03-15 21:54] ajaybhargavb opened #2963 "CommandLineApplication does not share its Out and Error writers with its list of Commands"
Consider an application with a command,
[code]

I would expect any `Out.WriteLine()` or `Error.WriteLine()` calls within `MyCommand` to use my CustomWriter. But it uses Console.Out and Console.Error.

[2018-03-15 22:49] Antaris opened #2964 "[Advice] Tackling multi-tenancy with stock DI - open generics"
Hi team,

I'm tackling a design around supporting multi-tenancy in my application. Up until now, I've entirely relied on the stock DI libraries for all my IoC needs. To handle multi-tenancy, I wanted to enable scenarios around service lifetime that segregates tenant-scoped services away from singletons, scoped and transient services.

I know [saaskit](https://github.com/saaskit/saaskit) has gone a

[2018-03-15 22:59] jasondaicoder opened #2965 ".net Core web application using DataProtection with redis as storage provider"
Hi guys,

I have a .net core 2.0 web api project which is deployed as AWS Lambda using data protection with redis as storage provider. I followed the article https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/configuration/overview?tabs=aspnetcore2x to set up. I also use x.509 certificate for the key encryption. However I always get the below errors during the startup.

Some cod

[2018-03-15 23:03] natemcmaster commented on #2965
@jasondaicoder can you shared some code snippets? Which APIs are you using to configure redis and x.509 key encryption? This might be a duplicate of an issue I recently fixed, but can't tell for sure...

[2018-03-15 23:11] jasondaicoder commented on #2965
@natemcmaster , I have updated the original post to include some code snippets.

[2018-03-15 23:17] natemcmaster commented on #2965
I suspect you've run into this: https://github.com/aspnet/Home/issues/2321. Can you see if this workaround fixes the issue?

----
Add the X509Certificate object to the X509Store.
[code]
---

If it does, then this workaround won't be necessary once 2.1.0-preview2 is out (see https://github.com/aspnet/DataProtection/pull/299 and https://github.com/aspnet/DataProtection/pull/300)

[2018-03-15 23:25] jasondaicoder commented on #2965
@natemcmaster , thanks for you solution. My service is deployed as Lambda on AWS, wonder if the My Store is still available as the host would not be windows.

[2018-03-15 23:28] natemcmaster commented on #2965
It should still work. It's how our automated tests on Linux/macOS worked around the issue. In .NET Core 2.0, the BCL team added an X509Store shim for Linux.

[2018-03-15 23:50] alexiordan opened #5287 "What is the proper way to reconnect?"
Since reconnect is gone, when using WebSocket as transport layer what is the advisable way for attempting to maintain a connection always on (by attempting reconnection when connection drop is detected)?

It is more like a documentation issue since I didn't find it in documentation.

On **server side** I have set a KeepAlive of 3 seconds. I have also seen a NegotiateTimeout property. What is it fo

[2018-03-16 00:19] Eilon commented on #2954
@guardrex thanks for pointing this out.

@leecow / @preetikr - can you take a look at the broken download link on https://www.microsoft.com/net/download/dotnet-core/runtime-2.0.6 that points to https://download.microsoft.com/download/8/D/A/8DA04DA7-565B-4372-BBCE-D44C7809A467/DotNetCore.2.0.6-WindowsHosting.exe (not found)?

[2018-03-16 00:27] leecow commented on #2954
@rowanmiller - releases.json has the correct, updated, filename. Can you see why the Server Hosting Installer link on `https://www.microsoft.com/net/download/dotnet-core/runtime-2.0.6` is resolving to `DotNetCore.2.0.6-WindowsHosting.exe` rather than `DotNetCore.2.0.6-1-WindowsHosting.exe`?

[2018-03-16 02:45] jasondaicoder commented on #2965
@natemcmaster , with the code you provided, I'm getting the below new exceptions

at System.RuntimeTypeHandle.CreateInstance(RuntimeType type, Boolean publicOnly, Boolean& canBeCached, RuntimeMethodHandleInternal& ctor)
at System.RuntimeType.CreateInstanceSlow(Boolean publicOnly, Boolean skipCheckThis, Boolean fillCache, StackCrawlMark& stackMark)
at System.Activator.CreateInstance(Type type, Bool

[2018-03-16 02:52] rowanmiller commented on #2954
Merged the latest version of the release metadata file into the website, and the download is working now. We keep a separate copy of the file for various reasons.

[2018-03-16 02:53] natemcmaster commented on #2965
Is your container running on a read-only filesystem?

[2018-03-16 03:05] jasondaicoder commented on #2965
It's deployed and run on AWS Lambda as a serverless application. Not sure if it's related. Maybe Lambda doesn't allow the application to access certain directory like certificate store as the service is deployed to the shared host. I will ask AWS team to get more info.

[2018-03-16 03:09] natemcmaster commented on #2965
@bartonjs do you happen to know if there is a way to control where the X509Store puts certs on your path on Linux?

@jasondaicoder another option (if you're feeling brave) is to try a nightly build of DataProtection. You can get those from this NuGet feed: https://dotnet.myget.org/F/aspnetcore-dev/api/v3/index.json. For example, https://dotnet.myget.org/feed/aspnetcore-dev/package/nuget/Microsoft.

[2018-03-16 03:20] jasondaicoder commented on #2965
@natemcmaster , sorry I can't try the nightly build at the moment. Also I don't think AWS will allow the Lambda application to access the certificate store as the Lambda applications are launched on shared host, accessing especially writing would cause security issues. Are there any other way to solve the problem?

[2018-03-16 03:32] raban33 commented on #2965
@jasondaicoder - Another option is to store these certs organized in s3 so it reads on startup and stores it in Os.temp folder path. That way you wont run into issues accessing cert store. Lambda allows you to only write to temp folder.

[2018-03-16 03:39] jasondaicoder commented on #2965
@raban33, I don't need to store the cert on the AWS host. I was suggested by @natemcmaster  to use the workaround which opens and tries to write the cert store. This is the issue where AWS doesn't allow the Lambda function to write the store.

[2018-03-16 03:51] raban33 commented on #2965
@jasondaicoder, well looking at your code snippet, you need a cert to persistkeys to redis and when working with distribute computing, its better to store on s3 bucket and read it as its one time per lambda initialization, what stops you from accessing from s3?

[2018-03-16 04:05] jasondaicoder commented on #2965
@raban33 , we store the certificate content in application.json file. The problem is not about where we store the cert, it's the code which opens and writes the cert store on AWS Lambda host.

[2018-03-16 04:46] javiercn commented on #2866
I tried this on the agent by running the tests in a loop for 100 iterations and I coudn't repro it. I've added more logging to capture some diagnostic information if the test fails another time. https://github.com/aspnet/Common/pull/329

I don't think there's any more action to take here for preview2

[2018-03-16 04:59] rynowak commented on #2772
@mkArtakMSFT @Eilon - this is a VS tooling issue and unrelated to routing.

The applicationhostconfig has the wrong base path value after completing step 7 of the repro steps.

[2018-03-16 05:00] Eilon commented on #2954
Thanks @rowanmiller and @leecow , the link seems to work for me now!

[2018-03-16 05:05] Eilon commented on #2772
@rynowak would it make sense to log a bug in TFS for this?

[2018-03-16 05:09] rynowak commented on #2772
Yeah I think that makes the most sense, I've already vetted these repro steps and talked to @BillHiebert - we just need an actual follow up

[2018-03-16 06:16] BrennanConroy opened #2966 "Add Span support to WebEncoders"
We should add span overloads to the WebEncoders class, and also use the Base64Encoder/Decoder classes from CoreFX
https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/Buffers/Text/Base64Encoder.cs

[2018-03-16 06:19] davidfowl commented on #2966
Hey @gfoidl, care to take a look at this one? Seems up your alley 😄

[2018-03-16 07:16] NGancevich opened #2967 "Culture info ru-BY missed in .NET core 2.0.6 on Windows Server 2012 R2"
I have Localization on my asp.net core 2.0.6 and it's working on local machine. But when I publish to IIS on server 2012 r2 it's throwing an exception
Application startup exception: System.Globalization.CultureNotFoundException: Culture is not supported.
Parameter name: name
ru-by is an invalid culture identifier.
   at System.Globalization.CultureInfo.InitializeFromName(String name, Boolean useUs

[2018-03-16 07:41] Antaris commented on #2959
@FabioMorcillo  Additionally, I think one of the core designs around the stock DI is it doesn't support recomposition - you can't replace services on an already constructed container. Try and keep the moving parts to a minimum.

What I think would be better if you delegated the lifetime of the object around a scoped object acting as a container of sorts:

[code]

This would allow you to manage the

[2018-03-16 09:13] ststeiger commented on #1528
@cgountanis: Generate a HTML template (correct paper size - html-only, images as base64, inline-styles). Fill in the placeholders, and don't forget to set the HTML-encoding to utf8. Send text to StandardInput of wkhtmltopdf - fetch output from StandardOutput of wkhtmltopdf. And then, you have something much better than SSRS.

[2018-03-16 09:20] davidfowl commented on #2964
/cc @sebastienros

[2018-03-16 09:20] gfoidl commented on #2966
I'll have a look and try to route it down this alley 😄

[2018-03-16 09:21] #2955 closed

[2018-03-16 09:22] davidfowl commented on #2955
Fixed

[2018-03-16 09:37] davidfowl commented on #2966
@gfoidl some quick ideas:

- Add some benchmarks so we have a performance baseline
- Write the core API against Span and forward all the existing API calls to that versions
- For the APIs that return a string, we can compute the destination length and use the new string.Create method in .NET Core 2.1 (requires an ifdef but it's worth it).
- Add a `Span<byte>` overload for UTF8 data specifically
-

[2018-03-16 09:46] Erwinvandervalk commented on #1528
@cgountanis I've contemplated such an approach, but generating a pixel perfect report with page headers / footers and line breaks in logical places is not easy.

[2018-03-16 09:54] davidfowl commented on #2898
@JunTaoLuo did we ever look at this?

[2018-03-16 10:21] gfoidl commented on #2966
Thanks for the pointers. I'll try to make progress over the weekend, today is at bit busy...

To be sure:
https://github.com/aspnet/Common/blob/dev/shared/Microsoft.Extensions.WebEncoders.Sources/WebEncoders.cs is meant?
https://github.com/aspnet/HtmlAbstractions/tree/dev/src/Microsoft.Extensions.WebEncoders is unrelated to this change

[2018-03-16 12:58] uazo opened #5487 "Make autogenerated BlazorComponent views partial class"
I would like to split the Razor c # + html template from the purely functional code of the view and I tried to make every generated class contained in "BlazorRazorComponents.g.cs" with the partial modifier (simply adding it in "Microsoft.AspNetCore.Blazor.Razor. Extensions \ BlazorRazorEngine.cs ").

So my views are composed in

nomeview.cshtml       <- html layout
nomeview.cshtml.cs   <- function

[2018-03-16 13:24] raban33 commented on #2965
AFAIK,AWS Lambda has Write access to temp folders only. If you already have the read capability, why do we have to write to cert store? I am bit confused on what are you trying to achieve.

[2018-03-16 14:24] BrennanConroy commented on #2966
Correct

[2018-03-16 14:26] MattJeanes opened #2968 "Announcements repository"
There's been a couple of cases the past few weeks where people have been commenting on or raising issues within the https://github.com/aspnet/Announcements repository, annoying everyone who subscribes to the issues for legitimate announcements

E.g:

* https://github.com/aspnet/Announcements/issues/297
* https://github.com/aspnet/Announcements/issues/290

Is it not possible to make issues read-onl

[2018-03-16 14:36] Tratcher commented on #2968
No, that's a GitHub limitation.

[2018-03-16 15:37] bartonjs commented on #2965
@natemcmaster It will be built under $HOME.  Or it'll ask the system where HOME should be (if the env variable isn't set).  Redirecting that one environment variable is the only customization allowed

[2018-03-16 16:45] natemcmaster commented on #2965
I was trying to suggest a workaround for #2321. In 2.0 when using `. ProtectKeysWithCertificate()`, DataProtection cannot decrypt the keys unless the certificate is in the X509Store. This will be fixed in 2.1.

Thanks @bartonjs. @jasondaicoder - if you can set $HOME to Lambda's temp dir, you might be able to make this work.

But if that doesn't work, then I'm out of ideas on simple workarounds. Yo

[2018-03-16 17:01] uazo opened #5488 "Trigger a js custom event after Blazor boot complete"
I need to register some javascript functions (using Interop.registerFunction.ts), but currently I can't because `window ['Blazor'].registerFunction` is made available only after booting.

Is it possible to insert a 'BlazorOnLoad' event after boot() in boot.ts?

[2018-03-16 17:06] JunTaoLuo commented on #2898
Nope we never triaged this. cc @muratg

[2018-03-16 17:15] Eilon commented on #2968
I updated the issue template at https://github.com/aspnet/Announcements/blob/master/.github/ISSUE_TEMPLATE to have a bigger warning not to post there. Aside from that, there's unfortunately not much we can do.

[2018-03-16 17:15] #2968 closed

[2018-03-16 17:37] MattJeanes commented on #2968
Ah okay, that sucks. Might be a good idea to lock the issues to collaborators as soon as they are raised too to stop people commenting on them. Thanks though!

[2018-03-16 17:41] sebastienros commented on #2964
We took this approach in Orchard Core, have you looked at how it's done there? I could suggest you to use Orchard Core directly as it will provide more than just multi-tenancy, things that you will probably need for SaaS applications (modularity, theming, admin panel, user/role management, permissions, openid, ...).

PS: Orchard Core and Orchard Core CMS are two different sets of packages, you won

[2018-03-16 18:07] ryanbrandenburg opened #2969 "Broken test: AutobahnTests.AutobahnTestSuite"
This test failed [on the ci](http://aspnetci/viewLog.html?buildId=422662&buildTypeId=XPlat_Windows_Win2008r2_Universe).

[code]

Future instances of this failure can be found on [this](http://aspnetci/httpAuth/app/rest/builds?locator=tag:SSLCommonAlgo,sinceDate:201710010T000000-0001&fields=build(startDate,buildTypeId,status,branchName,webUrl,tags)) list.

[2018-03-16 18:07] natemcmaster commented on #2967
This issue was moved to dotnet/corefx#28145

[2018-03-16 18:07] #2967 closed

[2018-03-16 18:14] #2871 closed

[2018-03-16 18:37] JustinPullen commented on #2954
@akotranza I wanted to hear your thoughts about ALBs specifically.

If one is forwarding requests with a  subdomain "subdomain.example.com", all other requests fall into a target that is not pointed to any applications and there is no other method to access the application except through the ALB at the specified subdomain is the Kestrel middleware still needed?

[2018-03-16 19:46] akotranza commented on #2954
@JustinPullen Judging by how that AWS says they've implemented host-based routing for their ALBs

and assuming your application instances are in a private subnet and incoming traffic is locked down to that from the ALB, I would lean towards the host filtering middleware being redundant.

Thanks for asking this, now I'm thinking that a quicker mitigation for our services that use path-based routing

[2018-03-16 20:29] KrzysztofCwalina commented on #2966
It would be also good if the encoders supported encoding/decoding UTF8 buffers.

cc: @GrabYourPitchforks

[2018-03-16 20:37] Eilon commented on #2630
Discussed within the team and we feel that given there is a workaround for this issue in 2.0, and that it's fixed in the upcoming 2.1 release, we will not patch this.

[2018-03-16 20:37] #2630 closed

[2018-03-16 20:45] Antaris commented on #2964
@sebastienros Just reviewed how it is done in OrchardCore - its nice to know I was on the right track. I can see a couple of issues with the approach which I'm sure you've already considered

- Adding the open generics as singletons in the tenant service collection effectively means they are not true singletons, a singleton instance could exist for each tenant - I had this same thought, I can't se

[2018-03-16 20:51] Eilon commented on #2968
@MattJeanes yup we already lock all issues there (though we might forget sometimes), but sometimes even a collaborator inadvertently comments on things there. If we can only remove all humans from the equation, the problem would be solved! 😄

[2018-03-16 20:59] sebastienros commented on #2964
The lifetime of the singletons is interesting, the way we register them means that they are not disposed once a tenant stopped or recycled. This actually raised some concerns in the DI that the team handle quickly. So if we pass a custom instance, the DI won't try to dispose it, it our instance. There is still an issue that is open which is about being explicit during the registration to provide t

[2018-03-16 22:28] mkArtakMSFT commented on #2866
@javiercn has added additional logging so we can get more details in the next failure (if there will be such). Moving to the `rc` milestone to give it more time to show up. If not, we'll close it then.

[2018-03-16 22:48] Tratcher commented on #2713
@fleed all PathStrings are required to be empty or start with a slash, so StartsWithSegments("/") doesn't tell you much. You may as well check for Empty.

[2018-03-17 04:53] GrabYourPitchforks commented on #2966
We need to give the encoders an overhaul anyway when the UTF8 support comes online since the current implementation is optimized for UTF16. I've been prototyping this recently and have made decent progress.

[2018-03-17 14:46] SneezeWeeze opened #2970 "Merch available?"
Is there any .net core merch specifically for the 2.1 release? Perhaps a T-shirt?

[2018-03-17 15:05] benaadams opened #4754 "Is a Null Header Value a Set header value?"
Setting a Header to null
* doesn't change its count (stays at zero)
* doesn't change the Response output (header is not output)

However it will cause an error if a real value is added after:

[code]

If you can't smell it, see it, taste it, does it exist?

Should it not throw, but set the value? (as no value is set)

From https://github.com/aspnet/KestrelHttpServer/pull/2347 (which was treating i

[2018-03-17 16:32] onlyanup opened #2971 "Model is not binding with the values in WEB API GET method when data is Json"
I have a GET method where I'm passing a JSON object. The object is the stringified value of a List of a POCO. The Model Binder fails to bind to the object in this method.

        [HttpGet("Test2")]
        public object Check(List<SearchModel> data)
        {
            //var d = Newtonsoft.Json.JsonConvert.DeserializeObject<List<SearchModel>>(data);
            if (data != null)
            {

[2018-03-17 16:32] HappyNomad opened #2972 "Remove `IContractResolver` from everywhere in Json Patch library"
The Json.Net contract resolver that's first passed to `JsonPatchDocument`'s constructor is then passed among numerous methods and objects throughout the code.  In spite of making it available like this,

1. It's not actually used anywhere in the library's current code.
2. It likely won't be the same contract resolver used by the serializer, anyway.

Rather than being useful, it makes the various m

[2018-03-17 18:36] davidfowl commented on #2966
No don’t wait for that. This is something we’d want for 2.1. At a very minimum we want to be able to pass a Span\<byte\> in and get back a string

[2018-03-17 19:11] gfoidl commented on #2966
OK -- I'll start with.

[2018-03-17 19:46] Matthew-Bonner opened #2973 "Add ability to write options to file"
At the moment there is no way to write options to file, leading to various different ways to achieve this.

It would be good, as we had this ability in Web Forms, to be able to make changes to options and write them back to file.

See:
https://stackoverflow.com/questions/40970944/how-to-update-values-into-appsetting-json

My use case is that I want to use this to create a plugin system whereby peo

[2018-03-17 20:09] Matthew-Bonner commented on #2973
Closing as already logged at:
https://github.com/aspnet/Configuration/issues/386

[2018-03-17 20:09] #2973 closed

[2018-03-18 21:02] louislewis2 opened #2974 "Environment Variables Options Reloading Azure Hosted"
Hi,

Based on the documentation, working with reloading options when the underlying
data source changes is really great.

However could this be implemented when we are updating settings under the Application Settings
for an App in Azure?

We use a json file, for default values and so on. When we deploy to Azure we switch to using Application Settings, which get pulled in by the call AddEnvironment

[2018-03-18 21:06] louislewis2 commented on #2971
@onlyanup Could you try this

[HttpGet("check2")]
public object Check([FromQuery]List<SearchModel> data)
.....

For your POST method, you have added the FromBody attribute, perhaps adding
the FromQuery attribute would work for you on the GET method.

[2018-03-18 21:17] onlyanup commented on #2971
@louislewis2 I had tried that. Please see the 2nd Image in the report.

[2018-03-18 21:38] davidfowl commented on #2974
Azure app service restarts the site when configuration (app settings) are changed. Are you seeing something different?

[2018-03-18 21:47] gfoidl opened #2975 "Move AspNetCoreBenchmarkAttribute to shared BenchmarkRunner.Sources"
# Background / Motivation

[BenchmarkRunner.Sources](https://github.com/aspnet/Common/tree/75b76ebb8129b2080bca88eb456675abf63ddab3/shared/Microsoft.AspNetCore.BenchmarkRunner.Sources) contains common code for easily setting up benchmarks:
[code]
So the benchmark-project just needs to add the intrinsically benchmark-code, for instance [Microsoft.Extensions.Primitives.Performance](https://github.co

[2018-03-18 21:48] gfoidl commented on #2975
/cc @pakrym

[2018-03-18 21:51] tb-mtg commented on #2738
Glad it's being tracked here, hopefully might see some action then.

[2018-03-18 23:32] jasondaicoder commented on #2965
@natemcmaster , looks like setting the HOME directory to /tmp resolved the problem.

Thanks guys.

[2018-03-18 23:34] #2965 closed

[2018-03-19 05:15] Eilon opened #2976 "Bind event on injected object (PropertyChanged is always null)"
_From @LeonidasFettikus on March 1, 2018 8:55_

In an .Net Core WebAPI, I am injecting an custom `IWritableOptions `object (derived from `IOptionsSnapshot`) through the constructor of a service that I configured via the `ConfigureServices `method. This object has an even receiver that fires every time a property is changed on that object. Inside my service, I subscribe to the event of the object p

[2018-03-19 05:15] Eilon commented on #2976
_From @Petermarcu on March 17, 2018 17:36_

@Eilon

[2018-03-19 05:20] Eilon commented on #2975
@sebastienros / @mikeharder / @davidfowl - thoughts on this? Worth the effort?

[2018-03-19 05:20] Eilon commented on #2971
This issue was moved to aspnet/Mvc#7500

[2018-03-19 05:20] #2971 closed

[2018-03-19 05:21] Eilon commented on #2970
@DamianEdwards @shanselman @richlander - is there?

[2018-03-19 05:55] PureKrome opened #2977 "Should the default StatusCodePageOptions body result be cached?"
👋 G'Day!

I noticed that the [StatusCodePageOptions ](https://github.com/aspnet/Diagnostics/blob/4e044a1e30454b87edbc316f40ba608d1160cb28/src/Microsoft.AspNetCore.Diagnostics/StatusCodePage/StatusCodePagesOptions.cs) class has a default way of generating the the appropriate statuscode response to the client. Right now, it's just some standard text (and no, this issue is not about the CONTENT of th

[2018-03-19 07:43] gfoidl commented on #2975
I can submit a PR when this proposal is accepted

[2018-03-19 10:12] louislewis2 commented on #2974
Thanks for the reply David, I honestly was not aware that saving changes, causes a restart.
Well I never heard that in those words before.

I guess, the chances of that changing is less than zero, and I will use it as it is, and make sure everyone understands that changing them will cause a restart, a bit sad but one of those things.

Feel free to close this issue, if there is nothing you would li

[2018-03-19 11:05] Tratcher commented on #2977
Yes, that would be possible for the default content. It's a trade off. E.g how often are you sending blank status codes? Would there be dictionary contention. Would you be holding onto unneeded memory? In a normal mvc app I don't expect the default implementation to be invoked often, it's there more as a diagnostic fallback.

[2018-03-19 11:30] PureKrome commented on #2977
?? Blank status codes? I thought every response *has* to have an HttpStatusCode?

This is the biggest worry out of all of this. I was thinking of a `ConcurrentDictionary` only because I was hoping to 'generate' the response once (think -> 2+ requests that arrive at the same time / racing each other). I'm not an expert in concurrency and high-throughput code, so this was my naive thoughts on this.

[2018-03-19 11:32] SteveSandersonMS opened #5489 "Routing enhancements"
This issue is to track routing features we're likely to want to add in the future:

* Review exactly which parameter constraints we really want to support. For example maybe add `regex`; maybe remove `bool` or limit the set of `datetime` formats more precisely. See https://github.com/aspnet/blazor/issues/295 for more discussion.
* Catch-all segments (e.g., `/products/{*categoryAndName}`)
* 404 han

[2018-03-19 12:58] jlgrau opened #2978 "Dependency Injection error when using options in unit test"
When I try to use option Inside unit test I have a dependency injection exception when I try to consume a service which requires an option to be constructed.

The configuration is built like this:

[code]

I use user secret to store the settings. The settings are correctly read at unit test start, but when I try to access a service which require the setting I have the exception.

Here is the stack

[2018-03-19 15:34] pakrym commented on #2975
@Eilon this one is about microbenchmarks.

The reason we don't bring assembly attribute by default is that it would be impossible to override it globally with different configuration type.
I don't think adding an attribute when creating a project is too much of a hassle especially considering this package is not intended to be used outside ASP.NET Core repositories.

[2018-03-19 15:46] gfoidl commented on #2975
This makes sense. But so far there is the same setup in all benchmark repos within ASP.NET Core.
That's why I would add the attribute to the "default-setup".
In case of a different configuration one can "opt-out" (i.e. don't include the linked file).

Of course not, but it's very easy to forget (because all other stuff for running benchmarks is included by default) and seems strange that this attr

[2018-03-19 15:48] pakrym commented on #2975
How do you opt-out of a single file out of multiple brought by a nuget package?

[2018-03-19 15:53] davidfowl opened #2979 "Move BindingAddress to public namespace"
I'm not sure why this was made pubternal instead of public and why we're even using pubternal APIs across assemblies. We should fix this and BindingAddress should be public.

PS: This will break https://github.com/aspnet/BasicMiddleware/blob/726035e3fb8c4ee31a32522c16ff73278b9b13e7/src/Microsoft.AspNetCore.HttpsPolicy/HttpsRedirectionMiddleware.cs#L124, I'm not sure where else we use it.

/cc @Tra

[2018-03-19 15:59] gfoidl commented on #2975
Ups, I didn't realize that this is shipped by nuget to the other repos. So the opt-out is bullshit.

So your point

is a strong argument for not changing this behavior. I'm closing this issue. Thanks for clarification!

[2018-03-19 15:59] #2975 closed

[2018-03-19 16:44] Eilon commented on #2974
There are some Azure support options if you wish to pursue this further on the Azure side: https://azure.microsoft.com/en-us/support/options/

Thanks,
Eilon

[2018-03-19 16:44] #2974 closed

[2018-03-19 16:53] Eilon commented on #2898
Should this bug go to one of our libuv repos?

[2018-03-19 16:56] Eilon commented on #2959
Yeah it's unclear to me exactly what is being asked here, but I agree with what @Antaris is saying about managing lifetime on your own.

[2018-03-19 17:03] JunTaoLuo commented on #2898
Yes, and we should do this the next time we build libuv

[2018-03-19 17:20] muratg commented on #2898
This issue was moved to aspnet/libuv-build#35

[2018-03-19 17:20] #2898 closed

[2018-03-19 17:56] HappyNomad commented on #2816
@jmudavid After experimenting with your idea to accept an `IAdapterFactory` in `JsonPatchDocument`'s constructor and store it in a property on `JsonPatchDocument`, I've realized that such changes are extraneous to the goal we've agreed upon.  We don't need to modify `JsonPatchDocument` at all.  Since we're adding an `ObjectAdapter` constructor that accepts an `IAdapterFactory`, we can just call th

[2018-03-19 18:20] rynowak commented on #2772
Opened TFS bug 585940 to track this

[2018-03-19 18:20] #2772 closed

[2018-03-19 19:00] jmudavid commented on #2816
@HappyNomad ,
I see where you are going.  If we take that approach, I would want to add another method ApplyTo(object objectToApplyTo, Action<JsonPatchError> logErrorAction, IObjectAdapter adapter).  That should give enough coverage to do everything we need.  Sound right to you?

[2018-03-19 19:53] Tratcher commented on #2977
By blank status code I meant a response with no body.

In theory it could be all the status codes between between 200 and 999, but in practice it would only be about 20.

404 and 400 are error cases that the user shouldn't see in the average browsing session. In my subjective experience as a client I hit 404s maybe once per day. Your app logs would give you a better frequency analysis.

As for cac

[2018-03-19 20:36] pranavkm opened #5053 "Rzc should use PhysicalRelativePath when logging errors"
Compare an error from csc:

[code]

to the one from rzc

[code]

[2018-03-19 22:32] johnstairs opened #2980 "NullReferenceException in Microsoft.AspNetCore.Http.Internal.DefaultHttpRequest.get_Headers()"
Opening this issue as an FYI. We found this in our logs. Perhaps it is a race condition. Using version 2.0.1 on Windows.

[code]

[2018-03-19 23:12] Tratcher commented on #2980
We primarily see these issues when the application code has multiple threads accessing the request. `async void`, Task.Run, etc..

[2018-03-20 01:07] jasondaicoder commented on #2965
@natemcmaster , one more question with regarding to the data protection. Is it possible to use redis as key storage to share cookies between asp.net full and core applications? I followed the article at https://docs.microsoft.com/en-us/aspnet/core/security/cookie-sharing?tabs=aspnetcore2x, however it always use a directory based data protection provider. Can we use redis instead?

[2018-03-20 01:44] natemcmaster commented on #2965
@jasondaicoder yes. The docs you referenced show you how to create an `IDataProtectionProvider` using `DataProtectionProvider.Create` static method. This method is just [api sugar](https://github.com/aspnet/DataProtection/blob/2.0.2/src/Microsoft.AspNetCore.DataProtection.Extensions/DataProtectionProvider.cs#L153-L176) for creating a service colleciton. You should be able to use redis like this:
[

[2018-03-20 02:52] johnstairs commented on #2980
I see. I don't think we're doing anything like that, though.

[2018-03-20 02:57] rynowak commented on #2980
I'd second `async void` as a possible culprit. It's an easy mistake to make and worth a quick ctrl+shift+F to confirm you didn't sneak one in by accident.

[2018-03-20 03:04] qagwaai commented on #2954
asp.net core app works fine locally, but displays the following when trying to publish to Azure:

...\obj\project.assets.json' doesn't have a target for '.NETCoreApp,Version=v2.0'. Ensure that restore has run and that you have included 'netcoreapp2.0' in the TargetFrameworks for your project.	RellafitWeb2		0

project.assets.json includes

    "frameworks": {
      "netcoreapp2.0": {
        "depen

[2018-03-20 03:06] jasondaicoder commented on #2965
@natemcmaster , would the data protection provider you manually created in CreateRedisProvider function be used by the application wide? I noticed you create a new service collection apart from the original one.

[2018-03-20 03:48] akotranza commented on #2954
@Tratcher thanks for the references. I've added IPv4 CIDR format to allowed hosts in the [mitigation's referenced middleware sample](https://github.com/aspnet/BasicMiddleware/tree/release/2.0/samples/HostFilteringSample) in one of my codebases with success. The relevant cs file seems to be missing from the BasicMiddleware repo in dev and newer release branches, so I threw it in a gist for now http

[2018-03-20 04:13] johnstairs commented on #2980
Ah, you are right. There was a Task.Run that looked harmless, in that it did not access the request. But it was logging, and Application Insights ILogger implementation looks at the captured request's headers.

Thanks for the tip! This would have been hard to track down.

[2018-03-20 04:13] #2980 closed

[2018-03-20 04:22] natemcmaster commented on #2965
It would be scoped to just the cookie options. If you don't set it manually, the cookie protector defaults to the application-wide protection provider.

[2018-03-20 05:25] Tratcher commented on #2954
It's a package now in 2.1 https://github.com/aspnet/BasicMiddleware/blob/dev/src/Microsoft.AspNetCore.HostFiltering/HostFilteringMiddleware.cs
I don't think we'd build in advanced IP filtering at this point, it seems uncommon to build public urls with them. I could understand if you were using them in your load balancer, but I'd expect it to be combine with something like x-forwarded-host for the

[2018-03-20 05:42] Eilon commented on #2977
If the concern here is performance, we would need to see data that demonstrates that it's a problem. In the several years that we've had this logic, it's never come up as a concern from anyone. As @Tratcher said, these just aren't very common, so optimizing their performance isn't a big need. And, there's risk of breaking things when caching is introduced. I think in this risk vs. reward equation,

[2018-03-20 06:00] PureKrome commented on #2977
Totally no probs at all. Thanks for your input folks :)

[2018-03-20 06:00] #2977 closed

[2018-03-20 10:35] FabioMorcillo commented on #2959
I will do it :)

Thank you so much @Elion and @Antaris

[2018-03-20 11:12] fmaeseele opened #2981 "Custom ActionFilterAttribute on Razor PageModel Get method"
Hi,

I'm trying to get a custom ActionFilterAttribute to get working on the Get method of my Razor Pages.
Starting with a simple .NetCore Web project, I created a custom ActionFilterAttribute as :

`
   public class MyCustomActionFilterAttribute : ActionFilterAttribute
    {
        /// <summary>
        /// Title of the current item
        /// </summary>
        public string Title { get; set; }

[2018-03-20 11:46] khellang commented on #2959
If you have a scoped lifetime, there's nothing stopping you from creating a scope yourself, like

[code]

[2018-03-20 14:10] akotranza commented on #2954
That would certainly make sense!

Fwiw, I've not yet seen the behavior described in the AWS forum threads I referenced. For our applications, load balancer health checks seem to consistently use the IP of the instance, which is easily handled by the existing middleware. But I haven't tested extensively, so it was worth the few hours of digging around to detect and handle that edge case if it occur

[2018-03-20 17:59] muratg commented on #2750
@blowdart Did you get a chance to look at the API naming here?  This one good to close?

[2018-03-20 18:01] muratg commented on #2680
@Tratcher could you take a quick look? Let's either disable, or decide it needs proper investigation now.

[2018-03-20 18:11] ryanbrandenburg commented on #2680
Unfortunately the build I linked is gone now and the test history on the ci shows 0 [failures](http://aspnetci/project.html?tab=testDetails&projectId=XPlat&testNameId=-4295766413256505083&page=1). Let's close this as not enough info. I'm including the actual error message text in all new issues to avoid this happening.

[2018-03-20 18:17] muratg commented on #2680
Closing this per last comment

[2018-03-20 18:17] #2680 closed

[2018-03-20 18:24] pranavkm commented on #2981
@fmaeseele page filters can only be applied to a page model, and not individual handler methods. Additionally, you need to use `IPageFilter` when working with a Razor Page. `IActionFilter` \ `ActionFilterAttribute` only applies to controller actions. Unfortunately the docs for page filters is a bit lacking, I'll add some details in a follow up comment

[2018-03-20 18:25] pranavkm commented on #2981
### Razor Page Filters

Analogous to action filters, `IPageFilter` or `IAsyncPageFilter` surround the selection and execution of page handlers. Filters on Razor Page or Razor Page models can only be applied at the type level i.e. you may only apply an IPageFilter or an IAsyncPageFilter to the model type and not to individual handler methods.
Here's a sample page filter:

[code]

The `PageModel` ty

[2018-03-20 18:41] digogid commented on #2254
Hey guys, first time around.
I have the same issue that @tiagorosendo posted.
When I try to Ignore(x => x.ValueObject) or even Ignore(x => x.AggregateEntity) it throws Object reference not set to an instance of an object at Microsoft.EntityFrameworkCore.Metadata.Internal.InternalModelBuilder.RemoveEntityType(EntityType entityType, ConfigurationSource configurationSource).

I have tried EF Core 2.0

[2018-03-20 18:43] Eilon commented on #2254
Hi @digogid , if this is an issue with EF Core, can you please log a new issue in https://github.com/aspnet/EntityFrameworkCore/issues with steps to reproduce? Thanks!

[2018-03-20 18:53] fmaeseele commented on #2981
Hi @pranavkm ,

Thank you very much for your quick and clear answer.
I finally ended up with your IPageFilter solution for my filter to intercept OnGet() requests.

That said, this is unfortunate that we cannot filter on a specific handler method by putting the attribute directly on it. Thanks to RazorPages, we may not need controller in most of the case. So it could be useful to be able to use a

[2018-03-20 18:53] #2981 closed

[2018-03-20 19:47] #2959 closed

[2018-03-20 22:41] ryanbrandenburg opened #2982 "Remove temporary breaking change listings"
The following breaking changes are listed only because of aspnet/BuildTools#615:
[code]

They should be removed once it is resolved.

[2018-03-21 01:38] Eilon opened #2983 "Undo breaking change for OptionsWrapper<T>.Remove(string) and Add(string, TOptions)"
A breaking change was introduced in 2.1 for the methods on `OptionsWrapper<T>`: `Remove(string)` and `Add(string, TOptions)`.

* Here's 2.0 with Add/Remove: https://github.com/aspnet/Options/blob/release/2.0/src/Microsoft.Extensions.Options/OptionsWrapper.cs#L25-L38
* Here's a snapshot of dev (2.1) without them: https://github.com/aspnet/Options/blob/b019acac251c24983b93368b06ecfcb3ffbf7604/src/Mi

[2018-03-21 01:40] Eilon commented on #2983
See discussion here: https://github.com/aspnet/Options/pull/251#discussion_r175918339

[2018-03-21 07:57] pethumishara opened #2984 "Download file from server"
how to download a excel file from server after Ajax success callback?

[2018-03-21 11:54] thewebchameleon commented on #2051
this has been released in the latest version of Visual Studio 15.6.3.

[2018-03-21 13:46] Hsinky opened #2985 "IE浏览器无法保存身份验证信息"
asp.net core 2.0.6存储身份验证信息时无效，但是谷歌或火狐是正常的，如下是我的代码
IN IE，“HttpContext.SignInAsync” can't save cookie,bug,chrome or firefox is normal,please me,thanks，code:
![image](https://user-images.githubusercontent.com/10111222/37713246-3d2abd5e-2d51-11e8-864d-4f746427ac96.png)

[2018-03-21 13:52] blowdart commented on #2750
Pretty sure we discussed this in triage a couple of months back, yes, consent is what the GDPR calls it, so it's fine.

[2018-03-21 14:46] Tratcher commented on #2750
It was the words track/ing you were concerned about, not consent.

[2018-03-21 15:03] Tratcher commented on #2984
Please take generic usage questions to a forum like Stack Overflow.

[2018-03-21 15:03] #2984 closed

[2018-03-21 15:09] Tratcher commented on #2985
Translation: Browser failed to save authentication information

Can you provide a trace using a tool like Fiddler?

[2018-03-21 15:16] Hsinky commented on #2985
hi，thanks for your help,the red line is my cookie, but , Browser IE haven't got the cookie
![image](https://user-images.githubusercontent.com/10111222/37718421-994ee4aa-2d5d-11e8-88bc-ce20ce25d759.png)

[2018-03-21 15:25] Guymestef opened #5178 "aspnet-webpack-react not compatible with react-hot-loader v4"
Hello,

react-hot-loader/patch has been removed from react-hot-loader v4: [See documentation here](https://github.com/gaearon/react-hot-loader#no-patch-required)

A new package for aspnet-webpack-react (v4.0.0?), removing support of "reactHotLoaderPatch", need to be created I suppose.

[To remove?](https://github.com/aspnet/JavaScriptServices/blob/04b8c17bdded1d7652f18587a920f740d42985ff/src/Micro

[2018-03-21 15:27] Hsinky commented on #2985
@Tratcher browser ie no cookie
![image](https://user-images.githubusercontent.com/10111222/37719155-53f771b8-2d5f-11e8-91b1-f3444d4ebbd8.png)

[2018-03-21 15:31] khellang commented on #2750
Based on the documentation, it seems like the `CanTrack` property is redundant. `IsConsentNeeded` and `HasConsent` [already covers this](https://github.com/aspnet/Security/blob/9839799645a1110990a5fa5fb8ce060566a0e39e/src/Microsoft.AspNetCore.CookiePolicy/ResponseCookiesWrapper.cs#L65):

If the name is problematic, you could consider removing the property and implement it as a pubternal extension

[2018-03-21 15:43] Tratcher commented on #2750
Yes and no. CanTrack is the field most applications need, rather than having to check both HasConsent and IsConsentNeeded every time.
https://github.com/aspnet/templating/blob/eabde9fe9e0efb71fd8eb6ff1cc709743d06320d/src/Microsoft.DotNet.Web.ProjectTemplates/content/StarterWeb-CSharp/Views/Shared/_CookieConsentPartial.cshtml#L5

[2018-03-21 19:20] HappyNomad commented on #2816
@jmudavid I don't know about "right".  I see `ApplyTo(object objectToApplyTo, IObjectAdapter adapter, Action logErrorAction )` does complement the existing `ApplyTo` overloads, which lack that parameter combination.  On one hand, it's _indirectly_ related to our agreed upon goal.  On the other hand, it's not one of the minimal changes needed to reach our goal.  You _could_ create a separate issue

[2018-03-21 20:30] gitfortee opened #2986 "Server side session state in dotnet core web api - How to benchmark and validate if it will benefit my application scalability?"
Hi,

Our team is writing an Angular + Dotnet Core 2.0 Web API project. We are expecting this application to scale rapidly in the near future and therefore have some questions below:

Is maintaining server side state using sessions in a web api project a good practice? I understand this is not how REST works however would like to find out if maintaining server side state would benefit my applicatio

[2018-03-21 21:02] gfoidl commented on #2966
While implementing some questions arose:

## API additions

Additions to the current API would be:
[code]

Are these OK?

---

* Except the UTF-8 variants they are already prototyped. Needs some more perf-tuning and XML-comments
* BTW: Should / can I bring the UTF-8 variants in a PR of its own? The PRs would be clearer and Span-overloads could get merged earlier.

---

## String.Create

`string.Cr

[2018-03-21 23:08] ryanbrandenburg commented on #2866
This no longer repros on 116. Either we fixed the issue or the state on 116 changed. Either way, without a way to repro I'm closing it out.

[2018-03-21 23:08] #2866 closed

[2018-03-22 02:39] qfcolin opened #2987 "Using IDataProtector to decrypt jwt/bearer tokens"
Hi,
I have a question relating to aspnet core 2.1.
I use the same key to encrypt the data between services  as I do to encrypt my auth bearer tokens. I'm hoping to wire up jwt authentication to use dataprotector to decrypt the tokens automatically so I can access the claims and User.Identity. Something like the code sample below :

[code]

Is there any way to do this? If not what would be the alte

[2018-03-22 05:28] Eilon commented on #2987
@blowdart / @Tratcher - thoughts on this?

[2018-03-22 05:36] Eilon commented on #2986
@gitfortee this is a fairly broad question that clearly has many variables. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the `asp.net-core` tag.

I think the most we can suggest here is to use a performance analysis tool and measure what you think are likely/common

[2018-03-22 12:57] blowdart opened #2988 "iconfigurationsection does not contain a definition for get"
_From @WaedSaleh on March 22, 2018 12:18_

I  passed Configuration object to the class library and when I use  it to get a configuration  like
 Configuration.GetSection("Settings").Get<Settings>(); I get the error iconfigurationsection does not contain a definition for get.

PS : In Startup class, it works fine but in the class library not.

_Copied from original issue: aspnet/Security#1704_

[2018-03-22 12:58] blowdart commented on #2987
No there's no way, this isn't what data protection is meant for. The design for data protection involves never exposing the key material, and to always encrypt and sign, rather than just sign like JWT usually needs.

[2018-03-22 12:58] #2987 closed

[2018-03-22 14:07] prmces opened #2989 "Why is explicit registering of IHttpContextAccessor not required when running in VisualStudio ?"
Hello All!!

I am running an application in .net core 2 and the application runs well when running from Visual Studio.

I can choose IISExpress or My Project to run and works without any issue.

![image](https://user-images.githubusercontent.com/20740261/37775179-03451ee8-2dc1-11e8-8023-a61fe8c7f4a0.png)

When I try to Run with dotnet -run (outside VS) or directly in IIS (not the express one), the

[2018-03-22 14:52] Tratcher commented on #2987
You'd probobly have to implement a ISecurityTokenValidator that wrapped JwtSecurityTokenHandler:
https://github.com/aspnet/Security/blob/3fae140900fa837094c052b15a132816e0caa477/src/Microsoft.AspNetCore.Authentication.JwtBearer/JwtBearerOptions.cs#L92

[2018-03-22 14:56] Tratcher commented on #2989
Application Insights will register it for you, and this is enabled by default in VS. In more recent versions of VS you can opt out of AI.

[2018-03-22 15:10] blowdart opened #2990 "iconfigurationsection does not contain a definition for get"
_From @WaedSaleh on March 22, 2018 12:18_

I  passed Configuration object to the class library and when I use  it to get a configuration  like
 Configuration.GetSection("Settings").Get<Settings>(); I get the error iconfigurationsection does not contain a definition for get.

PS : In Startup class, it works fine but in the class library not.

_Copied from original issue: aspnet/Security#1704_

[2018-03-22 15:10] blowdart commented on #2990
This issue was moved to aspnet/Home#2988

[2018-03-22 16:05] davidfowl commented on #2978
You need to call AddOptions to your service collection.

[2018-03-22 16:26] Eilon commented on #2990
Dup: https://github.com/aspnet/Home/issues/2988

[2018-03-22 16:26] #2990 closed

[2018-03-22 16:27] Eilon commented on #2988
This issue was moved to aspnet/Configuration#802

[2018-03-22 16:27] #2988 closed

[2018-03-22 16:39] prmces commented on #2989
Thank you some much @Tratcher !!

[2018-03-22 16:39] pakrym commented on #2976
Yes, because it is registered as Transient, if you want a single instance register it is as a singleton.

https://github.com/LeonidasFettikus/EventDI/blob/55b776bc7b7f61e0b15d702fbbee1515ced1e2a5/Extensions.cs#L21

[2018-03-22 17:09] codehippie1 commented on #1528
For all those sharing my pain of not having MS RDLC local report viewer on aspnet core; I have tried an alternate approach with the help of pdfJs and ViewerJs from mozilla - [pdfJs demo](https://mozilla.github.io/pdf.js/web/viewer.html). This is still not a report viewer, but for my case with page navigation, print preview, search and a bunch of other useful functionalities, it is not any less eit

[2018-03-22 18:15] cgountanis commented on #1528
Does it work with SSRS directly?

[2018-03-22 18:19] figuerres commented on #1528
@cgountanis   the prior post is RDLC  that means that there is no report server, the web server renders the report.

[2018-03-22 18:45] blowdart commented on #2750
I can't think of anything better unfortunately.

CanDropIdentifyingCookie would be accurate, but stupidly long.

[2018-03-22 18:48] ryanbrandenburg opened #2991 "Flaky tests: ConfigurationTests.CreatingWritingDeletingCreatingFileWillReload ConfigurationTests.TouchingFileWillReload"
These tests have recently taken to failing on OSx: http://aspnetci/project.html?projectId=XPlat&buildTypeId=XPlat_Mac_MacUniverseCoreCLR&tab=testDetails&testNameId=3759396832575739260&order=START_DATE_DESC&branch_XPlat=__all_branches__&itemsCount=50

Offending tests include:

- ConfigurationTests.CreatingWritingDeletingCreatingFileWillReload
- ConfigurationTests.TouchingFileWillReload
[code]

A no

[2018-03-22 18:53] #2905 closed

[2018-03-22 19:38] anurse opened #2992 "Add support for blocking WebSocket requests from particular origins"
This can be done with extra middleware, but it would be nice if the WebSocket middleware had this ability.

[2018-03-22 19:46] Tratcher commented on #2992
What would this look like?

[2018-03-22 21:43] pakrym commented on #2737
Doesn't seem like the same issue. Are you sure you didn't change the code?

[2018-03-22 22:21] anurse commented on #2992
@davidfowl claims there's something like this in System.Web.

[2018-03-22 22:22] muratg commented on #2750
Let's make a decision and move on. What are the "OKish" options? We can run those with @DamianEdwards et al and get a decision quick.

[2018-03-22 22:53] rockerinthelocker opened #2993 "Custom Web.config - aspNetCore section gets overwritten in Debug and Release mode"
After upgrading to Visual Studio 15.7 Preview 2 (added ANCM InProcess support for IIS Express), the **aspNetCore** section of a custom Web.config added to the project gets overwritten when starting IIS Express in Debug mode via Visual Studio UI. If **hostingModel="InProcess"** exists, this attribute gets removed so the application won't run in-process. Also, **startupTimeLimit="3600"** and **reque

[2018-03-22 23:32] Eilon commented on #2993
@shirhatti / @jkotalik / @muratg - where should this issue get routed to?

[2018-03-22 23:34] shirhatti commented on #2993
@BillHiebert

[2018-03-22 23:51] rynowak opened #5058 "Future Investments: Replace Partial Parsing"
## Summary

Razor (in the editor) runs a parsing loop on edits to update the extents of projection buffers when edits occur.

The primary goal of this process is to do as little work as possible while ensuring that the state of the various buffers reflects an accurate understanding of the document.  When an edit occurs, the editor will attempt to apply that edit to a buffer based on its bounds. Ou

[2018-03-22 23:54] natemcmaster commented on #2911
This was done in https://github.com/dotnet/sdk/pull/2064 and should be in the SDK for preview2.

[2018-03-22 23:54] #2911 closed

[2018-03-23 01:45] rockerinthelocker commented on #2993
@muratg , Just checked and happens in release mode as well. Only publish is not affected.

[2018-03-23 01:50] rockerinthelocker opened #2994 "Debug type set to None throws InvalidOperationException (VS 15.7 Preview 2, IIS Express , ASP.NET Core MVC 2.1)"
When starting an ASP.NET Core MVC 2.1 (preview 1) application (default MVC project) -- via Visual Studio 15.7 Preview 2 => IIS Express --, and **debug type** is set to **none**, the following exception is thrown.

[code]

[2018-03-23 02:02] rockerinthelocker commented on #2994
As per https://github.com/aspnet/Mvc/commit/3517ecda2f7eee421159d4e3206f937264f5b56b, this should be fixed. Is this fix not part of .NET Core 2.1 Preview 1?

[2018-03-23 02:09] rynowak commented on #2994
This is not in preview1. This is the code as-of the preview1 tag https://github.com/aspnet/Mvc/blob/4921bcf7b4b581e178395993fa501f7dd6aac497/src/Microsoft.AspNetCore.Mvc.Razor/Internal/CSharpCompiler.cs

[2018-03-23 02:50] Zoxive commented on #2737
No i think it is this.

Only happens when i switch to the new version, my branch which has "Runtime" mode hardcoded works fine.

I attached a debugger and it throws an IL exception.

[code]

[2018-03-23 03:36] rockerinthelocker commented on #2994
Thanks @rynowak for the quick response! Closing this now.

[2018-03-23 03:36] #2994 closed

[2018-03-23 04:28] davidfowl commented on #2992
https://msdn.microsoft.com/en-us/library/system.web.websockets.aspnetwebsocketoptions.requiresameorigin(v=vs.110).aspx

[2018-03-23 06:20] GrabYourPitchforks commented on #2966
@gfoidl Sorry, I should've clarified earlier. The _WebEncoders_ (HTML, JavaScript, etc.) need to be overhauled when UTF-8 support comes online, and those are the only ones I've looked at in detail. Other encoders like base64url encoding are up for grabs as far as I know.

[2018-03-23 08:01] maxmantz opened #2995 "Localization: using resource files when switching CurrentUICulture ignores the translations"
Hi,

I have an issue while trying to work with `CurrentUICulture`. Based on a Pluralsight course, I have created a console app which should use resource files to translate an enum into both English and German.

However, even after changing the `CurrentUICulture` to German, the translation is not picked up by my machine. The weird thing is, that the official source files from the course have the sa

[2018-03-23 09:10] DomZZ opened #2996 "Porting AppDomain to AssemblyLoadContext issue with ApplicationBase and PrivateBinPath"
I'm aware that AppDomain is deprecated and replaced partially by AssemblyLoadContext.
But I'm facing to a new problem that I'm not able to resolve  :

I have this code in .Net Framework 4.6.2 :
[code]

I've replaced this by that :
[code]

RunInThread method call an override of AssemblyLoadContext and proper instanciate method and load dependencies, this is working well.

But the invoked code use A

[2018-03-23 09:32] neman commented on #2513
I got the same issue with simple Asp.Net Core app, which is published out in the wild.
Almost all logs contains the following error. Nothing fancy in  `Startup.cs`
Target framework is net461
AspNetCore 2.0.1
[code]

[2018-03-23 10:45] Tratcher commented on #2992
I can understand why they did it that way back in the monolith, but in core we've always tried to separate policy from function. E.g. AuthN vs AuthZ.   The WS middleware provides the functionality, but the policy would be applied at the call site like with a CORS attribute on your hub. That's the same place you'd specify your AuthZ, correct? The websocket middleware doesn't have it's own  AuthZ po

[2018-03-23 13:18] jmudavid commented on #2946
I pulled the latest code for JsonPatch and I am now seeing the same errors locally, so it may be something related to the way that module is configured.  I will try and get help from somebody on that side unless you guys have other thoughts.

[2018-03-23 13:30] verydarkmagic commented on #2520
This error started happening to me as well after my app was deployed in a docker container.
Running from VisualStudio17 was fine but my container is throwing these errors:

[code]

Startup.cs
[code]

[2018-03-23 15:28] mhciael opened #5490 "Razor Components support for VS4Mac"
I think [that](https://developercommunity.visualstudio.com/content/problem/67655/cant-install-vsix-to-vs-for-mac.html) means I need an mpack instead of a vsix?

[2018-03-23 16:11] anurse commented on #2992
I can see the case for why we might require the caller of `AcceptWebSocketAsync` to have done the work here.

[2018-03-23 16:30] natemcmaster commented on #2996
Hey @DomZZ, it looks like this issue belongs on https://github.com/dotnet/corefx. I don't see anything specific in this about ASP.NET Core. We can move the issue for you, or you can re-open it yourself it you'd like.

[2018-03-23 17:49] muratg commented on #2993
Thanks @rockerinthelocker, yeah that's a little less surprising :)

@BillHiebert where is the best place to track this issue?

[2018-03-23 18:10] blowdart commented on #2941
As you have a way forward @joetherod and the problem appears to be in .NET Core, I'm going to close the issue as External. @stephentoub I'll leave investigation up to you now.

[2018-03-23 18:13] stephentoub commented on #2941
I'm not planning to investigate anything.

[2018-03-23 18:15] natemcmaster commented on #2941
@joetherod if you can find a way to reproduce issues with writing to a NFS share on your Docker host, can you share? We don't have enough info to investigate any more.

[2018-03-23 18:20] ryanbrandenburg commented on #2946
If you're running into this problem it's because that repo hasn't gotten new dependencies. Run `.\run.ps1 -update upgrade deps` and it should resolve your issues. If you happen to be making a PR take the changes to korebuild-lock.txt and build/dependencies.props along with it.

Normally we have a script that does this automatically once a week, but it hasn't passed in a while because we've had a l

[2018-03-23 18:22] Eilon commented on #2996
This issue was moved to dotnet/corefx#28419

[2018-03-23 18:22] #2996 closed

[2018-03-23 18:24] Eilon commented on #2995
This issue was moved to dotnet/corefx#28420

[2018-03-23 18:24] #2995 closed

[2018-03-23 19:43] NTaylorMullen opened #5059 "Use JoinableTaskFactory whenever we jump threads in VS."
Today we utilize `Task.Factory.StartNew` and pass in the appropriate scheduler to jump threads. This has led to some confusion in our dispatching in regards to dispatching priorities in the WTE editor. For now these issues have been worked around but we should make our move to hop threads like everyone else does in VS tooling.

/cc @ToddGrun

[2018-03-23 22:14] pakrym commented on #2737
@Zoxive  do you see `Common Language Runtime detected an invalid program.` in the repro you gave me before? I still see only SO there.

[2018-03-23 23:50] Eilon commented on #2908
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-03-23 23:50] #2908 closed

[2018-03-24 01:35] davidfowl opened #4753 "Remove use of TestSink in functional tests"
Use the TestApplicationLogger

[2018-03-24 08:48] davidfowl commented on #2992
We basically have to decide if this is something that people using websockets want to do. If the answer is yes then we should add it here. I don't really see a line where SignalR should add this and websockets doesn't have it.

[2018-03-24 08:49] davidfowl commented on #2992
See also https://www.tpeczek.com/2017/07/preventing-cross-site-websocket.html

[2018-03-24 15:37] marian-margeta opened #2997 "DataProtection - encryption with high-protected capi certificate"
I have a problem with DataProtection when is used together with `ProtectKeysWithCertificate` to protect the data at rest. If I create highProtected certificate with CryptoAPI, e.g. using `New-SelfSignedCertificate` powershell cmdlet

[code]

then the certificate is protected with additional password. Windows will ask for it every time the application is started. It shows modal window like that (in

[2018-03-24 15:55] TiborCsizmadia opened #5491 "PutJsonAsync<T> cause no exception on http-Status BadRequest"
The extension ethod of the class HttpClient for reading an typed object returns no status information of the response:

CurrentUser = await http.PostJsonAsync<AppUser>("/api/auth/login", credentials);

This line cause no exception or something else, if the http Request returns the status BadRequest

[2018-03-24 18:15] tarekgh commented on #2995
@Eilon please reactivate this issue here as this looks asp.net specific. the simple console app worked fine and there is no problem in picking up the right resources. you may look at the comment https://github.com/dotnet/corefx/issues/28420#issuecomment-375912555 to get the specific asp.net repro.

@maxmantz please follow up on this issue. Thanks.

[2018-03-24 18:37] baseless opened #2998 "Azure deployment of net core 2.1 (preview1, VS2017 preview2) does not work"
Deploying net core 2.1 (preview1) as azure appservice do not work properly.
Default project templates will fail to deploy properly.

# General

The following procedure do not work when tested:
1. Create net core 2.1 preview1 project without authentication (using Visual Studio 2017 15.7.0 preview 2).
2. Deploy through Visual Studio as new Azure AppService.
3. The root url returns the default page `

[2018-03-24 18:43] stap123 opened #2999 "Web Publish Upgraded Project to Azure Web App Failing"
I upgraded my ASP.NET Core web app from version 2.0.1 of packages to the latest (2.0.3). After completing this the site runs as expected locally. However when publishing to my Azure Web App it breaks and I get a 502.5 Process Failure error. I turned on stdout to investigate and the error is:

[code]

This suggests that the issue is that the newly upgraded packages haven't had their DLLs pushed as

[2018-03-24 19:06] TFTomSun opened #5492 "Build Error when referencing a bunch of standard libraries"
First of all: Thanks for the great work. I love that project and I want to support it as much as i can.

I started with a simple Blazor (not hosted) project and referenced some of my existing .net standard projects incl. some 3rd party packages like selenium (WebDriver and WebDriver.Support) and Docker.DotNet.

When I try to build the app I get the following build error:
[code]

The build output i

[2018-03-24 19:33] baseless commented on #2998
closing since i found more workaround nfo to try

[2018-03-24 19:33] #2998 closed

[2018-03-24 22:06] stap123 commented on #2999
So after some more investigation I found that there were 2 folders in my site. I FTP'd onto the Azure site and navigated to the site\wwwroot folder. Here I had a folder called "refs" and another called "runtimes". I deleted both of these folders (after taking a local backup), re-published my app and it worked!

No real idea why these folders were there or why they fixed the issue but they did. I'm

[2018-03-24 23:33] MAGALY956 commented on #2385
http://newlifestylechoices.com/3-steps-to-making-money-from-surveys/
Cindy M Torres @Mob4all

[2018-03-25 00:14] Eilon commented on #2999
@muratg / @JunTaoLuo - any ideas on this?

[2018-03-25 02:18] MAGALY956 commented on #2385
http://newlifestylechoices.com/3-steps-to-making-money-from-surveys/

[2018-03-25 05:56] Eilon commented on #2995
Thanks @tarekgh , looks like the issue eventually got resolved: https://github.com/dotnet/corefx/issues/28420#issuecomment-375923366

[2018-03-25 05:57] davidfowl opened #4752 "Consider letting the transport own the creation of IDuplexPipe"
Today the transport is responsible for exposing properties on the connection that can be used by Kestrel to create a duplex pipe. It does this today for a few reasons:

- It wants to directly apply the MaxResponseBufferSize and MaxRequestBuffer size to pipe options
- It communicates "fin" via cancelling the transport's output reader (this is super hacky and we should get rid of it anyways).
- It w

[2018-03-25 06:21] muratg commented on #2999
@stap123 What root folder did you find the refs and runtimes folders in?  Do you remember installing any site extension on this specific site?

[2018-03-25 08:54] stap123 commented on #2999
@muratg The only extensions installed in the site are Application Insights and ASP.NET Core Extensions. I don't think I explicitly installed either of them.

It was in the \site\wwwroot folder

[2018-03-25 15:25] jkotas opened #3000 "System.IO.IOException thrown by MultipartReaderStream"
_From @dvdobrovolskiy on March 25, 2018 0:28_

Have this code
[FileUploadSample](https://github.com/aspnet/Docs/tree/master/aspnetcore/mvc/models/file-uploads/sample/FileUploadSample)

works perfectly well on 2.0 but is I implement it in 1.0 (version 1.1.7) project throws "'System.IO.IOException' in mscorlib.dll" exception.

Here controller
[code]

Sorry if I forgot to set temp path somewhere but

[2018-03-25 15:25] jkotas commented on #3000
Could you please share the exception message and stacktrace to help us route this?

[2018-03-25 15:25] jkotas commented on #3000
_From @dvdobrovolskiy on March 25, 2018 14:58_

Sure

I just noticed one more exception after this. Might be some problem with my data

The thread 0x6e5c has exited with code 0 (0x0).
Exception thrown: 'System.IO.IOException' in mscorlib.dll
Microsoft.AspNetCore.Mvc.Internal.ControllerActionInvoker: Information: Executed action TNPK.Controllers.HomeController.Upload (TNPK) in 7343.1796ms
Microsoft

[2018-03-25 15:25] jkotas commented on #3000
The exception is thrown here: https://github.com/aspnet/HttpAbstractions/blob/87cd79d6fc54bb4abf07c1e380cd7a9498a78612/src/Microsoft.AspNetCore.WebUtilities/MultipartReaderStream.cs#L229 . This belongs to ASP.NET.

[2018-03-25 20:58] jmudavid commented on #2946
@ryanbrandenburg I reset my local branch and ran the script from the package manager console (is that ok), but now the code doesn't compile with a bunch of missing references.  Is there a specific package source I need to add to Visual Studio?

[2018-03-25 21:01] agrebenyuk commented on #2882
Hey guys , any update on this? I have the same issue with Asp Net Core 1 , the issue with submitting Login form .  Another thing that , right before this error I have a warning in the log "warn: Microsoft.AspNetCore.HttpOverrides.ForwardedHeadersMiddleware[1]
      Parameter count mismatch between X-Forwarded-Host and X-Forwarded-For or X-Forwarded-Proto."  So this is probably related to reverse p

[2018-03-25 21:59] akakira commented on #2202
Not much guesswork in these issues really, look at the ModelState object and see what binding errors occurred. That usually tells you 99% of the time.

[2018-03-25 22:01] jasondaicoder commented on #2965
Yep, noticed. And the solution you gave actually works. Thanks.

[2018-03-26 08:46] tmds opened #4751 "Benchmark corefx Sockets epoll exhaustion strategy"
When there is a lot of I/O transfer, at some point the epoll thread becomes the bottleneck.

There are two ways to deal with that:
- create multiple epoll threads
- delegate I/O transfer to the threadpoll, so epoll thread only handles notification

corefx does both, implemented in https://github.com/dotnet/corefx/pull/19820 and https://github.com/dotnet/corefx/pull/23115 respectively.
That doesn't

[2018-03-26 09:29] JohnLBevan opened #3001 "RouteTemplate containing 29 or more parts causes OverflowException"
This issue comes from a [Stack Overflow question](https://stackoverflow.com/q/49485269/361842).

To reproduce the issue, create a function which contains 29 or more parts (e.g. route to controller plus multiple parameters, as in the example below; [full code available here](https://stackoverflow.com/a/49486946/361842)):

    [Route("api/[controller]")]
    public class ValuesController : Controlle

[2018-03-26 11:15] wessleym commented on #2882
@agrebenyuk, respectfully, I'm not observing any of the behaviors you mentioned.  Maybe you need to start your own issue.

[2018-03-26 14:29] Tornhoof commented on #2691
@tratcher Do you accept a pull request for that? Is anything more required than just changing the source from internal to public? Changes to docs?
(I stumbled across this bug again, because there are bugfixes in the above stream since the last time I copied the source around).

[2018-03-26 16:30] ryanbrandenburg commented on #2946
@jmudavid your problem didn't replicated for me on either dev or release/2.1 our automated system updated dev to the latest version of everything 18 hours ago, do you still experience this issue on a clean copy of dev? If see please let us know the text of the error messages you're getting and a branch on your fork of the project containing all your local changes.

[2018-03-26 16:44] muratg commented on #2999
@stap123 So before you did the upgrade, only 2.0.1 version of your app was running on this site?

[2018-03-26 16:47] Tratcher commented on #2691
Yes it would need doc comments. Otherwise making it public would be harmless, go ahead and prep a PR.

[2018-03-26 17:23] Tornhoof commented on #2691
Added pull request https://github.com/aspnet/HttpAbstractions/pull/1011 to make it public and add doc comments.

[2018-03-26 17:52] jmudavid commented on #2946
@ryanbrandenburg, I realized I wasn't updated from the aspnet repo, only my local branch.  After getting the changes pulled in properly, I am getting the following error when trying to run my tests:
`[3/26/2018 1:30:29 PM Error] Microsoft.VisualStudio.TestPlatform.ObjectModel.TestPlatformException: Testhost process exited with error: It was not possible to find any compatible framework version
The

[2018-03-26 18:08] Eilon commented on #3001
Oh boy. 29 segments?

[2018-03-26 18:10] HaoK opened #3002 "Remove unused OptionsWrapper Add/Remove methods"
Couldn't remove these in 2.x since its a breaking change, remove these in 3.x as they currently just throw NotImplementedException.

[2018-03-26 19:16] #2983 closed

[2018-03-26 19:30] Zoxive commented on #2737
Yes in my reproduction repository linked above, I still see StackOverflow.

But due to myget issues i had to reference the project directly instead of using the nuget package.

[code]

[2018-03-26 19:32] Tratcher commented on #3000
@rynowak?

[2018-03-26 20:08] Eilon commented on #3001
We should probably just disallow having more than "X" number of route parameters. This type of pattern seems more suited to using something like a query string.

[2018-03-26 20:59] blowdart commented on #2997
Why would you want a dialog to appear on a web server? We weren't expecting anyone to use `-KeyProtection ProtectHigh` and it's not something we'd support.

[2018-03-26 21:18] stap123 commented on #2999
@muratg I did originally have 1.0 running on it too. Is it likely to be something "left over" from that.

[2018-03-26 21:22] rishabhack opened #3003 "Bug in Razor Page Modal"
[code]

Will  give error the name 'Json' does not exist in current context in razor page modal while working fine when page is drives from controller
I can't use razor page model due to this serious issue and need to move to MVC approach instead of page modal. Please Resolve this Bug.

[2018-03-26 22:27] muratg commented on #2999
@stap123 could be. Keeping his issue open, in case others hit this and want to chime in as well.

[2018-03-26 23:03] #2691 closed

[2018-03-27 00:11] Eilon commented on #3003
This issue was moved to aspnet/Mvc#7554

[2018-03-27 00:11] #3003 closed

[2018-03-27 00:53] Eilon opened #3004 "embedded power bi results in microsoft login box"
_From @toy-opensource on March 27, 2018 0:19_

there is an excellent example for how to embed powerbi **App Owns Data** here:
https://powerbi.microsoft.com/en-us/documentation/powerbi-developer-embed-sample-app-owns-data/

however this example is for running on the .net platform
and some of the routines used in the example dont exist for aspnetcore

there is another excellent post about someone at

[2018-03-27 01:03] Eilon commented on #3004
Hi @toy-opensource
It looks like this is a question about how to use ASP.NET Core with Power BI. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the `asp.net-core` tag and the `powerbi` tag.

[2018-03-27 01:21] agrebenyuk commented on #2882
Hi @wessleym , no , I think I have exactly the same issue as you do. My application is load balanced but Antiforgery key is centralized and is stored in AzureBlobStorage. So would  be interesting to follow this thread

[2018-03-27 01:34] fashaikh commented on #2520
+1 I see it too in random AppInisight traces. The app is similar to the one above, uses Session variables (no authentication though) and runs on mulitple VMs in Azure App Service.  Seems like some configuration needs to be fixed ?

[code]

[2018-03-27 02:16] Tratcher commented on #2520
Your nodes need to share the same data protection settings. See https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/configuration/overview?tabs=aspnetcore2x

[2018-03-27 02:54] postie77 commented on #2993
Upgraded to Visual Studio 15.6.4 yesterday and can confirm it is also happening on that version.

[2018-03-27 07:44] marian-margeta commented on #2997
As I understood, protection with certificate is one of the way how to protect the data at rest. I know that certificates using CAPI are encrypted with DPAPI, but sometimes it would be reasonable to use additional password along with windows credentials. And such password should be typed right from the admin user, so the dialog is needed. Hard-coded password doesn't make any sense for protection da

[2018-03-27 07:59] JohnLBevan commented on #3001
@Eilon agreed it may make more sense to amend the spec  than try to provide support for a much larger set of segments.  However, it would be good to add a more meaningful exception; e.g.

[code]

[2018-03-27 11:47] wessleym commented on #2882
That's fine, but anyone at Microsoft, please note that this issue does not involve load balancing or storing keys in AzueBlobStorage.  Please see my original post for a complete description of my issue.

[2018-03-27 15:31] Pete1138 opened #3005 "Data Protection: Exception - "The parameter is incorrect""
I receive a CryptographicException when the AntiForgeryToken is rendered in my MVC view (@Html.AntiForgeryToken). The error doesn't appear on a colleague's machine with identical code.

My setup is:

    var cert = GetCert()
     services.AddDataProtection()
                    .ProtectKeysWithCertificate(cert.Thumbprint)
                    .PersistKeysToRedis(redisConnection, "foo:dpikeys")

[2018-03-27 16:19] Eilon commented on #3001
Yup agreed, a better error experience would make sense. Probably not a super high priority - in over 10 years of Routing existing, until now I've never even seen anyone try. (Granted, it didn't used to be an error, but I still never saw it.)

[2018-03-27 16:27] Eilon commented on #2420
@blowdart - should we move this to 2.2.0?

[2018-03-27 16:46] mkArtakMSFT commented on #2319
Closing this issue as the important work has been done.

[2018-03-27 16:46] #2319 closed

[2018-03-27 16:58] blowdart commented on #2420
It's awaiting token binding, so I'd consider this blocked until token binding arrives. @Tratcher

[2018-03-27 17:00] brownbl1 opened #3006 "Missing assembly reference after adding net471 target"
I started a .net core web application using `dotnet new` and then ran into a need to include a library that targets `net471`.

I changed `<Framework>` to `<Frameworks>` and added `net471`.

`dotnet restore` works well, but `dotnet run` results in build errors like:
`error CS0234: The type or namespace name 'AspNetCore' does not exist in the namespace 'Microsoft' (are you missing an assembly refere

[2018-03-27 17:03] Tratcher commented on #3006
Your AspNetCore dependencies are only listed under netcoreapp2.0. You either need to duplicate them or not restrict them by target framework.

[2018-03-27 17:05] blowdart commented on #3005
This looks like a keyring error. Are you sharing keys? Where are they persisted?

[2018-03-27 17:06] blowdart commented on #2997
But this is meant for a web application. You would have to logon interactively to the server and type in a password when the application starts for the first time, it really makes no sense. No-one is asking you to hard code a password, you can put the certificate in the certificate store and retrieve it that way.

[2018-03-27 17:12] brownbl1 commented on #3006
Okay. The first challenge I encountered was getting `dotnet restore` to work, which led me to gate those dependencies in the condition statement.

If I change `<ItemGroup Condition=" '$(TargetFramework)' == 'netcoreapp2.0' ">` to `<ItemGroup>` I get this error when I run `dotnet restore`:

`error NU1202: Package Microsoft.AspNetCore.All 2.0.3 is not compatible with net471 (.NETFramework,Version=v4

[2018-03-27 17:13] Eilon commented on #2420
What's the latest on when we expect that to arrive?

[2018-03-27 17:16] Tratcher commented on #2985
If only IE is failing to save the cookie then it's unlikely an issue with ASP.NET. I suggest asking this question on https://stackoverflow.com/.

[2018-03-27 17:21] Tratcher commented on #2420
We haven't started. 2.2 at the earliest.

[2018-03-27 17:23] Tratcher commented on #3006
That error message is correct, the Microsoft.AspNetCore.All metapackage isn't supported for net4x. You'll need to drop it and directly pull in the packages you need.

[2018-03-27 17:33] Eilon commented on #2420
@Tratcher I'm OK with that. @blowdart ?

[2018-03-27 17:51] blowdart commented on #2420
Well it's blocked without it, so sure :)

[2018-03-27 17:59] Eilon commented on #2420
Moved to 2.2.0.

[2018-03-27 18:15] ryanbrandenburg commented on #2946
My best guess is you need to run "./build.cmd" once from the command-line in order to ensure you have the proper framework installed.

[2018-03-27 18:51] brownbl1 commented on #3006
Thanks. Got it working by removing that package. Error messages then indicated which additional dependencies I needed.

[2018-03-27 18:51] #3006 closed

[2018-03-27 19:32] ajaybhargavb commented on #2363
ac68db3695abacb0c2f08103ee38eafbef15fe21 and 77200410d6a68025b047a613c636cf3d856e7e6c

[2018-03-27 19:32] #2363 closed

[2018-03-27 21:14] t03apt commented on #2351
For example AutoFac has this implemented.
See: http://autofaccn.readthedocs.io/en/latest/lifetime/working-with-scopes.html#adding-registrations-to-a-lifetime-scope
[code]

[2018-03-28 01:31] jmudavid commented on #2946
@ryanbrandenburg, Is there some docs that I am missing that goes through the steps (initial or periodic) that we need to go through?

I tried running "./build.cmd" which gave the following error:
`C:\Users\xxx\.dotnet\buildtools\korebuild\2.1.0-preview3-17001\KoreBuild.Verify.targets(42,5): error KRB5002:   - C:\Users\dhumphreys\Documents\Code\JsonPatch\artifacts\manifest.xml [C:\Users\xxx\.dotnet

[2018-03-28 02:17] rynowak opened #28386 "Add logging for Polly integration and Policies"
Split this from https://github.com/aspnet/httpclientfactory/issues/8

[2018-03-28 07:02] Pete1138 commented on #3005
I'm using Redis. I'm only running this locally, and I've flushed my Redis Db to see if that would help (it doesn't).

[2018-03-28 12:41] blowdart commented on #3005
Huh, that is weird. @BrennanConroy can you investigate?

[2018-03-28 13:30] guardrex opened #5493 "Avoid 'dist' subdirectory in published artifacts (requires changing UseBlazor middleware)"
On publish, the assets are going into a folder with the same name as the app and *web.config* sits at the root of *publish* with rewrite rules to serve from *{app_name}/dist*.

[code]
... but I was expecting a much flatter structure akin to what has been done with ASP.NET Core ... something along the lines of ...

[code]
I have the notion that *dist* is a holdover from other frameworks. Having the

[2018-03-28 15:49] Dishanx commented on #694
Kill dotnet.exe in Task Manager

[2018-03-28 19:35] ryanbrandenburg commented on #2946
@jmudavid it looks like you truncated some of the error message there, the full thing should look something like [this](https://github.com/aspnet/BuildTools/blob/3b322c4316ba26a4e6c7391270cae939bce50637/files/KoreBuild/KoreBuild.Verify.targets#L34). As that message makes a bit clearer, you have things which the build does not expect in your artifacts directory. You can either run `./build.cmd /t:C

[2018-03-28 19:38] natemcmaster commented on #3005
@Pete1138 which version of aspnetcore are you using?

[2018-03-28 19:44] fashaikh commented on #2520
Thanks. Will try out the changes

[2018-03-28 21:55] Eilon commented on #2750
Time is running out to make a decision for preview2. Do we plan to change this in preview2, or wait for rc1?

[2018-03-29 00:08] DamianEdwards commented on #2750
Haven't heard any better suggestions, thus we stay with what we have.

[2018-03-29 00:45] jmudavid commented on #2946
@ryanbrandenburg
No luck.  I created a new folder and pulled the dev branch from Git again.  I ran build.cmd and the update dependency script.  The good news is that I am back to the original error:
`[3/28/2018 8:16:21 PM Error] Microsoft.VisualStudio.TestPlatform.ObjectModel.TestPlatformException: Testhost process exited with error: It was not possible to find any compatible framework version
The

[2018-03-29 01:40] ebeyer1 commented on #2202
@akakira Can't believe I didn't think to check `ModelState`. I wasted hours trying to figure out a similar issue, and `ModelState` helped point it out. Thanks for the tip!

[2018-03-29 07:31] John0King opened #3007 "Will Kestrel cancel the request immediately"
when there are many requrest in the queue, and some user may refresh or stop in the browse when website is slow, if kestrel not cancel the request immediately, that will make site much slower,
I know there is `CancelationToken` I can use to cancel the action immediately ,  but I may not use `CancelationToken` everywhere,  I know `Thread` can `Abort()` , but in asp.net core  seems there are `Task`s

[2018-03-29 08:09] Pete1138 commented on #3005
Microsoft.AspNetCore is v2.0.1. My project is targeting .NET v4.6.2.

[2018-03-29 14:28] WaedSaleh opened #3008 ".EnterpriseLibrary.Data.Database error when running mvc core application"
Hi,
I get the following error when I use EnterpriseLibrary.Data.Database library in the class library that called for MVC core application, the logic worked fine with the old web project.
AN EXCEPTION HAS OCCURRED  WITH ERRORCODE: Resolution of the dependency failed, type = "Microsoft.Practices.EnterpriseLibrary.Data.Database", name = "Configuration".
Exception occurred while: while resolving.
Exc

[2018-03-29 14:54] Tratcher commented on #3007
No, Kestrel has no way to abort user code. Cancellation is cooperative. If you have long, expensive operations then they should listen to the HttpContext.RequestAborted CancelationToken and terminate themselves.

[2018-03-29 15:04] dansward commented on #2505
I have an EntityFrameworkCore implementation of this along with tests and a sample ready for review. Please let me know if it is ok to submit a pull request.

[2018-03-29 15:19] livarcocc opened #3009 "request processing slows down on concurrent requests."
_From @rkdrnfds on March 29, 2018 6:43_

Request handling extremely slows down on concurrent requests

[code]
Against above controller, I tested concurrent request using shell script below
[code]

For sequential request, there's almost no delay for processing requests. consuming about 1~5ms per request.
but For concurrent request, handling time varies from 100ms ~ 2000ms

There's light middleware

[2018-03-29 15:48] caesay commented on #2943
I also can't run MVC apps when a runtime => 2.0 is installed.

[2018-03-29 16:22] KTazayan opened #3010 "To use UseSpaStaticFiles, you must first register an ISpaStaticFileProvider in Azure Service Fabric"
I'm using the latest version of SPA templates: Microsoft.DotNet.Web.Spa.ProjectTemplates::2.0.0
Creating Angular app by:

and getting the following error when deploy it in Azure SF stateless service:

[code]

[code]

[code]

[2018-03-29 17:07] blowdart commented on #3008
EnterpriseLibary is deprecated and was never written with Core in mine. I don't believe it's maintained anymore, so there's not much Core can do.

[2018-03-29 17:07] #3008 closed

[2018-03-29 17:42] Eilon commented on #3009
@sebastienros - can you take a look at this?

[2018-03-29 17:45] Eilon commented on #3007
Yes the system is fundamentally cooperative. Aborting a thread is an extremely dangerous operation and can leave an app unstable. You can safely kill an entire process, but that of course has its own issues.

[2018-03-29 17:46] sebastienros commented on #3009
1- Do you have Console logging enabled? If so please try without it.
2- How are you creating the concurrent load? I can see the serial one only, using `curl` commands.

[2018-03-29 18:09] ryanbrandenburg commented on #2969
It also failed for a possibly different reason [here](http://aspnetci/viewLog.html?buildId=435409&buildTypeId=XPlat_Mac_MacUniverseCoreCLR).

[code]

[2018-03-29 18:43] mkArtakMSFT commented on #2946
Hi @jmudavid. I just tried to enlist and build the JsonPatch too and everything worked just fine. `Build.cmd` also succeeded.
I've checked out also the `2.1` branch and it builds just fine too. Seems something is indeed wrong on your machine.

@ryanbrandenburg, is there any action here we need to take regaridng the CI?

[2018-03-29 18:49] pakrym opened #5917 "Improve usability of our deployer framework"
Writing a functional test that uses deployer is very verbose (~20 lines of deployer related code per test) we need to improve on that and make usage simpler.

[2018-03-29 19:07] blowdart opened #5773 "Consider option to treat email as the username"
And automatically keep in sync. We got so many issues because the templates conflate the two in a poor way, and the mirroring of this is manual and patchy.

[2018-03-29 19:33] verydarkmagic commented on #2520
I only have one node and still get this error

[2018-03-29 22:11] blowdart commented on #2997
Closing as this isn't an expected or supported scenario.

[2018-03-29 22:11] #2997 closed

[2018-03-30 03:31] thegodliek opened #5775 "The ability to use different types for the Users table's pk and the roles table pk"
As per this SO question:

[https://stackoverflow.com/questions/49567477/](https://stackoverflow.com/questions/49567477/)

We cannot use different types for the primary keys in the users table and the roles table.
This can cause some limitations for people like me if for example wanted to use int for the Users key and enum for the Roles key.

[2018-03-30 03:57] jkotalik opened #5346 "Add In-process ANCM tests/ Re-enable ANCM out of process tests."

[2018-03-30 05:41] Eilon commented on #3010
@glennc - are you familiar with this type of issue in Service Fabric scenarios?

[2018-03-30 05:52] John0King commented on #3007
May I ask , How Node or PHP or  Classic ASP , WebForm handel connection reset ?

 dangerous only when you are sending data to database or complex business logic. and if the page only contains query data and send html data, it's safe to abort immediately.

so here's what I'm thinking:
[code]

[2018-03-30 07:07] rkdrnfds commented on #3009
1- Disabling Console logging changed nothing.
2- By attaching '&' at the end of the curl command, it runs in the background. I tested sequential request without '&', concurrent request with '&' and there's really big performance gap between the results of two.

* Changing SetMinThreads to (1024, 1024) which was 100, 100 before gave me some improvements. Now handling time of slow requests ranges 10

[2018-03-30 08:56] marian-margeta commented on #2997
But when I put the certificate **with password** in the cert storage, I will end up with the problem described above. So if this won't be supported, if I store my certs in windows storage, the protection of the data at rest can be based only on user's password, i.e. DPAPI? I'd like to protect the data in case of physical theft on non-encrypted HDD.

[2018-03-30 12:09] John0King commented on #2985
你的代码里面有个 bug,
~await~ `HttpContext.SignInAsync(...);`

没有 await ,  能不能在请求完成之前写入 cookie 是无法确定的， 你的请求可能提前结束

[2018-03-30 16:18] Eilon commented on #3007
How other systems handle connection resets is not particularly relevant because ASP.NET Core is not any of those systems (and shares almost nothing with any of them).

The idea is that if you already know your code is "safe" for Thread.Abort, you might as well write your code cooperatively anyway (such as by using cancellation tokens).

I found a few links discussing Thread.Abort and how to safely

[2018-03-30 16:18] Eilon commented on #2985
Translation:

[2018-03-30 16:20] #2985 closed

[2018-03-30 16:58] Eilon commented on #2669
@mkArtakMSFT - should we move to preview2? We came up with a design yesterday but the work won't be done by EOD today...

[2018-03-30 17:00] rynowak commented on #2669
The plan we discussed was to move to 2.2.0

[2018-03-30 17:01] sebastienros commented on #3009
We do a lot of perf testing on aspnet, the results are available here: https://aka.ms/aspnet/benchmarks, so I am quite confident there is a flaw in your testing. Can we agree on the methodology and try again your app?

- Published the application in Release mode: `dotnet publish -c Release -o c:\temp\myapp`
- Run the published application: `dotnet c:\temp\myapp\myapp.dll`
- Use a load test generat

[2018-03-30 19:49] jhkimnew opened #3801 "ANCM: Inprocess App fails to start if a request is sent before switching hostingModel from out-of-process is completed"
STEPS TO REPRO:

1.	Set outofprocess mode
2.	Send a request which takes 10 seconds to finish
FYI, you can use /aspnetcoreapp/DoSleep10000 if you use our test app. Or, you can put 10 seconds sleep to the aspnetcore app when program exits.
3.	Before the request of the step 2 is completed, switch hostingModel to inprocess and then send a new request

EXPECTED:

No error

ACTUAL:

Inprocess app can’t

[2018-03-30 20:45] fiksen99 opened #3011 "Preventing a scoped dependency from being disposed"
We have a scenario where we:
Have an `IMyClientFactory` singleton, whose implementation is to output an `IMyClient`. It maintains an `IMemoryCache` of client's that is has used, and will return the cached `IMyClient` if present (the cache key is based around `HttpContext.Items` values) otherwise it will create a new `IMyClient` and return it. `IMyClient` is expensive to create. `IMyClient` impleme

[2018-03-30 21:12] lextm commented on #1671
@xperiandri Visual Studio is smarter now (VS2017 15.7 Preview 2 at least) to force update `applicationHost.config` whenever `launchSettings.json` is changed. That should remedy most errors caused by their out-of-sync.

[2018-03-30 22:21] roji commented on #2937
@natemcmaster @ajcvickers @divega can you please clarify which feeds are the right ones for working on both preview2 and preview3? The situation seems to be a bit confusing (is there some docs page?).

dotnet-core
* dotnet-core: latest version of EF Core is 2.1.0-preview2-30478, from March 27th. No preview3.
* aspnetcore-dev: 2.1.0-preview2-30366 (from April 16th), but dependencies seem broken (e.

[2018-03-30 22:46] natemcmaster commented on #2937
I recommend using dotnet-core. We're still working on getting our infrastructure to produce preview3 builds on dotnet-core. Turns out building all of .NET Core soup to nuts in a single build system is taking longer than expected. The meantime we've been publishing to aspnetcore-{dev,release} just to unblock our internal daily dev builds and testing, but the feeds are not really mean for external c

[2018-03-30 22:49] roji commented on #2937
@natemcmaster thanks for the answer, I figured as much but I'm still not clear if I should be preparing my preview2 EF Core provider release on dotnet-core, whose latest preview2 package is from March 27th (two whole weeks behind aspnetcore-dev). Can you please confirm which feed is the right one for preview2?

[2018-03-30 22:53] natemcmaster commented on #2937
Yes, use dotnet-core to prepare your preview2 release. It should be fairly close to what's currently expected to land in preview2.

By the way, if you need matching installers, checkout https://github.com/dotnet/versions/tree/master/build-info/dotnet/product/cli/release/2.1

[2018-03-30 22:55] natemcmaster commented on #2937
By the way, dotnet-core currently has 2.1.0-preview2-30478 which matches this: https://github.com/aspnet/EntityFrameworkCore/tree/c7d8f26c539663788b1390b744dae33c2b657b61

[2018-03-30 22:55] roji commented on #2937
OK great, thanks!

[2018-03-30 23:28] mkArtakMSFT commented on #2669
We've decided to add a new feature to support this scenario in 2.2
We will add a new syntax `{**catchAll}` that will parse catchAll segments as PathString instances.
Users will be able to generate urls without encoded slashshes in catch all values by passing a `PathString` as the value (or if its on the ambient values)

[2018-03-31 00:24] BrennanConroy opened #5288 "Consider caching connection list for HubLifetimeManager operations"
![capture](https://user-images.githubusercontent.com/7574801/38157793-1a896a76-343f-11e8-9b81-27b2d1b6055e.JPG)

We can cache the connectionlist on access and update it whenever a connection is added or removed

[2018-03-31 01:25] John0King commented on #3007
@Eilon I see your point from this blog https://blogs.msmvps.com/senthil/2008/12/17/the-dangers-of-thread-abort/
and May I ask , Should/Will MVC or RazorView RazorPage those frameworks  check `HttpContext.RequestAborted`  when context switch , I mean  when switch filter pipeline in MVC  ,  render partial view in RazorView or RazorPage,  I think at those point , thow a `TaskCancelationException` is

[2018-03-31 07:48] davidfowl opened #3012 "Add support for configuring the websocket keep alive interval"
The WebSocketProtocol allows setting the keep alive interval, we should expose this in our WebSocketMiddleware

https://github.com/dotnet/corefx/blob/031e40a64bd7a148f43e5a49055abbf5743b4543/src/System.Net.WebSockets.WebSocketProtocol/src/System/Net/WebSockets/WebSocketProtocol.cs#L12

[2018-03-31 07:52] davidfowl commented on #2992
This is relevant as well https://tools.ietf.org/html/rfc6455#section-10

[2018-03-31 08:44] davidfowl opened #5289 "Rethink Auth in SignalR"
Now that we have a handshake, we can consider adding support for sending authentication data over the transport instead of using the query sting (primarily for websockets). The other transports can use headers like normal but we would support sending the access token over the websocket channel.

/cc @blowdart @anurse

[2018-03-31 09:35] Tratcher commented on #3012
Umm? https://github.com/aspnet/WebSockets/blob/fb6bc86be5354a5d1976a8e919ca3739a05fb0f8/src/Microsoft.AspNetCore.WebSockets/WebSocketMiddleware.cs#L97

[2018-03-31 09:35] davidfowl commented on #3012
Woops. 😄

[2018-03-31 09:35] #3012 closed

[2018-03-31 09:44] davidfowl opened #5290 "Add Redis benchmark to BenchmarkServer"
There should be an option to run the benchmarks against redis. We'll also need to be able to point to an existing redis instance from the application.

[2018-03-31 16:59] anurse commented on #2992
I still kinda think that it's up to the caller of `AcceptWebSocketAsync` to handle this. The WebSocket middleware isn't a standard middleware, it doesn't handle any request, it just provides a feature for other middleware to handle the request as a WebSocket.

[2018-03-31 17:43] shravan2x opened #3013 "Suppress ASP.NET Core WebHost startup messages"
The `RunAsync` method of `IWebHost` (which itself is an extension) currently has this code (decompiled):

[code]

The `Console.WriteLine` calls here currently cannot be suppressed in any way. I would like to remove them since I use NLog's ColoredConsole logger instead. Can a parameter or configuration option be added for this?

(Note: Someone found a hacky way of doing it at https://stackoverflow.

[2018-03-31 18:04] shravan2x commented on #3013
Just found https://github.com/aspnet/Hosting/issues/1225.

[2018-03-31 18:04] #3013 closed

[2018-03-31 18:07] Tratcher commented on #2992
How well does this play with our existing CORS middleware? Do we have a sample of how to combine them?

[2018-03-31 18:35] davidfowl commented on #2992
It’s really up to @blowdart to decide if we need this feature as part of the websocket middleware or not. We haven’t had it for 3 versions.

[2018-03-31 19:52] ghost opened #5494 "For missing C# reference, it's going to a compiled code instead of original place."
I create a basic application. remove the Forecast from C# code and Change it to Task class which I create myself.

Now I am compiling my code. Since WeatherForecast is not exist, Views is not compiling. The compiling error click in error window must be lead user to view. Currently it's leading to compiled .cs file which is a bit harsh if user have too much classes.

it can be improved. Like If thi

[2018-03-31 21:54] brockallen commented on #2992
Why is Origin the thing you want t block on? Outside of the browser that can be spoofed. So why not rely upon normal authN/authZ techniques, as that's how you really know if the caller is legit.

[2018-04-01 00:20] D3MaxT opened #4659 "Back-channel logout support for OpenIdConnect?"
There is a default endpoint for front-channel signout: signout-oidc

Is there a plan to include a similar endpoint for back-channel signout in 2.1 release?
Spec: http://openid.net/specs/openid-connect-backchannel-1_0.html

Thank you.

[2018-04-01 03:01] davidfowl commented on #2992
I posted like 2 links describing the "security considerations" when using websockets. If we don't care to do anything then it's fine but that's @blowdart's choice.

[2018-04-01 06:15] davidfowl opened #4750 "Upgraded request body should not create a request body pipe"
This needlessly copies bytes from the transport pipe into the body pipe. We can avoid this whole dance to improve the websocket performance.

Related to https://github.com/aspnet/KestrelHttpServer/issues/2340.

/cc @BrennanConroy @halter73

[2018-04-01 08:44] almostchristian commented on #2935
The stackoverflow happens in the call of `_logger.AccessingExpiredSession(_sessionKey)`, which causes `Load()` to be called again because the `_loaded` flag is only set in the `finally` clause. Setting the `_loaded` flag beforehand should fix the issue. I realize this solution doesn't follow the style in other code, but this is looks to be the simplest solution.

[code]

[2018-04-01 17:00] sepehr1014 opened #3014 "WebSocketException (0x80004005): The WebSocket is in an invalid state ('Closed') for this operation. Valid states are: 'Open, CloseSent'"
Using Microsoft.AspNetCore 2.1.0-preview1-final we get this exception on ReceiveAsync. The usage is quite ordinary and we didn't get any errors on the earlier builds. The first thing we do after we accept the socket is:

`result = await currentSocket.ReceiveAsync(new ArraySegment<byte>(buffer), CancellationToken.None)`

And here's the exception:

[code]

[2018-04-01 17:02] davidfowl commented on #3014
What does your websocket loop look like?

[2018-04-01 17:21] sepehr1014 commented on #3014
Well, here's the loop. But this line is **NOT** in the loop. It's the first read ...

[code]

[2018-04-01 17:29] davidfowl commented on #3014
I'd like  to see the whole loop

[2018-04-01 17:34] sepehr1014 commented on #3014
@davidfowl  Actually that was our web socket loop. I could send you our messaging controller if I had your email address.

[2018-04-01 17:41] davidfowl commented on #3014
Where do you handle close messages?

[2018-04-01 20:58] dennisaubrey opened #3015 "Error! After Installation of AspNetCore and dotnet core the IIS Handler Mappings - aspNetCore is not installed"
Error! After Installation of AspNetCore and dotnet core the IIS Handler Mappings - aspNetCore is not installed

Windows 10 Pro
AspNetCore.2.0.5.RuntimePackageStore_x64
dotnet-runtime-2.0.5-win-x64
I also tried AspNetCore.2.0.6.RuntimePackageStore_x64
dotnet-runtime-2.0.6-win-x64
![image](https://user-images.githubusercontent.com/36566794/38177309-4543984c-35cd-11e8-99d6-5df0a460196b.png)

Worked o

[2018-04-01 21:06] dennisaubrey commented on #3015
![image](https://user-images.githubusercontent.com/36566794/38177411-0855833a-35cf-11e8-8f75-a35fc2e00ed6.png)

[2018-04-01 21:10] dennisaubrey commented on #3015
![image](https://user-images.githubusercontent.com/36566794/38177441-87721b7e-35cf-11e8-80ff-f6199262c147.png)

[2018-04-01 21:16] dennisaubrey commented on #3015
![image](https://user-images.githubusercontent.com/36566794/38177473-4acaacee-35d0-11e8-8316-67d56496301e.png)

When it works correctly. See above.

[2018-04-01 21:45] dennisaubrey commented on #3015
Note: The following is NOT installed on the Computer.
Microsoft .NET Core 1.0.4 Runtime (x64)
Microsoft .NET Core 1.0.4 & 1.1.1 - Windows Server Hosting
Microsoft .NET Core 1.1.1 - Runtime (x64)
Microsoft .NET Core Runtime (x64)
![image](https://user-images.githubusercontent.com/36566794/38177822-72d6cd40-35d4-11e8-807f-f337d6bef29e.png)

[2018-04-01 21:51] dennisaubrey commented on #3015
Note: Important. This Windows 10 Computer works.. See installed Packages.
![image](https://user-images.githubusercontent.com/36566794/38177863-37f6c558-35d5-11e8-882f-e56851601c3b.png)

[2018-04-01 22:39] dennisaubrey commented on #3015
Where to download
AspNetCore v1.1.1 and AspNetCore.Hosting.WindowsServices v1.1.2

[2018-04-02 00:01] JimLynn opened #5495 "OnClick from button inside ChildContent fails to pass a member variable into subcomponents"
This is a tricky one to describe so I've created a minimal project that shows the issue.

https://github.com/JimLynn/BlazorTagHelperChildContent

What the index page wants to do is take a name and description, create an instance of a Thing class, set that as a member of the Index page, which is also used as a member of a subcomponent, called Outer. The Outer component displays the contents of the

[2018-04-02 00:10] dennisaubrey commented on #3015
https://docs.microsoft.com/en-us/dynamics-nav/troubleshooting-http-error-500.21-internal-server-error-aspnetcore-handler

[2018-04-02 00:11] dennisaubrey commented on #3015
If it is not installed, download and install Microsoft .NET Core - Windows Server Hosting bundle.

[2018-04-02 00:42] dennisaubrey commented on #3015
![image](https://user-images.githubusercontent.com/36566794/38179110-25c706c8-35ed-11e8-991a-9bf5519ae39c.png)

[2018-04-02 00:46] dennisaubrey commented on #3015
Installed
![image](https://user-images.githubusercontent.com/36566794/38179163-ce57d542-35ed-11e8-81c4-57600242acc7.png)

[2018-04-02 00:48] dennisaubrey commented on #3015
![image](https://user-images.githubusercontent.com/36566794/38179181-12b1f420-35ee-11e8-8928-a840b583cf95.png)

[2018-04-02 00:56] dennisaubrey commented on #3015
Web site is now working.

[2018-04-02 04:55] Eilon commented on #3015
Hi @dennisaubrey - I'm not sure I quite follow the posts above. Do you think there's a bug in the installer? Or somewhere? If so, can you provide more details? Thanks!

[2018-04-02 09:54] NMSAzulX opened #4884 "Would we simplify the process of WebApi ?"
Sometimes we dont need the Razor、View etc.. It is no use for the simple or WebApi-Interface-Services.
So we can remove some services from the function of UseMvc().
Such as:
[https://github.com/NMSAzulX/WebApiMiddleware/blob/master/WebApiMiddleware/WebApiExtentsion.cs](https://github.com/NMSAzulX/WebApiMiddleware/blob/master/WebApiMiddleware/WebApiExtentsion.cs)

[2018-04-02 13:50] rstropek opened #5496 "Solution for accumulation of Disposable transient services"
Given a service:

[code]

It is injected as a transient:

[code]

If this service is injected into a component, it is never disposed even when navigating away from the component:

[code]

Is this a bug or is there a functionality available to dispose injected services implementing `IDisposable`?

[2018-04-02 15:00] Eilon commented on #3009
Yes, the debugger can add an enormous amount of overhead to the system. Some parts of the system change their behavior when they detect an attached debugger to offer additional diagnostic information.

Given that this was running with the debugger, I'm closing this issue. Thanks!

[2018-04-02 15:00] #3009 closed

[2018-04-02 15:59] dennisaubrey commented on #3015
Hi Thank you,

After installing the AspNetCore and Donet - My Web API on IIS would not run and displayed an general Error.

It was not clear that I must install "Server Hosting Install" for AspNetCore on IIS.

Through debugging, on two computers, I came to the conclusion that the only difference between the two Windows 10 Computers, one worked and the other did not,  is one had the Server Hosting

[2018-04-02 16:14] Eilon commented on #3015
@dennisaubrey thanks for the details.

@shirhatti - is there something we can do to make our installation instructions clearer in this space?

[2018-04-02 16:29] dennisaubrey commented on #3015
Note: Error Message on My Web Site. Before I started.

![image](https://user-images.githubusercontent.com/36566794/38204578-7e8e6a42-3671-11e8-86ce-1d5fd8c7f00e.png)

[2018-04-02 17:11] blowdart commented on #2992
Well if it's in the spec we might as well do it, but yea, adding auth is a better approach.

[2018-04-02 18:31] Eilon commented on #2737
@pakrym / @muratg - is this a must-have for Preview2? If not, let's move to RC1.

Also, this issue is still tagged as 3-Done - does that need to be updated?

[2018-04-02 18:43] Eilon commented on #2750
@muratg / @DamianEdwards / @Tratcher - so do we close this bug? Or move to RC1?

[2018-04-02 18:55] muratg commented on #2750
Closing per Damian's latest comment. If anyone strongly thinks that we should rename anything here, file a bug for RC1.

[2018-04-02 18:55] #2750 closed

[2018-04-02 19:09] gfoidl commented on #2966
@davidfowl I just noticed the "up for grabs" label. I've started working on this, just some perf tweaks needs to be done. Hopefully I can submit a PR within the next two days. Can you assign me this issue?

[2018-04-02 20:05] HappyNomad opened #3016 "Stop prepending patch operation paths with /"
[This line](https://github.com/aspnet/JsonPatch/blob/63f03228106c61b6af2965c874f09758f7a5439e/src/Microsoft.AspNetCore.JsonPatch/Internal/PathHelpers.cs#L24) seems pointless and caused a bug in my app.  I wrote `jsonPatchDocument.Remove( "" )` to produce a `remove` operation that applies to the whole document.  That linked line changes the operation's path to `"/"`.  Whereas `""` indicates the who

[2018-04-02 20:21] brockallen commented on #2992
Relying on same-origin policy for ajax calls is also not a substitute for authentication. And the link you provided says that Origin is not really a guarantee. But I do admit that blocking on non-allowed Origins won't really hurt things.

Sounds like an authorization policy is is in order.

[2018-04-02 20:42] deedubb commented on #2458
As requested by @DamianEdwards I am adding a note to remind him/others of the chain resulting from https://twitter.com/deedubb83/status/980730122155118592 which brings up the CRIME and BREACH exploits in HTTPS when using gzip compression on dynamic pages (any page containing user content).
As per the last comment in the chain this issue should be reviewed for 2.2.

In the meantime: because of thes

[2018-04-02 20:44] blowdart commented on #2458
This could be enhanced by supporting compression in the static files middleware.

[2018-04-02 20:44] anurse commented on #2992
And auth is already fully supported. This is a defense-in-depth thing based on spec guidance

[2018-04-03 02:56] WangCharlie opened #3017 "Use Proxy to youtube and get error"
here is the code.
[code]

![image](https://user-images.githubusercontent.com/6106454/38226717-9ea25fca-372d-11e8-8419-e4eb79f0a3a9.png)

[2018-04-03 03:07] Eilon commented on #3017
@Tratcher - any idea on this? I'm not familiar with this stack trace so I haven't entirely convinced myself that this is even an issue with our Proxy stuff.

[2018-04-03 03:21] Tratcher commented on #3017
I doubt it, but I can't confirm without the original exception or translation.

Also Proxy is an unsupported prototype, please don't use it.

[2018-04-03 03:38] SneezeWeeze commented on #2970
Chiming in here because I would like seriously to buy multiple pieces. I figure the sooner this is discussed the higher the chances of it getting made if not already in progress.

[2018-04-03 07:50] WangCharlie commented on #3017
info: Microsoft.AspNetCore.Hosting.Internal.WebHost[1]
      Request starting HTTP/1.1 GET http://173.254.231.65/
fail: Microsoft.AspNetCore.Server.Kestrel[13]
      Connection id "0HLCP6TCGJJ3F", Request id "0HLCP6TCGJJ3F:00000001": An unhandled exception was thrown by the application.
System.InvalidOperationException: Nullable object must have a value.
   at System.ThrowHelper.ThrowInvalidOperat

[2018-04-03 12:21] eestein opened #3018 "Is there a way to add two resource folders to aspnet core localization?"
I'm currently developing the SDK for one project and as a requirement I need to add two resources locations. One will be provided with the SDK lib and another to be provided by the consumer app.

Currently, according to docs, this is how to add localization:

`services.AddLocalization(options => options.ResourcesPath = "Resources");`

I'm calling this method from my `BaseStartup` class that will b

[2018-04-03 12:38] eestein commented on #3018
This is what I came up with, but haven't tested it yet:

[code]

My idea is child classes on the consumer app would implement this `BaseResource` like:

[code]

Anyway, if you have any ideas...

[2018-04-03 15:26] Tratcher commented on #3015
@dennisaubrey the docs for this are at https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/troubleshoot and you can suggest doc improvements at https://github.com/aspnet/docs

[2018-04-03 16:06] Eilon commented on #2220
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-04-03 16:06] #2220 closed

[2018-04-03 16:06] #2211 closed

[2018-04-03 16:06] #2221 closed

[2018-04-03 16:08] Eilon commented on #2198
Closing this issue because it isn't clear to me if there is an issue remaining. If you feel there's still an issue, please re-open this issue or log a new issue with complete details of the problem. Thanks!

[2018-04-03 16:08] #2198 closed

[2018-04-03 16:08] Eilon commented on #1809
Closing this issue because it isn't clear to me if there is an issue remaining. If you feel there's still an issue, please re-open this issue or log a new issue with complete details of the problem. Thanks!

[2018-04-03 16:08] #1809 closed

[2018-04-03 16:08] #2192 closed

[2018-04-03 16:09] Eilon commented on #2230
Closing this issue because it isn't clear to me if there is an issue remaining. If you feel there's still an issue, please re-open this issue or log a new issue with complete details of the problem. Thanks!

[2018-04-03 16:09] #2230 closed

[2018-04-03 16:10] Eilon commented on #2231
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-04-03 16:10] #2231 closed

[2018-04-03 16:10] Eilon commented on #2229
Closing this issue because it isn't clear to me if there is an issue remaining. If you feel there's still an issue, please re-open this issue or log a new issue with complete details of the problem. Thanks!

[2018-04-03 16:10] #2229 closed

[2018-04-03 16:10] Eilon commented on #2240
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-04-03 16:10] #2240 closed

[2018-04-03 16:11] #2243 closed

[2018-04-03 16:12] Eilon commented on #2250
Closing this issue because it isn't clear to me if there is an issue remaining. If you feel there's still an issue, please re-open this issue or log a new issue with complete details of the problem. Thanks!

[2018-04-03 16:12] #2250 closed

[2018-04-03 16:13] Eilon commented on #1723
Closing this issue because it isn't clear to me if there is an issue remaining. If you feel there's still an issue, please re-open this issue or log a new issue with complete details of the problem. Thanks!

[2018-04-03 16:13] #1723 closed

[2018-04-03 16:13] #2256 closed

[2018-04-03 16:15] Hsinky opened #3019 "how to share cookies among apps with asp.net core 2.0+?"
I have two app,the one is web app,the other one is api app,  web request api，in api , I want to try get cookies from web, both Startup, i write the same code:
![qq 20180404001103](https://user-images.githubusercontent.com/10111222/38261428-bf2d3598-379c-11e8-90f5-dbebb75af925.jpg)

and the web app ,i use "HttpContext.SignInAsync" write cookies,but it can't get in the api app,

[2018-04-03 16:18] Eilon commented on #2052
Closing this issue because it appears that the two related issues above already have explanations.

[2018-04-03 16:18] #2052 closed

[2018-04-03 16:18] Eilon commented on #1805
Closing this issue because it isn't clear to me if there is an issue remaining. If you feel there's still an issue, please re-open this issue or log a new issue with complete details of the problem. Thanks!

[2018-04-03 16:18] #1805 closed

[2018-04-03 16:19] Eilon commented on #2146
If there is still an issue with this, please file a new issue using Visual Studio's built-in feedback reporting tool (the icon in the upper-right of the window). That will ensure the feedback gets sent to the Visual Studio team. Thanks!

[2018-04-03 16:19] #2146 closed

[2018-04-03 16:19] Eilon commented on #1624
Closing this issue because it isn't clear to me if there is an issue remaining. If you feel there's still an issue, please re-open this issue or log a new issue with complete details of the problem. Thanks!

[2018-04-03 16:19] #1624 closed

[2018-04-03 16:20] Eilon commented on #2253
Closing this issue because it isn't clear to me if there is an issue remaining. If you feel there's still an issue, please re-open this issue or log a new issue with complete details of the problem. Thanks!

[2018-04-03 16:20] #2253 closed

[2018-04-03 16:24] Tratcher commented on #3019
The docs have recently been updated for this scenario, let us know if they help: https://docs.microsoft.com/en-us/aspnet/core/security/cookie-sharing?tabs=aspnetcore2x

[2018-04-03 16:24] #2224 closed

[2018-04-03 16:25] Eilon commented on #1338
@muratg / @davidfowl - any idea where this issue should go? Close it?

[2018-04-03 16:25] Eilon commented on #2297
@dexterhussain sorry for the delay getting back to you. Are you still experiencing this issue? Can you provide more details about your app?

[2018-04-03 16:26] Eilon commented on #2190
Indeed, I think https://github.com/aspnet/Mvc/issues/6678 covers this scenario.

[2018-04-03 16:26] #2190 closed

[2018-04-03 16:27] Eilon commented on #2313
Closing this issue because it isn't clear to me if there is an issue remaining. If you feel there's still an issue, please re-open this issue or log a new issue with complete details of the problem. Thanks!

[2018-04-03 16:27] #2313 closed

[2018-04-03 16:27] Eilon commented on #2037
Closing this issue because it isn't clear to me if there is an issue remaining. If you feel there's still an issue, please re-open this issue or log a new issue with complete details of the problem. Thanks!

[2018-04-03 16:27] #2037 closed

[2018-04-03 16:27] Eilon commented on #2277
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-04-03 16:27] #2277 closed

[2018-04-03 16:30] davidfowl commented on #1338
Close it. We have no plans to write another webserver.

[2018-04-03 16:30] sm-g commented on #2146
That is not VS issue, but I already find workaround - do not use Com from aspnet core projects.

[2018-04-03 16:44] Hsinky commented on #3019
@Tratcher It doesn't seem to be useful ，could u tell me where is wrong in my code? please，the doc is too difficult for me，

[2018-04-03 16:48] Hsinky commented on #3019
@Tratcher eg: it cant tell us how to save and  get cookies，i want to get a full demo ,if u could help me，Be deeply grateful！

[2018-04-03 16:48] johanskoldekrans commented on #2231
Go ahead. Havent been able to reproduce after downgrading dotnetcore. 👍🏻

--

www.penser.se
Disclaimer: www.penser.se/disclaimer

[2018-04-03 16:50] Hsinky commented on #3019
@Tratcher waitting for your answer online

[2018-04-03 16:56] Tratcher commented on #3019
I don't see anything obviously wrong with your app. You shouldn't need to set the DataProtectionProvider on your CookieAuthOptions but it shouldn't hurt anything.

You have one of two issues:
1) the client declines to send the cookies from one app to the other. A network trace or F12 browser tools should tell you if this is happening.
2) the apps can't read eachother's cookies. This would likely b

[2018-04-03 17:02] #1338 closed

[2018-04-03 17:03] Hsinky commented on #3019
@Tratcher both the app started from vs 2017，not iis，or other.can u give me a simple demo？please

[2018-04-03 17:09] Tratcher commented on #3019
You appear to need more help than we can provide on short notice. I suggest asking on https://stackoverflow.com/questions/tagged/asp.net-core instead. The community is pretty responsive.

[2018-04-03 17:14] Hsinky commented on #3019
I think I am giving up，I am tired，the doc is not perfect

[2018-04-03 17:16] Hsinky commented on #3019
thans for your help again

[2018-04-03 18:00] Tratcher commented on #3017
That's a different exception and it's coming from your own code. It looks like originalRequest.Host.Port.Value might not have a value which is expected when using default ports like 80 and 443.

[2018-04-03 19:33] muratg commented on #2932
@SebastianStehle Why is dispose method getting called twice? It's not clear what your "initialiazation system" doing. It would be best if you could send a complete repro as a github repo.

[2018-04-03 19:38] muratg commented on #2978
@jlgrau let us know if that didn't help.

[2018-04-03 19:38] #2978 closed

[2018-04-03 19:40] muratg commented on #3011
We are closing this issue because no further action is planned for this issue.

[2018-04-03 19:40] #3011 closed

[2018-04-03 19:40] #2477 closed

[2018-04-03 19:56] sebastienros commented on #2964
@muratg There are two things that could be addressed as separate issues, and I think one of them is already tracked (for a long time though):

See this comment: https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore/OrchardCore.Environment.Shell.Abstractions/Builders/Extensions/ServiceProviderExtensions.cs#L49-L51

And this one:
https://github.com/OrchardCMS/OrchardCore/blob/dev/src/Or

[2018-04-03 19:57] Antaris commented on #2964
@muratg

I think one of the stumbling blocks that has forced this design is the inability to close a generic type using a delegate instead of an open type service definition, for instance:

[code]

Obviously, one of the kicks here is the delegates only pass the `IServiceProvider`, instead of some further context around the type being requested, e.g., something like:

[code]

Or perhaps a some sort

[2018-04-03 20:06] davidfowl commented on #2964
If you can implement that on all the containers we support today then there's a chance, otherwise, it's a no.

[2018-04-03 20:08] Antaris commented on #2964
@davidfowl What's your official supported list of containers? I don't mind investigating?

[2018-04-03 20:11] Antaris commented on #2964
@sebastienros FYI, here is my current implementation:

https://github.com/AliumFX/Framework/blob/develop/src/Alium.Core/Tenancy/TenantServiceCollectionFactory.cs#L33

[2018-04-03 20:17] sebastienros commented on #2964
@Antaris we also have a PR to fix some edge cases. https://github.com/OrchardCMS/OrchardCore/pull/1644

[2018-04-03 20:37] davidfowl commented on #2964
We have no real official list (as we don't provide support), but you can use this as a starting point https://github.com/aspnet/DependencyInjection#using-other-containers-with-microsoftextensionsdependencyinjection.

[2018-04-03 21:29] Tratcher opened #3791 "Investigate HTTP/2 behavior for RequestAborted and Abort"
For Http/1.x RequestAborted is used to detect early disconnects and Abort is used to force them.

For HTTP/2 requests can be multiplexed over a single connection and it's possible to terminate individual requests while leaving the connection active. Investigate how Http.Sys/IIS surfaces this behavior and if RequestAborted and Abort can be adapted accordingly. We may also need to introduce a lower

[2018-04-03 21:30] Tratcher opened #5887 "Investigate HTTP/2 behavior for RequestAborted and Abort"
For Http/1.x RequestAborted is used to detect early disconnects and Abort is used to force them.

For HTTP/2 requests can be multiplexed over a single connection and it's possible to terminate individual requests while leaving the connection active. Investigate how Http.Sys surfaces this behavior and if RequestAborted and Abort can be adapted accordingly. We may also need to introduce a lower leve

[2018-04-03 21:58] Tratcher opened #4135 "Templates do not work in Antares Linux due to missing scheme forwarders"
The 2.1 templates include UseHttpsRedirection and UseHsts by default. These stop working and put your site into an infinite loop if you deploy to Antares Linux (or behind any other reverse proxy besides IIS). The problem is that TLS is terminated by the reverse proxy and Kestrel doesn't know the correct request scheme. OAuth and OIDC also fail in this configuration as they generate incorrect redir

[2018-04-03 22:43] Kadajski commented on #1978
@axelheer did you make any progress on fixing this razor issue? I have found that adding `<add key="webpages:Version" value="3.0.0.0" />` to my web.config helps. I get the correct intellisense for the old cshtml now. However the only issue Im having now is purely a code analysis bug it seems. The code analyzers treat the cshtml as a .net core cshtml file still so when the file is open there's load

[2018-04-03 23:18] rynowak opened #5061 "Add line endings on to RazorCodeGenerationOptions"
We have special hooks that we use for testing to mess with line endings for Razor. There's no good reason why we shouldn't just make the line endings configurable.

[2018-04-04 00:39] psheldon commented on #1528
An interesting update from Microsoft...

https://blogs.msdn.microsoft.com/sqlrsteamblog/2018/04/02/microsoft-acquires-report-rendering-technology-from-forerunner-software/

We’re pleased to announce that we’ve acquired technology from Forerunner Software<https://forerunnersw.com/> to accelerate our investments in Reporting Services. This technology includes, among other things, client-side renderi

[2018-04-04 03:44] WangCharlie commented on #3017
[Proxy.zip](https://github.com/aspnet/Home/files/1874298/Proxy.zip)
here is the solution include all codes.  i just want to use proxy for youtube.com site. and get error cors.
and some other error i can't figure out

[2018-04-04 06:13] axelheer commented on #1978
@Kadajski nope, I didn't pursue this any further. Thanks for the "webpages:Version" hint!

[2018-04-04 08:34] laosandegudai opened #3020 "asp.net core 2.0 Assembly.Load FileNotFoundException: Could not load file or assembly"
in asp.net core 2.0
I use  'Assembly.Load' load dll,but it dose'nt work.
when i reference dll,then i load ,it works well.
when i no reference dll,it does'nt work.
I don't know what happend!  I checkd file name and namespace name.

[2018-04-04 09:46] joostvz opened #3021 "DI lifetime not validated when having a Scoped -> Singleton -> Scoped dependency chain."
I've had the following wrong DI configuration:
[code]

Where `Facade` depends on `Service`, and `Service `depends on `DataAccess`. Note that I've introduced a _Captive Dependency_ here: a singleton which uses a scoped dependency.

ASP.NET Core 2.0 should throw an exception to tell me this configuration is not valid. But it doesn't do that. Instead, I can normally run my project and the `DataAccess

[2018-04-04 12:30] damianh opened #3022 "OwinFeatureCollection throwing exception in IHttpResponseFeature.OnCompleted and breaks AspNetCore model binding"
When running AspNetCore on an owin pipeline, `[FromBody]` model binding fails because of [this exception being thrown](https://github.com/aspnet/HttpAbstractions/blob/ce49e95239cfca6f857716082fda767ee6590bf3/src/Microsoft.AspNetCore.Owin/OwinFeatureCollection.cs#L172):

![image](https://user-images.githubusercontent.com/57436/38307376-d652b51e-3813-11e8-883c-8243dd8a4ff9.png)

![image](https://use

[2018-04-04 12:35] damianh commented on #3022
Can't believe I'm the first person to hit this 😃

[2018-04-04 12:36] Tratcher commented on #3022
Can you provide a concrete code sample? Screen shots make poor repros 😁

[2018-04-04 12:37] damianh commented on #3022
Sure, few minutes.

[2018-04-04 13:40] damianh commented on #3022
Here you go https://github.com/damianh/AspNetCoreOwinModelBindingRepro/blob/master/src/ConsoleApp1/Program.cs

F5 run should show the stack trace from the ModelState error in the console.

[2018-04-04 16:46] Tratcher commented on #3022
Removing the NotSupportException and silently ignoring OnCompleted isn't really an option, it would cause memory leaks. We have to find a way to implement OnCompleted even if means invoking the callbacks a bit early as the OWIN middleware exits. OwinFeatureCollection may need a Complete or Dispose method for the OwinHttpListenerServer sample server to call.

Out of curiosity why are you using Kata

[2018-04-04 16:51] Eilon opened #3023 "Bundling and minification broken"
_From @ipjohnson on April 4, 2018 11:54_

I know that bundling and minification were removed from MVC proper but the replacement documented by ms [here](https://docs.microsoft.com/en-us/aspnet/core/client-side/bundling-and-minification?tabs=visual-studio%2Caspnetcore2x) is broken with [bootstrap 4](https://github.com/madskristensen/BundlerMinifier/issues/218) and has been for a year+ with no fix i

[2018-04-04 16:51] Eilon commented on #3023
@DamianEdwards - do we have a pointer to the official story on bundling/minification?

[2018-04-04 16:52] Eilon commented on #2258
This issue was moved to aspnet/JavaScriptServices#1602

[2018-04-04 16:52] #2258 closed

[2018-04-04 16:53] #1907 closed

[2018-04-04 17:24] Eilon commented on #3020
Thank you for filing this issue. In order for us to investigate this issue, could you please provide us with a minimal repro project that illustrates the problem?

[2018-04-04 17:25] Eilon commented on #3020
@davidfowl - is this by design because without an actual reference, the deps file doesn't know about the DLL, so Assembly.Load can't load it?

[2018-04-04 18:34] DamianEdwards commented on #3023
https://docs.microsoft.com/en-us/aspnet/core/client-side/bundling-and-minification?tabs=visual-studio%2Caspnetcore2x

[2018-04-04 18:34] DamianEdwards commented on #3023
Beyond that, we do intend to revisit this in a future version

[2018-04-04 18:36] figuerres commented on #1528
Microsoft PLEASE do not use that front runner code as is!
modern client side web apps are going away from j query  to es modules and such.
we do not need or want to pull in a bunch of j query code.
i'd rather give the client a pdf or the current asp.net control rather than this pile of j query.

make an npm package that plays nice with Angular 2-6 and node and other web client frameworks.
also kee

[2018-04-04 19:45] DamianEdwards commented on #3023
Your summary is completely accurate. This is an acknowledged feature gap from what we had in MVC 5 and is an unfortunate result of the initial decision to attempt to follow the industry trend in this space (namely using node-based build tools). We do intend to fill this gap in a future release with functionality similar to what was there in MVC 5, plus build-time and publish-time support.

I apolo

[2018-04-04 19:57] ipjohnson commented on #3023
@DamianEdwards thank you for your quick and honest responses to my comments. I also thank you for giving us some guidance on what we should do moving forward. I think the answer is for the moment implement what you need to using gulp (node) and wait for a future release to address this gap.

[2018-04-04 20:46] aspnet-hello opened #3024 "How to get number of session"
_From @lillo42 on Tuesday, March 20, 2018 11:31:14 AM_

Hi,

How can I get number of session ?

_Copied from original issue: aspnet/Session#211_

[2018-04-04 20:46] aspnet-hello commented on #3024
_From @Tratcher on Tuesday, March 20, 2018 11:37:35 AM_

The number of concurrent sessions stored in the distributed cache? That information is not available through an API. You'd have to examine the distributed cache directly and see how many entries it had.

[2018-04-04 20:46] aspnet-hello commented on #3024
_From @lillo42 on Tuesday, March 20, 2018 2:24:50 PM_

In my case, I will have just 1 server.

What I need to do to examine the distributed cache directly ? Do you have some example?