[2019-05-02 08:55] stavroskasidis commented on #9894
Here is a sample project that works using preview 3. This is almost the exact thing I am also doing in my private project

https://github.com/stavroskasidis/BlazorWithIdentity

[2019-05-02 09:37] marcelgoldstein commented on #9901
thx @redowl3, after enabling it on the Azure AppService under "AppServiceXY -> Configuration -> General settings -> Web sockets" it looks good!

But why was it functioning on simple pages when Web sockets are disabled? I would expect an error on the first connect rather than dying mid-session.

[2019-05-02 09:39] redowl3 commented on #9901
On your local machine running under IIS websockets is enabled by default

[2019-05-02 09:42] xrkolovos commented on #8149
that's a pity. Can you write the reasons for your decision?

[2019-05-02 09:49] sujayvsarma opened #9912 "[.NET Core 3.0] HTTP 500.0 - ANCM In-Process Handler Load Failure"
The symptom is similar to the OP's issue in #6111. However, CODE circumstances are mightily different.

Here is what I did:

Visual Studio 16.1.0 Preview 2.0 > Created a brand new ASP.NET Core Web application. On the Template selection screen, I selected "Empty", let it configure HTTPS and No Authentication.

Once the project was ready in VS, I simply hit F5. The resulting webpage showed the HTTP

[2019-05-02 10:20] SteveSandersonMS commented on #9901
@anurse I'm just guessing here, but is it possible that when SignalR falls back to a non-WebSockets transport, that message delivery order is no longer guaranteed? We are relying on delivery order guarantees.

[2019-05-02 10:29] kulkarnimeghak commented on #9775
Here is code from sample application where I'm calling storage SDK after opening request stream for reading the uploaded file.
[code]
We came across this in implementation of batch request and content compression, as with these we use MemoryStream for batch subrequest and for decompressed content.

[2019-05-02 10:48] Bartolomeus-649 commented on #9814
This is not good!!
I spend a huge amount of time on this and it turns out that I need an update!

1. Nowhere in Visual studio there is any indication that anything needs updating.
2. Visual Studio show no indications of anything needing updating.
4. No NuGet packages indicate any need of anything needs to be updated
5. The manage Extension tool in Visual Studio does not indicate any need of anythi

[2019-05-02 11:11] detachmode opened #9914 "[Tooling][Blazor] Support Reformat File in VS Code"
Not sure if this fits here, but I don't know where else to put it.
But I would like to have a reformatting feature in VS Code, which should respect the html tags and the C#/Razor code.  At least it should reindent the code. But it would also be nice, if it puts the brackets in the right line and so on.

[2019-05-02 11:15] SteveSandersonMS commented on #5071
This basically all looks great to me and matches what I think we've discussed before.

One further syntactic possibility is to copy JS/TS and be explicit that we're merging contents by prefixing with `...` as JS does. So the closest Razorish equivalent to the JS/TS syntax would be:

    <somelem normal-attribute="something" @...myAttributes />

You'd then get a compile error if you just tried to p

[2019-05-02 11:36] chucker commented on #5071
I'm not sure JS-esque `@...` i quite the right 'idiomatic' syntax for C#, but I do favor such explicitness, given recent issues like https://github.com/aspnet/AspNetCore/issues/9786 which arose because the Razor syntax _isn't_ particularly explicit.

[2019-05-02 12:13] Tanhe opened #9915 "Kestrel UseHttps chooses bad certificate from store"
### Describe the bug
The `src/Servers/Kestrel/Core/src/CertificateLoader.cs` does not take into account that the process (at least on Windows) may not have permissions to read the private key of all certificates, and therefore may choose a certificate which is not usable despite the presence of another usable certificate.

### To Reproduce
Install two valid certificates A and B where B expires fur

[2019-05-02 12:13] javiercn commented on #9570
This can be done today in the same way with endpoint routing.

[code]

For the record, in the future we plan to hide the specific hub we use and expose all the SignalR configuration options on MapBlazorHub.

[2019-05-02 12:38] blowdart commented on #9915
Out of interest (this is a bug, and should be addressed), what would be the reasoning/scenario for limiting access to Certificate B?

[2019-05-02 12:52] Tanhe commented on #9915
We currently deploy software to shared hosts, and there are certs on the machine which are publicly verifiable and are used by sysadmin teams for some of their tooling, where our code only has access to an internally verifiable certificate.

Recently our sysadmins extended the expiry of their certs out beyond the ones for our code and we stumbled upon this issue.

[2019-05-02 13:10] stavroskasidis commented on #9894
I cannot reproduce the issue. I have uploaded a branch of the sample project using preview 4 and everything works fine.

I will keep trying to find the issue, but until then I am gonna close this. I don't want to waste your time with a possible misconfiguration. I will reopen if needed.

[2019-05-02 13:31] paaland commented on #8449
I found a "fix" by increasing the fs.inotify.max_user_watches and fs.inotify.max_user_instances

https://github.com/mono/mono/issues/12535#issuecomment-486227905

[2019-05-02 13:38] JoshKeegan commented on #2577
Is this still planned for 3.0.0-preview5?

[2019-05-02 13:45] rezanid opened #9917 "SignalR, No Connection with that ID"
I have an asp.net core app that uses SignalR to report metrics that are visualized in the browser. It has been working fine for several weeks, but today I noticed that SignalR fails to connect very often and even when it connects, it disconnect shortly after. I'm using LongPolling and I can see in the network logs of Chrome that the first request to "negotiate" is always successful.
[code]
but the

[2019-05-02 13:45] Frankwayne opened #9918 "IHostingEnvironment.IsDevelopment() lowering Request Size limit"
I have posted this on stack overflow but no bites yet.  I was wondering if anyone else has seen this behavior before.
https://stackoverflow.com/questions/55941369/ihostingenvironment-isdevelopment-lowering-request-size-limit

Here is a copy of my stackoverflow question below

I'm having an issue where using the method call IHostingEnvironment.IsDevelopment() is causing 413 to be thrown back by the

[2019-05-02 14:11] tn-5 commented on #9570
@javiercn Can you please explain exactly how this can be done today? Adding the snippet above does not work, but I may well be doing something incorrectly.

[2019-05-02 14:22] QadiymStewart commented on #9570
@javiercn  **Adding the above code gives error in console.**

    app.UseEndpoints(endpoints =>
            {
                endpoints.MapHub<ComponentHub>(
                ComponentHub.DefaultPath,
                o =>
                {
                    o.ApplicationMaxBufferSize = 102400000; // larger size
                    o.TransportMaxBufferSize = 102400000; // larger size

[2019-05-02 14:24] Lupusa87 commented on #9872
@chucker

Sure it will but it is optional and developer can continue hard coding if they don't know why to use nameof and it is not required by compiler.

In ideal case compiler should complain if it sees hard coded names.

It will be hard to achieve because builder.addattribute is receiving string parameter but maybe there can be some way.

If developer is manually building render tree he/she can

[2019-05-02 14:25] QadiymStewart commented on #9570
@javiercn @mkArtakMSFT  If possible can you provide a working repo to test.

[2019-05-02 14:49] JoshKeegan commented on #2577
Nevermind, I see it's been moved to the backlog!

Is anyone working on, or planning on working on this?

[2019-05-02 14:56] alefranz opened #9920 "Provide ability to specify different cache profile based on status code"
### Is your feature request related to a problem? Please describe.
I'm trying to prevent user agents to cache errors or 404s.

### Describe the solution you'd like
I think it should be possible to provide a different cache behaviour (either with cache profiles or `ResponseCacheAttribute`) based on the status code.

### Describe alternatives you've considered
The current solution is to not use the

[2019-05-02 15:11] iambase opened #9921 "SignalR - ArgumentNullException: Value cannot be null"
I have integreated SignalR Client with Unity3D and created a Web Application for the Hubs.

This all works fine when using the Unity3D editor and for Standalone builds of my Unity3D app, but when I do a WebGL build I get the exception.

Nothing changes other than the build type and have spent a couple of days trying to figure out what the issue is but havn't been able too.

Below is a full trace o

[2019-05-02 15:12] mansabbloch opened #9922 "New razor files are automatically removed from watch list in *.csproj file"
### Describe the bug
Visual Studio 2019 Preview 2 is automatically removing new `*.razor` files from watch list when explicitly defined to watch all `*.razor` files in `*.csproj`

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of `ASP.NET Core '3.0 preview 4'` and `Visual Studio '2019 preview 2'`
2. Create Blazor (client) project
3. Add watch for `*.razor` files
[code]
4.

[2019-05-02 15:12] rynowak commented on #2577
This has actually already been done. https://github.com/aspnet/Extensions/blob/master/src/HealthChecks/Abstractions/src/HealthCheckRegistration.cs#L163

[2019-05-02 15:12] #2577 closed

[2019-05-02 15:17] BrennanConroy commented on #9901
Looks like a dupe of https://github.com/aspnet/AspNetCore/issues/9875
And they are repro-ing it with WebSockets in some cases.

[2019-05-02 15:21] BrennanConroy commented on #9921
Hello, you claim to be using SignalR 2.4.1 but your stack trace is showing "Microsoft.AspNetCore.SignalR.Client" which is completely different and not compatible with SignalR 2.4.1. Could you clarify this?

[2019-05-02 15:23] BrennanConroy commented on #9917
Are you using a multi-instance web app? If so do you have ARR Affinity (sticky sessions) enabled?

[2019-05-02 15:23] iambase commented on #9921
I created an empty project and imported SignalR with Nuget and then built to get the DLLs which I then imported to Unity3D along with the dependencies to have access them.

[2019-05-02 15:26] davidfowl commented on #9921
Which SignalR, what version? Like @BrennanConroy said, it looks like it isn't SignalR 2.4.1

[2019-05-02 15:33] davidfowl commented on #9570
@javiercn that no longer will prevent the size limit from being hit but it's not being hit in this issue.

[2019-05-02 15:36] iambase commented on #9921
I only backed up the resulting DLLs from the build not the project I used to create them (had a blue screen disk corrupted over the weekend), even still I am confident I used the most recent version which is 2.4.1.

[2019-05-02 15:54] davidfowl commented on #9921
I'm pretty confident you are *not* using 2.4.1 based on the stack trace you posted. If you have the DLL, you can use a tool like ILSpy to look at the assembly metadata. Regardless, I'd guess you're having an issue with method trimming during the compilation process. I don't know enough about unity to advise here but it seems like the constructor of HubConnection is being removed as part of the bui

[2019-05-02 16:00] Tratcher commented on #9775
How does BufferedReadStream fit into that?

For now I suggest you try wrapping the stream with a pass through stream that suppresses CanSeek and Length.

[2019-05-02 16:00] Eilon commented on #8149
We believed there are sufficient alternatives, such as:
- Using separate controllers for separate access levels. It can be dangerous to have a "super admin controller" and then have some actions on it be allowed for non-super admins. It might be a better security practice to separate those out.
- Some alternatives were described earlier in this issue to get this type of behavior to work, if you ch

[2019-05-02 16:08] Tewr commented on #9570
@javiercn: I pushed your workaround to a new branch
https://github.com/Tewr/Bug9570Repro/tree/MapHubWorkAround/ , but the behaviour is the same as with default setup `MapBlazorHub()`.

[2019-05-02 16:10] guidevnet opened #9924 "Provide a way to automatically create code behind .razor files"
I know it is possible to move the C# code from inside the `@functions` section to a partial class, and then I can inherit it in the .razor file. However, this process is not automatic. For each razor file:

- I need to name the C# file myself
- I need to manually inherit the C# file in the Razor file
- I need to choose a location for the C# file, because the files don't get nested in the solution

[2019-05-02 16:11] ajcvickers commented on #9548
Re-opening, since `ApiAuthorizationDbContext` doesn't follow best practices for a `DbContext` shipped for others to use. In particular:
* It should expose a public constructor that takes a generic `DbContextOptions<TContext>`. Otherwise people resolving this directly will have issues when multiple contexts are registered in D.I.
* It should expose a protected constructor that takes a non-generic `

[2019-05-02 16:12] ajcvickers commented on #9548
@javiercn Is this the correct repo to track this issue? If not, where should I move it?

[2019-05-02 16:12] marcominerva opened #9925 "[Blazor Client-Side] Enabling a button with <input> tag binding"
I'm using Blazor on .NET Core 3.0.0-preview4 with Visual Studio 2019 16.1.0 Preview 2. I'm using the following code:

[code]

The page correctly starts with the button disabled. However, when I type something, nothing happens. Am I missing something?

[2019-05-02 16:17] ajcvickers commented on #3774
@Tratcher @blowdart @Eilon Is there anything blocking this from happening? Could we get it in soon so that we can react in Identity and we can get feedback from customers?

[2019-05-02 16:17] anurse commented on #9819
@highfield makes a good point. There's no reason you couldn't just send the BSON "via MessagePack" as a byte array, using a model like this:

[code]

If you send this object through SignalR, it will be appropriately serialized and deserialized and on the client you can access `.RawBson` and pass it to Mongo's deserializer.

You won't be "converting" the BSON to SignalR's format, you're just wrappi

[2019-05-02 16:23] davidfowl commented on #4221
Just an FYI this code wiil not work in 3.0, casting the `EndpointSelectorContext` to `IEndpointFeature` will fail. @rynowak has been working on a story here and I think we have something that works for 3.0.

[2019-05-02 16:24] blowdart commented on #9915
Ah, so your cert is different to the sysadmin cert, because you don't want sharing, but of course they have the same host name, and everything gets confused.

@Tanhe what version of asp.net core are you using right now?

@anurse this is definitely a bug.

[2019-05-02 16:24] natemcmaster commented on #3774
I don’t believe anything is blocking this. I see both @HaoK and I are still assigned. It’s unclear which of us is actually taking point on this, so first order of business should be to clarify that. I think I can probably squeeze this in to my workload over the next few weeks, but no promises…a lot of other work is happening for P6 that’s higher priority for me than this.

[2019-05-02 16:27] ajcvickers commented on #3774
Thanks Nate. I think @HaoK can do it, if we're good to pull the trigger.

[2019-05-02 16:29] Tratcher commented on #3774
Go ahead.

[2019-05-02 16:29] NTaylorMullen commented on #9914
@detachmode glad you want this as well 😄. It's on our roadmap and we're tracking the work: https://github.com/aspnet/Razor.VSCode/issues/21

[2019-05-02 16:32] anurse commented on #9901
Message delivery order is not guaranteed in general, but should be preserved if you are sending all the messages from the same server to a single client (i.e. you aren't doing broadcasting to groups or users or all clients). I believe Blazor fits in that scenario. Having said that, we should probably have a conversation about your message ordering needs because it's not generally something we've "

[2019-05-02 16:34] Tratcher commented on #9787
@rynowak for analyzers.

[2019-05-02 16:36] davidfowl commented on #9921
If you're using IL2CPP (https://docs.unity3d.com/Manual/IL2CPP-BytecodeStripping.html) you might need to add something like:

[code]

[2019-05-02 16:37] Tratcher commented on #9915
How did you do that?

And how would we check these permissions when inspecting the cert?

[2019-05-02 16:38] CRodriguez25 commented on #9562
Is there a workaround for this (besides just hardcoding the URL)?

[2019-05-02 16:42] Tanhe commented on #9915
It appears that the `HasPrivateKey` property will return false if the current process does not have permission to access the private key.

[2019-05-02 16:46] Tanhe commented on #9915
From the Certificates MMC on Windows, when you select a cert there is an action for Manage Private Keys where you can manage the permissions.

[2019-05-02 17:10] Eilon commented on #9562
I set the URL explicitly on the call to HttpClient. Slight;y annoying but it was only in a few places, so not too bad.

[2019-05-02 17:11] Eilon commented on #3774
I have no objection.

[2019-05-02 17:25] jkotalik opened #9929 "WebHost always calls StopAsync on a Server even if StartAsync wasn't called."
Discovered as part of https://github.com/aspnet/AspNetCore/pull/9859. We have logic in IIS inproc that tries to drain all existing requests before shutting down, which relies on a callback to be set in StartAsync for a tcs to be completed. If an exception is thrown from Configure/ConfigureServices, the server will still call Server.StopAsync from WebHost.StopAsync even if StartAsync wasn't called.

[2019-05-02 17:38] lmolkova commented on #9491
We should use [W3C trace context](https://w3c.github.io/trace-context/) notions (OpenCensus names are the same) probably in CamelCase as other scopes.

To make it useful we need to log parent-id as well otherwise we lose causation in the logs. When an incoming request is received, it gets `TraceId` and `ParentId` in the headers. New `SpanId` is generated.
So I propose to log all three.

Also, assu

[2019-05-02 17:55] iambase commented on #9921
Okay, Sorry for the delay. I rebuilt the DLLs and I'm using 1.1.0 for both the client and hubs.

I tried the Managed bytecode stripping with IL2CPP like you suggested but still getting the same error.

[code]
The latest trace after the updates.

[2019-05-02 17:59] Tratcher commented on #9918
IsDevelopment only checks state, it doesn't change anything. What are you doing in `//Dev services added`?

What is null? `Get<IHttpMaxRequestBodySizeFeature>()` or `MaxRequestBodySize`?

[2019-05-02 17:59] davidfowl commented on #9921
Try adding **Microsoft.Extensions.DependencyInjection** to the list. It might give you the exception text.

[code]

[2019-05-02 18:00] Tratcher commented on #9918
See https://github.com/aspnet/AspNetCore/issues/8293 for adding IHttpMaxRequestBodySizeFeature to IIS in-process.

[2019-05-02 18:02] bhrugen opened #9930 "After adding Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation, no new razor pages can be added by scaffolding."
### Describe the bug
After adding Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation, no new razor pages can be added by scaffolding. Once i add that nuget package for runtime compilation, I cannot add anything to project by right clicking add new razor page.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 3 preview 4
2. Install preview version of  Microsoft

[2019-05-02 18:05] Eilon commented on #9904
@davidfowl what repo is that?

[2019-05-02 18:06] davidfowl commented on #9904
https://github.com/dotnet/diagnostics, we just need to make sure we fire an event where there's a user unhandled exception. Which we do in some cases (we need to figure out what to do with the ExceptionHandler middleware and DeveloperExceptionPAge middlewae)

[2019-05-02 18:14] javiercn commented on #9548
@ajcvickers This is the correct repo.

Could we use a separate issue to track the items you mention?

[2019-05-02 18:25] Tratcher commented on #9929
DisposeAsync calls StopAsync:
https://github.com/aspnet/AspNetCore/blob/4cb86bc15160e493e6331190da9973736f0fc240/src/Hosting/Hosting/src/Internal/WebHost.cs#L355-L371

GenericHost no longer does this:
https://github.com/aspnet/Extensions/blob/1b1558ebc1f33a70c76736f6a26d907b6dcca270/src/Hosting/Hosting/src/Internal/Host.cs#L110-L121

Possible fix:
WebHost.StopAsync already checks _stopped to preve

[2019-05-02 18:45] BrennanConroy commented on #8916
Thank you for the repro @balbarak!

We've taken a look and found a bug in the WebSockets implementation that Xamarin uses. We're currently talking to the team to see what can be done.

[2019-05-02 18:48] anurse commented on #8916
Switching to a tracking issue. @BrennanConroy can you post a link to any Xamarin issue that comes out of this?

[2019-05-02 19:10] JoP96 opened #9931 "NavLink does not update Route parameters in code"
My .razor file looks as follows:
[code]

When I navigate to /example, the h1 tag contains "Nothing", as expected. If I now click on the NavLink "Something", the h1 tag contains "Something", also as expected.
But if I then click on the NavLink "Nothing", the URL in browser changes the right way, but the h1 tag still contains "Something".
If I check the value of by clicking the button, the console s

[2019-05-02 19:43] jkotalik commented on #9929
I'll do this as part of https://github.com/aspnet/AspNetCore/issues/9929.

[2019-05-02 19:45] balbarak commented on #8916
Thanks guys

we want to see the Signalr to be the best cross platform websocket protocol ever exist

[2019-05-02 19:57] Rugved commented on #6075
Were you able to fix this ? We have same issue but no work around in 2.2.2

[2019-05-02 19:59] #8451 closed

[2019-05-02 20:36] mdmoura opened #9932 "Unsupported Media Type on ApiController GET action"
Using ASP.NET Core 2.2 I have the following ApiController actions:

    [ApiController, ApiVersion("1.0", Deprecated = false), Route("v{version:version}")]
    public class PostController : ControllerBase {

      [HttpGet("users/{userId}/posts")]
      public async Task<IActionResult> GetByUserId(GetModel model) {

      }

      [HttpPost("users/{userId}/posts")]
      public async Task<IActionR

[2019-05-02 20:40] #9093 closed

[2019-05-02 21:03] Andrzej-W commented on #9931
This bug is tracked here #7419. You can close because it is a duplicate.

[2019-05-02 21:11] mikaelm12 opened #9934 "Investigate SignalR Streaming Performance"
We've done a lot of feature work in our streaming story but now we should focus on looking at the performance. Especially since we can now compare the `StreamAsChannel `and `StreamAsync` APIs to each other directly and the differences between uploading via a `Channel  `vs an `IAsyncEnumerable`

[2019-05-02 21:11] Eilon commented on #8894
Hi, we haven't heard back yet from the nopCommerce folks, so I'm closing this issue because we can't investigate this further on our own. I'll re-open when we have further updates. I recommend following up directly with nopCommerce for any urgent support.

[2019-05-02 21:11] #8894 closed

[2019-05-02 21:19] Andrzej-W commented on #9925
This is expected behaviour. `newItem` will be updated in `OnChange` event  - you have to press `TAB` to move focus out of `input` element. You can change your binding to `bind-value-oninput` to see immediate updates after every keystroke. See here https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#data-binding

[2019-05-02 21:21] Rick-Anderson commented on #5405
@mkArtakMSFT can we schedule this for 3.1?

[2019-05-02 21:47] #5320 closed

[2019-05-02 21:53] BrennanConroy commented on #9519
Current API

[code]

Semi-related to API are our default Json options, currently we have:
[code]

There are a couple other settable options right now, do we want to set them or just keep the defaults?:
[code]

@davidfowl @mikaelm12 @halter73 @anurse

[2019-05-02 22:04] HaoK commented on #9779
Note: repros on 2.2 and 2.1, does not repro on 3.0

[2019-05-02 22:08] Andrzej-W commented on #9931
https://github.com/aspnet/AspNetCore/issues/7419#issuecomment-462096315

https://github.com/aspnet/AspNetCore/issues/7419#issuecomment-465098832

We have to wait for the fix.

[2019-05-02 22:26] pranavkm commented on #9932
Is `GetModel` a complex type? `ApiController` assumes complex types come from the body. If it's meant to be a value from query, you need to add a `FromQuery` on the action parameter.

[2019-05-02 22:33] JoP96 commented on #9931
Ok, thanks!

[2019-05-02 22:33] #9931 closed

[2019-05-02 22:35] mdmoura commented on #9932
@pranavkm Yes, it is a complex type and I tried using FromQuery but I get the same error.

[2019-05-02 22:40] anurse commented on #9519
All the methods/properties on `JsonHubProtocol` (except the constructors) are just the ones that come from `IHubProtocol` right? So they're not really negotiable anyway :)

Given that, I think we're in a good place. Now that we can just expose the `JsonSerializerOptions` type, we basically have the same API and the Newtonsoft.Json one.

[2019-05-02 23:18] pranavkm commented on #9932
Have you looked at the application logs with logging for MVC set to `Information`. It might give a hint.

[2019-05-02 23:29] Andrzej-W commented on #9694
I think it is tracked here #5616

[2019-05-02 23:29] Andrzej-W commented on #9716
I think it is tracked here #5616

[2019-05-02 23:32] mdmoura commented on #9932
Ok, that helped! Adding [FromQuery] attribute solves the problem. Thank you.

[2019-05-02 23:32] #9932 closed

[2019-05-02 23:36] Andrzej-W commented on #9723
I can confirm I see the same behaviour. I can use `Ctrl K + Ctrl C` to comment razor (html) code, but VS crashes when I try to comment something in `@functions` block.

[2019-05-03 00:12] rynowak commented on #9779
@HaoK - did you try 3.0 without endpoint routing?

[2019-05-03 00:15] DamianEdwards opened #9937 "[Epic] Templating"
## Simplification
- Make the templates as simple as they can be while continuing to serve their primary purpose
- Defaults for most of these should not use packages to ensure projects can be created offline. OK for optional parameters to result in packages being added.

## ILogger - https://github.com/aspnet/AspNetCore/issues/10332
  - Update all our activated types to take `ILogger<T>`
  - e.g. C

[2019-05-03 00:51] justintoth commented on #6111
What a nightmare... It's as if Microsoft is trying to do everything in their power to make us use IIS Express instead of IIS. Every developer I've talked to who has attempted to develop against IIS with ASP.NET Core has run into a ton of issues. After trying every suggestion in this thread, I'm STILL hitting the dreaded HTTP Error 500.0 - ANCM In-Process Handler Load Failure error. I'm at a loss o

[2019-05-03 00:54] pranavkm commented on #9510
In general things look better compared to 2.2. We do not have recursions and sub-graphs of objects without any models do not get bound e.g. scenarios like - https://github.com/aspnet/AspNetCore/issues/9321 - work as expected. Collections of form files also work well.

There is an issue where `IFormFile` objects that are deeply nested may not get correctly bound. Consider this:

[code]

`Root.Sub1.

[2019-05-03 01:11] rynowak commented on #9510
This was one of the ideas we had a looooong time ago to try and make files work good. It's not clear to my why anything about this value provider needs to be special. It makes sense that we'd put this value provider *last* and make it just return an empty value.

[2019-05-03 01:13] BenHayat opened #9938 "[Blazor SS Question] Advantage of Blazor SS over ASP razor page?"
What are the main advantages in using Blazor Server Side over using ASP.Net Core Razor pages?

Structurally and functionally when I look at both, they both seem to be the same (some changes to routing and where code gets written) but as far using EF, building pages, serving them to user seem the same. In fact Razor pages offer powerful Taghelpers that Blazor doesn't and razor pages are mature and

[2019-05-03 01:13] xuanhnvt commented on #4221
@davidfowl My project is built for 3.0-preview-4, I tested and it worked. Please give it a try. Thanks!

[2019-05-03 01:46] Andrzej-W commented on #9727
Try to change your `format-value` string to "yyyy-MM-ddTHH:mm" (uppercase letters H). Value of input element is represented in ISO format (24-hour clock). Value is displayed accoording to your operating system settings.

[2019-05-03 02:37] chrdlx commented on #9609
How can I test this again?  If I download the latest .net core Master Preview6-011689, these changes should be applied?

Thanks

[2019-05-03 04:09] davidfowl commented on #4221
It’ll be broken in preview6.

[2019-05-03 04:12] #4597 closed

[2019-05-03 04:13] rynowak commented on #4597
I've added a new singleton service that can be used to parse a URL path given an endpoint/route name. See #4597 for details. Coming soon to official docs.

[2019-05-03 04:16] rynowak commented on #4221
@xuanhnvt - I'm planning to add something purpose built for your use case. https://github.com/aspnet/AspNetCore/pull/8955

[2019-05-03 04:40] lextm commented on #6111
@justintoth IIS Express is installed as part of VS, so it can receive periodical updates if needed, and it also has integrated ASP.NET Core module. However, IIS requires a separate install of ANCM, and its installer is not perfect either.

In the worst case, build ANCM from source code, https://github.com/aspnet/AspNetCore/tree/v2.2.4/src/Servers/IIS and then you can debug into its code base so as

[2019-05-03 05:23] davidfowl commented on #7960
@mikaelm12 are you taking this one?

[2019-05-03 05:28] mikaelm12 commented on #7960
Yeah, I'll take this too.

[2019-05-03 06:01] davidfowl commented on #9901
Hmm, if ordering isnt preserved over a single connection then we have some bugs. The way everything is designed, things should be received and sent in order.

[2019-05-03 06:06] davidfowl commented on #7070
@anurse Can we assign @mikaelm12 this as well?

[2019-05-03 06:07] davidfowl commented on #8375
Did you look at implementing the custom protocol?

[2019-05-03 07:00] stavroskasidis commented on #9894
Turns out, it was a problem with chrome on my PC. I have no idea why it didn't work, maybe some extension was jamming it. When I used Firefox (or Chrome in Incognito mode) everything worked fine.

I have never seen something like that before. I did a clean re-install of Chrome and now it is working again.

Sorry if I wasted anyone's time.

[2019-05-03 07:21] conficient commented on #4048
A nice client-side Blazor auth example using Identity: https://github.com/stavroskasidis/BlazorWithIdentity

[2019-05-03 07:29] fs86 commented on #7509
@rynowak This error does not only occur in conjunction with data attributes. Unfortunately I can not always repdoduce it. I noticed it when I added a simple component to a page. Is that known? Could you possibly make a statement about this?

[2019-05-03 07:32] mansabbloch opened #9939 "Blazor form component InputSelect should support binding of type Guid"
### Is your feature request related to a problem? Yes.
Following code does not work if binding Type is Guid. The runtime error in browser console is `InputSelect does not support the type Guid"
[code]
[code]
### Describe the solution you'd like
InputSelect should support binding for type Guid.

### Describe alternatives you've considered
I have to create custom MyInputSelect on top of InputSelect

[2019-05-03 07:53] lobster2012-user commented on #8375
Hi @davidfowl !
The first problem with adding other protocols is binding to the delimiter during a handshake.
The implementation of a handshake should not be static on the server side.

Ideally, I would add @AArnott  to the discussion.
As it seems to me, adding new features in aspnetcore/signalr and in streamjsonrpc
happened simultaneously.
Now this is all compatible, but why not combine it...

[2019-05-03 07:55] rezanid commented on #9917
My colleague just checked. We are using single instance and ARR Affinity is on. I'm going to deploy to a local IIS (as opposed to express that I'm using to debug) with production build and similar URL (virtual folders) to see if I can reproduce the issue in my dev box.

[2019-05-03 07:57] oferns commented on #4597
That's brilliant thanks! I might be being a bit thick here but could you link to the implementation?

[2019-05-03 07:58] marcominerva commented on #9925
You're right, thank you for the clarification!

[2019-05-03 07:58] #9925 closed

[2019-05-03 08:05] SteveSandersonMS commented on #7509
@fs86 I'm only aware of it happening in conjunction with `data-*` attributes. If you're saying it happens in other cases we'd need a repro example (even if it only repros intermittently) otherwise I'm not sure how we could investigate. Hope that's OK!

[2019-05-03 08:10] fs86 commented on #7509
@SteveSandersonMS Okay, I will try to create an example. Thank you for your response.

[2019-05-03 08:34] BenjaminCharlton opened #9940 "Adding a reference to a (working) class library project breaks the build of my Blazor project"
### Describe the bug
Adding a reference to a class library project breaks the build of my Blazor project. There are no build errors in the class library itself, and both projects target .NET Standard 2.1, and I don't understand the error message, so I'm a bit stuck. Can anybody see what I've done wrong, please?

### To Reproduce
Steps to reproduce the behavior:
I created a new client side Blazor p

[2019-05-03 09:14] kmuthukumar23 opened #9941 "InvalidOperationException: Cannot provide a value for property 'Http' on type 'ej2_blazor_samples.Shared.MainLayout'. There is no registered service of type 'System.Net.Http.HttpClient'."
### Describe the bug
I have migrate my blazor client side samples in to server-side. When i am compile and run it, it will throws the error in browser window "InvalidOperationException: Cannot provide a value for property 'Http' on type 'ej2_blazor_samples.Shared.MainLayout'. There is no registered service of type 'System.Net.Http.HttpClient'."

### Screenshots
![image](https://user-images.githubu

[2019-05-03 09:57] #9894 closed

[2019-05-03 11:42] VBAndCs commented on #8971
@Eilon @danroth27
I faced a new issue with file provider (using .net core 2.2):
The app contains Pages\Index.cshtml and Pages\Basket\Index.cshtml
Both contain `@model IndexModel` directive.
Without using file provider, navigating to both pages works fine, but when using file provider with both pages still physically in same folders (i.e file provider doesn't do anything yet), navigating to the Pag

[2019-05-03 11:54] iambase commented on #9921
The same exception is thrown with no extra information.

[2019-05-03 11:59] martincostello commented on #9394
@Projkt-James We seemed to experience the issue with 2.2.x when doing model binding, particularly when re-executing a request in an error handler.

[2019-05-03 12:07] tymonstuff opened #9942 "Unable to add .razor page to base template project"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
Receiving an "Error There are no scaffolders supported for this i

[2019-05-03 12:09] StingyJack commented on #1222
For anyone else finding this issue and wanting this as a feature, you can do a pseudo redirection by creating one last package version for the old package that only has a readme.txt (explaining the redirect), and that last old package should list the new package info as the only dependency.

Users can then be kept along your intended upgrade path and only have to remove the last old package at som

[2019-05-03 12:26] mdmoura opened #9943 "Support multiple FromRoute and FromQuery per Object"
Using ASP.NET Core 2.2 I have the following ApiController action:

    [ApiController]
    public class PostController : Controller {

        [HttpGet("posts/{postId:int:min(1)}")]
        public async Task<IActionResult> GetByPostId([FromQuery]GetByPostIdRequest request {

        }
    }

Where `GetByPostIdRequest` is the following:

    public class GetByPostIdRequest {
        [FromRoute]

[2019-05-03 12:43] fs86 commented on #7509
@SteveSandersonMS Okay, I created a test repo and then found out that I actually use a data attribute in one of my components :-) Sorry for the false report.

[2019-05-03 13:06] mateusvbf commented on #9943
Try something like that:

[code]

[2019-05-03 13:25] iambase commented on #9921
Okay, after much debugging and trying to figure this out it seems to be an issue with threading (not that the exception indicates that), Unity dosen't support multi-threading due to the lack of threading support in JavaScript. which as you know is a requirement of SignalR.
(It doesn't explain why using a Dispatcher I'm able to use it on other platforms but is the reason why it isn't on WebGL)

Tha

[2019-05-03 13:25] #9921 closed

[2019-05-03 13:50] pranavkm commented on #9943
I would recommend @mateusvbf's suggestion Alternatively you could use the `ModelBinderAttribute` to indicate that the parameter isn't being deserialized from body. Outside of that, changing the binding source to a different one half way through an object graph isn't something we would support.

[2019-05-03 13:51] mdmoura commented on #9943
@mateusvbf Sure, that works but imagine a situation where I am using FluentValidation to validate GetByPostIdRequest and during validation of GetByPostIdRequest I need to know postId.

Consider I am not doing manual validation but automatic validation and adding errors to Model State.

Then things get a little bit tricky ... am I wrong?

Of course all have a solution like adding [FromRoute] inside

[2019-05-03 13:54] justintoth commented on #6111
@lextm Many of us follow the philosophy that the dev environment should be as close as possible to the QA and Prod environments, that way more issues are discovered during development rather than in QA testing or by end users in Prod. Thus, we like to use IIS. Also, it has more flexibility with being able to set common subdomains among the team (IIS bindings, e.g. dev.mydomain.com) and being able

[2019-05-03 13:59] mdmoura commented on #9943
You mean using a custom model binder for GetByPostIdRequest object? Not sure what you meant.

[2019-05-03 13:59] pranavkm opened #9945 "Replace Microsoft.JSInterop.Json with JsonSerializer"
With the few tests I tried, barring some nasty bugs, it looked like System.Text.Json generally works well with server and client size blazor for serializing and deserializing vanilla JSON payloads. We should remove the `Json` type and recommend users migrate to using `System.Text.Json.JsonSerializer`.

[2019-05-03 14:05] pranavkm opened #9946 "Ensure SystemTextJsonHelper always HTML encodes user content"
As part of https://github.com/dotnet/corefx/issues/37192, `JsonSerializerOptions` would expose a property that allows customizing the JavaScript encoder. `SystemTextJsonHelper` uses the user configured `JsonSerializerOptions`.

We need to do the same thing here as we do with Json.Net i.e. copy the settings, but reset the encoder to ensure it's restrictive.

* https://github.com/aspnet/AspNetCore/b

[2019-05-03 14:06] pranavkm commented on #9946
cc @ashson

[2019-05-03 14:13] pranavkm commented on #9943
Just decorating a parameter with the `ModelBinder` attributes tells MVC that it needs to be model bound and values can come from either Query, Form or Route.

[2019-05-03 14:35] rynowak commented on #4597
Oops it's https://github.com/aspnet/AspNetCore/pull/9728 - fixed my link, thanks

[2019-05-03 14:36] zanate4019 opened #9947 "ASP.NET Core SignalR 2.2 Authentication (Windows Authentication) on .net core console app returns - 401 (Unauthorized)"
### Describe the bug
I have a signalr hub (Startup.cs attached).  It is configured for windows authentication.  CORS is configured to be wide open.  It is hosted in IIS.  I have a .Net Core console application that when run on a different server it runs fine.  When it runs on the same server it receives a 401 Unauthorized response.
![image](https://user-images.githubusercontent.com/10452739/571440

[2019-05-03 14:58] SteveSandersonMS commented on #9942
I'm afraid we don't yet have an item template for components (i.e., `.razor` files).

A "Razor Page" is a different thing: it's a page within a Razor Pages application, *not* an interactive component.

[2019-05-03 14:58] #9942 closed

[2019-05-03 14:59] Frankwayne commented on #9918
@Tratcher

The property MaxRequestBodySize is null.

For the //Dev services Added  I'm making
services.AddingSingleton<Interface, type>()  calls

It looks like I was wrong, about how to cause the issue I'm facing.    Apparently IIS Express is keeping my site running in the background and just replacing the binaries, which was giving me false positives.      I can use the  IHostingEnvironment.IsDev

[2019-05-03 15:05] anurse commented on #7548
Re-opening this. We still have some projects using 141. I do think we can punt this out a bit though since I don't know that there's a pressing reason to update.

[2019-05-03 15:06] Tratcher commented on #9918
Can you share a minimal repro project with us?

[2019-05-03 15:31] anurse commented on #9394
Yep, I believe model binding can also produce fairly deep stacks. This should be improved with this coming change.

[2019-05-03 15:35] anurse commented on #9901
I should rephrase, ordering is preserved. However, messages may be lost and we wouldn't terminate the connection, so it's not "strict" ordering (in the TCP sense).

[2019-05-03 15:36] Frankwayne commented on #9918
I will attempt to do so but it may take some time to strip and replicate the issue out

[2019-05-03 15:56] Eilon commented on #8971
Please file a new issue with minimal steps required to reproduce the issue so that we can investigate.

[2019-05-03 16:03] dcaton commented on #6032
@JohnGoldsmith There's an easy way to accomplish this.  In your Startup.Configure() implementation, add this.  Not sure if the exact order matters, but it didn't work for me unless I put this before app.UseMvc().

`app.UseRewriter(new RewriteOptions().Add(context =>
            {
                if (context.HttpContext.Request.Path == "/AzureADB2C/Account/SignedOut")
                {

[2019-05-03 16:09] GabrielBB opened #9948 ""dotnet run" command fails if path has spaces"
### Describe the bug

"dotnet run" command does not work. It says "but dotnet-C:\Users\Gabriel does not exist" when my windows user is "C:\Users\Gabriel Brito\...". It looks like the problem is the space in the user name.

### To Reproduce

Steps to reproduce the behavior:

1. Windows account with spaces in the name. For example: "C:\Users\Gabriel Brito\..."
2. Using ASP.NET Core 'SDK 3.0.100-prev

[2019-05-03 16:15] bradygaster commented on #4135
@cephalin the nice people who build the container images will be setting that EV for us. Estimate is early summer for release of the images inclusive with that EV.

[2019-05-03 16:32] #9905 closed

[2019-05-03 16:36] danroth27 commented on #9924
The plan is to support partial classes with .razor files #5487

[2019-05-03 16:36] #9924 closed

[2019-05-03 16:37] #9914 closed

[2019-05-03 16:46] Andrzej-W commented on #9938
Short answer: use Blazor Server Side if you want to create interactive application and write your code in C#.

Blazor template contains `Counter` component. Try to implement this in Razor pages or MVC without JavaScript or full page refresh.

Another example. Let's assume you have two combo boxes. First contains a list of countries. Second should contain cities in selected country. The same sugges

[2019-05-03 16:46] danroth27 commented on #9893
You can do this by implementing `IDisposable` on your root component and putting the handling logic in the `Dispose` method.

[2019-05-03 16:47] mpalmer78 commented on #7750
@fractionalJoe did you find a work-around to this issue? it is also affecting my project.

[2019-05-03 16:48] danroth27 commented on #9891
Client-side Blazor apps run directly in the browser via a WebAssembly based .NET runtime. We don't have support yet for attaching the debugger to the browser from Visual Studio quite yet, but we do have some preliminary support for debugging using the browser dev tools: https://docs.microsoft.com/en-us/aspnet/core/blazor/debug?view=aspnetcore-3.0

[2019-05-03 16:48] #9891 closed

[2019-05-03 16:49] danroth27 commented on #9890
This is most likely due to not using the correct version of Visual Studio. You will see these errors if you try to use the stable release of Visual Studio 2019. Instead, you need to use the latest Visual Studio *Preview* release: https://visualstudio.com/preview.

[2019-05-03 16:49] #9890 closed

[2019-05-03 16:51] danroth27 commented on #9886
@hosezelt Thanks for answering!

[2019-05-03 16:51] #9886 closed

[2019-05-03 16:54] danroth27 commented on #9885
You should be able to bind to the onkeydown event on a specific element like this: `<input onkeydown="@OnKeyDown" />`. You should be able to put this on a high level component like a top level div in your layout. Alternatively you can always use JS interop: https://docs.microsoft.com/en-us/aspnet/core/blazor/javascript-interop?view=aspnetcore-3.0.

[2019-05-03 16:54] #9885 closed

[2019-05-03 16:55] danroth27 commented on #9875
Closing as a duplicate of #9901.

[2019-05-03 16:55] #9875 closed

[2019-05-03 16:57] danroth27 commented on #9872
Thank you for this feedback. This is not something we plan to invest in given the complexity involved the impact on our ability to evolve the implementation going forward.

[2019-05-03 16:57] #9872 closed

[2019-05-03 16:59] pranavkm commented on #7194
@ronebrandao I tried your scenario using 2.2.4 and I'm unable to reproduce the scenario:

![image](https://user-images.githubusercontent.com/174281/57152972-efa49a80-6d89-11e9-9d74-60d4f7406027.png)

Note that `Annotations` isn't null.

[2019-05-03 16:59] #7194 closed

[2019-05-03 16:59] Andrzej-W commented on #9937
It would be nice to have `Auth` option in `Blazor WebAssembly App (ASP.NET Core hosted)` and ` Blazor Server App`

[2019-05-03 17:00] DamianEdwards commented on #9937
@Andrzej-W there is a plan for auth for Blazor apps that is being executed on for preview6 I believe @danroth27?

[2019-05-03 17:00] ray440 opened #9950 "Environment.StackTrace don't work"
I'm trying to get the stack trace in my Blazor.Shared DLL.
But `Environment.StackTrace` returns an empty string
and `System.Diagnostics.StackTrace(0, true)` returns an empty stack

[2019-05-03 17:12] pranavkm commented on #9856
@mdmoura you should see all Json formatting errors that Json.Net reports as part of the bad result. Are you seeing otherwise?

[2019-05-03 17:13] Lupusa87 commented on #9872
I think it is not hard razor compiler to generate:

`builder.AddAttribute(2, nameof(SurveyPrompt.Title), "How is Blazor working for you?");`

Instead of:

`builder.AddAttribute(2, "Title", "How is Blazor working for you?");`

Hard will be compiler to require not to hard code name in manual buildRenderTree use and I am ok if we don't go in this direction, because it could be lot work.

But I ask to

[2019-05-03 17:25] NTaylorMullen commented on #9451
Given that this is external going to track the resolution of this work here: https://github.com/OmniSharp/omnisharp-vscode/issues/3024

[2019-05-03 17:25] #9451 closed

[2019-05-03 17:42] chrisevich opened #9951 "NavLink inside SVG tag causes full page reload"
**### Describe the bug**
When using a NavLink inside an svg tag, clicking the link causes a full page reload. Clicking the html text link causes a partial page update as expected.

**### To Reproduce**
Past the following code into Index.razor from the starter project.

@page "/"
<svg height="200" width="200" viewBox="0 0 200 200">
<NavLink href="counter">
    <circle cx="100" cy="100" r="10"></cir

[2019-05-03 17:46] chrisevich commented on #9951
Sorry here's the code:

[code]

[2019-05-03 17:51] Zombie8 commented on #9597
I just pulled down the latest templates, etc etc asd per the "Getting Started with Blazor" tutorial and am running into this exact situation. I see the fix was commited, but what can i do to get that fix today? or what is the work around today? Just trying to save time without having to read a bunch on how to call dotnet run with a bunch of switches and parameters. Thanks

[2019-05-03 17:58] fractionalJoe commented on #7750
I did. I created a wrapper service that takes the `IHttpContextAccessor` as a `ctor` parameter. It has a `HasValidSession()` method. I don't have the code in front of me, but as I recall it's:
[code]
Note that `_httpContext` is set in the `ctor` from the IHttpContextAccessor.HttpContext. I avoid using try/catch as control logic whenever possible, but this is the only way I've found to do it in the

[2019-05-03 18:00] rjmr97 commented on #9597
I fixed my version by replacing the file `C:\Users\USER_NAME\.nuget\packages\microsoft.aspnetcore.blazor.devserver\3.0.0-preview4-19216-03\build\Microsoft.AspNetCore.Blazor.DevServer.props` with the one from the fix

[2019-05-03 18:04] Zombie8 commented on #9597
That did the trick @rjmr97 thanks for the suggestion!

[2019-05-03 18:04] AArnott commented on #8375
I'm not too familiar with SignalR, but I believe it is based on MessagePack, which is indeed very similar to JSON-RPC, and the reason why StreamJsonRpc can actually use MessagePack to encode all of its JSON-RPC messages.

I don't understand why you say that, @lobster2012-user. StreamJsonRpc [has full support for web sockets](https://github.com/Microsoft/vs-streamjsonrpc/blob/master/src/StreamJsonR

[2019-05-03 18:17] CRodriguez25 commented on #9562
I was actually just able to inject a URIHelper and use _uriHelper.GetBaseUri() to construct the API calls.

`        public async Task<Something> Get()
        {
            var client = new HttpClient();
            var baseUri = _uriHelper.GetBaseUri();
            if (!baseUri.EndsWith("/")) baseUrl += '/';
            var result = await client.GetJsonAsync<Something>($"{baseUri}api/userstories

[2019-05-03 18:29] anurse commented on #4135
@cephalin FYI we don't plan to backport this to 2.x builds, but the code is very simple (just enabling the forwarded headers middleware when an environment variable is set). @bradygaster will be writing up a blog post on how to enable this on 2.x builds.

[2019-05-03 18:37] lobster2012-user commented on #8375
@AArnott

I don't understand why you say that, @lobster2012-user. StreamJsonRpc has full support for web sockets.

Unfortunately, I do not remember what I had in mind.
Perhaps I meant, in the current implementation, the end of the web socket of the message should be the end of the json message.

One of the implementations is the json protocol, it is very similar to json-rpc, the fields are called

[2019-05-03 18:48] cephalin commented on #4135
@bradygaster That sounds great! @anurse Or I can just modify the guidance here: https://docs.microsoft.com/en-us/azure/app-service/containers/configure-language-dotnetcore#detect-https-session

[2019-05-03 19:24] BenHayat commented on #9938
@Andrzej-W ;
I thank you for the time you took to respond. As I had written SPA app before I fully agree the benefits of "Interactivity" that Blazor gives us. And your cascading combo box example also makes sense, that I have to use jQuery Ajax.
As I'm following the growth of Blazor and see how many stuff needs to be completed and become stable, it gives me that cold sweat that Blazor is going to

[2019-05-03 19:38] pranavkm commented on #9948
Dup of https://github.com/aspnet/AspNetCore/issues/9597. The issue's been fixed in the preview5 release. For preview4, https://github.com/aspnet/AspNetCore/issues/9597#issuecomment-489186006 has workarounds.

[2019-05-03 19:38] #9948 closed

[2019-05-03 19:39] Frankwayne commented on #9918
@Tratcher

took a good bit of testing but here is a repo  of the issue

https://github.com/Frankwayne/asp-net-core-413

there is a linqpad script in the scripts folder that you can use after you spin up the webserver.

Apparently it doesn't matter for the IISExpress reset.  each run of the script output the 413 for the Large Request Message , then a 200 for the small request size, then 200 for eac

[2019-05-03 19:40] danroth27 commented on #9937
Yup: #4048

[2019-05-03 20:35] nauticalcoder opened #9953 "GeneratePasswordResetTokenAsync does not clear existing PasswordResetTokens for a user"
When using GeneratePasswordResetTokenAsync to generate a password reset token, it is not clearing out existing tokens for the user so if a user generates multiple password reset tokens, they all appear to be recognized.  We would expect that only the latest token will still be active.  We should at least have a method to allow clearing the password reset tokens for a user (like ResetAuthenticatorK

[2019-05-03 20:37] xt0rted commented on #7647
After adding a reference to `Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation` I get a version mismatch on the `Microsoft.CodeAnalysis.Common` package. This is because `Microsoft.VisualStudio.Web.CodeGeneration.Design` is referencing an older version. I had to remove the reference to `Microsoft.VisualStudio.Web.CodeGeneration.Design` otherwise view recompilation was throwing an exception.

[2019-05-03 20:55] GabrielBB commented on #9948
@pranavkm Do you know when preview5 will be available?

[2019-05-03 20:59] Eilon commented on #9889
I'm not sure I agree about whether the re-execute should force using GET, but the exception that's happening definitely doesn't look right to me.

cc @Tratcher for thoughts

[2019-05-03 21:06] halter73 commented on #9519
`MaxDepth = 0; // meaning 64` Why not just make it 64 then?

[2019-05-03 21:11] BrennanConroy commented on #9519
Those are the defaults set by `new JsonSerializerOptions();` I'm not setting 0 or 64.

[2019-05-03 21:16] HaoK commented on #9953
this is by design of using self signed tokens that expire that aren't stored in the database, but changing the security stamp of the user, which happens automatically when the password or other security things automatically will invalidates any outstanding tokens that are based on the security stamp

[2019-05-03 21:17] HaoK commented on #9953
So its technically true that all the tokens are valid...until you change your password, then ALL of the tokens will be invalid.

[2019-05-03 21:27] bradygaster commented on #4135
Yes, @cephalin that would be fantastic for you to complement the upcoming blog post (once we fix this) with the doc update. thanks so much.

[2019-05-03 21:27] danroth27 opened #9955 "Blazor templates missing TemperatureF data"
The Blazor (server-side) and Blazor (ASP.NET Core hosted) templates show 0 for the entire TemperatureF column. The data isn't returned by the server and it isn't calculated on the client.

[2019-05-03 21:37] nauticalcoder commented on #9953
Thanks for clarifying this and it makes sense now.  It appears that if we did want it to behave as I described where only the latest token works, that we would have to also UpdateSecurityStampAsync each time we generate a password reset token.

[2019-05-03 21:38] Tratcher commented on #9889
That exception was caused by running the matcher twice and was fixed here:
https://github.com/aspnet/AspNetCore/pull/6416

Would we replace the request body? They query? The headers? No. The more you re-write the request the more effort you have to put in to flow the original values through an alternate mechanism (https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.diagnostics.iexcept

[2019-05-03 21:43] mikaelm12 commented on #9862
Can you provide more information about your environment? What API level are you targeting?
Is the error just happening on start up or are you able to do anything before the exception? Uploading a repro app to github would be helpful

[2019-05-03 22:00] #9953 closed

[2019-05-03 23:01] chucker opened #9960 "Support IAsyncDisposable"
### Is your feature request related to a problem? Please describe.
I implement `IDisposable` in some components to interop with JS, to clean up resources on the JS end. Blazor calls `Dispose()` on my component as appropriate.

However, this requires using `IJSInProcessRuntime` to get synchronous JS invocations.

### Describe the solution you'd like
If the component implements `IAsyncDisposable`, B

[2019-05-04 00:41] NinoFloris opened #9961 "JQueryKeyValuePairNormalizer is not robust and writes binary data into your console"
With a specifically crafted binary upload, which in my case I happened to stumble upon and `Content-Type: application/x-www-form-urlencoded` set in a request, to any endpoint will trigger a 500 and some very ugly console output.

This line will write up to the maximum allowed form key length into the console via the unhandled exception logger. https://github.com/aspnet/AspNetCore/blob/c565386a3ed1

[2019-05-04 04:01] JamesNK commented on #9524
gRPC has recently been updated to a newer version of .NET Core 3.0, and an explicit Newtonsoft.Json was added.

Is the benchmark still failing with the same error?

[2019-05-04 04:38] sebastienros commented on #9524
Benchmarks were broken due to DHCP issues. They are back and I will check. But it could definitely be broken by the new nuget feeds. Can you check what I did in my latest pr on this repos?

[2019-05-04 05:34] los93sol commented on #9937
It would be awesome if the Blazor templates were closer aligned to the other web templates.  That layout is the first thing I strip out of every project.

[2019-05-04 05:53] los93sol commented on #7268
Yep, this is a big one.  Fall thru logic seems good here.  If it’s not declared on the element itself but is declared on a parent with the same condition couldn’t that type param be inferred?

[2019-05-04 07:25] ghost opened #9964 "Follow links when disconnecting"
As soon as you have lost contact with blazor.server.js, any transition to the links of the prejudice causes the error 'blazor.server.js:1 Uncaught (in promise) Error: Cannot send data if the connection is not in the 'Connected' State.'

I suggest in the absence of communication with the server to perform the usual transition by reference, without using server rendering. In this case, you do not ne

[2019-05-04 09:24] steveofficer commented on #4895
I have also just encountered this problem. To me the workaround kind of defeats one the purposes of having the PageModel i.e It is the page's model. I should not need a PageModel-model.
Additionally, the other validators work it is surprising to suddenly discover that `Compare` did not.

[2019-05-04 10:48] ZvonimirMatic opened #9966 "Layout for components that are not pages"
I started doing a simple app using server-side Blazor. In that app I have multiple modal windows that should show additional information about certain parts of the application.

Every modal window should have completely free-form content, so a component with a title and content is not suitable (e.g. because the content might be some complex HTML). I found layout examples in the documentation and d

[2019-05-04 11:08] huysentruitw commented on #9610
Do you want to use the same credentials for all `HttpClient` instances in the application or only for certain calls?

[2019-05-04 11:26] huysentruitw commented on #9039
+1 Would be great if we could stop using that workaround suggested by @blowdart. I lost the count in how many applications I've added that piece of code.

[2019-05-04 13:03] tebeco opened #9970 "[QUESTION] Is it possible to ship Razor engine / pages in a nuget for a webapi"
### Is your feature request related to a problem? I'm am trying to do ship dynamic html content (Razor Pages would be perfect) from a nuget
The idea is exactly the same as `Swashbuckle.Aspnetcore` ships a pages
if i understand correctly `Swashbuckle` ship raw html/js and this does not feels like a good idea for simple but dynamic content.
Our naive implementation generates html in a  `StringBuilde

[2019-05-04 13:40] poke commented on #9970
So just to clarify:

You want to run custom middleware and have that return content based on the result of rendering a Razor view?

Is this limited to just view logic (i.e. what you can do within a `.cshtml`), or do you also want “code-behind” like in a Razor page? And is this just limited to a few static results with little server-side interaction (i.e. no back and forth through form submits or s

[2019-05-04 14:00] tebeco commented on #9970
As discussed with @poke on slack i'm pretty sure i missused the template `razorclasslib`
closing this issue and will re-open if stuck with a repository for repro

[2019-05-04 14:00] #9970 closed

[2019-05-04 15:12] kjeske commented on #5553
Is there any chance that the fix will be included in preview6 or preview7?

[2019-05-04 15:14] mpalmer78 commented on #7750
Awesome, I'll give it a shot. Thanks for sharing!

[2019-05-04 15:14] #9915 closed

[2019-05-04 16:19] huysentruitw commented on #5947
Seems like it's not the `TestServer` that is needed here, but the `IServiceProvider` so `IOptions<AuthenticationConfiguration>` can be resolved from it.

This could be solved in many ways, so I don't think `TestServer` or `IServiceProvider` should be exposed onto the `RequestBuilder`.

F.e. you could pass the `IServiceProvider` or `IOptions<AuthenticationConfiguration>` to the `SetUser()` extensio

[2019-05-04 16:42] PirasannaRavi commented on #5521
[https://github.com/aspnet/Blazor/issues/1235#issuecomment-489328205](url)

`bind-value-oninput` or `bind` does not work with `contenteditable` divs.

In the below code, the expectation is as and when I edit the div content I need to update the model so that I can then later save it back.
`<div contenteditable="true" bind-value-oninput="@contentEditableText">

[2019-05-04 17:37] guardrex commented on #5521
Hello @PirasannaRavi ... Please open product feedback over in the [aspnet/AspNetCore issues](https://github.com/aspnet/AspNetCore/issues).

[2019-05-04 17:51] huysentruitw commented on #7449
Does this ever work (even outside `TestHost`) ? I'm trying to see what needs to be done here, but all I find is that [`HttpContext.Abort()`](https://github.com/aspnet/AspNetCore/blob/4646ed56189a8ee36ced6397dd4f86fce9e6a8e8/src/Http/Http/src/DefaultHttpContext.cs#L163) calls `LifetimeFeature.Abort();` which is an [empty method](https://github.com/aspnet/AspNetCore/blob/425c196cba530b161b120a57af8f

[2019-05-04 17:54] huysentruitw commented on #7449
Never mind, it's supposed to be empty as the purpose is to let users implement their own feature implementing `IHttpRequestLifetimeFeature`. 😎

[2019-05-04 18:06] PirasannaRavi opened #9974 "Blazor: bind-value-oninput or bind does not work with contenteditable divs"
### `bind-value-oninput` or `bind` does not work with `contenteditable` divs

### Bug Description
In the below code, the expectation is as and when I edit the div content I need to update the model so that I can then save it back to Database.

### To Reproduce
Steps to reproduce the behavior:
1. Using the latest preview version of ASP.NET Core 3
2. Run the below code
`<div contenteditable="true" b

[2019-05-04 18:08] PirasannaRavi commented on #5521
Sure @guardrex.
I created a new Issue as suggested.
[https://github.com/aspnet/AspNetCore/issues/9974](url)

[2019-05-04 18:41] Temoxa commented on #9610
I want set credentials for create httpclient from httpfactory)

[2019-05-04 19:33] davidfowl commented on #7449
Yes it works outside of test host. Nothing uses that default feature implementation, servers implement their own.

[2019-05-04 21:06] dennismaxjung commented on #9692
I've found out that in my case the `app.UseForwardedHeaders();` was missing. It got lost on merging, (my fault), after added it back to the middleware pipeline all worked as expected.

_Hint: Do not forget to configure it right:_
`services.Configure<ForwardedHeadersOptions>(options =>
{options.ForwardedHeaders = ForwardedHeaders.All; //<-- On productive do set to the headers you need.
options.Know

[2019-05-05 03:57] davidfowl commented on #9921
Not sure what you mean but other people bVs gotten SignalR to work in unity https://blog.xin9le.net/entry/2019/05/03/231001

[2019-05-05 05:51] Vivelin commented on #9889
Fair enough. But what would happen in this situation with the fix from #6416? I assume the re-executed action still wouldn't get executed as the endpoint does not accept the requested method. So instead of an exception, would nothing happen?

[2019-05-05 08:30] conficient commented on #9966
Layouts are intended to be used for page layout only.

For components with embedded 'child' content you use `RenderFragment` or templates. These are covered in the [Blazor Docs here](https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#child-content).

If you have more complex requirements you can also use [Templated Components](https://docs.microsoft.com/en-us/aspnet

[2019-05-05 09:16] conficient commented on #9945
If you do, please make this a pluggable option so we can use a different library, e.g. Newtonsoft

[2019-05-05 09:59] conficient commented on #9955
[Hosted templates](https://github.com/aspnet/AspNetCore/blob/master/src/Components/Blazor/Templates/src/content/BlazorHosted-CSharp/BlazorHosted-CSharp.Shared/WeatherForecast.cs) look okay, it was only the server-side template that was missed. Perhaps it should be moved to `src/Components/Blazor/Templates/src/content/` so it's in the same area as the other Blazor templates?

[2019-05-05 10:10] wpitallo commented on #5385
Getting the same issue after upgrading from 2.1 to 2.2, this is a major issue, and headache!

[2019-05-05 11:09] drk-mtr opened #9982 "Default Identity schema breaches SQL Server rule for clustered index limit of 900 bytes"
### Description
The issue is exactly as described here: https://github.com/aspnet/Identity/issues/1451.

When creating the Identity schema, two of the tables (`AspNetUserRoles` and `AspNetUserTokens`) created have an index that exceeds limits.

If we attempt to re-create the automatically generated schema by using "Script as CREATE" in SSMS or Azure Data Studio, then run these scripts on an empty

[2019-05-05 12:42] 3x0dv5 commented on #9938
"My product has to be live before the end of the year." That's key. Honestly I'd go with Razor Pages. Blazor server side has to keep those signalr connections open, so if your app is going to have a lot of visitors that could take a toll on your servers.
Blazor client side, I'd say is far from being useful in a production setting, in particular with the initial load of assemblies (several MB), and

[2019-05-05 12:52] strich opened #9983 "cshtml pages don't always update to latest when modifying during debug session"
### Describe the bug
I have been working with a relatively simple webapp using latest version of ASPNET Core 2.2 using Razor Pages. For the past few months I have been doing a lot of local testing IE running the local webserver in debug mode (Default VS2019 stuff). I make a lot of use of being able to update a cshtml page, save it, and reload the webpage in the browser. It is integral to quick ite

[2019-05-05 12:54] mrbrennonwilliams opened #9984 "Blazor - Documentation management, MVC issues, missing methods and attributes..."
Hello,

*Please don't take this as a negative criticism of the fine work and effort going into this project, but please do pay attention to some of the issues I list here as an extremely experienced dev, picking up the project for the first time. I am hoping some of these issues can be resolved and thought about to improve the experience and help the community existing and future.*

First - from a

[2019-05-05 13:19] huysentruitw commented on #3093
I cannot reproduce this. It works flawless with there configurations:

- netcoreapp2.0 with Microsoft.AspNetCore.All 2.0.6
- netcoreapp2.1 with Microsoft.AspNetCore.App 2.1.1
- netcoreapp2.2 with Microsoft.AspNetCore.App 2.2.0

[2019-05-05 13:20] #9955 closed

[2019-05-05 13:38] pranavkm commented on #9945
@conficient the suggestion is to not have a helper at all. You should be free to do what works best for you.

[2019-05-05 14:03] pranavkm commented on #9984
@mrbrennonwilliams for the tooling specific issues, you need to install the preview build of VS 2019: https://visualstudio.microsoft.com/vs/preview/

[2019-05-05 14:18] Tratcher commented on #9889
It looks like you'd get a 405 response.

[2019-05-05 14:45] drk-mtr commented on #9984
https://github.com/ConsenSys/ethql/wiki/Submitting-Bugs-and-Suggestions

`Do not enumerate multiple bugs or feature requests in the same issue.`

I feel your pain, but we need to make this easy for the maintainers to track and resolve.

[2019-05-05 14:48] Andrzej-W commented on #9938
Let's assume you have to implement some complex algorithm which is necessary to make your page interactive. In Razor pages you have to write it in JavaScript. In Blazor you can write it in C#, and because it works on the server you can use any .NET library which is compatible with .NET Standard. If you implement your code in JavaScript everybody can see it, debug it, clone it, etc. Code on the ser

[2019-05-05 14:55] drk-mtr commented on #9912
Doesn't seem like a bug - that's not a valid dotnet CLI command. It's `dotnet run WebApplication1` or similar e.g. `build` or `publish` instead of `run`.

Try `dotnet run WebApplication1 -v d` in order to see detailed information.

[2019-05-05 15:25] mrbrennonwilliams commented on #9984
It is installed

[2019-05-05 15:33] mrbrennonwilliams commented on #9984
Point being, this post is not about multiple bugs - it is about a simple trace of the guiding **Documentation** and the multiple issues that it presents, which is in itself -  a bug. If no one is interested in that user experience, feel free to close this out. As I mentioned in the OP, I will log individual bugs.

Cheers

[2019-05-05 15:54] drk-mtr commented on #9984
Just for context - I'm not anything to do with this project or Microsoft - just a very amateur dev chiming in with an opinion.

And it's not that I'm not interested in that user experience, I am because I'm far less experienced and rely on documentation - however I'm just giving my opinion on the easiest way to get it resolved.

[2019-05-05 16:27] BenHayat commented on #9938
@3x0dv5 & @Andrzej-W ;

Thank you for your feedback. Digging deeper over the weekend in Asp Razor pages, one thing became very clear to me. Razor Pages are very well thought out and a "complete" platform, in some ways even better and cleaner than MVC.
This app doesn't require direct interaction like the app I wrote in Vue. However, I wonder if we can make the index.cshtml (as the defaut page) to b

[2019-05-05 17:55] JunTaoLuo opened #9985 "[Helix] Microsoft.AspNetCore.Server.Kestrel.FunctionalTests.Http2.ShutdownTests.GracefulShutdownWaitsForRequestsToFinish fails on Fedora.28.Amd64.Open flaky on other linux distros"
I'm seeing consistent failures of this test. I've disabled it for now but it needs investigation. https://dev.azure.com/dnceng/public/_build/results?buildId=179820&view=ms.vss-test-web.build-test-results-tab&runId=4336858&paneView=debug&resultId=118191.

cc @Tratcher

[2019-05-05 18:00] Frankwayne commented on #9918
Strange using the Http  paths appear to work just fine.

[2019-05-05 18:34] Tratcher commented on #9985
Link to the disable PR/commit?

Note this test was enabled on linux for the first time this week when we got the new SocketHttpClient HTTP/2 work. From the logs I saw it looks racy.

[2019-05-05 19:04] hbsis-williamdasilva commented on #9781
I can confirm this happens, and it is really frustrating.
When you work with DDD, you don't want people to instantiate your objects with a "default constructor" as this facilitates code corruption.
I think the behaviour should be the same as [FromBody].
Is it possible for us to suggest this? Maybe in a future release this can be changed.
Thank you.

[2019-05-05 20:18] #9767 closed

[2019-05-05 20:47] guylando opened #9987 "Cookie added to HttpResponse.Cookies is NOT immediately available in the HttpRequest.Cookies (unexpected breaking change from System.Web)"
System info:
net 472
dotnet cli 2.1.602

The documentation here: https://docs.microsoft.com/en-us/dotnet/api/system.web.httprequest.cookies?view=netframework-4.7.2
says "After you add a cookie by using the HttpResponse.Cookies collection, the cookie is immediately available in the HttpRequest.Cookies collection, even if the response has not been sent to the client."

This is wrong as reported here

[2019-05-05 20:50] Frankwayne commented on #9918
https://docs.microsoft.com/en-us/iis/configuration/system.webserver/serverruntime

It appears that it defaults to the   serverruntime   attribute value uploadReadAheadSize default value of
49152
checking the lenght of my byte array  going over this value  causes the behavior I'm seeing.  A byte array lenght of 49152  works just fine on https.  49153  request size doesnt work until either of the be

[2019-05-05 20:50] #9918 closed

[2019-05-05 20:53] guylando commented on #9987
Indeed if you look at the implementation of .Append there is nothing which adds the cookie to the request headers "immediately ": https://github.com/aspnet/AspNetCore/blob/425c196cba530b161b120a57af8f1dd513b96f67/src/Http/Http/src/Internal/ResponseCookies.cs#L36

[2019-05-05 20:59] guylando commented on #9987
Ah that is the documentation of System.Web.HttpRequest and not Microsoft.AspNetCore.Http.HttpRequest.
The question is why they are inconsistent on this

[2019-05-05 21:24] avin-kavish opened #9988 "Ambigous route matches"
### Describe the bug
These two routes lead to an ambiguous match on `Toyota-Corolla-vehicles/2`.
[code]

According to my understanding, they shouldn't as the two parameters are separated by a `-` which is a valid string literal. As per the [docs](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/routing?view=aspnetcore-2.2#complex-segments), the routes match non greedily from right to l

[2019-05-05 21:51] joewhite opened #9989 "dotnet new react should use latest create-react-app and react-scripts"
### Describe the bug
When I create a new ASP.NET Core + React project with `dotnet new react`, the template uses an old version of create-react-app. Specifically, it installs an old version of create-react-app's "react-scripts" package.

This causes a lot of `npm audit` warnings that wouldn't be there if it used the latest react-scripts, and prevents using the TypeScript support that's [built into

[2019-05-05 22:39] jkotalik commented on #9668
We aren't doing this.

[2019-05-05 22:39] #9668 closed

[2019-05-06 00:08] JunTaoLuo commented on #9985
https://github.com/aspnet/AspNetCore/pull/8094/commits

[2019-05-06 00:10] JunTaoLuo commented on #9985
Actually it seems like it's consistent on Fedora.28 but flaky on others. https://dev.azure.com/dnceng/public/_build/results?buildId=180258&view=ms.vss-test-web.build-test-results-tab

[2019-05-06 02:30] #8293 closed

[2019-05-06 02:48] ioer2008 opened #9990 "请教如何使用类似<partial> 标签调用 Razor ClassLib?"
想使用<partial> 标签 直接调用,类似这样,
`<partial name="/Areas/MyFeature/Pages/Page1.cshtml" />,
<partial name="/MyFeature/Pages/Page1.cshtml" />,`
startup添加services.Configure<RazorViewEngineOptions>(options =>
{
options.ViewLocationFormats.Add("/MyFeature/{0}");
options.ViewLocationFormats.Add("/MyFeature/{0}.cshtml");
});
怎么样都不行,试来试去,发现只有https://localhost:44348/MyFeature/page1 ,这样可以显示页面,
请教如何使用类似<partial> 标签

[2019-05-06 04:43] sujayvsarma commented on #9912
Interesting --

So following @drk-mtr's [reply](https://github.com/aspnet/AspNetCore/issues/9912#issuecomment-489433875), I ran:

[code]

And the app started correctly and there were no ANCM errors.

But, when I ran the same thing from VS (VS 2019 Community Edition, 16.1.0 P2), I hit the same ANCM error I posted in my original report on top.

[2019-05-06 05:15] #7368 closed

[2019-05-06 06:43] synckarthik opened #9991 "The type or namespace name 'App' could not be found in blazor client side project"
### bug

We have created the blazor(client side) project in visual studio 2019 and run the application.

It throws the build error as

The type or namespace name 'App' could not be found (are you missing a using directive or an assembly reference?)
1>Done building project "WebApplication1.csproj" -- FAILED.

**Note:** We didn't add any of our codes in created project, we just build the created pro

[2019-05-06 06:46] RemiBou commented on #9781
did you try with a private or protected empty constructor ?

[2019-05-06 07:40] mwinkler commented on #9692
I have the same issue in our corporate cloud foundry instance (application running inside a docker image).
With preivew-3, navigating was working without this issue.

Error:
[code]

[2019-05-06 08:26] Edward-Zhou opened #9992 "Enable append custom data for “BadRequest”."
For ` BadRequest ` in Asp.Net Core Web API 2.2, it will produce “ProblemDetails” response like:

Code:

[code]
Response:

[code]
But, for ` BadRequest(new { errors = errors }); `, it will return `errors` without “ProblemDetails” like

Code:

[code]
Response:
[code]
I apply for it will return with ` ProblemDetails `
[code]

[2019-05-06 08:37] SteveSandersonMS commented on #9984
@mrbrennonwilliams Thanks for reporting this.

FYI most of the issues you've observed here are because you're compiling your component as a view/page (`.cshtml`) instead of a component (`.razor`). The APIs are different because these are different technologies that handle different use cases. I know you were misled into doing this by out-of-date docs, which like you've observed, is because this is

[2019-05-06 08:37] #9984 closed

[2019-05-06 08:41] SteveSandersonMS commented on #9966
Thanks for answering @conficient.

Yes, the intended design is that you can do things like "wrap a templated component around your dialog" to reuse container markup or behavior. Templates components let you pass in arbitrary content (including interactive content) so it's not limiting you to a simple text-based title/contents structure.

[2019-05-06 08:41] #9966 closed

[2019-05-06 08:41] phillip-haydon opened #9993 "AuthorizationHandler to have access to ActionArguments"
### Is your feature request related to a problem? Please describe.
I have alot of routes define on my API, some routes have an optional argument via Query String, some are defined in the route itself, and some are sent as part of the payload.

Because some are not defined on `[FromRoute]` and are instead defined via `[FromQuery]` and `[FromBody]`, they are not available in the bound model of the a

[2019-05-06 08:41] rafalschmidt97 commented on #9781
@hbsis-williamdasilva - same! But you can always use get variables and then initialize your DDD object. It's not a big deal.

[2019-05-06 08:42] SteveSandersonMS commented on #9964
@pranavkm This is a good idea. Since you're working on the navigation handling, do you know how feasible it would be to add the further rule "if the client is unable to send the navigation event to the server for the router to handle, just do a full page load directly"?

[2019-05-06 08:43] SteveSandersonMS commented on #9964
BTW I don't mind whether it still logs an error too. Perhaps it's best if it does, since it is an error case. Real-world users would not see anything go into the console anyway.

[2019-05-06 08:45] SteveSandersonMS commented on #9950
This is controlled by the underlying Mono runtime. Would you therefore be able to report this to https://github.com/mono/mono?

Thanks!

Closing as external.

[2019-05-06 08:45] #9950 closed

[2019-05-06 08:54] cores-system commented on #9964
@SteveSandersonMS , The ability to catch the error is needed so that the user knows why the button / form/ etc.
But if a user is a guest viewing a blog / news for example https://devblogs.microsoft.com/aspnet/, then it is more logical to make a transition to a new page.

That is, the navigation itself should not depend on whether the user is connected to a socket or not.

[2019-05-06 08:57] SteveSandersonMS commented on #9964
Navigation has to depend on the socket connection, because the .NET code in the Router makes the choice about how navigation is handled. My suggestion above only applies in the case where the connection is broken and we are just trying to recover the situation for the user.

[2019-05-06 09:07] cores-system commented on #9964
I mean links without logic `<a href="/conter">conter</a>`, during disconnect, we can make a simple transition.

[2019-05-06 09:08] SteveSandersonMS commented on #9964
Yes, we're saying the same thing :)

[2019-05-06 11:25] deanilvincent commented on #8980
This error appears to me after I accidentally registered the same interface in my `ConfigureServices`

    `services.AddScope<IMyInterface, IMyInterface>();`

Make sure to double check your `Startup.cs` `ConfigureServices`

[2019-05-06 12:15] 3x0dv5 commented on #9938
I've never done it, but can't see why not. In practically terms the browser doesnt know anything about the cshtml, the browser will only be concerned with the paths that you put in the `@page` directive.

In a PWA using client side blazor you will have a list of files to cache like:
[code]

But in your Razor pages you'll have urls that you might specify on the `@page`, like

[code]
so in your file

[2019-05-06 12:51] BenHayat commented on #9938
@3x0dv5 ;
Thanks for the comment. In Razor Pages model, I would not incorporate "offline" at all. My primary goal of using PWA, would be:
A) An easy way for user to install the App's URL on her mobile page
B) Ability to run "Service Worker"as a background task to check with Server's Web API for data change, when the app is not active on Mobile.

[2019-05-06 13:05] Frankwayne commented on #9918
@Tratcher  I'm not sure if you wish to consider this a bug or not

[2019-05-06 13:06] krychaszek commented on #9818
Hello,

Thank You for your help, we've finally managed to resolve our issue. After analysing Wireshark capture it turned out that the handshake packets are send to server, however it takes about 21 seconds on Playstation4 to fully connect with the Hub. By default in .Netcore SignalR handshake timeout is set to 15 seconds. After setting timeout time to a little bit bigger value everything works as

[2019-05-06 13:10] ruchanb opened #9994 "[FromBody]/ JSON binding doesn't use Culture from RequestCultureProviders"
### Describe the bug
Culture derived from `RequestCultureProviders` is not being implemented in JSON Input binding.
The culture received is being used in `query string`, `application/x-www-form-urlencoded` binding but not working with `application/json`.

### To Reproduce
https://github.com/ruchanb/AspNetCoreCultureModelBind
This is standard new project build with addition of
[code]
provider
[code

[2019-05-06 13:13] MarkStega opened #9995 "Creating a default gRPC application fails to run"
### Describe the bug
Creating and running an app created from the default gRPC template fails in Preview4

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 3.0.0-Preview4 with VS2019 16.1.0 P2
2. Run this code -- Create an application from the gRPC template
3. With these arguments n/a
4. See error:
[code]

### Expected behavior: Expect that the created app ac

[2019-05-06 13:16] gaoconggit opened #9996 "WebDeploy 3.6"
**Describe the bug**

When installing MS WebDeploy 3.6, Asp.net core 2.2 webapi does not work properly，How
to fix?

**Screenshots**

![QQ截图20190506212448](https://user-images.githubusercontent.com/10905068/57266132-50471680-70ad-11e9-9f97-5c0435efa2c7.png)

web.config

![image](https://user-images.githubusercontent.com/10905068/57266339-16c2db00-70ae-11e9-9dd5-fee44f0fe5a0.png)

.csproj

![image](

[2019-05-06 13:37] conficient commented on #4048
I'd be interested to know if there is a way to obtain the `HttpContext` or the `ClaimsPrincipal` in the client app for an _ASP.NET Core Hosted_ Blazor application. I've looked at @josephayoung code fragments but these won't work in `Startup.cs` on the client app, since it has no access to the Identity - only the .Server will have this.

The only way I can see at present is to implement a Web API o

[2019-05-06 13:40] SteveSandersonMS commented on #4048
There is no `HttpContext` in client-side Blazor. However as part of the auth work we are planning to make a `ClaimsPrincipal` available on the client.

[2019-05-06 13:42] conficient commented on #4048
Wow thanks for the fast response @SteveSandersonMS - is that in Preview6 ?

[2019-05-06 14:06] hbsis-williamdasilva commented on #9781
@RemiBou I tried both, but it only works with a public empty constructor.
@rafalschmidt97  yes, it is not the end of the world, but it is kinda strange that you cannot use the same object for FromBody and FromQuery (for example).

The deal is, when using an object to deserialize using FromBody, normaly you dont wanna this object to be used inside your system. He is only an object to receive inform

[2019-05-06 14:27] 3x0dv5 commented on #9938
in that case shouldn't be a problem. Add the manifest.json, icons, and cache a few files to at least show that the app is offline and you can even test it on chrome on your lap/desktop. When you provide the manifest.json chrome will show a "Install {app name}..." on the menu

![image](https://user-images.githubusercontent.com/250271/57231724-001b7600-7013-11e9-9c95-5e465cf40691.png)

and then you

[2019-05-06 14:39] sebastienricher commented on #5385
@bradygaster I'm looking back at my initial post, my CORS policy is:

corsBuilder.WithOrigins(new[] { "http://localhost:4200",
                                            "http://productionSite.com" }); // for a specific url. Don't add a forward slash on the end!
            corsBuilder.AllowAnyHeader();
            corsBuilder.AllowCredentials();
            corsBuilder.AllowAnyMethod();

So I am

[2019-05-06 14:53] BenHayat commented on #9938
@3x0dv5
Thank you for your great info. Much appreciated!

[2019-05-06 15:09] Tratcher commented on #9918
From your description this is an IIS behavior, not an Asp.Net behavior. I don't quite understand how it manifested in this way. @jkotalik @shirhatti

[2019-05-06 15:30] davidfowl commented on #9996
@gaoconggit can you provide some more details, the exception message you're seeing, the version of ASP.NET Core you're using etc. (Can you fill out the template provided by the issue?)

[2019-05-06 15:31] davidfowl commented on #9995
Do the other templates work for you?

[2019-05-06 15:32] bradygaster commented on #5385
What you have here mirrors a the settings for a demo project on which I'm working ATM. The code for that is below, and for that site, SignalR and REST APIs both work from clients in the origin list.

[code]

[2019-05-06 15:36] anurse commented on #9818
That's good to know! Thanks for the update :). I'll close this for now. I don't think we want to update our default timeout right now, but it's good to know that updating that config works for you! If you run in to anything that we could do to make things work better, let us know!

[2019-05-06 15:36] #9818 closed

[2019-05-06 15:57] acolombo25 commented on #9245
@JMaroz I solved the problem, the issue was proguard obfuscating enums inside the objects being sent and causing problems with GSON.

[2019-05-06 16:05] BrennanConroy commented on #9760
@rynowak Looks like you figured it out? https://github.com/aspnet/AspNetCore/pull/9998

[2019-05-06 16:24] #5942 closed

[2019-05-06 16:24] anurse commented on #5942
https://github.com/aspnet/AspNetCore/commit/f2f1d7751710342d22c55edf83a01615409f2a49

[2019-05-06 16:42] dpedrelli opened #10000 "MissingMethodException: EndpointRoutingApplicationBuilderExtensions.UseRouting"
I have an .NET Core 3, MVC app that runs fine inside of VS 2019.  When I deploy it to a server running IIS, I get the following error page:

`An error occurred while starting the application.
MissingMethodException: Method not found: 'Microsoft.AspNetCore.Builder.IApplicationBuilder Microsoft.AspNetCore.Builder.EndpointRoutingApplicationBuilderExtensions.UseRouting(Microsoft.AspNetCore.Builder.IAp

[2019-05-06 16:43] mikaelm12 opened #10001 "Docs for new IAsyncEnumerable features"
We now have support for IAsyncEnumerable in our SignalR streaming scenarios. Accepting and returning `IAsyncEnumerable<T>` on the client and server. We need to add docs for these new features.

[2019-05-06 17:05] NotMyself opened #10002 "Client Side Deep Links with WebpackDevMiddleware 404s"
I have an asp.net core app that is using spa services to serve up a vue.js client-side application. When running in Development mode with the WebpackDevMiddleware enabled, all client-side deep links return a 404.

How can I configure the fall back routes for the WepackDevMiddleware?

### To Reproduce
Steps to reproduce the behavior:
1. Clone the repository: `https://github.com/NotMyself/bivrost.gi

[2019-05-06 17:14] rynowak commented on #9760
Ya, let's close this BAD BOY

[2019-05-06 17:14] #9760 closed

[2019-05-06 17:15] Tratcher commented on #9987
Because we wanted HttpRequest to represent what was actually sent by the client, not an assumption about what the client side state will be in the future.

An example of this is authentication cookies. Sign-in can be a multi-stage process where you transition through a series of different cookies over multiple requests. It makes a meaningful difference what cookies the client provided on this requ

[2019-05-06 17:16] #9130 closed

[2019-05-06 17:18] BrennanConroy commented on #9947
cc @Tratcher

[2019-05-06 17:26] BrennanConroy commented on #9917
Could you collect a network trace of the failing connections? https://docs.microsoft.com/en-us/aspnet/core/signalr/diagnostics?view=aspnetcore-2.2#network-traces

[2019-05-06 17:29] anurse opened #10003 "File versions and descriptions are stripped in ASP.NET Runtime Bundle installer."
In the **ASP.NET Core Runtime Installer** EXE installer, the file versions and descriptions of DLLs appear to be missing.

**Repro steps:**

1. Download the ASP.NET Core Runtime EXE Installer (for example https://dotnet.microsoft.com/download/thank-you/dotnet-runtime-3.0.0-preview5-windows-x64-asp.net-core-runtime-installer)
2. Unpack it using `dark`
3. Check the property page for any DLL in the M

[2019-05-06 17:29] Tratcher commented on #9947
On the local machine it's going to use NTLM but on the remote machine it's going to default to stronger mechanisms like Kerberos that require a more configuration. Can you share your Windows Auth settings from IIS?
Also, the client settings matter. Are you using default credentials and the full server name?

[2019-05-06 17:48] joeloff commented on #10003
Nope, they have properties. I just extracted the full MSI. Did you view it indirectly through something like a compressed folder. If you do that you won't see properties always.

![image](https://user-images.githubusercontent.com/7409981/57244078-75278500-6fec-11e9-8c0b-685be8a94ab2.png)

[2019-05-06 17:50] mikaelm12 commented on #9934
Some initial numbers for accepting a `ChannelReader<string>` vs `IAsyncEnumerable<string>` as a hub method parameter.

Method |       Mean |     Error |    StdDev |      Op/s |  Gen 0 | Allocated |
-------------------------------------- |-----------:|----------:|----------:|----------:|-------:|----------:|
UploadStream_One |  21.036 us | 2.0988 us | 5.8157 us |  47,536.9 | 0.1221 |   2.98 KB |
Up

[2019-05-06 17:59] Frankwayne commented on #9918
I'm not either. I think it has something to do with the reverse proxy that is being set up for an out of memory kestrel server.    The reverse proxy may not know the settings on the kestrel server for the maximum request size until a request comes through.  When that request comes through it set the settings for the kesetrel server to the IIS reverse proxy for that connection.

of course that is j

[2019-05-06 17:59] Andrzej-W commented on #9991
You need latest ***preview*** version of VS to work with Blazor. Now it is 16.1.0 Preview 2.0.

[2019-05-06 18:01] guylando commented on #9987
maybe adding a flag parameter which falls back to old behavior can make life easier for developers which are adding cookies which they DO want to appear immediately in the request?

for me for now I solved it by rewriting other code places so that I save the value also in httpcontext items (and if cookie exists then insert it into context) and then code looks at context instead of cookie. However

[2019-05-06 18:02] shirhatti commented on #9995
Try running

[code]

Some applications (like Docker) can reserve ports that make them inaccessible for Kestrel to bind to. My best guess is that some application has reserved 50051 on your machine

[2019-05-06 18:05] anurse commented on #10003
Hrm... Ok, weird. I used `dark` to unpack them and looked at the files. It looks like you're right, I'm on the wrong track for expanding these :). False alarm!

[2019-05-06 18:05] #10003 closed

[2019-05-06 18:06] shirhatti commented on #9995
@JunTaoLuo We should perhaps look into changing the default port we're using for gRPC? Some common application seems to be reserving this port and this isn't first time we're seeing this issue.

[2019-05-06 18:19] Tratcher commented on #9918
IIS request size limits would be applied independently of Kestrel. If you hit the IIS limit then the request shouldn't reach Kestrel.

[2019-05-06 18:25] shirhatti opened #10004 "Update Hosting ErrorPage to show process bitness"
https://github.com/aspnet/AspNetCore/tree/master/src/Shared/ErrorPage should be updated to show process bitness.

[2019-05-06 18:28] huysentruitw commented on #9988
Both route templates match equally well, so the ambiguity is correct IMO.

[2019-05-06 18:30] shirhatti opened #10005 "[ANCM] [out of process] Write stdout to EventLog when exit code is non-zero"
Epic https://github.com/aspnet/AspNetCore/issues/8833

To better diagnose pre-main errors, we should buffer whatever's written to stdout and write to EventLog in event of a non-zero exit code.

[2019-05-06 18:35] shirhatti opened #10006 "Disable CaptureStartupErrors when running in ANCM out-of-process"
We should stop Capturing startup errors when running in ANCM out-of-process.

[2019-05-06 18:36] shirhatti commented on #10006
@anurse We should back-port this to 2.1 as well

[2019-05-06 18:55] #7916 closed

[2019-05-06 18:59] #9779 closed

[2019-05-06 19:00] mikaelm12 commented on #9934
This is comparing using `ChannelReader<int>` vs `IAsyncEnumerable<int>` as a hub method return value . The difference between the `StreamIAsyncEnumerableCount` and and `StreamIAsyncEnumerableCompletedTaskCount` is how we make the hub method go "async". Awaiting `Task.Yield()` vs awaiting `Task.CompletedTask`

Method |       Mean |      Error |      StdDev |     Median |      Op/s |  Gen 0 | Alloca

[2019-05-06 19:00] shirhatti opened #10008 "Create new IIS sub-status code handler load failure"
Epic https://github.com/aspnet/AspNetCore/issues/8833

Today we use a 500.0 to indicate a handler load failure. Let's create a new sub-status code for better SEO for folks running into this issue.

[2019-05-06 19:01] huysentruitw commented on #7789
How do we see this?

- Should each `Requirement` class override `ToString`?
- Do we add a method to `IAuthorizationRequirement` interface?
- Do we add a private method to `LoggingExtensions` for building the message?
- Other?

Also, are these error messages localized?

[2019-05-06 19:13] joeaudette commented on #6001
I'm looking forward to this being part of the aspnet core stack as well. I've experimented a bit with NWebSec but it seems it has not been updated in over a year, issues go unanswered and even their SSL cert for their website expired in Feb 2019 and they have not done anything about it. Seems like an abandoned project to me. https://www.nwebsec.com/

[2019-05-06 19:27] MarkStega commented on #9995
@shirhatti Indeed the range of 50018 to 50117 is shown as reserved. None of those ports show up 'in use' in resource monitor so I don't know what process has the reservation
@davidfowl Yes, other generated apps from templates such as Blazor/Client side & Blazor hosted by DNC all get created with issue free ports.

I can change the port for the gRPC server to one that has been generated in a workin

[2019-05-06 19:29] sebastienricher commented on #5385
And are you using "UseMvcWithDefaultRoute" ?

[2019-05-06 19:30] BrennanConroy commented on #8916
Tracking https://github.com/mono/mono/issues/14339

[2019-05-06 19:31] MgSam commented on #1961
Now that .NET Framework is (officially?) [deprecated](https://devblogs.microsoft.com/dotnet/introducing-net-5/) and the pretense of it still being a valid choice has been dropped I hope Microsoft takes another look at this. The vast majority of companies using ASP.NET do not have teams of extra developers sitting around just waiting to port old WebForms code to .NET Core.

The exact same reasons y

[2019-05-06 19:37] dougbu commented on #8487
RicoSuter/NSwag@4439cf2ec6aa

[2019-05-06 19:37] #8487 closed

[2019-05-06 19:46] enetstudio commented on #9941
I'm not completely certain, but I believe AddHttpClient has been removed. Anyhow, the HttpClient service is automatically made available to your application, and all you've got to do is to inject it into your components thus:

@inject HttpClient httpClient

[2019-05-06 19:54] shirhatti opened #10011 "[ANCM] [in proc] Write pre-main errors to the browser when running in development"
Epic #8833

For pre-main errors, in addition to writing to the event log, surface these errors in the browser when running in a development environment.

[2019-05-06 19:56] shirhatti commented on #10008
We should have different sub-status codes for
- Incorrect bitness
- Handler not found

[2019-05-06 20:04] mderriey commented on #6013
Hi @muratg, @shirhatti and @jkotalik 👋

I'm keen to give this one a shot, but I'd appreciate some pointers on how to do this.
How does IIS expose server variables?

Thanks 🙇‍♂️

[2019-05-06 20:34] cinsulan opened #10012 "Error 503. The service is unavailable (blazor server side)"
### Describe the bug
Using HttpClient multiple times in a row causes responses to start lagging and eventually return HTTP **Error 503. The service is unavailable** despite the api service reporting no issues at all and keeps responding to other calls.
Asp.net core version: 3.0.100-preview4-011223

### To Reproduce
Please note that the code is a bit messy due to troubleshooting. Here's the code:
T

[2019-05-06 20:43] divega opened #10013 "Consider moving to Microsoft.Data.SqlClient"
ASP.NET Core includes a caching provider and tool that uses System.Data.SqlClient, and perhaps there are other ways ASP.NET Core depends on SqlClient that I am not aware of.

Now that [Microsoft.Data.SqlClient is available in NuGet](https://www.nuget.org/packages/Microsoft.Data.SqlClient/), and EF Core will be upgraded to it in 3.0, we could consider upgrading to it as well.

Although the two prov

[2019-05-06 20:46] natemcmaster commented on #10013
First I've heard of this new package. When do we recommend Microsoft.Data.SqlClient vs System.Data.SqlClient to our customers? What's the primary difference?

[2019-05-06 20:53] DAllanCarr commented on #10012
Interestingly I'm not sure newing up `HttpClient` is proper usage here.

[2019-05-06 20:58] divega commented on #10013
Is the new version of SqlClient. All future development will happen on it and System.Data.SqlClient is going to be in maintenance.

It uses a new namespace and is out of band from both .NET Framework and .NET Core rather than type forwarding in .NET Framework.

In this preview, the main functional differences are support for Always Encrypted on .NET Core, SQL Server UTF-8 support, and Data Classif

[2019-05-06 21:00] divega commented on #10013
The idea is that we recommend it from now on, although existing applications that don’t need new functionality or optimizations can stay on System.Data.SqlClient.

[2019-05-06 21:01] cinsulan commented on #10012
Well, even with the following, the same issue occurs:
[code]
I've also tried using IHttpClientFactory but same result...

[2019-05-06 21:03] cinsulan commented on #10012
Oh, and I'm using 3.0.100-preview4-011223 for the blazor (server side) project with a 2.2 web service.

[2019-05-06 21:11] DAllanCarr commented on #10012
Maybe add the server logs. Also how were you implementing `HttpClientFactory` as it would be a better approach? Also but no biggy why are you scoping the `ProductService` to the request?

[2019-05-06 21:27] lennilobel commented on #9991
The latest preview does not help. I installed VS 2019 Preview Version 16.1.0 Preview 3.0 today, and the compiler still fails to build the Blazor template with this error (type or namespace 'App' could not be found). And this VS 2019 Preview doesn't have a "Use previews of the .NET Core SDK" checkbox under .NET Core options, like the VS 2019 16.0.3 (non-preview) does, which was another reported fix

[2019-05-06 21:28] cinsulan commented on #10012
First I scoped the service as singleton, but got an error that I can't scope it singleton when httpclient has a different scope. Going to try to scope the service singleton and use the IHttpClientFactory instead right now.

[2019-05-06 21:31] cinsulan commented on #10012
Still same issue. Here are the changes:
Startup.cs
[code]
ProductService.cs
[code]

[2019-05-06 21:33] cinsulan commented on #10012
Server log from Serilog:
[code]

[2019-05-06 21:37] DAllanCarr commented on #10012
Yeah...looks better. Is that url correct in the exception? Can you get some logs off the api?

[2019-05-06 21:38] NTaylorMullen commented on #9013
Investigated this and Razor is behaving as expected. That being said here's what's happening:
- Scaffolding creates the files and opens them
- Razor suppresses our global Razor generated .cs file to avoid C# ambiguity errors (we do this for all open docs)
- We start parsing the new files
- No C# buffers seems to be created/assigned to the Workspace to represent the open documents.

I've reached ou

[2019-05-06 21:39] DAllanCarr commented on #10012
That's going nuts. 😂

[2019-05-06 21:41] cinsulan commented on #10012
Yeah, looks like every request queues up more requests. Hmmm, that's very odd.

[2019-05-06 21:42] DAllanCarr commented on #10012
I'm not sure could be normal for a blazor app but I am sceptical.

[2019-05-06 21:44] cinsulan commented on #10012
I hope it's not normal :( I can't see any obvious reason for it to keep increasing the requests. Almost looks like something where I fire one event and it's fine. Second event fires the first one again and a second one and so on until the number of requests goes out of hand...

[2019-05-06 21:45] DAllanCarr commented on #10012
Are you sure the pagination is working as expected?

[2019-05-06 21:45] cinsulan commented on #10012
Well in terms of expected results, yes. Right now, I have a hard coded list with ts just to rule out the backend but when connected, it paged as expected.

[2019-05-06 21:47] cinsulan commented on #10012
To me this points to the event mechanism. Maybe an async/sync issue. Going to move the pagination into the main page and drop the event to test now.

[2019-05-06 21:49] DAllanCarr commented on #10012
The `OnAfterRender` is a little suspicious.

[2019-05-06 21:51] DAllanCarr commented on #10012
`async void` usage is not good

[2019-05-06 21:53] cinsulan commented on #10012
Agree on the async void, but I read an article that made me think it's ok. Anyway, I moved the pagination into the page and removed the event mechanism and made all calls async and now it works. Here's the page now:

[code]
So, it's something with the event coupled with the async/void I believe,.

[2019-05-06 21:55] cinsulan commented on #10012
Having said that, I still don't know the root cause other than it seems to be related to using the sync event with an async handling of the event. This may be by design and I just used it incorrectly.

[2019-05-06 21:55] DAllanCarr commented on #10012
Correct  but I'm not sure in this context. Need to call on any Blazor aficionados.

[2019-05-06 21:56] cinsulan commented on #10012
Haha, yeah, I'll wait for that and move on for now. Thanks a lot for responding. First time I posted here and you made it worth while! Aloha from Hawaii!

[2019-05-06 21:58] DAllanCarr commented on #10012
https://github.com/aspnet/Blazor/issues/519#issuecomment-384781166

[2019-05-06 21:59] bbarry commented on #6077
@sugarjig  In order to mimic the behavior of other validation errors I am doing this and changing the type of my controllers accordingly (I mean I already do for other reasons...) :

    public class ApiControllerBase : ControllerBase
    {
        public override ActionResult ValidationProblem()
        {
            var options = HttpContext.RequestServices.GetRequiredService<IOptions<ApiBehavio

[2019-05-06 22:02] UrielMhezzek opened #10016 "Asp Core Razor Components (SS) removing or comment create hard to understand error"
### Describe the bug
With Asp Core Razor Components removing or comment line of code create an error.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 'Preview 3.0 preview 3' (i don't know how to query the build)
2. Rebuild and Clean Solution don't fix the problem
3.
I use a class named hero and another class named calculatepropertyvalue. In hero i create a

[2019-05-06 22:05] cinsulan commented on #10012
Going to try that and see

[2019-05-06 22:06] NTaylorMullen commented on #9013
Given that this is external tracking the fix to this here: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/888224

[2019-05-06 22:06] #9013 closed

[2019-05-06 22:07] #2864 closed

[2019-05-06 22:23] NTaylorMullen commented on #6409
43d55d00d3c6e863df235ee8e2ebeb4f079ab5ee

[2019-05-06 22:23] #6409 closed

[2019-05-06 22:29] #10012 closed

[2019-05-06 22:30] cinsulan commented on #10012
Misuse by registering parent component event handler to child component in parent OnAfterRender instead of passing in the parent component event handler as a param to the child component.

[2019-05-06 22:44] Rugved commented on #6075
Update: For us we had preload enabled flag turned on at the Website level. Disabling this fixed the error

[2019-05-06 23:06] shirhatti opened #10020 "[EventCounters] Emit metrics for request execution time and request wait time"
Add EventCounters for

- Request Execution Time
- Request Wait Time

Related https://github.com/aspnet/AspNetCore/issues/9486

[2019-05-06 23:07] shirhatti commented on #10020
@davidfowl Do you want to do these in preview6 as well?

[2019-05-06 23:40] mderriey commented on #6013
I've found [`IServerVariableFeature`](https://github.com/aspnet/AspNetCore/blob/3477daf3c4f530dff80f197e0642cb39a26fb07b/src/Servers/IIS/IIS/src/IServerVariableFeature.cs) and the associated [`GetIISServerVariable`](https://github.com/aspnet/AspNetCore/blob/3477daf3c4f530dff80f197e0642cb39a26fb07b/src/Servers/IIS/IIS/src/HttpContextExtensions.cs) extension method.

The current thinking is to creat

[2019-05-06 23:45] jkotalik commented on #6013
Yeah, that would be the right direction to take this!

[2019-05-06 23:49] johannsig commented on #4895
In ASP.Net Core 2.2:

[code]

CompareAttribute works nicely in view (i.e. with unobtrusive validation) but causes invalid ModelState to occur in the OnPost method. This needs to be fixed.

[2019-05-07 00:08] #9995 closed

[2019-05-07 00:09] Tratcher commented on #10020
Wait time?

[2019-05-07 00:11] JamesNK commented on #9233
@shirhatti

[2019-05-07 00:20] worldspawn commented on #8980
I can confirm I also had some dynamic registrations registering an interface as both service type and implementation type. What an astonishingly awful job aspnetcore does of communicating this. We're like one or two steps away from the bad old days of Error 0x80001000.

[2019-05-07 00:55] natemcmaster commented on #8417
_Build Team Triage_: closing as we don't plan to take additional action on this. The master branch already contains a script, InstallJdk.ps1, which Azure Pipelines builds already invoke, and users can run if they don't want to rely on on a machine-wide version of Java. We welcome PRs to improve this script if it's insufficient for your needs.

Updating our other CI systems that use a repo-local ve

[2019-05-07 00:55] #8417 closed

[2019-05-07 01:09] #6882 closed

[2019-05-07 01:24] kofifus commented on #6701
So the message is confusing and unclear, can it please be changed ?

[2019-05-07 01:38] benaadams commented on #10020
More an IIS thing? How long the request is waiting in the queue

[2019-05-07 02:37] anoooin commented on #9630
Hi @yukozh / @danroth27  ,

Is there an existing VS issue that has been raised please?

Thank you!

[2019-05-07 02:54] BrennanConroy commented on #6701
Yes. that is part of what we're doing.

[2019-05-07 03:41] jmk92 commented on #9278
Preview 5 also had problems

[2019-05-07 04:06] chrdlx commented on #9834
I also replicated this using razor pages.

[2019-05-07 04:23] JunTaoLuo commented on #9765
Updated the issue.

[2019-05-07 04:23] #9765 closed

[2019-05-07 04:31] davidfowl commented on #10020
Wait time could be described as thread pool time

[2019-05-07 04:32] liuyl1992 opened #10027 "AddEnvironmentVariables cannot work in asp.netcore2.2"
Environment:  .NetCore2.2

As long as using the ConfigureAppConfiguration and set the AddEnvironmentVariables method, cannot get  system environment variables by IConfiguration["XXX"]

![image](https://user-images.githubusercontent.com/16396828/57271847-bb9be300-70c3-11e9-9baf-2c90639242c4.png)
![image](https://user-images.githubusercontent.com/16396828/57271872-c8203b80-70c3-11e9-8705-be0c33ebe63

[2019-05-07 04:40] mderriey opened #10028 "OIDC handler running on '/' crashes even with SkipUnrecognizedRequests set to true"
### Describe the bug
The OIDC handler throws an exception related to correlation validation when it's running on an endpoint that is not dedicated to receiving OIDC messages. While I understand it's not the recommendation (the XML doc for `SkipUnrecognizedRequests` makes it really clear), UI suppose there might be instances where one doesn't have control over the configured redirect URL.

### To R

[2019-05-07 04:45] Eilon commented on #10013
I added a card to our PM/engr sync https://github.com/orgs/aspnet/projects/22?fullscreen=true so we can discuss this week.

[2019-05-07 04:57] JamesNK commented on #9524
The results show that numbers are being gathered from lin-sockets. win-sockets is returning a constant zero.

![image](https://user-images.githubusercontent.com/303201/57272738-0d0a9900-70e9-11e9-8907-f711f76a72aa.png)

[2019-05-07 05:36] victarary opened #10029 "Response.Body.Write inside StreamWriter code block will cause a 65279 char in the tail"
I was using HttpWebRequest to try a rest api in ASP.NET Core MVC.

Here is my HttpWebRequest client code:
[code]

If I used StreamWriter to write a message to Response.Body in an ASP.NET Core controller, everything is fine:
[code]

But if I used Response.Body.Write embedded in a StreamWriter block to write the same message, there will be a weird  65279 character in the end of the string "hello" wh

[2019-05-07 05:54] Tratcher commented on #10028
And why is CallbackPath set to `/`? That's even worse than using SkipUnrecognizedRequests.

[2019-05-07 06:09] davidfowl opened #10030 "Accessing the cookie collection allocates *alot*"
[code]

Most of these allocations look unnecessary. In the end, we need a collection that has cookies split into name value pairs.

![image](https://user-images.githubusercontent.com/95136/57275556-cb7bde80-7053-11e9-90f2-f2cd9a24f4c5.png)

[2019-05-07 06:11] mderriey commented on #10028
In that case, the AAD app registration I was trying to use had been set up with that redirect URL. I totally understand it's not the recommendation and the preference is to have an endpoint dedicated to receiving callbacks from the IdP.

I thought `SkipUnrecognizedRequests` was created for those cases where the `CallbackPath` is not dedicated to OIDC and can be invoked for other requests.

[2019-05-07 06:29] avin-kavish commented on #9988
How so? There is a literal dash between {make} and {query} in the first one, a non-greedy right to left scan should match the dash between toyota and corolla to that, shouldn't it? They both match yes, but they are by no means equal in weight. The route with the most string literals in it should be treated as more specific therefore match the query.

[2019-05-07 06:38] hannespreishuber opened #10031 ".NET Interop or how to Webforms or MVC"
there exists a lot of LOB Intranet solutions based on Webforms or ASP.NET MVC (15 years of Code)

it would make sense for Customers to make future code Investments into dotnet core (net 5)

As already pointed out there are several issues
-diffrent processes
-missing reportintg plugins
-dublicate authentication
-Layout Frame (Masterpages)
-missing Language support for vb.net
and so on

there must b

[2019-05-07 07:07] huysentruitw commented on #9988
Matching is a boolean operation, so it either matches or it doesn't. I don't think any _weight_ is taken into consideration, but I'm no specialist here. Also see https://github.com/aspnet/Routing/search?q=RoutePatternMatcher&unscoped_q=RoutePatternMatcher

[2019-05-07 07:59] AppiePau commented on #5669
Me too, I have VS 2019 Community RTM installed and both intellisense and debugging don't work properly. Building and running works fine.

[2019-05-07 08:13] Edward-Zhou opened #10032 "Format Error Message with ModelBinder Name Arguments"
### Is your feature request related to a problem? Please describe.
For Asp.Net Core Data Annotation, I have such model
[code]
When I submit a request with
[code]
It will produce error like
[code]
Note the "ObjectId" in the error message that return " field id must" would be much reasonable.

### Describe the solution you'd like
I would like the Validation would read the name from `ModelBinder` and

[2019-05-07 08:27] QadiymStewart commented on #9570
Preview 5 seems to solve the issues. Thanks

[2019-05-07 08:58] nguyenquyhy opened #10033 "System.Text.Json serializer doesn't work with Guid and Guid?"
### Describe the bug
System.Text.Json serializer doesn't work with `Guid` and `Guid?`. The behavior is as following:

- For `Guid`: the serialized data is always `{}` regardless of the `Guid` value.
- For `Guid?`: get exception `ArgumentException: Cannot bind to the target method because its signature is not compatible with that of the delegate type.`

### To Reproduce
Steps to reproduce the behav

[2019-05-07 09:14] avin-kavish commented on #9988
FYI. I've already worked past it. As we all know, there's a hundred different ways to do one thing with general purpose programming languages.

But don't you think the implementation could be improved to recognise these two routes as distinct ? As far as I can see these two routes are machine recognisable as two distinct routes.

The documentation of route matching of complex segments mention that

[2019-05-07 09:28] enetstudio opened #10034 "How to return a JavaScript Promise object to Blazor"
Good people, help is needed here:

I'm returning a JavaScript Promise object from a JavaScript function, and this works well:

--- shorten for brevity ----
`
if (this.status >= 200 && this.status < 300) {
        resolve(xhr.response);
 }
`
--- ---

But when I call the function from Blazor, the variable data is not populated with the expected value.
`
var data = await JSRuntime.InvokeAsync<string>

[2019-05-07 09:45] chucker commented on #5669
For ASP.NET Core 3.0 Preview 4 and newer, you need Visual Studio 2019 16.1 Preview.

[2019-05-07 09:58] Tewr opened #10035 "input type file with both ref and bind crashes in ms Edge"
### Describe the bug
`input` element with `type=file` crashes in edge when the value is changed if both `ref `and `bind` attributes are set

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '3.0.100-preview5-011568'
2. Create this code in a `.razor` file in a Blazor (Client-side) project

[code]

3. With these arguments: Run the project in Microsoft Edge and

[2019-05-07 10:02] RemiBou commented on #10034
Can you post the full methods.submit function ? xhr.response might be of many type (https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/response), you should use responseText  if you want to get the text.

[2019-05-07 10:04] pavelveselev commented on #9862
Repo on GitHub: https://github.com/pavelveselev/SignalRSample
I published simple SignalR server to MS Azure: https://signalrserver20190507124505.azurewebsites.net/test

[2019-05-07 10:06] AppiePau commented on #5669
Oh wow, thanks. That was just what was missing!

[2019-05-07 10:51] keatkeat87 opened #10036 "razor page, asp-page generate wrong path when using AddPageRoute multiple"
### Describe the bug
i m trying to use razor page for localization. i use AddPageRoute to add multiple template,
then i found the url generate from asp-page is not correct.
let said :
/zh-Hans/about-us (for Chinese content)
/en-US/about-us  (for English content)
/about-us (for Malay content, default language)
then i create template like this
[code]
result asp-page generate :

[code]

if i switch t

[2019-05-07 10:52] enetstudio commented on #10034
Most certainly:

window.methods={
    submit: function () {
            return new Promise((resolve, reject) => {
                var form = document.getElementById("newTestForm");
                var data = new FormData(form);
                var xhr = new XMLHttpRequest();

                var method = form.getAttribute('method');
                var action = form.getAttribute('action');

[2019-05-07 11:10] RemiBou commented on #10034
You should use responseText, the type of response is dynamic.

BTW you can do all that (getting value from form, sending ajax query, reading result) without using JSInterop as all. Look at this example https://github.com/aspnet/AspNetCore/blob/master/src/Components/Blazor/testassets/StandaloneApp/Pages/FetchData.razor

[2019-05-07 11:25] enetstudio commented on #10034
Thanks a lot, @RemiBou !!!

[2019-05-07 11:25] #10034 closed

[2019-05-07 11:46] damienbod opened #10037 "AddMicrosoftAccount & Azure Active Directory - App registrations signin/signout problems"
## Problem Description:

If a user logs in from an ASP.NET Core application using the AddMicrosoftAccount extension method, it is impossible to change user on the aad, because the app does an auto login if only one aad account is logged in.

If 2 aad accounts are logged in, then it waits, and I can choose. This is correct.

If only 1 aad user is logged in, and if I click the popup window to change

[2019-05-07 11:53] huysentruitw commented on #9988
I'm not trying to defend the current implementation, the idea you have makes perfectly sense. However, I do think that it would make the route matching code more complex and probably slower (although the slowdown could be limited to figuring out the correct path in case of ambiguity). So let's wait until someone from the core team joins this conversation.

[2019-05-07 13:00] jeroenlandheer opened #10039 "Various projects are now depending on .Net Core instead of .Net Standard"
Various projects depend on netcoreapp while they used to depend on netstandard. This narrows the availability of these projects to a single platform. (i.e. .Net Core). (.NetStandard can be used from the .Net Framework as well.)

For example, we use here the Microsoft.AspNetCore.Authentication.JwtBearer as a library to validate JWT tokens. Up to version 2.x this works fine, from V3 onward this libr

[2019-05-07 13:18] mhosman opened #10041 "System.Text.Json in SignalR"
System.Text.Json is now the default Hub Protocol used by SignalR clients and servers starting in ASP.NET Core 3.0-preview5.

This is my configuration in preview4:

[code]

How to migrate this in order to ignore NullValueHandling and ReferenceLoopHandling for SignalR JSON Protocol in preview5?

[2019-05-07 13:28] Tratcher commented on #10028
In theory yes, though it was more for the case where there were multiple OIDC instances on the same endpoint. Having it inspect every request to your home page is not going to end well. Get the app registration updated.

You're welcome to try a PR.

[2019-05-07 13:31] PinpointTownes commented on #10039
This has been discussed at length here: https://github.com/aspnet/AspNetCore/issues/3753.

If your library depends on ASP.NET Core, then the most sensible option is to move to `netcoreapp3.0`. If it doesn't, you'll probably want to directly use `System.IdentityModel.Tokens.Jwt`, which is the package the ASP.NET Core JWT handler relies on under the hood.

[2019-05-07 13:40] Letalis82 commented on #9893
mm I can not see that happening. Looks like the disposed method is not called (at least not when I F5 or close the tab/browser).

I created a test solution:
https://github.com/Letalis82/BlazorDisposeExample

Class AppState is a Scoped class (and should be disposed when the user is disconnecting).
The AppState is implementing IDisposable.
AppState is taged with a Guid (so that it can be identified)

[2019-05-07 13:44] jeroenlandheer commented on #10039
@PinpointTownes Alright, wasn't aware of that discussion, thanks for the info :)

[2019-05-07 13:44] #10039 closed

[2019-05-07 13:49] keatkeat87 commented on #8936
i just open a bug issue maybe relate with this. [#10036](https://github.com/aspnet/AspNetCore/issues/10036)
same problem in my case, the "asp-page" generate a wrong url
[asp.nect core tutorial for localization ](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization) didn't use razor page. it use a mvc as a demo.
i don't know is it support to use razor page in this localization ?

[2019-05-07 14:12] anurse commented on #10041
I believe System.Text.Json does not currently suppport an equivalent to `ReferenceLoopHandling` and likely won't support it in 3.0. @joshfree / @ahsonkhan do you know if there's an issue discussing adding this functionality in the future?

This is a good case where you probably want to continue using Newtonsoft.Json for now. We know that System.Text.Json will **not** cover all the same cases as Ne

[2019-05-07 14:29] Kossx2 commented on #9626
@RickStrahl I've been having this exact problem. After 2 days of try everything, I've found that, atleast in my case, the problem was the Microsoft Logging category. For example, changing its value from "Information" to "Warning" solved the problem. Now I'm trying to figure out why it can be.

[2019-05-07 14:39] ZvonimirMatic commented on #9190
Was this changed? Currently when I'm running async function in OnInitAsync method the browser is just loading until the data is fetched.

[2019-05-07 14:44] BrennanConroy commented on #10041
I am using https://github.com/dotnet/corefx/issues/36510 to track cyclic references.
________________________________
From: Andrew Stanton-Nurse <notifications@github.com>
Sent: Tuesday, May 7, 2019 7:12:46 AM
To: aspnet/AspNetCore
Cc: Subscribed
Subject: Re: [aspnet/AspNetCore] System.Text.Json in SignalR (#10041)

I believe System.Text.Json does not currently suppport an equivalent to ReferenceL

[2019-05-07 15:05] SteveSandersonMS commented on #10016
The code sample you've posted is invalid and won't compile, because it contains a property definition inside a constructor, here:

[code]

Could you post a valid code sample that reproduces the problem?

[2019-05-07 15:08] SteveSandersonMS commented on #10016
Or are you just reporting that, when you deliberately cause a compiler error (by commenting out the `Birthfactors` property), the error message refers to the generated code (`Properties.cshtml.g.cs`) instead of the original source (`Properties.cshtml`)?

If this is the case then it's a known limitation of how things work currently.

[2019-05-07 15:57] jeremycook commented on #6075
@Rugved I wouldn't say that disabling IIS website preload fixes this issue, but its a valid workaround if you do not need/use preload.

![image](https://user-images.githubusercontent.com/452414/57314230-77521800-70ae-11e9-9ed0-989857337a32.png)

[2019-05-07 16:18] pranavkm commented on #10033
@Eilon could you transfer this to https://github.com/dotnet/corefx?

[2019-05-07 16:22] anurse commented on #9985
Is there a reason this was filed manually instead of letting RaaS handle it? Can we move it to aspnet/AspNetCore-Internal and put the failure text in code-fences so that RaaS sees future failures?

It's difficult to track the failures if they're spread across different places...

[2019-05-07 16:26] UrielMhezzek commented on #10016
When I first wrote the problem, I didn't know how to fix it.
Yes, the error is generated in the .g.cs. It would be helpful to jump to the g.cs when "double-clicking" on the error. So the search is very laborious.

[2019-05-07 16:30] anurse commented on #10029
You mean something like this?

[code]

This is expected based on the code you provided. Why are you wrapping the stream in a `StreamWriter`, **then** writing to the stream directly?

The `StreamWriter` has a buffer that it will flush to the output when you close it. This will cause a lot of problems if you've been writing to the stream directly. Specifically, what's happening here is this:

1. You

[2019-05-07 16:32] anurse commented on #4035
I don't see something on aspnet/websdk already. @vijayrkn any thoughts? I can transfer this issue to the websdk repo if there isn't already something tracking it.

[2019-05-07 16:33] anurse commented on #10020
Do we have a clear idea of exactly how to measure "wait time"? If not, I'd rather hold off on it for now since we're pretty tightly scheduled. Execution time seems reasonable and can be fairly easily tracked.

[2019-05-07 16:38] SteveSandersonMS commented on #10016
Great news - this was fixed in the preview 5 release!

If you update to preview 5 and still encounter this, please let us know.

[2019-05-07 16:38] #10016 closed

[2019-05-07 16:40] SteveSandersonMS commented on #9991
I'm afraid this is incorrect. The latest preview **is** needed to get the correct tooling experience.

Closing as this will not occur with the correct version of VS.

[2019-05-07 16:40] #9991 closed

[2019-05-07 16:41] vijayrkn commented on #4035
@seancpeters - Do you know where is the code for "dotnet new web.config"? It should get updated to have the location tag since that is what publish and Run adds.

/cc @BillHiebert

[2019-05-07 16:42] SteveSandersonMS commented on #9974
We don't currently support `bind` with `contenteditable`. It might be something we add in the future, but it's not directly planned.

In the meantime, you can use `contenteditable` in conjunction with JS interop to receive notification when edits occur and update your .NET models.

[2019-05-07 16:42] SteveSandersonMS commented on #9974
Reopening in case this is something we choose to address in the future.

[2019-05-07 16:43] vijayrkn commented on #4035
@anurse - This issue should go to where ever we have the dotnet new template for web.config. I will wait for @seancpeters to confirm.

[2019-05-07 16:44] SteveSandersonMS commented on #9964
Pranav, this is related to the routing stuff you're currently working on (and disconnection you previously worked on). Do you think [this](https://github.com/aspnet/AspNetCore/issues/9964#issuecomment-489549079) is reasonable to do?

[2019-05-07 16:46] SteveSandersonMS commented on #9960
Agreed - thanks for the suggestion!

[2019-05-07 16:51] SteveSandersonMS commented on #9951
Thanks for reporting this, @chrisevich!

We'd like to understand exactly why this happens and what a reasonable solution would be. Hopefully we would be able to investigate this ourselves at some point, but to be honest we have a lot of other more highly prioritised items in the short term.

If you were interested in debugging this into the framework yourself and coming up with a proposal about wh

[2019-05-07 16:53] anurse commented on #9839
The `ExceptionHandlerMiddleware` logic (not running if the request has started) seems by-design to me. Since it's supposed to *handle* exceptions, it can't really do that if the response has already started (otherwise it would insert whatever content it's using to handle the exception in mid-stream). A middleware of your own (just a `try...catch` wrapped around `next`) could work here, or the `Dia

[2019-05-07 16:54] Eilon commented on #10033
This issue was moved to dotnet/corefx#37496

[2019-05-07 16:54] SteveSandersonMS commented on #9941
For server side code, you would normally either make your own `new HttpClient` for each usage, or use `HttpClientFactory`. There isn't one in DI for server-side Blazor by default, and `services.AddHttpClient()` doesn't add one (though I appreciate the name of that is a bit misleading).

So, to fix this, don't do `@inject HttpClient` in your components on the server. Create your own `HttpClient` in

[2019-05-07 16:54] #9941 closed

[2019-05-07 16:54] #10033 closed

[2019-05-07 16:55] nauticalcoder opened #10044 "With Two Factor enabled, need ability to determine if the user is only password authenticated"
### Is your feature request related to a problem? Please describe.
The Authorize attribute is either on or off but we would like the ability to control access to endpoints based on whether the user is password authenticated only, or has also verified their second factor.

### Describe the solution you'd like
There are several possibilities.  One could be a separate Authorize attribute or some para

[2019-05-07 16:58] kieranbenton commented on #4767
I've just run into this as well - setting a session key that would not get persisted but only in Edge! Lucky I found this relatively quickly... Whats the eventual resolution plan for this? I'd suggest that it would be preferable for the distributed cache to never commit itself automatically than leave it inconsistent.

[2019-05-07 17:00] SteveSandersonMS opened #10045 "Better linker issue diagnosis"
Lots of users encounter issues with the Mono linker, and its error messages are unclear. This costs time for customers and for the team in making sense of issues.

**Suggestion**

1. We should create a wiki page describing how to interpret linker errors. Basically it needs to cover "why you can't use native code and what the errors look like" and "how to check if disabling the linker fixes your is

[2019-05-07 17:01] SteveSandersonMS commented on #9940
Apologies that the error message is unclear. One of your dependencies (`Microsoft.Extensions.Identity.Stores`) includes native code, which isn't usable on WebAssembly. Only plain .NET dependencies can be used on WebAssembly.

[2019-05-07 17:01] #9940 closed

[2019-05-07 17:18] anurse commented on #4035
Looks like it's in [dotnet/templating](https://github.com/dotnet/templating/blob/stabilize/template_feed/Microsoft.DotNet.Common.ItemTemplates/content/WebConfig/web.config).

So the change we're aiming for is to add the `<location>` element to the commented out code in the `dotnet new` template?

[2019-05-07 17:26] alexandrereyes opened #10046 "Static Resources In Razor Class Libraries"
I'm trying to include static resources to a razor class library following this tutorial: https://www.mikesdotnetting.com/article/330/including-static-resources-in-razor-class-libraries-in-asp-net-core

But it's throwing the error:
Could not load the embedded file manifest 'Microsoft.Extensions.FileProviders.Embedded.Manifest.xml' for assembly 'MyAssembly'

The class library already does reference

[2019-05-07 17:52] alextech opened #10047 "[OnSerializing] attribute callback not triggering when using System.Text.Json"
`[OnSerializing]` Attribute is not triggered when using System.Text.Json . The .Net Core Preview 5 blog post suggests moving from NewtonSoft serializer to builtin one, but does not mention any migration paths, so I assume they should work the same way. Is this the case?

### To Reproduce
In object to be serialized, such as output of a REST API controller, mark a method with `[OnSerializing]` attri

[2019-05-07 17:56] martincostello opened #10048 "Kestrel server stops responding during test run using 3.0 previews 4 & 5"
We're upgrading an existing ASP.NET Core 2.2 application to 3.0 by maintaining a parallel PR/branch using the 3.0 previews to test and update things in advance of the RTM later this year.

As part of this web application, in our "integration" tests we self-host the application using Kestrel and drive browser automation headless UI tests using web driver and Selenium to test the application and UI

[2019-05-07 18:22] brockallen commented on #10044
This is what the `AuthenticationType` property (and ctor arg) is for on `ClaimsIdentity`:
https://referencesource.microsoft.com/#mscorlib/system/security/claims/ClaimsIdentity.cs,451

[2019-05-07 18:38] anurse commented on #9519
Are we all good with this design? I don't think this needs an in-person review if everyone is on board.

[2019-05-07 18:39] seancpeters commented on #4035
@vijayrkn @anurse - If you want to make a PR for this, we can get it into the repo.

[2019-05-07 18:43] anurse commented on #8768
@BrennanConroy can you make sure there's a Xamarin issue tracking this (file one if not) and link it here? I'll ping our contacts again :).

[2019-05-07 18:51] vijayrkn commented on #4035
@John0King - dotnet/templating is an open-source repo. We happily accept PRs from the community if you want to update the template.

[2019-05-07 19:04] javiercn commented on #9196
We haven't been able to repro this issue. I believe there must be some missconfiguration in your Azure B2C application.

[2019-05-07 19:16] nauticalcoder commented on #10044
I may not have explained the scenario very well.  The scenario I am referring to is when a user has 2fa enabled and comes to the site to login.  We first call `PasswordSignInAsync`.  At this point, I would like to be able to know that this user has "Password Signed In".  Unfortunately, if I look at the ClaimsIdentity or the ClaimPrinciple, nothing has been set yet.  The auth provider must know fro

[2019-05-07 19:31] martincostello commented on #10048
I'm still having a dig through in the debugger, but it looks like suddenly loads of `SocketException` and `ConnectionResetException` get thrown, and then the process' memory starts to skyrocket:

[code]

![image](https://user-images.githubusercontent.com/1439341/57327480-ec7c1800-70c3-11e9-9e10-6f9c2819ae42.png)

[2019-05-07 19:32] martincostello commented on #10048
![image](https://user-images.githubusercontent.com/1439341/57327593-2cdb9600-70c4-11e9-83b6-fa11c20daa5e.png)

[2019-05-07 19:41] dougbu opened #10050 "Unpin EF Core dependencies when build breaks resolved"
See aspnet/AspNetCore#10025

[2019-05-07 20:11] Tratcher commented on #10048
What was happening just before this? This seems like a secondary symptom.

[2019-05-07 20:15] Tratcher commented on #10037
For AAD you should be using OpenIdConnect rather than Microsoft Account. OIDC has the remote signout capability.

[2019-05-07 20:22] martincostello commented on #10048
Having dug in further, it looks like some code is stuck in a loop when trying to reload the application's configuration if the console logger is in use:

[code]

The `[Theory]` test in question here has a test case that requires some configuration to be changed server-side for a specific browser test case to succeed, which we do by using an in-memory configuration source and then calling `IConfigu

[2019-05-07 20:25] anurse commented on #9520
This is now available in hostfxr 3.0.0-preview6-27707-04, when that lands in our repo (in the next day or so). Reminder (to myself) to check if it's arrived in the triage tomorrow

[2019-05-07 20:30] luisquintanilla opened #10051 "Worker Service .NET Core Project Not Accepting Ctrl+C SIGINT input in VS Code"
Using .NET CLI to run / stop a Worker Service project in VS Code integrated terminal does not accept SIGINT `Ctrl+C` to stop the application. For more details, see issue raised in VS Code repo.

microsoft/vscode#73435

[2019-05-07 20:32] jkotalik commented on #9394
https://github.com/dotnet/core-setup/pull/5859 should be merge into our repo soon, so we can work on this.

[2019-05-07 20:53] jmezach opened #10052 "ArgumentOutOfRangeException thrown when posting Newtonsoft.Json serialized object to System.Text.Json endpoint"
### Describe the bug
I'm seeing an ArgumentOutOfRangeException being thrown when I try to POST a JSON object serialized with Newtonsoft.Json on the client to an endpoint that is using System.Text.Json (or at least the exception stacktrace seems to suggest that is the case).

### To Reproduce
Steps to reproduce the behavior:
1. Create new gRPC project using `dotnet new grpc`
2. Add `.AddControllers

[2019-05-07 20:56] JunTaoLuo commented on #7336
I've seen this test failure again here: https://dev.azure.com/dnceng/public/_build/results?buildId=181644&view=ms.vss-test-web.build-test-results-tab&runId=4387216&resultId=116920&paneView=debug. This didn't seem to look like the same error message as the issue linked as dupe so I'm going to reopen this one instead.

[2019-05-07 21:00] halter73 commented on #9519
I don't know too much about the requirements, but it seems reasonable.

[2019-05-07 21:04] anurse commented on #9735
Closing this as we haven't heard from you and generally close issues with no response after ~7 days. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-05-07 21:04] #9735 closed

[2019-05-07 21:15] DAllanCarr commented on #10052
https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-2.2&tabs=visual-studio#jsonnet-support

On Tue, 7 May 2019, 21:53 Jonathan Mezach, <notifications@github.com> wrote:

[2019-05-07 21:16] DAllanCarr commented on #10052
Actually not sure if it's related to a 3.0.0 breaking change.

[2019-05-07 21:23] anurse commented on #9519
Two action items:

1. Set all the defaults explicitly, including `MaxDepth = 64`
1. Set `PropertyNameCaseInsensitive` to `true`

[2019-05-07 21:38] anurse commented on #5342
Proposal: Make `Url` settable, but it doesn't take affect until the next `StartAsync`/`start` call. We'd capture the current value in the connection state. We'd do this in the HubConnection layer (since `HttpConnection` is not reusable anyway).

[2019-05-07 21:40] mdmoura commented on #9856
@pranavkm Yes, I see the formatting errors that Json.Net reports.

But the ideal would be, after those errors are added to Model State, the model to be build with the fields that were able to deserialize and carry on to "normal" validation ...

Then the fields that were serialize could be validated and their validation errors also added to Model State.

Finally, return all errors, from deserialisi

[2019-05-07 21:46] gliljas opened #10055 "The Identity (UserManager) architecture is bad and/or unintuitive"
At first glance, the architecture and the implementations needed to create the various "stores" in an Identity storage provider seems clear cut.

In IUserPasswordStore<TUser>:
`Task SetPasswordHashAsync(TUser user, string passwordHash, CancellationToken cancellationToken);`

Easy peasy. It's a store. I'll implement something that stores the password for a user!

Done.

Let's use the UserManager. I

[2019-05-07 21:48] benaadams commented on #5342
Your proposal is acceptable... {insert "men in black" gif}

[2019-05-07 22:20] anurse commented on #7336
I'd much prefer a new RaaS-filed issue for that then. If we don't know for sure it's related, it's not helpful to reopen the existing issue.

[2019-05-07 22:24] rynowak commented on #10052
This seems like a bug in `System.Text.Json`. Would it be possible for you to share the class definition that's causing this?

[2019-05-07 22:27] anurse commented on #4035
https://github.com/dotnet/templating/pull/1887

[2019-05-07 22:50] jkotalik commented on #9665
@anurse I can confirm this repros and would be something to consider in a patch. This requires a decent amount of investigative work.

[2019-05-07 22:59] vflame opened #10059 "SignalR Core StartAsync() CancellationToken not respected?"
Seems that the AspNetCore Signalr Client doesn't respect the cancellationtoken passed into the StartAsync() method. It will throw appropriately if the CTS timeout is sufficiently short (e.g., 1 millisecond);

Using this version of ASP.NET Core 3 Preview 5

[code]

### Expected behavior
StartAsync() should throw an OperationCancelledException after 1 second. Any negotiation or handshake should be a

[2019-05-07 23:38] Eilon commented on #10052
This issue was moved to dotnet/corefx#37502

[2019-05-07 23:38] #10052 closed

[2019-05-07 23:38] Eilon commented on #10047
This issue was moved to dotnet/corefx#37503

[2019-05-07 23:38] #10047 closed

[2019-05-07 23:46] Tratcher commented on #10048
@haok

[2019-05-08 00:13] #4399 closed

[2019-05-08 02:16] ahsonkhan commented on #10041
FYI @steveharter

[2019-05-08 03:07] rynowak opened #10066 "We should remove the namespace Microsoft.AspNetCore.Http.Endpoints"
The only thing in this namespace is the extension methods `GetEndpoint()` and `SetEndpoint()`. `Endpoint` is defined in `Microsoft.AspNetCore.Http`. We should move these extension methods there too.

[2019-05-08 03:08] rynowak commented on #10066
@davidfowl

[2019-05-08 05:01] davidfowl commented on #10066
Yep

[2019-05-08 05:04] damienbod commented on #10037
@Tratcher I use https://apps.dev.microsoft.com which now recommends you do this in the portal as a application personal account. It's not in the aad, but this is how you navigate to it in the portal. A bit confusing I think.

Here's the existing docs which probably should be updated.

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/microsoft-logins?view=aspnetcore-2.2

[2019-05-08 05:05] victarary commented on #10029
Thanks a lot! This is exactly what I want to know, everything make sense now.

[2019-05-08 05:05] #10029 closed

[2019-05-08 05:56] ruchanb commented on #9994
So, I assume this behavior is intended?

[2019-05-08 05:56] tn-5 commented on #9683
I've investigated this in more detail. The root cause is that there is an issue with the lock handling in the signalR `HubConnectionContext`.

Specifically, the use case I have fails if the following sequence of events happen:
1. A call to `WriteAsync` does not complete immediately and it returns a `CompleteWriteAsync` task
2. Immediately afterwards another message is sent, no immediate lock is ob

[2019-05-08 06:14] davidfowl commented on #9683
@anurse Can we get somebody to look at this?

[2019-05-08 06:22] nicksull123 opened #10068 "blazor.boot.json error"
I'm not very familiar with aspnetcore/blazor internals, but I believe the MemoryFIleInfo.PhysicalPath property in src/Components/Server/src/DependencyInjection/ConfigureStaticFilesOptions.cs should be returning null.

The StaticFIleContext.SendAsync method ends up trying to send C:\_framework\blazor.boot.json when the IHttpSendFileFeature check is successful (which is the case for http.sys, kestre

[2019-05-08 06:27] spaasis opened #10069 "Inject IViewLocalizer to model"
### Is your feature request related to a problem? Please describe.
I am trying to add localized error messages to ModelState in a Razor Page model. I am using IViewLocalizer in the view, and would like to store the error messages in the same resource files as well.

### Describe the solution you'd like
I would like to be able to inject ViewLocalizer into the model and use it directly. Currently it

[2019-05-08 06:35] kennywangjin opened #10070 "System.Text.Json serialize accurate DateTime incorrectly!"
aspnetcore3.0 preview5 using System.Text.Json as input- and outputformatter:
if DateTime is too accurate (sqlserver datetime2), it will serialize it to invalid format like: **2019-05-08T00:00:5406760219**
This kind of result could not even be recognized by **DateTime.Parse**.
I think it should be **2019-05-08T00:00:54.06760219** (with a dot between seconds number and others) which can be parsed by

[2019-05-08 07:02] AnunnakiSelva commented on #3624
![image](https://user-images.githubusercontent.com/44052102/57356002-f6b61900-718c-11e9-9618-e656e607a46f.png)

Uninstall all  *.x86  and have only x64 versions (if you have windows x64 OS)  It worked for me .

[2019-05-08 08:03] emilmuller opened #10072 "Debugger in Visual Studio Code crashes"
I'm unsure if I'm posting this in the correct repository, so please correct me if this is not the case.

I have created an ASP.NET Core application, and I'm debugging in Linux. The application is a Web API. To ensure that it is stable, I am stress testing it locally while debugging.

What happens is I'm sending a couple of thousand requests, and then it crashes. There are no error messages in the

[2019-05-08 08:13] GuidoNeele commented on #10069
I'm injecting IStringLocalizerFactory so I can use the same resource file for different controllers/models.
`factory.Create(typeof(MyResource))`
You will need the dummy MyResource class file.

[2019-05-08 08:20] blowdart commented on #10055
@HaoK thoughts please.

[2019-05-08 08:20] blowdart commented on #10044
@HaoK is there a way to do this?

[2019-05-08 08:22] blowdart commented on #10013
@HaoK can you size this please?

[2019-05-08 08:59] rezanid commented on #9917
Thanks for the suggestion. I did and to be sure I also asked my colleague to reduce the instance count to 1 to reduce the number of things that can go wrong. After reducing the instances, it's now working fine apart from random Gateway timeout issues that can happen a few times during the day. If it happens I think SignalR stops polling permanently until I refresh the page. Is there any retry-poli

[2019-05-08 09:02] keatkeat87 commented on #10036
asp-page is serve by AnchorTagHelper
AnchorTagHelper use UrlHelper to generate url.
if i not wrong, the UrlHelper is EndpointRoutingUrlHelper (asp.net core 2.2 LinkGenerator)
continue look into DefaultLinkGenerator
[code]
it will looping all endpoint and try process route template to match the correct route.
this is the code, how it get all endpoint.
[code]
so back to my problem.
[code]
when we de

[2019-05-08 09:08] GuidoNeele opened #10073 "Identity security"
Read this blog post http://www.antradar.com/blog-how-secure-is-asp-net-core-login-page about the security of the identity login page. Think it raises some valid issues. Are you thinking of securing Identity even more out of the box?

[2019-05-08 09:18] blowdart commented on #10073
This is a difference of opinion between the author and .net.

If an attack is in the position to steal cookies, either via malware or via a proxy with a trusted certificate (because of course you're running on HTTPS) they're in a position to steal the password when it's sent, so a copy of a cookie isn't the "real" problem. This was solvable with token binding, but Google didn't want to implement i

[2019-05-08 09:28] vvasanth14 commented on #9021
Restarting the machine after installing the hosting bundle helped to resolve the issue (y)

[2019-05-08 09:35] GuidoNeele commented on #10073
@blowdart Thanks for your quick and clear reply! To be clear I'm happy with what Identity has to offer now, but I bumped into it and had never thought of collecting usernames that way. So was looking for some additional information and discuss it.

[2019-05-08 09:35] #10073 closed

[2019-05-08 09:36] blowdart commented on #10073
It's only quick because I'm in Europe right now, so I suspect our time zones are similar :)

[2019-05-08 09:58] BalintFarkas commented on #10059
We have also observed this behavior in version 1.0.4 of the SignalR Core C# client. We have created created a fix in our repository (https://github.com/visionary-broadcast-engineering/AspNetCore), and will be submitting a pull request shortly.

[2019-05-08 10:14] domugtong opened #10074 "Uncaught TypeError: Cannot read property 'checked' of null"
Hello Guys

i have a code here that enables a text box when the checkbox is checked.
[code]

But it gives me an error when trying it

[2019-05-08 10:27] BalintFarkas commented on #10059
We have encountered the same issue in 1.0.4 as well. It appears that the CancellationToken is simply not passed all the way down to the HttpClient that is doing the actual work. We have developed a fix and will be posting a pull request shortly.

[2019-05-08 10:43] gliljas commented on #10055
Adding....

1. Yes.. I can create a derived UserManager type, but that sort of defeats the model.
2. It's not only SetPasswordHashAsync that behaves like this.
3. Having an explicit UpdateAsync method on IUserStore indicates that it's not actually a unit of work suitable for OR-mappers etc., where the entire TUser instance is change tracked and persisted. I'm guessing that it would be possible to

[2019-05-08 10:50] andyfurniss4 opened #10076 "UseStaticFiles conflicting with UseWebpackDevMiddleware"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
I have set up Webpack for my project to compile TypeScript and Sa

[2019-05-08 11:24] drinkwater99 opened #10077 "EventCallback<T> Error cannot convert from 'method group' to 'EventCallback'"
### Describe the bug
Using the following two components, the compiler emits an error in the Parent component  in the OnSelect event parameter.

Error cannot convert from 'method group' to 'EventCallback'

[code]

Is this an issue or I am doing this wrong ?

### To Reproduce

[code]
[code]
[code]

[2019-05-08 11:46] firstasync opened #10078 "In Process poor performance when Logging is Information (Or Above)"
### Describe the bug
The app seems to have a poor performace when Logging is "Information" or above and **In Process** (IIS) hosting mode is being used. This doesn't seem to affect when **Out Of Process** (IIS + Kestrel) hosting mode is being used.

### To Reproduce
Steps to reproduce the behavior:
1. Create a new ASP.NET Core Web app.
2. Set Logging.LogLevel.Microsoft to "Information" on appsetti

[2019-05-08 12:02] effyteva opened #10079 "Kestrel execution timeout support"
Hi,

We've been facing some high CPU issues on our ASP.NET core 2.2 production environment for the past few weeks. The only way to "revive" our instances, was to restart Kestrel (or the server instance of course).
Following some hard time, we ended up finding some very rare scenario, in which our application was going through an infinite loop, which Kestrel never stopped processing.
This means any

[2019-05-08 13:29] krychaszek opened #10080 "System.Reflection.Emit in AOT environment with code generation"
Hello,

In my Unity game I'm using AspNetCore SignalR to communicate between client and server. Since I'm preparing version for PS4 platform I'm running with IL2CPP scripting backend.

I generated resolvers for my classes with MessagePackCompiler, and on both sides (server and client) I initialize MessagePackProtocol with formatters that should work in AOT environment.

`
services.AddSignalR()

[2019-05-08 14:55] Tratcher commented on #10079
ASP.NET 4.x implemented this using Thread Abort which only worked because it assumed the request was executed by a single thread (or tracked by the execution context?).

There is no plan to bring back Thread Aborts nor would they be likely to work very well now that Core is fundamentally asynchronous.

[2019-05-08 15:54] Eilon commented on #10070
This issue was moved to dotnet/corefx#37515

[2019-05-08 15:54] #10070 closed

[2019-05-08 15:54] Tratcher commented on #10051
Sounds like the events are not reaching the app. Try hooking `Console.CancelKeyPress` in Program.Main and see if you can hit a breakpoint in your callback in the different environments.

[2019-05-08 15:54] Eilon commented on #10070
Done. BTW you can use https://hubbup.io/Mover (runs on Blazor WASM!) to move issues as well.

[2019-05-08 16:02] #9667 closed

[2019-05-08 16:02] #9929 closed

[2019-05-08 16:08] Eilon commented on #10072
Hi @emilmuller , have you enabled any logging in the application at all? Even something like the Console Logger could emit some useful info. But, an app just suddenly stopping is often an indication that a background task/thread has thrown an exception that wasn't caught, because that will immediately terminate the application. You can try setting the debugger to catch *all* exceptions (incl. Firs

[2019-05-08 16:08] #8232 closed

[2019-05-08 16:09] nauticalcoder commented on #10044
Just a follow up and explain what I am trying to accomplish.  We would like to restrict the endpoints for verifying the authenticator code, using a recovery code, etc to users that have signed in with their password but not yet finished the 2FA process.  We also have some endpoints during the registration process that we would also like to restrict to users that have completed the password sign in

[2019-05-08 16:10] Eilon commented on #10074
Hi @domugtong , this repo is for ASP.NET Core, not ASP.NET 4.x, which it looks like you're using.

We recommend asking these questions either on https://stackoverflow.com/ or https://developercommunity.visualstudio.com/spaces/8/index.html.

Having said that, it looks like `var checkBoxInput = document.getElementById(checkBoxId);` is not finding the checkbox element, which causes code such as `chec

[2019-05-08 16:10] #10074 closed

[2019-05-08 16:11] BrennanConroy commented on #9917
This heavily indicates that sticky sessions is not enabled or working correctly. The network traces (with 2 instances) would be useful to see what's going on.

In 3.0 we're adding support for automatic reconnect, but for now you can do something like https://docs.microsoft.com/en-us/aspnet/core/signalr/javascript-client?view=aspnetcore-2.2#reconnect-clients

[2019-05-08 16:30] NinoFloris commented on #9337
And what about WebHostBuilderContext why isn't that injectable as its constituent parts are?

[2019-05-08 16:34] Tratcher commented on #9337
@NinoFloris why would you want the WebHostBuilderContext? As you say, all of its fields are available individually.

[2019-05-08 16:35] enetstudio commented on #10077
shouldn't you use async  before () => OnSelect.InvokeAsync(item)  ?
shouldn't you define Task instead of void with the definition of OnSelect ?
Would you try Func<TData, Task> instead of EventCallback ?

[2019-05-08 16:50] #10068 closed

[2019-05-08 17:02] rezanid commented on #9917
I will do the trace with multiple instances tomorrow to prove your theory.

Thanks for the suggestion. I thought I have read all the documentation, but obviously I have missed this one at least.

[2019-05-08 17:11] NinoFloris commented on #8212
For recent browsers what does the change from lax to none technically amount to in terms of behavior? @Tratcher

[2019-05-08 17:19] rxelizondo opened #10083 "Provide guidance about moving large amount of data from JavaScript into Blazor."
### Describe the bug

When attempting to move "large" amounts of data from JavaScript into Blazor I get different errors at different times:

`wasm-0074c056:474 Uncaught (in promise) RangeError: Maximum call stack size exceeded`

`blazor.webassembly.js:1 Uncaught (in promise) Error: System.Reflection.TargetException: Non-static method requires a target.`

`blazor.webassembly.js:1 Uncaught (in prom

[2019-05-08 17:36] Tratcher commented on #8212
@NinoFloris It means more scenarios work by default for iOS.

[2019-05-08 17:42] Tratcher commented on #10076
@SteveSandersonMS

[2019-05-08 17:44] mikaelm12 commented on #10059
Good point. I looked at your commits @BalintFarkas and it does seem as if the connection token passed into the HttpConnection doesn't get passed through. Good find

[2019-05-08 18:07] NinoFloris commented on #9337
No reason in particular, separate is fine. I don't know, it may have felt a bit inconsistent as WebHostBuilder ConfigureServices does pass it.

[2019-05-08 18:19] anurse commented on #9683
@BrennanConroy can you take a look?

[2019-05-08 19:11] davidrensh commented on #9851
VS 2019 is not working with blazor.
As pranavkm mentioned, I downloaded VS 2019 preview5, it works.

[2019-05-08 19:23] WojcikMM opened #10085 "Disabled Property don't work with c# boolean property. & ValueChanged Not Fired"
### Describe the bug
When you add :
`<button  onclick="@ChangeButton" id="create-group-btn" type="submit" class="btn btn-primary @_disabled" disabled="@(!costam)">Add Group</button>`
className @_disabled was changed but disabled property not appeard.
I Try in few configuration and few html tags and dont work too.
Also try with method  this.StateHasChanged();  - the same result.

### Additionaly I

[2019-05-08 19:33] threax commented on #4802
Since all the answers here are a bit of a hack I thought I would add my 2 cents.

In my case I was not really able to modify my input model, so instead I instructed the object with the file to [BindNever] the IFormFile property.
[code]
Then in the wrapper object I wrote a function that manually pulls the files out of the form.
[code]

You will have to call `HACK_FixUploadFiles` in your controller

[2019-05-08 19:48] wpitallo opened #10086 "System.AggregateException: One or more errors occurred. (Object reference not set to an instance of an object.)"
Hi, I just upgraded to .Net core 2.2.4 from 2.1 and I am getting the following error the first time that I await a task:

[code]

This is happening inside a hosted service. Also it throws the exception but the task does complete. Then any awaits after that work perfectly so the error only occurs the first time.

[2019-05-08 19:56] Andrzej-W commented on #6882
Will this enable server side prerendering for Blazor Client Side app?

[2019-05-08 20:01] anurse commented on #9520
Looks like it's in our repo now:

[code]

[2019-05-08 20:17] anurse commented on #4389
It looks like this polyfill is what causes the problem. We check `Buffer` against `undefined` but if the polyfill is triggered, `Buffer` is set to `[]` which means `typeof Buffer` returns `object`. That means we get past the `typeof Buffer` check and then try to use it with `instanceof`, which fails.

I think we need a new approach to this one. Is someone able to provide a clonable sample that rep

[2019-05-08 20:45] Andrzej-W opened #10087 "Blazor renders incorrect HTML after contentedibale is edited"
I have just made a simple application to partially solve the problem described here #9974
In this application (complete project available here https://github.com/Andrzej-W/ContentEditable) I have a simple `div` element and a button. I can click the button to enable/disable editing in the `div`. Unfortunately when I click the button to disable editing Blazor renders wrong HTML code for this `div` e

[2019-05-08 20:46] justintoth opened #10088 "Could not copy ASP.NET Core dll, the file is locked by IIS Worker Process"
### Describe the bug
I'm attempting to develop an ASP.NET Core web application running locally under IIS on Windows 10. Every time that I run the app then try to rebuild the ASP.NET project, it errors:

In order to work around the issue, I need to recycle the IIS app pool *every single time* before rebuilding the solution. This is not a productive way to spend my time, so am looking for a resoluti

[2019-05-08 20:48] VR-Architect opened #10089 "HTTP Status Codes are swapped for Unauthorized (401) and Forbid (403)"
Using Blazor/server on VS 16.1.0 Preview 3

A return from an ASP.Core Blazor server-side API method of Unauthorized permits the passing of an object like this Unauthorized(object). The return of Forbid permits the passing back of authentication parameters.

According to this Stack Overflow, a 401 is used when regarding the authentication of a users credentials. And a 403 is used when in regards to

[2019-05-08 20:50] VR-Architect commented on #9716
Yeah, enums was in the example in the documentation.  But not for non-enums :(

[2019-05-08 20:51] VR-Architect commented on #5616
If this is impacting #9716  we do need this or no binding to select. And I haven't test it yet, but most likely it will impact binding to other complex controls like radio groups and treeviews?

[2019-05-08 20:56] Andrzej-W commented on #10087
The above test has been done in Firefox. Chrome creates only one `div` element after `Enter`
[code]
but final result is also wrong:
[code]

[2019-05-08 20:58] Tratcher commented on #8897
Announcement:
Please try 3.0.0-preview5 System.Net.Security.NegotiateStream in your environments. NegotiateStream allows you to authenticate a TCP connection using NTLM or Kerberos. It will not get you HTTP auth, but it will let you know if you have correctly configured in your environments.

In preview5 we [added](https://github.com/dotnet/corefx/pull/36827) support to NegotiateStream for server

[2019-05-08 20:59] Tratcher commented on #4662
Announcement:
Please try 3.0.0-preview5 System.Net.Security.NegotiateStream in your environments. NegotiateStream allows you to authenticate a TCP connection using NTLM or Kerberos. It will not get you HTTP auth, but it will let you know if you have correctly configured in your environments.

In preview5 we [added](https://github.com/dotnet/corefx/pull/36827) support to NegotiateStream for server

[2019-05-08 20:59] VR-Architect commented on #10089
I would like to add another possible related bug. I switched my 401 to 403 error and the client is now getting a status of 500 (Internal Server Error) instead of 403.

[code]

[2019-05-08 21:00] Andrzej-W commented on #9974
@SteveSandersonMS please look at #10087. It looks that Blazor renders incorrect HTML when we try to use `contenteditable` with simple JS interop.

[2019-05-08 21:02] NTaylorMullen opened #10090 "[Tooling] React to Roslyn removing IVTs to partner teams"
Roslyn is going through an effort of removing IVTs to partner team assemblies. Instead they're replacing the IVTs with new assemblies that we then depend on. As part of this move we'll need to react to our IVT dependency on `Microsoft.CodeAnalysis.Workspaces` being removed and possibly a change in our `Microsoft.CodeAnalysis.Remote.Razor.ServiceHub` dependency.

[2019-05-08 21:08] luisquintanilla commented on #10051
Hmm. Not sure if any changes went in between the time I raised the issue and now. I tried setting `Console.CancelKeyPress` and that worked both in VS Code and CMD/PowerShell. I then ran the application again without it and it worked as expected.

[2019-05-08 21:17] pranavkm commented on #10070
@Eilon please move to dotnet/corefx.

[2019-05-08 21:19] anurse commented on #9876
Triage decision: We think the behavior should be consistent across HttpSys and Kestrel, so if we are to do this we have to feel confident we can do it in HttpSys without regressing perf. We don't feel like we can do that in 3.0. Closing for now, we'll revisit in the future.

[2019-05-08 21:19] anurse commented on #8843
@silmon27 there have been a lot of changes to the underlying Pipelines implementation in 3.0. Could you try updating to a 3.0-preview5 image and see if you can repro this issue there? If so, let us know and we can help investigate further.

[2019-05-08 21:20] NTaylorMullen commented on #9637
https://github.com/aspnet/AspNetCore-Tooling/commit/cf474c97aa560268abc2334e12799c7c767e356f

[2019-05-08 21:20] #9637 closed

[2019-05-08 21:22] anurse commented on #10011
"Pre-main" meaning errors that occur **prior** to even loading the application.

[2019-05-08 21:25] davidfowl opened #10091 "Remove UseEndpointExecutor"
We can add it back if it's needed but it doesn't seem needed.

cc @JamesNK @rynowak

[2019-05-08 21:25] anurse commented on #10005
To be clear, we mean both `stdout` and `stderr`.

[2019-05-08 21:29] anurse commented on #10005
Let's log the first 30KB and see where that takes us for now.

[2019-05-08 21:34] anurse commented on #9912
Can you send us a sample project that reproduces the issue so we can clone it and try it out to explore further?

[2019-05-08 21:36] anurse commented on #9874
Closing as per the discussion. Kestrel requires the use of UTF-8 or ASCII, ANSI extensions are not supported. Either use a client that sends UTF-8, or use a reverse proxy that transcodes this.

[2019-05-08 21:36] #9874 closed

[2019-05-08 21:54] anurse commented on #8660
We just don't have the capacity for this in 3.0. I'll put this in 3.1 for now, and if someone feels so inspired, we can review a PR :)

[2019-05-08 21:59] anurse commented on #4763
@Tratcher turned the existing tests on again 🎉

We do need some additional interop tests that use Trailers.

[2019-05-08 22:07] Tratcher commented on #10051
At least it's working now 😁

[2019-05-08 22:07] #10051 closed

[2019-05-08 22:07] anurse commented on #4016
I've got some scripts to extract the version from the EXE coming together. Closing this issue now as it's not really work that needs to happen in this repo.

[2019-05-08 22:07] #4016 closed

[2019-05-08 22:45] jkotalik commented on #9520
This change will actually be a lot larger than I expected. It requires a whole new set of hostfxr apis to be used, and may expand into more issues. Defensively putting cost M on it.

[2019-05-08 22:57] drk-mtr commented on #9982
Argh, sorry, user error. Having investigated it appears I was inadvertently using a preview version of EF Core (3.0.0-preview3.19153.1), and it looks from some documentation as if the intention is that these ID columns should be user configured. Bit of a strange default for the template in my view but I'll close this.

[2019-05-08 22:57] #9982 closed

[2019-05-08 22:57] ghost opened #10095 "Nuget Package Microsoft.AspNetCore.App bug"
Hello, my friends! I,m create new WebHostBuilder().UseStartup<Startup>().UseKestrel() etc...

I manually add the necessary packages.
I run the application on the IISExpress web server and see "Now listening on: http://localhost:5000", This contradicts "launchSetings.json". I,m add metapackage Microsoft.AspNetCore.App
and everything starts to work, with the same code and settings.

In addition, in

[2019-05-08 22:58] terrainkognito2017 commented on #10095
VS 2019, .Net Core 2.2,

[2019-05-08 23:05] terrainkognito2017 commented on #10095
public static void Main(string[] args)
        {
            var config = new ConfigurationBuilder()
                .SetBasePath(Directory.GetCurrentDirectory())
#if DEBUG
                    .AddJsonFile("appsettings.Development.json", true, true)
#else
                    .AddJsonFile("appsettings.json",true,true)
#endif
                .Build();
            var host = new WebHostBuilder()

[2019-05-08 23:05] terrainkognito2017 commented on #10095
<PropertyGroup>
    <AspNetCoreHostingModel>InProcess</AspNetCoreHostingModel>
    <TargetFramework>netcoreapp2.2</TargetFramework>
    <TypeScriptToolsVersion>Latest</TypeScriptToolsVersion>
    <AssemblyName>Client</AssemblyName>
    <RootNamespace>Client</RootNamespace>
  </PropertyGroup>

[2019-05-08 23:07] Eilon commented on #10086
The exceptions seem to be coming from `Service.ExecuteAsync`, in `Service.cs`. Is that your code? Also, if you catch the AggregateException in a debugger, what are the inner exceptions (aggregate exception is just a container for multiple inner exceptions, which have the real info).

[2019-05-08 23:09] terrainkognito2017 commented on #10095
if change OutOfProcess , i,m see error "Failed to bind to address http://127.0.0.1:5000: address already in use."
I understand why this is happening, but I don’t understand why installing the package solves this problem.

[2019-05-08 23:22] #9316 closed

[2019-05-08 23:33] kevinlo opened #10097 "Can the HostingRequestFinishedLog.ToString include the request url too?"
[HostingRequestFinishedLog.ToString ](https://github.com/aspnet/AspNetCore/blob/master/src/Hosting/Hosting/src/Internal/HostingRequestFinishedLog.cs#L47) currently just has the elapsedTime, but not the request URL.

It is easier to match with the Request starting if it can include the URL like this.

In my log files, sometimes it has a few Request finished around the same time and I cannot tell wh

[2019-05-08 23:37] rynowak commented on #10091
I'm ok with removing it, I'm not sure we have a totally clear use case.

[2019-05-08 23:40] JamesNK commented on #10091
Ok. If there is demand it can always be re-added in The Future.

[2019-05-09 00:54] TheFanatr opened #10098 "Blazor Exit Lifecycle Method with Active WebSocket Connection"
### Purpose
Certain Blazor applications could benefit from having a lifecycle method for when the component is being navigated away from, while JavaScript interop is still available. Using the `@implements IDisposable` pattern will allow code to execute when the component is being disposed, but it would be nice if it would be possible to delay something like an unload to execute some final interop

[2019-05-09 02:00] ioer2008 commented on #9990
我发现放在shared目录下,就可以了

[2019-05-09 03:46] phillip-haydon commented on #9943
I still don't understand why there is no support for Body/Route/Query out of the box. Having to have multiple arguments on the action is such a hack.

[2019-05-09 03:50] sujayvsarma commented on #9912
Visual Studio 16.1.0 Preview 2.0 > Create new Project > ASP.NET Core Web application.

On the Template selection screen, selected "Empty", let it configure HTTPS and No Authentication.

That's it.

[2019-05-09 04:23] anurse commented on #9912
Are you on a 32-bit machine? It sounds like you could be hitting this issue which was resolved in Preview 3: https://developercommunity.visualstudio.com/content/problem/544171/microsoftancmv2iisexpressmsi-installs-64-bit-aspne.html

Can you update to the latest released 16.1 preview and see if this issue still happens?

[2019-05-09 04:31] sujayvsarma commented on #9912
No, I have a 64-bit machine, with a 64-bit Win 10.

Yes.

I am not sure if this will help, but some additional info:

I do not have IIS (the Windows 10 IIS) or any web server separately installed. The VS web experience is using the IIS Express that is installed by VS.

Also, based on this observation (mine, above),

It looks like something is different between doing a `dotnet run` and an F5 run fr

[2019-05-09 04:33] anurse commented on #7548
Stumped again. See some notes in the linked PR (#10093).

[2019-05-09 04:38] anurse commented on #9912
Yes, there is definitely a lot different between `dotnet run` and F5 in VS. VS launches IIS Express, but `dotnet run` does not (it runs as a console app and directly launches Kestrel).

Can you look in a few more places for some extra information?

1. The VS Output Window has a dropdown option "ASP.NET Core Web Server". Can you open that when you run and grab the output from there and put it here

[2019-05-09 04:41] sujayvsarma commented on #9912
I shall do this later today or tomorrow. .NET Core isn't a priority for me. I was only trying it out post the announcements made at //build.

[2019-05-09 04:44] anurse commented on #9912
No problem. Let us know when you can get a little more info and we'll do our best to help!

[2019-05-09 05:01] #7449 closed

[2019-05-09 05:08] davidfowl commented on #8843
@anurse yes, we should do this.

[2019-05-09 05:14] anurse commented on #8843
See https://github.com/aspnet/AspNetCore/issues/9876 . Getting that behavior consistent with HttpSys is a Big Thing. Do we want this behavior to be different by server? That seems like a pit of failure to me.

[2019-05-09 05:18] benaadams commented on #10097
This work? https://github.com/aspnet/AspNetCore/pull/10102

[2019-05-09 05:27] kevinlo commented on #10097
@benaadams.   That works.  Which version will have it?

[2019-05-09 05:33] benaadams commented on #10097
Up to ASP.NET team 😄

[2019-05-09 05:38] davidfowl commented on #10086
Can you provide a minimal repro with sample code.

[2019-05-09 05:45] davidfowl commented on #10097
If we take it, 3.0.

[2019-05-09 05:47] davidfowl commented on #8843
I'm for making it consistent by default and if we think that there are cases that warrant allowing parallel writes we can expose a flag to disable the behavior in http.sys only. I'm guessing that the 99.5% of people do this by mistake, not intentionally. Overlapping asynchronous operations are generally forbidden on the `HttpContext`.

[2019-05-09 05:54] kevinlo commented on #10097
@davidfowl  For 2.x, is there any alternative solution?

[2019-05-09 05:59] benaadams commented on #10097
You could add your own middleware at the start of the pipeline and then log on the way out; see https://github.com/aspnet/AspNetCore/issues/5894#issuecomment-421688486

[2019-05-09 06:02] JMan7777 opened #10103 ".Net Core 3.0 Preview 5 TypeLoadException"
Hello,

after just upgrading a .Net Core 3.0 Preview 4 project to Preview 5 I cannot start the application anymore. (All .Net Core 3.0 related nuget packages are updated to Preview 5 as well)

I'm running (normally) under a Linux Docker container which uses the latest Preview 5 images:

FROM mcr.microsoft.com/dotnet/core/aspnet:3.0-bionic AS base
FROM mcr.microsoft.com/dotnet/core/sdk:3.0-bionic A

[2019-05-09 06:07] kevinlo commented on #10097
@benaadams I know I can add my own middleware at the beginning of the pipeline.  But then it will have duplicated logging as the Webhost one that I could not turn off.   Moreover, I think the Webhost one provide more accurate elapsed from start to finish.

I just want to check if there is a better solution.   If not, I can add my own Middleware for now.

Thanks all for your help.

[2019-05-09 06:07] #10097 closed

[2019-05-09 06:29] JMan7777 commented on #10103
I found the issue.

The latest Nuget package `MiniProfiler` (version 4.0.165) is not compatible with .Net Core 3.0 Preview 5. After removing it the application works.

[2019-05-09 06:29] #10103 closed

[2019-05-09 07:35] enetstudio opened #10104 "Can I send binary data from a JS Promise to a Blazor client-side ?"
Help is needed here...

Can I send binary data from a JS Promise to a Blazor client-side, using HttpClient ? How to do that ?

Many thanks...

[2019-05-09 07:47] jimmyheaddon commented on #9640
I'm seeing these same errors with Visual Studio 2019 v16.0.3, having followed these instructions - https://devblogs.microsoft.com/premier-developer/exploring-blazor-with-visual-studio-2019/

Would VS16.1 preview 2 definitely fix this?

[2019-05-09 07:59] lizmathew92 commented on #4243
Any updates on this?

[2019-05-09 08:35] SeppPenner commented on #9103
I guess, it's answered now: https://github.com/dotnet/core/blob/master/roadmap.md:

[2019-05-09 10:13] drinkwater99 commented on #10077
Using async and Task does not change anything - the error remains.

The only way I am able to make it work is by doing the following in the Parent component event handler :
[code]
instead of :
[code]

Seems kind of strange to me that it would need to be done that way though.

[2019-05-09 10:20] KieranDevvs opened #10106 "Obtain feedback from resource downloads on Blazor startup"
### Is your feature request related to a problem? Please describe.
Im trying to display to the user, the progress of the download of the Blazor assemblies and any other resources that are required to run the app.

### Describe the solution you'd like
I would like a way of exposing the progress events of file downloads so that I can obtain information such as:
1) The a of resources that are require

[2019-05-09 10:27] RichardNobel commented on #9778
Hi @ravikumarmistry - did you fix the issue in your application?

I am also using a _String Trimming_ ModelBinder.
But with `services.AddMvc()` instead of `services.AddMvc`**Core**`()`, in Startup.cs.

**Startup.cs**
[code]

**MvcOptionsExtensions.cs**
[code]

**TrimStringModelBinderProvider.cs**
[code]

[2019-05-09 10:42] janmarques commented on #3005
Running on .NET Core 2.2

Below example generates the error.
Note that if you keep the data array under 215, it won't crash, but anything 215 or over crashes

`using System;
using System.Security.Cryptography;
using System.Security.Cryptography.X509Certificates;

namespace ConsoleApp2
{
    class Program
    {
        static void Main(string[] args)
        {
            var certificate = new X509

[2019-05-09 10:58] LaughingJohn commented on #9945
Any idea how I reference System.Text.Json in a Blazor app? (I'm running preview VS and .net core 3 preview 5. I've had issues with both Microsoft.JSInterop.Json (can't deserialize a keyed collection although it can serialize one) and NewtonSoft (System.Runtime not found).

On a side note once I added Newtonsoft I couldn't get rid of it by just removing the package, it seemed to be hanging around i

[2019-05-09 11:05] effyteva commented on #10079
Thanks, I understand that,
What do you think could be done to resolve this? Perhaps on the application side?
Eventually there's software bugs, and on rare cases, bugs will cause infinite loops. I don't think the web server should crash due to a single Task being looped.

[2019-05-09 11:08] vankampenp commented on #4707
We had this once now. The operation sends a ID string and an answer string, together with some cookies. so really small body.

[code]
 We are running in-process ASP Net Core 2.2.0 on IIS. In the log the number before |Base| is the Thread ID.

[2019-05-09 11:12] stsrki commented on #10077
@drinkwater99 You're seeing this error because of generics(typeparam) with EventCallback, It's not supported yet.
I have also reported that bug months ago and still waiting. see #8385

[2019-05-09 11:39] Aardvark71 opened #10107 "kestrel - intermittent error - Unable to bind - EACCES permission denied"
We are running our asp.net core apps in production on Windows in IIS.
We are hosting out-of-process.

Now since a few weeks we have seen the following error in production :

(obviously, the exact port number differs between events)

It is clear that somewhere the assignment of the dynamic port went wrong. but I haven't found any info on how kestrel determines it's port to use.

Also clueless on ho

[2019-05-09 11:59] zefubachs opened #10108 "SignalR amd module"
I'm using razor pages in combination with typescript and knockout to create page based viewmodels.

I'm using AMD (requirejs) to load knockout and other (transpiled) typescript files.
Documentation only shows how to use SignalR directly using a `<script>` tag or via webpack, which i would like to avoid because i'm already using amd module loading and adds extra js build dependencies.

Is there an

[2019-05-09 12:06] brockallen commented on #10088
I've been seeing this bug since VS 2017. // @Andrew-MSFT

[2019-05-09 12:08] brockallen commented on #10089
Check your logs. Do you see something like: no default forbid scheme registered?

[2019-05-09 12:51] ferronsw opened #10109 "Azure DevOps build “rzc generate exited with code 1”"
### Describe the bug
The last container I build on Azure DevOps was with version 2.1.300 of the SDK. After upgrading to .Net Core 2.2 with SDK 2.2.203 I get the error below.

/usr/share/dotnet/sdk/NuGetFallbackFolder/microsoft.aspnetcore.razor.design/2.2.0/build/netstandard2.0/Microsoft.AspNetCore.Razor.Design.CodeGeneration.targets(131,5): error : rzc generate exited with code 1.

The container s

[2019-05-09 12:52] domaindrivendev opened #10110 "In some cases, ApiExplorer does not flatten query-bound models correctly"
### Describe the bug
In some cases, ApiExplorer does not "flatten" the properties of a complex, query-bound model correctly and this has a downstream impact on Swagger generation libraries such as Swashbuckle.

### To Reproduce
Steps to reproduce the behavior:

1. Using ASP.NET Core 3.0.0-preview
2. Create an action with the following query-bound model
[code]
3. Run the application and observe the

[2019-05-09 13:16] VR-Architect commented on #9727
You are awesome! That worked. Thanks.

[2019-05-09 13:16] #9727 closed

[2019-05-09 13:21] cjblomqvist commented on #2585
It seems this has not been fixed and will not be fixed? Or am I missing something? This would be very helpful. Atm this makes it very cumbersome to develop anything using NodeServices, since it's always guesswork to figure out where errors come from.

[2019-05-09 13:24] VR-Architect commented on #10089
Sorry, but where is the log when running VS in debug mode on desktop?

[2019-05-09 13:38] pranavkm commented on #10109
This is most likely where the error code is being returned from
https://github.com/aspnet/AspNetCore/blob/release/2.2/src/Razor/Razor.Tools/src/GenerateCommand.cs#L52-L56, but it's hard to tell what it's complaining about without build logs.

[2019-05-09 13:42] ferronsw commented on #10109
@pranavkm the build log doesn't show much more if I'm not wrong.

[code]

[2019-05-09 13:56] emilmuller commented on #10072
@Eilon I won't be back in the office until Monday, so I will try and enable some more exception catching then :)

However, when I compile this in release mode, it runs stable and does not crash. I have no pragmas in my code, so it should mostly be executing the same code.

And when debugging, the application doesn't seem to terminate. In Visual Studio code, the debugging session seems to end, but

[2019-05-09 14:13] TanvirArjel commented on #8365
@blowdart  Please take a look on it: https://stackoverflow.com/questions/56060589/where-are-are-identityusers-uploaded-to-the-database  and see how Razor Page Identity is confusing people!

[2019-05-09 14:35] gregg-miskelly opened #10113 "Symbols from daily builds of master brancn are not published to symbol server"
## Summary
The C# extension test team recently did a test of symbol server support using a preview6 build of the framework and found that one assembly, Microsoft.AspNetCore.Routing.Abstractions, had a PDB file, but the PDB wasn't published to symbol server.

## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version:   3.0.100-preview6-011799
 Commit:    38162

[2019-05-09 14:51] Tratcher commented on #10079
This isn't a web server specific problem, it could happen in any application. It's quite difficult for the application to self-diagnose and distinguish between an expensive operation and a broken one, let alone recover from it in such a way that the application is stable afterwards.

For this class of error I think you're better off using external monitoring and health checks. If the application c

[2019-05-09 14:59] danroth27 commented on #9640
@jimmyheaddon To use Blazor you need the latest Visual Studio preview: https://visualstudio.com/preview

[2019-05-09 15:27] Eilon commented on #10072
@emilmuller that is certainly very odd... any additional information you can provide would be helpful. If you can upload the app or a simplified repro to a GitHub repo that would be awesome.

[2019-05-09 16:06] guardrex commented on #10079
@Tratcher Would you like me to make such a remark in the vicinity of ANCM request timeout coverage for in-proc in the topic? If not, I'll close the doc issue.

[2019-05-09 16:14] Tratcher commented on #10079
No, ANCM doesn't really handle this.

@glennc does this make sense in the context of health checks?

[2019-05-09 16:14] Andrew-MSFT commented on #10088
Adding @BillHiebert

[2019-05-09 16:16] guardrex commented on #10079
btw - IIRC, it's the only place this type of timeout is covered, so that's why I thought it might be the best spot for a passing remark. We could surface it in a very short section of the server's topic. https://docs.microsoft.com/aspnet/core/fundamentals/servers/

The prob with Health Checks is that devs probably won't look there for this ... and search may leave them hanging.

[2019-05-09 16:26] mathavanmani commented on #7531
Hi @jaydeept , Have you found the root cause of this issue by any chance?. I'm also facing the same issue

[2019-05-09 16:32] mkArtakMSFT commented on #10113
Thanks for contacting us, @gregg-miskelly.
@natemcmaster can you please advise where the symbols are?

[2019-05-09 16:33] LukeTOBrien commented on #5489
Just to add my 2 cent to this.
With ref to what @Nathan-Ryan said

I use `router-outlet` in my Angular apps.
In my apps I have the _main_ outlet and a _dialog_ outlet, this dialog outlet is then navigated to/populated in code and then I have CSS that presents the dialog as a model.

I don't know what method anyone else would do for models in Blazor or Angular, but this is how I do them and it work

[2019-05-09 16:39] mkArtakMSFT commented on #10076
Thanks for contacting us, @andyfurniss4.
@ryanbrandenburg  can you please look into this? Thanks!

[2019-05-09 16:40] mkArtakMSFT commented on #10069
Thanks for contacting us, @spaasis.
It's not clear what you're trying to do, actually. Can you please share some more details with us regarding your scenario as well as a repro project so we can try to help.

[2019-05-09 16:48] anurse commented on #8843
That sounds like a reasonable compromise. @Tratcher?

[2019-05-09 16:49] mkArtakMSFT commented on #10032
Thanks for contacting us, @Edward-Zhou.
You can try to specify the name of the attribute using the `DisplayName` attribute https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.modelbinding.metadata.displaymetadata.displayname?view=aspnetcore-2.2

Your model in that case would look like:
[code]

[2019-05-09 16:49] #10032 closed

[2019-05-09 16:50] mkArtakMSFT commented on #10031
/cc @danroth27

[2019-05-09 16:51] mkArtakMSFT commented on #10002
@ryanbrandenburg can you please look into this? Thanks!

[2019-05-09 16:53] mkArtakMSFT commented on #10000
Thanks for contacting us, @dpedrelli.
The issue you're facing indicates that the app you're trying to run is compiled against a different runtime than the one available on the machine.
Try to install the same runtime on the target machine.

[2019-05-09 16:53] #10000 closed

[2019-05-09 16:55] mkArtakMSFT commented on #9994
Thanks for contacting us, @ruchanb.
@JamesNK can you please look into this? Thanks!

[2019-05-09 16:58] mkArtakMSFT commented on #9993
Thanks for contacting us, @phillip-haydon.
@blowdart, @HaoK do you have any suggestions here?

[2019-05-09 16:59] NotMyself commented on #10002
Feel free to reach out to me if you need anything @ryanbrandenburg. I have kind of moved on with development, but the branch is the same.

[2019-05-09 17:00] mkArtakMSFT commented on #9992
Thanks for contacting us, @Edward-Zhou.
We know about this and we plan to address this as part of https://github.com/aspnet/AspNetCore/issues/8537 issue.

[2019-05-09 17:00] #9992 closed

[2019-05-09 17:04] Tratcher commented on #8843
No, Http.Sys isn't broken, has a real scenario for this behavior, and isn't worth the effort to add the new checks. It will get filed and backlogged like all other Http.Sys work this milestone. Consistency is useful for common behaviors, but this isn't a common issue, it's a deliberate pattern someone has to go out of their way to do.

[2019-05-09 17:04] HaoK commented on #9993
Sounds like this is in the grey area.  From the Authorization side of things, the only thing you get from MVC as you discovered, is the `AuthorizationFilterContext`, which lets you access the `HttpContext` and whatever you can reach from that.  I'm not very familiar with the specifics of how MVC model binding works, but I imagine you can probably get to what you need from the context?  @pranavkm @

[2019-05-09 17:06] davidfowl commented on #8843
So you're arguing we should leave http.sys alone? I actually don't care at all as long as we block it in kestrel.

That's not the only way it happens. It's a pattern that people do by mistake because they can forget to await.

[2019-05-09 17:14] natemcmaster commented on #10113
Symbols for daily builds of AspNetCore will be available on the Microsoft public symbols server. This is currently broken for the master branch of this repo. https://github.com/aspnet/AspNetCore-Internal/issues/2126 tracks re-enabling our symbols publishing.

[2019-05-09 17:19] anurse commented on #8843
The concern with being inconsistent here is with a user who is running an app on HttpSys server and switches to Kestrel. If they were doing overlapping `WriteAsync` calls (which HttpSys server allows) then switching servers will cause their app to start throwing.

[2019-05-09 17:24] Tratcher commented on #8843
A wrapper would be just be more overhead, state machines, etc..

Honestly we don't see many people switch between Http.Sys and Kestrel. They usually switch between IIS and Kestrel. If they're using Http.Sys it's for a specific feature not available elsewhere.

[2019-05-09 17:29] rynowak commented on #9993
There's no way to do this currently. We intentionally don't run model binding at this stage because we want to avoid doing work when the request is unauthorized.

[2019-05-09 17:31] anurse commented on #9876
Re-opening.

[2019-05-09 17:40] stephenschwan opened #10116 "Switched to InProcess hosting from OutOfProcess - random AspNetCore.Server errors takes down AppService Instance"
We just switched to InProcess hosting in hopes of getting rid of random IIS/Kestrel errors resulting in app restarts.  We have now encountered a new set of errors on our service.  They mainly are Microsoft.AspNetCore.Connections.ConnectionResetException errors which take an instance down and requires a restart to fix.  We started seeing these shortly after deployment.

NOTE: There is nothing from

[2019-05-09 17:41] FlorianRainer opened #10117 "IIS Application Pool Recycle returns unexpected 503"
### Describe the bug / Steps To Reproduce
I have a Asp.Net Full Framework MVC Application (Visual Studio default MVC Template) hosted on my local IIS10 (Win10) (not IIS Express) with "Disable Overlapped Recyle = false" (default value).
If i recycle the application pool while i use a tool to continuously send http requests the webserver will respond correctly for all requests, no Errors (500 / 503)

[2019-05-09 18:03] dougbu commented on #10113
@natemcmaster last I looked, symbol publishing was working fine. We just got errors about using the current task in a release pipeline. Has something changed?

[2019-05-09 18:11] brockallen commented on #10088
This last week while teaching my workshop, I was seeing it about every 20% of the time when I launch my app under IIS express, alt-tab back to VS, make a quick change, Ctrl-F5, then DLLs locked error. I'm always using Ctrl-F5, and never F5.

[2019-05-09 18:13] rxelizondo opened #10118 "Blazor (ASP.NET Core Hosted) On Blazor full page post back, checked checkboxes values are sent as 'on' and not as 'true'."
### Describe the bug

When posting using "old fashion" full page post back from a Blazor page, checkbox values that are checked are sent to the server as “on” instead of “true”. This is causing the server-side controller action binding functionality to not work correctly. Here is an example of what is being sent:

[code]

As far as I can tell, when doing the same thing from pages generated via ASP

[2019-05-09 18:36] ajithr commented on #9851
I was facing this issue in VS 2019 preview5 and when I changed the .cshtml files to .razor in the project, this issue gone.

[2019-05-09 18:42] silmon27 commented on #8843
I don't _think_ I'm doing parallel writes to the response body stream.
Microsoft.WindowsAzure.Storage.Blob.CloudBlob.DownloadToStreamAsync should be the only one writing to the response body stream.

Simplified version:
[code]
[code]

I also checked the exception page middleware and it does not `WriteAsync` if `Response.HasStarted` is true. But that shouldn't matter because DownloadToStreamAsync i

[2019-05-09 18:54] spaasis commented on #10069
@GuidoNeele Yup, that will certainly work, but I would like to avoid the dummy class if at all possible for the reasons mentioned in the starting post.

@mkArtakMSFT let's see if I can clarify (I can whip up a project if necessary, but let's see).

Assume that I have a View `MyView.cshtml` and a corresponding Model `MyViewModel` in `MyView.cshtml.cs`.
In the View I `@inject IViewLocalizer`, which

[2019-05-09 18:57] mikaelm12 commented on #9862
Are you able to get the Xamarin client work with this? It seems like you don't have any hub methods on your server?

The logs show that the issue starts when you get a message coming in. Theres a class cast exception in the logs which hint at the fact that whats coming isn't matching what we expect it to be.  Are you ever successfully processing the Handshake message?

[2019-05-09 19:01] spaasis commented on #10069
Could there be something added here so it checks the .cshtml.cs-file also? https://github.com/aspnet/AspNetCore/blob/def36fab1e45ef7f169dfe7b59604d0002df3b7c/src/Mvc/Mvc.Localization/src/ViewLocalizer.cs#L105

[2019-05-09 19:18] wpitallo commented on #10086
I found the issue, I was creating the singleton hosted service twice. in startup.cs.  It would be great if we could get more intuitive error messages for these kind of issues.

Thanks for the help!

[2019-05-09 19:18] #10086 closed

[2019-05-09 19:32] GuidoNeele commented on #10069
@spaasis Ah I see, you still want the separate resx files per view, just with the model translations also included. Still think you can use the IStringLocalizerFactory for that. See https://www.jeffogata.com/asp-net-core-localization-strings/. `var sharedStringLocalizer = stringLocalizerFactory.Create("Shared", null);`. No need for a dummy file if you use strings in the Create().
If this doesn't w

[2019-05-09 19:33] #9281 closed

[2019-05-09 19:37] natemcmaster commented on #10113
@dougbu It looks like Gregg is trying to use a build that came from our master branch. I think our pipeline is only publishing symbols for release/* branches. IIRC last time we talked about it, we planned to enable publishing symbols for the master branch too once https://github.com/aspnet/AspNetCore-Internal/issues/2126 was resolved.

[2019-05-09 19:50] #9519 closed

[2019-05-09 20:16] natemcmaster commented on #9157
I can't reproduce on my own. Feel free to reopen if this consistently reproduces.

[2019-05-09 20:16] #9157 closed

[2019-05-09 20:20] natemcmaster commented on #8127
Closing as I believe the original question was answered.

[2019-05-09 20:20] #8127 closed

[2019-05-09 20:23] natemcmaster commented on #8025
I'm closing as it appears this issue has gone stale. This error hasn't been reported by others. My guess is the original problem was a network timeout. The install script gives up after 10 minutes.

@wzd24 if this problem is still occurring, feel free to reopen. We might be able to increase timeouts, but that's the only thing we can do to help with networking issues that cause build failures.

[2019-05-09 20:23] #8025 closed

[2019-05-09 20:24] natemcmaster commented on #7740
I'm back from leave now and can confirm this is still an issue. Moving onto the build team list for triage.

[2019-05-09 20:28] natemcmaster commented on #8178
Still an issue @sebastienros? you might need to add new restore feeds to account for changes I made in late February.

[2019-05-09 20:31] natemcmaster commented on #8845
This was implemented by Arcade. No action required on our end to take advantage of automated SDK updates.

Arcade will only update the SDK to a higher minimum version, but it won't give us regular SDK updates. Arcade is intentionally keeping the minimum version set to an LKG version that works in source-build. We should attempt to follow this SDK update cadence as well to avoid breaking source-bui

[2019-05-09 20:31] #8845 closed

[2019-05-09 20:33] #8178 closed

[2019-05-09 20:33] natemcmaster commented on #7777
I believe this has been addressed by https://github.com/aspnet/AspNetCore/pull/7793

[2019-05-09 20:33] #7777 closed

[2019-05-09 20:37] pavelveselev commented on #9862
@mikaelm12 Xamarin client works with this. There's no any hub methods on my server. Server just sends broadcast messages (type String) to all clients every second.
I've checked again - my server sends messages "SendTest" of type System.String. Android client expects to receive message "SendTest" of type kotlin.String.
[code]
Is there a problem to cast System.String to kotlin.String?

[2019-05-09 20:44] #10066 closed

[2019-05-09 20:54] dougbu commented on #10113
@natemcmaster :ok:

@gregg-miskelly to confirm: You were unable to find symbols for _any_ assembly from this repo (for Preview 6 i.e. from 'master') and Microsoft.AspNetCore.Routing.Abstractions was just an example?

Side question; https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview5.md shows we now produce "symbol sets" for 3.0 releases. But, I could find no documen

[2019-05-09 21:00] #10091 closed

[2019-05-09 21:07] stephenschwan commented on #10116
I verified another one of our microservices which just has HTTP GET operations.  It has ran perfectly over the last 10 days, with only five 500's  related to dependencies out of 82M requests.  The microservice above only has POST operations.

[2019-05-09 21:14] rockerinthelocker commented on #10117
Maye the application pool's 'Queue Length' is to small? Default is 1,000 and if exhausted, 503ers are returned.

[2019-05-09 21:15] gregg-miskelly commented on #10113
@Jepson109 is actually who ran into this problem. I just routed the issue to the right home. @Jepson109 can you copy/paste your debug console text?

[2019-05-09 21:15] Eilon commented on #10037
It seems like the best path forward is to add a new API, such as `.AddMicrosoftAccountOidc(...)` that uses OIDC (instead of OAuth) to connect Microsoft Account for auth.

Using OIDC will help gain newer features such as what's being discussed in this issue. However, it's a behavioral breaking change, so we should add this via a new API, rather than changing the existing APIs.

[2019-05-09 21:18] altso opened #10120 "ForbidResult is not converted to ProblemDetails like NotFoundResult or any other StatusCodeResult"
`ForbidResult` is not converted to `ProblemDetails` like `NotFoundResult` or any other `StatusCodeResult`.

### To Reproduce
See sample controller:
[code]
Full repo: https://github.com/altso/ForbidProblemDetails/blob/master/Controllers/ValuesController.cs

### Expected behavior
I would expect `ForbidResult` to be 'converted' to `ProblemDetails` like many other results that produce HTTP status code

[2019-05-09 21:19] Eilon commented on #10037
The above is for part (b).

For part (a), you can handle the `OnRedirectToAuthorizationEndpoint` event and add a parameter to the URL to force prompting for accounts.

[2019-05-09 21:20] mikaelm12 commented on #10059
@BalintFarkas  Since you already have the fix  in your fork this issue seems like a great candidate for a community contribution 😄 . Would you be interested?

[2019-05-09 21:20] #10028 closed

[2019-05-09 21:31] anurse commented on #8843
The discussion on parallel writes is actually a (very related) tangent. The issue you are seeing is in `TimingPipeFlusher`, which we've been having problems with for a while. That component is only necessary **because** we allow parallel calls to `WriteAsync` though. If we don't allow that, we can remove the component entirely (which should resolve your bug :)).