[2019-01-27 01:19] jakenuts commented on #7039
This is funny.

[2019-01-27 01:20] ciel commented on #7039
Seems pretty straightforward to me.

[2019-01-27 02:13] mrwoodo commented on #7039
Have just finished a WebForms -> RazorPages migration project - To be honest could have just been plain MVC but definitely a good option for small 'page-centric' websites. In MVC projects I find I'm 'hunting' code too much, ie. jumping from View to Controller constantly, scrolling through reams of Actions whereas in RazorPages I'm just going straight to PageModels.

I hate bloated EF - Dapper is s

[2019-01-27 02:16] crislin2046 commented on #7039
It's not just you @LJ9999 , MVC and any framework does not have all the answers. It might not be the best structure suited to your project, and it might not be a fit with how you think. No need to try to fit square pegs into round holes unless you like self-punishment.

MVC is one of your options. Evaluate a few different approaches, and choose the one that's the best fit for you. Find something t

[2019-01-27 04:20] falvarez1 commented on #7039
As someone who has gone through every iteration of Asp.Net, and MVC through to what we have now with Asp.Net Core I can tell you that debugging page lifecycle bugs and trying to create anything of any relative complexity with webforms was a nightmare compared to MVC.  WebForms hide a lot of the actual work going on behind what seem like magical events.  It abstracts the entire way web requests wor

[2019-01-27 04:42] PaluMacil commented on #7039
For something that is more than a trivial join, I would just use EF's ExecuteSQL. I do think you might under estimate the complexity it might be trying to represent because it doesn't have a way to name join tables logically and it might need to be flexible with the office assignment. If you don't like EF, you aren't alone. Most people using MVC probably aren't using EF. One doesn't require the ot

[2019-01-27 04:45] SeanGahan commented on #7039
@ @LJ9999 , I was looking at your exception and it's not MVC, but LINQ.  I wold suggest staying away from Entity Framework and LINQ until you first have a good understanding of MVC first.  The MVC pattern is seen in lots of other languages, but what is different about ASP.NET is that Visual Studio is totally awesome.  The other frameworks and their IDE's are second rate on developing and debugging

[2019-01-27 05:15] Eilon commented on #6029
@mj1856 understood, but at this time there are still no plans for this due to general lack of demand, so the priority is just too low.

[2019-01-27 05:19] Eilon commented on #7026
BTW remember to set milestone on this as appropriate.

[2019-01-27 05:22] Eilon opened #7043 "Global Date Format"
_From @ZackTech on Friday, 25 January 2019 16:50:23_

I am developing an Asp.net Core version 2 Web Api and Web Front End. In one of my entry forms I am using a Boostrap date picker. When I run the application on my own PC even connected to the Azure database everything runs normally. On Azure when the model validates server side I get Invalid Date Format. I think server side it has decided to use

[2019-01-27 05:30] camainc commented on #7039
OMG I'm laughing so hard right now.

Look buddy, if it seems too hard or complex then step away from it and use something else. No one is holding a gun to your head, right?

Some of us have been around the block a few times and prefer the simplicity of asp mvc over web forms because we've had to deal with the horrendous pile of  untestable spaghetti code that comes out of a monolithic web forms mo

[2019-01-27 08:41] AshrafSada commented on #7039
I have worked on ERPs development under Asp.net web forms, and Asp.net MVC for two different systems, I can confidently say that working on web forms is a torture especially when you have a huge solution with poor architecture, and on the contrary MVC can magically turn an ugly looking architecture to a top level solution with the ability to organize layers and make use of repository pattern with

[2019-01-27 08:48] PejmanNik commented on #5148
How it fixing this issue?
I can't use Authentication with dotnet core 2.2 on any Mac or Linux system.

[2019-01-27 09:31] joeizang commented on #7039
Wow, time has changes developers is true. I praised Microsoft at how easy and straight forward EF and MVC were when I first encountered it in 2013. Like it's been said already, understanding these frameworks doesn't happen auto-magically! Follow the tutorials, watch a few of the hundreds of videos out there and try again. Sorry man but you develop an understanding of these things as you spend time

[2019-01-27 09:35] hanoitown commented on #7039
I agree with author. For those of people using mvc for the first time. The approach is not as friendly as the others like php, rail .. too much concept to understand before using it. However, once you got the concept, mvc seem to be very effective.

[2019-01-27 10:46] CreativeHouseDotOrg commented on #6976
/CC
[https://stackoverflow.com/questions/54339837/setting-port-of-netcore-webapp-doesnt-seem-to-work-right?noredirect=1#comment95517569_54339837](https://stackoverflow.com/questions/54339837/setting-port-of-netcore-webapp-doesnt-seem-to-work-right?noredirect=1#comment95517569_54339837)

[2019-01-27 11:03] kwakuduahc1 commented on #7039
Why would anyone hate entity framework. I've had to write not more than 5 SQL queries in the last three years.

[2019-01-27 12:02] tezine opened #7045 "[Blazor] Parameter Value from Sibling Component Issue"
Hi,
I'm having some issues when passing a value from a sibling component as parameter in Blazor.
I have a component called Cart.cshtml below:
[code]
I use the Cart component above twice in the code MyStore.cshtml below:
[code]
When I run it, it displays `Cart: MyItem` in <i>firstCart</i> and `Cart: ` in <i>secondCart</i>, so the <i>secondCart</i> does not receive the <i>firstCart</i> `MyItem` valu

[2019-01-27 13:32] alexeyzimarev commented on #6762
We need #7046 to get through to have a proper Vue CLI support for development. The template itself will become rather trivial since the differences with the React template would be marginal.

[2019-01-27 14:59] roboriaan commented on #5479
@danroth27 @xamlsharp

I've made this template available as a NuGet package :

[code]

[2019-01-27 15:49] mcqueene commented on #7039
Even when things are not rocket science they can still be complicated and require patience to study. Reading more on the topic instead of complaining it is too hard might be a good place to start.

[2019-01-27 16:01] ashishakm commented on #5324
![error1](https://user-images.githubusercontent.com/8637963/51803393-b506ff80-227a-11e9-9d90-5469fc42a77d.JPG)

Getting error as given in screenshot

[2019-01-27 16:06] Tratcher commented on #5148
Update your IdentityModel dependencies to 5.4. https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1067#issuecomment-456445438

[2019-01-27 17:32] enetstudio commented on #7045
You should let your component know that state has changed, and that it should re-render. Notifying the Component is done by manually calling the StateHasChanged() method.

The StateHasChanged() method is automatically called by Blazor after DOM Events are triggered... This explains why when clicking on the Increment amount button the correct value is displayed in the secondCart. Simply put, the pa

[2019-01-27 18:19] masilver99 commented on #7039
It appears your issues are not with MVC, but Entity Framework. For some of us comfortable writing SQL, Entity Framework adds an undesirable layer of abstraction. Personally, I use Dapper, which just makes using Readers much easier. You still get to write your own SQL. MVC is a pretty simple pattern. It gets a little trickier understanding how to pass data in and out and how to use some of the help

[2019-01-27 18:34] shanselman commented on #7039
Friends, comment with help or positivity, but not with ridicule. The OP does seem to be having concerns with EF, and David’s comment is excellent.  https://github.com/aspnet/AspNetCore/issues/7039#issuecomment-457869924

[2019-01-27 19:52] VishalMadhvani commented on #7039
Hey welcome @LJ9999 I wish more people would ask questions like this.
I'll start of by saying this is merely my opinion so please feel free to agree or disagree with any or all of it.

I totally agree that web/software development is hard. I personally have spent years studying and experimenting to gain the experience that I have. Any time I want to use a new framework or library it is still hard.

[2019-01-27 20:43] roji commented on #7039
@LJ9999 one (hopefully constructive) comment...

From the SQL you posted it's possible that you're using Entity Framework 6. Entity Framework Core (a newer version written from the ground up) has an explicit goal of generating sane, readable SQL that tries to resemble what you'd write yourself - there's a very good chance that if you try that you'll see something more reasonable - give it a try an

[2019-01-27 21:16] Jon-Murray opened #7047 "[SignalR] Allow preserveAsyncOrder to be easily configurable"
Hi,

   I've just been suffering through random, hard to reproduce, deadlocks for a few days. I've finally got to the bottom of the issue which was that mixing async/wait()/Result style code can cause deadlocks with StackExchange.Redis. I was able to fix this by setting the preserveAsyncOrder to false within EnsureRedisServerConnection (inside of RedisHubLifetimeManager.cs). See https://stackoverf

[2019-01-27 21:45] MartinF opened #7048 "[Blazor] Problems with Component rendering in a loop"
### Is your feature request related to a problem? Please describe.
Related to Blazor 0.7.0 and Blazor Components.

The way rendering of Components in a loop is handled causes me some frustration and maybe it could be improved.

I am sure you have probably thought a lot about how to handle this and maybe I am going about it in the wrong way.

**Component rendering and state**
It is not possible to

[2019-01-27 21:50] neville-nazerane opened #7049 "AnchorTagHelper: automatically add active class"
The anchor tag helper has properties like `action` and `page` and has access to the current action/page. This tag helper adding the "active" class into the `<a>` if the specified action/page matched the current action/page would be quite handy compared to its currently ugly alternates. While this can't be implimented by default in all anchor elements, there can always be a boolean property like `A

[2019-01-27 22:35] kenlassesen commented on #7039
My bottom line criteria is simple... Number of lines of code to implement. More code - more bug risk, greater learning curve, more wasted hours (unless you are a contractor billing by the hour).
I have seen a 8x greater code volume from doing mvc with Javascript framework.. Over old school cshtml pages. And 5x more time.

Beware of those using the phrase "right way"

[2019-01-27 22:55] revskill10 commented on #7039
MVC as a software architecture is more helpful to you in this case.
M is the model, which could be your database, it can respond to requests for information, respond to instructions to change the state of its information, and even to notify observers in event-driven systems when information changes.
V is the view, which effectively provides the user interface element of the application. It'll rend

[2019-01-28 00:43] dropsonic commented on #3215
Have the same issue with Windows Server 2016 on AWS and a console app on .NET Core 2.0 / 2.2.
Tried to publish it for win-x64, but that didn't help.

[2019-01-28 01:06] JamesNK opened #7050 "Make EndpointMiddleware and EndpointRoutingMiddleware public?"
Currently `EndpointMiddleware` and `EndpointRoutingMiddleware` are internal and are only accessible by extension methods off `IApplicationBuilder`.

Other middleware in ASP.NET Core are public. Should these new routing middleware be changed to public?

// @rynowak @Tratcher @davidfowl

[2019-01-28 01:36] Zenexer opened #7051 "Problem with querystring parameters overlapping with PageModel member names"
### Describe the bug

When a querystring parameter has the same name as a PageModel member, method paremeters (e.g., to OnGetAsync) and properties bound with BindPropertyAttribute will keep their default values.  Additionally, `asp-route-*` attributes overlapping with PageModel member names won't be set in the resulting `href` for the `<a>` tag.

### To Reproduce

See: https://github.com/Zenexer/R

[2019-01-28 05:14] wegylexy commented on #6980
I think the C++ client is getting a wrong `connection_id`. It doesn't match with the one server side. The server one seems correct.

[2019-01-28 05:21] wegylexy commented on #5301
any idea why `get_connection_id()` on client doesn't match with `Context.ConnectionId` on server?

[2019-01-28 05:31] Tratcher commented on #7050
As a rule, yes.
- Some people compose their own extension methods with different combinations of components.
- It makes testing easier.

[2019-01-28 06:28] dougbu opened #7052 "Model binding infinite recursion or infinite loop with complex collections"
### Describe the bug
Collections of complex types may bind unconditionally until `int.MaxValue` elements are reached. This relates to #4939 but involves built-in model binders.

Similarly, nested types may recursively bind until the stack is exhausted. This may relate to #6616.

### To Reproduce
Steps to reproduce the behavior:
1. Using the current version of ASP.NET Core i.e. `master`
2. Create a

[2019-01-28 06:35] CBaud commented on #6968
@davidfowl
Could the server certificate be retrieved asynchronously from secure storage during startup? Yes. However, rotating an expired certificate would then require a service restart.

Could the certificate be updated in a background task or hosted service that replaces the old value with a new value when available? Yes. Since the server certificate selector runs synchronously, that is most li

[2019-01-28 06:35] dougbu commented on #7052
Hit this while working on #6793. That fix does not cover all the cases (obviously).

We need reasonable limits e.g. `MvcOptions.MaxModelBindingCollectionSize` and `MvcOptions.MaxModelBindingRecursionDepth` to put the breaks on these cases and inform the developer. Suggest the new options should default to match `FormReader.DefaultValueCountLimit` and `MvcOptions.MaxValidationDepth`, respectively.

[2019-01-28 06:37] dougbu commented on #7052
Self-assigning since I started working on this after hitting the problem while doing #6793.

[2019-01-28 06:44] JamesNK commented on #4715
Impact of header compression on gRPC responses:

gRPC result from Kestrel, length 466

[code]

gRPC result from C implementation, length 244

[code]

Headers are 8 bytes for C implementation and 123 bytes from Kestrel.

// @davidfowl @Tratcher @JunTaoLuo @shirhatti

[2019-01-28 06:54] Edward-Zhou opened #7053 "Cookies value not in `HttpContext.Request.Cookies`, but real exists in `HttpContext.Request.Headers`"
### Describe the bug
For Asp.Net Core 2.2, there are cookies in `HttpContext.Request.Headers["Cookie"]`, but I could not access it by `HttpContext.Request.Cookies`.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 2.2
2. Set Cookie in the View
[code]
3. Try to access the cookie in Controller, but its value is null.
[code]

4. If I try to access it by `HttpCo

[2019-01-28 07:22] alexeyzimarev commented on #5247
SPA extensions use npm hard-coded. Although it is very much possible to fix the build steps in the `csproj` file, using the Angular CLI or React dev server with yarn is currently impossible.

I am not sure what's the strategy for the npm script runner class, since the comment says that it will be moved to the NodeServices package after 2.1 but it is still in SpaServices.Extensions at 3.0 preview.

[2019-01-28 07:50] PejmanNik commented on #5148
It is work now 👍
Thank you so much @Tratcher

[2019-01-28 08:00] JamesNK opened #7054 "HTTP/2 response spread across messages"
I'm comparing how Kestrel returns gRPC responses vs the C implementation in Wireshark.

One thing I have noticed is the C implementation always returns the response in a single message (packet? I don't know what the HTTP/2 terminology is) vs Kestrel which sometimes splits the response up into two.

C response:

[code]

Kestrel single response (note that the response is much larger because of [no h

[2019-01-28 08:03] LindaLawton opened #7055 "Testing for missing SecurityStamp claim."
I have been trying to debug an issue where the SecurtyStamp is missing from CookieValidatePrincipalContext.    [SecurityStampValidator#99](https://github.com/aspnet/AspNetCore/blob/d7a7c65b2b40a97bb0ba78c07380c46bc5920400/src/Identity/Core/src/SecurityStampValidator.cs#L99).

![image](https://user-images.githubusercontent.com/6592543/51822057-689fdc00-22db-11e9-8e7f-0fcf798889b8.png)

I have yet t

[2019-01-28 08:15] davidfowl commented on #7054
We don't have any buffering so this is entirely possible today, it's the same with HTTP/1.1 messages. We don't have any logic that explicitly buffers an entire response (not do we necessarily want to). It might be easier to control this from application code by using the pipe writer in the response.

[2019-01-28 08:52] JamesNK commented on #7054
It `Response.Body.WriteAsync(byte[])` prompting Kestrel to sometimes flush the response?

[2019-01-28 08:53] alexandrudanpop commented on #5247
Adding those 2 targets in the .csproj file fixed it to run ```yarn install``` and ```yarn build```:

[code]

[2019-01-28 10:01] omuleanu opened #7056 "double AntiforgeryToken cookie on localhost when switching between iis and iisexpress"
using an ASP.NET Core application with:
`o.Filters.Add(new AutoValidateAntiforgeryTokenAttribute());`
 if you run it locally ( Ctrl+F5 in VS2017 ) using IIS and switch the `launchSettings` between `IISExpress` and `IIS` and runt it (launch browser) each time, when you switch back to `IIS` you will get 2 antiforgery cookies with the same name and also the post requests will fail with 400 bad reques

[2019-01-28 10:11] mharthoorn commented on #7039
@shanselman

I completely agree Scott.

It is also understandable that some more experienced users feel strongly about a title that seems to swipe a way a great framework and years of hard work by the ASP.NET core team and the community as 'not usable' in a single statement even though that was probably not the intention. I think that probably caused the ridicule.

It might help to change the titl

[2019-01-28 10:48] th0mk commented on #1501
I know this is an old issue, but in case anyone is looking for a way to easily migrate:
https://docs.microsoft.com/en-us/aspnet/core/migration/proper-to-2x/membership-to-core-identity

[2019-01-28 10:52] alexalok opened #7057 "[SignalR] Transport is not switched after handshake failure"
### Describe the bug
I am using a SignalR Core .NET client in a .NET Framework 4.6.2 WPF application to connect to a hub that is behind a nginx proxy. This proxy does not allow server-sent events to work. When trying to connect on Windows 7 or below Websocket is unavailable so server-sent events are used. However, after failing with handshake error connection simply stops without trying the last o

[2019-01-28 11:11] javiercn commented on #6928
@danroth27 Should we do a pass here to align this template with the other templates in terms of functionality? (features/flags etc.)

[2019-01-28 11:14] javiercn commented on #6471
@JamesNK This seems like it's the case. So closing this in favor of that one.

[2019-01-28 11:14] #6471 closed

[2019-01-28 11:43] javiercn commented on #5837
We can close this now as the default experience for templates already includes .AddIdentityUI with the framework version.

[2019-01-28 11:43] #5837 closed

[2019-01-28 11:44] javiercn commented on #3957
Closing this issue as the question has been answered and there's no more action to be taken here.

[2019-01-28 11:50] tezine commented on #7045
Hi @enetstudio, thank you for the response, but i couldn't find a way to make it work.
I changed the Cart.cshtml code to:
[code]
and I use it in MyStore.cshtml like this:
[code]
even using StateHasChanged, I get the following Console ouput:
[code]
Either way, as Angular can accomplish this , I think Blazor should do it automatically, without using some extra code :-(.

[2019-01-28 12:02] siberianguy commented on #6434
@nielheo could you provide the cleaner logs with disabled Influx? @BrennanConroy here's the reconnection code we're using:

[code]

[2019-01-28 12:03] dukhanov commented on #6979
Added a PR to support webworkers https://github.com/aspnet/AspNetCore/pull/7058

[2019-01-28 12:13] LindaLawton commented on #7056
They have different paths which might be what is causing the post to fail.

[2019-01-28 12:34] vikasNew opened #7059 "connect two .net applications using signalr"
Hi,

i have a scenario where i have two .net core applications & i want to communicate between them.

So how to use Signalr to do communication between them.

which one will be client & where to set hubs. i have installed .net client in first application to work as a signalr client & the other end i have put hubs. but i need bi-directional communication so can you please tell me how to call hub me

[2019-01-28 12:59] vnikopol commented on #6986
@Tratcher
I think it is not. Because if speed is least 240 bytes per second, i usualy will get error:  "Reading the request body timed out due to data arriving too slowly. See MinRequestBodyDataRate." But I don't get it.

[2019-01-28 13:40] shadinamrouti opened #7060 "Upgrade view-components samples to 2.2 instead of 2.0"
1. I suggest to upgrade the [samples of view components](https://github.com/aspnet/Docs/tree/master/aspnetcore/mvc/views/view-components/sample) to 2.2 instead of 2.0.

2. I suggest to use the following 2.1 clean way to seed data instead of using a separate SeedData.cs file which also requires additional advanced code to be added to Program.cs:

[code]

**Note**
Using the above method of seeding d

[2019-01-28 13:44] shadinamrouti commented on #7060
I will re-issue it under docs

[2019-01-28 13:44] #7060 closed

[2019-01-28 13:46] ststeiger commented on #1528
@holajan: If I add System.String to the namespaces, i get:
`Ambigous call to Replace - cannot resolve call `
and if I add the Microsoft.VisualBasic.Interaction class, i get:
`ambigous call to Microsoft.VisualBasic.Interaction`
when I run it in either NetCore or .NET Framework 4.
Maybe this works only in .NET Core 2.2.

If it's caching incorrectly, then it better doesn't cache.
Agree with that chan

[2019-01-28 14:05] JMaroz commented on #6898
@mikaelm12 is there a release date w/ the fix for the java client?

[2019-01-28 14:07] holajan commented on #1528
@ststeiger I edited my comment, using for **System.String** was wrong, I now implemented **Microsoft.VisualBasic.StringsEx** instead for Format and other functions. Sorry for that.

Yes **Microsoft.VisualBasic.Interaction** works only in .NET Core 2.2., because class Microsoft.VisualBasic.Interaction is in Microsoft.VisualBasic.dll for **.NETCoreApp v2.2 internal**, in Microsoft.VisualBasic.dll fo

[2019-01-28 14:26] thomaslevesque opened #7061 "Access to options in HttpClient configuration?"
I'd like to configure a typed `HttpClient` based on options. However I don't have access to the options (or to the service provider) in the configuration delegate.

[code]

How can I access the options from the configuration delegate? If it's not currently possible, it would be a useful addition.

[2019-01-28 14:41] davidfowl commented on #7054
Yes, it does. There's no buffering by default.

[2019-01-28 14:55] rajesh-rajendran-ascendlearning-com commented on #5144
Will this issue be fixed sometime by February? Is my understanding right ?
Right now we have upgraded to Aps.NetCore 2.2 and we are experiencing this issue, so do you think we need to downgrade to 2.1.7 ?

[2019-01-28 15:12] dallancarr commented on #7061
There is an overload which passes `IServiceProvider`

[2019-01-28 15:15] ststeiger commented on #1528
@holajan: So long, let's wait 'till 3.0
I made InternalLocalReport public.
Strange name now regarding its public-ness ;)

[2019-01-28 15:31] ststeiger commented on #1528
@holajan: Added Microsoft.VisualBasic.StringsEx, now it works
Had to add IReadOnlyDictionary for .NET 4, but that just as minor remark.

[2019-01-28 15:39] TheXenocide opened #7063 "[Blazor] Enable SimpleJson Support for IReadOnly*<T> Collection Interfaces"
### Is your feature request related to a problem? Please describe.
I'm torn between considering this a bug or a feature, but I was unable to use some existing contracts across JSON deserialized requests due to the use of an `IReadOnlyCollection<T>` return type. According to the [SimpleJson repository](https://github.com/facebook-csharp-sdk/simple-json), support for deserializing these types is ena

[2019-01-28 15:47] Tratcher commented on #4715
Also static compression https://github.com/aspnet/AspNetCore/issues/4716

I expect we could get rid of these strings statically:
- date
- content-type
- server

I'm a bit surprised they dynamically intern the date value.

[2019-01-28 15:53] dallancarr commented on #7061
https://github.com/aspnet/HttpClientFactory/blob/5bb701daaa087dd8dc0f0a882117e316675dda6d/src/Microsoft.Extensions.Http/DependencyInjection/HttpClientBuilderExtensions.cs#L46

[2019-01-28 15:55] joshmouch opened #7064 "Can Azure App service Metrics be trusted when using Kestrel + AspNet Core Module?"
I've been trying to figure out Azure metrics since day one, as either they are badly labelled, incorrect, or something is going on with the IIS+Module+Kestrel pipeline that is making them inaccurate.

The problem I have is that I want to autoscale my app service whenever either the "AppPlan\HTTP Queue Length" gets too large or else the "App\Requests in Queue" gets too large, meaning that the serve

[2019-01-28 15:57] Toby9876 commented on #6111
The problem also exists for the standard standard .NET Core 2.2 project template using Self-Contained Deploy. The fix for me was the replacement of the "<AspNetCoreHostingModel>InProcess</AspNetCoreHostingModel>" as suggested above by @kucxgithub. I did not have to do anything else to make it work . It think it would be good to have the default project template work so you'd have something to fall

[2019-01-28 16:36] roboriaan commented on #5479
@danroth27 I've updated the readme. To be honest, I'm a bit unfamiliar with pull requests. I did create one. Do I just send the link?

[2019-01-28 17:08] wstaelens commented on #7014
@masterjs @natemcmaster @Eilon ok i've removed the version from the csproj file. added a json file called "global.json" with this info:
[code]

and my SDK dependencies still show Microsoft.AspNetCore.App (2.2.0) instead of 2.2.1.

[code]
(i tried version numbes 2.2.100, 2.2.1, etc...)
😞

[2019-01-28 17:14] vikasNew commented on #7059
any updates on this

[2019-01-28 17:24] #6075 closed

[2019-01-28 17:24] #6752 closed

[2019-01-28 17:32] natemcmaster opened #7065 "Copyright element in Microsoft.AspNetCore.Blazor.Cli is malformed"
Looks like an encoding issue in the nuspec. Due to account restrictions, this is blocking us from uploading this package to nuget.org. We need to fix it so this starts with the &copy; character.

![image](https://user-images.githubusercontent.com/2696087/51854202-18c31400-22df-11e9-8095-c8db966b3a43.png)

[2019-01-28 17:33] Tratcher commented on #6974
Summary:
- Packet 24536 from client
  - Headers POST Stream 10923
  - Window_Update Stream 10923 (5 bytes ???)
  - Data Stream 10923
  - Window_Update Stream 0 (32 bytes, matches the (prior?) response size)
- Packet 24538 from server Window_Update
  - Stream 0
  - Size: 65537
- Packet 24540 From server
  - Headers 200 response Stream 10923
  - Data (32 bytes)
  - Headers (Trailers)
- Packet 24542

[2019-01-28 17:38] javiercn commented on #4964
Now that `SetParametersAsync` we should not do any specific error handling within there for `OnSetParametersAsync` and `OnInitAsync`. We should let those errors flow all the way up to the renderer and let the renderer deal with them as appropriate.

Regarding errors happening from IHandleEvent we could change the interface to:
[code]

This way errors can flow all the way to the renderer or other c

[2019-01-28 17:47] pranavkm commented on #4564
@dougbu is this the same class of issue as https://github.com/aspnet/AspNetCore/issues/7052?

[2019-01-28 18:03] bradygaster commented on #6783
As @davidfowl commented we are planning an iOS client to support native development. We are debating between Swift and Obj-C at the moment, leaning in the Obj-C direction. Open to thoughts on this.

[2019-01-28 18:04] kshyju commented on #7033
Thanks Eilon

[2019-01-28 18:13] JunTaoLuo commented on #5144
Correct, the fix will be released in February. Downgrading to 2.1 is also possible to work around the issue.

[2019-01-28 18:14] mikaelm12 commented on #6898
The fix for the null ref will be coming in Preview3, but that is not why your HubConnection fails to start. The exception you posted is the result of you HubConnection failing to start, not the cause of it I believe. Do you have any more logs or a repro app we can look at?

[2019-01-28 18:18] Eilon commented on #6669
@muratg - do we have a mail thread on this?

[2019-01-28 18:20] sebastienros commented on #6984
No, sorry for the delay, I just need more time. Thanks.

[2019-01-28 18:20] Eilon commented on #3651
Not quite a dup of that one; more a dup of https://github.com/aspnet/AspNetCore-Internal/issues/1254. So either way, closing this.

[2019-01-28 18:20] #3651 closed

[2019-01-28 18:22] k-vekos opened #7067 "Microsoft.AspNetCore.SpaServices broken in NodeJS version > v8.11.3"
### Describe the bug
Microsoft.AspNetCore.SpaServices throw error "Failed to proxy the request" when running on NodeJS at a version greater than v8.11.3.

### To Reproduce
Steps to reproduce the behavior:
1. Have NodeJS v8.15.0 or greater installed
1. Open VS2017
2. Go to File > New > Project...
3. Select 'ASP.NET Core Web Application' click OK
4. On subsequent dialog window select '.NET Framework

[2019-01-28 18:40] BrennanConroy commented on #6434
Can you explain the wall of "starting connection" messages you guys have in your logs?
Each one of those means you're starting a new connection and you have 100s of them over the course of a few seconds. I would guess that if you fix that issue you wont see any more handshake response errors.
[code]

[2019-01-28 18:48] ajaybhargavb commented on #5577
Fair enough 😄 . I'll do some more investigation and add more details here.

[2019-01-28 19:01] Eilon commented on #6669
@mkArtakMSFT / @javiercn - maybe one of you can start a thread so we can discuss?

[2019-01-28 19:17] BrightSoul commented on #4579
Hey @JamesNK, thanks for your reply.

Yeah, I thought it would be more complex at first and perhaps my expectations for an "outbound parameter transformer" were wrong.
For instance, I expected it to have a _scoped_ life cycle and that I could use it to perform different transformations depending on the current HTTP context, e.g. for URL localization. For an english-speaking user, a link to the pro

[2019-01-28 19:19] blowdart commented on #7056
It is, as @LindaLawton said. If your application is under a path anti-forgery, and I believe identity, will limit the cookie to the path your app resides under.

You can configure the path, but this isn't really a scenario you'd see outside of development.

[2019-01-28 19:21] muratg commented on #7057
Is nginx the only in between the client and the server, or is there a corporate proxy in between? Is your nginx setup on Kubernetes?

Did you try just setting long polling directly from client and verify it works?

[2019-01-28 19:22] JamesNK commented on #4715
C implementation doesn't include the date header. I'm guessing it is a micro-optimization.

[2019-01-28 19:23] danroth27 commented on #5479
@roboriaan I meant send a PR to the https://github.com/aspnet/blazor.docs repo to update the community page with a link to your project. Once you've finished updating your readme I'm happy to help you out with that.

[2019-01-28 19:32] Tratcher commented on #6974
Alternatively, we could attempt to reproduce the window math to see if its overflowing or similar. E.g. initial window size - requests * bytes per post + window updates * update size.

[2019-01-28 19:40] Eilon commented on #3557
Closing because no further action is planned on this issue.

[2019-01-28 19:40] #3557 closed

[2019-01-28 19:41] #3566 closed

[2019-01-28 19:41] #3631 closed

[2019-01-28 19:44] BrennanConroy opened #7069 "Client to Server streaming should ignore messages after closing stream"
Currently if a client to server stream is closed and the client sends another message/completion for that stream the server will close the connection and send a `CloseMessage` to the client.

We should instead ignore (and log) any stream activity after it has been closed, similar to what we do for `CancelInvocationMessage` in server to client streaming.

[2019-01-28 19:45] JamesNK commented on #6974
The debugging from the C library doesn't look very useful:

[code]

[2019-01-28 19:46] BrennanConroy opened #7070 "Send completion from server in Client to Server streaming"
We should send a completion message to the client when the server completes the stream early so the client knows to stop sending stream items.

[2019-01-28 19:51] halter73 commented on #6986
This appears to be the key part of the log. If the application doesn't consume the entire request body itself, Kestrel will attempt to drain the request body itself after the app completes in an attempt to reuse the connection.

However, if this attempt to drain the request body last over 5 seconds, Kestrel will just give up and kill the connection. In this case, the connection can be timed out ev

[2019-01-28 19:57] JamesNK commented on #6974
Yeah it seems too much of a coincidence that a large WINDOW_UPDATE is sent just before it fails.

I've attached Wireshark logs for the C core server for a comparison. The C core server never needs to send a lone WINDOW_UPDATE. I can see the client sending data with a length of 12, the server responding with a WINDOW_UPDATE of 12, and the server sending a length of 32 and the client responding with

[2019-01-28 19:57] halter73 commented on #6797
Why not 30 seconds?

[2019-01-28 19:58] bradygaster commented on #7059
If you have two client applications, both written in .NET, you would **still** need to have a server-side application or a long-running background service that hosts your Hub. You can't host your Hub in a client app, it must be in a server-side app. Or, you could use the Azure SignalR Service if you're an Azure user. Either way, you need a third piece, the Hub, running on a web server or hosted in

[2019-01-28 20:02] #3950 closed

[2019-01-28 20:02] #7025 closed

[2019-01-28 20:05] Tratcher commented on #6974
The GRPC server sends connection level window updates after every request. In Kestrel we considered that too chatty so we wait until the update size would reach a certain threshold before sending an update. We could crosscheck the math running the equation above, but sofar this looks like a client bug.

[2019-01-28 20:09] #6710 closed

[2019-01-28 20:14] HaoK commented on #6740
This is being addressed by https://github.com/dotnet/core-eng/issues/5032

[2019-01-28 20:14] #6740 closed

[2019-01-28 20:43] HaoK commented on #5744
We decided against doing any renames already

[2019-01-28 20:43] #5744 closed

[2019-01-28 20:48] dougbu commented on #6616
The #6793 fix should also resolve this issue. I'll add a few more tests to that&hellip;

The broader issue is the unnecessarily large number of properties in the `ModelItem` type. EntityFrameworkCore entities should never be directly exposed during model binding and this application should instead use **view models**. (See https://docs.microsoft.com/en-us/aspnet/core/mvc/overview?view=aspnetcore-2

[2019-01-28 20:49] SteveSandersonMS commented on #4964
@javiercn

That sounds completely reasonable.

It just so happens that @rynowak was contemplating this last week and started circling around a refinement of the `IHandleEvent` design. I'm not certain his design reached a conclusion, but when he gets back to looking at it, hopefully it can be made to line up with the requirements for error reporting.

[2019-01-28 21:34] omuleanu commented on #7056
ok, so I configured the path, and the problem is solved, the cookie isn't doubling anymore
[code]

[2019-01-28 21:43] blowdart commented on #7056
Cool :) I'll close the issue.

[2019-01-28 21:43] #7056 closed

[2019-01-28 22:08] BillHiebert commented on #4364
@vijayrkn - it should not be writing an empty environment node. That sounds like a bug.

[2019-01-28 22:46] vdecristofaro opened #7072 "Map dynamic paths (e.g. with tokens and or constraints)"
### Is your feature request related to a problem? Please describe.
I am unable to create dynamic pipeline branches by using `IApplicationBuilder.Map`.
Example. I'm am trying to organize my API project by using different nested applications as described in this Damian Hickey [post](http://dhickey.ie/2018/06/09/aspnet-core-nested-apps/) but I am unable to map a path that contains, for example, versi

[2019-01-28 23:01] natemcmaster opened #7073 "Symbols missing and sourcelink broken for some shared-framework only assemblies"
Opening on behalf of our testing team.

It appears that symbols generated for Microsoft.AspNetCore.App do not contain the correct sourcelink information. Here are [instructions to reproduce the problem](https://microsoft.sharepoint.com/teams/managedlanguages/_layouts/15/WopiFrame.aspx?sourcedoc={79b652be-6aa1-4feb-8d23-fa9127483ce9}&action=view&wd=target%28NetCore-E2EValidationReports%2FDev15.3.on

[2019-01-28 23:02] Eilon commented on #3654
Here's everything marked obsolete in 'master' in this repo:

* https://github.com/aspnet/AspNetCore/blob/master/src/Antiforgery/src/AntiforgeryOptions.cs#L99 :        [Obsolete("This property is obsolete and will be removed in a future version. The recommended alternative is " + nameof(Cookie) + "." + nameof(CookieBuilder.Name) + ".")]
* https://github.com/aspnet/AspNetCore/blob/master/src/Antifor

[2019-01-28 23:19] jkotalik opened #7075 "[Test Failure] AppOfflineAddedAndRemovedStress(hostingModel: InProcess)"
https://dev.azure.com/dnceng/public/_build/results?buildId=81604

[code]

[2019-01-28 23:20] #6605 closed

[2019-01-28 23:25] Tratcher opened #7077 "IApplicationLifetime no longer injected into generic Startup"
There's a short list of services that can be injected by the generic web host into Startup's constructor.
https://github.com/aspnet/AspNetCore/blob/9f71e602837b164e6f525ae33821d1d95ea29f6b/src/Hosting/Hosting/src/GenericHost/GenericWebHostBuilder.cs#L361-L375

IApplicationLifetime is a common host service that should also be available. Maybe it should also be available on Web/HostBuilderContext.

[2019-01-28 23:32] BrennanConroy commented on #6704
@FTWinston we're fixing this in OutOfProcess IIS in 3.0, if you want to workaround the issue you can host InProcess IIS which will work.

[2019-01-28 23:54] BrennanConroy commented on #6701
Could you capture logs around the exception, at Debug level preferably.

[2019-01-29 00:02] joeloff commented on #6664
@jkotalik Depends. Will ANCM always be removed? If the custom action writing/removing the config section is conditioned to the installstate of the module DLL itself, then when an MSI is removed, but the underlying component is ref counted, the config entry should remain. If ANCM was completely removed as part of removing the hosting bundle then this might be the expected behavior

[2019-01-29 00:15] ManaX opened #7079 "Possible issue with OAuth with external Identity provider + CORS"
I am developing a .net core 2.2 webAPI project for RESTful services. I have configured it to challenge OAuth authentication with an external Identity server (to get userinfo from Windows directory) and then use Cookie authentication to manage Identity/access.

Everything works well for normal http requests. But when I make a XHR request from an Angular app, The request fails at **/Authorize** step

[2019-01-29 00:36] pranavkm commented on #6106
@Jimmys20, as @doominator42 noted you have to register the `JQueryQueryStringValueProviderFactory` as a value provider in your application startup:

[code]

Closing as the question has been answered.

[2019-01-29 00:36] #6106 closed

[2019-01-29 00:51] jkotalik commented on #6555
[code]
https://dev.azure.com/dnceng/public/_build/results?buildId=81700

[2019-01-29 01:07] allevyMS opened #7081 "Kestrel SSL/UseHttps Performance Issue"
### Describe the bug
I have been investigating throughput issues with our ASPNet.Core 2.2 webapp and found that using SSL with Kestrel is a major bottleneck for performance.

### To Reproduce
I have created the following minimal app:

Program.cs
[code]

Startup.cs
[code]

I ran it using dotnet version:

Host (useful for support):
  Version: 2.2.1
  Commit:  878dd11e62

ASPNet.Core version: 2.2.1

[2019-01-29 01:13] yanrez commented on #7081
@karelz - let us know if this is wrong place to post this issue, unclear if cause is in aspnetcore or in underlying stack.

To clarify impact: we have a multitenant service deployed into k8s, and we need to handle a spike in http requests (thousands of simultaneous calls). These requests are flowing through nginx on ingress, nginx does ssl termination, but we also have to encrypt traffic between i

[2019-01-29 02:02] kishanAnem commented on #4831
Hi @dougbu

https://github.com/aspnet/AspNetCore/blob/321327f84b2b22dcff2e9beb06a9a64236c5cced/src/Mvc/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ValidationHelpers.cs#L101

I've changed above line to like this. I think this may be fix. Please let me know isn't it fix?

[code]

[2019-01-29 02:14] robertmclaws commented on #7065
Out of curiosity, why aren't you using nuspec files instead of packaging from the .csproj file and leveraging the Copyright message from the root's Directory.Build.props?

[2019-01-29 03:03] halter73 commented on #7081
We do have metrics:

https://msit.powerbi.com/view?r=eyJrIjoiYTZjMTk3YjEtMzQ3Yi00NTI5LTg5ZDItNmUyMGRlOTkwMGRlIiwidCI6IjcyZjk4OGJmLTg2ZjEtNDFhZi05MWFiLTJkN2NkMDExZGI0NyIsImMiOjV9&pageName=ReportSection5ea9e281d572d9092cc7

https://msit.powerbi.com/view?r=eyJrIjoiYTZjMTk3YjEtMzQ3Yi00NTI5LTg5ZDItNmUyMGRlOTkwMGRlIiwidCI6IjcyZjk4OGJmLTg2ZjEtNDFhZi05MWFiLTJkN2NkMDExZGI0NyIsImMiOjV9&pageName=ReportSectio

[2019-01-29 03:06] yanrez commented on #7081
Does TLS/SslStream measurement assumes already established ssl connection or each request includes handshake?

[2019-01-29 03:06] yanrez commented on #7081
Does TLS/SslStream measurement assumes already established ssl connection or each request includes handshake?

[2019-01-29 03:11] halter73 commented on #7081
We use [wrk](https://github.com/wg/wrk) as our benchmark client which establishes a fixed number of connections (we usually use 256 connections AFAIK) up front and then reuses those connections for all future request. `ab -k` should do the same thing since "-k" is used to enable HTTP keep-alive with ab.

[2019-01-29 03:20] halter73 commented on #7081
One big difference between the way we're benchmarking is caused by your use of ab's "-n" flag to set the number of requests for the benchmarking session.

We make millions of requests when collecting even a single benchmark result. This means that the cost of the 256 TLS handshakes are heavily amortized over millions of requests in our TLS benchmarks.

Base on my understanding of ab, "ab -k -n 300

[2019-01-29 03:35] robertmclaws commented on #7065
Gotcha! I tried to push a fix for this, I figured it would be a quick thing I could help out with, but I copied the symbol from a couple other places in the repo and GitHub Desktop is not recognizing that anything changed. Can you provide more details abouo the issue?

[2019-01-29 03:36] JialinXin opened #7083 "MessagePackHubProtocols error when work on RazorComponent(AddServerSideBlazor) in 3.0 preview"
### Describe the bug
Exception details:
![image](https://user-images.githubusercontent.com/15338714/51882069-8e4ee300-23b8-11e9-99d1-8270bd371479.png)

### To Reproduce
Steps to reproduce the behavior:
Using this version of ASP.NET Core 3.0 preview
1. Create Blazor server side project under core 2.1 with Blazor template
2. Upgrade the project to core 3.0 by update the target framework and update p

[2019-01-29 03:36] siberianguy commented on #6434
I suppose there's something wrong in our reconnecting logic that I posted above. After looking through the code the only problem I've noticed is that we set `await that.setState({ isConnected: true }) ` right in startConnection instead of doing it in onConnected event but it's our internal variable, so it should not be a problem. Otherwise we're trying to reconnect every 2 seconds, so I don't see

[2019-01-29 03:42] karelz commented on #7081
Is there anything we can actually affect in the handshake?
Unless we invoke it multiple times, or do something truly horrible, it is purely OS behavior and performace - the expected SSL overhead.
We should compare it to other implementations (non .NET), that would tell us if we're really behind.

[2019-01-29 04:04] BrennanConroy commented on #6434
Is it possible the `LiquidityContainer` is being created many times?

Also, your reconnect logic tries to start a connection every 2 seconds even if the previous start is in progress. Which now that I think about it might be causing the issue.
Try something like https://docs.microsoft.com/en-us/aspnet/core/signalr/javascript-client?view=aspnetcore-2.2#reconnect-clients where you do the next connec

[2019-01-29 04:06] #6704 closed

[2019-01-29 04:07] halter73 commented on #7081
@yanrez Since you're using nginx for ingress, could you use nginx's keepalive directive with increased keepalive_requests and keepalive_timeout values to pool nginx-to-kestrel TLS connections and reduce the number of handshakes?

https://nginx.org/en/docs/http/ngx_http_upstream_module.html#keepalive

[2019-01-29 04:09] #4570 closed

[2019-01-29 04:40] halter73 commented on #7054
https://github.com/aspnet/AspNetCore/blob/78fabbdb40f3367f93c6f96038c268cd4fb16c18/src/Servers/Kestrel/Core/src/Internal/Http2/Http2OutputProducer.cs#L220

The above line is the proximate cause of the extra data frame. The surrounding loop is scheduled inline which means that PipeWriter.FlushAsync() followed by PipeWriter.Complete() *always* results in an empty data frame to end the response.

It

[2019-01-29 05:38] #7026 closed

[2019-01-29 07:19] HaoK commented on #6533
The `UseIdentity`/`UseGoogle`/`UseFacebook`/`UseTwitter`/etc obsolete 1.x methods have all been removed as well in https://github.com/aspnet/AspNetCore/pull/6965

[2019-01-29 07:48] vnikopol commented on #6986
@halter73  Yes, it looks like my situation. Are there any best practices to solve this?

[2019-01-29 07:51] bradygaster commented on #7059
You can't. You have to have a Hub, *running on a server*, or use the Azure SignalR Service as a channel for the communication. SignalR is **not** peer-to-peer.

Let's think about your architecture as a Visual Studio solution. You've currently got 2 .NET Client applications - either WPF, Desktop, whatever-it-is. You shouldn't have a Hub in *either* of those projects, as you have nowhere to host the

[2019-01-29 08:44] RemiBou commented on #6937
DOM manipulation si currently not supported by web assembly (https://github.com/WebAssembly/proposals/issues/16 , https://github.com/WebAssembly/design/blob/master/Web.md), so it won't be supported by mono wasm soon. You can do that only using the current state of Blazor : custom component and JS interop.

[2019-01-29 09:13] thomaslevesque commented on #7061
Doh, how did I miss that? Thanks @dallancarr!

[2019-01-29 09:13] #7061 closed

[2019-01-29 09:55] JamesNK opened #7084 "Improve healthchecks middleware error message when services not registered"
[code]

Error message when services not registered:

[code]

Should also get a friendly error message from `UseHealthChecks`

@rynowak

[2019-01-29 10:22] FTWinston commented on #6704
Thanks @BrennanConroy, much appreciated!

[2019-01-29 10:49] javiercn commented on #6669
@Eilon Sure, let me gather all the details today and I'll start a thread

[2019-01-29 11:54] javiercn commented on #4964
@SteveSandersonMS For what is worth I'm in support of my proposal 😄. I think it's better if we handle exceptions in one place and the renderer seems to be the best place for it (as it allows for reporting errors to the appropriate environment).

[2019-01-29 13:22] bunceg commented on #7030
@HaoK  is there a workaround for this? (explicitly registering something myself again?). it's causing us load issues in our PROD environment and I'd rather not rip out Unity as (1) it doesn't seem to be a unity problem and (2) we have a lot of framework code around unity to handle decorators etc. that would have to be re-written to work with in-built DI.

[2019-01-29 15:42] EddyP23 commented on #3269
We just moved from `git push` deploy to `zip-deploy`, but exactly the same thing keeps happening. At least this time it is less painful, as you can rerun the deploy without any git's "repo is already up to date" errors and eventually, it works. It also doesn't seem to be breaking the app that is running which is nice.

But all in all, it is extremely painful.

Therefore, it seems like this is a si

[2019-01-29 15:51] alexdresko commented on #6664
I feel like we need to make sense out of the comments that were added recently, as I'm confused by what has been said.

@mahamr

Re-adding what line to what file?

Do you mean that running a repair on the .NET 2.1 hosting bundle would resolve the problem? I don't think that worked for me.

What file does that get removed from?

I believe your issue might be similar to mine, but I need answers to t

[2019-01-29 16:04] CecoMilchev opened #7088 "Unable to parse a date on the server .NET Core 2.2"
On an attempt to send a date to the server with a culture different than the default one, it gets parsed with the default format rather than the custom one.

The culture is properly applied on the server.

I have tried to alternate the options and services' settings in the Startup.cs within both the Configure and ConfigureServices methods. Also, I have sent the date from the Client to the Server i

[2019-01-29 16:20] #6847 closed

[2019-01-29 16:22] FiveStar0909 commented on #6565
any update?

[2019-01-29 16:29] dmorrison42 commented on #5557
Beyond the performance concerns mentioned above this (anti?-) pattern seems to trigger aspnet/AspNetCore#6385.

I have a table (with lambda event handlers) that grows rapidly to a couple hundred elements, and ends up failing to `AssignEventHandlerId` within less than a minute of use.

I was able to work around it by creating a new element and passing the value as a parameter removing the need for

[2019-01-29 16:40] Eternal21 commented on #6998
@BrennanConroy Thanks for the reply.  I was using default values, so your suggestion looked really good as the root cause.  Sadly changing the default LongPolling timeout from 90 seconds to 30 seconds via the following code had no effect.  It still took 90 seconds for the client to detect disconnection:

[code]
The more I'm looking into the issue, the more I'm convinced it has something to do with

[2019-01-29 16:40] #6998 closed

[2019-01-29 17:34] #4947 closed

[2019-01-29 18:00] BrennanConroy commented on #6434
If `HubConnection.start` is called multiple times in a row (while the original connect is still in progress) it can reset the `handshakeResolver` and `handshakeRejecter` values which would cause the previous calls to never finish. We should prevent this from happening.

[2019-01-29 18:04] pranavkm opened #7093 "Incremental build of IdentityUI project results in strong name \ assembly file version being lost"
The IdentityUI project forks out to two MSBuild tasks to perform compilation of v3 and v4 dlls. [Changing `IntermediateOutputPath`](https://github.com/aspnet/AspNetCore/blob/master/src/Identity/UI/src/Microsoft.AspNetCore.Identity.UI.csproj#L71) for just the views messes up Razor's build incrementalism. Calling `Compile` in the inner build seems to work, but you end up compiling the main project 3

[2019-01-29 18:04] pranavkm commented on #7093
FYI @natemcmaster

[2019-01-29 18:08] Leftyx commented on #6616
I have just bumped into the same issue and I am not using EntityFramework, just nested POCO classes.

[2019-01-29 18:10] pranavkm commented on #7079
@ManaX is this a browser that sends a `null` origin?

[2019-01-29 18:19] #7065 closed

[2019-01-29 18:30] natemcmaster commented on #7006
I'm closing this as by-design. Symbols are only really useful when debugging an app that is executing. Microsoft.AspNetCore.App is only meant to provide reference assemblies (assemblies which are only used by the compiler...sort of like headers). The runtime assemblies are found in the "runtime.$(RuntimeIdentifier).Microsoft.AspNetCore.App" packages, and there should be a corresponding .symbols.nu

[2019-01-29 18:30] #7006 closed

[2019-01-29 18:37] natemcmaster commented on #7075
Another instance: https://dev.azure.com/dnceng/public/_build/results?buildId=82045

[2019-01-29 19:02] pakrym opened #7095 "[Announcement] : AspNetCoreModule V1 removed from Windows Hosting Bundle"
Discussion thread for https://github.com/aspnet/Announcements/issues/339

[2019-01-29 19:03] Leftyx commented on #4802
@dougbu The issue is still present for recursive models.
This class:
[code]
would trigger the same issue with the committed `ComplexTypeModelBinder`.

[2019-01-29 19:12] omuleanu opened #7097 "Get original request url path in the Error handler action"
in `Startup.cs` I use this code:
[code]
and the action look like this:
[code]
`path` will have the value = `Error/HttpStatus`, I need to know what was the original url that was requested and wasn't found.

My problem is that I don't want to `return View("HttpError404")`  when the request url is something like `signalr.js.map`

[2019-01-29 19:14] Leftyx commented on #6616
@dougbu,

I've got the same issue when binding an object with a collection of the same type; some sort of recursive structure:

[code]
I've tried the fix of `ComplexTypeModelBinder `copying the code but it seems the issue is still there.

[2019-01-29 19:14] mohd-akram opened #7098 "LinkGenerator.GetPathByName() doesn't work"
### Describe the bug
`LinkGenerator.GetPathByName()` doesn't work.

### To Reproduce
Steps to reproduce the behavior:

1. Create a project with `dotnet new mvc`
2. Change the `HomeController` code to this:

[code]

3. `dotnet run`
4. Go to `http://localhost:5000/Test`

### Expected output

[code]

### Actual output

[code]

### Additional context

[code]

[2019-01-29 19:15] bradygaster commented on #6448
cc @chenkennt as we discussed this yesterday and service team wants to peek at it.

[2019-01-29 19:19] jeremycook commented on #7095
It wasn't obvious to me from the announcement exactly what this would break, if anything. If I'm running .NET Core 2.0 (yes I know), 2.1, and eventually 3.0 web apps on the same server, should I be concerned about upgrading with the latest Windows Hosting Bundle installer causing any problems with the applications?

[2019-01-29 19:21] #6825 closed

[2019-01-29 19:22] #5413 closed

[2019-01-29 19:26] dougbu commented on #6616
@Leftyx this issue and PR #6793 remain open. The issue is not yet resolved,

[2019-01-29 19:26] poke commented on #7095
Since release of ANCM were never publicly talked about, could you please clarify what ASP.NET Core versions each of the ANCM versions supports?

i.e. is ANCM v1 required only for ASP.NET Core 1.x, and ANCM v2 can run ASP.NET Core 2.x and 3.x?

[2019-01-29 19:30] dougbu commented on #4831
@kishanAnem we plan to release a fix for this issue in preview 3. When I get to it, I'll look at your suggestion. But, if you prefer to get a fix in sooner (at least to MVC nightlies), feel free to open a PR.

(Please reference this issue in your PR if you choose to open one. A comment here may help bring it to my attention.)

[2019-01-29 19:31] Leftyx commented on #6616
@dougbu: Thanks for letting me know.
It's a massive problem for us. We don't want to revert back to a lower version as we would go back to some performance issues with EntityFramework.
Any workaround ?

[2019-01-29 19:32] pakrym commented on #7095
@poke

AspNetCoreModule V1 is supported with ASP.NET Core 2.1/2.2

AspNetCoreModule V2 is supported with ASP.NET Core 2.2/3.0/onward

[2019-01-29 19:32] clintnetwork opened #7101 "[Static Files] Support .apng files"
Hi,

The .apng file and his mimetype is not supported as a static file, it's a format for PNG animations.

I make this to support it, but I think it should be supporte natively.

[code]

[2019-01-29 19:34] poke commented on #7095
Cool, thanks! So basically, v2 added the in-process support I guess?

[2019-01-29 19:35] pakrym commented on #7095
Yes

Yes

[2019-01-29 19:41] allevyMS commented on #7081
@halter73 More info about our setup: we have 32 ingress controllers that serve traffic to many other apps in addition to ours. We have 6 app pods. We don't have continuous and sustained traffic to maintain the keepalive connections with a reasonable keepalive timeout.

The reason we started looking into this is that we have a use case where customers set up LogicApps that create 1k-2k concurrent r

[2019-01-29 19:43] stephentoub commented on #7081
I'm curious; any way you could try this with a preview of .NET Core 3.0 and making sure that OpenSSL 1.1+ is installed?

[2019-01-29 19:45] Tratcher opened #7102 "StreamPipeWriter.Complete should throw if there's unflushed data"
StreamPipeWriter wraps a stream and pretends to be a pipe, but it buffers everything in memory. On a normal Pipe if you call Complete then the data would be available to the consumer, but for StreamPipeWriter the data is all still sitting in the buffers.

Throw an InvalidOperationException if FlushAsync is not called to flush the buffered data before Complete is called.

@jkotalik

[2019-01-29 19:49] yanrez commented on #7081
@halter73 - have you had a chance to look into adding this use case to benchmarking? i assume this will give us a clear picture of how it performs across various versions

[2019-01-29 20:07] NickCraver commented on #5110
Noting here: we didn't get pinged on this milestone change (I guess GitHub doesn't do that). Stack Overflow's ASP.NET Core migration is still blocked by this. The delay to preview 3 is very frustrating as it hoses a lot of downstream plans indefinitely.

When will this land?

[2019-01-29 20:14] CBaud commented on #6968
@davidfowl
On further inspection, it seems that this request would require changes in .NET. The synchronous nature of the server certificate selector is enforced by the definition of the [ServerCertificateSelectionCallback](https://docs.microsoft.com/en-us/dotnet/api/system.net.security.servercertificateselectioncallback) delegate.

[2019-01-29 20:17] dougbu commented on #6616
@Leftyx you could remove "greedy" properties (see `BindingSource.IsGreedy`) from your recursive model. For example, move `[FromHeader]`, `[FromServices]`, `IFormFile`, &hellip; properties to a separate type that isn't referenced from your recursive model. Or, remove the recursive model properties entirely -- as I [suggested earlier](https://github.com/aspnet/AspNetCore/issues/6616#issuecomment-458

[2019-01-29 20:54] jjmew opened #7106 "Razor file not formatting correctly for Telerik Kendo UI HtmlHelper controls"
_From @adrian109 on Sunday, 27 January 2019 23:42:09_

This issue was originally reported by the community on the Visual Studio Developer Community forum
[Razor Multiline Html Helper Formatting Indent Issue](https://developercommunity.visualstudio.com/content/problem/323902/razor-multiline-html-helper-formatting-indent-issu.html?childToView=437262)

The issue on the forum has recently been marked

[2019-01-29 20:54] jjmew commented on #7106
_From @jmarolf on Monday, 28 January 2019 02:52:28_

@jjmew and @Pilchie 	should this be moved to https://github.com/aspnet/AspNetCore?

[2019-01-29 21:09] roboriaan commented on #5479
@danroth27. Ah I see. Awesome! That would be great if you could help me out on that. The readme file is updated.

[2019-01-29 21:16] halter73 commented on #7081
@yanrez I haven't looked into this. @sebastienros Is this something you could do?

[2019-01-29 21:55] Eilon commented on #4251
Hi @fatagun sorry for the delay. Everything to do with compilers (e.g. C# compiler, CSHTML/Razor compilers, etc.) is called "Code Analysis." If your app is doing runtime compilation of CSHTML files (that is, they are not pre-compiled), that would cause these DLLs to be loaded.

As far as other memory usage, it depends a lot on the details of the app. In general a .NET app using the "server GC" (wh

[2019-01-29 21:55] #4251 closed

[2019-01-29 21:56] Eilon commented on #4334
Hi @razvan-panda , sorry for the delay getting back to you. If you're still having this issue please log a new issue with full details at https://developercommunity.visualstudio.com/. It is unlikely this is an ASP.NET issue, so I'm closing this item.

[2019-01-29 21:56] #4334 closed

[2019-01-29 22:43] ManaX commented on #7079
Authorization headers specifically.

[2019-01-29 22:50] Tratcher commented on #7101
Spec reference: https://www.iana.org/assignments/media-types/image/png

Do not use ServeUnknownFileTypes and DefaultContentType for this. See https://docs.microsoft.com/en-us/aspnet/core/fundamentals/static-files?view=aspnetcore-2.2#fileextensioncontenttypeprovider for adding your own file extensions.

[2019-01-29 22:51] ryanbrandenburg commented on #5418
Seems this issue ought to be on the Backlog since the issue it depends on is.

[2019-01-29 22:52] ryanbrandenburg commented on #5418
Oh, aspnet/Docs doesn't use the same milestones as us. I still think it might belong on the backlog, but I'll leave it up to the managers.

[2019-01-29 22:55] ryanbrandenburg commented on #5428
Tests still aren't running automatically, but we did do a manual pass and these tests worked then. I'll close this out and if we still have a problem when https://github.com/aspnet/AspNetCore/issues/4321 reopens a new issue will be created.

[2019-01-29 22:55] #5428 closed

[2019-01-29 22:59] ckpearson commented on #3957
@lewcianci did you get it working with the iOS simulator?

I'm running up against this issue, I have:

1. Created a profile in configurator
2. Added the certificate created by dev-certs
3. Signed the profile using my Apple Developer Credentials

iOS is happy to accept the profile, even going so far as giving it a checkmark to say it's a verifiably signed profile.

*BUT*

The trust store *still* wo

[2019-01-29 23:04] lewcianci commented on #3957
No I never got it working. I agree with you @ckpearson - these development scenarios are supposed to make it super easy for development in these situations.  I never found a way forward.  I think the only reason why I had these issues is because I was trying to use oauth authentication in my app and I absolutely had to have https on the identity server.

I'd love to see this fixed, or worked aroun

[2019-01-29 23:05] lewcianci commented on #3957
@blowdart any chance of this getting some attention?  @ckpearson  has included screenshots and a fresh set of reasons as to why this is required.  If I had the slightest idea how the dev-certs app worked I would have a go at it and submit a PR.

[2019-01-29 23:11] pranavkm commented on #7079
I'm not entirely sure about the auth headers here, but I want to eliminate CORS as a possible culpint here.

It looks like browsers will send a `null` origin if the request redirects to a new origin so that would explain the odd value there.

* The response to `signin-auth0` endpoint in your application shows a 500. Is there an uncaught exception that you have to handle?
* Is the browser client ho

[2019-01-29 23:17] ckpearson commented on #3957
@lewcianci I'm building something using IdentityServer, so I of course want https.

It's all fine for the web app, because that's running on my local machine and as such is able to just trust the certificate because it's in the keychain.

iOS is a bit stricter about it because it can't verify the CA, we either need dev-certs to produce a local-dev CA cert **and** the local-dev signing cert, or jus

[2019-01-29 23:21] lewcianci commented on #3957
FWIW, I think its fairly straightforward to get ASP .NET to load a HTTPS certificate at startup that could be provisioned from your development CA.  I started going down this path back in the day but got waylaid by other stuff.

I'd love to see this get fixed 👍

[2019-01-29 23:27] YankdaCode opened #7112 "Using Microsoft.NET.Sdk.Razor compiles Views.dll with the location as their names"
### Describe the bug
I am trying to make a modular architecture using ASP.Net Core 2.2 and MVC. Essentially I have a base ASP.Net Core 2.2 web app. And then I want to keep adding class libraries to act as features to my app. I am routing to these features by configuring AreaViewLocationFormats. My Class Libraries are targeting SDK - Microsoft.NET.Sdk.Razor. On Build I do see .Views.dll and my base

[2019-01-29 23:31] ckpearson commented on #3957
@lewcianci tbh who has the time?! I had a bloody hard enough time getting my head around OAuth and OIDC for IdentityServer, and then the IdentServer docs are hardly up to scratch, they're out of date in places, and there's no real section on how to configure clients for native app scenarios 🤷‍♂️

Still, if it were easy, we wouldn't have such in-demand jobs.

[2019-01-29 23:49] pranavkm commented on #5138
Closing since there are reasonable workarounds here - using nullable types or writing a custom converter. We do not have any plans for supporting a behavior like this out of the box.

[2019-01-29 23:49] #5138 closed

[2019-01-29 23:52] pranavkm commented on #7112
@YankdaCode https://github.com/aspnet/Razor/issues/2425#issuecomment-400470853 might have a possible solution.

[2019-01-29 23:56] ckpearson commented on #3957
@lewcianci can confirm:

<img width="340" alt="screenshot 2019-01-29 at 23 54 50" src="https://user-images.githubusercontent.com/5690115/51948681-5cbe3200-2421-11e9-949c-490476eb4013.png">

<img width="350" alt="screenshot 2019-01-29 at 23 55 10" src="https://user-images.githubusercontent.com/5690115/51948691-647dd680-2421-11e9-9f5e-8165f775f510.png">

The difference here is that I've set `CA:true

[2019-01-30 00:08] ManaX commented on #7079
Yes, this makes sense and furthermore this stackoverflow [answer](https://stackoverflow.com/a/28671822) clears the doubt. My suspect is, when I call ChallengeAsync here,
[code]
The challenge request sets "Origin" to "null" and then makes the `authorize/` call

Browser sets this when XHR fails, the console has:
`origin 'null' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header

[2019-01-30 00:12] Tratcher commented on #6962
Here's the out-of-proc call stack:
[code]
The IIS Middleware is calling Authenticate internally to initialize the user field. IClaimsTransformation runs in the call to Authenticate.

For In-proc server it doesn't need to call Authenticate for initialization. You can get the same effect by adding the following:

[code]

And here's the new stack trace:
[code]

@shirhatti While this is a behavior dif

[2019-01-30 00:13] ckpearson commented on #3957
Actually, the CA thing just creates a root cert, which (I think) is useless in and of itself, so I'm now trying a workaround to produce a CA root and derivative certs myself, will update here as could be a way around this for people before a fix is made / it doesn't get changed.

[2019-01-30 00:14] jkotalik commented on #6962
We can change it in 3.0?

[2019-01-30 00:16] jkotalik commented on #3128
Closing as the original issue is resolved.

[2019-01-30 00:16] #3128 closed

[2019-01-30 00:17] Tratcher commented on #6962
@jkotalik I don't see a strong reason to do so.

[2019-01-30 00:19] lewcianci commented on #3957
Yeah thats exactly it @ckpearson (as an aside, I agonised for days over OIDC and OpenIddict.  I got it working in the end but I felt extremely dense the whole time (like everyone else has it working/gets it working, why can't I?))

[2019-01-30 00:20] shirhatti commented on #6962
@guardrex

At the minimum, we should doc this as a behavior difference between the two hosting models- https://github.com/aspnet/Docs/blob/master/aspnetcore/host-and-deploy/aspnet-core-module.md#hosting-models

[2019-01-30 00:22] pranavkm commented on #7079
cc @javiercn

[2019-01-30 00:43] pranavkm commented on #7079
Are you certain about this? That seems suspect since a failed CORS response will not result in the browser changing the server response.

[2019-01-30 00:54] ckpearson commented on #3957
@lewcianci I can confirm I now have this up and running!

<img width="339" alt="screenshot 2019-01-30 at 00 52 46" src="https://user-images.githubusercontent.com/5690115/51950687-66e42e80-2429-11e9-94b3-f43b9ea5189c.png">

I've put the instructions I followed [here](https://gist.github.com/ckpearson/f96074697c583de0d2599c6009191824)

It's longer-winded than I'd have liked, and it sucks that I have

[2019-01-30 01:21] blowdart commented on #3957
A work around that uses a self trusted root CA isn't something I would be happy putting in the dev tool, because, well, we're venturing into risky territory, as now you have a root CA that can be used for more than local host. You can generate such a set in powershell, but it's not something we'd do.

[2019-01-30 01:33] ckpearson commented on #3957
@blowdart really? Deploying **every** time you want to test? Isn't that a bit mental? And you can't use certs on Azure unless it's a paid tier (last I checked).

I honestly feel it's an oversight for this to not be supported, at the very least with huge flashy warnings and all manner of controls around it, other tools like Fiddler support these sorts of certificates for inspecting traffic from an

[2019-01-30 01:34] ckpearson commented on #3957
@blowdart and I'd add that the OIDC server I'm developing against is IdentityServer, running locally...

[2019-01-30 01:34] ManaX commented on #7079
Quoting from here,

1. When I make a regular browser call to my endpoint `user`:
![image](https://user-images.githubusercontent.com/3582131/51951323-2de49380-2402-11e9-831c-fa317f3a9fc3.png)

2. When I make XHR call from AngularJS client (`withCredentials: true`)
![image](https://user-images.githubusercontent.com/3582131/51951427-92075780-2402-11e9-8591-8fb6af36be47.png)

#### More context

1. In

[2019-01-30 01:35] lewcianci commented on #3957
Your solution to push to the cloud is a nonstarter because:

- I would then have to pay for cloud hosting costs
- It would complicate my development scenario to have to push over and over to the cloud to test these things (not to mention things like database migrations etc)

I didn't realise that developing with dotnet would leave me with with broken development workflows due to how heavily opinio

[2019-01-30 01:36] ckpearson commented on #3957
@lewcianci oh, I'd argue no more so than secrets hardcoded in OSS repos anyway 🤷‍♂️

[2019-01-30 01:37] blowdart commented on #3957
Against every other piece of security work we have this is very low in the priority list, as well as being dangerous. As there are other ways to create suitable certs I'm just not convinced about the safety or that I should cancel something else to do this instead. Which is what it would boil down to.

[2019-01-30 01:39] ckpearson commented on #3957
@blowdart fair enough, is there somewhere I can log this as something for further consideration down the line / something that ought to at the least be documented, as I ran headfirst into this working with IdentityServer and it having practically zero documentation around mobile app dev scenarios.

I suppose I'm trying to work out what repo / team would be responsible for at least looking at this,

[2019-01-30 01:39] lewcianci commented on #3957
@blowdart  that's okay, as long as its somewhere in your priority list.  Also you keep saying its dangerous, could you elaborate?  @ckpearson  and I have highlighted a legitimate development scenario for this, if you flesh out why its a bad idea I'll take heed appropriately.  As far as I know, you are concerned that a CA could get out in the wild and that could cause security issues?

Also, you do

[2019-01-30 01:40] blowdart commented on #3957
I'll reopen in issue and put it into the backlog for consideration in the 3.1 timeframe.

[2019-01-30 01:44] PinpointTownes commented on #3957
If you want to chat about your (negative) experience with OpenIddict and/or have concrete elements you think could/should be improved (I suspect documentation is one of them), feel free to ping me on Gitter (https://gitter.im/openiddict/openiddict-core) or on Slack (http://tattoocoder.com/asp-net-core-slack-community/)

[2019-01-30 01:49] blowdart commented on #3957
And for triage;

Any root CA generated would need to be very constrained and only able to issue HTTPS certificates via EKU, not wide open for any purpose, so EKU of 1.3.6.1.5.5.7.3.1. Furthermore there should be a path length constraint of 0. Key usage should be restricted to Certificate Signing. As there will be no CRL or OCSP there's no need for those uses.

Validity length to be discussed.

Wou

[2019-01-30 01:51] ckpearson commented on #3957
@blowdart I understood practically none of that, but what might be a solution would be to use lets encrypt certs as you said, I'm fairly sure iOS would trust those quite readily, and avoids the need for self-issuance and self-creation of root CAs.

[2019-01-30 01:59] blowdart commented on #3957
You'd never get a lets encrypt certificate for localhost. So you'd have to get a domain validated cert, and the normal way is by putting a file on the server you want a cert for, but because that's your dev PC that's going to be firewalled off, so now you have to go the DNS route to validate your request, which can't be automated, because all DNS providers have different APIs. Hence "probably not"

[2019-01-30 02:02] ckpearson commented on #3957
@blowdart gotcha, so perhaps the best approach really is to abandon local-dev https and just ensure it's configured and utilised properly upon deployment, because there's still all the considerations to consider like running on a live test device over the local network too, as the cert isn't going to match "localhost" when requested remotely anyway...

'tis a shame that secure local dev practices

[2019-01-30 02:11] blowdart commented on #3957
And we had that before, but by enabled HTTPS for the majority of scenarios we're helping to close a gab and not rely on devs remembering to do the right configuration, which is a win. We won't abandon local-dev https simply because it won't work on iOS.

[2019-01-30 02:16] ckpearson commented on #3957
@blowdart apologies, I meant I *could* abandon local https for my dev scenario, rather than dropping it as a default in the templates - it most certainly should be default in the templates!

[2019-01-30 04:11] vovikdrg commented on #5788
I do have similar issue....https://stackoverflow.com/questions/54411260/aspnetcore-correlation-failed-when-facebook-or-google-login-and-invalid-token-wh

[2019-01-30 04:19] vovikdrg opened #7117 "Invalid token when confirm email and Correlation failed when facebook sign in"
### Describe the bug
For few weeks I do have issue with confirm email and external logins. Those issues are totally random.
So some users receive **Correlation failed** when try to login with facebook or google but I am not able to reproduce this.

But I see this error in App Insight logs and those users who try to activate email usually are not confirmed

### To Reproduce
My startup.cs

[code]

f

[2019-01-30 04:42] chenkennt commented on #6448
@Arash-Sabet haven't heard from you yet. Please let me know after you send me your resource name to make sure I don't miss your email.

[2019-01-30 04:46] clintnetwork commented on #7101
Ha thank you, I will change tomorrow

[2019-01-30 07:45] Fruchuxs opened #7118 "Possibility to remove Controllers at runtime"
### Is your feature request related to a problem? Please describe.
We have a Test-Controller in our Web API which can be used at runtime to determine problems. But this controller should only be present if a Debug-Flag is set in the application config.

### Describe the solution you'd like
Middleware decorator or possibility to reconfigure IRouter to kick out an auto registred controller.

### Des

[2019-01-30 08:00] wstaelens commented on #7014
@natemcmaster you closed it, but tell me. I'm still stuck at 2.2.0 now for the Microsoft.AspNetCore.App package.

When i edit the project file and add a version number to it, it is ok, but not recommended, so I removed it again.

I've added a json file called global.json as suggested and added the specific sdk version, but the Microsoft.AspNetCore.App is still at 2.2.0 instead of 2.2.1.
Nuget pack

[2019-01-30 08:05] vikasNew commented on #7059
can you please update me this with some examples, i have tried this with Azure SignalR service but still i am not able to get response from the same hub method..

[2019-01-30 08:08] RemiBou commented on #7118
Why don't you throw an exception on the controller constructor when the config is not set ? And use a filter for changing it to a 404.

[2019-01-30 08:14] kickgod opened #7119 "Cookie And Session"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is.

I just want to use Session and cookies just like the ASP.NET MVC framework, but the authorization and identity features provided by ASP.NET Core don't allow me to simply use cookies and sessions. I am very annoyed, for the identity and authorization features that come with th

[2019-01-30 08:21] alexalok commented on #7057
Hi, @muratg

Nginx is only between the client and the server and I have made sure it is nginx that is causing the issue because direct client-server connections establish successfully.

My setup is a regular server without any containers.

Yes, explicitly disabling websocket and sse results in a successful long-polling connection. However, the reason I reported the issue is that I believe that in

[2019-01-30 08:37] markuswolters commented on #3793
Hi guys. This annoying issue is still present with Core 2.1 with the lastest VS 2017. I use appoffline, still the main project dll is always is use and requires a complete stop of website during publish. This renders web deploy almost useless.

[2019-01-30 08:52] SeriaWei opened #7120 "EnableEndpointRouting can't generate url"
Route template:
[code]
CultureConstraint:
[code]
Use Url.Action to generate two links in HomeController Index view:
[code]
PS: Privacy action is also in HomeController

Run the application then visit `/us`, `Privacy` url is not generated:
![image](https://user-images.githubusercontent.com/6006218/51968747-abb1a900-24ad-11e9-9d26-30c5a3464d38.png)

But, if you pass into `culure` to `Url.Action` met

[2019-01-30 08:58] danroth27 opened #7121 "Blazor 0.8.0 templates add dev packages feeds"
Repro steps:
- `dotnet new -i Microsoft.AspNetCore.Blazor.Templates::0.8.0-preview-19075-0444`
- `dotnet new blazor -o BlazorApp1`
- `cd BlazorApp1`
- Open the .csproj file

Expected results:
- No `RestoreAdditionalProjectSources` pointing at dev feeds

Actual results:

[code]

[2019-01-30 09:06] Fruchuxs commented on #7118
Not a bad Idea, but I think its cleaner to just "deregister" the controller.

[2019-01-30 09:15] danroth27 opened #7122 "Blazor hosted server template is missing Json.NET"
Repro steps:
- `dotnet new -i Microsoft.AspNetCore.Blazor.Templates::0.8.0-preview-19075-0444`
- `dotnet new blazorhosted -o BlazorHostedApp1`
- `cd BlazorHostedApp1/BlazorHostedApp1.Server`
- `dotnet run`
- Browse to the fetch data page

Expected result:
- Weather forecast table shown

Actual result:

[code]

Workaround:
- In the Server project add a package reference to Microsoft.AspNetCore.Mvc.

[2019-01-30 09:29] danroth27 opened #7123 "Strong name validation failed error when creating a Blazor 0.8.0 project in VS"
Repro steps:
- Install the Blazor 0.8.0 VSIX
- Create a new Blazor project

Expected result: No error

Actual result:

![image](https://user-images.githubusercontent.com/1874516/51971495-2f997000-2471-11e9-89bd-66a661cc7046.png)

[ActivityLog.zip](https://github.com/aspnet/AspNetCore/files/2811807/ActivityLog.zip)

[code]

[2019-01-30 09:43] danroth27 opened #7124 "Console.WriteLine produces strange text in Blazor 0.8.0"
Repro steps:
- `dotnet new -i Microsoft.AspNetCore.Blazor.Templates::0.8.0-preview-19075-0444`
- `dotnet new blazor -o BlazorApp1`
- Edit *Program.cs* to add `Console.WriteLine("Hello, world!");` in `Program.Main`

Expected result:
- Browser dev console shows: "Hello, world!"

Actual result:

![image](https://user-images.githubusercontent.com/1874516/51972551-8d2ebc00-2473-11e9-81a9-ab5002ebeccf.p

[2019-01-30 09:45] danroth27 commented on #7124
@SteveSandersonMS @lewing

[2019-01-30 10:00] danroth27 opened #7125 "Autorebuild not working with Blazor 0.8.0"
Repro steps:
- Install the Blazor VSIX
- Create a new standalone Blazor app
- Ctrl-F5 to run it
- Change the heading text in Index.cshtml (or some other visible change)
- Refresh the browser

Expected result: Change to home page is visible after refreshing the browser
Actual result: Home page looks the same

[2019-01-30 10:22] martincostello opened #7126 "How to exclude files from Razor precompilation in ASP.NET Core 3.0.0?"
For historical reasons, we use Razor in our applications to generate configuration files from templates at deploy time. This means we have files with names like `appsettings.json.razor` in our projects.

With .NET Core 3.0.0 preview 2, this is causing compilation to fail with errors similar to the following:

[code]

I've tried using `<ExcludeFromBuild Include="..." />` and `<MvcRazorFilesToCompil

[2019-01-30 10:36] ststeiger commented on #1528
@holajan: OK, that's as it should be. maybe a define in the solution would be better.

[2019-01-30 11:05] vertonghenb opened #7127 "Component libraries are broken in 3.0.0 Preview 2"
### Describe the bug
Component Libraries cannot be used with 3.0.0 p-2 Razor Components

### To Reproduce
Steps to reproduce the behavior:
1. Install the SDK 3.0.0 Preview 2
2. Install VS 2019 Preview 2
3. Run the commands
`dotnet new -i Microsoft.AspNetCore.Blazor.Templates`
`dotnet new blazorlib`
4. Reference the Blazor Lib from the `.App` project
5. Add a taghelper in `_viewimports` (on the roo

[2019-01-30 11:18] fatihyildizhan commented on #6111
How can we upgrade .NET Core version manually from Console?

[2019-01-30 11:29] ankitgupta2k19 opened #7129 "@Html.DisplayFor resulting in microsoft.aspnetcore.mvc.viewfeatures.internal.viewbuffer"
### Describe the bug
A clear and concise description of what the bug is.
when using tag helper @Html.DisplayFor at some instances its returning microsoft.aspnetcore.mvc.viewfeatures.internal.viewbuffer in view instead of formatted value.
### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.1'
2. Run this code '....'
3. With these arguments '....'
4. See error

[2019-01-30 11:32] javiercn commented on #7079
I'm pretty sure this is incorrectly configured.

It seems like you are trying to start an oAuth login flow from an XHR request, that's not how it works. If you are building a SPA, you are required to do a full navigation to the identity provider. It can't be done through an XHR request and that's at the core of your issue.

You can do two things:
1) From the client (browser) perform an implicit fl

[2019-01-30 11:32] #7079 closed

[2019-01-30 11:38] lewing commented on #7124
I think this was a temporary logging regression in mono right around the hash you pulled. See https://github.com/mono/mono/pull/12588

[2019-01-30 11:54] danroth27 opened #7130 "Update survey link in the project template for Blazor 0.8.0"
Blazor 0.8.0 survey link: ~~https://go.microsoft.com/fwlink/?linkid=2041371~~ https://go.microsoft.com/fwlink/?linkid=2069004

[2019-01-30 12:33] niwsa opened #7131 "[SignalR] Differentiating disconnect vs manual close event"
I am trying to implement reconnect logic when signalr disconnects due to network failure as follows.
[code]
But at the same time I need to close the connection on page navigation elsewhere (componentWillUnmount).
[code]
Issue is when I call the `hubConnection.stop` the onclose listener (`signalrCloseConnectionHandler`) fires which again starts the connection.Is there a `off` to remove the onclose

[2019-01-30 13:16] Arash-Sabet commented on #6448
@chenkennt I did send you the screenshot of the resource last week by email. Please check your mailbox's spam folder just in case. This is the email address that I sent the note to you: kenchen<at>microsoft.com .

[2019-01-30 13:16] danroth27 opened #7133 "Update Blazor 0.8.0 packages to have a clean version number (no preview moniker)"
It's harder to install a template package when it has a preview moniker, because you have to specify the version explicitly:

You have to do this:

[code]

Instead of this, which picks up the latest stable version:

[code]

At the very least we should do this for Microsoft.AspNetCore.Blazor.Templates and we should consider versioning all the Blazor packages the same way.

[2019-01-30 13:36] danroth27 commented on #7127
Thanks for reporting this issue!

There is a known problem with Razor Components apps that they don't yet support picking up static assets from class libraries like they do in Blazor. This is because we wanted to first do a design review of the current approach before we brought it into .NET Core. The issue tracking this problem is here: #https://github.com/aspnet/AspNetCore/issues/6349.

Componen

[2019-01-30 13:36] #7127 closed

[2019-01-30 14:01] javiercn commented on #6953
Looking into it

[2019-01-30 14:39] pranavkm commented on #6919
1 & 2 look fine. Since `DefaultApplicationModelProvider` is internal, adding parameters to it's constructor is not a breaking change.
4. Yup `services.TryAddSingleton<IPageApplicationModelPartsProviders, DefaultPageApplicationModelPartsProvider>()`

Your plan sounds great!

[2019-01-30 14:40] pranavkm commented on #6732
Ping @natemcmaster

[2019-01-30 14:41] natemcmaster commented on #7014
You don't need to reference the higher package. I referenced https://github.com/dotnet/project-system/issues/3791 because the UI is misleading. If you have installed the 2.2.1 runtime, your application will automatically rollforward to use it. By default, .NET Core always runs on the highest patch installed on the machine, 2.2.* in your case because you target 'netcoreapp2.2'.

I know this is conf

[2019-01-30 14:42] pranavkm commented on #5155
Very likely a dup of the other issue. @JiangJiaqi90 feel free to reopen if you believe this is a different issue.

[2019-01-30 14:42] #5155 closed

[2019-01-30 14:42] pranavkm commented on #5157
@techgeek03 feel free to reopen once you have a repro app to share with us.

[2019-01-30 14:42] #5157 closed

[2019-01-30 14:43] funkysoulbro commented on #6069
Hi all,
Today Google sent another message regarding the shutdown:

From examining Google Console Platform, there are "OAuth consent screen" tab on project's credentials page. Three scopes are listed: email, profile, openid. If you hover over an "openid", the following URL can be seen: https://www.googleapis.com/auth/plus.me.
![image](https://user-images.githubusercontent.com/47182079/51988010-b459

[2019-01-30 14:47] chrdlx opened #7134 "Razor components/Blazor doesn't iterate correctly inside a for loop of a List"
### Describe the bug
I made a simple razor component that just renders a list of strings in buttons.  Each button is clickable so when I click one, I add the text "AddedText" to the string inside the button.
 This doesn't work since the counter variable always sets to the last position, throwing an out of range exception.
 This seems to happen only in the onclick binding, because the list renders

[2019-01-30 14:48] chrdlx commented on #7134
Sorry about the code formatting, I'm new here, haven't found a way to make it more readable.

[2019-01-30 14:48] wstaelens commented on #7014
So Visual Studio does not know I'm using sdk 2.2.103 because it shows package 2.2.0 instead of 2.2.1 ?
but still it knows it can't use package 2.2.1 because it is blocked.

very confusing I must say. (and I did not add these nuget packages, can't uninstall or update them).

![image](https://user-images.githubusercontent.com/7447285/51988982-5625ce00-24a6-11e9-8466-f27244586499.png)

[2019-01-30 14:51] pranavkm commented on #4373
FYI @davidfowl

[2019-01-30 14:51] DenitsaGencheva commented on #6069
@funkysoulbro  I was just wondering if we should remove the openid scope. In the Google [documentation ](https://developers.google.com/identity/protocols/OpenIDConnect)it is said:

So to me, it looks like it is a mandatory scope for being able to authenticate a user.

[2019-01-30 14:58] John0King commented on #7095
Suggest to release the `ANCM` and `dotnet hosting bundle` to the WebPI

[2019-01-30 15:06] pranavkm commented on #3698
Fixed via https://github.com/aspnet/Razor/issues/2696. 3.0 rzc targets `netcoreapp3.0` now.

[2019-01-30 15:06] #3698 closed

[2019-01-30 15:16] pranavkm commented on #5083
We got rid of the instrumentation but in a separate PR. My concern with this change is that we might be setting ourselves up for additional work (with either a way to enable or disable this behavior) if this breaks a user scenario. It's an easy cop out, but we do the right thing with the generated types in RazorComponents and perhaps the answer would be to recommend it going forward if perf is a c

[2019-01-30 15:25] pranavkm commented on #5043
For 3.0, build time compilation using RazorSDK is the default workflow and linked views work out of the box. Runtime compilation which was re-introduced as feature in 3.0.0-preview3 does not recognize the project file, it does support multiple `IFileProvider` instances. It's conceivable to configure it to point to the content root of additional projects if runtime compilation needs to also support

[2019-01-30 15:25] #5043 closed

[2019-01-30 15:29] pranavkm commented on #2271
It looks like fixing this would require cross-compiling netstandard2.0 targeting packages in 2.x. Would we patch something like this?

[2019-01-30 15:39] pranavkm commented on #4190
@pakrym is this still a thing?

[2019-01-30 15:50] natemcmaster commented on #6732
See https://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.NewtonsoftJson. We released .NET Core 3.0 Preview 2 yesterday.

https://github.com/aspnet/AspNetCore/blob/master/docs/DailyBuilds.md is accurate. We stopped pushing to the dotnet-core myget feed temporarily because we filled our quota for number of packages and had to buy more space.

[2019-01-30 15:50] #6732 closed

[2019-01-30 16:07] dmorrison42 commented on #7134
@chrdlx It's [Github Flavored Markdown](https://github.github.com/gfm/).

Or you can use the toolbar above the textbox where the `<>` are.

[2019-01-30 16:13] ManaX commented on #7079
Yes, I was trying to to have one solution for all scenarios. I will now user Token authentication for SPA side of the application and OAuth+Cookie for RESTful aspects.

Thank you for your guidance @pranavkm and @javiercn!

[2019-01-30 16:16] bradygaster commented on #7059
I have the server and one of the client apps already created. I'll share this with you later today, but I need to finalize one or two things on the second client so you have what you want.

[2019-01-30 16:16] natemcmaster commented on #7014
The primary purpose of these 'SDK' package references is to provide the C# compiler with "reference assemblies" (sort of like headers in C#). Unlike most normal packages, Microsoft.AspNetCore.App and Microsoft.NETCore.App do not put more *.dll files in your build output. If you run `dotnet publish`, you won't see any Microsoft.AspNetCore.\*.dll or System.\*.dll files in your output. When your appl

[2019-01-30 16:28] muratg commented on #2271
@pranavkm do we know how many of our packages are impacted? We can surely consider bringing it to the shiproom. cc @Eilon

Also, is 3.0 fine?

[2019-01-30 16:36] pakrym commented on #4190
This wasn't as annoying lately.

[2019-01-30 16:36] #4190 closed

[2019-01-30 17:04] pranavkm commented on #2271
Presumably most of the Extensions packages n 3.0 would be problematic. For 2.x, I'm guessing nearly all of them since most packages aren't cross-compiled. However given that there is fairly trivial workaround (adding the `System.Tuple` package), perhaps documenting it would be the more appropriate resolution.

[2019-01-30 17:19] davidfowl commented on #2271
Yes it seems like we should do this for extensions.

[2019-01-30 17:24] natemcmaster opened #7135 "Microsoft.VisualStudio.BlazorExtension is missing copyright attribute"
Follow-up to https://github.com/aspnet/AspNetCore/pull/7109. Builds issue this warning due to absent copyright assembly attribute.
[code]

cc @SteveSandersonMS @pranavkm

[2019-01-30 17:32] davidfowl commented on #2271
Cross compile in 3.0

[2019-01-30 17:38] muratg commented on #2271
(Removing SignalR label, since this is broadly applicable)

[2019-01-30 17:39] Eilon commented on #7119
@kickgod - sorry you were running into some problems. Can you provide more info and code samples that show what you were trying to do, what you expected to happen, and what actually happened?

Session state is fully supported in ASP.NET Core, and uses a cookie to track the user. Authorization and identity can also use cookies (but a different cookie). Your app can also just create its own cookies

[2019-01-30 17:42] Eilon commented on #2271
Sad.

[2019-01-30 17:42] Tratcher commented on #6069
Their scope docs for Google Sign-in also list profile, email, and openid. I recommend leaving openid enabled until we can confirm if it causes any functional problems.

[2019-01-30 17:53] pranavkm commented on #2271
cc @natemcmaster

[2019-01-30 18:04] pranavkm commented on #7118
You could use application parts to conditionally add or remove the controller: https://docs.microsoft.com/en-us/aspnet/core/mvc/advanced/app-parts?view=aspnetcore-2.2#application-feature-providers.

[2019-01-30 18:04] #7118 closed

[2019-01-30 18:05] pranavkm commented on #7097
cc @Tratcher

[2019-01-30 18:09] #6923 closed

[2019-01-30 18:10] #6930 closed

[2019-01-30 18:10] Leftyx commented on #6616
@dougbu: I don't have control on that code. It's a **NopCommerce** plugin and I only have an assembly.
It was working fine till I upgraded to **.Net Core 2.2**.
Now I've managed to fetch the code for `ComplexTypeModelBinder` from **ver. 2.1.7** and everything works fine again.
If you're interested to see the behavior of the previous version and the new version you can fetch the code from this [rep

[2019-01-30 18:12] muratg commented on #7057
@alexalok can you share your nginx configuration?

[2019-01-30 18:16] muratg commented on #2324
@davidfowl Assigned to you in 3.0. Please close if you don't think we'll change things here.

[2019-01-30 18:19] muratg commented on #4135
Moving out since preview2 already shipped.

[2019-01-30 18:21] muratg commented on #2675
@Tratcher feel free to close if you feel breaking change is not worth it.

[2019-01-30 18:22] muratg commented on #2686
Backlogging this to see if we'll get see any customer demand.

[2019-01-30 18:22] Tratcher commented on #2675
SameSite has been such a mine field that the best default here would likely be None.

@blowdart

[2019-01-30 18:32] muratg commented on #3611
Moving out since preview2 is done. @natemcmaster I assume this is still required?

[2019-01-30 18:32] muratg commented on #4136
Moving out since preview2 already shipped.

[2019-01-30 18:32] natemcmaster commented on #2271
I'm strongly against cross-compiling extensions to .NET Framework. I think we need to lean harder on the .NET Standard team to resolve this issue. If making the type issues with System.ValueTuple and net471 are truly impossible, I think .NET Standard team should update docs and tools to encourage users to target .NET 4.7.2 because anything less is not actually compatible with netstandard2.0.

I kn

[2019-01-30 18:33] muratg commented on #4153
Do we still need this?

[2019-01-30 18:38] ADefWebserver commented on #6069
@Tratcher I hope you can report back and tell us what to do because I feel like my sites are about to break 😒 I am running some older .NET MVC sites, so I implemented the hotfix (that seems to be working because in te Google administration panel it is not registering any hits on the Google+ API)

[2019-01-30 18:41] replaysMike opened #7139 "SignalR rate throttling"
### Is your feature request related to a problem? Please describe.
I'm looking to rate-throttle SignalR websocket requests to prevent abuse of the API. There doesn't appear to be middleware or event hooks in SignalR in order to process each message.

### Describe the solution you'd like
I'd like to see websocket requests running through ASP.Net middleware so messages can be intercepted. Or at the

[2019-01-30 18:41] pakrym commented on #4153
I think they we never in App and we don't publish .App package anymore. Closing.

[2019-01-30 18:41] #4153 closed

[2019-01-30 18:46] iAmBipinPaul commented on #6113
Looks like same issue.
[code]

[2019-01-30 18:50] YankdaCode commented on #7112
Voilla! Yep, that worked for me. Thanks a ton @pranavkm. However, the samples/documentation is lacking I think. Like even after reading on MSBuild Props documentation, I don't think I could have figured this out by myself. Not sure if I missed any though, is there a more specific documentation/samples for RazorSDK which explains how I can use MSBuild props stuff for customization that  I can read

[2019-01-30 18:53] #7112 closed

[2019-01-30 18:54] pranavkm commented on #7112
There's a section in the docs about the Razor SDK - https://docs.microsoft.com/en-us/aspnet/core/razor-pages/sdk?view=aspnetcore-2.2. It speaks of it in MSBuild terms, not necessarily in terms of how you would leverage it for an actual user scenario though

[2019-01-30 19:06] blowdart commented on #2675
Yea *sigh* :( None should be the default.

[2019-01-30 19:16] NTaylorMullen commented on #6113
@iAmBipinPaul hmm, slightly different actually. Would you mind sharing the .cshtml content that caused the crash for you?

[2019-01-30 19:19] natemcmaster commented on #4257
Prototype in progress: https://github.com/aspnet/AspNetCore/compare/natemcmaster:local-fx

Current challenges:

* I get compiler errors due to duplicate APIs in the same namespace. I think this is the result of having InternalsVisibleTo and duplicate copies of API due to shared source.
* Visual Studio go-to-definition is broken when navigating from something outside the shared framework into a sha

[2019-01-30 19:37] Tratcher commented on #6069
I found this official [migration guide](https://developers.google.com/identity/sign-in/web/quick-migration-guide) that says `profile email openid` are the correct scopes. The scopes `plus.login plus.me plus.profile.emails.read` are the obsolete ones.

[2019-01-30 19:45] iAmBipinPaul commented on #6113
@NTaylorMullen Actually I'm updating  from `Blazor server side` to asp.net core 3.0  preview  2 Razor component and getting this issue don't now  which cshtml file is causing this issue.

I will dig more on this tomorrow and will update here.
Thank you !

[2019-01-30 19:59] pwen090 opened #7141 "How to set BackchannelHttpHandler/etc settings of Startup when using WebApplicationFactory"
The following was given as an example of setting BackchannelHttpHandler during testing. I am wondering what is the similar process for when using WebApplicationFactory? Trying to set handlers for AddIdentityServerAuthentication in Startup. Right now just temporarily made a static in Startup that I can overwrite with my handler but that is going to cause an issue if multiple WebApplicationFactories

[2019-01-30 20:09] omuleanu commented on #7097
ok, so basically, in the controller I had to do this:
[code]

[2019-01-30 20:16] muratg commented on #4399
@davidfowl What's the approach you're thinking here?

[2019-01-30 20:21] muratg commented on #5278
@bradygaster cares about this. @davidfowl do you have thoughts for this for 3.0?

[2019-01-30 20:24] muratg commented on #5279
@Tratcher Thoughts on this?

[2019-01-30 20:32] muratg commented on #5290
@sebastienros We now have the code ready for this. Would you be able to help with setting up the infrastructure to get this running automatically? It would be running a Docker image for Redis server and configuring to use it.

[2019-01-30 20:33] muratg commented on #5291
Backlogging for now.

[2019-01-30 20:37] muratg commented on #5294
Option 1) remove the CancellationToken from StopAsync, it doesn't seem useful for this method, and it would be confusing.

Option 2) Use the CancellationToken's for the same purpose as the current timeout in connection's StopAsync.

Let's make a decision on this. @davidfowl @halter73

[2019-01-30 20:38] sebastienros commented on #5290
Sure, I will create a Redis instance on the machines, and it will be available like any other database servers are. The host name will still be `TFB-database`, using the default port, and default configuration.

[2019-01-30 20:39] jkotalik opened #7142 "[Test Failure] DATA_Sent_TooSlowlyDueToFlowControlOnSmallWrite_AbortsConnectionAfterGracePeriod"
[code]
https://dev.azure.com/dnceng/public/_build/results?buildId=83296

[2019-01-30 20:39] muratg commented on #5295
Moving this to backlog.

[2019-01-30 20:41] muratg commented on #5300
@sebastienros I believe you have a system for the perf tests. Would it be easy to add SignalR coverage there as well?

[2019-01-30 20:42] muratg commented on #5303
For the remaining checkbox, we're tracking work with #5114.

[2019-01-30 20:42] #5303 closed

[2019-01-30 20:43] muratg commented on #5306
Backlogging this.

[2019-01-30 20:45] muratg commented on #5307
(This is just tracking dotnet/corefx#30894)

[2019-01-30 20:55] muratg commented on #5320
@halter73 can you update this with the current design ideas?

[2019-01-30 20:57] muratg commented on #5323
@mikaelm12 Could you file a separate issue for Java client support?

[2019-01-30 20:58] muratg commented on #5326
We don't plan to do this.

[2019-01-30 20:58] #5326 closed

[2019-01-30 21:00] pakrym opened #7145 "Run IIS integration tests on helix"
Required for VS 2019 migration.

[2019-01-30 21:00] muratg commented on #5328
@anurse backlogging this for now. Let's discuss when you're back.

[2019-01-30 21:06] blowdart commented on #7129
Can you give code examples of such an @Html.DisplayFor, and the model used?

[2019-01-30 21:06] muratg commented on #5290
Thanks @sebastienros!

[2019-01-30 21:11] muratg commented on #5342
cc @halter73 because I saw the word "reconnect" :smiley:

[2019-01-30 21:16] dmorrison42 commented on #7134
@chrdlx Congrats on your first issue.

This *appears* to be a duplicate of aspnet/Blazor#764.

My understanding is that in C# `for` loops the same variable is reused (so all your lambda functions reference the length of your list).

In your workaround you are declaring a new variable each iteration which is the way c# requires lambdas to be written.

[2019-01-30 21:18] Eilon commented on #3654
@mkArtakMSFT / @muratg / @ajcvickers - please review the list above and take appropriate action on the items.

[2019-01-30 21:32] Eilon opened #7146 "[Tooling] Evaluate obsolete APIs from 2.2 and consider removing them in 3.0.0"
Here's everything marked obsolete in 'master' in this repo. Please use the links below to compare master and release/2.2 to see if this is a pre-existing obsolete message for a member that can now be deleted. For each item consider whether to log a bug because we will take an action, and then check the checkbox to mark it as done (even if there's no further action).

#### (1) src\Razor\src\Microso

[2019-01-30 21:43] danroth27 opened #7147 "HTML entities (e.g., &nbsp;) renders as content in Razor Components app"
If I create a Razor Component that uses an HTML no break space (`&nbsp;`) in its markup, it renders as content instead of as a space.

[code]

![image](https://user-images.githubusercontent.com/1874516/52014652-052ecd80-24d8-11e9-8c52-e1a6b8a5acee.png)

In Blazor 0.7.0 you get spaces.

[2019-01-30 21:44] danroth27 commented on #7147
@rynowak @ajaybhargavb  Is this potentially an HTML parsing issue?

[2019-01-30 21:49] muratg opened #7148 "Remove obsolete member in src/Http/Http/src/HttpContextFactory.cs"
Remove this obsolete member in [src/Http/Http/src/HttpContextFactory.cs](https://github.com/aspnet/AspNetCore/blob/master/src/Http/Http/src/HttpContextFactory.cs#L11):

[code]

And file a new issue in https://github.com/aspnet/Announcements/issues/ if this is a notable breaking change.

[2019-01-30 21:51] muratg opened #7149 "Remove obsolete member in src/Middleware/StaticFiles/src/StaticFileResponseContext.cs"
Remove this obsolete member in [src/Middleware/StaticFiles/src/StaticFileResponseContext.cs](https://github.com/aspnet/AspNetCore/blob/master/src/Middleware/StaticFiles/src/StaticFileResponseContext.cs#L15):

[code]

And file a new issue in https://github.com/aspnet/Announcements/issues/ if this is a notable breaking change.

[2019-01-30 21:51] muratg opened #7150 "Remove obsolete member in src/Middleware/WebSockets/src/WebSocketMiddleware.cs"
Remove this obsolete member in [src/Middleware/WebSockets/src/WebSocketMiddleware.cs](https://github.com/aspnet/AspNetCore/blob/master/src/Middleware/WebSockets/src/WebSocketMiddleware.cs#L51):

[code]

And file a new issue in https://github.com/aspnet/Announcements/issues/ if this is a notable breaking change.

[2019-01-30 21:54] muratg commented on #3654
@Eilon I reacted to 3 of the items that are in my areas, and filed bugs for them. (Nice work BTW!)

[2019-01-30 22:12] mikaelm12 opened #7151 "Support for Client to Server Streaming in Java Client"
The Java client currently supports Server to client streaming. Now we need to add support going the other way.

[2019-01-30 22:15] mikaelm12 commented on #7131
Hi @niwsa. It looks like you'd be better served by adding a simple flag check to see if you should run your reconnect logic. That seems like a cleaner approach than removing (and potentially having to re add) onClose handlers, which we don't really support.

[2019-01-30 22:33] terrajobst commented on #2271
We've done that. See [these docs](https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/cross-platform-targeting):

[2019-01-30 22:42] replaysMike commented on #7139
The alternative I've had to use roll my own throttling, but it has to be done manually in each endpoint of the Hub. What I'd like to see is a way to intercept all messages (WebSocket especially) before a response is sent to the client. In my case I used the rate limiting provided by `AspNetCoreRateLimit` package, with a custom provider as follows:

[code]

and used as follows in the SignalR Hub -

[2019-01-30 23:14] shirhatti commented on #4444
We're not doing anything here

[2019-01-30 23:14] #4444 closed

[2019-01-30 23:22] shirhatti commented on #4789
@martincostello Have you had any success capturing a process dump?

[2019-01-30 23:22] #3853 closed

[2019-01-30 23:22] shirhatti commented on #3853
Triage decision: not important

[2019-01-30 23:32] shirhatti commented on #6168
This tests adds ~~no~~ little value for in-proc

[2019-01-30 23:32] #6168 closed

[2019-01-30 23:33] shirhatti commented on #4512
Will re-enable test in preview3

[2019-01-30 23:42] #6962 closed

[2019-01-30 23:42] muratg commented on #5153
@davidfowl core-setup issue is in "Future" milestone.

[2019-01-30 23:45] shirhatti commented on #6846
Fixed by @pakrym. Closing

[2019-01-30 23:45] #6846 closed

[2019-01-30 23:47] bradygaster commented on #7020
Assigning to @chenkennt as we discussed this in our sync-up together and he's aware of this issue.

[2019-01-30 23:51] shirhatti commented on #6097
@shapeh Re-open if you see the issue again

[2019-01-30 23:51] #6097 closed

[2019-01-30 23:54] shirhatti commented on #6741
@Tratcher

[2019-01-30 23:55] shirhatti commented on #6972
@BillHiebert @vijayrkn 	FYI

[2019-01-31 00:01] #6465 closed

[2019-01-31 00:12] halter73 commented on #5320
The idea we discussed last week is more-or-less copying the protocol selection logic from SignalR classic which we've had success with in the past.

One of the main goals of our protocol selection logic is to make upgrading the server not break older clients. At the same time, we want to make it possible for newer clients to use new server features not supported by the old clients.

We are not con

[2019-01-31 00:15] halter73 commented on #5342
This wouldn't affect automatic reconnects. If we want this, we should probably set up a design meeting to determine things like how the URL should be updated (e.g. a property or `.start` param), when it can be updated, etc...

[2019-01-31 00:39] terrajobst commented on #2271
It depends. If you're targeting .NET Standard 2.1 you don't have to :-)

[2019-01-31 01:01] #3409 closed

[2019-01-31 01:01] pranavkm commented on #7097
Closing since the question has been answered.

[2019-01-31 01:01] #7097 closed

[2019-01-31 01:02] #3890 closed

[2019-01-31 01:06] halter73 commented on #2271
The guidance is already for "when you're offering a netstandard2.0 target".

[2019-01-31 01:18] davidfowl commented on #2271
Then we're saying our packages only work on .NET Framework 4.7.2 which severely limits their usage in libraries.

[2019-01-31 01:20] davidfowl commented on #5153
It's going to be in 3.0

[2019-01-31 01:33] halter73 commented on #6986
@vnikopol You could drain the request body yourself in middleware.

[2019-01-31 01:40] natemcmaster commented on #2271
To clarify - I'm not opposed to cross-compiling, on principle. I'm opposed to cross-compiling as a workaround. @davidfowl if .NET Standard 2.0 is basically guaranteed to be busted on < net472 forever and we truly care about supporting extensions packages for apps targeting < net472, then it seems our hands are tied and we have to cross-compile.

Do it more. Make it obvious. Tooling and [docs](http

[2019-01-31 02:48] lostllama commented on #6069
Dear Developer,

	Earlier this week we sent you an email related to your projects that will be impacted by the Google+ API shutdown, which also affects requests for Google+ OAuth scopes.

	The email listed that one or more of your projects are requesting the “plus.me” scope, and would thus be affected. We would like to clarify that only projects directly requesting the “plus.me” scope are affected

[2019-01-31 02:59] sebastienros commented on #6831
I don't think there is any issue with the behavior, what you are describing is by design.

You can use the Workstation GC mode if you don't want the GC to be gready.

[2019-01-31 02:59] #6831 closed

[2019-01-31 02:59] iAmBipinPaul commented on #6113
Here we are getting this above mention exception.

[code]
Here we are not getting any exception and it works as it have to.
[code]

When I'm using   `totalResult="@{ topic.TotalCount ?? 0}"` or  `totalResult="@{totalCount}"` it hangs , gives the above mention exception as well  as forces VS 2019 preview 2 to close.

but when I'm using  `totalResult="@totalCount"` it works so basically , it gives e

[2019-01-31 06:00] niwsa commented on #7131
@mikaelm12 Thanks for the solution.
I am using a `_isMounted` instance field which is set to true on `componentDidMount`,setting it to false on `componentWillUnmount`.Using the flag as below before reconnecting...
[code]

[2019-01-31 06:00] #7131 closed

[2019-01-31 06:10] HaoK opened #7153 "[Helix] Signalr TS client functional test fails during helix build"
Tracking issue for TransformWebConfig Task fails in signalr ts functional test during helix build (even though its not a test project)

[code]

[2019-01-31 07:37] milkshakeuk commented on #6741
It did work before with cookie Auth and now it doesn't, is it wrong to have expected that it should still be there?

We use cs-username for stats on application usage, I don't really want to have to log out every requests again with nlog just to have access to this information.

[2019-01-31 08:02] bradygaster commented on #7059
@vikasNew i've created the example and put it in my personal GitHub organization [here](https://github.com/bradygaster/OneRealTimeServerTwoClients).

This example has the following items in it:

1. Hosting an ASP.NET Core SignalR Hub using a simple EXE.
1. The Hub is actually a strongly-typed Hub<T>, which is documented [here](https://docs.microsoft.com/en-us/aspnet/core/signalr/hubs?view=aspnetco

[2019-01-31 08:02] #7059 closed

[2019-01-31 08:31] davidfowl commented on #7102
@jkotalik @Tratcher just tried this change out and it throws in a way that makes it really hard to debug what went wrong. The developer exception page can't handle the error since it's thrown deep in the server.  We need to re-think where we throw here and we need to decide if we can make it better.

[code]

Here's what it looks like on IIS in-proc:

![image](https://user-images.githubusercontent.

[2019-01-31 08:34] SeriaWei commented on #7120
Is this a bug or the endpoint routing is just like that?

[2019-01-31 08:50] LindaLawton opened #7155 "Add logging to ValidateSecurityStampAsync"
### Is your feature request related to a problem? Please describe.

I would like to see some logging for the security stamp validation.

### Describe the solution you'd like

[SignInManager.cs#L260](https://github.com/aspnet/AspNetCore/blob/bfec2c14be1e65f7dd361a43950d4c848ad0cd35/src/Identity/Core/src/SignInManager.cs#L260) checks that the securty stamp has not been changed.

1. it does not check

[2019-01-31 08:54] EricRazon12 commented on #6069
are we able to fix this by updating the Microsoft.Owin.Security.Google from 4.0.0 to 4.0.1?
https://www.nuget.org/packages/Microsoft.Owin.Security.Google/

please advice. Thank you

[2019-01-31 09:09] vnikopol commented on #6986
@halter73

Thanks. But can I drain the request body in AutorizationFilter layer, not middleware?

[2019-01-31 09:33] #7153 closed

[2019-01-31 09:46] springy76 commented on #5548
I just reached that show stopper, too.

[2019-01-31 09:50] shirhatti commented on #5699
@stijnherreman There is a known issue in ANCMv1 when multiple applications attempt to start at the same time. This issue has been fixed in ANCMv2, but as it stands ANCMv1 is in maintenance mode and there are no plans to backport this fix.

The mitigation in this case is to for your application to use ANCMv2

You can change your `web.config` from

[code]

to (notice the modules attribute in the han

[2019-01-31 09:57] shirhatti commented on #7029
@Maoni0 Is there anything we need to do when hosting the coreclr in our own process? Or is the GC already JobObject aware?

[2019-01-31 10:06] stijnherreman commented on #5699
Thanks, I'll look into updating to ASP.NET Core 2.2, I'll reopen this issue if the problem reappears.

[2019-01-31 10:06] #5699 closed

[2019-01-31 10:49] martincostello commented on #4789
We're in the process of doing a Server 2012 R2 to Server 2016 migration, and the scripts I have work there. As a fallback I'll wait for that migration to complete for the application in question, then I should be able to get a dump with the crashing configuration.

[2019-01-31 11:17] bunceg commented on #7030
@hoak @Tratcher Sorry for the persistence but can you let me know what the proposal is for this? I've tried plan B (use in-built DI) but we have a setup that  needs to support named resolutions, decorators, constructor injections etc. and it's complicated (if not impossible) to replicate in out of the box DI. Plan B may not actually be an option for us.

[2019-01-31 11:19] grahamehorner opened #7156 "Blazor using old SignalR verion"
Please update the Blazor SignalR reference to with the SignalR v1.1.0 at present Blazor server side is using older version which is preventing developer having background HostStartup use new SignalR to connection hubs etc that perform updates of the UI in bacground.

[2019-01-31 11:35] alexalok commented on #7057
Sure thing.

[code]

[2019-01-31 11:47] mkArtakMSFT commented on #7156
/cc @danroth27

[2019-01-31 12:09] punfai commented on #6111
2 things to check that help me:
* In VS publish settings don't select win-x86 runtime, selecting Portable allowed me to dotnet .\[app].dll successfully on the server.
* When you cut and paste the web.config settings make sure you rename .\MyApp.dll to .\YourApp.dll in aspNetCore arguments attribute.

[2019-01-31 12:19] ankitgupta2k19 commented on #7129
Something like this : addonPrice.Total has 5.65 as value
Html.DisplayFor(modelItem => addonPrice.Total);
But on view it shows microsoft.aspnetcore.mvc.viewfeatures.internal.viewbuffer

[2019-01-31 12:30] balazsmeszegeto opened #7157 "signalr-protocol-msgpack 1.1.0 does not support MessageType.CancelInvocation"
### Describe the bug
TS Client implementation of messagepack (signalr-protocol-msgpack) does not support CancelInvation message types as of version 1.1.0. Server/c# implementation of messagepack does support it.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.2'
2. Setup SignalR (server) with AddMessagePackProtocol
3. Create any streaming hub method with

[2019-01-31 12:36] Andrzej-W commented on #7048
@MartinF your problem is tracked here #5455 as:

[2019-01-31 12:59] Andrzej-W commented on #7053
Is the dot before cookie name intentional?
[code]
Here you don't have a dot
[code]

[2019-01-31 13:07] Andrzej-W commented on #7063
@TheXenocide read this old thread https://github.com/aspnet/Blazor/issues/1283

[2019-01-31 13:43] Andrzej-W commented on #7134
@chrdlx simple introduction to code formatting
https://github.com/aspnet/Blazor/issues/969

[2019-01-31 14:34] roeldewit commented on #4848
I found a GitHub project that makes it easy to just add a Resource file for the translated validation messages: https://github.com/ridercz/Altairis.ConventionalMetadataProviders

[2019-01-31 14:48] RobbyDeLaet commented on #6111
This exception is also generated when you try to run more than one InProcess app with the same Application Pool. The first one starts just fine. The moment you try to run another one, this message is displayed.

[2019-01-31 14:52] Tratcher commented on #6069
Yes.

[2019-01-31 15:02] Tratcher commented on #7102
Actual problem: Why does Dispose call Complete? That's way too late.

[2019-01-31 15:11] benaadams commented on #7029
GC is JobObject aware; however you need to start the process in the JobObject rather than applying it to the running process

From @Maoni0 https://github.com/aspnet/AspNetCore/issues/3409#issuecomment-438024985

[2019-01-31 15:33] Tr4pSt3R commented on #6069
Hi All,

I'm sure most of you have received an email from Google announcing the deprecation of Google+ APIs. From March 7th, 2019 OAuth requests to this authentication API will be shutdown completely. 

As per the following documentation snippet from Google changing scopes should be enough to continue beyond the deprecation date without any further issue.

￼
Nonetheless, I have stumbled upon an is

[2019-01-31 15:34] Tr4pSt3R commented on #6069
@Tratcher are these New scopes with their respective URLs enough, please?

[code]

[2019-01-31 15:40] Tratcher commented on #6741
What cookie auth implemetation were you using? Microsoft.Owin was the most recent implementation I'm familiar with.

[2019-01-31 15:44] milkshakeuk commented on #6741
@Tratcher technically it was what ever the last version of `WebApi` was available when using the old `Global.asax` and we were using `Forms Authentication` which used cookies.

[2019-01-31 15:51] akalcik opened #7158 "JsonPatchDocument.ApplyTo<T> should validate target model"
When ```ModelState.IsValid``` is called on model which is provided as a input parameter and the model isn't valid, ```ProblemDetails``` is generated and provided as a body output by all operations with status code >= 400.

[code]
In case above  when ```ToDoInsertModel``` validation fails because  ```Description``` is _null_, ```BadRequest```  returns following response:

[code]
Now implementation

[2019-01-31 15:54] akalcik commented on #1907
I think this is still issue which leads to inconsistencies. I opened new feature request on this https://github.com/aspnet/AspNetCore/issues/7158

[2019-01-31 15:54] Sire commented on #5524
This has caused a ton of confusion and seems highly illogical. Good that it's going to be fixed. Just curious how it could have happened?

[2019-01-31 15:57] martincostello commented on #7126
Great - that worked. Thanks!

[2019-01-31 15:59] TheXenocide commented on #7063
Thanks for the reference (and the subsequent breadcrumb trail I followed through a myriad of other issues lol).

[2019-01-31 15:59] #7063 closed

[2019-01-31 15:59] Tratcher commented on #6069
Yes, see https://github.com/aspnet/AspNetCore/issues/6069#issuecomment-459079871

[2019-01-31 16:02] Tr4pSt3R commented on #6069
Thanks @Tratcher 👍 👍

[2019-01-31 16:03] Tratcher commented on #7102
That said, it's the only way you're going to discover this error.

Note that the error you showed is actually better than most response body related exceptions. In most cases once you've started the headers any exception will cause the client to see a truncated 200 response. The developer exception page never works for response body related exceptions.

[2019-01-31 16:08] Tratcher commented on #6741
Ok, turning this back over to @shirhatti as a feature request. In the meantime you're going to have to use AspNetCore logging to get what you're looking for.

[2019-01-31 16:12] pranavkm commented on #7040
There's a couple of possible ways to go about doing this:

* You can construct and execute a `ViewResult` or `PartialViewResult` given the right context.
* You can use `ViewResultExecutor` or `PartialViewResultExecutor` to execute an instance of `IView` - See https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.viewfeatures.viewexecutor.executeasync?view=aspnetcore-2.1#Microsoft_As

[2019-01-31 16:12] #7040 closed

[2019-01-31 16:51] NTaylorMullen opened #7159 "Code blocks (@{ ... }) in TagHelper non-string attributes crash VS"
### Describe the bug
Having a TagHelper with a non-string attribute and attempting to set it using a code block (@{ }) crashes VS.

and using
### To Reproduce
Steps to reproduce the behavior:
1. In a Razor file in VS that has the MVC TagHelpers type `<script asp-append-version="@{123}"></script>`
2. See VS crash

[code]

### Expected behavior
VS doesn't crash, the value is translated into C# as `S

[2019-01-31 16:52] NTaylorMullen commented on #6113
@iAmBipinPaul thank you for the repro! I was able to reproduce it without Blazor as well and filed the following issue: https://github.com/aspnet/AspNetCore/issues/7159

[2019-01-31 17:25] Tratcher commented on #6986
Dedicating resources to an unauthorized user is a security risk. Only so much effort should be put into draining a request body for them. I suggest letting it fail as is. If this is a common scenario your users run into then make sure to verify their credentials on some prior GET action/page where the failure can more safely and easily be reported.

On another note, automatic redirects are not API

[2019-01-31 17:40] NTaylorMullen commented on #7106
Hi @jjmew, the formating part of Razor is actually handled by a different team at Microsoft. If you file this issue via vsfeedback in the IDE or https://developercommunity.visualstudio.com/ you will get more traction there.

[2019-01-31 17:59] jjmew commented on #7106
I am not sure I follow. The issue was filed via https://developercommunity.visualstudio.com/

[2019-01-31 18:08] BrennanConroy commented on #5301
We are just starting to work on this. I'd suggest giving us a few weeks to make some progress and then start filing issues :)

Glad you're trying it out though!

[2019-01-31 18:11] NTaylorMullen commented on #7106
My mistake, I entirely missed your first sentence >_<.  I wish there was more we could do for you here on aspnet/AspNetCore but sadly the deveoper community issue you filed will have the best results for getting the issue resolved.

[2019-01-31 18:28] Tratcher opened #7162 "Add benchmarks for auth infrastructure and hot paths"
One area we haven't tried to benchmark yet is AuthN and AuthZ.

High priority as these happen on most requests:
- AuthenticationMiddleware, handler resolution, etc..
- Authorization policies
- Cookie Auth, decrypting, deserializing, and verifying
- Jwt bearer auth, deserializing, and verifying

Low priority, these only happen on a small percentage of requests:
- Cookie creation and refresh, serali

[2019-01-31 18:31] blowdart commented on #7155
@HaoK This is small in terms of code right?

[2019-01-31 18:34] BrennanConroy commented on #7150
I don't think this is notable, most use cases are from `app.UseWebSockets()` which will create the `WebSocketMiddleware` from DI

[2019-01-31 18:37] pranavkm commented on #7042
From the docs:

You need the attribute both for conventional and attribute based routing.

[2019-01-31 18:39] muratg commented on #7150
@BrennanConroy sounds good, let's skip that.

[2019-01-31 19:17] Tratcher commented on #7148
@muratg this type was only made obsolete in 3.0 preview2. Are we ok removing types that were not obsolete in 2.2? Note we do not expect people to have been using this type.

[2019-01-31 19:21] Tratcher commented on #7149
@muratg The same with this one, the Obsolete was added in 3.0 preview1 (?). This was also not a type we expected anyone to use directly.

[2019-01-31 19:21] muratg commented on #7148
Thanks for the update - Let's keep it obsolete in 3.0 then. We'll remove this in a future release.

[2019-01-31 19:22] muratg commented on #7149
Thanks for the update - Let's keep it obsolete in 3.0 then. We'll remove this in a future release.

[2019-01-31 19:27] pakrym opened #7164 "Azure logging site extension exceeds MAX_PATH with new version format"

[2019-01-31 19:42] blowdart commented on #7129
What type is total price?

[2019-01-31 20:10] ryanbrandenburg commented on #5175
I wasn't able to replicate this locally using our [WebPack sample](https://github.com/aspnet/AspNetCore/tree/master/src/Middleware/SpaServices/samples/Webpack). Could someone still experiencing this produce a repro project that I could use to investigate?

[2019-01-31 20:15] blowdart commented on #7155
@LindaLawton in 3.0 we introducing a breaking change, where as soon as we encounter a null security stamp in a code path where a security stamp is required we're going to throw an exception and break. As we wouldn't expect you to encounter this with a correct database, because you'd have tested it, right, it's a developer scenario so we can break.

[2019-01-31 20:18] blowdart commented on #7155
@HaoK We'll log the second request as Debug

[2019-01-31 20:19] siberianguy commented on #6434
@BrennanConroy We've switched to a pattern in the docs (reconnect in catch), it got way better but sometimes this sequence of events happens:

It looks strange: it already connected, then somehow starts to connect again and somehow it causes a reconnect

[2019-01-31 20:20] blowdart commented on #6712
Yea, we're not going to change the functionality of a field to match the doc columns, which would be a breaking change.

Instead Hao will fix the comments :)

[2019-01-31 20:23] blowdart commented on #6513
string is a deliberate decision as the type of pass around. Once you start implementing stuff yourself you have to do the conversions. But we have an AbstractStore, [UserStoreBase](https://github.com/aspnet/AspNetCore/blob/master/src/Identity/Extensions.Stores/src/UserStoreBase.cs) which does a lot of this for you, so rather than go down to the interface, use the base class instead, or copy the bi

[2019-01-31 20:31] ryanbrandenburg commented on #4321
Blocked by https://github.com/aspnet/AspNetCore/issues/4257.

[2019-01-31 20:35] JunTaoLuo opened #7167 "Make AwaitableInfo readonly struct"
This was proposed during a PR review: https://github.com/grpc/grpc-dotnet/pull/48#discussion_r252778441.

cc @JamesNK

[2019-01-31 20:35] pranavkm commented on #7156
The 3.0.0-preview2 version of ASP.NET Core Components is built with and consequently references the 3.0 version of SignalR packages. See https://www.nuget.org/packages/Microsoft.AspNetCore.Components.Server/3.0.0-preview-19075-0444

[2019-01-31 20:36] ryanbrandenburg commented on #5442
This is partially accomplished in https://github.com/aspnet/AspNetCore/pull/4152, but even once it's merged we still have to figure out how to prevent the SPA templates from generating warnings related to webpack hotloading.

[2019-01-31 20:45] mikeandersun commented on #7040
What i talk about is separate  MVC framework from Api framework with a  lower level controller and extend it with services in to path one for MVC features and one for Api features.
I hate an Api controller that I know have a lot of View rendering features with it that don't need to those feature for an Api controller.

[2019-01-31 21:30] pranavkm commented on #7040
MVC ships with a `ControllerBase` that does not include any view rendering specific features. Controllers in the web API templates that ASP.NET Core ship with, derive from `ControllerBase` e.g - https://github.com/aspnet/AspNetCore/blob/master/src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Controllers/ValuesController.cs#L17. You could do the same.

[2019-01-31 21:50] grahamehorner commented on #7156
Q: the BlazorHub has a number of methods all have comments that they are for framework use only, with this in mind how would a background task inform the active component circuits that something has changed with regards to some shared state without using these methods but reusing the signalR communication channel?

[2019-01-31 21:59] Tratcher commented on #7117
Change `options.MinimumSameSitePolicy = SameSiteMode.Lax;` to None, it's known to interfere with OAuth logins.

Do you know what e-mail client they're using? We've had reports of Office doing strange things with links in documents that break OAuth, but I don't know if that extends to Outlook.

[2019-01-31 22:01] simonziegler commented on #6835
Thanks @rjmr97. For now I'm setting this aside while I work out what to do.

[2019-01-31 22:06] muratg commented on #4640
@JamesNK @Eilon is this to be done in Preview3? If not, could you move it out?

[2019-01-31 22:07] muratg commented on #4640
(Moving this to MVC as it's more related to routing than cookies.)

[2019-01-31 22:08] natemcmaster commented on #4260
Looks like DependencyModel has removed Json.Net, Oauth and Config.Json are in the works (https://github.com/aspnet/AspNetCore/pull/7105, https://github.com/aspnet/Extensions/pull/1028) and I believe SignalR is done (https://github.com/aspnet/AspNetCore/pull/6977). I think we'll be able to complete this for Preview 3.

[2019-01-31 22:11] muratg commented on #4661
Triage: We can drop this to None only if we check ALL the cookies the ASP.NET stack drops to see if they have appropriate value.

[2019-01-31 22:15] #6899 closed

[2019-01-31 22:15] #6897 closed

[2019-01-31 22:18] ahsonkhan commented on #4260
I could be wrong, but I think the JsonProtocol is still waiting on serializer/deserializer feature being worked on atm.

[2019-01-31 22:19] muratg commented on #4675
Closing this as there doesn't seem to be a decision on this so far. Please re-open as necessary.

[2019-01-31 22:19] #4675 closed

[2019-01-31 22:21] muratg commented on #6022
@danroth27 @mkArtakMSFT is @javiercn the owner for this? Is is to be done in Preview3 or at a later preview?

[2019-01-31 22:21] natemcmaster commented on #4260
Ah, missed that. Ok, so maybe not that close. @BrennanConroy what would be the impact of removing Microsoft.AspNetCore.SignalR.Protocols.NewtonsoftJson from the shared framework? Are you planning to add a new assembly for a non-JSON.NET implementation of the json protocol?

https://github.com/aspnet/AspNetCore/blob/09e019841c2ff70c14a0ceb2958b1fc4e6bd0c8a/src/Framework/Microsoft.AspNetCore.App.pro

[2019-01-31 22:30] BrennanConroy commented on #4260
Yes.

Worst case is we remove the reference in preview3 and require customers to have to add a reference to either the NewtonsoftJson protocol or MessagePack protocol package for signalr to work at all.

[2019-01-31 22:31] muratg commented on #5700
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-01-31 22:31] #5700 closed

[2019-01-31 22:33] muratg commented on #4641
@mightymayhem Are you still having this problem?

[2019-01-31 22:38] muratg commented on #4589
Are you sure it's the names, and not the values with "--" in them that cause this? Perhaps one of your values has this in it's Base64 encoded form?

Anyway, this doesn't look actionable from our side.

[2019-01-31 22:39] muratg commented on #4508
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-01-31 22:39] #4508 closed

[2019-01-31 22:46] muratg commented on #4352
Does your app run with in-proc or out-of-proc mode ANCM? (You can check your web.config)

[2019-01-31 22:48] muratg commented on #4128
Backlogging this for now.

[2019-01-31 22:49] muratg commented on #4125
@jmprieur Closing this. If you're interested in adding samples, please go ahead!

[2019-01-31 22:49] #4125 closed

[2019-01-31 22:53] muratg commented on #4124
There's some code here: https://github.com/aspnet/AspNetCore/blob/5a4a001d1878adceda1df9e0e754869e8a97e636/src/Security/Authentication/samples/SocialSample/Startup.cs#L276

We're not planning to do more here at this point.

[2019-01-31 22:53] #4124 closed

[2019-01-31 22:54] #4123 closed

[2019-01-31 22:55] danroth27 commented on #6022
@blowdart

[2019-01-31 22:57] blowdart commented on #6022
When did that happen? It's not identity.

[2019-01-31 22:59] pakrym commented on #7030
Changes in DI itself? There were no changes we explicitly did to resolution behaviours.

[2019-01-31 23:00] vertonghenb commented on #7127
Mmm the issue was that I was using the wrong version of Blazor, since the update notes said:
Run `dotnet new -i Microsoft.AspNetCore.Blazor.Templates`
and it should have been:
`dotnet new -i Microsoft.AspNetCore.Blazor.Templates::0.8.0-preview-19075-0444`

[2019-01-31 23:06] vovikdrg commented on #7117
@Tratcher Thank you I've modified Site policy and will deploy it to azure soon. One more note 2 days ago I did add validation if user accepted cookie and if not then facebook and google are grade out
[code]

So user cant click them until they accept cookie policy and for second day I don't see errors in App Insight.

Back to email what is strange I still see those errors most users are using gmail

[2019-01-31 23:09] vovikdrg commented on #7117
@Tratcher Also I do url where user was navigated and I do have Data protection token, so would it be possible to see why  token was invalid?

[2019-01-31 23:15] Tratcher commented on #7117
@HaoK for e-mail validation.

[2019-01-31 23:22] shellicar opened #7172 "Can't host ASP.NET 2.2 Core project targeting net461 with InProcess"
### Describe the bug
ASP.NET Core project targeting .net framework doesn't start when hosted by IIS with InProcess hosting model.

### To Reproduce
Steps to reproduce the behavior:
1. Using ASP.NET Core 2.2
2. Create new "ASP.NET Core Web Application" targeting ".NET Framework"
3. Specify InProcess hosting model.
4. Host using IIS.
5. Browse to website.
6. Receive error: "HTTP Error 500.0 - ANCM I

[2019-02-01 00:02] vovikdrg commented on #7172
Not supported.

[2019-02-01 00:02] vovikdrg commented on #7172
https://stackoverflow.com/questions/54109762/aspnetcore-2-2-targetting-net-framework-inprocess-fails-on-azure-app-service-w/54119290#54119290

[2019-02-01 00:02] vovikdrg commented on #7172
https://docs.microsoft.com/en-us/aspnet/core/migration/21-to-22?view=aspnetcore-2.2&tabs=visual-studio

[2019-02-01 00:05] Swellenator opened #7175 "Intellisense in Razor Component not working"
### Describe the bug
I have a new Razor Component project created from `dotnet new` using VS 2019 Preview 2.

When I open any of the .cshtml files eg. App.cshtml the code is all grey and pressing Ctrl+Space just inserts a space. There is no IntelliSense.

### To Reproduce
Steps to reproduce the behavior:
1. Using Preview 3 of ASP.NET Core
2. `dotnet new razorcomponents`
3. Open in VS 2019 Preview

[2019-02-01 00:08] JunTaoLuo commented on #7167
Note that we need to update this in https://github.com/grpc/grpc-dotnet as well

[2019-02-01 00:11] #7150 closed

[2019-02-01 00:17] JamesNK commented on #7167
https://github.com/aspnet/AspNetCore/pull/7169

[2019-02-01 00:18] aaronla-ms opened #7178 "When program has been renamed, ConfigureServices fails at AddMvc step"
### Describe the bug
AddMvc() throws if the file name for the executing assembly doesn't match its assembly name.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.1.2-rtm-30932'
2. Compile this code 'services.AddMvc()', renaming 'program.exe' to 'program2.exe', and then run.
3. With these arguments 'none'
4. See error

### Expected behavior
Service starts

[2019-02-01 00:29] JamesNK opened #7180 "Use "in" modifier with large readonly structs"
re: https://github.com/aspnet/AspNetCore/pull/7169#issuecomment-459535498

There are performance benefits with using the `in` modifier to avoid copying large readonly structs.

Note that adding `in` to a public method is a breaking change. Only internal methods should be updated.

https://docs.microsoft.com/en-us/dotnet/csharp/write-safe-efficient-code#apply-the-in-modifier-to-readonly-struct-para

[2019-02-01 00:39] chrdlx commented on #7134
@Andrzej-W Thank you!! I changed the description of the issue, now looks better!,   also I've found in your posts that this isn't a bug per se, but how C# behaves in these scenarios with binding and lambdas.   Now I don't know how to proceed here, I guess someone will set this as "Not a bug".

Thanks again, regards!

[2019-02-01 00:51] dmorrison42 commented on #7134
Assuming you agree that this is not a bug, you should be able to close it
yourself.

Even though there is probably nothing to fix here, you brought some
attention to a confusing C# feature and it's relation to Blazor, and
hopefully made the solution more searchable. So thanks for your
contribution!

[2019-02-01 00:55] jcasale commented on #4352
I am using 2.1 in this project so out-proc as far as I understand.

[2019-02-01 01:00] muratg commented on #4260
I'd also be fine to ask users to add the dependency directly for Preview3. cc @bradygaster in case he has any objections.

[2019-02-01 01:21] Andrzej-W commented on #7134
Hopefully this behaviour will be documented soon:
https://github.com/aspnet/Blazor.Docs/issues/371
I have created a few helpful examples in this issue - you can take a look.

As @dmorrison42 said you can close this issue yourself. You should see the `Close issue` button to the left of the green `Comment` button.

[2019-02-01 01:42] Edward-Zhou commented on #7053
It the mistake by posting code, I will update it.

[2019-02-01 02:18] TheFanatr commented on #7175
Try closing and reopening the page. In previous versions Razor Components, `.cshtml` files would fail to load IntelliSense on first open until they were closed and reopened again. If that doesn't work, try closing the page, then cleaning, closing, and reopening the solution. Past that, I'm not personally sure what to recommend. Also note that `App.cshtml` is the router configuration file. Try open

[2019-02-01 02:43] iAmBipinPaul commented on #7159
@NTaylorMullen  not to forget that it does through the same exception in the case of
`dotnet build` when running form the command prompt.

[2019-02-01 02:44] sebastienros commented on #7081
I did some tests today to get numbers on our dedicated hardware. Using the Plaintext scenario from TechEmpower, setting `Connection: close` headers on the requests, I found that ASP.NET is faster than Node.js on the same ratio as with reused connections. However, I can also confirm your results that when doing the same on HTTPS then ASP.NET is much slower than Node.js.

I will continue my investig

[2019-02-01 03:00] 1015450578 opened #7181 "Controllers are not getting discovered when using 'Microsoft.AspNetCore.TestHost' in test project"
### Describe the bug
I created a integration test project for testing my MVC application.
The server response 404 when I send HTTP request through ```TestServer.CreateClient()```
I start debug the test after create a break point at startup and IMvcBuilder.PartManager.ApplicationParts is empty after AddMvcCore().(but it works well when I set my API Project as start up project.)

When I call method

[2019-02-01 03:46] Swellenator commented on #7175
@neville-nazerane The blazor extension here https://marketplace.visualstudio.com/items?itemName=aspnet.blazor is for VS 2017 as far as I can tell.

@TheFanatr I've closed, reopened, closed the solution etc. and tried all the .cshtml files, still the same result...

[2019-02-01 03:46] #7134 closed

[2019-02-01 03:50] davidfowl commented on #4260
We just need a SignalR template 😬

[2019-02-01 04:08] yanrez commented on #7081
Thanks! It matches our observation that unless ssl handshake is involved, asp.net core is pleasantly fast.

[2019-02-01 05:09] vnikopol commented on #6986
@Tratcher  Thanks again.

[2019-02-01 05:09] #6986 closed

[2019-02-01 05:54] siberianguy commented on #6434
Sure

[code]

[2019-02-01 06:46] mkArtakMSFT commented on #7181
Thanks for contacting us, @1015450578.
@javiercn, can you please look into this? Thanks!

[2019-02-01 06:48] TheFanatr commented on #7175
Double check that you have the `ASP.NET and web development` and `.NET Core cross-platform development` packages installed via the Visual Studio installer. Based on your list of installed products, you seem to be missing a couple that I have, and I literally only installed the aforementioned packages.
![image](https://user-images.githubusercontent.com/16641853/52107081-dd0f9f00-25a9-11e9-8604-e885

[2019-02-01 06:51] mkArtakMSFT commented on #7178
Thanks for contacting us, @aaronla-ms.
@pranavkm, isn't this by-design? Thanks!

[2019-02-01 07:16] javiercn commented on #7181
@1015450578 Thanks for reaching out.

Seems like you are trying to perform an integration test. You are likely missing copying the .deps.json file of the project to the output folder of the test project. There is a better approach you can take described below:

https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-2.2

[2019-02-01 07:16] #7181 closed

[2019-02-01 07:19] javiercn commented on #6022
We can validate the options here using "options validation" or just throw an exception, it shouldn't be very costly, but it's very low on priority IMO

[2019-02-01 07:19] javiercn commented on #4635
@muratg still me

[2019-02-01 08:13] javiercn commented on #4635
Found the issue:

https://github.com/aspnet/AspNetCore/blob/master/src/Azure/AzureAD/Authentication.AzureADB2C.UI/src/AzureAdB2CAuthenticationBuilderExtensions.cs#L64

This should be TryAddEnumerable

[2019-02-01 08:43] SamVogelskamp opened #7182 "[Blazor] Include mouse position in page coordinates in UIDragEventArgs"
Expand the current UIDragEventArgs by `pageX` and `pageY` variables.

[2019-02-01 08:56] ankitgupta2k19 commented on #7129
Its decimal type. When displayed as string it works fine. But when Html.DisplayFor it renders view buffer

[2019-02-01 09:08] TheFanatr opened #7183 "Incorrect Caching for Scripts in Razor Components"
# Script Served with Improper Caching Metadata in Default Razor Components Project
Files such as scripts, which are regularly updated during development, are being cached by at least Chrome, preventing changes to be reflected in consecutive runs of the application after changes were made.

## Steps to Reproduce
1. Create a default Razor Components project.
2. Add a `.js` file to `wwwroot` that doe

[2019-02-01 09:55] J0nKn1ght opened #7184 "IRouter no longer supported in 2.2"
In the blog post about the changes in 2.2 ([here](https://blogs.msdn.microsoft.com/webdev/2018/08/27/asp-net-core-2-2-0-preview1-endpoint-routing/)), you asked people to say what they were using IRouter for.

We have a high-profile live site, which is currently on AspNetCore 2.1, and uses IRouter to serve dynamic pages from a SQL database.  A CMS allows the sitemap to be created as a series of Pag

[2019-02-01 10:01] TheFanatr commented on #7183
Oddly enough, this seems to only trigger after something specific happens with the project. It does not occur by default, in contrary to what the reproduction steps claim. I think what triggered it was when the page failed to show anything when I added a `@page` directive with `/{message:string}`, which is apparently invalid, something messed up with the cache. Whatever it was, it happened with my

[2019-02-01 10:04] adrian109 commented on #7106
I have created an issue via the VS Feedback in the IDE:
[https://developercommunity.visualstudio.com/content/problem/442808/razor-file-not-formatting-correctly-for-telerik-ke.html](https://developercommunity.visualstudio.com/content/problem/442808/razor-file-not-formatting-correctly-for-telerik-ke.html)

[2019-02-01 10:06] asbjornu commented on #4249
🙋🏼‍♂️ I would love to have the ability to push resources over an established HTTP/2 connection with ASP.NET.

[2019-02-01 10:08] furoraest opened #7185 "[RazorComponents] - how to change RazorComponents default startup parameters?"
### Description
there is a method describing how to change default signalR buffer size for Blazor in
https://github.com/aspnet/Blazor/issues/1614

How to do same in RazorComponents?

[2019-02-01 10:13] vovikdrg commented on #7117
Happend again "An error was encountered while handling the remote login. Correlation failed."

[2019-02-01 10:15] LindaLawton commented on #7155
@blowdart will that also address [7055](https://github.com/aspnet/AspNetCore/issues/7055) which is related to the cookie testing and has nothing to do with the database.

[2019-02-01 10:16] vovikdrg commented on #7117
Will app insight snapshot help with this issue?

[2019-02-01 10:21] davidfowl commented on #4249
It would help if you can detail how you think you would take advantage of this feature in real applications. Code samples help as well.

[2019-02-01 10:22] springy76 commented on #5548
BTW: Show-stopping means that when this happens then the `Router` component fails to initialize it's route dictionary and you will see absolutely nothing (but an error message scrolling by in server console).

[2019-02-01 10:37] guylando opened #7186 "Automatically authenticate user using facebook oauth handler when user facebook access token is available"
The question: If our client side code authenticates the user and gets the user access token from facebook, and then we send it using ajax to server, how can we authenticate the user on server side using the net core facebook oauth handler in this situation (https://github.com/aspnet/AspNetCore/blob/master/src/Security/Authentication/Facebook/src/FacebookHandler.cs)?
Meaning that if we have already

[2019-02-01 11:01] asbjornu commented on #4249
I would like to use HTTP/2 Server Push to push related resources to a client; typically when a “collection” resource has been requested, each “item” resource in the collection could be pushed alongside the “collection” resource so they are available once the client starts iterating over the collection to fetch the individual items.

The alternative (and imho. sub-par) approach is to compound (“emb

[2019-02-01 11:16] davidfowl commented on #7139
So are you trying to rate limit the websocket connection itself or individual messsges? I ask because you say “before a response is sent to the client” which response is that?

[2019-02-01 11:22] davidfowl commented on #7077
Dunno feels like IApplicationLifetime callbacks should mostly be replaced with hosted services

[2019-02-01 11:39] copycatam commented on #6465
@pakrym
Yes. invalid stdoutLogFile prevents apps from starting. I face the same problem today and changing stdoutLogFile fix it.

[2019-02-01 11:51] guylando commented on #7186
I crafted some code assuming we have facebookAccessToken and facebookAccessTokenExpiration from client side:

[code]

[2019-02-01 12:14] davidfowl commented on #4249
How does that concretely change what you’re doing today? What are you doing today? What big downsides are you seeing and what would you expect the big upside to be.

I’m looking for something very concrete and not abstract, that’ll help us think about how to prioritize and even implement the feature.

[2019-02-01 12:22] vchirikov commented on #5669
Any news?

[2019-02-01 12:48] DekInc opened #7187 "Views not validating at compiling time"
### Describe the bug
When you have a view defining a model like this:
[code]
this does not show an error, the validation for the Model is not made, there should be an error
because one parameter is not passing to the view, in runtime throws an exception, but should
have been checked in compiling time

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '...'
SDK

[2019-02-01 13:23] blowdart commented on #7155
No, that's unrelated. A cookie simply doesn't drop the stamp. If the stamp is present it's baked into the cookie. Honestly this sounds like whatever implementation you have of a stamp supporting store is quite buggy.

[2019-02-01 13:51] J0nKn1ght commented on #7184
Actually, I should have carried on investigating before posting the last comment.  The tag helpers that include 'asp-route-xx' seem to work, and the UrlHelpers that are setting the id to empty string to override the ambient values work with some controller actions, but not others, so I need to try and understand why it's inconsistent.

[2019-02-01 14:14] bed007 commented on #5788
Having the same random issue...

[2019-02-01 14:51] Timynore commented on #7120
I'm having this problem too and disable endpoint routing temporary to make the url correct.

[2019-02-01 15:02] pranavkm commented on #7178
Unfortunately by design. Renaming the output file doesn't change the deps file \ assembly metadata which is what MVC uses to perform controller discovery. Building the project with `/p:AssemblyName=Program2` should work end to end.

[2019-02-01 15:02] #7178 closed

[2019-02-01 15:12] pranavkm commented on #7187
The lookup for views involves executing runtime code using the application's configured `ViewLocationFormats`, `ViewLocationExpander`, application parts etc. Even if the build could somehow validate if calls to partial are passing in the right model type, there isn't a way to determine at compile time what view is being rendered.

If you do want compile time verification, I'd suggest writing bespo

[2019-02-01 15:12] #7187 closed

[2019-02-01 15:25] pranavkm commented on #7184
cc @JamesNK \ @rynowak

[2019-02-01 15:25] pranavkm commented on #7167
Close?

[2019-02-01 15:31] brockallen commented on #4125
Azure already has samples for this, IIRC, in their repo

[2019-02-01 15:32] brockallen commented on #4589
The data protected state string is what he's talking about. // @HaoK

[2019-02-01 15:34] brockallen commented on #4661
Another idea is to change how the remote authentication handler plumbing works in ASP.NET Core handles responses: https://brockallen.com/2019/01/11/same-site-cookies-asp-net-core-and-external-authentication-providers/

[2019-02-01 15:37] J0nKn1ght commented on #7184
After my rant above 😱, I've found that everything that I've tested so far still seems to work, with the exception of the one instance of Url.Action that didn't seem honour the ambient value override that I noted above.

The question about what we will be able to do to transition from IRouter still stands, though.  If there's some guidance on how this will be handled in AspNetCore 3, as well, that

[2019-02-01 15:59] jmprieur commented on #4125
@blowdart
did you have a look at [aspnetcore-webapp-openidconnect-v2](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2)

cc: @muratg

[2019-02-01 16:10] pakrym commented on #6465
@copycatam what was invalid about your `stdoutLogFile` value? Non existent path?

Would you be willing to provide a debug log when it happens following instructions from https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-2.2#enhanced-diagnostic-logs

[2019-02-01 16:31] bradygaster commented on #4260
This seems a little painful for customers but if we message it **broadly** maybe it wouldn't sting so much. want me to start a twitter poll to see if it'd freak folks out? If we can avoid this I'd prefer not randomize customers?

w.r.t. @davidfowl and my aspiration for templates - would it behoove us to augment the existing templates to add a "add signalr?" option? That, when enabled, would lay do

[2019-02-01 16:33] BrennanConroy commented on #4260
@bradygaster It's not really in my control. We are blocked on corefx getting the serializer and deserializer in.

[2019-02-01 16:36] bradygaster commented on #4260
@BrennanConroy ah ok - thanks for the info & context. will discuss during triage.

[2019-02-01 16:41] SteveSandersonMS commented on #7156
The SignalR communications channel is an internal implementation detail for Razor Components. It's not something that application code sees or should be interacting with.

With Razor Components, components can notify that state has changed by calling `StateHasChanged` (e.g., in response to a background event). The framework will take care of re-rendering and sending the updates to the browser.

Si

[2019-02-01 16:41] #7156 closed

[2019-02-01 16:50] natemcmaster commented on #4260
I don't want to be hasty and make things too hard for customers. I'm trying to weigh this against front-loading breaking changes, such as removing Newtonsoft.Json from the framework.

If serializier/deserializer API's aren't coming in time for preview 3, there is an alternative. We could exclude Newtonsoft.Json from the targeting pack, but keep it in the runtime while SignalR waits for the new API

[2019-02-01 16:55] csharmath opened #7188 "2 identical IIS schema files aspnetcore_schema_v2.xml and aspnetcore_schema.xml"
### Describe the bug
After installing ASP.NET Core 3.0 Runtime and Hosting bundle I've noticed that there are 2 identical IIS schema files installed under C:\Windows\System32\inetsrv\config\schema.

### To Reproduce
Steps to reproduce the behavior:
1. Install the hosting bundle on a clean box
2. observe the contents of C:\Windows\System32\inetsrv\config\schema
3. compare the 2 aspnetcore files and

[2019-02-01 17:01] muratg commented on #4128
Removing from backlog so that it's back in triage.  cc @Eilon

[2019-02-01 17:03] grahamehorner commented on #7156
@SteveSandersonMS I’ll open a separate issue for the above and provide more detail as I’m not 100% sure or clear how a background task can trigger the clients to render a component when then background task determines some condition or state changes

[2019-02-01 17:09] muratg commented on #4260
My opinion on adding a SignalR template: We should carefully analyze the cost/benefit ratio before deciding to have one. It's not clear to me what it even look like. Perhaps if scaffolding existed to add SignalR would be a good middle ground, but even that would have costs.

[2019-02-01 17:11] muratg commented on #4260
@natemcmaster Wouldn't that be more "hacky" in the build system? We should probably completely yank it out and tell people to add the referene manually. I believe we'll have some form of serialization/deserialization in P4. The problem of keeping it in in some form is that we know the full effects of removing it until P4.

[2019-02-01 17:15] grahamehorner opened #7189 "Q: Please provide sample or guidance on Component Circuit"
I would like to understand the following use case with regards to Component Circuits.
1. The user interface has a number of Components that injected shared state which is displayed in a user friendly format,
2. The Server-Side application has a long running task the monitors for external event/data ie. SerialPort data, and as/when data arrives updates the shared state that is injected into the com

[2019-02-01 17:22] natemcmaster commented on #4260
Hiding a reference assembly isn't actually too hacky. We might have to do this for other assemblies anyways, per https://github.com/dotnet/corefx/issues/34906#issuecomment-459540531

[2019-02-01 17:23] muratg commented on #7189
cc @danroth27

[2019-02-01 17:37] replaysMike commented on #7139
Yes I'm trying to rate limit the websocket connection. In other words, the rate/frequency of incoming websocket messages over the connection.

The response is modified when throttling occurs, which means I need to intercept the request and prevent it from going further. If it exceeds max rates it would need to modify the response with an appropriate error. It's not ideal to do this on each endpoin

[2019-02-01 17:45] Tratcher commented on #7186
No the FacebookHandler is not designed for this, nor would it be appropriate to retrofit it like that. If this sort of thing were to be built it would be with a new handler.

Such a handler would have to take the access token, download the associated user info from Facebook, and hydrate a ClaimsIdentity. You wouldn't want to do this on every request, you'd have to think about how to cache the info

[2019-02-01 17:47] natemcmaster opened #7190 "Hide reference assemblies which are implementation detail only"
Follow-up to https://github.com/dotnet/corefx/issues/34906

**Problem**
It is sometimes useful to hide a reference assembly from the surface area of a shared framework. AspNetCore does not currently have a mechanism for doing this. Microsoft.NETCore.App excludes some reference assemblies even though implementations exist in the framework. IIUC this was done to provide the flexibility to change int

[2019-02-01 17:52] bradygaster commented on #4260
I'd prefer just litter all the templates with "opt-in" functionality for SignalR, which'd drop in what they need in Startup.cs and a sample Hub class. Yes, there's a cost, but I think we should start thinking about when to pay that cost. I'll set up another issue for us to use to discuss this idea, so we can re-focus this thread on the issue at hand.

[2019-02-01 17:52] guylando commented on #7186
@Tratcher The client side is not trusted by the server so by getting the access token from the client and then doing what I wrote, the server can verify that the user really authenticated to the desired facebook account and then find the associated system account to that facebook account and log it in
That code will be executed only once during login/signup when receiving the request from client s

[2019-02-01 17:58] Tratcher commented on #7117
@vovikdrg I don't know what's in one, try it and see.

Debugging Correlation failed ususually requires a Fiddler trace for the whole login flow.

[2019-02-01 17:58] blowdart commented on #4589
Yea, the trigger here is "--" and we're not about to invent a new encoding just to bypass an overly sensitive rule.

The Azure folks said exclusions are available in production and that's their solution.

[2019-02-01 18:02] guylando commented on #7186
The code I wrote takes the access token and simulates as though it was received as a response of conversion from "code" parameter and then retrieves user information as you wrote using facebookOauthHandler.Createticket and create claim identity.
Thats exactly what the code I wrote does.

[2019-02-01 18:35] blowdart commented on #7055
Frankly it sounds like there's no stamp for the user's claims in the database. If it's there and given to us by the store we write it, it's not special, its just a claim with a known name.

If it's not in the cookie, its either not in the user's claims, or custom user store code is doing something wrong.

[2019-02-01 18:37] guylando commented on #7186
@blowdart
1. Facebook requires to use facebook sdk which is 100% client-side as you say.
2. This does not mean we will entirely bypass our server authentication and the server still needs to authenticate the user.
3. Thus we need to somehow get the facebook sdk authentication data and use it for the server authentication.

Its a standard scenario of a mobile app with facebook login (of a security-

[2019-02-01 18:39] blowdart commented on #7186
It's not a standard scenario, otherwise facebook would support this.

When you get a token from facebook it's for the app that requested it. If you request it on the client via Facebook's javascript SDK then then token they issue is for the javascript application, not the server.

Facebook doesn't require you to use the SDK for auth, if auth is server side, because they don't have an SDK for serve

[2019-02-01 18:41] guylando commented on #7186
They do require us to use facebook SDK for auth, see my original post. They sent us a warning that the app will be blocked without it and indeed you can find under section 8.2 their requirement of using the facebook SDK: https://developers.facebook.com/policy/
That is the whole point of this github issue

[2019-02-01 18:44] guylando commented on #7186
![image](https://user-images.githubusercontent.com/14879163/52142716-23283980-2662-11e9-8f0f-d3f6935d7270.png)

[2019-02-01 18:48] guylando commented on #7186
Here is their warning email:

![image](https://user-images.githubusercontent.com/14879163/52142893-b6616f00-2662-11e9-86a7-26808c26589e.png)

[2019-02-01 18:48] blowdart commented on #7186
Ah, it's an iOS app. But again, it's only because you are logging in ON THE CLIENT you must use their SDK. If login is server side then all those 3rd party SDKs they list can come into play, or indeed [their documented flow via OIDC](https://developers.facebook.com/docs/facebook-login/manually-build-a-login-flow#checktoken), which also gives you a way to validate issued tokens.

In any case none o

[2019-02-01 18:51] #4320 closed

[2019-02-01 18:51] guylando commented on #7186
No, you can't do it on server if you want the user to login using facebook. Here is why and what they answered when I showed them the dotnet server flow tutorial:

![image](https://user-images.githubusercontent.com/14879163/52142999-13f5bb80-2663-11e9-98f6-af923f581560.png)

So the conclusion is that what I am talking about is from now on (its a new facebook policy) a standard scenario for apps wh

[2019-02-01 18:52] guylando commented on #7186
The only way to satisfy they demand of not requiring user password is by using their client side native SDK.

[2019-02-01 18:53] blowdart commented on #7186
Well they'd better have a word with Azure AD and Auth0 then, or any server app that tries to authenticate as none of these things can use native SDKs.

[2019-02-01 18:54] guylando commented on #7186
https://community.auth0.com/t/hybrid-mobile-app-using-auth0-for-facebook-authentication/19747/8
I am guessing auth0 uses native sdk inside their hybrid cordova plugin

[2019-02-01 18:56] hajekj commented on #5669
Just for reference: https://blogs.msdn.microsoft.com/webdev/2019/01/29/aspnet-core-3-preview-2/

[2019-02-01 18:56] guylando commented on #7186
Anyway this is solvable and provides a better user expirience if the user does not need to enter password and yet by taking his access token and validating and authenticating on server we still have full security in place. So I think this should be considered as a feature enhancement to the facebook auth handler.

[2019-02-01 19:01] ronebrandao opened #7194 "IFormFile is null in Razor Page OnPost() method."
I'm having a tricky problem.

I created a model with an IFormFile property in my page and binded it. On OnPost() method, the IFormFile property value is null. But, if I try to get the file using `var result = HttpContext.Request.Form.Files[0];` it works.

But that's not the tricky part yet.

At home, I'm using asp.net core on linux and this does not happens. But at work, where I use windows, it do

[2019-02-01 19:39] #7167 closed

[2019-02-01 20:16] natemcmaster commented on #6304
@Eilon what are your thoughts on this one? Do you want contributors working our repo to be able to run "build.cmd" and have it build _everything_? I can see this going two ways.

Pros:
- build.cmd is simple and you don't have to hunt for command line args

Cons:
- For this work, you must have all prerequisites installed, which include .NET 3.5 (wix toolset), NodeJS, JDK, and Visual Studio.

[2019-02-01 20:19] natemcmaster opened #7196 "build.cmd -arch x64 still builds x86 assets"
Running `build.cmd -arch x64` (and `-arch x86`) still builds the Server IIS projects for both CPU architectures. This is currently necessary for two reasons:

* Windows installers bundle both architectures in one output
* NuGet packages that bundle ANCM include both architectures

Fixing this would probably speed up the build because we could build x86 and x64 in parallel, and then join together t

[2019-02-01 20:31] chrisckc commented on #6200
I encountered this unexpected null issue today, as @gregoryagu points out, there is never a case where it should return null, it should throw instead.

I have found that the behaviour is a bit different, when using Url.Page inside the razor pages inside the "Identity" area, the `area="Identity"` property is not required, it returns the correct url. That is how it's used inside the scaffolded Ident

[2019-02-01 20:32] Tratcher commented on #4150
Proposal: "DOTNET_"

[2019-02-01 20:33] pranavkm opened #7197 "Enable tslint on Microsoft.Interop.Js"
The `build` command needs to be updated to perform linting:

`"build": "npm run clean && npm run build:tslint && npm run build:esm",`

[2019-02-01 21:18] csharmath commented on #3793
If you can't take your host offline behind the loadbalancer and would want to do it quicker, here is one way with symlinks and some powershell.
I was thinking of doing something like this.

It's quicker as you don't have to stop the app pool during the copy + recycle is better than a hard stop as it lets the current requests complete, so less downtime.

[code]

Here is the gist
https://gist.github

[2019-02-01 23:03] BrennanConroy commented on #6434
Looks like there is a bug in how we recommend doing the reconnect. The `onclose` callback is being called and at the same time `connection.start()` throws, so you get 2 reconnect attempts. The workaround for now would be to set a flag and check it in the catch and the `onclose` callback.

[2019-02-01 23:07] kanadaj commented on #3793
@csharmath or there is also docker I guess. No file locks that way, and it can do rolling updates via swarm/k8s/okd

[2019-02-01 23:13] NTaylorMullen opened #7200 "Version Razor tooling release branches appropriately"
Today when we do a VS release from one of our ship branches the versions increment. This means if we service an older release that older releases versioning will trump any newer releases when the changes are merged forward. This then results in us needing to re-insert into any newer branches.

Assigning to @rynowak because he has all the infrastructure knowledge for how to get our VSTS pipelines t

[2019-02-01 23:22] csharmath commented on #3793
Sure, that's even better of course. sigh, not every place has that yet.
For the rest of the oldschool setups you need to yakshave it until it works for you with no or minimal downtime.

[2019-02-01 23:55] HaoK opened #7202 "[Helix] build error when building helix payload for Components.Server.Tests.csproj"
Something is different about this project in that it fails to build the npnproj files which leads to

[code]

Nate thinks this is due to https://github.com/aspnet/AspNetCore/blob/d4c55df8f43cc86abaf7beea9185aedbdd316e49/src/Components/Browser.JS/src/Microsoft.AspNetCore.Components.Browser.JS.npmproj#L16-L22 not being built.

[2019-02-02 01:01] phantasm33 opened #7204 "Added support for multiple values (arrays) in default claim action - Remove Original Claim"
2.1.0-preview1 added support for multiple values (array) in default claim action as requested in:

- Issue #1449 - https://github.com/aspnet/Security/issues/1449#issuecomment-332882954

- Pull Request #1501 - https://github.com/aspnet/Security/pull/1501

While the added class - [JsonKeyClaimAction](https://github.com/aspnet/AspNetCore/blob/master/src/Security/Authentication/OAuth/src/JsonKeyClaimA

[2019-02-02 01:17] shellicar commented on #7172
I would expect an error when publishing then, as it should be obvious that it wouldn't work at that point.

[2019-02-02 02:58] robertmclaws opened #7206 "Blazor default templates have nav render issues"
The default templates for Blazor have several issues with the CSS that breaks rendering in the following situations:

- when the Navigation list contains more than approximately 12 items on either Desktop or Mobile
- the browser is full screen on a 4K monitor

In these cases, you will experience one or more of the following issues:

- The background gradient will cut off at the end of the list, le

[2019-02-02 04:40] furoraest commented on #7185
I pointed out SignalR as a current need to modify transport buffer, but yes if there is need to change something in configuration, what would be the proper way, currently all is neatly packaged in:
public void ConfigureServices(IServiceCollection services)
        {
            services.AddRazorComponents<App.Startup>();
        }

[2019-02-02 04:55] Eilon commented on #7194
@ronebrandao sorry you're running into this issue. Can you show what your code looks like? That will help us reproduce the issue and investigate.

[2019-02-02 05:57] MasHero7 opened #7209 "No data saved in the partial view"
I'm trying to save data updated on the partial view called in parent Edit action. But the updated data is not saved.

I have a parent table 'Nz' and a child one 'Mkh' and trying to retrieve all the data of it in 'Nz' edit action as a partial view to let the user update it. The data is retrieved correctly but when the user update the data and press submit no data is saved! on the other hand, I want

[2019-02-02 06:42] davidfowl commented on #4260
A SignalR template would be fine tbh, we resisted it for long but it would be a useful starting point as there's lots of moving pieces

[2019-02-02 06:50] davidfowl commented on #4150
I think we should support both `DOTNET_` and `ASPNETCORE_`

[2019-02-02 06:51] davidfowl commented on #7162
Putting this in a specific preview so it doesn't happen at the end when we can't react.

[2019-02-02 07:02] muratg commented on #4150
@davidfowl Which one overrides the other, in case both are specified?

[2019-02-02 07:03] davidfowl commented on #4150
In that odd case DOTNET wins.

[2019-02-02 07:37] BrennanConroy commented on #6434
No, depending on when the failure is internally the `onclose` may not be called but start will throw. We'll look at fixing this in a future release.

[2019-02-02 07:42] siberianguy commented on #6434
Ok, I understood. I will try to play with the field and get back to you.

Overall though it's confusing how SignalR after like 10 years of development still not only doesn't have built-in reconnection logic but has bugs in pretty basic connectivity features. Just imagine how much time is being wasted by .net developers facing this kind of basic problems all over the planet. I'm not trying to bash

[2019-02-02 08:29] simonziegler opened #7211 "Razor Components stops responding"
I have built a CRUD app with Blazor that I ported to Blazor Serverside and now Razor Components (with ASP.NET Core 3.0 preview2).

Since going serverside, I find intermittently that the app freezes and stops responding to user input. I have not yet had a chance to look into what is going on, but wonder if anybody else has experienced this and if it is a bug. My observations and thoughts are:

* Th

[2019-02-02 09:18] mrlund commented on #6422
I was having the issue with the `Microsoft.AspNetCore` file or assembly, and solved it by adding a package reference to the test project, like so:
`<PackageReference Include="Microsoft.AspNetCore.App" />`

[2019-02-02 10:54] hez2010 opened #7212 "Cannot find Views in F# mvc project"
### Describe the bug
Cannot find Views in F# mvc project:

An unhandled exception occurred while processing the request.
InvalidOperationException: The view 'Index' was not found. The following locations were searched:
/Views/Home/Index.cshtml
/Views/Shared/Index.cshtml
/Pages/Shared/Index.cshtml
Microsoft.AspNetCore.Mvc.ViewEngines.ViewEngineResult.EnsureSuccessful(IEnumerable<string> originalLoc

[2019-02-02 12:12] ronebrandao commented on #7194
I have a FileUpload class:

`public class FileUpload
    {
        [Required]
        [Display(Name = "Title")]
        [StringLength(60, MinimumLength = 3)]
        public string Title { get; set; }

        [Required]
        [Display(Name = "Annotations")]
        public IFormFile Annotations { get; set; }

    }`

My index model looks like this:

`[IgnoreAntiforgeryToken(Order = 1001)]
    pub

[2019-02-02 12:19] furoraest commented on #7185
I think it is related to the same topic... how to let notifications to UI side using already existing connection.
I know how to make connection from UI side but it seems bit excessive, since there is already connection up and running.
I think some additional documentation or examples would be appreciated.

[2019-02-02 13:38] chrispaynter commented on #5144
Looking forward to this fix!

[2019-02-02 14:53] pierslawson commented on #4589
@murtag I was very sure at the time I raised this that it was the name that had a problem. The logging by the WAF was quite explicit about the cause. Currently we are having to run our system with the rules "942440 SQL Comment Sequence Detected" and "942450 SQL Hex Encoding Identified" turned off.

I raised this on the WAF UserVoice forum as it seems to be the only place to communicate with the te

[2019-02-02 14:57] simonziegler commented on #7211
I managed to capture information from the console (using Edge) when I got a crash. Sorry for having redacted the website's URL.

![rc crash](https://user-images.githubusercontent.com/11708435/52165601-d3498100-26fa-11e9-8009-58c9efb29565.jpg)

[2019-02-02 15:03] Tratcher commented on #7204
The code today is:
https://github.com/aspnet/AspNetCore/blob/f3072339de24621b279694b75cadb4526e14b87d/src/Security/Authentication/OAuth/src/JsonKeyClaimAction.cs#L40-L46
How does `role - ["foo","bar']` get added?

[2019-02-02 15:08] Tratcher commented on #4150
Adding the web hosted service already adds `ASPNETCORE_` and overwrites the prior one.

[2019-02-02 15:19] brockallen commented on #4589
I do know those exclusions are app-wide, and can't be set for a specific path/url, so unfortunately this means the entire app will not longer have the rule in place, rather than just the redirect uri for OIDC.

[2019-02-02 15:40] Tratcher commented on #4150
Yes

[2019-02-02 15:42] davidfowl commented on #4150
Lets write a test for that case to make sure it's covered. The original plan sounds fine in that case. It does mean in the new worker template the DOTNET_ENVIRONMENT flag should be set instead of ASP.NET Core environment. We should also determine if we want to chose the new web templates to use the DOTNET_ENVIRONMENT  in launch settings.

cc @glennc

[2019-02-02 16:37] endeffects opened #7213 "Support HostedServices in Blazor"
The wire up for the HostedServiceExecutor is missing in Blazor.

[2019-02-02 21:08] quintonn opened #7215 "Https redirect not working with Kestrel hosted server when using ports."
### Describe the bug
I am trying to run a console application that hosts a kestrel server.
I set up my server to listen to http and https on different ports.
I've setup https redirection to test that a controller which requires https will be redirected if a call is made to http only.
But currently the redirect is made, but the port is discarded.
Strangely, i have a unit test using TestServer with

[2019-02-03 01:34] BerserkerDotNet commented on #5669
I've tried on VS 2019 Preview 2.1 with .Net Core 3.0 preview 2 SDK installed, but still, my Blazor app does work. Any extensions I need to install or changes I need to do to my project?

[2019-02-03 01:36] phantasm33 commented on #7204
@Tratcher

Thanks for asking the question. It got me rethinking about the issue. I believe I see my mistake:

[code]
In the code above, by the time the JsonKeyClaimAction is run, the role claim is already mapped into the Identity.Claims collection. This is why I need to remove it.  I suspect that the correct solution is to add the "role" claim to the list of exempted claims:

[code]

I'm thinking

[2019-02-03 02:19] longinos10 opened #7216 "Razor Components code behind"
How do you use code behind in Razor Components with asp.net core 3 preview 2,
 before when it was Blazor Server Side it was like this

in the .cs file
    public class IndexBase : BlazorComponent

and in the cshtml file
@inherits IndexBase

 Never mind i jus found it is ComponentBase

[2019-02-03 04:07] Plasma commented on #4564
We upgraded to .NET Core 2.2 and memory climbed to 100% over a few days easily. I'm not sure of the cause yet but have taken a few memory dumps but unable to analyze right now, will hopefully understand more soon.

[2019-02-03 04:39] #7216 closed

[2019-02-03 05:02] dougbu commented on #4564
This issue is a duplicate of #4802. The #6793 fix will correct both issues, in 3.0 Preview 3 we hope.

(@pranavkm #7052 relates to binders that succeed unconditionally (and repeatedly) in the same request. The `FormFileModelBinder` isn't in that category.)

[2019-02-03 05:02] #4564 closed

[2019-02-03 05:41] syndicatedshannon commented on #6712
It's not unusual to consider documentation a valid contract. Thus my historical investigation.

[2019-02-03 07:39] norgelera commented on #2202
Can't seem to fix the same issue on my end. My model only receives null / default values whenever I do HttpPost. Both in postman and Angular7 (typescript). Tried adding `[FromBody]` and `Content-Type: application/json` when doing requests, still no luck.

[2019-02-03 08:03] norgelera commented on #2202
Resolved mine. Removing `[JsonArray]` was my solution. But still with `[FromBody]` and `Content-Type: application/json` as header.

[2019-02-03 10:07] dazinator opened #7219 "modifying application parts at runtime"
Suppose on start-up I load some plugin assemblies from a plugins folder, as application parts, containing controllers, views etc.

Suppose I create a page where an Admin user can upload a zip file containing a plugin, and my application will extract this to it's plugin  directory.

Is there anyway to load the new application part at runtime without restarting the whole application?

[2019-02-03 10:16] simonziegler commented on #7211
Here is another mode of failure that I find in only one circumstance, which is after the "Log In" button is pressed on my login splash screen at startup.

![image](https://user-images.githubusercontent.com/11708435/52175497-bcf40180-279c-11e9-864c-e46b0fa7ef43.png)

[2019-02-03 14:43] StefanoChiodino commented on #3540
Don't do the same mistake I was doing: if you log in your machine and the change the machine (e.g. use docker) and keep using the same domain/port then you must clear the browser cache or it will try to use a key generated on the previous machine.

[2019-02-03 16:10] quintonn commented on #7215
I figured out a workaround.
If I change my call `services.AddMvcCore()`
to this:
`services.AddMvcCore(x => x.SslPort = 5000);`
Then the https redirection is working.

This seems redundant. I'm setting the same setting on more than 1 place and it also seems to be ignored in one place.

Should one or the other setting not be removed then?
And since this is the issue, the call to `app.UseHttpsRedirec

[2019-02-03 16:49] martincostello opened #7220 "Missing type forward for JsonResult in ASP.NET Core 3.0?"
_Also posted as https://github.com/domaindrivendev/Swashbuckle.AspNetCore/issues/1030_

### Describe the bug

If an ASP.NET Core 3.0 preview 2 application references Swashbuckle.AspNetCore `4.0.1` and uses the `Microsoft.AspNetCore.Mvc.JsonResult` anywhere in code, a `CS0433` compiler error is generated and the application will not compile.

[code]
### To Reproduce

  1. Create a new ASP.NET Core

[2019-02-03 17:11] kishanAnem commented on #4831
Hi @dougbu

I've opened a PR.

[2019-02-03 19:26] furoraest opened #7222 "[RazorComponents] update dotnet cli template "razorcomponents""
### Is your feature request related to a problem? Please describe.
What is described in [https://docs.microsoft.com/en-us/aspnet/core/razor-components/components?view=aspnetcore-3.0#razor-templates](url)#Base class inheritance for a "code-behind" experience, seems currently not working with latest .net core 3.0 preview2

### Describe the solution you'd like
updated template what is created via "do

[2019-02-03 20:02] simonziegler commented on #7211
Looking into this I find the following:

* My code has some bugs that have surfaced on the migration from Blazor (WASM) via Blazor Server Side to Razor Components: these are for me to fix
* These are transient data consistency bugs that Blazor was resilient to
* Razor Components however loses its SignalR connection when one of these bugs gets hit, which is why I wondered if the bug was actually in

[2019-02-03 20:29] davidfowl opened #7223 "Building a new project produces a refs folder in the output"
### Describe the bug
Superfluous refs folder with a bunch of dll are put in the output folder on build.

### To Reproduce

1. Download the latest core-sdk (https://github.com/dotnet/core-sdk#installers-and-binaries)
2. Make a new Empty Web project
3. Build the project
4. Look at the output folder bin\Debug\netcoreapp3.0
5. Observe the large `refs` foler

### Expected behavior
There should be no re

[2019-02-03 20:30] davidfowl commented on #7223
cc @pranavkm

[2019-02-03 21:55] dougbu commented on #4946
@ArtemAstashkin I see now that this issue is a duplicate of aspnet/Mvc#7992. That bug was fixed in ASP.NET Core 2.2.0 (with aspnet/Mvc@f2608c2ff4). Suggest upgrading your application to 2.2.1, the latest 2.2.x release.

[2019-02-03 21:55] #4946 closed

[2019-02-03 22:32] YankdaCode commented on #7112
Probably this can be one of the examples in that documentation or the one that describes MSBuild stuff. Thanks for the help.

[2019-02-03 23:32] BrennanConroy opened #7226 "Flaky test: Microsoft.AspNetCore.Components.Test.RendererTest.CanRenderAsyncComponentsWithAsyncChildInit"
https://dev.azure.com/dnceng/public/_build/results?buildId=86394
[code]

[2019-02-04 00:11] Swellenator commented on #7175
As some background, I ran the following command to create my VS 2019 install:

`"vs_enterprise.exe" --layout vs2019offline --lang en-US --add Microsoft.VisualStudio.Workload.Azure --add Microsoft.VisualStudio.Workload.NetCoreTools --add Microsoft.VisualStudio.Workload.NetWeb --includeRecommended`

After @TheFanatr 's comment I have also run

`"vs_enterprise" --layout vs2019offline --lang en-US --a

[2019-02-04 02:01] pranavkm commented on #7212
Dup of https://github.com/aspnet/AspNetCore/issues/4320. This will be addressed in the preview3 release. For preview2, the best workaround I'd recommend is to use a combination of Razor Class Library project + F# Empty web project.

[2019-02-04 02:01] #7212 closed

[2019-02-04 02:02] pranavkm commented on #7226
cc @javiercn

[2019-02-04 02:35] Eilon commented on #7194
@ronebrandao thanks for the additional info, we will have someone take a look at this.

[2019-02-04 02:38] Eilon commented on #6304
Well, I don't speak for all contributors, so I don't know 😄

One way to go about this is that if we don't have any data on any actual problems that are being reported, to leave things as they are.

For example:
* Are people complaining? (E.g. that the build takes too long? Doesn't produce enough assets? Can't figure out how to get a particular sub-component to build?)
* Are we getting poor quality

[2019-02-04 02:41] Eilon commented on #7219
@javiercn / @sebastienros - any ideas or thoughts on this?

I suspect the answer is that it isn't supported using ApplicationParts. But a more full-featured system such as Orchard 2 might support some concept like this.

[2019-02-04 02:44] Eilon commented on #7220
Presumably due to this breaking change: https://github.com/aspnet/Announcements/issues/325

I don't think a type forwarder can be use because I thought they could be used only when the type moved to an assembly referenced from the original assembly. In this case clearly that can't happen because the whole idea was to move `JsonResult` to a new, un-referenced assembly, that the developer has to add

[2019-02-04 02:44] Eilon commented on #7223
Also tagging @natemcmaster

[2019-02-04 02:46] sebastienros commented on #7219
Orchard Core cheats by reloading the DI and middleware pipeline when there is a new module enabled. The application doesn't have to restart, so it's fast (<500ms) and because it doesn't happen a lot and mostly at design time it's good enough.

But OC doesn't load assemblies dynamically, they have to be statically linked. Only the decision for which ones must be activated is taken dynamically. The

[2019-02-04 03:30] highfield opened #7229 "Can't compile SignalR+TypeScript with MessagePack plugin"
I've been successful by creating a small app using AspNetCore 2.2, SignalR, and a TypeScript front-end. The bundle is created via WebPack.

What I would like to try is to enable the MessagePack protocol plugin. However, [the docs](https://docs.microsoft.com/en-us/aspnet/core/signalr/messagepackhubprotocol?view=aspnetcore-2.2) about how to install it seems not accurate enough. Although the command-

[2019-02-04 03:43] yasin-uohyd commented on #5280
hi @davidfowl , Are we going to release this anytime soon? I'm working on a micro-service orchestration design based on Azure SignalR Service, this feature would make my architecture simple.

[2019-02-04 06:31] dazinator commented on #7219
I'm using https://github.com/natemcmaster/DotNetCorePlugins to handle loading assemblies dynamically into an application load context (I used to handle this logic myself but natemcmaster does a much better job than I did). This handles many edge cases explained in the readme.

Assembly Load Contexts are gaining a long awaited ability to be "unloaded" / disposed - which is .net core's answer to the

[2019-02-04 07:07] Nagalakshhmi commented on #6575
@shreyagr, Is this issue resolved at your end?.

[2019-02-04 07:12] Nagalakshhmi commented on #6987
@muratg, Thanks, I will check it and revert back here.

[2019-02-04 07:20] pps83 commented on #5301
A few questions regarding c++ signalr client:
 - how different is the old signalr from asp.net core signalr? Where can I read to understand these differences and why these two are incompatible?
 - signalr uses cpprestsdk, which isn't a tiny lib. In our case we cannot use it because of the binary size. Would that be easy to make a lean version of signalr that does only websockets (without pure http

[2019-02-04 07:40] wegylexy commented on #5301
When linked statically, the final binary is small, meaning I'm using only a tiny bit of cpprestsdk. But there were a lot of trials and errors to finally got everything compiled and linked. Preferably there will be a small signalrclient.lib and signalrclient.dll that doesn't require any other DLLs at run-time.

[2019-02-04 07:54] vchirikov commented on #5669
Same:
![Blazor on vs 2019 2.1](https://user-images.githubusercontent.com/40987940/52196011-407c2400-286b-11e9-9d56-dcb2f8e90a3e.png)

[2019-02-04 08:12] pps83 commented on #5301
I'll check size impact of signalr, but we weren't able to ship it due to app store size limits (we are a large 100mb-range app)

[2019-02-04 08:14] chucker commented on #5669
This is not currently supported. You can try temporarily moving your project to a prerelease feed, like here: https://github.com/dotnet-presentations/blazor-workshop/pull/47/commits/df702048edddc586bce6ad389b220b27ca8bfeac

[2019-02-04 08:17] pgrm opened #7232 "Memory sometimes leaks in ASP.Net Core 2.1"
### Describe the bug

![image](https://user-images.githubusercontent.com/713456/52195925-27b74280-285a-11e9-9876-e49a873c8ff4.png)

This is the memory consumption of our application over the last month. Each line is a docker container. We enforced a memory limit of 2GB and increased that to 3GB few days ago. A line stops when the container is shut down either due to a newer version being deployed

[2019-02-04 08:39] baruchiro opened #7233 "JsonModelBinder for POST both model and file"
### Is your feature request related to a problem? Please describe.
I'm trying to create a POST action that receives both `IFormFile` and model.

### Describe the solution you'd like
The solution described in [StackOverflow answer](https://stackoverflow.com/a/46344854/839513) and also there is a [Nuget](https://www.nuget.org/packages/JsonModelBinder/) for this solution.

Why not adding this case to

[2019-02-04 10:47] sepehr1014 opened #7235 "w3wp crash Exception code: 0xc0000005"
### Describe the bug
w3wp crashes for no reason every day or so. No clue why this happens.

[code]

### Additional context
[code]

Host (useful for support):
  Version: 2.2.1
  Commit:  878dd11e62

.NET Core SDKs installed:
  No SDKs were found.

.NET Core runtimes installed:
  Microsoft.AspNetCore.All 2.1.1 [C:\Program Files\dotnet\shared\Microsoft.AspNetCore.All]
  Microsoft.AspNetCore.All 2.1.2

[2019-02-04 10:58] vovikdrg commented on #7117
@Tratcher looks like correlation issue could be because of timeout.

[2019-02-04 11:05] vchirikov commented on #5669
@chucker thanks, works fine.

[2019-02-04 11:22] TheFanatr opened #7236 "Add Ability to use Component Type with Constructors and This Keyword"
### Is your feature request related to a problem? Please describe.
In the latest release of Razor Components, the context for the code inside a component `.cshtml` file is always the generated class <code>__*ComponentClassName*</code> instead of simply the actual class <code>*ComponentClassName*</code>. Due to this fact, using the component classes outside of code in the component itself becomes v

[2019-02-04 12:06] TheFanatr opened #7237 "Allow Optional Parameters for Razor Components"
# Allow Optional Route Parameters to be Defined in a Razor Component
It would be greatly beneficial for many projects to be able to take advantage of a way to create Razor Component pages which accept optional parameters. Here is a suggested specification for such a feature.

## <code>@params var1, var2, ... var*n*</code> Directive
This directive, specified at the top of the file where all the `@p

[2019-02-04 12:12] yanniskonstas commented on #3215
I'm trying to deploy to GCP and I get a similar error: (**dotnet --version: 2.1.500**)

`Updating service [default] (this may take several minutes)...failed.
ERROR: (gcloud.app.deploy) Error Response: [9]
Application startup error:
Error: An assembly specified in the application dependencies manifest (MY-APP-NAME.deps.json) was not found:
    package: 'AspNetCoreRateLimit', version: '2.1.0'
    pa

[2019-02-04 12:39] ctrl-alt-d commented on #5666
I have the issue on `3.0.100-preview-010184` :

[code]

( I included warning just to show the version )

[2019-02-04 13:50] aropb commented on #6984
Hi, @sebastienros, when can I expect an answer?

[2019-02-04 13:51] shapeh commented on #6097
Today I got another crash:

- but Debug Diag is not pickup that crash. Can you let me know what settings I should add to Debug Diag to capture this crash?
This is my setting:
![capture](https://user-images.githubusercontent.com/29387615/52212232-50f0c680-288c-11e9-9652-e056896151ae.PNG)

[2019-02-04 14:14] JeremySkinner opened #7238 "Incorrect empty prefix during validation (Razor Pages with IFormFiles)"
I'm trying to troubleshoot an issue reported in the [FluentValidation](https://github.com/JeremySkinner/FluentValidation/issues/1029) repo, where sometimes during validation the model `prefix` incorrectly is passed to the ValidationVisitor as an empty string. This seems to be specifically related to binding `IFormFiles` within Razor Pages apps.

This seems to be something that @dougbu was working

[2019-02-04 14:51] SteveSandersonMS commented on #7130
That URL is the same one you put in for 0.7.0 in this commit: https://github.com/aspnet/AspNetCore/commit/71cddc35632ac7cd36ef1cb19892a9f55d8333ec

Is there a different URL for 0.8.0?

[2019-02-04 14:55] pranavkm commented on #7223
https://github.com/dotnet/cli/issues/10502 is the tracking issue for this. [For preview3](https://github.com/aspnet/AspNetCore/issues/6512), the RazorSDK will use the flag specified here - https://github.com/dotnet/sdk/issues/2122 to disable publishing the refs directory in the default scenario, with the runtime compilation package turning it back on.

[2019-02-04 15:19] oferns opened #7239 "FormTagHelper doesnt respect aliased routes with parameters"
### Describe the bug
Using the FormTagHelper produces different routes to the Url.Action method when using an aliased route with parameters

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.2.103'
2. Run this simple code repository based on VS2017 default MVC app template'....'
https://github.com/oferns/formtaghelper

3. See startup.cs for the custom route

[2019-02-04 15:23] asbjornu commented on #4249
Examples of how we (as an industry) deal with the problem of transclusion over HTTP/1.1 today can be found in GraphQL and OData. In GraphQL, transclusion is expressed as [sub-selection](https://graphql.org/learn/queries/):

[code]

[code]

In OData, transclusion is expressed with the [`$expand` keyword](http://docs.oasis-open.org/odata/odata/v4.01/cs01/part2-url-conventions/odata-v4.01-cs01-part2-

[2019-02-04 15:33] danroth27 commented on #7130
Sorry about that: https://go.microsoft.com/fwlink/?linkid=2069004

[2019-02-04 16:21] NTaylorMullen commented on #5077
Sounds like a great plan, thanks @AlexejTimonin, I haven't looked at this area in quite a while, @pranavkm anything "not so obvious" you can think of?

[2019-02-04 16:23] danroth27 commented on #7189
Hi @grahamehorner,

Components don't have any automatic mechanism to detect that their state has changed and need to be rendered. As a sort of heuristic, components are rendered in response to UI events specific to that component. But, in general, you need to call the `StateHasChanged` method on the component to signal that it should be rendered.

So, to handle you're scenario where state is being

[2019-02-04 16:23] #7189 closed

[2019-02-04 16:58] muratg commented on #7232
cc @sebastienros

[2019-02-04 17:00] natemcmaster commented on #6304
I heard a few of our team members say it was hard to figure out how to build installers. I made a few changes that should make it easier now. And I have a few more planned as a part of targeting pack work.

Other than that, most complaints have been about trouble with installing prerequisites like Visual Studio. Implementing this change to build.cmd would probably make that even worse by increasin

[2019-02-04 17:11] nuteman1 commented on #4389
I have the same problem (websockets not working) after upgrading the libraries mentioned above.
In my case its failing on the call from the azure app service to the azure signalr service. When I change the client to limit to long polling, all works and the client connection count in the azure signalr service is incremented by one, as expected.
**Any projected fix date?**

[2019-02-04 17:23] mrlife opened #7241 "asp-page adding current route parameters when linking to current page"
### Describe the bug
In Razor Pages, when on page `/Search` and an anchor tag uses `asp-page`, the route parameters, e.g. `/Search/foo/bar` are used in the generated `href`. Instead, they should not be used, i.e. `href="/Search"`. I can provide a sample project if it would help.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core: 2.2.1
2. Run this code:

- cre

[2019-02-04 17:31] pranavkm commented on #5077
I think there you have to be careful around [outbound parameter transformation](https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/src/Microsoft.AspNetCore.Mvc.RazorPages/Infrastructure/PageActionDescriptorProvider.cs#L113-L140) to ensure replacement doesn't happen twice. Beside that, it should likely be fairly straightforward. The functional tests should ensure your changes work with both f

[2019-02-04 17:49] pranavkm opened #7243 "Figure out how to reconnect to circuits"
As part of of https://github.com/aspnet/AspNetCore/pull/6971, the circuit identifier is a `Guid`. We have to determine if this is a sufficiently random enough value to allow a client to reconnect to a server. It's effectively a session identifier and it's likely not enough to present the identifier in itself as evidence to reconnect to a circuit.

[2019-02-04 18:12] vertonghenb commented on #5592
Seems to be fixed in Preview-2

[2019-02-04 18:12] #5592 closed

[2019-02-04 18:20] ryanbrandenburg commented on #3635
@mkArtakMSFT what is that status of this issue?

[2019-02-04 18:22] ryanbrandenburg commented on #5378
Assigning to @muratg to triage out.

[2019-02-04 18:23] pakrym opened #7245 "Consider obsoleting OutOfProcess hosting mode in 3.0"
@shirhatti cc @DamianEdwards

[2019-02-04 18:23] mkArtakMSFT commented on #3635
Closing this. whatever issues were rthere are resolved or obsolete already.

[2019-02-04 18:23] #3635 closed

[2019-02-04 18:34] blowdart commented on #6942
To Nate please. I’m on a bus trying to get to the airport so I can’t assign.

________________________________
From: Ryan Brandenburg <notifications@github.com>
Sent: Monday, February 4, 2019 10:27
To: aspnet/AspNetCore
Cc: Barry Dorrans; Mention
Subject: Re: [aspnet/AspNetCore] Test failure: EmailFactorFailsAfterSecurityStampChangeTest (#6942)

Assigning this to @blowdart<https://github.com/blowd

[2019-02-04 18:34] fluffynuts opened #7246 "dev-certificates on Linux -- how to get dotnet-to-dotnet comms to work?"
### Description
I have an asp.net core application with a self-hosted IdentityServer component. I can convince a browser (Chrome and Firefox) to visit the site, but I'm having trouble getting the IdentityServer component to be able to talk back to localhost due to certificate errors, specifically:
[code]
I realise that certificate installation can differ from distro to distro, however, I've tried