[2019-09-07 15:09] blowdart commented on #13792
Everything [moved to services](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?view=aspnetcore-2.2&tabs=visual-studio#create-a-web-app-with-authentication)

If you want the default UI, it's

[code]

[2019-09-07 15:10] blowdart commented on #13796
Dupe of https://github.com/aspnet/AspNetCore/issues/13696

Fixed in https://github.com/aspnet/AspNetCore/pull/13743

[2019-09-07 15:10] #13796 closed

[2019-09-07 15:17] dolphinsd commented on #13788
@blowdart , thanks for an insight, it works in development, but when we try to run from command line in production, certificate selection is not called for some reason.

[2019-09-07 15:19] blowdart commented on #13788
By the time it gets through IIS in production it's not exactly a connection any more, because of the way IIS integration works. IIS has the responsibility of the handling the HTTPS termination. There's no easy way to do this in IIS unfortunately

[2019-09-07 16:29] arivoir opened #13797 "DotNetObjectReference.Create should disallow null value"
I have a component that is exposing a _JSInvokable_ method. When calling it from JavaScript it throws the following exception.

In other libraries this same is working. Maybe Blazor  is mixing library names. Because the "AssemblyName" is not specified anywhere I assume this is a Blazor bug.

[2019-09-07 16:38] Pilchie commented on #13300
We shipped Preview 9, so moving to 3.0.0

[2019-09-07 16:49] Pilchie commented on #13384
@jkotalik Should be closed now, right?

[2019-09-07 16:55] intiharj commented on #13789
Sorry, I just realized that I need to format the code from my original post so that you can see it.  Here are the snippets...

working:   `<AuthorizeView><Authorized>OK</Authorized><AuthorizeView>`

not working:  `<AuthorizeView Roles="XXX"><Authorized>OK</Authorized><AuthorizeView> `

[2019-09-07 17:00] #13384 closed

[2019-09-07 17:24] kant2002 commented on #13772
Actually Blazor ships `I18N.West.dll` right now, so there some other things should be an issue here.

[2019-09-07 17:30] marcuslindblom commented on #13794
Maybe I have misunderstood the concept of registering the tag helper in the DI and not via the `_ViewImports.cshtml` view? https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/th-components?view=aspnetcore-3.0#registration-via-services-container

[2019-09-07 17:55] FelicianoEJ opened #13799 "Error -The type 'Shared' does not exist in the type 'Namespace' - when modifiyng the _Import.razor file."
The following **error** came up:
CS0426	The type name 'Shared' does not exist in the type 'NeighborHub'

Origin:
C:\user\me\Docs\project\NeighborHub\obj\Debug\netcoreapp3.0\Razor\Shared\MainLayout.razor.g.cs	85	Active

To Reproduce the behavior:
1. Using this version of ASP.NET Blazor Core 3.0 (in my case preview 8 and 9 when I upgraded the error persisted)

2. Run this code in the **top-level** f

[2019-09-07 18:24] odin88 commented on #13795
You can try https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/client-side?view=aspnetcore-3.0#standalone-deployment for Nginx

[2019-09-07 18:54] Tragetaschen commented on #13628
This is probably worth synchronizing with: https://github.com/dotnet/corefx/issues/3249

[2019-09-07 20:19] mrgleba commented on #13765
I was able to produce a simple repro.

In this exampe everything works fine:
[code]
but if you move ```ConfigureServices``` to IHostBuilder:
[code]

then a GET https://localhost:50001/api/Foo returns a 404.

[2019-09-07 20:55] mrgleba commented on #13764
@blowdart In this case we're handling nonexistent ulrs, ones that will fall throught MVC to the final 404 handler, so MVC filters won't help.

@HaoK That clarifies the issue, still the provided solution is IMHO far from ideal. Inserting a ```JwtBearerHandler ``` here would lead to a confusing code (any other person reading the code would suppose we're using Jwt). Also ```JwtBearerHandler``` would

[2019-09-07 21:01] blowdart commented on #13764
I don't agree. Authorization policies evaluate to true or false, that's their single responsibility - does the current user (and optionally the resource) pass the policy. Its up to the authentication pieces to decide how that yes or no gets mapped into an action that is suitable for their type of authentication.

So, like I said, this all comes down to how you're authenticating. Now you also want

[2019-09-07 22:01] TwentyFourMinutes opened #13801 "Creating an Razor Class Library with Framework Reference to Microsoft.AspNetCore.App"
### Describe the bug
I am trying to put some of my Controllers and Views of my ASP.Net Core 3 pre-release 9 MVC Project in a different Project. Therefor I went with an Razor Class Library since as the [documentation](https://docs.microsoft.com/en-us/aspnet/core/razor-pages/ui-class?view=aspnetcore-3.0&tabs=visual-studio) says:

So I went ahead and created a RCL Project which looks something like t

[2019-09-07 22:34] taori opened #13802 "Claims / Roles TagHelper"
### Is your feature request related to a problem? Please describe.
I want to make certain features visible depending on roles/claims.

### Describe the solution you'd like
 It would be useful if importing AspNetCore.Identity included taghelpers for that purpose so i can do cshtml like this:

[code]

The environment tag helper works similarly, which is very useful at times.

[2019-09-07 22:36] davidmather opened #13803 "blazor causing visual studio 2019 preview crash"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
Visual Studio crash using blazor framework
Hi, I was trying out t

[2019-09-07 22:42] srowan commented on #13685
Does this mean there is no longer any support for interactive components on a static page? (as laid out by @javiercn as the last scenario in #8911)

[2019-09-07 22:47] Tratcher commented on #13765
Weird. It really should be pass through. https://github.com/aspnet/AspNetCore/blob/e7016bc67ab9195db5741d03a03c754891919f7d/src/Hosting/Hosting/src/GenericHost/GenericWebHostBuilder.cs#L170-L184

Maybe it's an ordering issue? What happens if you put ConfigureServices after ConfigureWebHostDefaults?

Maybe this AddRouting calls is overriding something critical from AddControllers?
https://github.co

[2019-09-07 22:52] srowan commented on #13685
@mkArtakMSFT i.e. can you please comment on whether there is still a way to do this without `cshtml` ?

[2019-09-07 23:31] pranavkm commented on #13801
You'll need a `TargetFramework` of `netcoreapp3.0`. Does changing the tfm fix the issue?

[2019-09-07 23:33] pranavkm commented on #13799
Do you have a type named `NeighbourHub` in your project file? The files in the shared folder are generated in the `NeighbourHub.Shared` namespace which would conflict with the type name.

[2019-09-07 23:35] pranavkm commented on #13794
The documentation is about `TagHelperComponents` which aren't the same as regular tag helpers. Could you elaborate on what it is that you're trying to do? Why do you need TagHelpers to be in DI?

[2019-09-07 23:36] pranavkm commented on #13797
Could you share a minimal sample that reproduces the problem?

[2019-09-07 23:55] pranavkm commented on #13802
Dup of https://github.com/aspnet/Mvc/issues/3785? https://www.davepaquette.com/archive/2017/11/05/authorize-tag-helper.aspx was the answer that the issue recommends.

[2019-09-08 00:08] taori commented on #13802
Duplicate of https://github.com/aspnet/Mvc/issues/3785 indeed - though i like the attribute based solution better.

[2019-09-08 00:09] taori commented on #13802
Duplicate of https://github.com/aspnet/Mvc/issues/3785 indeed - though i like the attribute based solution better.

and reopened again... not sure why this wasn't implemented and why the ticket is closed instead. This really should be a thing.

[2019-09-08 00:34] taori opened #13804 "Self hosted application as windows service seems to have some issues with cookies"
### Describe the bug
I've got an application which i am developing on my machine with a publish profile to deploy it to a services folder. If i'm using the application while debugging the cookie consent messages correctly goes away after i accept it - if i run the application after deploying and running it as windows service the cookie consent message won't go away.

### To Reproduce
Steps to repr

[2019-09-08 00:56] MicahZoltu opened #13805 "@aspnet/signalr has a hard dependency on node packages even though it is designed for usage in browser."
### Describe the bug
`@aspnet/signalr` TypeScript definition files reference node types.

### To Reproduce
Steps to reproduce the behavior:
1. `npm init`
1. `npm install @aspnet/signalr`
1. Add `tsconfig.json`
[code]
1. Create a file `source/index.ts`
    import * as signalR from '@aspnet/signalr'
    signalR
1. `npx tsc`
1. Notice the two errors:
[code]

### Expected behavior
Expected `@aspnet/si

[2019-09-08 01:07] manigandham commented on #5545
@stsrki
That's not possible because of the async event handling. The decision has to be upfront. Read Steve's comment above: https://github.com/aspnet/AspNetCore/issues/5545#issuecomment-469748054

[2019-09-08 01:18] MicahZoltu commented on #13805
This actually appears to be a more deep seeded problem than just this.  It appears that the browser bundle doesn't actually match the definition files in the project.  So while `import { HubConnectionBuilder } from '@aspnet/signalr'` type checks, at runtime it will fail if you are using `dist/browser/signalr.js` because that bundle doesn't export a `HubConnectionBuilder`.

It would seem that there

[2019-09-08 02:43] fleed opened #13806 "Authentication using Bearer token from IdentityServer4"
I followed the [IdentityServer4 tutorial][1] to add authentication to a web api application created with **asp.net core 3 preview 9**.

My `Startup.cs` looks like this:

[code]

I generate a valid JWT token and add it as **Bearer** to my requests, but I always get **401 Unauthorized**.

The same server works with a web api application created using the **.net core 2** sdk.

What's the difference?

[2019-09-08 02:50] FelicianoEJ commented on #13799
I do have a class named NeighborHub.
Does this conflict with the namespace being the same?

NeighborHub.Data
    |
    --- AppModels.cs
            |
            --- public class NeighborHub

[2019-09-08 02:52] #13799 closed

[2019-09-08 03:06] arivoir commented on #13797
This is a strange case as it is working in some cases, can you give me some idea why that exception  could happen? Under what circumstances the 'AssemblyName' can be not specified? Maybe I can create a sample based on that.

[2019-09-08 03:42] davidfowl commented on #13765
This is preview9?

[2019-09-08 04:13] Sharafudeen opened #13808 "How do I implement Office 365 Authentication in ASP.NET Core and Blazor (Server-Client app)"
Hi,

I have downloaded and installed "ASP.NET Core and Blazor updates in .NET Core 3.0 Preview 9".

I wanted to implement Office 365 Authentication in ASP.NET Core and Blazor (Server-Client app)?

- I have used two layout pages for login and admin panel. When user start the application then it reaches the login page (its layout name is LandingLayout) and once user successful office 365 logged in t

[2019-09-08 04:52] marcuslindblom commented on #13794
@pranavkm Actually I do not need the tag helper to be in the DI. I thought that it was possible to register the tag helper in the DI instead of adding them to `_ViewImports.cshtml`.

The reason why is that I'm developing a nuget package that contains some functionality that I often use. I register the package in the `Startup` class by using `services.Add...` and `app.Use...` and thats very clean I

[2019-09-08 05:50] davidfowl commented on #13270
This would be a transport option not a Kestrel option.

[2019-09-08 05:52] davidfowl commented on #12650
The biggest benefit here is removing the dependency on the lifetime in the transport itself. It the consumer would be responsible to terminating the host if accept failed.

[2019-09-08 05:54] mikoskinen commented on #13721
Ah, losing the option to pass parameters to components is a real shame. As others, we were using Blazor to progressively convert our existing Razor Pages application into a more dynamic experience.

[2019-09-08 05:57] davidfowl commented on #13745
This is an old benchmark from preview4 https://github.com/aspnet/AspNetCore/issues/6567

[2019-09-08 06:01] davidfowl commented on #10978
Related to https://github.com/aspnet/AspNetCore/issues/13295

[2019-09-08 07:01] stsrki commented on #5545
@manigandham Thanks, I missed that comment. Steve said there is no way to `preventDefault` once the event has happened. It seems we're going to be stuck with JavaScript for a long time.

[2019-09-08 08:03] Legends opened #13809 "~6000 wasm files generated in solution explorer"
I have create my wasm app hosted by asp.net core in VS2019 Prev using `dotnet new blazorwasm --hosted`.

When I **stop** the app after a couple of seconds by closing the browser, VS becomes unresponsive for a longer period of time because because about 6000 wasm files get generated in solution explorer again.

**Steps to reproduce**
1.) `dotnet new blazorwasm --hosted`
2.) Run the app from VS usin

[2019-09-08 08:27] GoranHalvarsson commented on #9020
Hello All
Im a bit confused, so we cant have grpc service in azure.
But azure itself is using grpc, the Azure Functions Languge Workers.
https://github.com/Azure/azure-functions-language-worker-protobuf
Or am I missing something here?
Trying to understand :confused:

[2019-09-08 09:07] etherealjoy opened #13810 "ASP.NET Multipart Form Response"
### Is your feature request related to a problem? Please describe.

I am trying to implement an endpoint which returns a multipart/formdata response in ASP.NET Core but apparently there is no inbuilt mechanism to do that or at least I am not aware how and have not found it in the docs somewhere.

### Describe the solution you'd like

Of course we could write our own implementation for this, but it

[2019-09-08 09:08] simonholt opened #13811 "System.Text.Json Guid deserialization error handling"
### Describe the bug
During deserialization of objects which contain GUIDs, malformed GUIDs trigger a 500 response rather than a 400.

This looks very much like #11790, but may be a special case for GUIDs.

Possibly also related to #8474 and #10033

(If using a GUID as part of a route (i.e. /api/myentity/{id}) then malformed GUIDs trigger a 400 as expected, and as they did in previous versions of

[2019-09-08 09:17] mrgleba commented on #13764
We are doing some sutom auth using either a session header or a user/pass headers.

I understand your position and reasoning. Perhaps it's something that should go into the docs of ```AuthorizationPolicyBuilder``` that if you construct it without a scheme name then it shoud always succeed lest an exception will be raised.

We've actually spent quite a few hours trying to figure out why the excepti

[2019-09-08 09:19] mrgleba commented on #13765
This is preview9.

[2019-09-08 10:40] TwentyFourMinutes commented on #13801
Well if I use `netcoreapp3.0` it resolves the dependency issues, but other errors occur.

[code]

I am not sure what the reason for this is...

[2019-09-08 10:43] TwentyFourMinutes commented on #13801
Also if it is the case that `netcoreapp3.0` is the only possible TargetFramework, the template for RazorClassLibraries should be updated. They currently use `netstandard2.0`.

[2019-09-08 11:19] MV10 commented on #13810
See https://github.com/aspnet/Mvc/issues/4933

[2019-09-08 11:21] markvincze commented on #13299
Hey all,

It turns out there was a bit of a mishap, so on the previous screenshot and trace/dump I was still using a binary which didn't have Maoni's fix yet.

I made a new test run with the actual patched binaries. After running for some hours, the application still ends up being stuck in the degraded state, and it doesn't get OOM killed.

These are the metrics of the service over a long, ~20-hou

[2019-09-08 12:26] blowdart commented on #13764
That's fair. @Rick-Anderson for the docs.

I cover writing your own handler at https://github.com/blowdart/AspNetAuthenticationWorkshop

[2019-09-08 14:39] pranavkm commented on #13797
The exception message is thrown if you call a static JSInterop method, but don't specify the assembly name:

[code]

The first argument needs to be null for the exception to be thrown. You could try enabling debug logging to see which one of the JSInterop calls is problematic.

[2019-09-08 14:45] pranavkm commented on #13811
Thanks for the report.

@ahsonkhan \ @steveharter, looks like this needs to use `ThrowHelper` so that the exception can be wrapped as a `JsonException` instance:

https://github.com/dotnet/corefx/blob/39d8cf14b1eaf2d7678d1399bc903a0e547cce26/src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.TryGet.cs#L440-L448

[2019-09-08 15:09] Legends opened #13813 "Reconnection - components-reconnect-modal"
**Docs says:**
_When the client detects that the connection has been lost, a default UI is displayed to the user while the client attempts to reconnect. If reconnection fails, the user is provided the option to retry. To customize the UI, define an element with `components-reconnect-modal` as its `id` in the _Host.cshtml Razor page. The client updates this element with one of the following CSS cla

[2019-09-08 15:19] fleed commented on #13806
I got it working now.. so I was probably making a mistake during testing

[2019-09-08 15:19] #13806 closed

[2019-09-08 15:51] tiandian opened #13814 "Let user call IWebHost use a fake request and get the response directly."
### Is your feature request related to a problem? Please describe.

 I am trying to  use [CefGlue ](https://gitlab.com/xiliumhq/chromiumembedded/cefglue) or [Chromely](https://github.com/chromelyapps/Chromely) or  [CefSharp](https://github.com/cefsharp/CefSharp) to combine asp.net core to develop a cross platform desktop app, but after asp.net core run, it need listen the http(s) port, and **it  w

[2019-09-08 15:56] stsrki commented on #13797
@arivoir Make sure `JSInvokable` method is not inside of a generic class as that is not supported.

[2019-09-08 17:03] javiercn commented on #13685
There is no support for using html pages as an entry point for server-side blazor. A razor view/page is required as the entry point for the app.

[2019-09-08 17:09] Legends opened #13815 "blazor.server.js"
Is it possible to see the unminified/readable version of `blazor.server.js` somewhere?
Cannot find the source code in this repo.

[2019-09-08 18:16] Legends opened #13817 "Question/FeatureRequest - Central store/cache like Redux"
I took a look at `CascadingValue` feature, but I didn't like the way it works, when a deeply nested child component needs to update the cascading value, it's a bit of a hassle, you have to push the change-method down till it reaches the component.

Isn't there a central cache/store like Redux, which we can use throughout the whole component tree?

[2019-09-08 18:58] dolphinsd commented on #13788
@blowdart , do you know if IISHttpServer exposes ability to swap certificates in runtime like Kestrel?

[2019-09-08 19:17] RemiBou commented on #13815
It's generated from typescript, the source code is located here https://github.com/aspnet/AspNetCore/blob/master/src/Components/Web.JS/src/Boot.Server.ts

[2019-09-08 19:21] #13815 closed

[2019-09-08 19:53] snerting commented on #13642
@BrennanConroy

I have now created a trimmed version of [My Code](https://github.com/snerting/BlazorSignalRHttpContextIsNull) on github.

As describe in Readme.md you must add valid info for Azure SignalR.

When running code, set a breakpoint in TokenContainer.cs (on first line in code below)

[code]

To have the HttpContext be NULL (and cause the error), just use the Hamburger bar  in the app and

[2019-09-08 20:26] mrgleba opened #13818 "Migration 2.2 -> 3.0 document AllowSynchronousIO now false by default"
In 3.0 release ```AllowSynchronousIO``` is false by default. This should be documented in the migration docs.

Adittionally an exeption thrown due to a synchronous read/write is not passed to the handler introduced by ```app.UseExceptionHandler``` and outright kills the server. Is this by design? IMHO
allowing the server to return ```500``` in this case would be a friendlier option.

[2019-09-08 20:26] Legends commented on #13817
Actually it's possible without pushing event callbacks down the line:

`<CascadingValue Value="@this"`

In `this` component you define the value and the change method and using this change method you can alter the value from a deeply nested component.

[2019-09-08 20:26] #13817 closed

[2019-09-08 20:28] mrgleba opened #13819 "Should TLS1.3 be on by default?"
The 3.0 release introduced TLS1.3. Still the default for the ```SslProtocols``` is ```SslProtocols.Tls12 | SslProtocols.Tls11```. Shouldn't TLS13 be included in the default?

[2019-09-08 20:34] Rick-Anderson commented on #13764
@mrgleba  Can you create an issue from the doc page this belongs to? That will connect the doc to the issue. Go to the bottom of the doc page and select the **Content feedback** issue.
![image](https://user-images.githubusercontent.com/3605364/52735418-b23f2680-2f6b-11e9-81c5-ec0105e55d00.png)

[2019-09-08 20:44] Legends commented on #13809
Here is a [mp4 file](https://drive.google.com/file/d/1FPGpUb9JBY0xFWJaQ3zi9hlAQQsztRaL/view?usp=sharing) on my google drive that demonstrates the issue.

SO usually when hit the close "x" button of the browser, VS stops debugging instantly, but here I got this issue.

[2019-09-08 22:39] Maoni0 commented on #13299
ok, this trace definitely has a different behavior from the last one where I failed to give you the build actually with the fix. when you were running the last build you didn't actually allocate anything which was consistently with my diagnosis (because we incorrectly kept retrying). in this trace you are allocating (you allocated 7.9GB during the ~60s the trace recorded and 3.8GB were on the LOH)

[2019-09-08 22:57] Maoni0 commented on #13299
thank you very much! this trace definitely has a different behavior from the last one where I failed to give you the build actually with the fix. when you were running the last build you didn't actually allocate anything which was consistently with my diagnosis (because we incorrectly kept retrying). in this trace you are allocating (you allocated 7.9GB during the ~60s the trace recorded and 3.8GB

[2019-09-09 00:01] fruitraccoon commented on #13498
I hadn't thought to create nested Schemes like that - it sounds like an idea that should work well.  I'll give it a try when I next get a chance. Thanks very much @HaoK!

As it should give me the result that I'm after, and should also be relatively straight-forward for developers coming after me to understand, I'll close this issue.

[2019-09-09 00:01] #13498 closed

[2019-09-09 00:57] genifycom opened #13820 "Preprocessor for blazor components"

[2019-09-09 00:58] NinoFloris commented on #8212
Heads up https://www.chromestatus.com/feature/5088147346030592

Interesting here also is

This may mean people will actually see more issues due to None than Lax. Combine this with the fact Chrome and Firefox (which is work in progress) are going to default to Lax, people might still not run http locally (meaning None won't stick) this change seems to have complicated outcomes and will confuse a l

[2019-09-09 01:06] #13820 closed

[2019-09-09 01:59] simon617 commented on #13792
Already included this in ConfigureServices  :

 public void ConfigureServices(IServiceCollection services)
        {
            services.AddMvc().SetCompatibilityVersion(CompatibilityVersion.Version_2_1);

            services.AddDbContext<IdentityDbContext>(options =>
                options.UseSqlite("Data Source=users.sqlite",
                optionsBuilder => optionsBuilder.MigrationsAssembly

[2019-09-09 02:14] Tratcher commented on #8212
@NinoFloris see https://github.com/aspnet/AspNetCore/issues/12125

[2019-09-09 02:18] NinoFloris commented on #8212
Thanks :)

[2019-09-09 04:28] Tratcher commented on #13819
@blowdart

[2019-09-09 07:27] ahsonkhan commented on #13811
@pranavkm - yep, that's precisely the issue. I have submitted a fix for this. We should discuss whether this issue meets the 3.0 bar at this point.

[2019-09-09 07:46] stsrki opened #13822 "Is launchSettings.json required in NuGet package?"
I have a bunch of Blazor(Razor) class libraries. One of the users of my component library is having an issue when he tries to add a NuGet package. details here https://github.com/stsrki/Blazorise/issues/248

What I wan't to know, can I safely remove a `launchSettings.json` from NuGet packages? Is it really needed to be packaged?
I tried to look around to find out how other people are packing their

[2019-09-09 08:27] rysep2 commented on #12601
The Identity Server puts the access token in the HTTP Header. As far as I know I can't change that. So I guess there is no other way for me than to get the access token out of the HttpContext on the first call. Then I can include it as a claim inside the authenticated user. Is that correct?

[2019-09-09 08:35] SteveSandersonMS commented on #12859
Fixed with https://github.com/aspnet/AspNetCore/pull/12928

[2019-09-09 08:35] #12859 closed

[2019-09-09 08:42] Mikilll94 commented on #3700
@Tratcher
Thanks for explanation.

Are there any code examples on the Internet which shows how to correctly log requests and responses in ASP.NET Core?

[2019-09-09 09:26] sven5 commented on #13275
It seems the workaround for preview9 is still to manually add the `RenderTreeBuilder` parameter, now differently named `RenderTreeBuilder __builder`.

[2019-09-09 09:30] parkycai commented on #12102
You may need to use Linker.xml to avoid field stripping

[2019-09-09 09:39] GerardSmit commented on #13809
Related or duplicate of https://github.com/aspnet/AspNetCore/issues/13803.

[2019-09-09 09:54] MonkSoul opened #13823 "The nuget version is not v3."
https://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.Core/

[2019-09-09 09:58] thorgeirk11 commented on #12102
Check out my repo. [I induded a Linker.xml for all of the SignalR binaries.
](https://github.com/thorgeirk11/SignalR-IL2CPP-failure-example/blob/master/Unity%202018.4%20Client/Assets/link.xml)

[2019-09-09 10:42] javiercn commented on #12601
@rysep2 Yes. That should work.

[2019-09-09 10:45] #12392 closed

[2019-09-09 11:24] TwentyFourMinutes commented on #13801
For anyone else interested and having the same issue, you need to add this attribute `<AddRazorSupportForMvc>true</AddRazorSupportForMvc>` to your .csproj of the RCL.

[2019-09-09 11:24] #13801 closed

[2019-09-09 11:25] IoanaEmma commented on #13354
Can you please give me more details about setting IIS Application Pool correctly?

[2019-09-09 11:29] glararan commented on #13354
StartMode: AlwaysRunning (i guess not needed)
.NET CLR: v4.0
Identity: ApplicationPoolIdentity
Load User Profile: true
Regular Time Interval: 0
Managed pipeline mode: Integrated

[2019-09-09 11:51] glararan opened #13825 "[Preview9][Blazor server-side] Service injected in multiple components results into db exception"
### Describe the bug
Class `DataService` registered as `AddTransient` is injected by following components:

- MainLayout (layout)
- Partners (component)
- Index (page)

All of them calls service in `protected override async Task OnInitializedAsync()`
via e.g.
`await DataService.GetData();`

One of method looks like
`public async Task<PartnerSettingModel> GetPartnerSettingAsync()
        {

[2019-09-09 11:58] taori commented on #13804
Logging in doesn't work either obviously since cookied are not working.

[2019-09-09 12:36] Pibe93 commented on #13767
Hi, this is the error that is written to the UWP signalr client log :
`Microsoft.AspNetCore.Http.Connections.Client.HttpConnection:Error: Failed to start connection. Error getting negotiation response from 'https://localhost:44368/messagehub'.

System.Net.Http.HttpRequestException: An error occurred while sending the request. ---> System.Exception: Impossibile trovare il testo associato a questo c

[2019-09-09 12:40] mv10-work commented on #13358
Another vote. The `List<TComponentType>` idea seems intuitive enough.

[2019-09-09 12:46] KoenVanExem opened #13828 "Can not add a .razor file as a link to a Blazor project"
### Describe the bug
Adding a linked .razor file to a Blazor project (app or library) does not work.

### To Reproduce
Steps to reproduce the behavior:
1. Using .NET Core SDK (3.0.100-preview9-014004)
2. Create a Blazor Server App
3. Create the file "Linked.razor" outside of the project folder (e.g. in the solution folder)
4. Add the file as a link in visual studio or directly to the the .csproj f

[2019-09-09 12:47] pamedasa opened #13829 "Improve the experience for polymorphic model validation"
### Describe the bug
The annotations that we add for validations are not getting invoked for polymorphic input classes. They are getting invoked only for the non-polymorphic classes.
Data model validators are not being invoked for request input data which is of type polymorphic data. In general, all the validators are being fired up before passing to actual implementation of controller code.

###

[2019-09-09 14:00] rusuly commented on #9778
Hi, I just migrated my project from ASP.NET Core 2.2 to 3.0(Preview 9) and encountered the same problem.
My custom ModelBinder for trimming strings stopped working
The working example is [here](https://github.com/rusuly/trimming-model-binder)

[2019-09-09 14:40] blowdart commented on #13819
Generally we've waited for a year or more until proxies and other devices catch up. Frankly you shouldn't be setting anything with the SslProtocols anyway, because you end up [coding yourself into a corner](https://docs.microsoft.com/en-us/dotnet/framework/network-programming/tls), and leaving things unset has a default of "Whatever the OS gives us"

[2019-09-09 14:41] blowdart commented on #13788
I don't believe so. @shirhatti to confirm.

[2019-09-09 14:43] berndku commented on #4707
We had the same issue and solved it by moving the reading of the request body out of the controller.

In our case we had a high volume REST API where first the request body was read inside of the controller with _HttpRequestStreamReader_. Under heavier load we saw every few days this error:

And also faced a heavy drop of throughput during this time. This occured randomly and recovered by itself a

[2019-09-09 14:46] Tratcher commented on #3700
I'm not aware of any fully built examples. Logging the full request and response is discouraged because A) it's expensive, B) it can log potentially sensitive information like user credentials.

[2019-09-09 14:59] glararan commented on #13825
Okay figured it out by using inside components following code
`@inherits OwningComponentBase<DataService>`

but there is question... what if I need to use two services using database?
inherits is allowed just single time? How to access second inherit?

[2019-09-09 15:03] Tratcher commented on #13814
[TestServer](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.testhost.testserver?view=aspnetcore-2.2) is good for this. It lets you send request to the web app in memory rather than over the network.

Your alternative is to use `IWebHost.Start()` rather than `Run()`. Run calls Start and then blocks until CTL+C is pressed. Start doesn't block.

[2019-09-09 15:03] lheinold opened #13830 "Deserializing ProblemDetails using Newtonsoft.Json"
Is there any way to deserialize ProblemDetails using Newtonsoft.Json? It doesn't recognize ProblemDetails.Extensions as extension data because the attribute on the property is the System.Text.Json one, not the one used by Newtonsoft.

For example:
[code]
will correctly place any extension attributes in the resp.Extensions dictionary. But
[code]
ignores all extension attributes and the resp2.Extens

[2019-09-09 15:11] blowdart commented on #13792
Oh I missed it was .AddIdentity().

You shouldn't need it, just app.UseAuthentication();

[2019-09-09 15:16] arivoir commented on #13797
I resolved the mystery.
I'm calling an instance method, not a static one. Actually I do not specify the 'AssemblyName' anywhere. Blazor resolves it.
Because this is an instance method calling. I previously passed the instance of the component using
`DotNetObjectRef.Create(ComponentReference)`

I had forgotten to initialize the "ComponentReference" property, but the "Create" method never told me ab

[2019-09-09 15:16] ice19942335 opened #13831 "ScaffoldingReadMe.txt"
Hello. Right-click on project -> Add -> Area
result hire https://c2n.me/43uZzjj.png

Core 3 has to use the endpoint.
ScaffoldingReadMe.txt says me to use "app.UseMvc(routes => {///})"

[2019-09-09 15:53] GerardSmit commented on #13830
You can find instructions how to replace System.Text.Json with Newtonsoft here:

https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-2.2&tabs=visual-studio#jsonnet-support

Noteworthy is that this for the whole application.

[2019-09-09 15:54] Pilchie commented on #13822
NuGet packages should generally *not* contain `launchSettings.json`.  NuGet packages generally provide *libraries*, and `launchSettings.json` instructs VS about how to launch *apps*.

[2019-09-09 15:55] #13822 closed

[2019-09-09 16:00] bachratyg commented on #13245
Seems to work for me like this (no runtime id in the project):
dotnet publish -c Release -r win-x64 --self-contained
However fails with the hostpolicy error when using -r linux-x64

[2019-09-09 16:20] davidfowl commented on #4707
You can share the results of this?

[2019-09-09 16:20] BrennanConroy commented on #13786
If you look at the last line of your client-side logs you'll see
`[2019-09-06T23:40:40.742Z] Trace: (WebSockets transport) data received. String data of length 206. Content: '{"type":1,"target":"SendCoreAsync","arguments":["Test",["testing"],{"isCancellationRequested":false,"canBeCanceled":false,"waitHandle":{"handle":{},"safeWaitHandle":{"isInvalid":false,"isClosed":false}}}]}�'.`

This is the re

[2019-09-09 16:38] pranavkm commented on #13797
Thanks @arivoir, we can use this issue to fix tracking this.

[2019-09-09 16:42] pranavkm commented on #13830
@lheinold the converters for `ProblemDetails` and `ValidationProblemDetails` are public:

* https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.NewtonsoftJson/src/ProblemDetailsConverter.cs
* https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.NewtonsoftJson/src/ValidationProblemDetailsConverter.cs

[2019-09-09 16:43] berndku commented on #4707
Yes, that was the output of the tool:
![image](https://user-images.githubusercontent.com/4060485/64549347-d65fbc00-d330-11e9-8376-d66f323481c2.png)

And here the previous controller code that triggered this:
`using (HttpRequestStreamReader reader = new HttpRequestStreamReader(Request.Body, Encoding.UTF8))
                {
                    _jsonBody = await reader.ReadToEndAsync();

[2019-09-09 16:45] pranavkm commented on #13823
@MonkSoul if you're asking about the package - part of this announcement states that this package will no longer be produced starting with v3. The recommendation is to target framework instead. Our migration guide - https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio#update-the-project-file - has steps for upgrading which includes removing this pa

[2019-09-09 16:52] davidfowl commented on #4707
Was this code you wrote in your controller?

[2019-09-09 16:59] berndku commented on #4707
Yes, this was the code with the blocking.

[2019-09-09 17:01] davidfowl commented on #4707
@berndku why do manual JSON de-serialization from a string instead of using the built in formatter?

[2019-09-09 17:07] kant2002 commented on #13245
It maybe the case for me as well. I may run build on Mac, but with `-r win10-x86`

[2019-09-09 17:08] mkArtakMSFT commented on #13128
Closing this as we have a separate issue tracking the work which is left here: #13137

[2019-09-09 17:08] #13128 closed

[2019-09-09 17:10] mkArtakMSFT commented on #12956
Closing as there is nothing to be done here.

[2019-09-09 17:10] #12956 closed

[2019-09-09 17:15] mkArtakMSFT commented on #12259
Moving this to Backlog after seeing no community involvement here. We'll reconsider in the future, if we see clear need for this from community.

[2019-09-09 17:20] NathanSidoliMorris commented on #13786
My hub is typed. The interface is as follows:

    public interface IDashboardHub : IClientProxy
    {
        Task UpdateActiveStatus(NotificationToOne<ActiveStatusPayload> notification);
    }

While the method “Test” does not feature on this interface, I didn’t experience any issues calling a method not featured on the hub interface from the Javascript client (on a previous Asp Net Core 2.2 pro

[2019-09-09 17:22] mkArtakMSFT commented on #11331
After investigating this this seems to be by-design. The error message is exactly what is expected to happen.

[2019-09-09 17:22] #11331 closed

[2019-09-09 17:31] kevinjpetersen commented on #13741
Any update on this one?

[2019-09-09 17:33] BrennanConroy commented on #13786
Ah, I see what's wrong.
Your interface should not inherit from `IClientProxy`.

The name of the interface methods is the name of the client function you're calling. So in the case of the client Test method, you'll need to add a Test method to your interface.

[2019-09-09 17:38] berndku commented on #4707
@davidfowl: performance, not all of our requests require complete de-serialization of the entire body. But I believe we also tested it quickly with the built in formatter by replacing the string with a JObject parameter and didn´t see blocking there as well.

[2019-09-09 17:40] NathanSidoliMorris commented on #13786
What is the reason for this interface not inheriting ```IClientProxy``` in this case?

Thankyou for your help :)

[2019-09-09 17:41] NTaylorMullen opened #13833 "Make Razor LiveShare _ViewImports acquisition not block LiveShare session start."
For larger projects we need to query all of the .Razor files on the host machine. This looks to be expensive on LiveShare session start.

To optimize this path we can lazily acquire all of those files which will impact users who immediately open up Razor files (they wont get accurate IntelliSense/completion); once those _ViewImports are "acquired" the files will re-parse and errors will go away.

[2019-09-09 17:42] davidfowl opened #13834 "Override ReadToEndAsync in HttpRequestStreamReader"
https://github.com/aspnet/AspNetCore/issues/4707#issuecomment-529565855

When doing using `HttpRequestStreamReader.ReadToEndAsync` it's possible to end up doing blocking reads since we don't override `ReadAsync(Memory<char>)`

[2019-09-09 17:42] davidfowl commented on #4707
Performance is overloaded? Better throughput trading off memory usage? Buffering the entire body into memory means you have this temporary string just for the purpose of turning that into another object. The built in formatters don't block, they go out of their way to avoid buffering into a single contiguous block of memory (like a string or byte[]).

Regardless, I'll file an issue for the ReadToE

[2019-09-09 17:44] BrennanConroy commented on #13786
The interface isn't supposed to inherit from `IClientProxy`. The interface represents the client methods that can be called.

And `IClientProxy` represents a way of calling methods without the interface.

[2019-09-09 17:48] shirhatti commented on #13788
IIS supports SNI, but doesn't allow you to run custom ASP.NET Core code during the handshake to select the certificate. The options you have available are either to have all certificates available at the time of creating the binding(s) OR use the central certificate store (CCS) which allows you to specify certificates via file-name based conventions.

From what you've described thus far, it sounds

[2019-09-09 17:50] berndku commented on #4707
Thanks for filing the issue!

Fully understand your point about built-in formatters and buffering, but we have to trace each body completely within the controller, no matter if we deserialize it or not. So we need a string representation of the body anyway.

[2019-09-09 17:52] NathanSidoliMorris commented on #13786
Okay, thanks for the clarification.

Just for a sanity check, are you be able to reproduce the exact same behaviour I was experiencing?

Given a similar setup (I.e with the interface implementing ```IClientProxy``` and not having a method defined on it and an attempted call from the JS client.

[2019-09-09 17:53] pandiyarajm93 commented on #13638
Hi @pranavkm ,

How to resolve that issue?

Thanks advance
Pandiyaraj M

[2019-09-09 17:56] BrennanConroy commented on #13786
Yes, once I saw `IClientProxy` being used I could repro the same issue.

[2019-09-09 17:59] NathanSidoliMorris commented on #13786
Okay , cheers. I’ll close the issue now :)

[2019-09-09 17:59] #13786 closed

[2019-09-09 18:00] NathanSidoliMorris commented on #13786
Okay , cheers. I’ll close the issue now

[2019-09-09 18:08] pranavkm commented on #13638
Changing the view model to stop deriving from `ComponentBase` should resolve the issue.

[2019-09-09 18:09] pranavkm commented on #13794
TagHelpers are a Razor parser feature. There's a way to register them in DI and use the service container to initialize them, but you'll need to add them to `_ViewImports.cshtml` to be used in Razor files.

[2019-09-09 18:17] Pilchie opened #13836 "Perf: Build custom pipelined client for TechEmpower benchmarks"
### What problem are you having.
In TechEmpower benchmarking, we're seeing that the pipelined test is limited by CPU on the load generator based on it interpreting LUA script.

### Describe the solution you'd like
Let's write a custom load generator client instead.

[2019-09-09 18:31] pandiyarajm93 commented on #13638
I have changed as you suggest solution, still issue occur

[2019-09-09 18:59] tiandian commented on #13814
@Tratcher, i have test TestServer, it is just what i want!
Thank you!

[2019-09-09 18:59] #13814 closed

[2019-09-09 19:04] Tratcher commented on #4422
@shirhatti

[2019-09-09 19:23] Legends commented on #13809
@GerardSmit
In my case VS doesn't crash and my reproduction steps are bit different,
but it shows the same problem indeed.

[2019-09-09 19:28] DamianEdwards commented on #7663
Usually I'd shoot for composition over aggregation for Tag Helpers, i.e. make `<datalist asp-for="Model.State" asp-items="Model.StateItems">` rather than something that changes `<input />` to render the list as well, as that makes it hard to style, modify, etc. But, in this case, it seems `<datalist>` has no visual representation of its own that's styleable. In fact, it has none of its own attribu

[2019-09-09 20:22] stelian56 opened #13837 "Unhandled ConnectionAbortedException"
On two occasions, 1 month apart, our 2.2 ASP.NET application crashed due to the unhandled exception below:
Microsoft.AspNetCore.Connections.ConnectionAbortedException: 'The Socket transport's send loop completed gracefully.' Stack trace found by process dump analysis with Visual Studio:
`at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw() in E:\A\_work\644\s\src\mscorlib\src\System\R

[2019-09-09 20:26] dijitalmunky commented on #13734
Perfect, thanks.

[2019-09-09 20:26] dijitalmunky commented on #13734
Perfect, Thanks!

[2019-09-09 20:26] #13734 closed

[2019-09-09 20:29] ivanbasov commented on #13319
Thank you for investigations and explanations, @NTaylorMullen ! I have created an issue on the Roslyn side: https://github.com/dotnet/roslyn/issues/38596 Let us see what we can do.

[2019-09-09 20:40] joeaudette opened #13838 "LowercaseUrls setting should not lower case the names of query string parameters"
If you configure to use lower case urls as shown

    public void ConfigureServices(IServiceCollection services)
    {
        services.Configure<RouteOptions>(options => options.LowercaseUrls = true);
        services.AddMvc();
    }

If any of the query string parameter values contains the / character, it lower cases the whole url up to the last / when it should lower case only segments up to th

[2019-09-09 21:26] nickalbrecht opened #13839 "Large number of duplicate strings related to Regex use in RouteAttributes when profiling memory"
This isn't as pronounced in a new application, but in larger projects with complex routing, the problem grows.

**Summary**
I'm seeing a large number of duplicate strings related to regular expressions (5000+ in the worst single instance for a string) when doing some memory profiling (dotMemory by Jetbrains). I originally noticed this on ASPNETCore 2.2 since that's the current runtime I'm using, h

[2019-09-09 21:40] BrennanConroy commented on #13767
Could you enable server side logs at the Debug level?

Kestrel will log any certificate issues if there are some.

[2019-09-09 22:18] davidfowl commented on #4707
https://github.com/davidfowl/AspNetCoreDiagnosticScenarios/blob/master/AspNetCoreGuidance.md#avoid-reading-large-request-bodies-or-response-bodies-into-memory

😄

[2019-09-09 22:32] NTaylorMullen commented on #13833
Throwing this into preview2 since this should go into the 16.4 milestone and shouldn't take much time.

[2019-09-10 00:14] DamianEdwards commented on #7663
The more I look into this, the more scenarios appear and thus the more complicated it seems :smile:

Some baseline points (facts, hopefully):
- `<datalist>` has no rendering and should never be visual in its own right (so no need to support styling or other attributes on its element tag)
- a single `<datalist>` can be used by multiple controls
- a control specifies the `<datalist>` it wishes to us

[2019-09-10 00:49] ghd258 opened #13842 "<Project Sdk="Microsoft.Net.Sdk.Razor">"
<AddRazorSupportForMvc>true</AddRazorSupportForMvc>

[2019-09-10 00:55] ghd258 commented on #13842
<AddRazorSupportForMvc>true</AddRazorSupportForMvc>

[2019-09-10 00:55] #13842 closed

[2019-09-10 01:11] chrdlx opened #13843 "Server Side Blazor Preview9 Azure - Intermittent disconnection Android Chrome"
I'm trying the free Azure's plan with Blazor,  and I've found that if I host any Blazor app (Without SignalR service which means long polling),   I get intermittent blazor's disconnection messages...  it's 1 disconnect message each 2 seconds (aproximately) and it lasts 1 second...  so it makes the app unusable.

But I've found the issue...  which is that Chrome on Android has the lite-mode which s

[2019-09-10 04:31] marcuslindblom commented on #13794
@pranavkm Ok, I see. Does the same applies to `TagHelperComponents`?

[2019-09-10 06:09] thanuja89 opened #13844 "TimeSpan property not bound"
We recently tried migrating to .NET Core preview 9.

We had a TimeSpan property in the model that we used in an Web Api Controller POST method. When we ran our integration tests, we noticed that the model would not be bound, but if we commented out the property, it works.

### Expected behavior
The model to be bound successfully

### Additional context
We use Microsoft.AspNet.WebApi.Client 5.2.7 o

[2019-09-10 06:16] leastprivilege opened #13845 "Missing claim mappings in the OpenID Connect handler"
Here

https://github.com/aspnet/AspNetCore/blob/master/src/Security/Authentication/OpenIdConnect/src/OpenIdConnectOptions.cs#L60-L66

You setup the standard claim mappings - and the comment says that this is according to the spec.

Is there a reason why you are only mapping a subset of the standard claims?
https://openid.net/specs/openid-connect-core-1_0.html#StandardClaims

I mean - on one hand y

[2019-09-10 06:19] leastprivilege commented on #4674
ping @blowdart

We could do it for you...let me know.

[2019-09-10 06:23] dolphinsd commented on #13788
@shirhatti , thanks for the pointer, we implemented CCS, the problem, is that certificate is not loaded till you either recycle iis server or open iis admin for the new binding by hand and close it, only then ssl certificate is loaded. I would assume IIS should listen for folder changes and load those certificate :(

[2019-09-10 06:33] JasonGT commented on #13388
Hi @javiercn - any further information available? I'd love to see an example.

[2019-09-10 06:36] RagingRudolf commented on #13758
@Tratcher

The problem is that it is not only an issue when running through IIS with AspNetCore Module but also when I try to run my website with dotnet <assembly>. It just aborts the program right away without throwing an exception.

Nothing is logged in EventViewer even when running in development/debug mode.

I had to uninstall my .NET Core 3.0 preview 9 and .NET Core 2.0.9 and then reinstall m

[2019-09-10 07:05] John0King commented on #13758
@RagingRudolf   Are u using `AspNetCoreModule (v1)`  ,  I belive now both older and newer should use `ANCMV2` . ps: this is just some thought  not install 3.0 on production yet

[2019-09-10 08:24] lheinold commented on #13830
Okay so I totally got this flipped around in my head, I'm sorry. I'm actually using Microsoft.AspNetCore.Mvc.Core 2.2.5 so everything is Newtonsoft. That said, it is still not deserializing the ProblemDetails class properly. I made a test class ProblemDetailsTest where I copied the code directly from here: https://github.com/aspnet/AspNetCore/blob/release/2.2/src/Mvc/Mvc.Core/src/ProblemDetails.cs

[2019-09-10 08:30] alastairs commented on #4707
@davidfowl That link provides context as to _why_ not to do this (great! 😃), but not _what to do instead_ (oh 😞). Let's say you need to accept arbitrary file bodies in a request, and send that arbitrary file request body to another system, such as a database or a message queue. How do you avoid reading that request into memory?

[2019-09-10 08:31] berndku commented on #4707
Sure, this is not a good practice, but requests are about 20-40KB, so no LOH fragmentation issues expected. I recommended to move the body tracing to a different place in the architecture a while ago, but this will take longer and we needed a short term solution.

Since #13834 is about _HttpRequestStreamReader_,  I checked our custom formatter (code below) again, but there we just used _StreamRead

[2019-09-10 08:43] khteh opened #13847 "Writing is not allowed after writer was completed."
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
A clear and concise description of what the bug is.
My ASP.Net Co

[2019-09-10 08:54] Arunsanthoshh opened #13848 "How to update a dynamic DOM value with particular interval?"
I need dynamic updation of DOM value by using timer of every second.

I have tried a counter value increment on every second. But in that code, I have get an only the final value of that DOM value. I need every second value in my DOM.

Find the blazor code below...

[code]

[2019-09-10 08:58] mfitconsultants opened #13849 ".Net Core 3.0 Preview 9 Blazor Logging Issue"
After upgrading my `preview 8` project o `preview 9`, at runtime I am getting the following error (initially after the page has loaded and redirected and if I call for example `logger.LogDebug()`;

Which seems to relate to my Logger being injected. now I have followed Dan Roths blog post here;

[asp-net-core-and-blazor-updates-in-net-core-3-0-preview-9](https://devblogs.microsoft.com/aspnet/asp-ne

[2019-09-10 09:24] MonkSoul commented on #13823
This problem have now been sorted

[2019-09-10 09:24] #13823 closed

[2019-09-10 09:48] taori commented on #13804
After spending quite a while and attempts to fix it i found a mention im some thread that signin cookies don't work outside of https.

So this issue happening to me was a result of combined factors:
- deployment as windows service
- executed as custom local service user account

fixing it required me to export the dev certificate and then reference it in the configuration like this:

	"Https": {

[2019-09-10 10:17] kimbell opened #13850 "Question: Controller discovery across multiple assemblies using new routing system"
I have a class library containing a Controller currently working on 2.0. I'm in the process of migrating things over to 3.0 using preview 9.

My class library has a test project that sets up things using WebApplicationFactory. In 2.0 the controller in my class library was automatically discovered. With the new routing system, it cannot find the path handled by the controller.

This is how I've set

[2019-09-10 10:37] gaborbuzasi opened #13851 "Sporadic 502 responses to GET requests"
Our app is a .NET Core 2.2 Web API, which is running on an Azure App Service (windows) with InProcess hosting mode.

We receive sporadic 502 responses to CORS GET requests when using the API with an SPA running VueJS. This seems to be happening only when making requests from an SPA, not in case of a native/desktop client. This is occurring across all of our environments and causes disturbance in p

[2019-09-10 10:46] Madhust commented on #13610
+1 for this issue. I have faced similar issue that `OnParamterSet` is invoked so many times and also i find it hard to get the reason for the re-render.  So i had to manually check/compare the values in the `OnParameterSet`.

[2019-09-10 11:26] kimbell commented on #13850
I found out that
[code]
makes things work, but is this the correct way or am I seeing the result of a side effect?

[2019-09-10 11:34] EnricoMassoneDeltatre opened #13852 "ASP.NET core 2.2: tips for configuring MongoDB as a custom key ring storage"
Hi,

we are developing an ASP.NET core 2.2 web application using the cookie authentication without ASP.NET identity. We followed [this docs](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/cookie?view=aspnetcore-2.2) in order to set it up.

We are facing some troubles with the ASP.NET core data protection system when hosting our application inside a web farm. Our requirements

[2019-09-10 11:36] Mikilll94 commented on #3700
@Tratcher

I know that requests for some endpoints should not be logged, i.e. endpoints related to authentication, but requests from other endpoints can be logged.

@davidfowl

Maybe you know some fully-build examples done in the right way?

[2019-09-10 11:55] BongaDev commented on #4699
im still getting the same error , after trying the steps above... my dockerfile looks like this :

`FROM microsoft/dotnet:2.1-aspnetcore-runtime AS base
WORKDIR /app

LABEL io.k8s.display-name="app" \
      io.k8s.description="container description..." \
      io.openshift.expose-services="8080:http"

# Copy everything else
COPY . .
# Build runtime image
EXPOSE 8080
ENV ASPNETCORE_URLS=http://*:80

[2019-09-10 12:10] sbwalker commented on #13448
What namespace does RenderMode.Server exist in?

[2019-09-10 12:29] TehWardy opened #13853 "Post triggers null reference exception in framework with no details as to why"
This was triggered by endpoint when posting an entity to an OData controller (recovered fro m the server console as the response produce was the json below.

**Response**
[code]

**Console Logged Exception**

[code]

Any ideas how I debug this?

I lost 2 days to this on a production server due to the framework giving me literally no information what so ever (unless you consider the json response u

[2019-09-10 13:26] gaborbuzasi commented on #13851
Seem to be receiving this at the same time when the errors happen:
[code]

[2019-09-10 13:29] gaborbuzasi commented on #13851
https://github.com/aspnet/AspNetCore/issues/4422 may be related

[2019-09-10 13:31] vankampenp commented on #4707
mm, sorry if this is not related, but I get this output from the blockingmonitor when IIS is restarted. It occurs multiple times. I use the asp-append-version taghelper. After temporarily removing that, the blocking call is no longer reported.

2019-09-10 15:06:25.0604|35.230.16.48||WARN |9.9.19.0|39 |Base|BlockingMonitor.BlockingStart|Blocking method has been invoked and blocked, this can lead to

[2019-09-10 13:31] Tratcher commented on #13845
It's the usual trade-off between utility and bloat. These are the most common ones people are likely to use.

[2019-09-10 13:37] gaborbuzasi commented on #4422
I would be very curious if there are any updates on this one related to .NET Core 2.2.x users? @Tratcher @shirhatti

[2019-09-10 13:45] mv10-work commented on #12432
Related: https://github.com/aspnet/AspNetCore/issues/5330

[2019-09-10 13:58] yohsii opened #17780 "cannot authorize with custom scheme"
I'm using:
[code]
to register the scheme "custom" but when i try and authorize on the controller doing this:
[code]
it doesn't authorize the user and redirects to login page even though the user is logged in and is in the correct role.

if, however, i try this:
[code]
the same user will happily authorize and i can get through to the page.

so my question is - how can i get my "custom" authenticati

[2019-09-10 14:03] SeppPenner opened #13854 "Question: How to use static assets in server side Blazor (From a Blazor library?)"
While working on https://github.com/Joelius300/ChartJSBlazor, @Joelius300 and I didn't find a nice way to integrate static assets from a Blazor library to a server side example Blazor project.

The only way I know to achieve this, is using the https://github.com/SamProf/EmbeddedBlazorContent library from @SamProf to integrate the files into the project.

We don't want to simply copy the assets int

[2019-09-10 14:05] balaji-rajan commented on #13647
@Tratcher Its from UserInfoEndpoint, Alternatively i can map it to a claim using **JsonSubKeyClaimAction** but cant group nicely

[2019-09-10 14:11] TehWardy commented on #13853
Having rolled back the EF relationship i was trying define the issue appears to be gone.
I would still consider this a bug in aspnet core as the information was vague and the exception raised seemingly unrelated to the issue that was actually caused.

Not sure how to reproduce this as a stand alone sample though.

[2019-09-10 14:16] Zonciu opened #13856 "WebApi return specific content cause stack overflow"
### Describe the bug
WebApi returning specific content cause stack overflow

### To Reproduce
#### Reproduction project
[WebApplication.zip](https://github.com/aspnet/AspNetCore/files/3596081/WebApplication.zip)

Steps to reproduce the behavior:
1. Using this version of NET Core 3.0 Preview 9
2. dotnet new webapi
3. Add controller methods:
[code]
4. Access `/test/1` is ok, but `/test/2` causing st

[2019-09-10 14:51] rynowak commented on #13856
@ahsonkhan - the only differnce between these cases appears to be the text.

[2019-09-10 15:17] VictorioBerra commented on #13388
I am guessing maybe he meant to [register your own JwtBearerOptions](https://github.com/aspnet/AspNetCore/blob/master/src/Security/Authentication/JwtBearer/src/JwtBearerHandler.cs#L26) and override stuff like the ConfigurationManager.

Maybe he means for us to replace [the post configure](https://github.com/aspnet/AspNetCore/blob/master/src/Security/Authentication/JwtBearer/src/JwtBearerPostConfig

[2019-09-10 15:20] lheinold commented on #13830
Figured out the problem (but not the solution).

My initial instinct was correct, ProblemDetails is using the attribute from System.Text.Json, for some reason.

I have a Client project (netstandard2.0, using Blazor) and Server project (netcoreapp3.0). The Server project includes the Client as a reference. The Client has the nuget package for Microsoft.AspNetCore.Mvc.Core v2.2.5, and the Server ref

[2019-09-10 15:23] George-01 commented on #3631
Microsoft!!!!!!!!!
All i had to do after several hours was:
go to iis -> application pools -> find your application pool used in application -> click it and then click 'Advance Settings' in Actions panel. Find 'Identity' property and change it to localsystem.
thanks to this thread -> https://www.codeproject.com/Questions/558566/LoginplusfailedplusforplususerplusIISplusAPPPOOL-5
Peuw!!!!!

[2019-09-10 15:25] Tratcher commented on #13647
Well, there's always `MapCustomJson`

[2019-09-10 15:32] VictorioBerra commented on #13388
Also in my code snippet, I thought by adding a whole new `AddJwtBearer` in `ConfigureTestServices` was literally "update/replace the JWT bearer middleware". Unless you meant what i did with TokenValidationParameters was overkill?

[2019-09-10 15:33] BrennanConroy commented on #13642
You should be grabbing the tokens during your auth process and setting them on the principal. This would avoid the usage of `HttpContextAccessor` and also you wouldn't need to get the tokens every time you want to call your API.

Also, you're using a Singleton `HttpClient` and setting sensitive headers on it.
This is a bad idea because another user could also be using the `HttpClient` and accident

[2019-09-10 15:37] sven5 opened #13857 "Question: Dynamic title tag for Blazor app"
### Is your feature request related to a problem? Please describe.
Hi, I'd like to dynamically change the `<title>` tag for a Blazor app.
Since the title is normally defined in a static asset, like `index.html` or `index.cshtml` this seems impossible so far. However, with the help of `LayoutComponentBase` this would work when defining all `head` information there. Then the `script` tags would also

[2019-09-10 15:41] sven5 commented on #13854
I think this is already possible since Preview 6. Please read danroth's blog post about **Static assets in Razor class libraries** [here ](https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-6/)

I always recommend to check this blog every week 😄

[2019-09-10 15:44] BrennanConroy commented on #13847
This is fixed in 3.0
Dupe of https://github.com/aspnet/AspNetCore/issues/11219

[2019-09-10 15:44] #13847 closed

[2019-09-10 16:00] mkArtakMSFT commented on #13856
@rynowak I can repro this. yes, the only difference is the text.

[2019-09-10 16:01] mkArtakMSFT commented on #13856
Thanks for reporting this, @Zonciu.

[2019-09-10 16:04] mkArtakMSFT commented on #13856
[code]

[2019-09-10 16:14] bharath-nepoleon commented on #7945
@anurse I am interested in taking this. Is creating a new method with parameter of type `Dictionary<string, StringValues>` an acceptable solution? or should I just change the access modifier of the existing method?

[2019-09-10 16:19] blogcraft commented on #5431
... And what about Angular 9 with Ivy?

[2019-09-10 16:27] pranavkm commented on #13856
Here's the minimal repro step without MVC involved:

[code]

Here's what's causing the StackOverflow:

![image](https://user-images.githubusercontent.com/174281/64631901-ef0db780-d3ac-11e9-9bca-563841083e8a.png)

It's specifically the `UnsafeRelaxedJsonEncoding` which is what MVC uses by default for Json serialization.

[2019-09-10 16:27] Joelius300 commented on #13854
From looking at the readme of blazor UI it doesn't seem like they are. There are a few statements which let me believe they solved it in some other way.

If you just use the library, no folder should be created automatically.

Their links are not referencing `_content` like they should be if this feature was used.

Are you sure that they are using this?

[2019-09-10 16:28] pranavkm commented on #13856
This issue was moved to dotnet/corefx#40979

[2019-09-10 16:28] #13856 closed

[2019-09-10 16:29] mclean25 commented on #13772
I re-created the entire project and now I get a different error for some reason. The issue I'm getting now is that the project I'm adding (Aspose.Cells) contains native code and I get the error `MSB3073`.

[2019-09-10 16:29] #13772 closed

[2019-09-10 16:35] mkArtakMSFT commented on #13857
Thanks for contacting us, @sven5. We're tracking this ask as part of #10450

[2019-09-10 16:35] #13857 closed

[2019-09-10 16:38] mkArtakMSFT commented on #13854
Thanks for contacting us, @SeppPenner.
Have you checked out the Static Assets docs at: https://docs.microsoft.com/en-us/aspnet/core/razor-pages/ui-class?view=aspnetcore-3.0&tabs=visual-studio#create-an-rcl-with-static-assets

[2019-09-10 16:40] mkArtakMSFT commented on #13849
Thanks for contacting us.
Seems like you're still running into a package-incompatibility problem. Seems like the Browser.Console.Logger pacakage hasn't been updated and is still referencing Preview8 bits.

[2019-09-10 16:40] #13849 closed

[2019-09-10 16:41] BongaDev commented on #4699
@jozefizso

[2019-09-10 16:42] rynowak commented on #13793
We don't claim that Blazor preserves the original structure of the **text** you write in a document, only that it produces equivalent DOM elements in the browser. Is something functionally broken in this case?

[2019-09-10 16:44] Joelius300 commented on #13854
I think I have found the error. When running the application from visual studio or a non-published version, you need to include `webBuilder.UseStaticWebAssets();` otherwise it won't work. That also explains why I got different results depending on the way I deployed the project (I didn't always use `dotnet publish`).

That should fix the issue, thank you.

Will the need for `webBuilder.UseStaticWe

[2019-09-10 16:46] mkArtakMSFT commented on #13843
Thanks for contacting us. @danroth27 can you please look into this? Thanks.

[2019-09-10 16:47] mkArtakMSFT commented on #13828
Thanks for contacting us.
Can you please try to change the `None` node with `Content` and see whether that fixes the issue.

[2019-09-10 16:48] Pilchie commented on #13497
Adding @mkArtakMSFT here.  Is this something someone from your team could look at?

[2019-09-10 16:49] egil commented on #13793
The related bug reported on my testing library shows one case where this causes problems (I will be moving away from an XML based comparing library so this won't be an issue for me going forward), but it will prevent Blazor from producing XML compatible markup, and that might be a problem in other cases.

[2019-09-10 16:50] mkArtakMSFT commented on #13825
Thanks for contacting us.

On the base class there is a property called `ScopedServices`, which should be used to access other services.

[2019-09-10 16:50] #13825 closed

[2019-09-10 16:50] NTaylorMullen opened #14334 "TagHelper attribute completions not always available on incomplete tags."
For instance, in Blazor applications doing the following reproduces the issue:

Type `<InputText |`, and see that you can't get a completion list of directive attributes available.

[2019-09-10 16:52] NTaylorMullen opened #14335 "Cannot get C# IntelliSense for FormTagHelper asp-antiforgery"
Trying to get completions here: `<form asp-antiforgery="tr|">` doesn't seem to work according to this: https://github.com/aspnet/Tooling-ManualTests/pull/561

[2019-09-10 16:52] mkArtakMSFT commented on #13813
Thanks for contacting us, @Legends .
Switching Chrome to `offline` doesn't terminate the connection.
You can try to close shut down the server to simulate this.

[2019-09-10 16:52] #13813 closed

[2019-09-10 16:54] mkArtakMSFT commented on #13809
Thanks for contacting us, @Legends.
We don't support F5 debugging for Blazor WASM projects at the moment. We are going to enable support in the future.

[2019-09-10 16:54] #13809 closed

[2019-09-10 16:55] mkArtakMSFT commented on #13808
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-blazor** tag.

[2019-09-10 16:55] #13808 closed

[2019-09-10 16:55] dolphinsd commented on #13788
We tried to update central SSL certificate store from ASP.NET core app. Even after given permission to the iisnet config path for IUSR and IIS_IUSRS, when biding record is committed we get exception. The binding record is created, but it fails to associate with SSL certificate via the store. Any idea, how to overcome it?

Here is a the code that rights the record

[code]

[2019-09-10 16:56] mkArtakMSFT commented on #13803
Thanks for contacting us, @davidmather.
We don't support F5 debugging for Blazor WASM projects at the moment. We are going to enable support in the future.

[2019-09-10 16:56] #13803 closed

[2019-09-10 16:57] #5051 closed

[2019-09-10 16:57] mkArtakMSFT commented on #13795
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-09-10 16:57] #13795 closed

[2019-09-10 17:00] mkArtakMSFT commented on #13789
Thanks for contacting us, @intiharj.
We are unable to reproduce this issue. Can you try to share with us as many details about your environment, as possible in a hope that there will be something to follow up on.

[2019-09-10 17:00] blowdart opened #13859 "Microsoft Security Advisory CVE-2019-1302: ASP.NET Core Elevation Of Privilege Vulnerability"
# Microsoft Security Advisory CVE-2019-1302: ASP.NET Core Elevation Of Privilege Vulnerability

## <a name="executive-summary"></a>Executive summary

Microsoft is releasing this security advisory to provide information about a vulnerability in ASP.NET Core. This advisory also provides guidance on what developers can do to update their applications to remove this vulnerability.

Microsoft is aware

[2019-09-10 17:01] Joelius300 commented on #13854
However, I have a quick follow up question. One of the things that confused me most about this issue was the fact that a freshly created blazor library _always_ worked, without calling `UseStaticWebAssets()` and without `dotnet run` or `dotnet publish`; it always worked even when just starting from visual studio.

I thought I might be missing some package or I might not have specified what kind of

[2019-09-10 17:01] rynowak commented on #13785
We lock roadmap issues to keep the main thread clean. However, we **do** want your feedback and questions about what's going on in 3.1 Please feel free to use other issues to discuss.

[2019-09-10 17:02] mkArtakMSFT commented on #13781
Thanks for contacting us.
We think the current design is fine.

[2019-09-10 17:02] #13781 closed

[2019-09-10 17:03] blowdart opened #13860 "Microsoft Security Advisory CVE-2018-8269: Denial of Service Vulnerability in OData"
# Microsoft Security Advisory CVE-2018-8269: Denial of Service Vulnerability in OData

## <a name="executive-summary"></a>Executive summary

Microsoft is releasing this security advisory to provide information about a vulnerability in ASP.NET Core. This advisory also provides guidance on what developers can do to update their applications to remove this vulnerability.

Microsoft is aware of a deni

[2019-09-10 17:04] SteveSandersonMS commented on #13781
The reason for the current design is that components can add and remove children at any time. There's never any specific time where a component can know that all its descendants have been rendered, as more could still appear. That's why we don't promise that `OnAfterRenderAsync` waits for descendants - it wouldn't be meaningful.

If this is causing an issue for a specific thing you're trying to im

[2019-09-10 17:05] #13779 closed

[2019-09-10 17:07] mkArtakMSFT commented on #13771
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-09-10 17:07] #13771 closed

[2019-09-10 17:09] mkArtakMSFT commented on #13741
we are planning to cover this as part of #13584.

[2019-09-10 17:09] #13741 closed

[2019-09-10 17:14] mkArtakMSFT commented on #13851
Thanks for contacting us, @gaborbuzasi.
@shirhatti, @Tratcher is this a known issue in 2.2? Is this really a dupe of the referenced issue?

[2019-09-10 17:14] mfitconsultants commented on #13849
@mkArtakMSFT All the packages seem to be present and correct and at preview 9.

If I inject the logger in the `@code` element it works just fine

[code]

The error disappears, and the issue is only there if I inject at the top of the Razor page?

[2019-09-10 17:15] mkArtakMSFT commented on #13850
@pranavkm can you please confirm this approach is the right one? Thanks.

[2019-09-10 17:15] mkArtakMSFT commented on #13850
Also, is this potential 3.0 regression?

[2019-09-10 17:17] blowdart commented on #13852
Removal of keys safety depends on how you are using data protection. If you're using it on your own data, for things you want to unprotect later, then no, don't remove keys. If it's just the default asp.net uses then you can remove ones that expired a month ago safely.

If you don't want to use Azure then x509certificates are the only way to protect at rest. Do not skip this step.

Disabling multi

[2019-09-10 17:19] mkArtakMSFT commented on #13844
Thanks for contacting us, @thanuja89.
Are there any errors in the `ModelState` in your action, when model binding fails?
Can you please share these errors, if any?

[2019-09-10 17:20] mkArtakMSFT commented on #13839
Thanks for contacting us, @nickalbrecht.
@rynowak can you please look into this? Thanks!

[2019-09-10 17:22] mkArtakMSFT commented on #13838
Thanks for contacting us, @joeaudette.
@javiercn can you please look into this? Thanks.

[2019-09-10 17:25] mkArtakMSFT commented on #13831
Thanks for contacting us, @ice19942335.
@ajaybhargavb can you please look into this? Thanks!

[2019-09-10 17:32] mkArtakMSFT commented on #13829
Thanks for contacting us, @pamedasa .
@pranavkm can you please look into this? Thanks!

[2019-09-10 17:36] NTaylorMullen commented on #7768
Tried unskipping but the bits are still flaky due to Roslyn blockers. @mkArtakMSFT do you want me to leave this in the infrastructure milestone even though nothing can be done yet because we're still blocked?

[2019-09-10 17:37] davidmatson opened #13861 "Can't do Windows Authentication in Docker container in ASP.NET Core 2.1+"
### Describe the bug
ASP.NET Core 2.1+ doesn't have a way to do Windows Authentication inside a Docker container, starting with version 2.1. In 2.0.x, using OWIN as a workaround (with HttpListener) worked.

### To Reproduce
Use OWIN with HttpListener, and enable Windows Authentication using a gMSA in a Docker container.

### Expected behavior
Http requests succeed

### Actual behavior
Http request

[2019-09-10 17:39] intiharj commented on #13789
Hopefully it's my environment :).  I'll test on another machine to see if I can repro it there.  Will write back later today.  Thank you.

[2019-09-10 17:40] blowdart commented on #13861
Do you actually need Windows Authentication or just seamless login?

3.0 will come with it's own kerberos authentication (although it'll be limited to username only, no groups or roles).

There's always ADFS, with the bonus there that you can move to a cloud hosted container, or indeed a linux container without changing anything.

[2019-09-10 17:45] snerting commented on #13642
@BrennanConroy  Thanks a lot for all your help and for the tip on my bad use of HttpClient 👍

[2019-09-10 18:01] mkArtakMSFT commented on #13642
Thanks @BrennanConroy!
Closing this issue as resolved.

[2019-09-10 18:01] #13642 closed

[2019-09-10 18:06] mkArtakMSFT commented on #7768
What are the Roslyn blockers? Do we have an ETA for these?
If we are sure nothing will happen during this week, we should just move this issue out.

[2019-09-10 18:11] intiharj commented on #13789
OK, I have more information.
I've tried this on 2 environments, both running preview 9

**ENV_A:**
1. the original environment mentioned above
2. windows 10 v1803 (OS Build 17134.590)
3. corporate image
4. VPN to corporate network with Active Directory

**ENV_B:**
1. personal (non-corporate) machine
2. windows 10 v1903 (OS Build 18362.329)

Notes:
I still see the original error on ENV_A if I use a

[2019-09-10 18:12] NTaylorMullen commented on #7768
https://github.com/dotnet/roslyn/issues/31548

Nope

[2019-09-10 18:13] Hantse opened #13862 "No DefaultChallengeScheme found from preview8 to preview9"
Hello,

I just update my application to preview9 and i have a exception working with preview8.

I change nothing except update to preview9 and asp package update. And i hacve already configure a auth.

`            services.AddAuthentication(options =>
            {
                options.DefaultScheme = JwtBearerDefaults.AuthenticationScheme;
                options.DefaultChallengeScheme = JwtB

[2019-09-10 18:17] blowdart commented on #13862
@HaoK

[2019-09-10 18:19] SeppPenner commented on #13854
Have you checked out the Static Assets docs at: https://docs.microsoft.com/en-us/aspnet/core/razor-pages/ui-class?view=aspnetcore-3.0&tabs=visual-studio#create-an-rcl-with-static-assets

I actually didn't find that page :D

[2019-09-10 18:19] SeppPenner commented on #13854
But as far as I can see, the questions from @Joelius300 are legit...

[2019-09-10 18:25] intiharj commented on #13789
also, in both environments, I'm running debug builds in IIS Express

[2019-09-10 18:28] davidmatson commented on #13861
Hey, Barry! For this scenario, I just need HTTP Negotiate or Kerberos auth (seamless login) that provides group membership for seamless on-prem authorization.

[2019-09-10 18:28] llyons commented on #2773
I had this same issue and it turned out that I had not installed the  .NET Core Windows Server Hosting bundle.   Once I installed that, the ProcessPath issue in the web.config was no longer an issue.

[2019-09-10 18:34] dougbu opened #13864 "Re-enable signing validation"
#13040 will leave us without signing validation for now.

@joeloff is looking into possible bugs in this part of Arcade. Once that is done, we should remove the `enableSigningValidation: false` line in ci.yml (https://github.com/aspnet/AspNetCore/pull/13040/files#diff-097cdf55e1a931b74fbfe48d7e41c8beR593).

[2019-09-10 18:38] HaoK commented on #13862
Can we see the rest of your startup?

[2019-09-10 18:46] Hantse commented on #13862
Sure

`
public void ConfigureServices(IServiceCollection services){
 services.AddAuthentication(
               options =>
               {
                   options.DefaultScheme = JwtBearerDefaults.AuthenticationScheme;
                   options.DefaultAuthenticateScheme = JwtBearerDefaults.AuthenticationScheme;
                   options.DefaultChallengeScheme = JwtBearerDefaults.Authenticati

[2019-09-10 18:48] mkArtakMSFT commented on #13789
Thanks for the details, @intiharj.
So to confirm I understood your correctly: when the `Roles=...` is added to the `AuthorizeView`, even though the role exists and the user is a member of that role, nothing gets rendered, however you see the logs like the following in this case:
[code]

[2019-09-10 18:50] intiharj commented on #13789
correct

[2019-09-10 18:51] MV10 commented on #13705
That updated NuGet search is awful... who the heck thought *exact matches* shouldn't show up first?!

[2019-09-10 18:55] mkArtakMSFT commented on #13854
/cc @javiercn

[2019-09-10 19:03] blowdart commented on #13861
@Tratcher

[2019-09-10 19:04] mkArtakMSFT commented on #13849
Thanks for the details, @mfitconsultants.
Would be great if you could provide us with a minimalistic sample project, so we can easily reproduce this.

[2019-09-10 19:09] edgolub commented on #13721
I'm trying not to build an SPA, as blazor seems to force me to do.

This feature would have been great for that purpose.

[2019-09-10 19:23] HaoK commented on #13862
You need to add a jwtbearer scheme with the name you set as the default, you shouldn't be passing in the .AddJwtBearer(configuration.SchemeName), unless you are registering that as the default as well.

[2019-09-10 19:28] Tratcher commented on #13861
Note #3022 was able to work around the issue so it's not completely blocked.

These are windows containers, right? Have you tried the new 3.0 auth features?

[2019-09-10 19:29] tweek82 opened #13866 "High TCP connection count on Azure App Services - investigate stale loopback connections"
ASP.Net Core 2.1 WebAPI
+ Azure SQL Server
+ Azure REDIS Premium

We have a webapi hosted on Azure App Services on a two instance P2V2 plan. At it highest load it currently will take up 7000 requests per minute. This runs fine most of the time.
But, when Azure swaps the instances in the background, or when we publish a new version from Visual Studio into this app service, the TCP count piles up an

[2019-09-10 19:30] Pilchie commented on #13864
Keeping in 3.0, as I don't want to enter servicing without signing validation.

[2019-09-10 19:34] davidmatson commented on #13861
Looking through that issue, it sounded like the workaround was to use a different feature collection part for OnComplete, though I'm not exactly sure what that would look like. Do you have any details? (I didn't see how to from a quick look through the thread).

These are Windows containers. We're still on 2.x and I'm rather not move to 3.0 yet if possible. Either way, from what Barry said above i

[2019-09-10 19:38] Tratcher commented on #13861
The first entry in #3022 says "I copied the OwinFeatureCollection code into my own project and commented out the throw... and model binding now works"

The groups are available on Windows, just not Linux.

[2019-09-10 19:42] davidmatson commented on #13861
I thought that wasn't really an option:
[code]

Good to hear about groups in 3.0. Will they work when running under a gMSA? Any suggestions for what do while on 2.x?

Thanks.

[2019-09-10 19:49] Tratcher commented on #13861
OwinFeatureCollection couldn't implement OnCompleted at a middleware layer, it would fire too early. At a IServer layer though you control the lifetime of the request and could fire OnCompleted once everything is really completed.

No idea. I'm curious to hear what you find.

No, 2.x didn't have all the infrastructure to build this. You could backport most of our Negotiate package on Windows but w

[2019-09-10 20:11] PawelGerr opened #13867 "Process crash when raising an error in "async void" method"
Calling a method `void A()` that calls `async void B()` in a controller crashes the ASP.NET Core process if `B` raises an error.

Make a GET request using the url `http://localhost:5000/test` to be able to reproduce the issue.

## csproj-File
[code]

## Program.cs incl. the controller
[code]
## Raised exception inside .NET
[code]

### Additional context
.NET Core SDK (reflecting any global.json):

[2019-09-10 20:13] EnricoMassoneDeltatre commented on #13852
Hi and thanks for the suggestions.

We use the keys only for the ASP.NET core authentication cookies, we don't do anything custom with them. I'm investigating the key removal in order to avoid an infinite growth of the mongo db collection that is used to store the keys.

Why you said that only the keys expired **one month ago** can be removed ? I mean, why **exactly** one month ago ? My understand

[2019-09-10 20:15] blowdart commented on #13852
The keys are really small, and a new one appears every three months by default. I honestly wouldn't worry about it.

New keys get created a few days before its due, and then syncing happens on a lazy basis, hence
 wanting to keep an older one around until you're sure everything is synced.

You could disable key generation in all but one node, but what happens if that node goes down? Or you update

[2019-09-10 20:15] serpent5 opened #13868 "Slightly incorrect suggestion for resolving missing authn schemes"
When relevant authn schemes are not found, the thrown exception suggests that a call to `AddCookies` might be missing, but the correct symbol is `AddCookie`.

e.g. in [`AuthenticationService.CreateMissingSignInHandlerException`](https://github.com/aspnet/AspNetCore/blob/master/src/Http/Authentication.Core/src/AuthenticationService.cs#L256).

[2019-09-10 20:20] EnricoMassoneDeltatre commented on #13852
Thanks for the explanations, now it's clearer and makes sense.

I agree with you, coordinating the startup is way simpler than rotating the primary node when it goes down. Simplistic solutions are not possible here.

[2019-09-10 20:29] KoenVanExem commented on #13828
Yes, that fixed it.
Thanks.

[2019-09-10 20:29] #13828 closed

[2019-09-10 20:54] blowdart commented on #13852
You'll only need to do it once for creating the first key, because your keyring is persistent. After that it'll just work.

[2019-09-10 21:09] mkArtakMSFT commented on #13867
Thanks for contacting us, @PawelGerr.
Why are you interested in having `async void`?

[2019-09-10 21:11] #13867 closed

[2019-09-10 21:15] divinci commented on #13448
What a silly idea to call the main entry point twice?

[2019-09-10 21:18] pranavkm commented on #13850
@kimbell is this a previously compiled library that wasn't recompiled using a 3.0 SDK?

[2019-09-10 21:23] pranavkm commented on #13830
You can. However, the version of MVC in the 3.0 shared framework would be the one that would get used at runtime.

[2019-09-10 21:44] Draphster commented on #13721
I'll throw my hat in with everyone else in the thread.  I was trying to use Blazor to create a more dynamic experience for my MVC application rather then investing in Angular/React.  That's severely hindered by removing the ability to pass in parameters.  I may be able to over come it with some additional coding on the Blazor component, but it lessens the separation of concerns of MVC and I though

[2019-09-10 21:54] davidmatson commented on #13861
Thanks, Chris. I'll probably investigate a custom FeatureCollection (not using OWIN) as a 2.x workaround for now - any suggestions on how to do a full custom IServer, or is there any documentation?

[2019-09-10 21:56] EnricoMassoneDeltatre commented on #13852
Could you please linking here the issue (if one exists) reporting this problem of concurrent key generation so that we can check the details ? Thanks.

[2019-09-10 22:00] johnbeisner opened #13875 "Use an embedded CAB for the Asp.NET SharedFramework MSI"
Some modifications will be necessary to ASP.NET to accommodate the new installer. Most notably is the requirement to embedded CAB files in the MSIs.

1. Use an embedded CAB for the Asp.NET sharedframework MSI

2. Keep the MSI naming convention the same as it is versioned and unique
aspnetcore-runtime-3.0.0-rc2.19459.5-win-x64.msi
aspnetcore-runtime-3.0.0-rc2.19459.5-win-x86.msi

3. Continue to dro

[2019-09-10 22:08] pranavkm commented on #13829
I just got around to writing a snippet in our docs that shows how to author a polymorphic binder: https://docs.microsoft.com/en-us/aspnet/core/mvc/advanced/custom-model-binding?view=aspnetcore-2.2#polymorphic-model-binding. Outside of the top level property being bound, MVC uses the declared model type unless the model binder explicitly tells it otherwise.:

[code]

@rynowak \ @dougbu  we might wa

[2019-09-10 22:08] joeloff commented on #13875
Effectively, we need to change the Media element in the MSI and then update the Package fragment we compile for the wixlib that allows the MSIs to be shared between the SDK, ASP.NET and Windows Hosting bundle.

[2019-09-10 22:19] pealmeid commented on #12890
The React integration on `Microsoft.AspNetCore.SpaServices.Extensions` only works if you use the `create-react-app` template when creating your app and if you don't [`eject`](https://create-react-app.dev/docs/available-scripts#npm-run-eject) the app afterwards.

This happens because `create-react-app` aims to use only one dependency (with a "curated" set of packages assumed to be the best option -

[2019-09-10 22:19] xperiandri commented on #7789
How to figure out what is wrong? I have such issue and I don't know even where to look 🤯

[2019-09-10 22:27] mkArtakMSFT commented on #13789
@SteveSandersonMS this looks like a bug. Can you please look into this for 3.1?

[2019-09-10 22:32] DAllanCarr commented on #13867
http://blogs.microsoft.co.il/dorony/2013/10/30/async-void-methods-can-crash-your-process/

[2019-09-10 22:41] shirhatti commented on #13866
How is the exhaustion manifesting? Are you seeing request failures.
In ASP.NET Core 2.1 applications the native IIS modules reverse proxies requests to Kestrel via the loopback adapter and as such high TCP port usage is expected.

This is unexpected. Can you share more information on what kind of requests are being sent to the server? Are you using WebSockets?

[2019-09-10 22:43] xperiandri opened #13877 "[Blazor] DefaultAuthorizationService Authorization failed after update to preview9"
### Describe the bug
After I updated Blazor WASM from preview8 to preview9  I get `DefaultAuthorizationService Authorization failed` in browser console
Could you tell how to fix or how to find a root cause?

### To Reproduce
`App.razor`
[code]
`AuthenticationStateProvider` implementation
[code]

### Expected behavior
Information in browser console is enough to determine the cause of authentication

[2019-09-10 22:44] shirhatti commented on #13837
Could you please share the process dump you've collected this us to further investigate?

My email address is on my GitHub profile

[2019-09-10 22:49] shirhatti commented on #13723
@mconnew Do you have a scenario the demonstrates the impact of this scenario? We'll want a sample handy when we go investigate

[2019-09-10 22:51] shirhatti commented on #13719
Given that there's a  trivial workaround for this, we're targeting 5.0 for this

[2019-09-10 22:52] shirhatti commented on #13708
If you have all the correct settings in the local web.config, then you can disable the web.config transform  during publish by setting this property in csproj/profile.

<IsWebConfigTransformDisabled>true</ IsWebConfigTransformDisabled>

[2019-09-10 22:53] shirhatti commented on #13708
Feel free to re-open if you have more questions

[2019-09-10 22:53] #13708 closed

[2019-09-10 22:55] shirhatti commented on #13706
@Jens-G Do you have any additional information in the event log?

@bariscaglar Any ideas what's happening here?

[2019-09-10 23:02] shirhatti commented on #13634
We would accept a PR for this issue, but given our other priorities we're backlogging this for now.

[2019-09-10 23:07] bariscaglar commented on #13706
I don't know but I can see no IIS binaries on the stack. Ivan might have an idea what might be causing this.

[2019-09-10 23:11] shirhatti commented on #13502
Triage decision: We've decided not to implement this proposal that isn't defined by any spec. Our reading of this is that your use case is too esoteric to warrant a change in Kestrel itself.

[2019-09-10 23:11] #13502 closed

[2019-09-10 23:12] shirhatti commented on #12876
Hi. We're closing this issue as no response or updates have been provided   in a timely manner and we have been unable to reproduce it. If you have more   details and are encountering this issue please add a new reply and re-open the issue.

[2019-09-10 23:12] #12876 closed

[2019-09-10 23:17] mkArtakMSFT commented on #13497
@javiercn I know you've done a lot of changes in this area during our infrastructure effort, which is still going on. I'm wondering whether this is already fixed. If not, can you please re-enable these?

[2019-09-10 23:18] shirhatti commented on #13517
I believe this is expected behavior observed when `web.config` is modified shortly after publishing and/or starting your site. The second process is started and the first is allowed a period to gracefully drain pending requests.

Do you know if you're modifying your web.config as described here?

[2019-09-10 23:23] Tratcher commented on #13356
Testing: Confirm that this doesn't break anything on older windows, and that it works as expected on new versions (which version?).

[2019-09-10 23:46] mconnew commented on #13723
I don't have a scenario at the moment as I haven't started to perf test CoreWCF yet. Because this depends on which thread the pending receive was issued from, and that's going to be random, getting a repro using asp.net core is going to be hard. Any sample showing the behavior would be artificial and done with raw sockets and full control of what executes where completely outside of aspnetcore.

[2019-09-10 23:49] pranavkm commented on #13811
Closing this as it's fixed in `master`. @ahsonkhan do you need an issue to track porting this to 3.1?

[2019-09-11 00:24] shirhatti commented on #13541
I've filed a docs issue- https://github.com/aspnet/AspNetCore.Docs/issues/14245

[2019-09-11 00:46] #12494 closed

[2019-09-11 01:40] davidmatson commented on #13861
I tried doing a full implementation of FeatureCollection for HttpListener, but that was hours worth of tricky work including request thread pool handling. I ended up just wrapping the IHttpResponseFeature from OWIN and customizing the handling of OnComplete (and then calling these callbacks later). I'd rather find a way to get rid of OWIN, but implementing IServer seems too much work to be worth a

[2019-09-11 01:45] Tratcher commented on #13861
Sounds right.

[2019-09-11 01:52] JacquesJamiesonLancom commented on #13623
Any update on this or need more information?

[2019-09-11 02:13] pamedasa commented on #13829
I have created custom model validator which works for complex inputs like polymorphic data. Taken the advantage of TryValidateModel provided by controllerbase from asp.net core MVC and override the method to add our own logic.

public override bool TryValidateModel(object inputObject)
        {
            Type type = inputObject.GetType();
            foreach (var prop in type.GetProperties().Whe

[2019-09-11 02:57] #13696 closed

[2019-09-11 03:01] jkotalik commented on #13356
@Tratcher please share whatever channel you are using to get new HttpSys bits s.t. we can test this.

[2019-09-11 03:01] #13792 closed

[2019-09-11 03:14] ahsonkhan commented on #13811
That would be great. Copying this issue to corefx would be sufficient (we can apply the 3..0.x milestone - https://github.com/dotnet/corefx/issues?q=is%3Aopen+is%3Aissue+milestone%3A3.0.x).

[2019-09-11 03:49] dougbu commented on #11924
04705ee4f1ae

[2019-09-11 03:49] #11924 closed

[2019-09-11 04:19] davidfowl commented on #4707
By chunking it into < 85K buffers then transferring it chunk by chunk. It's one of the tricks that Stream uses to copy data from one Stream to another Stream https://github.com/dotnet/corefx/blob/ee9995f31b684a0c6e5488eceb2500bf0057da89/src/Common/src/CoreLib/System/IO/Stream.cs#L31-L34.

That combined with pooling those buffers would result in better performance overall as the large object heap w

[2019-09-11 04:20] davidfowl commented on #4707
@berndku

Yes, `StreamReader` overrides the right methods.

[2019-09-11 04:40] thanuja89 commented on #13844
Yes @mkArtakMSFT

There is one error in the model state.

"The JSON value could not be converted to System.TimeSpan. Path: $.Leads[0].PreferredContactTime | LineNumber: 0 | BytePositionInLine: 565."

[2019-09-11 04:50] Stamo-Gochev commented on #13726
@rynowak What is the reason behind mixing blazor components and tag helpers? Can this be a blazor component instead?

[2019-09-11 05:03] ahsonkhan commented on #13093
Is there an update on this issue?

@vikramtamboli, is this still reproducible for you with 3.0-preview9 bits?

[2019-09-11 05:08] Tratcher commented on #13356
I don't have a new channel yet. @shirhatti?

[2019-09-11 05:18] ahsonkhan commented on #13651
@suedama1756, can you expand a bit on this? What's your input and where do you end up seeing these unsupported double values that caused you to write a custom converter? I am interested in learning about that scenario, and if you could share an isolated sample (specific to the serializer itself), that would be helpful to me (particularly because I don't think the serializer should be writing NaN/I

[2019-09-11 05:31] kimbell commented on #13850
I'm in the process of recompiling our libraries against netcoreapp3.0 when I came across this, so it's not a 2.0 precompiled library.

My solution contains two projects; my library and a test project; both target netcoreapp3.0. In my library I have a controller that I want to automatically expose to anyone that uses it. When running tests that target the url of the controller, they fail due to a 4

[2019-09-11 06:08] mikaelm12 commented on #12295
These changes have been merged into master fyi. We still need to port into 3.1

[2019-09-11 06:09] yashwanthreddyg commented on #13517
@shirhatti While we modify the web.config from time to time, no modification happened when the incident occurred.

[2019-09-11 06:15] agusibrahim commented on #13877
just add nuget Microsoft.AspNetCore.Components.Authorization to your client

[2019-09-11 06:27] sven5 commented on #13854
@SeppPenner
Let me extract the important part for you from the [doc link above](https://docs.microsoft.com/en-us/aspnet/core/razor-pages/ui-class?view=aspnetcore-3.0&tabs=visual-studio#create-an-rcl-with-static-assets) :

**Create an RCL with static assets**
An RCL may require companion static assets that can be referenced by the consuming app of the RCL. ASP.NET Core allows creating RCLs that inc

[2019-09-11 06:44] lheinold commented on #13830
Figured as much. Is there any way to use a different version for each project or to let the compiler know that it's actually version three? I'm a little confused as to why binding redirects haven't been generated automatically (also why there are no warnings about version mismatch). When I'm writing the code it won't compile using version three methods for obvious reasons. I tried copying the conv

[2019-09-11 07:02] Legends commented on #13809
What kind of debugging do you support currently? Thanks.

[2019-09-11 07:03] RemiBou commented on #13809
You can find the doc about it here :

https://docs.microsoft.com/en-us/aspnet/core/blazor/debug?view=aspnetcore-3.0

[2019-09-11 07:07] SeppPenner commented on #13854
That's how it **should** work. I need to check this again, but the last time I tried it, it didn't work like that.

[2019-09-11 07:11] xperiandri commented on #13877
@agusibrahim, but it is present. As you can see from csproj contents above

[2019-09-11 07:20] Launster commented on #13708
Well, I don't have all good settings. I need to have
```<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />```
in the web.config when I am in debug (and only in debug) and *I can not commit this in my repo*.
So, I need to generate the web.config as it is different in debug and release.
**But** I need to use the 32bits dotnet core. And generating the web.config use
```processP

[2019-09-11 07:27] SeppPenner commented on #13854
Again. This doesn't work:

**_Host.cshtml:**
[code]

![image](https://user-images.githubusercontent.com/9639361/64676201-55f6a380-d475-11e9-911e-4960c50a8c40.png)

And there is no js file under `_content/ChartJs.Blazor`...

I have created a branch that uses the library like in the blog post here: https://github.com/SeppPenner/ChartJSBlazor/tree/test-static-assets. Honestly, I don't see the issue y

[2019-09-11 07:29] tomRedox commented on #13721
Thinking about it a bit more, one potential answer here is to create an 'mvc wrapper' component for the component you're building.  The wrapper would then be responsible for either extracting values from the page's URL, or could use Blazor's JS Interop to retrieve data from the page and could then pass those values on to the actual Blazor component that does the work.  That would at least keep a r

[2019-09-11 07:56] mylifelineio opened #13881 "WASM Blazor Error: RAZORGENERATE : error RZ3008: Tag helpers cannot target tag name '<global namespace>."
Version: 3.0.0-preview9.19424.4

### Describe the bug
Getting the following error separating View from Model inheriting from ComponentBase. This is a WASM Blazor project.

RAZORGENERATE : error RZ3008: Tag helpers cannot target tag name '<global namespace>.ViewCustomerModel' because it contains a '<' character.

### To Reproduce
[code]

### Expected behavior
No compile error.

### Additional conte

[2019-09-11 09:25] markvincze commented on #13299
@Maoni0 Did something change in the GC in 3.0 compared to 2.0 which explains this behavior? Because in 2.0 we've never encountered this degraded performance for an extended time period. We've occasionally seen some containers being restarted with `OOMKilled`, but that always happened suddenly, without the performance of the application being degraded first.

Maybe 3.0 is doing a better job at resp

[2019-09-11 09:46] McHeff opened #13882 "Publising returns this error: "Your mono runtime and class libraries are out of sync.""
### Describe the bug
When I deploy my blazor app in release mode, I get this weird error:

"Your mono runtime and class libraries are out of sync.
The out of sync library is: mscorlib.dll"

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 'Latest preview 9'
2. Publish the app in release mode
3. See if you get the error in your console window while the app is

[2019-09-11 09:57] RemiBou commented on #13882
I got the same error after upgrade, a cleanup and rebuild fixed it.

[2019-09-11 10:07] DrGriff commented on #10472
This is for server-side Blazor.  When can we assume the Client-side version to be considered "production ready"?  Thanks

[2019-09-11 10:28] javiercn commented on #13854
Hi,

https://github.com/SeppPenner/ChartJSBlazor/tree/test-static-assets works for me without issue. can you print out the output from `dotnet --info`? Can you do `dotnet build /bl` and share the msbuild.binlog file?

[2019-09-11 11:05] ChrisGilson commented on #13133
I get exactly the same issues upgrading to Preview 9. Have worked through the suggestions above but still get the following errors:
![image](https://user-images.githubusercontent.com/8179945/64692169-5d757700-d48c-11e9-9ad8-576203cf5641.png)

[2019-09-11 11:17] javiercn commented on #13388
This is the approach that I would take.

@Tratcher can provide more details on how to replace the JWT Bearer configuration for integration testing.

[2019-09-11 11:27] digitalsigi commented on #10747
Seems it hit same issue.
I am working with 3.0.100-preview9-014004.
Created a brand new project with
`
dotnew new blazorwasm --hosted
`

Opened solution in VS 2019 Preview, run solution successfully.
Added Docker Support in VS 2019.
Hit F5 and got an exception:

`
System.ArgumentException
  HResult=0x80070057
  Message=The path must be absolute.
  Source=Microsoft.Extensions.FileProviders.Physical

[2019-09-11 11:29] digitalsigi commented on #9704
With 3.0.100-preview9-014004 still the same.
`
System.ArgumentException
  HResult=0x80070057
  Message=The path must be absolute.
  Source=Microsoft.Extensions.FileProviders.Physical
  StackTrace:
   at Microsoft.Extensions.FileProviders.PhysicalFileProvider..ctor(String root, ExclusionFilters filters)
   at Microsoft.Extensions.FileProviders.PhysicalFileProvider..ctor(String root)
   at Microsoft

[2019-09-11 11:44] Manishbtech commented on #6052
The below syntax is not working in blazor preview9.

<input onkeyup="(this.dispatchEvent(new CustomEvent('change', { bubbles: true })))" bind="@SomeString" />

[2019-09-11 11:46] Manishbtech commented on #6052
The syntax  onkeyup="(this.dispatchEvent(new CustomEvent('change', { bubbles: true })))" is not working in Blazor preview9.  Can anyone suggest the solution?

[2019-09-11 11:47] Manishbtech opened #13883 "Oninput is not working with bind in Blazor preview9"
The syntax onkeyup="(this.dispatchEvent(new CustomEvent('change', { bubbles: true })))" is not working in Blazor preview9. Can anyone suggest the solution?

[2019-09-11 11:49] tweek82 commented on #13866
Hi @shirhatti ,

In the situation below (occurred yesterday) a new instance was started by Azure self, and the TCP piled up until 6000. This is beyond the TCP limits for the P2V2 plan and so any outgoing request fails. We get failing requests and some requests take up to 5 minutes.
![6000tcp](https://user-images.githubusercontent.com/4486709/64694719-9fa5b500-d49a-11e9-83f7-080c5caeaa37.jpg)

The

[2019-09-11 11:59] mv10-work opened #13884 "Blazor / RCL - generated files not reflecting renaming / refactoring"
I'm using VS2019 16.3.0 Preview 3 and Core 3.0 Preview 9.

We're building out a fairly large Blazor server-side proof-of-concept that involves many Razor component libraries. When various `@code` members or .razor files are renamed, many times the hidden generated files are not updated to match. I've also seen the bizarre case where IntelliSense flags errors in the code (red squiggles) yet the sol

[2019-09-11 12:32] msmolka opened #13885 "Doc for IValueProvider contains wrong description"
### Describe the bug
Docs for `IValueProvider.GetValue(key)` says

But it returns `struct` `ValueProviderResult` which never can be null.

### Expected behavior
Docs shoulbe be cleared and say exactly what is returned here.

[2019-09-11 12:48] atalpatidar56 commented on #2773
I had exactly the same problem, and I solved it last week. We had 2 ASP.Net Core projects, one showing the issue, the other didn't have the issue.

firstly check C:\Program Files\dotnet path, if sdk folder not available then u need to install asp.net core sdk. if u install this package then problem is resolved. and app is running with `<aspNetCore processPath="dotnet" arguments=".\yourapp.dll" std

[2019-09-11 13:17] Hadad82 opened #13886 "FileLoadException System.Data.Common"
0

I'm developing .net core 2.2 web API, I'm using a separate custom assemblyLoadContext to load my controllers at run time. Each controller(or service)loaded in separate Context but I get below error in resolving SDK assembly!

System.IO.FileLoadException: 'Could not load file or assembly 'System.Data.Common, Version=4.2.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. An operation is not

[2019-09-11 13:58] McHeff commented on #13882
Ah man, I tried that, a million times and no avail. So I could build the project fine, its just when it ran I was getting those weird errors. Debug mode seemed to fix it

[2019-09-11 14:00] jlnostr opened #13887 "Accessing SignInManager from class libraries"
## Describe the bug
In ASP.NET Core 2.x it was possible to access the `SignInManager` inside class libraries. The dependencies were resolved using DI, so I could write classes that access both the `UserManager` and the `SignInManager`. With ASP.NET Core 3 this is not working anymore.

Through the `Microsoft.Extensions.Identity.Core` package I can still reference the `UserManager`, but the `SignInM

[2019-09-11 14:06] mickey-stringer commented on #8980
Apparently many conditions can trigger this error code. In my case, I had to re-authenticate VS with Azure so my Key Vault client could be created,
Running your app from the command line should give you a more specific error output. See https://docs.microsoft.com/en-us/aspnet/core/test/troubleshoot-azure-iis?view=aspnetcore-2.2#troubleshoot-on-iis

[2019-09-11 14:13] SeppPenner commented on #13854
dotnet --info:

[code]

**msbuild.binlog**:
https://drive.google.com/drive/folders/1iuYcKvn7eI76299WNl-3h0Hc2HBAKtui?usp=sharing

[2019-09-11 14:14] mv10-work opened #13888 "Razor components: error using await in Razor expressions (Preview 9)"
Both [implicit](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-3.0#implicit-razor-expressions) and [explicit](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-3.0#explicit-razor-expressions) Razor expressions result in the following error if `await` is used in a Razor component:

[code]

This only happens in .razor files, whether they're in

[2019-09-11 14:17] leastprivilege commented on #13845
OK

[2019-09-11 14:17] digitalsigi opened #13889 "mkdir failed error when running Blazor Server in Docker"
### Describe the bug
When starting Docker in debug mode for Blazor Server Solution, docker ends with mkdir failed:

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '3.0.100-preview9-014004'
2. Create a new Solution e.g. dotnet new blazorserver
3. Open Solution in VS 2019
4. Add Docker Support
5. Hit F5
6. See error

### Expected behavior
Application starts i

[2019-09-11 14:26] javiercn commented on #13854
@SeppPenner It seems that the binlog is from an incremental build. Could you produce a binlog for a clean build? (no bin,obj folders anywhere).

Could you also try a couple of things?
* Could you try and set the culture of your system to en-US? The logs are (I think) in German and its hard to understand what's going on.
* Could you see if everything works for you when the culture is en-US? (That w

[2019-09-11 15:07] Tratcher commented on #13388
"update/replace the JWT bearer middleware" isn't a thing, `AddJwtBearer` adds a second one. Adding a second `AddJwtBearer` only works if it uses a unique scheme like you've done and you update the default scheme to match.

You seem to have gotten it working, what's the remaining issue?

[2019-09-11 15:09] #13868 closed

[2019-09-11 15:14] Tratcher commented on #13851
Yes, the ObjectDisposedException looks like an issue we've addressed in 3.0 via #9389. @gaborbuzasi trying 3.0 would be a good way to verify.

[2019-09-11 15:26] rpskelton2 opened #13892 "Editor for Blazor razor pages does not provide "Show Potential Fixes""
When editing a razor page it provides red underlines for issues the editor has detected.  When you hover over this in a c# file you get a "Show Potential Fixes" option.  Blazor does not have this.

c#
![image](https://user-images.githubusercontent.com/7995579/64711003-cac5df80-d46d-11e9-85d9-6efe2983b246.png)

razor
![image](https://user-images.githubusercontent.com/7995579/64711043-dd401900-d46d-

[2019-09-11 15:29] Tratcher opened #13893 "HttpSys HTTP/2 Response Trailers"
GRPC needs support for HTTP/2 response trailer headers. Http.Sys is adding support for it. React as needed.
[code]
Input for new data chunk:
[code]

@shirhatti

[2019-09-11 15:33] zamzowd commented on #9258
My particular use case can be neatly resolved with middleware rather than DiagnosticListener:

https://github.com/microsoft/ApplicationInsights-aspnetcore/issues/686#issuecomment-530353448

[2019-09-11 15:34] VictorioBerra commented on #13388
@Tratcher Thanks. I suppose there is no remaining issue, we assumed by Javier's comment that either our solution was incorrect/poor or that there was a much simpler way we did not know about (speaking for @JasonGT here a bit too).

[2019-09-11 15:54] rezvanf opened #13895 "context.Features.Get<IHttpMaxRequestBodySizeFeature>() is null during test"
### Describe the bug
When writing a XUNIT test for testing for max body sizes, the line

[code]
throws a error of

[code]

[code]

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '...'
2. Run this code '....'
3. With these arguments '....'
4. See error

### Expected behavior
`context.Features.Get<IHttpMaxRequestBodySizeFeature>()` not to be and be able to se

[2019-09-11 16:04] #13186 closed

[2019-09-11 16:05] rynowak commented on #13883
This should be `@onkeyup="..."`

[2019-09-11 16:10] mkArtakMSFT commented on #13892
Thanks for contacting us, @rpskelton2.
This is not yet enabled for Blazor.

[2019-09-11 16:10] #13892 closed

[2019-09-11 16:10] jkotalik commented on #13875
@joeloff can this be closed?

[2019-09-11 16:12] mkArtakMSFT commented on #13889
Thanks for contacting us, @digitalsigi.
We're tracking this work as part of #9704

[2019-09-11 16:12] #13889 closed

[2019-09-11 16:12] TwentyFourMinutes opened #13896 "[Question] Sharing Identity Cookie across sub-domains"
I was trying to share the Authentication cookie across all my sub.domains, but with no success. I created an [Stack Overflow post](https://stackoverflow.com/questions/57885350/sharing-the-identity-login-cookie-across-subdomains) for this one as well.

Additional info:

I tried the following values for `options.Cookie.Domain`
- `"*.localhost"`
- `".localhost"`
- `"localhost"`
Also for the `SecurePo

[2019-09-11 16:12] #13875 closed

[2019-09-11 16:16] mkArtakMSFT commented on #13888
Thanks for contacting us, @mv10-work.
Support for asynchronous work in UI related contexts is not supported. We are going to provide guidance about how to do asynchronous work in Blazor as part of : https://github.com/aspnet/AspNetCore.Docs/issues/14260

[2019-09-11 16:16] #13888 closed

[2019-09-11 16:16] Manishbtech commented on #13883
@rynowak...I have tried the same but still facing the same issue. I am able to use tgis syntax in preview6 but not in preview9

[2019-09-11 16:17] digitalsigi commented on #13889
OK. You know better, but to me It looks different. This one ist Blazor Server #9704 ist a Blazor Hosted Solution.

[2019-09-11 16:18] mkArtakMSFT commented on #13884
Thanks for contacting us. We'll investigate this during 5.0 timeframe.

[2019-09-11 16:19] mkArtakMSFT commented on #13883
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2019-09-11 16:25] mkArtakMSFT commented on #13881
Thanks for contacting us.
Is `ViewCustomerModel` in a global namespace? Does this issue repro, if you move the class into a namespace?

If not, please provide a minimalistic repro project so we can investigate.

[2019-09-11 16:26] mkArtakMSFT commented on #13882
Thanks for contacting us.
This seem to face issues with proper cleaning, which we are going to address as part of #13663.
Closing this as a proper clean would solve this.

[2019-09-11 16:33] mkArtakMSFT commented on #13877
@xperiandri besides seeing the message, does the rest actually work, or not?
The only change we've made in this area during Preview9 was to increase log level.
If this is not working for you, feel free to provide us a minimal repro project so that we can look into it, when we get time.

[2019-09-11 16:37] mkArtakMSFT commented on #13793
Thank you for your feedback.
We're closing this issue as the behavior discussed is by design.

[2019-09-11 16:37] #13793 closed

[2019-09-11 16:37] mkArtakMSFT commented on #13848
Thanks for contacting us, @Arunsanthoshh.
We plan to provide guidance about how to do this as part of #13584

[2019-09-11 16:37] #13848 closed

[2019-09-11 16:43] blowdart commented on #13896
Localhost is "special" and doesn't have sub-domains. Are you trying to share this on your local dev server? In that case you'd just leave it blank and it'll be sent on all localhost requests regardless of ports. The browsers need a minimum of two dots in a cookie domain name, otherwise it's an invalid cookie.

When it comes to production you'd then use "contoso.com" and that would work on contoso.

[2019-09-11 16:45] mkArtakMSFT commented on #12685
We're moving this issue to `Backlog` to collect more feedback around this ask.

[2019-09-11 16:47] TwentyFourMinutes commented on #13896
Mhh, well regardless of that I think I would still need to change the `Host-Only` Value of the Authentication Cookie right?

[2019-09-11 16:48] mkArtakMSFT commented on #13853
@ajcvickers do you know what may have caused this?

[2019-09-11 16:49] mkArtakMSFT commented on #13886
@livarcocc is this something you should look into?

[2019-09-11 16:49] mkArtakMSFT commented on #13886
Feel free to move over.

[2019-09-11 16:51] Safirion opened #13898 "Prompt user to install .Net Core Runtime"
### Is your feature request related to a problem? Please describe.

When a user tries to run a non-autonomous .Net Core Desktop application (WPF) without having the .Net Core runtime (+ .NET Core Desktop Runtime) installed, nothing happens. The only thing that happens is the creation of a log in the windows event viewer.

### Describe the solution you'd like

Like in .Net Framework, a pop-up promp

[2019-09-11 16:51] mkArtakMSFT commented on #13850
@kimbell please provide a minimal repro project for us to investigate this further.

[2019-09-11 16:52] mkArtakMSFT commented on #13844
This issue was moved to dotnet/corefx#41031

[2019-09-11 16:52] #13844 closed

[2019-09-11 16:56] mkArtakMSFT commented on #13829
Thanks for the details, @pamedasa.
We'll look into improving polymorphic model validation effectiveness for 5.0.

[2019-09-11 16:58] mkArtakMSFT commented on #13810
Thank you for your feature request. We'll consider this feature during the next release planning period and update the status of this issue accordingly. To help us prioritize this feature correctly, please make sure you provide as much information as possible about the scenarios and their importance.

[2019-09-11 17:01] mkArtakMSFT commented on #13802
Thanks for contacting us.
Per @pranavkm 's suggestion, such functionality is already provided by the community and there is no point in us doing the same. We recommend using it as it's has been around for some time now.

[2019-09-11 17:01] #13802 closed

[2019-09-11 17:03] mkArtakMSFT commented on #13782
Thanks for contacting us.
This is completely reasonable. Would you like to send us a PR for this?

[2019-09-11 17:03] legistek commented on #5466
So have there been any developments on this or at least an ETA? Server-side is working quite well but client-side WASM performance through the interpreter is still unacceptable as soon as the DOM gets reasonably complex.

[2019-09-11 17:04] mkArtakMSFT commented on #13778
@ryanbrandenburg can you please verify the repro?
If you can confirm this behavior let's take it for 5.0.

[2019-09-11 17:04] pranavkm commented on #13811
Filed https://github.com/dotnet/corefx/issues/41032 to track fixing this for the next release. Thanks everyone!

[2019-09-11 17:04] #13811 closed

[2019-09-11 17:11] livarcocc commented on #13886
I don't believe this is an SDK issue. Seems like a bug in the custom AssemblyLoadContext.

[2019-09-11 17:20] jkotalik opened #13900 "Synchronize HTTP/2 Framing and HPACK code with Corefx"
**Things to share:**
- HPACK (Encoding/Decoding), These are similar today, so it should be a simple unification
- Framing code, different representations/organization, but not a lot of code.

**Open questions:**
- Copyrights
- Namespaces
- Resource strings

**Options to share code:**
- PR bot to keep aspnetcore and corefx in sync
- Share source package from corefx that aspnetcore can consume

**Ac

[2019-09-11 17:28] Tratcher commented on #13900
Open question: Inner loop development. How can we observe/measure/test how changes to shared source impact both corefx and aspnetcore before checking in? That includes API changes, behavior changes, perf, etc..

At a minimum, shared sources should include shared unit tests. Shared micro-benchmarks would be good too.

Also, we need to set up a group of cross team code owners to review changes to th

[2019-09-11 17:32] egil commented on #13793
@mkArtakMSFT that's fair. Care to share what is behind that design decision? I would very much like to understand the framework better. Thanks.

[2019-09-11 17:33] rkone opened #13901 "Blazor - SSB iOS and Windows Authentication issue"
### Describe the bug
When logging into a Blazor SSB Project with Windows Authentication enabled using iOS, the page is unresponsive to input.

### To Reproduce
Steps to reproduce the behavior:
1. Using ASP.NET Core 3.0 preview 9
2. Create a project using the Blazor Server App template with Windows Authentication option selected.
3. Connect to the created website using an iOS device. After logging

[2019-09-11 17:39] Tratcher commented on #13896
Host-only is defined as a storage attribute that's computed by the client from the domain value, not as it's own value in the Set-Cookie header. https://tools.ietf.org/html/rfc6265

[2019-09-11 17:41] TwentyFourMinutes commented on #13896
Regardless of that, how would I change its value then?

[2019-09-11 17:42] blowdart commented on #13898
This is the asp.net core repo, not the dotnet core repo which is over at https://github.com/dotnet/

@mkArtakMSFT can you move this?

[2019-09-11 17:43] blowdart commented on #13896
You can't. The browser sets it based on where the cookie was issued from.

None of this works with localhost. The are no workarounds in code.

You could edit your OS hosts file and set up fake host names, then configure your app to listen for those host headers during development.

[2019-09-11 17:46] mkArtakMSFT opened #13902 "Support debugging Blazor WASM projects"

[2019-09-11 17:48] PhilPJL opened #13903 "Blazor server app + Windows authentication. How to get Windows user name?"
I would like to be able to reliably obtain the Windows user name of the user accessing a server side Blazor app.

Using preview 9.

Change the about page to:

[code]

Add

`services.AddHttpContextAccessor();`

In ConfigureServices.

Running in the debugger in IIS Express I get:
![image](https://user-images.githubusercontent.com/271656/64721459-7437c000-d4c4-11e9-9d4e-a93701bdffd9.png)

Running in

[2019-09-11 17:50] inkel opened #13904 "UseHealthChecks extension method cannot be found in .NET Framework 4.6.2"
### Describe the bug
Installing `Microsoft.Extensions.Diagnostics.HealthChecks` in a .NET Framework 4.6.2 web API correctly adds the `AddHealthChecks` extension method to `IServiceCollection` but it doesn't add `UseHealthChecks` in `IApplicationBuilder`.

### To Reproduce
With a .NET Framework 4.6.2 Empty web application, add `Microsoft.Extensions.Diagnostics.HealthChecks` package and add the foll

[2019-09-11 17:51] kimbell commented on #13850
[Common.Caching.zip](https://github.com/aspnet/AspNetCore/files/3602096/Common.Caching.zip)
I've copied my original code and stripped it down to a minimum.

The test projects has 3 tests.
1 calls controller in test project
2 calls controller in main project (fails)
3 calls controller in main project, but uses AddApplicationPart()

[2019-09-11 17:52] TwentyFourMinutes commented on #13896
Okay, well when the cookie gets send on every `localhost` request, if I leave the `Domain` property empty, Shouldn't I be authenticated if I request on something like `test.localhost`, since the cookie gets send with the request? Or is that not even possible for local development.

[2019-09-11 17:54] blowdart commented on #13896
no, because test.localhost isn't a valid domain. localhost is, as I said, special cased.

Edit your hosts file and create things like

test.mydomain-invalid.org 127.0.0.1
test2.mydomain-invalid.org 127.0.0.1
test3.mydomain-invalid.org 127.0.0.1

[2019-09-11 17:56] rynowak commented on #13793
The decision is simply that Blazor doesn't care about preserving the original text you typed in. We care about producing semantically equivalent DOM in the browser. `.cshtml`/MVC has these guarantees, and is has overhead in both the cost of building/testing the features and the runtime overhead of having extra bytes to deal with.

Blazor reserves the rights to do optimizations like removing whites

[2019-09-11 17:58] Rick-Anderson commented on #5833
https://github.com/aspnet/AspNetCore/tree/master/src/Identity/ApiAuthorization.IdentityServer/src

[2019-09-11 18:02] javiercn commented on #13641
We changed the code in the template tests to run rimraf before build. We don't plan to do anything else here, so closing.

[2019-09-11 18:02] #13641 closed

[2019-09-11 18:09] #4582 closed

[2019-09-11 18:10] blowdart commented on #5728
Closing as by design

[2019-09-11 18:10] #5728 closed

[2019-09-11 18:11] blowdart commented on #5788
Closing as old

[2019-09-11 18:11] #5788 closed

[2019-09-11 18:11] #5794 closed

[2019-09-11 18:12] #5793 closed

[2019-09-11 18:12] blowdart commented on #5784
Closing as by design

[2019-09-11 18:12] #5784 closed

[2019-09-11 18:13] #5798 closed

[2019-09-11 18:13] #5799 closed

[2019-09-11 18:15] mkArtakMSFT commented on #13359
After reviewing this issue one more time we believe that using the `StatusCodeResult` with `303` argument is sufficient here. We're closing this issue as no more action is pending here.

[2019-09-11 18:15] #13359 closed

[2019-09-11 18:25] shirhatti commented on #13708
I'm assuming the naive solution of just ensuring the 32-bit dotnet appears first on your PATH and hence is used isn't a viable solution for you?

You can still achieve whatever you're trying to do via a web.config XDT transforms.
@vijayrkn Is this still the best [link](https://github.com/vijayrkn/webconfigtransform/blob/master/README.md) or do the docs live elsewhere now?

As for your specific ask

[2019-09-11 18:32] Kahbazi commented on #13904
You should also install [Microsoft.AspNetCore.Diagnostics.HealthChecks](https://www.nuget.org/packages/Microsoft.AspNetCore.Diagnostics.HealthChecks)

[2019-09-11 18:33] geoffkizer commented on #13900
What does this mean?

Are these two distinct options?

[2019-09-11 18:38] jkotalik commented on #13900
In the HTTP2 implementation, we have structs which represent unique frame types: https://github.com/aspnet/AspNetCore/blob/master/src/Servers/Kestrel/Core/src/Internal/Http2/Http2Frame.cs. For example, rst: https://github.com/aspnet/AspNetCore/blob/master/src/Servers/Kestrel/Core/src/Internal/Http2/Http2Frame.RstStream.cs

Yes.

Updated the issue for clarity.

[2019-09-11 18:40] AdamHess opened #13905 "Create standard Dictionary class that doesn't throw a KeyNotFoundException"
### Is your feature request related to a problem? Please describe.

Dictionaries make a missing element an "KeyNotFoundException" event when in reality is quite common place and can be better managed by a null check when an item in the dictionary.

This leads to clunky code like

[code]

### Describe the solution you'd like

A standard Dictionary-like class that does not throw KeyNotFoundExeption

[2019-09-11 18:41] blowdart commented on #13905
This is the asp.net core repo, but your question should be asked in the dotnet core repo which is over at https://github.com/dotnet/

[2019-09-11 18:41] danroth27 opened #13906 "InvalidOperationException: 'RemoteNavigationManager' has not been initialized when used from DelegatingHandler in OnAfterRenderAsync"
Originally reported by @akorchev.

Repro steps:
- Create a delegating handler that uses the `NavigationManager` to navigate.
- Setup the delegating handler with `HttpClient` using HttpClient factory
- In a Blazor Server app use the configured HttpClient from *Index.razor* in `OnAfterRenderAsync`.

[code]

[2019-09-11 18:42] danroth27 commented on #13906
[BlazorApp5.zip](https://github.com/aspnet/AspNetCore/files/3602265/BlazorApp5.zip)

[2019-09-11 18:52] TwentyFourMinutes commented on #13896
Ah I see, thanks!

[2019-09-11 18:52] #13896 closed

[2019-09-11 19:14] arivoir commented on #13781
I expected the _OnAfterRenderAsync_ to be raised every time a _BuildRenderTree_ method is called, and expected the children to be those just created in the _BuildRenderTree_ method.  Am I wrong? I understand the children could change in subsequent calls to _BuildRenderTree_, but that shouldn’t be a problem since a new _OnAfterRenderAsync_ would be called.

My scenario is a _ListView_ control whose

[2019-09-11 19:18] inkel commented on #13904
🤦‍♂ I am an idiot, of course I was using the wrong package. Thank you very much!

[2019-09-11 19:18] #13904 closed

[2019-09-11 19:36] dbowser commented on #5491
Umm, how was it fixed? Still seems to be an issue to me. If there is now a way to handle this please share what it is...

[2019-09-11 19:37] Maoni0 commented on #13299
between 2.0 and 3.0, many things have changed including the GC. it's impossible to say what caused the memory leak without more data.

one thing I mentioned above was by default we do set a limit that's only 75% of the memory limit (which you can change). however seeing from your chart for 2.0 you were using between 4 and 5gb but for your 3.0 you are clearing using > 5GB. so something is already d

[2019-09-11 19:50] vsfeedback opened #13908 "original sample blazor preview 9 doesn't load"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/726735/original-sample-blazor-preview-9-doesnt-load.html)._

---
original sample blazor preview 9 doesn't load

---
### Original Comments

#### Visual Studio Feedback System on 9/9/2019, 03:30 AM:

<p>We have directed your feedback to the appropriate engineering team for fu

[2019-09-11 19:52] mkArtakMSFT commented on #13908
Thanks for contacting us.
Can you please provide more information about which specific sample you're referring to here?

[2019-09-11 19:53] vsfeedback opened #13909 "Blazor: ArgumentOutOfRangeException when opening big razor file"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/693785/blazor-argumentoutofrangeexception-when-opening-bi.html)._

---
[regression] [worked-in:16.3.0 Preview 1]
Application: devenv.exe
Framework version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Information: System.Argume

[2019-09-11 19:54] mkArtakMSFT commented on #13909
Thanks for contacting us.
@rynowak do we have enough information from the stack trace here, or do we need a repro for this?

[2019-09-11 19:56] vsfeedback opened #13910 "Blazor template when you create a new Blazor project should be changed"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/695125/blazor-template-when-you-create-a-new-blazor-proje.html)._

---
[regression] [worked-in:VS 2019 version 16.3 Preview 1 -&gt; 2]
I updated to the next version of VS preview:

https://github.com/dotnet/core/commit/851bb0cfc828a64ba63531f471a51f7c1d9e96ff
https://docs.m

[2019-09-11 19:58] AdamHess commented on #13905
Whoops my mistake.

[2019-09-11 20:02] rynowak commented on #13909
There was a bug like this in preview 8 that we fixed. So I expect this was already fixed.

[2019-09-11 20:02] MV10 commented on #13903
Docs are [here](https://docs.microsoft.com/en-us/aspnet/core/security/blazor/?view=aspnetcore-3.0&tabs=visual-studio#blazor-server-side-authentication) but basically you inject `AuthenticationStateProvider`, call `GetAuthenticationStateAsync` which returns an object that exposes a `ClaimsPrincipal` from which you can get `Identity.Name` (those last two are from memory but it's in the docs).

There

[2019-09-11 20:03] blowdart commented on #13887
UserManager lives on because it targets netstandard. Signin manager is tightly coupled to asp.net, cookies, http and so on, so it's not meant for class libraries. This is by design.

@davidfowl do you have any suggestions?

[2019-09-11 20:05] blowdart commented on #5729
Closing as out of scope.

[2019-09-11 20:05] #5729 closed

[2019-09-11 20:06] blowdart commented on #5795
Closing as old

[2019-09-11 20:06] #5795 closed

[2019-09-11 20:06] shirhatti commented on #13866
Just from a quick glance at the graph, an interesting observation is that the loopback connections don't seem to grow rapidly, but rather show an instantaneous spike.

@jkotalik Is that indicative of anything to you?

[2019-09-11 20:06] blowdart commented on #5797
The authentication manager does not exist in Core. Instead we recommend using identity server.

[2019-09-11 20:06] #5797 closed

[2019-09-11 20:08] blowdart commented on #5810
Closing as we didn't take the PR because it doesn't really give us anything

[2019-09-11 20:08] #5810 closed

[2019-09-11 20:09] blowdart commented on #5835
We're closing this issue as no response or updates have been provided in a timely manner. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-09-11 20:09] #5835 closed

[2019-09-11 20:09] blowdart commented on #7055
As we added better errors, closing

[2019-09-11 20:09] #7055 closed

[2019-09-11 20:10] blowdart commented on #7527
Closed as discussion, rather than issue

[2019-09-11 20:10] #7527 closed

[2019-09-11 20:11] blowdart commented on #8652
Closing as user discovered the problem

[2019-09-11 20:11] #8652 closed

[2019-09-11 20:13] blowdart commented on #10970
@serpent5 Are you still trying to get this working? We'd like to get this into 3.1

[2019-09-11 20:14] blowdart commented on #11883
@danroth27 Was this fixed? It's a scaffolding issue not an identity one.

[2019-09-11 20:17] blowdart commented on #13117
This is by design, for sliding expiration. It's not happening within the validator, it's happening as part of the overall cookie refresh handling

[2019-09-11 20:17] #13117 closed

[2019-09-11 20:20] serpent5 commented on #10970
@blowdart I couldn't ever get past not understanding how to use a locally built version of `Microsoft.AspNetCore.Identity.UI` so that I could run and test the change. The guidance in [Use the result of your build](https://github.com/aspnet/AspNetCore/blob/master/docs/BuildFromSource.md#use-the-result-of-your-build) didn't work for me and I didn't get a response on the [issue](https://github.com/as

[2019-09-11 20:21] blowdart commented on #10970
@hoak can you give some guidance here?

________________________________
From: Kirk Larkin <notifications@github.com>
Sent: Wednesday, September 11, 2019 1:20:12 PM
To: aspnet/AspNetCore <AspNetCore@noreply.github.com>
Cc: Barry Dorrans <Barry.Dorrans@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [aspnet/AspNetCore] Creation of an Identity User via External Login doesn't set Au

[2019-09-11 20:40] pranavkm commented on #13830
There's only one version at runtime. Each project may compile with a version of the binary, but the version that the executing project should be the one that gets resolved. If you have the ability to change the referenced project, I'd recommend retargeting it to `netcoreapp3.0`.

[2019-09-11 20:49] serpent5 commented on #10970
@blowdart Thanks, it'd be great to get some help. I guess you meant to tag @HaoK...

[2019-09-11 20:49] blowdart commented on #10970
Hah, yes, no autocomplete on email :)

[2019-09-11 20:51] stelian56 commented on #13837
The *.dmp file is too large for an email attachment (9.5 GB). I can share it with you through a Google drive. Please advise or suggest an alternative.

[2019-09-11 20:54] gthvidsten commented on #5910
I've just encountered this issue and found it very confusing that I set up logging, but the startup messages for `WebHost` only appeared in the console and not in the logs.

`WebHost` should not behave radically different than a generic host. A generic host logs startup messages to the logger you define, but `WebHost` does not (as evidenced by the [source code](https://github.com/aspnet/AspNetCore

[2019-09-11 20:56] Tratcher commented on #13046
Does it hit this code path?
https://github.com/aspnet/AspNetCore/blob/71c5c66b211c7ab9d44751e39cef27c525124bb7/src/Security/Authentication/JwtBearer/src/JwtBearerHandler.cs#L112-L121
A) Token arrives for Auth-B.
B) Authenticate runs for Auth-A, fails with SecurityTokenSignatureKeyNotFoundException (?), requests a rate limited refresh of metadata
C) Authenticate runs for Auth-B and succeeds.

If th

[2019-09-11 20:56] neilbgr commented on #13782
Yes, I want!
How to proceed? (I read [guidelines](https://github.com/aspnet/AspNetCore/wiki/Engineering-guidelines)
I already cloned the git repo. And after?

[2019-09-11 21:09] mkArtakMSFT commented on #13898
This issue was moved to dotnet/corefx#41043

[2019-09-11 21:09] #13898 closed

[2019-09-11 21:13] pranavkm commented on #13905
This issue was moved to dotnet/corefx#41044

[2019-09-11 21:13] #13905 closed

[2019-09-11 21:14] shirhatti commented on #13837
Sure. Can you zip before sharing? Dmps usually compress very well

[2019-09-11 21:18] pranavkm commented on #13829
@pamedasa I wouldn't recommend using the example you have. It misses validators on primitive data types and ignores validation attributes applied to properties. Have a look at the sample, the change to make MVC's model validation pick up the correct model requires minimal changes to the model binder.

[2019-09-11 21:46] rynowak commented on #13906
That's not going to work unfortunately. The client factory doesn't share scopes with requests, or with the circuit.  So what you're getting is an unitialized `NavigationManger` - which is why it's throwing an exception.

[2019-09-11 22:14] migpfernandes commented on #2422
Hi,
is there any new solution to perform this kind of actions? I've two scenarios for this where I'm getting stuck:
1) I have a gateway that first receives the PatchDocument and then propagates request for proper service through it's SDK. Gateway type is JsonPatchDocument<Gateway.ContactDTO> and service is JsonPatchDocument<Service.ContactDTO>. Any elegant way of converting one to another?
2) In s

[2019-09-11 22:37] JunTaoLuo commented on #13581
FYI, we're running into https://github.com/NuGet/Home/issues/8467 which I'm working around by specifying NoWarn. These workarounds should be removed once we have an updated SDK with the NuGet fix.

[2019-09-11 22:48] dougbu commented on #13581
@JunTaoLuo can't those issues be worked around by adding `_._` files to the .nupkg or fixing the project file?

When we saw this error before, it indicated a real problem in the Components project (which we haven't fixed): The source-built .nupkg doesn't contain the expected files because single-TFM projects don't lay out the obj/ folder with a TFM in the directories (IIRC).

[2019-09-11 22:49] xperiandri commented on #13877
It does not work. At least `AuthorizeView` uses `NotAuthorized` part.
OK, I'll create a repro

[2019-09-11 22:53] JunTaoLuo commented on #13581
We can workaround NU5128 with that. Don't think that's going to help with the NU5131 issues though.

[2019-09-11 23:05] dougbu commented on #13581
Ah, right. I see others are disabling NU5131 warnings.

[2019-09-11 23:14] kg opened #13915 "Blazor: Running Module.malloc too early?"
### Describe the bug
Blazor appears to be potentially invoking emscripten/mono APIs before mono has actually loaded - there's some logic being executed in preRun that chains some callbacks that can call malloc, which will assert and fail. I'm seeing it in my local execution environment. It could have something to do with the fact that I'm testing a newer build of mono, but there aren't any changes

[2019-09-11 23:17] kg commented on #13915
Can confirm that with a release mono.js/mono.wasm built from the same source, the app starts - probably because the assertions are stripped in release mode. 🙃

[2019-09-12 00:06] JamesNK commented on #13502
I was testing out HTTP/2 with curl. I noticed when calling an Http2 only endpoint with TLS that:

* `--http2` doesn't work
* `--http2-prior-knowledge` does work.

https://ec.haxx.se/http-http2.html

It might not be in the spec, but it appears that there is some support in the wider ecosystem for upgrading without TLS.

[2019-09-12 00:24] Pilchie opened #13917 ".NET Core 3.0 Blazor Server side <script> tag"
_From @genifycom on Wednesday, September 11, 2019 12:19:17 AM_

# Issue Title
Can someone please explain why <script> tags are not allowed on a .razor page.
The error says "Script tags should not be placed inside components because they cannot be updated dynamically."

This makes no sense. I do not want the JavaScript to be updated dynamically. I want it to be static code executable by the compone

[2019-09-12 00:24] Pilchie commented on #13917
_From @carlossanlop on Wednesday, September 11, 2019 6:18:57 PM_

I believe this question belongs to the https://github.com/aspnet/Blazor repo. @Pilchie since I don't have permission to transfer to aspnet repos, can you help transfer this issue to that repo (or whatever repo you think is the correct one).

[2019-09-12 01:03] davidmatson commented on #13861
In case someone else needs the 2.x workaround, here's what I used:
[code]

HttpListenerServer snippet:
[code]

[2019-09-12 01:03] davidmatson commented on #13861
I tested the 3.x auth features (Negotiate package), and it looks like it's working fine with a gMSA in a docker container!

In case we need to test again in the future, here's the 3.x auth test code I used:
Test.csproj:
[code]

Program.cs:
[code]

Startup.cs:
[code]

HomeController.cs:
[code]

[2019-09-12 01:03] #13861 closed

[2019-09-12 01:09] stevo-knievo opened #13918 "ASP.NET Core 3.0 Preview 9 integration tests with EF Core are not working"
### Describe the bug
The integration test is using the application DB provider (SQLite) instead of the InMemory DB provider set up in the customized WebApplicationFactory class.
I followed Microsoft's documentation "[Integration tests in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-3.0)" which shows the approach of how to use a [customize the We

[2019-09-12 01:34] sebastianolafhandjojo commented on #13908
Hi @mkArtakMSFT
is the blazor webassembly app (the client side)

[2019-09-12 02:23] JasonGT opened #13919 "Question about ASP.NET Core 3 Identity / Identity Server / SPA support for Resource Owner Password Grant Type"
As per [Authentication and authorization for SPAs](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-api-authorization?view=aspnetcore-3.0) I have created a new SPA with support for API authorization. You can view this here; https://github.com/JasonGT/SecureSpa/.

In order to support integration tests, I have added a new client (see [appsettings.json](https://github.com

[2019-09-12 03:33] davidfowl commented on #13895
That’s fine, check for null and noop if it’s null. Features are optional and this one does not need to be in the test server

[2019-09-12 04:13] Cuiqs76 opened #13920 "Post and return 500 after upgrade to 3.0 priview-9"
Error:

Post  and return 500 after upgrade to 3.0 priview-9

Code | Details
--
   [HttpGet]
        [Route("{id:Guid}")]
        [ProducesResponseType((int)HttpStatusCode.NotFound)]
        [ProducesResponseType((int)HttpStatusCode.BadRequest)]
        public async Task<ActionResult> GetByIdAsync(Guid id )
        {
            var item= await  _productRepository.GetByIdAsync(id);

            if

[2019-09-12 05:08] honkmother commented on #5466
I don't think so, the AOT on the mono repo still seems to be a WIP; I heard we'll have it by Q1 of 2020 but I don't know if that's for certain; which is sad because I have a very nice PWA set up with client-side but it has some performance issues that AOT would probably alleviate without needing dirty hacks.

In the meantime are some things you can do to alleviate the pain there, namely using virt

[2019-09-12 05:39] Manishbtech commented on #13883
public string SearhText { get; set; } = string.Empty;

<InputText @onkeypress="@(e => OnKeyPress(e, writtenObj))" @onchange="@(e =>OnKeyChange(e, writtenObj))" @bind-Value="@SearhText" />

 public void OnKeyChange(ChangeEventArgs args)
        {

         Console.WriteLine(SearhText);

        }

I want the updated value of SearchText field on every onkeypress event in order to implement the auto

[2019-09-12 05:40] Manishbtech commented on #13883
Hi @mkArtakMSFT

public string SearhText { get; set; } = string.Empty;

<InputText @onkeypress="@(e => OnKeyPress(e, writtenObj))" @onchange="@(e =>OnKeyChange(e, writtenObj))" @bind-Value="@SearhText" />

public void OnKeyChange(ChangeEventArgs args)
{

     Console.WriteLine(SearhText);

    }
I want the updated value of SearchText field on every onkeypress event in order to implement the auto s

[2019-09-12 06:56] lheinold commented on #13830
That was the first thing I tried. Unfortunately one of the libraries we're using doesn't support NetCore3 yet. Any chance of getting the Mvc.NewtonsoftJson NuGet released for net standard 2.0? I am currently manually referencing the dll which is working. Worst comes to worst I'll copy some of Mvc.NewtonsoftJson (the converters) into my code.

[2019-09-12 07:09] McHeff commented on #13882
But I just said a clean did NOT fix it for me. How can you just close this issue?

[2019-09-12 07:36] SeppPenner commented on #13854
Sorry. I can do that.

Yes, is done.

I get the same error in the browser. Check the details below.

The new log is here: https://drive.google.com/open?id=1iuYcKvn7eI76299WNl-3h0Hc2HBAKtui. I renamed the old one to `msbuild_old.binlog` and the new one is `msbuild.binlog`.

When I run the project referencing the library, I get the following error on the command line (The browser shows the same erro

[2019-09-12 07:52] Laimic opened #13922 ".Net Core 下创建 RuntimeTextTemplate 错误"
Visual Studio 2017 创建 .Net Core 项目
添加 运行时文本模板 RuntimeTextTemplate
会出现不断地自动刷新生成 RuntimeTextTemplate.cs 代码文件

[2019-09-12 07:53] itcancle commented on #10284
I think i found the problem:
[code]
Because of special handling in `app.UseSpa`,If it is a development environment,that use AngularCliServer, but in the production environment there is no AngularCli environment.
So my solution is: used the Staging environment variable.
[code]

[2019-09-12 07:53] #10284 closed

[2019-09-12 07:56] tweek82 commented on #13866
I would expect this to occur when a .NET Core webapplication gets started (reboot, or Azure instance swap) without warming up, perhaps a http-queue piles up. But then I would also expect that after warmup, these requests are handled and that the connection(s) are closed. Or at least timed out. And so this graph will decrease quickly and not slowly over a timespan of 7 hours.

[2019-09-12 07:59] ReimerA opened #13923 "Header line folding for HTTP/1.0 not working on kestrel"
Using kestrel hosting it seems as if line folding which should be allowed in HTTP/1.0 does not work.
I am trying to get an API working with an IOT device that produces HTTP/1.0 requests using this feature.

From https://www.w3.org/Protocols/HTTP/1.0/spec.html:

### How to reproduce using aspnet core 2.2:

Issue below raw request request from file using command

`nc mymachinename 8282 < test.reques

[2019-09-12 07:59] mylifelineio commented on #13881
Dear Artak, thanks so much, that was indeed the issue, once wrapped in a namespace the error is gone. Thanks for your assistance and creating us such a great product.

[2019-09-12 07:59] #13881 closed

[2019-09-12 09:19] martinstenhoff opened #13925 "Merge angular.json test fix #12879 into 3.0"
The current angular project template for 3.0 (preview9) does not have the #12879 fix that allows "ng test" to work with the OOTB template.

I know It's a super late in the game, but it seems strange that this fix (issue #12872 raised against preview7) was not targeted for 3.0 as well since the shipping template is broken.

When running ng test you currently get (and no tests are found)
`ERROR in m

[2019-09-12 14:13] pgrm opened #13927 "Malformed HTTP Request causes InvalidDataException and 500"
### Describe the bug

We received a random request with the following content type: `Content-Type: multipart/form-data;`

The result was status code 500 with the following exception: `System.IO.InvalidDataException: Missing content-type boundary.`

I believe the error is coming from https://github.com/aspnet/AspNetCore/blob/4ef204e13b88c0734e0e94a1cc4c0ef05f40849e/src/Http/Http/src/Features/FormFe

[2019-09-12 17:57] taori opened #13929 "Kestrel logging should be more informative about application crashes."
### Describe the bug
This isn't really a bug and also not really a feature. I think logging should be improved at a particular point in kestrel:
![grafik](https://user-images.githubusercontent.com/5545184/64808000-af0a2880-d596-11e9-89c3-e25f3edf279c.png)

i executed the following command in powershell to verify my program works:
dotnet run .\ShutdownTimer.Server.csproj --console --no-launch-profi

[2019-09-12 18:49] JunTaoLuo opened #13930 "Re-enable Build_ExplicitCSharp8_NullableEnforcement_WarningsDuringBuild_BuildServer test"
Details in: https://github.com/aspnet/AspNetCore-Tooling/pull/1122#issuecomment-530940364.

We disabled this test when converting to the 3.1 TFM since Roslyn seems to only use C# 8 for netcoreapp3.0 only https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/MSBuildTask/Microsoft.CSharp.Core.targets#L6-L10. Seems to me that this should be updated to netcoreapp3.0 AND later.

cc @pranavkm

[2019-09-12 20:28] defend opened #13932 "Wrong lifetime behavior for ComponentBase OnInitializedAsync, OnParametersSetAsync methods"
### Describe the bug
Nested component goes into the OnInitializedAsync method right after parent OnInitializedAsync method invoke.

### To Reproduce
Steps to reproduce the behavior:
1. ASP.NET Core 3.0.0-preview9, blazor server side (and client side too)
2. Run this code

Component.razor
[code]
InnerComponent.razor
[code]
3. And you should get the same output as it was at the screenshot

### Expec

[2019-09-12 20:32] coreyjthompson opened #13933 "Question: When using Blazor RenderMode.Server, is there a way to add a loader or spinner"
Hey guys. Long time listener, first time caller. I hope this is the correct place to ask this...

I'm using Blazor components in my existing Razor Pages app and calling them with
`@(await Html.RenderComponentAsync<ComponentName>(RenderMode.Server))`

I'm wondering if there is some way to know when the request is returned or ends so I could run a spinner or loader of some sort?

[2019-09-12 22:23] johnbeisner opened #13935 "Change the MSI asset name of aspnetcoremodule V2 MSI"
The .NET Core Unified Installer will replace the Server Hosting bundle along with other installers. However, there are 2 MSIs that are part of the Server Hosting bundle that have MSI asset names that are non-unique build-over-build:

- 	aspnetcoremodule_x64_en_v2.msi
- 	aspnetcoremodule_x86_en_v2.msi

This breaks the upgrade scenario in the .NET Core unified installer.

@joeloff can give more deta

[2019-09-12 23:26] JunTaoLuo opened #13937 "Update reference assemblies to use DefaultNetCoreTargetFramework"
This would reduce the churn when updating/adding TFMs. This would also reduce merge conflicts when updating the code in these files.

Details: https://github.com/aspnet/Extensions/pull/2336#discussion_r323746484

[2019-09-13 00:18] ebizupnorth opened #13938 "JsonPatchDocument Error The JSON value could not be converted to Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
### Describe the bug
Web API using JsonPatchDocument returns an error "The JSON value could not be converted to Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 3.0 Preview 9
2. Run the project attached
3. With these arguments

[
	{
		"op" : "replace",
		"path" : "/Summary",
		"value" : "new value"
	}
]

4. S

[2019-09-13 03:15] xshiiiidev opened #13940 "Using ASP.NET Core 2.2 Identity LockoutEnabled always set to true using UserManager CreateAsync"
Hello I am having a problem with the ASP.NET Core 2.2 Identity

![image](https://user-images.githubusercontent.com/19402130/64836428-6f861f80-d61c-11e9-86e2-c37495941f27.png)

I am creating a new user using the IdentityUser. I set the new user class LockoutEnabled = false;
But the UserManager CreateAsync method always set it to true and it overrides the value
I set for the LockoutEnabled property.

[2019-09-13 04:58] katiep23 opened #13942 "Uri not updated after NavigateTo complete"
After I get a success status code from creating a project, I do

`uriHelper.NavigateTo($"/Project/View/{projResponse.ID.ToString()}");`

This actually works:
![image](https://user-images.githubusercontent.com/51712098/64838470-f7d2d900-d5b8-11e9-833d-3c4744109b1d.png)

But at the same time the above is present, the uriHelper.Uri value has not changed at all:
![image](https://user-images.githubuser

[2019-09-13 05:00] JunTaoLuo opened #13943 "Re-enable RazorSdk_DoesNotBuildViewsForNetCoreApp11Projects test skipped when migrating to netcoreapp3.1"
I disabled the test as part of https://github.com/aspnet/AspNetCore-Tooling/pull/1122#issuecomment-530976125. Tracking whether we want to remove the test or figure out why it failed.

cc @pranavkm @mkArtakMSFT

[2019-09-13 05:00] jasonycw opened #13944 "Load balanced SignalR hub connection issue"
### Describe the bug
We got a SignalR hub server on AWS, with multiple instances under a load balancer. Load balancer stickiness is enabled on that target group of instances and redis backplane is setup.

However, we think that the stickiness is controlled by the cookie from AWS Load balancer, when cookie is disabled from the browser, the initiation of the SignalR connection will be failed.

### T

[2019-09-13 07:04] jasonycw commented on #13944
I see, so `clientId` is never shared between difference instance even if I use Redis backplane.

That's better be in the doc so everyone know

[2019-09-13 07:16] davidfowl commented on #13944
The docs say sticky sessions are required. https://docs.microsoft.com/en-us/aspnet/core/signalr/scale?view=aspnetcore-2.2#redis-backplane

[2019-09-13 07:33] Stamo-Gochev commented on #12685
I also need this feature - having control over the serialization options is necessary in various scenarios, when you want to customize the serialization/deserialization mechanism. Having to do this manually for each model is tedious. Can you provide some more details why exposing the options is a problem?

[2019-09-13 07:38] jasonycw commented on #13944
Yes, we thought the sticky session is for the continue connection(e.g. long polling) only, didn't think that will also be needed between `negotiate` and **start** of connection

[2019-09-13 09:29] divinci commented on #13770
A bit of help for others which have done the upgrade like @mkArtakMSFT as suggested but still finding the problem.

I had a .razor component in a shared assembly.

The shared assembly compiled fine, but as there is no _Imports.razor I had to manually add the `@using Microsoft.AspNetCore.Components.Web` to the top of the razor component in the shared library.

[2019-09-13 09:32] gaborbuzasi commented on #4422
@shirhatti The problem is that you may have solved that the process doesn't crash, but when this error happens the response from the API isn't returned and it clears out all the CORS headers too. So users of our API need to keep refreshing their application until the error doesn't come up.
I don't think upgrading to a preview version of a framework (3.0) is a solution to this.

[2019-09-13 09:32] gaborbuzasi commented on #13851
I'm hosting it in Azure App Service

[2019-09-13 10:01] MythreyaK opened #13946 "[Url] attribute allows spaces"
### Describe the bug
The [Url] attribute accepts URLs of the form `http://www.exam ple.com` and <br/> `http://example.com/foo bar`. From what I've read around, a URL shouldn't contain a literal space. Is this the expected behavior?

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.2.0' (from what I've seen in my solution 😅)
2. Use the `[Url]` attribute *
3

[2019-09-13 11:39] schmitch commented on #13715
shouldn't this be attached to the 3.0.0 milestone?

[2019-09-13 11:43] sergey-kolodiy opened #13948 "ASP.NET Core Dependency Injection container uses excessive amount of memory and CPU when large dependency graph is created"
### Description
ASP.NET Core Dependency Injection container uses excessive amount of memory and CPU when large dependency graph is created.

### How To Reproduce
I created a [repository](https://github.com/sergey-kolodiy/AspNetCore.DI) with a small project that reproduces the issue. It targets .NET Framework 4.7.2, but the issue is also reproducible for .NET Core 2.2.

1. Build the solution and ru

[2019-09-13 11:51] gaborposz commented on #13650
Hi,
The workaround seems to be working, but we would rather upgrade to new 2.2 patch version if possible.

Could you please give me feedback if the back merge to 2.2 is possible?

Thanks,
Gabor

[2019-09-13 12:02] tweek82 commented on #12573
Hi all,

We are heaving troubles with Azure App Services replacing instances for our .NET Core 2.1 web API. See also this issue. Today it escalated again and I learned about the eventlog.xml in the Kudo portal.
This shows the following logs:

For what we've seen now, this happens the most when Azure replaces our instances. See also this issue I've raised: https://github.com/aspnet/AspNetCore/issue

[2019-09-13 12:10] ig-sinicyn opened #13949 "Applying serializer settings from resource filter has no effect"
### Describe the bug
I'm trying to override json serialization settings on controller level. There's nothing in documentation but [this SO answer](https://stackoverflow.com/a/52273650) recommends using `IResourceFilter`. Sadly, this does not work with core 3 preview9 + newtonsoft json

### To Reproduce
Steps to reproduce the behavior ([sample.zip](https://github.com/aspnet/AspNetCore/files/3609917

[2019-09-13 12:16] sujayvsarma opened #13950 "Priority #1 - Show Stopper Bug - View Rendering engine binds incorrect data to controls in View after DELETE operation"
**Rewording this bug completely**

There is a problem with the way ASP.NET Core MVC (v 3.0) renders collection items in an editor scenario. This is a serious problem. I wish someone would investigate this on priority and provide a fix.

**Here is a scenario:**
The model that is being bound to the view has a collection-style property. In my case, it is a `List<T>`. The properties in the classes are

[2019-09-13 12:19] koskila commented on #11181
Sorry to comment on an old thread - but I ran into the same issue with @lpm-nova and @kardokh, fixed it with @SteveSandersonMS's solution, but after updating to preview 9 it's not working for me anymore. Should it? Any tips on how to get around it?

Thanks!

[2019-09-13 12:33] ig-sinicyn commented on #13949
Ok, my bad.
The right place to alter result options is the IResultFilter.OnResultExecuting().

[2019-09-13 12:33] #13949 closed

[2019-09-13 12:39] tweek82 commented on #12573
@anurse because comments on closed issues might not be tracked, see my previous comment. Can you point us in the right direction on this?

[2019-09-13 13:15] rkone commented on #13901
Here's the log:

[Error] WebSocket connection to 'ws://user:58219/_blazor?id=a9_65NTKLSIg1jh3OZbp6Q' failed: Unexpected response code: 401
[Error] [2019-09-13T13:03:07.575Z] Error: Failed to start the transport 'WebSockets': Error: There was an error with the transport.
log (blazor.server.js:1:5021)
(anonymous function) (blazor.server.js:1:47994)
(anonymous function) (blazor.server.js:1:40129)
a (

[2019-09-13 13:25] rksatheesh commented on #13120
Hi Henk,

Thanks for the input. its works fine however there is a bit confusion. there are two _viewStart.cshtml which one should i delete.  i tried both , but both time i am getting two headers. as i attached with this thread.
![TwoLayout](https://user-images.githubusercontent.com/46749069/64865868-ef7dab00-d657-11e9-8a98-934b99ea1144.png)

Looking for your support.

[2019-09-13 13:32] Tratcher commented on #4422
Why not? 3.0 is almost done, the latest previews have go-live (production) support licences. The final release will be out by the end of the month.

[2019-09-13 13:35] Tratcher commented on #13650
@gaborposz We'll check, but having a simple workaround usually disqualifies issuing a patch. Even more so when the fix is available in a later release (3.0).

[2019-09-13 13:39] Tratcher commented on #13715
It's too late for 3.0. We'll reconsider for 3.1.

[2019-09-13 13:55] SteveSandersonMS commented on #13917
It is possible to suppress the error on a per-tag basis:

[code]

Of course, if you do this, you're saying you know what you're doing and won't get confused about the fact that when tags are removed their effects aren't removed, and when they are re-added, their effects are doubled.

[2019-09-13 14:09] schmitch commented on #13715
well isn't this a bug?! i.e. should at least be in 3.0.1?

[2019-09-13 14:23] SteveSandersonMS commented on #13781
`OnAfterRenderAsync` is raised after each time the DOM is updated, which happens at some point after a `BuildRenderTree` method is called. The actual ordering of `OnAfterRenderAsync` calls within a single batch isn't defined.

Yes, there will be another call to `OnAfterRenderAsync` after each render batch that involves your component.

Yes, that totally makes sense. You do want your JS interop cal

[2019-09-13 14:26] vertonghenb commented on #10450
@TrabacchinLuigi I don’t know that was possible, awesome! Thanks for sharing!

[2019-09-13 14:30] sujayvsarma commented on #13950
I have debugged it even at the HTML side. I have this statement:

[code]
(`Travellers` is a `List<Traveller>`, where `Traveller` is the equivalent of my `Poco1`).

Even at that point, in the Immediate Window if I do `Model.Travellers[0]`, I see the right data. But on hitting F5, it renders completely different data!

[2019-09-13 14:42] sven5 commented on #11308
Hi,

I'd like to step into this because I have a similar problem. I'd like to inform the parent component that a Parameter in the child has been changed by using data binding. Just to be clear.

This is happening because of calling ValueChanged.InvokeAsync inside the parameter setter, which you definitely should not do.

However, when not calling `ValueChanged.InvokeAsync` the parent doesn't get u

[2019-09-13 14:47] SteveSandersonMS commented on #11308
Yes, you should (in fact, must) call it, but shouldn't do it from inside the bound property setter. The implementation at https://github.com/aspnet/AspNetCore/issues/11308#issuecomment-502923893 is the right one and behaves sensibly.

[2019-09-13 14:50] sven5 commented on #11308
Thank you @SteveSandersonMS .
Sorry, I just deleted my comment because I re-read your answer and missed the last (most important) part. It already contains the main point.

[2019-09-13 14:56] Tratcher commented on #13929
Translation: `WindowsCryptographicException: The system can not find the specified path`

Was "Application is shutting down..." the full powershell output?

[2019-09-13 15:13] Tratcher commented on #13715
Bugs don't automatically qualify for patching, they have to be pretty severe and hard to work around. We'll decide if a patch backport is feasible after we see what the fix looks like in 3.1.

[2019-09-13 15:41] calebdoise opened #13951 "Allow access to ParameterInfo on ModelMetadata"
### Problem
I need to be able to assign an IModelBinder to a parameter based on a custom attribute assigned to the action's method.

[code]
Within my IModelBinderProvider, for parameters x and y, I want to be able to provide a custom IModelBinder based on the fact that "Add" method has the MyCustomServiceAttribute applied.

If I had access to the ParameterInfo for x/y, I could retrieve the custom

[2019-09-13 15:43] sujayvsarma commented on #13950
One more piece of information:

If I use a `for` (indexed) loop and bind this way:

[code]

The bug *is* triggered. But if I use a `foreach` (iterator) loop and bind using:

[code]

Then it works **correctly**. So this seems to be something to do with indexed collections?

[2019-09-13 15:48] DamianEdwards commented on #13933
*Disclaimer: I know very little about what I'm about to say.*

I took a quick look at this from the "outside" (in a Blazor app itself, not the source) and it seems to enable this we'd need to expose some new API/callback on the `window.Blazor` object in the browser, such that one could register to be called back when a given component is loaded. Today, a unique marker is embedded in the HTML as a

[2019-09-13 15:48] Pilchie commented on #13950
Of course.  Also tagging @mkArtakMSFT

[2019-09-13 15:51] DamianEdwards commented on #13726
@Stamo-Gochev this is literally the seam between Razor "views" (which means any `cshtml` file) and Razor Components (any `razor` file). They both use the Razor language, but use very different build and render pipelines. You can host a Razor Component in a Razor View, but not the other way around. This is about that call-site where you want to render a Razor Component from within a Razor View. Tag

[2019-09-13 15:52] sujayvsarma commented on #13950
@mkArtakMSFT - Let me know what info you need.

[2019-09-13 15:59] pranavkm commented on #13938
@ebizupnorth you'll need to update your application to reference `Microsoft.AspNetCore.Mvc.Newtonsoft.Json` package:

* Install the [Microsoft.AspNetCore.Mvc.NewtonsoftJson](https://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.NewtonsoftJson/) NuGet package.
* Update the project's `Startup.ConfigureServices` method to include a call to `AddRazorRuntimeCompilation`:

[code]

[2019-09-13 15:59] #13938 closed

[2019-09-13 16:13] pranavkm commented on #13942
Thanks for the issue report @katiep23. `NavigationManager.NavigateTo` sends a message to the browser which then navigates asynchronously. The `Uri` isn't updated until the navigation has completed in the browser. What you're seeing is likely because you're accessing the property prior to navigation having occurred.

[2019-09-13 16:13] #13942 closed

[2019-09-13 16:14] pranavkm commented on #13933
You could change your `app` element to show a spinner:

[code]

[2019-09-13 16:26] pranavkm commented on #13932
@defend this behavior is consistent with how the renderer works. We have a gap in the documentation of the component lifecycle which we plan to address as part of #13473. Closing this as a dup.

[2019-09-13 16:26] #13932 closed

[2019-09-13 16:28] pranavkm commented on #13901
@BrennanConroy would you know what might cause this error?

[2019-09-13 16:29] danroth27 commented on #10472
Hi @DrGriff. We haven't officially announced the roadmap for Blazor WebAssembly yet, but we don't expect it ship it until *after* we've finished work on .NET Core 3.1, which we previously announced will ship in Nov of this year. After .NET Core 3.1 is done, Blazor WebAssembly will become our main focus and we expect it will be ready for production use in the first half of 2020.

[2019-09-13 16:31] pranavkm commented on #13137
It would be great if we could make this contextual. If we can flag things that look directive attributes on components, it might resolve misuse like https://github.com/aspnet/AspNetCore/issues/13883

[2019-09-13 16:34] pranavkm commented on #13883
@Manishbtech `InputText` does not support `oninput` today. You might have more success using `input` rather than `InputText`. I'd recommend using StackOverflow if you need more help with figuring this out.

[2019-09-13 16:34] #13883 closed

[2019-09-13 16:37] pranavkm commented on #13877
We would prefer a simple repro. Thanks!

[2019-09-13 16:40] katiep23 commented on #13942
Well when NavigationManager.NavigateTo completes & it's within same page, OnInitialized is not called again.  Is there a way to force this?

[2019-09-13 16:43] pranavkm commented on #13950
@sujayvsarma could you share a minimal repro app?

[2019-09-13 16:44] pranavkm commented on #13946
This issue was moved to dotnet/corefx#41093

[2019-09-13 16:44] #13946 closed

[2019-09-13 16:45] pranavkm commented on #13943
Thanks @JunTaoLuo. Like I noted in the PR, this tests 1.1 scenarios which are no longer supported. We should remove the test. @ajaybhargavb could you have a look at this?

[2019-09-13 16:46] sprocket99 opened #13954 "published self hosting .exe does not has blank app attributes"
### Describe the bug
I have an asp.net core app, using latest 2.2 version. I set the Product Name and Description under `Package` tab in Project > Properties. The compiled .dll file has the correct attributes under `Details` tab. But when I publish and it becomes an `.exe` it loses those attributes and they blank.

### Expected behavior
For the published self hosting .exe to have the same product

[2019-09-13 16:48] pranavkm commented on #13886
Can you share minimal repro of the app?

[2019-09-13 16:49] BrennanConroy commented on #13901
Well a 401 is the unauthorized http code.

Could you gather server side logs so we can see why auth might have failed?

[2019-09-13 16:50] pranavkm commented on #13850
Thanks @kimbell . @javiercn could you have a look?

[2019-09-13 16:51] pranavkm commented on #13665
There isn't enough details here to figure out what to do. Closing this.

[2019-09-13 16:51] #13665 closed

[2019-09-13 16:57] sujayvsarma commented on #13950
Create a simple ASP.net Core MVC application.. No connections to anything or external packages.

Add one controller and a view. Add the two classes to Models. Bind the view to the Trip class. Hook up add & delete actions in the controller for the Traveller binding.

You should see the bug.

I'll take me 12 hours to send you a repro project. It's 10.30pm here now. About to go to sleep.

[2019-09-13 16:59] sujayvsarma commented on #13950
I have currently unblocked my team by putting through [this workaround](https://github.com/aspnet/AspNetCore/issues/13950#issuecomment-531288790). But it is not sustainable.

[2019-09-13 17:03] pranavkm commented on #13942
You could use `NavigationManager.LocationChanged` to be notified of when the navigation completes:

``C#
string uri;
void UpdateUri(LocationChangedEventArgs args)
{
   uri = args.Location;
   uriHelper.LocationChanged -= UpdateUri;
}

...

uriHelper.LocationChanged += UpdateUri;
uriHelper.NavigateTo($"/Project/View/{projResponse.ID.ToString()}");
[code]

[2019-09-13 17:04] ryhled commented on #13887
Me too, noticed this when i upgraded to newest preview (this broke the code). Also have a separation in which an extended signinmanager resides in class library. And if one would for example have handlers taking a signinmanager as injected dependency, i guess this means you are locked into having all these handlers reside only in the main project.

Is this something that might be changed or it is

[2019-09-13 17:11] rkone commented on #13901
Sure, here's the log.
[ex190913.log](https://github.com/aspnet/AspNetCore/files/3611077/ex190913.log)

[2019-09-13 17:19] BrennanConroy commented on #13901
Not sure where you got those logs. But we need the logs from ASP.NET Core, see https://docs.microsoft.com/aspnet/core/fundamentals/logging/?view=aspnetcore-2.2 for details on the logging.

[2019-09-13 17:26] rkone commented on #13901
Sorry, is this what you were looking for?

Microsoft.AspNetCore.Hosting.Diagnostics: Information: Request starting HTTP/1.1 GET http://user:58219/css/bootstrap/bootstrap.min.css
Microsoft.AspNetCore.Hosting.Diagnostics: Information: Request starting HTTP/1.1 GET http://user:58219/
Microsoft.AspNetCore.Hosting.Diagnostics: Information: Request starting HTTP/1.1 GET http://user:58219/css/open-iconic

[2019-09-13 17:44] taori commented on #13929
Yes. only when using dotnet run -v diag i even saw messages indicating that something is wrong with the cert - no indication of the reason of the crash however.

[2019-09-13 17:49] pranavkm commented on #13901
@rkone those look like the right logs. Could you bump up the application's log level to `Debug`? It should have more details as to what's going on.

[2019-09-13 17:50] aspnet-hello opened #13955 "Performance regression: DbMultiUpdateRaw, PlaintextNonPipelinedLoggingNoScopes, HttpClientParallel, HttpClient, MvcDbFortunesEf ..."
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- |
| DbFortunesDapper | Linux, http, KestrelSockets | 2019-09-13 08:37:44Z | 219578 | 4 | -100 % | -118.77 σ |

Before versions:
Microsoft.AspNetCore.App __3.0.0-rc2.19459.5__
Micr

[2019-09-13 17:51] aspnet-hello opened #13956 "Scenarios are not running: FortunesPostgreSql-FastHttp, FortunesPostgreSql-NodeJs, FortunesPostgreSql-NodeJs, GrpcUnaryAspNetCore, GrpcUnaryAspNetCore ..."
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| FortunesPostgreSql-FastHttp | Linux, Physical, http, KestrelSockets | 9/10/19 1:26:48 PM +00:00 |
| FortunesPostgreSql-NodeJs | Linux, Cloud, http, KestrelSockets | 9/9/19 12:57:22 AM +00:00 |
| FortunesPostgreSql-NodeJs | Linux, Physical, http, KestrelSockets | 9/10/19 1:21:27 PM +0

[2019-09-13 17:51] aspnet-hello opened #13957 "Bad responses: DbFortunesDapper, DbFortunesEf, DbFortunesRaw, DbMultiQueryDapper, DbMultiQueryEf ..."
Some scenarios return errors:

| Scenario | Environment | Last Run | Errors |
| -------- | ----------- | -------- | ------ |
| DbFortunesDapper | Linux, Physical, http, KestrelSockets | 9/13/19 1:42:06 PM +00:00 | 240 |
| DbFortunesEf | Linux, Physical, http, KestrelSockets | 9/13/19 1:46:05 PM +00:00 | 90 |
| DbFortunesRaw | Linux, Physical, http, KestrelSockets | 9/13/19 1:38:06 PM +00:00 | 164

[2019-09-13 17:53] rkone commented on #13901
I was already looking through it (but still not seeing anything):
[BlazorAppDebugLog.txt](https://github.com/aspnet/AspNetCore/files/3611221/BlazorAppDebugLog.txt)

[2019-09-13 17:54] scalablecory opened #13958 "HTTP GET string parameter ending with selected keywords are not allowed in .net core"
_From @maheshmore2691 on Friday, September 13, 2019 3:09:20 PM_

Hi,

I know that this is not related to .NET core but still wanted to confirm that is there any way to fix it in .NET core.

Visual studio: 2019
.NET core: 2.2
Language: C#

#Issue: I have created .NET core API with GET endpoint decorated by attribute routing which accepts string parameter and here I am getting 404.7 response for som

[2019-09-13 18:02] mkArtakMSFT opened #13960 "Update TFM for ASP.NET Core Web project templates to `netcoreapp3.1`"

[2019-09-13 18:06] anurse commented on #12573
@tweek82 I'd suggest you open a new issue, for exactly the reason you mention (closed issues don't get a lot of attention). I'm on leave until Monday and not really able to investigate further. Opening a new issue ensures it'll get my attention when I'm back, and even before then it ensures the whole team sees it.

[2019-09-13 18:17] ryhled opened #13961 "Missing abstractions for IHttpContextAccessor and IUrlHelper"
Hi!

Have some  code that broke when upgrading to preview 9. The issue is i can no longer find references for them in the (netcoreapp3.0) class libraries they are stored.

Mainly it concerns **IActionContextAccessor**, **IUrlHelperFactory*, **IHttpContextAccessor** and **IUrlHelper**.

They reside under Microsoft.AspNetCore.Mvc it seems. And they resolve fine in controller. But when i try to refer

[2019-09-13 18:17] ryhled opened #13962 "ihhtcontextaccessor"

[2019-09-13 18:17] #13962 closed

[2019-09-13 18:17] scalablecory opened #13963 "cannot get Auth code flow working with preview 9"
_From @murbanowicz on Monday, September 9, 2019 5:20:40 PM_

hi,
I am struggling to set up the identity server with 3.0.
I provided detailed description on SO: https://stackoverflow.com/questions/57857813/identity-server-4-unauthorized-client

Client is now recognized when I added client to configuration json,.but cannot get it working with e.g. postman while the same postman working with the same

[2019-09-13 18:17] scalablecory commented on #13963
_From @murbanowicz on Monday, September 9, 2019 6:24:15 PM_

Giving more details:
It is for sure NOT LOADING clients added by: `.AddInMemoryClients(Config.GetClients())`
It is ignoring e.g. `"RequirePkce": false` in client section in `appsettings.development.json` and still requiring code challange...

[2019-09-13 18:18] scalablecory commented on #13963
_From @scalablecory on Monday, September 9, 2019 8:25:27 PM_

Hi @murbanowicz,

Identity Server is a 3rd party software, not part of the .NET Core project. You will need to reach out to them through one of their [support channels](https://identityserver4.readthedocs.io/en/latest/intro/support.html).

[2019-09-13 18:18] scalablecory commented on #13963
_From @blowdart on Monday, September 9, 2019 8:26:46 PM_

Wait a minute :)

Is this the build in identity server pieces in the SPA templates? Or is it in other app types?

[2019-09-13 18:18] scalablecory commented on #13963
_From @murbanowicz on Monday, September 9, 2019 8:32:56 PM_

exactly, built in in the SPA templates

pon., 9 wrz 2019, 22:28 użytkownik Barry Dorrans <notifications@github.com>
napisał:

[2019-09-13 18:18] scalablecory commented on #13963
_From @blowdart on Monday, September 9, 2019 8:35:58 PM_

Can someone move this to the asp.net repo please?

(Or @murbanowicz please ask this again in https://github.com/aspnet/AspNetCore/issues and close this one yourself)

[2019-09-13 18:18] scalablecory commented on #13963
_From @murbanowicz on Monday, September 9, 2019 8:48:46 PM_

Damn it! sorry, i am always confused where the issues should go.

pon., 9 wrz 2019, 22:36 użytkownik Barry Dorrans <notifications@github.com>
napisał:

[2019-09-13 18:18] scalablecory commented on #13963
_From @blowdart on Monday, September 9, 2019 8:50:08 PM_

You and me both :)

[2019-09-13 18:18] scalablecory commented on #13963
_From @murbanowicz on Tuesday, September 10, 2019 12:14:40 PM_

Further investigation shows that in any way I cannot make IdentityServer integration load my client.
I the logs, it is showing creating the client named as my project, nothing about my client, but this projectName client is also not available at all.
This is really strange.
I have tried to add it by `AddInMemoryClients` and also as:
[

[2019-09-13 18:22] ryhled commented on #12912
@Eilon This package only seems available up to v2.2. Not 3.0 preview. So unable to reference this from a class library for example.

[2019-09-13 18:25] DamianEdwards commented on #13933
@pranavkm one doesn't always have an `<app>` element though right? If you're just rendering components in a Razor View, you don't need it.

[2019-09-13 18:38] ryhled commented on #13961
Closing since there seems to be an open question for this already, #12912. I assume this has been has been changed intentionally for some reason (since there are similar problems with classes like identitymanager and so forth).

[2019-09-13 18:38] #13961 closed

[2019-09-13 18:38] halter73 commented on #4422
I don't think upgrading to a preview version of a framework (3.0) is a solution to this.

Even before the fix in 3.0, the underlying connection must have already been aborted for the CancellationTokenSource backing HttpContext.RequestAborted to become disposed leading to an ObjectDisposedException. This means that clearing out the CORS headers should be a non-issue since the client could have neve

[2019-09-13 18:45] limefrogyank commented on #11446
You can even wrap the current `Router` with your own class and capture the same events (`document.onclick` & `window.onpopstate`) do your own thing by calling `stopImmediatePropagation` or let it through to let the default router handle parsing for you.  That's what I've done.  The newest `Router` (preview9) is pretty good.

[2019-09-13 18:51] aspnet-hello opened #13964 "Performance regression: ResponseCachingPlaintextResponseNoCache, PlaintextNonPipelined"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- |
| PlaintextNonPipelined | Linux, h2, KestrelSockets | 2019-09-13 06:41:15Z | 423053 | 376786 | -10.94 % | -2.49 σ |

Before versions:
Microsoft.AspNetCore.App __3.0.0-rc2.19459.

[2019-09-13 18:55] HaoK commented on #13940
Did you try turning off `IdentityOptions.Lockout.AllowedForNewUsers = false`?  That is what determines whether identity turns it on within a Create

https://github.com/aspnet/AspNetCore/blob/master/src/Identity/Extensions.Core/src/LockoutOptions.cs#L19

[2019-09-13 18:59] ebizupnorth commented on #13938
Thanks a lot. It works like a charm!

It would be better if Microsoft.AspNetCore.Mvc.NewtonsoftJson will be added as dependency of Microsoft.AspNetCore.JsonPatch.JsonPatchDocument in the nuget package.

[2019-09-13 19:13] BrennanConroy commented on #13901
It looks like you're using Chrome, could you try a different browser and see if you get the same results.

There have been issues in the past (and maybe the present) with chrome not working well with websockets and windows auth. https://bugs.chromium.org/p/chromium/issues/detail?id=423609

[2019-09-13 19:23] rezvanf commented on #13895
.

[2019-09-13 19:24] rezvanf commented on #13895
Ok I agree about null checking, that makes sense.
In this particular case the unit test is testing a middleware that set value of the  Get<IHttpMaxRequestBodySizeFeature>().MaxRequestBodySize . We have had to provide a *Test* Startup which overrides the Configure and Configure services.

[2019-09-13 19:29] Pilchie commented on #13935
@jkotalik - is this something you could take a look at?

[2019-09-13 19:34] pranavkm commented on #13958
@maheshmore2691 you're likely running in to IIS"s request filtering. https://docs.microsoft.com/en-us/iis/manage/configuring-security/use-request-filtering#filter-based-on-file-extensions has some documentation on configuring it.

/cc @shirhatti \ @jkotalik

[2019-09-13 19:38] rkone commented on #13901
Oh, and Android Chrome works too.

[2019-09-13 19:39] jkotalik commented on #13958
Yeah that seems correct. IIS interprets `test.master` as an extension rather than a path. As @pranavkm mentioned, you can configure which extensions you allow through IIS.

[2019-09-13 19:45] jamesgurung opened #13966 "RequestFormLimits attribute throws InvalidDataException"
Using the `RequestFormLimits` attribute throws an `InvalidDataException`.

### To Reproduce
Steps to reproduce the behavior:
1. Using ASP.NET Core 3.0 Preview 9, create a new MVC application.
2. Edit the following files:

**HomeController.cs**
[code]

**Index.cshtml**
[code]

### Expected behavior
The post request should return 200 OK.

Note that when the `RequestFormLimits` attribute is removed,

[2019-09-13 19:48] pranavkm commented on #13966
/cc @Tratcher

[2019-09-13 20:42] pranavkm commented on #13958
Closing as answered.

[2019-09-13 20:42] #13958 closed

[2019-09-13 20:51] aspnet-hello opened #13967 "Performance regression: HttpClientParallel"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- |
| HttpClientParallel | Windows, http, KestrelSockets | 2019-09-13 20:33:33Z | 47279 | 39939 | -15.52 % | -5.04 σ |

Before versions:
Microsoft.AspNetCore.App __3.0.0-rc2.19459.5

[2019-09-13 22:14] JunTaoLuo commented on #8680
FYI I did some preliminary investigation and it seems like it's quite feasible to generate ref assemblies on build. in AspNetCore, it increased by ~10 seconds: Time Elapsed 00:04:01.99 to Time Elapsed 00:04:10.44. However, I ran into some concurrency issues which I don't have time to resolve right now. We will consider this in the future.

[2019-09-13 22:15] davidfowl commented on #12912
It’s no longer in a package but is part of the ASP.NET Core shared framework.

[2019-09-13 22:51] aspnet-hello opened #13969 "Bad responses: GrpcServerStreamingAspNetCore-GrpcNetClient"
Some scenarios return errors:

| Scenario | Environment | Last Run | Errors |
| -------- | ----------- | -------- | ------ |
| GrpcServerStreamingAspNetCore-GrpcNetClient | Windows, Cloud, h2, KestrelSockets | 9/13/19 10:16:17 PM +00:00 | 128 |

[Logs](https://aka.ms/aspnet/benchmarks/jenkins)

[2019-09-13 23:23] dotkiwi commented on #10450
@TrabacchinLuigi  Hmm, I'm not sure if this would work, please correct me if I'm wrong. Since components can't contain <script> tags, if you place the <body> tag inside a component then you have nowhere to place <script> tags. <script> tags are meant to be in the <body> are they not?

[2019-09-13 23:27] shirhatti commented on #4422
This was fixed in 2.2.1 which was released way back in June 2018

[2019-09-13 23:38] Tratcher commented on #13966
Duplicate of #13719. Mitigation: Replace MaxValue with a limit appropriate to your system.

[2019-09-13 23:38] #13966 closed

[2019-09-14 00:09] JacquesJamiesonLancom commented on #13623
Right, so the scaffolded project is incorrectly using  `GetUserAsync`? I did some digging in the source code and it seems to me that in order for `GetUserAsync` to work I would need to save the user to my db using the external user id found in `User`?

[2019-09-14 00:50] aspnet-hello opened #13970 "Performance regression: MvcJson2k"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- |
| MvcJson2k | Linux, http, KestrelSockets | 2019-09-13 06:30:24Z | 188777 | 175091 | -7.25 % | -2.04 σ |

Before versions:
Microsoft.AspNetCore.App __3.0.0-rc2.19459.5__
Microso

[2019-09-14 00:51] aspnet-hello opened #13971 "Bad responses: GrpcServerStreamingAspNetCore-GrpcCore, GrpcServerStreamingAspNetCore-GrpcNetClient, GrpcUnaryAspNetCore-GrpcNetClient"
Some scenarios return errors:

| Scenario | Environment | Last Run | Errors |
| -------- | ----------- | -------- | ------ |
| GrpcServerStreamingAspNetCore-GrpcCore | Linux, Physical, h2c, KestrelSockets | 9/14/19 12:34:17 AM +00:00 | 128 |
| GrpcServerStreamingAspNetCore-GrpcNetClient | Linux, Physical, h2, KestrelSockets | 9/14/19 12:35:30 AM +00:00 | 128 |
| GrpcUnaryAspNetCore-GrpcNetClient |

[2019-09-14 00:53] HaoK commented on #13623
Everything should work if you scaffold all files and use them as is, if you are modifying particular pages and what not, you will need to stick to the same conventions the scaffolded pages use, or modify things appropriately.  Nothing in the user itself links itself to an external login, its the external login table that does that lookup by default.

[2019-09-14 01:15] davidfowl commented on #13719
This should have been nullable.

[2019-09-14 01:24] Tratcher commented on #13719
*shrug* turning it off is a pretty bad idea.

[2019-09-14 01:40] davidfowl commented on #13719
And setting it to int.MaxValue isn’t 😆

[2019-09-14 01:46] vertonghenb commented on #10450
That's a good argument!

[2019-09-14 01:51] aspnet-hello opened #13972 "Scenarios are not running: LinkAThonTrimmedAndR2R, LinkAThonTrimmedAndR2RSingleFile, LinkAThonTrimmedAndR2RSingleFileCustomHost, LinkAThonTrimmedAndR2RSingleFileNoMvc"
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| LinkAThonTrimmedAndR2R | Linux, Physical, http, KestrelSockets | 9/12/19 3:04:30 AM +00:00 |
| LinkAThonTrimmedAndR2RSingleFile | Linux, Physical, http, KestrelSockets | 9/12/19 3:06:08 AM +00:00 |
| LinkAThonTrimmedAndR2RSingleFileCustomHost | Linux, Physical, http, KestrelSockets |

[2019-09-14 01:51] aspnet-hello opened #13973 "Bad responses: GrpcServerStreamingAspNetCore-GrpcNetClient, GrpcUnaryAspNetCore-GrpcNetClient"
Some scenarios return errors:

| Scenario | Environment | Last Run | Errors |
| -------- | ----------- | -------- | ------ |
| GrpcServerStreamingAspNetCore-GrpcNetClient | Linux, Cloud, h2, KestrelSockets | 9/14/19 12:53:48 AM +00:00 | 128 |
| GrpcUnaryAspNetCore-GrpcNetClient | Linux, Cloud, h2, KestrelSockets | 9/14/19 12:51:53 AM +00:00 | 13957 |

[Logs](https://aka.ms/aspnet/benchmarks/jenkin

[2019-09-14 02:51] aspnet-hello opened #13976 "Bad responses: GrpcServerStreamingAspNetCore-GrpcNetClient, GrpcUnaryAspNetCore-GrpcNetClient, GrpcUnaryAspNetCore-GrpcNetClient"
Some scenarios return errors:

| Scenario | Environment | Last Run | Errors |
| -------- | ----------- | -------- | ------ |
| GrpcServerStreamingAspNetCore-GrpcNetClient | Windows, Physical, h2, KestrelSockets | 9/14/19 2:19:04 AM +00:00 | 128 |
| GrpcUnaryAspNetCore-GrpcNetClient | Windows, Cloud, h2, KestrelSockets | 9/14/19 1:59:12 AM +00:00 | 14326 |
| GrpcUnaryAspNetCore-GrpcNetClient | Wind

[2019-09-14 02:53] jingrah1 commented on #6914
@mkArtakMSFT I've found that defining default empty string values under complex query objects seem to be overridden if the mentioned behavior is performed?

Here's our action definition:
`
public async Task<ActionResult<IEnumerable<Company>>> SearchCompanies([FromQuery] CompanySearchQuery search)
`

And here is our query model:
`
public class CompanySearchQuery : ISearchQuery
    {
        [Defaul

[2019-09-14 03:30] Honjoy opened #13977 "use .Configure will output 404"
[code]

[2019-09-14 03:30] sujayvsarma commented on #13950
Attaching the repro application. This is the exact application in which the bug occurs, I have removed portions of the code and system that is out of scope of this issue.

Project: [AspNetCore.Issues.13950.zip](https://github.com/aspnet/AspNetCore/files/3612302/AspNetCore.Issues.13950.zip)

**How to view the bug:**
When you currently F5-run it, you will see a trip planner UI. This UI uses the [wor

[2019-09-14 05:39] davidfowl commented on #13887
Your class library needs to target both .NET Core 3.0 and it needs a FrameworkReference to Microsoft.AspNetCore.App.

[2019-09-14 06:01] danroth27 opened #13979 "Provide a way to inspect the DOM using an ElementReference"
Currently an `ElementReference` is an opaque value intended for JS interop purposes only. We generally don't want users to mutate the DOM using an `ElementReference` because that would interfere with the Blazor diffing algorithm.

However, I've run into a case where I want to be able to inspect the state of the DOM, which seems like should be a safe operation. In my scenario I have an input text b

[2019-09-14 06:35] maheshmore2691 commented on #13958
@pranavkm Thanks for the quick and detailed answer.

So to make it work either I have to change the IIS configuration on the server or I have to change the endpoint to accept a parameter as a query string.

[2019-09-14 06:58] henk787 commented on #13120
You should _not_ delete the one under \Areas\Identity, just the one under \Pages.

So it should have worked, make sure you have a Build with no errors, flush your browser (Ctrl+F5) etc.

[2019-09-14 07:01] henk787 commented on #13120
Just to update this for Preview9, only 2 steps remain:

after the add-scaffolding,

- remove Pages/_ViewStart.cshtml
- fix Pages/Shared/_Layout.cshtml, the first line is missing @using

[2019-09-14 07:18] TrabacchinLuigi commented on #10450
@dotkiwi @vertonghenb as far as i know script tags can be placed in head tag, inside body tag or after it, it just depends on when you want that script to be available and start executing, in this case it should not matter, the page is very lightweight and the majority of the content is downloaded later by Blazor ...

[2019-09-14 08:36] digitalsigi commented on #13699
Same with me, but found reason.
Scaffolding inserts incomplete line in ~\Pages\Shared\_Layout.cshtml:
[code]
but should  read

[code]

[2019-09-14 09:06] yukozh opened #13982 "What is the valid value for `Range` in header?"
There is no description about the up-limits: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Range

But when invoke it in .NET Core, it throw an error if set the value like this:
[code]

![image](https://user-images.githubusercontent.com/2216750/64905950-f9fc7b00-d711-11e9-8c8e-58fc1010fc04.png)

[2019-09-14 09:52] glararan commented on #11883
I just ran into this problem after generating Blazor server-side ExternalLogin view.
Is considered to rewrite Identity for Blazor as components? I have login modal with external authentications like facebook/twitter which I would like to not redirect to razor page like it does when you create project and then you click on "Login".

[2019-09-14 11:33] mbuhot opened #13983 "Server crashes with Stack overflow exception rendering emoji in API Controller Response"
### Describe the bug

When a string property of an API controller response body object contains some emoji, eg: 💖, the running server terminates with a stack overflow exception:

[code]

### To Reproduce

Steps to reproduce the behavior:
1. Using dotnet core 3.0.100-preview9-014004
2. Create a new project `dotnet new webapi -o EmojiCrash`
3. Modify the generated controller such that the response c

[2019-09-14 12:23] MV10 commented on #5897
Is there a reason `ConfigureServicesAsync` would be problematic?

Similar to what @gulbanana notes, there are a lot of scenarios where that would be handy. For example, I inherited several systems that use `.GetAwaiter().GetResult()` to read config values from Azure Key Vault, Blob Storage, and a custom distributed cache mechanism. I've seen similar async database calls in other projects that retr

[2019-09-14 12:33] blowdart commented on #13963
@javiercn could you take a look or explain what we're doing here?

[2019-09-14 12:51] aspnet-hello opened #13984 "Performance regression: PlaintextNonPipelined"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- |
| PlaintextNonPipelined | Linux, h2c, KestrelSockets | 2019-09-13 06:42:46Z | 736169 | 695125 | -5.58 % | -3.03 σ |

Before versions:
Microsoft.AspNetCore.App __3.0.0-rc2.19459.

[2019-09-14 13:34] calebdoise commented on #13951
Here is what I could do as a workaround in IModelBinderProvider implementation, but I would obviously want to be able to remove the dependency on reflection to get to a production-ready .NET Core version of our application.

[code]

[2019-09-14 14:19] julienGrd commented on #13933
Not works for me
[code]
the div with class my-loader not disappear after the app is rendering, so my loader never disappear

[2019-09-14 14:30] Eastop commented on #13695
I had similar issues. I had to replace Microsoft.AspNetCore.Components.Rendering with Microsoft.AspNetCore.Components.RenderTree.RenderTreeBuilder and it worked for me

[2019-09-14 14:34] pranavkm commented on #13933
Yup, I think @DamianEdwards is right. We'll have another look at this.

[2019-09-14 14:36] DataJuggler commented on #13695
Thanks. I already rebuilt manually, but that is good to know. Hopefully once the full version comes out this won't be a problem any more.

[2019-09-14 14:51] aspnet-hello opened #13985 "Scenarios are not running: GrpcServerStreamingAspNetCore-GrpcCore"
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| GrpcServerStreamingAspNetCore-GrpcCore | Windows, Cloud, http, KestrelSockets | 9/13/19 2:12:40 PM +00:00 |

[Logs](https://aka.ms/aspnet/benchmarks/jenkins)

[2019-09-14 14:53] Joelius300 commented on #12685
Another use-case which will probably be very common is going to be introduced once https://github.com/dotnet/corefx/issues/38650 passes. I don't know what the best default value would be in the options you're using internally since I've had many scenarios where I needed polymorphic serialization but also many others where I didn't want it to be polymorphic. I think this is also an option which wou

[2019-09-14 15:02] pranavkm commented on #13951
You could make the attribute a convention that configures a parameter's binder. It'd be a lot simpler than trying to write a provider:

[code]

[2019-09-14 15:12] pranavkm commented on #13983
Thanks for the issue report. We've had other reports of this issue and it's being addressed as part of the 3.0 release. See https://github.com/aspnet/AspNetCore/issues/13856.In the meanwhile, you could consider using Newtonsoft.Json based JSON formatters in your application: https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-2.2&tabs=visual-studio#jsonnet-support

/cc

[2019-09-14 15:12] #13983 closed

[2019-09-14 15:17] pranavkm commented on #13970
This one's weird. There isn't an product change in the commit range in Microsoft.AspNetCore.App and .NET Core runtime hasn't changed.
@sebastienros is the regression fairly consistent?

[2019-09-14 15:46] davidfowl commented on #13977
Configure does not compose, so it should not be used in an `IHostingStartup`

[2019-09-14 16:28] yohsii opened #13986 "using Controller.Json() method with the JsonSerializerSettings overload results in MissingMethodException"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
i'm using asp.net core 3.0 preview 9 and trying to do the followi

[2019-09-14 16:50] aspnet-hello opened #13987 "Scenarios are not running: GrpcServerStreamingAspNetCore-GrpcCore, GrpcServerStreamingAspNetCore-GrpcCore, GrpcServerStreamingAspNetCore-GrpcNetClient, GrpcServerStreamingAspNetCore-GrpcNetClient, GrpcServerStreamingNative-GrpcCore ..."
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| GrpcServerStreamingAspNetCore-GrpcCore | Windows, Physical, http, KestrelSockets | 9/13/19 4:17:05 PM +00:00 |
| GrpcServerStreamingAspNetCore-GrpcCore | Linux, Cloud, http, KestrelSockets | 9/13/19 4:50:09 PM +00:00 |
| GrpcServerStreamingAspNetCore-GrpcNetClient | Windows, Physical

[2019-09-14 17:26] ryhled commented on #12890
Any recommendations on how to integrate webpack with HMR without UseWebpackDevMiddleware?

[2019-09-14 17:50] aspnet-hello opened #13988 "Scenarios are not running: GrpcServerStreamingNative-GrpcCore, GrpcServerStreamingNative-GrpcNetClient, GrpcUnaryNative-GrpcCore, GrpcUnaryNative-GrpcNetClient, GrpcUnaryNative-h2load"
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| GrpcServerStreamingNative-GrpcCore | Linux, Cloud, http, KestrelSockets | 9/13/19 4:53:11 PM +00:00 |
| GrpcServerStreamingNative-GrpcNetClient | Linux, Cloud, http, KestrelSockets | 9/13/19 4:53:52 PM +00:00 |
| GrpcUnaryNative-GrpcCore | Linux, Cloud, http, KestrelSockets | 9/13/19

[2019-09-14 18:13] arivera12 commented on #13694
I just got into this issue I tried using IJSRuntime on startup.cs and the app freezes with no error message. Without this there is no way to use configuration files on blazor client side.

[2019-09-14 18:17] arivera12 commented on #13694
@RemiBou maybe (Haven't tested) your approach works for the version you are using on the link provided. But once you upgrade to preview 9. IUriHelper is gone. It was replace with NavigationManager, I still tried to inject NavigationManager on startup but it gaves me the same result. It seems that NavigationManager is not available on application startup.

[2019-09-14 18:19] arivera12 commented on #13694
@ghidello can you share a snip of code how to make the navigation manager work with the app builder on startup.cs?

[2019-09-14 18:20] Sebazzz commented on #12890
This is unclear currently. A deprecation, but no migration path has been announced for this.

[2019-09-14 18:28] arivera12 commented on #13694
@ghidello I found the solution.
@RemiBou you should updte your article with this change to make it work with preview 9.
[code]

[2019-09-14 18:33] danroth27 commented on #13843
Thanks @chrdlx for bringing this issue to our attention!

@bradygaster @anurse Have you heard any other reports of this issue with using long-polling on Android devices due to lite mode? I believe lite mode is not always enabled by default (at least it's not on my phone), but it may automatically kick in if Chrome predicts that the page load will take a long time. It may be that long-polling trigg