[2019-04-24 20:38] BenHayat opened #9726 "Q: [Blazor] How can I change background color of Razor syntax in VS2019?"
In Vs2019, when we write Razor code VS2019 applies a dark gray background which makes the code harder to read in dark theme. How can I remove this BG color?

I checked in the Options|Fonts&Color, but couldn't find any reference.
Thanks!

[2019-04-24 20:47] rynowak commented on #8264
This will be possible in 3.0 - preview 6

[code]

[2019-04-24 20:48] VR-Architect opened #9727 "DateTime-Local is not honoring the 24-hour conversion to AM/PM"
### Describe the bug
Using Blazor client/server, the binding for control type datetime-local is not converting the 24-hour format in DateTime object to the AM/PM format required by the UI control. If 16:45 is entered for time, it is being converted to 04:45 AM but should be 04:45 PM.

### To Reproduce
[code]

### Expected behavior
Time in the input control should match the time shown in the <small

[2019-04-24 21:02] NTaylorMullen commented on #9723
Spoke to @Amadeusw and he's forwarding this onto the proper folks. I'll update this issue accordingly based on that convo.

[2019-04-24 21:54] rjmr97 commented on #9726
Tools > Options > Environment > Fonts and Colors
Display Items: HTML Razor Code Background

![image](https://user-images.githubusercontent.com/30321188/56696483-df365500-66e3-11e9-92fa-e5b58a5e9c12.png)

[2019-04-24 22:08] BenHayat commented on #9726
@rjmr97 ;

Thank you Ricardo; Looks so much better
I missed it on the list as it was prefixed with HTML and I was searching for Razor.
Ended up fixing a few other color issues too.

[2019-04-24 22:13] #7098 closed

[2019-04-24 22:14] rynowak commented on #7098
This is fixed in 3.0-preview6. You can now use `GetPathByName` and it will understand route names for MVC.

If you're looking for functionality similar to `Url.Route` in 2.2 I would recommend using `LinkGenerator.GetPathByRouteValues`

[2019-04-24 22:18] huto1 commented on #9714
original the template was API, I think. But, I added server side blazor in startup, then I created cshtml view, in which the .razor file was rendered, up to that point everything works perfectly. The problem is with the click. It all seemed like a good idea, but I think it is not yet ready to be tested in any realistic environment.

[2019-04-24 22:47] NTaylorMullen commented on #9726
@rjmr97 thanks for the assistance!

[2019-04-24 22:47] #9726 closed

[2019-04-24 22:57] DAllanCarr commented on #9687
Angular broke this intentionally.

On Wed, 24 Apr 2019, 16:36 BrennanConroy, <notifications@github.com> wrote:

[2019-04-24 23:07] rjmr97 commented on #9716
I don't know if it the `select` binding is supposed to work with strings, but it does work with enums:

[code]

![image](https://user-images.githubusercontent.com/30321188/56699550-e4000680-66ed-11e9-828b-d7622d38078e.png)

[2019-04-24 23:52] ryanbrandenburg commented on #7330
So, I fiddled around with a toy example of a global tool that over-loads "add" and it wasn't discovered. That seems to make our options:
1. Include this in the dotnet\sdk. This seems like a separation of concerns problem since it will be editing your csproj and Startup.cs in ways that are specific to an Mvc-style app.
2. Have a different tool name. How about something like:`dotnet mvc add servicer

[2019-04-25 00:32] JamesNK commented on #4663
Client certificates are a commonly used way to authenticate gRPC service clients. We'll be interested in using this middleware in our documentation and tutorials.

[2019-04-25 00:53] rynowak commented on #5712
Apologies for the delay in following up on this issue. This was a bug in the original release of 2.2 and has been patched: https://github.com/aspnet/AspNetCore/issues/4591

[2019-04-25 00:53] #5712 closed

[2019-04-25 02:11] SherryCXL opened #9729 "Change ASP.NET Core Razor pages Default page"
For ASP.NET Core MVC , we could get it easily by changing the route in `app.UseMvc()`.

For Razor pages , MVC routing does not apply since Razor pages uses a different routing setup .But an error is generated when I tried to configure it using the `AddRazorPagesOptions` extension method to `AddMvc `like below:

          services.AddMvc()
            .AddRazorPagesOptions(options =>
            {

[2019-04-25 02:38] anurse commented on #7801
Good to know. Right now [Chrome is the only browser that supports this](https://www.chromestatus.com/feature/6251293127475200). Firefox is apparently developing support and with Edge moving to the Chromium engine, it will likely inherit Chrome's support. Safari has made no public signals either way.

What scalability benefit do you expect to get from using WebSockets over HTTP/2? In high scalabili

[2019-04-25 02:42] anurse commented on #9683
I'm having deja vu about this conversation. I feel like we talked about this before and removed the outbound limit. Or maybe Blazor configured it away... I can't find the issue though.

This is true. Due to a typo we actually had a 32 MB limit in preview 4, so it doesn't seem too likely this would be the case.

[2019-04-25 03:11] BrennanConroy commented on #9683
Yes, so you can set the limit higher if you'd like.

[2019-04-25 03:41] anurse commented on #9685
Agree with @davidfowl that this is a serializer configuration thing, rather than something SignalR itself should handle.

For JSON, @JamesNK 's example is great, using your own type field and then casting the rest of the payload itself.

For MessagePack, there are various options available. I'd suggest checking out the docs for the MessagePack library we use: https://github.com/neuecc/MessagePack-

[2019-04-25 03:44] anurse commented on #9678
Can you clarify your situation here? I'm assuming you have some client-side routing code that allows users to navigate around the app without actually requesting a new page? If that's the case, then yes, the connection stays open as the user navigates. However, if you allow users to enter your application from any page, you'll need to initialize the connection when the user first arrives, regardle

[2019-04-25 03:50] anurse commented on #9532
Assigning to you @JunTaoLuo since you already opened the PR :).

[2019-04-25 04:03] anurse commented on #9713
To clarify here, the ASP.NET Core URL Rewriting component provides support for **reading** the IIS Rewrite and Apache mod_rewrite rule formats, but it is a _completely separate rewriting component_. Support for reading those formats is simply there as a compatibility feature to allow existing rules for those components to be ported over.

If you need functionality beyond what we currently support

[2019-04-25 04:05] anurse commented on #9713
In fact, the list of supported server variables can be found [in the documentation](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/url-rewriting?view=aspnetcore-2.2#supported-server-variables) and `SERVER_NAME` is not present.

[2019-04-25 04:08] #9494 closed

[2019-04-25 04:22] tn-5 commented on #9683
After some more testing I'm convinced it is not related to a buffer size per se. At this point I'm thinking it is either a timing issue or something related to the actual dom diff code itself. I've tested very large dom syncs (total dom + individual component) - this all works 100%. In this specific instance the reproducible error happens when I request the data from an async api. I'll investigate

[2019-04-25 04:46] danroth27 commented on #9714
@huto1 Which browser are you testing with?

[2019-04-25 06:20] BenHayat opened #9731 "BLAZOR - "Find All References" Feature in VS 2019."
Just like any CS file that we can right click and select "Find All References", to give us all other files that are referencing this file, it would be very useful to get a reference list of components/files that use a specific component.

Thanks!
..Ben

[2019-04-25 07:00] mammadkoma commented on #9451
Thank you
program & args options worked and F5 starts project in my browser.

                  "program":"dotnet",
                  "args": [
                        "run",
                        "${workspaceFolder}/bin/Debug/netstandard2.0/Blazorr.dll",
                        "--no-build"
                  ]

[2019-04-25 07:13] CaCTuCaTu4ECKuu commented on #4895
Microsoft.AspNetCore.App 2.2.0
Bug is presented

[2019-04-25 07:17] Wayne-Xiong commented on #9349
Thanks guys. @Tratcher, when is the 3.0.0-preview6 release scheduled? Would love to understand about the timeline a little bit. Thanks!

[2019-04-25 08:30] RobThree commented on #9713
I understand but it still exhibits the same problem as the IIS rewrite rule component in that the HOST_NAME contains the port.

...except that that would require hardcoding the rules instead of allowing the rules to be configured via a configuration file (or I'd have to build a rule-parser of some kind which would end up me reinventing IISUrlRewrite with just a minor change.

That is good observat

[2019-04-25 08:41] conficient opened #9732 "Blazor server side does not list build errors in Error List window"
### Describe the bug
Some compile errors in a Blazor Server-side application do not appear in the _Error List_ window, but do appear in the compiler output. Tested on Blazor client side and errors appear.

### To Reproduce
Steps to reproduce the behavior:
1. Create a new **Blazor Server-side** application using _VS2019 v16.1.0 Preview 2.0_
2. Open `Index.razor` in `/Pages/`
3. Add the code  `@func

[2019-04-25 08:49] nfplee commented on #9596
Someone has posted a solution on the referenced StackOverflow post.

[2019-04-25 08:49] #9596 closed

[2019-04-25 09:20] flatproject opened #9733 "Azure Web App FileLoadException at Microsoft.AspNetCore.WebHost+"
### Describe the bug
App hosted on Azure Web App crashes every night and not being able to recover after upgrade to 2.2.4.

The error i get is:
[code]

and the eventlog.xml

[code]

Why do i get these exceptions? They all seem to happen around 5-6am UK time.

My Program.cs looks like this:

[code]

[2019-04-25 09:33] kjeske opened #9734 "Recovering the app state after server downtime in server-side Blazor"
Is there any documentation, article or other resource that shows the ways of solving the issue with loosing app state in server-size blazor? The documentation says:

It says that as long as the client's state is still in memory, the client session resumes without losing any state. But what can we do when the client's state is not in the memory anymore because the app was down after redeployment fo

[2019-04-25 09:38] pavelpykhtin opened #9735 "Protractor consider signalr connection as a pending request and waits infinetelly"
### Describe the bug
I'm running e2e tests with protractor against angular2+ application. I'm using browser.waitForAngularEnabled(true) to ensure that application is stable (no running animations, no pending requests and etc.) before the next step of test.
At some point test stops because protractor considers application state as unstable.
I found that the issue is related to these particular line

[2019-04-25 09:44] John0King opened #9736 "make Partial Tag Helper's "view-data" attribute helperful"
[code]
 The `IDictionary<string,object>` has a very helpful way to add item , But this line of code throw exception because view-data  is null .

I suggestion to either support this razor syntax or add a new attribute to add addiontal item to the partial view  and not effect the current view‘s ViewData

[2019-04-25 09:50] schmitch opened #9737 "[Components] Feedback & Reconnect Logic (broken if state is lost) & Internationalization"
Hello, currently I'm toying around with Razor Components Server-Side and found the following things when using it with Razor Pages:

1. If the Server looses a Connection all Messages will be in englisch, currently there should be a way to change that.
2. reconnect will actually make the whole page unusable, mostly only certain "widgets" should be made unusable. i.e. only the RenderComponentAsync m

[2019-04-25 09:54] SteveSandersonMS commented on #9451
@NTaylorMullen It's what @pranavkm said - to launch a Blazor standalone app, you have to use the Blazor dev server (because there's nothing else to act as the server - your app code is purely what runs in the browser, and is not the web server itself).

The `Microsoft.AspNetCore.Blazor.DevServer` package includes MSBuild props that modify the behavior of `dotnet run` so that it launches the dev se

[2019-04-25 09:56] alustrement commented on #9020
I'm currently expecting issues to do this. I got a gRPC service running well using aspnetcore 3 preview 3 and Kestrel. But, an error about trailers appears using IIS when the service send the response (the request is well received) :
gPRC error => 2 UNKNOWN: No status received)
Dotnet error => "Trailers are not supported for this response" in Microsoft.AspNetCore.Http.ResponseTrailerExtensions.App

[2019-04-25 10:03] moodya commented on #9020
As per messages above don't think iis supports hosting a grpc service

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: alustrement <notifications@github.com>
Sent: Thursday, April 25, 2019 10:57:42 AM
To: aspnet/AspNetCore
Cc: moodya; Mention
Subject: Re: [aspnet/AspNetCore] Host grpc service in iis or as an app service? (#9020)

I'm currently expecting issue

[2019-04-25 10:33] tn-5 commented on #9683
I've managed to reproduce this reliably with some smal changes to the template project. it seems to be a time related issue linked to a large dom sync. The large dom makes some code take a bit longer and then the signalr messages sequences are different. It happens specifically when navigating from one page to another.

## Trace detail

Working case:
trce: Microsoft.AspNetCore.Http.Connections.Int

[2019-04-25 10:38] alustrement commented on #9020
Following this exchange https://forums.iis.net/p/1241598/2147837.aspx?p=True&t=636917571046786374, it seems that is not the responsibilty of the web server to handle gRPC. gPRC use HTTP/2, IIS supports HTTP/2, so it must works. If it's not, it's a bug from IIS or, more possible, from dotnetcore.

[2019-04-25 10:39] enetstudio commented on #9714
@huto1: It all seemed like a good idea, but I think it is not yet ready to be tested in any realistic environment.

Yes, you've got a good idea...why don't you try it first in plain HTML page, and see if it works for you. Sorry, but I want allow you to disparage this awesome SPA framework.

[2019-04-25 10:50] conficient commented on #4048
Is there any opinion on how this would (or would not) apply to the router?

In MVC we can apply `[Authorize]` attributes to controllers  to secure only specific routes, or make everything secure with a global filter then open up specific methods/controllers with an `[AllowAnonymous]` attribute - is anything like this planned?

[2019-04-25 10:53] moodya commented on #9020
According to do the Microsoft guys in the messages above iis doesn't support the trailing headers required to host a grpc service. This means you can't host one in iis or as an app service at the moment.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: alustrement <notifications@github.com>
Sent: Thursday, April 25, 2019 11:39:08 AM
To: aspnet/AspNetCore
Cc:

[2019-04-25 10:58] glent1 opened #9739 "Microsoft.AspNetCore.SignalR.Client 3.0.0-preview4-19216-03 does not work with Microsoft.AspNetCore.App 3.0.0-preview5-19223-06"
### Describe the bug

With dotnet core 3.0.100-preview5-011555 installed, the latest Microsoft.AspNetCore.SignalR.Client (3.0.0-preview4-19216-03) throws a TypeLoadException

 "Could not load type 'System.Text.Json.Utf8JsonWriter' from assembly 'Microsoft.AspNetCore.SignalR.Common, Version=3.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' due to value type mismatch." | string

### To Repr

[2019-04-25 10:59] alustrement commented on #9020
Thanks, I missed it and it makes sense with my issue.
@shirhatti the support is planned on the roadmap ?

[2019-04-25 11:00] skibickipawel commented on #4733
Hello,
Any progress or hints on that one?
As @tahiralvi, I've faced this issue when doing load tests.

[2019-04-25 11:30] huto1 commented on #9714
@danroth27 I was using MX5, but then also tried on opera and edge. If I open the blazor template project, that will run fine on MX5.

[2019-04-25 11:47] NinoFloris commented on #9213
This would be very useful for some of our own downstream request context objects too, which are currently pooled via ObjectPool.

[2019-04-25 12:08] pavelveselev opened #9862 "AndroidJavaClient exception"
I ran AndroidJavaClient sample, and dot an Exception:

2019-04-25 14:01:42.877 15072-15328/com.microsoft.aspnet.signalr.samples.androidjavaclient E/OkHttpWebSocketWrapper: WebSocket closed from an error: Expected HTTP 101 response but was '200 OK'.
2019-04-25 14:01:42.878 15072-15328/com.microsoft.aspnet.signalr.samples.androidjavaclient I/WebSocketTransport: WebSocket connection stopping with cod

[2019-04-25 12:20] javiercn commented on #8426
@Tratcher While looking into this, shouldn't the cookiechunkingmanager also include max-age in here?
https://github.com/aspnet/AspNetCore/blob/master/src/Shared/ChunkingCookieManager/ChunkingCookieManager.cs#L171

[2019-04-25 12:49] vtortola commented on #6803
Testing the `GC.Collect(2, GCCollectionMode.Forced, true);` thing now. I will share the results in a few days.

[2019-04-25 13:01] Rymix commented on #9739
Oh i'm getting this error also ! Even with .net core preview 3

[2019-04-25 13:04] YuliiaBabychKdd commented on #3849
any updates?
We have netcoreapp2.2, but still same issue:(

Any magic tricks or ideas how to fix? or when it will be fixed?

[2019-04-25 13:07] endeffects commented on #9685
Thanks for your feedback. I know it's easy to solve by wrap / envelope the messages by my own. But i really don't like to wrap an existing wrapper, the HubInvokationMessage. So i thought a more comfortable way to solve this would be to extend the existing implementation. I'm not saying this should be the default behavior, but for an blazor application that receives various events over the same hub

[2019-04-25 13:09] thiyagu-subramani commented on #8567
Hi @Tratcher ,

We are tried the provided solution from the stack over flow link. But this is not working for us while disable the cross origin request in chrome. This issue is raised not only in the Core 2.2 application. This issue occur in dot net core 2.0 application also. So, can you please provide any other possible solution?

Regards,
Thiyagu S

[2019-04-25 13:14] pranavkm commented on #9724
The `_RazorComponentsInclude` flag existed as a stop-gap until tooling support for `.razor` files landed. The RazorSDK eventually stop using the flag. You may use the `RazorComponent` itemgroup to indicate component files and `RazorGenerate` itemgroup to indicate Razor view or Razor page files:

[code]

Changing the extension for Razor component files should generally work since there isn't a runt

[2019-04-25 13:14] #9724 closed

[2019-04-25 13:15] BinaryPatrick commented on #3849
We just wrote a tickle script
[code]

[2019-04-25 13:18] pranavkm commented on #9121
* 2.1: https://github.com/aspnet/AspNetCore/commit/836964a653e355fe4e28241e0ff485dfb5d3ccdf
* 2.2: https://github.com/aspnet/AspNetCore/commit/836964a653e355fe4e28241e0ff485dfb5d3ccdf
* 3.0-preview5: https://github.com/aspnet/AspNetCore/commit/dfae19ee7c3ef84f7281031618ed80f6597c380d

[2019-04-25 13:18] #9121 closed

[2019-04-25 13:19] randyrod opened #9743 "AddressInUseException when new instance of docker container is created"
### Bug description
When previous instance of container is destroyed and a new instance is created by docker, the AddressInUseException is thrown. Although the port binding only specifies the container port and not the host port. Here the network settings from docker inspect of a working container:

       "NetworkSettings": {
           "Bridge": "",
           "SandboxID": "7ca4c991166252aef6bc5

[2019-04-25 13:19] pranavkm commented on #5548
Feel free to reopen once you have an application to share.

[2019-04-25 13:19] #5548 closed

[2019-04-25 13:29] springy76 commented on #5548
I don't know if someone at dotnetcore fixed some comparer code, but if not: My fix -- which I already posted twice -- would suppress this error: `if (x == y) return 0;`

[2019-04-25 13:45] #9470 closed

[2019-04-25 13:54] tezine opened #9745 "[Blazor] Binding not working properly"
Hi, It seems Blazor change detection doesn't work properly. I have to call StateHasChanged() often in order to refresh the UI since even when a variable (bound) changes, the UI is not refreshed automatically.
Example: I have a component called MyButton as below:
[code]
If I use the component above in a Page like this:
[code]
the component MyProgressBar appears whenever the user clicks, but it does

[2019-04-25 13:57] davidfowl commented on #9685
No matter what you do this is still serializer specific (as the implementation of IHubProtocols are). If you want to go deep, you can look at implementing a custom IHubProtocol to see if that helps.

How is Blazor related to this?

[2019-04-25 14:01] YuliiaBabychKdd commented on #3849
@BinaryPatrick Thanks. Finished with same solution^^

[2019-04-25 14:03] SaeidSabzalizadeh opened #9746 "Microsoft.AspNet.WebApi.Core 5.2.7 is not compatible with .NET Core 2+"
I tried to install nuget package [Microsoft.AspNet.WebApi.Core] in
.NET core Class library 2.0, 2.1, 2.2 and .NetStandard 2.0 and I got an error in all of them:

`Package 'Microsoft.AspNet.WebApi.Core 5.2.7' was restoring using '.NETFramework, Version=v4.6.1' instead of targeting framework '.NETCoreApp, Version=v2.1'. This package may not be fully compatible with your project.
`

[2019-04-25 14:03] endeffects commented on #9685
Thanks, i'll check this out. Well with Blazor i'm able to share .net model libraries with the client, so it was a good example for knowing the source type.

[2019-04-25 14:06] Sevall commented on #9746
Yaaa yeter Bee devamlı ileti ileti abonelik den cıkartın ileti almak istemiyorum nereden bulastım size d
Tlf hiç susmadı
--
Android için Outlook Email App uygulamasından gönderildi Perşembe, 25 Nisan 2019, 05:04ÖS +03:00 gönderen: Saeid Sabzalizadeh  notifications@github.com :

[2019-04-25 14:21] pranavkm commented on #5548
@springy76 it is an error condition to have two identical routes. Making the change you suggested, particularly without knowing the root cause, is problematical

[2019-04-25 14:33] springy76 commented on #5548
@pranavkm then use `if (object.ReferenceEquals(x,y)) return 0;`. There are no identical routes when the non-struct object instances are the same.

[2019-04-25 14:41] MarcusWichelmann commented on #8264
@rynowak Your sample targets regular MVC, right? How would this look like when I'm using Razor Pages only?
I can't think of any `action` in this case.

[2019-04-25 15:06] rynowak commented on #8264
Ah, you're right. This can be done for pages as well, I'll write up a sample.

[2019-04-25 15:10] Tratcher commented on #9349
@shirhatti for schedule questions.

[2019-04-25 15:16] danroth27 commented on #9714
OK, that would suggest there's something not quite right with the way you setup your own project. If you can share the project with us, or the steps needed to reproduce the issue, we can take a look.

[2019-04-25 15:17] Tratcher commented on #8426
Yes, include max age. I'm starting to think we need a helper to copy the properties from CookieOptions to SetCookieHeaderValue, it happens in at least three places:
https://github.com/aspnet/AspNetCore/blob/62351067ff4c1401556725b401478e648b66acdc/src/Shared/ChunkingCookieManager/ChunkingCookieManager.cs#L164-L172
https://github.com/aspnet/AspNetCore/blob/62351067ff4c1401556725b401478e648b66acdc/s

[2019-04-25 15:21] davidfowl commented on #9746
Why are you trying to install WebApi into a .NET/.NET standard class library?

[2019-04-25 15:25] BrennanConroy commented on #9739
Unfortunately we don't guarantee that different preview versions work together. We made some breaking changes in preview5 that will break preview3 and preview4. When using previews try to use the same versions everywhere otherwise you'll hit issues like this.

[2019-04-25 15:25] #9739 closed

[2019-04-25 15:26] PilotC150 opened #9747 "Blazor Server-Side Not Working"
I'm having an issue getting server-side rendering to work with the latest Blazor (3.0.0-preview4-19216-03).

I created a basic ASP.NET Core Web Application using the "Blazor (ASP.NET Core Hosted)" template and build and run.  It works correctly.

**FIRST BUG:** I expect the application created by this template to be already configured to run as a Blazor Server-Side application, since that's what t

[2019-04-25 15:28] rynowak commented on #7509
Fixed by https://github.com/aspnet/AspNetCore-Tooling/pull/443

[2019-04-25 15:28] #7509 closed

[2019-04-25 15:32] huto1 commented on #9714
I will see how much I can publicly share.

[2019-04-25 15:32] #8426 closed

[2019-04-25 15:39] danroth27 commented on #9714
@huto1 Can you also please check if the blazor.server.js file is successfully downloaded to the browser in your app and that the websocket connection to the server gets established successfully?

[2019-04-25 15:40] anurse commented on #9349
We don't commit to specific dates for individual previews, we're currently aiming for early June for preview 6. To view our current committed timeline, see the [.NET Core Roadmap](https://github.com/dotnet/core/blob/master/roadmap.md).

[2019-04-25 15:42] anurse commented on #9685
There's nothing wrong with adding your own wrapper here. The HubInvocationMessage wrapper isn't designed for this, so if you need additional metadata, you should definitely use your own wrapper type. Nested wrappers are much more powerful than any attempt we could make at adding additional metadata to the HubInvocationMessage itself.

[2019-04-25 15:43] huto1 commented on #9714
I think the blazor.server.js might be the problem here, it does return 404 response.

[2019-04-25 15:49] anurse commented on #9713
It's by design that `HOST_NAME` contains the port.

Correct, you'd either have to roll your own config mechanism (how detailed you need to be depends on your scenario, you can easily leverage the existing config infrastructure for this).

---

To be clear, I'm not disagreeing that adding `SERVER_NAME` would be valuable, I'm just describing how we'd prioritize this work given the other available op

[2019-04-25 15:50] Eilon opened #9748 ".NetCore 2.2 not using ViewFeature or IRazorCompiledItemprovider"
_From @ShaZeh on Wednesday, 24 April 2019 03:54:55_

.NetCore 2.2 not using ViewFeature or IRazorCompiledItemprovider

I recently made a custom IApplicationFeature for ControllerFeature which is added after adding MVC to the services 👍

[code]

While this appear to work fine for the ControllerFeature, .net core seems to ignore any changes made in in the ViewFeature or RazorCompiledItemProvider.

W

[2019-04-25 15:50] Eilon commented on #9748
_From @Eilon on Wednesday, 24 April 2019 20:01:43_

@javiercn / @pranavkm - any ideas on this? Should we move this issue to AspNetCore?

[2019-04-25 15:50] Eilon commented on #9748
_From @pranavkm on Thursday, 25 April 2019 02:33:38_

Yes please

[2019-04-25 15:51] #9503 closed

[2019-04-25 16:04] anurse opened #9749 "Backport #6075 to 2.2 - NullReferenceException in IISHttpContext"
We've had some requests to backport the fix for https://github.com/aspnet/AspNetCore/issues/6075 to 2.2.x. This issue is tracking a possible backport (will need to be approved by shiproom).

[2019-04-25 16:11] javiercn commented on #7560
I can repro this

![image](https://user-images.githubusercontent.com/6995051/56751082-03bd1c00-673a-11e9-9d5a-9784aba09912.png)

[2019-04-25 16:13] Tratcher commented on #8567
@rynowak can you redirect for advise on CORS?

[2019-04-25 16:20] HelvioMarkman commented on #9640
I have the same problem, I created a API but when I add a new Page to the Pages Folder come the same error dylankdreyer shows above.

[2019-04-25 16:21] HelvioMarkman commented on #9640
I have tried cshtml and razor.

[2019-04-25 16:22] rynowak commented on #8567
CORS requires you to specify on the policy which headers you want to allow clients to see. https://github.com/aspnet/AspNetCore/blob/master/src/Middleware/CORS/src/Infrastructure/CorsPolicyBuilder.cs#L108

[2019-04-25 16:24] rynowak commented on #5071
@SteveSandersonMS - added some design notes, would like your feedback on this.

[2019-04-25 16:25] HelvioMarkman commented on #9640
Looks like first error is "_framework/blazor.webassembly.js File not found"

[2019-04-25 16:26] javiercn commented on #9747
You've picked the wrong template.

Is a blazor **client-side** application hosted within an ASP.NET Core application.

I recommend you start from the blazor (server-side) template
![image](https://user-images.githubusercontent.com/6995051/56752005-2d774280-673c-11e9-9971-d29031d892dd.png)

[2019-04-25 16:28] Tratcher commented on #9733
Is there message text for the FileLoadException?

[2019-04-25 16:28] VBAndCs commented on #9270
ZML 1.0 now has its own [repo](https://github.com/VBAndCs/ZML) and [NuGet](https://www.nuget.org/packages?q=zml).

[2019-04-25 16:28] javiercn commented on #9748
@pranavkm will know better. Also, we should kill the obsolete viewfeatureprovider.

[2019-04-25 16:38] VBAndCs commented on #2738
@Eilon
Sorry for delaying my reply. I needed to complete my work first, and write a [readme](https://github.com/VBAndCs/ZML/blob/master/README.md) file containing basic info about ZML tags.
ZML 1.0 now has its own [repo](https://github.com/VBAndCs/ZML) and [NuGet](https://www.nuget.org/packages?q=zml).
I would approciate if you mention ZML, becuase it is language independent (the repo contains a p

[2019-04-25 16:49] javiercn commented on #7560
Found hte issue. This is not a bug. You are trying to bind against the ViewModel property but the ViewModel property is not marked with Bind.

If you want to bind to a custom input model, you either need a separate property or you can't use asp-for. You can explicitly provide the name attribute to override the generated value and make the form bind correctly as follows:

[code]

[2019-04-25 16:49] #7560 closed

[2019-04-25 16:50] HelvioMarkman commented on #9747
Javier I am using this template but every time I add a new Page the project start to shut a number of errors

[2019-04-25 16:54] javiercn commented on #9747
@HelvioMarkman Can you post details on your environment?

[2019-04-25 17:03] #5442 closed

[2019-04-25 17:09] NTaylorMullen commented on #9093
@javiercn this looks like the same one you found 😄

[2019-04-25 17:11] javiercn commented on #9093
@NTaylorMullen Maybe, but mine contained a GIF to showcase it. @rynowak get on my level bro!

[2019-04-25 17:11] SaeidSabzalizadeh commented on #9746
I'm trying to add customAuthorize attribute
 `public class MyAuthorizeAttribute: System.Web.Http.AuthorizeAttribute`

Which I know it just used in .NetFramework projects but still need to keep all the Authorization attributes in one library.

Furthermore I don't see any restriction in the nuget package. I assume it should be supported.

[2019-04-25 17:17] levidoom opened #9752 "Blazor Client Web App Build Problem"
Not sure if this belongs here, I am using VS 2019 preview, but this is the issue:
Besides the basic auto generated template for the client-side web app i only added two .cs files to the root. I am getting this error while building the solution:

[code]
This is my .csproj file:

[code]

[2019-04-25 17:22] pranavkm commented on #8480
@devmojo thanks for the repro app.

It looks like reference loop handing is working as intended here. Both [SneakerBrand](https://github.com/devmojo/AspNetCoreIssue8480/blob/master/SneakersMarket.Models/Sneaker/SneakerBrand.cs#L29) and [SneakerCategory](https://github.com/devmojo/AspNetCoreIssue8480/blob/master/SneakersMarket.Models/Sneaker/SneakerCategory.cs#L37) have navigational properties to e

[2019-04-25 17:22] #8480 closed

[2019-04-25 17:24] pranavkm commented on #9748
Could you explain what it is that you're trying to do? That should help us guide you better.

@javiercn it's been removed in 3.0.

[2019-04-25 17:26] shirhatti commented on #9020
We (IIS) are currently evaluating whether to support HTTP response trailers. No roadmaps/commitments I can speak to yet.

[2019-04-25 17:26] #9677 closed

[2019-04-25 17:29] rjmr97 commented on #9745
For this to work without a `StateHasChanged()` call, your event handler needs to return a Task.

This means changing your `Action<>` into a `Func<>`, example below:

[code]

[code]

[2019-04-25 17:32] Eilon commented on #2738
This already happened! https://github.com/VBAndCs/Vazor/issues/1

[2019-04-25 17:34] enetstudio commented on #9745
@tezine, this line:
`<button onclick="@OnClicked">Text</button>`

Should be :
'<button onclick="@BtnClicked">Text</button>'

The value assigned to the onclick attribute should be the name of the method to call, not the Action delegate OnClicked. This is also why you can't access the UIMouseEventArgs  parameter.

Incidentally, I believe that it is preferable to use the EventCallback<UIMouseEventArg

[2019-04-25 17:36] enetstudio commented on #9745
@tezine, this line:
<button onclick="@OnClicked">Text</button>

Should be :
`<button onclick="@BtnClicked">Text</button>`

The value assigned to the onclick attribute should be the name of the method to call, not the Action delegate OnClicked. This is also why you can't access the UIMouseEventArgs parameter.

Incidentally, I believe that it is preferable to use the EventCallback rather than Action

[2019-04-25 17:38] enetstudio commented on #9745
@tezine, this line:
`<button onclick="@OnClicked">Text</button>`

Should be :
<button onclick="@BtnClicked">Text</button>

The value assigned to the onclick attribute should be the name of the method to call, not the Action delegate OnClicked. This is also why you can't access the UIMouseEventArgs parameter.

Incidentally, I believe that it is preferable to use the EventCallback rather than Action

[2019-04-25 17:39] enetstudio commented on #9745
@tezine, this line:
`<button onclick="@OnClicked">Text</button>`

Should be :
`<button onclick="@BtnClicked">Text</button>`

The value assigned to the onclick attribute should be the name of the method to call, not the Action delegate OnClicked. This is also why you can't access the UIMouseEventArgs parameter.

Incidentally, I believe that it is preferable to use the EventCallback rather than Acti

[2019-04-25 17:39] anurse commented on #7299
Closing in lieu of https://github.com/aspnet/AspNetCore-Internal/issues/2225

[2019-04-25 17:39] #7299 closed

[2019-04-25 17:40] ajaybhargavb commented on #9093
Just reproduced and can confirm it is the same callstack as the one @javiercn found.
[code]

[2019-04-25 17:41] #6373 closed

[2019-04-25 17:46] enetstudio commented on #9745
@rjmr97, the source of problem is entirely different,and so is the solution...

[2019-04-25 17:46] HelvioMarkman commented on #9747
![image](https://user-images.githubusercontent.com/20973414/56756785-91136700-6760-11e9-827a-4e3aad98217a.png)

[2019-04-25 17:51] javiercn commented on #9747
@HelvioMarkman That looks like a blazor client-side issue.

@SteveSandersonMS

[2019-04-25 18:02] HelvioMarkman commented on #9747
Javier, I please disregard the last picture it was caused by a reference I add in the shared project trying solve the problem. Right now It is does not find the HttpClient in the inject statement. Please see the picture.
![image](https://user-images.githubusercontent.com/20973414/56757644-bdc87e00-6762-11e9-87ac-ccfb9a374074.png)

[2019-04-25 18:03] HelvioMarkman commented on #9747
It is can be fixed by remove the Users page that is the first page of the system I am working on.

[2019-04-25 18:08] PilotC150 commented on #9747
Using the "Blazor (Server-Side)" template appears to have lead me in the right direction.  The way the templates are sorted in Visual Studio just made me not see that one (there were two Blazor ones near the top of the list with the third one further down so I missed it).  The documentation also confused me a bit, but now it all makes sense.

Using this template, then adding a Controllers folder w

[2019-04-25 18:30] #9532 closed

[2019-04-25 18:50] alexandrereyes commented on #9584
Am I missing something? I'm using VS 2019 16.1 preview 2 and can't make this work (dotnet core 3 preview 4).
I just started a new Blazor Server side template then, I change from:

[code]

to

app.UseEndpoints(endpoints =>
            {
                endpoints.MapBlazorHub().AddComponent<App>("app");
                endpoints.MapFallbackToFile("index.html");
            });

And then, create inde

[2019-04-25 18:58] SteveSandersonMS commented on #9436
OK, I've investigated, and got it to work. But it involved making some changes inside `blazor.server.js` in addition to the polyfills.

I did:

 * Add core-js polyfills (covers most ES6 stuff): `<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.6.5/core.min.js"></script>`
 * Add "fetch" polyfill (not part of core-js): `<script src="https://polyfill.io/v3/polyfill.min.js?features=fetch"

[2019-04-25 19:14] angelru commented on #9729
I have the same issue.

I delete the `Index.cshtml` or change the name for example:` Main.cshtml` then it works.

[2019-04-25 19:41] jbrantly commented on #9020
@shirhatti Given gRPC seems to be a major feature of .NET Core 3 (https://github.com/grpc/grpc-dotnet), it would be a real shame if it's not hostable in IIS/App Service given so many .NET web applications are hosted on those. I hope the availability of that feature in .NET Core helps drive your roadmap.

[2019-04-25 19:49] rynowak commented on #5684
This is working correctly for on the lastest 2.2.X build. If you're still having problems in the latest build please provide a repro project (zip or git repo) so I can try exactly what you're seeing.

[2019-04-25 19:49] #5684 closed

[2019-04-25 20:11] davidfowl commented on #9746
No it isn't support. The error says it's .NET Framework only and it is.

public class MyAuthorizeAttribute: System.Web.Http.AuthorizeAttribute

https://stackoverflow.com/questions/31464359/how-do-you-create-a-custom-authorizeattribute-in-asp-net-core

Assuming you want to use ASP.NET Core.

[2019-04-25 20:12] endeffects commented on #9685
Thanks for your Feedback. For now i‘ll stay with my current Solution and i‘ll have a look to write a custom protocol handler to prevent the double deserialization.

[2019-04-25 20:12] #9685 closed

[2019-04-25 20:21] alexandrereyes opened #9757 "Page is refreshing when trying to use UriHelper.NavigateTo without pre-rendering feature"
About the BUG:
When you work **without** pre-rendering + page with parameters, `UriHelper.NavigateTo` doesn't work properly, the page refreshs.

1.  ASP.NET Core 3 preview 4
2. If you only change the Blazor template a little (of course, [disabling pre-rendering](https://github.com/aspnet/AspNetCore/issues/9584#issuecomment-485257261)):
[code]

notice the parameter Id and the `UriHelper.NavigateTo(

[2019-04-25 20:30] poke opened #9758 "Endpoint routing chooses fallback route due to conflict"
This is a follow-up from [a Stack Overflow question](https://stackoverflow.com/q/55855405/216074), reduced to a minimum repro, so you don’t actually have to go through the question there.

Let’s take the following route configuration on an otherwise empty ASP.NET Core 2.2 project:

[code]

Along with three very simple controllers:
[code]

As you can see, there are three route templates which shoul

[2019-04-25 21:20] NTaylorMullen commented on #9451
Gotcha, alright going to log an issue over on the omnisharp-vscode side of the world to properly detect Blazor apps and "do the right thing" when generating assets to run a .NET Core app that happens to be Blazor.

[2019-04-25 21:23] rynowak opened #9760 "Allow internal hubs"
For server-side Blazor we register a hub to handle communication with the client, but we want to treat this hub like an implementation detail.

It would be really nice if the type could make the hub internal. We don't want to expose the following API surface publicly, but SignalR requires it.

This is our contract with our client-side code and we will want to evolve it.

[code]

[2019-04-25 22:10] RobThree commented on #9713
That wasn't clear to me, but it makes sense.

Absolutely, I don't consider this of any priority at all since it's a minor issue (but a big pain in the butt for me).

I'll see if I can get this fixed and put in a PR. Thanks!

[2019-04-25 22:22] springy76 commented on #5548
I now sacrificed 95% of my after-work-hours (Feierabend) in order to (try) reproduce the exact constellation of Jan-31 against preview4. Either I missed something or -- since I did not see this problem for long this is more likely -- meanwhile someone at netcore fixed something in comparison code or LINQ-OrderBy code which prevents that `x` and `y` are exactly the same instance.

But I still say:

[2019-04-25 22:23] anurse commented on #9735
How frequently is your `notify` callback called? My initial investigation shows that as long as all the operations you perform on the connection are done within `runOutsideAngular`, the callbacks should all be fired outside Angular's Zone and the Zone becomes stable.

Perhaps if you can post a sample project that reproduces the issue it would be easier to understand the issue you're seeing. Are yo

[2019-04-25 22:31] anurse commented on #9713
Sorry, I clarified the variable name. You mentioned `HOST_NAME`, the variable is actually called `HTTP_HOST` (which is why it aligns with the HTTP `Host` header) :)

That would be awesome! Feel free to open a draft PR if you get stuck, or ping me with any questions! We'd be happy to help get this contribution in :). Take a glance at our [How to contribute](https://github.com/aspnet/AspNetCore/blob

[2019-04-25 22:33] pranavkm opened #9762 "Port to 2.1: JsonResult causes thread pool exhaustion via synchronous flushes aspnet/Mvc#8486"
https://github.com/aspnet/Mvc/issues/8486

There isn't a very good workaround for this and the code fix is fairly trivial.

[2019-04-25 22:34] pranavkm commented on #9762
cc @mkArtakMSFT

[2019-04-25 22:42] enetstudio commented on #9757
It seems to me that your Index.cshtml file is lacking document base uri :  `<base href="/" />`. Perhaps not... In any case, the page is refreshed because the uri you try to navigate to is not within the <base href> URI space, and thus, as far as I recall, this leads to the default behavior of refreshing the page.

[2019-04-25 22:49] koo9 commented on #8122
@fierro  where do call the fix for setting the current directory?

[2019-04-25 23:27] ShaZeh commented on #9748
Simply removing views from the available collection, it really is a basic use case. Sometimes, an additional library has to modify how certain views are used and to allows that, the ones currently registered have to be removed to prevent conflicting with the newer ones.

This works perfectly with controllers but is somehow a problem with views.

The reason why it appear to be worse using the new i

[2019-04-25 23:38] alexandrereyes commented on #9757
There is no cshtml, pre-rendering is off. We are using index.html

[2019-04-25 23:46] glent1 commented on #9739
I understand that, but how - how can I get a preview5 compatible signalr client?

[2019-04-25 23:57] BrennanConroy commented on #9739
You have to use the daily builds until preview5 is released. https://github.com/aspnet/AspNetCore/blob/master/docs/DailyBuilds.md

[2019-04-26 00:06] glent1 commented on #9739
I am using the daily builds (the preview5 versions) and I have created a nuget.config file as per that page.  I cannot persuade my project that anything after the nuget 3.0.0-preview4-19216-03 package exists for Microsoft.AspNetCore.SignalR.Client.  Am I doing something wrong?  Apologies for bothering you with this but I had to move to preview5 because Blazor Server side will not run on preview4 a

[2019-04-26 00:07] JunTaoLuo opened #9764 "Create protobuf item template"

[2019-04-26 00:09] JunTaoLuo opened #9765 "Add DisableProtobufDesignTimeBuild to VS csproj intellisense"

[2019-04-26 00:09] BrennanConroy commented on #9739
If you're using VS to install packages then you'll need to click a little checkbox to allow pre-release packages.

[2019-04-26 00:22] glent1 commented on #9739
Ok, with your hints, I've worked it out - VS doesn't seem to use that nuget.config file at all.  However, if I add https://dotnetfeed.blob.core.windows.net/aspnet-aspnetcore/index.json as a package source in the nuget gui, suddenly I've got hundreds of versions of the package.

Thanks for taking the time to answer - it is much appreciated.

[2019-04-26 00:28] vincentparrett opened #9766 "Taghelpers in netstandard 2.0 assembly must now reference Microsoft.AspNetCore.Razor 2.1.0"
### Describe the bug
Prior to 3.0 preview 4, you could have taghelpers in a netstandard 2.0 assembly with a reference to
[code]
and it would run fine.

As of preview 4, the only way I could get my taghelpers to run was change the assembly reference to

[code]
(or a later version) -  Microsoft.AspNetCore.Razor 2.0.0 does not have TagHelpers so not an option.

### To Reproduce

1)Create an mvc app f

[2019-04-26 00:51] pranavkm commented on #9766
@vincentparrett what version of the SDK are you targeting (`dotnet --info`)? There was a bug in the preview3 SDK that was resolved as part of part of preview4: https://github.com/aspnet/AspNetCore/issues/6825. Just making certain it's not the same issue you're running into.

[2019-04-26 00:54] vincentparrett commented on #9766
Output from dotnet --info
[code]

[2019-04-26 01:00] dougbu opened #9767 "Switch to new non- `-Int` AzDO BYOC pools"
Arcade team is moving from NetCorePublic-Pool and NetCoreInternal-Pool pools to NetCorePublic-Pool and NetCoreInternal-Pool  pools and we should move with them. This isn't urgent but avoids using "-Int" for the staging pools and no"-Int" for the real ones.

Some of the following may be using default (hosted) pools. But, all shoudl at least be checked.
- [x] aspnet/AspLabs / master - aspnet/AspLabs

[2019-04-26 01:01] enetstudio commented on #9757
But do you have `<base href="/" />` element in index.html ?

[2019-04-26 01:03] BenHayat opened #9768 "Blazor Client/Server side - Built in feature to use Azure B2C!"
In today's security systems, storing User's credentials and passwords in your own hosted application/database, is the biggest mistake we can make, to invite hackers to break into our DB.

Azure has a very strong and sophisticated infrastructure [Azure B2C] to safeguard our users' identity and provide solid utilities for users to sign up, sign in, change password and etc. But, the liability is not

[2019-04-26 01:06] alexandrereyes commented on #9757
No, but why does this work without route parameter? I don't think it's about base href.

[2019-04-26 02:24] davidfowl commented on #9768
You can use external auth like you can with any spa application that uses ASP.NET Core as a
Backend. I don’t fully understand the request here.

[2019-04-26 02:27] swaroop-sridhar commented on #3523
@tobyash86 `additionalprobingpaths` can be set in the `runtimeconfig.json` file or the command line parameter. But there is no option to set it as an environment variable.
`additionalprobingpaths` is processed at host startup time.

[2019-04-26 02:35] abralock commented on #4777
How can I force it to throw failure for maximum connection limits are reached -> MaxConcurrentConnections. I want to apply retry mechanism based on the exception throw.

[2019-04-26 04:35] tn-5 opened #9770 "Blazor (client side) "dotnet run" does not respect "outputpath" settings in project file"
### Description
The output folder in dotnet can be set in the project file using a combination of "outputpath", "baseoutputpath" etc. settings. This can be used to change the location of the generated binaries from the default "bin" project subfolder.

In preview 4 the `dotnet build` command respects this and it generates the binaries in the correct location.
However when running with `dotnet run`

[2019-04-26 07:14] DiyazY commented on #9712
You are right. Thanks ;)

[2019-04-26 07:14] #9712 closed

[2019-04-26 07:35] davidfowl commented on #5897
I spent a could of minutes looking at this and I don't think it;s possible to implement without blocking. We've basically deprecated IStartup in 3.0 so adding `IAsyncStartup` *could* work (or just supporting it without the interface) but the problem is that you cannot run sync filters around an async startup without blocking (sync over async). It would have to be this way until everyone moves over

[2019-04-26 07:49] Rabbit021 opened #9771 "could not find file 'System.Net.Http.resources'"
### Describe the bug
My App Crashe with Unhandled Exception:  could not find file 'System.Net.Http.resources'.
I use independent publish， and I use  class **HttpClient** to request data.
Some times it crash.   when my network is not fine, it crashed frequently

###  Enviment
1. ASP.NET Core 2.0   in Window Server 2012 R2
2. I publish app with  `dotnet publish my.csproj -c debug -r win7-x64 -o %~dp

[2019-04-26 08:14] flatproject commented on #9733
All I can find in the telemetry is the below:

Event time | 25/04/2019, 06:36:09 |  
-- | -- | --
Message | Hosting startup assembly exception Could not load file or assembly 'Microsoft.AspNetCore.AzureAppServices.HostingStartup' or one of its dependencies. The system cannot find the file specified. |  
Exception type | System.IO.FileNotFoundException |  
Failed method | System.Reflection.RuntimeA

[2019-04-26 08:20] enetstudio commented on #9757
No, you don't... but did you try to add the base element to your HTML page ? It should be like this: `<base href="/" />`. Any SPA app should have this element added, as for instance, Angular... The following link is to the typescript code that control and regulate navigation: https://github.com/aspnet/AspNetCore/blob/master/src/Components/Browser.JS/src/Services/UriHelper.ts

I'm not one of the Bl

[2019-04-26 08:25] NinoFloris commented on #5804
@haok I'd like to get this into 3.0 too, is this change approved?

[2019-04-26 08:36] GoranHalvarsson opened #9772 "asm.js fallback, please..."
It seems that the fallback asm.js is removed(in latest blazor release). Is there a reason for this?
I think it's good idea to put it there. Safari(Apple) can suddenly do some critical changes, to not support webassembly. They did this for not so long ago, then they turned it on again... I think it's a good idea to have the fallback asm.js.

[2019-04-26 08:41] Misiu commented on #9020
I fully agree with @jbrantly. gRPC is advertised as one of the main features of .NET Core 3.
It should be hostable in IIS/Azure App Services.
@shirhatti please consider adding this to the roadmap

[2019-04-26 08:42] conficient commented on #9147
Looks like this moved to https://www.youtube.com/watch?v=0RfUPr0KrSM&t=1417s ?

[2019-04-26 08:45] conficient commented on #9147
May want to close this, @danroth27 is rewriting it in #9769

[2019-04-26 08:51] MarkSFrancis opened #9773 "Razor Components - onclick handler not called if href is set in <a> tag"
### Describe the bug
Href attributes take precedence over click handlers in razor components for `<a>` tags

### To Reproduce
Steps to reproduce the behavior:
1. Create a new blazor app (server or client side - happens on both)
1. Edit the `Pages/Counter.razor` file's button
from
[code]
to
[code]
1. Instead of incrementing the counter, it will now jump to the "#" url, navigating to the home page

[2019-04-26 09:01] JTOne123 commented on #4733
Microsoft.AspNetCore.Connections.ConnectionResetException:
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw (System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e)
   at System.IO.Pipelines.PipeCompletion.ThrowLatchedException (System.IO.Pipelines, Version=4.0.0.1, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51)
   at System.IO.Pipelines.Pipe

[2019-04-26 09:04] moodya commented on #9020
I also agree.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Tomasz Jagusz <notifications@github.com>
Sent: Friday, April 26, 2019 9:42:58 AM
To: aspnet/AspNetCore
Cc: moodya; Mention
Subject: Re: [aspnet/AspNetCore] Host grpc service in iis or as an app service? (#9020)

I fully agree with @jbrantly<https://github.com/jbrantly>. gRPC is advertised as one o

[2019-04-26 09:22] aloisdeniel commented on #9020
I couldn't agree more.

[2019-04-26 09:23] davidfowl commented on #9020
We're looking into it. It requires both Windows kernel changes and IIS changes.

[2019-04-26 09:42] kulkarnimeghak opened #9775 "Failed when MemoryStream is wrapped inside a BufferedReadStream"
### Description
Creating a file with seeking support, combined with BufferedReaderStream failing with error message "The value must be greater than zero. Parameter name: count"

### To Reproduce
Steps to reproduce the behavior:
1. Using ASP.NET Core '2.1'
2. Add below middleware

[code]

3. Sends the HTTP request to upload file to azure blob storage (I'm using Azure storage emulator)
[code]

4. Se

[2019-04-26 09:58] LukaszBalazy opened #9776 "MaxLengthAttribute added to Textarea by default"
Removing CompatibilitySwitch<T> in [f113a20](https://github.com/aspnet/AspNetCore/commit/f113a20dfd9d0c7c991e425fd8000ed6b64d19a5#diff-efb2475852eb61aeb367882891a7757eL740) creates textarea with maxlength attribute which prevents user to paste more characters and receive configured error message.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 2.2
2. Run th

[2019-04-26 10:29] okman523 opened #9777 "Unable to get startup parameters when windows service starts"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
A clear and concise description of what the bug is.
After deployi

[2019-04-26 10:36] libcitra commented on #9640
The problem was also bothering me.
("MVC" dose not exit)
However, I solved the problem by re-installing the latest vsix from here.
https://github.com/aspnet/Blazor/releases

[2019-04-26 10:38] enetstudio commented on #9773
I believe this is the default behavior of opening a new page, and, since you've got no such url, the default behavior of the Blazor routing system is to navigate to the home page.

Try to return false from your click event.
Try either of these:
`<a href="#" class="btn btn-primary" onclick="@IncrementCount;return false">Click me</a>`

`<a href="#" class="btn btn-primary" onclick="@(() => IncrementC

[2019-04-26 10:44] ravikumarmistry opened #9778 "Custom Simple Type Model Binder not working for string trimming."
### Describe the bug
I am trying to implement string trimming model binder, But the model binders `BindModelAsync` method never gets called.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.1.1'
#### TrimmingModelBinder

[code]
#### TrimmingModelBinderProvider

[code]

#### Startup.cs

[code]

### Expected behavior
Should call the method of TrimmingModelB

[2019-04-26 10:59] MarkSFrancis commented on #9773
Unfortunately, it fails because it doesn't call the handler at all.
You could test this by writing a `Console.WriteLine()` in the handler and preserving the log: the handler is never called

[2019-04-26 11:33] rjmr97 commented on #9773
According to this https://github.com/aspnet/Blazor/pull/937 pull request, .preventDefault() is no longer called when you click on a link.

It is something you will be able to do in [3.0.0-preview6](https://github.com/aspnet/AspNetCore/milestone/39) according to this https://github.com/aspnet/AspNetCore/issues/5545 issue.

In the meantime, if it is possible in your situation, you can remove the `hr

[2019-04-26 11:34] schmitch commented on #8229
Actually I've learned that this is not so necessary.
Because DataProtection does in fact keep Secrets inside memory. Thus the database does not have many reads on the key.

So I'm closing this, since the Protection Keys are only loaded roughly at program startup or whenever a new key needs to be written/accessed.

[2019-04-26 11:34] #8229 closed

[2019-04-26 11:41] javiercn commented on #9747
@PilotC150 Happy I was able to help.

Closing this issue as there's nothing else to do here.

[2019-04-26 11:41] #9747 closed

[2019-04-26 11:43] MarkSFrancis commented on #9773
Thanks @rjmr97, I'll close this ticket now as that one clearly covers this

[2019-04-26 11:43] #9773 closed

[2019-04-26 11:47] alexandrereyes commented on #9757
oh! This was the issue, everything is working fine now! Tks @enetstudio

[2019-04-26 12:01] #9757 closed

[2019-04-26 12:32] cypressious opened #9779 "Authorized call to action with explicit `AuthenticationSchemes` uses wrong authentication scheme, but only after a different action was called"
### Describe the bug
In my original application, I'm configuring two authentication schemes like so:

[code]

My controller looks like this

[code]

At first, when I call `/foo` using `Basic` authentication, the request will succeed. Only after I've called `/bar` using `Bearer` authentication, calling `/foo` with `Basic` authentication will fail with a 401.

I've set breakpoints in the respective

[2019-04-26 12:33] tobyash86 commented on #3523
I think that DOTNET_ADDITIONAL_DEPS is working similarly, but can be specified as an environment variable. I will post a feature request for that.

[2019-04-26 12:42] tobyash86 commented on #3523
Also, I think this issue cannot be closed, because --additional-deps behaves differently for .NET Core than for ASP.NET Core.

I have prepared a series of batch files running .NET Core processes with different settings. Please check my [repro](https://drive.google.com/open?id=1tTvpx6c0NYGXk9pzJicBXhEZ_1-SQ2ZD).

On my machine ASP_HelloWorldWithDeps_FAIL.bat behaves differently than CON_SampleAppWi

[2019-04-26 12:55] tomasoplt commented on #9714
The reason is <body> tag inside your HTML code ( layout page or body page ) If you remove body tag, OnClick events will work.

[2019-04-26 13:25] rafalschmidt97 opened #9781 "FromQuery deserializer requires empty constructor"
Hi guys 🚀
### Describe the bug

As in the title FromQuery requires empty constructor. It is weird because I can use constructors (which initialise all properties) for **[FromBody]**.

`
System.InvalidOperationException: Could not create an instance of type 'FancyQuery'. Model bound complex types must not be abstract or value types and must have a parameterless constructor. Alternatively, give the

[2019-04-26 13:29] javiercn commented on #6411
A few comments here.
I tried this on client side and server-side blazor.
The code in here is wrong.
[code]
To achieve the same thing you would do it as follows.

@functions {
    WeatherForecast[] forecasts;
    Task _t;
        _t = Task.Run(async () =>
        {
            while (true)
            {
                forecasts = (await ForecastService.GetForecastAsync(DateTime.Now))

[2019-04-26 13:29] #6411 closed

[2019-04-26 13:31] BetimShala opened #9782 "Add ability to use IgnoreQueryFilters with UserManager"
Hi there,

I'm having trouble to use IgnoreQueryFilters  with UserManager, for example I've used HasQueryFilter like this :
`
public void Configure(EntityTypeBuilder<ApplicationUser> b)
        {  b.HasQueryFilter(e => e.EmailConfirmed); }
`

When I'm trying to find an User by Email (not confirmed yet) :
`
                var user = await _userManager.FindByEmailAsync(request.Email);
`
it returns

[2019-04-26 13:37] schmitch opened #9783 "Razor Pages ConfigureFilter does not work on Areas"
### Is your feature request related to a problem? Please describe.
Configuring Filters for Razor Pages does not work on areas.
i.e. the following will not work for areas:
`options.Conventions.ConfigureFilter(model => new AdminDomainFilterFactory(model));`

### Describe the solution you'd like
I think it should be added to the documentation.
that this is not possible.

Currently a workaround would

[2019-04-26 13:39] javiercn opened #9784 "[Blazor] Breaking big batches into smaller ones"
We should consider breaking big batches to reduce payload size and improve UI update smoothness.

Imagine I have a component where I render A TON of elements. That is going to imply that we send a HUGE payload down through Signalr that can hit size limits and that its going to take time to get computed.

The idea here is that while we are processing a batch, instead of producing a single huge batc

[2019-04-26 13:44] SaeidSabzalizadeh commented on #9746
That's not my case, I want to use .NETFramework.

[2019-04-26 13:46] enetstudio commented on #9734
You can read more about the subject here: Reconnection to the same server
https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-core-3-0-preview-4/

[2019-04-26 14:15] Hypnobrew commented on #8449
I experience this error as well on Linux since a week a go.
Running dotnet core 2.2.203.

[2019-04-26 14:17] kjeske commented on #9734
Thanks @enetstudio , but unfortunately it doesn't answer any of those questions.

[2019-04-26 14:17] davidfowl commented on #9746
I see, then you need to use a .NET Framework class library.

PS: This repository is for ASP.NET Core specifically.

[2019-04-26 14:39] javiercn commented on #8202
I repro this with our latest bits.

Looking into it.

[2019-04-26 14:39] conficient opened #9786 "Blazor compiler reports misleading error"
If a tag in a Razor page does not match with a Razor Component, but component binding syntax is added, the compiler reports a binding error. I

### To Reproduce
Steps to reproduce the behavior:
1. Create new Blazor client-side app (.NET Core 3.0 Preview 4) in VS2019 v16.1.0 preview 2
2. In **Index.razor** add `<BadComponent />` in the HTML (this should colour blue as if a HTML tag)
3. Compile and

[2019-04-26 15:02] MaherJendoubi commented on #9637
I am facing the same issue using VS2019 16.1 Preview 2 and .NET Core 3.0.0-preview4.

https://gist.github.com/MaherJendoubi/d6e15a1da422dc33cb8b4d27916a5fe5

[2019-04-26 15:07] davidfowl commented on #9777
Arguments aren't supported, this isn't something that works with the current windows service support.

@okman523 Can you fill in the other information please? Like version information?

cc @glennc @Tratcher

[2019-04-26 15:50] #9147 closed

[2019-04-26 16:18] blowdart commented on #9768
Locking because of the mention of potential legal action.

[2019-04-26 16:19] #9768 closed

[2019-04-26 16:20] lol768 commented on #9147
Thanks folks

[2019-04-26 16:58] clintb commented on #1528
Is there a repository (private or otherwise) for the AspNetCore.ReportingServices package that I could be granted access to?

[2019-04-26 17:11] LaughingJohn commented on #9640
Same here. I just created a Blazor project using Visual Studio. It all compiles fine but as soon as I open Index.razor I get a bunch of errors. Mainly:
The type or namespace name 'Mvc' does not exist in the namespace 'Microsoft.AspNetCore'
But also one of each:
'_Pages_Index_razor.ExecuteAsync()': no suitable method found to override
The name 'PageContext' does not exist in the current context

Cl

[2019-04-26 17:16] ststeiger commented on #1528
@clintb: I need your git**LAB** accountname, so I can grant you access.
You'll then receive an e-mail to the email address of the git**lab** account containing the repo access .

[2019-04-26 17:41] blowdart commented on #9779
What are you calling the endpoints with? Browser, test client, postman?

[2019-04-26 17:43] chuanboz opened #9787 "Parity with asp.net: control ordering of middleware to simplify consumer experience"
### Is your feature request related to a problem? Please describe.
In asp.net, there is http message handlers that's similar concept as asp.net core middleware.
And there is HttpConfiguration with property of MessageHandlers that library owner could use to control the ordering of the handlers.

For example, I could use below to ensure the handler are executed early.
[code]

Similarly, with the acc

[2019-04-26 17:50] glennc commented on #9777
How are you verifying that you don't get the args in Program.Main?

[2019-04-26 18:07] bradygaster commented on #9667
@anurse or @shirhatti - i don't see any milestones on this. is it slotted for a specific preview release?

[2019-04-26 18:13] javiercn commented on #8202
The issue here is that the act of clicking the checkbox modifies the state of the component. Our diffing algorithms produces a set of instructions that tell the browser to do the following (roughly)
* Insert an checkbox with angels on the first list.
* Update the text on the first input of the second list to knights.
* Update the text on the second input of the second list to dinosaurs.
* Update t

[2019-04-26 18:27] cypressious commented on #9779
Postman and JetBrains Rider's HTTP file (https://www.jetbrains.com/help/idea/http-client-in-product-code-editor.html)

[2019-04-26 18:45] clintb commented on #1528
Hey Stefan, my gitLab is c_l_i_n_t. Thanks!

On Fri, Apr 26, 2019 at 12:18 PM Stefan Steiger <notifications@github.com>
wrote:

[2019-04-26 19:05] blowdart commented on #9779
@HaoK @Tratcher ?

[2019-04-26 19:58] muhammedMoussa commented on #9678
@anurse, right, i solved it by change place of start connection slice, it was in place that's load before authorization done, so it was not working correctly.

[2019-04-26 19:58] #9678 closed

[2019-04-26 20:27] simonziegler commented on #9402
I also got this when trying to run Blazor Server Side (preview4) on an Azure Kubernetes service

[2019-04-26 20:39] shirhatti commented on #9765
https://github.com/Microsoft/msbuild/issues/3979

[2019-04-26 20:41] DamianEdwards opened #9789 "Support serving embedded static files when publishing ASP.NET Core 3.0 apps as a single file"
.NET Core 3.0 has added support for publishing applications as a single file via the `PublishSingleFile` project property in preview5. When doing so with an ASP.NET Core application though, any static files that the site relies on from `wwwroot` can't be served by default, as the app is not configured to do so, rather expecting them to be in the content root (which is the app's current directory o

[2019-04-26 20:41] DamianEdwards opened #12020 "Make serving static files work when publishing ASP.NET Core 3.0 apps as a single file"
.NET Core 3.0 has added support for publishing applications as a single file via the `PublishSingleFile` project property in preview5. When doing so with an ASP.NET Core application though, any static files that the site relies on from `wwwroot` can't be served by default, as the app is not configured to do so, rather expecting them to be in the content root (which is the app's current directory o

[2019-04-26 20:55] arivoir commented on #7357
I still wonder f there is any way to get the scrollTop without using JS. Anyone knows?

[2019-04-26 21:00] davidfowl commented on #9789
I think we should look at this post 3.0.

[2019-04-26 21:01] DamianEdwards commented on #9789
Turns out all the files in the single file are extracted to a user temp directory, e.g. `C:\Users\dedward\AppData\Local\Temp\.net\WebApplication91\200tkqbl.21h\`, and this includes the static files. Issue is we default content root to the current directory which will never be that location when launching from single file.

Some things we could consider:
- Detecting launch from single file at runti

[2019-04-26 21:01] anurse commented on #9667
We'll cover it in triage. I don't have any specific preview planned.

[2019-04-26 21:03] LightVolk opened #9790 "Why i can not create my own WebHook?"
### Describe the bug

I try to create my own WebHook class:

[code]
### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.2'

### Screenshots
![image](https://user-images.githubusercontent.com/1236916/56836327-93b8ae00-687f-11e9-95a4-83675c1f7167.png)

### Additional context
I try to find some documentation about creating my own WebHook, but i can not.
Found [t

[2019-04-26 21:03] anurse commented on #9789
This seems most appropriate here. I think a web developer would be surprised to no longer have their static files on disk in the output directory.

[2019-04-26 21:09] enricoreich commented on #9640
Maybe you should consider to switch to VS 16.1preview2 for testing 3.0.0-preview4 blazor bits.

[2019-04-26 21:10] anurse commented on #9760
:+1: Sounds good to me. Should be a quick and easy change too.

[2019-04-26 21:15] rynowak opened #9791 "Empty Template is missing AddRouting()"
The empty template is missing a call to `AddRouting()` so it doesn't start :(

[2019-04-26 21:16] davidfowl commented on #9733
This exception should not terminate the process, it should be caught and logged. So if it is crashing the process then there might be something else going on. Are you running on .NET Framework? (It looks like yes from the call stack).

Install this into your project to https://www.nuget.org/packages/Microsoft.AspNetCore.AzureAppServices.HostingStartup/2.2.2 and this specific exception should go aw

[2019-04-26 21:21] HaoK commented on #9779
This seems similar to the other caching bug in 2.2 that was fixed in 3.0, I'll dig up the link

[2019-04-26 21:22] HaoK commented on #9779
Might be similar to this bug (which seems fixed in 3.0) https://github.com/aspnet/AspNetCore/issues/7687

[2019-04-26 21:30] #5828 closed

[2019-04-26 21:34] davidfowl commented on #9777
I believe OnStart has args. They don’t get passed into main

[2019-04-26 21:46] SteveSandersonMS commented on #9786
@rynowak We've had a lot of people confused about why we can't give errors about `<ComponentThatDoesNotExist />`. Let's consider making the PascalCaseComponentName convention into in actual enforced rule, with a compiler error if you use that casing on something that resolves as an element not a component.

I'm only saying we should *consider* this, as we may decide not to be so heavy-handed. If w

[2019-04-26 21:47] Eilon commented on #9771
This issue was moved to dotnet/corefx#37232

[2019-04-26 21:47] #9771 closed

[2019-04-26 21:52] Eilon commented on #9791
Preview5?

[2019-04-26 21:58] chris579 commented on #9786
Can confirm for preview 3.0.100-preview4-011223, was stuck for 2 days because of a missing import.

[2019-04-26 22:02] Tratcher commented on #9775
Please show the code where you're  consuming the buffered stream (calling storage SDK).

I saw a similar issue over here:
https://github.com/aspnet/AspNetCore/issues/9499#issuecomment-485530803

BufferedReaderStream reports Length of the total length buffered so far, starting with 0. It also reports CanSeek = true, because it can seek backwards in the buffer. Some callers take Length as the total

[2019-04-26 22:08] Eilon commented on #9779
@HaoK please take a look to see if we'd want to patch this in 2.2.x and/or 2.1.x.

[2019-04-26 22:10] Eilon commented on #9671
Let's see what we can improve in this scenario.

[2019-04-26 22:15] Eilon commented on #4589
Closing because we decided not to make any change to the Auth behavior because we believe the current behavior is correct.

[2019-04-26 22:15] #4589 closed

[2019-04-26 22:19] Eilon commented on #7734
Adding to the list of potential features for 3.1.

@jmprieur - out of curiosity, if we had this, is this something that would work on AzureAD?

[2019-04-26 22:19] DamianEdwards commented on #9789
@anurse that's certainly the easiest thing to make this work in 3.0, but as usual it gives me pause when things differ between "normal" .NET Core projects and web projects. Of course folks can work around it themselves and this is more about having the simple defaults work the expected way without nasty surprises.

@davidfowl thoughts on just updating the web SDK defaults in 3.0 and leaving anythi

[2019-04-26 22:21] Eilon commented on #8149
Closing because we are not planning to add support for this feature.

[2019-04-26 22:21] #8149 closed

[2019-04-26 22:23] anurse commented on #9789
I actually find the embedding of wwwroot content kinda suprising. Though I guess gone are the days of FTPing new content to your site ;). I suppose if people chose to do the single-file build, it's not unreasonable to embed the files.

[2019-04-26 22:40] DamianEdwards commented on #9789
This represents what you have to do in the project right now to not include our default content items in the single file output:

[code]

[2019-04-26 22:40] Andrzej-W commented on #9786
I think it will be a welcome addition for most people.

People also think they can create a Button component and it will be something different than `<button>` HTML element. Currently I don't have computer with Blazor at hand and I cannot check but probably this problem still exists. Maybe it is a good idea to force PascalCase convention for components and at the same time make some changes to all

[2019-04-26 22:43] rynowak commented on #9786
This is fine by me. This seems more appropriate as a warning rather than an error though. @NTaylorMullen do you have any cool thoughts about how users would suppress this?

I'd imagine something like:
[code]

[2019-04-26 22:45] Tratcher commented on #9787
We have three approaches for addressing ordering today:
- Docs - https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/?view=aspnetcore-2.2#built-in-middleware
- Analyzers - Gives you warnings during development if we think your middleware is not where it should be.
- Bundling, builders, etc. - When some middleware are interdependent we've found it best to bundle them together under

[2019-04-26 22:53] rynowak commented on #9791
Nevermind. This is not broken https://github.com/aspnet/AspNetCore/blob/master/src/DefaultBuilder/src/WebHost.cs#L227

The default host does this.

----

The explantion is that I started with the empty template, and then I changed Program.cs to not use the default builder.

[2019-04-26 22:53] #9791 closed

[2019-04-26 22:55] Tratcher commented on #9777
So it does:
https://github.com/aspnet/Extensions/blob/1112d7bcb46fb5848f29a84cb3f906f75c07c8bc/src/Hosting/WindowsServices/src/WindowsServiceLifetime.cs#L64
The trouble is that we've already built and 'started' the app, it's just paused waiting for the go signal. At best you could give some kind of reloadable config provider, but most components don't check for config changes.

[2019-04-26 23:52] ryanbrandenburg commented on #9441
While looking at a separate issue I found that all of our tests actually [already run on Linux and Mac](https://dnceng.visualstudio.com/internal/_build/results?buildId=165537&view=ms.vss-test-web.build-test-results-tab)? That's weird to me considering it's [specifically disabled](https://github.com/aspnet/AspNetCore/blob/master/src/Shared/E2ETesting/E2ETesting.props#L6) (but apparently without rea

[2019-04-27 00:49] okman523 commented on #9777
@davidfowl I need to get the command line parameters in Main, as the parameters needed for the program initialization, it is too late to get the parameters in OnStart, it means nothing to me.

[2019-04-27 00:51] okman523 commented on #9777
@Tratcher  Yes, this is not reasonable, it is right to get the parameters when the program starts.

[2019-04-27 01:01] Tratcher commented on #9777
Here's an interesting thread:
https://stackoverflow.com/questions/1488851/how-to-pass-a-parameter-to-a-windows-service-once-and-for-all-at-install-instead

There are two places to put parameters:
1. In the image path: `myapp.exe options`. These get passed to Main
2. In StartService, these get passed to ServiceBase.OnStart.

There's nothing for us to do here, this is just how Windows Services work.

[2019-04-27 01:03] rynowak commented on #9316
Discussed this in person with @davidfowl and we came up with the following plan.

This is a balance of:
- Having the correct branding
- Not leaking **real** implementation details
- Not hiding SignalR

*note: The fact that we use SignalR isn't an implementation detail. Users need to know about it and care about it. However the fact that we use a type named **BlazorHub** is an implementation detail

[2019-04-27 01:21] ShaZeh commented on #9748
After investigation the source code, I ended up using a workaround and implementing an IViewCompilerProvider which does the filtering over there before sending them to the compiler.

It makes more sense as well to process them after they have been found since they do not represent the final result.  I still don't understand why the feature would be populated differently for the ViewFeature vs the

[2019-04-27 06:01] StevenTCramer opened #9799 "Unknown html tags raise no warning."
### Is your feature request related to a problem? Please describe.
When one is missing an import for a Component, the tag is just rendered into the HTML. Which may be fine and desired but when not it is hard to find them.

### Describe the solution you'd like
I would like a setting that can enable "Unkown HTML tags": severity: warning.

### Describe alternatives you've considered
Manually looking

[2019-04-27 08:12] jingliancui commented on #9675
Temporarily copy the folder and content from wwwroot/images/someimg.png  to the integration test project.But i know it's still the bug its use `UseContentRoot` and `UseWebRoot` but useless in the `customize WebApplicationFactory` which still locale result of `Directory.GetCurrentDirectory` target to the bin folder of the integration test project.

[2019-04-27 08:42] sannysc opened #9800 "Blazor Library template does not build."
Trying to build the Blazor Library (blazorlib) template produces the following error.

### To Reproduce
1. Create a new solution.
2. `dotnet new blazorlib`
3. Add the project to the solution.
4. Try to build the project.

### Expected behavior
The project should build.

### Additional context

---

[2019-04-27 09:45] dodyg opened #9801 "Hosting SignalR Hub along Server Side Blazor"
Is it still possible to host Server Blazor and SignalR Hub in the same system and then connect to the SignaR Hub via a Blazor Component?

I used to be able to do it in Preview 3 but now it simply creates '
[code]

https://github.com/dodyg/practical-aspnetcore/tree/master/projects/blazor-ss/ChatR

[2019-04-27 09:54] MT-UE commented on #7801
Isn't a heavy tabbing user in a server side blazor app exactly that use case?

When I think further it may also be a general fitting framework/solution for any kind of TCP connection framing capabilities based on a well understood and supported standard (as far as I know http2 itself can do that also, but I'd like to go the web sockets road with my experimental projects).

And last but not least,

[2019-04-27 10:00] stavroskasidis opened #9802 "[Blazor] Missing events from intellisense"
### Describe the bug
Some events are missing from intellisense and they seem to generate a bit different output in the `.razor.g.cs` file, although the code compiles and seems to be working,

Some of the events that I have noticed misbehaving are: `onpointermove`, `onpointerup`, `onpointerdown`, `onpointercancel`, `ongotpointercapture`, `onlostpointercapture`. Please look at the provided screensho

[2019-04-27 10:24] glent1 commented on #9801
It is definitely possible - I have a project working that does just that.  Unfortunately I've moved to preview5 so my code won't necessarily look like yours.  However I can tell you that in preview 5, json is supported without the need for the .AddNewtonsoftJsonProtocol(); - what happens if you remove that?

[2019-04-27 11:11] conficient commented on #9786
Agree with both @SteveSandersonMS and @rynowak 's suggestions. I'm not exactly new to Blazor and I made these errors very easily, as have others, so helping spot when components are unresolved makes sense.

In reply to @Andrzej-W yes it still exists, I created a `<Div />` component with no problems, so it might be a good idea to either warn or raise an error if a component has the same name as a H

[2019-04-27 11:26] simonziegler commented on #9801
Hi @glent1, I'll be needing to do this on preview5 in the coming days. A cheeky question: do you have a sample project you can share? Thanks!

[2019-04-27 12:10] rjmr97 commented on #9802
I don't know why but it seems the events are `pointermove`, `pointerup`, `pointerdown`, `pointercancel`, `gotpointercapture `and `lostpointercapture` without the "on" word.

In my opinion they should all have the "on" prefix.

Sources:
https://github.com/aspnet/Blazor/issues/763
https://github.com/aspnet/Blazor/pull/765

[2019-04-27 12:54] rjmr97 commented on #9800
Can you post the contents of .csproj?

[2019-04-27 13:13] benaadams commented on #9702
Opened https://github.com/mono/linker/issues/552

[2019-04-27 14:23] tezine commented on #9745
Hi @rjmr97, thank you for your response. It worked perfectly.
I just think that it's cumbersome the way blazor data binding is working. In my opinion, it should have a better change detection mechanism without requiring the developer to use Func and Task in order to work properly. There are many cases where I just call StateHasChanged(), because change detection didn't work.

[2019-04-27 14:32] rjmr97 commented on #9745
You're welcome! I don't know much about how events work but I would guess blazor listens for when the task completes and then calls StateHasChanged(). I don't know if they could have done it any other way.

If you're happy with the solution feel free to close the issue.

[2019-04-27 18:30] BrennanConroy commented on #9801
There was an issue in preview4 that broke this, it is fixed in preview5, for now you can apply the workaround detailed here: https://github.com/aspnet/AspNetCore/issues/9627#issuecomment-485500176

[2019-04-27 18:30] #9801 closed

[2019-04-27 18:34] MarcelJoestingmeier commented on #9546
Try a complete reinstall of everything and if that does not help, i can try to help you analyze the problem.

[2019-04-27 18:35] MarcelJoestingmeier commented on #9546
I think there is no other fix besides that, and since it does not appear in my solutions anymore i did no analysis on the problem in general.

[2019-04-27 20:43] conficient commented on #9799
Related to #9786

[2019-04-27 21:13] honkmother commented on #8758
I know this was shot down and closed, but I wanted to add my two cents here:

I don't know what "near future" is defined as, but if it's a polite way of saying "never" then I want to express that I think a serverside/client runtime context could be extremely valuable for Blazor's long term viability.

I understand keeping track of the DOM differences between both could be haughty but, as OP stated

[2019-04-27 23:15] nickdollimount commented on #9800
I'm also experiencing this.

I walked through the following tutorial:
[https://www.telerik.com/blogs/creating-a-reusable-javascript-free-blazor-modal](https://www.telerik.com/blogs/creating-a-reusable-javascript-free-blazor-modal)

[2019-04-27 23:41] StevenTCramer commented on #9786
The list if html tags is know. So if we create a component with same name regardless of case this could be a warning.

If a non html tag is found in the razor that doesn't resolve to a component this to could be a warning.

[2019-04-27 23:45] nickdollimount commented on #9800
Template comes with stable NuGet package Microsoft.AspNetCore.Blazor.Build v.0.7.0. There's an update available for version 3.0.0-preview4-19216-03 which fixed the issue for me.

[2019-04-27 23:54] rjmr97 commented on #9800
You probably have the wrong version of `Microsoft.AspNetCore.Blazor.Templates`, that's why you have the wrong packages versions.

Can you run the following commands and tell me if it works?
[code]

Your .csproj should look something like this:
(notice how now it uses `Microsoft.AspNetCore.Components.Browser`)
[code]

[2019-04-28 00:00] nickdollimount commented on #9800
@rjmr97 That did it!

[2019-04-28 07:09] flatproject commented on #9733
Yes the app is on net471.

I have installed HostingStartup and you are right that specific exception has gone away.

The Appplication Events has this Error at the time of the application crash which is the same as in my first post from the eventlog.
[code]

[2019-04-28 07:26] davidfowl commented on #9733
Can you give me more data? Show me the screen shot of the viewer and with this exception selected.  I’d also like to see if there’s anything else in there.

[2019-04-28 08:36] sannysc commented on #9800
@rjmr97 That worked for me too 👍  Thanks

[2019-04-28 08:36] #9800 closed

[2019-04-28 09:13] ststeiger commented on #1528
@clintb: You've been added.

[2019-04-28 10:29] Gaulomatic opened #9804 "[Blazor] Lifecyle hooks not being called while prerendering"
### Describe the bug
Lifecycle hooks, like `OnInit`, are not being invoked when a component gets pre-rendered server-side. First invocation takes place after SignalR is connected and when the component in re-rendered.

### To Reproduce
Steps to reproduce the behavior:
1. Get the latest preview5 sdk from core-sdk
2. dotnet new blazorserverside
3. Override `OnInit` in `Counter` component and log som

[2019-04-28 12:31] vchirikov commented on #8523
So new preview is coming out:
https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-core-3-0-preview-4/
But didn't have any news about this issue.
@danroth27 @mkArtakMSFT any news?

[2019-04-28 13:53] itcancle opened #9805 ""aspnetcorev2_inprocess.dll"The file could not be found"
### Describe the bug
can't build "Microsoft.AspNetCore.Server.IIS" project.
copy error:

|严重性|代码|说明|项目|文件|行|禁止显示状态|
|---|---|---|---|---|---|---|
|错误|MSB3030|无法复制文件“D:\dotnet\AspNetCore\src\Servers\IIS\AspNetCoreModuleV2\InProcessRequestHandler\bin\Debug\Win32\aspnetcorev2_inprocess.dll”，原因是找不到该文件。|Microsoft.AspNetCore.Server.IIS|C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBui

[2019-04-28 14:04] itcancle commented on #9805
![vs2019-iis-build-error](https://user-images.githubusercontent.com/15866409/56865494-71e73480-6a01-11e9-94b9-8366f9424ac5.png)

[2019-04-28 15:26] itcancle commented on #9805
sorry~
image always can't upload!

### Additional context

PS> dotnet --version
[code]

PS> dotnet --info
[code]

[2019-04-28 15:28] itcancle commented on #9805
![vs2019-iis-error_list](https://user-images.githubusercontent.com/15866409/56866577-4d915500-6a0d-11e9-9095-9754d9c7f460.png)

[2019-04-28 18:05] limefrogyank opened #9808 "Blazor SignalR message corruption"
### Describe the bug
This may be related to https://github.com/aspnet/AspNetCore/issues/9683
When my Blazor view attempts to display a large dataset retreived using `IJSInterop`, I get a `SerializationException`.   This only seems to happen when my dataset gets large, because while I am only displaying a few items in a list, everything works fine.  As soon as I have added one item too many, I get

[2019-04-28 18:24] clairepat commented on #9683
You are some really great folks. Thank you so much.

[2019-04-28 18:35] nfplee opened #9809 "Model binding to a complex type from Route Data"
Hi, I'm trying to invoke an action and feed a complex type into the parameters. For example say I say:

[code]
To invoke the following method:

[code]

This invokes the method correctly, however the parameters are null. I found the following issue:

https://github.com/aspnet/Mvc/issues/5833

The suggested model binder fixed this. However as they mentioned this doesn't play kindly with the ComplexT

[2019-04-28 18:40] limefrogyank commented on #9808
I added a repo... for me, around 100-102 items would cause the exception.  YMMV

[2019-04-28 18:46] anurse opened #9810 "Dev Certs tool should handle "upgrading" certificates as necessary"
In .NET Core 3.0 we need to introduce an updated dev cert in order to handle changes in supported cipher suites in Windows (https://github.com/aspnet/AspNetCore/issues/8952). If the user already has the existing (pre-3.0) dev cert installed, they will get an error. In order to update, the user must run two commands:

[code]

These commands re-install the cert, ensuring it is the correct version.

[2019-04-28 18:51] anurse commented on #7801
Yep, this is a major reason why Blazor added support for using the Azure SignalR Service (see https://devblogs.microsoft.com/aspnet/blazor-0-6-0-experimental-release-now-available/). When using the Azure SignalR Service, the WebSockets traffic is offloaded to a different server. When do you offload to a different server you'll always end up with a new TCP connection (even on HTTP/2, since connecti

[2019-04-28 21:21] springy76 opened #9812 "Microsoft.AspNetCore.JsonPatch is not netstandard any more"
Since 3.0 preview2 Microsoft.AspNetCore.JsonPatch is only available for netcoreapp3.0, before it was for netstandard2.0.

I'm using this in a net472 WPF client app - should I use another package on client side? Which?

[2019-04-28 22:32] NinoFloris opened #9813 "Review AsyncLocals (HeaderPropagation and Action context)"
Recently merged #9370 included a new use of an async local. Prompting me to search this repo for other uses, only to happily conclude there's not many outside tests. You have #9370, an optional ActionContextAccessor and some for what looks like razor things and the well known HttpContextAccessor.

Are these first two async locals not better expressed as fetching features or info from HttpContext?

[2019-04-28 22:49] Zenexer commented on #9437
For anyone else experiencing this issue, see: https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-2.2&tabs=visual-studio#migrate-mvc-controllers

[2019-04-28 23:10] clairepat commented on #9813
Okay, now I'm breathing again because I got too wild about exactly what was I supposed to do next.  I have absolutely no idea what request lifetime as HttpContextAccessoe means. I know what the words mean except the last half of Hypertext (? is that right?)

[2019-04-28 23:15] Bartolomeus-649 opened #9814 ""MSB4036: The "RazorGenerate" task was not found" when building Blazor client project"
### Problem
Unable to build a Blazor project based on the ASP.NET Core template: "**Blazor (ASP.Net Core hosted)**"

### Error message
error **MSB4036: The "RazorGenerate" task was not found**. Check the following:
1. The name of the task in the project file is the same as the name of the task class.
2. The task class is "public" and implements the Microsoft.Build.Framework.ITask interface.
3. The

[2019-04-28 23:37] clairepat commented on #9813
Okay, things appear to have stabilized. At least on this end they're
stable. I'm not losing my mind anymore, so, I see I was about five emails
behind. I still am not exactly sure what I'm doing but the next time I'll
inform myself thoroughly before sending another request for a repo, Would
you mind pointing me in the right direction to find the actual amount of my
repo please?

On Sun, Apr 28, 201

[2019-04-29 00:09] benaadams commented on #9813
Also:

[`Activity.Current`](https://github.com/dotnet/corefx/blob/81c8c68d81daad033251d643e230061f38a9ae3a/src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.Current.net46.cs#L33) which [gets set in Hosting](https://github.com/aspnet/AspNetCore/blob/8e37f8477d51221369bcaceb4316f79cbb2854e8/src/Hosting/Hosting/src/Internal/HostingApplicationDiagnostics.cs#L235-L277) when loggin

[2019-04-29 00:17] clairepat commented on #9813
Thank you so very much from someone who needs brand new equipment and decent housing. Something better than a cabin in the middle of nowhere and infested with carpenter ants which I was crushing with my fist. They are also carnivores, judging by how they bite. This was the wildest Sunday afternoon I've ever had, I will trust you. Thank you.

[2019-04-29 00:26] benaadams commented on #9813
If you set `Thread.CurrentPrincipal` that will be another; so don't do that ;)

If you set `Thread.CurrentCulture` that will be another

[2019-04-29 00:32] clairepat commented on #9813
Got it, I recorded every word. Thank you

[2019-04-29 00:39] benaadams commented on #9813
In 3.0 use of BinaryFormatter will create one via Serialization Guard; but no one is using BinaryFormatter #amirite?

[2019-04-29 03:35] cogitaria-admin commented on #2795
Was this before or after Al Gore invented the Internet?  It would not have taken much to check yourself on this false attribution and save yourself some embarrassment,

[2019-04-29 03:56] #9291 closed

[2019-04-29 07:15] ms4hafiz opened #9816 "Error when in production on IIS System.Data.SqlClient.SqlException"
I have recently upgraded my MVC Core 1.1 project to 2.1. When I run it Kestrel using VS code it works fine but when I publish and host on IIS it gives an error.

I am getting the following error when in production:
[code]

[2019-04-29 07:18] davidfowl commented on #9816
cc @divega @roji any ideas?

[2019-04-29 07:20] davidfowl commented on #9812
What types were you using?

[2019-04-29 07:22] psyvision commented on #3421
Still having issues with this...

`certdiag.ps1`
[code]

`cert-diag.ps1 -TryCreatCertificate`
[code]

Visual Studio 2019, .NET Core SDK 2.2.202

[2019-04-29 07:42] ms4hafiz commented on #9816
@divega
@roji

[2019-04-29 08:12] LPLN-HZLD commented on #6330
how can I remove any ILookupNormalizer injection in identity core3 preview4?
I use identity 2.2 and can't use ILookupNormalizer on ApplicationUserManager.
My contracture ApplicationUserManager :

[code]

When I add ILookupNormalizer on AddCustomServices, I have this error:

after remove "services.AddScoped<ILookupNormalizer, CustomNormalizers>();" I have this error:

I don't need to use Normalizer

[2019-04-29 08:18] springy76 commented on #9812
I'm using `JsonPatchDocument<T>` to build the patch which gets posted using Flurl or HttpClient.

[2019-04-29 09:46] krychaszek opened #9818 "WebException: Unable to complete handshake with the server due to an error: Handshake was canceled"
Hello,

We are currently using .Netcore.SignalR version 1.1.0 both on our external server and in our Unity game on client side.
We have everything working on PC platform with scripting backend IL2CPP, however when we build for PS4 after 15 seconds of connecting we are getting an error stating that handshake with our server was canceled:

"HubException: Unable to complete handshake with the server

[2019-04-29 10:03] ChainReactive opened #9819 "Support BSON in SignalR Core"
I know about MessagePack but my scenario involves Asp.Net Core receiving raw BSON from MongoDB, and then forwarding it onward to a .NET client app.  I don't want to needlessly translate the data from one binary format (BSON) to another (MessagePack).

Is sending BSON over SignalR Core currently achievable?  If so then how and how involved?  Otherwise, please consider adding BSON support, or enabli

[2019-04-29 10:24] roji commented on #9816
I'm really not an SQL Server expert, but this looks like some sort of issue with the SQL Server setup or the connection string. Can you confirm that putting the exact same connection string into SQL Server Management Studio connects successfully?

[2019-04-29 11:00] rmam-spinworks commented on #7531
I can confirm this issue in Ubuntu 18.04.  Running a brand new webapi project is enough to trigger the exception mentioned by other users.

[2019-04-29 11:03] rmam-spinworks commented on #8449
I can confirm this issue in Ubuntu 18.04. Running a brand new webapi project is enough to trigger the exception.

[2019-04-29 11:05] javiercn commented on #3421
@psyvision Could you try and run `donet dev-certs https --clean?` (run the script later) and then run dotnet dev-certs https --trust?

[2019-04-29 11:52] Sebastian-Gruchacz commented on #3421
Interesting. Have same issue (VS 2017 tough). I tried your steps with same results.
However, when I look on the certicicate details I can see following problem:
![image](https://user-images.githubusercontent.com/8543426/56894344-d9df5e80-6a85-11e9-8381-41c9b4a22ea6.png)
(Ob both mine and created by script)
Can this be cause of the issue? Can it be due to some control of Registry by the Organizatio

[2019-04-29 12:47] psyvision commented on #3421
@javiercn I had tried that as I had seen it mentioned prior, sadly it leads to the same issue.

@Sebastian-Gruchacz almost definitely for us, our computers are very locked down due to the industry we're in.

[2019-04-29 13:08] generik0 opened #9821 "Question: aspnetcore netsh self hodted appid to allow http add sslcert ipport=x.x.x.x:yyyy certhash= appid="
Hi

When registering the https sert for net framework wcf window services it was easy to:

- netsh http add sslcert ipport= certhash= appid=

The appId is the guid in the executing assembly  AssemblyInfo.

Question:

Can we do the same with aspnetcore self-hosted (as windows service).
if so, There is no Guid in the new csporj format. What do we add to the project file to add the Guid/Appi id for t

[2019-04-29 13:23] jasonkuo41 opened #9822 "[Blazor] Could not execute because the specified command or file was not found."
### Describe the bug
Unable to execute ASP.Net Core when shipped with Blazor (client) with an error message in runtime: Could not execute because the specified command or file was not found.

Note that this does not occur with ASP.Net Core 2.2.

### To Reproduce
Steps to reproduce the behavior: (Suspected)
1. Use the latest Blazor version (.Net Core 3 preview 4)
2. Have a space within your default

[2019-04-29 13:25] pranavkm commented on #4417
Filed CoreFx issue: https://github.com/dotnet/corefx/issues/37261

[2019-04-29 13:31] highfield commented on #9819
I personally would not transfer data straight from MongoDB, unless you're dealing a very specific tool for it (e.g. an inspector of the database or so). I always prefer to leave (at least one) abstraction layer in order to decouple the actual data-source (MongoDB) and the API: that gives a lot of benefits, but I believe you already know that.

However, if you really want to wire BSON over socket,

[2019-04-29 13:48] rjmr97 commented on #9822
This was happening to me, see https://github.com/aspnet/AspNetCore/issues/9597. There's an issue with user accounts having spaces in their names.

It was fixed in https://github.com/aspnet/AspNetCore/pull/9659 and will be available in 3.0.0-preview6 (I think).

I fixed my version by replacing the file `C:\Users\USER_NAME\.nuget\packages\microsoft.aspnetcore.blazor.devserver\3.0.0-preview4-19216-03

[2019-04-29 14:16] RyotaMurohoshi opened #9824 "[Blazor] Move Blazor FAQ content from aspnet/Blazor to this repo."
### Is your feature request related to a problem? Please describe.

`Blazor` sources and issues for Blazor have moved from aspnet/Blazor to aspnet/AspNetCore, this repo.

By the way, there is no FAQ content for `Blazor` in this repo.

But it is in old repo, aspnet/Blazor.

see : https://github.com/aspnet/Blazor/wiki/FAQ

### Describe the solution you'd like

How about move [FAQ](https://github.com

[2019-04-29 14:50] ms4hafiz commented on #9816
Thank @roji
Checked. The connection has no problem and it works before it is hosted on IIS.

[2019-04-29 15:08] rynowak commented on #8264
Here's a sample doing something similar for pages:

[code]

[2019-04-29 15:23] cephalin commented on #4135
@anurse Does this method work right now or would I need to wait for an update to .NET Core?

[2019-04-29 15:30] Tratcher commented on #4135
The approach Brady gives is the recommendation, but you'll need to use an existing environment variable, ASPNETCORE_FORWARDEDHEADERS_ENABLED won't be available yet.

[2019-04-29 15:40] rynowak commented on #9632
Example of the generated code:

[code]

[2019-04-29 15:41] rynowak commented on #5636
Thanks for the report, this is indeed a bug. Using https://github.com/aspnet/AspNetCore/issues/9632 since we already have more info there.

[2019-04-29 15:41] #5636 closed

[2019-04-29 15:44] hannespreishuber opened #9825 "Blazor SignalR Client"
Same Code working on Blazor Server side for a simple Chat, doenst work on Blazor Client side.
Just calling the "app" getting several errors in F12 command like

WASM: System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.DllNotFoundException: libc assembly:<unknown assembly> type:<unknown type> member:(null)

as I can not debug (also shi

[2019-04-29 15:47] javiercn commented on #3421
@psyvision @Sebastian-Gruchacz I'm not sure what is going on in your environments. The way the certificate works is as follows:
You get certificate + key installed into CurrentUser\My (Personal certificate store) and then the certificate is copied to CurrentUser\Root (Trusted Root Certification authorities).

You can verify that the certificate is in both places. (and if not, copy it from CurrentU

[2019-04-29 15:48] anurse commented on #9819
We don't have plans for any new official protocols. I do agree with @highfield here that you should not be transferring data directly from any data store to SignalR, as you generally want an abstraction (and the added security of being careful about what you expose to your clients).

The SignalR protocol layer is pluggable though, so if you are interested in developing your own protocol (using BSO

[2019-04-29 15:48] #9819 closed

[2019-04-29 15:48] markpickstone commented on #9814
I'm experiencing the same issue with a Blazor Client-Side project, Using VS 2019 Version 16.1.0 Preview 2.0

### Error MSB4036	The "RazorGenerate" task was not found. Check the following:
[code]
From the csproj file:

[code]

[2019-04-29 15:56] MarcusWichelmann commented on #8264
Aah, thank you very much. This is helpful.
I'll test this. :+1:

[2019-04-29 15:56] anurse commented on #9213
Kestrel currently does push Connection Features through to Request Features (you can't add new ones, but you can access any existing connection features), so we're good for 3.0. Moving to the backlog.

[2019-04-29 15:57] anurse commented on #9394
Good to know! Yeah, that indicates you should have a better experience when we get this change in.

[2019-04-29 16:11] #5494 closed

[2019-04-29 16:19] Grey007 opened #9827 "SignalR .NetCore 3.0-- HubConnectionBuilder' does not contain a definition for 'WithUrl'"
### Describe the bug
A clear and concise description of what the bug is.
Hi,
I'm trying to create a HubConnection on a Console App, but getting an error with .WithUrl.

Receiving the following error:

My code:
[code]

[2019-04-29 16:22] BrennanConroy commented on #9827
What does your .csproj look like?

[2019-04-29 16:23] jkotalik commented on #9805
Can you run `src/Servers/IIS/build.cmd`?

[2019-04-29 16:27] ajruckman opened #9828 "Invoke MVC ViewComponent with generic type parameter"
### Is your feature request related to a problem? Please describe.
I would like to be able to invoke a Razor Pages ViewComponent with a generic type parameter. For example, I want to be able to pass any List to a component, like this:
[code]
and to somehow call the component in a .cshtml file:
[code]
but I don't know where the type specifier would go in the .cshtml file.

### Describe alternatives

[2019-04-29 16:31] conficient commented on #4048
Not sure if this is the best approach... I made my app secure by amending the `MainLayout.razor` file to inject the user and only execute `@Body` if the user is authenticated. If not, it shows a `<Login />` component instead with the login form. This totally disables routing of course, but it works :)

[2019-04-29 16:33] BrennanConroy commented on #9818
This is not a scenario we have ever tried so you're more of an expert in it than we are.

The best we can offer is tips on debugging the issue.

Try to get a network trace and client + server logs. The handshake canceled error you're seeing is from the server, saying that the client didn't send a handshake response within 15 seconds. So you should check to see if the client has sent the handshake,

[2019-04-29 16:34] blowdart commented on #9821
AppID isn't linked to your app, it's just an identifier so you can use it to identify the binding later, if you want.

You can use any GUID you'd like,

[2019-04-29 16:37] blowdart commented on #9816
So it works when running Kestrel from the command line?

- What authentication is used in the connection string? Username/password or trusted?
- Is the database on another machine, or the same machine as the web app? If it's another machine is there a proxy in the way?

[2019-04-29 16:54] Grey007 commented on #9827
Yeah, looks like that was the issue. Just a comment, I followed a prompt from VS19 suggesting I install that Microsoft.AspNetCore.SignalR.Client.Core.

Thanks for the help!

[2019-04-29 16:54] #9827 closed

[2019-04-29 16:56] BrennanConroy commented on #9827
Was this prompt a `ctrl-.` on `HubConnectionBuilder` in the editor?

[2019-04-29 16:56] ms4hafiz commented on #9816
I am using user name and password like following;

` "DefaultConnection": "Data Source=.;Database=DB_A16E8C_aaa;User Id=DB_A16E8C_aaa_admin;Password=xxx;MultipleActiveResultSets=true"`

[2019-04-29 16:57] johncrim commented on #7801
IMO how WebSockets are partitioned and used is an application concern. Our specific use-case is low-traffic websockets, and the app supports partitioning by user subscription (eg ServiceFabric stateful service).   For us it makes sense to handle API requests and websocket connections on the same server, though in the event of an outage we'll fail over to another server.

Until this is supported by

[2019-04-29 16:57] Grey007 commented on #9827
Yeah,

[2019-04-29 16:59] ryanbrandenburg commented on #9420
Yeah, it turns out that the `dotnet new|restore|build` scenarios are already tested on Linux and Mac, so it's unclear to me how we would have gotten into this state. What was the specific failure scenario that prompted this?

[2019-04-29 17:01] blowdart commented on #9816
Well that rules out the app pool security issues that these things usually are.

[2019-04-29 17:11] generik0 commented on #9821
Hi @Blowdart

Well call me a newbie...
Strange, last time we changed our guid for our net framework host, the netsh didn’t work until I change it to the Assembly Guid...

Please tell me then, how can I use the guid in the aspnetcore application, so it is linked to the binding?

If it is a link, I would expect the aspnetcore app need to know the guid for the link?

[2019-04-29 17:16] ryanbrandenburg commented on #9109
@mkArtakMSFT I don't think this is our break. As @new-mikha pointed out, we did a hack/patch to make this work in more scenarios, but it seems that hack doesn't work for Node 10. The problem here is on the Node end, so continued fiddling from our side to try to force it to work are unlikely to succeed long term. The best advice I can give is to try what was suggested in that thread, like [run your

[2019-04-29 17:17] blowdart commented on #9821
That's super weird, I don't believe there is any real connection here. If, for example, I look at the default bindings we create as part of the SDK install;

[code]

Now, if that required an app id in a core application then VS wouldn't be able to run ASP.NET Core apps, because, as you point out, there's not concept of an application ID any more. All kestrel cares about is the port number.

What e

[2019-04-29 17:36] generik0 commented on #9821
Hi @blowdart.
Ok, maybe Its just me WHO is seeing ghosts.
I will be putting our new aspnetcore microservice on our dev and test server with https.
Can we leave the question open until the start of next week?

I still dont understand what the AppId is for in the netsh, If it isnt used for anything :-/

[2019-04-29 17:37] BrennanConroy commented on #9760
@rynowak Did you try this out? I gave this a quick try in a test app and making the hub internal looked like it worked.

[2019-04-29 17:37] blowdart commented on #9821
I think it was for manually mapping ports/configs to apps, if you wanted to keep your own records.

Sure, we'll leave it open, I'll pop it into the discussions milestone.  Please @ me once you've tried it out.

[2019-04-29 18:18] kevinlo commented on #3975
I just come across another problem during a few days of performance testing.   As said in the above thread, we have App1 to create a cookie and App2 and App3 will use the same data protection key to read the cookie.   App2 and App3 are started and ended per user session,   During the few days of performance, each day we have a few hours that can see the performance hit.   I find out that, when som

[2019-04-29 18:29] anurse commented on #9827
Unfortunately the `HubConnectionBuilder` type **is** in that package (`Client.Core`), but the `WithUrl` extension method is in `Client`. There isn't really a way to tell VS to suggest a different package (though that could be an interesting idea for the future).

`Ctrl-.` on the `WithUrl` method itself might have offered the right package.

Out of curiocity, did you look at a doc or tutorial befor

[2019-04-29 18:42] csturm83 commented on #8897
Am I understanding the MVP correctly, that Kerberos Constrained Delegation in Kestrel running on Linux will not be supported initially?

My enterprise scenario is a .NET Core web application running in a Linux container which needs to delegate Windows credentials (using Kerberos) to a web service hosted on a Linux machine (assuming appropriate keytabs/SPNs configured).

If this scenario will not b

[2019-04-29 18:49] blowdart commented on #8897
Given that Kerberos Constrained Delegation is a Windows Server feature, rather than a Kerberos feature, you're correct, this isn't going to be supported initially, if _at all_.

Unblocking "Windows authentication" to a web app hosted on linux is the goal for the MVP.

[2019-04-29 18:59] vinivsl opened #9833 "SignInManager.PasswordSignInAsync redireciona sozinho"
I'm a beginner in programming, I do not know how to write English yet. Translation with Google Translate. Forgiveness if it is difficult to understand =/

Using ASP.NET Core 2.2.

I'm using a **POST** action with JavaScript (`fetch`) for the method:

[code]
But when I run `signInManager.PasswordSignInAsync` and succeed, it redirects to `?ReturnUrl=<url here>` and I can not get the result I need to

[2019-04-29 19:00] anurse commented on #8768
@BrennanConroy looks like this API (StandardFormat) was added in .NET Core 3.0, so it might be an issue that is resolved now that we have a `netstandard2.0` JSON package. Can you take a quick check to see if that's the case?

[2019-04-29 19:15] CarrotSolutions opened #9834 "Blazor Component Embedded in Razor Page"
Repo: https://github.com/CarrotSolutions/WebApplication1.git

Please Help! We created a basic template razor page app.  We added Blazor components.  We have no problem getting this to work via replicating the steps in the 04/16 Blazor Update video or using the Blazor documentation.  However, once we add the Blazor component to a Razor page, all of our asp-page links no longer work.  The url change

[2019-04-29 19:42] Tratcher commented on #4662
FYI: There's a draft PR for this now at https://github.com/aspnet/AspNetCore/pull/9831.

[2019-04-29 19:55] pranavkm commented on #9822
Like @rjmr97 pointed, this is a dup of https://github.com/aspnet/AspNetCore/issues/9597

[2019-04-29 19:55] #9822 closed

[2019-04-29 19:58] limefrogyank commented on #9825
I didn't expect the .NET client of SignalR to work on Server-side Blazor that well...

However, on client-side Blazor, you're operating completely in the browser so you need to use the javascript client of SignalR and interop with it in your .NET code.  At least, that's what I'd expect.

[2019-04-29 19:58] pranavkm commented on #9814
Do you have the preview4 SDK installed: https://dotnet.microsoft.com/download/dotnet-core/3.0? The error message here:
`C:\Program Files\dotnet\sdk\3.0.100-preview3-010431\Sdks\Microsoft.NET.Sdk.Razor\build\netstandard2.0\Microsoft.NET.Sdk.Razor.Component.targets	93` makes me think you have a mismatched runtime and SDK.

[2019-04-29 20:39] markpickstone commented on #9814
Thanks pranavkm, I will take a look.

[2019-04-29 20:43] NinoFloris opened #9838 "FileBufferingReadStream _maxRentedBufferSize is used as an exclusive bound"
FileBufferingReadStream `_maxRentedBufferSize` is checked as an exclusive bound staying just below 1MB.

We currently carry around our own constant that computes 1024 * 1024 -1 just to stay under that slightly unnatural max buffer rent size.

In the interest of usability it should probably just respect any size up to and including 1MB.

[2019-04-29 21:01] divega commented on #9816
@ms4hafiz the call stack ontains several lines with:

`An error occurred using the connection to database 'wn' on server '(localdb)\mssqllocaldb'.`

Are you sure that the applicaiton in production is getting the same connection string configured?

[2019-04-29 21:05] mhosman commented on #9687
Same error here!!!

[2019-04-29 21:20] shawty commented on #4048
That's pretty much how everything of mine works too.

[2019-04-29 21:21] cephalin commented on #4135
@Tratcher sounds good. Thanks.

[2019-04-29 21:42] madelson opened #9839 "Allow ExceptionHandlerOptions.ExceptionHandler to be called even if the response has started"
### Is your feature request related to a problem? Please describe.
I am trying to set up error handling for my application. When an error occurs, I want to POST it to an error tracking service we use. I was going to use `ExceptionHandlerMiddleware` for this with a custom `ExceptionHandlerOptions.ExceptionHandler`, but reading through the source of `ExceptionHandlerMiddleware` I noticed that the de

[2019-04-29 23:23] guylando commented on #4707
This happens for us in
`Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Http.Http1MessageBody.<PumpAsync>`
called by
`Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Http.MessageBody.<ReadAsync>`
called by
`Microsoft.AspNetCore.WebUtilities.FormReader.<ReadFormAsync>`
called by
`Microsoft.AspNetCore.Antiforgery.Internal.DefaultAntiforgeryTokenStore.<GetRequestTokensAsync>`
which means that it

[2019-04-30 00:33] chuanboz commented on #9787
thanks @Tratcher for the details explanation. for Analyzers, can you give some source code reference for the built-in one? want to learn more details there.

[2019-04-30 00:41] enetstudio commented on #9828
Razor component is actually a Blazor component. You meant ViewComponent, right ? Language is the source of misunderstandings...

[2019-04-30 00:42] rynowak commented on #9760
hmmm headscratch. I'll try it and make sure

[2019-04-30 01:08] DegageTech commented on #9814
I also have the same problem in Visual Studio 2019 Enterprise 16.0.2

[2019-04-30 01:37] DegageTech commented on #9814
I reinstall "SDK 3.0.100-preview4-011223"  resolved problem。

[2019-04-30 01:46] itcancle commented on #9805
En~BuildFromSource.md's Building in Visual Studio does not specify the need to run src/Servers/IIS/build.cmd, I thought vs2019 will automatically run build.cmd. .
Now the command line runs build.cmd and builds success, @jkotalik  thank you very much~

[2019-04-30 01:48] itcancle commented on #9805
En~BuildFromSource.md's Building in Visual Studio does not specify the need to run src/Servers/IIS/build.cmd, I thought vs2019 will automatically run build.cmd. .
Now the command line runs build.cmd and builds success, @jkotalik thank you very much

[2019-04-30 01:55] #9805 closed

[2019-04-30 03:55] davidfowl commented on #9839
Is this different from a logger? If yes, what is it and why is it different?

[2019-04-30 05:24] #5806 closed

[2019-04-30 06:25] hannespreishuber commented on #9825
sorry to say that clear, what you expect doenst matter for me and solution seekers. btw your are wrong.

[2019-04-30 06:40] psyvision commented on #3421
@javiercn Thanks for the further information.  I can confirm the certificate was installed in `Personal` but not `Trusted Root Certificate Authorities`.  I exported it and attempted to import it but received a message stating `The import failed because the store was read-only, the store was full, or the store did not open correctly.`.

As I say, our computers are quite restricted so I will take th

[2019-04-30 06:41] shirhatti commented on #9486
@anurse Can we get a milestone for this?

[2019-04-30 06:59] davidfowl commented on #9486
I'm going to do this in preview6

[2019-04-30 07:05] davidfowl commented on #7745
This is done in the generic host, should we do this in the WebHost as well? I think we should leave the web host as is for compatiblity reasons. Basically treat it like a legacy API for the most part.

cc @Tratcher

[2019-04-30 07:14] ms4hafiz commented on #9816
It is really weird. I could not find any problem and database named 'wn' with server on '(localdb)\mssqllocaldb'.
I am stacked

[2019-04-30 07:23] markusschaber commented on #9514
Shouldn't string constants be interned by the framework, effectively making them reference equal even if they're from different assemblies?

[2019-04-30 08:56] linianhui opened #9847 "HttpProtocols.Http1AndHttp2 : "Unrecognized HTTP version: 'HTTP/2.0'""
### Describe the bug
When set Kestrel listen protocol to Http1AndHttp2, http/1.1 is ok, but http2 not work.

### To Reproduce
Steps to reproduce the behavior:
1. ASP.NET Core 2.2
2. Run this code
[code]
3. HTTP/1.1 is ok
[code]
4. HTTP/2 is error
[code]
    error log:
[code]

### Expected behavior
print HTTP/2

### Additional context
`dotnet --info`:
[code]

[2019-04-30 09:43] ImadMichaelAyoub commented on #8931
Dears, I am using vs 2019, I have installed Blazor last version, I have core 3 preview 4, I have create a Blazor project, all pages now are with .razor extension instead of .cshtml, I ran the application, but giving me Loading... without moving to Index.razor page, any help please. Thanks in advance.

[2019-04-30 09:48] chrissainty commented on #8931
@ImadMichaelAyoub Do you have any error messages in the console? Are you running client-side or server-side Blazor?

[2019-04-30 09:52] markpickstone commented on #9814
Fixed by re-install of dotnet-sdk-3.0.100-preview4-011223
Thanks everyone.

[2019-04-30 09:53] #9079 closed

[2019-04-30 09:54] javiercn commented on #9079
Fixed in 3.0 preview6.

[2019-04-30 09:56] ImadMichaelAyoub commented on #8931
Thanks for the reply. I'm using client-side Blazor. It seems application runs index.html file in wwwroot and not moving to index.cshtml in pages folder.

[2019-04-30 09:57] javiercn commented on #3421
@psyvision I'm glad we were able to find the issue. Unfortunately we can't do anything in our end.

[2019-04-30 10:12] Knarzi opened #9848 "Blazor Server-Side Client won't compile after project dependency added (-532462766)"
I have a VS-sln and added a Blazor-Server-Side-Template-Project to this Sln. Directly after adding it build without any error.  Now, when I add another Project as Project Dependency to the Blazor-Client, it doesn't compile anymore. I get only the Error **_The Command exited with code -532462766._**

`Schweregrad	Code	Beschreibung	Projekt	Datei	Zeile	Unterdrückungszustand
Fehler	MSB3073	Der Befehl

[2019-04-30 12:11] ajruckman commented on #9828
Yes you are right, my bad... I will edit it.

[2019-04-30 12:34] ImadMichaelAyoub opened #9849 "Problems in runnig Blazor Project"
Dears:

I'm using Microsoft Visual Studio Community 2019, Version 16.0.2 on the right side, Microsoft .Net Framework, Version 4.7.03062 (I got the info from help). I'm using ASP.NET Core 3 Preview 4, I also installed Blazor latest version.

I created a Blazor project successfully, but when I run the application as it is without any modifications, it gives me Loading... and it stops here, it doesn'

[2019-04-30 13:16] uwefms commented on #9849
Hi @ImadMichaelAyoub,
  you need Microsoft Visual Studio Community 2019, Version 16.1.0 Preview 2.0 form the preview Channel.

https://visualstudio.microsoft.com/de/vs/preview/?rr=https%3A%2F%2Fdotnet.microsoft.com%2Fdownload%2Fdotnet-core%2F3.0

   regards

         Uwe

[2019-04-30 13:20] kmuthukumar23 opened #9851 "The type or namespace name 'Mvc' does not exist in the namespace 'Microsoft.AspnetCore' (are you missing an assembly reference?)"
### Describe the bug
 in blazor project, When i update the .Net Core 3.0.0.Preview4 and then changes all the .cshtml in to .razor pages i have faced this issue "The type or namespace name 'Mvc' does not exist in the namespace 'Microsoft.AspnetCore' (are you missing an assembly reference?)"

Can one help me for how to resolve this?

### Expected behavior
Need to be build succeed

### Screenshots
![

[2019-04-30 13:21] oliverjanik commented on #2795
No need to be condescending. Anders Hejlsberg is the creator of C# so yes he is the inventor of C# interfaces.

[2019-04-30 13:42] kmuthukumar23 commented on #9552
I also faced this issue in my Proj. _Imports.razor not working in blazor. Please help me

[2019-04-30 14:11] vova-lantsov-dev opened #9853 "RZ9986 — Component attributes do not support complex content (mixed C# and markup)"
I've found that this issue was already fixed in 0.4.0
[Reference 1](https://github.com/aspnet/Blazor/issues/784)
[Reference 2](https://github.com/aspnet/Blazor/issues/753)

[2019-04-30 14:11] vova-lantsov-dev opened #9854 "RZ9986 — Component attributes do not support complex content (mixed C# and markup)"
I've found that this issue was already fixed in 0.4.0
[Reference 1](https://github.com/aspnet/Blazor/issues/784)
[Reference 2](https://github.com/aspnet/Blazor/issues/753)

[2019-04-30 14:22] vova-lantsov-dev commented on #9854
![image](https://user-images.githubusercontent.com/45858087/56968786-74b26880-6b6c-11e9-88b0-6478a0592f9c.png)

[2019-04-30 14:23] #9853 closed

[2019-04-30 14:39] Duavide opened #9855 "[Identity] Edit User Profile -> Add another service to log in throw InvalidOperationException"
### Describe the bug
Add external login to a logged in user will throw InvalidOperationException if the external login is already connected to another existing account.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '3.0.100-preview4-011223'.
2. Create a new Web Application MVC with Identity enabled.
3. Execute database migration to create the identity db.

[2019-04-30 15:12] Tratcher commented on #9847
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-2.2#listenoptionsprotocols
[code]

To use http2-prior-knowledge you must disable HTTP1.

[2019-04-30 15:12] #9847 closed

[2019-04-30 15:22] khusainovRuslan commented on #8965
@guylando how you fix this problem? show problem code please....

[2019-04-30 15:35] CarrotSolutions commented on #9834
I can replicate this scenario in any standard MVC or Razor Page default template.  Link to a page with a Blazor component and all of the other page links will no longer function.  You can even replicate the same situation using the boilerplate template app for a Blazor Server Side app and linking to any mvc view or razor page.  All links no longer work.  This has to be a Startup issue.  Removing
e

[2019-04-30 15:37] mdmoura opened #9856 "ModelBinder - Model becomes NULL if only One of its properties is invalid"
### Describe the bug

Model becomes **NULL** if only **ONE** of its properties is invalid

### To Reproduce

Using ASP.NET Core 2.2 I have, on an API Project, the following Controller:

    public class BookController : Controller {

      public async Task<IActionResult> Create([FromBody]BookModel model) {
          // Validate and Create book
      }

    }

The BookModel is:

    public class B

[2019-04-30 15:58] NTaylorMullen commented on #8630
An interesting case here will be handling things like `~/` which don't "TagHelperify" at design time but do at runtime.

[2019-04-30 16:21] pgrm commented on #7232
FYI, we did an update to version 2.2 and so far I didn't notice this pattern yet. So we won't be able to provide you with any additional information. I guess this issue can be closed?

[2019-04-30 16:36] DerekChasse opened #9857 "BuildRenderTree does not get called in Preview 4"
### Describe the bug
I've added a simple component which overrides `BuildRenderTree` and attempts to wrap ChildContent in a simple `<div>`.  I've more complex logic in a real-world usage, but this simple test demonstrates the issue.

I'm wondering if this is related to the ix for #8192

### To Reproduce
See reproducible demo here:
https://github.com/DerekChasse/BuildRenderTree

Index.razor has a `

[2019-04-30 16:37] danroth27 commented on #9854
Currently we don't support concatenation of strings inside the values of attributes passed to components. You can work around the issue by doing the concatenation separately and then pass in the value.

[2019-04-30 16:38] danroth27 commented on #9849
@ImadMichaelAyoub Could you please provide the console output from the browser dev tools?

[2019-04-30 16:39] Eilon opened #9858 ""HTTP Error 500.30 - ANCM In-Process Start Failure" with Microsoft.AspNetCore.App on Azure"
_From @vRITHNER on Thursday, 11 April 2019 08:06:38_

# Issue Title
"HTTP Error 500.30 - ANCM In-Process Start Failure" with Microsoft.AspNetCore.App on Azure

# General
Hi,
I recently learned you'll remove soon

.
To anticipate this move, I replaced in my solution the package in all projects with

Now, both projects (AspNet Core 2.2 Web + AspNet Core 2.2 WebApi work in localhost both in IISExpres

[2019-04-30 16:39] Eilon commented on #9858
_From @Houuse on Sunday, 28 April 2019 18:08:05_

it's happened with once where i was deploying to azure (maybe a different reason from your case),
my case where my app was deploying targeting 64bit run-time whereas azure app instance(shared tier) were set to run 32bit apps , so you may deploy targeting 32 bit , or maybe upgrade your app instance in azure portal (and tweak it's settings)

[2019-04-30 16:39] Eilon commented on #9858
_From @Eilon on Tuesday, 30 April 2019 16:32:28_

@shirhatti / @jkotalik - any thoughts on this? Should I move to the AspNetCore repo?

[2019-04-30 16:39] Eilon commented on #9858
_From @jkotalik on Tuesday, 30 April 2019 16:34:48_

Just move to the aspnetcore repo.

[2019-04-30 16:42] danroth27 commented on #9848
Hi @Knarzi,

It looks like you have a dependency on Microsoft.EntityFrameworkCore.SqlServer from your client-side Blazor project. This will pull in a native dependency for the SQL client which then causes the IL linker to fail. This scenario isn't expected to work in the browser, but the IL linker should ideally provide a better error message. We'll need to follow up with the Mono folks on this.

[2019-04-30 16:42] #9848 closed

[2019-04-30 16:47] vova-lantsov-dev commented on #9854
@danroth27 so you mean replace

Color="red"
... w3-@Color ...

With

Color="w3-red"
... @Color ...
?

[2019-04-30 16:48] guylando commented on #8965
@khusainovRuslan add logging in Configure/ConfigureServices code to see what is executed by the code and where it gets stuck. This way can find specific problem. I found some extreme case which caused infinite loop which caused this error.

[2019-04-30 16:48] danroth27 commented on #9825
Hi @hannespreishuber,

The SignalR client isn't supported yet on client-side Blazor due at least in part to it's dependency on WebSocket support in the runtime, which we haven't enabled yet. There have been some community efforts to get it to work that you can take a look at:

- https://github.com/csnewman/BlazorSignalR: This one replaces the transport layer for the .NET SignalR client
- https://g

[2019-04-30 16:48] #9825 closed

[2019-04-30 16:49] #9814 closed

[2019-04-30 16:56] danroth27 commented on #9804
@Gaulomatic You won't see the console output in the browser during prerender, because the code is running on the server. If you need to do anything that requires JS interop then you need to put that logic in the `OnAfterRenderAsync` method.

Since this sounds like it's by design, I'm going to go ahead and close. If we've misunderstood the issue please let us know!

[2019-04-30 16:57] danroth27 commented on #9802
This should be fixed in Preview5 (see #7570).

[2019-04-30 16:57] #9802 closed

[2019-04-30 16:59] Gaulomatic commented on #9804
I was referring to `System.Console.WriteLine()`, so on the server. This was working in preview4, but it does not in preview5 and preview6.

[2019-04-30 17:04] danroth27 commented on #9745
@tezine We added support for `EventCallbacks` that should address this scenario: https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#eventcallback. Use EventCallback<T> instead of Action<T> and then rerendering should get handled correctly for you.

[2019-04-30 17:04] #9745 closed

[2019-04-30 17:08] sebastienros commented on #7232
Apparently I missed this issue, just saw the notification for you most recent message. I think docker limits (cgroups) is only supported by the GC since 2.2. And there are some great improvements in 3.0 regarding to this https://devblogs.microsoft.com/dotnet/using-net-and-docker-together-dockercon-2019-update/

[2019-04-30 17:08] #7232 closed

[2019-04-30 17:20] SteveSandersonMS opened #9860 "Make component binding case-sensitive"
# Summary

We've going to change component binding to be case-sensitive and add warnings for cases where you made an obvious mistake. We've treated all of these issues as conventions or recommendations thus far, but having components fail to bind usually results is really vexing compiler errors from C#

- [x] Make compiler bind components case-sensitively
- [x] Make completion of components and at

[2019-04-30 17:21] VidyaKukke opened #9861 "Ask: Aspnet core Docker images"
I refer to microsoft/dotnet:2.1.5-aspnetcore-runtime-nanoserver-1803 as my base docker image. Turns out it does not install on Windows 10 Enterprise. So I thought of switching to
microsoft/dotnet:2.1.5-aspnetcore-runtime-nanoserver-1809 and of course it does not exist.
But what is more head scratching is I can't find those tags on
https://hub.docker.com/_/microsoft-dotnet-core-aspnet/ even though

[2019-04-30 17:23] chrissainty commented on #9857
As I mentioned on Gitter @DerekChasse. This is an issue with your code, you've overridden `BuildRenderTree` in a base class, `TestComponentBase.cs`, which is inherited by `TestComponent.razor` but you've also specified markup in `TestComponent.razor` file. This is overriding your code in `BuildRenderTree`.

[2019-04-30 17:33] danroth27 commented on #9804
@Gaulomatic I'm not able to reproduce this. I updated `Counter` like this:

[code]

If I then run the app and browse to view-source:https://localhost:5001/counter I get this in the console logs:

[code]

[2019-04-30 17:42] alexandrereyes opened #9863 "Blazor is calling properties get on every user interaction"
Why Blazor calls property get every time a user interact with some component?
For example:

[code]

When I hit the button, FullName is recalculated again, why does this happen? The button above doesn't interact with anything.

This can lead to a huge performance problem.

[2019-04-30 17:45] irium opened #9864 "Support retrieving TLS-unique"
We are developing EST server on .NET platform. Currently we're struggling with getting 'tls-unique' somehow using available options. We tried: WCF, HttpListener.Request.TransportContext.GetTlsTokenBindings(), TcpListener->SslStream.TransportContext.GetTlsTokenBindings()

None of them is working so :( I see in the AspNetCore sources that it's support is postponed.
https://github.com/aspnet/HttpSysS

[2019-04-30 17:46] danroth27 commented on #9854
Instead of this:

[code]

I think you can do this:

[code]

[2019-04-30 17:47] Eilon commented on #9861
This issue was moved to dotnet/dotnet-docker#1097

[2019-04-30 17:47] #9861 closed

[2019-04-30 17:52] Tratcher commented on #9864
@blowdart

[2019-04-30 17:54] blowdart commented on #9864
I believe the same response still stands, when there's enough demand for it. Given the move of Edge, to Chromium, where it's not supported, it really does take a back seat these days to features that have a higher customer demand and value.

[2019-04-30 17:56] davidfowl commented on #3269
Is anyone here using app insights?

[2019-04-30 17:57] hannespreishuber commented on #9825
@danroth27 https://github.com/danroth27/BlazorChat/blob/master/BlazorApp1/Program.cs Looks like Client without Blazorextensions?

[2019-04-30 17:58] mikaelm12 opened #9866 "Update Streaming to not use our AsyncEnumerableAdapters"
Cancellation should be fully supported on `IAsyncEnumerable` now (or soon?) so we shouldn't need to use our `AsyncEnumerableAdapters` and `CancelableAsyncEnumerable` helper classes anymore.

[2019-04-30 18:04] danroth27 commented on #9825
https://github.com/danroth27/BlazorChat/blob/master/BlazorApp1/BlazorApp1.csproj#L14

[2019-04-30 18:33] anurse commented on #9245
Closing this as we haven't heard from you and generally close issues with no response after ~7 days. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-04-30 18:33] #9245 closed

[2019-04-30 18:33] ryanbrandenburg commented on #9400
I've found no way to make this work without the `--disable-host-check` command, and to the best of my knowledge this is purely a problem between webpack-dev-server and Firefox (it seems [Firefox doesn't send the Origin header](https://github.com/webpack/webpack-dev-server/issues/1604#issuecomment-449491014) in this case which is expected by webpack-dev-server).

I talked it over with @blowdart and

[2019-04-30 18:35] anurse commented on #9818
Our docs have some information about how to collect logs and diagnostic info. I'm not sure how well they will transfer to running on PS4 :).

https://docs.microsoft.com/en-us/aspnet/core/signalr/diagnostics?view=aspnetcore-2.2

[2019-04-30 18:45] NTaylorMullen commented on #9786
In regards to suppressing, I'd stay away from the single line `@pragma suppress ...` suggestion because it overloads the C# meaning of `pragma` which adds to the confusion of which portions of a Razor document are impacted when providing those pragmas and the level of support is in regards to C# error/warning codes? i.e:

[code]

I see three options:
1. Add a Razor specific directive that function

[2019-04-30 18:50] sebastienros opened #9868 "Regression on JsonPlatform"
![image](https://user-images.githubusercontent.com/1165805/56985065-5b91c380-6b3c-11e9-8c0d-784ee832fdbc.png)

I could reproduce the results and isolate it to these commits:
https://github.com/dotnet/coreclr/compare/f360bbc0cf893bcd612516563145729743d3af2b...df2f4c4feb273545e91fd8d7d170dc424b741f19

As I still have the patched version that @janvorli gave me with this changes:
https://github.com/do

[2019-04-30 18:58] anurse commented on #9787
Moving this to discussions for now as we don't plan to add the ability to manipulate the middleware list (since as @Tratcher says, it's not linear).

[2019-04-30 19:09] MasodSaidi commented on #3269
Yes

[2019-04-30 19:28] mkrtich-m opened #9869 "Use Code+PKCE OAuth2 flow for SPA applications"
Current SPA templates are using API request to load [oidc-client](https://github.com/IdentityModel/oidc-client-js) configuration which boils down to following
[source code](https://github.com/aspnet/AspNetCore/blob/master/src/Identity/ApiAuthorization.IdentityServer/src/Extensions/DefaultClientRequestParametersProvider.cs#L41). As you can see it only supports implicit code flow which is less secur

[2019-04-30 19:33] CarrotSolutions commented on #9834
MVC Repo with same issue - [https://github.com/CarrotSolutions/Blazor12MvcWebApp.git](https://github.com/CarrotSolutions/Blazor12MvcWebApp.git)

[2019-04-30 19:49] javiercn commented on #9683
@danroth27 I think I saw this the other day when trying out a separate bug.

I think what is happening is that the server takes a long time to process the event/render and the signalr connection gives up along the way.

I will investigate more, but I’m not sure we will be able to do anything reasonable here.

I was rendering 100.000 elements at the time, so I didn’t give it much importance given t

[2019-04-30 20:04] Eilon commented on #8487
@dougbu - is this a preview5 thing or later?

[2019-04-30 20:17] enetstudio commented on #9863
I think it is because the StateHasChanged method is called automatically after the click event to re-render the component. In other words, this is an inherent limitation you should live with.

[2019-04-30 20:20] dougbu commented on #8487
It's both. I'll be sending a PR for the NSwag repo later today referencing the preview 5 daily builds. Expect that PR won't close 'til I update it to reference the then-public packages.

[2019-04-30 20:35] rynowak commented on #9786
I don't understand why we can't just do 1 and call it `@pragma`. That name is well known unlikely to collide with code in a user's project.

[2019-04-30 21:06] anurse commented on #9687
We'll look and see if there's a good option here. We might end up dropping polyfills for some of these altogether so that each environment can bring an appropriate polyfill.

[2019-04-30 21:08] blowdart commented on #9869
Dupe of https://github.com/aspnet/AspNetCore/issues/7734

[2019-04-30 21:16] anurse commented on #5382
Default interface implementations landed in preview 5 (verified it myself). We believe this is sufficient to solve this problem without converting to an abstract class. Closing for now.

cc @davidfowl

[2019-04-30 21:16] #5382 closed

[2019-04-30 21:16] brockallen commented on #9869
Dom's issue suggests to add to the ASP.NET Core OIDC security handler (for server-side clients). This issue asks that the SPA client be configured to use code+pkce.

[2019-04-30 21:19] anurse commented on #9444
Moving to the backlog until something specific motivates this (like a platform that doesn't support it). Adding the `up-for-grabs` label since it should be relatively simple. https://github.com/aspnet/AspNetCore/pull/7672 already started this work but we haven't heard from the author in a while.

[2019-04-30 21:20] anurse commented on #9519
Let's do a brief online API review. @BrennanConroy post the ref assembly code here when you've locked it down. We can probably approve this without a meeting.

[2019-04-30 21:21] SamProf commented on #6349
My way is https://github.com/SamProf/EmbeddedBlazorContent

1) In server `Startup.cs` configure server to host embedded  files
[code]
2) For `@Html` Razor helper in `_Host.cshtml `  i write helper to add inside `<head>` section section with links to resources.
[code]
This will produce code like this:
[code]

[2019-04-30 21:23] ryanbrandenburg opened #9870 "Make local template tests not depend on SharedFramework"
Currently in order to test the templates you must first build the Shared framework with something like eng\scripts\cibuild.cmd. That takes quite a while and makes doing templating work slow and arduous. If there was a way we could not have to build the Shared framework to test locally (the CI tests should still test against the Shared framework) that would help speed things up.

It's possibly not

[2019-04-30 21:23] anurse commented on #8768
@BrennanConroy you found a Xamarin issue tracking a similar problem. It looks like they are actively working on it. Can you link it here for our tracking purposes?

[2019-04-30 21:29] anurse commented on #9184
I think we should do a quick investigation of what happens when you try to send an `Index` or a `Range` to the client, but otherwise the rest is up to the serializers to handle.

[2019-04-30 21:30] anurse commented on #9216
@pranavkm you assigned yourself to this, are you going to do it? If not, let me know and I'll find a ~~victim~~ person to fix it.

[2019-04-30 21:32] anurse commented on #9866
Duplicate of https://github.com/aspnet/AspNetCore/issues/7960

[2019-04-30 21:32] #9866 closed

[2019-04-30 21:37] anurse commented on #5351
Proposal via @halter73:

We call your Hub method in a loop "serially". However, once you go async and return a Task. When you do that, we will observe the task completion and log errors but no longer block the pipeline.

Addition from @anurse:

Should we provide a setting to limit the number of concurrently running Hub methods?

[2019-04-30 21:39] anurse commented on #6701
To confirm, is anyone seeing a functional problem here or is it just a spurious exception message in the logs? I just want to make sure to understand if this is actually causing a functional problem. It looks like it's the writing of the "ping" message that's failing, which is fine (though annoying to see in the logs).

We'll look at ensuring the pings are stopped before the pipeline is closed in

[2019-04-30 21:40] ytqsl commented on #4318
@JunTaoLuo, @Tratcher we see this bad request behaviour with Kestrel 2.1.9, 2.1.10 and 2.2.4.

Repro:
- asp.net core app hosted in a container
- send GET with header test=Tk'emlúps te Secwépemc

Result: 400 bad request "Malformed request: invalid headers."

[2019-04-30 21:42] NTaylorMullen commented on #9786
My concern is just with its C# equivalent and any confusion it might introduce. If you feel like those concerns aren't valid then sure we can go with 1 with pragma

[2019-04-30 21:42] anurse commented on #7385
We think this will be improved in preview 6. If you see this issue again in that version, let us know and we can investigate further.

[2019-04-30 21:42] #7385 closed

[2019-04-30 21:43] Tratcher commented on #4318
Comments on closed issues are not tracked, please open a new issue with the details for your scenario.

Please also include a wireshark trace as that's the easiest way to confirm the encoding. You're not using IIS as a proxy to kestrel are you? That configuration still has encoding issues.

[2019-04-30 21:44] rfrancisco commented on #6701
I believe that there is a functional problem. We saw a reduction of connected users, that was the main reason i was forced to move revert back to the version compiled with 1.0.0-rc-final.

[2019-04-30 21:45] anurse commented on #5350
Let's just improve the error message to have more detail.

[2019-04-30 21:46] ChainReactive commented on #9819
Looks like `IHubProtocol` is to SignalR what formatters are to web API.  Where's the official doc on implementing it?  If there's none, would you help me get started?  Please show how the below `BsonOutputFormatter`'s functionality would fit into an `IHubProtocol` implementation.

    using System;
    using System.IO;
    using System.Threading.Tasks;
    using Microsoft.AspNetCore.Mvc.Formatters

[2019-04-30 21:48] anurse commented on #4399
@mikaelm12 says he has a branch already ;)

[2019-04-30 21:52] halter73 commented on #9327
The action item here is to distinguish between timeouts and invalid handshake responses in the error message.

[2019-04-30 21:53] MagicAndre1981 commented on #7385
I can only test it in 3.0 RTM and when [EF6 runs on .net standard 2.1](https://github.com/aspnet/EntityFramework6/issues/271#issuecomment-486057715). So until this happens I'll use my dummy HubConnectionBuilder workaround in 2.2/1.1.0.

[2019-04-30 22:02] Lupusa87 opened #9872 "[blazor] Not to hard code blazor component property names in RenderTreeBuilder"
Is it possible **not to hard code** blazor component property names in RenderTreeBuilder?

Instead:
 `builder.AddAttribute(2, "Title", "How is Blazor working for you?");`
to have:
` builder.AddAttribute(2, SurveyPrompt.Title, "How is Blazor working for you?");`

[code]

This will have **two benefit**:

1. If developer is manually building blazor component using RenderTreeBuilder, it will be **easi

[2019-04-30 22:20] anurse opened #9873 "[ANCM In-proc] Improve handling of malformed warmup requests"
Epic https://github.com/aspnet/AspNetCore/issues/8833

In some versions of Windows (RS1 or below), we get a malformed warm-up request that has missing data. We throw `NullReferenceException`s in that case, which is not ideal. We should investigate this further and try to make our logic more resiliant to these nulls, but **only** during these malformed warmup requests.

[2019-04-30 22:20] anurse commented on #9873
https://github.com/aspnet/AspNetCore/issues/6075 covered some of this.

[2019-04-30 22:20] anurse commented on #9873
When this is done, consider backporting.

[2019-04-30 22:21] anurse commented on #9749
Closing this because we think there are a few more cases. We want to solve this in 3.0 before backporting. Filed https://github.com/aspnet/AspNetCore/issues/9873.

[2019-04-30 22:22] ytqsl opened #9874 "Kestrel rejects requests with non standard ASCII characters"
### Description
When sending a request to Kestrel web server with header value which has non standard ASCII characters, the server rejects the response with 400 Bad request: malformed headers.

### Reproduction steps
Steps to reproduce the behavior:
1. create a new web app: dotnet new web
2. run the application as console (not IISExpress)
3. send a request (using Fiddler/postman/wget) with non sta

[2019-04-30 22:23] pranavkm commented on #9216
Sure, I'd be happy to review the change if somebody else does the PR.

[2019-04-30 22:23] anurse commented on #9873
Let's time box this a little as well. We know we can get some cheap wins with the changes we've already taken.

[2019-04-30 22:24] ytqsl commented on #4318
https://github.com/aspnet/AspNetCore/issues/9874

[2019-04-30 22:26] anurse commented on #9394
Need to review if the corefx API is present.

[2019-04-30 22:29] ytqsl commented on #9874
Forgot to mention that when using IIS/IISExpress, inproc mode accepts the header while the default out of proc doesn't (as 'expected'...)

[2019-04-30 22:29] anurse commented on #9349
We should look at two aspects to this:
* Make sure our options are configured right for HTTP/2
* Add the `Action<SslThingyOptions>` callback.

[2019-04-30 22:32] anurse commented on #7975
I'll look at making this change and adding a setting to turn it back off. Technically a breaking change which will need some announcement.

[2019-04-30 22:37] anurse commented on #9600
Let's suppress `Complete` on the request body reader. @jkotalik will take a further look.

[2019-04-30 22:39] anurse commented on #9520
Blocked on https://github.com/dotnet/core-setup/pull/5859

[2019-04-30 22:40] anurse commented on #9130
I'll take a glance.

[2019-04-30 22:40] anurse commented on #9130
The native dll is just missing the commit hash.

[2019-04-30 22:42] chrdlx opened #9875 "Server Side Blazor (Without Websocket) App crash bug"
Using the default Server Side Blazor, with Preview 4 I've found that after clicking several times on the Application's navigation menues suddendly the app stopped working showing in the console:

![Capture](https://user-images.githubusercontent.com/20750172/56997655-eeebe880-6b7e-11e9-9de3-c0c9c0959f1f.JPG)

After trying to duplicate this for some time I've found it's pretty random (some times tak

[2019-04-30 22:43] anurse commented on #8843
After some discussion with @halter73, it seems like the best fix here (given that this is 3.0) is to no longer permit parallel writes to the response body stream. Thoughts @davidfowl ?

[2019-04-30 22:44] anurse commented on #8329
@jkotalik did this already :).

[2019-04-30 22:44] #8329 closed

[2019-04-30 22:47] anurse commented on #4744
Backlogging, as per my comment above. Again, if gRPC has higher priorities here, let us know and we can revisit.

[2019-04-30 22:47] anurse commented on #4734
Also backlogging. Happy to revisit if gRPC pushes the prioritization up.

[2019-04-30 22:50] anurse commented on #4716
Backlogging as per above. Keep us posted gRPC folks ;)

[2019-04-30 22:52] davidfowl commented on #9875
Are you running multiple application instances?

[2019-04-30 22:53] anurse commented on #7828
Given IIS doesn't even set a default, this doesn't feel like something we'll get to in 3.0.

[2019-04-30 22:54] anurse commented on #4763
@Tratcher to follow up on the status of HTTP/2 support in `HttpClient`.

[2019-04-30 22:55] anurse commented on #4623
Milestone: @davidfowl (aka whenever he gets to it)

[2019-04-30 22:56] anurse commented on #4693
@JeremyKuhne is there something left to do here after your earlier PR?

[2019-04-30 22:57] chrdlx commented on #9875
No, just one.   I've found too that if I use websocket.... it crashes if I use several browser windows, which is what you call multiple application instances I guess?

So what I've found until now:

Without Websocket my code example fails with just 1 instance,  with Websocket enabled you have to use several instances to make it crash.

Regards

[2019-04-30 22:57] chrdlx commented on #9875
Also, using Websocket, I don't see browser's console errors,  the counter just stops.

[2019-04-30 23:05] divega commented on #9816
@ms4hafiz do you mean that that is the correct database name and SQL Server instance name but that the application still fails?

[2019-04-30 23:21] ajaybhargavb commented on #8508
Doesn't repro anymore. Dup of https://github.com/aspnet/AspNetCore/issues/5637

[2019-04-30 23:21] #8508 closed

[2019-04-30 23:35] madelson commented on #9839
@davidfowl makes sense that you can use an ILogger for this. As part of my reporting I want to gather a bunch of information from the request. Is that something I can inject into my logger?

[2019-04-30 23:40] halter73 opened #9876 "HttpResponse implementations should throw if writes are not awaited"
Today, Kestrel (I haven't tried this yet on InProc or HttpSysServer) will not throw if you call HttpContext.Response.Body.WriteAsync() multiple times in a row without awaiting for the response. Ex:

[code]

It's possible that the first call to WriteAsync returns a completed Task, but even if it doesn't, Kestrel will allow the app to write again immediately.

To make this work on top of a PipeWrite

[2019-04-30 23:44] anurse commented on #9819
There's no docs for implementing it, as it's not a high priority use case for us. I don't have any specific suggestions for you on how to implement it other than to look at the existing [JSON](https://github.com/aspnet/AspNetCore/tree/master/src/SignalR/common/Protocols.Json/src) and [MessagePack](https://github.com/aspnet/AspNetCore/tree/master/src/SignalR/common/Protocols.MessagePack/src) implem

[2019-04-30 23:48] HaoK commented on #3774
@ajcvickers

[2019-04-30 23:51] #7930 closed

[2019-04-30 23:51] anurse commented on #6701
Hrm, I don't think that would be directly related to the callstack you're seeing though. The ping logic is very carefully designed to be resiliant to failures like this. In fact, if that log message is written it means the exception is **not** bubbling up, since we catch it and don't re-throw it: https://github.com/aspnet/AspNetCore/blob/0b7458cc984c0c0f9c702f9831c1815a365c07ac/src/SignalR/server/

[2019-04-30 23:52] mikaelm12 commented on #7930
This covered accepting `IAsyncEnumerable` params on the client and accepting them as params on Hub methods.

[2019-04-30 23:54] anurse commented on #9683
I'd definitely agree with @javiercn here. SignalR isn't really designed with large message payloads in mind. It's designed for frequent small-to-medium updates. Generally, when users ask about transferring large files "through" SignalR, we strongly recommend hosting the content at some URL (blob storage, CDN, etc.) and sending the URL through SignalR instead of the actual content.

[2019-04-30 23:57] anurse commented on #9216
Cool, just wanted to clarify the status of your assignment ;P. We'll take a look at this in preview 6

[2019-05-01 00:03] benaadams commented on #9876
Might also want to throw if the request ends/control is returned to server before write completion? To also catch
[code]

[2019-05-01 00:17] halter73 commented on #9876
Not awaiting the last write is an interesting case. The server can't just throw an InvalidOperationException since user code is no longer on the stack. I think logging a warning makes sense. That feels similar to how we log a warning when the app doesn't consume the entire request body.

[2019-05-01 00:27] benaadams commented on #9876
Log an error? It does mean a coding error.

[2019-05-01 00:27] JamesNK commented on #9876
What about reading from the request without awaiting?

[code]

[2019-05-01 00:30] benaadams commented on #9876
Should also 💥

Unfortunately in most cases they will instantly complete; so these will only be best endeavour errors?

[2019-05-01 00:36] halter73 commented on #9876
Parallel reads already throw. @benaadams is right that the example would not throw if the request body data was already buffered.

This highlights a concern of mine about making this breaking change to HttpResponse: in most cases, bad code won't throw.

The unawaited write has to return an incomplete Task before any InvalidOperationExceptions are thrown. And writes really only return incomplete Ta

[2019-05-01 00:50] benaadams commented on #9876
Large responses likely will hit the return control without completing barrier though? e.g. if you single shot a large response.
[code]
Not sure what the default threshold is where it starts giving back pressure?

[2019-05-01 00:58] #8007 closed

[2019-05-01 01:07] rynowak commented on #2590
So we've done extensible handlers for DeveloperExceptionPage, and we've done a fallback to plaintext for non-html-clients (ie, not browsers).

That feels like enough for a default experience here. Since this is for dev-time, we don't think JSON is going to end up being more human-readable than plaintext.

Feel free to post your feedback if you think have a JSON version of the **development excepti

[2019-05-01 01:09] rynowak commented on #4888
So we've done extensible handlers for DeveloperExceptionPage (#8536), and we've done a fallback to plaintext for non-html-clients (ie, not browsers).

That feels like enough for a default experience here. Since this is for dev-time, we don't think JSON is going to end up being more human-readable than plaintext.

Feel free to post your feedback if you think have a JSON version of the development e

[2019-05-01 01:09] #4888 closed

[2019-05-01 01:11] halter73 commented on #9876
Kestrel configures the pipe to start inducing back pressure after buffering 64KB by default. OSs also wait for their buffers to fill before introducing back pressure. OSs buffer a lot more than Kestrel itself does. Just take a look at our [MaxRequestBufferSizeTests](https://github.com/aspnet/AspNetCore/blob/599717b2f55a1b949e0aa7b43d1de5bcb0abb654/src/Servers/Kestrel/test/FunctionalTests/MaxReques

[2019-05-01 01:13] PureKrome commented on #2590
@rynowak where do we post feedback about this statement? here in this issue?

[2019-05-01 01:25] blowdart commented on #9874
@JunTaoLuo / @Tratcher

What is the expected behaviour here? You know I believe rejecting the headers is the correct default, with an option to accept invalid and possibly dangerous input being left as opt-in, for all hosts.

[2019-05-01 01:30] JamesNK opened #9878 "Remove gRPC feed when no longer needed"
PR https://github.com/aspnet/AspNetCore/pull/8906 introduces a gRPC feed so a nightly version can be referenced.

Consider removing the feed once the nightly package is no longer needed.

[2019-05-01 01:34] benaadams commented on #9876
Could pull down the default if in Development mode? Would that help?

[2019-05-01 01:39] Tratcher commented on #9876
HttpSys & HttpListener have explicitly supported this for a very long time. There was a legit benchmark showing this was required in order for a response to saturate a 1gb connection. Something about copying large VHDs between datacenters.

There's no reason to go back and remove this where it's not causing an issue. In Kestrel's case there are functional reasons to remove it. I would be curious t

[2019-05-01 01:43] Tratcher commented on #9874
UTF-8 sent directly to Kestrel should work. No other encodings are accepted. We'd want a wireshark trace to verify the encoding.

If you send UTF-8 through IIS out-of-proc the encoding gets messed up.

[2019-05-01 02:18] davidhenley commented on #9402
I'm getting the same error even on client side on Mac.

https://pastebin.com/C6YJhsZM

[2019-05-01 02:20] JeremyKuhne commented on #4693
I didn't port my header parsing rearchitecture as it collided with other changes. It had significant improvements in microbenchmarks but it would need to be redone and reevaluated.

https://github.com/aspnet/KestrelHttpServer/pull/3068

It would be worth examining again, but I don't think there is any need to do it for a given milestone.

[2019-05-01 02:37] ms4hafiz commented on #9816
Yes the connection string is OK and I cannot see any problem. It works without any problem in development mode but when in production, I can login but after login it throws this error.

I am suspecious about the Program and Startup. I am sharing following

**Program**
[code]
**Startup**
[code]

[2019-05-01 02:48] danroth27 commented on #9402
@simonziegler You can get builds of Preview5 from https://github.com/aspnet/AspNetCore/blob/master/docs/DailyBuilds.md

[2019-05-01 03:21] rynowak commented on #2590
Sure. If you're interested in this

[2019-05-01 03:39] Tratcher commented on #9874
Note the UTF-8 support was added in 2.2 (https://github.com/aspnet/KestrelHttpServer/issues/1144). That's the only version we need to investigate.

[2019-05-01 04:16] tn-5 commented on #9683
I agree in general that this should not be done, at least not without a good reason.

In our use case this logo is a client logo in a large multi-tenant installation. The logo is stored in the database and retrieved from an API and then displayed. Normally the logo should be small (< 20k) and retrieved only once (since it is present on the main layout across all pages).

We are designing our Blazo

[2019-05-01 04:22] davidfowl commented on #9683
@pranavkm didn’t you fix this issue the other day in the message pack implementation?

[2019-05-01 04:41] davidfowl commented on #9816
It sounds like a connection stirng problem. How are you changing your connection string in production vs development?

PS: There's all sorts of stuff that needs to change in that startup code. Here's my rewrite:

Program.cs:

[code]

Startup.cs

[code]

[2019-05-01 05:20] TJatITJ commented on #9851
I am also having this issue. I have upgraded 2 solutions and one of them works fine and the other fails with this error.
Candidate Release? I don't think so

[2019-05-01 05:25] rynowak commented on #9851
@pranavkm

[2019-05-01 05:31] davidfowl commented on #9839
I would avoid injecting anything contextual that isn't thread safe. Loggers are singletons.

You shouldn't write your own, you should use one of the built in providers or something like serilog. If you still want to write your own logger provider, look at the existing providers (https://github.com/aspnet/Extensions/tree/master/src/Logging).

No. The framework logs any uncaught exception here (incl

[2019-05-01 05:40] TJatITJ commented on #9851
@pranavkm:

More info:
  <ItemGroup>
    <PackageReference Include="Microsoft.AspNetCore.Blazor" Version="3.0.0-preview4-19216-03" />
    <PackageReference Include="Microsoft.AspNetCore.Blazor.Build" Version="3.0.0-preview4-19216-03" PrivateAssets="all" />
  </ItemGroup>

Annoying but not a killer: razor pages no longer accept single lines without {}
eg. for(...)
   singleLine();

input & select o

[2019-05-01 05:41] TJatITJ commented on #9851
Sorry @kmuthukumar23 if I hijacked your report

[2019-05-01 06:11] danroth27 commented on #9851
@kmuthukumar23 Could you please share the project file for the project that fails to build with these errors?

[2019-05-01 06:22] kmuthukumar23 commented on #9851
Hi @danroth27 , Please find my proj file

`<Project Sdk="Microsoft.NET.Sdk.Razor">

  <PropertyGroup>
    <TargetFramework>netstandard2.0</TargetFramework>
    <IsPackable>true</IsPackable>
    <RazorLangVersion>3.0</RazorLangVersion>
    <LangVersion>7.3</LangVersion>
    <AddRazorSupportForMvc>true</AddRazorSupportForMvc>
  </PropertyGroup>

  <PropertyGroup>
    <NoWarn>IDE0002;1701;1702;BL9993

[2019-05-01 06:26] kmuthukumar23 commented on #9851
<Project Sdk="Microsoft.NET.Sdk.Razor">

  <PropertyGroup>
    <TargetFramework>netstandard2.0</TargetFramework>
    <IsPackable>true</IsPackable>
    <RazorLangVersion>3.0</RazorLangVersion>
    <LangVersion>7.3</LangVersion>
    <AddRazorSupportForMvc>true</AddRazorSupportForMvc>
    <Version>17.1.0.32</Version>
    <FileVersion>17.1.0.32</FileVersion>
  </PropertyGroup>

  <PropertyGroup>
    <

[2019-05-01 06:27] kmuthukumar23 commented on #9851
Hi All,

[2019-05-01 06:28] kmuthukumar23 commented on #9851
Hi @danroth27

this is my proj file.

![dan](https://user-images.githubusercontent.com/31958591/57007724-76316e80-6c08-11e9-98ad-375d461fdf55.png)

[2019-05-01 06:31] redowl3 commented on #9875
Is this after publishing to Azure or running locally?

[2019-05-01 07:07] ImadMichaelAyoub commented on #9849
Dears:

I have uninstalled everything and I installed Microsoft Visual Studio Community 2019, Version 16.1.0 Preview 2.0 from the link you provided, application runs normally, but the behavior still not OK as preview 1.0, knowing that I'm using .Net Core 3 Preview 4, the behavior is as follows:

The application runs correctly, it gives https://localhost:44393/ in the URL and application run proper

[2019-05-01 07:09] TJatITJ commented on #9851
@danroth27
Here's mine, hope it helps. Again, sorry for hijacking
<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>netstandard2.0</TargetFramework>
    <OutputType>Exe</OutputType>
    <RestoreAdditionalProjectSources>
      https://dotnet.myget.org/F/aspnetcore-dev/api/v3/index.json;
      https://dotnet.myget.org/F/blazor-dev/api/v3/index.json;
    </RestoreAdditiona

[2019-05-01 09:29] PureKrome commented on #2590
Thanks for listening @rynowak .

My thoughts in this are pretty weak - plain text solution basically solves it all :) But I'll just jot down my thoughts cause this is the opportunity. Maybe someone else might get an 'a-ha' moment, based of this.

But having plain text is soo awesome! It will be usable :)

---

So this is all about *web api*'s -> which usually are responses sent back as `JSON`-or-`

[2019-05-01 09:58] #9816 closed

[2019-05-01 10:04] kmuthukumar23 commented on #9851
Hi @danroth27 ,  this is my proj file

![dan](https://user-images.githubusercontent.com/31958591/57012949-89ebcd80-6c26-11e9-8430-543c0aeb1971.png)

[2019-05-01 10:04] Tewr commented on #9570
Dedicated server-side project with simple tester on first page to reproduce:

https://github.com/Tewr/Bug9570Repro

[2019-05-01 10:12] vignatov commented on #9851
Same situation here. 2 projects, 1 is building fine, another fails with the this error.
Both client-side Blazor projects.

[2019-05-01 10:18] yukozh opened #9885 "[Blazor] How to bind window key down event?"
How to bind window key down event?

[2019-05-01 10:32] kjeske commented on #9854
You can also use:
`@if (Disabled) {
    <button class="@($"w3-{Color}")" >...</button>
}`

[2019-05-01 11:04] dennismaxjung commented on #9692
I have the same problem.
it occurs when navigating on the website.

I'm hosting my Blazor-ServerSide application within a docker container. Behind a nginx reverse proxy.

Outside (internet): https - port 443
Internal (docker network / nginx <-> blazor-app): http - port 80

it looks like the application only detects it is localy running on port 80 (http) and do not accept the navigation url which i

[2019-05-01 11:07] kmuthukumar23 opened #9886 "How to refer the Components Libraries in Blazor with .net core 3.0.0.preview4"
### Describe the bug
Thanks in advance..:)..I have created the blazor client side project and create the Blazor component library as per the [documentation](https://docs.microsoft.com/en-us/aspnet/core/blazor/class-libraries?view=aspnetcore-3.0&tabs=visual-studio-code#razor-class-libraries-not-supported-for-client-side-apps).

And then also import the name space in '_Imports.razor' file. But the b

[2019-05-01 11:09] Gaulomatic commented on #9804
Weired, I can longer reproduce this any more. Yesterday I had to uninstall a bunch of other preview SDKs (5s and 6s) because I was no longer able to start anything other than preview6 stuff and now this weired behavoir is gone. I uninstalled essentially every 3.0 SDK except for preview4 and preview5-011562 and reverted the `dotnet` executable to preview5-011562. This must have been some installati

[2019-05-01 11:09] #9804 closed

[2019-05-01 11:13] vankampenp opened #9887 "GeneratePasswordResetTokenAsync generated token does not work from other domain"
### Describe the bug
Not sure it is a bug or a missing feature.
We have two identical websites using the same underlying database. The only difference is the language. For example www.example.fr and www.example.nl

I would like to have one admin location, generating users, or resetting passwords. However, when the token is created on one web site, it does not work on the other.

### To Reproduce
S

[2019-05-01 11:22] lcsondes opened #9888 "Type checking for partial tag helpers"
### Is your feature request related to a problem? Please describe.
`<partial name="_MyPartial" model="blah"/>` compiles cleanly even if _MyPartial.cshtml starts with `@model SomeOtherTypeNotAssignableFromBlah`.

### Describe the solution you'd like
I'd like this to not compile.

### Describe alternatives you've considered
N/A

### Additional context
N/A

[2019-05-01 11:44] Vivelin opened #9889 "UseStatusCodePagesWithReExecute should use GET instead of the original HTTP method"
### Describe the bug
When using **UseStatusCodeWithReExecute**, the new request will not get executed if the original request was using a different HTTP method than the new requests accepts.

### To Reproduce
Steps to reproduce the behavior:
1. Using version 2.2.0 of ASP.NET Core.
2. Add `UseStatusCodeWithReExecute("/api/error")` with a controller action like the following:

[code]

3. Invoke a co

[2019-05-01 11:47] chucker commented on #9872
Wouldn’t `nameof` accomplish this?

[2019-05-01 12:12] 0ptim commented on #9851
I'm also experiencing these issues!

[2019-05-01 12:22] hosezelt commented on #9886
Are you using VS2019 Preview 2?

[2019-05-01 12:24] kmuthukumar23 commented on #9886
Hi @hosezelt

I am using VS2019 RC..  :(

[2019-05-01 12:35] chrdlx commented on #9875
Nothing related to Azure,  it happens in IIS / IIS Express locally in the development machine,  also hosted in a server remotely.

[2019-05-01 12:44] benaadams commented on #9876
Seems fair.

You can do overlapped writes on a socket at the OS level; but also the OS will return the write as completed almost instantly (as MaxRequestBufferSizeTests shows); however Pipelines does not support overlapping writes, though also has a margin for instant completion. Pipelines coalesces writes to a certain degree (via dispatch) instead of overlapping.

So its a question of doing a lot

[2019-05-01 12:46] Walad100100 commented on #9851
I am facing the same problem for the last week!

Any solution yet?

[2019-05-01 12:50] chrdlx commented on #9875
I just tried with the latest build Preview6-011674, exactly the same issue.

[2019-05-01 12:52] redowl3 commented on #9875
Weird it's working fine for us locally (on preview4) - we only see this issue on Azure, but thanks to your heads up of turning on websockets that seems to have sorted the Azure issue.

[2019-05-01 12:55] chrdlx commented on #9875
If you're using IIS Express for local tests don't forget that it has websocket support from default... did you try to host it locally in an IIS Server without websocket support?
 I tried this in 3 different machines, with different OSes, and in all of them happens the same.

[2019-05-01 13:03] ggirard07 commented on #2590
Not sure this is a real good case either but simply because our clients always parse response from the API as JSON as this is the only content type we use/support. Having a plain text response is going to throw exceptions on the client side that will only add noise the the debug experience...

[2019-05-01 13:04] dbaechtel opened #9890 "Blazor sample gets 63 Errors"
Blazor sample solution of Blazor Client side app gets **63** Errors
Like:
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0234	The type or namespace name 'Mvc' does not exist in the namespace 'Microsoft.AspNetCore' (are you missing an assembly reference?)	WebApplication1	C:\Users\dbaec\source\repos\WebApplication1\Pages\Counter.razor	1	Active

How do I Fix all of these errors

[2019-05-01 13:16] dbaechtel opened #9891 "Breakpoints not activated in Blazor Client side sample solution."
### Describe the bug
Breakpoints set in Program.cs in the Main routine in Debug mode says "Breakpoint will not be Hit. No Symbols have been loaded for this document."

How do we Debug without breakpoints?

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of NET Core 3.0 Preview 4 SDK (3.0.100-preview4-011223)
2. Follow https://docs.microsoft.com/en-us/aspnet/core/blazor/get-

[2019-05-01 13:31] bordecal commented on #8519
@mkArtakMSFT : Is there anything I need to do to request review of the PR, or will that happen automatically?

[2019-05-01 13:32] pranavkm opened #9892 "razor pages no longer accept single lines without {}"
@pranavkm:

More info:
[code]

Annoying but not a killer: razor pages no longer accept single lines without {}
eg. for(...)
   singleLine();

input & select onchange events no longer accept a method name.  Throws this error:
Error	CS0029	Cannot implicitly convert type 'void' to 'object'
Other errors I can't fix:
Error	CS0103	The name 'StateHasChanged' does not exist in the current context
Error	CS

[2019-05-01 13:39] pranavkm commented on #9851
Could one of you share a repository that reproduces the error? That'd help speed up investigating this.

[2019-05-01 13:46] euronay commented on #9851
I'm seeing the same error too. I see this error on every Blazor project - even when I create a new one.

I can easily reproduce this: I open VS2019 and choose
Create a new project > Create a new ASP.NET Core Web Application > ASP.NET Core 3.0 > Blazor (client-side)

Interestingly, the project will build initially - but as soon as I open any `.razor` file I see the same errors as above:
![image](ht

[2019-05-01 13:50] khellang commented on #2590
You know... There are alternatives to this linked further up in this issue 😂😜

[2019-05-01 13:50] pranavkm commented on #9856
You likely have a error in ModelState that says that the Json deserilization failed when it encountered an invalid date. You should generally see a constructed model if validation fails, for instance if you have a `JsonProperty(Required = Required.Always)`, but not if deserialization errors.

[2019-05-01 13:50] #9856 closed

[2019-05-01 13:54] pranavkm commented on #9781
This is by design. `FromBody` uses serializers such as Newtonsoft.Json which have a different feature set compared to model binding. Model binding - indicated by `FromQuery`, `FromRoute` etc, requires that complex types have a parameterless constructor.

[2019-05-01 13:54] #9781 closed

[2019-05-01 14:11] generik0 commented on #9821
Hi @blowdart
Deployment day.

![image](https://user-images.githubusercontent.com/2411563/57020976-48a9ec80-6c2b-11e9-8238-726c0b793106.png)

even though cert registered:

![image](https://user-images.githubusercontent.com/2411563/57021020-6b3c0580-6c2b-11e9-8dee-5fe21aaade14.png)

![image](https://user-images.githubusercontent.com/2411563/57020994-5a8b8f80-6c2b-11e9-9a2f-839be5d03781.png)

What is

[2019-05-01 14:15] blowdart commented on #9821
You can manually retrieve it via the X509Certificate2 class and set it with httpsOptions.ServerCertificate, or you pass in the store and subject name in UseHttps. We don't do thumbprints because that doesn't allow for certificate rollover, unlike subject names.

Or you set the host name in the bindings and it'll get it based on that.

Setting the host name is much safer than listening on *, we've

[2019-05-01 14:26] Tratcher commented on #9876
Yes, max throughput on a single response.

[2019-05-01 14:28] generik0 commented on #9821
@blowdart This is our dev serv. just trying to get it to work right now. Hence "Url": "https://*:9091"

What do you mean by: "Or you set the host name in the bindings and it'll get it based on that."

[2019-05-01 14:28] hosezelt commented on #9886
Blazor currently only works properly with the Preview version of Visual Studio. You can find it here: [VS Preview](https://visualstudio.microsoft.com/vs/preview/)

[2019-05-01 14:29] mdmoura commented on #9856
@pranavkm Wouldn't be possible to build the model even if deserialising of some properties fails?

The model properties with deserialisation errors would become null, if nullable, or have default value.

The deserialisation errors would be added to ModelState the same was as they are now ...

With the partial model validation could carry on to next step, Fluent Validation or Annotations ...

The o

[2019-05-01 14:29] generik0 commented on #9821
@blowdart the **netsh** used to "just work" with net framework console/services. its a big shame that it doesn't for aspnetcore!

[2019-05-01 14:30] blowdart commented on #9821
"Kestrel": {
    "EndPoints": {
      "HttpsDefaultCert": {
        "Url": "https://localhost:9091"
    },
    }
  }

This would look for a certificate that matches localhost.

[2019-05-01 14:30] blowdart commented on #9821
netsh is of course rather windows specific, and is only usable with http.sys. You could go back down that route, if you wanted a slower host :)

[2019-05-01 14:34] klick-barakgall commented on #4109
This is still an issue. Any news on this? I have a sneaking suspicion that some file that is being built or an intermediate file of the build is triggering a watch rebuild in some cases, but because it gives NO information it's impossible to determine what files might be impacting this process. Is there a verbose mode that will list each file change that it does detect before it becomes overloaded

[2019-05-01 14:37] mdmoura commented on #9856
@pranavkm Maybe a flag could be added to each error indicating the origin of the error: binding or value validation. Then all the errors, and what is returned, could be handled in:

[code]

I think this would make sense instead of returning BadRequests in two steps as it is now:
1. Errors from model binder
2. Errors from validation

[2019-05-01 14:47] 0ptim commented on #9890
Allready issued at #9851

[2019-05-01 14:55] generik0 commented on #9821
@blowdart
Just to be clear. This is the appsettings that should be used:

"HttpsInlineCertStore": {
      "Url": "https://localhost:5002",
      "Certificate": {
        "Subject": "<subject; required>",
        "Store": "<certificate store; defaults to My>",
        "Location": "<location; defaults to CurrentUser>",
      }
    }

[2019-05-01 15:05] blowdart commented on #9821
That's what I'd go for. @halter73 do you have any better suggestions?

[2019-05-01 15:06] 0ptim commented on #9851
This error does not occur in the VS 2019 Preview 2 version. Try to open your project with the preview version found [here](https://visualstudio.microsoft.com/de/vs/preview/).

[2019-05-01 15:23] rynowak commented on #2590
Thanks for the feedback - some high level thoughts on this.

We divide error handling into *Developer* error handing and *Production* error handling. That's why you use see:

[code]

The developer exception page pretty prints a bunch of stuff about the request, but the *main event* is giving you the exception details. This middleware is needed because we don't want to anything built into the stack

[2019-05-01 15:50] generik0 commented on #9821
@blowdart
It works. But its going to be a settings hell for us with all our urls / deployments..

Dammit. Build hell..

Any thoughs to improving this?

![image](https://user-images.githubusercontent.com/2411563/57026195-79911e00-6c39-11e9-91c0-a9f813602545.png)

[2019-05-01 15:54] ytqsl commented on #9874
@Tratcher here's the Wireshark trace. IIS is not involved.

[ws capture.zip](https://github.com/aspnet/AspNetCore/files/3135033/ws.capture.zip)

[2019-05-01 16:03] khellang commented on #2590
My middleware (that always returns HTTP problem details as JSON) will include exception details when `IsDevelopment` is `true` by default. But it will still be there in production.

My client-side apps that consume these APIs are then guaranteed a particular response format and use a React component (kinda like smooth-code/error-overlay-webpack-plugin) that will format these errors nicely for a re

[2019-05-01 16:03] Letalis82 opened #9893 "Circuits are not being cleaned up without traffic"
Hi,

Im writing a serverside blazor application where I keep the user session data in a Session scoped class.
However I would like to dispose/clean the instance when it's no longer needed (when client disconnects or closes the page).

Any tips on how to detect this? Or should I implement an alive timer?

[2019-05-01 16:04] NTaylorMullen commented on #9892
https://github.com/aspnet/AspNetCore/issues/9637

[2019-05-01 16:04] #9892 closed

[2019-05-01 16:24] mkArtakMSFT commented on #9570
@javiercn assigning this to you as you have couple of similar issues on your plate already: #9683 and #9808.

[2019-05-01 16:29] mkArtakMSFT commented on #9641
Closing this as a dupe of https://github.com/aspnet/AspNetCore/issues/9644

[2019-05-01 16:29] #9641 closed

[2019-05-01 16:30] mkArtakMSFT commented on #9518
Please wait till @pranavkm is ready with his changes to consume System.Text.Json

[2019-05-01 16:31] mkArtakMSFT commented on #9510
We need to make sure this works in 3.0 and we will handle porting 2.2 changes to 3.0 later.

[2019-05-01 16:37] mkArtakMSFT commented on #8902
@JamesNK please close this bug, when you'll merge the PR.

[2019-05-01 16:39] #8002 closed

[2019-05-01 16:42] mkArtakMSFT commented on #9400
Dupe of https://github.com/aspnet/AspNetCore/issues/7812

[2019-05-01 16:42] #9400 closed

[2019-05-01 16:46] mkArtakMSFT commented on #4332
https://github.com/aspnet/AspNetCore/issues/8428

[2019-05-01 16:46] mkArtakMSFT commented on #8428
Closing as a dupe of the referenced issue.

[2019-05-01 16:46] #8428 closed

[2019-05-01 16:52] mkArtakMSFT commented on #9799
Thanks @conficient.
This is indeed a dupe of the referenced issue

[2019-05-01 16:52] #9799 closed

[2019-05-01 16:52] BrennanConroy commented on #8768
Issue is still there with the binary package.

`StandardFormat` is in netstandard1.1 I believe, so that shouldn't be an issue.

[2019-05-01 16:54] danroth27 commented on #9849
@ImadMichaelAyoub What version of Windows are you using?

[2019-05-01 16:54] blowdart commented on #9821
You can bind to * but have your own middleware that rejects host names you don't expect. In config you'd load the cert before the binding and pass it in as an X509Certificate2 instance

[2019-05-01 16:55] danroth27 commented on #9849
I believe we have a known issue with server-side Blazor on Win7 that I believe you are hitting.

[2019-05-01 17:00] ImadMichaelAyoub commented on #9849
Dear: I am using Windows 7

On Wed, May 1, 2019, 7:56 PM Daniel Roth <notifications@github.com> wrote:

[2019-05-01 17:03] danroth27 commented on #9849
Got it. To work around this issue, could you please try running the app without using IIS Express? You can select the project from the Run button drop down in VS.

[2019-05-01 17:16] Muchiachio commented on #8573
We had the same problem and we actually wrote a vanilla js library for our project needs. It's mostly the same as jquery validate except some javascript api methods, but default asp net core template don't use them anyway.

If some else comes here looking for a solution, you can check out our [Wellidate](https://github.com/NonFactors/Wellidate) library. I recently made it open source after adding

[2019-05-01 17:18] arizonawayfarer commented on #9851
I installed VS2019 Preview 2, and I'm still get bombarded with those errors when I open a project created with the release version of VS2019.

If I create a new Blazor project using the preview version, I do not get the errors.

[2019-05-01 17:20] generik0 commented on #9821
Thanks @blowdart. Will close for now.
Will think about it all.
Please let me know if you guys have other ideas :-)

[2019-05-01 17:20] #9821 closed

[2019-05-01 17:22] pranavkm commented on #9851
Hi, as noted in the Getting started instructions - https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.0&tabs=visual-studio, the preview4 release requires installing the latest preview release of Visual Studio that can be downloaded from https://visualstudio.com/preview. If you still see the issue after installing the preview build of VS, please file a new issue and I

[2019-05-01 17:22] #9851 closed

[2019-05-01 17:25] ryanbrandenburg commented on #9400
Not really. You created this issue to separate the Firefox "Invalid Host/Origin" thing from https://github.com/aspnet/AspNetCore/issues/7812, which now tracks the `WebSocket connection to 'ws://localhost:4568/ws/379/lsb17jhg/websocket?X....' failed: WebSocket is closed before the connection is established` error.

I do think we should close this issue though as we have no plan to take an action (e

[2019-05-01 17:27] ImadMichaelAyoub commented on #9849
You are right dear. I have tried it several times now, it is working
properly when I select project name in Run Box instead of IIS Express, is
this normal or a bug will be fixed? Thanks a lot for your help.

On Wed, May 1, 2019, 8:04 PM Daniel Roth <notifications@github.com> wrote:

[2019-05-01 17:27] anurse commented on #4693
Gotcha, thanks for helping to catch me up!

[2019-05-01 17:38] danroth27 commented on #9849
It's a bug. We need to investigate.

[2019-05-01 17:41] ImadMichaelAyoub commented on #9849
OK dear. If I face any other issue, I will let you know. Love Microsoft.
Have a great day.

On Wed, May 1, 2019, 8:39 PM Daniel Roth <notifications@github.com> wrote:

[2019-05-01 17:59] anurse commented on #4016
Re-opening to track making sure this flows through all build phases and is backported (in some form) to 2.x

[2019-05-01 18:01] ChainReactive commented on #9819
In the long run, would you consider refactoring `MessagePackHubProtocol` to make it easy to inherit from and override a few methods for customizing the payload format without having to re-implement other protocol details?  I'd like a developer experience more like implementing formatters for web API.  It could be useful in a variety of scenarios and binary formats other than BSON.

I'll keep in mi

[2019-05-01 18:02] MarinaRybalko commented on #5088
Hi!
Can you please add description? So I can implement this.

[2019-05-01 18:18] BenHayat commented on #9893
Great question;
I need something like that for my project. I suppose oe way to find out, would be through SignalR on the server side, when/if it loses connection with client.

[2019-05-01 18:20] stavroskasidis commented on #9834
I can also replicate this. I guess it has something to do with the client-side router, probably hijacking the url changes and trying to resolve them to components.

[2019-05-01 18:30] anurse commented on #9819
I doubt we would do that. The hub protocols aren't designed for customization in this way.

[2019-05-01 18:35] anurse commented on #9683
Generally we would also recommend not storing the image content in the database (instead storing it on blob storage and storing a link) but I realize you may not want to redesign your entire app :).

I'd still advise you consider using a standard server-side ASP.NET Core middleware to allow you to fetch a tenant's image using standard HTTP given the necessary data (tenant ID, authentication, etc.)

[2019-05-01 18:38] NTaylorMullen commented on #9637
Still working on fixing this :)

[2019-05-01 18:39] ChainReactive commented on #9819
SignalR Core's MessagePack hub protocol might already be customizable via the `MessagePack` library.  In `MessagePackHubProtocol`, I just spotted usage of [`IFormatterResolver`](https://github.com/neuecc/MessagePack-CSharp/blob/master/src/MessagePack/IFormatterResolver.cs).  It has a single `GetFormatters` method that returns a [`IMessagePackFormatter`](https://github.com/neuecc/MessagePack-CSharp

[2019-05-01 19:04] CarrotSolutions commented on #9834
Exactly, The capability of being able to use Blazor components inside of existing Razor or MVC apps is where this tech will gain traction in the beginning .  Note, I also tried mapping the razor pages inside Startup, verifying all pages has unique routes, etc.  Nothing works.

[2019-05-01 19:12] NTaylorMullen commented on #9137
Wont have time for this and given that it's functionally fixed in the latest VS release going to backlog this.

[2019-05-01 19:26] #8902 closed

[2019-05-01 19:32] devlnull commented on #8449
Same here, while vs code is opened this problem occurs and when it's close, works well.

[2019-05-01 19:35] Tratcher commented on #9874
[code]
That's not UTF-8, it's ANSII. `ú` is encoded as `fa`. In UTF-8 it would be `\xC3\xBA`.

[2019-05-01 19:39] stavroskasidis opened #9894 "[Blazor] In wasm (client-side blazor) HttpClient post request does not save cookie in browser"
### Describe the bug
I have a Blazor hosted project set-up with identity authentication. Using 3.0 preview 4, after an HttpClient request to the server Login api, the response correctly contains a `Set-Cookie` header with the identity cookie. However the cookie is not stored in the browser making subsequent requests unauthorized. This was working in preview 3. I am doing something wrong ?

### My

[2019-05-01 19:55] GerritBergen commented on #9894
I had this issue yesterday, putting this in the startup file of the client fixed it.

`public void Configure(IComponentsApplicationBuilder app)
        {
            if (RuntimeInformation.IsOSPlatform(OSPlatform.Create("WEBASSEMBLY")))
            {
                WebAssemblyHttpMessageHandler.DefaultCredentials = FetchCredentialsOption.Include;
            }

            app.AddComponent<App>("

[2019-05-01 19:59] GerritBergen commented on #9894
Referenced here: https://github.com/aspnet/Blazor/issues/515

With code here: https://github.com/aspnet/AspNetCore/blob/3189146b4e5c1811f6599ba38b5c8a0077128f24/src/Components/test/testassets/BasicTestApp/Startup.cs#L23

[2019-05-01 20:09] mdmoura commented on #9856
@Eilon @pranavkm Maybe ASP.NET Core 3 could allow process to carry on after a model binding error occurs? I believe you are implementing a new JSON parser for ASP.NET Core?

[2019-05-01 20:21] anurse commented on #9819
Do remember that any change you make here also needs to be replicated in all the clients you intend to support. The .NET client shares this code with the server but the JS and Java clients use completely different code (another reason why I would strongly advise against customizing the Hub Protocol).

[2019-05-01 20:23] stavroskasidis commented on #9894
@GerritBergen Thanks for replying. However I tried using that fix but the cookie is still not saved.

[2019-05-01 20:30] ytqsl commented on #9874
I tried the following headers, both didn't return 400, but the value read as is from ctx.request.headers:
[code]

[2019-05-01 20:37] thiagomajesk opened #9895 "Razor does not resolve layout view properly inside area"
### Describe the bug
Razor doesn't seem to be searching inside the `Area/Views/Shared` folder when using partial names to define a layout view inside `_ViewStart.cshtml` - works only if `_Layout.cshtml` is in the area's view root folder.

### To Reproduce
Steps to reproduce the behavior:
1. Run provided repo with `dotnet run`
2. Go to area `~/admin`
3. Remove the root `Areas\Admin\Views\_Layout.cs

[2019-05-01 20:37] rynowak commented on #9137
Could you add the details about what specific improvements you want us to make so they are not forgotten?

[2019-05-01 20:49] csturm83 commented on #8897
Thank you @blowdart  for your quick response!

The way I understand it, constrained delegation is a Kerberos protocol _extension_ ([S4U2Proxy](https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-sfu/3bff5864-8135-400e-bdd9-33b552051d94)) that Microsoft invented (may have started out as a Windows Server feature as you suggest). I believe the MIT Kerberos implementation currently [suppor

[2019-05-01 20:53] rxelizondo commented on #9894
I  probably should not be replying because I an pretty new to all this, however, I have the following (see below) and the identity cookie appears to be working just fine.

[code]

Essentially, using `AddDefaultIdentity `instead of `AddIdentity`

This `AddDefaultIdentity  `is reference from:

[code]

[2019-05-01 20:53] blowdart commented on #8897
Yea, we're treating this as a starting point to unblock what is most requested. After that, well, we'll think about additions based on customer demand,

[2019-05-01 20:55] ajcvickers commented on #9548
@HaoK @blowdart Where does `ApiAuthorizationDbContext` come from?

[2019-05-01 20:59] blowdart commented on #9548
Part of the identity server support I believe. @javiercn ?

[2019-05-01 21:03] stavroskasidis commented on #9894
@rxelizondo I don't think that helps. According to documentation

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?view=aspnetcore-2.2&tabs=visual-studio#adddefaultidentity-and-addidentity

[2019-05-01 21:04] Tratcher commented on #9874
Wireshark? Are you sure it's not sending the literal string `\x54` rather than the byte `54`?

[2019-05-01 21:20] rxelizondo opened #9897 "[Blazor] Allow ability to change page title dynamically."
Sometimes you may want to change the page title dynamically depending on certain circumstances. As far as I can see, the page title is set on `index.html` and given that this is just a regular html page I can’t use something like razor syntax to perhaps call a function that would get the correct page title dynamically.

I realize that there are other ways to accomplish this such as using JavaScrip

[2019-05-01 21:50] ytqsl commented on #9874
Any idea how to force sending a byte array instead of a string as the header value?

[2019-05-01 21:54] Tratcher commented on #9874
No, very few clients let you control the header encoding.

[2019-05-01 21:56] kiyote opened #9900 "Changing bound Parameter not causing re-render on StateHasChanged"
Have a page with sub-components with bound parameters.
https://github.com/kiyote/RiftDrive/blob/master/src/RiftDrive.Client/Pages/PlayPages/GameViewPage.razor

Cause a change in those bound parameters.
https://github.com/kiyote/RiftDrive/blob/master/src/RiftDrive.Client.State/AppState.cs

Have StateHasChanged called indirectly.
https://github.com/kiyote/RiftDrive/blob/master/src/RiftDrive.Client/P

[2019-05-01 21:57] ytqsl commented on #9874
Is there a way to inject custom code before Kestrel rejects the request, or I must have a reverse proxy in front of it?

[2019-05-01 21:57] marcelgoldstein opened #9901 "Blazor (server-side) System.InvalidOperationException: Received a notification for a rendered batch when not expecting it."
I`ve got an Blazor server-side app deployed as self-contained (dotnet 3.0 preview4) on Azure AppServices.
It seems to run fine on simple Pages (counter with additional buttons or the weather forecast displayed in an pageable datagrid), but it dies after 0-5 UI interactions on a more advanced page.
In the browser-console the following error occurs and after that error the signalR connection is disc

[2019-05-01 21:58] NTaylorMullen commented on #9137
Update our partial parsing to not force reparses when a user types out character by character `@Html.XYZ`

[2019-05-01 21:59] rxelizondo commented on #9894
Or maybe I am doing something wrong with a side effect of it working for some strange reason...

By the way, I should have mentioned that in order to get this to work, I created a brand new MVC project with the individual user account authentication option selected. The I just copy / paste the auto generated authentication code from the MVC project into the Blazor server side project. I did the sa

[2019-05-01 22:01] Tratcher commented on #9874
A reverse proxy is your best option.

[2019-05-01 22:07] ytqsl commented on #9874
Ok, thanks, I'll get working on that. It would be nice if the server was a little more lenient in this, or at least allows interjection. This exact set up is working with IIS in proc mode as well as other web servers. Unfortunately Kesterl is the only container hosting option ATM.

[2019-05-01 22:24] Tratcher commented on #9813
HeaderPropagation was a case where we expected it to be used in a multi-threaded way so direct access to HttpContext was not an option (HttpContext is not thread safe).

[2019-05-01 22:55] kiyote commented on #9900
I suppose I should clarify this is client-side Blazor.  Sorry about that.

[2019-05-01 23:09] MarioHewardt opened #9904 "Add the capability to generate a dump file for unhandled exceptions in asp.net core applications."
.net core supports generating core dumps when an application crashes as a result of unhandled exceptions (https://github.com/dotnet/coreclr/blob/master/Documentation/botr/xplat-minidump-generation.md). This does not however work for asp.net core as unhandled exceptions (from a users code perspective) are handled down the stack. There should be a mechanism by which I can enable core dump generation

[2019-05-01 23:10] anurse commented on #4016
TODO:
* [x] 3.0: Produce `aspnetcoremodule.version` file in build output.
* [ ] 3.0: Flow this file to the final drop (https://github.com/aspnet/AspNetCore-Internal/issues/2439)
* [ ] 2.2: Produce `aspnetcoremodule.version` file in build output.
* [ ] 2.2: Flow this file to the final drop
* [ ] 2.1: Produce `aspnetcoremodule.version` file in build output.
* [ ] 2.1: Flow this file to the final dro

[2019-05-01 23:26] NTaylorMullen opened #9905 "[Tooling] Razor FAR doesn't refresh for related documents when _ViewImports.cshtml changes"
Changing a _ViewImports.cshtml file doesn't cause tooling to re-parse impacted files. This looks to be an oversight. [This](https://github.com/aspnet/AspNetCore-Tooling/blob/ad5ef4c44b7edc744afdee014257dbaf66f83197/src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/BackgroundDocumentGenerator.cs#L284) should be `relatedDocument`

[2019-05-02 00:17] #6361 closed

[2019-05-02 00:18] #9609 closed

[2019-05-02 00:34] NickCraver commented on #8630
Is there a chance of `~/` *not* being async in nature overall? It seems...very odd to experience. As a user, I'd just assume replace it with a static somewhere to avoid all the pain it causes downstream today.

[2019-05-02 00:59] kiyote commented on #9900
Total misunderstanding of StateHasChanged.  I had previously thought it was global.  I now understand it triggers changes scoped to the location it's invoked from.

[2019-05-02 00:59] #9900 closed

[2019-05-02 02:41] davidfowl commented on #9904
This isn't ASP.NET Core specific. We should move this to the .NET Core diagnostics repository.

[2019-05-02 02:57] rynowak commented on #8630
I super duper agree and it's under consideration. The perf implications of this being a tag helper are quite large.

[2019-05-02 03:30] benaadams commented on #9813
Can do something like https://github.com/aspnet/AspNetCore/pull/9908 for HeaderPropagation

[2019-05-02 04:14] PureKrome commented on #2590
@khellang when I was writing those phew paragraphs from a comment (a few slots above this comment) I was thinking of your lovely `ProblemDetails` library and nearly deleted my entire reply because I think that's the best solution IMO.

I've also mentioned in another GH issue _somewhere_ about how, IMO, all-and-any errors in an ASP.NET Core webapp should return a PD for all responses .. and this fu

[2019-05-02 05:28] tn-5 commented on #9683
@davidfowl   I've tested again with latest nightly (11681) and the problem is still there, so it is not fixed.

When I tested now I realised that it only happens when the navigation is performed by using `NavigateTo` from the `UriHelper`.

In the repro example you can copy `Mainlayout.razor` to `Layout1.razor`. When navigating using the button click (which uses `NavigateTo`) it fails. When clickin

[2019-05-02 05:34] highfield commented on #9819
@ChainReactive that's not part of the protocol, rather of the interface exposed by the driver. Moreover, you're asking to support BSON-over-websocket: to me that means the binary representation of the original data, not the DOM useful for manipulation.

That being said, why not make yourself a small test? take any BSON recordset coming out the DB, then copy its binary buffer to a signalR response.

[2019-05-02 05:45] davidfowl commented on #9683
I dunno if the fix is merged but there is an issue that @pranavkm found in the current impl. I dunno if it's related to this but it's a bug in the protocol parsing which might be related.

[2019-05-02 06:08] redowl3 commented on #9901
Have you got WebSockets enabled?

[2019-05-02 06:33] javiercn commented on #9548
ApiAuthorizationDbContext is just a convenience class for the templates.

We don’t plan to support all the variants IdentityDbContext supports.

If you want to customize the key you can extend IdentityDbContext directly and implement IPersistentGrantDbContext as ApiAuthorizationDbContext does.

https://github.com/aspnet/AspNetCore/blob/master/src/Identity/ApiAuthorization.IdentityServer/src/Data/A

[2019-05-02 06:43] fs86 commented on #8508
I still get this error in the current version (preview4)

[2019-05-02 08:05] lorenzomelato opened #9911 "[Blazor server-side] Breakpoints doesn't works on Visual Studio 2019."
### Describe the bug
In Visual Studio 2019, I can set a breakpoint in the razor page but the breakpoint doesn't hit.

### To Reproduce
Steps to reproduce the behavior:
1. Using Visual Studio 2019 (both V16 and V16.1 preview 2), ASP.NET Core 3.0-preview-4;
2. Generate a new project with the last Blazor server side template.
3. Put a breakpoint inside the counter razor view function;
4. The breakpoi

[2019-05-02 08:15] dewelloper commented on #3167
Why did you closing the issure without finding a solution?

[2019-05-02 08:42] filipw commented on #4422
FWIW I have encountered this issue:

[code]

8 times in the past week, from a total traffic of roughly 3 million requests in that timeframe.

This is on Azure App Service, .NET Core 2.2.4 and using ANCM InProcess.

[2019-05-02 08:44] Xarkam commented on #7531
Same issue. The problem appeared in Jetbrain Rider while vs code is opened. When vscode it's closed, works well.

vscode 1.31.1
dotnet 2.2.203
OS: kde neon 18.04

I installed my system on a brand new drive a week ago and made the change to `proc/sys/fs/inotify/max_user_watches` as requested by vscode.

By the way the value in my file is `524288`
It's a value well beyond what @rtrimurthulu  says in

[2019-05-02 08:55] xuanhnvt commented on #4221
Hi all,

I also had an issue with dynamic endpoint routing when change from old routing (using IRouter). I followed @joshua-mng's suggestion, I implemented middleware to redirect enpoint at runtime by changing EndpointSelectorContext,
I would like share my project to all who get same issue. Below is project's link:
https://github.com/xuanhnvt/GenericEndpointRouting
@dotnetshadow If you didn't get