[2019-07-18 15:53] jzabroski commented on #12245
Interesting.  That is what Streambase does: they kick out of the queue all the clients that are too slow to connect to the CEP stream. Their "queue" is actually LMAX Disruptor design pattern.  Performance is then relative to fitting the ring buffer in the L1 cache. If the ring buffer cannot fit in the L1 cache, then it becomes a bit like having an empty beer fridge in the living and having to go t

[2019-07-18 16:08] #12288 closed

[2019-07-18 16:10] BrennanConroy commented on #11900
We're going to need more info to be able to do anything here as we can't reproduce the issue you're seeing.

Could you collect a network trace (as described [here](https://docs.microsoft.com/en-us/aspnet/core/signalr/diagnostics?view=aspnetcore-2.2#network-traces)) of the custom client talking to the server and the server getting null for the properties?

And providing a project the can show the i

[2019-07-18 16:14] SteveSandersonMS commented on #12051
If we update the authentication state's `ClaimsPrincipal` each time we see a new SignalR connection, and we take it from `HubCallerContext.User`, then we get the same level of support that SignalR itself offers:

 * For websockets, the principal always matches your current connection, so always works whenever you're connected. For Windows authentication specifically, it will throw if you try to ev

[2019-07-18 16:16] jkotalik commented on #12301
In your webhost, are you using Kestrel or IIS? If you are using Kestrel, do you have Http2 enabled?

[2019-07-18 16:18] jkotalik commented on #12304
Do you know which server you are using (Kestrel or IIS)? In 2.2, we also added an IIS based server which could have different behavior too.

[2019-07-18 16:19] rynowak commented on #12293
I hadn't thought about it but I don't have a  super duper strong feeling.

I generally like the idea of keeping the diagnostic for setting a property as a warning forever. We're telling you that you *probably shouldn't*.

Contrast this to defining a parameter property as non-public. We're telling you that it *definitely will not work*.

[2019-07-18 16:22] YevhenLukomskyi commented on #12304
@jkotalik I'm using Kestrel

[2019-07-18 16:26] NTaylorMullen commented on #12293
Definitely agree. Glad  I clarified 😄

[2019-07-18 16:26] #12293 closed

[2019-07-18 16:33] TehWardy commented on #12301
Is Http2 not enabled by default ?
Seems like an odd thing to not do for new framework.

I'm using Kestrel.

[2019-07-18 16:35] jkotalik commented on #12301
it isn't enabled by default in 2.2. Will be on by default in 3.0.

[2019-07-18 16:37] Tratcher commented on #8848
Re-opening because this is still happening and all linked issues are closed.
Restore.cmd on a clean repo fails with the vcxproj error given above. build.cmd work.

[2019-07-18 16:40] Tratcher commented on #12304
Yes this is expected because the server is using an IPv6 dual mode socket. The mitigation given above is the recomendation. https://github.com/aspnet/AspNetCore/issues/12304#issuecomment-512767090

[2019-07-18 16:41] mkArtakMSFT commented on #12311
Thanks for contacting us, @00george.
The reason behind TagHelpers not format the content is to save no all the extra characters. Besides, it'll be a relatively big amount of work to enable this and we can't justify such an investment.

[2019-07-18 16:41] #12311 closed

[2019-07-18 16:46] mkArtakMSFT commented on #12300
Thanks for contacting us, @josundt.
Endpoint Routing differs from the "old" routing system in many aspects. If you really need the "working" behavior, simply disable Endpoint Routing.
@rynowak is this the expected behavior?

@josundt, as for the second issue:

please file it separately, and we'll review it separately.

[2019-07-18 16:50] mkArtakMSFT commented on #12240
Thanks for contacting us, @ThoolooExpress.
This is the behavior of NewtonSoft.json, which is an external library. Feel free to file an issue in the
https://github.com/JamesNK/Newtonsoft.Json repo.
In 3.0 we're switching to System.Text.Json, which doesn't constructor binding.

[2019-07-18 16:50] #12240 closed

[2019-07-18 16:52] mkArtakMSFT commented on #12223
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2019-07-18 16:53] #12058 closed

[2019-07-18 16:55] mkArtakMSFT commented on #12215
Thanks for contacting us, @meyerovb.
This is an intentional limitation from System.XML and it's not controlled by us in any way.

[2019-07-18 16:55] #12215 closed

[2019-07-18 16:56] mkArtakMSFT commented on #12199
Thanks for contacting us, @John0King.
`page` is a reserved keyword and you shouldn't use it. See https://github.com/aspnet/AspNetCore/wiki/MVC-Reserved-Keywords for more details.

[2019-07-18 16:56] #12199 closed

[2019-07-18 16:58] meyerovb commented on #12215
So why is it i can create an xml entity like that in the first place?

[2019-07-18 16:58] mkArtakMSFT commented on #12175
Thanks for contacting us, @ramonscampos.
Are you experiencing this on .Net Core 2.2? If so, this is a known issue and you can find more details about it here: https://github.com/aspnet/AspNetCore/issues/4802

[2019-07-18 17:03] mkArtakMSFT commented on #12161
Thanks for contacting us, @BrightSoul.
We're currently busy putting the final touches up for the upcoming 3.0 release.
We'll look into this after we're done with 3.0.

[2019-07-18 17:09] ewilansky commented on #3176
We also ran into the error too many redirects error with a simple .NET Core 2.2 React app. We configured the ASPNETCORE_HTTP_PORT environment variable to port 443 and kept the Startup.cs unchanged (includes UseHttpsRedirection middleware). We also tried adding             UseForwardedHeaders middleware, but that didn't make a difference. We were still getting the redirects error.

Our solution was

[2019-07-18 17:26] blowdart commented on #12310
@jmprieur this appears to be from Wilson. Can you explain what's going on?

[2019-07-18 17:28] rynowak commented on #12293
@SteveSandersonMS any thoughts?

[2019-07-18 17:42] Tratcher commented on #11305
What about IHttpBodyControlFeature.AllowSynchronousIO?

[2019-07-18 17:50] JunTaoLuo opened #12319 "Cleanup StringHelpers"
The StringHelpers at https://github.com/aspnet/AspNetCore/blob/master/src/Middleware/Diagnostics.EntityFrameworkCore/test/UnitTests/Helpers/StringHelpers.cs should not be needed. The src project should have an InternalsVisibleTo attribute for the test project and the test code should access the internal resource strings directly instead of going through reflection.

[2019-07-18 17:51] Tratcher commented on #12310
@brentschmaltz

[2019-07-18 17:53] davidfowl commented on #11305
I think this feature needs to be an abstract base class the moment we need to add optional features like that. Do you have a shape in mind yet? Can you write a class proposal?

[2019-07-18 17:54] bradygaster commented on #10509
After talking to a few of our developers who are working on Preview 7 and the supporting packages that will need to be updated for the Azure SignalR Service, I came up with a series of steps for folks who want to **publish a server-side Blazor app running ASP.NET Core 3.0 Preview 7  to App Service on Linux**. We're working to mitigate these steps, and some of them will just go away once Preview 7

[2019-07-18 17:56] Herdo opened #12320 "[Blazor] Documentation for OAuth flow with client-side Blazor"
I am trying to do setup a client-side Blazor (ASP.NET Core Hosted) project with a third-party OAuth2 login provider, but the [current documentation for authentication and authrorization](https://docs.microsoft.com/en-us/aspnet/core/security/blazor/?view=aspnetcore-3.0&tabs=visual-studio) doesn't cover this use-case.

The scenario requires me to only use the third-party login provider, without any

[2019-07-18 18:04] bradygaster commented on #12115
@anurse - left commentary over [here](https://github.com/aspnet/AspNetCore/issues/10509) after talking with the devs and trying out the scenario.

[2019-07-18 18:20] Tratcher commented on #11305
I'm experimenting locally. An abstract base class would make it really hard for servers to implement, they all have custom feature collections.

[2019-07-18 18:20] lastlink commented on #12156
what about discord

[2019-07-18 18:24] dougbu commented on #6845
@anurse what is your preference over what was in d641dffdc1? That may be a workaround but it's reliable.

[2019-07-18 18:25] terrajobst commented on #12156
What benefit does it have over Gittter? We already use Gitter and it's built for GitHub. In my opinion, you'll have to offset that quite a bit.

[2019-07-18 18:27] mkArtakMSFT commented on #12162
@SteveSandersonMS can you answer this question please? Thanks

[2019-07-18 18:28] galvesribeiro commented on #12156
Discord is more famous in the world of gaming... They are very game-oriented (i.e. now playing, shards, etc.) even thought some communities hang around there like (part of) Facebook devs with React rooms etc.

I like Slack because of its search and other features like voice calls. When helping people we just get in a call and quickly solve the problem without having to add everyone that ask for he

[2019-07-18 18:33] terrajobst commented on #12156
That's my thinking too.

[2019-07-18 18:37] galvesribeiro commented on #12156
Just adding more to that, AspNet team already merged the repos, so it would be a matter of just create 1 room like `dotnet/aspnet`.

[2019-07-18 18:40] chobo2 commented on #11943
@HaoK

So I have to do?

[code]

[2019-07-18 18:41] #11808 closed

[2019-07-18 18:46] anurse commented on #6845
My preference is that `git clean` not delete the TS files. Getting people to use a non-standard clean command (particularly external contributors) isn't really a suitable long-term solution IMO. I agree it's the best we've got right now though.

[2019-07-18 18:47] rynowak opened #12322 "RazorSDK needs to define its own property for `ErrorLog` that gets passed to CSC"
Currently Razor SDK will pass the value of `ErrorLog` in MSBuild to CSC - this is the same property that's used by the main invocation of CSC, and so the result is that the log file is overwritten.

This makes it much harder to troubleshoot problems with CSC since the error log gets clobbered.

[2019-07-18 18:47] SteveSandersonMS commented on #7419
Plan following offline discussion:

 * Make `Router` figure out the union of all the route parameter names across all the route templates for each component. Then when supplying parameters, supply `null` for any not in the current route.
 * Check that components can receive `null` for value-type parameters and they get treated as `default(T)`.

[2019-07-18 18:51] Tratcher commented on #6845
In other words, keep this open and move it to the backlog.

[2019-07-18 18:54] anurse commented on #12218
Yes, but it breaks users updating from preview to preview.

[2019-07-18 18:56] HaoK commented on #11943
Yup, and then make sure you url decode the token on the way back

[2019-07-18 18:59] HaoK commented on #12303
This is something where the ability to scaffold a few pages is ideal (only the login page /  manage page) and delete that text from the view.  Thoughts @ajcvickers ?

[2019-07-18 19:07] nguerrera commented on #12322
Just for clarity, /errorlog isn't about problems with csc, it's a structured JSON rendering of all diagnostics in a standard format called SARIF. This integrates with various code analysis reporting systems, etc. Overwriting this file on View compilation makes the feature unusable together with razor sdk.

[2019-07-18 19:15] littlejohnjt commented on #9061
I am having a similar issue but not necessarily to a component.  I want to basically process JS promises back in C# by passing an instance method to JS to call when a promise succeeds (kind of a promise handler) which would populate a TaskCompletionSource<T> object and return it to C#.  I could then await the call.  So am I to understand that we'll have JS invocation of an instance method from a g

[2019-07-18 19:27] chobo2 commented on #11943
@HaoK

Hmm I am still having problems

Raw Token

`CfDJ8IWFAz1gD91Pqn/zn4L4Op6X/4lessN26aG//jLLzOKnKFesBaKl+I5M+zXETVZexrHc8cl0zCSJhISZu5JKGT/i3AThLGwrICSzdqOkzDYFnx+2zR4tr2fUdT9Kc2QQ0kGKZaWA9Tf3bMJID6IaMnjXdbG2UKi+GYH7/YqVqW+HVCXopXHNXtxWIiqiY+/ltZ+ecDA5DlvY4+SwzeWu2UeOkHH5q8ZbShshLvAD53jU`

now I added this line of code

     token = HttpUtility.HtmlEncode(HttpUtility.UrlEncode(token))

which re

[2019-07-18 19:30] HaoK commented on #11943
Its not the token you need to html encode, you need to html encode the entire link that contains the url encoded token that you are emailing, so they can click on a link that works.

[2019-07-18 19:34] chobo2 commented on #11943
@HaoK

Well when I send out my email, I pass it to a send grid template which has

`<a href="http://www.example.com/{{token}}">Reset Password </a>`

what gets converted to

<a href="http://www.example.com/{CfDJ8IWFAz1gD91Pqn%2fzn4L4Op6X%2f4lessN26aG%2f%2fjLLzOKnKFesBaKl%2bI5M%2bzXETVZexrHc8cl0zCSJhISZu5JKGT%2fi3AThLGwrICSzdqOkzDYFnx%2b2zR4tr2fUdT9Kc2QQ0kGKZaWA9Tf3bMJID6IaMnjXdbG2UKi%2bGYH7%2fYqVqW

[2019-07-18 19:50] YevhenLukomskyi commented on #12304
Thanks everyone for explanation! I'm closing the issue

[2019-07-18 19:50] #12304 closed

[2019-07-18 20:22] HaoK commented on #11943
Try sending the token as a query string

[2019-07-18 20:23] chobo2 commented on #11943
@HaoK

That will probably work, I just would have rather to used it as in a param as it is easy to get at(via react router).

Why do these tokens use unsafe symbols in the first place?

[2019-07-18 20:42] rynowak commented on #12229
Steve and I reviewed this on a call and I super like all of the ideas to improve this.

[2019-07-18 20:42] rynowak commented on #12221
Closing this. I'll address the `RemoteUriHelper` thing as part of UriHelper API review.

[2019-07-18 20:42] #12221 closed

[2019-07-18 20:43] rynowak commented on #11907
Closing this. The changes needed have been made.

[2019-07-18 20:43] #11907 closed

[2019-07-18 20:47] HaoK commented on #11943
These are tokens and opaque to identity, in this case the tokens are generated using Base64 encoding which is not safe, the app is responsible for round tripping the tokens correctly to identity

[2019-07-18 20:52] rockarts commented on #10088
I can fix the issue by killing the IIS worker process. VS 2017 then asks if I want to restart VS under different permissions to debug. Seems like it could be related to trying to debug on IIS without elevated permissions.

[2019-07-18 20:55] davidfowl commented on #11305
True, it means we're going to lean on default interface methods.

[2019-07-18 21:05] anurse commented on #12269
Triage: Yep, we will probably need to react to this. Backlogging since we don't have a timeline on the AAD changes yet.

[2019-07-18 21:06] dougbu commented on #6845
Thanks for your perspectives and for unassigning me 😺

[2019-07-18 21:09] anurse opened #12324 "Performance improvements for Client Certificate auth"
* Evaluate revocation list caching (Windows does it by default but other OSes?)
* Caching validation results (could use the per-connection caching stuff in Kestrel)

[2019-07-18 21:11] anurse commented on #4666
Contingency plan if we can't get DIM working (having some issues) is to punt to 3.1.

[2019-07-18 21:13] anurse commented on #11462
For 3.0 we don't think this is feasible. Current recommendation is to ensure transformations are resilient to multiple invocations.

[2019-07-18 21:20] novogeek commented on #12322
+1. We are facing this issue currently for Asp.net core 2.2 projects wherein the code analysis results of Roslyn analyzers are being overwritten. The msbuild.log file has the code analysis warnings, but the sarif files doesn't. Looking forward for the fix.

[2019-07-18 21:31] poke commented on #12156
Discord doesn't really fit the code centric discussions we usually have. For that Slack and Gitter work best.

I agree that Gitter makes the most sense here as a general public chat, although I personally find it rather difficult to follow discussions there.

As for the rooms, I don't think it makes sense to restrict the discussion to a single room. There are far too many separate topics. On the .

[2019-07-18 21:51] mkArtakMSFT commented on #9403
@javiercn assigning this to you to tackle the remaining work here. Please work with @danroth27 to lock down on what the experience should look like.

[2019-07-18 21:52] mkArtakMSFT commented on #9403
Reassigned this to @HaoK who owns the IdentityUI

[2019-07-18 21:56] paultechguy commented on #2797
Same issue here on Ubuntu 18.04.  I added this to /etc/profile and have rebooted:

    export ASPNETCORE_ENVIRONMENT=Development

In terminal windows, I can "printenv" and verify the value is "Development", but when I started my website locally:

sudo dotnet mywebsite.dll

It runs, but indicates the environment is Production.

    Hosting environment: Production
    Content root path: /var/www/myw

[2019-07-18 21:58] mkArtakMSFT commented on #10284
Hi @itcancle. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2019-07-18 21:59] chobo2 commented on #11943
@HaoK

But from what I can tell IIS does not like % stuff in the url, and as shown in my case no amount of encoding will make it accept it.

I would think this would be taken in consideration seeing it is all MS products.

[2019-07-18 22:03] mkArtakMSFT commented on #5272
@k-vekos, @FAlmeidaActionpoint do you still face this issue?

[2019-07-18 22:06] pranavkm commented on #10696
@aford22 I tried a couple of things and I am unable to reproduce the stack trace that you produced. Dispose happens inside of the sync context, I am unable to find a code path where the state is modified in a concurrent way that would reproduce this problem.

@defend your stack trace looks like an issue with the 3rd party package. I'd recommend following up with them.

[2019-07-18 22:06] #10696 closed

[2019-07-18 22:20] galvesribeiro commented on #12156
No no, when I said I single room I meant not to bring the whole aspnetcore/ to a single room. it could and probably should be easier to migrate one by one starting by the bigger one which is asppet.

Like I said, I do think Gitter is a lot worse than Slack as I mentioned the reasons.

I just would like that we had a single app to deal with, and the most usable prevail... The hard thing is that you

[2019-07-18 23:18] #11720 closed

[2019-07-18 23:24] rynowak opened #12329 "Blazor API Review: Microsoft.AspNetCore.Components.Web"
# Summary

`Microsoft.AspNetCore.Components.Web` is our home for all things HTML-specific in Blazor.

This means any components that generate HTML here - as well as HTML-specific concepts like our event-args types and event handler definitions. The goal is to try and prevent HTML-specific concepts from showing up when Blazor is used with other pixel stacks.

Additionally, I'm recommending that we

[2019-07-19 00:06] djhaanpaa opened #12333 "Getting started with Entity FRamework Persist Keys for dataprotection"
Trying to setup entity framework storage for asp.net dataprotection api
Results in the following

[code]

Steps to reproduce the behavior:

1. Using this version of ASP.NET Core '2.2.301'
2. Run this code

[code]

3. See error

### Expected behavior
The application will work

### Additional context
dhaanpaa$ dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   2.2.301
 Commit:

[2019-07-19 00:06] halter73 opened #12334 "Call PipeWriter.CompleteAsync instead of PipeWriter.Complete"
Now that PipeWriter.CompleteAsync() has been added (https://github.com/dotnet/corefx/issues/39241), we should call PipeWriter.CompleteAsync() wherever we call PipeWriter.Complete() today and wouldn't want to to sync-over-async IO. PipeWriter.Complete() can potentially do sync-over-async IO given a non-default PipeWriter. StreamPipeWriter is the big existing example of this since it will flush the

[2019-07-19 00:07] djhaanpaa commented on #12333
This is connecting to an azure sql server

[2019-07-19 01:16] Max-Hollywood opened #12337 "Minor UI: Microsoft login button disappears when an invalid password is used to login via the form"
### Using
ASP.NET Core 2.2, MVC, Identity

### Describe the bug
In ASP.NET MVC, using Identity and the 3rd party Microsoft login system, if you click "Login", and enter a password that doesn't match anything in your database, the Microsoft 3rd party login button disappears, replaced with the "Use another service to login" message.

### To Reproduce
Steps to reproduce the behavior:
1. Using this ve

[2019-07-19 01:33] John0King commented on #12199
@mkArtakMSFT  I know it's a keywork for RazorPage ,  but the problem is **the `page` is a very popular querystring for pagination**, even github use that in search list .

for now if  possible, we should make the routing system select `action` and `controller` first ,  and when there no `action` and `controller` , then try the `page`  keyword .

------------

In the future, I think maybe we should

[2019-07-19 01:48] davidfowl commented on #12312
These are mostly in tests.

[2019-07-19 04:04] itcancle commented on #10284
okay. Thank you for your reminder

[2019-07-19 05:27] howardgod opened #12342 "Blazor server-side project hosted on far away server suffers latency problem"
### Describe the bug
I deploy my Blazor server-side project to IIS on Windows Server 2012. The server is kindly of far distance from my laptop, average delay would be around 150 ms~200 ms.  So when I access the web app, it suffers latency problem seriously. Is this the limitation of deploy on server which is far away from client? If so, the only solution is to use Blazor client-side project instea

[2019-07-19 05:40] davidfowl commented on #12342
Yes, it's pretty fundamental problem. Unfortunately we can't render faster than the speed of light 😄. Watch this for a more in-depth explanation of the pros/cons of each https://youtu.be/uW-Kk7Qpv5U?t=2857.

[2019-07-19 05:41] mkArtakMSFT opened #12343 "3.0-Preview8 validation"
This issue will be used to collect all info related to the verification data for **3.0.0-Preview 8** release:

Build to use: daily build from https://github.com/dotnet/core-sdk#installers-and-binaries
If you plan to create any Azure resources specifically for the verification work, please create those in the **3.0-p8-validation** resource group, in the **ASP.NET Core Test** subscription.

Make sur

[2019-07-19 05:46] howardgod commented on #12342
As I watch one of video on NDC conference which introduce the Blazor, the lecture said if you are using enterprise network, then you could use Blazor server-side because Enterprise network can overcome the latency. I guess because my enterprise network across global, it didn't fit to this assumption.

[2019-07-19 06:00] tn-5 commented on #9692
I am experiencing a similar error with the nginx / blazor server side setup. I am proxying the external `http://server:8080` to the locally running `http://localhost:5000`. The site loads fine, websocket connection is established and the page works.
However, on navigation it gives the same error as above, something like:
The URI `http://server:8080/counter` is not contained by the base URI `http:/

[2019-07-19 06:12] aveer28 commented on #12303
Yes but if the aim of the Razor Class Library is to support users who dont
need to customize their pages, then this message defeats the purpose. I
cannot think that many (if any) users would want this message displayed.
This message is a developer message and is misleading to end users.

Thus it should be removed by default.

On Thu, 18 Jul 2019, 21:00 Hao Kung, <notifications@github.com> wrote:

[2019-07-19 06:37] slaneyrw opened #12344 "Expose private UpdatePasswordHash with IUserPasswordStore overload"
### Is your feature request related to a problem? Please describe.

Content...

- I have a derived class of UserManager.
- I have an alternative implementation of PasswordHasher that requires an Async call ( Argon2 ).
- I also have additional processes I need to perform between when a password is hashed and the user is updated.

Unfortunately the placed where both of these processes are performed

[2019-07-19 07:04] RemiBou commented on #12320
You can make it work with Blazor :
- you have to redirect your user to the MVC action and he'll be challenged to the third party provider.
- the redirection url will be a MVC action that will save the user if new and redirect to account creation page or redirect to home page if existing (nearly the same as the template's)
- Then you have to create a Blazor page for creating an account for this use

[2019-07-19 07:06] RemiBou commented on #7419
@SteveSandersonMS I might be mistaken, but this won't take into account properties default value and will erase them right (OP problem) ?

[2019-07-19 07:14] SteveSandersonMS commented on #7419
It will only erase parameters that match route tokens, not others.

[2019-07-19 07:17] Dharmrajj opened #12345 "asp.net core + blazor + visual studio code + build error"
Hi,
I can see the future, it would be the new era of web development by this amazing feature and invention of Blazor. Its really nice and i am sure most of i.t. proffessionals will move to use Blazor for making SPA.

Also please solve my prob,
Using: visual studio code + latest C# extension.
OS: windows 10 - 64bit
i have made .net core app wit blazor, this throws error while i build the app [appna

[2019-07-19 08:08] JeromeKen opened #12347 "Unable to get request.body value"
When using.net MVC's route to match route
A request. Body. Length of a post request whose header is application/x-www-form-urlencoded is 0
There is a value if routing is not used to match request.body.length

[2019-07-19 08:21] mathiassiig commented on #9917
Hi, I'm getting this issue after having my server running for a while. As far as I know, I have not scaled out my SignalR server to multiple instances, I assume this is something you have to configure actively on Azure somewhere (?) If it happens on a single instance, what could be the reason behind it? The exact error I get is
[code]

[2019-07-19 08:36] 274188A opened #12348 "Missing Self Hosted Template"
### Missing Self Hosted Template
Trying to Create a new ASP.NET Core Web Application
Wanting to use the Self Host Balzor template

**PROBLEM**:
It is not there - instead I have a duplicate Blazor WebAssembly App

[LINK TO SCREEN SHOT](https://ibb.co/m8mNCjB)

Installed SDK - .NET Core 3.0 Preview 6 SDK (3.0.100-preview6-012264)
Installed the latest Blazor extension from the Visual Studio Marketpla

[2019-07-19 09:32] RoroTiti opened #12349 "Blazor Client-Side DI issue on Program.Main"
### Describe the bug

Blazor Client-Side DI issue on Program.Main.

I would like to use services before the Blazor app is ready to listen requests. When I try the method described here : [Call services from main](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-3.0#call-services-from-main), I obtain a sort of deadlock with high CPU and RAM usage (sympt

[2019-07-19 09:37] PaloMraz opened #12350 "Proposal: Allow base component classes to augment the generated BuildRenderTree output"
Please note: This is related to https://github.com/aspnet/AspNetCore/issues/9857 but that is already closed, therefore a new proposal...

I am trying to add common functionality to a hierarchy of components by overriding the `BuildRenderTree` method in a common base class like this:

#### StyledComponentBase.cs
[code]
#### StyledParentComponent.razor
[code]
But this scenario does not work, because

[2019-07-19 10:27] javiercn commented on #10076
No idea, @SteveSandersonMS might know better.

[2019-07-19 11:19] jdvoges commented on #12345
It looks like there is a lock on the file. Have you tried restarting Visual studio code? Failing that restarting your computer

[2019-07-19 12:21] TehWardy opened #12351 "A plea to the devs for some sanity regarding environments and configuration"
PLEASE PLEASE PLEASE see some sense here!

As has been highlighted repeatedly before but for some reason always seems to get dropped (for example: https://github.com/aspnet/AspNetCore/issues/2019) the current way to "manage" the environment that the app is running under is just not flexible enough nor clear enough and presents a real headache for those experienced devs managing complex environment

[2019-07-19 12:40] Erikvl87 opened #12352 "WebHostService does not log service state changes"
### Describe the bug
The [WebHostService](https://github.com/aspnet/AspNetCore/blob/v2.2.5/src/Hosting/WindowsServices/src/WebHostService.cs) implements ServiceBase which has a public property called  `AutoLog` which is documented as follows: [Indicates whether to report Start, Stop, Pause, and Continue commands in the event](https://github.com/dotnet/corefx/blob/v2.2.5/src/System.ServiceProcess.S

[2019-07-19 12:46] benaadams commented on #12342
Do you need to modify the user input on each keystroke? That's bringing latency to the forefront. (example Google or Bing search round trips to the server while you are typing, however it doesn't modify the data input field based on the keystrokes but changes the list below what you are typing)

Could you have a server nearer the users location?

If you do need to interact immediately with user in

[2019-07-19 12:57] howardgod commented on #12342
I incline to have the user input immediately along with every keystroke for better user experience. If I understand you correctly, I can invoke JS interop only for altering user input part?

[2019-07-19 13:00] #12054 closed

[2019-07-19 13:02] lachis opened #12354 "[Blazor] StackOverflowException thrown on introduction of view model"
Following along the example provided in the docs here:
https://docs.microsoft.com/en-us/aspnet/core/blazor/forms-validation?view=aspnetcore-3.0 I am attempting to introduce a view model for the purposes of a dynamic form.

On navigation to the page that produces this error - the app crashes and the following is logged out:
[code]

The view model is quite simple (I hadnt fleshed anything out before

[2019-07-19 13:08] blowdart commented on #12337
@HaoK @javiercn this sounds familiar, did it get fixed in 3.0?

[2019-07-19 13:15] Herdo commented on #12320
Thank you @RemiBou - this is a very helpful resource. Even though a little bit "old" by now, a new version should make it into the docs.

I just found out, however, that external providers will fail on the callback from the provider, documented here: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/issues/324

[2019-07-19 13:24] javiercn commented on #12337
I don't remember if it got fixed, but I definitely filed a bug for it or a very similar bug at the time, not sure if it got closed or fixed though.

[2019-07-19 13:40] steffenlyng opened #12356 "Adding the certificate to the Trusted Root Certificate store failed with the following error: Failed with a critical error"
### Describe the bug
I have created a solution with a single ASP.NET Core Web Application project. When I try to run it I get a security error related to the certificate.
Please see discussion: https://github.com/microsoft/DockerTools/issues/99#issuecomment-512973642
Additional related discussion: https://github.com/aspnet/AspNetCore/issues/3421

### To Reproduce
Steps to reproduce the behavior:
1

[2019-07-19 13:57] pranavkm opened #12357 "[JSRuntime] In JSRuntime.InvokeAsync look at CancellationToken.IsCancellationRequested prior to setting the result"
Cancellation callbacks are dispatched in the background and may not be scheduled before `EndInvoke` is called. We could be better and inspect the `CancellationToken` prior to setting the result.

[2019-07-19 14:22] javiercn commented on #11938
I haven't been able to repro this with preview7. (I haven't tried preview6, but given that its not reproducible in preview7/master) I'm closing this as no repro.

[2019-07-19 14:22] #11938 closed

[2019-07-19 14:23] javiercn commented on #11938
@blowdart for future reference, new issues filed get scheduled in the next milestone (not the current one). Please work with @mkArtakMSFT as otherwise its highly disruptive to our planning.

[2019-07-19 14:29] urskiran opened #12358 "Scaffolder issue in razor client"
Getting error "There are no scaffolders supported for this item."

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '16.2.0' Preview 4.0
2. while trying to 'add razor page' by using context menu on Pages folder I am getting above mentioned error.
3. Which is not getting in another machine which is older version of this.

If I am going to add this by using new

[2019-07-19 14:40] javiercn commented on #11876
I took another look. This is again expected behavior, and the reason is that you have an oninitasync method that produces two render batches.
[code]

That's why you see two calls to onafterrenderasync

[2019-07-19 14:40] #11876 closed

[2019-07-19 14:41] #11791 closed

[2019-07-19 14:44] javiercn commented on #11342
I think this was fixed as part of https://github.com/aspnet/AspNetCore/commit/1480b998660d2f77d0605376eefab6a83474ce07

E2E test for components still don't run on the CI

[2019-07-19 14:44] #11342 closed

[2019-07-19 15:05] branhill opened #12360 "ConfigureServices in WebApplicationFactory invoked after Startup.ConfigureServices when use IHostBuilder in 3.0.0-preview6"
### Describe the bug
`ConfigureServices` in `WebApplicationFactory.ConfigureWebHost` invoked after `Startup.ConfigureServices` has been invoked when use generic `IHostBuilder CreateHostBuilder` in `Program`.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '3.0.0-preview6'
2. Create a new ASP.NET Core MVC project with individual auth, in `Program.cs` the gen

[2019-07-19 15:12] anurse commented on #4708
This be did, yes?

[2019-07-19 15:12] anurse commented on #4708
https://github.com/aspnet/AspNetCore/pull/12262

[2019-07-19 15:12] #4708 closed

[2019-07-19 15:14] jkotalik commented on #4708
it did.

[2019-07-19 15:36] Dharmrajj commented on #12345
Yes, i have tried restarting the vs code, it works whenever i restart the vs code, but again and again error occurs when i ctrl + shift + build the app.
So is it only solution that i have to restart vs code everytime when i build the app???

[2019-07-19 15:39] dougbu opened #12363 "Immediate issues in Code Gen for Preview 8"
- [x] _Silent_ failures when the feature is installed but disabled in a referenced API project. Solution is to add an `<Error/>` to one of our targets.
- [x] `@(OpenApiProjectReference)`'d projects show up as dependencies in VS. Solution is `<Private>false</Private>`.
- [x] VS adds some `@(OpenApiReference)` and `@(OpenApiProjectReference)` metadata as elements when attributes are preferred. Solut

[2019-07-19 15:40] taori commented on #11494
@DamianEdwards @blowdart

Also comming here from research after creating a new asp netcore project - This change struck me as a big suprise. While it is a benefit to "plug" in additional modules instead of having them auto scaffolded depending on setup, if you started without certain modules (in the past i generated an empty project with the required authentification and copied those contents to t

[2019-07-19 15:57] ajcvickers opened #12364 "Angular-CSharp migrations should be updated for 3.0"
@HaoK and I are doing this for the Identity templates (#12168), but the SPA templates [here](https://github.com/aspnet/AspNetCore/tree/master/src/ProjectTemplates/Web.Spa.ProjectTemplates/content) are a different non-Identity, model that I have no context on.

/cc @anurse @mkArtakMSFT

[2019-07-19 16:18] mkArtakMSFT commented on #12354
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2019-07-19 16:20] mkArtakMSFT commented on #12350
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-07-19 16:20] jkotalik commented on #11804
@halter73 I think everything is this issue has been resolved. Are we good to close?

[2019-07-19 16:22] mkArtakMSFT commented on #12349
Thanks for contacting us, @RoroTiti .
We suspect that the `WebHostBuilder.Run()` has a blocking `Wait` call, which doesn't work well with WebAssembly.

[2019-07-19 16:25] mkArtakMSFT commented on #12348
Thanks for contacting us, @274188A.
This is a dupe of #11706.

[2019-07-19 16:25] #12348 closed

[2019-07-19 16:26] Eilon commented on #12351
What are your thoughts on staging vs. production? For example, in a production app that I run, I deploy it to "Staging", where it runs with Environment=Staging. If I'm happy with the testing on the staging server, I swap the Staging and Production slots, and what was previously my Staging instance, is now my Production instance. If the app was "compiled for staging," then I couldn't swap Staging/P

[2019-07-19 16:29] mkArtakMSFT commented on #12345
Thanks for contacting us, @Dharmrajj.
It seems like you end up in a situation where you app is running when you're trying to run the build again.Can you please share a a short video showcasing your scenario from the beginning.

[2019-07-19 16:32] davidfowl commented on #9917
If it happens on a single server then something else is wrong. What server is this and does it happen randomly or can you reproduce it.

[2019-07-19 16:32] mkArtakMSFT commented on #12342
We've made some changes in this area and improved it. That said, the latency is expected when you have over-the network interactions. So there is nothing else we can do here.

[2019-07-19 16:32] #12342 closed

[2019-07-19 16:35] mkArtakMSFT commented on #11187
Closing this for now, as we are removing the stateful prerendering for 3.0.

[2019-07-19 16:35] #11187 closed

[2019-07-19 16:38] mkArtakMSFT commented on #12309
Thanks for contacting us, @ctrl-alt-d.
This seems to be caused by #11591

[2019-07-19 16:38] #12309 closed

[2019-07-19 16:44] RoroTiti commented on #12349
Okay, thanks for the answer @mkArtakMSFT :) ! Is there anything I can do to help you to further debug the issue ?

[2019-07-19 16:44] mkArtakMSFT commented on #12302
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-07-19 16:44] Dharmrajj commented on #12345
Thanks @jdvoges, @mkArtakMSFT  for replying,

 Yes definitely i will try to upload a short video, as well i am describing here a whole scenario here.

 I open up my blazor app in vs code, then run the command 'dotnet run', it works fine, app runs nicely on browser.

 After that i want to build the app, so just ctrl+shift+build the app, but in terminal it shows these two build error, and yes the ap

[2019-07-19 16:46] mkArtakMSFT commented on #12299
Thanks for contacting us, @peteryangthinkgeo.
This is not supported at the moment, and this is a Mono-limitation.

[2019-07-19 16:46] #12299 closed

[2019-07-19 16:49] mkArtakMSFT commented on #12271
Thanks @Stamo-Gochev.
This is not something we plan to do.

[2019-07-19 16:49] #12271 closed

[2019-07-19 16:57] SteveSandersonMS commented on #12271
@Stamo-Gochev The reason is that there are other ways this can be achieved, and we're not sure that `[EditorBrowsable]` is a desirable way to do it. For example:

 * You could choose *not* to declare any `[Parameter]` property for your internal parameter, and instead receive its value privately by overriding `SetParameters` on the receiving component (read it directly from the incoming `ParameterC

[2019-07-19 17:04] ryanbrandenburg opened #12368 "Accessibility issues in templates"
Vendor testing has found [some accessibility issues](https://devdiv.visualstudio.com/DevDiv/_queries/query/?tempQueryId=8e5bcd88-9138-44c1-9151-4b9a27face30) in our templates. So far they all seem to be related to navigating a page using the keyboard.

[2019-07-19 17:10] HaoK commented on #12337
Pretty sure I fixed this one, I will track down the issue/PR

[2019-07-19 17:16] richlander opened #12369 "3PN link with templates is wrong"
Here is my experience:

[code]

The 3PN link: https://aka.ms/aspnetcore-template-3pn-210

The link seems to be 2.1 specific. This is where it goes to:

<img width="814" alt="Screen Shot 2019-07-19 at 10 09 56 AM" src="https://user-images.githubusercontent.com/2608468/61552705-678b7400-aa0d-11e9-82fd-322a1afc692c.png">

Ouch. I would rather see a non version-specific link and for it to go to a plac

[2019-07-19 17:24] #12229 closed

[2019-07-19 17:24] VictorioBerra opened #12370 "Why does asp-apiauth-parameters exist? What purpose does it serve?"
Definition: https://github.com/aspnet/AspNetCore/blob/master/src/Identity/ApiAuthorization.IdentityServer/src/TagHelpers/ClientParametersTagHelper.cs

Usage: https://github.com/aspnet/AspNetCore/blob/master/src/Identity/ApiAuthorization.IdentityServer/samples/ApiAuthSample/Pages/Index.cshtml#L23

What benefit does setting the `data-*` tags on the `<script` tag do for us?

The only thing I can poss

[2019-07-19 17:31] blowdart commented on #12370
Using data parameters on tags is a safer way to pass things to javascript than just writing them into a script tag. If we stick with data parameters we can use a single encoder, if we try to write out javascript we can end up with multiple encoders, where the order of encoding matters, and it's easy to get wrong, so as a matter of course we take the safer approach.

[2019-07-19 17:32] cristianiorga commented on #12273
@SteveSandersonMS I can confirm that as expected from what @javiercn mentioned, there is no entry for localhost in the Firefox HTST file database SiteSecurityServiceState.txt

[2019-07-19 17:37] VictorioBerra commented on #12370
Encoding in this context meaning this line? https://github.com/aspnet/AspNetCore/blob/master/src/Identity/ApiAuthorization.IdentityServer/src/TagHelpers/ClientParametersTagHelper.cs#L51

[2019-07-19 17:40] blowdart commented on #12370
No encoding as in the way all tag helpers will encode their output.

It has nothing to do with search engines, and all to do with preventing XSS. Now while the client IDs etc are controlled by the developer and arguably we could do down another route this is the standard route we use for passing data into scripts, and the overhead of doing it a different way in a single case, and having to review

[2019-07-19 17:55] VictorioBerra commented on #12370
No I was purely curious, I was very confused when I saw this method and it seemed like it was mixing too many technologies for a simple problem.

Now that I see that its a standard way of doing thing you guys adopted, I can see it makes a lot more sense.

I am mainly reading the codebase for ApiAuthorization.IdentityServer to understand what you guys have built and what its relationship to Identit

[2019-07-19 17:55] #12370 closed

[2019-07-19 17:59] #11804 closed

[2019-07-19 18:10] Stamo-Gochev commented on #12271
Thanks @SteveSandersonMS, this makes sense.

[2019-07-19 18:11] CeciAc opened #12373 "自定义 API 文档 下面的 XML 注释节点是否未完成"
@RanlinChen commented on [Fri Jul 19 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/144)

 “NSwag入门” “自定义 API 文档” 下面的 “XML 注释” 节点的文档内容 是否未完成
我查看“Swashbuckle 入门” 下面对应的节点文档是完整的。

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 2483813a-3c16-7ddd-3160-43e6843b55d4
* Version Independent ID: 25f7fb5b-92b0-a45b-57ab-fdceab571884
* Content: [NSwag 和 ASP.NET Cor

[2019-07-19 18:19] CeciAc commented on #12373
Hi team,
I'm moving this here because the user is requesting aditional information regarding that part of the document

[2019-07-19 18:26] #11799 closed

[2019-07-19 18:37] javiercn opened #12374 "[Templates] Run npm audit as part of the E2E tests for SPA templates"
* This is cheap to do and it greatly impacts the product we ship.
* We want to catch these issues the way customers experience them, without relying on additional tools.

[2019-07-19 19:20] rynowak opened #12376 "Add support for other date/time fields"
We have good support in the box for doing binding correctly to `<input type="date" />` fields using `@bind` and `<InputDate>`. We haven't added support for the other HTML5 date/time quantities like `month`.

Right now users can work around this by manually specifying the format:
[code]

What's missing for us to have good in the box support would be to:
- [ ] add attributes mapping the field types

[2019-07-19 19:46] HaoK commented on #12337
Yep dupe of https://github.com/aspnet/AspNetCore/issues/5765

[2019-07-19 19:46] #12337 closed

[2019-07-19 19:51] mkArtakMSFT commented on #12373
Thanks for contacting us.
@dougbu looks like this is service-reference related. Can you please handle this? Thanks!

[2019-07-19 19:53] mkArtakMSFT commented on #12369
Thanks @richlander.
I'll see whether I can fit this in preview 8.

[2019-07-19 19:53] #12263 closed

[2019-07-19 19:53] rynowak commented on #12263
https://github.com/aspnet/AspNetCore/pull/12323

[2019-07-19 19:58] zanate4019 opened #12378 "SignalR Errors when some Chrome Extensions Enabled"
### Describe the bug
We have an application that is nearing completion and is the final user acceptance phase.  We've noticed that on some of our testers systems SignalR has connection errors.  On both machines, reseting Chrome to default corrected the issue, but we're concerned that when the application moves to production this will be a support issue.  On one of the systems we were able to consi

[2019-07-19 20:02] SheepRock commented on #2302
For me it worked for almost everything, but when an unlogged user tries to access an page with the `[Authorize]` decorator, the basepath is being add twice. I have

[code]

but during the navigation, the user gets http://server/basepath/basepath/Account/Login

Anyone have this issue? Is it a bug or configuration?

[2019-07-19 20:15] #11296 closed

[2019-07-19 20:15] pranavkm opened #12379 "[Validation] Verify scenarios specifying attributes \ filters on Razor Pages"
Issue: https://github.com/aspnet/AspNetCore/issues/11296

[2019-07-19 20:32] ajaybhargavb opened #12380 "Consider removing ... from TagHelperDescriptor.Name if it is an indexer"
E.g, for `@bind-...`,
THD.Name is currently `@bind-...`. It should instead be `@bind-`. The code that displays this descriptor in completions should then special case indexer descriptors and append `...` before showing.

Note: This requires a change from WTE so may not be worth the effort. This isn't affecting any functionality right now and is like a clean up item.

cc @NTaylorMullen

[2019-07-19 20:38] #7536 closed

[2019-07-19 20:40] rynowak commented on #12380
Hmm - what's the impact of doing this change? is it just clean up?

I'd kinda rather not do it if that's the case because using tag helpers to represent components is already a hack - it's a little odd to try and align all of the concepts when they will never really be aligned because they behave differently.

[2019-07-19 20:41] ajaybhargavb commented on #12380
Yup

[2019-07-19 20:47] ajaybhargavb commented on #11225
After more investigation, turns out Blazor isn't the cause of this issue. Reading UTF-8 files without BOM works just fine. The cause of this issue was that for some reason Visual Studio was saving the `.razor` files as `windows 1252` code page and when blazor tried to read it as UTF-8, that caused problems. We have fixed already fixed our templates so this shouldn't happen on newer projects.
For a

[2019-07-19 20:47] #11225 closed

[2019-07-19 21:11] odinnou opened #12381 ""Equal" sign optional in "application/x-www-form-urlencoded" results in unparseable query"
First of all, I create question on stack overflow for this, before submit this issue : [post](https://stackoverflow.com/questions/57119488/equal-sign-optional-in-application-x-www-form-urlencoded-query)

Hello in my project built on ASP.NET Core 2.2, I need to implement webhook to handle "notification" from a third-party API.

We deploy it, then we test it but every requests fall in 400 bad reques

[2019-07-19 21:28] mkArtakMSFT commented on #12369
@richlander, thinking about your suggestion more

I feel like that'll be work for a scenario, which has no real functional impact. Who, at all, is actually looking into these? I think we'll be spending time doing this for not a good reason. So for now I'm simply updating the link to be 3.0 specific.
@danroth27 this is your decision really, so if you'd like us to change this and stick with more use

[2019-07-19 21:32] odinnou commented on #12381
From RFC 3986, section 3.4 tools.ietf.org/html/rfc3986#section-3.4

[2019-07-19 22:12] jfcaldeira commented on #1528
Any news on this? I am using ASP.NET Core and I refuse going back to webforms. I have a reports project and i feed the url from report server to my application to download the file. The problem is that it constantly asks for windows authentication and i would like to avoid this...

[2019-07-19 22:34] #12220 closed

[2019-07-19 23:13] #12168 closed

[2019-07-19 23:23] #11749 closed

[2019-07-19 23:24] HaoK commented on #9855
Fixed in https://github.com/aspnet/AspNetCore/pull/11768

[2019-07-19 23:24] #9855 closed

[2019-07-19 23:24] HaoK commented on #6200
https://github.com/aspnet/AspNetCore/pull/11768

[2019-07-19 23:24] #6200 closed

[2019-07-19 23:24] HaoK commented on #11524
https://github.com/aspnet/AspNetCore/pull/11768

[2019-07-19 23:24] #11524 closed

[2019-07-19 23:25] HaoK commented on #11519
Fixed by https://github.com/aspnet/AspNetCore/pull/11768

[2019-07-19 23:25] #11519 closed

[2019-07-19 23:25] HaoK commented on #11523
Fixed by https://github.com/aspnet/AspNetCore/pull/11768

[2019-07-19 23:25] #11523 closed

[2019-07-19 23:27] HaoK commented on #4248
Moving out of 3.0

[2019-07-19 23:28] HaoK commented on #4248
Parked in backlog (not sure if 3.1 is more appropriate)

[2019-07-19 23:55] rynowak commented on #12169
I don't really want to do this I guess (anymore so than we already did). The idea of adding this feature to the core was that getting the capture + propagation of values from the **current request** is a tricky problem that seemed worth ASP.NET Core solving for you.

Writing a general purpose *run code to set headers* feature is too general, and something that anyone can do with a message handler

[2019-07-20 00:16] #8003 closed

[2019-07-20 02:14] rynowak commented on #12210
We discussed this in person this week. It looks like what's happening here is that trying to call into some Mono api that's unsupported on wasm might result in attempting to load `mscorlib`.

I'm not sure that there's anything we can do about this, and if persists mono/mono is the right place to report it.

[2019-07-20 02:14] #12210 closed

[2019-07-20 02:15] dougbu commented on #12363
fcb6575f199f

[2019-07-20 02:15] #12363 closed

[2019-07-20 02:18] rynowak commented on #12087
You won't be able to generate links until after `UseEndpoints(...)` runs. Why do you need a URL during `Configure(...)`?

[2019-07-20 02:19] rynowak commented on #10611
This would be reasonable for us to do, but it's already really late in 3.0. We should consider this for .NET 5.0 (next year).

[2019-07-20 02:23] rynowak commented on #10612
You will have to do this. MVC doesn't provide features oriented around doing things *per-tenant*. I'd strongly suggest looking at Orchard.Core and least copying the design/code where appropriate. It's not to build multi-tenant systems.

The other approach you could do would be to write an `IEndpointSelectorPolicy` that looks at the base-path. I'm not confident that this will meet all of your needs

[2019-07-20 03:16] dazinator commented on #10612
Thanks, yep I found a solution, I have a working multitenancy razor pages sample. I am pretty certain razor pages adds incorrect routes to endpoint routing though if you are using endpoint routing within a mapped path.. but luckily in my scenario as each tenant has it's own domain I dont need to use a mapped path to seperate tenants so if there is indeed a problem it's now a non issue.

[2019-07-20 03:16] #10612 closed

[2019-07-20 03:21] rynowak commented on #9758
Thanks for the thorough writeup.

This has been fixed now in 3.0 - I tried out your example and it works the way that you described.

The smoking gun for 2.2 is this part `DefaultController.Gone – Order: 1, RoutePattern: {*url}` should have order: 3 and `SettingsController.Default – Order: 3, RoutePattern: Settings/Default` should have order: 2.

We tried to layer MVC's conventional routing concep

[2019-07-20 03:23] rynowak commented on #10612
Map and routing don't interact at all. It's something that happens before routing runs - and removes the mapped segment from consideration:

Ex:
[code]

Routing looks at the Path and ignores PathBase

[2019-07-20 03:58] dougbu commented on #11924
- [ ] aspnet/AspNetCore-Tooling
- [ ] aspnet/Blazor
- [ ] aspnet/EntityFramework6
- [ ] aspnet/EntityFrameworkCore
- [ ] aspnet/Extensions
- [ ] aspnet/AspNetCore

[2019-07-20 04:24] chrdlx commented on #12342
@howardgod

Man, you don't need that `firstValue = e?.Value.ToString();` line if you only wanna read the user input....  of course if you overwrite the textbox with what comes from the server at each keystroke, that's gonna make your typing a mess...

[2019-07-20 04:29] mkArtakMSFT commented on #10840
@anurse I was about to close then but then realised that there may be something here you'd like to add. Do you? If not, simply closed this issue please.

[2019-07-20 04:30] #12369 closed

[2019-07-20 06:02] SeriousM commented on #12087
In my case it's used in unit tests. I register the required services and controllers and want to generate links in a component depending on the LinkGenerator.
The link generator is not depending on a living pipeline so it should be possible.
I would like to avoid spinning up a testserver instance as it needs unnecessary long for such a small feature (generating links).
Would you agree?

[2019-07-20 06:54] 274188A opened #12388 "Duplicate WebAssemblyApp Project Template + Missing Self Hosted Blazor Template"
### Description
Visual Studio 2019 Preview - Missing `Self Hosted` Blazor template
Showing **duplicate** Blazor `WebAssemblyApp` template

### To Reproduce
Create New Project
Choose 'Asp.Net Core Web App'
Click 'Create'

### Expected behavior
Expected to see a selection for `Self Hosted Blazor`

### Actual behavior
See duplicate Blazor `WebAssemblyApp` template
[https://ibb.co/m8mNCjB](https://ibb

[2019-07-20 07:21] #9108 closed

[2019-07-20 07:33] punjabier opened #12389 "Blazor Feature Request: Support for Pipes formatters"
It will be good if there is Pipes feature as in Angular

`<p>The hero's birthday is {{ birthday | date }}</p>`

This feature will also be beneficial in Globalization/ Localisation
#9386  Globalisation and Converters
`@bind-globalization` is specific to input element. It will not go too far with other elements like (eg.)div
[code]

Other Pros of Pipes syntax

- Chainable
- Will work anywhere
    `@

[2019-07-20 10:08] willignicolas commented on #5280
Still no plan for this ? Thx.

[2019-07-20 12:15] lachis commented on #12354
https://github.com/lachis/testmanagement/tree/master/TestManagementApp this is the repo it is occurring in. Hopefully it is as minimalistic as you require, it only has some extra EF core stuff in there but apart from that there is not much special about it,

[2019-07-20 12:40] MarkStega commented on #12388
It is a labeling issue - The first entry creates a client project with an ASP.Net server application, the second creates a 'standalone' client.

[2019-07-20 12:54] Herdo opened #12391 "[Blazor] Use shared policies for client and server"
### Scenario
In my ASP.NET Core hosted client-side Blazor application, I want to use my policies in both projects.

- In the server project to secure the API methods.
- In the client project to appropriately show or hide certain parts of the views.

The current project template creates the following projects:
- MyProject.Client (**.NET Standard 2.0**)
- MyProject.Server (**.NET Core 3.0**)
- MyPro

[2019-07-20 13:47] lobster2012-user commented on #8375
Hello.
It seems to me that my proposal did not interest anyone. I still close the issue.
Now I look towards grpc.
I repeat, I really like dot net, but I prefer not to use (highly) specialized protocols in the presence of widespread ones.

[2019-07-20 13:49] #8375 closed

[2019-07-20 14:03] javiercn commented on #9869
This is fixed proper now

[2019-07-20 14:03] #9869 closed

[2019-07-20 14:30] javiercn opened #12392 "[Templating] Auth for SPA templates remaining work"
- [x] Update Identity Server oidc-client to a released version.
- [x] Use the new simpler APIs if possible.
- [x] Update the identity server versions.
- [x] Explicitly reference ASP.NET Core Identity Server dependencies outside of the shared framework in the templates.

[2019-07-20 14:31] lobster2012-user commented on #8601
@slavanap
I will close this issue.
As for your problem, it seems to me that it does not exist. In any case, you can open a new issue or describe it on stackoverflow.

[2019-07-20 14:31] #8601 closed

[2019-07-20 14:58] javiercn commented on #11879
I did this as part of 4bbfd4dd0af0f2ec475fd969e3015524af1f96e0

[2019-07-20 14:58] #11879 closed

[2019-07-20 15:29] odinnou commented on #12381
Another precision, if you don't add the 'equal' sign for the last parameter of the query, example :

`webhook_type=create&network_name=test&data[id]`

this last parameter will not be present in Request.Forms

![image](https://user-images.githubusercontent.com/3084655/61580550-c3402500-ab13-11e9-8fae-6cdc4f90477e.png)

It's less important because this parameter should be null in every case

Thanks

[2019-07-20 15:33] alexsandro-xpt commented on #6080
Is this a bug at `2.2.301` yet?
I have an integration test with `WebApplicationFactory` and it works fine with dotnet `2.2.101`. And anothe machine with dotnet `2.2.301` this test fail with System.NullReferenceException at `IHttpContextAccessor.HttpContext`.

So then to confirm that, I update this first machine with dotnet `2.2.301` and then, my test with `IHttpContextAccessor.HttpContext` become

[2019-07-20 15:49] davidfowl opened #12394 "Move HttpClientSlim to AspNetCore"
I'm not sure why it's in the Extensions repository.

[2019-07-20 15:57] alexsandro-xpt commented on #7975
I have same issue here https://github.com/aspnet/AspNetCore/issues/6080#issuecomment-513477075

[2019-07-20 16:26] SteveSandersonMS commented on #12293
I agree with your comments above

[2019-07-20 16:30] SteveSandersonMS commented on #12162
When you have a client-side Blazor application that is also prerendered on the server, you have two completely separate instances of the application:

 * One runs on the server
 * Another ones runs inside the browser

They have to be separate instances, because how could they not be? They run on different machines. As such, whatever you tell it to do, it's going to do twice.

Theoretically it coul

[2019-07-20 16:35] SteveSandersonMS commented on #10076
`UseWebpackDevMiddleware` works as a reverse proxy to a Webpack dev server running on Node. It's *not* serving static files from disk, so you shouldn't expect it to be involved in the `UseStaticFiles` middleware pipeline.

Either `UseWebpackDevMiddleware` or `UseStaticFiles` has to go first in the pipeline:

 * If `UseWebpackDevMiddleware` goes first, then anything that Webpack serves will be retu

[2019-07-20 16:41] #10840 closed

[2019-07-20 17:20] Kool-Koder opened #12396 "App crashes in release/hosted mode but not in Visual Studio"
Somehow my app connection to database fails once it is exported out of Visual Studio 2019. However, it works fine inside VS2019, whereby I can connect and read the values inside the Database.

The stack trace seen here throws the exception all the way to DBInitializer, then up to Program.cs. The code structure is very similar to the tutorial provided by Microsoft. Thank you.

[code]

[2019-07-20 17:26] #9386 closed

[2019-07-20 17:26] #12286 closed

[2019-07-20 17:30] rynowak commented on #9386
@Andrzej-W - thanks for your input on this.

When I said that I didn't think routing was a good solution for this, I didn't mean that URLs aren't a good solution. Ultimately I think you're right and I'm wrong after reading your reply.  I'm torn on this because we don't currently offer a solution for *translated URLs*.

I did a little bit of sample building based on what you described. The part tha

[2019-07-20 17:35] rynowak commented on #12087
No, it's not a safe assumption in general that something undocumented will work.

The endpoints for MVC are registered when you call `MapControllers()` or a similar method.

[2019-07-20 17:53] rynowak opened #12397 "Blazor API Review: IUriHelper"
# Summary

The URI Helper class is used for navigation as well as understanding the current URI . We want to retain the current functionality here but change the API for more maintainability.

Additionally we want to rename this class to be distinct from the `IUrlHelper` concept in MVC. The Blazor API doesn't fill the same role (getting current state VS generating URLs). Also the MVC naming is bad

[2019-07-20 18:44] alexsandro-xpt commented on #7975
After a lot of hours, I found a workaround for my case.
That work for me... https://github.com/aspnet/AspNetCore/issues/5144#issuecomment-498267645

That (https://github.com/aspnet/AspNetCore/issues/7975#issuecomment-481536061) other doesn't work because in `IClassFixture<WebApplicationFactory<TStartup>>.WithWebHostBuilder().CreateClient()` I can't give me condition to create my own HTTPClient wit

[2019-07-20 19:12] SeriousM commented on #12087
Can I call that myself? I'm not near a computer right now..

[2019-07-20 19:51] genifycom opened #12399 "Xamarin and Blazor"
### Is your feature request related to a problem? Please describe.
It is not productive to have both Xamarin UI and Blazor UI. Will they be combined?

### Describe the solution you'd like
Moving an app from Desktop to Mobile device is not helped by Blazor, but it should be.

### Additional context
Xamarin UI is a holdover from a failed UI system. Instead of continuing it, move the Xamarin UI to Bl

[2019-07-20 20:30] aaronhudon-ts commented on #8524
Current versions of Blazor and gRPC as of July 20th are working for me client side.

[2019-07-20 21:25] davidfowl commented on #12396
Looks like a missing or incorrect connection string.

[2019-07-20 22:57] benaadams opened #12401 "CI Error StreamBackedTestConnection Kestrel/test/InMemory.FunctionalTests/ResponseTests"
[code]
[code]

[2019-07-21 04:04] Kool-Koder commented on #12396
Hmm the interesting part is it runs inside Visual Studio though. Is there a major difference in development and release mode which will affect the connection strings? Thank you!

[2019-07-21 04:59] davidfowl commented on #12396
Its likely nothing to do with debug/release mode, it's likely the fact that you're running in "production" mode. Where are your settings?

[2019-07-21 05:08] davidfowl commented on #12401
This test seems to be racy since my bedrock changes. Originally it relied on inline scheduling but now it's a bit more tricky to ensure that the abort has been observed before the response gets sent.

[2019-07-21 05:14] BaranOzdemir commented on #11677
When is preview 7 release coming?

[2019-07-21 05:19] Kool-Koder commented on #12396
Which settings should I show?

[2019-07-21 05:23] ArvindRSingh commented on #5614
Is there any possible workaround?

[2019-07-21 05:28] davidfowl commented on #12396
Do you have code in Startup.cs reading a connection string? Any calls to GetConnectionString?

[2019-07-21 05:38] Kool-Koder commented on #12396
This 2 codes are from Startup.cs. While debugging in Visual Studio, I can see the connection String.
[code]

[code]

In the release mode after it is exported, following the stack trace, this seems to be the error. The error is the same error as I have originally posted.

In Program.cs, it will call DbInitializer to check the database and stuff.
`DbInitializer.InitializeIdentity(contextIdentity);`

[2019-07-21 05:56] bahmansh opened #12403 "Dotnet core 3-preview6 build warning - load Analyzer assembly"
When I want build my project I get following warning.

![Annotation 2019-07-21 102458](https://user-images.githubusercontent.com/19801131/61587566-ceda2d00-aba1-11e9-8342-1bfd3efae1ab.png)

[2019-07-21 07:11] dodyg opened #12404 "Utf8JsonWriter.FlushAsync triggers "System.InvalidOperationException: Synchronous operations are disallowed. Call WriteAsync or set AllowSynchronousIO to true instead.""
### Describe the bug
using ` Utf8JsonWriter .FlushAsync();` directly on HttpResponse.Body in 3.0.100-preview6-012264 triggers `System.InvalidOperationException: Synchronous operations are disallowed. Call WriteAsync or set AllowSynchronousIO to true instead.`

### To Reproduce
[code]

### Screenshots

![flush-async2](https://user-images.githubusercontent.com/1761249/61588147-db0cbd00-ab96-11e9-840

[2019-07-21 07:15] davidfowl commented on #12404
cc @ahsonkhan

[2019-07-21 07:18] dodyg opened #12405 "Utf8JsonWriter throws `System.InvalidOperationException: Cannot advance past the end of the buffer, which has a size of 256.`"
### Describe the bug
Using `Utf8JsonWriter` in `3.0.100-preview6-012264` writing to `HttpResponse.Body` throws `System.InvalidOperationException: Cannot advance past the end of the buffer, which has a size of 256.`

### To Reproduce
[code]

### Screenshots
![flush-async3](https://user-images.githubusercontent.com/1761249/61588260-7b171600-ab98-11e9-8fcc-d1f16f3275b0.png)

[2019-07-21 07:27] dodyg commented on #12404
I filed here instead https://github.com/dotnet/corefx/issues/39648

[2019-07-21 07:33] benaadams commented on #12404
Its the Dispose that's calling Flush

Would need to change to use the DisposeAsync; which calls FlushAsync by adding an await before the using
[code]

[2019-07-21 07:38] dodyg commented on #12404
Same result

![flush-async-4](https://user-images.githubusercontent.com/1761249/61588412-4eb0c900-ab9b-11e9-9a34-054b97992e76.png)

[2019-07-21 07:43] dodyg commented on #12405
I filed an issue to the CoreFX instead https://github.com/dotnet/corefx/issues/39648

[2019-07-21 07:44] benaadams commented on #12404
Different result ;)

Though that one seems odder.

[2019-07-21 07:44] dodyg commented on #12404
Arghh I didn't mean to close this issue

[2019-07-21 07:49] dodyg commented on #12404
using this fixes this problem

[code]

[2019-07-21 07:52] #12404 closed

[2019-07-21 08:11] bahmansh commented on #12223
Here is my sample code.

https://github.com/bahmansh/ModelBinding

@mkArtakMSFT

[2019-07-21 09:12] MrFoxPro commented on #9320
Same error on 3.0.100-preview6-012264

[2019-07-21 09:24] Kool-Koder commented on #12396
More information to help log this issue. This is a .NET CORE 2.2 App. So the original project, I tried to access the database when it is hosted but it doesn't work. It works locally when running in VS2019. I then proceeded to test with an older project which was originally 2.1 but upgraded to 2.2. It works and can connect to the database even when hosted. Next I create a new project from the base

[2019-07-21 10:53] MishaVernik opened #12408 "Asp.Net Core3.0, gRPC"
### Goal:
On the server-side
### Describe the bug:
[code]
![Screenshot 7_21_2019 12_46_53 PM (2)](https://user-images.githubusercontent.com/41151124/61590218-b247f000-abb5-11e9-84b5-27ea5d26b518.png)

**Attempts to solve:**
1. With .cshtml
[code]
2. The same with .razor (but it doesn't work) or I used it incorrectly.
-----
### Additional context
If you have any suggestions about how to fix, or if

[2019-07-21 10:56] jdebarochez commented on #5139
As a workaround we dropped the HTTPS for local development, moved to an external Nodejs instance (thanks to `vue run serve`) and UseProxyToSpaDevelopmentServer instead.
[code]
As far as I understand, we now delegate to a Nodejs local server instance the rebuild of the frontend souces. The .NET Core application just serves as proxy.

[2019-07-21 10:56] deanmarcussen opened #12409 "IHttpMaxRequestBodySizeFeature and IFormFeature should return 413"
### Is your feature request related to a problem? Please describe.
`IHttpMaxRequestBodySizeFeature` and `IFormFeature.FormOptions.MultipartBodyLengthLimit` throw different Exceptions when the limit is exceeded.

When these operations fail it results in  `500` status code.

### Describe the solution you'd like

The correct server response should be as `IIS` does, to return a `413` Payload Exceeded

[2019-07-21 11:41] enetstudio commented on #12354
Is this OK ?
You've got a component in your app named TestCaseRun.razor in whose code behind part you instantiate an object of the type TestManagementApp.ViewModels.TestCaseRun as follows:

private TestCaseRun _testCaseRun = new TestCaseRun();

I've noticed that you face difficulties in naming your objects and namespaces, such as DbContext namespace... Such naming can lead to subtle bugs that are

[2019-07-21 12:27] xclud opened #12410 "[Blazor] JsInterop does not serialize arrays properly"
### Describe the bug
I am passing an array of objects to a js function as argument. But in js side, i receive the first element of array.

### To Reproduce
C# code:
[code]
JS Code:
[code]
### Expected behavior
Expected to receive the whole array, not only one object.

### Screenshots
![Capture](https://user-images.githubusercontent.com/12394889/61591158-5f336480-abd8-11e9-989c-ecd543def7bd.PNG)

#

[2019-07-21 13:08] guardrex commented on #12091
I added a cross-link to the File Uploads PR to surface the data rates ...

https://github.com/aspnet/AspNetCore.Docs/pull/12344/commits/503bf140b45abaf77dae643242695ec5a8d5db40

[2019-07-21 13:23] campersau commented on #12410
https://github.com/aspnet/AspNetCore/issues/8743#issuecomment-476261870

[2019-07-21 14:45] zabelin-vladimir opened #12411 "Blazor client side - "The type or namespace name 'App' could not be found" error in the templated project"
Cannot build the templated project.
My current .NET verison:
3.0.100-preview6-012264
Visual Studio version:
16.1.6 (not preview)
The "Use previews of the .NET Core SDK" check box is checked in the "Tools -> Options -> Environment -> Preview Features" menu option

Installed templates using the following command:
`dotnet new -i Microsoft.AspNetCore.Blazor.Templates::3.0.100-preview6-012264`
(without

[2019-07-21 14:52] kdawg1406 commented on #10170
I agree with this request. I convert an Angular app to Blazor and missed this feature.  Thank you for considering adding the opt-in capability.

[2019-07-21 15:00] Mah3 opened #12412 "Issue in Data Annotations Localization factory"
I follow the documentation for DataAnnotation Localizaztion

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-2.2#using-one-resource-string-for-multiple-classes

for the below snippet of code

[code]

When put the **SharedResource** in another library, it maintain the sub-path of the configuration of AddViewLocalization ,it dosn't work until i remove ResourceP

[2019-07-21 15:39] davidfowl commented on #12396
It just sounds like maybe those configuration settings may be null in production. Did you set `RDS_HOSTNAME`, `RDS_PORT`, `RDS_USERNAME` and `RDS_PASSWORD`?

[2019-07-21 15:44] Kool-Koder commented on #12396
Hmm. Yes I did. I got an update. I messed around with some of the codes in Startup.cs, add some exception handling here and there, no new code additions, re-hosted and it works now. I didn't manage to trace down the root cause... A pretty weird bug.

[2019-07-21 17:24] VR-Architect opened #12413 "[Blazor] Add ability to add/remove link tag in header via code"
When using dynamic Google fonts, we need to set the link in the header to point to the required font. As our users can change their font dynamically, how can we have the link in the header also changed? As there are over 900 Google fonts, putting them all into the header would not be feasible.

Example:
[code]

Thanks for the consideration :)

[2019-07-21 17:37] Joe4evr commented on #12413
Potential duplicate of #9128.

[2019-07-21 17:44] rynowak commented on #12403
Can you share you project file? Where is the reference to the 2.2.0 version of the MVC analyzers coming from?

[2019-07-21 17:46] rynowak commented on #9320
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2019-07-21 17:53] rynowak commented on #12354
Thanks for looking at this. It seems really like that this is the problem. You could cause a similar problem to this using regular C#.

@lachis does this made sense?

@enetstudio - I appreciate your help looking at this but please be nice. If you meant this as a joke, I don't think it comes across that way over the internet. It's easy to make a mistake like this and we don't want anyone to feel li

[2019-07-21 18:23] MACEL94 commented on #10509
Any news?
I saw preview-8 packages yesterday and today but i can't install them because of a missing Mono package(preview 8) that i'm not able to find on nuget.

Anyway thank you again guys for the help, i'm trying to sort it out to do a project for my university, this seems so cool!

I got the same error as rxelizondo after following your steps, my app is a full stack blazor so server,client and

[2019-07-21 19:13] serpent5 opened #12414 "FormatterMapping for SystemTextJsonOutputFormatter is missing"
A `FormatterMapping` from `json` to `application/json` doesn't get added when using the default `SystemTextJsonOutputFormatter`.

### To Reproduce
1. Using 3.0 Preview 7, run `dotnet new webapi`.
2. Add `[FormatFilter]` to `WeatherForecastController`.
3. `GET https://localhost:5001/WeatherForecast?format=json`.
4. The app responds with a `404`.

### Expected behavior
The app should respond with th

[2019-07-21 19:25] rynowak opened #12415 "Blazor API Review: RenderTreeBuilder"
# Summary

`RenderTreeBuilder` is a low level API used by the compiler for `.razor` components, and used in expert scenarios for C# components.

It's critical that we get the design of the `RenderTreeBuilder` and its methods right, because there's no conceivable way we could change anything here. It's always possible for us to add however, and we don't generally need to optimize for simplicity or

[2019-07-21 19:33] rynowak commented on #12415
The naming here follows a general pattern - we should make sure we think this is right:
- There are methods for appending a single item `Add...`
- There are methods for opening closing a scoped construct `Open...`/`Close...`
- There are methods for modifying the current frame `Set...`

This seems like a reasonable naming structure. Outliers:
- `Clear` and `GetFrames` for getting the result and res

[2019-07-21 19:34] rynowak commented on #12415
@SteveSandersonMS

[2019-07-21 19:46] aapluse commented on #5669
I have Visual Studio 2019 for Mac.
I created a blazor hosted through the cli 2 days ago and it worked fine.
Now I'm performing the same steps but the new app is not building.
The build error description is" rzc generate exited with code 1." in file RazorCompilation.targets.

I'm not sure how to solve this.

[2019-07-21 20:34] SteveSandersonMS commented on #12411
Currently, Blazor requires the latest preview version of VS.

[2019-07-21 20:34] #12411 closed

[2019-07-21 20:36] SteveSandersonMS commented on #12415
All the suggestions sound good to me.

[2019-07-21 20:51] rynowak opened #12416 "Blazor API Review: Authorization"
# Summary

The authorization functionality in Blazor allows applications to access similar concepts to our server-side frameworks such as policies, roles, and claims.

We offer APIs to provide authentication information, query authentication information, and evaluate policies. Additionally we provide integration with the routing system and components programmatically hide/show UI based on authoriz

[2019-07-21 20:55] #12408 closed

[2019-07-21 21:08] JamesNK opened #12417 "HTTP2: Flow control allowing a build up of request data"
### Describe the bug
Kestrel is allowing a slow build up of request data in a client streaming scenario. In the repro unit test the client is streaming 1 GB of data in 64 KB chunks as fast as it can. The server is pausing 10 ms after reading each chunk.

It appears that the server will occasionally read a chunk, notify the client, and then the client will send two chunks in response. This graduall

[2019-07-21 21:22] lachis commented on #12354
Very subtle I guess, thanks for the help.

[2019-07-21 21:22] #12354 closed

[2019-07-21 21:28] #12329 closed

[2019-07-21 22:59] SteveSandersonMS commented on #12284
Turns out I was wrong. I thought the error handler was a `.cshtml` page, but it's not. The template is correct already.

[2019-07-21 22:59] #12284 closed

[2019-07-21 23:01] SteveSandersonMS commented on #10842
I investigated, and this *only* happens when you're doing stateful prerendering with server-side Blazor. It does *not* repro with:

 * Client-side Blazor
 * Server-side Blazor with no prerendering
 * Server-side Blazor with static prerendering

Since stateful prerendering is being decommissioned, this issue can just be closed.

[2019-07-21 23:01] #10842 closed

[2019-07-21 23:52] Tratcher commented on #12417
Can you capture the logs with full Kestrel logs enabled? Every frame is logged, though not the details.

[2019-07-22 00:01] JamesNK commented on #12417
With 64 MB of data: [grpc-client-streaming-trace.log](https://github.com/aspnet/AspNetCore/files/3415209/grpc-client-streaming-trace.log)

[2019-07-22 00:05] JamesNK commented on #12417
Wireshark: [client-streaming-large.zip](https://github.com/aspnet/AspNetCore/files/3415227/client-streaming-large.zip)

[2019-07-22 00:21] #11981 closed

[2019-07-22 00:21] SteveSandersonMS commented on #11981
Done in #12419

[2019-07-22 00:22] #9717 closed

[2019-07-22 00:24] SteveSandersonMS commented on #9717
Turns out this is already working as expected. For details, see #12422.

[2019-07-22 00:42] Suchiman commented on #9717
Odd, seems that has changed recently again though.
In my original usecase, i was using the OAuth2 Implicit grant which meant that i would receive the access token as a hash parameter like `http://app/auth#access_token=abcde123` and starting with preview 4, this didn't seem to work anymore. I could have sworn i've tried `OnAfterRender` without success, but with preview 8 bits, this seems to work fi

[2019-07-22 00:55] 274188A commented on #12388
I managed to get it working (still has a labelling issue) by uninstalling a previous version of the blazor template.

[2019-07-22 02:24] Avilad commented on #12417
Stepping through in a debugger revealed the issue is [here](https://github.com/aspnet/AspNetCore/blob/v3.0.0-preview6.19307.2/src/Servers/Kestrel/Core/src/Internal/Http2/Http2MessageBody.cs#L105). At first glance, it seems like that should read `OnDataRead(consumedLength)`, but I see that it was changed from this in this commit: https://github.com/aspnet/AspNetCore/commit/17d072fa306628dec170222b0

[2019-07-22 02:41] JamesNK commented on #12417
If the end of a message was parsed then the buffer is replaced by a slice containing up until the end of the message. Call to `TryReadMessage` will set it via the ref - https://github.com/grpc/grpc-dotnet/blob/965835442040eaa683f4af8641afb02e73d99bdd/src/Grpc.AspNetCore.Server/Internal/PipeExtensions.cs#L295

[2019-07-22 02:46] JamesNK commented on #12417
Ah, but the slice is of the remaining data. So buffer.End will always be the end.

[2019-07-22 02:51] jkotalik commented on #12417
Yeah, I think you need to call AdvanceTo(start, end) only if you didn't parse a complete message.

[2019-07-22 02:56] #12417 closed

[2019-07-22 03:00] #7419 closed

[2019-07-22 03:01] SteveSandersonMS commented on #10759
Note: when we do this, we need to make sure it supplies `null` for any omitted optional parameters for consistency with https://github.com/aspnet/AspNetCore/pull/12407.

[2019-07-22 03:28] #12388 closed

[2019-07-22 04:32] davidfowl commented on #12409
Agreed, though where the error happens doesn't really have a way to control the status code. This would need to be caught elsewhere and turned into a the relevant status code.

[2019-07-22 04:38] #12405 closed

[2019-07-22 05:03] novfal commented on #10448
Value getting but not displaying when i am using include command/ after joining the related table how rectify that .

[2019-07-22 05:13] bahmansh commented on #12403
About your second question, I did not set it and I don't know exactly.

<Project Sdk="Microsoft.NET.Sdk.Web">
  <PropertyGroup>
    <TargetFramework>netcoreapp3.0</TargetFramework>
  </PropertyGroup>
  <ItemGroup>
    <PackageReference Include="AutoMapper" Version="*" />

    <PackageReference Include="Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation" Version="3.0.0-preview6.19307.2" />
    <Pack

[2019-07-22 05:27] novfal opened #12426 "After using include Entity framework value getting but not displaying in form Blazor"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
A clear and concise description of what the bug is.

### To Repro

[2019-07-22 05:48] nblumhardt commented on #11233
We're working around this with:

[code]

No idea whether there will be unpleasant consequences due to dropping out `IEndpointFeature` from the `HttpContext`, but it _seems_ to work just fine..... :D

[2019-07-22 05:49] ppatel514 opened #12427 "Blazor (Client-Side) Template is missing in visual studio"
Blazor (Client-Side) Template is missing in visual studio even after following steps 1,2 & 3 on link below.

https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.0&tabs=visual-studio

However, I am able to create new Blazor (Client-Side) project using .Net Core CLI.

Please let me know if any additional details are needed. Any help much appreciated.

[2019-07-22 06:12] davidfowl opened #12428 "Consider adding an overload of Listen that takes an EndPoint"
To allow custom transport that supports any arbitrary EndPoint, we need to expose a Listen overload that flows this information to the transport. This came up when implementing named pipe transport.

Proposal:

[code]

cc @shirhatti

[2019-07-22 06:34] shravan2x commented on #6914
@mkArtakMSFT While that's a workable solution, it forces you to put the query param at the end of the list of arguments since it has a default value. This results in bad code where you can't put important arguments in the beginning without adding default values to every argument the function takes.

I ended up just using
[code]

Altogether, I don't intend to reopen this issue since it adds to your

[2019-07-22 06:59] RemiBou commented on #12389
There is already method and extension method in C#. What would be the added value of another syntax ?

[code]

[2019-07-22 07:06] SmartKarren commented on #11951
we use aws ec2 c3.large machine
we update .net core version from 2.1 to 2.2 and UseLibuv when build host startup.
then this question not show again. but i still not sure why this happen

[2019-07-22 07:18] novfal opened #12429 "MatTable page size not working"
<MatTable Items="project"  PageSize="12">

Page size = 12 mentioned but in the defaultly 5 only displaying

[2019-07-22 08:01] odinnou commented on #12381
Hello, I found a workaround for thie issue with the use of a middleware :

[code]

This middleware will rewrite "invalid" keys in Request.Forms

[code]

Then we can keep the rest of the logic without change anything else

[code]

Hope it helps, Rémi

[2019-07-22 08:05] mathiassiig commented on #9917
It's an Azure Web App running ASP.NET Core with the newest version of SignalR. I increased the timeout intervals, but it didn't seem to do a difference. It happens randomly, although there seems to be periods where it happens several times in a row.

[2019-07-22 08:09] JunTaoLuo commented on #11820
@danroth27 what's the recommendation for razor class library? The proposed name looks identical to the current one.

[2019-07-22 08:17] SeppPenner opened #12432 "Question: How to use sessions correctly in Blazor?"
### Question
How can I use sessions in Blazor correctly? The answers I found:

* Use a scoped service: I don't think that this is the correct way to go, described here: https://stackoverflow.com/questions/53913396/how-to-store-session-data-in-server-side-blazor
* Use `cloudcrate/BlazorStorage` from https://github.com/cloudcrate/BlazorStorage (@SteveSandersonMS did this on the NDC 2018, check https

[2019-07-22 09:02] Kikimora opened #12433 "Question - Low level caching in SignalR"
Let say I have typical single producer multiple consumers scenario with SignalR. Multiple clients connect and receive same data produced by one producer. Messages produced every second, every message produced could be in range of few hundred bytes to a couple of kilobytes.

Number of clients could be in low hundreds of thousands. In this scenario I want to cache raw bytes of my messages and spit t

[2019-07-22 09:37] ststeiger commented on #1528
@oblin: Added.

@jfcaldeira: As long as you run the application on Windows, the reportviewer on gitlab should work, more or less (open problem with images in HTML-output, so far). Run it on Linux, and it should work as long as you don't use PDF, TIFF or PowerPoint as output format (don't know about word), but Excel, html, xml, and json worked on Linux, too (in my 1-report test - can't say whether

[2019-07-22 10:38] mg1357 opened #12434 "Blazor server side component input Url Parameter not converting from Base 64"
I use Blazor Server Side Preview 6,

I had problems with Identity ConfirmEmailAsync and always it returns Invalid Token. So I write a custom TokenProvider. at one side I have this Code:

[code]
and at the other side in the ConfirmEmail page that Recieves UserID and Token as input Route parameters:

[code]
In the custom TokenProvider at the end of the method that creates the token I have:

[code]
a

[2019-07-22 11:33] TehWardy commented on #12351
That's a great point @Eilon  ...

Deployments are already a tricky prospect but as much as much possible I would urge people to write code-bases that don't change regardless of environment and to as much as possible keep their environments the same for maintainability reasons.

I accept this is not always possible in which case I would encourage more modularity in deploys and branching in the code

[2019-07-22 11:39] abergs commented on #4422
@Tratcher I couldn't see this issue mentioned in the 2.2.6 release notes. Did I miss it or will it not be released for 2.x?

[2019-07-22 12:13] xclud commented on #12410
This was a neat one. Closing the issue.

[2019-07-22 12:13] #12410 closed

[2019-07-22 12:22] maxmantz opened #12437 "[Bug] WPF crashes on specific systems"
### Describe the bug
The bug occurs when I click a TextBox inside a WPF window.

This is the stacktrace:
[code]

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core: latest 3.0-preview
2. Run this code: [link](https://github.com/maxmantz/WpfAppBug)
3. Click inside the TextBox
4. See error

### Expected behavior
Either a crash with the mentioned `System.ArgumentE

[2019-07-22 12:35] jfcaldeira commented on #1528
Hello, thank you for replying about my issue. I haven't heard of this reportviewer on gitlab, can you show me an anchor to it?

And about the windows authentication, the problem is that I have the user authenticated using cookie authentication on my applications in ASP.NET Core and the workaround to get users to access the report  is basically pass the direct URL with parameters to the href of an

[2019-07-22 12:45] dazinator opened #12438 "Blazor Preview 6 Client - System.Convert.FromBase64String"
### Describe the bug
`System.Convert.FromBase64String` throws an exception when running on blazor client with a seemingly valid base64 string. I have validated the base64 string shown below over here: https://base64.guru/tools/validator

`System.Convert.FromBase64String` works for other base 64 strings that I have tested with, so something must be special about this particular one. Have included s

[2019-07-22 13:00] eaguerrerov commented on #8980
Net Core 2.2
Check your lines "addScope" or "addSinglenton" in Startup.cs, probably you have two o more lines same.

[2019-07-22 13:04] odinnou commented on #12381
fnb'f

[2019-07-22 13:12] campersau commented on #12438
Looks like .NET requires a padding sign (`=`) at the end for this string so it has a proper length.

Demo: https://dotnetfiddle.net/AqzFtn
Info: https://stackoverflow.com/a/6916831

[2019-07-22 13:41] GerFVersteegGitHub commented on #8980
Sorry Eaguerrerov, this was one of my checks. The only problem is when I work with a "Key fault" in my program. Without the key vault and use the appsettings.json, then every thing is Ok.

[2019-07-22 14:10] mkArtakMSFT commented on #12437
Thanks for contacting us, @maxmantz.
This repo is for ASP.NET Core related issues only. For WPF related issues please use https://github.com/dotnet/wpf

[2019-07-22 14:10] #12437 closed

[2019-07-22 14:15] mkArtakMSFT commented on #12429
We're closing this issue as there is no enough details provided.
If this is a valid issue with ASP.NET Core, please reopen and provide details about your scenario, what you're trying to do, and how and what's going wrong. If this is a bug report, please attach a small repro project, so we can investigate this further.

[2019-07-22 14:15] #12429 closed

[2019-07-22 14:23] KhalilHemissi commented on #8980
Hi !!
i want to lunch my api (asp core 2.2)on IIS Server ,  I receive HTTP Error 500.30 - ANCM In-Process Start Failure .
i configured Web.config , and myProject.csproj and program.Cs .
the same error ..
Any One can help me !! thanks

[2019-07-22 14:35] justinhelgerson commented on #10975
@sebastienros I think your idea of a DI container for each tenant is the way to go unless this becomes a first class feature.  Do you have a stripped down example showing how you can add/update the containers dynamically?  🤞

[2019-07-22 14:54] Tratcher commented on #4422
@jkotalik did we patch IIS for this?

[2019-07-22 15:02] Tratcher commented on #11233
@nblumhardt that's fine. Here's an even simpler variant:
https://github.com/dotnet/dotnet-core-website/pull/1360/files

[2019-07-22 15:08] javiercn commented on #12046
I'm not able to repro this with the latest bits. This has likely been a temporary issue within System.Text.Json that must have already been addressed.

[2019-07-22 15:08] #12046 closed

[2019-07-22 15:11] anurse commented on #9917
@mathiassiig I'd strongly advise you to create a new issue with your specific scenario. Since this is a closed issue, it doesn't come up in our regular tracking so you're relying on David and I alone paying attention to our GitHub notifications (which we generally do, but can easily get behind on ;)).

[2019-07-22 15:14] anurse commented on #10840
I believe everything we have is in the SignalR THIRD-PARTY-NOTICES file (https://github.com/aspnet/AspNetCore/blob/master/src/SignalR/THIRD-PARTY-NOTICES) but I'm not sure if it should be moved forward to the repo-root one (they haven't been as of this comment).

[2019-07-22 15:14] #11591 closed

[2019-07-22 15:16] jkotalik commented on #4422
No, we didn't. I don't believe we patched Kestrel either though?

[2019-07-22 15:20] DanoThom commented on #2302
Can confirm I'm experiencing the same issue using FrontDoor --> WebApp --> Logout Auth.

The internal logout mechanics seem to be ignoring the usePathBase logic to build downstream routing.

[2019-07-22 15:21] dazinator commented on #12438
@campersau thanks for this, I was just fiddling around along those lines - it looks like you are correct sir.

For the full info behind this, I'm returning a JWT token from asp.net core, to my blazor client app - and its generated like so:

[code]

The format of a JWT token is actually 3 base 64 encoded strings concatenated together, using a "." as the seperator: i.e [header].[claims].[signature]

[2019-07-22 15:21] #12438 closed

[2019-07-22 15:24] SteveSandersonMS opened #12442 "Reconnection enhancements"
Following on from work done for #11999, here are some improvements to reconnection that we'd like to make:

 * Make the "retry" button show some acknowledgement when you click it
    * For example, disable it for 1 second following the click
    * If the manually-initiated retry fails, then change the dialog text to say "Reconnection failed. Try reloading the page if you're unable to reconnect.".

[2019-07-22 15:25] SteveSandersonMS commented on #11999
Closing this one as done in #12420, with remaining suggestions for future enhancement now moved to https://github.com/aspnet/AspNetCore/issues/12442.

[2019-07-22 15:25] #11999 closed

[2019-07-22 15:28] #12249 closed

[2019-07-22 15:32] BrennanConroy commented on #10840
I believe there are some additional updates needed, for example removing SimpleJson https://github.com/aspnet/AspNetCore/blob/077df0e3ca6849df8173ca818693dbf1d99fa512/src/Components/THIRD-PARTY-NOTICES.txt#L346 and @pranavkm noticed something we might need to add

[2019-07-22 15:38] BrennanConroy commented on #12433
If you create the message and send it using `Clients.All.SendAsync(...)` or `Clients.Group(name).SendAsync(...)` etc. then it will only be serialized once by SignalR and sent to all the clients.

But if you're wanting to send to multiple groups or multiple individual clients or send the same message multiple different times there is currently no way to do this.
The closest you can probably get is

[2019-07-22 15:42] asleeguilez opened #12443 "Credentials and impersonalize"
Hi.
I have problems assigning the Suppressed credentials.

`

                WindowsIdentity identity = (WindowsIdentity)HttpContext.User.Identity;
                WindowsIdentity.RunImpersonated(identity.AccessToken, () =>
                {

                    Uri uri = new Uri(@"\\SVWSIOPRDAPP01\colibri$\Agente\AgenteColibri.config");
                    FileWebRequest fw = (FileWebRequest)Fil

[2019-07-22 15:43] BrennanConroy commented on #12378
This is the first time I'm hearing of an issue with extensions, so we wont really have any guidelines...

The extension you linked automatically refreshes the tab, so I hope the issue you're seeing isn't that the connection is closed and opened when the page refreshes, as that would be 100% expected behavior.

[2019-07-22 15:48] SteveSandersonMS commented on #11887
@PhilPJL Would you be able to post a new issue describing what problems you're having? I did just try adding `System.Data.Common` version 4.3.0 to a Blazor client-side (3.0.0 preview 6) application, and this didn't cause any compilation errors. Could you post a new issue describing what you're trying to do, as well as what steps you're taking that lead to an error?

In general, client-side Blazor

[2019-07-22 15:53] eaguerrerov commented on #8980
@KhalilHemissi is working with dependency injection in your application asp net core 2.2 ?

[2019-07-22 15:59] metalglove commented on #12396
I had the same problem yesterday, but a restart of the SQL server fixed this for me.

[2019-07-22 16:03] anurse commented on #12334
Necessary for 3.0 or could this be done in 3.1?

[2019-07-22 16:04] anurse commented on #12222
Is this something we should consider critical for 3.0? If so, can you file a bug with some notes and we can triage. It'll probably have to land in preview 9 but if it's important, we can definitely get it through ask mode.

[2019-07-22 16:05] Kool-Koder commented on #12396
Hmm upon tracing further the root cause for me is that it seems that the configuration file is not exported in a published/hosted app?

Example for this line of code when working in VS I can retrieve the data. However in published mode it doesn't seem to. So I played around with the code and return a hardcoded string for the DB name instead of relying on Configuration files. So far it seems to be

[2019-07-22 16:12] mkArtakMSFT commented on #12434
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-blazor** tag.

[2019-07-22 16:14] mkArtakMSFT commented on #12432
Thanks for contacting us, @SeppPenner .
We don't have a blazor-native way for interacting with Session.
@anurse does SignalR provide any guidance regarding using sessions?

[2019-07-22 16:14] metalglove commented on #12396
Check the File Properties for your appSettings.json file and make sure *Copy to Output Directory* is set to *Copy if newer*. This will make sure it is copied to your output directory. What I like to do in my projects is to have a try-catch for loading the configuration.
[code]

[2019-07-22 16:16] #11873 closed

[2019-07-22 16:16] mkArtakMSFT commented on #12427
Thanks for contacting us, @ppatel514.
You most probably got some error during your setup, which may have been somewhat silent and you didn't notice it. Leaving this here for you to provide more details and the community members may be able to help you out with identifying it.

[2019-07-22 16:16] mkArtakMSFT commented on #12426
Closing as there is no enough information.

[2019-07-22 16:16] #12426 closed

[2019-07-22 16:18] mkArtakMSFT commented on #12413
Thanks for contacting us, @VR-Architect .
You should simply use JSInterop for this.

[2019-07-22 16:18] #12413 closed

[2019-07-22 16:18] mkArtakMSFT commented on #12399
@danroth27 this is all yours!

[2019-07-22 16:20] mkArtakMSFT commented on #12391
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-blazor** tag.

[2019-07-22 16:21] mkArtakMSFT commented on #12389
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-07-22 16:21] #12389 closed

[2019-07-22 16:23] anurse opened #12445 "Port remaining components to "Microsoft.Data.SqlClient""
* `dotnet-sql-cache` tool
* ~~`SqlConnectionHealthCheck` (cc @rynowak)~~ Not a shipping thing, a sample. Never mind.

cc @ajcvickers @divega

[2019-07-22 16:23] mg1357 commented on #12434
You didn't bother reading the Issue carefully, Maybe this is a bug in your system.

[2019-07-22 16:24] Herdo commented on #12391
@mkArtakMSFT Thanks for directing me to StackOverflow, but this isn't much of a question, more like a possible issue I see when you want to use shared policies. I'm in no rush here, just pointing this out for the 3.1.0 milestone.

[2019-07-22 16:29] jeremycook commented on #4422
I've seen the following exception 80 times in the last 7 days on a site that gets about 20K page views per week. Windows 2012 R2, dotnet hosting 2.2.6, InProcess.

[code]

[2019-07-22 16:37] mkArtakMSFT commented on #12443
Thanks for contacting us. Please provide more details about your scenario, what you're trying to do and what's you're having trouble with.

[2019-07-22 16:38] Kool-Koder commented on #12396
I see. Thanks for sharing. Will take a look at that. :)

[2019-07-22 16:40] #11522 closed

[2019-07-22 16:45] chucker opened #12446 "Wrong inferred type param when passing `this` to Microsoft.JSInterop.DotNetObjectRef"
Preview 6 replaces `DotNetObjectRef` with a generic `DotNetObjectRef<T>`. Instead of a constructor, the `Create<T>` method is now used.

When passing `this` from within a component, this leads to unexpected results due to Razor's parsing behavior.

### To Reproduce
Steps to reproduce the behavior:
1. Using ASP.NET Core **3.0 Preview 6** and Visual Studio 2019 **16.2 Preview 4**
2. Create a new Bla

[2019-07-22 16:50] chucker commented on #12446
I filed this a bit prematurely. The above error messages are real. However, when actually building the project, _you need to go with the original code_.

So, while this will show an error during Razor compilation:

[code]

, it is in fact the correct syntax for building the project.

[2019-07-22 16:53] anurse commented on #12432
No, we don't have specific guidance. The `HttpContext.Session` object is certainly not guaranteed to work properly.

[2019-07-22 16:58] asleeguilez commented on #12443
A netcore WebApi. with integrated authentication. What other information do you need?

[2019-07-22 17:01] jkotalik commented on #12334
Really should be in 3.0.

[2019-07-22 17:03] anurse commented on #12334
*should be* isn't *necessary for* though ;). I'm not saying I'll punt it out if we say it's not necessary but I'd like to know what it means to *not* take this in 3.0

[2019-07-22 17:04] asleeguilez commented on #12443
![Sin título](https://user-images.githubusercontent.com/36541371/61650189-84cc7680-ac89-11e9-968e-8299eef096af.png)

[2019-07-22 17:05] asleeguilez commented on #12443
![Sin título](https://user-images.githubusercontent.com/36541371/61650312-c9f0a880-ac89-11e9-82a7-433caae869a0.png)

[2019-07-22 17:08] Herdo commented on #12391
Added question on StackOverflow: https://stackoverflow.com/questions/57150701/use-same-authorization-policies-for-client-and-server-in-blazor

That mixed versions and compability between `Microsoft.AspNetCore.App`, `Microsoft.AspNetCore.Authorization (3.0.0)` and `Microsoft.AspNetCore.Identity (2.2.0)` aren't very obvious, nor comprehensible.

[2019-07-22 17:09] mkArtakMSFT commented on #5266
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-07-22 17:09] #5266 closed

[2019-07-22 17:10] mkArtakMSFT commented on #5265
Thanks for contacting us, @eparizzi.
We rely on the functionality provided by the underlying SPA framework CLI, and whatever they provide is the feature set we stick to.

[2019-07-22 17:10] #5265 closed

[2019-07-22 17:12] mg1357 commented on #12434
OK, I created a test page and sent a base64 string as a parameter to another page and compared it with a property that I set in a singleton service, It seems that everything works fine, But I don't know why I get the error, because the Input parameter is definitely a base64 string but the unprotect mehod says that it is not.

[2019-07-22 17:13] pranavkm commented on #12381
/cc @Tratcher

[2019-07-22 17:14] #11847 closed

[2019-07-22 17:15] mkArtakMSFT commented on #5261
This seems to be a set of multiple unrelated issues. Please file separate issues for those which are still applicable and we'll consider those.

[2019-07-22 17:15] #5261 closed

[2019-07-22 17:18] mkArtakMSFT commented on #5260
Seems to be a dupe of https://github.com/aspnet/AspNetCore/issues/5261

[2019-07-22 17:18] #5260 closed

[2019-07-22 17:23] mkArtakMSFT commented on #5257
Thanks for contacting us. We're closing this issue as there was no community involvement here for quite a while now.

[2019-07-22 17:23] #5257 closed

[2019-07-22 17:24] mkArtakMSFT commented on #5254
Thanks for contacting us. We're closing this issue as there was no community involvement here for quite a while now.

[2019-07-22 17:24] #5254 closed

[2019-07-22 17:24] mkArtakMSFT commented on #5253
Thanks for contacting us. We're closing this issue as there was no community involvement here for quite a while now.

[2019-07-22 17:24] #5253 closed

[2019-07-22 17:27] mkArtakMSFT commented on #5250
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-07-22 17:27] #5250 closed

[2019-07-22 17:28] mkArtakMSFT commented on #5248
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-07-22 17:28] #5248 closed

[2019-07-22 17:28] mkArtakMSFT commented on #5247
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-07-22 17:28] #5247 closed

[2019-07-22 17:29] mkArtakMSFT commented on #5246
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-07-22 17:29] #5246 closed

[2019-07-22 17:30] rynowak opened #12448 "@bind:event not honoured for type="range""
Clone: https://github.com/JeremyLikness/SliderExample

This slider should update in realtime instead of just when you release the thumb. This is a bug in the codegen where it's ignoring the `@bind:event`.

Changing the code like the following fixes it.

[code]

[2019-07-22 17:45] natemcmaster commented on #8633
@Pilchie this one affects servicing 3.0.x and would be good to review for RTM.

[2019-07-22 17:45] natemcmaster commented on #9479
@Pilchie this one will definitely affect servicing 3.0.x and would be good to review before RTM.

[2019-07-22 17:45] natemcmaster commented on #11206
@Pilchie this one might affect servicing 3.0.x and would be good to review for RTM.

[2019-07-22 17:50] endeffects opened #12451 "Dynamic Port Binding"
It would be really helpfull if you would support dynamic port bindings on the launchSetting.json for IIS and Kestrel hosting enviroments.

[2019-07-22 18:03] chrdlx commented on #5523
Hi! What is the current recommended way to bind decimal objects?
I've found myself using inputs only with string objects to then cast manually everyone to the datatype and format I need.

Is this how it's supposed to be used?

Thanks & Regards!!

[2019-07-22 18:09] HaoK commented on #12233
That behavior is likely due to the security stamp validation that's looking for a user's security stamp within the cookie, you disable that check if you aren't using the security stamp via its options: https://github.com/aspnet/AspNetCore/blob/bfec2c14be1e65f7dd361a43950d4c848ad0cd35/src/Identity/Core/src/SecurityStampValidatorOptions.cs#L20

[2019-07-22 18:11] natemcmaster commented on #7190
@Pilchie at this point, I would recommend closing this. I don't think there is much benefit to this, and it's more likely to cause problems.

[2019-07-22 18:15] #7190 closed

[2019-07-22 19:21] JohnGaltt commented on #2193
Hi,
@Tratcher
I have the same issue, but I have another approach to generate token.
Token Generation
`public async Task<string> GetToken()
        {
            GoogleCredential credential;
            using (var stream = new System.IO.FileStream(path,
                System.IO.FileMode.Open, FileAccess.Read))
            {
                credential = GoogleCredential.FromStream(stream).CreateSco

[2019-07-22 19:26] chucker commented on #11677
@BaranOzdemir it's scheduled for tomorrow (the 23rd)

[2019-07-22 19:27] nickenchev commented on #3293
What if I only want http for dev env, and https for prod, do we have to keep editing the launch settings config?

[2019-07-22 19:33] serpent5 commented on #10970
I’d still like to try and PR this, but I’m having a really hard time trying to build from source, so I’ll come back when I’ve got that going.

[2019-07-22 20:21] #10557 closed

[2019-07-22 20:21] #10556 closed

[2019-07-22 20:25] mkArtakMSFT commented on #12443
@shirhatti is this something you can provide guidance on?

[2019-07-22 21:37] blowdart commented on #12443
What trouble are you actually seeing? Are you getting errors?
Why are you attempting to use a webrequest to write to a UNC share?

[2019-07-22 21:40] Buildstarted opened #12455 "Script innertext is mangled when type="text/html""
### Describe the bug
When having a script tag with the attribute `type="text/html"` the parser breaks whatever is contained within when `<%` and `==` can be found

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 3.0.100-preview6-012264
2. Run this code inside any .cshtml file

[code]

3. With these arguments: none necessary
4. Result:
[code]

### Expected be

[2019-07-22 22:13] worldspawn commented on #8980
@khalilhemissi this is a generic error and there are many causes. Check the windows event viewer application log for a cause and if you don't find anything there check the log file setup in web.config. Usually ./logs, it's off by default, enable in web.config.

[2019-07-22 22:19] KevinCathcart commented on #12351
It **is intended** that you can take the output of `dotnet publish` from Linux and use it on Windows and vice versa, as long as you published a [Framework Dependant Deployment (FDD)](https://docs.microsoft.com/en-us/dotnet/core/deploying/index#framework-dependent-deployments-fdd), which is the default, instead of a [SCD](https://docs.microsoft.com/en-us/dotnet/core/deploying/index#self-contained-d

[2019-07-22 22:30] PhilPJL commented on #11887
@SteveSandersonMS sorry my mistake, should have been system.drawing.common.  Try adding either v4.5.1 or 4.6.0-preview6.  Same problem.  Both version specify .NETStandard v2.0 = no dependencies.
[WebApplication1.zip](https://github.com/aspnet/AspNetCore/files/3419362/WebApplication1.zip)

[2019-07-22 22:48] PhilPJL opened #12457 "Adding system.drawing.common to a Blazor app causes the linker to fail."
### Description
Adding system.drawing.common to a Blazor app causes the linker to fail.
system.drawing.common is advertised as supporting .NET Standard 2 with no other dependencies.  system.drawing.common is a dependency of other Nuget packages such as ClosedXml which then have the same linker error.

### To Reproduce
Dotnet core 3.0.100-preview6-012264
Visual Studio 16.2.0 Preview 4.0
Create new

[2019-07-23 00:27] John0King commented on #12199
@mkArtakMSFT  @Pilchie  Will my suggestion( or part of) be considered?

[2019-07-23 00:32] pranavkm commented on #12403
@bahmansh could you share the `project.assets.json` from the `obj` directory in your app? That should help.

[2019-07-23 00:34] pranavkm opened #12458 "Verify recompilation of cshtml and razor files"
Verify fixes to #11873

[2019-07-23 01:36] juliusfriedman commented on #11246
Just as a FYI I am hitting this issue when trying to accept plain Object for input using System.Text.Json using ASP.Net Core 3.0 (Latest preview)

I have a controller with a method as follows:

`public ActionResult PutMapData(string parameterFromUrl, [FromBody]ApiInput<Object> inputFromBody) {...}`

Without the workaround posted by @martincostello I experience the same exception outlined which res

[2019-07-23 01:56] Tratcher commented on #12451
Can you elaborate? What would you expect to enter in launchSettings.json and how would you expect the server to react?

[2019-07-23 02:04] nblumhardt commented on #11233
@Tratcher thanks 👍 - don't think I have the privs to view that PR, though.

[2019-07-23 02:05] Tratcher commented on #12381
You're using the terms form and query interchangeably here, but you're always talking about a form post and never a url query string, correct? The formats are similar.

[2019-07-23 02:06] Tratcher commented on #11233
Woops, try this:
[code]

[2019-07-23 02:10] nblumhardt commented on #11233
Aha, makes sense, thanks!

[2019-07-23 02:22] howardgod opened #12459 "Can "Blazor (ASP.NET Core hosted) template" use windows authentication?"
### Description
I know Blazor client-side can NOT use windows authentication but Blazor side-side can. I wonder could "Blazor (ASP.NET Core hosted) use windows authentication? Even though it's Blazor client-side project, but it still runs on dotnet core back-end.

[2019-07-23 03:22] dougbu commented on #7491
After offline discussion with @glennc, we've decided to close this issue and await custom input on the feature's overall usability

[2019-07-23 03:22] #7491 closed

[2019-07-23 03:37] rynowak commented on #12415
One other topic - is `RenderTree` a good namespace for this to live in **forever**? Right now what's there is all of the actual render frame types, which we want to discourage people from using. `Rendering` would be a better namespace.

[2019-07-23 03:49] davidfowl commented on #12455
@Buildstarted! Where have you been!?

[2019-07-23 04:00] davidfowl commented on #12451
Doesn’t passing 0 for the port work?

[2019-07-23 04:09] Buildstarted commented on #12455
I've been on the jabbr slack. I tried to connect to the asp slack a few times but always got errors so I gave up.

[2019-07-23 04:28] mkArtak opened #12461 "The buttons stay in `clicked` state after the click"
The functionality actually works, but there is some issue with the UI.
![](https://user-images.githubusercontent.com/7347708/61682492-b879c180-acc6-11e9-99f4-4dcd0dd05743.gif)

Source: https://github.com/mkArtak/LittleBlazors
Interestingly, the functionality works as expected, it's some kind of UI -only issue.

[2019-07-23 04:28] mkArtak commented on #12461
Looks like this only happens on Edge. Chrome works just fine. Closing.

[2019-07-23 04:28] #12461 closed

[2019-07-23 04:56] odinnou commented on #12381
hello, yep always a form post, sorry for the disturbing term "query"

[2019-07-23 05:35] erwindevreugd opened #12462 "Adding a Blazor UserSpecifiedDisplay within a other file than _Host.cshtml does not work"
### Describe the bug
When adding a Blazor UserSpecifiedDisplay to _Host.cshtml everything works as expected. When adding the UserSpecifiedDisplay into a Blazor component and adding that component into the App.razor file, the resulting HTML is added to the DOM but the element classes are no longer being added when the connection state changes.
(Adding the Blazor component to *_Host.cshtml* does not

[2019-07-23 05:38] tungphuong opened #12463 ".Net Core 3.0 and gRPC on Mac"
I followed the document to create one gRPC server with .net core 3.0 preview 6. It works well on window 10 and WSL. However, when I run it on MacOS via console or Visual Studio for Mac that it throws an exception

fail: Microsoft.AspNetCore.Server.Kestrel[0]
      HTTP/2 over TLS was not negotiated on an HTTP/2-only endpoint.

The current settings and code:
- appsettings.json
[code]
- startup.cs
[

[2019-07-23 05:49] SeppPenner commented on #12432
I already experienced that 😄

[2019-07-23 07:05] endeffects commented on #12451
Nope, this ends up in an invalid address error.

[2019-07-23 07:06] davidfowl commented on #12451
I believe it works for Kestrel but not for IIS. Can you describe what you're trying to do?

[2019-07-23 07:13] dapeng-HB commented on #3169
Get request body from ActionExecutingContext ActionFilter
[https://stackoverflow.com/questions/41850397/asp-net-core-get-request-body-from-actionexecutedcontext-actionfilter?rq=1](https://stackoverflow.com/questions/41850397/asp-net-core-get-request-body-from-actionexecutedcontext-actionfilter?rq=1)

[2019-07-23 07:15] endeffects commented on #12451
Well, i just want to ensure that the applications are able to run on each developer machine.
So picking the ports automatically is the prefered choice in my opinion.

[2019-07-23 07:31] stevef51 commented on #8449
@paillave thanks for the effort - however on my Mac host this errors with

fs.inotify.max_user_instances=524288
sysctl: illegal option -- p
usage: sysctl [-bdehiNnoqx] name[=value] ...
       sysctl [-bdehNnoqx] -a

and if I run it inside my Docker container (which is where I think it should be run), it also errors saying its a readonly file system, what does appear to work (in the middle of testi

[2019-07-23 07:48] bahmansh commented on #12403
[project.assets.json.zip](https://github.com/aspnet/AspNetCore/files/3420827/project.assets.json.zip)
@pranavkm

[2019-07-23 07:50] odinnou commented on #12381
For information, I have test the same form post on a Spring Boot project and the missing "equal" sign is ignored and properties are correctly binded.
I don't know if it's because it's a real standard or if spring boot is more "permissive" on this point

Thanks in advance

[2019-07-23 08:11] davidfowl commented on #12381
It's certainly a data point worth considering. We should do some research to see what is supported in the various places:
- IIS
- ASP.NET (non core)
- Spring boot (we know now)
- nodejs

[2019-07-23 08:14] bahmansh commented on #12403
I removed obj folder but after build it contained "Microsoft.AspNetCore.Mvc.Analyzers": "2.2.0" again.

[2019-07-23 08:46] Larry57 commented on #3868
I ran into this same issue. [Here](https://stackoverflow.com/questions/57159545/backgroundservice-implementation-that-prevents-aspnetcore-to-start-stop-correctl) is a StackOverflow question I asked regarding this: basically, I am using Task.CompletedTask and it is blocking, while a Task.Delay(1) is not. Is returning a Task.CompletedTask harmful?

[2019-07-23 08:52] KhalilHemissi commented on #8980
@eaguerrerov Yes .
it works on local but when i wanna to lunch it on server IIS ! it causes problem ..
this is the first time , i deploy app on iis , it can be problem of setup ???
i follow instruction of this documentation :
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-2.2

[2019-07-23 09:03] KhalilHemissi commented on #8980
@worldspawn
 when i enable stdoutLogEnabled with module AspNetCoreModuleV2 ./log created but files of logs is empty.and when i enable it with module AspNetCoreModule the log files contains :
Hosting environment: Production
Content root path: C:\Deploy\IXIGraphiqueApi\09-DEV
Now listening on: http://localhost:5000
Application started. Press Ctrl+C to shut down.

[2019-07-23 09:12] mg1357 commented on #12434
I reversed the order of parameters from:

`@page "/account/confirmemail/{UserId}/{Token}"`

to

`@page "/account/confirmemail/{Token}/{UserId}"`

and now the Token converts from Base64 string.

[2019-07-23 09:17] KhalilHemissi commented on #8980
@worldspawn
 when i enable stdoutLogEnabled with module AspNetCoreModuleV2 ./log created but files of logs is empty.and when i enable it with module AspNetCoreModule the log files contains :
Hosting environment: Production
Content root path: C:\Deploy\IXIGraphiqueApi\09-DEV
Now listening on: http://localhost:5000
Application started. Press Ctrl+C to shut down.

Thanks for answering ..

[2019-07-23 09:55] KhalilHemissi commented on #8980
@eaguerrerov  Yes .
it works on local but when i wanna to lunch it on server IIS ! it causes problem ..
this is the first time , i deploy app on iis , it can be problem of setup ???
i follow instruction of this documentation :
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-2.2

Thanks for answering ..

[2019-07-23 09:55] vitalybibikov commented on #10497
I have the same issue. My test solution with xUnit integration tests works on local enviornment: both on linux and windows.

After series of experiments I can say that on Azure DevOPS
1. running dotnet build goes fine.
2. Running dotnet test --no-build hangs on the first test executed (sometimes it executes several tests, but still hangs)

[2019-07-23 10:11] deanmarcussen opened #12466 "Provide FileVersionProvider Async Option"
### Is your feature request related to a problem? Please describe.
When replacing the `DefaultFileVersionProvider` my replacement needs to make async calls.

Specifically the use case is to retrieve the `ContentMD5` property from an Azure Blob Store with `blob.FetchAttributesAsync()` from within a tag helper, which has an async option, and then from the `IFileVersionProvider`, which has no `Async`

[2019-07-23 10:18] arunputhrankyc commented on #1528
Hi, @ststeiger - my gitlab is arunputhran. Can you grant me access please? many thanks!

[2019-07-23 10:21] emumanu commented on #5011
@rynowak and/or @DamianEdwards, please tell something to @CamiloTerevinto as we want to see this improved.

[2019-07-23 10:41] KhalilHemissi commented on #8980
even when i create a new project api core 2.2 !! it didn't work , same problem !!! :(  :(

[2019-07-23 10:47] AJB-Sharp commented on #11633
I'm getting the following using Windows Authentication:
'user.Identity.Name' threw an exception of type 'System.ObjectDisposedException'
You suggests that I should clone the claims, which I do not know where or how to do. Please can you help.

[2019-07-23 10:48] TehWardy commented on #12351
@KevinCathcart  In my environments literally the only thing that changes for my code base is the config information. I went to crazy extreme lengths to ensure this was the case keeping the code simple and my stack clean.

Now please don't take this as a rant but merely constructive criticism ...

Your post doesn't address the point raised by @Eilon though as the environment variable cannot be the

[2019-07-23 11:34] Trolldemorted opened #12468 "value=@model.foo is not initialized correctly"
### Describe the bug
I have a set of objects which can be updated either by user interaction and a signalr handler. Since we cannot have onchange and bind at the same time, I resorted to using `value=@model.foo` as a workaround. Event handling works fine, but the initial value is not set correctly.

### To Reproduce
Take this blazor page:
[code]
When the page loads, both checkboxes are unchecked.

[2019-07-23 11:41] asleeguilez commented on #12443
It is a system with windows authentication and I want to modify a file that is in a share that only certain users have access to.
That's why I need to log in with the credentials of the logged in user.
but these credentials go blank.

[2019-07-23 12:39] javiercn commented on #11557
Validation done with 3.0.100-preview8-013393

I ran the angular and react templates with dotnet run
* Click on fetch data
* Registered a new user
* Saw the data show on the page.
* Logged out
* Clicked login
* Entered credentials
* Successfully authenticated

I was able to get all the validations done.

[2019-07-23 12:40] javiercn commented on #12343
I completed the validation for the SPA templates update for react and angular, so I'm done for preview8 validation.

[2019-07-23 12:49] #11557 closed

[2019-07-23 12:55] eaguerrerov commented on #8980
@KhalilHemissi
Try download and install manually asp net core 2.2 in this url.
No required Visual Studio Installer.

url here:
https://dotnet.microsoft.com/download/dotnet-core/2.2

[2019-07-23 12:58] campersau commented on #12468
For boolean values and checkboxes use the `checked` attribute instead of `value` or use the [`InputCheckbox`](https://github.com/aspnet/AspNetCore/blob/8f87e482513ecf363d9d3cffec14b6200a939c27/src/Components/Web/src/Forms/InputCheckbox.cs) component.

[2019-07-23 13:07] KhalilHemissi commented on #8980
@eaguerrerov thanks , i will try but  i have new news !!
I created an MVC Web Application (asp.core 2.2) then i deploy it on IIS and it's works !!
and re-create and other project but WEB API , but on IIS didn't !!! okay

[2019-07-23 13:25] JoshKeegan opened #12470 "IServiceCollection.ConfigureApiBehaviorOptions overload for IServiceProvider"
### Is your feature request related to a problem? Please describe.
I am trying to use `IServiceCollection.ConfigureApiBehaviorOptions` to set an `InvalidModelStateResponseFactory`, but my factory has a number of dependencies so I want to resolve this via dependency injection.

Currently I am having to build a service provider just for this:
[code]

### Describe the solution you'd like
An overload

[2019-07-23 13:29] gokmenerdem opened #12471 "Net.Core webForms"
Is there any future planning about supporting WebForms for Net. Core ?

[2019-07-23 13:41] gmarokov opened #12472 "Model binding failure should return friendlier message with option to customize it"
### Description
Model binding fails due to try parse whitespaced string to decimal property and exposing sensitive info to client.

### To Reproduce
Steps to reproduce the behavior:
1. I have very simple ApiController:
`[ApiController]
public class ProductsController
{
    [HttpPost]
    public IActionResult Post([FromBody]CreateProductDto model)
    {
        model.Id = await service.CreateProduc

[2019-07-23 13:48] macfarmw commented on #3793
We just encountered this file locking issue for the first time today since dotnet core is new for us. I was really caught off guard by this. It's funny that the number 1 reason I switched from Classic ASP to .Net Framework while it was still in beta (~2001) is because I could do hot deployments with no files locking. It was awesome! Almost 18 years later and now I'm right back where I started. Oh

[2019-07-23 13:50] KhalilHemissi commented on #8980
@eaguerrerov i re-installed .NET Core SDK 2.2.0 and 2.2.0 Runtime & Hosting bundle.
Finally it works !! thanks a lot

[2019-07-23 14:05] k290 commented on #1528
Reposting this because its gotten buried in all the "give me access to gitlab" requests.

Everyone coming across this thread should vote for .NET Core SSRS this to be added, here: https://feedback.azure.com/forums/908035-sql-server/suggestions/33241936-develop-a-ssrs-reportviewer-for-asp-net-core

Started 7th from the top, and it has risen to 4th from the top, most requested SQL Server feature (ht

[2019-07-23 14:16] Tratcher commented on #12451
The other option is not to check in the launchsettings.json file, let VS create it locally. The way VS selects ports is less likely to conflict locally, and the dev can change it without affecting anyone else.

[2019-07-23 14:40] DAllanCarr commented on #3868
@Larry57 You need to return a task or yield the task as part of the main process loop to allow pending tasks to run. It would be safer to wrap the pipeline in a separate Task (async delegate). The blocking you mention is actually it never escaping the main process loop as shutdown is never observed.

[2019-07-23 15:27] macfarmw commented on #3719
We are about to go to work on some kind of PowerShell work around to get past this problem. Shut down app pool, copy files, start app pool and so forth. There are several such suggestions on similar comment threads about this problem.
I agree with the other comments that this is an important issue. I really hope a reliable and easy to use option becomes available soon.

[2019-07-23 15:28] Herdo commented on #12391
@mkArtakMSFT After further investigation, this is definietly an issue with the `Microsoft.AspNetCore.Identity.IdentityConstants` class provided by the `Microsoft.AspNetCore.Identity (2.2.0)` package in the shared project.

That way, shared policies are not possible. **Therefore, I'd rather call this issue a bug, not a question.**

The following error is caused by adding the package, causing the cl

[2019-07-23 15:29] Herdo commented on #12391
Example project on GitHub: https://github.com/Herdo/hou-units/tree/prototype-blazor/src/UNITS

[2019-07-23 15:53] mkArtakMSFT commented on #12466
I believe you ment

[code]

[2019-07-23 16:01] deanmarcussen commented on #12466
I believe you're correct 😄

[2019-07-23 16:35] mkArtakMSFT commented on #12468
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-07-23 16:35] #12468 closed

[2019-07-23 16:38] Trolldemorted commented on #12468
This is still a bug, isn't it? There is a workaround, but to me this is not expected behaviour.

[2019-07-23 16:39] mkArtakMSFT commented on #12462
Thanks for contacting us, @erwindevreugd.
The reconnection UI is applicable on the top page only, and not on component level. What you're trying to do is not a supported scenario.

[2019-07-23 16:39] #12462 closed

[2019-07-23 16:41] SteveSandersonMS opened #12476 "Add authentication options to client-side Blazor templates"

[2019-07-23 16:41] mkArtakMSFT commented on #12459
Thanks for contacting us, @howardgod.
Blazor client-side currently has no support for authentication. We'll look into covering that gap post 3.0 release, as part of #12476

[2019-07-23 16:41] #12459 closed

[2019-07-23 16:42] mkArtakMSFT commented on #12457
Thanks for contacting us.
This is not an area we control.
If you still have this problem, feel free to report it on the https://github.com/mono/mono repo.

[2019-07-23 16:45] mkArtakMSFT commented on #12446
Thanks for contacting us, @chucker.
This will be resolved as part of #4065

[2019-07-23 16:45] #12446 closed

[2019-07-23 16:54] mkArtakMSFT commented on #5241
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-07-23 16:54] #5241 closed

[2019-07-23 16:57] mkArtakMSFT opened #12477 "Provide guidance on how to migrate from SPA Services"
As we've had announced that the SPA services is deprecated, we need to provide some guidance to users to help them to move to the supported way of doing things.

[2019-07-23 17:16] NTaylorMullen opened #12478 "Validate ~/ in void local functions and @functions results in error."
Title says it all.

Verifying https://github.com/aspnet/AspNetCore/issues/10734

[2019-07-23 17:18] NTaylorMullen opened #12479 "Validate Component parameter visibility analyzer"
Need to verify:

- Non-public component parameters result in warning
- Non-public component parameter setter results in warning
- Component parameter usage outside of a component results in warning
- Component analyzers are auto-included in Blazor clientside projects
- Component analyzers are auto-include in Blazor serverside projects

https://github.com/aspnet/AspNetCore/issues/8825

[2019-07-23 17:19] NTaylorMullen opened #12480 "Validate renaming CSHTML files in VS no longer results in error"
Title says it all

https://github.com/aspnet/AspNetCore/issues/11720

[2019-07-23 17:21] NTaylorMullen opened #12481 "Validate C# 8.0 nullability and nullable forgiveness operator in VS"
For preview8 there was a rename to handle which nullability property Razor utilized. We should verify this works.

https://github.com/aspnet/AspNetCore/issues/11352
https://github.com/aspnet/AspNetCore/issues/11188

[2019-07-23 17:22] NTaylorMullen opened #12482 "Validate build times are no longer 2x as slow as preview6"
Should do this work in VS and on command line.

https://github.com/aspnet/AspNetCore/issues/11172

[2019-07-23 17:22] NTaylorMullen commented on #12343
https://github.com/aspnet/AspNetCore/issues/12478
https://github.com/aspnet/AspNetCore/issues/12479
https://github.com/aspnet/AspNetCore/issues/12480
https://github.com/aspnet/AspNetCore/issues/12481
https://github.com/aspnet/AspNetCore/issues/12482

[2019-07-23 17:25] marcelovidigal opened #12483 "Publish a Blazor app using standalone method in a virtual path (problems)"
I followed the official documentation (https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/client-side?view=aspnetcore-3.0), but the steps for publishing a blazor client side app are unclear.

I would like to publish to IIS.

The modification in the base tag (<base href =>) has a bug.

The suggested modifications to webconfig (parent) and webconfig (app folder) do not work, and in

[2019-07-23 17:30] anurse opened #12484 "`dotnet-watch run` fails when there are access-denied folders"
_From @Shuenhoy on Tuesday, July 23, 2019 10:38:11 AM_

## Steps to reproduce

[code]

## Expected  behavior
`dotnet-watch` should ignore the `test` folder.

## Actual behavior
`dotnet-watch` fails with exception `System.UnauthorizedAccessException: Access to the path 'test' is denied. ---> System.IO.IOException: Permission denied`

## Environment data
`dotnet --info` output:

[code]

_Copied from

[2019-07-23 17:30] anurse commented on #12484
_From @livarcocc on Tuesday, July 23, 2019 5:09:15 PM_

@anurse can you move this issue to asp.net? In the CLI, we just take a package for this verb from asp.net.

[2019-07-23 17:31] anurse commented on #12484
Why would you expect `dotnet watch` to ignore the `test` folder? Have you excluded it from your project? If not, `dotnet watch` needs to be able to see inside that folder to detect changes within it.

Can you post a runnable sample (with necessary `chmod` steps) that reproduces the problem so we can see the full project layout?

[2019-07-23 17:36] pranavkm commented on #12403
Thanks @bahmansh. The refererence is added transitively via the reference to https://www.nuget.org/packages/RotativaCore/.

@JunTaoLuo \ @davidfowl would you know why the package reference might not get knocked out. Here's the project.assets.json in a gist so it's easier to inspect: https://gist.github.com/pranavkm/9b87e51591754223854a5abe5cc29df9

[2019-07-23 17:39] pranavkm commented on #11246
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2019-07-23 17:42] martincostello commented on #11246
FYI this issue is fixed in preview 7, which was released today.

[2019-07-23 17:45] pranavkm commented on #7892
Feel free to reopen once you've an repro application to share.

[2019-07-23 17:45] #7892 closed

[2019-07-23 17:49] Pilchie commented on #6304
@JunTaoLuo - this seems very related to your current PR for Components.  Do we still need this separate issue?

[2019-07-23 17:51] Pilchie commented on #4310
@johnbeisner @joeloff @anurse Do you know if this is still an issue with the new product composition work?

[2019-07-23 17:52] Pilchie commented on #4259
@dougbu can you take a look at this?  Or maybe @anurse can nominate someone else?

[2019-07-23 17:53] Pilchie commented on #10299
@HaoK can you take a look please?

[2019-07-23 17:53] Pilchie commented on #11128
@dougbu @HaoK Is this still something we're targeting for 3.0?

[2019-07-23 17:54] Pilchie commented on #12445
Assigning since you're looking at this already.

[2019-07-23 18:04] joeloff commented on #4310
I looked at a preview 8 internal build (from 7/20). I only see Microsoft.AspNetCore.App so my guess is yes, this is still an issue.

[2019-07-23 18:11] SteveSandersonMS commented on #11633
This is an issue that will be fixed in the 3.0 Preview 8 release (the code is already in `master`). Until then there isn't an easy fix, though technically it's possible to implement your own `AuthenticationStateProvider` that does whatever you want.

[2019-07-23 18:13] cristianiorga commented on #12273
Issue no longer reproduces on 3.0.100-preview7-012821

[2019-07-23 18:21] aaronhudon-ts commented on #8524
.NET Core Preview#7 with using latest blazor client-side template no longer compiles 👎

`Unhandled exception. Mono.Cecil.AssemblyResolutionException: Failed to resolve assembly: '....\.nuget\packages\grpc.core\1.21.0\runtimes\win\native\grpc_csharp_ext.x86.dll, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null'
`

[2019-07-23 18:25] PhilPJL commented on #12457
@mkArtakMSFT, @SteveSandersonMS
I'm not sure it's my job to chase disparate teams regarding an issue with Visual Studio and Blazor integration.  If you don't consider this issue important then so be it.  I guess I'll wait for Blazor 3.1 and try again.

[2019-07-23 18:29] egil commented on #8493
An (I think) elegant solution is to use the implicit conversion/cast operator in your `C1Color` class. In that scenario, create an implicit cast from `string` to `C1Color`. See more here: https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/user-defined-conversion-operators

With that, I am not sure what additional benefit `TypeConverter`s have? Do they support interfaces? I

[2019-07-23 18:30] danroth27 commented on #8524
@aaronhudon-ts Packages with native dependencies naturally won't work in Blazor WebAssembly Apps. You can't call into native code from the browser directly.

There is a new gRPC client for .NET that is based on HttpClient which might be worth a try: Grpc.Net.Client. @shirhatti Thoughts?

[2019-07-23 18:34] anurse commented on #4259
I'm not sure this is something we'd have resources to support in preview 8 given the very short timeline. We could look at it as part of infrastructure work in preview 9 though since getting infra-/test-only changes through ask-mode should be much simpler. We already have some things we want to do to improve breaking changes all up, so this would be part of that work.

[2019-07-23 18:47] Pilchie commented on #4259
Fair enough, I'll move to Preview 9

[2019-07-23 18:50] ajaybhargavb opened #12487 "Validate component binding case sensitivity"
Issue: https://github.com/aspnet/AspNetCore/issues/9860

[2019-07-23 18:56] ajaybhargavb opened #12488 "Validate blazor bug fixes"
- [x] https://github.com/aspnet/AspNetCore/issues/5653
- [x] https://github.com/aspnet/AspNetCore/issues/11225

[2019-07-23 18:57] ajaybhargavb commented on #12343
https://github.com/aspnet/AspNetCore/issues/12487
https://github.com/aspnet/AspNetCore/issues/12488

[2019-07-23 18:57] anurse commented on #12378
We'd need to see specific information about the errors you're getting on the client to know more. I'd suggest following our [logging and diagnostics guide](https://docs.microsoft.com/en-us/aspnet/core/signalr/diagnostics?view=aspnetcore-2.2) to gather client logs and a network trace during the issue.

As @BrennanConroy said, this is the first we've heard of extensions causing problems.

[2019-07-23 18:59] aaronhudon-ts commented on #8524
Thank you.  I fear my previous test with preview6 was using Blazor server-side.  (doh!)

Integrating Grpc.Net.Client was going well enough, but requires `TargetFramework` to be netstandard2.1  Getting a build failure of:
`3>Fatal error in IL Linker
3>Unhandled exception. Mono.Linker.MarkException: Error processing method: 'System.IDisposable Microsoft.Extensions.Logging.Logger::BeginScope(TState)'

[2019-07-23 19:03] SteveSandersonMS commented on #12415
Namespace `RenderTree`->`Rendering` makes sense. I would totally endorse that.

[2019-07-23 19:03] aaronhudon-ts commented on #8524
Seems to be whack-a-mole.
After adding `"Microsoft.Extensions.Logging" Version="3.0.0-preview7.19362.4"`, The linker produces a failure of:
`Unhandled exception. Mono.Linker.MarkException: Error processing method: 'Grpc.Core.Metadata Grpc.Net.Client.Internal.GrpcCall`2::GetTrailers()' in assembly: 'Grpc.Net.Client.dll'`

[2019-07-23 19:04] anurse commented on #12381
Seems like a reasonable bit of investigation. As a workaround, you can always read the form body manually off `HttpContext.Request`.

[2019-07-23 19:16] EdCharbeneau commented on #12226
I agree that this still seems like an issue as creating verbose markup when handling events (without databinding).

Take the `InputSelect` for example. `ValueChanged` either requires `T` to be defined or a lambda expression within `ValueChanged`. Compounding the problem is `ValueExpression` which is also required, this is leading to some very clumsy looking markup `@(()=>`. This isn't going to be

[2019-07-23 19:28] serpent5 commented on #12414
I've updated the description above to use Preview 7.

[2019-07-23 19:51] dougbu commented on #7073
The shared framework issue is that artifacts\bin\Microsoft.AspNetCore.App.Runtime\Release\netcoreapp3.0\win-x64 contains both `crossgen`ed and non-`crossgen`ed PDBs for many assemblies. The non-`crossgen`ed PDBs are copy-local for Microsoft.AspNetCore.App.Runtime but not overwritten when creating the `crossgen`ed PDBs. We end with e.g. Microsoft.AspNetCore.Antiforgery.pdb and Microsoft.AspNetCore.

[2019-07-23 19:53] danroth27 commented on #12399
Hi @genifycom. Thanks for this feedback! We've had some discussions with the Xamarin folks about the possibility of building mobile apps with Xamarin + Blazor. We don't have anything concrete planned yet, but we'll let you know once we do!

[2019-07-23 19:53] #12399 closed

[2019-07-23 19:58] anurse commented on #12279
@AndrewMayorov can you post a runnable sample project that reproduces the issue? Also, are you using the ASP.NET Angular SPA templates or just a standard Angular app?

[2019-07-23 20:22] serpent5 commented on #12470
You can already achieve this without building an `IServiceProvider`, using `AddOptions` and `Configure`:

[code]

See [Use DI services to configure options](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/options?view=aspnetcore-2.2#use-di-services-to-configure-options) in the docs for more.

[2019-07-23 20:24] asleeguilez commented on #12443
For example, when I execute this command outside the impersonation it creates a file where the owner is usrdelegadesa.
`FileStream fileStream = new FileStream(@"\\PC161835\colibri$\Agente\file.xml", FileMode.Create);`

but when I run it inside the impersonalization I don't have access.
`
                WindowsIdentity identity = (WindowsIdentity)HttpContext.User.Identity;
                WindowsI

[2019-07-23 20:34] skolmer opened #12491 "ResponseCachingMiddleware is logging a warning on valid HEAD responses"
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core: '2.2'
2. Create a controller action with `HttpHead` attribute
3. Return content length header but no body
4. See warning `The response could not be cached for this request because the 'Content-Length' did not match the body length.`, logged by `Microsoft.AspNetCore.ResponseCaching.ResponseCachingMiddleware`

As described in MD

[2019-07-23 20:38] sebastienlabine opened #12492 "Angular Like Constructor Dependency Injection"
### Is your feature request related to a problem? Please describe.
I've been working with .net core for several years right now and I find it annoyingly repetitive and long to inject services. Here's why:

In order to inject a service, you need to :

1. Register the service in Startup.cs. (which doesn't bother me)
2. Create a propriety in the class that you are injecting the service into
3. Assign

[2019-07-23 20:44] SteveSandersonMS commented on #12468
It's not a bug. The HTML attribute for the value of a checkbox is `checked`, so that's what you use to set the value on a checkbox element. Or did you mean something else was a bug?

*That* is a bug, or at least a feature we haven't implemented yet. Is that what you meant?

[2019-07-23 20:44] mihaimyh opened #12493 "Unhandled exception after migrating to preview7"
Upgrading a server-side blazor app to preview 7 throws the following exception when navigating to a component:

[code]

[2019-07-23 20:49] mkArtakMSFT commented on #12391
Thanks for all the details, @Herdo .
@javiercn what do you think?

[2019-07-23 20:54] mkArtakMSFT commented on #12457
This issue was moved to mono/mono#15806

[2019-07-23 20:54] #12457 closed

[2019-07-23 21:19] blowdart commented on #12303
@aveer28 I rather agree with you. Are there other things you'd like hidden in the UI by config rather than scaffolding?

[2019-07-23 21:21] mkArtakMSFT commented on #12199
The reasons for the current choices are historical. Having said that, changing the names would be a massive breaking change, and we can't risk doing it.
Also, not much practical: here what the proposed model will look like in one scenario: `https://localhost:5001/?_aspnet_page=MyPageName`. It's neither intuitive nor user-friendly.

@rynowak, please correct me if I'm wrong here.

[2019-07-23 21:23] anurse commented on #12279
I managed to get the repro together. As a workaround (I know it's not ideal) you can override the TypeScript behavior using the below snippet and it should work:

[code]

Casting to `number` via `unknown` tells TypeScript to ignore the conflict :).

We'll look at a first-class fix though, since that's not ideal.

[2019-07-23 21:23] ajaybhargavb opened #12494 "Consider turning off restore as part of Razor SDK tests"
Follow up to https://github.com/aspnet/AspNetCore-Tooling/pull/867

@pranavkm suggested that the recent flakiness could be due to us turning on restore as part of these tests. We should just turn them off.

[2019-07-23 21:26] mkArtakMSFT commented on #8003
@javiercn `Done`?

[2019-07-23 21:29] mkArtakMSFT commented on #12349
We're currently focused on the upcoming 3.0 release. We'll be able to look into this after that.

[2019-07-23 21:30] anurse commented on #12279
Looks like the easiest fix here is for us to remove all our `@types` dependencies from the `devDependencies` section. The assumption was that since they were `devDependencies` they'd only apply to this instance (not when installed as a package) but it seems that's incorrect. The conflict is occurring (as @AndrewMayorov pointed out) because installing `@aspnet/signalr` also brings down the dev depe

[2019-07-23 21:30] mkArtakMSFT commented on #12364
@ajcvickers will things break, if we don't do these updates?

[2019-07-23 21:40] anurse commented on #12445
Merged #12447 to update to the latest. Leaving this open because we need to update to the RTM build when it's available.

[2019-07-23 21:42] HaoK commented on #11128
I believe we agreed that further helix work would be done post 3.0

[2019-07-23 21:46] danroth27 commented on #11820
@JunTaoLuo For some reason the Razor Class Library template starts with "RazorClassLibrary11" as the default project name instead of "RazorClassLibrary1".

[2019-07-23 21:54] anurse commented on #11479
It's too late, among the other things, to try and squeeze this in. It sounds like a good fit for 5.0 though.

[2019-07-23 21:54] ajcvickers commented on #12364
Probably not. You won't get the updates to migrations that we made in 3.0, but I doubt this will cause any actual issue for the scenarios you have.

[2019-07-23 21:54] outring commented on #12492
It's a language feature (in your Angular case, it's a TypeScript feature), not framework. There are some similar proposals in compiler repo, like this one: https://github.com/dotnet/roslyn/issues/14853
But if you're planning on adding a new proposition, note that it must be posted to language repo itself: https://github.com/dotnet/csharplang

[2019-07-23 21:57] danroth27 commented on #11820
To give a bit more background here, VS is planning to make a change to honor the "defaultName" values in *template.json* for our templates. The "defaultName" values should *not* have a numerical suffix - VS will take care of adding that.

[2019-07-23 21:58] anurse commented on #9401
@davidfowl what is outstanding here? Do we still need someone to look in to this regression?

[2019-07-23 21:59] anurse commented on #8719
Moving the C++ stuff out to the backlog to properly reflect 3.0 work.

[2019-07-23 22:02] anurse commented on #11715
This seems to have gotten lost and time is out. Moving to the backlog, we can consider for 3.1 or 5.0.

[2019-07-23 22:14] mihaimyh commented on #12493
Closing this since the exception is thrown by libraries not yet updated to preview 7.

[2019-07-23 22:14] #12493 closed

[2019-07-23 22:41] aaronhudon-ts commented on #8524
@danroth27 Care to put together a proof of concept with preview7 blazor building with gRPC.NET?  I can't get it to build.

I've basically taken the blazor client template, and targeted .net standard 2.1.
[code]
Results in build failure:
[code]

[2019-07-23 22:42] Trolldemorted commented on #12468
Ah now I got it - I thought checked was a secondary thingy and value should work too. Sorry for bothering you! :)

[2019-07-23 22:46] JunTaoLuo commented on #11820
Ah I see, I'll make the necessary changes

[2019-07-23 22:58] JunTaoLuo commented on #6304
This is quite separate. Even with my change, we are still only building a subset of our artifacts. Specifically, we will be building C# projects and everything C# projects depend on. We still won't build installers, site extensions, Java artifacts, etc. This issue is tracking the proposal to build everything that's possible on the platform you're on.

[2019-07-23 23:01] Pilchie commented on #6304
Got it.  I'm going to move this to backlog then, as I don't think it's something that we need to do for .NET Core 3 and we're running out of time for that.

[2019-07-23 23:15] davidfowl commented on #11479
Agreed

[2019-07-23 23:17] davidfowl commented on #9401
Not sure, there might be but I believe there wasn’t a change to ASP.NET Core when the original regression happened

[2019-07-24 00:17] natemcmaster commented on #3755
@Pilchie I think this issue is worth calling out in documentation for ASP.NET Core 3.0.  As mentioned above, users upgrading to 3.0 will need to add `<PackageReference>` to compensate for API that moved out of Microsoft.AspNetCore.App.

[2019-07-24 00:22] natemcmaster commented on #4257
@Pilchie I think this is still worth addressing, but this is a challenging issue to address. The challenges I described in the previous comment are still unresolved. We would probably need help from the teams which own VS, the runtime host, and the SDK to completely resolve this. It's extremely unlikely this will land in 3.0. 3.1 or 5.0 is a more appropriate timeframe for this.

What we have now i

[2019-07-24 01:36] John0King commented on #12199
@mkArtakMSFT the prefix should only add to **Famework Defined** route parameters. it handled by framework provided method like `Url.Action()` , `Url.Page()` , so the prefix will sepreate the route values to  tow parts: framework used and user defined. *in fact, the prefix is  just a most compatible way to rename those keyword *

after add the prefix, the MVC defined route values will be `aspnet_ac

[2019-07-24 01:55] Shuenhoy commented on #12484
I found that I can only reproduce the problem in the docker containers with non-root user  (docker image is "mcr.microsoft.com/dotnet/core/sdk:3.0"). When I do the same thing in the host OS with the same dotnet version, I will only get a yellow-color warning and it can continue to work. However, `dotnet run` also works well in the containers.

[code]

BTW, I have tried to add the following items i

[2019-07-24 03:05] #4504 closed

[2019-07-24 03:05] mkArtakMSFT commented on #4504
Thanks @hishamco !

[2019-07-24 03:07] mkArtakMSFT commented on #12364
I will put this in 3.1 in that case.

[2019-07-24 03:17] hishamco commented on #10639
@mkArtakMSFT this has been answer and there's no respond from the author

[2019-07-24 03:22] chrsas commented on #10639
@hishamco You can see the file in my repo, `RootNamespaceAttribute` has been used, But it doesn't work.
https://github.com/chrsas/LocalizationTest/blob/master/LocalizationTest/AssemblyInfo.cs

[2019-07-24 03:30] hishamco commented on #10639
Let me check your sample, and get back to you ..

[2019-07-24 04:24] SIkebe opened #12499 "restore.cmd fails under a proxy environment"
### To Reproduce
Steps to reproduce the behavior:
1. Execute `restore.cmd` under a proxy environment.
1. Fail to download `install.ps1` here.
https://github.com/aspnet/AspNetCore/blob/28678ee430e9f9a8407e846441ab98692b9f9507/eng/common/tools.ps1#L162

### Logs
[code]

Are there any instructions as to build from source under a proxy environment? I cannot find one in [here](https://github.com/aspnet

[2019-07-24 05:11] aveer28 commented on #12303
That was all that I came across that could be removed.

However it would be useful if RCL allowed you to disable 2 factor auth from
the GUI if the feature isn't being used.

On Tue, 23 Jul 2019, 23:21 Barry Dorrans, <notifications@github.com> wrote:

[2019-07-24 05:25] bahmansh commented on #12403
So how can I resolve it?

[2019-07-24 05:55] hannespreishuber opened #12501 "Background Service to early up and running"
following code fails with NullReferenceException

[code]

the reason is (my guess) the pipeline is not configured
[code]
Cause
[code]
runs earlier

[2019-07-24 05:59] hannespreishuber opened #12502 "BackgroundService CancellationToken is null on IIS"
After Update my IIS machine to preview 7 the existing application breaks. Update Packages, recompile, copy new dll to production machine creates a Error in Background Service on

 protected override Task ExecuteAsync(CancellationToken stoppingToken)

It works local on iisexpress.
It worked with Preview 6!

  protected override Task ExecuteAsync(CancellationToken stoppingToken)
        {

[2019-07-24 06:01] davidfowl commented on #12502
CancellationToken  can't be null, its a struct. Do you have an exception? What exactly are you running into?

[2019-07-24 06:02] davidfowl commented on #12501
@hannespreishuber Can you provide the actual error and call stack?

[2019-07-24 06:03] davidfowl commented on #12502
Assuming this is the same issue as https://github.com/aspnet/AspNetCore/issues/12502. Closing.

[2019-07-24 06:03] #12502 closed

[2019-07-24 06:05] John0King commented on #12199
😅， also the problem here simply is why `{ action=Index, controller=Home, Page = 2 }`  use  `Page` to generate url, why not choose the longer/larger of the routing key eg. `action+controller` to generate the Url .

[2019-07-24 06:05] hannespreishuber commented on #12502
12502 =12502 is correct, but why your are Closing?

[2019-07-24 06:08] davidfowl commented on #12501
Yes this was an intentional breaking change that was made https://github.com/aspnet/AspNetCore/issues/11437.

A couple of things you can do:
- Inject the `IHostEnvironment` or `IWebHostEnvironment` into the `VideosWatcher`.
- Add the hosted service in `Program.cs` after calling `ConfigureWebHostDefaults`

cc @Tratcher @anurse

[2019-07-24 06:09] hannespreishuber commented on #12502
in any case- after rollinig Code back to - error case (which I tried for Hours) - it works at the Moment.

[2019-07-24 06:09] davidfowl commented on #12502
Sorry, this one https://github.com/aspnet/AspNetCore/issues/12501

[2019-07-24 06:11] davidfowl commented on #12502
It's the same bug. The null ref is caused by the ordering change (which you identified) described in the other bug.

[2019-07-24 06:26] davidfowl commented on #12360
cc @javiercn

[2019-07-24 06:51] SalehGladius commented on #12175
Today I updated from Core 2.0 to Core 2.2.6, but my website got in trouble when uploading an image.

System.OutOfMemoryException

I used `IFromFile` in upload viewmodel.

[2019-07-24 07:03] AJB-Sharp commented on #11633
Thanks Steve

[2019-07-24 07:05] neville-nazerane opened #12503 "API default template opens invalid url by default"
### Describe the bug
While the new template no longer has the ValuesController and only has a WeatherForecastController controller, when you run the API, the default url is "api/values" by default, which returns a 404.

### To Reproduce
Steps to reproduce the behavior:
1. Create a new .net core web API 3.0
2. Run the application

### Expected behavior
By default, it points to /WeatherForecast

[2019-07-24 08:08] jerriep commented on #10438
I am also running into this one on 2.2

[2019-07-24 08:28] veikkoeeva commented on #5458
Probably under consideration, but it appears the end-to-end tests could work with [Puppeteer.Sharp](https://github.com/kblok/puppeteer-sharp) (ping @kblok, the Selenium libraries are also an option) using something like [Razor Live Reload](https://weblog.west-wind.com/posts/2019/Jun/03/Building-Live-Reload-Middleware-for-ASPNET-Core) with the usual ways of starting a web server in tests. Then have

[2019-07-24 08:56] AndrewMayorov commented on #12279
Thank you for the answer, @anurse! Workarounds are not a real option here, because we already have tons of code, and this is, after all, a hack. So for now I preferred the workaround with loading SinglarR as an external script. But this also bad, of course.

[2019-07-24 09:14] #11989 closed

[2019-07-24 09:43] tbprince opened #12504 "ASP.NET Core 3 preview 7 - AspNetCoreModuleV2 not working on Windows Azure Pack"
### Describe the bug
When publishing a self-contained application based on ASP.NET Core 3 preview 7 (I read that is supported in production since preview7) on a Windows Azure Pack WebsitesV2 account, application won't start when using module AspNetCoreModuleV2 which has been installed on server roles (we installed the latest preview7 bundle available).

The actual error is reported as:
Handler "as

[2019-07-24 09:43] bruno-garcia opened #12505 "Calling Request.EnableRewind throw on 3.0.0-preview7"
An ASP.NET Core 3 app calling out to a library which depends on `Microsoft.AspNetCore.Hosting 2.x` and access `HttpContext.Request.EnableRewind()` throws an exception.

### To Reproduce
I have a repro here: https://github.com/bruno-garcia/aspnetcore3-hosting2.x-enable-rewind-throws

Steps to reproduce the behavior:
1. .NET SDK `3.0.100-preview7-012821`.
1. Using this version of ASP.NET Core '3.0.0

[2019-07-24 09:50] ststeiger commented on #1528
@arunputhrankyc: Added.

@k290: Nah, as you can see, a Dark Theme for SQL Server Management Studio 2017 is clearly more important :scream: :man_facepalming: :woman_facepalming:
Apparently, they have not yet heard about [SQL-ops-studio/AzureDataStudio](https://github.com/microsoft/azuredatastudio).

I think, in that spirit, somebody should add flat design to that wish list, just as a joke.
Sadly, i

[2019-07-24 09:59] saiteja-y commented on #11138
@hishamco Can you provide any working sample for the same?
 Is the solution provided by you is specific to any .net core version?

[2019-07-24 10:14] OruamFernandes commented on #8134
Well, after one day struggling with the "**HTTP Error 500.0 - ANCM In-Process Handler Load Failure**" my error was in one http call to another api and an extra dose of stupidity (localhost)..

[code]

The way i endup discover my error was through console Kudu. You can access it via Azure or directly by _https://YOUR-SITE.scm.azurewebsites.net/_ . Once in the main page, i went to _Debug console/CMD

[2019-07-24 10:26] JoshKeegan commented on #12470
Fantastic, thanks! I didn't know about that :)

[2019-07-24 10:26] #12470 closed

[2019-07-24 10:57] javiercn commented on #12391
Hi @Herdo thanks for contacting us. Is the IdentityConstants the only thing you are using from that assembly? (Seems like it)

I have a few suggestions:
* I would define the constant in the shared assembly directly, the constant is not going to change, and if you are super worried about it changing in the future, simply write a unit test to check your value against the one in the server. Its a con

[2019-07-24 10:57] #12391 closed

[2019-07-24 10:57] javiercn commented on #8003
Yes

[2019-07-24 11:34] deanward81 commented on #7367
This is affecting us quite badly during local development under 2.2. We're running under IIS using the in-process model and everytime the app pool needs to recycle (usually due to actual changes made during development) a build fails because files are locked by the process crash being handled.

We have to stop the app pool in IIS, build and then restart - this is painful! Are there any known worka

[2019-07-24 11:37] NickCraver commented on #7367
To expand on what @deanward81 said:
What are the chances of this getting fixed in 2.2? 3.0 is great, and we're trialing the preview in some areas, but this is **crashing the process** on the latest stable version.

This is affecting every application we're porting at Stack Overflow. While we'll upgrade to 3.0 as soon as is reasonable, troubleshooting, logging, monitoring, or anything to do with pr

[2019-07-24 11:41] javiercn commented on #12360
@davidfowl This is a result of the move to generic host. Where Startup.ConfigureServices gets called inmmediately. I don't think there's anything we can do about it.

Should you, @Tratcher and me get some time to chat about these changes and what guidance to provide?

I remember having to do some gymnastics to get the Identity UI tests to work with  generic host.

I think the biggest change is tha

[2019-07-24 12:01] siada commented on #12233
That seems to have done the trick, what's the purpose of this though?

Why do we have the ability to change the cookie expiry if eventually the _actual_ expiration is overridden by the SecurityStamp validator.

I feel like I'm missing part of the point

[2019-07-24 12:28] KevinCathcart commented on #12351
For IIS hosted sites, using the web config is one option. (As I explained, publish profiles let you handle inserting the value into the web.config for each environment, although there is no UI support for it currently. You must instead manually edit the publish profile XML).

If, for an IIS hosted project, having different web.config file generated by publish profiles is not a good option, and mac

[2019-07-24 13:26] hishamco commented on #10639
After checking your sample, the first issue I notice which is unrelated is the order of localization middleware was wrong, please check this docs https://docs.microsoft.com/en-us/aspnet/core/fundamentals/troubleshoot-aspnet-core-localization?view=aspnetcore-2.2

The second thing which I can't confirm yet because I'm not unable to run the ASPNET.Core Extensions source, is that may be there's a bug

[2019-07-24 13:29] Yen commented on #10698
Please let me know if I am wrong, but #11548 does not solve this issue for authentication, it solves it for identity based _authorization_.

We are currently using cookie authentication with microsoft AD to validate logins to internal applications where we do not require associated data from a db with identity. For the traditional MVC style system we would set `CookieAuthenticationOptions.ExpireTi

[2019-07-24 13:37] ADefWebserver commented on #10698
@Yen Take a look at: [A Demonstration of Simple Server-side Blazor Cookie Authentication](http://lightswitchhelpwebsite.com/Blog/tabid/61/EntryId/4316/A-Demonstration-of-Simple-Server-side-Blazor-Cookie-Authentication.aspx)

[2019-07-24 13:39] dcb99 commented on #3755
We certainly don't, and I know quite a few people at other shops who are using .net core for serverless apps, web apis, etc, where we have absolutely zero need for MVC.

[2019-07-24 13:39] jeran-urban opened #12507 "Customized health check options"
Hello,

I have a registered customized health check and a singleton registered service associated::
[code]
[code]
[code]
My question: is there a way that I could add multiple customized singleton checks and configure all them to go through the same registered customized health check?

Since the registered health check is returning true or false, I do not see a way to configure all customized healt

[2019-07-24 13:40] hishamco commented on #11138
I 'll try if I got a time, but you could have a try

Nope

[2019-07-24 13:41] paillave commented on #8449
It is normal that it is readonly in your docker as nothing should change system setups of the virtual machine. For this setup to be done in your docker, it must be done when preparing the image.
About the command I gave, indeed, it works only on linux as `sysctl` doesn't seem to work the same way on mac. My mistake.Still, try this command on your mac if you didn't do it yet:
`echo fs.inotify.max_u

[2019-07-24 13:47] davidfowl commented on #12360
So this is about overriding startup completely? Is it about replacing calls to Configure or a ConfigureServices?

[2019-07-24 13:51] MiyamuraMiyako opened #12508 "Stream's method EnableRewind in preview7."
NetCore Preview7 not have stream.EnableRewind() method, Have any replacement method?

[2019-07-24 13:53] Yen commented on #10698
@ADefWebserver Thank you for your reference but I don't believe this is what I am looking for. I am sure it is possible to check for the authentication state by manually looking at the expiration dates of the cookies as they are given during the creation of the websocket instance. However this is not a complete solution, nor do I believe it is a response to this issue. In this case we are looking

[2019-07-24 13:58] javiercn commented on #12360
@davidfowl In the past, calling UseStartup would replace the original UseStartup class completely, and when you called ConfigureServices on the host builder after UseStartup those would get called before ConfigureServices in UseStartup. (That's why we had ConfigureTestServices)

Now the problem is that users can't simply call UseStartup<TestStartup> in their tests without both Startup and TestStar

[2019-07-24 14:08] TehWardy commented on #12351
I really hate how M$ justifies making functionality worse citing "progress" when it's simply a case of fixing what wasn't broken. Every new post you write on here is "well you could do X" ... lists of workarounds / hacks don't address the fact that this should just happen, for example lets examine your last post ...

**Hack 1**

... and you beat that down yourself with the paragraph that followed

[2019-07-24 14:18] fdevGit opened #12510 "How to manually set the Context.connectionId"
I have multiple unique keys for one user. I want to synchronize my key with xy so there are no more unique keys

[2019-07-24 14:34] MarvynHarry commented on #12309
What do I have to do to be able to use these methods since in my project it says "no suitable method found to override"
![image](https://user-images.githubusercontent.com/44927942/61802499-ec5c0080-ae06-11e9-9603-d8251013b81f.png)

[2019-07-24 14:34] MarvynHarry commented on #12309
hepl me @mkArtakMSFT

[2019-07-24 14:51] dazinator opened #12511 "EF Core IdentityDbContext UserStore Issue when not deriving from IdentityDbContext"
## Describe the bug
I have created a repro here to demonstrate the issue, just run and step through the console app: https://github.com/dazinator/EfIdentity5793Repro

The issue occurs in the following scenario:

1. You want to use EF Core identity, but you can't derive your applications DbContext class from `IdentityDbContext<>` (because you need to derive from an alternative) - however you still

[2019-07-24 15:01] MarvynHarry opened #12512 "how to use te override OnInitializedAsync on my pages"
What do I have to do to be able to use these methods since in my project it says "no suitable method found to override"
![image](https://user-images.githubusercontent.com/44927942/61804734-d3ede500-ae0a-11e9-9fc5-afacb02e83c2.png)

[2019-07-24 15:09] anurse commented on #12491
I don't think there's an intentional reason we are logging that warning. You are correct that it doesn't seem appropriate to log it on a HEAD request since there is intentionally no body. I think we could add an `else if` branch to this that avoids the warning if and only if `Method == HEAD && Body.Length == 0 && ContentLength != 0`, since that's the case allowed by the spec.

Thoughts @Tratcher @

[2019-07-24 15:11] Jun2014 opened #12514 "Signalr core is not stable on Web App and clients keeps randomly disconnect"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
We have signalr core server running in a web app, and we randomly

[2019-07-24 15:11] dedmen commented on #10496
Can't the server tell the client that his circuit is not available anymore?
How about the client just starting with a fresh new circuit or just doing a site reload if the code notices that connecting to the old circuit is not working?

I made my blazor app into a progressive web app, and everytime I turn the phone screen off, and back on after a few minutes it will show the failed to reconnect. Be

[2019-07-24 15:12] rynowak commented on #12507
Can you be a little more concrete about your example? The code that's in `ICustomApiHealthCheckSingleton` is what I would expect to see in your health check implementation.

If you want to register a single check or multiple checks, that's up to you - choose based on how you want the results to be reported. Do you want to an individual pass/fail for each item or not?

[2019-07-24 15:12] anurse commented on #12169
Barely that even. I think this might be a good candidate to reconsider when we open a branch for 3.1 next week. I'm afraid I haven't been able to catch up on the thread, but is this something that will break customer scenarios if not resolved? If so, we can evaluate it for 3.0 (based on the impact of the bug). If this is just about expanding the usefulness of the HeaderPropagation message handler,

[2019-07-24 15:13] rynowak commented on #12169
There's no break here.

We're discussing how to best deal with a case that would throw an exception in 3.0 - and trying to decide if we want to make it more tolerant. I have no issue with moving this decision to 3.1

[2019-07-24 15:16] ctrl-alt-d commented on #12309
Post detailed question on StackOverflow and send the link here ;)

[2019-07-24 15:17] SteveSandersonMS commented on #10698
@Yen You're correct that the built-in system only addresses the scenario for identity-based authentication. It periodically checks whether the user's security stamp has changed, and if so, invalidates their current authentication state (which in turn causes authorization rules to be re-evaluated).

We don't have, and aren't planning to have in 3.0, and general system for reauthenticating across al

[2019-07-24 15:19] chrsas commented on #10639
@hishamco Thanks for your reply, waiting for your good news.

[2019-07-24 15:20] SteveSandersonMS commented on #10496
@dedmen Yes, that's what we're planning in https://github.com/aspnet/AspNetCore/issues/12442

In the meantime, closing this issue as implemented in #12420

[2019-07-24 15:20] #10496 closed

[2019-07-24 15:24] jkotalik commented on #7367
If you are using the VS IIS development tools, you shouldn't be hitting this issue. @BillHiebert  to confirm?

[2019-07-24 15:39] anurse commented on #9889
Closing as per @Tratcher 's comment. Rewriting the request is not only difficult but may mean the Error endpoint loses useful context. I would concur with @Tratcher 's recommendation that the best solution here is to have the error endpoint support any kind of request.

[2019-07-24 15:39] #9889 closed

[2019-07-24 15:40] hishamco commented on #11138
@saiteja-y checkout this sample https://github.com/aspnet/Entropy/tree/master/samples/Localization.CustomResourceManager it may useful for you

[2019-07-24 15:48] mattbrooks2010 opened #12516 "Runtime error page leaks information about the hosting environment"
### Is your feature request related to a problem? Please describe.
The runtime error page, such as the one displayed when start-up errors are captured by the generic host, [displays information about the hosting environment](https://github.com/aspnet/AspNetCore/blob/b9823ed41c8ff23b6dbd233f5cc2a8e5078d2339/src/Shared/ErrorPage/ErrorPage.cshtml#L152-L154).

The information includes the OS version a

[2019-07-24 15:50] anurse commented on #9695
Has anyone filed an issue on Swashbuckle to track this change? I'd like to close this issue out.

[2019-07-24 15:51] Alexcei88 commented on #9551
I have the same issue with Net Core 2.2.6
As soon As I am adding an empty header value like below

         `context.Response.Headers.Add(USER_ID_HEADER, string.Empty);`

At once I am catching the error.

[2019-07-24 15:54] mkArtakMSFT commented on #12503
Thanks for contacting us, @neville-nazerane.
This is a known issue with preview7 release, and the fix is coming in Preview8. The fix is trivial and it's to update the launchSettings.json to reflect the correct path, as was done in the fix for it: https://github.com/aspnet/AspNetCore/pull/11753/files#diff-dda1b7b71a5698180e79d02c5401d65fR24

[2019-07-24 15:54] #12503 closed

[2019-07-24 15:54] mkArtakMSFT commented on #12503
Dupe of https://github.com/aspnet/AspNetCore/issues/11699

[2019-07-24 15:57] mkArtakMSFT commented on #12508
Potentially related: https://github.com/aspnet/AspNetCore/issues/12505

[2019-07-24 15:59] jkotalik commented on #12504
This usually means the AspNetCoreModuleV2 isn't installed on the target machine. I'm not familiar with the Windows Azure Pack WebsitesV2, @anurse ?

[2019-07-24 15:59] anurse commented on #7530
Closing this as we haven't heard from you and generally close issues with no response after some time. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-07-24 15:59] #7530 closed

[2019-07-24 16:01] anurse commented on #6758
Closing this as we haven't heard from you and generally close issues with no response after some time. It sounds like @Tratcher 's comment described the cause of the issue (not using appropriate `KnownNetworks` or `KnownProxies` values). If I'm misunderstanding or that's not working in your scenario, let us know and we can revisit this!

[2019-07-24 16:01] #6758 closed

[2019-07-24 16:05] mkArtakMSFT commented on #12512
Thanks for contacting us, @MarvynHarry.
We've changed the name of this method in Preview8. Unless you're running the nightly builds, you will not see it and should use the documented `OnInitAsync()` instead.

[2019-07-24 16:05] #12512 closed

[2019-07-24 16:06] danroth27 opened #12517 "Issue adding .razor page with the same name as your project"
[Reported by a customer](https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-7/#) on the ASP.NET Core 3.0 Preview 7 blog post:

I found an issue when you add .razor page with the same name as your projects (and a using statement referencing for example the Data namespace, the namespace recognition is messed up and you end up with several errors, not knowin

[2019-07-24 16:10] MarvynHarry commented on #12512
@mkArtakMSFT  Preview 8 has already been released, where can I download it?

[2019-07-24 16:11] anurse commented on #12504
I'm not either but I'll make inquiries :).

@tbprince, as @jkotalik said, this usually means that the ASP.NET Core module isn't properly installed. This is a global installation that must be done on the Web Site base image. In Azure Web Apps (in the cloud) we work with the team to do this, but I don't know how/if that translates in Azure Pack. Do you have the ability to modify the base image used

[2019-07-24 16:21] anurse commented on #11194
As this is labelled 'enhancement', I'm moving to the backlong. @Tratcher if you'd like us to get this done for 3.0, we could put @jkotalik on it :).

[2019-07-24 16:28] jkotalik commented on #7367
We are going to consider fixing this bug in 2.2.

[2019-07-24 16:32] jkotalik commented on #12505
@davidfowl is this a scenario we still try to support where we have different dependencies to ASP.NET Core?

[2019-07-24 16:36] anurse commented on #12504
You should be able to do this safely and run an ASP.NET Core 3.0 app. You're right that you'll miss out on some new functionality. Specifically you won't be able to run in the in-process mode added in ASP.NET Core 2.2. There are also some diagnostics and error reporting improvements in AspNetCoreModuleV2. However, the core scenarios should work find with AspNetCoreModule and ASP.NET Core 3.0.

We'

[2019-07-24 16:39] anurse commented on #12279
Ok, glad to hear you've got some kind of workaround. I realize this is something we need to fix, just want to make sure you can be unblocked as quickly as possible :).

[2019-07-24 16:40] Tratcher commented on #11194
This will be covered by https://github.com/aspnet/AspNetCore/pull/12328

[2019-07-24 16:41] anurse commented on #12484
That does seem like something we could investigate. I definitely agree that it should be possible to exclude an entire directory and avoid this kind of issue.

[2019-07-24 16:46] anurse commented on #12504
Looks like Azure Pack V2 Web Sites are no longer supported: https://support.microsoft.com/en-us/lifecycle/search?alpha=Windows%20Azure%20Pack%20V2%20Web%20Sites

![Microsoft Support Product Lifecycle table showing "Windows Azure Pack V2 Web Sites" with a lifecycle start date of 1/14/2014 and mainstream support end date of 7/11/2017. The end date is highlighted.](https://user-images.githubuserconte

[2019-07-24 16:46] #12504 closed

[2019-07-24 16:50] trapias commented on #3343
Hello,
I'm writing here since I have a similar problem: I'm trying to customize Identity within my AspNetCore 2.2 webapp (slightly modified the login page and disabled registration), but customizations only work locally - if I publish to a staging server, I still see the default pages.

If I remove the call to .AddDefaultUI(UIFramework.Bootstrap4) in order to avoid this, I get the same exception f

[2019-07-24 16:51] Tratcher commented on #7367
Three variants:
2.2 web host: https://github.com/aspnet/AspNetCore/pull/12518/files
3.0 web host: https://github.com/aspnet/AspNetCore/blob/f3f9a1cdbcd06b298035b523732b9f45b1408461/src/Hosting/Hosting/src/Internal/WebHostLifetime.cs#L69
3.0 generic host: https://github.com/aspnet/Extensions/blob/45647cef001961bd82c8ac4c112d24d4254e44cf/src/Hosting/Hosting/src/Internal/ConsoleLifetime.cs#L84 (Ensur

[2019-07-24 16:51] dagrooms52 opened #12519 "AspNetCore IIS Module Runs A Duplicate Process"
### Describe the bug
AspNetCore IIS Module runs a duplicate process in an App Service Web App. Logs from the Web App show w3wp.exe starting both processes.

@jkotalik and @Pilchie were involved in internal discussion of this issue.

[2019-07-24 16:55] tbprince commented on #12504
@anurse,

that's exactly what we wanted to do and indeed we installed the hosting bundle on our test servers. Please look at this image:

![WAP_01](https://user-images.githubusercontent.com/15170491/61812714-5646cb00-ae44-11e9-8ba4-818afacdc9b1.jpg)

it seems to me that the module is installed since we manually did it:

![WAP_02](https://user-images.githubusercontent.com/15170491/61812821-97d77600

[2019-07-24 16:57] tbprince commented on #12504
@anurse,

regarding ASP.NET Core Module v1, yes, it works fine. App runs when we do it through Module v1 but of course it would be better if we could just run it through v2.

Thanks again.

[2019-07-24 17:00] blowdart commented on #12511
@ajcvickers Thoughts?

[2019-07-24 17:13] jkotalik commented on #12519
cc @anurse, we need to evaluate whether we fix this in ANCMV1 and ANCMV2.

[2019-07-24 17:23] blowdart commented on #12516
@pranavkm @Tratcher

If I look at the code for the error page it can be quite detailed. Am I missing something here in thinking this is wired up, by default, for GenericWebHostService without taking the environment into account?

[2019-07-24 17:24] #12051 closed

[2019-07-24 17:25] SteveSandersonMS commented on #8024
Closing as per conversation in #11897

[2019-07-24 17:25] #8024 closed

[2019-07-24 17:26] SteveSandersonMS commented on #10482
Done in https://github.com/aspnet/AspNetCore/pull/12423

[2019-07-24 17:27] SteveSandersonMS commented on #12051
Done inhttps://github.com/aspnet/AspNetCore/pull/12421

[2019-07-24 17:33] mikaelm12 commented on #12510
This field is not settable on the client. It's allocated on the server via negotiate to be able to differentiate different connections. I think what you want to refer to is a `UserId `or `UserName`, not `connectionId`

[2019-07-24 17:39] mkArtakMSFT commented on #12512
No, it hasn't. It's only available through the nightly builds.

[2019-07-24 17:48] rynowak opened #12520 "Verification for globalization and localization for server-side Blazor"
Testing with server-side-Blazor (in Azure):
- [x] Can use ASP.NET localization middleware to configure a locale
- [x] Resource files work
- [x] Numbers are formatted according to the locale
- [x] type="number" fields work

[2019-07-24 17:48] rynowak commented on #12343
https://github.com/aspnet/AspNetCore/issues/12520

[2019-07-24 17:50] jeran-urban commented on #12507
Thank you.

[2019-07-24 17:56] mkArtakMSFT commented on #7330
@glennc, can you please provide an update here regarding what the tool should be named?

[2019-07-24 17:59] pranavkm commented on #12505
/cc @Tratcher. Does this need a breaking change announcement?

[2019-07-24 18:01] ryanbrandenburg opened #12521 "Validate Angular 8 upgrade"
1. Create a new project from the Angular template.
2. Look at the package.json and verify that the `@angular` versions are all 8 or above (should be 8.0.0).
3. Launch the project and navigate around to verify all the pages work.

[2019-07-24 18:02] ryanbrandenburg commented on #12343
https://github.com/aspnet/AspNetCore/issues/12521

[2019-07-24 18:09] shirhatti commented on #8524
Browsers don't give you access to HTTP/2 framing or HTTP Response headers both of which are required for gRPC. This failure is expected. You will not be able to use gRPC from client-side blazor

[2019-07-24 18:12] davidfowl commented on #12505
This is part of the pubternal move to internal. We haven’t written the uber announcement for that as yet.

[2019-07-24 18:18] Yen commented on #10698
@SteveSandersonMS Thanks for the response Steve, it is a shame that your support for this is limited to those using Identity but understandable.

I wanted to add, for anyone else having the same issue, that to solve my issue I have decided to make a custom `AuthenticationStateProvider` that uses `HttpContext.AuthenticateAsync` with the cookie authentication scheme to get an `AuthenticateResult`. T

[2019-07-24 18:20] Herdo commented on #12391
@javiercn Yes, `IdentityConstants` is the only thing I'm using, because every guide and tutorial I found points out you should use this class for the authentication schemes.

Not a single one suggest hard-coding `Identity.Application` into the policies. Which is actually what I did as alternative to reference the `Microsoft.AspNetCore.Identity (2.2.0)` package. 👍

I know that this re-use is hurtin

[2019-07-24 18:21] alefranz commented on #12169
Yes I agree we need to postpone it as we are waiting for more feedback on what is the best approach to take.

@rynowak do we need to rephrase the exception message for 3.0? we could add something at the end to indicate that another possible reason of this exception is that the Http client is used outside of processing of a request which is unsupported.

Thanks!

[2019-07-24 18:21] #12287 closed

[2019-07-24 18:25] rynowak commented on #12169
Sure, if you want to send a PR that updates the exception message that would be fine. We have until monday to merge it.

[2019-07-24 18:26] jons-aura opened #12523 "ProtectKeysWithCertificate Key {elided} is ineligible to be the default key because its CreateEncryptor method failed."
### Describe the bug
I have a .Net Core 2.2 application that I am trying to have persist the session keys to disk so that future apps and future updates to existing apps for a particular client can use them for single sign on.

The application works fine on my development machine. When deployed to our test environment I get the error below. As far as I can tell the cert is found, and the key is wr

[2019-07-24 18:32] hishamco commented on #10639
@chrsas If I'm not wrong there's a bug which may not obvious, I will prepare a PR for it.

Now to make your application works fine, I need to add `NewResourceManagerStringLocalizerFactory` as a workaround, here is the code:

[code]

[code]

@ryanbrandenburg correct me if I'm wrong

[2019-07-24 18:35] anurse commented on #12504
That does look like it would work. @jkotalik are there some places @tbprince could look on disk to confirm the installation is correct?

[2019-07-24 18:37] blowdart commented on #12523
It appears GetPrivateKey() is failing.

On the machine where it fails on is the private key for the certificate present?
Does the user account the app runs under have access to the private key in the cert store?

[2019-07-24 18:53] ajcvickers commented on #12511
@blowdart Seems like a not unreasonable, but not super high priority, request for guidance and docs.  We're certainly don't have time to do anything here for 3.0.

[2019-07-24 18:58] jons-aura commented on #12523
Works now. It appears that the app pool for this app did not have access to the private key. I granted it access and it appears to work. The error message and timing of the error seems rather misleading to me as I saw the data on disk so I didn't think it was the file not found issue and the CreateEncryptor error message didn't have any search results that I found that mentioned permissions.

It p

[2019-07-24 19:02] blowdart commented on #12523
Closing as answered/by design.

[2019-07-24 19:02] #12523 closed

[2019-07-24 19:19] SteveSandersonMS commented on #5523
@rynowak This is fixed now, right? (As of preview 8, I mean)

[2019-07-24 19:25] pranavkm commented on #12458
Done. Verified using SDK v3.0.0-preview8-28373-17

[2019-07-24 19:25] #12458 closed

[2019-07-24 19:27] jkotalik commented on #12504
Check the global applicationhost.config file in C:\Windows\System32\inetsrv\config.

[2019-07-24 19:37] tbprince commented on #12504
What should I look for ?

Attaching the file

[applicationHost.zip](https://github.com/aspnet/AspNetCore/files/3428496/applicationHost.zip)

[2019-07-24 19:38] jfcaldeira commented on #1528
Hello, I read this comment of yours how you are handling SSRS. I'm doing something similar as well, I have an anchor in an ASP.NET Core application that has the URL directly to the report with parameters included and the format extension. However the issue is that it asks for windows authentication. Is there a way to stop asking this since users already logged on my app using cookie authentication

[2019-07-24 19:39] SteveSandersonMS commented on #12520
Should this be in the preview 8 milestone, not 9?

[2019-07-24 19:39] jfcaldeira commented on #1528
Well i would kill for a dark theme for SSMS for sure but i would eat my bare hands for that SSRS. The amount of work saved by rendering grouped data on it directly from SQL is amazing.

[2019-07-24 19:39] SteveSandersonMS opened #12525 "Validation: Blazor should reset scroll position on navigation"
https://github.com/aspnet/AspNetCore/pull/12423

[2019-07-24 19:41] anurse commented on #12360
We should do some docs stuff here, but there's no code changed planned for 3.0

[2019-07-24 19:42] SteveSandersonMS opened #12526 "Validation: Server-side Blazor update user on reconnection"
Each time you reconnect, it should refresh the authentication state.

See https://github.com/aspnet/AspNetCore/pull/12421

[2019-07-24 19:42] #12379 closed

[2019-07-24 19:42] SteveSandersonMS opened #12527 "Validation: Reconnection improvements"
See https://github.com/aspnet/AspNetCore/pull/12420

[2019-07-24 19:43] SteveSandersonMS opened #12528 "Validation: Logout from server-side Blazor identity template"
https://github.com/aspnet/AspNetCore/pull/12419

[2019-07-24 19:44] blowdart commented on #12303
If you have mfa disabled it shouldn't be appearing in the default UI. Are you saying it is?

[2019-07-24 19:44] anurse commented on #12352
[`AutoLog` uses an EventSource named after `ServiceName`](https://docs.microsoft.com/en-us/dotnet/api/system.serviceprocess.servicebase.autolog?view=netframework-4.8) value. Are you running as an admin or have you previously registered that source? If you're using a custom source name (as `AutoLog` does), the name has to first be registered by a user with Admin permissions. If your service is runn

[2019-07-24 19:44] anurse commented on #12352
Do you mean that it only works on Windows Server 2019 but still isn't working on other OS versions?

[2019-07-24 19:45] SteveSandersonMS opened #12529 "Validation: Redirection during prerendering"
Previously it didn't honour non-root base href, nor could it redirect to the homepage if that was an empty string URL relative to the base href.

https://github.com/aspnet/AspNetCore/pull/12418

[2019-07-24 19:46] SteveSandersonMS opened #12530 "Validation: Navigation should clear optional navigation params"
https://github.com/aspnet/AspNetCore/pull/12407

[2019-07-24 19:47] blowdart commented on #12233
Security stamps don't expire the cookie, but they invalidate its contents. The stamp is updated when information in the user profile is changed that could affect the UI or authorization (e.g. a new claim is added).

[2019-07-24 19:47] SteveSandersonMS opened #12531 "Validation: Auth during server-side Blazor static prerendering"
Previously it crashed if you had `<CascadingAuthenticationState>` and were doing static prerendering.

https://github.com/aspnet/AspNetCore/pull/12318

[2019-07-24 19:48] SteveSandersonMS opened #12532 "Validation: Ensure no scheme is specified for server-side Blazor authentication"
https://github.com/aspnet/AspNetCore/pull/12239

[2019-07-24 19:49] blowdart commented on #8269
Closing as old and someone else's problem really.

[2019-07-24 19:49] #8269 closed

[2019-07-24 19:49] SteveSandersonMS opened #12533 "Validation: Strict @key"
https://github.com/aspnet/AspNetCore/pull/12187

[2019-07-24 19:50] SteveSandersonMS commented on #12343
https://github.com/aspnet/AspNetCore/issues/12525
https://github.com/aspnet/AspNetCore/issues/12526
https://github.com/aspnet/AspNetCore/issues/12527
https://github.com/aspnet/AspNetCore/issues/12528
https://github.com/aspnet/AspNetCore/issues/12529
https://github.com/aspnet/AspNetCore/issues/12530
https://github.com/aspnet/AspNetCore/issues/12531
https://github.com/aspnet/AspNetCore/issues/12532

[2019-07-24 19:54] anurse commented on #11598
@Tratcher is this happening as part of your big Response Body Feature thing?

[2019-07-24 20:00] anurse commented on #12504
I see the module installed there:

[code]

@tbprince can you check for this file and double-check the bitness? You can do that with `dumpbin /headers [filepath]` (which is available from the VS command prompt). We don't need the whole output, just the value for `machine`, which is right at the top. For example:

[code]

Where is the error being reported? The Windows Event Log? Is there any more de

[2019-07-24 20:02] blowdart commented on #9452
This is going to have to wait for 3.1, so moving to backlog

[2019-07-24 20:02] PaloMraz opened #12534 "Custom model binder not invoked for AJAX POST request with JSON payload"
Note: The following description uses code from sample ASP.NET Core 2.1 MVC application that is located here:
https://github.com/PaloMraz/AspNetCoreBindingSourcesApp

## Description

When POSTing data to an action method with `application/json` payload, custom `IModelBinder` **is not** used. Whe POSTing to an action method with `application/x-www-form-urlencoded` payload, custom `IModelBinder` **is

[2019-07-24 20:05] Tratcher commented on #11598
Only sortof. All servers (including TestServer) will now have a standard set of APIs (Stream, PipeWriter, StartAsync, CompleteAsync, SendFileAsync), but for this first pass we're polyfilling the implementations. We'll keep this item open fully implement CompleteAsync.

[2019-07-24 20:06] blowdart commented on #12303
We'll look at this after 3.0 releases

[2019-07-24 20:08] blowdart commented on #9833
We're closing this issue as the behaviour discussed seems to be by design.

[2019-07-24 20:08] #9833 closed

[2019-07-24 20:08] MarvynHarry commented on #12512
@mkArtakMSFT  Does the preview 8 have a release date?

[2019-07-24 20:08] dazinator commented on #12511
Irrespective of guidance or docs, my issue is more specifically with this code here: https://github.com/aspnet/AspNetCore/blob/bfec2c14be1e65f7dd361a43950d4c848ad0cd35/src/Identity/EntityFrameworkCore/src/IdentityEntityFrameworkBuilderExtensions.cs#L54

I'm suggesting it's a bug to silently skip over and not set up stores correctly for Claims etc, when the DbContext doesnt derive from IdentityDbCo

[2019-07-24 20:10] anurse commented on #11598
Ok, I'll backlog it given that then.

[2019-07-24 20:11] dazinator commented on #5793
If you are using a DbContext not derived.from IdentityDbContext, then you could see this error as per #12511

[2019-07-24 20:13] nguerrera commented on #12064
I'm looking at https://github.com/dotnet/sdk/issues/3109 now. Seems there is some potential for that to break this if we don't coordinate on this. Is anyone actively working on this part, and if so is there a proposed change I can test with?

[2019-07-24 20:13] blowdart commented on #10299
This is a candidate for 3.1, due to the presence of a work around.

@anurse @Pilchie can we get a 3.1 milestone yet?

[2019-07-24 20:15] WellspringCS commented on #12505
Could be *ENTIRELY* unrelated, but I am trying to add one feature to preview 7 and found this thread because the error thrown looks similar. For what it's worth... I add one dependency as follows:

[code]
Then in Program.cs go this route (There is no support as yet for `CreateHostBuilder`)...
[code]

Finally adjust Startup.cs as follows:

[code]

Error thrown:

[code]

I could be talking out of tu

[2019-07-24 20:18] PaloMraz commented on #12534
After reading this https://andrewlock.net/model-binding-json-posts-in-asp-net-core/ I suppose this behavior is expected (maybe, for ignorants like me  I would add a note to the documentation, that model binders are used only for `x-www-url-formencoded` payloads...).

[2019-07-24 20:18] #12534 closed

[2019-07-24 20:19] wpitallo opened #12535 "Azure SignalR service IHttpContextAccessor context always null"
Hi, I have just converted my SignalR  project to use AZure SignalR Service.

I am able to connect, and I can access the context from inside my hub, however, I cannot now access the context from outside of the hub.

Previously I used  IHttpContextAccessor (see below) and this worked until I made the change to uas Azure SignalR service. Now everything works as it did before but the context being inj

[2019-07-24 20:21] ajcvickers commented on #12511
@dazinator Agreed that it is somewhat misleading.

[2019-07-24 20:23] Tratcher commented on #12505
@WellspringCS  That's related only in that there's a dependency mismatch.

[2019-07-24 20:28] blowdart commented on #4539
We're closing this issue as the behaviour discussed seems to be by design.

[2019-07-24 20:28] #4539 closed

[2019-07-24 20:28] blowdart commented on #5130
We're closing this issue as the behaviour discussed seems to be by design.

[2019-07-24 20:28] #5130 closed

[2019-07-24 20:30] blowdart commented on #5759
Grooming old issues.

No, I don't think this is a pressing thing to support. So closing for now.

[2019-07-24 20:30] #5759 closed

[2019-07-24 20:31] blowdart commented on #5786
Closing as an old issue as it's pretty much by design.

[2019-07-24 20:31] #5786 closed

[2019-07-24 20:32] blowdart commented on #5792
Closing as by design in MVC

[2019-07-24 20:32] #5792 closed

[2019-07-24 20:33] #5791 closed

[2019-07-24 20:33] #5805 closed

[2019-07-24 20:36] blowdart commented on #9295
It's still a custom architecture, so no, we have no plans for any of this. Instead there's ODIC and on-behalf of functionality

[2019-07-24 20:36] #9295 closed

[2019-07-24 20:37] tbprince commented on #12504
@anurse,

here you go:

`Microsoft (R) COFF/PE Dumper Version 14.00.23506.0
Copyright (C) Microsoft Corporation.  All rights reserved.

Dump of file c:\dev\aspnetcorev2.dll

PE signature found

File Type: DLL

FILE HEADER VALUES
            8664 machine (x64)
               7 number of sections
        5D2D53FB time date stamp Tue Jul 16 06:35:07 2019
               0 file pointer to symbol table

[2019-07-24 20:39] mkArtakMSFT commented on #12512
It'll be sometime mid-August.

[2019-07-24 20:42] tbprince commented on #12504
I can tell you that our project is using Kestrel, not HTTP.sys since I know that is not compatible with Module v2. By the way, this is just a default ASP.NET Core app in Visual Studio 2019 Preview. Our init code seems to confirm that we are using Kestrel:

`        public static IHostBuilder CreateHostBuilder(string[] args) =>
            Host.CreateDefaultBuilder(args)
                .ConfigureW

[2019-07-24 20:42] jcmisena commented on #1528
Great solution, please add me in gitlab: @kholossok, thanks

[2019-07-24 20:45] WellspringCS commented on #12505
OK, so likely to go away when they release an updated version, I take it.

[2019-07-24 20:57] tbprince commented on #12504
Not sure this can help but this is the failed traced log that gets generated:

[IIS Detailed Error - 500.21 - Internal Server Error.html.zip](https://github.com/aspnet/AspNetCore/files/3428726/IIS.Detailed.Error.-.500.21.-.Internal.Server.Error.html.zip)

[2019-07-24 20:59] ryanbrandenburg commented on #10639
@hishamco I don't know what behavior it is that you think is a bug. Please describe the scenario, expected behavior and actual behavior.

[2019-07-24 21:03] LaterStart opened #12536 "MissingMethodException at SignInManager ctor after update"
Hi,

I've updated to .NET Core preview 7 and updated all dependencies accordingly. Missing method exception bellow occurs on DI of ISiginInManager service at controllers constructor. The project is cleaned and rebuilt.

[code]

I've noticed I had to change implementation of the SignInManager constructor, because the new version is receiving one parameter less.
[code]

Here is the service registrat

[2019-07-24 21:12] #11233 closed

[2019-07-24 21:32] Zer010 opened #12537 "Visual Studio 2019 debugger cannot run with docker-compose with Blazor"
### Resources & References used for troubleshooting
[Announcing .NET Core 3.0 Preview 7](https://devblogs.microsoft.com/dotnet/announcing-net-core-3-0-preview-7/)
[ASP.NET Core and Blazor updates in .NET Core 3.0 Preview 7](https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-7/)
[dotnet-docker/3.0/aspnet/disco/amd64/Dockerfile](https://github.com/dotnet/do

[2019-07-24 21:41] twsouthwick opened #12539 "Razor component captures variables unexpectantly in lamba without temp variable"
If you have a `for` loop in a razor component, you need to use a temporary variable to correctly capture the value. Otherwise, it ends up being the final of the lamba.

### To Reproduce
[code]

If you select any of the first group the text changes to `Selected value: 5`. The second one with the temporary variable captures as expected.

### Expected behavior
Shouldn't need a temporary variable

###

[2019-07-24 22:16] twsouthwick commented on #12539
This looks a c# thing and repros normally. I don't use for loops too often, and apparently never captured them...

Closing the issue.