[2020-08-23 20:42] mayur-ekbote commented on #17660
I wouldn't use such a strong language but I absolutely agree with the sentiment: random crashes, lack of *any* kind of refactoring support, and general unpredictability. There are so many different crashes that I have stopped reporting. VS is probably the best IDE in the market. However, for blazor, is only slightly better than VIM.

[2020-08-23 21:16] BrennanConroy commented on #25164
Looks like the same issue that was fixed in https://github.com/dotnet/aspnetcore/pull/24926 which is why you can't see it happening in 5.0.

You can workaround the issue on 3.1 by "fixing" the IAsyncEnumerable, e.g.
[code]

[2020-08-23 21:42] tebeco commented on #25164
thx for the tips / fix / workaround ;)
I probably would not have tried this TBH

I let your decide what to do with this:
https://github.com/dotnet/aspnetcore/pull/24926#pullrequestreview-467924562
Do you want me to see if doing a PR on `release/3.1` is possible ?

I honestly do not care as I prefer relying on `ChannelReader` :D
Someone went on a rant on `Gitter` about this thinking it was `ASR` re

[2020-08-23 21:53] tebeco commented on #25164
also can you enlighten me on how this fix it ?

[code]

[2020-08-23 21:59] BrennanConroy commented on #25164
Before we were assuming if the type was generic then it must be an `IAsyncEnumerable<>` or some non-streaming type which is what that check was doing. But that was a wrong assumption since you can have a generic type that implements `IAsyncEnumerable<>` instead of being an `IAsyncEnumerable` directly. We then fallback to the logic below that statement that checks all interface types for `IAsyncEnu

[2020-08-23 22:05] tebeco commented on #25164
oO I was too focus on the semantic on the equality itself rather that the fact that the check was ALWAYS returning before, and now only if `true`.
Thx

[2020-08-23 22:13] ataraxia89 commented on #17660
Maybe that was a little strong, I've removed the language but it is very irritating. Just a note, the component that I was having a problem referencing I've now moved to a new components project and it is now working. So it was:

The project [MyApplication].Web.App contained a Components folder and all components within that folder were in the namespace [MyApplication].Web.App.Components. These co

[2020-08-23 23:08] Tommigun1980 commented on #5333
I still haven't gotten a reply to this and I need to know this soon;

When keeping a list of connection in memory with the purpose of being able to kick connections, and when using the SignalR service -- **can ARR affinity still be turned off**?

@davidfowl

Thank you!

[2020-08-23 23:09] Tommigun1980 commented on #5333
That doesn't tell anything other than that in your scenario it worked, probably with one instance running.
The rest is irrelevant. Thanks.

[2020-08-23 23:10] davidfowl commented on #5333
This isn't a question but maybe I'm missing something. You can kick connections by calling abort (that's mentioned many times on this thread).

Yes it can be turned off.

[2020-08-23 23:50] Tommigun1980 commented on #5333
Hi @davidfowl and thanks for the answer.

I would love to call Abort, but there isn't a way to do it, which this topic is about.

As @anurse said,

"There is likely a workaround way to implement this right now. The necessary logic should already exist in the Hub itself (via Context.Abort()). The request here is to be able to do it from outside the hub.
While we don't generally recommend doing this

[2020-08-23 23:57] Tommigun1980 commented on #5333
And to get back to this once more -- the problem here is that Abort() is only in a HubCallerContext -- there is for example no abort in the users as fetched from IHubContext. Because of this every user's HubCallerContext has to be stored in memory so Abort() can be called later -- and this adds state.

So
1) Is there an abort somewhere else I and everyone else are missing?
2) If not, could one be

[2020-08-23 23:58] davidfowl commented on #5333
While we don't generally recommend doing this, it is currently OK to capture the HubCallerContext (from the Context property) in OnConnectedAsync, store it somewhere (a dictionary indexed by ConnectionID perhaps) and then call .Abort() on it to terminate the connection.

Call Abort, it's fine. It'll abort the underlying connection as stated and should do the right thing.

First, if you're using Az

[2020-08-24 00:01] Tommigun1980 commented on #5333
Thank you. I know the connections themselves are handled this way, but I'm not talking about that.

Without ARR, how could this ever work?
1) Client A connects to server 1. Server 1 has A's context in a dictionary.
2) After an hour client A is assigned to server 2.
3) Server 2 does not have client A's context in a dictionary.
4) Client should be booted - but client A's context is not in the curren

[2020-08-24 00:05] Tratcher commented on #4684
Completed for 5.0.0 RC1. Revisit in 6.0.

[2020-08-24 00:08] davidfowl commented on #5333
Assuming we're still talking about Azure SignalR ARR is irrelevant as the relevant requests don't go through ARR *or* your webserver for that matter.

In your scenario, you need to decouple the notion of who is doing the abort from where that client is. To abort a client you need to make sure you know where that machine that has the client is. SignalR isn't going to do this for you so you need a b

[2020-08-24 00:13] Tommigun1980 commented on #5333
But with ARR then the client would always be connected to the same server, which has his context object. The problem is that there's no way to disconnect a user when using the SignalR service and multiple servers, unless a user is parked to the same server, or a system like you described is added (which defeats the entire point with the SignalR service).

Couldn't the IHubContext object just get a

[2020-08-24 00:26] Tommigun1980 commented on #5333
Wait - or is this a larger problem? Won't even IHubContext work at scale in my scenario even with the SignalR service?

Let's say you have horizontally scaling servers, where I am using SignalR to send notifications to clients. Say client A connects to a random one and over time he's shuffled to some other server. Client B makes a REST call of something client A should be notified of. On the serve

[2020-08-24 00:26] davidfowl commented on #5333
How? When connections go through the SignalR service? How does those connections map to a REST API calls made directly to your webserver? They don't. You can surely self host SignalR (and ARR session affinity is required in that situation).

No, we have no plans to add this functionality, at least in the short term.

I'm sorry you can't use SignalR for your scenario.

[2020-08-24 00:31] Tommigun1980 commented on #5333
I don't think we are on the same page here at all.

I am using SignalR in serverful mode (or whatever the inverse of serverless is) with SignalR service.
A user connects to a hub, on whatever server he is on. On said machine his context is saved.
He does something malicious in a REST call --- I have his context in memory so I can call Abort().
If he was transferred to another server his context wo

[2020-08-24 00:34] davidfowl commented on #5333
When you use Azure SignalR in server mode, the client is connected to the service and you application server is connected to the service. The service then routes traffic from your client to your service via those 2 connections. The REST API calls made directly to your server go have no bearing on where the SignalR connections are when using the service.

Does that make sense?

[2020-08-24 00:38] Tommigun1980 commented on #5333
Yes, that's exactly how I have understood it, thanks for confirming it. Doesn't that mean turning on ARR would then work (assuming the server where the hub context is created is the same as where the user is routed for other calls)? As long as the user doesn't get assigned to another server, his context will be in memory.

[2020-08-24 00:51] davidfowl commented on #5333
I'm saying ARR session affinity isn't in the picture at all when it comes to determining where to route requests for SignalR clients that make it to your servers. Unless you somehow teach it how to route to the right server based on some information (and I don't know where you'd get it from), it doesn't help.

You might be under the impression that the signalr service is routing connections to you

[2020-08-24 01:02] Tommigun1980 commented on #5333
Thank you for your answers, it has been really helpful.

Is there a chance you could confirm one more thing for me, not related to Abort but the connections as a whole in regard to the SignalR service;

Let's say you have horizontally scaling REST servers, also using SignalR in serverful mode via the SignalR service. I am using SignalR to send notifications to clients by calling various RPCs. Let'

[2020-08-24 01:13] davidfowl opened #25179 "Flaky test: Microsoft.AspNetCore.Server.IIS.FunctionalTests.ClientDisconnectTests.ReaderThrowsCanceledException"
[code]

cc @jkotalik

[2020-08-24 01:15] davidfowl commented on #5333
Those assumptions are correct and also hold for both SignalR and Azure SignalR. Messages *also* aren't guaranteed to reach the client (e.g. if the client goes offline).

You can influence the behavior of where the client gets connected using the [ServerStickyMode](https://github.com/Azure/azure-signalr/blob/3f26f942c3843ba77e72ba65b06351b13ffe1979/docs/use-signalr-service.md#server-sticky-mode) op

[2020-08-24 01:34] Tommigun1980 commented on #5333
Thank you again.

One final question (I promise!) - I need to know if a user is connected at the time when trying to send a message. If he's not I would like to send a push instead. There seems to be no API for this and no return values from the RPCs (presumably to avoid additional data transfers), so I guess this is tangentially related to the whole Abort() thing. Is there any mode, API or anythi

[2020-08-24 04:25] Sagar-Vaja commented on #24995
@javiercn Thanks for the solution.

Requested for the additional scopes during login & it worked perfect

[2020-08-24 04:25] #24995 closed

[2020-08-24 05:22] md-hashmi commented on #25173
On further investigation, it was a newline issue only manifesting on the linux system. Was a bit hard to see in the logs but with the newline character removed from the Aud value, this is now working fine.

[2020-08-24 05:22] #25173 closed

[2020-08-24 05:27] NakWarsi opened #25182 "ILLink failed with exit code -532462766."
I am trying to import OPCUA Client library in Client-side Blazor project and I am getting the linking issue,
followings are the compile-time error I am getting,
[code]

if I make BlazorWebAssemblyEnableLinking(as following) false, the error goes out but the project doesn't have the reference of the library on the browser so we need it,
true

Help needed,

[2020-08-24 06:00] wu-yafeng commented on #24908
The problem is due to OS default code page.
Change ANSI Code Page (ACP) on Windows by following steps:
1. `Win+R` and type 'control'
2. Select **Region (and Language)**
![image](https://user-images.githubusercontent.com/25654404/91008781-ac6eda80-e611-11ea-8dc5-999f12899c27.png)
3. Click on the **Administrative** tab and under Language for non-Unicode programs section, click "Change System Locale"

[2020-08-24 06:59] DadonLior commented on #5280
another +1 on this

[2020-08-24 08:11] TomaszGrzmilas commented on #24047
@NTaylorMullen

I did what you asked, I run `devenv /log` and opened 'Application.razor' then application stop responding. Logs:
[LSP.zip](https://github.com/dotnet/aspnetcore/files/5116546/LSP.zip)

[2020-08-24 08:33] Lapeno94 commented on #25164
Thanks for the support, Again it is huge step in 3.1 to merge it

[2020-08-24 08:38] huseyingoztok opened #25187 "Invalid guid parameter handling."
I'm using aspnet core 3.1. When the type of my action parameters is guid, I want to redirect HttpNotFound if the value that comes up is invalid guid.

`[HttpGet ("{id: guid} / {xId: guid}")] `

this attribute provides this for me, but I want it to be for all actions.

[2020-08-24 08:59] cosminsandu25 commented on #22174
I have the same problem.

[2020-08-24 09:06] Luk164 opened #25189 "Angular template not working"
### Describe the bug
After creating a fresh angular template project and running npm install, I try to run the project and the site fails to load. It also shows a number of errors and install shows numerous package warnings.

### To Reproduce
1. Created a fresh AspNetCore project with angular template selected
2. Used Yarn install command in clientApp folder
3. Tried launching the app

https://git

[2020-08-24 09:26] cmhernandezdel commented on #24462
Sorry, I was on vacation these last weeks.

Do you mean using WireShark with or without connection logging?

[2020-08-24 09:59] Tratcher commented on #24462
Without.

[2020-08-24 12:06] bmoteria commented on #25000
@captainsafia Is there any workaround for this issue? We're writing an enterprise application and we need to determine if could proceed further or find an alternative path. Thanks! (cc @BrennanConroy)

[2020-08-24 12:20] ffMathy opened #25194 "dotnet watch test should only run changed tests"
The issue #10366 was marked as stale prematurely. I think it still makes sense to implement.

Right now, the `dotnet watch test` runs all tests every time even if only one file has changed.

The test runner can already provide code coverage. It could use this coverage information to determine if some code that has been modified, should trigger re-running a specific test.

Most other test runners a

[2020-08-24 12:38] CincySteve opened #25195 "View Blazor Rendered Html"
I have tried to find a way to view the html rendered by a Blazor component, but haven’t found one.  “View page source” in the browser only shows the index.html.  This would be a big debugging aid.  If this doesn’t exist, please consider this to be a feature request.  Otherwise, please direct me to the feature.  Thanks.

[2020-08-24 13:02] SteveSandersonMS commented on #23514
Done in https://github.com/dotnet/aspnetcore/pull/24834

[2020-08-24 13:02] #23514 closed

[2020-08-24 13:05] stefanloerwald commented on #18919
@danroth27, @SteveSandersonMS

Any chance you could please give this some attention? In terms of performance, this has quite the potential to make an impact.

I've just updated the demo page and I think it shows that the issue is quite severe. Please have a look at [https://stefanloerwald.github.io/blazor-bind-overhead/](https://stefanloerwald.github.io/blazor-bind-overhead/) and corresponding [re

[2020-08-24 14:39] jc1001 commented on #24998
Thank you for the feedback.

I had a look at the fusion log viewer and can see that the server is trying to load both version 4.1.4 and version 4.1.3 of the System.Numerics.Vectors dll.

![Fusion log viewer](https://user-images.githubusercontent.com/15125812/91056692-915a9580-e626-11ea-9dc1-76fa7f2e83d5.png)

The output directory of the server does contain version 4.1.4 of this dll, so that one lo

[2020-08-24 14:52] cmhernandezdel commented on #24462
Here you have the ASCII + Hex dump:
https://gist.github.com/cmhernandezdel/dd3984c30c724da965aebd38420f2565

And this is the link to the Wireshark capture results file:
https://github.com/cmhernandezdel/TestEndpointSafire/blob/master/Results/capture.pcapng

[2020-08-24 15:15] psiservices-pmerriman opened #25197 "Microsoft.AspNetCore.Mvc.ModelMetadataType doesn't work with Web API project"
Created an EF Core model using dotnet CLI. Added a partial class (same class name as an entity) to the same namespace. Added a metadata class with data annotations. Decorated partial class with [ModelMetadataType(typeof(EntityClass))]. To ensure the partial class was being picked up, I added a property and I can see that property when I call Validator.TryValidateObject(), but there is no validatio

[2020-08-24 15:19] Tratcher commented on #24175
#24984 completed the work for all but IIS due to some testing issues. I'll keep this open to address the IIS scenario, but might move it to the next milestone.

[2020-08-24 15:22] #23821 closed

[2020-08-24 15:23] #24215 closed

[2020-08-24 15:38] Tratcher commented on #21677
Fixed by #24984.

[2020-08-24 15:38] #21677 closed

[2020-08-24 15:53] captainsafia opened #25199 "Validate catch-all routing support in Blazor"
Validate the feature introduced in https://github.com/dotnet/aspnetcore/pull/24038.

[2020-08-24 15:58] captainsafia opened #25200 "Validate form/event-related changes in Blazor"
Validate changes made to form and event-related codepaths in Blazor.

- https://github.com/dotnet/aspnetcore/pull/24036
- https://github.com/dotnet/aspnetcore/pull/24029
- https://github.com/dotnet/aspnetcore/pull/24007

[2020-08-24 15:59] marcantoinebouchard opened #25201 "Using subfolders breaks WebApplicationFactory.CreateClient() in .NET 5.0"
### Describe the bug
Using subfolders breaks WebApplicationFactory.CreateClient() in .NET 5.0.

### To Reproduce
https://github.com/marcantoinebouchard/TestAPI
1. Create an empty solution
2. Create an ASP.NET Core 5.0 WebApi project under a subfolder (here "WeatherAPI" under "./Weather/")
3. Create a xUnit test project under the same folder
4. Write a simple test using the WebApplicationFactory (a

[2020-08-24 16:00] captainsafia opened #25202 "Validate lazy-loading"
Validate lazy-loading for different scenarios and draft CTI testing spec.

[2020-08-24 16:13] #25099 closed

[2020-08-24 16:14] mkArtakMSFT commented on #22274
This has been resolved

[2020-08-24 16:15] #22274 closed

[2020-08-24 16:28] captainsafia commented on #21376
Thanks for the additional info. I'd recommend trying to repro this in 5.0-preview8 (or even better 5.0-rc1 which will include an upgrade to our MSAL.js dependency). If you're able to reproduce, please reopen this issue with a sample app so that we can investigate.

[2020-08-24 16:28] #21376 closed

[2020-08-24 16:31] NTaylorMullen commented on #17660
Hey folks, just chiming in to say we hear your pain and are working hard to make Blazor's tooling experience excellent. So some high level information on where we're going here: The existing Razor editor, the one that's been there from the beginning and the one that you've all been using, has a lot of power but of course also has a LOT of quirks and inadequacies that hinder our ability to innovate

[2020-08-24 16:32] mkArtakMSFT commented on #25195
Thanks for contacting us. You can use the `Elements` tab in the browser dev tools to view the DOM.

[2020-08-24 16:32] #25195 closed

[2020-08-24 16:35] mkArtakMSFT commented on #25172
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem. Please note, that the repro should not contain any third-party libraries. You will need to reproduce it in pure JS.

[2020-08-24 16:38] ataraxia89 commented on #17660
I have been using the experimental editor and constantly keeping my version of VS 2019 up-to-date, but now I not only get spurious errors from Intellisense but also from the experimental editor (with purple lines, oddly, though it doesn't bother me) telling me there are markup issues, but not specifying what they are.

I did have a sweet sweet moment this afternoon where all errors disappeared. I

[2020-08-24 16:40] mkArtakMSFT commented on #25154
Thanks for contacting us. It's unclear what specifically is needed from Blazor here.
Can you please clarify the scenario a bit more?

[2020-08-24 16:45] mkArtakMSFT commented on #25152
Thanks for contacting us. This may be potentially related to another reported issue: https://github.com/dotnet/aspnetcore/issues/21992

[2020-08-24 16:45] MV10 opened #25204 "NavigationManager.NavigateTo ignores base URI"
I'm altering a large Blazor server-side app which was originally developed under IIS Express (with localhost etc) to support deployment to an IIS virtual directory. Parts of the app have data-driven navigation where pages are referenced just as they're declared in the `@page` directives (e.g. `/mycontent`). We've specified the virtual directory in startup with `UsePathBase` so we were surprised wh

[2020-08-24 16:50] mkArtakMSFT commented on #25130
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-08-24 17:12] wtgodbe opened #25206 "Test HtmlGenerationWebSite_GeneratesExpectedResults fails"
at System.Net.Http.HttpClient.FinishSendAsync(ValueTask`1 sendTask, HttpRequestMessage request, CancellationTokenSource cts, Boolean disposeCts, Boolean buffered, Boolean async, CancellationToken callerToken, Int64 timeoutTime)
   at Microsoft.AspNetCore.Mvc.FunctionalTests.HtmlGenerationTest.HtmlGenerationWebSite_GeneratesExpectedResults(String action, String antiforgeryPath) in /_/src/Mvc/test/M

[2020-08-24 17:12] #25055 closed

[2020-08-24 17:14] ryanbrandenburg commented on #24744
@NTaylorMullen I'm not seeing flashing locally but that could easily be a timing issue.

[2020-08-24 17:17] SteveSandersonMS opened #25208 "Support unmarshalled calls to JSObjectReference"
We plan to do this in RC2. It's a pretty small bit of work to complete the new JSObjectReference feature set.

[2020-08-24 17:26] ThatMouse commented on #17660
Thanks for sharing some good news @NTaylorMullen !!

[2020-08-24 17:27] captainsafia commented on #24803
Closing as this is external and was resolved in 16.8 Preview 2.

[2020-08-24 17:27] #24803 closed

[2020-08-24 17:32] NTaylorMullen commented on #24047
@TomaszGrzmilas thank you! So it's definitely not an exception occurring at our language server layer which means there's something more VS intrinsic going on.... We're getting close! So there's two paths we should look into.

1. There's a hang, meaning the process wont exit it'll just hang there indefinitely. If this is the case could you attach to the hung visual studio, break, save dump as?
2.

[2020-08-24 17:32] stefanloerwald commented on #18919
As I was asked on a different channel about the seemingly low number of 0.28ms: Yes, this is the correct unit and the decimal point is in the right place.

However, this isn't a low figure at all, considering that this is per component for the only effect of determining that the render diff is empty.

In terms of keeping applications smooth, one could consider the target of 60fps. With about 60-10

[2020-08-24 17:39] javiercn commented on #25204
@MV10 thanks for contacting us.

You need to setup the base url with the document `base href` tag on your `_Host.cshtml` that's the only thing Blazor will use to determine the base url.

[2020-08-24 17:51] dougbu commented on #25206
Please link to the failing build.

[2020-08-24 17:53] UltimateForm commented on #25172
I'm not sure what you mean by "You will need to reproduce it in pure JS" since the cause is just me adding a script tag, I do not alter anything else. Anyway here's the repo as you requested @mkArtakMSFT : https://github.com/UltimateForm/AspNetCoreIssue-25172

[2020-08-24 17:59] ryanbrandenburg commented on #24744
Nothing that wasn't already reported.

[2020-08-24 17:59] #24744 closed

[2020-08-24 18:04] NTaylorMullen commented on #17660
Public for all! https://www.youtube.com/watch?v=nci0ZMoGcLM

[2020-08-24 18:05] NTaylorMullen commented on #17660
If you're willing to spend some time helping us capture enough logs / investigate we'd love to dive into what's happening on your end. If that's something you're interested in please file a new issue with some of the specific issues you're seeing (can mention me) and we can see what's going on.

[2020-08-24 18:18] mfjerome commented on #25201
We hit this issue when trying to upgrade our solution to .NET 5-preview.7, which include integration tests leveraging the `WebApplicationFactory` to create a test server.

[2020-08-24 18:24] pranavkm commented on #11815
The implementation in https://github.com/dotnet/aspnetcore/pull/25054 would have implemented a `Required` property on the `ComponentParameter`. The implementation verified that a value for each required component parameter was specified as part of `SetParametersAsync`. When we discussed this implementation, a few issues came up:

* The runtime check could not be guaranteed in the event `SetParamet

[2020-08-24 18:29] Pilchie commented on #25129
@vijayrkn - any ideas here?

[2020-08-24 18:51] genifycom commented on #24973
This is what is shown in the Dev tools console
Unknown error occurred while trying to verify integrity.
(index):1 Failed to find a valid digest in the 'integrity' attribute for resource 'https:/xxxx/_framework/_bin/WebAssembly.Bindings.dll' with computed SHA-256 integrity 'AWSHAkByLIJv4X227ilklONKUqZC02qN08KlyOrhJ1E='. The resource has been blocked.

[2020-08-24 19:13] vijayrkn commented on #25129
@SetTrend - Thanks for the repro project. Just tried running the app on IISExpress first and it worked but then running on Ketrel gave the 404 error.

![image](https://user-images.githubusercontent.com/3981619/91085930-061bd880-e603-11ea-945d-d3f717a3999c.png)

So this issue doesn't seem to be specific to IISExpress but the HttpsRedirection in startup not pointing to the right port.

@BillHiebert

[2020-08-24 19:28] captainsafia commented on #25199
Works well!

@guardrex Let's document this for RC1. Users can now specify catch-all route parameters like so.

[code]

When a user visits a page like `/page/this/is/a/test` then the value of `PageRoute` will be set to `/this/is/a/test`. The catch-all parameter must be a string type since we don't support casting for it. Also, the catch-all route parameter must appear at the end of the URL.

Let me

[2020-08-24 19:33] #25199 closed

[2020-08-24 20:03] wtgodbe opened #25213 "JSInterop tests fail after updating SDK"
Updating to a new SDK (`5.0.100-rc.1.20420.10` or newer) brings in new analyzers that complain about https://github.com/dotnet/aspnetcore/blob/faf1d80af1b0521ed120f767efd630999200a02e/src/JSInterop/Microsoft.JSInterop/src/JSRuntime.cs#L91. After updating to:

`var tcs = new TaskCompletionSource<TValue>(TaskCreationOptions.RunContinuationsAsynchronously);`

Tests like `Microsoft.JSInterop.Infrastru

[2020-08-24 20:07] wtgodbe opened #25214 "Update to RC1 SDK"
Once the RC1 SDK is available, we should use it. Includes some new analyzers that will require https://github.com/dotnet/aspnetcore/issues/25213 to be resolved, as well as some code that should improve the reliability of our dotnet-watch tests (https://github.com/dotnet/aspnetcore/issues/24841). We'll also want to be on VS16.7 by then

CC @pranavkm @BrennanConroy @dotnet/aspnet-build

[2020-08-24 20:08] wtgodbe commented on #25214
Previous work is here: https://github.com/dotnet/aspnetcore/pull/25081

[2020-08-24 20:10] jkotalik commented on #25163
@vonzshik we have been internally investigating this issue as well; the parameters you have set match the behavior issues I'm hitting as well.

Would it be possible for you to try a few different configurations:
1. Change the client app to target 3.1
2. Change the server app to target 3.1
3. If you see the same behavior between IIS and IISExpress.

At this moment we don't believe it's an issue in

[2020-08-24 20:19] jkotalik commented on #25163
Also, could you get the exact windows version by running winver and getting the entire string after Version 2004.

[2020-08-24 20:36] eistudios commented on #25147
This is what I previoulsy had on the server side.
[code]
I first attempted to add the lines above with out changing the Add IdentityServer and that did not work. I secondly attempted to add the AddIdentityServerJwt call but it want not found. I added the nuget package

Microsoft.AspNetcore.Authentication.JwtBearer but that did not work.

I am assuming that you meant on the Try to user at server-si

[2020-08-24 20:46] Tratcher commented on #25129
@vijayrkn https redirection shouldn't be related, IIS isn't configured for https either in the launchsettings.json. Did you change the launch settings?

[2020-08-24 20:46] NTaylorMullen opened #25215 "Removed RazorTemplateEngine API"
*This is the discussion issue for https://github.com/aspnet/Announcements/issues/433*

## Removed RazorTemplateEngine API

The `RazorTemplateEngine` API was removed in favor of `RazorProjectEngine`.

### Version introduced

3.0

### Old behavior
A template engine could be created and used to parse and generate code for Razor files

### New behavior
A `RazorProjectEngine`  can be created and fed th

[2020-08-24 20:50] Tratcher commented on #25129
Oh, I see. That launchsettings gives the servers different paths, `http://localhost:52772/Users` vs `http://localhost:5000`. Why is it set up that way?

[2020-08-24 20:57] BrennanConroy commented on #23067
Done via https://github.com/dotnet/aspnetcore/pull/25139

[2020-08-24 20:57] #23067 closed

[2020-08-24 21:06] #25138 closed

[2020-08-24 21:07] BrennanConroy commented on #25131
Can you please provide more info, I have 16.8 preview1 and it's working fine.

[2020-08-24 21:17] BrennanConroy commented on #24998
Glad you got it working. I don't think there is anything we can do on our side here.

You might want to try asking in the NuGet repo: https://github.com/NuGet/NuGet.Client

[2020-08-24 21:17] #24998 closed

[2020-08-24 21:22] SetTrend commented on #25129
@Tratcher: If your question is addressed to me - that's the default from the ASP.NET Core project template scaffold.

[2020-08-24 21:22] captainsafia opened #25216 "Validate Blazor WASM SDK in VS"
Tinker around with things in VS and check that it Just Works(tm).

[2020-08-24 21:23] SetTrend commented on #25129
@Tratcher: Sorry, I misunderstood your question: I have been fiddling around with paths to see if there's any change. Unfortunately, that didn't work out. The different paths don't make a difference.

[2020-08-24 21:25] wtgodbe commented on #25206
Another failure here

[2020-08-24 21:28] BrennanConroy commented on #18499
Ping @davidfowl

[2020-08-24 21:56] Tratcher commented on #24462
Notes from the network captures:
- POST HTTP/1.1
- Content-Length: 875
- Connection: close (twice!?)
- The body length appears to match the given content-length
- The client immediately sends a TCP FIN after sending the request, leaving the connection in a half-open state. That might explain the disconnect error. @halter73

[2020-08-24 22:04] NTaylorMullen commented on #25149
Thank you for your reported issue. We believe this issue will be fixed by our Razor tooling efforts in the .NET 5 time frame. If you'd like to try this tooling out you can download the latest VS preview release and check the following preview feature checkbox (Tools -> Options -> Environment -> Preview Features):

![image](https://user-images.githubusercontent.com/2008729/87990285-8b5a1d80-ca98-11

[2020-08-24 22:04] #25149 closed

[2020-08-24 22:04] TomaszGrzmilas commented on #24047
@NTaylorMullen  I started two VS instances. On one I attach debug to another. On Second I opened TEST project and open the Application.razor. Second VS stops responding, after a while I suspend Debuging and I save dump file. I hope I did it right.

Link to dump file: https://drive.google.com/file/d/1F6BzDeXS1G82r5JzNYCyopv_H5TieLlP/view?usp=sharing

[2020-08-24 22:05] NTaylorMullen commented on #25149
Oh and @danroth27 and this kind fellow wrote this article that you should super check out if you haven't: https://devblogs.microsoft.com/aspnet/new-experimental-razor-editor-for-visual-studio/

He's the best

[2020-08-24 22:07] NTaylorMullen commented on #25145
@danroth27 could you file this via VS' normal feedback flow? It looks to be an issue with the LSP platform

[2020-08-24 22:07] #25145 closed

[2020-08-24 22:11] #5058 closed

[2020-08-24 22:12] #5026 closed

[2020-08-24 23:11] TanayParikh opened #25220 "Semantic Colorization Breaks for `Visual Studio Dark` Theme"
`Default {Dark/Light} +` works as expected.

cc/ @ryanbrandenburg

[2020-08-24 23:46] BrennanConroy commented on #23291
Should be fixed with https://github.com/dotnet/aspnetcore/pull/24166

[2020-08-24 23:46] #23291 closed

[2020-08-25 00:00] #24913 closed

[2020-08-25 00:24] mjnorman opened #25221 "UseHttpsRedirection and MapHealthChecks"
### Describe the bug
When utilizing HttpsRedirection, MapHealthChecks, and ForwardHeaders there should be a way to exclude health checks from https redirection.  This is especially useful as when behind an nginx firewall handoff for SSL as in hosted environments such as Cloud Foundry.  The Load Balancer is going to check the health endpoint of its configured servers just using a `GET /health HTTP`

[2020-08-25 01:24] Tratcher commented on #25221
If all traffic is coming through nginx, have you considered moving your https enforcement there?

[2020-08-25 01:51] Tratcher commented on #25221
Implementation note: exclusions for routes/endpoints are hard in this case as the UseHttpsRedirection component is usually placed early in the pipeline, before the routes are evaluated.

[2020-08-25 02:00] hempels opened #25224 "ChunkingCookieManager ChunkSize calculation fails to account for Uri Encoding"
### Describe the bug
The ChunkingCookieManager attempts to break cookies up according to the default or configured ChunkSize. The calculation it performs against the length of the value is based on the raw value. However, the cookie value is encoded (via Uri.EscapeDataString) before being appended to response headers. Depending on the cookie value, that encoding step can significantly inflate the

[2020-08-25 02:07] captainsafia commented on #24880
@barahonajm Yep -- something like that should do the trick.

[2020-08-25 02:10] mjnorman commented on #25221
I can possibly get the monitor query changed to https.  It could also be possible to remove the ssl handoff and carry it through to the app. This would be an exception for the way the company has it configured. I was hoping there might have already been a way to make the exclusion, but expected it to be difficult since like you said, it is early in the pipeline.

________________________________
F

[2020-08-25 02:30] captainsafia commented on #25000
Hi @bmoteria -- not sure yet! We'll be investigating this issue soon and will post back about whether this a bug/known issue/fixable in your app/etc.

[2020-08-25 02:33] Tratcher commented on #25221
I meant something like this: https://linuxize.com/post/redirect-http-to-https-in-nginx/

[2020-08-25 04:03] RomainAn commented on #24994
Hey @pranavkm, i'm not using any Sleep within the client, i tried to do that in the TradingHub in the server just for testing purpose.
I partially solved this issue by not calling StateHasChanged() every message from the SignalR Socket.
I just check the last update of the view, and i refresh only if the last refresh is >= X ms.
I think blazor isn't meant to handle multiple concurrent refresh.

[2020-08-25 06:05] Tratcher commented on #25224
A) you're right, the math is off.
B) the encoding is a bit aggressive, but it is needed in some cases.
C) the spec does restrict what characters can be used in cookie values. For example most JSON would result in invalid cookies, just like the sample you gave.
D) so far the chunking cookie manager has been used with components that only produce valid cookies like cookie auth and mvc temp data.
E)

[2020-08-25 06:06] Tratcher commented on #25224
Where were you intending to use ChunkingCookieManager, and why aren't you producing valid cookies to start with?

[2020-08-25 06:28] #20328 closed

[2020-08-25 06:35] hempels commented on #25224
Fair questions.

- Where were you intending to use ChunkingCookieManager?

We have a custom OAuth handler (for LTI) that allows new users to authenticate with an openid provider (MS, Google, etc) to connect multiple auths to a single account. That requires storing the original JWT in a cookie to be read back later. JWTs can be quite large. We already use ChunkingCookieManager for this by overridin

[2020-08-25 06:45] Tratcher commented on #25224
Note cookie auth has one alternative strategy for dealing with large data. It can save the data in a local store and only send a unique identifier to the client. You may consider something similar.

[2020-08-25 06:49] hempels commented on #25224
This would be a nice optimization, though a good deal more effort than the working solution we already have.

I just wanted to point out what I believe to be an oversite with ChunkingCookieManager. Admittedly it likely doesn't impact many developers.

[2020-08-25 07:29] julienGrd opened #25228 "[Blazor server side] have two different ILogger between "client" code and "server" code"
Hello guys, I have a blazor app which can run in client and server mode.

In client mode, I have an ILogger implementation on the server, and another ILogger implementation for the client app. It's perfect because i want to log differently, not the same information, not at the same place.

In server mode, because it's a unique app, i have an unique implementation of ILogger. so the question is : W

[2020-08-25 07:35] markmcgookin opened #25229 "DataProtection - PersistKeysToAzureBlobStorage/ProtectKeysWithAzureKeyVault failing 2 days before token expiry, not recreating keyfile"
### Description
I am using Microsoft.AspNetCore.DataProtection in an asp dotnet core 3.1 project to encrypt and decrypt strings. I have it setup according to the documentation (see below) and have been successfully using it for 3 months. This is only happening in the cloud deployment and not locally, as we use local dev storage for keys there.

[code]

However, yesterday, I was getting the (very u

[2020-08-25 07:38] javiercn commented on #25228
@julienGrd thanks for contacting us.

What are you trying to achieve, log at different levels depending on whether you are using client/server?

[2020-08-25 07:56] julienGrd commented on #25228
No it's a bit more tricky.

i want the same result wether i run in server mode or in webassembly mode.

I want to log "by client" on client app (not client mode, client app, so for example all the code inside my components, the events etc), for example create one file by login and date.
On server app I want to have a unique file by date, not depending on which client what at the origin of the exce

[2020-08-25 08:02] MarcoTheFirst commented on #13601
I found a solution to make Identity work with pure Blazor components in Core 3.1. I'll write a blog post about it and share it later. Here's the principle:

1. Create a Login.razor component and inject SignInManager and NavigationManager. Use SignInManager to verify the password using the method CheckPasswordSignInAsync(). Do NOT call PasswordSignInAsync() as it will throw the exception mentioned

[2020-08-25 08:40] hermandsen opened #25230 "HTTP Range header missing when running Kestrel server"
### Description
The Range HTTP header is not set by Kestrel, even though it's coming form the client. This makes Partial Content (206) responses for streaming video impossible.

### To Reproduce
Clone the code at https://github.com/hermandsen/RangeTest

You need a video (mp4) on your local machine. Copy it to `C:\video.mp4` or set a new path in `HomeController`.

Set the project to run Kestrel, an

[2020-08-25 08:41] TehWardy opened #25305 "Microsoft.AspNetCore.SignalR.Client package does not indicate that it needs Microsoft.AspNetCore.Http v3.1"
It would be nice if the system could detect when I depend on 2 different things that in turn share a dependency but different versions.
I'm constantly told by Microsoft devs that I need to add a reference I don't directly depend on as a result of lengthy support processes, having the system determine this for me would save me and Microsoft a ton of time.

Classic example ...
Create a new Azure fun

[2020-08-25 08:46] smarteez17 opened #25231 "Blazor Client-Side consuming Web API with Windows Authentication"
I being have some problems calling an API with has Windows Authentication nothing is working. The set up I have a Standalone API hosted and In the services I want to call . Please can you provide and example as I look on the net and cant find anything
here my code

 public class UserData : IUserData
    {
        private readonly HttpClient _httpClient;

        public UserData(HttpClient httpClie

[2020-08-25 09:01] Gaz83 opened #25232 "[Blazor WASM] Breakpoints not being hit in Visual Studio"
### Describe the bug
My issues is exactly the same issue as this one [[Blazor WASM] Breakpoints not being hit in Visual Studio #22179](https://github.com/dotnet/aspnetcore/issues/22179)

Breakpoints do not hit in Visual Studio when debugging Blazor WASM client projects.

### To Reproduce

- Using Visual Studio create a new Blazor WebAssembly project without HTTPS and with ASP.Net Core hosted
- The

[2020-08-25 09:05] MV10 commented on #25204
@javiercn thanks, I have specified `base href`, but I used `~/` ... is that a problem? I confirmed it expands appropriately when it reaches the browser.

[2020-08-25 09:08] ataraxia89 commented on #17660
I'll file a new issue but would prefer not to share too much source code of this project in a public domain, unless I can reproduce this in a test project. The absolute number one problem for me is the number of false negatives. I have a genuine issue somewhere in my code but it's completely swamped by 100+ other "errors" that aren't actually errors.

[2020-08-25 09:35] Gaz83 commented on #25232
Just to add, been speaking to someone on chat and their output from the server is different from mine.

I get this

info: Microsoft.Hosting.Lifetime[0]
      Now listening on: http://localhost:5000
info: Microsoft.Hosting.Lifetime[0]
      Application started. Press Ctrl+C to shut down.
info: Microsoft.Hosting.Lifetime[0]
      Hosting environment: Development
info: Microsoft.Hosting.Lifetime[0]

[2020-08-25 09:40] msschl commented on #24749
Closing this issue since I found the cause of my problem. :see_no_evil:

For all having the same issue: Check the log level in the chrome browser console. The default setting only shows messages with a log level of info, warning and errors.
![image](https://user-images.githubusercontent.com/5054780/91158910-9de2fa80-e6c7-11ea-9a96-010a5749b10d.png)

[2020-08-25 09:40] #24749 closed

[2020-08-25 09:44] IanKemp opened #25233 "[5.0] Allow Enum.IsDefined validation to be performed during the model-binding phase"
Currently in 3.1, model binding succeeds if any integer value is specified for an enum, **even if that value is not defined in that enum**. For example:

[code]

The way around this is by using a validator that calls `Enum.IsDefined`, which is simple to implement. But validation happens later in the pipeline, thus you incur an unnecessary performance penalty on a request that is going to be reject

[2020-08-25 09:44] NBprojekt opened #25234 "[Blazor] ResolveBlazorRuntimeDependencies fails when creating a new Project"
### Describe the bug
After creating a now Blazor WebAssembly App I get the Error `MSB4018	The "ResolveBlazorRuntimeDependencies" task failed unexpectedly.`

<details>
  <summary> Full error message </summary>

[code]
</details>

I also tried to use [this workaround][workaround] but it did not work.

### To Reproduce

- Open visual studio
- Create new project -> Blazor App (Dont change anything jus

[2020-08-25 09:57] KevinValmo commented on #24620
Anyone has faced this problem in Debug mode?

[2020-08-25 10:03] IanKemp opened #25235 "[5.0] Allow model-binding error messages to be customised"
Currently, attempting to model bind an invalid enum value results in an error message similar to the following:

[code]

This is not particularly helpful or useful to end-users, and even less helpful or useful is the fact that this message cannot be customised except by writing your own model binder, which is a lot of work and doesn't really make sense when you just want to change a message.

Can

[2020-08-25 10:15] julienGrd opened #25236 "[Blazor Server side] circuit is disconnected after browser refresh even with a beforeunload"
Hello guys, in my blazor app i have implemented a beforeunload event in js to prevent the user leave the app or refresh accidentaly.

[code]

I web assembly mode, it works great.

But in server mode, the circuit is disconnected before the user decide what to do.

 I see it by put a breakpoint in the Dispose of my services.

I don't know which piece of code run the disconnect, the stack trace is ex

[2020-08-25 13:32] Tratcher commented on #25230
It seems more likely that the client isn't sending it.

Please share the raw requests either as exported from a browser network tab or kestrels connection logs:
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-3.1#connection-logging

Note you need to advertise range support on prior responses.

[2020-08-25 13:37] julienGrd opened #25240 "[Blazor] Strategy for non reentrancy on dom event"
Hello guys, i meet problems on my blazor app with the non reentrancy
indeed, when i double click on a button, the event behind is launch twice. and it's normal.

to avoid that, actually i do
[code]

I would like to know if there is a guideline or helpers i can use to apply this logic on non reentrency, because write this kind of code in all events of my app is a bit a pain...

thanks !

[2020-08-25 13:54] javiercn commented on #25240
@julienGrd thanks for contacting us.

We don't have anything out of the box for that (other than guidance, which is to do what you are doing).

If you find yourself doing that a lot, you can potentially write a component that takes care of the reentrancy concerns and have it be the one that deals with the event. Something like:
[code]

[2020-08-25 14:30] mayur-ekbote commented on #17660
Keep an eye on the lower left corner. Even when it shows it's "ready" don't believe it. Wait till the animation stops and some more. False errors would disappear. Works for me about 90% of time.

[2020-08-25 14:46] ataraxia89 commented on #17660
I dearly wish it was that simple, but I still get errors even after I've run the program then stopped it again. Errors also linger, I've removed files completely and the errors are still there. I am constantly closing VS, clearing bin and obj, reopening then rebuilding and it is sooooooooo time consuming it's unbearable.

[2020-08-25 14:49] pranavkm commented on #25234
@NBprojekt that looks like a really old version of the package. Can you follow the preview release notes (e.g. https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-4-release-now-available/) to upgrade to an RTM version? If you continue seeing it once you upgrade to the RTM package, please file a new issue and we'll investigate.

[2020-08-25 14:49] mayur-ekbote commented on #17660
You might have already tried, but just in case: instead of deleting bin and obj, have you tried deleting .vs folder?

[2020-08-25 14:56] pranavkm opened #25241 "Validate model binding + record types"
* [x] Model binding and validating record types
* [x] Input \ output formatting and record types
* [x] TryUpdateModel \ TryValidateModel
* [x] Document record types

[2020-08-25 14:57] pranavkm opened #25242 "Validate dotnet-watch scenarios"
* [x] dotnet watch run
* [x] Browser refresh
* [x] Support for other dotnet watch commands
* [x] Document new features and switches

[2020-08-25 15:02] ataraxia89 commented on #17660
Just tried that, no difference, here's just a snapshot of what I'm dealing with atm:

![image](https://user-images.githubusercontent.com/48794242/91191089-3d19e900-e6ec-11ea-9182-98122cfdeb50.png)

Also, all errors are doubled up if you look at the line numbers.

[2020-08-25 15:06] ataraxia89 commented on #17660
Here's another, the RegisterNewUser and ResetPassword components are currently running, fully functional, in a live environment in exactly the same state as they are at the moment:

![image](https://user-images.githubusercontent.com/48794242/91191680-faa4dc00-e6ec-11ea-8ad9-2b880256bcf3.png)

[2020-08-25 15:11] Tratcher commented on #18499
Closing this as we don't see a good way to fix UseEnvironment without completely replacing it.

[2020-08-25 15:11] #18499 closed

[2020-08-25 15:20] NBprojekt commented on #25234
@pranavkm Thanks  for the quick response.

Just [updating my templates][updateTemplates] didn't to the job.
I also had to update my _Visual Studio 2019 Preview_ to get it working again.

[updateTemplates]: https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-4-release-now-available/

[2020-08-25 15:20] #25234 closed

[2020-08-25 15:24] julienGrd commented on #25240
OK its something i was expected, i think i will deal manually on each event, in any case i have to update my code in each place.

Subject is close for me

[2020-08-25 15:35] #25240 closed

[2020-08-25 15:40] davidfowl commented on #18499
Why not in 6.0?

[2020-08-25 16:16] Tratcher commented on #18499
Do you think it's worth obsoleting UseEnvironment and replacing it with a new API in 6.0? If so then move this issue to the runtime repo.

My proposal for a new API would be a new HostBuilderOptions with an Environment property that overrides config. This would be passed to a new HostBuilder constructor.

What about CreateDefaultBuilder? Add an overload that also takes HostBuilderOptions, or maybe

[2020-08-25 16:38] kemmis commented on #17277
@hoksource you can just remove that line. that issue is not related to this one. when the angular cli upgrades your app to v9 it dumps that line into main.ts in a subjectively dumb way. it's helpful to have it there for those using universal (if i remember correctly), but it's problematic for those of us not using universal.

[2020-08-25 16:43] mkArtakMSFT commented on #25236
Thanks for contacting us.
Can you please confirm what version of Blazor you're using?

[2020-08-25 16:46] mkArtakMSFT commented on #25236
Also, please make sure you register the `beforeunload` handler before any other registered handlers for that event. Also consider using `preventDefault` to stop propagation: https://developer.mozilla.org/en-US/docs/Web/API/Window/beforeunload_event

[2020-08-25 16:51] mkArtakMSFT commented on #25228
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, we are not a general-purpose forum. To get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **blazor** tag.

[2020-08-25 16:51] #25228 closed

[2020-08-25 16:52] mkArtakMSFT commented on #25204
You cannot use `/` to navigate

[2020-08-25 16:56] mkArtakMSFT commented on #25231
@smarteez17 try this:

[code]

[2020-08-25 16:57] mkArtakMSFT commented on #25147
@eistudios can you try to follow the guidance provided here: https://docs.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/hosted-with-identity-server?view=aspnetcore-3.1&tabs=visual-studio#api-authorization-options

[2020-08-25 17:11] mkArtakMSFT commented on #24973
Thanks for contacting us, @genifycom.
Please share more details about how you publish your app.

[2020-08-25 17:13] blowdart commented on #25229
I wonder if the auth token expired.

I'd strongly suggest moving to the Azure SDK owned packages now, see https://github.com/Azure/azure-sdk-for-net

@pakrym in case he has thoughts.

[2020-08-25 17:57] #24648 closed

[2020-08-25 17:59] pranavkm opened #25245 "Validate Blazor WASM SDK scenarios"
* [x] Build and publish
* [x] Incrementalism
* [x] PWA manifest
* Update docs and write migration notes to migrate to RC1 SDK

[2020-08-25 18:05] hermandsen commented on #25230
## Page load
### Request headers
[code]

### Response headers
[code]

## Video load
### Request headers
[code]

### Response headers
[code]

## Playing video
### Request headers
[code]

### Response headers
[code]

Kestrel responds with `Accept-Ranges: bytes`, but does not send `Content-Range` header.

[2020-08-25 18:06] diegofrata opened #25246 "Compile fails with cannot convert from 'ConflictingName.Model' to 'BlazorTypeBug.ConflictingName.Model'"
### Describe the bug
Parent components fails to generate the correct code for setting a property in child components when the type of property requires global:: qualifier.

The Razor compiler generates the following code:

[code]
The component being compiled is in the namespace ```BlazorTypeBug.ConflictingName.Components```, so the generic parameter in the call to TypeCheck is being assumed to be

[2020-08-25 18:32] dougbu commented on #25158
c2f03318052aa81ce67c6abb120aae892ae519e7

[2020-08-25 18:32] #25158 closed

[2020-08-25 18:38] Tratcher commented on #25230
Hmm, that should all be handled by your current controller code. We'll have someone take a look when we get a chance.
https://github.com/hermandsen/RangeTest/blob/85135dc6935ef1a84ebac9422871b3c4a0f2abc7/RangeTest/Controllers/HomeController.cs#L24-L33

[2020-08-25 18:48] GavinPower747 commented on #21988
Seems the original author hasn't been seen for a while here. Anyone mind if I take this one up?

[2020-08-25 19:20] halter73 commented on #24462
The client FIN is definitely the cause of the disconnect error. I was initially skeptical about treating a connection as completely closed (instead of just half-open) immediately upon receiving a FIN from the client, but it turns out all the widely-used HTTP clients and browsers we know about do not send a FIN until after receiving any expected responses.

The following is from my comment when it

[2020-08-25 19:35] kdubau opened #25249 "Blazor deep linking does not work with parameters that include a dot"
### Describe the bug
Routes with parameters will 404 if the parameter value contains a dot (`.`).

### To Reproduce

Repro repo: https://github.com/kdubau/BlazorDeepLinkBug

Deep link navigate to https://localhost:5001/counter/value - it works as expected.

Now deep navigate to https://localhost:5001/counter/val.ue - it 404s.

### Exceptions (if any)

I don't see anything logged about it.

### Fur

[2020-08-25 19:38] eistudios commented on #25147
I am receiving a token from okta from WASM. This is an identity token, which I am 100% sure contains the groups claims. When this is being passed from WASM to server the claim is not included. I have validated this by capturing the JWT during transit from browser to back end.

The recommended advice appears to be setup on the server side.

[2020-08-25 20:10] TanayParikh opened #25250 "No Inline C# Diagnostic or Diagnostics Reported Through Requests"
C# diagnostics are no longer being sent for razor files.

Available in VSCode.

- No inline diagnostics in VS.
- I'm also not getting any diagnostics in `CodeActionParams.Context.Diagnostics` in the `textDocument/codeActions` request.

This is for the same project, same file.

[2020-08-25 20:10] TanayParikh commented on #25250
Marking External to roslyn.

[2020-08-25 20:22] #12938 closed

[2020-08-25 20:26] kdubau commented on #25249
Okay I found this: https://docs.microsoft.com/en-us/aspnet/core/blazor/fundamentals/routing?view=aspnetcore-3.1#routing-with-urls-that-contain-dots

But I am unsure how to make this work in my Blazor WASM app hosted with ASP.NET Core.

While that doc suggest Blazor Server, I tired it anyway and got:

```System.InvalidOperationException: Invalid template '{**AppId}'. The character '*' in parameter

[2020-08-25 20:32] kdubau commented on #25249
It seems to work just fine if we include a trailing slash like so:  https://localhost:5001/counter/val.ue/

[2020-08-25 20:52] deiruch opened #25252 "Improve usability when using uncaptured iteration variables in Blazor bindings"
### Is your feature request related to a problem? Please describe.
When using the for-loop iterator variable as part of value binding in Blazor, you get an `IndexOutOfRange` exception. Consider this scenario:

[code]

This appears to work at a first glance. However, as soon as you try to modify the bound string, you'll get a difficult to understand `IndexOutOfRange` exception:

[code]

The problem

[2020-08-25 20:58] javiercn opened #25254 "[Templates] Update ShowProfile to avoid Base64 encoding images"
https://github.com/dotnet/aspnetcore/blob/release/5.0-preview8/src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/Pages/ShowProfile.razor#L71-L72

[2020-08-25 21:19] constantintaivan opened #25255 "ASP.NET Core Authentication app - UseHttpsRedirection on 443 causes too many redirects error"
Hello,

I'm deploying an authenticated ASP.NET Core 3.1 app to Ubuntu server based on Apache2 and Kestrel configuration.
Locally, I'm able to have a seamless login flow keeping same https protocol.
When deployed, since Index page has the Authorized attribute, my app was redirected to http (I need to keep https), but when accessing directly the Login page the https protocol is kept as well as is ha

[2020-08-25 21:19] Pilchie commented on #25076
Agreed.  The music store sample is pretty stale.  I wonder if it's still providing us the sort of benefit it was intended for.

[2020-08-25 21:25] Pilchie commented on #24635
We don't (yet), have an up-for-grabs label, but I don't think we'd be against a contribution here.  It's quite late for the .NET 5 release, so it's likely something that would end up in .NET 6 though.

[2020-08-25 21:27] Tratcher commented on #24635
It's called [help wanted](https://github.com/dotnet/aspnetcore/labels/help%20wanted) in this repo. We also have [good first issue](https://github.com/dotnet/aspnetcore/labels/good%20first%20issue) for easier items.

[2020-08-25 21:28] dougbu commented on #24841
Is this a dupe of #23360❔ Did #25081 successful at removing the problem i.e. did we run the validations enough to see if the tests remain flaky with a newer SDK❔

[2020-08-25 21:54] NTaylorMullen commented on #25220
By default this doesn't look to happen. We should investigate more to understand why.

[2020-08-25 23:04] TanayParikh commented on #25128
Discussed with liveshare / LSP platform.

Created: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1179917

ETA: Unknown, but it seems like the change may be a bit more involved than originally thought. May have to patch on our end for now.

[2020-08-25 23:27] captainsafia opened #25258 "Fetching dotnet.timezones.blat data fails in published Blazor app"
### Describe the bug
After deploying a Blazor WASM application to Azure App Service, my application fails to load because the request to fetch dotnet.timezones.blat results in a 404.

@pranavkm suspects that this is because our Web.config isn't setup to configure IIS to serve .blat files.

### To Reproduce

1. Open VS. Create a new Blazor WASM project.
2. Add the workaround code below to your proj

[2020-08-25 23:39] #25216 closed

[2020-08-25 23:49] comet56us opened #25259 "Exception in HubConnectionBuilder.Build using .net5 preview 8"
### Describe the bug
I have a working Blazor WASM project (using 3.2) that also uses SignalR to connect to a hub on the server.
When I update to .NET 5 Preview 8, I get an exception when trying to call HubConnectionBuilder.Build.

### To Reproduce

I reproduced the same issue by [following the instructions here](https://docs.microsoft.com/en-us/aspnet/core/tutorials/signalr-blazor-webassembly?view

[2020-08-26 00:03] pranavkm commented on #25259
/cc @marek-safar

[2020-08-26 00:04] #24605 closed

[2020-08-26 00:12] Tratcher commented on #24309
Our JwtBearer implementation is fundamentally based on OpenIdConnect. That it works for anything else is more of a coincidence. We're unlikely to add first class support for other protocols unless they are major standards like OIDC.

You're welcome to propose ways to make this easier to extend though.

[2020-08-26 00:31] captainsafia commented on #23832
A fix for this has been merged into the C# extension.

[2020-08-26 00:31] #23832 closed

[2020-08-26 00:45] Tratcher commented on #25255
See https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-3.1

[2020-08-26 00:49] #25200 closed

[2020-08-26 01:04] alexeystrakh opened #25262 "SignalR HubConnection is unable to execute the negotiate call, receiving HTTP error 413: Payload Too Large"
### Describe the bug

In our Ionic application, we use [aspnet/signalR](https://www.npmjs.com/package/@aspnet/signalr) package to connect our backend service running asp.net core (netcoreapp3.1) web API. On the backend we use `Microsoft.AspNetCore.SignalR` package (1.1.0) and `Microsoft.Azure.SignalR` (1.5.0). For most accounts the application works fine but for specific accounts it breaks with th

[2020-08-26 01:48] BrennanConroy commented on #25262
https://github.com/Azure/azure-signalr/issues/249

[2020-08-26 04:29] TorrentialFire commented on #22911
This. So much. Thank you for that tip! I was running a fresh install of .NET 5 Preview 8, the latest VS Code, and a fresh install of google Chrome and getting when trying to launch using a "blazorwasm" type launch config in VS Code. `Ctrl + Shift + I` kicks something into gear in Chrome and the error is no longer thrown. I can debug from VS Code and Visual Studio now!

[2020-08-26 05:20] stephan-tolksdorf commented on #21988
I'll resubmit the MR.

[2020-08-26 05:26] captainsafia opened #25263 "Validate CSS isolation scenarios"
- CSS isolation in component
- CSS isolation in RCL
- CSS isolation in lazy-loaded RCL

[2020-08-26 05:32] mjd575 opened #25264 "Remove the Trailing Slash from URI when converting to String"
In Asp.net core 3.1, I create a Uri like below:

`Uri uri = new Uri($"https://www.example.com?id=1&name=aa");`

When I convert it to string:

`uri.ToString()`

It will automatically add a trailing slash behind the domain:

`https://www.example.com/?id=1&name=aa`

Is there a way to remove the trailing slash?

[2020-08-26 06:40] gkeongit commented on #24997
FYI: This morning after booting my machine it happened again for multiple w3wp.exe instances. The attached debugger for two of them showed exactly the same situation as described above. I attempted to save a dump, but it failed with 'Error saving dump. Only part of a ReadProcessMemory or WriteProcessMemory request was completed.'

[2020-08-26 07:07] martincostello opened #25266 "Authentication Schemes with spaces in the names no longer work with 5.0 preview 8"
### Describe the bug

After updating aspnet-contrib/AspNet.Security.OAuth.Providers (https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/pull/438) to .NET 5.0 preview 8, the _"Visual Studio Online"_ provider no longer works. Its authentication scheme name is `"Visual Studio Online"` (note the spaces).

If this is an intentional change then this can be closed, but as Authentication Sc

[2020-08-26 07:11] sjohag opened #25267 "Compilation error in in .NET 5 Preview 8 with attributes without value, in some cases"
Compilation error with attributes without value, in some cases

### To Reproduce
In any Razor component, add:
&lt;video src="@videoSrc" autoplay&gt;&lt;/video&gt;
@code{
    string videoSrc = string.Empty;
}

In .NET 5 Preview 8,
error CS1503: Argument 2: cannot convert from 'string' to 'in Microsoft.AspNetCore.Components.RenderTree.RenderTreeFrame'

&lt;video src="movie.mp4" autoplay&gt;&lt;/vide

[2020-08-26 07:40] julienGrd commented on #25259
There is still error in this library, im also blocked in preview 6 because preview 7 had problems also with this library.

It still planned to have this library working for 5.0, but it seem dead for the preview 8

https://github.com/dotnet/runtime/issues/39756
https://github.com/dotnet/runtime/issues/40076

[2020-08-26 07:45] spaasis commented on #18087
I ran into this as well, using the fetch() API on the browser.

First, I POST a form to the current page:
[code]
The matching controller (this same endpoint is used without issues when posting forms normally via a submit button):
[code]
This results in a HTTP 302 response, as it should. However, fetch() will follow the redirect path but it still appends the Content-Type to the next GET headers:
[c

[2020-08-26 07:56] as-srandall commented on #25267
Yep, I'm getting exactly the same error with a Blazor Server Side app.
Most Visual Studio releases seem to break something these days, seriously, I'm not impressed! More wasted time.
Using Microsoft Visual Studio Community 2019 Preview Version 16.8.0 Preview 2.0

[2020-08-26 08:00] as-srandall commented on #25267
The following two lines are common amongst the errors I'm getting in the xxx.razor.g.cs files:
 __builder.AddAttribute(15, "selected");
 __builder.AddAttribute(12, "disabled");

[2020-08-26 08:06] Gaz83 commented on #25232
Looks like a repair install of visual studio solved the problem.
I noticed that Visaul Studio code had no issues and, when debugging, it always launched a new browser window.
Visaul Studio was always launching a new tab on my existing browser windows.

After repair, visual studio started launching a new browser window. Not sure if that means anything to anyone.

[2020-08-26 08:13] marek-safar commented on #25259
This will need fixes on aspnetcore side unless we add back the API which I don't think it's worth it as it will not work and only increase size/memory footprint.

I'd suggest to move the ctor call into getter and mark the property as  `[UnsupportedOSPlatform("browser")]`

@jeffhandley this is a good example of what the API analyzer should catch in our own code

[2020-08-26 08:18] as-srandall commented on #25267
In the code fragment below, its generating the error on the line in bold:

    <select id="pageSizeSelector" class="form-control-sm" FullWidth="false" @onchange="OnPageSizeChanged">
        @foreach (var pageSize in AvailablePageSizes)
        {
            var isSelected = pageSize == PageSize;
            @if (isSelected)
            {
                **<option value="@pageSize" selected>**

[2020-08-26 08:31] julienGrd commented on #25236
@mkArtakMSFT In net 5.0 preview 6 but same thing in preview 8. I put a preventDefault but same effect

[2020-08-26 08:39] markmcgookin commented on #25229
Which part should move over? That's a pretty huge repo. Is there a keyvault client or something in there that I should be using? Or is it the AzureServiceTokenProvider? This 'solution' has been suggested before when this issue was encountered but (without sounding ungrateful for the advice) with no real explanation as to _how_ to utilise these new packages in this scenario.

[2020-08-26 09:20] vonzshik commented on #25163
Yes, same issue for both IIS and IISExpress. Checked for .net 5 and .net core 3.1.

Windows 10 Pro 2004 (OS Build 19041.450)

[2020-08-26 09:30] martincostello commented on #25266
If not intentional, looks like the name would need to be encoded in these two places:

https://github.com/dotnet/aspnetcore/blob/3e1e69eccef4ea54c46c7e706413a0448abbbec9/src/Security/Authentication/Core/src/RemoteAuthenticationHandler.cs#L203

https://github.com/dotnet/aspnetcore/blob/3e1e69eccef4ea54c46c7e706413a0448abbbec9/src/Security/Authentication/Core/src/RemoteAuthenticationHandler.cs#L223

[2020-08-26 10:14] jbomhold3 commented on #25259
Is there any workaround for getting a singalr connection from a blazor client until this is fixed?

[2020-08-26 10:20] msschl commented on #25259
You could try setting the `HttpTransportType` to `LongPolling`. But I haven't tested it yet myself.

[code]

[2020-08-26 10:25] Tratcher commented on #25266
This is an unanticipated consequence of https://github.com/dotnet/aspnetcore/issues/23578. I'll look into it.

[2020-08-26 10:45] Tratcher commented on #18087
@pranavkm your new for exception handling fix should at least convert this to a 400, correct? What was that issue link?

[2020-08-26 10:58] jbomhold3 commented on #25259
Still nothing holding pattern it is.

[2020-08-26 11:10] SteveSandersonMS opened #25268 "CSS isolation doesn't support pseudoelements"
Looks like I missed this case:

[code]

It should rewrite as `a[scope]::after` but actually rewrites as `a::after[scope]`.

[2020-08-26 11:10] jkarra2020 opened #25269 "Blazor Server app initial connection issues when the web servers are behind a load balancer"
Hello, I am trying to deploy a Blazor **server** application on Pivotal cloud foundry - with Nginx reverse proxy and Kestrel web server. When I try to run on more than 1 instance, the websocket connection intermittently fails (works fine with 1 instance).

I did read about the Azure SingalR service, but is not an option since we are not deploying the app to Azure. I tried out the Redis backplane,

[2020-08-26 11:14] javiercn commented on #25187
@huseyingoztok thanks for contacting us.

If we understand correctly, what you want is to return a 404 on all actions where you've defined a GUID parameter and it's not a valid GUID?

The way to achieve that is by defining the constraint inline. Routing doesn't know about what types the values you want to use are and it only cares about the shape of the string coming in.

For that reason you need

[2020-08-26 11:37] nfplee commented on #17330
Closing as instead I have registered my settings like so:

[code]

Now instead of injecting `IOptionsMonitor<ISiteSettings>` I simply have to inject `ISiteSettings`.

[2020-08-26 11:37] #17330 closed

[2020-08-26 11:37] DominikPf commented on #13413
I could cast ``sender`` as EditContext, but currently there is no ``IsValid`` Property in EditContext. Only ``Validate()`` would return the ValidationState. But this would cost additional Resources to Re-Validate. And would end up in an endless loop.
(ValidationChangedEvent->Validate->ValitationChangedEvent->...)

[2020-08-26 11:51] javiercn commented on #25249
@pranavkm thanks for contacting us.

By default trailing segments that contain a dot are "considered" files by the system, hence we don't fallback to render a razor page. You can change this by specifying whatever pattern you want in endpoints.MapFallbackToFile. The default pattern is {**path:nonfile} and that's what causes the routes with the . in the last segment to be ignored

[2020-08-26 12:25] pdhermann-bws opened #25271 ".net Core 3.1 WebAPI cannot be called with a JWT token with over 16KB token data."
### We have a problem calling our WebAPI when the JWT token exceeds 16KB in length.

The OPTIONS call still works,
![OPTIONS](https://user-images.githubusercontent.com/45160210/91302642-153b8b80-e7a7-11ea-947c-11e3b23501a2.png)
 the GET call does not.
![GET](https://user-images.githubusercontent.com/45160210/91302662-1b316c80-e7a7-11ea-877c-221f6ed6263f.png)

And in swagger we get the following er

[2020-08-26 12:27] #22601 closed

[2020-08-26 12:27] #24098 closed

[2020-08-26 12:34] javiercn commented on #25271
@pdhermann-bws thanks for contacting us.

You are likely hitting the default limit imposed by the server. You can likely change this on IIS (which seems what you are using based on the 16K boundary).

That said, we would strongly encourage you to not put that amount of info in the token and instead put the minimal info you need on the token that is needed to retrieve the other information you need

[2020-08-26 12:51] Tratcher commented on #25266
Cookie auth is also likely affected:
https://github.com/dotnet/aspnetcore/blob/3e1e69eccef4ea54c46c7e706413a0448abbbec9/src/Security/Authentication/Cookies/src/PostConfigureCookieAuthenticationOptions.cs#L33

[2020-08-26 13:00] Tratcher commented on #25266
For the correlation cookie I think we can remove the auth scheme name. We're already add a unique id to each cookie name so the scheme name isn't important.

For cookie auth we'll need to encode the scheme name.

[2020-08-26 13:06] sschultze opened #25273 "DOTNET_URLS ignored by Kestrel on macOS / .NET Core 3.1 + .NET 5 Preview 8"
On macOS with both .NET Core 3.1 + .NET 5 Preview 8, Kestrel ignores the `DOTNET_URLS` environment variable.

Funnily, using the `URLS` environment variable **does** work, but this shouldn't be the case because the host configuration environment variables use the `DOTNET_` prefix by default. My ASP.NET Core knowledge is quite limited, but after playing around with `ConfigureHostConfiguration` and

[2020-08-26 13:08] javiercn opened #25274 "Blazor Image component to display images that are not accessible through HTTP endpoints"
## Summary
Introduce an Image component to display images coming from `dynamic` sources like API calls or databases.

## Motivation
Currently the most common way to display an image coming from the `Database` is to base64 encoded it and create an object URL for it. This is problematic since images have a big size and that results in the allocation of large strings, which has a big impact on perfor

[2020-08-26 13:20] javiercn commented on #25269
@jkarra2020 thanks for contacting us.

Your load balancer needs to have sticky sessions enabled. Check [here](https://docs.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/server?view=aspnetcore-3.1#linux-with-nginx) for details

[2020-08-26 13:29] Tratcher commented on #25271
The traces show it's using kestrel. It appears to be hitting some HTTP/2 specific limits like MaxFrameSize and MaxRequestHeaderFieldSize. Debug level logs should give you more detail about why the request was refused.

Note I recall there being a limitation in our HPACK decoder implementation where a single header couldn't exceed a single frame (MaxFrameSize), regardless of the MaxRequestHeaderFie

[2020-08-26 13:34] Tratcher commented on #25273
Do you have a launchsettings.json containing https://localhost:5001? dotnet run would read that and set an environment variable.

This might be an ordering issue. DOTNET_ environment variables are read first but could be overridden by ASPNETCORE_ environment variables. Command line parameters and un-prefixed environment variables are applied later.

[2020-08-26 13:43] Tratcher commented on #25266
Note the downlevel patch for this issue used a more conservative mitigation that does not introduce the same regression: https://github.com/dotnet/aspnetcore/pull/24389. We did not want to apply that same mitigation in 5.0 because it has side effects for enumeration of request cookies.

[2020-08-26 13:56] CincySteve commented on #25154
This issue is not about something not working, it is about adding a capability to Blazor that enables it to function from the developer’s standpoint like a true object-oriented capability in which the data associated with a Blazor component can be encapsulated within it without custom rendering logic.

As I said, the model for this is a UserControl in WinForms.  UserControls and Blazor Components

[2020-08-26 14:09] SteveSandersonMS commented on #25267
Thanks for reporting this. I'm trying to track this down but so far haven't managed to reproduce the issue. Here's what I've tried:

 1. In an empty directory, ran:
    * `dotnet --version` and verified the output is `5.0.100-preview.8.20417.9`
    * `dotnet new blazorserver`
    * `dotnet run` (and verified it works in a browser)
 1. Using VS Code, edited `Pages/Index.razor` to contain the follow

[2020-08-26 14:32] sschultze commented on #25273
@Tratcher Thank you. I can confirm that running `dotnet myapp.dll` in the output directory works fine.

By printing the values of the `DOTNET_URLS` and `ASPNETCORE_URLS` environment variables at the beginning of the application's entry point, I can confirm that the (legacy) `ASPNETCORE_URLS` environment variable is overwritten by the value of the `applicationUrl` in the `launchSettings.json` file

[2020-08-26 14:32] Muchiachio opened #25275 "ModelBindingResult.Success not accepting null"
### Describe the bug
We are testing preview bits on our application and we noticed that [ModelBindingResult.Success](https://github.com/dotnet/aspnetcore/blob/89c3d6bf23974b35ac896df92e9c588288599107/src/Mvc/Mvc.Abstractions/src/ModelBinding/ModelBindingResult.cs#L27-L30) no longer accepts null values with nullable annotations enabled. Is this intentional or a bug? We don't want to use `ModelBindi

[2020-08-26 14:36] sjohag commented on #25267
Using Visual Studio Version 16.8.0 Preview 2.0, File - New - Project - Blazor App - Blazor Server App
In .csproj target framework is netcoreapp3.1 and the problem can be reproduced.
Changing to net5.0 solves the problem.

[2020-08-26 14:41] aegirorn commented on #16840
I am having exactly the same problem. I would think, making Blazor usable in non-English languages would be an important issue.

[2020-08-26 14:53] mifopen commented on #24098
@javiercn, could you please explain why the issue is marked as `Done`? I don't see any PRs about it and all suggestions from the thread above do not solve the problem and just masking it with some hacks.

[2020-08-26 14:55] blowdart commented on #25271
Out of interest, what is generating such a large, role laden JWT? Active Directory?

[2020-08-26 15:04] pranavkm commented on #25213
@SteveSandersonMS can you help with this?

[2020-08-26 15:05] pranavkm commented on #25275
Thanks @Muchiachio for the feedback. We'll have these addressed for RC1

[2020-08-26 15:05] blowdart commented on #25266
Encode or replace the spaces with something else?

[2020-08-26 15:14] pranavkm commented on #18087
It would. I used https://github.com/dotnet/aspnetcore/issues/13333 as the issue to track the work. It isn't closed as yet since it's possible to return 500s when reading the body during input formatting while we'll tackle later on.

[2020-08-26 15:21] 23min commented on #25267
I had
`<td "table-primary"` that I changed to <td class="table-primary" and one of the errors went away.
The other errors seemd non-legit.

Threw away obj and bin and built successfully.

[2020-08-26 15:22] 23min commented on #25267
Woops, spoke too early. It built but it didn't run! Same errors again. (What's that all about?)

[2020-08-26 15:27] 23min commented on #25267
Upon further analysis :)

The other five errors were actually legit, but the error message is misleading to say the least.

I had several `td class=""`
When I removed the empty class attribute, the errors went away.

[2020-08-26 15:44] SteveSandersonMS commented on #25267
@23min it's a little difficult to keep track of what you're saying. Could you clarify by posting a complete example of something that fails to compile with the `Argument 2: cannot convert from 'string' to 'in Microsoft.AspNetCore.Components.RenderTree.RenderTreeFrame'`, if you saying you have such an example? Thanks!

Also, if you're getting a different error, then please post it as a different is

[2020-08-26 15:44] jeffrey-caldwell commented on #25267
I had the same issue.

Each file with an error contained a html tag which had class="" in it.  Once I removed all of those, my program is running again.

[2020-08-26 15:49] 23min commented on #25267
@SteveSandersonMS to sum it up:

In each case, I had a table definition `<td>` with an invalid class or an attribute that was not recognized.

For example (invalid class)
![image](https://user-images.githubusercontent.com/1111124/91326030-25159880-e7c4-11ea-85f4-f45de5db1fd7.png)

and (empty class)
![image](https://user-images.githubusercontent.com/1111124/91326138-470f1b00-e7c4-11ea-8fe0-2c59b88b

[2020-08-26 15:51] limefrogyank opened #25276 "CSS Isolation pseudo elements"
### Describe the bug
Using the new CSS Isolation techniques in blazor, almost everything works well except for psuedo-elements `::after` and `::before`.  If I have this element layout inside a component:
[code]
Then when I try to add an `::after` pseudo element to anything internal, it won't work.  Something like this:
[code]
I have to use the `::deep` combinator for any sub-element's `::after` or

[2020-08-26 16:03] #23560 closed

[2020-08-26 16:03] #8695 closed

[2020-08-26 16:04] campersau commented on #25276
Looks like https://github.com/dotnet/aspnetcore/issues/25268

[2020-08-26 16:23] pranavkm commented on #25254
@javiercn can you follow up with @JunTaoLuo ?

[2020-08-26 16:24] pranavkm commented on #25254
@mkArtakMSFT can you be responsible for making sure this gets resolved?

[2020-08-26 16:25] pranavkm commented on #25252
We had a a contributor provide an analyzer for this, but we think this is better suited as part of Roslyn analyzers that isn't Blazor specific. Parking this in next sprint planning to figure out who gets to drive this work for the next release.

[2020-08-26 16:26] Gaz83 commented on #13601
@adaris

I couldn't get this to work. Do you have a sample project?

[2020-08-26 16:28] pranavkm commented on #25249
Using this issue to track adding a doc article for this. @guardrex in case you have a bit of extra time.

[2020-08-26 16:29] lagzilajcsi commented on #19640
I am working on a quiz game, and i would like to dynamically load each page from a database.
Is there a way to convert the <component> as markup or a workaround, for components to be dynamically rendered (with some values preferable)?

example:
<QuizComponent Question="How old is Tomy?" Answer="16" />

I know with Fragments and the builder you can render components, but I cannot really get a grip

[2020-08-26 16:31] pranavkm commented on #25154
/cc @SteveSandersonMS

[2020-08-26 16:37] pranavkm commented on #25233
With input formatting, MVC relies on the formatter to deserialize the input body, in your case System.Text.Json. If you need to customize the behavior here, an issue in the dotnet/runtime would be appropriate. While they address the issue, you could consider authoring a custom converter to handle this as you see fit.

[2020-08-26 16:38] guardrex commented on #25249
@kdubau We have some new content for catch-alls with WASM at ...

https://docs.microsoft.com/en-us/aspnet/core/blazor/fundamentals/routing?view=aspnetcore-5.0#catch-all-route-parameters

... for .NET 5 preview at the upcoming RC1 (mid-September).

I'll get the `endpoints.MapFallbackToFile` alternative behavior option covered, but I'm not going to be on RC1 until RC1 actually lands.

[2020-08-26 16:38] pranavkm commented on #25133
The error code `-2147450730' usually indicates that the runtime isn't installed. Could you try repairing the VS install to see if it address your issue?

[2020-08-26 16:40] pranavkm commented on #25079
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimal project (ideally a GitHub repo) that illustrates the problem.

[2020-08-26 16:44] pranavkm commented on #25067
One way to go about this would be to capture state as part of the feature provider and defering the DI lookup until you have access to the service provider. Our current architecture does not allow for injecting DI context in the IApplicationFeatureProvider and it's not something we intend on changing in the near future.

[2020-08-26 16:56] limefrogyank commented on #25276
Looks like I should have re-run my search for issues since last night... doh!

[2020-08-26 17:01] #25204 closed

[2020-08-26 17:01] #24994 closed

[2020-08-26 17:01] pranavkm commented on #25246
We're tracking addressing this as part of https://github.com/dotnet/aspnetcore/issues/18757

[2020-08-26 17:01] #25246 closed

[2020-08-26 17:19] alexeystrakh commented on #25262
hi @BrennanConroy thanks for the reference, it looks similar, my error is 413 in my case my effect looks the same. I also found a similar issue on (SO here)[https://stackoverflow.com/questions/56769490/accesstoken-must-not-be-longer-than-4k]. That's why I verified the total size of headers and specifically the AccessToken size which is around 1k (well below 4k limit). I posted the exact request wi

[2020-08-26 17:22] diegofrata commented on #18757
@pranavkm the problem with this issue is that **there is no workaround** other than casting the offending type declaration to object or dynamic. It's not possible to simply rename a type I might not own or refactor an entire application changing the namespace whenever there's a conflict.

Whilst it's a rare issue, when it occurs it is a showstopper. Any chance this can be pulled out of the backlog

[2020-08-26 17:34] BrannonKing opened #25278 "HttpRequestException is too vague for HubConnection.StartAsync"
The authentication module on my SignalR server gives a variety of different status codes depending upon what kind of authentication failure there was. However, the SignalR client gives me no way to extract the specific status code returned. Instead, the `StartAsync` method throws a `HttpRequestException` that might have the status code textually. Can you expose the actual status code returned?

[2020-08-26 17:41] BrennanConroy commented on #25278
Looks like a dupe of https://github.com/dotnet/aspnetcore/issues/17304
Have you tried this in 5.0? It looks like the linked Runtime issue has been fixed so there should be status codes now.

[2020-08-26 17:43] rubo commented on #7756
You're killing a good API. Judging by this thread, there's even no replacement for the functionality cut by this removal.
The suggested workaround of temporarily changing the current culture is _awful_ for many reasons and is not a real solution.

This move doesn't really seem justified and the community opinion is kind of neglected. What a pity.

[2020-08-26 17:55] mjnorman commented on #25221
I guess that could work.  However it seems problematic to attempt to use nginx buildpack and dotnetcore buildpack for this scenario in a Cloud Foundry environment, but will definitely try this.

Thinking along different lines, would mimicking the HttpsMiddleMiddleware work as well?  I am simplifying here due to the fact that ssl will always be 443 due to handoff at LB in our scenario.  Most is str

[2020-08-26 18:06] Tratcher commented on #25221
Yes, custom middleware is always an option when you are sniffing for specific paths. That can be hard to generalize though.

Note you need to return in that if block so you don't call next for http requests.

[2020-08-26 18:14] mjnorman commented on #25221
Ok thank you very much for your feedback, and the catch on the missing return.

[2020-08-26 18:14] #25221 closed

[2020-08-26 18:16] cmhernandezdel commented on #24462
I don't really know. These are messages sent by a CCTV camera. I can reach out to the manufacturer, but my guess is that this is propietary software and they cannot share the details. I guess there is no workaround other than using a proxy (whiich I am already doing)?

[2020-08-26 18:16] jkotalik commented on #24428
I just started investigating this issue, and it looks like the error being returned from the file watcher is ERROR_NO_SYSTEM_RESOURCES. Are you having any out of memory issues at all?

Still looking into why app offline is being detected.

[2020-08-26 18:16] ryanbrandenburg commented on #20320
Post-upgrade problems:
- [ ]  No codelens in vscode or VS
- [ ] No completions in VS
- [ ] No signatureHelp in VSCode
- [ ] Lightbulb on unknown taghelper hangs in VS
- [ ] Rename doesn't work in VS
- [ ] OnTypeFormatting doesn't work in VS
- [ ] AutoCompletion doesn't work in VS
- [ ] VSCode gives errors about Synchronization failed: Token cancellation requested: undefined

[2020-08-26 18:32] pranavkm commented on #18757
@diegofrata at this point we're close to wrapping up changes for 5.0. I'll have a look to see how trivial this change is, but I suspect it's fairly involved would make it more likely this would only be fixed in the next major release.

[2020-08-26 18:38] TanayParikh commented on #20320
So something like:
`<NonExistantComponent>` -> invoke lightbulb -> VS hangs?

[2020-08-26 18:46] clawrenceks commented on #14192
I have a requirement to use the LinkGenerator to generate links outside of a Web Project, similar to the requirement mentioned by @FilipVanBouwel earlier in this issue.

My requirement is to use the LinkGenerator in a worker process that runs in its own process, with no web host configured.

The only way I have been able to achieve this so far is as follows. Are there any issues with using this me

[2020-08-26 18:47] constantintaivan commented on #25255
It's fixed now, https is kept as expected.
Solved also the wrong redirect to Google OAuth Sign-In as I was getting the error on Correlation failed-Microsoft.AspNetCore.Authentication.RemoteAuthenticationHandler, due to the missing Secure cookie attribute (SameSite=None scenario). I was pretty sure if fixing the redirect issue I was able to sign in on Chrome too.

Thank you very much!

[2020-08-26 19:24] jkotalik commented on #24428
After looking at more of your logs, I still think resource limits are the real issue here. It looks like someone is trying to add app_offline.htm, but it's failing to create the file. However, we still notice the notification and stop the worker process, even though the file isn't present.

Do you know why `An ISAPI reported an unhealthy condition to its worker process. ` is being reported?

[2020-08-26 19:24] pranavkm opened #25282 "FileUpload follow ups"
* Harden the documentation for IBrowserFile to make it clear that these properties are provided by the client and are untrusted
* Do some prelimnary validation on IBrowserFile. For e.g.  throw if File.Size is negative.
* Consider renaming ToImageFileAsync -> RequestImageFileAsync
* Add a InputFile.MaxFileSize = 15MB and a InputFile.MaxAllowedFiles = 3
* Don't document samples with MemoryStream

[2020-08-26 20:07] BrennanConroy commented on #25262
Yes, if you have further issues follow up on the Azure/azure-signalr side.

[2020-08-26 20:07] #25262 closed

[2020-08-26 20:20] BrennanConroy commented on #24555
Fixed via https://github.com/dotnet/aspnetcore/pull/25096

[2020-08-26 20:20] #24555 closed

[2020-08-26 20:30] TomaszGrzmilas commented on #24047
I just installed VS 16.8.0 Preview 2.0. Still got infinite loop in Razor Language Server Client, but now Application is responding and I got this error:

![image](https://user-images.githubusercontent.com/32311696/91353417-8bfa7800-e7eb-11ea-9122-b31653116b7c.png)

System.NullReferenceException : Object reference not set to an instance of an object.
   at Microsoft.CodeAnalysis.Razor.MemoryCache`2

[2020-08-26 20:38] #22950 closed

[2020-08-26 20:39] #22834 closed

[2020-08-26 20:39] BrennanConroy commented on #20817
@dougbu  This is the same as https://github.com/dotnet/aspnetcore/issues/20818 right?

[2020-08-26 20:48] mvarblow opened #25287 "Application Initialization Module does not work if SSL Required = true in IIS Manager"
### Describe the bug
When an ASP.NET Core application is set to preload in IIS the application starts immediately when an application pool starts or recycles. However, if the application is _also_ configured in IIS Manager to require SSL then the application initialization feature stops working. When the application pool is started or recycled the application is **not** started immediately. Instea

[2020-08-26 20:52] JunTaoLuo opened #25288 "[Discussion] ExceptionHandlerMiddleware will throw original exception if exception handler cannot be found"
Discussion for https://github.com/aspnet/Announcements/issues/434.

## ExceptionHandlerMiddleware will throw original exception if exception handler cannot be found

Currently, the `ExceptionHandlerMiddleware` will execute the configured exception handler when an exception has occurred. If the exception handler, configured via [`ExceptionHandlerOptions.ExceptionHandlingPath`](https://docs.microsof

[2020-08-26 20:56] JunTaoLuo commented on #21510
Announcement made at https://github.com/aspnet/Announcements/issues/434

[2020-08-26 20:56] #21510 closed

[2020-08-26 20:58] dougbu commented on #20817
Right. This should also be closed by e13368391b0220ba4404f2c5f448fd5f2733a70b.

[2020-08-26 20:58] #20817 closed

[2020-08-26 20:59] dougbu commented on #20818
See #20817

[2020-08-26 21:18] BrennanConroy opened #25289 "Using the Redis backplane with Clients.GroupExcept and Clients.Client"
---
**Issue moved from SignalR/SignalR#4494**
- Please respond to @DinoSourcesRex.

---

_From @DinoSourcesRex on Wednesday, August 26, 2020 9:14:14 PM_

I am attempting to scale out my signalr application. I am mainly using `Clients.GroupExcept` and `Clients.Client`. I was expecting the backplane to relay all these messages between the nodes.

I have not done anything particularly crazy with my c

[2020-08-26 21:20] BrennanConroy commented on #25289
Are all your servers using the same endpoint and channel prefix?

A repro app would be helpful.

[2020-08-26 21:23] #25263 closed

[2020-08-26 21:27] mvarblow commented on #25287
Note that I tried with a template WebForms (.NET Framework 4.7.2) application, logging in the Application_Start method. With a classic ASP.NET web forms application the application initialization feature DOES work even with the Require SSL option enabled in IIS Manager. So this problem does seem to be specific to ASP.NET Core.

[2020-08-26 21:29] #25202 closed

[2020-08-26 21:44] blowdart commented on #24165
Also linking https://github.com/dotnet/aspnetcore/issues/24201

[2020-08-26 21:54] Acmion opened #25291 "Setting a Custom RazorPagesRoot Breaks Compatibility with Razor Class Libraries"
### Describe the bug
Calling `services.AddRazorPages().WithRazorPagesRoot([SOME PATH]);` in `Startup.cs/ConfigureServices` may cause Razor pages in Razor Class Libraries to be inaccessible. Calling the method will assume that all RCL's contain the Razor pages within the relative `[SOME PATH]`, which is unlikely to be true if depending on third party libraries. Thus, calling the method will likely

[2020-08-26 22:23] Tratcher commented on #25230
I'm not able to reproduce this with your project using 5.0-preview8, Kestrel or IIS, in chrome or firefox. The range request header comes through without issue, and the 206 responses are sent as expected.

Can you try this again with preview8?

I'm also curious why your request are using HTTP/1.1 and not HTTP/2? Mine all come through as HTTP/2 (though the scenario still works if I force it to HTTP

[2020-08-26 22:24] halter73 commented on #25273
I'm removing the labels because I want to discuss this next triage. This experience does seem pretty surprising and hard-to-diagnose, and I want to make sure there isn't something more we can do to improve this before marking it at resolved.

[2020-08-26 22:35] thesuavehog commented on #22343
Is there any functional work-around for this in the interim while awaiting a more permanent plan?

Ie. is there a way to disable 'silent' refresh and just redirect the browser to the OIDC provider (**Cognito** in my case). It would bounce the user between a couple of sites when things are loading just to refresh the token, but it would be significantly faster overall as currently the AuthorizeView

[2020-08-26 22:37] futzy314 commented on #22174
I am getting the same error too, works in Debug from VS, but trying to build a docker container with it in release, and I get this error.

[2020-08-26 22:37] jaredpar commented on #24526
@pranavkm

[2020-08-26 22:46] ryanbrandenburg commented on #20320
Like your example, except instead of "invoke lightbulb" it's just "click on the lightbulb (assumedly just to get a list of available actions)"

[2020-08-26 23:08] chsienki commented on #24526
This appears to be caused by not passing the `@(Analyzer)` item group to the compiler.

We recently added a switch that allows you to pass the group, but disable the actual analyzers themselves; that means you generators will run, but you don't waste cycles running unneeded analyzers https://github.com/dotnet/roslyn/pull/46669

[2020-08-26 23:11] Pilchie commented on #24526
👀

[2020-08-26 23:17] DinoSourcesRex commented on #25289
Well! Building that app ended up helping me find the issue. Totally nothing to do with SignalR and everything to do with me misconfiguring some URLS / app settings.

Thanks @BrennanConroy

[2020-08-26 23:23] chsienki commented on #24526
I opened https://github.com/dotnet/aspnetcore/pull/25292 with a proposed fix.

[2020-08-26 23:24] ajaybhargavb opened #25293 "Investigate PR build failure"
[This](https://github.com/dotnet/aspnetcore/pull/25283) PR had failures due to [build ordering issues](https://dev.azure.com/dnceng/public/_build/results?buildId=788969&view=logs&jobId=1b89928a-2219-5ef9-602f-f95beb3da4dc&j=1b89928a-2219-5ef9-602f-f95beb3da4dc&t=bcce746a-741e-59b7-adec-a4a82d8c5e52). Need to investigate.

More context, https://github.com/dotnet/aspnetcore/pull/25283#issuecomment-6

[2020-08-26 23:42] #25289 closed

[2020-08-27 00:21] EricCornelson opened #25295 "Removing a breakpoint while paused then refreshing the page (while still paused) causes the breakpoint to still be hit"
### Describe the bug

While paused on a breakpoint, if a user removes the breakpoint, then refreshes the page while still paused, the deleted breakpoint is still hit, and will be until the debug session is restarted (or chrome/edge devtools is closed and reopened).

### To Reproduce

Using the default Blazor template from Visual Studio,

1. Set a breakpoint in the `IncrementCount()` method in coun

[2020-08-27 00:50] SQL-MisterMagoo opened #25296 "Blazor WebAssembly Localization does not behave the same as Server side"
### Describe the bug
Blazor WebAssembly is using the CurrentCulture to look up Localization resources, while Blazor Server uses the CurrentUICulture.

I wonder if this line is causing the problem?
https://github.com/dotnet/aspnetcore/blob/a4938d07a5127ffad8466ddf703a6b5b21f4b0c9/src/Components/WebAssembly/WebAssembly/src/Hosting/SatelliteResourcesLoader.cs#L29

### To Reproduce
There is a repro pr

[2020-08-27 01:15] NickBarrett opened #25297 "Using an expression to set a @on{EVENT}:preventDefault value in an SVG throws exception when expression changes from true to false"
I realise for now, SVG support is limited in Blazor (#18271) but I wanted to add this here so that it can be reviewed when the team has time.

### Describe the bug
Adding `@on{EVENT}:preventDefault` (or `@on{EVENT}:stopPropagation`) to an `<svg>` tag, and setting the value of the attribute using an expression, causes a "Microsoft.JSInterop.JSException: Cannot remove attribute from non-element chil

[2020-08-27 01:41] bfmsoft commented on #25259
I waited on Preview 8 as this was supposed to be fixed, sigh

[2020-08-27 01:50] joshfriend commented on #7756
I tried the "recommended" path hinted at by the docs and several other things for DAYS with no luck, eventually resorting to hard-coding translations of my text in code. I was using an online translation management service for my resx files, but am no longer able to do that because all my text is jumbled inside a few `.cs` files. It's an awful mess.

Also a reminder that "deprecation" means planni

[2020-08-27 03:47] pdhermann-bws commented on #25271
We have an own Authentification and Authorization Application.
The Authentification is done by Active Directory, roles and permissions came from our application.

[2020-08-27 04:20] marlongerson opened #25299 "AddRazorPages/MapRazorPages breaks generated link by asp-route-* tag helpers to MVC controller route."
### Describe the bug
I have scaffolded default identity pages into my MVC project, so I have a mix of razor pages and MVC views. However, `AddRazorPages` and `MapRazorPages` are breaking one of my links generated by the asp-route-* tag helpers to one of my controller action methods.

I have an action method that looks like the following:

[code]

When I generate the link in my view (without AddRaz

[2020-08-27 04:29] mihaimyh commented on #25274
This sounds like a really nice feature.

[2020-08-27 04:34] Zelif commented on #25267
Just ran into this as updating to Version 16.8.0 preview 2
As @jeffrey-caldwell and @23min pointed out any blank attribute will trigger this. This also include stuff like
`<option value=""> `

For @23min's example if you need to keep the custom attribute you could just assign a string to it to keep it.
`<td table-primary="table-primary">`

Cheers to @jeffrey-caldwell and @23min for pointing this o

[2020-08-27 04:38] pdhermann-bws commented on #25271
Thank you, that helped.
Kestrel Configuration in Startup.cs is now:
`                    webBuilder.ConfigureKestrel(o =>
                    {
                        o.Limits.Http2.MaxFrameSize = 131072; // 128KB;
                        o.Limits.Http2.MaxRequestHeaderFieldSize = 131072; // 128KB
                        o.Limits.MaxRequestHeadersTotalSize = 524288; // 512KB

[2020-08-27 04:38] #25271 closed

[2020-08-27 05:04] lakeman commented on #18087
Related spec change for fetch POST / 302 redirect behaviour; https://github.com/whatwg/fetch/issues/609

A Content-Type should only be present when there's a body to read, but some existing implementations will provide one when they shouldn't. That should probably be ignored, or at least rejected with a 400 error.

[2020-08-27 06:39] Hanisafa opened #25302 "Why InputText,ValidationMessage ? why not doing it like asp-for , asp-validation-for"
Hi ,
i was porting asp razor page website to blazor , i got this question why blazor is using <ValidationMessage> and <InputText>
can you make like asp tag helper ? tag helper make me feel that i have more control over the elemnt , its just a pane HTML markup

this is asp razor page code

div class="form-group"
                label asp-for="School.Phone" class="control-label"></label>

[2020-08-27 06:56] pureggerstefan opened #25303 "DateTime returns wrong time after updating target framework to net5.0 (Blazor)"
After updating a Blazor WebAssembly App to .net5.0 a problem with DateTime occurs. When using e.g. DateTime.Now, it does not access the local time on my machine, instead it returns the current UTC-Time instead of the expected CEST. Changing any of my settings on the local machine does not affect the given value. With the previous used framework (.netstandard2.1), this problem does not occur.

[2020-08-27 07:03] RomainAn opened #25304 "Memory access out of bounds"
Hi everyone, hope everyone is healthy.

###  Describe the bug
Memory is out of bounds, when i'm retrieving from SignalR a list of custom objects (class containing 2 strings, 33000 items inside)
I also got this issue when calling using HTTP Get

### To Reproduce
- Create a blazor webassembly application
- Send a pretty decent list to the client when he get connected

### Exceptions (if any)
[code]

[2020-08-27 07:15] kaizen365 commented on #25267
@Zelif I just encountered this issue with VS 2019 16.8.0 preview 2.

For the <textarea readonly> (and disabled attributes) which was causing build errors for me i have changed this to valid xhtml by setting readonly="readonly" and disabled="disabled" to get my build working again...

[2020-08-27 08:14] TehWardy commented on #25305
The issue is not that the reference is right or wrong here.
The point of raising this ticket was to request that some means to show / crawl / detect what's going on in a complex solutions dependency tree from within VS.

For example ...
What if I could right click on a project and select an option like "analyse dependency tree" or something and it brings up a new tab showing the crawl of all the r

[2020-08-27 08:49] JunTaoLuo commented on #25254
Should someone more familiar with the blazor templates be making this change? As for this particular fix, as @javiercn mentioned in email:

I could try to make the change verbatim but I'm not familiar with these templates soI would prefer to defer to someone else more knowledgeable.

[2020-08-27 08:57] conficient commented on #25267
I've figured out what the cause is - if you've updated to .NET Core 5.0 Preview 8 SDK, but build an .NET Core 3.1 Blazor app that has value-less attributes, it creates the error. I had the same issue yesterday.

Steps to reproduce:

1. Create new Blazor Server app (select .NET core 3.1)
2. Ensure `<TargetFramework>netcoreapp3.1</TargetFramework>` in project file
3. Add the following in Index.razor

[2020-08-27 09:02] MohamedSahir opened #25306 "Antiforgery token in asp.net core with angular 9"
![token antifrgery](https://user-images.githubusercontent.com/20682302/91420670-a3307880-e872-11ea-83de-d1aa486eba92.png)

Question
https://stackoverflow.com/questions/63603141/400-bad-request-csrf-angular-8-with-no-razor-pages.

Angular is running separate port and .net core running separate port.

Version:
Angular 9
Dotnet core 3.1
 84.0.4147.135

When loading with this get pop up an error secur

[2020-08-27 09:32] KalleOlaviNiemitalo commented on #25288
The implementation is apparently at <https://github.com/dotnet/aspnetcore/pull/25062>. It uses [ExceptionDispatchInfo.Throw](https://docs.microsoft.com/dotnet/api/system.runtime.exceptionservices.exceptiondispatchinfo.throw?view=net-5.0) to preserve the original call stack of the exception. If the exception handler returns an HTTP status other than 404, then the middleware uses that response as is

[2020-08-27 09:58] conficient commented on #25267
Another fix I've just tested, which avoids any changes to the HTML is to add a `global.json` file to force use of the .NET 3.1 SDK for the build:
1. Add a text file `global.json` to the root of the solution folder (assuming you don't already have one)
2. Edit the file to set the SDK version you have installed and wish to compile against. Mine is currently 3.1.401
[code]
If you don't know what SDK

[2020-08-27 10:24] TomaszGrzmilas commented on #25267
I have project:
<TargetFramework>netcoreapp3.1</TargetFramework>

I think I got this error after updating to Microsoft Visual Studio Community 2019 Preview Version 16.8.0 Preview 2.0

Helpfully workaround is working 💯 :)

[2020-08-27 10:41] dadjh85 commented on #14473
I guess this feature will only be available in .NET 5, in .NET Core 3.1 is it not possible to publish applications this way?

[2020-08-27 11:57] SteveSandersonMS commented on #25267
Thanks everyone for the reports and the additional info.

We now have a fix pending for this at https://github.com/dotnet/aspnetcore/pull/25307. I expect this will ship in the 5.0 RC1 release.

Until then, the workaround I'd recommend is what @conficient suggested [here](https://github.com/dotnet/aspnetcore/issues/25267#issuecomment-681850250), i.e., add a `global.json` file to tell `dotnet` to us

[2020-08-27 12:00] #25187 closed

[2020-08-27 12:15] fjallemark opened #25308 "Blazor WASM: Use several languages resources in the same component"
### Cannot load resources from other language in a Blazor Component
I have a component that shall use a language code in retrieved data to decide which language to use for displaying labels. In the same component I therefore need to have access to all my languages satellite DLL:s. But only the language DLL:s for the selected language in the browser seems to be downloaded. Is there a way to force a

[2020-08-27 13:45] blowdart opened #25310 "Fully implement nullable support in Identity templates."
Identity templates are not yet compatible with the ongoing nullable work.

After the 5.0 release we should go through everything and make sure it works.

For example,

https://github.com/dotnet/aspnetcore/issues/24201
https://github.com/dotnet/aspnetcore/issues/24165
https://github.com/dotnet/aspnetcore/issues/22656

[2020-08-27 13:46] blowdart commented on #24201
Closing in favor of aggregating issue, #25310

[2020-08-27 13:46] #24201 closed

[2020-08-27 13:46] blowdart commented on #24165
Closing in favor of aggregating issue, #25310

[2020-08-27 13:46] #24165 closed

[2020-08-27 13:46] blowdart commented on #22656
Closing in favor of aggregating issue, #25310

[2020-08-27 13:46] #22656 closed

[2020-08-27 13:59] smeegoan opened #25311 "Failed to start process with commandline, ErrorCode = '0x80070002'"
### Describe the bug
If the path to the Asp.Net Core applications contains spaces and there exists a file on disk that matches a portion of that path the application will not start and instead return a misleading error.

### To Reproduce
1. Create a file named Program and place it on the root drive e.g. C:\.
2. Configure an Asp.Net Core applications hosted on IIS that has it's physical location so

[2020-08-27 14:01] julienGrd opened #25312 "[Blazor server] 404 on .properties file"
Hello guys, im unable to access a .properties file in a blazor server app.

In webassembly app, i was using
[code]
and it work great.

But in server mode, put this code broke the app with a 404 on blazor.server.js

so how i can handle that ?

thanks !

[2020-08-27 14:32] Melander commented on #19963
I've got a similar issue.
Microsoft Visual Studio Enterprise 2019
Version 16.7.2

For me even the intellisense for asp-for itself does not show up nor the intellisense for the model.
Also when using the <input "asp-for".../> without the intellisens the input field is not built correctly and does not work.

TargetFramework: dotnetcore3.1.
The file _ViewImports.cshtml contains "@addTagHelper *, Micr

[2020-08-27 14:43] pantoast opened #25313 "ControllerBase.User.Identity is null for all users after a period of time"
### Description
I have a Blazor Webassembly project secured with IdentityServer4 using role based authentication. The site is published and deployed on IIS. Many of the site's API methods make use of the ControllerBase.User property, usually in conjunction with the UserManager to get information about the current user. This all works fine most of the time, but eventually it stops. Logs show that t

[2020-08-27 14:44] javiercn commented on #25299
@marlongerson thanks for contacting us.

If you are explicit about the area and set it to `asp-area=""` in your page, does that fix the issue?

[2020-08-27 14:57] Indrajith-Sync commented on #13026
@mkArtakMSFT  Can you guide us with a workaround for this scenario until the feature is implemented ?

[2020-08-27 15:08] SteveSandersonMS commented on #13026
@pomeara @Indrajith-Sync if you could provide a clear description about why the existing `Dispose` mechanism isn't sufficient in your case, that would help us to know what would make sense as a workaround in your case.

[2020-08-27 15:09] radical commented on #25295
Moving this to `dotnet/runtime`, as it looks like a debugger issue.

[2020-08-27 15:28] SteveSandersonMS commented on #25302
Maybe at some point in the future we might have a taghelper-like way of instantiating components, however it's quite difficult to see how a design would work well for that in an end-to-end way, for example composing together multiple unrelated magic attributes. It's quite different to the whole architecture of the framework. That's why we haven't done it yet.

Blazor is a component-oriented framew

[2020-08-27 16:24] captainsafia commented on #25236
@julienGrd Thanks! The fact that it repros on both versions means that it is not related to some changes we recently made to this disconnect logic.

I'd recommend trying a few things:

1. Make sure you define your event listener before the `blazor.server.js` script is loaded.
2. Set `{ capture: true }` in the options for your event listener.
3. Invoke `event.stopImmediatePropogation()` at the star

[2020-08-27 16:35] mkArtakMSFT commented on #25313
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-08-27 16:40] mkArtakMSFT commented on #25303
Thanks for contacting us. What version of .NET SDK are you using? We have fixed something similar in 5.0 Preview 8.

[2020-08-27 16:46] Thaina commented on #25165
@mkArtakMSFT Do you think which approach is fit for xamarin?

[2020-08-27 16:47] mkArtakMSFT commented on #25306
Thanks for contacting us. We will leave this question to be handled in your StackOverflow post as this repo is not a good fit for general questions.

[2020-08-27 16:47] #25306 closed

[2020-08-27 16:49] mkArtakMSFT commented on #25291
Thank you for your feedback.
We're closing this issue as the behavior discussed is by design.

[2020-08-27 16:49] #25291 closed

[2020-08-27 16:52] #23378 closed

[2020-08-27 16:52] #23150 closed

[2020-08-27 16:52] #23148 closed

[2020-08-27 16:52] #23140 closed

[2020-08-27 16:52] #23123 closed

[2020-08-27 16:52] #23114 closed

[2020-08-27 17:01] #25269 closed

[2020-08-27 17:01] #25233 closed

[2020-08-27 17:01] #25067 closed

[2020-08-27 17:11] marlongerson commented on #25299
@javiercn I just tried. It doesn't fix it.

[2020-08-27 17:13] eerhardt opened #25315 "Publishing blazorwasm template project is broken with the latest SDK"
### Describe the bug
New Blazor WASM template projects don't work after publish.

### To Reproduce
1. Install 5.0.100-rc.1.20427.6 SDK from https://github.com/dotnet/installer#installers-and-binaries
2. `dotnet new blazorwasm`
3. `dotnet publish -c Release`
4. Try to run the published app

### Expected results
The app loads correctly

### Actual results
The app sits at:

![image](https://user-imag

[2020-08-27 17:16] eistudios commented on #25147
So inside the Blazor app on one of the authenticated pages I added

[code]

Taking this token and using jwt.io decryptor I see the claim for groups is not in there as well.

[2020-08-27 17:19] dsplaisted commented on #25305
This looks like an issue with Azure Functions to me.

[2020-08-27 17:41] pranavkm commented on #25315
Thanks @eerhardt. It looks like ResolvePackageAssets marks all these package assets as CopyToPublishDirectory=false which causes these assets to not publish. This seems like a fairly recent change. Building with 5.0.100-rc.1.20379.10, I'm unable to reproduce this issue.

[blazorwasm.zip](https://github.com/dotnet/aspnetcore/files/5137888/blazorwasm.zip)

![image](https://user-images.githubusercont

[2020-08-27 17:42] pranavkm commented on #25315
@dsplaisted \ @marcpopMSFT could I get some help with this?

[2020-08-27 17:48] dsplaisted commented on #25315
@pranavkm Can you share the assets file?

This is probably happening because the DevServer package has PrivateAssets="All" (which stops it from being published), and these packages aren't depended on by any other package references.

[2020-08-27 17:51] pranavkm commented on #25315
https://gist.github.com/pranavkm/ac75783254175c3a0c261727c4aae6df

[2020-08-27 17:57] HaoK commented on #21116
Reopening for use in api-review

[2020-08-27 17:59] jkotalik commented on #14473
It's possible to publish apps in that way in .NET Core 3.1 and .NET 5, however they won't run with IIS in-process hosting. We are going to investigate this in 6.0.

[2020-08-27 18:01] #24654 closed

[2020-08-27 18:02] zbecknell opened #25317 "Preview8: dotnet watch removes console color and suppresses most logging"
### Describe the bug

Whatever changed with how the console output is redirected in preview 8 causes the colors and extra logging to go missing.  The below output compares running `dotnet run` and `dotnet watch run`:

![image](https://user-images.githubusercontent.com/9710256/91476882-99efdd80-e86b-11ea-87f6-6a2c8a61a3f7.png)

### To Reproduce

Create a new blank hosted project:

[code]

Then run

[2020-08-27 18:09] vsfeedback opened #25318 "Blazor project stops responding when changing branch"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/923844/blazor-project-stops-responding-when-changing-bran.html)._

---
I have a large solution that contains three blazor apps (clientside and serverside) along with 40+ blazor component projects.  Originally, whenever I used to switch from Debug to Release mode, the IDE wo

[2020-08-27 18:21] zbecknell commented on #25317
Here's the minimal repro: https://github.com/zbecknell/Preview8Repro

[2020-08-27 18:23] ranjithchev opened #25319 "Kestrel bug while making a http call from F5 load balancer"
### Describe the bug
We have a dotnet core application which uses kestrel to expose our API's. We are running our kestrel server only supporting http requests as our F5 load balancer will receive https requests from the UI and remove the certs and send it as a http request to our final kestrel web server.

Because we use F5 as the load balancer F5 hits one of our endpoint called /healthcheck which

[2020-08-27 18:24] gfs opened #25320 "Ability to Debug Blazor WASM without manually changing base href"
### Is your feature request related to a problem? Please describe.
If you deploy your WASM bundle it needs the correct base href set.

For example, for https://github.com/Microsoft/OAT we host our blazor app at https://microsoft.github.io/OAT, thus the base href for publishing must be `/OAT/`.

However, for debugging it appears to not be configurable where to tell IIS or ASP to host the WASM bundl

[2020-08-27 18:32] zbecknell commented on #25317
Also note: my other logging output destinations are still receiving entries just fine, so it's just the console that's affected.

[2020-08-27 18:54] JunTaoLuo opened #25322 "Test failures and hangs due to Selenium/Chrome issues"
We have seen a lot of CI failures/hangs in due to issues with Chrome and Selenium. The investigation is ongoing but the affected tests have been disabled to unblock CI. This issue tracks fixing those tests and re-enabling them.

[2020-08-27 19:00] #25255 closed

[2020-08-27 19:15] Xyncgas commented on #25320
hahah I mean it's exactly the pattern, you have to change the base everytime, like yea I wonder if we can automate this process, at least to set the base differently for publishing, and after that if you are moving it to another host say from azure to aws to whatever then you can change the base manually

[2020-08-27 19:15] javiercn commented on #25299
@marlongerson that's likely it, I missed that when I looked at the sample.

[2020-08-27 19:15] Xyncgas commented on #25320
I just started playing with blazor 3 days ago and I've noticed it too

[2020-08-27 19:16] micka190 commented on #7246
Should updating to OpenSSL 1.1.1h automatically fix this issue, or will we need to wait for some underlying change in the .NET Core framework/tooling before it's ready?

Currently running the OpenSSL 1.1.1h build (as the linked issue mentions that the fix is already included in it), but I'm still having issues with the SSL connection.

[2020-08-27 19:17] Xyncgas commented on #25320
yea I'll just do it myself using a script for now

[2020-08-27 19:23] akshays2112 opened #25325 "System.Net.HttpClient.DeleteAsync needs to also accept content parameter like the rest of the methods."
Problem:

In Spotify API endpoint there is a scenario in which you are issuing a Delete command but the data cannot be in the Query String but has to be in the Body/Payload.

### Describe the solution you'd like
The solution is for System.Net.HttpClient.DeletAsync to be overloaded to accept a content parameter like the rest of the methods.

[2020-08-27 19:34] pranavkm commented on #25315
It does look related to the DevServer package. Removing it seems to fix the issue, but I'm not clear on why that is.

[2020-08-27 19:39] NTaylorMullen commented on #25115
Fixed in latest VSMaster.

[2020-08-27 19:39] #25115 closed

[2020-08-27 20:14] NTaylorMullen commented on #24047
@TanayParikh this MemoryCache issue isn't known is it?

[2020-08-27 20:14] blowdart commented on #25319
Is this a BIG-IP? They send, by default, an HTTP 0.9 request, which Kestrel will reject.

It looks like you can configure the f5 devices to be, well, more modern in their requests. https://support.f5.com/csp/article/K2167

Could you try adding the HTTP/1.0 as suggested in the f5 documentation?

[2020-08-27 20:16] modulardev2 opened #25326 "Need to click button twice to update InputTextArea when EditForm's Model is bound to the same thing"
### Describe the bug
I wanted to have an InputTextArea, and a button that changes it. The InputTextArea needed to have an EditContext, so I put an EditForm around it with Model set to the same thing that the InputTextArea was bound to. If I type something in the box and my cursor remains in it, I had to click the button twice to update it. Maybe this wasn't the correct way to do it in the first pl

[2020-08-27 20:17] TanayParikh commented on #24047
Nope, first I'm seeing it.

[2020-08-27 20:24] TanayParikh opened #25327 "Do Find All References outside of Razor C# while enabling "experimental Razor editor", reference items are not aligned left"
**ACTUAL:**
The first reference item `Program.SomethingNew(); // Hello from Counter` starts with some spaces.
![image](https://user-images.githubusercontent.com/31497677/91038064-b9ed8a00-e63c-11ea-9cd1-351c0fb1f219.png)

**EXPECTED:**

![image](https://user-images.githubusercontent.com/31497677/91038084-c1ad2e80-e63c-11ea-9294-94fdb43a07ef.png)

[2020-08-27 20:45] javiercn commented on #22343
We looked at this a couple of weeks ago. We determined this is because B2C and MSAL.JS don't work well with anything that is not a "redirect" login, since the login flow tries to take you to the 3rd party provider to validate the login status.

This is something that we think has been fixed in msal.js 2.0 which switches to use code+PKCE. Unfortunately, there is no good way to achieve this with the

[2020-08-27 20:46] #25116 closed

[2020-08-27 20:47] pantoast commented on #25313
I will work on trying to get a repro project setup, however due to the fact that the issue has only been reproduced when deployed it could take some time to confirm that my repro project has the same issue. Thanks.

[2020-08-27 20:52] blowdart commented on #25171
This is probably best asked of the AAD folks.

I'd strongly suggest looking at swapping to I[dentity.Web](https://github.com/AzureAD/microsoft-identity-web/), the new way to interact with AD, which will come out of preview at the same time as we launch .NET 5, and will be in the .NET 5 templates.

[2020-08-27 21:00] #24462 closed

[2020-08-27 21:21] gb1337 commented on #19113
I'm having this problem too when deploying a Nuget I made, which includes razor components shipped as files (not compiled in a dll). Because the nuget files are included in the user project as links, VS goes nuts and throws exceptions telling me the razor files  are not descendents of the base path. I also ship a .cs file as part of this Nuget and this one works no problem.

[2020-08-27 21:35] mg1357 commented on #21514
Is Blazor server side part of .Net 5 and is it updated ?

[2020-08-27 21:39] davkean commented on #25305
@TehWardy We already detect conflicts of indirect dependencies via restore/build. However, this requires that packages declare their correct dependencies. One of these packages is not.

@dsplaisted How did you come to the conclusion? I don't really understand the packages or pieces in play here.

[2020-08-27 21:52] ghstahl opened #25328 "NavigationManager.Validate System.ArgumentException: The URI 'https://localhost:5001/BlazorHost/BlazorAppRealTime' is not contained by the base URI 'https://127.0.0.1.xip.io:5001/BlazorHost/BlazorAppRealTime/'."
I have a working Blazor WASM that I serve via asp.net core 3.1.

[code]
where my server url is ```https://localhost:5001```.
Given the same app I did an experiment by changing the above to the following;
[code]
After I got my CORS stuff sorted, all the blazor files came down and now I am getting the following error;
[code]
<img width="1285" alt="Annotation 2020-08-27 143837" src="https://user-imag

[2020-08-27 21:58] JunTaoLuo opened #25329 "Add caching of RBAC claims retrieved via LDAP"
Following up to https://github.com/dotnet/aspnetcore/issues/12938. The claims are currently retrieved on every request. These claims should be persisted via a cache.

[2020-08-27 22:31] mkArtakMSFT opened #25331 "New CTI test scenario for SignalR + Blazor WebAssembly E2E verification"
To avoid running into issues similar to [this one](https://github.com/dotnet/aspnetcore/issues/25259) we need to have some E2E validation in place. This issue is tracking the effort to onboard a new CTI validation scenario.

[2020-08-27 22:37] mkArtakMSFT opened #25332 "Enable PlatformCompatibilityAnalyzer for the repo"
The PlatformCompatibilityAnalyzer can warn developers when non-supported APIs are used. This would have allowed us to avoid https://github.com/dotnet/aspnetcore/issues/25259.

[2020-08-27 22:57] wtgodbe commented on #25086
Resolved by https://github.com/dotnet/aspnetcore/pull/25286

[2020-08-27 22:57] #25086 closed

[2020-08-27 23:02] pomeara commented on #13026
@SteveSandersonMS @Indrajith-Sync I have now worked around this problem and I used this as a way to find a work around / solution

https://github.com/dotnet/aspnetcore/blob/1ed72f8f5f14dfc5a4ebc9d5d116d63792caa7fc/src/Components/test/testassets/BasicTestApp/DispatchingComponent.razor

@Indrajith-Sync pop this component into a page and press the buttons and you'll see how the update cycle fails or

[2020-08-27 23:06] wtgodbe commented on #22853
Resolved by https://github.com/dotnet/aspnetcore/pull/25094

[2020-08-27 23:06] #22853 closed

[2020-08-27 23:11] TanayParikh opened #25333 "Revert Disable File Operation Based CodeActions in Liveshare/Codespaces"
This task tracks reverting https://github.com/dotnet/aspnetcore/issues/25128 once the underlying liveshare issue is resolved.

[2020-08-27 23:25] TanayParikh commented on #25333
VSTS Tracking Issue: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1179917

[2020-08-27 23:26] Pilchie commented on #24796
Tagging @blowdart.  Generally we patch VS so that the SDK and Runtime that it bundles contains the latest version.

[2020-08-27 23:32] blowdart commented on #24796
- @markusschaber / @amills157 We don't discuss details of what was patched as a matter of policy.
- @JF0001 VS carries a Core installer with it, so when Core is patched, the installer VS carries is patched, so it's listed. If you have VS installed you'll get an update for this, which will update the SDK version VS installs. If you've manually updated already then it doesn't matter. However we have

[2020-08-27 23:44] dsplaisted commented on #25315
It looks like this is a bug in dotnet/sdk.  We are investigating.

[2020-08-27 23:45] #25327 closed

[2020-08-28 00:07] NTaylorMullen commented on #24126
Note: Roslyn's implementation of this will be in a private build of VS for 16.8-Preview4.

Reach out to @dibarbet and he can point you to the right folks or to the build if needed.

[2020-08-28 00:09] bignorm64 commented on #24300
@SteveSandersonMS

I am having this issue in preview 8 and tried the above suggestion without the '.razor' bit but it made no difference however after doing a bit of searching on UpToDateCheckInput I found an issue that said unless an 'input' also had an 'output' then including a file had no effect so I changed the 'Build action' of the CSS file to 'Content' and then it worked.

[2020-08-28 01:16] Tratcher opened #25335 "Negotiate reflection performance improvements"
Feedback from @mconnew:

I was looking over your reflected abstraction of the negotiate code ... and noticed a significant performance problem in the code. There is lots of code which looks similar to this:

        public bool IsCompleted
        {
            get => (bool)_isCompleted.Invoke(_instance, Array.Empty<object>());
        }

The problem with calling the Invoke method on an MethodInfo

[2020-08-28 01:22] dighexode commented on #24428
@jkotalik We don't know why 'An ISAPI reported an unhealthy condition to its worker process.' is being reported.
For now, what we knew is: after hosting changed the application physical path to \\servername instead of \\servername.domainname.inet at 8/19, we never got restarting issue anymore.
Hosting says it is caused by VMWare's FQDN(Fully Qualified Domain Name) issue. Because every time they fo

[2020-08-28 01:24] ataraxia89 opened #25336 "Passing arguments to onclick"
I'm trying to call a method from an onclick but all the suggestions I've tried online haven't worked. The most popular one is:

[code]

...where ShowEditPersonDialog is:

[code]

...however the onclick code throws the compiler error:

[code]

[2020-08-28 02:15] BrunoBlanes commented on #24126
So @dibarbet, hypothetically, if someone like me would want to try said internal build, just for fun and feedback of course, would it be possible?

[2020-08-28 02:18] terrajobst opened #25337 "Blazor.Shared projects should be marked as wanting to support 'browser'"
This applies to the Blazor template that creates Blazor.Server, Blazor.Client, and Blazor.Shared. Blazor.Client uses the Microsoft.NET.Sdk.BlazorWebAssembly and is automatically marked as supporting `browser`. However, Blazor.Shared is a regular .NET 5 class library which by default assumes that `browser` isn't supported, thus not generating warnings for APIs unsupported in the browser sandbox.

#

[2020-08-28 04:39] bartonjs commented on #7246
As far as I'm aware.

If you've built it locally (since it hasn't released yet) double check that your version is actually getting loaded.  Local builds tend to end up in /usr/local/lib/ which has (IIRC) lower binding than the system library path.  So you'd need to use LD_PRELOAD to pre-load both libssl.so.11 and libcrypto.so.11 from your OpenSSL 1.1.1h build (or install the libraries to the norma

[2020-08-28 04:54] markusschaber commented on #24796
So your policy forces every ASP.NET Core user to upgrade with high priority, whether they're affected or not. :-(

[2020-08-28 04:58] HaoZhiYing opened #25340 "@inject in vscode"
@Inject not recognized

[2020-08-28 05:15] jkotalik commented on #24428
I'm still leaning on the ISAPI reporting issues due to Out Of Memory constraints. Are you able to monitor the amount of memory the machine is currently using? Like disk space utilization?

[2020-08-28 05:50] jiangzeng01 opened #25342 "System.ObjectDisposedException: Cannot write to the response body, the response has completed"
**Application Name:** Blazor-Blogs
**OS:** Windows 10 19H1
**CPU:** X64
**.NET Build Number:** 5.0.100-rc.1.20425.5-win-x64
**App Location:** On repro machine, at C:\Users\Appcompat\Documents\Blazor-Blogs
**App Source:** On repro machine, at C:\Users\Appcompat\Documents\Blazor-BlogsSource
**App Source on GitHub link:** https://github.com/ADefWebserver/Blazor-Blogs (this source is new, we test old

[2020-08-28 06:13] shahinjabbar opened #25343 "409 status code"
I am getting a 409 status code when using HttpClient.GetStreamAsync.This is an exception from HttpClient.GetStreamAsync()
[code]
and this is my actual code

[code]

[2020-08-28 06:39] dsplaisted commented on #25305
I think I have seen issues in the past specific to Azure functions caused by things they were doing like pinning to a specific version of NewtonSoft.Json, or customizing how assemblies are loaded.  I don't remember the details.  It's also possible that this could be an incorrectly authored package, but to me it felt like it might be something specific to Azure Functions.

[2020-08-28 07:45] clystian commented on #18201
+1

[2020-08-28 08:00] TehWardy commented on #25305
You may be right you can see from the ticket above that my work with @brettsam has resulted in us coming to a conclusion that there is a reproducable problem that does appear to be an only Azure Functions problem (i even provided a repro project and pushed it to git.

I raised this ticket because I'd like some tooling on my client that lets me identify when packages that I depend on have conflicti

[2020-08-28 08:08] davkean commented on #25305
This command is that context for issues:

[code]

This produces a file that can be opened in: https://msbuildlog.com/. That is the first thing I did with your repro and helped me understand the packages and their dependencies.

We do have features to catch incompatibilities but it does require that packages to correctly specify their dependencies. TBH, I don't understand the problem well enough to

[2020-08-28 08:25] julienGrd commented on #25236
@captainsafia thanks it finally works by putting event.stopImmediatePropagation(); in the event.

[code]

subject is closed !

[2020-08-28 08:25] #25236 closed

[2020-08-28 09:05] disklosr commented on #19485
@Gaurav-Puri101187  unfortunately I was too optimistic about making a PR, but couldn't do it due to lack of time.
I'm not sure I understand your question. Can't you use Newtonsoft as a workaround?

[2020-08-28 09:31] Varorbc commented on #24645
@javiercn today the issue appeared again, it should not be caused by the issue I said last time I guess.please give me some suggestions that I can investigate this issue myself? thank you

[2020-08-28 10:42] SteveSandersonMS commented on #25337
Sounds right to me. I don't know whether this will be done for RC1 or RC2. Removing the milestone so this will show up in our triage meeting.

[2020-08-28 11:36] TehWardy commented on #25305
Can we get that info in to VS as a project context menu option ?

[2020-08-28 11:38] Tratcher commented on #25343
That would indicate a problem at the destination server. You should check the response body to see if the server provided any deals. You should also check the server logs if you have access to them.

Is the destination an AspNetCore server?

[2020-08-28 11:38] davkean commented on #25305
This is an extension that provides it: https://marketplace.visualstudio.com/items?itemName=VisualStudioProductTeam.ProjectSystemTools. But we are thinking about providing it the box.

[2020-08-28 11:47] shahinjabbar opened #25345 "backgroundservice starts multiple times"
I have backgroundservice on asp.net core 2.1 webapi project. I am logging StartAsync and I saw that StartAsync starts multiple times during service work.

I am using backgroundservice template from https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/hosted-services?view=aspnetcore-3.1&tabs=visual-studio. And I injected it in Startup.cs as services.AddHostedService<T>(); I wrote log when

[2020-08-28 12:04] Liero opened #25346 "Blazor Feature Request: Support for Pipes"
Original fetaure request: #12389

The difference with existing extension method is, that (pure) pipes are not reevaluated if the input does not change. In some cases it can be huge performance boost. Take a pipe that sorts an array as an example.

Pipe also creates an instance which can have it's own state, unlike C#'s extension methods.

[2020-08-28 12:17] Liero commented on #5607
@didii:

What about?

<MyComponent @MyDirective(option1, option2)>
<MyComponent @MyDirective="(option1, option2)">

[2020-08-28 12:24] JF0001 commented on #24796
Thank you for the clarification. Sorry for the duplicate question.
J

[2020-08-28 13:40] ylr-research commented on #24100
Just following up. Is there any news about this issue?

[2020-08-28 13:40] ylr-research commented on #24139
Just following up. Is there any news about this issue?

[2020-08-28 13:41] Tratcher commented on #25345
Can you share the logs and relevant code?

Some possibilities:
- the whole site is restarting
- you've enabled web garden mode and started multiple instances of your site.
- you've registered your service multiple times.

[2020-08-28 14:05] FrankCastle666 commented on #18201
+1

[2020-08-28 14:11] javiercn opened #25348 "[Blazor] [Regression] DatabaseErrorPageFilter update caused a regression in the Blazor templates"
# Description
We updated the templates to skip using the database error page middleware and instead use the developer exception page middleware with an exception filter cfe158cbed7483e8ab931e4cf47d578ba6c7170d. It seems that the templates were not updated/manually verified and as a result of that the templates are broken.

Upon including `services.AddDatabaseDeveloperPageExceptionFilter();` there

[2020-08-28 15:06] egorpavlikhin commented on #6104
We have logic tied to the list of currently active connections within a given Hub, which cannot be ported to .Net core and therefore the whole project has to remain on the full framework, due to this breaking change. In previous version ` heartBeat.GetConnections()` used to work, but it doesn't exist any more.

[2020-08-28 15:18] jfalameda opened #27315 "Getting ´A non-empty request body is required.´after upgrading to 3.1"
I get an 'A non-empty request body is required.' error on a GET endpoint after upgrading to 3.1. I cannot seem to be able to identify why is it trying to read the body, specifically given it is a GET endpoint. No [FromBody] attributes are used on that endpoint, neither any filter is trying to access the body.

This is the endpoint definition

[code]
Below the debug traces for the endpoint:

[code]

[2020-08-28 15:22] jkone27 opened #25351 "OpenApiReference add support for yaml"
### openapi client generation via csproj
the current openapi generation experience via **OpenApiReference** is very nice, thought it could be extended to support also **yaml** file (as using nswag): https://github.com/RicoSuter/NSwag/wiki/YAML-support

assuming that the feature works with C# source generators as it generates types in /obj folder as partial classes,
i guess it should be possible to

[2020-08-28 15:34] micka190 commented on #7246
No dice, sadly.

I've installed the OpenSSL 1.1.1-stable version from the OpenSSL GitHub repo, following their instructions:

[code]

Running the `/usr/bin/openssl version -a` command yields the following output:

[code]

Which indicates that the file is still the old one.

Running the `/usr/local/bin/openssl version -a` command yields the following output:

[code]

So that's where it got installe

[2020-08-28 15:44] SteveSandersonMS commented on #25267
Fixed in https://github.com/dotnet/aspnetcore/pull/25307

[2020-08-28 15:44] #25267 closed

[2020-08-28 15:45] SteveSandersonMS commented on #25268
Fixed in https://github.com/dotnet/aspnetcore/pull/25270

[2020-08-28 15:45] #25268 closed

[2020-08-28 15:56] MarcoTheFirst commented on #13601
For anyone interested, here's a working sample. Demo-user: test@test.com / pw: Test.123

The customized parts are:

- **App.razor**: Added RedirectToLogin component
- **_Imports.razor:** Added global [Authorize] attribute to protect pages by default
- **Folder IdentityUtils** : Contains the required middleware and a small model to handle login procedure
- **Startup.cs**: Registering of middleware

[2020-08-28 15:59] mkArtakMSFT opened #25352 "[WIP] Resolve accessibility test failures in SPA project templates"
**This issue will split into multiple - per each template area.**

CTI has reported a set of accessibility failures related to our default templates.:

## Angular Project Template failures
- [ ] [Bug 1162883: A11y_.NETCoreJuly2020_ASP.Net Core_Manageyouraccountprofile_AI4W: Heading levels assigned to the text content not in proper sequence.](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1

[2020-08-28 16:01] #25302 closed

[2020-08-28 16:03] #25266 closed

[2020-08-28 16:03] javiercn opened #25353 "[Templates] Blazor-server with Identity is broken"
This is an issue with the template. The fix would be to use a different set of _LoginPartial files, one for OrgAuth and for IndividualAuth similar to  the Razor Pages template: https://github.com/dotnet/aspnetcore/blob/master/src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Pages/Shared/_LoginPartial.OrgAuth.cshtml.

We'll be addressing this for rc1. In the meanwhile, you can

[2020-08-28 16:07] #24657 closed

[2020-08-28 16:20] mkArtakMSFT opened #25354 "Document how to integrate static files provider with Blazor Server"
This is important to avoid issues like https://github.com/dotnet/aspnetcore/issues/25312

[2020-08-28 16:38] pranavkm opened #25355 "JSObjectReference API review"
* Create interfaces `IJSObjectReference` and `IJSInProcessObjectReference`
* Make `JSObjectReference` and `JSInProcessObjectReference` internal
* Update `IJSObjectReference` and `IJSInProcessObjectReference` to have the same set of extension methods as `IJSRuntime` and `IJSInProcessRuntime`.
* Remove protected static JSCallResultType ResultTypeFromGeneric<TResult>() and make it internal or use sha

[2020-08-28 16:39] #22432 closed

[2020-08-28 16:41] mkArtakMSFT opened #25356 "Document patters for perf-optimal Blazor apps"
There has been a lot of work done to improve Blazor performance as part of https://github.com/dotnet/aspnetcore/issues/22432
As a result, we want to document patterns and best practices to use when writing Blazor apps.

[2020-08-28 16:58] mkArtakMSFT commented on #21547
https://github.com/dotnet/aspnetcore/pull/24478

[2020-08-28 17:02] Gopichandar commented on #4707
Ok, I'm started reading this thread an hour ago and Im hear at the end yet to get solution.   What is the solution now for .NEt 3.1, Im having same issue

[2020-08-28 17:04] vsfeedback opened #25357 "Razor editor "Comment Selection" uses markup not C# comments in code section"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1165588/razor-editor-comment-selection-uses-markup-not-c-c.html)._

---
[severity:I'm somewhat annoyed. A fix would be nice]
VS2019 version 16.8.0 Preview 2 with Razor Editor Preview enabled

Selecting a code section of a .razor file and selecting Ctrl-K-Ctrl-C (Edit / Adva

[2020-08-28 17:08] davidfowl commented on #4707
It's because the issue has turned into lots of different issues 😄. There's no repro for this issue and it depends on the environment and client speed (at least the original issue does). We know there's an issue somewhere but it's not clean how we make progress with the information provided here.

[2020-08-28 17:09] vsfeedback opened #25358 "Memory Cache Concurrency Error [TagHelperDescriptorJsonConverter]"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1163909/unfortunatly-a-process-used-by-visual-has-encounte.html)._

---
[severity:I'm somewhat annoyed. A fix would be nice] [regression] [worked-in:VS2019 Pro 16.7.2]
Yellow bar error on solution first load.

Exact source for colution loaded is available here
<https://gith

[2020-08-28 17:15] volaru77 opened #25359 "Currency format specifier "C" behaves differently in .NET 5.0.100-preview.8.20417.9"
### Describe the bug
Formatting a number with the "C" format specifier has changed, instead of using the CurrencySymbol value it is using the ISOCurrencySymbol value (i.e. for the "en-CA" culture CAD250,000 instead of $250,000).

This was observed in a blazor-wasm project.

### To Reproduce

### Exceptions (if any)

### Further technical details
.NET SDK (reflecting any global.json):
 Version:   5

[2020-08-28 17:19] kenyeung128 commented on #4707
@Gopichandar I came across this and solved the issue as follow

- refractor most methods using await + async Task method() pattern

 seems the root cause in our case caused by all CPU being used for waiting task to finish, and this causes the exception with BadHttpRequestException: Reading the request body timed out due to data arriving too slowly

[2020-08-28 17:22] drewmperkins commented on #3793
@CJHarmath - I did give this a try, and have the modified code I'm using below.  Works very well, Thanks!

If I published updates more I might consider a client deploy tool, but really I can just remote shell into the IIS server and execute the powershell script to flip it.

`# Must run as admin
Import-Module WebAdministration
# create 2 site root directories
$a = 'C:\Websites\MySiteA'
$b = 'C:\We

[2020-08-28 17:27] vsfeedback opened #25360 "System.Text.Json.JsonSerializer.Deserialize crashes when parsing large string using Blazor"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1163083/systemtextjsonjsonserializerdeserialize-crashes-wh.html)._

---
[severity:Other] [regression] [worked-in:somewhere before 16.7.1]
Using Blazor/Wasm (3.2.0) and trying to parse a large json-string (135123600 chars) loaded from a file on my local windows machine, Syst

[2020-08-28 17:27] NTaylorMullen commented on #25360
@mkArtakMSFT could you label/assign this appropriately.

[2020-08-28 17:29] NTaylorMullen commented on #25358
Another VSTS issue of it: https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1180064

[2020-08-28 17:30] NTaylorMullen commented on #25358
Another VSTS issue: https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1179991

We may need to fix this in Preview3

[2020-08-28 17:32] NTaylorMullen commented on #25358
Another VSTS issue: https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1179892

Ya we do. moving to Previwe3. @TanayParikh I know that your plate is full unassigning

[2020-08-28 17:35] vsfeedback opened #25361 "Null ref when using new experimental LSP based Razor editor"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1161102/null-ref-when-using-new-experimental-lsp-based-raz.html)._

---
[severity:I'm frustrated, but able to complete my work]
Microsoft Visual Studio Enterprise 2019 Int Preview
Version 16.8.0 Preview 3.0 [30421.15.main]
VisualStudio.16.IntPreview/16.8.0-pre.3.0+30421.15.

[2020-08-28 17:39] vsfeedback opened #25363 "Upgrading from Net Core 3.1 to NET 5 Preview 7 Microsoft.Extensions.Hosting error"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1145839/upgrading-from-net-core-31-to-net-5-preview-7-micr.html)._

---
[severity:Other]
When I upgraded a test solution to NET 5 Preview 7,
at compiler time an error occurs, event without any reference to the assembly.

Even if this error the compiled app runs just fine.

[2020-08-28 17:40] mkArtakMSFT commented on #25363
Thanks for contacting us. It looks like you haven't properly migrated your app and have incorrect dependencies in your dependency graph. Please review all the dependencies and make sure they all target .NET 5.

[2020-08-28 17:40] #25363 closed

[2020-08-28 17:42] vsfeedback opened #25364 "deploying an angular project to iis"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1159264/deploying-an-angular-project-to-iis.html)._

---
I have an angular 8 project that will not publish to iis.   I am using webdev.   The npm install works.  The npm build "--prod" throws an error

Browserslist: caniuse-lite is outdated. Please run next command `npm upd

[2020-08-28 17:43] mkArtakMSFT commented on #25364
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-08-28 17:47] chsienki opened #25365 "Razor component discovery should use 'SkipAnalyzers'"
In #25292 the component discovery CSC pass was modified to pass analyzers, as Source generators are now included and removing them can cause builds to fail.

The warning level was also set to 0 in order to hide duplicate warnings. This means that analyzers, which can only emit diagnostics, are running but won't have any functional change on the build. In dotnet/roslyn#46669 we introduced a new par

[2020-08-28 17:49] TanayParikh commented on #25361
This doesn't appear to be us, but rather LSP platform:
[code]

Re-routing at source.

[2020-08-28 17:49] #25361 closed

[2020-08-28 17:56] velocitytoo opened #25366 "Blazor CascadingParameter design has multiple flaws"
The Blazor CascadingParameter design has multiple flaws:

A child component has to know that its parameter will be used in a cascading manner and has to decorate the parameter with [CascadingParameter]. Why not just come up with a design so that a child component does not have to know whether or not it will be used in a cascading manner? This would be a much better SOC design; only the parent shou

[2020-08-28 17:59] benaadams commented on #25360
Is the property starting with `r` at line 63547 in quotes?

[2020-08-28 18:04] rsoulard opened #25368 "Add support for unique phone numbers, find user by phone number in Identity"
I am trying to allow users to use a phone number for authentication. This would be made easier if I was able to:

1. Require unique phone numbers.

1. Find users by their phone numbers.

### Describe the solution you'd like
I would like for there to be an addition property added to [`UserOptions`](https://github.com/dotnet/aspnetcore/blob/bfec2c14be1e65f7dd361a43950d4c848ad0cd35/src/Identity/Exten

[2020-08-28 18:10] #24265 closed

[2020-08-28 18:10] pranavkm commented on #24244
Resolved as part of https://github.com/dotnet/aspnetcore/pull/25218

[2020-08-28 18:10] #24244 closed

[2020-08-28 18:22] kemmis commented on #17277
FWIW, I was able to fix this in my project by forking my own copy of the Microsoft.AspNetCore.SpaServices.Extensions project (from the 2.1 release branch), and then dropping in the internal EventedStreamReader class from the .net 5 release branch. This seems to solve the problem where it never sees the line saying "open your browser...".

[2020-08-28 18:26] #19827 closed

[2020-08-28 18:26] #25258 closed

[2020-08-28 18:40] mkArtakMSFT commented on #24807
That one is owned by @rynowak. I've asked him to transfer the ownership, but he's away at the moment. Will fix the link as soon as the ownership is fixed.

[2020-08-28 18:44] javiercn commented on #25366
@velocitytoo thanks for contacting us.

It is unlikely that we will change the design of cascading parameters. That would be a massive breaking change, but let me answer some of your comments to hopefully explain our rationale.

A child component has to know that its parameter will be used in a cascading manner and has to decorate the parameter with [CascadingParameter]. Why not just come up with

[2020-08-28 18:44] rcsprakash opened #25369 "Unable to load shared library 'User32.dll' in aks container"
Hi,
Facing this issue when we use System.Drawing library in AKS container running on linux.
System.DllNotFoundException: Unable to load shared library 'User32.dll' or one of its dependencies. In order to help diagnose loading problems, consider setting the LD_DEBUG environment variable: libUser32.dll: cannot open shared object file: No such file or directory.
Application developed in .netcore

Bel

[2020-08-28 18:58] mkArtakMSFT commented on #12748
This is now complete. Follow-up items which came out from the test pass are reported:
- https://github.com/dotnet/aspnetcore/issues/25352

[2020-08-28 18:58] #12748 closed

[2020-08-28 19:02] HaoK commented on #21116
@dotnet/aspnet-api-review can we review this at the next API meeting?

[2020-08-28 19:03] mkArtakMSFT commented on #17472
Given that we now have the Focus() support for ElementReference, we shouldn't do this any more.

[2020-08-28 19:03] #17472 closed

[2020-08-28 19:06] ajaybhargavb commented on #21978
Roslyn PR to support this, https://github.com/dotnet/roslyn/pull/47104

[2020-08-28 19:39] erikthysell commented on #25360
No, not at all. Every time it reports something that is not there.

[2020-08-28 19:47] erikthysell commented on #25360
Row # 63547 (first row =1) is an "ID" property and row 63547 (first row =0) is a "DateTime" property.
It reaches different positions each run, with same kind of error but always incorrect info about whats on that row.

[2020-08-28 19:52] erikthysell commented on #25360
It is just an array of instances all with the same properties as shown above.

[2020-08-28 19:58] blowdart commented on #24796
@markusschaber This isn't new, is a Microsoft wide policy, and is unlikely to change.

If there was a small footprint of code  affected , and we were 100% certain there were no other exploit routesyou'd see that in known mitigations which would state something like "If you are not using X then you are not affected".

[2020-08-28 20:18] dibarbet commented on #24126
@BrunoBlanes the internal build is just the first step - @ryanbrandenburg will have to implement the razor functionality on top of it.  Unfortunately that VS build will not be available publicly :(.  I think the only way to try it out at that point would be to manually checkout and build the VS extensions from the appropriate roslyn and aspnet branches.

Once I know the roslyn branch it will be la

[2020-08-28 20:40] wfurt commented on #7246
can you check `/proc/<PID>/maps` just to be sure? The .Net really does not care about the `openssl` executable. You can leave it as is. I would set `LD_LIBRARY_PATH=/usr/local/lib` to avoid interactions between preload and dlopen.

Also the loader would honor CLR_OPENSSL_VERSION_OVERRIDE environment. To be sure you can readme the libraries (or create symlink to something like libcrypto.so.1.1.my a

[2020-08-28 20:49] arshia11d commented on #24916
I just had a similar problem
[code]

It seems Blazor's `@bind` attribute can not listen to the events dynamically.

It is a major problem, as it causes incompatibility with custom elements e.g. the new [fluent's web components](https://github.com/microsoft/fluentui/tree/master/packages/web-components) do not work in Blazor properly.

[2020-08-28 20:53] CincySteve commented on #25195
@mkArtakMSFT I appreciate the suggestion to use the Element tab in dev tools and have been doing that to understand what my code is rendering.  But unless I am not seeing how to use it efficiently (certainly a real possibility despite having played with the Chrome Settings and using it a fair amount to look at my rendered html), I find it is tedious to have to expand the <app> tag down to the html

[2020-08-28 20:54] mkArtakMSFT commented on #21514
Yes, it's part of .NET 5 and it's getting all the component-model updates.

[2020-08-28 20:56] ghstahl opened #25375 "GetExternalLoginInfoAsync is null when called from ExternalLoginModel.OnGetCallbackAsync - IFrames involved."
Goal: Perform a silent login using a hidden iframe to google.
Result: I can achieve this by passing prompt=none to google which then doesn't x-frame-options=deny me.
All Good when I run the app normally and I route to ``` https://localhost:5001/Plugin ``` and ``` https://127.0.0.1.xip.io:5001/Plugin ```

My Plugin Page has my hidden iFrame.

[code]

Ok, now put the entire app in an iFrame and try

[2020-08-28 20:57] billknye commented on #25259
Trying for a workaround:
So if you create an instance of `HttpConnectionOptions` without calling the constructor (and building up the properties yourself) and add it to the builder.Services collection as an `IOptions<>` this almost works except the `HttpConnectionFactory` calls the constructor on it to clone it.  If you make your own implementation of `IConnectionFactory` and use that without call

[2020-08-28 21:05] pranavkm commented on #21406
Tried this with the 5.0 SDK and this appears to no longer be an issue. Satellite resources for the shared project appear both in the _framework dir and the publish root directory.

[2020-08-28 21:05] #21406 closed

[2020-08-28 21:07] mkArtakMSFT commented on #25348
@JunTaoLuo can you please handle this as this is a follow-up from the initial change you've handled? Thanks!

[2020-08-28 21:09] CuddleBunny commented on #24916
@arshia11d for custom elements you need to specific an event. Try:

[code]

[2020-08-28 21:09] guardrex commented on #25354
I think what we did covers it ...

* File content type provider in Blazor Server - https://github.com/dotnet/AspNetCore.Docs/pull/19483
* https://docs.microsoft.com/aspnet/core/blazor/fundamentals/additional-scenarios#static-files

[2020-08-28 21:22] micka190 commented on #7246
I'm guessing you mean the `dotnet` results from `ps -A`? If I look in them using `less`, I can see that they seem to interact with `/usr/local/lib/libcrypto.so.1.1` and `/usr/local/lib/libssl.so.1.1`, which *should* be the 1.1.1h install.

I've tried exporting this environment variable (both with and without LD_PRELOAD being exported), and it doesn't seem to change anything. Same thing with creati

[2020-08-28 21:25] blowdart commented on #25368
This has been requested before, but it's rare enough for it to be an edge case, and not something we're going to consider I'm afraid.

[2020-08-28 21:25] #25368 closed

[2020-08-28 21:27] blowdart commented on #25375
Because google messed with same site for privacy reasons. I assume this is in chrome? Is there any errors in the log files?

[2020-08-28 21:30] mrlife opened #25377 "Blazor - Order that form elements are changed affects value returned from overwritten component parameter"
### Describe the bug
I have a `<select>` element in a component called `MySelect`. In an `EditForm` I have `MySelect` and an `InputTextArea`.

`MySelect` has a `Parameter` called `SelectedValue` that receives the selected value, if there is one. An `@onchange` on the `<select>` assigns the new value to the `SelectedValue` `Parameter`.

The `MySelect` in the form has an `@ref` on it called `MySelec

[2020-08-28 21:33] shirhatti commented on #25273
The `ASPNETCORE_URLS` environment isn't legacy or obsoleted. The precedence is direct kestrel config (via code) >> generic host config (`DOTNET_URLS`) >> web host config (`ASPNETCORE_URLS`) >> command line >> `launchsettings.json`

[2020-08-28 21:34] shirhatti commented on #25273
`launchSettings.json` can override any of these environment variables

[2020-08-28 21:36] shirhatti commented on #25273
Let's revisit in 6.0 since we see how this can be confusing 😄

[2020-08-28 22:01] Pilchie commented on #24347
Working on a few of these today.

[2020-08-28 22:06] ghstahl commented on #25375
This is my beloved Edge.  I don't think its google, because I am getting a signin-google post back just fine.    Also, I have other OIDC idps ( "authority": "https://demo.identityserver.io/") as well as and azure-ad and they all give me the same problem.

I turned on "DEBUG"
[code]

[2020-08-28 22:12] wfurt commented on #7246
The question is if you see any other copy of libel or libcrypto. If not, than the .NET is running against the version you built.
If you build is right that would suggest that the 1.1.1h did not resolve your issue @micka190

[2020-08-28 22:19] zbecknell opened #25380 "Blazor Wasm: debugging broken when referencing @attribute with enum contructor argument"
This is reviving #22657, which was closed as a duplicate of another ticket, but in fact was not a dupe of that issue.

Here's a simple repro project: https://github.com/zbecknell/Undebuggable

See [Counter.razor:4](https://github.com/zbecknell/Undebuggable/blob/13b63a8d42f696cc25016020be9a7206be63bfd9/UndebuggableBlazor/Pages/Counter.razor#L4) for the line that breaks debugging for the project.  T

[2020-08-28 22:21] micka190 commented on #7246
Yeah, using grep to find all instances of `libcrypto` and `libssl` just gives me a list of calls to `/usr/local/lib/libcrypto.so.1.1` and `/usr/local/lib/libssl.so.1.1`, which are the 1.1.1h ones.

Looks like I may have an issue unrelated to OpenSSL 1.1.1h... :disappointed:

[2020-08-28 22:28] wfurt commented on #7246
What is your issue @micka190? Can you post certificate and repro here (or create separate repo)
Do you have control over the cert creation? There is trivial workaround AFAIK by setting proper flags.

Also note the : `OPENSSLDIR: "/usr/local/ssl"`
Your version will probably look for trusted CAs in different directory and update-ca will not work if you want to add trust for your self-signet cert.

[2020-08-28 22:44] mkArtakMSFT commented on #24526
Thanks for taking care of this, @chsienki!

[2020-08-28 22:44] #24526 closed

[2020-08-28 22:51] TanayParikh commented on #24778
Blocked on: https://github.com/dotnet/aspnetcore/issues/25250

Prioritizing that and other tasks, pushing this to preview 4.

[2020-08-28 22:51] TehWardy commented on #25305
neat i'll give it a whirl :)

[2020-08-28 22:52] TanayParikh commented on #18173
Blocked on: https://github.com/dotnet/aspnetcore/issues/25250

Prioritizing that and other tasks, pushing this to preview 4.

[2020-08-28 22:54] dougbu commented on #24347
Thanks @Pilchie❕

[2020-08-28 22:55] TanayParikh commented on #24779
The C# specific lighbulbs are blocked on [No Inline C# Diagnostic, Limited Errors](https://github.com/dotnet/aspnetcore/issues/25250). Currently working on a fix for that. Also, prioritized [Disable File Operation Based CodeActions in Liveshare/Codespaces](https://github.com/dotnet/aspnetcore/issues/25128) as it was a ship blocker.

Moving this to Preview 4.

[2020-08-28 22:57] micka190 commented on #7246
@wfurt, Essentially: we're trying to get a Blazor app going, but we need authentication for our API. So we're going through the Identity Server 4 documentation to get us started. Or at least we're trying to. We can't get past [the first sample](https://identityserver4.readthedocs.io/en/latest/quickstarts/1_client_credentials.html#), because of issues with SSL. Running it on Windows works fine, but

[2020-08-28 23:00] dougbu commented on #24347
One note I forgot: src\Mvc\Mvc.Abstractions\src\PublicAPI.Shipped.txt contains the single line
[code]
This may be incorrect in projects where #5680 hasn't been done. I'm not positive about this but recommend seeing if correct files are generated in such a project and, if necessary, starting with a completely empty file instead (where appropriate). Please let us know the results here😺

[2020-08-28 23:00] TanayParikh commented on #25358
Just renaming for clarity.

[2020-08-28 23:09] wfurt commented on #7246
And this you make the cert trusted? Does it work when you run `curl -v https://XXX/`
Also you can always write simple console app with HttpClient. If you use 5.0 for that, it should have somewhat better error reporting on handshake failures.

Can you also check the certificate has the KeyUssage mentioned above?
You can always use your own certificate instead of the default.

[2020-08-28 23:16] Tratcher opened #25384 "Create HTTPS test fixture for IIS"
https://github.com/dotnet/aspnetcore/pull/25381#discussion_r479561375

There are several HTTPs tests in IIS that don't require any other special config, especially the HTTP/2 tests. Today each test creates its own IIS Express deployment and tears it down afterwards, costing about 2.5 seconds each. These tests could run a lot faster and more reliably if they shared a single test fixture like many o

[2020-08-28 23:18] arshia11d commented on #24916
@CuddleBunny Thanks
Yes, the event mapping must be explicit for custom components, and it works just fine.

**I just found out what my problem was. It seems that changing `value` attribute is not mapped to the  `value` property of the component.**

In Web Components, it is common to map public primitive properties like `value` to an HTML-attribute by setting a `static attributes` getter in the com

[2020-08-28 23:32] #25128 closed

[2020-08-28 23:33] GoldenCrystal opened #25385 "ProducesAttribute hides HTTP 404 / behavior is counterintuitive"
### Describe the bug

I filled this issue as a bug because the behavior I initially encoutered seems to clearly be a bug, but I more generally wanted to open a discussion on the actual behaviour of `ProducesAttribute`, which I found confusing compared to `ConsumesAttribute`.

#### The "actual bug"

This is what triggered my investigation into the behavior of the attribute ands its sibling `Consume

[2020-08-28 23:50] #25358 closed

[2020-08-28 23:56] Tratcher commented on #25375
Can you show the raw request trace for /Identity/Account/ExternalLogin? Did it even send the cookie? It's an awfully big cookie.

[2020-08-29 00:19] NTaylorMullen commented on #24047
@TomaszGrzmilas we just fixed the memory cache issue which should ship in 16.8-Preview3. Aside from that exception is your experience still broken?

[2020-08-29 01:38] micka190 commented on #7246
I stepped out of the office for today. I did try it with `curl`, and I was getting security errors related to SSL (don't remember the exact wording), but I seem to recall that it was about self-signed certificates. I'll verify the exact output on Monday. I'll also take a look at using the 5.0 preview SDK with HttpClient to see if I can't narrow down the cause a bit more and check the KeyUsage.

I

[2020-08-29 05:04] umlaufa1 opened #25391 "Support for extraQueryParameters in Blazor WASM / MSAL"
**Issue**
I would like to pass a query parameter to a B2C user flow when authenticating my Blazor client app. The query parameter could be used, for example, to change the content on the login screen or lots of other useful things

B2C supports this through their IdentityExperienceFramework. Specifically, you can add the following to your user flow:

[code]
MSAL also supports extra parameters usin

[2020-08-29 05:44] #25275 closed

[2020-08-29 06:56] mrpmorris commented on #17472
Having Focus makes it a little bit less work, but it will still be too much work. For example, writing a page with a tab control on it would be a hassle.

When you can just add autofocus, then we are more compliant with html, and it is no work at all.

Personally, I wrote a component to do this, but that's not a good experience for a new user.

[2020-08-29 07:38] JunTaoLuo commented on #25293
Another example https://dev.azure.com/dnceng/public/_build/results?buildId=792496&view=results

[2020-08-29 07:44] JunTaoLuo opened #25394 "ANCM build race"
Failure: https://dev.azure.com/dnceng/public/_build/results?buildId=793199&view=results

Log message:
[code]

Any idea what could be causing this @jkotalik ? From a quick look it looks like there's a race in the ANCM build.

[2020-08-29 07:52] JunTaoLuo opened #25395 "SignalR HeadlessChrome test failure"
Failure: https://dev.azure.com/dnceng/public/_build/results?buildId=790798&view=results

Logs:
[code]

This failure seems transient. We need to quarantine the flaky tests or fix them.

[2020-08-29 08:01] SIkebe commented on #24908
@wu-yafeng Thanks! That worked for me, too.

[2020-08-29 08:20] JunTaoLuo commented on #25395
Another failure: https://dev.azure.com/dnceng/internal/_build/results?buildId=791595&view=results this time it's a timeout.

[2020-08-29 08:36] JunTaoLuo opened #25396 "Razor testassets restore race"
Failure: https://dev.azure.com/dnceng/internal/_build/results?buildId=790800&view=results

Logs:
[code]

cc @mkArtakMSFT  to assign for investigation

[2020-08-29 08:49] #22219 closed

[2020-08-29 08:50] JunTaoLuo opened #25397 "Helix daily test failing during build"
Failure: https://dev.azure.com/dnceng/public/_build/results?buildId=793118&view=results

Log:
[code]

Needs investigation.

[2020-08-29 11:13] tonibabieka opened #25398 "Blazor Wasm RemoteAuthenticatorView does not redirect to an external LogOutSucceededPath"
In a Blazor webassembly client application I changed the default LogOutSucceededPath Url to a regular server login razor page, "/Account/LogIn" and it is not redirected to it, the correct url "https://localhost:5001/Account/Login is displayed in the browser Address Bar but the RemoteAuthenticatorView is still the displayed page.

### Further technical details
- NET 5 Sdk - Preview 8
- Microsoft Vi

[2020-08-29 12:39] ghstahl commented on #25375
[test app](https://github.com/fluffy-bunny/asp.net-inmemory-identity-template).
[har files](https://github.com/dotnet/aspnetcore/files/5145197/asp.net-inmemory-identity-template.zip)

What I can tell between the 2
```https://localhost:7001/plugin```
vs
```https://localhost:7001/IFrameHost/Plugin``` (hosts https://127.0.0.1.xip.io:7001/plugin in an iframe)

#  Working no IFrame
The ```https://local

[2020-08-29 13:44] CincySteve opened #25400 "Exception Thrown by OnInput Event in a Table"
An exception is thrown whenever content is changed in a table cell with an oninput event handler.  I have also tried onchange and onkeydown.  onchange did nothing.  onkeydown did fire successfully.  [This](https://stackoverflow.com/questions/63637928/how-to-handle-blazor-wasm-table-input-and-changes) StackOverflow post says that oninput is not supported as a direct table data element event, but th

[2020-08-29 13:47] StevenRasmussen commented on #21514
In one of the recent community standups, an intern demoed some virtualization capabilities which were hopefully going to land in the asp.net core 5.0 RC candidate.  Is that still the case?  Is there an issue that can be tracked for this functionality?

[2020-08-29 15:47] xyz0822 opened #25401 "Add comments on method in which aspnetcore version like"since 3.0.0" to show on which version we get this method"
Add comments on method with "since 2.0.0" to show on which version we get this method
Example:
[code]

[2020-08-29 17:53] dougbu commented on #25293
Is the problem usually or always showing up in Microsoft.AspNetCore.App.Runtime❔

[2020-08-29 17:56] mrahhal opened #25402 "Problem with nginx config in an app with SignalR and MVC apis"
I'm opening this issue here as suggested by @guardrex, I first opened this in the docs repo here: https://github.com/dotnet/AspNetCore.Docs/issues/19708.

I have a single application that runs both an MVC api and a signalr hub. I deploy this on linux ubuntu with nginx. Following the docs, it's suggested to use `proxy_set_header   Connection "Upgrade";` in the nginx config. This does allow web sock

[2020-08-29 18:04] Tratcher commented on #25402
Duplicate of https://github.com/dotnet/aspnetcore/issues/17081

[2020-08-29 18:15] Tratcher commented on #25401
While version history is useful information, adding it to every API doc comment does not seem like the best way to provide this. This information seems more appropriate in external API docs or tooling.

E.g. https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.webhost?view=aspnetcore-3.1
[code]

[2020-08-29 18:19] JunTaoLuo opened #25403 "Flaky test: Libuv.BindTests ListenAnyIP_IPv6_Success"
Failure: https://dev.azure.com/dnceng/public/_build/results?buildId=792496&view=results
Logs:
[code]

[2020-08-29 18:22] JunTaoLuo opened #25404 "Flaky test: Templates.Test.WorkerTemplateTest.WorkerTemplateAsync"
Failure: https://dev.azure.com/dnceng/public/_build/results?buildId=791211&view=results

This test seems to be timing out.

Logs:
[code]

There's also an AccessViolation but I'm not sure if that's related.

[code]

[2020-08-29 19:00] #25366 closed

[2020-08-29 21:10] Khaon opened #25409 "Blazor wasm: CSS isolation not working with blazor built-in forms components"
### Describe the bug

CSS Isolation introduce in preview 8 is working fine with regular html elements but it is not working with the [built-in components](https://docs.microsoft.com/en-us/aspnet/core/blazor/forms-validation?view=aspnetcore-5.0)

![image](https://user-images.githubusercontent.com/6811304/91646184-d7f82780-ea4c-11ea-9270-164ede5bb041.png)

### To Reproduce
A sample project to reprod

[2020-08-29 21:46] karthikrathinavelu opened #25410 "Unable to restore and compile ASP.NET source code from tag 3.1.7"
### Describe the bug
I'm trying to compile ASP.NET source code in my local system and it is failing during restore.cmd step

### To Reproduce
R:\source\repos\aspnetcore>git clone --recursive https://github.com/dotnet/aspnetcore
R:\source\repos\aspnetcore>git checkout v3.1.7
R:\source\repos\aspnetcore>.\restore.cmd
Building of C# project is enabled and has dependencies on NodeJS projects. Building

[2020-08-29 22:00] #25319 closed

[2020-08-29 22:16] hamiddd1980 opened #25412 "Add Property Element Syntax To Blazor"
Hi,
I'd like to know whether it is possible to have **Property Element Syntax** in Blazor ?(like WPF):
**Attribute Syntax:**
[code]
**Property Element Syntax:**
[code]

### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like
I know that currently the **Renderfragment** exists in Blazor to render **child components**  ,but I think using **Property El

[2020-08-29 23:24] talldaniel commented on #17660
Sometimes if you look in the output window, the very first error thrown is "the one".
There does seem to be some new bugs in the latest code, as I just ran into a situation where it would not build due to an error, but then the error would go away a few seconds after the build fails. Luckily I had only copy/pasted some code, so I undid it and restarted the computer, and then it worked.

I would su

[2020-08-30 01:26] nssidhu opened #25415 "Disconnected SignalR implementation for ServerSide Blazor"
I like the blazor server side concept using SignalR which is connected.
Can it not be made disconnected, so that it can handle more clients, becuase current connected architecture has scaling issues.
There are many applications that can take advantage of it by using polling nature instead.
1) Flight status usuall you only want to check or get flight status every minute or so, so connected client j

[2020-08-30 03:39] blowdart commented on #25410
It's because it includes a security update, and the package feed for those is private. You can try removing the internal feeds as detailed in https://github.com/dotnet/sdk/issues/11795

[2020-08-30 09:25] Postlagerkarte commented on #14519
@mkArtakMSFT @NTaylorMullen : Using VS 2019 16.8.0 Preview 2.0 + Experimental Razor Editor it now works to press F12 on a component to be taken to the implementation of it.  Thus it seems only  few bits are missing to also include the desired ctrl + mouse click feature.  Any plans to go for it anytime soon?

[2020-08-30 09:57] matra774 opened #25419 "Parsing/Validating a JWT token with invalid `exp` field fails on core 31."
###   Bug description
JwtPayload.Exp throws if tokens contains a DateTIme instead of numeric value

###   Expected behavioud
It should return null

### Details

The documentation of `System.IdentityModel.Tokens.Jwt.JwtPayload.Exp` states :

However this is not the case. `Exp` property geter throws an exception if values is a Datetime. Here is a sample token

[code]

Please note that the payload is

[2020-08-30 10:32] Thaina commented on #25165
Actually this is already possible

[code]

So if this is the official way this issue might be able to closed

[2020-08-30 10:57] ffMathy commented on #25194
Exciting! Let me know if you have any questions along the way.

[2020-08-30 11:06] chassq opened #25420 "Blazor Wasm: scoped.styles.css causes 404"
It seems the link (i.e. `<link href="_framework/scoped.styles.css" rel="stylesheet" />`) when there are no scoped styles defined in the project causes a 404 when getting the href="_framework/scoped.styles.css".

Are we doing something wrong?

Microsoft Visual Studio Enterprise 2019 Preview
Version 16.8.0 Preview 2.0
VisualStudio.16.Preview/16.8.0-pre.2.0+30420.98
Microsoft .NET Framework
Version 4

[2020-08-30 11:37] TomaszGrzmilas commented on #24047
Like I write before now application is not crashing but after I hit Ctrl+Space inside Component Tag i get only `@` (didn't get any Intellisense).

[2020-08-30 13:07] blowdart commented on #25419
" the token is correct (ignoring invalid exp field)"

That does mean that the token simply isn't correct, and I'm ok with it being rejected. What's your scenario here for wanting to accept an invalid token, especially one where you can't validate expiry and risk accepting things that shouldn't be accepted?

[2020-08-30 13:43] UltimateForm commented on #25172
hey @mkArtakMSFT I **think** I've figured this out, I tracked the path of the culprit script and isolated what was causing the app to not load, the aframe-ar-nft.js declares and sets values to a boolean var called "calledRun", you probably already see what the problem here is. Since it's a var on the root scope of the script, it registers itself on the root scope of the app that already has a var

[2020-08-30 14:22] hikalkan commented on #18088
@janissimsons,

As I can see, `IComponentActivator` is a service that is used when the renderer needs to create a new component instance.
The default implementation is [DefaultComponentActivator](https://github.com/dotnet/aspnetcore/blob/master/src/Components/Components/src/DefaultComponentActivator.cs) which uses the `Activator.CreateInstance`.

So, you can just implement the `IComponentActivator

[2020-08-30 16:10] kevinchalet opened #25422 "AuthenticationOptions.AddScheme() should declare displayName as nullable"
The display name is an optional thing and is typically not set for handlers that are not meant to be publicly listed. As such, the `AuthenticationOptions.AddScheme()` method should declare the `displayName` parameter as nullable (`string` -> `string?`).

https://github.com/dotnet/aspnetcore/blob/1268b6ee64f4b484d2c3b21a61a6f9a58731cfb0/src/Http/Authentication.Abstractions/src/AuthenticationOptions

[2020-08-30 16:18] Tratcher commented on #25422
@pranavkm

[2020-08-30 17:38] spapaseit commented on #22911
Hi @captainsafia, I finally got round to uinstalling VS 2019 16.8 and Preview 8 of .NET 5, but the issue still persists; the behaviour is still exactly the same, even with a fresh Hosted Blazor WebAssembly project.

[2020-08-30 19:27] tn-5 opened #25424 "Feature Request - Blazor support for flow control statements in razor markup"
### Current usage of flow control statements in razor files

Some time ago I raised this issue: https://github.com/dotnet/aspnetcore/issues/24793#issue-676989822 which was closed as "Won't fix". I believe there is some merit in consdering possible solutions to this in more detail.

Razor files allow C# code to be embedded in markup. This includes all C# syntax, including flow control statements su

[2020-08-30 19:42] blowdart commented on #25422
To be taken into account in https://github.com/dotnet/aspnetcore/issues/25310

[2020-08-30 20:35] msschl commented on #4839
@rynowak It looks like #1786 `Support binding immutable types by binding to the constructor` links to the wrong issue

[2020-08-30 20:58] BrennanConroy commented on #25395
Have you seen this since merging the test fixes from 5.0 to master?

[2020-08-30 21:21] mkArtakMSFT commented on #24152
@captainsafia @javiercn I just noticed this wasn't on the project board. What is the state of this issue? Should this be marked as `Done` now?

[2020-08-30 21:24] mkArtakMSFT commented on #24098
@javiercn do we have any doc updates to do as this is now done?

[2020-08-30 21:26] drma-dev opened #25430 "Blazor Server Authentication not working after publishing to Azure (linux)"
https://site.azurewebsites.net/
signin-google
?state=xxx
&code=yyy
&scope=email+profile+openid+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile
&authuser=0
&prompt=none

_Sorry, there is nothing at this address._

This error occurs after trying to log in to google in a blazor app after publishing in azure linux (the same did not ha

[2020-08-30 22:02] mkArtakMSFT commented on #24790
@SteveSandersonMS should we close this now

[2020-08-30 22:03] mkArtakMSFT commented on #19816
@pranavkm I assume this should be marked as `Done` already?

[2020-08-30 22:03] #19816 closed

[2020-08-31 00:37] EcoleKeine opened #25431 "ArgumentNullException thrown by JsonPatchDocument.ApplyTo in JObjectAdapter.TryAdd"
### Describe the bug
 Exception when JsonPatchDocument.ApplyTo JObject with null object

### To Reproduce
`

        [Fact]
        public void JsonPatchJObjectNullBug()
        {
            var jsonPatch = new JsonPatchDocument();
            jsonPatch.Add("/Obj", new ExpandoObject());
            jsonPatch.Copy("/NullObj", "/Obj/Copy");

            {
                dynamic obj = new ExpandoOb

[2020-08-31 02:42] captainsafia commented on #24152
@mkArtakMSFT Yes -- this is done and will ship with RC1.

[2020-08-31 05:16] #21988 closed

[2020-08-31 05:40] shahinjabbar commented on #25345
I am using IHostedService to register backgroundservice in startup.cs.

[2020-08-31 06:11] #24807 closed

[2020-08-31 06:11] mkArtakMSFT commented on #24807
@rynowak has transfer the ownership and I've fixed the link.

[2020-08-31 07:14] ShuiFan0 opened #25433 "HttpClient Modify the properties in the callback, the page is not updated"
的回调里修改属性，页面并没有更新
Modify the properties in the callback, the page is not updated.

<input @bind="UserApiToken" />

[code]

[2020-08-31 07:35] PTEC3S20 opened #25434 "[Authentication.Negotiate] How to specify enable mechanics during negotation"
Hi,

I'm currently trying to use this nuget : https://www.nuget.org/packages/Microsoft.AspNetCore.Authentication.Negotiate/3.1.7 and I have some difficulty to find where I could indicate which token mechanics will be allowed to authenticate. In my case, I would like to disable NTLM from negotiation (so server won't indicate this mechanics during GSS-API negotiation and reject token using this mech

[2020-08-31 08:12] hermandsen commented on #25230
I can confirm that Range works on 5.0-preview8 on the test case.
I cannot test it on my company project, as we still have dependencies from core 2.1 that we need to resolve before we can build in 5.0-preview8.
Thank you. Looking forward to 5.0.

[2020-08-31 08:12] #25230 closed

[2020-08-31 08:13] ioer2008 opened #25436 "When can we have a great hotreload experience like flutter"
In my current project, for any small modification, I need to click build, wait and refresh the web page to see the modification results.I think such development efficiency is too low.
If you have tried to develop with flutter, you will imagine what a great experience if blazor also has a similar hotreload.I believe that if this step can be achieved, it will be a major milestone.

我在目前进行的项目中,任何一个小的

[2020-08-31 09:14] carlingkirk commented on #22174
Started happening with me after updating packages https://github.com/carlingkirk/emergence/runs/1040880391?check_suite_focus=true

[2020-08-31 09:48] duoenet opened #25437 "The specified network name is no longer available."
指定的网络名不再可用。

The specified network name is no longer available.

Category: Microsoft.AspNetCore.Diagnostics.ExceptionHandlerMiddleware
EventId: 1
RequestId: 80012151-1400-3600-b63f-84710c7967bb
RequestPath: /Course/toAction/
SpanId: |81ecfa4b-453eeeccbee257c6.
TraceId: 81ecfa4b-453eeeccbee257c6
ParentId:

An unhandled exception has occurred while executing the request.

Exception:
Microsoft.AspNet

[2020-08-31 09:53] duoenet opened #25438 "Error unprotecting the session cookie.ryptographicException: The key {} was not found in the key ring."
Category: Microsoft.AspNetCore.Session.SessionMiddleware
EventId: 7
RequestId: 80012351-1400-3600-b63f-84710c7967bb
RequestPath: /usercenter/
SpanId: |36aeaa33-4f04d19787ec7705.
TraceId: 36aeaa33-4f04d19787ec7705
ParentId:

Error unprotecting the session cookie.

Exception:
System.Security.Cryptography.CryptographicException: The key {9ef64254-84d8-4b40-a526-49d99d5d7d12} was not found in the key

[2020-08-31 10:08] dantronik-markus opened #25439 "Publishing ASP.NET-Core hosted Blazor application fails"
### Describe the bug
I have an ASP.NET-Core hosted Blazor application. Running the application locally works just fine, however, I get an error during publishing.

### To Reproduce
Publish a blazor application to filesystem. These are the publish settings:
https://gist.github.com/dantronik-markus/2fb46193601b1ce64ef1270049807cc9

I tried to reproduce the issue with a new Blazor app and was unable

[2020-08-31 10:17] dantronik-markus commented on #25439
The last time I submitted an issue during the build process, I was asked to get a build log using the Project System Tools. I did the same thing this time. Here it is:
[RoslynLog-d762f101-e293-4454-812b-81af01dae489.zip](https://github.com/dotnet/aspnetcore/files/5149734/RoslynLog-d762f101-e293-4454-812b-81af01dae489.zip)

[2020-08-31 10:54] dantronik-markus commented on #25439
I noticed another thing: If I simply run `dotnet publish` from the command line, it works without any issue. Not from within Visual Studio though.

[2020-08-31 11:18] javiercn commented on #24790
No, we are investigating this.

[2020-08-31 11:23] IIARROWS commented on #25259
I remember having the same error before, it reappeared yesterday as I updated VS with Preview 8. @billknye suggestion worked.

[2020-08-31 11:23] StefanLundmark opened #25440 "Breakpoint set but not yet bound"
I have followed the instructions from here to debug Blazor WebAssembly applications:
https://docs.microsoft.com/en-us/aspnet/core/blazor/debug?view=aspnetcore-3.1&tabs=visual-studio

The only thing I get when placing breakpoints is that the "Breakpoint set but not yet bound". Some information:

- I tried both creating the project from the template dialogs in Visual Studio 2019, Version 16.5.4 - an

[2020-08-31 11:26] javiercn commented on #24098
I have not worked out the doc, but it's all in the doc that I wrote for the PR:

@guardrex do you think you can use that as a basis for the content?
https://github.com/dotnet/aspnetcore/pull/25203#issuecomment-680105139

Main points are to call out the scenarios and to call out the limitations, explicitly that the component types as well as the parameters must be defined in an assembly referenced

[2020-08-31 11:28] Tratcher commented on #25438
Are you running more than one instance of the server?
See https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/web-farm?view=aspnetcore-3.1#dependent-components

[2020-08-31 11:32] Tratcher commented on #25434
NTLM can't be disabled in the API, only in the registry. Note the middleware will only ever challenge for `Negotiate`, but the operating system may choose to fall back to NTLM.

[2020-08-31 11:36] guardrex commented on #24098
I thought we had it all covered, but I'll have to check against your linked comment and see. The coverage thus far is ...

https://docs.microsoft.com/aspnet/core/blazor/components/integrate-components#render-components-from-a-page-or-view
https://docs.microsoft.com/aspnet/core/mvc/views/tag-helpers/built-in/component-tag-helper

[2020-08-31 11:37] jkarra2020 commented on #25269
Unfortunately, our organization doesn't let sticky session enabled on the Nginx load balancer. Is there any other way we can get this working.

[2020-08-31 11:37] javiercn commented on #25433
@ShuiFan0 thanks for contacting us.

I've translated the title into something like `HttpClient Modify the properties in the HttpClient callback, the page is not updated`. It looks like you are using Blazor. replace it to use `async Task` instead. Blazor doesn't have a way to know when an async void Task completes.

[2020-08-31 11:42] javiercn commented on #25430
@drma-dev thanks for contacting us.

@blowdart this is not Blazor server specific since auth happens before the Blazor application starts (this is server-side Blazor). From what I can tell, the callback is not hitting the auth endpoint and going through the catch-all route that SSB defines instead. Note that it if goes there is because no other endpoint/handler was available.

[2020-08-31 11:44] javiercn commented on #24098
@guardrex this is new. This gives you the ability to prerender the app on the server with parameters that get flowed down to the client, similar to SSB and to define the root component from MVC in the same way is done for server-side Blazor.

[2020-08-31 11:44] Tratcher commented on #25437
@pranavkm another case of FormValueProviderFactory needing to catch a derived IOException

[2020-08-31 11:45] javiercn commented on #25269
@jkarra2020 unfortunately no. This is a requirement for server-side Blazor since it needs to support reconnection to the server if the client looses the connection.

[2020-08-31 12:03] javiercn commented on #25420
@chassq thanks for contacting us.

The template is setup by default to use some scoped styles. If you don't want to use scoped styles in your app, you need to remove the index.html the same way you removed the files.

Are we missing something here?

[2020-08-31 12:05] javiercn commented on #25398
@tonibabieka thanks for contacting us.

The logout page needs to be within the Blazor application. You can have a page there that forces a navigation to wherever you want.

[2020-08-31 12:21] julienGrd opened #25442 "[Blazor Server] Ability to have scoped logger"
Hello guys, In my blazor server app i would like to Inject some scoped services in my logger to trace some client information like circuitId (or other scoped data which allow me to identify the client). Otherwise it will be a mess in my logs, I will not be able to attach an exception to a specific client.

I already read here its a bad idea to have a scoped logger, however i really need this featu

[2020-08-31 12:28] jkarra2020 commented on #25269
Thanks for your response.

[2020-08-31 12:51] CriggerMarg commented on #12472
Any update now?

[2020-08-31 12:54] javiercn commented on #25353
@JunTaoLuo did we fix this as part of @jmprieur merged PR? Or is this still an issue? If that's the case, @JunTaoLuo can you work this out?

[2020-08-31 12:56] bfmsoft commented on #25259
To be clear.  I need Crypt for other purposes.  So not what works above.  I hope this makes it into RC1.

[2020-08-31 13:00] chassq commented on #25420
Hey @javiercn . Thanks for the reply! I think it may be worth considering that if you have in your index.html the link `<link href="_framework/scoped.styles.css" rel="stylesheet" /> ` but have not actually implement any scoped styles that you do **not** get a 404 cannot be found on the _framework/scoped.styles.css file. Just something to consider maybe.

[2020-08-31 13:02] drma-dev commented on #25430
It started after a certain time. I'm not sure if it was from a certain version of blazor or was it a change in azure.

another mistake is that if you login without using google, but login with email, it cannot call the API, because it cannot recognize the user's token or authentication.

[2020-08-31 13:11] srxqds opened #25443 "how to call async method in blazor?"
I want to use WebSocket in blazor connect to java websocket server, but the signalr is used to connect to aspcore server, so I modify the code from https://gist.github.com/SteveSandersonMS/5aaff6b010b0785075b0a08cc1e40e01

[code]

the problem is:  the received not return, but we test it can get server mssage tesing with other tools.
[code]
so it is my code error, but what the extractly is it?

[2020-08-31 13:12] srxqds commented on #25443
@stephan-tolksdorf can you help me? thank you

[2020-08-31 13:15] srxqds commented on #25443
Can we use signalr connect to other websockets server, for example written by java?

[2020-08-31 13:16] Gambero81 commented on #20805
this is a must have feature, especially in projects with automatic class generations like Entity Framework, to allow adding additional validation or business rules.

Hope it will be implemented as soon as possible

[2020-08-31 13:24] vertonghenb commented on #13601
Maybe this could be added in the official docs somewhere?

[2020-08-31 13:30] BrunoBlanes commented on #24126
Ah, I undestand it know, thanks!

[2020-08-31 13:38] Krzyrok commented on #22220
It would be very helpful to allow to configure location of `blazor.boot.json` - I've faced up with the same issue.
Probably the best option would be to specify URL in the runtime. The same as for other files: currently there is an option to load (from different domain) `_framework/blazor.webassembly.js` with `autostart` set to `false` and start Blazor manually (as described here: https://docs.micr

[2020-08-31 13:45] zbecknell commented on #21849
Closing this as I've found the specific cause of debugging being broken in my project: #25380.

[2020-08-31 13:45] #21849 closed

[2020-08-31 13:45] Krzyrok commented on #24505
@Swimburger you can probably start Blazor manually as described here: https://docs.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/webassembly?view=aspnetcore-3.1#custom-boot-resource-loading
and use `loadBootResource` - you can fetch resources by your own and without `integrity: integrity`. Smth like this:
[code]
It's not perfect but should work.

[2020-08-31 13:46] StefanLundmark commented on #25440
Not sure if this is helpful as I can't tell which of the two actions made a difference but I:

- Installed the latest Windows updates, including one of the major ones.
- Repaired Visual Studio 2019.

And now the breakpoints get triggered! Yay!

[2020-08-31 13:54] guardrex commented on #24098
I think this is tracked by https://github.com/dotnet/AspNetCore.Docs/issues/18431. I understand that the 5.0 approach will be different than what DR and I were discussing on the issue, which was more like 3.x hacks at the time.

It looks like https://github.com/dotnet/AspNetCore.Docs/issues/11366 will be covered by that work, too.

The best scenario for me is to wait on until RC1 drops to tackle t

[2020-08-31 14:05] Krzyrok commented on #25328
You can check workaround described here: https://github.com/dotnet/aspnetcore/issues/22220#issuecomment-683783971

[2020-08-31 14:11] javiercn commented on #24098
@guardrex sounds fine to me, just want to make sure you have the content available.

[2020-08-31 14:24] vanillajonathan opened #25445 "MultipartFormDataContent extension method that takes IFormFile"
I have a ASP.NET application that uploads the file it receives to a backend file storage microservice. So the user uploads the file to the ASP.NET application which in turn uploads it to a microservice.

If ASP.NET Core provided a `Add` extension method for the [`MultipartFormDataContent`](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.multipartformdatacontent) class that accepted a [

[2020-08-31 14:27] #24919 closed

[2020-08-31 14:32] jmprieur commented on #25353
@javiercn : it was not yet

[2020-08-31 14:42] jburman opened #25446 "[wasm] HttpClient 5.0 no longer supports Blob URLs"
### Describe the bug
I am testing updating some of my libraries to .net 5.0 and ran into issue where requesting blob urls no longer works correctly.
This was originally addressed in Mono BCL - see issue [11681](https://github.com/mono/mono/issues/11681) and has regressed in Blazor 5.0 update.
Affected package: [Blazor.LocalFiles](https://github.com/jburman/W8lessLabs.Blazor.LocalFiles)
[Example si

[2020-08-31 14:51] micka190 commented on #7246
@wfurt Alright, so I'm back in my office.

Running `curl -v https://localhost:5001` returns this:

[code]

Which is probably related to the `OPENSSLDIR: "/usr/local/ssl"` potential issue you pointed out earlier. I'll see if I can get the `dotnet dev-certs https` certificate inside that directory.

[2020-08-31 14:58] jamers99 opened #25448 "Response headers say content is chunked, when it's not"
### Describe the bug
We have an OData service that is returning a response and it says that it is chunked ("Transfer-Encoding": "chunked") when the content is not actually chunked. We worked around this by adding hacky Middleware to IApplicationBuilder:

[code]

![image](https://user-images.githubusercontent.com/20806279/91734320-cf9d0b00-eb78-11ea-97ea-eebe120edac6.png)

### To Reproduce
We have

[2020-08-31 14:59] sbchong opened #25449 "Uncaught (in promise) RuntimeError: memory access out of bounds"
### Describe the bug
Now, I want to use blazor framework to upload a picture file, but I cannot find a nice official component. So I use Javascript to read a file to a base64 string, I encountered an error ：when the size of my uploaded file exceeds 200kb, the browser will prompt **Uncaught (in promise) RuntimeError: memory access out of bounds**

### Further technical details
- ASP.NET Core versio

[2020-08-31 15:01] jamers99 commented on #25448
This seems very similar to this very old (2013) .NET Framework issue on StackOverflow:
https://stackoverflow.com/questions/16736233/web-api-as-a-proxy-and-chunked-transfer-encoding

[2020-08-31 15:01] matra774 commented on #25419
My scenario is interop with some legacy service that created invalid token. This is not critical issue for me, I am just pointing out inconsistency in implementation/documentation.

The implementation ignores exp if it sets to "foo", but not if it set to a DateTime.
The documentation states that invalid values are ignored, but they are not for DaateTime.

[2020-08-31 15:26] julienGrd commented on #25442
In addition to my previous message, and because im open to alternative solution if what i want is not possible for now, i see when unhandled exception happen, its logged (automatically) like this
[code]
I have at least a circuitId i can use to find the client. But on the other side, i don't see how i can retrieve this circuitId from one of my scoped service. It would be very usefull, so i can log

[2020-08-31 15:30] unionthugface commented on #19509
I just tried this guy's solution, and it worked for me, but I do not understand why it works:

_Originally posted by @mobinseven in https://github.com/dotnet/aspnetcore/issues/11950#issuecomment-520295866_

Can anyone clue me in to any possible side effects from this?  For what it's worth I deployed this in my project on Friday, came in this morning, and my app ran successfully all weekend.  I can

[2020-08-31 15:31] Tratcher commented on #25448
Can you show how you're generating the original response?

All HTTP/1.1 responses must set `Content-Length` or `Transfer-Encoding: chunked`. ASP.NET Core defaults to chunked if you do not set the content-length. This allows responses to be sent immediately without buffering and helps minimize latency, memory overhead, etc..

Why is chunking a problem for you?

[2020-08-31 15:36] unionthugface commented on #3849
I posted this potential solution on @Coruscate5 's thread new issue #19509 above [https://github.com/dotnet/aspnetcore/issues/19509#issuecomment-683852466](https://github.com/dotnet/aspnetcore/issues/19509#issuecomment-683852466) but figured I'd post it here too:

_Originally posted by @mobinseven in https://github.com/dotnet/aspnetcore/issues/11950#issuecomment-520295866_

I deployed this in my .

[2020-08-31 15:49] jamers99 commented on #25448
We have a relay service that forwards requests and responses to and from a server. We copy headers, which is causing some problems. This was working in .NET FW, but when we moved to .NET Core, it broke. @brentesh knows this better, perhaps he can elaborate.

Is there a way to easily turn chunking off from the server sending the responses?

[2020-08-31 15:54] Tratcher commented on #25448
When copying headers in a proxy/relay you should filter out the Transfer-Encoding: chunked header, most servers will re-add it if needed.

No. Chunking can only be disabled by setting the Content-Length header, which often requires buffering to calculate.

ASP.NET 4 (System.Web) buffered responses by default which caused performance issues.

[2020-08-31 15:56] Tratcher commented on #25448
FYI the above code sample should not be using OnStarting to set the Content-Length, it should be set here instead:
[code]

[2020-08-31 15:57] jamers99 commented on #25448
Ah, okay. So we would need to add the Content-Length in our proxy/relay by reading the response? Obviously would read the entire response which could introduce a performance issue, but it was working okay before.

[2020-08-31 16:02] #24152 closed

[2020-08-31 16:08] mkArtakMSFT commented on #25282
This is done as part of https://github.com/dotnet/aspnetcore/pull/25248

[2020-08-31 16:08] #25282 closed

[2020-08-31 16:18] mkArtakMSFT commented on #25449
Thanks for contacting us, @sbchong.
We have added a new `InputFile` component in Blazor in RC1 which will help you avoid all the JSInterop.

[2020-08-31 16:18] #25449 closed

[2020-08-31 16:18] SteveSandersonMS opened #25451 "Verify limits on JS interop"
Add E2E test showing the maximum sizes for transferred data, plus include this info in docs.

[2020-08-31 16:18] mkArtakMSFT commented on #25449
https://github.com/dotnet/aspnetcore/issues/12205

[2020-08-31 16:22] mkArtakMSFT commented on #25443
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, we are not a general-purpose forum. To get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.