[2019-09-03 08:26] davidfowl commented on #13567
Startup was debated during the 3.0 milestone but we decided to leave it for web scenarios only since Configure didn't really make any sense (because of what @Tratcher mentioned). I'd file an issue on https://github.com/aspnet/Extensions for further discussion so we can flesh something out for the next major release.

[2019-09-03 08:27] nfplee commented on #13608
Thanks, I meant has this changed between v2.2 or v3?

[2019-09-03 08:29] pappasa commented on #13636
That comment says:

But how do I do that?

[2019-09-03 08:38] mrpmorris commented on #10526
All you need to do is have InputBase<T> ensure it has an entry in the EditContext when its EditContext changes. That will ensure only the items being edited are validated. This should be a minimum requirement.

If you also want to provide the ability to validate a whole object regardless of which properties have associated edits, please put a parameter on the validator that allows the user to disa

[2019-09-03 08:45] Legends commented on #9851
OMG VS2019 is buggy. When will this be fixed. Have to restart constantly every 30min or less.

[2019-09-03 08:48] virtualcca commented on #12937
i use dotnet sdk to createDump 3 times and view with lldb
Numbered 3 dumps 1, 2, 3

i use "dumpheap -state" to view

![Snipaste_2019-09-03_16-35-37](https://user-images.githubusercontent.com/5656078/64157869-1672fa80-ce6a-11e9-99c3-f98357ba5525.png)
![Snipaste_2019-09-03_16-36-05](https://user-images.githubusercontent.com/5656078/64157886-1d9a0880-ce6a-11e9-88eb-95d23e7c5124.png)
![WXWorkCapture_1

[2019-09-03 08:50] davidfowl commented on #13622
That was about describing changes that would need to be made to the current model if we went that path (right now it's opt-in you suggestion makes it opt-out).

[2019-09-03 08:59] davidfowl commented on #13295
I see the value in this existing but I don't think it belongs on any of the existing APIs.

[2019-09-03 08:59] sbuchok commented on #13630
Thanks for the response, but I can already deploy my application. If you go here: http://daringclub.azurewebsites.net/ and click on Signup in the top right, there is a Test button on that page.

[HttpGet("[action]")]
        public IActionResult Test()
        {
            return Ok("Hello World");
        }

When the button is clicked, you get a 405 Method Not Allowed error. When run on my local

[2019-09-03 09:06] tmds commented on #13295
Is the `IConnectionListener` meant to call `AquireAsync` or is it some other component?

[2019-09-03 09:06] Jazzman82 commented on #13354
@glararan What did you do to resolve this? I have the same problem after deploying to azure...
Can I configure the settings in the portal as you did?

[2019-09-03 09:15] nfplee commented on #13622
Thanks for clearing this up, I'll close this and my current issue.

[2019-09-03 09:15] #13622 closed

[2019-09-03 09:16] #13608 closed

[2019-09-03 09:17] nfplee commented on #13608
Thanks

[2019-09-03 09:19] atresnjo commented on #12536
@anurse

I'm having the same issue, but that doesn't seem to work for me.

Installed dotnet version:

`3.0.100-preview8-013656`

My library project:

[code]

It seems that it only references Microsoft.AspNetCore.Identity and Microsoft.AspNetCore.Cryptography but nothing else.

When I use the FrameworkReference I get

`The FrameworkReference 'Microsoft.AspNetCore.App' was not recognized C:\Program

[2019-09-03 09:22] kgrosvenor opened #13637 "IConfiguration turning null through DI after some time running"
Using: AspNetCore 2.2 WebAPI

The problem

I'm using IConfiguration interface and using appsettings.[env].json to configure my app, after1 month of the application running i'm seeing values turn to null in the runtime, how is this possible? We're using docker linux / default Microsoft image, this tends to happen every month, sometimes within 1 - 2 weeks.

We first spotted our database would not be

[2019-09-03 09:24] davidfowl commented on #13295
I can't see how that can be enforced at this point. I would assume it's the caller.

[2019-09-03 09:31] pandiyarajm93 opened #13638 "Error: System.InvalidOperationException: The render handle is not yet assigned. - Blazor ServerSide application with MVVM"
### Describe the bug
Getting console error as System.InvalidOperationException: The render handle is not yet assigned. while configure MVVM

### Additional context

Microsoft.AspNetCore.Components.Web.Rendering.RemoteRenderer: Warning: Unhandled exception rendering component: The render handle is not yet assigned.

System.InvalidOperationException: The render handle is not yet assigned.
   at Micr

[2019-09-03 09:35] SteveSandersonMS commented on #13582
I was able to use the exception config to control whether or not this causes the debugger to break. Here's my config. Notice that the checkbox is checked, unlike in the screenshot in an earlier comment:

![image](https://user-images.githubusercontent.com/1101362/64161981-6fc13680-ce36-11e9-8a77-5d243305cf7c.png)

With the checkbox checked, the debugger does stop when the redirection occurs. **This

[2019-09-03 09:37] SteveSandersonMS commented on #13582
Yes. When you tell the navigation manager to navigate, the system needs to know to stop the whole prerendering process that is taking place. This is a normal part of the redirect-during-prerendering behavior.

[2019-09-03 09:39] SteveSandersonMS commented on #11083
@accessibites You must be using an older version of Blazor. Try updating to preview 8 or later.

[2019-09-03 09:52] ichensky commented on #13630
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-2.2

[2019-09-03 10:13] mrgleba opened #13639 "Kestrel http/2 problems with Kaspersky enabled"
### Describe the bug
After switching from running Kestrel behind an naginx reverse proxy to standalone
we've started experiencing some page load problems. We've been able to narrow it down
to Kaspersky antivirus software.

Kestrel is configured to serve
[code]

[code]

Application is run within a docker container using a current ``` microsoft/dotnet:2.2-aspnetcore-runtime``` image

The page won't

[2019-09-03 10:33] khellang commented on #13639
Doesn't that mean you've solved the issue? I'm not sure what could be done in Kestrel to avoid this?

[2019-09-03 10:45] Jazzman82 commented on #13354
Ok! I figured it out: You have to turn on "Websockets" in the Azure Portal: App-Services => Configuration => General Settings

[2019-09-03 11:00] sbuchok commented on #13630
Sorry, but nothing in that link mentions anything about 405 Method Not Allowed. I have already explained that this is working locally perfectly fine. I'm assuming that this should mean that there is something that needs to be done on Azure that I am not doing that needs to be setup or some setting in the Startup.cs that I need to do in order to get this to work.

If you need more information from

[2019-09-03 12:02] javiercn opened #13641 "[SPA Services] Investigate reliability for the start script for the react development server"
I've been looking at this as part of the work on infrastructure and there are failures like https://dnceng.visualstudio.com/internal/_test/analytics?definitionId=21&contextType=build that might be due to reliability issues in the start script.

When looking at the logs for the build above I see the following:

[code]

I believe it comes from the start script in here. I don't think we can tell whet

[2019-09-03 12:27] Condra963 commented on #13567
I made a quick fix that works for me at this moment, every Method in `IHostBuilder` that contains any kind of Action in it can be used in my **Build** file. For example:
`IHostBuilder ConfigureServices(Action<HostBuilderContext, IServiceCollection> configureDelegate);`

it's just an idea of how i implemented it at the moment, but it gives me the possibility to have an over-writable class:

### The

[2019-09-03 12:39] tornie2 commented on #13575
We can adjust total number of allowed connection with the MaxConnections property
Is it also possible to adjust the number of connections allowed for a single client?

To mitigate a Slowloris attack
https://en.wikipedia.org/wiki/Slowloris_(computer_security)#Mitigating_the_Slowloris_attack

"While there are no reliable configurations of the affected web servers that will prevent the Slowloris atta

[2019-09-03 12:42] ichensky commented on #13630
When you press 'Test' button do you trying to make HTTP POST request? Because this method:
[HttpGet("[action]")]
public IActionResult Test()
{
return Ok("Hello World");
}

mapped to handle only HTTP GET request.

[2019-09-03 12:55] snerting opened #13642 "Blazor Server Side App deployed on App Service need web socket on App Service."
I use .net Core 3 Preview 8, and have this strange behavior when running Blazor Server Side app i Azure App Service.

When not using Azure SignalR, I must use Web Socket on App Service in Azure. If not I got "Object reference not set to an instance of an object." when navigate to a page from a menu item. Everything work great on my localhost.
If I go to the address line, and set the cursor at the

[2019-09-03 13:00] sbuchok commented on #13630
Apparently I can't even get the the site now. Need to fix when I get home. The Test button does a Get Request. I noticed that some get requests look like they return the index page for some reason, however this GET request is returning a 405.

Put it this way, "It works locally, without issue". It's not like this is the only web request that I am testing. This was setup so that I could have the si

[2019-09-03 13:12] ichensky commented on #13630
Seems, there are problems with routing, because if you click `Test` button you'll get Blazor Index.html page in responce or my be you deployed only Blazor client app(client side only) without backend part.

[2019-09-03 13:16] tmds commented on #10308
Very late feedback:

`BindAsync` -> `ListenAsync` would have been a better name. binding is using a local socket address, while listening is starting to accept sockets.

`AcceptAsync(CancellationToken cancellationToken = default);` -> in retrospect, I don't think we should have added a `CancellationToken` here, and instead relied on the user calling `UnbindAsync`, which leads to `AcceptAsync` retu

[2019-09-03 13:38] blowdart commented on #13639
This sounds like an issue with Kaspersky. Which isn't unsurprising, if they're trying to intercept HTTPS.

There is nothing we can do here, HTTP/2 needs to run over HTTPS. If Kaspersky stops the use of HTTPS then the solution is to uninstall Kaspersky.

[2019-09-03 13:38] #13639 closed

[2019-09-03 13:53] justinushermawan opened #13643 "[Blazor] Containment Ability"
Dear AspNetCore team,

Sometimes, we need _Containment_ feature like React has because of some components don’t know their children ahead of time, especially for abstract components.

In React, we can do the following:
[code]

Is it possible in **Blazor** if I create a base component too like I do in React, for instance an abstract called `Component` and it extends `ComponentBase`? It also has a r

[2019-09-03 13:55] julienGrd opened #13645 "[Blazor] Masked TextBox with Regex"
Hello guys, i mett actually problem to use a mask on some of my inputs.

I don't really find a pure blazor way so i decide to use this Js library : https://github.com/RobinHerbots/Inputmask

when i use it, it seem the binding is broken (the original binding if a provide value seem OK, but when i try to modify value of my input i never enter in the setter of my property binded).

So the questions :

[2019-09-03 13:55] blowdart commented on #13632
This is expected (somewhat). In 2.0 we introduced support for SameSite cookies, which allows you to mark cookies to only flow when the previous request is from the same site. For example,, if I drop a cookie in page 1, then click to page 2 on the same site, the cookie will flow.

What is happening is your reset page drops an anti-forgery cookie. These are marked with the same site attribute, becau

[2019-09-03 14:24] balaji-rajan opened #13647 "MapJsonKey for nested structure"
I am trying to map nested json claims during my authentication, I'm using **OpenIdConnect** as my authentication builder to connect with IdentityServer4

https://github.com/aspnet/AspNetCore/blob/c39fbb8f12002f61df6c093b0c11e6bd585ee202/src/Security/Authentication/OAuth/src/JsonKeyClaimAction.cs#L46

Along with JArray, I would like include JObject as another mapping option to map Nested JSON claim

[2019-09-03 14:39] MV10 commented on #13578
Are you running in debug? I can't seem to find the comment again, but I read somewhere that they don't support this in debug mode (no idea why). If you launch the site with Ctrl-F5 it works for me (most recent .NET and VS2019 previews). However, even with small projects recompile upon save is very slow... my client almost always shows the disconnected overlay with the re-connect option.

[2019-09-03 15:00] Tratcher commented on #13603
These libraries are no longer in the default set, you need to install the associated nuget packages.

[2019-09-03 15:13] nvmkpk commented on #5659
I do have code to get that working for Blazor that I wanted to contribute here but it seems they are not interested in it. But it currently works with preview 5. I could not find time to update it to work with latest preview.

[2019-09-03 15:15] Tratcher commented on #13626
It's a two stage process:
1) persist the claims from Google into the temp External cookie.
2) Transfer the claims to the long term Identity cookie.
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/additional-claims?view=aspnetcore-2.2

[2019-09-03 15:30] Tratcher commented on #13575
Nothing built in, you'd have to do that manually in middleware. Nor do I see how that's much of a mitigation.

The built in mitigation for slowloris is to ensure the client sends and receives at a minimum data rate.

[2019-09-03 15:31] pranavkm commented on #13583
@mkArtakMSFT \ @rynowak can we consider fixing this for 3.0? As @adrianwright109 pointed out, the PR was merged in to master, it's incorrect in 3.0.

[2019-09-03 15:35] rynowak commented on #13583
This pretty obviously doesn't meet the bar for 3.0

[2019-09-03 15:47] Eilon commented on #13611
@pranavkm there's also a PR for this: https://github.com/aspnet/AspNetCore/pull/13614

[2019-09-03 15:57] Pilchie commented on #13615
@livarcocc - any idea why the transitive references wouldn't flow through?

[2019-09-03 15:58] blowdart commented on #13647
You can't. This isn't how [JWT](https://tools.ietf.org/html/rfc7519) works. Claims are name value pairs, nothing more. You can't nest.

[2019-09-03 15:59] rasitha1 opened #13649 "Enable Auth Cookie Compression"
### Is your feature request related to a problem? Please describe.
Without session cookie compression, requests are unnecessarily large and even for a simple set of claims can reach the header size limits.

### Describe the solution you'd like
Because of [#79](https://github.com/aspnet/Security/issues/79) and [this](http://www.iacr.org/cryptodb/archive/2002/FSE/3091/3091.pdf) default auth cookie c

[2019-09-03 16:09] Tratcher commented on #13634
`authPersistNonNTLM` is effectively enabled by default for HttpSys. Are you sure each request is arriving on the same connection?

[2019-09-03 16:12] Tratcher commented on #13647
Is that data coming from the JWT or from the UserInfoEndpoint?

[2019-09-03 16:14] rynowak commented on #13333
Agreed, this kind of issue should not result in a 500.

@halter73 @Tratcher - is there a clear way to detect an IO failure due to connection loss? There's going to be a try/catch somewhere in our code and I'm wondering what we're going to be catching.

[2019-09-03 16:15] erizzo commented on #9218
What if the tests need to override some behavior of the Api bootstrap, like change services that are configured in the IServiceCollection, etc? I ran into this because I started extending the API's Startup class for my IntegrationTestsStartup; before I did that. How can the tests override API initialization behavior and still use WAF?

[2019-09-03 16:18] javiercn commented on #9218
Hi @erizzo.

**It looks like you are posting on a closed issue!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

[2019-09-03 16:32] Tratcher opened #13650 "Lost HTTP Header Attribute"
_From @gaborposz on Friday, August 30, 2019 8:02:30 AM_

Hello,
During development we have encountered a very strange issue regarding HTTP Headers.

We use [WinHttpHandler](https://www.nuget.org/packages/System.Net.Http.WinHttpHandler/4.5.2) on the client, and [Kester](https://www.nuget.org/packages/Microsoft.AspNetCore.Server.Kestrel.Core/2.2.0) (with self-hosting) on the backend for HTTP/2 commu

[2019-09-03 16:32] Tratcher commented on #13650
_From @davidsh on Friday, August 30, 2019 1:21:19 PM_

What version of .NET Core are you using?  Output of "dotnet --info" ?

Why are you using WinHttpHandler?  You should consider using .NET Core.  As of .NET Core 3.0, HttpClientHandler (which uses SocketsHttpHandler) supports HTTP/2 protocol.

[2019-09-03 16:32] Tratcher commented on #13650
_From @gaborposz on Friday, August 30, 2019 2:32:11 PM_

We are using WinHttpHandler because our client is .NET Framework 4.7 based (it must be, because it is used by other .NET Framework components), and this is the only way to support HTTP/2 with .NET Framework.

Only our backend service is .NET Core based. We use the [.NET Core 2.2.3 Runtime](https://dotnet.microsoft.com/download/thank-you/dotn

[2019-09-03 16:32] Tratcher commented on #13650
_From @davidsh on Friday, August 30, 2019 3:56:22 PM_

How do you know this?  Did you do a Wireshark trace? Although with HTTP/2 normally over TLS that would be difficult.

Can you try another server (such as IIS) to determine whether it is really a client-side or server-side problem?

[2019-09-03 16:33] Tratcher commented on #13650
_From @gaborposz on Friday, August 30, 2019 4:20:38 PM_

I tried with Wireshark, but with secure communication it is not visible, and with disabled HTTPS the error is not reproducible.

I might try with IIS, but I'm not familiar with that, so it would take more time.

Isn't there an easier way to find out whether it's the client or the server? E.g.: Dump out the raw data by WinHttpHandler or Keste

[2019-09-03 16:33] Tratcher commented on #13650
_From @gaborposz on Monday, September 2, 2019 2:38:28 PM_

Hi,
After some struggle I eventually managed to try it with IIS. I tested it with an ASP.NET (.NET Framework) as well as an ASP.NET Core handler, and both of them was working fine. It indicates that the problem is most probably in the self hosted Kestrel.

[2019-09-03 16:33] Tratcher commented on #13650
_From @davidsh on Tuesday, September 3, 2019 4:21:12 PM_

Seems like this issue should be moved to one of the ASP.NET repos.

cc: @Tratcher

[2019-09-03 16:39] Tratcher commented on #13650
Can you re-test against 3.0 preivew9 (out soon). This may be the same issue as https://github.com/aspnet/AspNetCore/pull/12782.

Another way to get a trace for this is using Kestrel's connection logger.
https://github.com/aspnet/AspNetCore/blob/2217be28261ee2df07dd5d293d92a05a458f5a6b/src/Servers/Kestrel/samples/SampleApp/Startup.cs#L108-L112
Be sure to turn your log levels up to Trace.

[2019-09-03 16:41] mkArtakMSFT commented on #13645
Thanks for contacting us, @julienGrd.
Blazor listens to the `onchange` event, which seems is not the case for this library.
Feel free to contact the author of that library to enable integration with Blazor.

[2019-09-03 16:41] #13645 closed

[2019-09-03 16:41] Tratcher commented on #13333
They should be IOExceptions 😁, or at least derived from IOExceptions.

With the form reader in the middle it might be a bit trickier, it may wrap the IOExceptions.

[2019-09-03 16:45] mkArtakMSFT commented on #13643
Thanks for contacting us, @justinushermawan .
This should already be possible using RenderFragments: https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#child-content.
Have you tried this out already?

[2019-09-03 16:45] #13538 closed

[2019-09-03 16:46] rynowak commented on #13538
Thanks @tomkerkhove

[2019-09-03 16:48] mkArtakMSFT commented on #13642
Thanks for contacting us, @snerting .
Can you please share the error stack trace so we can better understand what's going on here.
@BrennanConroy is this a known issue in SignalR?

[2019-09-03 16:49] tomkerkhove commented on #13538
My pleasure Ryan!

[2019-09-03 16:52] vertonghenb commented on #13630
`WASM: '<' is an invalid start of a value. Path: $ | LineNumber: 0 | BytePositionInLine: 0.`

Can you show some code to hulp us out?

[2019-09-03 16:52] mkArtakMSFT commented on #13630
Thanks for contacting us, @sbuchok.
This seems to be something related to your code.
While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-blazor** tag.

[2019-09-03 16:52] BrennanConroy commented on #13642
I don't know of any null refs currently. The stack traces for them would be great.

You shouldn't be required to enable WebSockets as the connections should fall back to LongPolling, but it is definitely prefered to use WebSockets.

And when you add the Azure SignalR Service you no longer need to turn on WebSockets because the Service is the one accepting WebSocket connections now and not the App

[2019-09-03 16:53] mkArtakMSFT commented on #13629
Thanks for contacting us, @Sheko007.
We track the fix for this as part of #10643

[2019-09-03 16:53] #13629 closed

[2019-09-03 16:54] BrennanConroy commented on #13612
https://blogs.msdn.microsoft.com/sql_protocols/2009/03/09/understanding-the-error-an-operation-on-a-socket-could-not-be-performed-because-the-system-lacked-sufficient-buffer-space-or-because-a-queue-was-full/

Looks like that error generally means there is something using a lot of the networking stack on your machine and so your process is unable to make a new connection.

If that error is being r

[2019-09-03 16:57] mkArtakMSFT commented on #13619
Thanks for contacting us, @stavroskasidis.
This is not something we can support.

[2019-09-03 16:57] #13619 closed

[2019-09-03 16:59] mkArtakMSFT commented on #13610
Thanks for contacting us, @harleydk.
We will look into this to see how we can improve this area to make it simpler to use in the near future.

[2019-09-03 17:01] sbuchok commented on #13630
I have a feeling it has to do with the fact that my code is Preview7 while Preview8 is installed on Azure for .Net Core 3. It is also good to post these issues here with their resolution so that someone else using Blazor who gets the same issue will be able to hopefully find an answer easier.

[2019-09-03 17:01] Legends commented on #13578
`Ctrl+F5` works, but as you said unacceptably slow.
I only need live edit in debug mode, I guess it makes no sense during release.

[2019-09-03 17:01] mkArtakMSFT commented on #13607
Thanks for contacting us, @ctrl-alt-d.
We did change the behavior in this area in Preview9.

[2019-09-03 17:01] #13607 closed

[2019-09-03 17:06] BrennanConroy opened #13651 "SignalR sends incomplete JSON in socket frames when using new System.Text.Json Serializer"
_From @suedama1756 on Tuesday, September 3, 2019 5:02:57 PM_

3.0.100-preview8-013656

SignalR JS Client: 3.0.0-preview6.19307.2

We have an issue where SignalR is sending incomplete JSON in a socket frame to the browser which results in an error in the signalr client.

[code]

The issue does not occur when using the NewtonSoft JSON serializer. It looks like the JSON buffer is not being flushed co

[2019-09-03 17:06] mkArtakMSFT commented on #13601
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-09-03 17:09] suedama1756 commented on #13651
To be clear, this only occurs when using the System.Text.Json serializer.

[2019-09-03 17:13] BrennanConroy commented on #13651
Do you have a sample app that we can reproduce this behavior with? Have you changed the default serializer options?

[2019-09-03 17:13] mkArtakMSFT commented on #13599
Thanks for contacting us, @iguanaware.
In Preview8 pre-rendering is a separate render than the actual rendering. So that's expected.
In Preview 9 we don't run the `OnAfterRenderAsync` as part of pre-rendering.

[2019-09-03 17:13] #13599 closed

[2019-09-03 17:14] mconnew commented on #13295
@tmds, the backlog argument to Socket.Listen isn't back pressure. That's a buffer to accommodate bursts of incoming connections that the app isn't calling Accept fast enough to handle. If you have 0 listen backlog configured, then the OS will deny any incoming connections if there isn't an available pending Accept. That isn't what I need solved. When you are CPU contended, the OS gives each thread

[2019-09-03 17:16] mkArtakMSFT commented on #13596
Thanks for contacting us, @Legends.
We will look up for more customer feedback regarding this and if we see confusion by more people we will try to update docs accordingly.

[2019-09-03 17:16] #13596 closed

[2019-09-03 17:17] mkArtakMSFT commented on #13595
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-09-03 17:18] suedama1756 commented on #13651
I don't have an isolated sample although it may be possible to put one together. The configuration is pretty much the default new aspnet project template in VS2019.

[code]

We are using a hub with a stream configured using an unbounded Channel Reader

[2019-09-03 17:19] mkArtakMSFT commented on #13594
Thanks for contacting us, @helloserve .
@javiercn can you please investigate this to see whether there is anything to be fixed for 3.1? Thanks.

[2019-09-03 17:20] #13591 closed

[2019-09-03 17:22] BrennanConroy commented on #13651
Could you provide the method(s) in `ViewServerHub` that you're observing the issue with? And would it be possible to grab logs and or network traces of the partial message? https://docs.microsoft.com/en-us/aspnet/core/signalr/diagnostics?view=aspnetcore-2.2

[2019-09-03 17:25] mkArtakMSFT commented on #13578
We know that the Ctrl+F5 experience is not fast enough. We have a work item on our backlog as part of which we will be looking into improving this experience: #5456

[2019-09-03 17:25] #13578 closed

[2019-09-03 17:30] Legends commented on #13596
At least adapt the docs if everything else is too much work. Thanks

[2019-09-03 17:31] mkArtakMSFT commented on #13631
Thanks for contacting us, @andrewduffy77.
@javiercn can you please look into this? Thanks

[2019-09-03 17:32] dpedrelli commented on #13221
@halter73

I'm uploading an Excel spreadsheet that is 50.2 MB.

When hosting the MVC app on Azure, I simply get:
`The resource you are looking for has been removed, had its name changed, or is temporarily unavailable.`
Without any error numbers.

When I run the app inside of VS, with IIS Express, and pointing the data connection to an Azure database, I get:
`
HTTP Error 404.13 - Not Found
The requ

[2019-09-03 17:33] mkArtakMSFT commented on #13616
Thanks for contacting us, @TonyWoo.
This is not something we've heard community ask for in the past. So we don't have plans to do this.
This would make a great community project.

[2019-09-03 17:33] #13616 closed

[2019-09-03 17:35] mkArtakMSFT commented on #13602
Thanks for contacting us, @taori. Glad that you've found a solution. We don't have plans for providing such an analyzer in the near future.

[2019-09-03 17:35] #13602 closed

[2019-09-03 17:36] mkArtakMSFT commented on #13593
Thanks for contacting us, @naveedahmed1.
Spa pre-rendering is deprecated as part of https://github.com/aspnet/AspNetCore/issues/12890

[2019-09-03 17:36] #13593 closed

[2019-09-03 17:36] blowdart commented on #13649
Compression of user controlled, encryption data is a vulnerability waiting to happen (BEAST, CRIME etc)

Your assumption that the token can't be altered is incorrect. Take, for example, a facebook token. An attacker can change their profile name, and control what is sent. Injection of a randomly sized buffer is a mitigation, but the real solution is simply not to compress or to use reference cooki

[2019-09-03 17:41] mkArtakMSFT commented on #13636
Thanks for contacting us, @pappasa.
In the VS go to the `Extensions => ManageExtensions`, navigate to the `Installed` tab, locate the `Blazor` extension and select `Uninstall`:
![image](https://user-images.githubusercontent.com/34246760/64195892-6d131100-ce37-11e9-8f36-3c13e9055673.png)

[2019-09-03 17:41] #13636 closed

[2019-09-03 17:47] Pilchie commented on #4914
@dougbu I'm assuming any further tests coming wouldn't be in the Preview 9 branch, right?  Can we update the milestone for this?

[2019-09-03 17:48] Pilchie commented on #13300
@rynowak Are we still doing this?

[2019-09-03 17:50] Pilchie commented on #11206
Poaching.

[2019-09-03 17:50] Tratcher commented on #6505
Moving out of 3.0 as this is not blocking anything.

[2019-09-03 17:52] naveedahmed1 commented on #13593
Thanks for the update @mkArtakMSFT then what's the recommended solution for SSR for Angular applications?

[2019-09-03 17:52] Pilchie commented on #11108
@davidfowl I know you did a bunch of work here - should this issue be closed now?

[2019-09-03 17:53] Tratcher commented on #6505
Note this is regarding a WebSocket manual test asset WebSockets.TestServer, not Hosting's TestServer. https://github.com/aspnet/AspNetCore/blob/1f6d235a5e7fd9427c96b7508610c5d3401a1571/src/Middleware/WebSockets/samples/TestServer/WebSockets.TestServer.csproj

[2019-09-03 17:56] vsfeedback opened #13654 "After upgrading my blazor solution from .net Core 3 Preview 6 to Preview 8 I'm getting Intellisense errors"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/716175/after-upgrading-my-blazor-solution-from-net-core-3.html)._

---
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0234	The type or namespace name 'Layouts' does not exist in the namespace 'Microsoft.AspNetCore.Components' (are you missing an assem

[2019-09-03 17:59] Tratcher commented on #13359
Breaking change. I don't recommend it, 303 is not used or supported as broadly as 302.

[2019-09-03 18:04] danroth27 commented on #13583
Given the number of users that have reported this we should just fix it.

[2019-09-03 18:04] pranavkm commented on #11391
Thanks for sharing the repro app. Our docs don't do a very good job of covering this, but when writing a custom model binder that does polymorphism, the expectation is that you tell the validation system what the model type is. In the absence of this, MVC uses the declared model type.

I made changes to your app to use the built-in validation system, but here's the change you need to make to get t

[2019-09-03 18:04] #11391 closed

[2019-09-03 18:08] davidfowl commented on #13295
Sounds like an implementation detail.

[2019-09-03 18:14] pranavkm opened #13656 "Verify implicit Required attribute with generic types, Dictionary<TKey, TValue> etc"
See https://github.com/aspnet/AspNetCore/issues/13512

[2019-09-03 18:17] julienGrd commented on #13645
I understand, but the change event seem to be fired
[code]

I receive the alert, but the setter of my property is not called

[2019-09-03 18:23] mkArtakMSFT commented on #13654
Thanks for contacting us, @vsfeedback.
There were some API changes made between these two releases, which require projects created using earlier previews to be adjusted. This comment summarizes the changes necessary to make your project work again: https://github.com/aspnet/AspNetCore/issues/13133#issuecomment-521508803

[2019-09-03 18:23] #13654 closed

[2019-09-03 18:26] tmds commented on #13295
In both cases it's implementing a limited queue. I'm not sure when it fits the name backpressure and when not.

How do you prevent this being used to do some attack in the form: make a nr of connections that perform a handshake in the slowest way possible? This stops real clients from making connections.

[2019-09-03 18:37] ajaybhargavb commented on #12541
Here is the [PR](https://devdiv.visualstudio.com/DevDiv/_git/WebTools/pullrequest/199954) with the fix.

[2019-09-03 18:44] halter73 commented on #13333
@Tratcher is right. Technically it's a Microsoft.AspNetCore.Connections.ConnectionResetException, but I'd catch any IOException.

[2019-09-03 18:56] suedama1756 commented on #13651
OK, I've tracked down the issue and as is always the way with these things its not where I thought it would be. The issue is failure to serialize some double values (Infinite, NaN). I put in a custom double converter quickly and this seemed to resolve the issue. Interesting I could not replicate the exact issue even with a cut down example, instead I get a "Invocation canceled due to the underlyin

[2019-09-03 18:58] halter73 commented on #13221
Have you taken a look at the eventlog.xml and/or stdout_{datetime}.log files in the LogFiles directory? It doesn't look like the request made it to the dotnet process, so I'd look at eventlog.xml first to see if it has any info as to why the request was rejected.

Also, the `<system.web>` section of your web.config shouldn't have any effect since that's used by "classic" System.Web ASP.NET and not

[2019-09-03 18:58] snerting commented on #13642
Her is what i see in console log for browser when SignalR is enabled and running local, I have also added output from Visual Studio. Hope this can help.

## Image below show what happend when click on Home, then on Customer(tenants)

![image](https://user-images.githubusercontent.com/1882879/64199565-e1c36b00-ce8a-11e9-9241-7566a3a3cd14.png)

#### Output from the web server (Visual Studio):

info:

[2019-09-03 19:16] rasitha1 commented on #13649
Yes my assumption was that user controlled examples given in #79 such as the profile name were not enough for the attacker to see a difference esp. if a buffer was used.

However, if you strongly feel it's not safe or have the slightest (practical) possibility of introducing a vulnerability, I agree it's best for us to use another option.

You mentioned

In our use case, the majority of the claims

[2019-09-03 19:21] dougbu commented on #4914
@Pilchie your assumption was correct 😺

[2019-09-03 19:33] javiercn commented on #13631
@andrewduffy77 thanks for reaching out.

Seems like you are configuring the application manually. In that case you need to also adjust the configuration on the client-side code in authorizeService.js to match your preferred configuration on the server.

Hope that helps.

[2019-09-03 19:33] #13631 closed

[2019-09-03 19:41] blowdart commented on #13649
I'd use claims transformation for that and cache the results within your app for as long as you feel is appropriate.

[2019-09-03 19:51] rasitha1 commented on #13649
For this "caching" of the results/claims in my app, is it safe to use a compressed & encrypted cookie?

[2019-09-03 19:53] danroth27 commented on #8177
Closing as we are done with feature work for 3.0! Wohoo!

[2019-09-03 19:53] #8177 closed

[2019-09-03 19:55] danroth27 commented on #9138
This has been fixed in the latest VS preview.

[2019-09-03 19:55] #9138 closed

[2019-09-03 19:56] danroth27 commented on #8166
This is fixed in the latest VS preview.

[2019-09-03 19:56] #8166 closed

[2019-09-03 20:06] blowdart commented on #13649
I would say no, put it in a redis cache or something that's kept server side and shared between instances.

[2019-09-03 20:19] BrennanConroy commented on #13642
Could you check `System.NullReferenceException` in the Exception Settings in VS so you are able to see the null ref when it occurs? It looks like you might have a null ref in `UserManagementHttp` but it's hard to tell from the info here so far.

![image](https://user-images.githubusercontent.com/7574801/64205669-62fc0d00-ce4d-11e9-9a67-b93b593cc6d9.png)

[2019-09-03 20:21] mconnew commented on #13295
We have a configurable timeout which limits how long a connection is allowed to take to perform the handshake. net.tcp isn't an internet protocol, it's a LAN or WAN protocol so you are running inside a trusted network. If you have a malicious host in your LAN, it's already game over as it can do things like MAC address spoofing, mess with BGP routing, mess with DHCP to do MITM attacks, perform DNS

[2019-09-03 20:27] BrennanConroy commented on #13651
Unfortunately due to the way we write messages there is no way to send a valid message to the client on serialization errors. You should see a server-side log at the Debug level with the exception that caused the client to disconnect.

When you saw the partial frames were you running the app through the debugger? Normally the connection should close immediately, but if a debugger is attached the c

[2019-09-03 20:35] JohnKiller commented on #5562
Since #8177 has been closed and this issue is now in the backlog, if I want to start using Blazor, how should I prepare for this feature when it will be available? Because if the user state needs to be serializable, this must be a key  decision during initial application design.

My concern is that if I implement blazor right now, when this issue gets fixed it will be implemented in a way that is

[2019-09-03 20:45] wpitallo commented on #13612
Thank you

[2019-09-03 20:45] #13612 closed

[2019-09-03 20:45] grahamehorner commented on #11913
@mkArtakMSFT any update with regards this ? I've completely rebuilt a development system from scratch and I'm still having the same issue.

[2019-09-03 20:47] mkArtakMSFT commented on #9729
@mdpopescu I've put together a sample showing how to do this: https://github.com/mkArtakMSFT/Samples/blob/master/CustomPageRouteConvention/Conventions/DefaultRouteRemovalPageRouteModelConvention.cs

Hope this helps.

[2019-09-03 21:01] mkArtakMSFT commented on #11913
Ping @aspnet/build

[2019-09-03 21:06] halter73 commented on #13651
Maybe we should make this a warning log since this is indicative of a bug in an app.

[2019-09-03 21:07] roberthannon commented on #13632
Thanks for clarifying!

It's kind of weird behavior in my opinion, but I think we can live with it for now.

As for the error message: the antiforgery validation returns a 400 status code and as far as I can tell there's no way to determine that the token validation was the cause. This is what https://github.com/aspnet/AspNetCore/issues/4847 is about. If we could determine that then we could at le

[2019-09-03 21:09] mdpopescu commented on #9729
Thank you, much appreciated.

[2019-09-03 21:13] ryanbrandenburg opened #13658 "`dotnet build` on Components/Web.JS does not regenerate dist files"
Currently it seems that in order to regenerate the dist files you have to run `yarn build` by hand.

CC @pranavkm who guided me.

[2019-09-03 21:16] halter73 commented on #13628
Do you know if Stopwatch is actually guaranteed to be monotonic and continuous?

[2019-09-03 21:23] halter73 commented on #13613
We don't currently have UWP Background Support. This is our first time learning of ControlChannelTrigger. We'd be interested in seeing what an implementation of a SignalR client transport that supported this looked like. I'm not promising we'd accept a PR that added support, but we'd consider it.

[2019-09-03 21:26] halter73 commented on #13369
Closing this as we haven't heard from you and generally close issues with no response after some time. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-09-03 21:26] #13369 closed

[2019-09-03 21:26] halter73 commented on #13325
Closing this as we haven't heard from you and generally close issues with no response after some time. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-09-03 21:26] #13325 closed

[2019-09-03 21:27] halter73 commented on #13309
Closing this as we haven't heard from you and generally close issues with no response after some time. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-09-03 21:27] #13309 closed

[2019-09-03 21:47] pranavkm commented on #13585
We tried this out and could not reproduce it. Perhaps a point-in-time issue.

[2019-09-03 21:47] #13585 closed

[2019-09-03 21:51] dougbu commented on #11913
@grahamehorner I'm not sure exactly what causes `git` to exit with that code. I'm guessing the root cause is your relatively long path to the repo root. (AspNetCore has some rather long paths itself.)

Suggest either
1. `git clone --config core.longpaths=true` though some parts of the build may fail later.
2. Move the AspNetCore repo to something closer to the drive's root e.g. c:\DEV

[2019-09-03 21:53] dynamiclynk commented on #5592
I received this error because I was trying to @inject the wrong type and this was the general error that was thrown instead of a relevant error relating to finding the service in the collection\container.

[2019-09-03 21:57] jkotalik commented on #13565
@kofifus did that fix your issue?

[2019-09-03 21:58] JunTaoLuo commented on #8680
To follow up on this issue:
1. By design, I think we'll keep this step manual. We should be aware of all the API breaking changes we're making.
2. This should be a non-issue if autocrlf is configured locally. Even if there's a warning `warning: LF will be replaced by CRLF`, the file will be ignored when you execute `git add`. There is a case to be made for ignoring whitespace changes during CodeCh

[2019-09-03 21:59] jkotalik commented on #13541
Shouldn't it also be
[code]
instead of Microsoft.NET.Sdk?

[2019-09-03 22:03] andrewduffy77 commented on #13631
It was all working fine on preview 7, then I moved to preview 8 and it stopped working.

@javiercn is the real issue here that implicit flow is no longer working in preview 8? And thus I need to move to using authorization code?

[2019-09-03 22:03] vsfeedback opened #13661 "blazor .netcore 3 Razor Task and void Param without async/await"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/711224/blazor-netcore-3-razor-task-and-void-param-without.html)._

---
[regression] [worked-in:16.3.0 Preview 2.0]
What steps will reproduce the problem?
1.Make a Blazor Componnent . Razor
2. Using @onclick=&quot;Method(Param)&quot;
3.It will work on Method without Param on

[2019-09-03 22:07] roberthannon commented on #13632
Also (as you mentioned) I can solve the issue by adding:

[code]

This may be a naive question, but for antiforgery why is this insecure? Wouldn't an attacker still need to guess a valid `__RequestVerificationToken` which validates with the cookie they cannot read?

And if any authentication cookies are set to `SameSiteMode.Lax` or above then an attacker should only be able to attack anonymous rou

[2019-09-03 22:08] danroth27 commented on #9851
@Legends That sounds pretty bad ☹️. To help diagnose your issue could you please report a Visual Studio Feedback ticket with the details on the problem you are seeing using the "Send Feedback" feature in VS? That will help us pin down what is happening for the specific VS version you are using.

[2019-09-03 22:11] mkArtakMSFT commented on #13661
Thanks for contacting us.
To pass arguments to event handlers, you can use lambda expressions, as it is shown below:
![image](https://user-images.githubusercontent.com/34246760/64212061-030d6280-ce5d-11e9-8697-735280375b26.png)

Alternatively you can use pure JSInterop-based approach, as documented here: https://docs.microsoft.com/en-us/aspnet/core/blazor/javascript-interop?view=aspnetcore-3.0

[2019-09-03 22:11] #13661 closed

[2019-09-03 22:15] pranavkm commented on #13284
@tmat is there any thing you need to diagnose this further?

[2019-09-03 22:18] vsfeedback opened #13662 "ASP.Net Core 2.2. Dependency Injection. Exception after passing services to constructor."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/702479/net-core-22-dependency-injection-exception-after-p.html)._

---
<p>I have unhandled  exception of type 'System.StackOverflowException' occurred in System.Private.CoreLib.dll&quot;, when I pass service to constructor. I get this exception when I pass any service to th

[2019-09-03 22:23] danroth27 opened #13663 "Running 'dotnet clean' on a Blazor app doesn't remove contents of the obj folder"
Running 'dotnet clean' doesn't remove contents of the obj folder

Repro steps:
- `dotnet new blazorserver`
- `dotnet build`
- `dotnet clean`

Expected result:
- bin and obj folders are cleaned out

Actual result:
- Lots of stuff still in the obj folder

[2019-09-03 22:25] danroth27 commented on #13663
Similar issue with `dotnet new webapp`. Lots of stuff still in obj after a clean.

[2019-09-03 22:30] arivoir opened #13664 "Avoid calling StateHasChanged in EventCallback"
I know the documentation says this

https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0

But I actually need all the contrary. I need the ability to listen to a EventCallback and do not recreate all ui of the parent just because an event was listened. Is there any way to do this?

[2019-09-03 22:32] wli3 opened #13665 "VS 2019 16.2.2 and .Net core .2.2.6 SDK 2.2.401"
_From @vsfeedback on Tuesday, September 3, 2019 10:25:22 PM_

_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/697682/vs-2019-1622-and-net-core-226-sdk-22401.html)._

---
Hi ,
I have updated VS 2019 to 16.2.2.  Installed .net core 2.2.6 (sdk 2.2.401)
I can't upgdate my asp.net core  project to use .net core 2.2.6.

C:\&gt

[2019-09-03 22:32] wli3 commented on #13665
_From @mkArtakMSFT on Tuesday, September 3, 2019 10:28:07 PM_

@livarcocc can you please move this over to aspnet/AspNetCore repo? Thanks!

[2019-09-03 23:15] SidShetye opened #13667 "UserManager cannot verify email verification tokens generated by identical UserManager in another process"
### Describe the bug

ASP.NET Core Identity's `UserManager` class is unable to validate email verification tokens if those tokens are created in an identically configured `UserManager` instance in another process. This happens even if the services, EF models and the underlying databases are identical.

### To Reproduce

Issue is reproduced at this repo: https://github.com/SidShetye/UserManagerToke

[2019-09-03 23:28] sbuchok commented on #13630
Ok, I have upgraded my project and still the same issue. I now created a new project based off of the templates. I ran it local without modifications and it works. I then publish it and the Get request isn't working. I am now very convinced that it is not my code.

You can see the issue here: http://daringclub.azurewebsites.net/fetchdata

If there is a template and it's always recommended to use A

[2019-09-03 23:44] kofifus commented on #13565
No, but I ended up getting Apache to forward https to kestrel http which works. I guess this can be closed thanks.

[2019-09-04 00:14] geoffkizer opened #13668 "Add configuration to increase or disable client RST_STREAM rate limiting"
ASP.NET is rate-limiting client-initiated stream cancellation (i.e. RST_STREAM from the client). When it determines that the client is cancelling too many streams, it will start failing new streams with ENHANCE_YOUR_CALM. See discussion here: See https://github.com/dotnet/corefx/issues/40663#issuecomment-527611116

This makes it hard to perform stress testing, particularly with certain settings li

[2019-09-04 00:17] blowdart commented on #13667
In this case you need to configure data protection to use the same application name and keyring because apps are isolated by default.

See https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/configuration/overview?view=aspnetcore-2.2#setapplicationname

[2019-09-04 00:17] JunTaoLuo commented on #13615
This is unfortunately a byproduct of the design in 2.1 and 2.2, you'll need to reference Microsoft.AspNetCore.App in your test app as well. See further discussion at https://github.com/aspnet/AspNetCore/issues/3156#issuecomment-390018995.

[2019-09-04 00:26] davidfowl commented on #11108
Yes, actually @glennc modified the spread sheet and we ended up chasing down a bunch of deps.

[2019-09-04 00:26] #11108 closed

[2019-09-04 00:37] rynowak commented on #13408
Sorry for the delay, it was a holiday weekend here.

I think I've been giving you confusing answers thus far. Here's a sample that works, and properly routes errors.

[code]

[2019-09-04 00:38] rynowak commented on #13408
Reopening this for consideration. I'd like to see if there's a way we can make `OnPasswordChanged` unnecessary in this case (chained bind)

[2019-09-04 01:00] dpedrelli commented on #13221
@halter73
I must have misread the number in web.config.  I looked at it quickly and thought it was much larger.  I had a web.config with a larger number.  Apparently, I put it in wwwroot and it needs to be in the project root.  It works, now.

Thanks.

[2019-09-04 01:00] #13221 closed

[2019-09-04 01:30] SidShetye commented on #13667
Ok, that adds up and I can confirm that using the same app name makes it work across processes.

[2019-09-04 01:30] #13667 closed

[2019-09-04 02:40] #13565 closed

[2019-09-04 03:16] rasitha1 commented on #13649
Thanks for your input and direction. Much appreciated.

[2019-09-04 03:16] #13649 closed

[2019-09-04 04:16] marcuslindblom commented on #13626
I don't really understand what you mean by temp external cookie and long term cookie. The docs suggest using `ClaimActionCollectionMapExtensions`
? Are there any real example in the docs or can you provide me with one?

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/additional-claims?view=aspnetcore-3.0#creating-and-adding-claims

[2019-09-04 04:42] Tratcher commented on #13626
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/additional-claims?view=aspnetcore-2.2#map-user-data-keys-and-create-claims gives examples for setting up which external fields you want to save as claims (MapJsonKey).  These are stored in a temporary cookie usually named IdentityConstants.ExternalScheme.

The second example in that section covers OnPostConfirmationAsync a

[2019-09-04 05:18] ichensky commented on #13630
It works even without azure, you can use any windows/linux hosting provider.
If your code works on your PC, then it should works the same at any another machine where installed .net core. Seems, you not correctly deploy your code.

[2019-09-04 06:19] justinushermawan commented on #13643
Yes, I have. But it's just look like the _layout composition_ (the child content was supplied by the parent). Whereas, what I need is more to the OO inheritance concept where the child can inherit the parent render template and it supplies its own content as the children element of its parent.

[code]

[2019-09-04 06:36] drauch commented on #13615
Oh, ok, that worked. It's a bit cumbersome. Let's hope you guys find a better solution someday.

[2019-09-04 06:36] #13615 closed

[2019-09-04 06:38] kierenj commented on #13541
I dont know - is that a question for me? The migration doc didnt seem to mention it?

[2019-09-04 06:45] LindaLawton commented on #4659
@brockallen  this link is dead do you have an updated link?

[2019-09-04 06:52] stavroskasidis commented on #13619
May I ask why? Is this a technical reason ? It seems to me that it should't be that hard to implement.
From the top of my head, and sorry if this is completely nonsensical, what about this approach:

This line here
[code]
would generate an attribute on the generated class, something like

[code]

And then in the context of a `.razor` file, the razor compiler would generate an automatic inference b

[2019-09-04 07:22] snerting commented on #13642
Hi @BrennanConroy

You have right, it's a null pointer. And reason is that HttpContectAccessor don't have any HttpContext, so this is the line of code who cause the problem:
[code]
![image](https://user-images.githubusercontent.com/1882879/64233854-6a76f100-cef5-11e9-80e1-f5acc5dc0b51.png)

This give the following output:
Microsoft.AspNetCore.Routing.EndpointMiddleware: Information: Executing endp

[2019-09-04 07:32] Tragetaschen commented on #13628
My read on the documentation is that Stopwatch uses a monotonic counter as a backing store and looking through the code, that claim is backed:
- Windows uses QueryPerformanceCounter and debug-asserts that it works (available since XP)
- On Linux [it uses a CLOCK_MONOTONIC](https://github.com/dotnet/corefx/blob/v3.0.0-preview9.19421.4/src/Native/Unix/System.Native/pal_time.c#L88), again with an ass

[2019-09-04 07:42] damienbod commented on #4659
@LindaLawton

example is here now

https://github.com/IdentityServer/IdentityServer4/tree/master/samples/Clients/src/MvcHybridBackChannel

[2019-09-04 08:06] Stamo-Gochev opened #13671 "Event arguments"
This is about blazor.

### Is your feature request related to a problem? Please describe.
Currently, event bubbling works in blazor, but there isn't a way to find out which child element triggered the event.

For example:
[code]
Clicking on `div2` will trigger the `OnClick` handler, but you need to make a JS call in order to find out which element was actually clicked - `div2` or `div3`.

### Desc

[2019-09-04 08:06] peval27 commented on #13634
@Tratcher I've checked with Wireshark and each request is opening a new TCP connection (so a total of 10). I guess the culrpit could be the HttpClient:

`var httpHandler = new HttpClientHandler
            {
                UseDefaultCredentials = true
            };

            var client = new HttpClient(httpHandler);

            client.BaseAddress = new Uri("http://host:5000/");
            f

[2019-09-04 08:53] egil commented on #13296
@rynowak thanks for the input. Been busy at the (paying) job so completely forgot about this.

I will see how I can use you say to build up a stable service and components now that P9 is about to land.

[2019-09-04 08:53] sheryever commented on #1528
@ststeiger please my account too sheryever

[2019-09-04 09:04] SQL-MisterMagoo commented on #13296
@rynowak thanks for opening up this discussion. I'll try to map out a scenario where IComponentContext made things a bit better.

So, a simple example would be an IClientRegionService that is obviously in the DI container as a specific implementation - this service needs to read some information from the client browser (let's not worry about how valid the information is - for our purposes it works

[2019-09-04 09:07] tmds commented on #13295
@mconnew thanks for the interesting and detailed response. So this is to maintain performance with high nr of concurrent accepts, and not for security.

[2019-09-04 09:14] egil commented on #13296
@SQL-MisterMagoo I think your scenario is somewhat similar to the one I posted in the original issue, adding it here for additional context: https://github.com/aspnet/AspNetCore/issues/12082#issuecomment-521460786

[2019-09-04 09:27] javiercn commented on #13594
This is by design. You need to set the base path for the document using `<base href="~/" />` inside the `head` tag of your html page. Alternatively you can manually start blazor as in
[code]
although this second solution might prevent links from working properly.

[2019-09-04 09:27] #13594 closed

[2019-09-04 09:33] javiercn commented on #13594
Filed an issue to track improving the docs https://github.com/aspnet/AspNetCore.Docs/issues/14134

[2019-09-04 09:47] javiercn commented on #13631
@andrewduffy77 Implicit flow is still supported by Identity Server, our integration package and templates recommends and defaults to code + PKCE.

Is there any reason why you are configuring Identity Server manually instead of using the preconfigured app/api on the template?

[2019-09-04 10:17] DFPercush commented on #12712
Open a Powershell
``` dotnet new -i Microsoft.AspNetCore.Blazor.Templates::3.0.0-preview8.19405.7 ```
The current version can be obtained from https://www.nuget.org/packages/Microsoft.AspNetCore.Blazor.Templates
 - substitute the latest version after the ``` :: ```
Credit to Tim Corey https://www.youtube.com/watch?v=CaxR4_fP-FA

I don't think this is necessary, but as part of my troubleshooting I'

[2019-09-04 10:46] andrewduffy77 commented on #13631
We manually configured the client as we wanted to be able to set / change the AccessTokenLifetime. There was no way to do it otherwise.

So you're saying move to authorization code + PKCE for preview 8?

[2019-09-04 10:49] sbuchok commented on #13630
@ichensky I believe you are 100% correct. Apparently when I'm deploying, I'm only deploying the Client and Shared projects. So, because the Server project is probably not getting deployed, that would cause a GET request to return the index page and POST request to not be allowed. All the deployment examples I've seen only show either just the Client or Server, but not both in the same solution. So

[2019-09-04 10:49] #13630 closed

[2019-09-04 10:53] SQL-MisterMagoo commented on #13296
@egil Yeah, I guess so, I think my underlying feeling is that it's not 100% components that need to care about connected state.

[2019-09-04 11:24] javiercn commented on #13631
@andrewduffy77 Yes, or manually configure the client-side code in authorizeService.js

[2019-09-04 13:05] GSPP commented on #13651
I understand the response is being streamed so that errors have nowhere to go. Would response buffer help? Classic ASP.NET buffers responses by default and replaces them entirely in case of error.

[2019-09-04 13:13] Yen commented on #13296
We are using a system that gets the clients timezone on blazor server side for use in components. At first it was done by a service that defaulted to a predefined timezone when IComponentContext was not connected. Now it has been moved over to a cascading parameter in the main layout (arguably a better API anyway), but still faces the same issue with pre-rendering where we have to use a default fa

[2019-09-04 13:18] egil commented on #13296
@Yen from preview 9, OnAfterRender* won't be called during prerendering anymore, so that should solve your main issue. There are however other reasons for JavaScript interop to fail, so you will probably still need some defensive code that does retrying for temporary issues.

[2019-09-04 13:21] Tratcher commented on #13634
Can you share the wireshark trace? We want to see who's closing the prior connection.

[2019-09-04 13:22] Tratcher commented on #13634
Also, is the client app also .NET Core 2.2 or something else? HttpClient has several implementations.

[2019-09-04 13:27] Yen commented on #13296
@egil I am not sure of the rational behind that decision, it seems to me that it just makes code more complex as the "OnAfterRender" function isnt being called after rendering, but that's a separate issue to this I think.
The problem I think I have with the current system is there is no way to invoke JSInterop before or during a prerender. I am aware that it is possible to work around all of these

[2019-09-04 13:30] peval27 commented on #13634
Client is .NET 4.5.2. I will upload the Wireshark trace as soon as possible.

[2019-09-04 13:31] Tratcher commented on #13634
Ah, for .NET 4.x you need to replace HttpClientHandler with WebRequestHandler and set UnsafeAuthenticatedConnectionSharing.

[2019-09-04 13:35] mrpmorris commented on #13595
I'll happily provide the resources, it's only a few lines of code :)

[2019-09-04 13:50] mylifelineio opened #13673 "Callback on Http.PutJsonAsync"
Is there a callback or return on Http.PutJsonAsync in Blazor?

### Describe the solution you'd like
A return of HttpResponse?

[2019-09-04 13:53] legistek commented on #5545
Has there been any news or progress on this? It's blocking me on a number of fronts. Is there any actual workaround currently besides handling the event in JS and invoking the C# handler manually?

[2019-09-04 13:55] dmarsh12 opened #13674 "Form Components throw error on Blazor with Preview 8 build"
### Describe the bug
Since updating to Preview 8, the form components Intellisense is showing that the <Input...> for <InputNumber>, <InputDate>, and <InputSelect> as an error. However, the project is able to build and run without any issues. The exact error message is: "The type of component <InputSelect> cannot be inferred based on the values provided. Consider specifying the the type arguments

[2019-09-04 14:02] ststeiger commented on #1528
@sheryever: Added.

[2019-09-04 14:48] csharpfritz opened #13676 "Server-side blazor with rendering errors races and consumes all memory"
#12637 ```# Describe the bug
While working with a server-side blazor project, when a NullReference error happens inside the razor file, the server races and all memory is consumed.  Consider the demo on video at:  https://www.twitch.tv/videos/476717145?t=00h33m29s

### To Reproduce
Steps to reproduce the behavior:
1. Using ASP.NET Core 3 preview 8, build a simple server-side blazor application
2.

[2019-09-04 14:51] csharpfritz commented on #13676
The project used in this video sample is at:  https://github.com/csharpfritz/Quiltoni.PixelBot

[2019-09-04 14:51] peval27 commented on #13634
So I tried with:
            var httpHandler = new WebRequestHandler
            {
                UseDefaultCredentials = true,
                UnsafeAuthenticatedConnectionSharing = true
            };

and the result is the same but using a single connection (both from Fiddler using the proxy and from Wireshark).

[2019-09-04 14:58] rynowak commented on #13676
would it be possible for you to collect a dump while this is happening?

[2019-09-04 14:59] rynowak commented on #13676
We've seen issues like this internally a few times, but never with a repro - usually the issue has already been fixed by the time it's reported and triaged.

[2019-09-04 15:09] Tratcher commented on #13634
Using the same connection saves you  at least 50% of the costs 😀.

Are the client and server on the same or different machines?

Everything is controlled by this structure:
https://docs.microsoft.com/en-us/windows/win32/api/http/ns-http-http_server_authentication_info

On localhost it only uses NTLM which has caching enabled by default and we don't disable (`DisableNTLMCredentialCaching`). If they

[2019-09-04 15:10] mkArtakMSFT commented on #13665
Thanks for contacting us.

Please provide details about what's the issue you're facing so we can better understand the problem.

[2019-09-04 15:11] #13583 closed

[2019-09-04 15:22] peval27 commented on #13634
Different machines. You're saying it's a genuine bug?

[2019-09-04 15:24] pranavkm commented on #13638
Is there a reason your view model derives from `ComponentBase`:

[code]

It's never initialized by Blazor, which explains the stack trace you're seeing when it's handling an event.

[2019-09-04 15:42] Tratcher commented on #13668
See https://github.com/aspnet/AspNetCore/issues/13097 for the main thread discussing how we handle these.

[2019-09-04 15:57] mkArtakMSFT commented on #13593
The recommendation is to rely on the SPA framework provided SSR capabilities. For Angular, SSR support is now integrated into Angular CLI. Here is a good article about it: https://medium.com/@MarkPieszak/angular-universal-server-side-rendering-deep-dive-dc442a6be7b7

[2019-09-04 16:20] mkArtakMSFT commented on #13674
Thanks for contacting us, @dmarsh12.
Please make sure you're using the latest VS 2019 Preview release.

[2019-09-04 16:20] #13674 closed

[2019-09-04 16:22] mkArtakMSFT commented on #13673
Thanks for contacting us, @mylifelineio.
We'll be tracking support for this as part of #11725

[2019-09-04 16:22] #13673 closed

[2019-09-04 16:24] mkArtakMSFT commented on #13671
Thanks for contacting us, @Stamo-Gochev.
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-09-04 16:26] philburns-72 commented on #13509
Hi, I'm still stuck with this - can anyone help?
Trying to authenticate O365 users on my web app, have followed the instructions on "Microsoft Account external login setup with ASP.NET Core" but I can't get past this point:
<C:\AZURE Live\HCPTAzure2020>dotnet user-secrets set Authentication:Microsoft:ClientID "dea3e5cd-be3f-4f46-b9f2-cf1fab76c3cb"
Could not load the MSBuild project 'C:\AZURE Live\

[2019-09-04 16:26] philburns-72 commented on #13509
[code]Microsoft Account external login setup with ASP.NET Core[/code]

[2019-09-04 16:28] philburns-72 commented on #13509
Hi, I'm still stuck with this - can anyone help?
 Trying to authenticate O365 users on my web app, have followed the instructions on "Microsoft Account external login setup with ASP.NET Core" but I can't get past this point:
 < C:\AZURE Live\folder>dotnet user-secrets set Authentication:Microsoft:ClientID "88888888-8888-8888-8888-888888888888"
 Could not load the MSBuild project 'C:\AZURE Live\fol

[2019-09-04 16:29] mkArtakMSFT commented on #13487
@ajaybhargavb is this something you can handle?

[2019-09-04 16:31] mkArtakMSFT commented on #13643
Thanks @justinushermawan.
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-09-04 16:31] mkArtakMSFT commented on #13643
/cc @SteveSandersonMS

[2019-09-04 16:37] danroth27 opened #13679 "Create Blazor Server App with IndAuth > F5 and register > Click the user name > Click Logout, it doesn't work."
_From @v-yuyul on Tuesday, September 3, 2019 9:18:42 AM_

**Repro Configuration**: Win10 x64 19H1 ENU + Dev16.4 preview 1 (Preview channel : pre-release-build)VSC + Feed
**.NET Core SDK (CLI) Version**: 3.0.100-preview9-014004
**.NET Core runtime Version**: 3.0.0-preview9-19423-09

**Testcases Affected:** [[3.0] SimpleWebAppWithServerSideBlazorIndAuth](https://github.com/aspnet/Tooling-ManualTests

[2019-09-04 16:37] danroth27 commented on #13679
_From @mkArtakMSFT on Tuesday, September 3, 2019 3:20:57 PM_

@javiercn can you please investigate this? Thanks!

[2019-09-04 16:37] danroth27 commented on #13679
_From @javiercn on Tuesday, September 3, 2019 4:15:17 PM_

This is a bug on the template.

/Areas/Identity/Shared/_LoginPartial.cshtml should have the content below. (With a form instead of a link)

[code]

This is the piece we need to change
[code]

[2019-09-04 16:37] danroth27 commented on #13679
_From @javiercn on Tuesday, September 3, 2019 4:16:41 PM_

@mkArtakMSFT @danroth27 We can fix this in 3.1, the workaround is described above. We can add it to the list of known issues.

Can you move it to the asp.net core repo?

[2019-09-04 16:57] SteveSandersonMS commented on #13664
Could you give more information about your scenario? For example, I'm interested in whether it's a child causing an event on a parent, or vice versa, or something else. Would you be able to post some kind of really short code sample that characterises your scenario? I might be able to suggest ways to achieve what you want.

The other thing you can look at is overriding the `ShouldRender` method on

[2019-09-04 17:00] Tratcher commented on #13634
An un-exposed feature, yes.

There's a new alternative in 3.0 using Kestrel if that's an option for you. It does have the options available to enable/disable this kind of caching.
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/windowsauth?view=aspnetcore-3.0&tabs=visual-studio#kestrel
https://github.com/aspnet/AspNetCore/blob/e0ee04237af2fa58a525dbd63888894f62195f0a/src/Secur

[2019-09-04 17:00] SteveSandersonMS commented on #13643
Another solution worth considering is *not* to use inheritance, but instead use composition.

For example, let's say you have a `MyGenericDialog` component that takes a bunch of parameters like `[Parameter] RenderFragment Header { get; set; }` and `[Parameter] RenderFragment Body { get; set; }` and so on.

Then you can also declare a `MyCustomizedDialog` that itself renders a `MyGenericDialog`, pa

[2019-09-04 17:09] grahamehorner commented on #11913
@dougbu FYI, I've been able to clone the repo now by adding the --depth 1
I used the same path as previously detailed.

git.exe clone --progress --recursive -v --depth 1 "https://github.com/aspnet/AspNetCore.git" "C:\DEV\github.com\aspnet\aspnetcore"

Cloning into 'C:\DEV\github.com\aspnet\aspnetcore'...
POST git-upload-pack (190 bytes)
POST git-upload-pack (199 bytes)
remote: Enumerating objects:

[2019-09-04 17:13] grahamehorner commented on #11913
also please note that without --depth 1 with a short path the result is :-

git.exe clone --progress --recursive -v "https://github.com/aspnet/AspNetCore.git" "C:\DEV\AspNetCore"

Cloning into 'C:\DEV\AspNetCore'...
POST git-upload-pack (gzip 14225 to 6957 bytes)
remote: Enumerating objects: 32, done.
remote: Counting objects: 100% (32/32), done.
remote: Compressing objects: 100% (32/32), done.
fa

[2019-09-04 17:22] JunTaoLuo commented on #8680
Actually for 1. we have some ideas to run parts of reference assembly verification locally. cc @Tratcher

[2019-09-04 17:22] wli3 commented on #13665
I moved it from CLI to aspnet/AspNetCore per your request. @mkArtakMSFT https://github.com/dotnet/cli/issues/12478#issuecomment-527666186

[2019-09-04 17:35] TwentyFourMinutes commented on #13361
@JamesNK Well there is also the `.RequireHost` method on the `ControllerActionEndpointConventionBuilder`, but I can't see how you would map a subdomain to an area then.

[2019-09-04 17:49] Andrzej-W commented on #13610
@harleydk I think it is not a trivial task to optimize this at the framework level. As you have written we can use complex objects as parameters. Those objects can have references to other objects and so on. To be able to detect changes framework should make a deep copy of every parameter and then compare current values to old values. Take into account that you can inject services to your componen

[2019-09-04 17:49] Pilchie commented on #11206
Closing as this was fixed in 3.0.

[2019-09-04 17:49] #11206 closed

[2019-09-04 17:53] Tratcher commented on #8680
E.g. After a local build you can diff the built dll against the current ref assembly and warn if they don't match. This should be compatible with incremental build (e.g. skipped if an assembly is not re-built).

We could take this a step further and automatically update the ref assemblies if there are differences. The review for breaking changes will happen when you go to commit the change, and ag

[2019-09-04 17:55] Andrzej-W commented on #13664
Simply use `Action` instead of `EventCallback`. Read this: https://github.com/SQL-MisterMagoo/BlazorEventsDemo

[2019-09-04 18:07] #13627 closed

[2019-09-04 18:09] mkArtakMSFT commented on #4412
Closing as done.

[2019-09-04 18:09] #4412 closed

[2019-09-04 18:25] mkArtakMSFT commented on #7962
Thanks for your PR, @AndreasTruetschel. We still need to think through this. Looking into your workaround, it seems completely reasonable and is what we would recommend. So for now, we're closing your PR till we get a better idea about the direction we would like to take this.

[2019-09-04 18:35] jamescoffman23 opened #13681 "Create Blazor Server App with Windows Auth doesn't appear to work."
### Describe the bug
Windows Auth doesn't appear to work with Blazor Server application and IISExpress.

### To Reproduce
1. Create a new project for a Blazor serverside app with auth set to Windows Auth.
2. F5, app will run and display. Username does display in the header.
3. Navigate to counter page. Button clicks are not recognized.
4. Enable Anonymous Auth in the Settings
5. F5, username no lo

[2019-09-04 18:51] halter73 commented on #13628
If we change this is SignalR, we should probably consider doing the same for Kestrel timeouts. While it's probably not as likely to run on client devices with unreliable clocks like SignalR, it seems like the right thing to do.

[2019-09-04 18:51] Phylum123 opened #13682 "ASP CORE 2.2 Web API XML Format not working"
Hey guys, I wanted one of my controller actions in my core (2.2) web api to be able to reply in XML format as well as JSON. I read many articles online and nothing worked. In particular, the Microsoft DOCS article (https://docs.microsoft.com/en-us/aspnet/core/web-api/advanced/formatting?view=aspnetcore-2.2).

Following the above article, this is what I did:

1. I added the NUGET package:   `  <Pac

[2019-09-04 19:01] alimuzzaman opened #13683 "how to call an ASP.NET c# method using javascript"
https://stackoverflow.com/questions/7089760/how-to-call-an-asp-net-c-sharp-method-using-javascript#answer-7089956

Is what they did is doable in ASP.NET Core?

public static string RegisterUser(string email, string password){}

Is there any extension/something available for something similar?

I just don't want to mingle with AJAX myself.
I just want to call a C# method from JS and expect it to re

[2019-09-04 19:02] ryanbrandenburg commented on #11111
It's still not clear to me what the work item is here. The only instance I see of a `<script` tag having tag-helpery attributes still results in a script tag pointing to the file rather than an inlined script.

[2019-09-04 19:02] halter73 commented on #13651
Normal response buffering (where the entire response body is buffered prior to writing) wouldn't work for SignalR since it relies on response streaming. That does work reasonably well for catching and reporting MVC response serialization errors though.

We could consider serializing each frame into a buffer prior to writing it. We would probably want to make it opt-in in order to not degrade perf.

[2019-09-04 19:17] BrennanConroy commented on #13628
This specific case looks like the server was running on one of those devices so Kestrel would definitely have similar issues.

[2019-09-04 19:35] TonyTroeff commented on #11391
Thank you @pranavkm for helping me with this issue!

[2019-09-04 19:43] geoffkizer commented on #13097
@Tratcher In that scenario -- client receives response end of stream before it has finished sending the request body -- we expect that the server will send RST_STREAM with NO_ERROR if it's not interested in the rest of the request body. This is what the RFC suggests. Previously, we didn't handle this correctly, but it was fixed with https://github.com/dotnet/corefx/pull/40112

I think you are sugg

[2019-09-04 19:47] geoffkizer commented on #13668
The original description of #13097 is about server-initiated stream cancellation. But the same issue applies to client-initiated cancellation too, right? Both get treated as "dead streams" for some period of time?

[2019-09-04 19:55] Tratcher commented on #13668
Yes, I was just cross linking them as related.

Client reset streams count against the limit until the server is finished processing them at the app layer. Server reset streams are counted until a client end/reset or a timeout.

[2019-09-04 19:56] arivoir commented on #13664
I have a couple scenarios.

The first is a component which renders a grid of cells, to create a data-grid control. I'm listening to the onclick html event

The logic of the code invoked by this event is dynamic, it can depend on the kind of cells, or can even be customized by the customer using the grid.
There is no way to say before hand whether the event will do something or not.
The problem is

[2019-09-04 20:09] blowdart commented on #13623
Is this using app.UseMicrosoftAccount? How have you activated Microsoft Account? Can we see come code for your configuration? The way external logins work is we do the lookup and replace it with the actual identity user.

[2019-09-04 20:11] adexios opened #13684 "Razor Pages - Anchor tag helper not finding named page"
I have a page with the path "Orders/Dashboard" which I have shortened to "/dashboard" using the @page directive.

I tried putting in a link <a asp-page="dashboard">Dashboard</a> but the tag helper isn't resolving the page. However, if I put in <a asp-page="/Orders/Dashboard">Dashboard</a> it'll work fine.

I noticed that two pages in the same folder will recognize each other using the @page name,

[2019-09-04 20:11] blowdart commented on #13576
What is doing your login? What are you overriding in CreateAsync?

[2019-09-04 20:12] blowdart commented on #13439
Nothing else except some raw security code has these types of event hooks, it's not something we'd consider for identity, which is meant to be opinionated.

[2019-09-04 20:12] #13439 closed

[2019-09-04 20:13] blowdart commented on #13434
As this is out of scope for our identity service use, closing

[2019-09-04 20:13] #13434 closed

[2019-09-04 20:14] blowdart commented on #13385
Did you configure the keys in your production environment? @javiercn do you have any advice?

[2019-09-04 20:16] blowdart commented on #13321
This is definitely not what our templates are aimed at. You'd have to not use our opinionated templates, and ask the [Identity Server](https://github.com/IdentityServer) folks how to proceed.

[2019-09-04 20:16] #13321 closed

[2019-09-04 20:16] blowdart commented on #13294
We're closing this issue as no response or updates have been provided in a timely manner. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-09-04 20:16] #13294 closed

[2019-09-04 20:20] javiercn commented on #13385
Framework dependent won't work. It needs to be deployed self-contained. You also need a signing key to use in production as @blowdart mentions. This is described in the docs https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-api-authorization?view=aspnetcore-3.0#deploy-to-production

[2019-09-04 20:22] #13385 closed

[2019-09-04 20:33] Tratcher commented on #13097
Correct. Consider the example where the response is a 401 and the request will be retried with credentials. There's no point in continuing to send the request body, you're wasting resources. (I don't remember if you handle >= 4xx status codes differently at the moment).

A server may not send this until it receives additional data frames from the client. In the meantime you may have filled the con

[2019-09-04 20:36] BrennanConroy commented on #13642
`IHttpContextAccessor` does not work with SignalR very well or in some cases, at all. This is because oftentimes you will be trying to access the `HttpContext` outside of the scope of an actual HTTP request.

Where are you using the `TokenContainer` from? And is it possible to refactor it to not rely on `IHttpContextAccessor`?

[2019-09-04 20:50] suedama1756 commented on #13651
I think the suggestion of moving the log level to warning makes a lot of sense. As soon as I enabled debug logging I tracked the issue quickly.

I can't see why response buffering wouldn't technically work as it would be fairly trivial to write the JSON in memory (potentially backed by disk for large objects) before sending it down the socket. I agree though that this doesn't feel like the correct

[2019-09-04 21:04] HaoK commented on #13562
Things look like they are working as expected, I went with just a very basic reverse encryptor and just modified a new individual auth template like so:

[code]

[2019-09-04 21:06] alexandrereyes opened #13685 "Preview-9 where is AddComponent? Disable server side pre-rendering"
I'm trying to disable server side pre-rendering on preview-9: https://github.com/aspnet/AspNetCore/issues/9584
but AddComponent doesn't exists anymore, what should I do ?

[2019-09-04 21:35] JunTaoLuo commented on #4019
I'm writing a tool to help us in the future. It flags the dependency and reports the current version as well as the latest stable version on NuGet. It also lists src projects that uses it to help us prioritize/investigate impact. Note that test, sample, and other non src projects are excluded so some test only dependencies will not show any impacted projects.

Currently scanning AspNetCore gives:

[2019-09-04 21:49] kg opened #13686 "Can't build from source on Windows"
### Describe the bug
I followed the steps in https://github.com/aspnet/AspNetCore/blob/master/docs/BuildFromSource.md to build from source but can't get past the SDK requirement.

### Screenshots
![image](https://user-images.githubusercontent.com/198130/64294053-cc9a1b00-cf22-11e9-9545-d10b4726dfbc.png)

### Additional context
I've tried a few additional troubleshooting steps:
* A full update of V

[2019-09-04 21:51] kg commented on #13686
I should also note that the VS2019 option to enable preview SDKs is missing for me.
![image](https://user-images.githubusercontent.com/198130/64294336-64980480-cf23-11e9-921c-573f1062c400.png)

[2019-09-04 21:55] chanan opened #13687 "Blazor: Preview9 made HtmlRenderer & ComponentRenderedText internal"
Two Libraries (that I know of) use HtmlRenderer & ComponentRenderedText prior to previw 9. One is BlazorStyled: https://github.com/chanan/BlazorStyled and the other is Egil's testing library: https://github.com/egil/razor-components-testing-library

Both use it for the same reason, to get the content of ChildContent. It was used like so:

[code]

However as of Preview9 that is no longer possible a

[2019-09-04 22:00] Tratcher commented on #12125
"•	P0 - Chrome change (SameSite cookie - https://www.chromestatus.com/feature/5088147346030592) in Chrome 78 beta (Sep 19), and Chrome 80 stable (Jan 2020).
•	P1 - Safari change (ITP 2.2 included in iOS 12.3, already live)."

[2019-09-04 22:06] rxelizondo opened #13688 "Update to Visual Studio 2019 Preview Version 16.3.0 Preview 3.0 breaks Blazor core hosted."
I got prompted to update to Visual Studio 2019 Preview Version 16.3.0 Preview 3.0 a couple of minutes ago. OK, no problem, I was bored so I decided to go for it. The good new is that I am no longer bored, the bad news is that I am now upset because things broke.

To recreate the issue, upgrade to the latest version of Visual Studio, attempt to create a Blazor core hosted project and what the error

[2019-09-04 22:13] kg opened #13689 "Issues with documented 'build from source' flow on Debian"
### Describe the bug
Since I can't build from source on Windows I'm trying to build from source on Debian. The currently documented steps don't appear to work for my configuration.

### Steps taken
https://github.com/aspnet/AspNetCore/blob/master/docs/BuildFromSource.md says I need all the linux prerequisites, listed at https://docs.microsoft.com/en-us/dotnet/core/linux-prerequisites. I attempted

[2019-09-04 22:21] legistek opened #13690 "Blazor AOT WASM Compilation"
I hope I'm not duplicating an existing issue but I couldn't find any standing open issue on this.

Where do things stand with client-side Blazor and ahead of time (AOT) compilation to WASM? I feel like this has not been mentioned by anyone in a very long time. Is it even in the roadmap?

Blazor server-hosted (SignalR) performance is very good, but client-side is still unacceptable unfortunately.

[2019-09-04 22:22] danroth27 commented on #13687
@javiercn

[2019-09-04 22:27] kg commented on #13689
Some more notes:

The scripts don't identify outdated nodejs. Installing from packages doesn't give you a current node in PATH (not aspnetcore's fault, but maybe worth detecting) - you need to go download packages from the nodejs site and identify the right version.

The scripts also don't seem to notice a missing JDK on linux. Getting a current JDK on linux is kinda nonobvious, it may be worthwhi

[2019-09-04 22:36] Legends opened #13691 "UIMouseEventArgs missing in `Microsoft.AspNetCore.Components`"
Dotenet --info

<details>
<summary>Details</summary>

C:\WINDOWS\system32>dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   3.0.100-preview9-014004
 Commit:    8e7ef240a5

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.0.100-preview9-014004\

Host (useful for support):

[2019-09-04 22:39] EdCharbeneau commented on #10643
I'm running into the same issue. I was trying to use the compare validator to make an experience similar to GitHub's delete where the user must type a matching name to confirm deletion.

[code]

[2019-09-04 22:40] alexandrereyes commented on #13691
@Legends take a look: https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-9/

[2019-09-04 22:53] mkArtakMSFT commented on #13691
As @alexandrereyes has pointed out, this is an intentional change pointed out in 3.0 preview 9 blog post:

[2019-09-04 22:53] #13691 closed

[2019-09-04 22:54] mkArtakMSFT commented on #13690
Thanks for contacting us.
This is actually something we do track https://github.com/aspnet/AspNetCore/issues/5466

[2019-09-04 22:54] #13690 closed

[2019-09-04 22:57] mkArtakMSFT commented on #13688
Thanks for contacting us, @rxelizondo.
Can you please show the output of `dotnet --info` as well as share your project file?

[2019-09-04 22:57] legistek commented on #13690
Sorry, I don't know how I missed that! Thank you

[2019-09-04 23:07] rxelizondo commented on #13688
The project files can be obtain by simply creating a brand new Blazor core hosted project using the built in temple. The try running the project and you will get a couple of errors:

`Error	CS0006	Metadata file '...\BlazorApp9\BlazorApp9\Client\bin\Debug\netstandard2.0\BlazorApp9.Client.dll' could not be found`

`Error	CS0234	The type or namespace name 'RenderTreeBuilder' does not exist in the nam

[2019-09-04 23:12] andrewduffy77 commented on #13631
Cheers @javiercn I don't know what you mean by manually configure the client side code? I mean, we already have configured the client side code.

[2019-09-04 23:12] kg commented on #13689
Tests seem to succeed on linux after all these steps, at least up until the point where the blazor tests start. Those hang/deadlock. So I think other than some gaps/errors in the instructions from-source builds on Linux are still working fine.

[2019-09-04 23:14] Legends commented on #13691
@alexandrereyes Thanks for the link !

[2019-09-04 23:18] tillig commented on #4883
Just ran into this using Swashbuckle.AspNetCore and a `ValueTask<ActionResult<IEnumerable<MyModel>>>` and noticed that the JSON rendered with all of the extra ValueTask stuff because API Explorer doesn't unwrap it. Didn't even occur to me that this wouldn't be in place given all the hype ValueTask has gotten lately.

Expected OpenAPI JSON:

[code]

Actual OpenAPI JSON:

[code]

[2019-09-04 23:26] tillig commented on #4883
It appears the [problem is in `ApiResponseTypeProvider` right here](https://github.com/aspnet/AspNetCore/issues/4883). Is that something I could PR and possibly get included/fixed for the 3.0 release? (Or is it something that could just be fixed for 3.0?) Seems like it'd be a pretty easy one either way and a valuable addition for adoption of `ValueTask`.

[2019-09-04 23:26] egil commented on #13687
I would like to add, that having an easy to use API, that can use/by default uses the same service provider as the renderer it is inside to turn a renderfragment into a string, will likely be a great addition to the Blazor library. I'm pretty sure there are going to be other devs out there who will need this feature but won't have the @SteveSandersonMS chops to create a custom renderer for their p

[2019-09-04 23:36] danroth27 opened #13694 "Expose WebAssemblyHost services to startup"
The Blazor WebAssembly host sets up a bunch of services that we should make available in `Startup` (ex `IJSRuntime`).

[2019-09-04 23:37] danroth27 commented on #13694
An example customer request for this is wanting to get access to the browser URL in ConfigureServices to setup different configurations for different environments.

[2019-09-04 23:40] Legends commented on #13691
Just went through the Update docs, but couldn't find any info why `IComponentContext` is missing!?

[2019-09-04 23:47] mclean25 opened #13695 "Blazor .NET Core 3 preview 9: The type or namespace name 'RenderTreeBuilder' does not exist in the namespace 'Microsoft.AspNetCore.Components.Rendering'"
Following [the guide here](https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.0&tabs=netcore-cli), I immediately get an error when trying to run the app.

[code]

Is it because  the link to the templates should be updated?

[2019-09-04 23:54] smitpatel opened #13696 "DataProtection Package is unusable in 3.0"
https://github.com/aspnet/AspNetCore/blob/3dee6782c3f8d611b3cda871b97778a34121df83/src/DataProtection/EntityFrameworkCore/src/EntityFrameworkCoreXmlRepository.cs#L41-L48

Query above uses a client method in projection
Client method is instance method, hence the object of enclosing class would end up in EF Core query cache.
https://github.com/aspnet/AspNetCore/blob/3dee6782c3f8d611b3cda871b97778a34

[2019-09-04 23:57] smitpatel commented on #13696
Also given that it was not captured in any tests in the repo, there is lacking test coverage on this code path.

[2019-09-05 00:12] unencode commented on #13695
The breaking changes announced here https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-9/ are the likely cause.

I'm working through some similar issues and updating a few existing projects.

[2019-09-05 00:19] Eilon commented on #13695
You need to update Visual Studio to the latest preview release that came out today. I ran into this exact thing and was assisted by the friendly Blazor engineers. Once I updated, everything worked!

[2019-09-05 01:00] jcphlux commented on #13385
thanks all. I will give this a try.

[2019-09-05 01:21] rxelizondo commented on #13688
Never mind, I see now that Daniel posted "**ASP.NET Core and Blazor updates in .NET Core 3.0 Preview 9**" on the ASP.NET blog (this did't exist when I upgraded Visual Studio).

https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-9/

I followed the instruction and everything looks good now.

Thanks.

[2019-09-05 01:21] #13688 closed

[2019-09-05 01:51] geoffkizer commented on #13097
It seems like a well-behaved server would either send this immediately after the end stream, or not at all -- the server doesn't want to receive useless data either.

Yes, I can see how it's useful for the server. It's unfortunate that HTTP2 doesn't have a better way of managing the cleanup here. QUIC seems to do better here with its STOP_SENDING/RESET_STREAM frames.

We can certainly consider add

[2019-09-05 02:00] granicz commented on #5579
In case anyone is interested, here is it for F# and [Bolero](https://fsbolero.io) (which implements a Model-View-Update programming model on top of Blazor): https://github.com/fsbolero/Bolero/issues/75

[2019-09-05 02:44] chrdlx opened #13697 "ServerSideBlazor's component inside razor page (Route data) Preview 9"
Before Preview 9 we could pass a blazor component, the parameters needed for it to work from a razor page.

For example, a razor page with the following URL: test.com/{param1} could read the param1 value and pass it to the embedded blazor component for it to work.

Now with stateful prerendering discarded, what would be the recommended way for a blazor component inside a razor page to read route d

[2019-09-05 03:03] pranavkm commented on #13684
I'm assuming you're talking about the value for `asp-page` property of the anchor TagHelper.

`asp-page` takes either an absolute page name such as `/Orders/Dashboard` or a relative name such as `Dashboard` or `../DifferentDirectory/Dashboard`. Note that the value is always a page name (derived from the path relative to the `/Pages` directory) and not the route which is the value you can optionall

[2019-09-05 03:19] pranavkm commented on #13682
Could you have a look at MVC"s output logs? Unlike JSON, `XmlSerializer` doesn't universally support serializing all data types. This would translate to a 406 in the response. The output logs should tell you if there's a reason `XmlSerializer` refused to serialize the type. It's usually something innocuous such as not having an empty constructor.

[2019-09-05 03:42] mclean25 commented on #13695
I guess this might have been going through the pipeline while I posted this, as I had suspected the templates needed to be updated to reflect that .NET Core 3.0 preview 9 was out now (and what I had installed).

`dotnet new -i Microsoft.AspNetCore.Blazor.Templates::3.0.0-preview9.19424.4`

Thus, you _do not_ need to update to the latest Visual Studio (for anyone like me who's trying to move away f

[2019-09-05 05:32] danroth27 opened #13699 "Issues with generated layout after using Identity scaffolder in Blazor Server app project"
Repro steps:
- Create a new Blazor Server app with authentication using individual user account
- Run the Identity scaffolder
  - Override all files
  - Select the existing DB context
- Build the app

Expected result:
- Builds successfully
- Layout matches layout from default ASP.NET Core Web App

Actual result:

In *_Layout.cshtml*:

The type or namespace name 'IWebHostEnvironment' could not be f

[2019-09-05 05:32] danroth27 commented on #13699
@vijayrkn @HaoK

[2019-09-05 05:34] danroth27 commented on #13699
Also the cookie consent UI is still being generated.

[2019-09-05 06:37] AdamBorg commented on #13695
Im still getting this issue when upgrading any other suggestions ?

[2019-09-05 06:43] marcuslindblom commented on #13626
Ok, I see. So the claim must be stored in the storage provider I use by adding it with `_userManager.AddClaimAsync`? I thought it was possible to only send a custom claim without saving it to the database but if I understand correctly that is not possible?

[2019-09-05 07:07] harleydk commented on #13610
@Andrzej-W I respectfully disagree - even with complex objects, with N levels of sub-references, it should be a - relatively - simple (in implementation terms) algorithm, and a fast comparison. ```ShouldRender``` wouldn't do much good in my current situation, it brings the change-detection responsibility to the child-component. And maybe I'm the one who implemented the parent-component, but not th

[2019-09-05 07:09] ChrML opened #13700 "Kestrel server does not get grade A in SSL tests because it has no cipher suit preference"
### Description
From ASP Core 3.0 preview6 and newer it is now possible to get a grade B, instead of a previous grade F, on the SSL test (https://www.ssllabs.com/ssltest/). Because from 3.0 the insecure cipher suits are now disabled by default.

But still in 3.0-preview8, the Kestrel server does not have any cipher suit preference. This caps the SSL test grade to B instead of A. Grade A servers ar

[2019-09-05 07:27] taori opened #13701 "How can i manually execute model binding for a AuthorizationFilterContext"
### Is your feature request related to a problem? Please describe.
I am trying to utilize IAsyncAuthorizationFilter to execute custom validation logic before granting authorization to objects.

However within the scope of this filter, ModelBinding did not happen yet, i assume because of authorization not being done yet.

I there any way to manually execute ModelBinding on that context so i can rea

[2019-09-05 07:28] dougbu commented on #11913
@grahamehorner if `--depth 1` makes a difference, you're likely reporting a problem with `git clone` and the size of our history.

That said, I'm unable to reproduce the issue with `git` version '2.23.0.windows.1'. If you're using an earlier version, please upgrade and try again.

[2019-09-05 07:30] RemiBou commented on #13694
I was able to setup configuration using url using service and app builder (https://remibou.github.io/Configuring-a-Blazor-app/) and deferring the singleton initialization, but it might help if I could init everything in ConfigureService.

[2019-09-05 08:05] markvincze commented on #13299
Hey all,

In the last couple of days I've been testing running our API with the patched CLR binaries provided by @Maoni0.

The behavior changed, but after a while our instances still become unresponsive. Before Maoni's patch, the failing process was constantly doing gen2 collections, which is not happening any more, but what I see is that the process is not doing any collections at all. And then a

[2019-09-05 08:14] Legends opened #13703 "Preview 9 - Cannot find `IComponentContext` anymore"
Has it been removed from the api?

[2019-09-05 08:16] akorchev commented on #13687
Yep, this one is quite a bummer and rendered (pun intended) Radzen's Blazor design time not working.

[2019-09-05 08:31] akorchev commented on #13703
Yes, they removed it. Not sure how one can detect prerendering mode now. Some features such as IUriHelper.Navigate don't work in prerendering mode.

[2019-09-05 08:34] gaborposz commented on #13650
Hi,
I managed to try it with .NET Core 3 preview 9 and the error is gone, so it seems to be indeed the same as #12782.
However, we would need the solution in .NET Core 2.2, because upgrading to 3.0 is not feasible within the available time frame. Can you merge it back to 2.2?

[2019-09-05 08:36] javiercn commented on #13687
In the past the APIs for accessing the data for producing the HTML were internal (private protected if I recall) but now they are public, so you can do the same thing HTML Renderer does yourself.

https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.ViewFeatures/src/RazorComponents/HtmlRenderer.cs

Let me know if you run into any roadblocks.

Personally I would like to also bring this back

[2019-09-05 08:39] Legends commented on #13703
Ah ok, thanks.
AFAIK IUrihelper is now replaced by NavigationManager

[2019-09-05 08:39] #13703 closed

[2019-09-05 08:45] akorchev commented on #13687
@javiercn it uses an internal struct https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.ViewFeatures/src/RazorComponents/ComponentRenderedText.cs

[2019-09-05 08:48] akorchev commented on #13687
And there is this warning:

[code]

[2019-09-05 08:54] egil commented on #13687
@javiercn its no problem copy-pasting your version of `HtmlRenderer.cs` and `ComponentRenderedText.cs`. But please let us know when you have updates to them. Would very much like to stay compatible/up-to-date. Perf improvements sounds good, and please take input on a possible API update :)

@akorchev just suppress the warning. Its fair its there, since we are digging our feet into the low level AP

[2019-09-05 08:57] akorchev commented on #13687
@javiercn well instead of using low-level Blazor API we could have just used the higher level and now internal HtmlRenderer ;)

@javiercn What is the reasoning of having public low-level warning-producing API instead of public HtmlRenderer?

[2019-09-05 09:04] schmitch opened #13704 "cannot convert lambda expression to type 'EventCallback' because it is not a delegate type"
currently preview9 EventCallbacks for onclick handlers do not work as expected:

[code]

will raise
`cannot convert lambda expression to type 'EventCallback' because it is not a delegate type`
(https://docs.microsoft.com/de-de/aspnet/core/blazor/components?view=aspnetcore-3.0#lambda-expressions)

[2019-09-05 09:08] peval27 commented on #13634
moving to 3.0 + Kestrel is not an option for us, until it's released and finalized.

[2019-09-05 09:10] parad74 opened #13705 "In Blazor App Client don't find "@using Microsoft.AspNetCore.Components.Authorization""
### Describe the bug
In project Blazor Client ( TargetFramework netstandard2.0) with
 PackageReference Include="Microsoft.AspNetCore.Authorization" Version="3.0.0-preview9.19424.4"
dont't find AuthenticationStateProvider => don't see namespace Microsoft.AspNetCore.Components.Authorization

if I change   TargetFramework to netcoreapp3.0
I see namespace  Microsoft.AspNetCore.Components.Authorization

[2019-09-05 09:13] javiercn commented on #13687
@akorchev The API in its current form is not very good.

@danroth27 Given the interest on this API can we consider the appropriate improvements in HtmlRenderer to make it public in 3.1? I don't think we should release the API in its current form if we have time to make it performant before 3.1. It should take 2 days tops.

[2019-09-05 09:16] SteveSandersonMS commented on #13687
People can easily copy the relevant bits of the `HtmlRenderer` sources into their own projects. It's what I did for [this unit testing prototype](https://github.com/SteveSandersonMS/BlazorUnitTestingPrototype) and took hardly any time. I'm not sure there's a need to rush this into 3.1.

[2019-09-05 09:16] neilRGS commented on #5614
Hi.
I am getting the same thing just running the getting started Blazor tutorial on the [Micorosoft site](https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?ranMID=24542&ranEAID=je6NUbpObpQ&ranSiteID=je6NUbpObpQ-J7MA57grRnwaU5b9tFcbjQ&epi=je6NUbpObpQ-J7MA57grRnwaU5b9tFcbjQ&irgwc=1&OCID=AID2000142_aff_7593_1243925&tduid=(ir__ciwkx9fiq0kfrxt2kk0sohz30m2xjdvv9fu2nhmu00)(7593)(1243925)(je

[2019-09-05 09:18] Jens-G opened #13706 "w3wp process terminated due to an unhandled exception in crypt32.dll"
### Describe the bug
[code]

followed by:

[code]

### To Reproduce
Run ASP.NET core application and do web requests against it. Unfortunately we have no further information how and why this happened.

### Expected behavior
It should not crash.

### Screenshots
none

### Additional context
Stack trace we extracted from the minidump file:

[code]

[2019-09-05 09:21] javiercn commented on #13687
@SteveSandersonMS If there's demand for it and prevents people using the pubternal API I think it brings goodness.

[2019-09-05 09:21] akorchev commented on #13687
@javiercn @SteveSandersonMS are there any planned changes in the `Microsoft.AspNetCore.Components.RenderTree` namespace before the official 3.0 release?

[2019-09-05 09:28] SteveSandersonMS commented on #13687
@akorchev No render tree API changes are expected between preview 9 and final 3.0.

[2019-09-05 09:32] jucchytil commented on #13705
I second this one.   I was using AuthenticationStateProvider fine on P8 yesterday morning.
P9 broke it.

Creating client-side and server-side default apps and adding an @import to the MainLayout.razor file. I browsed all the available namespaces on the client-side app and could not find the AuthenticationStateProvider class but on the server-side app, it is found in the Microsoft.AspNetCore.Compon

[2019-09-05 09:49] Launster opened #13708 "dotnet core doesn't let me set the processPath in published web.config"
# A little context
I develop in local and test on a personnal VM, so I publish my project to this VM when I test (which use IIS, with the full hosting bundle).
We need to use the x86 dotnet, but we doesn't want to touch the path of the production server. So we need to set the process path to the x86 dotnet. We did that by removing the generating of the web.config and we set the processpath. It wor

[2019-09-05 09:50] ghidello commented on #13705
Try adding the reference explicitly using
Install-Package Microsoft.AspNetCore.Components.Authorization -Version 3.0.0-preview9.19424.4

[2019-09-05 09:59] jucchytil commented on #13705
Thanks!  That worked!

[2019-09-05 10:03] Tratcher commented on #13634
3.0 releases this month and already has go-live supported previews. Now is the time to try it to confirm it satisfies your scenarios.
https://github.com/dotnet/core/blob/master/roadmap.md

That's much sooner than this issue will be addressed in HttpSys.

[2019-09-05 10:06] ajithr commented on #13526
@javiercn I have updated the application with latest SDK. Could you please check it now and let me know if you need any further details on this?

https://github.com/ajithr/blazor-component-rerendered

[2019-09-05 10:13] Tratcher commented on #13650
@shirhatti can you check on this 2.2 patch request? I know 2.2 will go out of support by the end of the year. https://dotnet.microsoft.com/platform/support/policy/dotnet-core

A workaround I haven't tested would be to reduce kestrelOptions.Limits.Http2.HeaderTableSize to 1 to effectively disable request header compression.
https://github.com/aspnet/AspNetCore/blob/ac9a6f331e3976e6ea170bec5a6964d08

[2019-09-05 10:16] Tratcher commented on #13700
Was this Windows, Linux, or Mac? You'll get different results because Kestrel does not control this ordering, it's controlled by the operating system (or OpenSSL for Linux).

[2019-09-05 10:16] Tratcher commented on #13626
@HaoK ?

[2019-09-05 10:21] SteveSandersonMS commented on #13664
Not sure if that means you're writing your own RenderTreeBuilder logic by hand, as in the code snippet you posted. If you are, then when you call `EventCallback.Factory.Create`, just don't pass `this` as the first parameter. That controls which component gets notified to re-render. Instead pass some other object (not sure whether `null` is allowed).

That doesn't sound too weird to me. If your com

[2019-09-05 10:21] SteveSandersonMS commented on #13664
Sounds like this is answered, so closing. Hope that's right!

[2019-09-05 10:21] #13664 closed

[2019-09-05 10:24] parad74 commented on #13705
thanks, it works for me !

[2019-09-05 10:36] ChrML commented on #13700
Hosted by Linux under this official Docker- image: https://hub.docker.com/_/microsoft-dotnet-core-aspnet
(mcr.microsoft.com/dotnet/core/aspnet:3.0)

We have not really touched the OS at all, just deployed the application inside the official Docker image and deployed it to a Kubernetes cluster.

[2019-09-05 10:55] veuncent commented on #11347
For me unloading and reloading the project fixed it.

[2019-09-05 11:31] ryanelian opened #13709 "Blazor Authorization Should Redirect to Challenge When Default Challenge Scheme is Set"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug

I expected using `@attribute [Authorize]` to bounce me to my Ope

[2019-09-05 11:47] gabeluci commented on #13634
To come at this from a different angle, shouldn't the use of `UseDefaultCredentials` tell `HttpClient` to send the credentials on the first attempt, thus preventing the 401 in the first place? Or is it supposed to still wait for the 401 first?

(I was helping with [this](https://stackoverflow.com/questions/57757564/how-to-avoid-multiple-401-when-using-windows-authentication-on-http-sys/57773078) q

[2019-09-05 12:11] Tratcher commented on #13634
No, UseDefaultCredentials means to use the current WindowsIdentity if challenged for 401 Negotiate/NTLM/Kerberos. It means you don't have to give it the username and password manually.

[2019-09-05 12:15] Tratcher commented on #13700
I'll forward this to the SslStream owners to see if it's configurable in their OpenSsl usage.

[2019-09-05 12:18] Tratcher commented on #13700
This issue was moved to dotnet/corefx#40830

[2019-09-05 12:18] #13700 closed

[2019-09-05 12:42] rochapablo commented on #12914
I'm getting the same error `dotnet quit unexpectedly`

When I add `AddEntityFrameworkSqlServer AddDbContext`

[code]

[code]

[2019-09-05 12:46] SeppPenner opened #13711 "Question: How to replace IComponentContext when upgrading from preview8 to preview9?"
Not actually a bug report, but a question. What are the suggested changes to upgrade usages of `IComponentContext`  from preview8 to preview9?

It's not present in `Microsoft.AspNetCore.Components` anymore.

[2019-09-05 12:52] dotnetshadow commented on #13284
I'm getting similar issues with my asp.net core 3.0 preview 9 application on visual studio 2019 preview 3

When I ran it as IISExpress I had the issue, so I decided to delete my .vs folder, bin and obj directories. This seemed to fix the issue, it still shows up the very first time, but after that I am able to debug.

When I try to debug using the kestrel, I get the stubborn error and the above so

[2019-09-05 12:58] blowdart commented on #13701
We perform the authorization pieces before model binding on purpose, in case someone does something weird like bind to an EF backed model. If we bound first, or within, then you could have database access for an unauthorized or unauthenticated user.

If you're trying to make decisions based on the resource you would end up loading, you're doing [resource authorization](https://docs.microsoft.com/e

[2019-09-05 13:00] markvincze commented on #13299
I've collected the trace and the memory drump from one of the failing instances.

 - Trace: https://drive.google.com/open?id=1Nb9lmKAJKGNvNV1BJEvoOHEbrh0jsDgi
 - Memory dump: https://drive.google.com/open?id=1uSAugwh4le2IJb6RzHE1zO7zuBAjIWc0

[2019-09-05 13:01] blowdart commented on #13696
@Pilchie / @anurse  no-one is a data protection dev right now. Can you assign someone?

[2019-09-05 13:06] stsrki opened #13712 "CascadingParameter not working with AddAttribute() in p9"
I have upgraded my project to preview 9 and now I'm stuck on this. Some of my component have custom implementation that will override default _html/razor_ implementation.

An example of razor syntax that can override default html:

[code]

The problem occurs when I build the render tree manually where I need to pass cascade parameter. It is not injected or recognized by the tree builder.

This is

[2019-09-05 13:07] SeppPenner opened #13713 "Question: How to update EditContext.FieldClass from preview8 to preview9?"
How can we update `EditContext?.FieldClass(FieldIdentifier)` from preview8 to preview9? Is `EditContext?.FieldCssClass(FieldIdentifier)` the equivalent?

[2019-09-05 13:09] SeppPenner opened #13714 "Question: How to upgrade JSRuntime.SetCurrentJSRuntime(Js); to preview9?"
How do we upgrade `JSRuntime.SetCurrentJSRuntime(Js);` from preview8 to preview9? Or is this something that is not needed anymore?

[2019-09-05 13:14] royzhang2016 commented on #13704
To fix this migration issue, you may need to add below line to the _Imports.razor file

@using Microsoft.AspNetCore.Components.Web;

[2019-09-05 13:18] RealTadango commented on #13695
Strange. I updated VS to 16.3 Preview 3, updated the template but still the error remains. Even a new clean Blazor app has the same issue. What am i missing?

[2019-09-05 13:27] SeppPenner commented on #13711
I just found out from https://github.com/SamProf/MatBlazor/issues/232#issuecomment-528362115 that this isn't needed anymore and can be removed? Am I right?

[2019-09-05 13:42] schmitch opened #13715 "preview9 UseStatusCodePagesWithReExecute stopped working"
Currently the following code stopped working with preview9:

[code]

I would've hoped that a authentication failure 401 would run the Status page with code=401 unfortunatly this stopped working in preview9 (preview8 worked)

[2019-09-05 13:49] taori commented on #13701
Hmmmm. What you're suggesting sounds like it does indeed cover my use case without excessive effort.

There is one issue with it for me though. It requires me to insert authorization logic into every action instead of keeping it at a minimum.

I'll elaborate a little bit:

This is my current code:

[code]

Regarding the TypePermission i could achieve the same result using default requirements - fo

[2019-09-05 13:58] Rookian opened #13716 "DeveloperExceptionPageMiddleware should not log exceptions"
I am using AspNetCore with ApplicationInsights and Serilog. In development environment exceptions are logged twice , because RequestLoggingMiddleware (Serilog) and DeveloperExceptionPageMiddleware is handling exceptions and logging them.

In my opinion the DeveloperExceptionPageMiddleware responsibility should only be to show an exception page. It should not log the given exception.

See also: htt

[2019-09-05 14:46] daimoonis opened #13717 "Event based state changes of hub connection"
### Is your feature request related to a problem? Please describe.
Hello, I am trying to monitor HubConnection state changes (https://github.com/aspnet/AspNetCore/blob/master/src/SignalR/clients/ts/signalr/src/HubConnection.ts) and trigger some actions based on it. I am using rxjs library, but i was not successful to monitor all changes correctly.

**For example trying to monitor initial start seq

[2019-09-05 14:52] stsrki commented on #13712
I have tried to skip the cascading parameters and it seems now everything works.

[code]

[2019-09-05 15:06] BrennanConroy commented on #13717
Could you please describe your scenario and why you care about the internal state changes?

[2019-09-05 15:14] Adam-Miettinen commented on #13695
I was in the same boat as RealTadango, but running the command that mclean25 posted to update the templates fixed it for me.

[2019-09-05 15:15] sikemullivan opened #13718 "Microsoft.AspNetCore.Http.Internal.BufferingHelper Missing"
I upgraded my API project to .NET Core 3.0 preview9 and now the namespace "Microsoft.AspNetCore.Http.Internal" is missing. I was using BufferingHelper.cs to "EnableRewind" on the HttpRequest. This allowed me to register a middleware and collect the request stream for logging.

### To Reproduce
[code]

### Expected behavior
The request stream can be enabled to allow the position to be set back to 0

[2019-09-05 15:21] sikemullivan commented on #13718
Nm... found the answer. #12505

[2019-09-05 15:21] #13718 closed

[2019-09-05 15:35] frablaser commented on #13695
The easy way is to update the Packages via NuGet

[2019-09-05 15:45] RealTadango commented on #13695
The issue is that a Preview 8 project will not work with VS 16.3.0 Preview 3.0 no matter what you install. Sadly i cannot use Preview 9 and am now stuck.

[2019-09-05 15:55] rynowak commented on #13408
@epsitec - I hope you don't mind, I'm proposing to use a simplified version of your code in our docs https://github.com/aspnet/AspNetCore.Docs/issues/14144

[2019-09-05 15:59] Eilon commented on #13695
@RealTadango why can't you use Preview 9?

[2019-09-05 16:01] mkArtakMSFT commented on #11111
I'm closing this in that case. Thanks for confirming, @ryanbrandenburg

[2019-09-05 16:01] #11111 closed

[2019-09-05 16:02] RealTadango commented on #13695
Incompatibel library (is on Preview 8)

[2019-09-05 16:04] mkArtakMSFT commented on #13665
Thanks @wli3. I know, just waiting for the original author of the issue to get to us.

[2019-09-05 16:14] rybkov opened #13719 "KeyLengthLimit does not support int.MaxValue in Preview 9"
### Describe the bug
After update to Preview 9 cannot submit form if KeyLengthLimit set to int.MaxValue

### To Reproduce
1. Using this version of ASP.NET Core '3.0.0-preview9.19424.4'
2. Create Default MVC application
3. Create form
4. In services setup
`Services.Configure<FormOptions>( Options => Options.ValueLengthLimit = int.MaxValue );
            Services.Configure<FormOptions>( Options => O

[2019-09-05 16:17] Rauce opened #13720 "Blazor: OnParametersSetAsync() of "default" layout component is executed even though page being navigated to uses a different layout component"
### Steps to reproduce

With the following in App.razor:

[code]

And a page "MyPageWithOtherLayout" which specifies an alternate layout:

[code]

When navigating to MyPageWithOtherLayout from a page that does use MyDefaultLayout, the logic in MyDefaultLayout.OnParametersSetAsync() is being executed. In its execution, NavigationManager.Uri is that of MyPageWithOtherLayout.

(If navigating to MyPag

[2019-09-05 16:19] mclean25 commented on #13695
@RealTadango have you tried just using the `dotnet` cli to instantiate your project instead of VS? I did that for preview 8 (with the preview 8 templates) and it worked fine for me the other day.

[2019-09-05 16:21] dseferlis commented on #13604
@E1adi try this one. I was trying to find a solution for several days...
https://github.com/shanselman/RemoveDotNetCoreSDKInstallers
This just worked for me. Had to install sdks again but seems ok now.

[2019-09-05 16:22] RealTadango commented on #13695
No, i only used the template through VS. Should that make a difference? My existing project is the issue :)

[2019-09-05 16:23] pranavkm commented on #13719
cc @Tratcher

[2019-09-05 16:25] pranavkm commented on #13714
If you were using the API as a workaround for #11159, you should no longer need it since we addressed the issue. If that wasn't the case, could you elaborate what you were trying to do?

[2019-09-05 16:27] sungam3r commented on #13716
I agree in principle. The name speaks for itself. But due to backward compatibility, this behavior should be disabled only through middleware options.

[2019-09-05 16:31] ghidello commented on #13694
@RemiBou thanks! Using the app builder did the trick and I have access to the NavigationManager.
In my specific case I need the app URL for configuring the callback URLs for an OpenId connect client.

More in general, though, having a way for performing some environment sensitive configurations in blazor wasm, like the server api URL or the logging level, will be very important and using the curre

[2019-09-05 16:35] mkArtakMSFT commented on #13713
Thanks for contacting us, @SeppPenner .
Yes, this was renamed to `FieldCssClass`.

[2019-09-05 16:35] #13713 closed

[2019-09-05 16:36] Tratcher commented on #13719
The preview9 change is here: https://github.com/aspnet/AspNetCore/pull/12749/files

You may be hitting an issue [here](https://github.com/aspnet/AspNetCore/pull/12749/files#diff-f44d0d010602be96c8821603bcd529ccR170) or [here](https://github.com/aspnet/AspNetCore/pull/12749/files#diff-f44d0d010602be96c8821603bcd529ccR239) were the parser isn't sure yet if it's a measuring a key or value so it adds

[2019-09-05 16:38] mkArtakMSFT commented on #13712
Thanks for contacting us, @stsrki.
You actually found a workaround which solved your problem, that's great. For context, this was an intentional change as we no more allow parameters to be passed to child components be named exactly as the cascading parameters these components accept.

[2019-09-05 16:38] #13712 closed

[2019-09-05 16:39] E1adi commented on #13604
Hey @dseferlis,
I asked the same question in the proper place and got answer that solved my problem.
Link for the issue with solution:
https://github.com/dotnet/core-sdk/issues/4524

[2019-09-05 16:40] mkArtakMSFT commented on #13711
Thanks for contacting us, @SeppPenner .
We no longer call `OnAfterRender` during prerendering, so yes, that check is not needed any more.

[2019-09-05 16:40] #13711 closed

[2019-09-05 16:42] Tratcher commented on #13716
I'd argue that RequestLoggingMiddleware has the incorrect behavior in this scenario. As a rule a component should only log an exception it's not going to re-throw or else it's subject to double logging. In production you'd have the same issue when the server catches and logs the exception.

[2019-09-05 16:42] mkArtakMSFT commented on #13709
Thanks for contacting us, @ryanelian.
The behavior you're observing is by-design. The `AuthorizeRouteView` has a property which allows to set view for unauthorized case, and you haven't defined it, which results in the default message to show up.
@danroth27 do you have updated docs regarding this already?

[2019-09-05 16:44] mkArtakMSFT commented on #13705
Thanks @ghidello.
We will include this in the migration guide to help the rest of the community with this.
/cc @danroth27

[2019-09-05 16:44] #13705 closed

[2019-09-05 16:45] epsitec commented on #13408
@rynowak no prblême, you are welcome to use it!

[2019-09-05 16:45] mkArtakMSFT commented on #13704
Thanks for contacting us, @schmitch.
@royzhang2016 's proposal should fix your issue.

[2019-09-05 16:45] #13704 closed

[2019-09-05 16:47] rynowak commented on #13408
Filed a docs issue for the current solution to this. Moving to backlog to track future improvements.

[2019-09-05 16:48] mkArtakMSFT commented on #13697
Thanks for contacting us, @chrdlx.
You can use NavigationManager inside your component to read URL and make it available to the component. However, we don't have a mechanism to pass parameters to components from pages directly.

[2019-09-05 16:48] #13697 closed

[2019-09-05 16:48] rybkov commented on #13719
Thank you @Tratcher!
We did not disable it - just in process of migrating 4.7 to Core 3 and setup as it was before.
The limits are pretty high, so we are good and can close the issue.

[2019-09-05 16:49] blowdart commented on #13701
Well, in any action where there's a resource to check, yes, but it's safer, because, as I said, people bind to EF models and you don't want that to happen unauthenticated, which is what would happen in filters and attributes.

@rynowak @HaoK may have better ideas, but nothing we have now would safely support your scenarios.

[2019-09-05 16:49] tstaa opened #13721 "Prerendering server components with parameters is not supported"
I'm trying to use the component in my CSHTML view (existing MVC app):
`@(await Html.RenderComponentAsync<NewJobComponent>(RenderMode.ServerPrerendered,  new { Job = Model }))`

I understand why, but what's the alternative in order to pass anything to the component? Since I cannot do the following in my CSHTML file:
`<NewJobComponent Job="Model" />`

[2019-09-05 16:51] mkArtakMSFT commented on #13695
Thanks for contacting us.
Using a version of SDk with a different version of the Blazor templates is not supported. Make sure you use the latest version of the SDK, runtime and the VS 2019 Preview.

[2019-09-05 16:51] #13695 closed

[2019-09-05 16:53] rynowak commented on #13701
Unfortunately no. There's no imperative way to call model binding.

[2019-09-05 16:54] RealTadango commented on #13695
@mkArtakMSFT But i hade installed finally:
 - Core SDK Preview 8
 - Template versie Preview 8
 - VS 16.3.0 Preview 3.0
 - Project with references to Preview 8 packages

This does not work.

[2019-09-05 16:57] mkArtakMSFT commented on #13685
Thanks for contacting us, @alexandrereyes.
This is documented in https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-9/#multiple-components-in-views-or-pages
You should now call the `Html.RenderComponentAsync<TComponent>` with `RenderMode.Server` flag.

[2019-09-05 16:57] #13685 closed

[2019-09-05 16:58] rynowak commented on #4883
We'd accept a PR for this, but it would go into 5.0 - 3.0 is *super locked down*.

I bet you could work around this with an `IApiDescriptionProvider` that runs after the default one.

[2019-09-05 16:59] mkArtakMSFT commented on #13683
Thanks for contacting us, @alimuzzaman .
The suggested approach there is fine. You will need to expose an API and call it from JavaScript using some http library yourself.

[2019-09-05 16:59] #13683 closed

[2019-09-05 17:01] mkArtakMSFT commented on #13681
Thanks for contacting us, @jamescoffman23.
We have seen this issue couple of times already, yet we don't have enough information to repro this. It seems this is a result of some external configuration.

[2019-09-05 17:02] Eilon commented on #13695
Right, I think you need to stack with the older VS, or newer Blazor.

[2019-09-05 17:02] mkArtakMSFT commented on #13681
If you happen to have details about the environment, OS and the errors from the dev-console, that may help us investigating this more.

[2019-09-05 17:05] mkArtakMSFT commented on #13679
@javiercn how is this not impacting non-blazor scenarios? Or does it?

[2019-09-05 17:07] mkArtakMSFT commented on #13679
Also, @javiercn if this is pure Identity change - you can hand it off to @HaoK to handle as part of the other Idenitty related changes for 3.1.

[2019-09-05 17:08] mkArtakMSFT commented on #13572
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-09-05 17:08] mkArtakMSFT commented on #13566
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-09-05 17:08] #13566 closed

[2019-09-05 17:16] tillig commented on #4883
That's fair. Let me see what I can do - both with the PR and with the workaround. Thanks!

[2019-09-05 17:22] Tratcher commented on #13719
I'll leave it open so we can confirm and address the overflow issue.

[2019-09-05 17:30] pseabury commented on #8057
I'd like this reopened if possible per https://stackoverflow.com/questions/57679221/asp-net-core-2-2-site-warmup

Warmup doesn't seem to work with in-process hosting.

[2019-09-05 17:53] sungam3r commented on #13716
This middware does 2 things at once. The issue is about letting **the developer choose** only what is needed.

[2019-09-05 17:54] mkArtakMSFT commented on #13695
Correct. You should use all the new stack. Using the latest VS with a version older SDK is also not supported.

[2019-09-05 17:55] aaronhudon-ts commented on #12088
I'd like to expand on @SeppPenner post, as I found the following to work based on the browser's preferred language.

**Startup.cs**
[code]
**Pages/Index.razor**
[code]

**Resource files**

/Resources
......./Pages
.............Index.fr.resx
.............Index.resx

[2019-09-05 18:01] mkArtakMSFT commented on #12685
@Joelius300, you should be able to write a JSON converter and apply to your model types to do this for you. Hope this helps: https://docs.microsoft.com/en-us/dotnet/api/system.text.json.serialization.jsonconverter-1?view=netcore-3.0

[2019-09-05 18:03] gabeluci opened #13722 "Invalid response when returning IEnumerable that causes an exception"
### Describe the bug
If a controller action returns any `IEnumerable` that has not been realized yet, and an exception happens during evaluation of it, a 200 response is returned with invalid JSON.

It is arguable that controller methods should not return an unrealized `IEnumerable` in the first place, but there's nothing stopping you. In the real world, this is more likely to be seen with databas

[2019-09-05 18:05] RemiBou commented on #13694
Well if you ask me no : the uri is like the command line that run the app. In aspnet coee you can use environment variable or command line param but in blazor client side you can't do anything on the environment.

You could deploy different artifact in your environments but IMHO this is not a good practice.

[2019-09-05 18:06] mconnew opened #13723 "Provide mechanism to make socket IO operations be initiated on IO Thread"
### Is your feature request related to a problem? Please describe.
On Windows, when an async IO operation is initiated, the initiating thread owns the operation. If the thread is exited, any pending IO operations initiated on that thread are cancelled. When the .NET Threadpool is pruning idle threads from the thread pool, it checks to see if there's any pending IO outstanding that belongs to the t

[2019-09-05 18:21] arivoir opened #13724 "UIKeyboardEventArgs missing KeyCode"
UIKeyboardEventArgs has the property "Code", that mostly has the same string as "Key" property, except in edge that is always null. And it is missing the "KeyCode" property, that is an integer and it is present in all browsers. What about removing "Code" and adding "KeyCode" of type int instead?

[2019-09-05 18:29] mclean25 opened #13725 "razorclasslib: `nullable reference types` is not available in c# 7.3"
`razorclasslib` needs to have C# language 8 version set in the `.csproj` file to work with the latest templates. This is the error I got and how I got there.

### Setup
[code]

### Actual Error:
[code]

I fixed this by simply specifying the `LangVersion` in the class lib `.csproj` like so:

[code]

Working on a PR now.

[2019-09-05 18:30] rynowak opened #13726 "Replace RenderComponentAsync in templates with a new tag helper"
This would look like:

[code]

We think this is much simpler and easier to explain. We want to avoid using async methods in Razor  where they produce output, in very prominent cases, because there are lots of ways to get it wrong.

We won't delete `RenderComponentAsync`, the tag helper will call it, or will do the same thing.

[2019-09-05 18:38] rynowak commented on #13716
The developer exception page does two things.
- It catches an exception
- It shows a UI for the exception

**because** it catches the exception, it also logs.

[2019-09-05 18:41] drmathias commented on #8133
Using HubConnection it is really horrible to test. Wrapping it in a class is not ideal as you still need to access HubConnection to register your handlers and it is preferable to verify actual calls to HubConnection. It would be easier to test if it had an interface, then you could mock the 'Core' methods, but you're mostly using all these static extension methods which could be overloading method

[2019-09-05 18:49] tillig commented on #4883
For folks looking to use the workaround, here's a simple provider that works:

[code]

Register that with DI at app startup in `ConfigureServices`:

[code]

I'll see what I can do for a PR.

[2019-09-05 18:54] nauticalcoder commented on #13562
I assume this test was with 2.1?  I'm a little perplexed as to why the Email field is the only one not getting encrypted.  I didn't not this above but the Username, NormalizedUserName, and NormalizedEmail are all getting encrypted as expected.  Any suggestions on what to look at next to see why the Email field is being excluded?

[2019-09-05 19:01] Joelius300 commented on #12685
I need this for every class in the model (it should be _global_) and the model is a huge with tons of nested and derived classes. It's a port for chart.js which means I have to model these huge json objects that can be used to configure a chart. If I were to create a custom converter for every single one, it would not only take a huge amount of time but also flood the project with converters.
I mi

[2019-09-05 19:04] mconnew commented on #13295
@tmds, correct, this is about scalability. I can't think of a scenario where this would affect regular HTTP but it could affect WebSockets or gRPC. Especially if using something like token based authentication.

[2019-09-05 19:14] HaoK commented on #13562
No this was with 3.0 preview 8 but this code hasn't changed at all since 2.1, if you want to share a complete repro it might be easier to diagnose where the issue is.  Did you replace all 3 protector services?

[2019-09-05 19:18] HaoK commented on #13699
Looks like there's special code in the scaffolding code for the cookie consent stuff @vijayrkn

https://github.com/aspnet/Scaffolding/blob/167a8b5c626db13896e1e4fad65b5695be37da20/src/VS.Web.CG.Mvc/Identity/IdentityGeneratorFilesConfig.cs#L281

But the pr removes the explicit partial

[2019-09-05 19:36] jamescoffman23 commented on #13681
N:\>dotnet --info
.NET Core SDK (reflecting any global.json):
Version:   3.0.100-preview9-014004
Commit:    8e7ef240a5

Runtime Environment:
OS Name:     Windows
OS Version:  10.0.17134
OS Platform: Windows
RID:         win10-x64
Base Path:   C:\Program Files\dotnet\sdk\3.0.100-preview9-014004\

Host (useful for support):
  Version: 3.0.0-preview9-19423-09
  Commit:  2be172345a

.NET Core SDKs ins

[2019-09-05 19:36] grumpydev-net commented on #6075
If I understand this thread correctly, we are supposed to wait for another release and in the meantime this is not causing any harm. But it is really distracting to see these false positives where we expect to see only "real" exceptions. **Is there some middleware that you can provide to catch this condition?** I do not want to filter this on my side, for fear of eating up an authentic failure. TI

[2019-09-05 19:38] jamescoffman23 commented on #13681
![image](https://user-images.githubusercontent.com/15820584/64375044-a9d33980-cfea-11e9-9054-071c8aa212e7.png)

I dont see any error messages but the websocket connection never completes.

[2019-09-05 19:40] jamescoffman23 commented on #13681
Also this was fine in Preview 7, this started in Preview 8

[2019-09-05 19:41] alexfdezsauco opened #13729 "Blazor javascript interop looks stateless or loose the state between method calls in Preview 8."
### Describe the bug
Blazor javascript interop looks stateless or loose the state between method calls in Preview 8. Looks like a change in Preview8 because it works property in Preview7.

### To Reproduce
Steps to reproduce the behavior:

1. Create a javascript file with a class for instance:

        window.Oidc = {
            Client: {
                UserManager: {
                    IsIniti

[2019-09-05 19:42] jamescoffman23 commented on #13681
Here is the error messages after it Times out:

[2019-09-05T19:37:00.848Z] Information: Normalizing '_blazor' to 'https://localhost:44352/_blazor'.
blazor.server.js:1 WebSocket connection to 'wss://localhost:44352/_blazor?id=NmNlJndZliA0puvsOH-o-Q' failed: WebSocket opening handshake timed out
(anonymous) @ blazor.server.js:1
(anonymous) @ blazor.server.js:1
(anonymous) @ blazor.server.js:1
(anony

[2019-09-05 19:47] #9444 closed

[2019-09-05 19:56] jamescoffman23 commented on #13681
Appears to be Chrome issue. It works in Edge

[2019-09-05 19:58] pranavkm commented on #13722
Yup, that's what's happening here. If you require a deterministic 200, you could consider materializing the lazily evaluated enumeration by calling `ToList()`.

See prior discussions: https://github.com/aspnet/Mvc/issues/5083

[2019-09-05 20:02] pranavkm commented on #13729
@alexfdezsauco could you share a minimal repro of the issue?

[2019-09-05 20:03] jonmiller1 opened #13730 "Preview 8 code broken with newest Visual Studio 2019 16.3 Preview 3"
I just went through the pain of upgrading my project to Preview 8 and everything is working.  I'm trying to get a co-worker to run it as well.  Now that Preview 9 is out when he updates his visual studio 2019 preview he gets the new 16.3 Preview 3 which works with Preview 9 but not Preview 8 projects.  How can I download VS 2019 16.3 Preview 2?!?  I need to get my co-worker up and running.  Any he

[2019-09-05 20:10] jkotalik commented on #13696
The data protection package doesn't seem to have any true "functional" tests with EF. We use a test DataProtectionKeyContext https://github.com/aspnet/AspNetCore/blob/master/src/DataProtection/EntityFrameworkCore/test/DataProtectionKeyContext.cs#L8-L13.

As this issue seems high priority, I can look at it.

[2019-09-05 20:12] dazinator commented on #10441
I found a nice way to handle this in the end.

I use a global Mvc ResourceFilter to prevent access to controller endpoints when the status of the system is Setup Incomplete. However I do need some Mvc actions to remain operational in this state (the ones involved in completing the setup process) so I found a way to add an attribute above those such that it bypasses the global resource filter allow

[2019-09-05 20:12] ryanelian commented on #13709
Thank you for the confirmation.

Can we have the redirect just so the app behaves like any other ASP.NET MVC web app? Our customers love (*cough* demand *cough*) the redirect URI feature whenever an unauthorized user access a random page. (e.g. `/something` --> `/login?redirectUri=/something` --> `/something` again)

It'll be a hard sell to our customers if Blazor cannot do that...

[2019-09-05 20:15] Eilon commented on #13730
The Visual Studio _preview update_ should be offered automatically within Visual Studio _preview_, or you can manually update by running the Visual Studio Installer.

Is your co-worker already running a preview? If not, they can install the preview side-by-side with the non-preview version. Go to https://visualstudio.microsoft.com/vs/preview/ to get the preview channel of Visual Studio.

[2019-09-05 20:18] julienGrd opened #13732 "understand the onchange listener to trigger the setter on javascript"
Hi guys, i need some explanation about how blazor listen the value change to then execute binding

This question is related to another issue i open https://github.com/aspnet/AspNetCore/issues/13645, mark as closed but definitively not solved (see my last comment)

im facing this same kind of issue with another library, medium editor : https://github.com/yabwe/medium-editor

i will not put all the

[2019-09-05 20:22] jonmiller1 commented on #13730
They have an old preview of 2019.  I need them to update to 16.3 Preview 2, the version that works with .NET Core 3 Preview 8.  It is only offering to update to 16.3 Preview 3, which is incompatible with Preview 8, it is for Preview 9.  Is there any way to download old VS 2019 Preview versions?

[2019-09-05 20:37] mkArtakMSFT opened #13733 "Angular project (P9) references outdated `Microsoft.AspNetCore.SpaServices.Extensions` NuGet package"
I've just created a new Angular App (using .Net Core 3.0 Preview9 SDK) and found this in the project file:

[code]

Yet the project is indeed Preview9 targeting:
![image](https://user-images.githubusercontent.com/34246760/64378771-447b4a80-cfe2-11e9-8762-2bcac8b5bfe5.png)

[2019-09-05 20:39] dijitalmunky opened #13734 "Add support for some additional lifecycle hooks"
We are writing a new application using signalR to perform updates and disperse updates on all of the business objects in our application.  We were hoping to that like Mvc Controllers we could hook into before and after a method is invoked (i.e. `OnActionExecuting()` and `OnActionExecuted()`).  However, there seems to be no way to do this in signalR.

Our use case for this is varied.  The biggest 2

[2019-09-05 20:42] mkArtakMSFT commented on #13733
Looks like this is still working, but we still need to make a fix, as otherwise the RTM version will have the same pre-release version reference.

/cc @danroth27

[2019-09-05 20:51] mkArtakMSFT commented on #13733
@ajaybhargavb can you please check where from this variable is coming? It seems we're not updating it somehow: https://github.com/aspnet/AspNetCore/blob/master/src/ProjectTemplates/Web.Spa.ProjectTemplates/Angular-CSharp.csproj.in#L18

[2019-09-05 20:57] taori commented on #13701
@blowdart I suppose your concern is about if model A contains a propery for a collection of entities B? Assuming you were thinking about that would still pose an issue if i were to verify the models with resource authorization, which would then pose a general issue for both kind of authorization approaches. Furthermore it would produce more boilerplate code to restrict resources then.

Then again

[2019-09-05 21:04] sungam3r commented on #13716
i.e. breaking SRP

Sorry, I do not understand the causal relationship. Why not just add something like ` bool DeveloperExceptionPageOptions.SuppressLog { get; set; }`? Backward compatibility will be fully preserved and everyone will be happy.

[2019-09-05 21:05] blowdart commented on #13701
I'm being a little unfair to EF here, but it's our main example if why binding has to happen after authentication. Given there is resource auth, albeit manual, you have a supported way to do it.

So yes, closing. It's a lovely idea, but not one we can do safely.

[2019-09-05 21:05] #13701 closed

[2019-09-05 21:06] #13603 closed

[2019-09-05 21:08] mgolois opened #13735 "Blazor Validation not working on model with over 15 properties"
I'm currently working  a form in Blazor which needs to be validated and display errors if the form is not valid. My contact(https://blazorconference.azurewebsites.net/contact) page works well validating name, phone, and email. However, the "test" page has a form with over 15 fields; when the user clicks on the submit button, it posts the form skipping all

Razor Page source code: https://github.co

[2019-09-05 21:09] TwentyFourMinutes opened #13736 "Accessing content of PartialView in a Controller"
### Is your feature request related to a problem? Please describe.
I am sending Emails in my ASP.Net Core MVC (pre-release 9) application. I thought it would be handy to use the Razer Engine since it is already in place and I could really benefit from the razer syntax.

### Describe the solution you'd like
It would be cool if you could use it similar like in a View e.g. `@Html.PartialAsync("")` an

[2019-09-05 21:16] HaoK commented on #13626
We added a new method `SignInManager.SignInWithClaimsAsync` in 3.0 for this:

https://github.com/aspnet/AspNetCore/blob/master/src/Identity/Core/src/SignInManager.cs#L231

[2019-09-05 21:21] HaoK commented on #13498
Authorization and Authentication are two different things, authentication is what determines what user is passed into the authorization apis.  If you want to enforce logic where multiple authentication schemes exist, you can do that explicitly as well, but you would need to represent them like requirements and have an authorization handler enforce that, the build in authentication schemes logic is

[2019-09-05 21:33] DataJuggler commented on #13695
I read the upgrade docs, but after many failed attempts I upgraded my Preview 8 to Preview 9 project by creating a new Blazor project, and added all my pages, css,images and other changes manually was the only way I could get it to work.

[2019-09-05 21:58] kevinjpetersen opened #13741 "IComponentContext.IsConnected usage clarification"
### Is your feature request related to a problem? Please describe.
It seems something hasn't been clarified in the latest blog post with Preview 9. The removal of `IComponentContext` means you can no longer check if the Client is connected on the server side. Currently I use `IComponentContext.IsConnected` on a new `Task ` that I create, and I want to stop this `Task` if the client is no longer co

[2019-09-05 22:05] elementalpete commented on #5614
This seems to be a general Razor issue - I run into frequently in standard Asp.Net Core MVC projects.  In the case of Asp.Net Core MVC, these errors correspond to errors in the .cshtml file.  The solution is to find and fix the error in the .cshtml and do a rebuild or clean and build.  Usually, I find that when I open the .cshtml file, there is a red squiggly line showing me where the error is, bu

[2019-09-05 22:09] Daddoon opened #13742 "[Blazor] Preview9 - MapFallbackToClientSideBlazor unusable with MapBlazorHub()"
### Describe the bug

From Preview9, it seem impossible to load a valid application through **MapFallbackToClientSideBlazor** on a server-side project.

This method expect a filename that can be found in the client-side project, like **index.html**
But as the new **MapBlazorHub** does not accept any starting component anymore, like **MapBlazorHub<App>()** in preview8, the application don't instanc

[2019-09-05 22:24] #4743 closed

[2019-09-05 22:32] pranavkm commented on #13736
https://github.com/aspnet/Entropy/blob/7a53120c620bbcfd7b54f147c16fa7da1e38d1d4/samples/Mvc.RenderViewToString/RazorViewToStringRenderer.cs has a sample of using an `IViewEngine` outside of MVC's execution to find and render a view. Perhaps that would help.

[2019-09-05 22:35] darojuv opened #13744 "ChildContent property"
Encountered Internal Server Error "An unhandled exception occurred while processing the request." after installing DotNet 3.0.100-preview9-014004
### Describe the bug
Till yesterday I had preview 8 on my machine and the blazor project was working fine, today I update updated to preview 9 and the same project throws errors

[2019-09-05 22:37] pranavkm commented on #13735
You're likely running in to this issue: https://github.com/aspnet/AspNetCore/issues/10526. https://docs.microsoft.com/en-us/aspnet/core/blazor/forms-validation?view=aspnetcore-3.0#validation-of-complex-or-collection-type-properties has a sample for working around this for 3.0.

[2019-09-05 22:40] mkArtakMSFT commented on #13733
After some investigation by @ajaybhargavb this seems to be an issue caused by my local VS installation. Creating new app using CLI worked just fine.

[2019-09-05 22:41] mkArtakMSFT commented on #13733
Turned out there was a pending VS update, which I'm taking now, which I hope will fix this issue.

[2019-09-05 22:42] shirhatti opened #13745 "Profile HTTP/2 and identify hotspots"
Scenarios:
* [ ] TechEmpower plaintext but over HTTP/2
* [ ] Basic POST. Request is text/plain string of name. Reply is text/plain `"Hello " + name`
* [x] Basic gRPC. See [gRPC tutorial](https://docs.microsoft.com/en-us/aspnet/core/tutorials/grpc/grpc-start)
* [x] Streaming gRPC. The same as the basic gRPC but the [server streaming multiple messages](https://github.com/grpc/grpc-dotnet/blob/a56e11

[2019-09-05 22:49] DamianEdwards commented on #13726
Example Tag Helper implementation: https://gist.github.com/DamianEdwards/51c961a1597ec133bd4d5eef30efd9ca

[2019-09-05 22:50] DamianEdwards commented on #13726
Note that we currently don't have a non-generic overload of `IHtmlHelper.RenderComponentAsync` and we probably should. It would definitely make the Tag Helper much easier to author.

[2019-09-05 23:09] TwentyFourMinutes commented on #13736
Thanks a lot @pranavkm, but it does not work for areas e.g. in the searched locations it does not show the paths from within the area e.g. `Areas/[AreaName]/Views/TheView`

[2019-09-05 23:15] mkArtakMSFT commented on #13733
Closing this as this is not reproing after VS update.

[2019-09-05 23:15] #13733 closed

[2019-09-05 23:17] pranavkm commented on #13736
You'd have to pass it your controller's `ActionContext`: https://github.com/aspnet/Entropy/blob/7a53120c620bbcfd7b54f147c16fa7da1e38d1d4/samples/Mvc.RenderViewToString/RazorViewToStringRenderer.cs#L38 if you want it do the exact search `ViewResult` would do. Passing an exact path `/Areas/MyArea/Views/TheView.cshtml` should also work.

[2019-09-05 23:19] jessicah commented on #13572
Sorry, typo, I meant #11075, and didn't see the email notification :/

[code]

[2019-09-05 23:24] TwentyFourMinutes commented on #13736
I already thought it would be something like that, I passed it my `HttpContext`, how would I get the current `ActionContext` from an action then?

[2019-09-05 23:29] TwentyFourMinutes commented on #13736
Ah, I just used my ControllerContext since it inherits `ActionContext` and it works just fine. Thanks a lot for the help!

[2019-09-05 23:29] #13736 closed

[2019-09-05 23:38] pranavkm opened #13749 "Validate Localization not working after changing rootnamespace"
Need to play around with https://github.com/aspnet/AspNetCore/issues/10639

[2019-09-05 23:46] JamesNK opened #13750 "[Epic] HTTP/2 performance"
In 5.0 we want to make ASP.NET Core 's HTTP/2 performance something we can be proud of. HTTP/2 performance can be advertised as a reason to choose .NET

* [ ] https://github.com/aspnet/AspNetCore/issues/13745 Initial HTTP/2 perf investigation
* [ ] https://github.com/aspnet/AspNetCore/issues/13752 HTTP/2 Benchmarks

Identified issues (will grow):

* [x] https://github.com/aspnet/AspNetCore/issues/

[2019-09-05 23:55] JamesNK opened #13752 "HTTP/2 benchmarks"
Create a suite of benchmarks at https://github.com/aspnet/benchmarks to cover most common user scenarios. Can reuse profiling/investigation samples - https://github.com/aspnet/AspNetCore/issues/13745

* [ ] TechEmpower plaintext but over HTTP/2
* [ ] Basic POST. Request is text/plain string of name. Reply is text/plain `"Hello " + name`
* [ ] Stream per connection vs multiple streams on one connec

[2019-09-06 00:22] timmi4sa commented on #2729
This team is like US Congress nothing gets done. Just add the darn method we keep discussing it for over 21 months. jQuery is here to stay - we have 10 junior devs that are confused as heck. A task that used to take 10 seconds in MVC5 now requires every stinking project to "reinvent" the wheel by figuring out 1) where to put the extension, 2) which project-specific namespace to expect it in, 3) or

[2019-09-06 01:04] danroth27 commented on #13709
This scenario can be accomplished by first defining a `RedirectToLogin` component like this:

[code]

and then use `AuthorizeRouteView` like this:

[code]

[2019-09-06 01:05] fruitraccoon commented on #13498
Thanks for your thoughts @HaoK.  I think I see what you're saying, and looking again I certainly could enforce that multiple schemes had been authenticated using a custom Requirement.

However, due to the logic within [`PolicyEvaluator`](https://github.com/aspnet/AspNetCore/blob/16a47948f80fede807fabe3c291d793590e8fd17/src/Security/Authorization/Policy/src/PolicyEvaluator.cs#L91-L93) and [`Authori

[2019-09-06 01:10] JunTaoLuo commented on #13541
No it doesn't have to use the Web SDK. Though it has a reference to Microsoft.AspNetCore.App, the project itself is a class library and not a runnable app.

[2019-09-06 01:31] Daniel-Khodabakhsh opened #13754 "Tag helper `asp-append-version` doesn't work for ManifestEmbeddedFileProviders"
### Describe the bug
When using the `asp-append-version` tag helper on files served from `ManifestEmbeddedFileProvider`s added via `IApplicationBuilder.UseStaticFiles()` the rendered HTML does not contain the version/hash query string.`

### To Reproduce
Steps to reproduce the behavior:
1. Create an ASP.NET-Core web application
2. Create a folder with some static assets.
3. Add the appropriate `<E

[2019-09-06 01:38] SaravananArunagiri commented on #13576
when i trying to get username is empty.

[2019-09-06 01:39] SaravananArunagiri commented on #13576
now issue solved. in my code addHttpAccessor() missed on startup.

[2019-09-06 01:39] #13576 closed

[2019-09-06 02:23] findmoon commented on #13229
Some Change has happend。

[2019-09-06 02:43] findmoon commented on #13229
Some changing has happened

As follows:
![image](https://user-images.githubusercontent.com/18387852/64397090-8c59aa80-d092-11e9-8744-24a499c6672f.png)

the code is :
[code]
The following is complete error log and trace

[code]
What else do I need to provide for this problem？

[2019-09-06 02:51] tongleiyw commented on #7367
do we have the estimated release date for 2.2.7? our application crashes in production causing the transaction failures...

[2019-09-06 03:04] rkosafo opened #13756 "InvalidOperationException: The following routes are ambiguous"
I encountered the error `InvalidOperationException: The following routes are ambiguous: ...` when I try running the project. This seems to be the same issue reported at #5548 which is closed.

No further development can be done on the application because the addition of a new razor components with a page directive that has a parameter causes this error.

### General Observations
1. I've confirmed

[2019-09-06 03:26] Tratcher commented on #13229
That stack trace points here:
https://github.com/aspnet/AspNetCore/blob/7317bb16a9cd5a834c0468a74113055031262217/src/Security/Authentication/Cookies/src/CookieAuthenticationEvents.cs#L67
However, that's the default implementation of the OnRedirectToAccessDenied event that you've overridden.

That makes me think Forbid is being called twice on two different cookies. Please share your full Startup.C

[2019-09-06 03:33] Pilchie commented on #13689
Tagging @aspnet/build.  @mkArtakMSFT We'll probably need help from someone who understands the Blazor build and dependencies for some of those issues though.

[2019-09-06 03:51] leecow commented on #7367
Targetting next week to get 2.2.7 out.

[2019-09-06 04:02] dougbu commented on #13689
The installation installs a .NET Core runtime or two in addition to the SDK.

----
Agreed that `build.sh` should just work in this repo. We also appreciate your comments about improving the documentation on NodeJS and JDK requirements. To help in that, could you please provide details on the following e.g. which tests hang?

[2019-09-06 04:03] dougbu commented on #13689
Forgot to ask: What branch are you building?

[2019-09-06 04:06] ThisNoName commented on #12068
@leopignataro  Not sure if framework has changed since, but you can pass the certificate directly

[code]

[2019-09-06 04:31] alexfdezsauco commented on #13729
The minimal reproduction works properly

##Program

        public async Task Initialize()
        {
            await _jsRuntime.InvokeAsync<string>("Oidc.Client.UserManager.Initialize");

            Console.WriteLine(await _jsRuntime.InvokeAsync<bool>("Oidc.Client.UserManager.IsInitialized"));

            Console.WriteLine(await _jsRuntime.InvokeAsync<string>("Oidc.Client.UserManager.GetUserNa

[2019-09-06 04:31] #13729 closed

[2019-09-06 04:46] vahivsky commented on #5177
Hey, I've just ran into the same issue, while trying to use SPA prerendering libraries with Response Caching middleware. Took me a while to find that `context.Response.Clear();` in SPA prerendering, preventing response caching to work.

That is important to be able to cache prerendering result, as prerendering takes time. This is surprising to see this issue closed without any fix.

[2019-09-06 04:48] Daniel15 opened #13757 "SPAServices React app without create-react-app"
I have an existing React app that was not built using create-react-app. I'm trying to convert it from PHP to ASP.NET Core.

Currently it uses the Webpack dev server. It looks like `spa.UseReactDevelopmentServer()` requires me to use create-react-app, but it has some nice features like automatically starting the React server. For regular Webpack, it seems like I need to use `spa.UseProxyToSpaDevelo

[2019-09-06 06:00] RagingRudolf opened #13758 "Hosting bundle for 3.0.0-preview9-19423-09 kills .NET Core 2.0.9"
### Describe the bug
I have just installed hosting bundle for 3.0.0-preview9-19423-09 on a test server. After installation it seems that our AspNetCore 2.0.9 website is not working anymore.

We are hosting using Out-Of-Process with IIS 7.5

Server info:
- Windows Server 2008 R2
- .NET Core 1.0.1 Hosting Bundle
- .NET Core 2.0.9 Hosting Bundle
- .NET Core 3.0.0-preview9-19423-09

After a restart of

[2019-09-06 06:48] marcuslindblom commented on #13626
Ok, cool! I use the preview bits so I'll give it a try. Thanks!

[2019-09-06 06:48] #13626 closed

[2019-09-06 07:13] John0King commented on #13758
check your web.config file , make sure you use  AspNetCoreModuleV2

[2019-09-06 07:21] tornie2 commented on #13575
The concurrent request limits you mentioned, must be on the servicepoint manager, right ?

[DefaultConnectionLimit](https://docs.microsoft.com/en-us/dotnet/api/system.net.servicepointmanager.defaultconnectionlimit?view=netframework-4.8)

[2019-09-06 07:51] SeppPenner commented on #13713
Ok, thanks for the fast reply :)

[2019-09-06 07:52] SeppPenner commented on #13711
Ok, thanks for the fast reply :)

[2019-09-06 07:54] mrgleba opened #13760 "Migration 2.2 -> 3.0 document migration path for a library"
W have a library being used by a couple of projects. Our csproj for 2.2 was
[code]

As the packages are part of the framework now and there are no 3.0 version. A simple
change to ```<TargetFramework>``` is not sufficent. Also ```<Project/>``` neds to be changed to
[code]

and
[code]
needs to be added.

The new file for 3.0 is
[code]

We found that by luck after a lot of digging aroud. I'd be nice

[2019-09-06 07:55] SeppPenner commented on #13714
I was just curious to help updating https://github.com/SamProf/MatBlazor to preview9, where this code was used, but @SamProf has already done that, so the issue is not relevant anymore :)

[2019-09-06 07:55] #13714 closed

[2019-09-06 08:02] mrgleba opened #13761 "Migration 2.2 -> 3.0 document IApplicationLifetime -> IHostApplicationLifetime migration"
In 3.0
[code]
changes to
[code]

It should be included in the migration docs

[2019-09-06 08:06] stsrki commented on #13712
Just FYI. It would be great if there is a release notes for these kind of stuff that are changed and that can affect us in some way.

I know we can track issues but it's not very user-friendly to understand everything by checking them.

So some kind of release notes or change log would be great and would make our lives easier.

For example I find these kind of release notes fascinating: https://do

[2019-09-06 08:07] mrgleba opened #13762 "Migration 2.2 -> 3.0 document Authorization using IAuthorizationPolicyProvider"
I didn't find anyhting in the migration docs for doing Authorization using ```IAuthorizationPolicyProvider```. This interface has a new member now:
[code]

I'd be nice to provide a default implementation in the docs that would mimic the 2.2 behaviour of
allowing requests that haven't been matched by MVC or static files:
[code]

[2019-09-06 08:15] mrgleba opened #13764 "3.0 Preview restrictive GetFallbackPolicyAsync raises exception"
During our migration tryout we've palyed with ```IAuthorizationPolicyProvider.GetFallbackPolicyAsync()```. Our initial guess was to use a restrict-all policy:
[code]

As far as I understand this should return ```401 Unautorized``` for an unmatched link. Instead this code throws:
[code]

What is the propper way to return ```401 Unautorized``` in this case?

[2019-09-06 08:22] snerting commented on #13642
Hi @BrennanConroy

I use IHttpContextAccessor to reach HttpContext, so I can get the JWT token who is retrieved when I has logget inn through IdentityServer4. This JWT token is used (and this is where TokenContainer come into pictue, a very bad name by the way...) , when calling a API who require this Access token.

I'm gladly for a advise on how to do this in another way, and avoid IHttpContextAc

[2019-09-06 08:25] mrgleba opened #13765 "3.0 IHostBuilder and IWebHostBuilder same methods confusion"
As far as I understand the new way to launch a ewb host in 3.0 is:
[code]
ie running all the ```Configure*``` methods on the ```IWebHostBuilder```. But the ```IHostBuilder``` also has some of the ```Configure*``` methods. As far as I was able to test they are not interchangeable - moving ```ConfigureServices``` from ```IWebHostBuilder``` to ```IHostBuilder``` actually causes MVC not to start (no e

[2019-09-06 09:11] grahamehorner commented on #11913
@dougbu the version of git I'm using is git version 2.23.0.windows.1

[2019-09-06 09:15] samsosa commented on #13628
Maybe Environment.TickCount or Environment.TickCount64 are good (and fast) enough?

[2019-09-06 09:59] Janisku7 commented on #13296
with HotSwap component the IComponentContext came critical for me as user can select some components on specific service so if there is no connection to backend service all those components dont have componentContext that time so no render and when connection is establish the rendered when those components Context is not null

[2019-09-06 11:12] schmitch opened #13766 "Blazor Server-Side: Render Component via JavaScript"
### Is your feature request related to a problem? Please describe.
Currently if somebody has a big codebase in say react/angular (or other SPA framework) and want to migrate to Blazor Server-Side he would need to rewrite everything at once.
So it would be great if it would be possible to "render" a blazor component server-side via JavaScript methods into a dom element.

### Describe the solution y

[2019-09-06 11:24] Rauce commented on #13720
Having spent hours on testing/debugging, I have discovered that this only happens when MyDefaultLayout has this:

`[CascadingParameter] Task<AuthenticationState> AuthenticationStateTask { get; set; }`

It seems there are extra additional OnParametersSetAsync() calls with the cascading authentication state parameter, aside from the other component parameters. This may be the intended behaviour, but

[2019-09-06 12:05] salaros commented on #11954
I hope this bug is going to be fixed BEFORE the final release. It's really critical

[2019-09-06 12:09] Pibe93 opened #13767 "Signalr Client UWP does not connect to Signalr on the server ASP.NET CORE 3 preview 8"
Hi, I need to use UWP as client and use Signalr Messagepack but it doesn't work !!
It can't connect to the Server but I don't understand why!
On WPF client or .net core console it works!

public HubConnection connection { get; set; }
public string groupName { get; set; }

    public MainPage()
    {
        this.InitializeComponent();

        connection = new HubConnectionBuilder()

[2019-09-06 12:17] tobiasbunyan commented on #11262
Just a preliminary heads up.  I experienced this issue today (exact same exception in the same place, with the exception that it occurs in the "Fast" method) when running preview 9 on Azure Web App.  Forcing our build back to preview 8 fixed the problem.  The posted form data was incredibly small but I haven't had a chance to test it exclusively with the preview 9 "Fast" method code yet.
[Exceptio

[2019-09-06 13:17] mgolois commented on #13735
@pranavkm I added the RecursiveDataAnnotationsValidator code, but still not working.
I updated my repro with the changes, but it is not validating the form:
code: https://github.com/mgolois/BlazorConference/blob/master/Pages/Test.razor
webpage: https://blazorconference.azurewebsites.net/test

[2019-09-06 13:18] javiercn commented on #13679
@mkArtakMSFT This is a template change. The _LoginPartial.cshtml is incorrect in the Blazor server-side template.

[2019-09-06 13:25] gabeluci commented on #13722
Ok, I understand. I was giving it some thought and I think I've come to the same conclusion: I don't see a good solution.

The only possible change I could see is to not send the headers until the first record in the enumeration is returned (i.e. after the first call to `MoveNext()`). That would prevent this in almost all cases. For example, if there is a network error preventing access to the dat

[2019-09-06 13:25] blowdart commented on #13764
@HaoK in case I get this wrong.

Policies either pass or fail. They don't return status codes, or pages. That's down to the authentication services in place, for example JWT will map a failed authorization to a status code, cookies end up doing a redirect to prompt for a login.

So let's turn this around, what are you trying to accomplish?

[2019-09-06 13:39] mrgleba commented on #13764
The application is generally an API and it's not expected of the client to go to a login page upon 401.
The scenario we've been trying to achieve is to return ```401 Unauthorized``` when someone asks for a nonexistent resource.

The mentioned code results in a policy that will always fail and it was my expectation that in such case 401 woud be returned. Instead we're getting an exception.

In the

[2019-09-06 13:39] srg1204 opened #13768 "ASP.NET Core and Blazor updates in .NET Core 3.0 Preview 9.19424.4"
Error CS1503
 <select @onchange=DoStuffP>
            @foreach (var templateP in templatesP)
            {
                <option value=@templateP>@templateP</option>
            }
        </select>

        <p>Votre choix: @habiletéP</p>

        @functions {
            List<string> templatesP = new List<string>() {
        "Faites votre choix",
        "HABILETÉ 1",
        "HABILETÉ 2",

[2019-09-06 13:55] mgolois commented on #10526
@mrpmorris do you have sample code of your suggestion?

[2019-09-06 13:58] blowdart commented on #13764
So it's up to the authentication piece to decide what's suitable to return, not the authorization pieces. Which authentication method are you using?

As an aside, if you want to ensure everything requires authentication there's an easier way;

[code]

[2019-09-06 14:10] rickyburrell commented on #4727
Any chance this can get some airtime? Not exactly conforming to HTTP spec. We have a load balancer running inside kestrel and are not exactly in control of response header creation. It's a bit unfortunate to have to alter non-ascii chars.

[2019-09-06 14:15] cocowalla commented on #5809
Another good reason to remove it is that it's almost 7MB.

[2019-09-06 14:20] atotalnoob commented on #12890
This is stupid and drops out functionality that many people use! Your supposed to add functionality, not remove it

[2019-09-06 14:27] #13768 closed

[2019-09-06 14:31] srg1204 opened #13769 "ASP.NET Core and Blazor updates in .NET Core 3.0 Preview 9.19424.4"
Error CS1503
[code]

[2019-09-06 14:43] fleed opened #13770 "Unhandled exception in circuit after migrating to 3.0 preview 9"
After migrating to Asp.net core 3.0 preview 9 I started getting this exception when starting my Blazor server app:

[code]

I could finally find out that it works again if I remove the second **@onclick** attribute from the `NavMenu.razor`.

Broken version:

[code]

Working version:

[code]

What's strange is that if I create a new app with `dotnet new blazorserver`, the template contains the seco

[2019-09-06 14:54] rynowak commented on #13296
Can I ask for info about specific scenario details? Everyone here seems to be building services that are intended to be reusable. What do those services do?

Having the real scenarios in mind will help us design solutions to this.

[2019-09-06 14:56] Tratcher commented on #13575
On .NET 4.x yes. Core has a different implementation.

[2019-09-06 15:04] Tratcher commented on #11262
@tobiasbunyan see https://github.com/aspnet/AspNetCore/issues/13719 and lower your value length limit.

[2019-09-06 15:22] HaoK commented on #13764
The error message you are getting is just that you have no default scheme set, so when it tries to issue a challenge (because your policy always fails), it doesn't know what to challenge,  As barry mentions you need to have some authentication scheme that results in a 401 when its challenged, JwtBearer is one such authentication scheme that results in a 401

[2019-09-06 15:25] HaoK commented on #13498
Sure you can do something like that in the authentication layer by writing a custom virtual/composite scheme by deriving from AuthenticationHandler and implementing authenticate to only return a principal composed of the required other schemes.  That should result in a challenge result when this schemes fails to authenticate (whenever the other underlying schemes are not found)

[2019-09-06 15:29] pranavkm commented on #13756
We fixed this as part of the preview9 release (https://github.com/aspnet/AspNetCore/issues/13313) that was released yesterday. Could you try upgrading?

[2019-09-06 15:30] BrennanConroy commented on #13642
Could you show your usage of the `TokenContainer` class? Specifically how SignalR is involved when it is called into.

Even better would be if you had a repro app that we could take a look at.

[2019-09-06 15:34] BrennanConroy commented on #13734
Looks like you want the Hub Pipeline feature that we're considering for 5.0
See issue https://github.com/aspnet/AspNetCore/issues/5353

[2019-09-06 15:37] mkArtakMSFT commented on #13757
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2019-09-06 15:37] Yen commented on #13296
@rynowak I need a service server side that can provide a js call to get the current browser timezone _before_ prerender. Server side specifically.

Thanks

[2019-09-06 15:38] mkArtakMSFT commented on #13757
/cc @ryanbrandenburg

[2019-09-06 15:39] ryanelian commented on #13709
Amazing. Thank you. This should probably do the trick... (untested)

[code]

Although, I still insist that this feature is critical, and must be in the base framework without requiring developers to write that on our own.

[2019-09-06 15:40] BrennanConroy commented on #13767
What is the actual issue you are observing? Are you seeing exceptions on the server and or client? Can you provide the logs? https://docs.microsoft.com/aspnet/core/signalr/diagnostics?view=aspnetcore-2.2#server-side-logging

Could you provide the fiddler trace file if you think it will help diagnose the issue? https://docs.microsoft.com/aspnet/core/signalr/diagnostics?view=aspnetcore-2.2#collect-a

[2019-09-06 15:42] Pilchie commented on #13760
@glennc @davidfowl @danroth27 - fodder for the migration guide doc.

[2019-09-06 15:45] mkArtakMSFT commented on #13730
I'm not even sure whether you'll be able to find the earlier VS preview installer. Why not update to Preview9 (although there were a lot of breaking changes there from Preview8)? https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-9/

In general, our support policy for Blazor is that you have to be on the latest 3.0 Preview SDK and the compatible VS Previe

[2019-09-06 15:45] MarkStega opened #13771 "Server side rendering does not complete; I'm left with html with the placeholders and no functionality."
### Describe the bug
I have migrated my application to Preview 9. When it executes client side it all works. When executing server side with a Render mode of Server or ServerPrerendered I get no interactivity with my component. With Server I end up seeing the placeholder in the html with an empty browser window, with ServerPrerendered I do see the opening page of my app, but the prerender placehol

[2019-09-06 15:45] Pilchie commented on #13723
@davidfowl - area?

[2019-09-06 15:46] Pilchie commented on #13715
@HaoK ?

[2019-09-06 15:47] Pibe93 commented on #13767
There is no exception, the client just remains on the disconnected state.
This occurs only with the UWP client because with a core WPF / Console client it connects.
In both cases the method I use to collect myself from the signalr client to server is the same.
Exactly I tried to put under the fiddler to see what the differences were and I posted what I saw.

Thanks for the advice, now I try to use

[2019-09-06 15:56] pranavkm commented on #13735
@mgolois you'll need to explicitly annotate any property that needs to be recursively validated using the `ValidateRecursive` attribute. For instance, in your case, both these properties https://github.com/mgolois/BlazorConference/blob/master/Models/Registration.cs#L9-L10 would need to be annotated with this attribute.

[2019-09-06 15:58] dazinator commented on #5603
Just hit this myself, reduces the value proposition of templated components significantly with this limitation at present.

[2019-09-06 16:07] AqlaSolutions commented on #12427
Same issue for me

[2019-09-06 16:07] Tratcher commented on #13765
ConfigureServices should be interchangeable. Can you give a more complete example?

Note UseConsoleLifetime is already enabled by default, you can remove this.

[2019-09-06 16:07] dynamiclynk commented on #13705
These aren't showing in the VS nuget feed at least at the time of this post.
![image](https://user-images.githubusercontent.com/621804/64442968-7f3eba80-d096-11e9-8edb-c7b2cea58644.png)

[2019-09-06 16:09] Tratcher commented on #13758
2.0.9 has been out of support for some time. Does 2.1 work?

[2019-09-06 16:11] mkArtakMSFT commented on #13771
Thanks for contacting us.
We can't debug your application. Please provide a minimalistic repro app for us to investigate.
As a side question, make sure that the `blazor.server.js` script is loaded.

[2019-09-06 16:12] Tratcher commented on #13758
Also check https://docs.microsoft.com/en-us/aspnet/core/test/troubleshoot-azure-iis?view=aspnetcore-2.2#5025-process-failure and the event logs for error details.

[2019-09-06 16:13] mkArtakMSFT commented on #13770
Thanks for contacting us, @fleed .
Please refer to the release notes in here showing you the migration steps to Preview9, which includes multiple preview breaking changes.
In this particular case, you're missing a `using` for `Microsoft.AspNetCore.Components.Web`: https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-9/#blazor-web-attributes-moved

[2019-09-06 16:13] #13770 closed

[2019-09-06 16:13] HaoK commented on #13715
I'm not super familiar with status code pages, but it looks like there was a change in preview 9 here: https://github.com/aspnet/AspNetCore/commit/1f0641f5c0c8552f9605ff782ba1a27c06f4cedf#diff-a68f1924d718fb2c1219de059d8adab6

@NTaylorMullen any thoughts about whether this might affect things in this way?

[2019-09-06 16:17] mkArtakMSFT commented on #13769
Thanks for contacting us.
Please refer to the release notes in here showing you the migration steps to Preview9, which includes multiple preview breaking changes.
In this particular case, you're missing a `using` for `Microsoft.AspNetCore.Components.Web`: https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-9/#blazor-web-attributes-moved

[2019-09-06 16:17] #13769 closed

[2019-09-06 16:18] mkArtakMSFT commented on #13769
Also, as a side note, `@functions` is now `@code` and you should simply have it in the top level, rather than embedded in any scope.

[2019-09-06 16:18] mclean25 opened #13772 "Blazor: System.NotSupportedException: Encoding 1252 data could not be found"
I'm trying to create a workbook using [Aspose](https://products.aspose.com/cells/net) on a button click, but I immediately run into errors when trying to instantiate the workbook:

[code]

### `FetchData.razor`:
[code]

### `Startup.cs`
[code]

### Additional context
λ dotnet --version
3.0.100-preview9-014004

Reference: https://github.com/aspnet/Blazor/issues/1338

[2019-09-06 16:19] MarkStega commented on #13771
The repo is a minimalistic repro; What issue are you having with debug? I don't need help debugging the app, just understanding why it never gets rendered. Browser dev tools show that blazor.server.js is getting loaded.

[2019-09-06 16:19] mkArtakMSFT commented on #13766
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-09-06 16:20] #13756 closed

[2019-09-06 16:20] mclean25 commented on #13772
#https://github.com/aspnet/Blazor/issues/1338

[2019-09-06 16:21] mkArtakMSFT commented on #13744
Thanks for contacting us.
Please follow the migration guide provided as part of Preview 9 release blog post: https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-9

If that doesn't help, please provide a minimalistic repro project for us to be able to help you.
Also, what's the unhandled exception you're getting?

[2019-09-06 16:24] dougbu commented on #11913
I recommend working with the `git` for Windows owners to find what can lead to exit code 128. There must be something specific to your machine or the network between you and GitHub leading to these errors.

[2019-09-06 16:25] mkArtakMSFT commented on #13742
Thanks for contacting us, @Daddoon.
We've removed support for using Server-side blazor with static HTML partially because of security reasons.
At the moment client and server startups are somewhat different, which we plan to think about and potentially improve in the future.

[2019-09-06 16:25] #13742 closed

[2019-09-06 16:32] mkArtakMSFT commented on #13741
Thanks for contacting us, @kevinjpetersen.
Can you please tell us why do you want to do that? I mean, the actual cancellation: do you want to know that to decide whether your background task should be temporarily paused, or just abandoned completely? How quickly do you want to know about disconnection?
FYI: components will get disposed when the circuit gets terminated, which should happen when the

[2019-09-06 16:33] mkArtakMSFT commented on #13735
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-09-06 16:33] #13735 closed

[2019-09-06 16:35] mkArtakMSFT commented on #13732
Thanks for contacting us, @julienGrd.
Triggering events via jQuery is not the same as triggering via pure JavaScript, and that's what's causing this behavior. Consider using `dispatchEvent` instead from pure JavaScript.

[2019-09-06 16:35] #13732 closed

[2019-09-06 16:35] egil commented on #13296
@rynowak: My service-scenario is this - [PageVisibilityAPIService](https://github.com/egil/bootstrap.net/blob/756567787cac1aaa46b47b1143457cc739a421ff/src/Services/PageVisibilityAPI/PageVisibilityService.cs).

This is really useful if you have any timers that updates the UI in your Blazor app, since the you can stop your timer and save ressources, when the users does not have the browser tab showi

[2019-09-06 16:35] #13730 closed

[2019-09-06 16:38] Daddoon commented on #13742
Thanks for your quick reply. I will stand with my MSBuild task then.

[2019-09-06 16:39] mkArtakMSFT commented on #13725
Thanks for contacting us, @mclean25.
We;re tracking this as part of #9168. Before then, we won't be able to accept your PR. However, you're free to change the language of your project, which will also require you updating to `netstandard2.1`.

[2019-09-06 16:39] #13725 closed

[2019-09-06 16:41] mkArtakMSFT commented on #13721
Thanks for contacting us.
We currently have no support for this. We will park this issue in the backlog to collect more feedback from community.

[2019-09-06 16:44] mkArtakMSFT commented on #13681
Thanks @jamescoffman23. @BrennanConroy we need some SignalR expertise here. Can you please look into this? Thanks.

[2019-09-06 16:46] Tratcher commented on #13715
We fixed UseExceptionHandlerWithReExecute but overlooked UseStatusCodePagesWithReExecute. This one also needs `context.SetEndpoint(endpoint: null);`

[2019-09-06 16:47] mkArtakMSFT commented on #13722
Thank you for your feedback.
We're closing this issue as the behavior discussed is by design.

[2019-09-06 16:47] #13722 closed

[2019-09-06 16:48] tomRedox commented on #13771
I've got a similar issue since switching to Preview 9.   I've followed the steps in Dan's blog post to upgrade to Preview 9 and I'm now getting this behaviour:

My solution is comprised of:
 - a server-side Blazor project
 - an MVC project that has components from the Blazor project rendered on both Razor and MVC pages.

If I set the startup project to the Blazor project all is well and all the Bl

[2019-09-06 16:50] Tratcher commented on #13715
Original issue: https://github.com/aspnet/AspNetCore/issues/11233
Mitigation:
[code]

[2019-09-06 16:53] EnricoMassoneDeltatre opened #13775 "Configuration of openid connect authentication scheme."
Hi,

I have a question related to the proper way of configuring an open id connect authentication scheme for an ASP.NET core 2.2 application.

I know that the proper way to do is the following:

[code]

We have already verified that when multiple open id connect schemes are provided we have to set different values for the scheme name and for both the properties `CallbackPath` and `SignedOutCallbac

[2019-09-06 16:58] kevinjpetersen commented on #13741
Hi @mkArtakMSFT, thanks for taking your time to help me out!

The use case is that I want to do continuous refresh _(every x seconds)_ on some of my data _(for example a list of strings from a database)_ in the component itself, by having a function being ran and populating my data just like I would do in the Initialization method of the Component. Right now I don't see a way to do that except by

[2019-09-06 17:22] BrennanConroy commented on #13681
I tried a new blazer app with windows auth and it works on Chrome, Firefox, and Edge.

@jamescoffman23 Could you collect the server side logs when it isn't working?

[2019-09-06 17:30] asad-c commented on #5614
@elementalpete Check the .cshtml and fix the error, so simple it's embarrassing I didn't think to do it before reading your post :-).

[2019-09-06 17:52] tongleiyw commented on #7367
Thank you very much for your quick response!

[2019-09-06 17:58] Phylum123 commented on #13682
If you look at the code, I tried to serialize a very simple anonymous object:
` return Ok(new { TestString = "Test", TestInt = 1 });`

Also, the actual object I want to serialize does have an empty constructor.

Where would I find these logs?

[2019-09-06 17:59] campersau commented on #13705
It is in there, but the updated NuGet search puts it way back... The easiest is to add it manually into the csproj.

[2019-09-06 18:08] pranavkm commented on #13682
Your application's logs. If you're in VS, this would be under `Output`:

![image](https://user-images.githubusercontent.com/174281/64450226-836ad800-d096-11e9-8162-fa5d75caeccf.png)

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-2.2 has more details about application logging.

[2019-09-06 18:08] rgelb commented on #4422
I see that this issue was [patched](https://github.com/aspnet/AspNetCore/pull/9389) for 3.0.  Will there be a patch 2.x line?

[2019-09-06 18:10] Phylum123 commented on #13682
I edited my answer above with the log entry. I thought you meant some kind of special log. Thanks :)

[2019-09-06 18:35] ajaybhargavb commented on #12541
The fix has been merged.

[2019-09-06 18:35] #12541 closed

[2019-09-06 18:39] Dimexoid commented on #13771
Spend some time, but found a solution that worked for me:
I created a new Blazor server app just to steal some code from it.

Just copied _Imports.razor to my project (with changes in namespaces), and used the code from _Host.html to render my Blazor component.
All events work now.

P.S. Still disapointed by the fact I cannot pass parameters to it anymore.

[2019-09-06 19:10] pranavkm commented on #13682
[code]

Here's what I get. You'll likely have to use a regular POCO type for serialization to work. Closing this since the behavior is by design.

[2019-09-06 19:10] #13682 closed

[2019-09-06 19:11] #13512 closed

[2019-09-06 19:11] #12122 closed

[2019-09-06 19:11] #13349 closed

[2019-09-06 19:14] pranavkm opened #13777 "[Validation] Verify Swagger for ValueTask<T> returning Action methods"
Verification for https://github.com/aspnet/AspNetCore/issues/4883

[2019-09-06 19:15] #4883 closed

[2019-09-06 19:18] MarkStega commented on #13771
@JonasGo4 found the issue; Up until P9 the following snippet of code in _Host.cshtml worked:
[code]
The issue is the placement of the script includes; Changing to
[code]
resolves the issue

[2019-09-06 19:22] mgolois commented on #13735
Thank you, @pranavkm & @mkArtakMSFT
It's working now!!

[2019-09-06 19:35] jamescoffman23 commented on #13681
Ok, i cleared my browser cache and now its working.

[2019-09-06 19:35] #13681 closed

[2019-09-06 19:37] Phylum123 commented on #13682
I am trying to use a regular POCO. The anonymous object was for testing. BOTH the anonymous object and the POCO produce the same errors. Please see the class definition below:

I ran it against the object below and have a more detailed error (I updated what we were logging), minus the part where it tells me what is really wrong ;).

Date: 2019-09-06 15:32:27.8011
         Server: L42CND6457J4T

[2019-09-06 19:37] doominator42 opened #13778 "Model validation: Exception thrown when there are more than (MaxAllowedErrors + MaxValidationDepth) errors"
### Describe the bug
When a model is validated and there is more than (MaxAllowedErrors + MaxValidationDepth) errors, the MaxValidationDepth exception is thrown, regardless of the actual depth.

### To Reproduce
Steps to reproduce the behavior:
1. Run project https://github.com/doominator42/aspnet-core-bug-repro
2. Navigate to home page and click button "Click here to reproduce bug"
3. See excepti

[2019-09-06 19:44] danroth27 commented on #13705
With NuGet search if you want to search by package ID you can add the "packageid:" prefix. See https://github.com/aspnet/AspNetCore/issues/13499#issuecomment-525896607.

[2019-09-06 19:45] Phylum123 commented on #13682
I thought I was getting the stack trace, but it was not complete. The error does specify what is wrong. It is saying that it cannot serialize the ICollections. However, in this microsoft document regarding xml serializers it says that it can serialize them. Is this just an issue with this particular serializer?

https://docs.microsoft.com/en-us/dotnet/standard/serialization/introducing-xml-seriali

[2019-09-06 19:53] julienGrd commented on #13732
yeah perfect it works !

so my previous code begin
[code]

thanks mkArtakMSFT !

[2019-09-06 19:58] Legends opened #13779 "Custom CircuitHandler - overridden method never gets called"
I have created a simple class which inherits from `CircuitHandler` and it overrides `OnConnectionUpAsync`.
Registered:
[code]
And injected in a razor page like this: `@inject CircuitHandlerComponent CircuitHandlerComponent`

Now I hit `F5` in VS, but the problem is , the overridden method never gets called!?

[2019-09-06 19:59] pranavkm commented on #13682
According to https://stackoverflow.com/a/12432870, it does not support interface collections. You could try using the DataContractSerializer using `AddXmlDataContractSerializerFormatters`, but I'm not necessarily sure what it's serialization requirements are.

[2019-09-06 20:32] arivoir opened #13781 "[Blazor] Order of OnAfterRenderAsync method calls"
The _BuildRenderTree_ method is called from the outer most element and can create sub components, which causes the _BuildRenderTree_ method of the sub components to be called. So far so good, this seems reasonable to me. The problem is _OnAfterRenderAsync_ follows the same order, and I think the _OnAfterRenderAsync_ of a component should be called after it was called in all the sub-components.

I'

[2019-09-06 20:38] HaoK commented on #6413
Your token provider is registered against `IUser` while AddDefaultTokens is against `<User>`

[code]

[2019-09-06 20:39] #6413 closed

[2019-09-06 20:40] #12743 closed

[2019-09-06 20:49] Tratcher commented on #13775
Correct, any unique valid url path is allowed. The fields are a PathString type that will encode characters that aren't allowed.

Yes that's fine. Authority is used to construct MetadataAddress if it's not provided.

[2019-09-06 21:05] julienGrd commented on #13645
this is my way to resolve this problem, in case someone have the same
[code]

[2019-09-06 21:25] Dimexoid commented on #13721
The only way I've found for now is parsing URL like http://sitename/myparam=123
`@inject NavigationManager navMan;`
..
` protected override void OnParametersSet()
    {
        var uri = new Uri(navMan.Uri);
        string test = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query).TryGetValue("myparam", out var type) ? type.First() : "";
    }`

[2019-09-06 21:35] mkArtakMSFT commented on #13691
The blog is now updated and includes:

[2019-09-06 21:42] kg commented on #13689
I'm building using a source checkout on the master branch.

I think the test that hangs is a libuv test, the blazor was a red herring (blazor tests were the last ones to run immediately before the hang).

[code]

ps auxf shows this as the hung process:
[code]

If I ctrl-c the hung tests I get this:
[code]

[2019-09-06 21:56] HaoK commented on #11718
@MattGal so I did a quick diff between https://github.com/dotnet/dotnet-buildtools-prereqs-docker/blob/master/src/ubuntu/18.04/arm64v8/Dockerfile and the debian arm queue that works for us currently https://github.com/dotnet/dotnet-buildtools-prereqs-docker/blob/master/src/debian/9/arm64v8/Dockerfile

The delta is:

[code]

Should I just submit a PR that adds the missing packages to ubuntu 18.04 t

[2019-09-06 22:01] mkArtakMSFT commented on #13741
@rynowak do you have any recommendations here?

[2019-09-06 22:07] mkArtakMSFT commented on #13572
/cc @blowdart

[2019-09-06 22:16] neilbgr opened #13782 "ValidationAttributeAdapterProvider should match sub-classes ValidationAttribute"
Unfortunately, DataAnotations validation error messages are not localized. Perhaps in futur release ?

To fix this and better, I think that ValidationAttributeAdapterProvider should match sub-classes of ValidationAttribute (`typeof(XXXAttribute).IsAssignableFrom(type)`instead of `type = typeof(XXXAttribute`).

[code]

Is it possible ?

Regards.

[2019-09-06 22:19] JacquesJamiesonLancom commented on #13623
No this is using `services.AddMicrosoftAccount(...)` as the use.MicrosoftAccount() warns of obsolete?
![image](https://user-images.githubusercontent.com/38236622/64463674-f89ee180-d158-11e9-85e0-e6eef026af1f.png)

how ive configured in startup
[code]

[code]
scaffolded code from vs 2019
[code]

this is what gets called to add the user after ms OAuth flow completes
[code]

This is the code that fai

[2019-09-06 22:21] blowdart commented on #13572
@HaoK is this expected for endpoint routing?

[2019-09-06 22:21] EnricoMassoneDeltatre commented on #13775
Thanks for the explanation !

[2019-09-06 22:21] #13775 closed

[2019-09-06 23:01] danroth27 commented on #11954
@salaros As mentioned by @mkArtakMSFT above this isn't something we plan to do because of the impact it can have on any JS interop being used by the app and its dependencies. You need to use the JSON serialization extensibility mechanisms available through System.Text.Json.

[2019-09-06 23:01] #11954 closed

[2019-09-06 23:05] scalablecory opened #13784 "Issues with RenderTree after trying to update from preview8 to preview9"
_From @justindude521 on Thursday, September 5, 2019 7:39:11 PM_

Edit: Am using server-sided blazor if that matters

Also getting

Using Statements on .razor pages
[code]

I've tried following the instructions for migration at https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-9/ to no success

Root __Imports.razor
[code]

.csproj
[code]

_Copied from ori

[2019-09-06 23:06] danroth27 commented on #12685
Clearing the milestone so we can discuss if we want to enable support for customing serialization options *per JS invocation*.

[2019-09-06 23:13] HaoK commented on #11886
Fixed via https://github.com/aspnet/AspNetCore/pull/13559

[2019-09-06 23:13] #11886 closed

[2019-09-06 23:16] leMicin commented on #13721
This is a weird decision to me. We have a scenario where we plan to progressively transition our CMS application from MVC to use mostly Razor components. One of our use cases is a FormComponent that our CMS admins can configure with their own questions. When we call the RenderComponentAsync, I expect to have a way to tell my component which FormId I want to render. The majority of our use cases re

[2019-09-06 23:25] Eilon commented on #13784
@justindude521 can you confirm that you updated to the latest preview of Visual Studio? Can you indicate exactly which version you're running?

[2019-09-06 23:41] justindude521 commented on #13784
@Eilon Seems like I was still on Visual Studio 2019 Preview 2. I must have accidentally cancelled the update when doing so.
**Updating to Visual Studio 2019 16.3 Preview 3 fixed the issue!**

[2019-09-06 23:41] justindude521 commented on #13784
@Eilon Seems like I was still on Visual Studio 2019 Preview 2. I must have accidentally cancelled the update when doing so.
**Updating to Visual Studio 2019 16.3 Preview 3 fixed the issue!**

[2019-09-06 23:44] MattGal commented on #11718
Sure, adding new dependencies is usually fine (and if they do somehow break others, they're not immediately broken since it only matters when the tag is updated).  CC myself and Matt Thalman on the PRs please.

[2019-09-06 23:56] danroth27 commented on #8613
@rynowak @mkArtakMSFT Should this be in a 3.0 milestone instead of 3.1?

[2019-09-07 00:02] danroth27 opened #13785 "Blazor 3.1 Roadmap"
**This is a tracking item for the overall Blazor features in .NET Core 3.1**

.NET Core 3.1 is a short quality focused release focused on fixing top customer issues with minimal feature work.

## Milestones

### Preview 1

- [x] [#9061](https://github.com/aspnet/AspNetCore/issues/9061) - Supporting calling non-generic instance methods on generic types
- [x] [#13291](https://github.com/aspnet/AspNe

[2019-09-07 00:02] NathanSidoliMorris opened #13786 ".Net Core 3.0 Preview Signalr client method not called"
### Describe the bug

Signalr hub connection starts successfully, hub method (named Test) is called (breakpoints hit succesfully) but the client method is not called.

Im using ```ASP.NET Core 3.0``` sdk version ```3.0.100-preview9-014004``` with ```React.JS Individual accounts template```, and am running locally. My signalr client version is ```3.0.0-preview6.19307.2```

### Expected behavior
The

[2019-09-07 01:08] srg1204 commented on #12226
EdCharbeneau commented on 23 Jul wrote: but this solution is not working with
ASP.NET Core and Blazor updates in .NET Core 3.0 Preview 9.19424.4

<p>Current value: @form.MyProperty</p>

<EditForm Model="form">
    <InputSelect ValueChanged="@DoThing"
                 T="string"
                 ValueExpression="@(()=> form.MyProperty)">
        <option value="0">0</option>
        <option value="1

[2019-09-07 01:09] #13784 closed

[2019-09-07 02:14] srg1204 commented on #12226
Sorry my mistake:
EdCharbeneau was OK: the solution works very well

[2019-09-07 02:38] dougbu commented on #13689
@halter73 we have a fair number of internal issues about LibUV test failures. Are any of the current ones related to test hangs?

[2019-09-07 03:54] dolphinsd opened #13788 "IIS support with Kestrel and ServerCertificateSelector"
We are running asp.net core behind IIS on win server 2019.

IIS configured with default SSL server certificate on ip with no  hostname, see attached. It works, if you hit on that certificate subject.

But when server is requested with website ServerCertificateSelector is not run per specs here:
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-2.2#how-to-use

[2019-09-07 04:58] intiharj opened #13789 "AuthorizeView tag in Blazor component throws if Roles param included"
### Describe the bug
In preview 9, I'm seeing a problem with AuthorizeView when using Windows Authentication. If I just use `<AuthorizeView><Authorized>OK</Authorized></AuthorizeView>` it works, but if I add the Roles parameter, I get: Win32Exception: The trust relationship between this workstation and the primary domain failed. Here's the changed markup: `<AuthorizeView Roles="XXX"><Authorized>OK

[2019-09-07 06:23] bahmansh commented on #12223
Is this issue done in dotnet core 3.preview 9 release?

[2019-09-07 06:37] tomRedox commented on #13771
@JonasGo4's solution fixed it for me too.  In my case I needed to move the scripts in the _Layout.cs file to after `@RenderBody()` in my MVC project:

[code]

[2019-09-07 06:49] stsrki commented on #5545
If we have this syntax to stop event propagation will we have full control of stopping events in code-behind based on some condition?

[code]

___

Maybe better solution is to have behaviour similar to events in WinForms where we can control parameters on event args. Like this:

[code]

[2019-09-07 07:37] tomRedox commented on #13721
We have a similar situation to @leMicin:

We're swapping parts of an existing MVC app to Blazor components.   In many cases we have code on an a Razor Page or MVC page that looks like this:

```@(await Html.RenderComponentAsync<SOAllocationOverview>(RenderMode.Server, new {SaleId = Model.SaleId}))```

Where the SaleId was a parameter in the URL of the page.  I'm really grateful to @Dimexoid for th

[2019-09-07 07:56] leMicin commented on #13721
@tomRedox  They explained it on this issue : #12245 . There was a performance problem with the solution as it was. I can understand why the solution was not working.

I wonder why the parameters can't be sent to the client with the Document, and when the client connects to the server, it passes the parameters to the server. This will make so the server does not use expensive CPU / Memory until the

[2019-09-07 08:10] mashahbazi commented on #11995
error occurred in preview 8 again

[2019-09-07 08:30] simon617 opened #13792 "IApplicationBuilder IApplicatoinBuilder.UseIdentity() This method is obsolete"
I got the message "IApplicationBuilder IApplicatoinBuilder.UseIdentity() This method is obsolete" when configuring the User Identity. I have no idea how to fix it. Any idea ?  Thx

app.UseIdentity();

![UseIdentity](https://user-images.githubusercontent.com/42394945/64472150-847e3100-d18c-11e9-9f8a-e0cfd6e4aaaa.png)

[2019-09-07 08:32] tomRedox commented on #13721
@leMicin ahhh.. thank you, I hadn't seen that.

For our use case where we have a low number of users with a system running on an intranet, I think we're pretty unlikely to encounter the issues mentioned in #12245.

I remember when React started getting traction in the enterprise, a lot of that was due to being able to introduce it into existing codebases.  It seems a real shame to limit that here,

[2019-09-07 09:25] egil opened #13793 "Self-closing tags not respected by Razor compiler"
### Describe the bug
When a self-closing html tag is added to a Razor file, it is rendered without the self-closing part. E.g. `<br />` is rendered as `<br>` by Blazor. Inspecting the generated `g.cs` file, we see that the call to `AddMarkupContent` indeed includes as string without the self-closing part from the source Razor file.

Example .razor:

[code]

Generated C#:
[code]

### To Reproduce
S

[2019-09-07 10:36] marcuslindblom opened #13794 "Register TagHelpers in DI"
I'm trying to register a `TagHelper` using the DI instead of adding it using `_ViewImports.cshtml` but it does not seem to work in preview 9?

This is my tag helper

[code]

And this is how I register the tag helper in the DI

[code]

[2019-09-07 13:35] blowdart commented on #13788
IIS doesn't support ServerCertificateSelector, nor would nginx. That's only for running kestrel "raw", with nothing in front it, as proxies in front terminate the HTTPS connection at their own level.

[2019-09-07 14:21] ahmeddawood88 opened #13795 "Deploying and Hosting Blazor App on Ubuntu Server"
Hi, I have tried to find a proper documentation listing steps to deploy and host a simple Blazor App on ubuntu but with no luck.

Is there any documentation anyone could recommend for me to follow please?

Any advice is appreciated.

[2019-09-07 15:06] smuthiya opened #13796 "Exception - System.InvalidOperationException: Client projection contains reference to constant expression of type: Microsoft.AspNetCore.DataProtection.EntityFrameworkCore.EntityFrameworkCoreXmlRepository<DataProtectionKeysDbContext>. This could potentially cause memory leak."
### With .NET Core 3.0 Preview 9 - in ASP.NET Core Web API Project - when data protection is used following exception occurs

System.InvalidOperationException: Client projection contains reference to constant expression of type: Microsoft.AspNetCore.DataProtection.EntityFrameworkCore.EntityFrameworkCoreXmlRepository<Varian.Eventing.Dal.DbContexts.DataProtectionKeysContext>. This could potentially